[2019-05-13 06:56] ankitdixit opened #759 "Remove futile sort operations in sub queries"
Add an optimization rule to remove unnecessary SORT in inner queries
[code]

Sort operation is unnecessary and results in extra exchange and sorts.
[code]
We should write an optimizer which removes these inner sorts. This seems slightly similar to https://github.com/prestosql/presto/pull/551, https://github.com/prestodb/presto/issues/7781.
@martint @electrum @Praveen2112  If this makes sense, i ca

[2019-05-13 07:55] kokosing commented on #759
It makes sense.

However, instead of removing sort I would add `LIMIT 1`  (i.e. wrap subquery plan with `LimitNode(limit=1)`), then things like sorting should be eliminated automatically with https://github.com/prestosql/presto/pull/441. Also it makes possible to pushdown the LIMIT into connector.

[2019-05-13 08:03] kokosing commented on #759
Ah... adding LIMIT is incorrect. Please go ahead with your origin approach and remove sort.

[2019-05-13 08:08] kokosing opened #760 "Configuration leaks between hive connector catalogs"
Configuration (for Kerberos, LDAP, S3 etc) leak between two catalogs that are using Hive connector. It is due the fact all catalogs on same connector share the same classloader.

See: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/presto-users/vrZGfQeHgeY/oxTOBsmNAwAJ

[2019-05-13 08:50] WingsLong opened #761 "io.prestosql.jdbc SocketTimeOut"
OkHttpClient default readTimeout 10_000ms，how to set longer time

[2019-05-13 10:18] Praveen2112 commented on #761
Not sure whether it's configurable in the Presto JDBC APIs. But the `OkHttpClient` is built in the `PrestoDriver` so there we can set the custom `readTimeout` (Using `OkHttpClient.Builder#readTimeout`)

[2019-05-13 10:21] ankitdixit commented on #759
One case that i missed previously was that if there is a limit in the sub query on top of order by result then, we cannot remove it.
`select * from abc a join (select * from abc order by key limit 10) b on a.key = b.key;`
So, the logic becomes something like this,
If there is an order by operator which has a JOIN, AGGREGATE or DISTINCT node among its ancestors without having a LIMIT node in betwee

[2019-05-13 10:29] WingsLong commented on #761
How to set this config with jdbc paramter? or just to change the source code then repackage

[2019-05-13 10:31] Praveen2112 commented on #761
I'm not sure whether it is configurable with the jdbc parameter. We can change the source code and repackage it which has the modified `readTimeout`.

[2019-05-13 10:33] WingsLong commented on #761
All right!THANK YOU~MY FRIEND!

[2019-05-13 10:39] Praveen2112 commented on #759
We can go for rule based optimizer ( as other visitor based optimizer might move a similar rule based one ) and these rules has to be placed post the merging of `OrderBy` and `Limit` node so that it might not affect the overall plan.

[2019-05-13 13:15] sopel39 opened #762 "Resource Group should take ${NumberOfWorkers} and simple arithmetic as template argument"
For example one could define:
[code]
This would be useful in cloud environments where one could scale number of workers dynamically. One could also autoscale number of workers based on number of queued queries.

[2019-05-13 13:16] #762 closed

[2019-05-13 13:16] sopel39 commented on #762
It's too simplistic with current resource group semantics

[2019-05-13 14:13] martint commented on #758
Yes, please do. We need to change the method signature in airlift first, as you correctly pointed out.

[2019-05-13 15:00] scraly opened #763 "Queries to Glue metastore fail"
Hi,

I deployed a presto cluster in a Kubernetes cluster (which run in EC2 instances).
Through this presto cluster, I want to access to a AWS Glue metastore.

Even if the *hive.metastore.glue.iam-role* parameter key is setted, when I'm executing a query in order to do a select in my glue metastore, I obtain an error message:

```Query 20190513_144659_00011_ynxxi failed: Access denied (Service: AWS

[2019-05-13 15:07] ryanrupp commented on #736
The old linked issue is in regards to Hive indexes which appear to be removed in Hive 3.0 in favor of using columnar formats that have their own column level indexes/stats in them, see [here](https://cwiki.apache.org/confluence/display/Hive/LanguageManual+Indexing). I think why the query in question for you is fast in Hive though is due to table statistics Hive can track so it's just using those.

[2019-05-13 16:33] electrum commented on #761
Can you explain the problem you’re seeing that requires changing this? The Presto server should return a response after one second (so 2 seconds max accounting for network latency). If the request fails, the client will retry for 2 minutes by default.

[2019-05-13 16:33] #761 closed

[2019-05-13 16:40] electrum commented on #762
Max queued is mainly a safety valve for the coordinator, since there is a cost for each queued query (clients are actively connected and waiting, so there are sockets, memory, etc).

[2019-05-13 17:14] dain commented on #736
I would love to be able to use table statistics for query results, but unfortunately Hive does not guarantee that the statistics are accurate.  The best we can do today is to open each file and read the row count from the footers (assuming you are using ORC or Parquet), which is expensive but not nearly as expensive as reading all the data.

BTW, I believe this is something that [Iceberg](https://

[2019-05-14 03:04] ebyhr commented on #754
This is related issue. https://github.com/prestodb/presto/issues/12642

[2019-05-14 04:17] stagraqubole opened #766 "Use precomputed hash in HashSemiJoinOperator for probe"
SemiJoin does not make use of precomputed hash on probe side when it is available. By default, `optimizer.optimize-hash-generation` is set to true so all SOURCE stages will output precomputed hash too. Ignoring it causes HashSemiJoinOperator to do duplicate computations to calculate hash for probe side and use it for joining.

Using the precomputed hash resulted in ~32% improvement in performance

[2019-05-14 06:56] Lewuathe opened #768 "Switch the library used in regex function by calling"
Currently, we support two types of library `JONI` and `RE2J` for regex function. It's statically decided at launch time. But we sometimes want to change the library dynamically because the performance characteristics of each library are different. Selecting the appropriate library that fits each use case desirable.

My suggestion is extending functions to support another field to specify the libra

[2019-05-14 07:42] nurse commented on #768
Just FYI, the characteristics is derived from their algorithms and illustrated on for example this http://lh3lh3.users.sourceforge.net/reb.shtml

[2019-05-14 08:24] kokosing commented on #768
Both libraries define the same set of functions, so they cannot be loaded together. It could be solved with https://github.com/prestosql/presto/issues/8.

However maybe we could have something like `joni_regexp_like` and `re2j_regexp_like` functions defined. This would pollute the function namespace, and it's usage would not be dynamic.

[2019-05-14 08:27] sopel39 commented on #763
@scraly Would it be possible that you just set proper instance profile for Kubernetes EC2 machines?
If you want to have more granular access control within K8s I suggest that you provide Glue AWS access token and secret via K8s secrets. Properties are:
[code]

[2019-05-14 08:29] Lewuathe commented on #768
Regarding the use cases we are considering, it's okay to define the different functions. But as you said, it's not good in terms of the namespace convention.

@martint Do you think it's acceptable to create aliases `joni_regexp_like`, `re2j_regexp_like`.  Or #8 can be the solution for this kind of alias problem?

[2019-05-14 08:29] kokosing commented on #768
To be exact, joni defines something like `regex_like(varchar, regex_type_for_joni)` and re2j defines  something like `regex_like(varchar, regex_type_for_re2j)`. User is passing passing two varchars. We cannot load them both because implicit cast would be ambiguous.

[2019-05-14 08:29] sopel39 commented on #768
This is problematic as Presto functions do not have access to system session properties.

That would work.

[2019-05-14 08:39] Praveen2112 commented on #768
What if we can cast the regex to `JoniRegexpType` or `Re2JRegexpType` and resolve it , then we can use similar function name right ?

[2019-05-14 09:14] sopel39 commented on #716
[code]
https://github.com/prestosql/presto/pull/764

[2019-05-14 11:01] ajantha-bhat opened #771 "[Need information] About Version difference and UT."
Hi, I have 2 questions related to project process as I am new here.

a) how do we differentiate the major and minor version in presto ?
Example Hive has 1.X.X, 3.X.X, so first digit indicates major version. What naming convention is followed here ?

b) When we raise PR, where do compilation and UT runs for changes. for merged PR, I don't see any task for compilation and UT. so, how quality is ensu

[2019-05-14 11:09] Praveen2112 commented on #771
Hi,

My understanding is that in Presto we do a release every once a week or 2 so we don't have anything like a major and minor version. The version is just an incremental number which starts 300.

Presto uses Travis for running the compilation and testing. You can see the status of the tests in the `checks` tab of the raised PR. (https://github.com/prestosql/presto/pull/{pr_id}/checks)

[2019-05-14 11:12] findepi commented on #771
@ajantha-bhat

In Presto, there is no concept of major and minor releases.
We strive to maintain backwards compatibility between releases
and whenever we cannot do so, we document that in release notes.
If you are just using Presto and using connectors that are provided
with it (as opposed to e.g. developing your own connectors),
you can think of each release as minor incremental improvement
over

[2019-05-14 11:12] #771 closed

[2019-05-14 11:18] ebyhr commented on #771
@ajantha-bhat By the way, you can join Presto Slack channel in this page https://prestosql.io/community.html or post to the mailing list to ask the question :)

[2019-05-14 13:46] ajantha-bhat commented on #771
@Praveen2112  @findepi : Thanks for the detailed info.

@ebyhr : I have joined slack and google group.

Thanks.

[2019-05-14 15:01] martint commented on #768
In the short term, yes, #8 would be a way around it, either by defining the function in different namespaces and adding the desired on the the SQL PATH or by allowing functions to take session properties.

In the long term, we actually want to get rid of the JONI vs RE2J distinction if we can. We just haven't spent the time to make RE2J faster in every scenario. Adding the two implementation-speci

[2019-05-14 17:05] SinghAsDev opened #775 "Presto writing to S3 with Java11, fails with java.lang.ClassNotFoundException: javax.activation.DataSource. As java 11 does not have javax.activation as part of sdk.tools anymore."
Adding this dependency would solve this issue.

[code]

[2019-05-14 17:10] dain commented on #775
I believe this will be fixed by this PR, which is in the next release: https://github.com/prestosql/presto/pull/707

[2019-05-14 23:17] electrum commented on #716
[code]
#728

[2019-05-14 23:19] electrum commented on #716
[code]
#531

[2019-05-14 23:21] electrum commented on #716
[code]
#596

[2019-05-14 23:22] electrum commented on #716
[code]
#748

[2019-05-14 23:55] electrum commented on #775
I'm not able to reproduce this error. Can you provide the full stack trace? You can find this from the web UI, or by running the CLI with `--debug`.

[2019-05-14 23:55] electrum commented on #775
Also, what version of Presto are you running?

[2019-05-15 00:30] #716 closed

[2019-05-15 04:05] #749 closed

[2019-05-15 05:12] pgagnon commented on #763
Note that these two configuration properties are only included starting from release 311, which should be released today.

[2019-05-15 05:25] nurse commented on #768
I agree that in the long term it should be specified by *type*.

Just FYI, why we want to use RE2J is to speed up a pattern which is for example matching "Presto|Hive|Spark|Big ?Query" with Web page title to query a visitor who are interested in query engines. (real example has a hundred of `|`s) But JONI is not good at such  patterns. (see also "Backtracking vs. state machines" section of [Benchm

[2019-05-15 06:14] electrum opened #776 "Release notes for 312"
## Dain Sundstrom
- [x] all checked
-  05-15 11:23:36    fd5f4988df Use precomputed hash in probe side of HashSemiJoinOperator
-  05-16 12:57:48    0f6e81b6ab Fix handling of failures during query creation
-  05-16 12:57:48    1218d3d9ed Change local dispatch to finish immediately after query submission
-  05-16 12:57:48    1227e5f9fc Fix result caching in protocol Query
-  05-16 12:57:48    4e5e2

[2019-05-15 10:44] findepi commented on #776
[code]
https://github.com/prestosql/presto/pull/559

[2019-05-15 18:23] #766 closed

[2019-05-15 19:58] ddrinka commented on #625
@anoopj thanks for #741, that should close this issue.

[2019-05-16 01:06] voycey commented on #736
When you say "Does not guarantee they are accurate" how does Spark use them?
We have tasks that update the column statistics as new data is added - would Presto not be able to use these?

Unfortunately we will be coming towards 500B rows in our table in the next couple of months - this would equal around an hour to do a simple count.

@dain - the ORC footers are stored in the metastore during ANAL

[2019-05-16 01:42] electrum commented on #736
I'm not familiar with what Spark does. If they always use metastore stats, then they are returning incorrect answers whenever the stats are wrong. Presto could have an option to assume they are correct, but you would need to opt-in to that configuration, since we believe that correctness is of utmost importance for a database.

ORC footers do store stats and Presto will utilize them for certain op

[2019-05-16 02:14] voycey commented on #736
Its a simple `count(*) ` query, we have a lot of files, a fair few partitions and a LOT of data. I think as Dain said above it is having to read through the ORC footers on each file.

There is this on the Hive confluence page: https://cwiki.apache.org/confluence/display/Hive/StatsDev

Probably a poor assumption to make that this would be carried over for a MySQL based Metastore?

Caching ORC file

[2019-05-16 02:17] voycey commented on #736
https://issues.apache.org/jira/browse/HIVE-12075

I see in the comments that this was never shipped as they removed the HBase functionality - I guess that answers that!

[2019-05-16 03:15] electrum commented on #736
Can you give a full example query? Does it have any filters? Any filters on non-partition columns?

Also, can you explain more about the high level problem? How and why you are running these queries, etc. I’m wondering if there might be alternative solutions.

[2019-05-16 03:49] voycey commented on #736
The query is part of another process from VerdictDB (Cardinality estimation engine) - the first step is to simply do `select count(*) from table` to get the total number of rows - this takes 30 mins+ as Presto has to read through the 4.19 Million ORC files we have in our data warehouse (~30TB).

In Hive this is instant as it stores partition information from the ANALYSE commands we run on data ing

[2019-05-16 04:10] electrum commented on #736
Is it possible to run a different query? Today, you can query stats directly in Presto using the `SHOW STATS` command. We could have the Hive connector expose the row count directly as a hidden table, similar to the existing `$partitions` table:
[code]
Or have a `hive.system.table_stats` table with statistics for all tables (though it would be slow to query without filters as stats have to be fetc

[2019-05-16 06:46] Jedda1314Jessie commented on #576
@electrum I have a question whether presto will provide the support for ACID of Hive in the future.Because when I used Hive to develop the data warehouse of my company, I found that some dim tables(scd) and some fact table(accumulator snapshot table) need to update.For that, I opened the transaction support of Hive but it made presto work wrong for the reason that Presto can't read HIVE's tables w

[2019-05-16 18:35] chadheyne opened #780 "information_schema should not fail for duplicate columns"
I believe this is similar to  https://github.com/prestodb/presto/pull/11847 and https://github.com/prestosql/presto/pull/568.

When I am running
[code]
The whole query fails with
[code]

This happens when the partition key is named the same as a column in the table.

This is the first ticket I've opened here so please let me know if I missed anything or if y'all need any more details.

[2019-05-16 23:55] electrum opened #781 "Remove table layouts from all connectors"
Add a comment about which one you are working on. Each one should be done as a separate commit and PR, since they are unrelated, and some will be non-trivial or will require additional features like column projection pushdown.

- [x] Accumulo (#823)
- [x] Atop (#885)
- [x] Cassandra (#1004)
- [x] Elasticsearch (#883)
- [x] Hive (#689)
- [x] Jmx (#511)
- [x] Kafka (#881)
- [x] Kudu (#1721)
- [x] Lo

[2019-05-17 00:16] electrum commented on #780
From a SQL perspective, these operations should have different behavior for an invalid table:

* Selecting from `information_schema.columns` should skip any invalid tables.
* Running `SHOW COLUMNS` should fail with error, similar to querying from the table.

The problem is that the latter is implemented as a rewrite against the former. This happens in `ShowQueriesRewrite.Visitor#visitShowColumns`.

[2019-05-17 00:47] Praveen2112 commented on #781
@electrum Can I take up this issue ?

[2019-05-17 01:38] electrum commented on #781
@Praveen2112 Yes, but work on one at a time, and comment here first about which one you are doing. Some of these will be non-trivial or may require additional features (like column projection pushdown which is not yet implemented in the new model).

[2019-05-17 02:23] electrum opened #782 "Use dockerized Accumulo in tests"
We can replace all of the code in `AccumuloQueryRunner` that starts Accumulo in the same JVM with a Docker instance using `DockerContainer`. See `TestingSqlServer` or `DockerizedMySqlServer` for an example.

[2019-05-17 05:24] niraj8241 opened #783 "SSL Handshake Error after enabling HTTPS"
I am trying to configure HTTPS and LDAP Authentication. Below is my config:

/etc/presto/config.properties
[code]

/etc/presto/password-authenticator.properties
[code]

**I have tested my LDAPS connection from an external client and it works fine. Example.com is a valid DNS host with a genuine certificate.**

Running Presto CLI in Debug Mode:
[code]

Output:
[code]

Java Version:

openjdk version

[2019-05-17 07:07] kokosing commented on #776
[code]
 #441

[2019-05-17 07:21] kokosing commented on #782
Isn't a better developer experience having everything in single JVM? Are you concern about `MiniAccumuloCluster` that is mocking to much?

[2019-05-17 21:32] dain commented on #783
In your config you are pointing the server at this key store:
[code]
The name `cacerts` is normally used to signify the trusted key signers.  Does that file contain the private keys for your server?

In the CLI invocation, you are setting ` --keystore-path`.  This is used to specify the private key of the client when using TLS client certificate authentication.  The store of trusted keys is specif

[2019-05-17 21:33] dain commented on #783
Also, for Java versions > 1.8.0_161, unlimited strength encryption is on by default.

[2019-05-18 03:51] electrum commented on #782
I think the developer experience is the same, assuming you have Docker installed. The only usefulness of having it in the same JVM is if you want to debug or otherwise interact with the code. But we treat it as a black box external service, so I don't think there is any value there.

The advantages of this are

* Possibly more realistic test environment
* Allows testing against multiple versions
*

[2019-05-18 04:48] Praveen2112 commented on #781
@electrum I will be starting with the Tpch and Tpcds connector

[2019-05-18 05:36] niraj8241 commented on #783
@dain Thanks for the response. So, what i did, is purchase a server certificate by generating private keys using openssl command and then just importing that public cert along with CA ( DigiCert ) in the cacerts truststore. Is that enough.

Or do i need to import private keys too along with certificate while importing?

Also, can i just point to cacerts with --truststore-path instead of --keystore

[2019-05-18 16:45] findepi commented on #782
We should dockerize Cassandra and test with multiple versions too, especially now that we have version discovery (https://github.com/prestosql/presto/pull/596)

[2019-05-19 14:55] niraj8241 commented on #783
We can close this thread as i managed to fix the issue. The issue was indeed with certificate not being imported along with key. Re-importing cert along with key in cacerts fixed the problem.

[2019-05-19 14:55] #783 closed

[2019-05-19 23:06] anoopj commented on #625
@ddrinka, Yep, I'm fixing PrestoS3FileSystem and PrestoS3ClientFactory as part of #741

[2019-05-20 07:57] scraly commented on #763
Hi,

I've tested the presto 311 version with new config properties :

[code]

When I checked presto logs, I see that properties are well read:

[code]

But when I test to query the table, I've got an error message:

[code]

[2019-05-20 08:39] findepi commented on #763
@scraly ,

this is from S3 client configuration (not Glue).

please add `hive.s3.aws-access-key`, `hive.s3.aws-secret-key` to your `hive.properties` configuration file
(or `hive.s3.use-instance-credentials=true` if you want to use instance credentials for S3 access).

[2019-05-20 12:09] scraly commented on #763
Awesome :-)

[2019-05-20 15:06] findepi commented on #763
@scraly i am happy to hear you're up & running.
Let me close the issue.

[2019-05-20 15:06] #763 closed

[2019-05-20 16:53] electrum opened #793 "Query against Redshift view fails with transaction error"
[code]

[2019-05-20 19:39] ddrinka opened #794 "OrcCorruptionException only in recent versions of Presto"
Let me start by saying this may actually be ORC corruption, as I'm using my own ORC serialization.  But older versions of Presto, Athena, and Apache ORC's tools read the data fine.

I'm receiving the following exception:
[code]

The table definition:
[code]

An example query:
[code]

And data that replicates the issue:
[bad_decimal.zip](https://github.com/prestosql/presto/files/3199523/bad_decimal

[2019-05-20 19:43] ddrinka commented on #794
@dain I know you were doing a bunch of ORC work over the last few weeks.  I'm going to keep digging on my side for issues with the serialization code, but if you have an easy way to drop this data into some test cases and make sure it's not an issue with your new code, I figured I'd get the conversation started rather than waiting until I was sure it wasn't on my side.

[2019-05-20 20:08] dain commented on #794
The exception is happening at the ORC checkpoint boundary, so the checkpoint is likely malformed.

[2019-05-20 20:12] ddrinka commented on #794
I'm suspicious that this is an issue with the PRESENT data stream.  It looks like every value is present so the PRESENT stream isn't written, but the index positions still include an entry for the PRESENT stream:

[code]

[2019-05-21 12:51] xueyibing commented on #253
[Code: 1, SQL State: ]  Query failed (#20190521_124812_00006_hn8ns): line 1:8: Column 'dw_presto.test_view.dt' cannot be resolved

[2019-05-21 20:16] ddrinka commented on #794
This ended up being an issue with bad index positions, as I mentioned above.  @dain any idea why the bugged data files worked for so long on older versions?  Are you using indexes in a different way as of late?  Anyhow, closing this issue.

[2019-05-21 20:16] #794 closed

[2019-05-21 23:27] martint commented on #776
[code]

#795, #743, #730, #731

[2019-05-22 01:11] linxingyuan1102 opened #802 "Convert column names read from ORC files to lower case"
We have a use case that data producers include camel-case column names in a ORC file, which causes a problem when `hive.orc.use-column-names` is set to be true. In this case, the ORC page reader reads column names from both ORC files and Hive Metastore. It treats columns `fooBar` from ORC and `foobar` from HMS as different columns, and causes the results of `select * from table` to be all `NULL`s.

[2019-05-22 01:20] martint opened #803 "Type inference broken for overloaded functions when arguments are null"
For example:

[code]

However, there are multiple valid bindings for the call to mod, so the choice of binding to the `tinyint` version is arbitrary (and possibly incorrect):
* mod(tinyint, tinyint):tinyint
* mod(smallint, smallint):smallint
* mod(bigint, bigint):bigint
* mod(double, double):double.
* etc.

In general, this should be reported as an ambiguous call. In this particular case, we could

[2019-05-22 07:56] ddrinka commented on #794
@dain, I'm reopening this.  It looks to me like we each had a bug.  I fixed the issue with the PRESENT stream as I mentioned above, which fixed decimals for me.  But now I'm having a problem with Dictionary strings.

Here's an example column:
[code]

[2019-05-22 08:15] ddrinka commented on #794
Nope. It's just my bug again.  https://github.com/apache/orc/blob/d81131b9d608779f48d7de6a3c11ece03a3bc0a0/java/core/src/java/org/apache/orc/impl/writer/TreeWriterBase.java#L227 :
`// bit streams use 3 positions if uncompressed, 4 if compressed`

[2019-05-22 23:12] oneonestar commented on #563
@phd3 Any good news?

[2019-05-22 23:31] phd3 commented on #563
@oneonestar Thanks for checking.

Initially I had thought of an implementation design based on the conversation here, and was hitting a few roadblocks. Then I exchanged ideas about the implementation details with @dain, and was able to move forward with his suggestions. I've implemented it for the most part and working on testing the changes. Hoping to getting it ready for review soon.

[2019-05-23 06:54] hustnn opened #807 "Ignore order by in a from subquery"
I noted some systems ignore order by in a from subquery or at least when it is not used with limit.
https://mariadb.com/kb/en/library/why-is-order-by-in-a-from-subquery-ignored/

Some more cases can benefit from it in addition to https://github.com/prestosql/presto/issues/759 mentioned by @Praveen2112

When outer query and inner query are both aggregation, it is hard to parallel outer query if we

[2019-05-23 07:22] kokosing commented on #807
Sounds good, would like to work on this?

[2019-05-23 10:17] hustnn commented on #807
@kokosing I'd like to work on it !

[2019-05-23 12:53] ankitdixit commented on #807
@kokosing @hustnn I already have implemented a solution for other issue, which fixes this. Let me share it

[2019-05-23 12:59] hustnn commented on #807
cool. go ahead.

[2019-05-23 13:25] ankitdixit commented on #807
Thanks, this is the PR https://github.com/prestosql/presto/pull/810

[2019-05-23 16:53] findepi commented on #776
[code]
https://github.com/prestosql/presto/pull/640

[2019-05-23 16:56] findepi commented on #802
@linxingyuan1102 how does Hive handles that? Do they do e.g. case-insensitive column name matching by default?

[2019-05-23 18:11] martint opened #811 "Migrate legacy optimizers to Rule framework"
Visitor-based optimizers are no longer the preferred way to implement optimizer transformations. Over time, we've been incrementally migrating them, but there are still a few left:

- [ ] PredicatePushDown
- [ ] ImplementIntersectAndExceptAsUnion
- [ ] IndexJoin
- [ ] LimitPushDown
- [ ] SetFlatteningOptimizer
- [ ] WindowFilterPushdown
- [ ] TransformQuantifiedComparisonApplyToLateralJoin
- [ ] U

[2019-05-24 01:08] martint commented on #776
[code]

https://github.com/prestosql/presto/pull/805

[2019-05-24 16:21] martint commented on #776
[code]

#753

[2019-05-24 18:09] martint opened #813 "Implement RESPECT/IGNORE NULLS for window functions"
It applies to lead(), lag(), nth_value(), first_value() and last_value() window functions.

From the SQL specification:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

Some considerations for the implementation:
* The parser should be updated to support the null treatment clause for any window function
* The semantic analyzer should ensure the clause is present only for functions that sup

[2019-05-24 19:54] findepi commented on #776
[code]

https://github.com/prestosql/presto/pull/791

[2019-05-25 03:22] Praveen2112 commented on #811
@martint I am planning to work on migrating `LimitPushDown` to the rule framework. I guess in it pushing limit through union is not yet supported and others are already migrated to it

[2019-05-25 07:00] Lewuathe opened #815 "Insecure mode for presto-cli"
As [`curl`](https://stackoverflow.com/questions/8520147/curl-insecure-option) does, it is beneficial if presto-cli provides an insecure mode not to check the SSL certificates.

https://prestosql.io/docs/current/installation/cli.html

[code]

In our use cases, we sometimes want to submit queries to our presto cluster via internal ALB in AWS. The ALB accepts 443 port but the certificate is not avail

[2019-05-25 23:28] martint commented on #759
I'm copying a comment I made in #807 so that it doesn't get lost, as it applies to the general approach to how we solve this.

The fundamental problem is that there's currently no way for the engine to reason about whether a sort is required (i.e., was it added by the planner to enforce some physical organization, was it a result of the user typing ORDER BY in their query in a place where it matte

[2019-05-26 03:05] martint commented on #759
Here's a prototype of the approach I described above: https://github.com/prestosql/presto/pull/818

[2019-05-26 10:41] Praveen2112 commented on #811
@martint Now I am planning to work on migrating `ImplementIntersectAndExceptAsUnion` to rule based optimizer.

[2019-05-26 10:47] Praveen2112 commented on #781
I am working on removing table layouts from Accumulo connector.

[2019-05-27 11:13] abz53378 commented on #734
I guess it's caused by the wrong `_schema` in your MongoDB, as the [docs#Table Definition](https://prestodb.github.io/docs/current/connector/mongodb.html) mentioned, MongoDB connector automatically guesses the schema of your data and write back in your MongoDB. You can check whether it's correct by `db.getCollection("_schema").find()`

And the [source code here](https://github.com/prestosql/presto

[2019-05-27 14:58] Praveen2112 commented on #781
Next I am trying to remove for Atop connector.

[2019-05-27 19:19] #802 closed

[2019-05-27 19:24] dain commented on #794
The problem is the index (restart checkpoints) is not really documented.  The way they are encoded is a side effect of how the original ORC writer code was laid out, so if the present stream happened to be written first the data for it was first in the long array, and if it wasn't written, then there was no entry in the array.  I had to reverse engineer their system.

[2019-05-28 05:28] l0yu opened #826 "Constraint and tupleDomain"
how to provide tuple doman when make api call to data source, any suggestion ?
Seems like connectorLayout/handler is going to be deprecated ...

https://github.com/prestosql/presto/blob/master/presto-spi/src/main/java/io/prestosql/spi/connector/ConnectorTableLayout.java#L31

https://github.com/prestosql/presto/blob/master/presto-spi/src/main/java/io/prestosql/spi/connector/ConnectorSplitManager.ja

[2019-05-28 06:09] Praveen2112 commented on #826
hi, we can provide the `TupleDomain` to the datasource using the `ConnectorTableHandle` and now any filter expression will be passed to the connector using `ConnectorMetadata#applyFilter` which will be invoked from `PushPredicateIntoTableScan`

[2019-05-28 08:19] aeoles opened #828 "Add field/line delimiter property in create hive table"
There is an closed but not PRed  issue [prestodb issue 6387](https://github.com/prestodb/presto/pull/6387), and a related [issue 572](https://github.com/prestosql/presto/issues/572). Hope this feature would be enhanced.

[2019-05-28 08:22] findepi commented on #828
@aeoles do you have any needs beyond what's described in https://github.com/prestosql/presto/issues/572 ?

[2019-05-28 14:23] l0yu commented on #826
Thanks @Praveen2112 .
That would be great if we have a sample connector which use
` ConnectorMetadata#applyFilter ` instead of ` layout ` for us app developer
Look through existing connectors in repo, still relies on table layout for predicate purpose

[2019-05-28 14:23] #826 closed

[2019-05-28 14:35] Praveen2112 commented on #826
@l0yu It is currently implemented in JDBC connector and TPCH connector (For Hive it is not yet merged). You can check the implementation from there. For other connectors we are migrating to this model. #781 keeps track of connectors which have migrated to the new model.

[2019-05-28 15:11] l0yu commented on #826
@Praveen2112 That's awesome !

[2019-05-28 20:00] #759 closed

[2019-05-28 20:05] dain commented on #776
[code]
#767

[2019-05-28 23:59] electrum commented on #815
I dislike this from a security perspective, but I understand your use case, and it is useful for debugging. Do you want to send a PR to implement this?

[2019-05-29 00:04] electrum commented on #776
[code]
#779

[2019-05-29 00:06] electrum commented on #776
[code]
#775

[2019-05-29 00:07] electrum commented on #776
[code]
#786

[2019-05-29 00:08] electrum commented on #776
[code]
#672

[2019-05-29 00:14] electrum commented on #776
[code]
#785

[2019-05-29 00:15] electrum commented on #776
[code]
#824

[2019-05-29 00:16] electrum commented on #776
[code]
#790

[2019-05-29 00:28] electrum commented on #776
[code]
#822

[2019-05-29 00:38] electrum commented on #776
[code]
#838

[2019-05-29 00:47] Lewuathe commented on #815
@electrum Thanks for the feedback. Sure I can do that.

[2019-05-29 03:56] aeoles commented on #828
Currently No

[2019-05-29 03:56] #828 closed

[2019-05-29 06:01] #776 closed

[2019-05-29 17:58] rohangarg opened #847 "Make TaskCountEstimator dynamic"
Currently, TaskCountEstimator initializes with the number of active nodes present in the cluster at that point of time. After that, the number of active nodes is never changed during the cluster lifetime.

In cloud based deployments along with worker autoscaling, the number of nodes in a cluster can grow and shrink with time.
In such setups, we can update the number of task counts dynamically acco

[2019-05-29 21:28] findepi commented on #847
I think `TaskCountEstimator` does not remember number of active nodes. It only remembers _how_ to get the current value. What am I missing?

[2019-05-29 21:54] electrum opened #850 "Release notes for 313"

[2019-05-29 22:15] rohangarg commented on #847
Yes, you are right - it does show current active nodes every time. There was problem in my testing setup which led me to believe that number of active nodes was also getting only computed once.

[2019-05-29 22:15] #847 closed

[2019-05-30 00:35] #807 closed

[2019-05-30 00:37] hustnn commented on #807
Solved in Presto 312. Quite fast !

[2019-05-30 00:50] ebyhr opened #851 "Map Cassandra INET & UUID to Trino IPADDRESS & UUID"
Currently, Cassandra connector maps both INET and UUID to Trino VARCHAR. It would be better to update like this.
- [x] INET → Trino IPAddress
- [x] UUID → Trino UUID

[2019-05-30 01:52] electrum opened #852 "Support Hive bucketed tables with any number of files per bucket"
This is available in Presto `312`. See blog post for details: https://prestosql.io/blog/2019/05/29/improved-hive-bucketing.html

[2019-05-30 03:56] wyukawa opened #853 "Illegal base64 character 2d error occurs if you submit select uuid()"
Hi,

We upgraded prestosql to 312 but the error occurred.

* version
312

* query
```select uuid()```

* error log
[code]

[2019-05-30 05:03] electrum commented on #853
Thanks for reporting this error. We forgot to add a mapping in the client when the type was added.

The root cause is that the client protocol uses JSON, which cannot represent binary natively, so binary is encoded as a base64 string. The problem is that the client doesn't know if the JSON string is supposed to be a textual string or encoded binary data. Long ago, we made the choice to have the cl

[2019-05-30 05:05] electrum commented on #853
This is fixed in #854. You can apply that and build a new CLI or JDBC driver, or let me know and I can attach snapshot JARs here.

Alternatively, you can work around this in SQL by doing
[code]

[2019-05-30 05:22] wyukawa commented on #853
Thank you for your quick action!

[2019-05-30 08:26] kokosing commented on #852
Fixes https://github.com/prestodb/presto/issues/8557, fixes https://github.com/prestodb/presto/issues/10301, and fixes https://github.com/prestodb/presto/issues/7693

[2019-05-30 08:26] #852 closed

[2019-05-30 08:33] ebyhr commented on #278
We can close this issue now.

[2019-05-30 08:46] sopel39 commented on #850
[code]

[2019-05-30 09:10] findepi commented on #278
Thanks @ebyhr

Done in https://github.com/prestosql/presto/pull/596 (311).

[2019-05-30 09:10] #278 closed

[2019-05-30 19:12] dain commented on #850
[code]
#778

[2019-05-31 06:37] SimonWan1029 opened #858 "Phoenix Connector Lowercase Table/View could not be find"
Once create a phoenix view which schema or table name is lowercased, then presto could not find  these table ;

[2019-05-31 06:38] electrum opened #859 "Many test failure for TestQueuesDb"
We frequently see variants of this.

[code]

[2019-05-31 06:56] electrum commented on #859
We see similar failures for `TestQueues`, in the query runner `close()` method called from the try-with-resources black. This stack trace seems to indicate that a query is still running when the query runner is closed.

[2019-05-31 07:12] findepi commented on #858
Upon cursory reading of the source, I would assume this line might be responsible:
https://github.com/prestosql/presto/blob/b763176ff1c33bce413911908bda67b63ee5e2f4/presto-base-jdbc/src/main/java/io/prestosql/plugin/jdbc/BaseJdbcClient.java#L649-L652

If the uppercase is the default case for Phoenix, it may be it works as intended. JDBC-based connectors support case-insensitive name matching
https

[2019-05-31 10:31] findepi opened #860 "Positional access to fields in anonymous Row"
It's very easy to construct an unnamed/anonymous `Row`:

    row(value1, value2, value3)
    (value1, value2, value3)

Also, some connectors return rows with unnamed fields (e.g. https://github.com/prestosql/presto/pull/416)

Currently, accessing an individual value in such a row is not convenient: it requires casting to a named row, so user needs to name all the fields _and_ their types. This ver

[2019-05-31 10:32] bruth opened #861 "Add Avro as a CLI output-format choice"
The use case is simply that this is another desirable format over CSV or TSV.

[2019-05-31 10:49] findepi commented on #860
@martint proposed in https://github.com/prestosql/presto/pull/416#issuecomment-472294245 that we use subscript operator

I like this idea.
For this, we should allow only integer literals in the subscript, so that we can analyze the types correctly.

[2019-05-31 16:20] electrum commented on #861
Interesting idea. Would you like to work on this yourself?

As a related enhancement, we could also support JSON.

[2019-05-31 16:50] bruth commented on #861
I have written very little Java, but with a bit of guidance I may be able to open a PR with something. I see the [OutputPrinter](https://github.com/prestosql/presto/blob/master/presto-cli/src/main/java/io/prestosql/cli/OutputPrinter.java) interface is really basic. Is there any access to the column names and the schema information of the output table (at a minimum the types)? The Avro schema needs

[2019-05-31 17:19] findepi opened #867 "Add JSON CLI output format"
Allow CLI to produce JSON output.

Possible approaches:
- single array where rows are elements of the array, e.g
[code]
- stream of JSON objects (one object per row), e.g.
[code]

The stream of objects approach would play very nicely with `jq` and to me, it seems like a better fit.

(Already mentioned in https://github.com/prestosql/presto/issues/861#issuecomment-497771854)

[2019-05-31 17:21] findepi commented on #861
@bruth just curious, what problem are you solving?
With Avro output, I guess you're going to store this data somewhere, for further processing.
Would you consider doing `CREATE TABLE t WITH (format='AVRO', location='.....') AS SELECT ...` as an alternative approach to get Avro data for a query?

[2019-05-31 19:25] bruth commented on #861
The use case is to snapshot tables that are created and refreshed on some schedule (typically daily). Basically making copies of the *live* tables for the purpose of diffing these snapshots each day and emitting the changes as a set of events (and the change stats) for downstream consumption.

The use case is to execute a Presto query and then to write the data out to an object storage organized i

[2019-05-31 19:31] bruth commented on #861
Even if I was constrained to the *<schema>.<table>* hierarchy (using the existing Hive+GCS setup), I could certainly work around this by include a timestamp in the table name or maintaining the relationship between these tables in a separate state store to support the downstream process.

[2019-05-31 19:41] findepi commented on #861
@bruth
my example was a bit too simplistic. it should be `external_location` (not `location`) and you probably need to set `hive.non-managed-table-writes-enabled`.
alternatively you can create a schema for your snapshots:
[code]
then you'd do a snapshot as
[code]

Yes.
(You can even use a location on different storage, like HDFS, S3).

There are two options:
- you already configured Presto in a wa

[2019-05-31 19:45] bruth commented on #861
@findepi I appreciate the help. This will be a simpler solution for my use case. I will create the tables out as Avro data, so there is no need for the CLI itself to support Avro (although its an orthogonal feature).

[2019-05-31 19:51] findepi commented on #861
I agree, this is orthogonal. Apologies, I derailed the discussion from the original issue.
@bruth, should you have any further questions, I invite you to just Slack (if you haven't yet done so) -- get an invite from https://prestosql.io/community.html

[2019-05-31 19:54] bruth commented on #861
No apology necessary, you got to the heart of my problem. And thank you for the invite to the community Slack.

[2019-05-31 20:57] vincentpoon commented on #858
For `DatabaseMetaData#storesUpperCaseIdentifiers`, Phoenix returns `true`, so by default unquoted identifiers are uppercased.

I think the issue here is with quoted identifiers.  My general recommendation would be to not use quoted mixed/lowercase identifiers.  Phoenix does support them, but certain areas can be confusing and/or not implemented well.  For example, both `PhoenixDatabaseMetaData#sto

[2019-05-31 21:11] findepi commented on #858
@vincentpoon proper support for case sensitive identifiers requires engine changes (https://github.com/prestosql/presto/issues/17).
Part of that will be to add case insensitive table name resolution when user does not quote the identifier in the query.
So when https://github.com/prestosql/presto/issues/17 is done, then:
1. `SELECT .. FROM "some_table"` in Presto ⇒ table needs to be exactly lower c

[2019-05-31 21:37] electrum commented on #861
@bruth You would pass in the field names and types when creating the `OutputPrinter` instance in `Query.createOutputPrinter()`. That method only takes the names, so it'd be easiest to change `doRenderResults()` to pass `List<Column>` all the way down.

[2019-05-31 22:45] electrum commented on #861
I just put up a PR which passes down the list of columns: https://github.com/prestosql/presto/pull/871

[2019-05-31 22:55] vincentpoon commented on #858
@SimonWan1029 @findepi  Check out #872 , which adds support for `case-insensitive-name-matching`

You'll need to add the following line into your phoenix catalog properties file:
`case-insensitive-name-matching=true`.  Then you should be able to query your case sensitive tables.

[2019-05-31 23:03] #853 closed

[2019-05-31 23:40] martint commented on #860
I think it's the cleanest way to implement this. It doesn't require additional syntax or non-standard language constructs, and it's semantically consistent with arrays and maps. The only weird aspect is the requirement that the subscript be a constant, so it's not completely seamless vs subscript for other types.

[2019-06-01 03:54] martint opened #875 "Add support for generalized "all fields reference""
This syntax allows for use of `.*` in arbitrary expression of type `ROW(...)`. For example:

[code]

should produce:

[code]

From the SQL specification:

[code]

[code]

[2019-06-01 04:46] electrum commented on #850
[code]

[2019-06-01 04:48] #858 closed

[2019-06-01 04:51] electrum commented on #850
[code]
#872

[2019-06-01 05:24] #850 closed

[2019-06-01 08:22] electrum opened #879 "Release notes for 314"
## Dain Sundstrom
- [ ] all checked
-  06-01 11:02:12    33d31950f9 Remove use of TestNG Factory in TestRegexpFunctions
-  06-01 11:02:12    6651ea48d8 Log hung tests
-  06-01 11:02:12    6984568218 Fail on concurent tests with the same name
-  06-01 11:02:12    de3abf748c Log what tests are executed and their duration
-  06-02 22:37:25    05837d44e0 Remove BlockEncodingManager
-  06-03 20:17:50

[2019-06-01 21:45] bruth commented on #861
@findepi Since we already partially discussed snapshots.. I am going to continue it here. I can move it to Slack if you would prefer. I was able to do this:

[code]

And the table name `stage/cqs/demographic/1559424034` actually translated to a set of folders in GCS. Similarly, I was delighted to see the `order by` was respected when the data was written. The actual Avro files were written within

[2019-06-02 15:08] martint commented on #879
[code]

#887

[2019-06-02 20:47] bruth commented on #861
☝️ Although I could write the table.. reading is throwing an error. Apparent the forward slashes are problematic on reads.

[code]

[2019-06-02 21:46] dain commented on #861
In the Hive specification, the table name and location aren't really linked like that.  If you want an exact location, I believe you specify it with the a table property like this: `external_location = 's3://my-bucket/data/logs/'

[2019-06-03 01:27] #867 closed

[2019-06-03 10:09] findepi commented on #861
@bruth let's continue the discussion on [Presto Slack](https://prestosql.io/community.html)

[2019-06-03 19:15] guyco33 opened #894 ""Queued queries" metric in UI console is not updating"
Since version 312, the aggregated `QUEUED QUERIES` metric in the ui console stopped update and is always 0

![image](https://user-images.githubusercontent.com/5966852/58827990-0bcb7e00-864d-11e9-9d32-f5ab12bfdcb6.png)

[2019-06-03 21:15] l0yu opened #896 "Customized DiscoveryService"
Is it possible to customize discovery service for coordinator to find worker nodes
(ex: zookeeper) instead of the embedded one ?
then later I could factor out discovery function just by change
discoveryUri in config ?

Scale worker nodes is straightforward, unique worker node id and config worker node with discoveryUri. What if I want to scale coordinator nodes (i.e #coordinators schedule query on

[2019-06-03 23:47] ebyhr opened #900 "DESCRIBE information_schema.columns with SQLServer connector returns wrong result"
`DESCRIBE information_schema.columns` with SQLServer connector returns wrong result. Also, users cannot access SQLServer's information_schema.columns table.

[code]

[2019-06-04 03:18] #894 closed

[2019-06-04 03:19] dain commented on #894
Thanks for the bug report.  The fix will be in the next release.

[2019-06-04 03:39] dain commented on #879
[code]
#894

[2019-06-04 03:47] martint commented on #879
[code]

#888

[2019-06-04 11:43] findepi commented on #900
This applies to all JDBC connectors -- Presto provides `information_schema` internally, and so remote `information_schema` is not accessible.
It is explicitly filtered out here: https://github.com/prestosql/presto/blob/3536c7da8fe2f4e1bd4954edaeb7cb22029d7316/presto-base-jdbc/src/main/java/io/prestosql/plugin/jdbc/BaseJdbcClient.java#L177
but even if you remove the line, the internal `information_

[2019-06-04 12:08] Praveen2112 commented on #896
Actually I think there is an approach which enables us to switch to a different discoveryUri without restart the PrestoServer. We have `ServiceInventory` in airlift which is a bootstrap mechanism for finding the discovery services.  So we could expose the new discovery uri's using this feature and the discovery client will update its disovery URI to a new one. We have expose these information via

[2019-06-04 12:19] findepi commented on #879
[code]

https://github.com/prestosql/presto/pull/659

[2019-06-04 13:00] omgsauce opened #903 "Docker Documentation and Tutorials"
Hello,

I open this issue to understand what It is needed for Docker Documentation and how to add tutorials and where.

I understand Docker Docs in this way:
1)Basic Configuration start It.
2)Complex Configuration run presto cli and presto admin, etc.

What kind of workflow is better?
For example: I can update Docker Readme with basic instructions and add complex tutorials somewhere else, in my Gi

[2019-06-04 14:03] #860 closed

[2019-06-04 14:37] martint commented on #879
[code]

#860

[2019-06-04 15:07] l0yu commented on #896
I see, then what's the pojo to represent node healthy state (when client poll, should return a corresponding json blob). Would you point me to the code ?
Thank you @Praveen2112

[2019-06-04 15:08] #896 closed

[2019-06-04 15:23] findepi commented on #879
[code]

#833

[2019-06-04 17:07] igorcalabria opened #907 "Presto UI high network usage"
Since deploying presto to more users, we saw a decent increase on its load balancer that did not fit with results downloaded or queries ran. Upon further investigation, we found out that the the UI was downloading a ~ 5mb gzipped json payload every second.

The refresh loop on `QueryList.jsx` https://github.com/prestosql/presto/blob/master/presto-main/src/main/resources/webapp/src/components/Query

[2019-06-04 22:10] dain commented on #896
@l0yu The discover service today already support syncing state between multiple instances.  Supporting multiple coordinator requires a number of changes to work as expected.  The project is being tracked here https://github.com/prestosql/presto/issues/391

[2019-06-04 22:25] dain commented on #907
Theses seem like reasonable ideas.  If possible, can you join Slack (https://prestosql.io/community.html) and start a design discussion there?

[2019-06-04 22:49] l0yu commented on #896
That's awesome ! Thanks @dain

[2019-06-05 00:09] electrum commented on #896
@l0yu This explains the format of the service inventory JSON: https://groups.google.com/forum/#!topic/presto-users/vUirVCZqaok

The Java code for this is `io.airlift.discovery.client.ServiceDescriptorsRepresentation`

[2019-06-05 01:25] l0yu commented on #896
@electrum That's really helpful !

[2019-06-05 01:51] martint commented on #879
[code]

#908

[2019-06-05 05:55] #132 closed

[2019-06-05 05:59] martint commented on #879
[code]

#910

[2019-06-05 08:57] findepi opened #916 "presto-cli should acquire password using stdin&stderr when stdout is a pipe"
This should be possible:
[code]

Currently, this fails with
[code]

It should work just the same way as `sudo echo x > /tmp/x` does.

[2019-06-05 09:40] findepi commented on #903
@OliverMorenoGonzalez thank you for your initiative!
We already have one tutorial in the documentation -- https://prestosql.io/docs/current/connector/hive-gcs-tutorial.html
I think we should have Docker documentation, usage instructions and recipes also in our docs.
cc @electrum

[2019-06-05 10:26] OliverMorenoGonzalez commented on #903
Perfect.

I am going to read about the cla, and later fork the presto/prestosql.io and continue with process.

English It is not my first language so I will expect from reviewers some changes/help to make It more readable, of course I will review and review before send a pull request.

You can close this issue if It is all clear.

[2019-06-05 12:41] dilipkasana opened #921 "Fix ORC Bloom Filter"
This is same issue refers to : https://github.com/prestodb/presto/issues/12900
The same is reproduces in community version of presto.
All releases of community presto from 300 to 313 will not get advantage of ORC Bloom filter due to this.
Below is the description :
After changes of `StreamId` in `readBloomFilterIndexes` method of `StripeReader` class the Bloom filter does not skip unsatisfied Row

[2019-06-05 12:46] Praveen2112 commented on #921
hi.. But would this PR solves (https://github.com/prestosql/presto/pull/914) the issue ?

[2019-06-05 12:50] dilipkasana commented on #921
@Praveen2112  Yes, The PR will resolve this.

This is the snapshot of the query run on the current presto community version that should skip all the Splits and should read 0 Rows instead.

[code]

This is the snapshot after the fix.

[code]

[2019-06-05 13:29] findepi commented on #879
[code]
#898

[2019-06-05 13:51] igorcalabria commented on #907
Sure.

[2019-06-05 15:11] findepi commented on #903
@OliverMorenoGonzalez cool.
The docs are hosted @ https://prestosql.io/docs/ and their sources are here, in this repo: https://github.com/prestosql/presto/tree/master/presto-docs

[2019-06-05 16:19] findepi commented on #903
BTW docs building instructions:
https://github.com/prestosql/presto/blob/bee2029f41b81408d8db151fa2b30ddcdba46cb6/presto-docs/pom.xml#L19-L28

[2019-06-05 21:05] dain commented on #879
[code]
#877

[2019-06-06 08:22] kokosing commented on #879
[code]
#918

[2019-06-06 08:28] #579 closed

[2019-06-06 08:34] findepi opened #930 "Grouped execution on partition keys"
Today, grouped ("bucketed") execution is supported on bucketed tables.
Add support for grouped execution for partitioned unbucketed tables.

For example, joining partitioned tables on partition key can be handled the same way as joining bucketed tables on bucketing key.

Ref https://github.com/prestodb/presto/issues/11876

[2019-06-06 09:01] findepi commented on #879
[code]

https://github.com/prestosql/presto/pull/919

[2019-06-06 10:59] findepi opened #932 "Intersect enumerated domains when deriving effective predicate for Join"
When deriving effective predicate for a JOIN, we combine effective predicates for join keys from the sources.
Sometimes, the effective predicate can be an enumeration of possible values (e.g. partitioning keys).
When deriving the predicate, we should intersect the values, rather than just gluing them with `AND`.

### Example 1
[code]
contains
[code]
above the `Values` node. It should be simplified

[2019-06-06 12:21] vkingnew opened #934 "Add Oracle connector"
support oracle database ?

[2019-06-06 15:44] Ralnoc commented on #391
Something that could be considered for the first iteration of HA for the coordinators is to implement a system similar to what Hashicorp's Vault uses. Where there is only ever one Coordinator or Master node active. Leadership election is used to handle which coordinator is that leader and it handles all of the coordinator processes and the healthcheck endpoint for the leader returns 200 so that a

[2019-06-07 00:48] dain commented on #879
[code]
#904 #921

[2019-06-07 00:54] martint commented on #921
Fixed

[2019-06-07 00:54] #921 closed

[2019-06-07 02:21] ebyhr commented on #934
This is past conversation about Oracle connector https://github.com/prestodb/presto/pull/11540

[2019-06-07 02:25] Praveen2112 commented on #781
Next I'm planning to take cassandra and raptor connector.

[2019-06-07 02:37] Praveen2112 commented on #811
@martint I am planning to work on migrating `TransformQuantifiedComparisonApplyToLateralJoin` to rule based optimizer

[2019-06-07 05:09] dain commented on #879
[code]
#939

[2019-06-07 06:29] electrum commented on #879
[code]
#689

[2019-06-07 06:36] electrum commented on #879
[code]
#893

[2019-06-07 06:38] electrum commented on #879
[code]
#878

[2019-06-07 06:40] electrum commented on #879
[code]
#891

[2019-06-07 06:42] electrum commented on #879
[code]
#845

[2019-06-07 12:59] ptkool commented on #813
@martint Can you assign me to this issue? I have a open PR for this already in https://github.com/prestodb/presto.

[2019-06-07 17:41] electrum commented on #879
[code]
#534

[2019-06-07 18:45] martint commented on #813
@ptkool, great! Looking forward to that PR. Once you file a CLA with the Presto Software Foundation, I'll be able to assign the issue to you (the github permissions system is very limited). We're going to need one anyway to take the contribution: https://github.com/prestosql/cla

[2019-06-07 21:58] electrum commented on #879
[code]
#924

[2019-06-07 22:46] dain commented on #879
Please add issue #944 to fix query history leak message above:
[code]

[2019-06-08 03:56] #879 closed

[2019-06-08 06:38] electrum opened #948 "Release notes for 315"

[2019-06-10 19:28] findepi opened #951 "SHOW TABLES in Hive 2.3+ fails with: Presto java.net.SocketTimeoutException: timeout java.io.UncheckedIOException: java.net.SocketTimeoutException: timeout"
## Note

I am creating the issue to that it's searchable, since the problem manifests in a quite unclear way (with a socket timeout) rather than clear failure condition.

## Example failure
[code]

## Example Metastore log

[code]

[2019-06-10 19:29] findepi commented on #951
I created this issue for users' convenience, so that it's searchable.
This is fixed in https://github.com/prestosql/presto/pull/833

[2019-06-10 19:29] #951 closed

[2019-06-10 23:14] dain opened #954 "Add Hive table property to for arbitrary properties"
Currently only table properties explicitly listed [HiveTableProperties](https://github.com/prestosql/presto/blob/master/presto-hive/src/main/java/io/prestosql/plugin/hive/HiveTableProperties.java) are supported in Presto, but many Hive environments use extended properties for administration.

Add a property named `extra_properties` of type `MAP(VARCHAR, VARCHAR)`.

On read (e.g. `SHOW CREATE TABLE

[2019-06-10 23:21] electrum opened #955 "Add support for Hive auto.purge property"
Hive has a boolean table property `auto.purge` which we should expose as a Presto table property in the Hive connector.

See https://issues.apache.org/jira/browse/HIVE-9118

[2019-06-10 23:22] findepi opened #956 "Unsafe publication in (experimental) WorkProcessorPipelineSourceOperator"
Found by Travis:
[code]

This is because `this` escapes during construction:
https://github.com/prestosql/presto/blob/b396828524d19ca103d3712d6adf13093d09045e/presto-main/src/main/java/io/prestosql/operator/WorkProcessorPipelineSourceOperator.java#L117

[2019-06-10 23:23] findepi commented on #956
This makes the tests flaky.

[2019-06-11 03:09] ebyhr opened #957 "Add support for Hive webhdfs table"
Currently, we need to add jars manually to access a table using webhdfs. When I tested past, I added javax.ws.rs-api and jersey-common. Also, I confirmed jersey-bundle resolved the dependency error.
cc: @wyukawa

Related https://github.com/prestodb/presto/issues/6697

[2019-06-11 03:15] martint commented on #948
[code]

#832

[2019-06-11 05:52] electrum commented on #957
@ebyhr It looks like the JAX-RS API is the only thing missing (I couldn't find any usages of Jersey). Can you try with version `3.2.0-3-SNAPSHOT` of `hadoop-apache`? If that doesn't work, please send me a stack trace so I can see where the reference is coming from.

[2019-06-11 06:28] liuguiyangnwpu commented on #662
hi, I want to use presto as a SQL engine to run the kubeflow to train the model and load the models to inference the data on-line.
If i have some question about presto-ml, i will ask for your help.

thx.

[2019-06-11 07:01] martint opened #958 "Incorrect result for decimal division"
[code]

It happens because https://github.com/prestosql/presto/blob/master/presto-spi/src/main/java/io/prestosql/spi/type/UnscaledDecimal128Arithmetic.java#L1503 overflows and turns negative.

[2019-06-11 07:54] findepi commented on #1
`WITH TIES` was added in https://github.com/prestosql/presto/pull/832, will be available in Presto 315.

[2019-06-11 08:06] ebyhr commented on #957
This is the stack trace with https://github.com/prestosql/presto-hadoop-apache/pull/8. We also need to upgrade hadoop library in addition to missing dependency after this JIRA ticket is resolved (https://issues.apache.org/jira/browse/HDFS-14466). It's related to https://github.com/prestosql/presto/issues/620.

First attempt
[code]

The 2nd attempt
[code]

[2019-06-11 08:11] bdorange opened #959 "trino-server-rpm keeps old presto lib jars after upgrade"
tested while upgrading from 313 to 314, old 313 jars were in the same lib folder `/usr/lib/presto/lib` as the 314 ones.
the rpm was installed using yum under RHEL 7.4.

this caused my kudu connector to fail the presto server startup, after removing the kudu connector the server started but some features from 314 weren't available (although the presto UI showed 314 in the version number).

[2019-06-11 13:24] findepi commented on #611
`get_partition_values` was added in Hive 2.4, but this version is not downloadable (https://archive.apache.org/dist/hive/) and, AFAIK, we're not ready to require Hive 3.1 just yet.
I created enhancement proposal to backport `get_partition_values` to Hive 2.3 branch (https://issues.apache.org/jira/browse/HIVE-21859).

[2019-06-11 13:56] findepi commented on #957
Besides https://github.com/prestosql/presto-hadoop-apache/pull/8, in this issue we should add product tests.
It's too easy to break integration like this if we're not test-covered.

[2019-06-11 16:17] electrum commented on #957
Thanks, I see what is going on. That API JAR actually does need Jersey which has the implementation (which is why I didn’t see it when looking at the code).

[2019-06-11 17:13] tusharag171 commented on #955
Working on this

[2019-06-11 17:16] electrum commented on #957
@ebyhr I just published another snapshot, can you try again?

@findepi I completely agree we should add product tests. Since the Docker images already use WebHDFS, hopefully that is easy. Does someone have time to work on that?

[2019-06-11 17:59] electrum opened #961 "Hive ANALYZE does not validate partition values"
Passing an empty string as the partition value (or likely any non-existent partition) will result in a verify exception:

[2019-06-11 18:04] electrum opened #962 "Allow wildcards for Hive ANALYZE"
It seems useful to allow analyzing multiple partitions without explicitly listing them all (and without analyzing the entire table). We need to figure out a good way to represent this using the property syntax.

[2019-06-11 20:38] findepi commented on #961
btw I think `All computed statistics must be used` might also be possible when a partition is dropped during ANALYZE

[2019-06-11 21:19] findepi commented on #957
in product tests containers, webhdfs should be running on port 50070

https://github.com/prestosql/presto/blob/3a368278c0dd45931ca3313d699e7b386fba9494/presto-product-tests/src/main/resources/tempto-configuration.yaml#L3-L4

in kerberized product tests, this is secured

https://github.com/prestosql/presto/blob/3b50e03ae02d0d8698a693d22c6374b9f798f175/presto-product-tests/conf/tempto/tempto-configu

[2019-06-11 21:21] findepi commented on #956
@dain would you like to take a stab at this?

[2019-06-11 21:22] findepi commented on #955
@electrum is this issue only about exposing a property, or about changing behavior?
If the former, I'd consider https://github.com/prestosql/presto/issues/954

[2019-06-11 21:26] findepi commented on #948
[code]

https://github.com/prestosql/presto/pull/946

[2019-06-11 21:27] electrum commented on #961
@findepi What do you mean "dropped during analyze"?

[2019-06-11 21:30] findepi commented on #961
`ANALYZE` without `with(partitions=...)` analyzes all the partitions.
Now, if a partition is concurrently dropped by some other process, we can fail to persist analysis results (one partition missing ⇒ `All computed statistics must be used` zonk)

[2019-06-11 21:44] findepi commented on #916
#### Workaround

One can specify the password with the `PRESTO_PASSWORD` environment variable.

[2019-06-11 22:39] electrum commented on #961
Interesting. Looking at the code, I'm not sure we need the check at all.

[2019-06-11 22:42] dain commented on #956
@sopel39 is has an open PR for `WorkProcessorPipelineSourceOperator` https://github.com/prestosql/presto/pull/909

[2019-06-11 22:48] sshardool commented on #955
The behavior of skipping the `.Trash` during the table drop can be achieved in at least two different ways (which are _not_ mutually exclusive)
(1) Provide an `auto.purge` property during table creation
(2) Setting the property `ifPurge` in the environment context during table drop

I started making changes for (2) but I made them in a manner such that the decision to skip the `Trash` could be mad

[2019-06-12 00:25] #958 closed

[2019-06-12 00:29] martint commented on #948
[code]

#958

[2019-06-12 01:35] cdw9bf opened #966 "Custom Credential Provider for Glue Metastore"
When using AWS Glue as the metastore for Hive, it would be useful to be able to assume different IAM roles for different users. It would allow for system administrators the ability to create and delete tables while regular users are only allowed to query from said tables. Another use is when doing a `SHOW SCHEMAS IN hive` query, one can set the IAM role to only list tables that the user has permis

[2019-06-12 02:25] dain commented on #948
[code]
#914

[2019-06-12 07:11] sopel39 commented on #956
There are more `this` leaks, e.g via `io.prestosql.operator.OperatorContext#setInfoSupplier`, but I think we have to live with them

[2019-06-12 10:19] findepi commented on #956
Fixed by https://github.com/prestosql/presto/pull/969

[2019-06-12 10:19] #956 closed

[2019-06-12 11:15] ebyhr commented on #957
Hmm... still get below error
[code]

[2019-06-12 12:55] kokosing opened #971 "Information_schema return invalid table_privileges"
Having file based control configured with:
[code]

Then running as `bob`:
[code]

While I expected to see that `bob` is the owner of a table `v`.

In case of file access control it would be better to say that ``information_schema.table_privileges`` is not yet supported instead of the above.

[2019-06-12 13:01] findepi commented on #962
Another idea would be to allow `ANALYZE t WHERE ..` (just the same way we do with `DELETE`).
This would have additional advantage that the syntax would be much easier. `WITH(partitions = ARRAY[ARRAY['2018-01-01']])` is not as easy to write as `WHERE dt = DATE '2018-01-01'`.

[2019-06-12 14:19] martint commented on #962
@findepi, that was one of the approaches we considered originally, but there were some issues with it. I’ll try to dig up the discussions.

[2019-06-12 15:42] martint commented on #956
If they are true leaks of “this” (i.e., “this” becomes available to other threads via that leak), there’s no living with it, we need to fix them. Otherwise, it’s a subtle bug waiting to bite us.

[2019-06-12 16:53] #680 closed

[2019-06-12 16:56] dain commented on #948
[code]
#799

[2019-06-12 17:49] electrum commented on #966
This sounds like a good feature. There are some implementation difficulties around how `SemiTransactionalHiveMetastore` works. I need to think about this more before writing a longer response.

Another implementation issue is how to make the credentials configurable per request in the AWS client without needing to create a new client (with associated connection pools and executors) for each reques

[2019-06-12 18:51] dain commented on #948
[code]
#967

[2019-06-12 20:33] findepi commented on #962
@martint yeah, i was under impression that it has been considered.... So I'm challenging that decision 😉

[2019-06-12 21:29] sopel39 opened #975 "OperatorContext keeps reference to Operator via OperatorContext#infoSupplier"
`OperatorContext` are kept for some time after tasks are finished for coordinator to query them. However, `Operators` themselves should be destroyed and freed. This doesn't happen for some operators because `operatorContext.setInfoSupplier()` is set and that makes `OperatorContext` keep reference to `Operator` thus preventing `Operator` from being GC-ed.

FYI: @dain

[2019-06-12 21:48] sopel39 commented on #975
Probably `Operator` should unregisted info provider when it's closed. However, then it's `OperatorInfo` might never be retrieved as it's only retrieved when `OperatorStats` are constructed.

[2019-06-12 23:05] sopel39 commented on #975
This shouldn't be true, but I think it was some in the past: https://github.com/prestodb/presto/issues/10036

[2019-06-13 00:24] martint commented on #647
@pgagnon, UUID type support has been merged.

[2019-06-13 00:34] z0le commented on #647
Hi @Praveen2112 I can work on the UUID type if you are not planning on doing this soon. Let me know.

[2019-06-13 02:22] cdw9bf commented on #966
My impression from reading through the code is that this wouldn't be a trivial change.

I'll admit I'm pretty novice when it comes to Presto - would it be possible to pass in the configuration details of glue in `HiveConnectorFactory` where it initializes the connector? [Here](https://github.com/prestosql/presto/blob/master/presto-hive/src/main/java/io/prestosql/plugin/hive/HiveConnectorFactory.ja

[2019-06-13 03:06] electrum commented on #966
The backend implementation of the metastore is bound in `HiveMetastoreModule` based on configuration. For Glue, it will bind `GlueHiveMetastore` for the `HiveMetastore` interface.

This backend instance gets injected `HiveMetadataFactory`, which is used to create instances of `SemiTransactionalHiveMetastore` for each transaction, which happens in `HiveConnector.beginTransaction()`.

I'm thinking w

[2019-06-13 07:00] zgseed opened #979 "hive unknown error 16777221"
A simple statement  with hive catalog
`SELECT * FROM  db.table1  where day= '20190613' LIMIT 10`  （field day is the partition column, and type is string）
we got an external error  with code hive-unknown-error(16777221) .
And test it with hive, it works ok.

environment:
 presto  306
 hive 1.10-cdh
 hadoop 2.5.2-cdh

exception stack trace:
[code]

[2019-06-13 08:16] Praveen2112 commented on #647
@z0le Please check with @pgagnon I guess he is working on it.

[2019-06-13 08:47] Praveen2112 opened #980 "Different Stats computed for OR and IN expression"
Presto currently computes different stats for these expression

`columnA = 'abc' or columnA = 'def'`
and for
`columnA IN ('abc', 'def')`

But these expressions are equivalent.

Since these columns are of `VARCHAR` type and `andEstimate` which we compute when processing `OR` expression should ideally be 0.

As a workaround/solution for this can we start maintaining the `lowValue` and `highValue` as

[2019-06-13 13:08] pgagnon commented on #647
@z0le I have done some preliminary work on this but I have not had as much time as I wanted. Let me know if you want to take this over and I'll yield to you, otherwise I'll try and get this done by early next week.

[2019-06-13 13:12] findepi commented on #980
In my opinion, converting (normalizing) `columnA = 'abc' or columnA = 'def'` to `columnA IN ('abc', 'def')` might be simpler solution.
As I understand we already do this when pushing down TupleDomain to a connector, but I see no reason not to do this kind of normalization in general.

[2019-06-13 19:39] findepi commented on #975
Oftentimes `operatorContext.setInfoSupplier()` will be called with a callback that doesn't hold on to `Operator` (`this`).
Maybe this should be the case _always_? Same for `setNestedOperatorStatsSupplier` of course.

[2019-06-13 19:47] findepi commented on #948
[code]

#933

[2019-06-13 20:10] findepi commented on #979
@zgseed the stacktrace here doesn't precisely match Presto 306.
Did you replace any jars in the Presto `plugin/hive-hadoop2` folder?

[2019-06-13 21:10] #546 closed

[2019-06-13 21:18] electrum commented on #948
[code]
#548

[2019-06-13 21:20] electrum commented on #948
[code]
#871

[2019-06-13 21:25] electrum commented on #948
[code]
#935

[2019-06-13 21:33] electrum commented on #948
[code]
#983

[2019-06-13 21:55] electrum commented on #979
This `NullPointerException` is confusing. Here are lines 97-101 of `DeprecatedLzoTextInputFormat`:
[code]
Also, Presto doesn't use `DeprecatedLzoTextInputFormat` (it is only used for testing).

Do you have any local modifications to Presto?

[2019-06-14 06:41] zgseed commented on #979
@findepi   @electrum sorry for that.
I check the plugin/hive-hadoop2 folder and found a hadoop-lzo jar.  and the table's input format is com.hadoop.mapred.DeprecatedLzoTextInputFormat.  So i think some one add the jar to support this input format.

Does it mean presto could not read table stored using DeprecatedLzoTextInputFormat?

[2019-06-14 06:50] electrum commented on #979
Presto has built in support for LZO (using the aircompressor library), so it should work without any additional libraries.

[2019-06-14 07:28] kokosing commented on #959
@bdorange

In order to debug this issue we need more information:
Can you please list all the files from `/usr/lib/presto` (with `ls -l` to see size and modification date, `md5sum` could be also helpful) that were installed with 313 in your system just before running `rpm -e` command. Then can you please all do the same but just after the upgrade to 314.

Also can you please describe what commands

[2019-06-14 15:50] martint commented on #699
This is fixed and will be available in version 315.

[2019-06-14 15:50] #699 closed

[2019-06-14 17:05] electrum commented on #948
[code]
#976

[2019-06-14 21:32] linxingyuan1102 opened #998 "Add limit pushdown to the Information Schema Connector"
This can be helpful to queries like `select * from hive.information_schema.columns limit 1`.
Without the limit pushdown, the Connector will fetch metadata of all columns from Hive firstly, which is very expensive.

[2019-06-15 01:26] #948 closed

[2019-06-15 05:33] electrum opened #1000 "Release notes for 316"
## Dain Sundstrom
- [x] all checked
-  06-15 19:29:53    4408334bb6 Split TypeCoercion from TypeRegistry
-  06-15 19:29:53    b16b3d60b5 Change specialize methods to take Metadata
-  06-15 19:29:53    cad323e333 Change TypeRegistry to an internal detail of MetadataManager
-  06-15 20:18:10    0ec41a902d Remove FunctionRegistry.getCoercion(Type, Type)
-  06-15 20:18:10    4b63026d3f Remove unused T

[2019-06-15 14:32] findepi opened #1005 "SHOW TABLES does not work for hidden tpch, tpcds schemas"
`tpch."sf3000.0"` definitely exists:
[code]

but one cannot see tables in that schema:
[code]

[2019-06-15 15:57] Praveen2112 commented on #1005
@findepi Can I take up this issue ?

[2019-06-15 19:59] findepi commented on #998
@linxingyuan1102 thanks for working on this.
One approach is to do limit pushdown (as you do in your PR #999)
Did you consider a different approach, where `InternalTable` is based on an Iterator or Stream, and loads metadata lazily?
Such approach is not as good as explicit limit pushdown, but should be advantageous also in case of queries without a limit, as it should decrease latency of the first

[2019-06-16 07:59] z0le commented on #647
@pgagnon early next week is fine, but if you still don't have time I can do this, let me know.

[2019-06-16 14:15] cdw9bf commented on #966
To get the `ConnectorSession` object in the [`beginTransaction`](https://github.com/prestosql/presto/blob/master/presto-spi/src/main/java/io/prestosql/spi/connector/Connector.java#L28) method, I assume that would require changing the interface of `Connector`?

I was also looking through where the `beginTransaction` method was called and I'm not sure that I see where we can pass the `ConnectorSessi

[2019-06-17 04:11] pgagnon commented on #647
@z0le I have implemented this in #1011.

[2019-06-17 06:41] martint commented on #875
Some more details:

[code]

[2019-06-18 13:11] pettyjamesm commented on #966
That’s actually not quite true, the base AWS SDK request type supports setting a credential provider per request. The client credential provider is only called and used if the request doesn’t have one set directly by the time execution is starting, so there shouldn’t be a strict need for using a client level ThreadLocal to make that possible.

[2019-06-18 16:26] electrum commented on #966
@pettyjamesm You're right, the request object passed to each method extends `AmazonWebServiceRequest` which has `setRequestCredentialsProvider()`. Thanks for pointing that out, it makes this much easier.

[2019-06-18 17:18] #916 closed

[2019-06-18 17:38] electrum commented on #998
@findepi Making the tables lazy is a good approach, but will be more work. Are there plan shapes where removing the limit is advantageous? When we move to the lazy model, it should be easy to move the limit code there, so I'm fine with merging this for now.

@linxingyuan1102 Do you want to make the tables lazy as a follow up task?

[2019-06-18 17:41] #647 closed

[2019-06-18 19:19] linxingyuan1102 commented on #998
@findepi @electrum
Thanks for the review. I'll update #999 first and then work on to make `InternalTable` lazy.

[2019-06-19 11:20] Praveen2112 commented on #781
Once #676 is merged we can remove TableLayout for Kudu and Thrift connector

[2019-06-19 16:28] cdw9bf commented on #966
I think the better method would be `withRequestCredentialsProvider()` as it would allow for a small modification of the builder chain of each `new <method>Request()` (ex [here](https://github.com/prestosql/presto/blob/master/presto-hive/src/main/java/io/prestosql/plugin/hive/metastore/glue/GlueHiveMetastore.java#L190)).  Regardless, it definitely looks like we can set it on a per request basis.

I

[2019-06-19 18:03] electrum commented on #966
Agreed, the `with` version is better as it allows chaining.

Rather than changing the `HiveMetastore` interface, I think we should proceed with the `HiveMetastoreFactory` idea where we create it once per transaction, after making the required changes to `HiveConnector.beginTransaction()` to pass the session. I can look into the difficulty of changing the transaction manager to allow this.

[2019-06-19 18:25] electrum commented on #966
There's a circular dependency on passing `ConnectorSession` to `Connector.beginTransaction()`. The session contains catalog session properties, which have to be validated using `ConnectorAccessControl.checkCanSetCatalogSessionProperty()` before the session is created.

[2019-06-20 03:29] ebyhr opened #1028 "Hide CPU Time in UI when task.cpu-timer-enabled is disabled"
This isn't fatal issue, but one of our Presto cluster always returns 0.00ns as CPU Time even if the query is heavy. We are using Event Listener and the result is also 0, so I assume it isn't Web UI issue. Please let me know if someone have an idea to debug this issue. Also, it has been happened since past (We don't know the actual date) version.

<img width="683" alt="Screen Shot 2019-06-20 at 12

[2019-06-20 06:24] ebyhr commented on #1028
The cause is we disabled `task.cpu-timer-enabled`. Let me close this issue.

[2019-06-21 21:20] linxingyuan1102 commented on #998
@findepi @electrum
I'm thinking about the implementation of lazy data loading in the information schema connector. So the current implementation preloads all the data and builds a `FixedPageSource` instance as a `ConnectorPageSource`. I think what we want is to implement a specific `ConnnectorPageSource` which build `Page`s lazily. Is this correct?

[2019-06-22 20:49] findepi commented on #611
`get_partition_values` has been merged to Hive 2.3 branch (https://issues.apache.org/jira/browse/HIVE-21859).

[2019-06-23 20:11] findepi opened #1033 "Support X-Forwarded-For header for remote user address"
- add support for `X-Forwarded-For` header in:
  https://github.com/prestosql/presto/blob/1bb63038a273bb29f6f87d03f750bf7a4f80e534/presto-main/src/main/java/io/prestosql/server/HttpRequestSessionContext.java#L122

- for security reasons, this needs to be an opt-in feature

[2019-06-23 20:15] findepi commented on #1033
If this is enabled by default, users may too easily spoof their address. So "on" is not a good default.

If this is disabled by default, admins configuring proxy in front of Presto may wonder why this doesn't work out of the box. They would need to search docs to know what to enable. So "off" is not a perfect default either.

Therefore I propose to have a feature toggle like `support-x-forwarder-f

[2019-06-24 09:32] sopel39 commented on #962
We could potentially have two approaches in parallel, one for simpler cases `ANALYZE t WHERE ...` and one for more advanced cases.

[2019-06-24 12:06] stagraqubole commented on #576
@Jedda1314Jessie we are adding the read support for ACID tables. Review has been opened for the first part to support reading INSERT ONLY ACID tables.  I will be adding docs and reviews for full ACID support too soon.

[2019-06-24 18:14] electrum opened #1035 "Add from_charset function (generic version of from_utf8)"
This function would allow conversion from binary data in an arbitrary character set to a varchar. Example:
[code]

[2019-06-24 20:52] linxingyuan1102 opened #1036 "Add array functions: any_match(x, boolean lambda), all_match(x, boolean lambda) and none_match(x, boolean lambda)"
cc: @wagnermarkd

Consider the following table
[code]
The `any_match` function will simplify a query
[code]
to
[code]
The `all_match` function will simplify
[code]
to
[code]

An additional benefit is that this approach opens the possibility to short-circuit, whereas `contains(transform(arrary, lambda))` will transform the whole array.

Does anyone have comments?

[2019-06-24 20:55] martint commented on #1036
This sounds like a good addition!

[2019-06-24 20:57] linxingyuan1102 commented on #1036
@martint Thanks for the comment. I'll start the work.

[2019-06-24 20:57] electrum opened #1037 "Add support for renaming views"
We can use a similar syntax as for renaming tables (also same as PostgreSQL):
[code]
While it's tempting to make the existing table syntax work for this, the specification already differentiates between `DROP TABLE` and `DROP VIEW`, so it makes sense for rename to be separate as well.

[2019-06-24 21:44] electrum commented on #1036
Should we have a `none_match` variant as well? Or does `NOT any_match(...)` suffice?

[2019-06-24 21:47] linxingyuan1102 commented on #1036
@electrum I think `none_match` sounds good.

[2019-06-25 01:01] rash67 opened #1040 "Histogram remove inner classes"
Removes nested inner classes and replaces with instance method calls
or static method calls where possible.

Other minor cleanup of stale comments was done, and a minor
optimization in rehash was found avoiding an array lookup).

Overall, one should find that inner class methods were moved to
instance/static methods with any members as params. The pattern
was repeated, but the heart of the add() f

[2019-06-25 06:15] dain commented on #1000
[code]
#901

[2019-06-25 07:36] kokosing commented on #1040
What is the motivation behind this? Is related to performance or design (clean code)?

[2019-06-25 21:02] rmgpinto opened #1041 "Authentication error for user - simple bind failed Remote host terminated the handshake"
Hi,

I'm having issues with authentication with OpenLDAP (logs replaced with **example.com**).
I can authenticate with `ldapsearch`:
[code]
But presto fails with:

[code]
Revelant configurations

**config.properties**
[code]

**password-authenticator.properties**
[code]

Any ideas?

Thanks

[2019-06-25 21:33] electrum opened #1043 "Add to_charset function (generic version of to_utf8)"
This function would allow conversion from a varchar to binary data in an arbitrary character set. Example:
[code]
This function is the inverse of [from_charset](https://github.com/prestosql/presto/issues/1035).

[2019-06-26 00:52] electrum commented on #998
Yes, that sounds correct. I think a good solution is to add a new constructor to `FixedPageSource` that takes an `Iterator<Page>`. It would be similar to the existing constructor except it won't calculate the memory usage up front (it would set that to zero).

[2019-06-26 02:28] linxingyuan1102 opened #1046 "Enable the Information Schema Connector to load data lazily"
cc: @wagnermarkd @findepi @electrum

The current implementation of the Information Schema Connector preloads all the data from underlying connectors and then builds a `ConnectorPageSource`.

A better approach is to make it lazily build `Page`s on the fly.
1. This approach benefits queries with a limit clause, e.g., `select * from hive.information_schema.columns limit 1`.
2. In addition, it decreas

[2019-06-26 08:19] kokosing commented on #545
I will work on this.

[2019-06-26 08:23] Praveen2112 commented on #1037
@electrum Can I take this ?

[2019-06-26 08:26] sopel39 commented on #545
Does it mean that we will call metastore at least twice for metadata heavyweight queries?

Maybe there should be a way to serialize analysis

[2019-06-26 16:14] dain commented on #545
Yes.

I doubt this optimization is worth the work.

[2019-06-26 16:24] findepi commented on #545
The analysis itself usually is fast. The communication with external metastore (or RDBMS or other connectors' data sources) is what usually takes time, easily going into seconds. This is becomes significant for tactical queries which don't spend much time doing actual work. E.g. simple aggregate range queries over tables with large number of partitions.

[2019-06-26 17:46] kokosing commented on #545
What is more, connector access control also may communicate with external services. See hive sql-standard, for example when given user has many roles we might ask Hive metastore several times to check if user has access to a table.

[2019-06-26 18:13] kokosing commented on #545
By analysis I mean semantic analysis, the one that happens in `SqlQueryExecution` constructor and produces `Analisis` object. Currently we also collect a duration (query statistic) which is called `analysisTime` (see `SqlQueryExecution#doAnalyzeQuery`), however there we measure the time spent in logical planner. No semantic semantic analysis is done there.

@dain Can you please tell me where there

[2019-06-27 00:46] l0yu opened #1050 "PrestoBenchmarkDriver::run with scheduledExecutor hang"
Hi, I tried to schedule benchmark driver periodically with scheduledExecutor, but seems like the thread just hang

[code]
https://github.com/prestosql/presto/blob/master/presto-benchmark-driver/src/main/java/io/prestosql/benchmark/driver/PrestoBenchmarkDriver.java#L56

I turn ou ` --debug ` option, from console only see
[code]
I took thread dump found that scheduled thread always in waiting (parki

[2019-06-27 09:25] sopel39 commented on #545
@dain does the analysis happens twice in the current code base? If so, where does it happen?

[2019-06-27 10:06] stagraqubole commented on #576
Proposal for Full ACID table reads: https://docs.google.com/document/d/1VrF48kqr_paTtF5iSwryRhZvMwL_ovtbjcAedQd7hyk/edit?usp=sharing

I have this implemented and it works fine. There are some performance optimizations possible over this which can be picked once we finalize this solution.

@dain @electrum @martint please have a look.

[2019-06-27 10:15] archongum opened #1052 "Benchmark Driver docs very unfriendly"
It's almost impossible to run a benchmark against Presto by reading this article: [Benchmark Driver](https://prestosql.io/docs/current/installation/benchmark-driver.html)

Furthermore, digging into `presto-benchmark-driver` source code
![Snipaste_2019-06-27_18-04-00](https://user-images.githubusercontent.com/20929338/60258170-308eda80-9907-11e9-8eaa-3c34902fbc81.jpg)

But can't get it work either

[2019-06-27 16:08] dain commented on #1050
We haven't really used this benchmark package in 4 years, and instead use https://github.com/prestosql/benchto

If you can post the stack trace, I might be able to figure out what is going on.

[2019-06-27 16:12] dain commented on #545
No, today it happens once.  If someone runs a separate dispatcher, we will perform ansync analysis on a random worker to ensure the query is valid.  If the queueing the analysis will be canceled.

BTW we are only talking about analysis and not full planning, which means table schema and not partitions.

[2019-06-27 16:31] #1041 closed

[2019-06-27 16:46] l0yu commented on #1050
@dain
I see why, when use jackson dependency in benchmark based project, should **remove** <scope>provided</scope>
Change to, and works
[code]
previously, I did not see error log since config at warn level, the issue is
[code]
And that thread just hang silently ...

[2019-06-27 16:46] #1050 closed

[2019-06-27 16:59] l0yu commented on #1052
@archongum I once run into similar issue
my case is benchmark app could ping all nodes in cluster (ex: workers)
after network connection fixed, benchmark works. or you can run in standalone mode first and test

[2019-06-27 17:00] rmgpinto opened #1053 "DROP TABLE not deleting data from S3"
Hi,

We're having an issue dropping tables that are created, then have data inserted via `INSERT INTO`.

Example:
[code]
The table is deleted from hive metastore, but not from the S3 bucket. If we try to re-create the table, there is an error saying that the table location already exists

This does not happen if the table is created with: `CREATE TABLE AS ... SELECT`

[2019-06-27 18:06] dain commented on #907
I believe this was resolved by fixing a leak in the query history.   Is this fixed for you?

[2019-06-27 18:10] electrum commented on #752
This was fixed in Presto 312.

[2019-06-27 18:10] #752 closed

[2019-06-27 18:12] electrum commented on #775
@SinghAsDev Can you still reproduce this? If so, please provide the stack trace

[2019-06-27 18:12] l0yu commented on #1050
@dain
where to find definition for **process cpu time** and **query cpu time** in presto
https://github.com/prestosql/presto/blob/master/presto-benchmark-driver/src/main/java/io/prestosql/benchmark/driver/BenchmarkQueryRunner.java#L267
cpu time is how long query processed by cpu, a virtual clock ?

[2019-06-27 18:27] dain commented on #616
@guyco33 That only handles explicit casts. The implicit ones are hardcoded.

[2019-06-27 19:58] findepi commented on #1053
Since the table was created as managed (not "external") table, the Metastore is supposed to delete the data upon DROP TABLE.
However, most likely it didn't have the necessary privileges. Can you check the metastore log output for any related messages?

[2019-06-27 20:00] electrum commented on #1053
To expand on @findepi's answer, in the Hive model, deleting data for a partition or table is the metastore's responsibility. The `drop_table()` call on the metastore has a `deleteData` flag which Presto sets to true. Presto never deletes the data itself.

[2019-06-27 20:27] dain commented on #1050
That line of code is:
[code]
This is reading the cpu time counter for the entire Java process on that worker.  This value comes from the operating system and is the sum total of all time the process spent scheduled on a CPU core.

The query cpu time is the time reported by the query itself.  Presto tracks this by calculating the delta CPU time of a thread assigned to work on a query.  The process

[2019-06-27 21:07] findepi commented on #1000
[code]

https://github.com/prestosql/presto/pull/1042

[2019-06-28 04:03] archongum commented on #1052
@l0yu I already run in standalone mode but didn't work.
How to play with the `suite.json` and `sql/*.sql` files? Could you give me a demo for `tpch connector` please?

[2019-06-28 04:16] l0yu commented on #1052
@archongum
you can run with ` --debug ` option for details
and ` --help ` show how to customized other options

[2019-06-28 07:12] ebyhr opened #1057 "Failed to access CSV table after adding a column on Hive"
If we add a column to csv table on Hive, we can't access the table from Presto anymore. I could access the table if I add a column on Presto.

Steps to reproduce
[code]

[code]

Hive metastore
[code]

[2019-06-28 07:20] #625 closed

[2019-06-28 07:24] sopel39 commented on #1052
@archongum What use case do you try to benchmark?

[2019-06-28 08:25] archongum commented on #1052
@sopel39 Thanks for your attention.
We built our Data Warehouse upon Hive(HDFS, ORC) and Presto do the ETLs and analytical queries which resource-sensitive but low concurrence.
But now, we're going to use Presto to publish DM(Data Mark) to our Web/App using which require high concurrence - for us, a small company, maybe not that high - hence, we want to find out how does Presto behave in concurren

[2019-06-28 10:06] rmgpinto commented on #1053
The permissions are correctly set because the table can be dropped if it's created with a `CREATE TABLE ... AS SELECT ...`.

[2019-06-28 21:02] findepi commented on #1053
@rmgpinto what does the metastore log say?

[2019-06-28 21:34] findepi commented on #1057
We need to check if it's a CSV table in  https://github.com/prestosql/presto/blob/48e73d9b90537e84e411ec934ad9d3511d60b861/presto-hive/src/main/java/io/prestosql/plugin/hive/metastore/thrift/BridgingHiveMetastore.java#L83

cc @kokosing

[2019-06-28 22:14] findepi commented on #1000
[code]

https://github.com/prestosql/presto/pull/1056

[2019-06-28 22:36] deepcodejam commented on #1057
@findepi Is it available for pickup? If yes, may I work on this?

[2019-06-28 22:41] phd3 opened #1059 "Periodic update of resource group CPU consumption"
Resource group manager enforces limits on CPU usage by individual resource groups impacting its ability to schedule more queries. The CPU usage for a query is accounted for when a query finishes. This creates issues like this:

- Limits on query ingestion don't take into account current resource consumption for running queries. This can allow a user to submit a query even after currently running q

[2019-06-28 22:45] phd3 commented on #1059
Working towards implementing periodic CPU consumption tracking for resource groups, will create a PR.

[2019-06-29 00:17] linxingyuan1102 commented on #1046
I implemented a basic version of "lazy" `InformationSchemaPageSource` and `InformationSchemaPageSourceProvider` but found the benefits mentioned above didn't show up.

It turns out `InformationSchemaMetadata::getPrefixes` is also a bottleneck which prevents the first query result to be returned in a low latency.

Please LMK if anyone has a comment.

[2019-06-29 01:27] ebyhr commented on #1057
I confirmed with https://github.com/prestosql/presto/pull/920 and it seems the PR resolves this issue.

[2019-06-29 16:04] anoopj commented on #1000
* Get `PrestoS3FileSystem` to work with the AWS Default Credentials Provider #741

[2019-06-29 21:25] findepi opened #1062 "Function currying"
Some functions are often invoked with one argument being a constant and they do some preparatory computations that do not need to be done for each row.

Example: `date_format` builds a format object from format string, before considering datetime argument.

Such functions could benefit from "currying", allowing certain computations to be done when only some argument is bound but not all yet.
The "

[2019-06-29 21:29] findepi commented on #1057
@deepcodejam thanks for asking! @ebyhr you're right. This is going to be fixed by #920.

[2019-06-30 21:25] rmgpinto commented on #1053
@findepi I've isolated the log of the drop statement, please find it below.
I can't find anything wrong with it.

[code]

[2019-06-30 21:30] rmgpinto commented on #1053
If I drop the table (but create it with `CREATE TABLE example.table1 AS SELECT 1 AS id`, the metastore can delete the S3 folder properly.

[code]

[2019-06-30 21:38] findepi commented on #1053
From the first log:

It is apparent the Metastore attempts to delete data on S3.
It seems it doesn't see the data files to delete and leaves them behind
(the second log contains the name of data file being deleted).
I think this could be S3 consistency issue.
- does it happen every time?
- do you observer the same behavior when you do a long sleep between INSERT and DROP?
  For example you INSERT

[2019-06-30 21:45] rmgpinto commented on #1053
It happens every time.

I'll execute the INSERT today, and leave the DROP for tomorrow, I'll post the results as soon as I get them.

Thank you for your help

[2019-07-01 06:10] findepi commented on #683
I run experiment (https://github.com/prestosql/presto/pull/1064).
PT multinode failed 5 of 10 times:

- 1 time: master could not connect to master for few minutes
- 2 times: master failed OOM
- 2 times: freeze

Then I run the same setup without G1 (hey, G1 isn't suitable for 1-2g heaps) and had 9 of 9 success (1 failure from maven).

[2019-07-01 07:01] rmgpinto commented on #1053
Same behaviour.

I'm running prestosql 314.

[2019-07-01 08:06] sopel39 commented on #1052
@archongum You could also try using https://github.com/prestosql/benchto. It does support running queries concurrently and various other scenarios. However, it requires more setup as it consists of various components (e.g benchmark server, benchmark runner, benchmark RDBMS).

Alternatively maybe it's possible to add concurrency support to Benchmark Driver.

[2019-07-01 09:13] bb786112 opened #1065 "Add file-based and PAM authentication"
Hi,

Can we add a new File & PAM based auth in Presto by default? Many user does not want to work with LDAP option already available in Presto.

Thanks
Bharat

[2019-07-01 10:10] guyco33 commented on #1053
I played with it for a while and found interesting findings.

![image](https://user-images.githubusercontent.com/5966852/60426389-40efcf80-9bfd-11e9-9000-1b9c310f3315.png)

In Presto:
`create table temp.test_s3_drop_issue (x int);`
`insert into temp.test_s3_drop_issue values (10), (20);`
`insert into temp.test_s3_drop_issue values (30), (40);`

![image](https://user-images.githubusercontent.com/59

[2019-07-01 10:25] stagraqubole commented on #1065
This would be of interest: https://github.com/prestosql/presto/pull/797

[2019-07-01 11:15] bb786112 opened #1066 "prestosql pre-build rpm file should be available in maven"
Hi,

We always need to create a rpm from source to install on linux using Apache Ambari. Can we always add a rpm file on maven so, user can directly use rpm without building it.

We have rpm available for prestodb in maven.

Thanks
Bharat

[2019-07-01 11:41] igorcalabria commented on #907
@dain Yes. The root cause was the query history leak. The payload is still kinda big for a polling endpoint, but it's not harming us any more. Thanks for the quick fix.

[2019-07-01 17:36] findepi commented on #1066
@bb786112 I think it's already there.
please check
https://search.maven.org/artifact/io.prestosql/presto-server-rpm/
and eg https://search.maven.org/remotecontent?filepath=io/prestosql/presto-server-rpm/315/presto-server-rpm-315.rpm

[2019-07-01 17:38] Praveen2112 commented on #574
@jiangzhx I guess we can generate similar plan (like the one generated for table) for the above query if we replace
[code]

in `PreferredProperties` line no 373 with this

[code]

It solves the problem of skewing but brings back the problem of shuffling the data.

@martint , @findepi Your insights on this ?

[2019-07-01 17:43] Praveen2112 commented on #574
Plus there is an issue on hash value generated twice for (once after the tableScan and other is after the remote source) and I am currently working on it. Will raise a PR for the same by this week.

[2019-07-01 18:27] electrum commented on #1066
We should link to it on the website, however: https://github.com/prestosql/prestosql.io/pull/33

[2019-07-01 18:27] #1066 closed

[2019-07-01 19:43] dain commented on #1062
Currently this is handled in regex and Json functions by introducing new types for the computed value, and then relying on the constant folder to convert this to constants which are bound into the generated byte code.  This is of course pretty cumbersome.

Do you have thoughts on how this would work in practice?

BTW, I'd like to have a system that could capture the "extra" computed values used by

[2019-07-01 20:03] tooptoop4 commented on #907
@dain  which PR has the fix?

[2019-07-02 00:26] dain commented on #907
@tooptoop4 there were several fixes in [314](https://prestosql.io/docs/current/release/release-314.html), but there may be others I forgot about.  I would just upgrade.

[2019-07-02 00:26] #907 closed

[2019-07-02 05:57] PranayMunshi1982 opened #1068 "How to use Presto Configuration parameters dynamically"
Hi team,

I am writing one application to optimize the Presto, and show the recommendations after running each query based on cluster stats. I want to use
Presto config properties dynamically from my Java program. I know I can place Presto configuration properties inside “etc/config.properties” file, but in order to take advantage of properties I need to restart the presto server. What I want I sh

[2019-07-02 06:56] dain commented on #1068
Properties contained in the configuration properties files can not be changed after the process has started.  There simply is no facility to change these, and there isn’t even a permanent linkage between the initial properties and the services that consume them, so even if we wanted to change them we couldn't.  Additionally, many of those properties are things like ports and thread pools that are

[2019-07-02 07:09] #683 closed

[2019-07-02 07:15] Praveen2112 commented on #1046
I was waiting for this patch so that we could modify it to solve this issue too (https://github.com/prestosql/presto/issues/631#issuecomment-486621503)

[2019-07-02 08:56] #1005 closed

[2019-07-02 08:58] findepi commented on #1000
[code]

https://github.com/prestosql/presto/pull/1007 https://github.com/prestosql/presto/issues/1005

[2019-07-02 09:43] findepi opened #1070 "Reuse sub-expressions"
In case of a query that computes a deterministic sub-expression multiple times, we should compute it only once.

For example, the following query could compute `split(x, '_')[2]` once and reuse.
[code]

[2019-07-02 17:15] RosterIn commented on #135
It's really weird that presto doesn't have ANY way to convert UTC timestamp to another timezone but without having the timezone string.
https://stackoverflow.com/questions/48633900/presto-cast-timestamp-w-tz-to-plain-timestamp-without-converting-to-utc

[2019-07-02 20:08] raunaqmorarka commented on #52
Opened PR https://github.com/prestosql/presto/pull/1072 for implementing dynamic partition pruning in hive connector.
Dynamic row filtering will be implemented in a subsequent PR.

[2019-07-02 21:30] findepi commented on #135
@RosterIn I am not sure I fully understand your needs. I invite you to Presto community Slack (https://prestosql.io/community.html), I will be happy if I can help in your particular use-case.

[2019-07-02 23:01] qqibrow opened #1073 "Optimize rank function execution"
When row_number comes with a limit, presto will use TopN algorithm instead of sorting so such query will run faster and use less memory.

[code]
row_number Query Plan
[code]
Similar rank query are not optimized these days because rank output differs row_number output in that [“equal” rows are ranked the same](https://blog.jooq.org/2014/08/12/the-difference-between-row_number-rank-and-dense_rank/).

[2019-07-03 03:09] electrum commented on #1073
This seems reasonable. The amount of memory required is potentially unbounded, but the same is true for window functions. The heap likely has more size overhead, but this shouldn’t matter except for pathological cases. We should have a config and session property to allow disabling the optimization.

This could also be done for `dense_rank`.

[2019-07-03 06:36] sopel39 commented on #1073
There are such properties, see `optimize_top_n_row_number`.

The problem with this optimization is that people use `row_number()` to implement versioning of data rows, so you can create view that selects newest data, e.g:
[code]
In such case `TopNOperator` would make huge memory overhead since `row_id` is extremely distinct and each row doesn't have tons of updates.
We've seen multiple customers h

[2019-07-03 06:41] sopel39 commented on #1070
The problem here could be estimating when it's worth to do subexpression extraction (how complex it should be to consider extraction). On one hand, CPU could optimize expression evaluation. On the other hand, if you added another projection for that subexpression then the overhead might not be worth it.

Perhaps some approach when common subexpression is evaluated once within generated bytecode fo

[2019-07-03 10:01] #1068 closed

[2019-07-03 10:01] PranayMunshi1982 commented on #1068
Thanks @dain . This was really helping.

[2019-07-03 10:05] bb786112 opened #1076 "Presto-Ranger authorization is not working when specific schema is provided in the ranger policy"
When we create ranger policy for presto and provide catalog as "hive" and schema as "aa",
 and table and column as "*"
and if we try to connect presto-cli using below command:

./presto-cli --server https://localhost:7272 --keystore-path /etc/presto.jks --keystore-password password  --catalog hive --schema aa --user abc --password

The result is access denied for particular schema for a particular

[2019-07-03 13:00] findepi commented on #1053
@guyco33 thank you for your investigation!

Is it `presto-db/test` or `presto-db/temp`?
Is it a typo when composing github comment or you actually tested with a wrong path?

There is a difference in the trailing slash

[code]

I think Hive metastore code uses `Path(String)` constructor:
https://github.com/apache/hive/blob/9fb2238fac7707b2fbb3a33066d1f9cc077904f3/metastore/src/java/org/apache/hadoo

[2019-07-03 16:57] mbasmanova opened #1080 "Predicate pushdown may result in query failure"
Projection `IF (o.orderstatus = 'P', t.x[3], NULL) as y` combined with `o.orderstatus = 'P' AND y IS NOT NULL` filter on top of a join causes pushdown of `x[3] IS NOT NULL` predicate into `t`. This may trigger `Array subscript out of bounds` error if `t` has records where `x` has fewer than 3 elements. In case these records don't survive the join, the overall query should pass, but it fails.

To r

[2019-07-03 17:51] qqibrow commented on #1073
Do you have query to replicate such issue? `optimize_top_n_row_number ` will introduce `TopNOperator` in both leaf fragment and intermediate fragment.  Which one causes the memory overhead?  @sopel39

[2019-07-04 01:57] electrum commented on #1000
[code]
#1016 1016

[2019-07-04 05:09] kokosing commented on #971
Fixed with #972

[2019-07-04 05:09] #971 closed

[2019-07-04 05:21] kokosing commented on #1000
[code]
#972

[2019-07-04 07:47] guyco33 commented on #1053
Yes. It's a typo. Thanks @findepi for catching it !

[2019-07-04 08:23] Crossoverrr opened #1083 "There are 5.5 GB more LocalDispatchQuery objects In coordinator's GC stack after a lone time pressure test."
There are more and more LocalDispatchQuery object in coordinator's GC stack after a long time pressure test(6 more hours).
Then the performance of presto will be very low.
So I dumped the hprof file of jvm and I found that there are 5.5 GB more LocalDispatchQuery object.
I am using a presto-hbase connector to fetch data from HBase.
What should I do? Is this a bug of presto?
![image](https://user-i

[2019-07-04 08:25] Crossoverrr commented on #1083
My presto version is prestosql-312.

[2019-07-04 08:30] guyco33 commented on #1053
The hidden 0 "file" (that is created after creating an empty table) is AWS implementation for Folders (https://docs.aws.amazon.com/AmazonS3/latest/user-guide/create-folder.html)
I checked the content type of this hidden 0 "file":

Test1 - Folder (test_s3_drop_issue/) created by AWS console:
`ObjectMetadata objectMetadata1 = fs.s3.getObjectMetadata("presto-db","temp/test_s3_drop_issue/");`
`System.

[2019-07-04 08:41] sopel39 commented on #1073
The final one that is long-living

[2019-07-04 08:44] findepi commented on #1083
@Crossoverrr there was a know memory leak in 312. Could you please redo your test in 315?

[2019-07-04 08:49] Crossoverrr commented on #1083
Do you mean the #843 "Fix leak in operator peak memory computations" in prestosql-313?
![image](https://user-images.githubusercontent.com/33892550/60652968-b36de300-9e7b-11e9-96a1-b9307dd47bbe.png)
Thank you very much @findepi , I will try that 315.

[2019-07-04 11:17] findepi commented on #1083
@Crossoverrr no, not this one. I don't remember which exactly, but you should be good with 315 anyway.
Let me close the issue for now. If you still experience _the same_ memory leak in 315, please reopen.
If you experience some other problem, please create a new issue.

Also, I recommend you join the `#troubleshooting` channel on Presto Slack (https://prestosql.io/community.html) if you haven't ye

[2019-07-04 11:17] #1083 closed

[2019-07-04 11:58] kokosing commented on #1000
[code]
#906

[2019-07-04 16:49] bb786112 commented on #1076
I think One functionality is missing to check schema access. checkCanSelectFromColumns
 methos of AccessControlManager checking only catalog using checkCanAccessCatalog method.

Where we should check schema access which is missing in presto.

[2019-07-04 17:31] pgagnon commented on #1000
[code]

#1011

[2019-07-04 22:02] vweevers commented on #380
Is FB Presto going to be phased out in favor of this fork? If not, could this project be renamed to avoid confusion?

[2019-07-04 23:08] martint commented on #380
I can't speak for what FB intends to do with their project, but the original founders and the major contributors that are still active (who wrote the majority of the codebase) are developing on this repository. It's also the one supported by many Presto vendors such as Starburst, Qubole, TreasureData, Varada, etc, and has a large and growing community of users and contributors.

[2019-07-05 02:21] Crossoverrr commented on #1083
Thanks again!
According to our pressure test results, most of the query scenarios showed a 10% to 20% improvement in performance, which made us very excited!

[2019-07-05 05:16] #1057 closed

[2019-07-05 05:18] kokosing commented on #1000
[code]

#920

[2019-07-05 05:31] findepi commented on #1083
@Crossoverrr glad to hear that! This is huge!  If you consider blogging about this, let us know (eg link here). We can tweet it further.

Also, I see you joined our slack. Welcome to the community! :)

[2019-07-05 05:32] kokosing opened #1085 "Allow to set header and footer skip line count for CSV tables"

[2019-07-05 05:52] vweevers commented on #380
Having read this thread and the PSF announcement, apologies, I'm still missing the _why_ of the fork. Both have a dedicated GitHub org, both claim to be the official home of Presto, both had an equal amount of activity (and number of external contributors) in the past 30d.

<details><summary>Activity (click to expand)</summary>

`prestodb/presto`:
![image](https://user-images.githubusercontent.com

[2019-07-05 06:25] findepi commented on #380
@vweevers I see where you are coming from. Yes, as the activity shows, both projects are active.
Please have a look at project _contributors_. You will find out that _this_ is the Presto project _we_ built over the _years_.
This is the same team, same people. In my opinion, renaming it would cause more confusion, more harm than good.

Also, this is the same _community_ that gathered around the pro

[2019-07-05 06:35] Crossoverrr commented on #1083
It's my pleasure to join the presto community ! :)
Yes, if the result is good I will spend some time to write a blog, hahaha.

[2019-07-05 07:02] vweevers commented on #380
@findepi Thank you.

One additional note, regarding the project description: people may read "Official home of the _community version_ of Presto" as this being a "light" edition, as if there is also a paid Enterprise edition. Perhaps tweak that a bit.

[2019-07-05 07:10] electrum commented on #1083
If you don’t have your own blog or would like to contribute the Presto community blog, its easy, just write some markdown for the post and send a pull request.

https://prestosql.io/blog/
https://github.com/prestosql/prestosql.io

[2019-07-05 08:00] Crossoverrr commented on #1083
OK. I got it. I will try that as soon as I finished my test on prestosql-315. :)

[2019-07-05 18:13] martint commented on #1037
The proposed syntax seems reasonable.

[2019-07-05 18:25] martint commented on #1000
@findepi, what was broken?

[2019-07-05 18:31] martint commented on #1000
@kokosing, just to be clear, this affects the PostgreSQL, MySQL, Phoenix, Redshift and SQLServer connectors, right?

[2019-07-05 18:33] findepi commented on #1000
@martint `SHOW TABLES FROM tpch.sf2` would fail (`sf2` is a hidden schema).

[2019-07-05 20:24] springjd opened #1088 "Insert into bucketed, unpartioned Hive table not allowed"
Up through 316 when inserting into a Hive table that is bucketed, but not partitioned, e.g.

[code]
Presto give the error:
`Query 20190705_191449_00002_f53b3 failed: Cannot insert into bucketed unpartitioned Hive table`

Inserting into a partitioned, bucketed table works as expected.

[2019-07-05 23:14] anoopj opened #1089 "CREATE TABLE AS SELECT does not work for external tables"
Sounds like CTAS does not work with external tables.  Any reasons why this should not be supported? We can contribute a patch if there is agreement.

[code]

The above error is coming from [here](https://github.com/prestosql/presto/blob/master/presto-hive/src/main/java/io/prestosql/plugin/hive/HiveMetadata.java#L1085-L1086).

Expected result: The above table should be created successfully with the

[2019-07-05 23:28] anoopj commented on #1089
cc @dain @electrum

[2019-07-06 05:58] findepi commented on #1089
The only reason that I see not to implement this is that subsequent `DROP TABLE` will leave data behind.
Maybe what we actually want is the ability to create non-external (managed) tables with specified location?
E.g. `WITH (format = 'ORC', location=....)`

Today, a workaround is to `CREATE SCHEMA somewhere_else WITH (location=....)` and create tables within that schema.
This works, but is verbose

[2019-07-06 12:31] findepi commented on #1000
[code]

https://github.com/prestosql/presto/pull/997

@martint please add this to https://github.com/prestosql/presto/pull/1087

[2019-07-07 17:54] anoopj commented on #1089
Agree that both approaches (allowing CTAS with external tables or allowing managed tables to have arbitrary locations) can work.

[2019-07-07 18:02] electrum commented on #1089
Both seem fine. These restrictions were put in place because allowing users to do them seemed like a bad idea (files in random places), but we could allow them with config flags so that administrators can disable the behavior.

[2019-07-07 18:29] kokosing commented on #1000
Not for Phoenix. Phoenix is "semi-JDBC" connector, it does not use default JDBC guice modules and so didn't get statistics collection.

[2019-07-07 19:17] guyco33 commented on #1053
Might explains why the hidden 0 "file" is not deleted after the first INSERT https://issues.apache.org/jira/browse/HADOOP-13230

[2019-07-08 11:54] groobyming opened #1096 "build failed on tag:308 Dependency problems found"
Hi, everyone.
I think There are some error on dependency configuration in pom.xml on tag: 308.
How to build successfully? Thanks.

Error as follows：
[INFO] presto-root ........................................ SUCCESS [  4.097 s]
[INFO] presto-spi ......................................... SUCCESS [ 17.269 s]
[INFO] presto-plugin-toolkit .............................. SUCCESS [  4.150 s]
[INFO] pres

[2019-07-08 13:40] zorro1992 commented on #1076
Hey ,
Which Presto version are you using ? Can you please share that . Thank you

In case you have picked some WIP commits while building the jar then let know which are those .

[2019-07-08 15:38] tooptoop4 commented on #1076
@bb786112 can't reproduce ur issue, policy at specific schema level is allowed for me when querying

[2019-07-08 17:06] qqibrow commented on #1073
Why `WindowOpeator` don't have such issue when `optimize_top_n_row_number` is off? Does this imply certain improvement can be done in `TopNOperator`? @sopel39

[2019-07-08 18:10] electrum commented on #1000
[code]
#981

[2019-07-08 18:11] electrum commented on #1000
[code]
#982

[2019-07-08 18:12] electrum commented on #1000
[code]
#1011

[2019-07-08 18:13] electrum commented on #1000
[code]
#1061

[2019-07-09 03:25] #1000 closed

[2019-07-09 04:02] groobyming commented on #1096
It is a problem with proxy configuretion

[2019-07-09 04:02] #1096 closed

[2019-07-09 04:07] groobyming opened #1097 "presto-docs: Failed to run the report: Sphinx report generation failed"
Hi,guys
   I am trying to  make the build of presto(tag 308), but failed
 Below is the build log

[ERROR] Failed to execute goal io.airlift.maven.plugins:sphinx-maven-plugin:2.1:generate (default) on project presto-docs: Failed to run the report: Sphinx report generation failed -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal io.airlift.maven.plugins:sphin

[2019-07-09 06:00] electrum opened #1098 "Release notes for 317"
## David Phillips
- [x] all checked
-  07-17 11:36:11    793b5df936 Add SemanticErrorName to QueryFailureInfo
-  07-20 15:19:55    fbb07f4e56 Fix exception handling when using metastore call logging
-  07-23 17:36:01    e307cf569a Fix encoded url parameter of url_extract_parameter
-  07-28 15:28:57    dffd855a91 Fix Hive bucketing version safety check for writes
-  07-28 21:33:13    0aeea5c796 Mov

[2019-07-09 07:21] BlueStalker opened #1099 "Looks like there is something wrong with the decimal operations;"
```select cast(10.0 as Decimal(38, 18)) * cast(10.0 as Decimal(38, 18)); ==> com.facebook.presto.spi.PrestoException: Decimal overflow```
while
```select cast(0.1 as Decimal(38, 18)) * cast(0.1 as Decimal(38, 18)); works```

[2019-07-09 08:16] sopel39 commented on #1073
`WindowOperator` keeps entire pages so row overhead is minimal. On the other hand, `TopNOperator` keeps rows heap for each group and that introduces huge overhead of there are tons of groups and little rows per group.
It might be possible to improve `TopNOperator` though, but I didn't investigate that deeply.

[2019-07-09 10:01] kokosing commented on #1097
Can you please go into a `presto-docs` directory and run `make clean html`? That should show more detailed error message.

[2019-07-09 11:03] hustnn commented on #1099
I think the multiple of 10.0 * 10.0 for Decimal(38, 18) exceeds  Decimal(38, 36).

select cast(10.0 as Decimal(38, 16)) * cast(10.0 as Decimal(38, 16)) should work by reducing the precision of decimal part.

[2019-07-09 13:15] xumingming opened #1102 "MongoDB collection name case-sensitivity"
MongoDB Collection is case sensitive: It is totally valid for one database to have two collections: `Hello`, and `hello`, while Presto-MongoDB Connector use SchemaTableName to represent collection name, SchemaTableName itself is not case sensitive, it causes that we can not query mongodb collection which have uppercase letter in its name.

[2019-07-09 13:33] prabakarankrishnan opened #1103 "int column in parquet not properly read by Presto"
In parquet file

optional int96 in_time;
optional int96 out_time;

But in Presto it is showing like below if column data type declare as varchar.
              id                | in_time  | out_time

------------------------------------------+----------+----------

 d_1234.1986_-11.1233 | ^@b<EF><BF><BD><EF><BF><BD>dA^@^@t<EF><BF><BD>%^@ | ^@<EF><BF><BD>

[2019-07-09 16:00] findepi commented on #1096
@groobyming thanks for updating the issue, happy to hear the problem is resolved now

[2019-07-09 16:01] findepi commented on #1103
@prabakarankrishnan how did you define the table? I.e. what's the output of `SHOW CREATE TABLE your_table`?

[2019-07-09 16:11] findepi commented on #1102
This can be fixed by finding the collection case-insensitively.

Fixing this requires https://github.com/prestosql/presto/issues/17

[2019-07-09 21:21] findepi commented on #1098
[code]

https://github.com/prestosql/presto/pull/1094

[2019-07-09 21:46] findepi commented on #1099
@BlueStalker, as @hustnn observed, when `x` and `y` are of `decimal(38, 18)` type, their multiplication is of `decimal(38, 36)` type.
When multiplying, scales (numbers of digits after decimal point) add up: https://github.com/prestosql/presto/blob/c74b775e103a7a239aafef1b7ca15fe6370495fe/presto-main/src/main/java/io/prestosql/type/DecimalOperators.java#L252

`decimal(38, 36)` cannot represent the

[2019-07-10 08:06] kokosing commented on #1098
[code]
#1095

[2019-07-10 09:05] raunaqmorarka commented on #1098
[code]
#1093

[2019-07-11 02:13] martint commented on #1099
This is what the spec says about this:

[code]

[2019-07-11 06:44] bb786112 commented on #1076
We have tried 315 & 316 version with ranger integration and we can still re-produce this issue.

Steps to Re-produced :

Create a presto (Not Hive) policy for Ranger.
Assign catalog as "*" or hive
Assign schema as "dbname" NOT "*" --- Star works
Assign table and column as "*"
Assign a user to this policy.

Now try to  access presto using same User and access the same schema which is assigned to sa

[2019-07-11 08:31] archongum opened #1107 "Error occur "Can not read SQL type timestamp from ORC stream .long_type of type LONG" since prestosql-308"
(Before all)
This error occurs since prestosql-308. According to my tests:
* Works on: 305, 306, 307, starburst-302.e.9
* Not Works on: 308, 309, 311, 315, 316, starburst-312.e.1 (So I assume it happens since 308)

---

# Re-produce steps

## 0. Presto version
I use 307 and 308.
Do the following steps on 307 or 308. (I did these on 307 and I think it doesn't matter on which version)

## 1. Create

[2019-07-11 08:49] archongum commented on #1107
Update

---

Works between `int` and `date` types.

[code]

Result:

int_type | date_type
---------|----------
2019-01-01 | 2019-01-01

[2019-07-11 11:29] OleksiiDuzhyi opened #1109 "Add query max-memory-per-node usage to query completion event"
Hi,

We use Presto extensively for ETL.
We are collecting query stats from QueryCompletedEvent and we'd like to have an ability to identify queries that are close to `query.max-memory-per-node` configuration in order to redesign/rework them and avoid failures of critical ETL during night hours.

Thank you.

[2019-07-12 02:33] archongum commented on #1107
Compare 307 and 308: https://github.com/prestosql/presto/compare/2ae6f76...25637d2

Are these commits relevant?

![Snipaste_2019-07-12_10-32-02](https://user-images.githubusercontent.com/20929338/61098088-516f3800-a490-11e9-9a31-294ac45eaef4.jpg)

[2019-07-12 06:22] dain commented on #1107
The new code is very strict about type the coercions that were implicitly happening in the old versions.  There were many cases where the code perform a wrong/illegal conversion, and cases where expected coercions did not work.  The new code restricts the type coercions to and explicit list that we believe is what ORC in Hive supports.

In this exact setup, the data in the file is a BIGINT (64bit

[2019-07-12 07:06] archongum commented on #1107
@dain It's odd: This re-produce table `b_307` can't be read by Hive. But the table from my dataware house can be read by Hive!

Table `fact_sales_order_item_cancel` is the one which column `sale_time` can be read from `long/bigint` to `timestamp` in prestosql-307 and Hive but can not be read on prestosql-308+.

On Hive:
![Snipaste_2019-07-12_14-56-34](https://user-images.githubusercontent.com/2092

[2019-07-12 07:06] sopel39 commented on #1109
It would be definitely a valuable addition. We have all memory information in stats, but we would need to aggregate that by node to compute peak.

[2019-07-12 07:59] archongum commented on #1107
@dain From ORC type to Table type

1. prestosql-307 or earlier

operation | doable
----------|-------
from `int` to `date` | ✅
from `long/bigint` to `timestamp` | ✅

2. prestosql-308 or later

operation | doable
----------|-------
from `int` to `date` | ✅
from `long/bigint` to `timestamp` | ❌

3. hive

operation | doable
----------|-------
from `int` to `date` | ❌
from `long/bigint` to `timestamp`

[2019-07-12 08:46] RosterIn commented on #135
@findepi
This is what I want to do:  `timestamp with timezone `  -> `timestamp `

**The problem:**
the act of casting timestamp with timezone to a timestamp is resulted in the timestamp being converted back to **UTC time**.  so there is no direct way to do what I want.
Now, say that I take this UTC and want to cast it to my timezone.
I can't do that. It will always add me the 'Australia/Melbourne'

[2019-07-12 12:16] sopel39 opened #1118 "Normalize OR expressions referencing the same symbol as IN"
For example:
[code]
should be rewritten to:
[code]
IN expressions are easier for planner to deal with. For example, they will be inlined in `PredicatePushdown`.

[2019-07-12 12:22] sopel39 commented on #980
I've created explicit issue for normalizing `ORs` to `INs`: https://github.com/prestosql/presto/issues/1118

[2019-07-12 12:25] martint commented on #1118
@Praveen2112 is looking into this

[2019-07-12 14:09] #980 closed

[2019-07-13 16:22] JamesRTaylor opened #1120 "Include filtered columns of table scan in columnConstraints of EXPLAIN (TYPE IO)"
The filtered columns of a table scan that will be pushed into the Parquet reader should be included in the columnConstraints when an EXPLAIN (TYPE IO) is performed. For example, custkey should be included for this query (in addition to the partition columns):

    SELECT * FROM tpch.orders WHERE custkey = 20

Note that this used to be the case (not sure when it changed).

[2019-07-14 02:56] d4nielfr4nco opened #1122 "Feature Request - Recursive Queries Support"
It would be really nice if Presto supported recursive queries.

A potential use case would be to dynamically parse generic json strings to get all nested and unnested json keys.

[2019-07-14 04:35] electrum commented on #1122
Can you give some examples of the JSON parsing? It might be possible to solve that directly without generic recursive query support.

[2019-07-15 07:44] zijian-qiao commented on #1098
[code]
#1113

[2019-07-15 08:23] sopel39 commented on #1098
[code]

[2019-07-15 09:19] guyco33 opened #1126 "Cluster Overview QUEUED QUERIES metric got out of sync"
Running Presto version 316

`QUEUED QUERIES` reports higher values than what is actually reported by ```select count(*), state from system.runtime.queries  group by 2 order by 1 desc```

![image](https://user-images.githubusercontent.com/5966852/61205275-474f7280-a6f8-11e9-864d-2da9d420c7c5.png)

![image](https://user-images.githubusercontent.com/5966852/61205367-8382d300-a6f8-11e9-8802-5646366be7

[2019-07-15 11:14] kokosing commented on #1126
It should be fixed with https://github.com/prestosql/presto/pull/1079

[2019-07-15 21:33] findepi commented on #135
@RosterIn If I understand this correctly, you want timestamp to represent local date/time with no implicit relation to any time zone.
This is covered by https://github.com/prestosql/presto/issues/37. Today, the engine supports this, but some connectors do not, so it cannot be enabled by default.
Depending on which connectors you use, you can experiment with what standard compliant timestamps by se

[2019-07-16 02:19] Crossoverrr commented on #1083
We didn't found this problem in prestosql-315, and the performance is as good as prestosql-312, thank you all. You are GREAT!     lol

[2019-07-16 04:11] groobyming commented on #1097
@kokosing  Thanks, and  I will try it

[2019-07-16 07:26] hustnn opened #1130 "Type of StringLiteral related issue"
I have some issues on the varchar type in creating table:

1. Create table will fail for the result of query like `SELECT ''` as the inferred type is `VARCHAR(0) `which is not allowed in creating table;

2. The common super type of varchar is the max length column, then the column type of table created with the result of `SELECT * FROM (VALUES 'a','ab','') ` is `VARCHAR(2)`.

For issue 1, does it

[2019-07-16 07:32] kokosing commented on #1130
Is using `cast` an option to you?

- `SELECT cast('' as varchar(10) a)`
- `SELECT * FROM (VALUES 'a','ab', cast('' as varchar(10))`

[2019-07-16 07:42] hustnn commented on #1130
@kokosing
For case 1, sometimes users creates the new column with a custom expression which may generate empty column, then save a table will fail. They may not explicitly call `cast`.

For case 2, what I mean is the column type if decided at the time of creating the table, its type is the largest value with the data so far, after that he may continue insert some more longer strings.

[2019-07-16 16:48] electrum commented on #1130
Is `varchar(0)` even legal? Need to check the specification. For the other use case, I agree a cast is appropriate.

[2019-07-16 17:23] chancez opened #1132 "Support S3A proxy configuration properties"
I'm trying to get Presto to work in an restricted network, but have the ability to use S3/GCS using an http/https proxy.

There's some options like `fs.s3a.proxy.host` in the hadoop `core-site.xml` that would be useful if Presto could support these options in the Hive connector's S3 configuration properties.

[2019-07-16 21:17] rdblue opened #1135 "Support additional identifier parts for tables"
The [Iceberg table format](http://iceberg.apache.org/) exposes metadata tables to make it easy to inspect a table. This includes data files, manifest files, snapshots, and table history. ([Docs](http://iceberg.apache.org/spark/#inspecting-tables))

In Spark, Iceberg exposes the metadata tables by adding another name part to the table identifier. History for `db.table` is loaded using `db.table.his

[2019-07-16 23:03] hustnn commented on #1130
@electrum @kokosing Thanks.

Close this issue. These issues should be solved by adding cast in user side.

[2019-07-16 23:03] #1130 closed

[2019-07-17 02:24] electrum opened #1136 "Do not allow varchar of length zero"
From the SQL standard:
[code]

PostgreSQL fails:
[code]

We should fix computations of an empty string to be a legal `varchar(1)` and disallow the creation of a varchar with a zero length.

[2019-07-17 02:25] electrum commented on #1130
I filed #1136 to fix the empty varchar issue. It seems to not be legal per the standard, so we shouldn't produce such a type.

[2019-07-17 03:32] hustnn commented on #1136
@electrum
Presto already disallowed the creation of a varchar with a zero length.
`create table foo_test_varchar (x varchar(0));
Query 20190717_032945_07332_rx6e3 failed: Varchar length 0 out of allowed range [1, 65535]`

Seems only need to a PR to fix the computations of an empty string to be `varchar(1)` or simply a `varchar`, right?

[2019-07-17 04:35] electrum commented on #1136
That looks like a connector specific error message. The Presto engine allows varchar up to `MAX_INT`. The validation in `VarcharType` needs to be changed to disallow zero, along with empty string and any other places that would generate it (or be left alone to fail naturally if it’s the result of bad user input).

[2019-07-17 09:41] sopel39 commented on #1136
Does it also apply to `Char` type?

[2019-07-17 11:03] hustnn commented on #1136
@electrum
Changing the validation in `VarcharType` is not easy, but seems a lot of intermediate expression evaluation in class like `ExpressionAnalyzer` will be impacted. The intermediate expression `''` with type `VARCHAR(0)` should be legal in expression `REPLACE('foo', '')`, right?

[2019-07-17 12:54] MichaelChirico opened #1138 "REST API returns status 200 with corrupted geometry"
[code]

Errors reproducibly with:

[code]

However, this doesn't come out on the REST API with any error message or status:

(using R package `httr` to query):

[code]

^ Forgive the R code. But this will consistently give back a `content` object consisting only of the `fasterxml` error (i.e. not valid JSON, hence `content(get_obj)` will fail), and also always return `status=200`.

It seems to me

[2019-07-17 18:37] electrum commented on #1098
[code]

[2019-07-17 19:41] martint commented on #1135
While this sounds like an interesting feature, it's problematic for a number of reasons.

The SQL specification defines a rigid entity namespace structure composed of catalog, schema and object name. Extending that implies going beyond what's specified, so it requires extra careful thought and consideration.

One of the most important questions is whether more parts implies more hierarchy levels o

[2019-07-17 21:31] electrum commented on #1138
Thanks for the report. I confirmed the behavior using `GeoQueryRunner` and updated the stack trace.

Here's a simplified version of the original query:
[code]

This Java code is effectively this:
[code]

I think the correct fix is to force validation at creation time. This could be done in `GeoFunctions.geometryFromText()` by calling `asBinary()` (which performs the same validation but should be f

[2019-07-17 21:44] electrum commented on #1138
A quick benchmark shows that adding `asBinary()` has a minimal (if any) cost on construction:
[code]

[2019-07-17 21:52] electrum commented on #1136
@sopel39 yes, that section covers `char`, `varchar`, `binary`, `varbinary`, and others

@hustnn That's a good question. What type should `'x' || '' || 'y'` produce? Today, it produces `varchar(2)`, but changing `''` to `varchar(1)` would cause it to produce `varchar(3)`. Maybe that's ok. I'm not sure if our current type calculation is mandated by the specification or if that part is implementation

[2019-07-17 22:04] findepi commented on #1136
@electrum @sopel39 i am under impression that string literals (`'...'`) should have `char(x)` type. Do they have `varchar(x)` type for some legacy reasons?
If that's the case, type of `''` should be `char(0)`.

[2019-07-17 23:08] knwg145 opened #1140 "Create a robust query warnings generator"
We are currently trying to create a more robust warning generator to warn our Presto users and give them feedback.

I have separated warnings generation into 3 possible categories:  
-Warnings generated in the connectors 
-Warnings about deprecated tables, deprecated views, deprecated udfs, deprecated session properties etc.
-Warnings about query execution statistics approaching resource limits

W

[2019-07-18 00:12] agrawaldevesh opened #1141 "Presto for low latency: How to do plan caching or parameter substitution in presto ?"
**Context**: At Uber are trying to query low latency analytical systems like Pinot via Presto. We desire that the total presto overhead of doing so is under 10 milliseconds. However, we have found that the total planning time can range from 20-50 milliseconds.

Unfortunately, there is not one single plan optimizer that is contributing to this latency. Its spread across the 70 or so plan optimizers

[2019-07-18 02:18] MichaelChirico commented on #1138
Thanks @electrum. Seems you've already prototyped a fix so I'll leave it up to you & watch for a PR. Cheers!

[2019-07-18 03:37] electrum commented on #1138
I did not actually write fix, which would be adding the call, exception handling (to translate to a proper Presto error), and tests. Would you like to do that?

[2019-07-18 05:02] oneonestar commented on #1140
Thanks for the thought. Since many people are interested in enhancing the warning system, we could turn this into a roadmap item. Let's try to work out what the warning system should look like:

# Enhanced Warning System

## Objective
* Detect bad queries
* Collect and classify warnings into categories / levels for better management
* React to warnings by take proper action(s)

Bad queries (ie. us

[2019-07-18 05:29] tooptoop4 commented on #1076
username is case sensitive

[2019-07-18 05:32] tooptoop4 commented on #1103
protip: dont define int as varchar

[2019-07-18 05:49] oneonestar commented on #1141
During our development of internal Oracle connector, we figured out the response time of the following APIs will greatly affect the performance of analyze and planning. You may take a look.
[code]

[2019-07-18 06:23] agrawaldevesh commented on #1141
Yeah we found that out too and we have the metadata totally cached. Planning is completely CPU dominated for us.

[2019-07-18 08:02] sopel39 opened #1143 "Improve query parameters '?' handling."
Currently, query parameters (?) are handled in various places across the planner. The process is as follows:

    When query is first sent to backend, it is parsed and the parse tree (AST) is (is it?) then cached for further use
    AST is reanalyzed with Parameter index -> expression bindings
    Query plan is rebuild based on analysis and Parameter index -> expression bindings
        Parameter

[2019-07-18 08:43] sopel39 commented on #1143
This is copied from my old issue https://github.com/prestodb/presto/issues/7989.
I think it's in much better state thanks to @martint. `ParameterRewriter` is only used in analysis in `AggregationAnalyzer` (I removed it in https://github.com/prestosql/presto/pull/1144).
Parameters are now used in initial query building only.
It should be fairy easy to move them out of there so that initial plan can

[2019-07-18 08:45] sopel39 commented on #1141
@agrawaldevesh Could you split which planning part takes the most time:
* analysis
* initial plan building
* optimization
?

There is a plan to improve performance of prepared statements by caching initial plans, so that two first stages (`analysis`, `initial plan building`) don't contribute to query runtime.
See: https://github.com/prestosql/presto/issues/1143

[2019-07-18 08:50] sopel39 commented on #1136
For char there might be data sources that don't comply with the standard. In such case we probably shouldn't map input zero-length chars to Presto `char(1)` as we change data.

[2019-07-18 16:11] findepi commented on #1136
`''` is definitely _not_ `char(1)`. If it's not `char(0)`, then it must be `varchar`.

[2019-07-18 16:47] martint commented on #1136
The SQL spec is not very clear about zero-length strings:

[code]

The note above implies that a character type with length 0 cannot be declared, but it doesn't say whether it can be derived or what the type of a zero-length string is supposed to be. As an aside, it says that the type of a literal string is CHAR(n), not VARCHAR(n).

Regarding concatenation, yes, it's effectively the sum of sizes o

[2019-07-18 17:43] martint commented on #1141
@agrawaldevesh, have you tried capturing a performance profile for your workload (with yourkit, JFR, perf, etc)? I'm sure there are a lot of opportunities for optimizing the planning process. Getting some concrete data on where the time is being spent would help guide the efforts.

[2019-07-18 17:44] qqibrow opened #1145 "Native Parquet Writer"
Current parquet writer internally use Hive RecordWriter which converts presto data to Hive structures. The new introduced native parquet writer write directly from presto memory structure to parquet data values, repetition values and definition values. It also has better memory control. Benchmarking of POC shows write throughputs could increase 43% ~ 165% depends on different test cases.
[code]

[2019-07-18 17:46] qqibrow commented on #1145
All results as references:
[code]

[2019-07-18 18:11] electrum commented on #1145
This is great! Do you have a timeline for putting up the first PR? Having a native Parquet writer will also be beneficial for Iceberg.

[2019-07-18 18:42] qqibrow commented on #1073
@sopel39  Are you OK with proposed optimization behind a feature flag? Is there other concerns? Our POC shows promising result in both execution time and memory. Is it possible to use CBO to determine which execution to use?

[2019-07-18 19:02] qqibrow commented on #1145
Hi, I am in the middle of sth else. Please expect the first PR in two weeks. thanks!

[2019-07-18 19:23] findepi commented on #1136
@martint does it mean that `''` should be of type `char(0)` but the user should not be able to refer to such a type explicitly?
But then, CTAS with `''` would expose the `char(0)` type explicitly in the new table's schema.

[2019-07-18 21:56] agrawaldevesh commented on #1143
One question about this: Lets say I have a query like this: `select count(1) from table where time_col between cast(to_unixtime(<param1> - interval '1' hour) as bigint) and cast(to_unixtime(<param1>) as bigint)`

If you do this planning without <param1>'s actual expression, how would we do the equivalent of tuple domain extraction or pushdown for that matter. The question is: Do we expose the rest

[2019-07-18 22:07] agrawaldevesh commented on #1141
Thanks for the comments and looking into this.

Almost the entire time is in optimization. For example, for a sample representative run, 17 ms were spend in the loop running through the optimizers. 1.5ms were spend in the plan distribution and sub-plan creation and a total of about 1ms were spend in the rest (initial plan creation, validation, final validation).

These numbers were obtained with c

[2019-07-18 22:09] sopel39 commented on #1143
There are 3 planning stages:
1. ANALYSIS
2. IR BUILDING (INITIAL PLANNING)
3. OPTIMIZATION

We could potentially cache results of `ANALYSIS and IR BUILDING` stages for prepared statements. Predicates would still be pushed down in `OPTIMIZATION` stage.
However, first we need to know if caching would make a difference for low-latency queries. For that we need statistics what takes the most time in s

[2019-07-18 22:09] sopel39 commented on #1073
@qqibrow such switch would be desirable.

[2019-07-19 00:17] agrawaldevesh commented on #1143
Hi @sopel39, I replied on the other issue #1141 with statistics on where the planning time is going currently :-). But to summarize: The majority of time is going in the Optimization phase (running the list of rule optimizers), ie bullet 3 in your description. Of that the majority of the time is in expression related optimizers, pruning etc.

I will try to profile and get some numbers on low hangi

[2019-07-19 05:21] raghavsethi commented on #1140
I'd spent some time thinking about this when we originally designed warnings and diverged from this in a few ways:

- The different classes of warnings would be: Performance, Correctness, and Deprecation. I would caution against compatibility as a type, since that should fall into one of the the three I outlined. I do want to be clear that Presto will not under any circumstances produce incorrect

[2019-07-19 05:26] martint commented on #1136
That's what's not entirely clear. I'm doing some more research using other sources.

[2019-07-19 05:46] oneonestar opened #1146 "CLI failed to parse the query result on complex map type"
Presto CLI failed to parse the query result if the key of a map is a complex type. I think this is somehow related to the serialization and deserialization of JSON.

Table:
[code]

Query:
[code]

Pretty Print Json Dump:
[code]

[2019-07-19 05:51] electrum commented on #1146
This is a known, long-standing issue. Unfortunately, we screwed up and encoded maps as normal JSON maps, which only allow strings as the keys. They need to be encoded as a list of entry pairs, but that would break existing clients, and it’s never been a priority to figure out how to solve this in a compatible way.

This is one of the things to be fixed by the v2 protocol, which had been stalled fo

[2019-07-19 05:52] martint commented on #1146
Yeah, this is a long-standing issue for maps that contain keys of complex types. Unfortunately, there's no easy way to fix this without breaking backward compatibility, so we've been pushing it until we start work on the V2 protocol. We had good discussions with the folks at TreasureData during the conference in Japan, and they have expressed interest in working on that project. cc @xerial @Lewuat

[2019-07-19 06:20] sopel39 commented on #1141
Please do. Such benchmarks would be really beneficial. Given that most of the time is spent in optimization stage, I'm not sure https://github.com/prestosql/presto/issues/1143 would help a lot in this case. Maybe it would be possible to cache partially optimized plan though, but I would start with optimizing existing optimizers.

[2019-07-19 06:21] sopel39 commented on #1143
You could potentially inject parameters after some of the optimizers already fired, but before predicate pushdown. I would start with optimizers benchmarking first though.

[2019-07-19 06:48] ankitdixit commented on #552
@findepi Does the work involve here involve just truncating the values in castToVarchar
`return utf8Slice(String.valueOf(value)); `
or is this on hold awaiting clarity as discussion on prestodb/presto#7815 seem to inconclusive

[2019-07-19 06:55] ankitdixit commented on #954
@dain Can i work on this.

[2019-07-19 14:43] byungnam opened #1150 "I need a full list of config property options"
I'm looking for a full list of the properties that can be used for `config.properties` or `session-property-config.properties`.

In fact, I'm currently looking for the guide to `session-property-config.properties`. [The official manual page](https://prestosql.io/docs/current/admin/session-property-managers.html) only made me confused about the naming format (should I replace every dot (`.`) and da

[2019-07-19 20:15] findepi commented on #552
@ankitdixit each case needs to be looked at separately.

- in some cases truncation should be applied
- in some cases exception should be raised
- I imagine, in some cases the outcome depends on actual value being converted (truncation or exception)

If you want to work on this, I would propose to raise a separate PR for each case being fixed.
(all integer types {{tinyint,smallint,integer,bigint}}

[2019-07-21 16:42] findepi commented on #1150
@byungnam Probably the best place is to get possible config options for `config.properties` is to check `server.log`.
Config options are printed at startup (name, default value, configured value, optional description).

Note that some config options are dependent on other configs (e.g. you can configure Kerberos principal only when you enable Kerberos).
Dependent config options will not be printed

[2019-07-21 16:42] #1150 closed

[2019-07-22 05:35] ankitdixit commented on #954
@dain Can you please help me understand why we do not want to show properties mapped to existing table properties?

[2019-07-22 08:03] kokosing commented on #1098
[code]
#1151

[2019-07-22 09:51] findepi commented on #1141
Does your query contain LIMIT or ORDER BY? (Are you focusing on `select count(1) from pinot.schema.table where seconds_since_epoch >= cast(to_unixtime(now() - interval '1' hour) as bigint)` query or trying different ones?)
As I understand you're getting ms spent on each optimizer. Would it be possible to get a more fine-grained performance profile?

[2019-07-22 23:39] martint commented on #1136
This confirms my suspicion. From the SQL 1999 book by Jim Melton:

[2019-07-23 05:18] kokosing commented on #1098
[code]
#1086

[2019-07-23 07:42] findepi commented on #1098
[code]

https://github.com/prestosql/presto/pull/1139

[2019-07-23 07:43] qclakl0 opened #1163 "How to customize the read local file"
How can I customize the read local file, similar to hive, pig :load data local inpath '********' overwrite into table ***;

[2019-07-23 10:59] PranayMunshi1982 opened #1166 "How to choose Presto Session Properties and its values"
Hi Team,
I want to optimize the Presto, I have to perform optimization at run time means without restarting the Presto Server so for this reason I am using Presto Session Properties. I can set session properties when I am firing the query.

I've couple of questions below
**I've come across 91 session properties, out of that I want to use some of them but
(1) I don't know how to choose their values

[2019-07-23 12:44] #1033 closed

[2019-07-23 12:45] findepi commented on #1098
[code]

https://github.com/prestosql/presto/pull/1159

[2019-07-23 20:58] dain commented on #954
I believe it would be confusing to users if the a property was presented in two different ways.  I expect this would raise a lot of questions about which one is supposed to be used, and what happens on conflicts.  Also, things like "I only set X and now I see X and Y".

In general, I see this feature as an "escape hatch" for cases when we don't directly support a standard property, or there the us

[2019-07-23 21:32] dain commented on #1163
This is not a feature currently support in Presto, but one that I have always wanted to have.  Typically people have load the data into Hive using an existing tool, and then access it from Presto.

There is a new feature in progress that might be a good alternative to this https://github.com/prestosql/presto/pull/1030 . This allows Presto to read data from a Google sheet so that small dimensional

[2019-07-23 22:20] grantatspothero commented on #1073
Just giving a +1 here, can't use rank() in some queries due to excessive memory usage and the workaround of multiple joins is slow and error prone.

[2019-07-23 23:21] willshen commented on #556
I encountered this on Presto 316 with hive-1.1.0+cdh5.9.2 running `CREATE TABLE "hive"."tpch_sf300_orc"."lineitem" WITH (format = 'ORC') AS SELECT * FROM tpch.sf300."lineitem"`

[code]

[2019-07-24 06:08] PranayMunshi1982 commented on #1166
@dain I've checked description of each session properties in "SHOW SESSION" but it is one liner. I am looking for detail description in order to make decision.

[2019-07-24 06:27] Lewuathe opened #1169 "Slow down of presto-cli and presto-jdbc in JDK 11 environment"
# Problem

When we run the console program or program using presto-jdbc in JDK 11 environment, it is too slow to complete the execution. In JDK 11 environment, the program tries to construct the connection with HTTP 2 instead of HTTP 1.1.

While the coordinator does not support HTTP 2 yet, it can be a problem when we access to the coordinator through proxy or load balancer such as ALB supporting H

[2019-07-24 09:31] guyco33 opened #1170 "Distinct operation on UUID fails when values are equal"
[code]

Results with:
[code]

[2019-07-24 09:35] findepi commented on #1170
@stewartpark would you like to contribute a fix for this?

[2019-07-24 12:40] findepi commented on #556
If anyone wants to work on this, I have some WIP to provide CI test coverage for CDH @ https://github.com/prestosql/presto/pull/973

[2019-07-24 15:57] dain commented on #1166
@PranayMunshi1982 I have a bit of a back log on issues and pull requests right now, so it might take me a couple of days to get to this one.  Sorry for the delay.

[2019-07-24 16:24] electrum commented on #1169
The daemon thread issue would only affect shutdown. Since this is happening during query execution, there has to be something else going on. Can you show a stack trace (via `jstack`) of the main CLI or JDBC thread at several points during one of these queries that takes several minutes?

[2019-07-24 19:15] anirbanch commented on #43
Any update on this?

[2019-07-24 20:52] martint commented on #1098
[code]

https://github.com/prestosql/presto/pull/1001

[2019-07-24 20:53] tooptoop4 opened #1173 "1 catalog that can't be reached affects all other catalogs (system.jdbc.catalogs)"
1. start mysql 5.7 server/db
2. add a mysqlconnector catalog to presto
3. start presto
4. do some presto queries against hive or mysql catalog, all is working fine
5. stop mysql server/db
6. Query tool like (sqlworkbench.eu) that has jdbc connection to presto now starts to hang for +30 seconds, Presto WebUI shows auto-generated queries running against system.jdbc.catalogs that eventually get INTER

[2019-07-24 22:41] guyco33 commented on #1170
@findepi I will fix it

[2019-07-25 01:27] stewartpark commented on #1170
I'd love to contribute if @guyco33 hasn't started the work! I have a fix that fixed this problem on our production. I can clean up and add test cases and make a PR.

[2019-07-25 01:56] Lewuathe commented on #1169
I captured stack trace by `jstack` and compared JDK 8 and JDK 11. The difference between them was the existence of two `Http2Connection`s waiting for something.

JDK 1.8.0_172

[code]

JDK 11.0.4

[code]

I used OkHttp logging interceptor to catch the timing of each request and found each GET request to the statement endpoint takes several minutes to complete the response. Is it caused by the wait

[2019-07-25 06:16] infearOnTheWay opened #1177 "Max Planning Time Control"
I wonder whether there exists a kind of solution to control the planning time of single query, since such query would occupy large amounts of resource and affect other following query.
Is there any configs can do this?Or can I do this by limit the total query time through other configs?
My presto version is 0.202.

[2019-07-25 07:00] PranayMunshi1982 commented on #1166
Thank you @dain. I can understand your situation. :)

[2019-07-25 07:48] kokosing commented on #1177
There is `experimental.iterative-optimizer-timeout` config property and matching `iterative_optimizer_timeout` session property. This control only optimizer execution. This was

One option (workaround) would be to periodically do `select * from system.runtime.queries` and `call system.kill_query()` which exceeds threshold.

[2019-07-25 09:25] infearATbaidu commented on #1177
@kokosing Thanks for quick reply!
As I know,  `iterative-optimizer-timeout` only works within "single iterativeOptomizer". Is there any global control on all optimizers?
BTW, is it better that presto supports a kind of automcatic strategy to control such high-cost query?

[2019-07-25 12:01] ankitdixit commented on #552
@findepi @dain @sopel39 trying  to summarize from comments on https://github.com/prestodb/presto/issues/7815/, please let me know if this makes sense.

Approach could be to add a new session property `cast_legacy_behavior` with default value true.
Behaviour:
- Integer -> varchar
    - select cast(cast(bigint '12' as varchar(2))
        - both flag values: '12'
    - select cast(bigint '123' as var

[2019-07-25 13:39] kokosing opened #1184 "Support connecting to Kerberos secured Kafka"
Copied from: https://github.com/prestodb/presto/issues/7990
Also see: https://github.com/prestodb/presto/pull/8394

[2019-07-25 14:04] findepi opened #1185 "Do not write implicit NULL to other columns when inserting in JDBC connectors"
Consider PostgreSQL table
[code]

Now in Presto
[code]

Result:
[code]
Expected
[code]

[2019-07-25 14:21] wajahatahmed245 opened #1187 "Presto UDF"
I have made a jar file and I am placing that jar file as follow but I am still not able to use the functions in presto CLI
![image_720](https://user-images.githubusercontent.com/32391965/61882188-61b3f800-af11-11e9-9bee-1814780b38d0.png)
![image](https://user-images.githubusercontent.com/32391965/61882220-72646e00-af11-11e9-92ad-430cc990175c.png)

[2019-07-25 20:06] findepi commented on #535
Hopefully https://github.com/airlift/resolver/pull/15 fixes this.

[2019-07-25 21:18] dain commented on #552
@ankitdixit I don't have an opinion on this, so I'll let @martint and @findepi reply.

[2019-07-25 22:40] #758 closed

[2019-07-25 22:41] martint commented on #1098
[code]

#1168

[2019-07-25 23:06] martint commented on #1098
[code]

#1101

[2019-07-26 00:01] vrozov opened #1189 "Support for X-Forwarded-For breaks existing behavior"
After upgrading to the latest build, existing installation does not work and connections are rejected with "Presto is configured to REJECT this header: X-Forwarded-For". It is not clear why the default is REJECT and not IGNORE, so it preserves the functionality. If REJECT is more suitable, why not to log a warning and proceed. Additionally, `dispatcher.forwarded-header` should *not* be case sensit

[2019-07-26 00:33] martint commented on #1098
[code]

#1045

[2019-07-26 00:55] electrum commented on #1187
I think the problem is that the directory needs to be directly under the `plugin` directory. You have it in a nested subdirectory. So it should work if you rename it to `plugin/udfs-scalar`.

Another issue is that you using version `0.222` of Presto. It will be easier to help you if you update to the latest version, `316`: https://prestosql.io/download.html

When the server starts, it will print i

[2019-07-26 02:52] Lewuathe commented on #1169
@electrum How about specifying HTTP 1.1 in presto-cli and presto-jdbc explicitly? I think it can be a problem when both client and server run on the latest JDK fully supporting HTTP 2. By specifying the procotol version explicitly, we can avoid this type of problem happening accidentally.

[2019-07-26 03:43] archongum opened #1191 "Wrong parameters order in `EXECUTE USING` when using `with` clause"
## env
* Presto JDBC: prestosql-315
* Mybatis: 3.5.1

## If using `with` clause
[code]

Mybatis handle with left-to-right as they appear
[code]

But Presto is expecting
[code]

## If without `with` clause
[code]

Presto is expecting the same order as mybatis is generated
[code]

[2019-07-26 04:02] cxyao commented on #147
@ebyhr hope the feature.  #364 are blocked. Would you finish it?

[2019-07-26 05:05] ebyhr commented on #147
@cxyao Hi, I suspended it because there was no requirement recently. Let me focus again.

[2019-07-26 05:13] cxyao commented on #147
thank you very much

[2019-07-26 05:36] aakashnand opened #1192 "Hive views are not supported: 'information_schema.tables' for version >=315"
`show tables` command is not working from presto version 315 onwards. Following is the screenshot which shows the error on presto version 316

![image](https://user-images.githubusercontent.com/14219201/61928084-32a19300-afb2-11e9-8d6e-c9ce5aa37f5a.png)

However, the same command `show schemas` works on presto version 314

![image](https://user-images.githubusercontent.com/14219201/61928206-b52a52

[2019-07-26 06:34] electrum commented on #1169
I’d like to figure out what’s happening, but that seems like a good intermediate solution, as I don’t have time now to investigate.

Do you want to send a PR?

[2019-07-26 06:42] sopel39 commented on #552
why would this fail?

[2019-07-26 06:45] sopel39 commented on #1191
I would expect parameter order to be the same independently whether `with` is used. This seems like a bug.

[2019-07-26 06:59] kokosing commented on #1192
Would you like to use `--debug` option with presto-cli, reproduce the failure and can you please post the stack trace you get?

[2019-07-26 07:04] findepi commented on #1189
@vrozov
thank you for your feedback. Please accept apologies that I broke your installation.

First, the simple thing:

This is standard behavior for config values that are backed by a Java enum, so quite a few other Presto configuration properties.
IIRC, this is handled here: https://github.com/airlift/airlift/blob/2a88cf63ee2c45d1b3b2a063397637f54ce407b3/configuration/src/main/java/io/airlift/co

[2019-07-26 07:04] aakashnand commented on #1192
[code]

@kokosing If this issue is solvable by a beginner like me by making some minor changes, please guide me I would like to solve this issue.

[2019-07-26 07:12] ankitdixit commented on #1192
I think this code piece is throwing it, in getTable() in ThriftHiveMetastore.
`    if (table.getTableType().equals(TableType.VIRTUAL_VIEW.name()) && !isPrestoView(table)) {
                                throw new HiveViewNotSupportedException(new SchemaTableName(databaseName, tableName));
                            }`

[2019-07-26 07:15] findepi commented on #1192
@aakashnand Apologies for this regression. this has been fixed recently by @electrum.

Do you have DEBUG logging enabled?
As a workaround, add this to `log.properties`:
[code]

[2019-07-26 07:16] Lewuathe commented on #1169
Sure, I have the patch for it. Will send a PR. Thanks.

[2019-07-26 07:22] ankitdixit commented on #552
@sopel39 from https://github.com/prestodb/presto/issues/7815#issuecomment-342013400
I thought
`Additionally, since we don't use scientific notation for double/float textual representation we should probably fail when doing casting from double to varchar when any digit is truncated. Assumption is that if user wants to truncate he can simply cast to decimal and round to n-th decimal places before ca

[2019-07-26 07:22] aakashnand commented on #1192
@findepi Thank you. I added `io.prestosql.plugin.hive.metastore.thrift.ThriftHiveMetastoreClient=INFO` to `log.properties`. Could you please share the fixed issue or commit?

[2019-07-26 07:25] findepi commented on #1189
(In case we choose to go with option 2, I already made a PR with the change. I picked "WARN" as the name for the default behavior.)

[2019-07-26 07:30] kokosing commented on #1192
@aakashnand Are you capable build presto from the git repo? If so please do so and see if it is already fixed.

[2019-07-26 07:32] aakashnand commented on #1192
@kokosing just two hours ago I tried building from git repo but it did not work should I use any specific tag?

[2019-07-26 07:41] kokosing commented on #1192
Other than that which version of Hive do you use? `information_schema.schemata` is Presto internal table that is accessible for any Presto catalog. Do you have such object (view in schema (database) `information_schema` with name `schemata`) defined in Hive ?

[2019-07-26 07:44] findepi commented on #1192
@kokosing good point.
@aakashnand can we continue this on `#troubleshooting` in Presto Slack (https://prestosql.io/community.html)?

[2019-07-26 08:03] kokosing commented on #1189
I prefer option 1, we need to make sure that this is properly described in release notes.

[2019-07-26 08:16] sopel39 commented on #552
@ankitdixit yes, but
`select cast(cast(1.0 as double) as varchar(2))`
could simply return
`1`

[2019-07-26 09:15] ankitdixit commented on #552
@sopel39 , I thought changing 1.0 to 1 would be losing precision in the generic sense as then 1.0 will cast as varchar(2) but 1.1 will fail

[2019-07-26 09:32] yuokada commented on #1132
How about below variables?  Do we need to add more variables yet?

- fs.s3a.proxy.host
- fs.s3a.proxy.port
- fs.s3a.proxy.username
- fs.s3a.proxy.password
- fs.s3a.proxy.domain

[2019-07-26 12:33] ankitdixit commented on #1191
The issue seems to be that AstBuilder part calls visitParameter for the query first and the With statement later, hence the id assigned to paramter corresponding to `mktsegment = ?` is 2.
`custkey between ?(id=0) and ?(id=1)` and `mktsegment = ? (id=2)` which is wrong.
While fetching the values ExpressionAnalyzer.visitParameters() calls `parameters.get(node.getPosition())` taking the sequential or

[2019-07-26 12:55] martint commented on #1191
What we need to do walk the query tree and collect all the parameters, sort them by their location and record them in the analysis.

Btw, I think @Praveen2112 is also looking into this, so please coordinate with him to avoid duplicating work.

[2019-07-26 13:16] martint commented on #1189
@findepi, can you elaborate on what are the security implications you mention? I’ve never run into an HTTP server implementation that rejects a request when that header is provided.

Btw here’s the “standardization” of that header: https://tools.ietf.org/html/rfc7239

[2019-07-26 15:02] martint commented on #1191
So, the position should not be recorded during analysis, not during parsing.

[2019-07-26 15:45] rdblue commented on #1135
I agree that it is good to be careful, but I think there are reasonable ways to make this work.

Let's ignore the case of nested tables to start with. I think that can over-complicate this because it mixes two things together that should be separate: how to interpret a identifiers and what an identifier references.

The main argument here appears to be that `x.y` refers to schema `x` and table `y`

[2019-07-26 16:57] chancez commented on #1132
That seems sufficient.

[2019-07-26 21:32] findepi commented on #1189
"remote user address" gives information about a user. You may rely on this information. Yet, if you use proxy in front of Presto, you don't have the information.

[2019-07-27 05:19] electrum commented on #1189
Unfortunately, I missed the original issue. But after reading the explanation, and the proposed options, I believe the current implementation is the right way. This is one of those situations where both options are a security hole, depending on the environment:

* `ACCEPT` allows spoofing if Presto is not behind a proxy.
* `IGNORE` logs the wrong IP address when behind a proxy.

Using `REJECT` as

[2019-07-27 06:42] ankitdixit commented on #954
@dain Please have a look at the initial WIP pr, i am able to take input and store map but while visiting in `ShowCreateTable `, we have to convert map into an expression, which it seems is not supported as of yet.
One workaround could be to create a String out of map and then convert that to expression.
@Praveen2112 pointed out https://github.com/prestodb/presto/issues/5065, adding literal type fo

[2019-07-28 10:59] #535 closed

[2019-07-28 21:38] findepi commented on #1098
[code]

https://github.com/prestosql/presto/pull/1164

[2019-07-28 22:30] electrum opened #1201 "Add test for writing to Hive bucket version 2 tables"
The test should create a v2 bucketed table and ensure that we don't allow writes to it. (as a stop gap until #538 is implemented)

[2019-07-29 01:05] #563 closed

[2019-07-29 02:42] oneonestar opened #1202 "Generic nested column pruning on row/array/map types"
# Summary
Nested column pruning should work for `row` inside arbitrary level of nested `row/array/map`. The current ongoing efforts only focused on the row type only. I would like to bring out this issue and start the discussion.

Example schema:
[code]

For the following discussion, I assume the user wants to select `x, y` out of `x, y, z`. User may select only part of the columns using the follo

[2019-07-29 04:18] ankitdixit commented on #1191
@martint Had an offline discussion with @Praveen2112, he is taking this forward.

[2019-07-29 05:09] electrum opened #1203 "Add session properties for per-node memory limits"
New properties:

* `query_max_memory_per_node` (config `query.max-memory-per-node`)
* `query_max_total_memory_per_node (config `query_max_total_memory`)

These are similar to the existing session properties for global query limits:

* `query_max_memory`
* `query_max_total_memory`

[2019-07-29 06:05] electrum opened #1204 "Bad error message for DISTINCT on non-aggregation function"
This is failing with a `VerifyException` rather than a proper analysis error.

[code]

Based on the original report from @yuokada, 9f78af6fec9441532a9a19a0d235e322455588c9 seems to have added validation for this, and previously the bogus keyword was silently ignored.

[2019-07-29 07:34] rizwanbutt314 opened #1206 "Dynamic Pivot UDFs"
There is no built-in support for dynamic pivot functionality in presto. Need to create a Presto UDF to support dynamic pivot.
For example a custom pivot sql is:
`SELECT
 uid,
element_at(kv, 'c1') AS c1,
element_at(kv, 'c2') AS c2,
element_at(kv, 'c3') AS c3
FROM (
 SELECT uid, map_agg(key, value) kv
 FROM vtable
 GROUP BY uid
) t;`

Need to make following section dynamic:
` element_at(kv, 'c1') AS

[2019-07-29 07:36] rizwanbutt314 opened #1207 "Presto UDF to support mode aggregate function"
Need to create presto UDF to support `mode`(most occurring value of column with group by) aggregate functions.
Like:
`
SELECT id, custom_mode(col_1), min(col_2)
FROM table
GROUP BY id;
`

[2019-07-29 07:56] infearOnTheWay commented on #1177
@kokosing In our situation，there exists some query involve about 100 thousands columns. These query cost long time such as 20 minutes on planning. So we try to control the planning time of such query in order not to affect following query.
On the other hand, if we can know the most time-consumed procedure within the planning of such query, it would also be helpful. Can we analyze the time cost of

[2019-07-29 08:00] sopel39 commented on #552
I think you can think of any floating point as having infinite number of trailing zeros. In this context you won't lose any precision.

[2019-07-29 08:24] sopel39 commented on #1207
I think you might want to use `histogram` (https://prestosql.io/docs/current/functions/aggregate.html) and lambda to extract such value, e.g
[code]

[2019-07-29 08:30] sopel39 commented on #1206
Presto currently doesn't support pivoting like that. It's problematic since you have to know how many columns relation has to have at planning time and dynamic pivoting depends on data.
You might want to try `UNNEST` (https://prestosql.io/docs/current/sql/select.html) which can convert such structured data into rows with `key` and `value` columns.

[2019-07-29 08:46] sopel39 commented on #1098
[code]
https://github.com/prestosql/presto/pull/1075

[2019-07-29 09:56] prashant-jain opened #1208 "Explicit bindings are required and io.prestosql.plugin.jdbc.ConnectionFactory is not explicitly bound"
Hi, I am setting up prestosql-316 to query on oracle.
After adding presto-oracle plugin (https://github.com/tweea/presto-oracle). I am unable to run the presto server. kindly help to resolve this error.

Performed steps:
cp -r plugin/mysql plugin/oracle
rm plugin/oracle/mysql-connector*
rm plugin/oracle/presto-mysql*
mv /home/Downloads/presto-oracle*.jar plugin/oracle

Launcher log:
2019-07-29T14:

[2019-07-29 11:14] findepi commented on #1208
@prashant-jain we can only support plugins that are part of Presto code base.
Clearly, the https://github.com/tweea/presto-oracle plugin needs to be updated to work with Presto 316, so I recommend you create an issue in that repository.
From my understanding of the stacktrace, you should be able to use this plugin with Presto 315.

I'm closing this issue as answered.
Let's continue on Slack where

[2019-07-29 11:14] #1208 closed

[2019-07-29 11:16] wajahatahmed245 commented on #1207
what if we have to implement pivot in presto?

[2019-07-29 14:10] electrum commented on #1206
This could be done with polymorphic table functions (https://www.iso.org/standard/69776.html) which we plan to implement.

[2019-07-29 17:20] ankitdixit commented on #1203
https://github.com/prestosql/presto/pull/1212

[2019-07-29 19:11] prabhuom1 opened #1215 "Hive partitioned table with cluster by and transaction=true(ACID enable) failing in presto quey"

[2019-07-29 19:20] #1215 closed

[2019-07-30 08:14] findepi commented on #1098
[code]

https://github.com/prestosql/presto/pull/1211

[2019-07-30 09:06] findepi opened #1218 "Hive 3"
Support Hive 3.1+

* [ ] Create product-test environments with Hive 3.1 https://github.com/prestosql/presto/issues/190
* [ ] Support Hive managed Transactional/ACID tables https://github.com/prestosql/presto/issues/576
* [ ] TIMESTAMP behaviour does not match sql standard https://github.com/prestosql/presto/issues/37 is related due to https://issues.apache.org/jira/browse/HIVE-12192 "Hive should c

[2019-07-30 09:08] findepi commented on #979
@zgseed any updates on your side?

(Let me close the issue for now. You can always comment here with any updates. We can reopen if needed.)

[2019-07-30 09:08] #979 closed

[2019-07-30 12:25] PranayMunshi1982 opened #1220 "Wants more detail about for presto benchmark suite.json"
Hi friends,
I am running presto benchmark driver "presto-benchmark-driver.jar". It requires "suite.json' as config files to run the particular query on a particular schema.
I can see two JSON elements in suite.json i.e. **1. file_formats 2. legacy_orc.**

Here I am not able to understand the difference between two. Why we have these two elements, what is the significance of these two?

I can put r

[2019-07-30 13:27] sopel39 commented on #1098
[code]
https://github.com/prestosql/presto/pull/1119

[2019-07-30 16:16] dain commented on #1220
I assume you are referring to the example in this documentation: https://prestosql.io/docs/current/installation/benchmark-driver.html

The two names there, `file_formats` and `legacy_orc`, are simply names of the two test suites.  In that example, both suites are running the same queries in the same schema, but have different session properties.  Specifically, one of them is running with the defau

[2019-07-30 18:55] findepi commented on #1189
We have discuss this at length and decided to change the default behavior to `WARN` and drop `REJECT` behavior for now. We still may revisit this decision later, because there still are valid reasons not to ignore the header.

Thanks @vrozov for your report!

[2019-07-30 18:56] #1189 closed

[2019-07-31 06:09] PranayMunshi1982 commented on #1220
Thanks @dain . You are right I am following this only.
Thanks for quick resolution.

[2019-07-31 06:09] #1220 closed

[2019-08-01 21:40] chancez opened #1234 "Handle graceful shutdown on SIGTERM"
Presto should be able to handle signals and perform the appropriate shutdown tasks as needed.

From what I can tell, if you had separate initialization/run for https://github.com/prestosql/presto/blob/master/presto-main/src/main/java/io/prestosql/server/PrestoServer.java#L70 then Presto could:

- create the PrestoServer object (with all modules setup)
- register a shutdown handler which calls the

[2019-08-02 00:14] electrum commented on #1098
[code]
#1152

[2019-08-02 00:45] electrum commented on #1098
[code]
#1149

[2019-08-02 00:46] electrum commented on #1098
[code]
#1199

[2019-08-02 00:48] electrum commented on #1098
[code]
#1015

[2019-08-02 01:34] #1098 closed

[2019-08-02 08:05] dukeshiny opened #1237 "Support Kerberos authentication for Kudu Connector"
When I use presto to connect kudu tables,I can show tables and describe kudu table's structure,But I can not select data from kudu table,there is error as following:
Query 20190802_074604_00006_2g8pc failed: org.apache.kudu.client.NonRecoverableException: Couldn't find a valid master in (192.168.1.1:7051,192.168.1.2:7051,192.168.1.3:7051). Exceptions received: [org.apache.kudu.client.NonRecoverabl

[2019-08-02 08:05] sopel39 opened #1238 "Release notes for 318"
## Dain Sundstrom
- [ ] all checked
-  08-07 10:41:52    2597804d02 Fix distinct/groupby on UUID
-  08-15 16:04:47    b619848895 Add missing doAs around Hive create empty bucket files
## David Phillips
- [ ] all checked
-  08-02 15:21:45    16a1eebdd6 Update gcs version
-  08-06 22:53:25    0c8706b257 Extract caching Hive metastore to separate package
-  08-06 22:55:04    12328e3159 Improve error

[2019-08-02 08:07] sopel39 commented on #1238
[code]

https://github.com/prestosql/presto/pull/1232

[2019-08-02 08:16] kokosing commented on #1237
It is not yet supported.

[2019-08-02 08:40] findepi commented on #190
Done in

https://github.com/prestosql/docker-images/pull/16
https://github.com/prestosql/docker-images/pull/20 (https://github.com/prestosql/docker-images/pull/23)
https://github.com/prestosql/docker-images/pull/24
https://github.com/prestosql/presto/pull/1188

[2019-08-02 08:40] #190 closed

[2019-08-02 08:41] sopel39 commented on #1238
[code]

https://github.com/prestosql/presto/pull/1216

[2019-08-02 09:13] findepi opened #1240 "Support Hive's TIMESTAMP WITH LOCAL TIME ZONE"
Hive 3.1 adds a new data type: `TIMESTAMP WITH LOCAL TIME ZONE`.

Example:
[code]

Add support for this type in Hive connector.

[2019-08-02 13:56] electrum commented on #1237
The Kudu connector does not support Kerberos authentication. Someone will need to add it.

[2019-08-02 14:20] GrigorievNick commented on #396
I can add here, allowed add jars with custom plugins.

[2019-08-02 14:55] findepi opened #1243 "Insert overwrite for unpartitioned table fails when using Glue as metastore"
Steps to reproduce - run `TestHiveGlueMetastore#testInsertOverwriteUnpartitioned`

[code]

[2019-08-02 14:56] findepi commented on #1243
cc @electrum @xumingming

[2019-08-02 14:57] findepi commented on #510
This was implemented in https://github.com/prestosql/presto/pull/648.
Before we close the ticket though, we should fix the case when running with Glue -- https://github.com/prestosql/presto/issues/1243

[2019-08-02 15:18] ptkool commented on #813
https://github.com/prestosql/presto/pull/1244

[2019-08-02 17:56] anirbanch opened #1245 "Mismatch between the table and partition schemas. Cannot be coerced .Decimal and Bigint"
Find 3 similar error message, Hive is able to handle these situations without any error.

1.) [There is a mismatch between the table and partition schemas. The types are incompatible and cannot be coerced. The column 'aaaaa' in table 'tttt' is declared as type 'decimal(11,6)', but partition 'ppp=a/b/c=06' declared column 'aaaaa' as type 'decimal(11,2)'.]

2.)[There is a mismatch between the table

[2019-08-02 19:10] bill-warshaw opened #1246 "Allow password authentication when using HTTP"
### Background

Currently, to use password authentication, you must be communicating with the Presto coordinator over HTTPS.
From the docs about using a pluggable password authenticator (https://prestosql.io/docs/current/develop/password-authenticator.html):

I see a block in `AuthenticationFilter` here which enforces this requirement: https://github.com/prestosql/presto/blob/57051c9a9616eee4f8713

[2019-08-02 20:00] electrum commented on #1246
This sounds reasonable. Maybe we should enforce that the `X-Forwarded-Proto` or the `Forwarded` header says the original request is HTTPS?

[2019-08-02 20:43] bill-warshaw commented on #1246
That sounds like a better approach than what I suggested.  I can open a PR sometime next week.

[2019-08-02 22:45] electrum commented on #1246
I think we should do both: only allow if a config is enabled (default disabled) and if the forwarded header says the original request was secure.

[2019-08-03 20:35] findepi commented on #1238
[code]
https://github.com/prestosql/presto/pull/1221

[2019-08-05 09:04] sopel39 commented on #1243
It might be that entire section:
[code]
needs a dedicated Metastore method, e.g. `changeTableLocation`

[2019-08-05 13:50] kokosing commented on #1238
[code]
#171

[2019-08-05 14:08] dukeshiny commented on #1237
Thank you .I see .But now I can't use presto to connect kudu without Kerberos authentication yet.Here is the error:
![image](https://user-images.githubusercontent.com/21135052/62470624-6c05aa00-b7cd-11e9-9838-9d8dbb4f5fb3.png)
How can I solve this problem?

[2019-08-05 14:11] dukeshiny commented on #1237
Could you help me look at it?Here is the kudu.properties:
connector.name=kudu
kudu.client.master-addresses=192.168.1.1:7051,192.168.1.2:7051,192.168.1.3:7051
[root@cdh215 catalog]#

[2019-08-06 06:53] wpf375516041 commented on #391
**Dispatcher-only or coordinator-only server**
Is this feature already planned? We expect to be able to apply urgency to ETL, requiring a stable emergency cluster and task queue

[2019-08-06 06:57] wpf375516041 commented on #391
Is this feature already planned? We expect to be able to apply presto to ETL, which requires a stable emergency cluster and task queue.

[2019-08-06 06:58] wpf375516041 commented on #391
Is this feature already planned? We expect to be able to apply presto to ETL, which requires a stable cluster and task queue

[2019-08-06 07:13] electrum commented on #391
@wpf375516041 Facebook uses Presto extensively for ETL without this feature. This is accomplished by running queries using an external scheduler (similar to Apache Airflow) that handles retry on failure. If the coordinator restarts (or is moved to a different machine), the queue is lost, which is bad, but the queries will still run because the scheduler retries them.

This feature helps, but you s

[2019-08-06 07:37] kokosing commented on #1238
[code]

 #1251

[2019-08-06 07:54] electrum commented on #391
The “shared queue” is only for queuing queries before they start executing. Once they start executing, they run on a single coordinator, exactly as they do today.

For long running queries, it is important to have reliable hardware. Failures should be rare. Use enough machines and concurrency so that the wall time is no more than a few hours. If you have queries longer than this, try to break them

[2019-08-06 14:53] qinzl1 opened #1258 "Failed to initialize connection pool: com.zaxxer.hikari.pool.HikariPool$PoolInitializationException: Failed to initialize pool: Unrecognized connection property"
HikariPool seem can not init presto jdbc
I use sreamsets JDBC Query Consumer (https://streamsets.com/documentation/datacollector/3.9.x/help/datacollector/UserGuide/Origins/JDBCConsumer.html#concept_qhf_hjr_bs)
Has anyone used this tool

[2019-08-06 15:28] findepi commented on #1258
what's the offending connection property?

[2019-08-07 01:49] wpf375516041 commented on #485
Hi, is this a new grammar ready to support? If I want to do an overwrite operation now, can I delete it first?

[2019-08-07 04:01] wyukawa opened #1259 "OutOfMemoryError occurred in presto-client"
Hi,

I develop presto web ui https://github.com/yanagishima/yanagishima depends on presto-client

OutOfMemoryError occurred in yanagishima and then we analyzed yanagishiam heap dump with Eclipse Memory Analyzer

Here is the yanagishima command line argument and Eclipse Memory Analyzer result
[code]

![](https://i.gyazo.com/d450b34fa23aa77d3fc5006116080a30.gif)
![](https://i.gyazo.com/507add051c06e

[2019-08-07 05:38] qinzl1 commented on #1258
@findepi
No special configuration
![image](https://user-images.githubusercontent.com/20242930/62597387-74b6c700-b918-11e9-9470-866aeef9c66a.png)
It doesn't seem to support presto
![image](https://user-images.githubusercontent.com/20242930/62597353-56e96200-b918-11e9-832a-d9e99b4eef46.png)

[2019-08-07 07:23] kokosing commented on #1258
Please try to open an issue in https://github.com/brettwooldridge/HikariCP. From information you sent it is hard to say anything.

What is the UI tool that you are using? Have you tried to use HikariCP with Presto directly from java code. That way it will be easier to debug the actual issue.

[2019-08-07 07:43] kokosing commented on #1238
[code]
#1112

[2019-08-07 08:17] qinzl1 commented on #1258
@kokosing
the UI tool is streamsets
https://streamsets.com/

[2019-08-07 09:26] #1203 closed

[2019-08-07 09:28] sopel39 commented on #1238
[code]

https://github.com/prestosql/presto/pull/1212

[2019-08-07 17:43] dain commented on #1238
[code]
#1180

[2019-08-07 19:23] rupamk opened #1261 "Skew Join Implementation in Presto"
Consider following query.

SELECT * from B JOIN A WHERE A.x = B.x

Assume, A is the smaller relation. Consider a case, where the Table B data for column x is unevenly distributed for a specific key i.e. few keys have lot of data while remaining keys have very less data. A skewed distribution of keys manifests itself in skewed distribution of workload. As a result, some of the nodes joining the mos

[2019-08-08 09:01] sopel39 commented on #1261
Interesting idea.

There is similar to `GroupIdOperator` operator in Presto. It is used to generate input for grouping set aggregation. We also multiplicate pages there (for each grouping set).

I'm not sure that would be the way to go. We rather try to avoid user hinting in Presto. It would be great if CBO could help in such case automatically.

Would it be possible if for your benchmarks you als

[2019-08-08 16:53] rupamk commented on #1261
Yes, I will update the doc.

[2019-08-08 16:57] rupamk commented on #1261
Yes I will update the Doc.

[2019-08-08 18:12] Parth-Brahmbhatt opened #1267 "Presto Iceberg should support `snapshot hive table as iceberg` as a connector procedure"
To make it easier for users to experiment with their existing hive tables, presto should support a iceberg-connector specific procedure which will create the iceberg metadata layout on top of existing hive data files without modifying the hive table in any way.

[2019-08-08 18:19] Parth-Brahmbhatt opened #1268 "iceberg connector should support a system table that allows users to view table history"
Given iceberg table snapshots are derived from other snapshots , we should be able to support a history table which allows a user to see how the table has evolved over time.

Here is a sample query and output

select * from iceberg.`table$history`

made_current_at                   | snapshot_id                     | parent_id           | is_current_ancestor
-------------------------     | -------

[2019-08-08 21:24] rupamk commented on #1261
One more question, how is CBO going to help here, since we want explicitly the skewed keys?

[2019-08-09 08:11] sopel39 commented on #1261
We could improve CBO so that it explicitly keeps track of outlier (skewed) values.

[2019-08-09 15:39] yixin19 opened #1271 "Phoenix 5.0 support"
I've tried pheonix5.0. I've replaced the phoenix embbeded driver by the new driver.
It's still not working.
It is not working, it throws Exception.
I want to know if we have some plan to have phoenix5.x supported.
Thanks!

[2019-08-09 16:01] grantatspothero opened #1272 "Partition pushdown through window functions"
Some partition filters are pushed down through window functions while some are not.

Partition filters are pushed down through window functions if the `partition_by` clause of the window function is the partition key (along with some other caveats).

Example: test_table partitioned by dateid and partition pushdown works
[code]

Partition filters are *not* pushed down if ordering by a partition key

[2019-08-09 16:49] yixin19 commented on #1271
for phoenix 5.0 hbase 2.0

[2019-08-09 21:38] rongrong commented on #1261
If we could know which keys are skewed at planning time broadcast join the skewed keys union partition join the rest is the best solution. It's very hard to know skewed keys though.

[2019-08-09 22:30] sopel39 commented on #1272
Thanks for reporting. Can you reproduce the issue using TPCH connector (e.g filter is not being pushed down to table scan)?

Can you also attach output of `EXPLAIN (TYPE DISTRIBUTED)` for your query?

[2019-08-09 22:32] sopel39 commented on #1238
[code]
https://github.com/prestosql/presto/pull/1270

[2019-08-11 00:13] linxingyuan1102 opened #1275 "Duplicate field IDs when creating an Iceberg table"
The following query fails
[code]
because of duplicate field IDs in an Iceberg `Schema` instance.

https://github.com/prestosql/presto/blob/bc5590c233b240aa531e825efa6cd9876234e7c0/presto-iceberg/src/main/java/io/prestosql/plugin/iceberg/IcebergMetadata.java#L277
The `schema` here may have duplicate field IDs because `TypeConveter::toIcebergType` doesn't keep information about a global "next ID".

[2019-08-12 06:32] stagraqubole opened #1277 "Allow setting location property for managed tables too"
Currently, CREATE TABLE creates an external table if we provide external_location property in the query and creates managed table otherwise.
But Hive allows creating managed tables with location provided in the DDL so we should allow this via Presto too.

This will also change SHOW CREATE TABLE behaviour to now show location even for managed tables.

We can do this:
1. Have a boolean property "ext

[2019-08-12 07:38] electrum commented on #1277
This sounds good to me. We probably want to accept the old property on creation for a while, to keep compatibility with existing DDL.

[2019-08-12 09:05] kokosing commented on #1238
[code]
#1124

[2019-08-12 11:09] kokosing commented on #1238
[code]
#1274)

[2019-08-12 18:37] rupamk commented on #1261
We can plug in CBO too but the execution part detailed in this proposal would still be needed. So I plan to start with this execution work, the better ways to provide input to it via CBO could follow

[2019-08-12 19:39] kokosing commented on #1238
[code]
 #1030

[2019-08-13 00:17] rupamk commented on #1261
updated thre results in the doc as well as here.

[2019-08-13 01:43] vrozov opened #1281 "Use iceberg plugin classloader inside PartitionTable getTableMetadata method"
To avoid class/resource loading issues, it is necessary to switch thread context class loader to the iceberg plugin class loader inside `getTableMetadata` method.

[2019-08-13 07:54] sopel39 commented on #1261
We don't want this code to be dead by any means. @martint @findepi @kokosing Do you have some other ideas (apart from hints and improving CBO) for passing outlier values to this optimization?

Unfortunately we cannot dynamically detect outliers at this point.

[2019-08-13 10:14] kokosing commented on #1261
Maybe we could model this a some session property for now?  Like:
[code]
So effectively this is a hint, however then in future we could then try to automatically detect such columns and then remove this flag or leave it. Notice that, it does not require us to introduce SQL syntax "enhancements" to support hints.

[2019-08-13 11:58] sopel39 commented on #1261
Alternatively we could store skew info as column property

[2019-08-13 14:17] hocanint-amzn opened #1284 "Support for nanosecond/microsecond precision in TIMESTAMP and TIMESTAMP WITH TIME ZONE"
# Add nanosecond support to TIMESTAMP and TIMESTAMP WITH TIME ZONE

## Introduction

We wish to support nanosecond-precision `TIMESTAMP` and `TIMESTAMP WITH TIME ZONE` within Presto to support companies that retrieve data at that granularity. One industry that deals with nanosecond granularity is the finance industry.

Within this project, we will introduce a Fractional second support to TIMESTAMP

[2019-08-13 15:07] am314159 opened #1285 "Add information about index use to the user documentation"
There are many places in the Presto source code which indicate that it understands indexes - classes such as ConnectorIndexProvider in the SPI and the IndexedTpch plugin.

The user documentation does not mention that Presto can make use of indexes. This is a powerful feature, which supports fast queries, and it is a shame that it is not more widely exposed to a casual reader.

Can we add to the us

[2019-08-13 15:27] am314159 opened #1286 "Add the IndexedTpch connector to the standard set of available connectors"
Presto comes with the IndexedTpch connector, in package io.prestosql.tests.tpch. This connector should provide a useful example of the way that Presto understands indexes, and sample data to try them out on. A user could use it to experiment with Presto indexes when they want to understand its capabilities.

The IndexedTpch connector is not listed in the user documentation as one of the standard c

[2019-08-13 19:37] afilipchik commented on #1259
+1. I guess it is caused by some query handling change. After a bit of debugging I noticed that StatementClientV1 in advance method tries to load ```/v1/statement/executing/[QUERY_ID]/xb3cafccb6fc94e6882d227f590aacf79/0``` which in our case (structs) returns 150 Mb of data which mostly full with:
```"typeSignature":{"rawType":"row","typeArguments":[{"rawType":``` json.

That makes query slow (even

[2019-08-13 20:14] martint commented on #1080
Thanks for reporting this @mbasmanova. I know what the underlying issue is -- I'm working on a fix.

[2019-08-13 20:30] electrum commented on #1281
I looked into this and this should be working correctly, as `IcebergConnector.getMetadata()` is wrapping the `IcebergMetadata` instance in `ClassLoaderSafeConnectorMetadata`, which ensures the correct class loader is set for `getTableMetadata` and all the other calls.

[2019-08-13 20:42] electrum commented on #1259
This doesn't look like a leak. Rather, the JSON response appears too large to be processed using a reasonable amount of memory.

By default, the server tries to produce a JSON result size of 1MB, which is much smaller than what you appear to be seeing. Two questions:

1. Do you have any client modifications to set `targetResultSize` to a larger value, or server modifications to increase `MAX_TARGE

[2019-08-13 22:35] vrozov commented on #1281
The issue is not with `IcebergConnector.getTableMetadata()` that is working correctly, it is with `PartitionTable.getTableMetadata()`. Note that the affected query is `select * from "table$partitions"`.

[2019-08-13 22:37] linxingyuan1102 opened #1288 "Can't start the server in Intellij after the Google Sheet Plugin commit"
It gives an error
[code]

I understand that this can be fixed by adding such a file. But is there a simpler way to fix this? Given that I don't intend to use the Google Sheets Connector for now.

[2019-08-13 22:49] electrum commented on #1288
We should probably just delete this file for now. Developers who want to use it can create their own. The existing file also seems to be broken since `metadata-sheet-id` is invalid. Do you want to send a PR to delete the file?

[2019-08-13 23:08] martint commented on #1284
This is a worthy goal. We've talked about it in the past, but it's never been high enough priority for anyone to work on it. In case you're not aware, there are other efforts related to fixing timestamps that we should consider to see if there are potential dependencies that might affect the sequencing of tasks (https://github.com/prestosql/presto/issues/37).

Some other things to consider:
* impl

[2019-08-13 23:22] linxingyuan1102 commented on #1288
Thanks @electrum !

I've opened the PR.

[2019-08-13 23:24] #1288 closed

[2019-08-14 00:15] #1059 closed

[2019-08-14 00:59] electrum commented on #1281
Ah, this is for `SystemTable`. We could add a `ClassLoaderSafeSystemTable` (ugh).

[2019-08-14 01:01] electrum commented on #1281
Sorry for the confusion, I missed the `PartitionTable` part when reading the description.

[2019-08-14 02:40] wyukawa commented on #1259
1. We don't have any client modifications
2. version of the server is 0.197

It would be resolved if we upgrade the presto server.
Thanks!

[2019-08-14 02:40] #1259 closed

[2019-08-14 08:43] sopel39 commented on #1284
Do you think this might be a real issue? I think this case might be similar as for `DECIMAL` support when we switched from `DOUBLE` mapping. Even though timestamp data processing might perform slower, it could be negligible when looking at total query times while the escape hatch complexity might not be worth it.

[2019-08-14 13:42] sopel39 opened #1294 "Presto should report JMX stats for GlueHiveMetastore"
Those stats would be useful for diagnosing Presto performance issues when using Glue

[2019-08-14 13:55] mbasmanova commented on #1080
@martint Martin, thanks for looking into this. I'm curious what the fix is. Would you share some details? @kaikalur also looked into this and shared some ideas in https://github.com/prestodb/presto/issues/13009#issuecomment-520875381 I'm wondering if you have a similar idea or something else.

[2019-08-14 21:20] elonazoulay opened #1297 "Complex nested types json size is huge for ClientTypeSignatureParameter"
We have a deeply nested struct column that is 17k when serialized with TypeSignature/TypeSignatureParameter but the client oom's because the ClientTypeSignature/ClientTypeSignature parameter is ~200mb in size.

This is due to the nested structure duplicating the type signatures of structs defined in the outer level. Would there be a way to use id's to reference the signature instead of repeating i

[2019-08-14 21:41] dain commented on #1284
I think it will be a real issue.  When decimal was added, most people did not use decimal types so impact was low.  Also, decimal in Hive actually has bounds, and you only hit slowdowns at large numbers.  Timestamp is widely used, and FWIU the only mode Hive precision Hive supports nano, which will be slow.

As for the complexity of the escape hatch,  I'm not sure.  There are only 3 readers, so I

[2019-08-14 22:16] farhan3 opened #1298 ""Error write empty file to Hive" while writing to bucketed hive table"
While inserting a row into a bucketed hive table, the following error occurs:

[code]

[code]

The same query works fine for a non-bucketed table. The issue occurs when presto is creating the bucket files. I did some debugging and I found that presto first creates bucket files in the hdfs `/tmp` dir, and I can see the bucket file is present there.

[code]

[code]

According to the logs, it seems t

[2019-08-15 01:42] afilipchik commented on #1297
Changing ClientTypeSignature.getTypeArguments() to
`@Deprecated
    @JsonProperty
    public List<ClientTypeSignature> getTypeArguments()
    {
        return new ArrayList<>();
    }`

reduces response size from 200mb to 300kb. Something fishy is going on inside. Older version of presto returns around 1mb for the same query.

[2019-08-15 08:27] wpf375516041 opened #1300 "Is there a working document for db resource groups?"
I saw DbResourceGroupConfig in the code, I think this should be able to support dynamic resource management, but I don't know how to configure it.

[2019-08-15 17:32] phd3 commented on #1238
[code]
#1128

[2019-08-15 17:42] electrum commented on #276
We should call this `last_day_of_month` so that it's not ambiguous (with last day of year).

[2019-08-15 17:51] #1275 closed

[2019-08-15 18:00] dain commented on #1298
Looks like we are missing a `doAs` wrapper around the loop in `createEmptyFile`:
https://github.com/prestosql/presto/blob/master/presto-hive/src/main/java/io/prestosql/plugin/hive/HiveMetadata.java#L1293-L1295

[2019-08-15 21:55] farhan3 commented on #1298
Tried the patch, it fixed the issue

[2019-08-15 23:04] #1298 closed

[2019-08-15 23:07] dain commented on #1238
[code]
#1298 (fix is in PR #1303)

[2019-08-16 07:04] ebyhr opened #1305 "Support CT and CTAS using viewfs on Hive connector"
I read https://github.com/prestodb/presto/issues/10099 and https://github.com/prestodb/presto/pull/11590, but our new Hadoop cluster uses `viewfs`.  Let me file this issue as a future enhancement.

[2019-08-16 13:10] pgagnon opened #1307 "Support writing time and timestamp columns in JDBC connectors"
`CTAS` and `INSERT` queries involving `timestamp` and `time` typed columns currently fail in JDBC-based connectors. It looks like these types are missing in the write type mapping.

[code]

[2019-08-16 17:14] electrum commented on #1238
[code]
#1200

[2019-08-16 17:15] electrum commented on #1238
[code]
#999

[2019-08-16 18:26] dain commented on #1305
I think the most important step to implement this is to add integration test coverage, which will ensure that we don't accidentally break support in the future.

[2019-08-16 19:09] lxynov opened #1310 "Cannot delete Hive partitions when WHERE clause has a sub-query"
Consider a table `tbl` with a partition column `date`. Query `DELETE FROM hive.u_xinlin.tbl WHERE date IN ('2019-08-16');` works but query `DELETE FROM hive.u_xinlin.tbl WHERE date IN (SELECT '2019-08-16');` doesn't work.

Example queries:
[code]

[2019-08-16 22:43] #276 closed

[2019-08-16 22:44] electrum commented on #1238
[code]
#1295

[2019-08-16 23:13] electrum commented on #1238
[code]
#1241

[2019-08-17 06:16] kokosing commented on #1238
[code]
#1084

[2019-08-17 19:17] martint commented on #1238
[code]

#1071

[2019-08-18 04:53] Praveen2112 commented on #1310
I think multi step execution might help here, the sub query will be evaluated and its result will be passed to the coordinator and based on its result we might to a metadata delete. @findepi Your insights ?

[2019-08-18 05:50] electrum commented on #1310
This is a constant, so it doesn’t require multi step execution. We just need to optimize it so that these two queries have the same plan (I’m surprised they don’t today).