[2021-08-18 09:50] kokosing commented on #8911
[code]
This one looks like it is most related.

The setup hung at `executor.execute("CREATE DATABASE " + databaseName);` not sure if it was already doing a retry or not.

Can we try in failsafe to add a timeout for attempts to see and retry later. Waiting 30 minutes does not sound like a good idea.

[2021-08-18 09:56] gaojun2048 commented on #8907
`bucket` transform Is a kind of hash partition, We need a ranger partition. And If `W` can support the long type, it can meet the needs of our ranger partition.

[2021-08-18 09:59] hashhar commented on #8907
I think this is something you'd need to bring up with the Iceberg project since the transforms are defined within Iceberg and need to be readable and writable by all of the various writers.

cc: @rdblue

[2021-08-18 10:00] gaojun2048 commented on #8907
Yes, Thank you very much. I will go to the iceberg community to raise an issue later.

Thank you!

[2021-08-18 10:03] hashhar commented on #8907
@gaojun2048 Once you create an issue there can you please create a new issue in Trino linking to it? Since we'll need to accomodate those changes if they happen.

I'm closing this now since I think we've reached a conclusion about next steps.

[2021-08-18 10:03] #8907 closed

[2021-08-18 12:16] tooptoop4 opened #8915 "Aggregation pushdown in Redshift connector"
Follow-up to https://github.com/trinodb/trino/pull/3881

[2021-08-18 19:35] kokosing opened #8917 "TestOraclePoolConnectorSmokeTest is flaky"
[code]

[2021-08-18 23:15] 11xor6 commented on #8732
[code]
https://github.com/trinodb/trino/pull/8641

[2021-08-19 00:30] electrum opened #8919 "Support tinyint and smallint when reading Iceberg ORC files"
The [specification](https://iceberg.apache.org/spec/#orc) says that *"ORC `tinyint` and `smallint` would also map to `int`"* so we should support that on read. For write, we should continue to only write `int`. Note that these are called `BYTE` and `SHORT` in the ORC reader.

[2021-08-19 03:21] subkanthi commented on #7285
Hi, Can I take a shot at this?

[2021-08-19 07:25] sangkeon opened #8920 "Can't read Hive ACID table after minor compaction: "Hive table is corrupt. Found sub-directory in bucket directory for partition""
# Overview
After deleting rows of Hive ACID table using Trino, trigger a minor compaction using an alter table in the Hive, and access the compacted partition using Trino failed with "Hive table is corrupt. Found sub-directory in bucket directory for partition...".

Trino failed in this case, but Hive doesn't fail. And after major compaction, everything goes to normal

It seems that cause of issue

[2021-08-19 07:51] ebyhr opened #8921 "Support TRUNCATE TABLE statement"
This statement is DML (not DDL) in ANSI SQL. The keyword `TRUNCATE` is a part of reserved words.

[code]

Output of other databases:
MySQL
[code]

PostgreSQL
[code]

MS SQL Server
[code]

Oracle
[code]

Cassandra
[code]

Relates to https://trinodb.slack.com/archives/CFLB9AMBN/p1629328499266100

[2021-08-19 09:12] kaojunsong commented on #8672
@lukasz-walkiewicz Hi, thanks a lot for your response.
I say there is logout request sent:
![image](https://user-images.githubusercontent.com/9572722/130042352-3848d33d-e641-4f56-b6b3-518403cc97ca.png)

[2021-08-19 10:42] losipiuk commented on #6551
### Problem came back

@phd3, @findepi, @kokosing, @electrum  The topic recently struck back so I want to revive the discussion.

The problem with unparsable Hive views may occur when Trino is rendering `system.jdbc.columns`.
This is due to the [`listTableColumns()` call here](https://github.com/trinodb/trino/blob/858f839b4789aa5abc71099488f0d78d918f4fb6/core/trino-main/src/main/java/io/trino/conn

[2021-08-19 12:29] lonelyGhostisdog commented on #8873
This is what happens when you iceberg 0.12

[2021-08-19 17:47] jackye1995 commented on #8861
@losipiuk FYI, this feature is better added with https://github.com/apache/iceberg/pull/2845, which is not in Iceberg 0.12.0 release. It will be in the next release in September, and then I will implement this feature.

[2021-08-19 22:01] wmoustafa commented on #5977
This is addressed in Coral now https://github.com/linkedin/coral/pull/125. Thanks to @uzshao for the patch!

[2021-08-19 22:03] martint commented on #5977
@wmoustafa, thanks! Is that in a release build, yet?

[2021-08-19 22:06] wmoustafa commented on #5977
@martint, yes, in version `1.0.83`.

[2021-08-19 23:05] mosabua commented on #8905
That does not detail what the possible values for each table property are and it requires the user to run a query to be able to write a query ... while inline documentation like this is great .. its probably not good enough. We can link to that in addition to documenting the properties in the actual docs with possible values, explanations and even example queries..

[2021-08-19 23:10] mosabua commented on #5864
Thanks for closing this @ArvinZheng  ... I initiated the change but forgot about the issue here

[2021-08-20 01:25] dguymon opened #8928 "Integration with AWS ElasticSearch"
Hello,

I was able to connect Trino on EC2 to an ElasticSearch cluster on EC2 instances via an AWS Network Load balancer with 2-way SSL that I stoop up myself without any issue.  Unfortunately, when attempting to connect that same Trino instance to an AWS ElasticSearch cluster managed by AWS, I see the below error during Trino server startup.  Before I deep-deive into troubleshooting, is Trino abl

[2021-08-20 07:09] sumannewton commented on #8928
Can you share the output of elasticsearch API `HOST:PORT/_nodes/http` from the host where trino is deployed?

[2021-08-20 07:22] caneGuy commented on #8
Any plan for this feature? @martint @dain

[2021-08-20 09:01] hashhar commented on #8905
Good point about possible values and some examples.

[2021-08-20 12:01] hashhar commented on #4137
@sopel39 I had a few questions about this.

If I understand correctly this is basically the same as the `applyAggregation` SPI? Is there something specific to JOIN that needs to be considered when pushing aggregations through the JOIN? I couldn't think of any yet.

Are there any any existing examples of rules which convert aggregations into partial + final? Do the plan nodes (or aggregation functi

[2021-08-20 14:06] losipiuk commented on #8865
I tried to reproduce the issue but locks added by Trino during the query seems to work fine, and they prevent Hive (HDP3) from running the final step of compaction, which is deleting old data files.
Could you share more about your environment?
Also if you run `SHOW LOCKS` on Hive while query from Trino is running is the output as expected?

[2021-08-20 14:44] dguymon commented on #8928
Hmm, I think I have network connectivity issues from my Trino EC2 instance to my AWS ElasticSearch cluster that I need to work through.  My bad, will post back with results once I've worked out by nACLs/route tables rules.

[2021-08-20 18:59] electrum commented on #6551
@losipiuk thanks for starting this discussion again. When would `NONE` be used? Or put another way, what operation would want to ignore all errors, including connectivity issues (i.e. entire catalog is effectively offline)?

I'd like to look at this from the other end of the problem. Let's enumerate all of the different SQL features such as `DESCRIBE`, `SHOW TABLES`, `information_schema`, etc., th

[2021-08-20 19:46] sumannewton commented on #8928
Then I will close this for now. Feel free to reopen if you still face any issues.

Thanks.

[2021-08-20 19:46] #8928 closed

[2021-08-20 19:54] sumannewton commented on #8887
New database dedicated to Trino for maintaining metadata is a valid and useful  point. Because it’s acceptable to provide write permissions to Trino on database that is dedicated for Trino itself than having write access on the entire cluster or all databases.

[2021-08-20 19:57] sopel39 opened #8933 "Add saturated floor cast from char to varchar"
Currently, `varchars` are implicitly cast to `char` in order to provide natural comparison semantics (skip trailing spaces). We should add a saturated floor cast from char to varchar.

[2021-08-20 19:57] sopel39 commented on #8933
It appears saturated floor cast from varchar to char is not used currently. cc @skrzypo987 @findepi

[2021-08-20 22:00] tooptoop4 commented on #6551
relates to https://github.com/trinodb/trino/pull/3152

[2021-08-21 00:52] ebyhr commented on #8928
@dguymon By the way, I would recommend joining the community Slack. There is a `#troubleshooting` channel.
https://trino.io/community.html

[2021-08-21 02:05] rubenssoto commented on #6666
Hello guys,

Do you have any solution on this?
We want to use Trino with metabase too.

I created an issue, please vote!

https://github.com/metabase/metabase/issues/17532

[2021-08-21 07:43] hashhar commented on #8887
@academy-codex This sounds like a useful feature to have due to the reasons you've mentioned about permissions management.

There are a few questions we should decide on before implementing this:

- What happens if the configuration for the schema location is changed? i.e. default location has some tables defined already but the new one would be empty
- Since the location is being provided as conf

[2021-08-21 08:16] cyofeiyue opened #8938 "PluginManager loads all the files not just jar file under plugin folder"
discuss :https://trinodb.slack.com/archives/CGB0QHWSW/p1563571775244100
i pick https://github.com/trinodb/trino/pull/1152 source into presto315 which is my company prdouct env version.
compile and get presto-hive-315-pull-1152.jar, `show schemas` cmd  works and no errors.
but when i rename presto-hive-315-pull-1152.jar to presto-hive-315-pull-1152.jar.bak and restart the coordinator serivce
`show

[2021-08-22 11:04] longtran84 commented on #8067
I got error as :

trino> insert into minio.kai_data_management.par_and_buck_by1 values ('a',1,'a'), ('b',2,'b');
Query 20210822_110300_00634_t37mp failed: Internal error
java.lang.UnsupportedOperationException
        at io.trino.plugin.hive.metastore.HiveMetastore.openTransaction(HiveMetastore.java:142)
        at io.trino.plugin.hive.metastore.cache.CachingHiveMetastore.openTransaction(CachingHi

[2021-08-23 09:19] sopel39 commented on #8732
[code]
https://github.com/trinodb/trino/pull/8869

[2021-08-23 10:26] findepi commented on #5468
https://github.com/trinodb/trino/pull/8872 does both steps in one shot.

[2021-08-23 10:32] findepi commented on #5977
@uzshao that's awesome!

would you be willing to bump the coral version used in trino, along with adding a regression test in `io.trino.tests.product.hive.AbstractTestHiveViews`?

cc @losipiuk

[2021-08-23 10:37] hashhar commented on #5977
@findepi There's a PR open at https://github.com/trinodb/trino/pull/8935

[2021-08-23 11:59] allendang001 opened #8940 "ctas bug：presto can not write column type except string into csv table"
CTAS：create table test1 with(external_location='hdfs://aaaa/testaaa', format='CSV') as select * from test

testjson:
      create table test (a int, b varchar);

exception:
       Query failed (#20210823_101459_00008_3rmb4): org.apache.hadoop.hive.serde2.objectinspector.primitive.WritableIntObjectInspector cannot be cast to org.apache.hadoop.hive.serde2.objectinspector.primitive.StringObjectInspec

[2021-08-23 12:00] findepi commented on #8812
@vinay-kl does Hive allow you to bucket on a decimal column?

[2021-08-23 12:02] findepi commented on #8817
@ppalucha is this still applicable after https://github.com/trinodb/trino/pull/8598 ?

[2021-08-23 12:23] findepi commented on #8855
let's start with this.

cc @djsstarburst

[2021-08-23 12:31] findepi commented on #8852
this is actually correct, and as designed

[code]

I don't see any value in accepting these. Let's have a separate issue on this.

[2021-08-23 12:31] #8852 closed

[2021-08-23 12:33] findepi commented on #8867
Marking as a bug, since `OperatorNotFoundException: CAST to varchar cannot be applied to row(revisionid bigint, changedate varchar, changinguser varchar, confirmed varchar, verified varchar, revisionnumber bigint, comments varchar)` should be realized earlier, during analysis. User should not get "Compiler failed" in a case like this.

[2021-08-23 12:48] hashhar opened #8941 "EXPLAIN EXPLAIN should fail with a syntax error"
Currently Trino accepts queries of the form `EXPLAIN EXPLAIN SELECT * FROM tpch.tiny.customer;` which don't make much sense.

This should be treated as a syntax error.

See https://github.com/trinodb/trino/issues/8852 also.

[2021-08-23 12:53] findepi commented on #8893
@JamesRTaylor i am curious where the link leads. it gives me 404 currently.

i am tagging this as a correctness bug, based on the class name in the link

[2021-08-23 12:53] findepi commented on #8893
cc @joshthoward @losipiuk @alexjo2144 @skrzypo987

[2021-08-23 14:00] losipiuk commented on #6551
Good point. Probably not needed. I added it as it felt natural but I agree we should have it dropped if is not obviously usable.

Attempt captured in the table below:

| SQL Feature                                       | Accessed SPIs

[2021-08-23 14:14] findepi commented on #8893
see also https://github.com/trinodb/trino/pull/3316#discussion_r681716790
cc @rzeyde-varada

[2021-08-23 14:29] phd3 opened #8943 "Upgrade Avro version to 1.10.1"
A [bug](https://github.com/apache/avro/pull/969/files#diff-2812ad83e127ca916e60f60beff26c675cb92eaa7159fb7bc100971d5a1c69f8R61) in the current avro version fails some iceberg queries because it fails to read an avro file. https://github.com/apache/iceberg/issues/1654

We need to bump the avro version to `1.10.1` for the fix. However, we should see if we should only do that when we upgrade Iceberg

[2021-08-23 14:50] findepi commented on #8905
@mosabua yes, the available table properties should be documented in Hive connector docs.

Currently the coverage is erratic, with e.g. `bucketed_by` being mentioned in examples only and e.g. `skip_header_line_count` being mentioned in release notes only.

btw the `SELECT * FROM system.metadata.table_properties` is a good way to get the docs initialized,
also, if we could test the docs (and we alr

[2021-08-23 14:51] findepi commented on #8933
let's remove it then!

cc @losipiuk

[2021-08-23 14:52] findepi commented on #5977
thanks @hashhar @ebyhr !

we should also add a test for a view with a `WITH`. that would close this issue.

[2021-08-23 15:08] findepi commented on #8943
cc @losipiuk @jirassimok

[2021-08-23 15:10] #7308 closed

[2021-08-23 15:32] phd3 commented on #8732
[code]

#7308, #7373

[2021-08-23 15:40] findepi commented on #8904
closing, since this is answered.

BTW, there is no Join pushdown for Hive connector, since there is no other engine we could push things into.

[2021-08-23 15:40] #8904 closed

[2021-08-23 15:52] lukasz-walkiewicz commented on #8672
It looks like the logout on the Trino side is actually happening (notice `__Secure-Trino-OAuth2-Token=delete`) but since Trino does not have any page a user could be redirected to after a successful logout and the user starts the authorization flow right away. If he/she is still logged in the IdP (in your case Keycloak) the authorization flow succeeds without the user even noticing it.
That said,

[2021-08-23 16:39] jirassimok commented on #8943
I'm already looking into the version bump to address a different issue. I'll put up a PR with the minimal change in a moment.

[2021-08-23 18:14] hassanahmadkhani commented on #1861
in presto 333 kudu connector works fine for decimal fields

Create Table :
`CREATE TABLE kudu.default.users (
  user_id int WITH (primary_key = true),
  dec_filed1 DECIMAL(16,2),
  dec_filed2 DECIMAL(18,4),
  dec_filed3 DECIMAL(38,4),
  first_name varchar,
  last_name varchar
) WITH (
  partition_by_hash_columns = ARRAY['user_id'],
  partition_by_hash_buckets = 2,
  number_of_replicas=1
);
`

Inse

[2021-08-23 20:02] kokosing commented on #8911
[code]

[2021-08-23 20:36] findepi commented on #8940
the limitation is intentional, since CSV serde supports unbounded varchar (string) data type only.

this should have failed earlier.

[2021-08-24 05:20] optimus-kart opened #8950 "com.amazonaws.services.s3.model.AmazonS3Exception: The specified bucket does not exist while querying AWS s3 via trino"
I am using the following catalog config to connect to AWS S3  using trino (`s3bucket.properties`)

[code]
Similarly, In the hive-metastore (backed by MySQL DB)  I have  updated the hive-site.xml with the relevant config to connect to AWS S3, now when I try to run the below query

[code]
I get the following error:
`The specified key does not exist. (Service: Amazon S3; Status Code: 404; Error Code`

[2021-08-24 05:49] hashhar commented on #8950
This is incorrect and causing the issue - the S3 endpoint refers to the S3 service's endpoint not the bucket URL. The default value should work unless you are using some S3-compatible system like Minio.
If you want to use a regional S3 endpoint you should use the ones mentioned at https://docs.aws.amazon.com/general/latest/gr/s3.html.

I'm closing this but feel free to re-open if this doesn't reso

[2021-08-24 05:49] #8950 closed

[2021-08-24 05:57] academy-codex commented on #8887
@hashhar
The answer to the second question, I would recommend that the user creates the database and not trino. We enforce a check like the name should start with trino_ or something and let the user take care of provisioning the database. Because its not just a matter of creating a database, it also means whether or not to create index on table name, etc. which can be said as admin operations. Cr

[2021-08-24 06:04] wmoustafa commented on #6353
Hive QL to IR is introduced in https://github.com/linkedin/coral/pull/131.

[2021-08-24 06:07] hashhar commented on #1861
Thanks for confirming @hassanahmadkhani . It was indeed fixed in https://github.com/trinodb/trino/commit/dd2f342220c0335860cec2aa59dca61c5513027f (first landed in 327) while the bug report if from 320.

I'm closing this issue since it's resolved.

[2021-08-24 06:07] #1861 closed

[2021-08-24 06:10] optimus-kart commented on #8950
@hashhar  thanks for the suggestion, It is working fine after updating the hive.s3.endpoint value.
That said the trino documentation mentions the following

[code]
The example mentioned point to bucket endpoint which lead me to use the bucket endpoint instead of s3 service endpoint, do you think this needs to be updated?

[2021-08-24 06:14] hashhar commented on #8887
For the first question I agree with your solution - let the user be responsible for copying the data from old database to new if they change the config.

For the second - does it matter if we allow Trino to try to create the database/indexes as long it has the permissions?
If the user forgot to create the database (or Trino doesn't have permissions) it'll fail like it already does today.
If the us

[2021-08-24 06:17] hashhar commented on #8950
@optimus-kart Thanks for catching that. The example is indeed misleading. It should've been `http[s]://s3.<AWS-region>.amazonaws.com` Would you want to contribute a fix to the docs? If not I can take care of it.

[2021-08-24 06:18] optimus-kart commented on #8950
@hashhar  I will raise a PR for the same. thanks

[2021-08-24 06:52] academy-codex commented on #8887
Yes i agree with you. My point is basically centered around compliance heavy firms, basically would we ever let a system user have such permissions in production systems ? I may be wrong, but ideally i would not let my system user have anything other than basic Read Only. But yes, from a generality point of view doesnt matter. We should go with general approach, i see your point.

Let me take this

[2021-08-24 06:54] findepi commented on #2298
i am not sure what is the scope of this issue?

[2021-08-24 07:06] hashhar commented on #8887
@academy-codex Yes, in locked down environments Trino would fail with an error. We should make sure the error message is actionable (i.e. it should say something like "create this schema or add permissions"). The user can then decide what to do depending on their security posture.

This way I think both the general and the security-sensitive use-cases are addressed. WDYT?

Thanks for picking this

[2021-08-24 07:22] academy-codex commented on #8887
Agreed :)

[2021-08-24 08:22] findepi commented on #8873
@sixtree92 you should probably see the actual problem being logged before the NPE is thrown.

https://github.com/trinodb/trino/pull/8951 fixes the code not to throw NPE and to propagate actual problem.

[2021-08-24 08:33] ppalucha commented on #8817
Yes, I believe so - it behaves the same on version 360.

[2021-08-24 09:37] findepi commented on #8691
https://github.com/trinodb/trino/runs/3409206985

[2021-08-24 09:54] sopel39 commented on #4137
There is `PushPartialAggregationThroughExchange` and `PushPartialAggregationThroughJoin`

IMO this doesn't require SPI changes (cc @martint)

Essentially, this would be similar to `PushPartialAggregationThroughJoin`, but:
* we want to make sure aggregation is consumed by connector (otherwise leaving PA below join might not be that effective)
* we need connector to produce partial aggregation resul

[2021-08-24 11:37] jdintruff commented on #2298
We had a need to read external tables that had been stored on HDFS but were not managed by the Hive metastore. IIRC the idea was to make it so that the Iceberg connector could be pointed at a location on HDFS where an external table was and read the schema and table properties from the Iceberg manifest file that existed alongside the Avro data itself on HDFS.

I had done some work on this before I

[2021-08-24 11:43] findepi commented on #2298
i hear two things here:

- iceberg avro file format support
  - was worked on in https://github.com/trinodb/trino/pull/4776
- ability to query iceberg table by its location, bypassing metastore

would you agree these are independent and can be tracked by separate issues?

[2021-08-24 11:44] jdintruff commented on #2298
Precisely.

[2021-08-24 11:46] findepi commented on #2298
I've update the issue title accordingly. Feel free to create a dedicated issue for Avro format support.

[2021-08-24 12:10] nineinchnick opened #8952 "KerberosConfigPath cannot be changed without reloading the JDBC driver"
The JDBC driver accepts the `KerberosConfigPath` property and validates if it matches the `java.security.krb5.conf` system property, if the latter is set. But then it sets it to this value, which prevents using a different value for a subsequent connection.

I've noticed this when testing Kerberos auth in Tableau Desktop. After spotting a typo in the value, I couldn't correct it, without restartin

[2021-08-24 13:21] findepi commented on #8691
https://github.com/trinodb/trino/runs/3410107887

[2021-08-24 14:00] #4140 closed

[2021-08-24 14:06] hashhar commented on #8732
[code]

#4140, #6069

cc: @elonazoulay Does the release note look good to you? Anything I missed?

[2021-08-24 14:40] kokosing commented on #8952
It looks like an invalid path. `'` do not match.

[2021-08-24 15:09] nineinchnick commented on #8952
Yeah, that's the typo I mentioned in the description. This issue is about not being able to correct it, without restarting the app that's using the JDBC driver.

[2021-08-24 15:39] nineinchnick commented on #8952
This would also prevent using different configs when connecting to different Trino clusters, in a single instance of the client.

[2021-08-24 15:42] kokosing commented on #8952
The thing is that it is a system property that is used by internals of JVM and it cannot be set multiple times. If it is set in multiple connectors it has to be set to the same thing in all of them. I don't think we can do anything with this.

[2021-08-24 16:20] nineinchnick commented on #8952
Checking if the file exists would mitigate some issues, but not when a user points to a different file by mistake, which could even fail to parse. So it's simpler to pass an exception from GSSAPI, which actually uses this config, up to the user, and allowing the user to correct the mistake by trying to open another connection with different parameters.

I understand that this check was introduced

[2021-08-24 16:41] nineinchnick commented on #8952
WDYT about something like this? https://github.com/trinodb/trino/compare/master...nineinchnick:krb5-conf-check

[2021-08-24 18:07] kokosing commented on #8952
What's the difference?

I think checking file existence is good idea

[2021-08-24 18:31] nineinchnick commented on #8952
The difference is that we only compare the value of `KerberosConfigPath` connection param with the value of the `java.security.krb5.conf` system property at the time of starting the client program, and not with what has been used in the previous connection.

[2021-08-25 04:36] electrum commented on #6551
For listing tables and columns, there are way too many different APIs. We should have a single API for each operation that returns all the necessary information and supports the filtering needed for performance.

The current code that deals with schema prefixes, table vs view handling, etc. all needs to go away. The connector should be called once and return a lazy stream or similar.

The new APIs

[2021-08-25 07:58] YY0919 opened #8957 "Superset queryPrepare and Describe functions are not applicable"
Hey, I worked on creating dashboards based on Trino + Superset. Both of them are the latest version. I followed the instructions from https://trino.io/docs/current/sql/prepare.html to display the lineage of the query output. I got a syntax error after running the following query:

[code]
Below is the syntax error :
![Screen Shot 2021-08-25 at 3 56 54 PM](https://user-images.githubusercontent.com/3

[2021-08-25 08:51] sopel39 commented on #8432
https://github.com/trinodb/trino/pull/8796/checks?check_run_id=3415035561

[2021-08-25 08:53] sopel39 commented on #8732
[code]
https://github.com/trinodb/trino/pull/8796

[2021-08-25 09:20] allendang001 commented on #8940
is it ok that converting type to string before writing to csv file?

[2021-08-25 09:36] nineinchnick commented on #8952
We talked offline and now I understand that we shouldn't really change `java.security.krb5.conf` because it's not clear when and how it's being used and is it cached. I'll open up a PR to add a check if the file exists, if specified. That'll solve this particular problem.

[2021-08-25 09:46] polaris6 commented on #6558
@Xiangakun This problem has not been resolved, do you consider reopen it?

[2021-08-25 10:13] findepi commented on #6558
@polaris6 this is tracked in #5518
The issue talks about optimized Parquet writer, which is opt-in in Hive connector, but used unconditionally in Iceberg connector.

no need to reopen this one.

[2021-08-25 10:14] findepi commented on #8940
it's expected that a user does that explicitly. We made such decision to avoid doing silent data conversions on behalf of the user.

i am closing this as answered, but we can continue talking here.

[2021-08-25 10:14] #8940 closed

[2021-08-25 11:46] allendang001 commented on #8940
it will lead to that ctas statement failed in default if there are non string type in the result of query. it it a mislead

[2021-08-25 17:02] martint opened #8968 "Incorrect result for addition between long decimals"
[code]

incorrectly produces:

[code]

I suspect the bug is in the addition operator for decimals not properly resetting it state across rows.

It affects all versions since 345.

[2021-08-26 02:42] guiyanakuang opened #8976 "Support custom connector proxy querying multiple data sources"
Hello community.

In my company we use hive to store data internally and use Druid or other jdbc engine to store materialized views. We have a special system to synchronize data and it supports me to query whether the materialized view is fresh or not.Now I need to find an engine to unify the query interface. I thought Trino would be perfect for this.

So I implemented a demo for this purpose. It

[2021-08-26 08:04] sunningCGo opened #8979 "Exception caused by cancellation in JDBC driver not informative enough"
In the Trino JDBC driver, when a thread T is waiting for the execution of a statement to complete, another thread can invoke Statement.cancel to cancel the execution of the statement and unblock T. T will then get an SQLException. However, the SQLException provides no indication that the failure of the execution is due to cancellation. In particular, neither the error code nor the SQL state is set

[2021-08-26 08:50] bigxiaochu opened #8980 "How to set jvm config when 512GB memory"
my cluster will use new machines, 96 cores cpu and 512GB memory.
How to set jvm config and memory.heap-headroom-per-node conf when 512GB memory .
My trino version is 340, jdk 11.

[2021-08-26 09:42] #8968 closed, assigned to nobody

[2021-08-26 10:19] #8789 closed, assigned to nobody

[2021-08-26 10:49] halicizade opened #8983 "Error committing write to Hive"
trino version: 360
hive version: 3.1.0
jdk: zulu jdk11_0_12
-DHADOOP_USER_NAME=hive

[code]

[code]

[2021-08-26 14:47] #8976 closed, assigned to nobody

[2021-08-26 15:21] yaoshouchong opened #8988 "hive add column，trino select not found this column。presto is ok"

[2021-08-26 20:12] Justin-Kwan opened #8996 "Clean up constructor of `LocalQueryRunner`"
**Description**

The constructor of `LocalQueryRunner` initializes many objects, and potentially unnecessarily copies objects fields. For instance, it is unclear why session must be re-created with copied over fields. ex: https://github.com/trinodb/trino/blob/fe608f2723842037ff620d612a706900e79c52c8/core/trino-main/src/main/java/io/trino/testing/LocalQueryRunner.java#L395

Ideally, many of these o

[2021-08-27 12:34] tooptoop4 opened #9007 "UNLOAD statement for writing query results to S3"
Use case: Trino being used for federated access to join between data in Oracle and SQLServer catalogs. The result of a join query needs to be written to a consuming/downstream team's s3 bucket (ie a regular report extract file).

Currently there are 2 ways to achieve this use case in trino, but neither are optimal.
1. Spool query results to local disk (which is limited, unlike s3) and then upload

[2021-08-27 13:00] ebyhr opened #9008 "Add support for TIME WITH TIME ZONE in H2 query runner"
https://github.com/trinodb/trino/blob/master/testing/trino-testing/src/main/java/io/trino/testing/H2QueryRunner.java#L329-L331

H2 added the support in https://github.com/h2database/h2database/pull/2128

`TIMESTAMP_WITH_TIME_ZONE` in the class has below comment. We should check whether `TIME WITH TIME ZONE` is fine.

[2021-08-27 20:45] electrum opened #9012 "Fix UnsafeUtil for orc-protobuf"
[code]

[2021-08-27 21:45] fcomuniz opened #9013 "Not able to get column information from information_schema when struct field name contains a slash "/" character"
I have an environment where i have trino (358) connected to a hive metastore (3.1.2), and trying to get the information schema for all the columns in the connector, i ran the following query

[code]

This gave me an error when running the query

[code]
I ommited the traceback for the rest to avoid too much output.

It looks like Trino uses hive to get the type info, but looks like it fails on a ty

[2021-08-27 23:39] martint opened #9015 "Release notes for 362"
## Ashhar Hasan
- [x] all checked
-  08-28 22:50:33    89e61ecbfa Fix failing test due to missing comma
-  08-31 04:50:54    60e0337380 Remove obsolete test
-  08-31 04:50:54    ab46771504 Fix comment to mention memory connector instead of Cassandra
-  08-31 04:50:54    b7f4c81728 Change assertions to explicitly check for existence of table
-  09-01 12:17:45    01d38b2b92 Apply overrides from prov

[2021-08-28 15:46] Kyle-Payne opened #9016 "Validation of node.environment fails if you set he value via an environment variable like ${ENV:xxx}"
The node.environment only allows lower case letters, numbers and an underscore. The current validation checks don't account for the fact that you may want to set the node.environment via an environment variable so the following results in a malformed text error: node.environment=${ENV:SEP_ENV}.
Another engineer suggested an easy fix is to allow ${ENV:[a-z]} in the regex that validates values of no

[2021-08-28 17:03] findepi commented on #9016
I guess you're setting `node.environment` in `node.properties`?
if i read the code correctly, this is read with `launcher.py` https://github.com/airlift/airlift/blob/b29ae98ef532a963bf1475090c7698998582de10/launcher/src/main/scripts/bin/launcher.py#L436
then passed to JVM https://github.com/airlift/airlift/blob/b29ae98ef532a963bf1475090c7698998582de10/launcher/src/main/scripts/bin/launcher.py#L223

[2021-08-28 18:43] nineinchnick commented on #9016
If env expansion is done here https://github.com/trinodb/trino/blob/bda8eb55ed49406ef2503e13b00e73ecc54d1dff/core/trino-main/src/main/java/io/trino/server/Server.java#L116 but the node module gets instantiated a few lines above, the validation happens there. Would expanding the validation regex help and would it still be expanded correctly?

[2021-08-28 20:30] phd3 opened #9018 "Populate split_offsets in Iceberg metadata"
Iceberg allows writers to store split offsets for every data file. These offsets are used by Iceberg during split generation to align splits with file format specific data boundaries (e.g. ORC stripes). Trino's Iceberg writer should also write this field, but it doesn't seem to currently. Trino code change should be in `CommitTaskData` and `IcebergMetadata#finishInsert`.

Relevant links: [split_of

[2021-08-28 21:23] academy-codex commented on #1573
Can we incorporate #8591 and provide a more better fix here ?
@ebyhr @RameshByndoor

[2021-08-28 21:26] academy-codex commented on #4544
@findepi @ebyhr I think this can be fixed #8956 with the createIndex flag ?

[2021-08-28 21:35] academy-codex commented on #5810
Let me take this up! Ill try it out.

[2021-08-28 22:08] losipiuk opened #9021 "Ensure grouping keys are not read by JDBC connector after aggregation pushdown if not needed by upstream query execution"
Reproducable via PostgreSqlQueryRunner
[code]

[2021-08-29 01:31] ebyhr commented on #4544
@academy-codex I guess so. However, we need to add tests as @findepi mentioned.

[2021-08-29 07:32] academy-codex commented on #4544
@findepi How do we go about testing this, lets close this ?

[2021-08-29 16:22] ByPatrick opened #9022 "The system used memory was occupy after running trino query even the query was finished or shutdown the trino server"
I'm running 1 coordinator + 2 worker on docker engine in 3 nodes,  28G memory each node and only for trino service.

Once I running a query which is write data to Hive table with ORC format, the system used memory on worker's node is increasing and almost resident all the system's memory.
After query is done, the memory seems not been released even kill the trino container.

After the query - the

[2021-08-29 17:27] hashhar opened #9023 "DROP TABLE fails with "Failed to translate view" if executed against a broken view"

[2021-08-29 17:34] hashhar commented on #9023
Note that this problem is not limited to views. This is a more general problem where checking for existence of other objects (tables, views, materialized views) can fail even though the original statement wasn't going to fail.

IMO if the expected user-facing effect of https://github.com/trinodb/trino/commit/7dff33590ec7d3f0584d608a67054e9e7100502c#diff-0b163286d3b9bbd8a73ae6c404e8e2487077b0266b6f

[2021-08-29 19:41] findepi commented on #9023
cc @lukasz-stec @sopel39

[2021-08-30 07:51] hashhar commented on #9021
Seems like it happens due to https://github.com/trinodb/trino/blob/9e3a1db7f520296577a87074ed9c97e54b559529/plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultJdbcMetadata.java#L300-L303.

We can try to be smarter about this and only add a projection for the grouping column if it's required (e.g. no aggregation function is present or the grouping column is part of an existing project

[2021-08-30 08:59] sopel39 commented on #9023
Why would you use `DROP TABLE IF EXISTS two;` on `two`, which is a view?
You should use `DROP VIEW two` instead. Does that succeed?

[2021-08-30 09:03] findepi commented on #9021
please base it on https://github.com/trinodb/trino/pull/8562 work.

[2021-08-30 09:05] lukasz-stec commented on #9023
I see the getViiew can also fail with HiveViewNotSupportedException
[code]
we should probably ignore that as well.

One option I see is to add
[code]
that would, for some connectors (hive, iceberg,) ignore some known exceptions.
I think it's fine if we fail for unexpected reasons (e.g. network is down)

[2021-08-30 09:09] findepi commented on #9016
That looks like a wrong direction. The validation should run -- and i hope it _is_ run -- on actual bound values, regardless of how they are bound.
Thus, if the validation complains about `${ENV:xxx}`, i would expect `${ENV:xxx}` to be the actual value bound, not some intermediate artifact.

[2021-08-30 09:10] sopel39 commented on #9023
`VIEW_TRANSLATION_ERROR` is not part of SPI, should it be?

Ideally, it's the engine that performs analysis/translation and analysis is not being done normally when view handle is being obtained, so it doesn't fail during view removal.

I think if we want to fix it, then there are two approaches (maybe more?):
1. We expose `VIEW_TRANSLATION_ERROR` to SPI and catch it when view handle is being obta

[2021-08-30 09:18] sopel39 commented on #9023
In any case, `DROP TABLE` on a view should fail regardless, because it is a different entity even if `DROP TABLE` works accidentally.

[2021-08-30 09:27] findepi opened #9027 "Incorrect translation of table.* references in Hive views"

[2021-08-30 09:28] findepi commented on #9027
being fixed in https://github.com/linkedin/coral/pull/136, should be covered in `AbstractTestHiveViews` as well.

[2021-08-30 09:28] hashhar commented on #9023
Yes, this is only about the error message being misleading. I think the new behaviour is correct.

[2021-08-30 09:30] findepi commented on #9023
Does the `DROP VIEW` succeed on a view that cannot be translated?

[2021-08-30 10:02] sopel39 commented on #9023
`DROP TABLE view IF EXSITS` should also succeed, but it will fail now for Hive if view cannot be translated.

[2021-08-30 10:03] yaoshouchong commented on #8988
Hive metastore caching disable

[2021-08-30 10:14] nineinchnick commented on #9016
You're right, the final values should be validated. If the expansion would need to be moved out of the Bootstrap class, then this issue would be related to https://github.com/trinodb/trino/issues/8245.

[2021-08-30 10:15] hashhar commented on #8988
Are these two Hive metastore services backed by the same Hive metastore database?

Also can you share the steps to reproduce. i.e. the actual CREATE TABLE you run and the ALTER TABLE and the exception stack-trace?

[2021-08-30 10:47] yaoshouchong commented on #8988
yes，  two Hive metastore services backed by the same Hive metastore database。
last time，check stack-trace no error log 。
now ，online environment cut back presto sql version 225。

[2021-08-30 11:20] ebyhr commented on #9015
[code]

#9005

[2021-08-30 11:24] jpohanka opened #9029 "Aggregate pushdown fails to happen in some cases with COUNT and COUNT(DISTINCT) aggregate functions."
At [Datasapiens](https://www.datasapiens.co.uk) , we are happy to see the aggregate pushdown functionality to Pinot to be available in the latest release of Trino 361. A big thanks to the Trino community and especially to @elonazoulay for providing such functionality.

We successfully tested its functionality on few simple queries containing the following aggregate functions:

- `min`
- `max`
- `s

[2021-08-30 11:39] hashhar commented on #9029
`count(col)` is not pushed down because Pinot handles it incorrectly - Pinot treats `count(col)` the same as `count(*)`. i.e. it includes count of null values too which would lead to incorrect results so that is not pushed down.

cc: @elonazoulay for the COUNT(DISTINCT) case.

[2021-08-30 11:41] hashhar commented on #9029
Looks like the `COUNT(DISTINCT)` case is also the same. the presence of `count(col)` is preventing pushdown. See https://github.com/trinodb/trino/blob/master/plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotMetadata.java#L426-L430 for reasoning.

[2021-08-30 12:37] findepi opened #9030 "Incorrect query results when comparing char values with varchar values longer than 65536"
Currently, unbounded `varchar` and `varchar(n)` for n≥65536 gets coerced to `char(65536)`.

This means that, if the actual value of `varchar` is longer than 65536, it gets silently truncated, leading to incorrect comparison result.

cc @martint @sopel39 @kasiafi @losipiuk

[2021-08-30 12:37] findepi opened #9031 "Change character literal treatment and char/varchar coercion"
- `'...'` literals should be of type `char(n)`, not `varchar(n)` as they are today
- `char(n)` should coerce to `varchar(n)`, not the other way around
  - this effectively reverts 3d9d004bde77c847108ece06c727536669b6a640, 7662f71234d6bb73e61c1cebcf3e1164e00227de, but the change to character literals should address same needs.
  - this also fixes the problem with `varchar(n > 65536)` being coerced

[2021-08-30 13:24] sopel39 commented on #9031
Most importantly, current comparison semantics (trailing space insensitive between char/varchars) should be preserved. Some old design doc about it: https://docs.google.com/document/d/1UngGirjV_I7nPnIGU6G7SDS0cY8j7N_Jb3Wk3EoHChc/edit?usp=sharing.

[2021-08-30 13:43] findepi commented on #9031
The doc seem to focus on INSERT, which today is handled explicitly see #2061 cc @kasiafi

@sopel39  Are there other parts of this doc, which i should still read carefully?

[2021-08-30 13:48] sopel39 commented on #9031
There is section about `COMPARISON_ARGUMENT<T1,T2,X>`

[2021-08-30 14:13] ebyhr commented on #8957
You need to append `;` in the first statement.
[code]

Also, I would recommend joining to the community Slack and ask questions there.
https://trino.io/community.html

[2021-08-30 14:13] #8957 closed

[2021-08-30 14:25] findepi opened #9036 "Query failure when downcasting varchar to a shorter char"
This is a bug introduced in https://github.com/trinodb/trino/pull/8984 (361). Thanks @kasiafi for spotting this.

[code]

cc @losipiuk @martint

[2021-08-30 15:14] findepi commented on #9016
that issue, about `event-listener.properties`, will likely have different solution. Agree that's related still.

[2021-08-30 15:20] findepi commented on #9023
I feel like `DROP TABLE IF EXISTS a_view` should **not** succeed.
And we don't have `DROP TABLE IF IT IS TABLE ...` statement.

What does the spec say? cc @martint

[2021-08-30 15:32] findepi commented on #9029
@hashhar can it be worked around with something like `sum(CASE WHEN col IS NULL THEN 1 ELSE 0 END)`?
cc @elonazoulay

[2021-08-30 15:43] findepi opened #9039 "Prune relations when system.metadata.materialized_views is filtered by view `name` but not `schema_name`"
Currently, `system.metadata.materialized_views` doesn't do pruning when invoked with `name` filter but without `schema_name` filter:
https://github.com/trinodb/trino/blob/0c33696bc81aadeaa418a9e409b23ec220adfb98/core/trino-main/src/main/java/io/trino/connector/system/MaterializedViewSystemTable.java#L101

It could do better.

[2021-08-30 15:52] findepi opened #9040 "Flaky test TestIcebergMaterializedViews.testMaterializedViewsMetadata"
https://github.com/trinodb/trino/runs/3462742360

[code]

[2021-08-30 15:56] findepi opened #9041 "system.metadata.materialized_views fails when a materialized view removed during reading"
When  reading from `system.metadata.materialized_views` and a materialized view gets dropped concurrently, the query fails with

[code]

See https://github.com/trinodb/trino/issues/9040. That issue covers test flakiness and hopefully will be resolved soon, but the problem with production code remains.

cc @sopel39 @raunaqmorarka @joshthoward

[2021-08-30 16:47] haochuantuo commented on #380
A great comparison also appears at https://stackoverflow.com/questions/68882527/difference-between-trino-and-presto/68935260?noredirect=1#comment121908556_68935260

[2021-08-30 18:10] elonazoulay commented on #9029
Aggregations with expressions are not yet pushed down. Also for the first case - if there are other aggregations in the query along with count(distinct) then pushdown does not happen either.
Same with count on more than 1 column.

An alternative is to use a "passthrough" query:
```SELECT * FROM pinot.default."select col1, count(*), count(col), count(distinct col) from table group by col1"```

[2021-08-30 18:28] mainstreet439 opened #9043 "trino 359 does not add millisecond to timestamp while 358 would"
trino 358 and 359 servers mapped to data in mysql

following query returned expected value in 358 but fails in 359

select rnum, cts, DATE_ADD('millisecond',cast( floor(1) as integer), "cts") from tts

![image](https://user-images.githubusercontent.com/35159902/131386557-f64d8339-f9c5-4833-bde7-766170c5d428.png)

![image](https://user-images.githubusercontent.com/35159902/131386638-b0b3f3c2-ade4-4

[2021-08-30 18:33] raunaqmorarka commented on #9041
Since MV freshness is not available as part of `getMaterializedView`, we have to make a separate `getMaterializedViewFreshness` metadata call for it. If the MV is dropped concurrently meanwhile, I think connector code should at least handle it gracefully and throw MaterializedViewNotFoundException. Then we could handle that exception in the MV listing code.
In this case, `IcebergMetada#getMaterial

[2021-08-30 18:42] Justin-Kwan commented on #9041
Would it be helpful to unify the MV representation, where one could get a materialized view which contains its freshness status without making another call?

[2021-08-30 18:44] jpohanka commented on #9029
It would be maybe worth incorporating these findings into the Trino Pinot connector documentation.

[2021-08-30 18:59] findepi commented on #9029
@elonazoulay what does Pinot return for a Pinot query `SELECT sum(CASE WHEN col IS NULL THEN 1 ELSE 0 END) FROM table` where `col` is a column containing some null values and some non null values?

[2021-08-30 19:02] sunningCGo commented on #8979
I looked at the Trino JDBC driver source code a little bit. It seems that Statement.cancel (which is implemented by TrinoStatement.cancel) calls StatementClient.close. In turn, StatementClient.close is implemented by StatementClientV1.close which sends an HTTP DELETE request to the Trino server. So actually, the server arbitration approach that you described (where S sends a cancellation request t

[2021-08-30 19:04] findepi commented on #8979
@sunningCGo i aware that cancel in the JDBC cancels the query on the server.
The important difference between current state and "arbitrage" is -- does the JDBC driver wait for the server to acknowledge the cancellation and "complete" the query, or does the JDBC cancel immediatelly?

[2021-08-30 19:06] Justin-Kwan commented on #9041
We could also introduce `NoneIcebergTableHandle` and return that if the table is missing to avoid any sort of null checks as well.

[2021-08-30 19:32] sunningCGo commented on #8979
OK, I see what you mean now.. Thanks for the clarification!

[2021-08-30 20:32] rosewms opened #9047 "Add timestamp info to MySQL"
See the [359 release notes](https://trino.io/docs/current/release/release-359.html#mysql-connector) MySQL section.

[2021-08-30 20:37] rosewms opened #9048 "Update _schema collection in MongoDB doc"
[See 359 release notes in the MongoDB section](https://trino.io/docs/current/release/release-359.html#mongodb-connector).

[2021-08-30 20:41] rosewms opened #9049 "Update Iceberg doc SHOW TABLES functionality"
[See the 359 release notes for Iceberg](https://trino.io/docs/current/release/release-359.html#iceberg-connector).

[2021-08-31 00:58] phd3 opened #9051 "Flaky io.trino.plugin.memory.TestMemoryConnectorTest.testCreateAndDropTable"
[code]

https://github.com/trinodb/trino/runs/3463395818?check_suite_focus=true

[2021-08-31 02:02] ebyhr commented on #9051
It seems the test verifies table count before and after the operation. It will fail if other tests create or drop a table at the same time.
[code]

[2021-08-31 05:23] hashhar commented on #9051
@ebyhr Looks like it should be easy to rewrite to use `SHOW TABLES` to verify table existence to avoid this problem?

[2021-08-31 06:00] hashhar commented on #9013
cc: @alexjo2144 since you were looking into weirdly named columns behaviour in the Hive/Iceberg connectors.

[2021-08-31 06:01] hashhar opened #9053 "Add tests to validate resource group configurations used in documentation"
We should make this a file and validate it in `TestFileResourceGroupConfigurationManager.java`

_Originally posted by @electrum in https://github.com/trinodb/trino/pull/8924#discussion_r697623222_

[2021-08-31 06:07] valeriano-manassero opened #9054 "[MariaDB connector] Invalid value of epochMicros"
Following a discussion on Slack channel, starting with version 359 we have support for higher precision timestamps on MySQL.

One more reference here: https://github.com/trinodb/trino/pull/7198#issuecomment-817321405

In my case, when executing a query involving timestamps on a `10.1.32-MariaDB`, I got:

[code]

This is preventing an upgrade forcing me to stay on 358.

[2021-08-31 07:01] ebyhr commented on #9051
@hashhar I'm not working on this. Please feel free to send PR. Thanks.

[2021-08-31 09:03] sopel39 commented on #9041
Something similar as https://github.com/trinodb/trino/commit/d1417dc5f266942ad8d304e1639de47b2dba3033

[2021-08-31 09:34] #9036 closed

[2021-08-31 11:50] #9051 closed

[2021-08-31 13:12] findepi commented on #9015
[code]

#9036 https://github.com/trinodb/trino/pull/9038

[2021-08-31 13:30] findepi commented on #9051
Thanks @hashhar for fixing this!

[2021-08-31 13:42] findepi commented on #9053
See `io.trino.server.security.TestUserMapping#testDocsExample` for example of such test.

[2021-08-31 13:51] findepi commented on #9043
@mainstreet439 my guess is that you're using MySQL connector and you have `datetime(1)` column
Starting with 359, we have full `timestamp(n)` support in the connector, so the column is now naturally mapped to `timestamp(1)`, while it used to be mapped to `timestamp(3)`.
To restore original behavior, you need to change the data type of the column in the database, or apply a CAST to `timestamp(3)` o

[2021-08-31 14:11] findepi opened #9058 "Support Hive view containing INTERVAL"

[2021-08-31 14:11] findepi commented on #9058
Since it worked in Presto 344, i am marking this as a bug.

[2021-08-31 14:11] findepi commented on #9058
will be covered by https://github.com/linkedin/coral/pull/140, but we should also have a test in `AbstractTestHiveViews`

[2021-08-31 15:09] martint commented on #403
Fixed by https://github.com/trinodb/trino/pull/7349

[2021-08-31 15:09] #403 closed

[2021-08-31 15:59] findepi commented on #9041
@raunaqmorarka @sopel39  can you share reasoning behind that?

[2021-08-31 16:04] raunaqmorarka commented on #9041
Reasoning behind separate APIs ?
idk that was introduced before I got involved, maybe @martint would know

[2021-08-31 16:10] findepi commented on #9041
Unless `getMaterializedViewFreshness` is expensive to call, would we consider folding this into `getMaterializedView`?

[2021-08-31 16:13] sopel39 commented on #9041
I think it might be expensive to call, but I wouldn't fold it into `getMaterializedView` just because it's harder to list MVs

[2021-08-31 16:25] #9040 closed

[2021-08-31 17:09] electrum commented on #9013
The way to fix this is to wrap the call to `getTypeInfoFromTypeString` to return a proper exception:
[code]
We should do the same for the `getTypeInfosFromTypeString` call.

[2021-08-31 17:11] electrum commented on #9013
How did you create this table? None of the Hive code (likely including the metastore) can handle this due to being unable to parse the type name.

[2021-08-31 17:16] fcomuniz commented on #9013
i created the table using spark, connecting to the metastore through thrift, but the underlying table format is iceberg, so i used spark with IcebergCatalog.

[2021-08-31 20:26] findinpath commented on #6642
Reproduce the issue:

As described in the documentation page:

https://trino.io/docs/current/admin/session-property-managers.html

Create a file `session-property-config.json` in `{trino_installation_dir}/etc` with the content:

[code]

[code]

[2021-08-31 21:30] #8602 closed

[2021-09-01 02:56] jerryleooo opened #9067 "Support pushing down grouping keys with function"
These tests are done on PostgreSQL connector with TPC-H data.

Trino query: `SELECT lower(o_clerk), SUM(o_totalprice) FROM orders GROUP BY LOWER(o_clerk);`
Generated PostgreSQL query: `SELECT "o_totalprice", "o_clerk" FROM "public"."orders"` (full table scan)

Trino query: `SELECT o_clerk, SUM(o_totalprice) FROM orders GROUP BY o_clerk;`
Generated PostgreSQL query: `SELECT "o_clerk", "_pfgnrtd_0"

[2021-09-01 05:54] ByPatrick commented on #9022
Found the root cause: It's memory ballooning.
Not thing to do with trino, close this issue.
Thank you all.

[2021-09-01 05:54] #9022 closed

[2021-09-01 06:41] ebyhr commented on #9015
[code]

#9060

[2021-09-01 07:59] nineinchnick commented on #8952
I overlooked that there's a `refreshKrb5Config` option that's always set to `true`. From https://docs.oracle.com/javase/8/docs/jre/api/security/jaas/spec/com/sun/security/auth/module/Krb5LoginModule.html:

[2021-09-01 08:34] sopel39 commented on #9015
[code]
https://github.com/trinodb/trino/pull/8974

[2021-09-01 09:11] kokosing commented on #7322
@austenLacy have you been able to test  Google OAuth with Trino 361? We added opaque token support in 361.

[2021-09-01 10:30] findepi commented on #9013
Indeed, Hive doesn't seem to allow a struct field to contain `/`  (a table column name can contain the slash though).

@fcomuniz  Is this problem specific to Iceberg?

cc @losipiuk @phd3  @joshthoward

[2021-09-01 11:51] Praveen2112 opened #9074 "TestHiveViews.testNestedGroupBy is flaky when executing query on Hive"
Stress check on [cdh-5](https://github.com/trinodb/trino/pull/9069/checks) shows flakiness.

[2021-09-01 12:41] fcomuniz commented on #9013
I seems that way, is the only situation i encontered this issue

[2021-09-01 13:32] findepi commented on #9074
What is the stacktrace it is failing with?

[2021-09-01 13:49] Praveen2112 commented on #9074
[code]

[2021-09-01 15:46] austenLacy commented on #7322
@kokosing That's awesome to see. I'll try to test it out this week or next and let you know. 👍

[2021-09-01 16:00] tedyu commented on #5352
I logged https://github.com/yugabyte/yugabyte-db/issues/9902

[2021-09-01 16:05] findepi opened #9078 "Investigate Spark throwing exceptions during Iceberg product tests"
While running `TestIcebergSparkCompatibility` on `SinglenodeSparkIceberg` (which is what CI does) these get logged very repeatedly

[code]

even though tests are passing.

(the above comes from running the test locally)

this should be investigated whether our test setup is configured correctly

cc @phd3 @joshthoward @losipiuk

[2021-09-01 16:34] leniartek opened #9080 "[WebUI] Cumulative user memory display negative number"
Cumulative user memory in WebUI can display negative number for queries with very large memory consumption.

![image](https://user-images.githubusercontent.com/10237525/131709264-239cae57-d56a-488e-8fc9-530a2f824d43.png)

[2021-09-01 16:53] martint opened #9081 "Add support for SQL:2016 JSON features"
References:
* https://modern-sql.com/blog/2017-06/whats-new-in-sql-2016#json
* http://standards.iso.org/ittf/PubliclyAvailableStandards/c067367_ISO_IEC_TR_19075-6_2017.zip

[2021-09-01 19:20] hashhar opened #9083 "TestHiveTransactionalTable.testPartitionedInsertAndRowLevelDelete is flaky"
TestHiveTransactionalTable.testPartitionedInsertAndRowLevelDelete fails with a stack trace as below. This is a concerning failure since the error occurs for Trino - Hive isn't involved at the point where the failure occurs.

[code]

_Originally posted by @hashhar in https://github.com/trinodb/trino/issues/9076#issuecomment-910449840_

[2021-09-01 20:42] uzshao commented on #9058
@findepi How did it work in Presto 344?  From my understanding of coral code, this would not have ever worked.

[2021-09-02 03:19] dain commented on #9015
[code]
#7991

[2021-09-02 04:59] ebyhr commented on #9015
[code]

#9086

[2021-09-02 05:51] Praveen2112 opened #9089 "TestHiveTableStatistics.testMixedHiveAndPrestoStatistics is flaky"
It was seen during the stress checks on [cdh5](https://github.com/trinodb/trino/runs/3484927156).

[code]

[2021-09-02 10:26] losipiuk commented on #6551
Oh yeah, good point, omission from my side (updated). Still list for `system.jdbc.columns` is longer due to fact that the code is calling out to `listTables` and then listing columns for each individual table. Probably something to be fixed anyway, we do not want that even if we have new APIs in place. I see how hard it is to send PR for that. Separately I will try to prototype the new API shape a

[2021-09-02 10:54] findepi commented on #9080
@leniartek thanks for the report!
I changed the title on the assumption the overflow doesn't affect UI only, but may be visible for other consumers of the information.
cc @sopel39 @dain @aalbu

[2021-09-02 11:53] Praveen2112 opened #9094 "CREATE TABLE should reject if user chooses to bucketed on unsupported column type"

[2021-09-02 15:37] kpocius opened #9097 "io.trino.spi.TrinoException: Failed reading parquet data: Socket is closed by peer"
After upgrading to 361, I'm facing an issue when running a fairly straight forward query:
[code]
However, if I remove `WHERE` clause, it works as expected.

I have verified that parquet file is not corrupted in any way, and is indeed readable. Same query, using the same data source works as expected in v360.

Here's the full error:

[code]

`SET SESSION hive.parquet_ignore_statistics = true` seems

[2021-09-02 16:50] ikumarvinod opened #9099 "Trino is losing out numeric columns from postgresql"
I am using Postgresql Connector.
My table has two numeric fields
Both the column is dropped in the trino queries.

[2021-09-02 17:37] hashhar commented on #9099
See https://trino.io/docs/current/connector/postgresql.html#decimal-type-handling

Numeric/Decimal columns with undefined scale/precision need to be mapped to a default scale and precision using configuration properties.

Feel free to join our [Slack](https://trino.io/slack.html) and continue the conversation there - it'll get you quicker help because more people are there.

[2021-09-02 19:10] austenLacy commented on #7322
@kokosing just confirmed that Google OAuth is working as intended in 361. Cheers to the team for the release 🎉 . Feel free to close this at your discretion.

[2021-09-03 02:12] arhimondr opened #9101 "Support Failure Recovery"
This issue is a parent issue for failure recovery support in Trino

High level design document (open for commenting): https://docs.google.com/document/d/18QQy8dkZQDNiBPEe3bsyt3RhImCKye4fUJB8bvoeLBI

**Full Query Retries**

- [x] Introduce task attempt concept: https://github.com/trinodb/trino/pull/9361
- [x] Implement de-duplication buffer: https://github.com/trinodb/trino/pull/9361
- [x] Refactor

[2021-09-03 02:28] arhimondr commented on #9101
### Project Milestones (Draft)

## Milestone 1

**Deliver “whole query retries”**

Whole query retries should provide a simple failure recovery mechanism for short running queries. The idea is to retry the whole query in case of a failure transparently to the user. For queries that take several seconds to minutes the latency hit of the whole query retry should be within normal dispersion and still

[2021-09-03 05:11] kokosing commented on #7322
I happy to hear that. Thanks.

[2021-09-03 05:11] #7322 closed

[2021-09-03 06:45] ebyhr commented on #9015
[code]

#9096

[2021-09-03 07:30] findepi commented on #9099
I will close this as answered.
We can continue conversation here, or on `#troubleshooting` channel on [our slack](https://trino.io/slack.html).

[2021-09-03 07:30] #9099 closed

[2021-09-03 07:37] findepi commented on #9097
`$ git log 360..361 lib/trino-parquet/`
550e4241d3 - Refactor code to compute Domain based on Statistics (2 weeks ago) cc <James Taylor>
6eb42f2aec - Skip reading Parquet pages using Column Indexes feature of Parquet (2 weeks ago) <James Taylor>
4312479b21 - Rename varchar/varbinary Parquet writer (4 weeks ago) <Piotr Findeisen>

@kpocius how often is it reproducible? What is your `hive.properties

[2021-09-03 07:44] kpocius commented on #9097
`hive.properties`:
[code]
`~/.aws` is not present.

I can reproduce this 100% of the time with a particular table, though each time it shows a different parquet file as the source of error.

On top of that I've encountered another parquet related issue (not sure if this should be reported separately):
[code]
This issue also goes away if `hive.parquet_ignore_statistics = true` is set.

[2021-09-03 08:57] tooptoop4 commented on #2909
related to https://github.com/trinodb/trino/issues/9101

[2021-09-03 09:31] hashhar commented on #9089
Other tests can fail with same cause. e.g. `testShowStatisticsForExternalTable`

[code]

[2021-09-03 09:40] findepi commented on #9101
Closing in favor of https://github.com/trinodb/trino/issues/2909

[2021-09-03 10:37] findepi commented on #9097
This is surely related to 6eb42f2aeca9a07a53249ae4bd56c13c8f002335, but I don't know whether we it is same problem or different.

@electrum any idea what can be the reason for "Socket is closed by peer" exception?

@kpocius would you be able to share (here, or over a DM on our slack) an example of a problematic file?
assuming you have sensitive data in these files, would you be able to create a ne

[2021-09-03 11:59] kpocius commented on #9097
@findepi, unfortunately I can't share the original files as they include some sensitive information, but I'll see if I can cook up a working sample that exhibits the same behavior. Just to confirm though: are you referring to the original issue or the second one (with corrupted column index), or both? Because those two issues were triggered on different files.

[2021-09-03 12:11] hashhar opened #9107 "Replace usage of System.out/err from tests to reduce flakiness due to VM crashes"
Surefire when running tests in forked VMs doesn't expect things to be written to `System.out` or `System.err`.

Surefire uses the sysout and syserr streams to "talk" to the forked VMs and doesn't expect other processes to write to those.

See https://stackoverflow.com/questions/55272870/surefire-maven-plugin-corrupted-stdout-by-directly-writing-to-native-stream-in for more details.

e.g. https://g

[2021-09-03 15:17] findepi commented on #9107
We should first `log` and the `System.err` -- we need make sure thins get printed even if logging not configured proeprly.
We don't need to avoid JVM crash, since that class calls `exit(1)` anyway.

[2021-09-03 15:40] martint commented on #9097
There is already a kill switch for that feature: parquet.use-column-index

[2021-09-03 18:20] mohitsaxenaknoldus commented on #6974
Can I be assigned to it? I can do it.

[2021-09-03 18:26] mohitsaxenaknoldus commented on #6908
Can I be assigned to it? I can do it.

[2021-09-03 19:19] academy-codex commented on #9048
@rosewms What is this issue pointing to exactly ?

[2021-09-03 22:18] subkanthi commented on #9094
Im fairly new to Trino, this might be a good one to start with, I guess the logic has to be added in CreateTableTask. java in InternalExecute function.

ListenableFuture<Void> internalExecute(CreateTable statement, Metadata metadata, AccessControl accessControl, Session session, List<Expression> parameters, Consumer<Output> outputConsumer)

[2021-09-03 22:37] tooptoop4 opened #9115 "Remove 'power of 2' restriction for `task.concurrency` config property"
https://github.com/trinodb/trino/blob/360/core/trino-main/src/main/java/io/trino/execution/TaskManagerConfig.java#L380 can power of 2 restriction be removed? it makes choosing the value for 48 or 96 CPU EC2s awkward

Also, some other things have this restriction like task writer count

[2021-09-04 23:27] dain commented on #9015
[code]
#9087

[2021-09-05 03:20] rnzucker commented on #9094
Since the status is open, not assigned, can others still work on this?

[2021-09-05 03:23] rnzucker commented on #6553
Since choiwaiyiu moved this back to Open, I assume that there is still work to do here? I wasn't sure if choiwaiyiu's Mar. 22nd update means that there are still cases to fix.

[2021-09-05 03:24] rnzucker commented on #5924
This is still listed as Open, but it looks like it has been fixed. Is that correct?

[2021-09-05 06:33] hashhar commented on #5924
@rnzucker Thanks for bumping this up - I see the PR is still open but I cannot reproduce the behaviour anymore with `select cast('2020-01-01 24:01:01' as timestamp)`.

Closing. Feel free to re-open if needed.

[2021-09-05 08:05] hashhar commented on #8439
Some baby steps - https://github.com/trinodb/trino/pull/9121

This only adds the labels - no action is being taken on those labels yet.

[2021-09-05 17:34] rnzucker commented on #5924
Okay. I was just looking for issues for my son to start on for his first OSS project (in Java). Hence my question.

[2021-09-06 02:14] cvadhl opened #9123 "Alter table tablename add column comment, lost comment"
https://github.com/trinodb/trino/blob/master/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java#L505
Alter table tablename add column comment, lost comment.
Add column.getComment() in addColumn Function.

[2021-09-06 06:20] Praveen2112 commented on #9094
Not exactly, it could go inside `HiveMetadata#validateBucketColumns`

[2021-09-06 06:49] ebyhr commented on #9015
[code]

#9122

[2021-09-06 07:03] Insferatu commented on #9097
@findepi Good morning. I worked together with @kpocius on investigating this issue and here is what I found. Originally the table where we can observe the error was created through Trino `CREATE TABLE AS SELECT` query, our table metadata are managed in AWS Glue. As far as I understand Trino puts some additional table statistics in Glue. So I tried to copy underlying Parquet files to another S3 loc

[2021-09-06 08:39] findepi commented on #9097
thanks, i missed that.

@martint  What was the reason to have it for Hive (along with `parquet_use_column_index` session property), but not add it for Iceberg?
cc @phd3 @JamesRTaylor

@kpocius can you please check whether the problem is still reproducible (without any configuration changes)?
assuming it still is, can you please check whether it's reproducible after you `SET SESSION parquet_use_col

[2021-09-06 09:56] kpocius commented on #9097
I can confirm that `SET SESSION hive.parquet_use_column_index = false;` fixes the issue.

[2021-09-06 10:26] sopel39 commented on #9015
[code]
https://github.com/trinodb/trino/pull/8967

[2021-09-06 12:01] findepi opened #9126 "parquet.use-column-index is ignored for Iceberg"
`parquet.use-column-index=false` in Iceberg config properties is accepted by the server, but has no effect.

per https://github.com/trinodb/trino/issues/9097#issuecomment-913460609

[2021-09-06 12:05] findepi commented on #9126
That's not true.

[2021-09-06 12:05] #9126 closed

[2021-09-06 14:16] findepi commented on #9123
cc @joshthoward

[2021-09-06 15:09] findepi opened #9129 "DROP TABLE IF EXISTS silently ignores views"
With Hive connector

[code]

`DROP TABLE` is rejected on a view:
[code]

Now this should fail informing that relation indeed exists, but is not a table -- but succeeds:
[code]

nothing got dropped:
[code]

[2021-09-06 15:10] findepi commented on #9023
Continued under separate issue https://github.com/trinodb/trino/issues/9129

[2021-09-06 15:20] findepi commented on #9023
It fails. I believe this is the biggest problem here (since DROP TABLE should fail _anyway_, it's of secondary nature how nicely it fails).
I updated the issue description accordingly.

The problem seems to be that the only way for engine to determine the view existence is by `io.trino.spi.connector.ConnectorMetadata#getView`, and this includes the view definition. In Hive complex views' case, get

[2021-09-06 15:26] findepi opened #9130 "Provide syntax for setting catalog session property without giving catalog name explicitly"
One can write
[code]

without realizing they work with different catalog, like `hive_uat`.
It could be even that two catalogs points to same data, but are configured differently, making the problem even less aparent.

It would be nice to be able to do equivalent of `SET SESSION CURRENT_CATALOG || '.xxx' = ....`.

[2021-09-06 19:43] dain commented on #9015
[code]
#7990

[2021-09-06 20:21] sopel39 commented on #9015
[code]
https://github.com/trinodb/trino/pull/9102

[2021-09-06 20:58] jpohanka opened #9133 "[Pinot connector] The `IN` condition does not work correctly for string values when using aggregate pushdown"
**Trino version**: 361

**Description**:

Lets assume that we have a Pinot table `tab` and in this table, we have 3 columns:

- `col_int` - an integer dimensional column
- `col_str` - a string dimensional column
- `quant` - a double column for some quantity

When running an aggregation query with a `WHERE` clause containing an `IN` or `NOT IN` condition on the **integer** column `col_int`, the fol

[2021-09-06 21:14] jpohanka opened #9134 "[Pinot connector] A specific query containing an aggregation sub-query returns incorrect results"
**Trino version**: 361

**Description**:

Lets assume that we have a Pinot table `tab` and in this table, we have a column `col1` with some other columns.

We consider the following query:

[code]

As the result, we would expect the **count of distinct values** of column `col1`. However, from the considered query, we are getting the **count of rows** from table `tab` instead of the count of distin

[2021-09-06 21:52] jpohanka opened #9135 "[Pinot connector] Aggregate pushdown does not work with multiple `WITH`-clause sub-queries"
**Trino version**: 361

**Description**:

Lets assume that we have a Pinot table `tab` and in this table, we have the following columns:

- `col_dim1` - some dimensional column
- `col_dim2` - another dimensional column
- `col_quant` - some quantity column

We consider the following query in Pinot:

[code]

Due to current limitations of the Pinot connector, we cannot use this query directly in Trin

[2021-09-07 04:19] ebyhr commented on #9015
[code]

#9052

[2021-09-07 05:06] hashhar commented on #9134
cc: @elonazoulay

[2021-09-07 05:09] hashhar commented on #9133
cc: @elonazoulay

@jpohanka Would it be possible for you to try the example queries against this PR https://github.com/trinodb/trino/pull/9098?
It rewrites some of the query generation logic around operators like IN and NOT IN (in addition to other things).

[2021-09-07 06:18] losipiuk commented on #9023
With new APIs which eventually will (hopefully) come out of #6551 this could be resolved. So I see it as related. Though, given that there is no ETA on #6551, and the fact we are unable to DROP malformed views at the moment, I think this one should be addressed separately for now.

[2021-09-07 09:08] jpohanka opened #9137 "[Pinot connector] Some pass-through queries give incorrect result or are failing"
**Trino version**: 361

**Description**:

Lets assume that we have a Pinot table `tab` and in this table, we have the following columns:

- `col_int` - an integer dimensional column
- `col_str1` - a string dimensional column
- `col_str2` - another string dimensional column
- `quant1` - a double column for some quantity
- `quant2` - a double column for another quantity

Lets assume that:

- for the

[2021-09-07 09:23] findepi commented on #9137
cc @elonazoulay

[2021-09-07 09:25] findepi commented on #9134
@hashhar let's add BCT coverage for this.

[2021-09-07 09:26] findepi commented on #9135
cc @elonazoulay

[2021-09-07 09:50] #9041 closed

[2021-09-07 09:52] sopel39 commented on #9015
[code]
https://github.com/trinodb/trino/pull/9050

[2021-09-07 13:56] jpohanka commented on #9133
@hashhar I tested the queries against the PR #9098 , but the issue is still persistent. I have used the source code with the commit [7ebd38e](https://github.com/elonazoulay/presto-1/commit/7ebd38eff49882f1278c3b7c4aaba7eee7fde5f3).

[2021-09-07 15:05] findepi commented on #8750
solved in https://github.com/trinodb/trino/pull/9124

[2021-09-07 15:05] #8750 closed

[2021-09-07 15:12] findepi commented on #9074
https://github.com/trinodb/trino/runs/3531888652 `pt (cdh5, suite-1, false)`

[2021-09-07 15:52] ljfgem opened #9140 "`TIMESTAMP` doesn't support function returning string like `SUBSTR`"
We can query
[code]
in trino.

However, if we query
[code]
it will throw exception:
[code]
Looks like `TIMESTAMP` only supports pure string at present.

[2021-09-07 16:17] martint commented on #9140
`TIMESTAMP <string value>` is a special construct in SQL to represent timestamp literals, so it is by design that it doesn't take anything other than a literal string as a value.

You can achieve that by using a `CAST`, instead:

[code]

[2021-09-07 16:17] #9140 closed

[2021-09-07 16:53] dmitryfill commented on #7486
Any recent developments on this?

[2021-09-07 20:17] findepi opened #9141 "Values should be rounded when reading files with higher timestamp precision than column's"
**e.g.** here
https://github.com/trinodb/trino/blob/03d8e5abc686c5c4a9f96ca14db07e2aed880174/lib/trino-parquet/src/main/java/io/trino/parquet/reader/Int64TimestampMillisColumnReader.java#L42

failure to do so will result in query failure, or incorrect query results, depending on query shape.

[2021-09-07 20:27] rosewms commented on #9048
@academy-codex this issue notes that we need to update the existing MongoDB docs to include a new explanation of the `_schema` functionality based on the linked release notes.

[2021-09-07 20:29] findepi opened #9142 "Support LZ4 compression with native Parquet writer"
per https://trino.io/blog/2020/01/01/2019-summary.html

let's support LZ4 with the native Parquet writer

currently it fails:

[code]

[2021-09-07 20:50] findepi opened #9143 "Hive connector cannot read Parquet file created by native Parquet writer when hive.timestamp_precision=NANOSECONDS"
Reproducible by running `TestHiveConnectorTest.testTimestampPrecisionInsert` with `io.trino.plugin.hive.parquet.ParquetWriterConfig#parquetOptimizedWriterEnabled` switched to true.

[code]

[2021-09-07 21:10] findepi commented on #9141
not applicable to this class, since `HiveTimestampPrecision` doesn't have `SECONDS` option.

`TimestampMicrosColumnReader` does the rounding correctly.

[2021-09-07 21:10] #9141 closed

[2021-09-08 06:37] elonazoulay commented on #9133
Confirmed, adding this test to the fix, will update once the tests pass. Thanks for catching this @jpohanka !

[2021-09-08 07:39] jpohanka commented on #9133
You're welcome @elonazoulay :) !

[2021-09-08 07:46] findepi commented on #9074
https://github.com/trinodb/trino/runs/3538243209

[2021-09-08 08:33] ruturaj04 commented on #5638
hey guys,

is there an ETA on support for openx serde with trino?

even we are facing a similar issues as pointed out by @chickenPopcorn  [here](https://github.com/trinodb/trino/issues/5638#issuecomment-772137125)

would be great to see this support made available :)

[2021-09-08 09:36] hashhar commented on #9134
Seems this is isolated to Pinot conector. I tried the below with PostgreSqlQueryRunner:

[code]

[2021-09-08 09:40] findepi opened #9149 "Insert into unbucketed unpartitioned transactional table fails when task_writer_count > 1"
[code]

Note that this works fine when table is explicitly bucketed:

[code]

Slack thread https://trinodb.slack.com/archives/CGB0QHWSW/p1631043251064900

[2021-09-08 09:45] findepi opened #9150 "INSERT INTO TABLE ... TABLE fails at planning when source table has hidden columns"
[code]

[2021-09-08 09:46] findepi commented on #9150
Similar to https://github.com/trinodb/trino/issues/6835 but for INSERT. cc @martint @kasiafi

[2021-09-08 09:47] korkile commented on #3699
Same issue here? Any updates?

[2021-09-08 09:57] cyq89051127 opened #9151 "Trino worker fails to connect to hbase with phoenix connector"
* Trino version

   358 and newer version

* Description:

  When you connect hbase through phoenix connector by trino, the worker fails but the coorinator works well.

  1. The excpetion as follows :

[code]

  2. Well, the stack of trino coorinator(node-scheduler.include-coordinator=true) is like the following :

[code]

* Reason

  1. Why does it work failed in the worker JVM

[code]

     In t

[2021-09-08 10:10] findepi commented on #2392
The idea turned out to be questionable, see https://github.com/trinodb/trino/pull/3688#issuecomment-915055830

[2021-09-08 10:18] vinay-kl commented on #9149
Note:  its working for un-bucketed partitioned tables
[code]

[2021-09-08 10:18] hashhar commented on #9151
Do you mean this cannot be reproduced on 357 and older? Or did you test only with 358 and newer?

Thanks a lot for doing the in-depth investigation - seems very helpful.

cc: @lhofhansl @wendigo

[2021-09-08 10:23] sopel39 commented on #2392
Actually, this ticket is about inference within join itself and not pushdown

[2021-09-08 11:13] sopel39 opened #9154 "Dynamic filtering for IS NOT DISTICT FROM causes (incorrectly) upstream join to convert from outer to inner"
Query:
[code]
Because of `io/trino/sql/planner/ExpressionInterpreter.java:1015`, `dynamicFilter` dummy function causes `LEFT JOIN` to be converted into inner join.
[code]
However, this prevents null values for `o.orderkey` to actually reach `IS NOT DISTINCT FROM` join. Actual plan should be:
[code]

It seems that for nullable column we should use different DF dummy (that accepts null) than `io.tri

[2021-09-08 11:13] sopel39 commented on #9154
cc @findepi @raunaqmorarka

[2021-09-08 11:37] cyq89051127 commented on #9151
I test this problem on 358 and 361 with phoenix5. But according to the phoenix code , This might be a  long-term problem.

[2021-09-08 13:34] #9143 closed

[2021-09-08 13:51] findepi commented on #9015
[code]

https://github.com/trinodb/trino/pull/9148

[2021-09-08 16:48] joshthoward commented on #5518
Adding a link to the Apache Jira tracking the issue https://issues.apache.org/jira/browse/PARQUET-1852.

[2021-09-08 18:20] #4835 closed

[2021-09-08 18:22] martint commented on #9015
[code]

https://github.com/trinodb/trino/issues/4835

[2021-09-08 18:44] hashhar commented on #4835
Merged as https://github.com/trinodb/trino/commit/4c321a97d1e40a8811821deb4f41005828dd1fb3

[2021-09-08 21:01] vinay-kl opened #9162 "Trino fails to read hive tables which have undergone valid schema evolution"
**Summary**

Schema evolution by changing/widening column datatype is supported on HIVE, Trino is unable to read data from these tables. This is the case for both Transactional and External tables.

[code]

[code]

[2021-09-08 21:55] electrum commented on #9162
There is[ an existing test for this](https://github.com/trinodb/trino/blob/639020cdb3abe7877ef3afb850172d7ba1191d6e/testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveTransactionalTable.java#L1011-L1028) which should be modified to pass when this is fixed.

[2021-09-08 22:08] grantatspothero opened #9163 "Support pass-through queries for the jdbc based connectors"
The postgres/redshift connectors do not support pushdown of arbitrary operations (see  [docs](https://trino.io/docs/current/connector/postgresql.html#pushdown)). This makes performing certain types of queries extremely inefficient since all the data is pulled out of postgres/redshift and processed in memory in trino.

Since supporting pushdown of arbitrary operations is not wanted or feasible, bei

[2021-09-08 23:11] elonazoulay commented on #9133
Looks like the errors are fixed in #9098 - there are some unrelated test failures (memory connector). Let me know if you have any issues.

[2021-09-08 23:11] #4568 closed

[2021-09-08 23:11] #8917 closed

[2021-09-09 04:42] hashhar opened #9165 "Test case-insensitive-name-matching against views"
In #9164 we fix how views are handled with `case-insensitive-name-matching` enabled. We don't have explicit tests for this config against views in connectors that support this configuration.

We should add a test similar to one added in #9164 to `BaseCaseInsensitiveMappingTest` and any other tests required.

[2021-09-09 06:04] ebyhr opened #9166 "Incorrect results of COUNT(DISTINCT) queries in MemSQL connector"
`TestMemSqlConnectorTest.testCountDistinctWithStringTypes` looks not working.

[code]

Relates to #8562
cc: @findepi @losipiuk @alexjo2144

[2021-09-09 06:09] hashhar commented on #9163
This isn't true. There is work in progress in this direction - there is some ongoing work in https://github.com/trinodb/trino/pull/7994.

Agreed about this. This will most likely always require passthrough though because functions don't have same semantics across databases. e.g. if you do a `COUNT(col)` in Postgres you'd get count of non-null values but Pinot for example would return total count.

[2021-09-09 06:29] hashhar opened #9167 "Test aggregation queries that don't select any columns"
e.g. `SELECT 1 FROM t GROUP BY c`

Such query will ensure that the aggregation pushdown impl doesn't assume that grouping operations can only be present if there are aggregations in the query - which is not true.

See https://github.com/trinodb/trino/pull/9098#discussion_r703014798 for reasoning and details.

This test should go into BaseConnectorTest or BaseJdbcConnectorTest.

[2021-09-09 06:35] hashhar commented on #9166
Looks like a correctness issue? It's not isolated to tests?

[2021-09-09 06:37] ebyhr commented on #9166
MemSQL behavior might be different from other connector:
[code]

[2021-09-09 07:18] Praveen2112 commented on #9151
Can we check by applying this diff to `PhoenixClientModule`. This might fix for worker.
[code]

[2021-09-09 07:33] ebyhr commented on #9015
[code]

#9164

[2021-09-09 08:42] nwdsslzwf opened #9170 "Trino turns on kerberos, why use keystore-path instead of truststore-path in the configuration when using CLI"
I tried to use truthstore-path in CLI, and it also succeeded。
But I think use truthstore-path is more safer。

Can anyone know my question。

[2021-09-09 08:58] mozhou1991 opened #9171 ""Expected Limit input to be sorted by ..." exception from Trino 361"
sql:
[code]

**run result**
![image](https://user-images.githubusercontent.com/62421826/132654378-0a9bc6bb-4879-4f0e-8707-b44e8da58622.png)

**remark**
1、Temporary tables are used to generate data,
2、There is an inner and outer limit statement and there is a union, where there is a JOIN statement in the union and the group field is inconsistent. Wrap the union layer and use order BY and limit conf

[2021-09-09 11:50] hashhar commented on #9171
cc: @raunaqmorarka @sopel39

[2021-09-09 14:06] yaoshouchong opened #9179 "trino desc tablename,not found column,but alter table add column, desc tablename is ok"
trino:test> desc aaa1;
 Column | Type | Extra | Comment
--------+------+-------+---------
(0 rows)

Query 20210909_140441_00008_8b9rz, FINISHED, 1 node
Splits: 19 total, 19 done (100.00%)
0.50 [0 rows, 0B] [0 rows/s, 0B/s]

trino:test> desc aaa1;
 Column | Type | Extra | Comment
--------+------+-------+---------
(0 rows)

Query 20210909_140455_00009_8b9rz, FINISHED, 1 node
Splits: 19 total, 19 don

[2021-09-09 14:06] yaoshouchong commented on #9179
2021-09-09T22:04:55.863+0800    INFO    dispatcher-query-1      io.trino.event.QueryMonitor     TIMELINE: Query 20210909_140455_00009_8b9rz :: Transaction:[b41ad55e-413f-4732-9b98-b35b8b2cacef] :: elapsed 491ms :: planning 79ms :: waiting 301ms :: scheduling 312ms :: running 8ms :: finishing 92ms :: begin 2021-09-09T22:04:55.358+08:00 :: end 2021-09-09T22:04:55.849+08:00
2021-09-09T22:05:10.653+08

[2021-09-09 14:55] grantatspothero commented on #9163
Totally understand why implementing a translation layer is a huge project, but why is the naive "pass through query to underlying system as a string" not feasible?

Is that a bad thing? if you have two postgres connectors each running a different versions of postgres and you send a passthrough query to each, the expectation is you will get slightly different results based on which postgres db you

[2021-09-09 16:44] electrum commented on #9163
Would it work to create a view in Redshift and select from it in Trino? The entire view query will be executed in Redshift.

[2021-09-09 16:44] #9133 closed

[2021-09-09 16:46] hashhar commented on #9015
[code]

#9133, #9181

[2021-09-09 17:23] electrum commented on #3699
From a pure size limit, increasing to 100k, since that is still under 1MB.

[2021-09-09 17:40] grantatspothero commented on #9163
@electrum yes that is a workaround (as well as materializing a view in redshift). It is what we do today.

But when using additional tooling on top of trino like DBT, having to model one-off queries as views gets bloated pretty quickly (see this thread for the motivation: https://trinodb.slack.com/archives/CFQAMGRQE/p1631029170025400?thread_ts=1630955221.022000&cid=CFQAMGRQE)

[2021-09-09 20:18] findepi opened #9189 "`SHOW [CURRENT] ROLES` fails with `IllegalStateException` when there are no roles to display"
[code]

[2021-09-09 22:29] alexjo2144 commented on #4115
I started a PR to use the dynamic filter for Split pruning here: https://github.com/trinodb/trino/pull/9193

[2021-09-10 02:39] yaoshouchong commented on #9179
hive metadata not get column
@ConnectorTableMetadata[
        table=@SchemaTableName[
            schemaName=@String[test],
            tableName=@String[aaa1],
        ],
        comment=@Optional[
            EMPTY=@Optional[
                EMPTY=@Optional[Optional.empty],
                value=null,
            ],
            value=null,
        ],
        columns=@ListN[
            @ColumnMe

[2021-09-10 02:39] yaoshouchong commented on #9179
hivetablehandle. bean. data.coulumn is empty
 @HiveTableHandle[
            schemaName=@String[test],
            tableName=@String[aaa1],
            tableParameters=@Optional[
                EMPTY=@Optional[Optional.empty],
                value=@SingletonImmutableBiMap[isEmpty=false;size=1],
            ],
            partitionColumns=@RegularImmutableList[isEmpty=true;size=0],
            dat

[2021-09-10 05:42] cyq89051127 commented on #9151
@Praveen2112 You're right. It worked.

[2021-09-10 06:14] yaoshouchong commented on #9179
Currently in this method to force an error, retrieve tableMetadataInfo data,

class: io.trino.plugin.hive.metastore.SemiTransactionalHiveMetastore
method : getTable

public synchronized Optional<Table> getTable(HiveIdentity identity, String databaseName, String tableName)
    {
        checkReadable();
        Action<TableAndMore> tableAction = tableActions.get(new SchemaTableName(databaseName, ta

[2021-09-10 06:19] hashhar commented on #9015
[code]

#9180

[2021-09-10 07:04] kasiafi commented on #9015
[code]
https://github.com/trinodb/trino/pull/9153

[2021-09-10 07:33] yaoshouchong commented on #9179
@joshk  can i hep me ?

[2021-09-10 07:39] ebyhr commented on #9179
@yaoshouchong Can you join the community Slack so that we can talk interactively? https://trino.io/community.html

[2021-09-10 08:14] krisfyler opened #9196 "Convert To UTC Timestamp"
How can you convert to UTC in Presto?

cast(replace(replace(replace(cast(to_utc_timestamp(to_timestamp(cast(`timestamp` as STRING), 'yyyyMMddHHmmss'), 'Los Angeles/America') AS STRING), '-', ''), ' ',''), ':','') AS BIGINT) as timestamp

[2021-09-10 08:31] hashhar opened #9197 "Flaky TestPinotIntegrationSmokeTest.testNullBehavior"
Re-running the test 50 times (using `@Test(invocationCount = 50)`) is sufficient to make it fail after the 10th or so invocation.

[code]

cc: @elonazoulay

[2021-09-10 08:32] hashhar commented on #9197
The interesting part is that after the first failure all subsequent invocations fail consistently.

[2021-09-10 08:34] hashhar commented on #9197
Is my assumption that it has to do with the fact that the null record has `updated_at` set to 0L and the realtime table spec has a retention time of 365 days make sense?

[2021-09-10 08:36] ebyhr commented on #9196
There is [at_timezone](https://trino.io/docs/current/functions/datetime.html#at_timezone) function.

By the way, I would recommend asking questions in Slack instead of GitHub issue.
https://trino.io/community.html

[2021-09-10 08:36] #9196 closed

[2021-09-10 08:42] findepi commented on #9171
@mozhou1991 many thanks for repro steps!

FWIW here is the full stacktrace from running the above query

[code]

[2021-09-10 09:13] findepi commented on #9197
https://github.com/trinodb/trino/runs/3564746564

[2021-09-10 09:17] findepi opened #9199 "Flaky phoenix5's TestPhoenixConnectorTest.testStddevAggregationPushdown test"
https://github.com/trinodb/trino/runs/3564747062

[code]

[2021-09-10 09:18] findepi commented on #9199
failure doesn't look specific to `testStddevAggregationPushdown`. it might be service failure and `testStddevAggregationPushdown` happened to be the last test in the class?

[2021-09-10 09:53] sopel39 commented on #9015
[code]
https://github.com/trinodb/trino/pull/9156

[2021-09-10 16:45] rosewms opened #9210 "359 Hive connector doc updates"
[Update to reflect 359 release functionality](https://trino.io/docs/current/release/release-359.html#hive-connector):

~Add support for Hive views which use GROUP BY over a subquery that also uses GROUP BY on matching columns. (#7635)~
Add support for granting UPDATE privileges when hive.security=sql-standard is used. (#8279)
~Add support for inserting data into CSV and TEXT tables with skip_heade

[2021-09-10 16:57] rosewms opened #9211 "Add new BigQuery config property"
[Info from the 359 release notes to BgQuery connector](https://trino.io/docs/current/release/release-359.html#bigquery-connector): `bigquery.views-cache-ttl`

[2021-09-10 16:57] #9197 closed

[2021-09-10 17:00] rosewms opened #9212 "Document CLI's --network-logging option"
[See 359 release notes](https://trino.io/docs/current/release/release-359.html#cli):

- Add support for logging of network traffic via the --network-logging command line option. (#8329)

[2021-09-10 17:14] rosewms opened #9213 "359 update Materialized Views doc"
Based on the [359 release notes,](https://trino.io/docs/current/release/release-359.html#general) update Materialized View docs to include:

- List materialized view columns in the information_schema.columns table. (#8113)
- Expose comments in views and materialized views in system.metadata.table_comments correctly. (#8327)

[2021-09-10 18:33] ronnuriel commented on #6850
Hi ,
This is my first issue can i join ?
i will be more than happy to get guidance  for my first time !
Ron

[2021-09-10 19:02] hashhar opened #9215 "Implement type mapping tests for Druid connector"
The Druid connector doesn't support writes. And we cannot directly write to Druid. So this makes type mapping tests (and others difficult to implement).

Data ingestion into Druid needs to be done via external mechanisms like files, Kafka etc.

We can follow the same approach as in Pinot tests - https://github.com/trinodb/trino/blob/master/plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/Tes

[2021-09-10 20:53] martint commented on #9015
[code]

https://github.com/trinodb/trino/pull/9161

[2021-09-11 16:00] Praveen2112 commented on #9015
[code]
https://github.com/trinodb/trino/pull/8986

[2021-09-11 16:05] Praveen2112 commented on #9015
[code]
  #9106

[2021-09-12 11:00] #9150 closed

[2021-09-12 11:04] kasiafi commented on #9015
[code]
https://github.com/trinodb/trino/issues/9150, https://github.com/trinodb/trino/pull/9201

[2021-09-12 14:23] ronnuriel commented on #9129
can you assign me to this issue ?

[2021-09-12 15:15] hashhar commented on #9166
A fix is implemented in https://github.com/trinodb/trino/pull/9220. PTAL.

[2021-09-12 21:31] jpohanka commented on #9134
I did few additional test queries also with the `WITH` statement, and the results are a bit strange.

---
### Case1a

I ran the following query:

[code]

**This gives me the correct result.**

The logical plan using `EXPLAIN` is the following:

[code]

---
### Case1b

I ran the following query (almost the same as the one before, but without ordering):

[code]

**This gives me an incorrect result.*

[2021-09-12 22:02] jpohanka commented on #9137
@elonazoulay  For the Case 1 with the string value - I have noticed from the logical plan, that the string value is lowercased (I use in my tests uppercase values).

[2021-09-13 01:08] cyq89051127 commented on #9151
@Praveen2112  @hashhar @joshk @electrum    Do you think It's a bug for trino?  Do you have a plan to fix this ?

[2021-09-13 04:25] hashhar commented on #9137
That is sadly expected at this point. It seems the root of the issue is https://github.com/trinodb/trino/issues/17.
The fact that we misuse the table name for passing entire queries means that everything within the table name will be lowercased - including predicates.

This is one of the reasons why the only other connector that supports passthrough queries is Elasticsearch which requires the tabl

[2021-09-13 04:36] phd3 commented on #9015
[code]

#8822

[2021-09-13 04:43] hashhar commented on #9015
[code]

#9180 (2nd and 3rd commits)

[2021-09-13 04:45] #9166 closed

[2021-09-13 05:43] gjhkael commented on #3925
any update？

[2021-09-13 07:44] #9211 closed

[2021-09-13 08:15] daiwei233 commented on #3426
I have the same question.
hbase1.2.0 and phoenix4.14 with kerberos

[2021-09-13 08:15] daiwei233 commented on #3426
I have the same question.
hbase1.2.0 and phoenix4.14 with kerberos

[2021-09-13 08:57] #5357 closed

[2021-09-13 09:01] findepi commented on #9015
[code]

#9139 #9188

[2021-09-13 11:12] jpohanka commented on #9137
@hashhar Description updated.

[2021-09-13 11:18] ksobolew opened #9227 "Add an option to run Hive views as INVOKER"
See #5597 and the linked https://github.com/trinodb/trino/pull/4661#discussion_r507056215.

There are valid reasons to want to run views as INVOKER, access controls being one of them, but currently we translate all Hive views to run as DEFINER.

[2021-09-13 11:58] findepi commented on #9227
@phd3 @laurachenyu did you need an option to run Hive views as INVOKER?

AFAIR there was agreement we want this to be configurable.

[2021-09-13 12:15] buremba opened #9228 "Support for table functions"
In some SQL databases (Postgresql, Oracle, etc.), it's valid to call functions in `FROM`. Here is an example query:

[code]

The feature is useful for generating random data or dynamically returning datasets from Java UDFs.

My understanding is that we need to implement the following features to support table functions:

1. Support for calling functions in `Relation` node of SQL dialect.
2. Suppor

[2021-09-13 12:26] buremba commented on #9228
Closing as this is duplicate of #1839 .

[2021-09-13 12:26] #9228 closed

[2021-09-13 12:27] findepi commented on #9228
For this specific example, you can write the following in Trino

[code]

A scalar function can return a Row today.

Do you mean feature called "Polymorphic Table Functions"?
I think you already found https://github.com/trinodb/trino/issues/1839

[2021-09-13 12:28] buremba commented on #1839
The issue looks old, is there any interest in implementing table functions at the moment?

It would be great if we can add the support for syntax as a start.

[2021-09-13 12:43] findepi commented on #9212
See issue title change. Did i get the issue intent right?

[2021-09-13 12:44] findepi commented on #9210
These are bugfixes and don't need to be documented beyond release note entries.

cc @raunaqmorarka

[2021-09-13 13:23] buremba commented on #9228
Yes, that was what I'm looking for. :) I searched for the keyword `table functions` but missed that issue so wanted to create one. @ebyhr guided me so closed the issue in favor of #1839.

[2021-09-13 13:25] kpocius commented on #9097
I'm a little confused about the use of `SET SESSION hive.parquet_use_column_index = false;` -- if I check `SHOW session;` it says default is `true`, but in the source code it seems like it should default to false https://github.com/trinodb/trino/blob/361/plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveSessionProperties.java#L415

[2021-09-13 13:59] jpohanka opened #9230 "[Hive/Pinot connector] Sub-queries and WITH clauses produce the same results in the Hive connector, but not in the Pinot connector"
**Trino version**:  360

**Description**:

Consider a table `some_table` in the `Hive catalog, in the `default` schema. This table is partitioned by the column `transaction_date`, which is of type `date`.

First, consider the following two queries - one with a sub-query and one with a `WITH` clause:

[code]

[code]

We know, that currently Trino handles a sub-query and `WITH` clause in the same wa

[2021-09-13 15:49] martint commented on #9097
The “false” in that section is to indicate whether the session property is hidden. The default comes from “parquetReaderConfig.isUseColumnIndex()”

[2021-09-13 20:06] alec-heif opened #9236 "Support json type in hive CREATE TABLE AS"
It seems that CREATE TABLE AS does not support json types:

[code]

This query fails with
[code]

It would probably be good to update the hive connector docs to clarify that JSON types are not supported for writes, assuming this is actually the case?

[2021-09-13 21:46] sumeethkc commented on #5786
I'd like to work on this and add JSON output format for EXPLAIN and EXPLAIN ANALYZE. The implementation would be in PlanPrinter (similar to text and graphviz plan)

[2021-09-13 21:50] lkraider commented on #5580
[GeoAlchemy2](https://github.com/geoalchemy/geoalchemy2) has wrapper classes for handling them (eg. [WKBElement](https://github.com/geoalchemy/geoalchemy2/blob/4352629bdb84208ab613cdfced24f352b7b110b6/geoalchemy2/elements.py#L161))

[2021-09-14 01:41] johnwhumphreys commented on #3661
The older version of presto we use in some clusters still has crappy stats for queued queries/etc in prometheus.  But the web UI works.  I wrote this in bash which can mine out the metrics for anyone else who needs to do the same.  Good enough to dump some info to a text file for a prometheus exporter or whatever.

[code]

[2021-09-14 07:13] Heltman commented on #9236
As I know, hive don't support JSON type. So it's clear we can't write a JSON type to hive.

[2021-09-14 08:55] assaf2 commented on #9067
`lower(o_clerk)` will be pushed down after #7994

[2021-09-14 09:21] #8988 closed

[2021-09-14 10:47] raunaqmorarka commented on #9210
I had updated docs in #8279 itself to mention UPDATE in GRANT docs https://trino.io/docs/current/sql/grant.html?highlight=update

[2021-09-14 12:17] kokosing commented on #9015
[code]
#6210

[2021-09-14 15:38] findepi opened #9244 "Possibility to store distant past or distant future dates in nanosecond precision in Hive connector with new Parquet writer"
Per https://github.com/apache/parquet-format/blob/master/LogicalTypes.md, nanosecond precision timestamp should be stored as INT64
even though it can only hold values within 1677-09-21 00:12:43 and 2262-04-11 23:47:16 range.

This can be problematic in practice, as Trino users have been witnessed using dates such as `9999-12-31` and `0001-01-01`.
Obviously, these dates do not represent actual date

[2021-09-15 02:03] #8700 closed

[2021-09-15 02:04] phd3 commented on #9015
[code]
#8700, #9237

[2021-09-15 05:13] lxqfy opened #9248 "The requested schema is not compatible with the file schema. incompatible types"
SQL
`select extinfo.qris_info.merchant_account_information from extinfo_table;`
The following error occurred after upgrading from 332 to 356.
[code]

[2021-09-15 12:26] losipiuk commented on #9015
[code]
#9070

[2021-09-15 12:27] losipiuk commented on #9015
[code]
#9100

[2021-09-15 12:34] losipiuk commented on #9015
[code]
#9214

(should we mention Metadata API exposed by JDBC driver instead?)

[2021-09-15 12:37] aczajkowski commented on #9015
Hive
 * Enable S3 insert overwrite when `hive.insert-existing-partitions-behavior=OVERWRITE` is set

[2021-09-15 15:46] JamesRTaylor opened #9250 "Optimizer infinite loop with OR partition clause"
The optimizer gets in an infinite loop when planning a query with an OR on the partition column. For example:

    SELECT 'foo'
    FROM my_table
    WHERE a IS NULL OR a = ''
    AND ds='2021-08-01'

This did not occur in the 346 release. For a repro, see this PR: https://github.com/trinodb/trino/pull/9246

[2021-09-15 15:46] JamesRTaylor commented on #9250
cc. @martint @phd3

[2021-09-15 15:49] JamesRTaylor commented on #6200
PR that fixes this issue is here: https://github.com/trinodb/trino/pull/9222

[2021-09-15 19:10] alexjo2144 commented on #5518
Here's a quick write up of the problem for future reference:

The optimized writer uses the Parquet library's FallbackValuesWriter. This writer has two ValuesWriter instances, a primary one and a fallback.

The value writer interface also has two reset methods. `reset()` for when a page is finished, and `resetDictionary()` for after the dictionary page has been written. The out of bounds error was

[2021-09-15 20:27] martint commented on #9250
It's caused by 39ebb43839c554469ee7dcde82199fa1db9352f6. cc @findepi

[2021-09-15 22:26] oraclechang opened #9253 "Batch Glue API for Table Metadata"
Hi,

As Glue API is an external service, there is a round-trip overhead of using http every time we get some data from Glue.
Currently the Glue API is called on demand. For example, Glue API for table metadata is called every time a table is encountered while traversing an AST tree at `StatementAnalyzer.analyze()`.
If we can get the metadata for the tables used in a query with just one Glue API ca

[2021-09-15 23:51] vincentpoon opened #9254 "Iceberg connector not writing ORC timestamp lower/upper bounds"
ORC table:

[code]

But works with Parquet:
[code]

[2021-09-16 00:04] vincentpoon commented on #9254
Looks like maybe the reason this wasn't implemented before is that ORC timestamp statistics are truncated to millisecond precision.
I came up with a patch that does rounding for the lower/upper bounds, but not sure if there are any side effects from doing this:

[code]

[2021-09-16 01:31] byungnam commented on #4868
I found the cause of this behavior. It's still happening from Trino 355.

How to reproduce:
1. Call `call system.create_empty_partition()`
2. Above call fails (due to partition already exists)

Example:
Call this
[code]
and fails with
[code]
then the /tmp/presto-{USER} directory is created but not removed.

[2021-09-16 04:56] jackye1995 opened #9255 "Iceberg Glue view support"
Currently there are two types of Iceberg views. As a part of supporting Iceberg with Glue, Glue can support the Trino Iceberg view format now, or wait for Iceberg native view support. Details described here: https://docs.google.com/document/d/1uupI7JJHEZIkHufo7sU4Enpwgg-ODCVBE6ocFUVD9oQ/edit

Currently the community consensus seems to be for Trino to migrate once Iceberg native view support is add

[2021-09-16 05:00] jackye1995 opened #9256 "Iceberg Hadoop catalog support"
This issue tracks the support of Hadoop catalog in Iceberg connector.

Currently I do not see much production use cases for Hadoop catalog, there are quite a few limitations of this catalog, such as issues during rename, atomic commit, etc. So I wonder if there is a good reason to add this in Trino.

cccs-tom you mentioned you are thinking about adding the support, could you provide more details?

[2021-09-16 05:20] hashhar commented on #7517
https://github.com/trinodb/trino/pull/8269 was merged.

[2021-09-16 05:20] #7517 closed

[2021-09-16 08:53] findepi opened #9257 "Write ORC "software version" header"
depends on https://github.com/apache/orc/pull/904

[2021-09-16 09:19] ddcprg opened #9258 "[Pinot Connector] Upgrade Pinot version to 0.8.0/0.9.0"
The current release of Pinot is 0.8.0 and 0.9.0 will be release by October/November

The current Pinot connector uses version 0.6.0 which is 2 versions behind

[2021-09-16 09:51] hashhar commented on #9258
There is already work in progress at https://github.com/trinodb/trino/pull/9098.

[2021-09-16 11:26] chgxtony opened #9261 "How to setup a embedded server to test local connector"
Hi , I just want a lightweight embedded server to develop and test local connector, how to setup? I cannot find any documents in trino doc websites

[2021-09-16 11:32] hashhar commented on #9261
https://github.com/trinodb/trino#running-trino-in-your-ide

If you want to add a connector to Trino itself then you can follow the document above.
You can add more catalogs e.g. one using your custom connector by modifying the config files at https://github.com/trinodb/trino/blob/7e44c84098d391f3cffd2166c708556251a09695/testing/trino-server-dev/etc (`testing/trino-server-dev/etc`).

If you want to

[2021-09-16 11:32] #9261 closed

[2021-09-16 11:34] ebyhr commented on #9261
Also, you can use DistributedQueryRunner class. MySQL connector's example is
https://github.com/trinodb/trino/blob/master/plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/MySqlQueryRunner.java

[2021-09-16 14:06] findepi commented on #8943
https://github.com/trinodb/trino/pull/9114

[2021-09-16 14:06] #8943 closed

[2021-09-16 14:15] findepi commented on #9254
In case of `min(col)` / `max(col)` queries are we utilizing file-level statistics already?  cc @dain  @losipiuk

[2021-09-16 14:20] findepi commented on #8691
https://github.com/trinodb/trino/runs/3614059303

[2021-09-16 14:23] findepi opened #9263 "Flaky test TestHiveBucketedTables.testBucketingVersion, TestHiveBucketedTables.testBucketingWithUnsupportedDataTypes, TestHiveBucketedTables.testSelectAfterMultipleInserts, TestHiveBucketedTables.testSelectAfterMultipleInsertsForPartitionedTable"
https://github.com/trinodb/trino/runs/3614060692

[code]

[2021-09-16 14:45] davseitsev opened #9264 "Nested null values inside columns with row type cause java.lang.IllegalArgumentException: ColumnarRow field size X is not equal to columnWriters size Y"
The issue happens here
https://github.com/trinodb/trino/blob/aeb753aed2f04d6a6d520edb5645f03bb24e1721/lib/trino-parquet/src/main/java/io/trino/parquet/reader/ParquetReader.java#L331
where null blocks are initiated with default value.
`field.getType()` is used as a default type for each block. In fact this is a type of parent field. We should use something like `field.getType().getTypeParameters().

[2021-09-16 14:54] findepi commented on #9264
cc @alexjo2144 @losipiuk @joshthoward

[2021-09-16 17:47] #8725 closed

[2021-09-16 17:47] #5468 closed

[2021-09-16 18:35] #5518 closed

[2021-09-16 18:36] findepi commented on #9015
[code]

#5518 #9245

[2021-09-16 18:37] findepi commented on #9015
@losipiuk yes

[2021-09-16 20:18] #5918 closed

[2021-09-16 20:42] martint commented on #9250
It's ping-ponging between SimplifyExpressions and RemoveRedundantTableScanPredicate

[2021-09-16 20:47] martint commented on #9250
SimplifyExpressions is changing the filter from:

[code]

to

[code]

RemoveRedundantTableScanPredicate is rewriting the filter from

[code]

to

[code]

[2021-09-16 22:25] martint commented on #9015
[code]

https://github.com/trinodb/trino/pull/9265

[2021-09-16 22:28] martint commented on #9015
[code]

https://github.com/trinodb/trino/pull/9194

[2021-09-17 02:15] artiship opened #9273 "Run DevelopmentServer failed with exception Unsupported class file major version 61"
Java version: 11.0.12 2021-07-20 LTS
Trino version: 359

[code]

[2021-09-17 06:34] findepi commented on #4608
Closing in favor of https://github.com/trinodb/trino/issues/9244 and https://github.com/trinodb/trino/issues/6377

[2021-09-17 06:34] #4608 closed

[2021-09-17 06:48] findepi commented on #8680
Note that:
[code]

two different points in time converted to timestamp with time zone in PT zone are then getting returned to the user with identical representation.

Also, the fact that engine discerns them (even though they look the same) is a bug tracked in https://github.com/trinodb/trino/issues/5781

[2021-09-17 06:48] #8680 closed

[2021-09-17 06:54] findepi commented on #5729
cc @martint @skrzypo987

[2021-09-17 07:32] kasiafi commented on #9015
[code]
https://github.com/trinodb/trino/pull/9109

[2021-09-17 08:21] liijiankang opened #9279 "Postgresql connector takes a long time to do syntax analysis"
### Describe the current behavior
When we use trino query postgresql, the execution speed is very slow. The log shows that the value of syntaxAnalysisTime is 31863ms.
### Describe the expected behavior
syntaxAnalysisTime should also finish within 1000ms.

[2021-09-17 08:27] velctor commented on #7226
I am more interested in this. Based on this PR - https://github.com/trinodb/trino/pull/8534, some bugs have been fixed and optimized. Trino read row level delete function has been basically implemented. But when reading a large table, an error will be reported _Failed to open Parquet file_ or _stream is closed_.

[2021-09-17 08:29] liijiankang commented on #9279
After analyzing the running log and trino's call stack within this query proc.
Two basic jdbc api were call to check the dst table and get its column info, when DatabaseMetaData.getTables was called, it return with in a short time spend,but when DatabaseMetaData.getColumns was called to get table's column info, it spend upto 30s to return in our working env.
Because our postgresql is not regularly

[2021-09-17 08:43] findepi commented on #9273
If you compiled the project with Java 17, you also need to use Java 17 for run time.

[2021-09-17 08:43] #9273 closed

[2021-09-17 09:22] ronnuriel commented on #9129
i have installed hadoop and hive  ,
how can i get data for testing hive and configurations ?

[2021-09-17 09:25] pysenic opened #9281 "failed: Expected Limit input to be sorted by: [vip], but was [create_date, game_cd, equip_name, vip]"
version:361
cli:trino-cli-361-executable.jar

The SQL is :
[code]

![image](https://user-images.githubusercontent.com/20294807/133757508-15d98a4a-d7d6-4976-973b-a3edb3a7f5ba.png)

![image](https://user-images.githubusercontent.com/20294807/133758741-f4e81190-52a8-4a25-a716-ca7530258d42.png)

if cast vip as varchar,can be executed normally

![image](https://user-images.githubusercontent.com/2029480

[2021-09-17 09:29] ppalucha opened #9282 "Expression failure while trying to draw Mandelbrot set"
There's a SQL at https://wiki.postgresql.org/wiki/Mandelbrot_set that supposed to produce Mandelbrot set fractal in ASCII art. According to description it's SQL:2008-conformant SQL. The original SQL is:
[code]

To make if work in Trino I tried to replace `::` with cast and array_to_string with array_join:

[code]

However, running this on 361 produces:
[code]

[2021-09-17 09:35] hashhar commented on #9282
Can you share the full stack trace here?

cc: @kasiafi

[2021-09-17 09:36] hashhar commented on #9281
This seems like a duplicate of https://github.com/trinodb/trino/issues/9171. The root cause sounds the same.

Closing in favour of https://github.com/trinodb/trino/issues/9171.

cc: @raunaqmorarka

[2021-09-17 09:36] #9281 closed

[2021-09-17 09:40] kasiafi commented on #9282
This looks similar to an issue we had a while ago. The fix was merged: https://github.com/trinodb/trino/pull/9153
@ppalucha would you mind checking on current master?

[2021-09-17 11:03] findepi opened #9285 "Hive cannot read Avro nested structs written by Trino"
repro steps -- see TODO in https://github.com/trinodb/trino/pull/9286

[code]

[2021-09-17 11:35] findepi commented on #9227
I am curious what reasons do we have.

i tested locally (details below), and Hive's behavior followed "RUN AS DEFINER" semantics, so current translation is correct.
https://github.com/trinodb/trino/blob/95afc07ac512b834c5b12bd167f317bcbb1ddc9e/plugin/trino-hive/src/main/java/io/trino/plugin/hive/ViewReaderUtil.java#L158
https://github.com/trinodb/trino/blob/f6422d04663ab011d3ddb831ed16dec02659c47e

[2021-09-17 11:40] kasiafi commented on #9282
@ppalucha indeed, the fix works for your case.

However, the fixed version either cannot handle your query, but this is an expected limitation of the feature implementation.

[2021-09-17 11:40] #9282 closed

[2021-09-17 12:07] findepi commented on #9227
Closing for now, until more information is gathered.

[2021-09-17 12:18] findepi commented on #9255
There is no such consensus.

We should do that, in parity with HMS integration.

Note that Hive and Iceberg connectors can share Glue metastore, so Trino views are natural first-class citizen in the ecosystem and the Iceberg connector should support them, even once Iceberg views reach feature-parity with Trino views.

[2021-09-17 12:22] sopel39 commented on #9129
You need to create view and then use `DROP TABLE IF EXIST` on that view

[2021-09-17 12:24] ronnuriel commented on #9129
How do i create a view im new

[2021-09-17 12:26] sopel39 commented on #9129
Please refer to Trino documentation: https://trino.io/docs/current/

[2021-09-17 12:30] findepi opened #9287 "Document `time AT TIME ZONE ...` and offset zones"
supplement https://trino.io/docs/current/functions/datetime.html#at-time-zone-operator

- AT TIME ZONE interval, https://github.com/trinodb/trino/blob/4c321a97d1e40a8811821deb4f41005828dd1fb3/core/trino-parser/src/main/antlr4/io/trino/sql/parser/SqlBase.g4#L478
- what happens when named zone is used with `time` value (the name zone is converted to offset zone)

[code]

[2021-09-17 12:40] findepi opened #9288 "Missing bound checks for `time AT TIME ZONE interval`"
Integer overflow:

[code]

we should also disallow:
[code]

because the offset 14:01 is beyond [-14:00, 14:00] reserved in `TimeZoneKey` and thus such `time with time zone` values cannot be fully supported in other parts of the code
[code]

cc @martint @losipiuk

[2021-09-17 13:22] phd3 commented on #9015
[code]

#6200, #9185, #9222

[2021-09-17 13:43] #6132 closed

[2021-09-17 13:50] losipiuk commented on #9015
https://github.com/trinodb/trino/pull/9216/files#r711073226

[2021-09-17 17:52] hashhar opened #9291 "Session properties (and other information carried via HTTP Headers) cannot contain non-ASCII values"
HTTP doesn't allow non-ASCII characters in HTTP Headers. This means that any session property or other information carried via HTTP Headers cannot be set to a non-ASCII value.

This has the biggest impact on X-Trino-User since usernames can often be non-ASCII.

See discussions in Slack at https://trinodb.slack.com/archives/CGB0QHWSW/p1625668621233000?thread_ts=1625667205.232400&cid=CGB0QHWSW and h

[2021-09-17 18:06] martint commented on #9171
Here's a smaller repro:

[code]

[2021-09-17 18:18] #6200 closed

[2021-09-17 19:29] martint commented on #9171
Here's a query that fails in current master:

[code]

[2021-09-17 19:46] martint commented on #9171
The failure is because ValidateLimitWithPresortedInput is mischaracterizing whether the input is sorted on the expected columns. In particular, in:

[code]

when columns are constant, they can be safely ignored from the prefix check. The code should use `LocalProperties.match` to determine whether the inputs are properly sorted.

[2021-09-17 20:55] electrum commented on #9015
[code]
#9187

[2021-09-17 20:56] electrum commented on #9015
[code]
#8762

[2021-09-17 21:02] electrum commented on #9015
[code]
#9114

[2021-09-17 21:04] electrum commented on #9015
[code]
#8872

[2021-09-18 05:15] jerryleooo commented on #9067
Hi @assaf2 thanks for the hard work!
I am reviewing #7994 but seems the projection is not pushed down for PostgreSQL connector, I guess there is some work that will be done in another PR?

[2021-09-18 07:16] ninexy commented on #5580
i have the same erro too. can i have some way to read postgis geometry by trino?

[2021-09-18 07:20] hashhar commented on #8393
Duplicates https://github.com/trinodb/trino/issues/5580.

Closing in favour of https://github.com/trinodb/trino/issues/5580.

[2021-09-18 07:20] #8393 closed

[2021-09-18 07:21] hashhar commented on #5580
For a workaround until this is implemented see https://trinodb.slack.com/archives/CFLB9AMBN/p1624597418210800?thread_ts=1624544478.194000&cid=CFLB9AMBN

[2021-09-19 14:10] jpohanka opened #9296 "[Pinot connector] Support gRPC connection to Pinot Broker"
**Issue type**: feature

**Trino version**: 360

**Description**:

Currently Trino communicates with the Pinot Broker via HTTP/JSON communication. For a more efficient communication between Trino and Pinot, a gRPC-based communication would be a convenient option, as it is in the case of [PrestoDB](https://github.com/prestodb/presto-pinot-driver/tree/master/src/main/java/com/facebook/presto/pinot/g

[2021-09-20 08:10] #6663 closed

[2021-09-20 08:12] findepi commented on #9015
[code]

#6663 #8747

[2021-09-20 09:04] findepi commented on #9263
https://github.com/trinodb/trino/runs/3649198132 -- `TestHiveBucketedTables.testBucketingVersion`,  `TestHiveBucketedTables.testBucketingWithUnsupportedDataTypes`, `TestHiveBucketedTables.testSelectAfterMultipleInserts`, `TestHiveBucketedTables.testSelectAfterMultipleInsertsForPartitionedTable`

[code]

[2021-09-20 11:07] findepi opened #9300 "Flaky test setup TestClickHouseConnectorTest.init"
https://github.com/trinodb/trino/runs/3650369157

[code]

[2021-09-20 11:10] findepi opened #9301 "randomTableSuffix is not random enough leading to test flakiness"
example

[code]

[2021-09-20 11:19] #5758 closed

[2021-09-20 11:25] findepi commented on #4864
Likely same as https://github.com/trinodb/trino/issues/5201, so fixed by https://github.com/trinodb/trino/pull/8504

[2021-09-20 11:25] #4864 closed

[2021-09-20 11:31] findepi commented on #4692
Seems obsolete. I am not seeing such a warning when running `TestIcebergParquetConnectorTest` locally. cc @phd3 @losipiuk

[2021-09-20 11:31] #4692 closed

[2021-09-20 11:33] hashhar commented on #9300
FYI @wendigo

[2021-09-20 12:14] ashoksri0 opened #9303 "support Iceberg 0.12"
I'm using the iceberg 0.12 version in spark when can Trino support the iceberg 0.12 library tried in local with iceberg 12 dependencies facing java  version problem

using this command  "mvn clean install -DskipTests"

logs:

[code]

[2021-09-20 12:35] losipiuk commented on #9015
[code]

#9297

[2021-09-20 12:39] losipiuk commented on #4692
May be fixed by https://github.com/trinodb/trino/pull/8504

[2021-09-20 13:41] findepi commented on #8432
https://github.com/trinodb/trino/runs/3651537103

[2021-09-20 14:25] losipiuk opened #9309 "Iceberg partition pruning does not work for predicates not expressible by tuple domain"
Partition pruning in Iceberg does not work for filters that are passed via `Constraint.predicate` (as opposed to `Constraint.summary`).

Repro:
[code]

cc: @findepi

[2021-09-20 15:09] #9301 closed

[2021-09-20 15:12] allanshimako commented on #6782
Hello,

I had the same problem and I fixed it setting elasticsearch.tls.verify-hostnames to true.

I'm not java developer but I think it comes from this line of code.  I think should check for false but it doesn't:
[https://github.com/trinodb/trino/blob/699c0ad03a5721fa34a5e0301e6ba99976325dd8/plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/client/ElasticsearchClient.java#L2

[2021-09-20 17:18] jackye1995 commented on #9255
Yes sorry I mean on Iceberg side the discussion seems to lead towards Trino migration. It would be great if you can provide more details there.

Sounds good, this seems like a good argument to proceed forward.

[2021-09-20 18:38] JamesRTaylor commented on #9097
@kpocius - would it be possible to share the schema of your table? If not, would it be possible to get a list of types you're relying on? Any luck reproducing the issue with a subset of the table schema?

[2021-09-20 18:41] wendigo commented on #6117
Let's close this issue.

[2021-09-20 18:41] #6117 closed

[2021-09-20 18:52] martint commented on #9015
[code]

#9250, #9171

[2021-09-20 19:04] martint commented on #9171
Repro with TPC-H connector:

[code]

[2021-09-20 19:52] kpocius commented on #9097
@Insferatu, you weren't able to create a minimal reproducible parquet file, correct?

@JamesRTaylor, this is what the schema looks like for one of the tables that was having the issue:

[code]

[2021-09-20 20:14] rosewms opened #9313 "[360] Add ``write.batch-size`` to Clickhouse connector config properties"
[360 release note info](https://trino.io/docs/current/release/release-360.html#clickhouse-connector) that should be documented in the ClickHouse connector:

- Add write.batch-size connector configuration property to control JDBC batch size used during writes. It can also be controlled using the write_batch_size session property. (#8434)

[2021-09-20 20:55] hashhar commented on #9313
See https://github.com/trinodb/trino/pull/9251. I think it's already present now.

Closing, please re-open if you think anything more needs to be done.

[2021-09-20 20:55] #9313 closed

[2021-09-20 20:58] rosewms commented on #9313
@hashhar good catch, I searched for it within the issues and it didn't come up and apparently I forgot to look at the recent PRs. Thanks.

[2021-09-20 21:01] #9171 closed

[2021-09-20 21:07] #9250 closed

[2021-09-20 21:37] mosabua opened #9315 "Document how to deploy a custom plugin"
Could be a connector, or UDF or whatever ..

Basically just extract zip archive of plugin build output into `plugin` folder as a separate directory.

Either document in developer guide or somewhere in deployment.rst (or break that document up since its mostly about the tarball.

[2021-09-20 21:56] vaibhavvasa236 commented on #8983
Facing Similar issue:
io.trino.spi.TrinoException: Error committing write to Hive
	at io.trino.plugin.hive.SortingFileWriter.commit(SortingFileWriter.java:147)
	at io.trino.plugin.hive.HiveWriter.commit(HiveWriter.java:86)
	at io.trino.plugin.hive.HivePageSink.doFinish(HivePageSink.java:190)
	at io.trino.plugin.hive.authentication.NoHdfsAuthentication.doAs(NoHdfsAuthentication.java:23)
	at io.trin

[2021-09-20 22:18] #9015 closed

[2021-09-20 22:29] martint opened #9316 "Release notes for 363"
## Ashhar Hasan
- [ ] all checked
-  09-20 22:43:01    01ba7a6daf Remove unnecessary condition in milestone job
-  09-22 00:44:51    2fd4c452b9 Remove redundant test group and suite run
-  09-22 00:44:51    37dfe7d750 Add missing catalogs to workers in Multinode PT env
-  09-23 04:13:56    09031480d7 Extract JDBC write-related configuration to separate class
-  09-24 02:43:57    ba12095f27 Do not

[2021-09-21 05:27] hashhar commented on #8983
Can you try with a build that includes https://github.com/trinodb/trino/pull/8899? The first version that includes it is 361.

[2021-09-21 09:26] #8983 closed

[2021-09-21 09:29] hashhar commented on #3635
@losipiuk Could the cause be same as https://github.com/trinodb/trino/pull/8899? The test creates an ACID unbucketed table which we didn't detect correctly as being ACID before your change.

[2021-09-21 10:08] losipiuk commented on #9316
[code]

#8570

[2021-09-21 10:09] losipiuk commented on #415
Should be fixed now.

[2021-09-21 10:09] #415 closed

[2021-09-21 10:42] clemensvonschwerin opened #9320 "Iceberg: parquet written by spark causes queries to run for hours"
Trino version in use: 361
Spark version in use: 3.1.2 / 3.1.1 (observed with both)
Issue: We are writing to trino tables (created in trino) in an iceberg catalog using spark in the overwritePartitions mode. The format for the table data is PARQUET. Writing is possible without an issue and simple select queries like "SELECT * FROM test_table" are executed with normal speed. However if we add a WHER

[2021-09-21 10:52] hashhar commented on #9320
This was fixed in 362 and I believe https://github.com/trinodb/trino/pull/9161 is the issue/PR.

You can try to see if the Iceberg catalog exposes a session property `parquet_use_column_index`. If so, you can set it to false to workaround this.

[2021-09-21 11:01] clemensvonschwerin commented on #9320
@hashhar awesome, thank you for the quick answer. I will try it out and keep you posted.

[2021-09-21 11:09] clemensvonschwerin commented on #9316
[code]
[#6210](https://github.com/trinodb/trino/pull/6210)

[2021-09-21 12:37] kokosing opened #9321 "SET ROLE fails if listing of all roles requires admin privileges"
To execute `SHOW ROLES` requires admin like privileges. This SQL translates to `ConnectorMetadata#listRoles`. We have `ConnectorAccessControl#checkCanShowRoles` that verifies the access before calling that method in `SHOW ROLES`.

In some authorization services getting a list of all existing roles is restricted only to admin users. This is fine for `SHOW ROLES` as we verify the access first.

Howe

[2021-09-21 17:07] vaibhavvasa236 commented on #8983
HI @hashhar ,

The issue still happens post upgrading trino to version 361. However the issue does not appear if we set hive.temporary-staging-directory-enabled=false
Can we reopen this?

[2021-09-21 19:58] findepi commented on #9263
https://github.com/trinodb/trino/runs/3652100940

[2021-09-21 20:19] findepi commented on #8691
https://github.com/trinodb/trino/runs/3636321727

[2021-09-21 20:49] findepi commented on #9309
May require https://github.com/trinodb/trino/issues/7608

[2021-09-21 21:43] losipiuk commented on #7608
cc: @losipiuk

[2021-09-22 01:37] aakashnand commented on #8983
@vaibhavvasa236 from your error message it seems that the staging directory is not getting created or getting deleted. I would recommend you to use "watch" command to check what is happening to staging directory as you execute the query.

The second point is to check the directory permissions, So please check that user you are using in jvm.config for the property
-DHADOOP_USER_NAME is hive. In the

[2021-09-22 06:59] findepi commented on #9263
https://github.com/trinodb/trino/runs/3667767944 @Praveen2112

[2021-09-22 07:35] findepi commented on #5892
https://github.com/trinodb/trino/runs/3666711254

[code]

[2021-09-22 07:36] findepi commented on #8691
https://github.com/trinodb/trino/runs/3666711537 cc @sopel39 @raunaqmorarka

[2021-09-22 07:42] PierreZ commented on #8418
Any news about this?

[2021-09-22 08:16] findepi commented on #9303
Please run the build with Java 11 (not Java 8).

[2021-09-22 08:16] #9303 closed

[2021-09-22 08:18] findepi commented on #9320
It does not (https://github.com/trinodb/trino/issues/9097#issuecomment-913460609)

Closing per https://github.com/trinodb/trino/pull/9161

[2021-09-22 08:18] #9320 closed

[2021-09-22 15:09] yuuteng opened #9334 "Missing TIME type for CT and CTAS in MySQL connector"
Got an error message `Unsupported column type: time(3)` while using 'create table'.

[2021-09-23 03:00] rdsr opened #9340 "Iceberg writes using Trino are using `fastAppend` instead of `append`"
`fastAppend` does not do any merging of manifests during commit as a result, read queries on the table become slower over time. I think we should switch to `append` during commit data instead of `fastAppend`

[2021-09-23 06:08] yunfeng79 opened #9341 "Encountered too many errors talking to a worker node."
SQL 错误 [65540]: Query failed (#20210923_055034_00003_pjsqf): Encountered too many errors talking to a worker node. The node may have crashed or be under too much load. This is probably a transient issue, so please retry your query in a few minutes. (http://192.168.0.98:30080/v1/task/20210923_055034_00003_pjsqf.0.0/results/0/0 - 603 failures, failure duration 300.05s, total failed request time 300.

[2021-09-23 07:04] findepi commented on #1671
https://github.com/trinodb/trino/runs/3678270065

[code]

[2021-09-23 08:21] ebyhr commented on #9316
[code]

#9329

[2021-09-23 08:34] byungnam commented on #4868
Dang. I was a bit in haste and found there were several other queries ran in same time with `call create_empty_partition`.  I re-tested in a clean environment and confirmed the problem was not `call create_empty_partition` but was `CREATE TABLE` statement.

Reproduce steps are simple:
- Run any `CREATE TABLE` statement
- Then you get one additional /tmp/presto-{USER} directory

Tested statements:

[2021-09-23 08:43] assaf2 commented on #9067
When the rule `PushProjectionIntoTableScan` calls `metadata.applyProjection()`, the argument `List<ConnectorExpression> projections` should contain a `io.trino.spi.expression.Call`.
For example, I've changed the first query of `io.trino.plugin.postgresql.TestPostgreSqlConnectorTest#testPredicatePushdown` to `SELECT regionkey, nationkey, lower(name) FROM nation WHERE name =  #'ROMANIA'` and got the

[2021-09-23 08:54] Stevenchooo opened #9342 "Why is the performance difference so big?"
SELECT xx FROM xxx WHERE "$part_event" IN ('user_login' ,'play_game')
VS
SELECT xx FROM xxx WHERE "$part_event" IN ('user_login') UNION ALL SELECT xx FROM xxx WHERE "$part_event" IN ('play_game')

The first one consumes ten times more time than the second one.
Does anyone know why.

![image](https://user-images.githubusercontent.com/20969863/134479898-300a9e11-83b5-4c1d-a533-015bf6e93b65.png)
![im

[2021-09-23 08:57] sopel39 commented on #8611
I think this still happens:
https://github.com/trinodb/trino/pull/9336/checks?check_run_id=3684390362
[code]

[2021-09-23 08:58] #9342 closed

[2021-09-23 09:00] Stevenchooo opened #9343 "Why is the performance difference so big?"
SELECT xx FROM xxx WHERE "$part_event" IN ('user_login' ,'play_game')
VS
SELECT xx FROM xxx WHERE "$part_event" IN ('user_login') UNION ALL SELECT xx FROM xxx WHERE "$part_event" IN ('play_game')

The first one consumes ten times more time than the second one.
Does anyone know why.

![image](https://user-images.githubusercontent.com/20969863/134480408-a35f4f2b-dad8-4f48-8ea1-838941456c4d.png)
![im

[2021-09-23 09:21] hashhar commented on #9343
You can run EXPLAIN to see the difference in the query plan. The non-union all version would only have a single TableScan operation.

UNION ALL requires the table to be scanned twice (i.e. each side of union all needs to run separately) so it would take longer time.

Feel free to join our [Slack](https://trino.io/slack.html) and continue the conversation there on #troubleshooting. There are more p

[2021-09-23 09:21] #9343 closed

[2021-09-23 09:49] utk-spartan opened #9344 "Web UI overview page: Internal error is incorrectly marked as external error"
Trino version: 362

Minor bug with overview page of webUI

Error as shown in query details

<img width="650" alt="Screenshot 2021-09-23 at 15 12 47" src="https://user-images.githubusercontent.com/11501282/134486687-592f2008-f7b7-4eb9-b18a-9d2cd0fd20ca.png">

Error as shown in overview page
<img width="364" alt="Screenshot 2021-09-23 at 15 13 40" src="https://user-images.githubusercontent.com/11501

[2021-09-23 09:52] sopel39 commented on #5809
https://github.com/trinodb/trino/pull/9275/checks?check_run_id=3685232588

[2021-09-23 09:55] sopel39 commented on #7753
https://github.com/trinodb/trino/pull/9275/checks?check_run_id=3685232306

[2021-09-23 10:01] #9189 closed

[2021-09-23 10:03] kokosing commented on #9316
[code]
#9319

[2021-09-23 10:09] findepi commented on #9263
https://github.com/trinodb/trino/runs/3679842096

[2021-09-23 11:04] GaruGaru commented on #9097
Hi, we are experiencing the same issue after migrating from trino `356` to `362` we solved by performing a rollback to version `360`.
Trino failes to read parquet files (with column indexes) generated by a spark job using AWS Glue as metastore.

File schema with metadata
[code]

Glue table schema

[code]

[2021-09-23 11:09] boneanxs opened #9346 "ThriftHiveMetastoreClient not close hive client correctly could potentially cause memory leak for hivemetastore."
We have a abstract layer, ThriftHiveMetastoreClient to wrap hive metastore client, but it seems not close hive metastore client correctly.
In HiveMetaStoreClient, it first call shutdown to clean rawStore and some other threadlocal configures. can see here: https://github.com/apache/hive/blob/817ff27e96ecfce6c70c5850830e55a6e6f37da6/standalone-metastore/metastore-common/src/main/java/org/apache/had

[2021-09-23 11:13] marcejohnson opened #9347 "pushdown queries not working on data source (sql server) with one or more joins"
I am running latest PrestoDB (Release 362 - 20 Sep 2021) as of this writing on OSX.
It is installed using the recommended configs per the [trino deployment documentation](https://trino.io/docs/current/installation/deployment.html).

When I query against a single data source (Microsoft SQL server) with one or more joins I am not seeing pushdown queries work.  That is, it is not efficient and I see

[2021-09-23 11:15] sopel39 commented on #9316
[code]
https://github.com/trinodb/trino/pull/9270

[2021-09-23 11:23] hashhar commented on #9347
You need to set the config property `join-pushdown.enabled` to true to enable join pushdown. It's not enabled by default because some joins can cause more data to be read in case of pushdown vs without pushdown (e.g. JOIN that results in more output rows than input).

There is also a session property you can set to enable it for some queries/temporarily - `SET SESSION sqlserver.join_pushdown_enabl

[2021-09-23 11:23] #9347 closed

[2021-09-23 13:10] nineinchnick commented on #8364
I think you have to create a hidden `row_id` column, populate it with the value of the primary key and use it instead of the primary key.

[2021-09-23 13:12] hashhar commented on #8364
cc: @djsstarburst may be able to clarify. (I think there was a comment somewhere where the impl was described in detail but I can't seem to find it).

[2021-09-23 18:41] joshthoward opened #9353 "Flaky test io.trino.tests.product.hive.TestHiveBucketedTables.testBucketingWithUnsupportedDataTypes"
The test `io.trino.tests.product.hive.TestHiveBucketedTables.testBucketingWithUnsupportedDataTypes` is failing pretty reliably on master. See [this](https://github.com/trinodb/trino/pull/9157/checks?check_run_id=3679356122#step:6:6612) as an example. The change that introduced this was https://github.com/trinodb/trino/pull/8986.

[2021-09-23 18:53] hashhar commented on #9353
Copying logs here since they'll eventually expire:

[code]

[2021-09-23 18:55] hashhar commented on #9353
Seems we needs logs from the Hadoop container to find the cause of failure since MapRed task failing with error code 2 is as generic as it can get and it can fail for multiple reasons - wrongly written files, unexpected table layout (incorrectly named bucketed files etc.).

[2021-09-23 18:56] hashhar commented on #9353
Closing as duplicate of https://github.com/trinodb/trino/issues/9263 though.

[2021-09-23 18:56] #9353 closed

[2021-09-23 18:57] hashhar commented on #9263
We need to collect logs from the MapRed jobtracker to pinpoint cause of failure - it seems it can be literally anything judging by the causes listed on https://stackoverflow.com/questions/11185528/what-is-hive-return-code-2-from-org-apache-hadoop-hive-ql-exec-mapredtask.

[2021-09-23 19:23] OneRaynyDay opened #9355 "Expose compression parameter for t-digest functions"
It would be great if I can control the compression parameter for t-digest functions. The error bound set by default is fairly reasonable but I would often like to set the error bound to a very small epsilon to get somewhere between the efficiency of default t-digest and the accuracy of a true percentile calculation.

Discussion over slack [here](https://trinodb.slack.com/archives/CFLB9AMBN/p163163

[2021-09-23 19:47] joshthoward opened #9356 "EXPLAIN ANALYZE and EXPLAIN ANALYZE VERBOSE do not show estimates"
In Trino version 361 `EXPLAIN ANALYZE` and `EXPLAIN ANALYZE VERBOSE` do not show estimates which were previously displayed in Trino version 358.

To reproduce run, `EXPLAIN ANALYZE SELECT * FROM tpch.tiny.lineitem;` and `EXPLAIN ANALYZE VERBOSE SELECT * FROM tpch.tiny.lineitem;` on 358 and 361 version.

[2021-09-23 19:54] findepi commented on #9356
cc @sopel39

[2021-09-23 20:03] findepi commented on #9346
If i read correctly, the question is whether we should additionally have
[code]

in `io.trino.plugin.hive.metastore.thrift.ThriftHiveMetastoreClient#close`.

Do you know what this would can change in practice for the metastore side?
The connection is going to be closed anyway.

[2021-09-23 20:23] findepi commented on #9263
would be possible to have retries? we're not _testing_ hive, so am not concerned about masking stability issues on map reduce side.

[2021-09-23 20:39] raunaqmorarka opened #9359 "Implement writing of page level column indexes in native parquet writer"
Currently data written through native parquet writer does not contain page level indexes

cc: @martint @findepi

[2021-09-23 20:39] raunaqmorarka commented on #6382
https://github.com/trinodb/trino/issues/9359 Implement writing of page level column indexes

[2021-09-24 02:22] boneanxs commented on #9346
Yeah, I think we should call client.shutdown() explicitly in presto side. After client side call shutdown, HMS will shutdown rawStore(which remove PersistenceManager from PersistenceManagerFactory's cache), remove threadlocal variables.

You can find relate codes here: [HMSHandler.java#L991](https://github.com/apache/hive/blob/6aa812a88163a204f63cb84f5f581a533d2f54a0/standalone-metastore/metastore

[2021-09-24 02:33] LuPan2015 opened #9363 "Support Glue metastore in Iceberg connector"
1. version: trino 359
2. iceberg.properties
[code]
3. execute command
[code]
4. I get the following exception
[code]

[2021-09-24 02:50] LuPan2015 commented on #9255
Is it related to this issue?  #9363

[2021-09-24 06:23] yunfeng79 opened #9364 "io.airlift.discovery.client.Announcer Cannot connect to discovery server for announce"
coordinator

coordinator=true
node-scheduler.include-coordinator=false
http-server.http.port=30080
query.max-memory=30GB
query.max-memory-per-node=2GB
query.max-total-memory-per-node=4GB
discovery-server.enabled=true
discovery.uri=http://192.168.0.120:30080

worker node1
coordinator=false
http-server.http.port=30080
query.max-memory=30GB
query.max-memory-per-node=1GB
query.max-total-memory-per-nod

[2021-09-24 07:20] #9334 closed

[2021-09-24 07:27] ebyhr commented on #9316
[code]

#9339

[2021-09-24 08:30] ebyhr opened #9368 "Fix flaky TestingKafka initialization"
It would be better to increase startup attempts or add recreation container logic as Oracle and SQLServer.
[code]

https://github.com/trinodb/trino/runs/3697365158

[2021-09-24 08:41] yunfeng79 commented on #9364
node2  ping  coordinator

[2021-09-24 08:41] #9364 closed

[2021-09-24 08:52] sopel39 commented on #9316
[code]
https://github.com/trinodb/trino/pull/9327

[2021-09-24 08:57] sopel39 commented on #9316
[code]
https://github.com/trinodb/trino/pull/9275

[2021-09-24 11:51] findepi commented on #9346
Thanks for the pointers.

Seems we can call `client.shutdown()` and we should ignore (probably logging) any errors resulting from it.
Is it possible that the call blocks though, or takes long? Especially for HMS >= 2.1, which doesn't need the call?

[2021-09-24 12:00] lokipatel opened #9373 "date column name not parsing properly in passthrough query from trino to pinot"
Hello all,
I have connected trino with pinot. Its working fine but the only problem that i am facing in tables whose columns have “date” as the column name for datefield.

I am getting the error

PFA the file for reference.  I humbly request you to please suggest some solutions on this

[pinot_trino_error.txt](https://github.com/trinodb/trino/files/7225421/pinot_trino_error.txt)

[2021-09-24 12:02] ebyhr commented on #9373
Relates to https://trinodb.slack.com/archives/CGB0QHWSW/p1632476513364000

[2021-09-24 12:06] hashhar commented on #9373
cc: @elonazoulay Does the Pinot require a different form of quoting in the passthrough part?

[2021-09-24 13:27] findepi commented on #9316
[code]

[2021-09-24 13:29] #9368 closed

[2021-09-24 17:48] martint opened #9378 "Migrate unit tests to JUnit 5"

[2021-09-24 17:56] Damans227 commented on #9378
@martint I would like to be part of this project and can help you in planning and executing the roadmap for it. I am willing to dedicate a fixed amount of hours on daily basis for next few months if that helps. Lemme know.

[2021-09-24 17:59] martint commented on #9378
@Damans227, that would be great! The changes can be done mostly incrementally by tackling individual test classes. Take a look at the PR I linked above for an example.

[2021-09-24 21:17] Damans227 commented on #9378
@martint Ok, scanning through the files changed in this PR: #9362, it appears to me that we are updating the tests from using `org.testng` framework to `Junit5`. So, which modules in the codebase do we aim to cover as part of this issue/ project ? Since, you've already updated `trino-main` & `trino-parser` in core, should I continue with other modules in the same folder ?

[2021-09-24 21:20] martint commented on #9378
I only updated `trino-parser` and a small portion of `trino-main`. The goal would be to replace it everywhere.

[2021-09-24 21:21] Damans227 commented on #9378
Got it! Thanks for replying.

[2021-09-24 21:29] martint commented on #9253
Doing that will require significant re-architecting of the query analyzer. Currently, tables are resolved at the point where they are referenced.

We'd need to update the analyzer to the analysis in two passes. First, it'd need to collect table references (and expand views, column masks and row filters as it goes) and then request metadata for them in batch.

One downside of this is that it would

[2021-09-24 22:30] Damans227 commented on #9378
I have updated the tests in the `sql>analyzer` module. How do I validate my changes before sending a PR ? Is there a maven command to do so ? Apologies in advance as these are very rookie questions.

[2021-09-25 09:11] #7005 closed

[2021-09-25 09:11] #8457 closed

[2021-09-25 09:41] ebyhr commented on #4984
`testSingleLevelSchemaArrayOfArrayOfStructOfArray` is also flaky.
https://github.com/trinodb/trino/runs/3699615757

[code]

[2021-09-25 17:27] lhofhansl opened #9382 "Querying a Parquet backed table with real values in the WHERE clause throws an exception"
Script:
[code]

[2021-09-25 17:28] lhofhansl commented on #9382
Full exception:
[code]

[2021-09-25 17:30] lhofhansl commented on #9382
I didn't have time to investigate further...

#9338 could be a suspect.

[2021-09-25 18:31] hashhar commented on #9382
cc: @findepi @alexjo2144

[2021-09-25 18:37] martint commented on #9382
@lhofhansl, can you try turning off use of column indexes? We’ve seen similar reports, and it might be related to that. Thanks for the repro. I’ll try to debug it.

[2021-09-25 18:37] martint commented on #9382
cc @JamesRTaylor

[2021-09-25 20:24] sopel39 commented on #4984
cc @skrzypo987

[2021-09-25 20:31] shangxinli opened #9383 "Trino Parquet Column Encryption"
Parquet modular encryption provides a column encryption feature. It would be great to have that in Presto. Due to the slowness of the PresteoDB, I would like to start the feature in TrinoDB. The original issue in PrestoDB can be found [here](https://github.com/prestodb/presto/issues/12048).

It is a large feature and it can be divided into three parts: 1) [Common code path](https://github.com/trin

[2021-09-25 20:33] shangxinli opened #9384 "Subtask of Presto Parquet Column Encryption - common code path"
This is a subtask of Presto Parquet Column Encryption for - common code path.

[2021-09-25 20:35] shangxinli opened #9385 "Subtask of Presto Parquet Column Encryption - decryption"
This is a subtask of Presto Parquet Column Encryption for - decryption.

[2021-09-25 20:37] shangxinli opened #9386 "Subtask of Presto Parquet Column Encryption - encryption"
This is a subtask of Presto Parquet Column Encryption for  - encryption.

[2021-09-25 21:49] findepi commented on #9074
The test is now marked `@Flaky(issue = "https://github.com/trinodb/trino/issues/9074", match = "Error while processing statement: FAILED: Execution Error, return code 2 from org.apache.hadoop.hive.ql.exec.mr.MapRedTask")`, but this doesn't seem to help, as it may fail couple times in a row.

cc @losipiuk

[2021-09-25 21:58] findepi commented on #9382
Let's close this in favor of https://github.com/trinodb/trino/issues/9097.

[2021-09-25 21:58] #9382 closed

[2021-09-25 22:01] martint commented on #9382
We should copy the repro steps to the other issue so that we don’t lose track of it.

[2021-09-25 23:59] lhofhansl commented on #9382
I can confirm that with column indexes turned off the query works as expected.

[2021-09-26 00:00] lhofhansl commented on #9097
#9382 has repro instructions.

[2021-09-26 03:26] boneanxs commented on #9346
Thank you for raising your concerns.

After check the HMS codes, I don't think it could block the call, also, spark will always call shutdown when it disconnects with HMS.

I think there could be another issue we should take into consideration. We upgrade HMS version to 3.1 in our production environment, and found presto become slower when build connection with HMS. After traced some methods, it s

[2021-09-26 12:58] kyo-tom commented on #9356
can you assign me to this issue ? I will try to solve this problem

[2021-09-26 20:08] Insferatu commented on #9097
Unfortunately no, all my attempts to reduce file in any way and exclude sensible data led to situation when issue stops to reproduce.

[2021-09-27 03:57] ebyhr opened #9392 "Flaky test TestParquetReader.testSchemaWithRepeatedOptionalRequiredFields"
[code]

https://github.com/trinodb/trino/runs/3715532329

[2021-09-27 04:27] kyo-tom commented on #9356
I found that the cause of the problem is that explain analyze statement will be parsed as ExplainAnalyze in version 361,but it will be parsed as Explain before 360.This change will make collectPlanStatistics from true to false in LogicalPlanner

[2021-09-27 05:53] kyo-tom commented on #9356
can i submit a pr to fix it？

[2021-09-27 07:43] findepi commented on #9356
@kyo-tom absolutely!

[2021-09-27 08:09] findepi commented on #9097
Confirming that the steps https://github.com/trinodb/trino/issues/9382#issue-1007150134 reproduce the problem locally, when run against `HiveQueryRunner`.

[2021-09-27 08:16] raunaqmorarka commented on #9097
https://github.com/trinodb/trino/pull/9389 attempts to fix this

[2021-09-27 09:17] findepi commented on #9346
cc @kokosing @electrum

[2021-09-27 09:33] #9248 closed

[2021-09-27 09:41] Stubucha commented on #6314
@alec-heif thanks for raising this, I'm having a similar problem.

1627603470300 - Epoc time Friday, July 30, 2021 2:04:30.300 AM GMT+02:00 DST

`SELECT FROM_UNIXTIME(1627603470300)`
53546-09-14 03:05:00

Busy looking into other functions that can potentially solve this issue.

[2021-09-27 09:51] Stubucha commented on #6314
If you're still looking for a solution please see below:

`SELECT CONCAT(FORMAT_DATETIME(FROM_UNIXTIME(1627603470300/1000),'yyyy-MM-dd HH:mm:ss.'), CAST(1627603470300%1000 as varchar))`

[2021-09-27 10:07] #2084 closed

[2021-09-27 10:12] ebyhr commented on #9316
[code]

#2084 #9390

[2021-09-27 10:49] findepi commented on #9253
Expanding views requires that we identify relation is a view (and not a table).
This requires getting relation information. For some connectors, like Hive or Iceberg, getting view information is the same as getting table information, so we could want to unify this into `resolveRelation` SPI (cc @losipiuk ). Anyway, it seems like the two-pass approach would need to be more complicated to be effecti

[2021-09-27 11:37] raunaqmorarka opened #9399 "Improve pushdown of BETWEEN predicate through join"
For a query where one half of BETWEEN is a subquery and the other is a static predicate, the static predicate doesn't get pushed through join.
[code]

The same query manually rewritten using >= and <= pushes down the static predicate as expected
[code]

Modifying `ExpressionUtils#extractPredicates` to break BetweenPredicate into two ComparisonExpression solves the pushdown problem but it also crea

[2021-09-27 11:37] raunaqmorarka commented on #9399
fyi @martint @kasiafi

[2021-09-27 11:40] findepi opened #9400 "Single SPI method for resolving relation name"
We have multiple methods in `ConnectorMetadata` that effectively resolve relation name:

- `getTableHandle`
- `getView`
- `getMaterializedView`
- `getSystemTable`
- `redirectTable`

Replace these with a single method e.g. `resolveRelation` so that

- the SPI makes it clear that there cannot be a table and view with the same name (see e.g. https://github.com/trinodb/trino/pull/7484#discussion_r6087

[2021-09-27 11:40] findepi commented on #9400
cc @losipiuk @phd3 @martint @kasiafi @sopel39

[2021-09-27 13:52] kasiafi commented on #9399
The difference happens in `EqualityInference.nonInferrableConjuncts()`. It uses `extractConjuncts()`, and so it is able to extract a part of `AND` expression, but not of `BETWEEN` expression.

[2021-09-27 14:46] aczajkowski commented on #9316
[code]
https://github.com/trinodb/trino/pull/9234

[2021-09-27 18:31] raunaqmorarka commented on #7919
Encountered in https://github.com/trinodb/trino/pull/9389/checks?check_run_id=3721560355

[2021-09-27 18:53] cccs-tom commented on #9256
Sorry, I missed this issue until now @jackye1995. Yes, we do currently have a production use case for this. I realize it's a bit of an edge case, but here it is:

We have two distinct AKS clusters, each with its own deployment of our tool stack (including Trino). One cluster is open to a wide audience and the other is more restrictive. The open cluster has no access to the restricted cluster, but

[2021-09-28 02:35] #8185 closed

[2021-09-28 03:15] liupan664021 opened #9404 "Background iceberg split loader"
Hello, is there any plan to put the icebeg split source in bakground? or is anyone working on this?

[code]

[2021-09-28 03:28] cache9 opened #9405 "QueryExecution logs persistence"
version: trino 360

issue:
How to persist the execution plan ? When i restart the coordinator, i also can query the QueryExecution logs .

[2021-09-28 06:48] sopel39 commented on #9316
[code]
https://github.com/trinodb/trino/pull/9396

[2021-09-28 06:51] sopel39 commented on #9356
Fixed via: https://github.com/trinodb/trino/pull/9396

[2021-09-28 06:51] #9356 closed

[2021-09-28 08:07] DwijadasDey opened #9411 "Create table as from Druid Catalog"
Is it possible to create a new table from Druid catalogue using `CREATE TABLE tab1 AS SELECT * FROM TABLE1` syntax ?

I am getting `"This connector does not support creating tables with data" `error when i try to create table fro Druid catalogue.

[code]

Druid connector provides globally available [statements](https://trino.io/docs/current/connector/druid.html) like `'CREATE TABLE tab1 AS' `to ac

[2021-09-28 08:13] hashhar commented on #9411
The CREATE TABLE and CREATE TABLE AS are both under `Schema and Table Management` as I can see on this page - https://trino.io/docs/current/language/sql-support.html#schema-and-table-management which isn't listed as supported on the Druid connector docs.

The Druid connector is read-only today since the only way to ingest data into druid is via files or Kafka hence requires an external service and

[2021-09-28 09:02] DwijadasDey commented on #9411
Thanks for clearing the doubts. I looked at the page (https://trino.io/docs/current/language/sql-support.html) entirely earlier, overlooking the Druid connector page information(https://trino.io/docs/current/connector/druid.html).

[2021-09-28 09:02] #9411 closed

[2021-09-28 09:09] #9097 closed

[2021-09-28 09:12] findepi commented on #9404
i think @alexjo2144 did it in https://github.com/trinodb/trino/pull/9193.
cc @losipiuk

[2021-09-28 09:14] findepi commented on #9316
[code]

#9097 #9382 #9389

[2021-09-28 10:39] SiddhaarthS commented on #5686
Would second both @RosterIn and @lhofhansl Temp tables would help with a lot of common operations done in ETL tasks

[2021-09-28 12:25] findepi commented on #9316
[code]

#9326

[2021-09-28 12:27] findepi commented on #8432
https://github.com/trinodb/trino/runs/3730496519

[2021-09-28 12:37] findepi commented on #8432
https://github.com/trinodb/trino/runs/3708593787

[2021-09-28 12:46] findepi commented on #9316
[code]

#9354

[2021-09-28 16:19] yashu74 commented on #961
Issue Still persist & become a big blocker.. any work-around for this issue??

[2021-09-28 16:45] losipiuk opened #9415 "io.trino.plugin.hive.TestHive3InsertOverwrite flaky: Schema already exists: 'hive_insert_overwrite'"
[code]

test run: https://github.com/trinodb/trino/runs/3732417093?check_suite_focus=true

[2021-09-28 16:45] losipiuk commented on #9415
@aczajkowski PTAL

[2021-09-28 18:48] joshthoward opened #9416 "Hive cannot read files written by the native Trino parquet writer"
Hives (HDP 2.6, HDP 3.1, and CDH 5.15) produce the following error when attempting to read VARCHAR data written by the native Trino Parquet writer.

[code]

Further testing should be performed to verify readability from Hives for all data types.

[2021-09-28 20:31] alexjo2144 commented on #9404
Not merged yet, but yes

[2021-09-28 20:35] findepi commented on #9416
Thanks for sharing the stacktrace.

Logically this duplicates https://github.com/trinodb/trino/issues/6377. Let's continue the discussion there.

[2021-09-28 20:37] #9416 closed

[2021-09-28 20:38] findepi commented on #7953
Let me close this one in favor of the older issue on the same topic -- https://github.com/trinodb/trino/issues/6377.

[2021-09-28 20:38] #7953 closed

[2021-09-28 20:39] findepi commented on #6377
This is not the only problem that needs to be overcame to solve the issue from user perspective.

See #9416 and #7953 for more details provided by @joshthoward @anjalinorwood @rdblue and others.

[2021-09-29 04:09] ebyhr commented on #8432
https://github.com/trinodb/trino/runs/3739189723

[2021-09-29 05:27] kyo-tom opened #9419 "doc about explain analyze is incorrect"
explain analyze statement do not show estimates after fix #9396 .

[2021-09-29 05:56] jackye1995 commented on #9256
@cccs-tom yeah sorry I thought I mentioned you but I forgot to put the @.

So are you using `HadoopCatalog` now for both of the clusters, or `HiveCatalog`? Is that a Trino cluster or Spark for write and Trino for read, or something else?

[2021-09-29 08:15] aczajkowski commented on #9415
@losipiuk PR to address issue: https://github.com/trinodb/trino/pull/9421

[2021-09-29 08:22] hashhar opened #9423 "Flaky TestExternalAuthorizerOAuth2"
[code]

Seen first in https://github.com/trinodb/trino/runs/3741185601?check_suite_focus=true

[2021-09-29 08:34] woodchuck1206 opened #9424 "'cannot use empty rangeList' error after upgrade from 359 to 362"
Hi, I upgraded Trino from 359 to 362 and the error below showed up. (sensitive info masked)
[code]
Since this error hadn't been shown in 359, I believe it has something to do with the later updates, although I don't seem to be able to locate the culprit from the release notes.

+ Just had a look at the code changes, and seems like the 'ranges' variable in TupleDomainParquetPredicate.java wasn't ad

[2021-09-29 08:56] findepi commented on #9423
Does this duplicate https://github.com/trinodb/trino/issues/6991 ?

[2021-09-29 09:29] sopel39 commented on #9316
[code]
https://github.com/trinodb/trino/pull/8985

[2021-09-29 10:28] hashhar commented on #9423
I'm not sure but I think they are different. Notice that the stack trace here is in the JDBC driver - not the test harness/environment.

[2021-09-29 11:29] garrylachman commented on #7322
using version 362 still got this error using Google oAuth2
[code]

[2021-09-29 12:01] findepi commented on #9419
What would you expect differently?

cc @sopel39

[2021-09-29 12:49] kyo-tom commented on #9419
we had add estimates in explain analyze but forget to update the example txt in explain-analyze.rst

[2021-09-29 13:35] austenLacy commented on #7322
@garrylachman here's the config we use with success

[code]

[2021-09-29 14:42] sopel39 commented on #9419
cc @mosabua

[2021-09-29 14:47] cccs-tom commented on #9256
@jackye1995 No worries.

Yes, we use HadoopCatalog for both clusters - no Hive. And you are correct that our ingestion pipelines do their writing with Spark. However, we also create a separate catalog that is writable for analysts so they can use it as a "sandbox" to write results when they need to. So writing is important to our use cases (I assume that's why you were asking?).

Our "prod" is cur

[2021-09-29 17:51] ChandrasekharPo-Kore commented on #8591
@academy-codex
Appreciate if you can provide an update on when this will be available ?
Thanks again.

[2021-09-29 19:21] raunaqmorarka opened #9432 "TestHttpQueryListener is flaky"
[code]

https://github.com/trinodb/trino/runs/3747560759

[2021-09-29 19:26] raunaqmorarka opened #9433 "Flaky test TestCassandraConnectorTest"
[code]

https://github.com/trinodb/trino/runs/3747561131

[2021-09-29 20:26] OneRaynyDay opened #9434 "ArrayIndexOutOfBoundsException in new release during INSERT INTO"
I ran into an issue with a query that was working just fine before the v362 release:

The shape of the insert looks like the following, and we're ingesting ~60GB's worth of parquet (individual parquet files are anywhere from [500MB, 4GB] sizes)

[code]

Unfortunately we had to do a hotfix revert on v361 to fix this issue, but the error it raised was similar to this ticket:

[code]

The ticket was

[2021-09-29 21:57] mosabua commented on #9419
Ok .. so are you sending a PR with updated @kyo-tom ?

[2021-09-30 01:43] kyo-tom commented on #9419
@mosabua absolutely! I will do it  with pleasure

[2021-09-30 01:55] ebyhr commented on #8432
https://github.com/trinodb/trino/runs/3750783218

[2021-09-30 02:18] jirassimok opened #9438 "Use isAdjustedToUTC=false when writing timestamps with the native Parquet writer"
In Parquet, a `TIMESTAMP` with `isAdjustedToUTC=false` is the proper representation for a SQL timestamp, [representing a collection of date and time fields](https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#local-semantics-timestamps-not-normalized-to-utc) rather than an instant in time. This is very similar to Trino's own internal representation of timestamps.

With `isAdjusted

[2021-09-30 06:44] #9432 closed

[2021-09-30 06:58] Praveen2112 commented on #9151
I'll raise a PR for it.

[2021-09-30 07:55] findepi opened #9441 "Eagerly connect CLI to server when --external-authentication option is used"
When CLI is used with password- or kerberos-based auth, it doesn't need to actually make a connection on startup.
CLI prints the prompt and authentication happens behind the scenes.

When `--external-authentication`, the user didn't provide authentication information yet. Printing prompt, and authenticating on first query isn't the best user experience possible.

[2021-09-30 08:08] kokosing commented on #9441
I think it is not only about external authentication. For example one would like to know that the password (or keytab) is invalid eagerly too.

[2021-09-30 08:08] kokosing commented on #9441
Oh... that would also verify if the server is up and running too.

[2021-09-30 08:11] findepi commented on #9441
@kokosing  I agree that it would be better UX overall, but i also am aware the way CLI works was a conscious decision (even if i would make a different one).
That's why I would want to focus on `--external-authentication` case only.

[2021-09-30 08:12] aakashnand commented on #8368
@findepi @rijojoseph07 Is there any update on this issue? We are also experiencing this issue. For some of the failed queries from Trino, Locks are not getting released. When I execute the `show locks` command I can see entries for `SHARED_READ`

[2021-09-30 08:30] kokosing opened #9444 "Flaky TestJdbcVendorCompatibility - unable to download postgres docker image"
[code]

[2021-09-30 08:31] kokosing commented on #9444
[code]

[2021-09-30 09:13] #7753 closed

[2021-09-30 10:38] ebyhr commented on #9444
Same issue in Pinot connector
[code]
https://github.com/trinodb/trino/runs/3745083553

[2021-09-30 11:02] kokosing commented on #9444
It looks like an issue with docker hub.

[2021-09-30 11:43] junyi1313 commented on #5686
Hi @findepi, do we have any roadmap about this feature? We also need temp tables and temp views in our use cases. Thanks.

[2021-09-30 13:34] jirassimok commented on #9438
It might also be appropriate to read timestamps with `isAdjustedToUTC=true` as timestamps with time zone, but this might cause issues with data previously written by Trino.

(On the other hand, reading such data as plain timestamps could cause issues for anyone expecting instant semantics.)

[2021-09-30 13:41] aczajkowski commented on #9415
Seems that issue occurred due to below scenario:
1. Hadoop container A starts for TestHive2InsertOverwrite (Thread 1)
2. Hadoop container A maps random port A1 for HMS (Thread 1)
3. At this state HMS in container A should be empty as it just started (Thread 1)
4. TestHive2InsertOverwrite created metadata for SCHEMA via A1 port (Thread 1)
5. Hadoop container B starts for TestHive3InsertOverwrite (T

[2021-09-30 14:07] aczajkowski commented on #9415
PR to help debug this issue: https://github.com/trinodb/trino/pull/9449

[2021-09-30 15:33] jles01 opened #9451 "Trino & indexes in hive connector question/proposal"
Hi,

Just a thought if there is a plan or someone started to implement indexing on data in hive connector ?
Im thinking this can be a benefit.
We can have:
-> data skipping indexes
-> data covering indexes
etc.

The question is do you think Trino optimizer  is capable of leverage from those ? Second where to start to implement those ?
And the most important question do you think such indexes such

[2021-09-30 18:25] findepi commented on #5686
@junyi1313 i don't think anyone currently is working on this. cc @arhimondr

[2021-09-30 20:14] electrum commented on #9441
Yes, we should change this for everything, not just authentication.

[2021-10-01 00:07] ebyhr commented on #9444
Sent a PR https://github.com/testcontainers/testcontainers-java/pull/4491 to testcontainers though I'm not sure whether it's acceptable or not.

[2021-10-01 01:09] #9123 closed

[2021-10-01 01:11] ebyhr commented on #9316
[code]

#9123 #9448

[2021-10-01 02:20] ebyhr commented on #9373
Let's fix normal query builder first because the attached log uses doesn't dynamic tables.
https://github.com/trinodb/trino/blob/master/plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/query/PinotQueryBuilder.java

[2021-10-01 05:20] academy-codex commented on #8591
Hmm.. let me check and come back, we already have implemented kerberos based in my org.

[2021-10-01 05:50] rijojoseph07 opened #9458 "Adding `X-Frame-Options` to avoid clickjacking"
As per our Infosec recommendation we need to add `X-Frame-Options` to all trino http response to avoid clickjacking

[2021-10-01 14:52] findepi commented on #9438
I had the same conclusion when working on #9188. I should have followed up on that. #9465

[2021-10-01 15:21] findepi opened #9466 "Support distributed table-scoped connector-provided procedures"

[2021-10-01 15:23] findepi commented on #9466
In an offline meeting with @martint @electrum @losipiuk and myself we decided to go with the syntax:
[code]

where `t` is table name,
`p` is connector-provided procedure name
and `<options>` may optionally include filtering, sorting, etc.

[2021-10-01 15:23] findepi commented on #9451
There is a concept of secondary index stored as files in Iceberg.
In Hive there is https://cwiki.apache.org/confluence/display/Hive/LanguageManual+Indexing, but i don't know the status of it.
Do you know?

For building indexes,  #9466 sounds like the way to go.

[2021-10-01 15:24] sergey-melnychuk commented on #9021
I didn't find any meaningful "heuristic" on `DefaultJdbcMetadata::applyAggregation` method level to cut off unnecessary columns from being propagated/selected. I believe more advanced change of behaviour is required around `PushAggregationIntoTableScan` and `TableScanNode` areas of planner/optimizer.

In the provided query (`select min(nationkey) from nation group by regionkey;`) the `regionkey` i

[2021-10-01 15:46] findepi commented on #9316
[code]
#9460

[2021-10-01 15:49] findepi opened #9467 "Flaky test TestBackgroundHiveSplitLoader.testSplittableNotCheckedOnSmallFiles"
https://github.com/trinodb/trino/runs/3768595178

[code]

cc @pettyjamesm

[2021-10-01 16:19] findepi commented on #9434
Repro steps @ https://trinodb.slack.com/archives/CP1MUNEUX/p1633095917314900?thread_ts=1632947187.300700&cid=CP1MUNEUX
thanks @alec-heif

might be failing since https://github.com/trinodb/trino/pull/7991
cc @dain

[2021-10-01 17:31] shangxinli opened #9471 "Implement Parquet bloom filter"
Since we have upgraded to parquet 1.12.x, we can implement the parquet filter now. Will publish the PR soon.

[2021-10-01 18:10] findepi opened #9472 "Many product tests are flaky with Hive failing with `Error while processing statement: FAILED: Execution Error, return code 2 from org.apache.hadoop.hive.ql.exec.mr.MapRedTask`"
This task aggregates various other existing issues failing with same cause.

[2021-10-01 18:11] findepi commented on #9472
cc @alexjo2144

[2021-10-01 18:11] findepi commented on #9472
cc @losipiuk

[2021-10-01 18:24] alexjo2144 commented on #9472
I hit this error message running suite-1 on my computer, the root cause was an OOM error. This was from the hive-server logs:

[code]

[2021-10-01 19:40] sopel39 commented on #8611
https://github.com/trinodb/trino/pull/9428

[2021-10-01 21:50] martint commented on #9316
[code]

https://github.com/trinodb/trino/pull/9358

[2021-10-01 23:14] electrum opened #9476 "Improve runtime of TestHiveTransactionalTable::testDeleteOverManySplits"
We can use the new `target_max_file_size` to create multiple smaller files, and verify we created multiple files by selecting from the `$files` table.

[2021-10-03 17:44] anneloreegger commented on #9080
Could I work on this?
Would you want that the overflow is prevented, or should one then see on the UI a message like for example "too much memory consumption" instead of the negative number?

[2021-10-04 04:27] ebyhr commented on #9316
[code]

#9391

[2021-10-04 06:59] sbernauer opened #9484 "Missing group attribute for queries in File system access control"
Hi Trino-Team!

Reading and trying the docs https://trino.io/docs/current/security/file-system-access-control.html#query-rules i noticed two issues:
1. Bug: The attribute "owner" does not get pick up by the JSON Mapper [QueryAccessRule](https://github.com/trinodb/trino/blob/caf141718b79948c21764e76fa91249c3e1ade46/lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/QueryAccessRule

[2021-10-04 10:05] sopel39 commented on #9080
Please do

Could we just use a number with bigger resolution?

[2021-10-04 10:06] guyco33 opened #9485 "SHOW CURRENT ROLES fails"
Trino version is `362`
Issue happens also when `deprecated.legacy-catalog-roles=true`
[code]

Probably relates to https://github.com/trinodb/trino/pull/9087

[2021-10-04 10:38] kokosing commented on #9485
It looks related to https://github.com/trinodb/trino/issues/9189, can you please try to use recent master and see if the issue is gone. It should be fixed now.

[2021-10-04 10:57] guyco33 commented on #9485
sure @kokosing.  Will check it shortly

[2021-10-04 11:31] jles01 commented on #9451
Hive indexing is a dead project. I m thinking more about the Microsoft project hyperspace which we can benefit of

[2021-10-04 11:32] #9373 closed

[2021-10-04 11:36] ebyhr commented on #9316
[code]

#9373 #9459

[2021-10-04 11:49] guyco33 commented on #9485
@kokosing With recent master it doesn't fail but returns with empty result also when `deprecated.legacy-catalog-roles=true`.

[2021-10-04 12:17] guyco33 commented on #9485
I expect it to preserve the previous behavior and to implicitly pick the current catalog similar as `show schemas` and `show tables`

[2021-10-04 12:48] kokosing commented on #9485
Let me take a look into this.

[2021-10-04 13:15] kokosing commented on #9485
CC: @dain

[2021-10-04 13:38] kokosing commented on #9485
Possible fix: https://github.com/trinodb/trino/pull/9491

[2021-10-04 14:54] RCHowell commented on #9315
There is information about deploying a custom plugin here - https://trino.io/docs/current/develop/spi-overview.html

Is there something more you would like to see, or how could this be improved?

[2021-10-04 15:42] guyco33 commented on #9485
I approved that #9491 fixes the issue

[2021-10-04 18:14] martint commented on #9316
[code]

https://github.com/trinodb/trino/pull/9469

[2021-10-05 06:11] losipiuk commented on #9316
[code]

#9234

[2021-10-05 06:16] losipiuk commented on #9316
[code]

#8821

[2021-10-05 06:24] losipiuk commented on #9316
[code]

#9371

[2021-10-05 06:31] losipiuk commented on #9316
[code]

#9295

[2021-10-05 06:38] weiatwork opened #9498 "Support query hints"
As Trino becomes more and more complex, it's hard to provide a one-size-fits-all experience for different kinds of workloads and query shapes. Trino provides many useful configuration options, but they either have to be stored in static config files or configured at the session level. Moreover, for specific query tuning needs, Trino currently does not provide a way to specify the join strategy for

[2021-10-05 10:35] svarosky90 commented on #3300
It would be very appreciated. Any kind of idea if this kind of work is planned for the future?

[2021-10-05 11:48] kokosing commented on #9316
[code]
 #9496

[2021-10-05 11:49] kokosing commented on #9485
Fixed in 363.

[2021-10-05 11:49] #9485 closed

[2021-10-05 11:50] kokosing commented on #9485
@guyco33 Thank you for raising this issue and helping with tests for the bugfix.

[2021-10-05 13:14] assaf2 opened #9506 "Extend expression pushdown support"
At `ConnectorExpressionTranslator`, support conversion of expressions like `LogicalExpression`, `NotExpression`, `ComparisonExpression`, `IsNullPredicate`, `IsNotNullPredicate`. These expressions can be represented as function calls rather than new types of `ConnectorExpression`.

[2021-10-05 13:40] ebyhr commented on #6789
`getPinotTableNameFromTrinoTableName()` exactly finds the table case-insensitively, but `PinotTableHandle` lowercase it. I assume case insensitive matching isn't working in this connector now.

[2021-10-05 15:29] sopel39 commented on #9316
[code]
https://github.com/trinodb/trino/pull/9510

[2021-10-05 15:30] sopel39 opened #9511 "Use BigintGroupByHash optimization for other integer types"
Use `BigintGroupByHash` for other `long` primitive based types

[2021-10-05 16:26] #9438 closed

[2021-10-05 18:55] SamWheating opened #9519 "Unable to Query Iceberg $partitions if table contains columns called row_count, file_count or total_size"
The Iceberg `table$partition` system table includes columns called `row_count`, `file_count` and `total_size` as well as a column with column stats for each partition.

If an iceberg table happens to have a column which uses any of these names, it will create a duplicate key and make the partition spec un-queryable for these tables.

To replicate:

[code]

[code]

[code]

I understand why this hap

[2021-10-05 20:34] kekwan commented on #9254
I'm taking a look at this issue.

It's looking like ORC metadata timestamp columns are being truncated to milliseconds in general.

This is with the Hive connector.

[code]

[2021-10-05 23:49] weiatwork commented on #9498
@martint Would you mind to shed some insights here?

[2021-10-06 08:45] kasiafi opened #9525 "ResolvedFunction -> toQualifiedName -> fromQualifiedName does not roundtrip"
It can be observed for the function
`array_distinct(array(double)):array(double)`

The corresponding ResolvedFunction has two `functionDependencies` collected in a Set:
- `$operator$IS_DISTINCT_FROM(double, double):boolean`
- `$operator$HASH_CODE(double):bigint`

One observable difference is that after the function is coded and decoded, the iteration order of `functionDependencies` changes.

Subse

[2021-10-06 11:06] aczajkowski commented on #9316
[code]
https://github.com/trinodb/trino/pull/9370

[2021-10-06 12:33] sopel39 commented on #9316
[code]
https://github.com/trinodb/trino/pull/9462

[2021-10-06 12:56] sopel39 commented on #9316
[code]
https://github.com/trinodb/trino/pull/9402

[2021-10-06 14:17] joramirezTAG opened #9528 "Query failure "ROW comparison not supported for fields with null elements" when query join involves a row field"
We are getting an exception after upgrading from version 345 to 360:

### TrinoException: ROW comparison not supported for fields with null elements

**Query to reproduce the issue**:

[code]

[2021-10-06 15:43] ddcprg opened #9531 "[Pinot connector] Add authentication"
At the moment Pinot supports Basic Authentication - see https://docs.pinot.apache.org/operators/tutorials/authentication-authorization-and-acls

Trying to access a secured Pinot cluster results in the following exception:

[code]

This ticket is to add configuration properties for username and password or basic token to support basic authentication

[2021-10-06 16:49] kekwan opened #9532 "ORC timestamp statistics columns truncated to milliseconds"
I noticed that timestamp metadata columns for ORC files are being truncated to milliseconds even though we can store up to nanoseconds for the data column itself.

I was looking at implementing https://github.com/trinodb/trino/issues/9254 but I think a potential pre-req to that is supporting up to micro/nanosecond precision in ORC timestamp statistics. Ideally, we would be able to support nanoseco

[2021-10-06 18:30] #9316 closed

[2021-10-06 18:33] martint opened #9534 "Release notes for 364"
## Ashhar Hasan
- [x] all checked
-  10-20 05:47:28    2948709c9b Fix flaky Docker image pulls in tests
-  10-22 04:54:49    29f808cf80 Move trino-testing.properties to trino-testing-services
-  10-22 04:54:49    5670d15097 Use consistent docker image version for accumulo
## Dain Sundstrom
- [x] all checked
-  10-07 23:39:00    bd5527627e Fix Hive target max file size for partitioned tables
-  10-

[2021-10-06 18:50] alexjo2144 commented on #9254
I noticed that when writing tests for split pruning as well: https://github.com/trinodb/trino/blob/master/plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergOrcConnectorTest.java#L29

Had to disable some types for ORC while they all work for Parquet

[2021-10-07 04:28] aakashnand commented on #8368
@rijojoseph07 If possible, Can you please share the steps to reproduce this?

[2021-10-07 06:01] SatishChilloji commented on #5686
In-memory temp tables are game-changers in query optimization, Is there any plan to implement this functionality?

[2021-10-07 10:14] GeksterOne opened #9545 "can't select or describe elasticsearch indices in Trino because of NullPointerException"
I am trying to use Trino (official docker version) with existing elasticsearch cluster. What I already achieved I can get list of indices using command "SHOW tables from elasticsearch.default;" But when I try to DESCRIBE OR SELECT one in indices I get internal error "Query 20211007_084419_00016_73piy failed: Internal error" in cli and in server I get this:

I checked the latest code from github an

[2021-10-07 13:50] kokosing opened #9546 "Introduce code style check to disallow default methods in Forwarding classes"
Consider:
[code]

When you call `fa1.d()`, it will call `d` on delegate and so delegate will call it's own `m()`. If `FA1` changes `d()` then that change won't be noticed as forwarding class uses composition not inheritance.

Consider `io.trino.plugin.jdbc.JdbcClient` and `io.trino.plugin.jdbc.ForwardingJdbcClient`.  It looks like `io.trino.plugin.jdbc.JdbcClient#schemaExists` might be buggy.

[2021-10-07 14:06] phd3 commented on #9545
After https://github.com/trinodb/trino/pull/9358, [this](https://github.com/trinodb/trino/blob/master/plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/ElasticsearchMetadata.java#L223) code invokes `getType` on `toTrino` output, which may be null.

However, the issue with null type handling is reproducible before this change too, as seen in the first stacktrace.

[2021-10-07 14:41] akashkatipally opened #9548 "Adding New Columns onto a OpenCSVSerde backed Table from Hive is unqueryable from Trino"
Hello Trino Team,

This is a reference to https://github.com/trinodb/trino/issues/1057.

When we make a table using OpenCSVSerde in Hive 2.3.6, it is queryable from Trino. After adding columns on to the table, the table is readable from Hive and not from Trino. If I make a new table with the columns added at the create table, it is queryable from Trino when I use the same underlying files.

The re

[2021-10-07 14:43] GeksterOne commented on #9545
@phd3 when I do select columns from table I get the same NullPointerException with the same StackTrace as in case 2.
I think this fix can help in this case (method  toTrino(String prefix, IndexMetadata.Field field) can return null on line 374 but there is no null check after):
Index: plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/ElasticsearchMetadata.java
IDEA additional i

[2021-10-07 20:14] alexjo2144 opened #9554 "Optimized Parquet writer is missing `EncodingStats`"
The writer does not yet write Parquet's `EncodingStats`, this limits the use of dictionaries in predicate pushdown. The stats are used as a filter to check if a page has a dictionary to use here: https://github.com/trinodb/trino/blob/2840b38fc579b99817a085274489e08e65f2648e/lib/trino-parquet/src/main/java/io/trino/parquet/predicate/PredicateUtils.java#L209

Parquet-mr does it in https://github.com

[2021-10-07 22:18] SamWheating commented on #9519
This seems like a reasonable solution which ensures there aren't any collisions.

Would it be alright if I try to make these changes? I think I will have some time next week.

Feel free to assign the issue to me 👍

[2021-10-08 06:18] #9545 closed

[2021-10-08 07:42] realknorke opened #9559 "hive.insert_existing_partitions_behavior=OVERWRITE not working in non-autocommit context"
`hive.insert_existing_partitions_behavior=OVERWRITE` should be forbidden in non-autocommit contexts, because:
[code]

[2021-10-08 09:13] asronihidayat commented on #3976
so, is this expected for not backward compatible with prestodb jdbc driver?
we use metabase, that only support for presto, any plan for building custom trino driver for metabase?
thanks!

[2021-10-08 11:18] ebyhr commented on #8691
https://github.com/trinodb/trino/runs/3835521895

[2021-10-08 11:23] findepi opened #9563 "Flaky trino-hive tests: java.lang.OutOfMemoryError: Java heap space"
https://github.com/trinodb/trino/runs/3836704455

[code]

[2021-10-08 11:23] findepi commented on #9563
cc @losipiuk @homar @alexjo2144

[2021-10-08 12:19] findepi commented on #9563
it is easy to do and It would be awesome to have it, unless it would inflate the CI logs too much.
i don't know how much is "too much" though.

cc @wendigo

[2021-10-09 09:35] lxd5866 opened #9572 "new trino operator for kubernetes"
Your comments are welcome for https://github.com/lxd5866/trino-operator

[2021-10-09 09:38] lxd5866 commented on #9572
#### version 0.1
- [X] Basis function
- [X] add a trino cluster in kubernetes
- [X] edit crds to change config, restart the necessary parts
- [X] add or delete worker when just change the num
- [X] watch deployment and pod, logs trino coordinator and worker status in **trinos** status items

#### In next  0.2 version
- [ ] change deploy to stateful and add more settings
- [ ] add metrics, use prom

[2021-10-09 19:03] jpohanka opened #9574 "[General] gRPC client interface"
**Issue type**: feature

**Trino version**: 363

**Description**:

Currently, Trino supports two client interfaces:
- JDBC driver
- REST API

It would be benefitial to support a **gRPC client interface** due to its speed advantage over REST API and its cross-platform advantage over JDBC.

[2021-10-10 14:18] reugn commented on #8364
@nineinchnick I feel like this should not be a way to handle this.
@hashhar did no one try to implement that for any other connector than Hive? It looks like a core issue.

[2021-10-11 10:27] findepi opened #9582 "Iceberg commit retries"

[2021-10-11 10:31] findepi opened #9583 "Data loss due to lack of commit orchestration in Iceberg"
in https://github.com/trinodb/trino/issues/1324 we have a TODO item "Use metastore locking around read-modify-write operations for transaction commit".

Sadly, we didn't inform the users about the limitation (at least i couldn't find it on https://trino.io/docs/current/connector/iceberg.html) , so from user perspective, it's a data loss bug.

[2021-10-11 11:44] wendigo commented on #8691
https://github.com/trinodb/trino/pull/9517/checks

[2021-10-11 12:27] findepi commented on #8691
seems it wasn't sufficient, per above

[2021-10-11 13:29] findepi commented on #9300
https://github.com/trinodb/trino/runs/3858480157

[2021-10-11 14:54] findepi opened #9589 "Enforce Constraint#predicateColumns is present whenever Constraint#predicate is present"
https://github.com/trinodb/trino/pull/7994#discussion_r725607435

cc @martint   @assaf2  @losipiuk

[2021-10-11 17:01] wendigo opened #9592 "java.lang.UnsupportedOperationException: io.trino.spi.block.LongArrayBlockBuilder on max_by call"
[code]

[code]

This could be a regression introduced by https://github.com/trinodb/trino/pull/6042

[2021-10-11 17:01] wendigo commented on #9592
cc @dain @findepi

[2021-10-11 17:24] matt12eagles commented on #8493
would love to set the .properties file to connection-user=PASSTHROUGH, connection-password=PASSTHROUGH.

And have the user's connecting to Trino use their credentials and have them pass through to the connection to fill in those PASSTHROUGH values

[2021-10-11 19:12] lukasz-stec opened #9594 "Support materilized view rename across schemas in iceberg connector"
Currently, the iceberg connector does not support renaming materialized view across schemas (`ALTER MATERIALIZED VIEW schema1.mv RENAME TO schema2.mv`) because the storage table is not moved/renamed with the MV and the connector expects the storage table to be in the same schema as the materialized view.

Here are some options to drop this limitation.
1. Move the storage table to the target schema

[2021-10-11 21:32] dain commented on #9592
I'm working on a fix

[2021-10-12 09:50] findepi commented on #8911
https://github.com/trinodb/trino/runs/3860624947 (https://github.com/trinodb/trino/pull/9590)

cc @wendigo @hashhar

[2021-10-12 10:19] findepi commented on #9089
Supposedly fixed by https://github.com/trinodb/trino/pull/9595. Please reopen this (or maybe https://github.com/trinodb/trino/issues/9472) if seen again.
cc @homar

[2021-10-12 10:20] #9472 closed

[2021-10-12 10:20] #9263 closed

[2021-10-12 10:20] #9089 closed, assigned to Praveen2112

[2021-10-12 10:21] findepi commented on #7535
Supposedly fixed by https://github.com/trinodb/trino/pull/9595. Please reopen this (or maybe https://github.com/trinodb/trino/issues
/9472) if seen again.
cc @homar

[2021-10-12 10:23] findepi commented on #9563
done in https://github.com/trinodb/trino/pull/9566

[2021-10-12 12:27] findepi commented on #9519
i agree with https://github.com/trinodb/trino/issues/9519#issuecomment-938191139.

cc @losipiuk @phd3

[2021-10-12 12:30] findepi opened #9607 "Reject Hive configuration properties that have no meaning for Iceberg"
for example `hive.s3select-pushdown.enabled` (https://github.com/trinodb/trino/issues/8831#issuecomment-938144533)
but i am sure there are many others.

we probably should decouple config classes

cc @losipiuk @alexjo2144 @phd3

[2021-10-12 17:54] #9592 closed, assigned to dain

[2021-10-13 00:47] ebyhr commented on #8691
https://github.com/trinodb/trino/runs/3876699524

[2021-10-13 08:07] Praveen2112 opened #9617 "Accumulo tests are failing"
From the recent, docker image update (https://github.com/trinodb/docker-images/pull/112) it looks like Accumulo doesn't work on Java 11.

[2021-10-13 08:28] #9617 closed, assigned to nobody

[2021-10-13 08:52] findepi opened #9620 "Flaky product test environment setup for multinode-kafka-ssl"
https://github.com/trinodb/trino/runs/3872438939

[code]

[2021-10-13 08:54] #9554 closed

[2021-10-13 08:56] findepi commented on #9534
[code]

https://github.com/trinodb/trino/pull/9569

[2021-10-14 07:47] lukasz-walkiewicz commented on #9444
hit: https://github.com/trinodb/trino/runs/3882745687

[2021-10-14 09:11] yunfeng79 opened #9637 "trino sql Slow query"
clickhouse sql :
 select name   from a where user_id = '1';
time:65ms

trino sql
 select name   from a where user_id = '1';
 dx_event_name
----------------
 device_init
 device_init
 login
 ta_app_install
 reg
(5 rows)

Query 20211014_090917_05877_4kn34, FINISHED, 1 node
Splits: 17 total, 17 done (100.00%)
4.59 [12.3M rows, 0B] [2.68M rows/s, 0B/s]

trino
1master 2:node
query.max-memory=30GB
query

[2021-10-14 11:47] yunfeng79 commented on #9637
@ebyhr Yes,CREATE TABLE statement int ClickHouse (not Trino) and row numbers 12320035 in the table  ,where user_id ='1' is row number five。catalog import clickhouse connector。

[2021-10-14 11:50] yunfeng79 commented on #9637
@ebyhr table
CREATE TABLE a
(

    `dx_event_name` String,

    `dx_user_id` String,

    `dx_account_id` String,

    `dx_distinct_id` String,

    `dx_event_time` UInt64,

    `dx_part_date` String,

    `dx_send_time` UInt64,

    `dx_receive_time` UInt64,

    `dx_update_time` UInt64,

    `dx_ip` String,

    `dx_country` String,

    `dx_province` String,

    `dx_city` String,

    `dx_carr

[2021-10-14 11:51] ebyhr commented on #9637
The table doesn't have `user_id ` column. What's the column type?

[2021-10-14 12:05] yunfeng79 commented on #9637
@ebyhr Thank you!

[2021-10-15 07:52] #9546 closed

[2021-10-15 17:52] findepi opened #9658 "Flaky test TestMemoryConnectorTest.testJoinLargeBuildSideDynamicFiltering"
https://github.com/trinodb/trino/runs/3907796195 `test-other-modules`

[code]

[2021-10-15 19:42] findepi commented on #9534
[code]

#9644

[2021-10-15 19:42] #9583 closed

[2021-10-15 19:43] findepi commented on #9534
[code]

#9583 #9584

[2021-10-16 05:19] kadekbyan commented on #6666
@rubenssoto & @wccropper does this problem could be solved temporarily with downgrade the trino version to 350 ? before prestosql change into trino. Because it is start to use trino-jdbc and also for the metabase version, it cannot be upgraded to metabase 0.41 because metabase 0.41 also apply presto-jdbc within the connection.

[2021-10-17 08:07] GeksterOne opened #9666 "Elasticsearch connector can't select array of primitives"
There is an index in our elasticsearch database (6.8) where one of the fields is an array of longs described in template as:

Data itself looks like:

According to elasticsearch documentation ([](https://www.elastic.co/guide/en/elasticsearch/reference/current/array.html), `https://stackoverflow.com/questions/62344880/elasticsearch-object-mapping-for-tried-to-parse-field-null-as-object-but-foun`)th

[2021-10-17 19:17] mainstreet439 opened #9669 "JDBC driver should not expect a user name when a JWT is passed via accessToken name-value pair"
Per Slack https://trinodb.slack.com/archives/CFLB9AMBN/p1634479886472600

Attempting to connect to Trino via Trino JDBC 362 or 363
Application has authenticated with an IDP, and in turn obtained an access token (JWT), which it is passing to the driver
URL: jdbc:trino://xxyyzz....com:8443?SSL=true
Properties: accessToken=eyJraWQiOiIyTG1zTl........
Driver is returning error "Connection property 'use

[2021-10-18 06:34] oneonestar opened #9672 "Min/Max/Sum statistics are missing for TINYINT when writing ORC file"
Inside [ColumnWriters](https://github.com/trinodb/trino/blob/4826d05103762b8c2c964774d022d986a451b769/lib/trino-orc/src/main/java/io/trino/orc/writer/ColumnWriters.java#L72), `ByteColumnWriter` is being used to write TINYINT data.
Inside [ByteColumnWriter](https://github.com/trinodb/trino/blob/ede9164795707bda9bf461efa2501f7c3c779da5/lib/trino-orc/src/main/java/io/trino/orc/writer/ByteColumnWriter

[2021-10-18 07:14] losipiuk commented on #9559
Well - technically this is the same information. Just channel used to expose that is different.
I agree that it is less probable that someone will notice that when exposed via Session, and draw wrong conclusions out of that. But it should be fixable just by proper documentation to `beginTransaction` method (which you mention actually - just noticed :) ).

[2021-10-18 11:25] sopel39 opened #9676 "Do not serialize RowBlock field if all values are null"
When row block field doesn't have non-null values, we can skip serialization of such block in RowBlockEncoding

[2021-10-18 12:18] wix-ilyaf opened #9677 "Using cross join with unnest on JSON element the cross join drops records"
when doing cross join with record that contains JSON column that we try to unnest the cross join drops records that has empty element in the JSON path, the workaround is to use left join with condition on true

example:
[code]

[2021-10-18 22:28] mkjones opened #9683 "Nonspecific "Compiler Failed" exception when using map_concat and multimap_agg"
Map_concat requires 2 or more arguments, and issuing queries with too few arguments typically results in an error message to that effect.  For example, this query
### Query 1
[code]
results in the following error: `io.trino.spi.TrinoException: There must be two or more concatenation arguments to map_concat`.

However, when the input to map_concat is constructed from an aggregation, e.g. with multi

[2021-10-19 05:43] hashhar commented on #9291
cc: @trinodb/maintainers

See also https://github.com/trinodb/trino-python-client/pull/115.

[2021-10-19 06:07] ankuragarawal commented on #18
Hi Maintainers,
I was looking into the PushAggregationIntoTableScan class and it requires the source to be a TABLE_SCAN and so aggregations are never pushed down to the connector if filters exist.  I can see that with a different syntax (by adding FILTER) in the select clause we can push down the aggregations along with filters but  we are using Trino as a datasource in a few BI Tools (i.e. Tablea

[2021-10-19 07:48] ImTangYun opened #9686 "Use idea to debug code encouter error of io.trino.server.Server Bad artifact coordinates ../../plugin/trino-resource-group-managers/pom.xml, expected format is <groupId>:<artifactId>[:<extension>[:<classifier>]]:<version>"
2021-10-19T15:46:54.735+0800	INFO	main	io.trino.server.PluginManager	-- Loading plugin ../../plugin/trino-resource-group-managers/pom.xml --
2021-10-19T15:46:54.736+0800	ERROR	main	io.trino.server.Server	Bad artifact coordinates ../../plugin/trino-resource-group-managers/pom.xml, expected format is <groupId>:<artifactId>[:<extension>[:<classifier>]]:<version>
java.lang.IllegalArgumentException: Ba

[2021-10-19 11:54] #9677 closed, assigned to nobody

[2021-10-19 12:21] nineinchnick opened #9690 "system.metadata.catalogs should include connector_name"
Catalogs can have custom names, but currently, there's no way to figure out what's the connector name for a catalog. For example, I can have two catalogs using the PostgreSQL connector, both with different names, but they'll be reported in the `system.metadata.catalogs` table as:
[code]

As suggested in #8150, there should be another column called `connector_name`, reporting `postgresql` in this c

[2021-10-19 14:39] aczajkowski commented on #9559
Closed PR: https://github.com/trinodb/trino/pull/9642 as from discussion we are more towards https://github.com/trinodb/trino/pull/9675 solution

[2021-10-19 16:23] lukasz-stec opened #9697 "UnscaledDecimal128Arithmetic#divideRoundUp incorrect result for exact results between -0.5 to -1"
Decimal division in `io.trino.spi.type.UnscaledDecimal128Arithmetic#divideRoundUp(long, long, int, long, long)` gives incorrect results if the expected not rounded result is between -0.5 and -1.
The actual (rounded) result is 1 instead of -1.

Test case here https://github.com/trinodb/trino/pull/9696

[2021-10-19 18:07] martint commented on #9677
The way to think about this is as UNNEST just being a table-producing-function. For example, in:

[code]

the function converts the provided array into a table. Then, the table is used in a context where any table could be referenced.

A query involving JOIN is no different. The result of UNNEST (a table) is used in the JOIN in the same way any other table would be used, taking into account the se

[2021-10-20 07:11] #9690 closed, assigned to nobody

[2021-10-20 09:40] findepi opened #9703 "Query failure when reading from `$partitions` when Iceberg table partitioned on timestamp with time zone"
Surely, this is far from common use-case, but still...

[code]

[code]

[2021-10-20 09:46] findepi opened #9704 "Incorrect values returned when Iceberg table partitioned by timestamp with time zone"
[code]

unpartitioned, correct:
[code]

partitioned -- values are returned with different zone (for no particular reason)
and therefore first and second data row are indistinguishable to the user:
[code]

See also https://github.com/trinodb/trino/issues/5781

[2021-10-20 11:46] findepi opened #9707 "SHOW STATS fails if Iceberg metadata has no statistics for a file"
[code]

[2021-10-20 11:47] findepi commented on #9707
cc @losipiuk @alexjo2144

[2021-10-20 11:47] findepi commented on #9703
cc @losipiuk @alexjo2144

[2021-10-20 13:44] findepi opened #9709 "SHOW STATS for Iceberg Parquet data with timestamp with time zone column"
[code]

[2021-10-20 14:29] findepi opened #9710 "SHOW STATS fails for query returning boolean"
[code]

[2021-10-20 14:51] #9697 closed, assigned to nobody

[2021-10-20 14:54] sopel39 commented on #9534
[code]
https://github.com/trinodb/trino/pull/9696

[2021-10-20 14:56] findepi commented on #9709
cc @losipiuk @alexjo2144

[2021-10-20 15:11] z-arosio opened #9713 "Scan of Hive partitions"
I've a Hive catalog connected with S3, and an external table referring to parquet files in a S3 folder.
The Hive table is partitioned, accorting with the S3 subfolder structure.

If I run the following query:
[code]
Trino scans only the data in the `partition_value` subfolder.

While, if I run the following query:
[code]
to have data only from the last partition, Trino scans all the partitions.

W

[2021-10-20 15:33] findepi opened #9714 "SHOW STATS fails with NPE when Iceberg file has no columns with stats"
[code]

[2021-10-20 18:02] findepi opened #9716 "Iceberg table statistics are non-deterministic"
Currently the results seem to be dependent on the ordering of files.
Also, missing information is not properly handled.

- see TODOs in the code (e.g. being added in https://github.com/trinodb/trino/pull/9719)
- add explicit tests for metadata with missing file stats (currently this depends on the writer, and Trino writer changes)

[2021-10-21 00:34] ebyhr commented on #5816
@Riddle4045 Could you try `-am` option?
[code]

[2021-10-21 04:14] ashoksri0 opened #9724 "Trino client REST API QueryResults pagination"
I'm using TRINO rest client to get results as  JSON documents  TRINO giving me with batch results with nextUri, how I will control the result size in a batch like pagination

[2021-10-21 04:52] elonazoulay commented on #9137
@jpohanka - you can use `upper(constant)` in the passthrough query for the first one:
[code]

[2021-10-21 07:13] wix-ilyaf commented on #9677
Thanks for the explanation!

[2021-10-21 12:42] ppalucha opened #9728 "ArrayIndexOutOfBoundsException when writing partitioned table to hive"
I'm running a following CTAS query:
[code]

It fails repeatedly after few minutes with stack trace:
[code]

Version 363.
Hive catalog properties:
[code]

In config.properties I'm using:
[code]

Explain for the query is:
[code]

[2021-10-21 13:01] reugn opened #9729 "Make `ConnectorSession` available from the `EventListener` methods"
I need to log some session-based data on an event in a custom connector. Will it be possible to have the following signature for `EventListener`?

[code]

Or maybe to have a `io.trino.FullConnectorSession` in `io.trino.spi.eventlistener.QueryContext`?

[2021-10-21 14:52] reugn commented on #9729
Thanks @Praveen2112! Missed that out.

[2021-10-21 19:57] Riddle4045 commented on #5816
@ebyhr  thanks that works, I am new to maven, wondering what was the cause here, I believe maven generates the dependency graph to prevent this right?
Is this the problem?
`[WARNING] The POM for io.trino:trino-thrift-api:jar:364-SNAPSHOT is missing, no dependency information available`

[2021-10-21 20:56] SamWheating opened #9732 "Location field not acknowledged when creating iceberg tables"
I've just deployed a test cluster Trino 363 and I'm seeing some changes in behaviour from Trino 358.

I created an iceberg table like so:

[code]

And got this error:
[code]

The default location doesn't exist as we only use external tables, but I don't think it should've been checked anyways.

Based on the findings from https://github.com/trinodb/trino/issues/4069, I created a new schema with a v

[2021-10-22 02:41] sontt710 commented on #7363
Hello,

I having the same issue, Anyone have solution for this?

Thanks!

[2021-10-22 06:18] Narcasserun opened #9736 "Cannot resolve method 'getPlatformClassLoader' in 'PluginClassLoader'"
In the latest master branch, the PluginClassloader class prompts, cannot resolve method 'getplatformclassloader' in 'pluginclassloader'

![image](https://user-images.githubusercontent.com/39329477/138402875-cee494a5-1a51-473a-9e6d-52a642d81fde.png)

[2021-10-22 08:41] #9728 closed, assigned to nobody

[2021-10-22 10:07] hanson2021 opened #9737 "Cannot truncate non-space characters when casting from varchar to varchar(20480) on INSERT"
Trino version: 358
SQL:
[code]
the `query`  field is defined varchar(20480) in mysql,when run insert occured  error info as following :
[code]

[2021-10-22 13:44] ebyhr opened #9741 "TestSqlServerConnectorTest.testSelectInformationSchemaColumns fail in 2019-CU13-ubuntu-20.04"
The test succeeds in 2017 image, but it fails in 2019 image. We need to find the cause of deadlock.

[code]

[2021-10-22 16:33] alexjo2144 opened #9743 "IcebergSplitSource: Support large `IN` predicates"
TODO from the code:

Remove TupleDomain#simplify once Iceberg supports IN expression. Currently this is required for IN predicates on non-partition columns with large value list. Such predicates on partition columns are not supported. (See AbstractTestIcebergSmoke#testLargeInFailureOnPartitionedColumns)

@findepi : I think the TODO wording is overly optimistic, especially in context of DF, which c

[2021-10-23 06:48] #9709 closed, assigned to findepi

[2021-10-23 10:12] mdesmet opened #9749 "Iceberg failure when reading Parquet file written by Iceberg connector: Dictionary is missing for Page"
Doing a CTAS query on Trino v363 from iceberg parquet to iceberg orc and getting this error. Selecting from the iceberg parquet table works fine.

It seems in the codepath there is no dictionary created for a V2Page

https://github.com/trinodb/trino/blob/ffc34cbdfb4d8efb3afb2240176b8bf1aeeacf9d/lib/trino-parquet/src/main/java/io/trino/parquet/reader/ParquetColumnChunk.java#L107-L111

Compared to