[2019-12-03 11:02] findepi opened #2182 "Use dockerized Cassandra in tests"
Replace `EmbeddedCassandra` with a docker container.

[2019-12-03 11:05] findepi opened #2183 "Add tests for Cassandra protocol version auto-discovery"
Add tests for https://github.com/prestosql/presto/pull/596
Requires https://github.com/prestosql/presto/issues/2182

[2019-12-03 13:37] #2161 closed

[2019-12-03 13:49] findepi commented on #2173
@shrijeet i guess you already consider software RAID.
Can you share your experience and reasoning why solving this on Presto level seems better to you?

[2019-12-03 13:56] findepi commented on #2148
(continued on slack @ https://prestosql.slack.com/archives/CFLB9AMBN/p1575343012109600)

[2019-12-03 18:33] shrijeet commented on #2173
@findepi Our presto deployment is colocated with Hadoop worker nodes which have JBOD disks for obvious reasons.

My approach is inspired from the experience we have running other stateful services (nodemanager, datanode, kafka-broker) which have similar handling in place for disk failures & from ops angle, this approach yields a consistent set of operating principles. A concrete ops use-case is pl

[2019-12-03 19:13] AntoniosHadji opened #2187 "Terminal Colors for CLI"
On cli version 325, the prompt color conflicts with the solarized dark color scheme.  This results in an invisible prompt.

This does not happen with latest version from prestodb 0.229.

It would be nice to have the colors configurable versus having to change the terminal color.

[2019-12-04 09:34] sopel39 commented on #2124
[code]
https://github.com/prestosql/presto/pull/2144

[2019-12-04 10:41] wyukawa opened #2196 "HadoopIllegalArgumentException occurred in the table with HDFS erasure coding"
Hi,
We use prestosql 324 but ```HadoopIllegalArgumentException``` occurred in the table with HDFS erasure coding.

Any suggestion?

DDL
[code]

query
[code]

stacktrace
[code]

[2019-12-04 10:57] wyukawa commented on #2196
Sorry, I can access now

[2019-12-04 11:08] groobyming opened #2197 "Why outer join not working as expected"
Presto version : 308
When I perform an outer join, the results are not as expected, here is my SQL and LIVE PLAN

SQL：
SELECT *
FROM tableA a
	FULL JOIN TableB b ON a.id = b.id
WHERE a.thedate = '20191201'
	AND b.thedate = '20191201'
LIMIT 1000

Stage：
![image](https://user-images.githubusercontent.com/34335395/70137497-ffda7a80-16c8-11ea-9daf-0a8c81f3ed18.png)

[2019-12-04 11:13] Praveen2112 commented on #2197
Hi, Can you share the details about connector you are using and entire live plan or explain query ?

Please join the #troubleshooting channel on our slack https://prestosql.io/slack.html.
See you there!!!

[2019-12-04 11:51] Praveen2112 commented on #2197
But I think this is an expected plan structure we get when we apply a filter condition which is involved on the columns which are not a part of Join criteria but if they are involving columns from both the left and right tables.

When we apply this filter `a.thedate = '20191201' AND b.thedate = '20191201'` on top of a full join we would remove the null rows which gets added if a corresponding matc

[2019-12-04 12:17] findepi commented on #2187
I think we should start with an option to disable highlighting as an escape valve.

[2019-12-04 12:38] #2137 closed

[2019-12-04 12:39] ebyhr commented on #2124
[code]

https://github.com/prestosql/presto/pull/2156

[2019-12-05 02:24] groobyming commented on #2197
Thanks, I will share this question on Slack https://prestosql.io/slack.html

[2019-12-05 03:10] groobyming commented on #2197
And here is the connector and detail LIVE PLAN
connector：HIVE
explain：
"- Output[thedate, dteventtime, dteventtimestamp, localtime, displayname, accessdatabusiness, bk_biz_id, dt_par_unit, thedate, dteventtime, dteventtimestamp, localtime, displayname, bk_biz_id, query_num, dt_par_unit] => [thedate:integer, dteventtime:varchar, dteventtimestamp:bigint, localtime:varchar, displayname:varchar, acces

[2019-12-05 06:20] dain commented on #2124
[code]
#2189

[2019-12-05 06:59] Praveen2112 commented on #2197
Hi, I guess the generated plan is a proper one. When a filter is being applied on top of a Full join and if it the columns in that filter are from both the tables and are not a part of Join columns then it will translated to `INNER JOIN`

Is this wrt to Hive or ?

[2019-12-05 10:59] sopel39 commented on #2197
@groobyming Presto can normalize outer join to inner join in some cases (see `io.prestosql.sql.planner.optimizations.PredicatePushDown.Rewriter#tryNormalizeToOuterToInnerJoin`).
Particularly comment:
[code]

[2019-12-05 19:50] tooptoop4 opened #2210 "Make default target result size configurable in ExecutingStatementResource"
https://github.com/prestodb/presto/issues/11908 mentions targetresultsize, is anyone open to a pr to make it configurable in server side properties? ie so folks can try 4mb instead of 1mb. returning 1gb data into reporting tool with odbc/jdbc is really slow. dumping to file on presto server is fast but not an option because the reporting tool cant access files on presto server

[2019-12-05 22:42] electrum commented on #2210
Let's add a `query.target-result-size.default` config option

[2019-12-05 23:14] electrum opened #2212 "Consolidate tests for FileBasedSystemAccessControl"
There are two `TestFileBasedSystemAccessControl` classes, one in `presto-main` and another in `presto-base-jdbc`. We should move all of the tests from the former to the latter, removing any redundant tests.

[2019-12-06 08:09] kokosing commented on #2212
I have made it in purpose. They are testing on two levels with `AccessControl` and directly. There is a contract between `AccessControl` and `SystemAccessControl` that SAC methods won't be called for objects that belongs to catalog that user does not have an access to. Tests with `AccessControl` test that.

The other test is more like a unit and test FBSAC directly. That test possibly does not muc

[2019-12-06 08:15] dain commented on #2124
[code]
#2178

[2019-12-06 08:18] kokosing opened #2214 "Query fails with no available workers error just after the server is started and one worker is registered"
When server is just started and one worker is registered query could still fail with `No worker nodes available`.

There's definitely a bug somewhere, because
 - the query started running, which means we passed the `query-manager.required-workers `check (default is 1)
 - the JMX connector produced a split for the coordinator, which means NodeManager returned a worker (it produces a split for each

[2019-12-06 08:34] findepi commented on #2124
[code]

https://github.com/prestosql/presto/pull/2099

[2019-12-06 08:36] kokosing commented on #2214
This is related to https://github.com/prestosql/presto/pull/2198

[2019-12-06 08:39] findepi opened #2216 "Allow configuring target result size in JDBC"
https://github.com/prestosql/presto/issues/2210 adds configuration toggle on the server.

Additionally, we should allow settings this in JDBC via JDBC URI parameters.

[2019-12-06 11:30] tooptoop4 commented on #1173
https://github.com/prestodb/presto/issues/13122

[2019-12-06 13:12] prakharjain-vogo opened #2220 "Reading timestamp with type INT64 in parquet file"
I am using AWS EMR 5.28.0 which has Presto 0.227 (Somehow, it works in AWS Athena.)
I have an AWS DMS job that migrates the AWS RDS data to S3. While migrating it also converts to Parquet. When setting target endpoint in S3, I have tried all combinations of parameters
`parquetTimestampInMillisecond` and `parquetVersion`, but none works.

Ideally, when I set AWS `parquetTimestampInMillisecond` to t

[2019-12-08 02:21] Lewuathe commented on #1169
The issue in OkHttp seems to be fixed in 4.3. I'll try to use the latest version in Presto client.
https://github.com/square/okhttp/issues/4029#issuecomment-562874876

[2019-12-09 07:47] prakharjain-vogo opened #2230 "Access Denied of View even when allowed in file access-control"
I am using AWS EMR 5.28.0 which has Presto 0.227
I have access-control.properties file:
`access-control.name=file
security.config-file=etc/rules.json`

And rules.json file:
`{
  "catalogs": [
    {
      "user": "redash",
      "catalog": "hive",
      "allow": true
    }
  ]
}`

And I have created a Table like this:
`CREATE TABLE hive.bigdata.iot_data_nov_raw_bigint (
    op varchar,
    ts bigin

[2019-12-09 08:31] #2230 closed

[2019-12-09 14:23] sopel39 opened #2232 "Display Physical Input Read Rate in UI"
We already capture `physicalInputReadTime` at driver level. We can propagate these stats to query level and display generalized Physical Input Read Rate in UI.

[2019-12-09 15:19] shekarrreddy568 commented on #1076
Hey, We are also facing the same issue, Anyone solved it??

[2019-12-09 15:23] shekarrreddy568 commented on #1076
Hey, We are also facing the same issue, Anyone solved it??

[2019-12-10 00:04] #2113 closed

[2019-12-10 10:07] prakharjain-vogo commented on #2220
anyone know why it is working in Athena?
In Athena If I declare table as `CREATE EXTERNAL TABLE tableName3 (
columnName timestamp
)ROW FORMAT SERDE
  'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT
  'org.apache.hadoop.mapred.TextInputFormat'
OUTPUTFORMAT
  'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION
  's3://location'
TBLPROPERTIES (

[2019-12-10 12:11] Praveen2112 commented on #2197
I'll close this issue. As it is the expected behavior on transforming `OUTER JOIN` to a `INNER JOIN`. Please feel free to re-open this issue once again if you see any discrepancy in the results.

[2019-12-10 12:11] #2197 closed

[2019-12-10 12:32] kokosing commented on #2124
[code]
#1182

[2019-12-10 12:37] kokosing opened #2240 "Expose alluxio file system stats via JMX"
We should expose metrics of the communication between Presto and Alluxio too. When there is a failure unexpected long latency at Alluxio layer for whatever reason, Presto has no visibility of that.

FYI @apc999

[2019-12-10 12:39] prakharjain-vogo commented on #2220
Does hive implements read from INT64 Parquet timestamp files?
I found this issue, but no solution yet.
https://issues.apache.org/jira/browse/HIVE-13435

[2019-12-10 12:46] prakharjain-vogo commented on #2220
There are two ways of converting bigint to timestamp as I did in view:

1. `cast(date_format(from_unixtime(columnName/1000), '%Y-%m-%d %h:%i:%s') as timestamp)`
2. `from_unixtime(cast(substr(cast(columnName as varchar),1,10) as int))`

[2019-12-10 14:37] findepi commented on #2220
@prakharjain-vogo can you create an example file exposing the problem (with no confidential data) and attach it here?
(you may need to create .zip for github)

[2019-12-10 14:59] findepi commented on #2180
@ankitdixit would you be willing to fix this?

cc @guyco33

[2019-12-10 15:01] OmerJog opened #2241 "Add support for comment on view"
Many DBs support:
`comment on view some_view is 'Some View';
`
Example:
https://stackoverflow.com/questions/4457656/create-view-in-postgres-sql-with-comments

can we have such support on presto?

[2019-12-10 15:10] ebyhr commented on #2241
Yes, I created the prototype before. Let me submit the PR.

[2019-12-10 15:12] ebyhr opened #2242 "Add support for comment on column"

[2019-12-10 15:28] prakharjain-vogo commented on #2220
I can give you the values of this bigint field, e.g. `1572184891087`, `1572184795148`, `1572186288573` which corresponds to time. You can then convert them to standard time by any online website such as https://www.unixtimestamp.com/index.php REMEMBER, you have to take the first 10 digits, and last 3 digits are decimal points millis. So for e.g. `1572184891087` -> `2019-10-27T14:01:31.087`

[2019-12-10 16:27] ryanrupp commented on #2220
This is from a schema validation change that only exists in PrestoDB for Parquet, see this line here - https://github.com/prestodb/presto/commit/5d18a1c01d048bec435e587887bf20ffbe9794f8#diff-fba2eb40e1dce377dfe805d8d45f4af0R373

Suggest logging this case in the PrestoDB repo

[2019-12-10 16:56] findepi commented on #2220
@ryanrupp I believe the issue is about compatibility between Presto and AWS DMS in general.
It's not limited to Facebook Presto, so it's good that @prakharjain-vogo reported this to us.

@prakharjain-vogo would you be able to attach a sample file? It could help fix the issue when someone picks this up.

[2019-12-10 17:07] ryanrupp commented on #2220
@findepi there may be something more going on here but the error message mentioned is from a Facebook Presto specific check (linked above) that is relatively new so doesn't exist in PrestoSQL. There are some other pending pull requests like allowing statistics pruning for timestamps that are int64 so I guess I'd be surprised if it's broken. It is possible it's something like AWS DMS creates the ty

[2019-12-10 19:08] findepi commented on #2220
@ryanrupp i understand what you're saying now.

@ryanrupp very good idea!

@prakharjain-vogo
you can run 1-node PrestoSQL on AWS very easily using `prestosql/presto` docker image.
alternatively, you can use Starburst Presto for AWS "one-click" installation (https://aws.amazon.com/marketplace/pp/B07DKV5659).
This isn't updated yet to the latest Presto SQL, but if the code Parquet works OK with late

[2019-12-10 21:33] tooptoop4 commented on #1103
u there @prabakarankrishnan

[2019-12-10 21:34] tooptoop4 commented on #1357
gentle ping

[2019-12-10 21:38] tooptoop4 commented on #403
1.11 is released

[2019-12-10 21:52] tooptoop4 commented on #775
u there @SinghAsDev ?

[2019-12-10 21:56] tooptoop4 commented on #611
gentle ping

[2019-12-10 22:16] tooptoop4 commented on #1478
https://github.com/prestosql/presto/pull/1282

[2019-12-11 00:30] ryanrupp commented on #2166
This looks to be indirectly fixed by the change here - https://github.com/prestosql/presto/commit/9492f60bd1ac7e69e5836779ecaac750095db5ee#diff-d291244bef4e95142198b095d80bde5aR211 - going through `ParquetMetadataConverter` it handles v2 min/max stats correctly. Before this change, what was happening was handling the min/max stats got in a bad state where it thought the stats were set but internal

[2019-12-11 09:23] OmerJog commented on #1122
I'm not really sure why presto doesn't support it.
mentioned here:
https://stackoverflow.com/questions/55428322/do-presto-sql-support-recursive-query-using-cte-just-like-sql-server-e-g-emplo

According to :
https://stackoverflow.com/questions/32037048/sql-tree-structure
It's part of standard SQL and supported by all modern DBMS

**Isn't presto must support SQL standard?**

[2019-12-11 09:23] OmerJog commented on #2241
thx. looking forward to it.
Will it be in the next release?

[2019-12-11 10:07] ebyhr commented on #2241
Hmm, I think we can't merge it in the next version. Please wait for a while.

[2019-12-11 12:11] getGitxxx opened #2251 "Execute SQL:create table as select . Error:'Statement violates GTID consistency: CREATE TABLE ... SELECT. '"
I've upgraded the presto version to 0.325 recently.
When I use MySQL connector execute SQL likes "create table new_table as select col1 from old_table" I  got  Error:'Statement violates GTID consistency: CREATE TABLE ... SELECT. '
But in old version 0.192, The SQL works fine. So, any changes in the new version that the type of SQL
 Is it blocked for some reason? and How to fix it in version 0.325

[2019-12-11 12:58] findepi commented on #2251
@getGitxxx thanks for reporting this. Can you provide exact MySQL server version and any non-default configuration you're using?

[2019-12-12 02:20] getGitxxx commented on #2251
@findepi MySQL server version is 5.7.20.  MySQL server is master-slave topology, and GTID mode is on, but when I use the lower presto version , it just works fine.
I have to use GTID to sync data between the master node to the slave node , feel a little confused about this. Any suggestion to fix it？

[2019-12-12 02:26] owen-hh opened #2252 "Kudu Connector delete rows that does not meet the conditions"
Hello. i'm presto newbie
i found Presto delete data that does not meet the conditions.

Environment
- PrestoSQL Version 326
- Kudu 1.6 ( CDH 5.14.2 )

**How to reproduce**

**Step 1 - Create Table**
[code]

**Step 2 - Insert Data**
[code]

After Insert
![image](https://user-images.githubusercontent.com/58797227/70676941-14260500-1cd1-11ea-97d7-a96a0df19956.png)

**Step 3 - Delete Data **

[code]

[2019-12-12 03:31] lxynov commented on #2252
It looks like the logic here is breaking this test case: https://github.com/prestosql/presto/blob/c74b775e103a7a239aafef1b7ca15fe6370495fe/presto-kudu/src/main/java/io/prestosql/plugin/kudu/KuduRecordSet.java#L68-L74

Could you explain a little bit about the logic here? @MartinWeindel

[2019-12-12 08:46] kokosing commented on #2251
Do you SELECT and CREATE table in MySql? Can you please share the entire error stack trace?

[2019-12-12 08:52] getGitxxx commented on #2251
@kokosing Yes, it is.
error stack log goes here:
[code]

[2019-12-12 10:07] kokosing commented on #2124
[code]
#2248

[2019-12-12 12:23] sopel39 commented on #2124
[code]
https://github.com/prestosql/presto/pull/2247

[2019-12-12 16:02] sib19 opened #2256 "Required field 'uncompressed_page_size' was not found in serialized data! Struct:"
Hi please refer below error when accessing parquet kindly help . Sample file i have enclosed from haggle download and tested same below error is appearing in presto cli.

I am using 326 version ...

[code]

[2019-12-12 16:05] sib19 commented on #2256
[part-00006-6d949390-48b0-4104-a477-39e306b726c5-c000.gz.parquet.zip](https://github.com/prestosql/presto/files/3956709/part-00006-6d949390-48b0-4104-a477-39e306b726c5-c000.gz.parquet.zip)

[2019-12-12 17:51] kokosing commented on #2124
[code]
#2249

[2019-12-12 20:24] lxynov opened #2257 "Proposal: create a function/operator reference page in prestosql.io"
Now we have categorized documentations for functions and operators. They are comprehensive and well-organized but not good for quick reference. I think we can create a one-page reference for functions and operators. With that one can quickly search the description of a specific function by its name.

[2019-12-12 20:26] martint commented on #2257
cc @mosabua

[2019-12-12 21:25] mosabua commented on #2257
That sounds reasonable ... just an A-Z list with function/operator name and a link to the documentation?
 We would have to figure out where to put that page and how to link to it from the navigation.

[2019-12-12 21:48] lxynov commented on #2257
I think either this or organizing them by categories is fine. Users can search by names using `ctrl+f`.

Do you think it's fine to just make it `7.1`?

[2019-12-12 21:53] mosabua commented on #2257
Maybe we should add a introduction to the chapter as a first section (or in the ToC page) and then the existing chapter but also link to the long list .. and have it as the last chapter in that section

[2019-12-13 00:18] mosabua commented on #2257
fyi @electrum

[2019-12-13 03:54] electrum commented on #2257
Sphinx can produce an index. If that’s too large, maybe we can write an extension to pull out just the functions and produce a function list.

[2019-12-13 08:52] kokosing opened #2260 "Support ALTER TABLE with [IF EXISTS]"
Having `[IF EXISTS]` for `ALTER` statement makes it very convenient for ETL scripts.

See how it is implemented in postgres: https://www.postgresql.org/docs/current/sql-altertable.html

Additionally Postgres defines:
[code]

This issue was mentioned here: https://stackoverflow.com/q/59266938/217852

[2019-12-13 12:13] MartinWeindel commented on #2252
Sorry, I can't remember the exact reason, why this special handling was introduced. Maybe it is not relevant anymore. If you think it is non-sense, I suggest to remove it and run the tests to see if anythings breaks. As I'm not working with Presto and Kudu in my current job, I have no time to investigate it in detail.

[2019-12-13 12:39] findepi commented on #2251
@getGitxxx  is there a way to detect GTID mode using mysql JDBC driver?

[2019-12-13 13:18] electrum commented on #2251
Do we know what changed in the SQL produced by the connector?

[2019-12-13 13:25] Lewuathe opened #2262 "Support aarch64 architecture"
Presto currently requires amd64 or ppc64le on Linux and explicitly has the limitation about this requirement in [PrestoSystemRequirements](https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/server/PrestoSystemRequirements.java#L74).

[code]

The error is thrown when I tried to use the A1 instance of AWS.

- Version: Presto 326
- Machine: A1 instance with G

[2019-12-13 14:01] getGitxxx commented on #2251
I've no idea how to detect that.
I've tried using lower mysql-jdbc version, but still failed.
More detail about SQL like this :

insert into tab_1(col_1）
select col_1 from tab_2

create table tab_1(
id int auto increment not null,
col_1 varchar(255)
)

[2019-12-13 14:43] ebyhr commented on #2252
I confirmed the following code passed all existing tests and an additional case for this issue.
[code]

[2019-12-13 15:47] ebyhr commented on #2251
JFYI: I could reproduce it using this docker image [mysql-master-slave-replication-sample](https://github.com/purple-jwl/mysql-master-slave-replication-sample). We need to enable [master/my.cnf#L11-L12](https://github.com/purple-jwl/mysql-master-slave-replication-sample/blob/master/master/my.cnf#L11-L12) to use gtid and expose port 3306.

[2019-12-13 17:46] mosabua commented on #2257
I am not sure if the functions and operators are already clearly defined so an index could be produced. I can take a look.

[2019-12-13 21:45] findepi opened #2269 "Map Cassandra TIMESTAMP to Presto TIMESTAMP_WITH_TIME_ZONE in new timestamp semantics"
Cassandra `TIMESTAMP` is a point in time, so in new (non-legacy) timestamp
semantics mode it should be mapped to `TIMESTAMP_WITH_TIME_ZONE`
Presto.

cc @ebyhr

[2019-12-13 22:31] findepi commented on #2257
@mosabua obviously some percentage of functions isn't documented at all.
We should _test_ that index produced by Sphinx contains all the functions returned from `SHOW FUNCTIONS` (or actually `system....functions`).
For starters, we can just ignore overloads.

[2019-12-13 22:55] findepi opened #2271 "Allow running "hive tests" locally"
"hive tests" (`TestHive`) are run by CI, but still usually pose a challenge for anyone wanting to run them locally.

Unless we convert them to regular product tests, we need some clear and reproducible instructions how to run them locally.

[2019-12-13 22:56] findepi commented on #2271
@sopel39 is it something you would be interested in doing?

[2019-12-14 01:45] electrum commented on #2271
It might be worthwhile to see how many of these are redundant with the existing product tests.

[2019-12-14 08:43] ssquan opened #2272 "Keep LF endings when checkout on windows"
I checkout source code from Github on Windows than compile it in Gitbash.  Error message:
[code]

Git may convert LF to CRLF when checkout on windows. Some description from GitHub:[git-handle-line-ending](https://help.github.com/en/github/using-git/configuring-git-to-handle-line-endings)

An old issues of prestodb:
[Build fails due to Checkstyle violations](https://github.com/prestodb/presto-jdbc-

[2019-12-14 20:42] findepi commented on #2269
Or, maybe, we map to `TIMESTAMP_WITH_TIME_ZONE` always, regardless of timestamp semantics mode -- this would mean we pay the debt now, not when finally switching default timestamp semantics.

[2019-12-14 20:50] findepi opened #2273 "Add "instant" Presto type"
Some storage systems Presto connects to have a way store a point in time (instant), without time zone.
In Java, this would correspond to `java.time.Instant`.

Examples:

* PostgreSQL's `TIMESTAMP WITH TIME ZONE`
* Cassandra's `TIMESTAMP`
* Teradata's `TIMESTAMP`

Today, we should map these to `TIMESTAMP WITH TIME ZONE` in Presto (because it can store a point in time), filling the zone with UTC.
If

[2019-12-14 21:00] findepi opened #2274 "Add "arbitrary-precision decimal" Presto type"
Some storage systems Presto connects to have a way store a decimal of arbitrary precision.
In Java, this would correspond to `java.math.BigDecimal`.

Examples:

* PostgreSQL's `NUMERIC` (today it's not mapped: https://github.com/prestosql/presto/issues/2079)
* Cassandra's `DECIMAL` (today it's mapped to `double`)

Today, we don't have a really good way of mapping these types in Presto.

[2019-12-14 21:00] findepi commented on #2274
Of course, such a type would have drawbacks that go beyond implementation and maintenance cost.
E.g. it will always perform worse than currently implemented "long decimal" (128bit), so it's worth considering whether adding such a type wouldn't be like an opening of a Pandora's box.

[2019-12-14 21:07] electrum commented on #2273
Oracle has the `timestamp with local time zone` which has these semantics. The existing legacy timestamp semantics are also the same. I like the idea of adding such a type, but we need to be careful about the semantics as they are not part of the specification.

[2019-12-14 21:12] findepi commented on #2272
@ssquan we currently don't have capacity to support building Presto on windows.
I expect you will run into further problems (e.g. lack of native Windows libraries for hadoop) when going this path.
Currently, a workaround for building Presto on Windows that is known to work is to do this in a VirtualBox Linux.

Also, my (quite long) past experience of using Windows for work tells me that EOL conver

[2019-12-14 21:17] findepi commented on #2273
I thought about `timestamp with local time zone` too. (BTW Hive 3 also has this type.)

However, I as a user would want to use this type. Legacy timestamp semantics is very tricky and this is why I would consider something that doesn't try to "oh, btw, i represent date/time too".

I am thinking of this as: `timestamp with local time zone` / `java.util.Date` (the deprecated methods) vs. `instant` /

[2019-12-14 21:40] electrum commented on #2273
What are the differences in semantics?

[2019-12-14 22:11] findepi commented on #2273
I assume `timestamp with local time zone` would be equivalent to our legacy `timestamp`.
So it would support operations like adding hour or day (which are affected by session zone's DST changes), or month.

Our legacy `timestamp` has also a problem that literal form is based on session zone:
- it's hard to create a literal for given point in time
- for session zones with DST, some points in time h

[2019-12-15 08:08] findepi opened #2278 "TestTablePartitioningInsertInto.selectFromPartitionedNation is flaky"
Example failure

[code]

[code]

[2019-12-15 12:38] findepi commented on #2124
[code]

https://github.com/prestosql/presto/pull/2275

[2019-12-15 12:40] findepi commented on #2278
Sometimes the "expected" is different too:
[code]

[2019-12-15 22:13] findepi opened #2279 "Flaky tests due to major GC stop the world"

[2019-12-15 22:14] findepi commented on #2279
[code]

[code]

[2019-12-15 23:27] heyfly0 commented on #2166
@ryanrupp Hello.
I upgraded presto to 326 version. And Then this bug was solved.
Thank you for your answer.

[2019-12-16 01:41] #2252 closed

[2019-12-16 01:45] ebyhr commented on #2124
[code]

https://github.com/prestosql/presto/pull/2263 https://github.com/prestosql/presto/issues/2252

[2019-12-16 01:52] ebyhr commented on #2025
@Crossoverrr Thanks for reporting this issue. This should be fixed by https://github.com/prestosql/presto/pull/2263. If you face the same issue with the next version 327 that will be released this week, please reopen this issue.

[2019-12-16 01:52] #2025 closed

[2019-12-16 02:00] Crossoverrr commented on #2025
Glad to see this issue has been resolved! :)

[2019-12-16 03:05] #2251 closed

[2019-12-16 03:06] ebyhr commented on #2124
[code]

https://github.com/prestosql/presto/pull/2264 https://github.com/prestosql/presto/issues/2251

[2019-12-16 03:08] #2166 closed

[2019-12-16 08:25] findepi commented on #1951
It hasn't been observed for a while. Please reopen with a new link & output transcript if you see this again.

[2019-12-16 08:25] #1951 closed

[2019-12-16 08:25] findepi commented on #1337
It hasn't been observed for a while. Please reopen with a new link & output transcript if you see this again.

[2019-12-16 08:27] findepi commented on #1483
It hasn't been observed for a while. Please reopen with a new link & output transcript if you see this again.

[2019-12-16 08:27] #1483 closed

[2019-12-16 10:13] kokosing commented on #2124
[code]
#2253

[2019-12-16 10:31] sopel39 commented on #2271
I think the problem here is that `hive.metastore.thrift.client.socks-proxy` and `hive.hdfs.socks-proxy` work differently when used in `AbstractTestHive` context. Normally, setting these properties in Presto allows local Presto to communicate with dockerized metastore. For some reason, it doesn't work when used in local tests. I think this has something to do with proxy connection dns resolution.

[2019-12-16 10:38] sopel39 commented on #2279
Could it be leak?

[2019-12-16 18:40] electrum commented on #2279
This collection didn't free very much:
[code]

[2019-12-16 19:22] martint commented on #2124
[code]
https://github.com/prestosql/presto/pull/2267

[2019-12-16 20:12] findepi opened #2287 "Add function to get date from year and ISO week number"
Add an inverse of `week()`.

[2019-12-16 21:31] mosabua commented on #2257
https://github.com/prestosql/presto/pull/2288

[2019-12-17 10:56] sopel39 commented on #2279
Looking at the query:
[code]
it limits the input data, but maybe not enough.
BTW: why Presto only has 1GB of heap in these tests?

[2019-12-17 11:22] kokosing commented on #2279
It was designed to run travis where we had to split RAM into several docker components. Maybe we could raise the bar now for Presto.

[2019-12-17 13:12] findepi opened #2292 "Support ORC ACID with base in raw format"
See https://github.com/prestosql/presto/pull/1257#discussion_r327582892

Follow-up to: https://github.com/prestosql/presto/issues/576

[2019-12-17 13:13] #1450 closed

[2019-12-17 13:15] findepi opened #2293 "Support reading ACID/Transactional tables with "original files""
See https://github.com/prestosql/presto/pull/1034#discussion_r349602696

Follow-up to: https://github.com/prestosql/presto/issues/576

[2019-12-17 13:18] findepi commented on #1841
For the record, such an environment (`singlenode-hdp3`) was added in https://github.com/prestosql/presto/pull/1958
It's currently used for selected tests only.

Using it for all tests would require https://github.com/prestosql/presto/issues/1956 and a more.

[2019-12-17 13:40] findepi opened #2294 "Allow any subquery in SHOW STATS FOR"
Today SHOW STATS allows only partition column predicates (in case of Hive connector).

Extend https://prestosql.io/docs/current/sql/show-stats.html `SHOW STATS` to allow any subquery.
This would make it easier to diagnose intermediate column stats derived from a subquery.

[2019-12-17 13:41] findepi commented on #2294
Alternatively we could extend `EXPLAIN` to show more stats information.

[2019-12-17 18:13] elonazoulay commented on #2105
Yep, we will contribute what we have shortly, we also have a use case for this: we use the schema registry to supply metadata and publish keys and values using the String and Avro Kafka deserializers from confluent.

@jeqo sounds very similar to our use case, once we put what we have up it would be great to collaborate on this, there might be things that are very specific to our use case, we can m

[2019-12-17 19:27] grantatspothero opened #2296 "Query sometimes fails with "Failed to delete temporary file" when writing to a sorted (sorted_by) bucketed Hive table on S3"
Right now the `sorted_by` table property in the hive connector does not work very well when the tables are stored in s3. `SortingFileWriter.java` writes lots of sorted temporary files to s3 (in order to not consume a bunch of memory for sorting) and then merges them together. This is a problem right now because:
1. From a performance perspective, writing tmp files to s3 is slower than local disk.

[2019-12-17 20:17] electrum commented on #2296
I think it's fine if we simply remove the check, per the [Hadoop FS specification](https://hadoop.apache.org/docs/current/hadoop-project-dist/hadoop-common/filesystem/filesystem.html#boolean_delete.28Path_p.2C_boolean_recursive.29)

[2019-12-17 21:06] electrum commented on #2124
[code]
#2145

[2019-12-18 02:20] raghavsethi opened #2297 "QueriesQueuedOnInternal sometimes becomes negative"
This makes it difficult to reason about heavy queueing on complex resource group trees.

[2019-12-18 04:08] jdintruff opened #2298 "Iceberg connector support for external Avro tables stored on HDFS"
The Iceberg connector currently supports reading Iceberg tables that are managed by the Hive metastore. Iceberg also supports external tables where metadata is stored in manifest files alongside the data. I've started working on this and will publish a PR shortly

[2019-12-18 04:10] jdintruff opened #2299 "Support multiple EventListener plugin instances/types"
Right now users are able to configure a single EventListener plugin to handle tracking events. It would be nice to be able to have multiple instances of different types of EventListener plugins to have multiple destinations for this tracking data.

I've developed this patch internally and will publish a rebased PR shortly.

[2019-12-18 04:19] jdintruff opened #2300 "Create interface to support serving historical query information"
Right now Presto users are able to log some query information using the EventListener interface. Unfortunately, there's no way to serve that historical information from the UI. Right now once a query expires on the coordinator, it's lost forever. It would be nice if an interface existed which allowed one to create a plugin to serve historical query information through the UI from an external data

[2019-12-18 04:59] jdintruff commented on #2298
Umbrella issue: #1324

[2019-12-18 06:09] raunaqmorarka commented on #2299
In the past the recommendation was to propagate events to multiple listeners within your own implementation, but it would be nice to have this within presto
https://github.com/prestodb/presto/issues/9100

[2019-12-18 09:59] findepi opened #2301 "Use local disk for temporary files when writing to sorted bucketed Hive table"
Use local disk (when space permits) for temporary files when writing to sorted bucketed Hive table.

Currently sorted writer uses target storage, which is particularly inefficient when writing to S3 / object storage.

[2019-12-18 10:01] findepi commented on #2296
@grantatspothero can I assign this to you?
I've split this issue into two, as it seems (per @electrum 's comment) that a query failure fix is much simpler than the performance improvement we can get.
The bullet no 1 is covered by: https://github.com/prestosql/presto/issues/2301

[2019-12-18 15:52] grantatspothero commented on #2296
@findepi 👍 I can remove the unnecessary file checks and test sorting on s3.

[2019-12-18 16:18] findepi opened #2304 "Add Iceberg product tests with HDFS and metastore impersonation"

[2019-12-18 16:20] findepi commented on #2304
For example, I think this line may be problematic: https://github.com/prestosql/presto/blob/6da8d85df9a9534465f545de4a970f7892465b55/presto-iceberg/src/main/java/io/prestosql/plugin/iceberg/IcebergPageSourceProvider.java#L160

[2019-12-18 18:37] knwg145 opened #2308 "Add a session property to set the user"
Add execution user as a session property, which when set, will become the user when a query is executed.

[2019-12-19 10:42] AssouliDFK opened #2312 "backend scala can't load dataframe while using the Presto driver _ java.sql.Exception"
**This is where the test break**
[code]
**The Error that I got:

java.sql Unsupported type Array**

[2019-12-19 11:09] findepi commented on #2312
@AssouliDFK Please include the full stacktrace of an error, when running Spark with Presto JDBC 326

[2019-12-19 11:18] AssouliDFK commented on #2312
**[info]**   java.sql.SQLException: _**Unsupported type ARRAY**_
**[info]**   at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.org$apache$spark$sql$execution$datasources$jdbc$JdbcUtils$$getCatalystType(JdbcUtils.scala:251)
**[info]**   at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$$anonfun$8.apply(JdbcUtils.scala:316)
**[info]**   at org.apache.spark.sql.execution.datas

[2019-12-19 12:07] ebyhr commented on #2312
Could you also share the DDL? As far as I tested, this issue happens if the table has ARRAY type and the exception was thrown by Spark side (it means not Presto bug).

[2019-12-19 13:31] AssouliDFK commented on #2312
VS_D    | text
 VS_C    | double precision
 C1      | double precision
 C2      | double precision
 C3      | double precision
 IdRow   | text
 D2              | text
 D3              | text
 D_EMPTY  | text
 C_EMPTY  | double precision
 D4               | text
 Group          | text
 FC1             | double precision
 FC2             |  text
 FC3             | double precision
 List

[2019-12-19 13:44] AssouliDFK commented on #2312
| col_1      | string
| col_2     | double
| col_3   | double
| col_4   | double
| col_5    | double
| col_6     | string
| col_7   | string
| col_8   | string
| col_9   | string
| col_10   | double
| col_11 | string
| col_12    | string
| col_13 | double
| col_14| string
| col_15 | double
**| col_16| array<string>**
| col_17  | string

[2019-12-19 14:50] ebyhr commented on #2312
@AssouliDFK Could you tell me the reason why you did thumbs down?

[2019-12-19 15:03] AssouliDFK commented on #2312
@ebyhr no offense , but i dont think it's a Spark bug , because I implemented with another distrbute query engines , and that was working without any bugs , so thats why i think its not a spark bug . and I'm sorry for thumbs down O:)

[2019-12-19 15:07] ebyhr commented on #2312
@AssouliDFK However, [JdbcUtils.scala#L205](https://github.com/apache/spark/blob/a834dba120e3569e44c5e4b9f8db9c6eef58161b/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcUtils.scala#L205) is showing that Spark doesn't support `java.sql.Types.ARRAY` type. What do you think about it?

[2019-12-19 15:22] findepi commented on #1900
Covered by Github actions.

[2019-12-19 15:22] #1900 closed

[2019-12-19 15:29] kokosing opened #2318 "Use testcontainers in kudu unit tests"
It should be possible to run kudu unit tests directly from IDE without running anything externally. And so `presto-kudu/bin/run_kudu_tests.sh` should be removed.

[2019-12-19 15:34] AssouliDFK commented on #2312
@ebyhr look , i tried the samething with PostgreSQL , and i had no issue .
and this is how it looks when i select the DDL in PostgreQSL
**col**        |** Type**
 col_1   | text
 col_2   | double precision
 col_3   | double precision
 col_4   | double precision
 col_5   | double precision
 col_6   | text
 col_7   | text
 col_8   | text
 col_9   | text
 col_10  | double precision
 col_11  | text
 c

[2019-12-19 15:49] ebyhr commented on #2312
Please try with `.option("dbtable", "pg_type")`.
[code]

[code]

[2019-12-19 15:55] Oshimada commented on #2312
Yo, the bug doesn't exist on PG but when loading the dataframe from hive using presto when the bug shows .
PS: the df loading is done the same way as postgres

[2019-12-19 16:03] AssouliDFK commented on #2312
@ebyhr so as @Oshimada told you the problem **is not** while loading the dataframe using PG ( It works **successffuly** ) , but when trying with **the same logic** in Presto it failed , without loading anythong .
thaaanks

[2019-12-19 16:27] ebyhr commented on #2312
I guess the reason is Spark has `PostgresDialect` and the logic isn't completely the same as Presto case.

https://github.com/apache/spark/blob/a834dba120e3569e44c5e4b9f8db9c6eef58161b/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcUtils.scala#L320-L321

https://github.com/apache/spark/blob/eb037a8180be4ab7570eda1fa9cbf3c84b92c3f7/sql/core/src/main/scala/org/apache/spa

[2019-12-19 16:50] guyco33 opened #2320 "Join fails on IllegalArgumentException in simple cases of mixed types equality"
Error occurs in version 326 and 324 and doesn't occur in 318 (It wasn't tested in version 319+)
It happens on EXPLAIN execution.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

Error stack trace is :
[code]

[2019-12-19 17:58] findepi commented on #2124
[code]

https://github.com/prestosql/presto/pull/2315

[2019-12-19 20:16] AssouliDFK commented on #2312
Thank you, what im trying to fix now it's why my df can't load data when using spark reader and  **prestoDriver**. This is my problem and **not PG problem**.

[2019-12-19 21:39] electrum commented on #2312
It appears Spark doesn't support arrays generically for JDBC, but only for specific databases like PostgreSQL. This is why it isn't working for Presto.

Other than changing Spark to add support for Presto, you might be able to work around this by converting the array column to JSON text in the SQL query: `json_format(cast(x as json))`

[2019-12-19 21:53] electrum commented on #1852
The difficult part is what the API should look like for using configuration values. In the example of access control rules, the definition of these rules is complex and comes from a plugin. How would we pass this to a plugin, allow proper validation with good error messages, report unused values, etc.?

Part of the API is the data model (allowed types and structures). We could limit this to what i

[2019-12-20 01:05] martint commented on #2124
[code]

#2310

[2019-12-20 06:21] ayushbilala commented on #1646
I have added a one-liner for the softConcurrencyLimit.
PR: https://github.com/prestosql/presto/pull/2319

[2019-12-20 08:18] findepi commented on #1646
@ayushbilala thanks!

[2019-12-20 08:18] #1646 closed

[2019-12-20 15:12] xumingming commented on #2300
I like this one.

[2019-12-20 15:53] #1853 closed

[2019-12-20 17:00] #2124 closed

[2019-12-20 20:17] martint opened #2329 "Release notes for 328"
## David Phillips
- [x] all checked
-  01-04 00:09:09    9e4b7565a3 Remove unused code in Primitives fork
-  01-04 00:13:24    e6d2447804 Avoid redundant stat call when writing Parquet files
-  01-04 01:05:16    83950c70c1 Use utility methods for creating SqlVarBinary
-  01-04 22:53:41    e6db3b9335 Update Hive supported file types documentation
-  01-04 22:56:12    39359b9776 Disable Phoenix sche

[2019-12-20 20:21] findepi opened #2330 "Flaky TestParquetReader.testComplexNestedStructs"
[code]

[2019-12-20 20:35] sopel39 commented on #2329
[code]
https://github.com/prestosql/presto/pull/2184

[2019-12-20 20:36] sopel39 commented on #2329
[code]
https://github.com/prestosql/presto/pull/2313

[2019-12-20 21:56] ryanrupp opened #2332 "Provide an optional caching mechanism for file statistics in Hive connector"
**Problem statement:**

In some cases it is difficult to implement partitioning in Hive due to mismatches in partition granularity vs what users actually want to query on e.g. partitioned by day/month/year but users query by timestamp causing them to have to do `where day = 2019-01-01 and timestamp between 2019-01-01T10:00:00Z AND  2019-01-01T12:00:00Z`. Additionally, you have to deal with data sk

[2019-12-21 21:47] tooptoop4 commented on #403
https://github.com/prestosql/presto/pull/2333

[2019-12-21 21:48] tooptoop4 commented on #1169
gentle ping @Lewuathe

[2019-12-22 03:21] Lewuathe commented on #1169
@tooptoop4 Sorry, I was a little confusing. The fix **will** be released in 4.3. The current latest version is 4.2.2 which does not fix the problem yet, I confirmed. We are waiting for the next release of okhttp, then will check the problem again.

[2019-12-22 20:27] tooptoop4 opened #2337 "log https cipher used by client to connect to presto server"
from slack

how to know what https cipher a client used to run a sql? context is want to tighten the ciphers list but dont want legacy clients to face error

First step is to see if Jetty provides that information to the HTTP request object. If it does, you could add some logging for it.

https://blogs.oracle.com/java-platform-group/diagnosing-tls,-ssl,-and-https shows an example of this with 'Exa

[2019-12-22 22:03] findepi opened #2338 "Cannot restore autocommit mode"
[code]

[2019-12-23 03:11] getGitxxx opened #2341 "mysql connector with GTID mode error " Duplicate entry '1' for key 'PRIMARY' ""
hi, @ebyhr I found you have fixed issue #2251 in version 327. well done!
when testing it again, I get another error:
[code]

It looks like when executing " insert into target_table select ...",  the temp_table's id(auto_increment) always begins at  ‘1’ but expect to generate max(target_table_id)+1 which can append insert new rows to target table successfully.

[2019-12-23 03:54] ebyhr commented on #2341
Thanks for testing it and sorry, I should have confirmed the case: the target table was already populated.

[2019-12-23 05:16] ebyhr commented on #2341
@getGitxxx Could you share the steps to reproduce (DDL & DML)? I can reproduce it easily, but I would like to make sure the situation just in case.

[2019-12-23 06:07] tooptoop4 commented on #2210
what classes should be modified for this? especially about where the @Config gets read in. i thought
  SqlEnvironmentConfig,     QuerySessionSupplier ,   ExecutingStatementResource would be involved but Session does not accept argument for targetResultSize

[2019-12-23 07:12] getGitxxx commented on #2341
@ebyhr Thanks reply quickly.

step1: create table SQL
[code]
step2: execute insert query **first** time, it works fine.
[code]
step3: repeat step2 ,will goes fail.
`Query 20191223_070221_00005_br3ma failed: Duplicate entry '1' for key 'PRIMARY'`

[2019-12-23 09:23] #1774 closed

[2019-12-23 09:24] kokosing commented on #2329
[code]
 #1874

[2019-12-23 09:52] ebyhr commented on #2341
@getGitxxx Thanks! I think we should omit the primary key from `INSERT` statement to the final table (≠temp table) in this case.

[2019-12-23 12:37] #2338 closed

[2019-12-23 12:37] findepi commented on #2329
[code]

https://github.com/prestosql/presto/pull/2339 https://github.com/prestosql/presto/pull/2340 https://github.com/prestosql/presto/issues/2338

[2019-12-23 16:21] guyco33 opened #2343 "Add support for dependent session configuration properties"
Dependent properties are properties that are relevant only when other property is set to specific values.

Example:
property1 is an enum session configuration with possible values of A and B.
property2 and property3 are relevant only when property1 is set to B.
When property1 is set to A property2 and property3 should be invisible.

Possible annotation can be something  like `@depends(Property1(A)

[2019-12-23 16:29] mosabua opened #2344 "Document hidden columns in Hive connector"
https://github.com/prestosql/presto/blob/master/presto-hive/src/main/java/io/prestosql/plugin/hive/HiveColumnHandle.java#L40

They can be used in queries e.g. `$bucket`

Discussion came up in slack - https://prestosql.slack.com/archives/CFLB9AMBN/p1577092500086400

[2019-12-23 19:41] martint commented on #2329
[code]

https://github.com/prestosql/presto/pull/2061

[2019-12-23 21:26] findepi commented on #2341
This is likely covered by https://github.com/prestosql/presto/issues/1185

[2019-12-23 21:49] findepi commented on #2332
@ryanrupp thanks for putting an issue for this. It's important to understand that caching is not "one size fits all" solution to all possible problems, so we need to understand which use-cases are we targeting first. Also, whether cache helps depends on available storage and its access characteristics (latency, bandwidth, iops cost). Generally there are a few tradeoffs to be made.

We have discuss

[2019-12-24 16:30] martint commented on #2329
[code]

https://github.com/prestosql/presto/pull/1969

[2019-12-25 10:02] tooptoop4 commented on #2344
$properties table from https://github.com/prestosql/presto/blob/master/presto-hive/src/main/java/io/prestosql/plugin/hive/HiveMetadata.java#L397-L400 also not documented outside release notes (https://prestosql.io/docs/current/release/release-309.html)

[2019-12-25 17:05] tooptoop4 commented on #2210
https://github.com/prestosql/presto/pull/2347

[2019-12-26 00:02] findepi opened #2348 "Flaky TestPhoenixIntegrationSmokeTest.testCreateSchema"
[code]

[2019-12-26 00:06] findepi opened #2349 "Fix and reenable S3 Select for table with skip.header.line.count=1"
Hive table property `skip.header.line.count` seems to be ignored when S3 Select is enabled.

[2019-12-26 20:33] tooptoop4 opened #2351 "feature request - Excel data source connector (xls/xlsx file reader)"
Apache Drill supports this: https://github.com/apache/drill/pull/1749/files
https://issues.apache.org/jira/browse/DRILL-7177
it makes use of:
https://poi.apache.org/index.html (org.apache.poi)

This is about the ability for Presto to run SQL that queries data living in xls/xlsx files (ie rather than querying parquet/orc/csv data). This is NOT about using excel to run queries against presto odbc

[2019-12-26 20:47] martint commented on #2329
[code]

https://github.com/prestosql/presto/pull/2217

[2019-12-26 20:57] martint opened #2352 "Document scale-writers config option"
We should add docs for:

* `scale-writers`
* `writer-min-size`

[2019-12-27 12:59] kokosing commented on #2329
[code]
 #2354

[2019-12-27 13:15] raunaqmorarka opened #2355 "Unsupported dynamic filter present in query plan"
[code]
This results in exception
[code]
Query plan
[code]
The dynamic filter in `ScanFilterProject` on `account_edition_configs`  should have been removed by `RemoveUnsupportedDynamicFilters`. We make use of `extractConjuncts(expression)` to get the dynamic filters from predicate expression in FilterNode, so it misses removing the dynamic filter in the disjunction `$internal$dynamic_filter_functio

[2019-12-27 13:17] MiguelWeezardo opened #2356 "LDAP injection attacks are possible through user field"
LDAP password authenticator doesn't seem to escape special LDAP characters, which makes it possible to change the logic of LDAP searches and binds.

See [Testing for LDAP Injection](https://www.owasp.org/index.php/Testing_for_LDAP_Injection_(OTG-INPVAL-006)) or [Understanding and Exploiting Web-based LDAP](https://pen-testing.sans.org/blog/2017/11/27/understanding-and-exploiting-web-based-ldap) fo

[2019-12-28 11:27] sopel39 commented on #304
I will create a PR that will allow connectors to specify preferred insert partitioning. There will be a toggle that will allow to enable usage of such partitioning int the engine. In the future we could use CBO for choosing preferred insert partitioning.

[2019-12-28 12:28] tooptoop4 opened #2359 "LDAP password auth - only first 1000 users are searched against"
LDAP authentication with a search returning > 1000 results will not find some users in ActiveDirectory as only first 1000 results are returned.

https://stackoverflow.com/a/33445705/8874837
http://stackoverflow.com/a/31750628/384674
https://stackoverflow.com/questions/30567983/query-to-ad-for-unlimited-results
https://stackoverflow.com/questions/58638194/how-to-fix-ldap-connection-error-javax-nami

[2019-12-28 12:34] cmwenxin opened #2360 "How can I open debug log of hadoop hdfs client??"
Recently when i execute a  create-table sql ,I find in stage 2,most of tasks are finished,but only one or to two tasks are closing file for a long time.It caused the total time cosst for too long .I want to open debug log of hadoop hdfs client .so i add follow property in log.properties ,but it dose not work.
**org.apache.hadoop=DEBUG**
i add log4j.properties in etc directory ,it still dose not wo

[2019-12-28 14:15] findepi commented on #2360
@cmwenxin we currently discard logging from hadoop and hive libraries.
AFAIR the basic reason is that they tend to log too much by default (>=INFO).

@electrum do you remember particular reason for https://github.com/prestosql/presto-hadoop-apache/commit/25de8eade3d5dab8e90485fae136e3959c9bfe64?
was it "they log too much by default" or something else?

[2019-12-28 18:42] electrum commented on #2360
It logs too much by default and caused the CI to fail due to hitting the log size limit.

[2019-12-29 13:50] OmerJog commented on #2241
@ebyhr great. I hope this feature will be available soon

[2019-12-29 20:39] elonazoulay commented on #2105
@jeqo, here is the pull request: #2361 - still cleaning up the part where schema registry is used to infer the schema (i.e. without the need for json files).

[2019-12-29 20:43] elonazoulay commented on #2105
It looks like there is a lot of overlap between #2106 and #2361 :)

[2019-12-30 01:32] cmwenxin commented on #2360
It means we have no way to  open any level of hdfs logs,is it?

[2019-12-30 04:24] electrum commented on #2360
Correct, there’s no way to do it now (without recompiling). This is a known issue.

[2019-12-30 09:58] cmwenxin commented on #2360
If I want to recompile, how can I modify the code so that it can print hdfs logs?How do I modify the configuration file?

[2019-12-30 10:51] #2133 closed

[2019-12-30 10:53] sopel39 commented on #2329
[code]
https://github.com/prestosql/presto/pull/2136

[2019-12-30 18:41] kokosing commented on #2329
[code]
#2303

[2019-12-31 18:22] martint opened #2375 "Flaky TestJdbcIntegrationSmokeTest"
[code]

In testExactPredicate: https://github.com/prestosql/presto/pull/2324/checks?check_run_id=368235944
In testDuplicatedRowCreateTable: https://github.com/prestosql/presto/pull/2323/checks?check_run_id=368439754

[2019-12-31 20:44] martint commented on #2375
https://github.com/prestosql/presto/runs/369344394

[2019-12-31 20:46] #2320 closed

[2019-12-31 20:50] martint commented on #2329
[code]

#2320

[2020-01-01 13:53] findepi commented on #2278
https://github.com/prestosql/presto/pull/2368/checks?check_run_id=369865028

[2020-01-01 14:49] RosterIn opened #2378 "day_of_week to work with DATE and not only with TIMESTAMP"
`select day_of_week('2014-04-24')`
gives:

 `select day_of_week(TIMESTAMP '2014-04-24')`

Gives
`4`

Can the function also work with Date type? This will save the trouble of casting all the time...

[2020-01-01 14:59] findepi commented on #2378
`day_of_week` should work with `date` (technically: `date` should get coerced to `timestamp`).

@RosterIn Please try:

    select day_of_week(DATE '2014-04-24')

[2020-01-01 15:07] RosterIn commented on #2378
ok i stand corrected. I see it works with date.
Why can't it work with varchar?
The way I see it the function can handle the convert for the user or there is a specific reason why presto prefer not to do that?

[2020-01-01 15:24] findepi commented on #2378
@RosterIn thanks for checking.

This is a broader discussion, not really specific to `day_of_week`.
In database world, there are certain coercions which are mandated by SQL spec,
which should happen implicitly, without user requesting it explicitly (e.g. from `date` to `timestamp`).
Conversion from `varchar` to `date` is not one of them.

While I see how it could be useful for this specific case o

[2020-01-01 15:24] #2378 closed

[2020-01-01 15:25] findepi commented on #2279
https://github.com/prestosql/presto/pull/2373/checks?check_run_id=369927537

[2020-01-01 15:30] RosterIn opened #2379 "day_of_week to support param of start day"
In some countries/companies week starts on Sunday and not on Monday.
Currently the day_of_week start to count on Monday with no choice to change it.

SQL Server for example solved this by having DATEFIRST setting which is configured by the user and then all "relevant" functions like this one are adjusted according to the setting:
https://stackoverflow.com/questions/1110998/get-day-of-week-in-sql-s

[2020-01-01 16:37] tooptoop4 commented on #1169
@Lewuathe  4.3 has been released

[2020-01-01 18:00] kasiafi commented on #2375
testExactPredicate: https://github.com/prestosql/presto/pull/1970/checks?check_run_id=370045678

[2020-01-01 19:46] findepi commented on #2379
Same probably applies to [`week()`](https://prestosql.io/docs/current/functions/datetime.html#week).

[2020-01-01 20:15] findepi commented on #2256
@sib19 sorry for the delay.

Can you provide `SHOW CREATE TABLE` (from Hive or Presto) for this table?
(I know in theory I can derive this information from the Parquet file itself, but
i don't have it automated and the file schema is pretty long. Also, I can derive
something different than what you actually have in your metastore.)

Can you provide the failing query? Is it `SELECT * FROM table` or

[2020-01-01 20:36] findepi opened #2380 "Continuous Integration for Presto with Azure Data Lake Blob, ADLS Gen1 and ADLS Gen2"
Presto already supports Azure storages: Blob (`wasb://`), ADLS Gen1 (`adl://`) and ADLS Gen2 (`abfs://`).

We should ensure nothing breaks in these integration with a set of regularly run tests, similarly to AWS-related functionalities (https://github.com/prestosql/presto/issues/274).

[2020-01-01 20:45] findepi commented on #2375
failed on master too -- https://github.com/prestosql/presto/runs/370121325

[2020-01-01 20:46] findepi commented on #1641
failed on master -- https://github.com/prestosql/presto/runs/370121320

[2020-01-01 20:47] findepi commented on #2278
failed on master -- https://github.com/prestosql/presto/runs/370121222

[2020-01-01 22:30] findepi opened #2382 "QueryStats#getRawInputPositions sometimes not present (0)"
(https://github.com/prestosql/presto/issues/2278)

[2020-01-02 07:27] anuhewa opened #2384 "presto query oracle number column"
when i query oracle table from presto(presto db 0.228)   i am getting below issue for number columns

oracle side data type - number

sample value of column 1 = 10771.6719559045

i am trying to convert as decimal but failed

[code]

==========trace=============

[code]
- show quoted text -

=========trace===============

kindly help

[2020-01-02 07:39] ebyhr commented on #2384
@anuhewa I guess you are using a custom connector and it isn't a bug in this repository.
Could you join `#troubleshooting` channel of the community Slack https://prestosql.io/slack.html?

[2020-01-02 07:52] ebyhr commented on #2384
I'm closing this issue as it's not a bug. Let's talk on `#troubleshooting` channel as I already posted it.

[2020-01-02 07:52] #2384 closed

[2020-01-02 07:53] findepi commented on #2384
i replied on the slack thread -- https://prestosql.slack.com/archives/CGB0QHWSW/p1577951410087200?thread_ts=1577951246.086800&cid=CGB0QHWSW

[2020-01-02 07:55] findepi commented on #2348
https://github.com/prestosql/presto/pull/2164/checks?check_run_id=369549408

[2020-01-02 09:17] kokosing commented on #2382
Are `QueryStats` reliable. They used to be eventually consistent, maybe we should use eventual assertion in test.

[2020-01-02 09:32] kokosing commented on #2348
https://pipelines.actions.githubusercontent.com/sJrKZtZsjYLeyqPixYxcTJp8fX9YNlwyJbmEGSC0oymXVDSpbK/_apis/pipelines/1/runs/1344/signedlogcontent/36?urlExpires=2020-01-02T09%3A32%3A55.5359189Z&urlSigningMethod=HMACV1&urlSignature=MuWgMwCD5lj%2BbdSxmno6Ly5QeSISazef81Lc1LM28NA%3D

[2020-01-02 09:36] kokosing opened #2386 "Spurious startup failure due to JMX agent automatic port allocation"
https://github.com/prestosql/presto/pull/2372/checks?check_run_id=368884462

https://pipelines.actions.githubusercontent.com/sJrKZtZsjYLeyqPixYxcTJp8fX9YNlwyJbmEGSC0oymXVDSpbK/_apis/pipelines/1/runs/1344/signedlogcontent/29?urlExpires=2020-01-02T09%3A32%3A52.2707900Z&urlSigningMethod=HMACV1&urlSignature=FYc0YjWhoKkCRYK057fX1ZYJ8%2B3OosefNSk5dYSmxEk%3D

[code]

[2020-01-02 09:36] kokosing commented on #2386
Maybe there is a race and port was allocated by something else.

[2020-01-02 09:52] sib19 commented on #2256
Hi Pio

Thanks for your debugging.

I usually try with select * from table or with all the column names however same error i am getting please find below the creat table script

presto:default> show create table example_db.example_2;
                         Create Table
--------------------------------------------------------------
CREATE TABLE hive.example_db.example_2 (
    instanceid_userid in

[2020-01-02 10:00] Praveen2112 commented on #2360
I think if we can replace this line in [pom.xml](https://github.com/prestosql/presto-hadoop-apache/blob/9e1ca5e627f267c7540f244bb7aedd64a8fdce52/pom.xml#L355) with slf4j-jdk14 then it should solve the issue.

Ref : https://github.com/Praveen2112/presto-hadoop-apache/commit/aec22a1ea7f559ca58ee1cf99bf9345435c90bf4

[2020-01-02 10:24] cmwenxin commented on #2360
@Praveen2112 I have replace it and recompile it.Then i have replace the jar in my environment.It workers well.

[2020-01-02 10:48] sopel39 commented on #2382
@dain shouldn't this be always present via final query info?

[2020-01-02 12:12] kokosing opened #2390 "TestHiveStorageFormats.testInsertIntoPartitionedTable is flaky"
https://pipelines.actions.githubusercontent.com/sJrKZtZsjYLeyqPixYxcTJp8fX9YNlwyJbmEGSC0oymXVDSpbK/_apis/pipelines/1/runs/1439/signedlogcontent/28?urlExpires=2020-01-02T12%3A10%3A22.7301514Z&urlSigningMethod=HMACV1&urlSignature=zyXbw6mYS9JI%2BAN5aJvI6q%2FHpbeGG3uFp0lgtdmKQ84%3D

[code]

[2020-01-02 13:08] findepi commented on #2256
i did:

* created the table with the schema you provided and in the PARQUET format
* added your file (https://github.com/prestosql/presto/issues/2256#issuecomment-565070965) to the table directory
* run `SELECT * FROM example_2` (with and without pager, to let CLI pull all the results)

it didn't fail for me.

@sib19,
* Can you verify this single data file is sufficient to reproduce the issue in y

[2020-01-02 13:10] findepi commented on #2386
We should try to remove:
https://github.com/airlift/airlift/blob/e739d06ae27a6de059a0b5c56b06ba8c69ae712e/jmx/src/main/java/io/airlift/jmx/NetUtils.java#L26-L37

it's proven to be racy.

[2020-01-02 14:02] ebyhr opened #2391 "Use dockerized Elasticsearch in tests"
Elasticsearch container https://www.testcontainers.org/modules/elasticsearch/

[2020-01-02 14:06] sib19 commented on #2256
Hi Pio

Thanks for your quick reply and testing the data.

This is very interesting,  i used to setup presto-server326 using  tar.gz hope this file was included all the dependant jar files. I can’t  able to do the build from your commit , kindly provide tar.gz format of installation i will check again with select query.

Moreover many hive tables are having multiple active parquet files under a hi

[2020-01-02 14:57] findepi commented on #2256
@sib19 you can build a .tar.gz from source by running this:
[code]

Sure, this is typical.
Can you somehow identify which file is causing the problem?
(Ideally this should be part of the exception message, but it isn't 😞 )

eg you can remove half of the files and see if the problem persist.
continue this down until you identify one file that's causing the problem

[2020-01-02 15:06] sib19 commented on #2256
Pio

Due to my restricted environment i can’t able to download maven jars for this build , after that only we will make tar.gz format as per your command.

Please provide installation file as like under url prestosql.io/download.html.

Yes sure i will try the select against each file

Thanks

[2020-01-02 15:28] findepi commented on #2256
Sure, I made the .tar.gz snapshot build temporarily available for you -- https://www.dropbox.com/sh/ilz4yoqg7wtwg45/AAD_-SPuzPlX8bXvHc43M8eMa?dl=0

[2020-01-02 15:43] sib19 commented on #2256
Thanks Pio, you are so great..

Please avail the file for another 5/6 hours I will download the file from Dropbox In my home network . Due to more restrictions on company environment It doesn’t allow Dropbox access.
Thanks

[2020-01-02 15:43] ebyhr commented on #2256
Unfortunately, I couldn't reproduce this on 326. If you still face the issue on the above .tar.gz, could you share the DDL on Spark(Hive) to confirm the full table properties?

[2020-01-02 16:03] sopel39 opened #2392 "Infer x IS NOT NULL from inner join equi condition"
When there is inner join on equi-condition `x=y`, then predicates `func(x) OR x IS NULL` will get propagated to other join side as `func(y) OR y is NULL`.
However, we know that row `y is NULL` or `x is NULL` will never be produced by inner join so we could simply replace such predicates by false.

[2020-01-02 16:29] mizunno opened #2394 "Presto does not find tables with camelCase"
Hi everyone!

I am trying to select data from a table with its name written in camelCase format, something like:

`SELECT * FROM catalog.schema.tableName`

But Presto returns:

`Table catalog.schema.tableName does not exist`

If I run `SHOW TABLES FROM catalog.schema` Presto returns all the tables in lowercase. I've tried to put the table name between quotation marks ("") but the problem still rem

[2020-01-02 16:39] Praveen2112 commented on #2394
hi!! Presto transforms all the identifiers - tables, schema, columns to lower case. There is a on-going PR (#2350) which solves this issue. For JDBC based connectors we can enable case sensitive matching of tableNames by setting this property `case-insensitive-name-matching` as true

[2020-01-02 18:11] findepi commented on #2394
For the reference, I implemented `case-insensitive-name-matching` in Presto 309, but I think PrestoDB backported this to their fork, so it I guess it's available in .227 as well.
Anyway,as you're using JDBC connectors, I recommend that you try Presto 327 https://prestosql.io/download.html -- you're missing A TON of improvements that we developed within JDBC connectors (and everywhere else).

Let m

[2020-01-02 18:11] #2394 closed

[2020-01-02 18:15] findepi commented on #2392
The expected behavior can be simply described as following.
For an inner join `a.x = b.y` push down predicate that `a.x IS NOT NULL` and `b.y IS NOT NULL`.

[2020-01-02 22:16] findepi commented on #2348
https://github.com/prestosql/presto/pull/2373/checks?check_run_id=371458065

[2020-01-02 22:16] findepi commented on #2278
https://github.com/prestosql/presto/pull/2373/checks?check_run_id=371458065

[2020-01-03 03:18] ryanrupp commented on #2020
https://github.com/prestosql/presto/pull/2333 Updated to parquet-mr 1.11.0 so the API for this should be available now at least

[2020-01-03 03:20] ryanrupp commented on #2220
Going to close as this was an issue in PrestoDB that got fixed in the previously mentioned linked issue. @prakharjain-vogo feel free to reopen if this is still an issue with PrestoSQL.

[2020-01-03 03:20] #2220 closed

[2020-01-03 04:40] ryanrupp commented on #2332
@findepi This is usually on "smaller" non-partitioned datasets so typically would be:

-  <= 100 files
- Each file is <= 128MB (Parquet + snappy compression)
- At most 1 row group per file

We run into this case of non-partitioned tables because:
- Data is user provided and many technical implementation details/complexities are abstracted away from the user to keep things simple (BI type user that

[2020-01-03 07:18] ryanrupp commented on #2332
In regards to caching I think it's interesting some of the things coming recently from PrestoDB's RaptorX (https://github.com/prestodb/presto/issues/13205) and AWS Redshift (see [announcement](https://aws.amazon.com/about-aws/whats-new/2019/12/amazon-redshift-announces-ra3-nodes-managed-storage/)) Both systems historically have had compute and storage coupled. On the other spectrum, systems like P

[2020-01-03 10:22] sopel39 commented on #2375
Another one: https://github.com/prestosql/presto/pull/2363/checks?check_run_id=371456095

[2020-01-03 11:27] #2278 closed

[2020-01-03 12:23] findepi commented on #2348
Same for `TestPhoenixIntegrationSmokeTest.testDropSchema` (https://github.com/prestosql/presto/pull/2399/checks?check_run_id=372275651):

[code]

[2020-01-03 14:25] mizunno commented on #2394
Thank you both! That solved my problem in PrestoDB 0.227, but I will give a try on PrestoSQL!

[2020-01-03 15:48] #2356 closed

[2020-01-03 15:50] findepi commented on #2329
[code]

https://github.com/prestosql/presto/issues/2356 https://github.com/prestosql/presto/pull/2366

[2020-01-03 18:50] tooptoop4 opened #2401 "Bump OkHttp to 4.3.0"
Fixes https://github.com/prestosql/presto/issues/1169

[2020-01-03 19:50] #2355 closed

[2020-01-03 19:52] sopel39 commented on #2329
[code]
https://github.com/prestosql/presto/issues/2355

[2020-01-03 22:27] findepi commented on #2329
[code]
https://github.com/prestosql/presto/pull/2395

[2020-01-04 13:45] Lewuathe commented on #1169
Unfortunately, OkHttp 4.3.0 did not solve the issue in my environment. presto-cli is still slow with Java 11 runtime with HTTP 2.0.

[2020-01-04 23:15] findepi commented on #2348
@vincentpoon do you have any idea what may be the cause?

[2020-01-05 02:45] Praveen2112 commented on #2348
I guess it is seen since Phoenix 4.13 [PHOENIX_4374](https://issues.apache.org/jira/browse/PHOENIX-4374)

[2020-01-05 08:37] #2182 closed

[2020-01-05 21:19] findepi commented on #2375
https://github.com/prestosql/presto/pull/2393/checks?check_run_id=374700050

[2020-01-06 15:28] rongyousu opened #2416 "Phoenix connector throw unknown connector error when table has unsupported column type"
Perhaps, this issue was introduced in https://github.com/prestosql/presto/pull/1182

[2020-01-06 15:34] ebyhr commented on #2416
Could you modify the issue title (what's the actual issue)?

[2020-01-06 15:35] rongyousu commented on #2416
2020-01-06T15:19:53.439Z	DEBUG	20200106_151953_00055_5bir6.2.0-0-114	io.prestosql.plugin.jdbc.BaseJdbcClient	Mapping data type of 'dbcenter.tb_user_info' column 'ID_CARD': JdbcTypeHandle{jdbcType=12, jdbcTypeName=VARCHAR, columnSize=0, decimalDigits=0} mapped to Optional[ColumnMapping{type=varchar}]
2020-01-06T15:19:53.439Z	DEBUG	20200106_151953_00055_5bir6.2.0-0-114	io.prestosql.plugin.jdbc.BaseJ

[2020-01-06 15:42] rongyousu commented on #2416
the version 327 is not better than 324 , because  the  timestamp column

[2020-01-06 16:06] rongyousu commented on #2416
https://github.com/prestosql/presto/blob/370a832d8730ca6e82932fe8b678a1b3d7a74d6d/presto-phoenix/src/main/java/io/prestosql/plugin/phoenix/PhoenixClient.java ，the type not code

 public Optional<ColumnMapping> toPrestoType(ConnectorSession session, Connection connection, JdbcTypeHandle typeHandle)
    {
        switch (typeHandle.getJdbcType()) {
           ......
            // TODO add support f

[2020-01-06 16:13] ebyhr commented on #2416
It seems the change for `unsupported_type_handling` affected it.
https://prestosql.io/docs/current/release/release-327.html

[2020-01-06 16:24] findepi commented on #2256
@sib19 i deleted the file you attached previously, in case it contains anything sensitive.
in the future, you can share a file confidently with me over slack -- https://prestosql.io/slack.html

in the meantime, i believe the issue is not Presto's fault, but it's some corrupted Parquet file.
Let me close the issue. You can still reopen it or comment here. Or we can talk on slack.

[2020-01-06 16:24] #2256 closed

[2020-01-06 17:23] ebyhr commented on #2416
Steps to reproduce:
Add this test to TestPhoenixIntegrationSmokeTest and run
[code]

[2020-01-06 19:18] martint commented on #2329
[code]

https://github.com/prestosql/presto/pull/2324

[2020-01-06 22:00] bennysenone opened #2422 "Support complex condition on synthetic $path column"
We want to achieve an effect similar to bucketing in a hive table by predicate push down on the synthetic $path column. Right now, this only works for equality clause or IN clause, but does not work when a complex condition is used, such as "$path" LIKE '%xyz%' .
Per discussion on the slack thread  https://prestosql.slack.com/archives/CFLB9AMBN/p1578312918226100
It seems that it might be possible

[2020-01-07 02:53] ssquan commented on #2272
/ close

[2020-01-07 02:53] #2272 closed

[2020-01-07 04:44] ddrinka commented on #2422
A great first step for me would be to allow prefix restriction, since this maps directly to S3 listing operations.  If we could detect `"$path" LIKE 's3://bucket/prefix/subkey_%'` and map this to an S3 ListObjects with a prefix restriction set, it would meet the vast majority of my pseudo-bucketing requirements, as we carefully name S3 keys for such queries.

For instance, we have some objects nam

[2020-01-07 06:12] rongyousu commented on #2416
hi,,i also find  the phoenix.config   can't use "unsupported-type-handling=CONVERT_TO_VARCHAR"  and  "jdbc-types-mapped-to-varchar"

1) Configuration property 'unsupported-type-handling' was not used
  at io.airlift.bootstrap.Bootstrap.lambda$initialize$2(Bootstrap.java:238)

1 error
com.google.inject.CreationException: Unable to create injector, see the following errors:

next version is ok?  ( a

[2020-01-07 06:44] ebyhr commented on #2416
It is session property (not static config) and setting a session property will be failed with the same cause. While I already created the PR (#2424) to fix the regression, there is no existing PR to support the property for now.

[2020-01-07 06:46] ebyhr opened #2426 "Add support for unsupported-type-handling in Phoenix connector"

[2020-01-07 07:24] bennysenone commented on #2422
We have a somewhat different use case because all our queries always pass the partition keys, however, the physical location of the partitions does not follow hive convention (we relocate partitions to other buckets with random prefixes to mitigate S3 object name common prefix that causes it to sit in the same S3 partition)
We are looking at Apache Iceberg to overcome the partition scaling limit o

[2020-01-07 08:57] ddrinka commented on #2422
@bennysenone I'm also looking forward to Iceberg...

FYI, the best practice of randomizing key prefixes to optimize S3 hash partitioning is no longer relevant.  They fixed this in 2018: https://aws.amazon.com/about-aws/whats-new/2018/07/amazon-s3-announces-increased-request-rate-performance/

[2020-01-07 09:08] bennysenone commented on #2422
We had a lengthy discussion with AWS solution architects very recently because we kept getting hit by the S3 API rate limit. And the conclusion was that to be able leverage S3's automatic range partitioning, you need to introduce randomness as early as possible in the key name (key being the full path).

[2020-01-07 11:19] kokosing opened #2428 "Fix flaky TestElasticsearchIntegrationSmokeTest.testMultiIndexAlias"
https://github.com/prestosql/presto/runs/377217851
https://pipelines.actions.githubusercontent.com/sJrKZtZsjYLeyqPixYxcTJp8fX9YNlwyJbmEGSC0oymXVDSpbK/_apis/pipelines/1/runs/1683/signedlogcontent/21?urlExpires=2020-01-07T11%3A18%3A58.4771790Z&urlSigningMethod=HMACV1&urlSignature=YEThFqc8%2FJW8Gx3FQ4HIp%2BISS8KcAxvUeJJszqhFzuA%3D
[code]

[2020-01-07 11:21] kokosing commented on #2428
@martint Do you have an idea what could cause that?

[2020-01-07 11:36] kokosing commented on #2329
[code]
https://github.com/prestosql/presto/pull/2290

[2020-01-07 12:18] getGitxxx commented on #2341
hi, @ebyhr any plan to fix this bug？

[2020-01-07 19:24] ddrinka commented on #2422
@bennysenone That's surprising and concerning to hear, as the S3 documentation appeared very clear on this matter.

There's additional support for what you're describing here: https://stackoverflow.com/a/56155997

It sounds like what AWS changed isn't the partitioning scheme, but just the rate limits per partition, so that most applications won't hit the limits anymore.  I find their public docume

[2020-01-07 19:30] bennysenone commented on #2422
According to AWS support, S3 dynamically decides if to split a key range based on access patterns. Each key range is indeed bound by the 5500 API calls/sec . Note that S3 can also do the merge back key ranges . So if the keys share a common prefix, which unfortunately we couldnt get a conclusive length , S3 internals wont split it. Therefore by smearing the prefix (we pre-pended a 4 character rand

[2020-01-07 22:02] guyco33 commented on #1053
Fixed by merging https://github.com/prestosql/presto/commit/fa1f9325e2465732d615edc13a28fa7affa32e89, thanks!

[2020-01-07 22:02] #1053 closed

[2020-01-07 22:19] sopel39 commented on #2375
https://github.com/prestosql/presto/pull/2358/checks?check_run_id=378276456

[2020-01-07 23:00] martint commented on #2428
It's possible that ES is updating the indexes asynchronously, so there's a race. Let me add something that may fix it.

[2020-01-08 01:04] electrum commented on #2329
[code]
#1746

[2020-01-08 01:04] electrum commented on #2329
[code]
#2331

[2020-01-08 01:47] wyukawa commented on #2196
reopened because it happend again.
error changed if I ran again although it's weird.

* pattern 1
[code]
* pattern 2
[code]
* pattern 3
[code]

[2020-01-08 10:32] sopel39 opened #2435 "Flaky io.prestosql.plugin.hive.TestHive#testBucketedTableEvolution"
[code]

[2020-01-08 10:32] sopel39 commented on #2435
Failed: https://github.com/prestosql/presto/pull/2429/checks?check_run_id=378282472

[2020-01-08 10:35] sopel39 commented on #2375
https://github.com/prestosql/presto/pull/2433/checks?check_run_id=378548452

[2020-01-08 11:02] kokosing commented on #2329
[code]
#2088

[2020-01-08 13:38] sajjoseph commented on #2162
What could be the fix for this issue (other than adjusting _schema registry)?
We face this issue with bunch of our mongo tables.

[2020-01-08 14:08] findepi commented on #2162
Would it be enough to hide such a column from user?
(As we do with unsupported columns in eg JDBC connectors)

[2020-01-08 14:53] rednac opened #2438 "java.net.UnknownHostException: <Hadoop_cluster_name> and Failed to list directory: hdfs://<hadoop_cluster_name>"
Hi,

I met a stronge issue when running  this SQL on presto:
presto:"schema_name"> select count(*) from <table_name>;

PrestoDb and Hadoop are deployed on 2 differents infrastructures i.e not  on the same servers.

In the configuration of my Hadoop cluster, I have this section in the core-site.xml file :
<property>
      <name>fs.defaultFS</name>
      <value>hdfs://<cluster_name></value>
      <f

[2020-01-08 19:31] kokosing commented on #2426
Fixed via #2427

[2020-01-08 19:31] #2426 closed

[2020-01-08 19:31] kokosing commented on #2416
Fixed via #2427

[2020-01-08 19:31] #2416 closed

[2020-01-08 19:35] kokosing commented on #2329
[code]
#2427

[2020-01-08 22:06] #2329 closed

[2020-01-08 22:43] brianolsen87 opened #2441 "Add Array/Object support for elasticsearch connector via _meta field mapping"
Quoting [this thread](https://prestosql.slack.com/archives/CP1MUNEUX/p1570064139005900) from @martint on the slack Channel:

One of the limitations of the current [elasticsearch connector] implementation is that it doesn't support the ARRAY type. The underlying problem is that Elasticsearch itself does not have a way to describe such a concept. Fields in a document can be scalar values or arrays i

[2020-01-08 22:45] brianolsen87 commented on #2441
@martint it sounds like you may have already started some work on this issue, is that true? Otherwise I'd be glad to start working on it.

[2020-01-08 22:51] martint commented on #2441
I haven't started working on it, so feel free to tackle it.

[2020-01-09 01:24] sajjoseph commented on #2162
For now, I tried the following approach (catch TypeNotFoundException and force the type to be VARCHAR) and it worked for the few tables I checked. I can submit a PR and see if you all like that approach.

Let me know.

[2020-01-09 05:31] kokosing commented on #2162
(As we do with unsupported columns in eg JDBC connectors)

Agree that should be default behaviour. In JDBC connectors there are two ways to convert unsupported type to unbounded varchar. One is to use `jdbc-types-mapped-to-varchar=JSON` in config properties, other is to use `unsupported-type-handling=CONVERT_TO_VARCHAR` in config properties (or by `unsupported_type_handling` catalog session proper

[2020-01-09 07:42] #2079 closed

[2020-01-09 10:17] phani538 opened #2448 "Pivot functionality not available"
Team,

We are using Athena with glue metadata (which internally uses presto) to query parquet data in S3.
We are facing issues to use PIVOT , as presto does not offer this functionality.

**Actual result set:**

**Tenant** | **YearMonth** | **LoanAmount**
-- | -- | --
100 | 2019-09 | 50,000
200 | 2019-09 | 60,000
100 | 2019-10 | 70,000
200 | 2019-10 | 80,000

**Required(pivoted result set):**

**T

[2020-01-09 10:59] dekelev opened #2449 "Failed to query Cassandra table with column name that starts with `_`"
I get an error when running a simple `SELECT *` from Cassandra table with column that starts with the underscore character.

Here's the error message:
[code]

I'm using PrestoSQL v327 with JDBC driver v327 with Cassandra v3.11.3

[2020-01-09 11:01] tooptoop4 commented on #2210
would be good to log the final targetResultSize value in v1/query json

[2020-01-09 11:16] findepi commented on #2448
@phani538 thank you for reporting the issue.

Let me redirect you to the previous discussion at https://github.com/prestosql/presto/issues/1206 (therefore I'm closing this issue).

Please join the discussion there.

[2020-01-09 11:16] #2448 closed

[2020-01-09 11:16] findepi commented on #2448
Also, let me invite you to the community slack https://prestosql.io/slack.html, if you haven't joined it yet.

[2020-01-09 11:34] findepi commented on #2438
@rednac troubleshooting problems like this are better served by the `#troubleshooting` channel on our slack https://prestosql.io/slack.html.
You don't need to copy full stacktrace on the slack, you can still reference it on github, if you find this convenient.

Can we close the issue and move discussion there?

[2020-01-09 11:56] OleksiiDuzhyi opened #2450 "Insert to bucketed and sorted Hive table produces not sorted files on file system"
Hi,

I've created a bucketed and sorted table in Hive plugin:
[code]

After that I made a couple of inserts of fairly large sets of data with session `parquet_writer_block_size` fairly small to produce parquet files with at least 2 blocks. Analyzing one of the outcome files with `parquet-tools` shows following information for `uuid` column:

[code]
During write - temporary files are not created as

[2020-01-09 12:26] sopel39 commented on #2450
This seems like a bug

[2020-01-09 12:38] guyco33 opened #2452 "Incorrect results for last_day_of_month function"
`SELECT last_day_of_month(DATE'2019-08-01')`  --> `2019-07-31` **inorrect**
`SELECT last_day_of_month(DATE'2019-08-02')`  --> `2019-08-31` correct

`SELECT last_day_of_month(TIMESTAMP'2019-07-31 23:59:59')`  --> `2019-07-31` correct
`SELECT last_day_of_month(TIMESTAMP'2019-08-01 00:00:00')`  --> `2019-07-31` **inorrect**
`SELECT last_day_of_month(TIMESTAMP'2019-08-01 00:00:01') ` --> `2019-08-31`

[2020-01-09 15:02] rednac commented on #2438
@findepi : it's ok . We can switch on slack platform.

[2020-01-09 15:28] #2438 closed

[2020-01-09 18:22] dima-vm opened #2457 "Connector doesn't receive filters for columns over Map types"
When implementing a connector, I found out that it's impossible to handle any WHERE filters over columns of type Map[VARCHAR, VARCHAR].

Example:
[code]

**Expected**: `columnDomains` has some domain for testcolumn['foo']
**Observed**: `columnDomains` is empty.

[code]

[2020-01-09 19:14] dima-vm opened #2458 "Connector predicate pushdown throws exception on any unenforced constraint"
When using predicate pushdown presto-main throws exception on any unenforced constraint except for TRUE_CONSTANT.

Exception is thrown at line [157 in WindowFilterPushDown](https://github.com/prestodb/presto/blob/release-0.229/presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/WindowFilterPushDown.java#L157
), at castToExpression() call -- it expects an OriginalExpression, whi

[2020-01-09 19:35] dima-vm commented on #2457
Wrong project, will try with prestosql and report back. Closing this for now.

[2020-01-09 19:35] #2457 closed

[2020-01-09 19:35] dima-vm commented on #2458
Wrong project, will try with prestosql and report back. Closing this for now.

[2020-01-09 19:35] #2458 closed

[2020-01-09 20:00] brianolsen87 commented on #2441
@dain you made a few comments about encoding of the field.

I'm not exactly following or know the standard encodings that is used in the project but I'll propose my idea and if it's not the standard then could you point me to an example in the code that does something close? Is this on the right track?

Say we have a document like this:
[code]
We might have some the following properties with a nes

[2020-01-09 20:02] brianolsen87 commented on #2441
Side note: I believe that the field type in the mapping is optional and it defaults to object, (e.g. "type": "object" is optional) and it looks like that case isn't handled in the code but I could be wrong. I'll try to test this afternoon.

[2020-01-09 21:38] meghapthakkar opened #2460 "Enhance serdeexception log to pin point exact failure"
Example where this log would be useful:

Query:
select *
from hive.information_schema.columns c
where c.table_schema != 'information_schema'
LIMIT 100

Failure message (due to corrupt schema):

2019-04-12T18:27:04.334Z ERROR   SplitRunner-184-797948  com.facebook.presto.execution.executor.TaskExecutor Error processing Split 20190412_182551_18118_2rvw8.1.0-0 InformationSchemaSplit{tableHandle=hive:

[2020-01-09 22:43] findepi commented on #2460
I totally agree

thanks for self-assigning the issue!
before you start work, can you just double check with Presto 327 that we still don't provide actionable error message?
There was also some PR to avoid failures  during certain `information_schema` queries, so this may also help (or not) in your case.

[2020-01-10 11:17] AbhishekNew opened #2463 "Hive DROP SCHEMA does not delete HDFS location"
[code]

But when I cross check in Hive Metastor still shows as traffic.db as below
[code]
What is reason not deleting from Hive Metastore any configuration require to do like for drop table in properties file in etc/catalog

After dropping user is able to create the same schema as below:

[code]

[2020-01-10 13:36] ebyhr commented on #2463
The cause is the second argument `deleteData` is specified as false.
https://github.com/prestosql/presto/blob/fa1f9325e2465732d615edc13a28fa7affa32e89/presto-hive/src/main/java/io/prestosql/plugin/hive/metastore/thrift/ThriftHiveMetastore.java#L925

[2020-01-10 14:51] ebyhr opened #2467 "Flaky TestCassandraTokenSplitManager.testNonEmptyTable"
https://github.com/prestosql/presto/pull/2466/checks?check_run_id=383456821

[code]

[2020-01-10 19:57] findepi opened #2469 "INSERT does not collect column statistics on write for newly created table"
[code]

-- no column stats saved, unless table is explicitly analyzed

[2020-01-10 21:02] brianolsen87 commented on #2441
Something else we may need to consider is how this would work with an alias that pointed to multiple indices.

[2020-01-10 21:04] findepi opened #2470 "Incorrect presto-hive jar shipped with server in development"
[code]

So far so good.

Now
[code]

Inside .tar.gz, the `hive-hadoop2` plugin should contain `1eb563b5f70d18caa208862f72577cbbc37c4a50`-sha1 version of the hive jar, not `b36888e43fa41c7d7be8cb3b4f07918f0ee801ec`.

This is problematic in development, because I need to rebuild iceberg when testing hive (eg i need to realize & understand the problem first).

[2020-01-10 21:04] findepi commented on #2470
cc @jvanzyl

[2020-01-11 03:01] martint opened #2473 "Release notes for 329"
## Dain Sundstrom
- [x] all checked
-  01-14 19:59:15    3941026943 Proxy task info for UI
-  01-15 02:17:48    2afff464a8 Add PageTitle to query timeline
-  01-15 02:18:59    c87c136781 Fix worker resource proxying
## David Phillips
- [x] all checked
-  01-12 13:53:17    71b846053f Remove usage of deprecated Murmur3 class
-  01-12 13:53:17    960f47ba1d Update to Airbase 95
-  01-13 17:52:13    0

[2020-01-11 03:26] mosabua commented on #2257
This is now live. We would love to get feedback about any error, missing functions and so on. Have a look at https://prestosql.io/docs/current/functions/list.html

[2020-01-11 03:26] #2257 closed

[2020-01-11 13:46] #2463 closed

[2020-01-11 13:46] ebyhr commented on #2473
[code]

https://github.com/prestosql/presto/pull/2466

[2020-01-11 16:17] #2452 closed

[2020-01-11 16:18] findepi commented on #2473
[code]

https://github.com/prestosql/presto/pull/2454 https://github.com/prestosql/presto/issues/2452

[2020-01-11 16:28] findepi commented on #2375
https://github.com/prestosql/presto/pull/2465/checks?check_run_id=383866997

[2020-01-11 16:30] findepi opened #2475 "Fix and reenable S3 Select for uncompressed files"

[2020-01-11 16:32] findepi commented on #2475
Until this is fixed, we disable S3 Select for uncompressed files.
cc @same3r

[2020-01-11 16:34] findepi commented on #2349
S3 Select supports skipping first header line, but it was not working for me correctly in my testing.
We disable S3 Select for uncompressed files.
cc @same3r

[2020-01-11 18:25] #2375 closed

[2020-01-11 19:48] findepi commented on #2473
[code]

https://github.com/prestosql/presto/pull/2399

[2020-01-11 23:04] findepi commented on #2467
https://github.com/prestosql/presto/pull/2471/checks?check_run_id=385155434

[2020-01-12 13:54] ebyhr commented on #2467
SizeEstimate.partitionsCount for non_empty_table table is 1024 when succeeded.

[code]

[2020-01-12 20:57] martint commented on #1997
cc @kasiafi

[2020-01-12 21:53] findepi opened #2480 "Inline constants"
Consider example:
[code]

The constant `1` is calculated at the line marked with `****` and then copied over exchanges, etc.
It could be pulled up right below the Output (or perhaps actually right before last Remote Exchange).

[2020-01-12 21:55] tooptoop4 opened #2481 "Add sybase connector"

[2020-01-13 08:21] findepi commented on #2473
[code]

https://github.com/prestosql/presto/pull/2471

[2020-01-13 10:07] sopel39 commented on #2473
[code]
https://github.com/prestosql/presto/pull/2451

[2020-01-13 13:57] sopel39 opened #2490 "Hash semi join build side is single-threader"

[2020-01-13 14:43] RosterIn opened #2491 "Implement ILIKE predicate"
Comparing case-insensitive strings can be source for confusion.
we must use lower() on both sides of the query like shown:
https://stackoverflow.com/questions/42850329/how-to-configure-presto-searches-to-be-case-insensitive

Some DBs like PostgreSQL extended to support also ILIKE

https://www.postgresql.org/docs/current/functions-matching.html

This is very useful. I hope this can be added to Pres

[2020-01-13 15:04] erhlee-bird commented on #2120
ElasticSearch 7.x changed behavior such that the publish_host now returns "{hostname}/{ipaddr}:{port}"

- https://github.com/elastic/elasticsearch/pull/45626/files

How it is addressed in other language clients.

- https://github.com/elastic/go-elasticsearch/blob/master/estransport/discovery.go#L170
- https://github.com/elastic/elasticsearch-py/pull/1039/files

Possible patch looking at the other

[2020-01-13 19:46] kokosing commented on #2473
[code]
#2444

[2020-01-13 20:34] sopel39 opened #2493 "Make stats update parallel in Hive connector"
Currently, stats are updated in sequence which takes a lot of time if there are many partitions. This should be parallelized in order to reduce INSERT or ANALYZE latency.

[2020-01-14 04:01] ebyhr opened #2497 "Flaky TestPrestoDriver.testQueryCancelByInterrupt"
[code]

https://github.com/prestosql/presto/pull/2496
https://github.com/prestosql/presto/pull/2496/checks?check_run_id=388195610

[2020-01-14 06:42] Praveen2112 commented on #2120
Can I take up this issue ?

[2020-01-14 06:56] wangwei216 opened #2498 "how to determine whether the PrepareStatement precompilation in Presto is actually executed？"
1. Hello, first of all, my purpose is to encapsulate a set of Client APIs that can support PHP, but Presto does not officially support the corresponding functions, so here we can only try to do it ourselves, I used https://github.com/360d-io-labs/PhpPrestoClient

2. After I executed [PREPARE statementXXX select count (identify) as totalNum, real_region_name, provider from user where real_region_na

[2020-01-14 08:00] rickw1028 commented on #2120
After change the elasticsearch http.host as below , issue fixed.

`# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
network.host: 0.0.0.0
`

[2020-01-14 10:22] AbhishekNew opened #2500 "Table created in Hive2.3.6 can not list in Presto"
created a table from Hive and trying to access using show tables; in presto.
When using Hive 2.1.1 it is working but for Hive 2.3.6 not working.
With Hive 2.3.6 it does not list the tables in Presto;
Steps as below:
[code]

[2020-01-14 10:23] alexey-fin opened #2501 "Iceberg integration: allow to specify LOCATION property on CREATE TABLE"
currently neither LOCATION nor EXTERNAL_LOCATION are not supported

[2020-01-14 10:43] ebyhr commented on #2500
Did you remove unnecessary lines from the result? I'm asking this question because Hive SHOW TABLES count is fewer than Presto result.

Also, could you share the SHOW CREATE TABLE result in Hive to confirm the entire table properties?

[2020-01-14 10:54] AbhishekNew commented on #2500
I already joined the community.

[2020-01-14 10:59] luhhujbb commented on #2441
Hi @brianolsen87 , I just share you my thinking, because I'm facing the issue the pull request #2478 solve and was thinking to implement before I find it and because the introduction ask for eventual method to infer if a field is an array or not.

It is clear that presto will not be able to support what is describe in elastic documentation here https://www.elastic.co/guide/en/elasticsearch/referen

[2020-01-14 11:13] ebyhr commented on #2500
@AbhishekNew Could you post it on `#troubleshooting` channel so that we can talk interactively? I'm sorry, but I couldn't identify your account because there are some accounts that have the same name.

[2020-01-14 11:28] AbhishekNew commented on #2500
Already posted there and thread is going on.

[2020-01-14 11:33] ebyhr commented on #2500
Thanks, I found it. Let’s continue the discussion in the thread instead of here.

[2020-01-14 12:15] sopel39 commented on #2473
[code]
https://github.com/prestosql/presto/pull/2488

[2020-01-14 12:25] findepi commented on #2498
Prepared statements should be prepared using `PREPARE`.

Since session state is kept on the client side, it's technically sufficient to put prepared statement in the HTTP header (without calling `PREPARE` first), but that's not guaranteed to work.

Does this answer your doubts?

[2020-01-14 12:25] findepi commented on #2498
BTW i recommend that you join https://prestosql.io/slack.html if you haven't yet done so.

[2020-01-14 14:17] ebyhr commented on #2241
@OmerJog By the way, could you tell me the view type you want to add a comment, remote view (e.g. view in PostgreSQL) or Presto view?

[2020-01-14 14:53] sopel39 commented on #2473
[code]
https://github.com/prestosql/presto/pull/1812

[2020-01-14 15:29] dprophet opened #2504 "Whats the process to include presto-oracle?"
Whats the process to include
https://github.com/marcelopaesrech/presto-oracle

Within this org's standard presto? Oracle is a big use case for us and, IMO, its better to have upstream.

[2020-01-14 15:32] findepi commented on #2504
@dprophet Presto community is already working on Oracle connector.
Please follow https://github.com/prestosql/presto/pull/1959.
Let me close this issue in favor of that PR.

[2020-01-14 15:32] #2504 closed

[2020-01-14 15:40] electrum commented on #2504
To directly answer your question, we’d need the author to submit the connector to the project as a pill request (with a signed CLA).

The main reason we don’t have an Oracle connector yet is that until very recently, Oracle did not allow distribution of their driver under terms compatible with an open source project.

[2020-01-14 16:30] sajjoseph commented on #2162
@kokosing - In JDBC, there are well established classes like TypeHandlingJdbcConfig.java, UnsupportedTypeHandling.java and TypeHandlingJdbcPropertiesProvider.java that handles unsupported types. We need similar classes for MongoDB connector.

Is it possible to move them to say SPI so that it is available to all connectors (including non-JDBC ones like MongoDB) or do you recommend us duplicate the

[2020-01-14 18:33] findepi commented on #1641
https://github.com/prestosql/presto/pull/2505/checks?check_run_id=389470534

[2020-01-14 19:07] jiegzhan opened #2506 "Document query.max-history, query.min-expire-age, query.max-age"
Shall we document ```query.max-history, query.min-expire-age, query.max-age``` at https://prestosql.io/docs/current/admin/properties.html?

[2020-01-14 20:04] dain commented on #2491
I know it isn't the same, but Presto does support case insensitive regular expression matching with `(?i)` flag. See https://prestosql.io/docs/current/functions/regexp.html for more information.

[2020-01-14 20:48] martint opened #2508 "Procedure to infer array fields in Elasticsearch"
As a complement to #2441, it'd be nice to have a procedure that given an index name, fetches a sample of documents, tries to infer which fields are arrays and generates the corresponding `_meta` entries for them.

[2020-01-14 20:48] martint commented on #2441
That's a great idea. We could add a [procedure](https://github.com/prestosql/presto/blob/master/presto-spi/src/main/java/io/prestosql/spi/procedure/Procedure.java) that given an index name, fetches a sample of documents, tries to infer which fields are arrays and generates the corresponding `_meta` entries for them. Let's do that as a separate task, though. I filed https://github.com/prestosql/pre

[2020-01-14 21:21] arminmaurice1990 commented on #1
@martint @findepi Would it be okay if we made a pr with the LIMIT then OFFSET ordering being allowed?

[2020-01-14 21:28] martint commented on #1
Can you elaborate? It's unlikely that queries that run in other systems will run out of the box in Presto unless they are very simple, anyway. There are subtle differences in dialects, support for certain SQL features and available functions.

[2020-01-14 21:30] electrum commented on #1944
Thanks for creating these examples. Done in [`presto-docs.sh`](https://github.com/prestosql/release-scripts/blob/master/presto-docs.sh)

[2020-01-14 21:30] #1944 closed

[2020-01-14 22:02] arminmaurice1990 commented on #1
https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax
As above, the syntax is almost fully interchangeable for non-trivial queries, save for the ordering of limit and offset (offset being part of the limit clause, same with Postgres syntax https://www.postgresql.org/docs/8.1/queries-limit.html which I know presto already translates to).

[2020-01-14 22:18] brianolsen87 commented on #2508
Two questions that immediately come to mind:
How big would the sample be (fixed or maybe percentage of available docs with max-sample-size)?
What to do if there are 0 docs?

[2020-01-14 22:25] brianolsen87 commented on #754
@zhenxiao any progress here? This is something i'm also looking to solve so if you aren't currently working on this I can take a look.

[2020-01-14 22:30] martint commented on #754
@brianolsen87, I don't think @zhenxiao is currently working on this, so feel free to grab it.

[2020-01-14 23:03] martint commented on #2508
I'd say a fixed sample to start with would be fine. If there are 0 docs, doing nothing would be fine.

We can always change the heuristics later, so I'd start with something really simple.

[2020-01-14 23:11] #2130 closed

[2020-01-15 00:54] electrum opened #2509 "Document Hive metastore caching"
Configs are in [`CachingHiveMetastoreConfig`](https://github.com/prestosql/presto/blob/master/presto-hive/src/main/java/io/prestosql/plugin/hive/metastore/cache/CachingHiveMetastoreConfig.java)

[2020-01-15 06:15] wangwei216 commented on #2498
1. then, if I want to query Presto through PHP, and I can support PrepateStatement, how can I do it? Can you give me some suggestions? Thank you

2. According to your opinion, even after I send the first HTTP request using PHP to execute prepare statementnamexx from xxxxx, the field value of "x-presto-prepared-statement" in the request header the second time does not need to get statementnamexx an

[2020-01-15 07:37] falalurahman commented on #1184
Is there any ETA on when this enhancement will be available?

[2020-01-15 08:46] zhenxiao commented on #754
could this commit resolve nested types:
https://github.com/prestodb/presto/commit/4222738e57bdf55b44c26f8b2f0c5c0ed1b7ca17

[2020-01-15 09:02] kokosing opened #2512 "Support SET SESSION AUTHORIZATION"
This is follow up of https://github.com/prestosql/presto/pull/2309#issuecomment-571781252

This could be used to set session user or set session extra credential.

PostgreSql docs: https://www.postgresql.org/docs/current/sql-set-session-authorization.html

[2020-01-15 09:07] kokosing commented on #2162
@sajjoseph You could move them to `presto-plugin-toolkit`, however I am not sure that they will match the use mongodb use case. So for now I would suggest to you to just copy them. Thanks to that you could introduce support for handling unsupported types iteratively. Forcing data type to be converted to varchar should be the first choice.

[2020-01-15 11:51] findepi commented on #2498
i never used https://github.com/360d-io-labs/PhpPrestoClient. It looks pretty not maintained recently.
I guess it doesn't support Prepared statements, so you need to support them on your own.
The proper way to do it is (aka protocol description):

1. send `PREPARE ..` query
2. save the value of `X-Presto-Added-Prepare` header (reference implementation https://github.com/prestosql/presto/blob/73e57

[2020-01-15 11:51] #2498 closed

[2020-01-15 12:22] sopel39 commented on #2473
[code]
https://github.com/prestosql/presto/pull/2236
This could be important for people that use exotic S3 FS implementations

[2020-01-15 14:15] RosterIn commented on #2491
so maybe on the backside the ILIKE can be implemented with regexp ?

[2020-01-15 15:35] ebyhr opened #2517 "Expose table comment in JDBC based connectors"

[2020-01-15 16:17] rushidmarne commented on #1076
@bb786112 @tooptoop4
Can anyone help me setup Ranger Service, I did as below but when I am doing Test Connection, it says "connection failed" ?
![Ranger-Presto Policy](https://user-images.githubusercontent.com/58569511/72450387-e58fc400-377f-11ea-8a4e-85eaeebc55b2.PNG)

[2020-01-15 17:33] martint commented on #1641
https://github.com/prestosql/presto/pull/2478/checks?check_run_id=391531202

[2020-01-15 17:57] findepi opened #2518 "Hard to understand error message when worker misses catalog config"
Consider setup where coordinator has `hive` catalog, but worker does not.

[code]

[code]

Expected: something telling that the worker has no `hive` catalog configured.

[2020-01-15 19:05] dain commented on #2491
The existing `LIKE` is implemented with a regular expression, so if `ILIKE` is added I would expect the same.

[2020-01-15 19:20] findepi commented on #2518
I am wrong. This is now when a worker has no hive catalog configured.
It's when something much less likely -- a worker has the catalog defined, but impl'd by a different connector.

[2020-01-15 19:20] #2518 closed

[2020-01-15 19:36] brianolsen87 commented on #754
So I had one idea I wanted to test out. Once we resolve #2441 and arrays are supported, couldn't we just treat nested objects the same as regular objects if we avoided doing pushdown queries on nested fields? It may be somewhat of a performance tradeoff but would be considerably less code to manage.

[2020-01-15 19:48] martint commented on #754
@brianolsen87, indeed. Nested objects should appear as regular objects (mapped to ROW types in Presto).

As a separate improvement, we can take advantage of support for [dereference pushdown](https://github.com/prestosql/presto/blob/master/presto-spi/src/main/java/io/prestosql/spi/connector/ConnectorMetadata.java#L771) and [filter pushdown](https://github.com/prestosql/presto/blob/master/presto-sp

[2020-01-15 20:10] brianolsen87 commented on #754
Okay, so for the first step we can implement `nested` type the same as `object` type to simply map to a `ROW` and just make sure no pushdown occurs or that no pushdown flags are set (haven't gotten that far) and create a separate issue to add those in at a later time.

[2020-01-15 20:20] martint commented on #2441
Fix merged

[2020-01-15 20:20] #2441 closed

[2020-01-15 20:36] martint commented on #2473
[code]

[2020-01-15 20:38] brianolsen87 opened #2519 "Add support to prune projections and leverage filters on elasticsearch nested fields"
Issue #754 adds support to for presto to handle nested fields but currently only maps

Add support for [dereference pushdown](https://github.com/prestosql/presto/blob/master/presto-spi/src/main/java/io/prestosql/spi/connector/ConnectorMetadata.java#L771) and [filter pushdown](https://github.com/prestosql/presto/blob/master/presto-spi/src/main/java/io/prestosql/spi/connector/ConnectorMetadata.java#

[2020-01-15 20:38] brianolsen87 commented on #754
Created The second half of this issue in #2519

[2020-01-15 23:49] martint commented on #2473
[code]

[2020-01-16 12:40] brianolsen87 commented on #754
I missed this @zhenxiao . I looked at that commit and it seems some of the modified files no longer exist. It seems like this was merged at some point? [PR1001](https://github.com/prestosql/presto/pull/1001)

[2020-01-16 13:31] academy-codex commented on #2481
I'll take this up. Have already implemented it.

[2020-01-16 13:36] kokosing opened #2523 "Error when querying information schema with empty table_name predicate"
[code]

Is causing:
[code]

[2020-01-16 13:37] kokosing commented on #2523
I think this kind of query should evaluate to empty relation during the planning.

[2020-01-16 13:50] academy-codex commented on #2481
@findepi Can you assign this to me ?

[2020-01-16 17:25] martint opened #2530 "Reduce RPM size"
The RPM is currently at 949MB. This is getting close to Sonatype's 1G limit for published artifacts.

Unfortunately, RPM doesn't support hardlinks, so another approach would be to create symlinks for libraries that are common across multiple plugins.

[2020-01-16 18:03] martint commented on #754
Yes, but we completely re-worked how the connector operates. You used to have to declare the mappings between Presto tables/columns to Elasticsearch indexes/fields manually. Now they are derived automatically and dynamically.

[2020-01-17 02:33] ebyhr opened #2533 "Incorrect results for parse_datetime function"
As far as I confirmed, the month of year always returns January.
[code]

If we remove the following `DD` or replace it with `dd`, it returns the right result.
[code]

https://stackoverflow.com/a/59285577/4087465

[2020-01-17 02:57] martint commented on #2533
It seems to be picking up the month as minutes, no?

[2020-01-17 03:12] ebyhr commented on #2533
Sorry, I pasted the wrong result. Fixed.

[2020-01-17 03:46] #2533 closed

[2020-01-17 08:16] findepi commented on #2533
thanks @ebyhr for catching me

[2020-01-17 08:21] findepi commented on #2473
[code]

https://github.com/prestosql/presto/pull/2524

[2020-01-17 10:06] findepi opened #2537 "CTAS failure during commit leaves table behind, cannot be retried"
**Given**

[code]

**When**
[code]

**Yet**
[code]

**Expected**
* query cancels (and leaves nothing behind) or query succeeds

**Notes**
The query writes data fast (less than 5s), but it takes a lot time to commit transaction, as this includes quite a few calls to the metastore.
Query gets killed after 5s run time, yet commit completes.

Query cannot be tried, because the table already exists.

[2020-01-17 10:22] ebyhr commented on #2491
Adding the optional keyword might be one of the candidates. This is Teradata syntax to control the case sensitivity.
[code]

[2020-01-17 14:13] wendigo opened #2539 "Flaky io.prestosql.jdbc.TestPrestoDriver#testQueryCancelByInterrupt"
[code]

https://github.com/prestosql/presto/pull/2527/checks?check_run_id=395077575

[2020-01-17 15:25] martint commented on #2539
Duplicate of https://github.com/prestosql/presto/issues/2497

[2020-01-17 15:25] #2539 closed

[2020-01-17 15:53] l1x opened #2541 "Query details in Resource Utilization Summary"
I am trying to understand what our query does and I came across this interesting information while executing it:

[code]

What is really interesting to me is the Internal Network Rows and Internal Network Data.

The source tables has only 7.05M rows.

The query:

[code]
What I would like to understand why is this generating 28.3M Internal Network Rows and how could I avoid it in general. What is t

[2020-01-17 17:59] martint commented on #2541
Can you provide the output of `EXPLAIN ANALYZE`?

[2020-01-17 21:07] l1x commented on #2541
@martint here it is:

https://gist.githubusercontent.com/l1x/b135def71b7210fa87a05e30aae4c454/raw/0e8d7ba046a63792d7e5b6856c4da7efd0696ffd/gistfile1.txt

[2020-01-17 21:37] dain commented on #2491
We also could just add a function.

[2020-01-17 21:57] martint commented on #2541
Internal network rows/bytes represents the total number of data shuffled across all stages in the query. For this particular query, you have 4 stages that account for the bulk of the rows generated:

[code]

For a distributed join (the default, unless you turn on the cost based optimizer), there's not much you can do to avoid that. The shuffles are needed to reorganize the data according to the ke

[2020-01-17 23:27] findepi commented on #1766
Done in the new Launcher.

[2020-01-17 23:27] #1766 closed

[2020-01-17 23:30] findepi commented on #170
both exist now. let me close this

[2020-01-17 23:30] #170 closed

[2020-01-18 02:11] ebyhr commented on #2312
I'm going to close this issue because it depends on the Spark implementation. Please reopen or left a comment on Slack if you need help.

[2020-01-18 02:11] #2312 closed

[2020-01-18 07:17] findepi commented on #2473
[code]

https://github.com/prestosql/presto/pull/1917

[2020-01-18 08:45] tooptoop4 commented on #1132
@chancez did u solve this?

[2020-01-18 15:11] l1x commented on #2541
Thanks @martint

[2020-01-18 15:11] #2541 closed

[2020-01-19 05:48] DerekRen opened #2550 "does it supports Cloudera Apache Sentry"

[2020-01-19 10:16] tooptoop4 commented on #2550
nah

[2020-01-19 17:16] OmerJog commented on #2241
@ebyhr that's exactly what I want.
Comments for native prestos views.

[2020-01-19 17:57] electrum commented on #2550
Apache Sentry is not currently supported. However, it is available today in Starburst Enterprise.

I invite you to join the community on Slack: https://prestosql.io/slack.html

[2020-01-19 17:57] #2550 closed

[2020-01-20 09:36] sopel39 commented on #2473
[code]
https://github.com/prestosql/presto/pull/2527

[2020-01-20 09:49] sopel39 commented on #2537
Query is stuck in `FINISHING` state, which cannot be terminated. What would be the solution here?

It seems that client should be resilient against such state, because it might happen for other reasons too (e.g lost communication between client and Presto).

[2020-01-20 10:01] findepi commented on #2537
My think is -- the `FINISHING` state is either short (nothing to commit)m or cannot be interrupted (because apparently we cannot abort transaction during its commit phase).
So I think that `FINISHING` state should be uninterruptible and attempt to fail/cancel query in this state should be ineffective (ideally: should throw).

I am aware this isn't ideal (committing can take considerable amount of

[2020-01-20 12:53] findepi commented on #2473
[code]
https://github.com/prestosql/presto/pull/2538

[2020-01-20 13:40] findepi commented on #2428
https://github.com/prestosql/presto/runs/398940841

[2020-01-20 18:45] l1x commented on #2450
I don't think there is sorting on writes:

https://github.com/prestodb/presto/issues/6666#issuecomment-283849259

[2020-01-20 19:07] chancez commented on #1132
I'm not using Presto currently as I've changed jobs. I haven't fixed this.

[2020-01-20 19:14] OleksiiDuzhyi commented on #2450
Bug was opened based on this slack discussion - https://prestosql.slack.com/archives/CGB0QHWSW/p1573745523046400 .

There is no way to guarantee on disk data sorting during insert with latest `optimizer.skip-redundant-sort` optimization if sort on writes is not supported.

[2020-01-20 19:46] electrum commented on #2537
I agree, we should not interrupt the connector in the middle of commit or abort calls.

[2020-01-21 01:17] electrum commented on #2473
[code]
#2306

[2020-01-21 01:22] krishnadg opened #2564 "Add Hive plugin support for assuming various AWS IAM roles depending on the target S3 path."
When providing presto as a service/platform to other teams, organizations, etc., there may be a requirement for the cluster's IAM role to assume a role outside of the host cluster's AWS account when working through the Hive Plugin.

One reason for this is that there may be object level restrictions for data stored in S3 which would prevent the presto cluster from being able to read/process the dat

[2020-01-21 10:15] tqh opened #2565 "Make https://prestodb.io/ deprecated"
https://prestodb.io/ and https://prestosql.io/ both look like official pages for Presto.
One has version 230 as latest release one has 328.

It is extremely confusing and doesn't help anyone. So either deprecate or redirect that old thing..

[2020-01-21 10:31] findepi commented on #2565
@tqh

Almost all the Presto team (the creators, community, bigger & smaller contributors) works on prestosql.
However, technically speaking, prestodb remains maintained by Facebook. That's why the site remains up.

You can read more about this at https://prweb.com/releases/prweb16070792.htm and https://github.com/prestosql/presto/issues/380

We can chat further on the [Presto community slack](http

[2020-01-21 10:31] #2565 closed

[2020-01-21 11:13] tqh commented on #2565
Could you at least add a notice that you probably want the active maintained project. I spent three days working with the wrong info because of it. It is very unfriendly to your users.

[2020-01-21 11:18] findepi opened #2566 "Run AbstractTestHiveFileSystem with local filesystem (file:) too"
Running `AbstractTestHiveFileSystem` (eg `testGetFileStatus` in particular) would assure soundness of `TestHiveIntegrationSmokeTest` test class (which runs on local filesystem too).

[2020-01-21 17:21] Darych opened #2568 ""Service announcement failed" with Password File Authentication"
Hi!
I'm running PrestoSQL 327.
I'm trying to use Password File Authentication with File Based System Access Control.
I got errors in Presto coordinator/server on startup:
[code]

Config.properties:
[code]

Node.properties:
[code]

password-authenticator.properties
[code]

access-control.properties
[code]

user_rules.json
[code]

I also tried with the 328 release and faced the same issue.

[2020-01-21 18:18] martint commented on #2473
[code]

https://github.com/prestosql/presto/pull/2561

[2020-01-21 20:35] Darych commented on #2568
Thanks to @electrum !
He wrote me in Slack:
"You need to add this property on coordinator and all workers:
internal-communication.shared-secret=xxx
Use a long random string for the value that is the same everywhere. See https://prestosql.io/docs/current/security/internal-communication.html"
Now the issue is gone.

[2020-01-21 20:35] #2568 closed

[2020-01-22 01:49] oneonestar opened #2573 "Fix json_array_get() function"
According to the [documentation](https://prestosql.io/docs/current/functions/json.html), `json_array_get()` is broken:

We could fix the behavior of the existing functions, or create better functions to replace them.

Related to: https://github.com/prestosql/presto/pull/2446#discussion_r369233354

[2020-01-22 02:15] martint commented on #2491
Yes, a function would be more appropriate than adding dedicated non-standard syntax.

[2020-01-22 12:59] sopel39 opened #2578 "Expose rule stats in QueryStats"
Currently we gather JMX stats for rule execution. However, we could also expose rule stats for particular query in `QueryStats`. This would simplify query debugging

[2020-01-22 13:00] sopel39 opened #2579 "Expose planningCpu time in QueryStats"
We could expose total CPU planning time in `QueryStats`. This would simplify debugging planning issues and latency.

[2020-01-22 13:01] sopel39 opened #2580 "Calculate CPU time for rule executions"
In JMX stats we currently collect rule invocation count and execution wall time. We could also collect rule CPU execution time.

[2020-01-22 18:59] electrum opened #2583 "Investigate Sphinx autosectionlabel extension"
https://www.sphinx-doc.org/en/master/usage/extensions/autosectionlabel.html

We'd want the `autosectionlabel_prefix_document` option.

[2020-01-22 19:44] martint commented on #2473
[code]

https://github.com/prestosql/presto/pull/2582

[2020-01-22 20:35] findepi commented on #2401
Closing in favor of https://github.com/prestosql/presto/issues/1169. Please reopen & comment if you have other reasons to bump okhttp in mind.

[2020-01-22 20:35] #2401 closed

[2020-01-22 21:35] findepi commented on #2473
[code]

https://github.com/prestosql/presto/pull/2549

[2020-01-22 22:24] electrum commented on #2428
https://github.com/prestosql/presto/runs/403929406

[2020-01-22 23:55] electrum commented on #2564
Thanks for raising this issue. We've also been working on this feature and will put it up for review soon. We'd actually started with a simple mapping like you propose, but ended up with a more fully featured JSON config file that allows overriding AWS credentials and specifying multiple allowed roles. I'd appreciate you taking a look at the design of this once the PR is ready.

[2020-01-23 05:00] mallika-singhi opened #2592 "Presto Connector for Tableau"
Timestamp conversion done incorrectly while connecting presto connector as data source in Tableau.

Database details as follows:
presto:default> select user_id,authorized_date from taxonomy.dim_users where user_id = 2325954;
 user_id |     authorized_date
 **2325954 | 2018-07-01 00:19:36.000**

hive> select user_id,authorized_date from taxonomy.dim_users where user_id = 2325954;
user_id	authorized

[2020-01-23 08:02] #2473 closed

[2020-01-23 10:21] findepi commented on #2592
Timestamp is presented in session timezone-dependent form.
So the textual representation you see depends on where you run the client.
See more https://github.com/prestosql/presto/issues/37
You can configure the session timezone eg to UTC -- instructions depend on the library you use.

Are you using JDBC or ODBC with Tableau?
(AFAICT it supports both now)

[2020-01-23 10:33] findepi opened #2593 "SHOW CATALOGS fails with "Internal error" when all catalogs filtered out by access control"
There always is a catalog. If nothing is installed, there is a `system` catalog.
However, `AccessControl` may legitimately filter it out.

Then --
[code]

[2020-01-23 13:00] findepi opened #2595 "Release notes for 330"
## Dain Sundstrom
- [x] all checked
-  01-27 09:24:31    0f01781f01 Add extracted user
-  01-27 09:24:31    73eb777f5d Add canImpersonateUser access control check
-  01-27 10:39:41    2ed8a5f801 Cleanup session supplier
-  01-27 11:50:25    f8a14e1e42 Allow overriding required workers and required workers max wait time through system session properties
-  02-02 16:57:08    783841a739 Remove unused

[2020-01-23 13:02] mallika-singhi commented on #2592
thanks the the reply.

using presto connector directly to connect to Tableau ,s/s attached for the same.
![Screenshot 2020-01-23 at 6 31 20 PM](https://user-images.githubusercontent.com/56252123/72986608-97796100-3e0e-11ea-83fe-8438fe797f6e.png)

Any way i change the timezone ?

[2020-01-23 14:16] findepi commented on #1185
Fixed by https://github.com/prestosql/presto/pull/2265

[2020-01-23 14:16] #1185 closed

[2020-01-23 14:18] findepi commented on #2595
[code]
https://github.com/prestosql/presto/issues/1185 https://github.com/prestosql/presto/pull/2265

[2020-01-23 15:12] findepi commented on #2592
@mallika-singhi is it something called a "Web Connector" in Tableau?
(pardon my questions; as you see, i'm not Tableau expert)

[2020-01-23 16:40] kokosing opened #2598 "Fix flaky ryuk docker container used in tests"
https://pipelines.actions.githubusercontent.com/sJrKZtZsjYLeyqPixYxcTJp8fX9YNlwyJbmEGSC0oymXVDSpbK/_apis/pipelines/1/runs/3112/signedlogcontent/15?urlExpires=2020-01-23T16%3A35%3A17.4598166Z&urlSigningMethod=HMACV1&urlSignature=aM4nXPvDclM%2Fy%2Bccl0wrqzIXme0efQX9znEwC6VfiNs%3D
[code]

[2020-01-23 20:52] tooptoop4 opened #2600 "Why does 'order by' need more memory than entire dataset size?"
Update: issue affects prestosql 328 version too: Query exceeded per-node user memory limit of 26GB [Allocated: 26.00GB, Delta: 53.54MB, Top Consumers: {OrderByOperator=20.97GB, MergeSortedPages=5.02GB, GenericSpiller=620kB}]

Originally raised as https://github.com/prestodb/presto/issues/13846

Got below error after running 'select * from hive.redact order by time_stamp desc'
Data is hudi parquet

[2020-01-23 20:56] findepi commented on #2598
@kokosing please create an issue in testcontainers too

@bsideup is it possible to override & pull the image from docker hub?
(we already depend on docker hub, so if it's down, we won't run anyway)

[2020-01-23 21:02] bsideup commented on #2598
@findepi sure, see https://www.testcontainers.org/features/configuration/#customizing-ryuk-resource-reaper ( `ryuk.container.image` )

although I am surprised that it was that unstable for you. Does it happen regularly?

[2020-01-23 21:06] findepi commented on #2598
@bsideup thanks for quick feedback! Do you also provide "official" images on docker hub?

no, it doesn't happen regularly.

[2020-01-23 21:09] bsideup commented on #2598
@findepi we don't since the name was taken by a random guy who refused to give it :(

[2020-01-24 07:02] mallika-singhi commented on #2592
no its not a web connector.
Its directly a presto driver connector.
Presto version i have used is SimbaPresto1.1-64-bit (1).msi

Links for reference:
https://www.tableau.com/support/drivers
https://help.tableau.com/current/pro/desktop/en-us/examples_presto.htm

[2020-01-24 07:49] findepi commented on #2592
@mallika-singhi please add `TimeZoneID=UTC` to the odbc connection string.

Also, please join our slack https://prestosql.io/slack.html, it has dedicated #troubleshooting channel.

let me close the issue as answered, you can still comment here, or move to slack

[2020-01-24 07:49] #2592 closed

[2020-01-24 10:41] sopel39 opened #2610 "RetainedSizeInBytes for VariableWidthBlock is high when it is de serialized"
When a `VariableWidthBlock` or a Dictionary Block (whose Dictionary is a `VariableWidthBlock`) is de serialized , the `retainedSize` for those blocks are very high. The raw content of the serializedPage are stored in a Slice. When we try to de serialize a `VariableWidthblock`, we use `sliceInput.readSlice(blockSize)` to get the Slice for the block, but the retainedSize for the Slice which is used

[2020-01-24 10:41] sopel39 commented on #2610
Some "old" fix proposal: https://github.com/prestodb/presto/pull/10633,

[2020-01-24 11:28] tooptoop4 opened #2614 "Bump aws-sdk to 1.11.697"
Fixes https://github.com/prestosql/presto/issues/1132

[2020-01-24 11:31] tooptoop4 commented on #1132
So i checked prestodb 220 does not use proxy but prestosql does (it gets it from linux env variables). After running a hive query you can see in the server.log: 2020-01-24T10:12:57.755Z        INFO    hive-hive-0     com.amazonaws.http.AmazonHttpClient     Configuring Proxy. Proxy Host: redact Proxy Port: redact

Problem is it does not allow setting them to empty.
I tried in presto jvm.config:
-Dh

[2020-01-24 11:58] wendigo opened #2616 "Flaky test io.prestosql.operator.TestTopNRowNumberOperator"
On multiple builds I've notices crashing builds:

[code]

[2020-01-24 11:58] wtfzambo opened #2617 "Feat request: add possibility to format "interval day to second" types"
Opening this issue as I have been suggested to do so [here](https://stackoverflow.com/questions/59878009/presto-sql-athena-how-to-return-only-hours-minutes-and-seconds-from-interv/59881562?noredirect=1#comment105902336_59881562).

Currently, "interval day to second" types are formatted like this:
`d hh:mm:ss.ms`. e.g.: `0 03:28:52.489`

The only way to display the output in a different format is t

[2020-01-24 12:05] wendigo commented on #2616
Reproduce:

[code]

[2020-01-24 12:31] wendigo commented on #2616
[code]
./mvnw -pl presto-main surefire:test -Dtest=TestTopNRowNumberOperator
[code]

[2020-01-24 12:54] sopel39 commented on #2600
Related to: https://github.com/prestosql/presto/issues/2610

[2020-01-24 12:56] sopel39 commented on #2616
I wonder if it leaves heap dumps. Then https://github.com/prestosql/presto/pull/2400 could help

[2020-01-24 13:21] findepi commented on #2595
[code]

https://github.com/prestosql/presto/pull/2555

[2020-01-24 13:22] tooptoop4 commented on #2600
When setting pages-index.eager-compaction-enabled=true the query works:

some stats -
    "peakRevocableMemoryReservation" : "9.22GB",
    "peakTotalMemoryReservation" : "9.46GB",
    "peakTaskUserMemory" : "9.32GB",
    "peakTaskRevocableMemory" : "9.22GB",
    "peakTaskTotalMemory" : "9.35GB",
    "physicalInputDataSize" : "796.67MB",
    "internalNetworkInputDataSize" : "16.31GB",
    "rawInput

[2020-01-24 14:18] ebyhr commented on #2341
@getGitxxx  Sorry for my late response. I confirmed this issue was fixed in version 329. Could you try the latest version?
https://prestosql.io/download.html

[2020-01-24 16:10] #2391 closed

[2020-01-24 17:40] ayushbilala opened #2621 "Query Failure while worker is in SHUTTING_DOWN state"
Consider the below scenario,
User submits a query to Presto cluster. Same time a shutdown signal is sent to one of the Presto workers.
Query fails with a very generic error "No nodes available to run query".
Presto UI shows all the tasks are aborted.

I think below could be the possible cause,
Query received by Presto coordinator. Coordinator identifies a list of workers where the query can run. I

[2020-01-24 18:00] martint commented on #2593
The issue is that the rewrite is creating a VALUES syntax node with no rows.

The long-term fix for this is to add first-class support for `SHOW xxx` to the planner instead of relying on syntactic rewrites and create an empty ValuesNode directly. In the short term, we'll have to fix it by synthesizing a `VALUES` with at least one bogus row and a `WHERE false` on top of it.

[2020-01-24 19:35] martint commented on #2617
We could extend the `format` function (since formatting intervals would share many of the common format specifiers that dates and time types use). Alternatively, we could add a `format_interval` function, but I think that's less desirable.

[2020-01-24 19:54] mosabua opened #2623 "Document some jmx metrics"
Question on slack:

For jmx metrics such as numberofleakedqueries, querieskilledduetooutofmemory, blockednodes, and assignedqueries under clustermemorypool and clustermemorymanager, are they cumulative count since cluster start, or are they a running average of say 5m... not sure how to find documentation on these, so any help would be appreciated!

Answer from @martint :

NumberOfLeakedQueries: n

[2020-01-24 21:24] martint opened #2624 "Implement limit pushdown for elasticsearch connector"
Also, if limit is pushed down, we should be able to optimize the call to elasticsearch to either do it without a scroll (if the limit is smaller than the default scroll size), or limit the scroll size to the effective limit.

[2020-01-24 22:45] lhofhansl opened #2625 "Allow changing ownership of a scheme or GRANT/REVOKE on a schema (Hive connector)"
Not sure this is covered anywhere else... Apologies if it is.

Currently in the hive connector when hive.security=sql-standard, only an admin user can create a schema and only an admin or the owner of a schema can create tables in it - by inference only users granted the "admin" role can ever create any tables.
EDIT: file based access control is too static for us.

We have a use case where we woul

[2020-01-25 00:51] lhofhansl commented on #2625
Postgres has this:
[code]
(https://www.postgresql.org/docs/9.0/sql-grant.html)

[2020-01-25 01:17] mosabua opened #2627 "Docs for SQL LIKE"

[2020-01-25 02:32] ebyhr commented on #2595
[code]
https://github.com/prestosql/presto/pull/2557

[2020-01-25 03:24] ebyhr commented on #2500
I'm going to close this issue because it's due to restarting of the embedded derby metastore. Please reopen or ping in Slack if you need further help.

[2020-01-25 03:24] #2500 closed

[2020-01-25 09:08] findepi commented on #2617
@martint do you mean https://prestosql.io/docs/current/functions/datetime.html#date_format or https://prestosql.io/docs/current/functions/conversion.html#format?

[2020-01-25 09:12] findepi opened #2629 "`format` function should preserve padding of `char` values"
https://github.com/prestosql/presto/blob/a6eb5bb8fb47f6260307a84714b6b46072f72ab9/presto-main/src/main/java/io/prestosql/operator/scalar/FormatFunction.java#L205-L206

[2020-01-26 03:41] #2449 closed

[2020-01-26 03:46] ebyhr commented on #2595
[code]
https://github.com/prestosql/presto/issues/2449

[2020-01-26 19:44] lhofhansl commented on #2625
Some more info... Hive can grant access to schemas, but it does not behave as expected (IMHO) - it merely grant rights to all tables in the schema.

My main question here is: Can we deviate from Hive's security model in Presto?
I looked at Hive's Metastore DB schema and it seems expressive enough to do what I'm proposing in option (1) above. If so I'd try to provide a PR.

At the minimum I can do

[2020-01-26 20:14] electrum commented on #2625
The problem with deviating from the Hive security model is that it would cause problems with using both Hive and Presto (or other systems) against the same metastore. However, if the metastore API supports it, then it seems reasonable to implement, possibly with a config flag to disable it by default.

[2020-01-26 21:58] findepi commented on #2595
[code]
https://github.com/prestosql/presto/pull/2601

[2020-01-26 22:44] findepi commented on #2616
Failed on master @ https://github.com/prestosql/presto/runs/409844299?check_suite_focus=true

[2020-01-27 01:36] lhofhansl commented on #2625
What's really needed is a different admin per database/schema - with a separate set of users, roles, and database objects. That seems tricky.

In Presto I *could* get that by running multiple metastores. Maybe not as bad as I thought, since they're stateless anyway. (They can use the same database sever(s), just different databases/schemas and users)... And then use multiple catalogs in Presto as

[2020-01-27 02:33] Lewuathe commented on #1169
Since we have found upgrading OkHttp is not the solution, disabling the workaround for the latest JDK would be the resolution.

[2020-01-27 08:47] martint commented on #2595
[code]

#2535

[2020-01-27 09:24] dain commented on #2625
Although there is no way to change owner in Presto, it does look like Presto correctly checks the Hive metastore for database ownership permissions for `create table` and `drop schema`, so if you have a Hive installation then you could run the commands there as a work around until Presto has a way to change ownership.

I didn't follow this.  In Hive with sql standard security enabled, you must be

[2020-01-27 10:55] dain commented on #2595
[code]

#2484

[2020-01-27 12:51] martint commented on #2617
I meant https://prestosql.io/docs/current/functions/conversion.html#format. `date_format` would be weird, since it's designed to take a timestamp and has to be generally symmetric with `date_parse`.

[2020-01-27 14:51] findepi commented on #1741
Done in https://github.com/prestosql/presto/pull/2503, thanks @luhhujbb!

[2020-01-27 14:51] #1741 closed

[2020-01-27 17:36] keeganmccallum opened #2643 "Support access to JWT via SQL"
The ability to access the claims of a JWT via SQL would provide a lot of power for handling authorization via views or eventually row-level security policies when supported. Postgrest uses this model to handle authorization and it works quite well IMHO: http://postgrest.org/en/v6.0/auth.html#jwt-from-sql

[2020-01-27 18:07] findepi commented on #2428
Failed again (in https://github.com/prestosql/presto/pull/2636)

[2020-01-27 19:36] findepi commented on #2616
Failed https://github.com/prestosql/presto/runs/411331106 (https://github.com/prestosql/presto/pull/2594)

[2020-01-27 19:40] lhofhansl commented on #2625
Sorry I wasn't clear there. I specifically meant within Presto. As is, you have to be admin to create a schema, and an admin can drop any schema. By extension that means that any user that can create a schema can drop any other schema.

After some more reflection I think what we should add to Presto is just this:
ALTER SCHEMA <schema> SET OWNER {USER|ROLE} <principle>
(Hive has exactly this syntax

[2020-01-27 19:46] peterulsteen commented on #2614
I, too, would love to see the aws-sdk upgraded to at least 1.11.623.

I've got a simple Presto cluster deployed to Kubernetes via AWS EKS. I was hoping to use the[ EKS feature to grant an appropriate IAM role to the K8s service account](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) (rather than granting the role to the underlying EC2 nodes). However, accordi

[2020-01-27 21:55] findepi opened #2645 "Throw SQLRecoverableException where applicable"

[2020-01-27 22:16] paulolieuthier commented on #1169
Is there a way to workaround the issue from the JDBC configuration?

[2020-01-27 22:26] karthikch53 commented on #2645
Hi @findepi thanks for looking into the issue. We run queries on a cluster that's shared between apps. There were scenarios when a failed query runs without issues when the app executes the same query moments later. The idea is to look at the error codes so that client can implement the standard retry/backoff logic.
It would be even better if Presto can throw a SQLRecoverableException

[2020-01-27 23:57] Lewuathe commented on #1169
@paulolieuthier We do not have a configuration to disable socket channel or ensure to use HTTP 1.1.

[2020-01-28 07:56] #2629 closed

[2020-01-28 07:58] findepi commented on #2595
[code]

https://github.com/prestosql/presto/pull/2636 https://github.com/prestosql/presto/issues/2629

[2020-01-28 10:27] electrum commented on #2645
I don't think this is something that can be solved in only the JDBC driver. The problem is that the concept of recoverable errors is connector specific, but we don't have a way to communicate that today. For example, `HIVE_INVALID_METADATA` is a permanent error, but `HIVE_METASTORE_ERROR` is (likely) a transient error. The engine only knows that these are `EXTERNAL` errors.

[2020-01-28 11:13] martint commented on #2625
The standard syntax for specifying an owner when creating a schema is

[code]

So, to be consistent with the specification I'd suggest:

[code]

[2020-01-28 12:52] paulolieuthier commented on #1169
OK, looking forward to the next release!

[2020-01-28 13:03] wendigo commented on #1138
@electrum what is desired behaviour here? Using asBinary() as a validation method is not valid because ```POINT EMPTY``` is valid representation in WKT (Well-Known Text format) but invalid in WKB (Well-Known Binary format) (it throws).

If ST_GeometryFromText() will throw eagerly then I won't be able to do: ```select st_isvalid(ST_GeometryFromText('POLYGON ((0 0, 1 0))'));``` because query will fa

[2020-01-28 13:57] wendigo commented on #1138
I've checked how postgis works:

[code]

[code]

[code]

[code]

[2020-01-28 14:53] guyco33 opened #2652 "Query fails on NoSuchElementException since 329"
On version `329`:

[code]
**fails**

[code]
**succeed**

On version `328` both works

stack trace is:
[code]

[2020-01-28 15:17] wendigo commented on #1138
https://github.com/prestodb/presto/issues/12289

[2020-01-28 16:02] martint commented on #1138
As an aside, `ST_isValid` is *not* meant to validate whether the WKT or WKB is well-formed. That's the job of `ST_GeometryFromText` and `ST_GeomFromBinary`. `ST_IsValid` is responsible for performing logical validations (e.g., both coordinates of a point must be null or both non-null, etc).

[2020-01-28 16:18] martint commented on #1169
@Lewuathe, since we're seeing more users hit this issue, we'd like to get that workaround in quickly. Would you be able to send a PR in the next few days? Hopefully we can include it in the next release.

[2020-01-28 16:40] findepi commented on #2645
@electrum than we need a way to access the error codes in JDBC (`SQLException` subclass?)

[2020-01-28 17:13] dain commented on #2537
We discussed offline and agreed to:
* Change `TransactionManager.asyncCommit` to return a specialized commit job/task object
* Change `QueryStateMachine` fail calls delegate to commit object, so failure after commit starts is "owned" by the commit object.
* Change SPI `ConnectorTransactionMetadata.commit` to return a  specialized commit job/task object that has an `abort` method.
* On failure duri

[2020-01-28 18:47] lhofhansl commented on #2625
Let's add both, the CREATE and the ALTER syntax.
I'll work on the change file a PR (might take a bit, since it's my first Presto change.)

[2020-01-28 18:52] lhofhansl commented on #2625
Proposed schema change:

[code]

[2020-01-28 21:59] chu-salesforce opened #2658 "Support SSL/TLS for Hive Metastore"
It is a desired feature to support SSL connection to a custom hive metastore in the Hive connector. Some foundation work has already been done, but the feature is not yet complete:

https://github.com/prestosql/presto/commit/b46d506a062f487cc81348f00ebf681cfdc92693

A new flag will need to be added to ThriftMetastoreConfig, which turns on/off SSL:

https://github.com/prestosql/presto/blob/master/p

[2020-01-28 23:00] manishmalhotrawork opened #2660 "Iceberg: test partition pruning"
Iceberg connector has implemented partition pruning.
Though there are not test-case to validate it.

[2020-01-28 23:01] manishmalhotrawork commented on #1324
@lxynov https://github.com/prestosql/presto/issues/2660
added issue for ToDo
"Needs correctness tests for partition pruning. (also validate the pushdown is happening by checking the query plans?)"

[2020-01-28 23:14] manishmalhotrawork commented on #2660
@lxynov

What I found is,

there is test-case in Hive test-case, which validate the partition pruning.
`TestHiveIntegrationSmokeTest.testPartitionPruning`

which is dependent on the `ConnectorTableProperties` returned by
` public ConnectorTableProperties getTableProperties(ConnectorSession session, ConnectorTableHandle table)` of `HiveMetadata`

In `IcebergMetadata` its returning default `Connecto

[2020-01-28 23:28] mosabua opened #2661 "Doc requirement for glue config"
User support on slack discivered the fact that

[code]
is needed for glue usage so that the metastore.uri property is not required. Rest of params are used to get URI.

[2020-01-28 23:31] mosabua commented on #2661
We should just add an initial sentence about this need under the title at https://prestosql.io/docs/current/connector/hive.html#aws-glue-catalog-configuration-properties

It is actually documented in https://prestosql.io/docs/current/connector/hive.html#hive-configuration-properties but thats kinda hidden and making it explicitly in the glue section is probably a good idea

[2020-01-28 23:32] Lewuathe commented on #1169
@martint Yes, this is the PR for the workaround. Confirmed the issue was fixed for presto-cli and presto-jdbc. Could you take a look at this when you get a chance?
https://github.com/prestosql/presto/pull/2633

[2020-01-29 00:41] lhofhansl commented on #2625
Do we need a way to show the owner of a schema? Looks like in Presto there's no way currently of doing that.

[2020-01-29 02:06] pratikSethi commented on #2661
I am going through the docs to run the project locally. I'll get back soon. Excited for my first contibution :)

[2020-01-29 10:10] martint commented on #2625
We'd need to add support for `SHOW CREATE SCHEMA`

[2020-01-29 11:23] Lewuathe commented on #2624
It can be done by using `applyLimit` of the connector pushdown mechanism. Can I work on this issue?

[2020-01-29 11:34] martint commented on #2624
Go for it!

[2020-01-29 14:15] 360d-io-labs opened #2667 "Allow disabling referral following in LDAP authenticator"
Hi all,

PS: I have been writing this issue while debugging and I think that I found the main problem after a while. This not really an issue (except for having a flag to control referral), but it can useful for other people encountering the same king of problem.

We were just trying to update to 329 with our AD configuration that has been ok for the last couple of years, but it seems that a break

[2020-01-29 16:15] electrum commented on #2617
The problem with `format()` is that it uses a Java format string, which doesn't support the concept of interval formatting. It supports formatting date/time objects, so we could map the time portion (hour/minute/second). For the day portion, you'd need to format that separately by extracting it with the `day()` function. The `interval year to month` type has similar issues, but can be done by extr

[2020-01-29 16:17] dain commented on #2643
To clarify, you have a table containing a column JWT?  If so, I think you can decode unencrypted and uncompressed JWTs today.  This isn't super convenient but works. Generally, you

1. split the JTW on `.`
2. [`from_base64`](https://prestosql.io/docs/current/functions/binary.html#from_base64),
3. [`from_utf8`](https://prestosql.io/docs/current/functions/string.html#from_utf8)
4. [`json_parse`](htt

[2020-01-29 19:12] tooptoop4 commented on #2667
yea, https://github.com/prestosql/presto/blob/329/presto-password-authenticators/src/main/java/io/prestosql/plugin/password/ldap/LdapAuthenticator.java#L260 should not be hardcoded

[2020-01-29 20:37] lxynov commented on #1324
@manishmalhotrawork  sure, done

Just a note, partition pruning in Iceberg is tricky because of partition spec evolution. We need more thoughts and discussion on this.

[2020-01-29 20:41] alexjo2144 commented on #1204
Would the fix for this just be to switch to use something like:
`throw new PrestoException(NOT_SUPPORTED, ...);`
Or is there another exception type for these kinds of errors?

[2020-01-29 21:57] findepi commented on #1204
@alexjo2144 i'm not 100% sure yet. let's do this err code for now.
i think the right place is https://github.com/prestosql/presto/blob/8e242e803dd97f3b471f9852d3bd8afe2e6c7763/presto-main/src/main/java/io/prestosql/sql/analyzer/ExpressionAnalyzer.java#L849
+ some tests

[2020-01-29 22:03] findepi commented on #2667
@360d-io-labs can you please provide more information about why following referrals breaks in your environment?
Ignoring referrals isn't correct, out of the box behavior. Following them seems to conform to the design of the LDAP API.
I would like to better understand under what circumstances this is not the right thing to do.

[2020-01-29 22:36] lhofhansl commented on #2625
I noticed that SHOW CREATE TABLE does not show the owner either.
Perhaps it's better in a separate PR - if that's what we decide to do.

[2020-01-30 06:32] parasupreti opened #2675 "Not able to bind MAP in parameterized query since 322 release version"
Binding MAP to parameterized query is not working from release version 322.
For Ex: if i run below queries,
create table if not exists hive.default.maptable( a map(real, double) )
PREPARE stmt0 FROM insert into hive.default.maptable values (?)
EXECUTE stmt0 USING map(array[cast('2.3' as REAL),cast('1.2' as REAL)],array[cast(6.5 as DOUBLE),cast(4.9 as DOUBLE)])
Last query does not works and throws

[2020-01-30 08:09] 360d-io-labs commented on #2667
This is mainly a DNS issue, when you are not using the AD as you DNS server. You may have side effect when there is a change in the AD forest and you don't reflect this in your local configuration for the referral domain. In most case (when you have one domain), referral doesn't bring any additional information in the authentication process and can be safely disabled.

This problem is well known,

[2020-01-30 08:52] findepi commented on #2667
@360d-io-labs thanks for the explanation.
So this is not a bug in the code, but you're saying we should be more flexible to cater for misconfigured setups that exists too often in real world.
I think it's OK to add a boolean flag for this (perhaps `ldap.follow-referrals`).

[2020-01-30 11:08] 360d-io-labs commented on #2667
Yes exactly you get my point, it will be easier for people encountering this kind of issue rather than having to recompile the whole code to change the value :)

[2020-01-30 11:23] 360d-io-labs opened #2678 "Cannot read hive text/csv table (between 314->328/329)"
After upgrading the cluster to 328/329 from 314, it is impossible to query CSV table stored on HDFS with Hive 3.1.0

Here is the exception raised:
[code]

I have no problem to do the same query with Presto 314 (the previous version installed on this cluster).

I tried to create an external table with Presto on the same data and the table is successfully created in Hive. However if I tried to query

[2020-01-30 12:26] tooptoop4 commented on #2667
should be 3 options (ignore, follow, throw): https://docs.oracle.com/javase/jndi/tutorial/ldap/referral/jndi.html

[2020-01-30 12:48] findepi commented on #2667
@tooptoop4 i am aware there are 3 options in LDAP code.
This doesn't mean there is a sense to expose them all in Presto.

Actually, i think the flag should be `ldap.ignore-referrals`, so we would either `follow` or `ignore`.
I don't see a value in exposing `throw` to users, do you?

[2020-01-30 13:03] ebyhr opened #2681 "Add test for RENAME SCHEMA in Hive"

[2020-01-30 13:14] #2675 closed

[2020-01-30 13:15] martint commented on #2675
Thanks for the report! The fix is merged and will be available in the next release.

[2020-01-30 13:21] ebyhr commented on #2678
Could you share the SHOW CREATE TABLE result for `elli_csv_presto` on both Hive and Presto?

[2020-01-30 13:22] #2681 closed

[2020-01-30 13:34] 360d-io-labs commented on #2678
I cannot do a SHOW CREATE TABLE from Presto (that's why I added the vision from Hive) for all text/csv tables (either created with Hive or Presto). It is generating the same exception. Though I can try to do it from Presto-314 if you want.

[2020-01-30 13:35] findepi commented on #2678
@360d-io-labs this is backwards-incompatibility issue on the metastore side.

The reason why it broke in your environment is that we added first-class (and correct) support for CSV tables in 316.
Before that version you could have all sorts of problems when CSV table was declared with types different than `varchar` (hive allows that).

Can you add this to your Hive metastore configuration?

[code]

[2020-01-30 13:47] findepi commented on #2678
(i added a note to https://github.com/prestosql/presto/issues/1841 too)

[2020-01-30 15:04] sopel39 commented on #2595
[code]
https://github.com/prestosql/presto/pull/2358

[2020-01-30 15:20] ebyhr opened #2683 "Cancel query without fetch result may throw NPE in QueuedStatementResource"
Steps to reproduce. This script was fine in the past version. If we add a line to fetch result (e.g. `cur.fetchone()`) before canceling, this issue doesn't happen.
[code]

Error message
[code]

[2020-01-30 15:43] findepi commented on #2683
@ebyhr this should be testable inside `TestServer` class
@dain any better place?

[2020-01-30 17:16] manishmalhotrawork commented on #2660
Hi @electrum
Whenever you get time, can you also please see if my understanding is correct?

[2020-01-30 23:48] mosabua opened #2687 "Inline help in CLI for explain incomplete"
[code]

FORMAT also supports JSON
TYPE also support VALIDATE and IO

E.g.

[code]

[2020-01-31 00:05] mosabua commented on #2687
Not sure if you also want to add EXIT

[2020-01-31 00:44] JamesRTaylor commented on #1120
Behavior changed after this commit: https://github.com/prestodb/presto/pull/11528

[2020-01-31 02:05] tooptoop4 commented on #2481
@academy-codex what driver do you use? I first tried jconn4.jar but hit "JZ0SB: Parameter index out of range: 1" error, reading online I saw getSchema is not implemented in JConn -
io.prestosql.spi.PrestoException: JZ0SB: Parameter index out of range: 1.
	at io.prestosql.plugin.jdbc.BaseJdbcClient.listSchemas(BaseJdbcClient.java:191)
	at io.prestosql.plugin.jdbc.BaseJdbcClient.getSchemaNames(BaseJ

[2020-01-31 02:27] lhofhansl commented on #2625
Coming back to Hive for a minute. As I said above Hive *can* grant INSERT | SELECT | UPDATE | DELETE to databases. But it doesn't behave as expected, CREATE TABLE still simply checks for ownership of the database.

We could deviate from this in Presto because Hive would be *more* restrictive, and arguably the new behavior would make more sense anyway. In the end I think this should be fixed in Hiv

[2020-01-31 08:03] #2687 closed

[2020-01-31 08:26] sanchitkashyap commented on #1798
Looks like this is already fixed as part of https://github.com/prestosql/presto/commit/d408b6c85d0a1e49adab4ea91ca17606471b3058
https://github.com/prestosql/presto/commit/f8899cc7236402ea4fed3997e6d61b5e9d02842e, so we can close this.

[2020-01-31 08:29] #1798 closed

[2020-01-31 08:31] 360d-io-labs commented on #2678
@findepi Thanks it works!
I think that this should be added to the documentation regarding hive connector to make it clear as this is not the default configuration in HDP and other people may face the same problem (same for the default ACID, which let Presto write to the table but not read).

[2020-01-31 10:43] martint commented on #2428
https://github.com/prestosql/presto/pull/2628/checks?check_run_id=415443587

[2020-01-31 10:43] sopel39 commented on #2595
[code]
https://github.com/prestosql/presto/pull/2659

[2020-01-31 11:16] sopel39 commented on #2497
Failed again: https://pipelines.actions.githubusercontent.com/sJrKZtZsjYLeyqPixYxcTJp8fX9YNlwyJbmEGSC0oymXVDSpbK/_apis/pipelines/1/runs/4300/signedlogcontent/7?urlExpires=2020-01-31T11%3A16%3A01.3540988Z&urlSigningMethod=HMACV1&urlSignature=id9n3uz5ATprKvoJngJ4ZyjGtOmYHUZhBMdsQMZoRzg%3D

[2020-01-31 12:26] wendigo opened #2693 "Flaky test io.prestosql.jdbc.TestPrestoDriver.testQueryCancelByInterrupt"
[code]

[2020-01-31 12:26] wendigo commented on #2693
Happened on https://github.com/prestosql/presto/pull/2689

[2020-01-31 13:08] sopel39 opened #2694 "Failure Aware metastore client shoulnd not rotate metastores on expected Thrift exceptions"
Currently `StaticMetastoreLocator` will rotate metastores on any thrift error (even expected ones like method not available).

FYI: @qqibrow

[2020-01-31 13:55] AbhishekNew opened #2695 "Section 9. SQL Statement Syntax Document should be updated as Note mentioned in Section 8"
presto:_> alter schema ttt rename to t1; -- Does not work
Query 20200130_123113_00033_kmaa9 failed: Hive metastore does not support renaming schemas
But this works
presto:_> alter table ttt rename to t1;
RENAME TABLE
User can rename table but schema not
So this should be updated in document as Note: like Section 8 is updated.
Here use Hive connector so it is Hive Limitation.

[2020-01-31 15:48] findepi commented on #2695
@AbhishekNew you're correct. This works, but not for Hive metastore.
We should update docs to make it clear.

[2020-01-31 16:47] mosabua commented on #2695
I am not sure I understand where you want what documented. All SQL supports are subject to limitations from the connectors .. so I think in this case it would be correct to add this as a limitation to https://prestosql.io/docs/current/connector/hive.html#hive-connector-limitations

We could also have a general note about the fact that connectors influence scope of SQL support in https://prestosql.

[2020-01-31 20:34] mosabua opened #2699 "Allow ApplicationName and ClientTags as JDBC connector properties"
Also allow `source` for compatibility with presto CLI.

Currently when connecting with the JDBC driver via DBeaver or SQuirreL SQL you can not set the property ApplicationName, source or client tags.

ApplicationNamePrefix works since it is a custom property I think.

This means that resource group usage can not be use consistently for CLI and JDBC driver.

[2020-01-31 20:35] mosabua commented on #2699
Error message:

PrestoLocalhost: Unrecognized connection property 'ApplicationName'
class java.sql.SQLException: Unrecognized connection property 'ApplicationName'

[2020-01-31 20:50] mosabua commented on #2699
Standard properties should be preferred and work in my opinion.

https://docs.oracle.com/en/java/javase/11/docs/api/java.sql/java/sql/Connection.html#setClientInfo(java.lang.String,java.lang.String)

[2020-01-31 20:56] findepi commented on #2699
This can be worked upon once https://github.com/prestosql/presto/pull/2486 gets merged.
Also, if anyone wants to pick it up, that PR can server as a good starting point.

[2020-01-31 21:04] findepi commented on #2695
Exactly.

Sounds reasonable.

Alternatively, we for given connector-dependent feature we could document for which connector it's said to work (a whitelist).

However, any approach we take, won't be easy to maintain. And i don't have personal strong preferences.

[2020-01-31 21:19] mosabua commented on #2699
Sounds. Imho we should ensure that CLI and JDBC driver are consistent and support the same properties.

[2020-01-31 21:24] keeganmccallum commented on #2643
@dain Thanks for the quick follow-up and detailed write-up. This is super useful and maybe handy with the initial question, but I'm actually talking about having some way to access the JWT used to identify the user internally in presto. I saw here https://github.com/prestosql/presto/issues/2014 that JWT's were used internally for auth, and I believe I saw it was possible to use your own JWT from a

[2020-01-31 23:31] sajjoseph commented on #2699
clientTags for JDBC is in progress here - #2468

[2020-02-03 08:39] dain commented on #2683
This is an interesting problem.  When the query is first submitted we only create a protocol level query and delay submitting the query, until the client comes back.  This ensures the client gets the response before we start work.  If the delete is immediately sent, the query has not been submitted.  I think we might need a way to submit a query a canceled so that it is logged.

`TestServer` seems

[2020-02-03 08:47] #2523 closed

[2020-02-03 08:50] kokosing commented on #2595
[code]
#2575

[2020-02-03 10:19] AbhishekNew opened #2711 "Views created in Hive is not supported in Presto"
hive> select * from t2;
OK
200
Time taken: 0.115 seconds, Fetched: 1 row(s)
hive> CREATE VIEW view1 AS SELECT id FROM t2;
OK
Time taken: 0.22 seconds
hive> show views;
OK
test
test_view
view1
Time taken: 0.012 seconds, Fetched: 3 row(s)
hive> select * from view1;
OK
200
Time taken: 0.155 seconds, Fetched: 1 row(s)

In Presto CLI when trying access the view it throws msg saying Hive Views are not s

[2020-02-03 10:29] dain commented on #2643
Accessing the login credentials would take a lot of extra thought.  The authentication system is generic, so it would take a lot of careful design to expose information in a safe, secure, way.  Then we would need to decide if the functions to support his are generic or authentication system specific.

The current JWT system in Presto is really designed for the Presto proxy, where there is a shared

[2020-02-03 11:03] kokosing commented on #2694
What is the problem with this? Having several metastore configured, Presto rotate anyway. Why should we stick with certain metastore?

[2020-02-03 11:07] Lewuathe commented on #2624
@martint I have a question about the behavior of `applyLimit` in module test cases.

The following code to test limit pushdown fails due to invalid results set.

[code]

https://github.com/prestosql/presto/compare/master...Lewuathe:elasticsearch-apply-limit#diff-4092feeb5f862c91cbc177030d8d9d67R492-R494

[code]

But this code succeeded.

[code]

Alongside the debug, I have found `applyLimit` is no

[2020-02-03 11:38] findepi commented on #2595
[code]

https://github.com/prestosql/presto/pull/2669

[2020-02-03 11:54] sopel39 commented on #2694
So do we rotate for every request or only on failure? If the latter, then it's odd that we rotate for expected exceptions.

[2020-02-03 12:15] kokosing commented on #2694
As I understand we rotate every request. See`io.prestosql.plugin.hive.metastore.thrift.ThriftHiveMetastore#createMetastoreClient()`

[2020-02-03 14:48] Svti opened #2716 "Final aggregation with default value not separated from partial aggregation by remote hash exchange"
**Error running query: Final aggregation with default value not separated from partial aggregation by remote hash exchange**

java.lang.IllegalArgumentException: Final aggregation with default value not separated from partial aggregation by remote hash exchange
	at com.google.common.base.Preconditions.checkArgument(Preconditions.java:141)
	at io.prestosql.sql.planner.sanity.ValidateAggregationsWit

[2020-02-03 15:18] martint commented on #2716
Thanks for the report. Can you provide the query that causes this? It will make it easier to diagnose.

[2020-02-03 15:20] tooptoop4 commented on #2711
that is known limitation, u need to create the view from presto cli/jdbc connection

[2020-02-03 15:40] electrum commented on #2711
We are working on adding support for this. First step is here: https://github.com/prestosql/presto/pull/2715

[2020-02-03 19:17] findepi commented on #2614
@tooptoop4 @peterulsteen while conservative upgrade to 1.11.x is safer, we will eventually want to move to 2.x anyay.
Do you know of any reasons not to do this now?

cc @electrum

[2020-02-03 20:03] #2627 closed

[2020-02-03 20:12] tooptoop4 commented on #2614
just risk, if tests are comprehensive enough then v2 is even better

[2020-02-03 21:26] electrum commented on #2614
I think 2.x has many API changes for async and not everything is supported yet.

[2020-02-03 22:02] tooptoop4 commented on #2614
Maybe some docs should be updated to mention that since Presto 318 release that Presto will run slower if there are proxies in environment variables for S3 backed tables

[2020-02-04 00:11] martint commented on #2595
[code]

https://github.com/prestosql/presto/issues/2675

[2020-02-04 02:22] Svti commented on #2716
with channel_mc as
(
select cast(masterid as varchar) as mc,mastername as mcname from mysql.dc_esdk.eagle_uchannelmaster
)
,
channel_sc as
(
    select cast(id as varchar) as sc, name scname from mysql.dc_esdk.svr_channel where c_index=2 AND source_id != 16
)
,eagle_ugame as
(
   SELECT cast(a.appid as varchar) appid,a.name as appname,a.realname ,a.issuecpid,b.name as cpname,coalesce(a.rate,1) as

[2020-02-04 04:16] Svti commented on #2716
we found , when i don't input " AND (appid IN ('468'))" , then it woks.

[2020-02-04 05:21] AbhishekNew opened #2721 "[Enhancement] presto should support file format say orc/parquet at HDFS side also"
Created table from presto CLI and check the format
presto:_> show create table t2;
       Create Table
--------------------------
 CREATE TABLE hive._.t2 (
    id integer
 )
 WITH (
    format = 'ORC'
 )
(1 row)
But when  checked at HDFS side it stored as below
-rw-r--r--   3 root supergroup        267 2020-01-31 19:55 /user/hive/warehouse/_.db/t2/20200131_115544_00010_kmaa9_0b783202-da13-47d2-8d7

[2020-02-04 05:24] ebyhr commented on #2721
@AbhishekNew The file itself should be ORC format. Did you confirm the file whether it's not ORC?

[2020-02-04 05:57] AbhishekNew commented on #2721
At HDFS side the format is not like Spark stored file as ORC or Parquet.

[2020-02-04 06:11] tooptoop4 commented on #2716
@Svti can u share table ddl

[2020-02-04 06:36] ebyhr commented on #2721
Updated the issue title based on offline conversation. This is an enhancement request to clarify the file format from the naming.

[2020-02-04 07:23] Svti commented on #2716
+-----------------------------------------------------------------------+--+
| CREATE EXTERNAL TABLE `tables`(                                |
|   `ts` bigint,                                                        |
|   `datetime` string,                                                  |
|   `rdatetime` string,                                                 |
|   `c` string,

[2020-02-04 19:29] krishnadg commented on #2564
Sure, would love to take a look at the PR when it's ready. I suppose one of the main features I was aiming for was not needing to manually select credentials when accessing specific S3 paths. Though I can definitely see the benefit of both features through something like "set hive.s3_iam_role=arn...."

Curious to see what your JSON config file might have in mind!

[2020-02-04 20:12] fanglu-wish opened #2730 "ArithmeticException: integer overflow error for certain Parquet files over 2 GB"
https://github.com/prestosql/presto/blob/d8e8cc768a13355d146e7db14d084caa84409653/presto-parquet/src/main/java/io/prestosql/parquet/DiskRange.java#L68

Got this Exception
[code]

Seems if a parquet file is larger than 2GB, `DiskRange.span` will throw `Interger Overflow`.

How about use toLongExact instead of toIntExact?

[2020-02-04 20:27] findepi commented on #2730
Changing `DiskRange.length` to long doesn't seem correct, because

1. it will blow at https://github.com/prestosql/presto/blob/6da8d85df9a9534465f545de4a970f7892465b55/presto-hive/src/main/java/io/prestosql/plugin/hive/parquet/HdfsParquetDataSource.java#L282
2. we probably don't want to operate on such large chunk pieces anyway

i think the right approach is to add a condition so that this code do

[2020-02-04 21:03] edanayal opened #2732 "JDBC PreparedStatement.setTimestamp is not implemented"
I'm getting an error from Presto JDBC adapter ver 329:
"Method PreparedStatement.setTimestamp is not yet implemented".

According to @kokosing , the unimplemented method is probably:
setTimestamp(int parameterIndex, Timestamp x, Calendar cal)

Using a different method instead is problematic when using a generic adapter interface.
(like "public void setTimestamp(int parameterIndex, Timestamp x)")

[2020-02-04 21:58] findepi commented on #2732
https://github.com/prestosql/presto/pull/2733 should help. @edanayal do you have an option to build from source and try this out?

[2020-02-04 22:32] fanglu-wish commented on #2730
Hi,

Thank you for your reply!!!

`Add a condition` is a better solution.

Put more context here:
Got this issue while running the query `select _arguments from requests_v2 where dt='2020-01-10' and regexp_like(_arguments, '^.*"filterId\\\\\\":\\\\\\"(.*)\\\\\\".*$') limit 10;`

`requests_v2` is a hive table. We added the following `CLUSTERED BY ( _tid)  INTO 1024 BUCKETS` while creating the table

[2020-02-05 00:49] martint commented on #1480
It seems like the most user-friendly way to provide filters and masks is to allow connectors and access control plugins to describe them in terms of textual SQL expressions. This can be rationalized as an analog to dynamic views: the table and the filter/mask expressions form a dynamic view that's then parsed, analyzed and inlined into the query plan.

Clearly, the expressions must fit within some

[2020-02-05 08:30] kokosing commented on #1480
I think this decision should be left to a plugin, so connectors and access control plugins might return that identity along with the filter or mask.

I guess that in most cases it will be the same identity which is running the actual query. This is something that external service that stores authorization rules has to support in a first place. The ones that I most familiar with do not support that

[2020-02-05 09:57] findepi commented on #1480
Since the masks have different "masking strengths" (eg. asterisk for everything vs asterisk for everything except last 4 characters), in principle it is not safe to apply _some_ mask.

Now consider a case of connector configured to apply a mask on `credit_card_number`  column.
If we now want to apply same security measure system-wide with a new system access control configuration, we will easily e

[2020-02-05 10:04] realknorke commented on #961
We also ran into this issue. There is *no* concurrent schema change in our situation. But as [this issue](https://github.com/prestodb/presto/issues/13580) suggests, the problem could be the timestamp type of the partition column.

In our special case the underfs is Alluxio (between S3 and Presto) where the partitions are urlencodet  like `hour=2020-01-21%2006%3A00`

We can trigger the problem like

[2020-02-05 10:36] #2732 closed

[2020-02-05 10:38] findepi commented on #2595
[code]

https://github.com/prestosql/presto/issues/2732 https://github.com/prestosql/presto/pull/2733

[2020-02-05 12:00] findepi commented on #2716
@Svti can you also provide schema of the mysql tables used in the query?

[2020-02-05 12:23] findepi commented on #961
@realknorke can you try
[code]
and
[code]
?

[2020-02-05 12:29] realknorke commented on #961
I tried this before. It fails as expected:
[code]

[2020-02-05 12:32] realknorke commented on #961
Stacktrace from the coordinator:

[code]

[2020-02-05 15:21] realknorke commented on #961
I debugged into the code (v328-DIRTY!) and found the source.

short story
While identifying the partition names the partition is first casted to type TIMESTAMP (the partition column's type) and then back to string. Thus, the partition name "2020-01-21 06:00"::STRING finally is transformed to "2020-01-21 06:00:00.0"::STRING.

long story
HiveMetadata.java:1167
`verify(usedComputedStatistics == compu

[2020-02-05 18:05] martint commented on #2624
Can you post the latest version of your change? That link seems to be broken.

[2020-02-05 20:09] kokosing commented on #2616
Failed on https://github.com/prestosql/presto/pull/2486 -> https://pipelines.actions.githubusercontent.com/sJrKZtZsjYLeyqPixYxcTJp8fX9YNlwyJbmEGSC0oymXVDSpbK/_apis/pipelines/1/runs/3482/signedlogcontent/16?urlExpires=2020-02-05T20%3A05%3A09.4470012Z&urlSigningMethod=HMACV1&urlSignature=1SGWEkNZVJ1HAJtVQLz6cF5tVT6XEaIg7Ns5xrG%2ByWY%3D

[2020-02-05 20:10] sopel39 commented on #304
Fixed via: https://github.com/prestosql/presto/pull/2358

[2020-02-05 20:10] #304 closed

[2020-02-05 20:10] kokosing opened #2740 "Flaky TestJdbcIntegrationSmokeTest.testUnknownTypeAsIgnored"
[code]

Failed on https://github.com/prestosql/presto/pull/2486 -> https://pipelines.actions.githubusercontent.com/sJrKZtZsjYLeyqPixYxcTJp8fX9YNlwyJbmEGSC0oymXVDSpbK/_apis/pipelines/1/runs/3482/signedlogcontent/16?urlExpires=2020-02-05T20%3A05%3A09.4470012Z&urlSigningMethod=HMACV1&urlSignature=1SGWEkNZVJ1HAJtVQLz6cF5tVT6XEaIg7Ns5xrG%2ByWY%3D

[2020-02-05 20:11] sopel39 opened #2741 "Use stats to determine if preferred layout should be used in insert"
Follow up for: https://github.com/prestosql/presto/issues/304 and https://github.com/prestosql/presto/pull/2358

[2020-02-05 20:45] findepi commented on #1294
https://github.com/prestosql/presto/pull/2717

[2020-02-05 20:45] #1294 closed

[2020-02-05 21:06] synhershko commented on #2624
FWIW, as long as the limit is a small number (e.g. up to 1000) it's better to not initiate a scroll at all in this case since scroll has overhead as well.

[2020-02-06 06:08] Praveen2112 commented on #2652
I think it is handled in #2656. So closing it. Please feel free to re-open it if it didn't work

[2020-02-06 06:08] #2652 closed

[2020-02-06 09:04] sopel39 commented on #2595
[code]
https://github.com/prestosql/presto/pull/2722

[2020-02-06 09:57] findepi opened #2746 "hive create_empty_partition procedure fails with NPE when table does not exist"

[2020-02-06 10:06] harmandeeps commented on #2293
Regarding this support to read ACID table with original files, I have the changes ready. I am waiting on Full ACID PR to merge. Then, I will open the PR for review.

[2020-02-06 10:35] sopel39 commented on #2595
[code]
https://github.com/prestosql/presto/pull/2715

[2020-02-06 11:03] sopel39 commented on #2595
[code]

https://github.com/prestosql/presto/pull/2685

[2020-02-06 12:24] brianolsen87 opened #2748 "Metadata for alias in elasticsearch connector only uses the first mapping"
In elasticsearch after creating an alias with multiple indices then requesting the mapping for all those indices returns a mapping for each .
[code]
and then request for the mapping
curl --request GET \
  --url http://localhost:9200/my_index/_mappings
I get back a response containing all the different indices.
[code]
Currently the elasticsearch connector will choose the mapping of the first index

[2020-02-06 12:36] findepi commented on #2595
[code]

https://github.com/prestosql/presto/pull/2706

[2020-02-06 19:40] martint commented on #2748
I think we can have presto merge *all* mappings, but that will have to be supplemented by a cache as you suggested.

As for the question of what to do when types don't match, we should check what ES does when you run a query like that. Does it, effectively, behave as if the field was a union type?

[2020-02-07 08:09] getGitxxx commented on #2341
@ebyhr I have tried the latest version 329，The issue still exists.

[2020-02-07 08:25] Praveen2112 commented on #2341
@getGitxxx Can you check with the master branch. It is in under the milestore 330. 330 will be release in a few days I guess.

[2020-02-07 09:05] findepi opened #2753 "Add test for Hive view metadata"
Add tests ensuring we properly map view owner, comment.

[2020-02-07 09:54] findepi commented on #2595
[code]

https://github.com/prestosql/presto/pull/2692

[2020-02-07 16:41] kokosing commented on #2740
Fixed via #2742

[2020-02-07 16:41] #2740 closed

[2020-02-07 17:08] martint opened #2757 "Document $path, $bucket, etc hidden meta columns"
These should be documented in the Hive connector section:

* `$path`
* `$bucket`
* `$file_size`
* `$file_modified_time`

[2020-02-07 17:09] mosabua opened #2758 "Doc hidden columns in Hive connector"
From @martint on slack
We should document the $path, $bucket, $file_size and $file_modified_time hidden meta columns.

[2020-02-07 17:11] mosabua commented on #2758
Duplicate of #2757

[2020-02-07 17:11] #2758 closed

[2020-02-07 17:17] pedersen commented on #1478
This feature enables a use case for Presto in ETL pipelines. Specifically, we can use it to enable partition swapping, along with data retention policies. When we partition swap, we don't want to immediately delete the old data, we want to leave it around to allow other jobs to finish processing.

Right now, this involves us having custom code to make a round trip to the metastore and get the loca

[2020-02-07 17:51] #2593 closed

[2020-02-07 17:59] martint commented on #2595
[code]

https://github.com/prestosql/presto/issues/2593

[2020-02-07 18:03] martint opened #2760 "Type inference failure when using reduce with decimal values"
[code]

fails with:

[code]

[2020-02-07 18:11] martint commented on #2624
Can you show me the output of EXPLAIN for the query that fails?

[2020-02-07 23:53] mosabua opened #2763 "Validate schema with use command"
As discussed with @electrum and @martint on slack.

https://prestosql.slack.com/archives/CFLB9AMBN/p1581114375346700

[code]

should fail if the schema does not exist.

Just like

[code]

fails.

Connectors need to implement checkSchemaExists correctly for this to work

[2020-02-08 03:15] getGitxxx commented on #2341
@Praveen2112 will try it.

[2020-02-08 12:06] dain opened #2767 "USE fails when in an invalid catalog when a role for that catalog is set"
[code]

[2020-02-08 16:19] #2746 closed

[2020-02-08 20:02] tooptoop4 commented on #2481
@academy-codex gentle ping

[2020-02-09 06:53] #2763 closed

[2020-02-09 07:47] #2616 closed

[2020-02-09 08:16] Terry93 commented on #2580
Hello, I am willing to help if this is something good for newcomers. It looks so, but correct me if I am wrong. THANKS!

[2020-02-09 08:18] Terry93 commented on #2579
Hello, I would love to try on this work. Thanks!

[2020-02-09 08:18] Terry93 commented on #2578
Hello, I would love to try on this work. Thanks!

[2020-02-09 08:46] Terry93 commented on #1109
Hello, I would like to help with working on this. Thanks!

[2020-02-09 09:28] RosterIn opened #2773 "Implement find_in_set function"
`find_in_set(string str, string strList) -> int`
Returns the first occurrence of str in strList where strList is a comma-delimited string. Returns null if either argument is null. Returns 0 if the first argument contains any commas: `find_in_set('ab', 'abc,b,ab,c,def')` returns `3`.

https://github.com/qubole/presto-udfs

Example where it is useful:
https://stackoverflow.com/questions/13280875/joi

[2020-02-09 11:55] RosterIn opened #2774 "ARRAY comparison not supported for arrays with null elements"
`col_a` is of type `array(varchar)`
the column can contain nulls

consider following query:

[code]

This query gives:

This seems like a bug. The `FILTER` should be applied before `MIN()`

To mention :

[code]
Works but it converts `col_a` to be `array(array(varchar))` which is not desired.

[2020-02-09 14:39] ebyhr commented on #2774
The above filter isn't applied to each element. It makes sure whether  `col_a` is null (≒contains).

You may want to use [filter](https://prestosql.io/docs/current/functions/array.html#filter) array function.

[code]

[2020-02-09 17:26] RosterIn commented on #2774
I understand how you solution will work.
But I don't understand why my original solution doesn't work.
as you said it makes sure col_a doesn't have nulls then the values are distinct and then MIN() is added.

[2020-02-09 17:37] findepi commented on #2774
@RosterIn what is your actual query?

In your original query, you can replace `MIN(DISTINCT col_a) ` with `MIN(col_a)` to achieve the same result.
Does this help?

[2020-02-09 17:41] findepi commented on #1109
@Terry93 appreciated, go for it!

[2020-02-09 17:45] findepi commented on #2578
I am concerned this could significantly increase size of `QueryStats`. There are about 100 rules today, but this number is going to increase.

[2020-02-09 18:00] Terry93 commented on #2578
@findepi How about showing, say, top 20 rule stats by default? And other rules can be chosen to expose if the user sets the rule name by session property explicitly?

Just make sure I understand the issue correctly: the rules we mentioned here refer to the optimization rules for logical plan right?

[2020-02-09 20:09] willmostly opened #2775 "Connections from 0:0:0:0:0:0:0:1 rejected when http-server.allow-external-connection-on-http=false"
When ipv6 is used and http-server.allow-external-connection-on-http=false, connections from localhost (address 0:0:0:0:0:0:0:1) will be rejected.

[2020-02-09 20:20] willmostly commented on #2775
closing - this is a Starburst property

[2020-02-09 20:20] #2775 closed

[2020-02-10 03:54] ebyhr commented on #2774
The query won't work because the comparison is `array(integer)` vs `integer`.

The type is difference.

[2020-02-10 07:02] RosterIn commented on #2774
@findepi
No. It still gives the same error. This is my actual query with many more columns and complex FROM clause but at the end I group by id and all dimensions needs to be under aggregation function.

@ebyhr  I asked about count(col_a) FILTER (WHERE col_a >5) regardless of this type example. to better explain:
Why when x is integer and i do:  `count(x) FILTER (WHERE x >5)`  filter works but in

[2020-02-10 07:46] findepi commented on #2774
@RosterIn consider:
[code]

first constructs array with a number
second constructs array with NULL value
third constructs NULL array

When you do `MIN(DISTINCT col_a)  FILTER (WHERE col_a is not null)`, you filter out the third case, but not the second.

[2020-02-10 08:43] RosterIn commented on #2774
@findepi  thx now I understand. so I just missed condition in my query.

Thus
`MIN(DISTINCT col_a) FILTER (WHERE col_a is not null or col_a = ARRAY[NULL] )`
Should work and equivalent to:
` MIN(DISTINCT filter(col_a, x -> x IS NOT NULL)) AS col_a`

BTW is there a difference in terms of efficiency?

[2020-02-10 09:25] kokosing commented on #2578
Maybe there should be config switch for that, where user might want to enable it when debugging a query.

[2020-02-10 10:16] sopel39 commented on #2580
This might be more complex as CPU tracking generally might cause overhead.
In `io.prestosql.operator.Driver` we track CPU using `io.prestosql.operator.OperationTimer`.

I would start with the issues for exporting rule stats in query json first.

[2020-02-10 10:16] sopel39 commented on #2579
Sure, go ahead

[2020-02-10 10:18] sopel39 commented on #2578
That seems like a good idea. It will enable us to debug planning latency. We could also have a session property that would make query json contain stats for all rules.

[2020-02-10 11:23] Lewuathe commented on #2624
Sorry, I misunderstood the behavior with `count` and `limit.  I thought LIMIT precedes COUNT but that's not true. LIMIT is not applied to the number of records counted in the following query because COUNT generates only one record.

[code]

Therefore, the LIMIT works correctly without any problem.
This is the PR. https://github.com/prestosql/presto/pull/2781

[2020-02-10 11:55] AbhishekNew opened #2782 "copy To Clipboard is not working in Overview and Stage Tab"
In the attached screen Shot there is image copy To Clipboard.
But in Overview and Stage Tab no action is getting fired.
But in Overview Tab it copies the Application ID.
![CopyToClipBoard](https://user-images.githubusercontent.com/51321459/74147916-359c6200-4c2a-11ea-8ef0-3c38a6e5651c.png)

[2020-02-10 13:23] AbhishekNew opened #2784 "Prepared Query Field and Alignment should be like Query Field"
![PreparedQueryField](https://user-images.githubusercontent.com/51321459/74153134-e4926b00-4c35-11ea-87a0-b413ded76408.PNG)
![PreparedQueryField1](https://user-images.githubusercontent.com/51321459/74153166-fe33b280-4c35-11ea-8729-0e6d1337614f.PNG)
Two issues:
Issue 1. Even Prepared Query not there but Empty Filed display.
Issue 2: Look and feel should of Prepared Query Field should be like Query

[2020-02-10 13:44] ebyhr commented on #2774
It's not equivalent in some cases because
`MIN(DISTINCT col_a) FILTER (WHERE col_a is not null or col_a <> ARRAY[NULL] )` doesn't iterate all elements in an array.

[2020-02-10 16:34] RosterIn commented on #2774
OK I think I get it. In any case it needs to look into the elements with in the array

[2020-02-10 16:34] #2774 closed

[2020-02-10 19:14] #2695 closed

[2020-02-10 20:22] sopel39 opened #2787 "Presto CLI incorrectly displays explains in kubectl"
Example:
[code]

[2020-02-10 22:17] kgeis commented on #1122
Here is a recursive query that I use to create a date dimension table. I would love to see it work in Presto!
[code]

[2020-02-11 05:06] AbhishekNew opened #2789 "Presto throws Exception when accessing transaction table created from Hive"
Created transaction table from Hive( Hive Version 2.3.6 )
[code]

But when accessing table from Presto CLI throws Security Exception
[code]

[2020-02-11 05:14] stagraqubole opened #2790 "Fail queries explicitly on ORC ACID tables before Hive 3"
Queries fail today with
[code]

[2020-02-11 05:41] harmandeeps commented on #2790
I am taking up this task, thanks.

[2020-02-11 07:08] academy-codex commented on #2481
Hey @tooptoop4. I am using sajdbc.  See my fork today.

[2020-02-11 09:13] findepi commented on #2790
Queries fail today (I updated the description with example failure). @harmandeeps what's your plan here?

[2020-02-11 09:39] findepi commented on #2595
[code]

https://github.com/prestosql/presto/pull/2762

[2020-02-11 15:14] martint commented on #2595
[code]

https://github.com/prestosql/presto/pull/2781

[2020-02-11 19:53] electrum opened #2797 "Flaky test TestThrottledAsyncQueue"
[code]

[2020-02-11 19:53] electrum commented on #2797
https://github.com/prestosql/presto/runs/438981825

[2020-02-11 22:33] electrum commented on #2797
https://github.com/prestosql/presto/runs/439605631

[2020-02-12 01:40] electrum commented on #2797
https://github.com/prestosql/presto/runs/439773668

[2020-02-12 01:41] #2767 closed

[2020-02-12 05:15] stagraqubole commented on #2790
I had opened this looking at https://github.com/prestosql/presto/issues/2789. Query should have failed before reaching the point where the error was seen in that issue. We will identify that the table accessed is on Hive2 ACID and we will fail the query with clear message of Hive2 ACID tables not supported.

[2020-02-12 05:50] AbhishekNew opened #2800 "Document node.id requirements (allowed pattern)"
User given node.id =xx.yy.zz.ww in node.properties
restarted presto server
throws Exception
[code]

Suggested:
Document should be updated saying
only following regex pattern allowed?  [A-Za-z0-9][_A-Za-z0-9-]*
Section:
https://prestosql.io/docs/current/installation/deployment.html -- In Node Properties Section

[2020-02-12 06:09] AbhishekNew opened #2801 "No sort icon but when use click column header it sorts the data"
When User move mouse over the Column header then cursor turns to hand and on clicking the data get sorted. Should be provided with sort icon and it should expand and collapse based on the user click operation. And sort icon should be provided across the pages in all tables where it is applicable.
![NoSortIconButSorting](https://user-images.githubusercontent.com/51321459/74307709-2503fd00-4d8c-11ea

[2020-02-12 08:12] harmandeeps commented on #2790
@findepi : Hive 2.0 versioned transactional tables could only be bucketed tables with bucketing version 1.0. Therefore, the bucketing version can be used as a marker for Hive 2.0 versioned transactional table. As mentiond by @stagraqubole , we will fail the query with this message.

[2020-02-12 08:56] AbhishekNew opened #2802 "Presto CLI is firing 2 Queries when user submit use information_schema; function could be loaded only once"
During Initializing the Presto CLI  auto fires the 2 Queries
SELECT table_name FROM information_schema.tables WHERE table_schema = 'information_schema';
SHOW FUNCTIONS;
But after Presto CLI is user just give use information_schema; then also 2 Queries are get firs automatically.
So suppose user give use information_schema; 10 times then total 30 Queries  in Query Details.
![WhofiresIt](https://use

[2020-02-12 09:22] kokosing commented on #2595
[code]
#2780

[2020-02-12 09:34] wendigo commented on #2693
Duplicate of https://github.com/prestosql/presto/issues/2497

[2020-02-12 09:35] #2693 closed

[2020-02-12 13:28] kokosing commented on #2595
[code]
 #2803

[2020-02-12 14:15] #2509 closed

[2020-02-12 14:30] guyco33 opened #2807 "Outer JOIN fails when using OR predicate with Geometry column functions"
**Fails**:
LEFT JOIN when RIGHT table's column is a Geometry column
[code]

[code]

**Succeed:**
LEFT JOIN when RIGHT table's column is a string column
[code]

**Succeed:**
RIGHT JOIN when RIGHT table's column is a Geometry column
[code]

**Succeed:**
INNER JOIN
[code]

[2020-02-12 20:29] findepi commented on #2790
@harmandeeps
Hive 3's code allows to have bucketed table without `bucketing_version` property (defaults to version 1).
Eg. Presto-created tables used to be this until I added support for bucketing versioned (or maybe they still default to no `bucketing_version` tbl property? idk)

(In fact, I expect that hive table created in Hive 2 will not have `bucketing_version` table property after env is upg

[2020-02-12 21:26] sopel39 opened #2810 "UI doesn't show values in KB, MB, GB, TB"
![Zrzut ekranu 2020-02-12 o 22 25 02](https://user-images.githubusercontent.com/5989165/74378673-a8ead300-4de6-11ea-9c25-ebfe89b5a672.png)
![Zrzut ekranu 2020-02-12 o 22 24 58](https://user-images.githubusercontent.com/5989165/74378677-aab49680-4de6-11ea-80c8-041dc0ec2428.png)

[2020-02-12 22:18] sopel39 opened #2811 "SOURCE stages get scheduled on coordinator"
Source stage get scheduler on coordinator even though `node-scheduler.include-coordinator=false`

![Zrzut ekranu 2020-02-12 o 23 12 56](https://user-images.githubusercontent.com/5989165/74382368-97f19000-4ded-11ea-9892-7a60472ecd74.png)
![Zrzut ekranu 2020-02-12 o 23 13 22](https://user-images.githubusercontent.com/5989165/74382370-9922bd00-4ded-11ea-9003-5a846b2d4440.png)
![Zrzut ekranu 2020-02-1

[2020-02-12 22:21] sopel39 commented on #2811
Hash stages are queued on workers only:
![Zrzut ekranu 2020-02-12 o 23 20 55](https://user-images.githubusercontent.com/5989165/74382831-60371800-4dee-11ea-9a97-4448cac1d6a8.png)
![Zrzut ekranu 2020-02-12 o 23 21 01](https://user-images.githubusercontent.com/5989165/74382837-61684500-4dee-11ea-9b60-084b4ed8b8c8.png)

[2020-02-12 22:21] sopel39 commented on #2811
FYI: @dain @electrum

[2020-02-12 22:25] mosabua opened #2813 "Sphinx build fails on multi processor machines"
make clean html

results in

checking consistency... done
sitemap.xml was generated in /Users/manfred/dev/github/simpligility/presto/presto-docs/target/html/sitemap.xml

Warning, treated as error:
the sitemap extension is not safe for parallel writing
make: *** [html] Error 2

[2020-02-12 22:28] mosabua commented on #2813
Using latest sphinx .. this does not affect Maven build but is annoying nevertheless

[2020-02-12 23:11] sopel39 commented on #2811
I think this is fixed by: https://github.com/prestosql/presto/pull/2714

[2020-02-12 23:13] electrum commented on #2802
The CLI has tab completion for table names and function names, which is why these queries are run. Are they causing a problem for you? They should be quick and cheap.

[2020-02-12 23:16] mosabua commented on #2661
fyi @pratikSethi  .. I had some time and thought I knock this one out now ..

[2020-02-12 23:21] raghavsethi commented on #2801
We should use icons from this library: https://getbootstrap.com/docs/3.3/components/#glyphicons

Specifically `glyphicon-triangle-bottom` and `glyphicon-triangle-top`

[2020-02-12 23:22] anirbanch opened #2817 "Column type mismatch between partition schema and table schema- table schema is string & partition schema is decimal(4,0)"
Query fails when table schema is defined as string but partition schema is decimal. Error message below:

`Query failed (#1111): There is a mismatch between the table and partition schemas. The types are incompatible and cannot be coerced. The column 'aaaa' in table 'ttttt' is declared as type 'string', but partition ‘pppp’ declared column 'aaaa' as type 'decimtal(4,0)'. [DB Errorcode=16777224]
`

[2020-02-12 23:33] electrum commented on #2817
The Hive connector should support any conversion that is supported consistently in Hive (certain conversions work different for different file formats which is harder). Any numeric type to string should work. It starts with `HiveCoercionPolicy` and likely needs to actually be implemented elsewhere.

This PR is a good starting point to see what needs to be changed and where the tests go: https://gi

[2020-02-12 23:36] tooptoop4 commented on #2817
decimtal ?

[2020-02-12 23:52] pratikSethi commented on #2661
@mosabua That is great! Sorry, I could not get to it!
Also, Thanks for helping me to setup my cluster with the configs.

[2020-02-13 01:30] dain commented on #2595
[code]
#2215 #2202 #2653

[2020-02-13 03:57] AbhishekNew commented on #2802
But I feel every time user give use schema; command these queries should not be fire. Yes I agree first time when launching CLI it is getting fire ok.

[2020-02-13 04:01] AbhishekNew commented on #2800
Please handle for node.environment too in doc. I see in code it follows the below pattern

     ENV_REGEXP = "[a-z0-9][_a-z0-9]*";

[2020-02-13 04:47] mosabua commented on #2800
Sounds good. Will update tomorrow

[2020-02-13 04:48] electrum commented on #2802
The table name completion is per schema, so it needs to be loaded for the current schema. I agree that functions could be loaded only once.

[2020-02-13 05:31] AbhishekNew commented on #2802
The table name completion is per schema -- But if u see suppose user give use 'default'; then it is loaded for current 'default' schema and user is inside the 'default' schema and again fire use 'default'(same schema ) again loaded.

[2020-02-13 06:54] AbhishekNew commented on #2802
We can handle this - functions could be loaded only once against this issue.

[2020-02-13 06:56] electrum commented on #2802
Yes, we could be smart and skip refresh if the current schema is the same. But I’m not sure it’s worth the trouble — how often do users run `use` for the schema they are already using?

[2020-02-13 07:03] AbhishekNew opened #2820 "Query details search giving result for State Level text"
User giving State: Text say 'Error' in Query details Search field,  is giving result. Which is not correct.
Because Search filed place holder says only:' User,source,query ID, resource group, or query text'
Attached are screen shot.
![QueryDetail_Search1](https://user-images.githubusercontent.com/51321459/74409495-d2dedc80-4e5c-11ea-9899-39e6fc0c2cd7.PNG)
![QueryDetails Search2](https://user-image

[2020-02-13 08:40] stagraqubole commented on #2811
@sopel39 Was this with hdfs table? #2714 will hit only when split has address in it.

[2020-02-13 09:16] findepi commented on #2428
Failed in https://github.com/prestosql/presto/pull/2665/checks?check_run_id=436156516
[code]

[2020-02-13 09:36] sopel39 commented on #2811
This was S3 table. I think it sets location in  `io.prestosql.plugin.hive.s3.PrestoS3FileSystem#createLocatedFileStatus`
to `localhost`, which I think is filtered out in `io.prestosql.plugin.hive.util.InternalHiveSplitFactory#getHostAddresses`.

Therefore this might be a different bug

[2020-02-13 09:36] sopel39 commented on #2811
@stagraqubole would you like to investigate it?

[2020-02-13 13:51] #2661 closed

[2020-02-13 14:11] findepi commented on #2595
[code]

https://github.com/prestosql/presto/pull/2720

[2020-02-13 15:02] sopel39 commented on #2595
[code]
https://github.com/prestosql/presto/pull/2805

[2020-02-13 17:09] mosabua commented on #2661
No worries.. next time @pratikSethi

[2020-02-13 18:34] mosabua commented on #2800
@AbhishekNew PR is updated for environment as well

[2020-02-13 18:51] #2800 closed

[2020-02-13 20:18] mosabua commented on #2813
More discussion in the PR..

[2020-02-13 22:38] mosabua commented on #2623
Looking at this I am not sure where to document JMX more. The only JMX related info we have in the docs for now is the JMX connector. Should it be added there? Or do we need some other JMX section @martint ?

[2020-02-14 00:37] Lewuathe commented on #2624
As https://github.com/prestosql/presto/pull/2781 was merged, can we close this?

[2020-02-14 00:40] mosabua commented on #477
Prepared a doc PR but there doesnt seem to be any of this config in the presto code base .. is this part of the airlift config basically so I can look it up there?

[2020-02-14 00:44] mosabua commented on #477
There is lots more e.g. https://github.com/airlift/airlift/blob/418b0adea11560b81330bf750f4b42a173848d97/http-server/src/main/java/io/airlift/http/server/HttpServerConfig.java

Maybe we should see what sort of docs we create for airlift as well.. and then just refer to it.

[2020-02-14 03:18] martint commented on #2624
Yes, let’s close this one. I’m going to open another issue to track the improvement discussed above regarding skipping scrolls altogether for small limits.

[2020-02-14 03:18] #2624 closed

[2020-02-14 04:26] shandeep00 commented on #2721
After discussion with praveen, submitted the PR.

[2020-02-14 08:38] findepi commented on #477
@mosabua see https://github.com/airlift/airlift/issues/753, https://github.com/airlift/airlift/issues/417, and https://prestosql.slack.com/archives/CFLB9AMBN/p1567834707126800?thread_ts=1567726032.112300&cid=CFLB9AMBN.

Quoting @electrum

[2020-02-14 17:27] #1717 closed

[2020-02-14 17:31] findepi commented on #2595
[code]

https://github.com/prestosql/presto/pull/2560

[2020-02-14 20:02] Parth-Brahmbhatt opened #2835 "Presto should support grant/revoke column level access."
Currently the grant and revoke only works for table, we should extend it so we can grant and revoke column level access.

[2020-02-14 22:30] mosabua opened #2837 "jvm tmp folder config"

[2020-02-15 00:25] electrum commented on #2595
[code]
#1748

[2020-02-15 00:34] electrum commented on #2595
[code]
#2494

[2020-02-15 00:37] electrum commented on #2595
[code]
#2633

[2020-02-15 00:39] electrum commented on #2595
[code]
#2657

[2020-02-15 00:42] electrum commented on #2595
[code]
#2809

[2020-02-15 00:44] electrum commented on #2595
[code]
#2788

[2020-02-15 00:47] mosabua commented on #477
Also l looked at https://github.com/airlift/airlift/blob/ca3cb480e1d052c960bf969dd0e90623d7ad0be0/log-manager/src/main/java/io/airlift/log/LoggingConfiguration.java

[2020-02-15 00:58] electrum commented on #2595
[code]
#2764

[2020-02-15 01:06] electrum commented on #2595
[code]
#2768

[2020-02-15 01:12] ebyhr commented on #1751
@lxynov Sorry for my late reply. Let me assign you. Thanks!

[2020-02-15 01:15] electrum commented on #2595
[code]
#2751

[2020-02-16 19:07] martint commented on #2595
[code]

#754

[2020-02-17 04:00] AbhishekNew commented on #2802
We can handle this - functions could be loaded only once against this issue.

[2020-02-17 06:55] raags commented on #2623
Maybe the section in the wiki is a good start: https://github.com/prestosql/presto/wiki/Monitoring

[2020-02-17 07:00] oneonestar opened #2851 "Incorrect results for last_day_of_month function"
The result is incorrect when a timestamp with time zone  <= UTC 00:00 is provided.
[code]

This also affect `last_day_of_month(current_timestamp)`, depends on the timezone of the client.
[code]

[2020-02-17 08:58] sopel39 commented on #2595
[code]
https://github.com/prestosql/presto/pull/2734

[2020-02-17 10:33] sopel39 opened #2855 "Intermediate joins produced by reorder joins should produce global output symbols if possible"
This will reduce number of symbols produced by join intermediate nodes.

[2020-02-17 11:08] harmandeeps commented on #2790
@findepi : Yes, I checked that replying on bucketing_version is not a correct way.

One feasible solution is to check if base/delta directory has file '`_orc_acid_version`'. This file can be used a marker to check if Hive version is >= 3.0 (As mentioned at: https://github.com/apache/hive/blob/master/ql/src/java/org/apache/hadoop/hive/ql/io/AcidUtils.java#L2555).

So, in Presto split loading logic,

[2020-02-17 11:12] stagraqubole commented on #2811
What's the query you used @sopel39 ? I tried with a simple join on bigger scale `select count(*) from store_sales join customer on ss_customer_sk = c_customer_sk` and did not see this issue.

[2020-02-17 12:19] sopel39 commented on #2811
I think that was tpcds/q64 with unpartitioned S3 data.

[2020-02-17 12:20] palashgoel7 opened #2856 "Adding client tags to presto jdbc connection"
From stackoverflow [https://stackoverflow.com/questions/60207690/adding-client-tags-to-presto-jdbc-connection](https://stackoverflow.com/questions/60207690/adding-client-tags-to-presto-jdbc-connection)

I am using jdbc to connect to presto server.

From the documentation, I am able to connect to the server and run queries.
https://prestodb.io/docs/current/installation/jdbc.html

I am facing issues

[2020-02-17 12:52] findepi commented on #656
Based on the discussion I think we can close this as answered.
Of course we can continue discussing here or move to Slack.
If there is anything to be done in Python Client itself, please open
a new issue at https://github.com/prestosql/presto-python-client

BTW @VicoWu the current Python client coordinates on PyPI are
https://pypi.org/project/presto-client/ (the module name is just
`presto` now).

[2020-02-17 12:52] #656 closed

[2020-02-17 12:58] #49 closed

[2020-02-17 13:09] findepi commented on #49
Thank you @sopel39 for leading this. This is tremendous!

[2020-02-17 13:18] findepi commented on #2856
@palashgoel7 thanks for raising the issue!

to anyone picking this up, you can e.g. follow example of "applicationNamePrefix"
https://github.com/prestosql/presto/blob/15fdd34d2f717eef81f599040936ba00b2128ff0/presto-jdbc/src/main/java/io/prestosql/jdbc/ConnectionProperties.java#L194-L201

[2020-02-17 13:19] findepi commented on #2790
@harmandeeps I drafted an alternative approach: https://github.com/prestosql/presto/pull/2826

[2020-02-17 15:20] electrum commented on #2856
This is implemented in https://github.com/prestosql/presto/pull/2468

I’ll ping the author about addressing the comments so we can get it merged.

[2020-02-17 15:20] #2856 closed

[2020-02-17 15:36] findepi opened #2858 "CLI renders nested varbinary inconsistently"
`c.f3` is `varbinary`.

[code]

-- here hex presentation is used

but

[code]

-- here `byte[]#toString` is used instead of hex

[2020-02-17 19:43] mosabua commented on #2623
Yeah.. I think we might want to look at porting that info in the site .. do you agree @martint @electrum ?

[2020-02-17 20:08] electrum commented on #2595
[code]
#2468

[2020-02-18 01:30] #1983 closed

[2020-02-18 02:55] hqisog opened #2864 "Elasticsearch Connector does not support username and password"
example:

my es cluster config username is leno and password is leno.

when i  deploy Presto under the elastic user of Linux machine. it doesn't work.

[elastic@wh-8-148 bin]$ ./presto-cli --server localhost:8080 --user elastic --password elastic --catalog elasticsearch
Exception in thread "main" io.airlift.airline.ParseArgumentsUnexpectedException: Found unexpected parameters: [elastic]
        a

[2020-02-18 03:07] ebyhr commented on #2864
The error message means the command line option is not correct. Could you try the following command and then input `elastic` to prompt?
[code]
Also, would you share the `elasticsearch.properties`?

I would recommend to join the community Slack https://prestosql.io/slack.html > #troubleshooting.

[2020-02-18 03:44] hqisog commented on #2864
elasticsearch.properties

connector.name=elasticsearch
elasticsearch.host=11.2.8.10
elasticsearch.port=9200
elasticsearch.default-schema-name=es_test

 my Configurationis not right ? is it lack of  this.
elasticsearch.tls.enabled=true
elasticsearch.tls.verify-hostnames=false
elasticsearch.tls.truststore-path=etc/elasticsearch/es_xpack.crt

[2020-02-18 04:56] ebyhr commented on #2864
If TLS isn't enabled in your Elasticsearch, you don't need to add the properties.

Currently, password auth isn't supported in Elasticsearch connector for now, so please make sure the error message with the command I posted.  This is the related issue. https://github.com/prestosql/presto/issues/2127

[2020-02-18 05:23] hqisog commented on #2864
[elastic@wh-8-148 bin]$ ./presto-cli --server localhost:8080 --user elastic --password --catalog elasticsearch
Password:
Exception in thread "main" java.lang.IllegalArgumentException: Authentication using username/password requires HTTPS to be enabled
        at com.google.common.base.Preconditions.checkArgument(Preconditions.java:141)
        at io.prestosql.cli.QueryRunner.setupBasicAuth(QueryRu

[2020-02-18 05:27] hqisog commented on #2864
ssl in es cluster is open
xpack.security.transport.ssl.enabled: true

[2020-02-18 05:37] ebyhr commented on #2864
Please try again without `--password` option.

[2020-02-18 05:40] hqisog commented on #2864
[elastic@wh-8-148 bin]$ ./presto-cli --server localhost:8080 --user elastic  --catalog elasticsearch
presto> show schemas;
       Schema
--------------------
 es_test
 information_schema
 system
(3 rows)

Query 20200218_054000_00006_6jpez, FINISHED, 1 node
Splits: 19 total, 19 done (100.00%)
0:00 [3 rows, 46B] [13 rows/s, 208B/s]

presto> use es_test;
USE
presto:es_test> show tables;
Query 2020021