[2022-07-21 01:34] ebyhr commented on #13273
Does #4413 help you?

[2022-07-21 02:49] aimran-adroll commented on #13273
Thanks. That would certainly do it for me 🎉

Whatever happened to that PR though?

[2022-07-21 04:20] mosabua commented on #11448
Just for reference .. @jhlodin is working on this across all connectors. We might also have a generic section where we explain more.

[2022-07-21 05:37] 873253814 opened #13277 "How can I use java to connect to the coordinator on another server"
How can I use java to connect to the coordinator on another server

[2022-07-21 05:45] tangjiangling commented on #13277
Depending on what you want to do, you can use trino-cli or trino-jdbc if you want to execute a query, or you can use the rest interface if you want to get some status information about the query.

[2022-07-21 05:51] 873253814 commented on #13277
I want to get some information about the query, such as query progress, execution status and other operations. Personally, I want to use the rest API, but there will be problems when connecting to the coordinator

![5B0D8F05-E820-497f-BFFD-D47BE4A79AA2](https://user-images.githubusercontent.com/48077349/180139169-e5834bcf-d513-4647-b98d-049f6b3b74f1.png)

![FC28D70C-3BD2-4231-A58E-72B7E815CDCE](ht

[2022-07-21 06:13] sopel39 commented on #13267
In this case UUID will also affect long decimal type.

We could also adapt block to proper type before processing. Should be easy loop with `io.trino.spi.block.Block#writeBytesTo`

[2022-07-21 06:16] sumit-gupta-sgt opened #13280 "Trino 387 release don't support Pinot config for grpc client"

[2022-07-21 06:18] ebyhr commented on #13280
Relates to https://trinodb.slack.com/archives/CGB0QHWSW/p1658363724634799

[code]

[2022-07-21 06:20] #13265 closed

[2022-07-21 06:22] sopel39 commented on #13187
[code]
https://github.com/trinodb/trino/pull/13268

[2022-07-21 06:56] 873253814 opened #13281 "I want to set discoveryuri on queryrunner to submit or query SQL to the coordinator of another server"
I want to set discoveryuri on queryrunner to submit or query SQL to the coordinator of another server. Is this feasible? But there will be problems with the connection at present

![38A30E00-EE8D-494e-9F70-8C325C362231](https://user-images.githubusercontent.com/48077349/180149519-6f15f6ed-d797-447d-91b2-4b55159f43ce.png)

![F90120CB-B82B-4f60-BC14-30A3D3CA9ABA](https://user-images.githubuserconten

[2022-07-21 07:01] #12526 closed

[2022-07-21 07:04] findepi commented on #13187
[code]

#13034 #12526

[2022-07-21 07:28] elonazoulay commented on #13280
You would need to specify `pinot.grpc.use-plain-text = false` in order for the tls properties to be used.

[2022-07-21 07:52] elonazoulay commented on #13280
You will also need to set the truststore path and password:
`pinot.grpc.tls.truststore-path` and
`pinot.grpc.tls.truststore-password`

[2022-07-21 08:22] hashhar commented on #13277
Discovery URI pointing to other coordinator simply registers multiple coordinators in the cluster and will cause issues unless you know what you are doing.

Also TestingTrinoServer is not built for what you are trying to do so you'll run into lots of issues even if you fix this one. The JDBC driver supports what you are asking for.

For just getting stats about query execution you can use the JDBC

[2022-07-21 08:30] aletc1 commented on #13234
Hi @electrum, I managed to reproduce the issue, see the steps in the description. It fails in the INSERT/SELECT clause (insert into "finaltable" select...).
I suppose that the OPTIMIZE was doing the same operation internally (like the INSERT/SELECT) and that's why I was getting this in the optimize, but the problem as you can see is more generic and might impact other scenarios.
**The problem is w

[2022-07-21 09:30] sopel39 commented on #13269
will have fix for this EOD

[2022-07-21 10:15] 873253814 opened #13287 "In hive metabase, tables without underscores cannot be selected, indicating that the table does not exist"
I found a very strange problem.In hive metabase, tables without underscores cannot be selected, indicating that the table does not exist.
See the following figure for details

![F90120CB-B82B-4f60-BC14-30A3D3CA9ABA](https://user-images.githubusercontent.com/48077349/180190209-032cd59b-b847-46c8-a109-441a452487a2.png)

![7575DA02-92A2-4686-B9D9-AE49AD968E19](https://user-images.githubusercontent.co

[2022-07-21 10:30] #13181 closed

[2022-07-21 10:31] ebyhr commented on #13187
[code]

#13195

[2022-07-21 11:30] findepi commented on #13269
from screenshot

seems like there is a change suspected for causing this. @arhimondr do you have a PR link?

[2022-07-21 11:31] findepi commented on #13187
[code]

#13047

[2022-07-21 11:43] findepi commented on #13266
in https://github.com/trinodb/trino/pull/13236#discussion_r925741177 it was found to flag Future / CompletableFuture being ignored, which is often a real problem.

[2022-07-21 12:03] findepi opened #13288 "Query sometimes fails when spill enabled: Failed to read spilled pages"
First reported on March 31, 2021 in https://github.com/trinodb/trino/issues/7466.

TestSpilledJoinQueries.testSemiJoinWithGroupBy failed in https://github.com/trinodb/trino/runs/7434661444?check_suite_focus=true

[code]

[2022-07-21 12:05] findepi commented on #13288
@skrzypo987 @sopel39 can this anyhow be related to https://github.com/trinodb/trino/pull/12618?

[2022-07-21 12:15] skrzypo987 commented on #13288
My answer is somewhere between "definitely not", "shouldn't", "no way", "doesn't look like it" and "who knows"

[2022-07-21 12:25] sopel39 commented on #13288
@findepi How many times you observed that? Maybe some test concurrency issue (e.g. cleaning up of spill dir)?

[2022-07-21 13:51] findepi commented on #13288
the linked CI run attempted the test once and it failed once during that test run

this shouldn't happen concurrently with a test method execution

[2022-07-21 13:52] ebyhr commented on #13187
[code]

#13242

[2022-07-21 13:52] findepi commented on #13288
Asking because I haven't seen this test flaky until recently and so it failing already twice this week.
(don't remember where i saw it first time, don't have the link anymore)

[2022-07-21 13:57] findepi commented on #13234
I think this is the same bug as in https://github.com/trinodb/trino/issues/13265 cc @sopel39 @martint
@aletc1 can you verify latest master is working for you?

closing as fixed by https://github.com/trinodb/trino/pull/13268

[2022-07-21 13:57] #13234 closed

[2022-07-21 13:58] arhimondr commented on #13269
@findepi There is a chance it might be caused by https://github.com/trinodb/trino/pull/12548. The results changes with the optimization on and off. I had a chance to discuss it with @sopel39 offline, he is currently looking.

[2022-07-21 14:04] sopel39 commented on #13269
Fix https://github.com/trinodb/trino/pull/13290

[2022-07-21 14:09] sopel39 commented on #13288
Probably it is related. @skrzypo987 could you take a look and try to repro?

[2022-07-21 18:23] Felicity-3786 opened #13293 "Sql keyword not quoted during serialization."
When a field has the name of Sql reserved keyword, trino fails to quote the word which results in JsonMappingException.
For example, the sample query with the word "end" will fail:
[code]
From the trace:
`Caused by: com.fasterxml.jackson.databind.JsonMappingException: line 1:34: mismatched input 'end'. Expecting: <identifier>, <type> (through reference chain: io.trino.server.TaskUpdateRequest["fra

[2022-07-21 19:54] phd3 commented on #13293
Looks like the DataType serialization for `RowDataType` is missing quoting during serialization.

@Felicity-3786 would you like to pick this up to fix it?

[2022-07-21 20:08] Felicity-3786 commented on #13293
Sure, will open a PR. Thanks!

[2022-07-21 20:25] #13269 closed

[2022-07-21 21:00] #13218 closed

[2022-07-21 21:04] arhimondr opened #13296 "Queries return different results when run over identical partitioned and non partitioned datasets"
[tpcds/etl/q15](https://github.com/trinodb/trino-verifier-queries/blob/main/src/main/resources/queries/tpcds/etl/q15.sql),[tpcds/etl/q32](https://github.com/trinodb/trino-verifier-queries/blob/main/src/main/resources/queries/tpcds/etl/q32.sql),[tpcds/etl/q48](https://github.com/trinodb/trino-verifier-queries/blob/main/src/main/resources/queries/tpcds/etl/q48.sql),[tpcds/etl/q62](https://github.com

[2022-07-21 22:44] electrum commented on #13267
If we want to make the block type a requirement, we could simply start enforcing. If UUID for Iceberg is the only offending type, we can fix that easily, worst case by adding some specific code in the ORC library for it (which we have avoided but unfortunately it has already snuck in).

[2022-07-21 22:45] Riddle4045 opened #13298 "Enable EventListeners across plugins"
**Scenario**

We have a plugin that logs `QueryCompleted`, `QueryCreated` and SplitCompleted` events to HDFS as `orc` files - we  mount external tables and views on top of this data which is very useful in Ops management.

We are in the process of writing Adoption `RangerSysntemAccessControl` plugin and want to re-use the plugin mentioned earlier to log Audits event to HDFS. Currently the only sol

[2022-07-21 22:46] electrum commented on #13194
Can you show the table definition (`DESCRIBE` or `SHOW CREATE TABLE`) and the query being run? How much memory does the coordinator have?

[2022-07-21 22:49] electrum commented on #13194
Also, it might help to see the number of partitions, files, etc., to see if that's a clue. Could you show the output of the [$partitions](https://trino.io/docs/current/connector/iceberg.html#partitions-table) and [$files](https://trino.io/docs/current/connector/iceberg.html#files-table) tables?

What would be most helpful is if you can reproduce this by creating a large table, similar to your prob

[2022-07-21 23:06] Riddle4045 commented on #13298
Related reviews: #13297

[2022-07-21 23:54] #13187 closed

[2022-07-22 01:09] ebyhr commented on #10932
The test was renamed in https://github.com/trinodb/trino/pull/12829 and removed in https://github.com/trinodb/trino/pull/13233

[2022-07-22 01:09] #10932 closed

[2022-07-22 01:43] eadapa29 opened #13301 "Oracle Wallet trino Config ???"
Hello,
   I am trying to connect to Oracle via Oracle wallet. Does trino Oracle connector support that config ?
 I only have a Oracle.sso file... Wondering what would be the JDBC Connection string would look like ?

regards,
Eshwara

[2022-07-22 02:41] Chaho12 opened #13303 "Change Mysql ENUM type as Varchar, not Char"
Change Mysql ENUM type as Varchar, not Char
- https://trinodb.slack.com/archives/CGB0QHWSW/p1658214604393009?thread_ts=1626249411.412400&cid=CGB0QHWSW

[2022-07-22 02:47] yikf opened #13305 "Translate dynamic filter to compiled filter"
Currently, Trino support dynamic filter, After dynamic operator collect domain, probe side scan push the `domain` down to datasource, filtering some data through the index(etc. parquet/orc footer), if these domain hit ratio is not high, domain failure is possible.

Let's say have a parquet file, it has one `rowgroup` and col `min/max` is `0/100`, if domain value set is `10-20`, domain failure(beca

[2022-07-22 02:47] yikf commented on #13305
@findepi what about this idea?

[2022-07-22 03:51] ebyhr opened #13306 "Renamed schema disappears in file metastore"
Steps to reproduce on `HiveQueryRunner`
[code]

[2022-07-22 04:58] hashhar commented on #13305
cc: @raunaqmorarka

[2022-07-22 05:22] raunaqmorarka commented on #13305
I have a WIP PR https://github.com/trinodb/trino/pull/5204 about it which I'm planning to revive and land in near future

[2022-07-22 07:13] ebyhr commented on #12636
Implementing the first requirement about `delta.checkpoint.*` properties.

[2022-07-22 09:02] sopel39 commented on #13288
Could you run the test in a loop?

[2022-07-22 09:41] skrzypo987 commented on #13288
I ran it 1000x times locally

[2022-07-22 09:48] sopel39 commented on #13296
@arhimondr do you know when it started happening?

[2022-07-22 10:06] ksajjan commented on #3989
Below worked for me

[code]

Also give a try to property

`elasticsearch.tls.verify-hostnames=false`

[2022-07-22 10:09] ksajjan commented on #6782
I had the same issue. I resolved it with below property

`elasticsearch.ignore-publish-address=true`

The complete config:

[code]

[2022-07-22 15:59] arhimondr commented on #13296
@sopel39 It seems like quite a while. I precomputed the expected results a couple of months back and realized only now that results are different for partitioned and non partitioned data sets. I haven't tried with fault tolerant execution disabled though. There's a small chance it might be fault tolerant execution specific.

[2022-07-22 17:57] mosiac1 commented on #13298
Hello!

I build the `http-event-listener` (https://github.com/trinodb/trino/tree/master/plugin/trino-http-event-listener).

We are using it inside Bloomberg to collect usage analytics for our Trinos. The pipeline goes:

Trino (trough the event listener) -> (HTTP POST) https://github.com/bloomberg/datalake-query-ingester -> (PUBLISH) Kafka Pipe -> (CONSUME) https://github.com/bloomberg/datalake-que

[2022-07-22 20:45] martint opened #13320 "Release notes for 392"

[2022-07-23 01:32] #5922 closed

[2022-07-23 06:29] mdesmet commented on #13180
Snowflake also supports this:

See https://docs.snowflake.com/en/sql-reference/sql/create-table.html#usage-notes

[2022-07-23 07:30] #8853 closed

[2022-07-23 07:32] ebyhr commented on #13320
[code]

#13179

[2022-07-23 13:16] #13074 closed

[2022-07-23 13:17] ebyhr commented on #13320
[code]

#13237

[2022-07-23 13:44] ebyhr opened #13322 "Flaky `TestHiveDynamicPartitionPruningTest.testJoinDynamicFilteringMultiJoinOnBucketedTables`"
[code]

https://github.com/trinodb/trino/runs/7479762692

[2022-07-23 14:32] ebyhr commented on #13258
@geo-aoe Does #13323 fix the failure in your environment? Could you share the details about your MySQL cluster (e.g. distribution)? We may want to add new test environment.

[2022-07-25 05:16] #13258 closed

[2022-07-25 06:17] #13303 closed

[2022-07-25 06:18] ebyhr commented on #13320
[code]

#13304

[2022-07-25 09:13] sopel39 commented on #13296
@przemekak is it something we've seen also?

[2022-07-25 09:34] sopel39 commented on #13320
[code]
https://github.com/trinodb/trino/pull/13315

[2022-07-25 09:37] sopel39 commented on #13322
This wasn't flaky before. Could  it be actual product test due to recent DF changes, cc @raunaqmorarka @arhimondr ?

[2022-07-25 10:10] #8045 closed

[2022-07-25 10:36] sopel39 commented on #13322
@nineinchnick Could you confirm that it's a new flakyness rather than being there always from time to time?

[2022-07-25 10:58] nineinchnick commented on #13322
@sopel39 last occurrence was on 2022-06-14

[2022-07-25 10:59] nineinchnick commented on #13322
Is this happening in the CI? Shouldn't we see more recent occurrences?

[2022-07-25 11:33] ebyhr commented on #13322
@nineinchnick It failed 2 days ago in https://github.com/trinodb/trino/runs/7479762692

[2022-07-25 11:36] ebyhr commented on #13301
Did you try `TNS_ADMIN` option?
https://docs.oracle.com/en/cloud/paas/autonomous-database/adbsa/connect-jdbc-thin-wallet.html#GUID-1640CC02-BF3E-48C2-8FFE-A596614A6A40

[2022-07-25 12:01] WilliamQue opened #13336 "Only parts of fields would be displayed."
I create a postgresql catalog and query data from a PG server by trino, but only part of fields are displayed, for example, the table has 5 fields, f1-f5, but when querying using select * from .., but only f1-f3 are listed, It happens even if using DESC table command to show the metadata.

The configuration files are directly copied from trino verion 377.

OS: centos 7
Trino: 391

[2022-07-25 12:38] sopel39 commented on #13320
[code]
https://github.com/trinodb/trino/pull/13178

[2022-07-25 12:57] eadapa29 commented on #13301
TNS_ADMIN option is not clear to me but based on the documentation wallet
means we need to have mutual TLS ?

On Mon, Jul 25, 2022 at 6:36 AM Yuya Ebihara ***@***.***>
wrote:

[2022-07-25 13:21] arhimondr commented on #13296
@sopel39 That's the first thing I checked. The TPC-DS tables don't contain DOUBLE columns on their own. It is possible to get results processed as DOUBLE when certain functions return double on, say, integer inputs (e.g.: `avg`). However the queries mentioned (e.g.: [tpcds/etl/q15](https://github.com/trinodb/trino-verifier-queries/blob/main/src/main/resources/queries/tpcds/etl/q15.sql)) does not i

[2022-07-25 13:50] arhimondr commented on #13244
I'm checking other tests and usually the query created in this way is getting cancelled after some checks are performed. What specifically are you trying to test?

[2022-07-25 15:03] #13336 closed, assigned to nobody

[2022-07-25 16:49] debashis1982 opened #13341 "User credentials are not validated when creating connection in JDBC driver"
We are using Trino V363 JDBC driver to connect to Hive and it looks like it lets you create a SQL connection even if the user credentials (userId and password) are invalid.

Code
[code]
Output
[code]

[2022-07-25 17:02] arhimondr commented on #13296
False alarm. Partitioned and non partitioned tables have different column order (partitioning column comes last in partitioned tables). Queries mentioned are sensitive to column order.

[2022-07-25 17:02] #13296 closed

[2022-07-25 18:55] Riddle4045 commented on #13298
@mosiac1  Thanks for the details! I am trying to address a more generic problem, `SystemAccessControl ` is an example scenario that demonstrates the gap.

I am interested in a framework to enable two-way communication between the engine/plugins & across plugins. Read my latest comment on the slack thread I added to the description.

[2022-07-25 19:56] jpohanka opened #13344 "[Pinot connector] Support for the Pinot `map_value` function"
**Trino version**: 389

**Description**:

Let's assume that we have a Pinot table `tab` and in this table, we have the following columns:

- `array_col_keys` - array-type column, representing **keys of a map**
- `array_col_values` - array-type column, representing **values of a map**

Pinot, for the specified version, does not implement a map type, thus a workaround has been implemented to allow s

[2022-07-25 20:20] jpohanka opened #13345 "[Pinot connector] Failing queries when having duplicated aggregation metrics"
**Trino version**: 389

**Description**:

Let's assume that we have a Pinot table `tab` and in this table, we have the following columns:

- `some_quantity` - double-type column

Consider the following query in Pinot:

[code]

The following is the same Pinot query as a passthrough query in Trino:

[code]

The first query runs successfully and returns the correct results.

The second query fails an

[2022-07-25 21:53] ebyhr commented on #13320
[code]

#12125

[2022-07-25 21:59] ebyhr commented on #13320
[code]

#13020

[2022-07-25 22:11] #12980 closed

[2022-07-25 23:02] ebyhr opened #13346 "Populate sample data in PinotQueryRunner"
Currently, `PinotQueryRunner` doesn't have any rows. It would be better to prepare TPCH tables or extract some methods from `AbstractPinotIntegrationSmokeTest` and reuse the data.

[2022-07-25 23:26] ebyhr commented on #13346
Also, we should remove defunct `pinot.request-timeout` config property from `PinotQueryRunner.main()` method.

[2022-07-26 00:04] ebyhr opened #13348 "Flaky query runner initialization in Iceberg and Delta Lake"
[code]

https://github.com/trinodb/trino/runs/7494433928

[2022-07-26 00:07] ebyhr commented on #13348
Steps to reproduce using `IcebergQueryRunner`.
[code]

[2022-07-26 06:39] ebyhr commented on #13341
Currently, `TrinoConnection.isValid` verifies only whether it's closed or not. We may want to execute a query (e.g. `SELECT 1`) to check the connection.

https://docs.oracle.com/en/java/javase/11/docs/api/java.sql/java/sql/Connection.html#isValid(int)

The query submitted by the driver to validate the connection shall be executed in the context of the current transaction.

[2022-07-26 06:44] #13092 closed

[2022-07-26 06:54] ebyhr commented on #8787
Closing as #11450

[2022-07-26 06:54] #8787 closed

[2022-07-26 10:54] jerryleooo opened #13355 "Use percentage for hardCpuLimit / softCpuLimit"
Since we can get the `totalActiveProcessors` of the cluster, we should be able to set the CPU limit from the percentage we set.

[2022-07-26 11:42] ebyhr commented on #13301
I'm not sure. I would recommend accessing without Trino first (e.g. using DBeaver) and then copying the connection string to properties file.

[2022-07-26 13:29] martint commented on #9031
Related: https://github.com/trinodb/trino/issues/4394

[2022-07-26 15:50] sopel39 opened #13362 "Flaky TestDistributedFaultTolerantEngineOnlyQueries.close"
[code]
cc @arhimondr @losipiuk

[2022-07-26 15:50] sopel39 commented on #13362
https://github.com/trinodb/trino/runs/7480214992?check_suite_focus=true

[2022-07-26 15:52] sopel39 commented on #13322
https://github.com/trinodb/trino/runs/7520376089?check_suite_focus=true

[2022-07-26 18:46] osscm opened #13363 "Support `DATABASE` as an alias for `SCHEMA`"
Spark and Hive support `SCHEMA` as an alias for `DATABASE`

Spark: https://docs.databricks.com/spark/latest/spark-sql/language-manual/sql-ref-syntax-ddl-create-database.html
Hive: https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL#LanguageManualDDL-Create/Drop/AlterDatabase

In Trino also we can support `DATABASE` as an alias. This will bring parity between Trino and Spark.
Especi

[2022-07-26 18:50] osscm commented on #13363
cc @vgankidi @RussellSpitzer

[2022-07-26 18:57] osscm commented on #13363
cc @findepi @martint @alexjo2144 @findinpath @ebyhr

We believe can help the community.
Appreciate it, if you can please provide your input?

We are happy to contribute, thanks a lot!

[2022-07-27 01:11] ebyhr commented on #13341
@debashis1982 I sent #13359

[2022-07-27 04:20] qibinaoe opened #13371 "Does Trino support LzoTextInputFormat? If it supports，"

[2022-07-27 06:42] ebyhr commented on #13320
[code]

#13082

[2022-07-27 09:12] sondn98 commented on #10426
I'm also facing with this problem, any idea here?

[2022-07-27 09:16] kqkdChen commented on #10426
Using `ShenandoahGC` can solve this problem, 2T data query 1000 times the trino cluster performance is very stable, the only defect is that the performance drops by about 10%

[2022-07-27 10:33] ankitagupta122 opened #13375 "Trino configurations"
I am setting up trino (https://github.com/trinodb/charts/tree/main/charts/trino) using helm on k8s with the below configurations for coordinator and worker. When I am increasing load for pod autoscaling (min 2 and max 5 replicas, memory averageUtilization: 90%), the memory is getting stuck at 85%, post that it is neither increasing nor decreasing.

Coordinator:
[code]

Worker:
[code]

[2022-07-27 13:04] hyunjin-oh-naver commented on #12195
To support schema registry authentication, it looks like you need to implement `SchemaRegistryClientPropertiesProvider` interface. https://github.com/trinodb/trino/pull/6940

https://github.com/trinodb/trino/blob/835695abd2c1aaf8378cbbbc94daef4c3f168292/plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/schema/confluent/ConfluentModule.java#L93-L104

[2022-07-27 14:50] martint commented on #13363
It is not a goal of Trino to have parity with Spark or Hive. There are already many incompatibilities between the Hive/Spark dialects vs Trino's, so adding an alias for SCHEMA is not going to have any material impact without also tackling all the other differences, which we don't have any plans to do.

Also, we try to stay as close to the ANSI/ISO SQL specification, and only deviate when there's n

[2022-07-27 14:50] #13363 closed

[2022-07-27 15:21] findepi commented on #13355
cc @sopel39

[2022-07-27 18:13] #9935 closed

[2022-07-27 18:15] raunaqmorarka commented on #13320
[code]
#9935 #12152

[2022-07-27 21:27] ebyhr commented on #13320
[code]

#13316

[2022-07-27 22:12] gaurav8297 opened #13379 "Scale task writers based on throughput for partitioned tables with skewness"
## Problem

- Improve the performance of partitioned writes specifically in case writers/partitions are skewed.
   - Known issue: https://github.com/trinodb/trino/issues/10791
   - Relevant slack thread: https://trinodb.slack.com/archives/CFLB9AMBN/p1642961339264200

- Right now, `prefer-partitioning` only works if you have statistics and the number of partitions is greater than `preferred-write-p

[2022-07-27 23:10] ebyhr commented on #13320
[code]

#13368

[2022-07-27 23:22] arhimondr opened #13380 "Regression in join memory utilization"
[tpcds/etl/q11](https://github.com/trinodb/trino-verifier-queries/blob/main/src/main/resources/queries/tpcds/etl/q11.sql) (as well as [tpcds/q38](https://github.com/trinodb/trino-verifier-queries/blob/main/src/main/resources/queries/tpcds/q38.sql) and [tpcds/q38](https://github.com/trinodb/trino-verifier-queries/blob/main/src/main/resources/queries/tpcds/q87.sql)) started failing with out of memor

[2022-07-27 23:23] arhimondr commented on #13380
CC: @skrzypo987 @sopel39

[2022-07-28 04:41] pangyifish opened #13382 "Cannot parse the partition key from SQL for less table scan if the partition keys are specified in OR conditions"
`a` is a hive table partitioned by `dt`, stored in s3.
I have where conditions like:

[code]

Trino ended up doing a full table scan on `a`
so I have to add `AND a.dt in (DATE'2022-07-17', DATE'2022-07-18', DATE'2022-07-23', DATE'2022-07-24')` to make it scan less data.

version: 380

[2022-07-28 04:51] ebyhr commented on #13199
The same error happened in `TestDeltaLakeDatabricksInsertCompatibility.testCompression`
https://github.com/trinodb/trino/runs/7552794871

[2022-07-28 05:02] ebyhr commented on #13199
`TestDeltaLakeDropTableCompatibility.testDropTable` https://github.com/trinodb/trino/runs/7461160182

[2022-07-28 05:03] piee9818 commented on #12195
To support schema registry authentication, it looks like you need to implement `SchemaRegistryClientPropertiesProvider` interface. https://github.com/trinodb/trino/pull/6940

https://github.com/trinodb/trino/blob/835695abd2c1aaf8378cbbbc94daef4c3f168292/plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/schema/confluent/ConfluentModule.java#L93-L104

[2022-07-28 05:12] #13088 closed, assigned to nobody

[2022-07-28 05:18] martint commented on #12904
How are you measuring the number of rows in this case?

[2022-07-28 07:23] ebyhr opened #13389 "Delta Lake connector writes incorrect column stats when the column contains null"
[code]

[2022-07-28 14:50] gesundes commented on #2910
JDBC connector can provide the ability to connect to Hive via Knox. So, any progress here, guys?

[2022-07-28 15:42] #12983 closed

[2022-07-28 18:52] pangyifish opened #13394 "Killed query still occupying memory for a long time (by looking at webui)"
I noticed that after I killed one query from web UI, the dead query is still presented in the node status page, occupying some memory, that query ID is also presented in the thread snapshot for more than an hour. Wondering if that is expected?

Will it cause a node that experiencing low memory issues and slow down the whole cluster to be hard to recover? Thanks!

Version: 380

Below is the thread

[2022-07-28 23:53] ebyhr commented on #13320
[code]

#13353

[2022-07-29 00:42] damnMeddlingKid commented on #1261
I have a PR to implement a scoped down version of this https://github.com/trinodb/trino/pull/13401

[2022-07-29 03:04] ebyhr commented on #13199
`TestDeltaLakeDropTableCompatibility.testDropTable` https://github.com/trinodb/trino/runs/7571034833

[2022-07-29 06:17] Praveen2112 commented on #13322
https://github.com/trinodb/trino/runs/7560632851?check_suite_focus=true

[2022-07-29 06:24] Praveen2112 opened #13407 "Flaky tests in TestIcebergDynamicPartitionPruningTest"
Following tests failed with timeout

BaseDynamicPartitionPruningTest.testJoinDynamicFilteringMultiJoinOnPartitionedTables:
TestIcebergDynamicPartitionPruningTest>BaseDynamicPartitionPruningTest.testJoinLargeBuildSideRangeDynamicFiltering:
TestIcebergDynamicPartitionPruningTest>BaseDynamicPartitionPruningTest.testJoinWithNonSelectiveBuildSide:
TestIcebergDynamicPartitionPruningTest>BaseDynamicParti

[2022-07-29 06:24] Praveen2112 commented on #13407
https://github.com/trinodb/trino/runs/7560634925?check_suite_focus=true

[2022-07-29 06:28] Praveen2112 commented on #8404
https://github.com/trinodb/trino/pull/13335 fixes this issue.

[2022-07-29 06:28] #8404 closed

[2022-07-29 06:32] tan31989 commented on #13059
Hi, @ebyhr is this pertaining to just extending the `BaseConnectorTest` in https://github.com/trinodb/trino/blob/master/plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/AbstractPinotIntegrationSmokeTest.java#L96 ?

Can you provide more description on the actual expectation of this?

[2022-07-29 06:37] ebyhr commented on #13059
@tan31989 Updated the description.

[2022-07-29 08:02] AlvinWo opened #13409 "Could we have an optimizer to deduplicate joins?"
Like we've discussed in https://github.com/trinodb/trino/issues/13160

when we have a query like this:
[code]

Could we deduplicate `join mapping` twice and only join it once, like
[code]

cc @findepi

[2022-07-29 08:09] ebyhr commented on #13199
`TestDeltaLakeDatabricksCreateTableCompatibility.testCreateTableWithColumnCommentOnTrino`  https://github.com/trinodb/trino/runs/7574003052

[2022-07-29 08:37] zxl333 commented on #3426
This is my solution
https://github.com/trinodb/trino/pull/13408

[2022-07-29 08:44] ebyhr commented on #13199
I could reproduce this issue locally. Investigating.

[2022-07-29 08:49] findepi commented on #13320
[code]

#13136

[2022-07-29 09:20] findepi commented on #13409
cc @sopel39 @skrzypo987 @raunaqmorarka

[2022-07-29 09:23] findepi commented on #13407
cc @sopel39 @raunaqmorarka

[2022-07-29 10:47] Mionsz commented on #5155
@tooptoop4 @jiangzhx @jiangzhx We experienced the same problem at some point. In our case the problem behind Metastore on Hive 3.1.3 with java.net.socketTimeout, running on Kubernetes cluster, was due to database backend service. We were using self-hosted instance of Apache Derby and migrated to self-hosted PostgreSQL. Problem occurred no more.

[2022-07-29 11:20] #13389 closed

[2022-07-29 11:21] ebyhr commented on #13320
[code]

#13404

[2022-07-29 11:28] #11848 closed

[2022-07-29 11:58] kamil-rafalko commented on #10444
@ebyhr Let me rewrite it in my own words. Do you want to add a new test runner in particular dse-server which will be run next to existing ones - latest Cassandra, Cassandra V3 and Scylla and in the same time adjust the connector to the latest version of dse-server because it doesn't work out of the box, is that right understanding?

[2022-07-29 12:45] findepi opened #13413 "Skip Glue archive in Iceberg table commits"
like https://github.com/apache/iceberg/blob/3d00780f5f508ac7a0f475fd0e1ddfd736000c5b/aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java#L285
in https://github.com/trinodb/trino/blob/82a2cb6e5a160b392f539343400ca75b64d39ebf/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/GlueIcebergTableOperations.java#L124

cc @danielcweeks @erichwang

[2022-07-29 13:20] #8070 closed

[2022-07-29 13:20] #10479 closed

[2022-07-29 13:30] sopel39 commented on #13409
I think this is duplicate of https://github.com/trinodb/trino/issues/5878

[2022-07-29 20:03] #13380 closed

[2022-07-29 21:08] ebyhr commented on #10444
@kamil-rafalko Depends on how DSE implementation is different from Apache Cassandra. If it's close to Cassandra, just adding a new version to  `CassandraServer` is enough. If it's much different and we can't reuse existing `CassandraServer` & `CassandraQueryRunner`, we will need to add such new lasses.

[2022-07-31 10:16] elonazoulay commented on #13040
This is due to the order by clause in the first query. You can do the following unit tests in AbstractPinotIntegrationSmokeTest or with a local query runner on the docker image and verify with `explain analyze`:
[code]

[2022-07-31 10:16] elonazoulay commented on #13040
The last example includes the order by in the with clause.

[2022-07-31 10:20] elonazoulay commented on #13040
Verified that the applyAggregation function is only called once when the order by is present but twice to push down the count when the order by is not present. The pushdown decision is made outside of the connector.

[2022-07-31 19:25] mwesolowski commented on #6754
@martint @findepi Could you take a look at the PR? Unfortunately I cannot assign reviewers.

[2022-08-01 03:48] jerryleooo commented on #13355
I managed to modified the `ClusterMemoryManager` by adding `addCpuChangeListener `, so `updatePools()` can publish the CPU change to listeners like `DbResourceGroupConfigurationManager`

[2022-08-01 08:16] homar opened #13434 "NULL value may be inserted into non-nullable column if it is a result of an expression"
on Iceberg:
`
CREATE TABLE  tableName  (col1 INTEGER NOT NULL, col2 INTEGER);
INSERT INTO tableName VALUES(1, 10);
`
This doesn't work which is good:
`INSERT INTO tableName VALUES(null, 1)`

but this works which is not good:

`INSERT INTO  tableName  VALUES(TRY(5/0), 1)`

[2022-08-01 08:38] homar opened #13435 "Updates don't respect columns non nullability"
Assuming table like:
[code]

This doesn't work (which is good):
[code]

But this works:
[code]
and sets col1 to NULL which is wrong.

[2022-08-01 09:02] kamil-rafalko commented on #10444
@ebyhr Sounds, good. I think I can try closing this issue

[2022-08-01 09:10] sopel39 commented on #13355
cc @dain

[2022-08-01 09:12] sopel39 opened #13437 "Flaky io.trino.execution.TestSqlTaskManager.testFailStuckSplitTasks"
[code]

[2022-08-01 09:12] sopel39 commented on #13437
cc @arhimondr @losipiuk

[2022-08-01 09:13] sopel39 commented on #13437
https://github.com/trinodb/trino/runs/7585678894?check_suite_focus=true

[2022-08-01 09:35] homar commented on #13434
failure: https://starburstdata.atlassian.net/browse/SEP-9412

[2022-08-01 10:29] findepi commented on #12761
https://github.com/trinodb/trino/pull/13090

[2022-08-01 10:29] #12761 closed

[2022-08-01 10:29] findepi commented on #13320
[code]

#12761 #13090

[2022-08-01 13:19] #5632 closed

[2022-08-01 16:36] arhimondr commented on #13437
@leetcode-1533 Could you please take a look?

[2022-08-01 18:13] leetcode-1533 commented on #13437
taking a look

[2022-08-01 20:54] leetcode-1533 commented on #13437
https://github.com/trinodb/trino/pull/13441

[2022-08-01 21:57] ebyhr commented on #13320
[code]

#13422

[2022-08-01 22:33] rstyp opened #13442 "[JWT] `requiredAudience` validation fails if `aud` claim contains multiple audiences"
Currently, JWT `aud` claim is validated as below in `io.jsonwebtoken.impl.DefaultJwtParser`:

`
if (!expectedClaimValue.equals(actualClaimValue))
`

As `requiredAudience` is set as String, this equals comparison fails if `aud` claim contains multiple audiences in JWT token.

`
  "aud": ["trino", "oauth2_client_id"]
`

[2022-08-01 22:43] alexWhitworth commented on #10972
Checking in on this. Any idea on the ETA for shipping this to a release?

[2022-08-01 23:09] ebyhr commented on #12432
(Already answered in Slack DM)

[2022-08-02 00:01] njalan opened #13444 "Unable to get query details"
My version is presto sql 340 and below is my config :
coordinator=true
http-server.authentication.type=PASSWORD
node-scheduler.include-coordinator=false
http-server.https.enabled=true
http-server.https.port=8443
http-server.https.keystore.path=xx.jks
http-server.https.keystore.key=xxxx
http-server.http.port=8084
query.max-stage-count=400
query.stage-count-warning-threshold=400
query.max-memory=80G

[2022-08-02 00:02] ebyhr commented on #13444
What happens if you deploy without the event listener?

[2022-08-02 00:11] njalan commented on #13444
In my testing environment it is working fine without the event listener

[2022-08-02 00:15] ebyhr commented on #13444
What event listener are you using? Implemented by yourself?

[2022-08-02 00:24] njalan commented on #13444
Yes, just the statistics and write into mysql

[2022-08-02 00:29] ebyhr commented on #13444
Can you provide the code and stacktrace? Otherwise, it's hard to debug the issue.

[2022-08-02 00:34] njalan commented on #13444
When I deployed  event listener in testing environment and it is also able to get query statistics on web ui

[2022-08-02 00:42] njalan commented on #13444
@ebyhr  I deployed exact the same jar on the testing environment and it is working fine. Do you know what can be the issues on the production

[2022-08-02 01:12] osscm commented on #13442
cc @alexjo2144 @findinpath

[2022-08-02 01:21] njalan commented on #13444
I got the reason Because the use can only see his own query details and not able to see others

[2022-08-02 01:21] #13444 closed

[2022-08-02 01:23] ebyhr commented on #13444
By the way, you can ask questions in GitHub discussions https://github.com/trinodb/trino/discussions or community Slack https://trino.io/slack.html from next time.

[2022-08-02 01:45] samyScott opened #13445 "Could Trino search data in Chinese"
when I use Trino search Chinese data in Clickhouse DB,  the result is unreadable codes
![mmexport1659404720231](https://user-images.githubusercontent.com/38185636/182273957-a88d2525-2c7c-472e-999b-e8c75e0ff7aa.png)

[2022-08-02 01:47] ebyhr commented on #13445
Did you try enabling `clickhouse.map-string-as-varchar`?

[2022-08-02 02:01] njalan commented on #13444
I added in slack but no response.

[2022-08-02 02:39] samyScott commented on #13445
yes

[2022-08-02 04:04] findinpath commented on #13442
@lukasz-walkiewicz @s2lomon

[2022-08-02 04:23] ebyhr commented on #13375
Let's continue in #13406. Please avoid cross-posting from next time.

[2022-08-02 04:23] #13375 closed

[2022-08-02 05:04] raunaqmorarka commented on #13320
[code]
#13132

[2022-08-02 05:59] singhrajk opened #13449 "Get Null Pointer Exception in some queries doing array_agg"
Hi team,
Some of the queries with array_agg are failing with null pointer exception, stack trace given below.

Whats more weird is that if we run the query with more resources (num of workers and worker memory), it runs fine.

Version -: Reproducible in `v391`

Stack Trace -:
[code]

Diff Stat from our internal build -:
[code]

Please let me know if I can contribute somehow.

[2022-08-02 05:59] tan31989 commented on #13059
Hi @ebyhr, I was trying to extend `BaseConnectorSmokeTest` for `AbstractPinotIntegrationSmokeTest`, but then realised that the SQL assertions in `BaseConnectorSmokeTest` are designed for a normal SQL queries, whereas, `AbstractPinotIntegrationSmokeTest` has tables/SQL's that require JSON specific queries. For instance, pinot specifically has Kafka that creates records in JSON and is expected to be

[2022-08-02 06:08] ebyhr commented on #13059
Correct, but please don't remove existing tests.

[2022-08-02 07:14] #12743 closed

[2022-08-02 07:15] findepi commented on #13320
[code]

#12786

[2022-08-02 07:42] jiangjiguang opened #13451 "I cannot see the org.apache.parquet.* logs."
I have installed trino on a single machine for testing,
but I only can see the io.trino.*  logs, cannot  see the  org.apache.parquet.* logs.
how can I see the org.apache.parquet.* logs?

the config is:

[root@icx20 etc]# cat log.properties
io.trino=DEBUG
org.apache.parquet=DEBUG

[2022-08-02 09:35] findepi commented on #12866
@MiguelWeezardo
If there are two concurrent splits for same file, will they have same instance of `JsonSerDe` or separate?

BTW i realized @electrum already fixed some thread-safety issue in `org.apache.hive.hcatalog.data.JsonSerDe`:
https://github.com/trinodb/trino-hive-apache/commit/26cd4c26a7458b3dcf3fc82c42e86275f76f7469
as a workaround to https://issues.apache.org/jira/browse/HIVE-15773 not b

[2022-08-02 11:15] ckesslau commented on #13194
Sorry for the late reply.

The query is a simple `SELECT *` (see screenshots of trino UI). The table has the following `CREATE` statement:
[code]
I replaced the column names and removed the comments from this statement. I hope this helps despite the anonymisation.

[2022-08-02 11:17] ckesslau commented on #13194
We are running our trino servers in k8s. The nodes have 16 vCPUs and 32 GB of RAM but we have to share it with other pods so trino can probably only use around 15GB. We are currently running one coordinator and 10 workers. We use the following settings without a problem for version 363 and older:
[code]
The table in question is ~530Gb on hadoop and has 8.1 billion rows in 151 columns. The table is

[2022-08-02 12:23] lukasz-walkiewicz commented on #13442
That's right, JWT authentication supports only single-value audience claims. @rstyp Would you be interested in contributing support for multi-value audience claims?

[2022-08-02 12:28] ebyhr opened #13457 "Add test for S3 path containing double slash in Iceberg connector"
The test for #11998

[2022-08-02 13:06] BalaMahesh commented on #10887
It's the same stack trace. This error is not consistent and comes intermittently

[code]

[2022-08-02 13:12] ebyhr commented on #11131
I guess it's already fixed. Going to close.

[2022-08-02 14:38] mengyu-dev opened #13464 "over optimisation on custom query"
We have one table in druid which contains many data and one table in postgres which contains only 10k small rows. We want to avoid the operation join, so we write the custom sql like this:

SELECT sum(A) from druid.druid.bigdata where id in (select id from postgres.public.smalldata where type = 'TYPE' )

select id from postgres.public.smalldata where type = 'TYPE'  takes only 2 seconds.
IF we repl

[2022-08-02 14:58] findepi commented on #7083
Closing as (hopefully) obsolete.

[2022-08-02 14:58] #7083 closed

[2022-08-02 14:59] findepi commented on #13449
cc @sopel39 @skrzypo987 @raunaqmorarka

[2022-08-02 15:27] mosabua commented on #12550
From a users perspective this should somehow allow you to see what connector these functions are supported.

Separate issue .. maybe we can enhance SHOW FUNCTION to allow it to return a specific type of functions only .. currently you can only use LIKE with the name ..

[2022-08-02 15:34] sopel39 commented on #13449
@singhrajk did it start to fail in 391?

[2022-08-02 16:32] singhrajk commented on #13449
@sopel39 it fails in 374 as well.
it works well in 350

[2022-08-02 16:50] rstyp commented on #13442
@lukasz-walkiewicz Thanks for checking. Sure, I can work on `support for mutil-value audience claims`.

[2022-08-02 17:22] raunaqmorarka commented on #13464
https://github.com/trinodb/trino/pull/13334 implements pushdown of dynamic filters to druid. I think it should do what you're expecting. Could you try it out and let us know if it works as expected ?

[2022-08-02 17:23] sopel39 commented on #13449
@singhrajk can you repro with tpch/tpcds?

[2022-08-02 17:46] sopel39 commented on #13449
@singhrajk could you also point to first version that fails?

[2022-08-02 18:26] findepi commented on #12550
A PTF is currently provided by a catalog.

Thus, `my_postgres1.system.query` is a _different_ function than `my_postgres2.system.query`  or `my_mysql.system.query`   and `SHOW FUNCTIONS` should return all of them.

[2022-08-02 18:58] dain commented on #13449
Without a reproduction, I don't think it will be possible to figure this out.

My guess is the problem has to do with the `OrderedAccumulatorFactory`.  The code should work if ensure capacity is called on the aggregator.  Where this is called can get complex when you have distributed aggregations, but ordered aggregations are not distributed; all of the work happens in that class.  It appears that

[2022-08-02 21:41] ssainz commented on #8542
Hello there, we are also having this same issue. Can we submit a `select 123;` right before returning the connection object to user to test out the username and password?

[2022-08-02 21:53] wrepking commented on #4171
Hello, is there any timeframe or priority for aggregation pushdown with expressions to be worked on? It would be very useful for my project. How complex of a challenge will it be?

[2022-08-02 22:01] erindru commented on #5638
I managed to get a Trino query to *return data* from a table using `org.openx.data.jsonserde.JsonSerDe` created in Athena.

I have no idea how broken this method is / if there are concurrency issues, bit it did return data :)

Basically, it just requires getting the `org.openx.data.jsonserde.JsonSerDe` class on the classpath. Since each plugin uses an isolated classloader, I just chucked it in the

[2022-08-03 01:05] pettyjamesm commented on #5638
The publicly available openx serde is _very _ broken when used from within Trino, because it isn’t written in a way that tolerates separate threads reading data concurrently on the same JVM. Athena has many, many patches to try to fix the issues we have found over time and it seems like we’re always finding more.

When I’ve tried contributing some of those patches upstream, the PRs have sat open w

[2022-08-03 01:23] erindru commented on #5638
Understood, good to know!

I've come to the conclusion that re-using Athena objects in Trino is generally unsupported (views dont work either).

Unfortunately the recommended SerDe for jsonlines files (`org.apache.hive.hcatalog.data.JsonSerDe`) forces you to define any nested JSON as <struct>'s while the OpenX SerDe just returns nested JSON as a string which was our main reason for using it.

Basi

[2022-08-03 01:34] #12785 closed

[2022-08-03 01:34] ebyhr commented on #13320
[code]

#13012

[2022-08-03 01:55] ebyhr commented on #13320
[code]

#13418

#

https://github.com/trinodb/trino/issues/13320#issuecomment-1197473432 is for table metadata. This change is for column metadata.

[2022-08-03 02:28] willmostly opened #13472 "Bucketing on bounded varchars is not used"
An unbounded varchar is mapped to the Hive `string` type, and a bounded varchar is mapped to a Hive `varchar(n)`. However, we only include `string` in our [supported types for bucket filters](https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveBucketing.java#L121). The root cause behind the lack of filtering can be diffcult to diagnose.

[2022-08-03 04:28] mosabua commented on #12550
Oh ... thanks for clarifying @findepi  .. that makes it even more important to somehow improve SHOW FUNCTIONS to narrow down what is returned.

[2022-08-03 06:49] hashhar opened #13473 "Ability to DESCRIBE any arbitrary query similar to SHOW STATS"
It would be useful to be able to execute DESCRIBE over any arbitrary query instead of being limited to named tables.

Perhaps a syntax like `DESCRIBE (....)`, similar to what we do with SHOW STATS.

_Originally posted by @findepi in https://github.com/trinodb/trino/issues/13465#issuecomment-1202812030_

[2022-08-03 06:51] hashhar commented on #13194
@ckesslau Does your Iceberg have delete files? Also how many snapshots?

cc: @findepi

[2022-08-03 07:33] findepi commented on #5638
@pettyjamesm @erindru ,
@MiguelWeezardo made some fixes to the serde code and made them available at https://github.com/starburstdata/hive-json-serde
cc @anusudarsan

[2022-08-03 07:55] ckesslau commented on #13194
No, we do not use delete files.
We regularly insert data into the table from kafka and run iceberg maintenance operations every hour (where we delete all snapshots older than 2 hours). So the number of snapshots is somewhat consistent. Currently, there are 171 snapshots for this table. Should we keep the number of snapshots lower?

[2022-08-03 07:59] findepi commented on #13473
To be clear: i don't know _how useful_ it would be. I don't have particular use-cases in mind.

For programmatic use-cases, the functionality is already available via PREPARE https://trino.io/docs/current/sql/prepare.html + DESCRIBE https://trino.io/docs/current/sql/describe-output.html :

[code]

Obviously, doing PREPARE + DESCRIBE + DEALLOCATE isn't nice for a interactive use-cases, but interact

[2022-08-03 08:07] findepi commented on #13320
https://github.com/trinodb/trino/pull/13342#issuecomment-1203564877

[2022-08-03 08:07] #13320 closed

[2022-08-03 08:08] martint opened #13474 "Release notes for 393"

[2022-08-03 08:26] findepi commented on #13434
This depends on the column type and/or coercions.

with `bigint` column (and integer producing expression) the validation happens in `TableWriterOperator`

[code]

with `integer` column (and integer producing expression) the INSERT passes
[code]

[2022-08-03 08:30] hashhar commented on #13473
DESCRIBE on arbitrary query is a nice alternative to what people generally do today when exploring some schema and writing larger queries - adding a `LIMIT 1` to every SELECT just to be able to see the schema of the data that is returned. The `LIMIT 1` still does IO and performs JOINs for example so is slow.

And I don't think users (other than devs) know about PREPARE + DESCRIBE OUTPUT + DEALLOCA

[2022-08-03 08:47] findepi commented on #13473
You can add `LIMIT 0`. The optimizer will obviously eliminate the whole query, so the execution will be cheap.

Agreed.

I am not saying we shouldn't add this. We should have some support for this, if this is a common thing people do with SQL queries. Since it would be meant for interactive consumption, we also need to think about the syntax. For example `DESCRIBE (...)` -- this requires a human t

[2022-08-03 09:06] #13306 closed

[2022-08-03 09:10] RosterIn commented on #5686
I agree with others that this one is a game changer I wonder if there is any chance this request will get some priority?

[2022-08-03 10:14] sopel39 commented on #13362
https://github.com/trinodb/trino/runs/7624187595

[2022-08-03 10:16] #9876 closed

[2022-08-03 10:43] findinpath commented on #12866
@findepi the fix you are referring to is already included in Trino `380` with dependency `io.trino.hive:hive-apache:3.1.2-19`.

Each cursor instance creates its own deserializer instance:

https://github.com/trinodb/trino/blob/fe608f2723842037ff620d612a706900e79c52c8/plugin/trino-hive/src/main/java/io/trino/plugin/hive/GenericHiveRecordCursor.java#L141

[2022-08-03 11:49] lukasz-stec opened #13480 "ORC UUID value endianness"
Currently, trino stores `UUID` columns in `orc` in the `binary` format.
The values are written and read using native byte order on a given machine, which means if the file is written on a big-endian machine and read on a little-endian machine the data will be corrupted.

More details in this conversation https://github.com/trinodb/trino/pull/13454#discussion_r936435327

[2022-08-03 11:51] martint commented on #13480
Trino does not work on big-endian machines, so this might not be an issue in practice.

[2022-08-03 11:56] findepi commented on #12516
cc @ppalucha

[2022-08-03 12:00] findepi commented on #13199
@ebyhr are your repro steps something you can share here?

[2022-08-03 12:03] findepi commented on #8817
cc @dain @kokosing @lukasz-walkiewicz

[2022-08-03 12:06] kokosing commented on #10932
Thank you!

[2022-08-03 12:08] ebyhr commented on #13199
I set `invocationCount = 100, threadPoolSize = 10` in `TestDeltaLakeDatabricksCreateTableCompatibility#testCreateTableWithColumnCommentOnTrino`. The rate of failure is about 1 or 2%.

[2022-08-03 12:37] lukasz-stec commented on #13480
theoretically, trino could read data created by some other means on a big-endian machine.
In practice, there are no big-endian contemporary machines so that won't happen soon.

[2022-08-03 12:50] findepi commented on #13480
That would be other means' responsibility to write a valid ORC file, with UUID values in the right byte order.

I don't think there is anything TBD here. Should I close the issue?

[2022-08-03 12:57] findepi commented on #13131
Such a view can be created

[code]

it can be queried
[code]

but the queries go directly to the source
[code]

however, it cannot be materialized, which is weird, since we allowed a user to create a MATERIALIZED view that cannot be materialized.

[code]

[2022-08-03 13:00] findepi commented on #13131
@sopel39 's https://github.com/trinodb/trino/pull/12499 aims to allow incremental refreshes for such views.
I believe that we should support non-incremental materialized views: some connectors won't immediately implement the new SPI, or may never be able to. Also, some query shapes cannot be updated incrementally, and we still want to be able to materialize them.

[2022-08-03 13:17] findepi commented on #10606
we don't have such concepts in Trino.

we believe that scheduling of stuff doesn't actually belong to Trino, and some external scheduling system would be recommended.

yes, we should do that

let me rephrase the issue to focus on this aspect

[2022-08-03 13:19] lukasz-stec commented on #13480
There is no "right" byte order as ORC does not support UUID directly.

If we assume that trino only works on little-endian machines, we can close this issue.

[2022-08-03 13:35] sopel39 commented on #13131
Yes, depending on connector support (source, target) engine will be able to:
* use incremental refreshes
or
* just identify version changes in source tables
or
* perform full refresh

[2022-08-03 13:37] martint commented on #13480
There should be one defined, otherwise, data containing UUIDs is not be portable. Then, whichever way we go, the code needs to make sure it writes it according to that encoding. Machine endianness doesn't play a part.

[2022-08-03 13:41] martint commented on #13480
According to the UUID RFC (https://datatracker.ietf.org/doc/html/rfc4122), values are supposed to be written in "network byte order" (i.e., big endian)

[2022-08-03 15:24] Vayu opened #13483 "SHOW CREATE TABLE and SHOW COLUMNS return invalid type when column/field name is a reserved keyword"
If name of a columns or a field is a reserved keyword, Trino should quote it when printing type in `SHOW COLUMNS FROM table`, but it does not. It also does not do it for column names in `SHOW CREATE TABLE`.

E.g.
[code]

`> SHOW CREATE TABLE test_type;`
[code]
Note missing quotes on the column name. Running this create table statement will result in an error `line 3:5: mismatched input 'exists'. E

[2022-08-03 15:52] nineinchnick commented on #13341
Duplicates #8542

[2022-08-03 15:59] findepi commented on #10606
Here is my attempt at fixing this: https://github.com/trinodb/trino/pull/13484

[2022-08-03 16:03] #13341 closed

[2022-08-03 16:08] findepi commented on #13483
`SHOW COLUMNS` doesn't promise that you can pick what you get there and paste back into SQL.
Let's focus this issue on `SHOW CREATE TABLE` which is expected to produce valid SQL.
@Vayu can you please adjust the title accordingly? If you also want SHOW COLUMNS changed, I'd create two separate issues.

[2022-08-03 16:42] ddcprg commented on #10199
for reference, JSON type will be added with #13428

[2022-08-03 20:09] riteshvaryani commented on #1277
what is the status of these PRs- are they going to be merged into next release of Trino @electrum ?

[2022-08-03 22:29] ebyhr commented on #13474
[code]

#13427

[2022-08-04 02:24] yittg opened #13491 "`TimestampWithTimeZoneType#getObjectValue` should respect session timezone"
Given `Type#getObjectValue` gets an object representation of the type value in the block position. And the value is returned to the user.

Shall we  should respect the session timezone for `TimestampWithTimeZoneType#getObjectValue`?

Currently it uses the timezone extracted from the block.

WDYT @findepi @ebyhr ?

[2022-08-04 03:27] Vayu commented on #13483
@findepi what's the benefit of fixing one and not the other? Presumably they both could use the same code and both are used for different kinds of introspection.

Other things that are impacted are `SELECT data_type FROM iceberg.information_schema.columns WHERE table_name = 'test_type' AND column_name = 'x1'` (which is probably the same code as SHOW COLUMNS). And `TYPEOF(x1)` (using Row.getDisplay

[2022-08-04 04:09] dain commented on #13491
I'm not sure what you mean.  The TimestampWithTimeZoneType is an exact UTC instance in a specific timezone, so every value can have a different time zone.  This is defined in the SQL spec.  So, if we were to use the session time zone, what would we do with that zone?

[2022-08-04 05:13] sajjoseph commented on #660
I had a similar challenge (had to map List<UDT>) and while working on that, I ended up fixing Cassandra collections - LIST, SET, MAP.
@chen-ni , I can collaborate with you if you like to get the changes in.

[2022-08-04 06:34] wrborigin commented on #13180
That is basically the point of this feature. Right now, when someone is reading table that is being refreshed by drop+CTAS, there might be several minutes of queries failing. This is probably fine for "daily refresh" use case but if you need table refreshed every hour, having it gone for five minutes of that hour is problematic.

[2022-08-04 06:49] yittg commented on #13491
Thanks @dain for your explanation. I think you are right.

Share my case here:
Write a ts with time zone field into iceberg, and get the corresponding UTC ts while reading no matter which time zone i set via `SET TIME ZONE`.
The time zone associating with the data is lost from writing to reading.

I guess it's the connector or file format implementation issue instead of the `TimestampWithTimeZoneT

[2022-08-04 06:56] sumit-gupta-sgt opened #13492 "Trino don't support String data type IN query"
I see some issue  If the column type of pinot table is integer and SQL (select * from tablename where colname in ('1', '2') limit 10) puts this column in the condition as a string, there will be an error in trino. But pinot works normally.

I see same issue with other catalog like Kudu and TiDB too.

[2022-08-04 07:18] martint commented on #13491
See related discussion: https://github.com/trinodb/trino/issues/13157

[2022-08-04 07:21] martint commented on #13492
If the type of `colname` is `integer`, then you need to do `... WHERE colname IN (1, 2)`. There's no implicit cast between `integer` and character types.

[2022-08-04 08:05] findepi commented on #13491
Closing as answered (by https://github.com/trinodb/trino/issues/13157)

[2022-08-04 08:05] #13491 closed

[2022-08-04 08:55] #13492 closed

[2022-08-04 11:29] arhimondr commented on #5686
@galithaham

Sorry, i think I must've missed your message.

Currently Trino is designed to be a processing engine, it doesn't have capabilities to store data. Temp table will likely have to be delegated to a connector. There is a memory connector implementation, but at this point it is not production ready and doesn't have proper memory accounting implemented.

In Trino there's no concept of a sta

[2022-08-04 11:45] martint commented on #5686
Adding support for temp tables is on the backlog and we'll probably have someone start to work on it in the next few months.

@arhimondr, we need temp tables for implementing recursive WITH queries efficiently (among other things). See https://github.com/trinodb/trino/issues/1122#issuecomment-632402097

[2022-08-04 11:59] chen-ni commented on #660
@sajjoseph Awesome! Do you have a branch or something I can refer to?
Or perhaps you can just create a PR to merge the fix if you already fixed them?

[2022-08-04 15:47] alexjo2144 commented on #13474
[code]
https://github.com/trinodb/trino/pull/13488

[2022-08-04 16:11] #7968 closed

[2022-08-04 16:16] raunaqmorarka commented on #13474
[code]
#13334 #7968

[2022-08-04 16:51] sumit-gupta-sgt commented on #13492
@martint if you do direct query on data source, they support implicit cast, Trino has any plan to support ?

[2022-08-04 19:33] electrum commented on #12866
This happens on the read path, so it’s not directly related to writer scaling. My guess is that writer scaling triggers a thread safety issue somehow this due to readers becoming blocked since the output buffer is full. Without writer scaling, readers might not block or will block less often.

You could try to reproduce this by doing a high concurrency read, or writing a concurrency test that util

[2022-08-04 20:24] alexjo2144 commented on #12843
One thing I realized today, if it matters. It's just the table's `$history` table that gets corrupted. You can still time travel back to previous snapshots, you just can't see the available snapshots in the history table.

[2022-08-04 20:40] alexjo2144 commented on #12843
https://github.com/apache/iceberg/issues/5442

[2022-08-04 22:42] ebyhr commented on #13199
The current status: asking AWS support team.

[2022-08-05 01:20] ebyhr opened #13504 "Filter Iceberg splits based on `$file_modified_time` column predicates"

[2022-08-05 02:07] dain opened #13505 "Delta Lake broken when partition column order does not match table column order"
[code]

Here is the output.  Notice first and second are swapped:

id | first | second
-- | -- | --
1 | B | A
2 | Y | X

Some example test queries
[code]

[2022-08-05 02:31] TravelEarth10001Days commented on #2817
After modifying the fields, the msck repair table is still inaccessible. The correct way is to delete the table, rebuild it, and then repair the partition, but it may be troublesome for internal tables

[2022-08-05 02:52] ebyhr commented on #13504
Iceberg PR: https://github.com/apache/iceberg/pull/5444

[2022-08-05 02:55] ebyhr commented on #13474
[code]

#13307

[2022-08-05 04:11] ebyhr opened #13506 "CI `build-pt` rarely takes long time"
I guess it was something wrong with GitHub environment, but filing an issue as the record.
https://github.com/trinodb/trino/runs/7682218760 took 5hours

[log.txt](https://github.com/trinodb/trino/files/9265154/log.txt)

[2022-08-05 04:36] damnMeddlingKid commented on #961
I was wondering if we can avoid doing the unreliable round trip from string -> type -> string by instead using the string values that are supplied in the query. That  grouping information is in the statistics writer's aggregation descriptor.

Does that make sense ?.

[2022-08-05 06:31] Praveen2112 opened #13507 "TestDistributedFaultTolerantEngineOnlyQueries takes longer time to execute"
It ends up in crossing the time limit for trino-test module (60 min) in GHA.

[code]

[2022-08-05 06:31] Praveen2112 commented on #13507
https://github.com/trinodb/trino/runs/7668645829?check_suite_focus=true

[2022-08-05 08:31] electrum commented on #13480
This whole conversation is completely off track. This is about UUID in Iceberg ORC files, so the only thing that matters [the Iceberg specification for UUID values](https://iceberg.apache.org/spec/#appendix-b-32-bit-hash-requirements):

Also, Trino only runs on little endian machines. Trino will [refuse to start](https://github.com/trinodb/trino/blob/71e11c35cb9342db67bc4bf60b00575224148c62/core/t

[2022-08-05 08:32] realknorke commented on #5686
The cool thing about temporary tables in Postgres is that they are bound to the current session. That is, no concurrent session is able to interfer with your session's temporary table. Of course it is possible to do the same thing with transactions (start transaction, clear existing temp table, do your thing with the temp table, commit/rollback) to have (sort of) session-specific temp table conten

[2022-08-05 08:33] #13480 closed

[2022-08-05 08:34] singhrajk commented on #13449
Able to reproduce the issue with this query -:

[code]

[2022-08-05 09:06] wanhuhou commented on #11498
I have the same problem, did you solve it?

[2022-08-05 09:23] #11498 closed, assigned to nobody

[2022-08-05 10:16] ebyhr commented on #13507
`TestHiveFaultTolerantExecutionJoinQueries` also took longer time and caused timed out.
[code]

https://github.com/trinodb/trino/runs/7687591861

[2022-08-05 10:29] vqcuong opened #13512 "Trino should allow password authentication (LDAP) in insecure HTTP"
I'm using trino to serve our data analytical queries. The problem I got is that I must setup seft-signed TLS before setup authentication using LDAP. For me, I want to setup LDAP authentication to enable decentralization and restriction to end users better.
I'm currently run trino cluster on k8s environment and I want to use ingress for expose domain for trino instead of setup local seft-signed cer

[2022-08-05 10:46] findinpath commented on #12866
Further test (which still doesn't reproduce) the issue:

https://github.com/trinodb/trino/commit/9f0289ec760b3ac08c42234a4a9aa96e62802a7f

One aspect on which I'm hanging now is in `io.trino.hive.$internal.org.codehaus.jackson.JsonFactory` :

[code]

Maybe this thread local buffer recycler is getting to some inconsistent state.

[2022-08-05 11:33] Praveen2112 commented on #13512
Hi !! Would the steps mentioned [here](https://trino.io/docs/current/security/tls.html#use-a-load-balancer-to-terminate-tls-https) helps you ? Short summary if we add this config property `http-server.process-forwarded=true` then we should be allowing password authentication for insecure HTTP provided they are forwarded.

[2022-08-05 14:30] Ghiro94 opened #13518 "Unable to connect to Mongo when ssl is enabled"
I setup a trino deployment on Kubernetes but I'm not able to connect to a MongoDB cluster that accepts only ssl connections with certificates created by an internal CA. I tried to use keytool to add to the default truststore the internal CA, without any success but if I run a simple java file inside the container, that connects to the ReplicaSet in question, it works. Is trino using the default ke

[2022-08-05 17:03] colebow opened #13520 "Document experimental annotation in SPI developer guide"
Docs for #13302

[2022-08-05 18:22] Dearkano opened #13521 "Fix failure when reading a table having partition columns renamed by Spark"
Hi, Trino community,

I found this issue when I tried the renaming feature of Delta Lake. It appeared that Trino did not support this feature weeks ago, and it started to support this in the recent update. However, I found when I tried to rename the partition columns, the query would still fail while the query on SparkSQL is correct. (It works fine for non-partition columns).

This test is to rena

[2022-08-05 18:23] #7708 closed

[2022-08-05 21:08] findepi commented on #12843
If the old snapshots do exist, why can't we show them in `$history`?

[2022-08-05 21:08] mosabua commented on #13520
Check with @nineinchnick and maybe help review his developer guide PRs

[2022-08-05 21:09] findepi commented on #13521
Hi @Dearkano

thanks for your report.
Can you please attach exact steps (SQL statements) to reproduce the problem?

cc @alexjo2144 @findinpath @ebyhr

[2022-08-05 21:39] ebyhr commented on #13150
Comment from AWS support

[2022-08-05 23:50] ebyhr commented on #13507
`TestHiveFaultTolerantExecutionJoinQueries.testOutputDuplicatesInsensitiveJoin`
https://github.com/trinodb/trino/runs/7689410625

[2022-08-06 03:22] ebyhr commented on #13474
[code]

#13436

[2022-08-06 03:56] ebyhr opened #13525 "Flaky `TestDruidTypeMapping.testTimestamp`"
[code]

[2022-08-06 03:58] ebyhr opened #13526 "Add test for `MERGE` statement on `NOT NULL` column to `BaseConnectorTest`"

[2022-08-06 09:20] findepi commented on #13526
cc @djsstarburst @homar

[2022-08-06 09:25] findepi commented on #13525
@Praveen2112 you seem to be currently the sole author for `TestDruidTypeMapping`. Can you please take a look?

[2022-08-06 17:56] JonathanAquino-NextRoll opened #13527 "How to increase timeout in ClickHouse connector"
Is there a way to increase the timeout in the ClickHouse connector? I am getting this error after 30 seconds:

Query 20220806_164547_02303_ddk5v failed: Read timed out, server ClickHouseNode(addr=http:clickhouse-production.internal.example.com:8123, db=default)@151730631

Based on https://github.com/ClickHouse/ClickHouse/issues/974 I think the JDBC setting to change is socket_timeout. It would be

[2022-08-06 19:45] tangjiangling commented on #13527
You need to change the catalog property `connection-url`(under `etc/catalog/clickhouse.properties`), sth like this:

[code]

[2022-08-07 09:54] assaf2 opened #13534 "MicroPlans - Allow choosing between different plans on the split level"
We want to give connectors the ability to choose between different plans on the split level.
A new abstraction will be introduced - **MicroPlan** (temporary name) which is a handle to a transformation of a table.
For certain metadata APIs, connectors will have the ability to return several MicroPlans.
These APIs will only be those who affect the plan on the stage level (for example, they can’t aff

[2022-08-07 15:08] djsstarburst commented on #13526
This test shows that MERGE erroneously allows non-null columns to be set to null:
[code]

[2022-08-07 20:40] djsstarburst commented on #13526
I submitted PR #13535 which changes the two implementations of MergeRowChangeProcessor to throw an exception if a
null value is assigned to a non-null column as a result of an SQL MERGE operation. An alternative approach would have been to change the query plan to insert such checks, but the chosen approach is simpler.

The PR also adds a BaseConnectorTest showing that SQL MERGE prevents assignmen

[2022-08-08 00:22] ebyhr opened #13536 "Predicates on JSON column fails in MongoDB connector"
We can just disable the pushdown on json column in MongoDB connector. `TestMongoTypeMapping` needs a new test method for json type when fixing this issue.

[code]

[2022-08-08 02:27] heiren93 opened #13537 "iceberg cast timestamp to date ,query missing data"
trino version 388
iceberg version 0.13.1

(1) table schema

[code]

(2)  iceberg table data as flow:

[code]

(3) cast testtimestamp to date
[code]
(4)query
[code]

the query result miss  the line where testtimestamp equals  to   '2022-06-01 00:51:10.000000'

[2022-08-08 03:05] ebyhr commented on #13017
Filed https://community.databricks.com/s/question/0D58Y000093AR43SAG/how-to-identify-s3-object-type-directory-or-file-created-by-databricks. I will update this issue once I got the response from Databricks community.

[2022-08-08 03:16] ebyhr commented on #13521
I could reproduce the issue using the below steps. Let us know if it's different from your intention.

[code]

[2022-08-08 03:19] ebyhr commented on #13521
Supporting reading columns renamed by Databricks and implementing `RENAME COLUMN` syntax in the connector can be separated issues. It would be better to fix the former first.

[2022-08-08 03:22] ebyhr opened #13538 "Add support for `RENAME COLUMN` in Delta Lake connector"

[2022-08-08 05:08] ebyhr commented on #7205
Let's reopen this issue once Phoenix supports such syntax.

[2022-08-08 05:08] #7205 closed

[2022-08-08 07:37] ebyhr commented on #13199
`TestDeltaLakeDatabricksCreateTableCompatibility.testCreateTableWithColumnCommentOnTrino` https://github.com/trinodb/trino/runs/7719217375

[2022-08-08 08:08] findepi commented on #13526
We should to this. This would allow the optimizer to eliminate these checks when it's able to prove the values being written are non-NULL.

I'm fine doing this on top of https://github.com/trinodb/trino/pull/13535

[2022-08-08 08:16] #13505 closed

[2022-08-08 08:16] ebyhr commented on #13474
[code]

#13509

[2022-08-08 10:19] findepi commented on #13474
[code]

https://github.com/trinodb/trino/pull/13395

[2022-08-08 10:32] amoskaliov opened #13541 "Support ClickHouse DateTime(<timezone>) data type"
Hello.

Trino 389.

Currently Trino doesn't support `DateTime(<timezone>)` type in Clickhouse, and, even worse, `unsupported-type-handling=CONVERT_TO_VARCHAR` also fails to handle it. When I turn it on, I get the following error:

```Unsupported type handling is set to CONVERT_TO_VARCHAR, but toColumnMapping() returned empty for JdbcTypeHandle{jdbcType=2014, jdbcTypeName=DateTime('Europe/Moscow'),

[2022-08-08 10:53] #13521 closed

[2022-08-08 10:53] ebyhr commented on #13474
[code]

#13539

[2022-08-08 11:05] findepi commented on #13537
@heiren93 thank you for your report.

Can you help me reproduce the problem, on my side?
So far I was unsuccessful. I tried the below on both 388 and current master, the output was same (3 rows in the final query, as expected).

[code]

[2022-08-08 11:10] findepi commented on #13541
Those are two separate issues.

https://github.com/trinodb/trino/pull/13542

Agreed!

[2022-08-08 11:15] findepi commented on #13541
relates to https://github.com/trinodb/trino/issues/10537

[2022-08-08 11:21] findepi commented on #13534
@assaf2 can you please add an example describing what a micro plan is?

[2022-08-08 11:22] ebyhr commented on #10537
@tangjiangling Sorry, I was missing your comment. Yes, it would be nice to support `DateTime*(timezone)` as well.

[2022-08-08 11:31] tangjiangling commented on #10537
@ebyhr Never mind, I will continue this in the near future.

[2022-08-08 11:38] tangjiangling commented on #13541
@amoskaliov #10537 will be tracked to support `DateTime*(timezone)`, you can keep an eye on it or I can ping you after it is done.

[2022-08-08 12:07] #12226 closed

[2022-08-08 12:08] findepi commented on #13474
[code]

#12227  #12226

[2022-08-08 13:24] MR-GOYAL opened #13544 "hive reate table with Special characters not allowing"
Hi,
I am using Trino with S3 using hivemetastore. I need to create table having columns with starting * like *cdrID. However, At the time of create table command. Trino is throwing me error.

[code]
Query 20220808_050018_00000_jjmme failed: All operations other than the following update operations were completed: replace table parameters ricc.rawcdr_dummy

On Trino UI , I can see below error .
![i

[2022-08-08 13:54] williesb opened #13545 "hive.metastore.thrift.delete-files-on-drop should apply to deleting partitions"
Currently `hive.metastore.thrift.delete-files-on-drop` only applies to DROP TABLE.  I believe that it should apply to deleting individual partitions as well.

[2022-08-08 19:39] netanel246 opened #13550 "Building trino-docs required root permissions"
I tried to run the build command from the [README](https://github.com/trinodb/trino#building-trino):
`./mvnw clean install -DskipTests`

And encountered this error message:
[code]
It looks like the module trino-docs runs a docker, which in my env(Ubuntu 20.04.4 LTS) needs root permission.

Should I put a PR to add that as a note in the README?

[2022-08-08 19:49] homar opened #13551 "MariaDB connector doesn't allow insertions no data into nonnullable column"
Following scenario doesn't work for MariaDB

`CREATE TABLE test (nullable_col INTEGER, not_null_col INTEGER NOT NULL);`

`INSERT INTO test (nullable_col) SELECT nationkey FROM nation WHERE regionkey < 0; //nothing is inserted so this should pass, but it doesn't`

[2022-08-08 19:59] findinpath opened #13552 "Add support for creating an Iceberg table from existing table content"
### Use case
The content directory (data & metadata) corresponding to an Iceberg table exist on the object storage, but the table has been removed from the metastore.
Offer a way to recreate the table.

Existing workaround:

-  create the table in Hive as an external table and point the `external_location` to the `data` directory of the table (I'm not sure if this plays well with Iceberg delete fi

[2022-08-08 20:43] djsstarburst commented on #13526
Interesting.  My guess was the opposite - - checking for nulls at the query planner level would result in more complex, slower plans.  My guess was that for non-null columns produced by MERGE, `Block.mayHaveNull()` would likely return false, and we would not need to iterate over the values.

[2022-08-08 21:13] findepi commented on #13474
[code]

#13542

[2022-08-09 01:54] elonazoulay commented on #13344
In trino, there is a `map_values` function which returns the values of the map. I think you're looking for `element_at` in trino.
For pinot the 1st argument should be a Map (complex type).

[2022-08-09 01:55] elonazoulay commented on #13345
Which version of trino and pinot are you using? This may be related to another issue but I will have to see if it applies to the versions you are using.

[2022-08-09 02:25] heiren93 commented on #13537
I think it's my problem.  My timezone is  ‘Asia/ shanghai’ .We stored  data on iceberg, and use trino  to query.  When query timestamp type, the time is   8 hours  later  than expected。For some reason,  it's hard to change the type,so we changed the code in  trino to make it look right. I think that caused the problem.

the code I changed  as below：
module trino-spi:
![image](https://user-images.g

[2022-08-09 02:36] heiren93 commented on #13537
can you tell me，how i can fix this。thanks

[2022-08-09 06:23] vqcuong commented on #13512
Hi @Praveen2112 thank you so much.

[2022-08-09 06:23] #13512 closed

[2022-08-09 06:49] findepi commented on #13537
thanks for clarifying

[2022-08-09 06:49] #13537 closed

[2022-08-09 06:49] findepi commented on #13537
a data problem needs to be fixed at the data layer. Making pointed modifications to the engine is a dead-end road, so I'd start with reverting them.

[2022-08-09 06:54] amoskaliov commented on #13541
@findepi thank you for fast reaction. In less than 24 hours the fix is already merged, this is amazing work.

@tangjiangling thank you, I've subscribed. Looking forward to this issue being resolved.

[2022-08-09 07:20] Praveen2112 opened #13556 "Flaky `TestIcebergParquetConnectorTest.testReadMetadataWithRelationsConcurrentModifications`"
This test fails with timeout.

https://github.com/trinodb/trino/runs/7725557488?check_suite_focus=true

[2022-08-09 07:22] Praveen2112 commented on #13507
`TestDistributedFaultTolerantEngineOnlyQueries.testScalarSubquery`
https://github.com/trinodb/trino/runs/7725553971

[2022-08-09 07:30] Praveen2112 opened #13557 "Flaky `TestHiveAlluxioMetastore`"
`TestHiveAlluxioMetastore` requires an alluxio and hadoop setup (defined by `docker-compose`) and we are unable to start the environment as hadoop port (50070) is already used by a different resource.

Additional details : https://github.com/trinodb/trino/runs/7724855779

[2022-08-09 07:48] raunaqmorarka commented on #13507
cc: @arhimondr

[2022-08-09 08:12] heiren93 commented on #13537
thanks verymuch

[2022-08-09 08:54] elonazoulay commented on #13344
I see the issue with `map_value` - the key column has to be dictionary encoded, the connector needs to get this information from Pinot. Will update w fix.

[2022-08-09 08:55] elonazoulay commented on #13345
Soon we will migrate to table functions which should fix this issue, I will verify that and update.

[2022-08-09 09:02] findepi commented on #13551
@martint does the spec define the expected behavior?

[2022-08-09 09:29] findepi commented on #13474
[code]

#13502

[2022-08-09 09:31] findepi commented on #8720
i see Alluxio here

cc @apc999 @kokosing

[2022-08-09 09:32] findepi commented on #2240
Alluxio integration isn't really maintained. There is no point adding such troubleshooting statistics -- in quite a while no-one ever reported any environment with Alluxio installed.

[2022-08-09 09:32] #2240 closed

[2022-08-09 09:33] findepi commented on #13270
The test results suggest use of Alluxio integration may result in incorrect query results.
Since the integration with Alluxio is effectively unmaintained, and seems unused, I think we should remove it.

cc @apc999 @kokosing

[2022-08-09 10:05] findepi commented on #13557
Can we perhaps remove the Alluxio integration?

[2022-08-09 10:08] ebyhr commented on #13107
https://github.com/trinodb/trino/runs/7736267790

[2022-08-09 10:11] findepi commented on #13550
Please see https://docs.docker.com/engine/install/linux-postinstall/ for Docker configuration.

[2022-08-09 10:11] #13550 closed

[2022-08-09 10:17] kokosing commented on #8720
What we can do with calcite?

[2022-08-09 10:38] #13073 closed

[2022-08-09 10:43] ebyhr commented on #13474
[code]

#13289

[2022-08-09 11:25] #12947 closed

[2022-08-09 12:02] lzeiming opened #13565 "Predicate push down bug"
I found the issue in versions 364,380, 392

[code]

Query 20220809_115635_06050_yjfzd failed: Value cannot be cast to timestamp: hello

I find the unexpected filter in the plan:
`(CAST(VARCHAR 'hello' AS timestamp) >= TIMESTAMP '2022-08-01 00:00:00.000'))`

[2022-08-09 12:45] #13167 closed

[2022-08-09 12:47] ebyhr commented on #13474
[code]

#13170

[2022-08-09 12:51] jpohanka commented on #13345
@elonazoulay We use Trino `389` and a 'pre-release' of Pinot `0.11.0`. Thank you for your help!

[2022-08-09 12:51] jpohanka commented on #13344
@elonazoulay Thank you for your help!

[2022-08-09 13:18] aksakalli opened #13568 "Distinguish creation of new table and registering existing table operations in Delta Lake connector"
I am using the [Delta Lake connector](https://trino.io/docs/current/connector/delta-lake.html) for reading existing delta tables in s3 exclusively. When I run a create table statement, I expect to already have an existing transaction log for the given location before creating the table. I have to check everytime manually if the transaction log exists in order to avoid creating an erroneous transec

[2022-08-09 13:41] djsstarburst commented on #13526
It makes sense to me to merge #13535 and if we decide the checks should be moved to the query plan, if would be great if @homar could take on that task.

However, it would be good to demonstrate based on measurements that putting the checks in the query plan actually does improve performance.

[2022-08-09 13:57] findepi opened #13569 "Use narrower type for modulo result"
Currently `bigint % integer` result is a `bigint`.

[code]

it could be `integer`, since the result is known to fit the integer value.

cc @martint

[2022-08-09 14:09] findepi commented on #11505
https://github.com/trinodb/trino/runs/7745768940?check_suite_focus=true

[2022-08-09 14:10] findepi commented on #13165
https://github.com/trinodb/trino/runs/7745769680?check_suite_focus=true

[2022-08-09 14:36] findepi commented on #9878
@sopel39 @raunaqmorarka @skrzypo987   did you happen to have fixed this in the mean time?

[2022-08-09 14:44] findepi commented on #13565
Reproducible on current master also with the memory connector

[code]

[code]

cc @sopel39 @martint

[2022-08-09 15:35] alexjo2144 commented on #13552
Related Iceberg API: https://github.com/apache/iceberg/pull/3851

[2022-08-09 15:40] tnatssb commented on #13552
I'm sure you know this, but this is how you add an existing Delta table. It's a very nice feature to have. https://trino.io/docs/current/connector/delta-lake.html#creating-tables

[2022-08-09 15:55] findepi commented on #13557
https://github.com/trinodb/trino/runs/7747794646?check_suite_focus=true

[2022-08-09 16:02] alexjo2144 commented on #13552
This works if you run `expire_snapshots` and `remove_orphan_files` with an expiration window of 0s first.

One case we may need to handle that's different from delta is that there are situations where we won't be able to derive everything we need to know from the file system layer. That's why the Iceberg API also takes `metadataFileLocation` as a parameter. For example, lets say the last snapshot

[2022-08-09 16:13] andrewdibiasio6 opened #13575 "OAuth Token Refresh will cause JWT authentication to fail"
## Overview

We can enable token refresh with something like the following config:

[code]

This will make Trino use a different implementation of `TokenPairSerializer` that will encrypt tokens trino fetches through the OAuth Challenge:
https://github.com/trinodb/trino/blob/b3d03cde33583e312f077d53b9133e13487ce92b/core/trino-main/src/main/java/io/trino/server/security/oauth2/JweTokenSerializer.jav

[2022-08-09 16:30] sopel39 commented on #11936
Done

[2022-08-09 16:30] #11936 closed

[2022-08-09 16:49] ashishjullia commented on #13085
If someone else comes here in the near future, it can be achieved using the following code in `service.yaml`
[code]

Related -> [PR](https://github.com/trinodb/charts/pull/10)

[2022-08-09 16:49] #13085 closed

[2022-08-09 22:50] arhimondr commented on #13507
Looking

[2022-08-10 03:29] singhrajk commented on #13449
Hi @dain @sopel39 @findepi, Any updates on this?

[2022-08-10 05:12] findinpath opened #13587 "`NOT NULL` constraint not taken into account while adding a new column."
Context https://trino.io/docs/current/sql/alter-table.html

The  `NOT NULL` constraint set while adding the `city` column in the snipped below is not actually being added.

[code]

Consider setting a default value for the column when adding a `NOT NULL` column.

Consider also  allowing dropping the `NOT NULL` constraint on a column via `ALTER TABLE`.

[2022-08-10 05:30] raunaqmorarka commented on #11672
Now that writer scaling is enabled by default, does this behave better ?

That problem could be tackled by manually setting `writer_min_size` to task_writer_count * 32 MB.

cc: @sopel39 @gaurav8297 @electrum

[2022-08-10 05:49] raunaqmorarka commented on #11585
Does using `set session preferred_write_partitioning_min_number_of_partitions=1;` help here ?

[2022-08-10 06:41] ebyhr commented on #13556
`TestIcebergOrcConnectorTest.testReadMetadataWithRelationsConcurrentModifications` also failed https://github.com/trinodb/trino/runs/7760222236

[2022-08-10 06:47] ebyhr opened #13589 "Flaky `Test Docker Image` step due to `ports.ubuntu.com` connection timed out"
[code]

https://github.com/trinodb/trino/runs/7758734079
https://github.com/trinodb/trino/runs/7758481951

[2022-08-10 07:43] aakashnand opened #13590 "Render environment variables in resource properties file"
When I was trying to configure SASL settings for Kafka Connector, I tried using secrets https://trino.io/docs/current/security/secrets.html explained here. but the environment variables are not loaded in kafka-config.properties

Here are the settings I used

`kafka_catalog.properties`
[code]

`kafka-configuration.properties`

[code]

Apparently these values are showing following NULL error

[code]

[2022-08-10 07:45] aakashnand commented on #13590
We should also update the document clarifying that secret may not work for some files on that line

[2022-08-10 07:47] hashhar commented on #13590
We're basically missing Bootstrap since we just call `Properties#readProperties` on whatever path is returned by `KafkaConfig#getResourceConfigFiles`.

BTW this is one of the downsides of such "escape hatches" provided by ability to passthrough arbitrary configs instead of building dedicated handling for a feature.

cc: @kokosing

[2022-08-10 08:22] findepi commented on #13474
[code]

#13576

[2022-08-10 08:42] findepi commented on #12627
https://github.com/trinodb/trino/runs/7749050866?check_suite_focus=true

[2022-08-10 08:58] findepi commented on #13589
cc @nineinchnick

[2022-08-10 09:02] findepi commented on #13575
cc @kokosing @s2lomon @lukasz-walkiewicz

[2022-08-10 09:28] nineinchnick commented on #13589
`apt` has a default retry of 3, maybe this is some issue with the Docker network when starting the container using emulation.

[2022-08-10 09:33] nineinchnick commented on #13589
Might be related: https://github.com/docker/build-push-action/issues/471
I'll see if we can increase timeouts in apt too.

[2022-08-10 09:53] findinpath opened #13593 "Support view column comments"
[code]

[2022-08-10 09:58] #13593 closed

[2022-08-10 10:16] findinpath commented on #10705
### Technical analysis

[code]

corresponds to

[code]

Add a corresponding method to `ConnectorMetadata`:

- setViewColumnComment

Add to the class `io.trino.metadata.ViewColumn` a `String` `comment` field.

Change `io.trino.execution.CommentTask#commentOnColumn` to take into consideration also views.

[2022-08-10 11:13] homar opened #13600 "TestHiveConnectorTest.testCreateSchemaWithLongName is flaky"
Also related TestHiveConnectorTest.testRenameSchemaToLongName is also flaky.

Example failure here: https://github.com/trinodb/trino/runs/7763093142?check_suite_focus=true

Stracktraces:
[code]
[code]

[2022-08-10 11:19] findepi commented on #13600
cc @ebyhr

[2022-08-10 11:22] homar opened #13601 "TestIcebergSparkCompatibility test methods became flaky recently"
Some tests in `TestIcebergSparkCompatibility`  are failing with
`could only be written to 0 of the 1 minReplication nodes. There are 1 datanode(s) running and no node(s) are excluded in this operation`

There are retries for that in Hive product tests. Maybe similar mechanism can be added here?

[2022-08-10 11:40] nineinchnick commented on #13556
Saw this in https://github.com/trinodb/trino/runs/7763461397?check_suite_focus=true

[2022-08-10 12:05] raunaqmorarka commented on #13507
https://github.com/trinodb/trino/runs/7763457547?check_suite_focus=true
[code]

[2022-08-10 12:10] findepi commented on #13601
https://github.com/trinodb/trino/runs/7763335328?check_suite_focus=true

[code]

[2022-08-10 12:52] kamil-rafalko commented on #12304
@ebyhr Just to clarify. According to the documentation the only way of passing bearer token is through a file using `prometheus.bearer.token.file` property isn't it?

[2022-08-10 13:33] njalan commented on #3661
@johnwhumphreys  Thanks for your reply and I fixed it the same way.

[2022-08-10 14:23] nineinchnick commented on #13362
https://github.com/trinodb/trino/runs/7765863878?check_suite_focus=true

[2022-08-10 16:25] assaf2 commented on #13534
It would be an empty interface like `ConnectorTableHandle`. Connectors will use it to store information about different ways to transform tableHandles. It may contain information about projected columns, filters, aggregations, etc.
For example, here is how push predicate will work:
Assuming the query `SELECT * FROM t WHERE partition_col = 1 AND col1 = 2 AND col2 = 3` and that connector X knows for

[2022-08-10 18:14] #13434 closed

[2022-08-10 18:15] findepi commented on #13474
[code]

[2022-08-10 20:41] alexjo2144 commented on #13568
We could add a `register_table` procedure that would do this

[2022-08-10 22:52] ebyhr commented on #12304
@kamil-rafalko Yes, we need to set the file path.

[2022-08-11 05:31] rijojoseph07 opened #13612 "LDAP Ignoring ParitionResultException"
Hi team,

We are getting `PartialResultException` when using LDAP Auth against a proxy where we don't have direct connectivity to the actual LDAP server but the result contains referrals even with `ldap.ignore-referrals=true`

`javax.naming.PartialResultException: Unprocessed Continuation Reference(s); remaining name 'ou=proxy,dc=ldapproxy,dc=com'`

Does it make sense to add a new feature flag lik

[2022-08-11 09:00] sopel39 commented on #13449
@dain this query indeed fails for me even on single node:
[code]

[2022-08-11 09:02] sopel39 commented on #9878
I don't think so. @lzeiming do you know how to repro this?

[2022-08-11 09:03] #12843 closed

[2022-08-11 09:04] findepi commented on #13474
[code]

#12843 #13485

[2022-08-11 09:05] findepi commented on #13556
https://github.com/trinodb/trino/runs/7773115785?check_suite_focus=true

[2022-08-11 09:26] xiacongling opened #13613 "Fail to execute Iceberg time travel query"
After update Trino version to 392, queries failed for time travel queries.

[code]

Stacktrace:
[code]

[2022-08-11 09:42] xiacongling commented on #13613
After stepping into the code, I find that the schema is null after this line:

https://github.com/trinodb/trino/blob/bfb1c63498e28f3a84778fd3314cad04e0f2cd0a/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java#L329

Our team use Spark with Iceberg lib version of 0.12 and it may not support to write `schema-id` for snapshots in metadata json files.

And I notice that in

[2022-08-11 10:03] findepi commented on #13474
[code]

#13582

[2022-08-11 10:06] findepi commented on #13322
https://github.com/trinodb/trino/runs/7776189226?check_suite_focus=true

[2022-08-11 10:07] findepi commented on #13166
https://github.com/trinodb/trino/runs/7776189140?check_suite_focus=true

[2022-08-11 10:14] #13504 closed

[2022-08-11 10:14] findepi commented on #13474
[code]

#13591 #13504

[2022-08-11 10:19] findepi commented on #13534
Why does it need to be a new abstraction if all it does is to pass it along with table handle?
Isn't that this information could be just a connector-specific field within the connector's table handle?

[2022-08-11 10:41] #13472 closed

[2022-08-11 10:45] raunaqmorarka commented on #13474
[code]
#13553 #13472

[2022-08-11 12:17] assaf2 commented on #13534
Because each MicroPlan will have different plan on the engine (that's why the engine will need to be aware of which MicroPlan was chosen for each split).
The point is to give more flexibility to connectors that can't make guarantees for the entire table.

[2022-08-11 13:40] findepi commented on #13507
It seems `TestDistributedFaultTolerantEngineOnlyQueries.testScalarSubquery` can take over 45 minutes

[code]

https://github.com/trinodb/trino/runs/7783779560?check_suite_focus=true

[2022-08-11 13:48] findepi commented on #13507
Locally the test finishes in one minute on my laptop, so 45 minutes on the CI looks suspicious.

[2022-08-11 18:55] zzzpoint commented on #4253
Is there a workaround for this issue?

[2022-08-11 19:50] djsstarburst opened #13620 "Add access control tests in SQL MERGE"
... and fix whatever holes are uncovered.

[2022-08-11 20:00] djsstarburst opened #13621 "Implement SQL DELETE and UPDATE using MERGE machinery"
Implementing SQL DELETE and UPDATE using MERGE machinery has lots of benefits:

- We can remove (or at least deprecate) the existing DELETE and UPDATE connector metadata APIs.
- We can support UPDATE operations that modify partition and bucket columns, something that is currently not allowed.
- We will have a single set of Trino engine machinery for all modify operations.

The strategy is simple:

[2022-08-11 20:36] hashhar commented on #13621
How is this expected to work for connectors that pass-through to some other system like JDBC based ones? Is MERGE supposed to be translated into separate queries ran within a single transaction (assuming transactions are supported and provide linearizable transactions?).

[2022-08-11 20:51] findepi commented on #13621
The `io.trino.spi.connector.ConnectorMetadata#applyDelete` should work as it does today.

[2022-08-11 22:41] ebyhr commented on #3597
Re-added `good first issue` label because the above issue is already resolved.

[2022-08-12 01:52] lzeiming commented on #9878
I don't know how to reproduce

[2022-08-12 02:13] ebyhr opened #13629 "Add support for `delta.columnMapping.mode='id'` in Delta Lake connector"

[2022-08-12 06:37] ebyhr opened #13633 "Flaky Parquet tests by ParquetMemoryManagerRuntimeException in Hive connector"
[code]

[code]

https://github.com/trinodb/trino/runs/7800774821

[2022-08-12 06:40] singhrajk commented on #13449
Thanks for the PR, just wondering why does it work if we throw more resources at it?

[2022-08-12 07:14] xiacongling commented on #13613
Current Iceberg community solution to null `schema-id` is to use the current schema. We use the native implementation to avoid this NullPointerException.

[code]

Although the author left a todo for `schema-id` recovery, a new [PR](https://github.com/apache/iceberg/pull/3852) attempts to implement it. We can benefit from it when been merged and released.

[2022-08-12 07:47] raunaqmorarka commented on #13474
[code]
#13609

[2022-08-12 08:37] ebyhr commented on #13322
https://github.com/trinodb/trino/runs/7802208619

[2022-08-12 10:06] findepi opened #13638 "Flaky test TestSystemConnector#testFinishedQueryIsCaptured: TrinoException: Missing catalogs"
Found by CI https://github.com/trinodb/trino/runs/7802390704?check_suite_focus=true
for example `io.trino.connector.system.runtime.TestSystemConnector#testFinishedQueryIsCaptured` is flaky

When running locally, the test has 30% failure rate for me.

[code]

[2022-08-12 10:07] findepi commented on #13638
The stacktrace includes a just merged code from https://github.com/trinodb/trino/pull/13325 . I don't know whether this matters.

cc @dain for visibility

[2022-08-12 10:09] findepi commented on #13474
[code]

#13574

[2022-08-12 10:14] Praveen2112 commented on #13638
I don't think it is a release blocker. We didn't register the catalog on the backup coordinator for `TestSystemConnector`. Will be raising a PR for this.

[2022-08-12 12:05] #13600 closed

[2022-08-12 12:05] findepi commented on #13633
i tentatively added release-bocker, as it looks like a regression, but please @trinodb/maintainers  take a look. maybe i am over cautious here.

[2022-08-12 12:28] findepi commented on #13407
According to https://nineinchnick.github.io/trino-cicd/reports/flaky/#flaky-test-classes-in-last-30-days, this is currently second most flaky test class.

@sopel39 , will https://github.com/trinodb/trino/pull/13643 fix this?

[2022-08-12 12:35] findepi commented on #3364
according to @nineinchnick 's https://nineinchnick.github.io/trino-cicd/reports/flaky/#flaky-test-classes-in-last-30-days
`TestConnectorEventListener` is the most flaky test class (and `testConnectorEventHandlerReceivingEvents` is its only test method)

shall we reopen?

or should i be worried no-one manually commented under this issue since April when it was closed?

[2022-08-12 12:45] findepi commented on #3364
the timeout inside test was bumped from 2 to 3 in af42e81b6ad25fab0002ee700caeb6bff903a63e
and then bumped to 30 in https://github.com/trinodb/trino/pull/13321
but even under that PR @raunaqmorarka reported https://github.com/trinodb/trino/pull/13321#issuecomment-1193081114 30 is not enough

The https://nineinchnick.github.io/trino-cicd/reports/flaky/#flaky-test-classes-in-last-30-days reports the

[2022-08-12 13:09] wgzhao opened #13648 "mysql connector only display the first 64 columns"
I use Trino 389 and mysql connector to connect mysql ,which verions is 5.7.37

I have a mysql table including 71 columns. but the mysql connector only display the first 64 columns without any error

Below is mysql's output

[code]

Below is trino output

[code]
[code]

[2022-08-12 13:21] hashhar commented on #13648
Trino's DECIMAL types are limited to precision of 38. The missing columns have higher precision.

See https://github.com/trinodb/trino/issues/2274

[2022-08-12 13:22] #13648 closed

[2022-08-12 13:35] sopel39 commented on #13407
no

[2022-08-12 14:04] ans76 opened #13652 "Union query may blocked after remove grouped execution"
grouped execution been removed since #12916, perform union query may blocked. set `node-scheduler.max-splits-per-node=10` and `node-scheduler.max-pending-splits-per-task=1` can easily reproduce the query stuck. also query can run success if we make `NodeScheduler#canAssignSplitToDistributionNode` always return true. test on both 388 and 392

[code]

[2022-08-12 14:05] ans76 commented on #13652
@sopel39

[2022-08-12 14:10] sopel39 commented on #13652
cc @skrzypo987

[2022-08-12 15:45] sopel39 commented on #13652
I cannot reproduce unfortunatelly

[2022-08-12 19:23] #13322 closed

[2022-08-12 19:25] sopel39 opened #13658 "Flaky TestSystemConnector.testQueryDuringAnalysisIsCaptured"
[code]

[2022-08-12 19:26] sopel39 commented on #13658
https://github.com/trinodb/trino/runs/7807532550?check_suite_focus=true

[2022-08-12 19:37] #4065 closed

[2022-08-12 19:38] sopel39 commented on #13474
[code]
https://github.com/trinodb/trino/pull/13616

[2022-08-12 19:48] sopel39 commented on #13556
https://github.com/trinodb/trino/runs/7811310998?check_suite_focus=true

[2022-08-12 19:55] sopel39 commented on #13658
https://github.com/trinodb/trino/runs/7811308358?check_suite_focus=true

[2022-08-12 19:56] jpohanka opened #13660 "[JVM] Allocation stalls with ZGC"
**Trino version**: 392

## Description

We have been using the default G1GC garbage collector for our trino clusters in our production environment. However, as the usage of our clusters increased in both concurrency and processed data,
we started to experience higher number of coordinator crashes due to memory issues.

In finding a solution for this problem, we decided to switch to ZGC, which prom

[2022-08-12 19:56] sopel39 commented on #13658
cc @dain

[2022-08-12 20:33] #13652 closed

[2022-08-12 20:34] sopel39 commented on #13474
[code]
https://github.com/trinodb/trino/pull/13655

[2022-08-12 21:11] dain commented on #13660
My guess is you have an actual memory leak, and are legitimately running out of memory. In collectors like ZGC that spread collections out with allocations, the system just slows down as you run out of memory.  I've also hear that these kinds of garbage collectors need much larger free memory for managing the GC itself, so I'd try decreasing the memory allocated to Trino queryies.

[2022-08-12 21:12] dain commented on #13660
Actually `-Xmx3G` is your problem... You are trying to run on a machine that is way to small.  Trino was not designed to run on cell phones.  Also ZGC was designed for very large heaps 512GB+.  At 3GB you could likely use any GC.

[2022-08-13 00:52] #13449 closed

[2022-08-13 09:38] jpohanka commented on #13660
@dain Thank you for the feedback. Sorry for the confusion with the `-Xmx3G` , this configuration is only for the reproducible example to be run locally. In our production environment, we use instances with a memory size of 128 GB and 144 GB. And the allocation stalls happen there as well.

I will try to investigate further and look for a way to enable usage for heaps smaller than 512GB.

[2022-08-13 10:32] hashhar commented on #13660
IMO ZGC is not likely to be useful for Trino. Trino is not an "interactive" low-latency web service. The thing which Trino benefits from is more throughput instead of low latency. I experimented with ZGC and G1 for almost 6 months in the past and the conclusion was that for heaps smaller than 256GB it did not help at all and we actually saw decreased performance (in terms of number of queries fini

[2022-08-13 15:54] ChandrasekharPo-Kore commented on #4077
We have similar problem. Since all our data was time series, as a work around , we split our fetch query into multiple sub queries and joined them with "union all". In majority of the cases we pushed the aggregates to these sub queries.

Posting it here to understand how other teams are handling this limitation.
cc @findepi @abhisheksahani @academy-codex @joshk

[2022-08-13 18:23] #13658 closed

[2022-08-13 18:34] tan31989 commented on #13059
@ebyhr have created one PR for

Working on the second one as a separate PR to make sure it's easy to develop.

[2022-08-14 07:40] electrum commented on #13660
Thanks for providing a reproducible example. If you run the same test on G1, do you see consistent response times over a long time period (an hour or more)? Does it reproduce on ZGC if you use a larger heap such as 8GB or 16GB?

[2022-08-14 07:53] electrum commented on #13660
According to [this](https://bugs.openjdk.org/browse/JMC-6203):

Some potential causes:

* Not enough heap for the workload. ZGC might have more overhead and require more headroom.
* Memory leak in Trino. Running the same workload with G1 should prove or disprove this.
* Not enough GC threads. You can try setting `-XX:ConcGCThreads=<number>`.

[2022-08-14 09:11] jiangjiguang opened #13670 "When can trino-hive-apache support java17 ?"
Since trino has supported java17, but now trino-hive-apache(https://github.com/trinodb/trino-hive-apache) errors when compiled on java17.

[2022-08-14 09:12] jiangjiguang opened #13671 "When can trino-hive-apache support java17 ?"
Since trino has supported java17, but now trino-hive-apache(https://github.com/trinodb/trino-hive-apache) errors when compiled on java17.

[2022-08-14 12:58] djsstarburst commented on #13620
Fixed by PR #13664, which has gone through a couple rounds of review, and is not ready to merge.

[2022-08-14 13:41] djsstarburst commented on #13621
It appears to me that for DELETE, there isn't a lot of point in going through the `MergeProcessor` - - instead ISTM that DELETE should target the engine's `MergeWriter` node.  The input page for `MergeProcessor.transformPage()` is more complicated than the page for `MergeWriter`, and the complicated parts are useless if all the rows in the page should be deleted.

[2022-08-14 15:50] tangjiangling commented on #13671
Closed as duplicated with #13670, let's continue in #13670.

[2022-08-14 15:50] #13671 closed

[2022-08-14 19:34] dain commented on #13670
Why would you want to compile trino-hive-apache with Java 17? The produced library will run on 17, so I don't seen much advantage switching this right now.

[2022-08-15 05:21] kalmar commented on #7374
Faced bunch of OOMs in my services because of threads stuck in:
[code]

Pls fix, waiting for it!

[2022-08-15 06:28] iodone commented on #7374
@joshk I have submitted pr, but not merged. this fix is very simple. https://github.com/trinodb/trino/pull/7404

[2022-08-15 08:41] jiangjiguang commented on #13670
Because I have done optim on apache parquet with java17 vector api. trino-hive-apache has used apache parquet.

[2022-08-15 10:00] tomrijntjes commented on #1581
if you want a reasonable starting point, use this config and replace presto with trino.

The catchall config listed in the jmx exporter [readme](https://github.com/prometheus/jmx_exporter#running-the-java-agent) leads to a generous 34000 lines on the /metrics endpoint.

[2022-08-15 14:07] arhimondr commented on #13437
Resolved by https://github.com/trinodb/trino/pull/13441

[2022-08-15 14:07] #13437 closed

[2022-08-15 17:23] colebow commented on #13270
Is it worth documenting in the meantime, or should I just wait for it to be removed?

[2022-08-15 20:40] tlblessing commented on #11448
Oracle PR https://github.com/trinodb/trino/pull/13659

[2022-08-15 21:47] tangjiangling commented on #11448
@tlblessing Added to the list, thanks for your contribution.

[2022-08-16 02:40] ebyhr commented on #13474
[code]

#13450

[2022-08-16 08:07] lukasz-stec commented on #13267
I want to start working on this.
The first question is. Do we do block adaptation or do we fail if the block type does not match the preferred type (block type validation)?
I see @electrum prefers the latter. @martint @sopel39 what's your take on this?

I'll add that validation is easier to implement, but not by much.

[2022-08-16 09:31] andrisi commented on #7496
Or make it configurable, so if I'm ok with differences in case sensitivity handling, but still want predicate pushdown to speed things up. See: https://trino.io/docs/current/connector/mariadb.html "Predicate pushdown support"

[2022-08-16 09:37] Praveen2112 commented on #13638
Fixed by this PR - https://github.com/trinodb/trino/pull/13661

[2022-08-16 09:37] #13638 closed

[2022-08-16 09:56] sopel39 commented on #13507
https://github.com/starburstdata/trino-lts/runs/7813439777?check_suite_focus=true

[2022-08-16 09:56] sopel39 commented on #13507
I've seen another occurrence.

[2022-08-16 12:22] buremba opened #13689 "Implement `::` synthetic sugar for CAST"
Postgresql and Snowflake have a nice synthetic sugar `val::type` that is similar to `CAST(val as type)` but a more human-readable version of it. In addition to that, Snowflake has `jsoncol:path` which extracts the `path` from JSON ([VARIANT](https://docs.snowflake.com/en/sql-reference/data-types-semistructured.html) type)

I believe it would be useful to support for Trino to support the `::` synta

[2022-08-16 12:40] hashhar commented on #13689
There's not very strong motivation to add this IMO.

It's not part of the ANSI SQL spec.
Notably very few databases use `::` for CAST.
Some databases use `::` for entirely different purpose (function namespaces and resolution).

Is there some reason other than familiarity that would be useful (e.g. does it make generation of SQL statements easier etc.)?

[2022-08-16 12:51] #13589 closed

[2022-08-16 13:07] buremba commented on #13689
That's fair. Another reason why it might be useful is that even though it's not part of ANSI SQL spec, Snowflake & PG makes use of this in their docs so the people who use them are already familiar with it. It will make it easier for those people to get used to Trino.

[2022-08-16 15:35] arhimondr commented on #13507
I've run both faulty tests for thousands of times over night and haven't been able to reproduce. Still working on it.

[2022-08-16 15:48] KevinAppelBofa commented on #8548
@tooptoop4 thanks for posting this led me to the timeout to get more info, then i found to turn off the column statistics

Added into the catalog file for the hive setup
hive.metastore-timeout=60s
hive.collect-column-statistics-on-write=false

This is now working:
create table hivecatalog.demo.k1 as select * from hivecatalog.demo.test4a;

When the statistics are turned on, which is the default, i

[2022-08-16 20:29] erichwang opened #13691 "Iceberg connector remove_orphan_files table procedure has O(n^2) runtime"
As part of the Iceberg connector remove_orphan_files table procedure, the connector walks every data file referenced by a manifest file in every manifest list. However, manifest lists often have huge overlap in the same manifest files (e.g. if you are doing insert transactions), which means the operation is essentially n squared. In practical experience, this basically means that it is pretty unli

[2022-08-16 20:40] erichwang opened #13692 "Iceberg batch file operations for expire_snapshots and remove_orphan_files"
In the current Iceberg connector, file deletions are done serially one at a time. From my testing with Iceberg-S3/Glue, this nets to around 2 files deleted per second. The last time I had to run an expire_snapshot over about 2 months worth of data, it took around 24 hours to complete the query, which is way too long -- and this is just maintenance for a single table. This is especially important a

[2022-08-16 21:11] sopel39 commented on #13556
https://github.com/trinodb/trino/pull/13650

[2022-08-16 23:01] #10444 closed

[2022-08-16 23:02] arhimondr commented on #13507
Fix: https://github.com/trinodb/trino/pull/13695

[2022-08-16 23:29] aakashnand commented on #8548
@KevinAppelBofa I have found a workaround for this
https://github.com/trinodb/trino-hive-apache/pull/43#issuecomment-1190060212

[2022-08-17 00:25] b-slim commented on #13660
I wonder at what scale the G1GC fails, We run Trino at a very large scale (IMO at least), and we see a very stable coordinator with a QPS of 30 and above and a worker pool of 500 nodes.

This is the JVM opts we are using maybe it will help.
[code]

[2022-08-17 00:37] ebyhr commented on #13474
[code]

#13673

[2022-08-17 04:21] ashishjullia commented on #8744
@hashhar correct, I can see that @nnandula also posted same thing in slack channel as well, said the same thing that solved it but replied again how "solved it" after correcting the `Forwarded` header issue.

I'm also facing the same thing and looking for a solution but always ending up with @nnandula 's mentions but not the solution.

[2022-08-17 04:38] ebyhr commented on #13474
[code]

#13428

[2022-08-17 05:42] ebyhr opened #13699 "Iceberg `rollback_to_snapshot` procedure doesn't rollback the table definition"
[code]

[2022-08-17 06:38] qianmoQ opened #13701 "How to rewrite logical expressions such as EQUAL"
Hello

Hermit conversion of logical operators implemented in the following ways

[code]

An exception occurred in trino 389

[code]

[2022-08-17 08:53] hovaesco opened #13705 "Add comment columns to information_schema.tables"
Currently, there is no way to get comments from `tables` ~and `columns`~ tables from information_schema. For instance, Snowflake exposes these comment columns in respective tables in information_schema. It would be very useful for integrations like dbt which requires it to fully support persisting docs functionality.

[2022-08-17 09:05] hashhar commented on #13705
cc: @martint

We do expose this under `system.jdbc.tables` it seems. Not sure why there is a difference.

[2022-08-17 09:59] user-GitHub-user opened #13711 "How can I login to trino using https with username/password，query for /v1/xxx?"

[2022-08-17 12:46] findinpath commented on #13115
Related PR where metastore caching was removed from Iceberg

https://github.com/trinodb/trino/pull/5303

[2022-08-17 16:36] arhimondr commented on #13362
Fix: https://github.com/trinodb/trino/pull/13717

[2022-08-17 16:47] igorcalabria opened #13718 "File based access control issue with partitions query"
Hi, given an access control file like this
[code]

Shouldn't user also have permission to run `SELECT * FROM catalog.schema.my_table$partitions`? It seems odd having to explicitly need something like `"table": "(my_table|my_table\\$partitions)"`

[2022-08-17 18:04] arhimondr commented on #11275
Incredibly difficult to reproduce. Managed to reproduce it locally after more than 20000 of invocations:

[code]

[2022-08-17 21:25] #13526 closed

[2022-08-17 21:41] #13474 closed

[2022-08-17 21:49] arhimondr commented on #11275
Fix: https://github.com/trinodb/trino/pull/13721

[2022-08-17 23:52] ebyhr commented on #13699
Propose #13704 instead of fixing `rollback_to_snapshot` procedure.

[2022-08-18 00:54] martint opened #13723 "Release notes for 394"

[2022-08-18 03:48] #13556 closed

[2022-08-18 05:58] raunaqmorarka commented on #9142
Parquet format has deprecated LZ4 https://github.com/apache/parquet-format/blob/master/Compression.md#lz4
We should support LZ4_RAW instead.

[2022-08-18 06:38] ebyhr commented on #7183
I don't see this failure for a while. Let me close. I will reopen if needed.

[2022-08-18 06:38] #7183 closed

[2022-08-18 06:40] #7334 closed

[2022-08-18 07:00] ebyhr commented on #9215
Druid type mapping test was implemented in #13335

[2022-08-18 07:00] #9215 closed

[2022-08-18 07:01] #8980 closed, assigned to nobody

[2022-08-18 07:07] #8785 closed

[2022-08-18 07:24] ebyhr commented on #12422
@findinpath The stacktrace looks incorrect. Could you update it?

#8855 is existing issue.

[2022-08-18 07:24] ebyhr commented on #8855
Let's continue in #12422

[2022-08-18 07:24] #8855 closed

[2022-08-18 10:08] findinpath commented on #12422
Can I take this one ? I find this could be a good learning experience?

[2022-08-18 16:02] tangjiangling commented on #13362
https://github.com/trinodb/trino/runs/7901491814?check_suite_focus=true

[2022-08-18 19:20] findinpath opened #13737 "Delta: Internal Active files cache is not being cleared when table is dropped and recreated externally"
Scenario:

// Create table either in Spark or Trino
// Select contents of the table in Trino (fill active files cache)
// Drop table via Spark (and remove, if table is external) the content of the table
// Create table via Spark
// Select contents of the table in Trino

Stacktrace:

[code]

Cause: the table's active files cache in https://github.com/trinodb/trino/blob/6310e5e1415fe0bc89444016fc516

[2022-08-18 19:22] findinpath commented on #13737
[code]

[2022-08-18 20:18] arhimondr commented on #13362
Closed through https://github.com/trinodb/trino/pull/13717

[2022-08-18 20:18] #13362 closed

[2022-08-18 22:28] #13613 closed

[2022-08-18 22:29] ebyhr commented on #13723
[code]

#13614

[2022-08-18 22:39] homar opened #13740 "Move Metadata access logic from QueryPlanner to Analyzer"
In query Planner  [here](https://github.com/trinodb/trino/blob/adcfbe95250f216170046d1ab8fb108b61d1c61e/core/trino-main/src/main/java/io/trino/sql/planner/QueryPlanner.java#L540) while planning update metadata is called to obtain tableMetadata.
This should be part of Analyzer not planner.

[2022-08-18 22:58] ebyhr opened #13741 "Support missing data types for BigQuery writes"
- [ ] decimal
- [ ] time
- [ ] timestamp
- [ ] timestamp with time zone
- [ ] geography
- [ ] array
- [ ] map
- [ ] row

[2022-08-19 03:49] silly-carbon commented on #13536
Can I work on this issue? I'm very glad to help 😁

[2022-08-19 04:09] martint commented on #13536
Go for it!

[2022-08-19 06:21] silly-carbon commented on #13536
Thanks, I'll start doing now

[2022-08-19 10:28] raunaqmorarka commented on #13723
[code]
#13432

[2022-08-19 11:54] ZZa commented on #12195
Any news on this issue maybe?

Currently, it is not possible to connect to a secure Schema Registry instance with the Kafka connector, because neither Basic Auth credentials, nor SSL properties are propagated to the Schema Registry connection, even when have been fed as a separate configuration file under `kafka.config.resources` property (implemented in #8743).

[2022-08-19 13:12] findinpath commented on #13737
Workaround:

Waiting for the time denoted by the setting `delta.metadata.live-files.cache-ttl`  (~ 30 minutes by default) which will clear the file cache entry for the table should help dealing with this problem

[2022-08-19 13:43] djsstarburst opened #13751 "SQL MERGE fails if ON condition is literal FALSE"
@przemekak reported that execution of an SQL MERGE statement of this form fails:

[code]

The failure is due to elimination of the RIGHT JOIN because the join predicate is false.  The fix is to recognize during optimization that the JOIN has been optimized away, and turn the MERGE into an INSERT operation.

[2022-08-19 17:14] djsstarburst commented on #13621
I have a WIP implementation of DELETE using `MergeWriterNode` [on this branch](https://github.com/djsstarburst/trino/tree/david.stryker/delete-using-merge).  Most of the delete tests pass.  Here are the bugs shown by the tests:

- Unsurprisingly, like in MERGE if the predicate can be optimized to FALSE, the `LogicalPlanner` never finds the table scan of the target table.
- In all other cases, exac

[2022-08-19 19:17] #9424 closed

[2022-08-19 19:49] martint commented on #13565
It's happening because during predicate pushdown, the following predicate is derived:

[code]

Then, it incorrectly establishes the equivalence `CAST(null AS varchar) = VARCHAR 'hello'`, which it then uses to rewrite the expression by replacing occurrences of `CAST(null AS varchar)` with `VARCHAR 'hello'`.

[2022-08-19 20:46] #13435 closed

[2022-08-19 20:48] homar commented on #12635
updates fixes via https://github.com/trinodb/trino/issues/13435

[2022-08-19 20:48] homar commented on #12635
a

[2022-08-19 20:49] homar commented on #12635
I think we can close it now as there isn't much more we can do here

[2022-08-19 20:49] homar commented on #12635
@findepi @alexjo2144  do you agree ?

[2022-08-19 21:29] martint commented on #13565
Here's a simpler reproduction:

[code]

[2022-08-19 22:34] ebyhr commented on #13723
[code]

#12502

[2022-08-19 22:41] erikcw opened #13759 "Regression on v393 -- Iceberg can't find key on S3"
I tested the same query against `v392` and it completed succesffully.

The key does exist, however, trino seems to be appending a urlencoded copy of the path onto the end of the path:

`Path: s3://xxxxxx.MY-BUCKET.com/master-db/match-table-ccid-h/metadata/00008-0d5403a0-9168-4276-b4e4-583663eb107a.metadata.json#%2Fmaster-db%2Fmatch-table-ccid-h%2F%2Fmetadata%2F00008-0d5403a0-9168-4276-b4e4-583663e

[2022-08-20 00:07] ebyhr opened #13761 "Listing `system.jdbc.columns` with table_name throws `View data missing prefix` in Hive and Iceberg catalogs having MV"
Steps to reproduce
1. Add Hive and Iceberg catalogs with same metastore
2. Execute below query

[code]

[2022-08-22 00:00] ebyhr commented on #13723
[code]

#13429

[2022-08-22 03:11] mingfang opened #13764 "Error when creating table on CockroachDb using Postgres connector"
I was able to connect Trino to CockroachDb using the Postgres connector.
Select queries works but create table results in this error.
[code]

In the Web UI I was seeing this error
[code]

For reference, this was discussed in Slack
https://trinodb.slack.com/archives/CP1MUNEUX/p1661101279838269

[2022-08-22 08:06] tangjiangling commented on #12385
https://github.com/trinodb/trino/runs/7946669571?check_suite_focus=true

[2022-08-22 08:18] wqxs opened #13769 "Create a connector under etc/catalog to take effect without restarting Trino？"

[2022-08-22 08:19] ebyhr commented on #13587
Spark has a bug https://github.com/apache/iceberg/issues/5591 (return the latest table definition even after executing rollback procedure) and also they throws an exception when null data exists in NOT NULL column. Probably, it would be better to wait until they fix the issue.

[2022-08-22 08:20] ebyhr commented on #13769
It's not possible for now. Please take a look at #12709

[2022-08-22 08:20] #13769 closed

[2022-08-22 08:30] user-GitHub-user opened #13770 "file access-control roles Visibility of catalogs diff with doc"
rules.json:
{
 "catalogs": [
   {
      "user": "u1",
      "catalog": "iceberg1",
      "allow": "all"
    }
  ],
  "schemas": [
    {
      "user": "u1",
      "catalog": "iceberg1",
      "schema": ".*",
      "owner": true
    },
    {
      "user": "u1",
      "catalog": "iceberg2",
      "schema": ".*",
      "owner": true
    }
  ]
}

in doc say:
catalog: Visible if user is the owner of any

[2022-08-22 08:43] ebyhr commented on #13759
This message means the table location contains double slashes. I tried to reproduce the issue by creating a new table with location following `/` (e.g. `'s3://bucket/test_iceberg/'`), but it doesn't throw an exception.

Can you share the entire steps to reproduce?

[2022-08-22 09:02] ebyhr opened #13771 "CockroachDB connector"
- [ ] #8317

[2022-08-22 10:43] findepi commented on #13270
@colebow  please go ahead

[2022-08-22 11:52] ebyhr commented on #13107
https://github.com/trinodb/trino/runs/7948765971

[2022-08-22 11:53] findepi commented on #12635
I understand this is covered by https://github.com/trinodb/trino/pull/13353.
Is MERGE protected too?

[2022-08-22 15:08] ZZa commented on #12195
With such configuration getting the same exception.

`kafka.properties`:
[code]

`my.properties`:
[code]

When try to retrieve topics list:
[code]

[2022-08-22 15:30] findepi commented on #13565
I **believe** the failure is not guaranteed, hence `correctness` label.

[2022-08-22 16:50] arhimondr commented on #11275
Closed with https://github.com/trinodb/trino/pull/13721

[2022-08-22 16:50] #11275 closed

[2022-08-22 17:13] #13565 closed

[2022-08-22 17:25] arhimondr opened #13778 "Flaky TestSpilledAggregations#testGroupingCombinationsAll"
https://github.com/trinodb/trino/runs/7955764266?check_suite_focus=true

[2022-08-22 17:26] arhimondr opened #13779 "Flaky io.trino.plugin.redis.TestMinimalFunctionality & TestMinimalFunctionalityWithoutKeyPrefix"
https://github.com/trinodb/trino/runs/7955766570?check_suite_focus=true

[2022-08-22 17:50] gaeljw opened #13780 "[Question] Are connection pool beneficial for Trino JDBC?"
Hi,

_This is more a question rather than an issue but I didn't find any link to a place to ask such question, so here I am!_

We are using Trino JDBC driver in a JVM application which also uses HikariCP for managing connections pool.

We noticed issues with our application pooling and are about to investigate which setting to tune but I'm wondering if this even make sense at all to use connection

[2022-08-22 18:34] findinpath opened #13781 "Hive: ANALYZE table_name corrupts HMS Metadata: "Multiple entries with same key" when reading statistics from HMS"
Context: Dealing with very large Hive Catalogs include ±12-13k schemas having exponentially more tables.

When running `ANALYZE <table_name>` command, it fails to complete due to timeout.

After that happens there is not anymore possible to run `ANALYZE <table_name>` command successfully even if the timeout is extended. Dropping statistics on the table is not anymore possible:

[code]

[code]

Bas

[2022-08-22 18:47] findepi commented on #13565
@martint supposes it's not a correctness issue. I have no evidence it is, so removing the label.

[2022-08-22 19:17] findepi commented on #13740
@djsstarburst is planning on fixing this together with https://github.com/trinodb/trino/issues/13621

[2022-08-22 21:00] homar commented on #12635
Looks like it [is](https://github.com/trinodb/trino/blob/2f62586c12cef3c3a634dd9a5ab59c459d5f06b4/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java#L1508)

[2022-08-23 02:22] #13601 closed

[2022-08-23 04:37] findinpath opened #13786 "`SET` update assignment in `UPDATE` allows multiple `+` and `-` operands between values"
[code]

Relevant part of the grammar

https://github.com/trinodb/trino/blob/master/core/trino-parser/src/main/antlr4/io/trino/sql/parser/SqlBase.g4#L470-L477

[2022-08-23 04:42] findinpath opened #13787 "`ANALYZE table_name` corrupts HMS Metadata: "Multiple entries with same key" when reading statistics from HMS"
Context: Dealing with very large Hive Catalogs include ±12-13k schemas having exponentially more tables.
When running `ANALYZE <table_name>` command, it fails to complete due to timeout.
After that happens there is not anymore possible to run `ANALYZE <table_name>` command successfully even if the timeout is extended. Dropping statistics on the table is not anymore possible:

[code]

Multiple entr

[2022-08-23 06:29] #6868 closed

[2022-08-23 06:29] #6869 closed

[2022-08-23 06:30] ebyhr commented on #13723
[code]

#13094

[2022-08-23 07:56] gaurav8297 opened #13788 "Scaling local table writers for unpartitioned data"
_**Problem: The default value of `task_writer_count` is 1 which makes insert super slow and doesn't use the cluster resources effectively.**_

### Possible solutions:

1. Increase the default value to either 4, 8, 16 or 32.
   - The problem with this solution is that it can produce many small files for a small amount of data. Therefore it can impact the subsequent read performance.
2. Implement sc

[2022-08-23 08:28] findepi opened #13789 "Merge Values nodes in UNION [ALL] branches"
e.g. the plan could get simplified into just VALUES

[code]

[2022-08-23 09:01] tooptoop4 opened #13790 "postgres JDBC CVE-2022-31197"
https://nvd.nist.gov/vuln/detail/CVE-2022-31197

[2022-08-23 09:03] ebyhr commented on #13790
I don't think the connector calls the method.

[2022-08-23 09:19] skadilover opened #13791 "channelSet"

[2022-08-23 09:20] #13791 closed

[2022-08-23 09:26] hashhar commented on #10438
Seems related to https://github.com/trinodb/trino/pull/13499#issuecomment-1208082575.

Also it seems it's now possible to run the CLI (with some additional args) on ppcle64 arch. Closing in favour of https://github.com/trinodb/trino/pull/13499 which is more recent and reflects ppcle64 support better.

[2022-08-23 09:26] #10438 closed

[2022-08-23 09:27] hashhar commented on #10426
This is how the JVM is supposed to work. Heap memory is not released back to the OS automatically. You should inspect whether there is remaining memory in heap instead of looking at memory from the OS.

Closing, feel free to continue discussion.

[2022-08-23 09:46] ebyhr commented on #13787
I could reproduce the issue by setting `hive.metastore-timeout=30s` on `EnvSinglenode` and execute below queries. The cause isn't same as the description, but it corrupts the stats. Probably, there are two issues, timed out and concurrent issue.
[code]

Regarding reading stats logic, we could improve `ThriftHiveMetastore#groupStatisticsByColumn` to allow duplicated keys  when the stats value is sa

[2022-08-23 09:54] findepi commented on #12635
All non-optional tasks done, closing.

[2022-08-23 09:54] #12635 closed

[2022-08-23 09:56] #12422 closed

[2022-08-23 09:57] findepi commented on #13723
[code]

#12422 #13755 #8855

[2022-08-23 10:28] homar commented on #13737
I am pretty sure several months ago we had very similar issue and we decided that recreating the table in the same place is not a valid behaviour and that we don't want to do this

[2022-08-23 10:42] homar opened #13795 "Move checks for columns nullability for MERGE operation to Planner"
Currently information about columns nullability is propagated down to [DeleteAndInsertMergeProcessor.java](https://github.com/trinodb/trino/pull/13535/files#diff-adcdf45c818cb1e077a6382b3938a99dfbe16431731e067caa3e641964a85669) which is not optimal.
The idea is to check it during planning and fail the query ASAP

[2022-08-23 10:56] tooptoop4 commented on #13790
demz security folks are a conservative bunch so they don't have such nuance

[2022-08-23 11:10] findepi commented on #13786
@findinpath  This is about expressions in general
[code]

cc @martint for triaging

[2022-08-23 12:08] #13348 closed

[2022-08-23 13:16] ebyhr commented on #13723
[code]

#13785

[2022-08-23 17:58] findepi opened #13803 "Eliminate semi-join with empty right side"
[code]

the `WHERE nationkey IN (SELECT 1 WHERE false)` should get simplified to `WHERE false`.

[2022-08-23 18:06] findepi commented on #13165
https://github.com/trinodb/trino/runs/7971229321?check_suite_focus=true

[2022-08-23 19:25] findepi commented on #13620
Looks the PR merged now

[2022-08-23 19:25] #13620 closed

[2022-08-23 19:41] findepi commented on #13705
Column comments are available

https://github.com/trinodb/trino/blob/03d8e5abc686c5c4a9f96ca14db07e2aed880174/core/trino-main/src/main/java/io/trino/connector/informationschema/InformationSchemaTable.java#L41

https://github.com/trinodb/trino/blob/7f954b57dbeb8b967e270c40902196183a914cfb/core/trino-main/src/main/java/io/trino/connector/informationschema/InformationSchemaPageSource.java#L268

Table

[2022-08-23 19:45] findepi commented on #13705
The reason why `information_schema.tables` has `table_comment` column is some tools compatibility

https://github.com/trinodb/trino/blob/03d8e5abc686c5c4a9f96ca14db07e2aed880174/core/trino-main/src/main/java/io/trino/connector/informationschema/InformationSchemaTable.java#L50

It would be very expensive to populate this fields, hence it's not populated (all NULLs).

That's why we have them in a se

[2022-08-23 19:49] findepi commented on #13718
The system access control is not aware of "system tables" (the `$...` tables). They have no special handling in the engine from security perspective.
Also, there are many system tables types across connectors. Some are "benign" (like `$partitions`) and some potentially less so (like `$files` in Iceberg).

[2022-08-23 19:49] #13718 closed

[2022-08-23 20:06] findepi commented on #13761
Relates to https://github.com/trinodb/trino/issues/6551

[2022-08-23 20:06] findepi commented on #11764
Relates to https://github.com/trinodb/trino/issues/6551

[2022-08-23 20:15] findepi commented on #13764
Copying https://github.com/trinodb/trino/pull/13772#discussion_r951261231 here for visbility

[2022-08-23 20:16] findepi commented on #13759
cc @electrum

[2022-08-23 20:17] mingfang commented on #13764
@findepi
Agree.
Maybe this is a good start https://github.com/trinodb/trino/pull/8317

[2022-08-23 20:21] findepi commented on #13778
@arhimondr would you mind pasting the faling method name and a stacktrace here? the workflow run link will be defunct at some point

[2022-08-23 20:27] arhimondr commented on #13778
It felt like a failure might not be specific to a certain test method. But I could be wrong. Updated the title.

[2022-08-23 22:14] martint commented on #13180
That is indeed confusing. Giving it different semantics than the following sequence feels arbitrary and introduces more cognitive load for users:

[code]

[2022-08-23 22:47] martint commented on #13705
The schema of `information_schema` tables and views is defined by the SQL specification. For extensions, we have dedicated tables under the system catalog. `system.jdbc.tables`, in particular, is designed to expose all the information needed by the JDBC driver.

[2022-08-24 00:53] tooptoop4 commented on #6405
has anyone tested after https://github.com/trinodb/trino/pull/13064 fix?

[2022-08-24 01:56] wqxs opened #13806 "Why is UPDATE syntax not supported"

[2022-08-24 02:00] martint commented on #13806
It is supported. Please see https://trino.io/docs/current/sql/update.html

[2022-08-24 02:00] #13806 closed

[2022-08-24 02:11] wqxs opened #13808 "Why don't Postgresql and Mysql connectors support UPDATE syntax?"

[2022-08-24 06:58] wrborigin commented on #13180
[code]

If someone runs select between the table disappearing and CTAS finishing on something like Postgres, that's fine because Postgres transactions are actual transactions and nobody would see the intermediate state.

But how would this behave with Trino and Hive, Iceberg or Delta catalogs? As I understand it, the "transactions" on those aren't really transactions but a "single statement transa

[2022-08-24 07:30] hovaesco commented on #13705
Thanks for pointing out on hidden `comment` columns from `information_schema.columns`.

Use case is a functionality called [persist_docs](https://docs.getdbt.com/reference/resource-configs/persist_docs) which saves table-level and column-level comments which are then used in [dbt docs](https://docs.getdbt.com/docs/building-a-dbt-project/documentation).

Technically speaking, it's feasible to join

[2022-08-24 07:51] Jay-ju opened #13815 "implement local cache on trino"
ref：[Introduce caching file system](https://github.com/prestodb/presto/pull/13644)
 prestodb has implemented this feature， can we apply this on trino. In addition，we can add  result cache on query‘s level，this is import for bi scene

[2022-08-24 08:02] findepi commented on #13815
Please see the docs for caching on the local file system: https://trino.io/docs/current/connector/hive-caching.html

[2022-08-24 08:02] #13815 closed

[2022-08-24 08:04] findepi commented on #13778
Thanks. Can you also paste a stacktrace here as well?

[2022-08-24 08:04] findepi commented on #13779
@arhimondr would you mind pasting the faling method name and a stacktrace here? the workflow run link will be defunct at some point

[2022-08-24 08:07] findepi commented on #13705
This is no-go from perf perspective.

For example, listing tables in Hive is O(1) operation (counting the HMS calls, likely the dominant factor).
Listing tables with comments is a O(n) operation (where n is number of tables).
In the past we've seen that O(n) for `information_schema.tables` is prohibitively expensive.

[2022-08-24 08:10] findepi commented on #13180
Currently, Iceberg and Delta do not support Trino transactions, ie they support auto-commit only.

cc @electrum

Two alternatives

- create new table; use CREATE OR REPLACE VIEW on top of the table to stage it in (this option exists for years)
- use materialized views which basically are awesome for queries you want to periodically refresh

cc @alexjo2144 @sopel39 @raunaqmorarka

[2022-08-24 08:33] Jay-ju commented on #13815
it seems that depnd on rubix，but rubix’s architect is complex, and rubix won't update since 2020, so i prefer choosing lib like  presto on raptorx/alluxio,

[2022-08-24 09:04] ebyhr opened #13821 "Add test for `hive.metastore.thrift.delete-files-on-drop` config property"
Relates to #1078

[2022-08-24 10:21] findepi commented on #10677
This one looks funny, but we simply allow month and day to be written as single digit (without zero-padding), like `2002-1-3`.

BTW we also accept leading and trailing spaces.
I don't know whether this is intentional, but it would be hard to change (backward compatibility?)

@martint what's the specwise for varchar -> date w.r.t. leading and trailing whitespace?

[2022-08-24 12:19] homar opened #13825 "delta-lake cloud tests are failing on master"
Example stacktrace:

[code]

Has been failing at least since https://github.com/trinodb/trino/pull/13696

[2022-08-24 12:29] hashhar opened #13826 "CTAS fails on non-lowercase schemas with case-insensitive name matching enabled"
In Postgres and SQL Server connectors the follow test added to `TestPostgreSqlCaseInsensitiveMapping`/`TestSqlServerCaseInsensitiveMapping` fails:

[code]

with an error:

[code]

This seems to happen because the output table handle created in `beginCreateTable` and the temporary table handle both have different case for the schema name when `commitCreateTable` executes which ends up calling `rena

[2022-08-24 12:35] hashhar commented on #13826
I personally think time would be better spent by working on #17 instead of "fixing" case-insensitive name matching in the longer run.

[2022-08-24 12:38] findepi commented on #12636
May be done in https://github.com/starburstdata/team-lakehouse/issues/42 and https://github.com/starburstdata/team-lakehouse/issues/43

[2022-08-24 13:09] arhimondr commented on #13779
[code]

[2022-08-24 13:11] arhimondr commented on #13778
[code]

[2022-08-24 15:21] wrborigin commented on #13180
Is it possible for that to be supported?

As per my understanding, these cloud storage lakehouse layers like Delta or Iceberg only ever do single statement + single object transaction as a matter of design, so it might not be possible. But maybe that changed since I last looked.

Thinking of the alternatives:

The first one would work, but has the issue of basically duplicating all your objects, e

[2022-08-24 16:15] djsstarburst commented on #13621
Of the total of 24 tests DELETE tests in `BaseIcebergConnectorTest`, which inherits the DELETE tests from `BaseConnectorTest, 17 pass and 7 fail.  Here are the failures:

- `testDelete` and `testDeleteWithSubquery` fail due to a DELETE predicate of FALSE, which caused the `TableScanNode` to get optimized away.
- `testExpireSnapshotsPartitionedTable`, `testMetadataDelete` and `testMetadataDeleteSim

[2022-08-24 18:23] djsstarburst commented on #13621
The explanation for the `testOptimizedMetadataQueries` failure is also wrapped up in metadata delete.  The test is setting property `optimize_metadata_queries` which messes up merge-based delete, because of this in `MetadataQueryOptimizer`:

[code]

So apart from changing the behavior when no rows are deleted, all the other problems will be fixed by new/revised optimizers.

[2022-08-24 20:42] findepi commented on #13633
https://github.com/trinodb/trino/runs/8000675938?check_suite_focus=true

[2022-08-24 20:50] findepi commented on #13621
cc @alexjo2144

[2022-08-24 22:04] #12882 closed

[2022-08-24 22:06] ebyhr commented on #13723
[code]

#13742

#

PostgreSQL truncated the name when creating a table, adding a column and renaming a column.
SQL Server truncated the name only when renaming a column.

[2022-08-24 23:38] djsstarburst commented on #13751
The fix for the false join condition in MERGE, in PR #13838, is simply removing the call to `rewriteTableScan` when recreating the `MergeWriterNode` with the updated `MergeTarget`.  That call is needed when using `UpdatablePageSource` to route all delete rows to the node that read the file, but SQL MERGE doesn't have that restriction, and doesn't use `UpdatablePageSource`.

[2022-08-24 23:42] djsstarburst commented on #13621
The problem of missing `TableScanNodes` was solved by the same fix as with MERGE itself - - the one-liner from #13838 not calling `rewriteModifyTableScan` when recreating the `MergeWriterNode`.

[2022-08-24 23:53] ebyhr opened #13839 "Quote column names when renaming or dropping column in JDBC connectors"
`BaseJdbcClient` needs fix:

[code]

[2022-08-25 01:19] #11889 closed

[2022-08-25 01:29] martint commented on #10677
Leading and trailing spaces are trimmed:

<img width="794" alt="image" src="https://user-images.githubusercontent.com/14387/186553019-772829ce-d4fb-4474-8bc5-ce11a329af0a.png">

[2022-08-25 03:35] danielsunzhongyuan opened #13843 "Cannot fetch Oracle Sequence via trino"
In Oracle, we use sequence to generate an incremental id like below:

id number default test_seq.nextval not null);

Then I found that this id could not be reached by Trino. With the help of DBVisualizer, we can obviously find that the id does not show up in the columns of test_table.
Besides, below error occurs:

trino-jdbc-357.jar
Oracle 19c Enterprise Edition Release 19.0.0.0.0
DbVisualizer Fre

[2022-08-25 03:38] danielsunzhongyuan commented on #13843
![Uploading IMG_20220825_113713.jpg…]()

[2022-08-25 04:06] ebyhr commented on #13843
The cause is `number` type rather than `sequence`.

I would recommend reading https://trino.io/docs/current/connector/oracle.html#number-to-decimal-configuration-properties. Unsupported type wouldn't appear in the connector. Also, I would recommend upgrading the Trino version.

[2022-08-25 04:06] #13843 closed

[2022-08-25 04:49] #13825 closed

[2022-08-25 06:22] #13790 closed

[2022-08-25 07:29] findepi commented on #1305
I wouldn't want to use `../` since this is "somewhere, i don't know exactly where".

[2022-08-25 07:31] findepi commented on #10677
It seems to be there is nothing to do -- https://github.com/trinodb/trino/pull/13844

[2022-08-25 07:32] ebyhr commented on #13787
#13672 may help to reduce the occurrence of read timed out, but concurrent issue still remains.

[2022-08-25 08:21] CCColby opened #13846 "when connect oracle and select information_schema.columns, this query is very solw?"
when connect oracle and select information_schema.columns, this query is very solw.
how to accelerate this query. thanks!

[2022-08-25 08:34] ebyhr commented on #13846
Could you share the number of tables and your `SELECT` statement?

[2022-08-25 08:35] CCColby commented on #13846
about 164

[2022-08-25 08:36] CCColby commented on #13846
about 164

[2022-08-25 08:40] CCColby commented on #13846
SELECT  TABLE_NAME,COLUMN_NAME,DATA_TYPE,COMMENT,TABLE_SCHEMA FROM oracle.information_schema.columns WHERE TABLE_SCHEMA=''

[2022-08-25 09:04] CCColby commented on #13846
when use this sql:
    "SELECT TABLE_NAME,COLUMN_NAME,DATA_TYPE,COMMENT,TABLE_SCHEMA FROM oracle.information_schema.columns WHERE TABLE_SCHEMA in ('dvsys')"
    return nothing
but use this:
    "SELECT TABLE_NAME,COLUMN_NAME,DATA_TYPE,COMMENT,TABLE_SCHEMA FROM oracle.information_schema.columns WHERE TABLE_NAME in ('code')"
 i can get:
('code' ,'a', 'varchar(64)', null, 'dvsys')
('code' ,'b', 'varc

[2022-08-25 12:14] findepi commented on #13180
We should fix that. cc @claudiusli @raunaqmorarka @alexjo2144

for MV, you have a `CREATE (OR REPLACE)? MATERIALIZED VIEW` syntax

This i don't understand. we definitely want to have a statement that forces an MV to become fresh (be refreshed) and is synchronous.

In Trino, there is no background work happening after CREATE MATERIALIZED VIEW completes. REFRESH needs to be explicit. There is no sch

[2022-08-25 12:20] findepi commented on #13846
Do you have `oracle.remarks-reporting.enabled` enabled?

[2022-08-25 12:22] findepi commented on #13787
The problem is that HMS can enter a "bogus" state where it has multiple stats for one column.
We can try to prevent this on Trino side, but this won't eliminate this possibility (eg someone may be using older Trino version, or already have a problem in their HMS database). We need to workaround this on the read path.

[2022-08-25 12:36] findepi commented on #13826
#17 is the right long term fix, but the existing case-insensitive matching logic will remain with us for some time even after #17 is completed. It shouldn't be too hard to fix this bug.

[2022-08-25 13:05] blank-manash opened #13848 "Hive: Join Tables with Big and Small Table."
### Discussed in https://github.com/trinodb/trino/discussions/13847

<div type='discussions-op-text'>

<sup>Originally posted by **blank-manash** August 25, 2022</sup>
## Context

We have two tables, A and B. The size of A is very large (over 500 GB) and the size of the other table B is small (about 44 rows)
We are executing a select query in three different ways

* Select Query on A
* Select Quer

[2022-08-25 13:09] sopel39 commented on #13180
What do you think it will take to make MVs more usable?

I think you would want some lineage, but IMO MVs scheduler should live outside of core engine.

[2022-08-25 13:15] homar opened #13849 "TestSpilledAggregations.testSingleDistinctOptimizer is flaky"
Stack trace:

[code]

failed here https://github.com/trinodb/trino/pull/13824

[2022-08-25 13:57] djsstarburst commented on #13751
Removing the `rewriteTableScan` caused the Hive tests to fail because the`HiveTableHandle` in the `MergeTarget` doesn't have a running `AcidTransaction` until `BeginTableWrite.createWriterTarget` calls `ConnectorMetadata.beginMerge`.  The merge handle returned by that method has the `AcidTransaction` initialized, and `rewriteTableScan` is used to update the handle in the `TableScanNode`.

Why Hive

[2022-08-25 14:14] wrborigin commented on #13180
Oh! I might be confusing this with how SEP materialized views work. Apologies, if that's the case.

[2022-08-25 14:31] mdesmet commented on #13180
If a `CREATE OR REPLACE MV` does an immediate refresh and also does an atomic swap (the view is never hit by actual users and the existing storage table is replaced instead of deleted and inserted in a single transaction as demonstrated in #13681 with a potential totally new column layout), it would effectively be the same as `CREATE OR REPLACE TABLE`.

There is also the potential performance bene

[2022-08-25 15:02] martint commented on #10677
Dates with negative years are invalid per spec. So this is still an open issue.

[2022-08-25 15:05] findepi commented on #13849
Can it be the same as https://github.com/trinodb/trino/issues/13778 ?

[2022-08-25 15:05] #13795 closed

[2022-08-25 15:07] findepi commented on #10677
I understand we broaden the spec, adding support for negative years.
If we want to disallow that, we should have a dedicated issue about this. And this would be more than just literals -- i.e. we would need to update date math functions too.

[2022-08-25 15:09] homar commented on #13849
Yes i think it is possible

[2022-08-25 15:14] martint commented on #10677
Isn't that what this issue is about? -> "Incorrect DATE literals are accepted". Why would we need a duplicate issue?

[2022-08-25 19:16] findepi opened #13851 "Support CREATE FUNCTION and SQL-defined functions"

[2022-08-25 19:17] findepi commented on #1076
Trino has no Ranger plugin yet, so let me close this issue as not pertaining Trino

[2022-08-25 19:17] #1076 closed

[2022-08-25 19:18] findepi commented on #2998
Trino has no Ranger plugin yet, so let me close this issue as not pertaining Trino

[2022-08-25 19:18] #2998 closed

[2022-08-25 19:18] martint commented on #13851
This is dependent on and related to https://github.com/trinodb/trino/issues/8

[2022-08-25 19:19] findepi commented on #6217
Trino has no Ranger plugin yet, so let me close this issue as not pertaining Trino

[2022-08-25 19:19] #6217 closed

[2022-08-25 19:41] alexjo2144 commented on #8364
Using an existing data column as a row id makes sense to me. We may be refactoring how this all works if we do https://github.com/trinodb/trino/issues/13621 soon though

[2022-08-25 20:57] electrum commented on #13633
This error is strange. It’s inside the Hadoop Parquet code. Did we upgrade that recently? I can’t see why this would suddenly start failing.

[2022-08-25 20:59] electrum commented on #13633
The last upgrade was several releases ago: https://github.com/trinodb/trino/commit/1aa7c986d48420e86d6e303009cb68470a211f04

[2022-08-25 21:02] martint commented on #13633
Maybe related?

https://stackoverflow.com/questions/44036307/memory-allocation-issue-in-writing-spark-dataframe-to-hive-table

[2022-08-25 21:55] djsstarburst commented on #13621
I added optimizer `PushMergeWriterDeleteIntoConnector` whose PATTERN matches
`TableFinish->MergeWriter->Project>TableScan`.  If it matches and `ConnectorMetadata.applyDelete()` returns the table scan.  This change allows the Iceberg metadata delete tests pass.

However, there is one failing Iceberg test: `testDeleteWithSubquery`.  I'll look into that next.

[2022-08-25 22:11] ebyhr commented on #13633
The first failure was Aug 3rd. Upgrading to Java 17 might be related https://github.com/trinodb/trino/commit/44732260a397bb9956dd650ef5ddc68ae1728a21

[2022-08-25 22:42] martint commented on #13633
I don't see how updating the language level should have any effect. The tests had been running with Java 17 before that change went in.

[2022-08-26 00:15] djsstarburst commented on #8364
Seems like a good argument to me.  I've mostly dealt with connectors whose rowIds are composites that don't correspond to any single column, or are synthetic file row counters not actually stored as columns, and those must be treated as additional columns.

@electrum, it seems like we need your opinion.  How should we handle the rowId column if it happens to be identical to an already projected co

[2022-08-26 01:08] CCColby commented on #13846
yes, query table structure which belongs to table schema

[2022-08-26 01:15] ebyhr commented on #13846
Enabling the property reduces the performance as https://docs.oracle.com/en/database/oracle/oracle-database/19/jjdbc/performance-extensions.html. Could you share the elapsed time before&after changing the flag?

[2022-08-26 01:40] CCColby commented on #13846
nothing changes, elapsed 2.39m, mysql has physical table information_schema, but oracle not,its slow.how to solve this problem? thanks!

[2022-08-26 01:40] CCColby commented on #13846
nothing changes, elapsed 2.39m, mysql has physical table information_schema, but oracle not,its slow.how to solve this problem? thanks!

[2022-08-26 01:46] CCColby commented on #13846
yes

[2022-08-26 01:54] ebyhr commented on #13846
Thanks. Have you already tried metadata cache? https://trino.io/docs/current/connector/oracle.html#general-configuration-properties

[2022-08-26 02:02] CCColby commented on #13846
yes,my conf:
metadata.cache-ttl=60s
metadata.cache-missing=true

[2022-08-26 06:12] PraneethaModepalli opened #13857 "Version : 393 /v1/statement returns 404 from trino"
Error executing query: Error starting query at http://example.net:8080/v1/statement returned an invalid response: JsonResponse{statusCode=404, statusMessage=, headers={connection=[keep-alive], content-type=[application/json], date=[Fri, 26 Aug 2022 05:36:16 GMT], keep-alive=[timeout=60], transfer-encoding=[chunked], vary=[Origin, Access-Control-Request-Method, Access-Control-Request-Headers]}, has

[2022-08-26 06:16] ebyhr commented on #13857
Is this your actual code? Or did you replace it with example connection string?

[2022-08-26 06:21] PraneethaModepalli commented on #13857
Updated the problem statement .. I am connecting to localhost:8080

[2022-08-26 07:05] KPshanmuam opened #13858 "Unable to create Kafka Topic in confluent cloud."
Team,

              We are having issues to creating KAFKA topics in confluent cloud.  Getting below 401 error (unauthorized). Can you please advice how we can fix this issues.

We have already added topic keys into our GitLab vault

![image](https://user-images.githubusercontent.com/112157335/186842905-7963c067-785c-4daa-a400-d3daa9c40785.png)
.

[2022-08-26 07:52] ebyhr commented on #13857
I would recommend to verify the connection without JDBC driver first. What happens if you connect using web browser?

[2022-08-26 08:19] YuanYunjing commented on #7843
Thanks! I can start the trino successfully now,
And I use the config below, without the javaagent, it's ok too?

[2022-08-26 09:13] PraneethaModepalli commented on #13857
/v1/statement is an inbuilt post call in trino (StatementClinetV1.class in trino-jdbc-393.jar)

[2022-08-26 10:34] sopel39 commented on #13723
[code]

https://github.com/trinodb/trino/pull/12968

[2022-08-26 10:53] findepi commented on #10677
To me, this issue is about date's string representations accepted on input.

I thought you wanted to prohibit dates before 1 AD, but that would impact date string representations _and_ many functions operating on dates. => this would be a different issue, not a duplicate.

[2022-08-26 10:59] findepi commented on #13778
Looks like something is deleting those tmp spill files before the code is done using them.
Can it be that something is deleting those tmp spill files before _the application_ is done using them?
i.e. can there be some background service which deletes files in /tmp to prevent out of disk space?

cc @nineinchnick @MiguelWeezardo

[2022-08-26 10:59] findepi commented on #13778
other tests methods eg `TestSpilledAggregations.testSingleDistinctOptimizer` are also affected (https://github.com/trinodb/trino/issues/13849)

[2022-08-26 10:59] findepi commented on #13849
Closing in favor of https://github.com/trinodb/trino/issues/13778

[2022-08-26 10:59] #13849 closed

[2022-08-26 11:02] findepi commented on #13180
cc @romanvainb

[2022-08-26 11:32] YuanYunjing opened #13863 "About how to use the JMX to monitor Trino and Why Alluxio doesn't accelerate the Trino query"
I'm integrating Trino with Alluxio.

To know why there is no effect shows, I need to monitor the access delay of Hive Metastore.
But on the trino website, I didn't find the introduction of the JMX Metrics of Trino. Seeing them from SQL query is too hard to find the right Metric to use，so I want to ask if there are some guide to use the JMX Metrics of Trino?

Besides, after integrating Trino with A

[2022-08-26 11:39] YuanYunjing opened #13864 "About how to use the JMX to monitor Trino"
I'm integrating Trino with Alluxio.

To know why there is no effect shows, I need to monitor the access delay of Hive Metastore.
But on the trino website, I didn't find the introduction of the JMX Metrics of Trino. Seeing them from SQL query is too hard to find the right Metric to use，so I want to ask if there are some guide to use the JMX Metrics of Trino?

Thank you!

[2022-08-26 11:41] YuanYunjing opened #13865 "About Why Alluxio doesn't accelerate the Trino query"
After integrating Trino with Alluxio, I finded the query speed is not faster than the query of Trino and HDFS. The data is indeed cached in Alluxio. Only when I reboot Trino, the query will be slow, that's the only change in query speed. So does anyone know why it shows like this?

Thank you!

[2022-08-26 11:45] #13863 closed

[2022-08-26 12:09] findepi commented on #13848
Closing in favor of https://github.com/trinodb/trino/discussions/13847

[2022-08-26 12:09] #13848 closed

[2022-08-26 12:29] #13787 closed

[2022-08-26 12:47] #12984 closed

[2022-08-26 13:23] djsstarburst commented on #13621
`testDeleteWithSubquery` is failing because optimizer `InlineProjections` is scrambling the page block order, and `MergeWriterOperator.addInput()` is expecting a specific block order.  Apparently, that's a bug.

So `MergeWriterOperator` must get a new constructor arg that specifies the channel mapping.

[2022-08-26 13:39] danielsunzhongyuan commented on #13843
Thanks for your reply.
fixed it.

[2022-08-26 13:58] Praveen2112 commented on #13858
401 error (unauthorized) error might be due to missing or invalid username and password when we connect to SchemaRegistry. Trino doesn't support connecting with a secured SchemaRegistry service. Additionally Trino doesn't support creation of new topics to Kafka. Is the question is more focused on Terraform community ?

[2022-08-26 14:19] KPshanmuam commented on #13858
Hi Praveen,

      Thanks for your update, we are not using Trino even i am not sure about that.
       i used terraform through the Gitlab pipeline. which i can able to create a environment in confluent cloud and getting error while creating topics.
       any sugissions would be greatly appriciated.

[2022-08-26 14:28] hovaesco commented on #13705
Thanks for detailed explanation. I'm good to close the issue.

[2022-08-26 15:08] #13705 closed

[2022-08-26 16:23] whitleykeith opened #13872 "Add Session Header for generic metadata"
This issue is to ask for some session-level headers that can be used for routing within service-mesh enabled environments to enable zero downtime deploys. If there's other options that anyone knows about, I'm open to discuss :)

We currently use Trino daily to support large, complex data workflows. Some of our queries can take hours to complete, and it's widely used across different timezones, mea

[2022-08-26 18:57] martint commented on #8364
The semantics of `getXXXRowIdColumnHandle()` are currently under-specified. I see three possibilities:
1. It identifies which of the columns of the table (via `getColumnHandles()` and which may contain real or synthetic columns) is the column to be used for the update or delete operation.
2. It provides a "special" column that is not part of the set of table columns described by `getColumnHandles(

[2022-08-26 19:23] findinpath commented on #13737
Suggestion from @findepi : use table id in the key of the cached files

[2022-08-26 20:26] MiguelWeezardo commented on #13778
I haven't heard of any automatic /tmp cleanup process on GitHub runners, but I'll take a closer look in the docs.

[2022-08-26 20:45] findepi commented on #13737
Except that I don't know how to re-validate the table id without re-reading the table metadata from disk.

[2022-08-26 22:20] djsstarburst commented on #8364
One point - - work moving DELETE and UPDATE to use the MERGE machinery is going pretty well, and once we are all satisfied with it, `getDeleteRowIdColumnHandle()` and `getUpdateRowIdColumnHandle()` will go away.  The only special column handle of this kind left will be the "merge" rowId column handle, now accessed with `getMergeRowIdColumnHandle()`, but which we will likely want to rename simply `

[2022-08-26 22:50] martint commented on #8364
The problem with option 2 is that choosing an existing column as the row id (e.g., for a table with a primary key) requires adding extra special machinery in the connector to create a column handle that refers to the same column but is not the same column handle (and does not `equal()` the primary key's column handle) -- effectively, you need to alias the same column via two distinct column handle

[2022-08-27 03:22] vedprakash0505 opened #13880 "Iceberg connector : ALTER TABLE <TableName> DROP COLUMN is not working for ORC and Parquet file format"
### Discussed in https://github.com/trinodb/trino/discussions/13866

<div type='discussions-op-text'>

<sup>Originally posted by **vedprakash0505** August 26, 2022</sup>
Hi  Team,

Could you please help me on this.

We are using the iceberg connector release 393 and tried the following commands
[code]

this is throwing us the exceptions:

SQL Error [16777216]: Query failed (#20220826_114607_00215_

[2022-08-27 07:23] ebyhr opened #13881 "`ALTER TABLE ... DROP COLUMN` on File metastore lead to incorrect data when the position isn't last column"
[code]

[2022-08-27 08:15] ebyhr commented on #13881
Enabling `hive.orc_use_column_names` session properties resolved.

[2022-08-27 12:27] #13881 closed

[2022-08-28 17:25] tangjiangling commented on #13107
https://github.com/trinodb/trino/runs/8058855336?check_suite_focus=true

[2022-08-28 23:52] ebyhr opened #13887 "Flaky `TestSpilledWindowQueries.testWindowsDifferentPartitions`"
[code]

https://github.com/trinodb/trino/runs/8049156767

[2022-08-28 23:58] ebyhr opened #13888 "Flaky `TestDatabricksWithGlueMetastoreCleanUp.testCleanUpOldTablesUsingDelta`"
[code]

https://github.com/trinodb/trino/runs/8049378719

[2022-08-29 00:00] ebyhr commented on #13888
The below `SHOW TABLES` will fails when the schema was dropped concurrently.
https://github.com/trinodb/trino/blob/211d2eeddb5116caafe2d5e3ff5e3c0b29746b67/testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDatabricksWithGlueMetastoreCleanUp.java#L92

[2022-08-29 02:22] ebyhr opened #13889 "Flaky `TestHiveAnalyzeCorruptStatistics.testAnalyzeCorruptColumnStatisticsOnEmptyTable`"
[code]

[2022-08-29 03:02] ebyhr opened #13890 "`ALTER TABLE ... RENAME TO` statement in Iceberg Glue reset the table retention"
Steps to reproduce
1. Create a new table in Iceberg connector
2. Set the table retention using Glue CLI or something
3. Run `ALTER TABLE ... RENAME TO` statement
4. Confirm the table retention on Glue. It will return 0 which is different from step 2

I haven't tested all fields, but the retention value was reset at least.

[2022-08-29 03:36] shtoma opened #13891 "Trino ver 393 doesn't have compatiblity with old docker version ( JVM can't start )"
In Trino 393 with older docker ver ( docker://18.6.3 ), the container can't start JVM.

[code]

This looks the issue of temurin .
https://github.com/trinodb/trino/pull/13522

https://github.com/adoptium/temurin-build/issues/2976
Can trino support it ?

[2022-08-29 09:23] #12925 closed

[2022-08-29 09:32] findepi commented on #13723
[code]
[code]
[code]

#13567 #12925

[2022-08-29 12:00] findepi commented on #8364
This would be ideal. However, the rowId column is generated: may depend on a particular query. For some connectors, it needs to transport all columns not being updated in current query.

I think we therefore need to rule this option out.

Today we have 2):

it has the drawback that we require synthetic column where one could be avoided. (this is exactly what @reugn is complaining about in this iss

[2022-08-29 12:16] findepi commented on #13890
What is table retention in Glue?

cc @pettyjamesm

[2022-08-29 13:38] avibhstarburst opened #13905 "Add support for rest api on connectors"
### Problem:
some connectors are using rest-api for internal configuration/management either internally (connector-workers) or externally for the user.
this requires the connector to start an internal server with a specific port.
major issues with this approach -
1. adds to deployment requirements - requires another open port
2. overloads trino server with another server(another jetty server with

[2022-08-29 17:31] Utkarsh-0211 opened #13909 "Trino with HA"
I have deployed Trino coordinator and worker as stateful set in HA mode

Problem statement : I want to restart the pods as and when I add new catalogue in my config map so that it is updated.

Solution tried :
1. Restarted the stateful set directly so the 2 coordinator and 2 worker deployed get restarted and the config map is updated.But the problem is I'm not able to identify which one is the pri

[2022-08-29 17:31] Utkarsh-0211 commented on #13909
@dain Request for your kind help please.

[2022-08-29 17:40] pettyjamesm commented on #13890
I _think_ it corresponds to Hive's automatic partition management functionality described in these docs: [Link 1](https://docs.cloudera.com/HDPDocuments/HDP3/HDP-3.1.4/using-hiveql/content/hive-set-partition-retention.html) [Link 2](https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL#LanguageManualDDL-PartitionRetention). I don't know whether Glue actually implements the automatic

[2022-08-29 17:45] colebow commented on #12528
@zhaoyim Do you plan on handling this, or would you like someone else to try to tackle it?

[2022-08-29 19:15] tnatssb commented on #12745
Any progress on this?

[2022-08-29 22:45] #13723 closed

[2022-08-30 00:51] martint opened #13912 "Decorrelate queries containing a HAVING clause"
Currently, queries with the following shape are not supported:

[code]

[2022-08-30 01:24] martint opened #13913 "Release notes for 395"

[2022-08-30 02:06] #13483 closed

[2022-08-30 04:26] dain commented on #13905
We talked about this a few years back.  There are a lot of difficulties with this design as wiht the isolated SPI classloader would not  be practicable to support a API like Java Servlet over the interface. It is imply to broad of an interface with too many connected classes.  Additionally, connectors may be using the Servlet APis internally and since this API is regularly updated there would be a

[2022-08-30 05:22] zhaoyim commented on #12528
@colebow Please go ahead if you want to work on this issue. Thanks!

[2022-08-30 06:50] findinpath commented on #12745
@colebow  CPTAL at #10515 ?

[2022-08-30 07:53] #8740 closed

[2022-08-30 07:54] ebyhr commented on #13913
[code]

#13745

[2022-08-30 08:28] hashhar commented on #7496
Some notes from my research when I initially created this - might be helpful to future me and others who decide to work on this.

### MySQL

This is not possible to implement correctly for MySQL < 8.0 because lower versions ignore trailing spaces even when using a binary collation like `utf8mb4_bin`.

MySQL 8 fixes this by adding more collations for `utf8mb4` charset which don’t ignore trailing sp

[2022-08-30 08:36] jaseemjaskp opened #13915 "Unable to authenticate Web-UI with JWT"
Hi, I am setting up trino-v393 with web UI jwt authentication.
after adding ```web-ui.authentication.type=JWT``` in config.properties
I am unable to run the trinodb server. kindly help to resolve this error.

[code]

[2022-08-30 09:27] tangjiangling opened #13917 "Add support for bloom filters to dynamic filtering"
## Motivation

Currently Trino's dynamic filtering supports collecting `set` or
`min-max` values, for the large data volume of the build side, `set`
will degrade to `min-max` values, which will lead to poor filtering
results, and the current `min-max` does not support `DOUBLE` and `REAL`
types.

If we introduce `bloom filter`, we can let users choose `min-max` or
`bloom filter` according to the ac

[2022-08-30 09:30] tangjiangling commented on #13917
CC: @sopel39 @raunaqmorarka @wubiaoi

[2022-08-30 09:36] sopel39 commented on #13917
Nice idea!

bloom filter according to the actual scenario,

That should happen automatically.

min-max values

We also don't merge consecutive ranges, which should help too

types.

I'm not sure equality checks on `DOUBLE` and `REAL` are common operations

[2022-08-30 09:49] tangjiangling commented on #13917
I'll take this (actually already WIP).

[2022-08-30 10:32] findepi commented on #13890
If it is about Hive partitions then it wouldn't have anything to do with Iceberg.

[2022-08-30 12:21] JevonYang commented on #8428
I tried this setting, buts shows below

[code]

[2022-08-30 13:46] hashhar commented on #8428
@JevonYang You seem to be using the Iceberg connector, not the Hive connector.

[2022-08-30 14:02] sopel39 commented on #13788
Fixed via https://github.com/trinodb/trino/pull/13111

[2022-08-30 14:04] sopel39 commented on #13913
[code]
https://github.com/trinodb/trino/pull/13111

[2022-08-30 14:29] sopel39 opened #13921 "Measure split listing time per table per query"
Currently there is no direct metric that would describe how long it takes to list splits (wall time) per query per table. Such metric would be useful to identify issues with coordinator or metadata

cc: @trinodb/maintainers

[2022-08-30 15:00] djsstarburst commented on #13621
[This WIP branch](https://github.com/djsstarburst/trino/tree/david.stryker/delete-and-update-on-merge) implements both DELETE and UPDATE using the `MergeProcessor/MergeWriter` infrastructure, conditional on static booleans for now until the PR is nearer to being merged.  I've run the existing DELETE and UPDATE tests for both Hive and Iceberg.  Of course, the existing UPDATE tests do not test chang

[2022-08-30 16:19] avibhstarburst commented on #13905
@dain
1. you're right, my pseudocode doesnt show how to run it in the connector classloader but it surely needs to be run there.
2. I'm not familiar with the dynamic catalog feature but I dont think this should be part of the engine. IMHO that should be part of the connector logic(knowing which version-worker to work with - not sure if this is available for the connector through the nodeManager).

[2022-08-30 17:54] findepi commented on #13621
Or the expected message in the test be updated.

[2022-08-30 18:02] findepi commented on #12385
https://github.com/trinodb/trino/runs/8093999153?check_suite_focus=true

[2022-08-30 18:13] djsstarburst commented on #13621
A couple of Hive tests are failing because the exception message is wrong, e.g., it says “Inserting into…” instead of “Updating…“, etc.  Apart from the specific test failures, it makes sense to me for the engine to convey the original operation to the connector.

The minimal fix is to add an enum arg to  ConnectorMetadata.beginMerge() to say if the original operation is a DELETE, UPDATE or MERGE.

[2022-08-30 18:19] martint commented on #13621
I don't think the merge machinery should be polluted with such a flag only for the purpose of producing an error message. We could update the error message and make it a little more generic ("Modifying the contents of table ..."), or just leave it as "Updating ..." as a general way of describing an operation that updates the contents of a table (INSERT, DELETE, UPDATE and MERGE generically "update

[2022-08-30 19:43] hashhar commented on #2110
Please follow `https://github.com/trinodb/trino/issues/12709` for progress. Avoid adding comments unrelated to the work there though.

[2022-08-30 19:43] #2110 closed

[2022-08-30 19:51] djsstarburst commented on #13621
That's fine with me.  I like "Updating ...".

[2022-08-30 20:16] abhs50 commented on #13024
Hello, Just checking is this change being picked up and if so whats the ETA to make it available in latest trino version ?

[2022-08-30 22:02] ebyhr commented on #13024
@abhs50 You can subscribe #13062 and #13433.

[2022-08-30 22:43] pettyjamesm commented on #13890
My understanding is that it’s just another property that can be specified on a table from Glue’s perspective. I have no idea whether/what iceberg or other metastore implementations may be using that field to do.

If I’m right, then I think the strategy would be to preserve the property value when renaming tables, although iceberg might need other considerations to handle in-flight transactions- I’

[2022-08-31 00:48] electrum commented on #13180
I'm not convinced that the `OR REPLACE` has to mean `DROP TABLE`. It's a new keyword `REPLACE` which we can define however we want. If we say that it means "replace the table schema and contents" (and probably table properties), then the history-preserving behavior makes sense.

[2022-08-31 02:32] Jay-ju opened #13932 "implement local cache and query result cache in trino"
[ref ](https://github.com/trinodb/trino/issues/13815)， i want to introduce local cache
1. rubix is not available for current version， in addition， its architecture must require install a rubix cluster， so it's heavy for cache. here i advice that cache is lib in worker.
2. query result cache is import for bi scene.  condition in ui is relatively same. reuse is necessary.

**Local Cache Frame**
ref

[2022-08-31 02:37] martint commented on #13932
Trino already has a built in local cache for the hive connector. Please see https://trino.io/docs/current/connector/hive.html

[2022-08-31 04:14] djsstarburst commented on #13621
Having looked at the CI build, I'm wondering if this is the right call.   There are _many_ test failures, all but a few due to the error message change, e.g. "merge" vs "update" or "delete".  And most are due to the exceptions thrown in `ConnectorMetadata` default methods.

Right now, the default implementations of `ConnectorMetadata.get(Delete|Update|Merge)RowId()` and `ConnectorMetadata.begin(De

[2022-08-31 06:29] #13536 closed

[2022-08-31 06:30] ebyhr commented on #13913
[code]

#13536

[2022-08-31 08:46] 873253814 opened #13935 "The task query status has finished, but why the task progress is not 100"
![捕获123](https://user-images.githubusercontent.com/48077349/187637227-6066ef03-1f72-40cc-a23b-7dfc62e23d27.PNG)
![捕获1111](https://user-images.githubusercontent.com/48077349/187637581-b8ad5915-fd64-4071-a484-67280b531289.PNG)

[2022-08-31 09:14] 873253814 commented on #13935
I found progressPercentage = completedDrivers / totalDrivers,but why is the task in the finished state when the drivers have not completed all the tasks
![捕获123213](https://user-images.githubusercontent.com/48077349/187643614-64b52ed3-fd0d-460f-a829-96fce76fd7f5.PNG)

[2022-08-31 10:08] #13839 closed

[2022-08-31 10:09] ebyhr commented on #13913
[code]

#13878

[2022-08-31 10:27] aakashnand commented on #9894
On further investigation, I have found following things

1. In hive4.0.0 the compactions are executed using transactions. Therefore new transaction_id is getting appended to base file

- Base file after compaction in case of hive3.1.2 : `base_0000003`
- Base file after compaction in case of hive4.0.0 : `base_0000003_v0006076`

because of this new file name of base file after compaction, hive conne

[2022-08-31 10:34] 873253814 commented on #13935
Why does my task status appear "canceled"
![捕获2222](https://user-images.githubusercontent.com/48077349/187659279-b4e391d4-ef21-4d15-98cd-a3c32efd88fd.PNG)

[2022-08-31 11:22] sopel39 commented on #13889
https://github.com/trinodb/trino/runs/8111049903?check_suite_focus=true

[2022-08-31 11:26] findepi commented on #13621
What's the SPI backward compatibility story for this change?

[2022-08-31 12:30] findepi commented on #13890
we'd like to preserve everything, however the code currently needs to create a new table with a new name and drop the previous one, since Glue doesn't seem to expose a rename operation. When doing that, the code needs to copy all the known properties of a table (`com.amazonaws.services.glue.model.Table`) into create table request (`com.amazonaws.services.glue.model.TableInput`), which is problemat

[2022-08-31 13:17] #12484 closed

[2022-08-31 13:37] djsstarburst commented on #13621
@electrum theorizes that we don't need backward compatibility because all connectors that support row-by-row delete and update now support merge: Hive, Raptor, Iceberg, Delta Lake and Kudu.

[2022-08-31 15:09] sopel39 commented on #13913
[code]
https://github.com/trinodb/trino/pull/13573

[2022-08-31 19:26] martint opened #13946 "Flaky TestHiveFaultTolerantExecutionConnectorTest.testBucketedExecution"
[code]

[2022-08-31 21:26] #13888 closed

[2022-09-01 00:50] bachng2017 commented on #13163
it looks like that CTL also does not copy the original comment. Did I miss something ?

[2022-09-01 02:59] #12985 closed

[2022-09-01 02:59] ebyhr commented on #13913
[code]

#13707

[2022-09-01 04:27] xiacongling opened #13951 "Equivalence of CHAR values does not match the document"
The [document](https://trino.io/docs/current/language/types.html#char) of data type `CHAR` says:

But when I execute `select cast('a' as char(1)) = cast('a' as char(2))`, it returns the answer `true`. Shouldn't it be `false`? Because the length of these two `CHAR` values are diffirent.

Is it a mistake in the document? or is it implemented incorrectly?

[2022-09-01 04:39] findinpath opened #13952 "Enhance KMS key support in the Hive S3 security mappings"
Documentation for Hive S3 security mappings: https://trino.io/docs/current/connector/hive-s3.html#s3-security-mapping

Limitations to dealing with KMS keys detailed here: https://github.com/trinodb/trino/pull/13715#issuecomment-1233106898

Enhancement requests:

- support for **server side KMS key** IDs in the s3 mappings file : there is support for `hive.s3.sse.kms-key-id` at the Hive configurati

[2022-09-01 04:49] findinpath commented on #13952
cc: @posulliv @pettyjamesm

[2022-09-01 05:36] hashhar commented on #13621
What about connectors that others have written and maintain outside the Trino tree? IMO even if the SPI is unused in Trino it should stay deprecated for some releases before being removed.

And if you still want to remove it I'd argue it needs to come with useful guide on how to migrate to new SPI - because to me it doesn't seem straightforward.

[2022-09-01 06:22] wc99 opened #13954 "[trino-394]cann't not open web monitor[discovery.uri]"
hello !
When I finished installing the trino service[194], I could no longer open the web address[`http://10.199.1.24:10080/ui`] in my browser。Curiously, the server logs do not have any error information
mysql trino service have three server ，one coordinator and two work
The configuration file for the coordinator is as follows
[code]
The configuration file for the work is as follows
[code]
when tr

[2022-09-01 07:17] findinpath opened #13957 "Flaky test `TestPhoenixConnectorTest`: TimeoutException: The procedure 881 is still running"
[code]

[2022-09-01 07:17] findinpath commented on #13957
https://github.com/trinodb/trino/runs/8128351678?check_suite_focus=true

[2022-09-01 07:21] ebyhr commented on #13913
[code]

#13936

[2022-09-01 08:59] ebyhr commented on #2271
I think we can convert to normal tests instead of product tests using `HiveHadoop` class now.

[2022-09-01 13:52] jaseemjaskp commented on #13915
the value of web-ui.authentication.type is case sensitive and it is working with lowercase value 'jwt'

[2022-09-01 13:52] #13915 closed

[2022-09-01 15:18] wobrycki opened #13960 "No bucket node map for partitioning"
Trino: 393
Last known Trino version when it was working: 387, 392
Steps to reproduce: Create an iceberg table with partitioning and a bucketing:
[code]
Insert anything in the table:
`INSERT INTO "try3_lineitems" (line_item_id) values 'abc';`
Gives:
[code]

The last change I found in the trino repo regarding this error message is on 03.08.2022 Revision 3207925.

[2022-09-01 17:24] pettyjamesm commented on #13890
I don't think there is a good way to implement a "rename" on top of Glue API's, only best effort approaches like pairs of create table / drop table calls like we're doing today. Making this a feature request to the Glue team is probably a good idea so that they have visibility into some of the pain points. In particular, table rename implemented with a create / delete pair are going to be non-atom

[2022-09-02 03:31] ebyhr commented on #11594
Closing as #13743

[2022-09-02 03:31] #11594 closed

[2022-09-02 04:34] ebyhr commented on #13587
Closing as https://github.com/apache/iceberg/issues/5591#issuecomment-1222524262

[2022-09-02 04:34] #13587 closed

[2022-09-02 05:53] ebyhr commented on #13960
@wobrycki I can't reproduce the issue. Could you share config files and the number of workers?

[2022-09-02 07:21] wobrycki commented on #13960
Hi @ebyhr here are the configs:

[code]

Where do I find the number of workers?

[2022-09-02 07:24] ebyhr commented on #13960
You can confirm the number in webui.

[2022-09-02 07:43] wobrycki commented on #13960
Thanks. There is 1 active worker.

[2022-09-02 08:23] ebyhr commented on #13759
I could reproduce the issue. Let me submit PR later.

[2022-09-02 09:30] #10842 closed

[2022-09-02 09:32] sopel39 commented on #13913
[code]
https://github.com/trinodb/trino/pull/13934

[2022-09-02 09:41] wobrycki commented on #13960
config.properties:
[code]

[2022-09-02 09:47] wobrycki commented on #13960
__COORDINATOR_SECTION__ can be replaced with:
[code]

[2022-09-02 10:24] Heltman opened #13970 "Some lexer in SqlBase.g4 file with wrong order"
Some lexer with wrong order, like `DEFINE`、`OF`:

[code]

and `DENY` in nonReserved  with error location

[code]

[2022-09-02 12:07] findepi commented on #11505
https://github.com/trinodb/trino/runs/8121407727?check_suite_focus=true

cc @JamesRTaylor @raunaqmorarka

[2022-09-02 15:19] findepi commented on #13890
@pettyjamesm  How can the Trino project let the Glue team know about a usefulness of a "rename table" feature request?

[2022-09-02 15:23] findepi commented on #2271
that's an option.

"hive tests" is one test class or multiple?
if multiple, "HiveHadoop approach" would incur repeated setup cost.

Also, do we want to use "HiveHadoop approach" for eg Azure tests?

[2022-09-02 15:25] findepi commented on #13163
@bachng2017 that's a separate issue.

[2022-09-02 19:54] pettyjamesm commented on #13890
I'll reach out to someone on the Glue catalog team internally to see if it's on their roadmap, and if not- request to have it added to their backlog. That said, AWS teams tend to prioritize things like this based on customer feedback so if there are Glue customers who want want table rename support to be part of the Glue API (whether that's from Trino or any other engine they happen to use with th

[2022-09-02 20:19] Faizankhan1104 commented on #6553
Hello, @findepi I would like to start my contribution to this issue. Can I pick this up??

[2022-09-02 22:19] ebyhr commented on #13970
FYI: You can use `Fixes #13970` comment in PR description for closing the issue automatically.

[2022-09-02 22:19] #13970 closed

[2022-09-03 08:59] jackwener opened #13979 "Use `Switch Expression` in Java 17"
trino have used java 17.
We can use new feature in java 17 -- `Switch Expression` to improve the code

[2022-09-03 16:37] djsstarburst commented on #13621
I thought about it a bit more, and decided you guys are right, because everywhere the customer can see the error they can  also see the SQL.  I pushed a commit that changed the MERGE-related `ConnectorMetadata` methods to throw an exception with this message:

`This connector does not support modifying table rows`

and changed the tests that expect to fail doing DELETE, UPDATE or MERGE to expect t

[2022-09-04 23:29] #8 closed

[2022-09-04 23:38] dain commented on #8
@jerryleooo @caneGuy @l568288g This means that a catalog can provide a function under a specific name like `druid.functions.func1(col1)`.  There is a PATH that can be modified by the end users so that functions do not need to be fully qualified (and there is a system level default PATH).  This is like any other function, but the catalogSchema should be set to the catalog and schema of the function

[2022-09-05 06:22] hqisog commented on #2127
hi, this issue was solved?

[2022-09-05 06:22] hqisog commented on #2127
@ebyhr

[2022-09-05 08:14] hqisog commented on #2864
hi, this issue was solved? @ebyhr

[2022-09-05 10:20] findepi commented on #13890
Thanks @pettyjamesm

That's understandable. But also, hiTrino is a project, not a Glue customer, obviously. In the hindsight it could have been a mistake to add poor man's rename workaround for Glue. That would help Trino users feel the deficiency better and would put more pressure on the Glue APIs. Would that be better to users overall?

[2022-09-05 11:41] hudsondba opened #13990 "Delta-Lake only support Timestamp(3)"
Today the delta connector only supports timestamp column with precision of 3.

trino> create table IF NOT EXISTS delta.events_silver.dummy_table(
    -> event_source varchar,
    -> event_time timestamp(6)
    -> );
Query 20220905_113842_00007_vxs5p failed: Unsupported type: timestamp(6)

This a huge blocker considering that spark supports a timestamp column with a higher precision:

+------------

[2022-09-05 13:51] tooptoop4 commented on #13851
https://github.com/prestodb/presto/pull/13481

[2022-09-05 17:04] djsstarburst commented on #13621
I've been whittling away at the errors turned up by the CI build.  There was a serious bug, now fixed, in the calculated order of SET expressions what planning UPDATE.  I add a test that showed the MERGE did not have the same bug.

I'm down to the point where it makes sense to list specific test failures:

These elements of the fault-tolerant tests are failing because the `partition` element of th

[2022-09-05 20:10] findepi commented on #13621
What is the bug?
if it affects current release, can you please file an issue?

[2022-09-05 22:22] djsstarburst commented on #13621
Here is the complete enumeration of the current test failures in the CI build.  They haven't been analyzed yet.  Almost all of are delete faillures, most failing because the connector does not support `getMergeRowIdColumnHandle`.

[code]

[2022-09-05 22:24] djsstarburst commented on #13621
I should have been clearer - - the "serious bug" was in this PR.  There is no similar bug in the tip master UPDATE or MERGE.  (Though I added another test to this PR to prove to myself that MERGE was fine.)

[2022-09-05 22:54] #13759 closed

[2022-09-05 22:55] ebyhr commented on #13913
[code]

#13984

[2022-09-06 00:49] ebyhr opened #13995 "Flaky `TestIcebergGcsConnectorSmokeTest.testDeleteRowsConcurrently`"
[code]

https://github.com/trinodb/trino/runs/8197101407

[2022-09-06 01:32] ebyhr opened #13996 "Support converting column stats on ROW type to JSON from Parquet in Delta Lake connector"
`DeltaLakeParquetStatisticsUtils.toJsonValues` needs improvement.

[2022-09-06 01:34] ebyhr opened #13997 "Support setting `delta.checkpoint.writeStatsAsJson` and `delta.checkpoint.writeStatsAsStruct` properties in Delta Lake"
This is optional enhancement of #13331

[2022-09-06 01:36] #12031 closed

[2022-09-06 01:36] ebyhr commented on #13913
[code]

#13331

[2022-09-06 03:11] ebyhr commented on #13960
Thanks, I can reproduce on 394. Looking into the detail now.

[2022-09-06 06:53] huberty89 opened #14000 "Not all tables from system.metadata are access control aware"
I notice some tables from `system.metadata` does not respect rules from File-based Access Control, I got the rules:
[code]
so I should not see any catalogs besides `system` but few tables from `system.metadata` reveals information what catalogs are configured.

| Access control aware | Table name |
|:-:| ------|
|❌| `analyze_properties` |
|✅| `catalogs` |
|❌| `column_properties` |
|❌| `materialize

[2022-09-06 06:57] ebyhr opened #14001 "Disallow creating Delta tables partitioned by all columns"
Delta doesn't support creating such tables.
[code]

Steps to reproduce:
[code]

Below INSERT also fails:
[code]

[2022-09-06 07:18] tooptoop4 opened #14002 "Upgrade snakeyaml to fix CVE-2022-25857"
snakeyaml 1.30 affected

[2022-09-06 07:31] ebyhr commented on #14002
https://github.com/advisories/GHSA-3mc7-4q67-w48m

[2022-09-06 08:05] Xiangakun opened #14004 "It seems system will behave the same for iceberg connector when planTasks without include column stats and it will deplete memory consumed"
Currently，IcebergSplitSource -> getNextBatch -> tableScan will includeColumnStats when planFiles, it seems it's not necessary and deplete memory consumed. Because, for iceberg,

If filter is not `always_true`, no matter whether includeColumnStats is called, read manifest will always return column stats which will be used to filter files that not satisfy the constraints. The differences between inc

[2022-09-06 10:31] ImTangYun opened #14005 "Can trino support select count(distinct *) from tbl?"
when i use select count(distinct *) from tbl,i get error:

io.trino.sql.parser.ParsingException: line 1:23: no viable alternative at input 'count(distinct *'
	at io.trino.sql.parser.SqlParser$1.syntaxError(SqlParser.java:39)
	at org.antlr.v4.runtime.ProxyErrorListener.syntaxError(ProxyErrorListener.java:41)
	at org.antlr.v4.runtime.Parser.notifyErrorListeners(Parser.java:544)
	at org.antlr.v4.runt

[2022-09-06 10:41] findepi commented on #13960
cc @electrum @djsstarburst

[2022-09-06 12:06] #11779 closed

[2022-09-06 13:25] aletc1 commented on #12422
Hi @findinpath,

This does not seem to be resolved in 394.

[code]

Steps to reproduce:

[code]

[2022-09-06 13:47] yohengyang opened #14012 "Unable to obtain password from user in JDK17"
When I update trino to 392 with JDK17 and kerberos authentication is enabled, something goes wrong with trino-cli/trino-jdbc, an error message like this:

[code]

I enable [kerberos debug mode](https://trinodb.github.io/docs.trino.io/394/client/cli.html#additional-kerberos-debugging-information), Then I see an error message:

[code]

Cause by default the des3-hmac-sha1 and rc4-hmac encryption type

[2022-09-06 14:24] djsstarburst commented on #13621
I've done a bit more analysis of the test failures above.  Here is the summary:

- All the failures of connectors using `JdbcMetadata` are caused because the have SUPPORTS_DELETE but deletes as planned using merge component fails, because `getMergeRowIdColumnHandle` is not implemented.  I'm not completely clear on how it should be implemented.
- There are two Iceberg test failures, `TestIcebergMin

[2022-09-06 14:30] djsstarburst commented on #13621
Tasks:

- Figure out if the call by `StatementAnalyzer` to `ConnectorMetadata.getMergeRowIdColumnHandle` can be postponed until query planning.
- Define `JdbcMetadata.(getRowChangeParadigm|getMergeRowIdColumnHandle|beginMerge|finishMerge)`.  It appears that will get all the SQL database connectors passing all tests.
- Fix whatever is wrong with the `partition` arguments in the fault-tolerant tests

[2022-09-06 16:29] mdesmet opened #14014 "`MERGE when not matched should not require aliasing the column names in the VALUES clause"
Currently Trino requires the user to alias the to be inserted values in a `MERGE when not matched` clause.

[code]

This seems counter-intuitive as in the not matched clause there are no matched records, therefore there is no ambiguity.

The following query should work, now failing because of ambiguous column names.

[code]

[2022-09-06 17:04] lhofhansl opened #14016 "DISCUSS: Default domain compaction threshold is too low for basejdbc derived connectors"
I just ran into a scenario where dynamic filtering seemingly did not work.
In this specific case I found it only with a debugger, and it turns out that the domain had translated a small list of values into a range query, and that the few values varied greatly, so that the range ended up being almost the entire table.

Increasing the domain compaction threshold for this connector solved the problem

[2022-09-06 17:38] raunaqmorarka commented on #14016
It is documented in every jdbc based connector, e.g. https://trino.io/docs/current/connector/clickhouse.html#general-configuration-properties
The default is small to be on the safe side. Ideally the default for each connector should be set based on the source system's capabilities, but since we can't reasonably benchmark everything we used a small default.
If you're confident about phoenix being a

[2022-09-06 18:48] sopel39 commented on #13107
https://github.com/trinodb/trino/runs/8203817257?check_suite_focus=true
https://github.com/trinodb/trino/pull/12798

[2022-09-06 22:22] sopel39 opened #14023 "Account for TrinoS3StreamingOutputStream#buffer in writer retained memory"
Currently, `TrinoS3StreamingOutputStream#buffer` in not accounted for by writers. Hence it can cause OOM rather than fail queries gracefully.

[2022-09-06 22:31] sopel39 commented on #14023
Alternatively, we should just skip buffering there and just rely on `OutputStreamSliceOutput` (which is accounted for) to do buffering instead.

cc @electrum @losipiuk @linzebing

[2022-09-06 22:31] sopel39 commented on #14023
See Slack discussion for context https://trinodb.slack.com/archives/CGB0QHWSW/p1662502274619329?thread_ts=1662298857.240529&cid=CGB0QHWSW

[2022-09-07 02:45] djsstarburst commented on #13621
After defining `DefaultJdbcMetadata.getMergeRowIdColumnHandle`, all the SQL database test suites fail because it calls `beginMerge` running `BaseConnectorTest.testDelete`, running this delete, which deletes no rows.  I'm guessing this was supposed to push down to the connector but the optimization failed:

[code]

The plan is helpfully logged:

[code]

[2022-09-07 06:08] ebyhr opened #14027 "Add checker for JUnit `@Test` annotation in overridden tests"
TestNG runs overridden tests regardless of `@Test` annotation, but JUnit silently ignores such tests. It would be nice to have a checker to enforce the annotation since there're many overridden tests in Trino especially for `BaseConnectorTest` and `BaseConnectorSmokeTest`.
[code]

Tested in https://github.com/trinodb/trino/pull/14025
Relates to https://github.com/trinodb/trino/issues/9378 and http

[2022-09-07 06:15] raunaqmorarka commented on #13889
https://github.com/trinodb/trino/runs/8214669429?check_suite_focus=true

[2022-09-07 06:34] yingxuanwangxuan opened #14028 "Support partitioned Hive views in Hive connector"
When I create the Hive partition view, it looks like this：
`CREATE VIEW IF NOT EXISTS luoge_bitest_dwd.ad_tag_view_test partitioned on (ds) AS
  (SELECT role_id,
          ds
   FROM default.login_role);`

 I was able to read view using Trino，[https://trino.io/docs/current/connector/hive.html](url) ，A very simple implementation to execute Hive views, and therefore allow read access to the data in

[2022-09-07 09:19] ebyhr commented on #12818
https://github.com/trinodb/trino/runs/8223696569

[2022-09-07 09:32] cylldby opened #14032 "Add support for ColumnStore engine, in MariaDB connector"
**_Problem_**:

When connecting to a MariaDB instance, it is not possible to create a table with the ColumnStore engine.

ex:
`CREATE TABLE IF NOT EXISTS test_table (
     id int
     ) WITH (ENGINE=COLUMNSTORE);`

Returns `Query 20220907_xxx failed: Catalog 'mariadb' table property 'engine' does not exist`

Pushing DDL through the query table function is not an option either at the moment.

**_Re

[2022-09-07 11:06] mdesmet commented on #13180
Do we have the necessary alignment to move forward and start reviewing the PR?

[2022-09-07 11:40] findepi commented on #13288
`TestSpilledWindowQueries.testWindowsPrefixPartitionin`  in https://github.com/trinodb/trino/runs/8205427230?check_suite_focus=true

[code]

[2022-09-07 11:42] findepi commented on #13887
Duplicates https://github.com/trinodb/trino/issues/13288

[2022-09-07 11:42] #13887 closed

[2022-09-07 11:42] findepi commented on #13288
I merged https://github.com/trinodb/trino/issues/13887 as a duplicate of this one.
It was reported for `TestSpilledWindowQueries.testWindowsDifferentPartitions` failure in https://github.com/trinodb/trino/runs/8049156767 .

[2022-09-07 11:44] findepi commented on #7466
Closing as a duplicate of https://github.com/trinodb/trino/issues/13288

[2022-09-07 11:44] #7466 closed

[2022-09-07 11:46] findepi commented on #13288
I closed https://github.com/trinodb/trino/issues/7466 as a duplicate of this one.

[2022-09-07 14:54] findepi opened #14035 "Fault-tolerant tests have flaky init"
Fault-tolerant / faulttolerant. For example `TestHiveTaskFailureRecoveryTest.init` failed in https://github.com/trinodb/trino/runs/8228073689?check_suite_focus=true with

[code]

[2022-09-07 14:54] findepi commented on #14035
@linzebing @arhimondr @losipiuk is it a duplicate of any other existing issue?
I couldn't find any, but you may know better

[2022-09-07 15:18] findepi opened #14038 "translate doesn't work on CHAR values"
[code]

[2022-09-07 15:19] findepi commented on #14038
Would probably be solved by https://github.com/trinodb/trino/issues/9031

**Workaround**: add explicit cast to varchar on the translate argument

[code]

[2022-09-07 15:39] findepi commented on #14032
See ClickHouse connector for reference
https://github.com/trinodb/trino/blob/2623d1e9071d05bf3c0a0d1bee27215c30a99edd/plugin/trino-clickhouse/src/main/java/io/trino/plugin/clickhouse/ClickHouseTableProperties.java#L56-L61

[2022-09-07 19:48] phd3 commented on #13633
https://github.com/trinodb/trino/runs/8233212933?check_suite_focus=true

[2022-09-07 19:58] sopel39 opened #14042 "Allow for engine to scale writers per partition (bucket)"
Currently, when `ConnectorPartitioningHandle` is provided by connector for insert, then each partition must be written by a single writer. However, some connectors support multiple files per bucket. Hence, bucket writes could be more efficient due to writer scaling.

This could be achieved by enabling connector to communicate to engine that partition doesn't have to be written by a single writer,

[2022-09-07 20:43] tooptoop4 commented on #14002
no https://github.com/trinodb/trino/blob/394/pom.xml#L1801-L1805

[2022-09-07 21:09] findepi commented on #12385
https://github.com/trinodb/trino/runs/8228887039?check_suite_focus=true

[2022-09-07 21:25] ebyhr commented on #14035
https://github.com/trinodb/trino/runs/8229808681

[2022-09-07 21:32] ebyhr opened #14044 "Flaky `singlenode-kerberos-hdfs-impersonation` Exception occurred while closing environment"
[code]

[2022-09-07 21:33] ebyhr commented on #14044
It looks duplicate of #6799.

[2022-09-07 21:33] #14044 closed

[2022-09-07 21:48] ebyhr commented on #14042
I guess this #13960 reporter faced this issue.

[2022-09-07 22:53] ebyhr opened #14045 "Pinot connector throws `Segment query returned 'xxx' rows per split` for `ORDER BY ... LIMIT`"
[code]

[2022-09-07 22:57] ebyhr opened #14046 "Pinot connector throws `Segment query returned 'xxx' rows per split` for `JOIN`"
[code]

[2022-09-07 23:58] #13913 closed

[2022-09-08 01:47] martint opened #14047 "Release notes for 396"

[2022-09-08 02:07] renatocron commented on #6850
Any workaround available? All my data sources on the druid side are uppercase, I tried using the json, but the descrption is correct, the search is only insensitive at trino but not on the sent query to druid

https://github.com/trinodb/trino/pull/7197

[2022-09-08 03:51] Heltman opened #14049 "Add endpoint to get worker information"
Earlier, we added the UI endpoint to show all the address that available worker information([Add system.runtime.nodes information to web UI #11653](https://github.com/trinodb/trino/pull/11653)), but did not provide the endpoint to directly obtain the information.

The Worker address displayed on the UI before is the same data as the display as  `select * from system.runtime.nodes;`. It contains th

[2022-09-08 04:08] raunaqmorarka commented on #14047
[code]
#13714

[2022-09-08 05:34] ebyhr commented on #13199
`TestDeltaLakeDatabricksInsertCompatibility.testCompression` https://github.com/trinodb/trino/runs/8232914632

[2022-09-08 06:13] ebyhr opened #14051 "Document column mapping mode in Delta Lake connector"
There're 3 column mapping mode in Delta Lake. Though these table property isn't exposed to users at this time, it would be nice to document it.
* none: default
* id: Use Parquet field id (≠column position)
* name: Use Parquet field name

https://github.com/delta-io/delta/blob/master/PROTOCOL.md#column-mapping

[2022-09-08 06:17] ebyhr commented on #14045
cc:  @elonazoulay @xiangfu0

[2022-09-08 06:18] ebyhr commented on #14046
cc:  @elonazoulay @xiangfu0

[2022-09-08 06:27] hashhar commented on #13288
`NoSuchFileException` can also be thrown in case of open files limit being exceeded - at-least that's what I saw in the past.

[2022-09-08 07:51] ebyhr commented on #14035
https://github.com/trinodb/trino/runs/8243366011

[2022-09-08 08:18] Jay-ju opened #14052 "support parquet bloom filter in trino"
Since trino is upgraded to parquet 1.12+, we can  implement the bloom filter feature.

[2022-09-08 09:05] ebyhr commented on #13699
Iceberg issue https://github.com/apache/iceberg/issues/5591

[2022-09-08 10:21] findepi commented on #13960
Reassigning per https://github.com/trinodb/trino/pull/14003#discussion_r965583742

[2022-09-08 10:28] findepi commented on #14042
Almost all connectors support this.
I think Hive ACID is probably the only exception.

i believe this is almost always true today

However, the reason why we don't distribute writes when `ConnectorPartitioningHandle` is present is because we have no way to estimate number of partitions. With identity partitioning (like in Hive or some cases in Iceberg), you can calculate number of partitions based

[2022-09-08 10:29] losipiuk commented on #14023
Buffer in `OutputStreamSliceOutput` is tiny. And for S3 streaming we need much larger one. AWS requires at least 5MB in single request.

I think we need to account for memory used by `TrinoS3StreamingOutputStream`. It can be done directly in `OutputStreamOrcDataSink`, or `OutputStreamSliceOutput.getRetainedBytes` can account for size of `OutputStream` it wraps.
The issue with the latter approach i

[2022-09-08 10:48] findinpath opened #14054 "`MERGE` on Hive transactional table on hdp2.6 fails"
While trying to enable table redirection awareness for `MERGE` (see https://github.com/trinodb/trino/pull/14055) I tested on `io.trino.tests.product.iceberg.TestIcebergRedirectionToHive` the `MERGE` operation

[code]

[code]

Exception stacktrace

[code]

[2022-09-08 10:49] findinpath commented on #14054
Please analyze whether a fix or simply disallowing the operation for hive 2.x is appropriate in this case.

cc : @djsstarburst

[2022-09-08 10:50] hashhar commented on #14023
Is https://github.com/trinodb/trino/issues/9879 related (or duplicate) as well?

[2022-09-08 12:07] ebyhr opened #14058 "Fix `COMMENT` value when it contains special characters"
We should add some test cases that contain special characters . e.g.
[code]

Also, we should check logic of `CREATE TABLE (AS SELECT)` and `ADD COLUMN` especially in JDBC connectors.