[2020-04-14 20:25] bolkedebruin commented on #2987
I don't use an IDE to connect. Can you provide a stacktrace of that exception?

[2020-04-14 20:31] KentonParton commented on #2987
It just shows what I mentioned above "Query failed (#20200414_202708_00007_c5pcn): Internal error java.lang.NullPointerException" I would expect this to happen if you query it in any way, not just from an IDE.

[2020-04-14 23:08] ddrinka commented on #1122
I asked a question in the [Slack channel](https://prestosql.slack.com/archives/CFLB9AMBN/p1586813887062000) that I think could be solved with recursive queries:
If some condition exists, output a row. Based on whether a row was output, decide when to output the next row.  In my case I wanted to only output rows at most every 5 seconds based on a timestamp.  But I've now run into another scenario w

[2020-04-15 02:08] chenjian2664 commented on #3427
Thank you @findepi
I will comment result here.

[2020-04-15 07:11] bolkedebruin commented on #2987
Please have a look at the logs of Presto. For all its worth this could also be an error from your idea.

[2020-04-15 07:52] stagraqubole opened #3436 "Reading data after minor compaction fails in full ACID tables"
Such reads fails with: "io.prestosql.spi.PrestoException: Error opening Hive split hdfs://hadoop-master:9000/user/hive/warehouse/test2/delta_0000001_0000002/bucket_00000 (offset=0, length=16054): rowsInRowGroup must be greater than zero"

This happens because hive compaction is writing orc files without row group info while Presto has a check to ensure that row group info should be present. We can

[2020-04-15 13:20] #2934 closed

[2020-04-15 13:23] ebyhr commented on #3391
[code]
https://github.com/prestosql/presto/pull/2935

[2020-04-15 13:42] #3348 closed

[2020-04-15 13:46] ebyhr commented on #3391
[code]
https://github.com/prestosql/presto/pull/3355

[2020-04-15 15:46] chethanu commented on #608
No it won't.

[2020-04-15 21:30] tooptoop4 commented on #704
https://github.com/prestosql-rocks/presto-rest seems like a foundation!
ie https://github.com/tooptoop4/presto-rest/blob/master/presto-rest-slack/src/main/java/rocks/prestodb/rest/slack/SlackRest.java#L54
more comments on https://groups.google.com/forum/#!topic/presto-users/t31yux2fs7E

[2020-04-16 02:07] JamesRTaylor commented on #3052
We need this at Lyft as well. Sometimes one user will create a table and would like to allow other user(s) to drop it. Is there a workaround for this currently?

[2020-04-16 11:46] KevinKobi commented on #2491
I wonder why PostgreSQL choose ILIKE over a function in this case. They must had a reason

[2020-04-16 11:47] KentonParton commented on #3370
Managed to resolve this issue by changing my JAVA_HOME path to point to version 11.

[2020-04-16 11:47] #3370 closed

[2020-04-16 14:55] KevinKobi commented on #2260
@ankitdixit
is there any progress with this enhancement?

[2020-04-16 15:43] eskabetxe commented on #1997
I start working on this

[2020-04-17 04:16] byungnam opened #3456 "Substr to a CHAR(n) column returns padded string"
## Problem
When I do substr to a fixed length CHAR(n) column, it returns white-space-padded string. But I think it should return a truncated string without padding.

I've done the same thing in MySQL and it returned a truncated string which I expected for.

## How to reproduce
1. Make a CHAR type column (e.g. CHAR(8)) to a table
2. Insert a row with text (e.g. `abcd1234`)
3. Select it with substr

[2020-04-17 06:42] ebyhr commented on #3456
Simple reproducible query
[code]

[2020-04-17 07:17] martint commented on #3456
I need to take another look at the SQL specification, but this seems like the correct and expected behavior.

CHAR(n) is a fixed-length type (as opposed to VARCHAR(n). The result of applying substr to a CHAR(n) is, by necessity, of the same type — the type system is not powerful enough to derive a new type based on the actual arguments to the function and infer that because you asked for a substri

[2020-04-17 07:32] ebyhr opened #3457 "Substring function does not support CHAR type"
While `substr` function accepts char type, `substring` function doesn't.
[code]

[code]
https://prestosql.io/docs/current/functions/teradata.html

[2020-04-17 08:07] findepi commented on #3457
`substring` is part of teradata functions
(when we have function namespaces, this will be more clear to users as well).

@ebyhr did you check that `substring` in teradata works with `char` values  too?

[2020-04-17 08:14] findepi commented on #3456
I think `substr(char(n), ...)` should return `varchar(n)` (instead of `char(n)`). Let's check the spec though.

[2020-04-17 08:15] findepi commented on #3457
Requires #3456 being resolved first.

[2020-04-17 08:19] ebyhr commented on #3457
Yes, I checked it before filing the issue.

[2020-04-17 10:16] findepi opened #3460 "Mongo connector fails on INSERT when column contains a dot"
[code]

[2020-04-17 10:18] findepi opened #3461 "Hive connector does not preserve tailing space in column name"
[code]
-- column not found

[2020-04-17 10:21] academy-codex commented on #2481
@tooptoop4 You can see the PR I have made.

[2020-04-17 11:35] ebyhr commented on #3461
`trimResults` in HiveUtil is the cause as far as I tested.
https://github.com/prestosql/presto/blob/dc59397753dc569b49ee8940824929502b189821/presto-hive/src/main/java/io/prestosql/plugin/hive/util/HiveUtil.java#L193

[2020-04-17 11:48] ebyhr commented on #3460
As far as I know, it is MongoDB driver's limitation. The approach we can take might be limited.
https://jira.mongodb.org/browse/JAVA-3452
https://jira.mongodb.org/browse/DOCS-12043

[2020-04-17 13:23] findepi opened #3466 "Lack of column names quoting in Phoenix connector's underlying queries"
[code]

[2020-04-17 15:07] martint commented on #3456
`substr` doesn't actually exist in the spec. There's a `SUBSTRING` construct that behaves in this way:

[code]

[code]

To paraphrase, if the argument type is `CHAR(n)`, the result of `SUBSTRING(string  FROM start FOR length)` is supposed to be a variable-length string type such as `VARCHAR(n)`

On the other hand, `substr` in other systems behaves like this:
* Oracle: the return type matches the i

[2020-04-17 18:48] tooptoop4 opened #3468 "Waterfall graph to visualize where time is being spent in query"
idea: Waterfall graph from presto-cli

presto-cli client submits query at **time x**
DNS resolution, TLS negotiation, proxying to coordinator happens
Coordinator receives query at time **x+1**
LDAP authentication happens
Coordinator acknowledges successful authentication at time **x+2**
Ranger authorisation check happens
Coordinator confirms successful authorization at time **x+3**
Hive metastore

[2020-04-17 20:38] tooptoop4 commented on #1076
@rushidmarne did u solve?

[2020-04-18 09:55] tooptoop4 commented on #1620
https://github.com/troels/nz-presto/blob/master/presto-main/src/main/java/com/facebook/presto/execution/SqlQueryManager.java#L451-L576

[2020-04-18 11:23] tooptoop4 opened #3471 "Azure configuration is missing from Hive connector documentation"
https://prestosql.io/docs/current/connector/hive.html has no mention of Azure. But there is mention about 'Amazon' and 'Google Cloud'

a google search of 'azure site:prestosql.io'  does not show anything relevant either.

only the PR https://github.com/prestosql/presto/pull/2494/files shows some details like "hive.azure.abfs-access-key", "hive.azure.wasb-storage-account" etc

[2020-04-18 12:50] ankitdixit commented on #2260
@KevinKobi let me try and raise a PR.

[2020-04-18 13:48] tooptoop4 opened #3472 "More https://prestosql.io/resources.html"
https://prestosql.io/resources.html is very thin right now.
Proposing an 'unverified' section:

ODBC: Simba
GUI: Hue, Sqlpad..etc
Google Cloud: Dataproc

**Unmerged Connectors (data sources):**

Generic JDBC https://github.com/prestosql/presto/pull/3105
Flexible (csv/excel/txt/raw file from websites or local disk) https://github.com/ebyhr/presto-flex
HTTP Rest API sources https://github.com/presto

[2020-04-18 13:48] #3472 closed

[2020-04-18 14:45] findepi commented on #2260
@ankitdixit we should clear `syntax-needs-review` before commencing work on this.
@electrum ?

[2020-04-18 15:01] findepi commented on #3456
thanks @martint for detailed analysis!

Unless @martint @kokosing  @electrum you have any other objections, I am gonna remove the `syntax-needs-review`.

[2020-04-18 21:40] findepi opened #3474 "Sporadic startup failure due to JMX agent automatic port allocation"
* this happened in tests
* this can happen when starting Presto outside of tests too

[code]

[2020-04-18 21:40] findepi commented on #3474
eg https://github.com/prestosql/presto/runs/598237598

[2020-04-18 22:49] findepi opened #3477 "Implement generic column names test for Kudu connector"

[2020-04-19 14:03] ankitdixit commented on #2260
@findepi I had already started working.
For syntax review is there any specified format?

[2020-04-19 16:28] findepi commented on #2260
I will defer to David and Martin on this.

[2020-04-20 07:38] findepi commented on #2467
https://github.com/prestosql/presto/runs/600962867

[2020-04-20 08:42] findepi opened #3486 "Spurious "Invalid size estimation for T-Digest" failure"
https://github.com/prestosql/presto/runs/601012972

[code]

[code]

.... more such failures there

[2020-04-20 08:43] findepi commented on #2428
https://github.com/prestosql/presto/runs/601012994

[2020-04-20 08:51] findepi commented on #2467
https://github.com/prestosql/presto/runs/601164254

[2020-04-20 10:08] findepi commented on #2994
https://github.com/prestosql/presto/runs/601270627?check_suite_focus=true

[2020-04-20 10:27] findepi commented on #3474
Duplicates https://github.com/prestosql/presto/issues/2386

[2020-04-20 10:27] #3474 closed

[2020-04-20 10:28] findepi commented on #2386
https://github.com/prestosql/presto/runs/601171986

cc @martint

[2020-04-20 10:31] findepi commented on #2386
It looks a bit like Java 11 or JmxAgent9 are more prone. Or GitHub Action's environment. We use same JmxAgent-ish approach since _ever_, yet I don't think I already got very familiar with them, and they are happening not very rarely this year.

[2020-04-20 10:56] sajjoseph commented on #2216
I am ready to merge this change. Can you assign this to me?

[2020-04-20 12:22] tooptoop4 commented on #2216
@sajjoseph does ur pr include https://github.com/prestosql/presto/pull/3017 ?

[2020-04-20 12:59] sajjoseph commented on #2216
It doesn't.
But, I fixed the suggestions listed by @kokosing  and @Praveen2112 in your PR. Let me know if you want me to have a separate PR for 3017 fixes. I also added the changes for Presto CLI and I will open a separate request for that.
By the way, I don't see significant improvement in performance as the data transfer rate depends on the network connection/speed. We definitely need parallel d

[2020-04-20 14:42] martint commented on #3486
There’s a fix for this in the next version of airlift

[2020-04-20 14:54] tooptoop4 commented on #2216
@sajjoseph would be great if u can take over 3017 :-)

[2020-04-20 17:09] losipiuk opened #3488 "Initialisation of Rubix cache fails on coordinator if cache directory is not present"
Initialisation of Rubix cache fails on coordinator if cache directory is not present. This happens even if split scheduling is disabled for coordinator.

Snippet from logs:
[code]

[2020-04-20 17:20] losipiuk opened #3489 "Rubix initialization failure on coordinator renders Hive connector unusable"
Currently Presto process is not terminated if Rubix initialisation driven by `io.prestosql.plugin.hive.rubix.RubixInitializer` fails. The Presto continues to run even though Rubix services are not running.
At this point any query touching Hive data will hang (and hopefully eventually fail) as worker nodes cannot connect to cache bookkeeper running on coordinator.

Possible fixes:
* Fail whole Pres

[2020-04-20 21:32] losipiuk opened #3494 "Malformed table data read if Rubix Cache is in use"
While stress-testing rubix cache we noticed intermittent failures because data read from S3 stream backed by cache could not be deserialized as valid ORC content.
Query failed with following exception:
[code]

Test query in use:
[code]

Environment:
 * I was testing using k8s on EKS. I do not know if it is a factor here and running Presto directly on VM would improve situation
 * EKS cluster was h

[2020-04-20 21:46] losipiuk commented on #3494
More snippets from worker node logs (this is the only worker node in the cluster):

Before failure:
[code]

Exception which failed query:
This is repeated for multiple SplitRunners.

[code]

More snippets **AFTER** query failure:

[code]

then repeated multiple times for different files:
[code]

And also multiple times:

[code]

[2020-04-20 21:50] losipiuk commented on #3494
Some (not all) followup queries failed with:

[code]

[2020-04-20 22:04] losipiuk commented on #3494
**Question**: Could it be because coordinator and worker are sharing same cache directory? It seems like coordinator should not touch the content of the directory but maybe it does and it is a reason of read failures on worker?

[2020-04-21 00:12] tooptoop4 commented on #611
@Parth-Brahmbhatt still interested in this?

[2020-04-21 10:11] lxqfy opened #3498 "Create Table will generate empty folder in temporaryStagingDirectoryPath and never clean up"
Steps to reproduce

1. `CREATE TABLE hive.test.test_table (
    test_col bigint
 )
 WITH (
    format = 'PARQUET'
 )`
2. A empty folder will be created under temporaryStagingDirectoryPath e.g. `/tmp/presto-$USER/a68b29f5-6d01-4485-95de-65242f0fd48e`

[2020-04-21 10:57] findepi commented on #3489
Since caching is internal "service" of Presto, it should be treated as any other internal component. Initialization failure should fail fast.
This is a general rule. Are there any compelling reasons to make an exception in this case?

[2020-04-21 11:35] losipiuk commented on #3489
Product-wise, the only reason I can think of, why it got implemented this way, is that maybe we cannot distinguish a fatal error, which will not fix itself in the future (e.g. misconfiguration), from something transient.
But if that is the case, treating all errors as permanent is safer approach.

Not sure if that is easy to achieve above implemntation-wise (I did not investigate yet).

[2020-04-21 12:23] ebyhr commented on #3391
[code]
https://github.com/prestosql/presto/pull/3478

[2020-04-21 16:20] martint commented on #3391
[code]

#3408

[2020-04-21 16:21] martint commented on #3391
[code]

#3392

[2020-04-21 16:25] martint commented on #3391
[code]

#3392

[2020-04-21 16:31] martint commented on #3391
[code]

[2020-04-21 16:32] awishnick opened #3501 "Support altering Hive partition location (or altering table properties)"
I would find it useful to be able to atomically swap a partition with a new one. Currently I could use unregister_partition() and register_partition() but there would be a short window of time during which the partition wouldn't exist. This is possible to do through Hive with "ALTER TABLE ... PARTITION ... SET LOCATION..." -- could this be exposed as a procedure in Presto too?

[2020-04-21 16:35] martint commented on #3391
[code]

#3447

[2020-04-21 17:41] stagraqubole commented on #3494
I will try to repro this to debug. Can you help with the repro steps @losipiuk . Just running the above mentioned query leads to this? Or need to run concurrent instances of it? Or something else?

[2020-04-21 18:21] martint commented on #3391
[code]

#3432

[2020-04-21 19:33] kokosing commented on #3391
[code]
#3099

[2020-04-21 20:41] xerial opened #3503 "Performance regression around unnest"
We are not yet 100% sure about the cause of performance regression, but a query which could finish in 1.96m with Presto 0.205 can take more than 15 minutes with Presto 317.

Here are screenshots of Presto query stages:
Presto 0.205 (Finished in 1.96m)
![image](https://user-images.githubusercontent.com/57538/79910592-d732f300-83d3-11ea-9e86-cf99595c6b1f.png)

Presto 317: (Takes more than 16 minutes

[2020-04-21 20:46] martint commented on #3503
That PR only changed the implementation of the operator. It didn't touch planning or optimization. Since the unnest operation is taking place at a different part in the plan, this is likely a different problem.

[2020-04-21 21:10] phd3 commented on #3503
Agreed with Martin, the difference is likely coming from planner side. Also, looks like the linked PR from prestodb (for revert) was closed without merging.

[2020-04-21 21:36] xerial commented on #3503
ok. Do you have any idea which optimizer rule or planner pulls up `unnest` operator like this example?

[2020-04-21 22:37] martint commented on #3503
What makes you think the problem is in unnest? In the screenshot, the stage that contains that unnest operation you highlighted has seen 0 rows after 16 minutes. That would seem to indicate the problem is upstream of it.

BTW, can you describe how to interpret the structure laid out in the screenshots? What does `[1] REPARTITION` mean in the first one? Why does stage `[4]` appear to have three ups

[2020-04-21 22:43] martint commented on #3503
Can you provide more details about stage `[2]`, which has a `markDistinct` and an `aggregation`? Are both versions using the same fields for `markDistinct`? What functions are involved in the aggregation? What's in the `project` nodes in the first version?

[2020-04-21 22:52] xerial commented on #3503
ok. Showing `explain (type distributed)` will be a good idea as the other operators are also involved not only `unnest`

We will work on that (need some anonymization)

[2020-04-22 00:05] xerial commented on #3503
@martint @phd3 Uploaded a screenshot that shows the difference of EXPLAIN results.

A notable difference is where combine_hash is used around markDistinct operators. Unnest seems unrelated, so I'll change the ticket title.

[2020-04-22 06:06] chenjian2664 commented on #3427
I have tested for a while and found that the all results are good.
Thanks.

[2020-04-22 07:40] #2386 closed

[2020-04-22 08:06] findepi commented on #2428
https://github.com/prestosql/presto/runs/606374840
https://github.com/prestosql/presto/runs/607607715

[2020-04-22 08:25] findepi commented on #2428
The problem is reproducible locally.
I marked the test with `@Test(invocationCount = 1000)` and run `TestElasticsearch7IntegrationSmokeTest`. Failed 24%.

[2020-04-22 08:25] losipiuk commented on #3494
Thanks @stagraqubole. I edited the issue description adding *Environment* section which describes my test setup. To reproduce that I needed to run query couple of times, but not too many. Typically for 10 runs I had 3+ failed.

[2020-04-22 15:40] dain commented on #3461
Is this something that Hive supports?  If does it support leading spaces also?

Since Hive is using a comma separated list for column names, and I believe it has no support for escaping, my guess is they never intended to support leading/trailing spaces.

[2020-04-22 15:52] #2974 closed

[2020-04-22 16:14] martint commented on #3391
[code]

https://github.com/prestosql/presto/pull/3376

[2020-04-22 16:36] dain opened #3511 "Remove "Blocked Time" from the web ui"
Most users believe `Blocked Time` in the web ui is the amount of time the whole query was blocked.  Instead it is the sum of the time any individual, parallel, thread of the query is blocked. For example, the intermediate stages of a query spend most of their time blocked waiting for data from the table scan stages, and in that case the user would not expect blocked time to increase.   This value

[2020-04-22 21:43] JamesRTaylor commented on #651
@Praveen2112 - is this still on your radar? FWIW, we'd love to see it implemented.

[2020-04-22 23:05] kkond commented on #2481
any update on this issue?

[2020-04-22 23:11] kkond commented on #3431
Hello, I would like to work on this. Thanks!

[2020-04-23 01:55] ebyhr commented on #3461
Yes, I think so if "support" means "valid" regardless of their intent.

The following are column names @findepi added tests recently.

https://github.com/prestosql/presto/blob/7fa92370bed82e05914f746325be41cce5decfd0/presto-testing/src/main/java/io/prestosql/testing/AbstractTestDistributedQueries.java#L1294-L1317

[2020-04-23 03:04] chenjian2664 opened #3517 "Presto does not support Chinese"
Presto versions 330 to 332 do not support Chinese, but they are supported on version 310. Not sure which version is the earliest unsupported.

For example :
Select *  from table where col = '中文'.
It will return empty from 330 to 332, but on 310 return correct data.

For Now I must write sql like this if field contains Chinese.
Select * from table where to_utf8(col) = to_utf8('中文')

[2020-04-23 03:13] BodhiFlower opened #3518 "io.prestosql.server.InternalAuthenticationManager Internal authentication failed"
When I tried to set up the cluster, the coordinator ran normally and the following error occurred after the start of the workers configuration：
2020-04-23T10:40:47.176-0400	ERROR	http-worker-65	io.prestosql.server.InternalAuthenticationManager	Internal authentication failed
io.jsonwebtoken.ExpiredJwtException: JWT expired at 2020-04-22T22:45:45Z. Current time: 2020-04-23T10:40:47Z, a difference of

[2020-04-23 03:15] ebyhr commented on #3517
Could you share the original table definition and the database version? (Hive DDL if you are using Hive connector)

[2020-04-23 04:51] lxqfy commented on #3517
@ebyhr  DDL is as follows. Hive version 1.2.2.

  `cola` string)
ROW FORMAT SERDE
  'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
OUTPUTFORMAT
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
LOCATION
  'hdfs://tl0/dataflow/salesforce/seller_index_tab/grass_date=2020-04-22/gras

[2020-04-23 05:19] ebyhr commented on #3517
Can you attach the parquet file?

[2020-04-23 07:25] chenjian2664 commented on #3517
@lxqfy

[2020-04-23 08:45] lxqfy commented on #3517
@ebyhr  I can generate a parquet file to exclude the confidential info.  I happened to found that these 2 files with a 1-row difference(`S-life`), the one with fewer rows works.
[part-00000-e8ba5864-1f98-4a23-8976-1f519ebe6700-c000.snappy.parquet.zip](https://github.com/prestosql/presto/files/4521299/part-00000-e8ba5864-1f98-4a23-8976-1f519ebe6700-c000.snappy.parquet.zip)
[part-00000-e8ba5864-1f98

[2020-04-23 09:41] #3401 closed

[2020-04-23 10:23] ebyhr commented on #3517
Thanks for providing the file! I could reproduce it. Let me investigate the details.

[2020-04-23 10:33] losipiuk opened #3524 "S3 filesystem connection pool depleted when using Rubix Caching"
I exercised Rubix Caching in the same setup as in #3494

After ~20 queries run, the following ones started to failing with `io.prestosql.spi.PrestoException: Error reading from s3://<redacted>/tpch-sf1000-ORC/lineitem/20180106_235637_00251_ecxdi_19e8c24a-7fc9-4512-a296-555ab4efc0c2 at position 732097590`.

Exception stacktrace from worker log:
[code]

cc: @stagraqubole

[2020-04-23 11:06] stagraqubole opened #3525 "Improve rubix initialisation phase"
1. Inject HdfsConfigurationInitializer in RubixInitializer so that Configuration used by it can get configs from `hive.config.resources` files

2. Ensure RubixConfigurationInitializer is last entry in iteration of `configurationInitializers` in HdfsConfigurationInitializer as it needs to override `fs.impl` configs set by other configInitializers

3. If RubixInitializer takes time to set up, thread

[2020-04-23 11:08] stagraqubole commented on #3525
For (2): We are getting RubixConfigurationInitializer as last entry in iteration of `configurationInitializers` but there are not guarantees for this. [Multibinder doc](https://google.github.io/guice/api-docs/latest/javadoc/index.html?com/google/inject/multibindings/Multibinder.html) says: `The set's iteration order is consistent with the binding order. This is convenient when multiple elements ar

[2020-04-23 11:15] stagraqubole commented on #3525
For (3), options are:
i. Use `RubixConfigurationInitializer` as `DynamicConfigurationProvider`. `RubixConfigurationInitializer` holds back from applying any config changes until it is informed of rubix initialisation being completed. Using `DynamicConfigurationProvider` approach, it would start applying configs when it is ready to.

or

ii. Make rubix initialisation blocking. This will hold the se

[2020-04-23 11:40] stagraqubole commented on #3524
This has been fixed in latest version (0.3.8). We noticed that lot of connections are left with OS in TIME_WAIT state leading to depletion of sockets. It has been fixed by pooling connections in rubix and reusing them. c.c @harmandeeps

[2020-04-23 12:05] stagraqubole commented on #3524
This might not be it, the part that this solves would not apply to embedded mode used here. Will see if I can get this repro to while checking #3494

[2020-04-23 12:25] stagraqubole commented on #3524
@losipiuk is it possible to repeat your experiment with parallel warmup disabled?

[2020-04-23 12:31] stagraqubole commented on #3494
I am suspecting a integer overflow issue here. With the single file sized 33GB, we might be trying to store the position in int. Looking if I have files of larger sizes.

[2020-04-23 12:43] Praveen2112 commented on #651
@JamesRTaylor Yes !! I'm working on it !! Parser part is completed , need to change the analyzer and planner for it

[2020-04-23 18:00] electrum commented on #3326
Do you know what data source causes this?

[2020-04-23 18:24] electrum commented on #3326
Do you know what data source causes this? The "Caused by" for the `IllegalArgumentException` is missing from the original bug report.

[2020-04-23 18:32] electrum commented on #3391
[code]
#3390

[2020-04-23 18:39] electrum commented on #3391
[code]
#3429

[2020-04-23 18:41] electrum commented on #3391
[code]
#3444

[2020-04-23 19:27] findepi commented on #3326
Yeah, i should have retained full stack. There is  `SequenceFileRecordWriter`  in the stacktrace retained.

[2020-04-23 22:13] findepi commented on #3494
@stagraqubole if this is file offset overflowing, you need files only over 2GB

[2020-04-24 00:28] lxqfy commented on #3517
@findepi The parquet file is created with Spark.

[2020-04-24 00:52] chongfeng-hu opened #3534 "Presto's web UI has security vulnerabilities"
The following are some of the known security vulnerabilities in the Presto web UI:

- https://github.com/jquery/jquery/pull/1505
XSS vulnerability caused by parseHTML()

- https://github.com/jquery/jquery/issues/2432
3rd party text/javascript responses can be executed by calling $.get()

- https://blog.jquery.com/2019/04/10/jquery-3-4-0-released/
Object.prototype pollution

All above issues have b

[2020-04-24 01:23] ebyhr commented on #3517
@lxqfy Could you share more details with the script level (e.g. sql, pyspark)? Both parquet files are almost the same except for 1 row, so I would like to know how the difference was generated.

[2020-04-24 02:15] lxqfy commented on #3517
@ebyhr It is generated with pyspark.  The original file has many columns and around 120k rows.  I tried to exclude that confidential info. So I only selected 1 column to generate the new parquet file. Then I found that if I limit the number of rows selected, it works sometimes. After trial and error, I located the problematic row (88th row), which `S-life`.  As attached, 1 file has 87th and 88th s

[2020-04-24 02:49] ebyhr commented on #3517
@lxqfy I see, thanks for your explanation. I'm not sure, but the root cause might be the same as https://github.com/prestosql/presto/issues/1462

[2020-04-24 04:08] lxqfy commented on #3517
@ebyhr According parquet meta.
[code]
The parquet has no stats for this column. It should scan the details right?

[2020-04-24 06:26] losipiuk commented on #3524
FYI: With `hive.cache.parallel-warmup-enabled=false` I did not reproduce this one.

[2020-04-24 06:30] losipiuk commented on #3494
@stagraqubole FYI that with `hive.cache.parallel-warmup-enabled=false` I was not able to reproduce this. I run 20+ queries in the loop and all completed successfully and no errors were logged. The execution speed variance was huge though (1.5-3 minutes in wall time and 50-70 minutes CPU time)

[2020-04-24 07:04] #2467 closed

[2020-04-24 08:01] stagraqubole commented on #3494
This is an issue in the parallel warmup code, related to integer overflow. It can happen with big files (>2GB) but not necessarily always. It happens when we accumulate requests of more than 2GB of contiguous data to be downloaded in a period of 10secs.

[2020-04-24 08:53] findepi commented on #3517
It will return empty from 330 to 332, but on 310 return correct data.

@lxqfy what happens if you add `OR rand() = 42` to your query? (this is a hack to disable any form of predicate pushdown)

[2020-04-24 09:20] findepi commented on #3399
We need to fix this to be able to add a plugin (eg https://github.com/prestosql/presto/pull/3522) cc @samarthjain
@jvanzyl how hard would it be to do the symlinks trick?

[2020-04-24 09:24] chenjian2664 commented on #3517
@findepi
It works.

[2020-04-24 09:28] alrolorojas opened #3536 "Cast ROW to JSON including column names"
We would like to have a way to cast ROW data type to JSON while keeping the column names using Presto SQL. The current Presto behavior differs from Hive and it is preventing migrating some jobs over to Presto.

Current behavior, original ROW `ROW(123, 'abc', true) AS ROW(v1 BIGINT, v2 VARCHAR, v3 BOOLEAN)`:

`'[123,"abc",true]'`

Desired behavior:

`{"v1":123,"v2":"abc","v3":true}`

Following our

[2020-04-24 09:36] tooptoop4 commented on #3517
"select * from external_table where from_utf8(to_utf8(cola))='科技有限公司';  this will work if converting to binary and converting back. "

[2020-04-24 10:19] findepi opened #3537 "Hive connector does not preserve comma in column name"
[code]
-- column not found

See discussion in https://github.com/prestosql/presto/issues/3461

[2020-04-24 10:20] findepi commented on #3461
As noted in https://github.com/prestosql/presto/pull/3510#issuecomment-618926807
Hive seems not to support this fully.
We should reject leading/trailing space and commas (https://github.com/prestosql/presto/issues/3537) as impossible names.

[2020-04-24 10:29] findepi commented on #3517
@chenjian2664 thanks for checking. I understand that you mean that with `OR rand() = 42` you get correct results (and you don't get them without this `OR`).

@lxqfy you provided parquet metadata for `gp_account_name`.
Is this the column you're querying? (Double checking as in other places you call it `col`, for obvious reasons).

If this is the column, then this is not related to https://github.co

[2020-04-24 10:40] tnatssb commented on #3488
An easy solution to this is to create the /data directory on the coordinator in our AMI even though it won't be used. Of of course modify the Rubix code so it doesn't depend upon it.

[2020-04-24 11:25] ebyhr commented on #3517
I'm also narrowing down the version.

Though parquet-tools exactly reports no-stats, I got the following error on 310. I could access it after changing fail-on-corrupted-statistics.

[code]

[2020-04-24 11:42] jvanzyl commented on #3399
We would need to incorporate the hard-linked tar.gz into the RPM. I believe it would be possible to package up the tar.gz in the RPM and create an enumeration of the files as not to affect normal installation and updating mechanisms that rely on the explicit listing of files.

So this is blocking the next release?

[2020-04-24 12:45] losipiuk commented on #3494
Thanks @stagraqubole for looking into that. Can you post a tracking issue here so we have a visibility?

Also what changes in Rubix operation with and without parallel warmup? Can you maybe write a short summary. Or maybe there is an article to read which explains that?

[2020-04-24 12:47] losipiuk commented on #3488
@stagraqubole is Rubix expected to ever write something to caching directory on coordinator if splits scheduling for coordinator is disabled? Some metadata maybe? Or is it safe to not have cache directory at all?

[2020-04-24 20:12] findepi commented on #3399
No, this is blocking a PR: https://github.com/prestosql/presto/pull/3522
(Thanks to https://github.com/prestosql/presto/pull/3404 we didn't get into unreleasable state)

What about symlinks?
That sounds simpler and doesn't seem like RPM tools could complain?
(We could do symlinks for .targz for consistency too, if desired)

[2020-04-24 20:52] findepi commented on #3517
That's my fault.

[2020-04-24 21:46] grantatspothero commented on #1261
Any update on skew join support to the CBO + the hive connector? Would be really helpful for scenarios where you are joining on a column with lots of nulls.

[2020-04-24 22:10] JamesRTaylor opened #3542 "Non deterministic query results with OFFSET"
When expression is used directly in ORDER BY clause with LIMIT (versus projected and referenced), the plan ends up inserting a round-robin local exchange after the TopN and scrambling the row order (see Slack conversation [here](https://prestosql.slack.com/archives/CFLB9AMBN/p1587682027297800)). For example, when a query is written like this:

    SELECT id,
    region
    FROM hive.my_schema.my_t

[2020-04-24 22:15] rupamk commented on #1261
@stagraqubole @vijaymann

[2020-04-24 22:31] lhofhansl commented on #3534
@chongfeng-hu you tried upgrading to jQuery 3.5.0, right? Can you briefly list your observations here?

[2020-04-25 00:51] chongfeng-hu commented on #3534
I've attempted to upgrade the jQuery version to 3.5.0, and have had limited success:

- First iteration, upgrade jQuery to 3.5.0, during E2E test found that another library, bootstrap.js, depends on jQuery < 3.0;

- Second iteration, upgrade bootstrap.js to 4.4.1, which is compatible with jQuery 3.5.0. During E2E test, found that the rest of javascript code is calling deprecated jQuery functions t

[2020-04-25 03:51] electrum commented on #3534
Thanks for investigating this. We don’t have anyone working on the UI and updating it to newer library versions will require some work, as you found. There also aren’t any tests, as you found, so it will require manual verification.

If you’re interested on working on this, we’d really appreciate the help.

@raghavsethi, do you have any thoughts or suggestions here?

[2020-04-25 05:56] electrum commented on #3391
[code]
#3455

[2020-04-25 08:01] bolkedebruin commented on #2987
Update has been merged into Ranger and should be part of its 2.1 release.

[2020-04-25 08:04] bolkedebruin commented on #2987
@dain how do you view integrating the Plugin with Presto itself? The release cycle of Ranger is quite slow and changes to the security system in Presto happen quite frequently at the moment.

I can do the work for it.

[2020-04-25 08:12] bolkedebruin commented on #3399
Just a suggestion: why not package the plugins in separate rpms? Cause this issue is bound to pop up rather sooner than later this way? It seems also the accepted pattern in rpm land.

https://docs.fedoraproject.org/en-US/Fedora_Draft_Documentation/0.1/html/RPM_Guide/ch10s04.html

[2020-04-25 10:46] tooptoop4 opened #3544 "LastAccessTime in Hive metastore not updated when executing query"
I have a query regarding hive metastore. I wanted to access the LAST_ACCESS_TIME from table TBLS , so I configured setting according this link.
http://www.hadoopadmin.co.in/hive/last-access-time-of-a-table-is-showing-zero/ (note: So this is configuration for HS2 (hive runtime). This is why it doesn’t work with Presto (or any other execution engine that connects to metastore) we would need to add s

[2020-04-25 10:53] tooptoop4 opened #3545 "Mysql connector does not allow single database jdbc connection"
"Database (catalog) must not be specified in JDBC URL for MySQL connector" why this restriction?

_The JDBC connectors map all “databases” to schemas, so setting the “database” doesn’t make sense.
Is there a problem with removing that?_

1. restricting some sensitive databases from presto
2. some mysql user can't access all databases. I was thinking presto could could just map single database to s

[2020-04-25 10:59] tooptoop4 commented on #3219
https://eng.lyft.com/presto-infrastructure-at-lyft-b10adb9db01 mentions "We use EventListener to intercept when new query lands and we block a few types of queries that we deem harmful for system (eg. some tools actively cache column names and query system.jdbc.columns or catalog.information_schema.columns and cause additional overload on the system)."

in prestosql <= 331 you can put logic in an

[2020-04-25 15:29] #3517 closed

[2020-04-25 15:34] findepi commented on #3391
[code]
https://github.com/prestosql/presto/issues/3517 https://github.com/prestosql/presto/pull/3541

[2020-04-25 16:06] findepi commented on #3544
related conversation on Slack https://prestosql.slack.com/archives/CGB0QHWSW/p1583145728189700

[2020-04-26 00:00] dhruvp-8 commented on #3511
@dain Can I take up this issue?

[2020-04-26 01:03] raghavsethi commented on #3534
Upgrading to Bootstrap 4 will likely break other parts of the UI - it's a breaking upgrade. We should also be trying to remove jQuery from Presto and relying on more modern libraries and frameworks that play better with React. I read through the vulnerabilities you listed, but I don't fully understand the threat model. Could you give an example of how an attacker might exploit these?

[2020-04-26 02:27] chongfeng-hu commented on #3534
There is more detailed explanation of the first vulnerability in the jQuery 3.5 [announcement](https://www.infoq.com/news/2020/04/jquery-35-xss-vulnerability-fix/).

[2020-04-26 03:46] yuokada commented on #3374
Should we add a check in FunctionRegistry.class to improve the error message like this?

[code]

[2020-04-26 04:03] KentonParton commented on #2987
@bolkedebruin  were you able to run Presto and Ranger using Java 11? I was able to successfully run them together using Java 8 but ran into the following errors when using Java 11:

`java.lang.NoClassDefFoundError: javax/annotation/PostConstruct`

resolved this by adding javax.annotation-api and then ran into the following:

`java.lang.NoClassDefFoundError: org/apache/ranger/plugin/classloader/Ran

[2020-04-26 05:08] bolkedebruin commented on #2987
No not yet. Ranger officially has support for Java 8 not for 11 yet

[2020-04-26 14:39] findepi opened #3550 "Avoid local exchanges around trivial projection"
When a projection is below "scrambling" and sorting operations, it's currently surrounded with local exchanges.
For a trivial projection (e.g. pruning), those exchanges are redundant.

[code]

[2020-04-26 14:41] findepi commented on #3550
In this particular case this is caused by the fact TopN unconditionally outputs sort symbols (cannot prune).
This causes hiccups in some other places too. I propose that we have a rule that every Node can be pruning.

[2020-04-26 16:01] martint commented on #3550
This seems like a limitation in AddLocalExchanges. For trivial projections (not just those that prune, but even those containing simple expressions), we shouldn't be adding the exchanges at all.

[2020-04-26 21:23] findepi opened #3551 "Improve parallelism for expensive projection over TopN subquery"
When an expensive projection is performed on an output from subquery that has ORDER BY + LIMIT/OFFSET,
the projection is performed in a single thread:

[code]

Relates to https://github.com/prestosql/presto/issues/3550

[2020-04-26 21:27] findepi commented on #3551
When a subquery contains a redundant ORDER BY, we can remove it.
In this case, the order by is not redundant (top N), but the ordering introduced by it is.
However, in AddLocalExchanges we cannot differentiate this situation from e.g.
a narrowing projection in case of `SELECT x FROM .. ORDER BY y LIMIT n` query.
In case of this query, ordering needs to be preserved, so we cannot introduce parallel

[2020-04-26 21:34] findepi commented on #3511
@dhruvp-8 sure, go for it!

[2020-04-26 21:37] findepi commented on #3374
@yuokada ideally we would try to determine something is an alias in a generic manner (types can be provided by plugins too).

[2020-04-27 01:26] KentonParton commented on #2987
@bolkedebruin looks like Ranger 2.0 and master support version 11. [Here's](https://github.com/apache/ranger/commit/08f32cd35824399eaac573f47338fbe8433ed97e) the commit and [here's](https://issues.apache.org/jira/browse/RANGER-2317) the Jira issue.

javax.annotation-api needs to be included. Haven't resolved the classloader issue yet.

[2020-04-27 03:18] liyubin117 commented on #1237
I have resolved the problem, please see at https://github.com/prestosql/presto/pull/3549

[2020-04-27 04:00] #3511 closed

[2020-04-27 04:21] stagraqubole commented on #3524
I have trying to repro this but with no luck yet. @losipiuk can you help with few details:
1. The 20 queries are run in parallel or sequential?
2. Once the error starts to occur, it stays there for ever or does it resolve itself?
3. You mentioned 60 cpu limit on worker container, do you know if this directly converts into 59 value for `Runtime.getRuntime().availableProcessors()`? Trying to check h

[2020-04-27 04:34] stagraqubole commented on #3494
Created https://github.com/qubole/rubix/issues/361 and mentioned a short summary of issue there.

The main difference in case of parallel warmup is that the read issued by client in this case is fulfilled directly from cloud store while requests to download the data are registered with the server. The server keeps checking these requests every second and handles all the requests that are more than

[2020-04-27 05:33] kokosing commented on #3391
[code]
 #3500

[2020-04-27 06:57] findepi commented on #3494
So "parallel warmup is disabled" => cache is read-through.
and with parallel warmup the cache is populated asynchronously.
Is my understanding correct?

[2020-04-27 09:23] sopel39 commented on #3391
[code]
https://github.com/prestosql/presto/pull/3490

[2020-04-27 09:25] sopel39 commented on #3550
Would that be mixing responsibilities in operators even more than we have now?

[2020-04-27 11:06] losipiuk commented on #3524
I was running those sequentially.

I do not have the cluster anymore. What I observed is that starting at one of the queries the issues started to occur. And it persisted through rest of the queries which were run (each taking lots of time due to timeouts). I did not observe healthy cluster after issues started to occur.

I looked at logged configuration at presto startup for `task.max-worker-thre

[2020-04-27 11:44] stagraqubole commented on #3494
That is correct @findepi

[2020-04-27 11:56] stagraqubole commented on #3524
Ok thanks @losipiuk , I will continue the repro efforts.

[2020-04-27 12:04] losipiuk opened #3555 "It is not possible to override detailed Rubix cache config via hive.config.resources"
`RubixInitialiezer` (https://github.com/prestosql/presto/blob/7300158a4865ee9eb16cccd5381c690834b80226/presto-hive/src/main/java/io/prestosql/plugin/hive/rubix/RubixInitializer.java) does not read extra hdfs configuration files as specified via `hive.config.resources` property. As a result any Rubix parameters (https://rubix.readthedocs.io/en/latest/configuration.html) which are not exposed as fir

[2020-04-27 12:22] findepi commented on #3550
@sopel39 yes. That's a reflection on aggregated vague consequences of not doing so.

[2020-04-27 12:27] findepi opened #3556 "Rename hive.cache.parallel-warmup-enabled"
the name `hive.cache.parallel-warmup-enabled` is not self-descriptive

property "description": https://github.com/prestosql/presto/issues/3494#issuecomment-619771104

cc @stagraqubole @losipiuk

[2020-04-27 18:13] electrum commented on #3391
[code]
#3523

[2020-04-27 19:06] RonC-LL opened #3558 "Add support for 'timestamp with time zone' in Accumulo"
Trying to do a `CTAS` from a Postgres table that has a field of type `timestamp with time zone` to an Accumulo table threw the following.  The connector author @adamjshook confirms `timestamp with time zone` currently is not supported.

[code]

[2020-04-27 20:15] electrum opened #3561 "Aggregation function with lambda cannot be used as window function"
[code]
[code]

[2020-04-27 20:19] electrum commented on #2564
Apologies, I forgot to close this issue, as this use case is supported now: https://prestosql.io/docs/current/connector/hive.html#s3-security-mapping

[2020-04-27 20:19] #2564 closed

[2020-04-27 23:06] losipiuk opened #3563 "Rubix will not store cache files on coordinator, even it serves as worker"
Even if we enable scheduling splits on coordinator via `node-scheduler.include-coordinator` Rubix will not store  any cache files on it (unless it is only node in the cluster).
The reason for that is Rubix uses `v1/nodes` endpoint to enumerate nodes in the cluster and list returned there never contains coordinator (btw, @electrum, is that intended?).

cc: @stagraqubole

[2020-04-27 23:07] losipiuk commented on #3563
I tagged it as bug. Please correct me if that is actually intended behavior :).

[2020-04-28 00:25] dhruvp-8 commented on #2359
@findepi @tooptoop4 Would like to work on this issue

[2020-04-28 03:43] stagraqubole commented on #3563
This is a bug we never fixed given this was not a production scenario. For dev testing, rubix does support master-only mode.

[2020-04-28 05:56] electrum commented on #3391
[code]
#2799

[2020-04-28 07:05] findepi opened #3569 "SpatialJoin ignored in RemoveUnsupportedDynamicFilters"
`RemoveUnsupportedDynamicFilters`, `DynamicFiltersChecker` need to handle `SpatialJoin` explicitly.

[2020-04-28 07:08] findepi commented on #3569
cc @JamesRTaylor @raunaqmorarka @sopel39

[2020-04-28 09:06] losipiuk commented on #3556
maybe something like `hive.cache.warmup-mode` with possible values `read-through`, `async` would be better?
WDYT?

[2020-04-28 09:55] #3555 closed

[2020-04-28 09:59] sopel39 commented on #3391
[code]
https://github.com/prestosql/presto/pull/3557

[2020-04-28 10:11] losipiuk commented on #3488
It looks like currently Rubix itself will always require cache directory, no matter if it is on master or not. For now I propose a Presto only workaround. During Rubix initialization on coordinator, if `node-scheduler.include-coordinator=false` we check if directory configured as cache is present and accessible. If so we continue. If it does not exist we fallback to temporary directory. WDYT?

[2020-04-28 13:13] boazberman commented on #403
Any progress about this?

[2020-04-28 15:26] findepi commented on #2359
@dhruvp-8 go for it!
the test environments we use for testing are defined here https://github.com/prestosql/docker-images/
please ask on `#dev` channel of our [slack](https://prestosql.io/slack.html) for any "how do i ..." development questions.

[2020-04-28 15:30] losipiuk commented on #3556
LGMT

[2020-04-28 16:04] knwg145 opened #3572 "Add support for Authenticator plugins"
We have an internal authenticator implementing the Authenticator interface. That authenticator will integrate with various internal libraries and currently uses various information from the HttpServletRequest. There is a PasswordAuthenticator but the interface only passes in a user and password, whereas we need other information from the HttpServletRequest. Specifically we are using:

-headers (AU

[2020-04-28 16:19] electrum commented on #3572
Do you need the ability to send back a `WWW-Authenticate` header on failure?

[2020-04-28 16:52] knwg145 commented on #3572
yes

[2020-04-28 17:14] kristina-head commented on #3134
Please may I work on this?

[2020-04-28 17:39] stagraqubole commented on #3488
Right, rubix expects cache location to be mounted on all nodes. The workaround lgtm.

Separately we can add this kind of mode natively in rubix where we add assertions if we ever break the assumption of cache usage in coordinator at runtime. We will need a rubix version upgrade once #3494 is fixed, i will try to make this change part of that release.

[2020-04-28 17:39] findepi commented on #3134
@kristina-head sure, go for it!

[2020-04-28 17:41] findepi commented on #3556
@losipiuk can you please open a PR?

[2020-04-28 20:02] findepi opened #3574 "Parquet predicate pushdown maps columns incorrectly"
https://github.com/prestosql/presto/blob/922f1712462421fb13ef59de894999cdf44c6afd/presto-hive/src/main/java/io/prestosql/plugin/hive/parquet/ParquetPageSourceFactory.java#L326

- ~should match case-insensitively like in https://github.com/prestosql/presto/blob/237313b11f6e27356b48c014bb9ee53cb1e7af6c/presto-parquet/src/main/java/io/prestosql/parquet/ParquetTypeUtils.java#L171-L180~ (https://github

[2020-04-29 05:50] mirajgodha commented on #1956
Hi Team, is there any probability of picking up this task in the near future?

[2020-04-29 06:38] findepi commented on #1956
@mirajgodha thanks for asking! this is on our tentative roadmap, but i cannot promise any timeline yet

[2020-04-29 11:05] losipiuk opened #3580 "Rubix caching: frequent cache evictions result in failed queries"
Test setup like in https://github.com/prestosql/presto/issues/3494 but `rubix.cache.usage.percentage` was setup to `2`. This translates to cache size of ~10GB.
Cluster was exercised with the same query as in `https://github.com/prestosql/presto/issues/3494` which reads whole `lineitem` (171GB).

With such configuration many cache evictions are happening throughout the query execution. This itself

[2020-04-29 11:47] losipiuk commented on #3556
I will

[2020-04-29 11:53] losipiuk commented on #3556
@findepi: Can we drop support for `hive.cache.parallel-warmup-enabled`. Or do I need to implement logic which allows using both old and new property and only fail if both are explicitly set in uncompatible way?

[2020-04-29 12:03] arghya18 commented on #3338
Any update or pointer to debug this please?

[2020-04-29 12:13] losipiuk commented on #3488
Makes sense I will create an issue for that and send PR

[2020-04-29 12:29] #2997 closed

[2020-04-29 13:55] Praveen2112 commented on #3391
[code]
#3020

[2020-04-29 14:41] larandvit opened #3583 "Hive Connector. Translate Empty Value in NULL in Text Files"
Hello,

I can't find a setting to instruct PrestoSQL in CREATE TABLE statement  that I want empty values in text files to be interpreted as NULLS.

It's used Hive connector with access to Minio S3 storage.

Create table statement
[code]
In Hive table, it can accomplished by `'serialization.null.format'=''` property in `TBLPROPERTIES` section.

Thanks.
Vitaly.

[2020-04-29 15:03] findepi opened #3584 "Unusable SHOW CREATE TABLE output when Hive table column or field uses SQL keyword, or whitespace"
[code]

[code]

-- the produced result cannot be pasted back and used to recreate `t`.

[2020-04-29 15:37] findepi commented on #3583
If you set `serialization.null.format` table property via Hive, are you getting the results you expect from Presto?

[2020-04-29 16:02] findepi commented on #3338
@arghya18 that's not really Presto issue, so let me close this

you probably need some trial and error.
i would start with pruning your jvm.config from things you don't need.
Especially i would start with removing `-XX:+UseShenandoahGC`.
Please start with https://prestosql.io/docs/current/installation/deployment.html#jvm-config and see whether the issue occurs.

we can continue discussion here, bu

[2020-04-29 16:02] #3338 closed

[2020-04-29 16:12] findepi commented on #3556
i think we're early in the game, so we can drop

[2020-04-29 16:26] sopel39 commented on #3391
[code]
https://github.com/prestosql/presto/pull/3571

[2020-04-29 17:23] larandvit commented on #3583
Thank you for a quick response.

Data located in Minio storage. It's compatible to S3. PrestoDB connected to Minio with Hive connector. I provided `serialization.null.format` setting as a sample what we need to get because it's used Hive connector and it should behave similar to Hive.

What a setting do we need to apply to interpret empty values in a text file as NULL values in PrestoDB?

Sample o

[2020-04-29 17:55] rushidmarne commented on #1076
@tooptoop4 : No, It didn't work for me. I tried to create ranger service but unable to do that and found that it was not talking effect in authenticating and authorizing schemas/tables.

[2020-04-29 19:33] #3542 closed

[2020-04-29 20:05] #3436 closed

[2020-04-30 05:41] arghya18 commented on #3373
Any further update on this please ?

[2020-04-30 08:59] losipiuk commented on #3488
@stagraqubole, https://github.com/qubole/rubix/pull/365 is an attempt to address that, though I am not sure if that is how it should look like. In that PR I initialize `Bookkeeper` with stubbed internal cache implementations, which would throw if someone tries to add anything to them.
But why do we need `Bookkeeper` at all on master node in such case. Is it needed for anything more than heartbits?

[2020-04-30 09:55] stagraqubole commented on #3488
Yes, apart from heartbeat there is not other use of bookkeeper on master. Client/Presto will never talk to bookkeeper on master.

[2020-04-30 11:00] tnatssb commented on #3488
Would there ever be a scenario where data is written to the coordinator cache dir? I can't seem to reproduce it but I had an instance last week where that happened. If it's not possible, maybe I was imaging things...

[2020-04-30 11:35] stagraqubole commented on #3488
@tnatssb any chance `node-scheduler.include-coordinator=true` was set?

[2020-04-30 11:42] tnatssb commented on #3488
It was not. It was a standard CFT deployment. I’ll try to get time to test
again this week. It was strange for sure.

On Thu, Apr 30, 2020 at 7:35 AM Shubham Tagra <notifications@github.com>
wrote:

[2020-04-30 12:44] sopel39 commented on #3391
[code]
https://github.com/prestosql/presto/pull/3591

[2020-04-30 22:03] d4rth-v4d3r opened #3593 "MongoDB case sensitive support"
I have a MongoDb database with collections that have camelCase naming convention, but I'm unable to query tables like: "userTags" or "customerTypes". Is there any way to make PrestoDb Mongo connector to work with this use case?

[2020-04-30 22:32] ebyhr commented on #3593
Going to close because this is a duplicate of https://github.com/prestosql/presto/issues/1102.
It's not yet supported.

[2020-04-30 22:32] #3593 closed

[2020-04-30 22:58] d4rth-v4d3r commented on #3593
Is there any plans to support it? @ebyhr

[2020-04-30 23:10] #3556 closed

[2020-04-30 23:16] findepi commented on #3373
The fix would be to add support for `decimal` in `LongColumnReader` class + proper tests.

[2020-04-30 23:23] imjalpreet opened #3594 "Internal Communication getting checked for authentication even when HTTPS is not enabled"
### Observation
Presto Release: **332**
I have not enabled Secure Internal Communication, i.e. **internal-communication.https.required** has it's default value **false**.  I have observed that all the internal communication requests are still trying to get authenticated and sometimes even log:

[code]
Once this is logged in the coordinator's server logs, the respective worker cannot communicate wi

[2020-04-30 23:32] findepi commented on #3583
While we want to make it very easy to use the most commonly used features, i have to say that `serialization.null.format` is currently not one of the common.
I think this should be addressed with https://github.com/prestosql/presto/issues/954.

[2020-04-30 23:36] findepi commented on #3391
[code]

https://github.com/prestosql/presto/pull/3438

[2020-04-30 23:38] electrum commented on #3594
Internal requests are always authenticated, by design, even over HTTP. This is less effective if an attacker can sniff network traffic, but is better than nothing and is effective in other scenarios.

The generated JWT are valid for five minutes, so I am guessing that that the machines in your cluster have significant clock skew. Please verify that the clocks are reasonably synchronized.

[2020-04-30 23:41] ebyhr commented on #3593
@d4rth-v4d3r Please take a look at the above issue. It has linked PR.

[2020-05-01 00:22] larandvit commented on #3583
Thank you, @findepi , for updates.

[2020-05-01 03:19] lhofhansl commented on #1122
I might (depending on what happens to #3535) have a related use cases:

I'm adding standard SQL `definition_schema` base tables to in the PR.
With recursive queries `information_schema` such as `applicable_roles` could be expressed as actual views. These need to be recursive because applicable roles are transitive (a user might have been granted a role X by being granted role Y which itself was gr

[2020-05-01 03:43] d4rth-v4d3r commented on #3593
Thanks @ebyhr I will check

[2020-05-01 05:49] electrum commented on #3399
@bolkedebruin This seems reasonable, but is a departure from the way it works today, and might be more difficult for some users, as they would need to download and manage multiple RPMs. I could see providing this in addition to an all-in-one RPM. @jvanzyl suggested we could provide a tool to convert the tarball into an RPM containing the user's choice of plugins.

The tarball is around 400MB after

[2020-05-01 06:05] bolkedebruin commented on #3399
@electrum there are also things like "Uber" rpms that basically pull in a bunch of other as their dependencies. Or group rpms. You could leave those named the same and it would pull in everything.

[2020-05-01 06:59] electrum commented on #3399
That’s a good idea, though we’d need a way to add a repository so that users don’t have download it manually. I’m not sure what is involved or if that is compatible with Maven Central.

[2020-05-01 08:21] ebyhr opened #3596 "Fix TestKuduDistributedQueries.testDataMappingSmokeTest failure"
All tests after https://github.com/prestosql/presto/commit/a380c5d1bdc40056860f4b06f4dacd2dd8bbdff8 are failing.
[code]

[2020-05-01 09:29] findepi commented on #3596
@ebyhr my fault. I merged @alexjo2144's https://github.com/prestosql/presto/pull/3588 when it was green, but I didn't notice CI job was not created at all for this PR.

We could revert, but I think we can as well fix/suppress kudu test.

[2020-05-01 13:03] findepi commented on #3596
BTW that's actually looks like a bug in Kudu connector

CHAR is mapped to Kudu string
https://github.com/prestosql/presto/blob/ec549ac8a1192b18c3667203974f453d5fe5a9fa/presto-kudu/src/main/java/io/prestosql/plugin/kudu/TypeHelper.java#L88-L89

but `char(3)` value `ab⎵` is not persisted as such, it's stored as `ab` instead.

[2020-05-01 13:04] findepi opened #3597 "Kudu CTAS with char(n) type does not preserve trailing spaces"
CHAR is mapped to Kudu string
https://github.com/prestosql/presto/blob/ec549ac8a1192b18c3667203974f453d5fe5a9fa/presto-kudu/src/main/java/io/prestosql/plugin/kudu/TypeHelper.java#L88-L89

but `char(3)` value `ab⎵` is not persisted as such, it's stored as `ab` instead.

[2020-05-01 13:04] findepi commented on #3596
i created https://github.com/prestosql/presto/issues/3597 for this

[2020-05-01 13:04] vishalya commented on #18
If there's any short term solution for 'pushing down' the aggregation.
I think, we can rely on the session properties to 'force' the flow in the short term. @mbasmanova @RugratsJ, any existing connector code I can take a look at.

[2020-05-02 01:56] #3596 closed

[2020-05-02 07:23] aakashnand commented on #2566
@findepi  Could you please elaborate on this, I would like to take this issue. Also, it would be very helpful if you could point me some files to get started as this will be my issue to work on.

[2020-05-02 10:09] ebyhr commented on #3147
Closed via ##3381  (https://github.com/prestosql/presto/commit/101d55404e4172ac72889b2d175863de5ec07546)

[2020-05-02 10:09] #3147 closed

[2020-05-02 14:52] #3380 closed

[2020-05-02 15:08] Praveen2112 commented on #3391
[code]
#3389

[2020-05-02 15:18] Praveen2112 commented on #3391
[code]
#3479

[2020-05-02 15:24] tooptoop4 commented on #18
@vishalya see https://github.com/skyahead/presto/tree/aggregation-pushdown

[2020-05-03 03:04] RugratsJ commented on #18
@tooptoop4, @skyahead, has the agreegation-pushdown been fully tested? Can I integrate it with current 332 release?

[2020-05-03 04:59] ebyhr commented on #1908
Closed via #2538

[2020-05-03 04:59] #1908 closed

[2020-05-03 05:13] #1120 closed

[2020-05-03 05:25] #677 closed

[2020-05-03 17:15] eskabetxe opened #3605 "Elastic searching for field with null and value not working correctly"
this query:
`select id from tmp_table
where value is null or value = 37`

will generate this query
`{
  "size" : 1000,
  "query" : {
    "bool" : {
      "filter" : [
        {
          "bool" : {
            "must" : [
              {
                "bool" : {
                  "should" : [
                    {
                      "bool" : {
                        "filter" : [

[2020-05-03 19:39] findepi opened #3606 "Incorrect data inserted in Phoenix when column of unsupported type exists"
This is because `io.prestosql.plugin.phoenix.PhoenixClient#buildInsertSql` references columns by ordinal, instead of column name.

[2020-05-03 19:44] findepi commented on #3605
#3480 adds `TestElasticsearch7DistributedQueries `, so this bug will be covered by a generic test case:
https://github.com/prestosql/presto/blob/a380c5d1bdc40056860f4b06f4dacd2dd8bbdff8/presto-testing/src/main/java/io/prestosql/testing/AbstractTestDistributedQueries.java#L1385

@eskabetxe are you planning on addressing this?

[2020-05-03 19:53] eskabetxe commented on #3605
I found that adding the test to that PR, the test is comment..

I try to fix it, but for some reason the "is null" filter is missing on query builder and I cant understand why. if you could guide me, I fix it

[2020-05-03 20:12] findepi commented on #3605
i am not an expert, but "is null" seems to be here:
https://github.com/prestosql/presto/blob/56aa0d71fad111e76b596a59f45380246c49b94e/presto-elasticsearch/src/main/java/io/prestosql/elasticsearch/ElasticsearchQueryBuilder.java#L85

[2020-05-03 20:23] eskabetxe commented on #3605
at that point, the domain only have the second value (= 37)

[2020-05-03 20:36] findepi commented on #3605
NULL is indicated with `domain.isNullAllowed()`.

[2020-05-04 07:28] findepi commented on #1977
https://github.com/prestosql/presto/runs/641930179

[2020-05-04 07:57] electrum commented on #1977
I think we can fix this by disabling compaction for the tests.

[2020-05-04 09:20] findepi opened #3611 "Express $file_modified_time as TIMESTAMP WITH TIME ZONE"
currently, the `$file_modified_time` hidden column in hive connector is of `bigint` type.
since it represents a point in time, `timestamp with time zone` would be the suitable type.

[2020-05-04 09:20] findepi commented on #3611
cc @MiguelWeezardo

[2020-05-04 09:49] findepi commented on #1977
Does the compaction affect the data being visible in the table?
Or is it just that the table in test is compacted, so it has fewer data pieces?

If the latter, is it possible to disable or delay compaction for a selected table only?

[2020-05-04 15:38] ebyhr commented on #3391
[code]
https://github.com/prestosql/presto/pull/3499

[2020-05-04 17:38] skyahead commented on #18
@RugratsJ My code in its current form can not be merged into the master branch. It is my first dirty experiment to implement what is proposed here: https://github.com/prestosql/presto/wiki/Pushdown-of-complex-operations#aggregation-pushdown. At best, it has done 1/3 of the work needed.

Also, my project need is to push aggregations down to Druid and thus that was my main focus

[2020-05-04 22:06] alexjo2144 commented on #3611
Hey @Praveen2112, didn't realize you had assigned yourself. I was in that part of the code base for something else and took a stab at this too. Mind taking a look at the linked PR and seeing if it's on the right track?

[2020-05-04 23:27] RugratsJ opened #3620 "Create connector for Netezza"
I tested the generic JDBC connector for Netezza, it didn't work, the show tables and select commands hang and never returned. Can a connector for Netezza be created?

[2020-05-05 00:09] #3399 closed

[2020-05-05 00:16] tooptoop4 commented on #3518
did u solve @BodhiFlower  ?

[2020-05-05 00:20] tooptoop4 commented on #3503
@xerial just doing smaller query like below do u face perf regression?

select t.date, count(distinct id) as x, count(distinct if …) as y, count(...) as z
from t join calendar on t.date < calendar.date group by 1

[2020-05-05 00:21] tooptoop4 commented on #3574
it's not clear on the impact or how to replicate this issue

[2020-05-05 03:02] aalbu opened #3624 "Creating external Hive table times out when location contains many files"
When creating a table, Presto is updating statistics and in the case of an external table pointing to a location that has a large number of files, `CREATE TABLE` times out.  The culprit seems to be Hive trying to collect stats about file counts.
[code]

[2020-05-05 04:21] stagraqubole commented on #3580
There are two problems with eviction we have found:
1. Query cancellations is triggering evictions if file is being read from cache. This will be fixed with first commit in https://github.com/qubole/rubix/pull/368. This will remove the unnecessary evictions

2. There is a case where invalidations can cause errors in reads happening in parallel. This usually happens in small disks available to Rubi

[2020-05-05 04:53] kokosing commented on #3620
The biggest challenge here is to do testing. I don't think Netezza provides any docker or AWS service that could be used for that.

[2020-05-05 06:14] #3486 closed

[2020-05-05 06:15] #3391 closed

[2020-05-05 07:37] findepi commented on #1089
Fixed in https://github.com/prestosql/presto/pull/2669

[2020-05-05 07:37] #1089 closed

[2020-05-05 07:47] electrum opened #3626 "Release notes for 334"
## Dain Sundstrom
- [x] all checked
-  05-07 14:52:19    3c7a30da58 Add extensible web ui authentication bindings
-  05-07 14:52:19    489effa19b Add fixed user web ui authenticator
-  05-07 14:52:19    6224441723 Support forwarded https in web ui authentication
-  05-07 14:52:19    98173c2c2b Add utility for servlet security handling
-  05-07 14:52:19    ae6efb89b5 Add HTTP protocol based authent

[2020-05-05 11:08] #1102 closed

[2020-05-05 11:15] ebyhr commented on #3626
[code]
https://github.com/prestosql/presto/pull/3453

[2020-05-05 18:14] losipiuk opened #3631 "Rubix size based eviction triggering too early"
I am seeing unexpected SIZE based evictions in cluster with Rubix caching enabled:

[code]

The cluster has single worker.
The cluster is configured in non-parallel-warmup mode.
The cluster runs a query in a loop which reads whole table.
The table data consists of 5 files. Each ~35GB in size. Total size ~170GB.

![image](https://user-images.githubusercontent.com/890111/81100187-667bf280-8f0c-11ea-

[2020-05-05 18:14] losipiuk commented on #3631
cc: @stagraqubole

[2020-05-05 20:33] Jeffwan commented on #396
I am new to Presto and recently looking at solution on K8s. Does presto natively supports K8s? Instead of statically creating workers containers and run sqls, is it possible to use kubernetes resources in a serverless manner?  That means user can determine the resources to run the SQL, then some component creates workers dynamically at the query level.

[2020-05-05 20:38] GrigorievNick commented on #396
@Jeffwan I use this https://docs.starburstdata.com/latest/kubernetes.html.

[2020-05-05 23:33] sandeshh opened #3634 "Expose QueryType in QueryContext"
Having a quick access to query type will helpful during logging in QueryCreatedEvent & QueryCompletedEvent.

[2020-05-06 02:27] ebyhr opened #3635 "Flaky TestHiveTransactionalTable.testReadFullAcid"
[code]
https://github.com/prestosql/presto/actions/runs/96099095
https://github.com/prestosql/presto/actions/runs/96341740

[2020-05-06 03:10] stagraqubole commented on #3631
This too is fixed in https://github.com/qubole/rubix/pull/368, specifically by https://github.com/qubole/rubix/pull/368/commits/918bf1ab667883805a8c2962ebf7aaee2a7731c7

[2020-05-06 03:13] stagraqubole commented on #3524
Update on this, I was able to repro it with queries running in a loop with cancellations on every other query. Got into the error state quite early, within half an hour. Tried it over the branch with https://github.com/qubole/rubix/pull/368 as it changes a lot of existing code, I could not repro and same tests ran fine for hours.

[2020-05-06 04:43] ebyhr commented on #2658
Covered by #3440

[2020-05-06 04:43] #2658 closed

[2020-05-06 08:16] ebyhr opened #3640 "Add support for partition in BigQuery connector"
BigQuery
[code]

Presto
[code]

[2020-05-06 09:46] findepi opened #3641 "Document worker graceful shutdown"
from https://github.com/prestosql/presto/pull/3636#issuecomment-624506066

[2020-05-06 10:04] findepi commented on #3635
Could it be compaction in the background?
Our transaction read lock  should prevent the files from disappearing while Presto query is running.

[2020-05-06 10:04] findepi commented on #3635
I removed the `test` label, as this _looks_ more likely as a product problem to me.

[2020-05-06 10:18] findepi commented on #3611
https://github.com/prestosql/presto/pull/3617

[2020-05-06 10:18] #3611 closed

[2020-05-06 10:19] findepi commented on #3626
[code]

https://github.com/prestosql/presto/issues/3611 https://github.com/prestosql/presto/pull/3617

[2020-05-06 11:34] findepi opened #3645 "Incorrect query results in PostgreSQL connector when comparing varchar values are collation sensitive"
Using `io.prestosql.plugin.postgresql.PostgreSqlQueryRunner#main` PostgreSQL connector:

[code]

[code]

And:
[code]

[code]

This is because default collation in Postgres:
 - puts `5.` after `5-` (like Trino), but before `5-LOW` (the actual value in the column).
 - puts `a` before `A`, unlike Trino

[2020-05-06 11:35] findepi commented on #3645
in Postgres the recommended way is to use `COLLATE "C"` like here:
[code]

[2020-05-06 11:50] tooptoop4 opened #3646 "Column type mismatch between partition schema and table schema- table schema is string & partition schema is varchar(50)"
0. place csv under s3://REDACT/presto_queries/cluster_launch_date=20200506/

1. login to hiveserver2 (v2.3.4) and run
CREATE EXTERNAL TABLE IF NOT EXISTS meta.presto_queries (
userName Varchar(50),
sessionId Varchar(40),
startTime Varchar(30),
secondsTaken Varchar(10),
queryString STRING
)
PARTITIONED BY (cluster_launch_date VARCHAR(8) )
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde

[2020-05-06 14:41] findepi opened #3647 "Let ConnectorMetadata#applyFilter indicate table scan is empty"
Refine `ConnectorMetadata#applyFilter` mechanics or API to let connector indicate that, after filter application result the result is empty.

[2020-05-06 14:42] findepi commented on #3647
Connector could indicate this eg by returning `TupleDomain.none()`  in `ConstraintApplicationResult#remainingFilter`.
This is currently enforced to be non-none here:
https://github.com/prestosql/presto/blob/f4ce2a2fb30a62197fdee9bd396b4e17bad7780c/presto-main/src/main/java/io/prestosql/metadata/TableLayoutResult.java#L82

I propose we remove this check and short-circuit to VALUES instead.

[2020-05-06 15:06] tooptoop4 commented on #3594
@imjalpreet pls share the fix

[2020-05-06 17:14] tooptoop4 opened #3649 "Web UI prompts for a certificate to authenticate"
If i click cancel then i can enter user/pass in the login screen, but how to stop it prompting for 'certificate to authenticate' choice in first place?

![image](https://user-images.githubusercontent.com/33283496/81207303-478d6700-8fc5-11ea-92a8-8e901e03829f.png)

[2020-05-06 17:19] Jeffwan commented on #396
@GrigorievNick

This one seems use HPA for workers and I think it should be fine. In a multi-tenant cluster, I assume everyone is able to create PrestoCluster custom resource in their own namespaces. HPA will dynamically adjust number of the workers, new works will join via coordinator.

Seems starburstdata provides is an enterprise server, trying to understand the scope of this ticket. Does commu

[2020-05-06 17:48] ArvinZheng opened #3650 "Hive bucket pattern is not identical with Hive implementation"
Current regex [pattern](https://github.com/prestosql/presto/blob/43b55cba71bc7345977f292f91b1a082ada72fdf/presto-hive/src/main/java/io/prestosql/plugin/hive/BackgroundHiveSplitLoader.java#L112) in Hive connector is

`Pattern.compile("(0\\d+)_\\d+.*")`

 while the pattern in [Hive implementation](https://github.com/apache/hive/blob/master/ql/src/java/org/apache/hadoop/hive/ql/exec/Utilities.java#L1

[2020-05-06 17:52] stagraqubole commented on #3524
Found the root cause for this. Explained it in detail in https://github.com/qubole/rubix/issues/375.
It happens due to a race between PrestoS3InputStream.close() due to recordReader closing as part of Driver thread and PrestoS3InputStream.seekStream() happening due to a read in parallel
in rubix. It wasn't happening with the fix for https://github.com/qubole/rubix/pull/368 because with that fix we

[2020-05-06 18:14] mpontillo commented on #3169
I'm seeing a very similar error with `presto-server-331` while attempting a query using the `hive-hadoop2` connector:

[code]

I believe the cause is that the S3 API is returning 503 errors and rate-limiting PrestoSQL when it attempts to fetch the data. While the query that was logging the above was executing, we tried another query, and got the following error:

[code]

[2020-05-06 18:23] findepi commented on #3169
@mpontillo for this part, see my comment above (https://github.com/prestosql/presto/issues/3169#issuecomment-601557711)

[2020-05-06 18:25] findepi commented on #3169
@mpontillo can you please create a separate, specific issue about S3 rate limiting causing query failures?
So that we can discuss what should be appropriate resolution for that case?

I am going to close this issue, as not being specific enough to be actionable.
Thanks for undertanding.

[2020-05-06 18:25] #3169 closed

[2020-05-06 18:48] stagraqubole commented on #3524
Not seeing it with  qubole/rubix#368 not just because of lower reads from remote filesystem but because we moved to positional reads in master and this race doesnt happen with positional reads.

[2020-05-06 21:35] findepi commented on #3647
The current correct way is this:
https://github.com/prestosql/presto/blob/7f032b5b84597971deb872cfe3bd8802fb9075cc/presto-main/src/main/java/io/prestosql/sql/planner/iterative/rule/PushPredicateIntoTableScan.java#L221

it's good it exists.
however, i don't like it's indirectedness.

[2020-05-06 23:00] mpontillo commented on #3169
I'll open a new issue. In my case, the query still appears to be running, but doesn't complete in a reasonable amount of time. I'm accessing the same data in two mostly-identical connectors; one is using `hdfs://` and one is using `s3://`. The `hdfs://` version completes in under a minute, but I can leave the `s3://` version up for hours; it continues to write exceptions like this to the log and n

[2020-05-06 23:53] mpontillo opened #3654 "503 responses from S3 API cause queries to stall or fail"
After configuring the `hive-hadoop2` connector to allow access to our Parquet files via an `s3://` URL, I noticed (when using `rclone` to access the same bucket) that the API was returning `503` responses because we were hitting a rate limit.

When I look at the logs on the Presto worker, I see hundreds of exceptions such as this one, printed multiple times per second:

[code]

I left the query ru

[2020-05-06 23:57] mpontillo commented on #3169
Filed #3654.

[2020-05-07 01:49] ShashwatArghode commented on #3534
I was able to update jQuery, bootstrap, and get UI working. PR contains the details about version and links for bootstrap and jQuery.
Please review and let me know if I am missing anything here.

[2020-05-07 03:05] ebyhr opened #3656 "Document missing session properties of memory management"
e.g. `query_max_memory_per_node` is missing. It would be better to mention the limitation (it is used to only decrease memory limit).
https://prestosql.io/docs/current/admin/properties.html#memory-management-properties

[2020-05-07 06:32] guyco33 commented on #3219
FYI, Jetbrains DataGrip fixed those bad queries. See https://youtrack.jetbrains.com/issue/DBE-10319

[2020-05-07 06:51] electrum commented on #396
Presto is designed as a long running process that can share resources across many concurrent queries. It’s inherently multi-tenant and is used in environments with hundreds or thousands of concurrent users.

Auto scaling solutions for Presto work by scaling the workers up or down based on cluster load or other factors.

You might find the Presto paper helpful: https://prestosql.io/paper

[2020-05-07 10:51] tooptoop4 opened #3661 "Unable to retrieve cluster stats via API non-interactively"
Previously could do a curl to v1/cluster and get a response like:

[code]

Now the endpoint has changed to ui/api/stats, it works fine for interactive user in the browser (after going via form login page), but non-interactive commands by generic user (with valid credentials) are blocked :(

[code]

Can below code be removed?
https://github.com/prestosql/presto/blob/master/presto-main/src/main/java

[2020-05-07 13:05] Svti opened #3663 "Could not create connection to mysql database server"
io.prestosql.spi.PrestoException: Could not create connection to database server. Attempted reconnect 3 times. Giving up.
	at io.prestosql.plugin.jdbc.BaseJdbcClient.getTableNames(BaseJdbcClient.java:211)
	at io.prestosql.plugin.jdbc.jmx.StatisticsAwareJdbcClient.lambda$getTableNames$2(StatisticsAwareJdbcClient.java:85)
	at io.prestosql.plugin.jdbc.jmx.JdbcApiStats.wrap(JdbcApiStats.java:35)
	at i

[2020-05-07 14:32] AbhishekNew opened #3664 "Presto csv format is not supported"
presto:default> CREATE TABLE onequerytb(
             -> order_date varchar,
             -> order_region varchar,
             -> order_id varchar,
             -> order_info varchar
             -> )
             -> WITH (format='CSV');
             -> ;
CREATE TABLE
presto:default> insert into onequerytb values('2019-9-17', 'kk', '3', 'pp');
Query 20200507_135842_00017_9cdss failed: java.lang.U

[2020-05-07 14:44] ebyhr commented on #3664
@AbhishekNew Could you take a look at this issue https://github.com/prestosql/presto/issues/2678?

[2020-05-07 17:10] tooptoop4 commented on #3663
@Svti can you share your catalog properties file?

[2020-05-07 17:56] electrum commented on #3572
Duplicate of #2117

[2020-05-07 17:56] #3572 closed

[2020-05-07 17:58] electrum commented on #2117
Requirements from @knwg145 in #3572:

* headers (`Authorization` and `X-Forwarded-For`)
* remote address
* ability to send back `WWW-Authenticate` header on failure

[2020-05-07 18:02] electrum commented on #1791
We can allow multiple password authenticators similar to the recently added support for multiple event listeners by adding a `password-authenticator.config-files` property to list the config files. If not specified, it defaults to the existing `etc/password-authenticator.properties`

[2020-05-07 18:42] electrum opened #3665 "LDAP authentication debugging"
Mention on the LDAP page about setting the log level to debug:
[code]
With a reference to https://prestosql.io/docs/current/installation/deployment.html#log-levels

[2020-05-07 18:56] ArvinZheng commented on #3650
PR created
https://github.com/prestosql/presto/pull/3659

[2020-05-07 20:23] RugratsJ commented on #1218
@findepi, I installed Presto 332 and HDP 3.1, when connecting to Hive and run select queries, I got Original non-ACID files in transactional tables are not supported. What should I do to at lease be able to query (read-only) to Hive 3? Thanks.

[2020-05-07 21:57] dain commented on #3626
[code]
#3433

[2020-05-07 22:17] findepi commented on #1218
This is a high-level roadmap issue. Let's keep the discussion high level here only. @RugratsJ  Please ping me on our [slack](https://prestosql.io/slack.html).

[2020-05-08 05:05] AbhishekNew commented on #3664
I checked the issue details before it was talking more about external table and in this  case table is managed one.

[2020-05-08 05:47] findepi commented on #3664
@AbhishekNew see https://github.com/prestosql/presto/issues/2678#issuecomment-580255387 in particular

[2020-05-08 06:20] findepi commented on #3626
[code]

https://github.com/prestosql/presto/pull/3648 https://github.com/prestosql/presto/pull/3618

[2020-05-08 06:22] AbhishekNew opened #3668 "Alter table and select throws Exception"
presto:default> create table hivetb_old(column_int int, cint int, column_char int, cchar char(5), clond varchar(5)) with (format='orc');
CREATE TABLE
presto:default> insert into hivetb_old select 66,36,88,'df','98k';
INSERT: 1 row

Query 20200508_060708_00005_9cdss, FINISHED, 1 node
Splits: 51 total, 51 done (100.00%)
0:01 [0 rows, 0B] [0 rows/s, 0B/s]

presto:default> select * from hivetb_old;
 c

[2020-05-08 08:19] mat3e commented on #3534
@ShashwatArghode nice idea of updating Bootstrap just to `3.4.1`! Looks good to me.

[2020-05-08 10:11] Svti commented on #3663
I'm sure this can be connected ,  But it's happend sometimes

[2020-05-08 10:48] findepi commented on #3668
@AbhishekNew can  you please add `hive.orc.use-column-names=true` to your hive.properties and try again?

[2020-05-08 10:50] findepi commented on #1558
https://github.com/prestosql/presto/issues/3668

[2020-05-08 11:05] #1834 closed

[2020-05-08 11:09] ebyhr commented on #3626
[code]
https://github.com/prestosql/presto/pull/1848

[2020-05-08 11:27] tooptoop4 commented on #3661
cc @dain

[2020-05-08 11:28] tooptoop4 commented on #3649
cc @dain

[2020-05-08 16:02] ebyhr opened #3671 "Failed to parse QueryResults due to MAP having ROW key"
This issue happens on both CLI and JDBC driver. The query finishes without error on the server side. Testing on upstream modules.
[code]

If we replace key and value, it succeeded.
[code]

[2020-05-08 17:36] ShashwatArghode commented on #3534
Thank You @mat3e .

[2020-05-08 18:35] #3534 closed

[2020-05-08 20:15] awishnick opened #3674 "DOS attack system.register_partition() can get BoundedExecutor into an unrecoverable state"
I wrote some misbehaved client code that got our cluster into a bad state. @findepi suggested I document it here in case it helps. From what I can tell, https://github.com/airlift/airlift/pull/742 wouldn't help because it doesn't seem like the executor ever recovers.

1. Create a new partitioned Hive table backed by S3, 1 Presto coordinator with ~80 workers
2. Concurrently call system.register_par

[2020-05-08 20:40] findepi commented on #3645
There seems to be no way to enforce "C" locale connection-wide.

- https://github.com/pgjdbc/pgjdbc/issues/1772
- https://postgresteam.slack.com/archives/C0FS3UTAP/p1588764357190100

[2020-05-08 20:56] electrum commented on #3674
`BoundedExecutor` gets into a failed state because the underlying executor refused task creation.  This should only be possible due to some combination of a misconfiguration (sum of thread pool maximums are too large) and bugs (unbounded thread creation).

I recommend running with https://github.com/airlift/jvmkill as this will immediately kill the JVM if it cannot create a thread.

Note that this

[2020-05-08 21:18] awishnick commented on #3674
I've attached my config. Thanks for the tip on jvmkill.

For what it's worth, I am also seeing this issue manifest as the client getting read timeouts when running queries, i.e. the coordinator never responds. I also see workers becoming unresponsive to the point that `launcher stop` does nothing. This is presto 333 fwiw.

Coordinator config:
[code]

[code]

[2020-05-08 21:35] awishnick commented on #3674
Ok, an update -- even with appropriate exponential backoff, if I hit the coordinator with ~3000 register_partition queries, it becomes permanently unresponsive. While the coordinator is unresponsive, I see failures like this in server.log:

[code]

[2020-05-09 01:28] Boomxiakalakaka opened #3677 "When to support Zstd Compression？"

[2020-05-09 03:30] Xuchaojing opened #3679 "sql cannot run using Presto, but can run using hive, when the type of column in orc file doesn't match the type defined in hive table"
Query 20200509_032316_00682_9pmv8 failed: Error opening Hive split hdfs://xxxxxxx (offset=33554432, length=33554432): Malformed ORC file. Can not read SQL type bigint from ORC stream .id of type STRING

so is it any suggestion about this issue?

[2020-05-09 03:41] ebyhr commented on #3679
Could you try `hive.orc.use-column-names=true`?

Also, I would suggest you join the community Slack
https://prestosql.io/slack.html

[2020-05-09 03:45] ebyhr commented on #3677
ZSTD for ORC and Parquet is already supported. Did you get an error?

[2020-05-09 05:24] Xuchaojing commented on #3679
when i add this property to catalog/hive.properties, then restart the presto cluster.

[2020-05-09 06:17] AbhishekNew commented on #3668
Yes works when given hive.orc.use-column-names=true  in hive.properties

presto:default>  create table hivetb_old1(column_int int, cint int, column_char int, cchar char(5), clond varchar(5)) with (format='orc');
CREATE TABLE
presto:default> insert into hivetb_old1 select 66,36,88,'df','98k';
INSERT: 1 row
presto:default> select * from hivetb_old1;
 column_int | cint | column_char | cchar | clond
-

[2020-05-09 08:10] Anu-Renu opened #3682 "Presto Rest API for Query"
In the older version, http://localhost:8080/v1/query/ URL was giving the list of the query.
In new version 333 when I tried the same URL (also in POST method by passing X-Presto-User) it shows ERROR : Method Not Allowed / STATUS:405

[2020-05-09 10:29] kishoreduraisam opened #3683 "Reading parquet file generate by Nifi"
I have parquet files in my s3 bucket that I am trying to query using presto. These parquet files are generated using the Nifi Processor ParquetRecordSetWriter. I am using AWS EMR. I setup the hive metastore and was able to query the table in hive with no issues. But when I try to query this data using presto I am running into datatype issues. This is happening in many of my fields. For example, I

[2020-05-09 10:39] tooptoop4 commented on #3594
is it just a case of reverting https://github.com/prestosql/presto/commit/c32c44b7c070f784d90fad6ec7c881b4eaa158da ?
https://github.com/prestosql/presto/issues/3518 seems related too

[2020-05-09 11:17] tooptoop4 commented on #3683
try prestosql 333 ?

[2020-05-09 11:37] tooptoop4 commented on #3649
my guess is https://github.com/prestosql/presto/commit/4e2a0529ce8866addb4cd6a698cb64b1a3a50ed2 broke this.  perhaps commenting out https://github.com/prestosql/presto/blob/333/presto-main/src/main/java/io/prestosql/server/security/ServerSecurityModule.java#L51 could solve it

[2020-05-09 12:02] kishoreduraisam commented on #3683
I am not sure I am following. I am very new to presto. I looked up presto 333 and it comes up with some documentation. Just to add some more info. I stream data to s3 bucket in parquet format. I use nifi processor to convert the data into parquet. Then I am setting up a hive metastore. Querying in hive is not a problem. But when I try to query using presto I run into issues.

Additional info. I ha

[2020-05-09 12:17] findepi commented on #3683
@kishoreduraisam
you can get Presto 333 from https://prestosql.io/download.html
for managed deployment on AWS (like EMR), you can use https://www.starburstdata.com/presto-aws-cloud/

For Parquet problems, please add `hive.parquet.use-column-names=true` to your hive.properties and restart Presto.

[2020-05-09 12:20] findepi commented on #3668
@AbhishekNew thanks for checking. Let me close this issue in favor of https://github.com/prestosql/presto/issues/1558.

[2020-05-09 12:20] findepi commented on #1558
I am marking this as `bug`. As shown in https://github.com/prestosql/presto/issues/3668, with current defaults we are not compatible with Hive.

[2020-05-09 12:20] #3668 closed

[2020-05-09 12:25] findepi commented on #3679
(For `hive.orc.use-column-names`, please track https://github.com/prestosql/presto/issues/1558)

@Xuchaojing can you provide the full error stacktrace with and without `hive.orc.use-column-names=true`, as well as table schema (`SHOW CREATE TABLE xxx` )

[2020-05-09 12:27] tooptoop4 opened #3684 "Eventlistener output is going into main server.log even when another path is configured"
how come event listener logs are going into main server.log? I have "/var/log/presto/queries-" path defined just as in https://github.com/aws-samples/emr-presto-query-event-listener/blob/master/src/main/java/com/amazonaws/QueryEventListener/QueryEventListener.java#L228
(I modified the emr-presto-query-event-listener repo to use prestosql SPI)

note in prestodb 220 the output went to /var/log/prest

[2020-05-09 12:38] kishoreduraisam commented on #3683
I am currently on managed deployment on AWS with EMR. Not using starburstdata.

[2020-05-09 12:41] findepi commented on #875
We forgot to close this. Implemented a while ago.

[2020-05-09 12:41] #875 closed

[2020-05-09 13:14] tnatssb commented on #3683
hive.parquet.use-column-names=true isn't particular to Starburst distribution. Give that a try.

Most likely your DDL column name order isn't matching up with your parquet file.

[2020-05-09 13:28] tooptoop4 commented on #3646
not sure if below will work:

change 2 lines:
https://github.com/prestosql/presto/blob/333/presto-hive/src/main/java/io/prestosql/plugin/hive/HiveSplitManager.java#L375
https://github.com/prestosql/presto/blob/333/presto-hive/src/main/java/io/prestosql/plugin/hive/HiveSplitManager.java#L405

before
if (!tableType.equals(partitionType)) {

after
if (!tableType.equals(partitionType) && !(tableType.e

[2020-05-09 16:27] Xuchaojing commented on #3679
in order to protect the security of the information, I changed the name of the table. change the real name to "abc".
the following info is  table schema :
CREATE TABLE `ods.abc`(
  `id` bigint,
  `identifier` string,
  `identifier_md5` string,
  `channel` bigint,
  `os_version` bigint,
  `request_url` string)
COMMENT 'abc'
PARTITIONED BY (
  `pt` string COMMENT 'full_partition')
ROW FORMAT SERDE

[2020-05-10 01:41] ebyhr commented on #3679
@Xuchaojing You can get the full stactrace by `--deubg` CLI option or Web UI. (The pasted message isn't full stacktrace)

[2020-05-10 05:32] Xuchaojing commented on #3679
this is the full stacktrace, and the  version of the prestosql i used is 317.

Query 20200510_052523_00189_9pmv8 failed: Error opening Hive split hdfs://testHadoop/dataware/ods/abc/pt=20200426/part-__170d9cc5_7b28_4828_bc34_ad141740ac89 (offset=134217728, length=33554432: Malformed ORC file. Can not read SQL type bigint from ORC stream .id of type STRING [hdfs://testHadoop/dataware/ods/abc/pt=2020

[2020-05-10 05:40] ebyhr commented on #3679
@Xuchaojing Could you share two kinds of full stacktrace with:
1. `hive.orc.use-column-names=true`
2. `hive.orc.use-column-names=false`

[2020-05-10 06:28] Xuchaojing commented on #3679
the error stack is the same, whether true or false.

[2020-05-10 06:35] ebyhr commented on #3679
Let's continue in this Slack thread https://prestosql.slack.com/archives/CGB0QHWSW/p1589011535253100

[2020-05-10 09:05] kishoreduraisam commented on #3683
This doesnt seem to help with my problem. I added the attribute to my instance configuration which ended up putting this value in /etc/hive/conf/hive-site.xml. But that doesnt seem to help. Still running into the same issue.  There are some columns that I always get back if I am just querying for that.

Below you will find some of the errors I have seen.
presto:default> select name from shopperlis

[2020-05-10 09:30] kishoreduraisam commented on #3683
I realized that I did not change the hive.properties file under presto. But I have added the property in /etc/presto/conf/catalog/hive.properties. But I am still running into the same issue. Can you help?

[2020-05-10 10:38] tnatssb commented on #3683
Can you paste the full error along with your hive.properties file?

[2020-05-10 11:09] kishoreduraisam commented on #3683
hive.properties:
hive.metastore-refresh-interval=1m
connector.name=hive-hadoop2
hive.metastore-cache-ttl=20m
hive.config.resources=/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml
hive.non-managed-table-writes-enabled = true
hive.s3-file-system-type = EMRFS
hive.hdfs.impersonation.enabled = true
hive.metastore = glue
hive.parquet.use-column-names = true

Table:
presto:default> desc sh

[2020-05-11 06:03] findepi commented on #1379
See https://github.com/prestosql/presto/pull/3126

[2020-05-11 06:05] findepi opened #3690 "Support impersonation in CLI/JDBC with password authentication"

[2020-05-11 06:05] findepi commented on #3690
https://github.com/prestosql/presto/issues/3179#issuecomment-601873294

[2020-05-11 06:06] findepi commented on #3179
I created a dedicated issue for the impersonation in CLI & JDBC: https://github.com/prestosql/presto/issues/3690

As the routing question seems to be answered, can we close this issue?

[2020-05-11 09:05] kishoreduraisam commented on #3683
I got it working. It was infact the  property hive.parquet.use-column-names=true that helped with this. My update in the file didnt seem to work. But Setting it session made it stick and I was able to query without issues.  set session hive.parquet_use_column_names = true;

Thanks for the help.

[2020-05-11 10:17] tnatssb commented on #3683
That is great. A handy tool is parquet-tools so you can see the schema of the parquet file. I've used this a few times and it reduced my troubleshooting time. Here is a handy link to keep: https://drive.google.com/file/d/17sARmItzlBNepajUjZfdfhGPWgQyBr0e/view?usp=sharing and and example:  java -jar parquet-tools-1.8.2.jar schema part-00000-tid-1696245914157549903-af02faf7-7a79-4308-b52f-4d94ed8475

[2020-05-11 11:50] tooptoop4 opened #3692 "Allow CLI option for max_seconds_before_kill"
Currently below command gets 'Error running command: StatementClient thread was interrupted' message if the query has not completed within 5 seconds:

timeout 5 ./presto --execute "SELECT blah.....

But the query continues running on the server, taking resources, even though for a SELECT the client has detached and will not receive the result.

This new option 'max_seconds_before_kill' would mean

[2020-05-11 11:56] findepi commented on #3692
There is a session property for this.

[2020-05-11 12:20] ebyhr opened #3693 "Unusable SHOW CREATE VIEW when Hive view isn't compatible with Presto syntax"
Currently, it's experimental feature though.
[code]

[code]

[2020-05-11 13:02] sopel39 commented on #3626
[code]
https://github.com/prestosql/presto/pull/3577

[2020-05-11 15:11] kishoreduraisam commented on #3683
One follow up question. Do I need to have a hadoop distribution in order to query s3 using hive connector? I am currently trying this on Amazon EMR with Amazon's hadoop distribution. Starting to wonder if I need hadoop distribution at all or just install presto on EC2 directly.

[2020-05-11 15:45] o3LL opened #3695 "Invalid format from_iso8601_date() function"
Hello everyone!

I think there is an issue with from_iso8601_date() function :

[code]

Actually, it seems that the function from_iso8601_date only support YYYY-MM-dd format and not iso8601 format!

[2020-05-11 16:14] martint commented on #3695
That function only parses ISO dates (https://en.wikipedia.org/wiki/ISO_8601#Dates) into SQL dates:

[code]

If you want a full timestamp, you have to use `from_iso8601_timestamp`:

[code]

cc @mosabua -- something to clarify in the docs.

[2020-05-11 16:19] Ennosigaeon opened #3696 "Custom Principal is replaced with BasicPrincipal"
I have implemented a custom _io.prestosql.spi.security.PasswordAuthenticator_ that creates my own _java.security.Principal.Principal_ instances (_PrincipalWithRoles_). Furthermore I have added a custom _io.prestosql.spi.security.SystemAccessControl_ that evaluates the roles in my principal objects to grant permissions.

On executing a `show catalogs;` everything works as intended and I can see _Pr

[2020-05-11 16:42] tooptoop4 commented on #3683
u dont need hadoop

[2020-05-11 16:46] tnatssb commented on #3683
You are correct in your thinking that that is why it was suggested to use https://www.starburstdata.com/presto-aws-cloud/ as it's just Presto on EC2 without anything else plus you get added features. (HA, additional connectors, security,etc..)

[2020-05-11 17:37] dain commented on #3696
We added `GroupProvider` for exactly this case.  Relying on `Principal` is not a good idea, since is can not be serialized, and in the future as we support more complex deployment architectures, the principal will be be replaced as the engine needs.  For this exact reason, we have been considering removing the Principal from the security context for a long time now.

[2020-05-11 18:43] jiegzhan opened #3698 "Document hive.parquet.use-column-names, hive.orc.use-column-names, hive.partition-use-column-names"
Found out these three parameters via Teradata and Slack.

hive.parquet.use-column-names
hive.orc.use-column-names
hive.partition-use-column-names

[2020-05-11 18:46] tooptoop4 opened #3699 "'result of sequence function must not have more than 10000 entries'"
Following query errors:

 select x from unnest(sequence(date '1992-01-01', date '2019-12-31')) t(x)

https://github.com/prestosql/presto/blob/master/presto-main/src/main/java/io/prestosql/operator/scalar/SequenceFunction.java#L41

I know i can union multiple sequence as a workaround but 10k is small if backtesting a large date range. Proposing increasing to 100k

[2020-05-11 20:01] lucasmbribeiro commented on #2379
This will solve many problems in my context

[2020-05-11 21:07] findepi commented on #3698
When documenting mind that defaults should be changed from their current setting (https://github.com/prestosql/presto/issues/1558).

[2020-05-11 21:18] andyc-indeed opened #3700 "Analyze command fails on empty partitions"
Receiving error below when running command below on a partition that turns out to be empty:
`ANALYZE testschema.testtable with (partitions = ARRAY[ARRAY['2020-05-01 21:00:00']])`

[code]

[2020-05-11 21:35] HernanMora opened #3701 "Elasticsearch query issues"
Hi!

Doing `Fulltext` searches exists a couple of problems:

- All queries are lowercase, so if a field has a camel case name, the query does not return any match. For example:
[code]
In debug it looks like this:
[code]
 - Some characters cannot be escaped. If we want to get all records from the IPs that belong to a subnetwork with the following query, we get the error "Failed to parse query":
[co

[2020-05-11 21:43] findepi commented on #3701
This should do:
[code]

[2020-05-11 21:50] martint commented on #3701
This is a known limitation. Unfortunately, columns and table names in Presto are currently case-insensitive, and this is achieved by lower-casing identifiers before passing them to connectors. The full text search query is just an "enhanced" table name.

[2020-05-11 21:51] findepi commented on #3683
thanks for feedback

[2020-05-11 21:51] #3683 closed

[2020-05-11 21:53] findepi commented on #1558
https://github.com/prestosql/presto/issues/3683#issuecomment-626573298

[2020-05-12 05:12] pangyifish opened #3704 "Thread.currentThread().getContextClassLoader() changed after upgrading to 333"
I upgraded Presto from version 331 -> 333, and Thread.currentThread().getContextClassLoader() changed from io.prestosql.server.PluginClassLoader to a different one when i used it eventListener constructor and break my code:(

i found this which is possibly the reason, may i know the reason for this change?
--> Use platform classloader in Java 8 and 11 for plugins
https://github.com/prestosql/prest

[2020-05-12 07:09] kokosing commented on #3704
Hi,

For reference, please see:
 - https://github.com/prestosql/presto/pull/3342
 - https://github.com/prestosql/presto/pull/3340

Regards,
Grzegorz
https://www.starburstdata.com/
https://prestosql.io/

[2020-05-12 07:28] electrum commented on #3704
Can you provide details on how it broke?

[2020-05-12 09:21] #3569 closed

[2020-05-12 09:22] sopel39 commented on #3626
[code]
https://github.com/prestosql/presto/pull/3694

[2020-05-12 10:12] bolkedebruin opened #3705 "Backwards incompatible Security API changes"
Hi All,

@kokosing @martint

Maintainer of the Ranger plugin here. I just updated the plugin to support Presto 331 as many backwards incompatible changes happened between 317 and 331. This commit (https://github.com/prestosql/presto/pull/3030), part of 332, also introduces a change in the Security API that makes it backwards incompatible as there is no default specified. I feel a bit like chasing

[2020-05-12 11:30] sopel39 commented on #3580
@stagraqubole What are recommended workarounds for this? Is it sufficient to have large enough disk?

[2020-05-12 11:46] fpieressa commented on #3701
Hi! Good tip! Is there any way to be able to query a subnet (we have tried ...where sourceaddress = IPADDRESS '10.1.0.32/26' but it didn't work. Thanks!

[2020-05-12 14:43] Ennosigaeon commented on #3696
Thanks for your feedback. I was able to replace everything with the `GroupProvider` and everything works as intended. Shall I close the issue?

[2020-05-12 14:55] Ennosigaeon opened #3706 "Support serving presto with a context path"
I want to deploy Presto in a Kubernetes cluster and access presto using a context path, e.g. `https://server.com/presto`. However, using the _presto-cli_ the context path is dropped in the `StatementClientV1#buildQueryRequest` leading to request for `https://server.com/v1/statement`.

It would be great to be able to use Presto in combination with a context path. For now I am going to use a subdoma

[2020-05-12 16:52] electrum commented on #3706
I don't think this is something we are ever going to support. It would be a large amount of work, not just in Presto itself, but also in all the various client libraries. Even if someone was willing to do the work, it's doubtful we would accept it, as it introduces complexity and testing burden. We'd rather spend our "complexity budget" in other areas.

I'm going to close this issue for now, but I

[2020-05-12 16:52] #3706 closed

[2020-05-12 17:13] #3696 closed

[2020-05-12 17:18] #3550 closed

[2020-05-12 17:27] mosabua opened #3707 "Document software requirements"
Similar to https://docs.starburstdata.com/latest/installation/software-requirements.html maybe .. or even exactly that content.

There seems no place where we document what Java version is recommended and with the Java 11 upgrade user confusion is surfacing on slack and the mailing list.

This would allows us to specify e.g. that Java 11 is best but never versions are theoretically also working. H

[2020-05-12 17:35] mosabua commented on #3707
According to @electrum builds for prestosql (and hence tests also) use Zulu 11 consistently.

I think we could just have a small requirements section on https://prestosql.io/docs/current/installation/deployment.html or a separate page ..

Any preference?

[2020-05-12 17:57] pangyifish commented on #3704
I imported some code (let's say package A) which will
1. find a loader with ServiceLoader.load(ConfigLoader.class), which will implicitly call Thread.currentThread().getContextClassLoader();
2. use the loader to find some resources from the package A i imported

what Thread.currentThread().getContextClassLoader() get is different:
in 331, it will get io.prestosql.server.PluginClassLoader, it can f

[2020-05-12 18:20] #485 closed

[2020-05-12 18:30] dain commented on #3705
For the second point, there are 2 general approaches to security plugins:
1. extend AllowAllAccessControl and new checks will default to allow
2. extend ConnectorAccessControl and all new checks will be default to allow

Generally, I would choose the second one as I rather see failures than allow stuff through, but that requires keeping up with new SPI methods.

[2020-05-12 19:41] mosabua commented on #3707
Discussed with @electrum .. will send PR to add for deployment page

[2020-05-12 19:44] kishoreduraisam commented on #3683
I know this issue is closed. I am not sure if I should open a new one or just continue on this one. I am running into the same problem again.

This is what parquet-tool brings up as schema for my document.
  optional binary listId (UTF8);

When I created the hive table I tried to stick to the schema of my parquet and declared listId as BINARY data type. When I run the query on presto, I am getting

[2020-05-12 22:35] brakmic opened #3711 "[build]: Error while building presto-server-rpm"
Hi,

While building the current master on my macOS Catalina 10.15.4 I received the following error:

[code]

As I am new to Presto, my first thought was to simply disable compilation of this plugin in **pom.xml**, because RPM sounds more like Linux than macOS. And indeed, it worked and I could compile the rest.

I'm not sure if I would ever need it (maybe for some remote access on Linux boxes?), b

[2020-05-13 00:06] electrum commented on #3711
What version of Maven are you using? Make sure you are using the latest, 3.6.3. You can also use `./mvnw` instead of your locally installed version.

[2020-05-13 00:10] electrum commented on #3705
Note that we've been making many changes to security lately, but generally the SPI and security APIs should be stable. Until the recent changes, most of the changes were adding new access control checks.

[2020-05-13 01:52] electrum commented on #3704
Thanks, this is a bug. The intent of that change was to allow extension classes for JDK 8, not to change it the context class loader. We’ll fix this in a future release (hopefully the next one).

[2020-05-13 02:57] pangyifish commented on #3704
Cool, thx!

[2020-05-13 03:13] frankobe commented on #64
Any taker for this issue? Discussion on https://github.com/prestodb/presto/issues/10305 mentions there are some initial implementation with good performance gain however the branch https://github.com/starburstdata/presto/tree/ks/dynamic_partial_aggregation_simple is unavailable

[2020-05-13 04:07] stagraqubole commented on #3580
Yes, even a modestly sized disk will minimise the chances of hitting this given LRU files would not be read at the time of eviction.

[2020-05-13 06:26] bolkedebruin commented on #3705
@electrum That's correct, however every new access control check currently is an update to the API which defaults to *deny*. For example recently, `checkCanExecuteFunction` was added . This stopped every query in its tracks, when using a plugin that was not adjusted yet, that was using a function without being able to "just" update a policy. Now it required a adjustment of the plugin, compile, tes

[2020-05-13 07:41] findepi commented on #3266
@imjalpreet are you working on the fix?

[2020-05-13 08:08] brakmic commented on #3711
[code]

[2020-05-13 08:12] findepi commented on #3705
@bolkedebruin if I understand your proposal correctly, you are proposing to replace `ConnectorAccessControl` interface with 20-something methods with a (weakly-typed) single entry point into the security subsystem?

I am not convinced this is the right approach in general (it makes new implementations harder to understand and to implement), but if you want to try this route, you can give it a try.

[2020-05-13 08:14] findepi commented on #3711
@brakmic please provide output of
[code]

and last portion of:
[code]

[2020-05-13 08:29] findepi commented on #3683
Athena uses its own syntax (borrow from Hive) for DDL.
Also, if i am not mistaken, `parquet.column.index.access` is Athena-specific. (@pettyjamesm will know better though)

What's full stacktrace (run CLI with `--debug`)?

Also, I suggest to move this to `#troubleshooting` channel on [our slack](https://prestosql.io/slack.html).

[2020-05-13 08:40] brakmic commented on #3711
[code]

[code]

[2020-05-13 08:47] kishoreduraisam commented on #3683
Ok. I think I figured out the problem. My problem was inconsistency between multiple records in the schema. Once I was able to figure that out and get that corrected and I am back up and running. Appreciate all the help.

[2020-05-13 08:50] findepi commented on #3711
@brakmic although we compile code on CI with Java 14, I am still using Java 11 locally.
Can you install eg `brew cask install zulu11` and try with that?

[2020-05-13 08:51] kishoreduraisam commented on #3683
Last couple of recommendations:
1. Recommendations for web based query execution tool on presto? - I have seen https://airbnb.io/airpal/. Any other recommendations?
2. Open source BI tool integration for visualization

[2020-05-13 08:52] brakmic commented on #3711
It seems, the cask isn't available.

[code]

[2020-05-13 08:54] sopel39 commented on #64
I don't have cycles to work on this at this moment unfortunately.

[2020-05-13 08:58] findepi commented on #3683
@kishoreduraisam this is unrelated to the issue discussed here.
Please ask on #general channel on [our slack](https://prestosql.io/slack.html), but check https://prestosql.io/resources.html first.

[2020-05-13 09:02] findepi commented on #3701
Let's move this discussion somewhere else (and since it's not possible today, "somewhere else" is: please create new issue).

[2020-05-13 09:14] brakmic commented on #3711
brew installed zulu11 but I am unable to find it / access it. I think I should rather download the package and install it manually.

[code]

[2020-05-13 09:17] bolkedebruin commented on #3705
@findepi No I am not exactly proposing that. I am proposing that for `SystemAccessControl` (why does `ConnectorAccessControl` pop up in this discussion? - Real question) the default fallback mechanism for the 20 something methods is to call the `hasPermission` with the generics instead of the direct deny. This can make plugins more future proof without sacrificing security by defaulting to allow (

[2020-05-13 09:37] brakmic commented on #3711
It worked with zulu11.

[code]

Many thanks, @findepi

[2020-05-13 09:37] #3711 closed

[2020-05-13 09:47] manishmalhotrawork opened #3716 "IcebergConnector: Handle `null` partition value"
If the partition value is null.
here if partition column value is null. it fails with exception.

```File hdfs://abc.parquet has no partition data for partitioning column event_dt\```

Place from where this condition is checked:

[code]

[code]

If the similar data read from Spark, then its returning proper data, even though there is partition which has `null` value .

[2020-05-13 11:23] findepi commented on #3711
@brakmic thanks for letting us know!
Be sure to join the #dev channel on [our slack](https://prestosql.io/slack.html) too!

[2020-05-13 13:59] HernanMora opened #3719 "Elasticsearch IP field search enhancement"
Hi!

Since it is possible to query Ip fields in the following way:
[code]
It'd be interesting to make queries where you can search on a subnet in the way Elasticsearch does it:

Elasticsearch:
[code]
Presto:
[code]
Do you think this would be possible in the near future?

[2020-05-13 14:06] HernanMora commented on #3701
Thanks @findepi and @martint for helping me out! I've already created the issue (#3719)

[2020-05-13 14:11] martint commented on #3719
This is related to https://github.com/prestosql/presto/pull/110

To model this, we’d use a function, not an equality comparison. That also requires we add support for pushing  down functions into connectors (see https://github.com/prestosql/presto/issues/18) to be able to use Elasticsearch’s CIDR term queries.

[2020-05-13 14:24] findepi commented on #3705
error on my part, but generally `SystemAccessControl` and `ConnectorAccessControl` are (and need to remain) similar interfaces, as far as query control is concerned,
so my comment applies the same.

I am still not convinced such a general API is useful in a general case. I don't expect many implementations that would be DSL-backed and made "useful use" of such an API.
If the usages will be very li

[2020-05-13 18:27] tooptoop4 commented on #2913
logs from a single query:

2020-05-11T20:52:29.359Z	DEBUG	Query-20200511_205229_00695_eqfab-1102	io.prestosql.plugin.hive.metastore.thrift.ThriftHiveMetastoreClient	Invocation of get_table_req(req=GetTableRequest(dbName:power, tblName:curves, capabilities:ClientCapabilities(values:[INSERT_ONLY_TABLES]))) succeeded in 68.86ms
2020-05-11T20:52:29.496Z	DEBUG	Query-20200511_205229_00695_eqfab-1101	io.

[2020-05-13 18:54] awishnick commented on #3674
From what I can tell I'm hitting up against the user process limit, which was 5k, but I bumped it to 15k and then 32k. During this test I've observed presto's process tree having > 8k processes. This is on a 12 core machine. Is that expected?

[2020-05-13 19:14] martint opened #3722 "Improve predicate pushdown for JOIN ... USING"
A query such as:

[code]

is planned as:

[code]

For each type of join, we can infer that `coalesce(a, b) <> 'val'` if these conditions don't hold:

|       |                                       |
|-------|---------------------------------------|
| Inner | `left.k = 'val' AND right.k = 'val'`   |
| Left  | `left.k = 'val'`                       |
| Right | `right.k = 'val' `

[2020-05-13 20:26] hashhar opened #3723 "Caching doesn't work when enabled for multiple hive catalogs"
creating two hive catalogs with caching enabled causes Rubix to fail initialisation for the second catalog but allows Presto to start up successfully.

The stack-trace on PrestoSQL 333 (RPM build) is:

[code]

For additional context see https://prestosql.slack.com/archives/CGB0QHWSW/p1589392346340700

[2020-05-13 20:27] hashhar commented on #3723
As suggested by @losipiuk I'll try by providing a different config for rubix for each catalog and report here if it works under that configuration.

[2020-05-13 21:38] findepi commented on #2913
`get_table_req` is general "get me the table metadata" call. Without it, you know nothing about the table.

[2020-05-13 21:40] Parth-Brahmbhatt commented on #3716
PR posted https://github.com/prestosql/presto/pull/3725

[2020-05-13 21:41] findepi commented on #2913
Anyway, thanks @tooptoop4 for focusing on actual durations of individual operations.
We are not going to refactor `loadPartition` code to save 0.0001% of its performance (at the cost of increased code complexity).

I would close the issue and open a new one (or have discussion first) when you notice redundant _expensive_ calls.

[2020-05-13 22:41] imjalpreet commented on #3266
@findepi I can work on it. I wasn't sure about the priority of this so I did not proceed yet. Please let me know in case I should start working on the fix.

[2020-05-13 22:46] imjalpreet commented on #3594
@tooptoop4 as @electrum suggested that internal requests are always authenticated and this could have happened due to clock skew between the worker nodes and the coordinator, we won't have to fix this. In case you are also facing the same issue, maybe you can also verify whether the nodes are synchronized.

[2020-05-14 00:07] #2913 closed

[2020-05-14 02:03] qianmoQ opened #3726 "After the EQUAL operation is overwritten, Slice and long are used, and the latter bit is EQUAL to 8 bits to report an error #14519"
Version: 0.221

After the EQUAL operation is overwritten, Slice and long are used, and the latter bit is EQUAL to 8 bits to report an error!

source code

[code]

query sql:

[code]

table desc:

Column | Type
-- | -- |
uid | bigint |
ymd | varchar|

ymd is hive Partition the primary key

get errors:

[code]
right length > 8  and right < 8 no problem

[2020-05-14 02:37] xkwangcn commented on #1097
Hello, @groobyming @findepi ,  I met the same error, did you find a solution?
After I run `pip2 install sphinx`,  run `make clean html` can succeed, but the presto-docs build still failed. Could you give me some advice about the problem?
Thank you very much

[2020-05-14 05:56] frankobe commented on #64
@sopel39 I am happy to implement this however wonder any benchmark is available

[2020-05-14 06:02] ebyhr commented on #3677
Going to close this issue because it's already supported. Please reopen if you need help or you can ask such kind of question on the community Slack. https://prestosql.io/slack.html

[2020-05-14 06:02] #3677 closed

[2020-05-14 08:08] Anu-Renu commented on #3682
got the solution, by providing X-Presto-User parameter in GET request instead of POST request.

[2020-05-14 08:08] #3682 closed

[2020-05-14 08:37] sopel39 commented on #64
@frankobe I think you can use `BenchmarkHashAndStreamingAggregationOperators` as a base for benchmarks.

[2020-05-14 10:49] findepi commented on #1097
@xkwangcn can you please ask on #troubleshooting on [our slack](https://prestosql.io/slack.html)?

[2020-05-14 10:56] dannylinden commented on #611
Here also @tooptoop4

[2020-05-14 10:57] findepi opened #3728 "Validate operand types for operators like =, <, > or IS DISTINCT FROM"
An operator should be defined on a type, ie so both left and right operand types should be the same.

- I am confident this is how they should be defined according to the SQL spec
- we rely on this in many places in the planner and optimizer

Make sure it's not possible to register an operator function with operands of different types.

[2020-05-14 11:10] findepi commented on #3726
@qianmoQ an operator like equality (`=`, `OperatorType.EQUAL`), needs to operate on values of the same type (https://github.com/prestosql/presto/issues/3728)
If you want to compare varchar and numerical values, in SQL this would correspond to a "coercion".
Instead of defining a `varchar / bigint` EQUAL operator, you would modify coercion rules.
(In the code, this corresponds to `io.prestosql.type.

[2020-05-14 11:10] #3726 closed

[2020-05-14 11:26] findepi opened #3730 "Verify clock skewness between nodes"
Clock skewness between nodes can lead to subtle and hard to diagnose problems.
We should monitor and report if skewness is detected.

[2020-05-14 11:28] findepi commented on #3730
As we monitor workers from the coordinator, we could report current time.
We could then ensure `reported time BETWEEN time before request - grace AND time after request + grace` with very small "grace".

@electrum wdyt?

[2020-05-14 11:29] findepi commented on #3594
https://github.com/prestosql/presto/issues/3730

[2020-05-14 12:29] Yulei-Yang commented on #1076
@rushidmarne ignore this error, that does not matters.

[2020-05-14 13:06] sopel39 commented on #3626
[code]
https://github.com/prestosql/presto/pull/3729

[2020-05-14 13:46] sopel39 commented on #2435
another one: https://github.com/prestosql/presto/pull/3731/checks?check_run_id=674619571

[2020-05-14 15:20] xkwangcn commented on #1097
@findepi thanks for your reply, I created a slack account, but it seems that I can't join in `prestosql.slack.com` workspace, and can't find the channel `#troubleshooting`. Could you invite me to join them? my slack account email is `wangxinkecn@gmail.com`, username is `xinke wang`.
Could you give me the steps how to join? and after joined succeed, could I ask my question in the channel troublesho

[2020-05-14 15:45] haldes opened #3733 "Add Schema level access control to FileBasedSystemAccessControl"
Currently FileBasedSystemAccessControl control has catalogRules, queryAccessRules, impersonationRules and principalUserMatchRules. The proposal here is to add schema access rules to it. This will give more granular access controls over the datasets.

	At high level idea is to implement/enhance the below methods of FileBasedSystemAccessControl

	- checkCanDropSchema - Allow if user has access to ca

[2020-05-14 16:33] electrum commented on #1097
This link should work: https://join.slack.com/t/prestosql/shared_invite/enQtNTMyNzU2NzQ1NzQ4LWUyMjY4NTA0NWU0ZDlkMjM4Y2JhODdiZWZiZWQ2NDNhZDVhOGY5ZTk4NDY0OGIzOTE2YzI3YjhlMmUyNDJiNGM

[2020-05-14 16:34] electrum commented on #1097
You can find that Slack invite link using the “sign up” link here: https://prestosql.io/slack.html

[2020-05-14 19:27] hashhar opened #3737 "JMX connector fails with NoClassDefFoundError when querying metrics from rubix"
## Issue

Running a query like

[code]

results in the following stack trace:

[code]

## Repro

Setup a presto cluster and run the following to add a hive config and a jmx config

[code]

[code]

The start up presto cli as `presto --catalog jmx --schema current` and run the query mentioned at the beginning of the issue.

[2020-05-14 20:02] bolkedebruin commented on #3705
@findepi let's see. I'm not sure if a proxy class and dynamic class is cleaner and easier to understand tbh. But I am open for options.

[2020-05-14 20:08] findepi commented on #1977
https://github.com/prestosql/presto/runs/674974548

[2020-05-15 02:03] xkwangcn commented on #1097
success, thanks everyone～ @electrum @findepi

[2020-05-15 03:25] haldes commented on #3733
@findepi Thanks. Will send a PR soon. Can you assign this issue to me.

[2020-05-15 07:33] findepi commented on #3704
https://github.com/prestosql/presto/pull/3736 should fix it.

[2020-05-15 07:42] combineads opened #3741 "Timestamp decode needs default TimeZone of the system in elasticsearch connector"
@martint
Our presto uses `Asia/Seoul` TimeZone(GMT+09:00). When I query the timestamp data in elasticsearch, I get the value before 9 hours. How about using the system's default timezone?

https://github.com/prestosql/presto/blob/13a3c523f2739a2373c251697f6826daaf193266/presto-elasticsearch/src/main/java/io/prestosql/elasticsearch/decoders/TimestampDecoder.java#L72

[code]

Below my test code.
[co

[2020-05-15 07:57] findepi commented on #3741
is it supposed to represent a point in time, or a local date/time?

it looks we're interpreting as local date/time, but you expect this to be a point in time (java timestamp stored as number).
please confirm

for point in time we should map to `timestamp with time zone` actually (or https://github.com/prestosql/presto/issues/2273)

[2020-05-15 07:57] findepi opened #3742 "Fix timestamp mapping in Elasticsearch for non-legacy timestamp"
https://github.com/prestosql/presto/blob/13a3c523f2739a2373c251697f6826daaf193266/presto-elasticsearch/src/main/java/io/prestosql/elasticsearch/decoders/TimestampDecoder.java#L82

should use UTC for non-legacy timestamp semantics.

Relates to https://github.com/prestosql/presto/issues/3741

[2020-05-15 08:19] combineads commented on #3741
I expected timestamp as UNIX epoch milliseconds (UTC). @findepi

[2020-05-15 08:37] findepi commented on #3733
@haldes  thanks!
cc @kokosing

[2020-05-15 08:42] findepi commented on #3737
cc @stagraqubole

[2020-05-15 08:50] findepi commented on #3705
I agree, I am sure it is not. I am just trying to be helpful, suggesting other options.

[2020-05-15 09:50] sopel39 opened #3744 "Allow connector to provide better stats without fully consuming predicate"
Problem:
Let's assume we have query:
[code]
Let's assume that connector cannot filter data fully during read (e.g because `col` is not partition column). However, it might be possible that connector can provide better stats for `100 < col AND col < 1000` (e.g because we have column stats for each partition).
Currently, connector cannot provide such stats without fully consuming predicate `100 < co

[2020-05-15 09:54] kabunchi opened #3745 "Incorrect IN result for 0 vs -0 floating point comparison"
I wonder if this flow is considered as an issue or malformed json...
this is my json file:
[code]
this is my table:
[code]

this is what I get:
[code]

[2020-05-15 09:56] sopel39 commented on #3737
This shows that we also need to add product test for Rubix Caching

[2020-05-15 10:54] stagraqubole commented on #3737
This is happening because only the shaded version of `commons-lang` is available in Presto which has relocated namespace. Will fix this in Rubix along with checks for assumptions over other `provided` dependencies.

[2020-05-15 11:52] combineads commented on #3742
I use Phoenix and Elasticsearch connector, but there is a difference in the value of the timestamp column. Until the TIMESTAMP behavior of presto is decided, I try to solve this problem with the following code. Thank you for your efforts.
[code]

[2020-05-15 11:52] #3741 closed

[2020-05-15 12:35] findepi commented on #3745
`real` 0 and -0 are equal:

[code]

But `IN` doesn't return correct value:
[code]

[2020-05-15 12:36] findepi commented on #3745
@kabunchi thanks for reporting this. This is a bug in engine (not just in JSON). Please see the repro steps

[2020-05-15 12:40] findepi commented on #1559
@martint or, is our intention to let connector provide additional tables within `information_schema` schema?

[2020-05-15 13:45] #2716 closed

[2020-05-15 13:45] #3154 closed

[2020-05-15 13:53] findepi commented on #3626
[code]

https://github.com/prestosql/presto/pull/3743

[2020-05-15 13:58] Praveen2112 commented on #2716
@Svti Feel free to re-open this issue. If the issue still exists

[2020-05-15 13:59] Praveen2112 commented on #3154
@Svti Feel free to re-open this issue. If the issue still exists

[2020-05-15 14:40] sopel39 commented on #3489
PR: https://github.com/prestosql/presto/pull/3749
This PR will make Presto wait until Rubix initializes and fail-fast when Rubix fails to initialize for whatever reason.

[2020-05-15 15:30] findepi commented on #3489
how long can this be?

[2020-05-15 15:33] sopel39 commented on #3489
Until coordinator starts-up really.

[2020-05-15 16:10] mosabua opened #3751 "JDBC driver requires Java 8 and higher"
Need to add to the docs ..

[2020-05-15 18:55] #3385 closed

[2020-05-15 20:08] kabunchi commented on #3745
Followed the code a bit, I guess it's something like different hash value for -0.0 and 0.0 as if I understand correctly the InCodeGenerator is using HASH_SWITCH.

[2020-05-15 20:17] raunaqmorarka opened #3757 "Dynamic filters are not applied when there is a cast on join key"
`SELECT o.orderkey FROM orders o, lineitem l WHERE cast(l.orderkey as int) = cast(o.orderkey as int);`

Explain plan shows DF
[code]
We have the condition `if (descriptor.getInput() instanceof SymbolReference)` in `LocalDynamicFilter#create` which rejects dynamic filter expression with CAST.
Query executes correctly but without applying dynamic filters.

[2020-05-15 20:25] #3704 closed

[2020-05-15 22:09] martint commented on #1284
I've started working on this. I'm tracking additional research and approach here: https://github.com/prestosql/presto/wiki/Variable-precision-datetime-types

[2020-05-15 23:11] findepi commented on #3745
Here is a fix https://github.com/prestosql/presto/pull/3760

[2020-05-16 15:24] #934 closed

[2020-05-16 15:27] ebyhr commented on #3626
[code]
https://github.com/prestosql/presto/pull/1959

[2020-05-16 15:34] sundeeparun opened #3763 "Cassandra - Support pushdown for date, tinyint & smallint types"
Date data type support was added as part of https://github.com/prestosql/presto/pull/141 but it is not pushed down to Cassandra when Date is a partition key

`SELECT * FROM cassandra.testks.test
WHERE dateCol = date '2020-01-05'`

**Table Structure**

`CREATE TABLE testks.test
(
 dateCol date,
 textCol text,
 PRIMARY KEY (dateCol, textCol)
)`

When I looked at the Cassandra Connector code, we seem

[2020-05-16 17:11] #3745 closed

[2020-05-16 17:12] findepi commented on #3626
[code]

https://github.com/prestosql/presto/issues/3745 https://github.com/prestosql/presto/pull/3760

[2020-05-16 17:13] findepi commented on #3745
@kabunchi thanks again for your bug report.

[2020-05-16 17:43] tooptoop4 opened #3764 "Document compatible hive metastore/hadoop versions"
Current docs mention: "The Hive connector supports Apache Hadoop 2.x and derivative distributions including Cloudera CDH 5 and Hortonworks Data Platform (HDP)." and also some limitations for Hive 3.

They don't mention if following versions are supported:
Hive 1.x
Hive 2.x
Hadoop 3.x
Hive 0.14.0
.etc

[2020-05-16 18:38] findepi commented on #3764
Hive 1.x -- We test eg with CDH 5.15, which includes Hive 1.1 (+ Cloudera patches).
Hive 2.x -- supported
Hadoop 3.x -- supported
Hive 0.14.0 -- i think not supported (i dont think it's in use anyway, is it?)

[2020-05-17 01:30] sean-azoci opened #3765 "Support pushdown on row type column in MongoDB"
Hi. I am testing prestosql with mongodb connector.

I need to know if pushdown operation works on row type.
mongo table schema is below :
table : test
columns :
a, row type, row type schema : row ( varchar r_a, row r_b( varcher rr_a, int rr_b))
b, varchar type

If I try to query a select statement like
select *
from test
where b = 'a'
 and a.r_a = 'b';

pushdown works well on b column, but doesn't

[2020-05-17 06:01] haldes commented on #3733
@findepi @kokosing
PR raised. : https://github.com/prestosql/presto/pull/3766/

[2020-05-17 21:16] RosterIn commented on #2379
@findepi  @shandeep00
what is the blocker here?

[2020-05-18 09:06] ssquan opened #3769 "JsonResponse don’t contain any error information if the media type of response is not json"
For some reason, I wrote a proxy instead of using presto-proxy. I didn’t redirect the headers of response correctly first,  then presto CLI printed some errors with no real reason:

![image](https://user-images.githubusercontent.com/33539262/82193598-2e22de00-9928-11ea-9532-5c1bbd215440.png)

I found `JsonResponse` didn’t set exception here if the media type of HTTP response is not JSON :
https://

[2020-05-18 10:40] capacman commented on #2987
I built with latest snapshot it and the added javax.annotation and now presto can start. But when i query a table with like "select count(*) from movies" it says Access Denied: Cannot execute function count.  When i look at logs it says:
java.lang.NoClassDefFoundError: org/apache/zookeeper/server/ByteBufferInputStream

when try to write audit log to solr. I dont understand why it does not include

[2020-05-18 11:38] #3489 closed

[2020-05-18 11:39] sopel39 commented on #3626
[code]
https://github.com/prestosql/presto/pull/3749

[2020-05-18 18:21] brianolsen87 opened #3776 "Rename the hive-connector to a more generic name"
From my understanding, the hive-connector uses presto runtime to interact with orc, parquet, and avro files on filesystems such as S3 compatible object storage systems and distributed file systems. It can uses the hive-metastore to hold metadata about the tables it is querying or this can even be replaced using other metastore services such as AWS glue.

A few suggestions may be:
 - Filesystem Con

[2020-05-18 18:49] electrum commented on #3776
The Hive connector uses the Hive metadata model. Using a more generic name like “file system connector” would be worse, since it’s not generic but fundamentally relies on Hive metadata.

[2020-05-18 18:51] brianolsen87 commented on #3776
Isn't it possible to replace that with a metastore such as AWS glue? Making it a "hive-free" system?

[2020-05-18 20:01] electrum commented on #3776
Glue Data Catalog in an implementation of the Hive metastore. A user of the Hive connector should not see any differences in behavior, and still needs to understand Hive metadata concepts such as partitioning, bucketing, data types, etc.

[2020-05-18 20:17] brianolsen87 commented on #3776
Okay then that makes sense to maybe avoid going too generic and this is definitely an odd connector to name. But leaving the name as hive-connector definitely feels like a bit of a misnomer.

The majority of the connectors interact with some other sort of runtime related to the system that stores that data. As you point out this is partially the case with the hive connector since we use the hive m

[2020-05-18 20:40] electrum commented on #3776
I understand the confusion, but I think that's mainly because it is inherently complicated. You could think of the Hive connector as the "data lake" connector, but what's a data lake and what are the implications? You still need to explain the Hive metadata model and metastore requirements. Renaming also has a high cost and creates its own confusion.

[2020-05-18 21:30] brianolsen87 commented on #3776
Yeah I absolutely agree that this naming is inherently complicated. I do also agree with your points to keep the name hive connector. The frog book does a great job at covering those complexities as well and making its uses clear.

[2020-05-18 21:58] RonC-LL commented on #3558
Quick question so I'm clear: Is this being implemented only *after* pull request #3559 is implemented?  Thanks.

[2020-05-18 22:00] adamjshook commented on #3558
@RonC-LL Yes, #3559 doesn't address this issue.  It still needs support.  I'm hoping to take a look at it soon.

[2020-05-19 03:44] ebyhr opened #3781 "Flaky TestOracleIntegrationSmokeTest.testSelectInformationSchemaColumns"
ORA-12505, TNS:listener does not currently know of SID given in connect descriptor

Similar failure: https://github.com/prestosql/presto/actions/runs/108922785

[2020-05-19 03:46] nishantambastha opened #3782 "prestosql slack community"
Hi,
How do I get an invite for prestosql slack community. Thanks.

[2020-05-19 03:49] ebyhr commented on #3782
You can join from [sign up](https://join.slack.com/t/prestosql/shared_invite/enQtNTMyNzU2NzQ1NzQ4LWUyMjY4NTA0NWU0ZDlkMjM4Y2JhODdiZWZiZWQ2NDNhZDVhOGY5ZTk4NDY0OGIzOTE2YzI3YjhlMmUyNDJiNGM) in this page. https://prestosql.io/slack.html

[2020-05-19 04:23] ebyhr commented on #3782
Let me close this issue since I found you on Slack. Welcome!

[2020-05-19 04:23] #3782 closed

[2020-05-19 05:18] nishantambastha commented on #3782
Thanks!

[2020-05-19 08:12] eskabetxe commented on #3781
@ebyhr in the past when this happened, increasing the number of processes it is usually solved the problem..
now it has 500 processes, maybe we should raise that to a high value like 1000 or 5000

[2020-05-19 10:40] sopel39 commented on #3626
[code]
https://github.com/prestosql/presto/pull/3772

[2020-05-19 12:34] capacman commented on #2987
With latest patch i can make it work. I have hive->default->movies table. First i should gave execute for procedures and functions for all users. Then i created use/show/select for hive and then default and the for all tables under default. But to make it work i think you should give *->information_schema->*->* select for all users. Otherwise show tables are not working. If you want ide support i

[2020-05-19 14:09] mosabua commented on #3776
I was hoping to get some more overview documentation about the connectors and usage in catalogs going in the nearish future. That could include some guidance on what connector to look at for object storage/whatever we call it ..

In addition @electrum and myself are planning to break up the Hive connector docs since they have grown to much and that will have to include a good overview of use cases

[2020-05-19 14:42] sopel39 commented on #3494
Fixed by: https://github.com/prestosql/presto/pull/3772 (as it upgrades Rubix so that it has https://github.com/qubole/rubix/pull/368).

[2020-05-19 14:42] #3494 closed

[2020-05-19 14:50] sopel39 commented on #3524
@stagraqubole does https://github.com/qubole/rubix/pull/368 fix the issue?

[2020-05-19 15:33] stagraqubole commented on #3524
https://github.com/qubole/rubix/commit/87ae6e1f970e002a10e21e8827c40354bfdeeea8 has fixed it for Presto. This will not occur after rubix upgrade.

[2020-05-19 15:37] sopel39 commented on #3524
Fixed by: #3772 (as it upgrades Rubix so that it has qubole/rubix#368).

[2020-05-19 15:37] #3524 closed

[2020-05-19 15:46] findepi commented on #2598
https://github.com/prestosql/presto/pull/3787

-- we are making a copy of the image; would be nice to have a copy that you maintain on Docker Hub
or you can redirect users to use our copy :)

[2020-05-19 15:47] findepi commented on #2598
https://github.com/prestosql/presto/pull/3787

-- we are making a copy of the image; @bsideup  would be nice to have a copy that you maintain on Docker Hub
or you can redirect users to use our copy :)

[2020-05-19 15:59] bsideup commented on #2598
@findepi we're working on it :)

[2020-05-19 16:54] tovbinm commented on #2598
So the solution is to maintain a separate image on dockerhub? Who own's the Ryuk? Can the move to there?

[2020-05-19 21:18] mosabua commented on #3764
https://github.com/prestosql/presto/pull/3790

[2020-05-19 21:30] mosabua commented on #3471
I will take care of this in the linked PR.

[2020-05-19 21:41] bsideup commented on #2598
It is Testcontainers' sub-project:
http://github.com/testcontainers/moby-ryuk

Yes, the image will eventually (ETA: this week) be moved to Docker Hub.

[2020-05-19 23:09] tovbinm commented on #2598
thank you @bsideup

[2020-05-20 05:31] #2598 closed

[2020-05-20 10:45] tnatssb opened #3793 "Bigquery documentation error"
bigquery.credentials is mentioned in the doc but it's actually bigquery.credentials-key which is correctly mentioned further down in the page.

https://prestosql.io/docs/current/connector/bigquery.html

[2020-05-20 11:58] sopel39 opened #3794 "Fix RubiX support for Avro when avro.schema.url is not a URL"
`avro.schema.url` can be path on HDFS (not URL). When this is the case then Presto with enabled caching will fail with:
[code]
This should be fixed via: https://github.com/qubole/rubix/pull/386

[2020-05-20 12:41] #662 closed

[2020-05-20 13:50] findepi opened #3798 "Flaky test TestOracleDistributedQueries.testLargeIn"
[code]

https://github.com/prestosql/presto/runs/692325004?check_suite_focus=true

[2020-05-20 13:50] findepi commented on #3798
cc @eskabetxe

[2020-05-20 14:22] eskabetxe commented on #3798
@findepi this will be fixed in https://github.com/prestosql/presto/pull/3795

[2020-05-20 15:11] findepi opened #3800 "Support prepared statement parameters in LIMIT and OFFSET"
`LIMIT` and `OFFSET` currently expect an integer literal.

They could be updated to allow for `?`, a prepared statement parameter. This may be especially useful for JDBC users.

[2020-05-20 15:27] findepi commented on #2598
@bsideup thanks! let me know when the release is out so we can remove the override

[2020-05-20 16:39] mosabua opened #3802 "Update authenticator docs"
from @findepi  on slack

To configure authenticators, you need to add
http-server.authentication.type=PASSWORD
in the config.properties
and create the etc/password-authenticator.properties file

[2020-05-21 06:48] martint opened #3806 "Flaky TestRemoveUnsupportedDynamicFilters"
[code]

The tests use shared structures concurrently and are not thread-safe.

[2020-05-21 08:40] findepi commented on #3626
[code]

Note: the bug being fixed was introduced in 330. Before 330, CTAS with external was not possible at all.

https://github.com/prestosql/presto/pull/3755

[2020-05-21 11:34] #3806 closed

[2020-05-21 21:38] #1648 closed

[2020-05-21 23:49] martint commented on #1122
In order to implement recursive CTEs, we need support for:
1. temporary tables
2. multi-step query plans
3. (possibly), planning-execution loops, but we can work around this as explained further below.

Here's a short analysis of how recursive CTEs work. For a query such as:

[code]

The query is semantically equivalent to doing the following steps, where `f(x)` is the result of applying the recur

[2020-05-22 00:42] electrum opened #3811 "Improve handling of IF NOT EXISTS for CREATE SCHEMA"
`CreateSchemaTask` should ignore the `ALREADY_EXISTS` error from the connector `createSchema()` call, as is done in `CreateTableTask`.

[2020-05-22 02:31] mosabua opened #3812 "Clarify unnest and cross join behavior"
Copied from slack conversation with a user, @martint and @findepi :

Hello community,
I'm running a query with a select on a field "addresses" that is a nested array (we use the Elasticsearch connector) that returns all the records in the database, the records that have a value in the field and those that have a null value.
    select addresses from customer_contacts;
But, if I run this query but

[2020-05-22 10:22] findepi opened #3815 "Cannot start product test locally"
[code]

[code]

[2020-05-22 10:24] findepi opened #3816 "Remove testcontainers ryuk image override"
Revert https://github.com/prestosql/presto/pull/3787 when the official image is published to Docker Hub and we upgrade to testcontainers release using it

See @bsideup's https://github.com/prestosql/presto/issues/2598#issuecomment-631098613

[2020-05-22 10:29] findepi commented on #2598
i created https://github.com/prestosql/presto/issues/3816 as a followup

[2020-05-22 11:02] findepi opened #3819 "Hive external table has 0 rows estimate"
[code]

[code]

[code]

[2020-05-22 11:17] sopel39 commented on #3723
@hashhar did you test @losipiuk suggestion?

[2020-05-22 11:18] sopel39 commented on #3631
Fixed via: https://github.com/prestosql/presto/pull/3772

[2020-05-22 11:18] #3631 closed

[2020-05-22 11:24] sopel39 commented on #3525
Fixed via: https://github.com/prestosql/presto/pull/3729

[2020-05-22 11:24] #3525 closed

[2020-05-22 11:30] sopel39 commented on #3430
Closing as it's not normally expected that Rubix cache directory will be deleted outside of Presto

[2020-05-22 11:30] #3430 closed

[2020-05-22 11:40] sopel39 opened #3821 "Make JMX connector aggregate table list from all nodes"
Some JMX metrics might be available only on worker nodes. However, JMX connector aggregates tables list based on coordinator JMX metrics. In such case JMX connector cannot be used to get these metrics from workers because JMX connector tables for such metrics won't be listed.

[2020-05-22 12:17] #3815 closed

[2020-05-22 14:30] mosabua commented on #3812
This query
SELECT addresses FROM customer_contacts LEFT JOIN UNNEST(addresses) ON true
is really what I wanted. I tried the LEFT JOIN, but without the ON true and got an error, so I thought the UNNEST would only works with the CROSS JOIN.
Thank you very much everyone!

[2020-05-22 14:56] findepi opened #3822 "Flaky test TestHiveCaching.testReadFromCache"
[code]

cc @sopel39

[2020-05-22 14:56] findepi commented on #3822
https://github.com/prestosql/presto/runs/699832988

[2020-05-22 15:04] sopel39 commented on #3822
temp fix https://github.com/prestosql/presto/pull/3823

[2020-05-22 15:12] martint commented on #3626
[code]

#3587

[2020-05-22 15:14] martint commented on #3626
[code]

#2028

[2020-05-22 15:15] martint commented on #3626
[code]

#3614

[2020-05-22 15:16] martint commented on #3626
[code]

#3632

[2020-05-22 15:17] martint commented on #3626
[code]

#3718

[2020-05-22 15:18] martint commented on #3626
[code]

#3512

[2020-05-22 15:18] martint commented on #3626
[code]

#3311

[2020-05-22 15:22] martint commented on #3626
[code]

#3735

[2020-05-22 15:24] martint commented on #3626
[code]

#2672

[2020-05-22 17:52] #3751 closed

[2020-05-22 18:21] dain commented on #3626
[code]
#3714

[2020-05-22 20:01] hashhar opened #3827 "WebUI and JMX don't agree on number of queued queries"
I have a cluster with PrestoSQL 333 running and the WebUI and JMX metrics are showing different values for queued queries.

## Current Status According to WebUI

![WebUI](https://user-images.githubusercontent.com/10473142/82704326-ed61f680-9c92-11ea-91a2-c3fed4521e4e.png)

## Current Value of `presto.execution<name=QueryManager><>QueuedQueries`

![Now](https://user-images.githubusercontent.com/104

[2020-05-22 20:02] hashhar commented on #3827
Please let me know if any more information is needed to track this down.
Meanwhile I'll try to confirm if query cancellation is what is triggering this.

[2020-05-22 20:09] hashhar commented on #3827
# Reproduction Steps

1. Submit a query that takes enough time in planning.
2. Cancel the query (I did it from Redash in my case, not sure if it matters) while it is in **PLANNING**.
3. Observe the `presto.execution<name=QueryManager><>QueuedQueries` JMX metric increment by 1.

**NOTE: This only happens when a query in PLANNING gets cancelled. A running query being cancelled doesn't trigger this.*

[2020-05-22 20:26] #3695 closed

[2020-05-22 21:11] #1323 closed

[2020-05-22 21:12] findepi commented on #3626
[code]

https://github.com/prestosql/presto/issues/1323  https://github.com/prestosql/presto/pull/3754

[2020-05-22 21:17] findepi commented on #3626
[code]

#3581

[2020-05-22 21:18] findepi commented on #3626
@sopel39  please verify RNs for

05-18 14:41:16 c2d3421 Add cache write test
05-18 14:44:30 1d256a2 Update Rubix version to 0.3.9
05-18 14:44:30 28b6425 Allow Rubix caching for all Azure filesystems
05-18 14:44:30 9afc43f Remove unused method
05-18 14:44:30 f7e9c44 Allow Rubix caching for HDFS filesystem

[2020-05-22 22:29] ArvinZheng opened #3829 ""Compiler failed" when aggregation is used as an argument to format()"
`format` function was added in `315` but it doesn't support aggregations in the expression (and the doc doesn't mention aggregation is not supported, maybe we should consider adding this to the doc for now).

[code]

I ran above  query in `317` and got
[code]

Also tried this in current `master`, got
[code]

To achieve what we want, I had to create sub-query as follows
[code]

[2020-05-22 23:22] sopel39 commented on #3822
Fixed via: https://github.com/prestosql/presto/pull/3823

[2020-05-23 01:43] #3798 closed

[2020-05-23 07:22] findepi commented on #3829
[code]

[2020-05-23 08:55] ebyhr opened #3831 "Objects in hidden schema appear on information_schema in JDBC based connector"
After filtering `sys` in MySqlClient.listSchemas.
[code]

[code]

Even after filtering Oracle internal schemas in #3784, the TestOracleIntegrationSmokeTest.testSelectInformationSchemaColumns will take about 10min due to many system tables.

[2020-05-23 10:48] tooptoop4 commented on #3649
commenting out https://github.com/prestosql/presto/blob/333/presto-main/src/main/java/io/prestosql/server/security/ServerSecurityModule.java#L51 did not solve it :(

[2020-05-23 11:39] findepi commented on #3831
This is insufficiency in that PR, not engine thing. I will comment there.

[2020-05-23 16:11] electrum commented on #3649
We have a fix in progress for this.

[2020-05-23 20:22] sopel39 commented on #3626
@findepi they are all accounted for: https://github.com/prestosql/presto/issues/3626#issuecomment-630737781

[2020-05-23 23:35] #2915 closed

[2020-05-25 03:13] caneGuy commented on #396
really support an open source version operator

[2020-05-25 09:42] #3624 closed

[2020-05-25 09:43] findepi commented on #3626
[code]

https://github.com/prestosql/presto/pull/3627

[2020-05-25 09:47] #3819 closed

[2020-05-25 09:48] findepi commented on #3626
[code]

https://github.com/prestosql/presto/issues/3819

[2020-05-25 09:50] DerekRen opened #3841 "View owner 'hive' cannot create view that selects from"
tags：333

hive.properties ：

hive.security=file
security.config-file=/opt/cloudera/parcels/presto/etc/catalog/hive_auth

hive_auth:
{"tables": [{"privileges": ["SELECT", "INSERT", "DELETE", "OWNERSHIP"], "user": "hive"}, {"privileges": ["SELECT", "INSERT", "DELETE","VIEW", "OWNERSHIP"], "user": "derek"}]}

use hive,support  hive view;
use derek,not support hive view;

[2020-05-25 10:37] losipiuk commented on #3827
Queued counter is only decreased in https://github.com/prestosql/presto/blob/4e5e258d16546a0c8bb9da4c3ad891a1e38b5a79/presto-main/src/main/java/io/prestosql/execution/QueryManagerStats.java#L74.
This is being called when query enters `RUNNING` state (https://github.com/prestosql/presto/blob/4e5e258d16546a0c8bb9da4c3ad891a1e38b5a79/presto-main/src/main/java/io/prestosql/execution/QueryManagerStats.

[2020-05-25 10:41] #3793 closed

[2020-05-25 12:18] findepi commented on #3597
Removed `good first issue` label because of

[2020-05-25 12:48] #3220 closed

[2020-05-25 12:53] ebyhr commented on #3626
[code]
https://github.com/prestosql/presto/pull/3771

[2020-05-25 16:05] mosabua commented on #3707
PR was merged by @electrum

[2020-05-25 16:06] #3707 closed

[2020-05-25 16:08] mosabua commented on #3471
Done.

[2020-05-25 16:09] mosabua commented on #2813
Closing. PR was merged.

[2020-05-25 16:09] #2813 closed

[2020-05-25 16:10] mosabua commented on #2623
This is all done.

[2020-05-25 16:10] #2623 closed

[2020-05-25 16:11] #3764 closed

[2020-05-25 16:11] mosabua commented on #3764
PR merged.

[2020-05-25 17:33] tooptoop4 commented on #3471
@mosabua there is "Google Cloud Storage Configuration" section but  no section on configuring azure

[2020-05-25 17:44] mosabua commented on #3471
I thought you just meant the mention of Azure in the overview.

[2020-05-25 17:46] mosabua commented on #3471
Here is the change that now mentions Azure. https://github.com/prestosql/presto/commit/d91c816cd019e7e6d1a6d908caf055d79ca3cbe9
This will go live with 334 publishing .. probably later this week.

[2020-05-25 17:48] mosabua commented on #3471
We will have to look what to add with regards to specific properties.

[2020-05-25 19:05] kokosing commented on #3626
[code]
#3629

[2020-05-25 21:29] martint opened #3845 "Incorrect cast between time -> timestamp"
[code]

Per the SQL spec, the result of casting a value to type TIME to TIMESTAMP should be a TIMESTAMP with the year/month/date components set to the result of CURRENT_DATE.

The same rule applies to cast from time with time zone to timestamp with time zone:

[code]

[2020-05-25 21:35] martint opened #3846 "Incorrect value returned by localtime"
[code]

It appears that the value of `localtime` is being affected by daylight savings offset.

[2020-05-25 23:20] hashhar commented on #1882
@sopel39 Should this be done in a similar manner as it is done for presto-server by introducing a new maven module? Or should I add an execution within the presto-cli module to create the rpm as an artifact?

[2020-05-25 23:56] hashhar commented on #3723
@sopel39 Sorry for the delay in getting back to this. Yes, I was able to configure different caching directories and different book-keeper and data-transfer ports for each catalog and then Rubix works without any issues with multiple catalogs.

I think we can resolve this by highlighting in the documentation that each hive catalog needs it's own Rubix config.

[2020-05-26 07:26] findepi opened #3848 "Incorrect cast from timestamp to time"
[code]

Relates to https://github.com/prestosql/presto/issues/3926

[2020-05-26 07:34] findepi opened #3850 "Incorrect value returned by current_time"
[code]

[2020-05-26 07:44] findepi commented on #3846
Same for `current_time` -- https://github.com/prestosql/presto/issues/3850

See
https://github.com/prestosql/presto/blob/7ff3ace9e84848943e4dbc232a9162fa14998d72/presto-main/src/main/java/io/prestosql/operator/scalar/DateTimeFunctions.java#L112-L118

even though `time with time zone` is "the same" for both semantics, we were consciouly not fixing function result for legacy semantics (to avoid brea

[2020-05-26 07:55] sopel39 commented on #3723
Ok. I'm closing this ticket.

@mosabua Could you address that?

[2020-05-26 07:55] #3723 closed

[2020-05-26 07:57] sopel39 commented on #1882
I think it should be the simplest way possible. IMO we could keep it in `presto-cli` module (@electrum ?). We separated dedicated module for Presto server RPM so that we can exclude that module when not needed as it takes time to build. Build presto-cli RPM should be much quicker.

[2020-05-26 10:39] sopel39 commented on #3626
[code]
https://github.com/prestosql/presto/pull/3843

[2020-05-26 12:12] stormrise opened #3852 "reboot server cause hive-hadoop2 plugin aws*.jar missing, NoClassDefFoundError"
when reboot server, this class not found problem will appear, seems that the hive-hadoop2 plugin aws*.jar don't know somehow missing or deleted by others, reboot or shutdown will cause the problem, and it happens very often. To solve this, currently need to manually copy from original backups.

below is the log:
[code]

I dont know its a bug or something else.

[2020-05-26 12:32] arghya18 commented on #3744
Hi.. not sure if we can we prioritize this please.

[2020-05-26 14:26] mosabua commented on #3723
Well.. there is no documentation in prestosql yet. I will raise priority on this.

[2020-05-26 14:59] ssquan opened #3855 "Use python:slim as the base docker image and install JRE instead of JDK"
The current size of the docker image is about 1G, it's a little bit big for production. I have two suggestions:

1. Change the base docker image from centos to python:3-slim. Slim is smaller than Centos and many systems use it in the production environment.
2. Use JRE instead of JDK.

I have tested locally, the size of image will be 760M after these two changes.

By the way, we can use docker mult

[2020-05-26 18:48] #3650 closed

[2020-05-26 18:56] dain commented on #3852
Presto's plugin loading is very simple.  We list the files in the plugin's directory and add them to a class loader, so something would have had to happen to the local files in your install when rebooting for this to start failing.  To debug this, I would compare plugin's path (printed when Presto starts) against what you expect, and what is actually on the file system.

[2020-05-26 19:28] martint commented on #3855
What image are you looking at? The size of recent images is ~600 MB according to dockerhub: https://hub.docker.com/r/prestosql/presto/tags

Regarding the use of JRE, Presto needs a full JDK, so that probably won't work. Also, the JRE is being phased out -- there are no public builds of a JRE anymore (that I can find, aside from that docker image), and in the future, Oracle may even stop producing

[2020-05-27 01:51] martint commented on #1284
Here's the PR for adding `timestamp(p)` type. It's almost ready to go -- just need to finish adding a bunch of tests.

[2020-05-27 02:18] stormrise commented on #3852
Thanks for your reply
I have checked the path, in `server.log` it shows in `/mnt/disk10/presto/data/plugin` and it actual a ln to original plugin path `plugin -> /root/presto-server/presto-server-333/plugin` , when last time i fix this problem, I know it's loading jars from the folder, so I compared the hive-hadoop2 folder and the original download tar, found the missing of aws*.jar. I copied and

[2020-05-27 03:50] ssquan commented on #3855
@martint  Thanks.

the size of images is ~600M after compression and 1.03G before compression.
[code]

OpenJDK is ~300M, Presto is ~450M, and OS is ~300M. it's reasonable, I will close this issue.

[2020-05-27 03:50] #3855 closed

[2020-05-27 05:35] electrum commented on #3855
If you want to build your own image, you can remove connectors you don’t use, start with a smaller OS image, etc. We use a standard CentOS image since it’s generic and makes it easier to install debug tools or modify as needed. The provided Docker image is meant to be useable by anyone, especially  for demos or getting started, not optimized for any specific use case.

Don’t use Alpine or similar,

[2020-05-27 09:06] findepi opened #3861 "Flaky test TestRubixCaching.testLargeFile"
[code]

[2020-05-27 09:06] findepi commented on #3861
https://github.com/prestosql/presto/runs/712025156

[2020-05-27 09:15] sopel39 commented on #3861
Fix: https://github.com/prestosql/presto/pull/3862

[2020-05-27 10:20] sopel39 opened #3864 "Revert https://github.com/prestosql/presto/pull/3863 after https://github.com/qubole/rubix/pull/393"
https://github.com/prestosql/presto/pull/3863 should be reverted after https://github.com/qubole/rubix/pull/393 is merged to Rubix and such Rubix release is used in Presto

[2020-05-27 20:11] theoretical-olive opened #3866 "Support INSERT in Google Sheets connector"
Currently, read operations work as expected.
Need ability to insert into a gsheet or table.

[2020-05-27 21:03] hashhar opened #3868 "Use only first char from escapeChar table property to be consistent with Hive"
On Presto with hive connector enabled running the following:

[code]

results in:

[code]

See https://prestosql.slack.com/archives/CGB0QHWSW/p1590602983180000?thread_ts=1590602983.180000&cid=CGB0QHWSW for additional context and discussion.

[2020-05-27 21:06] parambole commented on #3866
@theoretical-olive I will be working on this issue.

[2020-05-27 22:09] tooptoop4 commented on #3684
cannot replicate anymore

[2020-05-27 22:09] #3684 closed

[2020-05-28 03:52] #3829 closed

[2020-05-28 03:53] martint commented on #3626
[code]

#3829

[2020-05-28 05:46] #3716 closed

[2020-05-28 07:35] kokosing commented on #3868
From attached slack discussion:

[2020-05-28 09:17] #3861 closed

[2020-05-28 11:06] #3846 closed

[2020-05-28 11:06] #3850 closed

[2020-05-28 11:08] findepi commented on #3626
[code]

https://github.com/prestosql/presto/pull/3849 https://github.com/prestosql/presto/issues/3846 https://github.com/prestosql/presto/issues/3850

[2020-05-28 12:07] tooptoop4 opened #3872 ""Query not found" clicking on query details in web UI even with "Query Rules - view" rule"
I have query_rules.json:
[code]

access-control3.properties:
[code]

config.properties:
[code]

I have verified that:

1. userA can:

- only see their own queries in system.runtime.queries
- only see their own queries in list on web UI
- clicking on queryid in web UI to get more details for their queries works

2. mysuperacc can:
-  see all queries in system.runtime.queries
-  see all queries in l

[2020-05-28 12:23] tooptoop4 commented on #3872
maybe ranger issue

[2020-05-28 12:23] #3872 closed

[2020-05-28 18:27] electrum commented on #3626
[code]
#3724

[2020-05-28 18:28] electrum commented on #3626
[code]
#3803

[2020-05-28 18:29] electrum commented on #3626
[code]
#3804

[2020-05-28 18:30] electrum commented on #3626
[code]
#2321

[2020-05-28 18:30] electrum commented on #3626
[code]
#3702

[2020-05-28 22:14] electrum commented on #3816
This seems to be addressed in https://github.com/testcontainers/testcontainers-java/commit/fe2102a99ce323a1fa00913104954264bda44a86

We will need to wait for the next testcontainers release.

[2020-05-28 22:59] tooptoop4 opened #3878 "Behavior of 2 access control of type file should be documented"
Multi access control settings:

access-control.name=file and access-control.name=file is silently accepted but easy to cause issues. ie I had 1 json for query rules (exec/kill/view) and another json for impersonation rules. Would get denied result when trying impersonation (I guess the code assumes deny unless all controls provide allow), since the json for query rules did not have impersonation a

[2020-05-29 07:42] ringtail commented on #396
@Jeffwan We are designing presto operator for kubernetes native. And the key factor is autoscaling. We can bring the design as a proposal to be reviewed.

[2020-05-29 13:30] kishoreduraisam opened #3879 "cannot seem to query an array from presto"
I have a parquet file whose schema for a particular attribute looks like this
  optional group search_product_ids (LIST) {
    repeated binary array (UTF8);
  }
I have declared this column in my hive table as 'search_product_ids ARRAY<STRING> '. When I query this table in presto I am getting the error 'The column search_product_ids is declared as type array<string>, but the Parquet file declares t

[2020-05-29 18:19] awishnick opened #3883 "Cannot use lambdas or reduce_agg with window functions"
This query doesn't work:

[code]

Results in the error "Lambda expression should always be used inside a function"

[code]

See also https://github.com/prestodb/presto/issues/13397

[2020-05-29 20:06] Asturias-sam opened #3884 "How to Use UNNEST For Arrays Of Arrays in BigQuery connector"
I am running below query in Presto:
[code]
I am getting the following error:

Presto error: Unhandled type for Block:

[code]
As you can see for item is having an array shelfCapacity inside it, how to unnest this type of array where you have array inside array ?

[2020-05-29 21:09] #3626 closed

[2020-05-29 21:14] martint commented on #3884
Can you paste the complete stacktrace and the schema of your table?

[2020-05-30 02:33] som2014 commented on #3884
@martint  On Presto Cli on just getting the able error using the above query.
I used this command show columns from table;
below is items description

[code]
-- | --

[2020-05-30 03:07] som2014 commented on #3884
@martint i have updated the stack trace but this query run fine in big query:

[code]

[2020-05-30 03:13] martint commented on #3884
Thanks. That appears to be a bug in the BigQuery connector.

@davidrabinowitz, is this something you can look into?

[2020-05-30 04:27] davidrabinowitz commented on #3884
@som2014 Can you please add the schema of the BigQuery table?

[2020-05-30 04:34] som2014 commented on #3884
Below is the details:

[code]

[2020-05-30 04:57] martint opened #3886 "Release notes for 335"
## Dain Sundstrom
- [x] all checked
-  05-30 13:14:42    0abb2c8c5d Use adaptation in function invoker provider
-  05-30 13:14:42    67291d1e93 Use InterpretedFunctionInvoker in ExpressionOptimizer
-  05-30 13:14:42    7126b89acf Add ScalarFunctionAdapter
-  05-30 13:14:42    79318c607d Replace getScalarFunctiontImplementation with getScalarFunctionInvoker
-  05-30 13:14:42    7b6768d759 Make Func

[2020-05-30 11:22] tooptoop4 commented on #3503
similar to https://github.com/prestosql/presto/issues/3031 which has DISTINCT

[2020-05-30 12:33] tooptoop4 opened #3888 "Support for XPath functions"
Both Spark and Hive support XPath functions:

https://cwiki.apache.org/confluence/display/Hive/LanguageManual+XPathUDF
https://github.com/apache/hive/tree/master/ql/src/java/org/apache/hadoop/hive/ql/udf/xml

https://spark.apache.org/docs/2.3.0/api/sql/index.html
https://github.com/apache/spark/blob/master/sql/catalyst/src/main/java/org/apache/spark/sql/catalyst/expressions/xml/UDFXPathUtil.java
h

[2020-05-30 17:09] tooptoop4 commented on #3313
https://github.com/apache/hive/blob/master/ql/src/java/org/apache/hadoop/hive/ql/udf/generic/GenericUDFTranslate.java

[2020-05-30 19:38] tooptoop4 opened #3889 "Support for Phonetic functions"
Both Drill and Oracle support Soundex:

https://drill.apache.org/docs/phonetic-functions/
https://docs.oracle.com/cd/B19306_01/server.102/b14200/functions148.htm

https://github.com/apache/drill/blob/master/contrib/udfs/src/main/java/org/apache/drill/exec/udfs/PhoneticFunctions.java

[2020-05-30 21:16] #3883 closed

[2020-05-30 21:17] martint commented on #3886
[code]

#3885

[2020-05-30 23:05] tooptoop4 commented on #3620
https://github.com/combineads/plugin-presto-netezza might be a base

[2020-05-31 02:17] hashhar commented on #3868
Huh, the fix looks too simple to work. It passes tests locally.

For reference for existing Hive behaviour see https://github.com/apache/hive/blob/master/serde/src/java/org/apache/hadoop/hive/serde2/OpenCSVSerde.java#L98-L106.

Looking into adding some tests for this new behaviour. Also, should we log when we come across csvSerdeProperties > 1 char?

[2020-05-31 08:09] codekaust commented on #2481
Any updates on this issue @academy-codex @tooptoop4 ?
This connector will be of great help.

[2020-05-31 11:10] tooptoop4 commented on #2481
https://github.com/prestosql/presto/pull/3105 is better than this

[2020-06-01 03:42] tchunwei commented on #2895
I am facing this issue also, did you figure out what's wrong with this ?

[2020-06-01 04:23] electrum commented on #2895
@tchunwei can you file a new issue with more details?

[2020-06-01 04:23] electrum commented on #2895
Or ask on Slack: https://prestosql.io/slack.html

[2020-06-01 05:16] tchunwei commented on #2895
Just found out the changes in this commit.
https://github.com/prestosql/presto/commit/ff6d3e1e7343e7af1caac6ff352562d90277dfca#diff-0234c2f38498b581aa3eadc5f9302715
`/v1/cluster` has been moved to `/ui/api/stats`, after changing the url it does work properly now.

[2020-06-01 06:10] som2014 commented on #3884
@davidrabinowitz  is this a bug  any work around ?

[2020-06-01 07:17] ebyhr commented on #3884
@som2014 Can you share the simple steps to reproduce? e.g. CREATE TABLE and INSERT statement

I sent an invitation for the community Slack so that we can talk quickly: https://prestosql.io/slack.html

[2020-06-01 07:19] tchunwei commented on #3661
This config work for me, version 334
[code]

[2020-06-01 08:03] kokosing commented on #3886
[code]

#3535

[2020-06-01 08:05] kokosing commented on #3052
@lhofhansl Would you like to work on this?

[2020-06-01 09:33] dekelev opened #3894 "Optimizer timeout error when querying Cassandra table with indexes"
The following example will end up with query optimizer timeout error during Presto's query prepare phase:

[code]

Error Type | INTERNAL_ERROR
-- | --
Error Code | OPTIMIZER_TIMEOUT (65556)
Stack Trace | io.prestosql.spi.PrestoException: The optimizer exhausted the time limit of 180000 ms 	at io.prestosql.sql.planner.iterative.IterativeOptimizer$Context.checkTimeoutNotExhausted(IterativeOptimizer.

[2020-06-01 10:27] codekaust commented on #752
This solved the issue for me @electrum, if that's the case for most of us, please add it to deployment documentation.

[2020-06-01 10:28] losipiuk commented on #3894
Thanks for the report.

Is it a regression in 334 and used to work before. Not sure how familiar you are with Presto development, but If it is a regression, would it be possible for you to binary search the commit space and find the commit which introduced it?

[2020-06-01 12:08] dekelev commented on #3894
I'm not familiar with Presto development (yet). I do see the same behavior in Presto v333.

[2020-06-01 12:35] findepi commented on #752
@codekaust thanks. This is already part of the docs -- https://prestosql.io/docs/current/installation/deployment.html#jvm-config
Please let me know if you see other places in docs which would require an update.

[2020-06-01 12:42] ebyhr commented on #3894
Confirmed this issue happens on version >= 304.

[2020-06-01 13:21] kokosing commented on #3886
[code]
#3766

[2020-06-01 14:02] #3431 closed

[2020-06-01 14:06] findepi commented on #3886
[code]

#3431 https://github.com/prestosql/presto/pull/3830

[2020-06-01 14:51] tooptoop4 commented on #3661
@tchunwei I want multiple LDAP users to access the UI not just single user

[2020-06-01 15:16] davidrabinowitz commented on #3884
@som2014 I'm checking this out. Will update when I have more details.

[2020-06-01 20:17] lxynov opened #3898 "Dome"

[2020-06-01 20:52] lxynov commented on #3898
In order to resolve this, I feel we might have to revert the changes in https://github.com/prestosql/presto/pull/1812 although the reversion will make it inefficient to drop a large number of partitions. @rohangarg , @electrum , @sopel39 , could you comment on this?

[2020-06-01 21:24] findepi commented on #3898
@lxynov let me rephrase to check whether i understand. We delete two partitions:
[code]

and the metastore does equivalent of `rmdir -p A=val_a/B=val_b1` and `rmdir -p A=val_a/B=val_b2` (in threads, because we call it in threads).
The ordering of events can cause both threads to realize `A=val_a/` is now empty and should be removed.
Am i correct?

Since partition deletions can be caused by differe

[2020-06-01 22:36] davidrabinowitz commented on #3884
Hi @som2014 I'm afraid I cannot reproduce the issue. Based on the schema you have given I've created the following table:
[code]
I've added couple of record to it and ran a simple select *:
[code]

I then ran your query,
[code]
and got this result:
[code]

BTW, please note that this schema does not contain an array of arrays, but an array of structs, containing other structs. Can you provide more

[2020-06-02 02:38] caneGuy commented on #391
Is this feature already planned?

[2020-06-02 04:24] som2014 commented on #3884
Current Presto Version : 333

Sample Data which i am getting the above error :
[code]

[2020-06-02 05:23] davidrabinowitz commented on #3884
Thanks for that. It seems that the schema is a bit different, for example `location` has 4 fields rather than 2 . Can you please send the full schema so I can test this?

[2020-06-02 05:44] som2014 commented on #3884
@davidrabinowitz  sorry for that i thought the problem was having nested structure inside the structure so i simplify the schema , will share it soon.

[2020-06-02 06:45] som2014 commented on #3884
Below is schema :

items | RECORD | REPEATED |   |  
-- | -- | -- | -- | --
items. item | RECORD | REQUIRED |   |  
items.item. departmentNumber | INTEGER | NULLABLE |   |  
items.item. description | STRING | NULLABLE |   |  
items.item. itemNumber | INTEGER | NULLABLE |   |  
items.item. primeItemNumber | INTEGER | NULLABLE |   |  
items.item. gtin | STRING | NULLABLE |   |  
items.item. primeGti

[2020-06-02 09:51] rohangarg commented on #3898
I checked and HMS does try to delete empty parents for a partition directory ([here](https://github.com/apache/hive/blob/55ab407da05eed1991758ee9baa7cca9d1412ed1/standalone-metastore/metastore-server/src/main/java/org/apache/hadoop/hive/metastore/HiveMetaStore.java#L4775)). Also, the hive dir. deletion part tries to ignore FNFE but the exception a lot of times isn't captured/passed properly in the

[2020-06-02 10:21] hashhar commented on #1882
I tried implementing this and it turns out Maven/Plugins doesn't provide an easy way/recommend to use the artifact of a module as input within the same module.

I'm now implementing it similar to how `presto-server-rpm` is implemented, `presto-cli-rpm` will use `provisio` to use the executable jar as an input artifact and then add that to an RPM using the existing RPM plugin used in `presto-server

[2020-06-02 10:24] findepi commented on #3879
Can i suggest we move this conversation to `#troubleshooting` channel on our slack (https://prestosql.io/slack.html)?

[2020-06-02 10:35] findepi commented on #3046
Let me close this. If you're still having problem, let's talk on #troubleshooting on our slack.

[2020-06-02 10:35] #3046 closed

[2020-06-02 15:22] lxynov commented on #3898
Thanks @findepi for the comment. Yes your description is accurate. And I think your argument is valid. Ideally HMS should be able to handle such cases.

Thanks @rohangarg for looking into this. Good to know that hive does try to ignore FNFE when deleting directories. We're running Hive 1.2 so the behavior might be different than the latest one. Thanks for your suggestions on `skipTrash` and `hive.

[2020-06-02 17:05] sopel39 opened #3907 "Remove PrestoClusterManager from Presto once it's part of Rubix caching"

[2020-06-02 19:01] tooptoop4 commented on #3661
in v1/jmx/mbean i can see QueuedQueries and RunningQueries but nothing about BlockedQueries

[2020-06-02 19:13] sopel39 commented on #3635
another one: https://github.com/prestosql/presto/pull/3874/checks?check_run_id=731788352

[2020-06-02 19:40] tooptoop4 commented on #3827
also facing the issue, i never cancelled any queries but jmx says 3, ui says 0

[2020-06-02 21:34] davidrabinowitz commented on #3884
I've taken ran Prestosql 333 with a table using your data. Unfortunately I couldn'r reproduce this bug:
[code]
And the second query:
[code]

@martint any idea on how to proceed?

[2020-06-03 03:14] fs-rd-anish-dey commented on #2600
Even I am facing the same issue on presto 0.227.
how to set pages-index.eager-compaction-enabled=true?

[2020-06-03 08:28] Lewuathe commented on #3800
We parse the parameter for the prepared statement as a type of expression. Do we need to support all types of expressions in `LIMIT` and `OFFSET` in general? Or just supporting parameter (`?`) is sufficient?

[code]

[2020-06-03 09:46] sopel39 commented on #1882
I think it's a good idea

[2020-06-03 09:57] findepi commented on #3800
Only constant number (as it is today) or `?` is sufficient.

[2020-06-03 12:00] ssquan opened #3914 "The memory pool information of workers in web has a negative number"
![image](https://user-images.githubusercontent.com/33539262/83633849-2aec4b00-a5d4-11ea-8eea-1e4a6a5a74cc.png)

[2020-06-03 12:56] sopel39 commented on #3886
[code]
https://github.com/prestosql/presto/pull/3874

[2020-06-03 13:16] sopel39 commented on #3886
[code]
https://github.com/prestosql/presto/pull/3913

[2020-06-03 14:38] Boomxiakalakaka opened #3915 "prestosql support IPv6？"
Does prestosql support IPv6？

[2020-06-03 15:37] dain commented on #3915
Yep.  Presto has been run in pure v6 data centers, but it is possible some of the stuff Presto connects to doesn't fully support v6.  Please, let us know if you find any issues.

[2020-06-03 15:46] Boomxiakalakaka commented on #3915
Thank you very much, when prestosql version of IPv6 is supported from？
we use the prestosql 316

[2020-06-03 16:06] dain commented on #3915
It was several years ago... long before 316

[2020-06-03 16:25] lhofhansl commented on #3167
Closing this.

This is now implemented via a new table `information_schema.role_authorization_descriptors`, which allows both the equivalent of `SHOW ROLE GRANTS TO` and `SHOW PRINCIPALS role`
See #3535

[2020-06-03 16:25] #3167 closed

[2020-06-03 17:53] dain commented on #3915
If you find any issues, please open a new issue.  Thanks.

[2020-06-03 17:53] #3915 closed

[2020-06-03 18:18] electrum opened #3917 "Add reverse function for varbinary"
This should work like the varchar version, but for binary strings. The code goes in `VarbinaryFunctions` and the documentation in `binary.rst`.

[2020-06-04 03:35] qianmoQ opened #3919 "hive Partition location does not exist:"
How do I ignore partitions without data

[2020-06-04 06:57] findepi commented on #3919
@qianmoQ you can add this to your catalog properties file:
[code]

[2020-06-04 06:57] #3919 closed

[2020-06-04 06:57] findepi commented on #3919
Also, i invite you to our [slack](https://prestosql.io/slack.html). it's a more interactive place for how-to questions.
See you there!

[2020-06-04 07:06] #2964 closed

[2020-06-04 09:46] sopel39 commented on #3886
[code]
https://github.com/prestosql/presto/pull/3840

[2020-06-04 20:24] JamesRTaylor commented on #3116
This is a duplicate of #3396.

[2020-06-04 20:24] #3116 closed

[2020-06-04 20:38] JamesRTaylor commented on #651
Any update on this issue, @Praveen2112?

[2020-06-04 20:48] JamesRTaylor opened #3925 "Prune projected nested columns through UNNEST"
When CROSS JOIN UNNEST is used to access some columns within an array of rows, the entire row is projected as opposed to only the subset of columns based on the references. For example:

    create table nest_test(id int, a array(row(x varchar, y varchar))) WITH (format='PARQUET')"
    select x from nest_test cross join unnest(a)

Only `a.x` should be projected, but currently all columns of `a` ar

[2020-06-04 23:57] martint opened #3926 "Incorrect value for cast from timestamp w/tz to time"
When legacy_timestamp = true,

For TIME:
[code]

For TIME WITH TIME ZONE:
[code]

Relates to https://github.com/prestosql/presto/issues/3848

[2020-06-05 00:22] phd3 commented on #3925
@JamesRTaylor I think there're multiple steps to this one:

1) Prune unnest fields in UNNEST node. This is similar to pruning symbols for single-level nesting. For multi-level nesting, this is more like pushing down dereferences.
for example, convert
[code]
to

[code]
Here E is completely pruned, and A.B.C is extracted from A.

2) Push this array transformation as far down as possible in the plan

[2020-06-05 00:39] #3914 closed

[2020-06-05 00:56] chongfeng-hu opened #3927 "Support for custom DynamicConfigurationProvider"
Apologies if I missed anything... I notice that presto already supports a few mechanisms to customize S3 credentials:

1. [Custom S3 Credentials Provider](https://prestosql.io/docs/current/connector/hive.html#custom-s3-credentials-provider): this allows a custom credential provider, which provides the S3 credential regardless of user identity;

2. [S3 Security Mapping](https://prestosql.io/docs/cu

[2020-06-05 02:19] electrum commented on #3927
I'd rather not expose `DynamicConfigurationProvider` as it's tightly coupled to the Hive connector APIs and we have some plans to change or remove it. I think what you want can be done today with the custom credentials provider mechanism.

Set `presto.s3.credentials-provider` to a class name in the Hadoop configuration. This isn't currently exposed as a Hive connector config -- you have to set it

[2020-06-05 02:22] electrum commented on #3927
Join [Slack](https://prestosql.io/slack.html) and ask in the `#dev` channel if you want to chat about this.

[2020-06-05 06:25] vasantteja commented on #3917
I'm happy to help. Can I get a detailed description please.

[2020-06-05 06:46] electrum commented on #3917
The function should return the binary string with the bytes in the reverse order. So if the input bytes are `abcdef` then the function should return `fedcba`.

[2020-06-05 07:40] tooptoop4 opened #3928 "JDBC driver consumes 100% CPU on a core since 325 release"
All that time is being spent in Lio/prestosql/jdbc/PrestoResultSet$AsyncIterator;::hasNext

https://github.com/prestosql/presto/blob/334/presto-jdbc/src/main/java/io/prestosql/jdbc/PrestoResultSet.java#L1815

https://github.com/prestosql/presto/pull/965#discussion_r330199981 has more details

[2020-06-05 08:02] ebyhr commented on #3928
Related Slack thread is https://prestosql.slack.com/archives/CGB0QHWSW/p1591256731318900

[2020-06-05 09:23] findepi commented on #3928
cc @ShashwatArghode

[2020-06-05 15:06] vasantteja commented on #3917
Sure sounds good. Can I assign this to me.

[2020-06-05 17:01] phd3 commented on #3925
@martint what are your thoughts on this?

[2020-06-05 20:08] chongfeng-hu commented on #3927
Thanks for the pointer! A few follow-up questions:

1. `presto.s3.credentials-provider` requires a class that implements [AWSCredentialsProvider](https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/auth/AWSCredentialsProvider.html). AWSCredentialsProvider only provides the pair of (access-key, secret-key), but our permission provides a triplet of (access-key, secret-key, session-to

[2020-06-05 20:36] electrum commented on #3927
1. `AWSSessionCredentialsProvider` is a subclass of `AWSCredentialsProvider`, so I think this should just work. The internal `PrestoS3FileSystem.createAwsCredentialsProvider()` method already returns `STSAssumeRoleSessionCredentialsProvider` which is a `AWSSessionCredentialsProvider`, which makes me think it already works.

2. It will be the Presto user, which is set via `ImpersonatingHdfsAuthenti

[2020-06-05 21:08] martint commented on #3884
@davidrabinowitz, from the stacktrace, the flow would fall through to that case if the type is ArrayType but the value is not a List:

Under what conditions would that happen? Are we reading the wrong column?

[2020-06-05 21:31] #3864 closed

[2020-06-06 00:22] martint commented on #3925
The current plan to support this is the transformation you described in (1), plus the ability to push down functions (e.g., `transform`) and lambda expressions to the connector. Before we can do that, we need to land some of the refactorings we've been making to the way functions are represented in the plan and add some APIs to be able to communicate and obtain information about them between the c

[2020-06-06 11:41] aalbu opened #3937 "Make partition_values argument in drop_stats procedure optional"
Currently, to drop previously collected statistics for the entire table, one has to specify `null` as the value for `partition_values`: `system.drop_stats('my_schema', 'some_table', null)`.  We could make use of an optional argument, so that this use case is more naturally expressed as `system.drop_stats('my_schema', 'some_table')`.

[2020-06-06 11:55] aalbu opened #3938 "Construct DiscretePredicates only when necessary in Hive connector"
`HiveMetadata#getTableProperties()` is constructing a `DiscretePredicates` object on every invocation (if the table is partitioned).  That operation does not have a negligible cost for tables that have many partitions and is going to be invoked many times during planning.  The only optimizer making use of `DiscretePredicates` currently is `MetadataQueryOptimizer` and it is disabled by default.  We

[2020-06-06 20:20] martint commented on #1284
@hocanint-amzn, the PR to add support for variable precision timestamp type is merged and will be available in the next release. I’m now working on timestamp with timezone.

[2020-06-06 20:52] findepi opened #3943 "Flaky test TestEventListener"
[code]

[2020-06-06 20:52] findepi commented on #3943
https://github.com/prestosql/presto/runs/745469582

[2020-06-06 20:52] #2469 closed

[2020-06-06 20:54] findepi commented on #3886
[code]

https://github.com/prestosql/presto/issues/2469 https://github.com/prestosql/presto/pull/3936

[2020-06-06 21:51] findepi commented on #3943
`TestEventListener`.`testNormalQuery`:

[code]

[2020-06-06 21:53] findepi commented on #3635
https://github.com/prestosql/presto/runs/745458091

[2020-06-07 02:08] martint commented on #3886
[code]

#3783

[2020-06-07 02:12] martint commented on #552
@ankitdixit, are you still planning to work on this?

[2020-06-07 03:45] Lewuathe commented on #3943
The test query (`SELECT sum(linenumber) FROM lineitem`) is an aggregation. The memory pool usage can be positive (>0)?

If so I'm going to fix the test.

[code]

[2020-06-07 06:48] JeffryMAC opened #3948 "add human readable representation of duration"
The problem:
many times for reporting you want to convert duration number (integer) into readable human string. The problem is that this can not be easily obtain in SQL.

I have the following Python code that handles it:
https://gist.github.com/borgstrom/936ca741e885a1438c374824efb038b3
[code]
Output is:
[code]

Could something like this be provided by Presto as build in function?
I think that hum

[2020-06-07 10:18] #3456 closed

[2020-06-07 10:20] ebyhr commented on #3886
[code]
#3599

[2020-06-07 12:24] NurtureLabs commented on #2110
I'd like to put in the time to work on this. Can someone guide me on this?

[2020-06-07 13:12] findepi commented on #3948
We have `parse_duration` https://prestosql.io/docs/current/functions/datetime.html#parse_duration
We could also add `format_duration`, as a reverse. This, however, for "1 minute 5 second" duration would produce output like
[code]
-- so probably not want you want.

For the really human-readable formatting there are lots of (subjective) preferences. For example, if the duration is longer than a day

[2020-06-07 13:13] findepi commented on #3948
Note also that Presto already has a better representation for durations than a number -- the `interval` type:
[code]

Would that satisfy your needs?

[2020-06-07 13:14] findepi opened #3950 "Add interval_from_milliseconds"
Add `interval_from_milliseconds` function, a reverse operation to https://prestosql.io/docs/current/functions/datetime.html#to_milliseconds

[2020-06-07 14:57] #3457 closed

[2020-06-07 15:00] ebyhr commented on #3886
[code]
#3949

[2020-06-07 17:36] haldes opened #3952 "Refactor TestFileBasedSystemAccessControl to use Java objects instead of files"
@kokosing @findepi
Opening this issue to track the below refactoring suggestion.
https://github.com/prestosql/presto/pull/3766#discussion_r427119728

[2020-06-07 17:37] haldes commented on #3952
kokosing @findepi

Please assign this issue to me.

[2020-06-07 18:03] dain commented on #3952
I think we will still need stored files, so we can verify that we are not breaking backwards compatibility.

[2020-06-07 18:16] #1751 closed

[2020-06-07 21:08] findepi opened #3956 "Numeric overflow when handling large TIMESTAMP WITH TIME ZONE values"
[code]

[2020-06-07 21:09] findepi commented on #3956
The problem is not limited to literals only.

[2020-06-07 21:16] findepi commented on #3943
Failed in https://github.com/prestosql/presto/pull/3953

[2020-06-07 22:00] sopel39 opened #3957 "Fix join short circuit when probe is empty"
Join short circuit on empty probe does not work correctly. Previously (before join was ported to work processors) join operator was blocking on build side before getting first page.
Currently, it is still the case due to dynamic filter support. However, waiting for dynamic filters should be correctly solved by: https://github.com/prestosql/presto/pull/3414. When https://github.com/prestosql/presto

[2020-06-08 02:18] aalbu commented on #3938
This shouldn't actually be expensive, since the `DiscretePredicates` is lazily evaluated.  I was mislead by some high numbers on the first invocation, but subsequent tests showed the execution times as being low.

[2020-06-08 02:18] #3938 closed

[2020-06-08 07:59] kokosing commented on #3952
That's correct. Especially we should test what is written in docs.

[2020-06-08 09:01] findepi commented on #3886
[code]

https://github.com/prestosql/presto/pull/3953

[2020-06-08 09:07] findepi commented on #3952
That's actually pretty easy. We do this for resource groups' docs.

[2020-06-08 10:05] wendigo commented on #3943
Failed in https://github.com/prestosql/presto/pull/3670: https://github.com/prestosql/presto/pull/3670/checks?check_run_id=749160602

[2020-06-08 13:15] #3956 closed

[2020-06-08 13:48] haldes commented on #3952
@findepi - Can you point me to the code location

[2020-06-08 14:13] hashhar commented on #2981
Here is one such stack trace from version 333.

[code]

[2020-06-08 14:49] hashhar commented on #2256
@sib19 If you're still here can you please confirm if the data source you were querying has some ETL job running on it that re-writes files? Or if you were using some kind of caching layer (eg. Rubix?).

I ran into this issue today and in my case this happened (most probably) due to Rubix. After dropping the cached files for that table this error went away. I ran into this with Presto 333.

[2020-06-08 15:01] sib19 commented on #2256
Hi hashhar
Thanks for the information yes I experienced same kind of problem.. underlying data platform jars doesn’t support the Huge table data read, the vendor has fixed the issue no changes on presto part...

[2020-06-08 15:20] JeffryMAC commented on #3948
In this request I don't really care about the specifics. I think everyone can agree that the solution won't satisfy everyone. I'm looking for a solution. Whatever you guys think best.
But I do need it in human readable string.

Your 2nd reply isn't very human readable. Managers and people who are not programmers won't understand what is `0 00:02:03.000`. Think for example on a case where all value

[2020-06-08 15:24] findepi commented on #2981
@hashhar this is similar, but separate problem. Could you please file this as a new issue?

[2020-06-08 15:26] findepi commented on #2678
For anyone finding this issue, the solution is documented here:

https://prestosql.io/docs/current/connector/hive.html#metastore-configuration-for-avro-and-csv

[2020-06-08 15:35] hashhar opened #3965 "AssertionError: Invalid size estimation for T-Digest"
On PrestoSql 333 we started getting this error in the last week on a few of our queries. The error seems to go away on retries (sometimes multiple retries).

I haven't yet checked if the errors have something in common or not (same table, same file format, similar schema etc.) but will update the issue with any details I find.

**It's not possible to reliably reproduce. A query that initially give

[2020-06-08 15:36] hashhar commented on #3965
This is related to https://github.com/prestosql/presto/issues/2981

[2020-06-08 15:45] #2981 closed

[2020-06-08 15:47] findepi commented on #3952
@haldes see `io.prestosql.plugin.resourcegroups.TestFileResourceGroupConfigurationManager#testDocsExample`
and `io.prestosql.plugin.base.security.TestFileBasedSystemAccessControl#testDocsExample`
for examples

[2020-06-08 17:23] davidrabinowitz commented on #3884
Perhaps - as mentioned I was not able to reproduce this issue locally. If you can debug this query and copy the state of the PageSource - which type is it, what is the value - type and contents. Any other variables may help as well.

[2020-06-08 18:46] lhofhansl opened #3966 "5-10% idle CPU consumption"
I noticed that an idle (local) install of Presto (any recent version I tried) consumes 5-10% CPU.

That might seem like trifle, but on moderns machines it prevents the CPU and other subsystems from entering deeper sleep states and hence wasting power.

In the profiler I tracked it down to the `AuthenticationFilter` and there mostly to

`io.prestosql.server.InternalAuthenticationManager.parseJwt (S

[2020-06-08 19:27] dain commented on #3966
That is the authentication of internal communication between servers which uses JTW with SHA 256 (shared secret).  When servers are "idle" there a few communications that happen.  There is the discovery announcement which is a directory of which servers are running Presto so the coordinator can find them.  Then there is the failure detector which pings these servers to determine if they are alive.

[2020-06-08 19:31] chongfeng-hu commented on #3927
Thanks a lot for the pointers!

[2020-06-08 19:31] #3927 closed

[2020-06-08 19:36] sopel39 commented on #3886
[code]
https://github.com/prestosql/presto/pull/3922

[2020-06-08 19:51] lhofhansl commented on #3966
Thanks @dain

It's just 5-10% of one core. But it prevents an entire package (with multiple cores) from going into deeper power states.

This is one-node install (so that I can point a profiler/debugger at it easily), so it's hard to tell whether it's the worker or coordinator.

It's not a big deal. Mostly I was surprised. And it would be nice to safe power.
The JWT parsing looks to be somewhat ex

[2020-06-08 20:54] electrum commented on #3966
The version of `jjwt` we are using creates `ObjectMapper` every time in `DefaultJwtParser` which could have some overhead. This has changed in newer versions of the library (the overall library design is a bit different). Would you like to send a PR to upgrade the version? It's unclear if this would make a material performance difference, but would be good to do anyway.

[2020-06-08 20:57] electrum commented on #3966
Regarding idle states for processors, what's the minimum level of usage that would allow this? If you are doing a very simple operation every 100ms, would that prevent sleeping?

[2020-06-08 22:54] csunwold opened #3969 "testDistributesSpillOverPathsBadDisk fails when running as Root"
When attempting to build Presto running as root [TestFileSingleStreamSpillerFactory#testDistributesSpillOverPathsBadDisk](https://github.com/prestosql/presto/blob/900fb60e11b6df455271221c817cb61b3f6fa1c6/presto-main/src/test/java/io/prestosql/spiller/TestFileSingleStreamSpillerFactory.java#L112) fails. Since the process is running as root, it ignores the file permissions that the test depends on a

[2020-06-08 23:02] martint commented on #3965
Here's a fix for this issue: https://github.com/airlift/airlift/pull/851

[2020-06-08 23:21] lhofhansl commented on #3966
I tried to upgrade to jjwt 0.10.8, but I see the same idle CPU usage.

Also checked the number of wakeups... The presto process wakes up about 600-700x / sec, which seems excessive.

Just checked on my machine and the threshold latency for the lowest power state is 890us, and the threshold residency go to next higher state is 5000us. But that will vary from machine to machine.

So a simple op ever

[2020-06-08 23:28] dain commented on #3886
[code]
#3483

[2020-06-09 05:59] findepi commented on #3969
Thanks for reporting this, and with a good explanation!

Unfortunately, I don't know off hand how this can be fixed and at the same time, it seems an easy workaround exists (do not run tests as root user).

Do you have any suggestions?

[2020-06-09 07:41] hashhar commented on #3965
Thanks @martint, I'll rebuild Presto with that commit applied to airlift and try to replay our queries for a while on a test cluster. Will confirm if the issue stops reoccurring.

[2020-06-09 09:02] #3937 closed

[2020-06-09 09:04] findepi commented on #3886
[code]

#3937 https://github.com/prestosql/presto/pull/3940

[2020-06-09 09:37] sopel39 opened #3972 "Pass dynamic filters back to workers from coordinator"
After https://github.com/prestosql/presto/pull/1072 dynamic filters from all nodes will be collected in coordinator. Such filters should be passed back to workers so that during table scans filters from all Presto nodes (not only node local) are used to skip data in files.

[2020-06-09 09:43] findepi commented on #3972
You would combine them with OR, wouldn't that make them less effective?

[2020-06-09 10:36] sopel39 commented on #3972
Why OR? It should be AND with whatever local predicate there is

[2020-06-09 11:04] findepi commented on #3972
DFs are AND-ed with static predicates, but DFs are combined with OR, right?
So node-local DF will be more restrictive than a global DF.

[2020-06-09 11:41] sopel39 commented on #3972
No. Everything is AND-ed (apart for DFs originating from same join).

This issue is about table scans that are not filtered by local dynamic filters (e.g because of hash join) or are not fully filtered.

[2020-06-09 12:12] dekelev opened #3974 "MySQL case-sensitive table names not working"
MySQL supports case-sensitive table names, but I'm getting the following error when querying a table named `camelCase` with PrestoSQL v334 and MySQL 8.x:
[code]

I've tried wrapping the table name with double-quotes, but I'm still getting the same error.

[2020-06-09 14:33] adnanz commented on #2817
Is there a workaround to this problem? We are getting the same issue:

`There is a mismatch between the table and partition schemas. The types are incompatible and cannot be coerced. The column 'equipments' in table 'xxxxx' is declared as type 'array<struct<action:string,devicename:string,devicetype:string,model:string,outlet:string,serialnumber:string,isplaceholder:boolean,reason:string,categoryc

[2020-06-09 15:01] Praveen2112 commented on #3974
Hi !! Can you try by setting the property in your connector.properties file
[code]
Presto currently converts name as lower case (whether it is quoted or not).

Feel free to join our slack channel - https://prestosql.io/slack.html

[2020-06-09 15:02] Praveen2112 commented on #3974
If you still face this issue, please re-open this issue.

[2020-06-09 15:02] #3974 closed

[2020-06-09 15:28] dekelev commented on #3974
@Praveen2112 thanks, the display of table and column names is still in lower-case, which makes them hard to read, but at least it works.

[2020-06-09 15:50] tooptoop4 opened #3976 "prestosql server 'array' data type is not backwards compatible with prestodb jdbc driver"
1. create table via hiveserver2 pointing at json data
[code]
2. with prestodb 220 server and  prestodb 220 JDBC client , select SQL works
3. with prestosql 334 server and  prestosql 334 JDBC client , select SQL works
4. with prestosql 334 server and  prestodb 220 JDBC client , select SQL errors below:

[code]

I saw previously that "select uuid()" would not work with prestodb JDBC driver, now also

[2020-06-09 15:50] #3976 closed

[2020-06-09 15:56] findepi commented on #3974
@dekelev correct. this will be addressed with https://github.com/prestosql/presto/issues/17.
You can follow that issue.

[2020-06-09 16:35] csunwold commented on #3969
No obviously solution sticks out to me either.

@shrijeet @dfinninger Looking through Github history it looks like you contributed these changes originally. I'm curious if you have any ideas?

[2020-06-09 17:17] lhofhansl commented on #3928
Getting this right is pretty tricky. In addition to the current busy waiting in hasNext() I have a hard time convincing myself that we're not leaving threads hanging around (for example when the buffer is filled up, and nobody ever calls next/hasNext.

Maybe a simpler (slightly less performant) solution is to simply do pre-fetching. When a caller calls hasNext/next, we read a few more results from

[2020-06-09 17:56] martint opened #3977 "Add support for variable-precision timestamp type to Hive connector"
# Considerations

* Currently, the connector supports only `timestamp(3)`. The metastore supports "timestamp with optional nanosecond precision" (see https://cwiki.apache.org/confluence/display/Hive/LanguageManual+Types#LanguageManualTypes-TimestampstimestampTimestamps).
    * Each data format may support a different underlying type, so appropriate conversions need to be implemented. Currently, va

[2020-06-09 17:58] #3848 closed

[2020-06-09 17:59] martint commented on #3886
[code]

https://github.com/prestosql/presto/issues/3848

[2020-06-09 18:15] phd3 commented on #3925
@JamesRTaylor sure. I need to understand the case of NULLs in unnest. i.e. make sure that the number of rows output by `unnest(a)` is exactly the same as after pruning a. I'll create a WIP PR.

[2020-06-09 18:58] lhofhansl commented on #3928
But, I do not know what part is slow about the fetching. If it's the lazy fetching one-by-one, then prefetching should be good enough. Perhaps someone can shine some light on that.

Prefetching itself is trivial (untested):
[code]

[2020-06-09 21:05] aalbu opened #3980 "Add write support for Kafka connector"
Support publishing messages to Kafka topics using `INSERT` statements.  This would use the existing topic description mechanism to determine the message structure and format.

[2020-06-09 21:08] findepi commented on #3969
@csunwold are you running tests in a docker container?

[2020-06-09 21:10] findepi opened #3981 "ExpressionVerifier should verify GenericLiteral type"
from @rohangarg https://github.com/prestosql/presto/pull/3533#discussion_r437550249

I don't think it is.

[2020-06-09 21:12] findepi commented on #3981
The change would go

https://github.com/prestosql/presto/blob/69ef6824dc7d1c42b7912ee4c50be55780042f09/presto-main/src/test/java/io/prestosql/sql/planner/assertions/ExpressionVerifier.java#L100-L107

Then run tests (eg on CI, using WIP PR) to see how many places need an update.

[2020-06-09 21:14] lhofhansl commented on #3966
Actually, I tracked the wakeups to `InternalResourceGroupManager`

Specifically:
[code]
If I change that to 100ms (or even just 10ms), CPU usage goes down to 2-5% and the package is allowed to enter deeper c-states (at least 40-50% of the time).

Since we're calculating CPU quotas in there I guess we want to run frequently, but every single ms?

@dain @electrum

[2020-06-09 21:34] findepi commented on #3966
@lhofhansl thanks for the thorough investigation.
I think the potential reason for running this as frequently is to be able to unblock a queued query as soon as eligible.
(if we run this every x ms, we add up to x ms delay)
However, i am really not convinced it really warrants running the check so often.

Note also that within https://github.com/prestosql/presto/pull/1128 the amount of work done p

[2020-06-09 21:46] csunwold commented on #3969
@findepi Yes.

[2020-06-09 21:59] findepi commented on #3969
@csunwold would it help if you add `-u a_user` to your `docker run` command?
(picking `a_user` depending on the base image you use, eg `ubuntu` user in `ubuntu` image)

[2020-06-09 22:45] shrijeet commented on #3969
@csunwold few options other than the workaround @findepi suggested

* Find a more deterministic way to simulate disk failure, I looked into changing the mutability of the file object but didn't find any java api in my quick search

* Use mocking, my recollection is that presto doesn't have dependency on a mock library yet. Also its not clear if its straightforward to inject a mock instance in this

[2020-06-09 23:00] lhofhansl commented on #3966
Interesting. Since I saw the process wake up about 600-700x/s it for sure takes less than 0.4-0.6ms for each run when idle (probably quite a bit less, since there's context switching, etc), also going by the low CPU usage of 5-10% the work done `refreshAndStartQueries` is probably very little (when idle), i.e. the scheduling overhead compared to the work done is high.

It seems unblocking a query

[2020-06-09 23:31] lhofhansl commented on #3966
One more data point:
With defaults I see this in the jstack:
`"ResourceGroupManager" ... cpu=6236.68ms elapsed=304.04s`

When I set the scheduling to 10ms I see:
`"ResourceGroupManager" ... cpu=1556.73ms elapsed=302.88s ...`

So about 4x the CPU usage.

For comparison the max between all the other threads in the ballpark of 100ms of CPU time.