[2021-03-02 12:07] losipiuk opened #7113 "Migrate Hive tests to use BaseConnectorTest"
https://github.com/trinodb/trino/pull/6989 introduced new `BaseConnectorTest` test class which replaces `AbstractTestDistributedQueries` and `AbstractTestIntegrationSmokeTest`.

Scope of this ticket is to restructure Hive test code to follow new pattern.
`TestHiveIntegrationSmokeTest` should be merged  with  `TestHiveDistributedQueries` to form `TestHiveConnectorTest`

Please ensure that `TestHive

[2021-03-02 12:08] findepi commented on #4769
This has been implemented for PostgreSQL in https://github.com/trinodb/trino/pull/4784 / https://github.com/trinodb/trino/pull/6847. Thanks @Parth-Brahmbhatt @wendigo !

This needs to be now extended for other connectors as well.
Also, this is not yet enabled by default, see https://github.com/trinodb/trino/issues/7031.

[2021-03-02 12:11] losipiuk opened #7114 "Migrate Kafka tests to use BaseConnectorTest"
https://github.com/trinodb/trino/pull/6989 introduced new `BaseConnectorTest` test class which replaces `AbstractTestDistributedQueries` and `AbstractTestIntegrationSmokeTest`.

Scope of this ticket is to restructure Kafka test code to follow new pattern.
`TestKafkaIntegrationSmokeTest` should be renamed to `TestKafkaConnectorTest` and extend `BaseConnectorTest` instead of `AbstractTestIntegration

[2021-03-02 12:14] findepi commented on #6858
[code]

#6847 #4784 and relates to #4769

[2021-03-02 12:16] losipiuk opened #7115 "Migrate Mongo tests to use BaseConnectorTest"
https://github.com/trinodb/trino/pull/6989 introduced new `BaseConnectorTest` test class which replaces `AbstractTestDistributedQueries` and `AbstractTestIntegrationSmokeTest`.

Scope of this ticket is to restructure Mongo test code to follow new pattern.
`TestMongoIntegrationSmokeTest` should be merged with `BaseMongoDistributedQueries` to form `BaseMongoConnectorTest`
Then on top of that we shou

[2021-03-02 12:22] losipiuk opened #7116 "Migrate Raptor tests to use BaseConnectorTest"
https://github.com/trinodb/trino/pull/6989 introduced new `BaseConnectorTest` test class which replaces `AbstractTestDistributedQueries` and `AbstractTestIntegrationSmokeTest`.

Scope of this ticket is to restructure Raptor test code to follow new pattern.
`TestRaptorIntegrationSmokeTest` should be merged with `TestRaptorDistributedQueries` as `BaseRaptorConnectorTest` and extend `BaseConnectorTes

[2021-03-02 12:25] losipiuk opened #7117 "Migrate Thrift connector tests to use BaseConnectorTest"
https://github.com/trinodb/trino/pull/6989 introduced new `BaseConnectorTest` test class which replaces `AbstractTestDistributedQueries` and `AbstractTestIntegrationSmokeTest`.

Scope of this ticket is to restructure Thrift connector test code to follow new pattern.
`TestThriftIntegrationSmokeTest` should be merged  with  `TestThriftDistributedQueries` to form `TestThriftConnectorTest`

A PR which

[2021-03-02 12:52] losipiuk commented on #6858
[code]

#7000

[2021-03-02 13:39] findepi commented on #7103
Yes, see https://github.com/trinodb/trino/pull/4909

[2021-03-02 13:45] findepi commented on #7070
In this project we take quite strict approach to configuration properties and so far it served as well, with Zeppelin integration being about the only place where end user has a problem.

To be honest, I do not see a reason why Zeppelin would want to send "random" properties to the JDBC Driver.
For example, they could be ignored today and gain some new meaning in the future, leading to problems fo

[2021-03-02 13:45] #7070 closed

[2021-03-02 13:51] wgzhao commented on #7102
I will add `clickhouse.map-string-as-varchar` properties when the PR be merged

[2021-03-02 15:21] letmagnau opened #7121 "ES catalog : is possible that presto can manage field array only for instance of Map type???"
i read here

[code]

it means that if I have a ES index with a field as List , it can't manage it??

Of course ES admit filed as array as [1,2,,3 ] or  [aaa,bbb,ccc] but that was managed as ROW on ROW Decoder but that are not Map...
Am I wrong?

[2021-03-02 16:43] Praveen2112 commented on #6858
[code]
#7048

[2021-03-02 18:53] phd3 commented on #6858
[code]
#6355, #5394

[2021-03-02 20:08] dain commented on #6858
[code]
#6703 #7014

[2021-03-02 21:03] #7015 closed

[2021-03-02 21:03] findepi commented on #6858
[code]

#7015 #7041

[2021-03-02 21:08] findepi commented on #4500
The connector has been merged (https://github.com/trinodb/trino/pull/4909) and will be availble in the next release.

I created #7103 to track follow up work.

[2021-03-02 21:08] #4500 closed

[2021-03-02 21:08] findepi commented on #6858
[code]

#4500 #4909 #7081

[2021-03-02 21:30] findepi commented on #6858
(added)

[2021-03-02 22:25] martint commented on #6858
[code]

#6838

[2021-03-03 01:19] PChou commented on #7103
@findepi perfect! That's what we really want!

[2021-03-03 01:55] #6370 closed

[2021-03-03 01:57] phd3 commented on #6858
[code]

#6370, #6374

[2021-03-03 02:06] zhengyangyong opened #7129 "can character used for quote reserved keywords change from double quotes to another"
like "and"  -> `and` (MySQL like)

[2021-03-03 02:12] wgzhao opened #7130 "Support for create table with MergeTree engine in ClickHouse connector"

[2021-03-03 02:12] wgzhao commented on #7103
@findepi  please add  #7130 into TODO List

[2021-03-03 02:32] martint commented on #7129
Trino follows standard SQL syntax, which defines `"` (double quotes) for quoting identifiers and `` ' `` (single quote) for string literals.

[2021-03-03 02:40] PChou commented on #7026
PR: https://github.com/trinodb/trino/pull/7131

[2021-03-03 04:32] zhengyangyong commented on #7129
That is great! but if can config by user may better :)

[2021-03-03 08:20] findepi commented on #7130
it may be implicitly supported since `engine` property is just a String.
What more is required to create such tables?

[2021-03-03 08:31] wgzhao commented on #7130
create table with `MergeTree` need more table properties. we can enable more tests when use `MergeTree` engine, like as 'DropColumn`, `RenameColumn` etc.

I'm finishing  and will launch a PR soon.

[2021-03-03 08:38] findepi commented on #7083
This should work, unless we have a bug somewhere, or metastore is configured to do something weird (the error is coming from the metastore).

Can you try running `CREATE TABLE` and then `INSERT` separately?

[2021-03-03 09:06] ImTangYun commented on #6857
As known that presto only support ansi sql syantax，which is quite different from
hive sql syntax，so we devlop a hive sql parser to support hivesql to run on presto

[2021-03-03 09:48] liun03 commented on #6867
Scenario: Query BigQuery views in Trino and not to create BigQuery materialized views
Given views in BigQuery
When I query BigQuery views in Trino
Then I get query results and materialized views are not created in BigQuery

Thank you.

[2021-03-03 10:17] ImTangYun commented on #6405
No we restart the cluster every 2hours [破涕为笑]

[2021-03-03 12:56] wgzhao commented on #7103
* [x] Support for create table with MergeTree engine in in ClickHouse connector PR #7135

[2021-03-03 16:36] findepi commented on #781
In the project i see `TpchTableLayoutHandle` and `TpcdsTableLayoutHandle` classes, so we're almost migrated.

Do we have a plan to do something with `io.trino.spi.connector.ConnectorMetadata#usesLegacyTableLayouts`?
It currently returns false.

Removing support for layouts would simplify things in the engine.

[2021-03-03 17:09] martint commented on #781
There was some issue with the TPC-DS connector due to limitations of the optimizer. @Praveen2112, do you remember?

Once those are migrated, we can just go ahead and remove the old API. It’s been almost two years since we deprecated it.

[2021-03-03 17:56] martint commented on #6858
[code]

#6897

[2021-03-03 18:20] rafael31101995 commented on #7083
Hello, <br>
We did the test that you mentioned but it didn't work.

Test:

[code]
Log:
[code]

When trying to create a new table without configuring the transactional property the code runs without problem but the table is created non-transactional.
[code]

<b>we're using a hive-standalone version.</b>

[2021-03-04 05:44] qgxiaozhan commented on #4102
Is anyone doing this ? I also find that the large amount of data leads to the jam of chrome page。

[2021-03-04 08:13] wgzhao opened #7147 "trino-cli add prompt color option"
Currently the prompt of `trinio-cli` is dark style, which appears transparent or even unreadable in a dark-themed terminal:

![image](https://user-images.githubusercontent.com/1001616/109931674-16281980-7d04-11eb-954d-65f6f7172054.png)

![image](https://user-images.githubusercontent.com/1001616/109931917-761ec000-7d04-11eb-9853-397188638181.png)

two methods:
1. Add `--no--color` toggle, when it e

[2021-03-04 08:20] hashhar commented on #7147
Can this be considered a duplicate of https://github.com/trinodb/trino/issues/6190 and https://github.com/trinodb/trino/issues/2187?

[2021-03-04 08:25] #6719 closed

[2021-03-04 08:32] kokosing commented on #6858
[code]
#7069

[2021-03-04 08:52] wgzhao commented on #7147
@hashhar Yes, I had the same problem with #6190

[2021-03-04 08:58] kokosing opened #7148 "TestOAuth2WebUiAuthenticationFilter.setup is flaky"
[code]

[2021-03-04 08:58] kokosing commented on #7148
https://github.com/trinodb/trino/pull/7089#issuecomment-790064425

[2021-03-04 09:00] hashhar commented on #7147
Closing as duplicate of #6190.

[2021-03-04 09:00] #7147 closed

[2021-03-04 09:26] findepi opened #7150 "Document CREATE VIEW is not supported in connectors"
For example https://trino.io/docs/current/connector/mysql.html#limitations lists a number of limitations, but CREATE VIEW is not on the list.

[2021-03-04 10:31] hashhar opened #7152 "Default char(n) column mapping doesn't pad value with spaces for n > 65536"
Default char column mapping as defined by `StandardColumnMappings#defaultCharColumnMapping` does't pad values for `char(n)` where `n > CharType.MAX_LENGTH`.

See https://github.com/trinodb/trino/blob/0e34de0c1f7fddcca7cf555406ac564fd7f65a92/plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/StandardColumnMappings.java#L238-L244

From https://github.com/trinodb/trino/pull/7145#discussion_r58

[2021-03-04 10:42] findepi commented on #7083
You can enable `DEBUG` logging on `io.trino.plugin.hive.metastore.thrift` to verify parameters being sent to metastore.
I bet ORC is still there, so it's something on your metastore side and may be version-dependent.
I'd typically hook up a debugger into metastore and see what is it doing with this particular request, but hopefully there may be some other, more sane option to find out.

( If you'r

[2021-03-04 12:02] findepi commented on #7076
While it's natural to exclude HDP3 instead of default, the HDP3 builds give coverage for transactional tables and may still run faster due to Tez.

Let's run HDP3 in PRs.

[2021-03-04 12:18] kokosing commented on #7076
CDH5 is going to die soon. HDP3 is also going to die but a bit later. See https://www.cloudera.com/legal/policies/support-lifecycle-policy.html

[2021-03-04 12:20] Serenthia commented on #3763
I'm also not able to retrieve data when the `date` type column is a clustering column (but not part of the partition key).  Is this also due to be solved by the linked PR, and if so might it be merged soon?

[2021-03-04 12:27] #7129 closed

[2021-03-04 12:58] findepi commented on #7076
Let's consider this orthogonal.

[2021-03-04 13:38] tooptoop4 opened #7153 "Unhelpful error when adding minutes to date"
--'minute' is not a valid DATE field
select date_add('minute',17,current_date)

--works
select date_add('minute',17,current_timestamp)

A more helpful error would be along the lines of: "3rd argument must be timestamp data type not date"

full stack trace:
[code]

[2021-03-04 13:56] kasiafi opened #7154 "Assert methods in `TestSqlParser` ignore `NodeLocation`"
When the expected node is created with a non-empty `NodeLocation`, the location is not compared to the actual location. This is because the assertions are based on `Node`'s `equals` method, which doesn't take the NodeLocation into account.

The following cases pass:
[code]

The methods can be mistakenly used for testing the node location.

One simple solution is to disable passing a node with non-

[2021-03-04 16:01] #5548 closed

[2021-03-04 16:11] findepi commented on #5758
https://github.com/trinodb/trino/runs/2030156333
`testLargeIn(io.trino.plugin.clickhouse.TestClickHouseConnectorTest)`
[code]

[2021-03-04 17:28] tooptoop4 opened #7158 "Add Timezone parameter in JDBC URI"
JDBC driver connection string should accept parameter such as ```?timeZoneId=<TIMEZONE> ie ?timeZoneId=<UTC> or ?timeZoneId=<America/Chicago>``` so that queries return timestamps according to the timezone of the parameter. This should override java -D system property (if that is supplied).

original ask from slack: "Is there a way to set the timezone in the JDBC driver in the URI (i.e. not program

[2021-03-04 17:39] electrum opened #7159 "Verify that long running JDBC connector queries are cancelled"
We should write a test that runs a query that produces many rows (maybe a cross join on a large table) and verify that the query killed on the server afterwards (by using a database specific method of listing the running queries). We can embed a UUID in the SQL query as a comment to identify it.

[2021-03-04 18:17] amitds1997 commented on #6813
Will this be the correct alignment given the values?

[code]

[2021-03-04 19:32] kokosing commented on #7159
Another way is to have an UDF that can sleep.

The problem is that it is very database specific, so that would require writing dedicated code for every JDBC connector.

CC: @ssheikin

[2021-03-04 21:39] findepi commented on #7159
There is pg_sleep in PostgreSQL.

[2021-03-04 21:44] findepi commented on #6813
looks reasonable to me. @electrum thoughts?

[2021-03-04 21:48] findepi commented on #7158
@tooptoop4 would you mind rephrasing the issue description?
it's currently a copy-paste from slack and it's unclear what's being requested.

thanks

[2021-03-05 02:59] ImTangYun opened #7167 "We had support most hive sql syntax, is it possible to commit to trino?"
see [https://github.com/trinodb/trino/issues/6857](https://github.com/trinodb/trino/issues/6857)

[2021-03-05 05:17] maheshsv commented on #7117
I can take this issue please assign to me

[2021-03-05 07:03] ebyhr commented on #7167
Hi, please don't create duplicated tickets. Let me close this one.

[2021-03-05 07:12] #7167 closed

[2021-03-05 07:29] ImTangYun commented on #7167
ok thanks

[2021-03-05 07:35] findepi commented on #7159
Per discussion offline with @kokosing @sopel39 @erichwang there is actually  a _bug_ that long running JDBC queries are not getting cancelled, if getting next row (`io.trino.plugin.jdbc.JdbcRecordCursor#advanceNextPosition`) takes very long time. While this is ultimately connector- (JDBC driver-) -dependent, it is a side effect of the fact we rely in thread interruption, which is known not to be r

[2021-03-05 08:30] letmagnau commented on #7121
?? any news??

[2021-03-05 09:05] findepi commented on #4984
https://github.com/trinodb/trino/runs/2034630746

[2021-03-05 09:44] findepi commented on #1580
I verified this with PostgreSQL and this worked correctly for me. Of course, the end query is not going to have predicates retained as per https://github.com/trinodb/trino/pull/7145, unless unsafe pushdown (https://github.com/trinodb/trino/pull/7022) is enabled.

[2021-03-05 11:01] findepi commented on #3645
https://github.com/trinodb/trino/pull/7145

[2021-03-05 11:01] #3645 closed

[2021-03-05 11:03] findepi commented on #7158
cc @martint @electrum @losipiuk

[2021-03-05 11:05] findepi commented on #6858
[code]

generally similar to https://github.com/trinodb/trino/issues/6858#issuecomment-784468150 but for PostgreSQL

https://github.com/trinodb/trino/issues/3645 https://github.com/trinodb/trino/pull/7145

[2021-03-05 11:10] findepi opened #7176 "Flaky test TestSemiTransactionalHiveMetastore.testParallelPartitionDrops"
e.g https://github.com/trinodb/trino/runs/2038016073

[code]

[2021-03-05 12:14] kokosing commented on #6858
[code]
#6659

[2021-03-05 12:37] findepi commented on #6858
[code]

#6874 , for #6620

[2021-03-05 12:49] hashhar opened #7177 "Allow connectors to control TopN pushdown based on data-type of the sort keys"
Some databases' default sort order differs from that of Trino due to collation differences.
For such databases TopN pushdown causes incorrect results when the sort keys include a column which has a collation-aware data-type (e.g. most textual types).

Some databases allow specifying custom collations for functions and operators (e.g. [Postgres](https://www.postgresql.org/docs/13/collation.html)).

[2021-03-05 12:50] hashhar commented on #7177
A possible solution is to also send `JbdcColumnHandle` for the sort items to `topNFunction` at https://github.com/trinodb/trino/blob/master/plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/BaseJdbcClient.java#L504 (`applyQueryTransformations`).
The challenge is that by the time that function is called the `tableHandle` refers to the transformed result.

This means that for queries of the

[2021-03-05 15:18] nineinchnick commented on #565
#4593 would be a duplicate of this but it's the one referenced in code at the moment: https://github.com/trinodb/trino/blob/d7c825ce3fb5b8a16ec6eb417503c728e43282cb/plugin/trino-sqlserver/src/main/java/io/trino/plugin/sqlserver/SqlServerClient.java#L280

Looks like this issue could be closed.

[2021-03-05 17:45] electrum commented on #6858
[code]
#6637

[2021-03-05 17:46] mosabua commented on #6857
Trino has multiple ways to support Hive view. Please see more at

https://github.com/trinodb/trino/blob/master/docs/src/main/sphinx/connector/hive.rst#hive-views

[2021-03-05 20:50] aalbu commented on #6950
If you are you asking about `nested` fields, they should be supported (they are mapped just like `object` fields).  Btw, are you on the [Slack channel](https://trino.io/slack.html)?  You can get faster answers there, we have a great community.

[2021-03-05 21:18] findepi commented on #5758
https://github.com/trinodb/trino/runs/2041071875

[code]

[2021-03-05 21:50] findepi commented on #6858
[code]

https://github.com/trinodb/trino/pull/7169

[2021-03-05 21:55] Alicewillbe commented on #7114
I'm tracking this issue for a while and it is still assigned to no one. May I take this issue?

[2021-03-05 22:03] losipiuk opened #7183 "TestRemarksReportingOraclePoolConnectorTest.testInsert test flaky with ORA-00054"
[code]

[2021-03-05 22:04] #565 closed

[2021-03-05 22:06] losipiuk commented on #7114
Sure, thankw !

[2021-03-05 22:06] findepi commented on #7114
@Alicewillbe sure, go for it, thanks!

See https://github.com/trinodb/trino/pull/7182 as it changes something around Kafka tests, but hopefully shouldn't conflict

[2021-03-05 22:06] findepi commented on #7183
This class no longer exists.

[2021-03-05 22:33] gideonshalev opened #7184 "add support for FLOAT data type (even as an alias for DOUBLE)"
FLOAT seems to be part pf the sql ansi standard (definitely a part of sql92), but is not supported by Trino.
This causes issues with some connectors, like the JDBC connector when used with a 'picky' application like Tableau.
Tableau loves the FLOAT data type, and insists on wrapping all custom sql user queries for 'optimization' purposes. When it comes to float-like data types, it uses float (not

[2021-03-05 22:49] Alicewillbe commented on #7114
@findepi @losipiuk Thanks for supporting!
I agree that no conflict should happen between #7182 and this one, from the perspective of simple refactoring.
Just in case, should I wait until #7182 merged?

[2021-03-05 22:50] martint commented on #7184
FLOAT is a different type than DOUBLE or REAL. It's actually `FLOAT(P)`, too. From the SQL spec:

[code]

The precision is optional and implementation-defined, though, so we could make it be equivalent to DOUBLE's or REAL's precision, but the type needs to be implemented as a distinct type in the engine.

[2021-03-05 22:55] gideonshalev commented on #7184
@martint good point,I hadn't looked closely at the standard, just knew float was there.
Would it be a big deal to get it into the engine? If not, please do so as you guys move WAAAAAAY faster than the clowns at Tableau...

[2021-03-05 23:02] martint commented on #7184
It requires some work but it's not rocket science to add it to the engine. We just need someone to volunteer to do it (cc @kasiafi? 😉 ).

[2021-03-05 23:41] losipiuk commented on #7183
True :) Still I think the issue existsts. Just for the BaseConnectorTest.<something>

[2021-03-05 23:43] losipiuk commented on #7114
No need IMO. Feel free to attack it already.

[2021-03-06 00:12] phd3 commented on #6858
[code]
#7180

[2021-03-06 04:40] aakashnand commented on #3620
I recently created a Netezza connector and used it at my workplace. Although it has limitation for `UPDATE` and `DELETE` queries, it is working for other queries. Please check it here https://github.com/aakashnand/trino-netezza

[2021-03-06 04:46] #6858 closed

[2021-03-06 04:47] martint opened #7186 "Release notes for 354"
## Dain Sundstrom
- [x] all checked
-  03-09 17:05:40    3082ef8475 Support limiting the number of unacknowledged splits per task
-  03-09 17:05:40    eb5f53e75c Refactor NodeAssignmentStats to simplify the tracked representation
## David Phillips
- [x] all checked
-  03-09 13:27:31    69918c1088 Upgrade Iceberg to 0.11.0
-  03-11 11:35:52    222001d6dc Update session-property-managers.rst
-  03-1

[2021-03-06 05:59] losipiuk commented on #7186
[code]

#7178

[2021-03-06 07:55] yangyongyongyong opened #7188 "select count(1) is so slowly"
[code]

900000 rows
6000 columns

need 3.53m
data 13.5G

[2021-03-06 09:19] MirrorChu commented on #7116
Hi there!I'm willing to take this issue,may I be the assignee of it?

[2021-03-06 09:54] xiangzK commented on #7110
Hi, I'm interested in this issue, could you please assign me to solve this problem?

[2021-03-06 10:00] xuboqing commented on #7107
Interesting issue, I wanna have a try. Could you please assign me to solve it?

[2021-03-06 10:04] ToumaKazusa-san commented on #7109
I am pretty interested in this issuse, I want to deal with it. Could you give me a chance to solve this problem?

[2021-03-06 10:41] JoJoBizarreAdventure commented on #7115
Hi! I'm interested in solving this issue for learning how to contribute in Github. Could you please assign this issue to me? I want to have a try.

[2021-03-06 14:08] losipiuk commented on #7110
Thanks @xiangzK

[2021-03-06 14:09] losipiuk commented on #7116
Thanks @MirrorChu . Assigned.

[2021-03-06 14:10] losipiuk commented on #7107
Thanks @xuboqing . Assigned.

[2021-03-06 14:11] losipiuk commented on #7109
Sure. I assigned you. Thanks @ToumaKazusa-san

[2021-03-06 14:12] losipiuk commented on #7115
Thanks @JoJoBizarreAdventure . Assigned.

[2021-03-06 15:50] djsstarburst opened #7189 "Make DropStatsProcedure.dropStats() work for Hive transactional tables"
Though dropping stats works correctly for Hive non-transactional tables, it does not for Hive transactional tables.

[2021-03-06 16:39] djsstarburst opened #7190 "Store statistics for Hive transactional table INSERT, DELETE, UPDATE and MERGE"
No statistics are generated for INSERT, UPDATE and MERGE operations on Hive transactional tables and the only statistics maintained for DELETE on Hive transactional tables is the row count.  This ticket is opened to support storing stats for all update operations on Hive transactional tables.

[2021-03-06 19:43] #7031 closed

[2021-03-06 19:45] findepi commented on #7186
[code]

 #7170 (#7031 is not a good description, too broad)

[2021-03-06 20:36] findepi opened #7191 "Query cancellation can sometimes fail"
Apparently invoking query cancellation can fail with "Unknown transaction ID: 8423de1d-af0b-4bc0-8131-a89bedb6e613. Possibly expired? Commands ignored until end of transaction block"

[code]

Observed in tests (https://github.com/trinodb/trino/issues/6723), but looking at the code the problem seems general.

[2021-03-06 20:36] findepi commented on #7191
I will retrofit https://github.com/trinodb/trino/issues/6723 instead.

[2021-03-06 20:36] #7191 closed

[2021-03-06 20:37] findepi commented on #6723
This has been observed in tests, but looking at the code the problem seems general.
cc @dain

[2021-03-06 20:51] kokosing commented on #6723
What do you mean? Is it about that query got finished just before cancellation?

[2021-03-06 21:30] findepi commented on #6723
I don't know the exact mechanics yet, but the `DistributedQueryRunner` is _not_ to be blamed, it just invokes `queryManager.cancelQuery` which is supposed to resolve concurrent query finish, but apparently it does not always do so.

[2021-03-06 21:32] findepi commented on #6723
https://github.com/trinodb/trino/runs/2041436971

[2021-03-06 21:45] manan9299 commented on #7111
@losipiuk Can I work on this issue? I am new here and would love to give this a try. Could you please assign this issue to me?

[2021-03-06 22:19] findepi commented on #7111
@manan9299 sure, go for it!

[2021-03-06 22:20] findepi commented on #3606
i should have cc'd @vincentpoon @lhofhansl , unless the issue is obsolete.

[2021-03-06 22:23] findepi commented on #7183
Likely, but note that the "pooling + remarks" is now a connector _smoke_ test (`TestOraclePoolRemarksReportingConnectorSmokeTest`), so the `testInsert` is a new test.

[2021-03-07 13:44] hashhar commented on #7031
Should this be kept open since we haven't enabled it by default and aren't forcing connectors to define `supportsTopN` if `topNFunction` is defined?

[2021-03-07 15:12] hashhar commented on #6910
For properly supporting reading `timestamp(p)` where `p` matches the precision as defined in MySQL we need to upgrade the JDBC driver to include https://github.com/mysql/mysql-connector-j/commit/696c6c4131c6eb83e1ab59b8603406293587017b (first available in 8.0.16).

Any driver older than that doesn't return the precision for temporal data tyes. And any server version older than `5.6.4` doesn't supp

[2021-03-08 01:42] Chaho12 commented on #3219
@amiorin
Hello. I was wondering how the "admission controller" work has been going. Any progress?

[2021-03-08 03:17] ImTangYun commented on #6857
The hive view is so simple that not enough to support our complex bussiness in our company，we have surpport most hive sql syntax for example insert overwrite、explode lateral view、rlike、semi join、with cube、with rollup and many other syntax， we just want to contribute to open source

[2021-03-08 08:00] huukhuongnguyen opened #7203 "Support views in Pinot Connector"
Caused by: io.trino.spi.TrinoException: This connector does not support creating views **with pinot**

[2021-03-08 08:08] kokosing commented on #7203
Do you mean to support Pinot views in Trino, so you can read from them using Trino?
Or do you mean to support Trino views stored in Pinot, so you can create a view in Trino that can access other Trino catalogs? I am not sure if it is doable.

[2021-03-08 08:15] kokosing opened #7204 "Support table rename in Phoenix connector"

[2021-03-08 08:20] kokosing opened #7205 "Support column rename in Phoenix connector"

[2021-03-08 08:32] huukhuongnguyen commented on #7203
i'm using SQL statement syntax https://trino.io/docs/current/sql/create-view.html and it's not support for Pinot connector

[2021-03-08 08:54] letmagnau commented on #6950
Thanks for reply , can you answer me on issue  #7121 ?

[2021-03-08 09:49] wendigo opened #7208 "Unnecessary wrapping of TrinoException due to LazyConnection usage in CachingJdbcClient"
https://github.com/trinodb/trino/pull/7069 introduced `LazyConnection` that opens a connection on first usage, not when it's acquired in the code path.

This changed how exceptions are handled in the `CachingJdbcClient`. Prior to that change when executing i.e. `show tables from mysql.default;` client would get:

[code]

Now it ends with:
[code]

[2021-03-08 09:50] wendigo commented on #7208
cc @kokosing

[2021-03-08 09:55] findepi commented on #7186
[code]

[2021-03-08 10:00] #6316 closed

[2021-03-08 10:04] findepi opened #7209 "Flaky test TestJdbcConnectorTest.testDropColumn"
[code]

This can be reproduced in locally, with `@Test(invocationCount = 200, threadPoolSize = 4)`, but happened on CI too.
https://github.com/trinodb/trino/runs/2047948730

[2021-03-08 10:10] wendigo commented on #7208
[code]

[2021-03-08 10:37] findepi commented on #6857
cc @martint @electrum

[2021-03-08 11:20] findepi commented on #7031
I worded the issue more boradly, but we haven't added support for topN elsewhere, so nothing remaining here.... maybe except making the TopN test reusable.

[2021-03-08 11:51] sopel39 commented on #7186
[code]

[2021-03-08 13:09] findepi opened #7216 "Flaky test TestPhoenixTypeMapping with phoenix5"

[2021-03-08 13:09] findepi commented on #7216
`testArray` @ https://github.com/trinodb/trino/runs/2055534982

[code]

cc @lhofhansl

[2021-03-08 13:56] #7176 closed

[2021-03-08 15:53] findepi opened #7218 "SqlDataTypeTest with writes through remote system should always use explicit column type"
See for example this code block and especially comment at the top of it

https://github.com/trinodb/trino/blob/db68df2cf25b85689c148a497c22951e816d38be/plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/TestMySqlTypeMapping.java#L539-L589

Relying on implicit types for Trino literals is OK, and readable, as Trino behavior is the same in all the tests.

Relying on implicit types for other datab

[2021-03-08 15:53] findepi commented on #7218
We should block the usage of implicit types in https://github.com/trinodb/trino/blob/174d4292e37f3782620da6ad2436817526cf0f2c/testing/trino-testing/src/main/java/io/trino/testing/datatype/CreateAndInsertDataSetup.java#L84-L93 when used against a system != Trino.

[2021-03-08 15:56] findepi opened #7219 "Support aggregation pushdown in ClickHouse connector"

[2021-03-08 15:57] findepi commented on #7219
I think @wgzhao has a WIP implementation for this already.

[2021-03-08 18:37] giladmaya opened #7222 "show columns with column masking"
We've recently started working with column masking.
Is it possible to expose a flag with a column masking state per column when querying `show columns from table`?
The state should depend on user permissions, thus user with different masking permissions will have different values for this flag

Thank you

[2021-03-08 19:45] electrum commented on #7222
I'm not sure if we expose masking to end users at all right now. What happens if you do `EXPLAIN` for a query that includes masking? If we do expose this (and exposing this is the desired behavior and not a bug), then we can decide on a way to expose this to users. We currently have the `extra_info` field from `SHOW COLUMNS`, though this comes from connectors, not from the access control. We'd hav

[2021-03-08 19:50] martint opened #7223 "Add support for FILTER and WHERE in correlated query with UNNEST"
E.g.,

[code]

and

[code]

They currently fail with "Given correlated subquery is not supported"

[2021-03-08 21:21] kokosing opened #7224 "Flaky TestPrometheusIntegrationStatus"
[code]

[2021-03-08 21:22] kokosing commented on #6220
Hit with https://github.com/trinodb/trino/pull/7214

[2021-03-08 21:52] #7209 closed

[2021-03-08 21:54] #6909 closed

[2021-03-08 21:54] findepi commented on #7186
[code]

#6909 #7166

[2021-03-09 03:39] jshmchenxi opened #7226 "Iceberg: Apply row-level delete when reading"
Iceberg now supports row-level delete, but Trino does not apply row-level delete when read iceberg tables.
#7049 is required for this feature.

Some issues in Iceberg for reference:
apache/iceberg#1352 Data: Support row-level deletes with IcebergGenerics
apache/iceberg#1444 Spark: Apply row-level delete files when reading
apache/iceberg#1497 MR: Apply row-level delete files when reading
apache/ice

[2021-03-09 10:18] skrzypo987 commented on #5466
No, the test is broken, the catalog 'memory' does not exist

[2021-03-09 10:18] #5466 closed

[2021-03-09 10:19] PChou commented on #7121
@letmagnau Map handles as RowType, while Array handles as ArrayType, please go to `ElasticsearchMetadata#toTrinoType` to see the type mapping

[2021-03-09 10:24] sopel39 commented on #4486
Duplicate of: https://github.com/trinodb/trino/issues/1791

[2021-03-09 10:24] #4486 closed

[2021-03-09 10:55] PChou opened #7227 "Add scalar function to support align timestamp into fixed interval"
Hi team,

Have you consider adding a function that similar as `date_trunc`, but align the timestamp to every fixed interval.
[code]
See elasticsearch date histogram description: [Date histogram aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-datehistogram-aggregation.html)

`date_trunc` is actually calendar interval, and need to implement a f

[2021-03-09 11:17] findepi commented on #7227
Currently this can be expressed with

[code]

IMO it would be nice to have a dedicated function for this.

[2021-03-09 19:40] MariyaR commented on #6953
Hello @findepi,
do I understand correct that I can override visitSymbolReference method in the TestDomainTranslator.Visitor ?

[2021-03-09 20:18] kokosing commented on #7186
[code]
#7172

[2021-03-10 02:14] PChou commented on #7227
@findepi Sure, this is a really typical use case. Also, BTW, the function is the first step to implement pushing down aggregation as well as the function in future(I mean after connector can participate the logic plan optimization, we can rewrite the plan and push down aggregation and date_align, at least for elasticsearch).

[2021-03-10 10:09] kokosing commented on #6661
CC: @s2lomon

[2021-03-10 10:35] findepi opened #7237 "trino-test-jdbc-compatibility-old-driver is flaky while pulling Maven dependencies"
we retry parts of the build which download maven dependencies, but we miss retries in `trino-test-jdbc-compatibility-old-driver`

https://github.com/trinodb/trino/runs/2070532295
[code]

[2021-03-10 10:39] findepi commented on #6953
I guess you mean `DomainTranslator.Visitor`. Yes, this is where I'd start working on this.

[2021-03-10 14:02] rshramz opened #7240 "Add tests to AbstractTestHive to validate columns types for CSV serdes"
More information on the task can be found pr https://github.com/trinodb/trino/pull/7059 comments

[2021-03-10 14:25] bitsondatadev commented on #7121
Could you be a little more concise on the instance variable you use in the example?

`"aaa","bbb"."ccc"`

is this an array?

`["aaa","bbb","ccc"]`

1. And could you also provide a more concrete example for me to use when recreating your bug?
2. Can you share the elasticsearch mapping and an example document that causes an exception?
3. Can you show us the stacktrace you get?

This will help us act

[2021-03-10 16:14] wendigo opened #7242 "Support HIVE VIEW with LATERAL VIEW json_tuple AS ..."
Currently Coral lacks support of the `LATERAL VIEW json_tuple` which is a Hive syntax leveraging `json_tuple` UDTF.

The main difference between `json_tuple` and other UDTFs like `explode` is that `json_tuple` is column generating function (in contrast to `explode` which is a row generating function).

`json_tuple` has following signature in Hive:

[code]

Where `jsonStr` is a string or column ref

[2021-03-10 16:16] letmagnau commented on #7121
sure,

obviously is an array yes, but it cuold be of all of type available.
Example is:

we would use presto to have an initial query engine able to read heterogeneous type of storing, one of this is an existing ES CLOUD instance that have data ingested form another system.
In that instance , data was stored as ARRAY using the availability of ES to do this
**Arrays
In Elasticsearch, arrays do not

[2021-03-10 16:23] findepi commented on #7242
Let me take some notes about the `json_tuple` behavior.
All Hive queries run on HDP3 environment, with the following setup

[code]

## Unalias case

[code]

This introduces a relation `x` with fields `c0`, `c1` and `c2`.
As with any relation, the fields can be accssed using qualified or unqualified
names:

[code]

The unaliased case is easy to support -- we know number of columns statically,
so we

[2021-03-10 20:55] losipiuk commented on #7186
[code]
#7059

[2021-03-10 22:33] kalyansworld opened #7247 "Looking for Snowflake & Druid Connector"
I understand druid connector already there, which doesn't support case sensitivity. Also looking for snowflake connector.

[2021-03-10 23:42] ramyarajasekaran opened #7249 "Enable Bulk Partition Drops using Hive MS"
Hive Metastore offers a method to drop multiple partitions at the same time. Currently, partitions are dropped individually and this takes too long for tables with many partitions (>10K). Would be awesome if Trino allowed bulk partition drops.

Hive Issue to add bulk partition drops
[https://issues.apache.org/jira/browse/HIVE-6256](https://issues.apache.org/jira/browse/HIVE-6256)
HMS API for bulk

[2021-03-11 01:13] sparkheo7 commented on #6852
I tried this with trino-jdbc-353.jar and I am still facing the same issue. Is this fix part of trino-jdbc-353.jar ?

[2021-03-11 03:39] leoChaoGlut opened #7250 "Kudu java client bug: NonRecoverableException Scanner xx not found (it may have expired)"
presto version: 345

This is a known bug which is unresolved in kudu java client:
[https://issues.apache.org/jira/browse/KUDU-3169](https://issues.apache.org/jira/browse/KUDU-3169)

I track the stack trace as below
`at io.prestosql.plugin.kudu.KuduRecordCursor.advanceNextPosition(KuduRecordCursor.java:118)`
and found that every time KuduRecordSet will invoke cursor() method, and do  'clientSession

[2021-03-11 04:02] dain commented on #7222
You could add custom functions to do this?

[2021-03-11 05:36] hashhar commented on #6852
The bug was on the server not the JDBC driver. So updating the JDBC driver isn't going to solve this. You need to update the Trino version to 353.

[2021-03-11 06:30] hashhar commented on #7247
For Druid case-sensitivity issues take a look at the ongoing work in https://github.com/trinodb/trino/pull/7197

[2021-03-11 06:53] Jecarm opened #7251 "count(1) aggregation is not pushed into JDBC connectors when used with GROUP BY"
## Background
When i use Mysql connector, the aggregate function `count` should be pushdown to Mysql, and when i tried `count(*)` or `count(colName)`, the result is OK, but when use `count(1)`, it was not be pushdowned.

## Operate
The follows is the use of the `count(1)` aggregate function, and the aggregation operation executed in Trino.
[code]

When i use `count(*)`, the plan as follows:

[code

[2021-03-11 07:50] Shashikant-Jaiswal commented on #7158
Submitted a pull request https://github.com/trinodb/trino/pull/7252 for this issue.

[2021-03-11 08:03] sparkheo7 commented on #6852
oh ok. Thank you @hashhar for a quick update. Will try and update you on the same.

[2021-03-11 11:45] bitsondatadev commented on #7121
Hi @letmagnau,

Okay so this is the key statement right here.

Trino uses a SQL standard to represent and model the data. It has to treat column fields using the same type and we use the _mapping to determine those types. Since there is [no real concept of arrays in Elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/array.html) I added a way for Trino to indicate that s

[2021-03-11 11:51] letmagnau commented on #7121
It's seems to be a too  strong limitation
If I'n not the manger of the data in Elastic , I will not see nothing in presto
am I wrong ??

[2021-03-11 12:06] bitsondatadev commented on #7121
If you consider ANSI SQL to have too strong of a limitations then yes, it is a strong limitation. SQL requires you to know the type upfront. Elasticsearch is a little more liberal on how it models types just due to how the underlying Lucene models document data (everything is a list of values in an inverted array). Mapping one to the other is never straightforward.

Coordinating schemas across tea

[2021-03-11 12:12] letmagnau commented on #7121
we will try with the workaround with data ingested by ourself , but the main feature of read the data not managed by us I think will wait...

thanks

[2021-03-11 12:15] bitsondatadev commented on #7121
Okay! I wish I had a better answer for you that solved these issues but they are inherently difficult issues to solve and fall out of the purview of Trino our main goal is to adhere to ANSI SQL. Do you mind if I close this ticket then?

You can feel free to open a new one and let me know if #2508 would help you all in your situation. I can try to push to implement this if it helps.

[2021-03-11 13:53] #7121 closed

[2021-03-11 14:13] #7012 closed

[2021-03-11 16:41] findepi commented on #7249
@electrum @phd3 @losipiuk @djsstarburst what do you think?

[2021-03-11 18:57] sparkheo7 commented on #6852
It's working. Thank you @hashhar

[2021-03-11 19:16] MariyaR commented on #6953
#7263

[2021-03-11 21:37] findepi commented on #7247
For Snowflake connector, see https://github.com/trinodb/trino/pull/2551

[2021-03-11 21:38] findepi commented on #7247
I will close this as answered.
We can continue conversation here, or on [our slack](https://trino.io/slack.html).
See you there!

[2021-03-11 21:38] #7247 closed

[2021-03-11 21:44] Donderia opened #7266 "optimizer.optimize-metadata-queries configuration not working for view(s) created using union-all/ union"
Queries on views created using union-all/union are getting benefit of metadata and partition columns for eg.

T1 ( Partition column X, Y)
T2 ( Partition Column X, Y)

1. Select Max(X) from T1
 **_This query is served from cached partition info i.e No full scan of table required._**

2. Create view combined as ((select * from T1) union all (select * from T2))
     Select Max(X) from combined

**_Th

[2021-03-11 21:47] Donderia commented on #7266
from pratham   -

The optimization enabled with property optimizer.optimize-metadata-queries  is not applied currently in case of such union all - so I'd say it's not possible with the current version. (The high level reason seems to be that this optimization is performed before partial aggregations are added  on underlying tables. I'll look into whether we can improve this.)

[2021-03-11 22:58] ppKrauss opened #7267 "Trino architecture and use of Spark"
Trino is a kind of  [Federated Database Systems](https://en.wikipedia.org/wiki/Federated_database_system), which transparently maps multiple autonomous database systems  into a single "federated database" (and an alternative SQL language to query it)... This old article (of 2016), "[Virtual Integration of Hadoop with External Systems](https://community.cloudera.com/t5/Community-Articles/Virtual-In

[2021-03-12 01:06] #4531 closed

[2021-03-12 02:45] antonioromero-pm commented on #1855
Aggregation pushdown has been added to Trino as of last quarter.

[2021-03-12 04:18] ImTangYun commented on #6857
any ideas? is it ok?

[2021-03-12 07:20] hli191 opened #7269 "Join cross database with Trino"
How can i  use  join cross database  with multiple catalogs  in Trino?  or not support?

for example :
One connector is Mysql ,catalog as mysql
Second connector is PostgreSql, catalog as postgresql

I want join cross database use sql as below :

select
          a.user_name,
         b.order
from
        mysql.user as a
join postgresql.order as b
 on a.user_id=b.user_id

[2021-03-12 08:54] findepi commented on #4018
Seems fixed by @aalbu in #4563

[2021-03-12 08:54] #4018 closed

[2021-03-12 09:10] my-byte-2021 commented on #6857
Sounds interesting. Could you share your code through a pull requests?

[2021-03-12 09:39] findepi opened #7271 "Incorrect results when Hive VIEW contains array subscript with non-literal"
More info: https://github.com/linkedin/coral/pull/54

[2021-03-12 09:45] findepi commented on #7269
This is absolutely possible.
I think you may hit a problem because `order` is a keyword, so try replacing `b.order` with `b."order"`.

[2021-03-12 09:55] findepi commented on #7267
The first two are described as "syntax sugar", and Trino is an _execution engine_, so hardly a "syntax sugar".
So i guess if i have to choose between these, I'd choose 3, but I am not sure I have the same understanding of it when it comes to details.

Does this answer your question? Let me close the issue as "nothing to change in the project".

We can continue conversation here, or on `#general` c

[2021-03-12 09:55] #7267 closed

[2021-03-12 10:07] MariyaR commented on #7113
Hi,
may I try to work on this?

[2021-03-12 10:09] findepi commented on #7251
@Jecarm  Thanks for the report!

The connector implementing aggregation pushdown doesn't need to discern between `count()`, `count(*)` and `count(1)`.
The normalization is handled by `SimplifyCountOverConstant` rule.

in case of
[code]

`SimplifyCountOverConstant` works.

However, in case of
[code]
`SimplifyCountOverConstant` does not work, because the constant `1` is not inlined into aggregation

[2021-03-12 10:10] findepi commented on #7113
sure, go for it!

[2021-03-12 10:11] findepi commented on #7250
cc @Crossoverrr

[2021-03-12 10:19] sopel39 commented on #7186
[code]
https://github.com/trinodb/trino/pull/7259

[2021-03-12 10:42] kasiafi opened #7273 "LIKE predicate does not fail when the escape character is '' (empty)"
[code]

[code]

There is a check in `LikeFunctions.getEscapeCharacter(Optional<Slice> escape)` that is supposed to catch it, but it is only accessed through certain paths.

[2021-03-12 11:18] findepi commented on #7186
[code]

#6848

[2021-03-12 11:53] findepi commented on #7186
https://github.com/trinodb/trino/pull/7244 fixes a _build_ problem in certain environments,
see https://github.com/airlift/airbase/pull/255/commits/2fec5107b4bc75ebc016880408b3a9c65e381fa7
https://trinodb.slack.com/archives/CGB0QHWSW/p1613158866364200

I am not sure how and whether this should be captured in release notes.

[2021-03-12 12:17] kokosing commented on #7186
[code]
#7054

[2021-03-12 12:36] jshmchenxi commented on #7226
Spark/Flink support this row-level delete reading feature by invoking DeleteFilter.filter() to record rows. This requires the engine to support dealing with data by row. However, Trino reads Iceberg data and converts to a Block[]. So I found it difficult to apply the DeleteFilter to Trino to support this feature.

[2021-03-12 12:44] jshmchenxi commented on #7226
@electrum @phd3  Hello! What do you think of this issue? I wonder if there is a way to achieve this feature?

[2021-03-12 14:45] waitingF opened #7276 "trino table column is case Insensetive for elasticsearch connector"
While using trino to perform sql base on Elasticsearch cluster, I found presto is NOT case sensetive for columns. For Example, I have an Index in elasticsearch with mapping like(with fields[age, Age, name, Name]):
[code]

When use "DESC myindex" in trino-cli, it shows nothing:
![image](https://user-images.githubusercontent.com/19326824/110954053-069f7500-8383-11eb-9f25-48a2cd4c49c4.png)

Then, I d

[2021-03-12 15:28] martint commented on #7267
Also, please take a look at https://trino.io/paper

[2021-03-12 17:32] Parth-Brahmbhatt commented on #1855
@antonioromero-pm the PR to handle this in druid has been out https://github.com/trinodb/trino/pull/4313 but I just haven't found time to address some of the comments as I moved on to other things. I thought someone from Starburst was going to take over that PR but may be they also haven't found time yet. I will check back once I can carve out some time and try and address the comments so we can a

[2021-03-12 19:59] martint commented on #7273
This should be validated during analysis.

[2021-03-12 20:35] kasiafi commented on #7273
It will not fix the issue:
[code]

[2021-03-13 09:01] losipiuk commented on #7114
Dropped good-first-issue as the problem here is not that easy to solve due to the fact that Kafka is currently not covered with tests based on `AbstractDistributedTestQueries`. See #7185 for more info.

[2021-03-13 15:46] ramondeklein opened #7283 "Support for (binary) ION in the Hive connector"
Amazon has developed the [(binary) ION format](https://amzn.github.io/ion-docs/) that is a richly-typed, self-describing, hierarchical data serialization format offering interchangeable binary and text representations. The text format (a superset of JSON) is easy to read and author, supporting rapid prototyping. The binary representation is efficient to store, transmit, and skip-scan parse. The ri

[2021-03-14 05:02] hashhar commented on #7276
Requires https://github.com/trinodb/trino/issues/17 to fix correctly. The optimizer normalizes every input to lowercase today. We do support case-insensitive name matching as long as there are no collisions - which is not true in your case.

You can try once using the query passthrough feature of the ElasticSearch connector (but I don't think it would work since the query is embedded in the table

[2021-03-14 08:45] guyco33 commented on #7222
Thanks @dain
I created a custom function that reads the secret key into a static final variable with `System.getenv`, so now the secret is not exposed in the EXPLAIN statement.
Interestingly, the `hmac` function with the **same exact value and key** has different results while selecting the function directly and while using it as a masking function !!!
Is there any different context for the maskin

[2021-03-14 17:54] findepi commented on #7283
cc @elec

[2021-03-14 17:55] findepi commented on #7276
Note that (from the docs):

_The Elasticsearch query string es-query is base32-encoded to avoid having to deal with escaping quotes and case sensitivity issues in table identifiers._

[2021-03-14 20:53] phd3 commented on #7269
Also, another minor thing: tables are referenced as `<catalog_name>.<schema_name>.<table_name>` in Trino, so please make sure to include the schema name too. https://trino.io/docs/current/overview/concepts.html#schema

Feel free to join Trino community [slack](https://trino.io/slack.html) to discuss any further questions you might have.

[2021-03-14 22:08] phd3 commented on #7249
It makes sense to me to try out and verify its behavior for different hive versions. looks like in Trino, we'll need to use the `ThriftMetastore.IFace#drop_partitions_req` call.

@ramyarajasekaran Currently, `hive.max-concurrent-metastore-drops` property can be tuned to improve parallelism for such drops. However, IIRC there's still a [race condition](https://github.com/trinodb/trino/issues/3898#i

[2021-03-15 00:05] ebyhr opened #7285 "Aggregation pushdown in MongoDB connector"

[2021-03-15 00:34] hli191 commented on #7269
Thanks for the explain , but how to config JDBC URL for client ?
assume i have two catalogs as above.

jdbc:trino://host:port/ ????
jdbc:trino://host:port/mysql
jdbc:trino://host:port/postgresql

[2021-03-15 01:25] pan3793 commented on #1324
Is there any plan for supporting `HadoopCatalog`?

[2021-03-15 05:52] cxydevelop opened #7286 "How to make trino table name case sensetive?"
I have created a custom connector plugin.
When I executed "select name,id from http.cluster_list.TEST", I always got the lowercase SchemaTableName in "ConnectorMetadata.getTableHandle(..)"
![image](https://user-images.githubusercontent.com/25632323/111108855-9ff1a580-8594-11eb-8824-f94fbc0a8162.png)
I found that when Trino SqlParser create statement, it will make my table name lowercase.
![image](

[2021-03-15 07:15] dheerajkulakarni opened #7287 "Allow custom configuration properties to be passed to Calcite"
`connection.getMetadata().storesUpperCaseIdentifiers()' returns true when called in DruidJdbcClient which has to be ideally false in case of Druid. This returns true because Avatica driver returns the properties of ORACLE properties by default, but at the moment Avatica JDBC driver doesn't allow to pass configuration like lex, caseSensitive etc [(https://calcite.apache.org/docs/adapter.html#jdbc-c

[2021-03-15 10:47] giggsodevops opened #7289 "trino kafka connector dynamic table names"
hello
in trino kafka.properties files we are giving tables names as per below config
[code]

so instead of my expectation is how to get all tables dynamic without mention in `kafka.table-names` list.
because my source code automatic creating date base topic names on kafka. so i am not able to retrieve those topics names here without adding in above files.
so how i can do that dynamic ?

thanks

[2021-03-15 11:02] findepi opened #7290 "ORC ACID DELETE ignores partition filter, deleting too much"
[code]

[code]

[code]
-- this should have deleted 1 row, not 3

[code]

[code]

[code]

Relates to https://github.com/trinodb/trino/issues/7291 and https://github.com/trinodb/trino/issues/7300

[2021-03-15 11:05] findepi commented on #7290
cc @djsstarburst

[2021-03-15 11:19] guyco33 commented on #7222
Is there any different context for the masking function that can explain it ?

My bad. Result is identical for both cases. It was a double masking issue.  I didn't realise that I'm masking again the masked result returned from the masked access control rule :)

[2021-03-15 11:23] findepi opened #7291 "Non-transactional DELETE from ORC ACID when predicate on partition columns"
Setup

[code]

### Delete via Hive

[code]

[code]

### Delete via Trino

Recreate data

[code]

[code]

[code]

### Observed

Whole partition directory deleted.

### Expected

Delete from a transactional table should be transactional and follow Hive behavior for compatibility.
Thus  `delete_delta_*` should be created instead of deleting the original data files.

[2021-03-15 11:23] findepi commented on #7291
cc @djsstarburst

[2021-03-15 12:13] #7276 closed

[2021-03-15 14:25] djsstarburst commented on #7290
I'm guessing the problem is some error handling the `TupleDomain`.  I'm looking into it.

[2021-03-15 14:32] findepi commented on #7290
This is where pushed down predicates are getting lost:
https://github.com/trinodb/trino/blob/dcb9f8a87bd8ce1d2b3e40f3be927b3e99ce3750/core/trino-main/src/main/java/io/trino/sql/planner/optimizations/BeginTableWrite.java#L234

[2021-03-15 15:27] findepi opened #7295 "Support Hive VIEW with UNION (DISTINCT)"
Hive view with `UNION ALL` works, but `UNION` does not

[code]

[2021-03-15 15:28] findepi commented on #7295
Since it worked in Presto 344, i am marking this as a bug.

[2021-03-15 17:20] djsstarburst commented on #7290
AFAICT, the problem originates in https://github.com/trinodb/trino/blob/master/core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PushPredicateIntoTableScan.java#L265, in method `pushFilterIntoTableScan`.  Here is the offending code:

[code]

The `decomposedPredicate` has the correct `TupleDomain` specifying `regionKey` in the range [4,4], and a `remainingExpression` which is code f

[2021-03-15 18:14] zzzpoint commented on #1053
It works, but data is moved into s3://<bucket>/user/hive/.Trash/Current/... is it possible to bypass trash and just remove it, like purge option in Hive?

[2021-03-15 19:34] lmouhib opened #7296 "Support for S3 Access Point"
AWS launched S3 Access Point which allows to scope down access for a set of users/applications to a specific path or set of objects in an S3 bucket, this feature is easier than using S3 bucket policies. S3 Access Point can be used either through a hostname or ARN, however, when used an AWS SDK, they need to be referenced with an ARN.

As it stand now, the way Trino implements access to S3 makes it

[2021-03-15 19:46] djsstarburst commented on #7290
The bug arises because `PruneTableScanColumns.pruneColumns()` is called with a DeleteNode on top of a ProjectNode on top of a `TableScanNode`.  The set of assignments in the ProjectNode doesn't contain `regionKey`, and that results in the enforcedConstraint in the TableScan, which depends on column `regionKey`, is pruned, and the resulting `enforcedConstraint` is ALL.  I'm unsure why pruning the c

[2021-03-15 20:06] findepi commented on #7290
The bug is the effect of interaction of Row-level delete with `applyFilter` removing Filters that are pushed wholly into TableScan.
`applyFilter` works great, but then, in https://github.com/trinodb/trino/blob/dcb9f8a87bd8ce1d2b3e40f3be927b3e99ce3750/core/trino-main/src/main/java/io/trino/sql/planner/optimizations/BeginTableWrite.java#L234, we replace 'enhanced' TableHandle with the original one,

[2021-03-15 20:47] findepi commented on #7186
[code]

#7236

[2021-03-15 20:57] djsstarburst commented on #7290
I put breakpoints at `HiveMetadata.applyDelete()` and `HiveMetadata.executeDelete()`, and they are never called.  beginDelete() and finishDelete() are called, but by the time beginDelete() is called, AFAICT the damage to the table scan is done.

[2021-03-15 21:12] findepi commented on #7287
Would it be possible for formulate this issue title in terms of benefits for the Druid connector?
The Avatica driver is not elsewhere, as far as i know.

[2021-03-15 21:13] findepi commented on #7286
Please have a look here: https://github.com/trinodb/trino/issues/17
I will close this one as the duplicate.

We can continue conversation here, or on `#dev` channel on [our slack](https://trino.io/slack.html).
See you there!

[2021-03-15 21:13] #7286 closed

[2021-03-15 21:16] findepi commented on #7269
Use `jdbc:trino://host:port/` url and then query like:

[code]

I will close this as not-an-issue in Trino.
We can continue conversation here, or on `#troubleshooting` channel on [our slack](https://trino.io/slack.html).
See you there!

[2021-03-15 21:16] #7269 closed

[2021-03-15 21:20] electrum commented on #7296
Can you explain more about how you would like to use these? For example, would you have a different access point for the same table based on the user accessing the table?

[2021-03-15 21:55] adamjshook opened #7297 "Add support for Accumulo 2.x"
The current Accumulo connector for Trino is written against Accumulo 1.x.  If users want to use the connector against Accumulo 2, the connector will need to be updated (and tested) to use the new Accumulo 2.x library.

While the majority of the 1.x APIs are still present in the 2.x code base, some have been deprecated and some non-public files that may be in use by the connector have been removed.

[2021-03-15 22:09] findepi opened #7298 "ORC ACID UPDATE fails with "page doesn't have enough columns" for table created by Trino or having "original files""
[code]

[code]

[2021-03-15 22:26] findepi opened #7300 "ORC ACID UPDATE ignores partition filter, updating too much"
[code]

[code]

[code]

[code]

relates to https://github.com/trinodb/trino/issues/7290

[2021-03-15 22:26] findepi commented on #7300
cc @djsstarburst

[2021-03-15 22:26] findepi commented on #7300
root cause seems the same as in https://github.com/trinodb/trino/issues/7290

[2021-03-15 22:27] findepi commented on #7290
same for UPDATE -- https://github.com/trinodb/trino/issues/7300

[2021-03-16 02:26] hashhar commented on #7287
This should ideally be filed upstream (Druid or Apache Calcite) and we can use this to track what we need to do on our end once the driver gets fixed.

TL;DR The Avatica driver returns incorrect JdbcMetadata (unquoted identifier casing).

[2021-03-16 04:36] phd3 commented on #7186
[code]

#7233

[2021-03-16 04:46] phd3 commented on #7186
[code]

#7049 cc @electrum

[2021-03-16 06:29] brandboat commented on #6394
After #7261 and #6680 merged, the remaining type tests need to be converted to SqlDataTypeTest are as follows:
- testLegacyDateMapping
- testLegacyDateReadMapping
- testDateMapping
- testDateReadMapping
- testTimestamp
- testTimestampWithTimeZone

[2021-03-16 08:28] findepi commented on #6281
Followed up here: https://github.com/trinodb/trino/issues/7298

[2021-03-16 09:52] findepi opened #7303 "Replace TestPlanMatchingFramework#assertFails with assertThatThrownBy"
`TestPlanMatchingFramework#assertFails` doesn't check anything useful today.
The underlying assertion can change without notice.

Should be replaced with `assertThatThrownBy` and _some_ check on the reported message.

[2021-03-16 09:52] findepi commented on #7303
cc @choiwaiyiu

[2021-03-16 10:18] findepi commented on #6553
https://github.com/trinodb/trino/pull/6767 is merged.
@choiwaiyiu can you please do another check whether there is anything remaining and close the issue?
thanks!

[2021-03-16 15:03] martint commented on #7186
[code]

#7012, #7248

[2021-03-16 15:07] martint commented on #7186
[code]

#7090

[2021-03-16 15:23] djsstarburst commented on #7290
The solution is to get the `TableHandle` to pass to `ConnectorMetadata.beginDelete()` from the appropriate `TableScanNode` instead of the `DeleteTarget`, and then save the `TableHandle` returned by `ConnectorMetadata.beginDelete()` in the `DeleteTarget`.  The question is how to find the appropriate `TableScanNode`:

- Do a depth-first search of the `DeleteNode` tree, returning the `TableHandle` fr

[2021-03-16 16:12] djsstarburst commented on #7290
I just posted PR #7307 which fixes this bug for DELETE and UPDATE.

[2021-03-16 21:02] bitsondatadev opened #7308 "Handle fields that are not able to be inferred by returning the raw json"
Currently if you write an array of arrays to elasticsearch, it will internally flatten that list, and store only the type of that field in the mapping for indexing. Elasticsearch, will also store the original document that was submitted as text, which effectively preserves the array of arrays. When querying for the field, it returns this field. Unfortunately, Trino has no way to infer when elastic

[2021-03-16 21:11] MusKaya commented on #7308
thanks @bitsondatadev

after the `"isRawJson": true` mapping is set, why do you prefer classifying the column as `varchar` instead of `json`?

[2021-03-16 21:18] bitsondatadev commented on #7308
Good question @MusKaya. There's a performance hit by having to parse json (and it's not small, especially if there are a large number of rows). Let's just say you want the query to return and you actually don't care about that field (you do a SELECT *) then we pay a penalty of parsing that json for nothing. We can defer that to the user to do in the SELECT statement if they actually care about tha

[2021-03-16 21:21] MusKaya commented on #7308
makes sense @bitsondatadev, thanks!

[2021-03-16 23:05] martint commented on #7308
Additionally, using VARCHAR will play better with the SQL 2016 JSON features once we implement them, which operate on binary or varchar fields (there's no JSON type in the SQL spec)

[2021-03-17 01:00] yingdam opened #7310 "Insert into Hive transactional table fails with HMS 3.1.2: Invalid method name alter_table_req"
Hi, guys! I want to test Hive transactional table and ACID function with Trino v353 and HMS 3.1.2 (Apache Hive official distribution).
I created a table with following sql:
`create table sample (a int, b int) with (transactional='true');`

after that I tried to insert into this table with sql:
`insert into sample values row(1, 2)`
 and got the exception `org.apache.thrift.TApplicationException: In

[2021-03-17 01:23] hqbhoho opened #7311 "File system access control base on database like mysql etc"
This access control plugin now allows you to specify authorization rules in a JSON file. But file update is not easy than database .

[2021-03-17 05:18] byungnam commented on #1076
Hi. I also met this problem and found a better workaround by making combination of policies. You just need to make every level of policy that gives access to `information_schema` and the actual schema you want to give permission.

Below example shows how to make a `hive` catalog, `default` schema access permission. The point is that you need to make every level of policies cascading from catalog t

[2021-03-17 08:33] findepi commented on #7186
[code]

#7170
https://github.com/trinodb/trino/pull/7314

This is supposed to supersede https://github.com/trinodb/trino/issues/7186#issuecomment-792039751

[2021-03-17 08:52] kokosing commented on #7311
That is quite difficult technically. In order to support database we need JDBC drivers. Notice access control are in Trino core engine and most of the connectors. So if we decide to support PostgreSQL then each such module will gain PostgreSQL driver dependency. If we then decide to add Oracle, then we will have two of them. Drivers usually are well shaded, but is also known that sometimes they li

[2021-03-17 10:04] findepi opened #7317 "Flaky test TestKuduIntegrationDecimalColumns. testDeleteByPrimaryKeyDecimalColumn"
https://github.com/trinodb/trino/runs/2129444090
[code]

[2021-03-17 10:43] findepi commented on #6646
https://github.com/trinodb/trino/runs/2129650515
[code]

[2021-03-17 11:07] ImTangYun commented on #6857
to do this, we have some work todo, so wo have to make sure commitee will receive this feature

[2021-03-17 12:22] kokosing opened #7320 "Incorrect aggregation pushdown for case insensitive columns in JDBC some connectors"
In MySql:
[code]

Possibly affects SQL Server and MemSql too.

[2021-03-17 12:24] kokosing commented on #7320
Another example
[code]

[2021-03-17 12:56] findepi commented on #3822
https://github.com/trinodb/trino/runs/2129979538

[code]

[2021-03-17 14:01] austenLacy opened #7322 "Issues implementing Google OAuth into UI"
We've been investigating integrating Google OAuth into the Trino UI and have been running into issues getting a token from the authorization code.

After the redirect to `/oauth/callback?code=<some_code>&state=<some_state>` the logs show

[code]

and if I refresh the "OAuth2 Authentication Failed" page I see

[code]

and further down the response from Google looks like
[code]

I'm not sure if Goog

[2021-03-17 14:07] kokosing commented on #7322
cc @lukasz-walkiewicz @s2lomon

[2021-03-17 18:44] AdarshdeepCheema commented on #6618
just an FYI: it also happens when we use current_date,current_timestamp,localtime,localtimestamp

I tried trino 353 jdbc as well and it also shows the same issue.

[2021-03-17 19:05] findepi commented on #6618
Trino 353 JDBC driver is not compatible with releases before <= 350.
Can i assume you upgrade the server to 353 as well?

Can you share the error your seeing in Squirrel?

[2021-03-17 19:23] kokosing commented on #7186
[code]
 #7239

[2021-03-17 21:23] #7290 closed

[2021-03-17 21:23] #7300 closed

[2021-03-17 21:28] findepi commented on #7186
[code]

#7324

[2021-03-17 21:59] findepi commented on #7019
Done in https://github.com/trinodb/trino/pull/7155

[2021-03-17 21:59] #7019 closed

[2021-03-18 01:29] AdarshdeepCheema commented on #6618
Sorry.. I did not know that Trino 353 JDBC driver is not compatible with 350 sever. But I was able to connect and I was seeing the same error when connected to Server 350 with 348 jdbc driver

Error in squirrel when using 348 and latest driver with 350 servers:
**Error: Error executing query
SQLState: null
ErrorCode: 0**

[2021-03-18 11:45] KimHyoJin commented on #7108
Hi, I am interested in this issue. May I try to work on this?

[2021-03-18 12:10] losipiuk commented on #7108
Thanks @KimHyoJin . Go for it.

[2021-03-18 12:55] Praveen2112 commented on #7289
Hi !! Kafka connector also supports schema registry tables. We just need to add the following config

[code]

Reference : https://trino.io/docs/current/connector/kafka.html#confluent-table-description-supplier.

Now we could add new subject to SchemaRegistry and it is accessible by Trino.

[2021-03-18 12:56] Praveen2112 commented on #7289
Feel free to join our community : https://trino.io/slack.html

[2021-03-18 12:56] Praveen2112 commented on #7289
Feel free to open this issue if it doesn't answer your question.

[2021-03-18 12:56] #7289 closed

[2021-03-18 13:54] findepi commented on #7186
[code]

#7326

[2021-03-18 14:33] andreas-eberle opened #7334 "Cannot compare timestamp with varchar value"
We want to query a subset of our data based on a timestamp from a hive table. The query could look like this:

[code]

While a query like this works with any other database we tested, it doesn't work with trino. Instead, we get the following error:

[code]

[2021-03-18 14:59] martint commented on #7334
VARCHAR and TIMESTAMP are not directly comparable. This is intentional and follows standard SQL semantics. You need to convert one to the other type. For a literal, you can use this form:

[code]

Otherwise, you can use a CAST:

[code]

[2021-03-18 15:31] andreas-eberle commented on #7334
Is there a reason not to auto cast it like e.g. Postgres, MySQL and many others do?

E.g. for Superset, this causes problems (see https://github.com/apache/superset/issues/13009).

[2021-03-18 15:40] rlcyf opened #7336 "query iceberg table very slow"
iceberg 0.11.0
trino 351

trino worker*3
16CORE 32G RAM

[code]

one query **scan 10 times**?

2021-03-18T23:37:27.724+0800    INFO    Query-20210318_153723_00000_epdqw-324   org.apache.iceberg.TableScan    Scanning table odsx1.sample03 snapshot 9094447769635788533 created at 2021-03-18 23:05:50.986 with filter true
2021-03-18T23:37:28.290+0800    INFO    Query-20210318_153723_00000_epdqw-324   or

[2021-03-18 16:32] MusKaya opened #7340 "Elasticsearch connector: Handle coerced long values"
**Background**
Elasticsearch has a by default on "coercion" feature such that it coerces an input value to match the field mapping.

For instance if we have a field called `long_field`, and if we want to insert 1.5, it stores the value 1.5 in the `_source`, however it indexes the value 1 for this document.

As a result, we can have a document that has the value 1.5 for a long field in the _source.

[2021-03-18 16:32] MusKaya commented on #7340
@bitsondatadev fyi

[2021-03-18 17:00] bitsondatadev commented on #7340
Thanks for creating this! I'll take a look tomorrow!

[2021-03-18 17:53] adeubank opened #7342 "Query error when using EXCEPT in sub-query."
When using the `EXCEPT` clause, this works.

[code]

But, this fails with  `java.lang.UnsupportedOperationException: not yet implemented: io.trino.sql.tree.Except`

[code]

<details><summary>stacktrace</summary>

[code]
</details>

[2021-03-18 18:43] martint opened #7345 "Incorrect results when similar subqueries differ only on UNION ALL vs UNION DISTINCT"
[code]

incorrectly returns:

[code]

The correct output should be:

[code]

[2021-03-18 21:10] #7342 closed

[2021-03-18 21:10] #7345 closed

[2021-03-19 00:45] AdamLandis commented on #7342
Impressive turn around Martin

[2021-03-19 01:06] electrum commented on #7336
Note that we're not actually reading the data 10 times, but we are reading the metadata files 10 times, and since your table is tiny, reading the metadata will have significant overhead relative to the reading the data (and could even be more expensive than reading the data).

[2021-03-19 01:13] bitsondatadev commented on #7342
Feel free to add a star to the Trino repo if this impressed you on a scale of no star to star!

[2021-03-19 01:16] electrum commented on #7186
[code]
#7049

[2021-03-19 01:21] electrum commented on #7186
[code]
#7302

[2021-03-19 01:22] rlcyf commented on #7336
i testing on 353 now!
I am waiting for this issue https://github.com/trinodb/trino/issues/6982#event-4365772616  release to new version(354?)

[2021-03-19 05:24] cxydevelop opened #7353 "How to package the custom plugin"
I want to package a custom plugin and put it in trino directory "/usr/lib/trino/plugin"
![image](https://user-images.githubusercontent.com/25632323/111732519-9c219400-88b0-11eb-812a-89903232e411.png)

My plugin is a maven project, and I have to use  the maven plugin "maven-dependency-plugin" to package its dependency jar.
pom.xml
`<build>
        <plugins>
            <plugin>
                <art

[2021-03-19 06:34] #7311 closed

[2021-03-19 06:37] yuokada commented on #7353
Hi, maven-shade-plugin may be useful to package a custom plugin.

`maven-shade-plugin` packs class files depended on a custom plugin to a jar for that project.

Just in my case.

e.g: Here is my example repository.
- https://github.com/yuokada/presto-sample-udf/blob/5ee5193233bbfbb981696f3fdd8fc9ded8db8399/pom.xml#L158-L191

[2021-03-19 11:08] findepi commented on #6220
https://github.com/trinodb/trino/runs/2147157988

[2021-03-19 11:14] findepi commented on #7353
The recommended way is to use
[code]

and
[code]

the dedicated packaging runs some additional checks, ensuring your plugin declares dependencies correctly.
For example, it should not bundle SPI classes.

[2021-03-19 11:14] findepi commented on #7353
I will close this as answered, and not-an-issue in Trino.
We can continue conversation here, or on `#dev` channel on [our slack](https://trino.io/slack.html).
See you there!

[2021-03-19 11:14] #7353 closed

[2021-03-19 11:24] findepi commented on #6618
you can check the Trino server UI exposed over http. this will get you query history and failure stacktrace as well

[2021-03-19 11:35] #6956 closed

[2021-03-19 11:36] findepi commented on #7186
[code]

#7122

[2021-03-19 13:06] davseitsev commented on #7159
We have the same issue when run query with `regexp_like` filter which can't find any row.
Underlying plugin returns rows quickly but `ScanFilterAndProjectOperator` can't find any matching row and got stuck when the query is cancelled. Also it consumes CPU and memory pool.
Even 1 such query make the whole cluster stuck.

Here is stack trace  of hang thread
[code]

Sample query:
[code]

Underlying c

[2021-03-19 13:33] sopel39 commented on #7159
@davseitsev you might want to try feature config `regex-library=re2j`, which should have more predictable performance in some cases.

[2021-03-19 13:41] davseitsev commented on #7159
Just want to clarify that the issue is that a query stucks on workers when it is cancelled on coordinator and keep consuming resources.

[2021-03-19 15:57] yamingd opened #7363 "org.apache.phoenix.query.DefaultGuidePostsCacheFactory"
I used dbeaver to connect to Trino of Phoenix, and there was such an error  Could not load/instantiate class org.apache.phoenix.query.DefaultGuidePostsCacheFactory this my configuration

hbase version 2.3.4
phoenix version 5.1
trino version 353
phoenix5 jar phoenix-client-embedded-hbase-2.3-5.1.0.jar

![1616147367749](https://user-images.githubusercontent.com/639157/111808275-d02ba200-890e-11eb-8b

[2021-03-19 16:03] findepi commented on #7363
@yamingd would you be able to copy the error stacktrace as text?

also, what's our phoenix catalog properties file?

[2021-03-19 16:05] findepi commented on #7159
Make sense.
This is because code can be spending lot of time within single projection.
This is, however, a different problem than one being addressed here,
although I agree that from user perspective they look similar.

[2021-03-19 16:09] sopel39 commented on #7186
[code]
https://github.com/trinodb/trino/pull/6784

[2021-03-19 18:56] kokosing commented on #7159
@davseitsev Would you like to create a separate Github issue for your case? Notice that your issues is not JDBC connector related at all. So solving your problem requires dedicated separate effort than solving the issue described here.

[2021-03-19 19:23] #7186 closed

[2021-03-19 21:32] martint opened #7366 "Release notes for 355"
## David Phillips
- [x] all checked
-  03-25 08:17:04    f1ca46da4d Add Hive schemas into InputFormat#getSplits
-  03-25 11:48:30    ad1e9cd065 Add doc for optimizer.use-table-scan-node-partitioning
## Grzegorz Kokosiński
- [x] all checked
-   03-20 12:34:52    6395ff0ae4 Do not allow to INSERT into a table with row filter
-   03-20 12:34:52    ad4ab3fcfb Improve error message
-   03-20 12:38:42

[2021-03-20 06:49] hqbhoho opened #7368 "Trino JDBC Create table throw Exception"
I use trino jdbc create table will throw exception. But create table is success；
![image](https://user-images.githubusercontent.com/37388552/111861719-62718b80-898b-11eb-9054-be60d416d348.png)

java.sql.SQLException: Error executing query
	at io.trino.jdbc.TrinoStatement.internalExecute(TrinoStatement.java:274)
	at io.trino.jdbc.TrinoStatement.execute(TrinoStatement.java:227)
	at org.lilith.bigdat

[2021-03-20 12:18] pPanda-beta commented on #5500
The existing syntax is also not working.
Prestosql-348/iceberg 0.10.0

When I queried with a snapshot id, it is returning the value of latest data.
I queried on march 12, 2021, and seen data till march 20, 2021

[2021-03-20 19:31] kokosing opened #7369 "Prefer using 'not allowed' in error messages instead of 'not supported'"
"Not supported" may mean that something is not yet implemented and not yet supported. While using "not allowed" suggest that this is not allowed by the design.

[2021-03-20 19:36] kokosing commented on #7366
[code]
#7346

[2021-03-20 19:40] #7208 closed

[2021-03-21 01:33] yamingd commented on #7363
2021-03-19T18:25:01.900+0800	ERROR	remote-task-callback-2	io.trino.execution.StageStateMachine	Stage 20210319_102501_00003_cwsiw.1 failed
io.trino.spi.TrinoException: org.apache.phoenix.exception.PhoenixNonRetryableRuntimeException: Could not load/instantiate class org.apache.phoenix.query.DefaultGuidePostsCacheFactory
	at io.trino.plugin.jdbc.JdbcRecordCursor.handleSqlException(JdbcRecordCursor.j

[2021-03-21 11:06] Vedarutvija commented on #7369
@kokosing can you me with the file name the issue is in

[2021-03-21 14:52] ebyhr commented on #7368
I couldn't understand the issue. Could you rephrase and share the steps to reproduce including Trino version?

[2021-03-21 19:54] kokosing commented on #7369
The issues is motivated by `StatementAnalyzer` class where certain constructs are disallowed. See mentioned issue #7346.

Before you start working on this I would like to capture more feedback about this issue from other maintainers.

[2021-03-22 00:04] #7368 closed

[2021-03-22 04:19] iodone opened #7374 "In Trino-JDBC calling TrinoResultSet.cancel can't really close completablaFuture thread"
When using Trino-JDBC, the implementation of `ResultSet.close` in Trino `ResultSet` will call the cancel method in AsyncIterator Class to cancel the current thread. Since the thread of AsyncIterator is a CompletableFuture implementation, it will not throw an Interupption Exception，even if the thread is in the wait state.
If `TrinoResultSet.AsyncIterator.rowQueue` is full and the user closes TrinoJ

[2021-03-22 09:27] choiwaiyiu commented on #6553
@findepi
Here are the remaining "fail() + catch" pattern.

- trino-blackhole

  - [TestBlackHoleSmoke](https://github.com/trinodb/trino/blob/master/plugin/trino-blackhole/src/test/java/io/trino/plugin/blackhole/TestBlackHoleSmoke.java)
    - https://github.com/trinodb/trino/blob/master/plugin/trino-blackhole/src/test/java/io/trino/plugin/blackhole/TestBlackHoleSmoke.java#L112-L132

- trino-hive

[2021-03-22 10:13] sopel39 commented on #7366
[code]
https://github.com/trinodb/trino/pull/7319

[2021-03-22 10:22] sopel39 commented on #7366
[code]
https://github.com/trinodb/trino/pull/7257

[2021-03-22 10:26] sopel39 commented on #7366
[code]
https://github.com/trinodb/trino/pull/7257

[2021-03-22 12:21] #6646 closed

[2021-03-22 15:56] 51yu opened #7380 "splits stealing from slow worker"
Time cost of large hive table scanning (persist in s3) is upper bounded by the worker with least I/O, in multi-tenant (cloud environment) worker I/O is not always guaranteed (noisy neighbor, shared hardware resource - network bandwidth / CPU etc).
Query manager (coordinator) should be aware of such slow worker during runtime (on demand post-planning), so that peer (healthy) workers should be able

[2021-03-22 16:03] sopel39 commented on #7380
Workers have limited split queue length to prevent just that. How much lag there is in slow worker compared to fast workers?

[2021-03-22 16:36] 51yu commented on #7380
tracking the webui dashboard, I found splits on healthy workers finished 8 splits assigned within same stage (splits are evenly distributed across workers) while slow worker almost make no progress for a single split among 8. And network throughput of a healthy worker is 30x comparing the slow one.

[2021-03-22 16:49] findepi commented on #7380
I would recommend  focusing energy on identifying "slow workers" and then being able to remove them from the cluster.
that would probably require administrator's  action (human or automated) to shut them down and de-provision

[2021-03-22 18:13] 51yu commented on #7380
good point - quarantine slow worker, I am wondering whether we could automate this through control plane (coordinator) instead of manual operations

in-long term, I am happy to see dynamic planning happen between workers (stealing splits) - slow worker is transient

[2021-03-22 18:23] MusKaya commented on #2748
This bug is also present when I do a simple select from indices with a wildcard. Such as:
`select * from my_index_*` selects from all matching indices such as `my_index_1`, `my_index_2`, ... however it assumes that all of them have the same mapping.

[2021-03-22 18:52] austenLacy commented on #7322
Debugging this locally and it seems that the assumption is that the response from the OAuth2 provider is that the access token is the identity JWT, but for Google it actually returns both an `access_token` and an `id_token`. The access token is in the format of

[code]

and the ID token is an expected JWT

[code]

<img width="627" alt="Screen Shot 2021-03-22 at 11 59 11 AM" src="https://user-image

[2021-03-22 19:41] 51yu commented on #7380
or trino community provide an API endpoint at coordinator, so that admin/operator can quarantine slow worker from worker pool with minimum effort (a HTTP request) - operation efficiency @findepi

[2021-03-22 19:41] MusKaya opened #7381 "Elasticsearch connector, on select from wildcard indices, assumes the first mapping for all matching indices"
**Background**
Elasticsearch allows us to do wildcard searches, such as: `curl 'localhost:9200/stest*/_search?pretty'` gets us results from all indices that match `stest*` pattern.

**Problem Statement**
Trino does also allow such searches however, the ES connectors just assumes the same mapping for all matching indices. For instance, if I have the following indices:

[code]

and

[code]

then I g

[2021-03-22 19:41] MusKaya commented on #7381
@bitsondatadev fyi

[2021-03-22 19:45] austenLacy commented on #7322
Since the ID token is always set when passing in the `openid` scope, perhaps we can do

[code]

If there aren't any objections, I can open a PR with the changes.

[2021-03-22 19:50] bitsondatadev commented on #2748
Hey @MusKaya,

These internally do the same thing. We can only produce a single mapping based on the requirements of SQL so when addressing multiple indices, we need to pull in some percentage or a sample of all the possible and merge them.

Pulling the first index mapping is a simple heuristic to get us started but sampling multiple is the correct way to go. I call them both enhancements because

[2021-03-22 19:54] amiorin commented on #3219
No progress on the "admission controller".

[2021-03-22 21:17] kokosing commented on #7322
Please do. We tested current implementation with Okta (manual tests) so please make sure it works for you as well. Also watch for Hydra integration in tests.

Do we need a configuration toggle for this?

[2021-03-23 10:07] #7303 closed

[2021-03-23 11:19] findepi commented on #7374
cc @lhofhansl

[2021-03-23 11:23] findepi commented on #7363
cc @vincentpoon @lhofhansl

[2021-03-23 11:27] #7317 closed

[2021-03-23 13:03] austenLacy commented on #7322
@kokosing

Sounds good, I'll open a PR with the changes and make sure to test with Okta.

I considered this, but it feels like too much of an implementation detail for a Trino user wanting to integrate OAuth to know the specific response type of their OAuth provider. Assuming they are using OAuth2 compliant providers the ID token should always be present when an `openid` spec if passed.

Perhaps w

[2021-03-23 14:39] Navgeet opened #7393 "Hive view translation doesn't correctly handle date type in where clause"
[code]

[2021-03-23 15:11] findepi commented on #7393
cc @wmoustafa

[2021-03-23 17:22] electrum opened #7398 "Handle ambiguous dereference as semantic error"
This query should fail during analysis:
[code]
But it fails during planning:
[code]

[2021-03-23 17:23] electrum commented on #7398
There is an existing test for this in `io.trino.type.TestRowOperators#testRowCast` which probably needs to be moved to `AbstractTestEngineOnlyQueries`.

[2021-03-23 19:45] kokosing commented on #7322
That sounds good to me. However if we are able to implement something that is generic enough to avoid this then it would be more beneficial.

[2021-03-23 19:46] kokosing commented on #7322
The challenge is how we can implement test coverage for this. Do you have any ideas?

[2021-03-23 20:07] austenLacy commented on #7322
Hmm.. I see that there's a [`HydraIdentityProvider.java` test](https://github.com/trinodb/trino/blob/master/testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/common/HydraIdentityProvider.java#L83) that passes in the `openid` scope. Maybe a separate test and container that doesn't pass in `openid` to verify it still "works". I'm not sure how much value that woul

[2021-03-23 21:48] #7271 closed

[2021-03-23 21:49] findepi commented on #7366
[code]

#7271 #7272

[2021-03-24 03:16] sinlang opened #7403 "jdbc driver rise "The datetime zone id 'GMT+08:00' is not recognised" error"
The datetime zone id 'GMT+08:00' is not recognised

[2021-03-24 06:46] hqbhoho opened #7405 "resource-groups , invalid resource group name"
I use config which provide in https://trino.io/docs/current/admin/resource-groups.html
[code]
But can't start master,exception:
![image](https://user-images.githubusercontent.com/37388552/112266876-9a404200-8caf-11eb-9fe4-d2f16f146e85.png)

[2021-03-24 07:40] #7405 closed

[2021-03-24 08:59] kokosing commented on #7322
@lukasz-walkiewicz please correct me if I am wrong, but id token comes from OIDC extension of OAuth2. To follow OAuth2 we should access token.

Should we have then a dedicated authenticator for OIDC?

[2021-03-24 09:14] findepi commented on #7403
`GMT+08:00` is accepted as a zone identifier by Java Time, but is not accepted by Joda Time, which we use internally for performance reasons.

Please use `+08:00` instead.

[2021-03-24 11:42] findepi opened #7408 "Support Hive VIEW with LATERAL VIEW [OUTER] EXPLODE on array of struct"
[code]

[code]

cc @wmoustafa

[2021-03-24 12:41] davseitsev opened #7409 "Fantom queries on workers, cancelation issue"
Sometime we got into the situation when a query is missing on coordinator but is present on workers.
It could happen when heavy query is killed via web UI or when it reaches `query.max-execution-time`.

Such queries keep consumming CPU/Memory resources on workers. They are shown in the memory pool on worker UI.
Also they apper in thread and heap dumps. Latest case that we had was related to window

[2021-03-24 13:23] austenLacy commented on #7322
@kokosing

My understanding is that OIDC acts like a thin wrapper on top of OAuth2 where the primary difference is that the response contains an ID token which acts as the identification for the "user".

I believe in your testing the reason the access token worked with Okta was because Okta returns a valid JWT for both the ID token _and_ the access token where Google's token response does not retu

[2021-03-24 18:13] guyco33 opened #7413 "MySQL connector stopped pushdown TIMESTAMP filters"
[code]

In Trino `352` (pushdown works)
[code]

In Trino `353+` (no pushdown)
[code]

[2021-03-24 18:38] hashhar commented on #7413
Can you verify if pushdown works on a table with `datetime` column instead of `timestamp`?

[2021-03-24 20:55] lhofhansl opened #7414 "The Phoenix connector does not support multiple HBase column families"
The Phoenix connector allows declaring columns in column families. Storage properties are defined per column families.

For example a Phoenix table can be declared as `CREATE TABLE xyz(pk1 integer not null primary key, x.v1 float, y.v2 float, z.v3 float)` where v1, v3, and v3 are placed in column families x, y, z, resp.

The trino-phoenix connector does not support this.
This manifests in the foll

[2021-03-24 20:58] lhofhansl commented on #7414
(1) We can prefix the parameters with the column family, unless it's the default.
(2) and (3) need to get into the weeds.

`CREATE TABLE` in Trino would likely have the same limitations.

[2021-03-24 21:19] findepi commented on #7413
#6910 shouldn't be hard though. @guyco33 do you want to give it a try?

[2021-03-24 21:37] hylas-dev commented on #2241
Bump for this. Looks like comments can be put on views based on issue #2557 but "COMMENT ON VIEW" still has not been implemented.

[2021-03-24 21:49] bitsondatadev commented on #5537
For now see this episode
https://trino.io/episodes/5.html

[2021-03-25 08:50] kokosing commented on #7322
This worries me too. Would it be possible to have some Google IdP testing instance that we could use for testing? Credentials for such instance could be stored in GitHub credentials and we could have readme doc that could explain how one run such tests on their own. Then we would need to add proper product tests to make sure it works as expected. Otherwise it is impossible to guarantee that we don

[2021-03-25 10:19] guyco33 commented on #7413
I would expect that for MySQL columns created as `TIMESTAMP` without precision (DATETIME precision is `0`) pushdown will happen with a millisecond truncation (actually for any table precision that is less than Trino precision)

[2021-03-25 10:23] davseitsev opened #7416 "Queries with sorting in window get stuck"
After we have upgraded the cluster from 326 to 346 version some queries started to stuck. It happens to queries with sorting in the window. For example:
[code]
If cluster is has no load the query finishes in 2 minutes but if you run a couple of such queries of cluster is loaded on 30-40% the query fails in 2 hours and get stuck on workers like I described here https://github.com/trinodb/trino/issu

[2021-03-25 10:42] sopel39 commented on #6828
Fixed by: https://github.com/trinodb/trino/pull/7112

[2021-03-25 10:42] #6828 closed

[2021-03-25 11:28] martint commented on #7416
Can you paste the output of EXPLAIN for both versions?

[2021-03-25 13:56] austenLacy commented on #7322
@kokosing @lukasz-walkiewicz

If we wanted a legitimate end to end test of Google OAuth2 we'd need to [create credentials (client ID + secret)](https://developers.google.com/identity/protocols/oauth2#1.-obtain-oauth-2.0-credentials-from-the-dynamic_data.setvar.console_name-.). The tricky parts would be:

1. Who owns/manages those credentials?
2. How do we handle redirect URIs? - We can't use `http

[2021-03-25 14:42] davseitsev commented on #7416
Attaching output for `explain` and `explain analyze`
[presto-326-explain-and-explain-analyze.txt](https://github.com/trinodb/trino/files/6205485/presto-326-explain-and-explain-analyze.txt)
[presto-346-explain-and-explain-analyze.txt](https://github.com/trinodb/trino/files/6205486/presto-346-explain-and-explain-analyze.txt)

Elapsed time on 326 with 3 workers: 5.57m
Elapsed time on 346 with 100+ wo

[2021-03-25 14:55] SrushtiBhoyar opened #7418 "java.lang.UnsupportedOperationException: io.prestosql.spi.type.DoubleType on PrestoSQL 343 on EMR"
I am trying to query tables using PrestoSQL 343 on EMR v6.2.0 but getting the error below.

Also tried setting hive.parquet.use-column-names=true but no luck...
I also checked if there is schema mismatch between parquet file and glue metastore using parquet-tools but both places suggest that the column type is double.

Also the same query works on Athena.

[code]

[2021-03-25 15:11] martint commented on #7416
Thanks!

The difference is in this section:

346:
[code]

326:
[code]

It's the same amount of data processed, so it points to an issue during execution (vs a difference in query plans).

Is there a change you could help bisect this to the version that introduced the issue? Is 346 the first version that reproduces the issue? Specifically, can you try on 345?

[2021-03-25 15:21] davseitsev commented on #7416
I will try to gather more information and update here

[2021-03-25 15:56] martint opened #7419 "IllegalStateException in WindowOperator.close()"
This query succeeds but produces an exception in the logs:

[code]

[code]

It happens on versions as early as 312 (that's the oldest one I tried) and it's still present as of 354.

[2021-03-25 16:15] lhofhansl commented on #7414
I know how to fix it. I do not know how to do so elegantly.

Phoenix stores the column name in the `COLUMN_NAME` column as expected, and the column family is stored in `COLUMN_FAMILY` and the full name of a column (with a non-null, non-default,  column family) is `FAMILY.COLUMN`. Determining the default column family for a table is not entirely cheap.

One way it overriding `BaseJdbcClient.getColu

[2021-03-25 17:17] mosabua commented on #6996
This is done via the linked PR.

[2021-03-25 17:17] #6996 closed

[2021-03-25 17:59] fcollin opened #7424 "Wrong statement to retreive metadata from HMS ? (LIKE instead of =)"
Hello,

When I try to connect to Presto from Tableau Desktop using a JDBC connection, Presto JDBC is running the following statement.

[code]

It is not efficient and raise the following exception in 30-40s

[code]

It seems to work in less than 200 ms when I rewrite the query swapping like by =

[code]

If someone can help ....

Tks and regards

Frederic

[2021-03-25 20:30] findepi commented on #7424
Does MYCAT, MYDB or MYTABLE contain underscores `_`?

[2021-03-25 20:33] #6965 closed

[2021-03-25 20:35] fcollin commented on #7424
yes they contain underscores !

[2021-03-25 20:36] findepi commented on #7414
That sounds reasonable to me.
I am aware of code duplication that this would trigger, but this is only a proxy measure for maintainability, and my gut feeling is this isn't worse than other options.
FWIW -- `io.trino.plugin.postgresql.PostgreSqlClient#getColumns`

[2021-03-25 20:42] findepi commented on #7419
Probably that's obvious by now -- the check is that fails is reasonable when window partition is consumed fully.
And this is not the case of a LIMIT query, which is short-circuited, and WindowOperator gets a `close()` "in the middle".

We should remove the check and adjust `windowInfo` reporting appropriately.

(BTW I wish we had a mechanism for finding problems being logged and ignored during tes

[2021-03-25 20:43] findepi commented on #7419
Alternatively, we can remove
https://github.com/trinodb/trino/blob/ecde09c3f809f5d96e096ace83417d7f53c1a0fb/core/trino-main/src/main/java/io/trino/operator/WindowOperator.java#L906
-- ie `windowInfo` creation during `close`.

[2021-03-25 20:45] findepi commented on #7424
Can you share actual query that's getting issued to Trino?
Am i right they are not properly escaped?

ie. youre seeing
[code]

and _not_
[code]
?

[2021-03-25 20:49] fcollin commented on #7424
here is the request issued to Trino

SELECT TABLE_CAT, TABLE_SCHEM, TABLE_NAME, COLUMN_NAME, DATA_TYPE,
  TYPE_NAME, COLUMN_SIZE, BUFFER_LENGTH, DECIMAL_DIGITS, NUM_PREC_RADIX,
  NULLABLE, REMARKS, COLUMN_DEF, SQL_DATA_TYPE, SQL_DATETIME_SUB,
  CHAR_OCTET_LENGTH, ORDINAL_POSITION, IS_NULLABLE,
  SCOPE_CATALOG, SCOPE_SCHEMA, SCOPE_TABLE,
  SOURCE_DATA_TYPE, IS_AUTOINCREMENT, IS_GENERATEDCOLUMN
FROM

[2021-03-25 20:52] findepi commented on #7416
Do you have spill enabled?

[2021-03-25 21:35] findepi commented on #7424
The reason for this is incorrect use of JDBC API by the application.
In particular, https://docs.oracle.com/javase/8/docs/api/java/sql/DatabaseMetaData.html#getColumns-java.lang.String-java.lang.String-java.lang.String-java.lang.String-
has the signature
[code]

the schema or table name should not be passed as is.
instead, the underscores should be escaped using `metadata.getSearchStringEscape()`.

[2021-03-25 21:36] findepi commented on #7424
As a workaround, we could perhaps introduce a JDBC configuration option for compatibility with such incorrectly behaving application.
Once set, it would treat `tableNamePattern` as literal table name (not a pattern) and same for `schemaPattern` and `columnNamePattern`.

@electrum @kokosing @losipiuk WDYT?

[2021-03-25 21:39] findepi commented on #7418
For a double parquet field the `BinaryColumnReader` (as shown on stacktrace) shouldn't be used.
Does your table contain multiple partitions or multiple files?

[2021-03-25 21:39] findepi commented on #7418
Also, i  encourage you to reach out for help on the `#troubleshooting` channel  on [our slack](https://trino.io/slack.html)

[2021-03-25 21:39] fcollin commented on #7424
I will raise the issue to Tableau tomorrow.
It will be wonderfull if I can get a workaround quickly.

Tks a lot for your help.

[2021-03-25 22:21] lhofhansl commented on #7414
Thanks @findepi . I'll follow that route then. I'm planning to put this into both the 4.x and 5.x versions of the connector (one could argue that at some point the 4.x connector would be retired, but I think we're not there, yet.)

[2021-03-26 00:46] lhofhansl commented on #7414
This ends up being a bit more tricky. Phoenix does not like column quoted as "x.y", but as "x"."y". I'll see how to work around that.

[2021-03-26 04:23] kakella commented on #7310
I am getting the same error using following Dockerfile
[code]
where overrides folder has my `hive-site.xml` with settings appropriate for my MinIO connectivity. Exception is
[code]

In my test it looks like the data got created in storage, although the table itself shows 0 rows inserted
<img width="1426" alt="Screen Shot 2021-03-25 at 9 22 02 PM" src="https://user-images.githubusercontent.com/1076

[2021-03-26 08:01] maranmani978 opened #7428 "Dependency site cannot be reachable"
While installing dependency for prestosql (tag-350) using ./mvnw clean install -DskipTest
Got stuck in this line
Downloading from confluent: http://packages.confluent.io/maven/com/google/cloud/google-cloud-phishingprotection-bom/0.29.2/google-cloud-phishingprotection-bom-0.29.2.pom

looks like packages.confluent.io is not reachable...

Can someone help on this??

[2021-03-26 08:58] findepi commented on #7428
I can reach http://packages.confluent.io/maven/com/ but it shows only "linkedin" sub-directory, no "google" there.
Interestingly the build on master passed today https://github.com/trinodb/trino/runs/2198787107.
Maybe we don't depend on that repository anymore?

@maranmani978 can you please try building from `master` branch? Please make sure your local copy is up to date.

[2021-03-26 09:04] findepi commented on #7414
That makes me think that maybe a column family is a "struct" (`row`) and should be modelled as such in the connector.
Since connectors can accept dereference pushdown, this would mean we pull the necessary data only.
Of course, this would also mean that for a `SELECT *` query, the connector would need to return whole row instance (as `SingleRowBlock`).

[2021-03-26 10:41] findepi commented on #7177
We should replace `SortItem` with a "`JdbcSortItem`" that will capture the column handle.
This will simplify handling today, and also make sure the column handle information isn't removed by subsequent `applyProjection`.

[2021-03-26 10:53] lukasz-walkiewicz commented on #7322
Hi @austenLacy

First of all, thanks for reporting the issue and your contribution!

Your observation is correct and this access token format will not work with Trino since it's not JWT compatible. However, I'm afraid the solution you're proposing will not work. The ID token and the access token are different tokens and therefore have different functions. The access token should be used to authori

[2021-03-26 11:04] losipiuk opened #7430 "Ensure LIMIT pushdown tests use SUPPORTS_LIMIT_PUSHDOWN behaviour flag"

[2021-03-26 11:05] losipiuk commented on #7430
cc: @hashhar @findepi

[2021-03-26 11:10] hashhar commented on #7430
We'll first need common limit pushdown tests. The one in ATDQ only runs LIMIIT queries but doesn't verify pushdown.
Each connector copies that test and adds proper `isFullyPushedDown` calls.

IMO the common tests should go to `BaseConnectorTest` - since limit pushdown comes from ConnectorMetadata#applyLimit and should be tested for in all connectors?

Once we agree on where the tests should go I'l

[2021-03-26 11:23] losipiuk commented on #7430
Good points @hashhar . I did not really do my homework and verify if we have test coverage already in proper place. Thanks

[2021-03-26 11:46] sopel39 commented on #7416
Do you have query json for slow query?

[2021-03-26 13:32] sreeharicheerla opened #7433 "NullPointerException while executing Cassandra query"
Hi,  We are getting the following exception while  executing the Cassandra query with presto 330. Can someone please help  in resolving this issue ?

failed
java.lang.NullPointerException
	at io.prestosql.plugin.cassandra.CassandraRecordCursor.getLong(CassandraRecordCursor.java:106)
	at io.prestosql.$gen.CursorProcessor_20210326_132550_3.filter(Unknown Source)
	at io.prestosql.$gen.CursorProcessor

[2021-03-26 13:37] sreeharicheerla commented on #7433
Query we are using is :
SELECT *  FROM table_name WHERE (created_date >= CAST('2020-12-29 10:30:00.000' AS timestamp))

[2021-03-26 15:25] austenLacy commented on #7322
@lukasz-walkiewicz

Thanks for the response.

Totally understand, but correct me if I'm mistaken, it looks like Trino primarily is only considering the authentication problem (ID token) rather than using anything from authorization (access token). So in my mind if I'm intending to restrict _who_ has access to the UI it would make sense to use identity, but if I was looking to restrict _what_ a per

[2021-03-26 15:51] davseitsev commented on #7416
Spill is not enabled.

Here are query json for fast and slow runs (same query same cluster after restart):
[20210326_150018_36177_duxqn-fast.json.gz](https://github.com/trinodb/trino/files/6212876/20210326_150018_36177_duxqn-fast.json.gz)
[20210325_133712_48947_2g2e8-slow.json.gz](https://github.com/trinodb/trino/files/6212878/20210325_133712_48947_2g2e8-slow.json.gz)

I'm thinking whether it coul

[2021-03-26 16:21] mosabua commented on #4791
Let's keep this open since we still need to add this information at https://trino.io/docs/current/functions/comparison.html

[2021-03-26 16:25] findepi commented on #7366
[code]

-- i am using rst syntax for bullet content (but not for the link), as i don't know how to link to Spill docs correctly from markdown.
for EXPLAIN ANALYZE this can go as  `` `EXPLAIN ANALYZE` `` as well.
@mosabua can you help me?

#7427

[2021-03-26 17:53] findepi commented on #7433
Thanks for filing an issue. This has been discussed one day on Slack https://trinodb.slack.com/archives/CFLB9AMBN/p1602162537199200

`com.datastax.driver.core.TypeCodec.TimestampCodec#deserialize`

[2021-03-26 17:54] findepi commented on #7433
@sreeharicheerla do you happen to have steps to reproduce?

cc @ebyhr

[2021-03-26 19:04] mosabua commented on #7366
@findepi I have not tried this out at all myself but we are using the Myst parser and the docs for it are here
https://myst-parser.readthedocs.io/en/latest/using/syntax.html

[2021-03-26 20:00] martint commented on #7366
@findepi, take a look at https://github.com/trinodb/trino/blame/master/docs/src/main/sphinx/release/release-352.md#L5

[2021-03-26 20:25] losipiuk commented on #7424
I think that is a reasonable idea. The downside is that that it takes down the pressure from reporting the root cause issue to misbehaving client application developers. But still given fact that we saw the problem many times already, I think it makes sense to add such a config option.

[2021-03-26 20:39] #6832 closed

[2021-03-26 21:06] findepi commented on #7424
See https://github.com/trinodb/trino/pull/7438

[2021-03-26 21:13] findepi commented on #7430
We can rephrase this as "move/define/create common re-usable LIMIT pushdown tests"

The tested combinations -- LIMIT pushdown with this, LIMIT pushdown with that, etc. -- are specific to situations where remote system is a relational database.
I would put the test in `BaseJdbcConnectorTest` as we did with TopN pushdown and Join pushdown.
But we can try be more generic and move these tests higher u

[2021-03-26 22:37] lukasz-walkiewicz commented on #7322
Docs are correct here: OAuth is being used to solve the authentication problem only. Currently it's being done by checking the validity of the access token submitted in request's Bearer header which is then inspected locally (since Trino assumes it's JWT) and the signature, the expiration time and (if configured) the required audience are checked.

The ID token has a bit different usage. As I said

[2021-03-26 23:35] lhofhansl commented on #7414
Thanks @findepi . I will look into that.

In the end, I think I have come to the conclusion that Phoenix should not allow duplicate column names. Phoenix does not handle that well for other reasons. One problem among others is that just the column name in the system catalog is not unique, and something this will throws an AmbiguousColumnException, sometimes it works, and you can mix qualified and

[2021-03-27 07:10] sreeharicheerla commented on #7433
@findepi  This is reproducible consistently in our environment and can't be shared. But we have a cassandra DB with too much data and when we execute the above query, we are getting the exception.

[2021-03-27 07:14] ebyhr commented on #7433
@sreeharicheerla Could you try simplifying steps to reproduce with sample data? You don't need to share the actual data.

[2021-03-28 00:06] lhofhansl commented on #7414
Maybe for now I can do the following:
1. A connector documentation change to suggest avoid using duplicate column names (Trino is not alone here, any JDBC client would have to handle this one-off).
2. When there is no default column family, pick the first (non-local-index) column family to display storage properties.

(Also still thinking about the "struct" approach. A complication is that the def

[2021-03-28 07:40] maijh opened #7440 "class io.prestosql.$gen.VarbinaryBigintLongToBmAccumulator_20210328_072354_3"
i deploy a new trino plugin ,but when i implement my method ,it rise "class io.prestosql.$gen.VarbinaryBigintLongToBmAccumulator_20210328_072354_3" error，i don't know how to solve it，can someone help me，thanks.  Below is the code

import io.prestosql.operator.aggregation.state.StateCompiler;
import io.prestosql.spi.block.BlockBuilder;
import io.prestosql.spi.function.*;
import io.prestosql.spi.typ

[2021-03-28 12:54] #7440 closed

[2021-03-29 07:04] zhangchunyang1024 commented on #391
Do you have a solution? We have the same needs @lukasCoppens

[2021-03-29 07:36] lukasCoppens commented on #391
We found a way to do it. But a native implementation would be far better. Here is how we did it:

On the coordinator nodes we set `discovery.uri=http://localhost:8079`. This way all the coordinators only see them selves.
Then we setup a dns record with health-checks that load-balances over the coordinator nodes. We then also run a HA-proxy on every coordinator node:

[code]

For the worker nodes,

[2021-03-29 07:43] losipiuk opened #7441 "Support INNER JOIN pushdown with non-empty JoinNode.filter"
If join type is INNER we should push to table-scan what is possible and add extra FilterNode above new TableScan node.

Part of: https://github.com/trinodb/trino/issues/6620

[2021-03-29 07:51] zhangchunyang1024 commented on #391
This is a good way. However, if coornitor fails, the running SQL will not know the status. Moreover, it's not sure that webui will work properly

[2021-03-29 08:40] maijh opened #7442 "java.lang.NoClassDefFoundError: io/prestosql/operator/aggregation/state/StateCompiler"
i am writing a plugin for presto 326,i find a error when i start presto with my plugin,like this:
java.lang.NoClassDefFoundError: io/prestosql/operator/aggregation/state/StateCompiler
	at org.hao.aggregation.LongBitmapAggregation.<clinit>(LongBitmapAggregation.java:13)
	at sun.misc.Unsafe.ensureClassInitialized(Native Method)
	at java.lang.invoke.DirectMethodHandle$EnsureInitialized.computeValue(D

[2021-03-29 10:40] sopel39 opened #7443 "Transform outer correlated IN into inner join"
Currently query like:
[code]
gets translated to (see `TransformCorrelatedGlobalAggregationWithProjection`):
[code]
However, it can be rewritten into:
[code]

[2021-03-29 10:40] sopel39 commented on #7443
FYI @kasiafi @martint

[2021-03-29 11:42] sopel39 opened #7446 "Transform filtering correlated EXIST into inner join"
Currently correlated query like (with correlated `c`):
[code]
gets translated to (see `TransformCorrelatedDistinctAggregationWithProjection`):
[code]
However, it can be rewritten into:
[code]
Such rewrite provides better performance but also allows DFs to be propagated to probe side.

[2021-03-29 11:42] sopel39 commented on #7446
FYI: @kasiafi @martint

[2021-03-29 13:47] sopel39 opened #7448 "Use join outputSingleMatch instead of streaming aggregation, inner join and UniqueId"
Solving issues:
https://github.com/trinodb/trino/issues/7446
https://github.com/trinodb/trino/issues/7443
will make plans contain:
[code]
pattern.

Such patterns can be rewritten with inner join:
[code]
that produces single match per probe row. This should improve performance and reduce number of intermediate rows.

[2021-03-29 13:47] sopel39 commented on #7448
FYI: @kasiafi @martint

[2021-03-29 13:49] sopel39 commented on #7443
I think we can either:
1. recognize `filter, aggregation, left join` patterns
or
2. run PPD before decorrelation rules so that we can match filter on top within de-correlation rules.

[2021-03-29 14:25] findepi commented on #7443
2\. is conceptually easier, but feels like a race condition, which Rule gets to run first.
Would 1. be feasible?

[2021-03-29 14:42] findepi commented on #7442
You probably packaged trino-main (presto-main) as the plugin dependency.

Please upgrade to Trino and then add in your pom.xml

[code]

[code]

this will ensure the plugin gets correctly packaged.

[2021-03-29 14:42] findepi commented on #7442
I will close this as not-an-issue in Trino.
We can continue conversation here, or on `#dev` channel on [our slack](https://trino.io/slack.html).
See you there!

[2021-03-29 14:42] #7442 closed

[2021-03-29 16:25] martint opened #7450 "Inconsistent behavior for to_unixtime(timestamp(p))"
Trino currently has two variants of to_unixtime:
* to_unixtime(timestamp(p))
* to_unixtime(timestamp(p) with time zone)

After the timestamp semantics fix (#37), the behavior of the first variant became inconsistent with the second variant. Unix times represent a point in time (vs a wall clock time), so, conceptually, a `timestamp(p)` first needs to be converted to a `timestamp(p) with time zone`

[2021-03-29 16:30] kasiafi commented on #7443
1. seems difficult to do. It requires reversing the de-correlation rule, which includes matching on the project expression, the filtered aggregation, grouping, and the join condition.
2. would be easy, and I think it is worth considering, though I am aware we don't want to create dependencies between rules.

Another approach I can propose is not a single rule, but instead a sequence of generic rul

[2021-03-29 20:36] sopel39 commented on #1337
This is actual bug in join spill.

[2021-03-30 01:17] maijh commented on #7442
@findepi  hi, I see your answer about issue 7442,and i add presto-maven-plugin in my pom file,but i still fail.when i follow the steps below，i found i will produce a ZIP file, and it contains the presto-main.jar.

1.Add
[code]
2.Remove the shade plugin. The above will produce a ZIP file , and i unzipped in the server plugin directory.
3.Remove src/main/resources/META-INF/services/io.prestosql.spi.

[2021-03-30 07:55] kokosing opened #7453 "Flaky TestSqlServerTypeMapping"
[code]

[2021-03-30 08:14] GuoPhilipse commented on #7450
hi martint , if so, maybe we can redefine from_unixtime, it will cause inconsistent as well.
[code]

[2021-03-30 08:48] sopel39 opened #7454 "Join spill to disk race condition"
Join spill (from join side) operates as follows:
1. Last join operator instance calls `io.trino.operator.PartitionedLookupSourceFactory#finishProbeOperator`.
2. New `io.trino.operator.PartitionedConsumption` is created with `spilledPartitions`.
3. Spilled partitions are released by join in order using `io.trino.operator.PartitionedConsumption.Partition#release`.
4. Each `SpilledLookupSourceHandle`

[2021-03-30 08:48] sopel39 commented on #7454
fyi @findepi

[2021-03-30 08:50] sopel39 commented on #7454
This is bug that causes: https://github.com/trinodb/trino/issues/1337

[2021-03-30 09:00] sopel39 commented on #1337
Redundant to: https://github.com/trinodb/trino/issues/7454

[2021-03-30 09:00] #1337 closed

[2021-03-30 09:52] findepi opened #7456 "Support HIVE VIEW with LATERAL VIEW json_tuple without AS"
Follow up to https://github.com/trinodb/trino/issues/7242

Add support for "Unalias case" described here https://github.com/trinodb/trino/issues/7242#issuecomment-795685037

[2021-03-30 10:54] ebyhr opened #7457 "Support HIVE VIEW with get_json_object"
Coral PR: https://github.com/linkedin/coral/pull/48

[2021-03-30 11:47] #7424 closed

[2021-03-30 11:51] findepi commented on #7366
[code]

#7438  7424 (the issue won't be helpful when linked to from RNs, thus linking to PR)

[2021-03-30 12:00] #7242 closed

[2021-03-30 12:02] findepi commented on #7366
[code]

#7242 #7420

[2021-03-30 20:41] lhofhansl commented on #7414
Sorry for the barrage of comments here. I should clarify:

1. Trino **does** support multiple column families for queries as long as no duplicate column names are used within different column families.
2. If there is no default column family, Trino will not show storage properties for that table
3. Trino currently cannot create tables with multiple column families. That has to be done directly in

[2021-03-30 20:56] wendigo commented on #5758
@findepi does it still happen? Are you aware?

[2021-03-30 21:16] youngchen7 opened #7461 "Extend AccessControl functionality to filter columns from SELECT * instead of throwing"
The current behavior when a user doesn't have access to all columns is to throw AccessDenied on SELECT *. The user has to submit an explicit SELECT query omitting the denied column for it to succeed.

In the current implementation AccessControl#checkCanSelectFromColumns throw an AccessDenied error, while filterColumns is used to restrict the information shown on SHOW COLUMNS or DESCRIBE but does n

[2021-03-31 01:19] sinlang commented on #7403
is there any method to gracefully set GMT+08:00 correctly;

[2021-03-31 01:19] #7403 closed

[2021-03-31 01:29] sinlang commented on #7403
if used jdbc driver, i cant set  it manually;  but if use dbeaver client , has method to config it ?
![image](https://user-images.githubusercontent.com/4089994/113077256-627f5000-9203-11eb-9f7a-797ece67ef0c.png)

[2021-03-31 06:39] skrzypo987 opened #7463 "Flaky TestDistributedSpilledQueries.testExplainAnalyzeReportSpilledDataSize"
Easily repeatable locally. With high iteration count there can be as much as 30% failed tests.

[code]

[2021-03-31 09:35] sopel39 commented on #7463
cc @findepi

[2021-03-31 11:09] findepi opened #7466 "Spurious NoSuchFileException exception when spilling in join"
in `TestDistributedSpilledQueries`:

[code]

[code]

tested on `354-83-g7d3fb06275f`

[2021-03-31 11:09] findepi commented on #7466
cc @sopel39

[2021-03-31 11:19] findepi commented on #7403
You'll need something like https://github.com/trinodb/trino/issues/7158 / https://github.com/trinodb/trino/pull/7252.

For now, please run Dbeaver with `-Duser.timezone=....`

[2021-03-31 11:24] sopel39 commented on #7466
Do you think it's related to https://github.com/trinodb/trino/pull/7455 somehow?

[2021-03-31 11:39] sopel39 commented on #4984
Another one https://github.com/trinodb/trino/pull/7462/checks?check_run_id=2233104610

[2021-03-31 11:49] kokosing opened #7468 "phoenix5's TestPhoenixTypeMapping is flaky"
[code]

[2021-03-31 12:01] cvs-mckinsey opened #7469 "support hive.security=sql-standard for iceberg connector"
Hi guys,

are there any plans / ongoing efforts to support hive.security, more specific hive.security=sql-standard for iceberg? The lack of this feature prohibits migration to iceberg for our project and I think it would be super nice to have it.
I had a quick look at the codebase and it seems that the Iceberg connector uses an object of type HiveMetastore to run operations on hive, but the Hive M

[2021-03-31 14:24] #7463 closed

[2021-03-31 14:29] findepi commented on #7468
Doesn't look like a flake

[2021-03-31 15:40] Cabeda commented on #7433
I'm getting the same issue when using DataStax driver (in a scala application) to encode an Optional[LocalDateTime] to a timestamp column

[2021-03-31 20:05] tooptoop4 opened #7472 "hive.metastore.uris should use round robin instead of preferring first uri"
"It's not exactly round robin, as far as I could tell from the code and from empirical observation.  The implementation in StaticMetastoreLocator looks like it only moves on to a secondary uri on errors, and only temporarily.  In practice we've been seeing only two get used, even under stress with sporadic query failures due to metatore SocketTimeoutExceptions."

[2021-03-31 20:44] sopel39 commented on #5041
I don't think `SELECT from a MATERIALIZED VIEW` is actual privilege. We don't have such check for normal views, do we?

[2021-03-31 20:58] martint commented on #5041
It should be. Materialized views are separate entities and it makes sense to be able to limit acces to them.

It should also be possible to limit access to views (if we’re not doing that already), just like tables. At least, that’s how the standard SQL security model works.

[2021-04-01 03:05] mdschwarz commented on #7472
This is the relevant chunk of code.  It looks to me like it only chooses a different address after one has failed, and even then the maximum backoff time is 60 seconds before it goes back to using the original address.  Note that the Backoff class referenced is the inner class at the bottom of the file, not the standalone Backoff class in trino-main.

https://github.com/trinodb/trino/blob/89e22cc3

[2021-04-01 07:26] findepi commented on #7472
cc @losipiuk

[2021-04-01 11:32] kokosing commented on #7468
False alarm, it was not flaky. It was related to #6975.

[2021-04-01 11:32] #7468 closed

[2021-04-01 15:36] findepi commented on #1300
Closing in favor of https://github.com/trinodb/trino/issues/4450

[2021-04-01 15:36] #1300 closed

[2021-04-01 15:37] findepi commented on #1300
(this one was reported earlier, but that one contains some initial pointers already)

[2021-04-01 15:49] findepi commented on #7466
I don't know

[2021-04-01 16:06] findepi commented on #7461
FWIU, the behavior we implemented follows the SQL specification.
What we're asking here about is not `AccessControl` behavior (it controls whether user has access), but an engine/language change, amending the meaning of `SELECT *`.

I am symphatizing  with end-user's use-case though.

cc @martint @kokosing

A side note. Spec aside, one thing to consider could be -- if `SELECT *` returned only the

[2021-04-01 16:08] findepi commented on #7453
@hovaesco can you please take a look?

[2021-04-01 19:03] kokosing commented on #7461
I think it also applies to ` SELECT * FROM old_system.old_table`, they would also like to know they queried all columns or not.

[2021-04-01 20:10] youngchen7 commented on #7461
Good point - although I think that in these cases the user is just going to end up querying or copying the full set of data available to them which shouldn't break any use cases right? They shouldn't have access to these columns, so whether it exists or not should be functionally the same to them.

On a side note, AccessControl#filterColumns hides column metadata from the user - wouldn't that beha

[2021-04-01 21:09] zyxue opened #7480 "query gets stuck at 100% and then times out after 5 min"
I'm running multiple queries of similar size in a cloud environment with [argo](https://argoproj.github.io/) workflow . If the query succeeds, it usually takes about 50s.

But often I see some (when I run 4 ~ 8 queries, 1 may be stuck, which exact one would fail seems random) get stuck at 100% (from the web UI), and then it stays 100% for about 4min until time out after 5min in total

The Trino er

[2021-04-02 06:18] FishermanZzhang commented on #6858
`experimental.join-pushdown.enabled`  default value is   `false `
so, i want to know how to set `experimental.join-pushdown.enabled=true`
btw, i set  `experimental.join-pushdown.enabled=true`  in `etc/config.properties`, but the server said `Configuration property 'experimental.join-pushdown.enabled' was not used`

[2021-04-02 06:29] hqbhoho opened #7481 "Can't get all tables from kudu"
in my kudu:

![image](https://user-images.githubusercontent.com/37388552/113387662-58a24c00-93bf-11eb-93f5-f8fa9ed9ef51.png)
I use trino-cli to show tables,Can't get all tables from kudu.

![image](https://user-images.githubusercontent.com/37388552/113387793-969f7000-93bf-11eb-9c35-641beca33944.png)
this is my conf

![image](https://user-images.githubusercontent.com/37388552/113387859-b59e0200-93b

[2021-04-02 06:46] ebyhr commented on #6858
@FishermanZzhang You need to set in catalog properties (e.g. mysql.properties).

[2021-04-02 07:59] FishermanZzhang commented on #6858
@ebyhr
ok

[2021-04-02 08:30] hovaesco commented on #7453
The issue pops out during SQL server container setup in method `setUpDatabase()`. I did a small research and it seems that it is intermittent and exists on various versions of SQL server docker image. One of the solutions would be to configure retry policy as suggested here: https://github.com/microsoft/mssql-docker/issues/623#issuecomment-652042300

[2021-04-02 08:59] kokosing commented on #7461
The change you are proposing is more about semantic analysis, about what `SELECT *` means. Changes in access control and more or less an implementation detail.

[2021-04-02 12:36] sshkvar opened #7486 "Trino Thrift Metastore client not support multiple catalogs"
Hi, we would like to use 2 different iceberg/hive catalogs (prod and sandbox) with same hive metastore.
Hive metastore support different catalogs, but I can’t find a way to configure which catalog should iceberg use . As a result we have exactly same list of schemas/tables in both iceberg catalogs.

[Discussion in slack ](https://trinodb.slack.com/archives/CJ6UC075E/p1617007674003600)

[2021-04-02 12:46] z00rd opened #7487 "Trino hive connector used with Glue metastore lacks implementation of setting column comment."
Query fails when one tries to set comment on existing table column:
`COMMENT ON COLUMN hive.mw.comment_test.a IS 'first col comment'`
with:
`Query failed (#20210402_110427_00072_rpipc): Column comment is not yet supported by Glue service [DB Errorcode=13]
1 statement failed.`

At the same time one can easily set comment when creating table:
`CREATE TABLE hive.mw.comment_test (
a bigint COMMENT 'lo

[2021-04-02 15:18] chrlso opened #7488 "Identity Based HiveMetastore Cache"
Our team has a use case where a single Trino host can support multiple users who will need to connect to different HiveMetastores. The host only allows a single user to access it at a time connecting to their HiveMetastore followed by another user who would connect to a different Metastore. We currently achieve this by using the ConnectorIdentity to create the new connection to the Metastore.

We

[2021-04-02 18:24] findepi commented on #7480
"Query ... has not been accessed since" means client didn't ask for the query results.

So it's an issue with the client. Not the Python client itself, but rather how Argo is using that.

I will close this as not-an-issue in Trino.
We can continue conversation here, or on `#troubleshooting` channel on [our slack](https://trino.io/slack.html).

[2021-04-02 18:24] #7480 closed

[2021-04-03 02:15] #7450 closed

[2021-04-03 12:48] Ognian opened #7491 "mongodb select * on view returns error CommandNotSupportedOnView"
Any Idea why a select * on a mongodb view results in this error:
[code]
[code]

Thanks
Ognian

[2021-04-03 14:35] ebyhr commented on #7491
Could you share the steps to reproduce? Also, you can ask question in the community Slack https://trino.io/slack.html

[2021-04-03 15:06] Ognian commented on #7491
there are no specific steps, I tested with both dbeaver and quix; In the catalog the mongodb database and the collection are shown; when doing `select * from enioSites.enrichedSites` which is the database and the collection name I get the above error; doing this with a collection which is not a view it simply works; I have not provided a _schema collection. I also tried to find via mongodb what ki

[2021-04-03 16:11] Ognian commented on #7491
Looks like this is the internal query which is failing:
[code]
A naive `SELECT *FROM system.jdbc.columns`leads to the same error as above

[2021-04-04 01:45] ebyhr commented on #7491
Please share the full stacktrace from webui, Trino and MongoDB version and commands to create a enrichedSites view.

[2021-04-04 15:06] hashhar commented on #7177
Fixed via https://github.com/trinodb/trino/pull/7436.

[2021-04-04 15:06] #7177 closed

[2021-04-05 03:11] nandvard commented on #6132
did you mean with skip_header_line_count=**0** ?

cos I have same issue. I tried creating:
[code]
But the file in hdfs has no header column x, just a 1 inside it

[2021-04-05 11:47] hashhar opened #7496 "Support predicate pushdown for text types for connectors whose default collation differs from Trino"
Trino's default sort order (`C`/`POSIX` collation) for textual types differs from some RDBMS like MySQL (case-insensitive by default), PostgreSQL (sorts lowercase before uppercase) etc.

Most RDBMS also allow specifying an explicit collation for a column in an expression or a function call or for the overall connection itself.
See https://www.postgresql.org/docs/13/collation.html and https://dev.m

[2021-04-05 12:00] Ognian commented on #7491
OK, since I cannot share my data I used sample data to reproduce the error.

I'm using MongoDB 4.2.7 Community

Go to https://github.com/SouthbankSoftware/dbkoda-data and Download as zip
unzip and go to OrdersExample directory
`mongorestore --uri mongodb://localhost:27117/test dump`
you have now an OrderExample database

use the latest MongoDB Compass (Version 1.26.1-beta.6 (1.26.1-beta.6)) to add

[2021-04-05 12:42] Ognian commented on #7491
PS my catalog settings are:
[code]

[2021-04-05 15:14] hqbhoho opened #7497 "Kudu Connector Metadata Miss"
My cluster has Hive,Impala,kudu.I will create kudu table with impala, so kudu table name all like impala::xxxx, so I use trino to query kudu ,kudu connector config is kudu.schema-emulation.enabled=true ,kudu.schema-emulation.prefix=impala::.
Trino get kudu schema code like this:
[code]
So trino will scan impala::$schemas to get scheams.
But I think impala create kudu table ，metadata will stored in

[2021-04-05 20:41] JasonRuckman opened #7502 "Iceberg planning error while joining to partitioned table"
When creating a table that has a timestamp using a transformation (in this case a day transformation), when that table is joined to another table the planner throws an error while converting the partition column.  In production use, the query doesn't fail, it just doesn't do any optimization.

This problem does not show up when the table is not joined (as the table statistics are not consulted).

[2021-04-06 08:05] sinlang commented on #7403
it doesn't work ,maybe has a jdbc properties to set timezone is a good idea

[2021-04-06 10:24] Ognian commented on #7491
OK I was able to find out via mongodb logging what is actually causing the error:
[code]
the mongodb connector is doing a `listIndexes`on a view (since it even doesn't know that the table is a view) an mongo errors ...

[2021-04-06 10:50] Ognian commented on #7491
And the corresponding Line in the connector is https://github.com/trinodb/trino/blob/0c58b3d5613099143d7ebb1a473e9b5227b423b4/plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoSession.java#L266
so maybe a try catch for this case could be enough...

[2021-04-06 12:22] sopel39 commented on #7366
[code]
https://github.com/trinodb/trino/pull/7483

[2021-04-06 13:02] Praveen2112 commented on #7366
[code]
#7425

[2021-04-06 13:39] ebyhr commented on #7491
The cause is case sensitivity and it should be captured in `isView` function or the method caller. I'm looking into now.

[2021-04-06 20:11] electrum commented on #7461
The way we handle access control for `SELECT *` vs `SHOW COLUMNS ` is actually inconsistent. We filter the columns in `SHOW COLUMNS` via `AccessControl.filterColumns()`, but `SELECT *` returns them all, and then the `AccessControl.checkCanSelectFromColumns()` check will expose the column names. Changing analysis to filter the column list through `filterColumns()` would be consistent and prevent th

[2021-04-06 20:59] #1791 closed

[2021-04-06 21:00] sopel39 commented on #7366
[code]
https://github.com/trinodb/trino/pull/7151

[2021-04-06 21:03] martint commented on #7461
From a standard SQL perspective, and as @findepi mentioned above, `*` represents all the columns in the underlying table. The permissions checks are based on whether the user has SELECT permissions on all the columns referenced in the query.

What you're proposing amounts to returning different metadata depending on who's querying a table. This is something connectors can already do today. `Connec

[2021-04-07 06:25] ayushbilala commented on #7472
@mdschwarz You are right. It chooses the other address only when the first one has failed. As a workaround, we added a proxy layer in front of our metastore services and start pointing **hive.metastore.uri** to the proxy.

[2021-04-07 06:47] findepi commented on #7366
[code]

#7135

[2021-04-07 06:50] findepi commented on #7366
[code]

#7331

[2021-04-07 08:36] andreas-eberle commented on #7334
@martint: Is there a reason not to adapt to the widely used practice? It seems some tools rely on it and it is also very convenient as a user.

[2021-04-07 09:19] findepi commented on #1882
I don't think people ask for an RPM for the CLI very often. Actually, i personally don't recall being asked about this even once.
Maybe for the sake of simplicity we don't do that?

[2021-04-07 09:27] hashhar commented on #1882
I agree. I initially jumped on this because it was a "good first issue" and I was new to the code. I too haven't seen the need specially given the fact that the CLI is a standalone executable JAR without any dependencies.

[2021-04-07 10:15] sopel39 commented on #1882
Closing for now as it has little demand

[2021-04-07 10:15] #1882 closed

[2021-04-07 15:25] findepi commented on #7461
The SAC is engine-level, so the connector may or may not know which columns users can see.
Also, i think there is a high value in making the experience consistent.

Unless re-reading the spec yields a different interpretation, I think we should add an engine level, opt-in feature to limit `SELECT *` to accessible columns only (including those with masks, of course).

[2021-04-07 15:33] antoinevokleber opened #7514 "hive with specific pattern partition"
For the Hive connector, i  have need to mapping a partitionned blob azure with sub-directory  with form yyyy/mm/dd and not year=yyyy/month=mm/day=dd
i can't use a specific patten in the msck repair or procedure sync_partition_metadata

how doing ?

thanks

[2021-04-07 19:41] ashishmgofficial commented on #396
Any further developments on this ? I was looking for presto deployment on Kubernetes

[2021-04-07 19:42] findepi commented on #7514
Please use `register_partition` procedure for that, see https://trino.io/docs/current/connector/hive.html#procedures

I will close this as not-an-issue in Trino.
We can continue conversation here, or on `#troubleshooting` channel on [our slack](https://trino.io/slack.html).
See you there!

[2021-04-07 19:42] #7514 closed

[2021-04-07 19:43] findepi commented on #396
@ashishmgofficial please take a look at https://github.com/trinodb/charts

[2021-04-07 21:16] martint opened #7517 "Document SetDigest type and functions"
https://github.com/trinodb/trino/blob/master/core/trino-main/src/main/java/io/trino/type/setdigest/SetDigestType.java
https://github.com/trinodb/trino/blob/master/core/trino-main/src/main/java/io/trino/type/setdigest/SetDigestFunctions.java

[2021-04-07 21:20] youngchen7 commented on #7461
Using ConnectorMetadata.getTableHandle() to filter columns based on identity is definitely a viable approach. But I think @findepi and @electrum brought up good points regarding having this behavior be consistent with the `SystemAccessControl.filterColumns` that exists now. Having the same filtering be applied to both `SELECT` and SHOW/DESCRIBE makes a lot of sense in my opinion.

If we were to ta

[2021-04-07 21:39] martint commented on #7461
No, the spec is very clear about this. `*` is, effectively, syntactic sugar for enumerating the files in a `ROW` type (given that the type of a table is `MULTISET(ROW(...))`.

If we're talking about filtering columns, we're not just talking about `SELECT *` -- there's nothing magic about it. Any direct column reference would be filtered out, too. It would need to be implemented as part of analysis

[2021-04-07 23:05] mosabua commented on #7517
Example usage can be found in the slack conversation.

https://trinodb.slack.com/archives/CFLB9AMBN/p1617829538494100

[2021-04-07 23:11] mosabua commented on #7517
Should be added to list https://trino.io/docs/current/functions/list.html

But also documented .. any suggestion where @martint

Also should include jaccard_index function.

[2021-04-07 23:12] mosabua commented on #7517
SetDigest should be in data types doc somewhere

[2021-04-07 23:28] martint commented on #7154
We need to update all those tests to use ParserAssert, which validates the locations. Take a look at https://github.com/trinodb/trino/blob/master/core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java#L234

[2021-04-07 23:36] martint commented on #7154
Related: https://github.com/trinodb/trino/pull/7519

[2021-04-07 23:40] martint opened #7520 "Migrate parser tests to use ParserAssert"
Tests in https://github.com/trinodb/trino/blob/master/core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java that currently rely on `assertExpression` and `assertStatement` need to be updated to use ParserAssert.

Examples:
https://github.com/trinodb/trino/blob/master/core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java#L234
https://github.com/trinodb/trino/blob/m

[2021-04-08 00:27] lhofhansl opened #7521 "Push topN to Phoenix unconditionally when Phoenix 5.1.2 is released"
Currently Phoenix overestimated the memory required to perform a topN query, so in #7490 the maximum limit in topN queries to be pushed down to Phoenix had to be limited (and thus Trino had a ensure the topN on its side again, even though Phoenix performed all the work already.)

When Phoenix 5.1.2 (4.16.1) is released, we can remove that limitation.

[2021-04-08 02:42] zhangwcoder opened #7522 "Iceberg : Delete Or Update is not support when read "
In Iceberg 0.11，the row-based delete and  update operation is supported .
Spark and flink has apply this feature , but trino is not support now .

[2021-04-08 06:14] byungnam commented on #6223
Here I write my own case and workaround.

I was constantly getting failures from this test on my linux machine. For me, it was not even flaky and every test has failed from here. I've only got errors same to this comment: https://github.com/trinodb/trino/issues/6223#issuecomment-782922053

After a long investigation, I found the problem. It was the **slow** selenium testcontainer making tokens exp

[2021-04-08 07:39] findepi commented on #7461
Let's have a separate issue about this.

Makes sense to me. This would mean the inaccessible columns are effectively not part of the table relation

- `SELECT *` will not return them
- `SELECT foo` will fail with column not found, and not with "Cannot select from columns [foo] ..." as it does today.
- `DESCRIBE t`, `information_schema.columns` would exclude them (as i believe it does today)
- `SHO

[2021-04-08 07:53] findepi commented on #7366
[code]

#7511

[2021-04-08 09:08] kasiafi commented on #7154
Related issue: https://github.com/trinodb/trino/issues/7520

[2021-04-08 09:52] kokosing commented on #6223
@byungnam Can you please post a PR for this?

[2021-04-08 09:57] byungnam commented on #6223
@kokosing Sure, but how much should we increase? 100 seconds did good for me. Would it be enough?

[2021-04-08 10:00] kokosing commented on #7366
[code]
#6975

[2021-04-08 10:18] kokosing commented on #6223
Do you need that much? How about 30 seconds? Is this going to make tests run longer in happy path?

@lukasz-walkiewicz @s2lomon any ideas?

[2021-04-08 11:02] findepi commented on #7366
[code]

#7490

[2021-04-08 11:07] findepi commented on #7366
[code]

#7494

[2021-04-08 11:20] byungnam commented on #6223
@kokosing

I've tried 30, 60 and 100 seconds respectively, and only 100 seconds passed the test. It seems selenium is extremely slow for some reason.

And, yes, it increases 100 seconds to finish the test. Though, there are only two tests affected by this so it only increases the whole test time about 200 seconds.

[2021-04-08 11:34] kokosing commented on #6223
Is there a way we can detect this and set timeout dynamically?

[2021-04-08 13:51] cccs-tom opened #7526 "Web UI ignores the 'http-server.authentication.oauth2.principal-field' config property"
When using OAuth2 to log in to the the UI, it creates its principal based on the 'sub' claim and ignores the claim identified in the 'http-server.authentication.oauth2.principal-field' property.

Steps to reproduce:
1. Configure Trino and the UI for OAuth2, set 'http-server.authentication.oauth2.principal-field' to something other than 'sub' and start the server. Set query permissions so that your

[2021-04-08 15:47] pPanda-beta commented on #6098
/keep_fresh

[2021-04-08 15:47] pPanda-beta commented on #6254
/keep_fresh

[2021-04-08 16:00] Praveen2112 commented on #7366
[code]
#7465

[2021-04-08 16:08] sopel39 opened #7527 "WindowNode should not preserve input stream ordering properties on spill"
See `io.trino.sql.planner.optimizations.StreamPropertyDerivations.Visitor#visitWindow`. It does pass through input stream properties. However, when spill happens these properties will no longer be valid.

[2021-04-08 16:08] sopel39 commented on #7527
cc @kasiafi @martint

[2021-04-08 22:38] #7366 closed

[2021-04-08 22:40] martint opened #7533 "Release notes for 356"

[2021-04-08 23:44] lhofhansl commented on #7521
Tried with the pre-version of Phoenix 5.1.2. It turns out that `isTopNLimitGuaranteed` still has return false, since for `ORDER BY .. LIMIT N`, each split could return up to `N` results.

@findepi Is there a way around this? If not, we can still push topN down unconditionally, but Trino has to topN the result again.

[2021-04-08 23:52] lhofhansl commented on #7521
In fact I wonder how this relates to #6634

Even when topN is pushed to the connector and the connector does the sorting, we cannot assume a single ordered set, as each split can at best provide a partial order. I'm probably missing something.

[2021-04-09 00:23] zifeo commented on #6666
@findepi workaround works. What are the plans in the future to have a "dedicated" Trino driver in Metabase?

[2021-04-09 00:33] lhofhansl commented on #7521
Example:
[code]

[code]

[2021-04-09 09:12] lukasz-walkiewicz commented on #7526
Hi, thanks for reporting this.

I'm afraid we forgot about the UI when this option was added.

I agree, it should be trivial, for reference, please take a look at:  https://github.com/trinodb/trino/commit/7b83702fcc1c04d49abee6a60f784653979f6325.

[2021-04-09 09:40] kokosing commented on #7526
@cccs-tom Would you like to contribute this fix?

[2021-04-09 09:46] sopel39 commented on #7521
Split level order is sufficient for #6634 to work

[2021-04-09 09:46] kokosing opened #7534 "Testing Phoenix service is flaky: Cannot assign requested address"
[code]

[2021-04-09 09:53] findepi commented on #7534
cc @lhofhansl @vincentpoon

[2021-04-09 10:04] findepi commented on #6666
@zifeo that would be up to Metabase project, but there is a PR for this already -- https://github.com/metabase/metabase/pull/15160

[2021-04-09 11:05] kokosing commented on #7533
[code]
#7309

[2021-04-09 11:11] Ognian commented on #7491
@ebyhr just one more hint:
before adding `mongodb.case-insensitive-name-matching=true`I was not able to see a lot of my collections, I think that even lower case collections with "column names" with mixed case where a problem...

[2021-04-09 11:21] kokosing opened #7535 "TestHiveViews.testRichSqlSyntax is flaky when executing control query on Hive"
[code]

[2021-04-09 11:26] kokosing commented on #7533
[code]
#6929

[2021-04-09 11:41] ebyhr commented on #7491
It's expected behavior.

Sorry, I couldn't understand this. Could you rephrase that?

[2021-04-09 11:54] sopel39 opened #7537 "Simplify ConnectorMaterializedViewDefinition JSON constructor and getters"
1. Make `storageTable` optional
2. Make `owner` non optional
3. Make sure serialization is no broken

[2021-04-09 12:17] #7454 closed

[2021-04-09 12:24] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7455

[2021-04-09 13:05] cccs-tom commented on #7526
I would. I'm just not sure how quickly I can get it done. It would be my first Trino contribution, so I need to set up my IDE, sign the CLA, etc.

[2021-04-09 13:50] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7489

[2021-04-09 14:05] Ognian commented on #7491
OK I tested again without setting `mongodb.case-insensitive-name-matching` (so it is false):
- databases with a mixed case name are displayed in lower case but have neither tables nor views:
order example is actually **OrderExample**
<img width="284" alt="image" src="https://user-images.githubusercontent.com/1231174/114191854-252a6900-994d-11eb-833a-23b220996dd7.png">

- if the database name is lo

[2021-04-09 15:02] Ognian opened #7538 "MongoDB implicit schema inferred from data is not refreshed after data changes"
`select * from xempty`where xempty is an empty collection results in
`SQL-Fehler [47]: Query failed (#20210409_143001_00009_3jyks): line 1:8: SELECT * not allowed from relation that has no columns`

After that I decided to add an entry in the xempty collection. And got the error again although there was now an entry with _id and name properties. After some debugging I found that the _schema collec

[2021-04-09 15:16] findepi commented on #7535
https://github.com/trinodb/trino/runs/2305323931

[2021-04-09 15:21] findepi commented on #7533
[code]

https://github.com/trinodb/trino/pull/7350

[2021-04-09 17:35] asantoz commented on #7433
This issue happens when a timestamp column is saved as an empty string (in DataStax java driver the conversion of an optional LocalDateTime with `saveNullFields` enable is a `ByteBuffer.allocate(0)` which is similar to a string).
This bug seems to happen on [line 109 of CassandraRecordCursor](https://github.com/trinodb/trino/blob/8bac01572d458e100c98e8b6c432a41215391f52/plugin/trino-cassandra/src/

[2021-04-09 18:32] mosabua commented on #5034
This is done now in TLS guide.

[2021-04-09 18:32] #5034 closed

[2021-04-09 18:37] mosabua commented on #6777
Good first issue if writer has SQL knowledge.

[2021-04-09 18:49] kokosing commented on #7526
Please take your time. We will be happy to help.

[2021-04-09 19:26] hycsam commented on #5132
Bumping this up, is there any update or initiatives on this issue? We are also migrating some critical data to Hudi MOR format, it will be **very helpful** if Trino can support this.

[2021-04-09 20:14] lhofhansl commented on #7534
Interesting... I've seen that too.
HBase defaults to port 16010. If that port is already in you then HBase cannot bind to it and cannot start.
16010 is outside the "official" ephemeral port range (32768-61000), and when I look at /etc/services nothing is listed for port 16010. So in theory nothing else should ever bind to that port.

(Note that in the past HBase used to default to port 60010, and

[2021-04-09 20:31] mrendi29 opened #7540 "Trino schema not including all columns from PostgreSQL."
We  are testing a presto instance (on docker)  We connected it to o PostgreSQL database that contains time-series data.
The following columns show on the PostgreSQL database:
![image](https://user-images.githubusercontent.com/42871239/114233645-a7b22900-994b-11eb-9406-b7a2808dd9c1.png)

These are the columns that show on trino-cli.
![image](https://user-images.githubusercontent.com/42871239/114232

[2021-04-09 21:11] mosabua commented on #7540
I would guess that the  inet datatype is not supported by the postgresql connector. @findepi would know.

And that reminds me .. we should document the used and supported type mappings.

[2021-04-10 01:06] ebyhr commented on #7538
1. The behavior is not specific to MongoDB connector. You can see the error comes from `StatementAnalyzer` class.
2. Let me label as enhancement.

[2021-04-10 01:13] ebyhr commented on #7433
@asantoz I can reproduce now. Thank you for your information!

[2021-04-10 01:38] ebyhr commented on #7433
Fixed TIMESTAMP locally and looking into other types now.

[2021-04-10 04:08] asantoz commented on #7433
awesome @ebyhr 👏

[2021-04-10 05:14] sreeharicheerla commented on #7433
@ebyhr Awesome. Thanks you . Please let us know when this one will be released.

[2021-04-10 08:24] ebyhr commented on #7540
@mrendi29 The type isn't yet supported. However, we can use unsupported-type-handling (unsupported_type_handling session) properties as you may already know.

[2021-04-10 12:42] ebyhr commented on #7497
@hqbhoho What's the difference between this and #7481? Can we merge into one?

[2021-04-10 13:00] findepi commented on #7538
In SQL, a relation cannot have zero columns. cc @martint
In connectors based on base-jdbc, we filter this out early
https://github.com/trinodb/trino/blob/d2751de016155305719abf989abf99301935d00a/plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/BaseJdbcClient.java#L315-L318

can we rephrase this issue to focus on this point only for now?

[2021-04-10 13:15] findepi commented on #5879
https://github.com/trinodb/trino/runs/2310224775

[code]

[2021-04-10 13:21] findepi commented on #7534
Can it be some previous HBase instance, not yet shut down, is still holding on to the port?

also, i was confused by
[code]

it could be interpreted as binding to port 0, which cannot file due to a port number, but still could fail if the requested address/hostname is not ours.

[2021-04-10 13:28] findepi commented on #6777
The `ARRAY[ ... ]` constructor form is mentioned in the docs here https://trino.io/docs/current/language/types.html#array and here https://trino.io/docs/current/functions/array.html

I don't think this needs improvement, does it?

[2021-04-10 14:09] Ognian commented on #7538
@findepi I agree. The first is indeed very specific and can be only solved by manually providing a schema, or by knowing that a certain column always exists, which in case of mongodb is the _id column (see [here](https://docs.mongodb.com/manual/core/document/)):
[code]
So I'll try to rephrase the second issue (correct me if I'm wrong):

SQL requires a fixed schema. MongoDB does not have a fixed sc

[2021-04-10 15:01] ebyhr commented on #7538
I don't think this is bug. How can we detect the inserted data efficiently? Another question is how can we decide the expected schema from several documents? We can insert unrelated documents into one collection (likes USER document and ORDER document).

[2021-04-10 15:10] mrendi29 commented on #7540
I am familiar with the unsupported_type_handling session property that you can set from trino-cli.
Is there a way to directly specify this into the connector so the unsupported types can be mapped to VARCHAR automatically?

[2021-04-10 15:15] ebyhr commented on #7540
@mrendi29 You can add below line to your postgresql properties file.
[code]

[2021-04-10 15:26] findepi commented on #7540
You can also try
[code]
instead of using the catch-all `unsupported-type-handling` option.

[2021-04-10 15:28] findepi commented on #7538
Is the schema inferred from the first document only?

[2021-04-10 17:39] shandeep00 commented on #7520
Hello, can I take up this if no one is working on it

[2021-04-10 17:51] martint commented on #7520
Thanks @shandeep00, go for it!

[2021-04-10 18:09] subbareddydagumati opened #7548 "sqlserver Read and writes are not working if RCSI ON and Snaphsot Isolation OFF"
sqlserver Read and write queries are failing with the below error If RCSI ON and Snapshot isolation OFF
Trino 352 or later

Error:
[code]

Database Settings:
![image](https://user-images.githubusercontent.com/3445969/114280443-d937fc80-99fe-11eb-835b-8182dd91a350.png)

this change [6614](https://github.com/trinodb/trino/pull/6614) introduced this issue.
Here trino only checking the Read Committed

[2021-04-11 00:55] ebyhr commented on #7538
@findepi Yes, the first document only. `...find().first()`.
https://github.com/trinodb/trino/blob/b23fa2dba1db024fa603aa99d94c8e66fe19d791/plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoSession.java#L518-L521

[2021-04-11 02:27] miniway commented on #7538
Yes, it's not easy to detect schema change without a callbak or polling.

So initial design was detect schema from the first record as best guess then the update it manually if it's not correct.

I think some possible ideas are
* Utilizing ALTER TABLE ADD COLUMN
* Adding a procedure, refresh_mongodb_schema(collection, strategy)

Thanks
Min

[2021-04-11 03:26] tooptoop4 commented on #6777
it only shows on literals not a column

[2021-04-11 04:19] dixingxing0 opened #7551 "Iceberg: should add caching mechanism for IcebergMetadata"
I think trino should add caching mechanism for IcebergMetadata for at least two reasons :
1. to prevent the client from using the same table multiple times in the same query and getting different results, for now iceberg connector accesses hive metastore for multiple times in a single query.
2. improve query performance, For example,when trino query a small iceberg table, we found a simple count q

[2021-04-11 09:14] reugn opened #7553 "Support offset after limit in queries"
The following query
[code]
fails with
`Query failed: line 1:32: mismatched input 'offset'. Expecting: <EOF>`
while
[code]
works as expected using the Trino CLI client.

[2021-04-11 12:21] Ognian commented on #7538
Some more input on how "detecting" can be done:
mongodb calls it [sampling](https://docs.mongodb.com/compass/current/sampling/#std-label-sampling) and beside the `$sample`operator in the aggregation pipeline there is also an implementation in [compass](https://docs.mongodb.com/compass/current/schema/export/) which is now free. [Sourcecode of compass](https://github.com/mongodb-js/compass) can be a

[2021-04-11 13:29] findepi commented on #7553
This was discussed at https://github.com/trinodb/trino/issues/4335
Let's continue there or on [our slack](https://trino.io/slack.html).

[2021-04-11 13:29] #7553 closed

[2021-04-11 13:35] findepi commented on #7551
There should be query- (actually: transaction-) -level "cache".
For reference, in Hive this is done in `TransactionalMetadataFactory`.
(utilising `CachingHiveMetastore` under the hood).
Such "cache" should be always used, does not need to be configurable.

Furthermore, there could be additionally an opt-in longer-lived
(not transaction-scoped) metadata cache. For reference, in Hive this is
done in

[2021-04-11 13:39] findepi commented on #6777
but the syntax is the same, right?

[2021-04-11 20:12] findepi commented on #6477
@kokosing should this be closed?

[2021-04-11 20:12] findepi commented on #6389
@kokosing should this be closed?

[2021-04-11 20:28] findepi commented on #7534
https://github.com/trinodb/trino/runs/2312829570

[2021-04-11 20:29] findepi commented on #1641
Last reported over a year ago. Please reopen if observed again.

[2021-04-11 20:29] #1641 closed

[2021-04-12 03:43] thiningsun opened #7557 "Presot Error opening Hive split hdfs://nameservice1/user/hive/warehouse/dw.db/... Too many open files"
background：
We scaled the presto cluster from 4 to 32，The machine behind is mixed with hdfs(the first 4 independent deployment)，Since then, there have been several errors when reading HDFS

This error only occurs when the current query concurrency of Presto is very high. Queries with concurrency less than 10 are difficult to appear

（1）Error opening Hive split hdfs://nameservice1/user/hive/warehou

[2021-04-12 07:15] losipiuk commented on #7472
The logic to "stick" to a working metastore address is on done on purpose. It is done this way to avoid failing Trino query in a situation when we have multiple metastore addresses listed and many of those are actually not working. If we go round robin in such case it is very possible to run out of retry limit, before getting to a working metastore instance.
We've seen that happen in practice.

[2021-04-12 07:33] kokosing commented on #6389
Fixed by https://github.com/trinodb/trino/pull/6975

[2021-04-12 07:33] #6389 closed

[2021-04-12 07:35] kokosing commented on #6477
Fixed with https://github.com/trinodb/trino/pull/6975

[2021-04-12 07:35] #6477 closed

[2021-04-12 07:37] findepi commented on #6389
and/or perhaps by https://github.com/trinodb/trino/pull/6545

[2021-04-12 07:47] findepi commented on #7557
You're running a release that's over two years old.
Is the problem reproducible with latest 355 release (https://trino.io/download.html)?

Also, i invite you to `#troubleshooting` channel on [our slack](https://trino.io/slack.html).
See you there!

[2021-04-12 07:52] findepi opened #7559 "Flaky test TestExternalAuthenticator.testAuthenticationFromMultipleThreadsWithCachedTokenAfterAuthenticateTimesOut"
https://github.com/trinodb/trino/runs/2318804031

[code]

cc @s2lomon

[2021-04-12 08:28] kokosing opened #7560 "Support prepared statements for `SHOW...` statements"
It is due the fact pattern and escape are `string` in `SqlBase.g4`

[code]

To support prepared statement one should be able to use `PARAMETER` there.

The change requires much work than simply changing the grammar.

[2021-04-12 08:29] davseitsev commented on #7416
I think we proved problem with JIT. After we had added above JVM options we didn't see any stuck queries.
Then we rolled back the change and the problem started to reproduce.

Here is result of `pstack` from worker:
[code]

It's very similar to the problem described in this article: [Presto System load is too high problem investigation](https://www.programmersought.com/article/49146323844/)

I bel

[2021-04-12 08:30] thiningsun commented on #7557
Yes, the presto version is old . and ,we created a test environment with 10 machines. The same SQL concurrent test cannot simulate exceptions.
If the test environment does not simulate an abnormality, it is impossible to determine the cause of the version. For the production environment, we cannot easily upgrade the version
Is there any other way?

[2021-04-12 08:37] wangfeigithub opened #7561 "trinodb 338 memory not freed"

[2021-04-12 08:40] wangfeigithub commented on #7561
When I run Trinodb for a few days, it takes up so much memory that the server has no memory to use, but I have no SQL tasks running in the background.
But when I restarted Trinodb, the server's memory returned to normal. I suspected that the SQL task was finished, but the memory was not freed. Is there any way to solve this problem?

[2021-04-12 08:42] sopel39 commented on #7416
Thanks for reporting. We know recommend using
[code]
as default settings

[2021-04-12 08:42] #7416 closed

[2021-04-12 09:19] findepi commented on #7561
This has been explained on [our slack](https://trino.io/slack.html)
let me quote https://trinodb.slack.com/archives/CGB0QHWSW/p1584297218397400?thread_ts=1584284178.390000&cid=CGB0QHWSW

We can continue conversation here, or on `#troubleshooting` channel on [our slack](https://trino.io/slack.html).
See you there!

[2021-04-12 09:19] #7561 closed

[2021-04-12 09:23] findepi commented on #7557
as you can image, we fixed many bugs in past two years, and it's not possible to find a fix for your particular problem, or verify this is not just a configuration issue.

@thiningsun i'd start by checking deployment configuration. See docs https://trino.io/docs/current/installation/deployment.html
Please make sure you follow every single step there.

for now, I will close this as not-an-issue in

[2021-04-12 09:23] #7557 closed

[2021-04-12 09:25] findepi commented on #7560
`SHOW ...` statements are by design for humans only, as their output layout can change without notice.
What would be the usecase to support `SHOW` queries with prepared statements?

[2021-04-12 09:30] #7548 closed

[2021-04-12 09:34] findepi commented on #7533
[code]

#7548 #7555

[2021-04-12 09:48] findinpath commented on #7534
[code]

After looking at the phoenix-client-embedded-hbase .jars from the classpath with IntelliJ i see that `addMaster` methods in both libraries (v2.2.x and v4.14.x) are found around the lines 110 (IntelliJ source code inspection).

Can it be that somehow another class containing `LocalHBaseCluster` slips in during the continous integration build?

[2021-04-12 10:21] kokosing commented on #7560
That is fine.

To call such statements using client tools, like JDBI. Which use prepare statements for handling parameters.

[2021-04-12 10:58] kokosing commented on #7534
https://github.com/trinodb/trino/runs/2321614762

[2021-04-12 11:20] findinpath commented on #7534
Nevermind, this was a false assumption.

[2021-04-12 11:21] findepi commented on #7560
When humans interact with Trino, they rarely use JDBI directly.
People will use CLI or graphical tools like DBeaver, and then they don't need (and cannot leverage) support for parameters.

For programmatic use, one should be able to access necessary information without need to use a `SHOW` query.
Is there a use-case where today this is not possible?

[2021-04-12 12:27] kokosing commented on #7560
Let me close it then. I see your point.

[2021-04-12 12:27] #7560 closed

[2021-04-12 14:33] findepi commented on #7534
https://github.com/trinodb/trino/runs/2324561160

[2021-04-12 16:31] mrendi29 commented on #7540
@findepi  @ebyhr  Thank you to both. Both solutions worked. Is there a specific place where these type of config properties are listed or documented so i can read more about these? It would be nice to know all the possible config properties you can add to a connector.

[2021-04-12 16:48] mosabua opened #7566 "Improve externalAuthentication with CLI"
As requested and discussed in https://github.com/trinodb/trino/pull/7335

Seems like SSO is configured on the server and managed via the server. As such it makes no sense to require a CLI (or JDBC driver). Instead either of these tools should just react appropriate if told by the server to display a SSO URL or redirect to it or whatever.

In the current setup is is also unclear what happens if the

[2021-04-12 18:37] kokosing commented on #7566
You will get authentication failure.

[2021-04-12 18:46] marioramaglia commented on #3765
hello there,  any progress on this ?
In Mongo deeply nested documents and arrays are very common:
is there any workaround to apply to a trino-mongo mapping schema (ie: mongodb.schema-collection)  to have better performance with Trino selects querying on nested mongo fields ?

Mongo Document:
![mongodoc](https://user-images.githubusercontent.com/82051970/114444127-cbd16c80-9bce-11eb-80a9-c0778cd2a8

[2021-04-12 20:51] ztaylor797 commented on #6980
I am running into the same issue on a new installation using HMS 3.2.0 and Trino's official image on dockerhub v352.

[code]

`Query 20210412_202358_00005_hqt4b failed: The table must be stored using an ACID compliant format (such as ORC): myschema.account`

[2021-04-12 21:36] findepi commented on #3765
To anyone who would want to work on this.

That should be possible via:

1. `ConnectorMetadata#applyProjection` -- Mongo connector should accept `a.b.TaxCode` dereference and expose it as a `TaxCode'` column
2. `ConnectorMetadata#applyFilter` -- Mongo connector to accept `TaxCode' = '08815100154'` filter as any other filter it accepts today.

[2021-04-12 21:38] findepi opened #7570 "Document unsupported-type-handling for all connectors that support it"
Current `unsupported-type-handling` is documented for Oracle connector:

...

however it applies to a bunch of other connectors (extending from base-jdbc).

cc @mosabua

[2021-04-12 21:40] findepi opened #7571 "Document jdbc-types-mapped-to-varchar"
The `jdbc-types-mapped-to-varchar` property is mentioned in some release notes, but it's not documented.

it applies to a bunch of  connectors (extending from base-jdbc, but not all of them, see eg https://github.com/trinodb/trino/issues/2084)

cc @mosabua

[2021-04-12 21:40] findepi commented on #7540
sadly... https://github.com/trinodb/trino/issues/7570, https://github.com/trinodb/trino/issues/7571
(you can see all possible config properties being logged at startup, but that's hardly a "documentation")

[2021-04-12 21:42] electrum opened #7572 "Hive example for drop_stats needs quoting on arguments"
The examples in [this section](https://trino.io/docs/current/connector/hive.html#updating-table-and-partition-statistics) be updated:

[code]

[code]

[2021-04-12 21:45] findepi commented on #7570
see however https://github.com/trinodb/trino/pull/7573 before oracle.rst gets copied.

[2021-04-12 21:50] electrum opened #7574 "Improve documentation for Hive sync_partition_metadata"
We should add a new section that explains how this works with several examples that show

* what the directory structure looks like
* how to use the command
* what partitions exist in the table before/after

[2021-04-13 05:09] byungnam commented on #6223
For dynamic timeout, I think we need to check how much time selenium takes to load trino web ui and set timeout longer than that. But I'm not familiar to selenium nor "dynamic" unit test, so it may take a long time to change.

[2021-04-13 07:53] kokosing opened #7577 "Flaky logs collection from docker container in product tests"
[code]

[2021-04-13 08:00] kokosing commented on #7577
Just before logs say:
[code]

[2021-04-13 10:53] davseitsev commented on #7409
Also queries keep running on workers after coordinator restart

[2021-04-13 11:08] sopel39 commented on #7409
Do you have
[code]
set in Trino JVM config?

[2021-04-13 11:12] davseitsev commented on #7409
Yes, we do

[2021-04-13 11:29] sopel39 commented on #7409
Wasn't that fixed in https://github.com/trinodb/trino/issues/7416#issuecomment-817604494
?

[2021-04-13 11:38] davseitsev commented on #7409
These are two different problems.

The issue which you point to is about particular case of stuck queries. In that context stuck  query doesn't necessarily mean fantom (not visible on coordinator).

Current issue is about fantom queries which don't appear on coordinator, which coordinator does'n know about and doesn't consider in splits scheduling. The cause of such problem could be different, I p

[2021-04-13 12:43] findepi commented on #7535
https://github.com/trinodb/trino/runs/2333074873 with CDH5.

@kokosing did you originally observe this with CDH5 as well?

[2021-04-13 14:01] bitsondatadev opened #7580 "Add support for partition evolution in Iceberg."
Now that we've [updated to 0.11.0 ](https://github.com/trinodb/trino/blob/master/plugin/trino-iceberg/pom.xml#L18) for Iceberg, we should consider adding support for partition evolution. I spoke with @phd3 and he said there may be some support for reading partition evolved tables but currently we don't support the DDL for updating the table properties after creation.

Docs: https://iceberg.apache.

[2021-04-13 14:29] sopel39 commented on #7409
Queries that don't yield or capture interrupted exception will be running on worker even after cancellation.

Is long sorting still an issue for you? How long does it run after cancellation?

[2021-04-13 14:37] bitsondatadev commented on #7580
One thing we'll need to discuss is adding syntax for [ALTER TABLE](https://trino.io/docs/current/sql/alter-table.html).

Looking at the postgresql syntax for [CREATE TABLE](https://www.postgresql.org/docs/current/sql-createtable.html) and [ALTER TABLE](https://www.postgresql.org/docs/current/sql-altertable.html), we would want to add  `SET ( storage_parameter [= value] [, ... ] )` and `RESET ( sto

[2021-04-13 15:11] chrlso opened #7581 "Pass User Identity to Hive Metastore"
When using Hive and Glue Metastores we would like to pass some user information from the ConnectorIdentity to the Metastore Client in order to allow for different users to connect to their respective Metastores and allow for different IAM roles.
This is similar to this request which is still open: https://github.com/trinodb/trino/issues/966

We were thinking to leverage the HiveIdentity parameter

[2021-04-13 16:52] afilimonov opened #7583 "Kafka SSL configuration error"
I'm trying to configure Kafka SSL connection. My configuration is below

[code]

However the server fails to start with this message

[code]

I'm using the latest 355 Trino Docker image. Is Kafka SSL supported. I thought it was introduced in 354.

[2021-04-13 19:09] #7577 closed

[2021-04-13 19:12] kokosing commented on #7583
It will be supported from 356.

[2021-04-13 19:12] #7583 closed

[2021-04-13 19:13] kokosing commented on #7535
Not sure.

[2021-04-13 23:32] mosabua commented on #6777
I tend to agree.. literals are just easier to document and for users to follow and test locally themselves. Columns of the same data type can always stand in place of the literal.

[2021-04-13 23:32] #6777 closed

[2021-04-14 02:51] spihiker opened #7585 "New kudu tables cant't recognize by trino"
Problem description:
    My trino version is 353.I find a problem then new database and new tables in kudu can't recoginize by trino ,But new table in old database is well. New table in new database  and old database is normal accessed by impala and CDH UI.

(1)Create a new database and a new table by impala-shell:
CREATE DATABASE mydb;
CREATE TABLE mydb.t1 (c1 BIGINT......) STOREAD AS KUDU；

（2）C

[2021-04-14 03:12] mosabua commented on #7570
Should go into a base connector doc and just be linked from the standard Type mapping section in each connector that supports it.

[2021-04-14 03:48] tooptoop4 commented on #6777
not true, below doesn't work:

[code]

[2021-04-14 06:38] #7028 closed

[2021-04-14 06:45] losipiuk commented on #7533
[code]

#7028 #7563

[2021-04-14 08:13] findinpath commented on #7109
I've started to work on this one seeing that it's been a month since it was assigned.
Here is my draft branch https://github.com/findinpath/trino/tree/refactoring/7109
Can I be assigned on this one?

[2021-04-14 08:19] losipiuk commented on #7109
Sure. Thanks @findinpath

@ToumaKazusa-san are you still working on this one?

[2021-04-14 11:38] findinpath commented on #7109
@losipiuk  any idea how to tackle the test `io.trino.testing.AbstractTestQueries#testShowColumns`

[code]

but Elasticsearch delivers the table column metadata ordered by name

[code]

[2021-04-14 11:55] losipiuk commented on #7109
Just provide an override for `testShowColumns`. It is not uncommon to do so. See other connectors, there is a bunch of overrides already.

Can you clarify? I do not see a reason why different column ordering should fail this test.

[2021-04-14 12:00] findinpath commented on #7109
[code]

The call
[code]

will fail, because in the translation of the resultset from H2 it will rely on the list of types retrieved from Elasticsearch (which is alphabetical) and therefore the conversion of the values from the result set will throw a conversion exception.

[2021-04-14 12:38] losipiuk commented on #7109
I see. Please override this test for now.
And epand the `*` in `MaterializedResult all = computeExpected("SELECT * FROM orders", actual.getTypes());` to match the ordering in ES. Should help.

[2021-04-14 13:00] davseitsev commented on #7409
That's the issue. Also the issue is that they are shown in coordinator.

After cancellation queries can run different time, it depends on the query. On the graph above you can see that after restart  the longest fantom query finished in 30 minutes. But we often meet queries which can run for hours until we restart the whole cluster. We would like to see these queries in coordinator UI.

[2021-04-14 13:35] kokosing opened #7587 "JDBC TrinoConnection#close do not cancel running queries"
It is not well specified by JDBC standard as JDBC Connection#close javadoc says:

...
It is strongly recommended that an application explicitly commits or rolls back an active transaction prior to calling the close method. If the close method is called and there is an active transaction, the results are implementation-defined.

See `If the close method is called and there is an active transaction,

[2021-04-14 14:37] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7351

[2021-04-14 15:24] hashhar commented on #7587
Notably MySQL and SQL Server don't cancel the query this way. SQL Server driver tries to drain the connection and MySQL waits for a client timeout (configurable on the server).

[2021-04-14 16:29] lhotari commented on #7534
@findepi I have submitted a PR #7588 with a fix for the issue. I have sent the signed CLA.

[2021-04-14 18:47] shawnzhu opened #7590 "Supports read nanosecond precision of TIMESTAMP type in base jdbc connector"
## What happened

GIven Db2 table contains column with `TIMESTAMP(9)`:
[code]
, when running query `desc test_ts`, it will throw exception `com.google.common.util.concurrent.UncheckedExecutionException: java.lang.IllegalArgumentException: Precision is out of range: 9`.

Part of the stacktrace:
[code]

Notice: the problem is discovered from https://github.com/IBM/trino-db2/issues/70 but its code ba

[2021-04-14 19:05] kokosing commented on #7533
[code]
#7039

[2021-04-14 21:05] findepi commented on #7534
@lhotari thank you for your PR!
Can you tell me a bit more about your investigation that led to this particular fix?
Writing things to runner /etc/hosts doesn't look like an "obviously the right thing to do".

cc  @losipiuk @wendigo

[2021-04-14 21:15] findinpath commented on #7109
I've stumbled on a different problem while working on `io.trino.testing.AbstractTestQueries#testLimitWithAggregation`

[code]
Some of the double value for `totalprice` in the `orders` H2 table while being casted to BIGINT get rounded.
See the image below:

![image](https://user-images.githubusercontent.com/57260417/114779628-a4b59f00-9d76-11eb-8d68-59add875a8f5.png)

Note that after the casting to

[2021-04-14 22:23] findepi commented on #7535
`io.trino.tests.hive.TestHiveViews.testRichSqlSyntax` passed 100 times on CDH5 locally for me.
but it's far less green @ https://github.com/trinodb/trino/pull/7592. seems like memory pressure related?

[2021-04-15 09:34] sopel39 commented on #7409
Ideally, query should cancel immediately. We know couple of places that can be improved (e.g regular expressions), but maybe there are others that we don't know

[2021-04-15 09:45] skrzypo987 opened #7597 "Saturated floor cast from varchar to char may contain illegal characters"
In `CharactedStringCasts::varcharToCharSaturatedFloorCast` there is an operation of decrementing the value of a code point. The decremented value in rare cases may end up being an index that is not a valid Unicode code point (surrogate for example).
This in turn may end up as an incorrect/illegal character string.

[2021-04-15 09:51] davseitsev commented on #7409
Can we at least show such queries on coordinator? To let users know that their query is still running and to disallow users run more queries according to resource groups configuration.

[2021-04-15 10:09] thiningsun opened #7598 "trino can not Configure hive permissions Doesn't work"
trino version ：347
I want to control the permissions of the hive table through trino -server, but I went through the official documents and found that it failed

![image](https://user-images.githubusercontent.com/45502167/114852443-5c998980-9e15-11eb-9087-a5d0d25e1879.png)

![image](https://user-images.githubusercontent.com/45502167/114852745-a4201580-9e15-11eb-8ffd-09ade580e8c8.png)
![image](http

[2021-04-15 10:19] sopel39 commented on #7409
Query information cannot be rebuild on coordinator from worker data. Worker doesn't have full information to do so.

[2021-04-15 11:01] davseitsev commented on #7409
I agree that after coordinator restart it's impossible to rebuilt full query information , but what about the case when the query is killed or failed or exceeded timeout. Is it possible to retrieve information about splits on workers and just **keep** query on coordinator in `FINISHING` state until it takes resource on workers ignoring `query.min-expire-age` property?

[2021-04-15 11:32] lupengfei-johnson opened #7600 "Insert into ClickHouse table which use ENGINE = Distributed causes incorrect result"
clickhouse.testdb.test5 uses ENGINE = Distributed , there is 1 row in it.
` trino> select * from clickhouse.testdb.test5;
        eventdate        | counterid | userid | appid
-------------------------+-----------+--------+-------
 2021-04-15 19:00:00.000 |       123 |    123 |   123
(1 row)`

Insert another row to it
`trino> insert into clickhouse.testdb.test5 values(timestamp '2021-04-15 20:00:0

[2021-04-15 11:41] lupengfei-johnson opened #7601 "Insert into ClickHouse table which use ENGINE = ReplicatedMergeTree failed"
clickhouse.testdb.test5_local uses ENGINE = ReplicatedMergeTree, insert into it failed,

trino> insert into clickhouse.testdb.test5_local values(timestamp '2021-04-15 20:00:00',1234,123,123);
Query 20210415_112342_00023_nj8pv failed: ClickHouse exception, code: 253, host: xxx, port: 8123; Code: 253, e.displayText() = DB::Exception: Replica /clickhouse/tables/01/testdb.test5_local/replicas/1 alread

[2021-04-15 12:23] losipiuk commented on #7109
It look weird. Note that we are aggregating on `totalPrice * 100`. So there should not be any fractional part.
But maybe there still is something if Elastic maps `totalPrice` to `double`. I most other databases we would map it to `DECIMAL(..,2)` and rounding errors are not a problem there.

Is the problem you are describing reproducable on your working branch already? I would like to play with tha

[2021-04-15 16:04] findinpath commented on #7109
Yes. I've pushed the code already.

Also have a look on slack

https://trinodb.slack.com/archives/CP1MUNEUX/p1618435906295800?thread_ts=1618435906.295800&cid=CP1MUNEUX

I think the problem exists since a longer time and is related to H2 rather
to Elastic

On Thu, 15 Apr 2021, 14:24 Łukasz Osipiuk, ***@***.***> wrote:

[2021-04-15 16:14] losipiuk commented on #7109
Thanks I will take a look how to work around that.

Agreed. Just for connectors which use DECIMAL instead of DOUBLE it does not manifest in tests.

[2021-04-15 18:18] s2lomon commented on #7566
I'm not sure what's the issue here, it behaves just as every other authenticator, both on client and the server side and making it as you suggest will make it to stick out from the bunch of others. You can have multiple authenticators configured on the server, each coexisting peacefully and each one of them might be used in different scenario for different clients. That's why you need to opt in on

[2021-04-15 18:24] mosabua commented on #7566
Maybe in the larger setup it does make sense. This came up in a chat with @electrum and did not make sense to me then.

From a users perspective it would be nice if I dont have to tell the system how to authenticate and it just works and picks the right one.

Specifically in this case here is what I think should happen:

* Scenario: only sso is configured on the server
* User connects with CLI wit

[2021-04-15 18:29] findepi commented on #7587
Please check the JDBC spec. I recall seeing somewhere that connection close must implciitly close statements and results sets.

[2021-04-15 19:34] kokosing commented on #7587
From: https://download.oracle.com/otn-pub/jcp/jdbc-4_1-mrel-spec/jdbc4.1-fr-spec.pdf?AuthParam=1618515120_667f42e8665c98b8ab8eee8c1840a718

An application calls the method Connection.close() to indicate that it has
finished using a connection. All Statement objects created from a given
Connection object will be closed when the close method for the Connection
object is called.

They mention that it

[2021-04-15 19:53] findepi commented on #7601
cc @wgzhao

[2021-04-15 19:53] findepi commented on #7600
cc @wgzhao

[2021-04-15 20:03] findepi commented on #6744
*IF* value represents a point in time, the connector should return it as such.
From what i see above it seems Kudu UNIXTIME_MICROS _is_ a data point, but i am certainly not a Kudu expert.

cc @lzeiming

[2021-04-15 20:18] findinpath commented on #7109
The tests:
- `io.trino.testing.BaseConnectorTest#testPredicateReflectedInExplain`
- io.trino.testing.BaseConnectorTest#testSortItemsReflectedInExplain

are also failing.

Here is the relevant failed assertion:

[code]

I've looked over `io.trino.plugin.elasticsearch.ElasticsearchTableHandle#toString` and it just introduces `elasticsearch:SCAN:nation` , but no reference to a predicate/filterPredica

[2021-04-15 20:21] findepi commented on #6777
@tooptoop4
`interval '1' minute` is a _literal form for interval day to second type_.
Just like `1` is a literal form for integer type, or `DECIMAL '11.1'` is a literal form for decimal(3,1) type.

[2021-04-15 20:22] findepi commented on #7570
Provided such doc exists. Today it doesn't AFAIK.
(if indeed doesn't, the creation of this is not part of the task)

[2021-04-15 20:53] findinpath commented on #7109
@losipiuk regarding the test `io.trino.testing.AbstractTestQueries#testLargeIn` with `5000` clauses - the test fails due to a limitation of Elasticsearch which by default allows only `1024` clauses

[code]

This issue can be fixed by overriding the value of the setting `indices.query.bool.max_clause_count` to `5001` in the file `/usr/share/elasticsearch/config/elasticsearch.yml` in the elastic 6.x

[2021-04-15 22:06] losipiuk opened #7603 "Standard code path in BackgroundHiveSplitLoader should not reference AcidInfo.Builder"
Currently we are calling out to `AcidInfo.Builder.build()` method also for code path in `BackgroundHiveSplitLoader.loadPartition` when we are not reading from ORC ACID table.
This should be changed to make the code flow in the method more obvious.

[2021-04-15 22:13] losipiuk commented on #7533
[code]
#7579

[2021-04-15 22:33] martint commented on #7109
Two thoughts:
* Those tests are not appropriate for a generic suite. The format of the string representation of what gets shown in the table scan is connector-specific, and there's no requirement that the conform to a specific shape or contain certain keywords.
* But, we should update that toString method to include information about the filter. That's information that's useful to display, regardl

[2021-04-16 02:44] PChou opened #7604 "Json decoder not work when MillisecondsSinceEpoch represent as scientific notation"
trino version: <= 354
I'm testing kafka connector, the source topic data show as below(use kafka console consumer):

[code]
notice that, timestamp is represent milliseconds since epoch, but show as scientific notation.
Then I try to configure the table descriptor

[code]

but the query failed:

[code]

from `io/trino/decoder/json/MillisecondsSinceEpochJsonFieldDecoder.java` I found the exception r

[2021-04-16 04:24] dain commented on #7291
Since this is a full delete of the partition, I would assume we could write a new, empty, compacted base directory.  From the [ORC spec](https://orc.apache.org/docs/acid.html), I think this could be as simple as creating a directory with a name like `delta_0000005_0000010` containing no files.

[2021-04-16 06:17] lzeiming commented on #6744
We also find the timestamp value from our Kudu cluster in the query result is not compatible when we  upgrade from 332 to 347
We modified the Kudu connector for our system. We invoke convertUTCToLocal when reading from Kudu as Hive connector reading ORC file.
We also invoke convertLocalToUTC when writing into Kudu.

[2021-04-16 06:45] hashhar commented on #7604
I think the issue is that we are treating a JSON Number as an integer/long value when it in fact is a floating point value.

I think this should be as easy as reading the value into a double and casting back into long instead (while being aware of when the value is non-integral).

[2021-04-16 08:23] findepi opened #7608 "Pass Constraint with functional predicate to ConnectorSplitManager"
`Constraint#predicate` represents a Filter that cannot be converted to a `TupleDomain`.
Today the `Constraint#predicate` is passed to `io.trino.spi.connector.ConnectorMetadata#applyFilter` (but only sometimes, i.e. within `AddExchanges`)
Connector may be unable to derived all the possible information out of that at this stage.
We should pass the same information second time, to `ConnectorSplitMana

[2021-04-16 08:40] sopel39 commented on #7608
Should we fix planner and connectors instead so that pushdown of predicate via `applyFilter` is more reliable?

[2021-04-16 08:47] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7556

[2021-04-16 09:11] losipiuk commented on #7109
This is fine :)

[2021-04-16 09:12] tooptoop4 commented on #7603
related to https://github.com/trinodb/trino/issues/2913

[2021-04-16 09:12] losipiuk commented on #7109
Regarding io.trino.testing.AbstractTestQueries#testLimitWithAggregation see https://github.com/trinodb/trino/pull/7610

[2021-04-16 09:16] findinpath commented on #7109
@losipiuk  based on the previous comment from @martint  I've added (at the moment) empty implementations for  the methods:

- `testPredicateReflectedInExplain`
- `testSortItemsReflectedInExplain`

I'd appreciate some hints here on how to fill these methods with a concrete implementation.

[2021-04-16 09:26] findepi commented on #7608
`Constraint#predicate` is not always present for performance reasons.

[2021-04-16 09:34] losipiuk commented on #7109
Maybe just override those with ES specific assertion. LOoking for
[code]
for `testPredicateReflectedInExplain` and accordingly for `testSortItemsReflectedInExplain`

[2021-04-16 09:46] losipiuk opened #7611 "Hive ORC ACID INSERT/UPDATE/DELETE/MERGE support"
This is umbrella issue to track work regarding DML for Hive ORC ACID tables:

Core features:
 * [x] DELETE Support (https://github.com/trinodb/trino/issues/5049, https://github.com/trinodb/trino/pull/5402)
 * [x] INSERT Support (https://github.com/trinodb/trino/issues/5049, https://github.com/trinodb/trino/pull/5402)
 * [x] UPDATE Support (https://github.com/trinodb/trino/pull/5861)
 * [x] MERGE S

[2021-04-16 09:46] losipiuk commented on #7611
cc: @findepi @electrum @djsstarburst

[2021-04-16 10:35] findepi commented on #7535
In a stress test https://github.com/trinodb/trino/pull/7592 cdh5 suite-1 failed 20 of 50 runs.
`TestHiveViews.testRichSqlSyntax` failure was in every from first 6 failures i checked. I did not check remaining 14 failures.

[2021-04-16 11:49] findepi commented on #4593
Done in https://github.com/trinodb/trino/pull/7370

[2021-04-16 11:49] #4593 closed

[2021-04-16 12:06] wgzhao commented on #7601
@lupengfei-johnson The `ReplicatedMergeTree` engine involves multi-node data sharding, and currently the clickhouse connector does not support distributed clickhouse writes.

[2021-04-16 12:08] wgzhao commented on #7600
@lupengfei-johnson Similar to #7601, the Distributed Table Engine involves multi-node data sharding, and currently the clickhouse connector does not support distributed clickhouse writes

[2021-04-16 12:55] martint commented on #7608
Are the performance reasons that it can be expensive to evaluate? Then we should improve that, instead. There’s no reason why it should be as slow as it is today — Trino used to evaluate expressions exclusively by interpreting them on the early days, and it was not horrible.

[2021-04-16 14:35] findepi commented on #7608
Let's track this as a separate issue

Improving performance wouldn't alleviate the underlying problem that split manager doesn't have access to full information.
For example, `HiveTableHandle` keeps list of partitions to scan. (It uses memory, so we have a safety limit for 100K partitions).
Now imagine you want to change hive connector not to track partition list explicitly, or you simply delay th

[2021-04-16 17:12] dungdm93 commented on #7322
Hi forks,

I just did a little investigation, and I found out that not only google, `access_token` many other OAuth providers like [GitHub](https://docs.github.com/en/developers/apps/authorizing-oauth-apps#response), [GitLab](https://docs.gitlab.com/ee/api/oauth2.html#authorization-code-flow) are not JWTs either.

So, in order to get user identity, they usually use `access_token` to retrieve [user

[2021-04-16 17:14] djsstarburst commented on #7291
The bug happens only for tables created using SQL of the form `CREATE TABLE AS (SELECT xxx FROM source_table ...)`

The root cause of the bug is the `HiveMetadata` method:

[code]

This method allows "metadata delete" via dropping partitions without checking to see if the table is transactional.  I recall that @electrum and I discussed the question, and decided there was more risk in changing beha

[2021-04-16 18:26] kokosing commented on #7533
[code]
#7306

[2021-04-16 18:29] kokosing opened #7619 "TestIcebergParquetSmoke.testMonthTransformDate is flaky"
[code]

[2021-04-16 20:40] sopel39 commented on #7608
information until the time of split generation

We use partition information to generate table predicates.

We could maybe keep `Optional<Predicate<Map<ColumnHandle, NullableValue>>> predicate` within `HiveTableHandle` (since it's used only on coordinator)?

[2021-04-16 21:36] #7590 closed

[2021-04-16 21:43] findepi opened #7620 "Clarify lifecycle of Constraint#predicate Predicate"
`Constraint#predicate` is an opaque `Predicate` that internally holds to an evaluator.
this is passed to `ConnectorMetadata#applyFilter`

Question:

- is connector allowed to hold onto this predicate after `ConnectorMetadata#applyFilter` returns?

Regardless of the answer, since this is a subtle aspect of the SPI, we should document that in the javadoc.

[2021-04-16 21:43] findepi commented on #7608
I wanted to start a separate thread about ... https://github.com/trinodb/trino/issues/7620

[2021-04-16 21:44] martint commented on #7620
No, it's not allowed to hold on to it. It's meant to be used only for the duration of the API call.

[2021-04-16 21:47] findepi commented on #7620
That would be my intuition as well, but i didn't know the intentions.

1. we should document
2. we can optionally enforce that, by "destroying" the evaluator after the call returns

[2021-04-16 21:56] electrum commented on #7226
@jshmchenxi We definitely want to support this, along with performing row-level deletes via `DELETE`, `UPDATE`, and `MERGE` as well. The Iceberg specification says v2 is incomplete, so we haven't prioritized working this.

[2021-04-16 22:13] phd3 commented on #7551
this is in progress under #7367. (not long-lived though).

[2021-04-16 23:13] djsstarburst commented on #7298
I submitted PR https://github.com/trinodb/trino/pull/7622 to fix this issue.

[2021-04-17 08:47] findinpath commented on #7111
I have already experience with refactoring to `BaseConnectorTest` and I'm also familiar with Cassandra. I think I could provide in a day or two a working PR for this issue. Can I be assigned on this one?

[2021-04-17 09:29] findepi commented on #7111
@findinpath  let's ask @manan9299 whether they are actually working on this

@manan9299 ?

[2021-04-17 10:58] JoJoBizarreAdventure commented on #7115
Sorry for waiting for such a long time, I'm busy for a while for looking for an internship.
I'm working on this issue now and already send email asking for verification.
But I'm wondering if I misunderstood the requirement.
![image](https://user-images.githubusercontent.com/64888038/115110567-acf81f00-9fae-11eb-9755-5d0e8e7ca0e4.png)
I found that there is no file named **TestMongo3DistributedQueri

[2021-04-17 11:46] hashhar commented on #7115
@JoJoBizarreAdventure If I understand @losipiuk's intent correctly then you should:

1. Remove `BaseMongoDistributedQueries` by merging it into `TestMongoDistributedQueries` (because it's the only class that extends from `BaseMongoDistributedQueries`).
2. Make `TestMongoDistributedQueries` extend `BaseConnectorTest` (which is what this issue is about).
3. Rename `TestMongoDistributedQueries` to `T

[2021-04-17 12:44] JoJoBizarreAdventure commented on #7115
Thanks @hashhar

[2021-04-17 14:05] yamingd commented on #7363
@vincentpoon @lhofhansl  any thoughts ?

[2021-04-17 17:51] manan9299 commented on #7111
@findinpath sure, go ahead. I got caught up in something else and couldn't find the time to work on this issue.

[2021-04-18 04:27] JoJoBizarreAdventure commented on #7604
I found that it is parsed to be a **FloatNode**, which should be regarded as **invalid** in **TestMillisecondsSinceEpochJsonFieldDecoder**.

[2021-04-18 09:34] JoJoBizarreAdventure commented on #7597
@findepi Could you please give me some examples of inputs that lead to incorrect character string?
It's a bit confusing. I want to have a try fixing it.

[2021-04-18 13:05] ebyhr commented on #7533
[code]
#7628

[2021-04-19 06:18] jshmchenxi commented on #7226
@electrum Thanks for the reply and look forward to the feature!

[2021-04-19 08:11] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7629

[2021-04-19 09:52] sopel39 commented on #5041
@martint https://github.com/trinodb/trino/pull/7618 adds `SELECT` checks for MV

[2021-04-19 10:19] MisLink opened #7633 "How about `client.id` config for kafka connector?"
It will be nice for tracing or limit something.

[2021-04-19 11:36] gjhkael opened #7635 "Incorrect query results when reading Hive VIEW with nested GROUP BYs"
You can use the following test case to reproduce the issue.
[code]

After convert, the presto query is below:
[code]
The semantics of the two Queries are clearly inconsistent.

https://github.com/linkedin/coral/issues/72

[2021-04-19 11:46] wendigo commented on #7559
https://github.com/trinodb/trino/pull/7625/checks?check_run_id=2371223686

[2021-04-19 12:34] skrzypo987 commented on #7597
Put
[code]
into `CharacterStringCasts::testVarcharToCharSaturatedFloorCast` and you will get an `InvalidCodePointException`
`0xDFFF` is the last of the surrogate codepoints which are illegal and should not exists. There may be other ranger of chars like that in Unicode, however `SliceUtf8::setCodePointAt` knows only this one.

[2021-04-19 13:29] #4769 closed

[2021-04-19 13:36] lukasz-walkiewicz commented on #7322
Thanks for the update, adding support for opaque access tokens is definitely on our road map.

[2021-04-19 13:45] williesb commented on #5688
Is there an ETA on this?

[2021-04-19 14:11] losipiuk commented on #7635
A more syntetic testcase to be put in `TestHiveViews.java` in Trino:
[code]

Currently fails with:
[code]

[2021-04-19 15:02] ebyhr commented on #7533
[code]
#7543

[2021-04-19 18:09] #7291 closed

[2021-04-19 20:10] yashhd commented on #7572
Hi @electrum . This will be my first ever open source contribution. Can you please tell me which file is it?

[2021-04-19 20:18] findepi commented on #7572
@yashhd this is in `docs/src/main/sphinx/connector/hive.rst`.

[2021-04-19 20:40] yashhd commented on #7572
@findepi @electrum  I have made a pull request. Could you please review it?
github.com/trinodb/trino/pull/7640

[2021-04-19 22:58] #7298 closed

[2021-04-20 01:31] #7433 closed

[2021-04-20 01:33] ebyhr commented on #7533
[code]
#7433 #7544

[2021-04-20 01:34] ebyhr commented on #7433
@sreeharicheerla This fix will be included in the next release. Please wait for a while.

[2021-04-20 08:42] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7615

[2021-04-20 08:44] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7615

[2021-04-20 09:01] s2lomon commented on #7559
I'm working on a fix, sorry for it beeing flaky in a first place.

[2021-04-20 09:03] PChou commented on #7604
@hashhar @JoJoBizarreAdventure
If floating-point numbers are supported, there is indeed a loss of precision. We need to decide how to discard units smaller than milliseconds.

[2021-04-20 09:06] MirrorChu commented on #7116
Sorry for being absent, I am going to work on this issue now.

[2021-04-20 09:29] hashhar commented on #7604
@PChou IMO:

1. Use `Double.parseDouble` to read the values from JSON since JSON doesn't have an integer type.
2. If the parsed value has a fractional part - throw an exception because none of the formatters support fractional parts of seconds/millis/micros. Silent truncation can lead to misleading expected and actual values for the end-user.

Not that not truncating also has the benefit that it m

[2021-04-20 09:50] losipiuk commented on #7533
[code]
https://github.com/trinodb/trino/pull/7509

[2021-04-20 10:04] losipiuk commented on #7604
I would go with truncating. There is a chance that someone depends on support of non 0 fractional part right now.

[2021-04-20 10:16] hashhar commented on #7604
Unlikely because in current code it would throw a `NumberFormatException` due to the `parseLong` call.

[2021-04-20 10:43] losipiuk commented on #7604
Yeah, you are right. Then validation seems fine give any json value representing integer should be represented as integer `double` value (without fractional part)  under IEEE 754.

[2021-04-20 13:35] findepi commented on #6323
https://github.com/trinodb/trino/issues/6998 could help with this.

[2021-04-20 14:01] xuboqing commented on #7107
Still working on it. Please give me some time.

[2021-04-20 18:36] asantoz commented on #7240
Hi! I can take it :)
Someone can sum up the task?

[2021-04-20 19:01] nbayle opened #7649 "`CALL` statements show `QUEUED` status even when running."
When running `system.sync_partition_metadata` for over an hour, Trino still shows status as `QUEUED`.

[code]

Per David:

[2021-04-20 19:04] nbayle opened #7650 "Add additional logging to `sync_partition_metadata` procedure"
Hive `sync_partition_metadata` can take forever and there's little logging output even in `DEBUG` mode.

Per David:

Either would be immensely helpful debugging sync issues as trail and error is difficult with long runtimes.

[2021-04-20 20:18] mosabua commented on #7150
This should go in the new SQL support - DDL section we plan to add to all connectors.

[2021-04-20 20:24] mosabua commented on #6022
Even looking at the linked ticket.. it just says its implementation dependent in the spec. This is super-counterintuitive. Could we not just fix the implementation @martint ?

[2021-04-20 20:26] mosabua commented on #5864
The order might be on purpose in terms of common usage vs not. Maybe we could even use multiple toctree to have a Basic and Special cases section or something like that. wdyt @electrum ?

[2021-04-20 20:27] mosabua commented on #5847
Are there any more pointers what you are specifically looking for and where this should be documented?

[2021-04-20 20:31] mosabua commented on #5345
In which context specifically - just globally or connector specifics? Also how much detail is desired here and how standardized is the information_schema even?

We have docs for describe and other commands that use the information schema .. is that where we want to hook in a link to more information?

[2021-04-20 20:31] mosabua commented on #5316
Now at https://trino.io/docs/current/language/types.html#time-with-time-zone

[2021-04-20 20:45] mosabua commented on #5316
Not sure what is specifically missing..

But the current example is wrong. It doesnt actually work

TIME '01:02:03.456 America/Los_Angeles'

Instead this works

select TIME '01:02:03.456 -07:00';

We should update the example at least and specify that the numeric format should be used. And if a text format is used we should say which one and have an example as well.

[2021-04-20 20:47] mosabua commented on #5316
E.g this format doesnt work either

[code]

[2021-04-20 20:48] mosabua commented on #5316
cc @martint if you have any insights on this...

[2021-04-20 20:51] mosabua commented on #5235
Lets add it to that table.

[2021-04-20 21:01] mosabua commented on #4807
@Ordinant is doing an update at the moment. Please ensure this is added and updated for Trino.

[2021-04-20 21:05] mosabua commented on #4619
I wrote a bunch of this up a while ago and it is all live. Can we consider this done?
https://trino.io/docs/current/connector/hive.html#hive-views

[2021-04-20 21:13] mosabua commented on #4450
Ping @phd3 ?

[2021-04-20 21:15] mosabua commented on #4179
Some are documented now https://trino.io/docs/current/connector/hive.html#orc-format-configuration-properties

We just need to decide which other ones should be in the docs? Any specific wishes @findepi and @electrum ?

[2021-04-20 21:17] mosabua commented on #3802
I did this recently... https://trino.io/docs/current/security/authentication-types.html

[2021-04-20 21:17] #3802 closed

[2021-04-20 21:19] mosabua commented on #3698
We have separate sections for orc and parquet now

https://trino.io/docs/current/connector/hive.html#orc-format-configuration-properties

And hive.partition-use-column-names has been removed in 352 so we should no longer document it. ;-)

[2021-04-20 21:42] mosabua commented on #3665
Should we io.trino.

[2021-04-20 21:46] mosabua commented on #1911
Adding label back .. we will assist anybody that picks this up as necessary.

[2021-04-20 22:32] martint commented on #6022
Implementation-dependent means the implementation can choose an arbitrary ordering. We choose not to do any ordering in that case since that would be extra unnecessary processing.

The underlying discrepancy is that a top-level query and a parenthesized query are two completely different entities from a SQL grammar perspective. That's why the ORDER BY matters in one but not in the other.

[2021-04-20 23:11] mosabua opened #7653 "Document bing_tile_quadkey function"
Already in list.rst .. needs to be added to other bing_tile functions docs.

[2021-04-20 23:13] mosabua opened #7654 "Document functions for bitwise shifting"
* bitwise_left_shift
* bitwise_right_shift
* bitwise_right_shift_arithmetic

Add to functions/bitwise.rst and update list

[2021-04-20 23:14] mosabua opened #7655 "Document evaluate_classifier_predictions function"
Not sure where this needs to go just yet..

[2021-04-20 23:15] wmoustafa commented on #4619
Thanks for putting this together! Simple case expressions are supported (in https://github.com/linkedin/coral/pull/24) but the Trino issue is not closed pending on a test case in Trino. Also it is worth noting that custom UDFs are supported if written in [Transport](https://github.com/linkedin/transport).