[2019-01-21 02:50] martint opened #1 "Add support for FETCH/OFFSET syntax"
In terms of syntax, this is what the spec says:

[code]

And

[code]

[2019-01-21 02:51] martint opened #2 "Improve encoding of grouping sets in plan"
Currently, the list of concrete grouping sets is expanded during analysis. This results in inefficiencies during analysis and planning due to redundant re-analysis and storage of the atoms of each grouping element.

Instead, the engine should only analyze the atomic units (columns of each grouping element) and should encode the expected grouping sets in the plan using an abstract description of th

[2019-01-21 02:54] martint opened #3 "Warn when CAST of varchar(x) -> varchar(y) results in truncation"
Per the spec (6.13 General Rules 11.c):

[code]

[2019-01-21 02:55] martint opened #4 "Simplify JOIN planning"
The JOIN planning code in RelationPlanner currently has a bunch of complicated logic that attempts to derive and extract the terms of equality comparisons, etc. Now that JoinNode can contain an arbitrary expression as the join criteria, we should simplify this code to not do that, and leave it to the optimizers to push down predicates as necessary.

[2019-01-21 02:57] martint opened #5 "Add hidden $partition column to Hive connector"
It can help for computing or filtering the raw partition names that are provided by other Hive-related tools. E.g., ` ds=2017-05-23/type=abc/ts=2017-05-23+21%3A45%3A99`.

It should support pushdown for partition pruning.

- [x] Add initial $partition column (#3582)
- [ ] Support pushdown for partition pruning

[2019-01-21 03:02] martint opened #6 "Exponential processing time and memory usage in PredicatePushDown"
Queries of this shape consume exponential amounts of memory and CPU:

[code]

The issue appears to be caused by https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PredicatePushDown.java#L203.

One possible short-term fix is to adjust the inlining heuristics to only do it if the expressions are trivial or appear only once (similar

[2019-01-21 03:02] martint opened #7 "Incorrect FILTER clause evaluation order"
According to the SQL specification, the `FILTER` clause for an aggregation query should be applied to the rows in the group before the arguments to the aggregation are evaluated.

Currently, expressions in the aggregation arguments are evaluated before the filter, leading to queries failing when they shouldn't.

For example:

[code]

fails with "/ by zero" error.

This is the plan it produces:

[c

[2019-01-21 03:03] martint opened #8 "Function and type namespaces"
# Goals

* Allow for coexistence of functions and types with similar names but different semantics (e.g., compatibility layer for other databases like Teradata, Oracle, MySQL, Vertica, PostgreSQL, etc)
* Allow for tighter control of what functions are available in a given deployment
* Make it possible to implement user-defined functions and types in the future

# Features

* Support for `CURRENT_P

[2019-01-21 03:05] martint opened #9 "Add support for LEFT/RIGHT/INNER lateral joins"
It should be possible to write queries like:

[code]

[code]

[2019-01-21 03:07] martint opened #10 "Named queries (WITH) should be evaluated only once"
Currently, Presto evaluates named queries (WITH clause) by inlining them wherever they are referenced in the body of the main query. This can cause problems if the query is non-deterministic, since every inlined instance might produce different results.

According to the spec:

[code]

This says that each named query should be evaluated once and the result "stored" in a table `WLT`. Thereafter, an

[2019-01-21 03:09] martint opened #11 "Remove DISTINCT inside IN subquery expression"
Add an optimization rule to remove unnecessary DISTINCT in this scenario:

[code]

Since the semi join already performs deduplication of the values in the subquery, that operation is unnecessary and results in an extra exchange and aggregation.

[code]

[code]

[2019-01-21 03:10] martint opened #12 "Support "array by table subquery" constructor"
From the spec:

[code]

`ET` be the declared type of the column in the result of `<query expression>`.

cardinality equal to the implementation-defined maximum cardinality IMDC for such array types.

In simple terms,

[code]

is equivalent to

[code]

[2019-01-21 03:13] martint opened #13 "Ambiguous declarations for concat() function"
The concat function allows the following forms:

[code]

This causes problems when one of the arguments is `array[]`.

If `T` is `array(U)` in the second form, the invocation looks like `concat(array(U), array(array(U))`. A call like `concat(array[1,2], array[])` is ambiguous, since `array[]` is a valid value for `array(T)` and `array(array(U))`. A similar issue happens for the third form.

For ex

[2019-01-21 03:14] martint opened #14 "Optimize union all of similar aggregations"
Queries of the following shape:

[code]

(a1, ..., an, b1, ..., bn are constants)

can be optimized to process all the data in a single pass to reduce the number of stages in the query execution.

One possible rewrite could be:

[code]

[2019-01-21 03:16] martint opened #15 "Optimize joins with "similar" subqueries"
Optimize queries of the following shape:

[code]

as

[code]

More generally, if we know `k` contains distinct values, optimize

[code]

as

[code]

[2019-01-21 03:17] martint commented on #15
It should also be able to do this rewrite:

[code]

as

[code]

(some post-filtering is needed to remove rows that would've not been produced by the join if filter1 or filter2 was false for all rows in the group)

[2019-01-21 03:37] martint opened #16 "Implement MULTISET type, syntax, and functions"

[2019-01-21 03:40] martint opened #17 "Add support for case sensitive identifiers"
[code]

[code]

The approach and design is being captured here: https://github.com/trinodb/trino/wiki/Delimited-Identifiers

[2019-01-21 19:26] martint opened #18 "Allow connectors to participate in query optimization"
This is an umbrella issue to track various projects related to allowing connectors to participate in query optimization. The long-term vision is for plugins to provide custom rules that can transform subplans into plugin-specific operations. This requires a set of steps:

* decouple the AST from the current IR (PlanNode tree): https://github.com/trinodb/trino/issues/13184
* get rid of visitor-base

[2019-01-22 21:43] electrum opened #22 "Release notes for 301"
## Dain Sundstrom
- [x] all checked
-  01-22 16:59:11    14db5b5d90 Add trace token to query events
-  01-22 18:54:06    17112e014a Update node list on workers
-  01-22 18:54:06    33c0fc047a Stop DiscoveryNodeManager in tests
-  01-22 18:54:06    86d780ad2c Only fire node change event on change
-  01-22 18:54:06    b950d0fdad Add test for DiscoveryNodeManager listener
## David Phillips
- [x] all

[2019-01-23 03:36] dain opened #29 "TABLESAMPLE SYSTEM prevents scan/filter/project operator fusion"
The `TABLESAMPLE` node in the plan for the following query prevents operator fusion:
[code]

[2019-01-23 17:07] sopel39 commented on #18
Related to exploratory optimizer is a concept of traits. I'm appending some old notes:
Traits roadmap:
* https://github.com/prestodb/presto/pull/8698#issuecomment-321215363
* https://github.com/prestodb/presto/issues/7169
Design "proposal" how to use traits for rule programming: https://docs.google.com/presentation/d/10wCmZEp5NnRSb_4oPsdiKkmYy4Hy5BgddEA8brPuVis/edit?usp=sharing

[2019-01-23 17:12] sopel39 commented on #15
Related design doc: https://docs.google.com/document/d/1szoCkPVcG5WJpg06ePyNiILl5mcaBekZbzlRBS1hKus/edit?usp=sharing

[2019-01-23 23:06] findepi opened #37 "TIMESTAMP behaviour does not match sql standard"
## Problem description

See below.

## Roadmap

- [x] use reasonable temporal representation in tests (testability)
- [x] feature config and session toggles
- [x] use non-UTC zone as default in test and better default JVM zone (testability) (= https://github.com/prestodb/presto/issues/10078, more details there)
- [x] (https://github.com/prestodb/presto/pull/10193) engine semantics fixes
- [x] all

[2019-01-24 07:53] kokosing opened #38 "Design and implement release verification"
@martint, @electrum, @dain  Can you share your experience with a release verification. What do you think needs to be tested:
 - what data and queries?
 - what workload (concurrency)?
 - how long it should be executed to catch production-like issues?
 - how much hardware do we need?
 - how can this be automated?
 - what needs to be verified (memory leaks, garbage collection, correctness)?

Are ther

[2019-01-24 08:38] sopel39 commented on #38
Per release should be good enough. Anyway, we probably should have release branches so that verification process doesn't halt code development for long time.

[2019-01-24 09:03] findepi opened #39 "ANALYZE statement"
cc @sopel39 @martint

[2019-01-24 09:04] findepi commented on #39
https://github.com/prestodb/presto/pull/11376

The ANALYZE statement is already part of Starburst Presto.

[2019-01-24 09:47] kokosing commented on #38
That would depend on how much time release verification would take. If it would take 2 weeks then ok, if 2 days then I would keep as it is.. Release branches have their own cons.

[2019-01-24 10:05] sopel39 commented on #38
True, but when the community gets larger it will be harder to enforce code freezes. I guess github bot could help here.

[2019-01-24 12:04] findepi opened #41 "Test EXPLAIN for all queries"
Ensure `EXPLAIN <query>` works for all the different setups possible, e.g.
- regular joins, indexed joins
- spatial joins
- bucketed/grouped execution
- ...

[2019-01-24 12:06] findepi opened #42 "Incorrect return value for ROUND_N with negative N for types other than DECIMAL"
`ROUND(SMALLINT '99', -1)` should return 100, now it returns 99.

Ref https://github.com/prestodb/presto/issues/10025

[2019-01-24 12:07] findepi commented on #42
@ebyhr would you like to rebase & apply comments from https://github.com/prestodb/presto/pull/10349 ?

[2019-01-24 12:32] ebyhr commented on #42
@findepi Yes, let me try once again.

[2019-01-24 12:57] findepi opened #43 "Support Impersonation in Metastore communication"

[2019-01-24 13:01] findepi opened #44 "Support role management"
Support Roles, Grants, etc.

[2019-01-24 13:01] findepi commented on #44
https://github.com/prestodb/presto/pull/11645 -- this needs to be rebased.

[2019-01-24 13:02] findepi commented on #43
I am working on this. But we need to get Roles (https://github.com/prestosql/presto/issues/44) in first to avoid conflicts.

[2019-01-24 16:23] sopel39 opened #49 "Incorporate WorkProcessor in operators"
Issue for effort to support:
* cross operator lazy pages (starting from source operators)
* cleanup/simplify contract between operators via WorkProcessor pipelines
* provide base for further improvements (e.g: on stack rows without Page materialization, Graal)

The advantage of cross operator lazy pages is that we can avoid IO when queries are highly selective. This requires that significant proce

[2019-01-24 16:24] sopel39 commented on #49
Work processor provides transformation method:
`WorkProcessor#transform`
Let's suppose that you have chain of `Page` transformations, e.g:
[code]
One can observe that we can compile such chain of `Page` transformation into a tight loop that doesn't materialize intermediate results. Please checkout paper: http://www.vldb.org/pvldb/vol4/p539-neumann.pdf and project: https://hyper-db.de/.

In order t

[2019-01-24 16:25] sopel39 opened #50 "Sampled partition stats have greatly underestimated NDVs for some columns"
Incorporated from: https://github.com/prestodb/presto/issues/11959

tpch_sf100. orders (partitioned):
[code]
[code]

Should we add extrapolate NDVs instead? It seems that partitions might often be different chunks of data so that NDVs don't overlap.
Alternatively we could store HLL state per column as an auxiliary partition property and calculate extrapolation based on merged HLLs

FYI: @arhimondr

[2019-01-24 16:26] sopel39 opened #51 "Quantify stats/cost calculator quality. Probabilistically adjust models as a longer term goal"
Incorporated from: https://github.com/prestodb/presto/issues/11615

Currently we don't have any quantifiable means of measuring stats cost model quality. It would be great to have one so that we can compare stats/cost calculator changes via A/B testing or by aggregating historical data.

**Cumulative cost quality**

Let's call cumulative estimated query `q` cost as:
`EstimatedUserCpu(q), Estimated

[2019-01-24 17:01] sopel39 opened #52 "Land dynamic filtering"

[2019-01-24 18:35] dain commented on #29
@Praveen2112, I think that will work, but we should only do this if `sourceNode.getSampleType() == SampleNode.Type.SYSTEM`.  I'd like to hear from someone more involved in the optimizer (maybe @martint or @findepi), if we should instead be optimizing away this node instead of handling it in `LocalExecutionPlanner`

[2019-01-24 21:06] findepi commented on #29
@dain i prefer not to comment. I never used sampling yet.

[2019-01-24 21:58] martint commented on #29
We need to add the ability to push down sampling into connectors (as part of picking table layout) and let the optimizer remove it from the plan if it's supported by the connector.

[2019-01-24 22:02] dain commented on #22
[code]

[2019-01-24 22:02] electrum opened #56 "Add CLI option --trace-token to set the trace token"
This should be easy as trace token is already in `ClientSession`.

[2019-01-24 22:06] dain commented on #22
[code]

[2019-01-24 22:12] dain commented on #29
I suggest we go ahead with this simple workaround for now.

[2019-01-25 10:57] sopel39 opened #62 "JMX MBeans are not accessible"
When JMX MBean is created via:
[code]
it doesn't list, but when created via:
[code]
it does list in `presto.plugin.hive.metastore.glue`.

FYI: @electrum

[2019-01-25 11:15] sopel39 commented on #52
Planner part: https://github.com/prestodb/presto/pull/11604
Older version: https://github.com/prestodb/presto/pull/9453

[2019-01-25 11:20] sopel39 opened #64 "Efficient Adaptive Partial Aggregations"
Extracted from: https://github.com/prestodb/presto/issues/10305 (see discussion there)

## Problems
1) High cardinality group by can result in one row per partial which can make query significantly more expensive than no partial at all.
2) No partial for distinct aggregations can cause slow queries since all distinct calculations happen on a few machines.
3) Flush of partial is all or nothing whic

[2019-01-25 12:00] sopel39 commented on #18
In addition, some worthy refactoring proposals that came from discussions from: https://github.com/prestodb/presto/pull/11591:
https://github.com/prestodb/presto/pull/11591#issuecomment-431343172
https://github.com/prestodb/presto/pull/11689
FYI: @findepi

[2019-01-25 15:06] arhimondr commented on #50
Currently we chose the maximum NDV. If we decided to sum NDV's then we would need to extrapolate.

It depends for what column, and what type of partitions. For daily rolling partitions  NDV will be likely overlapping.

I think that's the only options we have. In order to do so - we need to store HLL states per columns in the partition properties, as the Mestastore API doesn't allow you to store ar

[2019-01-25 15:07] arhimondr commented on #50
@findepi I'm not sure if we should call it a "bug". The decision of taking MAX NDV was a thoughtful decision. Let's change the label to "enhancment".

[2019-01-25 15:47] sopel39 commented on #50
We can store HLL in table/partition properties

[2019-01-25 15:48] sopel39 commented on #50
Yup. Discussion from original issue: let's say you partition by date and you have two data columns:
* userId
* eventId

Then for 1) you should rather take max (users come from the same id pool), even though userId NDV could be approximate the same as partition row count
For 2) you should sum because each eventId is unique.

[2019-01-25 19:36] electrum commented on #62
I'm guessing this is unavoidable given how the Guice binding DSL works. cc @dain

[2019-01-25 22:19] martint commented on #22
[code]

https://github.com/prestosql/presto/pull/36

[2019-01-26 03:33] martint commented on #22
[code]

[2019-01-26 04:49] martint commented on #38
I'd like to expand this to include general improvements to verification and test coverage. There are a few things we could do:
* Add more unit tests and product tests to the codebase. However, as the testing suite gets larger, it gets harder to run everything on every PR. We'd need a way to segregate basic vs extended tests and have a mechanism to run these on a schedule vs on-demand (per PR).
* W

[2019-01-26 06:39] electrum commented on #22
[code]

[2019-01-28 07:21] ankitdixit commented on #11
@martint Can i work on this?

[2019-01-28 09:49] sopel39 commented on #62
This is to be closed then?

[2019-01-28 09:57] Praveen2112 commented on #11
There was a previous implementation (https://github.com/prestodb/presto/pull/8092) in PrestoDB. But it wasn't merged I guess

[2019-01-28 10:15] kokosing opened #84 "Cherry pick: Report top memory consumers when local memory limit is exceeded"
https://github.com/prestodb/presto/pull/12170

[2019-01-28 10:16] sopel39 opened #85 "Port Implement PROVIDED_BLOCKBUILDER return place convention for scalar function"
PR: https://github.com/prestodb/presto/pull/12166

FYI: @dain @electrum

[2019-01-28 10:16] sopel39 opened #86 "Port "Use cost estimates to choose semi-join distribution type""
PR: https://github.com/prestodb/presto/pull/12050

[2019-01-28 10:19] kokosing opened #87 "Port "Adding support for NOT NULL in DDL""
https://github.com/prestodb/presto/pull/11561

[2019-01-28 11:22] kokosing opened #88 "Remove usage of SchemaTablePrefix deprecated methods"

[2019-01-28 13:17] #87 closed

[2019-01-28 13:18] #86 closed

[2019-01-28 13:19] #85 closed

[2019-01-28 16:41] raunaqmorarka commented on #52
@sopel39 I would like to pick up the work of merging dynamic filtering from where @amoghmargoor last left it. I will raise the PR again by rebasing original one. Can this issue be assigned to me ?

[2019-01-28 16:43] sopel39 commented on #52
I think we should pick up from https://github.com/prestodb/presto/pull/11604

[2019-01-29 05:15] dain commented on #29
Fixed by #78

[2019-01-29 05:15] #29 closed

[2019-01-29 10:14] findepi commented on #11
@hellium01 are you planning to make a new PR based on https://github.com/prestodb/presto/pull/8092 in the near future?

[2019-01-29 10:21] findepi commented on #1
Certainly, we want to support standard syntax.
Do we want to support simplified syntax `OFFSET n LIMIT m` as well?
Do we want to support `LIMIT m OFFSET n` version too? It is misleading (it looks as if LIMIT was applied before OFFSET). But this form is available in eg PostgreSQL and MySQL.
@martint ?

[2019-01-29 10:56] findepi commented on #22
[code]

https://github.com/prestosql/presto/pull/97

[2019-01-29 12:48] #44 closed

[2019-01-29 14:07] sopel39 commented on #39
PR: https://github.com/prestosql/presto/pull/99

[2019-01-29 15:43] sopel39 opened #101 "PrestoS3FileSystem#rename does not preserve SSE properties"
Extracted from: https://github.com/prestodb/presto/issues/9916

`PrestoS3FileSystem#rename` should preserve SSE properties while copying files. Problematic line is: `PrestoS3FileSystem.java:407: s3.copyObject`. According to S3 Javadoc:
[code]

On the other hand, maybe `PrestoS3FileSystem#rename` should throw `UnsupportedOperationException`? It seems that it shouldn't be used at all because for S3

[2019-01-29 16:06] sopel39 opened #103 "PrestoS3FileSystem breaks read-after-write strict S3 consistency"
Method: `com.facebook.presto.hive.s3.PrestoS3FileSystem#create`
will check for file existence when `overwrite==false`. File existence check will break read-after-write strict S3 consistency per S3 doc:
[code]

The existence check itself is weak as the file might be created while data is gathered in staging directory for upload.

I propose to remove the check of use `LIST` S3 request instead that d

[2019-01-29 16:22] electrum opened #104 "Cannot create empty Hive partition for non-bucketed table"
The `system.create_empty_partition` procedure fails because the source directory does not exist (no files were written) and thus the rename fails. `SemiTransactionalHiveMetastore.Committer#prepareAddPartition` should probably unconditionally create `currentPath` before checking if it is equal to `targetPath`.

[2019-01-29 19:41] #39 closed

[2019-01-30 10:12] sopel39 commented on #49
We could also make it more type friendly, e.g:
[code]
Then usage is:
[code]

[2019-01-30 18:14] findepi commented on #104
related @wenleix's comment: https://github.com/prestosql/presto/pull/99#issuecomment-459013716

[2019-01-30 23:32] electrum commented on #22
[code]

[2019-01-31 05:35] zhangxin0112 opened #116 "does presto have any plan about support implicit conversion (from number to varchar )"
May be all the Hive users want this features . It take huge cost changes for rewrite Hive scripts. Hive‘s market is so huge(ETL). Why not consider fully supporting Hive? This is more conducive to the development of Presto. Presto can increase the indication that opening this feature will reduce performance.

Some ln: https://github.com/prestodb/presto/issues/10888

[2019-01-31 08:59] kokosing commented on #22
[code]
https://github.com/prestosql/presto/pull/67

[2019-01-31 09:04] kokosing commented on #22
[code]
https://github.com/prestosql/presto/pull/70

[2019-01-31 09:05] kokosing commented on #22
[code]

https://github.com/prestosql/presto/pull/73

[2019-01-31 09:06] kokosing commented on #22
[code]
https://github.com/prestosql/presto/pull/72

[2019-01-31 09:08] kokosing commented on #22
[code]
https://github.com/prestosql/presto/pull/71

[2019-01-31 09:35] findepi commented on #22
@kokosing #71, #72, #73 -- these are not user-facing changes. I think we usually do not list such changes in RNs. Should we?

[2019-01-31 09:39] sopel39 commented on #116
I don't think implicit `number -> string` cast is part of SQL standard:
[code]

Maybe we could have a compatibility toggle for such feature? @martint ?

[2019-01-31 09:43] kokosing commented on #22
[code]

It depends. If user implemented his own Base-JDBC based connector (which happens) then it could be user facing One can see Base-JDBC in the same way as SPI. I also have a mixed feelings about it, but came to conclusion that it is better to say too much here.

[2019-01-31 10:30] sopel39 commented on #22
[code]

[2019-01-31 18:46] #104 closed

[2019-01-31 21:21] #22 closed

[2019-01-31 21:55] findepi opened #123 ""Mismatched Domain types: smallint vs integer" error in Parquet predicate pushdown"
[code]

[code]

[2019-01-31 23:15] electrum opened #125 "Release notes for 302"
## Dain Sundstrom
- [x] all checked
-  01-31 15:18:24    10546eaa02 Reformat ParquetTester
-  01-31 15:18:24    bf01fcdc5e Add dynamic batch sizing in Parquet reader
-  01-31 15:27:30    99bd6ba914 Rename Context method to match field names
-  01-31 15:27:30    bacf59f6c5 Add physical* and network* metrics
-  01-31 15:27:30    e81eefea8f Remove unused methods
-  01-31 16:30:15    1fad470151 Disabl

[2019-02-01 11:28] findepi opened #130 "EXPLAIN CREATE TABLE AS SELECT creates a table, should be side-effect free"
[code]

`EXPLAIN` renders query plan without actually running the query, so `EXPLAIN CREATE TABLE ... AS SELECT ...` should do just that.
Currently, it creates the table (but does't populate it).

Ref https://github.com/prestodb/presto/issues/9896

[2019-02-01 15:18] findepi commented on #125
[code]
https://github.com/prestosql/presto/pull/120

[2019-02-01 16:25] findepi opened #132 "Support writing ZSTD compressed ORC data"
Presto supports reading ZSTD ORC data.

* support writing ZSTD ORC
* allow configuring ZSTD as default compression codec (`hive.compression-codec`)

[2019-02-01 19:12] findepi opened #135 "Provide AT ZONE-equivalent functions where zone name is not constant"
~make `at_timezone` it public (see @dain 's https://github.com/prestodb/presto/issues/5162#issuecomment-434127569) and add documentation~

This is required to perform AT TIME ZONE conversion when zone is not a constant

See https://github.com/prestosql/presto/issues/135#issuecomment-466559709 comment below for what should be implemented in this issue.

Ref https://github.com/prestodb/presto/issues

[2019-02-01 20:09] anirbanch opened #136 "Presto throws error when there is datatype mis-match between parquet schema and hive metastore"
test

[2019-02-01 20:14] anirbanch opened #137 "Query fails when there is column type mismatch between partition schema and table schema"
Presto is failing to read the parquet partitions if the decimal datatype don't match with what is in the hive metastore. Here is the error:

[code]

Here are the steps to reproduce this issue -
1. Create partitioned table  -

[code]

2.Insert data into this table, create few partitions -

[code]

3.Access the table from Presto to ensure it works -

[code]

4.alter the table, change the data type -

[2019-02-01 21:51] dickson-conde opened #139 "IS DISTINCT FROM bug with ObjectIdFunctions"
This is a copy of the issue from the original prestodb repo: https://github.com/prestodb/presto/issues/11869

I'm getting the error:

`com.facebook.presto.metadata.OperatorNotFoundException: 'IS DISTINCT FROM' cannot be applied to ObjectId, ObjectId`

when trying to select from a view that pulls data from a MongoDB connector despite 'IS DISTINCT FROM' not being used in the view. I'm assuming there

[2019-02-01 22:57] findepi commented on #136
replaced with https://github.com/prestosql/presto/issues/137

[2019-02-01 22:57] #136 closed

[2019-02-02 06:44] zhangxin0112 commented on #116
Ye. Good idea. It is good for both.

[2019-02-02 15:56] martint commented on #135
We should pick a proper name for these functions. I don’t think it be just named at_timezone. What these functions do is convert an unzoned time or timestamp to a zoned one. We have other places in the function library where we do conversions, so we should try to stay consistent.

[2019-02-02 16:33] findepi commented on #135
Also, `at_timezone` is not public but is accessible and I know some people are using it.
When we introduce new functions, we should keep `at_timezone` name around for a while (behind a compatibility switch, might even be initially disabled by default).

[2019-02-02 19:34] dain commented on #135
There are a bunch of references to this function in stackoverflow, so at the very least we would need to deprecate the old name.

[2019-02-03 09:50] ebyhr opened #147 "Add support for Cassandra UDT"
Ref https://github.com/prestodb/presto/issues/6047

[2019-02-04 08:13] findepi commented on #135
@ebyhr thanks for listing these. Do you know which of these databases have standards-compliant `timestamp with time zone` data type?

[2019-02-04 14:03] kokosing commented on #125
[code]
https://github.com/prestosql/presto/pull/118

[2019-02-04 17:16] findepi commented on #125
[code]
https://github.com/prestosql/presto/pull/146  https://github.com/prestosql/presto/pull/153

[2019-02-04 19:50] martint commented on #125
[code]

#80

[2019-02-04 22:45] #56 closed

[2019-02-04 22:46] dain commented on #125
[code]
#56

[2019-02-04 22:52] dain commented on #135
@martint do you have thoughts on the above function names from other systems?

[2019-02-05 00:47] martint commented on #125
[code]

#82

[2019-02-05 01:40] dain commented on #125
[code]
#155

[2019-02-05 15:32] martint commented on #125
[code]

#157

[2019-02-05 15:45] #123 closed

[2019-02-05 21:57] krakov commented on #38
I can share a bit about the testing environment we do to test our connector (at Varada), focusing on things that have a potential to be used standalone.

But first, to your point @martint I see two ways to go IMHO:
 1) Identify testing code that organizations can adapt / release under Apache license to Presto, and add that to a regression that runs nightly / pre-release, moving the maintenance to

[2019-02-05 22:02] krakov commented on #38
There are some of things we do in QA that might have a potential to be released in one way or another to run as part of Presto (ignoring for now how much effort each would take).

Interesting to hear your takes what would be useful?

1. *TPC-DS* data at scales 10, 1000 (1TB) and 10000 (10TB) in Parquets on S3, and will add more scale as we go. Compatible with the presto-benchto TPC-DS queries. We

[2019-02-06 00:22] dain commented on #125
[code]

[2019-02-06 01:10] electrum commented on #125
[code]

[2019-02-06 08:15] kokosing commented on #125
[code]

https://github.com/prestosql/presto/pull/75

[2019-02-06 10:03] kokosing opened #170 "Should information_schema.columns.COMMENT be renamed to COLUMN_COMMENT?"
Mysql `information_schema.columns` table exposes `column_comment` column, while Presto exposes `comment` column, see https://dev.mysql.com/doc/refman/5.7/en/columns-table.html

I couldn't find this column in ANSI SQL, nor in Oracle, Teradata, MSSQL.

It looks like Hue depends on this column: https://github.com/cloudera/hue/blob/master/desktop/libs/notebook/src/notebook/connectors/jdbc.py#L213

Thi

[2019-02-06 10:05] kokosing commented on #170
To me it looks like a bug in Hue.

[2019-02-06 11:39] rzeyde-varada opened #172 "Adding a short-term solution for pushing down partial aggregation into the connector"
Greetings,

Following #18, we have created a simple partial aggregation push-down prototype, by a creating a new PlanOptimizer. It was added at the end of the optimizers' list ([here](https://github.com/prestosql/presto/blob/7567baf65ee3d9356d6371b7112b04bf23a75b62/presto-main/src/main/java/io/prestosql/sql/planner/PlanOptimizers.java#L511)), matching the partial AggregationNode - and passing down

[2019-02-06 13:48] sopel39 commented on #103
This seems to be related to: https://github.com/prestodb/presto/issues/11587
as record parquet writer will create files with `override=false` mode.

[2019-02-06 17:27] dain commented on #125
[code]

[2019-02-06 19:16] electrum opened #174 "Add Hive procedure to recover (discover) partitions"
This would provide the same functionality as Hive's [MSCK REPAIR TABLE](https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL#LanguageManualDDL-RecoverPartitions(MSCKREPAIRTABLE)).

[2019-02-06 20:36] electrum commented on #125
[code]

[2019-02-06 22:29] sopel39 commented on #125
[code]

[2019-02-07 01:08] pgagnon commented on #18
related to:
https://github.com/prestodb/presto/issues/11777
https://github.com/prestodb/presto/issues/4839

[2019-02-07 04:34] electrum opened #181 "Release notes for 303"
## Dain Sundstrom
- [x] all checked
-  02-07 07:54:54    cd45f35ef4 Support grouped execution for window function
## David Phillips
- [x] all checked
-  02-06 21:25:05    a5a132f475 Improve tests for reserved word identifiers
-  02-07 15:16:28    08b092cea9 Move stat and estimate rendering to TextRenderer
-  02-07 15:16:28    118bdadceb Change PlanNodeStats from a union class to hierarchy
-  02-07

[2019-02-07 04:35] #125 closed

[2019-02-07 11:22] pgagnon commented on #172
@rzeyde-varada I think it would be best to either submit a short design proposal or a WIP PR to gather some comments.

[2019-02-08 00:26] luohao opened #189 "Unit test for end-to-end delivery of extra credentials"
Need to add unit tests to verify the end-to-end delivery of extra credentials (from client to connector) in case there are future changes that break the path (e.g., changes to `Session`, `Identity`, `ConnectorIdentity` or `TaskUpdateRequest`).

[2019-02-08 00:45] electrum commented on #189
I was thinking we could add a test-only system table that would return the credentials as an easy way to test this.

[2019-02-08 01:36] luohao commented on #189
I am working on a `TestHiveExtraCredential` that creates a `DistributedQueryRunner` with a special `DynamicConfigurationProvider` that verifies the extra credential in `hdfsContext.connectoIdentity.extraCredentials`. `DistributedQueryRunner::execute` takes a `Session` object with the credentials in `Identity` and sends it to the testing Presto cluster. This makes sure the credentials are delivered

[2019-02-08 07:33] hustnn commented on #44
Will the role management be integrated with ranger or not?

[2019-02-08 08:13] kokosing commented on #44
Ranger itself does not support roles, see https://docs.hortonworks.com/HDPDocuments/HDP2/HDP-2.6.5/bk_security/content/about_ranger_policies.html. Instead it provides:
 - policies which are using hierarchical pattern with wildcards to match resources
 - users and groups (where groups are defined in ANSI SQL)
 - different set of action that is defined in ANSI SQL

It does not look straithforward ho

[2019-02-08 08:18] kokosing commented on #181
[code]

https://github.com/prestosql/presto/pull/89

[2019-02-08 08:28] findepi commented on #37
Added

- [ ] Add product-test environments with Hive 3.1 (or better)

[2019-02-08 08:31] findepi opened #190 "Create product-test environments with Hive 3.1"

[2019-02-08 08:33] findepi opened #191 "Remove support for political time zones from TIME WITH TIME ZONE"
`TIME WITH TIME ZONE` can express such (probably) useful things like `02:23:00+02:00` (= pair of 23 minutes past 2am, offset +2h).
However, it can also represent such things like `02:23:00 Europe/Warsaw`, which sounds like a cool feature at first, but its semantics are problematic -- you can't reliably convert this to TIME in any zone (like UTC), since a named zone doesn't need to have fixed zone

[2019-02-08 08:56] findepi commented on #135
@martint what about `at_timezone_keep_local` or `at_timezone_same_local`  for 3.?

[2019-02-08 20:09] dain commented on #181
[code]

[2019-02-08 22:04] martint commented on #18
I've started collecting my thoughts on how I think we should approach this in this documents: https://github.com/prestosql/presto/wiki/Pushdown-of-complex-operations. It's still incomplete and lacking many details, but the overall direction shouldn't have to change much.

[2019-02-09 00:16] electrum commented on #181
[code]

[2019-02-09 02:11] luohao commented on #189
Explored both ways of verifying `extraCredentials` at connector level:
- verify extra credentials in `HdfsContext` (99f112c7e12f00cd8fc3f1dcfdfdc01fbe37b00d): need fair amount of changes to `HivePlugin` and `HiveConnectorFactory`, and it looks nasty which I don't like.
- verify extra credentials through a testing `SystemTable`(#199): it looks cleaner and more elegant. But it does not cover code in

[2019-02-09 19:52] findepi commented on #181
[code]

https://github.com/prestosql/presto/pull/195

[2019-02-09 19:55] findepi commented on #181
[code]
https://github.com/prestosql/presto/pull/109

[2019-02-10 03:46] luohao commented on #174
Is there anyone working on `msck` feature? If not, I can take it.

[2019-02-10 04:39] martint commented on #174
No one is. Go for it!

[2019-02-10 06:40] lhofhansl opened #201 "Querying a new parquet table fails with "A group type can not be empty. Parquet does not support empty group without leaves. Empty group: hive_schema""
This started to happen fairly recently... Presto-302. (When I get time I will double check with 301 and 300)

Transcript:
[code]

hive.properties:
[code]

Same happens when I run hive metastore, with:
[code]

[2019-02-10 06:49] lhofhansl commented on #201
I can read the very same Parquet file with Spark, so it must be related to the Presto Parquet reader.

[2019-02-10 18:39] lhofhansl commented on #201
Confirmed that this is not a problem Presto-300

[2019-02-10 19:08] dain commented on #201
@lhofhansl can you run the CLI with the `--debug` option, and add the stack trace to the description of this issue?

[2019-02-10 19:12] dain commented on #201
Actually, looks like it is an issue with Parquet version used in Presto. https://stackoverflow.com/a/48048311/2958751

[2019-02-11 02:43] lhofhansl commented on #201
Here's the full exception. (My apologies for not attaching that in the beginning.)

[code]

[2019-02-11 02:52] lhofhansl commented on #201
I think that would not explain why it worked in Presto-300.
I looked (very) superficially through the commits between 300 and 301. These seem suspicious at least:
db316f1777cb3ba7657127e31568b18e4b3e9ee3
f800115d0111822e9e290ae968986b4e73085f25

(I won't have time in the next few days to do a bisect)

[2019-02-11 04:32] electrum commented on #201
This problem occurs when a query reads from Parquet but does not select any columns (only positions), so it happens for a query like `SELECT count(*) FROM t`.

It is fixed by #203. I was able to write a simple unit test for it. Thank you for providing clear instructions on reproducing it.

[2019-02-11 09:53] rzeyde-varada commented on #172
@pgagnon Thanks!
The design for [Pushdown of complex operations](https://github.com/prestosql/presto/wiki/Pushdown-of-complex-operations) answers most of our questions, so I'll close this issue for now.

[2019-02-11 09:53] #172 closed

[2019-02-11 11:17] findepi commented on #181
[code]

https://github.com/prestosql/presto/pull/160 (RN wording copied over from https://github.com/prestodb/presto/issues/12257#issuecomment-460875369)

[2019-02-11 12:28] shlomialfasi opened #208 "NodePartitioningManager doesn't provide a valid ConnectorSession"
the ConnectorSession which provided to getBucketToNode is not generated with connectorId therefore it is missing the connector specific properties that was attached to the original session

[2019-02-11 19:27] lhofhansl commented on #201
So in the end this is cause by 238f4b6bb1ac98130cff7bee88d5e622e5a2808f?

[2019-02-12 02:13] #201 closed

[2019-02-12 14:23] sopel39 commented on #181
[code]

[2019-02-12 20:31] martint commented on #181
[code]

[2019-02-12 21:36] findepi opened #218 "Regenerate tpch and tpcds stats with Presto"
See

https://github.com/prestosql/presto/blob/80a21808d0f3937c155a1c3d618d2a6ec43db8e2/presto-tpch/src/main/resources/tpch/statistics/sf3000.0/README.txt#L1-L2

https://github.com/prestosql/presto/blob/80a21808d0f3937c155a1c3d618d2a6ec43db8e2/presto-tpcds/src/main/resources/tpcds/statistics/sf3000/README.txt#L1-L2

we should regenerate the stats using `ANALYZE` in Presto.

Ref https://github.com/p

[2019-02-12 21:37] findepi opened #219 "Add stats to tpch, tpcds for other scale factors"
tpch (and sometimes tpcds) are used to try out CBO.
however, both provide stats for some scale factors only (currently: sf0.01, sf1, sf3000 in both cases).

- [ ] provide stats for more scale factors that are likely to be used, eg sf10, sf100
- [ ] produce a user-visible warning (ie via `WarningCollector`) when a schema without stats is used

Ref https://github.com/prestodb/presto/issues/12163

[2019-02-12 21:39] #139 closed

[2019-02-12 21:40] findepi commented on #181
[code]

https://github.com/prestosql/presto/pull/215

[2019-02-13 00:45] electrum commented on #139
Thanks for reporting. This will be fixed in the upcoming `203` release.

[2019-02-13 00:46] electrum commented on #139
Thanks for reporting. This will be fixed in the upcoming `303` release.

[2019-02-13 03:11] wyukawa opened #224 "Presto CLI throws error when new CLI connects to old presto server"
Invalid JSON error occured when presto CLI 302 connects to presto 0.197

[code]

maybe same as https://github.com/prestodb/presto/issues/11216

In our use case, we need to access various kinds of presto including old version presto with https://github.com/yanagishima/yanagishima which uses presto-client
So, if new presto client supports old presto server, it would be great.

[2019-02-13 04:34] Praveen2112 commented on #208
Can I take up this issue ? Or has anyone started working on it ?

[2019-02-13 05:16] electrum commented on #224
Within reason, clients and servers should be compatible in both directions. We do need better testing in this area. This might be the same as the linked issue but I'll need to dig into it.

Note that `presto-client` is an internal library used by the CLI and JDBC driver. It's not intended or developed as a public interface. The API is not very good and it's hard to use correctly. I've been moving

[2019-02-13 08:44] findepi commented on #224
@electrum can it have anything do to with the fact that `JsonProperty` name is different between versions?

https://github.com/prestosql/presto/blob/0.197/presto-spi/src/main/java/com/facebook/presto/spi/type/NamedTypeSignature.java#L30
`@JsonProperty("name") String name`

https://github.com/prestosql/presto/blob/302/presto-client/src/main/java/io/prestosql/client/NamedClientTypeSignature.java#L32

[2019-02-13 10:42] ilfrin commented on #181
* Change Presto Server ``starting`` state flag (``/v1/info#starting``) from ``true`` to ``false`` at the end of server startup, after all plugins have been registered. Just before printing "SERVER STARTED".

https://github.com/prestosql/presto/pull/213

[2019-02-13 18:29] martint commented on #181
@sopel39, @electrum, can you add issue references to your items?

[2019-02-13 20:13] sopel39 commented on #181
@martint done

[2019-02-13 20:31] findepi commented on #181
@martint @dain @electrum  FYI i find useful to include GH #xxx links in release notes comments.
While ``(:issue:`xxx`)`` is useful for the person reading RNs, GH #xxx links are useful for a person reading PR page.
It so useful when the PR page contains information in which release the change was shipped, and #xxx links provide for that.

[2019-02-13 20:57] martint commented on #181
We could use milestones for that. The links only apply to items that are documented in the release notes, but milestones could be assigned to every PR that's merged, regardless of whether it's in the RN.

[2019-02-14 00:12] electrum commented on #181
[code]

[2019-02-14 00:13] dain commented on #181
@findepi I have been adding `(:issue:`xxx`)` because I pulled together the last few release notes and it was annoying to have to add them manually to the text.

[2019-02-14 00:14] dain commented on #181
[code]
#169

[2019-02-14 00:40] electrum commented on #103
Since this only affects Parquet, and we know that our file names are unique, we might be able to fix this for Parquet by changing the flag when opening the file. Or perhaps we could change the S3 FS to ignore the exists check (since it is only for Presto and is not a general purpose FS).

[2019-02-14 08:38] electrum opened #235 "Release notes for 304"
## Dain Sundstrom
- [x] all checked
-  02-21 12:42:06    012af8c113 Disallow bucket filter for bucket evolution
-  02-22 08:29:43    0c1d2fd4a9 Short circuit block creation for null data streams in orc
-  02-22 08:29:43    efd2394045 Add benchmark for reading a null data stream
## David Phillips
- [ ] all checked
-  02-14 13:16:41    1036831bd0 Add test to verify extra credential delivery to Conne

[2019-02-14 08:38] #181 closed

[2019-02-14 19:03] #208 closed

[2019-02-14 21:16] #189 closed

[2019-02-15 04:08] martint opened #239 "Airlift "admin" http listener should be disabled"
Presto starts up with the Airlift "admin" http listener enabled and listening on a random port. Since the admin listener is not used, we should make Presto disable it by default.

[2019-02-15 18:41] #103 closed

[2019-02-15 22:57] electrum commented on #235
[code]

[2019-02-17 22:08] martint commented on #235
[code]

[2019-02-18 03:17] MichaelZhao9824 opened #253 "Metabase not recognise presto view name"
Hi guys,

We are using metabase to connect to Presto but encounter an issue which not recognise view name
There is an issue on -  https://github.com/prestodb/presto/issues/9173 but not fixed.

I am wondering you guys could help on this. Currently we fixed the issue manually built from scratch which is not convenient to upgrade. Thanks.

[2019-02-18 04:01] electrum commented on #253
I believe this is fixed by the recently merged https://github.com/prestosql/presto/pull/250

Can you see if that resolves your issue? It will be in the 304 release.

[2019-02-18 04:04] MichaelZhao9824 commented on #253
@electrum Thanks a lot. that would be handy.

[2019-02-18 06:04] electrum commented on #235
[code]

[2019-02-18 11:12] sopel39 opened #255 "Builds sometimes fail with Could not resolve dependencies for project"
Example log:
[code]

This could be related to: https://jira.apache.org/jira/browse/MDEP-518

It is suggested there that Takari's builder fixes the issue. I've seen that we had Takari as Maven extension once, but was removed via: ﻿﻿﻿﻿https://github.com/prestosql/presto/commit/33e41f3b7ed2c2129103d74c33943d8cf4114788

FYI @electrum

[2019-02-19 10:04] VicoWu opened #261 "Make hive metastore configurable didn't work actually for TException was converted to PrestoException"
@findepi @electrum
I have made ThriftHiveMetastore retry policy configurable in my pr(https://github.com/prestosql/presto/pull/240)
I use `iptables` to simulate the timeout successfully; But I find that whatever I setup the retry attempts, `RetryDriver` didn't retry;
Finally, from the source code, I got the root cause:
When timeout of `getAllTables()` happened, the `TException` happened(In fact it

[2019-02-19 10:25] kokosing commented on #261
Nice tests.

[code]
To me it is incorrect.

[2019-02-19 14:05] electrum commented on #261
The exception conversion happens outside of the retry driver call.

[2019-02-19 19:25] #239 closed

[2019-02-20 02:37] VicoWu commented on #261
Sorry electrum. In fact the exception conversion from `TException` to `PrestoException` happened in `StaticHiveCluster.createMetastoreClient()` and this has caused `RetryDriver` didn't retry although we have setup the maxRetryAttemps.

[2019-02-20 02:40] VicoWu commented on #261
Sorry @kokosing  , I pasted a wrong code slices and have corrected it in my description. In fact the exception conversion from `TException` to `PrestoException` happened in `StaticHiveCluster.createMetastoreClient()` and this has caused `RetryDriver` didn't retry although we have setup the maxRetryAttemps.

My question remains the same, is it necessary to do this conversion, or , did I lose some b

[2019-02-20 03:03] electrum commented on #261
Ah, that make sense now. I think you are looking at an older version of the code, because the current code throws TException to allow for retry.

[2019-02-20 08:57] VicoWu commented on #261
@electrum  Oh yes....I am based on my company presto which is based on presto 0.212.
After I cherry-pick the corresponding PR(07aa4558ae1917d1b14acf8a5dfd16f6ca690ddd), the retry behavior is working just as expected definitely!
 Let me close this issue;

[2019-02-20 08:57] #261 closed

[2019-02-20 20:55] luohao commented on #255
Would this cause missing dependencies in the final package?

I have seen intermittent `ClassNotFoundException` in travis-ci test, but couldn't find the root cause.

[2019-02-20 20:58] kokosing commented on #255
No. It breaks the build.

[2019-02-20 21:01] dain commented on #62
The JMX utils should really report an error if the binding is not finalized, but that is an issue for that project.

[2019-02-20 21:01] #62 closed

[2019-02-20 21:03] #116 closed

[2019-02-20 21:05] dain commented on #253
If this is still an issue, please reopen.

[2019-02-20 21:05] #253 closed

[2019-02-20 21:42] findepi opened #274 "Continuous Integration testing of AWS-related functionalities"
The following Presto functions should be covered with continuous testing:

* [x] S3 regular reads and writes (https://github.com/prestosql/presto/pull/2371)
   - scripting support already available in https://github.com/prestosql/presto/blob/6c4a28dab8608bbf285e8d2bca57fb3ba690798f/.travis.yml#L178-L183
   - there needs to be some S3 bucket dedicated for testing, and access key pair provided as se

[2019-02-21 01:09] martint commented on #135
I'd say, let's leave that one out. It seems an uncommon use case with a reasonable workaround. If there's demand later, we can consider adding such a function.

[2019-02-21 01:30] martint opened #275 "Support remote exchanges in LocalQueryRunner"
We currently have two mechanisms for running queries in unit tests: `LocalQueryRunner` and `DistributedQueryRunner`. `LocalQueryRunner` is faster to set up as it doesn't involve running a full server & exchange clients, but can only execute queries with a single fragment. The downside is that it's not suitable for testing behaviors that only manifest when the optimizer inserts remote exchanges int

[2019-02-21 01:47] martint commented on #275
These are examples of queries that only fails when remote exchanges are involved, so it's not possible to test them with `LocalQueryRunner` (and therefore, in the style of `io.prestosql.sql.query.TestXXX`)

[2019-02-21 01:50] ebyhr opened #276 "Add function to get the last day of the month"
Ref: https://github.com/prestodb/presto/issues/8477
The old issue is labeled `syntax-needs-review`.

[2019-02-21 08:56] findepi commented on #275
Another unique feature of `LocalQueryRunner` is that it's single-threaded. Are you going to change this too?

(This has obvious downsides but also has an upside -- if you make one of the Join operators block on the other during execution, the `LocalQueryRunner` will (rightfully) deadlock.)

[2019-02-21 09:32] findepi opened #278 "Auto-discover Cassandra protocol version"
Currently `io.prestosql.plugin.cassandra.CassandraClientConfig#protocolVersion` defaults to V3.
We should automatically select protocol version based on the Cassandra server we're connecting to.

[2019-02-21 11:12] sopel39 commented on #235
[code]

[2019-02-21 12:39] sopel39 opened #279 "Timeline UI page is broken"
Timeline.html file explicitly has:

[code]

but it was removed in [e2aa9e1](https://github.com/prestodb/presto/commit/e2aa9e139ea48430ad5446fcff786b7979aa8638)

Therefore splits UI page no longer works

[2019-02-21 12:50] MichaelZhao9824 opened #280 "Presto 303 not respect uppercase username in hive metastore"
Presto 303 not respect uppercase username in hive metastore (Hive 2.3.4) which lost permissions to access tables (SQLstandard)

but it is working with 0.214.

[2019-02-21 13:49] kokosing opened #284 "Add web ui automated test coverage"
The idea is to catch things like https://github.com/prestosql/presto/issues/279 as soon possible.

See https://github.com/prestosql/presto/pull/283#pullrequestreview-206307804 and https://github.com/prestosql/presto/pull/283#issuecomment-466003811

We could modify WEB_UI tests to start up an Presto server, run some basic queries then open web ui and click over it to see if there are no javascript

[2019-02-21 15:25] sopel39 commented on #284
We could also check that some query stats are properly aggregated in UI (compared to query stats JSON).

[2019-02-21 17:49] dain commented on #275
I don't think we should change that.  The distributed tests are there to catch those kinds of issues.  BTW, the local query runner "works around" the deadlock problem by just ignoring all of the blocked signals.

[2019-02-21 18:38] martint commented on #135
`at_timezone` makes a lot of sense for 2. I'm concerned about using the same name for 1 given that it would introduce an overload with variants that have completely different semantics. Specifically, what happens if there's a type with an implicit cast to both `TIMESTAMP` and `TIMESTAMP WITH TIME ZONE`? For instance, what would `at_timezone(DATE '2019-01-01', 'PST')` produce if the session timezon

[2019-02-21 19:13] electrum commented on #280
This might be related to the change add SQL role support. I can’t think of any other changes in this area.

[2019-02-21 19:53] findepi commented on #135
i am fine with `from_timestamp(timestamp, timezone)`.  Note however the signature will be `from_timestamp(timestamp, varchar)` -- can you think of any other meaning or conversion we could want to name "from_timestamp" that would take varchar as the second parameter? (if you can think of any, `with_timezone` might be a safer choice)

[2019-02-21 21:25] sopel39 commented on #235
[code]

[2019-02-21 21:33] dain commented on #235
[code]
#286

[2019-02-22 01:10] MichaelZhao9824 commented on #280
Could be. I believe you guys have done a few refactoring on that part. Could you please have a look? Thanks.
We use quite a few uppercase usernames and block us to upgrade to latest version.

it seems that it cannot get role info based on uppercase username because we set up permissions based on role

[2019-02-22 11:17] kokosing commented on #280
Let me try to reproduce it and cover with that case with a test.

[2019-02-22 11:52] sopel39 commented on #280
@MichaelZhao9824
1. What is the output of `SHOW ROLE GRANTS/SHOW ROLES/SHOW CURRENT ROLES`
2. Is this and admin user in question?

[2019-02-22 11:58] kokosing commented on #280
@MichaelZhao9824 Please see https://github.com/prestosql/presto/pull/289, and could you please tell me what I am missing there because test is passing.

[2019-02-22 12:18] MichaelZhao9824 commented on #280
it is not a admin user.

hive> SHOW ROLE GRANT user SVC_XXX;
OK
public	false	0
xxx_role	true	1549247879000	root
Time taken: 0.019 seconds, Fetched: 2 row(s)

The role is shared by over 50 users. Any user with lowercase user name gets permissions granted to the role. But the uppercase one does not get any permissions.

I set up roles and permissions from Hive not by Presto.

[2019-02-22 12:42] kokosing commented on #280
@MichaelZhao9824 Would you mind to test if https://github.com/prestosql/presto/pull/289 fixes your issue?

[2019-02-22 12:43] kokosing commented on #280
I noticed that user (role) name that was passed to Hive was lower cased in Presto. Because of that test was passing.

[2019-02-22 18:38] martint commented on #235
[code]

#288

[2019-02-22 19:37] martint commented on #135
Yeah, `from_timestamp` is kind of generic. It doesn't convey what it's doing. A name that indicates `to_XXX` or `with_XXX` is more obvious. Ok, so `with_timezone`, then?

[2019-02-22 20:11] tooptoop4 commented on #44
gentle ping

[2019-02-22 20:46] martint commented on #44
@tooptoop4, this feature is already available since release 300.

[2019-02-22 21:31] tooptoop4 commented on #44
what is difference between prestosql and prestodb repos?

[2019-02-22 21:48] findepi commented on #135
Summing up:

- `with_timezone` for (1)
- `at_timezone` for (2)
- currently no function for (3)

[2019-02-23 09:16] atris opened #301 "Window and ORDER BY Spill To Disk"
Howdy!

Glad to see this effort. I wanted to check if we ported over the PRs myself and @sopel39 had worked on in the original repository for adding spill to disk for window aggregates and ORDER BY operator. Did those get committed yet?

[2019-02-23 09:58] Praveen2112 commented on #301
Hi,
I think it got committed (https://github.com/prestosql/presto/pull/228).

[2019-02-23 10:03] atris commented on #301
Thanks.

Seeing the commits, I do not see the original PRs that I had raised, nor do the commits reflect anything about my co-authorship (
https://github.com/prestosql/presto/commit/d398d1c374a8d56e21a95ea3b6b84a4a5ff98268) and (
https://github.com/prestosql/presto/commit/24868b3481a974f3e068197d9c432788de9ddacb).

Was this intentional?

[2019-02-23 10:04] atris commented on #301
cc: @sopel39 @findepi @mattsfuller

[2019-02-23 20:48] sopel39 commented on #279
Fixed by #283

[2019-02-23 20:48] #279 closed

[2019-02-23 23:16] dain commented on #301
Looking at the commits in two PRs, https://github.com/prestosql/presto/pull/228/commits and https://github.com/prestodb/presto/pull/11364/commits, I see your name attached to various commits in the both PRs, but unfortunately, it does look like we lost the author tag on one of the commits.

In the old PR, there are two commits with your name attached. The first one, https://github.com/prestodb/pre

[2019-02-23 23:16] #301 closed

[2019-02-24 04:32] atris commented on #301
Hi Dain,

Thanks for your reply.

I would like to mention two additional points here:

1) The commit which does not have my name is the actual main commit which introduces the real spill to disk functionality. It is very unfortunate that the feature on which I spent a couple of weeks was committed with no acknowledgement of my work in any form.

2) My name was omitted from not one, but two commits

[2019-02-24 04:37] atris opened #302 "Unfair Behavior in PrestoSQL Community"
RE: https://github.com/prestosql/presto/issues/301

I had spent quite some time working on spill to disk for order by and spill to disk for window aggregates (both the PRs can be found in the issue mentioned above) but the commits that pushed those functionalities in PrestoSQL do not even mention my name, let alone associate my Github handle with the same.

This is a clear case of discrediting an

[2019-02-24 04:40] atris commented on #302
Also, please do not close this issue before we reach a resolution. Forcefully closing issues without giving a proper resolution is just another manifestation of high-handedness and dictatorial policies, which hopefully is not true with this community

[2019-02-24 07:35] electrum commented on #235
[code]
#296

[2019-02-24 08:37] electrum commented on #235
[code]

[2019-02-24 16:05] findepi opened #304 "Repartition writes across nodes when loading data into partitioned table"
Currently, when Presto INSERTs or CREATE TABLE AS a partitioned table, each node can write to all partitions.
This is good when number of partitions is reasonable, but doesn't play well when loading data into large number of partitions.
Typically, such query will fail with "Too many open files". After bumping file limits, one can run into other issues (too many threads, out of memory, etc.)

We sh

[2019-02-24 16:08] findepi commented on #255
i wonder why this doesn't happen on travis (does it?)
internally, this was quite frequent until we restored some maven config change (i think it was 33e41f3b7ed2c2129103d74c33943d8cf4114788, not sure of it)

[2019-02-24 16:28] electrum commented on #304
Repartitioning is not safer. If there is only one or a few partitions, the query will be many times slower. At FB, we never implemented this mode because we worried users would blindly set it, causing their queries would run for hours and never finish. Writing a single partition was the common case.

Either mode will be completely wrong for certain types of queries. It definitely needs to be a ses

[2019-02-24 23:28] MichaelZhao9824 commented on #280
Thanks. will it be included in version 304?

[2019-02-25 01:05] electrum commented on #235
[code]
#305

[2019-02-25 08:13] findepi commented on #135
@martint thanks. Looks like we reached conclusion.

@ebyhr you already started doing something around this in https://github.com/prestosql/presto/pull/143.
However, this now became a bit bigger change to be done.
Are you interested in working on this?

[2019-02-25 08:22] DBZshahin commented on #136
Is this issue been resolved  ??
We are still facing issues with the  **Mismatched Domain types: smallint vs integer** when trying to compare a smallint type with integer

[2019-02-25 08:24] findepi commented on #235
[code]
https://github.com/prestosql/presto/pull/252

[2019-02-25 08:36] findepi commented on #136
@DBZshahin which Presto version are you using?

[2019-02-25 09:43] kokosing commented on #280
I think so.

[2019-02-25 12:41] kokosing opened #313 "Record if authorization identifier is delimited or not"
This issue comes from discussion: https://github.com/prestosql/presto/pull/289#discussion_r259519471

This class refers to `PrestoPrincipal`.

[2019-02-25 12:53] DBZshahin commented on #136
@findepi  it is Presto on AWS EMR, version 0.214

[2019-02-25 14:02] findepi commented on #136
@DBZshahin the error you're quoting

is fixed in Presto 302. See https://prestosql.io/docs/current/release/release-302.html

[2019-02-25 14:34] ebyhr commented on #278
fyi: We can get the protocol version using
[code]

[2019-02-25 15:02] alloydwhitlock opened #314 "Source node.id from env.sh if not found in node.properties"
in pull request #267, it was noted that node.id is dynamically generated as part of the RPM configuration file installation. This creates a condition where the node.properties file would be always treated as a modified configuration file, leaving behind .rpmsave files if the RPM is removed or new packages may conflict and create .rpmnew files.

If a check is added to the launcher init script, we c

[2019-02-25 20:43] dain commented on #137
Looks like decimal is entirely missing from the Hive conversion rules: https://github.com/prestosql/presto/blob/master/presto-hive/src/main/java/io/prestosql/plugin/hive/HiveCoercionPolicy.java

[2019-02-25 20:50] findepi commented on #137
@dain or anyone willing to work on it, there is some old PR by @losipiuk solving that (https://github.com/prestodb/presto/pull/9422).
Unfortunately it wasn't merged, but one can draw some inspiration from it.

[2019-02-25 22:52] MichaelZhao9824 commented on #280
@kokosing  thanks a lot, that would be very helpful. One more question, when do you guys plan to release 304?

[2019-02-26 03:24] hustnn commented on #137
Hi @findepi . I am interested in it. Can I take it by referring @losipiuk 's previous work?

[2019-02-26 05:40] #174 closed

[2019-02-26 05:44] electrum commented on #235
[code]
#223

[2019-02-26 07:54] electrum commented on #235
[code]
#306

[2019-02-26 08:52] kokosing commented on #280
Soon. I think it waits only for #289

[2019-02-26 08:54] kokosing commented on #235
[code]
#304

[2019-02-26 08:58] kokosing opened #322 "Add test coverage for Presto RPM"
Having test coverage for RPM will make it much easier to introduce changes to it.

See https://github.com/prestosql/presto/pull/267#pullrequestreview-207462461 and https://github.com/prestosql/presto/pull/267#discussion_r259921583.

[2019-02-26 09:01] electrum opened #323 "Many test failures for TestFullParquetReader"
18 of 76 tests are currently failing, all with the same error:

[code]

Hopefully, this is just a bug in the tests.

We should consider if it's worth moving `presto-parquet` module into a separate Travis job so that the tests can always be enabled. Running `TestFullParquetReader` in single thread took under 8 minutes on my laptop.

[2019-02-26 09:30] electrum commented on #323
It turns out this was broken (by me) with the update to Hive `3.0.0` in 75828cf19e3a5ac5175227a92a29c683813ee1a2 which updated to Parquet `1.9.0`. I verified that the test passes on Parquet `1.6.0` and `1.8.1`.

@zhenxiao any ideas on this?

[2019-02-26 10:27] findepi commented on #137
@hustnn sure, go ahead!

[2019-02-26 10:56] findepi commented on #235
[code]

https://github.com/prestosql/presto/pull/141

[2019-02-26 12:51] kokosing commented on #280
Fixed via #289

[2019-02-26 12:51] #280 closed

[2019-02-26 12:54] kokosing commented on #235
[code]
#289

[2019-02-26 17:49] zhenxiao commented on #323
whoops, did not see this. Let me take a look

[2019-02-26 17:57] ryanrupp commented on #323
I remember I ran into this issue before when using `parquet-mr 1.9.0` or greater where `int64` delta encoding support was enabled, see [here](https://github.com/apache/parquet-mr/commit/8bcfe6c55e2588c1047368b4edbf733d1c1d5381) - specifically I was testing out writing timestamps as int64.

I think it should just be a matter of updating the check [here](https://github.com/prestosql/presto/blob/095c

[2019-02-26 18:20] dain commented on #235
[code]
#229

[2019-02-26 18:29] martint commented on #235
[code]
#249

[2019-02-26 20:28] electrum commented on #323
@ryanrupp Thanks for the info. Do you know the impact of incorrectly removing that check? Would the Parquet writer fail later (probably with a confusing error message), or would we write an invalid file?

[2019-02-26 20:29] electrum commented on #323
@ryanrupp Thanks for the info. Do you want to put up a PR to remove the check?

[2019-02-26 20:34] zhenxiao commented on #323
@ryanrupp is correct
Hi @electrum @ryanrupp I just posted a PR to fix it:
https://github.com/zhenxiao/prestosql/pull/1

[2019-02-26 22:11] #323 closed

[2019-02-26 22:11] electrum commented on #323
Thanks @zhenxiao!

[2019-02-27 01:41] hustnn commented on #137
@findepi  Do you know why the previous PR not merged? Is there any thing I need to note?

[2019-02-27 04:08] hustnn commented on #137
@dain @findepi
I also notes the previous RP try to solve the decimal conversion, decimal vs double conversion and decimal vs float conversion.

Should I consider them all or only decimal conversion for this issue only?

[2019-02-27 08:01] findepi commented on #137
My _guess_ is that each of these conversions is an issue today. I may be wrong though.

I regret but i don't know. @martint you were reviewing that, were there any fundamental issues? Like spec compliance?

[2019-02-27 08:08] findepi commented on #323
https://github.com/prestosql/presto/pull/334 fixed the code, but we still can regress, as the tests are not enabled on Travis.
If we cannot add this long test to PR builds, let's run them on `master` builds only.

[2019-02-27 13:29] findepi opened #338 "When writing to existing table with JDBC-based connector, temporary table should match destination table's column types"
See TODO in the code
 https://github.com/prestosql/presto/blob/d7032e84ba2e36aa7a3ebb3962b6889d8a47d3c8/presto-base-jdbc/src/main/java/io/prestosql/plugin/jdbc/BaseJdbcClient.java#L325-L326

[2019-02-27 13:34] guyco33 opened #339 "last_value() returns wrong results"
```select a, b, last_value(b) over (partition by a order by b) last_b from (values(1,1),(1,2),(1,3),(2,0)) as t(a,b) order by a,b```

results with:
[code]

while expected:
[code]

[2019-02-27 15:42] martint commented on #339
That is actually how it's supposed to work. The default window frame is “range between unbounded preceding and current row”. You need to use “range between unbounded preceding and unbounded following” to get that behavior.

[2019-02-27 16:36] #339 closed

[2019-02-27 17:16] martint commented on #137
No, I think it just fell through the cracks.

[2019-02-27 19:51] #235 closed

[2019-02-27 19:52] electrum opened #342 "Release notes for 305"
## Dain Sundstrom
- [ ] all checked
-  03-04 22:24:17    9f66272174 Migrate Parquet dictionary test cases to presto-parquet
-  03-04 22:24:17    df7a2bac87 Support dictionary encoding in Parquet V2
## David Phillips
- [x] all checked
-  02-27 23:21:23    48eba72958 Use safe concurrent access to local Maven repository
-  02-28 14:38:13    ddca399ced Use correct artifact name for Takari local reposi

[2019-02-27 20:02] mattsfuller commented on #302
During the process of rebasing and preparing this PR to merge into master, some commits were squashed. This was a misunderstanding and unintentional. We took the following action and added a comment to the PR (https://github.com/prestosql/presto/pull/228#issuecomment-467424041). Based on our offline conversation and believe this is resolved.

[2019-02-27 21:46] findepi commented on #342
[code]
https://github.com/prestosql/presto/pull/247

[2019-02-28 05:58] electrum commented on #255
It probably doesn't happen on Travis because they only have 2 cores.

[2019-02-28 06:57] raviann opened #345 "Pluggable AST(abstract syntax tree) rewrite to support 3rd party authorisation use cases"
**Terms**
AST - abstract syntax tree

**Description**
Today one can provide custom authorisation by implementing io.prestosql.spi.security.SystemAccessControl in the plugin form. SystemAccessControl does support allow/deny kind of use-cases, which does not suffice for filter-masking and other use cases being required by 3rd party authorisation plugins

To support them, it would require AST rewrite

[2019-02-28 07:21] #255 closed

[2019-02-28 12:14] atris commented on #302
Yes, this is resolved now. Thank you

[2019-02-28 12:14] #302 closed

[2019-03-01 00:07] electrum commented on #342
[code]
#350

[2019-03-01 00:30] hustnn commented on #137
Submit the initial PR trying to solving this issue https://github.com/prestosql/presto/pull/352.

The comment and suggestion are welcome.

[2019-03-01 10:17] kokosing commented on #342
[code]
``281``

[2019-03-02 00:15] martint commented on #345
This falls under the umbrella of https://github.com/prestosql/presto/issues/18. Our plan is not to expose connectors to the AST, but to allow them to supply additional filters or projections base on authorization. There are multiple reasons why exposing the ASI to connectors is problematic:
- It requires the AST and any supporting infrastructure and its dependencies to be visible to plugin classlo

[2019-03-02 15:00] ebyhr commented on #135
@findepi Sorry for my late reply. Probably, I don't have enough time to work on that, therefore hope someone develop it.

[2019-03-04 03:10] voycey opened #367 "Explicit bindings are required and io.prestosql.memory.LowMemoryKiller is not explicitly bound."
We have recently moved over to this repo from the prestodb one and are trying to get v304 working on our dataproc cluster. We have run into this message and so far can't figure out how to get past it, I have scoured the documentation for installation and cant find anything relating to this?

[code]

I have attached our dataproc initialization action to this ticket which shows the full config of pr

[2019-03-04 04:04] martint commented on #367
The actual problem is this:

The `query.low-memory-killer.enabled` property is no longer supported. You should replace it with:

[code]

[2019-03-04 04:08] martint commented on #367
The PR where that change happened was https://github.com/prestosql/presto/pull/168 at it was included in release 302. Unfortunately, we didn't do a good job of documenting what options were removed. Sorry about that.

[2019-03-04 04:43] voycey commented on #367
Thanks Martin, I went through a few iterations of that but had that left in - Presto now starts!

[2019-03-04 04:43] #367 closed

[2019-03-04 06:48] anirbanch opened #368 "Getting error - Mismatched Domain types: smallint vs integer"
Presto throws the following error when the type in the Parquet file schema  is different than the type in the metastore.  The query has a WHERE clause like the one below, Presto going against Hive metastore

select cc from tt where _field <= 0004_

Issue maybe similar to https://github.com/prestosql/presto/issues/137

com.facebook.presto.spi.PrestoException: Error opening Hive split hdfs://<xxx> (

[2019-03-04 08:16] findepi commented on #368
@anirbanch thanks for your issue

I see you're using Presto 0.215.
I fixed this issue in Presto 302 (https://github.com/prestosql/presto/pull/131).

Could you please give it a try?

[2019-03-04 20:05] martint commented on #17
We need to decide on what (if anything) we want to do for backwards compatibility around this change. There are some points for consideration:

* The engine needs to communicate to connectors whether names are *delimited* or *non-delimited*. This requires changing how table names, schema names, user names, roles, etc., are represented from a `String` to a wrapper class (`Name`?) that contains the

[2019-03-04 21:52] electrum commented on #342
[code]
#319

[2019-03-04 22:42] martint commented on #313
Related to https://github.com/prestosql/presto/issues/17

[2019-03-05 00:07] martint commented on #88
Already merged.

[2019-03-05 00:07] #88 closed

[2019-03-05 03:02] voycey opened #380 "What is the relationship of prestosql and prestodb?"
I never see someone on other community channels so figured I would post here. We have been using Presto in production now for around a year and I only recently noticed this repository.

Could you please clarify what the relationship is between this one and prestodb/presto as both seem to be under active development and working?

Many thanks!

[2019-03-05 03:44] martint commented on #380
This repository and github org were created shortly after the Presto Software Foundation was set up (see the original announcement: https://prweb.com/releases/prweb16070792.htm). It's where most of the committers to Presto and a much of the community are doing active development. Facebook continues to develop their version in the prestodb repository.

[2019-03-05 04:02] voycey commented on #380
Thanks Martin,

I assume there is still a fair bit of collaboration between Facebook's Presto and the PSF? e.g. if FB develop some cool new functionality will it be ported across and vice versa?

Will the FB Presto backlog be used as part of the roadmap for this Presto?

[2019-03-05 04:08] atris commented on #302
As discussed offline, this has been resolved and no more discussion is required. PSF, please delete this issue

[2019-03-05 07:06] DBZshahin commented on #136
Ohh ok, we are using Presto on AWS EMR and its latest EMR version and presto available is version 0.214. Thanks for the info, we are checking with AWS when Presto version would be updated.

[2019-03-05 09:31] findepi commented on #17
Note that you can extend option 2 -- after the transition period, when old APIs are removed, you can rename new APIs to have better method names.

@martint i think JDBC connectors require some thought here. Consider `SHOW TABLES FROM schema` example.
If `schema` is _delimited_, this is actually easy, `java.sql.DatabaseMetaData#getTables` should do the trick.
If `schema` is _non-delimited_, you nee

[2019-03-05 16:25] martint commented on #17
One downside of one is that during the transition period we'd have an API that's marked as deprecated and one that's considered legacy. Which one should new connector writers use? Clearly, not the deprecated one. But using the legacy one feels silly ("why can't I use a non-legacy one?") and forces them to adjust their usages later.

On the other hand, as you pointed out, with option 3 every connec

[2019-03-05 19:43] martint commented on #380
Unfortunately, we have very little visibility into what FB is doing and their plans for their version. We've been picking some changes and bug fixes that we've found interesting, but we expect that's going to be increasingly difficult as the code bases continue to diverge (e.g., prestosql has 500+ commits and more than half of those are not in the other repo).

The roadmap is being driven by what

[2019-03-05 20:20] dain opened #389 "Parallel read in jdbc-based connectors"
Currently read jdbc-based tables are using single connection which could be slow. However other data engines are able to do a parallel table read. See the below.

In Sqoop - https://sqoop.apache.org/docs/1.4.7/SqoopUserGuide.html

When performing parallel imports, Sqoop needs a criterion by which it can split the workload. Sqoop uses a splitting column to split the workload. By default, Sqoop will

[2019-03-06 00:08] dain opened #391 "High Availability"
# Goals

At the highest level, our goal is to create a highly available Presto setups.  More specifically, we would like to accomplish the following:

* Reduce impact of crashed coordinator
* Simplify deployment architecture (e.g., fast failover, load balancers, etc.)
* Reduce failures due to upgrades

# Work Items

* Dispatcher split
  * Move queue management into separate internal service (#95)

[2019-03-06 01:59] oneonestar commented on #391
We hope this patch will also:
* Simplify the collaboration with resource orchestration platforms (K8S / Mesos)
* Allow 0 downtime rollout upgrade
* Allow load balancing between coordinators (for high concurrency queries where coordinator becomes the bottleneck)

## Path 1: Multiple coordinators with Shared Queue
This approach requires "Multiple coordinators in a cluster" implementation which I thi

[2019-03-06 10:04] 11xor6 opened #396 "Build a Kubernetes Operator for Presto"
This issue is to lay the groundwork for a Presto operator on Kubernetes. The goal of this issue is to both lay down the basic requirements for the operator and to provide a forum for collecting feature requests to be built into the operator.

At its core the operator should:
* Build a Presto cluster from a CustomResourceDefinition (CRD)
* Deploy a Coordinator and configurable number of Workers
* C

[2019-03-06 11:04] sopel39 commented on #342
[code]

[2019-03-06 18:11] dain commented on #391
@oneonestar:

This isn't one of my goals, but if this helps great.

All three of the designs will allow for this.  For multi cluster it is straight forward; shut down one cluster, upgrade it and bring it back online.  For multi coordinator, it is similar.  The two key things to know is Presto coordinators and workers must have the same version, and there is a config option for a minimum number of

[2019-03-07 02:15] ebyhr opened #401 "Inequality on clustering key returns empty results in cassandra"
If we specify `!=` or `<>` on Cassandra clustering key, the result always returns empty.

Steps to reproduce
[code]

Ref: https://github.com/prestodb/presto/issues/10783

[2019-03-07 04:24] electrum commented on #342
[code]
#398

[2019-03-07 04:32] electrum commented on #342
[code]
#366

[2019-03-07 04:41] electrum commented on #342
[code]
#353

[2019-03-07 05:12] oneonestar commented on #396
Just write down some thoughts. Ranked in order of interest:
* Allow user to provide customized docker image (which includes Presto plugin / UDF / in-house patched Presto, etc)
* Allow user to add configuration files for their plugin (eg. config file for event-listener...)
* Store confidential config / key (kerberos keytab file, database connection password) in a secure way
* 0 downtime rolling upd

[2019-03-07 05:14] ryanrupp commented on #342
[code]
https://github.com/prestosql/presto/pull/251

[2019-03-07 06:16] ryanrupp opened #403 "Support Parquet page filtering using page level column indexes"
Parquet added support for column indexes which track min/max stats for each underlying page of data (default page size is 1MB) which can be leveraged to skip pages within the column (similar to how ORC row group/stride stats are leveraged I believe). See the parquet format commit here https://github.com/apache/parquet-format/commit/f1de77d31936f4d50f1286676a0034b6339918ee for reference which inclu

[2019-03-07 07:59] findepi commented on #342
[code]
https://github.com/prestosql/presto/pull/299

[2019-03-07 16:11] findepi commented on #342
[code]

https://github.com/prestosql/presto/pull/316

[2019-03-07 19:34] kokosing commented on #342
[code]

[2019-03-07 23:53] anirbanch commented on #368
Verified. The issue does not show up in v304

[2019-03-07 23:53] #368 closed

[2019-03-08 02:34] #342 closed

[2019-03-08 04:38] electrum opened #410 "Release notes for 306"
## Dain Sundstrom
- [x] all checked
-  03-12 10:32:32    7f2b3cd9b7 Simplify block creation for all null values
-  03-12 19:53:25    1eee18fa70 Remove redundant subpressions
-  03-12 19:53:25    2b9dbf7236 Remove unnecessary boxing
-  03-12 19:53:25    352054f0f7 Fix use of raw parameterized class
-  03-12 19:53:25    40852282b5 Clean up access modifiers
-  03-12 19:53:25    490cc15144 Remove unus

[2019-03-08 10:02] kokosing commented on #410
[code]
https://github.com/prestosql/presto/pull/382

[2019-03-08 13:35] ebyhr opened #412 "Call sync_partition_metadata fails with No FileSystem"
Steps to reproduce
1. Create partitioned hive table (you can skip if already exists)
2. Restart presto cluster
3. Call sync_partition_metadata function before executing any queries.

1. Create partitioned table on hive
[code]

2. Restart presto cluster
3. Call sync_partition_metadata function
[code]
[code]

Also, once we got the exception, subsequent queries cause same exception.
[code]

If we exe

[2019-03-08 22:07] leon-gh opened #415 "Add support for Cassandra Tuple type"
When I query a Cassandra CF with tuple type the query fails saying CassandraType is null.

[2019-03-09 07:07] ebyhr opened #417 "Improve error message when failed to insert on Cassandra"
When we try to insert into cassandra type which isn't supported, the error message is like below. It would be better to throw user-friendly message.
[code]
[code]

[2019-03-09 17:38] #412 closed

[2019-03-09 17:39] electrum commented on #412
Thanks for the report. This will be fixed in the next release.

[2019-03-09 23:07] findepi commented on #415
cc @ebyhr

[2019-03-11 04:05] kien-truong opened #433 "Show Create View generates invalid view name."
When the user provide fully qualified view name in show create queries, generated result will output the wrong view name. For example

    show create view hive.a.b

will result in

    create view b.a.hive

This is due to the following lines, which assume table name is `parts[0]`, while in fact it can be `parts[1]` or `parts[2]` (the last value) depending on the user's provided view name.

https:

[2019-03-11 04:25] ebyhr commented on #433
Hi, thank you for reporting this issue. Are you interested in creating the PR?
`SHOW CREATE VIEW` is tested in below place. It currently passes since the catalog and schema are not specified.
https://github.com/prestosql/presto/blob/c31287fefc865ef539f7809f1da9d9b9bca2286a/presto-tests/src/main/java/io/prestosql/tests/AbstractTestDistributedQueries.java#L748

[2019-03-11 04:28] kien-truong commented on #433
Sorry, I don't have time to create the PR for this now.

[2019-03-11 04:32] Praveen2112 commented on #433
@ebyhr can I raise a PR for the same. Sorry it was my mistake I didn’t reverse the list so it end up like that.

[2019-03-11 04:35] ebyhr commented on #433
@kien-truong Okay. Your investigation is really helpful. We appreciated it.

@Praveen2112 Sure, go ahead.

[2019-03-11 09:42] ebyhr opened #436 "Support CREATE TABELE on jdbc connector"
While current jdbc connector supports `CTAS`, `CT` statement isn't supported.

[code]

I started to implement it.

[2019-03-11 11:57] kabunchi opened #442 "single TupleDomain constraint for multiple splits"
In case the constraint is large sending the constraint (TupleDomain) per split is wasteful (for the case the constraint is the same per split).
In our connector we have relatively large number of small splits and we've stumbled upon the use case of querying for 10K string keywords in a single query we hacked/fixed it by adding the constraint to TaskSource and then infest it to all its splits.
Does

[2019-03-11 12:36] ebyhr opened #443 "MySQL connector prints NPE during SELECT"
It happens when I executed a simple SELECT query to mysql on presto-product-tests. The returned result is fine, but NPE message is printed in the server log.
[code]
Even if the schema isn't sys, the same message appears.

[code]

[2019-03-11 14:15] #433 closed

[2019-03-11 14:35] electrum commented on #436
This is covered in #418

[2019-03-11 14:41] findepi commented on #443
Quoting @electrum's old comment from https://github.com/prestodb/presto/issues/10644

[2019-03-11 14:49] ebyhr commented on #443
Thank you for the information. I'll check with newer mysql drivers.

[2019-03-12 01:05] voycey opened #455 "Fault tolerance for long running queries"
We raised the following issue on prestodb (https://github.com/prestodb/presto/issues/11241) this was closed in favour of https://github.com/prestodb/presto/issues/9855 which @martint suggested.

We run a lot of longer running queries on Presto and whilst we try and split them up (we use Airflow as workflow management) it is still a pain if several fail at once.

The ideal end goal is to be able to

[2019-03-12 05:42] archongum opened #456 "Hive 3.1: "Malformed ORC file. Invalid postscript length 17" when only one data-file in external table directory"
# env
* Presto 305
* Hive 3.1.0
![Snipaste_2019-03-12_13-45-06](https://user-images.githubusercontent.com/20929338/54177654-f6233e00-44cd-11e9-9bd5-fa78e36522fe.jpg)

# step
[code]

when using `hiveserver2` to query, it works only at the first query and error after then
![Snipaste_2019-03-12_12-14-34](https://user-images.githubusercontent.com/20929338/54177539-88771200-44cd-11e9-9683-f61f19cbfec0.

[2019-03-12 05:50] archongum commented on #456
# env
* Presto 305
* Hive 3.1.0

# step
[code]

when using hive to query, it works only at the first query and error after then
![Snipaste_2019-03-12_12-14-34](https://user-images.githubusercontent.com/20929338/54177539-88771200-44cd-11e9-9683-f61f19cbfec0.jpg)

If I insert another row, it works
[code]

![Snipaste_2019-03-12_13-50-12](https://user-images.githubusercontent.com/20929338/54177606-c54

[2019-03-12 09:04] findepi commented on #410
[code]
https://github.com/prestosql/presto/pull/330

[2019-03-12 10:39] sopel39 commented on #455
What do you mean by instance being replaced? Are all processes moved to the new instance (e.g. like saving/restoring instance state)?

[2019-03-12 10:52] voycey commented on #455
Dataproc replaces the instance in a cluster if it is pre-empted (takes a
few mins), it is just a worker so it connects to the coordinator and then
will accept jobs when ready.

Currently the problem is that say we have 100 workers and a single one gets
pre-empted (pretty likely) any running queries running fail when this
happens.

On Tue, 12 Mar. 2019, 21:39 Karol Sobczak, <notifications@github.co

[2019-03-12 11:23] sopel39 opened #460 "Hash aggregation spill should yield on GroupByHash memory reservations"
Currently, `SpillableHashAggregationBuilder#rebuildHashAggregationBuilder` creates `InMemoryHashAggregationBuilder` with yielding disabled. This is particularly important as revocable memory reservations are large and `GroupByHash` rehashing (without yielding) might put memory pressure on GC. In order to support `GroupByHash` memory yielding for spilling aggregations we should:
1. Remove dependenc

[2019-03-12 14:37] davcamer commented on #389
Would this require a configuration for every table in the connected MySQL database?

[2019-03-12 15:00] sopel39 commented on #410
[code]

[2019-03-12 22:18] zeeshanabid94 commented on #389
Any ideas on how to proceed with this? We are working with `clickhouse` that has a `JDBC` driver. It is pretty slow for huge queries. It would be great if there was a design on how to move ahead with this feature.

[2019-03-12 22:21] findepi commented on #389
@zeeshanabid94 does Clickhouse has concept of data partitioning?

[2019-03-12 22:24] zeeshanabid94 commented on #389
@findepi Clickhouse doesn't have `explicit concept of data partitioning`. However, there is a concept of table engines that defines `indices, partitions and storage` of the underlying data.
https://clickhouse.yandex/docs/en/operations/table_engines/

[2019-03-12 22:28] zeeshanabid94 commented on #389
I was thinking of some way to provide a `partition_column, min_value, max_value` for each query and then fetch data in partitions based on `number of partitions` created. Each partition would then have the size `(max_value - min_value) / number of partitions`. I just don't understand how we can infer which column is the partition column for each table.

[2019-03-12 22:36] findepi commented on #389
@zeeshanabid94 sorry, i asked too fast. I think it's better to delay this discussion until you implement non-parallel version of the connector.
This has two benefits:
- your PRs will be easier to review -- a connector is a lot of code, so the simpler first version the better; adding parallel reads in JDBC-based connector shouldn't require any major redesign
-  once non-parallel version is landed,

[2019-03-12 22:56] zeeshanabid94 commented on #389
@findepi I have already done that. Clickhouse is SQL compliant. The `SELECT` clause contains all the statements of `Presto ANSI SQL`. So I do have the plugin working and it is similar to `mySQL and PostgreSQL`, just the two basic `Client and Plugin classes` with a third `ClientModule class` injecting the relevant client. We just performed a query where `presto` had to fetch `559 M row` from our da

[2019-03-13 02:59] dain commented on #456
I'm not sure what is causing this exact issue, but we don't recommend that any one upgrade to Hive 3.1 yet, since Hive 3.1 is currently broken with regard to TIMESTAMP types.  From what we understand, the data written by Hive 3.1 can not be read by Hive <=3.0 and the other way around.  We have heard that this is being worked on, so I would hold off on upgrading until this is fixed.

[2019-03-13 04:53] electrum commented on #389
The main challenge of parallel JDBC is determining the split ranges and counts, as explained in the issue description. This is difficult for traditional databases like MySQL or PostgreSQL, since they don't (to my knowledge) have a generic way to return this information for table (e.g., the row count and distribution of the primary key).

Some ideas on how to do this:

* static configuration for th

[2019-03-13 05:05] electrum commented on #389
At a JDBC connector infrastructure level, I think we have everything needed for parallelism. A connector should only need to override the `JdbcClient.getSplits()` method and create each `JdbcSplit` with a non-overlapping `additionalPredicate`.

@zeeshanabid94 If you can submit a PR for the connector, I'm happy to work with you on getting it merged and to make it parallel. I haven't had a chance to

[2019-03-13 05:13] electrum commented on #456
Thanks for reporting this issue. If I'm understanding correctly, the problem occurs when reading data in Hive, and the error happens in a strange way (after the first read). I recommend also reporting this error to the Hive project, as this may be a regression in Hive 3.1: https://hive.apache.org/issue_tracking.html

As for the replication count, I believe you can change this by using the Hive con

[2019-03-13 05:50] martint commented on #442
The information is contained in the TableHandle associated with the TableScanNode. What we might need to do is change the PageSourceProvider API to take the TableHandle in addition to the Split. That way, anything that's common for the whole query doesn't need to be included in every split (only what's relevant to a split).

This is going to be important to support pushdown of complex operations a

[2019-03-13 06:17] archongum commented on #456
As for "Replication count" problem solved after following this instruction.

As for hive problem: [https://issues.apache.org/jira/browse/HIVE-21436](url)

[2019-03-13 08:14] findepi commented on #456
@archongum are you using LLAP?

[2019-03-13 08:31] archongum commented on #456
@findepi I think I don't.
I just run `METASTORE` and `HIVESERVER2` only and nothing runs in YARN at all.

[2019-03-13 08:45] findepi commented on #410
[code]
https://github.com/prestosql/presto/pull/407

[2019-03-13 14:12] sopel39 opened #469 "MySQL connector always throws java.lang.NullPointerException when record cursor is closed"
The exception is:
[code]
Yet it's only logged because of `io.prestosql.operator.Driver#addSuppressedException` during operator close/destroy.

[2019-03-13 14:59] ebyhr commented on #469
Is this the same as https://github.com/prestosql/presto/issues/443? If so, I'll close my issue.

[2019-03-13 15:09] sopel39 commented on #443
The exception only logged and does not cause queries to fail because of `io.prestosql.operator.Driver#addSuppressedException` during operator close/destroy.

[2019-03-13 15:09] sopel39 commented on #469
Yes. It's a duplicate.

[2019-03-13 15:09] #469 closed

[2019-03-13 15:13] sopel39 commented on #443
This should be fixed as it happens during tests too.

[2019-03-13 16:51] raunaqmorarka commented on #52
Overall list of work items for Dynamic Filtering

Introduce collecting DynamicFilterSummary on build side of Join.
ac6e9b4 - Introduce DynamicFilterSummary
5717486 - Collect DynamicFilterSummary before HashBuilder
Introduce DynamicFilterExpression and optimizer rule which adds it in Filter below probe side of INNER join.
5622cb0 - Add DynamicFilter
fdc44e0 - Add ApplyDynamicFilters
Introduce a rul

[2019-03-13 21:55] zeeshanabid94 commented on #389
@electrum There is already a PR for the clickhouse connector. I am working with spaghettifunk to get it merged. The PR is at this link:
https://github.com/prestodb/presto/pull/12456#issuecomment-472214770

As far as parallelizing all JDBC connector goes, it doesn't seem to be very straightforward. All the approaches you've mentioned require implementation of separate classes and maintenance of int

[2019-03-14 02:39] electrum commented on #389
@zeeshanabid94 Can you submit the PR to this repository? You’ll need to make a few minor changes to the POM and change the Java package names.

Implementing parallel should only require overriding that method in your `ClickhouseClient` class. The hard part is figuring out the partition columns and table stats, which will require investigating what metadata is available in ClickHouse and how to acc

[2019-03-14 02:42] electrum commented on #389
Sorry, I just realized you are not the author of the other PR. @spaghettifunk can you submit the ClickHouse connector PR to this repository? I’m happy to review it and work with you on getting it merged.

[2019-03-14 05:28] ddrinka opened #471 "Hive CLUSTERED BY SORTED BY sort files should utilize a configurable temporary location"
See https://github.com/prestodb/presto/issues/11664 for previous discussion.

HivePageSinkProvider should support a configurable temporary location for Sort Files.  Currently these Sort Files are stored beside the table, which may be far away, such as in S3.  This leads to poor performance and stalled/failed queries due to common S3 timeouts when working with larger amounts of data.

[2019-03-14 05:28] ddrinka commented on #471
@electrum is this still your realm?

[2019-03-14 06:15] ddrinka opened #472 "Connectors should be able to specify ordering of data delivered to them"
Run-length encoded, range-indexed data stores such as ORC work best with sorted data.  Presto should be able to sort large amounts of data into such data stores for quick retrieval.

While `INSERT INTO x SELECT y ORDER BY z` currently produces the desired results, it's smelly SQL to assume ORDER BY will have any affect on inserted data layout.

Instead, a connector should be able to bubble up inst

[2019-03-14 08:39] spaghettifunk commented on #389
hi @electrum what do you mean with

I already have a PR open about the JDBC connector of ClickHouse. Unfortunately I am on a work-trip and I can't work on this until the weekend. Besides that, I'd like to have some feedback on the PR I have opened already. In particular, I'd like to have some directions in testing the connector and what are the things that are missing. It's my first time implement

[2019-03-14 08:51] findepi commented on #389
@zeeshanabid94 @zeeshanabid94 @electrum  Let's move this conversation somewhere else, as it's really no longer a general "Parallel read in jdbc-based connectors" discussion now.
I suggest that we all [connect on Slack](https://prestosql.io/community.html) (look for `david` and `findepi` there). I did a lot around JDBC connectors and will try to be helpful as well.

[2019-03-14 09:05] kokosing opened #473 "Do not keep correlated symbols as SymbolReferences"
Take a look at the below query:

`SELECT a, (SELECT a WHERE false) FROM (VALUES 1) t(a)`

Output of it should be: `1, null`.

Currently all the correlated symbols are stored in subquery plan as `SymbolReference`, this causes:
 - difficulties in understanding of subquery plan as most symbols are produced by children nodes or assignment expressions, but some come from the correlation and require spe

[2019-03-14 09:14] findepi commented on #410
[code]
https://github.com/prestosql/presto/pull/454

[2019-03-14 09:20] ankitdixit opened #475 "Kinesis Connector integration"
Integrate presto kinesis connector

[2019-03-14 09:22] ankitdixit commented on #475
@electrum @losipiuk Please let check this PR below.
https://github.com/prestosql/presto/pull/474

[2019-03-14 09:24] #475 closed

[2019-03-14 10:53] sopel39 commented on #410
[code]
https://github.com/prestosql/presto/pull/468

[2019-03-14 18:49] martint commented on #410
[code]

#433, #437, #430,  #428, #432, #429, #431, #420, #421

[2019-03-14 19:44] martint opened #477 "Document logging configuration options"
We don't have documentation for logging-related configuration such as:

* log.max-history
* log.max-size
* http-server.log.max-history
* http-server.log.max-size

[2019-03-15 00:00] electrum commented on #443
I'm thinking we should have the JDBC connectors suppress logging for errors on close. I noticed that the recently added `testInsertIntoNotNullColumn` for MySQL and PostgreSQL both spew log messages because the driver implicitly closes on error and than throws on explicit close (which seems contrary to the specification).

[2019-03-15 06:52] electrum commented on #410
[code]
#452

[2019-03-15 06:54] electrum commented on #410
[code]
#414

[2019-03-15 07:08] electrum commented on #410
[code]
#418

[2019-03-15 08:56] infearATbaidu opened #480 "Enhance stats through SPI"
AFAIK Presto only supports some kind of statistics like processRows、userTimeMillis and so on. Is there exists some solution to add user-defined stats to the query results. For example, developers may add custom stats through spi framework, or is there a plan to do such work like this in the future?

Thanks.

[2019-03-15 08:57] 11xor6 commented on #396
@oneonestar Thanks for the feedback, these are good suggestions. Here are my comments on them:
* Custom Docker images: this is table stakes, it's pretty much required for any operator.
* Plugin configuration files: I can see how this is important. We'll need to think about where to store them and how to link them properly with their associated plugins.
* Sensitive data: I hadn't thought about this

[2019-03-15 09:24] findepi commented on #480
@infearATbaidu can you describe more the use-case you're trying to solve?

[2019-03-15 11:03] infearATbaidu commented on #480
@findepi Thanks for your quick reply。
Consider such condition:
We do some work like user-defined stats in out RecordCursor implementation under SPI framework. Now we want to add these stats to the query results, for example, add to statementStats. Then client can get such stats to do other jobs.

[2019-03-15 11:59] findepi commented on #480
@infearATbaidu
do you mean something like additional fields in `OperatorStats` (and then in `DriverStats`, `PipelineStats`, `TaskStats`, `QueryStats`)?

- what kind of information you want to pass? a number? a text? or a whole lot of things at the same time?
   perhaps you can give a concrete example?
- how this information would be aggregated when going from `OperatorStats` all the way to `QueryS

[2019-03-15 14:36] martint commented on #480
@findepi, interestingly, this is something I’ve thought about adding a long time ago. The idea would be to make the set of execution stats the engine can track extensible by allowing connectors to declare additional ones.

We’d need to identify what’s the “essence” of that kind of entity, like:
* what are the possible types (counters, times, etc)
* how do values get combined
* how they get seriial

[2019-03-15 18:18] isanuk opened #483 "Optimize join ordering in query execution"
[First Post, submitting as a SQL user, not a developer]

**tl;dr** feature request: optimize table ordering before executing joins

As an analyst, we often need to remember optimization tricks to get queries to run faster. One specific optimization is the ordering of tables in a Join. We find that with Presto SQL, it is important to always put the "large table on the left" (e.g. first in code orde

[2019-03-15 20:08] dain opened #485 "Document Hive `INSERT OVERWRITE` behavior"
Document the Hive connector `insert_existing_partitions_behavior` session property, which can be used to to get Hive's `INSERT OVERWRITE` behavior.  This property has three values: ERROR, APPEND, and OVERWRITE.

[2019-03-15 20:50] billonahill commented on #483
This functionality already exists. It requires enable stats collection in Hive, which the Presto CBO cost based optimized can then leverage.
https://www.starburstdata.com/technical-blog/introduction-to-presto-cost-based-optimizer/

[2019-03-15 21:59] findepi commented on #483
@isanuk, as @billonahill explained join reordering functionality exists and is part of Cost-Based Optimizer in Presto.
This is a functionality we (the Starburst team, previously Teradata) developed back in 2017 and improved in 2018.
We've finally merged all the pieces into `master`, including documentation just recently (https://github.com/prestosql/presto/pull/127).

Last but not least, this func

[2019-03-15 21:59] #483 closed

[2019-03-17 04:04] #410 closed

[2019-03-17 05:10] electrum opened #493 "Release notes for 307"
## Dain Sundstrom
- [x] all checked
-  03-27 18:35:20    77f6230969 Change IpAddressType to use Int128ArrayBlock
-  03-27 18:35:20    8294fa1515 Change LongDecimalType to use Int128ArrayBlock
-  03-27 18:35:20    89ec222f58 Remove unused FixedWidthBlock
-  03-27 18:35:20    b4ce0df0e4 Change UnknownType to use ByteArrayBlock
-  03-27 18:35:20    d19fe23ec5 Change TestingIdType to use LongArrayBloc

[2019-03-17 06:30] electrum opened #494 "Add retry for Hadoop KMS SocketException"
The Hadoop KMS client does not have retry for socket errors. We can work around this by adding a retry around the open call in `HdfsEnvironment`.

Example failure:
[code]

[2019-03-18 03:20] archongum commented on #456
I've noticed presto use its own `presto-orc` module while hive use `org.apache.orc`.

|               |             presto-insert-into             | hive-insert-into | java-code |
|---------------|:------------------------------------------:|:----------------:|-----------|
| presto-select | ok                                         | ok               | ok        |
| hive-select   | error(if only

[2019-03-18 03:46] infearATbaidu commented on #480
@findepi
Yes. We want to add some additional stats in OperatorStats. At the present stage, we only have some simple stats in number format, which meaning is like scan counts in our data source. So we try to enhance RecordCusor under SPI (E.g. add extra method like 'getScanCnts'). Then record these stats in TableScanOperator.
Since these stats can only be generated from TableScanOperator, we can si

[2019-03-18 04:20] dain commented on #456
What do you mean by `error(if only one file in table directory)`?  If you execute 2 separate inserts, does it work?

Can you post the stack trace from Hive?

[2019-03-18 04:42] archongum commented on #456
@dain
I've mentioned on the first comment.

And it's nothing to do with `CREATE TABLE` command  because I've tried both presto and hive.

presto `CREATE TABLE`
[code]

hive `CREATE TABLE`
[code]

[2019-03-18 11:37] findepi opened #496 "Test predicate pushdown in JDBC connectors"

[2019-03-18 11:40] findepi opened #497 "Add tests for Redshift connector"
We need following tests for Redshift connector:

- derived from `AbstractTestDistributedQueries` (see `TestPostgreSqlDistributedQueries` for example)
- type mapping tests (see `TestPostgreSqlTypeMapping` for example)
- predicate pushdown tests (see also https://github.com/prestosql/presto/issues/496)

The tests will depend on external infrastructure (AWS account).
- it should be possible to run th

[2019-03-18 12:10] kokosing commented on #497
Dump question, is it possible to have a docker image for redshift?

[2019-03-18 14:42] findepi opened #500 "/ui neither redirects nor works"
http://localhost:8080/ redirects to /ui/
http://localhost:8080/ui/ is the UI
http://localhost:8080/ui loads some HTML, but does not work

[2019-03-18 16:29] findepi opened #501 "Cannot read .lzo files when using hive.config.resources ("native-lzo library not available")"
### Steps to reproduce

1. Take existing Hive site xml that includes `com.hadoop.compression.lzo.LzopCodec` in `io.compression.codecs` config property.
2. Configure hive connector using `hive.config.resources`
3. Try to read .lzo

[code]

[2019-03-18 17:07] findepi commented on #501
My bad. This is actually misconfiguration.
To get
[code]

one needs to add some additional jar, and without some native component.

[2019-03-18 17:07] #501 closed

[2019-03-18 17:58] dain commented on #456
We'll try to reproduce locally, but my guess is we are triggering a bug in Hive since the files are readable when there are multiple files in the directory.  We'll try to find a work around.

[2019-03-18 22:43] electrum commented on #456
Do you know of an easy way to get Hive 3.1 running for testing? I wasn't able to find any working virtual images, Docker container, etc., and I failed to get it running after trying for several hours.

[2019-03-18 22:49] #442 closed

[2019-03-19 17:30] combineads opened #506 "Unable to cancel query in batch mode of presto cli"
1. Execute long term sql.
./presto --server https://xxxx --user xxxxx --password --file "sql file" --catalog xxx --progress --ignore-errors

2. Check presto cli pid
ps -ef | grep -i presto

3. kill pid, even kill -2 pid
<img width="456" alt="Screen Shot 2019-03-20 at 02 28 44" src="https://user-images.githubusercontent.com/3220939/54628002-ed2b0180-4ab7-11e9-8902-9826a739583b.png">

4. Check Prest

[2019-03-20 01:42] xumingming opened #510 "Support insert overwrite unpartitioned table"
Currently we support insert overwrite partition table but not unpartitioned table.

[2019-03-20 13:29] ebyhr commented on #170
By the way, `information_schema.tables` doesn't have a column for comment. Is it not implemented intentionally?

[code]

Although hidden `table_comment` column exists, it always returns `NULL`.

[2019-03-20 18:54] dain commented on #510
I believe this will require modifications near https://github.com/prestosql/presto/blob/master/presto-hive/src/main/java/io/prestosql/plugin/hive/HiveWriterFactory.java#L296.  The code for overwrite of partitioned tables is just below that section.

[2019-03-21 07:23] arnaboss opened #516 "Need to have Custom Split in HiveUtil.createRecorder"
I am using my custom Input Format which is called at the HiveUtils.createRecorder passing a FileSplit object at https://github.com/prestodb/presto/blob/0cd02a9835f55fa59cca6b7aebfcb5d651214b85/presto-hive/src/main/java/com/facebook/presto/hive/HiveUtil.java#L207

This calls the getRecorder at the custom Input Format and it fails to cast FileSplit to the custom Split.

Is there any way to pass a cu

[2019-03-21 10:01] Praveen2112 commented on #473
### **Plan of attack**

1. As discussed above we will create a `Map<Symbol, Symbol>` for `ApplyNode` and `LateralNode` , the key would be a symbol that we would propagate(a new symbol) through the sub query and the value would be the correlated symbol for this. So now we can ensure that the same symbol won't occur in different trees.
2. When we try to translate these `LateralNode` or `ApplyNode` t

[2019-03-21 10:02] findepi commented on #170
@ebyhr this was added in https://github.com/prestosql/presto/commit/9c9ac4e685ca108bbb6b535f2083300e58413cb9
In order to show real table comments, we would need to modify `io.prestosql.metadata.MetadataListing#listTables` so that it returns table names  + comments.

[2019-03-21 13:23] ebyhr commented on #170
I see, thank you for providing the information!

[2019-03-21 14:44] PabloInnocenti opened #518 "Error Setting scheduler.http-client.connect-timeout in config.properties (Ver 305)"
Dear Prestosql Team,

We are using version 305 and we some errors and warning like:

`WARN	TaskInfoFetcher-20190321_142603_00152_59y9e.1.2-1684	io.prestosql.server.remotetask.RequestErrorTracker	Error getting info for task 20190321_142603_00152_59y9e.1.2: Server refused connection`

`2019-03-21T14:35:53.669Z	ERROR	remote-task-callback-567	io.prestosql.execution.StageStateMachine	Stage 20190321_143

[2019-03-21 20:19] findepi commented on #518
This configuration property was removed (apparently around 0.198 release).
We missed to update documentation though -- https://github.com/prestosql/presto/pull/520

thanks for reporting this!

Is this error being reported on coordinator or on the scheduler?
`scheduler.*` configuration is applicable on coordinator node only.

[2019-03-21 20:21] vgankidi opened #521 "Enhance /v1/node rest apis for clusters that are setup to autoscale"
We have clusters that autoscale based on workload. Some of the problems we face:
a) Workers that are gracefully shutdown are also considered as "Failed" by the failure detector. We have dashboards to track failed nodes to help with debugging issues. This metric is unreliable now since it includes deactivated nodes by administrators as well.
b) Also v1/node endpoint has a ton of workers that have a

[2019-03-21 20:21] findepi commented on #518
BTW, this kind of troubleshooting questions are best served by the `#troubleshooting` channel on Presto Slack. Get an invite from https://prestosql.io/community.html.

I will close this issue, but you still can comment here. Or we can move this to Slack.

[2019-03-21 20:21] #518 closed

[2019-03-25 10:53] findepi opened #535 "PluginManager should build classpath from workspace"
Currently, when using `pom.xml` as a plugin bundle:
https://github.com/prestosql/presto/blob/ea2d4214fbed38e3c84e9820ca6c014674d9d4b5/presto-main/etc/config.properties#L29-L43

`io.prestosql.server.PluginManager#buildClassLoaderFromPom` builds classpath using artifacts from `~/.m2/repository`
For plugin code, this isn't practical -- one has to `./mvnw install` changed plugins each time before star

[2019-03-25 15:23] electrum commented on #535
This is only a problem for Hive, since the actual plugin is in a different module than the main code. But it’s something I’ve wanted to fix for years.

[2019-03-25 16:44] findepi commented on #535
@electrum right, this works as expected for the most part.
(Note that this is not limited to Hive, e.g. applicable to JDBC connectors when you change base-jdbc.)

[2019-03-25 21:27] electrum opened #538 "Support Hive bucket version 2 tables"
Hive 3.0 creates tables with a `bucketing_version=2` which uses a different hash function. We added safety checks in #512 to treat these as not bucketed for reads (and blocked writes), but we should actually support these. It will likely require lots of refactoring of the bucketing code.

[2019-03-25 22:14] findepi opened #540 "Presto should not use permanent redirects"
If i launch a different app on the port previously used by Presto (eg `localhost:8080`), the app is broken, because the browser remembers and applies the `/` → `/ui/` redirect.

[2019-03-26 08:32] kokosing commented on #493
[code]
#419

[2019-03-26 12:37] sopel39 commented on #493
[code]

[2019-03-26 12:43] findepi commented on #278
cc @haaawk

[2019-03-26 13:01] haaawk commented on #278
In general you don't have to set the protocol version. When unset, driver will negotiate the highest protocol version supported by both driver and the server.

See https://github.com/datastax/java-driver/blob/3.x/driver-core/src/main/java/com/datastax/driver/core/Cluster.java#L1648

You just need to make sure protocol options in configuration does not have initial protocol version set.

[2019-03-26 13:27] igorcalabria opened #544 "Spatial joins support for spherical geography types"
Currently, spatial joins are only used for planar geometries. Example
[code]
yields a crossjoin, while
[code]

[2019-03-26 14:49] kokosing opened #545 "Query semantic analysis time should not be reported as queued time"
In case queries that communicates a lot with Hive metastore (retrieving information about tables or checking privileges) analysis time could be noticable.
Notice that Query State Machine is created in initial state QUEUED and so semantic analysis time is included in QUEUED time.

[2019-03-26 14:51] sopel39 commented on #493
[code]

[2019-03-26 16:15] ebyhr opened #546 "Implement string format function"
Ref: https://github.com/prestodb/presto/issues/11343 & https://github.com/prestodb/presto/pull/12219

[2019-03-26 17:38] dain commented on #545
With the dispatcher this gets messy.  The analysis will happen twice. Once asynchronously while queued, so we can kill queries early in the queueing process (we don't want to wait for start to show a that the query is referencing a column that doesn't exist).  The second time will occur when the query is started on an actual coordinator.  The first analysis can't be reused because there is no way

[2019-03-26 18:28] wagnermarkd commented on #538
Reference: https://issues.apache.org/jira/browse/HIVE-18910

[2019-03-27 07:27] electrum commented on #546
Proof of concept: https://github.com/prestosql/presto/pull/548

[2019-03-27 08:32] xumingming opened #549 "Support distributed cache for hive metastore"
The distributed cache will help in two scenario:

1. multiple clusters(multiple Presto, or Prest & Hive) want to keep consistency for HiveMetaStore.
2. When someday presto support more than one coordinator, distributed cache will also help.

[2019-03-27 15:17] findepi opened #552 "Proper truncation missing in casts to varchar(x)"
[code]

but ...
[code]

This is because https://github.com/prestosql/presto/blob/c74b775e103a7a239aafef1b7ca15fe6370495fe/presto-main/src/main/java/io/prestosql/type/BigintOperators.java#L270-L276
should consider `x` (`@LiteralParameter("x") long x`) and truncate the result to make sure no more than `x` characters are returned.

Same probably applies to casts from other types to varchar.

[2019-03-27 15:36] findepi opened #553 "Division by 0 sometimes does not produce proper message"
Expected
[code]

but when the division by zero is run _a few_ times:
[code]

[code]

This is because (my) JVM stops producing message for `ArithemticException` after it occurs 5-7k times.

[2019-03-27 15:40] findepi commented on #553
Not a huge problem, but this can make tests flaky.

[2019-03-27 19:43] dain commented on #549
Isn't this something better put inside of the Hive Metastore, so every engine doesn't have to reimplement it.

[2019-03-28 01:18] vgankidi commented on #521
cc @martint @electrum

[2019-03-28 03:26] combineads opened #556 "Update hive statistic information fails on CDH when table has date column"
The `CREATE TABLE AS SELECT` statement fails to update the hive statistics information.
Hive metastore version is `CDH-5.14.2.bm2-1.cdh5.14.2.p0.3`.
Presto version is 306 with `hive.collect-column-statistics-on-write=true` setting.
And succeeded after applying session `set session melon.collect_column_statistics_on_write = false;`.

SQL
[code]

ERROR
[code]

[2019-03-28 08:06] findepi commented on #493
[code]

https://github.com/prestosql/presto/pull/495

[2019-03-28 09:09] #553 closed

[2019-03-28 09:22] sopel39 commented on #552
Some more context: https://github.com/prestodb/presto/issues/7815

[2019-03-28 10:28] findepi opened #560 "Functions on arrays and maps should compare elements with IS DISTINCT semantics"

[2019-03-28 10:29] findepi commented on #560
This **probably** affects all such functions that use `TypedSet` today.

 `TypedSet` is currently used in:
- `array_distinct`
- `array_except`
- `array_union`
- `map_from_entries`
- `map_concat`
- `cosine_similarity`
- `multimap_agg`
- `multimap_from_entries`
- `MapToMapCast`
- ... ?

[2019-03-28 15:06] martint commented on #521
@vgandiki, I’ll respond later today with some thoughts.

[2019-03-28 17:46] raunaqmorarka commented on #549
Hive Metastore Service does support a server side cache https://cwiki.apache.org/confluence/display/Hive/Hive+Metadata+Caching+Proposal
In cloud deployments a common setup is to have HMS running on master node along with Presto coordinator and making the HMS use an off-cluster RDS instance. Similar setup is common with Hive and Spark as well. That's where the approach of a caching metastore client

[2019-03-28 17:55] oneonestar opened #563 "Performance issue on Unnest operator"
Problem query:
[code]

Explain analyze:
[code]

------
CPU Profiling on worker:

Profiler: https://github.com/jvm-profiling-tools/async-profiler
`sudo ./profiler.sh -d 30 -f /tmp/flamegraph.svg -e wall -t <pid>`
<img width="1191" alt="Screen Shot 0031-03-28 at 10 36 58" src="https://user-images.githubusercontent.com/2330687/55179793-763fd980-5145-11e9-8f2b-97a0855998af.png">
Most of the threads ar

[2019-03-28 18:55] dain commented on #563
I'm pretty sure that `UnnestOperator` can be rewritten to use dictionary blocks to mask/replicate the data, which would completely avoid the copies.  (This operator was written 2014 before we did that)

[2019-03-28 18:58] dain commented on #549
Yes only a per-transaction cache can be used when there are multiple coordinators.

[2019-03-28 19:09] electrum commented on #549
The metastore cache in Presto never worked well. Users were often confused when a partition was added by Hive but it didn't show up instantly in Presto. This is why it's been disabled by default for several years.

I agree with @dain that this is better handled by the metastore. To meet the goals of working with other systems like Hive and Spark, we can't just implement the cache in Presto -- it n

[2019-03-29 09:28] kokosing opened #565 "Implement correct type mapping for SQL Server connector"
See: https://github.com/prestosql/presto/blob/c57cb193aa89931f826a924fd4142f56112b6943/presto-sqlserver/src/main/java/io/prestosql/plugin/sqlserver/SqlServerClient.java#L96

Testing should follow `TestPostgreSqlTypeMapping` example.

[2019-03-29 23:06] phd1994 opened #567 "Pushing down reducing projections in a more generic manner"
Several optimizations focus on achieving this general goal for specific node patterns:
- Let’s say there is a planNode A, with a list of outputSymbols L1.  A.getSources() returns a single-element list B. Say B’s list of outputSymbols is L2. Optimizers identify that there is “reduction in datatypes” going from L2 to L1. For example, losing unreferenced columns, losing unused fields from nested stru

[2019-03-30 04:46] electrum commented on #540
I'm not sure I agree this is a problem, as there are lots of things that could be broken in this scenario, and it seems unreasonable to try and work around them. But I am fine with with the proposed change.

[2019-03-31 11:54] vromanv opened #569 "S3 "subfolder" handling"
Hi,
Here is the excerpt from slack correspondence regarding the issue.

```"External location must be a directory"```
It is related to S3 subfolders (which are prefixes).

It seems like due to latest changes we enforce subdirectory content type (Property from S3 object metadata) to be:
```S3_DIRECTORY_OBJECT_CONTENT_TYPE = "application/x-directory"```
This is indeed content type if AWS S3 web inte

[2019-03-31 20:39] #540 closed

[2019-04-01 06:03] martint commented on #521
I don't think we want to merge DiscoveryNodeManager with the the HeartbeatFailureDetector, but we could certainly improve how they interact and what they expose. Currently, the failure detector is very primitive (based on just a regular ping), but we want it enhance it to take into account other signals such as whether a given node is causing a large portion of query failures or is an outlier acro

[2019-04-01 07:50] kokosing commented on #493
[code]

#551

[2019-04-01 10:05] #500 closed

[2019-04-01 10:06] findepi commented on #493
[code]
https://github.com/prestosql/presto/pull/539

[2019-04-01 10:12] findepi commented on #493
[code]
https://github.com/prestosql/presto/pull/542

[2019-04-01 17:43] electrum opened #572 "Support Hive text table properties for delimiter and header skipping"

[2019-04-01 21:57] martint commented on #493
[code]

#541

[2019-04-01 23:27] martint commented on #493
[code]

#390

[2019-04-02 02:28] jiangzhx opened #574 "Partial Aggregation not being pushed through UNION ALL"
presto version:0.201
the difference between table and view ,there is a  “Aggregate(PARTIAL)” in table query

the sql to create view :
[code]

performence:
with view:
0:23 [112M rows, 299MB] [4.98M rows/s, 13.3MB/s]
with table:
0:08 [112M rows, 299MB] [14.1M rows/s, 37.6MB/s]

explain analyze detail:
[select_from_table_aggregate.log](https://github.com/prestosql/presto/files/3032070/select_from_tab

[2019-04-02 02:52] Praveen2112 commented on #574
I’m planning to work on this. Can anyone assign it to me please ?

[2019-04-02 18:25] martint commented on #493
[code]

#509

[2019-04-03 06:20] anirbanch opened #576 "Support Hive managed Transactional/ACID tables"
Presto fails to run queries against Hive managed tables. In Hive 3.x these tables are defaulted to transactional/insert-only as per https://docs.hortonworks.com/HDPDocuments/HDP3/HDP-3.1.0/hive-overview/content/hive_upgrade_changes.html . Given that this is the default table type in Hive 3.x for all hive managed table, can Presto be enhanced to handle them?

Any one upgrading to Hive 3.x will have

[2019-04-03 14:50] martint commented on #493
[code]

#200

[2019-04-03 19:17] dain commented on #493
[code]

[2019-04-03 19:46] dain opened #579 "Optionally distribute Hive writes on partition keys"
Today, when writing Hive tables, Presto arbitrarily distributes the data across the writer nodes.  This results in good parallelization for the common case of a query writing a single partition, since each worker will write a separate file for the partition.  For queries that need to writer hundreds or thousands of partitions, this behavior causes problems as each worker will end up writing a file

[2019-04-03 20:59] kokosing commented on #11
Fixed with #551

[2019-04-03 20:59] #11 closed

[2019-04-04 04:18] electrum opened #583 "Release notes for 308"
## Dain Sundstrom
- [x] all checked
-  04-04 10:21:18    501dbd2c81 Rename PrestoNode to InternalNode
-  04-04 10:21:18    f29b0aeb0c Deprecate Node.getHttpUri and reduce usages of Node.getHostAndPort
-  04-04 10:21:18    fc274bb9bc Replace all usages of spi Node with InternalNode
-  04-11 10:13:09    07f619c5ca Improve ORC boolean reader
-  04-11 10:13:09    080a9fd9a9 Remove unused inDictionary

[2019-04-04 06:31] ebyhr opened #584 "Hive connector recognizes empty column comment as NULL"
I think it should be treated as empty string `COMMENT ''`.
[code]

[code]

Come from `emptyToNull` in
https://github.com/prestosql/presto/blob/00fe3dab949d7eaededb36f07549551950148083/presto-hive/src/main/java/io/prestosql/plugin/hive/metastore/thrift/ThriftMetastoreUtil.java#L669

[2019-04-04 08:50] findepi commented on #579
Duplicates https://github.com/prestosql/presto/issues/304

[2019-04-04 14:19] ChethanUK opened #587 "Date Type query in Cassandra is giving Codec not found error"
# Presto Cassandra Test

Cassandra Version: [cqlsh 5.0.1 | Cassandra 3.11.4 | CQL spec 3.4.4]
PrestoSQL Version: 307

Content of cassandra.properties:
[code]

First I installed Cassandra in New Ubuntu
Then in cqlsh: Created tables following tables
[code]

Then Inseting Data into Cassandra:
[code]

In Presto CLI: When I tried querying date type, PrestoSQL is not working properly it's giving errors

[2019-04-04 14:37] ebyhr commented on #587
Please specify `cassandra.protocol-version=V4` in cassandra.properties.

[2019-04-04 14:52] ChethanUK commented on #587
Working:

[code]
Thanks!. @ebyhr

[2019-04-04 14:55] ebyhr commented on #587
I think it needs cast.
[code]

[2019-04-04 14:58] ebyhr commented on #278
https://github.com/prestosql/presto/issues/587 is caused by default protocol version `V3`. It would be better to proceed this issue.

[2019-04-04 15:42] Hammond95 commented on #552
Is someone already working on this? I would like to give it a try...

[2019-04-05 03:36] ebyhr opened #591 "Cassandra connector throws NPE if the table has unsupported type"
If the table on Cassandra has unsupported types by presto (eg UDT, Tuple), it throws NPE with message `cassandraType is null`. I think it would better to ~~throw PrestoException with `NOT_SUPPORTED`~~ skip the unsupported columns like JDBC connector.

Steps to reproduce:
[code]

[code]

[code]

[2019-04-05 07:00] findepi commented on #587
As discussed offline, this is answered.

Action items.
- https://github.com/prestosql/presto/issues/591 -- better exception messages
- https://github.com/prestosql/presto/issues/278 -- best possible out-of-the-box feature availability

Thanks @ebyhr @ChethanUK

[2019-04-05 07:00] #587 closed

[2019-04-05 07:13] findepi commented on #583
[code]
https://github.com/prestosql/presto/pull/586

[2019-04-05 11:48] findepi opened #593 "Implement cast from array to varchar"
CLI renders arrays like Java `List`: `[e1, e2, ...]`.
This functionality could be also available in engine, in the form of a `cast` from `array(e)` to `varchar`.

[2019-04-05 18:18] dain commented on #593
Is there a reason to not use cast to `JSON`?

[2019-04-05 18:32] electrum commented on #593
The CLI rendering was more of an accident that worked well enough. The CLI gets the JSON converted to Java objects, then does `toString()` on them, so you get the Java format. Since it's intended for debugging, it has problems:

[code]

I've definitely thought about having a cast to varchar for structural types, and thought about it again for the `format` function, but it comes back to the questio

[2019-04-05 20:16] findepi commented on #593
`json_format(cast(... as json))` is what I ended up doing.

Since it's not clear whether we want this or not, let me close the issue for now.

[2019-04-05 20:16] #593 closed

[2019-04-05 21:17] dain commented on #593
What if we changed `json_format(JSON):varchar` to `json_format(T):varchar` where there exists `cast(T):JSON`?

[2019-04-06 18:05] chethanuk opened #599 "Add Elassandra plugin"
Elassandra is an open source database and search engine for multi-cloud applications.

Since we already have Elastic Search and Cassandra, in future it will be nice to have http://elassandra.io connector

[2019-04-09 03:49] jiangzhx commented on #574
i find same clue.
when i group by with distinct function.
there is a MarkDistinctNode 。
And the old PlanOptimizer（PartialAggregationPushDown）
skip the optimize。

[code]

[2019-04-09 06:12] martint commented on #567
I think the biggest challenge is how to pull this off without ending up with a monolithic optimization that needs to understand every possible node type. In the current design of the optimizer (Rules + PlanNodes), the decoupling of the hierarchy of nodes from how optimizations are structured makes it possible to (in the future) support an extensible IR and optimization rules supplied by connectors

[2019-04-09 07:55] kokosing commented on #583
[code]

#438

[2019-04-09 09:13] ChethanUK opened #608 "Cassandra timeout during read query at consistency ONE or LOCAL_ONE"
PrestoSQL Version: 307
Cqlsh 5.0.1 | Cassandra 3.11.4 | CQL spec 3.4.4 | Native protocol v4

Basic Queries like `select * from table limit 10;` working properly..

But, When I try queries like `select count(*) from table;`
I get following error:
[code]

[2019-04-09 10:28] ebyhr commented on #608
This issue might be related https://github.com/prestodb/presto/issues/10021

[2019-04-09 18:38] martint opened #609 "Support RANGE <value> PRECEDING/FOLLOWING"
From the SQL spec (section 7.15):

[code]

[code]

[code]

[2019-04-09 21:35] Parth-Brahmbhatt opened #611 "Use get_partitions_by_expr or get_partitions_by_filter API of hive metastore."
See thread https://prestosql.slack.com/archives/CFLB9AMBN/p1554842107205400.

Currently in [HivePartitionManager](https://github.com/prestosql/presto/blob/master/presto-hive/src/main/java/io/prestosql/plugin/hive/HivePartitionManager.java#L303) we use getPartitionNamesByParts API from metastore which only allows a single value per partition predicate. This means any non equality partition predicat

[2019-04-09 22:22] electrum commented on #611
This is a good idea. Do you know what Hive version these were added in? Hopefully they’re old enough to be available everywhere, otherwise we’ll need some fallback code (catch remote “no such method” error and call the old one).

[2019-04-09 22:57] Parth-Brahmbhatt commented on #611
If I just go by when the API was [added](https://github.com/apache/hive/commit/0c2c8a7f57330880f156466526bc0fdc94681035), then that was 9 years ago.

[2019-04-09 23:24] luohao commented on #611
We have explored this a bit, but I think we should probably avoid using `get_partitions_by_expr(PartitionsByExprRequest req)`. It's very very bad API design. It includes a Kryo serialized object in the request:

[code]

There are a few potential issues:

- Kyro doesn't guarantee serialization format. From our experience, if the client(e.g, Presto) and server(e.g., HMS) use different versions of Ky

[2019-04-10 01:39] electrum commented on #611
I think the problem with both `get_partitions_by_expr` and `get_part_specs_by_filter` is that they return the full partition specification, which can be huge and take too long to fetch. With the existing `get_partitions_by_names` call, we see issues with timeouts and Thrift response size limits.

Presto fetches partition names while planning, then fetches the full partition metadata iteratively du

[2019-04-10 09:14] findepi opened #612 "Run TestFullParquetReader, TestFullOrcReader tests on CI"
These tests are not run today.
This leads to regressions, e.g. https://github.com/prestosql/presto/issues/323
Many tests are enabled in https://github.com/prestosql/presto/pull/585, but the two are not enabled as per https://github.com/prestosql/presto/pull/585#discussion_r273827051

[2019-04-10 09:55] kaka11chen opened #613 "Optimize distinct aggregation on multi column"
Reference https://github.com/prestodb/presto/issues/12024

When query use distinct aggregation on multi columns.

select count(distinct ss_item_sk), count(distinct ss_store_sk) from tpcds_bin_partitioned_orc_1000.store_sales;
Result: It is very slow, cost 60 seconds in our perf-test env, regardless of use-mark-distinct.

If I change it to

select count(case when grouping_id=1 and ss_item_sk is not

[2019-04-10 12:53] findepi commented on #613
@kaka11chen, Thanks for creating the issue!
For the record, i understand you're going to migrate your previous PR in this area (https://github.com/prestodb/presto/pull/12183) to prestosql.

[2019-04-10 20:40] Parth-Brahmbhatt commented on #611
CDH 5 seems to be on [Hive 1.1.0 + patches ](https://www.cloudera.com/documentation/enterprise/release-notes/topics/cdh_vd_cdh_package_tarball_514.html#cm_vd_cdh_package_tarball_514) and the Jira you have linked does not seem to be in the [list of patches ](http://archive.cloudera.com/cdh5/cdh/5/hive-1.1.0-cdh5.14.4.releasenotes.html)

HDP-2.6.5 which is the most latest release of HDP-2 also only

[2019-04-10 20:55] qqibrow opened #616 "Support implicit type casting in connector"
Current all implicit casting rules are hardcoded in `presto-main` module. It would be nice if user could plugin implicit type casting between self-define type and primitive type.

[2019-04-10 22:12] electrum commented on #611
I agree, there's no reason not to implement it now. We can do it without config if we make the fallback transparent. Have a boolean flag defaulting to true to indicate it is supported, then set it to false if we get a "no such method" error from the remote Thrift server. This means the first request after a server restart will take slightly longer, but this shouldn't cause any problems.

[2019-04-11 02:34] luohao commented on #611
Agreed with @electrum.

As long as we have a fallback mechanism it should not break the compatibility. Hive adopts a similar strategy where a `MetaException` from HMS will make it falls back to the implementation of client-side filtering.

[code]

[2019-04-11 02:38] #493 closed

[2019-04-11 02:41] dain commented on #583
[code]
#555

[2019-04-11 07:14] wyukawa opened #619 "more than 100000 partitions error occurred in 307"
The following error occurs.
[code]

```hoge``` table has two partition columns(service, yyyymmdd) and the number of total partition is more than 100000.
But the following query filters the partition columns and doesn't seem to scan more than 100000 partitions.
Actually, it didn't cause an error in prestosql 306 but the error occurred in 307.

query
[code]

[2019-04-11 07:25] wyukawa opened #620 "Partition location does not exist in hive external table"
Hi,
We have some hive external tables which attach remote hdfs.

For example,

ddl
[code]

query
[code]

We encountered the following error in prestosql 307 but this error didn't occur in 306

[code]

[2019-04-11 07:31] findepi commented on #619
@wyukawa is it possible to reproduce the problem when selecting one table at a time, eg.
[code]
?

cc @martint

[2019-04-11 08:10] wyukawa commented on #619
@findepi Thank you for the quick response!
Unfortunately, I can't reproduce the problem when selecting one table.

Two table join is necessary to reproduce like this.
[code]

[2019-04-11 08:30] ebyhr commented on #619
@findepi Perhaps, we can reproduce it by adding below code in TestHivePartitionsTable.java L149.
[code]

[2019-04-11 08:57] ebyhr commented on #619
306 explain:
[code]

[2019-04-11 09:02] sopel39 commented on #619
Should it be considered a bug?

@ebyhr what is explain in 307 when you disable scan partition limit?

[2019-04-11 10:13] ebyhr commented on #619
@sopel39 Here is 307 explain
[code]

and diff
[code]

[2019-04-11 15:53] martint opened #622 "Incorrect results for FULL JOIN + coalesce + constants"
Certain combinations of FULL OUTER JOIN queries involving coalesce() where some of the fields in either side of the join are inferred to be constants can produce bad plans due to incompatible partitionings.

[2019-04-11 16:47] ngpgopi commented on #619
@findepi I am facing the same problem even on single table.

select * from data limit 100;

[2019-04-11 16:47] ngpgopi commented on #619
@findepi I am facing the same problem even on single table.

select * from data limit 100;

[2019-04-11 16:48] ngpgopi commented on #619
@findepi I am facing the same problem even on single table.

select * from data limit 100;

[2019-04-11 17:09] ddrinka opened #625 "PrestoS3ClientFactory should use the AWS Java SDK default credential provider"
The Glue Hive Metastore provider uses the default [AWSGlueAsyncClientBuilder](https://github.com/prestosql/presto/blob/d8131337f69a58852ac2596b8b5dda6a48efd4c1/presto-hive/src/main/java/io/prestosql/plugin/hive/metastore/glue/GlueHiveMetastore.java) provided by the AWS SDK for Java to locate AWS credentials.  This is good.  There are [numerous ways](https://docs.aws.amazon.com/sdk-for-java/v1/deve

[2019-04-11 18:08] electrum commented on #471
@ddrinka I don't think adding a config for this will be difficult. Are you interested in working on this yourself?

[2019-04-11 18:26] electrum commented on #625
This seems reasonable. We could add a new config, `hive.s3.use-default-credentials`, that when true, would return `null` as the credential provider rather than throwing an exception when no other credentials are available. This should be done for both `PrestoS3ClientFactory` and `PrestoS3FileSystem`. This config could default to true, but be set to false if someone wants to assure they don't pick

[2019-04-11 18:54] martint commented on #620
This may be related to https://github.com/prestosql/presto/issues/619. It's possible the query is now touching partitions that are "broken" that were previously being pruned.

[2019-04-11 18:56] martint commented on #619
@ngpgopi, do you see that issue in earlier versions? Can you post the full stacktrace?

[2019-04-11 18:58] electrum commented on #620
I'm not clear on the problem. I see two potential issues

* These partitions are legitimately broken (directory does not exist), but they should be filtered out by the `WHERE` clause, and are not being filtered.
* The `webhdfs` protocol no longer works. If this is the case, it should be easy to repo by creating a non-partitioned external table pointing at a WebHDFS location.

Can you confirm which

[2019-04-11 19:01] electrum commented on #583
[code]
#610

[2019-04-11 19:04] electrum commented on #583
[code]
#615

[2019-04-11 19:07] electrum commented on #583
[code]
#615

We also need to update `jdbc.rst` with the new option `KerberosServicePrincipalPattern` (forgot to do this in the PR).

[2019-04-11 19:10] electrum commented on #583
[code]
#507

[2019-04-11 19:13] electrum commented on #583
[code]
#343

[2019-04-11 20:21] ddrinka opened #626 "Hive requests for ORC data contain a race condition on file size"
I'm querying ORC data from a file in S3 that is overwritten throughout the day.  S3 guarantees atomic replace, so a request for a file's data will always return either the old copy or the new copy.  However, no guarantee is made that a range request for one block of data at the start of a file, and another block at the end of the file, will both return data from the same copy.

With these guarante

[2019-04-11 20:29] martint commented on #583
[code]

[code]

#622, #619

[2019-04-11 20:29] ddrinka commented on #471
@electrum I'm not a Java developer and don't have an environment set up to work well within the ecosystem.  If this is a quick fix for you or someone else, it would save me many hours of setup time to be able to contribute a PR.  However if I accumulate enough pending simple fix requests here I'll eventually do the work.  :)

[2019-04-11 21:20] findepi commented on #583
[code]

[2019-04-11 21:47] findepi commented on #619
@ngpgopi for query like `select * from data limit 100;` we would always be hitting "can potentially read more than 100000 partitions".
When listing partitions we unfortunately do not know whether they are empty or not, so we don't know whether listing 100 partitions (or 1,000, or 10,000) is enough.
I appreciate the fact that in most of the cases it _is_ enough to get first 100 partitions (usually:

[2019-04-12 01:47] #622 closed

[2019-04-12 02:04] wyukawa commented on #620
These partitions are not broken because directory exists.
[code]

The webhdfs protocol works because there is no error when we create a non-partitioned external table pointing at a WebHDFS location like this.

[code]

[code]

[code]

[2019-04-12 02:22] archongum opened #628 "PREPARE statement limit to 4KB"
According to https://github.com/prestodb/presto/issues/5759
I think it should have a session configuration for this.

# reason for this
Because of prestosql capable of quering data cross different kinds of databases so long SQL is needed. Unfortunately, I have this kind of long SQLs....

[2019-04-12 02:31] archongum commented on #628
On Presto UI, this statment executed successfully.
![1](https://user-images.githubusercontent.com/20929338/56008172-d752da00-5d0d-11e9-8986-f9f4932d0cff.jpg)

But return error
![2](https://user-images.githubusercontent.com/20929338/56008175-d8840700-5d0d-11e9-8d93-233a9c0882be.jpg)

[code]

[2019-04-12 05:17] martint commented on #619
Fixed by #621

[2019-04-12 05:17] #619 closed

[2019-04-12 05:19] #583 closed

[2019-04-12 05:20] electrum commented on #619
I added the partition limit two years ago in order to fix a production issue where queries on tables with millions of partitions would cause the coordinator to do a full GC due to memory pressure. It is a safety feature, but you can experiment with increasing or (effectively) removing the limit by changing the `hive.max-partitions-per-scan` Hive config property.

There are probably changes we coul

[2019-04-12 05:31] electrum commented on #620
Hmm, this is strange. Can you post the full stack trace for the failure? I'm wondering if there is a sporadic WebHDFS error. We did update the Hadoop library in 307 from `2.7.7` to `3.2.0`.

Does it always fail on the same partition or file system location?

[2019-04-12 06:00] wyukawa commented on #620
Yes.

Here is the full stack trace for the failure when I use a presto-cli.

ddl
[code]

cli error example
[code]

[2019-04-12 06:32] electrum opened #630 "Release notes for 309"
## David Phillips
- [x] all checked
-  04-12 14:13:56    3f42207242 Fix dependency injection for HttpBackupModule
-  04-12 18:21:01    08002e2ac8 Remove redundant condition for window frame
-  04-13 11:53:11    20fbf6f42c Fix string representation of JmxTableHandle
-  04-14 06:24:19    fc61dcb821 Fix typo in 308 release notes
-  04-15 08:30:53    b3b016b85c Add session to applyLimit and applyFilte

[2019-04-12 06:34] findepi commented on #628
@archongum this is a known limitation. This is because prepared statements are sent in HTTP headers.
The plan is to sent them in POST body (there was some old PR doing this).
Current roadmap is to include this feature in "client protocol v2".

Prepared statements are sent in POST body when you're using Starburst Presto (with appropriate drivers),
this removes the limitation completely.

If you can

[2019-04-12 06:38] findepi opened #631 "Optimize `SHOW TABLES`"
When using `SHOW TABLES` against Hive connector, the Metastore is queries twice.
This is because
- `io.prestosql.sql.rewrite.ShowQueriesRewrite.Visitor#visitShowTables` delegates `SHOW TABLES` to `information_schema.tables`
- `information_schema.tables` differentiates between tables and views, so we query Metastore twice in https://github.com/prestosql/presto/blob/8f949a79585387614d428fe2a3d0ab84b

[2019-04-12 07:11] kokosing commented on #631
Does it actually do a call to HMS? Are you sure that results are not taken from cache?

[2019-04-12 07:19] archongum commented on #628
By setting this session seems not working for me. It came out the same error.

[2019-04-12 07:20] Praveen2112 commented on #631
But if the cache is disabled it would fetch from the HMS right ?

[2019-04-12 07:41] archongum commented on #628
@findepi Please reproduce it by executing this query.
[PREPARE statement1.txt](https://github.com/prestosql/presto/files/3072107/PREPARE.statement1.txt)

[2019-04-12 07:46] kokosing commented on #631
Transactional cache is always enabled. We do not query HMS twice for the same thing within the same transaction.

[2019-04-12 08:02] findepi commented on #631
@kokosing there are 2 calls to HMS.
The one that we don't need is this one:
https://github.com/prestosql/presto/blob/8003a11caaea40ce349ef33746c8537c35619122/presto-hive/src/main/java/io/prestosql/plugin/hive/metastore/thrift/ThriftHiveMetastore.java#L726-L727

[2019-04-12 10:29] ebyhr commented on #628
The query causes stackoverflow without the first line.

[code]

[code]

[2019-04-12 20:00] findepi commented on #630
[code]
https://github.com/prestosql/presto/pull/614

Hm.. I don't know how to phrase this correctly.

[2019-04-13 01:32] archongum commented on #628
@ebyhr It's just an example and I just want to simulate long SQL which I do have in prod. Try this query
again please.
[PREPARE-statement2.txt](https://github.com/prestosql/presto/files/3075612/PREPARE-statement2.txt)

[2019-04-13 01:44] Jedda1314Jessie commented on #628
@ebyhr Actutally we want to execute a long statement whose size is 12 kb  in our production environment .What we sent to you is a simple to mock a statement of big size.

After we set up the http-server.max-request-header-size parameter to 64kb in config.properties, it still  could not been executed because it's size was more than 4kb.

[2019-04-13 15:49] findepi commented on #628
@archongum @Jedda1314Jessie I assume you restarted Coordinator after setting `http-server.max-request-header-size` in config.properties.
When you tried again, what error did you get? Do you have full stacktrace?

Also, did you try Starburst Presto (with enterprise drivers)? Alternatively you can apply https://github.com/prestodb/presto/pull/5868 and build both Presto server and drivers.

[2019-04-14 20:31] findepi commented on #630
[code]
https://github.com/prestosql/presto/pull/317

[2019-04-15 00:35] oneonestar commented on #626
Coordinator separate a file into splits(chunks to read) and allocate the splits to different workers. It is not safe for a worker to extend the range to read without coordination, because that could potentially overlap with other split.

I think you may try:
* Kafka Connector
* Write into a new file instead of append to existing file

[2019-04-15 06:09] findepi commented on #626
To be precise, you cannot atomically create a new file and delete an existing file, so the new file would need to be in a different location (create new file → change table location → delete the old file).

Another workaround given by @electrum on Slack was to use text format for this particular table (assuming the file size is below the split size).
This is probably the simplest approach. Since t

[2019-04-15 07:21] archongum commented on #628
# Env
config.properties
[code]

# Step

## 1 execute **LONG** SQL(First execution)

### 1.1 mitmproxy(There is no `X-Presto-Prepared-Statement` parameter because it's a new connection)
![image](https://user-images.githubusercontent.com/20929338/56112669-52c2be80-5f8e-11e9-8e45-964eb1b803d3.png)
![image](https://user-images.githubusercontent.com/20929338/56112731-800f6c80-5f8e-11e9-989c-826b124ad23

[2019-04-15 15:07] ddrinka commented on #626
I totally agree with the responses here.  This is an uncommon use case and there are a number of viable workarounds.  However, I think the fix could be trivial as well, and would remove the dependence on the race condition, for at least some scenarios.

Presto already knows that a file is small and to handle that scenario specially.  Presto also knows if it will be requesting the entire content le

[2019-04-15 19:17] phd1994 commented on #567
I see. I understand the point of keeping things granular for selective application of transformation. In that case, I believe we could somehow keep track of reducing transformations (using utility functions) while creating the plan tree, and then implement a common Rule<? extends PlanNode> with different captures.

[2019-04-15 21:13] findepi commented on #626
@ddrinka I understand your case is rather easy to fix.
However, this requires special casing and is not "generally useful" (we still do not support in-place replacements of ORC files).
My personal preference is to not introduce a change here. Others may have different opinion though.

[2019-04-16 01:13] ebyhr commented on #620
Could reproduce it in my laptop using version 308. Exactly, partition with webhdfs throws `Partition location does not exist` even if it exists.

[2019-04-16 03:07] PennyAndWang opened #641 "The number of workers is not perfectly right if more than one coordinators exist in the same cluster。"
In our  company，in order to restart the coordinator gracefully,  we need launch another new coordinator in the same cluster at some point. The coordinator is always set  “node-scheduler.include-coordinator=false”。I find the number of workers is not perfectly right  if more than one coordinator exist in the same cluster。For example ,if a cluster has 5 nodes and there are two coordinators  in this 5

[2019-04-16 03:29] Praveen2112 commented on #641
Hi @PennyAndWang ,
That's a nice catch. I am not sure if it is the right approach to run multiple coordinators in the same cluster as it might make the workers to switch between multiple coordinators and it might lead to some racing issue for memory allocations and other stuffs.

Apart from that the reason why it shows 4 workers is that in `ClusterStatsResource` we get the active node count and de

[2019-04-16 03:46] ddrinka commented on #626
@findepi yep, and I totally agree, it's not generally useful.  I guess to me it's not new special casing, it's using the existing special casing for small files.  No new configuration required.  And it's a partial, though not complete, fix to a (debatable terminology) bug.

No offense for a won't fix close.  I just wanted to document the conversation here rather than on Slack.

[2019-04-16 04:24] oneonestar commented on #626
S3FileSystem in wrapped inside the Hadoop FileSystem. On top there are ORC file reader, CachingOrcDataSource and PageSource layer. All these classes involved the fileSize and offset calculation. Implement this "fix" will break a lot of the abstractions and make the logic very difficult to understand. I'd prefer a won't fix here.

[2019-04-16 07:42] archongum commented on #628
### Env
* presto: StarBurst Presto 302-e.7
* presto-jdbc: StarBurst Presto jdbc 302-e.7
* NiFi: 1.8.0

@findepi It seems that StarBurst Presto not support Connection Pool?
![image](https://user-images.githubusercontent.com/20929338/56190815-ad771b80-605d-11e9-812b-01940a8b8691.png)

If I change jdbc to `presto-jdbc-308.jar` in NiFi (still StarBurst Presto Server) then it works fine.

[2019-04-16 07:51] PennyAndWang commented on #641
@Praveen2112 ，really thank you very much for your reply and your advice。  I know the reason according the source code ,that is "if (!isIncludeCoordinator) {activeNodes -= 1;}" 。 I think the real number of workers should be more accurate , so  i will submit the code 。

[2019-04-16 09:25] sopel39 commented on #641
@PennyAndWang in case of multiple coordinators, coordinator should point to `localhost` as discovery server. Workers should connect to only single discovery server. For example this could be achieved via coordinator dns binding or attaching dedicated coordinator network interface (e.g: ENI in AWS).

[2019-04-16 13:14] ebyhr opened #643 "Schema and database mapping in SQLServer"
Currently presto maps sqlserver's schema to presto's schema, but I think it should be sqlserver  database → presto schema. Is it intentional design? I guess general sqlserver users expect `sys.sysdatabases` result as presto schema.

[code]

[code]

https://prestosql.io/docs/current/connector/sqlserver.html

The SQL Server connector can only access a single database within a SQL Server server. Thus

[2019-04-16 13:24] findepi commented on #643
@ebyhr good question!
If you use databases and only `dbo` schema in each database, then it makes sense.
if however you use schemas other than `dbo`, how would you expect Presto to make them available for querying?

[2019-04-16 14:09] ebyhr commented on #643
Oh I see, understood...! Exactly, presto can't handle such case. Let me close this issue.

[2019-04-16 14:09] #643 closed

[2019-04-17 03:43] PennyAndWang commented on #641
@sopel39 ， really thank you very much for your reply.  I will explain the real reason.  In our company, we deployed a discovery server. The coordinator and the workers both registered with the discovery server. The coordinator is not a discovery service node and is set to "discovery-server.enabled=false". Moreover, there is a layer of proxy on the client and server to implement the highly availabl

[2019-04-17 03:43] PennyAndWang commented on #641
@sopel39 ， really thank you very much for your reply.  I will explain the real reason.  In our company, we deployed a discovery server. The coordinator and the workers both registered with the discovery server. The coordinator is not a discovery service node and is set to "discovery-server.enabled=false". Moreover, there is a layer of proxy on the client and server to implement the highly availabl

[2019-04-17 03:56] PennyAndWang commented on #641
@Praveen2112 ，I want to change the code to
"long activeNodes = Sets.difference(nodeManager.getNodes(NodeState.ACTIVE),nodeManager.getAllNodes().getActiveCoordinators()).size();" , but the new problem comes. If the  coordinator is set " node-scheduler.include-coordinator=true", ie the coordinator is also a compute node, then the above code  is still not very accurate. I want to solve the above prob

[2019-04-17 08:39] sopel39 commented on #641
I don't think you can implement coordinator HA with just single discovery server instance. It could be that dispatched (https://github.com/prestosql/presto/pull/95) could help here, but its still in review.

[2019-04-17 21:32] pgagnon opened #647 "Support UUID in PostgreSQL connector"
UUID columns in Postgresql tables are silently dropped in Presto. This was previously reported in  prestodb/presto#10951 and @findepi gave implementation directions.

I will probably submit a PR for this in the near-term since this is a feature that I need. I'd like to gather some opinions though on either if UUID types should be represented as a binary(16) or a char(36).

[2019-04-18 01:58] ebyhr commented on #647
As you may already know, cassandra connector maps UUID to varchar(36). I feel same mapping looks better if there's no special reason to use binary type.

[2019-04-18 02:19] ebyhr commented on #647
Just confirmed current unsupported types in postgresql connector.
[code]

[2019-04-18 07:05] findepi commented on #647
@ebyhr thanks for the list.
To steer the discussion -- fixing one (or small few) per PR will be probably most efficient,
unless there is some strong binding pattern between the types (eg. `tsquery`, `tsvector`, `tsrange`).
A PR that tries to fix many types at ones will be hard to review and is likely to have more iterations.

Also, let's start with types that matter most, i.e. are needed most broa

[2019-04-18 12:45] pgagnon commented on #647
@findepi Yes, I will PR UUIDs perhaps today.

[2019-04-18 15:04] electrum commented on #647
I think we should add a UUID type to Presto. The type can use the int128 block internally but render in the standard textual format.

For now, we only need the type. We might also add a few basic functions like generating different UUID variants, but that can be done later.

[2019-04-18 22:59] JamesRTaylor commented on #12
This functionality is supported in BigQuery as described [here](https://cloud.google.com/bigquery/docs/reference/standard-sql/array_functions).

One use case is to simplify queries that process arrays. Instead of doing a cross join, you can use the ARRAY function on a subquery. For example, you can do this:
[code]
instead of this:
[code]

[2019-04-18 23:59] JamesRTaylor opened #650 "Support struct type"
A STRUCT type constructor would be similar to the ROW constructor, but would support naming the fields inline instead of requiring the more verbose `CAST(ROW(...) AS ROW(...))` syntax:
[code]
BigQuery supports this as described [here](https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#struct-type).

For example, instead of this:
[code]
you'd be able to do this:
[code]
Perhaps

[2019-04-19 01:19] martint opened #651 "Support for WINDOW clause"
The syntax and semantics are described in section 7.15 of the SQL specification.

[code]

[code]

[code]

This feature allows declaring a named window specification, which can then be used when calling window functions. It is useful to eliminate duplication when multiple window function invocations use the same window specification. The window specification can refer to other window specifications

[2019-04-19 06:13] findepi commented on #630
[code]

https://github.com/prestosql/presto/pull/642

[2019-04-20 11:05] ebyhr opened #655 "Support nested collection type in Cassandra connector"
Current Cassandra connector throws NPE if the column has nested collection type.
[code]

[2019-04-22 06:50] VicoWu opened #656 "Python Client for Kerberized Presto"
I am currently working on and testing python presto client for kerberized presto server.
The presto python client I am using is [presto-python-client](https://github.com/prestodb/presto-python-client)

But whaterver I do, the client reports `CERTIFICATE_VERIFY_FAILED`:
[code]
From the server, I add debug log for SSL and the server reports unknown ca error:
[code]

My client code:
[code]

[2019-04-22 16:46] martint commented on #1
Yes, that would fall out naturally from having LIMIT be an alternate form of FETCH FIRST/NEXT.

Agreed. That's confusing. Let's not add it for now. We can always expand later.

[2019-04-22 16:53] martint commented on #1
Some additional details form the spec:

[code]

[code]

[2019-04-22 17:51] kokes commented on #455
Not sure how Google Cloud announces terminations, but on AWS, this can be detected using an API call from within the instance. It's recommended to poll this every five seconds and you then get a two-minute window to clean up whatever you're working on.

https://aws.amazon.com/blogs/aws/new-ec2-spot-instance-termination-notices/

[2019-04-22 22:49] #591 closed

[2019-04-22 22:50] findepi commented on #630
[code]
https://github.com/prestosql/presto/pull/592

[2019-04-22 22:51] voycey commented on #455
Short of cancelling the query and restarting it again after the instance is
replaced I don't see the benefit of this?

What Presto needs is to handle this cleanly so it can be used with large
clusters cost effectively.

Especially important for Geospatial work as some of our queries are taking
8+ hours

On Tue, 23 Apr. 2019, 03:51 Ondrej Kokes, <notifications@github.com> wrote:

[2019-04-22 23:18] electrum commented on #656
I don't think this is related to Kerberos. This is failing during TLS connection establishment, which is before Kerberos. I'm confused by the errors and am not sure if this is a client problem or server problem. It is either

* the client does not trust the server certificate
* the server does not trust the client certificate

My suggestion is to make sure the certificates are working by using eit

[2019-04-23 00:05] VicoWu commented on #656
@electrum , yes, you are correct, it is an SSL error, which has nothing to do with kerberos.
The client didn't provide a certification, the SSL for presto should be a one-way verification, am I right?  The certification I provided is just CA-Bundle cert, that is to say , a file with the CA certificate and the intermediate-ca certificate;
the SSL for presto is a server-verification in client side,

[2019-04-23 00:08] VicoWu commented on #656
@electrum  in the presto cli example provided by presto official doc, it seems that the client didn't have to provide his certification, but just add the Coordinator's certification into client keystore as a trust cert, thus the client could trust the certification provided by Coordinator; But I didn't see any client certificate verification on the server side.

[2019-04-23 02:00] electrum commented on #656
Presto does support client certificates as an authentication method. The validation on the server happens inside Jetty (or the JDK SSL code) during TLS connection establishment. (Presto has `CertificateAuthenticator` which will be used if `http-server.authentication.type` includes `CERTIFICATE`. This authenticator merely validates that a client certificate was provided.)

Based on your explanation

[2019-04-23 08:16] findepi commented on #17
@Praveen2112 @martint @kokosing

i was thinking about this today and came to conclusion that there are these concepts:

1. object name (where object is a catalog, schema, table, view, role, function, user, etc.)
2. identifier name in a query (can be quoted or not)

We need to distinguish them, because they are different.

* table name `abc` is just the three lower-case letters; a table name cannot

[2019-04-23 10:33] VicoWu commented on #656
@electrum
[code]
And in the server side ,it shows:

[code]

[2019-04-23 10:41] kokosing commented on #630
[code]
#383

[2019-04-23 11:29] VicoWu commented on #656
@electrum
When deploying Presto Coordinator on HTTPS, I followed this link(https://prestosql.io/docs/current/security/tls.html#server-java-keystore)
But there are something very blurry:
Firstly, we create the keystore file for coordinator:
[code]
Then, that's everything what coordinator needs?

But then , the document also says in the **Java Truststore File for TLS** part,  we have to use command

[2019-04-23 13:03] findepi commented on #630
[code]
https://github.com/prestosql/presto/pull/652

[2019-04-23 14:43] findepi opened #660 "Map Cassandra collections to Presto collections"
Currently, Cassandra connector maps all collection types (list, set and map) to Presto `varchar`.

They should be mapped to Presto `array` & `map` as appropriate.

[2019-04-23 18:08] martint commented on #17
The spec talks about object names being *identifiers*. This is pervasive across the spec document:

However, it then describes the domain of the columns that represent object names in the `INFORMATION_SCHEMA` and `DEFINITION_SCHEMA` tables using:

And:

As an example, this is how the SQL_IDENTIFIER domain is used in the definition of the `CATALOG_NAME` base table in `DEFINITION_SCHEMA`:

[code]

T

[2019-04-23 21:08] findepi commented on #17
@martint thanks for looking into this.

For existing objects, names should be returned as-is.
If the remote storage is case insensitive (like Hive is, right?), we could add some normalization here.
But for JDBC connectors we generally shouldn't.
Table names are case-sensitive in eg Postgres, MySQL, SQL Server or Oracle. It is only "less convenient" (requires `"`-delimiting) to create tables with c

[2019-04-23 21:24] kokes commented on #455
1) You could starve the instance of any new splits, just let it finish whatever it's working on, send the remainder of the queue elsewhere, and don't send any new work its way (if possible, I'm not terribly familiar with Presto's internals)
2) I'd rather the current state was sent to a different node and this "old" node was completely forgotten. The idea of waiting for a node replacement is, I thi

[2019-04-23 21:38] dain commented on #455
This is already supported.  Looking at the code, you http `PUT` containing the json `'SHUTTING_DOWN`' to `/v1/info/state/`

I think this is the best long term approach, but it is much more complex due to the adaptive streaming nature of Presto.

I think this is an orthogonal feature.  In some cases it might be nice to have materialization points like Hadoop uses, but in a much more targeted manor

[2019-04-23 21:39] phd3 commented on #563
@dain So if I understand this correctly, having dictionary blocks will help reduce shuffled data significantly for complex replicate channels, especially for cases like the one @oneonestar mentioned with >100 columns. but when the array/map fields have high cardinality, won't RLE blocks be a better choice?

[2019-04-23 21:44] dain commented on #563
@phd3 Yes.  If an RLE block can be used, it is a better choice than a dictionary block.  The biggest part of the win comes switching away from a direct block to either a dictionary or RLE block.

BTW there will also a significant improvement in CPU time spent in the unnest operator itself since it will no longer need to copy data.

[2019-04-23 21:52] phd3 commented on #563
@dain Thanks for the clarification. That makes sense. I would like to work on this and create a PR. Planning to include memory tracking to this operator as well.

[2019-04-23 21:56] kasiafi commented on #1
There are two major differences between LIMIT and FETCH:
1. LIMIT value must be specified to either number or ALL, while FETCH value defaults to 1 if not specified,
2. according to spec, FETCH value cannot be lower than 1, while LIMIT 0 is accepted.

The former difference doesn't bother me, but I find the latter difference hard to justify.
@martint do you think I could disobey the spec and allow F

[2019-04-23 21:56] martint commented on #563
@oneonestar, were you already working on this? If not, @phd3, please go for it!

[2019-04-23 21:59] martint commented on #1
Let's start with strict compliance. We can always relax later if necessary.

[2019-04-24 00:55] voycey commented on #455
I believe the way it is handled in things like Hive are that the dead / dying nodes are just 'excluded' from the available node pool - any splits it was handling is returned to the queue (I don't know the correct terms excuse me) and this is then picked up by the next node.
As Dataproc (and AWS spot instances) continually cycle in and out this can happen fairly regularly.
I'm sure most people who

[2019-04-24 00:56] ebyhr commented on #660
Should we make it configurable for a while? Or is it okay to change it at once?

[2019-04-24 00:58] voycey commented on #455
The time limit is the factor here - on GCP the instance gets a 30 second warning, this can trigger a script (and send the PUT request you mention) but if the instance is force terminated in that time does the whole query still fail?

[2019-04-24 03:42] jiangzhx commented on #574
hi,i found some clue, PushPartialAggregationThroughExchange's PATTERN
private static final Pattern<AggregationNode> PATTERN = aggregation()
            .with(source().matching(exchange().capturedAs(EXCHANGE_NODE)));

only work with this .
Aggregate
  --ExchageNode
      --MarkDistinct

but when select from view(union all) ,the pattern not work.
Aggregate
  --MarkDistinct

any suggestion? shoud  i

[2019-04-24 05:00] electrum commented on #455
Hive on MapReduce executes by breaking the query into a series of MapReduce jobs, each of which has a set of Map and Reduce tasks. If any of the tasks fail, they must be retried. The final output of each reduce task is written to HDFS. The input to each mapper is one or more files on HDFS, from either the original input table, or the output of a previous MapReduce job.

Presto is a streaming query

[2019-04-24 05:14] electrum commented on #455
Support for spot instances (or their equivalent) has recently become a highly requested feature due the substantial cost savings. I plan to work on this in the near future. The idea is to support evacuation of a node when requested by moving all of its state to different nodes.

We will get the framework in place by starting with the simplest possible task shape, likely the final stage of an aggre

[2019-04-24 05:15] voycey commented on #455
We use Airflow to retry the queries that we can - unfortunately even broken down to their smallest components some queries take a few hours to run, running this on normal nodes isn't really feasible due to the costs involved. There was some talk of async checkpoints when I brought this up on the previous repo - not sure how feasible it was?

[2019-04-24 05:16] voycey commented on #455
This is great news - as long as I know that this is somewhat on the roadmap I am happy, we are currently offloading many of these long running queries to BigQuery and I would prefer to keep it all in one place!

[2019-04-24 06:29] electrum commented on #656
I understand your confusion now. That documentation is rather out of date and the two sections are actually describing two different things (not something you can follow as a tutorial).

You are correct that the KeyStore example is like a root CA because it is self-signed.

The TrustStore example is for creating a Java TrustStore from an existing CA certificate file (of the CA that signed the serv

[2019-04-24 07:51] stagraqubole commented on #576
Proposal for supporting Insert Only Transactional Hive tables: https://docs.google.com/document/d/1GwSNc_6jSP8N1SyJIHnaMeWvh7JzhGPZ7QKm1DHJqEw/edit?usp=sharing

@electrum @martint @dain please review. I have a wip implementation of this which is able to read Insert Only Transactional tables from Hive3

[2019-04-24 08:28] kokes opened #662 "ML plugin documentation (and its future)"
Hi, there is quite a bit of ML code [here](https://github.com/prestosql/presto/tree/master/presto-ml/src/main/java/io/prestosql/plugin/ml) (~2K SLOC), but apart from the original pull request https://github.com/prestodb/presto/pull/1275 and [release notes from May 2014](https://prestosql.io/docs/current/release/release-0.69.html), I can't find anything on this.

What are the plans for this? Has it

[2019-04-24 10:42] kokes opened #663 "Query timing in the cli depends on time spent in the pager"
When I run a query that forces a pager to be invoked, the timing of such query includes time spent in the pager.

If I run a query with `PRESTO_PAGER=cat`, I get

[code]

If instead I don't supply a `PRESTO_PAGER` and use the default (`less`), then if I spend some time paging the results (or doing nothing), then this time spent is reflected in the query timing.

[code]

So you see the exact same q

[2019-04-24 11:15] findepi commented on #663
@kokes there might be some reporting friction here that can be improved.
However in general, when you use pager your query can actually take longer to complete.
This is because coordinator is streaming query results to the client. When you start a pager,
query results are loaded lazily and so they query can become blocked on the client, as
coordinator's buffers fill up.

[2019-04-24 11:51] Praveen2112 commented on #663
@kokes If the `PRESTO_PAGER` is set to use default (`less`) the timer continues to run till we press `q` to stop it.(Typical behavior of `less` command in Linux)

[2019-04-24 12:47] kokes commented on #663
I know, that's what I reported above.

The issue is not only that time is misrepresented, but also the performance characteristics (rows/s, MB/s), since they appear to be computed on the client side.

So this way of reporting may give the user an impression that their query is slow and not performant. It also doesn't match the UI, so that adds further confusion.

[2019-04-24 14:27] Praveen2112 commented on #663
Okay. So in that case we can modify the `StatusPrinter` to use the elapsed time which is obtained from the `StatementStats` rather the timer from the cli.
So we can modify
`Duration wallTime = nanosSince(start);`
to
`Duration wallTime = succinctNanos(stats.getElapsedTimeMillis());`
and the final stats line would be running on the actual counter.

@findepi Your insights on this ?

[2019-04-24 14:46] Praveen2112 commented on #17
@findepi Thanks for your insights.

But currently `Name` object also captures the same right i.e it maintains the rawName and the info whether it is delimited or not

[2019-04-24 19:10] dain commented on #576
@electrum what do you think about create a high level issue to track this stuff?  I would say the proposal above is part of the Hive 3.0 support project, and a sub item of supporting new table organizations. The proposal only covers reading of insert only tables and not write or full acid tables.

[2019-04-24 19:16] dain commented on #662
We are not actively working on it, and we are not aware of anyone using it.  If you want to document it, we would be more than willing to merge the changes.

[2019-04-24 19:17] findepi commented on #663
@Praveen2112
yes, i think we should improve. CLI-reported stats ideally should match UI-reported stats.
I don't know the CLI code that well, so can't say of this is the right fix.
@electrum ?

@kokes,
please be aware that even after this change, query stats with page and query stats without pager will be different.
if you have large query results and you're using a pager -- pager will prevent CLI

[2019-04-24 23:30] electrum commented on #576
I read the proposal and it seems reasonable. One question is that it mentions deltas, which to my understanding are only for full ACID, not insert-only.

From an implementation perspective, table layouts are deprecated. I’m working on a PR to remove them from the Hive connector. I suggest waiting for that, which should be complete and merged sometime next week, then send a PR on top. I’m happy to

[2019-04-25 01:32] #9 closed

[2019-04-25 01:57] martint commented on #630
[code]
#661

[2019-04-25 02:00] martint commented on #630
[code]

[2019-04-25 03:14] stagraqubole commented on #576
@electrum I remembered there were discussion around removing table layouts but saw them in master hence went ahead with it, we can wait till your changes land and replace table layout dependency with whatever gets used to fetch partitions.
About the deltas for insert-only tables, they are created for every insert. Difference with full ACID tables is that for deletes in full ACID tables delete_delt

[2019-04-25 04:50] electrum commented on #630
[code]
#636

[2019-04-25 05:33] VicoWu commented on #656
Yes, you are correct. I just export the certificate from the coordinator keystore and use it as the CA BUNDLE and it works now. But just as I asked before, since we already created a self-signed CA for our whole hadoop cluster, is it possible to use this CA to signed a cert for Presto Coordinator, then the CA BUNDLE will be our hadoop cluster ca, instead of a presto-specific CA?

[2019-04-25 07:44] electrum commented on #656
That should work. There’s nothing special about TLS in Presto. It’s all standard by design.

[2019-04-25 10:43] findepi commented on #631
Probably best fix would be to implement projection pushdown (#18) in information schema.
When `table_type` from `information_schema.tables` is not needed, `InformationSchemaPageSourceProvider#buildTables` wouldn't need to list views.

[2019-04-25 23:16] #630 closed

[2019-04-25 23:44] oneonestar commented on #563
Sorry for the late reply. I got some brief POC works on hand only. @phd3 If you already started your work, you can take over it. Or else I’ll continue the work (slowly although).

In unnest operator, there are unnest columns and replicate columns.
For the replicate columns, it is obvious that a dictionary block can save a lot of CPU copying time and memory usage.
For the unnest columns, in some ca

[2019-04-25 23:53] JamesRTaylor opened #677 "Include number of bytes to be scanned in IO EXPLAIN plan return value"
It'd be useful to include the estimated number of bytes to be scanned in the returned JSON value of an `EXPLAIN (TYPE IO)` command if statistics are available. Given the result is JSON, the return value could easily be parsed by client tools to give the user a rough idea of the time it will take to execute the query.

For example, a new `estBytesScanned` attribute could be added to the
[code]

[2019-04-26 02:03] electrum opened #678 "Release notes for 310"
## Dain Sundstrom
- [x] all checked
-  04-30 11:01:29    14feea590c Reduce the identifier length in generated code for nested columns
-  04-30 12:11:42    0736c51e36 Add decimal coercions for table/partition mismatch in Hive connector
-  04-30 12:11:42    4a456a88b5 Adding double to float coercer
-  04-30 12:11:42    ab70612eb6 refactor Hive Coercion code structure to make it more clear
-  04-30 1

[2019-04-26 06:52] stagraqubole opened #680 "Data locality based scheduling of source splits with uniform distribution of load"
For cases where Presto workers are co-located with the data (actual or cache), we want to maximize local reads by assigning source splits to workers which contain the data for that split. But we do not want to do this at the cost of lower parallelism i.e. overburdening only a few workers.

The currently available scheduling policies do not solve for this, the details of their limitations for this

[2019-04-26 10:16] elonlo commented on #628
That is because the jetty response header size >= 8kB, you need add http-server.max-response-header-size=64kB to override default size
ref to [Airlift](https://github.com/airlift/airlift/pull/727)

[2019-04-26 10:21] elonlo commented on #628
That is because the jetty response header size >= 8kB, you need also add http-server.max-response-header-size=64kB to override default size
ref to [airlift](https://github.com/airlift/airlift/pull/727)

[2019-04-26 10:59] findepi opened #682 "Map PostgreSQL arrays to JSON"
PostgreSQL support for arrays (added recently in https://github.com/prestosql/presto/pull/317) suffers from conceptual problem.

Postgres type system does not distinguish between array types with different
number of dimensions. `_int4`, `int[]`, `int[][]` and `int[][][][][][]` are all equivalent
to the type system.

[code]

Currently we map these types as follows:
* `_int4` → not supported
* `int[

[2019-04-26 10:59] findepi commented on #682
cc @vincentpoon @guyco33

[2019-04-26 11:05] findepi commented on #682
I don't like backing off a feature developed so nicely. I see lots of advantages of mapping to Presto arrays, like:
- better Presto type system than with JSON
- easier access (via subscripts)
- more performant

However, i am convinced we should not enforce strict types on something that has no strict types.
This will backfire. And it's much easier to change this now than later.

[2019-04-26 13:13] kokosing opened #683 "Product tests goes out of travis memory"
See: https://api.travis-ci.com/v3/job/195820691/log.txt

[code]

It failed for `PRODUCT_TESTS_BASIC_ENVIRONMENT=true`

[2019-04-26 15:15] findepi commented on #682
I will try to rephrase the problem:

- We thought PostgreSQL supports arrays and multi-dimensional arrays
  just like Presto so we mapped them to Presto arrays.
- However, PostgreSQL support has one type of arrays: "arrays of some number
  dimensions" where the number of array dimension is _not_ property of the type,
  it's a property of particular _value_.
  - Within a single table column I can h

[2019-04-26 15:47] guyco33 commented on #682
Yes. Thanks @findepi for the clarification!
Mapping Postgres Arrays to Postgres Json makes sense.

[2019-04-26 17:23] dain commented on #563
@oneonestar you can use the `Columnar*` classes to convert structured blocks into their elements.  For example, [ColumnarArray](https://github.com/prestosql/presto/blob/master/presto-spi/src/main/java/io/prestosql/spi/block/ColumnarArray.java) gives you the raw elements array for the arrays column (all arrays concatenated together), the lengths and offsets.  I think this will make it possible to d

[2019-04-26 17:32] phd3 commented on #563
@oneonestar Thanks for your response and sharing your observations. We've seen issues getting more frequent with unnest queries on deeply nested columns. This improvement can be a huge help to us, happy to take this up.

[2019-04-26 17:40] guyco33 commented on #682
Maybe it will be much valuable to map Postgres Arrays to Presto Arrays of Json

[2019-04-26 22:43] vincentpoon commented on #682
Yes, the dimensions property of the array type in Postgres is not enforced, it's up to the user if they want to maintain consistency.  However, since Presto enforces dimensions implicitly, what that means is if you write only from Presto, the current solution works fine.  But we do have the potential for problematic data written through Postgres directly.

However mapping to JSON sounds quite mess

[2019-04-27 00:29] vincentpoon commented on #682
Not sure how feasible this is, but perhaps another option would be to write a custom data type which does exactly what we want - i.e. a BlockBuilder that can hold either an array or a baseType value.  That way we can return results of mixed dimensions, of a given baseType.

There doesn't seem to be many examples of writing a custom data type, though, so I'm not sure what limitations there are.

[2019-04-27 02:46] electrum commented on #682
How do people use such arrays in PostgreSQL from SQL? It seems like this would be really hard to use.

[2019-04-27 06:43] findepi opened #684 "Multi-step execution"
Certain queries would benefit from materializing part of the query (even if only in memory) and re-planning the rest.
Typical case is a query over partitioned table where partitioning key column filter is dynamically evaluated:

[code]

[2019-04-28 02:01] VicoWu commented on #656
Yes, I do export the self-signed rootca-like certificate from the coordinator keystore and use it as the presto cli and Python; It succeeded.
But my question still exists, what if I want to use a normal certification dedicated for coordinator? How could import this certificate to coordinator keystore? I tried to replace the self-signed certificate with the certificate dedicated for Coordinator(Rem

[2019-04-28 05:11] electrum commented on #656
The easiest way is to use a PEM file. Just concatenate the private key and certificate files that you’d use for non-Java programs.

This script we use for tests shows how to generate a CA, server, and client certificates (might give you some ideas): https://github.com/airlift/airlift/blob/master/http-server/src/test/resources/clientcert-pem/clientcert-pem.sh

[2019-04-28 06:16] guyco33 commented on #682
@electrum Though I've never encountered such tables with mixed dimension arrays, I guess that they are used only by code after retrieving the dimension count with ```array_ndims``` function

[2019-04-28 19:43] findepi commented on #683
This might also be related to apparent freezes like

[code]

[2019-04-29 09:31] sopel39 commented on #684
For multi-step execution we could have a series of plannings: e.g:
[code]
So for initial plan `P` we extract some partial queries `Q1, ..., Qn` which are fully executed. Then we replan again (with new statistics) and extract further partial queries `Q(n+1), ... Q(n+m)`. We repeat that until we fully consume plan `P` (e.g: `P -> P1 -> P2 -> ... -> Pi -> []`.

It seems that there could be some objec

[2019-04-29 23:41] electrum commented on #682
@dain and I discussed this and had an idea. We can have a flag that says how to treat

* `fail` -- map to Presto arrays and fail the query if the dimensionality doesn't match
* `null` -- like `fail` but return null
* `json` -- map arrays to the `json` type

Having `fail` be the default seems reasonable, since it seems unlikely that (1) users would use mismatched dimensionality and (2) users would

[2019-04-30 01:33] puneetjaiswal opened #695 "PrestoException: Compiler failed - for queries with nested schema having size greater than 65K"
Hi Presto Devs,

We have a few nested tables in Hive, and using presto to query those.
We are seeing this error `PrestoException: Compiler failed` when nested schema size is greater than 65535 chars.

Here are steps to reproduce this:
1. patch HMS with - https://reviews.apache.org/r/57759/diff/1#11
2. Use Hive 2.3 or above which does not enforce 4k char limit on field length.

Create table command

[2019-04-30 01:35] vincentpoon commented on #682
+1, fwiw I also have not encountered use of mixed dimension arrays.

[2019-04-30 02:25] electrum commented on #695
This looks like the same issue as #537

[2019-04-30 04:04] ddrinka opened #696 "IllegalArgumentException on out-of-memory error"
I'm running PrestoSql:latest in a sandbox with not much heap allocated.  I'm used to out-of-memory errors.  This looks like another out-of-memory error, but something's wrong with the error message.

[code]

[2019-04-30 05:01] electrum commented on #696
Thanks for providing this stack trace. It looks like an entry in `MemoryPool.taggedMemoryAllocations` is somehow negative. Can you provide your Presto and JVM configuration (as much as you can share)?

[2019-04-30 05:05] ddrinka commented on #696
I'm using the Starburst docker image, which has the following configurations (https://github.com/starburstdata/docker-images/tree/master/presto/etc):
[code]

I'm using ORC files on Hive.  Note that if you suspect an ORC bug, that wouldn't surprise me.  I'm serializing to ORC with my own library and I'm confident there are a number of bugs left in it.

[2019-04-30 05:12] ddrinka commented on #696
That said, the query works fine on our production nodes which run 0.206 (with a lot more RAM).

[2019-04-30 06:03] electrum commented on #696
I just created a PR that will catch these invalid values at the source: https://github.com/prestosql/presto/pull/697

Would it be possible for you to reproduce this problem with the above patch?

[2019-04-30 06:04] puneetjaiswal commented on #695
Yes, it is. thanks.

[2019-04-30 06:04] #695 closed

[2019-04-30 17:40] sopel39 commented on #678
[code]

https://github.com/prestosql/presto/pull/698

[2019-04-30 17:40] dain commented on #682
Maybe rename `null` to `ignore`?

[2019-04-30 18:04] cdw9bf opened #699 "Presto Identifies S3 Writes using EmrFs as a regular File System"
When using EmrFs to write to S3, Presto identifies the writes as going to a regular file system instead of S3. This has the consequence of two things, writing temporary files to the base directory on a S3 bucket and not allowing writes to a S3 path if the path doesn't exist.

The problematic code is located [here](https://github.com/prestosql/presto/blob/master/presto-hive/src/main/java/io/prestos

[2019-04-30 18:54] ddrinka commented on #696
@electrum Is there a way to pull the build artifacts out of the TravisCI job, or do I need to build manually on my side?

[2019-04-30 19:14] electrum commented on #699
This can be done by calling `getClass().getName()` and comparing to the string rather than an `instanceof` check. Are you interested in working on this yourself? Otherwise I can mark this as a *good first issue* since it is only a couple of lines.

[2019-04-30 21:23] cdw9bf commented on #699
Yeah I'd be happy to take this up, does it matter if the PR is to the prestosql or prestodb project?

[2019-04-30 21:30] dain commented on #699
Yes, it does matter. prestosql and prestodb are two different projects (https://github.com/prestosql/presto/issues/380).  Also, the code has different packaging, names and often different changes, so a PR is specific to one project.

[2019-04-30 21:31] electrum commented on #699
Please submit the PR to this repository.

[2019-04-30 22:27] dain commented on #678
[code]
#352

[2019-05-01 13:17] kokosing commented on #678
[code]
#550

[2019-05-01 20:10] tooptoop4 opened #704 "feature req - query a http endpoint"
I am looking at ability to query results from an API (ie https://jsonplaceholder.typicode.com/posts?userId=1) but instead of just GET requests would like to send POST request and have presto query the response.

ie
https://redash.io/help/data-sources/querying/json-api
https://zappysys.com/blog/import-rest-api-json-sql-server/
https://docs.retool.com/docs/querying-via-sql
https://www.progress.com/t

[2019-05-02 06:29] #663 closed

[2019-05-02 11:14] sopel39 commented on #678
[code]

https://github.com/prestosql/presto/pull/602

[2019-05-02 16:07] pgagnon commented on #647
Just to keep everyone in the look I have spoken with @Praveen2112 and he is planning on PR'ing UUIDs as presto types. This will be on hold for a little bit in order to sync with his work.

[2019-05-02 20:18] sopel39 commented on #678
[code]
https://github.com/prestosql/presto/pull/711
[code]

[2019-05-03 09:01] sopel39 commented on #696
Fixed via https://github.com/prestosql/presto/pull/602

[2019-05-03 09:01] #696 closed

[2019-05-03 16:02] martint commented on #678
[code]

#666

[2019-05-03 16:04] martint commented on #678
[code]

#665

[2019-05-03 16:12] dain commented on #678
[code]
#537

[2019-05-03 17:58] neilkod opened #714 "feature request: function which returns array pairs(permutations/combinations)"
It's useful to aggregate on combinations of items in in an array.

A toy example:

User 1 bought `[eggs, potatoes, milk, grapefruit]`

We want to aggregate all of the pairs(or triplets, etc) of items bought together.

so ideally, given this input, it would return

`[(eggs, potatoes), (eggs, milk), (eggs, grapefruit), (potatoes, milk), (potatoes, grapefruit)...(milk, grapefruit)]`

Ideally a flag f

[2019-05-03 18:32] electrum commented on #678
[code]
#692

[2019-05-03 18:35] electrum commented on #678
[code]
#241

[2019-05-03 18:36] electrum commented on #678
[code]
#568

[2019-05-03 18:38] sopel39 commented on #678
[code]

[2019-05-03 18:38] electrum commented on #678
[code]
#687

We might want to expand on this

[2019-05-03 22:56] #678 closed

[2019-05-04 00:50] electrum opened #716 "Release notes for 311"
## Dain Sundstrom
- [x] all checked
-  05-07 12:25:46    bd75aa4c59 Fix NPE when moving unregistered query between memory pools
## David Phillips
- [x] all checked
-  05-06 10:14:32    ca782293f8 Auto-discover Cassandra protocol version
-  05-06 21:02:26    769efffadf Generate sitemap in documentation
-  05-07 10:15:44    450aca0241 Add system.metadata.table_comments table
-  05-07 10:15:44    e43

[2019-05-04 15:06] findepi commented on #714
@neilkod is `ngrams` (https://prestosql.io/docs/current/functions/array.html#ngrams) something similar to what you want?

[2019-05-04 15:11] martint commented on #714
@findepi, no, ngrams produces sequences of adjacent n elements. This issue is about adding something to produce permutations or k-combinations (i.e., n choose k)

[2019-05-04 17:52] findepi commented on #714
@neilkod please see https://github.com/prestosql/presto/pull/718

[2019-05-05 02:15] archongum commented on #628
@elonlo Thanks! Fixed by [airlift/airlift #727](https://github.com/airlift/airlift/pull/727)

add to `config.properties`
[code]

effective on `prestosql 310`

[2019-05-05 02:15] #628 closed

[2019-05-05 15:27] findepi commented on #662
@ebyhr recently wrote a quick tutorial about the ML plugin: https://www.ebyhr.org/2019/04/machine-learning-connector-in-presto.html

[2019-05-05 16:10] neilkod commented on #714
@findepi  thanks for jumping on this so quickly!

re: ngrams - @martint said it best-ngrams is useful for sequences of adjacent n elements - this is most useful when analyzing text. Many people frequently and incorrectly assume that ngrams will return combinations. This might be a function of the lack of descriptive documentation for `ngrams()`

[2019-05-05 16:20] neilkod commented on #714
@findepi i submitted https://github.com/prestosql/presto/pull/719 to briefly explain what an ngram is(in the docs) - based on @martint's comments above. I need to go through the CLA process though. Feel free to take this over.

[2019-05-06 05:05] hustnn opened #720 "Planning becomes very slow when filtering column in a huge list"
Refer https://github.com/prestodb/presto/issues/9990 for more discussion.

[2019-05-06 12:44] guyco33 commented on #682
We can use Postgres ```array_to_json``` function to easily do the JSON mapping. It can help especially for multi-dimensional arrays tables.
For example:
`with tab as (values (array[array[1,2]]),(array[2]))
select * from tab
`

[2019-05-06 14:58] guyco33 commented on #616
Maybe it's possible with `typeManager.resolveOperator(OperatorType.CAST, ImmutableList.of(arrayType))` if you can also supply the desired returned type ....

[2019-05-06 20:52] #655 closed

[2019-05-06 20:53] findepi commented on #716
[code]
https://github.com/prestosql/presto/pull/657

[2019-05-06 22:34] martint opened #722 "Add support for bitwise shift functions"
Presto currently supports bitwise functions and/or/xor/not. We should add support for bitwise left and right shift.

We need to consider how the function may or may not be sensitive to the length of the data type. From the original issue (https://github.com/prestodb/presto/issues/4028):

[2019-05-07 17:03] asavov-quora opened #724 "NullPointerException when local memory limits are exceeded"
Getting this when local memory limits are exceeded (intermittently) on Presto 308:
[code]
![image](https://user-images.githubusercontent.com/41026671/57318501-56d68d80-70af-11e9-983f-e9e5481b2793.png)

[2019-05-07 17:45] findepi commented on #724
@asavov-quora thanks for reporting this.
This looks slightly similar to https://github.com/prestosql/presto/issues/696 which should be fixed by 310.
Would you have a chance to retest on that version?

cc @sopel39 @electrum

[2019-05-07 19:25] #724 closed

[2019-05-07 19:28] dain commented on #716
[code]
#725

[2019-05-07 19:52] findepi commented on #724
Thanks @dain for quick turn around!
@asavov-quora the fix will be in Presto 311 release.

[2019-05-07 20:52] niraj8241 opened #726 "Accessing AWS Glue Catalog in different account using presto"
Well, this is not an issue but I am trying to access aws glue catalog using presto which is situated in a different account. I can access the Glue catalog in the account where the presto instance is running using the below configuration:

connector.name=hive-hadoop2
hive.metastore = glue

While looking at the properties list. I don't seem to find any option to provide access/secret key to access G

[2019-05-07 21:06] electrum commented on #726
This is a current limitation, but should be easy to add. If you're interested in working on this yourself, it should be just adding them to `GlueHiveMetastoreConfig` and using them in `GlueHiveMetastore` to create the AWS client (creating a `BasicAWSCredentials`).

In the latest `310` release, we did add `hive.metastore.glue.iam-role` which allows you to choose the IAM role to assume for connectin

[2019-05-08 10:59] kokosing commented on #716
[code]

#68

[2019-05-08 17:22] dain commented on #137
Fixed in 310

[2019-05-08 17:22] #137 closed

[2019-05-08 17:26] dain commented on #1
Fetch was added in 310.  Offset still remains to be implemented.

[2019-05-08 20:04] #714 closed

[2019-05-08 20:07] findepi commented on #716
[code]
https://github.com/prestosql/presto/issues/714, https://github.com/prestosql/presto/pull/718

[2019-05-09 19:42] skarsri opened #734 "Unable to query Mongodb nested document using presto"
Currently we are using Presto ver 0.309. From Presto cli, we are unable to query document based on shipping address zip.

Does Presto-MongoDB connector support multi-level nested document?

sample contact collection
{
   _id:ObjectId(""),
"name":"",
"addresses":{
"shipping":{
"street":"",
"zip":""
},
"billing":{
"street":"",
"zip":""
}
}
}

[2019-05-09 21:38] martint commented on #716
[code]

#733

[2019-05-10 06:13] voycey opened #736 "Can Presto use Hive indexes?"
Previous issue: https://github.com/prestodb/presto/issues/3433

We have a table with 229B rows in it, if we want to issue a count on this table it takes upwards of 30 minutes to return the value. Hive returns the same value instantly.

We are using the Hive catalog - does it not make sense to read the Hive indexes for these tables in this case?

[2019-05-10 16:29] martint commented on #716
[code]

#732

[2019-05-10 19:46] findepi commented on #1
Offset was added in https://github.com/prestosql/presto/pull/732, will be available in Presto 311.

[2019-05-10 19:46] #1 closed

[2019-05-11 10:40] ebyhr commented on #734
Could you please share the error message? I could receive a result using the definition.
[code]

[2019-05-11 20:56] pgagnon opened #749 "Document usage of AWS Glue Catalog as a hive metastore"
Usage of AWS Glue Catalog as a hive metastore in the `presto-hive` plugin is currently undocumented, as @findepi noted in this comment: https://github.com/prestosql/presto/pull/748#discussion_r283110759.

We should minimally document glue-related configuration options in order to help users get started with the feature.

[2019-05-12 04:27] chancez opened #752 "Java 11 causes Error injecting constructor, java.io.IOException: Can not attach to current VM"
Getting the following error when trying to run Presto 310 with Java 11. I also found the same issue in the prestosql slack channel https://prestosql.slack.com/archives/CFLB9AMBN/p1554760462185400.

[code]

[2019-05-12 04:31] electrum commented on #752
Try adding this to `etc/jvm.config`:
[code]
If that's the problem, we should add that to the deployment instructions.

[2019-05-12 04:32] chancez commented on #752
So I tried that, and now I'm getting
[code]

Note, I am running with
[code]

using https://github.com/prometheus/jmx_exporter

[2019-05-12 04:37] chancez commented on #752
Trying with a minimal set of flags to figure out if it's anything specific.

[2019-05-12 04:47] chancez commented on #752
It seems like these are the minimum properties needed to cause this problem:

[code]

[2019-05-12 04:50] chancez commented on #752
Without any extra jvm flags, eg:
config.properties:

[code]
jvm.config:
[code]

[2019-05-12 04:53] electrum commented on #752
The problem is that the first three flags tell the JVM to start the agent, then the Airlift code in `JmxAgent9` unconditionally tries to start the agent itself. The code for Java 8 in `JmxAgent8` detects that it's already running. I'm guessing there were problems doing this detection for Java 9.

We either need to fix this detection, or add a config flag to skip loading the agent. This flag might

[2019-05-12 04:55] chancez commented on #752
I see, so it shouldn't occur if I set the jmx options in presto only?

Also, what about `jdk.attach.allowAttachSelf=true` is that just kinda a default option needed since JMX is started unconditionally?

[2019-05-12 04:57] electrum commented on #752
`jdk.attach.allowAttachSelf` is what allows the Airlift JXM agent code to connect to the current JVM and start the JXM agent.

[2019-05-12 05:01] chancez commented on #752
I see, that makes sense.

So status update for anyone else who runs into these issues:

I was able to still use JMX by only using
[code]
in config.properties, and

[code]

In jvm.properties.

All seems to be working, including my Prometheus JMX exporter.

Once you touch `com.sun.management.jmxremote` is when things stop working, for the reasons @electrum already mentioned.

[2019-05-12 05:41] electrum commented on #752
Thanks for helping us find this confusing scenario. I have a patch to add a hint about the self-attach flag and to skip starting the agent if it's already configured: https://github.com/airlift/airlift/pull/733

[2019-05-12 07:16] #726 closed

[2019-05-12 13:20] kmokashi opened #754 "Presto is unable to map nested objects in ElasticSearch"
Current Elasticsearch connector throws UnsupportedOperationException for nested object type
Example nested field in index:

     "departments": {
          "type": "nested",
          "properties": {
            "dept": {
              "type": "text",
              "fields": {
                "keyword": {
                  "type": "keyword"
                }
              }
            }

[2019-05-12 16:19] martint commented on #754
@zhenxiao, are you working on this already?

[2019-05-12 17:22] martint commented on #722
Specifically, we need to think about the following scenarios:
* How does it behave for different types: TINYINT, SMALLINT, INTEGER, BIGINT?
* How does it behave with respect to implicit casts?

Naming-wise, we may want to call them `bitwise_left_shift` and `bitwise_right_shift`

[2019-05-13 01:32] martint opened #757 "Remove implicit cast between BIGINT -> REAL"
REAL has nowhere near enough precision to hold values that can fit it a BIGINT. This can cause very surprising results when operating between REAL values and "smallish" values of BIGINT:

[code]

[2019-05-13 03:55] zhenxiao commented on #754
yes, am working on it

[2019-05-13 03:57] MichaelChirico opened #758 "Why force `long` type for approx_percentile weights?"
Cross-posting from https://github.com/prestodb/presto/issues/12794

From `approx_percentile(x, w, percent)`:

I don't understand well the implementation of `approx_percentile` in the case of using weights. IIUC it's driven by the Q-digest data type from this paper: http://www.cs.virginia.edu/~son/cs851/papers/ucsb.sensys04.pdf

But I don't see any mention of incorporating weights there; I poked ar

[2019-05-13 04:55] martint commented on #758
Thanks for the detailed analysis, @MichaelChirico. There's no specific reason for not accepting `double` as weights, other than in the beginning it was intended as a way to simulate multiple repetitions of the same value. The underlying implementation is designed to support time-decayed weights, so it allows fractional weights natively.

[2019-05-13 04:57] MichaelChirico commented on #758
Awesome! So, to support double weights would be as simple as adding new
function signatures?

On Mon, May 13, 2019, 12:55 PM Martin Traverso <notifications@github.com>
wrote:

[2019-05-13 05:04] martint commented on #758
Yes, it should be as simple as that.

[2019-05-13 05:06] martint commented on #758
Would you like to submit a pull request? If not, I can take care of it.

[2019-05-13 05:15] MichaelChirico commented on #758
Sure, I'll try my hand when I get a chance, should be pretty straightforward

On Mon, May 13, 2019, 1:06 PM Martin Traverso <notifications@github.com>
wrote:

[2019-05-13 06:00] MichaelChirico commented on #758
@martint working on a PR now, it seems ultimately we send `weight` to this function in `airlift`:

https://github.com/airlift/airlift/blob/master/stats/src/main/java/io/airlift/stats/QuantileDigest.java#L260

But I only see a `long` signature there...

[code]

[2019-05-13 06:02] MichaelChirico commented on #758
I'm no Java programmer but it looks like that function immediately converts `count` to `double`... but still the call to `add` will fail if it's passed a `double` isn't that right?

Shall i first file a PR at `airlift` adding an `add(long, double)` signature?