[2022-09-08 12:29] findepi commented on #13891
from @dain  on slack https://trinodb.slack.com/archives/CGB0QHWSW/p1662612713776499?thread_ts=1662612510.911199&cid=CGB0QHWSW

[2022-09-08 12:29] #13891 closed

[2022-09-08 12:48] findepi commented on #13778
probably same as https://github.com/trinodb/trino/issues/13288

@MiguelWeezardo see especially https://github.com/trinodb/trino/issues/13288#issuecomment-1240279537

[2022-09-08 13:13] Praveen2112 commented on #14054
Does HDP 2.6 supports transaction tables ? I think transaction tables are supported from 3.0+ version.

[2022-09-08 14:05] djsstarburst commented on #14014
@martint and I spent a long time yesterday looking into this.

We concluded that the predicate in a `WHEN NOT MATCHED AND predicate THEN INSERT VALUES (a, b, c)` must be evaluated in the join scope as the current SQL MERGE implementation does.

We also found, as @mdesmet reported, that the spec says that the inserted values should be scoped to the source, and table name aliases for source table co

[2022-09-08 14:31] djsstarburst commented on #13621
@martint and I looked at the failure in `BaseConnectorTest.testDelete`, and concluded that we needed an optimizer analogous to `RemoveEmptyDeleteRuleSet` for `MergeWriter`.

We also looked at the failure of `BaseConnectorTest.testDeleteWithSubquery`, and concluded that the problem is in `LocalExecutionPlanner.visitMergeWriter`, because that code is assuming that the source layout and the node's ou

[2022-09-08 14:31] doctorhulk opened #14060 "Add support for session windows"
Hello everyone,

Is there any pending idea to extend windowing functions in Trino and the window frame specification to support session windows? I think about something like has been recently added to Spark: https://www.databricks.com/blog/2021/10/12/native-support-of-session-window-in-spark-structured-streaming.html.

We're evaluating Trino for our use case, were we analyze user activity on a web

[2022-09-08 14:37] findepi commented on #14054
Trino doesn't support Hive ACID tables with HMS version < 3
(This is what HDP 2.6 provides.)

I think MERGE is tested with hive ACID on Hive 3. @djsstarburst please correct me if I am wrong.

[2022-09-08 18:10] djsstarburst commented on #13621
I pushed a commit that implements `RemoveEmptyDeleteRuleSet` for `MergeWriter` and it fixes the problem shown by `BaseConnectorTest.testDelete`.

I pushed a second commit that fixes `BaseConnectorTest.testDeleteWithSubquery`.  In the previous code, the `pagePreProcessor` created by `LocalExecutionPlanner.visitMergeWriter` was a NOOP, because source outputs were used for both layouts.  The one-line

[2022-09-08 18:12] djsstarburst commented on #14054
Correct.

[2022-09-08 18:35] findepi commented on #14054
@Praveen2112  Hive ACID was added around Hive 1.2

but we support Hive ACID after Hive 3 changes to it

Disallowing.
But we don't know the HMS version, so we don't disallow explicitly.
(Same for INSERT, etc.)

[2022-09-08 18:35] #14054 closed

[2022-09-08 18:38] mdesmet opened #14064 "Iceberg time travel should respect column definitions as of the snapshot version"
When reading from snapshots we should use the column spec as of that version instead of the current column spec.

[code]

See following spark SQL (using CREATE OR REPLACE to change the columns and content)

[code]

[2022-09-08 19:15] sopel39 commented on #14042
The idea is to extend partitioned writer scaling to buckets too. Then stats are not much relevant and user experience is better as insert is more resilient. cc @gaurav8297

Exactly.

[2022-09-08 19:19] sopel39 commented on #14023
I think `OutputStreams` can be wrapped (e.g. `io.trino.hdfs.TrinoFileSystemCache.OutputStreamWrapper`), so unwrapping should really be recursive. This is not easy because `OutputSteram` doesn't have build-in method for unwrapping.

I also think both `TrinoS3FileSystem.TrinoS3StreamingOutputStream` and `io.airlift.slice.OutputStreamSliceOutput` should also allocate buffer lazily. Also they should i

[2022-09-08 19:26] sopel39 commented on #14047
[code]
https://github.com/trinodb/trino/pull/12798

[2022-09-08 20:42] alexjo2144 commented on #12636
Blocking writes to tables with CHECK constraints: https://github.com/trinodb/trino/pull/14068

[2022-09-08 23:02] leetcode-1533 commented on #9471
I would like to work on this.

[2022-09-08 23:47] ebyhr opened #14071 "Pinot connector throws `No PropertyMetadata for property: pinotColumnName` in `SHOW CREATE TABLE`"
[code]

cc: @elonazoulay @xiangfu0

[2022-09-09 00:11] ebyhr commented on #14047
[code]

#13882

[2022-09-09 01:24] djsstarburst commented on #13621
With these commits the failure count is reduced enough that it becomes enumerable.  There are 39 test failures, of which 20 are Kudu, which is totally broken for DELETE and UPDATE.  Most of the rest of the failures are related to apparently illegal partition schemes.  Kudu is the only `CHANGE_ONLY_UPDATED_COLUMNS` connector, and that may have something to do with those failures.

Here are the test

[2022-09-09 02:04] elonazoulay commented on #14071
I have a fix for this, I will extract it and push a quick pr.

[2022-09-09 02:21] ellieshen commented on #13040
@elonazoulay  .As you said, Pinot “with clause” subqueries can be pushed down if without “order by” in the subqueries, after we removed the “order by” , it looks work for one “with clause” table, somehow it looks still not pushdown if the subqueries have join two “with clause” tables. Could you take a look what’s the reason? I sent you  the query and the EXPLAIN 1:1 already.

[2022-09-09 07:30] findinpath commented on #13889
https://github.com/trinodb/trino/runs/8263699613?check_suite_focus=true

[2022-09-09 07:44] findepi commented on #12516
Also encountered by Rodrigo as discussed here https://trinodb.slack.com/archives/CGB0QHWSW/p1662650934614339

[2022-09-09 07:55] findepi commented on #14023
Good question. I don't know, @hashhar . cc @arhimondr

[2022-09-09 08:00] findepi commented on #13379
@gaurav8297 can you please make the issue description more self-contained.

Also, what's the relation between this one and https://github.com/trinodb/trino/issues/14042 ?

[2022-09-09 08:15] #13107 closed

[2022-09-09 08:21] raunaqmorarka commented on #14047
[code]
#14029

[2022-09-09 08:40] sopel39 commented on #14023
I don't think it's a duplicate. Improving memory efficiency, fixing leaks != accounting for memory

[2022-09-09 13:42] losipiuk commented on #14023
Good point. Yet whatever whichever path we go with we need to do unwrapping somewhere unless we migrate from of `OutputStream` at all. Or maybe the other option would be to pass `OutputStream` around together with some function which is able to compute its memory usage. I would need to play with the code to see what is feasible.

Buffer in `OutputStreamSliceOutput` is 4K so I do not think it is ne

[2022-09-09 14:22] findepi commented on #14047
[code]

#14062

[2022-09-09 14:27] findepi commented on #13889
https://github.com/trinodb/trino/runs/8265920214?check_suite_focus=true

[2022-09-09 14:30] findepi opened #14078 "Iceberg predicate pushdown for date/time columns and year() function"
Like https://github.com/trinodb/trino/pull/14011 but for year() function.

- for date, and timestamp this can be done in the engine
- for timestamp with time zone this can be done in a connector

[2022-09-09 14:32] findepi commented on #14078
https://github.com/trinodb/trino/pull/14011 adds some tests for `year()` in `BaseIcebergConnectorTest` (with TODOs)

[2022-09-09 14:49] djsstarburst commented on #13621
All the Kudu delete and update tests are failing, and the problem has nothing to do with Kudu being a `CHANGE_ONLY_UPDATED_COLUMNS` connector.

The tests are failing because 1) the connector uses the presence of any rowid column as a signal to create a KuduUpdatablePageSource, but more fundamentally, the KuduRecordCursor created to read the file has no rowId column and so the copyPrimaryKey operat

[2022-09-09 15:18] #14060 closed, assigned to nobody

[2022-09-09 15:19] findepi commented on #14052
Looks like already tracked by https://github.com/trinodb/trino/issues/9471

[2022-09-09 15:19] #14052 closed

[2022-09-09 15:28] findepi commented on #14000
@huberty89 can you please add a checklist in issue description, saying explicitly which tables are known to be affected

[2022-09-09 15:47] findepi commented on #13951
The documentation is wrong.

cc @mosabua @jhlodin

[2022-09-09 15:47] #13960 closed

[2022-09-09 16:21] jhlodin commented on #13951
@findepi Which part of it is incorrect, that leading and trailing spaces are not included in comparisons of `CHAR` values?

[2022-09-09 16:28] mosabua commented on #13951
I found that out in the book writing recently. It used to be false .. and is now true. @martint said he is not sure and will confirm with the SQL spec and then either fix the code or we update the docs. As such I am assigning this to Martin .. I have no access to the spec.

[2022-09-09 17:34] erikerlandson opened #14083 "trino BigQuery connector does not work with external service-accounts"
We have configured a BigQuery connector, and for billing reasons, we need to use it with a service account created in a google project that is different than the project that the BQ data are living in.  When we use this service-acct, we cannot `select` from any tables. We can list schemas and tables, and even `describe` tables. But actually querying the table contents fails, with a "table not foun

[2022-09-09 17:36] erikerlandson commented on #14083
Link to trino slack thread:
https://trinodb.slack.com/archives/CGB0QHWSW/p1661871177930719

[2022-09-09 17:37] jclum commented on #10874
@osscm any progress on this?

[2022-09-09 18:18] findepi commented on #13951
@jhlodin the leading and the trailing spaces are two separate things.

No leading spaces are ignored when comparing char values.

As to the trailing spaces --
Trino never compares values of different types (https://github.com/trinodb/trino/pull/13561)
For fixed `x`, if two `char(x)` values differ in number of trailing spaces, they _also_ differ in the  content _before_ them, so they are different

[2022-09-09 18:30] erikerlandson commented on #14083
cc @hashhar

[2022-09-09 18:56] martint commented on #13951
From the SQL specification:

* Comparisons

[code]

* Casts:
[code]

So, it depends on:
* the collation and padding characteristics of the types in question
* the rules for casting from a string type to another string type with larger length

In the expression above,

* `cast('a' as char(1))` is _supposed*_ to be of type `char(1)` and a value of `'a'`
* `cast('a' as char(2))` is _supposed*_ to be

[2022-09-09 19:22] mosabua commented on #13951
So in old releases this returned false ... now it returns true ..  so what are the next steps .. file bug and fix code or update docs?

[2022-09-09 21:24] elonazoulay commented on #14071
https://github.com/trinodb/trino/pull/14086

[2022-09-09 21:24] elonazoulay commented on #14071
@tan31989 - thanks so much for #13619, really really helps!

[2022-09-09 21:38] Aleyasen commented on #13741
@ebyhr Is this an indication that Trino does not support the above column types in the `CREATE TABLE ... SELECT ...` and `INSERT INTO ... SELECT...` queries on BigQuery?
The following error occurred as a result of this issue.
The `source_tb` table is on Hive, and the `target_tb` is on BigQuery.

[code]
I got the same error for `INSERT INTO ... SELECT ...` and also for `TIMESTAMP WITH TIME ZONE` ty

[2022-09-10 00:58] ebyhr commented on #13741
Correct.

Not workaround except for casting different types.

[2022-09-10 18:11] andreclaudino opened #14089 "UDF Plugin: Which is the corresponding Java type to map(string,string)"
I am creating a plugin to host an UDF, it is an http_get function, receiving the `httpAddress` path, the query `parameters` and the request `headers`. It is implemeted in scala:

[code]

When running on trino, it raises the following exception:

[code]

The problem is: What is the corresponding java type to `map(varchar,varchar)`?

I've tried Many:

* Scala Map[String, String]
* Java Map<String, S

[2022-09-10 23:05] Aleyasen commented on #13741
Thanks for the quick reply @ebyhr. Would you be able to provide a rough ETA for the implementation of the feature in Trino?

[2022-09-11 13:14] JDRanpariya opened #14093 "In memory caching of frequevently used tables? Question"
is there a way to cache in-memory with Rubix or Alluxio? I'm looking for in-memory caching of frequently used tables. is it possible with trino in-memory or apache ignite?

[2022-09-11 18:17] hashhar commented on #11116
@tangjiangling Should I re-open this since only part of this is done. The other part probably requires reworking Trino DATE type to support even larger values?

Or would you want to create a separate issue?

[2022-09-11 18:21] tangjiangling commented on #11116
@hashhar Thanks for the reminder, I will file a new issue.

[2022-09-11 18:26] tangjiangling commented on #11116
Reopening is enough.

see https://github.com/trinodb/trino/pull/11148#issuecomment-1216558987

[2022-09-11 22:48] ebyhr commented on #13741
There's no ETA at this time.

[2022-09-11 22:52] ebyhr commented on #14089
`Map` should be `Block`. I think `MapEntriesFunction` helps you as the example.

By the way, you can ask questions about development in https://trino.io/slack.html `#dev` channel.

[2022-09-11 22:52] #14089 closed

[2022-09-11 23:09] ebyhr opened #14095 "Accumulo connector ignores column comments when creating a new table"
[code]

See `io.trino.plugin.accumulo.AccumuloClient#getColumnHandles`

[2022-09-12 07:34] #14064 closed

[2022-09-12 07:53] findinpath commented on #13889
https://github.com/trinodb/trino/runs/8298217310?check_suite_focus=true

[2022-09-12 12:47] vlad-lyutenko commented on #13889
https://github.com/trinodb/trino/runs/8302497949?check_suite_focus=true

[2022-09-12 14:55] djsstarburst commented on #13621
The real reason that the Kudu connector was failing all DELETE and UPDATE tests was that those tests didn’t use the `createTableForWrites` mechanism, so the tables didn’t have the primary key declaration that Kudu requires.  Converting the tests to use `createTableForWrites` is not simple, because most of the tests use CTAS, and it seems the create must be separated from the insert in order to spe

[2022-09-12 18:58] liqinrae opened #14104 "Missing iceberg manifest list file after HMS read times out"
Hey folks, we are running Trino 385 on self-managed EKS cluster on AWS and have been seeing missing manifest list file issue frequently in the event of HMS read timeout, similar to this issue https://github.com/trinodb/trino/issues/12581

`"message":"java.sql.SQLException: Query failed (#20220830_200538_00217_v3bfb): Failed to get status for file: s3://our_bucket/our_table/metadata/snap-5248356702

[2022-09-12 19:09] djsstarburst commented on #13621
I pushed a commit, later to be squashed, fixing the Raptor failures.

The `BaseConnectorTest` DELETE and UPDATE tests mostly used CTAS, but connectors like Kudu that need a primary key in each table.  In order to use the `createTableForWrites` mechanism, I separated table creation from insertions.

With that change, all but two of the Kudu DELETE and UPDATE tests now pass.  One of the failures is

[2022-09-12 19:39] leetcode-1533 commented on #9471
Hey, a quick update for implementing Parquet’s bloom filter. I am planning to split the code review into two PRs: 1. Trino to be able to write parquet file with bloom filter 2. Trino to be able to push predicate against bloom filter statistics

I am currently working on RB1: and I saw three tasks:
	1.1 Enable Trino to read parquet bloomfilter related configs
	1.2 Construct bloom filter objects and

[2022-09-12 19:52] hashhar commented on #9471
FYI @raunaqmorarka @sopel39

[2022-09-12 20:29] jb-reefer opened #14107 "Anyone mind if I spruce up the webapp?"
## Proposal to do some webapp cleanup

There's a bunch of QoL problems. It uses flow - we should use to the better supported TypeScript. `npm run package` and `npm run install` should be called different names for standard React conventions (start and ... nothing? they're the same command, `webpack.config.js`). It's also vendoring a bunch of dependencies that aren't custom (from the look of it) an

[2022-09-12 20:47] leetcode-1533 commented on #9471
For 1.1, list of configs will be the same as https://github.com/apache/parquet-mr/tree/master/parquet-hadoop. such as
parquet.bloom.filter.enabled,
parquet.bloom.filter.expected.ndv
parquet.bloom.filter.fpp
parquet.bloom.filter.max.bytes

[2022-09-13 00:38] electrum commented on #14095
The current comment value used in `AccumuloColumnHandle.getColumnMetadata()` should use `setExtraInfo()` which is intended for this type of system-generated metadata.

[2022-09-13 00:49] electrum commented on #14104
Thanks for reporting. This is definitely a bug. `HiveMetastoreTableOperations` should be throwing `CommitStateUnknownException` here rather than `CommitFailedException`, since we don't know if the commit succeeded or failed on the metastore side. We can only throw `CommitFailedException` when we know for certain that the metastore operation failed. We shouldn't need Iceberg to retry here, since `T

[2022-09-13 01:40] liqinrae commented on #14104
@electrum thanks for your response! I am curious though, in [HiveMetastoreTableOperations](https://github.com/trinodb/trino/blob/c9f881f955147d6b1a4dee93e9bb64e41e301cd3/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/HiveMetastoreTableOperations.java#L92), is there any specific exception type we should check for that indicates the commit has indeed failed on the metastore s

[2022-09-13 02:50] #5356 closed

[2022-09-13 03:58] raunaqmorarka commented on #14047
[code]
#5356 #13246

[2022-09-13 06:19] yx-keith opened #14111 "trino-385 Error opening Hive split **.orc : could not obtain block , in high concurrency"
trino version: 385
hadoop version:  3.3.3

in low concurrency, it's ok,. but in high concurrency, throw could not obtain block exception

[2022-09-13 06:22] ebyhr opened #14112 "Upgrade minimum supported version in ClickHouse connector"
EOL of `21.3.2.5` is 30 Mar 2022

[2022-09-13 06:30] yx-keith commented on #14111
in our production environment, when submit same queries in **high concurrency**, it will throw Error opening Hive split and org.apache.hadoop.hdfs.BlockMissingException: Could not obtain block; but in low concurrency it is OK!

And in our another production environment, high concurrency queries are OK!

[2022-09-13 06:50] #6797 closed

[2022-09-13 08:04] #12745 closed

[2022-09-13 12:07] ebyhr opened #14116 "Force `NO_BACKSLASH_ESCAPES` mode in MariaDB and MySQL connectors"
[code]

* https://mariadb.com/kb/en/sql-mode/#no_backslash_escapes
* https://dev.mysql.com/doc/refman/8.0/en/sql-mode.html#sqlmode_no_backslash_escapes

[2022-09-13 13:07] duanyongvictory commented on #9877
hi , i am eagerly to use snapshot query for mor table，could you please give me the only code for support this feature?

[2022-09-13 13:22] tooptoop4 commented on #9877
@duanyongvictory  see https://github.com/trinodb/trino/pull/10228

some other todo items are:

- 'table redirection' from hive ie https://github.com/trinodb/trino/commit/74b324cf0089108492619a5176240c2ba2c8f36a#diff-26fea35b3bf02f4ddff9bc2d58707ae304807a65cfb1a7e7d492eb043d174681
- DDL support ie alter add col or drop/rename/change type col
- DML support ie insert/update/delete/merge

[2022-09-13 13:47] duanyongvictory commented on #9877
thanks for you reply.
I have already checked for  #10228 and the code, but i found no snapshot query supported，so could you please give me a little tip for this code ? so I can read by my self.

as you mentioned about the ddl/dml，in my case only dql are used，we do dml/ddl through spark。

thanks a lot. it will be a great helpful if you could give me the code file for snapshot query .

[2022-09-13 14:07] yx-keith commented on #14111
I have resovled it

[2022-09-13 15:05] raunaqmorarka commented on #14047
[code]
#14094

[2022-09-13 18:13] erichwang commented on #13692
Alternatively, we should see if we can parallelize this more.

[2022-09-13 18:23] colebow commented on #14047
@findepi - I'm not sure we'd need to include this one. If it was already an error, there's no material change in behavior, and users will organically benefit from the change if they bump into the error.

[2022-09-13 18:28] colebow commented on #13520
Probably not necessary, the javadoc does all it needs to. I thought we wanted plugins to also use @Experimental but the point is that it's used for SPI features, not plugin features, and we probably don't need to try to educate plugin developers to use it

[2022-09-13 18:28] #13520 closed

[2022-09-13 18:43] nastra opened #14119 "Re-enable testCreateNamespaceWithLocation / testUseUniqueTableLocations in Iceberg TestTrinoRestCatalog"
Re-eable after https://github.com/apache/iceberg/pull/5737 is fixed and released

[2022-09-13 18:45] nastra opened #14120 "Support Iceberg Views in TrinoRestCatalog"
This currrently depends on View support being added to Iceberg itself. Once this is done and released, we should enable View support in the `TrinoRestCatalog`

[2022-09-13 19:00] findepi commented on #14047
[code]

#13943

[2022-09-13 21:38] findepi commented on #8671
This seems to be exact same case as https://github.com/trinodb/trino/issues/2817

[2022-09-13 21:38] #8671 closed

[2022-09-13 22:40] tooptoop4 commented on #14111
how?

[2022-09-14 01:27] duanyongvictory commented on #9877
@tooptoop4
sorry to interrupt you again.
as i asked, any ideas could provide for me ? thanks.

[2022-09-14 02:24] pyh8023 opened #14121 "How to disable application.wadl page？"
By default, you can access http://{ ip } : { port }/application.wadl  HTML page. How to disable this page？

[2022-09-14 02:57] #14058 closed

[2022-09-14 03:07] ebyhr commented on #14047
[code]

#14088

[2022-09-14 03:52] duhanmin opened #14123 "An OutOfMemoryError occurs and cannot be recovered. You can only restart"
Trino version is 359:

[code]

[2022-09-14 03:53] duhanmin commented on #14123
jvm.config
[code]

[2022-09-14 03:55] duhanmin commented on #14123
config.properties
[code]

[2022-09-14 04:17] raunaqmorarka commented on #14107
Sounds good to me

[2022-09-14 06:16] hashhar commented on #14107
cc: @electrum regarding vendoring (and maybe other things as well).

[2022-09-14 06:18] hashhar commented on #14123
The error means that the JVM was unable to create a thread either because JVM ran out of memory (or more likely) because it ran out of the max number of processes that can be created (`nproc`).

You might want to use `jvmkill` similar to https://github.com/trinodb/trino/pull/13736 to make sure JVM is terminated in such condition.

The README at https://github.com/airlift/jvmkill explains why the J

[2022-09-14 07:16] #13889 closed

[2022-09-14 07:18] findepi commented on #13778
Closing as dup of https://github.com/trinodb/trino/issues/13288

[2022-09-14 07:18] #13778 closed

[2022-09-14 07:19] findepi commented on #13288
I closed https://github.com/trinodb/trino/issues/13778 as a dup of this.

cc @arhimondr @MiguelWeezardo

[2022-09-14 07:19] findepi commented on #13288
https://github.com/trinodb/trino/actions/runs/3046124099/jobs/4908791825

[code]

[2022-09-14 07:20] findepi commented on #13288
@MiguelWeezardo @nineinchnick how can we verify the hypothesis that there is some background cleanup going on inside `/tmp`?

[2022-09-14 07:23] #13629 closed

[2022-09-14 07:24] ebyhr commented on #14047
[code]

#13678

[2022-09-14 07:41] nineinchnick commented on #13288
@findepi we could set up `inotifywait` to find who's deleting files from `/tmp` or just prevent this by setting `chattr +a /tmp/<subdir>` (make it append-only)

[2022-09-14 07:49] findepi commented on #14123
Closing as answered.

[2022-09-14 07:49] #14123 closed

[2022-09-14 07:50] findepi commented on #14107
cc @raghavsethi

[2022-09-14 07:57] findepi commented on #14116
This probably affects complex expression pushdown and `RewriteVarcharConstant`.

[2022-09-14 07:57] nineinchnick commented on #13288
I'm not aware of anything like that, that would be running in the background and not explicitly.

[2022-09-14 07:58] findepi commented on #14116
(https://github.com/trinodb/trino/pull/14125 won't show that, since it doesn't exercise complex pushdown path)

[2022-09-14 08:06] duhanmin commented on #14123
@findepi  No other way to optimize but to reboot?

[2022-09-14 08:15] hashhar commented on #14123
I'd recommend you to check why it's running into that OOM, check max open file and process limits on the OS for the user under which Trino runs as, amount of memory left to OS after the heap size etc.

But yes, once the JVM gets into this state you need to restart it.

[2022-09-14 08:26] codope commented on #9877
@duanyongvictory the MOR snapshot query support is planned in the next quarter once the base PR merges. https://issues.apache.org/jira/browse/HUDI-2740

Would you like to contribute to this feature? I can share details of what changes would be required.

[2022-09-14 09:52] LvLiangLiang-dev opened #14127 "native engine about"
Do you have plans to do native engine, such as integrating velox.
tks

[2022-09-14 10:42] wikke commented on #11364
similar problem to me.

[code]

I want `dam` user with `global.dam` resource group take no more than `4GB` memory, but query exceeded, reaching 13GB!!!

![image2022-9-14_18-8-57](https://user-images.githubusercontent.com/1450849/190133519-93d59b08-8e9b-4f61-b1c4-3beeda550e71.png)

[2022-09-14 11:32] hakkibc opened #14128 "Support `write.metadata.delete-after-commit.enabled` & `write.metadata.previous-versions-max` config property in Iceberg"
For iceberg tables, two maintenance configurations are very important :
'write.metadata.delete-after-commit.enabled'
'write.metadata.previous-versions-max'
These properties should be set in table (at least creation time) just as "format-version" property.
Reference: https://iceberg.apache.org/docs/latest/maintenance/#remove-old-metadata-files

[2022-09-14 12:00] findepi commented on #14047
[code]

[2022-09-14 13:03] duanyongvictory commented on #9877
I would happy to.

[2022-09-14 13:05] duanyongvictory commented on #9877
i would happy to.
what changes do i need to know?
these days i have been study snapshot query for prestodb, why could prestdb ahead?

[2022-09-14 13:07] duanyongvictory commented on #9877
i would happy to.
what changes do i need to know? i also want to do some contribute.
these days i have been study snapshot query for prestodb, why could prestdb ahead?

[2022-09-14 17:22] osscm opened #14132 "Missing manifest file when releasing Hive Metastore's the lock has failed"
`HiveMetastoreTableOperations` using aquireLock and releaseLock while committing to iceberg existing table.
`releaseLock` happens in the `finally` block and that step can also fail, and that result into that missing manifest file.

Steps To Reproduce:

[code]

if [HiveMetastoreTableOperations's](https://github.com/trinodb/trino/blob/master/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg

[2022-09-14 21:07] marton-bod commented on #14132
Thanks for reporting @osscm! I have managed to reproduce this locally and have prepared a fix, for which I will open a PR shortly.

Incidentally, this same issue has already come up in the Iceberg hive-metastore module and was fixed accordingly by [PR](https://github.com/apache/iceberg/pull/987). Here's what the code fragment currently [looks like](https://github.com/apache/iceberg/blob/0f0b1af2eb

[2022-09-15 02:29] xiacongling commented on #9383
Hi, @shangxinli . I noticed that the previous PR has been closed, is there any progress on Parquet column encryption?

[2022-09-15 03:03] xiacongling commented on #11137
same issue from Kudu community: https://issues.apache.org/jira/projects/KUDU/issues/KUDU-3295. It may be fixed from version 0.16.0

[2022-09-15 06:31] kvishe opened #14136 "ERROR main io.trino.server.Server Configuration is invalid"
We are upgrading the server to newer version 380 with our old configuration but getting below error.

ERROR main io.trino.server.Server Configuration is invalid

Errors:
1) Defunct property 'experimental.spill-order-by' (class [class 10.trino.FeaturesConfig]) cannot be configured.
2) Defunct property 'experimental.spill-window-operator' (class [class io.trino. FeaturesConfig]) cannot be configured

[2022-09-15 06:58] yx-keith commented on #14111
this problem has nothing to do with hdfs block

**the reason is nofile and nproc is too small, make them bigger**
modify the following configuration in each trino node in /etc/security/limit.conf and files in /etc/security/limit.d/：

*	-	nofile	409600
*	-	nproc	65535

changed to:
*	hard	      nofile	        1000000
*	hard       nproc	1000000
* 	soft	      nofile	        1000000
*	soft       nproc

[2022-09-15 07:25] hashhar commented on #14136
The fine grained spill toggles are not needed anymore - they were added as a kill switch.
You can remove all of them and replace with just `spill-enabled`.

Re: reserved pool - reserved pool was removed in 372 since it led to underutilization of clusters. You can remove that as well.

Note that all of this is documented in the release notes for the versions in which these changes were introduced.

[2022-09-15 07:25] #14136 closed

[2022-09-15 08:28] findepi commented on #13946
same for other tests

https://github.com/trinodb/trino/actions/runs/3051089042/jobs/4919438612

[code]

[2022-09-15 10:00] losipiuk commented on #13946
It feels that the future returned from `FileSystemExchangeSource.isBlocked()` gets canceled.
And when we are trying to compute the `ignored` [here](https://github.com/trinodb/trino/blob/4d235b0143051b04adda0e9d988a3521e1d5bedd/core/trino-main/src/main/java/io/trino/server/protocol/Query.java#L343) we get an exception. I did not yet figure out why the future can get canceled.
It would happen if the

[2022-09-15 12:23] findepi opened #14141 "Random build failure because Java 11 gets picked"
`ci / maven-checks (17) (pull_request)`   https://github.com/trinodb/trino/actions/runs/3058962341/jobs/4935779621 printed
[code]

[2022-09-15 12:23] findepi commented on #14141
cc @nineinchnick @MiguelWeezardo

[2022-09-15 12:25] nineinchnick commented on #14141
Weird, we only install 17:
![image](https://user-images.githubusercontent.com/795177/190402972-33c0b9ab-22d2-44c5-bfcc-225f9e9900c7.png)

This sounds like an issue with the default Ubuntu runner, I'll check if there are any related issues reported upstream.

[2022-09-15 12:26] findepi commented on #14116
It does not, because the affected connectors (ones with some backslash processing: MariaDB, MySQL and probably also Redshift, SQL Server), do not have complex pushdown support at all yet.

I am including a generic smoke test for that in https://github.com/trinodb/trino/pull/14125 now

[2022-09-15 12:27] nineinchnick commented on #14141
Oh, it's included in the runner by default, from https://github.com/actions/runner-images/blob/ubuntu20/20220905.1/images/linux/Ubuntu2004-Readme.md:
![image](https://user-images.githubusercontent.com/795177/190403280-88fa1720-8cd9-4852-9b57-5926c4a5e456.png)

[2022-09-15 12:39] nineinchnick commented on #14141
I suggest using the JDK 17 available on the runner by default, in case the setup-java action silently fails - maybe the requests to the upstream JDK vendor (Azul) are interrupted?

[2022-09-15 17:35] arhimondr opened #14144 "Do not limit number of tasks to the number of nodes for bucketed tables in fault tolerant execution"
Current the number of tasks is limited by the number of nodes as the buckets come preassigned to a specific node

[2022-09-15 19:16] raunaqmorarka commented on #14047
[code]
#14063

[2022-09-15 21:01] #14047 closed

[2022-09-15 22:44] martint opened #14154 "Release notes for 397"

[2022-09-16 01:00] xiacongling commented on #11136
We are using Trino 386, and encounter the same problem. The failure information is:
[code]

[2022-09-16 01:17] xsgao-github opened #14156 "Postgresql connector - convert timetz to time(6), unsupported_type_handling cause errors"
Slacks: https://trinodb.slack.com/archives/CP1MUNEUX/p1663284984896799

I have a Postgresql table, which has a “time with timezone” column. It shows up in Trino as time(6) column. But when I execute select against it, I got error:

`Cannot convert the column of type TIMETZ to requested type java.time.LocalTime.`

I put unsupported_type_handling=IGNORE in my properties file, as suggested by https:/

[2022-09-16 02:13] xsgao-github commented on #14156
It may be worth spinning another issue for unsupported-type-handling. SEP
server failed to start if I put this property in catalog.properties file.

On Thu, Sep 15, 2022 at 9:22 PM Manfred Moser ***@***.***>
wrote:

[2022-09-16 04:58] linzebing commented on #13946
@losipiuk I will take a look in a day or two

[2022-09-16 05:20] hashhar commented on #14156
@xsgao-github please add stack trace for the failure when doing the SELECT on that column as well. That's the more relevant part.

[2022-09-16 06:12] mosabua commented on #14156
Also .. please verify but from what i know the property is just `unsupported_type_handling` ...

[2022-09-16 06:59] hashhar commented on #14156
Yup, I was able to get it to work - don't run into the issue mentioned.

The other issue (@xsgao-github Please try to keep issues focused on a single issue - in this case ideally it could've been two separate issues) of being unable to read a value seems data-dependent. I can't reproduce it yet.

@xsgao-github Would be useful if you can point out some small self-contained dataset which lead to thi

[2022-09-16 12:01] xsgao-github commented on #14156
@hashhar Here is the script to create a table and insert one row in postgresql.

[code]

My Postgresql is version 12.

[2022-09-16 12:16] beapirate commented on #14144
In case anyone else runs into this. We have successfully worked around this issue with this configuration in 394 release by disabling optimization of bucketed table reads.

Please do not make this the default setting in your cluster unless you've actually run into issues and you've compared how this setting affects your query plans.

`optimizer.use-table-scan-node-partitioning=false
`
It is also a

[2022-09-16 12:55] findinpath commented on #14132
@osscm  I see that `releaseTableLock()` operation throws a `TrinoException` when dealing with an `TException` (`NoSuchLockException` extends `TException`).

@marton-bod the exception is supressed in the https://github.com/apache/iceberg/pull/987 , but the table still remains locked right?

[2022-09-16 13:56] code-magician323 opened #14162 "Create an Apache Solr / Apache Lucene connector"
I'd like to be able to use Trino with Apache Solr, in a pretty similar way to how I'm currently being able to query Elasticsearch.
I think that this will be a great feature that lots of Solr users will use, e.g. [stackoverflow question on the subject](https://stackoverflow.com/questions/67670900/are-there-any-presto-or-trino-connectors-for-solr-solrcloud).
There are some [articles on the subject t

[2022-09-16 14:13] findepi commented on #13288
I am sure our code wouldn't do that. But maybe there is something that comes with github runners?

[2022-09-16 14:31] findepi commented on #14156
@xsgao-github just curious, what's your use-case for using TIMETZ data type in PostgreSQL?

[2022-09-16 14:43] marton-bod commented on #14132
@findinpath In the worst case scenario yes, it's possible that the table remains locked until the metastore housekeeper eventually runs and cleans out the stale lock (which could be up to 5 minutes IIRC). However, that's still preferable to throwing an exception and breaking the table, as it currently happens.

I see a couple options here, instead of throwing an exception:
- just log the error mes

[2022-09-16 14:44] findepi commented on #14156
@xsgao-github thanks for sharing.
I think the rarity of the "time with time zone" is what caused us not to add proper support for it.

[2022-09-16 15:03] findepi opened #14164 "Cast to timestamp ignores trailing content it does not recognize"
[code]

[code]

This may or may not apply to other casts too: to date, time, time with time zone, timestamp with time zone.

[2022-09-16 15:05] findepi commented on #14164
Interestingly, the literals are converted with due validation

[code]

[code]

[2022-09-16 15:27] findepi commented on #14154
[code]

#14145

[2022-09-16 15:41] findinpath opened #14165 "Improve Iceberg deletes when an entire file can be removed"
With the fix applied on https://github.com/apache/iceberg/pull/5568  available on Iceberg 0.14.1 we can take another attempt of dealing with the use case:

Related PR https://github.com/trinodb/trino/pull/13485

Issue to keep in mind while testing the functionality https://github.com/trinodb/trino/issues/12843

[2022-09-16 16:26] osscm commented on #14132
yes table can still remain locked from the DB perspective, that's why I was also not sure if we just log it, will it be ok.

[2022-09-16 16:55] osscm commented on #14132
I'm thinking one option is like this:

Step 1.
[code]

Step 2.  Allow Trino to retry on `NoSuchLockException` by removing it at https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHiveMetastore.java#L1607-L1613

Not a DB expert but, some references on DB locking:
MySQL: https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.ht

[2022-09-16 19:32] marton-bod commented on #14132
@osscm
Re step 1: I agree, that is in line with the error handling in `HiveTableOperations` and keeps things simple. Intermittent network issues are retried until we get a response from HMS. No exception should be thrown given that the commit succeeded.

Re step 2: Do you see any situation where `NoSuchLockException` could be intermittent? With single node HMS, I think if you get NoSuchLock once,

[2022-09-16 19:52] xsgao-github commented on #14156
Adding this property did not break Trino. Must be something else caused this error yesterday.

[2022-09-16 20:14] riteshvaryani opened #14169 "Hive security mapping role requires explicit AssumeRole for itself"
We are noticing when using a default role in security mapping, we get this exception in trino
io.trino.spi.TrinoException: User: arn:aws:sts::ABCDEFGH:assumed-role/scheduled-abcd/aws-sdk-java-abcd is not authorized to perform: sts:AssumeRole on resource: arn:aws:iam::ABCDEFGH:assumed:role/scheduled-abcd (Service: AWSSecurityTokenService; Status Code: 403; Error Code: AccessDenied)

This can be fix

[2022-09-16 20:15] riteshvaryani commented on #14169
@dain  do you have any idea about why is it required like this in trino

Other users have also raised this before: https://trinodb.slack.com/archives/CGB0QHWSW/p1625603942208400

[2022-09-16 20:21] findepi opened #14170 "Flaky test TestSystemConnector.testQueryDuringAnalysisIsCaptured"
https://github.com/trinodb/trino/actions/runs/3068889672/jobs/4956920919

[code]

[2022-09-16 20:21] findepi commented on #14170
This looks like a potential test error

the query state is FINISHED, but the future from

[code]

isn't done yet.
in fact, it doesn't have to be.

[2022-09-16 20:48] findepi commented on #14165
We should have a regression test for that already added when we closed that issue, right?

[2022-09-16 21:01] #12581 closed

[2022-09-16 21:01] #14104 closed

[2022-09-16 21:02] findepi commented on #14154
[code]

#14118

[2022-09-16 22:14] tooptoop4 commented on #14162
maybe a start: https://github.com/totticarter/presto-lucene or https://github.com/photogamerun/weiwodb/tree/master/presto-lucene/src/main/java/com/facebook/presto/lucene . I see https://github.com/apache/solr/blob/releases/lucene-solr/6.4.2/solr/core/src/java/org/apache/solr/handler/SQLHandler.java uses a presto parser

[2022-09-17 00:44] raunaqmorarka commented on #14154
[code]

[2022-09-17 01:04] #14164 closed

[2022-09-17 15:49] findepi commented on #14132
I think the locking pattern in `HiveMetastoreTableOperations` follows what Iceberg Hive Catalog on Spark does.
@osscm do you know how the unlocking problem is handled there?

[2022-09-17 18:33] findepi commented on #13288
https://github.com/trinodb/trino/pull/14173

[2022-09-17 19:37] erikerlandson commented on #14083
Checking in to see if there is a fix for this.

[2022-09-18 05:50] osscm commented on #14132
@findepi looks like in the case of Spark, it uses the `HiveTableOperations` [--](https://github.com/apache/iceberg/blob/a7e67d09a7f05821cafdafba740e9efbdbdadf9c/hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java#L91) provided by Iceberg and if we see it's catching the `Exception` while unlocking to log(warn) it, that's it.

https://github.com/apache/iceberg/blob/a7e67d09

[2022-09-18 06:10] osscm commented on #14132
`NoSuchLockException` if there is a distributed HMS, then in a few of the situations it might be possible, where Lock is being acquired but while releasing lock using a new client. A new client can connect to a different backend node of HMS and throws `NoSuchLockException` intermittently which can be found after a few retries.
Though I think it will be ok for now not to retry for `NoSuchLockExcept

[2022-09-18 16:32] zhuyaogai opened #14176 "An increasing number of WAITING state threads in JDBC driver"
version: presto-jdbc:329
jdk version: 1.8.0_261

`MAX_QUEUED_ROWS` is declared in`AsyncIterator`, which means that asynchronous threads named `Presto JDBC worker-%d` will be blocked when the amount of data is greater than`MAX_QUEUED_ROWS`.

[code]

When a user submit a SQL query and the amount of data is larger than `MAX_QUEUED_ROWS`, the queue will be full. If the user call `close()` without gett

[2022-09-18 20:09] findepi commented on #14176
thanks for providing the version!

Can you please also make sure the problem is reproducible with the latest JDBC driver (396) too?

[2022-09-18 20:12] findepi commented on #8401
Someone witnessed similar error in 366 -> https://github.com/trinodb/trino/issues/10887

[2022-09-19 05:05] linzebing commented on #13946
@losipiuk : it can't be it. We have `nonCancellationPropagating` wrapping it in `FileSystemExchangeSource.java`

[2022-09-19 07:24] hashhar commented on #14083
I have some partial fix but I've yet to prepare something to run CI against to verify it works for all operations we support.

[2022-09-19 07:52] guobj opened #14181 "Will user-defined functions be implemented"
I found that [#8](https://github.com/trinodb/trino/issues/8) mentioned that the user-defined function will be implemented in the future, and the code of #8 has been merged in 395, so when will the user-defined function be implemented?

[2022-09-19 08:05] nineinchnick commented on #14181
This is a duplicate of #13851

[2022-09-19 08:05] #14181 closed

[2022-09-19 09:00] #14170 closed

[2022-09-19 09:00] findepi commented on #14170
Hopefully fixed by https://github.com/trinodb/trino/pull/14171. Let's reopen if not.

[2022-09-19 09:08] findepi commented on #14154
[code]

#14161

[2022-09-19 09:14] findepi commented on #5015
https://github.com/trinodb/trino/pull/14179 adds checks in `IntegerNumberToVarchar`, so it no longer produces corrupted data (varchar values exceeding varchar type bounds).

It doesn't make Trino compatible with Hive, as Hive truncates (as described in this issue's description). But I don't think it matters in practice. Anyway, now the problem will be apparent (instead of being silent correctness

[2022-09-19 09:15] #5015 closed

[2022-09-19 09:20] sopel39 opened #14183 "GroupByHashPageIndexerFactory#createPageIndexer shouldn't create a GroupByHashPageIndexer if there is only a single BIGINT type"
There is no point in creating actual page indexer if page indexer input is already single BIGINT type

[2022-09-19 09:21] sopel39 commented on #14183
cc @gaurav8297 @raunaqmorarka

[2022-09-19 09:22] zhuyaogai commented on #14176
I ran some simple tests and make sure the problem is reproducible with the latest JDBC driver (396) too.

My demo code  is shown below.
[code]

We see many threads in the WAITING state.
<img width="1163" alt="image" src="https://user-images.githubusercontent.com/18461102/190981778-5c0f8aec-0f9c-4fbd-9924-f3e7ed042d7a.png">

We analyzed the monitor metrics, and found that the thread was permanently

[2022-09-19 09:28] losipiuk commented on #13946
Yeah @linzebing. I know it does not result in a problem tracked with that issue. I noted that here: `Turned out not be the problem...`. Yet you are right the more obvious reason for that is the use of `nonCancellationPropagating`.

The comment was more a digression about the fact `fillBuffer` uses `close()` which unconditionally calls `inProgressReadFuture.calls()`. Probably it is not harmful but

[2022-09-19 09:59] sopel39 opened #14184 "Precompute hash values for connector provided distributions"
Currently, `HashGenerationOptimizer.Rewriter#visitExchange` has a constraint:
[code]
It would be beneficial to precompute hash values for connector distributions too (e.g. buckets)

[2022-09-19 09:59] sopel39 commented on #14184
cc @gaurav8297 @raunaqmorarka

[2022-09-19 10:13] findepi commented on #14176
I was able to reproduce this locally with
[code]

and it seems https://github.com/trinodb/trino/pull/13775 fixes the problem
@zhuyaogai would you be able to confirm that?

[2022-09-19 10:53] findepi commented on #14184
That would be beneficial if we use these hashes more than once.
Indeed we do -- for distributing data between the nodes and then within the connector page sink.
We maybe also distribute between page sinks on a node, if task writer count > 1?

Anyway, for reuse within connector page sink, what would be a proposed SPI to represent that?

[2022-09-19 11:43] zhuyaogai commented on #14176
Indeed, it seems https://github.com/trinodb/trino/pull/13775 fixes the problem.

The solution is similar to what I thought
- Use `FutureTask` instead of `CompletableFuture`
- Make sure to call `rowqueue.clear()` after `client.close()`

[2022-09-19 12:54] findepi commented on #13552
it won't work with non-deletion files either, since hive connector won't map columns by id correctly

[2022-09-19 12:57] findepi commented on #13552
A table needs to be registered with current metadata file path (and perhaps with previous one too)

Design questions

* Should a user be responsible for providing the path to the "current" metadata file?
   - that's more explicit
   - but also a burden on a user; they may not know actually and would just take the last metadata file from the table directory
* Or, should the operation pick what look

[2022-09-19 13:13] tnatssb commented on #13552
To me, this is a administrator type of function and wouldn't be done by someone that doesn't understand the underlying components of Iceberg. To me, it would be very similar to the delta lake create table for existing data. create table (dummy) with (location=metadata file);

[2022-09-19 14:48] alexjo2144 commented on #13552
Some users have complained about the `CTAS` syntax that we used for Delta Lake. Specifically that if you have the path wrong the operation still passes but you've created a table with one `dummy` column. https://github.com/trinodb/trino/issues/13568

[2022-09-19 16:00] huberty89 commented on #14000
Added

[2022-09-19 18:16] lucasdlemos opened #14196 "DROP VIEW prepared statement fails when view qualified name requires quoting"
The parser is throwing `ParsingException` for valid `DROP VIEW IF EXISTS` query. Although properly quoted, it seems the quotes aren't being considered.

For example:

- This statement throws `ParsingException`
[code]
- While the same statement for tables succeeds:
[code]
- If we replace dashes with underscores in the 1st statement it also succeeds:
[code]

[2022-09-19 18:28] hashhar commented on #14196
cc: @kasiafi similar to https://github.com/trinodb/trino/pull/11171 but for a different visitor.

[2022-09-19 19:31] leetcode-1533 commented on #9471
Status so far:
1. Decided to implement "READ" support for bloomfilter first.
2. Having a working POC working locally.

Faced two major blockers, will send PR individually, there will be three PR in total.
1. Refactor parquet data source to support read in bloomfilter header.
2. Refactor parquet code to support type conversion from Trino type to Parquet type
3. Main bloomfilter changes.

[2022-09-19 19:58] findepi commented on #14196
@lucasdlemos do you plan to make a PR for this?

[2022-09-19 20:14] findepi commented on #14154
[code]

#13875

[2022-09-19 20:23] #7374 closed

[2022-09-19 20:23] #14176 closed

[2022-09-19 20:25] findepi commented on #14154
[code]

#14176 #7374 #13775

[2022-09-19 20:52] GavinRay97 opened #14199 "[FR] Document rules/limitations of correlated subqueries in Trino"
I've noticed that instead of not permitting correlated subqueries, instead only certain kinds of correlated subqueries seem to be valid.

For instance, the below query throws an error:
`Given correlated subquery is not supported`

<details>
<summary>👇 CLICK TO DISPLAY QUERY</summary>

[code]
</details>

![image](https://user-images.githubusercontent.com/26604994/191113717-b28ae49b-9286-4736-8814-b

[2022-09-19 23:57] leetcode-1533 commented on #9471
Fix issue1: https://github.com/trinodb/trino/pull/14202

[2022-09-20 00:06] kekwan commented on #7905
Is predicate pushdown for identity partition columns enabled already?

[2022-09-20 02:04] hackeryang opened #14204 "Partition already exist error of CachingHiveMetastore when creating dropped tables and adding same partitions"
When we enable the `CachingHiveMetastore`, let's consider the following condition:
(1) We create a table, for example:
`CREATE TABLE hive.test.temp_test (
    uid bigint COMMENT '',
    rate_win_normal double COMMENT '',
    "$pt" varchar
 )
 WITH (
    format = 'ORC',
    partitioned_by = ARRAY['$pt']
 )   `

(2) Then, we add a new partition:
`CALL system.create_empty_partition(schema_name => 'te

[2022-09-20 05:27] martint commented on #14199
Here's a simpler reproduction with the same shape:

[code]

And here's another variant with an even simpler inner query:

[code]

[2022-09-20 07:25] huberty89 opened #14208 "USE statement leaks names of catalogs and schemas that the user has no access to"
Bug notice by @dedep

I have configured File-based Access Control with a rules:
[code]
so the only visible catalog should be `system` but using `USE` statement I can guess what catalogs and schemas exists.
[code]
[code]
[code]

[2022-09-20 08:23] KaizenJinco opened #14210 "DELETE, MERGE statement problems in Trino 396 with PostgreSQL connector"
I have encountered some unexpected errors when using Trino 396 (lastest version) with PostgreSQL connector
1. DELETE
According to this document: https://trino.io/docs/396/sql/delete.html#limitations. Trino also support DELETE statement in various ways.
Everything works well when WHERE condition doesn't contains any subquery
`delete
from
	catalog.schema.table
where
	1 = 2`
But it doesn't work when

[2022-09-20 08:26] hackeryang commented on #14204
Sorry i made a mistake, this bug only exists on my modified version, the community version is ok.

[2022-09-20 08:26] #14204 closed

[2022-09-20 08:41] hashhar commented on #14210
re: DELETE

DELETE in JDBC connectors is only supported when the predicate of the query can be pushed down to the connector. Subqueries can't be pushed down yet but predicates on columns like `where some_id IN (1,2,3,4)` etc. can be.

This is mentioned at https://trino.io/docs/current/connector/postgresql.html#sql-delete. And improvement is tracked under https://github.com/trinodb/trino/issues/699

[2022-09-20 08:41] #14210 closed

[2022-09-20 08:43] KaizenJinco commented on #14210
Thanks for you reply <3

[2022-09-20 09:57] findepi commented on #10398
https://github.com/trinodb/trino/pull/12349

[2022-09-20 09:57] #10398 closed

[2022-09-20 10:34] findepi commented on #14184
Without a SPI change we still will have hash/partitioning inside the connector. See example in Iceberg
https://github.com/trinodb/trino/blob/6310e5e1415fe0bc89444016fc516640c3a3fcbb/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSink.java#L266
This should re-use the precomputed hash values.

[2022-09-20 11:14] sopel39 commented on #14184
page indexer is a different matter as age indexer is local to sink (it enumerates encountered groups). It might consume hash, but the biggest cost in page indexer are hash lookups. There is another issue to improve page indexer, see: https://github.com/trinodb/trino/issues/14183

[2022-09-20 12:14] kaizenjinco commented on #14210
@hashhar After many tries, I have discovered somethings wrong in DELETE statement. Trino only support to delete only 32 predicates, if I exceed this limit then `SQL Error [13]: Query failed (#20220920_121019_00306_z922t): Unsupported delete`
Error query here:
`delete from
    "psql_cbquant"."dmt"."dmt_customer"
where
    (id) in (
        '1','2','3','4','5','6','7','8','9','10','11','12','13','14

[2022-09-20 12:20] hashhar commented on #14210
See https://trino.io/docs/current/connector/postgresql.html#domain-compaction-threshold.

Some databases (Oracle, Postgres etc.) quickly degrade performance with a large IN list. When size of IN list exceeds `domain-compaction-threshold` (default 32) we simplify the IN to some other operation which may or may not be able to be pushed down.

You can increase `domain-compaction-threshold` to a highe

[2022-09-20 12:21] kaizenjinco commented on #14210
@hashhar wow, thanks, that's look new to me

[2022-09-20 12:31] sopel39 opened #14215 "Use distinct aggregations by default (instead of MarkDistinctNode) for single distinct aggregation"
https://github.com/prestodb/presto/pull/10224 adds distinct aggregation support to aggregation operator. However, it's still not enabled by default: https://github.com/prestodb/presto/pull/10224/files#r176341005.

There are few issues with (build-in) distinct aggregations. Consider query:
[code]
where cardinality of `b` is much higher than cardinality of `group`.

With `mark distinct node`: plan w

[2022-09-20 12:48] sopel39 opened #14216 "Switch between distinct aggregation, mark distinct operator and OptimizeMixedDistinctAggregations automatically"
Decide automatically (perhaps using CBO) which way of computing distinct aggregation to use. Potential rules:
* use mark distinct when number of distinct aggregations is low (e.g. 1 or 2). Using of mark distinct increases data shuffle across cluster.
* use `OptimizeMixedDistinctAggregations` when number of distinct aggregations is high. `OptimizeMixedDistinctAggregations` will limit number of inte

[2022-09-20 12:49] sopel39 commented on #14216
cc @lukasz-stec

[2022-09-20 12:52] sopel39 opened #14217 "Calculate roll-up cumulatively"
Currently, rollup on x, y, z will translate into plan:
[code]

`GroupId` operator will multiply unaggregated input data 4 times (for groups `[], [x], [x,y], [x,y,z]`).

`PartialAggregation` will consume unaggregated input for each grouping set. However, aggregations could be calculated in a cascade way, e.g:
[code]

Downstream `PartialAggregations` would use already partially aggregated results fr

[2022-09-20 13:40] Subhashini2610 opened #14218 "0 worker nodes inspite of having pods running"
I am deploying Trino on a K8s environment. The coordinator is working and accessible on https. However, the worker nodes are shown as 0 on the web-ui. However, I can see the worker pod created and running successfully.
Coordinator's config.properties:
[code]

Worker's config.properties:
[code]

I am able to see the worker and coordinator pods running status. However, the active workers is shown as

[2022-09-20 14:26] findepi commented on #13633
https://github.com/trinodb/trino/actions/runs/3088479513/jobs/4995163072

[2022-09-20 16:03] sopel39 commented on #6382
@findepi do you know which of this points are still relevant?

[2022-09-20 16:41] lucasdlemos commented on #14196
Unfortunately I can't in the near term @findepi.

[2022-09-20 20:34] findepi commented on #9244
@raunaqmorarka is this solved for Hive by https://github.com/trinodb/trino/pull/12857 ?

[2022-09-20 23:02] vgankidi commented on #14132
@findepi @alexjo2144 @findinpath Could you please let us know if there are any concerns if we follow the similar approach of logging the exception as in Spark like @marton-bod and @osscm mentioned?

[2022-09-21 01:18] wc99 opened #14226 "[trino-394]connect to phoenix5 error : InaccessibleObjectException: Unable to make static boolean java.nio.Bits.unaligned"
i use trino-394 try to connect to phoenix5(hbase:2.0  phoenix:5.0)
but when trino server server.log show error:
2022-09-20T17:57:20.846+0800    INFO    main    Bootstrap       phoenix.connection-url                                     ----         jdbc:phoenix:172.29.15.246:2181:/hbase
2022-09-20T17:57:20.847+0800    INFO    main    Bootstrap       phoenix.max-scans-per-split

[2022-09-21 03:47] raunaqmorarka commented on #9244
Indeed, I checked that for nano precision in hive we are now able to store and read big values like '294247-01-10 04:00:54.123456789' and '-290307-12-31 19:58:05.123456789' with the int96 encoding in the optimized writer. Earlier this used to fail with `long overflow` exception due to lower capacity in in64 encoding.

[2022-09-21 03:47] #9244 closed

[2022-09-21 05:23] #13575 closed

[2022-09-21 08:05] lukasz-stec commented on #14216
I believe partial aggregation supports `MarkDistinct` too

[2022-09-21 08:27] sopel39 opened #14227 "Serde improvments"
`DictionaryBlockEncoding`:
* we don't need to serialize `ids` as `integers`. We can use `short` or `byte` if dictionary has fewer positions

`VariableWidthBlockEncoding`
* we don't need to serialize `offsets` as `integers`. We can use `short` if `rawSlice` is short enough.

[2022-09-21 08:27] sopel39 commented on #14227
cc @lukasz-stec

[2022-09-21 08:53] sopel39 commented on #14216
It does, but the problem is when you have multiple distinct aggregations, e.g: `aggr(distinct a), aggr(distinct b), ..`. Then for each you have to create `MarkDistinctNode` shuffling the data across cluster

[2022-09-21 08:56] lksvenoy-r7 opened #14228 "Dynamic Table Queries in the Pinot Connector fail if targeting an empty partition"
Seeing an issue with dynamic table queries through the Pinot connector for Trino version 379. When doing a query with a WHERE clause on the partition key without using a dynamic table query where there is no data for that key, 0 rows are returned (as expected). But when doing a dynamic table query of the same kind, the Pinot Trino connector hangs for a long time, and then returns

`Query 20220920_

[2022-09-21 09:31] yx-keith opened #14229 "is trino-385 support ZGC?"
when I use zgc in trino-385, it not works, but I used to  use zgc in trino-332 is OK, why?

[2022-09-21 10:09] hashhar opened #14230 "Fix concurrent metadata modification tests on BigQuery"
The test `BaseConnectorTest.testReadMetadataWithRelationsConcurrentModifications` fails flakily on BigQuery with occasional timeouts.

We should identify what can be done to make the test more resilient.
Current hypothesis is that due to lack of metadata caching (and slow metadata access) the test takes more time than expected.

See TODOs in code referencing this issue to find what needs to be fix

[2022-09-21 10:30] findepi commented on #9244
Thanks for checking @raunaqmorarka
And in Delta and Iceberg we should be OK. Both these formats define timestamps to have microsecond precision, and then int64 is well enough.

[2022-09-21 10:36] findepi commented on #14228
cc @elonazoulay

[2022-09-21 10:36] findepi commented on #14228
cc @xiangfu0

[2022-09-21 10:38] findepi commented on #14226
cc @wendigo

[2022-09-21 10:42] elferherrera commented on #8245
Is there a way to bypass this issue?

[2022-09-21 10:45] findepi commented on #2817
Fixed by https://github.com/trinodb/trino/pull/14172

[2022-09-21 10:45] #2817 closed

[2022-09-21 10:45] findepi commented on #14154
[code]

#2817  https://github.com/trinodb/trino/pull/14172

[2022-09-21 11:03] sopel39 commented on #14023
Yet another option is to pass query context in a static way. We already wrap FileSystem calls with `doAs`. Maybe we could pass memory context in same way.

[2022-09-21 11:14] findepi commented on #8245
@elferherrera currently, it works as _designed_ -- it's a plugin responsibility.
A plugin should use `io.airlift.configuration.ConfigurationUtils#replaceEnvironmentVariables` or equivalent

We keep this issue open because of this further improvement idea:

[2022-09-21 11:22] elferherrera commented on #8245
I see how it should be a plugin responsibility to implement the same configuration utils. However, I think that it should be mentioned in the [secrets](https://trino.io/docs/358/security/secrets.html) page that some plugins may not follow this approach. It took some time to discover that the plugin wasn't reading the password because of this reason and it also makes it more troublesome to share pa

[2022-09-21 11:49] ksobolew commented on #13946
It can happen during initialization as well:

[code]

https://github.com/trinodb/trino/actions/runs/3083723967/jobs/4985044156

[2022-09-21 13:01] xiacongling commented on #11136
When `KuduScanner`'s keepalive requests are not sent to tserver in time, the Scanner may be garbage-collected by tserver and will lead to this error. There is a similar issue reported in Kudu community, [KUDU-3169](https://issues.apache.org/jira/browse/KUDU-3169). The error occurs when cluster load is high.

`KuduScanner.keepalive()` is only invoked in iteration when Trino is fetching data pages v

[2022-09-21 13:03] njalan opened #14236 "CPU usage is pretty high on only one node and query is slow"
Trino version is 394. I found that one node cpu is high out of 8 workers.
Below are the top thread take the cpu:
LANG=C ps -eT -o%cpu,pid,tid,ppid,comm | grep -v CPU | sort -n -r | head -20
35.5 22151 22165     1 C2 CompilerThre
33.9 22151 27230     1 C2 CompilerThre
13.5 22151 27713     1 C1 CompilerThre
10.6 22151 22192     1 GC Thread#9
10.6 22151 22188     1 GC Thread#5
10.6 22151 22186     1

[2022-09-21 13:14] Subhashini2610 commented on #14218
Still facing this issue. Please help

[2022-09-21 14:29] martint opened #14237 "Project Hummingbird"
Trino has had a columnar/vectorized evaluation engine since it's inception in 2012.
After the initial implementation and optimization, and once we were satisfied with
the performance for the majority of the use cases, we focused our efforts in other areas.
Although we've made further incremental performance improvements in the past few years,
there is still room for further optimization.

We're st

[2022-09-21 14:44] WinkerDu commented on #10354
@sopel39 Is this tasks list still available to take a ticket?

[2022-09-21 14:52] sopel39 commented on #10354
This was completed by @radek-starburst

[2022-09-21 14:52] #10354 closed

[2022-09-21 15:10] findepi commented on #14154
[code]

#14198

[2022-09-21 15:13] findepi commented on #13946
`TestHiveFaultTolerantExecutionAggregations.init` init is affected too

https://github.com/trinodb/trino/actions/runs/3097801353/jobs/5015430530

[code]

[2022-09-21 15:17] findepi opened #14239 "Flaky `testAggregation` in Pinot smoke test"
https://github.com/trinodb/trino/actions/runs/3097813235/jobs/5015484200

[code]

[2022-09-21 15:29] homar commented on #3646
I've tested coercion from string to bounded and unbounded varchar and also from bounded varchar to bounded and unbounded varchar.
Everything works fine so I am closing it as cannot reproduce.

[2022-09-21 15:29] #3646 closed

[2022-09-21 15:36] findepi commented on #8245
The docs are primarily for Trino users and cover Trino provided plugins, and I think these work "correctly".
Maybe this is something to be mentioned in the developer section  of the docs.

cc @mosabua @bitsondatadev @nineinchnick  for docs

Anyway, i think we should move the responsibility to the engine for these placeholders.

[2022-09-21 15:42] nineinchnick commented on #8245
We do mention it now in the developer guide: https://trino.io/docs/current/develop/connectors.html#configuration
![image](https://user-images.githubusercontent.com/795177/191549503-6ca67b8a-d2f5-440a-8a8d-0aa00d9aac3f.png)

[2022-09-21 16:16] alexjo2144 commented on #13180
A fix for that is coming in coming in the 397 release https://github.com/trinodb/trino/pull/14145

[2022-09-21 18:59] #14154 closed

[2022-09-21 19:32] findepi opened #14241 "Fix Iceberg split calculations when metadata has offsets"
@alexjo2144 on slack

target-size refers to `read.split.target-size` table property

I believe we need to disable that. That just doesn’t make sense, unless the split sizes calculated this way are “reasonable”

[2022-09-21 19:34] findepi commented on #14241
The offsets metadata may be useful for _calculating_ splits, but cannot be taken _directly_ as the split boundaries.

[2022-09-21 20:53] alexjo2144 commented on #14165
Merged

[2022-09-21 20:53] #14165 closed

[2022-09-22 00:11] martint opened #14245 "Release notes for 398"

[2022-09-22 02:47] WinkerDu commented on #12096
@sopel39 Is this issue still available to get a ticket?

[2022-09-22 02:48] WinkerDu commented on #14215
@sopel39 Is this issue still available to get a ticket?

[2022-09-22 07:07] kokosing opened #14248 "Flaky OutOfMemoryError in trino-hive tests"
[code]

[2022-09-22 07:32] wendigo commented on #14226
@wc99 It's only a warning. Does it actually fail for any of the queries?

[2022-09-22 08:12] sopel39 commented on #14215
Sure, you can take it

[2022-09-22 08:17] sopel39 commented on #12096
@WinkerDu sure

[2022-09-22 09:26] sjx782392329 opened #14250 "Can trino set threshold scan data size from hive connector？"
My presto version is 344 prestosql.
Now i found some presto queries scan so much data from hive.
I want to limit max scan data input size per query into presto memory, but i don't know how to set this config.

[2022-09-22 10:23] uptycs-anudeep commented on #12685
It seems to be happening just for larger Tables , which has many partitions. I suspect it happening because of stats collection. Tried with trino 388

[2022-09-22 10:47] hashhar commented on #14250
See `query.max-scan-physical-bytes` server config property or `query_max_scan_physical_bytes` catalog level session property.

Feel free to join our [Slack](https://trino.io/slack.html) and continue the conversation there.

[2022-09-22 10:48] hashhar commented on #14250
cc: @mosabua seems the config is not documented. you can find it and explanation in https://trino.io/docs/current/release/release-339.html

[2022-09-22 11:07] mdesmet opened #14252 "Roles with special characters are created but can't be granted"
Expected behavior:

When using a role surrounded by quotes, I expect quoted identifier rules to respected and input be accepted as is. It seems the role can be created but not granted.

[code]

[2022-09-22 11:24] hashhar commented on #14252
cc: @dain

[2022-09-22 11:53] homar opened #14253 "Make EXPLAIN ANALYZE return number of affected rows"
If EXPLAIN ANALYZE does an update like creating a table, updating or deleting rows it should not only return query plan but also number of affected rows similar to how CREATE, UPDATE and DELETE does.

It probably could be differentiating between queries that do some kind of update and others and for those from the first group accepting input, instead of ignoring it in `addInput` method and getting

[2022-09-22 12:12] codope commented on #9877
@duanyongvictory Great to hear that! Your contribution will help a lot in accelerating the write support. We're discussing in Hudi slack in https://apache-hudi.slack.com/archives/C02L9R88RJP/p1663729133329139
Let's take the discussion there.

[2022-09-22 18:30] electrum commented on #14241
Are these the actual file boundaries, i.e. the stripe offsets in ORC? If so, then we should use them directly, at least for ORC, since we don’t support sub-splitting within an ORC stripe. Not sure about Parquet. Going smaller means empty splits.

[2022-09-22 18:38] JonathanAquino-NextRoll opened #14259 "Support pass-through queries for ClickHouse"
https://github.com/trinodb/trino/pull/12325 adds support for pass-through queries for several databases, but ClickHouse hasn't been done yet.

@findepi @kasiafi Any idea when pass-through queries will be implemented for ClickHouse? We could really use it for [ClickHouse parameterized views](https://kb.altinity.com/altinity-kb-queries-and-syntax/altinity-kb-parameterized-views/), which use non-stan

[2022-09-23 01:31] gjhkael opened #14263 "trino access control check every column of the input tables but not the actual select colums"
After the Analyzer, trino use the AccessControl to authenticate, but just after analyze of the ast tree, the columns do not prune, all columns of the input tables need to authenticate, it doesn't make sense and has performance issues.
PS. the above problem is same of the "ColumnMask".

[2022-09-23 02:06] wc99 commented on #14226
most connectors to the trino server are normal ,but then phoenix connector are abnormal.
when i try to connect phoenix ,the server return error info !
[code]

[2022-09-23 02:54] wc99 commented on #14226
Hbase version：2.0
Phoenix version ： 5.0
i noticed that document says trino only support 5.1.0 ……

[2022-09-23 06:53] sjx782392329 commented on #14250
Which channel in Slack I should use ,I have joined Trino Slack. But now i can't found the channel for discusses.

[2022-09-23 07:18] findepi commented on #14259
pass-through queries is an escape valve and we should strive not to require used to need it.

parameterized views deserve their own table functions, so that the above view could be queried like

[code]

[2022-09-23 08:37] tangjiangling commented on #14250
This configuration is the answer to your question.

For example, you can set `query.max-scan-physical-bytes=1GB` in `etc/config.properties`, which means that all queries will not read more than 1GB of table data, or you can execute `set session query_max_scan_ physical_bytes='1GB'`, which means that only queries related to the current `session` will be limited to no more than 1GB of read data.

Wh

[2022-09-23 08:51] njalan commented on #14236
Since only one node cpu is high, is there any issues from server side? What can be the issues? All servers are VMs.

[2022-09-23 08:56] wrborigin commented on #13180
Hi everyone,

I'm not sure in what way is this stuck? What can we do to make it happen?

[2022-09-23 10:01] findepi commented on #13180
@mdesmet please see that, as an alternative feature you could use

[2022-09-23 10:01] findepi commented on #13180
back to the main topic, i think there are merits to being able to _atomically_ replace _a regular table_.
CREATE OR REPLACE is a syntax some other engines use for that.
I am not a fan of this syntax, but also I don't have any other alternatives.

I don't think modeling this as `BEGIN TRANSACTION; DROP TABLE; CREATE TABLE` is a viable option.
It's neither convenient (quite verbose), nor really in l

[2022-09-23 10:07] #14250 closed

[2022-09-23 10:08] findepi commented on #14263
This is per SQL spec.
A query access all the columns user asked for, even if not all the columns are _required_ to compute the final query result.

[2022-09-23 10:08] #14263 closed

[2022-09-23 10:24] findepi commented on #14252
@mdesmet can you try without "role", `GRANT "test;test=test" TO USER admn`?

also, can you please paste the full stacktrace?

[2022-09-23 11:48] sgreszcz opened #14269 "Docker container run: ERROR: Java is not installed"
trying to run trinodb/trino docker container:

[code]

[2022-09-23 11:53] nineinchnick commented on #14269
Might be related to https://github.com/adoptium/containers/issues/214

[2022-09-23 11:58] hashhar commented on #14269
See also https://github.com/adoptium/containers/issues/215#issuecomment-1142046045 for workaround.

But note that other up-to-date images will also start failing on the older Docker version.

[2022-09-23 11:58] hashhar commented on #14269
Closing as answered but feel free to re-open if you still run into with upgraded Docker.

Feel free to join our [Slack](https://trino.io/slack.html) and continue the conversation there on #troubleshooting.

[2022-09-23 11:58] #14269 closed

[2022-09-23 11:58] mdesmet commented on #14252
The statement `grant role "test;test=test" to user admin` results in following exception

[code]

The statement `grant "test;test=test" to user admin` in this exception:

[code]

[2022-09-23 12:03] hashhar commented on #14252
Shouldn't it be `grant "test;test=test" to user admin in hive`?

[2022-09-23 12:20] mdesmet commented on #14252
You are right. So the issue is only with `GRANT role` statement as that one supports multiple roles but doesn't respect quoted identifier rules.

[2022-09-23 12:43] hashhar commented on #14252
I don't see a `GRANT ROLE` statement though - there's just `GRANT privilege` (https://trino.io/docs/current/sql/grant.html) and `GRANT <role>` (https://trino.io/docs/current/sql/grant-roles.html).

I do think however that the `GRANT ROLES` heading is misleading/confusing.

[2022-09-23 13:00] mdesmet commented on #14252
Right. I think this can be closed. It works as expected.

[2022-09-23 13:01] #14252 closed

[2022-09-23 13:01] krvikash commented on #13552
I have couple of questions
1. At the same time can two table points to same metadata location?
2. If Point 1 is true,  What happens if we insert data into old table. Is newly created table will have the those new data too?
3. What happens if the location provided by user does not have metadata file or provided location itself is wrong/invalid?

[2022-09-23 13:07] hashhar commented on #14252
cc: @mosabua for ideas to improve the documentation (heading on the `GRANT ROLES` page since there is no `GRANT ROLES` statements - there's just `GRANT` but with different syntax/purpose.

[2022-09-23 13:42] findinpath commented on #13552
There are possible ways to implement this feature:

- create the table with a specified "directory" location (similar to delta lake: https://trino.io/docs/current/connector/delta-lake.html#creating-tables)

[code]
- create table with the location of the metadata file to be used for the current version of the table

[code]

This option comes at the cost of introducing a new parameter for the `CREAT

[2022-09-23 13:58] krvikash commented on #13552
For Option 2, User needs to go and look for the latest metastore file and provide it at the CREATE table statement.  But It gives the flexibility to the user to choose any/outdated metastore file (Not sure if this could be valid use case).

For Option 2 OR 3, We might need to change the way how delta table gets created using existing metadata to make it in-sync with iceberg.

[2022-09-23 14:26] findepi commented on #13552
@electrum @martint @alexjo2144 @phd3 @losipiuk  please see https://github.com/trinodb/trino/issues/13552#issuecomment-1250984973 and newer comments

[2022-09-23 14:27] findepi commented on #14035
https://github.com/trinodb/trino/actions/runs/3112718741/jobs/5046822323

[code]

[2022-09-23 14:28] #7900 closed

[2022-09-23 14:42] findepi commented on #14245
[code]
#14254

[2022-09-23 15:28] claudiusli commented on #13180
If there are reasonable needs for both behaviors would it make sense to pick one as a default and but allow the user to override it?

[2022-09-23 15:30] findepi commented on #14245
[code]

#14233

[2022-09-23 16:54] JonathanAquino-NextRoll commented on #14259
@findepi note that the SETTINGS clause is not only used for the [parameterized views](https://kb.altinity.com/altinity-kb-queries-and-syntax/altinity-kb-parameterized-views/) technique but can also be used to change other ClickHouse settings on the fly, such as optimize_read_in_order: https://clickhouse.com/docs/en/sql-reference/statements/select/#settings-in-select-query

So if you are going to a

[2022-09-23 17:24] linzebing commented on #14035
I'm assuming https://github.com/trinodb/trino/issues/13946 is the same issue with this one. I will try to take a look.

[2022-09-23 18:01] krvikash commented on #13552
[Conclusion]
Point 1 -> Yes, It could be
Point 2 -> Newly created table won't have the new data
Point 3 -> Throw exception

[2022-09-23 18:21] martint commented on #4207
cc @mattstep

[2022-09-23 18:27] findepi commented on #14259
@JonathanAquino-NextRoll supporting "parameterized views" vs supporting arbitrary query "settings" vs query-passthrough are 3 different things.
Let's decide which problem we're trying to solve with this issue. Feel free to open more issues, if you feel like all 3 work streams are independently valuable

[2022-09-24 00:08] JonathanAquino-NextRoll commented on #14259
@findepi Any of those 3 would solve my parameterized-view problem, so whichever is easiest or preferable for you would work for me.

[2022-09-24 02:36] tikikun commented on #4990
Hi, I think adding inference at scale with something like ONNX runtime would be very useful

[2022-09-24 07:53] albericgenius commented on #14196
@findepi @hashhar
i could work on this issue. here is my PR #14276
Thanks

[2022-09-24 09:56] raunaqmorarka commented on #14245
[code]
#14135

[2022-09-24 10:13] raunaqmorarka commented on #14245
[code]
#14247

[2022-09-24 10:16] raunaqmorarka commented on #10698
Already implemented by https://github.com/trinodb/trino/pull/12916

[2022-09-24 10:16] #10698 closed

[2022-09-24 16:02] martint opened #14277 "Flaky TestSecuredPinotIntegrationConnectorSmokeTest"
[code]

[2022-09-24 16:08] hashhar commented on #4990
cc: @brianzhan

[2022-09-24 17:26] djsstarburst opened #14278 "Fix partitioning when SQL MERGE used with fault-tolerant infrastructure"
To correctly handle SQL MERGE operations in a fault-tolerant environment, `MergePartitioningHandle` needs two new methods which will be called by `FaultTolerantPartitioningQueryFactory`:

1. A method to produce the `FaultTolerantPartitioningScheme` appropriate for the handle.
2. A method to produce the `TaskSource` appropriate to the handle.

Without these methods, SQL MERGE operations in the faul

[2022-09-25 22:53] #14112 closed

[2022-09-25 22:53] ebyhr commented on #14245
[code]

#14112

[2022-09-26 03:09] duanyongvictory commented on #9877
Could you invite me to this workplace?

[2022-09-26 06:32] #14095 closed

[2022-09-26 06:32] ebyhr commented on #14245
[code]

#14114

[2022-09-26 10:01] xiangfu0 commented on #14277
Hmm, I tried but cannot reproduce it locally.

Is there a failed CI link? Or any environment are you on?

[2022-09-26 10:32] lxqfy opened #14288 "Parquet reader consume much more CPU time than ORC reader"
Version: Trino 356

We tried to use Alluxio to speed up the queries. We found that the execution time has no improvement even when the Alluxio physicalInputRate is much faster than that of HDFS.

After some investigation, we found that Presto consumes a lot of CPU resources even for a simple scan-and-filter task and IO speed is no longer the bottleneck.

I used the same data set to create ORC tabl

[2022-09-26 10:35] codope commented on #9877
@duanyongvictory I've sent an invite to your email. Please check.

[2022-09-26 11:24] #14028 closed

[2022-09-26 11:25] ebyhr commented on #14245
[code]

#14073

[2022-09-26 12:52] sopel39 commented on #14237
There already is https://github.com/trinodb/trino/pull/10706, but IMO we should focus on variable length types since multi channel aggregations often use varchars.

[2022-09-26 13:05] mingmwang opened #14291 "One question about trino's AddLocalExchanges rule"
How does trino decide to add the local exchange to the plan?
I see there is little docs regarding the implementation details.

[2022-09-26 13:24] skrzypo987 opened #14292 "Reafctor flush_metadata_cache procedure"
A follow up of https://github.com/trinodb/trino/pull/14219
based on this comment https://github.com/trinodb/trino/pull/14219#discussion_r977239337
cc @Praveen2112

[2022-09-26 13:31] findinpath opened #14293 "`date_trunc` range optimization should apply also for BETWEEN predicate"
Related commit:

https://github.com/trinodb/trino/commit/80c079f9

When doing range searches with date_trunc it seems to me that we could improve a bit the filter

[code]
to look like

[code]

See the detailed `EXPLAIN ANALYZE` output for the query:

[code]

[2022-09-26 14:32] alexjo2144 commented on #13552
I'm strongly in favor of this option. Mostly because it makes the distinction between creating a new table at a specific location unambiguously different from registering an existing table with the catalog. This is the problem users have had with Delta, a small typo in the path definition does not result in a failure but instead has unexpected consequences.

The other big one is that it makes it e

[2022-09-26 15:08] findepi commented on #14288
cc @sopel39 @raunaqmorarka

[2022-09-26 15:11] findepi commented on #14239
https://github.com/trinodb/trino/actions/runs/3127676861/jobs/5075173404

cc @elonazoulay @xiangfu0

[2022-09-26 15:30] sopel39 commented on #14288
@lxqfy we are working on improving Parquet reader. Stay tuned!

[2022-09-26 15:31] sopel39 commented on #14288
@lxqfy Keep watching https://github.com/trinodb/trino/issues/14237 project!

[2022-09-26 17:27] electrum commented on #13552
I agree with @alexjo2144 on this. The behavior is entirely different and none of the properties are relevant, so reusing `CREATE TABLE` doesn't make sense.

[2022-09-26 18:33] NMonnerSans opened #14298 "Queries stuck in "FINISHING" state"
Hello all!

I am experiencing an issue when trying to upgrade Trino from version 386 to 397. As stated in the issue title, some queries (specifically INSERT INTO queries) get stuck in FINISHING state indefinitely, and eventually collapse our metastore. This issue was also seen when trying version 395.

For reference, we are building Trino from the official Docker image, and using Nomad to create c

[2022-09-26 18:41] NMonnerSans opened #14299 "Iceberg metadata location gets changed with newer Trino versions"
Hello all!

We are experiencing an issue when trying to upgrade Trino from version 386 to 397. We are using Iceberg tables with default `write.metadata.path` configurations, pointed at our S3 data warehouse bucket. Our S3 path's for our tables look like `s3://dw_bucket/prd_{table}_iceberg/`, and metadata is saved in the default `metadata` directory in that prefix. When trying newer versions (397 a

[2022-09-26 20:23] arhimondr commented on #14035
Closing as a duplicate of https://github.com/trinodb/trino/issues/13946

[2022-09-26 20:23] #14035 closed

[2022-09-26 21:36] NMonnerSans opened #14303 "Misinterpreted IF when used to sample"
Hello all, I am trying a query that uses an IF in the WHERE part of the query to randomly sample. This used to work in Trino 374, where

[code]

returned

[code]

Whereas in Trino 386 it returns

[code]

The issue seems to be a bug when evaluating the result of the IF() statement.

[2022-09-26 21:45] martint commented on #14303
Can you provide the output of `EXPLAIN` for both versions?

[2022-09-26 22:59] xiangfu0 commented on #14277
https://github.com/trinodb/trino/pull/14304

[2022-09-27 01:57] aalbu commented on #13180
@martint, I would argue that since there are systems out there implementing C[OR]TAS already, it is choosing different semantics in Trino that would introduce additional cognitive load for users.  And, as @electrum pointed out, the proposed semantics are logically consistent.

[2022-09-27 03:12] ebyhr commented on #14277
https://github.com/trinodb/trino/actions/runs/3127676861/jobs/5075173404

[2022-09-27 05:38] raunaqmorarka commented on #14298
It might help to use jstack on the coordinator when the query is stuck to collect stack traces and see which code paths we get stuck on.

[2022-09-27 06:26] hashhar commented on #14299
cc: @alexjo2144 @findepi

[2022-09-27 07:32] findepi commented on #14299
@NMonnerSans this sounds like an incorrect behavior.
Can you share steps one can use to reproduce the problem?

[2022-09-27 08:08] ddcprg opened #14310 "[Pinot Connector] Add support for BIG_DECIMAL type"
Pinot 0.11.0 has now support for BigDecimal metrics. Once #14090 is merged we like to modify the connector to support this data type

[2022-09-27 08:10] xiangfu0 commented on #14277
One round of stress test passed : https://github.com/trinodb/trino/actions/runs/3132624061/jobs/5085171717

[2022-09-27 08:36] findepi commented on #14245
[code]

#13907

[2022-09-27 08:44] osscm commented on #14078
@findepi thanks for creating this issue!
We are looking to support this feature and others to improve the performance of the Iceberg queries.

for my understanding:

looks like following tests shows that timestamp is supported in the predicate pushdown ?https://github.com/trinodb/trino/blob/master/plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java#L579

and he

[2022-09-27 08:47] findepi commented on #13946
https://github.com/trinodb/trino/actions/runs/3128540046/jobs/5077313683

[code]

cc @arhimondr @linzebing @losipiuk

[2022-09-27 09:31] skrzypo987 opened #14312 "Empty RLE blocks mayHaveNulls method returns true"
After https://github.com/trinodb/trino/pull/14092
This makes unnecessary overhead when serializing empty blocks.

[2022-09-27 09:40] xiacongling opened #14313 "Coordinator out of memory due to too many FileStatuses been cached"
Recently, some of our Trino coordinators were out of memory and crashed after several times of full GCs. After analyze the heapdump, we find a lot of `HdfsLocatedFileStatus` instances on the heap.

The coordinator is a small instance with MaxHeapSize of 24GB. At the moment the coordinator shuts down, there are several big queries on Hive, and each of them scans nearly 1 million files.

Finally, we

[2022-09-27 10:12] findepi commented on #14078
@osscm i don't know where this link was intended to point to.
Note that links without commit hash are subject to evolve as new changes are added to the code base.

nope. These functions, in isolation, are not very useful for the pushdown, i.e. they cannot be used to derive ranges of allowed values.

Yes, `date_trunc` is supported (since https://github.com/trinodb/trino/pull/14011)

[2022-09-27 10:28] findepi commented on #13180
I agree with @electrum and @aalbu . I think we should allow `CREATE OR REPLACE TABLE [AS ...]` syntax, and let the connector handle the replacement atomically.

@trinodb/maintainers i think we're converging here to an agreement.

[2022-09-27 10:40] findepi commented on #13552
I agree with @alexjo2144 too. Seems we have agreement, awesome.
Let's call this new procedure: `iceberg.system.register_table`.

[2022-09-27 10:44] findepi commented on #14313
cc @sopel39 @raunaqmorarka

[2022-09-27 10:47] findepi commented on #14298
cc @electrum for https://github.com/trinodb/trino/pull/14122 (v 396)
and @arhimondr for https://github.com/trinodb/trino/pull/13055 (v 391)

@NMonnerSans please attach the coordinator thread dump here

[2022-09-27 11:09] sopel39 commented on #14312
How empty RLE can have null?
The code is:
[code]

[2022-09-27 11:26] findepi commented on #14303
@NMonnerSans what's the simplest query manifesting the difference between versions?

[2022-09-27 11:31] skrzypo987 commented on #14312
That's the thing. `RunLengthEncodedBlock.create` may create a block that is not of `RunLengthEncodedBlock` class, which is misleading in the first place.
The actual block is created in `RunLengthEncodedBlock::57` and features a `isNull` array with a single `false`.

[2022-09-27 11:55] hashhar commented on #14312
I saw the same happening with `DictionaryBlock.create` which in some cases ended up creating `VariableWidthBlock`. Is that expected API?

[2022-09-27 12:07] ankitgupta8888 opened #14316 "split_to_map function issue"
Hive to Presto conversion issue

Hive Function
`SELECT str_to_map('p1=v1&url=https://www.abc.com/cart?a1=b1&p2=v2','&','=')
`
`Hive output : {"p1":"v1","p2":"v2","url":"https://www.abc.com/cart?a1=b1"}
`
Presto equivalent:
`SELECT split_to_map('p1=v1&url=https://www.abc.com/cart?a1=b1&p2=v2','&','=')
`
`Presto output:  presto error: Key-value delimiter must appear exactly once in each entry. Bad i

[2022-09-27 12:17] phd3 opened #14317 "Failure during creation of plan fragments: Cannot overwrite partitioning with SINGLE (currently set to Optional[HASH])"
Saw an issue which is reproducible with the following sequence

[code]

Query Plan

[code]

Failure in PlanFragmenter

[code]

The issue is reproducible on current master, as well as as far back as 352

[2022-09-27 12:53] ebyhr commented on #14226
Closing as the Phoenix version is unsupported as https://github.com/trinodb/trino/pull/6865#issuecomment-779493200
Please feel free to reopen or file a new issue if you face the issue in supported version.

[2022-09-27 12:53] #14226 closed

[2022-09-27 13:32] NMonnerSans commented on #14299
@findepi I'm not entirely sure, because as I said, it happens spuriously with some of the tables, but not others, but we created tables with Iceberg 0.13.1, with a location in an S3 prefix as shown above (`s3://dw_bucket/prd_{table}_iceberg/`). Inside that prefix, there are the usual `data` and `metadata` default locations. We use Livy as our Spark client on EMR for most of the ETLs, but for most

[2022-09-27 13:49] NMonnerSans commented on #14303
@findepi The query shown above is the minimum example I use to reproduce it. @martint, I'll run them both and provide the `EXPLAIN` outputs.

[2022-09-27 13:57] NMonnerSans commented on #14299
I forgot to say that this behavior can also be seen in v 395, which we also tried upgrading to and had to rollback also.

[2022-09-27 14:02] findepi commented on #14245
[code]

#14174

i.e. same as https://github.com/trinodb/trino/issues/14154#issuecomment-1249814960 but for Glue
the wording feels clumsy, but the wording we end up using in 397 RNs isn't good either (https://github.com/trinodb/trino/pull/14194/files#r981289095)

[2022-09-27 14:07] findepi commented on #14317
@phd3  Might be a duplicate of https://github.com/trinodb/trino/issues/10887

[2022-09-27 14:39] sopel39 commented on #14312
cc @dain

[2022-09-27 14:42] sopel39 commented on #14312
The code is:
[code]
I don't see the mentioned code

[2022-09-27 15:04] alexjo2144 commented on #14299
Also possibly related: https://github.com/trinodb/trino/pull/13984 cc: @ebyhr

[2022-09-27 15:05] alexjo2144 commented on #14299
Can you share the full stack trace of some of these errors?

[2022-09-27 15:46] martint commented on #13180
If we’re going that route, we still need to sort out some syntactic issues.

1) The “if not exists” clause doesn’t make sense in the context of REPLACE. A “create or replace” already implies that behavior
2) Is REPLACE a first class command? Would we also consider adding syntax for REPLACE TABLE as a top level command?

[2022-09-27 15:50] martint commented on #13180
I agree that it’s less convenient, but on the contrary, we need to make transactions work better in the long run. They are going to be increasingly important to support more complex transformation pipelines that may involve intermediate temporary tables and functions.

Also, having better support for transactions can allow the engine to decompose queries into smaller independent steps to exploit s

[2022-09-27 16:37] osscm commented on #14241
@findepi

I believe we need to disable that. That just doesn’t make sense, unless the split sizes calculated this way are “reasonable”

You want to disable it in the `Iceberg` library, if the `splitOffsets` are available?

[2022-09-27 17:10] findepi commented on #13288
https://github.com/trinodb/trino/actions/runs/3135264357/jobs/5091986323

[2022-09-27 17:12] findepi commented on #11140
https://github.com/trinodb/trino/actions/runs/3135264357/jobs/5091989947

[2022-09-27 17:26] findepi commented on #14317
cc @sopel39 @dain @raunaqmorarka

[2022-09-27 17:30] findepi commented on #13180
good point, the IF NOT EXISTS clause should not be allowed for CREATE OR REPLACE TABLE, since it doesn't make sense

I wouldn't add that, but we don't need to make this decision now.

[2022-09-27 23:41] xiangfu0 commented on #14277
Another 50 rounds stress test passed on master branch: https://github.com/trinodb/trino/actions/runs/3137939987/jobs/5098905207

[2022-09-28 00:02] xiangfu0 commented on #14277
Found one flaky one: https://github.com/trinodb/trino/actions/runs/3137952024/jobs/5098915969
[code]

Seems that the http request may fail. Shall we add a default 3 retries?

[2022-09-28 01:27] ebyhr commented on #9018
Related issue https://github.com/trinodb/trino/issues/14241

[2022-09-28 01:41] ebyhr commented on #14299
Does this issue happen even when you create a new table?

[2022-09-28 01:48] ebyhr commented on #13457
Fixed by #13984

[2022-09-28 01:48] #13457 closed

[2022-09-28 03:28] albericgenius commented on #13803
@findepi i am not sure it is right solution to reused RemoveRedundantJoin here.
Or I should create a new Rule.
Welcome for any comments, I will update asap.
Thanks

[2022-09-28 03:39] ebyhr commented on #10523
@ayushbilala Are you still working on this? We added support for `query` pass-through function and query based reader for views. Are they insufficient in your use case?

[2022-09-28 03:42] ebyhr commented on #3884
Let me close this issue as we can't reproduce it. This might be temporary issue in BigQuery side. Please feel free to reopen or file a new issue if you still face the issue.

[2022-09-28 03:42] #3884 closed

[2022-09-28 03:53] ebyhr commented on #12405
Probably, this is fixed by #13743

[2022-09-28 03:53] #12405 closed

[2022-09-28 04:33] duhanmin opened #14337 "The GC stall makes it unusable and can only be restarted"
[code]

[2022-09-28 04:34] duhanmin commented on #14337
jvm.config
[code]

config.properties
[code]

[2022-09-28 04:38] ebyhr commented on #12891
It's little hard to draw a boundary because the connector basically maps Iceberg properties to Trino properties. Let's continue in #11538

[2022-09-28 04:38] #12891 closed

[2022-09-28 06:00] ebyhr opened #14338 "Simplify or remove scripts to load TPCH tables in BigQuery"
BigQuery connector supports `CREATE TABLE AS SELECT` and `INSERT` statements now. We can simplify or remove scripts to load TPCH tables https://github.com/trinodb/trino/tree/master/plugin/trino-bigquery/bin

[2022-09-28 06:12] hashhar commented on #14338
I have something similar I did last night - I'll send a PR. Also it seems all data types that TPCH uses are supported right now.

[2022-09-28 06:30] duhanmin commented on #2927
@EricJoy2048  What is your JDK version and mine
[code]

[2022-09-28 07:14] findepi commented on #13803
let's have a separate rule

note that `SemiJoinNode` doesn't do filtering, it only _projects_ whether there is match, so a rule would need to match FilterNode + SemiJoinNode

[2022-09-28 07:26] ebyhr opened #14340 "Fix broken main method in Hudi query runners"
Both `HudiQueryRunner` and `S3HudiQueryRunner` fail:
[code]

[2022-09-28 07:50] ebyhr opened #14341 "Selecting hidden columns fails to open split in Hudi"
We should throw column not found exception if we don't support them.

[code]

Below columns cause this issue
* `$path`
* `$file_size`
* `$file_modified_time`
* `$partition`

[2022-09-28 08:31] utf7 commented on #3706
we have same problem， do you have a solution?
@Ennosigaeon

[2022-09-28 08:48] Ennosigaeon commented on #3706
No, we have given up on this issue and used a dedicated subdomain, i.e. `https://presto.server.com/`

[2022-09-28 09:22] findinpath opened #14343 "Bump `jts` to a newer version"
At the time of this writing, the library jts https://github.com/locationtech/jts is on `1.19.0`

Trino is using `1.16.1`

Along the way, address

[code]

https://github.com/trinodb/trino/blob/fe608f2723842037ff620d612a706900e79c52c8/lib/trino-geospatial-toolkit/src/main/java/io/trino/geospatial/GeometryUtils.java#L209

cc: @JamesRTaylor

[2022-09-28 09:48] findinpath opened #14344 "Test change: Replace `io.trino.plugin.hive.parquet.TestTimestampMicros#createPageSource` method"
The method `io.trino.plugin.hive.parquet.TestTimestampMicros#createPageSource` points to the fact that it can be eventually removed:

https://github.com/trinodb/trino/blob/9608658731b6a9c85e3868ae22a6f07b2d5a9956/plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/TestTimestampMicros.java#L101-L104

Now that https://github.com/trinodb/trino/pull/5283 is closed, this test can be refactored

[2022-09-28 10:16] findinpath commented on #11294
maven-surefire-plugin `3.0.0-M7` is available in the meantime.

[2022-09-28 10:19] nineinchnick commented on #11294
There are issues with M7, see https://github.com/airlift/airbase/pull/316

[2022-09-28 10:33] findepi commented on #14340
cc @codope @7c00

[2022-09-28 10:37] sopel39 commented on #5880
Might be addressed by https://github.com/trinodb/trino/pull/14271

[2022-09-28 13:18] codope commented on #14340
Checking.

[2022-09-28 13:19] findinpath opened #14348 "Reduce code duplication between `TrinoS3FileSystem` and `TrinoS3ClientFactory`"
The following 2 snippets of code are awfully similar:

https://github.com/trinodb/trino/blob/fe608f2723842037ff620d612a706900e79c52c8/plugin/trino-hive/src/main/java/io/trino/plugin/hive/s3select/TrinoS3ClientFactory.java#L93-L105

https://github.com/trinodb/trino/blob/fe608f2723842037ff620d612a706900e79c52c8/plugin/trino-hive/src/main/java/io/trino/plugin/hive/s3/TrinoS3FileSystem.java#L284-L291

[2022-09-28 15:33] findepi commented on #14299
@NMonnerSans are you using Glue catalog, or HMS?

[2022-09-28 16:58] codope commented on #14341
I see. Let me fix this.

[2022-09-28 19:03] zach-overflow opened #14354 "BigQuery Connector does not support Workload Identity for external service accounts"
## Background & Bug Description
We are running Trino on a GKE cluster which is used by numerous different teams for various dedicated services (each of which reside in their own dedicated namespaces). If any of those services require specific GCP resources, such as buckets or IAM service accounts which are linked via [Workload Identity](https://cloud.google.com/kubernetes-engine/docs/concepts/work

[2022-09-28 19:35] arhimondr commented on #13946
Fix: https://github.com/trinodb/trino/pull/14355

[2022-09-28 20:20] NMonnerSans commented on #14299
We are using the Hive Metastore, with Iceberg, and as far as I can tell, new tables weren't affected, but as I said, this happened only on some of the tables, and we have yet to determine why (since all our table creations occurred at the same time, and are somewhat similar)

[2022-09-28 20:50] arhimondr opened #14358 "io.trino.tests.product.hive.TestRoles is flaky"
Example stack trace:

[code]

[2022-09-28 21:04] tan31989 commented on #13059
@ebyhr , I have been scratching my head around a problem to write tests for `TestPinotConnectorTest` for a while now.

Need some assistance before I proceed further.

* `BaseConnectorTest` has a table `orders`, that has a column for `date`
* Pinot support date transformation using some functions, mentioned [here](https://dev.startree.ai/docs/pinot/recipes/datetime-string-to-timestamp#datetime-stri

[2022-09-28 21:10] arhimondr commented on #14358
Should be fixed by https://github.com/trinodb/trino/pull/14323

[2022-09-28 21:10] #14358 closed

[2022-09-28 21:11] vgankidi opened #14359 "Use iceberg partition table api for partitions metadata table"
Spec id would be useful to have in partitions table output - https://github.com/apache/iceberg/blob/40de4bc7dc12c3e2c40d4fb687f9ee3342cb1727/core/src/main/java/org/apache/iceberg/PartitionsTable.java#L50

[2022-09-28 23:11] ebyhr commented on #13059
@xiangfu0 @elonazoulay Can you help to setup `orders` table?

[2022-09-28 23:19] #14245 closed

[2022-09-28 23:20] martint opened #14360 "Add Trino 399 release notes"

[2022-09-28 23:24] mosabua opened #14361 "Improve error message for missing catalog files on workers"
A user on slack reported the error message:

[code]

It turns out that the source of the problem was that only the coordinator had the catalog properties file. None of the workers had it.

Ideally we can update the error message to be more specific or at least add some tips. Problem is I am not sure in what other cases that erorr message comes up.. but maybe we can at least add a few tips.

[2022-09-28 23:57] davidlukac opened #14362 "Can't connect to Druid behind basicauth without exposing password in logs"
Trino version: `397`

Druid config:
[code]
Running query against Druid results with HTTP 401:
[code]
but adding the credentials as `AVATICA_USER` and `AVATICA_PASSWORD` directly into the connection string (as per [Avatica docs](https://calcite.apache.org/avatica/docs/client_reference.html)
[code]
gets through the basic auth, but unfortunately results in logging the whole connection string includin

[2022-09-29 00:19] ebyhr commented on #14362
We set `user` and `password` properties in DefaultCredentialPropertiesProvider. Probably, we need dedicated credential properties provider for Druid. Do you want to contribute this?

[2022-09-29 00:21] davidlukac commented on #14362
@ebyhr I'd be happy to 👍

[2022-09-29 00:26] twokindswater opened #14364 "passing extra credential"
`trino-cli` has `extra-credential` option. and `go-client`, `python-client` also have that.
but `trino-cli` has one different from `go-client`, `python-client`. `trino-cli` only have `extra-credential` header when build query request.
so `trino-cli` does not work when i use `extra-credential` to passing sts token. but others is okay. because token is to be set in header every request.

i suggest `

[2022-09-29 00:59] ebyhr opened #14365 "Add product test for Hudi"

[2022-09-29 01:00] davidlukac commented on #14362
@ebyhr should `avatica_user` and `avatica_password` be filled from `connection-user` and `connection-password` or should they come from some custom properties?

[code]

[2022-09-29 01:32] osscm commented on #14132
@findepi @alexjo2144 @findinpath If you get time, can you please share your thoughts about the approach we have discussed? thanks!
If we are ok, then can have PR rolling as well.

[2022-09-29 03:35] #13905 closed

[2022-09-29 05:02] findinpath commented on #14132
After handling https://github.com/trinodb/trino/issues/14104 , the logic throws now a `CommitStateUnknownException` when doing the `replaceTable` operation.

https://github.com/trinodb/trino/blob/15dd728c6d2f865bc9ece9672a32df9314b7a4e7/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/HiveMetastoreTableOperations.java#L91-L96

So the operation which potentially can corrupt th

[2022-09-29 05:09] vgankidi commented on #14241
These are row group boundaries in Parquet too which cannot be split further, we could combine them if larger splits are required.

[2022-09-29 07:14] losipiuk opened #14368 "TestIcebergParquetConnectorTest.testStatsBasedRepartitionDataOnCtas flaky"
[code]

Observed https://github.com/trinodb/trino/actions/runs/3146868604/jobs/5116286188

cc: @findepi

[2022-09-29 07:35] duhanmin commented on #4257
@tooptoop4 @manbuyun https://github.com/trinodb/trino/pull/10632

[2022-09-29 07:44] osscm commented on #10974
@findepi can you please share any update on this, are we planning to use the `min/max` if present, for the query optimization? thanks

[2022-09-29 08:21] ebyhr opened #14369 "Starting testing Pinot server takes 5 minutes"
We have to wait 5 minutes even if we want to run just one test. The slowness might come from data preparation in `createQueryRunner`. However, it's too slow either.

<img width="712" alt="Screen Shot 2022-09-29 at 17 17 58" src="https://user-images.githubusercontent.com/6237050/192978757-adf7689d-5d61-4517-afae-a8f5240d6330.png">

[2022-09-29 08:49] findepi commented on #14368
Might be same as https://github.com/trinodb/trino/issues/11140

[2022-09-29 09:34] xiacongling opened #14372 "Cannot access Kudu tables due to expire of Kerberos TGTs"
Hi, community. We recently encounter a problem that Trino (386) cannot list and query tables in a Kerberized Kudu cluster. The error message is:

[code]

Our Trino cluster works well when it is newly started, and a few days later, some of the workers and/or the coordinator start to raise such exceptions. A server restart can temporarily fix the problem and fails still occur days after. We configur

[2022-09-29 10:06] marton-bod commented on #14132
Thanks a lot for your input @findinpath! Let's go with this approach then. I'll let @osscm open a PR for this, hopefully he can put it up very shortly

[2022-09-29 10:24] marton-bod commented on #14132
Sure, that makes sense. Let me open a PR now to get the ball rolling

[2022-09-29 12:21] findepi commented on #14299
@NMonnerSans fwiw i tried to blindly repro this with https://github.com/trinodb/trino/pull/14346 but couldn't.

you may have more luck using the product test env (`testing/bin/ptl env up --environment singlenode-spark-iceberg`)
such synthetic repro steps would be best

[2022-09-29 12:32] findepi commented on #14364
The extra credentials are consumed by the server where it accepts the query submission.
They are not used after that, e.g. not used when polling for query results.

Perhaps it could be useful to document such things on https://trino.io/docs/current/develop/client-protocol.html, what do you think @djsstarburst ?

[2022-09-29 12:33] findepi commented on #14369
cc @elonazoulay @xiangfu0

i guess @kokosing would suggesting using a reusable container for such occasions.

[2022-09-29 15:05] mosabua opened #14377 "Expand details for explain validate"
https://trino.io/docs/current/sql/explain.html#explain-type-validate

[2022-09-29 15:10] #14196 closed

[2022-09-29 15:12] findepi commented on #14245
[code]

#14376

[2022-09-29 15:59] alexjo2144 commented on #10974
I would probably start with an implementation for `applyAggregation` for count(*). Min/max are going to have the problem of making sure that Parquet/ORC's sorting is the same as what we want for Trino sorting, but count should be a bit simpler. As long as all files report row count stats in the manifest, we don't have to read any data files.

[2022-09-29 16:19] alexjo2144 commented on #14241
Yeah, I think the question here was really if a user requests larger splits via a session property or config property if they should get it.

[2022-09-29 18:40] colebow commented on #14245
Does this need to be edited into 398 or is this for 399?

[2022-09-29 18:48] djsstarburst commented on #14364
Yes, that makes sense.  I'll add it to my list.

[2022-09-29 19:27] sumit-gupta-sgt opened #14381 "EOL software log4j 1.x"
Trino 389 still uses log4j 1.x, found below two jars:

/usr/lib/trino/plugin/accumulo/log4j-1.2.17.jar
/usr/lib/trino/shared/log4j-1.2.17.jar

Please help up to fix this asap.

[2022-09-29 20:10] #14364 closed

[2022-09-29 20:18] findepi commented on #14245
@colebow
it was forced-pushed away from master and re-added back after the release, so let me copy this to 399

[2022-09-29 20:18] findepi commented on #14360
[code]

#14196 #14276

[2022-09-29 20:21] findepi commented on #14368
https://github.com/trinodb/trino/actions/runs/3152488100/jobs/5128906441

[2022-09-29 20:55] findepi commented on #10974
These must not be different, otherwise predicate pushdown would be totally wrong.

But min/max can be inaccurate (varchars truncated, timestamps rounded).

When _some_ files have row count in the manifest, but some do not, microplans could be useful -- https://github.com/trinodb/trino/issues/13534

[2022-09-30 00:48] ellieshen opened #14387 "Pinot sum aggregation not pushdown"
Issue: Pinot sum aggregation(with group by) not pushdown

example query:
select  aa,bb,sum(durationsecs)
FROM table1
WHERE  callstarttimedays >= 19100 AND callstarttimedays <= 19100
group by aa,bb

[2022-09-30 01:32] ebyhr commented on #14360
[code]

#14326

[2022-09-30 02:25] ebyhr commented on #14299
I could reproduce the issue by manually updating `TABLE_PARAMS` table in metastore:
[code]

I think version 393 and 394 stores the metadata location like above (`//metadata`) and #13984 was insufficient for existing table cases. I will try fixing it.

[2022-09-30 03:35] ebyhr commented on #14387
What happens if you remove `WHERE` clause?

[2022-09-30 03:36] ebyhr commented on #14299
@NMonnerSans Can you confirm if #14389 resolves the issue in your environment?

[2022-09-30 05:43] ebyhr opened #14391 "Flaky "Communication link failure" in Databricks tests"
* [TestHiveAndDeltaLakeRedirect.testViewReferencingHiveAndDeltaTable](https://github.com/trinodb/trino/actions/runs/3155165327/jobs/5134503312)
* [TestDeltaLakeWriteDatabricksCompatibility.testCaseUpdateInPartition](https://github.com/trinodb/trino/actions/runs/3155158482/jobs/5134436064)
* [TestDeltaLakeDatabricksCreateTableAsSelectCompatibility.testCreateFromTrinoWithDefaultPartitionValues](http

[2022-09-30 08:03] sopel39 commented on #14360
[code]
https://github.com/trinodb/trino/pull/14370

[2022-09-30 09:16] elonazoulay commented on #14387
Is durationsecs an integer type?

[2022-09-30 10:18] electrum commented on #14299
This issue is tricky. S3 is not a file system, so it doesn’t canonicalize double or repeated slashes. Thus, it’s possible that there are actually double slashes in the S3 path. While this looks strange, this is completely valid.

We actually had to add handling in the Iceberg connector for this case, since Athena was writing such data and metadata. If we simply remove repeated slashes when reading

[2022-09-30 11:03] #14341 closed

[2022-09-30 11:04] hashhar commented on #14364
We should fix the sending of extra credential on every request in other clients as well since it seems unnecessary and adds confusion like shown here (since server won't do anything with it) - cc: @nineinchnick @hovaesco

[2022-09-30 11:04] ebyhr commented on #14360
[code]

#14363

[2022-09-30 11:21] findepi commented on #14364
@hashhar do you know which clients are to be fixed?

[2022-09-30 11:22] findepi commented on #14364
i guess this says Go and Python clients are affected. if so, let's have specific issues in their repos.

[2022-09-30 13:06] krvikash opened #14404 "Enable TestCassandraConnectorTest#testCreateTableWithLongColumnName"
Enable test case `TestCassandraConnectorTest#testCreateTableWithLongColumnName`

[2022-09-30 14:11] sopel39 commented on #14288
Current parquet reader is really row oriented rather than batch oriented

[2022-09-30 15:23] aczajkowski commented on #6799
Another hit:
https://github.com/trinodb/trino/actions/runs/3145610715/jobs/5115365010

[2022-09-30 18:06] ellieshen commented on #14387
@ebyhr It's same issue no matter remove where clause  or not(actually "where clause" can be pushed down normally ), but the sum(durationsecs) with group by aggregation is not pushed down.

[2022-09-30 18:07] ellieshen commented on #14387
@elonazoulay , yes it's integer type

[2022-09-30 18:24] xiangfu0 commented on #14387
can you share the trino /pinot version you are using and your table schema (just the relevant columns)

[2022-09-30 18:56] ellieshen commented on #14387
@xiangfu0 ,  pinot [0.10.0.18], trino 389, attached the table schema. And only sum() have push down issue, max() looks ok.   @elonazoulay mentioned one limitation about sum(integer_column).

[schema.txt](https://github.com/trinodb/trino/files/9686955/schema.txt)

[2022-10-01 00:47] ebyhr commented on #14362
Avatica JDBC driver doesn't use `user` and `password` at all right? You can use `connection-user` and `connection-password` properties instead of new properties.

[2022-10-01 07:15] findinpath commented on #11140
[BaseIcebergConnectorTest.testStatsBasedRepartitionDataOnInsert](https://github.com/trinodb/trino/actions/runs/3160325124/jobs/5146309904)

[2022-10-01 17:25] peterxiong13 opened #14422 "Unable to connect to Kerberos authentication hive of two or more different kdcs. Only the default realm can be recognized"
krb5.conf：
[libdefaults]
default_realm = A.COM
dns_lookup_kdc = false
dns_lookup_realm = false
ticket_lifetime = 86400
#renew_lifetime = 604800
forwardable = true
default_tgs_enctypes = aes256-cts
default_tkt_enctypes = aes256-cts
permitted_enctypes = aes256-cts
udp_preference_limit = 1
kdc_timeout = 3000

[realms]
A.COM = {
kdc = kdc.a.com
admin_server = kdc.a.com
}
B.COM = {
kdc = kdc.b.com
admi

[2022-10-01 23:57] #5658 closed

[2022-10-01 23:57] ebyhr commented on #14360
[code]

#14413

[2022-10-02 04:55] ebyhr commented on #14360
[code]

#14418

[2022-10-02 07:20] findinpath commented on #11140
https://github.com/trinodb/trino/actions/runs/3163547761/jobs/5151527253

[2022-10-02 16:25] raunaqmorarka commented on #14360
[code]
#13352

[2022-10-02 17:27] raunaqmorarka commented on #14360
[code]
#14350

[2022-10-02 23:49] ebyhr opened #14427 "Add tests for Hudi meta columns"
Hudi connector test sets these columns as hidden. `TestHudiSmokeTest` verifies only column definitions in `testShowCreateTable` method. We should verify row values too.

* _hoodie_commit_time
* _hoodie_commit_seqno
* _hoodie_record_key
* _hoodie_partition_path
* _hoodie_file_name

[2022-10-03 05:30] leetcode-1533 commented on #9471
read support PR: https://github.com/trinodb/trino/pull/14428

[2022-10-03 05:31] leetcode-1533 commented on #9471
code snippet for an alternative implementation of https://github.com/trinodb/trino/pull/14428: https://gist.github.com/leetcode-1533/2fb1cf64d386c5bef4c26f4f37c9c714 for

[2022-10-03 05:48] #14368 closed

[2022-10-03 06:35] codope opened #14429 "Add Hudi connector documentation"
Add Hudi connector documentation.

[2022-10-03 06:38] codope opened #14430 "Upgrade Hudi version for the connector"
Current Hudi version for the trino-hudi connector is 0.11.1.
Hudi v0.12.1 contains a critical fix for [HUDI-4687](https://issues.apache.org/jira/browse/HUDI-4687).

[2022-10-03 06:41] codope opened #14431 "Add product tests for Hudi connector"
Hudi connector has a few integration tests based on `BaseConnectorTest`. However, we need to add more product tests running in dockerized containers with Spark.

[2022-10-03 06:44] codope opened #14432 "Support MOR snapshot querying for Hudi tables"
Currently, the Hudi connector only supports snapshot querying on Copy-On-Write (COW) tables. For Merge-On-Read (MOR) tables, only read optimized queries are supported. This issue tracks the enhancement to support snapshot querying for MOR tables.

[2022-10-03 06:46] codope opened #14433 "Support DDL/DML for Hudi tables using the Hudi connector"
Currently, the Hudi connector can only read Hudi tables. This issue is to track the support for writes.

[2022-10-03 06:57] ebyhr commented on #14431
Closing as duplicate of #14365

[2022-10-03 06:57] #14431 closed

[2022-10-03 07:56] #14340 closed

[2022-10-03 08:50] findepi commented on #14241
Per my understanding of https://github.com/trinodb/trino/issues/14241#issuecomment-1255399036 -- nothing to do here.

[2022-10-03 08:50] #14241 closed

[2022-10-03 08:58] findepi commented on #13180
Seems there is no disagreement, so i removed the `syntax-needs-review`. Thanks to everyone involved in the discussion!

[2022-10-03 09:35] ebyhr commented on #14360
[code]

#14414

[2022-10-03 09:45] ebyhr commented on #14391
Posted a question in Databricks community site. https://community.databricks.com/s/question/0D58Y00009HF1OISA1/how-to-fix-intermittent-503-errors

[2022-10-03 10:44] findinpath commented on #13692
Probably related https://github.com/trinodb/trino/pull/13974

[2022-10-03 11:46] findinpath commented on #14365
Depends on https://github.com/trinodb/docker-images/pull/136

[2022-10-03 11:50] anuragko-kore opened #14439 "Vulnerabilities in java libraries"
### Please fix the vulnerabilities in the following libraries:

**Library - jetty-io-9.4.44.v20210927.jar**
Risk Factor: Attack complexity: low, Attack vector: network, DoS, Has fix, High severity, Recent vulnerability
Vulnerable Free Version: 11.0.11

**Library - http2-server-9.4.44.v20210927.jar**
Risk Factor: Attack complexity: low, Attack vector: network, DoS, Has fix, High severity, Recent vu

[2022-10-03 11:52] findinpath opened #14440 "Replace `queryResult.row(0).get(0)` with `queryResult.getOnlyValue()`"
Make use of the utility method introduced in https://github.com/trinodb/tempto/pull/100 to cosmetize the product test code as following:

[code]

with

[code]

Replace also

[code]

with

[code]

[2022-10-03 11:58] aakashnand commented on #10470
@BalaMahesh Did you have any workaround? I am also experiencing this issue with trino version 395

[2022-10-03 12:08] findepi commented on #13692
`remove_orphan_files` being fixed in https://github.com/trinodb/trino/pull/14383
while `expire_snapshots` in https://github.com/trinodb/trino/pull/14434

[2022-10-03 12:40] lukasz-walkiewicz commented on #9423
This should be fixed by: https://github.com/trinodb/trino/commit/cf574708c1403be4146f86c0c3a429a6c7290bb4. This test is no longer using Selenium.

[2022-10-03 13:16] findinpath commented on #13779
https://github.com/trinodb/trino/actions/runs/3172607329/jobs/5167373948

[2022-10-03 13:19] findinpath opened #14441 "Flaky `io.trino.tests.product.kudu.TestKuduConnectoKerberosSmokeTest.kerberosAuthTicketExpiryTest`"
[code]

https://github.com/trinodb/trino/actions/runs/3172607329/jobs/5167496348

[2022-10-03 14:36] findepi commented on #14441
cc @wendigo

[2022-10-03 20:33] davidlukac commented on #14362
Yeah, that's my understanding as well. IMO we can reuse `connection-user` and `connection-password`.

[2022-10-03 20:35] tan31989 commented on #8029
@m57lyra I tried to add documentation. Please review the same and let me know if this works.

[2022-10-04 01:10] twokindswater opened #14449 "passing acess-token with client."
trino has `access-token` option. but client has not.
so cloud you have a plan to offer `access-token` option in trino-cli, go-client, python-client?

[2022-10-04 04:57] raunaqmorarka commented on #14360
[code]
#14260

[2022-10-04 06:26] hashhar commented on #14360
[code]

[2022-10-04 07:50] findepi opened #14453 "CI's test matrix build is flaky: Plugin or one of its dependencies could not be resolved"
https://github.com/trinodb/trino/actions/runs/3175425597/jobs/5173446830 `ci / build-pt (pull_request)` Failing after 32m

[code]

[2022-10-04 07:50] findepi commented on #14453
are we missing some retries somewhere?
cc @nineinchnick

[2022-10-04 08:25] fr6nco commented on #13085
Need this too. I dont understand why its not merged if there's a PR available.

[2022-10-04 10:02] sopel39 commented on #14360
[code]
https://github.com/trinodb/trino/pull/14408

[2022-10-04 10:42] mdesmet opened #14455 "Add support for `NATURAL JOIN` syntax"
Currently NATURAL JOIN is not supported in Trino

https://github.com/trinodb/trino/blob/f09633641822f659c1a9e3ddbefa3c5937dffcdc/core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java#L2843

The NATURAL JOIN is used in ETL frameworks to implement deduplication.

For example see this dbt snippet:

[code]

I think the natural join could be implemented through rewriting the query

[2022-10-04 10:44] sopel39 commented on #13409
Closing as duplicate

[2022-10-04 10:44] #13409 closed

[2022-10-04 13:21] EminUZUN opened #14456 "mapping sql server uniqueidentifier to trino uuid"
Hello,

In sql server connector, uniqueidentifier is becoming varchar. Can you change it to uuid?

Regards,

[2022-10-04 13:26] findepi commented on #14360
[code]

#14412

[2022-10-04 13:37] SanthoshPrasad commented on #12637
Hi @alexjo2144 , do you have any information on when we are planning to make this change? , we are currently evaluating Trino for writes to delta using recently released MERGE support, but for our use case we need CDF and Generated Columns which are available from writer version 4.

[2022-10-04 13:46] #13803 closed

[2022-10-04 14:02] alexjo2144 commented on #12637
Hey @SanthoshPrasad , the team I work with at Starburst is planning on starting work on CDF in the next few weeks. I'll have a better idea of how long that'll take us when we actually get going on it.

Generated column support is a little trickier because we don't have a good way of converting Spark expressions into Trino expressions. In theory, any Spark expression could be used to generate the v

[2022-10-04 14:39] arhimondr opened #14459 "Limit number of task retry attempts to 127"
Some exchange implementations already make this reasonable assumption to save memory on metadata. It would make sense to properly reflect this assumption in the code base.

[2022-10-04 14:49] findepi commented on #14453
Let's reopen when seen next time

[2022-10-04 14:49] #14453 closed

[2022-10-04 15:22] bohyn commented on #13180
@findepi, thanks for the update. Since the syntax has been confirmed, can it be expected the change as designed by @mdesmet will be merged?

[2022-10-04 15:33] findepi commented on #14455
Yes, but there is a code snippet that looks as attempting to show why and where it's beneficial over what we support today.

[2022-10-04 16:17] mdesmet opened #14460 "`split_part` does not support negative indexes"
Currently `split_part` does not support negative indexes.

See https://github.com/trinodb/trino/blob/e84dff8357a0e314db12f915d3cb8aeaf18522a3/core/trino-main/src/main/java/io/trino/operator/scalar/StringFunctions.java#L431

Is this supported by the ANSI SQL spec?

I tried finding more information but was unsuccessful in finding the exact specs.

Most DBMS don't support this but Snowflake does.

A

[2022-10-04 16:34] martint commented on #14455
Other than for language completeness, I don't think there's much benefit to natural joins. In general, they should be avoided, as they can inadvertently start producing unexpected results if, for instance, a new column is added to one of the underlying tables.

The only case I can think of where it makes sense is if you're joining the table to itself, as in the query above.

[2022-10-04 17:40] hashhar commented on #14455
For dedupe specifically the simplest impl is:

[code]

To be honest I've never had a case where a NATURAL JOIN couldn't be converted to something more appropriate to task at hand. The only motivation to add it (in my opinion) would be for SQL spec coverage.

[2022-10-04 19:44] findepi commented on #14455
In the case of the query above, why do we need a Join?
Can't we just do a window and then filter, and then distinct?

[2022-10-04 20:06] ishu-thakur commented on #14440
Hi @findinpath can you assign it to me ? i would like to work on it .

[2022-10-04 22:13] findinpath opened #14464 "Improve error message on DML operations when `delta.enable-non-concurrent-writes` is `false`"
[code]

When `delta.enable-non-concurrent-writes` is set to `false`, the error message thrown is rather misleading.

Stating that the writes are not supported is actually incorrect.

The error message should point to the setting `delta.enable-non-concurrent-writes` as a way to enable the writes even though limited.

[2022-10-04 22:50] ebyhr commented on #14440
@ishu-thakur Could you coordinate with @krvikash who is already assigned?

[2022-10-05 08:08] findepi commented on #14360
[code]

#14443

[2022-10-05 11:23] mdesmet opened #14472 "`UNION ALL` results in exception when result used in unnest"
When executing following query

[code]

I get following exception

[code]

If i change the union all into union, I don't get an exception, although in this case the result should be equal.

[2022-10-05 11:29] sopel39 commented on #14360
[code]
https://github.com/trinodb/trino/pull/14212

[2022-10-05 13:12] kokosing commented on #13165
It happened to me too.

[2022-10-05 19:42] #14278 closed

[2022-10-05 20:31] viczsaurav commented on #6867
Hi. Are we also planning to support [BigQuery MERGE statement](https://cloud.google.com/bigquery/docs/reference/standard-sql/dml-syntax#merge_statement) as part of this effort too?

[2022-10-05 20:35] viczsaurav opened #14482 "Add support for MERGE statement in Bigquery"
BigQuery currently support [MERGE statement](https://cloud.google.com/bigquery/docs/reference/standard-sql/dml-syntax#merge_statement).

[2022-10-05 22:28] gowdra01 opened #14484 "Access denied when drop tables"
Hi , I am using trinodb in k8s and connected to hive.. but unfortunately I am getting Access Denied error when I trying to alter table to add columns ... I have added the rules.json and hive-secutiry for the user which logged in via ldap.. any idea why is that error ?

I can do show tables; or select query it work but not add columns

rules.json: |-
  {
    "catalogs": [
      {
        "catalog":

[2022-10-05 22:30] ebyhr opened #14485 "Flaky TestHiveConnectorTest due to OutOfMemoryError"
https://github.com/trinodb/trino/actions/runs/3190861988/jobs/5207489852

[code]

[2022-10-05 22:35] ebyhr commented on #14441
https://github.com/trinodb/trino/actions/runs/3188761435/jobs/5202070581

[2022-10-05 23:37] georgewfisher opened #14486 "ClassLoader issue using plugin aggregate function in window accumulator: java.lang.NoClassDefFoundError"
I'm seeing exceptions caused by ClassLoaders when using a plugin aggregator function plugin inside a window function. The issue is similar to the issue mentioned on [this Slack thread](https://trinodb.slack.com/archives/CP1MUNEUX/p1640390600083200?thread_ts=1640349840.080000&cid=CP1MUNEUX).

Specifically, during this call in AccumulatorCompiler it is using the ClassLoader for the AccumulatorCompil

[2022-10-06 00:33] ebyhr opened #14487 "Flaky "unable to create native thread: possibly out of memory or process/resource limits reached" in Kudu"
https://github.com/trinodb/trino/actions/runs/3193106867/jobs/5211602866

[code]

[2022-10-06 02:55] findepi commented on #13552
https://github.com/trinodb/trino/pull/14489 shows how useful this feature is.
Without `register_table` being added in https://github.com/trinodb/trino/pull/14375, it would be pretty much impossible to verify large datasets query plans on CI.

[2022-10-06 04:25] ebyhr commented on #14391
https://github.com/trinodb/trino/actions/runs/3193407799/jobs/5212445780

[2022-10-06 06:23] ebyhr commented on #14002
Fixed by #14158

[2022-10-06 06:23] #14002 closed

[2022-10-06 06:38] ebyhr commented on #10676
Let me close as we can't reproduce the issue and there's no response for a while. Feel free to continue at https://trino.io/slack.html if you want to talk interactively.

[2022-10-06 06:38] #10676 closed

[2022-10-06 06:52] ebyhr commented on #7847
Fixed by #11187

[2022-10-06 07:20] ebyhr commented on #14360
[code]

#14473

[2022-10-06 07:29] anubhav823 commented on #5316
Hi! Is this issue still open?

[2022-10-06 07:32] DevPJ9 commented on #14440
Hi @findinpath i would like to contribute and connect with @ishu-thakur for the same .

[2022-10-06 07:43] ebyhr commented on #14359
Can you describe when `spec_id` is helpful?

[2022-10-06 08:04] ebyhr commented on #7710
Closing as the code no longer exists. Relates to #11617

[2022-10-06 08:04] #7710 closed

[2022-10-06 08:14] tooptoop4 opened #14491 "Upgrade snakeyaml to fix CVE-2022-38752"
snakeyaml 1.31 affected

[2022-10-06 08:25] #14472 closed

[2022-10-06 08:55] hashhar commented on #5316
I think not since it was addressed with combination of https://github.com/trinodb/trino/pull/7912 and https://github.com/trinodb/trino/pull/13927

[2022-10-06 08:55] #5316 closed

[2022-10-06 08:58] anubhav823 commented on #5316
Ok thanks!

[2022-10-06 09:30] sopel39 commented on #14360
[code]
https://github.com/trinodb/trino/pull/14400

[2022-10-06 10:48] losipiuk opened #14496 "Filesystem exchange sometimes fails with "Maximum pending connection acquisitions exceeded" when talking to S3"
Sometimes we observe "Maximum pending connection acquisitions exceeded" errors when talking to S3 from "filesystem" implementation of exchanege:

Example stacktrace: https://gist.github.com/linzebing/967b1bbe3047bdc88b79e1fc218f6bb1

It happens under heavy cluster load and sometimes is frequent enough to fail the query even if task based retries are enabled.

It is more common when we use S3 clien

[2022-10-06 12:26] Airliquide76 opened #14501 "java.io.EOFException Trino -> Pinot"
Hi I'm facing an issue on trino <-> pinot connections.

Trino V393 -> Java 17
Pinot  0.11.0 -> Java 11

Got a java.io.EOFException in trino errors logs.
[code]

When issuing a simple select count(id) from pinot.default.myTable

Same select works fine in pinot

So rollback to previous pinot version working as it should be.

Feel free to ask more infos if needed

[2022-10-06 13:45] linzebing commented on #14496
https://github.com/trinodb/trino-verifier-queries/blob/238846a9de6e86124d0c22072b54ee25fdfe0afa/src/main/resources/queries/tpcds/etl/q88.sql is able to consistently repro on a GCP cluster, and sometimes a AWS cluster.

[2022-10-06 15:43] eshirvana commented on #10537
@tangjiangling  are you still working on this ? any ETA?

[2022-10-06 16:09] georgewfisher commented on #14486
The fix works to address this issue, thank you! Tested with my aggregation function plugin.

This issue can be closed once the PR lands.

[2022-10-06 17:35] Suresh-Nakkeran commented on #10476
Any updates?

[2022-10-06 18:57] tangjiangling commented on #10537
Yes.

Not sure, I already have a pending PR for DateTime64 support, my plan is to wait until [this PR](#14110) is merged before submitting.

CC @hashhar

[2022-10-06 19:18] abhisheksahani commented on #4077
@ChandrasekharPo-Kore Currently I am dumping mongo data to the presto in-memory table and every 20 minutes we are appending the in-memory table with delta/latest-updated data from mongo. We are running queries over the in-memory table.

[2022-10-06 20:05] findepi commented on #14486
Relates to https://github.com/trinodb/trino/pull/10346 (https://github.com/trinodb/trino/issues/10341), https://github.com/trinodb/trino/pull/10408.

[2022-10-06 20:17] findepi commented on #14501
cc @elonazoulay

[2022-10-06 20:20] findepi commented on #14482
cc @djsstarburst

[2022-10-06 20:31] #14486 closed

[2022-10-06 21:49] #14360 closed

[2022-10-06 22:28] ebyhr opened #14507 "Support projection pushdown in BigQuery `query` pass-through table function"

[2022-10-07 00:57] #14449 closed

[2022-10-07 01:09] ebyhr commented on #14404
We could upgrade minimum supported version to 3.x because 2.x already reached EOL as we talked offline.

[2022-10-07 01:53] martint opened #14509 "Release notes for 400"

[2022-10-07 06:25] pankajgupta1-myntra opened #14514 "Control the frequency of configuration reload from DB backed resource group manager"
Currently, The configuration is reloaded from the database every second. In significant cases, we want to control this frequency.

It is hardcoded [here](https://github.com/trinodb/trino/blob/18882afb87690efe22448dfe25d7be8be7d32aa2/plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/db/DbResourceGroupConfigurationManager.java#L132).

[2022-10-07 06:56] ebyhr commented on #12637
I couldn't find the expected behavior (remove or ignore files in `_change_data` directory) in the protocol page. Databricks 10.4 LTS removes the directory as far as I confirmed.

[2022-10-07 07:14] ebyhr commented on #14514
Do you want to contribute this feature?

[2022-10-07 07:42] #14427 closed

[2022-10-07 07:53] WinkerDu commented on #12096
@sopel39
I've check the code in `SortExpressionVisitor` (https://github.com/trinodb/trino/blob/master/core/trino-main/src/main/java/io/trino/sql/planner/SortExpressionExtractor.java#L95), I'd like to confirm what this issue suggests to do.

1. `visitComparisonExpression` doesn't handle `NOT_EQUAL` (<>) operator, we could add it to case match condition.
2. `visitBetweenPredicate` can only handle on

[2022-10-07 09:28] ebyhr opened #14516 "Flaky `TestHiveMerge.testMergeSimpleSelectPartitioned`"
https://github.com/trinodb/trino/actions/runs/3202027731/jobs/5231426378

[code]

[2022-10-07 09:30] #14440 closed

[2022-10-07 10:03] SanthoshPrasad commented on #12637
@ebyhr as per  https://docs.delta.io/2.0.0/delta-change-data-feed.html#change-data-storage , the files needs to be deleted?

[2022-10-07 10:13] SanthoshPrasad commented on #12637
@alexjo2144 , we will be using generated columns for partitioning , most of our table have event time stamps,  and we will be querying these tables based on date range , so for optimal performance we will be having partitioning on columns like YEAR, WEEK,MONTH which are generated columns  based on event time stamp column.

[2022-10-07 10:26] findepi commented on #12637
So you not only need support for generated columns, but you also want to be able to derive predicates on them from predicate on base columns.
This is reasonable, but also not that simple. cc @claudiusli

@SanthoshPrasad did you try using Iceberg for this use-case? Iceberg defines partitioning transforms. They are more constrained (no arbitrary expressions), but do exactly what you want, and also c

[2022-10-07 10:42] vlad-lyutenko opened #14517 "Move tests for special characters in table/column names from SQLServer to BaseConnectorTest"

[2022-10-07 11:06] findepi commented on #14516
cc @djsstarburst

[2022-10-07 12:36] SanthoshPrasad commented on #12637
Delta being used by multiple applications in the organization, we are just one of the consumers.

[2022-10-07 12:43] findepi opened #14519 "Update Hive ACID table seems sometime to corrupt the data"
for example `TestHiveTransactionalTable.testAcidUpdateSelectedValues` is flaky https://github.com/trinodb/trino/actions/runs/3203025750/jobs/5233758071

[code]

cc @djsstarburst

[2022-10-07 12:46] findepi commented on #3635
Let's hope the issue is obsolete. We haven't seen any comments here for past year.

[2022-10-07 12:47] findepi commented on #14519
`TestHiveTransactionalTable.testAcidUpdateWithSubqueryPredicate` is also affected https://github.com/trinodb/trino/issues/13162

and `testUpdateFullAcidWithOriginalFilesTrinoInsertingAndDeleting` https://github.com/trinodb/trino/issues/11893

and `testPartitionedInsertAndRowLevelDelete` https://github.com/trinodb/trino/issues/9083

and `testFilesForAbortedTransactionsIgnored` https://github.com/tr

[2022-10-07 12:47] findepi commented on #13162
Merging this issue into https://github.com/trinodb/trino/issues/14519

[2022-10-07 12:47] #13162 closed

[2022-10-07 12:47] findepi commented on #11893
Merging this issue into https://github.com/trinodb/trino/issues/14519

[2022-10-07 12:47] #11893 closed

[2022-10-07 12:47] findepi commented on #9083
Merging this issue into https://github.com/trinodb/trino/issues/14519

[2022-10-07 12:47] #9083 closed

[2022-10-07 12:47] findepi commented on #5463
Merging this issue into https://github.com/trinodb/trino/issues/14519

[2022-10-07 12:47] #5463 closed

[2022-10-07 12:49] findepi commented on #12063
Thanks for the link.

However, when i tried to browse the logs to get the full stacktrace, i got this

<img width="844" alt="image" src="https://user-images.githubusercontent.com/144328/194557498-92757305-f9f4-41e1-b1d2-14e893fcb87b.png">

so we have the message only

[code]

as such, it looks like potentially same as https://github.com/trinodb/trino/issues/14519

[2022-10-07 12:50] findepi commented on #14519
`testOrcColumnTypeChange` https://github.com/trinodb/trino/issues/12063 seems to be about the same problem too

[2022-10-07 17:22] ellieshen commented on #391
Any Plan to support multiple coordinators in a cluster to Reduce impact of crashed coordinator?

[2022-10-07 19:15] alexjo2144 commented on #12637
For a first stab at it, I think it would be fine to just make sure that the files in the change data feed are always left in place when you vacuum a table in Trino. The better behavior, I think, would be to follow the Databricks semantics described [here](https://docs.databricks.com/spark/latest/spark-sql/language-manual/delta-vacuum.html#vacuum-a-delta-table-delta-lake-on-databricks):

[code]

Ge

[2022-10-07 20:04] findepi opened #14526 "Flaky test TestHttpRemoteTask.testRejectedExecution"
https://github.com/trinodb/trino/actions/runs/3205780736/jobs/5240103859

[code]

[2022-10-07 21:23] arhimondr commented on #14496
Looking

[2022-10-07 21:43] ebyhr commented on #14509
[code]

#14510

[2022-10-07 23:18] mosabua commented on #13951
What the next step here @martint ?

[2022-10-08 14:38] EMCP opened #14529 "Trino unable to create datasets"
I have the following setup

[code]

I can successfully connect using both the `hive` and `ubuntu` user in the connection string.. however when I go to create a dataset.. no tables or schemas are being listed.. with either user

![image](https://user-images.githubusercontent.com/3691722/194712937-bb996b78-bd99-4fc9-a1f8-29231e55103e.png)

I can confirm the tables exist, I can query it in the SQL La

[2022-10-08 14:42] #14529 closed

[2022-10-08 20:18] martint opened #14530 "TestFileBasedSystemAccess control fails in IDE"
[code]

[2022-10-08 20:24] martint opened #14531 "TestUserMapping fails in IDE"
[code]

[2022-10-09 07:58] KarlManong opened #14533 "elastic connector can't filter "not equal" ('<>' or '!=' ) correctly"
When querying elasticsearch tables with trino-395, "not equal" may returned wrong data.

for example:
we have a table
[code]
[code]
it has rows
[code]
data
[code]

But when query:
[code]
it returned **0** row.

It may cased by "io.trino.plugin.elasticsearch.ElasticsearchQueryBuilder#getShouldClauses"

[2022-10-10 02:45] duhanmin opened #14537 "There is a large cache of parquet large objects resulting in trino OOM"
trino 359

![image](https://user-images.githubusercontent.com/28647031/194792841-bb0b16ae-cc3b-4344-9f8a-9cfff83dbf5b.png)

[2022-10-10 02:48] duhanmin commented on #14537
https://github.com/trinodb/trino/issues/14337

[2022-10-10 03:25] u6387664 commented on #7240
Hi there, I'm a first time contributor and would like to work on this issue/ be assigned to this issue. Any tips or help would be appreciated!

[2022-10-10 03:26] u6387664 commented on #14514
Hi there, I'm a first time contributor and would like to work on this issue/ be assigned to this issue. Any tips or help would be appreciated!

[2022-10-10 04:30] pankajgupta1-myntra commented on #14514
It can be set as Config properties just like resource-groups.max-refresh-interval.
Users will have control via resource-groups.properties file.

[2022-10-10 04:42] pankaj-gupta140 commented on #14514
It can be set as Config properties just like resource-groups.max-refresh-interval.
Users will have control via resource-groups.properties file.

[2022-10-10 06:05] arunkumaralagesan commented on #8852
Do we have any pretty print mechanisms for the explain output?
It's hard for the users to go over the output and gain insights.

Any solution for a "pretty" rendering in javascript/React would be very much helpful

[2022-10-10 07:17] Xenqifi opened #14540 "Trino Driver - Oracle Catalog problem"
Hi Guys,

There is a Hive Catalog setup for Trino but there is a pesky Oracle Catalog as well. We cannot access this Oracle Catalog, we also do not know how to remove it.

We are only interested in accessing Hive tables, views.

The problem is, some applications when trying to connect to Hive, fails because their tools try to Open/Access Oracle Catalog as well eventhough the Hive Catalog is specif

[2022-10-10 08:01] hashhar commented on #14540
You can remove the `<catalog_name>.properties` file from Trino's `etc/catalogs` directory to get rid of the catalog if you really have no use for it.

Feel free to join our [Slack](https://trino.io/slack.html) and continue the conversation there or reopen if needed.

[2022-10-10 08:01] #14540 closed

[2022-10-10 08:04] findepi commented on #8852
No doubt about that. EXPLAIN plans are not supposed to be read by a typical user. They are meant for expert and contain information that only experts can make sense of.

[2022-10-10 08:34] findepi commented on #14530
How do you run it?
It seems to work for me

<img width="359" alt="image" src="https://user-images.githubusercontent.com/144328/194826657-5633d643-e475-41e4-a1c4-964c19ebe085.png">

[2022-10-10 08:34] nineinchnick opened #14543 "Add tests for the phoenix5 testing Docker image"
https://github.com/trinodb/docker-images/pull/147 adds tests to most of the testing Docker images, except for Phoenix 5, since it doesn't have a simple health check.

Add a test for it and enable it in `.github/workflows/ci.yml`.

[2022-10-10 08:50] findinpath opened #14544 "OOM while running `trino-hive`"
[code]

[2022-10-10 08:50] findinpath commented on #14544
https://github.com/trinodb/trino/actions/runs/3216856434/jobs/5259188338

[2022-10-10 08:53] huberty89 commented on #4865
Cannot reproduce it, tested on 399

[2022-10-10 08:53] #4865 closed

[2022-10-10 08:57] myfjdthink commented on #10523
I tried the query function, this is my query sql :
[code]

and it ran with an error：:
[code]

@ebyhr

[2022-10-10 09:17] hashhar commented on #10537
Thanks for the reminder @tangjiangling . I'll take another look.

[2022-10-10 09:24] hashhar commented on #7100
@mathsteam Tests will need to be added to verify the effect and fix any failures accordingly.

See `TestPostgreSqlTypeMapping` and `PostgreSqlConnectorTest#testPredicatePushdown` as some examples of what to add to ClickHouse.

[2022-10-10 09:35] findepi opened #14545 "EvictableCache loads value twice after time-based expiration"
found by @atanasenko

[2022-10-10 09:57] findepi commented on #14544
@findinpath in this case, what were the ongoing test classes?
surefire sometimes reports this, look for "Crashed tests" in log. see https://github.com/trinodb/trino/issues/14485 for example

also, https://github.com/trinodb/trino/issues/14248 may be related

[2022-10-10 09:58] findepi commented on #14485
Duplicate of #14248

[2022-10-10 09:58] #14485 closed

[2022-10-10 10:32] findinpath commented on #14544
Closing because this is a duplicate of https://github.com/trinodb/trino/issues/14248

[2022-10-10 10:32] #14544 closed

[2022-10-10 11:51] #14132 closed

[2022-10-10 12:03] findepi commented on #14509
[code]

#14386

[2022-10-10 12:08] hashhar commented on #14509
[code]

#14272

[2022-10-10 12:17] findepi commented on #13166
https://github.com/trinodb/trino/actions/runs/3218319569/jobs/5262761388

[code]

[2022-10-10 12:20] findepi opened #14546 "Flaky TestPinotWithoutAuthenticationIntegrationLatestVersionConnectorSmokeTest.init: Container startup failed: Timed out waiting for container port to open"
[code]

[2022-10-10 12:20] findepi commented on #14546
cc @elonazoulay @xiangfu0

[2022-10-10 12:26] findepi commented on #13166
@linzebing @arhimondr
do you happen to know under what conditions the S3 / MinIO would throw "The specified key does not exist" when writing to a file?

in the last stacktrace above the failure occurred here
https://github.com/trinodb/trino/blob/14f61898fa50411af7943578b2651fc2d1d6a7ff/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/writer/S3TransactionLogSynchronize

[2022-10-10 15:03] sopel39 commented on #14509
[code]
https://github.com/trinodb/trino/pull/14395

[2022-10-10 16:17] linzebing commented on #13166
I have never encountered this error with S3 or MinIO

[2022-10-10 17:34] billoliver42 opened #14552 "Unable to alter iceberg table when location has trailing slash"
## Description
When I create a table using the iceberg connector and set the table's location to a bucket (without a subfolder), Trino throws a metadata location mismatch error (see below).

## Setup
Trino with the Iceberg connector using Minio as storage layer. Hive standalone metadata server using Postgres backend.

## Error
[code]

It appears that the only difference between the two paths is an

[2022-10-10 20:38] xiangfu0 commented on #14546
I'm also observing this under my test in https://github.com/trinodb/trino/issues/14277

[2022-10-10 21:46] paoliniluis opened #14554 "FAILED (TABLE_NOT_FOUND) when describing MySQL tables"
Using metabase/qa-databases:mysql-sample-8 container, which is a MySQL 8 DB with some sample data (username: metabase / password metasample123)

If I connect to that DB via an external client, it works out of the box

If I connect to that DB via Trino with an external client (using https://trino.io/docs/current/connector/mysql.html), it will fail with the error in the title.

The problem is also i

[2022-10-10 22:58] ebyhr commented on #14509
[code]

#14494

[2022-10-10 23:07] ebyhr commented on #14554
Does the table name contain uppercase in MySQL side? What happens if you enable `case-insensitive-name-matching` config property?

[2022-10-11 04:58] #13996 closed

[2022-10-11 05:36] xiangfu0 commented on #14387
I dig something here. Seems that after the optimizer  `select sum(x)`  query generating the Nodes:
OutputNode->AggregationNode->ExchangeNode->RemoteNode,  AggregationNode->TableScanNode.

But when query `select max(x)`, the optimizer goes over `PushAggregationIntoTableScan` and generated a plan:
OutputNode->TableScanNode with `max(x)`

cc: @ebyhr @elonazoulay, so I suspect there are some smart opt

[2022-10-11 07:47] findepi commented on #14546
@xiangfu0 did you mean to link to a PR?

the linked issue doesn't mention `init` failures, so may be a different problem

[2022-10-11 07:51] xiangfu0 commented on #14546
Right, could be a different issue. I'm testing if extend the startup timeout check will help

[2022-10-11 07:56] findepi commented on #14552
@ebyhr's https://github.com/trinodb/trino/pull/14389 may help here, but that PR is supposed to deal with tables that got corrupted by versions 393 and 394.

Also https://github.com/trinodb/trino/pull/13984 may be related.

cc @ebyhr  @alexjo2144

[2022-10-11 09:06] ankitgupta8888 opened #14563 "split_to_map duplicate key lambda feature not implemented"
In Presto split_to_map function for duplicate keys lamba expression is implemented which is missing in trino implementation.
e.g.   SELECT(split_to_map( 'a:1;b:2;a:3 ',  '; ',  ': ', (k, v1, v2) -> CONCAT(v1, v2)));  – {"a": "13", "b": "2"}

https://github.com/trinodb/trino/blob/master/core/trino-main/src/main/java/io/trino/operator/scalar/SplitToMapFunction.java

https://github.com/prestodb/prest

[2022-10-11 10:44] sopel39 commented on #14509
[code]
https://github.com/trinodb/trino/pull/14396

[2022-10-11 13:16] ebyhr opened #14568 "Fix `TestS3WrongRegionPicked.testS3WrongRegionSelection` failure"
https://github.com/trinodb/trino/actions/runs/3225581789/jobs/5279732052

[code]

[2022-10-11 13:17] Praveen2112 commented on #14568
Is this flaky or ?

[2022-10-11 13:22] ebyhr commented on #14568
I guess the test is broken. Another failure in master https://github.com/trinodb/trino/actions/runs/3225323789/jobs/5279663309

[2022-10-11 13:49] Praveen2112 commented on #14568
In the PR the test ran successfully.

[2022-10-11 13:55] Praveen2112 commented on #14568
Runner version changed 2.297.0 to 2.298.2 and it has a different secret source.

[2022-10-11 14:37] osscm commented on #10974
@findepi @alexjo2144 even if the aggregation like `count` can be pushed down and use the metrics (if available) then it will be very useful.

So, shall we start with supporting aggregate push down for Iceberg and handle the case for `count`?

[2022-10-11 15:06] paoliniluis commented on #14554
Thanks! it worked!

Interesting facts:
1) in the SQL scripts, everything was in uppercase
2) Presto showed everything in lowercase in the first place (that's why I filled the bug, since "show tables from ..." was showing things in lowercase)

Is this an actual issue? (I mean, the behaviour should be consistent, either it fails completely or it works)

[2022-10-11 15:43] Praveen2112 commented on #14568
But it was running fine here - https://github.com/trinodb/trino/actions/runs/3226169506/jobs/5280387673.

[2022-10-11 21:46] ebyhr commented on #14554
It's a known issue. Please take a look at https://github.com/trinodb/trino/issues/17.

[2022-10-11 21:46] #14554 closed

[2022-10-11 22:27] ebyhr commented on #14552
@billoliver42 I can't reproduce the issue in upstream master. What Trino version are you using?

[2022-10-11 23:55] #14299 closed

[2022-10-11 23:56] ebyhr commented on #14509
[code]

#14389

[2022-10-12 00:22] voycey opened #14581 "Create a connector for Google PubSub"
With the new "Direct to BigQuery" features on PubSub and interoperability with Kafka Connect (https://github.com/googleapis/java-pubsub-group-kafka-connector) a Trino connector for PubSub would be a fantastic addition.

Our workflow pulls in streaming data from multiple sources and quite often we need to query this on the fly, currently we can stream this into BigQuery but there are latency issues

[2022-10-12 03:12] ebyhr commented on #14568
https://github.com/trinodb/trino/actions/runs/3231039882/jobs/5290262149

[2022-10-12 03:38] bmmcq opened #14582 "Whether the "partial aggregation push down" is already supported?"
For example a query like this:
[code]
where the table "nation" has multiple sources and each source support aggregation push-down. So whether Trino supports pushing down partial aggregation to each source, and doing global aggregation itself, if the associative law and the commutative law are satisfied;

[2022-10-12 05:40] skrzypo987 commented on #14568
That is absolutely the fastest flakiness I've introduced in my professional career. I'll take care of this right away

[2022-10-12 06:26] zhengxingmao opened #14583 "When the column name of the Iceberg metadata file record is an uppercase field, executing ANALYZE TABLE will report that the column cannot be found."
Flink SQL create iceberg table with an uppercase column name:
[code]
and Trino which version I used is v397 executes ANALYZE b,met this error.

[code]

[2022-10-12 06:42] lukasz-stec commented on #13633
https://github.com/trinodb/trino/actions/runs/3228435010/jobs/5285315134

[2022-10-12 06:58] findepi commented on #14509
[code]

#14571

[2022-10-12 07:39] sopel39 commented on #12096
@WinkerDu That looks correct

[2022-10-12 07:43] ebyhr opened #14587 "Flaky `TestTrinoCli.shouldRunMultipleBatchQueriesWithStdinRedirect`"
https://github.com/trinodb/trino/actions/runs/3224211999/jobs/5275210287

[code]

[2022-10-12 07:51] ebyhr opened #14588 "Flaky `TestHiveTableStatistics.testMixedHiveAndPrestoStatistics`"
The test takes about 1 minute in the normal case.
https://github.com/trinodb/trino/actions/runs/3224211999/jobs/5275210156

[code]

[2022-10-12 08:56] WinkerDu commented on #14237
I think more contributors can involve in this project if there is some specific opening issues

[2022-10-12 11:47] ebyhr opened #14591 "Support case insensitive name matching in MongoDB `query` table function"
Note: MongoDB disallows the database name with different case, but it's allowed in collection name.

[2022-10-12 12:33] #13545 closed

[2022-10-12 13:51] sopel39 opened #14594 "Add plan node for PartitionedOutputOperator/TaskOutputOperator"
Currently, there is no dedicated node for `PartitionedOutputOperator/TaskOutputOperator`. It would be useful to add it because then its stats could be reported separately in `EXPLAIN ANALYZE/EXPLAIN ANALYZE VERBOSE`

[2022-10-12 18:44] billoliver42 commented on #14552
@ebyhr trino 372. We can try an updated version if it's been resolved recently?

[2022-10-12 20:02] #14429 closed

[2022-10-12 22:39] arhimondr opened #14605 "Queries are occasionally getting stuck"
Manifests on the CI (for example https://pipelines.actions.githubusercontent.com/serviceHosts/127fb2d0-0ed8-42e9-b060-7c4f23b9a844/_apis/pipelines/1/runs/133247/signedlogcontent/85?urlExpires=2022-10-12T22%3A16%3A33.7329214Z&urlSigningMethod=HMACV1&urlSignature=BdhvMIRPxrk2hYFLkx7OmL9rPSLVFyQgNbLYFg8rbMo%3D).

The test that got stuck in this specific run is `io.trino.faulttolerant.iceberg.TestIceb

[2022-10-12 22:39] arhimondr commented on #14605
There's a chance that something got broken recently, I've never seen this problem before.

[2022-10-12 22:39] arhimondr commented on #14605
@trinodb/maintainers I wonder if this should be a release blocker?

[2022-10-13 00:01] arhimondr commented on #14605
I managed to reproduce it locally (out of more than 10000 runs).

It looks like the stage is not getting transitioned to `FINISHED` despite all tasks being `FINISHED` and the scheduling complete (see the `SCHEDULED` state):

![image](https://user-images.githubusercontent.com/5570988/195469091-5790b622-33ea-438f-9ea4-170a56fbe880.png)

There's a chance it might be related to a recent lock optimizat

[2022-10-13 00:30] MichaelTiemannOSC commented on #14605
We have been struggling with just such a problem ever since upgrading to 398.  I've spent the past week shuttling between Trino, the python-client team, OpenMetadata (whose software tickles this very well), and Red Hat (who are providing the operational/dev environment).  Many thanks to all have been very responsive (including issuing updates that have chipped away at the larger problem).

This is

[2022-10-13 00:32] ebyhr commented on #14552
Yes, I would recommend upgrading to upcoming 400. By the way, I believe the actual issue is trailing slash rather than under root bucket.

[2022-10-13 00:34] #14552 closed

[2022-10-13 00:39] martint commented on #14605
@MichaelTiemannOSC, that might be a separate issue. What version did you upgrade from?

[2022-10-13 00:41] MichaelTiemannOSC commented on #14605
I just saw the dates on the code you reverted--likely not our issue after all.  I believe we updated from 388 to 398.

[2022-10-13 04:03] ebyhr opened #14611 "`COMMENT` and `ADD COLUMN` statements change reader and writer versions in Delta Lake connector"
Those versions are hard-coded now. We should copy them from the existing protocol entry.

[2022-10-13 07:31] penspencap opened #14613 "round(cast(num as double), P) starts returning an unexpected result when P is a large number."
when I run to cast a digital. Trino return a wrong number.
[code]
It work well in ` select round(cast (0.00000011094 as double), 16);` or  `select round(cast (300000.00000011094 as double), 8);`

[2022-10-13 08:18] hashhar commented on #11136
@xiacongling Thanks for debugging this and finding the cause. Since you already have an understanding of what needs to be done would you like to send a PR?

I think having a background thread makes most sense since there's no good default value for the `keepAlivePeriodMs` (although we can increase the current value to make sure background thread doesn't need to work too frequently).

[2022-10-13 08:55] findinpath commented on #9433
@ebyhr  with the upgrade to cassandra driver v4 we'll probably not bump anymore in such stacktraces (the namespace of the driver changed to `com.datastax.oss`).
Moreover there was no additional report of flakiness in the last year for this test.

Can we close this ticket?

[2022-10-13 08:59] ebyhr commented on #9433
@findinpath Yes, feel free to close this ticket.

[2022-10-13 09:00] findinpath commented on #7076
@findepi is this issue still relevant?

[2022-10-13 09:00] #9433 closed

[2022-10-13 09:34] findinpath commented on #13957
https://github.com/trinodb/trino/actions/runs/3240661293/jobs/5312076179

[2022-10-13 09:36] findinpath commented on #13957
https://github.com/trinodb/trino/actions/runs/3240661293/jobs/5312076179

[2022-10-13 10:44] findepi commented on #7076
probably done in https://github.com/trinodb/trino/pull/7221

[2022-10-13 10:44] #7076 closed

[2022-10-13 10:53] findepi opened #14618 "Flaky tests in trino-main & others: surefire sometimes fails: Cannot invoke "java.io.File.getAbsolutePath()" because the return value of "org.apache.maven.artifact.Artifact.getFile()""
eg https://github.com/trinodb/trino/actions/runs/3237106331/jobs/5306229110

[code]

[2022-10-13 10:53] findepi commented on #14618
cc @kokosing

[2022-10-13 11:39] sopel39 commented on #14605
I will take a look

[2022-10-13 11:52] alberchou opened #14619 "SphericalGeography functions"
Good afternoon,

I would like to ask for an enhancement about SphericalGeography objects.
Could it be possible to implement relationship tests functions for these kind of objects like the ones for Geometry objects?

- ST_Within
- ST_Touches
- etc

[Trino geospatial](https://trino.io/docs/current/functions/geospatial.html)

[2022-10-13 11:57] sopel39 commented on #14605
Yeah, I found the issue. Thanks @arhimondr

[2022-10-13 12:06] arhimondr commented on #14605
@MichaelTiemannOSC The problem described in this issue was introduced by https://github.com/trinodb/trino/pull/14395 that was merged only recently (couple of days ago) and hasn't yet been released. Could you please provide more information in what cases the queries are getting stuck? Are queries being stuck on `FINISHING` or `FINISHED`? What client do you use to query Trino? If using a custom clie

[2022-10-13 12:15] sopel39 commented on #14605
Fix https://github.com/trinodb/trino/pull/14621

[2022-10-13 12:17] sopel39 commented on #14605
@MichaelTiemannOSC could you open a new issue for it? Is your query not progressing or progressing very slowly?

[2022-10-13 13:50] MichaelTiemannOSC commented on #14605
I just heard from our infra team that we have resolved our current problems (which may be due to other causes) by increasing various resources for the coordinator.  We are not yet experts at configuring Trino, and a confluence of both release changes (388->398, requiring update of python-client from 0.316.0 to 0.317.0) and other processing demands had us chasing our tails on other issues.  If/when

[2022-10-13 14:03] gaurav8297 opened #14622 "Scale local table writers for merge operation based on throughput"

[2022-10-13 14:06] findepi commented on #14618
https://github.com/trinodb/trino/actions/runs/3241747761/jobs/5314824158 second time for same PR (https://github.com/trinodb/trino/pull/14506)
is it deterministic?
is it caused by migration to junit? cc @martint

[2022-10-13 14:14] findepi commented on #11531
did rpm build work in recent releases?

[2022-10-13 14:14] findepi opened #14623 "Checkstyle checks incorrectly disallow whitespace before closing parenthesis inside multiline Java string literals"
For example

[code]

Expected:
no checkstyle error. The checkstyle rules are defined for Java code and should not apply to SQL code embedded in String literals.

[2022-10-13 14:20] #14004 closed

[2022-10-13 14:21] findepi commented on #14509
[code]

#14504

[2022-10-13 17:28] nevillelyh commented on #13288
https://github.com/trinodb/trino/actions/runs/3242724734/jobs/5317567698

[2022-10-13 19:01] findinpath commented on #14623
Relates to https://github.com/airlift/airbase/pull/323

[2022-10-13 19:28] #14605 closed

[2022-10-13 20:10] #14613 closed

[2022-10-13 20:15] #14509 closed

[2022-10-13 21:40] mdesmet commented on #13
This issue is hitting us in the dbt integration where we need to support array concatenation with empty array or NULL inputs.

It would be nice to implement what @martint  is suggesting and put forward an `ARRAY_INSERT(<array> , <pos> , <new_element> )` and maybe provide `ARRAY_APPEND` and `ARRAY_PREPEND` rewritten as `ARRAY_INSERT`.

Changing this would obviously break existing code that depend o

[2022-10-13 23:35] electrum commented on #14618
It seems possibly related to junit, since it fails after running the junit tests, but before it starts the testng tests.

[2022-10-14 01:06] martint opened #14628 "Release notes for 401"

[2022-10-14 01:09] ebyhr commented on #13997
Let me close this issue since we couldn't find the exact reason to add this as table properties. I will reopen or file a new issue if necessary.

[2022-10-14 01:09] #13997 closed

[2022-10-14 01:12] ebyhr commented on #12636
Going to close this issue since the remaining task is only "(Optional) Enforce CHECK constraints". Let file a new issue for CHECK constrains if necessary.

[2022-10-14 01:12] #12636 closed

[2022-10-14 03:34] ebyhr commented on #14611
Correct. Increasing to the max supported version is another option, but Databricks wouldn't change them when executing statements, (COMMENT, ALTER TABLE, INSERT and so on).

[2022-10-14 03:47] #14611 closed

[2022-10-14 03:47] ebyhr commented on #14628
[code]

#14612

[2022-10-14 05:39] ebyhr commented on #5427
https://github.com/trinodb/trino/actions/runs/3247307809/jobs/5327306564

[2022-10-14 06:05] ebyhr commented on #14546
https://github.com/trinodb/trino/actions/runs/3247297137/jobs/5327104955

[2022-10-14 07:40] homar opened #14631 "TestS3WrongRegionPicked is flaky"
[code]

[2022-10-14 07:41] ebyhr commented on #14631
Let me close as duplicate of #14568

[2022-10-14 07:41] #14631 closed

[2022-10-14 09:12] #14546 closed

[2022-10-14 09:38] user-GitHub-user opened #14634 "query iceberg orc table throw exception: Class org.apache.hadoop.net.StandardSocketFactory not found"
trino:381
iceberg:0.13.1

 CREATE TABLE test (
    int_1 integer NOT NULL,
    bigint_1 bigint,
    decimal_1 decimal(10, 2),
    timestamp_1 timestamp(6) with time zone,
    date_1 date,
    char_1 varchar,
    varchar_1 varchar,
    text_1 varchar
 )
 WITH (
    format = 'ORC',
    format_version = 2
 )

excetion:
io.trino.spi.TrinoException: Socket Factory class not found: java.lang.ClassNotFou

[2022-10-14 10:11] #14568 closed

[2022-10-14 10:37] gaurav8297 opened #14636 "SQL Merge (on bucketed table) in Hive fails when writer count is increased from 1"
`TestHiveMerge > testMergeMultipleOperationsBucketedUnpartitioned [groups: hive_transactional]` test is failing when we are trying to increase the default value of task_writer_count to 32 for partitioned writes.

PR: https://github.com/trinodb/trino/pull/14553

CI: https://github.com/trinodb/trino/pull/14553/checks?check_run_id=8882217060

[code]

cc @electrum @djsstarburst

[2022-10-14 10:41] gaurav8297 opened #14637 "SQL Merge (on partitioned table) in Hive drops rows when writer count is increased from 1"
`TestHiveMerge > testMergeMultipleOperationsUnbucketedPartitioned [groups: hive_transactional]` tests are failing when we are trying to increase the default value of task_writer_count to 32 for partitioned writes.

PR: https://github.com/trinodb/trino/pull/14553

CI: https://github.com/trinodb/trino/pull/14553/checks?check_run_id=8882217060

[code]

cc @electrum @djsstarburst

[2022-10-14 10:43] gaurav8297 commented on #14636
[code]

This test is also failing with the same error

[2022-10-14 12:07] sreekesh93 commented on #8804
This is fixed and merged please close the ticket

[2022-10-14 13:48] maxstreese commented on #5578
Hi @ebyhr, I am a bit late to the party but I have been trying to get things to work for a bit now and I cannot make it work with the PostreSQL connector.

[2022-10-14 14:34] findepi commented on #14637
let's merge this with https://github.com/trinodb/trino/issues/14516
i don't think there is a reason to treat them separate for now

[2022-10-14 14:35] findepi commented on #14636
let's merge this with https://github.com/trinodb/trino/issues/14516
i don't think there is a reason to treat them separate for now

(bottom line, we don't want to keep this one and https://github.com/trinodb/trino/issues/14637 open...)

[2022-10-14 14:37] findepi commented on #14634
This is probably fixed by https://github.com/trinodb/trino/pull/13078

[2022-10-14 14:37] #14634 closed

[2022-10-14 15:58] gaurav8297 commented on #14516
Test failing TestHiveMerge > testMergeMultipleOperationsUnbucketedPartitioned [groups: hive_transactional]

CI: https://github.com/trinodb/trino/pull/14553/checks?check_run_id=8882217060

[code]

[2022-10-14 15:59] gaurav8297 commented on #14637
Added comment in https://github.com/trinodb/trino/issues/14516. So closing this one

[2022-10-14 16:05] sopel39 commented on #14636
Closing as duplicated of https://github.com/trinodb/trino/issues/14637/

[2022-10-14 16:12] sopel39 commented on #14636
Seems like a product bug. Might be related to https://github.com/trinodb/trino/issues/14637/ (same root cause), but error is different, so I'm keeping it as separate issue for now

[2022-10-14 17:55] jisqaqov commented on #14628
Can u please add iceberg connector to support hadoop catalog type

[2022-10-14 23:54] ebyhr commented on #14628
@jisqaqov Hi, please subscribe this issue #9256

[2022-10-15 19:54] osscm commented on #13194
@ckesslau as @electrum has requested, can you please share the $files and

@ckesslau can you please share the above mentioned metadata table content and also the size of the table/partitions you are querying against?

also when you run this query with limit from CLI, you seeing same behavior?

[2022-10-15 21:28] #14545 closed

[2022-10-15 21:34] findepi commented on #14636
i missed the "when we are trying to increase the default value of task_writer_count to 32 for partitioned writes" in the description (the issue looked like flaky test report to me).
Thanks for emphasizing this in the PR title.

BTW i think we should have writer count > 1 in Trino testing server, to expose such bugs faster (it's not the first such).

[2022-10-15 21:45] kietay commented on #13198
@alexjo2144 Is this a change I could work on as a first time committer? I use Delta Lake extensively at my primary job very familiar with the internals.

[2022-10-15 22:08] djsstarburst commented on #14516
I checked out branch `gaurav8297/prefer_partitioning_fix`, and ran these tests, but I haven't been able to reproduce the failures.  I'm not sure exactly how to set the writer count to be more than 1, and maybe that's the problem.  @gaurav8297 - - Are you able to reproduce any of the failures on your laptop?  If so, please provide instructions.

@electrum and I added a couple of commits to [my PR i

[2022-10-15 23:25] #14377 closed

[2022-10-16 02:18] ubyyj commented on #14337
hit the same issue on trino 377, with 200GB heap size.

[2022-10-16 02:35] willzgw opened #14651 "HiveHudiPartitionInfo::getTable() always return null pointer instead of table"
https://github.com/trinodb/trino/blob/master/plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/partition/HiveHudiPartitionInfo.java#L72
The member variable `table` of HiveHudiPartitionInfo should be returned here instead of `null`.

[2022-10-16 14:17] forhead opened #14654 "trino not support for datetime in doris"
when I add doris as the soruce. I create below table, and insert a value with datetime in doris

[code]

but when I query in doris with select
`select * from doris.example_db.tbl1;`

I get below error
`
Query 20221016_141052_00008_meyca failed: com.google.common.util.concurrent.UncheckedExecutionException: java.lang.IllegalStateException: column size not present`

it seems trino is not support the

[2022-10-16 15:50] djsstarburst commented on #14636
💯

[2022-10-16 16:08] tangjiangling commented on #14654
Seems typo?

[2022-10-16 16:40] tangjiangling commented on #14654
FYI: [Apache Doris](https://doris.apache.org/)

If my guess correctly, did you reuse the MySQL connector to read the Doris data?

If so, `DATETIME` or `TIMESTAMP` values in MySQL can include trailing fractional second parts with precision up to microseconds (6 bits). But in Doris `DATETIME` does not support the fractional seconds part. See https://doris.apache.org/docs/sql-manual/sql-reference/Dat

[2022-10-17 01:22] zhengxingmao opened #14656 "VerifyException: cannot unset noMoreSplits which introduced from v396"
I use v396 version met this error.

Test SQl is select count(1) from tab which contains nearly 100 millions rows and execute concurrently.

Some small files may exist in the table.

May introduced by #13978 .

[code]

[2022-10-17 07:10] findepi commented on #14636
https://github.com/trinodb/trino/pull/14660

[2022-10-17 07:56] alexjo2144 commented on #13198
I think it would be good to have consensus on how we should address the problem before writing much code. I'd take a look at the "[Good first Issue](https://github.com/trinodb/trino/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)" label.

[2022-10-17 08:34] sopel39 commented on #14516
@djsstarburst is it same as https://github.com/trinodb/trino/issues/14637 or https://github.com/trinodb/trino/issues/14636?

[2022-10-17 08:50] findepi commented on #14618
https://github.com/trinodb/trino/actions/runs/3263077079/jobs/5361890174

[2022-10-17 08:55] raunaqmorarka commented on #14618
I was just looking to surefire plugin upgrade for this but it turns out we rolled that back for some other reasons https://github.com/airlift/airbase/pull/313

[2022-10-17 09:15] #13691 closed

[2022-10-17 09:16] findepi commented on #14628
[code]

#13691 #14383

[2022-10-17 09:17] #14583 closed

[2022-10-17 09:23] findepi commented on #14628
[code]

#14583 #14585

[2022-10-17 09:40] gaurav8297 commented on #14516
I've fixed this branch (`gaurav8297/prefer_partitioning_fix`) that's why you might not be able to reproduce it locally. However, I've pushed the changes to `gaurav8297/prefer_partitioning_bug` in which the last commit introduces the bug.

To reproduce run this suite:
[code]

Also, note that I was able to reproduce this bug: https://github.com/trinodb/trino/issues/14636

cc @djsstarburst

[2022-10-17 09:53] sopel39 commented on #14628
[code]
https://github.com/trinodb/trino/pull/14640

[2022-10-17 10:02] hashhar commented on #14628
[code]

#14224

[2022-10-17 10:45] jerryleooo opened #14663 "health check api?"
Recently we encountered some "TOO_MANY_REQUESTS_FAILED:65537" errors, which might be caused by an unhealthy worker, the error is usually eliminated after removing the worker.

I think to avoid such an error failing the query, one possible solution might be to detect the unhealthy worker actively/in advance and then restart it.

So this might require Trino to have a health check API, then a monitor

[2022-10-17 12:25] hashhar commented on #13198
Alternatively if you have some specific ideas on how to improve it it might be useful to create an issue or add a comment detailing what you propose to change and then we can arrive on consensus and move forward.

[2022-10-17 13:28] forhead commented on #14654
really thanks for your help, works for me.
Will close it.

[2022-10-17 13:28] #14654 closed

[2022-10-17 14:34] djsstarburst commented on #14516
I just verified that the commit titled `Add HiveMetadata.getUpdateLayout` fixes the two failures in `suite-8-non-generic`.  I checked out branch `gaurav8297/prefer_partitioning_bug` and ran `suite-8-non-generic`.  As expected, I saw these failures:

[code]

I then cherry-picked the `Add HiveMetadata.getUpdateLayout` commit, and ran the suite again, and all tests passed.  The grep matched no lines,

[2022-10-17 15:03] gaurav8297 commented on #14636
https://github.com/trinodb/trino/issues/14516#issuecomment-1280960893 Fix for this test

[2022-10-17 17:02] arhimondr commented on #14656
https://github.com/trinodb/trino/pull/14668

[2022-10-17 19:07] eshirvana commented on #10537
@ebyhr  @hashhar  @tangjiangling  Let me know if I can help in any way to accelerate this

[2022-10-17 19:08] djsstarburst commented on #14516
I think so @sopel39.  Without the `Add HiveMetadata.getUpdateLayout` commit both tests failed in `suite-8-non-generic` and with the fix both tests passed.

[2022-10-17 20:08] findepi commented on #14628
[code]

#14577

[2022-10-17 23:07] mingfang commented on #13771
PR https://github.com/trinodb/trino/pull/8317 has been closed but not merged.
Is there hope for progress on this?

[2022-10-18 01:58] electrum commented on #14663
This sounds easy, but actually detecting an unhealthy worker is difficult, because there are many reasons a worker can be unhealthy. Do you have any specific ideas here? What types of unhealthy behaviors have you encountered?

[2022-10-18 02:19] jerryleooo commented on #14663
@electrum just share the log here:
[code]

seems the worker is just down, might be caused by GC? (not sure if it is caused by the customizations made by ourselves)

For the health check API, it might be simple: `/api/health` just return `ok`, if timeout or unable to connect then this node will be treated as unhealthy.

and yes detecting an unhealthy worker is difficult, but the point here is, we n

[2022-10-18 02:22] jerryleooo commented on #14663
the sample `/api/health` can not cover all unhealthy cases, but at least can cover one or two

[2022-10-18 08:37] #5976 closed

[2022-10-18 10:21] tooptoop4 commented on #2939
I wonder if https://github.com/trinodb/trino/pull/13747/files helps

[2022-10-18 18:03] cvargas-geo opened #14672 "Is trino´s st_buffer in meters?"
Please, it would be useful to specify this metric in the geospatial functions doc, because aws Athena now integrates trino in v3 core

[2022-10-18 20:46] djsstarburst commented on #14516
The [SQL MERGE fixes PR](https://github.com/trinodb/trino/pull/14650) has been merged, and that series contained the `HiveMetadata.getUpdateLayout()` support.  So the two Hive tests whose failure I could reproduce, `testMergeMultipleOperationsBucketedUnpartitioned` and `testMergeWithDifferentPartitioning `, should now be fixed in tip master.

[2022-10-18 20:48] djsstarburst commented on #14636
The [SQL MERGE fixes PR](https://github.com/trinodb/trino/pull/14650) has been merged, and that series contained the `HiveMetadata.getUpdateLayout()` support.  So the two Hive tests whose failure I could reproduce, `testMergeMultipleOperationsBucketedUnpartitioned` and `testMergeWithDifferentPartitioning `, should now be fixed in tip master.

[2022-10-19 03:43] china-shang opened #14676 "How does trino support unsigned int64, if you query mysql's unsigned int64 will it overflow"
io.trino.spi.type.LongDecimalType  Will it be used to support this case ?

[2022-10-19 04:21] tangjiangling commented on #14676
Yes, when reading a MySQL `unsigned bigint` column, Trino converts it to `Decimal(20, 0)` (which internally in Trino is represented by `LongDecimalType`).

[2022-10-19 04:38] anudeep-vattikonda opened #14677 "Query fails with "Compiler failed" when using concat with one argument"
when we try **select concat(col_name) from table_name;** we are getting an error which is quite misleading
 _Compiler failed. Possible reasons include: the query may have too many or too complex expressions, or the underlying tables may have too many columns_
Is this an expected behaviour?
<img width="1728" alt="Screenshot 2022-10-19 at 10 06 47 AM" src="https://user-images.githubusercontent.com/6

[2022-10-19 07:52] china-shang opened #14680 "Parquet decimal support"
![image](https://user-images.githubusercontent.com/17249688/196628315-9bf370eb-78a0-4fd6-a022-bb0768299190.png)
Parquet decimal has 4 representations, but trino seems to only have LongDecimalColumnReader && ShortDecimalColumnReader, are the other two types not supported temporarily?

[2022-10-19 07:55] Lothar1993 opened #14681 "resource group memory hard limit?"
Currnetly trino support cpu hard limit od resource group by using param 'hardCpuLimitl'. But there is no param to limit memory hardly.
Is there any plan to support resource group hard memory limit?

[2022-10-19 07:59] #14680 closed

[2022-10-19 08:41] gaurav8297 opened #14682 "TestTimeZoneUtils.testNamedZones fails with 'Europe/Kyiv' is not recognised"
CI: https://github.com/trinodb/trino/actions/runs/3277171911/jobs/5394127825

[code]

[2022-10-19 11:44] sopel39 commented on #14628
[code]
https://github.com/trinodb/trino/pull/14638

[2022-10-19 13:05] #14636 closed

[2022-10-19 14:34] homar opened #14686 "Could not resolve takari-lifecycle-plugin"
Stacktrace:
`Plugin io.takari.maven.plugins:takari-lifecycle-plugin:1.11.12 or one of its dependencies could not be resolved: Failed to read artifact descriptor for io.takari.maven.plugins:takari-lifecycle-plugin:jar:1.11.12: Could not transfer artifact io.takari.maven.plugins:takari-lifecycle-plugin:pom:1.11.12 from/to central (https://repo.maven.apache.org/maven2): transfer failed for https://re

[2022-10-19 15:43] findepi commented on #14677
[code]

[2022-10-19 15:45] findepi commented on #14686
cc @nineinchnick @MiguelWeezardo

[2022-10-19 17:28] lhofhansl opened #14690 "Binary shell scriipts are no longer support with bash 5.2.x"
I just ran into an issue where running trino-cli-XXX-executable.jar should error with `cannot execute binary file`

After some digging I tracked it back to an upgrade to bash 5.2.x, and found that bash 5.2 explicitly disallowed that. I filed a bug against bash here: https://savannah.gnu.org/support/index.php?110744

It seems that the way trino-cli is made executable on Linux will soon no longer wo

[2022-10-19 18:48] #14682 closed

[2022-10-19 19:00] sopel39 opened #14692 "Flaky TestHiveMerge.testMergeSimpleSelect and TestHiveMerge.testMergeSimpleSelect"
[code]

[code]

https://github.com/trinodb/trino/actions/runs/3281446960/jobs/5403713341

[2022-10-19 19:00] sopel39 commented on #14692
cc @electrum @djsstarburst

[2022-10-19 20:02] djsstarburst commented on #14692
Before the SELECT is run, the MERGE had already failed with a backtrace showing a collision writing the `_orc_acid_version` file in the `delta_0000002_0000002_0000` directory.  I'll look into ways that could happen.

FTR, ISTM that exception should have propagated out and failed the test before the SELECT was attempted.

[code]

[2022-10-19 20:07] djsstarburst commented on #14692
It's interesting that `HiveTestMerge.testMergeSimpleSelect` did _not_ fail in [my Trino PR that implements delete and insert using merge machinery](https://github.com/trinodb/trino/pull/13926).

[2022-10-19 20:10] luisfmcalado opened #14693 "Incorrect equality delete filter happens when the field id order between `equalityFieldIds` and table `Schema` differs"
We have identified an issue when using iceberg (0.13.1) and a regression between 391 and 392.
We are using iceberg with Flink version (1.14.2).

The id and partition_date columns were used as equality fields, being the partition_date the partition.

We did the query using Hive and the records are not duplicated.

[code]

[code]

# Steps
1. Create table using Iceberg API
2. Send message using Flink

[2022-10-19 20:47] djsstarburst commented on #14692
I see that four different tests in `TestHiveMerge` use the root table name `merge_simple_select`, and the name produced by `withTemporaryTable` has no randomness.  Two pairs of table names for different tests are guaranteed to collide.

I believe the tests in `TestHiveMerge` will be run in parallel, and I suspect that the root cause of this issue is colliding table names in different tests.  I'll

[2022-10-19 21:44] luisfmcalado opened #14696 "Cast issue when reading upsert equality field in Iceberg"
We have identified an issue when using iceberg (0.13.1) and a regression between 391 and 392. We are using iceberg with Flink version (1.14.2).
After doing a few upserts trino returns the following message: "Cannot cast java.lang.Integer to java.lang.CharSequence".

The issue happened following the steps found at https://github.com/trinodb/trino/issues/14693. The only difference is that the partit

[2022-10-19 22:54] #14692 closed

[2022-10-19 23:14] xiangfu0 commented on #14277
I think this is ready: https://github.com/trinodb/trino/pull/14304

[2022-10-20 04:09] tangjiangling commented on #11448
Close this issue and thank you all for making this happen.

Since Redshift still has no type mapping tests, no type mapping documentation will be added for now (see https://github.com/trinodb/trino/pull/13832#issuecomment-1282942980).

[2022-10-20 04:09] #11448 closed

[2022-10-20 06:44] karanmakhija867 opened #14697 "Redshift connector deletes do not delete data"
The documentation states that delete operations for Redshift connector work only if the predicate in the clause can be fully pushed down to the data source. However, in my case I can see the same delete query with predicates is being sent to Redshift and the data is not deleted.

Trino-cli
<img width="439" alt="Screenshot 2022-09-27 at 4 05 33 PM" src="https://user-images.githubusercontent.com/195

[2022-10-20 07:18] TimeTravle opened #14698 "JDBC连接 Authentication failed: Basic authentication or X-Trino-User must be sent"
JDBC连接报以下错误，请求大神指教
 try {
            Class.forName("io.trino.jdbc.TrinoDriver");
            String url = "jdbc:trino://127.0.0.1:60000/datasource";

            Connection connection = DriverManager.getConnection(url);
            PreparedStatement preparedStatement = connection.prepareStatement("select * from datasource");
            ResultSet resultSet = preparedStatement.executeQuery();

[2022-10-20 07:26] sopel39 commented on #14692
Thanks @djsstarburst

[2022-10-20 07:31] sopel39 commented on #14628
[code]
https://github.com/trinodb/trino/pull/14553

[2022-10-20 08:22] ckesslau commented on #13194
Sorry for the delay.
I recently tested version 399 of Trino and could not reproduce the issue with that version. Unfortunatly a new issue with insert querys to this table stopped me from actually using this version now.

Are you still interested in the metadata tables?

[2022-10-20 09:03] gojumprope opened #14700 "How to specify Druid Connector schema name"
previously in presto, we can configure schema name for druid connector in catalog/druid.properties

`druid.schema-name=druiddb`

now I want to migrate presto into trino, but most of my queries/views are something like "select * from druid.druiddb.table", if I migrate it and query it will prompt error message:
`Table 'druid.druiddb.table' does not exist`

**How do I specify schema name for druid co

[2022-10-20 14:43] ebyhr commented on #14700
Adding such property is easy, but can you share why you needed to specify `druid.schema-name` in Presto?

[2022-10-20 17:43] mosabua commented on #13771
As mentioned in the PR .. anybody willing to run with it is free to take my initial version and improve or start fresh. I used the postgresql connector as a base fyi, but wont have time to move this forward.

[2022-10-20 19:00] Dith3r commented on #2216
Development of this functionality is ongoing? or it could be taken?

[2022-10-20 19:13] tooptoop4 commented on #2216
u gotta patch it into your local trino fork 💪

[2022-10-20 19:22] alexjo2144 commented on #14693
Do you mind trying your steps out with version 400? @ebyhr fixed some issues involving slashes that may have been related

[2022-10-20 19:42] tan31989 commented on #13059
@xiangfu0 @elonazoulay any update on this?

[2022-10-20 20:00] mwd410 opened #14705 "Clean up deprecated ConnectorPageSinkProvider methods"
As part of my [PR](https://github.com/trinodb/trino/pull/14445) introducing PostgreSql and MySql fault tolerant execution, I'm deprecating `ConnectorPageSinkProvider` methods that do not take `ConnectorPageSinkId`. We want to eventually remove those methods in favor of the ones that _do_ take `ConnectorPageSinkId`.

[2022-10-21 01:24] gojumprope commented on #14700
Trino does not support druid schema name, we wish to have this feature to be able to change the schema name so we can migrate druid into Trino

Additionally the druid.schema-name was setup up wrongly previously in our environment and all out current configuration has been setup with this schema-name hence we require this feature else we have to change all our program that is currently using the sc

[2022-10-21 04:10] xsgao-github commented on #8542
I think this is a better option.

We also run into a couple of other issues with Cognos and Tableau because `TrinoDriver.connect()` does not really authenticate users and does not throw `SQLException` when it should.

[2022-10-21 05:42] sjx782392329 opened #14709 "How to view the time-consuming of each operator of stage of SQL in Presto UI"
I submit a query into PrestoSQL v344, cost of time is 36s.
I want to know the time of each stage, this picture makes me confused.
![image](https://user-images.githubusercontent.com/33451661/197119954-9195d784-16be-4114-8ef7-b45d9cd079ac.png)
36.24 is my exec time.
My query is consists of 3 stage，0 1 2.
But when i check the time about stage2，this stage is scan data from hdfs.
![image](https://user-

[2022-10-21 09:05] luisfmcalado commented on #14693
We did try with the version 400. Actually, we tried with versions 385, 395, 391, 392, 399 and 400.

[2022-10-21 09:32] ebyhr commented on #14693
I tried to reproduce the issue using data.zip, but files look broken. Could you upload again?
[code]

[2022-10-21 14:15] luisfmcalado commented on #14693
yes, of course.

[data.tar.gz](https://github.com/trinodb/trino/files/9839822/data.tar.gz)

[2022-10-21 15:06] #10623 closed

[2022-10-21 19:25] cemsbr opened #14715 "Missing columns for tables using TimescaleDB with Postgres connector"
`show columns` doesn't show `sum(gross_amount) as gross_amount` in materialized view. All other columns can be seen, including `count(*) as quantity` of the same table and the `gross_amount` of the origin table.

If I connect directly to the database using the same user of the connector, it works as expected.

- Connector: postgresql
- Trino version: 400
- Database: timescaledb (continuous aggrega

[2022-10-21 22:10] #7597 closed

[2022-10-21 23:49] luisfmcalado commented on #14693
Reading the same table using Spark.
[code]

[2022-10-21 23:50] arhimondr commented on #14656
Fixed by https://github.com/trinodb/trino/pull/14668

[2022-10-21 23:50] #14656 closed

[2022-10-22 18:02] osscm commented on #13194
Yeah please share, so that we some data point if this happens again or someone else report in the community.

Though for now we can close the issue as the issue is not reproducible with 399.

[2022-10-23 03:52] hanrentong opened #14717 "hive connector table join error"
No error is reported when querying a single table (orc) with hive-connector for large data volumes, and the execution is normal, but as soon as the dimension table is associated, the error is reported as follows:
![20221023112103](https://user-images.githubusercontent.com/40791622/197372765-8cbb690b-902e-4f93-ab1c-64d3e233a9b2.jpg)

[2022-10-24 07:30] CCColby opened #14719 "select mysql views missing some columns"
I have been created a view in mysql database,select this view, it has six columns, but when use trino connect this db, select this view, i got only one columns? some views is ok, only one happened this problem. Thanks!

[2022-10-24 07:35] findepi commented on #14628
[code]

#14426

[2022-10-24 08:58] jackwang2 opened #14720 "Connection property 'SSLVerification' is not allowed in Trino JDBC Driver"
Use the trino JDBC driver 400, seems it doesn't recognize property `SLVerification` mentioned in the Trino [doc](https://trino.io/docs/current/client/jdbc.html):
![Screen Shot 2022-10-24 at 16 23 13](https://user-images.githubusercontent.com/26425937/197488178-d5704dc4-9496-401e-aadc-dfb52ff5d8c7.png)

[2022-10-24 09:09] luhea opened #14721 "Add support for reading Map(String,Sting) type from ClickHouse"
Currently Trino doesn't support Map<String,String> type in Clickhouse, and, even worse, unsupported-type-handling=CONVERT_TO_VARCHAR also fails to handle it. When I turn it on, I not get the error,but the column is not in trino table；

[2022-10-24 09:36] TimeTravle opened #14722 "Does the redis connector require a table description definition"
Does the redis connector require a table description definition

[2022-10-24 13:03] gurustron opened #14725 "Add array_histogram function"
As the title says - add [`array_frequency`](https://prestodb.io/docs/current/functions/array.html#array_frequency) which seems to be missing currently from Trino.

[2022-10-24 14:42] sopel39 opened #14726 "Add local gathering exchange before partial limit"
Currently, limit queries will have global `Limit` operator and a partial `Limit` operator. Gathering local exchange is only collected before global limit operator.

In source stage driver is created per split. This mean there will be as many partial `limit` operators in source stage as splits. This also means that for each driver, a `limit N` rows will be processed until global `limit` collects re

[2022-10-24 16:07] findepi commented on #9724
Closing as answered

[2022-10-24 16:07] #9724 closed

[2022-10-24 20:40] Arnonrgo commented on #9968
Hi - has this been abandoned?

[2022-10-24 20:57] kamil-rafalko commented on #12304
@ebyhr Finally I had some time to try to implement this issue. I went through Prometheus documentation and couldn't find any information about how to setup it's HTTP API to be authorized with a bearer token. Prometheus can use bearer token to access external services for scraping metrics, but as far as I read it can't use it to secure incoming requests. Here is the reference for the security confi

[2022-10-25 03:15] CCColby commented on #14719
I found this problem, when select this view, jdbc return return a column , type decimal, but decimaldigits is 0. then return null columnMapping cause missing some columns.i add this test code pass:
`
                if (typeHandle.getDecimalDigits().isPresent() && typeHandle.getDecimalDigits().get() == 0
                        && typeHandle.getJdbcTypeName().isPresent() && typeHandle.getJdbcTypeN

[2022-10-25 06:09] dustinboss opened #14738 "Bug: Prepared statement incorrectly orders variables on queries with CTEs"
When using `DESCRIBE INPUT` on a prepared statement, the position order of the bindings puts the CTEs last (after the primary SELECT query), even though they actually occur earlier in the SQL statement.

However, when using `EXECUTE` on a prepared statement, the bindings appear to be executed in the order that they actually appear in the statement.

So, the order of the bindings provided by `DESCR

[2022-10-25 06:41] #12264 closed

[2022-10-25 06:43] findepi commented on #14628
[code]

#12264 #12523

[2022-10-25 06:56] gurustron commented on #14725
Or `unnest` + `histogram` like done [here](https://stackoverflow.com/a/74181472/2501279)

[2022-10-25 07:37] SAMZONG opened #14739 "Can NOT connecor elasticsearch(run at k8s) with trino"
Hi guys !
I got error with use trino connector with elasticsearch.

I have an elasticsearch run at Kubernetes , and export service as : https://172.16.10.32:32091/
and add es.properties in trino is cannot working

[code]

and i got error like this.

![image](https://user-images.githubusercontent.com/13782141/197712186-e7c92e88-020f-433d-9faf-0c19e1529be3.png)

![image](https://user-images.githubus

[2022-10-25 07:48] findepi opened #14741 "Bad error message creating a Hive table in a schema that does not exist"
When using HMS

[code]

Expected
[code]

the expected exception is raised when using Glue

[2022-10-25 08:47] findepi opened #14745 "Potential schema/data loss when adding table columns concurrently in Hive with HMS or Glue"
Can be reproduced with `io.trino.testing.BaseConnectorTest#testAddColumnConcurrently` if this gets run against the right setup (see https://github.com/trinodb/trino/pull/14743 for draft of the right setup).

[code]

[2022-10-25 09:37] kamilgniewekstarburstdata opened #14746 "Hive connector returns an error when query is looking for a schema which does not exist"
When glue is used as a metastore for a hive-hadoop2 connector the query:

`select * FROM system.jdbc.tables;`

is working as expected returning results where the user has an access to. However, when the user adds additional condition like:

`select * FROM system.jdbc.tables where table_schem='public';`

The query fails with following error:

`io.trino.spi.TrinoException: User: arn:aws:sts::<redact

[2022-10-25 09:54] Unclecc commented on #12709
Hi, I use this PR to test DynamicCatalog, However, I ran into a problem when I deleted and then created a Hive Catalog. The following error occurred.
java.lang.ClassCastException: class io.trino.plugin.hive.HiveTableHandle cannot be cast to class io.trino.plugin.hive.HiveTableHandle (io.trino.plugin.hive.HiveTableHandle is in unnamed module of loader io.trino.server.PluginClassLoader @408b024e; io

[2022-10-25 10:07] findinpath commented on #14618
https://github.com/trinodb/trino/actions/runs/3318996084/jobs/5484220801

[2022-10-25 10:48] user-GitHub-user opened #14748 "Access denied when drop hive tables use system access-control"
trino version: 400

access-control.properties :
      access-control.name=file
      security.config-file=etc/rules.json
      security.refresh-period=1s

catalog/hive.properties:
    connector.name=hive
    hive.metastore.uri=thrift://host:9083
    hive.config.resources=/xxx/core-site.xml,/xxx/hdfs-site.xml
    hive.metastore.authentication.type=KERBEROS
    hive.metastore.service.principal=hive/

[2022-10-25 11:15] findepi commented on #14746
Proposed solution:

in `io.trino.plugin.hive.metastore.glue.GlueHiveMetastore#getAllTables` when we get a permission denied (`AmazonServiceException`), add
[code]

[2022-10-25 12:20] codope opened #14750 "Support table redirections from Hive to Hudi"
Allow users to run queries referencing a single hive catalog to access both normal hive tables and Hudi tables with the new Hudi connector.

[2022-10-25 12:21] codope commented on #14750
cc @tooptoop4

[2022-10-25 12:31] krvikash commented on #13568
Started working on this.

[2022-10-25 15:20] mosabua commented on #14720
Could this parameter be missing in the validation of allowed parameters @electrum ?

[2022-10-25 15:48] superfav opened #14752 "Compatibility with Oracle's S3 implementation"
Trino fails to create a table from a delta table stored in Oracle S3 with the following error message:
[code]
`TransactionLogTail` expects the exception message to contain `The specified key does not exist`:
[code]
See [TransactionLogTail.java](../blob/d21cb3b/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TransactionLogTail.java#L158).
This matches the m

[2022-10-25 15:55] mosabua commented on #14720
It seems to be wired up correctly https://github.com/trinodb/trino/blob/master/client/trino-jdbc/src/main/java/io/trino/jdbc/ConnectionProperties.java#L104

Looking at your list of properties I think you might have an old jdbc driver on the classpath after all. Can you verify @jackwang2 ?

[2022-10-25 16:15] hashhar commented on #14719
Can you provide the CREATE VIEW statement from MySQL and also the DESCRIBE output as seen by Trino?

I want to see why the JDBC driver is sending back incorrect information leading to such issue.

[2022-10-25 16:17] vamsi4uonly commented on #12426
We too encountered the similar issue, can you please guide us on this please.

QL Error [67108864]: Query failed (#20221013_153527_13418_tmmkj): Remote driver error: QueryInterruptedException: Unexpected end-of-input: expected close marker for Array (start marker at [Source: (SequenceInputStream); line: -1, column: -1])
at [Source: (SequenceInputStream); line: -1, column: 96228016] -> JsonEOFExcep

[2022-10-25 16:24] martint commented on #8245
Not consistently. Whether a connector uses properties files, yaml, xml or anything else is an implementation detail of the connector that the engine knows nothing about.

[2022-10-25 17:20] hashhar commented on #11448
Thanks a lot @tangjiangling for kicking this off and seeing it to completion.

[2022-10-25 17:29] mwendo opened #14754 "Trino server running on Amazon EMR cluster but cannot access the web UI to view the queries execution and other stats that the web UI provides"
I've verified my Trino server is properly working by looking at the server.log and observing there are no errors and the message "SERVER STARTED" appears. I've connected to my Trino server using JDBC connection in SQL workbench and can successfully run queries in there with data being returned. However, whenever I try to access the web UI to visibly SEE the query execution I get an error message s

[2022-10-25 20:07] bitsondatadev commented on #14725
@gurustron are you thinking of implementing this or just reporting it for now?

[2022-10-25 21:46] alaturqua commented on #12195
I am having the same issue. Can not login to confluent kafka schema registry using api key and secret using basic auth.

[code]

[2022-10-25 23:50] #14071 closed

[2022-10-25 23:50] ebyhr commented on #14628
[code]

#14086

[2022-10-26 01:47] CCColby commented on #14719
The view SQL like this:

`
SELECT
	"m"."month" AS "month",
	"m"."sign_user" AS "sign_user",
	"m"."saas_user" AS "saas_user",
	"m"."no_saas_user" AS "no_saas_user",
	"m"."user_ft" AS "user_ft",
	"m"."user_no_ft" AS "user_no_ft"
FROM
	(
		"sco_month"
		LEFT JOIN (
		SELECT
			"b"."month" AS "month",
			sum( "a"."sign_user" ) AS "sign_user",
			sum( "a"."saas_user" ) AS "saas_user",
			sum( "a"."no_s

[2022-10-26 03:44] user-GitHub-user commented on #14484
see: https://trino.io/docs/current/connector/hive-security.html
try config:
hive.allow-drop-table, hive.allow-rename-table, hive.allow-add-column, hive.allow-drop-column and hive.allow-rename-column

[2022-10-26 03:49] user-GitHub-user commented on #14748
solved by config
hive.allow-drop-table, hive.allow-rename-table, hive.allow-add-column, hive.allow-drop-column and hive.allow-rename-column
in hive catalog

[2022-10-26 03:49] #14748 closed

[2022-10-26 03:56] ebyhr commented on #14693
Unfortunately, I can't reproduce the issue with the provided files.
[code]

[2022-10-26 04:12] myfjdthink opened #14758 "Write data to iceberg on gcs failed"
It doesn't always failed

SQL Query:
[code]
Error Type	EXTERNAL
Error Code	HIVE_WRITER_DATA_ERROR (16777243)
Stack Trace
[code]
What caused the error？
hive metastore or gcs ?

[2022-10-26 04:21] ebyhr commented on #14696
Could you provide steps to reproduce or reproducible data & metadata?

[2022-10-26 05:47] ebyhr commented on #14752
The condition will be fixed in #12728

[2022-10-26 07:25] MiguelWeezardo commented on #14618
I think I've found a way to trigger it:

1. Compile Trino and run tests up until TestNG
2. `rm -fr ~/.m2/repository/org/testng/testng/5.10`
3. Disconnect from network
4. Run tests again

Stacktrace:
[code]

[2022-10-26 07:27] MiguelWeezardo commented on #14618
Log tail with `-X`:

[code]

[2022-10-26 08:11] findinpath commented on #10245
https://trino.io/docs/current/connector/iceberg.html#table-redirection

[2022-10-26 08:53] kokosing commented on #14618
Is this testng specific? Is there any issue for this in maven or for surefire plugin?

[2022-10-26 09:17] sopel39 commented on #14618
https://github.com/trinodb/trino/actions/runs/3324628579/jobs/5496893414

[2022-10-26 09:40] findinpath commented on #14391
https://github.com/trinodb/trino/actions/runs/3318996084/jobs/5484399951

[2022-10-26 10:14] jackwang2 commented on #14720
@mosabua Do you mean old `trino` JDBC driver? I checked the variable `java.class.path`, it only contains one jar of `trino-jdbc-400.jar`.

[2022-10-26 10:15] findepi commented on #14628
[code]

#14562

[2022-10-26 10:37] Idane opened #14760 "BigQuery connector throws error on a table with a row access policy"
Create and populate a table in BigQuery and add a row access policy that does not include the connector's user. By doing so, if the connector's user was to query BigQuery directly they'd get 0 rows because they're not included in any row filters.

I used:
[code]

After adding the row policy, any attempt to select from the table results in this stack trace:
[code]

[2022-10-26 10:44] superfav commented on #14752
Thanks @ebyhr for taking care of this. I didn't know Ceph was also affected. Can I collaborate to close that PR? I see _codesorcery_ is in a similar situation about running a fork.

[2022-10-26 10:47] littlesnail0 opened #14761 "json_query keyvalue() return NULL, when the object has more than one key"
![image](https://user-images.githubusercontent.com/36443635/198007121-10413fa3-e188-42ea-a8a3-c84fbc2f3b41.png)