[2021-04-20 23:15] mosabua opened #7656 "Link format_datetime function in list.rst to actual docs"
and probably expand that documentation. Probably needs an anchor set to allow linking. Maybe even a separate section.

To be found in functions/datetime.rst

[2021-04-20 23:18] mosabua opened #7657 "Document from_geojson_geometry and to_geojson_geometry functions"
in geospatial docs and update links in list.rst

[2021-04-20 23:19] mosabua opened #7658 "Document nanos time functions"
* from_iso8601_timestamp_nanos
* from_unixtime_nanos

Currently only in list and release notes. Need to add to datetime.rst and link

[2021-04-20 23:20] mosabua opened #7659 "Document hash_counts function"
Need to determine where and details. And update link in list.rst

[2021-04-20 23:21] phd3 commented on #4450
@mosabua yup, will address PR comments soon (unless someone else wants to pick it up).

[2021-04-20 23:21] mosabua opened #7660 "Document human_readable_seconds function"
In datetime.rst and update list.rst

Include an example

[2021-04-20 23:22] mosabua opened #7661 "Document intersection_cardinality function"
I think that goes into geospatial but not 100 percent certain. Also needs update in list.rst and example

[2021-04-20 23:24] mosabua opened #7662 "Document luhn_check function"
Mention mod 10 and maybe link to https://en.wikipedia.org/wiki/Luhn_algorithm

Also not yet sure where that best goes. Update in list and examples needed.

[2021-04-20 23:24] mosabua commented on #7517
Also include make_set_digest function

[2021-04-20 23:25] mosabua opened #7663 "Document map_union function"
with other map functions and update list. Add examples.

[2021-04-20 23:26] mosabua opened #7664 "Document murmur3 hash function"
With other hash functions, update list, add example

[2021-04-20 23:27] mosabua opened #7665 "Document objectid and objectid_timestamp functions"
* Not sure where
* Update links in list
* Include example use case

[2021-04-20 23:28] mosabua opened #7666 "Document spatial_partitioning and spatial_partitions functions"
* in geospatial section probably
* update list.rst
* add example

[2021-04-21 00:30] #3889 closed

[2021-04-21 00:31] martint opened #7668 "Document soundex function"
Function added here: https://github.com/trinodb/trino/pull/4022

[2021-04-21 07:18] roychen11232357 opened #7670 "<Unrecognized connection attribute'dbtable'> is returned when using spark to read trino jdbc"
Hi all,

I want to get the trino data through spark jdbc, but it always returns an error

`Unrecognized connection attribute'dbtable'
`
below is my spark code
[code]

and below is my start script of spark

[code]

I think there is a releated issue of presto
https://github.com/prestodb/presto/issues/9254

Please help me see how to use spark to read trino jdbc data

[2021-04-21 07:32] HeChuanXUPT opened #7672 "ES query string field error, Expected a string or numeric value for field ...[ArrayList]"
# version
trino: docker 355
es: 7.x

# error msg
trino:default> select * from filebeat limit 1;

Query 20210421_070100_00015_xhv48, FAILED, 1 node
Splits: 18 total, 0 done (0.00%)
1.24 [0 rows, 0B] [0 rows/s, 0B/s]

Query 20210421_070100_00015_xhv48 failed: Expected a string or numeric value for field 'tags' of type VARCHAR: [beats_input_codec_plain_applied] [ArrayList]

# source data
kibana displ

[2021-04-21 07:43] findinpath opened #7673 "Provide consistent representation of pushed-down operations in EXPLAIN output"
See the discussion: https://github.com/trinodb/trino/pull/7609#discussion_r616148357 for details.

[2021-04-21 08:09] losipiuk opened #7674 "Druid tests flaky with java.net.SocketException: Socket closed"
[code]

[2021-04-21 10:44] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7213

[2021-04-21 13:02] JoJoBizarreAdventure commented on #7597
I need some help for this https://github.com/trinodb/trino/issues/7597.
I found that for this testcase
[code]
The actual result of utf8Slice("123"+0xDFFF) will be [49, 50, 51, 53, 55, 51, 52, 51]. 49, 50 and 51 comes from "123" but the rest all come from 0xDFFF( in decimal 57343 for this number ). The length of it is larger than 5 and it should be truncated.
So I wonder for this issue, if I should

[2021-04-21 15:40] youngchen7 commented on #7461
(Copying discussion from slack channel for more context here)

martin  8 days ago

findepi  8 days ago

Do you see they should do this unconditionally, without a configuration toggle?
What about the case when connector does not know what’s going to be available to the user (system access control)
(if engine follows SQL specification out of the box, should connectors do too?)

martin  8 days ago

I

[2021-04-21 16:53] mosabua opened #7680 "Add certificate usage details for CLI docs"
in TLS/HTTPS section

for PEM and JKS files. Some info can be found in existing docs https://trino.io/docs/current/security/ldap.html#trino-cli

[2021-04-21 16:53] mosabua opened #7681 "Move CLI usage with Kerberos"
From https://trino.io/docs/current/security/ldap.html#trino-cli to the actual CLI docs https://trino.io/docs/current/installation/cli.html

[2021-04-21 17:03] mosabua opened #7682 "Rename Kerberos page"
https://trino.io/docs/current/security/server.html

in terms of filename and title so it is more in line with all other authentication systems.

Also add warning to NOT use it unless you have to since it painful and complex..

[2021-04-21 17:05] mosabua opened #7683 "Document launcher script better"
We can use the info from https://docs.starburst.io/latest/installation/tarball.html#using-the-launcher-command

Maybe on a separate page so we can also link to it from RPM page and others.

[2021-04-21 17:06] mosabua opened #7684 "Create RPM install page"
We can use the content from https://docs.starburst.io/latest/installation/rpm.html mostly but adapt it to the Trino RPM package

[2021-04-21 17:11] mosabua opened #7685 "Create high level description of webui pages"
on general and the different tabs for a specific query. There is a lot of info on that in the book Trino: The Definitive Guide that can be used as inspiration and education on what is what..

[2021-04-21 17:18] mosabua opened #7686 "Separate documentation page about logging"
* log.properties
* guidance on class names for that file
* also log parameter for JVM invocation
* link from deploy.rst

Also add specific example use cases:

* LDAP debugging
* Connector specific debugging (e.g. plugin classpath but also jdbc driver classpath, and similar)
* TLS debugging

[2021-04-21 17:19] MusKaya opened #7687 "Enable metastore caching for the Elasticsearch connector"
Queries that select and/or join from multiple elasticsearch indices take a lot of time due to the single-threaded analysis and planning stage within the coordinator, where the coordinator `curl`s the indices to get the mappings. In extreme cases, this latency can reach a couple of minutes. A metastore cache in the Elasticsearch connector would help with virtually eliminating it.

Copying from Trin

[2021-04-21 17:22] mosabua opened #7688 "Document units for configuration properties"
A number of configurations are specified with data size and duration units. We should document the valid ways to specify a datasize: https://github.com/airlift/units/blob/master/src/main/java/io/airlift/units/DataSize.java#L298 and a duration: https://github.com/airlift/units/blob/master/src/main/java/io/airlift/units/Duration.java#L189.

Make a separate page in the properties reference and docume

[2021-04-21 17:24] mosabua opened #7689 "Improve docs around authentication usage with the CLI"
* username and password parameters for password file and ldap
* certificate auth
* sso/oauth2 usage
* Kerberos?
* JWT ?

[2021-04-21 18:09] MusKaya commented on #2748
@bitsondatadev I think by adding a `metastore-refresh-interval` (as in [hive connector](https://trino.io/docs/current/connector/hive.html#metastore-configuration-properties)) to the cache you have described above will also almost fully solve the latency issue I described in #7687

[2021-04-21 18:15] MusKaya commented on #7687
I think adding a `metastore-refresh-interval` (as in hive connector) to the cache described in #2748, this latency issue can be almost fully eliminated.

[2021-04-21 19:17] mosabua opened #7691 "Document spatial comparison and operation functions"
The following are in the list of functions with a link to docs or without existing docs:

* ST_Contains()
* ST_Crosses()
* ST_Difference()
* ST_Disjoint()
* ST_Distance()
* ST_Equals()
* ST_Intersection()
* ST_Intersects()
* ST_NumInteriorRing
* ST_Overlaps()
* ST_Point()
* ST_Relate()
* ST_SymDifference()
* ST_Touches()
* ST_Union()

All documentation should be in https://trino.io/docs/current/fu

[2021-04-21 19:18] mosabua opened #7692 "Document tdigest_agg function"
Exists in list but is missing anchor and therefore link to https://trino.io/docs/current/functions/tdigest.html

[2021-04-21 19:19] mosabua opened #7693 "Document to_base64url function"
Exists in list but missing info and link

[2021-04-21 19:20] mosabua opened #7694 "Document url_extract_protocol function"
and ensure its linked in the list

[2021-04-21 21:09] lhofhansl commented on #7205
Is that an extra re-direction added at the Trino level?
Would that lead to confusion? I.e. columns in Trino having different name compared to the actual column names in Phoenix.
Phoenix does not, yet, support column rename.

[2021-04-22 00:58] phd3 opened #7697 "Flaky testAuthenticationFromMultipleThreadsWithCachedTokenAfterAuthenticateFails"
looks related to https://github.com/trinodb/trino/pull/7309

cc @kokosing

[code]

[2021-04-22 00:58] phd3 commented on #7697
failure instance: https://github.com/trinodb/trino/pull/7696/checks?check_run_id=2404900936

[2021-04-22 02:39] zcw5116 opened #7698 "What's the difference between Trino and spark?"
The latest version 3.0 of spark is also very fast and stable. According to the official meeting materials, some scenes are faster than presto. According to the third-party test, Presto is faster than spark, but not much faster. In particular, the performance of the new version of spark has been improved significantly, and spark supports a lot of data sources, and the expansion of data sources is m

[2021-04-22 02:54] xuboqing commented on #7113
I wanna have a try and maybe finish it in two days, could you please assign this to me?

[2021-04-22 03:20] 13250709979 opened #7699 "jdbc connector does not support deletes and updates"
jdbc connector does not support deletes and updates.So far, there is no version of this function on the Internet.

What should I do if I want to support this feature?

If someone already supports this function, is it convenient to provide a code reference?

[2021-04-22 03:21] xuboqing commented on #7117
Can I have a try? I am willing to fix it in two days maybe, could you please assign it to me?

[2021-04-22 05:37] hashhar commented on #7117
@maheshsv Are you still working on this? If not, is it okay for @xubo245 to pick this up?

[2021-04-22 05:38] hashhar commented on #7699
See https://github.com/trinodb/trino/issues/6993.

I'm closing this because it's essentially a duplicate.
Feel free to continue the discussion on the Trino slack at https://trino.io/slack.html.

[2021-04-22 05:38] #7699 closed

[2021-04-22 07:01] sbernauer opened #7701 "Session-specific S3 credentials"
Hi Trino Team,

thanks for your amazing work!

We currently have the following problem:
We are running our own S3 store and a have a lot of different users having fine granular access rights. The users should be able to query data from S3 and should be able to create "external" tables residing in S3 buckets and write data into it.

How can a user bring his own S3 credentials (access + secret key)

[2021-04-22 07:56] JoJoBizarreAdventure commented on #7597
@hashhar Could you please give me some advice for this ?

[2021-04-22 08:46] skrzypo987 commented on #7597
I believe you are confusing length of UTF8 representation with the actual length. The `y` parameter is a number of **code **points****, not bytes. Actually you should not even care about charsets like UTF8.
The example `utf8Slice("123" + new String(Character.toChars(0xE000))))` consists actually of 4 code points: 49, 50, 51, 0xE000.
All of them are ints, not bytes.
And this is a valid unicode stri

[2021-04-22 09:58] JoJoBizarreAdventure commented on #7597
Thanks @skrzypo987 , I will try to submit a pr that keep decrementing the code point.

[2021-04-22 10:33] Saamuel opened #7702 "Database names with a capital letter. Clickhouse 21.1.2.15."
Trino does not see databases and tables that start with a capital letter when connected to clickhouse.

direct connection to clickhouse
![image](https://user-images.githubusercontent.com/19970895/115699867-c0203b80-a36e-11eb-8c04-ce7b4912ab08.png)

trino connection
![image](https://user-images.githubusercontent.com/19970895/115700073-fcec3280-a36e-11eb-9e4c-13b9759f41d0.png)

if I create a databas

[2021-04-22 10:37] #6953 closed

[2021-04-22 10:39] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7263

[2021-04-22 10:49] kokosing commented on #7697
Related to https://github.com/trinodb/trino/issues/7559

[2021-04-22 11:37] kokosing opened #7703 "Product test launcher is flaky (unable to delete not existing files)"
[code]

[2021-04-22 11:38] kokosing commented on #7703
Even though all tests passed, job was marked as failed because of this.

[2021-04-22 11:50] s2lomon commented on #7559
https://github.com/trinodb/trino/pull/7704 that should fix it.

[2021-04-22 11:57] losipiuk commented on #7113
@MariyaR are you still working on this one?

[2021-04-22 12:21] #7534 closed

[2021-04-22 13:25] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7645

[2021-04-22 13:30] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7645

[2021-04-22 15:15] findepi opened #7708 "MERGE statement"
- [x] MERGE support in parser (https://github.com/trinodb/trino/pull/7126)
- [ ] MERGE support in analyzer, query planner, execution
- [ ] documentation
- connectors (can be split into follow up issues)
  - [ ] Hive for ORC ACID tables
  - [ ] Iceberg
  - [ ] Kudu

Relates to https://github.com/trinodb/trino/issues/3325

[2021-04-22 15:17] findepi commented on #7708
cc @djsstarburst @electrum @martint @losipiuk

[2021-04-22 15:26] ztaylor797 commented on #6980
I am unable to get past this issue.
After looking at the HMS Trino test image mentioned by findepi above for reference, I still have the same issue on a fresh install of everything.

I am building my own docker image for the hive metastore with these versions:

- HADOOP_VERSION=3.1.2
- HIVE_VERSION=3.1.2
- MYSQL_CONNECTOR_VERSION=8.0.13
_(Not using MinIO)_

Trino image: trinodb/trino:352

HMS prop

[2021-04-22 18:30] phd3 opened #7710 "Use a single metastore call to get tables with multiple parameters"
With https://github.com/trinodb/trino/pull/7642, table listing in iceberg connector performs two metastore calls for every schema. Looking at the documentation [here](https://github.com/apache/hive/blob/68a759a9925efe5f04d6dfe8f4a9ccc3d7a068e6/standalone-metastore/metastore-common/src/main/java/org/apache/hadoop/hive/metastore/IMetaStoreClient.java#L380), we need to see the feasibility of adding a

[2021-04-22 19:42] findinpath commented on #6939
@MusKaya  this sound a bit like what is being done in Kibana for querying Elasticsearch logs right?

[2021-04-22 20:21] #7703 closed

[2021-04-22 20:58] MusKaya commented on #6939
yes

[2021-04-22 20:58] MusKaya commented on #6939
yes

[2021-04-22 21:24] MariyaR commented on #7113
@losipiuk no, I am sorry, I am very limited in time these days

[2021-04-22 21:50] losipiuk commented on #7113
No worries :) @xuboqing feel free to give it a try :)

[2021-04-22 23:10] mosabua commented on #7570
Will address this for SQL Server and can then be used for all other connectors that implement this https://github.com/trinodb/trino/pull/7531

[2021-04-23 06:34] SivaTharun commented on #7693
@mosabua i am a newbie to open source contribution, can i start working on this issue.

[2021-04-23 06:34] SivaTharun commented on #7692
@mosabua i am a newbie to open source contribution, can i start working on this issue.

[2021-04-23 06:56] #7105 closed

[2021-04-23 10:33] hqbhoho opened #7716 "File system access control can't match"
I have a rules.json like this:
[code]
So, I have CREATE privilege on database uds and bbx. But I can't create table on uds。
![image](https://user-images.githubusercontent.com/37388552/115858477-95fb7600-a461-11eb-8baa-7217b1cb7733.png)
In source code (https://github.com/trinodb/trino/blob/b72fbf705dee94a9f0a1e040aa5527a09db90c62/lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/

[2021-04-23 11:55] findepi opened #7720 "Disable snapshot updates when loading plugins in DevelopmentServer"
When using `DevelopmentServer` as doc'd in README:

[code]

this 14s is not always there. My guess is it's when SNAPSHOT jars are not fresh in `~/.m2/repository`.
`DevelopmentServer` should use equivalent of maven's `-nsu` / `--no-snapshot-updates` when resolving artifacts.

[2021-04-23 15:32] findepi commented on #6980
@djsstarburst  knows most about ORC ACID intricacies

[2021-04-23 17:23] djsstarburst commented on #6980
I don't know what's going on, but here is the information I've gathered:

The error message `The table must be stored using an ACID compliant format (such as ORC)` apparently comes from this chunk of code in Hive metastore method `org.apache.hadoop.hive.metastore.TransactionalValidationListener.handleAlterTableTransactionalProp()`. The exception is thrown at line 171 in Hive tip master:

[code]

`

[2021-04-23 18:08] asantoz commented on #7684
Hi @mosabua
I can take it!
It should be added on this [file](https://github.com/trinodb/trino/blob/f6422d04663ab011d3ddb831ed16dec02659c47e/docs/src/main/sphinx/installation.rst)?
And for the other installation types(Docker,Tarbal...) already exits other issues to tackle it?

[2021-04-23 18:49] ztaylor797 commented on #6980
Thank you very much for looking at this! It is a real thorn in my side.

Here are the logs after running only the table create command with transactional = 'true'.
It is definitely hitting that "Could not verify InputFormat" entry.

[code]

[2021-04-23 19:12] ztaylor797 commented on #6980
I'm not sure if this is related, but I'm also getting a startup error related to the compactor which I believe is necessary for transaction support.

[code]

[2021-04-23 19:28] ztaylor797 commented on #6980
Just found this snippet about the Compactor. Sounds like I should still be able to use ACID tables, just without compaction if I'm using the HMS Standalone version.

[2021-04-23 19:46] findepi commented on #7559
https://github.com/trinodb/trino/runs/2422619586

[2021-04-23 20:31] findepi commented on #7697
https://github.com/trinodb/trino/runs/2422622744

[2021-04-23 20:58] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7644

[2021-04-23 21:15] findinpath opened #7729 "Use latest version of DataStax Java Driver For Apache Cassandra instead of trino-cassandra-driver"
**Context**

The project trino-cassandra is currently using the trino-cassandra-driver which is a shaded version of cassandra-driver-core 3.1.4 (which dates from 2017).
The reasoning behind the choice of using a shaded version of the cassandra driver is to make it compatible with the newer version of Guava library.

**Datastax cassandra driver**

In the meantime, the Cassandra driver evolved (with

[2021-04-23 22:29] mosabua commented on #7684
I think we should create a separate rpm.rst file in the installation directory .. you can literally take a lot of the content from the Starburst docs .. we wrote them with this in mind..

[2021-04-23 22:35] mosabua commented on #7693
Yes .. have a look at the readme file in the docs folder to see how it works and then potentially assign this issue to yourself and submit a PR.

[2021-04-23 22:35] mosabua commented on #7692
Yes. Please check out the readme in the docs folder for next steps. If you end up working on this please assign the ticket to yourself and submit a PR.

[2021-04-23 23:35] aakashnand commented on #3872
@tooptoop4 I figured out the root cause of this problem. When you log in to WebUI using `super-user` and click queryid of `userA` as `super-user`. The `super-user` tries to impersonate as `userA` and tries to get access to resources of `userA` in this case "query details". So when you get this messages `Query Not Found`, you will be able to see the `Denied` entry of the audit log on Ranger Audit s

[2021-04-24 00:28] chenjian2664 commented on #7694
@mosabua Hi @mosabua , I am interested in this, but do not know how to start, can you give me some suggestions?

[2021-04-24 00:35] aakashnand opened #7730 "Allow group names from FileGroupProvider to be provided in QueryAccessControl"
Currently, the QueryAccessControl does not provide a group field, this can be helpful for a scenario where users want to create an admin group and allow this group to have `execute`, `kill` `view` permission.
QueryAccessControl.java relevant lines
https://github.com/trinodb/trino/blob/master/lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/QueryAccessRule.java#L40-L41

Error wh

[2021-04-24 02:51] martint opened #7732 "Confusing error message when casting to raw parametric type"
[code]

fails with:

[code]

We should report a clearer error message.

[2021-04-24 04:39] aakashnand commented on #7322
@dungdm93 is right, I just tested this for AzureAD Oauth2.0 and I am getting similar error
[code]
So Oauth2 authentication does not work for AzureAD yet

[2021-04-24 07:19] aakashnand commented on #7689
@mosabua I have recently used JWT, Oauth and LDAP as authentication methods so I would like to write docs for these methods. I am not aware of SSO, Kerberos, Certificate so these will be still available for you or anyone else who would like to take the task.
For password authentication, there is already documentation available so I am planning to restructure [authentication section](https://trino.

[2021-04-24 09:07] chenjian2664 commented on #7694
I think i can add some examples to this functions in file 'docs/src/main/sphinx/functions/url.rst', what's your suggestions? @mosabua

[2021-04-24 12:45] ebyhr commented on #7702
Could you add below config to clickhouse properties?
[code]

[2021-04-24 13:33] SivaTharun commented on #7692
Thanks @mosabua

[2021-04-24 13:51] hashhar commented on #7729
Once the driver is updated can you please check if the workaround in https://github.com/trinodb/trino/pull/7544 (https://github.com/trinodb/trino/pull/7544/files#diff-1d4d18de4bd6e8b689f31339b09319cbbc46bc224bb4927ecf4ad96b21ef5a29R152-R154) can be removed?

The older driver doesn't implement `isNull` correctly for Timestamp types.

[2021-04-24 18:03] dain commented on #7730
Yes pleas add this.  Also I think this is missing from `SystemInformationRule` also

[2021-04-24 21:23] findinpath commented on #7729
Datastax Java Driver for Apache Cassandra® 4.11 documentation page:

https://docs.datastax.com/en/developer/java-driver/4.11/

[2021-04-24 23:48] mosabua commented on #7694
That works. Mostly we need to add the missing function. You can find more info on how to write docs and such at https://github.com/trinodb/trino/tree/master/docs#readme

[2021-04-24 23:53] mosabua commented on #7689
That all sounds like a good plan. There is a current PR that needs merge that add External authentication (SSO) already.

I would suggest we do a PR for each new authentication separately since as you noted there is  a bunch of stuff in existence, but in the wrong spots.

* one PR for password authentication (ldap and password file are same from CLI perspective, lift stuff from LDAP docs
* one PR

[2021-04-25 02:44] #7481 closed

[2021-04-25 05:27] #7491 closed

[2021-04-25 05:27] hashhar commented on #7533
[code]

https://github.com/trinodb/trino/issues/7491, https://github.com/trinodb/trino/pull/7546

[2021-04-25 09:07] lzeiming opened #7738 "Kudu grouped execution property cause exception when query a hive view over kudu table"
[code]

After reviewing the code, I find when isKuduGroupedExecutionEnabled(session) == true, the count should be positive.
The issue exists because We query a hive view over a kudu table. If we query the Kudu table directly, the issue does not exist.
The cause is that in StatementAnalyzer.createViewSession(), connectorProperties are not copied from the original session.

Then with the view sessio

[2021-04-25 14:09] #7111 closed

[2021-04-25 14:52] brandboat opened #7739 "Fix DST issue in AbstractTestOracleTypeMapping"
According to @hashhar's comment https://github.com/trinodb/trino/pull/7552#discussion_r619821632

There are two timestamp test cases in DST in `testTimestampWithTimeZoneFromOracle()` that couldn't pass when using `SqlDataTypeTest`.
- '2018-10-28 01:33:17.456 America/Bahia_Banderas'
- '2018-10-28 03:33:33.333000000', 'Europe/Vilnius'

For example, 2018-10-28 01:33:17.456 America/Bahia_Banderas is s

[2021-04-25 15:03] hashhar commented on #7739
@brandboat Thanks for creating the issue. By the way I don't think it's a test issue. The type mapping for TimestampWithTimeZone seems to not handle DST correctly and hence values are not round-tripping properly between Trino and Oracle.

[2021-04-25 15:04] brandboat commented on #7739
Indeed, thanks for clarify that.

[2021-04-25 16:40] mosabua commented on #7694
Link from the list fixed in https://github.com/trinodb/trino/pull/7740

[2021-04-25 17:13] mkDoku commented on #7654
Hi, it's Sascha. I would like to work on this issue.

[2021-04-25 17:14] mosabua commented on #7654
Functions are already documented, list.,rst needs the links update to be using func and @mkDoku is going to add some examples!

[2021-04-25 19:20] erikhopf opened #7743 "Simplified "try it"/ "quickstart""
Brand new users could benefit greatly from an article that's focused on getting a novice user up and running in 10 minutes or less. Ideally this guide includes:

* Easiest install path
* Most support across OS (Linux, macOS, and Windows) -- Remember, this is just to try the service, not to run this at scale.
* Give the reader an "Ah-ha" moment (or two or three) - Make me want to use the tool
* Giv

[2021-04-25 19:31] hashhar commented on #7743
@bitsondatadev has had this on his wishlist for quite a while now IIRC.

[2021-04-26 03:35] bitsondatadev commented on #7743
That's correct @hashhar! I have this [getting started repo](https://github.com/bitsondatadev/trino-getting-started) going, eventually to pave the way for tutorials maintained by the community and put on [the Getting Started page](https://trino.io/download.html).

Having a page like this in the docs will definitely be helpful as we can always point to the environment setup needed for Trino, rather

[2021-04-26 11:57] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7711

[2021-04-26 12:16] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7638

[2021-04-26 12:55] findinpath commented on #7729
I just noticed that the cassandra driver

https://trino.io/docs/current/connector/cassandra.html

via cassandra.protocol-version supports `V2` , `V3` and `V4`

On the other hand, cassandra java driver v4 supports the protocol version `V3`, `V4` , `V5` .

https://github.com/datastax/java-driver/tree/4.x/manual/core/native_protocol

Doing these changes would involve dropping the support for protocol

[2021-04-26 13:29] hashhar commented on #7729
From https://docs.datastax.com/en/developer/java-driver/3.5/manual/native_protocol/:

It looks only versions lower than `2.1.x` don't support protocol version 3. The first 2.1 release was in 2014 and versions older than 2.1 are no longer supported anyway.

I think it should be safe. cc: @ebyhr

[2021-04-26 16:11] erikhopf commented on #7743
@bitsondatadev - Sounds like a plan.

[2021-04-26 20:08] martint opened #7753 "Flaky TestFullParquetReader.testFloatNaNInfinity"
[code]

[2021-04-26 21:06] findepi opened #7755 "Flaky test TestCassandraConnectorTest.testDropColumn"
https://github.com/trinodb/trino/runs/2442277021

[code]

[2021-04-26 22:53] #6111 closed

[2021-04-26 23:00] martint commented on #7533
[code]

[2021-04-26 23:36] martint commented on #7533
[code]

[2021-04-27 00:11] #7682 closed

[2021-04-27 01:26] phd3 commented on #7533
[code]
#1592, #7642

[2021-04-27 05:25] miniway opened #7759 "ORDER BY on DISTINCT query cannot identify expression"
I haven't tested on each versions but the latest version raised the following error at ORDER BY on DISTINCT query.

Here's a simplified one to reproduce the issue

[code]

Thanks

[2021-04-27 06:10] martint commented on #7759
This is because the `totalprice` in the `from_unixtime(totalprice)` expression in the ORDER BY clause is binding to the output column of the SELECT clause (selecting `totalprice` without an alias creates an implicit alias with the same name). However, `totalprice` in `from_unixtime(totalprice)` in the SELECT clause is binding to `orders.totalprice`, so they are, effectively, two different columns

[2021-04-27 06:55] miniway opened #7760 "DELETE from empty semijoin result causes IllegalArgumentException"
Usually it's not a common case, but it started to fail at the recent version.

[code]
The result of semijoin is evaluated empty `VALUES` then it causes IllegalArgumentException. The same query on an old version, 317, worked.

[2021-04-27 09:41] hashhar commented on #7251
@findepi I don't think a rule exists for the inlining of constants into aggregation expression.

There is `SimplifyExpressions` but it does not include `ExpressionRewriteRuleSet#aggregationExpressionRewrite` (see https://github.com/trinodb/trino/blob/42d2e92e19fdd833a2894d6b54accec6b37a9a67/core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/SimplifyExpressions.java#L70).

[2021-04-27 10:56] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7695

[2021-04-27 13:59] findepi commented on #7533
[code]

#7754

[2021-04-27 14:14] findepi commented on #7559
https://github.com/trinodb/trino/runs/2448389654

[2021-04-27 14:14] findepi commented on #7559
where are we with that?

[2021-04-27 14:22] findepi commented on #7251
Discussed offline. Thanks @kasiafi for providing the guidance.

[2021-04-27 14:31] findepi commented on #7533
[code]

#7634

[2021-04-27 14:32] findepi commented on #7533
[code]

[2021-04-27 16:49] #7109 closed

[2021-04-27 16:49] datta90 opened #7767 "presto worker not getting added using password authenticator"
i am trying to add presto worker after enabling TLS .
Using prestosql version 350

my config properties on worker node
coordinator=false
query.max-memory=15GB
query.max-memory-per-node=5GB
query.max-total-memory-per-node=10GB
query.initial-hash-partitions=10
discovery.uri=https://10.128.xx.xx:8084
internal-communication.https.required=true
internal-communication.shared-secret=cxcddfsffs
node.inter

[2021-04-27 17:42] phd3 commented on #1592
Fixed in #7642.

[2021-04-27 17:42] #1592 closed

[2021-04-27 17:50] dain commented on #7533
[code]
#7678

[2021-04-27 22:49] hguercan commented on #7240
Would like to contribute. Could I get some guidance on this issue?

[2021-04-27 22:56] martint opened #7773 "Add support for row subqueries"
[code]

So:

[code]

should produce the equivalent of

[code]

And

[code]

should produce the equivalent of

[code]

[2021-04-28 00:44] asantoz commented on #7684
PR opened :) #7775

[2021-04-28 10:16] findepi opened #7778 "LocalQueryRunner cannot CTAS from Hive table"
`LocalQueryRunner` does not support `CREATE TABLE`, only `CREATE TABLE AS`

When doing `CREATE TABLE AS` from Hive (non-transactional) table into a Hive table

[code]

this limitation makes writing tests harder.

[2021-04-28 10:32] findepi opened #7779 "Remove redundant type-only CAST inside expressions"
A redundant CAST can be added by  `PredicatePushDown` & `EffectivePredicateExtractor`.
For example when joining two tables with `varchar(5)` and `varchar(10)` condition columns, with additional predicate defined on the shorter column.

Such CAST is then not eliminated and prevents further optimizations.

Example with a redundant CAST manually added into the plan for brevity:

[code]

[2021-04-28 12:38] datta90 commented on #7767
solved this by adding below properties in worker
http-server.https.enabled=true
http-server.https.port=8084
http-server.https.keystore.path=<path>
http-server.https.keystore.key=AAAA

[2021-04-28 12:38] #7767 closed

[2021-04-28 14:04] mosabua opened #7782 "Add details about specifying Mbeans in JMX connector"
From https://trinodb.slack.com/archives/CFLB9AMBN/p1619569057404100

This does not work

[code]

You need to escape the commas, which are used to separate multiple table names. Try with:

[code]

[2021-04-28 14:06] mosabua commented on #7782
Needs to be added in https://github.com/trinodb/trino/blob/master/docs/src/main/sphinx/connector/jmx.rst in the configuration section. Arguably this is already there. Wdyt @martint

[2021-04-28 14:46] ebyhr commented on #7670
Let me close this issue since it's actually Spark issue as we talked in Slack.
https://trinodb.slack.com/archives/CFLB9AMBN/p1618989858267800

[2021-04-28 14:46] #7670 closed

[2021-04-28 14:53] kokosing opened #7783 "Flaky TestTestingPostgreSqlServer"
[code]

[2021-04-28 14:57] patmagee opened #7784 "BigQuery connector does not modify single quote escape characters"
BigQuery and Trino do not share the same single quote escape semantics leading to a situation where it is impossible to query a Datasets in BigQuery when there is a single quote in your query criteria. The canonical way of escaping a single quote character within a string in ANSI SQL is to use two single quotes, `''`, a feature which Trino supports. Unfortunately,  BigQuery requires a double backs

[2021-04-28 15:36] patmagee commented on #7784
A potential ugly workaround we found seems to be casting the column name and the value to a varbinary using `to_utf8`.

[code]

[2021-04-28 16:14] mosabua opened #7785 "Add information about Limit pushdown"
* more detail on what works
* examples
* how to see in explain plan if pushdown happened
* limitations

[2021-04-28 16:15] mosabua opened #7786 "Add information about Top N pushdown"
* more detail on what works
* examples
* how to see in explain plan if pushdown happened
* limitations

[2021-04-28 16:15] mosabua opened #7787 "Add information on join pushdown"
* more detail on what works
* examples
* how to see in explain plan if pushdown happened
* limitations

[2021-04-28 16:19] mosabua commented on #7787
Follow up to complete necessary work from
https://github.com/trinodb/trino/commit/4ee04c04cb03d3fa7ce5e02a78ea3fed34629a6d

fyi @findepi @sopel39 @antonioromero-pm @claudiusli

[2021-04-28 16:19] mosabua commented on #7786
Follow up to complete necessary work from
https://github.com/trinodb/trino/commit/4ee04c04cb03d3fa7ce5e02a78ea3fed34629a6d

fyi @findepi @sopel39 @antonioromero-pm @claudiusli

[2021-04-28 16:19] mosabua commented on #7785
Follow up to complete necessary work from
https://github.com/trinodb/trino/commit/4ee04c04cb03d3fa7ce5e02a78ea3fed34629a6d

fyi @findepi @sopel39 @antonioromero-pm @claudiusli

[2021-04-28 17:51] ricosega opened #7788 "OAuth2 with Keycloak not working"
Hi there,

Just followed the [documentation](https://trino.io/docs/current/security/oauth2.html) but the coordinator node does not work.
This is the configuration options I used:
[code]
And this is the error output I get:
[code]
Any idea?

[2021-04-28 23:21] martint opened #7797 "Incorrect handling of row expressions in IN predicate, quantified comparisons and scalar subqueries"
Currently, the following queries returns `true`:

[code]

This is incorrect because according to the SQL specification:

[code]

So, the type of the subquery is a table containing a *single* column of type `row(integer, integer)`. Since the left side is a `row` with two fields, it's incompatible with the type of the table. The queries should fail with a type mismatch error.

In particular:

[code]

[2021-04-28 23:32] martint opened #7798 "Incorrect result for IN predicate with rows with null fields"
This query:

[code]

incorrectly returns `false`.
(Note: before https://github.com/trinodb/trino/issues/7797, equivalent query would be `SELECT ROW(1, 2) IN (SELECT ROW(1, null))`)

The result should `null`, and should be the same as:

[code]

[2021-04-29 02:54] ebyhr commented on #5688
I'm checking this in Trino upstream. Hive view having `current_date` returns result without any error, but `current_timestamp` throws below exception.

[code]

[2021-04-29 03:36] HeChuanXUPT commented on #7672
https://trino.io/docs/current/connector/elasticsearch.html

In section "Array types", add _meta can fix my problem.
[code]

[2021-04-29 03:36] #7672 closed

[2021-04-29 03:52] mosabua commented on #7668
Needs to be in list.rst and string function docs page

[2021-04-29 04:24] seven7777777 opened #7800 "Build failed"
trino: tag 355
java: openjdk version "11.0.11" 2021-04-20 LTS

Failed info:  Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project trino-spi: Fatal error compiling: error: release version 11 not supported

[2021-04-29 05:16] hashhar commented on #7800
Please verify what version of Java is Maven trying to use.
You can check that via `./mvnw --version`. Also note that the version of Java used must be >= 11.0.7. Older versions have some JVM bugs which can cause the build to fail.

[code]

It is generally faster to get help on such issues on the Trino slack. Feel free to join the slack and continue this discussion there.

[2021-04-29 06:23] seven7777777 commented on #7800
well , moving to zulu open jdk 11, it works.

[2021-04-29 06:23] #7800 closed

[2021-04-29 07:58] findepi commented on #5688
Note that "View ... is stale or in invalid state" is Trino's StatementAnalyzer's logic and **cannot** be effectively test-covered on Coral side alone.
That's why i consider this imperative that we have end-to-end tests on the Trino side, additionally to unit tests in Coral.

[2021-04-29 08:05] lukasz-walkiewicz commented on #7788
Hi @ricosega,

It looks like you're trying to use a Keycloak server with a self-signed certificate.
In order to make this work you have to import the certificate to a truststore and configure the JWK client to use it:
`oauth2-jwk.http-client.trust-store-path=<path-to-the-truststore>`

[2021-04-29 10:11] kokosing commented on #7778
Is this because that `LocalQueryRunner` does not support running DDL statements?
We know that `LocalQueryRunner` is limited and so once I proposed: https://github.com/trinodb/trino/pull/4456

[2021-04-29 10:24] chenshaojin opened #7804 "How to use Trino exposed API due to permission issues"
request: curl http://127.0.0.1:8080/ui/api/stats
response: Unauthorized

[2021-04-29 11:34] findepi commented on #7778
CTAS is supported, e.g. from VALUES, so this is something more subtle

`BasePlanTest` relies on `LocalQueryRunner`. If we could change that, that would be even better.

[2021-04-29 11:45] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7707

[2021-04-29 12:16] lukasz-walkiewicz opened #7805 "[flaky] trino-main module tests time out"
A few of the most recent hits:
https://github.com/trinodb/trino/runs/2464394675
https://github.com/trinodb/trino/runs/2455585750
https://github.com/trinodb/trino/runs/2442284867

[2021-04-29 12:26] kokosing commented on #7805
Successful trino-main takes about `succeeded 13 hours ago in 54m 15s`, so there is small space for error. I think we should try to either remove not needed tests execution or split this into two jobs.

[2021-04-29 14:35] ebyhr commented on #7533
[code]
#6337

[2021-04-29 15:47] sopel39 commented on #7533
[code]
https://github.com/trinodb/trino/pull/7790

[2021-04-29 19:45] findepi commented on #7798
what do you mean by "invalid"?
`ROW(...) IN (SELECT ROW(...)` used to work

[2021-04-29 19:47] martint commented on #7533
[code]

#7792

[2021-04-29 19:48] findepi opened #7809 "Incorrect result for IN predicate with ARRAY with null values"
Same as https://github.com/trinodb/trino/issues/7798 but for ARRAY

Since
[code]

This should return NULL too
[code]

[2021-04-29 20:05] martint commented on #7798
See the other issue I linked. That query should actually fail with a type mismatch.

[2021-04-29 22:45] martint commented on #7805
I believe this is due to https://github.com/trinodb/trino/pull/7751

Previously, the mbeans were exported only on calls to `PlanOptimizers.initialize()`, which was done by Guice, and only in the context of server instantiation. In LocalQueryRunner, `PlanOptimizers` is instantiated for every test (see `LocalQueryRunner.getPlanOptimizers()`). This is causing tests to spend the majority of time expor

[2021-04-30 00:29] martint commented on #7805
https://github.com/trinodb/trino/pull/7810

[2021-04-30 01:08] 13250709979 commented on #6993
Recently, I want to implement the delete and update statements of JDBC. Can you provide a more detailed modification scheme? thank you

[2021-04-30 06:28] phd3 commented on #7533
[code]
#7336, #7367

[2021-04-30 06:30] phd3 commented on #7336
Closed via #7367.

[2021-04-30 06:30] #7336 closed

[2021-04-30 09:00] lukasz-walkiewicz opened #7812 "[flaky] TestMemorySmoke#testJoinDynamicFilteringNone"
[code]
from: https://github.com/trinodb/trino/actions/runs/795995889

[2021-04-30 09:03] kokosing commented on #7533
[code]
#7706

[2021-04-30 11:09] #7805 closed

[2021-04-30 15:10] martint commented on #7533
@kokosing, what's the bug? Is it an authentication failure? Incorrect authentication?

[2021-04-30 19:14] kokosing commented on #7533
It was causing authentication failure due the misconfiguration as scopes in OAuth2 are separate with space. We used to use `,` and so it was considered as single scope. See:

[code]

[2021-04-30 22:09] martint opened #7815 "Release notes for 357"
## Ashhar Hasan
- [x] all checked
-  05-02 22:58:37    6720c9472c Combine testLimitPushDown with testLimit
-  05-02 22:58:37    86d68ef523 Extract limit pushdown tests to BaseJdbcConnectorTest
-  05-02 22:58:37    974996ad2b Reorder declarations in hasBehaviour to match TestingConnectorBehaviour
-  05-04 01:35:51    41be8e36de Fix information_schema query failures in BigQuery connector
-  05-04 06

[2021-05-02 16:28] hguercan commented on #6908
Started also working on this issue since its open since 19 Feb. Hope this is fine.

[2021-05-02 18:41] Damans227 commented on #7668
@mosabua Hi! I would like to work on this issue. Can it please be assigned to me ? I have signed the CLA as per the steps given here: https://github.com/trinodb/cla

[2021-05-03 05:58] #7430 closed

[2021-05-03 07:14] jerryleooo opened #7821 "Health check for data sources"
There are some scenarios that the queries are slow, but we are not sure if it is caused by Trino itself or by data source status (the data sources may not have a good monitoring), so would it be good to have some health check mechanisms for data sources? I have some ideas for now:

1. connectors implement a health check interface, then Trino collects data source running status by calling this inte

[2021-05-03 16:24] ricosega commented on #7788
Hi @lukasz-walkiewicz ,
I am using the latest trino docker image in kubernetes, would it be possible to add the self-signed certificate somewhere inside the container and avoid this messages?

[2021-05-03 16:37] mosabua opened #7822 "Doc for sessionUser in JDBC driver"
See https://trinodb.slack.com/archives/CFLB9AMBN/p1620012644008500

https://github.com/trinodb/trino/pull/6549

Setting connection parameter properties.setProperty("sessionUser", sessionUser);

[2021-05-03 19:06] dain opened #7823 "Upgrade Postgres connector incompatible with newer drivers"
PostgreSQL connector does not work with newer drivers due to fixes to handle of

- [ ] multidimensional arrays (>= 42.2.14)
- [x]  numeric types (>= 42.2.11) (https://github.com/trinodb/trino/pull/9517)

To reproduce simply update to latest driver and run `TestPostgreSqlTypeMapping`

[2021-05-03 19:11] #7773 closed

[2021-05-03 19:14] martint commented on #7815
[code]

https://github.com/trinodb/trino/issues/7773

[2021-05-03 19:44] martint opened #7824 "Add support for CURRENT_CATALOG and CURRENT_SCHEMA"
From the SQL specification:

[code]

This requires:
* Extending the grammar and AST (add `CurrentCatalog` and `CurrentSchema` AST nodes)
* Add support for the new AST nodes in various visitors
* Implement ExpressionAnalyzer
* Implement ExpressionInterpreter
* Implement a desugaring rule to convert them to internal function calls (`$current_catalog()`, `$current_schema()`). See DesugarCurrentUser f

[2021-05-03 20:21] mosabua opened #7825 "Add JDBC type mapping and metadata cache section"
The SQL server connector docs now has the fragment imported at https://trino.io/docs/current/connector/sqlserver.html#jdbc-type-mapping-and-metadata-cache

The same import applies to numerous other connectors. We need to add this to all connectors that support it in a Type mapping section.

[2021-05-03 20:24] mosabua commented on #7825
For starters @electrum @martint and @findepi can you maybe chime in here which connectors support this specifically. I assume pretty much all JDBC connectors so:

* MySQL
* Oracle
* PostgreSQL
* SQL Server (already done)
* SingleStore (MemSQL)

Is this correct? Are there others?

[2021-05-04 07:47] lukasz-walkiewicz commented on #7788
You can use docker volumes (https://docs.docker.com/storage/volumes/) for it. e.g.
[code]

[2021-05-04 08:44] hashhar commented on #7815
[code]

https://github.com/trinodb/trino/pull/7830

[2021-05-04 08:53] findinpath commented on #7729
Unfortunatelly it seems that also with the new java driver v4 version the problem persists

Deleting from `io.trino.plugin.cassandra.CassandraRecordCursor#isNull` the lines:

[code]

is causing the following tests to fail:

- io.trino.plugin.cassandra.TestCassandraConnectorTest#testNullAndEmptyTimestamp
- io.trino.plugin.cassandra.TestCassandraConnectorTest#testEmptyTimestampClusteringKey

both wi

[2021-05-04 10:27] sopel39 commented on #7815
[code]
https://github.com/trinodb/trino/pull/7762

[2021-05-04 13:29] hashhar commented on #7251
Fixed via https://github.com/trinodb/trino/pull/7776

[2021-05-04 13:29] #7251 closed

[2021-05-04 13:31] hashhar commented on #7815
[code]

https://github.com/trinodb/trino/issues/7251, https://github.com/trinodb/trino/pull/7776

[2021-05-04 13:35] #7824 closed

[2021-05-04 13:44] findinpath commented on #7729
While testing the updated cassandra connector on a local trino installation CLI I noticed the following exception:

[code]

The reference towards `basic.load-balancing-policy.local-datacenter` can be misleading for a trino user, because the user actually has only `cassandra.properties` catalog at hand for performing configuration modifcations.

Any idea how to deal with this issue?

[2021-05-04 13:45] findinpath commented on #7729
While testing the updated cassandra connector on a local trino installation CLI I noticed the following exception:

[code]

The reference towards `basic.load-balancing-policy.local-datacenter` can be misleading for a trino user, because the user actually has only `cassandra.properties` catalog at hand for performing configuration modifcations.

Any idea how to deal with this issue?

[2021-05-04 13:57] hashhar commented on #7729
cc: @ebyhr

I am not knowledgeable enough about Cassandra but as a user I'd like to see a default configuration that works out of the box? Is there a load balancing config that works without explicit configuration?

[2021-05-04 14:00] martint commented on #7815
[code]

#7824

[2021-05-04 19:14] Damans227 commented on #7693
@SivaTharun Hey Siva! How are you ? Just touching base with you to check if you are working on this one. Lemme know if you have any questions.

[2021-05-04 21:02] martint opened #7833 "Add documentation for CURRENT_CATALOG and CURRENT_SCHEMA"
See https://github.com/trinodb/trino/pull/7829#issuecomment-832239265

[2021-05-04 22:19] Damans227 commented on #7833
@martint I will take care of this one. Thanks!

[2021-05-05 06:29] l1x opened #7836 "Trino with Hive using SSL"
I am trying to connect to a Hive metastore with Thrift + SSL the following way:

[code]

Unfortunately it throws the following exception:

[code]

Does anybody know what the issue might be?

[2021-05-05 08:03] Praveen2112 commented on #2480
Fixed by https://github.com/trinodb/trino/pull/7631

[2021-05-05 08:03] #2480 closed

[2021-05-05 08:53] SivaTharun commented on #7693
Thanks @Damans227 for reaching out, i have started working on this PR, will raise a PR on this in a day or two.

[2021-05-05 10:02] sopel39 commented on #7815
[code]
https://github.com/trinodb/trino/pull/7423

[2021-05-05 12:08] kokosing opened #7839 "Support metadata caching in Phoenix connectors"
Use `CachingJdbcClient` in Phoenix connectors so Phoenix connector could cache metadata information.

I am not sure what impact this might have. Maybe Phoenix JDBC driver already does caching. This needs some investigation.

Phoenix connector does not use `BaseJdbcConfig` class and so it cannot simply use `CachingJdbcClient`, so it requires so guice magic.

[2021-05-05 13:15] Damans227 commented on #7693
Cool! Lemme know if you may have any questions or concerns. Goodluck 👍🏽

[2021-05-05 13:44] bitsondatadev commented on #4207
An example of cool things we could do with this https://github.com/trinodb/trino/issues/3468.

[2021-05-05 15:08] sopel39 commented on #7815
[code]
https://github.com/trinodb/trino/pull/7618

[2021-05-06 10:43] chenshaojin opened #7843 "JDK11 configures JMX Exporter ‘System property 'com.sun.management.jmxremote.rmi.port=null' does match configured RMI server port 9082’"
config:
[code]
error:
[code]

[2021-05-06 14:28] lukasz-walkiewicz opened #7845 "SSL certificates/keys are not properly resolved"
Trino cannot resolve certificates and/or keys (which are correct, valid and have SAN extensions matching hostnames) when a keystore contains multiple entries, for example: when using the same keystore for all of the nodes but each node uses its own certificate. What's interesting cluster works perfectly fine for a short period of time after the start.

My initial diagnosis is that it's caused by t

[2021-05-06 16:00] losipiuk commented on #7836
It seems like the endpoint you are connecting to is not talking valid TLS protocol. But error messages can be misleading here. @electrum can you chime in here; you implemented the feature.

[2021-05-06 16:08] Ordinant commented on #6190
Another vote for this annoyance to be fixed.

[2021-05-06 16:15] Ordinant opened #7847 "Document new CLEAR command for the CLI"
See https://github.com/trinodb/trino/pull/7632

[2021-05-06 18:57] alec-heif opened #7849 "CREATE TABLE AS does not work with timestamp(9) columns when transferring between hive catalogs"
The following seems to be a bug with the way the `hive.timestamp_precision` property is forwarded when a CREATE TABLE AS is run from one hive catalog to a different hive catalog.

Steps to reproduce (on Trino 354):

1. Have two hive catalogs, `hive` and `hive2`. Do not override the `hive.timestamp-precision` property in either catalog config so that both use `MILLISECONDS`.
2. Create a table `hive

[2021-05-06 19:02] alec-heif commented on #7849
edit: I did some experimenting and I realized that I was misunderstanding session properties.

setting `hive2.timestamp_precision=NANOSECONDS` as an additional session property to the query did the right thing!

We can close this out, although it might be worth clarifying in the docs that the `hive.<session_property>` inline setting only actually works if the connector is named `hive`.

[2021-05-06 19:05] #7849 closed

[2021-05-06 20:06] mosabua commented on #7472
If you want load balancing across multiple HMS server the better practice is probably to use only one URI for the metastore config in the catalog file. And then have that one URI point to an actual load balancer that distributes the load evenly across your identical HMS instances that as set up as a high availability HMS.

[2021-05-07 04:59] hashhar commented on #7849
It's documented but not within each connector's docs. https://trino.io/docs/current/sql/set-session.html

cc: @mosabua Any ideas how we could improve this? Would making use of non-default catalog names in examples clarify it? Similar to the notes we add about replacing the catalog name in the example queries if your catalog properties file is named differently?

[2021-05-07 06:04] #3536 closed

[2021-05-07 06:12] ebyhr commented on #7815
[code]

#3536, #3613

[2021-05-07 06:22] ebyhr commented on #6908
@findepi Do we update modernizer configuration in this issue?

[2021-05-07 06:37] zhangchunyang1024 commented on #6220
Expected response code from http://192.168.220.197:8285/v1/task/20210507_062707_00311_a887g.3.0?summarize to be 200, but was 500
java.lang.IllegalArgumentException: Expected operatorType to be ScanFilterAndProjectOperator but was WorkProcessorPipelineSourceOperator
	at com.google.common.base.Preconditions.checkArgument(Preconditions.java:441)
	at io.trino.operator.OperatorStats.add(OperatorStats.j

[2021-05-07 07:20] findepi commented on #7635
Per https://github.com/linkedin/coral/issues/72#issuecomment-834114152 this can be solved by https://issues.apache.org/jira/browse/CALCITE-3466

[2021-05-07 07:45] findepi commented on #7472
@mosabua that's exactly opposite of what i suggested on slack recently.
Yes -- it would work
But no -- users shouldn't need to put a load balancer in front of HMS if Trino supports load balancing internally.

(And if we want to go down "it's recommended to use a load balancer" route, we should deprecate/remove support for multiple metastore URIs.)

[2021-05-07 09:06] MarvinCai opened #7852 "Add connector for Apache Pulsar"
We're from Apache Pulsar Community.
Apache [Pulsar](https://pulsar.apache.org/docs/en/sql-overview/) is a distributed messaging/streaming system with cloud native architecture.
Pulsar used to implement its [SQL](https://pulsar.apache.org/docs/en/sql-overview/) feature with [connector](https://github.com/apache/pulsar/tree/master/pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto)

[2021-05-07 11:46] ebyhr opened #7854 "Use username/password authentication in MongoDB docker tests"
Currently, there is no authentication in our MongoDB tests.
Setting `MONGO_INITDB_ROOT_USERNAME` and `MONGO_INITDB_ROOT_PASSWORD` environment variables enable auth in MongoDB docker. https://hub.docker.com/_/mongo

[2021-05-07 14:11] shandeep00 commented on #7520
@Justin-Kwan I have updated all assertExpression tests, you can work on updating assertStatement tests.
@martint is it okay if we raise 2 separate PR's for this?

[2021-05-07 15:04] martint commented on #7520
Yes, absolutely. No need to do it all in one shot -- it can be done incrementally for different parts.

[2021-05-07 17:00] Justin-Kwan commented on #7520
Hmm, I've just about finished updating all of the assertStatement and assertExpression already @shandeep00

[2021-05-07 17:09] shandeep00 commented on #7520
ohh cool, np go ahead and raise a PR. Also, it is better to check if someone is already working on the issue before we start, this will avoid duplicate work.

[2021-05-07 17:27] SivaTharun commented on #7693
@mosabua can you review this [PR](https://github.com/trinodb/trino/pull/7860), that i have raised for this issue, i had to close the previous PR, as the author is taken as root user of my machine and i missed adding git global credentials.
i have already signed the cla document as mentioned in  the [read me].(https://github.com/trinodb/cla/blob/master/README.md)

please add me to the list of contr

[2021-05-07 17:34] SivaTharun commented on #7822
@mosabua @findepi can i work on this issue, for adding the  document related to JDBC driver connection parameters.

[2021-05-07 19:30] ayushbilala commented on #7784
I was able to replicate the issue and would like to work on adding a fix.
@ebyhr Is it fine if I pick it up?

[2021-05-07 19:38] kokosing commented on #7852
Hello! We are were glad that you are contacting with us. It would be very nice to have a Pulsur connector being mantained as part of Trino project.

There is no formal process. Please post a pull request and I would be happy to do a code review. In order to shorten the communication cycle please join the slack: https://trino.io/slack.html

Please make sure you are familiar with: https://github.com

[2021-05-07 21:01] Justin-Kwan commented on #7520
thanks, and good idea, I'll make sure to do that next time, my bad. @shandeep00

[2021-05-07 21:15] mosabua commented on #7472
Personally I think the load balancing aspect should be handled outside of Trino and we should remove support multiple URIs. And we do know that using an external loadbalancer in front of a HMS works well and simplifies things for Trino.

But I don't know how Trino treats such external dependencies in general either. It seems inconsistent to some degree. E.g. for JDBC connections we only connect to

[2021-05-07 21:55] mapshen commented on #7689
@mosabua would you mind pointing me to that PR? We are actually looking at something similar, too. Thanks!

[2021-05-08 01:03] ebyhr commented on #7784
@ayushbilala Sure, go for it!

[2021-05-08 03:25] hashhar commented on #7784
@ayushbilala you might find this conversation on the Trino slack helpful while working on the fix.

https://trinodb.slack.com/archives/CGB0QHWSW/p1619726125358600?thread_ts=1619723632.356200&cid=CGB0QHWSW

[2021-05-08 05:20] mosabua commented on #7689
Thats already merged now. https://github.com/trinodb/trino/pull/7713

@Ordinant is working on certificate and JWT

Kerberos lift and shit still needs to be done

The current existing section is essentially password authentication.

[2021-05-08 05:22] sachindavra commented on #7854
Hi @ebyhr, Thanks for explaining this.
I think coding is in other than python. I am not familiar with this syntax. Apology for this.

[2021-05-08 05:33] ebyhr commented on #7815
[code]

#7862

[2021-05-08 06:32] ayushbilala commented on #7784
@hashhar Sure, I'll take a look.

[2021-05-08 07:16] ebyhr commented on #7815
[code]

#7853

[2021-05-08 08:10] kokosing opened #7864 "Migrate CaseInsensitiveMapping tests to BaseCaseInsensitiveMappingTest"
`BaseCaseInsensitiveMappingTest` was added in #7909 and some connectors' tests (PostgreSQL, MySQL and SQL Server) are already migrated to use it.

The following must also be migrated to use `BaseCaseInsensitiveMappingTest`:

- [x] TestOracleCaseInsensitiveMapping
- [ ] TestBigQueryCaseInsensitiveMapping
- [x] TestMemSqlCaseInsensitiveMapping

[2021-05-08 09:02] ebyhr commented on #6524
It seems this issue was resolved by BigQuery side. We can close this after adding a test.

[2021-05-08 10:59] gaojun2048 commented on #7664
Can I work for this issue?

[2021-05-08 15:20] martint commented on #7664
Go for it!

[2021-05-08 19:16] npow opened #7866 "Unable to set `hive.s3.iam-role` with `hive.s3-file-system-type = EMRFS`"
I am trying to set `hive.s3.iam-role` according to the [docs](https://trino.io/docs/current/connector/hive-s3.html), but am getting a configuration error. I am using version `356` of trino-server. Are there some other configuration changes needed to make this work? I also tried setting `hive.s3.aws-access-key` and `hive.s3.aws-secret-key` and got the same "property was not used" error.

[code]

[2021-05-09 12:57] JerryngtonD commented on #7782
@mosabua it seems to be already escaped, for ex.
`
jmx.dump-tables=trino.memory:name=general\\,type=memorypool,\
   trino.memory:name=reserved\\,type=memorypool
`

[2021-05-10 03:37] nooberfsh opened #7871 "Trino spi give invalid timestamp value"
I wrote a udf:
[code]

the result of `my_to_unixtime`  and `to_unixtime` are different:
[code]
the latter is 8 hours bigger then the first one, and my current time zone is Asia/Shanghai (UTC+8)

I think this is a bug.

[full code](https://github.com/nooberfsh/trino-spi-timestamp-bug)

[2021-05-10 07:52] kokosing commented on #7689
Can you please elaborate about what is poor and what you would like to improve and how?

[2021-05-10 08:42] kokosing opened #7872 "Flaky TestSqlServerTypeMapping: "Transaction was deadlocked ... and has been chosen as the deadlock victim""
[code]

Similar issue: https://github.com/trinodb/trino/issues/6389

[2021-05-10 09:18] xwzpp opened #7873 "Document metadata.cache-ttl properties to JDBC based connector"
According to the slow SQL query of Druid, the query frequency of metadata is high. We want to know whether the metadata is cached and how often the query frequency is.

SELECT
  TABLE_CATALOG AS TABLE_CAT,
  TABLE_SCHEMA AS TABLE_SCHEM,
  TABLE_NAME AS TABLE_NAME,
  COLUMN_NAME AS COLUMN_NAME,
  CAST(JDBC_TYPE AS INTEGER) AS DATA_TYPE,
  DATA_TYPE AS TYPE_NAME,
  -1 AS COLUMN_SIZE,
  -1 AS BUFFER_

[2021-05-10 09:45] chenshaojin commented on #7843
[code]

[2021-05-10 18:45] mosabua commented on #7664
Then we just need to update the link to it in list.rst. Want to send a PR for that @gaojun2048 ?

[2021-05-10 18:47] mosabua commented on #7663
Yes. There might be a PR on the way already though.

[2021-05-10 19:59] mapshen opened #7879 "Oauth 2.0 fails when using an Okta org as an authorization server"
We run trino 355 behind an nginx server, which is responsible for terminating HTTPS/TLS.

We have confirmed that the password file authentication works with this setting:
[code]
Users hit `trino.example.com` will be able to connect to the trino server hosted on `server1.example.com`.

However, when we switch to OAUTH2 with Okta with this setup:
[code]

after an authorization code request

[code]
i

[2021-05-10 20:34] mapshen commented on #7689
@kokosing The requirement of a browser gets in the way when you are on a terminal...And due to some limitations, we are not able to use LDAP but only Okta and the "LDAP authentication"-like user experience is what we would love to have.

[2021-05-10 20:54] lukasz-walkiewicz commented on #7879
Hi @mapshen,

It doesn't look like it has anything to do with the proxy. The error message says that the key (`kid`) from the JWT signature cannot be found in the JWKS endpoint response, ie. the signature key is unknown to the server. You probably have missconfigurations in you Trino config. Try getting the access token yourself using the authorization code you got and check whether it has the cor

[2021-05-10 21:07] mosabua commented on #7570
Fixed in https://github.com/trinodb/trino/pull/7834

[2021-05-10 21:47] mosabua commented on #7849
We have been moving to changing the catalog names in the connector docs to be different from the connector.name .. this has been a common problem. And we should move that out more and more to all connectors. PRs for that are welcome.

[2021-05-10 22:21] mosabua commented on #7822
Definitely. Should be added in https://trino.io/docs/current/installation/jdbc.html#parameter-reference

[2021-05-11 00:07] mapshen commented on #7879
@lukasz-walkiewicz thanks for quick response - you're right! Totally misread the error message.

I checked the signature manually and confirmed that the validation failed. After some research, I found [1] states

which explains the error we are experiencing.

Further, as per [2],

Our use case is simply to add SSO, so we wonder if this is possible to disable the validation via configuration?

[1]

[2021-05-11 02:38] gaojun2048 commented on #7664
Ok, I will do this.

[2021-05-11 03:25] martint opened #7885 "Support DISTINCT in window functions"
Currently, window functions involving DISTINCT fail with an error:

[code]

[code]

[2021-05-11 05:05] zacharyzhao commented on #7102
Hi there, is property ```clickhouse.map-string-as-varchar``` available now? Or it's still in progress? @findinpath @wgzhao

[2021-05-11 05:10] hashhar commented on #7782
@mosabua I don't think anything needs changing here.

Current example:

[code]

gets read as two tables `trino.memory:name=general,type=memorypool` and `trino.memory:name=reserved,type=memorypool` which is correct and expected.

The suggested change:

[code]

gets read as a single table `trino.memory:name=general,type=memorypool,trino.memory:name=reserved,type=memorypool`.

However it might be use

[2021-05-11 06:53] zhangchunyang1024 commented on #7663
Let me look at the other issues

[2021-05-11 19:39] kokosing commented on #7872
Possibly fixed with #7889

[2021-05-11 19:39] #7872 closed

[2021-05-11 21:01] mergewreck opened #7890 "Aggregation that’s on top of the tablescan should be pushed down into the connector"
Context:

Assuming a custom connector- so anything possible- can this query be pushed down in full?
SELECT COUNT(*) FROM cat.sch1.tbl1 WHERE tenant = xxx AND from_unixtime(timestamp / 1000) BETWEEN TIMESTAMP ‘2020-03-01 00:00’ AND TIMESTAMP ‘2020-03-15 00:00’
Or is a trick or workaround/best practice to achieve full pushdown in this case

martin
Not currently. There’s no way to push down arbitrary

[2021-05-11 21:07] mergewreck opened #7891 "SplitCompletedEvent is missing the splitId"
Context:

Merge Wreck
SplitCompletedEvent is missing the splitId. So you’ll get a series of indistinguishable split events if add a listener

david
... Regarding split ID, I don't think we actually have any concept of that at execution time. ScheduledSplit has sequenceId that could probably be used.

A SplitCompletedEvent which does not have a split ID may not make sense. Regardless, the SplitComp

[2021-05-12 00:05] ebyhr commented on #7873
Metadata cache is disabled by default in JDBC based connectors. There is `metadata.cache-ttl` (duration) properties.

[2021-05-12 00:48] martint commented on #6744
Based on the discussion here and elsewhere, it seems to me that we should map this type to `timestamp with time zone` instead of `timestamp`.

[2021-05-12 02:35] amyma1 commented on #7854
Hi @ebyhr,
I'm completely new to open-source and would like to contribute to this please! :)

[2021-05-12 02:42] ebyhr commented on #7854
@sachindavra Do you mind if @amyma1 takes over this?

[2021-05-12 03:47] raunaqmorarka commented on #5041
Fixed with
https://github.com/trinodb/trino/pull/7618
https://github.com/trinodb/trino/pull/7707
https://github.com/trinodb/trino/pull/7645

[2021-05-12 03:47] #5041 closed

[2021-05-12 05:59] sachindavra commented on #7854
@ebyhr, Please go ahead.

[2021-05-12 06:11] gaojun2048 commented on #7240
Hi, I want to work for this issue.

[2021-05-12 08:24] findinpath commented on #4835
I'd like to try to implement this functionality.

[2021-05-12 09:14] JoJoBizarreAdventure commented on #3387
@findepi Could you please give me some advice?

[2021-05-12 11:04] findepi commented on #3387
@martint please chime in here

[2021-05-12 12:06] hashhar commented on #7219
https://github.com/trinodb/trino/pull/7434 was merged.

[2021-05-12 12:06] #7219 closed

[2021-05-12 12:06] hashhar commented on #7103
Aggregation pushdown now merged in https://github.com/trinodb/trino/pull/7434.

[2021-05-12 12:06] hashhar commented on #7130
Merged as https://github.com/trinodb/trino/pull/7135.

[2021-05-12 12:06] #7130 closed

[2021-05-12 12:13] hashhar commented on #7815
[code]

https://github.com/trinodb/trino/pull/7434, https://github.com/trinodb/trino/issues/7219

[2021-05-12 14:09] sopel39 opened #7895 "Don't use `-Xdoclint: -missing` for Trino"
Currently, in Trino `pom.xml` we use
[code]
but it ignores certain checks (e.g HTML formatting with `<pre></pre>`) that make javadoc correctly formatted. We should remove `<air.javadoc.lint>-missing</air.javadoc.lint>` from project and fix broken javadocs

[2021-05-12 15:03] z-arosio opened #7897 "Support PostgreSQL insert into ON CONFLICT"
### Why
To run UPSERT from any catalog to a postgres database.
I think it could be a disruptive feature: it would be possible to use Trino to run ETL from data lake or any catalog to postgres, without needs of any ORM.

[2021-05-12 15:29] hashhar opened #7898 "Run Iceberg product tests with all tested Hive distributions"
In https://github.com/trinodb/trino/pull/4297 we stopped testing Iceberg with HDP and CDH Hive distributions.

We should re-enable them.

[2021-05-12 15:36] hashhar commented on #7897
If I understand correctly this should be possible to implement in connectors after engine adds supports for MERGE. @djsstarburst ?

See https://github.com/trinodb/trino/pull/7386

[2021-05-12 17:21] djsstarburst commented on #7897
I haven't heard of any connection between SQL MERGE and support for INSERT ON CONFLICT in Postgresql.

BTW, #7386 is will be closed, soon to be superseded by an PR with the proper structure of statement analysis and query planning.

[2021-05-12 18:07] jhlodin commented on #7692
It doesn't look like there's movement on this issue right now, and I'm looking for a docs ticket to resolve. Assigning to myself, PR incoming soon.

[2021-05-12 19:12] ayushbilala opened #7900 "Add support for all the String and Bytes Literals in BQ Connector"
Here is the list of all [String and Bytes literals](https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical#string_and_bytes_literals) supported by BigQuery.

As part of PR https://github.com/trinodb/trino/pull/7869, I have added a fix in the BQ connector to correctly treat a single quote in the query criteria. BQ connector needs to be enhanced to support the full set of literals.

[2021-05-12 19:17] ayushbilala commented on #7900
I did some research and figured out that the existing BQ connector doesn't support values with embedded newlines in query criteria and a few raw strings.

[2021-05-12 19:17] erichwang opened #7901 "Unable to build with Java 16"
When using Java 16 to build the project, we quickly get the following error:

[code]

[2021-05-13 01:03] phd3 opened #7905 "Support predicate pushdown and deletion for non-identity partition columns in Iceberg"
Currently, filters on non-identity partition columns are not utilized in Iceberg Connector predicate pushdown. Metadata deletion queries don't work on these:

[code]

We can improve the `SELECT` queries for such cases by optimizing split scheduling. The constraint (with predicate) needs to be propagated to `IcebergSplitManager` through `IcebergTableHandle` and used to evaluate partition spec value

[2021-05-13 02:51] meggpie commented on #5316
@mosabua I can work on this one!

[2021-05-13 02:51] cccs-tom commented on #7526
Resolved by #7639

[2021-05-13 02:51] #7526 closed

[2021-05-13 03:27] martint commented on #5316
@mosabua , the reason is that political time zones are no longer supported with the time type since they have undefined semantics - you need to know the date to be able to tell what the actual offset is.

[2021-05-13 05:23] raunaqmorarka opened #7907 "Remove legacy LimitPushDown optimizer"
Related: https://github.com/trinodb/trino/issues/811

cc: @martint @kasiafi

[2021-05-13 07:21] findepi commented on #7905
Requires https://github.com/trinodb/trino/issues/7608

[2021-05-13 07:50] kokosing commented on #7692
Fixed with https://github.com/trinodb/trino/pull/7902

[2021-05-13 07:50] #7692 closed

[2021-05-13 07:53] hashhar commented on #7897
@djsstarburst Thanks for the information. Reading more about MERGE it seems like it's a very broad and more powerful superset of the very limited `UPSERT` facility (`INSERT ... ON CONFLICT`) in PostgreSQL.

I was thinking more about pushdown of MERGE into connectors - which is impossible with PostgreSQL because Postgres can't perform everything that MERGE allows. So we can ignore "implement in con

[2021-05-13 08:46] gianlucastrada commented on #7897
Sorry but MERGE don't work in this example:
MERGE INTO datalake.playground.ba_roles t USING stage_myzp.dbo.ba_roles s ON (t.rocode = s.rocode)
  WHEN MATCHED THEN
    UPDATE SET cpccchk = s.cpccchk
  WHEN NOT MATCHED THEN
    INSERT (rocode,rodescri,cpccchk,rodescri_eng) VALUES (s.rocode,s.rodescri,s.cpccchk,s.rodescri_eng);

Error:
Error SQL [13]: Query failed (#20210513_084250_00149_fx34a): Unsu

[2021-05-13 09:09] findepi commented on #7897
@hashhar you're right. If MERGE gets somehow supported in PostgreSQL connector, it can be used to the same effect as "PostgreSQL insert into ON CONFLICT ...".

[2021-05-13 11:35] kokosing commented on #7815
[code]
 #7841

[2021-05-13 13:41] findepi commented on #4684
why would you want to do that?

[2021-05-13 14:17] ebyhr commented on #4684
@findepi If I remember correctly, we disabled to avoid an issue described in #3967. Let me confirm in upstream.

[2021-05-13 14:42] martint commented on #4835
@findinpath , go for it! Let me know if you need any guidance.

[2021-05-13 19:35] #7825 closed

[2021-05-13 20:30] ianburrell opened #7914 "Number pad produces characters in CLI"
In the 350 CLI, keys on the number pad produce characters instead of the actions like Home, End, and direction keys. My guess is that the escape sequences are not defined.

This happens regardless of if "application keypad mode" setting is enabled or disabled.

This was working in PrestoDB 0.220.

[2021-05-13 20:53] mosabua commented on #7694
Fixed in linked PR

[2021-05-13 20:53] #7694 closed

[2021-05-13 20:55] mosabua commented on #7873
This is documented now. This PR added it to all connectors it applies to.

https://github.com/trinodb/trino/pull/7834

[2021-05-13 20:55] #7873 closed

[2021-05-13 20:56] mosabua commented on #7693
PR is merged. Well done.

[2021-05-13 20:56] #7693 closed

[2021-05-13 20:57] mosabua commented on #7668
The PR is merged now. Thank you @Damans227

[2021-05-13 20:57] #7668 closed

[2021-05-13 20:58] mosabua commented on #7654
This is all done now in terms of documenting. More examples in linked PR are mostly a nice to have.

[2021-05-13 20:58] #7654 closed

[2021-05-14 00:08] #1878 closed

[2021-05-14 00:12] ebyhr commented on #7815
[code]

#1878, #1905

[2021-05-14 05:24] wgzhao commented on #7103
* [x] Map ClickHouse UUID to Trino UUID #7915

[2021-05-14 07:02] njalan opened #7917 "com.google.common.util.concurrent.UncheckedExecutionException when access sql server 2017"
trino version: prestosql 340
sqlserver version:Microsoft SQL Server 2017

When I trying to access sql server by prestosql 340 I got below exception:
Query 20210514_062321_00000_e2zi8 failed: com.google.common.util.concurrent.UncheckedExecutionException: java.lang.IllegalStateException: Driver returned null connection
com.google.common.util.concurrent.UncheckedExecutionException: com.google.common.

[2021-05-14 08:02] kokosing commented on #7917
[code]

This means that Trino was not able to open JDBC connection to SQL Server. Typically in such case an exception is thrown, here `null` was returned.

Can you please share your `sqlserver.properties` file? Also can you please to use same configuration with other JDBC tools like DBeaver to see if you are able to connect to SQL Server.

[2021-05-14 08:26] kokosing opened #7918 "Query not cancelled after JDBC statement close when multiple result sets created"
Consider a case:
[code]

After https://github.com/trinodb/trino/issues/7587 closing statement will also close result set, which will cancel the query. However in the case above only query related with `rs2` will be cancelled and query for `rs1` leaks.

See: https://github.com/trinodb/trino/pull/7819#discussion_r631661193

[2021-05-14 08:33] kokosing commented on #7453
Duplicate of https://github.com/trinodb/trino/issues/7872 which is fixed.

[2021-05-14 08:33] #7453 closed

[2021-05-14 08:35] njalan commented on #7917
@kokosing  Below is my sqlserver.properties and I am able to access sql server by DBeaver with the same configuration.
connector.name=sqlserver
connection-url=jdbc:jdbc:sqlserver://xxxx:1433;database=xx
connection-user=xxxx
connection-password=xxxx

[2021-05-14 08:36] kokosing opened #7919 "Testing SQL Server is flaky"
[code]

[2021-05-14 08:55] mkDoku commented on #7654
Thank you for reviewing my changes, @mosabua .

[2021-05-14 09:42] sopel39 commented on #7815
[code]
https://github.com/trinodb/trino/pull/7874

[2021-05-14 10:22] hashhar commented on #7917
That could be the issue. Should it be `jdbc:sqlserver://xxxx:1433;database=xx` instead?

[2021-05-14 10:27] #7871 closed

[2021-05-14 11:00] JoJoBizarreAdventure commented on #3387
@findepi I wonder this should be **trino** or **prestosql** ? It seems that **prestosql** doesn't work.
![image](https://user-images.githubusercontent.com/64888038/118261794-a5ad2e00-b4e6-11eb-9644-8af9ba506ecc.png)

[2021-05-14 11:01] #7551 closed

[2021-05-14 11:29] dixingxing0 opened #7922 "EOFException while querying iceberg table of parquet format"
I encountered an exception while querying a iceberg table of parqeut format.

Environment:
[code]

Stack trace:
[code]

[2021-05-14 11:32] dixingxing0 commented on #7551
Thanks @phd3, that's greate, i'm closing this issue.

[2021-05-14 12:23] kokosing commented on #7815
[code]
#7819

[2021-05-14 13:58] njalan commented on #7917
@hashhar I am sorry for my mistake and thanks for your help. It is working now.

[2021-05-14 13:58] #7917 closed

[2021-05-14 14:00] hashhar commented on #7917
No need to be sorry. It's easy to miss.

Also, you might want to join the [Trino slack](https://trino.io/slack.html) so that you can get more help on the #troubleshooting channel.

[2021-05-14 14:20] njalan commented on #7917
I will join it. Thanks again

[2021-05-14 16:01] findepi commented on #3387
@JoJoBizarreAdventure yes, `trino`.
it used to be `io.prestosql` package before the rebranding

[2021-05-14 20:06] l1x commented on #7836
I think this is happening because of trying to connect to a non-SSL service.

[2021-05-14 20:06] #7836 closed

[2021-05-15 05:09] JoJoBizarreAdventure commented on #3387
And I wonder what is this **MyPlugin**?
@findepi Do you know something about this?
![image](https://user-images.githubusercontent.com/64888038/118263332-b1015900-b4e8-11eb-8cc4-c748e094b1a6.png)

[2021-05-15 09:36] amitds1997 commented on #7914
The underlying library we use is `jline`. Can you try following [this discussion](https://github.com/jline/jline3/issues/160), and if the issue still persists, please share the `infocmp`, thought it is likely that the issue is with your PuTTy terminal configuration or `jline`.

[2021-05-15 10:37] amitds1997 commented on #7901
The issue is likely because of the dependency of maven plugins on `xstream` which has not been updated.
`xstream` fixed this issue in `1.4.13` ([source](https://github.com/x-stream/xstream/issues/101#issuecomment-694524209))

However, we are at `1.4.7`.

[code]

My guess is we have a maven plugin which is using an older version of `xstream`.

[2021-05-15 15:15] hashhar commented on #7901
It's being pulled in from `provisio-model` which we use for packaging. It's updated upstream in https://github.com/jvanzyl/provisio/commit/d70e15833e3af59ffdbcf007c0402b9aacd9e418 but there hasn't been a new release since.

@nineinchnick might know if there's a release coming since he got something merged-in upstream.

[2021-05-15 15:25] nineinchnick commented on #7901
There was a new release two days ago.

[2021-05-15 18:44] findepi commented on #3387
i do not.

[2021-05-16 01:03] phd3 commented on #7922
@dixingxing0 Do you know if any older Trino version executes the query successfully? One possible reason could be that the writer stored incorrect file size in Iceberg metadata. ( e.g. #6539 ) Can you try the query with session property `iceberg.USE_FILE_SIZE_FROM_METADATA=false` ?

[2021-05-16 01:09] JoJoBizarreAdventure commented on #3387
@rclaude Could you show me the content about **MyPlugin**?

[2021-05-16 06:02] algoqueue opened #7931 "BUILD ERROR: : Command execution failed: (trino-server-rpm)"
**Java version:**
openjdk 14.0.2 2020-07-14
OpenJDK Runtime Environment (build 14.0.2+12-46)
OpenJDK 64-Bit Server VM (build 14.0.2+12-46, mixed mode, sharing)

** code: Latest pull (asof May 15, 2021) / master (https://github.com/trinodb/trino.git)  ***
**mvn install -DskipTests -pl '!:trino-docs'**

**Output:**
[code]

**This works**: mvn install -DskipTests -pl '!:trino-docs','!:trino-server-rp

[2021-05-16 10:44] JoJoBizarreAdventure commented on #3387
Now， it reports that
![image](https://user-images.githubusercontent.com/64888038/118394319-8c3aec00-b676-11eb-9232-8ade226faa08.png)
Could you please help me register the function which is defined in **CaseSensitivityRegression** ?
I check other Plugin in trino, but I don't really know what to do.

[2021-05-17 01:03] zhangchunyang1024 commented on #7658
@mosabua can i take it

[2021-05-17 08:39] zz0614 commented on #7440
how did you solve this problem?

[2021-05-17 09:27] #7898 closed

[2021-05-17 11:43] JoJoBizarreAdventure commented on #7502
@JasonRuckman I want to have a try fixing it. Thanks for your testcase.
Later I want to discuss the solution with you, would you like leave me a hand?

[2021-05-17 12:43] #7784 closed

[2021-05-17 12:58] ebyhr commented on #7815
[code]

#7784, #7869

[2021-05-17 13:00] #1609 closed

[2021-05-17 13:03] JoJoBizarreAdventure commented on #7502
It seems changing **long epochMicros = (long)value;** in **PartitionTable.java** to **long epochMicros = Long.parseLong(value.toString());** can solve this Exception.
But there is other errors **Object 'io.trino.spi.type.LongTimestampWithTimeZone@dc5ff71' does not match type long** as below
![vmware_cRFUVwIOhn](https://user-images.githubusercontent.com/64888038/118493007-3a1bc880-b753-11eb-8672-54

[2021-05-17 13:04] ebyhr commented on #7815
[code]

#1609, #6726

[2021-05-17 13:15] dixingxing0 commented on #7922
Thank you @phd3, `SET SESSION iceberg.use_file_size_from_metadata  = false;` works! and you are right, there is one parquet file's `fileSizeInBytes` was not incorrect.

[2021-05-17 13:17] #7922 closed

[2021-05-17 13:32] JoJoBizarreAdventure commented on #7502
![image](https://user-images.githubusercontent.com/64888038/118495935-42c1ce00-b756-11eb-8d88-4fe28270fd7a.png)
It seems that this javaType value is long, which is defined in **AbstractIntType.java**. It should be **LongTimestampWithTimeZone**.
I prefer to modify DateType.java and let it extends AbstractType and FixedWidthType just as AbstractIntType did and change the constructor to **super(signa

[2021-05-17 13:40] hashhar commented on #5825
@phd3 @dmgcodevil Can this be closed? I can see that #4932 addresses this and was merged.

[2021-05-17 16:55] findinpath commented on #4835
I am analyzing the code and found out so far:

- `io.trino.operator.scalar.ConcatFunction` which works for aggregating slices
- `io.trino.operator.aggregation.LongSumAggregation` which works for summing long values

For this feature I'd actually need an "aggregation function" which somehow combines the functionality of the previously evoked functions.
To be more precise, I'd need something like  `

[2021-05-17 17:59] martint commented on #4835
`array_agg` may be closer to what you need for this. Take a look at `ArrayAggregationFunction`

[2021-05-17 19:47] #5825 closed

[2021-05-17 19:57] yansun7 commented on #5172
In addition to the risk of losing driver stat, driver context clear up is also skipped in that case ([code](https://github.com/trinodb/trino/blob/582af461414448c0bda723e1f5b2c885b4071d1d/core/trino-main/src/main/java/io/trino/operator/PipelineContext.java#L178))
In my test, I've seen cases from heap dump where lots of DriverContext objects are not collected by GC in time due to this issue.

[2021-05-17 20:03] sopel39 commented on #5172
In my test, I've seen cases from heap dump where lots of DriverContext objects are not collected by GC in time due to this issue.

Would you be able to track the root cause of the issue?

[2021-05-17 20:33] yansun7 commented on #5172
For my case, it's because DriverContext#failed(..) is called before DriverContext#finished() when query is interrupted by exception ([code](https://github.com/trinodb/trino/blob/3267b918a78eedf91b8e29e06b5a4b218858bc10/core/trino-main/src/main/java/io/trino/operator/Driver.java#L458)), thus there's no chance PipelineContext#driverFinished() can be called to remove driverContext.

[2021-05-17 23:06] #7901 closed

[2021-05-17 23:45] electrum commented on #7901
Updated the CI to use JDK 16 in https://github.com/trinodb/trino/pull/7952

[2021-05-17 23:59] #7797 closed

[2021-05-18 00:02] martint commented on #7815
[code]

#7797

[2021-05-18 00:03] martint commented on #7815
[code]

#7863

[2021-05-18 00:40] anjalinorwood opened #7953 "Native Parquet Writer writes Parquet V2 files that are not yet adopted by other engines."
Native Parquet Writer that was introduced in presto-337 writes parquet files in v2 format. This format though supported by query engines like spark and table formats like Iceberg are not fully tested since there has not been a wide-spread adoption of v2 format. Newer features like iceberg vectorized read do not yet support v2.
Trino's hive connector has not yet switched over to the new parquet wri

[2021-05-18 01:31] martint commented on #7815
[code]

[2021-05-18 10:30] Hubert-Tiket opened #7958 "Trino select query slow"
Query stuck when using subquery on trino on large database (around 100m data), but it works fine on mysql or on smaller database.

Trino can't finish the query, stuck at 40-60% when executing the query

[code]

However, executing this query in mysql returns the result in 2-3 seconds and it also works on smaller database.

Another interesting problem was even if the `id1` was hardcoded like this

[

[2021-05-18 12:19] Praveen2112 commented on #7815
[code]
#7838

[2021-05-18 14:49] losipiuk commented on #7815
[code]
https://github.com/trinodb/trino/pull/7840

[2021-05-18 15:17] sopel39 commented on #7815
[code]
https://github.com/trinodb/trino/pull/7947

[2021-05-18 16:12] m57lyra opened #7963 "Docs feedback: Missing IF statement"
User was confused by the lack of IF statement in the IF explanation: "The syntax in IF seems to be showing CASE syntax and not for IF"

[2021-05-18 17:32] Damans227 commented on #7653
I have assigned this isseue to myself. Thanks!

[2021-05-18 17:43] m57lyra commented on #7963
PR https://github.com/trinodb/trino/pull/7962

[2021-05-18 18:47] amyma1 commented on #7854
Thanks!  @ebyhr can I begin working on this or should I wait for it to be assigned to me?

[2021-05-18 19:11] hashhar commented on #7854
@amyma1 go for it. Thanks for picking this up.

[2021-05-18 20:02] alec-heif opened #7964 "Allow running DESCRIBE OUTPUT without PREPARE"
It's quite useful to be able to quickly determine the output columns and types of a query without needing to evaluate it.

It seems that `DESCRIBE OUTPUT` is able to do this for a prepared statement, but this requires several back-to-back calls to prepare/describe/deallocate the query.

Would it be possible to add support for running `DESCRIBE OUTPUT` on any arbitrary query to quickly see the outp

[2021-05-19 00:28] rdblue commented on #7953
@electrum, is there a reason why Trino is writing Parquet v2 by default? My understanding is that the v2 spec wasn't ever finalized and v1 is the default. So although there are some interesting new encodings, it is fairly risky to write data as v2 because those were never really evaluated and marked for support in the format itself -- they're still experimental. I suggested some easier encodings t

[2021-05-19 00:40] martint commented on #7953
By v2 do you mean Data Page v2?

I don't think we support anything that's not specified here: https://github.com/apache/parquet-format/blob/master/src/main/thrift/parquet.thrift and https://github.com/apache/parquet-format. Is that not the official spec? Or are there experimental/unfinished features there we should be aware of (it's not clear which ones, if that's the case).

[2021-05-19 00:45] rdblue commented on #7953
There are a few features that are experimental:
* v2 data pages
* all of the delta encodings

There used to be a clear table on parquet-format, but that was removed a while ago so the docs are now confusing. I think the Parquet community had a thread on this recently to clean up the spec. I'll look into the status of it.

Is Trino producing just v2 pages or delta encodings as well?

[2021-05-19 04:02] jerryleooo opened #7968 "Enable dynamic filtering in JDBC connector"
Sometimes we need to join a history table(usually in a time-series database) with a fact table(usually can be queried via JDBC), so is it meaningful to add the dynamic filtering in JDBC connector or make it configurable?

- [x] https://github.com/trinodb/trino/issues/8045
- [ ] https://github.com/trinodb/trino/pull/8137

[2021-05-19 05:17] electrum commented on #7953
I actually know very little about Parquet. The new writer was contributed by @qqibrow. We do have integration tests for Iceberg where we write with Trino and read with Spark: https://github.com/trinodb/trino/blob/master/testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestSparkCompatibility.java

But I now see that test is fairly limited and doesn’t cover all data types, or

[2021-05-19 05:26] electrum commented on #7953
Can you see if changing this line fixes it? https://github.com/trinodb/trino/blob/master/lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetWriter.java

[2021-05-19 05:27] electrum commented on #7953
Can you see if changing this line fixes it? https://github.com/trinodb/trino/blob/39ebb43839c554469ee7dcde82199fa1db9352f6/lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetWriter.java#L92

[2021-05-19 11:46] hashhar opened #7972 "Improve test coverage for partitioned tables and partition system table in Iceberg"
Existing tests around partitioned tables only test some well known partition column values and they don't exercise the `$partition` system table.

Assertions should be added to verify that `$partition` system tables and the actual tables both return same values for partition columns.
Assertions should be added for special partition column values like `NaN`, long and short decimals, NULL values etc

[2021-05-19 14:13] raftAtGit opened #7976 "Chained view performance"
In this [stackoverflow answer](https://stackoverflow.com/a/56679790/3134813), it's mentioned that:

Does this also apply to chained views? I mean views backed by other view(s) which in turn backed by other view(s).

In this case, is the view replaced with its defining queries down to top level?

[2021-05-19 16:34] rdblue commented on #7953
@anjalinorwood worked on the fix for us, so I'll defer to her on what we need to do to fix it.

[2021-05-19 16:42] rdblue commented on #7953
I'd recommend using some of the test cases from Iceberg for schema evolution and types:
* https://github.com/apache/iceberg/blob/master/spark/src/test/java/org/apache/iceberg/spark/source/TestReadProjection.java
* https://github.com/apache/iceberg/blob/master/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTest.java
* https://github.com/apache/iceberg/blob/master/spark/src/test/java/org/

[2021-05-19 16:56] anjalinorwood commented on #7953
No, that alone is not enough. The page header is written in V2 format here:
https://github.com/trinodb/trino/blob/master/lib/trino-parquet/src/main/java/io/trino/parquet/writer/PrimitiveColumnWriter.java#L220

Once I fixed that, I found that in general v2 format is a bit different from v1 format and those two changes are not enough. One will need to go through the spec for v1 and v2 and make sure

[2021-05-19 17:11] mosabua commented on #7658
Sure .. go for it.

[2021-05-19 17:49] #7663 closed

[2021-05-19 18:09] electrum commented on #7815
[code]
#7632

[2021-05-20 08:11] findinpath commented on #4835
I have a very early  draft for this functionality in this PR

https://github.com/trinodb/trino/pull/7992

I am a bit stuck though because of the following reasons:

In the following sample SQL query:

[code]

can be observed that the `LISTAGG` function call  takes a few more parameters than the normal Trino SQL function calls.

Now I could tweak the method `io.trino.sql.analyzer.ExpressionAnalyzer

[2021-05-20 08:35] kokosing commented on #7815
[code]
 #7936

[2021-05-20 13:10] Praveen2112 commented on #7738
Fixed by #7745

[2021-05-20 13:10] #7738 closed

[2021-05-20 14:09] JoJoBizarreAdventure opened #7999 "NullPointerException In Iceberg when joining a partitioned table with nested fields"
The error message is as follow
`at io.trino.cost.CachingStatsProvider.getStats(CachingStatsProvider.java:80)
	at io.trino.cost.CostCalculatorUsingExchanges$CostEstimator.getStats(CostCalculatorUsingExchanges.java:358)
	at io.trino.cost.CostCalculatorUsingExchanges$CostEstimator.visitTableScan(CostCalculatorUsingExchanges.java:150)
	at io.trino.cost.CostCalculatorUsingExchanges$CostEstimator.visitT

[2021-05-20 14:24] hashhar commented on #7976
View definitions are recursively expanded to the base table.
You can verify this by running an `EXPLAIN` on the  query.

As far as performance is concerned the planning might take more time as the depth of the chain increases because Trino needs to talk to the Hive metastore for getting the view definitions and it cannot fetch the next definition until  the current one is resolved. However it shou

[2021-05-20 14:24] #7976 closed

[2021-05-20 15:14] hashhar commented on #7502
@JoJoBizarreAdventure The issue can be "fixed" by implementing a case for `DateType` in `PartitionTable#convert`.
The partition field is of type `long` (`TimestampType`) but the actual value is the value after applying the transform which is `int` (`DateType`). There is no branch for `DateType` in the `PartitionTable#convert` method.

@phd3 @electrum Longer term we should fix this by introducing a

[2021-05-20 15:16] hashhar commented on #7999
The cause is detailed in https://github.com/trinodb/trino/issues/7502#issuecomment-845210600.

FYI Piotr this is `PartitionTable#convert` striking again. 😞

[2021-05-20 15:30] hashhar commented on #7958
@Hubert-Tiket `OR` predicate pushdown isn't implemented in the engine yet. Can you try with a query that doesn't use an `OR` predicate?

Feel free to continue the conversation on our [Slack](https://trino.io/slack.html) or re-open the issue if you prefer here.

[2021-05-20 15:30] #7958 closed

[2021-05-20 15:34] hashhar commented on #7931
Can you share the full error message? It should be present earlier in the logs.
Also please try with a `./mvwn clean` before as well (or `./mvnw clean install -DskipTests -pl '!:trino-docs'`).

Feel free to join our [Slack](https://trino.io/slack.html) and continue the conversation there. There are more people there who might see this and be able to help you out.
Closing here since it's not an iss

[2021-05-20 15:34] #7931 closed

[2021-05-20 16:14] #7097 closed

[2021-05-20 16:29] hashhar commented on #7815
[code]

#7915, #7097

[2021-05-20 17:22] electrum commented on #7895
This config seems to turn off all linting. It should actually be `all,-missing` which requires
https://github.com/airlift/airbase/pull/263

[2021-05-20 17:24] devadathprabhu commented on #7369
Hey @kokosing, is this issue still up for grabs?

[2021-05-20 17:32] electrum commented on #7953
@anjalinorwood makes sense. Is this something you're working on?

When you say "go through the spec", is there something other than [this one](https://github.com/apache/parquet-format)? The only mention I can find of v1 or v2 is a few references in the [thrift definition](https://github.com/apache/parquet-format/blob/master/src/main/thrift/parquet.thrift) and a couple mentions of "Parquet 2.0" on

[2021-05-20 17:40] shawnzhu opened #8003 "Clarify the where to keep event-listener.properties"
## Now

Basic on [Event Listener configuration](https://trino.io/docs/356/develop/event-listener.html#configuration), it only says `etc/event-listener.properties` is required but didn't make it clear on either coordinator or worker or both.

## Feedback

Out of [this thread](https://trinodb.slack.com/archives/CP1MUNEUX/p1621531224049500), @Praveen2112 suggested that:

## Suggestion

It should docu

[2021-05-20 19:26] kokosing commented on #7369
Yes.

[2021-05-20 19:55] findepi commented on #8003
is it true that `splitCompleted` is fired on a worker?

[2021-05-20 22:58] electrum commented on #7815
[code]
#8007

[2021-05-21 01:02] francoisfernando opened #8010 "Does join pushdown work on PostgreSQL connector?"
I'm trying to enable join pushdown on trino release 356 docker container as below:

[code]

But checking the container startup log it looks like this doesn't have any effect.

[code]

[2021-05-21 01:02] francoisfernando commented on #8010
Was checking the wrong column.

[2021-05-21 01:02] #8010 closed

[2021-05-21 01:08] xwzpp opened #8011 "Question about current_timestamp function"
Currently, the Druid connector is used to connect the Druid cluster. During the query, the time in the Druid is stored in UTC time, and the current_timestamp in the SQL statement is calculated by presto. The local time zone is used. Is the current_timestamp calculated as the UTC time configured?

[2021-05-21 04:12] tuppimax commented on #7580
@bitsondatadev @phd3 when you say "there may be some support for reading partition evolved tables" are there any known issues with reading partition evolved tables ? I would be happy help out.

We use Trino only reads while all the writes happen through Spark. Trying to understand the gaps which affect our use case.

Thanks in advance

[2021-05-21 04:56] kokosing commented on #7581
Can you please explain me how this mapping works? I don't see currently anything in `GlueHiveMetastore` that could use `HiveIdentity`.  It looks like Glue client is created once with credentials from `hive.metastore.glue.*` properties. Do you use different metastore implementation or are you will to change `GlueHiveMetastore` in the next step?

If you a parameter that is not currently used, then I

[2021-05-21 07:40] findepi commented on #4231
With 356

[code]

cc @kasiafi

[2021-05-21 07:40] #4231 closed

[2021-05-21 08:18] JoJoBizarreAdventure commented on #7502
Ok I will have a try

[2021-05-21 08:19] JoJoBizarreAdventure commented on #7502
Ok I will have a try

[2021-05-21 08:29] findepi commented on #7369
I think there is no "one size fits all" here.
In some cases "not allowed" is the right wording and sometimes "not supported" is better.

[2021-05-21 08:42] findepi commented on #7953
Is this related to #6377 ?

[2021-05-21 09:05] takezoe commented on #6200
I got the same error even on the latest Trino which is 356. The simplest queries to reproduce are:

[code]
As far as I investigated, this error started to happen from this commit: https://github.com/trinodb/trino/commit/edb4b8b12a01d4b5ecad3395b87bc92daa829902

[2021-05-21 09:22] findepi commented on #6200
@takezoe awesome repro step! i confirm `SELECT null GROUP BY 1, 1;` fails on 356.

note however that this fails in `QueryPlanner` while original stacktrace was for `PushProjectionIntoTableScan` rule
therefore, @takezoe can you please file a separate issue for this?

[2021-05-21 09:53] #7113 closed

[2021-05-21 14:18] songgane opened #8021 "multiple ldap.user-bind-pattern values do not work as intended"
Trino LDAP authentication documents are described as shown below.

But multiple ldap.user-bind-pattern values do not work as intended.

Only the first user-bind-pattern value tries to authenticate.

[2021-05-21 14:23] takezoe commented on #6200
@findepi Oh, I see. I will file a new one.

[2021-05-21 14:25] #8021 closed

[2021-05-21 15:07] prabhacloud opened #8024 "README.txt is pointing to prestosql.io where as it should be trino.io"
Latest Trino version downloaded from here https://www.starburst.io/platform/starburst-enterprise/download/ has old website instead of trino.io
Version presto-server-350-e.7

[2021-05-21 15:18] prabhacloud commented on #8011
@xwzpp What timezone you see when you run `select current_timezone` as in https://trino.io/docs/current/functions/datetime.html#current_timezone and what configuration change you did? Similar to https://github.com/trinodb/trino/issues/7403 ?

[2021-05-21 16:22] takezoe opened #8027 "'Multiple entries with same key' error on duplicated grouping on literal value"
The following queries fail with 'Multiple entries with same key' error on Trino 356.

[code]

Full stacktrace:
[code]

As far as I investigated, this error started to happen from this commit: https://github.com/trinodb/trino/commit/edb4b8b12a01d4b5ecad3395b87bc92daa829902, but I'm not yet sure what actually causes this issue.

[2021-05-21 16:22] takezoe commented on #6200
Filed https://github.com/trinodb/trino/issues/8027

[2021-05-21 17:41] devadathprabhu commented on #7369
@findepi I second your thoughts. How do we go ahead with this issue in that case?

[2021-05-21 18:23] findepi commented on #8024
Thanks @prabhacloud for letting us know.
Since this seems to be Starburst's issue, and not really Trino project's let me close this.

@mosabua @joshthoward can you please take care of fixing this?

@prabhacloud thanks again!

[2021-05-21 18:23] #8024 closed

[2021-05-21 19:10] mosabua commented on #8024
We are working on a fix. Thank you for reporting.

[2021-05-21 19:41] losipiuk commented on #7815
[code]
 #8017

**STILL IN FLIGHT**
cc: @martint

[2021-05-21 20:35] m57lyra opened #8029 "Document the query.info-url-template configuration property"
Allow redirecting clients to an alternative location to fetch query information. This can be configured via the query.info-url-template configuration property. (#7678)

[2021-05-21 20:38] m57lyra opened #8030 "Create docs for materialized views"
See #7707: https://github.com/trinodb/trino/pull/7707#issuecomment-829157122

[2021-05-21 20:42] m57lyra opened #8032 "Document BigQuery CREATE/DROP SCHEMA support"
Add support for CREATE SCHEMA and DROP SCHEMA statements. (#7543)

[2021-05-21 20:44] m57lyra opened #8033 "Document Azure ADLS proxy"
Add support for connection proxying for Azure ADLS endpoints. (#7509)

[2021-05-21 20:46] m57lyra opened #8034 "Document TLS support in kafka connector"
Add support for TLS security protocol. (#6929)

[2021-05-21 20:48] m57lyra opened #8035 "Document updated Postgres requirements"
Discontinue support for PostgreSQL 9.5, which has reached end of life. (#7676)

[2021-05-21 20:49] m57lyra opened #8036 "Document READ_COMMITTED_SNAPSHOT session"
Fix query failure when snapshot isolation is disabled in target SQL Server database, but READ_COMMITTED_SNAPSHOT is still enabled. (#7548)

[2021-05-21 21:07] m57lyra opened #8038 "Document ConnectorMaterializedViewDefinition"
355: Engine now uses ConnectorMaterializedViewDefinition#storageTable to determine materialized view storage table. (#7319)
356: Require that ConnectorMaterializedViewDefinition provides a view owner. (#7489)

[2021-05-21 21:08] m57lyra opened #8039 "Document Connector#getMaterializedViewProperties"
Add Connector#getMaterializedViewProperties for specifying materialized view properties. (#7615)

[2021-05-21 21:45] #7815 closed

[2021-05-21 21:49] martint opened #8040 "Release notes for 358"
## Ashhar Hasan
- [x] all checked
-  05-25 03:27:38    4439367a1a Allow skipping results verification with and without pushdown
-  05-25 03:27:38    a4babfa4bb Fix typo
## Dain Sundstrom
- [x] all checked
-  05-25 16:02:55    22ebcf7e61 Fix ldap.user-bind-dn and ldap.user-bind-pattern test fail case
-  05-25 16:02:55    45f8cb4b7e Supports authentication using multiple ldap.user-bind-pattern value

[2021-05-22 07:19] phd3 commented on #7580
@tuppimax Currently, there isn’t test coverage around tables with partition spec evolution, so adding them would give us confidence on the read support. However, Trino uses iceberg library itself to generate splits based on provided filters, so it should already be partition spec aware. In addition, partition pruning optimization and delete operation requires that the filters match entire partitio

[2021-05-22 07:36] phd3 commented on #7580
The tests would need to use Spark to evolve the spec (See `io.trino.tests.iceberg.TestSparkCompatibility`), since Trino doesn’t have support right now. IIRC the spec evolution syntax requires iceberg-spark3-runtime version 0.11.0, if so we need another release of [trinodb/docker-images](https://github.com/trinodb/docker-images) to have that.

[2021-05-22 13:44] AshwinC137 commented on #7854
@ebyhr , @hashhar can I look into this issue? I am a newbie but I think I can help.

[2021-05-22 18:37] findepi commented on #8040
[code]

@takezoe did i get this right?

https://github.com/trinodb/trino/pull/7723

[2021-05-23 15:41] jerryleooo opened #8045 "Implement dynamic filtering for ConnectorRecordSetProvider"
See discussions [here](https://trinodb.slack.com/archives/CP1MUNEUX/p1621478550023800)

[2021-05-24 07:23] zinking commented on #4645
I do hope irrelavant ( or stuffs we know will fail such as docker in mac) modules are excluded from the build command to make the build process pass quick and efficiently.

in this case the command didn't work either as modules are renamed ?

[2021-05-24 07:23] gilbob20000 opened #8050 "Trino with elastic : how to search nested objects?"
I'm new to trino and I'm trying to use it to query nested objects in elastic search.

This is my mapping in elasticsearch:

{
"product_index": {
   "mappings": {
      "properties" :{
          "id" : { "type" : "keyword"},
          "name" { "type" : "keyword"},
          "linked_products" :{
               "type": "nested",
               "properties" :{
                   "id" : { "type" : "key

[2021-05-24 07:27] findepi commented on #4645
@zinking yes, modules got renamed early this year. For current quick build command please refer to https://gist.github.com/findepi/04c96f0f60dcc95329f569bb0c44a0cd which i try to keep up to date.
Currently this is:

[2021-05-24 08:25] findepi commented on #8036
@m57lyra i believe this is already fixed.

[2021-05-24 08:25] #8036 closed

[2021-05-24 08:25] findepi commented on #8036
In any case, it's not just "docs" issue. Please reopen when you see it again.

[2021-05-24 08:42] kokosing commented on #7369
Please open a pull request and we will do a review of the places, so we collectively can decide where to use what.

Please try to capture in the pull request or in this issue a list of all the places and what and why will be used.

[2021-05-24 09:12] findepi commented on #8027
cc @kasiafi

[2021-05-24 10:32] JonathanBennett commented on #8050
I tested using the solution from this issue (https://github.com/trinodb/trino/issues/2441) which is documented here https://trino.io/docs/current/connector/elasticsearch.html#array-types and this worked for me!

[2021-05-24 11:16] raunaqmorarka opened #8054 "Add BaseConnectorTest coverage for materialized views"

[2021-05-24 11:32] sopel39 commented on #8038
Do we want to document SPI methods?

[2021-05-24 11:38] findepi commented on #8038
@sopel39 https://trino.io/docs/current/develop.html

[2021-05-24 12:27] raunaqmorarka commented on #8038
https://trino.io/docs/current/develop/connectors.html#connectormetadata
[code]
To document ConnectorMaterializedViewDefinition, we would need to start documenting ConnectorMetadata to provide the relevant context.

[2021-05-24 16:21] chrlso commented on #7581
We use a custom metastore implementation which acts similar to the ThriftHiveMetastore and the ThrifthiveMetastoreClient which will create the client during a call to the metastore. We keep a cached client so that we can reuse it when we see the same HiveIdentity. This allows us to pass in the proper credentials for the new Identity.

I see that Trino currently passes the HiveIdentity to the metas

[2021-05-24 20:05] electrum opened #8061 "Flaky TestSqlServerWithoutSnapshotIsolation"
[code]

from https://github.com/trinodb/trino/runs/2652292179

[2021-05-24 23:51] takezoe commented on #8027
I confirmed that https://github.com/trinodb/trino/pull/8023 solves this issue. Thank you @martint!

[2021-05-25 00:04] #8027 closed

[2021-05-25 00:08] martint commented on #8040
[code]

https://github.com/trinodb/trino/pull/8023

[2021-05-25 03:44] chenjian2664 commented on #8061
@electrum Is it similar to https://github.com/microsoft/mssql-docker/issues/344 ?

[2021-05-25 05:01] gilbob20000 commented on #8050
Hi Jonathan
Can you please send the additional elastic mapping and the query syntax that you used?
Thank you very much!

[2021-05-25 07:57] kokosing commented on #7581
IIRC that was a deliberate choice. If we don't pass identity here can cache same information between users, so other users don't need to call these if caching is enabled. Also as far I remember we were thinking that it is ok as we can filter schemas and tables with sql-access control later.

CC: @findepi @electrum @losipiuk Do you recall more reasons?

At them moment I am no longer convinced that

[2021-05-25 08:20] kokosing opened #8063 "TestTestingPostgreSqlServer is flaky"
Last run https://github.com/trinodb/trino/runs/2659694804 was 1 fail out of 50, but it was not SQL Server:

[code]

cc @kokosing

(i intentionally retained original CI task configuration, including other modules)

[2021-05-25 09:44] findepi commented on #8061
https://github.com/trinodb/trino/pull/8051

[2021-05-25 09:44] #8061 closed

[2021-05-25 09:59] findepi commented on #7581
Impersonation is not used not only for listing databases. (BTW do we know of a case where HMS returns different responses for different users?)

Impersonation is _also_ skipped when managing roles and grants.
While I can imagine a situation when impersonation is desired for managing roles and grants,
i can also imagine situation when it's not desired (as currently implemented).

In any case, any b

[2021-05-25 10:08] kokosing commented on #7581
I would prefer not to change this at the moment.

[2021-05-25 12:14] vinay-kl opened #8067 "Trino 356 : Deletion of partitions is not happening"
The partitions are not getting dropped when the delete query matches the partition referenced from a subquery.

[code]

[code]

[code]

[code]

[code]

[code]

[2021-05-25 12:25] vinay-kl commented on #8067
also facing one more error case when tried to delete partitions from referencing the values selected from a different table in a subquery

[code]

[2021-05-25 12:34] hashhar commented on #8067
@vinay-kl Instead of the last query `trino> select * from pso_test."par_and_buck_by1$partitions";` which lists partitions can you check if the data was deleted via `trino> select * from pso_test.par_and_buck_by1`?

[2021-05-25 13:35] ebyhr commented on #4684
Confirmed this issue doesn't happen in version 357. We can close after adding a test.

[2021-05-25 13:56] findepi commented on #5758
@wendigo pointed out we're not observing this recently

On GHA we use Azul 11.0.11 now. This is not the same version we used couple months before (i didn't note it down, but i think we were observing failures with 11.0.9).

"Azul `11.0.11+9`" release notes (https://docs.azul.com/core/zulu-openjdk/release-notes/april-2021/pdf/zulu11.48-release-notes-ca-linux-aarch64-rev1.0.pdf)
are long, but this c

[2021-05-25 14:25] findepi commented on #8067
@vinay-kl thanks for reporting this! can you please open a separate issue for that bug?

[2021-05-25 16:10] vinay-kl commented on #8067
yes @hashhar indeed the data was deleted, checked the directory listing as well, delete delta is being created instead of drop call to HMS.

[2021-05-25 16:11] vinay-kl commented on #8067
sure @findepi.

[2021-05-25 16:16] vinay-kl opened #8070 "Trino 356: Deleting partitions issue when values are referenced from subquery"
The partitions are not getting dropped when the delete query matches the entire partitions either with values or using in clause

[code]

[code]

[code]

[code]

[code]

[2021-05-25 17:48] electrum commented on #8067
If you run the same `DELETE` command in Hive, does it also remove the partitions?

We explicitly changed the behavior of `DELETE` for transactional tables in #7621 to always do a row-by-row delete, rather than dropping the partitions. This is because dropping a partition is not transactional and would break ACID semantics for concurrent readers.

This leaves open the question of how to drop partit

[2021-05-25 18:00] electrum commented on #8067
I realized we missed this in the release notes: https://github.com/trinodb/trino/pull/8072

[2021-05-25 18:11] electrum commented on #8070
Did this work in previous releases?

[2021-05-25 18:18] vinay-kl commented on #8070
@electrum the first two queries from the following works in `347`

[code]

[2021-05-25 18:40] vinay-kl commented on #8067
@electrum `hive command does not drop partitions even when it matches the whole`.

we wanted to overwrite the existing partitions but as trino errors out with `DIRECT_TO_TARGET_EXISTING_DIRECTORY` when used on non-HDFS and we are using Azure Gen2.

so we thought we'd remove partitions before we can re-insert by setting `default insert as overwrite` and there'd be no need to perform compaction late

[2021-05-25 20:03] kokosing opened #8073 "Flaky test TestClickHouseConnectorTest.testLargeIn"
[code]

[2021-05-25 20:38] mosabua opened #8074 "Document system architecture support"
https://github.com/trinodb/trino/blob/master/core/trino-main/src/main/java/io/trino/server/TrinoSystemRequirements.java#L74

These are supported "amd64", "aarch64", "ppc64le"

so that means you can use x86 as well as Arm and PowerPC processors theoretically. Practically I am only aware of x86 and Arm (Graviton) working

[2021-05-25 20:41] mosabua commented on #8074
Probably should be added here https://trino.io/docs/current/installation/deployment.html#linux-operating-system or as separate item

[2021-05-25 20:48] #5372 closed

[2021-05-25 21:09] sopel39 commented on #8070
cc @kasiafi @martint

[2021-05-25 23:04] dain commented on #8040
[code]
#8022

[2021-05-26 09:00] sopel39 commented on #8040
[code]
https://github.com/trinodb/trino/pull/8077

[2021-05-26 09:39] lukasz-walkiewicz commented on #6223
Fixed in: https://github.com/trinodb/trino/pull/7951

[2021-05-26 09:39] #6223 closed

[2021-05-26 09:47] lukasz-walkiewicz commented on #7148
It shouldn't be a problem anymore as after: https://github.com/trinodb/trino/pull/7951 the port for Trino server is generated as everywhere else.

[2021-05-26 09:47] #7148 closed

[2021-05-26 11:39] xwzpp commented on #8011
![image](https://user-images.githubusercontent.com/7036549/119653264-b4d29b00-be59-11eb-97e9-975f343cbcdd.png)
![image](https://user-images.githubusercontent.com/7036549/119653275-b7cd8b80-be59-11eb-8fec-17e42b596130.png)
The current timezone is +08:00, so when querying the druid, I need to manually subtract 8 hours through current_timestamp. Is there any configuration to adjust it ?

[2021-05-26 11:44] kasiafi opened #8080 "Aggregation with duplicate expressions in ORDER BY causes "Multiple entries with same key""
`SELECT count(x ORDER BY y, y) FROM (VALUES ('a', 2)) t(x, y)`

fails in `QueryPlanner.translateOrderingScheme`, because both `y` are assigned the same symbol, which causes collision in Map builder.

[code]

[2021-05-26 15:10] martint commented on #8011
Can you provide some more information:

* What query are you running
* What is the schema of the table in druid
* What is the schema as seen by Trino (i.e., the output of DESCRIBE)?

[2021-05-26 19:07] lukasz-walkiewicz commented on #7879
Sorry for the delay @mapshen. I'm not sure I understand the question but you could try using the default authorization server, ie. try the configuration from: `https://<example>.okta.com/oauth2/default/.well-known/oauth-authorization-server`.

[2021-05-26 19:49] MusKaya opened #8091 "Support Redis TLS configuration"
Similar to how some other connectors support TLS configuration, it would be great to have the same support for the Redis connector

More on securing Redis connection: https://redis.io/topics/encryption

[2021-05-26 19:52] MusKaya commented on #8091
@ebyhr fyi

[2021-05-26 20:25] findepi commented on #8040
[code]

https://github.com/trinodb/trino/pull/8026

[2021-05-26 20:34] lhofhansl opened #8093 "ORDER BY pushdown into connectors"
We should support pushing down ORDER BY into connectors (such as JDBC, etc), and only do a streaming merge sort in Trino.

The use case I have in mind is reading data from (say) a Phoenix table along an index, the client would like to get streaming results, i.e. start reading from the resultset without the entire sort being materialized in Trino.
If Trino can push ORDER BY to a connector and that

[2021-05-26 21:50] songgane opened #8096 "Support multilingual encoding in property files"
Trino supports LDAP by external password authentication method.

However if ldap.user-bind-pattern value of the LDAP configuration file is not an English value, there is a bug that can not be read properly.

Trino is used in various countries and support external authentications. So multilingual encoding support is required.

ex)
configuration value : ldap.user-bind-pattern=OU=사용자,DC=example,DC=co

[2021-05-26 21:56] songgane commented on #8096
I posted a Trino PR on this issue. At the request of @kokosing , I re-posted a PR(https://github.com/airlift/airlift/pull/921) to airlift.

[2021-05-27 01:51] chenjian2664 commented on #7502
@hashhar @JoJoBizarreAdventure I think here is no need to add a branch for `DateType`, cuz `PartitionTable#convert` should remember the original type mapping to Trino, which is `TimestampType` not the `DateType`.
It's true that Iceberg finally store the value as `DateType`, but we need to remember Trino type here.

I think the problem is that Iceberg should not use their storage type to infer that

[2021-05-27 04:02] yangliang9004 opened #8098 "Add Apache Ignite connector"
Apache Ignite is a distributed database for high-performance computing with in-memory speed.

Ignite play an important role in our platform, it is powerful.

Do you consider developing trino-ignite ?

website:   https://ignite.apache.org/

[2021-05-27 04:04] chenjian2664 commented on #7999
I think here is because while collecting Iceberg `Type.PrimitiveType` we missing the `Type.PrimitiveType` here.

I am interested in this can take this @JoJoBizarreAdventure @hashhar , also the same https://github.com/trinodb/trino/issues/7502

[2021-05-27 04:09] guhanjie commented on #1141
Recently, we are doing the plan cache work on presto, also.
We also met the same problem, that's the time function(eg now(), current_timestamp,...) on SQL.
We tried to change such functions to deterministic = false, to avoid ExpressionRewrite to constant, and i also requested the [issue](https://github.com/prestodb/presto/issues/15897).
but this does not work in some situation, because the express

[2021-05-27 05:30] zinking commented on #4645
could this be integrated back to Trino main branch, I do believe contributors shouldn't build irrelevant modules when they are developing features and REPL the code. those are usually done after things are finalized, so there should be build aliases to facilitate the development cycle

[2021-05-27 07:27] #8080 closed

[2021-05-27 07:49] kokosing commented on #8098
I am not aware of anyone working on this. However, we are open for any contributions like this and I would be happy to give it a review.

[2021-05-27 09:36] findepi commented on #4645
@zinking we're getting slightly off-topic from the original issue. i suggest we take this question to the #dev slack channel

[2021-05-27 10:32] findepi commented on #8096
@songgane did you try using Properties file unicode escapes for your value?
see eg https://stackoverflow.com/questions/6230190/convert-international-string-to-u-codes-in-java

[2021-05-27 10:41] findepi commented on #8070
cc @djsstarburst

[2021-05-27 10:44] findepi commented on #8073
cc @wgzhao

[2021-05-27 10:44] findepi commented on #8073
@kokosing would it make sense to pull clickhouse module as a separate job because of this?

[2021-05-27 11:09] kokosing commented on #8073
Not sure how frequent is this, so I prefer to delay any actions to see how severe it is.

[2021-05-27 11:46] yangliang9004 commented on #8098
Good ! I am glad to hava a try.

[2021-05-27 12:11] findepi commented on #8040
[code]

#8094

[2021-05-27 12:13] findepi commented on #8040
[code]

#8095

[2021-05-27 12:58] songgane commented on #8096
@findepi Thank you. After converting values using native2ascii, I confirmed that the multilingual value in the property file was correctly read.
But I also think it is a good alternative to help reading multilingual encoding values in properties files without a separate conversion process.

[2021-05-27 14:30] djsstarburst commented on #8070
`BeginTableWrite.findTableScan` and `BeginTableWrite.rewriteModifyTableScan` have an intrinsic problem: they think that there are only a few kinds of nodes between the top-level `DeleteNode` or `UpdateNode` and the `TableScanNode`.

The TableScanNode that is the target of the update or delete is marked by boolean updateTarget, set only in the TableScanNode that is the target.  So it's possible to

[2021-05-27 14:46] mapshen commented on #7879
No worries! I got it working a couple of weeks ago using the default authorization server. Sarcastically, the default authorization server was not available to us by default. Had to have our Okta admin reach out to Okta to get it...

On a side note, do you think Oauth is suitable for programmatic access? Say when you run an app on a server where no browser is available, I am not sure how to get th

[2021-05-27 16:53] electrum commented on #8070
@vinay-kl Thanks for the reproduction steps. I think I understand what is happening here -- the planner is not creating a `SemiJoin` -- but I'm not able to reproduce it. Can you share the schema of `pso_test.par_and_buck_by_ext` by doing `SHOW CREATE TABLE`? Also, can you show all of your session properties with `SHOW SESSION`? I'm wondering if you have config that is affecting the planner / optim

[2021-05-27 16:55] electrum commented on #8070
We have handling for `SemiJoin` that should prevent having an exchange in the middle: https://github.com/trinodb/trino/blob/685cc4e242d77800f192ac5613aae4b15f0a3c66/core/trino-main/src/main/java/io/trino/sql/planner/optimizations/ReplicateSemiJoinInDelete.java#L72-L73

[2021-05-27 17:10] vinay-kl commented on #8070
@electrum the details you asked for
[code]

[code]

[2021-05-27 17:13] electrum commented on #8070
@vinay-kl Thanks. Which of the Hive catalogs are you running this against (in case the session properties are different)?

[2021-05-27 17:22] electrum commented on #8067
Do you mean when you run `INSERT OVERWRITE` in Hive against a transactional table? If so, then it sounds like we could do that as well when using `insert_existing_partitions_behavior=OVERWRITE` in Trino.

Could you file a new issue for this, with an example of what you run in Hive and what the directory looks like before/after the overwrite? Hive transactional behavior is not documented, so we hav

[2021-05-27 17:27] electrum commented on #8067
For the issue of restoring the old "drop partition" behavior when running `DELETE` on transactional tables, we could add a config+session property to the Hive connector. It would go in `applyDelete()` to return `Optional.of(handle)` when set: https://github.com/trinodb/trino/commit/a9478d091d4a6519e3befddd86fcc1022c691a03

[2021-05-27 17:29] electrum commented on #8067
@vinay-kl Regarding your use case, do you actually need transactional tables? Do you ever do row level deletes or take advantage of the ACID semantics? If not, then making the tables non-transactional should solve your problem.

[2021-05-27 17:41] mosabua commented on #7658
Sorry... I found a bug with the docs there and needed to fix that.

[2021-05-27 19:11] afilimonov opened #8110 "Support setting Kafka consumer group ID"
It appears there is no way to set Kafka consumer group ID in the Kafka Connector. Seems like the group.id is set to null.

[code]

[2021-05-27 19:26] kokosing commented on #7879
The problem is solved. Let me close the issue then.

[2021-05-27 19:26] #7879 closed

[2021-05-27 19:39] findinpath commented on #8035
I think this one can be closed as it has been done already by @mosabua  in https://github.com/trinodb/trino/blob/master/docs/src/main/sphinx/connector/postgresql.rst#requirements

[2021-05-27 19:40] mosabua commented on #8035
Yes... correct. Thanks for noticing @findinpath

[2021-05-27 19:40] #8035 closed

[2021-05-27 20:00] martint opened #8111 "Remove type-only coercions"
It's not clear that the notion of type-only coercions provides much benefit, and it carries a big burden in the planner and optimizer. We should consider and evaluate removing that concept from the planner.

The implementation of a type-only coercion is typically an identity function, which the JIT compiler should be able to inline and eliminate. The only cases where they might matter are for comp

[2021-05-27 20:05] findinpath opened #8112 "Set default time zone for current session"
[code]

<img width="1231" alt="set_time_zone_specification" src="https://user-images.githubusercontent.com/57260417/119889883-6bf11400-bf37-11eb-84c8-850f5d3c6dbe.png">

[2021-05-27 20:08] findinpath commented on #8112
Reference implementations:
- `io.trino.execution.UseTask`
- `io.trino.execution.SetSessionTask`
- `io.trino.execution.SetPathTask`

[2021-05-27 20:08] sopel39 commented on #8111
I guess such change should be benchmarked.

[2021-05-28 01:56] afilimonov commented on #8110
Am I missing something here? I would be surprised that such a basic feature like defining consumer group id is not supported by the Kafka plugin.

[2021-05-28 02:58] hashhar commented on #8110
The Kafka connector doesn't need to commit offsets and handles the distribution of messages across workers itself (by splitting each topic-partition into a groups of offset ranges). So there's no reason to use a consumer group.

In case you want this for setting quotas or tracking usage on Kafka there is an issue open for setting `client.id` which is what's recommended. See #7633.

[2021-05-28 03:15] lucasaytt opened #8114 "trino spi moudle mvn install error"
![image](https://user-images.githubusercontent.com/42641861/119924309-ebb5c780-bfa5-11eb-9c78-60fa750a79f7.png)
****

[2021-05-28 05:41] vinay-kl commented on #8067
thanks, @electrum and yes we'd be going ahead with an external table approach instead for daily overwrite workloads.

[2021-05-28 05:42] vinay-kl commented on #8067
sure @electrum will create another case with detailed info, thanks..!

[2021-05-28 06:04] vinay-kl commented on #8070
@electrum it's happening with `hiveqa` only.

[2021-05-28 07:06] findepi commented on #8112
Protocol-wise, introducing a new header for `SET TIME ZONE` will mean that clients need to be updated to support that.
OTOH, we already have `Trino-Time-Zone` header, which client use to send time zone information to the server.

Technically possible options

- introduce `Trino-Set-Time-Zone` header for conveying response from `SET TIME ZONE` back to the client.
   - this should come with `Trino-C

[2021-05-28 07:11] findinpath commented on #8112
Linked issue for the `sql.forced-session-time-zone` setting: #1164

[2021-05-28 12:49] #6376 closed

[2021-05-28 13:25] afilimonov commented on #8110
Our Kafka environment uses ACLs with prefixed group ids therefore we need to set consumer group. In this case perhaps Trino is not a right tool for us at least not for querying Kafka data.

[2021-05-28 13:51] jirassimok commented on #2287
This is already a feature of `from_iso8601_date` and `from_iso8601_timestamp`, thanks to Joda [allowing](https://www.joda.org/joda-time/cal_iso.html) all 3 ISO 8601 formats.

[2021-05-28 14:21] jirassimok opened #8124 "from_iso8601_timestamp_nanos is not consistent with from_iso8601_timestamp or its own docs"
The behavior of `from_iso8601_timestamp_nanos` differs both from its documentation and the related `from_iso8601_timestamp`.

`from_iso8601_timestamp_nanos`...
- requires the time component (contrary to its documentation)
- does not support ordinal (day-of-year) and week (-of-year) formats (`'2021-148T00:00'`, `'2021-W21-5T00:00'`)
- does support political time zones (not in ISO 8601)
  - and can

[2021-05-28 15:15] afilimonov commented on #8110
Unfortunately this is a fully managed Kafka environment we don't have much control over ACL policies. We are not giving up yet thanks for the suggestion.

[2021-05-28 15:52] devadathprabhu commented on #7369
@kokosing sure, I will raise the PR and we shall tune it further. Could you please assign the issue to me?

[2021-05-28 16:10] raunaqmorarka opened #8128 "Add tests for MVs via java.sql.DatabaseMetadata"

[2021-05-28 17:13] afilimonov commented on #8110
Is it possible to generate  a unique prefixed consumer group for each query execution?

[2021-05-28 17:41] mosabua commented on #8124
Could you fix this for 358 @jirassimok and then we merge docs and code PRs at the same time? Requested by @electrum

[2021-05-28 18:38] martint commented on #8070
It could be related to https://github.com/trinodb/trino/pull/5582/commits/61330e14cfbf888c7a1c524d3128df85669c89d5, but there are protections in place to rewrite SemiJoin to Inner Join when they appear under a DeleteNode. Maybe there's a case we're missing.

[2021-05-28 20:33] martint commented on #8040
[code]

#6634

[2021-05-28 20:44] findepi commented on #8070
I tried to reproduce this with 356 version:

[code]

but i did not get a failure:

[code]

@vinay-kl

- can you try to check what am i doing wrong here?
- also, can you share your `config.properties` and `hive.properties` (except passwords)?
  it am not seeing anything usual in SHOW SESSION output, but eyeballing it's possible
  i miss something.
- also, are you able to reproduce the problem with

[2021-05-28 21:12] findepi commented on #8114
i recommend to always run `clean install`, as the incremental compilation may have issues:

[code]

If this doesn't help, we can continue here, or on project slack. see you there!

[2021-05-28 21:12] #8114 closed

[2021-05-28 23:04] jirassimok commented on #8124
I've determined that there isn't a simple and clean way to make `from_iso8601_timestamp_nanos` match the behavior of `from_iso8601_timestamp` perfectly.

The easiest near-complete solution probably is to use Joda to parse out the date and time, and to manually extract the fractional seconds. This would leave out a few of the formats allowed by ISO 8601 (namely fractional hours and minutes), but I

[2021-05-28 23:31] findinpath commented on #8112
I created a draft PR by taking into account the second suggestion from @findepi  which uses behind the scenes a session property to store the default time zone for the SQL session.

[2021-05-28 23:34] tooptoop4 commented on #8098
@yangliang9004 ignite connector is mentioned on https://github.com/trinodb/trino/issues/3472

[2021-05-28 23:35] songgane commented on #8096
This PR will close because there is an alternative to native2ascii and a backward compatibility issue may occur.

[2021-05-28 23:35] #8096 closed

[2021-05-29 02:59] hashhar commented on #8124
Were we using java.time here because Joda only supports millisecond precision?

cc: @martint

[2021-05-29 03:47] xwzpp commented on #7403
Can presto-jdbc connection can set timezone?

[2021-05-29 13:09] #8110 closed

[2021-05-29 21:59] vinay-kl commented on #8070
@findepi the issue is not reproducible with `357` and we are using `3` nodes on QA env wherein the issue was persistent with `356`.

[code]

[code]

[2021-05-30 12:31] hashhar commented on #7739
Very weird behaviour.

The values inserted via Oracle and via Trino look the same in both Trino and Oracle.
I added a breakpoint at `verifySelect` in `SqlDataTypeTest#execute`. Then ran `insert into timestamp_tz_1qb9d values (TIMESTAMP '2018-10-28 01:33:17.456 America/Bahia_Banderas', TIMESTAMP '2018-10-28 03:33:33.333 Europe/Vilnius');` via Trino.

After that output follows:

[code]

But if you s

[2021-05-30 12:37] hashhar commented on #7864
`BaseCaseInsensitiveMappingTest` was added in https://github.com/trinodb/trino/pull/7909.

Re-purposing this issue to track migrating remaining connectors to this base test.

[2021-05-30 12:39] hashhar commented on #7864
- [ ] TestOracleCaseInsensitiveMapping
- [ ] TestBigQueryCaseInsensitiveMapping
- [ ] TestMemSqlCaseInsensitiveMapping

[2021-05-31 00:50] Damans227 commented on #7653
@mosabua ` bing_tile_quadkey()`function already exists in this file: `Trino/master/docs/src/main/sphinx/functions/geospatial.rst`

Where else does it needs to be added ?

[2021-05-31 07:54] darian-heede opened #8139 "Add hive table property `csv_encoding`"
Please add a table property (e.g. `csv_encoding`) for the use of `CREATE TABLE` in conjunction with `external_location` in a `WITH` clause for csv files (`org.apache.hadoop.hive.serde2.OpenCSVSerde`). This might also be useful for other file formats as well. In hive this can be achieved by using `TBLPROPERTIES('serialization.encoding'='<encoding>')`.

**Use case:**
I'm trying to create a table fro

[2021-05-31 08:44] losipiuk commented on #8040
[code]
https://github.com/trinodb/trino/pull/8120

[2021-05-31 08:56] xwzpp opened #8140 "druid LATEST function cannot support by druid connector"
druid LATEST function cannot support by druid connector

[2021-05-31 10:51] findepi opened #8144 "Improve statistics precalculation for predicate pushdown"
distinguish between predicate pushed down and remaining

cc @losipiuk @rzeyde-varada

[2021-05-31 11:21] ssheikin commented on #5033
[code]
noticed here: https://github.com/trinodb/trino/pull/8108/checks?check_run_id=2709868896

[2021-05-31 11:29] ssheikin opened #8146 "CI's setup-java sometimes fails with: Unexpected EOF in archive"
Extracted from https://github.com/trinodb/trino/issues/5033

[code]
noticed here: https://github.com/trinodb/trino/pull/8108/checks?check_run_id=2709868896

[2021-05-31 11:32] kokosing commented on #5033
Replaced with https://github.com/trinodb/trino/issues/8146

[2021-05-31 11:32] #5033 closed

[2021-05-31 11:59] #8063 closed

[2021-05-31 12:11] hashhar commented on #8146
https://github.com/trinodb/trino/runs/2710240871?check_suite_focus=true

[2021-05-31 12:51] ssheikin commented on #7783
hits https://github.com/trinodb/trino/pull/8108/checks?check_run_id=2710251437

[2021-05-31 13:20] findepi commented on #8146
@ssheikin  Is this some archive downloaded over the network, or created locally?
if the latter, did we run out of disk space?

[2021-05-31 13:22] kokosing commented on #7783
Fixed with https://github.com/trinodb/trino/pull/8064

[2021-05-31 13:22] #7783 closed

[2021-05-31 13:25] ssheikin commented on #8146
@findepi I've force pushed branch and now `No check run found with ID 2709868896 for this pull request.`

[2021-05-31 15:37] raunaqmorarka opened #8150 "system.metadata.catalogs returns catalog name as the connector_id"
After setting up a `hive-hadoop2` connector with catalog name `hive_abd` I got

[code]

[2021-05-31 15:40] sopel39 commented on #8040
[code]
https://github.com/trinodb/trino/pull/8149

[2021-05-31 19:02] kokosing commented on #8150
That is ok. I guess connector id column is legacy and I think we could try to remove it.

The idea behind it was to have unique connector instance id. So if connector would be unregistered and registered under the same catalog name it could get different connector id. However the idea of dynamically unregistering catalogs died as it is very difficult to achieve.

[2021-05-31 19:49] kokosing opened #8152 "Code style: where to put binary operator in multiline java expression in the code"
Where to put binary operator in multiline java expression in the code.

1.
[code]

[code]

2.

[code]

[code]

I prefer option 1 as it a second line starts with the operator so it is clear that it is continuation. It is similar to:

[code]

[2021-05-31 19:50] raunaqmorarka commented on #8150
I see, I got the impression that connector id would give the connector's name like `hive-hadoop2` and we might be able to get all `hive-hadoop2` connector's catalog names using this table.
Would it make sense to repurpose connector id to give connector name ?
cc: @sopel39

[2021-05-31 19:56] mosabua commented on #8124
Okay ... as discussed with @electrum  I will therefore update the documentation PR to the current behaviour. Once we fix the code .. we have to just update the docs as well.

[2021-05-31 20:02] kokosing commented on #8150
I think we could add another column `connector_name` as independent to `connector_id`.

[2021-05-31 20:06] hashhar commented on #8152
+1 for the first personally. But it seems like we are mostly using the 2nd form today (by a large margin).

[code]

[2021-06-01 07:27] Praveen2112 commented on #8146
I guess we can update the setup java action to the latest version 2.0 .. which supports retries in case of failure due to network

[2021-06-01 07:30] #6998 closed

[2021-06-01 07:33] findepi commented on #8146
@ssheikin i guess the correct link would be https://github.com/trinodb/trino/runs/2709868896

@Praveen2112 thanks, i didn't know we're talking about java setup step

[2021-06-01 07:34] findepi commented on #8146
@Praveen2112 can you make a PR?

[2021-06-01 07:37] Praveen2112 commented on #8146
Working on it.

[2021-06-01 07:45] kokosing commented on #8152
Yeah. But if set a new rule then we can migrate over time to a direction we want.

I think the example code requires a cleanup. Mixing `&&` and `||` together makes it really hard to read.

[2021-06-01 08:06] hashhar commented on #8152
That was the point - with the trailing form it's difficult to notice that something might be wrong. (the original code uses all `&&` btw).

[2021-06-01 08:30] findepi commented on #8152
What does intellij write when generating equals?

[2021-06-01 08:30] #8152 closed

[2021-06-01 08:42] findepi commented on #7739
This compares col_0 (`timestamp with time zone`?) with a varchar.
What is the inferred type of the comparison? Is varchar coerced to timestamp tz, or vice versa?
Did you try using `from_tz(TIMESTAMP  '28-OCT-18 01.33.17.456', 'America/Bahia_Banderas')` go get a `timestamp with time zone` "literal" in Oracle?

Also, what are your NLS session settings?
i.e. how does your Oracle command line format r

[2021-06-01 08:44] findepi commented on #7864
@hashhar please move the checklist to the issue description.

[2021-06-01 08:47] zhangfangkai opened #8158 "elasticsearch query bug"
when I query elasticsearch use trino, there is  a bug
my query is :
`SELECT table_schema FROM columns WHERE elasticsearch.information_schema.table_schema = 'default'`
then i meet the bug: Multiple entries with same key
In my elasticsearch, there are many indexes alias one name, eg:
index |  alias_name
aa-000000 -->aa
aa-000001 -->aa
i think  there is some bug in io.trino.plugin.elasticsearch.Elast

[2021-06-01 09:08] Anonymitaet commented on #7852
@kokosing many thanks for your guidance! This project continues to strengthen the good cooperation between Trino and Pulsar.

To promote awareness and usage of the Pulsar connector, may I have your thoughts on the content strategy?

## User Guide

I see many connectors have their guides on the [Trino website](https://trino.io/docs/current/connector.html). For the Pulsar connector, @MarvinCai is [c

[2021-06-01 09:24] zhangchunyang1024 commented on #7658
It's OK. I'll continue to pick another issue

[2021-06-01 11:59] sopel39 commented on #8040
[code]
https://github.com/trinodb/trino/pull/8151

[2021-06-01 15:00] bitsondatadev commented on #7852
Hey @Anonymitaet!

One thing to point out, I will be [giving a talk at the Pulsar Summit](https://www.na2021.pulsar-summit.org/all-talks/trino%3A-a-ludicrously-fast-query-engine-) and would love to write a blog about this to promote this wonderful work done by @MarvinCai and @jerrypeng and other amazing members of the Pulsar community!

After reading over [Apache Pulsar PIP-19](https://github.com/

[2021-06-01 17:12] phd3 commented on #8040
[code]

#7606

[2021-06-01 17:16] #8146 closed

[2021-06-01 17:54] electrum commented on #8150
@dain thoughts here? Probably we should just drop that column?

We could add a `connector_name` field if that is useful, though let's file a separate issue for that.

[2021-06-01 19:27] raunaqmorarka opened #8167 "Add BaseConnectorTest coverage for system.jdbc.tables/columns"
ColumnJdbcTable and TableJdbcTable call listTables with the assumption that it includes views
This is different from InformationSchemaPageSource which performs a union of listTables and listViews
Some connectors return both views and tables in listTables (hive, memory), others don't (raptor, blackhole and accumulo).

[2021-06-01 20:42] findepi commented on #5790
Seems like w have agreement - https://github.com/trinodb/trino/pull/5625 & https://github.com/trinodb/trino/pull/8166

[2021-06-01 21:49] findinpath commented on #8011
@xwzpp  you may make use of the `sql.forced-session-time-zone` setting in `${TRINO_INSTALL_DIR}/etc/config.properties`. See #1164 for details.

Another issue that may relate to your question (although still in development) would be the ability to set the time zone explicitly. See #8112 for details.

[2021-06-01 22:04] electrum commented on #4826
Apologies for not following up. This seems like a useful feature. Would you like to send a PR?

[2021-06-01 22:38] #8040 closed

[2021-06-01 22:55] martint opened #8170 "Release notes for 359"
## Ashhar Hasan
- [x] all checked
-  06-02 06:42:40    4bd272cb9a Add product test launcher 'env describe' command
-  06-04 13:36:34    9ad26b4a49 Provide session timezone information in Query UI
-  06-07 07:59:50    67b8afc1ab Re-enable testLargeIn tests on MemSQL
-  06-07 07:59:50    efec16ffec Lower MemSQL disk usage in tests
-  06-07 08:01:44    11bcc0f8ad Extract regr_intercept, regr_slope pu

[2021-06-01 23:49] electrum commented on #6092
`iceberg-core` is a normal artifact and doesn't shade any dependencies, which is fine. This is a more general Maven issue that you have to deal with due to how Maven does dependency resolution.

[2021-06-01 23:51] mosabua commented on #7653
then you probably just need to ensure that the entry in list.rst links to the function in geospatial.rst

[2021-06-02 00:24] Damans227 commented on #7653
I see, Idk why I was under an impression that sphinx would tc of it automatically. I will take a second look at list.rst to figure out why it's not working. Thanks for replying.

[2021-06-02 01:49] liujilei-97 commented on #6670
能分享下你的ranger对接prestosql的文档嘛

[2021-06-02 06:29] ankuragarawal commented on #4826
Hi David,
No problem at all. Please find the PR and feel free to let me know if any changes are needed. Thanks!
https://github.com/trinodb/trino/pull/5377

[2021-06-02 07:38] Anonymitaet commented on #7852
Hi @bitsondatadev many thanks for your guidance!

Looking forward to your speech at Pulsar Summit.
Please ping me once you finish the blog, we can promote this together.

For the documentation, we will contribute all of them to Trino and update the contents to make it more Trino-centric. Once we finish it, we may need reviews from the Trino community to improve the quality. Does this make sense? T

[2021-06-02 09:55] findepi opened #8175 "Allow TPC-H to replace partial TopN with LIMIT"
Like #6634 for TPC-H connector.

Can be useful for test data preparation queries like

[code]

cc @raunaqmorarka @sopel39 @Justin-Kwan

[2021-06-02 10:12] Anonymitaet commented on #7852
Hi @MarvinCai I've drafted [one](https://docs.google.com/document/d/1D8RKbrkw_KWMlXB9rYLD03tK4Qexyi3Inor0CIjalDQ/edit#) and left some questions, could you please provide technical inputs?
It would be much appreciated if you could provide any feedback by EOD 6/6 GMT+8, many thanks!

[2021-06-02 10:29] raunaqmorarka commented on #8175
It already works, but we need to tweak the order by clause a bit
[code]

[2021-06-02 11:05] sopel39 opened #8177 "Accept non-orderable type in JoinCompiler"
Follow up for: https://github.com/trinodb/trino/pull/7723 (which added support for non-orderable types in `SimplePagesHashStrategy` that is a less performant fallback when `JoinCompiler` fails)

cc @dain @findepi @takezoe

[2021-06-02 11:09] findepi commented on #8177
@takezoe can you please take a look?

[2021-06-02 11:11] findepi commented on #8175
Indeed, thanks @raunaqmorarka . I just need `NULLS FIRST` clause!

[2021-06-02 11:11] #8175 closed

[2021-06-02 14:38] hashhar commented on #7782
@mosabua Is there anything to do here? Apart from maybe:

[2021-06-02 16:36] takezoe commented on #8177
Sure, will take a look.

[2021-06-02 17:29] #6092 closed

[2021-06-02 18:29] alec-heif opened #8182 "Support pushdown of substring and regexp_like to postgres"
It would be extremely helpful for my team if the postgres connector supported pushdown for substring and/or regexp_like clauses. My org regularly has queries that apply a regex filter to a varchar column (or to a portion of a varchar column) and right now we are unable to run any of these queries through Trino due to the lack of pushdown for this highly-selective filter.

[2021-06-02 18:42] martint commented on #8182
The first steps is to be able to push down functions into connectors. This is being worked on here: https://github.com/trinodb/trino/pull/7994

[2021-06-03 01:38] jerrypeng commented on #7852
By the way I have written a couple blogs back in the day on Pulsar SQL /
Pulsar Presto integration:

https://www.splunk.com/en_us/blog/it/querying-data-streams-with-apache-pulsar-sql.html

https://www.splunk.com/en_us/blog/it/sentiment-analysis-of-tweets-using-apache-pulsar.html

Best,

Jerry

On Wed, Jun 2, 2021 at 3:13 AM Yu Liu ***@***.***> wrote:

[2021-06-03 04:54] frg96 opened #8183 "Trino BigQuery Connector: CAST causing SELECT to return NULL values and inter-changing column positions"
I am using **Starburst Trino 356-e (LTS)** on a single node cluster (same node running coordinator and worker).

I created a table from Trino CLI:
<pre>
trino:frg96_dataset> CREATE TABLE IF NOT EXISTS
                  -> test (
                  ->     colvarchar VARCHAR,
                  ->     colsmallint SMALLINT,
                  ->     colint INTEGER,
                  ->     colbigint BIG

[2021-06-03 12:47] ebyhr commented on #8183
I confirmed this issue happens in upstream.

[2021-06-03 14:45] cpsnowden opened #8185 "Trino/Presto UI does not respect show limit when query state filter is changed"
When you change a query state filter e.g. showing 'Finished' queries or 'User Error' queries, the Show Limit is not respected immediately resulting in all queries being rendered. If a re-order interval is set then Show Limit is applied on the next query refresh. If there are a large number of queries in the history this can result in the browser crashing on the first render.

The following two cal

[2021-06-03 14:56] hashhar commented on #8185
Thanks for reporting this @cpsnowden. Would you like to submit a pull-request yourself - we can guide you through the process.

[2021-06-03 17:09] cpsnowden commented on #8185
Yep - can contribute a PR for this

[2021-06-03 17:33] mosabua opened #8189 "List of functions per topic"
It might be useful to have a page that lists all functions similar to list.rst

But instead of alphabetical order it should use the topics from the different groups we already have defined like datetime, array and so on (see https://trino.io/docs/current/functions.html) and under each group list the functions covered in that specific document.

We could play around and check how that works out and

[2021-06-03 20:52] sopel39 opened #8192 "Run VIEW table scans as view owner"
Currently during execution, identity of query issuer is used for table scans even when VIEW should be run as owner. This could lead to wrong results when connector is performing runtime row filtering based on user identity

[2021-06-03 21:26] sopel39 commented on #8170
[code]
https://github.com/trinodb/trino/pull/8153

[2021-06-03 23:05] chadleeshaw opened #8193 "Does Trino Support S3 File Storage For Metastore?"
In the old prestosql I was able to use the hive connector to create a hive metastore catalog directory as s3://warehouse(see below).  The only options for the metastore I'm seeing in the docs are Thrift and glue.

[code]

[2021-06-04 00:46] mosabua commented on #7664
PR merged. Great work @gaojun2048

[2021-06-04 00:46] #7664 closed

[2021-06-04 05:42] hashhar commented on #8193
The file hive metastore is only used for testing the connector itself and it's not meant to be used in production.

It doesn't implement all metastore operations, cannot be used concurrently and one version of Trino may not be able to read the file created by a different version of Trino.

Trino still has it but the reason it's not documented is because it isn't fit to be used anywhere except the

[2021-06-04 05:43] #8193 closed

[2021-06-04 06:46] #1879 closed

[2021-06-04 06:48] gaojun2048 commented on #5505
No, now we still have this problem occasionally.

[2021-06-04 07:27] gaojun2048 commented on #5505
![image](https://user-images.githubusercontent.com/32193458/120762707-15906080-c549-11eb-85a4-c0e6adb3b4b2.png)

As long as the general pool is full, it will be stuck and the cpu usage rate will drop to 0.

[2021-06-04 07:47] hashhar commented on #5505
This seems like the Trino OOM killer came into effect. You can reduce the amount of time it waits to kill a query by `query.low-memory-killer.delay` (default is 5mins).

But since the cluster is running into OOM condition it means that you are overcomitting memory. If you want queries to succeed without failure either limit the concurrency via resource groups or add more memory. 16GB is a very sma

[2021-06-04 08:04] chenjian2664 commented on #2953
@findepi can i take this, seems no body notice :)

[2021-06-04 08:07] gaojun2048 commented on #5505
Yes, there are some other processes running on the nodes. So only 16G memory can use by presto.

[2021-06-04 08:30] findinpath commented on #8140
I assume that you imply

[code]

taken from https://druid.apache.org/docs/0.21.0/querying/sql.html

However Trino supports only the following functions at the moment:

https://trino.io/docs/current/functions/list.html

[2021-06-04 08:53] hashhar commented on #8140
This requires supporting function pushdown and expression pushdown. Some work on those fronts is ongoing in https://github.com/trinodb/trino/pull/7994.

Feel free to join our [Slack](https://trino.io/slack.html) and continue the conversation there on #dev to learn about the plans and how you can contribute.

[2021-06-04 08:53] #8140 closed

[2021-06-04 13:49] ashishmgofficial opened #8197 "SASL_SSL and additional Kakfka property support"
Support for SASL_SSL secure properties for kafka connector. Some of the properties of interest are :
[code]
I think these are all basic configs supported by kafka driver.

[2021-06-04 14:10] ashishmgofficial commented on #6439
Hi @klDen , Is this still in active development ? We also had this requirement for SASL_SSL configurations . I have also raised a ticket for the same with expected couple of configs :
[code]

[2021-06-04 16:22] klDen commented on #6439
Hello @ashishmgofficial ,

I was planning on working on this, but according to @lukasz-walkiewicz , a security team member at Starburst will be taking care of this :-)!

[2021-06-04 16:25] mosabua commented on #8189
We are working on this together next week. If anyone is interested to join the hacking session at 10am PST on Wed (2021-06-09) reach out to me on slack and I can add you to the invite.

[2021-06-04 17:43] #7658 closed

[2021-06-04 18:05] Jessie212 commented on #8189
Absolutely.

[2021-06-04 20:36] #4196 closed

[2021-06-05 03:31] Damans227 commented on #7833
Closing the issue as resolved via PR #7934.

[2021-06-05 03:31] #7833 closed

[2021-06-05 06:57] nwdsslzwf opened #8200 "discovery zookeeper"
I have a question to ask，the connector is Hive, the coordinator and worker can discovery use zookeeper?

[2021-06-05 08:30] #8200 closed

[2021-06-05 10:00] ashishmgofficial commented on #6439
@lukasz-walkiewicz Can you share any info on this ? Wanted to know the expected time this feature would be available to Trino and Starburst

[2021-06-05 10:30] hashhar commented on #8170
[code]

#4196, #7929

[2021-06-05 14:42] sumannewton commented on #8158
Please be more specific about what the bug is.
Also refer [issue-2748](https://github.com/trinodb/trino/issues/2748). You might be facing the same issue.

[2021-06-06 02:00] #8183 closed

[2021-06-06 02:04] ebyhr commented on #8170
[code]

#8183, #8201

[2021-06-06 08:18] #7398 closed

[2021-06-06 14:57] sumannewton commented on #3605
@findepi @eskabetxe Addressed this issue in this [PR](https://github.com/trinodb/trino/pull/8204).

[2021-06-06 15:38] findinpath commented on #7885
I'd like to work on this one.

Could you @martint  or anybody else give me a few pointers on how to approach this one ?

[2021-06-07 04:09] Damans227 commented on #7660
I have assigned this issue to myself. Thanks!

[2021-06-07 05:59] gaojun2048 commented on #5505
Yes, Your are right. It is ok now.

[2021-06-07 05:59] #5505 closed

[2021-06-07 06:49] chenjian2664 commented on #2953
@mosabua Hi, can you suggest where i should put the doc details about `OWNERSHIP`?

[2021-06-07 07:17] frg96 commented on #8183
Glad to hear that. Thanks @ebyhr !

[2021-06-07 08:56] sopel39 commented on #8170
[code]
https://github.com/trinodb/trino/pull/8086

[2021-06-07 09:16] sopel39 commented on #8170
[code]
https://github.com/trinodb/trino/pull/8184

[2021-06-07 10:24] raunaqmorarka opened #8207 "Define information_schema.tables's TABLE_TYPE for materialized views"
Currently MVs are listed as `BASE TABLE` in `information_schema.tables`
MVs should probably be listed with a different table type than tables or views

SnowFlake and BigQuery use a `MATERIALIZED VIEW` TABLE_TYPE for `information_schema.tables`
https://docs.snowflake.com/en/user-guide/views-materialized.html#working-with-a-materialized-view
https://cloud.google.com/bigquery/docs/information-schema-

[2021-06-07 14:05] #6202 closed

[2021-06-07 14:29] ztaylor797 commented on #6980
I upgraded to Trino 358 and confirmed that this issue is still happening.

[code]

[2021-06-07 14:41] findepi commented on #6980
@ztaylor797 what are you using as your metastore? what's the exact version?

[2021-06-07 15:16] sopel39 commented on #8170
[code]
https://github.com/trinodb/trino/pull/8113

[2021-06-07 20:40] esemeniuc opened #8216 "Support views (CREATE VIEW) in Iceberg connector"
Hi all, when using iceberg catalog and creating a view, I see this:

[code]

I noticed this line about view support: https://github.com/trinodb/trino/blob/e4cae791c0b56509af281ceb7b91bc7c62dce6e5/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java#L1035
Can view support be added, or is there a fundamental issue with views and iceberg?

[2021-06-07 21:57] ztaylor797 commented on #6980
@findepi I'm using:

- Hive standalone metastore v3.0.0 from: https://repo1.maven.org/maven2/org/apache/hive/hive-standalone-metastore/3.0.0/hive-standalone-metastore-3.0.0-bin.tar.gz
- Hadoop 3.1.2 from: https://archive.apache.org/dist/hadoop/common/hadoop-3.1.2/hadoop-3.1.2.tar.gz

[2021-06-08 03:45] raunaqmorarka commented on #8216
You can simply use MATERIALIZED VIEW. It behaves like a VIEW if you don't run REFRESH MATERIALIZED VIEW query on it.
@electrum might have more thoughts about explicit support of VIEW in iceberg.

[2021-06-08 06:25] #7653 closed

[2021-06-08 07:41] findepi commented on #8216
nice workaround, thanks @raunaqmorarka for sharing.

Another workaround is to define a view via Hive connector, but reference Iceberg catalog in the view body. Not as useful, but may be helpful in some cases.

We should just add support for views ("trino views") in Iceberg. This is pretty straightforward, and Hive connector can be used as an example.

[2021-06-08 08:09] sopel39 commented on #8170
[code]
https://github.com/trinodb/trino/pull/7960

[2021-06-08 09:52] findepi commented on #6220
https://github.com/trinodb/trino/runs/2771822401

[code]

[2021-06-08 10:38] findepi commented on #6980
@ztaylor797
When you run the Hive standalone, do you have `org.apache.hadoop.hive.ql.io.AcidInputFormat`, `org.apache.hadoop.hive.ql.io.AcidOutputFormat`, classes on the classpath?

Can you grep metastore logs for occurrences of `Could not verify InputFormat="`?

[2021-06-08 13:49] youngchen7 opened #8231 "20.22."

[2021-06-08 13:50] #8231 closed

[2021-06-08 14:30] ztaylor797 commented on #6980
@findepi
When I check the contents of the standalone lib, I'm not seeing the .ql package at all, nor the AcidOutputFormat class.

These are the only "Acid" entries:

[code]

Here's that error log:

[code]

[2021-06-08 15:42] #5790 closed

[2021-06-08 17:45] youngchen7 opened #8233 "Support more granular AWSCredentialsProviders in TrinoS3FileSystem"
Currently, AWSCredentialsProviders are instantiated via reflection in `TrinoS3FileSystem` from a classname passed in through the `Configuration`. Since the `AWSCredentialsProvider` interface is exceedingly simple and takes no parameters in `getCredentials()`, there's no way to customize the credentials that are used besides through sideloading the Configuration, appending to the URI, or implementi

[2021-06-08 20:15] ayushbilala opened #8236 "Externalise Destination Table Cache Expiry Duration for BigQuery Connector"
In **io/trino/plugin/bigquery/ReadSessionCreator.java**, TableInfo is getting cached for only 15 minutes. This makes sure for the next 15 minutes all the subsequent queries will use the cache.

I believe rather than hardcoding the TTL to 15 minutes, we should externalize this number so that it can be configured on a case-to-case basis.

Slack Thread: https://trinodb.slack.com/archives/CFLB9AMBN/p1

[2021-06-08 22:30] Yann-J commented on #6782
Hello! Did you figure this out?

I'm facing the same problem...

I have the impression that it's no longer supported to ignore host name verification...

[2021-06-09 04:35] caneGuy commented on #5132
We will send a pr later for this

[2021-06-09 06:22] sumannewton commented on #8158
This issue is different from [issue-2748](https://github.com/trinodb/trino/issues/2748). Able to reproduce this issue with the fixes for [issue-2748](https://github.com/trinodb/trino/issues/2748). Will try to debug more and fix this in my free time.

[2021-06-09 08:11] wendigo opened #8239 "Rename presto-master and presto-worker-* nodes in trino-product-tests"
There are leftover from Presto-era. I propose to use new naming as follows:

`presto-master` -> `trino-coordinator`
`presto-worker` -> `trino-worker`

That matches our current wording used in documentation.

Tasks to be completed:

- [ ] Rename nodes in the product tests launcher
- [ ] Build and release new docker images with updated naming
- [ ] Update developer documentation
- [ ] Regenerate SSL

[2021-06-09 10:45] hashhar commented on #6394
Addressed by merging https://github.com/trinodb/trino/pull/7552.

Some specific tests remain which are tracked by https://github.com/trinodb/trino/issues/7739

[2021-06-09 10:45] #6394 closed

[2021-06-09 15:19] ayushbilala commented on #8236
@ebyhr Shall I pick it up?

[2021-06-09 20:46] shawnzhu opened #8245 "syntax ${ENV:VARIABLE} doesn't work in event-listener.properties"
This from the release 358.

## Problem

I've followed the doc [Secrets](https://trino.io/docs/358/security/secrets.html) to inject secrets into `etc/event-listener.properties` but found the injected environment variables are not resolved at all. (such syntax works well for `config.properties` and configuration for any connector).

## Impact

So it ended up managing `event-listener.properties` as a

[2021-06-10 03:38] AllenWod opened #8249 "trino-358 build failed"
env:
jdk 11.0.11
maven 3.8.1

follow by readme.md
![image](https://user-images.githubusercontent.com/22765507/121460846-44428700-c9e0-11eb-9c3d-b9a7dbe94544.png)

[2021-06-10 04:02] hashhar commented on #8249
It looks like you are checking out the project in some way that the `.git` directory is missing. Are you using git worktree? Did you clone the project or download the tarball/zip of the code?

Please join our [Slack](https://trino.io/slack.html) and continue the conversation there on the #dev or #troubleshooting channels. There are more people there and you would get help quicker.

[2021-06-10 05:06] AllenWod commented on #8249
yeal ,I have just download the zip code and import into InteliJ Idea to build.thanks for you answer

[2021-06-10 05:08] hashhar commented on #8249
Please try using `git clone` instead of a zip download and it should work.
Closing the issue - but feel free to continue the discussion if you still run into issues.

Feel free to join our [Slack](https://trino.io/slack.html) and continue the conversation there.

[2021-06-10 05:08] #8249 closed

[2021-06-10 05:10] AllenWod commented on #8249
ok thanks very much

[2021-06-10 05:17] AllenWod commented on #8249
Can i execute git init in trino-358 directory to make it effective?

[2021-06-10 05:23] hashhar commented on #8249
I don't think so. You'll need to perform a fresh clone. `git clone https://github.com/trinodb/trino`

[2021-06-10 08:18] jaehc opened #8251 "AggregationStateSerializerFactory is missing."
Hi,

I am currently migrating presto to trino, specifically, from presto 0.211 to trino 358.
One of the biggest parts of doing so is changing UDFs to be consistent with trino SPI.
Everything is fine, and most of the work has been done nicely, but except for one thing, which is related to this issue.

To begin with, I have several aggregation UDF functions, and some of them rely on parametric types

[2021-06-10 08:56] Crossoverrr opened #8252 "How could we use ConnectorIndex in mysql connector to improve query performance?"
Dear community,
I'm Investigating ConnectorIndexProvider, and using tpch as a simple example.
I found method `io.trino.testing.tpch.TpchConnectorIndex#lookup` will do a filter job according to the keys in param `RecordSet rawInputRecordSet`.
After some code tracing, I find tpch will read all data in table `orders`, and build a `ImmutableListMultimap` to cache all the key->record mapping,
and tpch

[2021-06-10 08:58] Crossoverrr commented on #8252
Any help will be appreciated!     :)

[2021-06-10 09:11] chenshaojin opened #8253 "I want to read files on HDFS in a UDF. What should I do?"
ERROR：
java.lang.ExceptionInInitializerError
	at java.base/jdk.internal.misc.Unsafe.ensureClassInitialized0(Native Method)
	at java.base/jdk.internal.misc.Unsafe.ensureClassInitialized(Unsafe.java:1042)
	at java.base/java.lang.invoke.DirectMethodHandle$EnsureInitialized.computeValue(DirectMethodHandle.java:357)
	at java.base/java.lang.invoke.DirectMethodHandle$EnsureInitialized.computeValue(Direct

[2021-06-10 09:18] AllenWod commented on #8249
thanks for your guide，I have successfully build，but i don't know how to execute next step，can you help me
![image](https://user-images.githubusercontent.com/22765507/121499392-eaf24c00-ca0f-11eb-87de-353f71fa0637.png)

[2021-06-10 09:22] AllenWod commented on #8249
thanks for your guide，I have successfully build，but i don't know how to execute next step，can you tell how to config the running full server in IntelliJ IDEA,thanks

[2021-06-10 09:37] hashhar commented on #8249
I think you already got the answer to that on Slack at https://trinodb.slack.com/archives/CFLB9AMBN/p1623316919422800?

[2021-06-10 10:00] AllenWod commented on #8249
yes , i have solved the problem ,thank you

[2021-06-10 12:53] #7635 closed

[2021-06-10 12:56] losipiuk commented on #8170
[code]
https://github.com/trinodb/trino/pull/8168
https://github.com/trinodb/trino/issues/7635

[2021-06-10 14:03] giladmaya opened #8256 "DST ambiguity does not raise an error"
Hi,

When applying `with_timezone` on dates that "overlap" between daylight saving modes, the function chooses a mode automatically without raising any error or allowing the user to choose how to treat such cases

For example:
Israel's DST ends on October 31st at 02:00
So, the local time 2021-10-31 01:30:00 has two UTC possibilities

`select with_timezone(TIMESTAMP '2021-10-31 01:30:00', 'Asia/Jer

[2021-06-10 14:42] findepi commented on #8256
@giladmaya thanks for reporting this.
it seems it's being tracked in https://github.com/trinodb/trino/issues/5781. let me close this one

[2021-06-10 14:42] #8256 closed

[2021-06-10 15:09] ztaylor797 commented on #6980
@findepi I'm really struggling to understand why the official standalone versions of hive don't work with Trino and transactional table creation out of the box. I have spent many, many hours trying to get this to work.

I'm now using hive standalone version 3.1.2 with hadoop 3.2.1. Those acid classes are still missing from these versions.
I did find the acid classes in the hive-exec JAR, but that

[2021-06-10 15:20] findepi commented on #6980
it's nto something we can control on Trino side.

Simply, hive metastore code requires you to provide certain ACID classes on metastore classpath (as commented above).
until you do that, there is nothing we can do. Once you do that, things should work (although standalone metastore this is not being tested with Trino by us)

[2021-06-10 15:20] #6980 closed

[2021-06-10 18:57] phd3 opened #8260 "Flaky testDelegateRefreshMaterializedViewToConnectorWithCancellation"
cc @sopel39
[code]

https://github.com/trinodb/trino/runs/2789434308?check_suite_focus=true

[2021-06-11 02:14] jetsasank commented on #8216
@findepi : Its been a while since I contributed, may I help with adding the support for views ?

[2021-06-11 03:45] hwk42 commented on #2987
I got the same error,but when I use java 8,the presto of 333 version is not supported( it requires java 11).How to solve them,any suggestion?Thanks.

[2021-06-11 08:28] #8260 closed, assigned to nobody

[2021-06-11 09:24] ByPatrick commented on #5950
Hi all,
I find the same issue in Postgresql connector: if the item count of  IN clause list > 32, trino will take very long on schedule, but if the item count <= 32, the query is fast.

[2021-06-11 09:43] findepi commented on #8170
[code]
https://github.com/trinodb/trino/pull/8259

[2021-06-11 11:43] findepi commented on #5950
@ByPatrick what is planning time with IN list of 32 and what is planning time with IN list of 33?
also, what is your query?

[2021-06-11 12:11] ByPatrick commented on #5950
@findepi

My SQL is like this:

SELECT  pkey, column1, column3
FROM schema.table
WHERE column2 <> 'somevalue1' AND pkey IN ('XXXXXXX', 'XXXXXXX', ... , 'XXXXXXX')

 The 'XXXXXX' is a string like 'AB1234567890'

The EXPLAIN ANALYZE of this SQL is below.

// IN clause item count = 32
Fragment 1 [SOURCE]
    CPU: 3.56ms, Scheduled: 23.92ms, Input: 0 rows (0B); per task: avg.: 0.00 std.dev.: 0.00, Out

[2021-06-11 12:15] academy-codex opened #8264 "Mongo connector creating index for every new collection"
The Mongo connector creates a new index on the _schema (meta-info default table) everytime that a new collection is encountered.

This is not so useful in scenario where an organisation has a seperate DBO (database admin) who can create indexes, read/write, etc. while there are different users with read/write access but not admin accesses like create indexes.
For example, here presto system user r

[2021-06-11 12:16] academy-codex commented on #8264
I would like to take this up!

[2021-06-11 12:16] academy-codex commented on #8264
@martint @electrum

[2021-06-11 12:54] findepi commented on #5950
`CPU: 10.44s` is reasonable for evaluating the filter on 8M rows
 the fact the second query needs more _execution_ time (49s?) is because for >32, the domain filter is not  eliminated, and is not fully pushed into postgresql -- we read many rows from remote system.

Can you please rerun your second query with `domain-compaction-threshold=50` in postgresql.properties?

Also, initially you complaine

[2021-06-11 13:42] ByPatrick commented on #5950
@findepi
Sorry, it's my bad, I didn't figure out this original post's point, now I'm clear.
My query is slow when scheduling, not planning. The both query's planning time are 200~300ms, it's fast.

And set domain-compaction-threshold=50 make the 33 query works like 32's, it's perfect, thank you very much!

[2021-06-11 16:45] sumannewton commented on #2428
@findepi @martint @electrum This issue is fixed as part of https://github.com/trinodb/trino/issues/2748 with this [PR](https://github.com/trinodb/trino/pull/8202)

[2021-06-11 20:32] findepi opened #8268 "Hive cannot read ORC ACID table updated by Trino twice"
[code]

repro steps in https://github.com/trinodb/trino/pull/8267 as a TODO
full repro steps in a comment below https://github.com/trinodb/trino/issues/8268#issuecomment-863817129

[2021-06-12 00:35] ebyhr commented on #8264
I assume the current logic is already " Create Index only if it is absent". Could you share the code you are mentioning?
https://github.com/trinodb/trino/blob/master/plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoSession.java#L444-L470

[2021-06-12 01:51] jetsasank commented on #8216
Great, I will assign this issue to myself and start working on a solution.

[2021-06-12 06:37] academy-codex commented on #8264
@ebyhr The code you are referencing to is the correct place. However, it is creating once per new collection, how ever we should ideally be creating only once per database, due to the reason of DBO vs R/W access restrictions in organisations.

`
**Document doc = schema.find(new Document(TABLE_NAME_KEY, tableName)).first();**

**if (doc == null)** {
 if (!collectionExists(db, tableName)) {
 throw n

[2021-06-12 07:38] ebyhr commented on #8264
Understand your requirement now, thanks.

[2021-06-12 13:17] fanzhen commented on #5132
@caneGuy looking forward for this pr, it really helps~

[2021-06-13 09:35] sumannewton commented on #8158
I have fixed this in my local.
**Issue:**
Many indices aliased to single alias is causing this problem.
**RCA:**
Both`ElasticsearchClient.getAliases()` and `ElasticsearchMetadata.listTables()` have got flaws.
https://github.com/trinodb/trino/blob/f4cc1fb6a8fde26e2cd4e7d460f6661e566d170d/plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/client/ElasticsearchClient.java#L497-L519

[2021-06-13 17:58] shawnzhu commented on #7689
E.g., I'm trying to use DBeaver to connect to trino with oauth2 authentication configured, then I got:

See details from https://github.com/dbeaver/dbeaver/discussions/12763

[2021-06-14 08:32] losipiuk commented on #8170
[code]

https://github.com/trinodb/trino/pull/8208

[2021-06-14 19:19] findepi opened #8274 "Migrate from io.trino.tempto.assertions.QueryAssert#assertThat(QueryCallback) to assertQueryFailure for exceptional assertions"
`io.trino.tempto.assertions.QueryAssert#assertThat(QueryCallback)` is deprecated.

[2021-06-15 09:35] Crossoverrr commented on #8252
Got answer on slack so close this one.   :)

[2021-06-15 09:35] #8252 closed

[2021-06-15 20:19] Kyo91 opened #8284 "Trino cannot read an Iceberg table that has dropped a partition field"
After removing a partition field from an Iceberg table (using Iceberg/Spark's Table Evolution API), trino is no longer able to read from the table. Minimal example below:

SparkSQL to initialize the table:
[code]
Trino query works as expected:
[code]
Adding a new partition continues to work across both:
[code]
[code]
However, removing a partition field (either one) causes the query to fail for Tri

[2021-06-15 20:23] Kyo91 commented on #7580
@tuppimax See #8284 for an example of an issue with reading partition evolved tables.

[2021-06-16 03:48] Gentle-Chen commented on #5433
@findepi hihi, just want to ask if there is way that i can setup parameters by using createStatement to call procedure like system.create_empty_partition(?,?,?,?)

[2021-06-16 05:36] Gentle-Chen commented on #5433
I tried below code and it said `io.prestosql.spi.PrestoException: line 1:1: Incorrect number of parameters: expected 0 but found 1`

[code]

[2021-06-16 06:22] amir-upstream commented on #3501
+1 i think its a super important feature,
we need the atomic behavior of hive's alter partition location because we do a parquet-merge process on existing partitions and would want the "merged" partition to be atomically switched

[2021-06-16 09:14] Anonymitaet commented on #7852
Hi @mosabua @kokosing @bitsondatadev many thanks for your [comments](https://github.com/trinodb/trino/pull/8020) on the Pulsar connector doc, we've incorporated them and draft one [here](https://docs.google.com/document/d/1D8RKbrkw_KWMlXB9rYLD03tK4Qexyi3Inor0CIjalDQ/edit#) (we can communicate in google doc more conveniently rather than using GitHub comment), **could you please help review**? It wo

[2021-06-16 10:53] sumannewton commented on #7687
This is addressed with this https://github.com/trinodb/trino/pull/8202

[2021-06-16 13:45] Kyo91 commented on #8284
From what I can tell, this is because when Iceberg deletes a partition field, it creates a [VoidTransform](https://github.com/apache/iceberg/blob/a6b0f4240c7d7d94fa5f6d0cbf88332610b10d52/api/src/main/java/org/apache/iceberg/transforms/VoidTransform.java#L27), the justification for this is provided [here](https://github.com/apache/iceberg/blob/a6b0f4240c7d7d94fa5f6d0cbf88332610b10d52/core/src/main/

[2021-06-16 15:02] #8112 closed

[2021-06-16 15:02] fxulusoy opened #8289 "How to access /v1/node API endpoint when the password-file-authentication is enabled"
I am using the following this [helm-chart](https://github.com/valeriano-manassero/helm-charts) to deploy Trino on Kubernetes.

When I enable the [password-file-authentication](https://trino.io/docs/current/security/password-file.html), `/v1/node` API, which is used for [the health check](https://github.com/valeriano-manassero/helm-charts/blob/main/valeriano-manassero/trino/templates/configmap-work

[2021-06-16 15:05] findepi commented on #5433
It seems `?` parameters are not supported for `CALL` statement at all. cc @kasiafi

[code]

Should list a parameter:
[code]

Should accept a parameter
[code]

[2021-06-16 15:05] martint commented on #8170
[code]

https://github.com/trinodb/trino/pull/8135

[2021-06-17 07:23] Praveen2112 commented on #8268
Since we update on the same key multiple times it throws this exception. If we do a major compaction post each update. Things should work as expected. Will test and raise a PR.

[2021-06-17 07:31] findepi commented on #8268
Trino cannot do a major compaction.

Table should be readable also if a compaction doesn't happen.
Even if we were able to do a compaction, it would not be feasible to require a compaction after every update or every other update.
And it wouldn't be correct from concurrency perspective either.

[2021-06-17 07:37] Praveen2112 commented on #8268
But for tests maybe we could trigger the compaction from Hive after assertion. Or we would need to apply update on a different set of columns.

[2021-06-17 07:45] findepi commented on #8268
I would see the bug fixed rather than worked around in tests. Assuming it is indeed a bug.

@djsstarburst do you happen to recognize this?

[2021-06-17 07:49] Praveen2112 commented on #8268
But the bug is in Hive side ? https://issues.apache.org/jira/browse/HIVE-22318

It looks like the delete delta are of same size and it would create similar record identifier. (as quoted in the JIRA)

[2021-06-17 07:52] Praveen2112 commented on #8268
Other workaround is to ensure the update is applied on different set of rows instead of applying on same set of rows.

[2021-06-17 10:14] wendigo commented on #6969
Is this something to be decided by the connector (we could push types for both sides of the join and connector will decide)? Or should we make it at the engine level?

[2021-06-17 10:20] academy-codex commented on #8264
@ebyhr
According to this doc:https://docs.mongodb.com/manual/reference/method/db.collection.createIndex/#recreating-an-existing-index

Mongo doesn't create indexes again if it already exists. However, from the presto side, we are still firing the command but the createIndex is actually a DBO operation v/s R/W operation and can cause several organisations issue while delegating access to presto use

[2021-06-17 10:21] academy-codex commented on #8264
On a personal note, I know of 2 major orgs running this on patched versions.

[2021-06-17 10:29] findepi commented on #6969
Currently join pushdown is not attempted at all.
Coercion prevents `PushJoinIntoTableScan` from even firing up.
We would also need a way to represent CAST in `ConnectorExpression`.
CAST can be represented as a function call (with some special name) or as an explicit CAST.
The former gives uniformism (cast is a function after all), but the latter would be easier to handle in practice,
and also woul

[2021-06-17 10:30] academy-codex commented on #8264
On another note, createIndex(..) creates an exclusive lock and escalates it during index creation. It can be tricky and impactful if sufficient processes/calls happen to createIndex(..). For example, a big MongoDB cluster with says 1000's of collections is on-boarded to presto and high frequency calls start happening to this mongo via presto, now different people querying different collections wil

[2021-06-17 10:59] findinpath commented on #7517
This issue is being handled by the https://github.com/trinodb/trino/pull/8269 PR

[2021-06-17 12:08] fxulusoy commented on #8289
or is there any other API endpoint to check the nodes?

[2021-06-17 12:48] guyco33 opened #8302 "Update raptor-legacy to use mysql-connector version 8.0.22"
TODO in the code being added in https://github.com/trinodb/trino/pull/8300

[2021-06-17 12:48] hashhar commented on #8289
Take a look at `/v1/info`. That's what we use in https://github.com/trinodb/charts/blob/7f0562edb723e3556cb7075128391bddc6df6715/charts/trino/templates/deployment-coordinator.yaml

[2021-06-17 13:08] tooptoop4 commented on #2919
https://github.com/trinodb/trino/pull/8071 could be a basis for this

[2021-06-17 15:39] Praveen2112 commented on #8268
Corresponding JIRA in Hive : https://issues.apache.org/jira/browse/HIVE-22318

[2021-06-17 19:45] findepi commented on #8268
the jira talks about Hive's MERGE statement.
So the bug can be in Hive's ORC reader, or Hive ORC writer, or Hive MERGE statement implementation.

Can we assume at this point there is no bug on the Trino side?

[2021-06-18 03:39] yangliang9004 opened #8306 "print the error expression when user write a sql with expression syntax errors"
Last time, I wrote an incorrect SQL, as follows：
`
select vopenid from hive.hivedb.test where sys = 1.0 and begin = 3.9 limit 1;
`

the real type of the column sys is varchar, so presto prrint a error message like this:
`
Query 20210618_032803_00000_ye42f failed: line 1:91: Cannot apply operator: varchar = decimal(2,1)
`

with this message, it is hard to look for which expression lead to this prob

[2021-06-18 04:36] Praveen2112 commented on #8268
This is seen both during merge statement and when selecting from that Table. From the exception and its source it looks like the issue is during Reading the ORC file (with a bunch of delete delta). Ref : https://github.com/apache/hive/blob/d0bbe76ad626244802d062b0a93a9f1cd4fc5f20/ql/src/java/org/apache/hadoop/hive/ql/io/orc/OrcRawRecordMerger.java#L1225

Yes !! We are able to read the data and its

[2021-06-18 07:17] findepi commented on #8268
Full repro steps:
[code]

[code]

now in Hive:
[code]

**however** if i recreate the table in Trino
[code]

and then run INSERTs and UPDATEs in Hive then the `SELECT * FROM t` does not fail in Hive (and it does not fail in Trino either)
[code]

or, if i recreate and populate the table in Trino
[code]

and then run UPDATEs in Hive then the `SELECT * FROM t` does not fail in Hive (and it does not fa

[2021-06-18 07:29] Praveen2112 commented on #8268
Thanks for the detailed repro steps. So I guess we need to make this readable by Hive and the strange things we see here is the delta files has 0 rows instead of some valid number of entries

[2021-06-18 10:12] pedro93 opened #8307 "Trino-Pinot Connector does not work in Superset when creating datasets or viewing table schemas"
Hello,

When use trino via superset to connect to a Pinot table I am unable to create datasets:
![Screenshot from 2021-06-18 11-01-02](https://user-images.githubusercontent.com/3718654/122544243-88f3a100-d024-11eb-98c6-6265ecab7ccf.png)

Or view a given pinot-table schema definition (notice the black popup in the lower right corner):
![Screenshot from 2021-06-16 16-39-16](https://user-images.githu

[2021-06-18 11:58] findepi opened #8311 "Incorrect LIKE result for char column"
Given
[code]

[code]

and then this _should_ return same or higher number of rows:
[code]

same here, this _should_ return same or higher number of rows:
[code]

or here, this _should_ return same or higher number of rows:
[code]

[2021-06-18 12:08] quanleiqwe opened #8312 "clickhouse filter pushdown"
clickhouse connector filter pushdown not effect

select count(*) from  clickhouse.test01.person_info ;
 _col0
--------
 269140
(1 row)

select person_id from clickhouse.test01.person_info where person_id = '1234';
 person_id
-----------
 1234
 1234
 1234
 1234
 1234
(5 rows)

Query 20210618_121625_03302_j9w2a, FINISHED, 2 nodes
Splits: 33 total, 33 done (100.00%)
0.21 [269K rows, 0B] [1.27M rows/s

[2021-06-18 12:15] Praveen2112 commented on #8268
When we run a query like this on fresh table

[code]

Trino inserts the data into the following directory
[code]

And when we insert another row in it

[code]

Trino inserts the data into the following directory
[code]

So now when we run an update like this
[code]

Trino creates a delta directories for each of the directory (delta_0000001_0000001_0000, delta_0000002_0000002_0000)
for deletes and

[2021-06-18 12:48] hashhar commented on #8312
This is known and predicate pushdown for VARCHAR/VARBINARY is not yet implemented. cc: @wgzhao

See https://github.com/trinodb/trino/issues/7103 for current state.

Should I consider this a duplicate?

[2021-06-18 13:16] kokosing commented on #8252
Can you please link the slack conversation for future reference?

[2021-06-18 15:22] buremba commented on #6886
@harlequin after some research, it looks like ODBC seems to [support Direct Query.](https://docs.microsoft.com/en-us/power-query/odbc) but it needs to be enabled explicitly switching the direct mode in the connection screen. Hive also makes use of [ODBC connector](https://www.microsoft.com/en-us/download/details.aspx?id=40886). Did you start working on The proxy Hive metastore for Trino or would y

[2021-06-18 21:35] #3605 closed

[2021-06-18 21:37] martint commented on #8170
[code]

[2021-06-18 23:26] #7662 closed

[2021-06-19 10:11] tooptoop4 commented on #2909
https://github.com/prestodb/presto/pull/15857 has a fix

[2021-06-19 10:17] tooptoop4 commented on #7472
https://github.com/prestodb/presto/commit/b29aaa3f57cb413d34655e766bf31829f0375c47

[2021-06-19 13:33] davidkl97 opened #8322 "Trino JDBC driver not aborting on expired transactions"
Hey , I'm using the JDBC driver(358 version) bundled in Kafka connect and running scheduled queries again the trino server(358 version). At rare occasions, i could experience external failures in the queries im executing(might be a network issue or connector issue) which aborts the transaction at the server side but not in the client side.
instead of trying to make a new transaction, the jdbc driv

[2021-06-19 16:59] sumannewton commented on #7381
@bitsondatadev @findepi @martint Is this valid? Do we support regex based tables currently? Is this something we should start supporting because elasticsearch supports?

[2021-06-19 19:19] pvliborio commented on #8274
Hi @findepi, may I work in this issue?

[2021-06-20 02:12] tooptoop4 opened #8326 "Auto password rotation support"
auto password rotation for credentials in a catalog.properties, I'm thinking ideally trino could read from cyberark or similar rather than needing a new config change/deployment/restart or risk of locking out an account by trying to connect with old password (option to not keep trying connection after first bad password response)

currently trino requires a restart to know about the changed passwo

[2021-06-20 08:24] reugn opened #8330 "columnValueAndRowIdChannels order inconsistencies in the UpdatablePageSource.updateRows method"
I'm trying to implement the row-level SQL DELETE and UPDATE for a custom plugin. DELETE works fine, but there are issues with the UPDATE.

* I return an IdColumnHandler in the `ConnectorMetadata.getUpdateRowIdColumnHandle` method, but it's not being added to the `updatedColumns` in `ConnectorMetadata.beginUpdate` (I understood that it shouldn't be there).
* I pass the updated columns via a `TableH

[2021-06-20 09:54] tooptoop4 commented on #5880
maybe https://github.com/prestodb/presto/pull/15155 helps

[2021-06-20 15:25] sumannewton commented on #8306
I upvote this. Debugging becomes harder when working with joins or big query or many filters.
@findepi @bitsondatadev.

[2021-06-20 15:26] sumannewton commented on #8306
Can I work on this?

[2021-06-20 17:06] bitsondatadev commented on #7381
I remember at one point I had to define an alias to get the wildcard behavior but that may have been on Presto (before the Presto/Trino split) and there's been a lot of changes on the Trino side since. I wonder if @MusKaya's ability to do wildcard comes from [passthrough queries](https://trino.io/docs/current/connector/elasticsearch.html#pass-through-queries) or if we actually support wildcard sem

[2021-06-20 20:45] OLMS99 commented on #5519
Hey there! Is the issue still open? Can I help? If I can, then which files should I focus on?

[2021-06-21 02:12] quanleiqwe commented on #8312
ok, thanks

[2021-06-21 07:01] findepi commented on #8306
@yangliang9004
FYI
in the exception message you quoted, the `line 1:91` part is supposed to help you identify which expression is the problematic one.
Trino CLI uses this information to apply red color, so that you do not have to count lines manually.

[2021-06-21 08:50] yunfeng79 opened #8331 "Catalog 'clickhouse' does not support table property 'order_by'"
CREATE TABLE clickhouse.trino_ck (
  id int NOT NULL,
  birthday DATE,
  name VARCHAR,
  age BIGINT,
  logdate DATE
)
WITH (
  engine = 'MergeTree',
  order_by = 'id, birthday',
  partition_by = 'toYYYYMM(logdate)'
);
Error occurred during SQL query execution

mgessage：
 SQL error [18]: Query failed (#20210621_084958_00952_tm6aw): Catalog 'clickhouse' does not support table property 'order_by'

[2021-06-21 08:52] hashhar commented on #8331
This was a mistake in the docs... please try `order_by = ARRAY['id', 'birthday']`

cc: @mosabua this was fixed in https://github.com/trinodb/trino/commit/ea01a506a7a969b45fe32642e0a1f3516fe2cac5.

In case you still run into issues feel free to reopen or join our [Slack](https://trino.io/slack.html) and continue the conversation there.

[2021-06-21 08:52] #8331 closed

[2021-06-21 08:54] harlequin commented on #6886
Hey,

I have started to get the source from Apache Spark and take only the thrift server component.

I have started to replace the "thrift" functions with JDBC commands to trino.

Authentication and query execution is working, BUT I have problem to forward the Dataset to PowerBI.

Another big problem, from my point, ..... really "hackish" ;)

If I have a more clean code I will distribute for sure

[2021-06-21 08:55] findepi commented on #2273
Iceberg `timestamptz` is yet another example.

[2021-06-21 09:07] findepi opened #8332 "Avoid lenient Number cast in writeNativeValue"
In the past a conversion through `Number` "interface" has proven to be able to mask bugs in the code.
We should remove these conversions from `io.trino.spi.type.TypeUtils#writeNativeValue`.

[2021-06-21 09:25] yunfeng79 commented on #8331
use DBeaver  (trino)

SQL:
CREATE TABLE clickhouse.trino_ck (
  id int NOT NULL,
  birthday DATE,
  name VARCHAR,
  age BIGINT,
  logdate DATE
)
WITH (
  engine ='MergeTree',
  order_by = ARRAY['id', 'birthday'],
  partition_by ='toYYYYMM(logdate)'
);

@hashhar
SQL error [18]: Query failed (#20210621_090128_00971_tm6aw): Catalog 'clickhouse' does not support table property 'order_by'
  Query faile

[2021-06-21 09:47] findepi commented on #8274
@pvliborio absolutely!

[2021-06-21 09:56] Crossoverrr commented on #8252
Conversation link is below:
https://trinodb.slack.com/archives/CP1MUNEUX/p1623318575296500

[2021-06-21 10:15] hashhar commented on #8331
@yunfeng79 This works for me:

[code]

[2021-06-21 10:27] yunfeng79 commented on #8331
@hashhar SQL 错误 [18]: Query failed (#20210621_102626_01092_tm6aw): Catalog 'clickhouse' does not support table property 'order_by'
  Query failed (#20210621_102626_01092_tm6aw): Catalog 'clickhouse' does not support table property 'order_by'
  Query failed (#20210621_102626_01092_tm6aw): Catalog 'clickhouse' does not support table property 'order_by'
    io.trino.spi.TrinoException: Catalog 'dongx

[2021-06-21 10:34] findepi commented on #8312
Covered by https://github.com/trinodb/trino/issues/7100

[2021-06-21 10:34] #8312 closed

[2021-06-21 10:40] findepi commented on #8330
Moved to https://trinodb.slack.com/archives/CP1MUNEUX/p1623946311409900

[2021-06-21 10:40] #8330 closed

[2021-06-21 10:44] buremba commented on #6886
Hi @harlequin, I agree with you as it's being too hackish. :)

I spent some time on it and I believe that the most straightforward way would be through the ODBC driver as PowerBI has native integration with ODBC.

1. Hetu seems to a fork of Presto and they have an [ODBC driver](https://github.com/openlookeng/hetu-odbc-driver).
2. Elasticsearch (has a similar approach to Trino) also has an ODBC dri

[2021-06-21 11:42] #775 closed

[2021-06-21 12:24] yangliang9004 commented on #8306
Bit, we send SQL to Presto on our website instead of Presto cli; So this kind of debug information doesn't work; If I have to count 91 characters to find this expression, it's not enough friendly.

[2021-06-21 12:26] yangliang9004 commented on #8306
This change doesn't cost much， only need to add a line code.

[2021-06-21 13:26] hashhar commented on #8331
Table properties for ClickHouse are supported since Trino 355. What version are you using?

Also can you please run the CLI using `--debug` and share the full stack-trace. It'll make it easier to see the root cause.

[2021-06-21 13:30] yunfeng79 commented on #8331
using Trino 353,thank you!

[2021-06-21 13:54] kokosing commented on #6439
One of the ideas would be to implement `kafka.config.resources` (like `hive.config.resources`) where user could pass their own properties that could be then used when connecting to Kafka services.

[2021-06-21 14:04] kokosing commented on #6439
Yes. However Trino might override them. For example if you configure SSL in such file and SSL specific properties then they can be overriden.

[2021-06-21 14:09] harlequin commented on #6886
When you are going with the native ODBC implementation you don't have the Direct Query Modus directly available.

At this point you have also to develop a Power BI Connector which handles the ODBC as direct query source.

I have seen that on Microsoft there is a data source called "HD Insight" which is the same like Apache Spark Thrift just rebranded.

This data source supports direct query and al

[2021-06-21 15:12] klDen commented on #6439
Great. If this is the chosen solution, I'd be happy to help out on this.

[2021-06-21 16:40] #8158 closed

[2021-06-21 16:41] martint commented on #8170
[code]

https://github.com/trinodb/trino/issues/8158

[2021-06-21 16:53] kasiafi commented on #7885
According to the spec, `DISTINCT` in function call only applies to certain aggregate functions, which are
- either `<general set function>`:
[code]
except `STDDEV_POP, STDDEV_SAMP, VAR_SAMP, VAR_POP`
- or `<listagg set function>`

If the aggregate function is called over a window, there is further limitation:
- `DISTINCT` is not allowed if the window has ordering or frame.

This limits the usage o

[2021-06-21 18:32] OLMS99 commented on #1610
Hello. Is the issue still open? Can I help? @ankitdixit @findepi

[2021-06-21 18:36] findepi commented on #1610
There seems to be a PR for this https://github.com/trinodb/trino/pull/7967.

[2021-06-21 18:42] OLMS99 commented on #1610
Ok, thanks.

[2021-06-21 18:53] electrum commented on #8322
Your application is probably disabling auto-commit by calling `connection.setAutoCommit(false)`. If using auto-commit, the client will create a new transaction for each query. In transaction mode, the application needs to call `connection.rollback()` after a failure. However, it appears that `rollback()` should clear the transaction ID after executing `ROLLBACK` on the server side (regardless of w

[2021-06-21 19:33] kokosing commented on #6439
Please do.

[2021-06-21 21:57] buremba commented on #6886
Ah, I see. The custom connector option seems to be [straightforward](https://github.com/microsoft/DataConnectors/tree/master/samples/DirectQueryForSQL) but if you have such limitation, that makes sense. Do you have any plans to open-source the bridge?

[2021-06-22 00:37] djsstarburst commented on #8268
I'm surprised that Hive can't read files with the same bucket but different statementIds.  Confirming what you found, I used the orc-tools to decode the data files after the two inserts and two updates in the test cased by @findepi.  The results are below.

I guess it's obvious - - and I just tested it - - that if the two rows were inserted in a single insert transaction the test passes, because t

[2021-06-22 01:55] Anonymitaet commented on #7852
Hi @bitsondatadev thanks for [giving a talk at the Pulsar Summit](https://www.na2021.pulsar-summit.org/all-talks/trino%3A-a-ludicrously-fast-query-engine-). As we discussed before, you will write a blog to promote the Pulsar connector, have you started the work?

[2021-06-22 01:57] bitsondatadev commented on #7852
Not yet. I will add it to my list and work on getting it out next week.

[2021-06-22 02:08] yunfeng79 commented on #8331
@hashhar use Trino 358 not support ReplicatedMergeTree ?
SQL 错误 [18]: Query failed (#20210622_020836_00028_zsu72): Invalid value for table property 'engine': Cannot convert [ARRAY[ReplicatedMergeTree('/clickhouse/tables/{layer}-{shard}/v_event_1399686391344009216_bak1', '{replica}')]] to varchar
  Query failed (#20210622_020836_00028_zsu72): Invalid value for table property 'engine': Cannot conver

[2021-06-22 03:18] ic4y opened #8341 "query exceeded per-node user memory after killed,resource not freed and service crashed"
If a query’s resource occupation exceeds the resource of the node (Query exceeded per-node user memory limit of XXGB) , the query will be killed.

![image](https://user-images.githubusercontent.com/83933160/122857095-86f25080-d34a-11eb-9530-dd4831f4f384.png)

At this time, if you continue to submit the query that takes up a lot of resources (but it can be successfully executed normally). There wil

[2021-06-22 05:05] hashhar commented on #8331
From the documentation https://trino.io/docs/current/connector/clickhouse.html

[2021-06-22 05:11] caneGuy commented on #2518
We encountered same error on 338 release, any debug suggestion? @findepi thanks

[2021-06-22 05:16] simple-tec opened #8344 "After enable Password file authentication, i encounter error "Error starting query at https://***/v1/statement returned an invalid response: JsonResponse{statusCode=403} ""
### Issue Brief Description:
Before enable authentication, it works ok.
 After enable password file authentication, i encounter error :
`java.lang.RuntimeException: Error starting query at https://trino-ds-e300.***.com.cn/v1/statement returned an invalid response: JsonResponse{statusCode=403, statusMessage=, headers={cache-control=[must-revalidate,no-cache,no-store], content-type=[text/html;charse

[2021-06-22 05:18] simple-tec commented on #8344
could anyone help me ?

[2021-06-22 05:24] simple-tec commented on #8344
What puzzles me is that when the error occurs, the server does not print anything useful logs !

[2021-06-22 07:02] raunaqmorarka opened #8345 "Failure in TestOraclePoolRemarksReportingConnectorSmokeTest.init"
[code]

[2021-06-22 07:03] raunaqmorarka commented on #8345
Encountered in https://github.com/trinodb/trino/pull/8327

[2021-06-22 07:29] kasiafi commented on #8170
[code]
https://github.com/trinodb/trino/pull/8141
(there was no corresponding issue)

[2021-06-22 07:54] findepi commented on #8170
[code]

#8320

[2021-06-22 08:22] caneGuy commented on #2518
I found the cause. When the worker is restarting and coordinator try get get task info from this worker, it may throw this kind of exception since the handler have not been loaded

[2021-06-22 08:45] losipiuk opened #8346 "Allow defining aggregation functions via annotations with type parameters, and different input signatures in a single class"
It is currently impossible to define an aggregate function using annotations when two input functions (annotated with `@InputFunction`) take different type parameters (via `@TypeParameter`). The same limitation also applies if one input function takes `@TypeParameter` and the other just `@LiteralParameter`. And possibly in some other cases.

E.g following definition will fail at runtime:

[code]
A

[2021-06-22 09:57] losipiuk opened #8347 "approx_set returns NULL for empty or only-nulls imput"
approx_set currently returns NULL if executed against empty input or input which contains just NULL values.
It feels like more reasonable approach would be to return empty HLL like `empty_approx_set`.

@martint, @findepi ?

[2021-06-22 10:01] findepi commented on #8167
@raunaqmorarka did you cover this?

[2021-06-22 10:21] raunaqmorarka commented on #8167
@findepi I've covered this for MVs in `testMaterializedView` but we don't have similar test on system.jdbc.tables/columns for tables and views in BaseConnectorTest

[2021-06-22 10:32] findepi commented on #8170
[code]

#8327

[2021-06-22 10:46] raunaqmorarka opened #8349 "Add support for COMMENT ON VIEW"
Currently we support `COMMENT ON TABLE` adding comments to a table.
It happens to work correctly on views in hive connector because `metadata.getTableHandle` returns a TableHandle in hive connector.
Ideally `metadata.getTableHandle` should return Optional.empty for a view or MV and connectors other than hive already follow that so COMMENT ON TABLE wouldn't work for views in other connectors.
We sh

[2021-06-22 11:47] cbows opened #8350 "Add support for embedded line breaks in CSV"
Using the Hive connector, I am trying to read a CSV which contains cells that have embedded new lines.

The [RFC](https://datatracker.ietf.org/doc/html/rfc4180) has it covered (page 2):

Here is an example CSV

[code]

which I try to query from a table

[code]

[code]

that returns

[code]

[2021-06-22 11:47] findepi commented on #8347
Most aggregations return NULL for empty input.
Also, it seems most aggregations ignore NULL values on input, so it might be typical for them to return NULL result for all-NULL input as well.

Now, i don't know whether this is just an incidental pattern, or a design principle.
I don't see why `approx_set` over empty input, or over all-NULL input, wouldn't return `empty_approx_set()`.

cc @martint @