[2020-06-10 01:19] ArvinZheng opened #3982 "UNNEST does not support struct"
In following query, `rollup.fees` is an array of structs, we were able to UNNEST fees into t(fee) in Presto 0.180 and then access the columns by `t.fee.column`, or access the entire struct by `t.fee`
[code]
After upgraded to Presto 317, the above query failed by following error
[code]

To workaround/fix the issue, I converted my query to below, in this case I am able to access the columns in the s

[2020-06-10 03:28] chongfeng-hu commented on #3927
@electrum One more follow-up question:

As you mentioned, `presto.s3.credentials-provider` needs to implement `com.amazonaws.auth.AWSCredentialsProvider` and have a constructor that takes (`java.net.URI`, `org.apache.hadoop.conf.Configuration`). Given only these two constructor parameters, how do we obtain access to `UserGroupInformation` inside the `presto.s3.credentials-provider`?

[2020-06-10 05:33] ArvinZheng commented on #3982
nvm, figured out it's an intentional improvement, closing this ticket.

[2020-06-10 05:33] #3982 closed

[2020-06-10 06:40] findepi commented on #3966
I personally have no objections for changing this number to 100ms.

[2020-06-10 06:44] codekaust commented on #608
Hey @ChethanUK
Could you solve this issue?

I am facing similar error:
[code]

[2020-06-10 06:50] findepi commented on #608
@codekaust did you try setting eg

[code]

can you also try it out with Presto 334 release (https://prestosql.io/download.html)?

[2020-06-10 12:12] dekelev opened #3985 "Error on selecting tinyint column from Cassandra table"
I'm getting an error when trying to query Cassandra table with `tinyint` column using the following simple query:
[code]

`DESCRIBE cassandra.default.test` shows the column type as `tinyint`.

The error is:
[code]

Presto v334

[2020-06-10 15:34] dekelev opened #3989 "Error connecting to ElasticSearch with TLS"
I'm unable to connect to ElasticSearch with TLS and getting this error when running a query:

[code]

I thought that `elasticsearch.tls.verify-hostnames` option set to `false` will fix that, but it didn't.

This is my `elasticsearch.properties` file:
[code]

The target ElasticSearch server config file `elasticsearch.yml` includes only the following regarding TLS:
[code]

BTW, I'm unable to open th

[2020-06-10 22:44] findepi commented on #3943
[code]

cc @Lewuathe

[2020-06-10 22:58] aayush27894 commented on #3917
Thank you for working on this. I just wanted to make sure what the function is doing.
The function should return the binary string with the bytes in the reverse order. So if the input bytes are ab cd ef then the function should return ef cd ab, right?

Also, could you tell when will this function be available to users?

[2020-06-10 23:06] findepi commented on #3985
This would probably require a change here:
https://github.com/prestosql/presto/blob/6d9d47e0909b3fe9367584ba8450827dbbb8e1d7/presto-cassandra/src/main/java/io/prestosql/plugin/cassandra/CassandraType.java#L284

The test should go `TestCassandraIntegrationSmokeTest`

(Normally, this would be covered by `TestCassandraDistributedQueries.testDataMappingSmokeTest`, but this test is disabled for Cassand

[2020-06-10 23:07] findepi opened #3993 "Enable testDataMappingSmokeTest for Cassandra"
See TODO

https://github.com/prestosql/presto/blob/fdbeea304bcf3252e7cd1be718dcd148340cf764/presto-cassandra/src/test/java/io/prestosql/plugin/cassandra/TestCassandraDistributedQueries.java#L153-L160

1. enable the test
2. for any test cases that fail, create exclusions as here: https://github.com/prestosql/presto/blob/329a48592ecb6c628712ef3648f2e8da7eb33d38/presto-mysql/src/test/java/io/prestosq

[2020-06-10 23:10] Lewuathe commented on #3943
Sorry, I’ll take a look.

[2020-06-10 23:10] findepi commented on #3985
@dekelev please provide steps to reproduce.
In particular, it's not possible to create such table via Presto:
[code]

so steps to reproduce will be useful to whoever picks this up.

[2020-06-11 04:30] ebyhr commented on #3985
@dekelev Additionally, could you share Cassandra version and cassandra.proerrties? I also couldn't reproduce the issue.

[2020-06-11 04:55] vasantteja commented on #3917
@aayush27894 I am working on this. But you example appears to be different from the example given by @electrum. Can you please clarify?

[2020-06-11 06:32] ssquan commented on #3561
This is the same as #3883

[2020-06-11 07:51] dekelev commented on #3985
In Cassandra (CQL):
[code]

In Presto:
[code]

cassandra.properties:
[code]

Cassandra v3.11.3

[2020-06-11 08:40] ebyhr commented on #3985
@dekelev Do you have special reason specifying `cassandra.protocol-version`? This issue won't happen if you remove `cassandra.protocol-version` property or use `V4`.

[2020-06-11 09:05] dekelev commented on #3985
@ebyhr I was under the assumption that I need V3 since I'm using Cassandra v3.x cluster, not because an actual error that I got. The query does work now!

[2020-06-11 12:16] findepi commented on #3561
Done in https://github.com/prestosql/presto/pull/3885

@ssquan thanks

[2020-06-11 12:16] #3561 closed

[2020-06-11 12:24] codekaust commented on #608
Yes @findepi
In-fact I set it to 15m, but instantly on running the query, it gives me the error
So do you think, that can be a solution

[2020-06-11 12:29] dekelev opened #3999 "Redis tableName should be case-sensitive"
When configuring Redis `tableName` option, upper-case chars are automatically treated as lower-case, so only lower-case keys are found when querying the table.

For example, I have 2 keys in Redis:
1. `Test:1` with value `1`
2. `test:2` with value `2`

redis/test.json
[code]

redis.properties
[code]

Query
[code]

Problem: Only the second (lower-case) key will be returned.

Presto v334
Redis v4.0.

[2020-06-11 15:25] findepi commented on #3999
Currently, all schema, table and column names in Presto are always lowercase.
We are working on getting this right under https://github.com/prestosql/presto/issues/17.
Before that is completed, there is unfortunately no way to access redis "tables" that differ in case only.

If the name is not in lower-case, and an all-lower-case name does not exist, it is still possible to do a match,
and we do s

[2020-06-11 15:37] findepi commented on #608
Can you share the stacktrace you are getting when running Presto 334?

[2020-06-11 15:38] findepi commented on #3985
@dekelev thanks for confirming!

[2020-06-11 15:38] #3985 closed

[2020-06-11 17:07] aayush27894 commented on #3917
I had a discussion with @electrum on the slack channel about this.
https://prestosql.slack.com/archives/CFLB9AMBN/p1590780859115600

We are talking about converting hex string into little endian, which requires us to reverse in a way that I showed. @electrum could you please confirm this?

[2020-06-11 18:02] abhisheksahani opened #4003 "Presto mongo connector version 334 is null query returning incorrect output"
Presto version:334

### Steps to reproduce

A.) Add 4 documents in mongo having state information of users.

1. {
  "_id": ObjectId("5ee1d46f6c09d6b54e5c4c71"),
  "state1": "TELANGANA1"
}

2.{
  "_id": ObjectId("5ee1d4746c09d6b54e5c4c72"),
  "state1": "TELANGANA1",
  "state": "TELANGANA1"
}

3. {
  "_id": ObjectId("5ee1d4796c09d6b54e5c4c73"),
  "state1": "TELANGANA1",
  "state": null
}

4.{
  "_id

[2020-06-11 19:26] JeffryMAC commented on #2260
This is kind of useful @ankitdixit @findepi what is the status?

[2020-06-11 20:55] findepi commented on #3886
[code]

(not sure it's worth mentioning)

https://github.com/prestosql/presto/issues/3956

[2020-06-11 21:30] lhofhansl commented on #3928
FWIW, as a test I removed the AsyncIterator code; with everything on the localhost I see no slowdown.

With client and server on localhost we obviously have no networking latency. My data comes from Hive table (on a local HDFS)

For kicks I introduced a 10ms delay into my LOCAL network and still see no measurable difference in performance with or without the AsyncIterator.

So my question: What pr

[2020-06-11 21:56] martint commented on #3886
[code]

#3697

[2020-06-11 22:17] tooptoop4 commented on #18
another item not mentioned in the description is pushdown of ORDER BY ie to take advantage of  indexes/partitions in source db

[2020-06-11 22:43] tooptoop4 opened #4006 "Allow Presto LDAP credentials to pass through via catalog property (not extraCredentials)"
Allow catalog properties (ie mysql) to refer to each user's presto LDAP credentials WITHOUT the user having to pass extraCredentials parameter in their JDBC connection string

eg
Catalog properties (ie server side)
connection-user=<LDAP>
connection-password=<LDAP>

When set to <LDAP> then each user's credentials from their Presto client connection pass through to the catalog JDBC source (ie mysql,

[2020-06-11 22:57] electrum commented on #3928
@lhofhansl I remember seeing a benchmark associated with the original PR, but I can't seem to find it now. @ShashwatArghode do you remember the use case that motivated this and the benchmark numbers?

[2020-06-12 03:09] ShashwatArghode commented on #3928
Thanks @findepi for cc-ing.
@electrum This was a general improvement over the previous Presto code and I think was asked by users as well. The benchmark was performed on an actual Presto cluster on HDFS back then and [this](https://github.com/prestosql/presto/pull/965#discussion_r294021918) is the link.

I was looking into possible solutions

Approach 1:
downloadSpeed_END_TOKEN.txt is the patch in

[2020-06-12 06:50] vasantteja commented on #3917
@aayush27894 gotcha. If we are going to reverse the binary string we are going to arrive at your output. There is a sliceutf8.reverse implementation from string functions which I can use to achieve the reverse functionality. @electrum is this the right approach or do you anything else to add?

[2020-06-12 10:04] findepi opened #4009 "Map Parquet columns case-insensitively when pushing down predicates"
https://github.com/prestosql/presto/blob/922f1712462421fb13ef59de894999cdf44c6afd/presto-hive/src/main/java/io/prestosql/plugin/hive/parquet/ParquetPageSourceFactory.java#L326

- should match case-insensitively like in https://github.com/prestosql/presto/blob/237313b11f6e27356b48c014bb9ee53cb1e7af6c/presto-parquet/src/main/java/io/prestosql/parquet/ParquetTypeUtils.java#L171-L180

split from https

[2020-06-12 14:57] urbanfletch commented on #3950
working on this

[2020-06-12 15:23] martint commented on #3950
This is problematic, actually. Intervals are a rather complex type. There are two major classes: year-month, day-time. Within the day-time class, all of these are valid variants of interval (in the SQL spec -- we don't support them all yet):

`INTERVAL SECOND(5, 3)`
`INTERVAL SECOND(5, 12)`
`INTERVAL SECOND(5)`

`INTERVAL MINUTE(5)`
`INTERVAL HOUR(5)`
`INTERVAL DAY(5)`

`INTERVAL DAY(5) TO SECOND(

[2020-06-12 16:08] mosabua opened #4012 "Spill to disc doc check"
Ensure proper doc for spilling

From @findepi
global limit enforcements must be configured on coordinator (ideally, you wouldn’t be able to config them on worker at all, but this probably is not the case today)
max-spill-per-node , query-max-spill-per-node — you need to configure on each worker (but you shouldn’t need on the coordinator)

[2020-06-12 16:30] electrum commented on #3928
@ShashwatArghode Using `Thread.getState()` is not the right way, as you noticed. The "end token" approach seems like a good way. What do you mean about "same problem with slow running queries"?

I think part of the problem is that we don't have a reproducible benchmark. @ShashwatArghode would you be able to reproduce your original benchmark results using the TPC-H connector?

@lhofhansl do you wan

[2020-06-12 17:22] findepi commented on #3950
Currently `INTERVAL DAY TO SECOND`
Later: `INTERVAL DAY TO SECOND(3)` (i don't know what should be the "p" for the `DAY` part)

That's nice idea.
We should have an issue for this.

If we had such a cast, would it make sense to have a function complimentary to
`to_milliseconds(interval)` that we have today?

(i think it would)

[2020-06-12 17:31] martint commented on #3950
But once we support all forms of interval, the function is no longer complementary. You'll be able to go from any form to milliseconds but not the other way around:

`to_milliseconds(INTERVAL '12' HOUR) => 43200000`

but

`from_milliseconds(43200000) => INTERVAL '0 12:00:00.000' DAY TO SECOND(3)`

[2020-06-12 17:37] martint commented on #3950
Note that while `INTERVAL '1' DAY` and `INTERVAL '1 00:00:00.000' DAY TO SECOND(3)` measure the same amount of time, they are not entirely equivalent. For instance:

`DATE '2020-05-01' + INTERVAL '1' DAY => DATE '2020-06-01'`

but

`DATE '2020-05-01' + INTERVAL '1 00:00:00.000' DAY TO SECOND(3) => error`

[2020-06-12 17:52] lhofhansl commented on #3928
@ShashwatArghode I looked into the token approach as well. It complex in the following scenario: The AsynchIterator filled it's blocking queue, the parent thread is interrupted, and the client is not reading from the iterator. In that case I could not convince myself on a good solution to guarantee the thread not hanging around indefinitely.

@r0hini I tried with 128m records reading in batches of

[2020-06-12 18:17] r0hini commented on #3928
Since using separate threads for fetch and writing worked out really well for the CLI, we just went with the same approach for JDBC as well. Network latency wasn't the main reason even though it could be a factor if users were connecting via VPN and have poor wifi. Most of the time, it was the jdbc clients themselves being slow in processing a record and some custom clients were fetching using Pre

[2020-06-12 19:03] electrum commented on #3886
[code]
#3673

[2020-06-12 19:05] electrum commented on #3886
[code]
#3920

[2020-06-12 19:22] lhofhansl commented on #3928
Thanks @r0hini just asking because if the problem is the source iterator itself being slow - and hence we wanted it to fill a queue while the JDBC client is doing its processing - then prefetching might not be effective since it would still be done with the JDBC client waiting for the prefetching.

[2020-06-12 20:09] hashhar commented on #3965
@martint Thanks, can confirm I haven't seen this re-appear on our staging cluster with the patch applied.

[2020-06-12 20:15] martint commented on #3965
Thanks for confirming!

[2020-06-12 21:41] findepi commented on #3886
[code]

https://github.com/prestosql/presto/pull/4005

[2020-06-13 06:50] haldes commented on #1559
@findepi
Adding another few instance

https://github.com/prestosql/presto/blob/a7a2d7c441d1ed6565c6902425bfbd1a56b74c40/presto-plugin-toolkit/src/main/java/io/prestosql/plugin/base/security/FileBasedAccessControl.java#L402

https://github.com/prestosql/presto/blob/a7a2d7c441d1ed6565c6902425bfbd1a56b74c40/presto-plugin-toolkit/src/main/java/io/prestosql/plugin/base/security/FileBasedSystemAccessCon

[2020-06-13 08:22] findepi opened #4017 "Invalid Date, Timestamp returned from JDBC ResultSet when session zone different from JVM zone"

[2020-06-13 08:23] findepi opened #4018 "Invalid Date, Timestamp returned from JDBC for date times before 1582"

[2020-06-13 08:24] findepi commented on #4018
Depends on https://github.com/prestosql/presto/issues/4017
-- it may be hard to do both that issue and this one correctly.

[2020-06-14 09:34] nikitasherman commented on #4003
I would be glad to take it.

Basically as I see it today the issue is here:

`private static Document isNullPredicate()
    {
        return documentOf(EXISTS_OP, true).append(EQ_OP, null);
    }`

It is producing the following mongo query which is enforcing the existence of field and it's equality to `null`

The query is like that:
`{"state": { $exists: true, eq: null }}`

[2020-06-14 17:14] tooptoop4 commented on #4006
a challenge with this ldap passthrough approach is when using impersonation (ie via superset) the principal is the superuser and the user is the enduser but the enduser's password is not supplied in the connection (just the superuser's username/passw is) so the JDBC catalog will not have access to the end users password

[2020-06-14 22:04] #3886 closed

[2020-06-15 04:11] martint opened #4027 "Release notes for 336"
## Dain Sundstrom
- [x] all checked
-  06-16 11:00:11    fa31107f3b Add default system access control which denies impersonation
-  06-16 13:55:08    88cb4c2954 Improve startup configuration error reporting
-  06-16 13:55:08    ae671bd06c Upgrade to Airlift 0.198
## David Phillips
- [x] all checked
-  06-16 13:47:48    53119fe5ba Add PRESTO_PASSWORD usage
## Grzegorz Kokosiński
- [ ] all checked
-

[2020-06-15 10:34] sopel39 opened #4032 "Add dynamic partition pruning integration test with dummy connector"
We currently lack a test where we ensure that dynamic partition pruning works end-to-end with connector.

[2020-06-15 11:04] kokosing commented on #4027
[code]
#3591

[2020-06-15 11:32] findepi opened #4033 "TestHiveBucketedTables.testBucketingVersion is not run on CI"
It should be run in suite-1.

this is logged:
[code]

and `HiveProductTest.testBucketingVersion` is not even mentioned in the logs.

[2020-06-15 12:18] findepi opened #4035 "@DataProvider failure is ignored"
See https://github.com/prestosql/presto/issues/4033

-- such exception should result in tests failure, not skipped tests.

[2020-06-15 15:01] findepi commented on #1977
https://github.com/prestosql/presto/runs/772557446

[2020-06-15 15:01] #4033 closed

[2020-06-15 15:35] r0hini commented on #3928
@lhofhansl, you mentioned that you are not seeing any difference at all and thinking more on that, it does not sound right to me because the parallelization of fetching and parsing json in parallel should make some difference. Does you testing just loop through rs.next() without doing anything with the records or it at least has a print statement of each record? Can you give details of your benchm

[2020-06-15 20:26] electrum commented on #3917
@vasantteja No, this is for binary strings, not UTF-8, so it should be reversing the raw bytes.  `SliceUtf8` is for UTF-8 strings and works on Unicode characters (which can be multiple bytes).

@aayush27894 was talking about hex strings, which is unrelated to this new binary reverse function. I originally suggested that reverse on hex could solve his problem (but that's clearly wrong as you'd need

[2020-06-15 20:57] martint commented on #4027
[code]
#4036

[2020-06-15 21:02] martint commented on #1787
We should add tests for PARAMETRIC_DATETIME capability. Specifically, queries that involve the following types:
* timestamp(3)
* timestamp(p) with p < 3
* timestamp(p) with p > 3
* All the above, when nested in another type such as array, map or row.

[2020-06-15 21:04] #3574 closed

[2020-06-15 21:05] findepi commented on #4027
[code]

https://github.com/prestosql/presto/issues/3574 https://github.com/prestosql/presto/pull/3935

[2020-06-15 21:09] findepi commented on #4032
@sopel39 can we get this impl'd for tpch connector (when partitions are enabled), or is it too few partitions there?

[2020-06-15 21:11] sopel39 commented on #4032
I don't think you can assert that partitions were skipped with tpch connector (can you?). In dummy connector you can actually wait for dynamic filter to materialize.

[2020-06-15 21:13] lhofhansl commented on #3928
@r0hini Hmm... I only get a value of the resultset every 10.000th call to next(). I'll change it to retrieve a value each time.
(And for the record, I'm not saying the parallelization is not needed, I'm trying to figure out the scenario, in order to figure out whether it's possible to simplify the logic and avoid the busy wait. :) )

[2020-06-15 22:19] lhofhansl commented on #3928
Ok... Now when I introduce a 100ms (!) network delay I see about 25% improvement with the change.
I.e. ~1100ms to ~1400ms for 100k rows.

(again with 100k rows each time, and an artificial network latency of 100ms)

That is without and prefetching, just removing the AsyncIterator. I just cannot find a scenario that would justify the extra busy waiting.

[2020-06-15 22:25] stonewallstan commented on #3993
Is anybody on this yet?

[2020-06-15 22:43] r0hini commented on #3928
Intent was to speed up the total response time and since it was single threaded with laptops to servers hosting BI tools having more cores available, we decided to use separate threads for speeding up. One for fetch (both network time and compute time of parsing json http response->objects) and another for format/print (mainly compute time but possible that the custom jdbc user code involves some

[2020-06-16 00:52] lhofhansl commented on #3928
Thanks @r0hini  I'll try with timestamps too.

We can wait for two conditions with a traditional Java monitor (Java synchronized). Each time we add something to queue or when the Future is done we `notify()`. On the other thread we just check the condition and wait() in a loop.  Problem is we'd have to enter and leave the monitor a lot (on the "sending" side, which at least need to perform a memor

[2020-06-16 02:18] lhofhansl commented on #3928
I have a version with a counting Semaphore that does not busy looping. But all the synchronization overhead seems to outweigh the benefit. I see it taking about 1450ms/100.000 iterations. (simple getInt() still)

[2020-06-16 07:47] haldes commented on #3948
@findepi - I want to pick this up. Can you please assign this to me.

[2020-06-16 07:49] findepi commented on #3948
@haldes thank you!

before you do, however, we should come to agreement on the syntax.

@electrum @martint

[2020-06-16 07:56] findepi commented on #3993
Not that i know of. @ebyhr  please confirm.

[2020-06-16 08:31] ebyhr commented on #3993
@stonewallstan Please feel free to pick up this issue. Thanks in advance!

[2020-06-16 08:40] JeffryMAC opened #4041 "presto UI needs to expose also number of queries in Planning"
Currently the UI shows only Running and Queued.
It doesn't show how many queries are in planning nor there is any indication why Planning step takes very long time.

[2020-06-16 10:32] javimartinez opened #4044 "Hive Connector: Support ACID tables created with Hive Streaming Data Ingest"
Reference: https://cwiki.apache.org/confluence/display/Hive/Streaming+Data+Ingest

[2020-06-16 12:17] haldes commented on #3948
Thanks @findepi

[2020-06-16 13:51] #496 closed

[2020-06-16 18:06] dain commented on #4027
[code]
#4040

[2020-06-16 19:15] lhofhansl commented on #3928
Here's the change with the Semaphore... Pretty simple, just counts the number of expected rows in a Semaphore, and uses that to block.
[code]

[2020-06-16 19:31] hashhar commented on #2817
I'm willing to pick this up starting the coming weekend. This is a pain point for me too.

The existing workarounds are to create a new external table with the problematic column removed but it would be nice to support such conversions where possible.

[2020-06-16 20:48] vasantteja commented on #3917
Okay. I got it. I will do a reversal in the hex pair instead of whole hex reversal.

[2020-06-16 21:06] dain commented on #4027
[code]
#4050

[2020-06-16 21:07] dain commented on #3965
Merged!

[2020-06-16 21:07] #3965 closed

[2020-06-16 21:09] martint commented on #4027
[code]

#4050

[2020-06-17 00:02] #4027 closed

[2020-06-17 03:34] on99 opened #4057 "hive connector cache does not support multiple locations"
https://github.com/prestosql/presto/blob/master/presto-hive/src/main/java/io/prestosql/plugin/hive/rubix/RubixConfig.java#L90

Is it possible to support multiple locations cache? We have multiple ssd devices attached to one machine.

[2020-06-17 05:29] electrum opened #4058 "Release notes for 337"
## Dain Sundstrom
- [x] all checked
-  06-17 14:23:59    573f56e901 Remove old builds for branches that have new pushes
-  06-24 11:34:37    18f6afb950 Set statistics in RowGroup metadata
-  06-24 11:34:37    19e555938a Support getRetainedBytes in ParquetWriter
-  06-24 11:34:37    66f3158300 Expose written bytes and buffered bytes in ParquetWriter
-  06-24 11:34:37    783fc398e8 Support setting p

[2020-06-17 07:30] ShashwatArghode commented on #3928
@electrum By slow running queries, I meant the datastore which is inherently slow in providing data to the iterator. In this case, we will busy loop until the data is available.

@lhofhansl, as @electrum suggested I used lineitem table from sf30 schema from the TPC-H catalog with single node (presto-coordinator + presto worker) locally. I did a `select *` on the table and just printed all values a

[2020-06-17 07:43] sopel39 commented on #4057
Hi @on99. You can specify multiple locations via properties like:
[code]

@mosabua Maybe we should put that information in documentation?

[2020-06-17 07:43] #4057 closed

[2020-06-17 10:13] Lewuathe opened #4060 "Incorrect non revocable memory usage calculation in QueryStatistics"
`getPeakTotalNonRevocableMemoryBytes` in QueryStatistics is obtained from the `getPeakTotalMemoryReservation` in QueryStats. But peak total memory reservation is the sum of the user, system, and revocable memory reservation. Hence, nonrecoverable memory should come from the total of user and system, not total memory reservation.

See: https://github.com/prestosql/presto/pull/3996#discussion_r44006

[2020-06-17 11:25] findepi opened #4061 "Update HDP 3.1 testing environment to 3.1.5"

[2020-06-17 11:27] wendigo commented on #4061
Repositories for 3.1.5 require authentication :(

[2020-06-17 12:03] hashhar opened #4063 "Flaky test: hive.parquet.TestParquetReader.testComplexNestedStructs"
See https://github.com/prestosql/presto/runs/778875407?check_suite_focus=true#step:5:22755 for the exact CI run.

Stack trace below:

[code]

[2020-06-17 12:40] losipiuk commented on #4063
It is reproducable with
[code]
still requires a few runs though.

[2020-06-17 12:43] losipiuk commented on #4063
Sometimes it fails at different point:
[code]

[2020-06-17 13:56] ebyhr opened #4064 "Add Cassandra partition column info to SHOW CREATE TABLE result"
It will be similar to Hive connector's `partitioned_by` property.

[2020-06-17 15:15] awishnick opened #4065 "Highly selective LIMIT queries don't complete as soon as required data is output"
This is a clone of https://github.com/prestodb/presto/issues/9317. I saw this issue come up in prestosql slack recently and it's affecting us too.

From that issue:

A query like the following one on a large table (19.8B rows, 347GB) where only one row matches the where clause keeps running after that row is returned to the client.

[code]

[2020-06-17 15:48] lhofhansl commented on #3928
@ShashwatArghode Any chance that you could try with the simple Semaphore change above? (I'll be a bit busy in the next few days.)

When either source iterator or the network is slow the extra synchronization overhead should be absolutely negligible.

[2020-06-17 16:32] hashhar opened #4069 "Presto trying to access default table location even when external_location is provided"
From https://prestosql.slack.com/archives/CGB0QHWSW/p1592389129168400

Reproduced on Presto 334.

1. Create a schema with default location pointing to some non-existent/inaccessible node. (In my case this was due to a pre-existing schema on AWS Glue).

[code]

2. Run a CTAS for an external table

[code]

This causes an `io.prestosql.spi.PrestoException: Failed checking path: hdfs://some-inaccessib

[2020-06-17 16:35] hashhar commented on #4069
From the slack discussion:

[2020-06-17 17:05] losipiuk commented on #4061
If this update is enough to get rid of this check:
https://github.com/prestosql/presto/blob/ccf6968ef9ce5fe1aa782017e1b2583a7f8f0014/presto-product-tests/src/main/java/io/prestosql/tests/hive/TestHiveTransactionalTable.java#L135-L143
we shoudl get rid of it

[2020-06-17 18:45] djsstarburst opened #4070 "Enforcement of NOT NULL column constraints"
This issue is created to decide how enforcement of NOT NULL column constraints should be supported, and implement that support.   Discussion of this issue was triggered by the desire to support NOT NULL constraints for the Iceberg connector.  But we wondered if it should be handled in the Presto engine in a generic way, independent of connector type.

I asked for opinions in the #dev Slack channel

[2020-06-17 18:55] parambole commented on #3866
Flow with respect to Google sheets

### Create table Statement:
Flow:
On running the create table command a new entry is created in the GSheet Metadata table.

### Insert Statement:
Flow:
First get the sheet id of table in the Insert statement. Insert the values in that sheet

### Drop Statement

Flow:

In the metadata sheet replace the name of the table with something like table_<<Guid>> or table

[2020-06-17 18:57] parambole commented on #3866
@community Design wise would you suggest decoupling the metadata of tables from Google sheets ( metadata sheet ) to some other database like Mysql ( like hive ) please let me know why you would choose one over the other

[2020-06-17 19:12] electrum commented on #3866
Instead of changing the name, we could have a "deleted" column in the metadata table. Any tables marked as deleted would be ignored by the engine. Otherwise this flow looks good.

The reason this connector exists is to make it easy to import/export data. Having the metadata in a sheet allows end users to easily manage the table to sheet mapping. Storing the metadata externally doesn't seem particu

[2020-06-17 19:30] parambole commented on #3866
@electrum Thank you for replying. Yes, I considered that option too. I will change the flow for Drop table statement based on your previous comment.

[2020-06-17 19:50] #3868 closed

[2020-06-17 19:53] findepi commented on #4058
[code]

https://github.com/prestosql/presto/pull/3891  https://github.com/prestosql/presto/issues/3868

[2020-06-17 19:55] alexjo2144 opened #4073 "TestingPrestoClient cannot handle nested columns with hyphens"
Using the memory connector, this works on the cli:
[code]

But doing the same queries via a test's `QueryRunner` like in `TestMemorySmoke` causes an exn:
[code]

[2020-06-17 20:51] mosabua commented on #4057
Done.

[2020-06-17 21:22] djsstarburst commented on #4070
So it seems to me that we have these options:

- Implement enforcement of the NOT NULL constraint only in the Iceberg connector, being careful to also validate data read, since as @martint points out, Presto might not be the only writer of the data.
- Implement enforcement of the NOT NULL constraint generically in core Presto, both for reading and writing, but use of it only for connectors that do

[2020-06-18 02:37] aayush27894 commented on #3917
Hi, think I have figured the code for the reverse logic, could you please tell me how I could contribute?

[2020-06-18 03:34] electrum commented on #3917
GitHub has guides to help you get started: https://guides.github.com/

The basic flow is to fork the repository, clone it to your computer, create a branch for your change, make the change, commit it, push the branch to your fork, then submit a pull request.

The guides should help you learn this process. Try following “Hello World” first.

[2020-06-18 09:07] findepi commented on #4070
Currently, in JDBC connectors the DEFAULT value is utilized only when we _do not_ write any data (we insert specifying a subset of columns).
This is probably also the correct behavior. So, we could enforce NOT NULL when writing also there.

[2020-06-18 11:50] shenh062326 opened #4075 "Support query level scan bytes limits"
In our presto cluster, we have add a feature limits query level scan bytes,  prevent big query.  I want to contribute it to Presto. I will add a PR.

[2020-06-18 12:52] abhisheksahani opened #4077 "Presto mongodb connector no parallelism"
we tested querying mongo collection via presto and we observe that only a single worker is getting the data from Mongo collection and applying operators aggregation.

Can't we achieve parallelism via presto Mongo connector?.

[2020-06-18 16:24] findepi commented on #4077
Correct. currently the Mongo Connector is "single-threaded", it creates single "split" to read data.

For anyone wanting to improve this, the code is here
https://github.com/starburstdata/presto/blob/d37eddd6c20e9c285324cbd6532a33cc52db6425/presto-mongodb/src/main/java/io/prestosql/plugin/mongodb/MongoSplitManager.java#L50

[2020-06-18 17:27] djsstarburst commented on #4070
@electrum and I talked about enforcement of NOT NULL constraints, and plan to begin by adding enforcement on writes in the Presto engine, so enforcement will apply to all connectors.  The plan is to do enforcement in TableWriterOperator.addPage(), based on a set of non-null column channels prepared by LocalExecutionPlanner and passed through TableWriterOperatorFactory.

[2020-06-18 17:51] martint commented on #4058
[code]

https://github.com/prestosql/presto/pull/3947

[2020-06-18 17:54] martint commented on #1284
Support variable precision timestamp with timezone is merged and will be in the next release.

[2020-06-18 21:30] losipiuk commented on #4058
Hive:
* Add add support for ``null_format`` table property for tables using TEXTFILE storage format (:issue:`4056`)

[2020-06-18 22:40] martint opened #4084 "Bad error message when type cannot be resolved"
[code]

Produces:

[code]

Note the references to ` io.prestosql.sql.analyzer.TypeSignatureProvider@...`

[2020-06-18 23:14] vasantteja commented on #3917
@aayush27894 Can you please discuss the logic you have in mind.

[2020-06-18 23:36] lhofhansl commented on #3966
#3990 got merged.

[2020-06-18 23:36] #3966 closed

[2020-06-19 03:12] amiorin commented on #3219
As in #3833, we are now evaluating to write an "admission controller" (the name comes from K8s) inside our Presto proxy. It will parse the query and reject queries that are not compliant. We don't need this PR anymore. Thank you for the review.

[2020-06-19 03:12] #3219 closed

[2020-06-19 05:58] losipiuk opened #4086 "Flaky test TestDynamicFilterService"
[code]

[2020-06-19 08:06] losipiuk opened #4089 "Broken io.prestosql.tests.hive.TestHiveTransactionalTable.testReadFullAcid"
[code]

[2020-06-19 08:06] losipiuk commented on #4089
May be related to https://github.com/prestosql/presto/issues/3635, but it does not look so on the first sight.

[2020-06-19 08:17] kokosing commented on #4089
This is test is not flaky. Something is broken here. I hit that 5 times with https://github.com/prestosql/presto/pull/4085

[2020-06-19 08:18] losipiuk commented on #4089
Yeah - agreed. It is not deterministic - but very common.

[2020-06-19 08:23] losipiuk commented on #4089
I sent out https://github.com/prestosql/presto/pull/4090. I is a blind guess a bit as I did not debug it locally.
If it helps we can merge it and investigate deeper.

[2020-06-19 08:41] findepi commented on #3928
@r0hini  I think it is a good idea.
Would you like to do that?

[2020-06-19 08:43] findepi commented on #3928
@lhofhansl
I am a bit surprised additional synchronization removes all the benefit from parallel work.
It could be in the case where "client app" (consumer of results) does very little, but should not be the case when client app does more work.
This is not to say I reject you observations. I am a bit confused which scenario you were testing this against.

Also, if we have to reduce the overhead of

[2020-06-19 09:00] losipiuk commented on #4089
Trying to repro it locally - but no luck so far.

[2020-06-19 09:14] findepi opened #4091 "Improve startup time of HDP3 test environments"
[code]

[2020-06-19 09:16] wendigo commented on #4091
I'd fix in HDP: `hadoop-hdfs-namenode.log:2020-06-19 14:57:11,745 - INFO  [main:BlockManagerSafeMode@602] - STATE* Safe mode ON.` which gives 30s penalty on startup

[2020-06-19 09:16] findepi commented on #4091
My guess is this has something to do with namenode starting in safe mode, which delays HiveServer2 start and opening port 10000.
We could try to force safe mode exit.

[2020-06-19 09:16] wendigo commented on #4091
Yeah :)

[2020-06-19 09:17] wendigo commented on #4091
We could try setting:

[code]

in hdfs-site.xml

[2020-06-19 09:31] wendigo commented on #4091
[code]

[2020-06-19 09:36] wendigo commented on #4091
https://github.com/prestosql/presto/pull/4094

[2020-06-19 10:34] wendigo commented on #4091
https://github.com/prestosql/docker-images/pull/60

[2020-06-19 11:12] #4086 closed

[2020-06-19 11:17] shandeep00 commented on #2379
@RosterIn , sorry for the delay. @findepi @electrum , can you please review the proposed syntax.

[2020-06-19 11:51] losipiuk commented on #4089
https://github.com/prestosql/presto/pull/4092 alone does not help.
https://github.com/prestosql/presto/pull/4090 seems to help but is very aggressive.

I hope for https://github.com/prestosql/presto/pull/4093 but CI is still in progress.

[2020-06-19 13:07] #4089 closed

[2020-06-19 13:53] findepi opened #4097 "Use apply-site-xml-override for kerberos test images configuration"
(Creating issue here instead of prestosql/docker-images for visibility.)

We could use https://github.com/prestosql/docker-images/blob/deb7329cd6b33df561ab70fd39d5ef4f292c1787/prestodev/centos7-oj8/files/usr/local/bin/apply-site-xml-override

Instead of overriding `prestodev/hdp3.1-hive/files/etc/hadoop/conf/hdfs-site.xml` with `prestodev/hdp3.1-hive-kerberized/files/etc/hadoop/conf/hdfs-site.xml`

[2020-06-19 15:06] martint opened #4098 "Migrate tests in io.prestosql.sql.query to AssertJ"
The [assertQuery](https://github.com/prestosql/presto/blob/master/presto-main/src/test/java/io/prestosql/sql/query/QueryAssertions.java#L144
) and [assertFails](https://github.com/prestosql/presto/blob/master/presto-main/src/test/java/io/prestosql/sql/query/QueryAssertions.java#L115) in QueryAssertions are deprecated in favor of AssertJ. Some tests in [io.prestosql.sql.query](https://github.com/pr

[2020-06-19 16:05] findepi commented on #1809
Superseded by https://github.com/prestosql/presto/issues/4098

[2020-06-19 16:05] #1809 closed

[2020-06-19 16:11] lhofhansl commented on #3928
@findepi I am too, and I am now questioning my testing. The Semaphore change is simple and easy to reason about... should be good. Perhaps I'll do a PR...?

[2020-06-19 18:31] electrum commented on #1267
Is there any code in the Iceberg library to handle this?

[2020-06-19 18:53] tooptoop4 opened #4102 "Web UI downloading too much data"
Web UI is downloading 1MB every 2 seconds. jquery.min.js mainly shows up in chrome tools.

"The exact size depends on the number of workers/active queries.
I can see 500kb per request.

Yeah, the main page can be pretty heavy if you have a lot of queries. It's a known issue but has never been a big priority to fix. It's a hard problem, as you need to separate out immutable data like query text fro

[2020-06-19 21:16] tooptoop4 commented on #4006
any idea which classes to change? @Praveen2112

[2020-06-19 21:17] rash67 commented on #1040
hi, sorry I've been off for a long while and have just recently returned to this.

The primary motivation is it creates unnecessary objects increases gc pressure. Previous profiling of object allocation showed as much as 4%. I re-ran some toy queries on tpch.customer such as:

select custkey, histogram(orderkey) from orders group by custkey;

and see 2% of objects allocated are ValueNode and Bucke

[2020-06-19 21:43] awishnick opened #4105 "Views don't expose Hive special columns"
If I create a view of a hive table (e.g. `CREATE VIEW hive.default.myview AS SELECT * from hive.default.mytable`) then the Hive special columns like `$path` can't be accessed through the view (for example, `SELECT "$path" from hive.default.myview LIMIT 1`). The error I get is `io.prestosql.spi.PrestoException: line 1:8: Column '$path' cannot be resolved`

[2020-06-19 21:53] dain commented on #4105
The "special" columns are marked as `hidden` which means they are not included with `*`.  Otherwise, they would always show up for simple queries like `SELECT * FROM t LIMIT 1`

[2020-06-20 08:39] tooptoop4 opened #4106 "ERROR [HY000] [Simba][Presto] (1070) Unknown Presto data type: timestamp(3) in version 336"
In 336 still get error in PowerBI when clicking on Schema Preview (ie clicking on table name in PowerBI, typing a direct query SQL is ok though):

DataSource.Error: ERROR [HY000] [Simba][Presto] (1070) Unknown Presto data type: timestamp(3)

PowerBI sent this query
select * from "hive"."information_schema"."columns" WHERE table_schema LIKE 'sales' AND table_name LIKE 'mytable'

which shows success

[2020-06-20 10:22] rzeyde-varada opened #4107 "Improve statistics estimates for range predicates over int/long types"
Following:
https://github.com/prestosql/presto/pull/3316#issuecomment-641937684_

[2020-06-20 10:24] rzeyde-varada opened #4108 "Use bloom filters for int/long types range predicates"
Following https://github.com/prestosql/presto/pull/3316#issuecomment-641937684

[2020-06-20 11:10] findepi commented on #4058
[code]

https://github.com/prestosql/presto/pull/3522

[2020-06-20 11:11] findepi opened #4109 "Implement aggregation pushdown in Druid"

[2020-06-20 11:12] findepi opened #4110 "Document Druid connector"

[2020-06-20 11:17] findepi opened #4111 "Eliminate pushed down filters in JDBC connectors"
In JDBC connectors, pushed down filters are retained in the plan, because we do not know whether and which portion of the filter will actually be applied.

For example:

- for some columns we do not do filter pushdown (eg for PostgreSQL `varbinary`)
- some predicates are simplified for the remote database (e.g. large `IN` predicates in SQL Server connector)

Introduce the base-jdbc level API to le

[2020-06-20 11:28] findepi commented on #1855
Initial version of Druid connector (#3522) is merged.

[2020-06-20 13:45] findepi commented on #4105
There are some problems with views containing `SELECT * ...`.
View declares its own schema and it needs to match the schema produced by the underlying query.
In your example, If the schema of `mytable` changes (e.g. a new column is added), the view schema will
become out of sync and the view will be considered stale.

https://github.com/prestosql/presto/blob/6d9d47e0909b3fe9367584ba8450827dbbb8e1d

[2020-06-20 13:45] findepi commented on #4105
Anyway, your question is answered, let me close the issue. We can still continue the discussion here if needed.

[2020-06-20 13:45] #4105 closed

[2020-06-20 13:51] findepi opened #4112 "Allow predicate pushdown after aggregation pushdown in JDBC connectors"
See TODO in the code.

[2020-06-20 14:00] findepi opened #4113 "Push down aggregation through filter into table scan"
Consider query
[code]
which will be planned as:
[code]
The ideal connector behavior will be to
- accept filter in `ConnectorMetadata#applyFilter`
- Filter is removed from the plan
- accept aggregation in `ConnectorMetadata#applyAggregation`

However, for some connectors this will be hard to achieve.
For example, for a database doing case insensitive comparisons, we may need to
retain Filter on the

[2020-06-20 18:52] kokosing opened #4115 "Support dynamic filtering in JDBC connectors"

[2020-06-20 20:40] findepi commented on #3943
https://github.com/prestosql/presto/runs/791316376

[2020-06-20 20:43] findepi opened #4116 "Implement all full AbstractTestIntegrationSmokeTest for Druid"
Currently `TestDruidIntegrationSmokeTest` runs a subset of `AbstractTestIntegrationSmokeTest` tests because only `orders` table is provided.

[2020-06-20 20:49] findepi commented on #4058
[code]

https://github.com/prestosql/presto/pull/1375

[2020-06-21 02:10] martint opened #4119 "Planning failure when effective predicate contains NaN"
[code]

fails with:

[code]

[2020-06-21 08:32] arghya18 opened #4122 "Presto 336 rpm upgrade issue for noop plugin"
While upgrading from 334 to 336, the server failed to start and found noop plugin directory was empty and I had to remove the directory manually to start the server.

I tried to upgrade using `rpm -Uv <336_rpm>`

Steps to reproduce:
1. Install presto 334 using `rpm -iv <334_rpm>`
2. Upgrade to 336 using `rpm -Uv <336_rpm>`
3. Try to start presto server

[2020-06-21 10:35] findepi commented on #4122
The `noop` plugin was added for tests’ sake and we found a way to do without it, so it was removed in 336.

`rpm -U` correctly removed the plugin jars, but did not remove the plugin directory (`.../presto/plugin/noop`).
The left over, now empty plugin directory is not a valid plugin and is not ignored by Presto,
leading to startup failure.

`rpm -U ..` should have resulted in `.../presto/plugin/no

[2020-06-21 11:56] rmgpinto commented on #1581
@ayush-chauhan replace your `"` in `pattern` with `'`.

[2020-06-21 16:14] yunrougong opened #4124 "wildcard tables not supported for BigQuery connector"
The Presto BigQuery connection doesn't support wildcard tables statements like below
`select * from bigquery.bq_schema.ga_sessions_* limit 100`

`SQL Error [65536]: Query failed: io.grpc.StatusRuntimeException: INVALID_ARGUMENT: request failed: wildcard tables are not supported.
`

Here is the documentation for more details https://cloud.google.com/bigquery/docs/reference/standard-sql/wildcard-tab

[2020-06-21 19:54] findepi commented on #4058
[code]

https://github.com/prestosql/presto/issues/4124

[2020-06-21 23:51] martint opened #4127 "Query failure when subqueries appear in window function argument"
[code]

fails with

[code]

[2020-06-22 06:18] findepi opened #4130 "Admit coordinator-only "system queries" when required worker count not satisfied"
Given coordinator with

[code]

query
[code]

will get into `WAITING_FOR_RESOURCES` state, waiting for a worker.
However, once the worker shows up and query gets admitted, the query executes on coordinator only.
We should not wait for a worker in this case.

[2020-06-22 06:29] findepi opened #4131 "Admit EXPLAIN queries when required worker count not satisfied"
Given coordinator with

[code]

query e.g.
[code]

will get into `WAITING_FOR_RESOURCES` state, waiting for a worker.
However, once the worker shows up and query gets admitted, the query executes on coordinator only.
We should not wait for a worker in this case.

[2020-06-22 06:31] findepi commented on #4131
I used `EXPLAIN (TYPE IO)` as an example, because the results do not depend on workers in any way.
`EXPLAIN` factors-in current worker count, so the results may be different once the required number
of workers shows up.

[2020-06-22 06:43] prakharcode commented on #4130
Hi, would like to take this up.

[2020-06-22 06:48] findepi commented on #4130
@prakharcode thanks!
before starting to code this, let's have agreement if this is really what we want.
cc @dain @sopel39 @martint

[2020-06-22 07:46] raunaqmorarka commented on #4130
Past discussion about this: https://github.com/prestosql/presto/pull/2484#discussion_r369927055

[2020-06-22 08:36] sopel39 opened #4134 "Flaky test TestDruidIntegrationSmokeTest.testConcurrentScans"
[code]

[2020-06-22 08:36] sopel39 commented on #4134
https://github.com/prestosql/presto/pull/3996/checks?check_run_id=793657965

[2020-06-22 08:37] findepi commented on #4134
cc @samarthjain

[2020-06-22 08:41] sopel39 commented on #3943
Fixed by: https://github.com/prestosql/presto/pull/3996

[2020-06-22 08:41] #3943 closed

[2020-06-22 08:53] findepi commented on #4134
With

[code]

i got a failure (1 of 10, first time only).

[2020-06-22 09:13] dekelev opened #4135 "Unable to connect to a simple ElasticSearch Docker container"
I'm unable to connect to a simple local ElasticSearch Docker container on Mac OS even though the Rest API is accessible locally and return results from a `test` index.

I've tried with both ElasticSearch v6.x & v7.x, but had the following error every time I tried to run a simple `select * from elasticsearch.default.test` query:

[code]

I'm only setting `discovery.type=single-node` on the Docker c

[2020-06-22 09:49] spachari opened #4136 "Exception in presto using Qubole."
I have a sql that takes data from a table, does some ETL and loads the output to s3. I am getting this error. But if i remove the insert into statement, the sql works fine. Can anyone tell me what this error means?

`[2020-06-22T07:57:56.330075 #10246] ERROR -- : Command execution failed with exception: Query 20200622_2kaye failed: com.google.common.base.VerifyException
nullsCount must be less tha

[2020-06-22 09:50] sopel39 opened #4137 "Push down aggregation through join into table scan"
Consider query:
[code]

This will result in plan:
[code]

Let's assume we want to push Aggregation to connector that provides fact table. We can rewrite the plan to:
[code]

With such rewrite we can now push aggregation to table scan. Benefits of this approach:
* We can reuse existing framework for aggregation pushdown
* It's relatively easy to add a rule that pushes down such aggregation
* Dynami

[2020-06-22 09:52] findepi opened #4138 "Aggregation pushdown in MySQL connector"
Follow-up to https://github.com/prestosql/presto/pull/3881

Relates to: https://github.com/prestosql/presto/issues/4139

[2020-06-22 09:53] findepi opened #4139 "Aggregation pushdown in SQL Server connector"
Follow-up to https://github.com/prestosql/presto/pull/3881

Relates to: https://github.com/prestosql/presto/issues/4138

[2020-06-22 09:59] findepi opened #4140 "Aggregation pushdown in Pinot connector"
Follow-up to https://github.com/prestosql/presto/pull/3881

Relates to: https://github.com/prestosql/presto/issues/4109

[2020-06-22 10:01] raunaqmorarka commented on #4136
@spachari that seems to be an issue with one of older versions of Presto available on Qubole. You can upgrade to the most recent version based on Presto sql repo where this issue should be fixed.
Please raise tickets related to Presto on Qubole with Qubole support.

[2020-06-22 10:01] #4136 closed

[2020-06-22 10:23] sopel39 commented on #3907
It is fixed now

[2020-06-22 10:23] #3907 closed

[2020-06-22 11:15] #4032 closed

[2020-06-22 12:51] hashhar commented on #2210
@electrum Would the approach in https://github.com/prestodb/presto/pull/14641 of adding a session property/config and *additionally having Presto itself add the targetResultSize parameter to `nextUri`* be welcome change?

This will make this property transparent to all clients and will be helpful in deployments where we don't control all clients or the clients don't make it easy to pass custom pro

[2020-06-22 14:34] findepi commented on #1787
Having this could prevent a regression in https://github.com/prestosql/presto/pull/4141.

[2020-06-22 14:55] spachari opened #4145 "Presto error from Qubole"
I have a Presto sql (run from Qubole) that takes data from a table, does some ETL and loads the output to s3. I am getting this error. But if i remove the insert into statement, the sql works fine. Can anyone tell me what this error means?

`[2020-06-22T07:30:45.275476 #23540] ERROR -- : Command execution failed with exception: Query 20200622_073044_00044_2kaye failed: com.facebook.presto.spi.Pres

[2020-06-22 17:24] dekelev opened #4146 "Support unsigned int in MySQL connector"
MySQL unsigned integer field with value above the signed int range will fail a simple SELECT query with error like the following:
[code]

Presto v336
MySQL v8.x
Mac OS Catalina v10.15.5

[2020-06-22 17:40] samarthjain commented on #4134
Interesting. Taking a look.

[2020-06-22 18:19] samarthjain commented on #4134
Looks like there is a limit on number of open connections (default 25) through the Avatica Driver.
https://druid.apache.org/docs/latest/configuration/index.html#sql
[code]

[2020-06-22 18:32] samarthjain commented on #4134
PR for fix - https://github.com/prestosql/presto/pull/4148

[2020-06-22 21:55] findepi commented on #4134
https://github.com/prestosql/presto/pull/4148

[2020-06-22 21:55] #4134 closed

[2020-06-22 22:10] sopel39 opened #4159 "Setup environment for Azure integration/product tests"
An account with credentials is required to test different Azure store formats.

[2020-06-23 02:56] JMNDev opened #4163 "Unable to connect to a elasticsearch cluster with user/password authentication"
Hi all I have tried all type of configs and until now I couldn't be able to connect to a elasticsearch cluster that i need to use as source, this elasticsearch was authentication based on user/password only.

Can some one please help me with this topic, with suggestion of configurations or specific fields to add in the configuration to support the user and password.

Thank you very much.

[2020-06-23 03:00] martint commented on #4163
This is currently not supported. There was some effort to implement this a while ago, but the author appears to have abandoned it: https://github.com/prestosql/presto/pull/2311

The change is fairly straightforward, so it shouldn’t be hard to add. Let me look into it.

[2020-06-23 04:41] electrum opened #4164 "Skip empty plugin directories"
We can skip empty plugin directories in `PluginManager` as these are clearly not plugins.

[2020-06-23 06:20] findepi commented on #4164
This would solve https://github.com/prestosql/presto/issues/4122.

However, I am not convinced this is a good idea to ignore empty folders.
They do not serve any purpose in Presto installation, so this would be
an "extension point" which we should evaluate carefully.

As a consequence, we would ignore folders containing only README files,
or only non-jar files, and then we would ignore plugin fold

[2020-06-23 06:50] martint opened #4166 "Constant-fold UNNEST over VALUES"
We should add a rule to constant fold plans such as:

[code]

This can help the optimizer take advantage of the values in the array for predicate pushdown in queries such as:

[code]

We'll may also need to constant fold the following plan with single-row VALUES:

[code]

[2020-06-23 07:46] findepi commented on #4146
Implementation plan

* determine unsigned types in `io.prestosql.plugin.mysql.MySqlClient#toPrestoType`  based on `jdbcTypeName` (eg. `BIGINT UNSIGNED` for `create table t(a unsigned bigint);` in mysql)
* map them to a wider type
* tests go into `TestMySqlTypeMapping`

[2020-06-23 08:01] JMNDev commented on #4163
Thank you very much @martint , for the effort.

I would be very thankfull if you find/develop a solution.

[2020-06-23 08:22] findepi commented on #4166
Care must be taken, as unfolding a long sequence may cause optimizer performance problems.
The `sequence` has a cap of 10K values today, which isn't a ton, but I think there are certain places in
optimizer which would require some improvement to handle very long `IN`s well.

[2020-06-23 08:25] findepi opened #4169 "Spurious 'columns size does not match types size' failures"
e.g.

[code]

[2020-06-23 08:28] findepi commented on #4159
Duplicates https://github.com/prestosql/presto/issues/2380
There is a PR already too: https://github.com/prestosql/presto/pull/3044

[2020-06-23 08:28] #4159 closed

[2020-06-23 08:41] findepi opened #4170 "Aggregation pushdown with coercions"
Currently some connectors, e.g. PostgreSQL, can do aggregation pushdown for `sum(a_bigint)`.
However, they cannot do `sum(an_integer)`, because it is actually `sum(CAST(an_integer AS bigint))`.

We could define a `sum(integer)` function and let the connector accept it in aggregation pushdown.

Ideally, however, we should have ability to pushdown expressions in the context of coercions.

[2020-06-23 08:43] findepi opened #4171 "Aggregation pushdown with expressions"
Allow pushdown of aggregations like `sum(x + y)` or `sum(x * y)`.

Relates to: https://github.com/prestosql/presto/issues/4170

[2020-06-23 10:39] findepi opened #4173 "Flaky test TestQuerySerializationFailures.shouldFailOnFirstSerializationError"
https://github.com/prestosql/presto/runs/788200669

[code]

[2020-06-23 11:12] qfrtrt opened #4174 "presto-server-rpm cannot be eraserd when presto service has been stoped"
`[ /etc/presto]$ sudo rpm -e --allmatches presto-server-rpm-335-1.x86_64`
`Please stop the Presto service before erasing RPM`
`...`
`[ /etc/presto]$ service presto status`
`Getting status for presto`
`Not running`

[2020-06-23 11:21] sopel39 opened #4175 "Idea: Pushdown dynamic filter to connectors"
Consider query:
[code]
The result plan will be:
[code]

If `dimension` table is small we can wait for all selected `d.cust_id` values (via lazy dynamic filters). In such case `TupleDomain` with selected `cust_id` could be pushed down to connector. Then the plan would be transformed into:
[code]
It is now possible to pushdown complex aggregation down to connector.

[2020-06-23 12:02] fornaix commented on #4146
I would like to work on it.

[2020-06-23 13:11] findepi commented on #4146
@fornaix go for it!
ask on [#dev](https://prestosql.io/slack.html) if you have any questions.

[2020-06-23 13:51] findepi opened #4176 "Product test suite-2 and suite-3 are much slower on hdp3"
### suite-1

it's faster on hdp3

### suite-2

* config-empty - 41 m
* config-hdp3 - 71 m
* config-cdh5 - 32 m

### suite-3

* config-empty - 29 m
* config-hdp3 - 48 m
* config-cdh5 - 29 m

[2020-06-23 13:53] findepi commented on #4176
It might be that we simply run more tests on HDP3.
e.g. `TestHiveTransactionalTable`.
Does it take so much more time?

[2020-06-23 17:47] mosabua opened #4179 "ORC writer config properties need to be documented"
https://github.com/prestosql/presto/blob/ba21d89a56f5dafa829c7670c643e586e1c0424e/presto-hive/src/main/java/io/prestosql/plugin/hive/orc/OrcWriterConfig.java#L29

discussed here https://prestosql.slack.com/archives/CFLB9AMBN/p1592920228262300

fyi @findepi

[2020-06-23 17:53] mosabua opened #4180 "Insert behavior in Hive connector needs documentation"
Some info can be found here

http://www.ebyhr.org/2019/04/insert-overwrite-in-presto.html

set session hive.insert_existing_partitions_behavior = 'overwrite';
then insert overwrite sometable select * from tmp;

hive.insert-existing-partitions-behavior

fyi @electrum @ebyhr @tnatssb

[2020-06-23 20:50] #3981 closed

[2020-06-24 02:30] on99 opened #4186 "Hive connector cache files locality enquiry"
Is it possible for hive connector to enquire cache layer(rubix/alluxio) for cache files locality on initialization and periodically so scheduler can do better job?

I don't know if hash helps, what if more presto workers are added to the cluster?

[2020-06-24 04:00] chhsiao90 commented on #4146
Sorry, @fornaix I just saw your comment, and I already have a pull request for this issue.

[2020-06-24 07:13] findepi commented on #3161
Similar failure for `TestHive.testMetadataDelete` in https://github.com/prestosql/presto/runs/802247499
on `hive-tests (config-hdp3)`

[code]

cc @MiguelWeezardo

[2020-06-24 07:24] findepi opened #4188 "Enable more errorprone checks"
The checks are defined here:
https://github.com/prestosql/presto/blob/fcb91631a655f8af7c6aeb803861d1c738f67281/pom.xml#L1424

Here's how to run the checks:
https://github.com/prestosql/presto/blob/fcb91631a655f8af7c6aeb803861d1c738f67281/.github/workflows/ci.yml#L72-L73

- [ ] Enable EqualsIncompatibleType on error level (https://github.com/prestosql/presto/pull/4181)
- [ ] Enable UnusedVariable o

[2020-06-24 07:27] findepi opened #4189 "Enable format checks on loggers"
Investigate usefulness of `AnnotateFormatMethod` errorprone check (see https://github.com/prestosql/presto/issues/4188 for more context).

We would need airlift loggers (https://github.com/airlift/airlift/tree/master/log) to be annotated with `@FormatMethod`.

To be checked: does it need to be _any_ `@FormatMethod` annotation (by name), or `com.google.errorprone.annotations.FormatMethod` specifica

[2020-06-24 07:36] kokosing commented on #3161
Can we just port this test to hive smoke tests?

[2020-06-24 07:39] findepi commented on #3969
@csunwold i think the conclusion for now would be: let's not run the test as root

I am going to close the issue, as we do not plan to change this limitation, so keeping it open doesn't help.
We can continue discussion here and -- specially if we find a good proposed solution -- we can reopen if needed.

[2020-06-24 07:39] #3969 closed

[2020-06-24 07:51] kokosing commented on #4174
What is the output of:
[code]

[2020-06-24 07:54] qfrtrt commented on #4174
[code]

[2020-06-24 08:05] kokosing commented on #4174
According to https://github.com/prestosql/presto/blob/master/presto-server-rpm/src/main/rpm/preremove#L2 it should work correctly.

Can you retry: `sudo rpm -e --allmatches presto-server-rpm-335-1.x86_64`?

[2020-06-24 08:08] qfrtrt commented on #4174
![image](https://user-images.githubusercontent.com/32293062/85519934-d23d2a80-b634-11ea-96c0-e87a37ad2844.png)

[2020-06-24 08:21] sopel39 commented on #4058
[code]
https://github.com/prestosql/presto/pull/4096

[2020-06-24 08:38] sopel39 commented on #4186
For Rubix (and probably Alluxio) scheduler will try to assign splits to nodes where the cached data should be located. This works even if files are not cached yet.

cached file -> node assignment is computed using consistent hashing (in Rubix), therefore adding a new node shouldn't cause full reshuffle.

Does that answer your question?

[2020-06-24 08:55] losipiuk commented on #4058
[code]
#4143

[2020-06-24 09:12] findepi opened #4191 "Schema migration tool for DB-based resource group and session property managers"
Currently we the DB-based resource/session managers create required schema on start. E.g.

https://github.com/prestosql/presto/blob/6d9d47e0909b3fe9367584ba8450827dbbb8e1d7/presto-resource-group-managers/src/main/java/io/prestosql/plugin/resourcegroups/db/DbResourceGroupConfigurationManager.java#L102-L104

This works if schema does not change.

We should provide an automated or guided way of schem

[2020-06-24 09:13] findepi commented on #4191
Proposed solution would be to use Flyway on startup automatically, just as we `CREATE TABLE IF NOT EXISTS` on startup today.

[2020-06-24 09:39] findepi commented on #3161
Which one do you mean?

[2020-06-24 09:41] findepi opened #4193 "Automatically cancel old PR builds on pushes"
During the migration from Travis to GitHub Actions we lost functionality
to automatically cancel old PR builds on pushes to the PR's source branch.

Provide equivalent functionality in GHA environment.

[2020-06-24 09:42] findepi commented on #4193
This can be e.g. a bot (https://github.com/prestosql/presto/pull/4161#issuecomment-648002724).
Probably a ready-to-use solution exists.

[2020-06-24 10:10] losipiuk commented on #4145
@spachari  you are providing too little context. Not even a query you ara trying to run. The best way to approach investigation of problem like this one is to reach out to people on prestosql.slack.com on `#troubleshooting` channel.

Would that be fine to close this issue for now and continue investigation on slack?

[2020-06-24 10:13] raunaqmorarka commented on #4145
@spachari please connect with Qubole support through zendesk (https://qubole.zendesk.com/agent/tickets/38447) first for any issues encountered while using Presto on Qubole platform. I believe our support is already working on solving your issues.

[2020-06-24 10:13] #4145 closed

[2020-06-24 11:23] MiguelWeezardo commented on #3161
I found a very similar problem in my HDP3 test loop run from last night https://github.com/MiguelWeezardo/presto/runs/801422542:

[code]

[2020-06-24 15:37] findepi commented on #4058
[code]

https://github.com/prestosql/presto/pull/4104

[2020-06-24 15:49] findepi opened #4196 "Show session zone in query details page"

[2020-06-24 18:47] kabunchi opened #4200 "presto-hive wrong results with pushed down predicate (version 334)"
bottom line:
[code]

table:
`CREATE TABLE hive.default.singleflatstoresales (
  ss_sold_date_sk integer,
  ss_sold_time_sk integer,
  ss_item_sk integer,
  ss_customer_sk integer,
  ss_cdemo_sk integer,
  ss_hdemo_sk integer,
  ss_addr_sk integer,
  ss_store_sk integer,
  ss_promo_sk integer,
  ss_ticket_number bigint,
  ss_quantity integer,
  ss_wholesale_cost double,
  ss_list_price double,
  ss

[2020-06-24 19:21] sopel39 commented on #4058
[code]
https://github.com/prestosql/presto/pull/4192

[2020-06-24 20:05] martint commented on #4058
[code]

https://github.com/prestosql/presto/pull/4120

[2020-06-24 20:06] martint commented on #4058
[code]

https://github.com/prestosql/presto/pull/4151

[2020-06-24 20:08] martint commented on #4058
[code]

https://github.com/prestosql/presto/pull/4156

[2020-06-24 20:11] martint commented on #4058
[code]

https://github.com/prestosql/presto/pull/4128

[2020-06-24 20:22] martint commented on #4058
[code]

[2020-06-24 21:11] dain commented on #4058
[code]
#3400

[2020-06-24 22:06] martint commented on #4058
[code]

https://github.com/prestosql/presto/pull/4165

[2020-06-24 22:14] #4169 closed

[2020-06-24 23:08] dain commented on #4058
[code]
#4082

[2020-06-24 23:59] Lewuathe commented on #4060
@sopel39 Thanks for merging https://github.com/prestosql/presto/pull/4096. Can we close this issue?

[2020-06-25 01:45] on99 commented on #4186
Great, thank you! @sopel39

[2020-06-25 01:45] #4186 closed

[2020-06-25 02:25] bitsondatadev opened #4207 "Add hooks to call an open tracing api to feed telemetry data to various tracing systems"
There have been [some requests for query tracing](https://github.com/prestosql/presto/issues/1826) as well as suggestions on the slack channel to add some method to understand presto workflow at a more granular level. I think it would be useful to implement some advice hooks that call [open tracing apis](https://github.com/opentracing/opentracing-java) that could feed into distributed tracing syst

[2020-06-25 02:41] electrum commented on #4058
[code]
#4080

[2020-06-25 03:56] crossfire opened #4208 "Failed to load a Hadoop configuration file with Xinclude as relative path in presto-hive"
I found an issue that Presto failed to load a Hadoop configuration file with Xinclude which is specified as relative path after https://github.com/prestosql/presto/commit/5aa29ae7759c209b9c8bce330a45d17b0fb0470c is merged.
The cause is that Hadoop library converts from URI object to string using `toString()`, passes it to File constructor and fails to handle a relative path (I reported https://iss

[2020-06-25 07:55] mchades opened #4210 "Failed to return the minimum value of BIGINT"
when I try to get a minimum value of -2^63(-9223372036854775808), I got this error:
[code]

[2020-06-25 08:03] sopel39 commented on #4060
Yes. It is fixed.

[2020-06-25 08:03] #4060 closed

[2020-06-25 08:14] crossfire commented on #4208
I created a PR.

[2020-06-25 09:05] losipiuk commented on #4058
[code]
#4049

[2020-06-25 09:27] findepi commented on #4210
@mchades thanks for your report.
We fixed this a couple versions ago.

[code]

Please make sure to upgrade to Presto 336.
https://prestosql.io/download.html

Let me close as answered, but we can continue discussion here,
or on our [slack](https://prestosql.io/slack.html).

[2020-06-25 09:27] #4210 closed

[2020-06-25 10:25] MohammedRashidKP opened #4215 "docker run causes env: ‘python’: No such file or directory"
With the latest presto-server-336 tarball, on doing docker run, getting

+ [[ ! -d /usr/lib/presto/etc ]]
+ [[ -d /etc/presto ]]
+ ln -s /usr/lib/presto/default/etc /usr/lib/presto/etc
+ set +e
+ grep -s -q node.id /usr/lib/presto/etc/node.properties
+ NODE_ID_EXISTS=1
+ set -e
+ NODE_ID=
+ [[ 1 != 0 ]]
+ NODE_ID=-Dnode.id=d30d44f455d9
+ exec /usr/lib/presto/bin/launcher run -Dnode.id=d30d44f455d9

[2020-06-25 11:14] findepi commented on #2797
https://github.com/prestosql/presto/runs/806856308

[2020-06-25 11:14] findepi commented on #2797
cc @BenoitHanotte

[2020-06-25 11:58] kokosing opened #4218 "TestServer.testFirstResponseColumns is flaky"
[code]

[2020-06-25 12:00] mchades opened #4219 "Wrong answer of coalesce function"
the result of expression `coalesce(1234,'56')` should be `1234`，but presto got `12`:

[code]

[2020-06-25 12:31] tooptoop4 commented on #4219
works fine for me

what version u on? in 336 i get All COALESCE operands must be the same type: integer

select coalesce('1234','56'); gives 1234

[2020-06-25 13:18] findepi commented on #4218
cc @wendigo

[2020-06-25 14:42] BenoitHanotte commented on #2797
Hi @findepi, thanks for pinging me, I hadn't seen the issue.

I had a quick look at it, it seems that the "issue" is this logic:
[code]
in the test, we try to get a batch of size 2 but the queue is empty so we wait for the not-empty signal (getNotEmptySignal). Once that signal is sent (the future is completed), then we ask again for a batch of `maxBatchSize(maxSize)`, which is `min(queue size, 2)`

[2020-06-25 15:12] findepi commented on #2797
@BenoitHanotte thanks for the analysis!

It's possible because we populate the queue in separate calls:
[code]

so the caller can get 3 alone or 3 and 4 together, right?

Asking for 1 sounds fine to me.

[2020-06-25 16:24] electrum opened #4225 "Qualified distinct columns are case sensitive"
[code]
[code]

[2020-06-25 16:30] tooptoop4 commented on #4225
similar to https://github.com/prestosql/presto/issues/2960

[2020-06-25 18:14] findepi commented on #4200
@kabunchi thanks for a bug report with full details!

is the problem reproducible with latest master?
we made some fixes around Parquet recently.

[2020-06-25 18:23] lhofhansl commented on #3928
Posted some number over in #4100

[2020-06-25 20:27] achyudh commented on #3134
@kristina-head are you still working on this? I’d like to give this a shot

[2020-06-25 20:31] #3827 closed

[2020-06-25 20:32] dain commented on #4058
[code]
#4129

[2020-06-25 21:31] findepi opened #4231 "Inline trivial subquery"
Consider:

[code]

there should be no join, the subquery should get inlined.

[2020-06-25 22:24] sopel39 commented on #4058
[code]
https://github.com/prestosql/presto/pull/4213

[2020-06-26 02:23] #4058 closed

[2020-06-26 02:41] josecanciani commented on #18
I agree, I don't know how much of this is possible, but problems that requires finding the TOP N based on an order could be greatly improved.

For example something like:
[code]
could be transformed to
[code]
Allowing in this case the Mysql servers to quickly find the first 1000 based on and index, so Presto don't have to transfer to full tables.

Jose

[2020-06-26 06:24] BenoitHanotte commented on #2797
Yes that's my understanding of the problem :) I'll tackle that on Monday if that's ok with you

[2020-06-26 06:56] kristina-head commented on #3134
@achyudh it's all yours :)

[2020-06-26 07:09] mchades commented on #4219
@tooptoop4 I base the presto version of 0.215

when I run on Hive:
[code]

[2020-06-26 07:50] findepi opened #4236 "Fix running presto-benchto-benchmarks on Java 11"
[code]

[code]

This `NullPointerException` does not happen when the jar is run with Java 8.

[2020-06-26 08:26] findepi commented on #4218
https://github.com/prestosql/presto/runs/810278829?check_suite_focus=true

[2020-06-26 09:25] wendigo opened #4238 "Flaky TestServer.testFirstResponseColumns"
[code]

Happened on https://github.com/prestosql/presto/pull/4223/checks

[2020-06-26 10:19] wendigo commented on #4218
https://github.com/prestosql/presto/pull/4239 I've created an issue for this as well

[2020-06-26 10:19] #4238 closed

[2020-06-26 10:20] wendigo commented on #4238
Duplicate of https://github.com/prestosql/presto/issues/4218

[2020-06-26 12:56] findepi commented on #4219
@mchades can you please check with Presto 336 https://prestosql.io/download.html?

[2020-06-26 13:52] mbasmanova commented on #18
@josecanciani Jose, we implemented flexible pushdown of arbitrary subtrees into connectors. The connector can provide an optimizer rule in which it inspects the plan and determines how much of that plan it can take over. You can read more about this in https://prestodb.io/blog/2019/12/23/improve-presto-planner and checkout the code in https://github.com/prestodb/presto/blob/master/presto-spi/src/m

[2020-06-26 14:16] ZebaSz opened #4244 "Support custom JWT authenticators"
While I'm aware that #2117 would probably fix this in a more flexible manner, this might be a better short-term solution.

As it stands, Presto's `JsonWebTokenAuthenticator` is very barebones:

- it only validates signatures against keys provided in the filesystem
- it only verifies issuer and audience (if configured)
- it doesn't allow for multiple audiences
- it doesn't support any other OAuth/O

[2020-06-26 14:36] ZebaSz opened #4245 "Support multiple and more flexible Web UI authenticators"
As of Presto 336, only a single authenticator can be configured for the Web UI. This can be very inconvenient since, for instance, enabling JWT authentication disables form-based authentication, which means other applications can easily access the Web UI API but regular users need an authenticating proxy of sorts that transforms their method of authentication (probably user/password combinations)

[2020-06-26 15:30] findepi opened #4246 "Release notes for 338"
## Dain Sundstrom
- [x] all checked
-  06-27 02:47:07    0062d450e4 Reduce error messages printed in tests
-  07-02 00:20:41    aaff354d6c Authorize internal requests to management endpoints
## David Phillips
- [x] all checked
-  06-26 21:09:42    0cd10a289d Fix Iceberg ORC DECIMAL types
-  06-26 23:02:12    6e43e24194 Support Iceberg table comments
-  06-29 08:28:40    078b68023e Support enforcem

[2020-06-26 16:27] martint commented on #18
@josecanciani, absolutely! Once we add support for pushing down ORDER BY into connectors, that should work out of the box. The transformation you suggested happens entirely within the engine:

E.g., for:

[code]

you get the following plan:

[code]

[2020-06-26 18:13] #3794 closed

[2020-06-26 19:45] findepi commented on #4246
[code]

https://github.com/prestosql/presto/pull/4183

[2020-06-26 21:48] martint commented on #4231
The `RemoveRedundantCrossJoin` rule should take care of that, but it's probably not firing in the right place.

[2020-06-26 22:51] findepi commented on #4231
`RemoveRedundantCrossJoin` can remove scalar subquery when it has no projections.

[2020-06-26 23:03] martint commented on #4231
Exactly. That's the case in the example above. I tried adding the rule somewhere after

[code]

and it does get optimized.

[2020-06-27 00:47] jiegzhan opened #4253 "Presto can not query hive connector (hadoop/hive 3): Unsupported privilege name: ALTER"
Tried to let presto-server-333 (334, 336) talk to hive connector (hadoop/hive 3), but all presto queries failed with this error:
`Query 20200625_232316_00000_ev9ef failed: com.google.common.util.concurrent.UncheckedExecutionException: java.lang.IllegalArgumentException: Unsupported privilege name: ALTER`

This is the hadoop/hive version that I am using:
[code]

Full stack trace:
[code]

[2020-06-27 00:56] #4098 closed

[2020-06-27 06:08] ebyhr commented on #3313
Going to close this issue since the function was implemented in #4080

[2020-06-27 06:08] #3313 closed

[2020-06-27 06:11] ebyhr commented on #2127
Going to close this issue since #4165 was merged.

[2020-06-27 06:11] #2127 closed

[2020-06-27 06:17] #4208 closed

[2020-06-27 09:09] ebyhr commented on #4246
[code]

https://github.com/prestosql/presto/pull/3582

[2020-06-27 18:06] JeffryMAC commented on #3948
thanks @haldes
so what exactly is the status here? how the syntax review works?

[2020-06-27 18:07] JeffryMAC commented on #2260
any update?

[2020-06-27 19:01] martint commented on #3948
If this is for human consumption - and we can make that explicit in the docs - we could start with any format and improve it over time. It doesn’t need to be stable, IMO

[2020-06-28 05:55] kabunchi commented on #4200
reproduced.
proposed fix in https://github.com/prestosql/presto/pull/4255

[2020-06-28 06:07] haldes commented on #3948
Thanks @martint . Let me then start working on this and come back with an PR. Also any special considerations/edge case we need to take care of?

[2020-06-28 07:47] BruceKellan opened #4256 "Elasticsearch Connector some properties need to be documented"
hi, when i using es connector in my presto, I found property named 'elasticsearch.ignore-publish-address' in source code.
It work for me, but I can't find it in document.
I think it need to be documented, isn't it ?

[2020-06-28 08:13] #2242 closed

[2020-06-28 08:17] ebyhr commented on #4246
[code]

https://github.com/prestosql/presto/pull/2516

[2020-06-28 08:37] dekelev commented on #4256
Thank you for that!!! I was going crazy about this connector and only now I see that it uses the `_nodes/http` endpoint to get the `publish_address` of all nodes.

There is zero documentation about this functionality and the `elasticsearch.ignore-publish-address` property.

In addition, PrestoSQL just released the user & password auth in v337, again without updating the docs about the new function

[2020-06-28 08:39] dekelev commented on #4163
@JMNDev in v337, you can now add the following properties to the `elasticsearch.properties` file:

[code]

[2020-06-28 08:40] dekelev commented on #4163
Found the `elasticsearch.ignore-publish-address` property.

[2020-06-28 13:09] manbuyun opened #4257 "Is there a memory leak?"
There are 100 woker nodes in our cluster, and the OOM of worker nodes occasionally occurs. The picture is as follows(version 310):
![image](https://user-images.githubusercontent.com/29940618/85977402-20747400-ba0f-11ea-8c4f-0480260a3e75.png)
![image](https://user-images.githubusercontent.com/29940618/85977454-3a15bb80-ba0f-11ea-9759-fef9e22e4430.png)
![image](https://user-images.githubusercontent.

[2020-06-28 13:59] mchades commented on #4219
@findepi thanks a lot, i rerun the sql on version of 336, and got the same result as @tooptoop4 showed.

[2020-06-28 16:04] findepi commented on #4219
thanks for confirming. let me close this then.

[2020-06-28 16:04] #4219 closed

[2020-06-28 21:43] findepi commented on #4173
cc @wendigo

[2020-06-28 21:43] findepi commented on #4116
cc @samarthjain

[2020-06-29 06:49] JeffryMAC commented on #3948
@haldes I think it would be good to stick to the code example I provided it handled all edge cases then the questions left are only on "how do you want to represent it as string".
You can run the provided code in any python online IDE like https://www.onlinegdb.com/online_python_compiler

[2020-06-29 07:35] #4146 closed

[2020-06-29 07:39] losipiuk commented on #4246
[code]

#4187, #4146

[2020-06-29 07:55] sopel39 commented on #4257
Hi @manbuyun ,

Thanks for reporting. It seems to be coming from `io.prestosql.execution.SqlTaskExecution#drivers`. Could it be possible to try with newest Presto?
Is there some way of reproducing it? Was it for particular query? What connectors were used? Did you used caching?

[2020-06-29 08:27] wendigo commented on #4173
There is a possibility I described in one of the comments on the original PR that there can be a race condition between marking query as FINISHED and failing it (we disallow transition from FINISHED to FAILED). I'll investigate how can this be mitigated.

[2020-06-29 08:48] JMNDev commented on #4163
Thank you very much @dekelev I will test and give some feedback soon.

[2020-06-29 09:00] ebyhr commented on #4215
@MohammedRashidKP The docker image in https://hub.docker.com/r/prestosql/presto contains Python. Could you share the steps to reproduce?

[2020-06-29 11:07] veysiertekin commented on #4119
We also have experienced same behaviour at one of the tables that contain `NaN` values. even if we filter out by `is_nan(field) = false`

As a workaround, temporary table without `NaN` values works just fine.

[2020-06-29 11:17] manbuyun commented on #4257
Thanks for replying @sopel39 ,
Hive connector was used in our cluster. No cache.
There is no way to reproduce it. Several worker machines may hang up in about 3 days. The stack is all in issue.
It seems to be coming from io.prestosql.parquet.reader.BinaryColumnReader

[2020-06-29 11:18] manbuyun commented on #4257
![image](https://user-images.githubusercontent.com/29940618/85998353-40229100-ba3d-11ea-98af-d65a5c952083.png)
Is there anything to do to avoid?

[2020-06-29 11:27] BenoitHanotte commented on #2797
I pushed https://github.com/prestosql/presto/pull/4259 to fix the issue by using a batch of size 1 as discussed above.

[2020-06-29 11:34] sopel39 commented on #4257
CC @martint. I recommend using newest Presto version. There have been fixes to Parquet reader.

[2020-06-29 11:36] sopel39 commented on #4246
[code]
https://github.com/prestosql/presto/pull/4240

[2020-06-29 12:21] manbuyun commented on #4257
@sopel39
Can you tell me which PR or key code fixed this problem? I want to merge into version 310.

[2020-06-29 13:25] JMNDev commented on #4163
@dekelev  I have tested and worked fine. Thank you very much.

[2020-06-29 13:25] #4163 closed

[2020-06-29 14:47] Naitreey commented on #1271
Hi, any update on phoenix 5.0 support?

[2020-06-29 16:04] #4200 closed

[2020-06-29 16:07] findepi commented on #4246
[code]

https://github.com/prestosql/presto/issues/4200 https://github.com/prestosql/presto/pull/4255

[2020-06-29 16:34] sopel39 commented on #4246
[code]
https://github.com/prestosql/presto/pull/3987

[2020-06-29 18:28] MohammedRashidKP commented on #4215
Right. But the Docker file at 'presto/docker/Dockerfile' does not contain the step to install python. I had to customise the Dockerfile to have base image rhel-ubi instead of the CentOs that comes in the file.
And I believe CentOs doesn't come with python and we need to install it, like jdk-11 is installed.

I added the following lines and it worked:
yum install -y python36 python3-pip && \
    ln

[2020-06-29 21:03] findepi commented on #4215
Centos docker image comes with Python preinstalled.
Of course, you can create your own Dockerfile, just the way you did, changing the base image or the installed components.
It's reasonable to expect that such a change may imply some other changes. For example, changing the base image may require adding more packages, using different names of packages, or changing the way packages are installed.

[2020-06-29 21:03] #4215 closed

[2020-06-29 23:55] findepi opened #4267 "Query failure when reading ORC/Parquet files containing NaN"
reported by @veysiertekin in https://github.com/prestosql/presto/issues/4119#issuecomment-651681706

[code]

Query:

[code]

[2020-06-30 08:24] samarthjain commented on #4116
PR submitted - https://github.com/prestosql/presto/pull/4271

[2020-06-30 08:32] findepi commented on #4119
@veysiertekin this can be the same problem as reported by @martint or similar (but different).
Do you have a full stacktrace?

[2020-06-30 08:40] findepi opened #4272 "Dynamic Filter failure in presence of NaN"
[code]

[2020-06-30 08:41] findepi commented on #4272
cc @raunaqmorarka

[2020-06-30 09:36] veysiertekin commented on #4119
Hi @findepi ,

Here is the stacktrace (line numbers may change because of Presto 331):

[code]

[2020-06-30 10:03] findepi commented on #4119
@veysiertekin so this bug is different than what @martint reported.
This issue is going to be fixed by #4266, but that won't help you yet.

When working on that fix, i realized the potential problem in ORC and Parquet
and created #4267 for that. I now updated that issue with the stacktrace
you provided. Please follow that issue.

[2020-06-30 10:15] manbuyun commented on #4257
@martint Sorry. Can you tell me which PR or key code fixed this problem? I want to merge into version 310.

[2020-06-30 10:16] findepi opened #4274 "Continue CI task run after module test failure"
Some CI GHA tasks run tests of several maven modules in sequence, eg `ci / test (presto-mongodb,presto-kafka,presto-elasticsearch)`.

In a case of a test failure in the first module, the subsequent modules' tests are not run at all.

However, we suffer from flaky tests. Although this is seldom, this can mask real problems,
as eg flaky mongo test prevents eg elasticsearch from being run at all.

[2020-06-30 10:17] findepi opened #4275 "Flaky test TestMongoDistributedQueries.testWrittenStats"
[code]

[2020-06-30 10:18] findepi commented on #4275
Actually this looks more like a core or connector's bug, not test's.

[2020-06-30 10:20] #3928 closed

[2020-06-30 10:21] findepi commented on #4246
[code]

https://github.com/prestosql/presto/issues/3928 https://github.com/prestosql/presto/pull/4100

[2020-06-30 10:36] BenoitHanotte commented on #2797
@findepi thank's for merging the review!
@electrum can we close this issue now, or do you want to wait for a few days to make sure the build will not fail again?

[2020-06-30 10:42] #2797 closed

[2020-06-30 11:44] hashhar commented on #4164
I'm with @findepi on this once since during our initial attempts at installing custom plugins our build step created directories but the copy command failed and the server helpfully told us so on startup.

This will become a bigger problem once you consider that each worker can have different state of directories. ie. if I copy a JAR to directory on 1 worker but not on other it helpfully fails tod

[2020-06-30 11:50] findepi commented on #4272
Indeed, there is a potential failure. I added a stacktrace to the issue.

[2020-06-30 12:11] caleben opened #4281 "recommended support "offset ... limit ..." statement?"
wether to consider support "offset ... limit ..." statement? paging query?

[2020-06-30 12:26] findepi commented on #4281
@caleben  Presto does support `OFFSET .. LIMIT` syntax:

[code]

is this what you are asking about?
which Presto version are you currently using?

[2020-06-30 13:10] caleben commented on #4281
yes! tks.
I used the version 310, now presto has supported OFFSET .. LIMIT? which version begin

[2020-06-30 13:14] findepi commented on #4281
OFFSET support was dded in 311, but there were some fixes later as well.
Please upgrade to 337.

BTW make sure you join our [slack](https://prestosql.io/slack.html).

[2020-06-30 13:14] #4281 closed

[2020-06-30 13:43] caleben commented on #4281
ok.

I`m now  in slack

[2020-06-30 15:48] findepi commented on #3161
https://github.com/prestosql/presto/runs/822082614

[2020-06-30 15:51] loushang0826 commented on #396
@ringtail look forward to the presot operator for prestosql

[2020-06-30 21:29] findepi opened #4285 "Add support for arrays in Kafka JSON format"

[2020-07-01 02:16] ringtail commented on #396
Sure. But in Alibaba Cloud. The code base is on PrestoDB due to some historical reasons. And We would like to keep the design more generic. So prestosql would be ok as well I suppose.

[2020-07-01 07:14] chhsiao90 commented on #4188
BadInstanceof, CompareToZero, InconsistentHashCode, ObjectToString are enabled in #4289

[2020-07-01 07:34] #4119 closed

[2020-07-01 07:34] #4272 closed

[2020-07-01 07:38] findepi commented on #4246
[code]

https://github.com/prestosql/presto/issues/4119 https://github.com/prestosql/presto/issues/4272 https://github.com/prestosql/presto/pull/4266

[2020-07-01 08:00] dekelev commented on #4135
Works with `elasticsearch.ignore-publish-address=true`

[2020-07-01 08:00] #4135 closed

[2020-07-01 09:18] dekelev opened #4291 "Querying MySQL table with DATETIME field is broken since v337"
Querying a table with DATETIME field over HTTP API is broken since v337. Confirmed to work with v336.

Same query works when querying over the JDBC driver.

[code]

Presto v337
MySQL 8
MacOS Catalina v10.15.5

[2020-07-01 09:28] dekelev commented on #3894
Is there any plan to fix this regression?

This issue makes the the connector pretty useless to us in most cases.

[2020-07-01 10:20] findepi opened #4293 "Implement AbstractTestIntegrationSmokeTest for Kinesis connector"

[2020-07-01 10:23] findepi commented on #4293
@ankitdixit did you try using dockerized Kinesis for tests?

[2020-07-01 10:25] findepi commented on #3894
@ebyhr do you mean this did not happen in 303?

[2020-07-01 10:28] findepi commented on #4291
@dekelev thanks for you bug report!

this has been fixed already in https://github.com/prestosql/presto/pull/4264 and the fix will be available in 338.

[2020-07-01 10:28] #4291 closed

[2020-07-01 10:58] wendigo commented on #4218
Should be solved.

[2020-07-01 10:58] #4218 closed

[2020-07-01 14:00] MiguelWeezardo commented on #3161
Similar error in https://github.com/prestosql/presto/runs/823250219

[2020-07-01 14:54] sopel39 opened #4298 "Benchto executable is not complete"
https://github.com/prestosql/presto/commit/6924fefc3d1f13561f6e2083b1df9f9c21e264ab
removed usage `spring-boot-maven-plugin` as a release plugin. This caused benchto executable JAR to be incomplete and benchto failing with:
[code]

FYI: @findepi

[2020-07-01 16:18] hashhar opened #4302 "query.max-stage-count should not apply to EXPLAIN queries."
`query.max-stage-count` should not apply to `EXPLAIN` queries.

This makes it difficult for people to actually optimize/adjust the query since without the plan there is limited visibility into what may be causing the issue.

If there are no downsides to allowing EXPLAIN queries to execute even if number of stages > `query.max-stage-count` then we should only emit a WARNING but allow the query to e

[2020-07-01 16:37] hashhar commented on #4302
What is the recommended way to identify the type of query that is being executed? I can see there is a `QueryType` enum that matches my use-case and that there is a `StatementUtils#getQueryType()` method. Is this the one I should use or something else?

[2020-07-01 17:17] charlesjmorgan opened #4303 "Support transactional inserts in Kafka"
Add support for transactional inserts in kafka producer

[2020-07-01 20:52] ArvinZheng commented on #3679
I think this is because the ORC reader that Hive uses converts the data type from `File Type` to `Reader Type` when possible, but Presto does not support the conversion currently.

[2020-07-01 21:23] findepi commented on #4302
@dain
What about moving the check out from `io.prestosql.sql.planner.PlanFragmenter#createSubPlans`
and into `DistributedExecutionPlanner`?

[2020-07-01 23:56] #2296 closed

[2020-07-02 05:56] melin opened #4311 "kerberos enabled connection failed"
kerberos enabled, prestosql connection failed，prestodb connection success，Server configuration is the same

![image](https://user-images.githubusercontent.com/1145830/86321381-75acc180-bc6b-11ea-9a09-a47d0bbd850f.png)

![image](https://user-images.githubusercontent.com/1145830/86322020-bce78200-bc6c-11ea-9fab-e26b806683b9.png)

[2020-07-02 05:56] hey-jude opened #4312 "Upgrade druid avatica jdbc version for CJK issue"
Current druid avatica jdbc driver (version 1.16.0) has non-latin character issue, this was fixed on 1.17.0 .

https://issues.apache.org/jira/browse/CALCITE-2704
https://calcite.apache.org/avatica/docs/history.html#v1-17-0

So, I wish upgrade this version.

[2020-07-02 06:49] i4late commented on #2300
nice

[2020-07-02 08:07] kokosing commented on #4311
Try to use `--user <YOUR_KRB_PRINCIPAL_HERE`.

PrestoSql by default disallows to impersonate to any user and with KRB authentication your user could be only set to the same value as your KRB principal. You can change how principal can be mapped to user with `http-server.authentication.krb5.user-mapping.pattern` and `http-server.authentication.krb5.user-mapping.file` configuration properties.  Plea

[2020-07-02 08:07] #4311 closed

[2020-07-02 08:37] sopel39 opened #4314 "Flaky test TestHiveIntegrationSmokeTest.testParquetTimestampPredicatePushdown"
[code]

https://github.com/prestosql/presto/pull/4224/checks?check_run_id=828279182

[2020-07-02 09:02] #4298 closed

[2020-07-02 09:04] sopel39 commented on #4246
[code]
https://github.com/prestosql/presto/pull/4299

[2020-07-02 10:02] wendigo commented on #4314
https://github.com/prestosql/presto/pull/4296/checks

[2020-07-02 10:10] findepi commented on #4314
cc @alexjo2144

[2020-07-02 10:32] findepi commented on #4312
@hey-jude good idea. Do you plan doing a PR?
hopefully https://github.com/prestosql/presto/blob/03aa1b6f9d9ced2807a33d578384c6e05a6f939a/presto-druid/pom.xml#L45 is the only place to change

cc @samarthjain

[2020-07-02 10:56] flying1020 commented on #3112
How about
1. make `PushPredicateIntoTableScan` after `AddExchanges`? or
2. merge PushPredicateIntoTableScan into AddExchanges? or
3. split `PushPredicateIntoTableScan` into two parts, one before `AddExchanges` and another after `AddExchanges` (or merge into `AddExchanges` )
?

[2020-07-02 15:49] MiguelWeezardo commented on #4176
In **suite-2** executed on non-HDP3 environment, `TestHiveTransactionalTable.testReadFullAcid` and `TestHiveTransactionalTable.testReadInsertOnly` are skipped.
Due to these tests being in `storage_formats' test group as well as `hive_transactional` group, they are being executed in the second, third and fourth `run-launcher` invocation in **suite-2**.

In **suite-3** the cause is the same - transa

[2020-07-02 15:54] MiguelWeezardo commented on #4176
Another, but smaller difference I noticed was increased HDP3 environment setup time - `prestodev/hdp3.1-hive:28` docker image needed 4m53s to start vs. 2m20s for `prestodev/hdp2.6-hive:28`

[2020-07-02 18:38] alexjo2144 commented on #4314
If query stats are updated async we might be reading them before they're updated?

[2020-07-02 21:19] findepi commented on #1977
https://github.com/prestosql/presto/runs/830949736

[2020-07-02 21:20] findepi commented on #1977
@electrum would you mind?

[2020-07-02 21:54] findepi commented on #4193
https://github.com/prestosql/presto/pull/4252

[2020-07-02 21:54] #4193 closed

[2020-07-02 21:58] findepi commented on #4116
https://github.com/prestosql/presto/pull/4271

[2020-07-02 21:58] #4116 closed

[2020-07-02 22:01] findepi commented on #4070
done in https://github.com/prestosql/presto/pull/4144?

[2020-07-02 22:32] ArvinZheng opened #4321 "Presto does not support to read ORC structs by the ordinal of Hive metadata"
We recently upgraded 2 of our Presto clusters to 0.208 and 317 and found that after upgraded, Presto changed the default schema evaluation for struct to `name based` instead of `positional`, and does not provide an option for positional mapping.

For example, following query runs fine in 0.180 and data for `cost.raw_cost` is returned as expected.
[code]

After moved to 0.208 or 317, the following

[2020-07-02 22:34] ArvinZheng commented on #4321
Also wanted to share another finding here, in Hive 2.3.4, when `orc.force.positional.evolution` is set to true, all columns are evaluated by their ordinal except struct - which matches current Presto behavior, I'm gonna start another conversation with ORC folks to see if this is intentional or they also wanted to address it, will ping here if I have any updates.

[2020-07-02 22:47] tooptoop4 commented on #3471
fixed by https://github.com/prestosql/presto/commit/53f876309a9264881ddddc768a02e35852e12ce2

[2020-07-02 22:47] #3471 closed

[2020-07-02 22:48] tooptoop4 commented on #2359
@dhruvp-8 still interested in this?

[2020-07-02 22:53] tooptoop4 commented on #3117
so restart does stop instead of kill https://gist.github.com/harunurhan/fdd54613ee1f27b49135#file-launcher-py-L328, switching to kill && start works

[2020-07-02 22:53] #3117 closed

[2020-07-02 22:54] #2903 closed

[2020-07-03 03:56] electrum commented on #1977
Yes, this should be an easy fix.

[2020-07-03 06:38] findepi commented on #3161
https://github.com/prestosql/presto/runs/828604528, on cdh5

[2020-07-03 07:00] Parth-Brahmbhatt opened #4323 "Add support for aggregate pushdown of `count(distinct expr)`"
Currently the optimizer rule is not invoked for `count(distinct expr)`. We may need to add a new rule or set of rules to handle this in order to support this when mark distinct is enabled vs when it is not.

[2020-07-03 07:02] Parth-Brahmbhatt opened #4324 "Presto jdbc's ImplementCount should support distinct."
The current aggregate function rule pattern matching at jdbc implementation layer does not match an aggreate function that has distinct, we need to modify it so it can support count distinct at jdbc connector layer.

[2020-07-03 07:05] Parth-Brahmbhatt opened #4325 "Presto aggregate pushdown rule should support grouping sets."
The current rule only matches group by expressions but not multiple grouping sets.

[2020-07-03 08:53] hey-jude commented on #4312
@findepi
https://github.com/prestosql/presto/pull/4326

[2020-07-03 08:54] findepi commented on #4314
https://github.com/prestosql/presto/runs/832377534?check_suite_focus=true

[2020-07-03 08:56] kokosing opened #4327 "Support GRANT/REVOKE <privileges> ON <schema> to <principal>"
Currently it is possible to grant/revoke access to tables (and views). This ticket is about adding similar functionality for schemas.

For example when SELECT is granted on schema then user can select any from any table in that schema.

[2020-07-03 08:58] kokosing opened #4328 "Support GRANT/REVOKE privileges on columns"
Currently it is possible to grant/revoke access to tables (and views). This ticket is about adding similar functionality on columns level.

Suggested syntax:

[code]

[2020-07-03 09:08] findepi commented on #4111
From offline conversation with @martint :

I agree. We need JdbcMetadata / JdbcClient / ColumnMapping change allowing the connector to opt out¹ from
"full pushdown".

Today we have `pushdownConverter` which is related (if `pushdownConverter` changes the `Domain`,
we can assume the pushdown is not "full").  We need, however, some additional piece of information.
For example, MySQL is case insensiti

[2020-07-03 09:34] findepi commented on #4325
This should include

- engine changes to invoke the `ConnectorMetadata#applyAggregation` in the case of grouping sets
- remove TODO: https://github.com/prestosql/presto/blob/227a592352f393925ce594d3da39bdf47dacf091/presto-testing/src/main/java/io/prestosql/testing/AbstractTestIntegrationSmokeTest.java#L79
  - this will provide smoke coverage for all connectors
- explicit tests for PostgreSQL conne

[2020-07-03 09:47] findepi commented on #4176
thanks @MiguelWeezardo for the analysis.

Let's

- remove all `TestHiveTransactionalTable` tests from `storage_formats`.
- add a new test method in `TestHiveTransactionalTable` that will be `storage_formats`
  and will exercise a full ACID partitioned table with default bucketing (just one configuration)
  -- this is necessary to maintain test coverage for ACID tables with kerberized Metastore and

[2020-07-03 10:17] findepi opened #4329 "Use strict JSON parsing when deserializing internal state"
Currently when parsing e.g. `TableHandle` or `ColumnHandle`, we use "default" JSON parsing,
where missing attributes are filled with their default values. In parctiular, primitives are filled with 0.
AFAIR this has led to problems in the past.

When deserializing internal state we should be strict.

- worker-worker and coordinator-worker communication
- connector-provided objects (splits, handles,

[2020-07-03 11:00] sopel39 commented on #4176
@findepi keep in mind that Caching tests transactions as part of `storage_formats` group. We need to continue testing caching with transactions.

[2020-07-03 11:03] losipiuk commented on #4176
We can explicitly add `HIVE_TRANSACTIONAL` for caching related test run

[2020-07-03 11:22] losipiuk commented on #4176
I would go with:
`{ full acid } x { partitioned } x { bucketing v1 | bucketing v2 }` - as this is a bit more nasty usecase.

The other way to approach it would be to drop `storage_formats` from runs on:
 * `singlenode-kerberos-hdfs-no-impersonation`
 * `singlenode-hdfs-impersonation`
 * `singlenode-kerberos-hdfs-impersonation`

And instead tag only one of tests in `TestHiveTransactionTable` (as we

[2020-07-03 11:32] findepi commented on #4176
That's good idea, but I want this to be considered a follow-up.
The reason why kerberized envs have `storage_formats` run is because storage formats
exercise different code paths, and this is the way to identify all the missing doAs's.

@losipiuk please create an issue to track this.

@losipiuk
you mean this instead of all i proposed? or instead of part of it?

Good idea. However, I think it shoul

[2020-07-03 11:33] findepi commented on #4176
I can take the action here.

[2020-07-03 11:38] findepi commented on #4176
i see now. This was instead of `{ full acid } x { partitioned } x { bucketing v1 | bucketing v2 }`

The reason why i think non-partitioned is enough, is that default bucketing is generally "v2" (hive 3+).
So we actually test the partitioned v2 case.

I want to test remaining bucketing options in a non-partitioned case, becasue i expect this be faster,
without decrease of coverage.

[2020-07-03 11:39] tooptoop4 opened #4331 "Add function to extract all table names from a query string"
For example:

imagine below sample data (4 rows) -->
select query from system.runtime.queries gives:

[code]

select get_table_names(query) from system.runtime.queries would give:

expected result (4 rows ie an array showing all tables involved in each query):
[code]

ie new function get_table_names() would parse all table names from given sql

use case is to get metrics on table usage. ie how man

[2020-07-03 11:53] losipiuk opened #4333 "Explicitly select tests to be run in kerberized product tests environments"
Currently we are running running tests in kerberized environments according to these rules:

https://github.com/prestosql/presto/blob/1b4275037b6f834dcb230d9ec9e6f028564216b5/presto-product-tests/bin/product-tests-suite-2.sh#L10-L28

The selected set of groups translates to large number of tests, not all relevant to the kerberization aspect of the environment.

Instead of using a numbercommon test

[2020-07-03 11:58] kokosing commented on #4331
What is the use case here? Extracting table is not that simple as it requires semantic analysis to happen and also it requires a session configuration that was present during the query execution.

For reference, all referenced tables in the query are mentioned in the query event. Maybe using eventlistener is a better fit for you?

[2020-07-03 12:00] findepi commented on #4176
I've coded my proposal -- https://github.com/prestosql/presto/pull/4332

We could do more, however:

- slim down the test run on kerberized/kms envs (ticket tbd by @losipiuk)
- the `testReadFullAcid` test executes on Hive: `INSERT, INSERT, INSERT, MINOR compaction, DELETE, UPDATE, MAJOR compaction`.
  Even after the above PR, we run this 6 times (in various configurations) as part of `hive_transac

[2020-07-03 12:05] findepi commented on #4333
I agree except i would introduce a  new test group for them, not to mix these
tests with the tests actually testing that impersonation does happen.
Maybe `storage_authorization` or `authorization_smoke`?

[2020-07-03 12:46] tooptoop4 commented on #4331
I want to show a bar chart in Superset with count of how many times each table was queried

[2020-07-03 12:53] tooptoop4 opened #4334 "Presto not showing microseconds for table created via spark-sql"
Use spark-submit (v2.4.6) to write parquet to s3://redact/fol/part_filename=ju.txt/ (parquet is https://github.com/tooptoop4/presto-1/blob/master/part-00000-e35ff4f1-5a4b-4b5e-afde-fe00fcc1a7b2-c000.snappy.parquet?raw=true)

Use spark-sql to run:
CREATE EXTERNAL TABLE s.t (opr_date TIMESTAMP,city STRING,hour DOUBLE,temp DOUBLE,temp_diff DOUBLE,temp_normal DOUBLE,dew DOUBLE,cloud_cover DOUBLE,feels

[2020-07-03 12:53] kokosing commented on #4331
So using eventlistener sounds like the way to go. You capture tables from event then you can store them in relation database (postgres?) and you can query that in the way you like.

Let me close this issue.

[2020-07-03 12:53] #4331 closed

[2020-07-03 13:16] findepi commented on #4334
This is covered by https://github.com/prestosql/presto/issues/3977

[2020-07-03 13:16] #4334 closed

[2020-07-03 14:00] yourmain opened #4335 "wether to consider support "limit xx offset xx" statement"
For now only support `offset xx limit xx`,
wether to consuder support `limit xx offset xx`?

[2020-07-03 15:41] findepi commented on #4335
The ANSI SQL syntax is:
[code]

(I am simplifying, there are some more variations there).

For user's convenience, and also because we already supported the non-standard `LIMIT`,
we decided to support the following:
[code]

The `LIMIT m OFFSET n` syntax can be read both ways:

- one can read this as "limit to m rows" _then_ "discard first n rows", i.e. returning rows `[m-n+1 ... m]`
- one can also

[2020-07-03 15:41] findepi commented on #4335
Let me close the issue as answered. We can continue discussion here, but I also
invite you to join the `#dev` channel on our [slack](https://prestosql.io/slack.html).

[2020-07-03 15:41] #4335 closed

[2020-07-03 15:43] findepi commented on #4314
https://github.com/prestosql/presto/runs/834476582

[2020-07-03 16:35] electrum commented on #4323
Technically, all aggregate functions can support distinct, although it doesn’t seem particularly useful or common in practice.

[2020-07-03 16:57] mosabua opened #4336 "Remove unneeded dependencies from Docker container and other archives"
The docker container prestosql/presto:337 contains numerous jar files that should not be needed. They should be removed from the container (and probably the rpm and tar.gz files as well).

Reasons for them not being needed:

- test jar and similar files that should not be needed at runtime
- duplicate jars of libraries with different versions

Here are some examples

animal-sniffer-annotations-1.1

[2020-07-03 16:58] mosabua commented on #4336
Here is a list of all the jar files (sorted and duplicates removed):

HdrHistogram-2.1.9.jar
JavaFastPFOR-0.0.13.jar
RoaringBitmap-0.8.0.jar
accumulo-core-1.7.4.jar
accumulo-fate-1.7.4.jar
accumulo-start-1.7.4.jar
aether-api-1.13.1.jar
aether-connector-asynchttpclient-1.13.1.jar
aether-connector-file-1.13.1.jar
aether-impl-1.13.1.jar
aether-spi-1.13.1.jar
aether-util-1.13.1.jar
aggs-matrix-stats-c

[2020-07-03 16:58] mosabua commented on #4336
And here is the same list but with duplicates and full path of all the files

/lib/presto/lib/osgi-resource-locator-1.0.1.jar
/lib/presto/lib/parameternames-1.4.jar
/lib/presto/lib/log-0.198.jar
/lib/presto/lib/jersey-hk2-2.26.jar
/lib/presto/lib/jetty-alpn-client-9.4.27.v20200227.jar
/lib/presto/lib/presto-client-337.jar
/lib/presto/lib/plexus-interpolation-1.14.jar
/lib/presto/lib/antlr4-runtime

[2020-07-03 18:14] findepi commented on #4336
we do not package test jars in general. Do you have an example where we do?
Or was it a hypothesis?

[2020-07-03 19:51] djsstarburst commented on #4070
Yes, it was done when writing in the engine for all connectors, in part as
a result of your counsel :)

David

On Thu, Jul 2, 2020 at 3:01 PM Piotr Findeisen <notifications@github.com>
wrote:

[2020-07-03 20:28] mosabua commented on #4336
See the comments above.. these are lists of files found in the docker container..  e.g. junit is there, and many others

[2020-07-03 21:15] findepi commented on #4336
@mosabua thanks for pointing out `junit` to me.
This should fix it -- https://github.com/prestosql/presto/pull/4338

[2020-07-03 21:19] findepi commented on #4336
And this for https://github.com/airlift/airbase/pull/230 for e.g. `error_prone_annotations`.

[2020-07-03 21:24] dain commented on #4246
[code]
#4304

[2020-07-03 21:28] findepi commented on #4070
Thanks for confirming.

[2020-07-03 21:28] #4070 closed

[2020-07-04 02:33] haldes commented on #3948
@JeffryMAC Thanks.

@findepi @martint Can any one suggest any good name for this function e,g to_readbleFmt(), to_humanReadbleFmt() etc.

[2020-07-04 03:29] electrum commented on #3948
How about `human_readable()`

[2020-07-04 04:53] haldes commented on #3948
@electrum - Thanks. Sounds good to me.

[2020-07-04 08:24] haldes commented on #3948
PR raised
https://github.com/prestosql/presto/pull/4344

[2020-07-04 18:24] findepi commented on #1977
https://github.com/prestosql/presto/runs/835611515

[2020-07-04 19:33] lhofhansl commented on #4327
When we discussed this in the past the concern was that Hive does not support this and thus we'd diverge from what can be supported with Hive.

I agree that this would be very helpful and useful.

[2020-07-04 20:45] mostafadgwell opened #4345 "configure prestosql catalog and config.properties files dynamically"
i am trying to use prestosql environment variables to pass some variables  to configure the catalogs and even the presto worker or coordinator dynamically, i saw the following links and tried, but didn't find a correct way to implement like

https://prestosql.io/docs/current/security/secrets.html

but i didn't be able to configure them although printenv command has the variables configured correct

[2020-07-04 22:38] electrum commented on #4345
The server will print the actual config values (after replacement) on startup. What is shown here?

[2020-07-05 09:47] JeffryMAC opened #4346 "add array_sum function"
**array_sum(array(T))** → bigint/double
Returns the sum of all non-null elements of the array. If there is no non-null elements, returns 0. The behavior is similar to aggregation function sum().

T must be coercible to double. Returns bigint if T is coercible to bigint. Otherwise, returns double.

https://prestodb.io/docs/current/functions/array.html

[2020-07-05 18:36] findepi commented on #4346
We should cover decimals as well.

[2020-07-05 20:03] findepi opened #4350 "Show all queries by default in Web UI"
Currently, Web UI shows failed queries by default.
I think it's counter-intuitive -- since user did  not select any filters, they should see all information.
That also provides worse experience -- it's likely there was some failed query on a cluster, and it's going to be showed at the top to everyone.

Show all queries by default.

[2020-07-05 22:46] shwetakarwa commented on #3950
Do we have a resolution on this? If yes, can I try this as my first issue?

[2020-07-06 03:08] electrum commented on #4350
The current behavior is intentional. In a busy cluster, you will have lots of successful queries, most of them boring and not useful to look at. The failures are the important thing to look at.

I think the right behavior depends on the role of the user. For an admin, the current behavior makes sense. For an end user, they likely want to see all their queries.

Since this would be changing a long-

[2020-07-06 06:34] naveenmahadevuni commented on #3251
hi, I would like to send a PR for this. I tested the fix. For the test case, I modified _TestPhoenixIntegrationSmokeTest#testCreateTableWithProperties_ test to have spaces in the rowkeys definition for the table and SHOW CREATE TABLE to verify that rowkeys are correctly created.

[2020-07-06 07:46] losipiuk commented on #3251
Plase do :)

[2020-07-06 08:51] liyubin117 opened #4352 "support for auto_increment column in mysql connecter"
Now I have to build a temporary table like my destination table but exclude auto_increment column,
at first, insert value into temporary table  in presto, then insert into destination table from temporay table in mysql-cli,
It will be great if mysql connector support for auto_increment column

[2020-07-06 09:23] sopel39 commented on #4246
[code]
https://github.com/prestosql/presto/pull/4262

[2020-07-06 11:38] Praveen2112 commented on #4352
Can you check with the latest Presto version. I guess this was added in 330(#2265) where Presto respects the columns with `DEFAULT` when inserting data for JDBC based connector. So when inserting into your table we don't have to specify the `auto_increment column` in our INSERT query.

Feel free to join the #dev channel on our [slack](https://prestosql.io/slack.html).

[2020-07-06 11:58] liyubin117 commented on #4352
@Praveen2112 excellent improvement! thanks very much

[2020-07-06 11:59] #4352 closed

[2020-07-06 12:17] #4274 closed

[2020-07-06 12:28] ebyhr commented on #3894
@findepi Sorry for my late response. Yes, it doesn't happen in 303.

[2020-07-06 13:47] wendigo opened #4357 "Flaky TestRaptorIntegrationSmokeTestBucketed"
[code]

[2020-07-06 13:50] wendigo commented on #4357
https://github.com/prestosql/presto/pull/4355/checks?check_run_id=841485559

[2020-07-06 14:10] #3831 closed

[2020-07-06 15:29] findepi opened #4359 "Product test launcher failure: network not found"
[code]

[2020-07-06 15:38] sajjoseph opened #4362 "Aggregate pushdown for count(const) or count(non null) in JDBC connectors"
Aggregate pushdown currently doesn't support the following use case when the count is done on a constant value.

`select count(1) from jdbcdb.schema.table;`

Current aggregate pushdown implementation generates this query on the datasource side -  `select 1 from schema.table;`.
Instead we like to see -  `select count(1) from schema.table;` or a flavor of it with count operation pushed down.
More de

[2020-07-06 16:00] findepi opened #4363 "JDBC incorrectly returns datetime values with negative year"
`java.sql.Timestamp` cannot represent negative years

[code]

Presto JDBC currently returns incorrect results when query returns a datetime with negative year.
(CLI does not).

[2020-07-06 16:50] findepi commented on #4350
I understand that the current behavior is best for experienced users / admins.

It is not ideal for first hand experience, though.

Sounds like a plan. 👍

[2020-07-06 17:34] lhofhansl opened #4365 "Provide a delegating authenticator"
We should provide an authenticator that can delegate to other authenticators.

Could be pattern based to match users and then delegate to specific authenticator.
Something like this perhaps:
[code]

Let's have a discussion.

[2020-07-06 19:13] martint commented on #4246
[code]

https://github.com/prestosql/presto/pull/4305

[2020-07-06 19:14] martint commented on #4246
[code]

https://github.com/prestosql/presto/pull/4322

[2020-07-06 19:15] martint commented on #4246
[code]

https://github.com/prestosql/presto/pull/4251

[2020-07-06 19:40] martint commented on #4246
[code]

https://github.com/prestosql/presto/pull/4341

[2020-07-06 21:07] findepi commented on #3950
@shwetakarwa thanks for your interest! This isn't the best one for starting because of `syntax-needs-review`.
I suggest something else. Ask on #dev on [our slack](https://prestosql.io/slack.html) if in doubt.

[2020-07-07 00:19] ebyhr commented on #4246
[code]

https://github.com/prestosql/presto/pull/3834

[2020-07-07 06:23] #3781 closed

[2020-07-07 06:28] ebyhr commented on #4246
[code]

https://github.com/prestosql/presto/pull/3784

[2020-07-07 07:05] mostafadgwell commented on #4345
thanks for your answer, and I tried but the server is not replacing these variables, so, I will describe in details the configurations I did, may it will help you

1- I am using prestosql version 337
2- I am using 2 catalogs which are added under the etc/catalog folder
3- the database configurations for mongo for example is as follows:

connector.name=mongodb
mongodb.seeds=${ENV:mongoip}:${ENV:mon

[2020-07-07 09:31] #4359 closed

[2020-07-07 10:57] losipiuk commented on #4246
[code]

https://github.com/prestosql/presto/pull/3770

[2020-07-07 13:55] #4097 closed

[2020-07-07 15:45] martint commented on #4246
[code]

https://github.com/prestosql/presto/pull/4370

[2020-07-07 16:09] Cabeda opened #4375 "Select in information_schema.tables for Google sheet Connector throws error"
Running on version 329 and when trying to run the following query on a google sheet connector,
[code]

it throws the following error:

[code]

The stack trace is the following:

[code]

[2020-07-07 18:02] hitejinder commented on #3052
Any update on this?

[2020-07-07 19:22] martint commented on #4246
[code]

https://github.com/prestosql/presto/pull/4349

[2020-07-07 20:15] findepi commented on #4375
Google Sheets connector does not implement `AbstractTestIntegrationSmokeTest` yet.
This should have covered the issue.

cc @puneetjaiswal

[2020-07-07 21:29] electrum commented on #4246
[code]
#4144

[2020-07-07 21:31] electrum commented on #4246
[code]
#2296

[2020-07-07 21:33] electrum commented on #4246
[code]
#3266

[2020-07-07 22:35] #4246 closed

[2020-07-07 23:47] electrum opened #4378 "Hive connector silently ignores extra buckets"
`BackgroundHiveSplitLoader.getBucketedSplits()` should verify that every bucket number is less than `partitionBucketNumber`. For example, create a table with a bucket count of `4` and then create these files:
[code]
The files for buckets 4 and 9 are silently skipped. The query should instead fail with `HIVE_INVALID_BUCKET_FILES`.

[2020-07-08 00:46] electrum opened #4379 "Release notes for 339"
## Dain Sundstrom
- [x] all checked
-  07-08 09:35:47    676daa84a1 Remove unused AggregationStateSerializerFactory
-  07-13 17:58:00    fd37469853 Document fixed management user configuration
## David Phillips
- [x] all checked
-  07-09 10:35:50    64b06154c0 Add section anchors to allow ref linking
-  07-09 10:37:06    9ca18299fb Update testcontainers to 1.14.3
-  07-09 10:37:06    b63182152d Fi

[2020-07-08 01:16] yourmain opened #4380 "Left Join condition association does not support subqueries"
sql->whit tmp_auth as (select node_id, node_type from xxx.xxx.organization where status = '1' and node_type <> '0')
select t1.id, t2.name from xxx.xxx.test1 t1 left jon xxx.xxx.test2 t2 on t1.id = t2.o_id and **t1.s_id in (select node_id from tmp_auth where node_id = 1)** limit 10;

error message -> Column 't1.s_id' cannot be resolved

[2020-07-08 01:26] martint commented on #4380
Can you show the schema of the `test1` table? You can run `DESCRIBE test1` to do so.

[2020-07-08 03:31] FrankinRUC opened #4382 "Get 400 Bad Request When Using Benchto"
Hi, I get 400 Bad Request when using Benchto to get benchmark for our presto cluster. I can't find any clue to solve this problem. I clone presto (presto version: 332, benchto-driver version: 0.9, java version 1.8.0_232) and compile the benchmark tool by myself.

application-presto-devenv.yaml
[code]
curl http://<my-benchmark-service-ip>:8081/v1/environment/PRESTO-DEVENV
[code]

Error log:
[code]

[2020-07-08 03:51] yourmain commented on #4380
whit tmp_auth as (select node_id, node_type from xxx.xxx.organization where status = '1' and node_type <> '0')
select t1.id, t2.name from xxx.xxx.test1 t1 left jon xxx.xxx.test2 t2 on t1.id = t2.o_id and **t1.s_id in (‘1’， ‘2’)** limit 10;

That's ok, column 's_id' exists in the table

[2020-07-08 04:04] martint commented on #4380
I was able to reproduce the issue with this query:

[code]

[2020-07-08 04:22] HuaiNianZhanZhengNianDai commented on #3663
yes i have met

[2020-07-08 07:47] dekelev commented on #4146
Works great, thanks!

[2020-07-08 09:25] naveenmahadevuni commented on #3251
@losipiuk : Request to review PR #4384.

[2020-07-08 09:42] sajjoseph commented on #2210
@hashhar - I like the idea of using the session variable to control the behavior.
I had implemented the changes for CLI and JDBC driver. But, now that I think about it, setting the session variable might be easier with existing clients.

I will update my PR #4347 to include this change.

[2020-07-08 09:51] sopel39 commented on #4382
@FrankinRUC Could you share benchto server logs? It should have more information about request

[2020-07-08 11:42] wendigo opened #4386 "Flaky io.prestosql.plugin.phoenix.TestPhoenixDistributedQueries.testWrittenStats"
[code]

[2020-07-08 11:56] sopel39 commented on #3005
We could have a couple of counters:
* How many DFs there were in total on coordinator for query?
* How many DFs were not `all` at the end of query?
* (Optional How many non `all` DFs were consumed at least once?

[2020-07-08 11:57] sopel39 commented on #3005
Additionally, we could report:
* a per-domain min-max range and number of values per each coordinator DF

[2020-07-08 12:15] kokosing commented on #4327
Correct. However this issue is generic it is about adding this syntax to the engine in general, then we could discuss if we should support that with `hive.security=sql-standard`

[2020-07-08 12:17] kokosing commented on #3052
Not yet. We are still looking for a volunteer to work on this.

[2020-07-08 12:31] iammehrabalam commented on #1076
@bb786112  @shekarrreddy568   I am also facing this issue.
Did u solve this issue?

Presto version: 332
Ranger version: 2.1.0-SNAPSHOT (build from master)

[2020-07-08 14:32] #4380 closed

[2020-07-08 14:34] martint commented on #4379
[code]

https://github.com/prestosql/presto/issues/4380

[2020-07-08 14:35] martint commented on #4380
Thanks for reporting this issue! The fix will be available in the next version (339).

[2020-07-08 17:51] lhofhansl commented on #4327
When I checked the Hive-Metastore it seems to have the parts in place to implement this - but I only took a quick look.

[2020-07-08 19:25] ArvinZheng commented on #4378
So basically we should catch this case - the highest bucket number that detected from data file should be less than `(table bucket number)` and then fail the query? But would it impact the data correctness in current implementation as anyway we skip those 2 invalid buckets?

[2020-07-08 19:37] kokosing commented on #4327
Good to know. Thanks.

[2020-07-08 20:35] electrum opened #4392 "Use big-endian varbinary representation for UUID"
The `uuid` type uses little-endian when converting to/from `varbinary`. This matches the Presto in-memory format (on little-endian machines) as UUIDs stored as a wrapped `long[]` array. Using a big-endian binary representation is the common and expected binary format.

We could change the default conversion behavior and introduce a session property to retain the legacy behavior. If it turns out th

[2020-07-08 20:49] martint commented on #4127
Fixed by https://github.com/prestosql/presto/pull/3600

[2020-07-08 20:49] #4127 closed

[2020-07-08 20:50] martint commented on #4379
[code]

#4127

[2020-07-08 21:08] #4312 closed

[2020-07-08 21:10] findepi commented on #4379
[code]

https://github.com/prestosql/presto/issues/4312 https://github.com/prestosql/presto/pull/4326

[2020-07-08 21:49] findepi commented on #2923
Now that we have https://github.com/prestosql/presto/issues/4070, it should be enough to expose nullity in `ColumnMetadata`,
at least for the enforcement part.

cc @djsstarburst

[2020-07-08 22:40] electrum commented on #2923
We need to decide what this constraint means. If this is a guarantee the connector will not return null (meaning the engine can elide null checks) then we’ll also need to add enforcement on read for Hive, since we have can’t trust data files to be correct.

[2020-07-09 03:49] electrum opened #4394 "Union of char and varchar creates char(65536) as output type"
[code]
[code]

[2020-07-09 03:51] electrum commented on #4394
This might be part of the problem:
[code]
[code]

It seems like the type constructor should be producing a `varchar(3)` since the length is known.

There's also the question of why the output type is `char` and not `varchar`, and if that is the correct behavior.

[2020-07-09 04:00] martint commented on #4394
The `char` vs `varchar` coercions in Presto are currently broken. In standard SQL, literals are supposed to be of type `char`, not `varchar`, and `char` should implicitly coerce to `varchar`. I was looking at this a few weeks ago in the context of implicit coercions for the `||` operator. This is what I wrote as part of the analysis:

[code]

Unfortunately, changing the literals to be of type `cha

[2020-07-09 05:52] findepi commented on #4394
Can you fill this example with the output and what wouldn't be surprising?

For instance, I expect `<x⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵⎵>`.

[2020-07-09 06:04] martint commented on #4394
What would be surprising is that one would not expect a varchar to implicitly coerce to another type in a way that changes the value. The expectation is that that kind of operation would fail with a “type mismatch” error

[2020-07-09 06:25] martint opened #4395 "Flaky TestOracleIntegrationSmokeTest"
[code]

[2020-07-09 06:30] Lewuathe commented on #4362
We have `SimplifyCountOverConstant` rule. Does it mean the rule does not work properly? Looks like it supports simplifying the count over constant.

[2020-07-09 08:11] lukasz-walkiewicz commented on #4327
I've submitted a PR (#4396) with syntax proposition and changes to the appropriate interfaces in the engine. I would appreciate your comments.

[2020-07-09 09:21] kokosing commented on #4362
It looks like we run `SimplifyCountOverConstant` after `PushAggregationIntoTableScan`.

[2020-07-09 09:57] shenh062326 opened #4398 "Support get running taskinfo from worker"
In our upgrade script, after sending SHUTTING_DOWN to the worker, We want to get the running task from the worker and print it out, but now we can only get all taskinfo from the worker, which is too big, we hope to increase the implementation of obtaining running task.

[2020-07-09 14:53] wendigo opened #4404 "Flaky io.prestosql.tests.hive.TestCsv.testInsertIntoPartitionedCsvTable"
[code]

[2020-07-09 14:54] wendigo commented on #4404
I've seen that couple of times so I guess it's not generic hive flakyness

[2020-07-09 15:05] SonuSingh200190 opened #4405 "Presto: Not able to connect External Hive using presto hive connector."
In Presto, I was trying to connect external hive source using Presto Hive connector. I added the below configuration in hive.properties but its not working. Please help.

connector.name=hive-hadoop2
connection-url=jdbc:hive2://x.x.x.x:10000
connection-user=hive
connection-password=hive

[2020-07-09 15:17] sopel39 opened #4406 "Flaky tempto"
[code]

[2020-07-09 16:17] martint commented on #4394
A related issue is that we currently treat `varchar(n)` and `varchar` as the same type, but this is unsound. Unlike `decimal` or `timestamp`, where `decimal(5)` is syntactic sugar for `decimal(5, 0)`, and `timestamp` is syntactic sugar for `timestamp(3)`, there's no equivalent transformation for `varchar`. **There is no value of `n` where `varchar` and `varchar(n)` are equivalent**.

This causes a

[2020-07-09 18:56] sopel39 commented on #4379
[code]
https://github.com/prestosql/presto/pull/4224

[2020-07-09 20:11] RamonReis opened #4410 "Add to the Docs the limitations of the MongoDB connector"
Currently the MongoDB connector isn't able to perform updates nor deletes, it'd be nice to have limitations as such described in the Docs.

[2020-07-09 20:27] martint commented on #4410
cc @mosabua

[2020-07-10 02:29] Lewuathe commented on #4362
@kokosing How can we test the dependency of the rules? We can use `BaseRuleTest` or `RuleTester` to verify the rule independently. But I'm not sure how to check the final output of the sequence of multiple rules.

[2020-07-10 03:54] FrankinRUC commented on #4382
@sopel39 Sorry for the delay. My cluster crushed yesterday. I don't know if benchto server has default log location. I can't find anything useful with the stdout from benchto server.
[code]

[2020-07-10 06:38] FrankinRUC commented on #4382
I'm confused by the issues and docs. Which version is stable enough for java 8 currently?

[2020-07-10 08:00] sopel39 commented on #4382
Bechto currently works with Java 8. There is issue to make benchto work with java 11: https://github.com/prestosql/presto/issues/4236

[2020-07-10 09:18] kokosing commented on #4362
I think we need to add this case to `io.prestosql.plugin.postgresql.TestPostgreSqlIntegrationSmokeTest#testAggregationPushdown` and reorder rules. This will give us good enough coverage.

[2020-07-10 10:04] kokosing commented on #4406
Can you please share the first error reported by tempto?

[2020-07-10 10:10] sopel39 commented on #4406
I forgot to paste build url (I even had it copied), sorry :/

[2020-07-10 10:48] losipiuk commented on #4379
[code]
https://github.com/prestosql/presto/pull/4287

[2020-07-10 13:00] vishalya commented on #4196
The issue originated to troubleshoot the difference between the outputs produced by the presto-cli and odbc driver. I see that the queries received in both the cases are same (conditioned on date/time) and they produce different results.
so, it would be good to know the timezone or any other session details which might be affecting the results.

[2020-07-10 16:09] FrankinRUC commented on #4382
@sopel39 Hi, I find the error when I set logging level to debug.
[code]

[2020-07-10 19:44] sopel39 commented on #4382
Yes. it looks like a bug. Would you like to fix it?

[2020-07-10 21:53] martint commented on #4256
cc @mosabua

[2020-07-10 21:54] martint commented on #3722
@Praveen2112, are you still working on this?

[2020-07-10 21:55] martint commented on #3398
@Praveen2112, are you still working on this?

[2020-07-10 21:55] martint commented on #2152
@Praveen2112, are you still working on this?

[2020-07-11 00:00] mosabua commented on #4256
I am going to assign this to myself for now. If anybody wants to get to it before me link a PR to here... otherwise I hope to get to it next week

[2020-07-11 00:58] martint commented on #722
I think what we want are the following functions for each `t` in [`TINYINT`, `SMALLINT`, `INTEGER`, `BIGINT`]

[code]

That would make the functions consistent with the implementations of shift operators for various types in traditional programming languages and databases that support shift operators. For each of the types in the list above, the values are interpreted as 2s complement signed 8-bit

[2020-07-11 06:50] FrankinRUC commented on #4382
I found that I have to set X-Presto-User field for Presto's HTTP requests, or I'll get 400 bad request responds. But any literal is ok for X-Presto-User, so even setting it to presto cluster's url will get the right respond.
After I set presto.username in my application properties, benchto driver works correctly.
Thank you for your help. I'll see what I can do for this bug.

[2020-07-11 06:50] #4382 closed

[2020-07-11 06:54] FrankinRUC commented on #4382
Also I think maybe benchto team can update the document for this feature. I didn't know "presto.username" property until I look into the source.

[2020-07-11 13:54] Praveen2112 commented on #2152
I'll raise a PR on this by next week

[2020-07-11 14:03] Praveen2112 commented on #3398
I'll take it up next week !! I'll un-assign it now

[2020-07-11 19:14] hashhar commented on #2817
@electrum As a first step does allowing coercion from any numeric type to string be useful? Having Presto be silent in case of schema mismatch on an unused column would require changes to the SPI as you said.

[2020-07-11 22:00] electrum commented on #2817
Our general rule for the Hive connector is that it should have the same behavior as Hive. If Hive can read the data in this evolution case, then we should as well (returning the same result).

[2020-07-12 12:14] hashhar commented on #3737
Closing since this was resolved by https://github.com/prestosql/presto/commit/6ba38eea13e90bad874fb60a506eb550ac2d114e.

[2020-07-12 12:14] #3737 closed

[2020-07-12 14:41] mostafadgwell commented on #4345
hi guys,
I think this is a bug right?

[2020-07-12 17:18] electrum commented on #4345
It looks like we only support replacing entire values, not within a value. It shouldn’t be hard to change this to support your use case.

[2020-07-13 06:41] #4257 closed

[2020-07-13 11:49] naveenmahadevuni commented on #3251
Closing. PR merged.

[2020-07-13 11:49] #3251 closed

[2020-07-13 11:54] Lewuathe commented on #722
@martint
I think having multiple dedicated functions for each type is a good idea. That would make the interface clearer.

But `_shift_arithmetic` seems to be straightforward instead of `_shift_signed` so that we can make it explicit that the function is for the arithmetic right shift.

[code]

[2020-07-13 13:22] losipiuk commented on #4379
[code]

#4430

[2020-07-13 17:52] martint commented on #722
The issue I have with `arithmetic` is that it's not immediately obvious to me that it means "extend sign". But it may be clear to others.

[2020-07-13 17:52] martint commented on #722
In any case, let's go with this plan. We can finalize the name later.

[2020-07-13 20:31] #4378 closed

[2020-07-13 20:56] tooptoop4 commented on #3103
any idea on this? @takezoe

[2020-07-13 20:59] tooptoop4 commented on #2912
@raunaqmorarka do u know which classes to change for this?

[2020-07-13 21:06] #2351 closed

[2020-07-13 21:36] martint commented on #4379
[code]

#4423

[2020-07-13 22:48] phd3 commented on #4405
Presto uses Hive Metastore for accessing hive table metadata (it doesn't use hive's execution engine).  You can find the configuration for setting up `hive.properties` here: https://prestosql.io/docs/current/connector/hive.html#configuration

[2020-07-13 23:06] ArvinZheng opened #4439 "Not able to build Presto on Oracle JDK 11"
Ran into following issue when trying to build Presto by `./mvnw clean install`
[code]

**Presto Branch**

**JDK Version**

This bug will be triggered when `'<>'` expression is used in anonymous inner classes, check https://bugs.openjdk.java.net/browse/JDK-8210197 for details.

I am able to workaround this issue by either
1. Switch to openjdk 11.0.7
or
2. Apply this patch [jdk11_issue.txt](https://

[2020-07-13 23:49] lxynov opened #4442 "Support catalogs with Hive and Iceberg tables"
### Problem Statement
Currently we're unable to migrate some existing Hive tables to Iceberg in a user-unaware way. One catalog is configured with one connector. Suppose we have catalog `hive` configured with Hive Connector and `iceberg` configured with Iceberg Connector. In order to query a table `u_xinlin.orders` with Iceberg Connector, we have to specify as `iceberg.u_xinlin.orders`.

More spec

[2020-07-14 00:34] pangyifish opened #4443 "Not able to system.register_partition with a default location if the location is not provided (hive connector)"
I am wondering if we can have a default location just like system.create_empty_partition does.

[2020-07-14 07:44] Lewuathe commented on #4362
@kokosing
I tried to test the following queries. The former was correctly pushdown to the connector but the latter was not.
[code]

`PushAggregationIntoTableScan` optimizer was not triggered. It looks like the source of the aggregation node is not `TableScanNode`, actually `ProjectNode`. The plan of the latter SQL cannot be applied to the optimizer.

Do you have any idea why aggregation for `count

[2020-07-14 12:38] #4314 closed

[2020-07-14 13:09] iirekm opened #4448 "Better approach for interface backwards compatibility"
Many interfaces (eg `ConnectorPageSourceProvider`, `SystemAccessControl`, `ConnectorAccessControl`) have to be evolved in a backwards-compatible manner. The current "pattern" for that is:

[code]

Problems with this approach:
- implementers of `Xxxx` don't easily know which method to implement, compiler doesn't help here, because both methods are `default`; some checks for that are done in `Interf

[2020-07-14 13:47] #1138 closed

[2020-07-14 13:49] #3816 closed

[2020-07-14 18:19] kosinsky opened #4449 "Expose CachingHiveMetastore metrics via JMX"
CachingHiveMetastore is available in JMX, however it doesn't include any metrics:
[code]
returns something like:
[code]
No columns with real metrics.

CachingHiveMetastore includes 16 caches like:
* `tableNamesCache`
* `tablesCache`
* `partitionNamesCache`
* `partitionsCache`
* etc

When Presto instance operate with a lot of tables and a lot of partitions, tuning cache is challenging without any v

[2020-07-14 18:23] #2960 closed

[2020-07-14 18:26] martint commented on #4379
[code]

#2960

[2020-07-14 18:57] losipiuk commented on #4379
[code]
https://github.com/prestosql/presto/pull/4418 https://github.com/prestosql/presto/issues/3980

[2020-07-14 19:06] phd3 opened #4450 "Add documentation for DB based ResourceGroup Managers"
Currently we have it only for file-based resource group management. It may be a good idea to add an example with the table schemas.

ref:
https://github.com/prestosql/presto/blob/master/presto-docs/src/main/sphinx/admin/resource-groups.rst
https://github.com/prestosql/presto/blob/master/presto-docs/src/main/sphinx/admin/resource-groups-example.json

[2020-07-14 19:11] mosabua commented on #4450
Sounds good. Do you want to submit a PR yourself?

[2020-07-14 22:47] electrum commented on #4442
I'm going to call this a *synonym* to make the discussion easier since that's what they're called in other systems.

There are various issues to consider here:

* From an API perspective, we'd probably want to support full name redirection, so it would return `CatalogSchemaTableName` rather than just catalog name.

* When are security checks performed? Today, we call `checkCanSelectFromColumns()`

[2020-07-14 23:01] electrum commented on #4442
A possible alternative that avoids many of these issues is to add search path support for table resolution. If we used a [schema search path like PostgreSQL](https://www.postgresql.org/docs/12/ddl-schemas.html#DDL-SCHEMAS-PATH), then you could make your search path `hive.u_xinlin, iceberg.u_xinlin`, allowing references to `customer` and `orders` to resolve to the correct catalog.

If we need to su

[2020-07-15 04:02] shandeep00 commented on #2379
@RosterIn , as per discussion with @electrum , how about we make function like this **SELECT day_of_week(date '2020-01-01', 1)**, this way it is consistent with the function output and will be easy to use.

[2020-07-15 04:05] mh-amount opened #4453 "URI generation with TLS-terminating proxies"
This is similar to https://github.com/prestosql/presto/issues/2908. In a scenario where we have Presto running plain http behind a reverse proxy which has SSL enabled (an AWS ALB, in this case), Presto doesn't take the original protocol header into consideration when creating the nextUri/infoUri/cancelUri elements of the response object from POST /v1/statement. As a result, clients end up attempti

[2020-07-15 04:18] mh-amount commented on #4453
After poking around to see what would be required, I noticed the proxy-server directory in the repo that might handle what I'm trying to do (though it's odd having a proxy made by presto rather than just making presto work well with proxies). Is that the recommended approach for this type of problem, and if so, is anyone aware of any documentation on how to use it? The readme is pretty sparse and

[2020-07-15 06:20] electrum commented on #4453
Presto should handle this correctly as of 336 (?). What version are you running?

Can you show the request headers sent from the load balancer to Presto?

`presto-proxy` solves a very specific problem of being a secure front end for Presto. It only supports TLS client certificates for authentication, so it’s usefulness may be limited.

As of 337, everything in Presto should be fully authenticated

[2020-07-15 06:55] takezoe commented on #3103
Yeah. Actually, we faced the same issue which hits the max connections in PostgreSQL side. So, I requested to add retry fashion to connecting JDBC data sources in https://github.com/prestosql/presto/pull/3125. Setting max connections lower in PostgreSQL side and leveraging retrying on Presto side could protect PostgreSQL and make Presto queries more robust.

However, this issue can happen on any o

[2020-07-15 10:32] kokosing opened #4455 "REVOKE GRANT OPTION FOR should revoke only GRANT OPTION"
According to: https://prestosql.io/docs/current/sql/revoke.html

However in ANSI SQL they says

ANSI SQL is in line with Postgres: https://www.postgresql.org/docs/9.4/sql-revoke.html

Currently `REVOKE GRANT OPTION FOR` is only implemented Hive connector when `hive.security=sql-standard`. According to our test coverage it today unknown what is the current behaviour.

Action plan
- [ ] Verify curre

[2020-07-15 11:58] findepi commented on #4443
For registering partitions that conform to hive's partition directory naming convention
I would recommend using `sync_partition_metadata` procedure.

[2020-07-15 12:06] ssquan commented on #4345
It's better to store these catalog properties in a config map and mount it into containers.

[2020-07-15 12:09] sandeshh commented on #4443
That would be very expensive operation. Use case here is we are adding a new dt partition everyday, so just register_partition is sufficient.

[2020-07-15 12:40] kokosing commented on #4448
Typically they need to implement all non deprecated methods.

It is usually not a case, because we control method execution. It is SPI, user provides a library Presto is going to use internally. There are very rare cases where Presto calls deprecated methods from SPI.

I am afraid it moves complication to different place. Instead of maintaining single interface we we are going to maintain several

[2020-07-15 13:09] mh-amount commented on #4453
The ALB provides X-forwarded-for, X-forwarded-proto, and X-forwarded-port: https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/x-forwarded-headers.html

Without sharing the specific values for this, I can confirm that they are correct. We're running Presto 338.

[2020-07-15 15:31] djsstarburst commented on #4395
I have seen this failure twice in the last couple of days - - here is one of them, though of course the link is ephemeral: https://pipelines.actions.githubusercontent.com/8caTwqngt3WWcV6kkLFVMZPiWoKJsiqJdWETDt8nyuXkBFUGln/_apis/pipelines/1/runs/2189/signedlogcontent/36?urlExpires=2020-07-15T15%3A31%3A11.6412599Z&urlSigningMethod=HMACV1&urlSignature=e1wCj26pfAcHL1eJ%2B2Z5geBF5to5Novm5lx1EEkRJYY%3D

[2020-07-15 15:53] alexjo2144 commented on #4362
Hey @Lewuathe.  @findepi and I were taking a look at this today too. Can you try moving `SimplifyCountOverConstant` to run before `columnPruningOptimizer`. That should take care of the extra `ProjectNode`.

[2020-07-15 16:31] lhofhansl opened #4459 "Add support for Phoenix/HBase snapshots"
Phoenix supports scanning HBase snapshots directly; without going through the HBase region server but rather reading the stored files from the storage medium.

This often gives 3-4x full scan improvement without putting any load on the HBase service.

We should support this in Presto.

Filing here in case someone is interested implementing this.

[2020-07-15 17:14] martint commented on #4379
[code]

[2020-07-15 17:30] pangyifish opened #4461 "CreateEmptyPartitionProcedure has no validation for the location exist or not"

[2020-07-15 22:56] mr-big-spency commented on #4139
I would like to work on this story.  Please assign to me.

[2020-07-16 02:39] lxynov commented on #4442
@electrum Thanks! Let me organize the discussions as follows.

## Approach 1: Synonym Resolution (Full Name Redirection)
### Connector SPI Change
Add such a synonym resolution method to the `ConnectorMetadata` SPI
[code]

### Hive Connector Implementation
Add a config property
[code]
**`resolveToCanonical`:** Redirects from `hive.u_xinlin.orders` to `iceberg.u_xinlin.orders` when `hive.iceberg.red

[2020-07-16 08:01] kokosing commented on #4139
Please go for it!

[2020-07-16 08:32] kokosing commented on #4379
[code]

#3715

[2020-07-16 08:33] chhsiao90 commented on #4188
[ImmutableEnumChecker](https://errorprone.info/bugpattern/ImmutableEnumChecker), [ImmutableAnnotationChecker](ImmutableAnnotationChecker), [Immutable](https://errorprone.info/bugpattern/Immutable), [ImmutableModification](https://errorprone.info/bugpattern/ImmutableModification) were enabled in #4470

[2020-07-16 09:30] findepi commented on #4448
I would expect interface implementor to implement all non-default methods, regardless of their deprecation.
I would like to also enforce that, at compile time, "new" methods need to be implemented as well.
This however has a drawback that users cannot easily upgrade their plugins (deprecation would trigger
compile error, so would not be ignorable/deferrable during upgrade).

Adding `Abstract<N+1>`

[2020-07-16 11:03] wendigo commented on #4443
I was thinking about that case and one more - when one of the partitions is broken we can unregister all and then add one at the time to find the broken one.

[2020-07-16 11:56] Lewuathe commented on #4362
@alexjo2144 Thanks! I confirmed putting the `SimplifyCountOverConstant` before column pruning fixed the issue.

[2020-07-16 19:12] martint commented on #4379
[code]

#4233

[2020-07-16 19:28] findepi commented on #4379
[code]

https://github.com/prestosql/presto/pull/4457

[2020-07-16 19:38] phd3 commented on #4405
@SonuSingh200190 I hope this helped. Closing this. We can continue discussion here
or on [our Slack](https://prestosql.io/slack.html). See you there!

[2020-07-16 19:38] #4405 closed

[2020-07-16 19:49] findepi commented on #4443
@sandeshh how do you write the data? (eg who _names_ the output directory?)

[2020-07-16 20:10] findepi commented on #3161
`TestCsv.testCreatePartitionedCsvTableAsWithCustomParamters` too

[2020-07-16 20:12] findepi commented on #4379
[code]

https://github.com/prestosql/presto/pull/4364

[2020-07-16 20:24] findepi commented on #4439
@ArvinZheng
thanks for taking time to provide this diff.
Are all these changes required?

This seems related to https://github.com/prestosql/presto/commit/d5879d5f11fe57c97a09d181cb0608bda61c3b93
that went in in 338.

@electrum i would consider a partial rollback of these changes until Oracle JDK gets a fix.
WDYT?

[2020-07-16 22:25] sandeshh commented on #4443
Legacy writers, writes the data to S3 and Spark adds the partition. Spark uses default location. Having this option would make it easy for us to just replace Spark with Presto.

[2020-07-16 23:29] electrum commented on #4443
Making location optional seems reasonable.

[2020-07-17 04:03] ebyhr opened #4480 "Add support for MurmurHash3 function"

[2020-07-17 07:43] findepi commented on #4439
Does Oracle JDK 11.0.8 have a fix for the problem?

[2020-07-17 07:43] ebyhr commented on #4379
[code]

https://github.com/prestosql/presto/pull/4415

[2020-07-17 10:36] #4075 closed

[2020-07-17 13:43] Praveen2112 commented on #4379
[code]

#4384

[2020-07-17 17:13] Praveen2112 commented on #4379
[code]
#4076

[2020-07-17 18:15] ArvinZheng commented on #4439
Yes, as per the JDK ticket https://bugs.openjdk.java.net/browse/JDK-8210197, this fix will be backported to Oracle JDK 11.0.8, they just released 11.0.8 on July 14th, I'll give it a shot.

[2020-07-17 19:01] martint commented on #4379
[code]

#4308

[2020-07-17 19:03] martint commented on #4379
[code]

https://github.com/prestosql/presto/pull/4408

[2020-07-17 19:05] martint commented on #4379
[code]

#4475, #4425

[2020-07-17 19:15] ArvinZheng commented on #4439
@findepi confirmed Oracle JDK 11.0.8 has the fix.

[2020-07-17 19:43] #4443 closed

[2020-07-17 19:45] findepi commented on #4379
[code]

https://github.com/prestosql/presto/issues/4443
https://github.com/prestosql/presto/pull/4454

[2020-07-17 19:50] findepi commented on #4439
This means we do not need to choose -- Oracle JDK is fixed and no need to amend the code for that JDK's sake.
Relief. Let me close this.

 Thanks @ArvinZheng for taking time to investigate that and re-test that as well! ❤️

[2020-07-17 19:50] #4439 closed

[2020-07-17 21:15] #4267 closed

[2020-07-17 21:17] findepi commented on #4379
[code]

https://github.com/prestosql/presto/issues/4267 https://github.com/prestosql/presto/pull/4467

[2020-07-17 21:41] ArvinZheng commented on #4439
No prob, @findepi do you think we should mention this in https://github.com/prestosql/presto/blob/master/README.md#requirements

[2020-07-17 22:12] pcastellazzi opened #4486 "Allow multiple authenticators to be used simultaneously"
As of now you can only configure one password authenticator. I would like to be able to use at least two of them at the same time.

My use case for this is as follows, we have users on our ActiveDirectory account, which are allowed multiple things including access to presto, and we have what we call service accounts, which are user/pass combinations used for communication between services, this ar

[2020-07-18 13:34] findepi commented on #4439
Everyone should be using the latest. So even if we add this to README today, we should be able to remove it pretty soon.
This makes me think we can be lazy on this, and add nothing at this point. WDYT?

[2020-07-18 16:20] umartin67 commented on #1271
I'm also curious if there's any updates to support 5.0

[2020-07-18 17:12] MichaelChirico opened #4487 "array_join ignores internal NULL except when trailing"
[code]

Neither the first nor the second `NULL` mattered for output, but the last one led `, ` to be inserted. This seems inconsistent.

It seems I've got to do an extra `filter` step to get my desired output:

[code]

[2020-07-18 21:38] electrum commented on #4379
[code]
#4378

[2020-07-18 21:38] electrum commented on #4379
[code]
#4485

[2020-07-18 22:27] dain commented on #4487
I'll fix this. Found this the other day and already have a fix in progress.

[2020-07-19 00:16] dain commented on #4302
@findepi I'm not sure about the impact of that.  I'd ask @martint.

[2020-07-19 00:29] dain commented on #2911
This has been fixed since at least 337

[2020-07-19 00:29] #2911 closed

[2020-07-19 00:30] dain commented on #2914
We are running some tests using Java 14 already (https://github.com/prestosql/presto/blob/master/.github/workflows/ci.yml#L21)  Is there more that you want?

[2020-07-19 00:37] #2914 closed

[2020-07-19 00:39] dain commented on #3661
Cluster stats were added only for the UI, and are considered a private detail of the web UI.  As part of the recent web UI changes all of the internal details of the UI were moved under the `/ui` prefix.  Anything in there should not be used by tooling as they will change at any time without concern for backwards compatibility.

I would suggest that a new interface be designed for what is needed i

[2020-07-19 00:43] dain commented on #4106
I think this was fixed in 339

[2020-07-19 00:45] dain commented on #3093
I'm going to close this, but please reopen if you have more questions.

[2020-07-19 00:45] #3093 closed

[2020-07-19 01:08] dain commented on #3518
The error message `42902175 milliseconds` is 11.9 hours, so I expect this is clock skew between the coordinator and workers.  Presto requires that the machines in the cluster have relatively close clock synchronization (My guess is a 1 minute skew would still work).

I'm going to close this issue for now, and if that was not the issue please reopen.

[2020-07-19 01:08] #3518 closed

[2020-07-19 01:10] dain commented on #3730
I think this can be handled in the `HeartbeatFailureDetector`.  This already monitors every worker, and can disable workers that do not meet a requirement.

[2020-07-19 01:11] dain commented on #3594
It looks like this question is resolved, so I'm going to close this issue for now.  If you have more questions. please reopen.

[2020-07-19 01:11] #3594 closed

[2020-07-19 01:18] dain commented on #4453
@mh-amount with `http-server.process-forwarded=true` in 338, the amazon ELBs work fine with Presto.

If you are still having issues. Please post the headers, the request url and the response url you are getting.  You can also test this with curl on the command line to make things simpler.

[2020-07-19 01:22] dain commented on #4346
You can do this today with the `reduce` function:

[code]

[2020-07-19 08:15] JeffryMAC commented on #4346
yes but that is true also for many other functions.
Everything can be done with Reduce yet still there are functions added for better user experience.
Note that is also what PrestoDB did.

[2020-07-19 08:52] melin opened #4488 "Password Authenticator support http connection"
presto support multiple client connections, in which the tableau version of the earlier version, inconvenient configuration https, can have a switch, support http connection mode. Similar mysql have parameter useSSL.

[2020-07-19 10:03] tooptoop4 commented on #2911
@dain how to define which users can trigger the shutdown? ie for graceful shutdown

[2020-07-19 10:44] ebyhr opened #4489 "MongoDB connector can't query to Atlas"
[code]

`_schema` collection
[code]

[2020-07-19 11:21] SonuSingh200190 commented on #4405
Thanks, Pratham.

[2020-07-19 11:31] tooptoop4 commented on #1839
I guess this would be like MSSQL 'Linked Server' functionality: https://docs.microsoft.com/en-us/sql/t-sql/functions/openquery-transact-sql?view=sql-server-ver15  / https://docs.microsoft.com/en-us/sql/relational-databases/linked-servers/linked-servers-database-engine?view=sql-server-ver15

[2020-07-19 11:49] ebyhr commented on #4489
Going to close this issue since it's fixed by the recent driver update (3.6.0 → 3.8.0).

[2020-07-19 11:49] #4489 closed

[2020-07-19 14:32] janevelger opened #4490 "Timezone not supported +DDDD"
Hello, starting from 338 version (it works on 335) we are getting the following error on the query:
[code]
`Error: Timezone not supported +0000`
But when changing the query to : `select timestamp '2019-01-05 23:59:59.999 +00:00';`
it works.

[2020-07-19 14:41] findepi commented on #4490
I am confirming this is a behavior change introduced in  https://github.com/prestosql/presto/commit/62cf1510d7cec2cd762711b6b3358d7e3259ac65 (Presto 337).

[2020-07-19 14:53] findepi commented on #4453
We definitely need `http-server.process-forwarded` documented.
Currently it's only mentioned in release notes.
cc @mosabua

@dain can we at least log warning, when X-Forwarded are used and `http-server.process-forwarded` is not set at all?
Previously most of the provided behavior was available without any configuration.

[2020-07-19 14:54] findepi commented on #2914
To claim support for 14, we would need to run some product tests on Java 14 as well.

[2020-07-19 14:56] findepi commented on #3518
https://github.com/prestosql/presto/issues/3730

[2020-07-19 14:57] findepi commented on #4302
Thanks

@martint
 What about moving the check out from `io.prestosql.sql.planner.PlanFragmenter#createSubPlans`
 and into `DistributedExecutionPlanner`?

[2020-07-19 15:01] Praveen2112 commented on #4379
[code]
#3939

[2020-07-19 23:33] lhofhansl opened #4493 "Provide a FileBasedGroupProvider"
Now that we have GroupProviders we should add a default implementation.

[2020-07-20 04:25] toriycn commented on #1271
i have the same issue too; @umartin67  did you resolve the problem ?

[2020-07-20 08:03] Praveen2112 commented on #3811
It is fixed in #3853

[2020-07-20 08:03] #3811 closed

[2020-07-20 11:41] skrzypo987 opened #4496 "Column mask on varchar column triggers unnecessary check for select permission"
Query "SELECT a FROM table"
Any column mask on table.b column. Column b is varchar (does not work with int)
Executing query will make access control invoke checkCanSelectFromColumns for both a and b columns instead of just a.

Failing test (TestColumnMask class):
[code]

[2020-07-20 12:13] mohdarif8299 commented on #3917
I would to like to contribute to this.

[2020-07-20 12:30] dekelev opened #4498 "Add support for Cassandra timeuuid functions"
I'm trying to select data from a range of dates in a Cassandra table. The table has a timeuuid PK column.

When trying to use the following query with a [CQL timeuuid method](https://docs.datastax.com/en/cql-oss/3.3/cql/cql_reference/timeuuid_functions_r.html), I get the error `Function 'dateof' not registered`.
[code]

Presto v339
Cassandra v3.11.3

[2020-07-20 14:45] findepi commented on #4395
https://github.com/prestosql/presto/runs/889640739

[2020-07-20 14:46] findepi commented on #3161
https://github.com/prestosql/presto/runs/889640205

[2020-07-20 14:47] findepi commented on #3161
https://github.com/prestosql/presto/runs/889721129

[2020-07-20 16:17] mosabua commented on #4453
I will try to get a PR going for this soon.

[2020-07-20 16:56] lhofhansl commented on #4493
A rules files could be structured like this:
[code]

If a user matches multiple pattern the set of groups would be the superset of all matching rules.

[2020-07-20 17:37] GPF199541 opened #4500 "Create connector for ClickHouse"

[2020-07-20 17:40] mosabua commented on #4500
You could implement a new connector that uses the Clickhouse JDBC driver https://clickhouse.tech/docs/en/interfaces/jdbc/

Similar to e.g. how the PostgreSQL connector works.

[2020-07-20 18:33] kokosing commented on #4493
This is something contrary to what we do in other places. Typically we traverse rules from top to bottom and first one applies, when no one applies then we raise an error.

[2020-07-20 19:59] lhofhansl commented on #4493
@kokosing I agree that's easier to reason about.

[2020-07-20 20:02] martint opened #4504 "Add system table to expose optimizer stats"
Currently, the only ways to look at per-rule execution stats are via JMX (VisualVM or JConsole) or by querying their mbeans via the JMX connector. Unfortunately, each rule gets its own table, so it's very inconvenient to query each one individually.

We should add a system table that exposes the performance stats tracked by optimizer rules in a single, more convenient place.
The table should conta

[2020-07-20 20:13] martint commented on #4490
[code]

[2020-07-20 20:14] kokosing commented on #4504
Notice that JMX connector supports wildcards in table name so you can query many tables at once.

Maybe JMX connector should allow to define a view?

[2020-07-20 20:22] martint commented on #4490
This looks like a latent bug in `TimeZoneKey.getTimeZoneKey` the became visible once we got rid of Joda for parsing timestamps. That method attempts to do some normalization, but doesn't handle that pattern properly. My guess is Joda was normalizing that form so the downstream code never saw that pattern.

[2020-07-20 21:04] martint commented on #4504
Yes, I forgot about wildcard tables. In any case, the resulting table contains more data that's needed (e.g., node id, time unit fields). We may want other data later on that cannot be exposed via JMX directly, or map to appropriate SQL types that the JMX connector can't handle generically.

Where would it be stored?

[2020-07-20 23:51] Lewuathe opened #4507 "Native implementation for stream summary in approx_most_frequent"
The efficiency of the `approx_most_frequent` function relies on the stream summary algorithm. The algorithm now depends on the [stream-lib](https://github.com/addthis/stream-lib) library. But to achieve better maintainability and efficiency with proper size tracking, we can implement the naive stream summary algorithm and space-saving data structure inside.

Ref: https://github.com/prestosql/prest

[2020-07-20 23:54] martint commented on #4395
https://github.com/prestosql/presto/actions/runs/176024999

[2020-07-21 04:14] martint commented on #4404
https://github.com/prestosql/presto//runs/892613591

[2020-07-21 07:43] kokosing opened #4510 "Add possibility to run Hive integration tests with real (dockerized) Hive Metastore and HDFS"
Currently all Hive integration tests are using file based metastore and local file system. In many other connector integration tests we are using docker based external services. We should consider that similar for Hive too. We could  not only use Hive Metastore or HDFS, but also we could test S3 using S3-like services (e.g. Minio).

[2020-07-21 07:50] kokosing commented on #4504
They could be statically defined in JMX. Maybe under `jmx.views`? Maybe we could allow user to provider their own views provided with configuration files?

[2020-07-21 08:18] losipiuk commented on #4395
@ebyhr are you looking into this one? @eskabetxe  can you help maybe?

[2020-07-21 08:22] ebyhr commented on #4395
@losipiuk I'm planning to find session and kill it, but I'm not sure wether it's the best approach. @eskabetxe Please let me know if you know better way.

[2020-07-21 10:01] MichaelChirico opened #4512 "st_polygon re-orients holes?"
[code]

This appears to be an enforcement of the requirement mentioned [on Wikipedia for WKT](https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry):

So I think this is a documentation issue most of all -- shall we mention on the geometry page that this is happening? Or is there an external reference we should point to?

[2020-07-21 11:07] eskabetxe commented on #4395
that schema/user is used for admin web interface (and change on every release)..
I dont know if docker image can be configurable to not initialize the interface..

if not.. you get the session with
SELECT sid||','||serial# killSession FROM v$session WHERE username LIKE 'APEX%';

and kill it with
ALTER SYSTEM KILL SESSION <killSession>;

[2020-07-21 11:39] iirekm opened #4514 "Don't kill/recreate containers on every integration/product test run on local machine"
- it would make fix-run-fix-run... cycle on developer's machine faster; TestContainers slows it down by recreating the containers all the time
- sometimes it's useful to inspect or modify the container manually (eg what's inside the container after a failed test); the container killing makes it impossible

During GHA build this functionality should be disabled.

It should be possible with `withReu

[2020-07-21 11:44] kokosing commented on #4514
I played a bit with `withReuse` and it was not working well. It requires change in the code and in local environment.

Maybe `env up` command could create additional containers that could be in stand-by mode. When need you could run tempto there or presto-cli. What do you think?

@findepi any ideas?

[2020-07-21 11:53] findepi commented on #4514
I feel strongly that container reuse must be an opt in. The default behavior must be KISS and same on CI (GHA) and local environment.
Any shortcut or clever container reuse can affect test results, so I want to know I am using it (opt in) instead of wondering what is going on and how to fix it (opt out).

Containers are used in quite few different kinds of tests today.
Product tests, connectors in

[2020-07-21 12:11] ebyhr commented on #4395
Actually, I was looking for the approach, not to initialize apex in container. I will check it again.

[2020-07-21 14:27] Coderlxl opened #4519 "Presto support COS select"
We used Presto to test COS Select feature on csv files, but it‘s failed.

We checked Presto source code and COS documentation, found that it was caused by the following reasons:
1. COS Select feature only support virtual-hosted style URL. But Presto only support path-style URL. The hard code is in PrestoS3ClientFactory class.
![image](https://user-images.githubusercontent.com/7564040/88052332-b0c8

[2020-07-21 14:55] ebyhr commented on #4498
Could you share the exact requirements because the page has more than 10 functions?

off-topic: The `dateOf` function is deprecated since Apache Cassandra 3.3.0.

[2020-07-21 15:03] #4490 closed

[2020-07-21 15:05] martint commented on #4379
[code]

https://github.com/prestosql/presto/issues/4490

[2020-07-21 15:10] dekelev commented on #4498
All these [time-conversion-functions](time-conversion-functions). My current use case is with the `toTimestamp`, since I'm trying to select data above a specific date, when the only date field is of TIMEUUID type.

[2020-07-21 15:11] #4017 closed

[2020-07-21 15:15] martint commented on #4379
[code]

[2020-07-21 15:15] findepi commented on #4379
[code]

https://github.com/prestosql/presto/issues/4017
https://github.com/prestosql/presto/pull/4376

[2020-07-21 15:16] losipiuk opened #4520 "Failure to store table statistics on CTAS can be ignored for Hive partitioned tables"
When partitioned table is created through Presto and `hive.collect-column-statistics-on-write=true` Presto computes table statistics as part of `CREATE TABLE .... AS SELECT ...` operation.

Partitions are first created (in batches) and then statistics are updated for each batch. If creations finish with success but statistics update fails, the exception will be silently dropped by exception handli

[2020-07-21 16:06] pcastellazzi commented on #4345
I have a similar issue with compound values: `property=${ENV:VALUE}` works as expected, but `property=${ENV:PART1}${ENV:PART2}` is taken as a literal instead of a doing multiple replacements.

I tracked the issue to the implementation of [replaceEnvironmentVariables](https://github.com/airlift/airlift/blob/master/bootstrap/src/main/java/io/airlift/bootstrap/Bootstrap.java#L317).

[2020-07-21 16:28] #4379 closed

[2020-07-21 16:42] electrum commented on #4519
Thanks for filing this issue and including a patch. Can you sign the [CLA](https://github.com/prestosql/cla) and submit this patch as a pull request?

[2020-07-21 20:02] martint opened #4527 "Release notes for 340"
## Dain Sundstrom
- [ ] all checked
-  07-22 17:21:09    1d5c1352c0 Fix TestQueryStateInfoResource setup hang
-  07-29 22:16:55    01d362ea9e Move AggregationFunctionMetadata to SqlAggregationFunction
-  07-29 22:16:55    047176e9a4 Cleanup RowType makeSignature
-  07-29 22:16:55    05a3589992 Remove old calling convention code from scalars
-  07-29 22:16:55    1daa1f8db4 Simplify SpecialForm byte

[2020-07-21 20:54] findepi commented on #4527
[code]

https://github.com/prestosql/presto/pull/4513

[2020-07-22 02:27] ebyhr commented on #4527
[code]

https://github.com/prestosql/presto/pull/4483

[2020-07-22 03:37] Coderlxl commented on #4519
Ok, I had send a CLA pdf to cla@prestosql.io. My email is coderlxl@gmail.com

[2020-07-22 05:55] yunrougong opened #4531 "Column type to string for CSV tables on Glue metastore"
Following up on #4457, the PR improvement is Hive metastore specific.
Can we make the same improvement (OpenCSVSerde deserializes columns into strings only) on the AWS Glue Data catalog?

[code]

[2020-07-22 08:34] #4069 closed

[2020-07-22 08:35] findepi commented on #4527
[code]

https://github.com/prestosql/presto/issues/4069
https://github.com/prestosql/presto/pull/4279

[2020-07-22 10:15] Coderlxl commented on #4519
Done!
E-Mail: coderlxl@gmail.com

[2020-07-22 11:04] losipiuk commented on #4527
[code]
https://github.com/prestosql/presto/pull/4417 https://github.com/prestosql/presto/issues/3980

[2020-07-22 14:30] chickenPopcorn commented on #4489
Can we reopen this issue? ! @ebyhr
We connected the MongoDB atlas, where we can show schemas and tables. But unfortunately, when querying against any connection on MongoDB atlas data lake, we got the following error.

`SQL Error [65536]: Query failed (#20200722_142635_00035_336v5): com.mongodb.MongoCommandException: Command failed with error 115 (CommandNotSupported): 'command createIndexes is uns

[2020-07-22 15:21] grantatspothero opened #4538 "Hive connector JSON Serde support for custom timestamp formats"
When trying to read a JSON table with the hive connector, configuring the timestamp format of the JSON serde (org.apache.hive.hcatalog.data.JsonSerDe) is not supported from Presto.

Thus, if timestamps do not match the default formatter you get errors like this when trying to query a JSON serde table:
[code]

JSON serde code showing you can configure the timestamp format with a serde property of `

[2020-07-22 15:41] lhofhansl commented on #4486
See also #4365

[2020-07-22 15:41] ebyhr commented on #4489
@chickenPopcorn I can get data from Atlas using version 339. Could you share the following information?
* MongoDB cluster version
* Presto query
* Full stactrace using CLI --debug option or webui

[2020-07-22 16:00] phd3 commented on #4486
@electrum I tried this out, there's one issue: returning headers from multiple password authenticators (ldap and file) to the authentication filter. Right now, we can only throw an `AuthenticationException` with one error message, and concatenation of error messages is not ideal.

So this may require changing the flow of [this](https://github.com/prestosql/presto/blob/9be344cca0c6c3e704861bdca17c8

[2020-07-22 16:57] #3266 closed

[2020-07-22 17:26] lhofhansl commented on #4486
@phd3 If we add a new authenticator and let it delegate to other authenticators, would we have the same problem?

[2020-07-22 21:31] chickenPopcorn commented on #4489
Never mind I was trying to connect to Atlas data lake

[2020-07-22 23:49] findepi commented on #4538
One option is to expose `timestamp.formats` as a table property.
Other -- https://github.com/prestosql/presto/issues/954

[2020-07-23 02:24] willmostly opened #4543 "GroupProvider groups are not available for View Access Control"
View access control checks permissions of the view creator, since a View is equivalent to a Grant. If FileBasedAccessControl and a GroupProvider are being used this leads to surprising results, because GroupProviderManager.getGroups is never called for the creator, and catalog access rules based on groups will not be applied.

@electrum

[2020-07-23 02:24] ebyhr opened #4544 "Add support for MongoDB Atlas Data Lake"
While we can use MongoDB Atlas now, we cannot get table from Atlas "Data Lake".

[code]

[2020-07-23 02:26] ebyhr commented on #4489
@chickenPopcorn Thanks for the information. I could reproduce it. Filed a new issue https://github.com/prestosql/presto/issues/4544.

[2020-07-23 06:33] ebyhr commented on #4544
The failed place is storing table definition in schema, so we can access the table if create it manually as the workaround.

[2020-07-23 09:57] gschmutz opened #4546 "Add offset, timstamp and partition filter pushdown to Kafka (seek)"
Currently the Kafka connector does not provide query filter push-down based on offset, partition or timestamp filter.

It would be nice to have the following filter options pushed-down to a Kafka seek operation:

- `_partition_offset` between start_offset and end_offset
- `_partition_offset` between start_timestamp and end_timestamp (where the timestamps are translated into offsets by using the Ka

[2020-07-23 10:12] vjtadepalli commented on #4531
Hi, I would like to work on this, How do I get started?

[2020-07-23 11:17] findepi commented on #4544
@ebyhr is there a way to test Atlas Data Lake compatibility in a continuous fashion?

[2020-07-23 11:21] #4362 closed

[2020-07-23 11:23] findepi commented on #4527
[code]

https://github.com/prestosql/presto/issues/4362 https://github.com/prestosql/presto/pull/4473

[2020-07-23 11:25] kokosing commented on #130
This may also affect `EXPLAIN INSERT` when connector implementation has side-effects in `beginInsert`

[2020-07-23 11:27] wendigo commented on #4531
Hi @vjtadepalli. You can start here: https://github.com/prestosql/presto/blob/master/presto-hive/src/main/java/io/prestosql/plugin/hive/metastore/glue/converter/GlueToPrestoConverter.java#L66

[2020-07-23 12:07] tooptoop4 opened #4548 "Null-safe join much slower than coalesce() join"
I'm using prestosql v336 with hive connector (parquet on s3).

query 1 (fast - 3 seconds)
[code]
query 2 (slow - 440 seconds)
[code]

explain of query 1:
[code]

explain of query 2:
[code]

running ANALYZE makes no difference to the slowness of query 2

dd.ee where datestr = '20200621'  has 1275198 rows (454997 distinct)
dd.ee where datestr = '20200622' has 106974 rows (102260 distinct)

forecast_

[2020-07-23 13:05] vjtadepalli commented on #4531
Thanks, below is my observation.

private static Column convertColumn(com.amazonaws.services.glue.model.Column glueColumn)
    {
        return new Column(glueColumn.getName(), HiveType.valueOf(glueColumn.getType().toLowerCase(Locale.ENGLISH)), Optional.ofNullable(glueColumn.getComment()));
    }

should be changed to:

private static Column convertColumn(com.amazonaws.services.glue.model.Column g

[2020-07-23 15:44] wendigo commented on #4531
@vjtadepalli yeah, but only if table serde is opencsv

[2020-07-23 16:47] hashhar opened #4553 "Add physicalInputDataSize to StatementStats"
In https://github.com/prestosql/presto/pull/4354 `physicalInputDataSize` was added to `BasicQueryStats`. We should also add the same to `StatementStats` so that the query API response includes data scan stats.

Discussed at https://prestosql.slack.com/archives/CFPVDCDHV/p1594966585031100

[2020-07-23 17:06] grantatspothero commented on #4538
+1 on https://github.com/prestosql/presto/issues/954
Hive has something similar with `SERDEPROPERTIES`, nice to have a catch all for when you need configuration that hasn't been added.

[2020-07-23 17:37] losipiuk opened #4555 "Get rid of pregenerated test ORC files"
Currently we have a bunch of pregenerated binary ORC files, which are used by tests, checked into repository. See `fullacid_delete_delta_test`, `nation_delete_deltas` in  `presto-hive/src/test/resources`.
This is hard to understand what is the structure of the files, or to extend test cases with new data files.
Instead having those files pre-generated we should have code which generates them durin

[2020-07-23 17:50] phd3 commented on #4486
@lhofhansl  If we always try exactly one password authenticator for every user in #4365 , then we shouldn't have this problem.

But this is a slightly different pattern that what is followed at top-level in `authenticationFilter`, where all authenticators are tried out until one of them succeeds.

[2020-07-23 21:36] findepi commented on #4548
Query 2 has `OR` in the join conditions, so there is no "equi criteria" for the join
and we cannot hash-partition the join data on a cluster.
Thus, I expect the join to be executed on a single node.

You can see that the join in the query 1 explain is partitioned
and replicated in query 2 explain.

[2020-07-23 23:32] jiegzhan commented on #1218
Added hive-3 missing privileges and principal:

https://github.com/prestosql/presto/pull/4254

https://github.com/prestosql/presto/pull/4307

[2020-07-24 04:59] wgzhao commented on #4500
I had create clickhouse for prestosql version 338 and has applied my production environment.

https://github.com/wgzhao/presto-clickhouse

[2020-07-24 07:59] wgzhao opened #4562 "bug: phoenix connector overwrite former value when insert without specified column"
I has two columns in a hbase table (create it via phoenix client), first, I insert a record using specified  column `col1` with value `val1`, then I insert another record using specified column `col2`  with it's value `val2`.  as result , the value of column `col1` became `NULL` instead of former value `val1`.
both records using the same row-key value.

using the following instructions can trigger

[2020-07-24 09:20] findepi commented on #4562
The first step would be to change `io.prestosql.plugin.phoenix.PhoenixMetadata#supportsMissingColumnsOnInsert`
to return true (ie remove, as superclass impl returns `true`).

[2020-07-24 09:46] findepi commented on #4500
@wgzhao nice! Would you be interested in contributing this?
This would make it easier for others to use your connector and also
it would be kept up to date.

[2020-07-24 09:54] wgzhao commented on #4500
OK，I will try it later

Piotr Findeisen <notifications@github.com>于2020年7月24日 周五17:46写道：

[2020-07-24 10:02] wgzhao commented on #4500
ok
how can i do for it?

[2020-07-24 10:36] toriycn commented on #4461
what is your enviroment? is there any annex infomation?

[2020-07-24 11:08] wendigo commented on #4395
https://github.com/prestosql/presto/pull/4534/checks?check_run_id=906291195

[2020-07-24 12:27] #4395 closed

[2020-07-24 12:31] yashaswaj opened #4564 "fix tpcds q72 results"
tpcds q72 returns incorrect results.

[2020-07-24 15:01] wgzhao commented on #4562
when I change the return value of  `io.prestosql.plugin.phoenix.PhoenixMetadata#supportsMissingColumnsOnInser` function  to `true`, the following errors occurred.

[code]

[2020-07-24 15:27] #2293 closed

[2020-07-24 15:29] findepi commented on #4527
[code]

https://github.com/prestosql/presto/issues/2293
https://github.com/prestosql/presto/pull/2930

[2020-07-24 15:35] findepi opened #4566 "Verify Hive connector behavior with S3 and _$folder$ when caching is enabled"

[2020-07-24 15:37] findepi opened #4567 "Run "hive tests" on S3 with caching enabled"
We run caching tests with HDFS.
We have hive file system iteractions tests, whcih we run against s3.

Since hive caching replaces file system implementation, we should run the hive file system tests against s3 w/ caching.

See also https://github.com/prestosql/presto/issues/4566

[2020-07-24 15:37] findepi commented on #4567
cc @sopel39 @stagraqubole

[2020-07-24 15:46] mosabua commented on #4500
You would have to send a pull request that adds the connector to the main project here. We have detailed documentation on [the website](https://prestosql.io/development/process.html)

[2020-07-24 15:52] findepi opened #4568 "Flaky test init TestOraclePoolIntegrationSmokeTest"
[code]

https://github.com/prestosql/presto/runs/907209390

[2020-07-24 15:53] findepi commented on #4568
cc @eskabetxe  @ebyhr

[2020-07-24 16:08] Parth-Brahmbhatt commented on #4325
PR Posted https://github.com/prestosql/presto/pull/4554

[2020-07-24 21:41] findepi commented on #4111
PR: https://github.com/prestosql/presto/pull/4565

[2020-07-25 00:15] rash67 commented on #611
I'm taking a look at this right now
thanks

[2020-07-25 10:26] findepi commented on #4562
@wgzhao this is why i said this is the first step. I am no expert in Phoenix, so from my POV more investigation is needed.
cc @vincentpoon

[2020-07-25 17:30] vjtadepalli commented on #4531
@wendigo

Here is the proposed change to convertColumn method. If you are ok with it, I will raise PR after adding unit tests also.

private static Column convertColumn(com.amazonaws.services.glue.model.Column glueColumn, StorageDescriptor storageDescriptor)
{
    if(storageDescriptor.getSerdeInfo().getName() != null &&
            ! ((storageDescriptor.getSerdeInfo().getName().contains("csv")) ||

[2020-07-25 18:24] martint commented on #4527
[code]

#4529

[2020-07-25 18:58] yunrougong opened #4580 "Slow system.jdbc* query for BigQuery"
When BigQuery connector is enabled, the system.jdbc.* queries (mostly issued by SQL client like DBeaver), take minutes to run.

[code]
The full thread is here
https://prestosql.slack.com/archives/CGB0QHWSW/p1595525453380400

[2020-07-25 19:19] findepi commented on #1956
Creation and CTAS of ACID tables landed in https://github.com/prestosql/presto/pull/4574.
We still need to be able to INSERT (write) to transactional tables.

[2020-07-25 19:28] findepi commented on #4527
[code]

https://github.com/prestosql/presto/pull/4516
https://github.com/prestosql/presto/pull/4574

[2020-07-25 20:12] findepi commented on #4395
A related one: https://github.com/prestosql/presto/issues/4568

[2020-07-26 07:09] ebyhr commented on #4580
Could you share the following information?
* Table numbers in BigQuery
* Debug log for `io.prestosql.plugin.bigquery`

[2020-07-26 07:13] goodluckwgw opened #4584 "Add support for scaled_float type in Elasticsearch"

[2020-07-26 08:26] ebyhr opened #4586 "Flaky TestHiveDistributedQueries.testWrittenStats"
[code]

[2020-07-26 08:27] ebyhr commented on #4586
https://github.com/prestosql/presto/pull/4585/checks?check_run_id=911223669

[2020-07-26 08:49] wendigo commented on #4531
@vjtadepalli Please open PR - I will review it and you can continue working on that :)

[2020-07-26 08:50] wendigo commented on #4586
Related https://github.com/prestosql/presto/issues/4275

[2020-07-26 09:23] findepi opened #4587 "CLI should not print `field0`, `field1` for anonymous ROW"
Currently

[code]

But

[code]

We should not print those field names.

[2020-07-26 13:19] hashhar commented on #4553
Some fields from `QueryInfo` which might be interesting for client libraries (can be targeted in future pull-requests):

1. `resourceWaitingTime`, `dispatchingTime`, `executionTime`, `analysisTime`, `planningTime` and `finishingTime` are not exposed. Can be useful to show in any interactive query tool (Redash/Superset etc.).
2. `peakUserMemoryReservation` is exposed  but `peakTotalMemoryReservatio

[2020-07-26 18:23] electrum commented on #4587
Is this a bug in the CLI or client protocol? It sounds like the names are in the type name or signature returned from the server.

[2020-07-26 18:24] y1275963 commented on #2260
Hi, @JeffryMAC @findepi it has been 2 months without reply. I am really interested in this, can I get assigned as my first task?

Suggested change to https://prestodb.io/docs/current/sql/alter-table.html:
1) ALTER TABLE [IF EXISTS] name RENAME TO new_name
2) ALTER TABLE [IF EXISTS] name ADD COLUMN [IF NOT EXISTS] column_name data_type [ COMMENT comment ] [ WITH ( property_name = expression [, ...]

[2020-07-26 19:04] findepi commented on #2260
assigning to @electrum for syntax review.

[2020-07-26 19:40] findepi commented on #4587
@electrum this is here:
https://github.com/prestosql/presto/blob/838048343f6868f65f574bc00edf612a1b5ee77e/presto-client/src/main/java/io/prestosql/client/FixJsonDataUtils.java#L117

[2020-07-26 20:49] findepi opened #4589 "Add support for composite types in CLI's JSON output format"
Currently formatting rows or maps fails:

[code]

[2020-07-26 21:44] vijay-balakrishnan commented on #3661
We had some automation to bring down the cluster , based on the information available in /v1/cluster. Seems/v1/cluster end point is  moved to /ui/api/stat and we are unable to access the /ui/api/stat from any automation jobs due to 401.

[2020-07-26 22:14] electrum commented on #2260
Looks good to me.

[2020-07-27 00:01] tooptoop4 commented on #3661
right, would be nice to have a 'breaking changes' section in the release notes!

[2020-07-27 02:27] y1275963 commented on #2260
thanks! working on it.

[2020-07-27 07:25] #3161 closed

[2020-07-27 07:25] #4404 closed

[2020-07-27 07:26] findepi commented on #3161
Hopefully fixed by https://github.com/prestosql/presto/pull/4573.
Reopen if `Error committing write to Hive` resurfaces.

[2020-07-27 07:26] findepi commented on #4404
Duplicates https://github.com/prestosql/presto/issues/3161

[2020-07-27 07:34] findepi opened #4590 "Exclude actual token from authentication failure exception"
In failures like
[code]

the client may end up throwing the exception (like it happened in the test, see above), and the token value may be revealed to others as part of regular logging/reporting or feedback to the user.

we should not send the actual token back in the exception message.

See discussion @ https://prestosql.slack.com/archives/CP1MUNEUX/p1593785750079800

Starting points

https://gi

[2020-07-27 07:42] raunaqmorarka commented on #471
@electrum could you please take a look at https://github.com/prestosql/presto/pull/3434 which is trying to address this ?

[2020-07-27 08:01] findepi commented on #4527
[code]

https://github.com/prestosql/presto/pull/4552

[2020-07-27 08:25] sopel39 commented on #4566
Caching works on top of `PrestoS3FileSystem`. How caching could break in relation to `_$folder$` files?

[2020-07-27 09:27] mh-amount commented on #4453
It's working with the new setting. Thanks.

[2020-07-27 09:39] sopel39 opened #4591 "Generate DF from LookupSource directly"
We could generate DFs from `LookupSource` directly. The benefits are:
* We could generate larger DFs. We could also generate different types of DFs (e.g BloomFilters)
* There won't be a need to store intermediate DFs in `DynamicFilterSourceOperator` thus saving memory and CPU (when build side is too large to generate DFs for it).

[2020-07-27 10:06] findepi opened #4593 "Implement type mapping test for SQL Server connector"
Similar to `TestPostgreSqlTypeMapping` but for SQL Server connector

[2020-07-27 10:22] findepi opened #4594 "Invalid value returned by CLI, JDBC when ROW contains `fieldN` field"
[code]

This is because the second, unnamed field, gets a default name `field1`, causing a collision.
https://github.com/prestosql/presto/blob/838048343f6868f65f574bc00edf612a1b5ee77e/presto-client/src/main/java/io/prestosql/client/FixJsonDataUtils.java#L117

Relates to: https://github.com/prestosql/presto/issues/4587

[2020-07-27 11:12] findepi opened #4596 "Eliminate filter above table scan in SQL Server connector"

[2020-07-27 11:18] Praveen2112 commented on #3722
I'll raise a PR by this week

[2020-07-27 11:29] wendigo commented on #4594
@findepi Should we allow named and unnamed fields in the row at the same time in the first place?

[2020-07-27 12:41] Raj-Datta-Manohar commented on #4590
Hi @findepi, I am new here
From what I understand the changes should be something like
` throw new RunTimeException("Invalid Token", e);` at
https://github.com/prestosql/presto/blob/b816f299754fe966b637422c25507da2f3d3defa/presto-main/src/main/java/io/prestosql/server/security/KerberosAuthenticator.java#L155
and `throw new AuthentictionException("Invalid Token", requestSpnegoToken, NEGOGIATE_SCHEM

[2020-07-27 12:49] findepi commented on #4590
@Raj-Datta-Manohar yes, i think so.

[2020-07-27 15:42] sopel39 commented on #4527
[code]
https://github.com/prestosql/presto/pull/4388

[2020-07-27 18:23] Raj-Datta-Manohar commented on #4590
@findepi Could you take a look at my PR!!!

[2020-07-27 20:31] grantatspothero commented on #3661
+1 on a breaking changes section of the release notes, this is a problem for anyone using the open source Presto helm chart which uses the `/v1/cluster/` endpoint as a healthcheck:
https://github.com/helm/charts/blob/master/stable/presto/templates/deployment-coordinator.yaml#L44-L51

[2020-07-27 23:44] martint commented on #4496
This is a tricky one. The problem is that we analyze the columns of the tables in the FROM clause *before* we know which ones will ultimately be referenced. This involves resolving masks and analyzing the mask expressions recursively. Fixing this will require either:
* Changing the analyzer to resolve and analyze columns on demand
* Perform the analysis eagerly as today, but don't *fail* eagerly.

[2020-07-28 05:47] findepi commented on #3661
Exactly. And since https://github.com/prestosql/presto/pull/3428
this can be consumed with HEAD requests too, specifically for
health check purposes.

[2020-07-28 07:48] y1275963 commented on #2260
update: finished changing the AST and added the unit test, if working on ignoring the exceptions. Should be able to sent it in a day or two.

[2020-07-28 08:17] kokosing commented on #2260
@y1275963 Please make sure you sign CLA, please follow: https://github.com/prestosql/cla This is required in order to merge your changes.

[2020-07-28 08:27] kokosing commented on #4496
This sounds like the easiest. We could use some kind of column mask supplier, but then the problem is with "on demand" as this could still be called in places like that (where we access column mask information even when column is pruned later).

[2020-07-28 09:22] findepi opened #4607 "Reported enforce predicate in JDBC connectors' getTableProperties"
Once we do https://github.com/prestosql/presto/issues/4111 we should enhance `io.prestosql.plugin.jdbc.JdbcMetadata#getTableProperties`
to return information about enforced predicate.

Depends on https://github.com/prestosql/presto/issues/4111.

[2020-07-28 09:26] findepi commented on #4607
I scenario where this could be visible is
[code]

Once we push predicates into JDBC table scan, we need `getTableProperties`
to let the optimizer know that the join is actually a cross join.

[2020-07-28 14:31] findepi opened #4608 "Write timestamp as int96 by default in the optimizer Parquet writer"
Currently, the optimizer Parquet writer writes timestamp as int64.
This is supported by Hive 4+, but apparently not by earlier versions.
We should write timestamp as int96 for compatibility with existing
readers.

Also, this requires updating `testParquetTimestampInt64PredicatePushdown` test (https://github.com/prestosql/presto/pull/4526#discussion_r476458707)

[2020-07-28 14:31] findepi commented on #4608
cc @alexjo2144

[2020-07-28 16:59] hashhar commented on #4553
I'm confused about the scope of this change. Let me summarise my thoughts:

The initial goal was to expose `physicalInputDataSize` in StatementStats so that `v1/executing` resource can send it back to clients. This is done in https://github.com/prestosql/presto/pull/4600 (tests and some investigations pending).

Now when reading through the related code where the existing fields are used I observe

[2020-07-28 17:42] hashhar opened #4610 "Extend file based Hive security to also allow configuring column level permissions"
FileBasedAccessControl currently allows reading from all columns if `SELECT` is allowed on a table.

We should extend the FileBasedAccessControl to allow configuring column level permissions similar to how table level permissions are handled.

[code]

This implementation should be provided to allow people to play around with column permissions and to maybe assist with integration tests in future.

[2020-07-28 17:43] hashhar commented on #4610
Discussed at https://prestosql.slack.com/archives/CFLB9AMBN/p1595924587013000.

[2020-07-28 21:43] #4590 closed

[2020-07-29 01:30] zhengxiaomei123 opened #4614 "Support Presto on s390x"
Metering Operator uses Presto database to do analytical querying on collected data using SQL. In order to enable Metering Operator on s390x arch, we have to enable Presto on s390x firstly.
We built the Presto on s390x and run it in openshift platform, but we met the 4 problems which are system requirements for Presto working well.
[code]

As we discussed on slack before, I got the informations:
[c

[2020-07-29 01:38] zhengxiaomei123 commented on #4614
Another question is the state of Java / JDK on s390x. It appears to not have the G1 GC. Does it have a JIT? Are there other things missing? Is it a fully certified implementation that passes the TCK?

[2020-07-29 01:39] zhengxiaomei123 commented on #4614
About the `Big Endian` problem, The CPU arch matters for native code we ship (some compression libs, hadoop libs).
CPU endianness matters for Slice class for sure (all the number decoding methods).
It may matter in some other code places I am not aware of and won’t be able to point you at.

[2020-07-29 07:14] findepi opened #4619 "Document Hive view support"
See thread https://prestosql.slack.com/archives/CFLB9AMBN/p1595844326481300

[2020-07-29 08:15] kokosing commented on #4527
[code]
#4592

[2020-07-29 11:58] ebyhr commented on #4527
[code]

https://github.com/prestosql/presto/pull/4560

[2020-07-29 16:43] martint commented on #4527
[code]

#4609

[2020-07-29 17:12] pangyifish commented on #4461
A developer of Presto found this when I ask the difference between create_empty_partition and register_partition.
We use Presto 337.

[2020-07-29 20:25] mh-amount opened #4626 "Compatibility issue casting real to decimal"
We recently upgraded from prestosql 329 to 338, and it seems that something changed on the server side that is causing conflicts with a jdbc driver when casting `real` values to `decimal`.

The quirky part of this is that I'm not sure if it's a server or a client issue. This is because it works fine with a newer prestosql jdbc driver, but it fails with a prestodb jdbc driver. At some point in time

[2020-07-29 21:13] findepi opened #4627 "Add version() function"
To check Presto version one currently has to:
[code]

Let's provide a more convenient form:
[code]

[2020-07-29 22:42] martint commented on #4626
I'm looking into this. It started happening in Presto 336

[2020-07-30 00:05] martint commented on #4626
There was a change in Presto 337 that caused the rendering of the type to switch from `decimal(30,2)` to `decimal(30, 2)` (note the space between then `,` and the `2`). This seems to be a bug in the prestodb driver, which doesn't seem to be able to parse that as a valid type. I haven't been able to reproduce the issue with any of the 3xx drivers.

[2020-07-30 03:27] chhsiao90 opened #4630 "Confused kafka config `kafka.connect-timeout`"
Currently, Kafka client doesn't support the connection timeout, there is only one in-progress pull request / issue which was created long time ago (see [KIP-148](https://cwiki.apache.org/confluence/display/KAFKA/KIP-148%3A+Add+a+connect+timeout+for+client) and https://github.com/apache/kafka/pull/2861).

Presto defines the config `kafka.connect-timeout` but not uses it, which is confused.
We shoul

[2020-07-30 06:52] findepi commented on #4627
Based on the conversation in #4629 , I am removing `syntax-needs-review`.

[2020-07-30 06:54] findepi commented on #4630
It would be good to control the timeout.
For now, let's remove the ignored config, it is easy to
re-add it when we actually implement it.

[2020-07-30 06:59] findepi commented on #4527
[code]

https://github.com/prestosql/presto/pull/4563

[2020-07-30 07:07] findepi commented on #4626
@mh-amount we do care a lot about client-server protocol compatibility. This is hard to test
in general (let's assume that for a moment; there are many details that need to be taken care of,
besides protocol structure itself). There is e.g. ongoing work on https://github.com/prestosql/presto/issues/1787.

We still need to do backwards incompatible changes though, e.g. to fix bugs in the data repre

[2020-07-30 08:43] findepi commented on #4564
What is the difference?

[2020-07-30 09:06] sopel39 commented on #4527
[code]
https://github.com/prestosql/presto/pull/4611

[2020-07-30 09:14] yashaswaj commented on #4564
Please check -> https://github.com/prestosql/presto/pull/4419/files#diff-65df28a0250fbd6deef7970a5b8353c0 . there is somehow a missing space between words "can" and "notice".
I had closed that PR as recommended in https://github.com/prestosql/presto/pull/4446#issuecomment-660433966

[2020-07-30 09:23] sopel39 commented on #4527
[code]
https://github.com/prestosql/presto/pull/4290

[2020-07-30 09:46] sopel39 commented on #4527
General
* Reduce query memory usage by improving retained size estimation for `VARCHAR` and `CHAR` types. ({issue}`4123`)
https://github.com/prestosql/presto/pull/4123

[2020-07-30 09:56] wendigo commented on #4189
@findepi I've enabled `AnnotateFormatMethod` errorprone check and a number of places are pretty huge in PrestoSQL. When I've enabled `-Xep:FormatString:ERROR` I've found a couple of places with bad `String.format` use which should be fixed first.

[2020-07-30 10:41] findepi opened #4634 "Add TPC-DS queries to BenchmarkPlanner"

[2020-07-30 13:24] findepi opened #4637 "Investigate possible incorrect query results related to ORC decimal min/max statistics"
https://issues.apache.org/jira/browse/ORC-517 doesn't say this causes correctness problem
But   https://github.com/apache/orc/pull/405/files#diff-a0861c5ad0775baf23793ac86da5fbb6R502-R507
ignores stats written by older writers, suggesting there was a correctness problem.

[2020-07-30 14:00] rmgpinto opened #4638 "Query stuck in PLANNING indefinitely"
Hi,

As @findepi requested on slack, I'm creating this issue.

I'm executing a query and it's stuck on PLANNING.

dump.log: https://gist.github.com/rmgpinto/68d6e1bcf4c986fde3995a35a1b28a6b
query:
[code]

suspect: https://github.com/prestosql/presto/pull/4632

[2020-07-30 14:53] findepi commented on #4638
Thanks @rmgpinto for creating the issue.

Can you also provide schemas (SHOW CREATE TABLE) of the tables involved?

Also, would you be able to add a regression test cases in `presto-product-tests/src/main/resources/sql-tests/testcases`?

[2020-07-30 14:54] findepi commented on #4638
Also, @rmgpinto, would you be able to give https://github.com/prestosql/presto/pull/4635 a try?

[2020-07-30 15:56] DRavikanth opened #4641 "Presto CLI improvements to validate the LDAP credentials on login"
Hi,

After enabling LDAP auth for Presto, when I pass in options for CLI as follows:

[code]
I am still able to login, however an error is thrown only after we run a query. Observed the same behavior for incorrect password after LDAP is enabled. It would be nice to validate the credentials at login itself instead of validating after running a query.

As quoted by @findepi on Slack:

There is no “s

[2020-07-30 16:17] levand commented on #2760
This also happens when an intermediate state is a decimal:

[code]

[2020-07-30 16:58] tooptoop4 commented on #4641
duplicate of https://github.com/prestodb/presto/issues/11299

[2020-07-30 20:51] #4410 closed

[2020-07-30 20:59] boristyukin commented on #2491
it is also ILIKE in Impala and SnowFlake if it is worth something

[2020-07-30 21:03] DRavikanth opened #4644 "Presto GUI prompts for Client certificate after enabling HTTPS"
After enabling HTTPS for Presto on trying to access the GUI on HTTPS link the browser prompts for a client certificate. Can this be addressed ?

Thanks,
Ravi

[2020-07-30 21:39] rmgpinto commented on #4638
@findepi that PR fixes it.

[2020-07-30 21:46] rmgpinto commented on #4638
@findepi that PR fixes it.
Thanks

[2020-07-30 22:14] dprophet opened #4645 "trino-docs wont build when your build environment is already inside a docker container"
My build environment is already inside a docker container.

When you run a mvnw build

https://github.com/prestosql/presto/blob/master/presto-docs/build#L11

Tries to run
docker run --rm -e PRESTO_VERSION -u 0:0 -v /src/prestosql/build/presto-docs:/docs prestodev/sphinx:2 sphinx-build -j auto -b html -W -d target/doctrees src/main/sphinx target/html

This wont work if the build environment is alre

[2020-07-31 02:22] electrum commented on #4645
Do the tests work for you, for example, in the `presto-MySQL` module? They also use Docker.

[2020-07-31 03:59] infearOnTheWay commented on #18
Hi all,

AFAIK Presto has already support many geo functions such as st_within,st_distance and so on. Such functions is always used in projection or filter in geo sql query. If we use presto to connect to any geo datastore, these calcution would be optimized by space index supported by data store. So can presto push down these geo functions or any general functions?

[2020-07-31 06:08] findepi commented on #4645
You can use docker in docker, or you can use VMs as a virtualized build environment (as eg GitHub actions do AFAICT).
I think e.g. Travis supports both modes.

Using docker during build solves many important problems (python and sphinx local dependencies being one example), and we do not want to go back to these problems.
However, you may find this command useful. It skips docs and some other comp

[2020-07-31 06:22] degoyal commented on #2817
Thanks @hashhar and @electrum . Is it ready to be merged to master?

[2020-07-31 06:23] #3980 closed

[2020-07-31 06:25] findepi commented on #4527
[code]

https://github.com/prestosql/presto/pull/4477

[2020-07-31 06:48] hashhar commented on #2817
@degoyal No. I hadn't been able to spend a lot of time on this. Pending things are to verify if Hive allows implicit conversion between ANY numeric type and Strings. If someone could create a matrix of supported conversions it would help since I don't have a Hive setup handy and only devote weekends to this.

[2020-07-31 07:23] skycow00 opened #4650 "Dynamic filtering doesn't work with cassandra connector"
I have a few big size table over than 1 billion rows.
Each tables relate with each others.
I'd like to join the tables with keys.
Such as,

SELECT *
FROM big_one o
JOIN big_two t
ON o.r_key = t.r_key
WHERE t.pk = 'AA'

The result of the query has just a few rows.
But, my presto engine loaded data of whole table.
Two queries which separated 2 steps were so fast.

SELECT *
FROM big_two
WHERE pk = 'A

[2020-07-31 08:10] y1275963 commented on #2260
pull request :https://github.com/prestosql/presto/pull/4651

[2020-07-31 08:29] tooptoop4 commented on #4644
duplicate of https://github.com/prestosql/presto/issues/3649

[2020-07-31 09:18] findepi commented on #4644
@tooptoop4 thanks, my fault

@DRavikanth thanks for reporting the issue, let's continue under https://github.com/prestosql/presto/issues/3649

[2020-07-31 09:18] #4644 closed

[2020-07-31 09:24] findepi commented on #4650
DF is a feature that has some common bits and also each connector may opt-in to integrate with it better, in a connector-specific manner.
For Cassandra it has not been done yet.