[2021-12-28 13:17] #10425 closed

[2021-12-28 13:19] kqkdChen commented on #10425
Description error, resent

[2021-12-28 14:01] Greeengooo opened #10427 "Issue when extracting JSON"
Some json contains the field with name “config/web”.
I have the following path inside `JSON_EXTRACT_SCALAR`
**$.config/web.properties.minTlsVersion**
When I try to query the data I receive the following error:
**_Invalid JSON path_**

In my opinion the problem could be with slash  but I am not sure. Looking forward to getting some help on this.
Thanks

[2021-12-28 20:23] OneRaynyDay opened #10428 "`TYPEOF` fails with lambda as input"
The below fails, but it should output `<lambda>`
[code]

[2021-12-29 02:58] hoffermei opened #10430 "ClickHouse connector support split by clickhouse partition and shard info"
As pulling data(table scan) is almost the heaviest operation in clickhouse connector, make it run in parallel(with multiple split) can shorten a lot the whole query time.

This MR make trino splits by clickhouse partition info and shard info.
Partition info can extract from clickhouse system table `system.parts`, shard info can extract from clickhouse system table `system.clusters`.
The simplest s

[2021-12-29 08:45] hashhar commented on #10357
`ORDER BY col LIMIT n` is not pushed down into Kafka connector today. It's implemented for some JDBC connectors as 'Top-N pushdown'.

It should be possible to implement a very limited top-n pushdown (i.e. it will only get pushed down if the ORDER BY is on the `_partition_offset` column) by providing an implementation for `KafkaMetadata#applyTopN`. `DefaultJdbcMetadata#applyTopN` can be taken as an

[2021-12-29 12:10] mapshen commented on #10357
@hashhar thanks for the confirmation! Any idea on why the timestamp upper bound push down doesn't work?

[2021-12-29 12:12] hashhar commented on #10357
Let's move discussion to Slack to keep this issue focused on TopN pushdown support. Please share the stack-trace of the failure when timestamp pushdown is attempted on #troubleshooting on [Slack](https://trino.io/slack.html).

[2021-12-29 16:37] nineinchnick commented on #9772
I started working on this in #10415 but I realized that this new Docker image still has to include the JDK, so it won't that small. As an experiment, I built a truly standalone executable as a GraalVM native image, that is 41MB and doesn't require the JDK to run, only libc. After putting it into a CentOS 8 image, the final compressed size is 97MB, vs 273MB when using the regular JAR with JDK.

Gra

[2021-12-29 16:50] hashhar commented on #9772
See older efforts by @wendigo in https://github.com/trinodb/trino/pull/3072

[2021-12-29 18:35] JeevansSP opened #10431 "Error when trying to 'launcher run'"
[https://towardsdatascience.com/getting-started-with-trino-query-engine-dc6a2d027d5](url)
i followed this guide and set everything up but when I go to bin and execute launcher run I get the following error
**'launcher' is not recognized as an internal or external command,
operable program or batch file.**

now if I give the full directory and try to run it I get the following error

**'C:\trino\tr

[2021-12-29 20:58] findinpath commented on #10287
When using `CREATE SCHEMA`
you could create different schemas within the hive/iceberg connector.
https://trino.io/docs/current/connector/hive.html#examples

If this is not what you are looking for, please add more details to the issue description.

[2021-12-30 13:46] max-l-f opened #10436 "Hive S3 with S3 behind a http proxy"
Does somebody knows how to connect to a S3 bucket throught a http proxy ?
I didn't find any parameter to set it even if it is possible with the aws java sdk and trino uses this sdk.

[2021-12-30 19:44] findinpath commented on #10436
https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/main/java/io/trino/plugin/hive/s3select/TrinoS3ClientFactory.java#L99-L106

This is whether the AWS S3 client configuration is being performed.

As it can be seen, there is no configuration logic at the moment for setting proxy related settings.

However, with a bit of tweaking in:

- `io.trino.plugin.hive.s3.HiveS3Config`
- `io.tr

[2021-12-30 20:07] helix-loop opened #10438 "Unable to start trino-cli on ppc64le"
**OS**
Debian 11 Bullseye (ppc64le)

**Version**
trino server 367

After deployment of trino server 367 I am able to successfully start trino with

`python3 bin/launcher.py run`

However when trying to start trino-cli I get the following error:

`Inappropriate ioctl`

I then tried to build trino (368-SNAPSHOT) from source with `./mvnw clean install -DskipTests`. I then get the following "error" wh

[2021-12-30 21:18] findinpath commented on #9969
The current java util logging formatter is set statically to https://github.com/airlift/airlift/blob/master/log-manager/src/main/java/io/airlift/log/StaticFormatter.java

@dain can you share why did you opt for a statically defined formatter opposed to a configurable one?

[2021-12-30 21:28] helix-loop commented on #10438
Trying to build again with `./mvnw clean install -DskipTests -e` the build gets killed at another step?

[code]
The previous step seems to be fine:

[code]

[2021-12-30 23:31] helix-loop commented on #10438
The build got killed because of insufficient memory. After trying with more memory I got further. There are more errors with trino-docs [1] and trino-server-rpm [2]:

[1]
[code]
[2]
[code]
Disabling these with `./mvnw install -DskipTests -pl '!:trino-docs' -pl '!:trino-server-rpm'` the build is successful. However trying to start trino-cli from the build I get the following error again:

[code]
I

[2021-12-31 02:37] xiaojun90713 commented on #7363
I having the same issue too, Anyone have solution for this?

[2021-12-31 03:36] vincentpoon commented on #7363
@xiaojun90713 @sontt710 @yamingd This is fixed in Trino 366.  You need this patch:
https://github.com/trinodb/trino/commit/44c385478c3b6d75f7a166b6623ef586095251c6

[2021-12-31 03:36] #7363 closed

[2021-12-31 06:06] findinpath commented on #10431
@JeevansSP  this is happening because you are trying to start Trino in Windows which is _currently_ not a supported operated system.

If you have however docker on your machine, you could use

[code]

to get started with Trino and

[code]

to connect to Trino via the Trino CLI tool.

[2021-12-31 06:13] hashhar commented on #10431
Thanks @findinpath for helping out. Indeed Trino server cannot be run on Windows. However you can run the server inside Docker containers or on Linux and still use Trino-CLI from Windows to connect to it.

Feel free to join our [Slack](https://trino.io/slack.html) and continue the conversation there. We try to keep the GitHub issues focused on bugs instead of troubleshooting.

[2021-12-31 06:13] #10431 closed

[2021-12-31 10:46] ebyhr commented on #10427
Try square brackets and double quotes.
[code]

[2021-12-31 10:46] #10427 closed

[2021-12-31 10:52] findinpath commented on #8693
### Reproduction steps for the issue

Spin up a Trino hadoop dockerized environment
[code]

Create the tables via Trino CLI
[code]

Select from an iceberg table within the hive connector:

[code]
This operation fails with the above mentioned exception.

Select from a hive table within the iceberg connector
[code]

The operation fails with the exception (as expected):
[code]

[2021-12-31 10:54] ebyhr commented on #10389
[code]

#10332

[2021-12-31 11:08] ebyhr commented on #10389
[code]

#10380

[2021-12-31 23:08] losipiuk commented on #10395
Approach to solve this bug is in https://github.com/trinodb/trino/pull/10440 but it does not work. Or does not cover all the cases. I have a hard time to fully grasp what is exact events flow which leads to wrong exception propagated externally (no local repro).
@arhimondr PTAL if you have cycles - maybe it will be more obvious to you.

[2022-01-01 00:31] ebyhr commented on #8432
https://github.com/trinodb/trino/runs/4673552161

[2022-01-01 05:50] ebyhr opened #10444 "Add DataStax as Cassandra test environment"
As far as I confirmed, `5.1.5` works without any changes, but `6.8.18` fails to start a query runner due to below messages:
[code]

https://hub.docker.com/r/datastax/dse-server

[2022-01-01 19:59] dain commented on #10389
[code]
#10408

[2022-01-01 20:59] dain commented on #10394
Here is the Airlift PR https://github.com/airlift/airlift/pull/971

[2022-01-02 00:57] dmitryfill commented on #10287
Default catalog for HiveMetastore client is `hive`. Seems like starting from Spark 3.x there is a possibility to provide different default catalog, for example (https://spark.apache.org/docs/latest/configuration.html)

[code]

with adoption of this across Data Lakes and Iceberg (described here https://iceberg.apache.org/#spark-configuration/#catalogs) Trino needs to support via config ability to s

[2022-01-03 05:57] findinpath opened #10446 "Misleading exception when trying to create Iceberg table if Hive table with same name already exists"
[code]

The second query fails with the exception:

[code]

This message is rather misleading and should be changed with a meaningful message for the end user pointing out that a table with the same name and schema already exists in the hive metastore.

The issue occurs in `io.trino.plugin.iceberg.catalog.AbstractMetastoreTableOperations#refresh` method

[code]

However, due to the fact that the c

[2022-01-03 06:19] ByPatrick commented on #10113
Just FYR:

I create the table without the orc_bloom_filter_columns property, this issue didn't show up so far.

[2022-01-03 09:23] nineinchnick commented on #9772
@hashhar thanks! Fortunately, the scope here is smaller, as we don't need to build and publish the executable for 3 different OSes using Maven, just for that one Docker image. Also, looks like it's much easier with latest GraalVM 21.3, the resources can be generated automatically using an annotation processor. I'll try building a fully static binary in a Docker image based on scratch.

[2022-01-03 11:04] realknorke commented on #10341
How have you tested that fix?

[code]

[2022-01-03 15:08] manicole commented on #9572
Btw, are you, Trino, related with https://hub.docker.com/r/starburstdata/presto-operator ? Is it deprecated (can't find doc nor github) ? Thanks

[2022-01-03 15:33] findinpath commented on #10287
Can you please script in more detail your usage scenario?

Currently Trino allows its users to use multiple connectors (hive & iceberg) with the same hive metastore.

If you look at the catalog configuration for:
- [hive](https://github.com/trinodb/trino/blob/master/testing/trino-server-dev/etc/catalog/hive.properties)
- [iceberg](https://github.com/trinodb/trino/blob/master/testing/trino-server-d

[2022-01-03 23:08] #10269 closed

[2022-01-03 23:11] sopel39 commented on #10389
[code]
https://github.com/trinodb/trino/pull/10350

[2022-01-04 03:47] BalaMahesh opened #10450 "SortingFileWriter failing to committing write to Hive with less workers"
trino version : 366
Issue : We are running INSERT query which writes data into the bucketed hive table in orc format.
In hive connector we have set the below config

hive.temporary-staging-directory-enabled  = true
hive.temporary-staging-directory-path = /data0/logs/trino (changed from /tmp/presto-${USER} , since we are facing this and wanted to try with different path).

Case 1: With 70 workers i

[2022-01-04 08:02] hashhar commented on #10287
@findinpath Hive Metastore since 3.x has the ability to have "catalogs" as well which is what @dmitryfill is pointing to if I understand correctly.

Today if you have a Hive Metastore with two Hive catalogs - `hive` and `mynewhive` then Trino only looks at the default catalog `hive`.

IMO the way to support this would require having multiple hive catalogs in Trino - 1 for each catalog in HMS.

[2022-01-04 09:05] ebyhr opened #10451 "Predicate pushdown on ARRAY(char) type in Phoenix 4 & 5 connector throws an exception"
Steps to reproduce:
[code]

`baseDataType` object at PArrayDataType.java:1083 is PChar class and the `getByteSize()` returns null
[code]

[2022-01-04 10:12] nineinchnick commented on #9772
I've managed to build a working static CLI binary. I've pushed the changes to a separate [branch](https://github.com/nineinchnick/trino/compare/trino-cli-image...nineinchnick:trino-cli-image-static) since there are some minor issues:
* since I used a scratch base image, there's no less - need to find a static replacement or use alpine linux as base
* there are some issues with jline, see below

[c

[2022-01-04 10:40] JeevansSP opened #10454 "node.environment: may not be null"
when I try bin/launcher run
I get this error
**Invalid configuration property node.environment: may not be null (for class io.airlift.node.NodeConfig.environment)**
my node.environment is set to "test" so I don't see what is the issue.

[code]

and this is my node.properties

[code]

**another thing worth mentioning, if I rename node.environment such that it contains invalid characters ('-' and up

[2022-01-04 11:07] max-l-f commented on #10436
Thank you, I will try to create new parameters to set the proxy configuration

[2022-01-04 11:07] JeevansSP commented on #10454
@ebyhr please help

[2022-01-04 11:40] #10359 closed

[2022-01-04 11:41] sopel39 commented on #10389
[code]
https://github.com/trinodb/trino/pull/10360

[2022-01-04 12:20] findepi commented on #10400
We should test with both: oldest and newest supported PostgreSQL version.
See `BaseElasticsearchConnectorTest` (perhaps this should use `BaseConnectorSmokeTest` instead.)

[2022-01-04 12:24] findepi commented on #10394
Didn't we have date-based rolling?
That used to be convenient.

cc @willmostly @springjd

[2022-01-04 12:59] findepi commented on #10287
Which boils down to adding a configuration toggle, passing it appropriately in HMS calls, with proper tests.
Idk however, how to handle this nicely, and remain compatible with HMS < 3. To be found out.

[2022-01-04 13:06] mailtoraja18 opened #10457 "snyk vulnerabilities"
snyk vulnerabilities identified in amd 367 image.

RejectReason:       cdda329d-9e0a-4c3e-83a2-c142588c1995
      Type:            VULNERABILITY
      Name:            CVE-2019-20445
      CVSS Score v3:   9.1
      Severity:        critical
      Description:     HttpObjectDecoder.java in Netty before 4.1.44 allows a Content-Length header to be accompanied by a second Content-Length header, or by

[2022-01-04 14:08] JeevansSP commented on #10454
jvm.config
[code]

config.properties
[code]

sqlserver.properties
[code]
ive masked the confidential info

[2022-01-04 16:56] guyco33 commented on #10400
`10.x` is the oldest supported version, so splitting tests is not relevant for partitioned tables.

[2022-01-04 16:59] RussellSpitzer opened #10462 "Iceberg table may be corrupted when HMS/catalog commit fails due to network reasons"
https://github.com/trinodb/trino/blob/dff92cf8a3ef8e1523a50c05e3cb4674acf3f465/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/HiveMetastoreTableOperations.java#L101

I believe this has a similar issue to one we patched in the TableOperations in the Iceberg Repository here

https://github.com/apache/iceberg/issues/2317

And then patched here

https://github.com/apache/iceber

[2022-01-04 18:05] RussellSpitzer commented on #10462
Also @malhotramanish :)

[2022-01-04 19:02] JeevansSP commented on #10454
@ebyhr i have posted all the files

[2022-01-04 21:34] arhimondr opened #10464 "Insert into S3 may result in "out of heap" crash on executor"
`TrinoS3StreamingOutputStream` eagerly allocates a buffer on construction: https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/main/java/io/trino/plugin/hive/s3/TrinoS3FileSystem.java#L1499.

The default buffer size is `16MB` (https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/main/java/io/trino/plugin/hive/s3/HiveS3Config.java#L70) and the streaming upload is enable

[2022-01-04 23:54] martint commented on #10454
Where is your `node.properties` file located relative to `config.properties`? Is it also in the `etc/` directory?

[2022-01-05 01:44] mosabua commented on #10389
All entries above are in the PR.

[2022-01-05 03:58] JeevansSP commented on #10454
node.properties and config.properties are in the same directory in etc/

[2022-01-05 04:02] JeevansSP commented on #10454
[code]

[2022-01-05 05:40] DoubleDue opened #10466 "Need Kafka sasl auth"
our kafka cluster uses sasl auth，and now trino support ssl auth. so i wonder if trino can support sasl auth, thx!

[2022-01-05 05:55] ebyhr commented on #10466
Going to close as duplicate of #6439

[2022-01-05 05:55] #10466 closed

[2022-01-05 06:37] ebyhr commented on #10454
Both `bin` and `etc` directories exist in the same directory?

[2022-01-05 06:47] ebyhr opened #10467 "docs-checks fails due to OutOfMemoryError"
[code]
https://github.com/trinodb/trino/runs/4709585911

[2022-01-05 06:55] JeevansSP commented on #10454
yes bin and etc are folders in trino-server-367 along with other folders and trino-server-367 and data folders are inside a folder called Trino

[2022-01-05 07:45] hashhar commented on #10467
Let's use the `MAVEN_INSTALL_OPTS` defined in docs.yml. It limits Xmx to 2G. I'm guessing that currently no Xmx is set and hence JVM tries to grow heap (instead of GCing) and fails?

[2022-01-05 08:56] caneGuy commented on #9877
@codope do you have any POC for MOR table to use common api instead of inputformat?

[2022-01-05 09:00] findepi commented on #10389
[code]
https://github.com/trinodb/trino/pull/9817

[2022-01-05 09:00] findepi commented on #9732
Fixed by https://github.com/trinodb/trino/pull/9817

[2022-01-05 09:00] #9732 closed

[2022-01-05 09:07] JeevansSP commented on #10454
i restarted the system and now after bin/launcher start
it says
started as 2303

[2022-01-05 09:13] ebyhr commented on #10454
Do you mean `bin/launcher start` works, but `bin/launcher run` doesn't work?

[2022-01-05 09:15] JeevansSP commented on #10454
actually no , after bin/launcher start when i check bin/launcher status it says not running

[2022-01-05 09:16] JeevansSP commented on #10454
bin/launcher run still gives the same error

[2022-01-05 09:20] JeevansSP commented on #10454
may it be because i have java 16 installed?

[2022-01-05 09:29] ebyhr commented on #10454
I don't think the version relates to the issue, but I would recommend using Java 11.
https://trino.io/docs/current/installation/deployment.html#java-runtime-environment

[2022-01-05 10:24] JeevansSP commented on #10454
do you know why i might be getting this error? or what does it even mean?

[2022-01-05 10:27] #6392 closed

[2022-01-05 12:28] #10467 closed

[2022-01-05 12:50] BalaMahesh opened #10470 "Trino Insert query failing while moving data from temp location to original location"
We are running the insert query in trino(version : 366) , we are getting the below error intermittently

Query 20220105_080332_00024_8knjy failed: Error moving data files from gs://xxx-gcs-prod/data0/logs/trino/e1dafcd1-a616-4205-b2ed-73025fd6a828/set=e578fef26a6d451bb6ee268d3c0bc47e/process_date=2022-01-02/hour=10/20220105_080332_00024_8knjy_03e649ad-06ee-4a73-a95f-1a08ac20e542 to final location

[2022-01-05 13:40] findepi commented on #10470
cc @medb

[2022-01-05 16:17] medb commented on #10470
Without original stacktrace it's hard to tell what is happening, but taking into account that `asyncRename` parallelises file rename and doing this one by one with call to `exists` before rename, I would guess that this\ could be caused by GCS overload if there are many files to rename.

@findepi probably there should be better exception handling that logs original exception thrown in `asyncRename

[2022-01-05 17:03] mapshen opened #10476 "skip tls verification when using https for `pinot.controller-urls`"
We run Pinot behind a proxy which only permits https. The cert served by the proxy is signed by an internal CA, which Trino running in a docker container doesn't trust out of the box.

Therefore, it would be helpful if we can configure:
1. whether to validate the tls certficate when talking to Pinot over https
2. where to locate the cert(s) to trust when tls verification is enabled.

Below is the

[2022-01-05 17:21] losipiuk commented on #10389
[code]
https://github.com/trinodb/trino/issues/10308

[2022-01-05 17:51] joshthoward opened #10477 "Make aggregations batch oriented"
Starburst has been looking into the idea of making aggregation operators batch oriented. The purpose of this issue is to share the general approach and receive community feedback and hopefully involvement.

The steps that we currently plan to take are:
- [ ]  Introduce BatchSelectedPositions similar to SelectedPositions
- [ ] Make PagesHashStrategy batch oriented
- [ ] Make implementations of Accu

[2022-01-05 18:27] joshthoward opened #10479 "Failure in update query with subquery in where exists clause"
If I run the following SQL:
[code]
I get the following stacktrace:
[code]

[2022-01-05 21:29] tmnd1991 commented on #10259
I think it’s going to be there very soon  #10300

[2022-01-05 23:11] dain commented on #10341
The [second bug fix](https://github.com/trinodb/trino/commit/9586ae2dccba196c86aab28cd802ca007c67b6db) will be in the next release, 368.  I tried your plugin using development server in trunk and got:
[code]

The code I ran is here: https://github.com/dain/trino/commit/939319eb3266b10831dbeeff193a6f545bd7ce38, and I executed using io.trino.server.DevelopmentServer.

[2022-01-05 23:35] ebyhr commented on #6220
https://github.com/trinodb/trino/runs/4714781266

[2022-01-06 02:42] phd3 commented on #10389
[code]

#10447

[2022-01-06 05:05] dmitryfill commented on #10287
Yes, @hashhar is correct. Hive Metastore 3.x supports custom catalogs, pretty much like a different namespaces for databases and tables.

As of scenario, lets assume I have 2 different environments `staging` & `production`

In Trino 2 hive connectors added:

1. Staging

[code]

2. Production
[code]

And there is a SQL hardcoded in the code:

[code]

catalog now could be specified through configura

[2022-01-06 06:00] BalaMahesh commented on #10450
@findepi  any idea why this is happening , it's strange no else has faced this issue earlier ?

[2022-01-06 06:17] #6395 closed

[2022-01-06 07:11] ebyhr commented on #10454
Can you join the community Slack so that we can talk interactively? https://trino.io/slack.html

[2022-01-06 07:37] tooptoop4 commented on #10436
it works without code change but applies at whole jvm level (ie affecting proxy settings against ranger, mysql, or whatever other connections). just add 4 flags to jvm.config file: -Dhttp.proxyHost/-Dhttp.proxyPort/-Dhttps.proxyHost/-Dhttps.proxyPort

https://github.com/trinodb/trino/pull/3297 has a fine grained proxy per bucket only solution

[2022-01-06 07:39] tooptoop4 commented on #10407
@heroygt https://github.com/trinodb/trino/pull/3105#issuecomment-763214441

[2022-01-06 08:39] findinpath opened #10486 "Failure in reading decimal from PARQUET (written by Trino) on hive with `experimental_parquet_optimized_writer_enabled`set to `true`"
It seems that there is an issue in the `trino-parquet` module for writing the data.

Failing build:

https://github.com/trinodb/trino/runs/4723741729?check_suite_focus=true

Failing test:

[code]

Reproduction scenario:

[code]

Run the test `io.trino.tests.product.hive.TestHiveStorageFormats#testInsertAllSupportedDataTypesWithTrino`

Executing the query on hive:

[code]

is causing the issue.

Ho

[2022-01-06 08:40] findinpath commented on #10486
@alexjo2144 , @findepi  FYI

[2022-01-06 08:43] hashhar commented on #10486
See https://github.com/trinodb/trino/issues/7953 (and the linked issue and PR).

[2022-01-06 09:01] BalaMahesh commented on #10470
@medb I have gone through the usage logs of GCS bucket, I couldn't find the number of requests to GCS metric yet(can you suggest on where I could find that).

There are logs that I could found for the query that has failed moving data.

time_micros	cs_method	cs_uri	sc_status	cs_bytes	sc_bytes	time_taken_micros	cs_host	cs_referer	cs_user_agent	cs_operation	cs_bucket	cs_object
1641434747044639				GE

[2022-01-06 09:04] hashhar commented on #10486
Marking as a release blocker since it's a regression (and we'll end up disabling the test to unblock master while a fix is being made - https://github.com/trinodb/trino/pull/10487)

[2022-01-06 09:39] JeevansSP commented on #10454
ok

[2022-01-06 09:53] ebyhr commented on #10454
As we talked in Slack, the `node.proporties` file name was wrong. It was `node.porperties` in your environment.

[2022-01-06 09:53] #10454 closed

[2022-01-06 11:21] yunfeng79 opened #10489 "Iceberg Table is missing [metadata_location] property:tablename"
trino 367 (trino 360 same error)

catalog:iceberg
[code]

[2022-01-06 15:02] AVSuni opened #10491 "No factory for connector 'postgresql'"
Hi, I am trying to deploy trino on k8s with Trino's official charts. I have added the following to values.yaml

[code]

I get

[code]

Any ideas as to where to go from here? There isn't much documentation on Trino/K8s. Many thanks

[2022-01-06 15:34] hashhar commented on #10491
Your values.yml is getting rendered as a single line. Notice the error message:

Can you try the below:

[code]

Feel free to join our [Slack](https://trino.io/slack.html) and continue the conversation there on #troubleshooting. We try to keep GitHub issues limited to bugs. However feel free to re-open this and continue here.

[2022-01-06 15:34] #10491 closed

[2022-01-06 16:05] martint commented on #10486
If this is just an issue in the experimental writer, I might not block the release on it. Especially since we need to release soon to address a more serious issue with how log rotation is being performed.

[2022-01-06 17:22] JeevansSP commented on #10454
i had misnamed node.properties as node.propoerties, fixed it and it works now

[2022-01-06 17:23] hashhar commented on #10486
I'm fine either way since IIUC this is a pre-existing bug that was uncovered by new tests. @findinpath can correct me if my understanding is wrong.

[2022-01-06 17:56] medb commented on #10470
GCS bucket should have `api/request_count` metric that you can use to determine number, type and status of the GCS requests to your bucket during query execution: https://cloud.google.com/monitoring/api/metrics_gcp#gcp-storage

[2022-01-06 22:46] mapshen opened #10494 "kafka.timestamp-upper-bound-force-push-down-enabled not working"
We use the trino kafka connector with `kafka.timestamp-upper-bound-force-push-down-enabled` set to true, but got the following error when running this query:
[code]

And the stack trace shows:
[code]

[2022-01-07 00:30] Chaho12 commented on #9080
Interesting to note that it was negative number when running query, but changed to positive number when the query is done. (trino v353)
![image](https://user-images.githubusercontent.com/25147023/148471597-08df3ffe-10c1-451e-9dc1-9e8e7acba8f1.png)

[2022-01-07 06:31] hashhar commented on #10494
Today timestamp pushdown for Kafka only works if the condition is an equality or a sorted-range (i.e. `=`, `IN` or `> AND <`). Open-ranges don't seem to work (`>` or `<`).

Can you check whether a query like `select _timestamp from "<kafka-topic>" where _timestamp > timestamp '2022-01-06 16:00' and _timestamp < current_timestamp limit 10;` works?

The offending code is https://github.com/trinodb/t

[2022-01-07 08:37] findinpath commented on #10486
The PR containing the test code used to discover this issue:

[2022-01-07 10:21] tangjiangling commented on #10007
@kokosing Is anyone fixing this, if not I'd like to try it.

[2022-01-07 12:40] hashhar commented on #9724
Note that none of them will allow you to implement pagination if you want fixed size pages since the targetResultSize is based on amount of data in bytes rather than number of records to be returned.

[2022-01-07 18:01] rzeyde-varada opened #10502 "Allow ValueSet expansion for `LongDecimalType`"
Following https://github.com/trinodb/trino/pull/9868#discussion_r778616741_

[2022-01-07 22:32] robd003 opened #10505 "Trino CLI fails to run on Apple M1"
When attempting to run the trino cli it errors out with "Bad Address" when using Java 17 on macOS 12

[code]

Interestingly I can get output from --help it just crashes whenever trying to connect to a server.

[code]

[code]

[2022-01-07 22:33] martint commented on #10505
Related: https://github.com/trinodb/trino/pull/10177

[2022-01-07 22:36] robd003 commented on #9876
Also seeing crashing on the CLI side with Java 17 https://github.com/trinodb/trino/issues/10505

[2022-01-09 13:50] melin opened #10511 "Can output RelationPlan as SQL?"
add row filter and column mask，Print the modified SQL。

[2022-01-09 13:53] mailtoraja18 commented on #9363
looking forward for this enhancement. any eta ?

[2022-01-09 14:15] findinpath commented on #10489
Do you have a reproduction scenario for this issue?

Here is the related code used to throw the exception

https://github.com/trinodb/trino/blob/master/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/AbstractMetastoreTableOperations.java#L155-L158

A few questions to narrow down the issue:
How was the table created?
What table properties are currently available in the metastore?

[2022-01-10 01:38] yunfeng79 commented on #10489
@findinpath
create table
SET iceberg.catalog.hadoop_catalog.type=hadoop;
SET iceberg.catalog.hadoop_catalog.warehouse=hdfs://datacenter/iceberg/warehouse;

use dongxin;
CREATE external TABLE ods_received_data
STORED BY 'org.apache.iceberg.mr.hive.HiveIcebergStorageHandler'
LOCATION 'hdfs://datacenter/iceberg/warehouse/dongxin/ods_received_data'
TBLPROPERTIES (
'iceberg.catalog'='hadoop_catalog'
);

[2022-01-10 06:54] georgewfisher commented on #7310
I am getting this same issue. HMS 3.1.2

[2022-01-10 08:48] kokosing opened #10512 "Metadata caching may return incorrect data"
Guava cache that we are using for metadata caching in many places (like hive metastore caching or JDBC connector metadata caching) is vulnerable to: https://github.com/google/guava/issues/1881

The issue is causing that cache entry invalidation does not cancel (invalidate) the existing load execution and that could lead to stale data being loaded. This may lead to incorrect results.

[2022-01-10 09:21] kokosing commented on #10007
There is a PR already in flight: https://github.com/trinodb/trino/pull/10412

[2022-01-10 09:27] findepi commented on #10511
Relation Plan (the `PlanNodes` tree) is not translatable back to SQL.
It may contain operations that do not exist in SQL at all, for example `AssignUniqueId`, or partial aggregation.

[2022-01-10 09:27] #10511 closed

[2022-01-10 09:27] tangjiangling commented on #10007
Got it.

[2022-01-10 09:46] findepi commented on #10450
i do not, but i'd ask @electrum for advice.

[2022-01-10 10:05] kokosing commented on #10512
The issue can be reproduced with: https://github.com/trinodb/trino/pull/10513

I tried to play with caffeine (as Internet suggested) to see if it helps, however it was still failing. And javadoc says behavior in such case is undefined: https://github.com/ben-manes/caffeine/blob/5e834f8fdcf3819a242da7a44d7e62c7fde0ab2a/caffeine/src/main/java/com/github/benmanes/caffeine/cache/Cache.java#L174

[2022-01-10 10:18] findepi commented on #10366
[code]

cc @wendigo

[2022-01-10 11:00] ben-manes commented on #10512
Unfortunately this is a limitation due to decorating `ConcurrentHashMap`, because an iterator skips over in-flight computations. It's `clear()` method will block if it traverses over a pending load, but the externalized iterators do not. As the cache has to maintain additional metadata and functionality it has to know which entry was removed (e.g. to notify a removal listener).

A possible workaro

[2022-01-10 11:09] kokosing commented on #10389
[code]
#10493

[2022-01-10 11:15] cozos opened #10517 "Trino fails to read double in Parquet - java.lang.IllegalArgumentException: valuePosition 230100 must be equal to readOffset 231423"
When running the following query on Trino 364:
[code]

[code]

The table in Trino:

[code]

The parquet file:
[code]

Some observations:

- I changed the table name and column names and removed some columns (didn't want to expose company data)
- The query works if the `WHERE` clause is removed
- Pruning the other columns (not shown here) away also fixes the problem

Any idea what's happening here

[2022-01-10 12:23] findepi opened #10518 "Test concurrent UPDATE and DELETE for Hive ACID tables"
Add a test proving that concurrent UPDATE or DELETE (or MERGE, once that's supported) on a single Hive ACID table do not lead to data corruption.

[2022-01-10 12:25] kokosing commented on #10512
The idea with generation id is really nice. However, it won't fly with guava cache as we also call invalidate per cache key. So we would need to do switch to Caffeinate or fix guava cache.

[2022-01-10 12:38] findepi commented on #10389
[code]

#10459

[2022-01-10 13:24] kokosing commented on #10512
Also methods like `io.trino.plugin.jdbc.CachingJdbcClient#invalidateCache` have no chance to invalidate entries that are during load (or reload).

[2022-01-10 13:45] findepi commented on #10470
The exception in issue description points at this line https://github.com/trinodb/trino/blob/44af1d5c9afd4a0eddc62452823f8898b7b2ea4e/plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/SemiTransactionalHiveMetastore.java#L2386

I filed https://github.com/trinodb/trino/pull/10520 to differentiate `exists` and `rename` checks. Not sure if it helps, but shouldn't hurt.

cc @losipiuk

[2022-01-10 14:59] phd3 commented on #9199
a similar looking stacktrace on https://github.com/trinodb/trino/runs/4749356863?check_suite_focus=true

[code]

[2022-01-10 16:19] ayushbilala opened #10523 "Enhance BQ Connector to Pushdown Predicates while Materializing View"
BQ Connector in the current state does not make use of predicates during view materialization. So, if the table is of size 10 TB, the connector will try to materialize 10 TB of data even when the SQL query submitted by the client has certain query filters.

Example:
```SELECT col1, col2, col3 from someHugeBQTable where col1='someVal1';```

BQ Connector as part of the materialization step will subm

[2022-01-10 16:50] hashhar commented on #10523
I believe the reason for the current impl is that the view materialization cache is keyed on the SELECT SQL generated. Once we start pushing down predicates then the materialised cache will probably not be used at all unless the values passed to the predicates match exactly.

However the current behaviour is also suboptimal. As long as the sum of data returned from various queries on the view < si

[2022-01-10 17:07] #10400 closed

[2022-01-10 17:10] hashhar commented on #10389
[code]

https://github.com/trinodb/trino/issues/10400, https://github.com/trinodb/trino/pull/10403

[2022-01-10 17:49] ben-manes commented on #10512
Oh sorry, the reference to `invalidateAll()` led me to assume you were concerned about `CachingJdbcClient.flushCache()`. The per-key linearization should be supported and passes a [linearization test](https://github.com/ben-manes/caffeine/blob/5e834f8fdcf3819a242da7a44d7e62c7fde0ab2a/caffeine/src/test/java/com/github/benmanes/caffeine/cache/testing/AbstractLincheckMapTest.java#L84-L87) (via [Linch

[2022-01-10 20:42] kokosing commented on #9423
Among the others this PR https://github.com/trinodb/trino/pull/10262 removes usage of selenium so it should be soon better. CC: @lukasz-walkiewicz

[2022-01-10 21:00] ramkumar-jeganathan opened #10527 "view failure"
Trying to pass date dynamically to a view.

create function var1() returns VARCHAR(256) DETERMINISTIC NO SQL return @var1;

create view date_test as select * from ( select notes, create_date from table1 where create_date FROM_UNIXTIME(var1()) and FROM_UNIXTIME(1741013691) ) x) y

select dt.* from (select @var1:=1641013691) p , date_test dt;

Error:
Query 20220110_204851_00123_zhtpu failed: line 1:

[2022-01-11 02:27] ImTangYun opened #10532 "planning infinite in some cases"
bad case:
create table tmp.plan_debug as select 1 as uid;
select uid from tmp.plan_debug where uid > 0 and (uid not between 1 and 3)
![plan-bug](https://user-images.githubusercontent.com/5945486/148871170-39c11b95-fbcb-48bd-b6a4-fa45bf9144f0.png)

When I ran sqls as above, i found that the second sql will stay on planning stage until planning timeout.
Here is my pr of fixing it:
https://github.com

[2022-01-11 04:14] rdagur opened #10533 "Not able to authenticate with LDAP"
I am trying to integrate trino with LDAP. Configurations are given below

  config.properties: |
    coordinator=true
    node-scheduler.include-coordinator=true
    http-server.http.port=8080
    http-server.https.enabled=true
    http-server.https.port=8443
    http-server.authentication.type=PASSWORD
    http-server.https.keystore.path=/etc/trinonew.pem
    query.max-memory=8GB
    query.max-me

[2022-01-11 04:42] Sunwoo-Shin opened #10534 "Suggestions : Hive Metastore Delegation-Token Authentication Failure"
### Situation
I figured out that the delegation-token of the hive metastore server (HMS) is created and the cached token is implemented to continuously access until the time of the `hive.metastore.thrift.delegation-token.cache-ttl` option among the hive connecter options.
​
As a result, when the hive metastore server (HMS) is restarted, it was confirmed that an authentication error occurred becaus

[2022-01-11 06:05] #10533 closed

[2022-01-11 06:08] rdagur commented on #10533
It was due to connection issue. By putting IP of ldap server instead of hostname in ldap.url property, it is working.
ldap.url=ldap://IP of ldap server:389

[2022-01-11 06:45] ayushbilala commented on #10523
I agree, but there is always a chance of serving the stale data from the cache to the client if the underlying data keeps on changing. If we keep the TTL too low, we might end up refreshing the cache all the time.

Well, as far as I know, the Google BQ team is already at work for adding support for reading simple views using Storage Read API. But there won't be any support for complex views.

[2022-01-11 06:51] ebyhr commented on #7702
Please feel free to reopen if the above config property doesn't work.

[2022-01-11 06:51] #7702 closed

[2022-01-11 07:09] ebyhr opened #10537 "Add support for Datetime64 type in ClickHouse connector"

[2022-01-11 07:10] ebyhr opened #10538 "Support writing timestamp and datetime types in ClickHouse connector"

[2022-01-11 08:49] ZZa commented on #6439
Greetings in the new year, @klDen! Any updates on including this enhancement in the official build probably?

[2022-01-11 09:00] kokosing commented on #10512
Thanks @ben-manes !

My raw current suggestion to solve this issue is:
 - use Caffeine, I do not think that we should fix or wait for the fix in Guava cache
 - use generation id for invalidateAll() use case
 - considering using `AsyncCache` for `invalidateCache`, or consider removing `invalidateCache` method at all (not sure if it is possible). Anyway it is a major refactor.
 - write concurrency t

[2022-01-11 09:24] dohr-michael commented on #391
Hi,
This feature is planned in any upcoming versions ?
Could be nice to have this

[2022-01-11 09:47] ebyhr opened #10541 "Use com.clickhouse.jdbc.ClickHouseDriver in ClickHouse connector"
We should use `com.clickhouse.jdbc.ClickHouseDriver` instead of `ru.yandex.clickhouse.ClickHouseDriver`.
[code]

[2022-01-11 10:16] sopel39 commented on #10389
[code]
https://github.com/trinodb/trino/pull/9949

[2022-01-11 10:42] sopel39 commented on #10314
I still see this:
[code]
`testQueryMemoryPerNodeLimit`
`testQueryUserMemoryLimit`

in tight memory situation

cc @dain

[2022-01-11 11:44] findepi commented on #10532
Reproducible in 367

[code]

[code]

With https://github.com/trinodb/trino/pull/10543 on current master, using shorter timeout i get:

[code]

[2022-01-11 11:45] findepi commented on #10532
Relates to #9267 cc @martint

[2022-01-11 11:53] findepi commented on #10532
per stacktrace pasted above, it's a loop between `SimplifyExpressions` and `RemoveRedundantTableScanPredicate`.

[2022-01-11 11:57] ImTangYun commented on #10532
I just ran on 363

[2022-01-11 12:08] findepi commented on #10532
@ImTangYun it's reproducible in 367 and current master too.

[2022-01-11 12:44] klDen commented on #6439
Hello! I'll be resolving the comments this weekend! :)

[2022-01-11 14:42] ebyhr commented on #10389
[code]

#10539

[2022-01-11 16:09] ben-manes commented on #10512
If you use AsyncCache for invalidateCache then you likely won’t need the generational id trick. The creation of the entry will be immediate so a race will likely be rare / acceptable.

I’d assume most cases where you cache don’t need these workarounds as they are not relying on the linearizability of bulk operations.

[2022-01-11 17:08] sopel39 commented on #10389
[code]
https://github.com/trinodb/trino/pull/10472

[2022-01-11 18:13] sopel39 opened #10546 "Fix io.trino.operator.OperatorContext#updateMemoryFuture"
After https://github.com/trinodb/trino/pull/10475 `io.trino.operator.OperatorContext#updateMemoryFuture` can be improved.
It seems that currently it's very racy and overly complicated.
For example it can unblock early. Consider scenario:
1. `InternalLocalMemoryContext#setBytes` is called with blocked future A)
2. `isWaitingForMemory` B) is created which will be completed when A) finishes
3. A) bec

[2022-01-11 18:13] sopel39 commented on #10546
cc @martint

[2022-01-11 18:17] sopel39 commented on #10314
This fails with java 15, works with 11

[2022-01-11 18:20] martint commented on #10314
I can't repro it with either 11 or 17

[2022-01-11 18:42] mosabua opened #10548 "Add docs for supported security systems in Iceberg connector"
Follow up to https://github.com/trinodb/trino/pull/10493

@kokosing who could help here?

[2022-01-11 19:39] martint commented on #10532
The problem happens because:

1. In RemoveRedundantTableScanPredicate, the line `new DomainTranslator(plannerContext).toPredicate(session, unenforcedDomain.transformKeys(assignments::get))`  produces an expression of the form `((("uid" > 0) AND ("uid" < 1)) OR ("uid" > 3))`. When passed through SimplifyExpressions, the last term gets distributed into the first term by `extractCommonPredicates` to

[2022-01-11 19:51] martint commented on #10532
Fundamentally, the problem happens because `RemoveRedundantTableScanPredicate` is firing when it shouldn't. In the example above, there are no pushed-down predicates, and the rule is simply changing the filter expression from `((("uid" > 3) OR ("uid" > 0)) AND (("uid" > 3) OR ("uid" < 1)))` to `((("uid" > 0) OR ("uid" > 3)) AND (("uid" < 1) OR ("uid" > 3)))`, even though there's no reason to do so

[2022-01-11 20:12] martint commented on #10532
We need a more robust way to determine whether a predicate is redundant with respect to another predicate. Currently, RemoveRedundantTableScanPredicate works by extracting a summary structure from the predicate (TupleDomain), combining it with the TupleDomain from the TableScan, converting it back to an IR expression and hoping that it will produce the same structure if the table scan predicate wa

[2022-01-11 20:43] brokenjacobs opened #10551 "JDK8 regression similar to #1169 with http2 enabled proxy. Slow exit"
Similar to #1169 but for java8 clients using the trino-jdbc driver. This PR appears to have caused the issue:
https://github.com/trinodb/trino/pull/5915

trino-jdbc 354 doesn't have this problem but trino-jdbc >= 355 does.

It appears that this code wasn't unnecessary on jre <=11. We are testing on 1.8.0_281 and seeing this issue.

We are seeing shutdown times of 5 minutes (basically the okhttp co

[2022-01-11 20:50] brokenjacobs commented on #10551
Would it be possible to implement a protocols parameter similar to:
https://github.com/prestodb/presto/pull/15955
?

[2022-01-11 20:57] sopel39 commented on #10389
[code]
https://github.com/trinodb/trino/pull/10475

[2022-01-11 21:03] martint commented on #10389
[code]

[2022-01-11 21:21] mosabua commented on #10389
All added.

[2022-01-11 21:48] #10389 closed

[2022-01-11 21:51] martint opened #10552 "Release notes for 369"

[2022-01-12 00:34] cozos commented on #10517
Hello @raunaqmorarka it looks like upgrading to 367 fixed the problem. Thanks for the help!

[2022-01-12 00:34] #10517 closed

[2022-01-12 03:49] #9300 closed

[2022-01-12 04:47] tangjiangling commented on #10541
@ebyhr  I'd like to try this.

[2022-01-12 05:46] mosabua opened #10554 "Document scheduling policy configuration"
property: `query.execution-policy`
session property: `execution_policy`
values: `phased`, `legacy-phased` or `all-at-once`
default as of 368: phased
old default: all-at-once

document in property reference: https://trino.io/docs/current/admin/properties-query-management.html

Could you run with this @rosewms ?

[2022-01-12 06:36] cozos commented on #10523
@hashhar If the view materialization cache key is the main issue, can we modify the logic to read cache based on the "original" query instead of the "optimized" (i.e. predicate pushdown'd) query? Is that too complicated of a code change

[2022-01-12 07:18] Praveen2112 commented on #2360
@cmwenxin Since you are able to open the debug logs, I'm closing this issue. Feel free to join our [Slack](https://trino.io/slack.html) and we could continue the conversation there.

[2022-01-12 07:18] #2360 closed

[2022-01-12 08:55] findepi commented on #684
cc @losipiuk @arhimondr

[2022-01-12 09:14] kokosing commented on #10548
`iceberg.security` supports values:
 - ALLOW_ALL,
 - READ_ONLY,
 - SYSTEM - this means that connector do not control anything but relies on system level access control
 - FILE,

They all work like in https://trino.io/docs/current/connector/hive-security.html

[2022-01-12 09:43] hashhar opened #10558 "Implement ALTER SCHEMA ... RENAME for ClickHouse"
ClickHouse supports renaming schemas using `RENAME DATABASE` command.

It's only supported for databases created using the `ATOMIC` engine - see https://clickhouse.com/docs/en/sql-reference/statements/rename/

Atomic engine has been available since `v20.4.2.9-stable` (see https://github.com/ClickHouse/ClickHouse/commit/7928f2eaa187e4abc6c96d2c3651a0b52077835d) and has become the default since `v20

[2022-01-12 10:07] tangjiangling commented on #10558
@hashhar I'd to try this.

[2022-01-12 10:18] kokosing commented on #10512
Yes. Thanks!

Currently @findepi is pursuing of implementing "AsyncCache" on top of guava cache. Which we could then reuse in the codebase.

[2022-01-12 10:39] findepi commented on #10551
#5915 wasn't merged, but #6002 was

i merged #6002 but only because @electrum said in https://github.com/trinodb/trino/pull/5915#issuecomment-726238592 this is the thing to do.
cc @PennyAndWang @electrum

I am no expert in this area. I would defer to @electrum to determine the best way forward.

[2022-01-12 10:47] ebyhr opened #10564 "Fix broken numeric and bignumeric type mapping in BigQuery connector"
`testBigNumericMapping` and `testNumericMapping` in `TestBigQueryTypeMapping` keep failing.
[code]

fb88c0bf589db55d77223fc31aab29acbb2d0698 introduced this bug.

[2022-01-12 10:49] hashhar commented on #10558
@tangjiangling Feel free to pick this up once https://github.com/trinodb/trino/pull/8939 gets merged (should be done by tomorrow).

I'll assign once merged.

[2022-01-12 10:57] tangjiangling commented on #10558
@hashhar Understood.

[2022-01-12 11:13] sopel39 commented on #10314
It works for me with 17 too. I guess it's bug in Java 15.

[2022-01-12 11:13] #10314 closed

[2022-01-12 11:28] findinpath commented on #10486
hadoop 3 is based on parquet-1.10.x and hadoop 2 is based on parquet 1.8.1
As of parquet-1.10.x the reading of decimals in parquet-mr library is done differently. See https://issues.apache.org/jira/browse/PARQUET-884 and https://github.com/apache/parquet-mr/pull/404  for details.

Possible fix: Instead of writing integer or long for small decimals, write always `FIXED_LEN_BYTE_ARRAY` . This approa

[2022-01-12 11:49] hashhar commented on #10486
IIRC Spark has issues with the byte array encoding. See https://stackoverflow.com/questions/63578928/spark-unable-to-read-decimal-columns-in-parquet-files-written-by-avroparquetwrit and https://github.com/sksamuel/avro4s/issues/271

[2022-01-12 12:20] ImTangYun opened #10569 "keyBlock and valueBlock has different size: 14906 14864"
Table schama:
[code]

In path hdfs://cluster/user/test/test/test_parquet there is a parquet file, you can get it by my wechat imcandycloud

when I ran sql below:
[code]

I get exception:
[code]

this exception does not exists in version of prestosql 324

[2022-01-12 12:49] findepi commented on #10569
Is the problem reproducible on vanilla Trino 368, without your custom modifications?

[2022-01-12 13:42] sshkvar opened #10572 "Aggregations min_by/max_by failing with java.lang.UnsupportedOperationException"
Hi we are upgrading from Trino 363 to 367 (the same issue in 368),

during version upgrade we have faced issue which is blocking us, after upgrade  a lot of scheduled jobs failed with

[code]

issue can be reproduced with really simple test

[code]

Appreciate for help

[2022-01-12 13:50] hashhar opened #10573 "Flaky TestMemoryManager.testClusterPools"
`ci / test (:trino-tests)` job fails in flaky manner.

[code]

Observed in https://github.com/trinodb/trino/actions/runs/1686942253

[2022-01-12 14:27] findepi commented on #10572
Confirmed 368 is affected with:

[code]

[code]

cc @dain

[2022-01-12 15:32] ebyhr commented on #10552
[code]

#10565

[2022-01-12 16:10] brokenjacobs commented on #10551
It seems that the issue that was previously observed on JDK11+ where if using a HTTP2 enabled proxy, exiting a command line application would result in a 5 minute delay, is now occurring in newer JDK8 builds after this change. Chasing after jdk8 support seems to be time consuming, hence my question of offering an option to disable http2 negotiation, similar to what prestodb has done.

[2022-01-12 18:15] ben-manes commented on #10512
Sounds good. If the future is inserted before its work is started then I think no race can occur, assuming that any shared state is read after that barrier. It's only a race if the future is fired off in parallel, e.g. via a load / compute, as that leaves a tiny time window (such as a context switch). Note that since Guava isn't aware of futures so you might have subtle quirks when it evicts an th

[2022-01-12 21:29] findepi commented on #6377
Reopened as there still is a problem that no Hive version can read timestamps written by the native Parquet writer (also related to https://github.com/trinodb/trino/issues/4608 ).

[2022-01-12 21:41] findepi commented on #10486
Closing this in favor of the older issue on the topic: https://github.com/trinodb/trino/issues/6377

[2022-01-12 21:41] #10486 closed

[2022-01-12 22:37] brianyye commented on #6183
I saw the same error.  Adding -Dcom.sun.jndi.ldap.object.disableEndpointIdentification=true to jvm.config made the error go away. This is a temporary fix.  The documentation suggests fixing the problem by making sure the LDAP server certificate SAN or certificate subject name matches the LDAP server.

[2022-01-13 01:42] pangyifish commented on #10347
I still see this error when I do SQL like below in 367

[code]

if I remove the group by, it works fine.

[2022-01-13 01:50] pangyifish opened #10582 "java.lang.UnsupportedOperationException: io.trino.spi.block.IntArrayBlockBuilder"
similar error to https://github.com/trinodb/trino/issues/10347

I still see this error when I do SQL like below in 367

[code]
if I remove the group by, it works fine.

stack trace:

[code]

[2022-01-13 01:53] martint commented on #10582
Are you able to reproduce the error in 368?

[2022-01-13 02:01] pangyifish commented on #10582
Yes, just tried.

[2022-01-13 02:03] pangyifish commented on #10582
might be the same issue as https://github.com/trinodb/trino/issues/10572

[2022-01-13 02:05] ImTangYun commented on #10569
I don't have 368, i'll try when i have time

[2022-01-13 03:56] waitingF commented on #4803
anyone work on this issue?

[2022-01-13 05:17] findinpath commented on #4608
Note that in Parquet `2.5.0` the `INT96` type used by some Hive distributions to encode timestamps has been deprecated.

https://issues.apache.org/jira/browse/PARQUET-323

[2022-01-13 05:41] #781 closed

[2022-01-13 06:17] Praveen2112 commented on #10552
[code]
https://github.com/trinodb/trino/pull/10490

[2022-01-13 06:40] hashhar commented on #10552
[code]

#8939

[2022-01-13 07:27] #9792 closed

[2022-01-13 07:28] Praveen2112 commented on #10552
[code]
#10343

[2022-01-13 08:08] findepi opened #10583 "Flaky test TestExchangeClient.testAddLocation"
[code]

[2022-01-13 08:09] findepi commented on #10583
https://github.com/trinodb/trino/runs/4792398831?check_suite_focus=true

cc @arhimondr as you did some changes in the test recently

[2022-01-13 08:10] findepi commented on #10552
[code]

#10497

[2022-01-13 08:13] findepi commented on #10552
[code]

#10544 #10512

[2022-01-13 08:15] findepi commented on #10512
This is now merged in https://github.com/trinodb/trino/pull/10544 as `EvictableCache`: https://github.com/trinodb/trino/blob/341cc5a84edbad5b72a4aacc7468c4afd6fe732c/lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/cache/EvictableCache.java

[2022-01-13 08:35] ImTangYun commented on #10569
368 works well in this case

[2022-01-13 08:36] xumanbu opened #10584 "Memory leak in Trino JDBC driver when using DatabaseMetaData"
private ResultSet select(String sql)
            throws SQLException
    {
        return getConnection().createStatement().executeQuery(sql);
    }

if connection created by connection pool(eg dbcp..)，connection always in active，TrinoConnection.statements will sustained increase.

this case find in calsite JdbcSchema https://github.com/apache/calcite/blob/master/core/src/main/java/org/apache/calc

[2022-01-13 09:00] findepi commented on #10573
cc @sopel39  per https://github.com/trinodb/trino/commit/9da468a13699a816a3e7ff9d41b8f77f5e118a15

[2022-01-13 09:00] findepi commented on #10573
The flakiness can be reproduced locally, semi-reliably, with `invocationCount = 100`.

[2022-01-13 09:00] findepi commented on #10573
https://github.com/trinodb/trino/runs/4795599935?check_suite_focus=true

[2022-01-13 09:04] findepi commented on #10569
Thanks for checking.

[2022-01-13 09:04] #10569 closed

[2022-01-13 09:05] zhangbutao opened #10585 "Add primary key to selectors table"
Percona-XtraDB-Cluster prohibit insert on table without primary key. And if adding primary key also help to select specific row.
![selectors_tbl_error](https://user-images.githubusercontent.com/9760681/149299340-ba386cf1-4b3b-4c2f-8e55-9913e75fb465.png)

[2022-01-13 09:06] findepi commented on #10582
Closing in favor of #10572

[2022-01-13 09:06] #10582 closed

[2022-01-13 09:07] findepi commented on #10347
Continued at #10572

[2022-01-13 09:12] nwdsslzwf commented on #10305
I have the same question, and I hope someone can answer it.Appreciate for help!

[2022-01-13 09:21] sopel39 commented on #10552
[code]
https://github.com/trinodb/trino/pull/10576

[2022-01-13 10:00] sopel39 commented on #10573
I cannot repro locally, but https://github.com/trinodb/trino/pull/10589 should fix it

[2022-01-13 10:57] hashhar commented on #10584
That is expected. `DatabaseMetaData` is created by calling `getMetaData` on an existing connection. It's responsibility of the process that created that initial connection to close it. Also the `DatabaseMetaData` is expected to be re-used so if you close the connection within the `DatabaseMetaData` then re-use becomes impossible.

See for example any other JDBC driver. e.g PostgreSQL https://githu

[2022-01-13 11:25] ebyhr commented on #10584
@xumanbu Just in case, what happens if you use other JDBC drivers and servers?

[2022-01-13 12:47] findepi commented on #9415
This time `Schema already exists: 'tpch'`:

[code]

https://github.com/trinodb/trino/runs/4801110687?check_suite_focus=true

[2022-01-13 13:46] #9149 closed

[2022-01-13 13:47] findepi commented on #10552
[code]

https://github.com/trinodb/trino/issues/9149 https://github.com/trinodb/trino/pull/10460

[2022-01-13 13:50] kokosing commented on #10512
Few random thoughts why we are not migrate to Caffeine (at least why not yet):
 - Caffeine does not solve the problem fully for us. We still need to handle `invalidateAll()` anyway. So migration is out of the scope here.
 - One change at a time. Changing caching implementation will surely affect users somehow. So we prefer to avoid changing cache backend now to make sure that we are able do diagno

[2022-01-13 13:51] ksobolew opened #10593 "Provide a way to see who the owner is of a schema/table/view"
There exists a concept of ownership in Trino, embodied in the `ALTER (SCHEMA|TABLE|VIEW) SET AUTHORIZATION` command. The ownership of an entity is used in access control for authorization; this is most important with views that are `SECURITY DEFINER`, because for them the access checks are done for the view owner, not for the query invoker. So this is quite an important piece of information for so

[2022-01-13 13:52] kokosing commented on #10512
@findepi Are you going to handle HMS caching too?

[2022-01-13 14:17] kokosing commented on #10593
I think extending `CREATE` syntax to allow to `SET AUTHORIZATION` make sense as it is doable with two statements today. However it is a question about the syntax. cc: @martint

We would need two columns, for type (user vs role) and name. However tables in `information_schema` are also defined in ANSI. Maybe we could create dedicated table just for this, that is outside of ANSI?

Also currently the

[2022-01-13 14:26] ksobolew commented on #10593
Also, as the previous discussion shows, this information is considered "sensitive", so it should be protected somehow

[2022-01-13 15:50] melin opened #10595 "Support SQL to replace the Materialized View"
example:
[code]

Materialized View
[code]
Rewrite the SQL
[code]

[2022-01-13 16:50] findepi opened #10596 "HashAggregationOperator misreports memory usage after spilling"
In some situations, when spilling occurs, HashAggregationOperator doesn't reset memory usage to 0 upon finishing.

Can be reproduced with `io.trino.operator.TestHashAggregationOperator#testHashAggregationMemoryReservation`

after adding assertions:
[code]

right after
[code]

cc @sopel39

[2022-01-13 17:10] #10573 closed

[2022-01-13 18:02] #10366 closed

[2022-01-14 04:10] ben-manes commented on #10512
Oh, you're probably only going to get help / support from me regardless. I'll report or fix bugs in Guava as time & interest allows, but I am not very active there. Google internally switched over and the latest JavaDocs for [CacheBuilder](https://guava.dev/releases/snapshot-jre/api/docs/com/google/common/cache/CacheBuilder.html) are fairly explicit. While I haven't been at Google since 2012 back

[2022-01-14 04:28] ebyhr commented on #10363
https://github.com/trinodb/trino/runs/4811814411

[2022-01-14 06:00] xumanbu commented on #10584
@hashhar @ebyhr in my case,I use calsite jdbc schema by trino jdbc schedule cache hive metadata,from jvm monitor old heap memory still growth until OOM. wo find too many statement objects in TrinoConnection#statements from dump  file.

this is the solution  by mysql cj :
github.com/mysql/mysql-connector-j/blob/release/8.0/src/main/user-impl/java/com/mysql/cj/jdbc/DatabaseMetaData.java

public java

[2022-01-14 08:04] xianjuntang commented on #5029
I succeeded in executing git bash. But there are still no classes

[2022-01-14 08:12] ebyhr commented on #5029
@xianjuntang The latest package was changed to `io.trino.sql.parser` and the path is `core/trino-parser/target/generated-sources/antlr4/io/trino/sql/parser/SqlBaseParser.java`

[2022-01-14 08:29] xianjuntang commented on #5029
Thank you. I found it according to your hint. Next, I just need to copy the class generated under the target to the address of the guide package. Is that ok.

[2022-01-14 08:46] ksobolew commented on #10512
I admit I LOL'd when I saw that :) (Also a proof that nobody reads javadocs!)

So it appears that Guava Cache is effectively unmaintained (or abandonware). That's good to know, thanks!

[2022-01-14 08:48] xianjuntang commented on #5029
Thank you very much. I found it according to your hint.

[2022-01-14 09:31] duoluodexiaokeke opened #10606 "fresh materialized view"
1. When does the materialized view support Scheduled refresh and automatic refresh？
2. if the materialized view table update, we select from tje view, we will select from the table, not used materialized view data. Can we add a configuration to determine whether we need to get the latest data ？

[2022-01-14 09:50] findepi commented on #10584
cc @kokosing

[2022-01-14 10:28] #10229 closed

[2022-01-14 10:29] sopel39 commented on #10552
[code]
https://github.com/trinodb/trino/pull/10570

[2022-01-14 10:38] losipiuk commented on #10552
[code]
https://github.com/trinodb/trino/pull/10566

[2022-01-14 10:49] kokosing commented on #10584
cc: @aalbu

[2022-01-14 10:53] xiaoDjun opened #10607 "Double round() return incorrect result"
Double round in io.trino.operator.scalar.MathFunctions#round(double num, long decimals) gives incorrect result when the round decimal ends with 5 and decimal scale is more than 2, for example:
[code]
the expected result of round(cast(4.145 as double), 2) should be 4.15, but 4.14 is given.

[2022-01-14 11:26] findepi commented on #10607
The result is correct.
4.145 cast to double is approximately equal to 4.144999999999999573674358543939888477325439453125, so smaller than the actual 4.145 number.

[2022-01-14 11:26] #10607 closed

[2022-01-14 11:30] ksobolew opened #10610 "What makes sense for ALTER VIEW SET AUTHORIZATION?"
This issue is meant to start a discussion about the future of the feature from the title. Or at least some aspects of it.

Recently, `ALTER VIEW SET AUTHORIZATION` on views with `SECURITY DEFINER` was disabled because of insufficient security checks. In terms of re-enabling it with better checks, there are some questions.

There are two kinds of target principals: `USER` and `ROLE`. For several re

[2022-01-14 11:35] ksobolew commented on #10610
In offline discussions there were two possibilities raised:

* Add another check to `AccessControl`
* Use the same logic as for `ROLE`, re-using different checks, like whether the user can impersonate the target user

The first one is unconvincing, because there already is `checkCanSetViewAuthorization`, and it was implemented badly. This is too sensitive to leave it to implementations of access c

[2022-01-14 12:02] nineinchnick commented on #10584
I'm not sure if that'll help, but I saw a similar bug fixed in the MSSQL JDBC driver a while ago: https://github.com/microsoft/mssql-jdbc/pull/806

[2022-01-14 12:25] findepi commented on #9340
https://github.com/trinodb/trino/pull/10105

[2022-01-14 12:25] #9340 closed

[2022-01-14 12:25] findepi commented on #10552
[code]

[2022-01-14 12:30] ebyhr commented on #10552
[code]

#10601

[2022-01-14 13:13] ebyhr commented on #7203
@huukhuongnguyen Let me close this issue as Pinot doesn't support views and I don't think we can support the statement in the connector. Please feel free to join Trino community Slack. https://trino.io/slack.html

[2022-01-14 13:13] #7203 closed

[2022-01-14 14:10] sopel39 opened #10616 "LookupJoinPageBuilder#build should create dictionaries without nulls for probe blocks"
Currently `LookupJoinPageBuilder#build` uses `getPositions` which creates dictionary. However, probe blocks cannot have null positions. Hence, dictionary created by `getPositions` should have `io.trino.spi.block.DictionaryBlock#mayHaveNull` set to `false`

[2022-01-14 14:10] sopel39 commented on #10616
cc @skrzypo987

[2022-01-14 16:30] findepi opened #10621 "Incorrect query results when caching directory lister is used"
`CachingDirectoryLister` lacks any invalidation, which should take place when writes are done through Trino.

[2022-01-14 17:40] losipiuk opened #10623 "Implement Iceberg routine for removing orphaned files"
Implement analogous of `remove_orphan_files` as described in https://iceberg.apache.org/#spark-procedures/.

[2022-01-14 17:40] losipiuk commented on #10623
cc: @findepi @jackye1995

[2022-01-14 19:14] mosabua opened #10624 "JDBC driver does not return list of properties"

[2022-01-14 19:51] kokosing commented on #10512
@ben-manes Would you like to fix this in Caffeine? Or would you like to accept if we would contribute #10544 to Caffeine?

[2022-01-14 22:20] #10572 closed

[2022-01-14 23:16] ben-manes commented on #10512
It's not a simple fix and would require forking `ConcurrentHashMap` to access internal state (see it's `clear()` implementation). We would need a `forEach` that is linearizable with pending inserts, whereas the Map iterators make no consistency guarantees for inserts after the iterator's construction. A computeIfAbsent style call is not an insert until it completes, so the iterator do honor their

[2022-01-15 00:35] ebyhr opened #10626 "TO_TIMESTAMP on Oracle DATE type generates inefficient plan in case of indexed column"
`LongWriteFunction` was changed to handle old dates issue in https://github.com/trinodb/trino/commit/77cfd97ffb159ec33a68938684a0b7ccc91b58f5. However, using `TO_TIMESTAMP` instead of `Statement.setObject(index, oracle.sql.TIMESTAMP)` decreased the performance when the column type is date.

[2022-01-15 02:40] BalaMahesh commented on #10450
@electrum can you please take a look and suggest on this.

[2022-01-15 03:22] mosabua commented on #10552
@findepi can you confirm that no release notes entry is needed for #10591 ? Or suggest an entry?

[2022-01-15 03:22] mosabua commented on #10552
@martint @dain do we need a release notes entry for #10599 ?

[2022-01-15 03:43] mosabua commented on #9876
We should check all JDBC drivers that they support Java 17. In the recent update for the SQL Server I submitted I found out that the Java 17 support on that driver is only a preview at the moment.

https://search.maven.org/artifact/com.microsoft.sqlserver/mssql-jdbc

I filed https://github.com/microsoft/mssql-jdbc/issues/1732 to find out more

[2022-01-15 09:28] findepi opened #10631 "Flaky TestHiveQueryFailureRecoveryTest(testInsertIntoExistingPartitionBucketed, testInsertIntoNewPartition, testInsertIntoNewPartitionBucketed, testReplaceExistingPartition)"
[code]

[2022-01-15 09:29] findepi commented on #10631
cc @losipiuk @arhimondr

[2022-01-15 09:29] findepi commented on #10631
https://github.com/trinodb/trino/runs/4817227594?check_suite_focus=true

[2022-01-15 09:34] findepi commented on #10631
[code]

https://github.com/trinodb/trino/runs/4816064280?check_suite_focus=true

[2022-01-15 09:37] findepi commented on #10626
Why `TO_TIMESTAMP` decreases performance?
the bound value is a constant expression after all.
Does oracle has a special handing for `col > ?` vs `col > expr(?)`?

[2022-01-15 09:38] findepi commented on #10623
This is sometimes called "vacuum".

[2022-01-15 10:42] findepi commented on #10552
As any config removal, this ought me mentioned.

[2022-01-16 10:54] egor-ryashin opened #10637 "Cannot create a table (as select) with array type in PostgreSQL"
I try this:
[code]
produces
[code]

I can run without errors in psql client:
[code]

[2022-01-16 12:29] hashhar commented on #10637
By default arrays are not mapped. See https://trino.io/docs/current/connector/postgresql.html#array-type-handling to learn how to enable ARRAY support in PostgreSQL connector.

[2022-01-16 12:30] hashhar commented on #10637
Feel free to join our [Slack](https://trino.io/slack.html) and continue the conversation there in case you still run into issues.

[2022-01-16 12:30] #10637 closed

[2022-01-16 20:02] dain commented on #10552
For #10599
[code]

[2022-01-17 01:28] #7099 closed

[2022-01-17 04:55] bonuhov commented on #10626
The problem is described [here](https://trinodb.slack.com/archives/CGB0QHWSW/p1642138785156200)

[2022-01-17 05:18] ebyhr commented on #10626
@findepi  It's type matching rather than expression. This issue will be fixed if we use `"TO_DATE(?, 'SYYYY-MM-DD HH24:MI:SS')"` as a bind expression. I will send the PR.

[2022-01-17 06:28] #7098 closed

[2022-01-17 06:30] ebyhr commented on #10552
[code]

#10611

[2022-01-17 08:55] guyco33 commented on #10394
@martint @dain Issue still not resolved.

![image](https://user-images.githubusercontent.com/5966852/149738346-51917e9e-f9e9-4a25-b605-80fc317490fc.png)

[2022-01-17 09:14] losipiuk commented on #10552
[code]
#10385

[2022-01-17 10:27] losipiuk commented on #10631
Situation should be somewhat improved by https://github.com/trinodb/trino/pull/10640

[2022-01-17 10:28] findepi commented on #10552
[code]

#10480

[2022-01-17 10:50] findepi commented on #10394
Which milestone is this closed in?

[2022-01-17 13:14] alexpusch opened #10644 "Improve predicate pushdown of nested fields on BigQuery struct type"
Using Trino 368, configured with a BigQuery connector there is a significant performance impact while querying using a nested field.

Reproducible example:
public github archive big query connection:
[code]

fast query:
[code]

very slow query:
[code]

Relates to https://trinodb.slack.com/archives/CGB0QHWSW/p1642075559152000

[2022-01-17 17:12] mosabua commented on #10552
All above added again (with minor rewording as necessary)

[2022-01-17 17:14] findepi commented on #9021
Note:

[code]

`Query[...]` indicates the query as passed from coordinator to the worker.
What is the final query sent to remote database (here: PostgreSQL)?
Is it wrapped as

[code]
?

if it was wrapped, there wouldn't be a problem.

cc @grantatspothero @kasiafi

[2022-01-17 17:38] mosabua commented on #10552
Do we need entry for https://github.com/trinodb/trino/pull/10423 @electrum ?

[2022-01-17 17:45] mosabua commented on #10552
For #10480 .. can @findepi and @findinpath work together to get the info added to the ongoing PR about hidden tables for Iceberg and get that merged asap please?

[2022-01-17 18:02] mosabua commented on #10552
For https://github.com/trinodb/trino/pull/10605 .. @sopel39 I think we dont need RN or docs .. right?

[2022-01-17 18:03] mosabua commented on #10552
@findepi  .. no release notes or docs for #10639, #10617, and #10609 .. correct?

[2022-01-17 21:46] findepi commented on #10631
[code]

https://github.com/trinodb/trino/runs/4844555536?check_suite_focus=true

[2022-01-17 22:03] losipiuk commented on #10631
So failure for `testJoin` at https://github.com/trinodb/trino/pull/10622. Both for `TestHiveFailureRecoveryFile` and `TestHiveFailureRecoveryMinIO`

[2022-01-17 22:26] losipiuk commented on #10631
testJoin timeout is sometimes reproducable locally :D

[2022-01-17 23:52] #10558 closed

[2022-01-17 23:54] ebyhr commented on #10552
[code]

#10594

[2022-01-18 01:20] zhengxingmao opened #10649 "[BUG] IllegalArgumentException: Too large (1510752245 expected elements with load factor 0.75)"
Trino version is 365 . When running big dataset (10TB) TPC-DS Query test met this error .
`java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
	at io.trino.sql.gen.JoinCompiler$LookupSourceSupplierFactory.createLookupSourceSupplier(JoinCompiler.java:1043)
	at io.trino.operator.PagesIndex.createLookupSourceSupplier(PagesIndex.java:508)
	at io.trino.operator.join.HashBuilderOpera

[2022-01-18 01:26] zhengxingmao commented on #10649
And here is SQL
select  a.ca_state state, count(*) cnt
 from customer_address a
     ,customer c
     ,store_sales s
     ,date_dim d
     ,item i
 where       a.ca_address_sk = c.c_current_addr_sk
 	and c.c_customer_sk = s.ss_customer_sk
 	and s.ss_sold_date_sk = d.d_date_sk
 	and s.ss_item_sk = i.i_item_sk
 	and d.d_month_seq =
 	     (select distinct (d_month_seq)
 	      from date_dim

[2022-01-18 01:40] ebyhr opened #10650 "Incorrect average decimal pushdown in new ClickHouse versions"
Below assertion in `TestClickHouseConnectorTest.testNumericAggregationPushdown()` fails in new ClickHouse versions (e.g. `21.3.19.1`).
[code]

[code]

[2022-01-18 01:55] ebyhr commented on #10650
`SELECT round(111.6605, 3)` in ClickHouse returns `111.660` though we expects `111.661`.

[2022-01-18 02:29] ebyhr opened #10652 "Fix flaky GitHub Actions milestone job"

[2022-01-18 06:56] hashhar commented on #10552
[code]
#10641

[2022-01-18 07:07] ebyhr opened #10653 "Fix flaky TestClickHouseConnectorSmokeTest.testRenameSchema"
[code]

https://github.com/trinodb/trino/runs/4849619566

[2022-01-18 07:12] ebyhr commented on #10653
We should specify minor version here.

[2022-01-18 07:53] daun4168 commented on #5569
I encountered the same problem.

[2022-01-18 08:14] losipiuk commented on #10631
`testJoin` timeouts are very much related to https://github.com/trinodb/trino/pull/10455. Investiagating. cc: @sopel39

[2022-01-18 08:15] findepi commented on #10631
non-MinIO test class, `TestHiveFailureRecoveryFile`, is affected too

[code]

[2022-01-18 08:15] #10584 closed

[2022-01-18 08:15] losipiuk commented on #10631
https://github.com/trinodb/trino/issues/10631#issuecomment-1014915181

[2022-01-18 08:16] findepi commented on #10552
[code]

https://github.com/trinodb/trino/issues/10584 https://github.com/trinodb/trino/pull/10632

[2022-01-18 08:41] findepi commented on #10631
https://github.com/trinodb/trino/runs/4846345365?check_suite_focus=true

[2022-01-18 09:24] losipiuk commented on #10631
Fix for `testJoin`: https://github.com/trinodb/trino/pull/10656

[2022-01-18 12:15] losipiuk commented on #10552
[code]

#10656

[2022-01-18 12:18] losipiuk commented on #10552
[code]
#10401

[2022-01-18 13:00] losipiuk commented on #10252
I have just noticed that it is still possible that we leave "extra" files in the target table directory on insert. It is technically possible that a strangling task, whose work should not be committed, writes the file to target table directory **after** the commit routine of query already completes, and cleanup of extra-files already happened. No idea how we can handle that (if we can at all for n

[2022-01-18 14:55] lukasz-walkiewicz commented on #10028
Could you try with JNI debugging enabled: https://www.ibm.com/docs/en/sdk-java-technology/8?topic=jni-debugging?

[2022-01-18 15:47] findepi commented on #10252
How (un)likely such a timing is possible?
Sounds like it can absolutely happen in real world scenarios, right?

[2022-01-18 16:14] arhimondr commented on #10252
There are 2 different ways of handling this problem (that I know of).

1. Write to a temporary directory. Move committed files to destination on commit. Unfortunately this approach doesn't play well with S3 where move operation is expensive.
2. Have deterministic file names. Each task produces fixed number of files with fixed names. Unfortunately with our implementation of thread level parallelism

[2022-01-18 16:17] grantatspothero commented on #9021
@findepi good point I did not know workers further refine queries! just for my learning, could you point me to where that happens?

When checking the postgres logs the actual query being ran is:
[code]
As you mentioned, it seems this issue is not actually an issue.

[2022-01-18 16:22] arhimondr commented on #10631
This indicates that the previous scheduler wasn't properly stopped in case of a failure. Before scheduling a retry we are waiting for the previous scheduling process to be stopped. This is the first time I see this issue. Let me take a look.

[2022-01-18 16:23] arhimondr commented on #10583
Let me take a look

[2022-01-18 16:30] grantatspothero commented on #9021
Actually found the place where the query is refined before being executed here:
https://github.com/trinodb/trino/blob/master/plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcRecordCursor.java#L110

[2022-01-18 17:24] findepi commented on #9021
Cannot reproduce.

[2022-01-18 17:59] findinpath opened #10666 "Tune batch size for partitionNameBatch in GlueHiveMetastore"
Currently the GlueHiveMetastore calls

https://docs.aws.amazon.com/glue/latest/dg/aws-glue-api-catalog-partitions.html#aws-glue-api-catalog-partitions-BatchGetPartition

with a batch of up to `1000` entries.

See https://github.com/trinodb/trino/blob/97b33daccb967ede0ec14c473820464420c1f122/plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/GlueHiveMetastore.java#L165

Make this v

[2022-01-18 18:25] dain commented on #10394
BTW, there is a kill switch for the new logging code: log.legacy-implementation.enabled

[2022-01-18 18:48] hashhar commented on #9021
Today I learnt as well.

@findepi please correct if wrong. Also does this mean that `applyTopN` and `applyLimit` happen on workers? (JdbcRecordCursor calls JdbcClient.buildSql -> prepareQuery -> applyQueryTransformations -> applyTopN/Limit).

[2022-01-18 19:36] grantatspothero commented on #9021
@hashhar applyTopN/applyLimit do not fire on the workers, but if the planner rules that use applyTopN/applyLimit fire they will tack information onto the `JdbcTableHandle`. Then `buildSql` fires on the workers and rewrites the query to include the limit.

Initial query: `select * from (SELECT min(nationkey) as m FROM nation GROUP BY regionkey ) tmp limit 1`

right before [buildSql](https://github.

[2022-01-18 20:45] jhlodin opened #10669 "Switch SingleStore (memsql) JDBC driver from MariaDB to official driver"
See memsql plugin: https://github.com/trinodb/trino/blob/8e9da982f95a531b52a72c9cda39d96b00d126ce/plugin/trino-memsql/pom.xml#L72

Currently we package the [MariaDB JDBC driver](https://mariadb.com/kb/en/about-mariadb-connector-j) to connect to SingleStore, but there is now an official [SingleStore JDBC driver](https://docs.singlestore.com/managed-service/en/developer-resources/connect-with-applic

[2022-01-18 21:36] #10512 closed

[2022-01-18 21:37] findepi commented on #10552
[code]
#10646 #10512

[2022-01-18 22:20] #10341 closed

[2022-01-18 22:34] dain commented on #10394
I write more tests and could not reproduce this behavior.  Also, ran the dev server with config.properties:
[code]
and it worked as expected:
[code]

[2022-01-18 23:35] mosabua commented on #10552
All above added .. with minor rewording here and there. Please confirm in the PR.

[2022-01-19 00:15] ebyhr commented on #10669
The reason is there was no the dedicated JDBC driver when we introduced the connector. It worth switching the driver.

[2022-01-19 04:25] ebyhr commented on #10653
#10672 https://github.com/trinodb/trino/runs/4862267419

[2022-01-19 04:41] ebyhr opened #10674 "Fix TestTimeZoneUtils.testNamedZones failure"
[code]

[2022-01-19 05:17] #10055 closed

[2022-01-19 06:12] xianjuntang opened #10676 "Error is reported when maven packge"
latest edition trino。Failed to execute goal org.skife.maven:really-executable-jar-maven-plugin:1.0.5:really-executable-jar (default) on project trino-cli: FAILURE!

[2022-01-19 08:51] guyco33 commented on #10394
In my installation logs are created in `node.data-dir` under `/data/trino/var/log/`

Trying to set `log.path` in config.properties results with launcher failure:
[code]

[2022-01-19 09:00] findepi commented on #10512
@ben-manes i took another look at Caffeine to see what use-cases it solves out of the box, i.e. where we do not need our wrapper classes added recently (`EvictableCache`, `EvictableLoadingCache`).

I wrote a covering Guava invalidation issue, `io.trino.plugin.base.cache.TestEvictableCache#testInvalidateOngoingLoad`
https://github.com/trinodb/trino/blob/62efc2c4264c7ef551e67447b3b9c6e206dd8dd8/lib/

[2022-01-19 09:48] kasiafi opened #10677 "Incorrect DATE literals are accepted"
According to the SQL standard, the required date literal format is YYYY-MM-DD, where the year, month and day are unsigned integers.
However, we accept values like:
- `DATE '1-2-3'`
- `DATE '-1000-01-01'`

I'm not sure we want to change it though, to avoid backwards-incompatibility.
For now, I'm adding a comment in the code.

[2022-01-19 11:59] ben-manes commented on #10512
As stated before, ongoing loads are suppressed by `ConcurrentHashMap` and its iterators. This is the behavior that you will observe when using it directly, as its iterators are defined to only guarantee visibility of entries inserted after the iterator's construction. A `computeIfAbsent` is not visible until after it completes, so the `keySet()` will not return unestablished mappings. A change to

[2022-01-19 12:05] ebyhr commented on #10676
Could you share the result of `./mvnw -version`?

[2022-01-19 12:28] findepi commented on #10512
That's not exactly what happened. I arguably showed disrespect by not reading your earlier comments closely, and thus EvictableCache is arguably my  own work.

I imagine. Yet there is a  trade-off -- requiring caller to deal with a future.
Sounds like `AsyncCache#synchronous` removes this limitation, but in turn it doesn't show ongoing loads among keys (per javadoc). So indeed, we could use `Async

[2022-01-19 12:29] sopel39 opened #10684 "Flaky TestMemoryManager.testClusterPools"
[code]

[2022-01-19 12:30] sopel39 commented on #10684
I cannot repro it locally

[2022-01-19 12:36] findepi opened #10685 "Investigate cache correctness with respect to invalidation in OAuth2TokenExchange"
`OAuth2TokenExchange#cache` is a `LoadingCache` and `invalidate(key)` is called on it.
Thus it suffers from problems described nicely by @kokosing here: https://github.com/trinodb/trino/issues/10512

Needs investigation whether this is a problem or not.

It currently cannot use `EvictableLoadingCache`, as it currently doesn't support removal notifications.

[2022-01-19 12:36] findepi commented on #10685
cc @s2lomon @lukasz-walkiewicz

[2022-01-19 12:46] ben-manes commented on #10512
Sounds like AsyncCache#synchronous removes this limitation, but in turn it doesn't show ongoing loads among keys (per javadoc). So indeed, we could use AsyncCache for invalidation, and AsyncCache#synchronous for reads.
Would that work?

Yes, I believe it would. The `synchronous()` view is not as strict so some details like in-flight loads can leak into the `keySet()` view, etc. and it tries to onl

[2022-01-19 12:56] sunningCGo opened #10687 "Model DEFAULT as a type of expression"
In Trino, if a table/column/materialized view property is set to `DEFAULT`, the corresponding `Property` object models it as an empty `Optional`. However, in the future, it might be better to model `DEFAULT` explicitly as a type of expression to make it easier to do analysis, planning and error reporting in a uniform way.

[2022-01-19 13:13] sopel39 commented on #10684
https://github.com/trinodb/trino/runs/4863393673?check_suite_focus=true

[2022-01-19 13:56] sopel39 commented on #10684
This should be fixed by https://github.com/trinodb/trino/issues/6677

[2022-01-19 13:58] findepi opened #10688 "Investigate cache correctness with respect to invalidation in raptor-legacy"
For example, in `io.trino.plugin.raptor.legacy.storage.ShardRecoveryManager.MissingShardsQueue#queuedMissingShards` cache, the `invalidate` may be called while `load` didn't complete yet (if the `future` completes quickly, or synchronously), and the entry will be left in the cache.

Follows https://github.com/trinodb/trino/issues/10512

[2022-01-19 14:14] lukasz-walkiewicz commented on #10028
I would say it's a JVM or host configuration issue. I was able to create a working setup using function you've created: https://github.com/lukasz-walkiewicz/presto/tree/debug-jni-udf (last 2 commits)

[code]

[2022-01-19 14:15] sopel39 opened #10692 "Make CachingDirectoryLister enabled by default on transaction level"
`CachingDirectoryLister` should be used by default on transaction level similarly as `CachingHiveMetastore` is used by default.
Example query that could greatly benefit from it is tpcds/q09:
[code]
that references same `store_sales` multiple times

[2022-01-19 14:15] sopel39 commented on #10692
cc @findepi @kokosing @joshthoward

[2022-01-19 14:19] #9531 closed

[2022-01-19 14:20] ebyhr commented on #10552
[code]

#9541

[2022-01-19 14:23] sopel39 commented on #10692
There are more queries like that, e.g: `q95`

[2022-01-19 14:36] findepi commented on #10692
Interesting idea.
When working on this, ensure we have a test for
[code]

[2022-01-19 14:41] homar opened #10693 "io.trino.util.TestTimeZoneUtils.testNamedZones seems to be flaky"
I saw it failing with:
`java.lang.IllegalArgumentException: The datetime zone id 'Pacific/Kanton' is not recognised
	at org.joda.time.DateTimeZone.forID(DateTimeZone.java:247)
	at io.trino.util.TestTimeZoneUtils.testNamedZones(TestTimeZoneUtils.java:51)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.inv

[2022-01-19 14:44] ebyhr commented on #10693
It's already fixed in #10679. (1 hour ago in master)

[2022-01-19 14:44] #10693 closed

[2022-01-19 14:46] homar commented on #10693
Oh I didn't see it,thanks

[2022-01-19 15:57] findepi commented on #10552
[code]
#9938

[2022-01-19 16:15] #8693 closed

[2022-01-19 16:18] findepi commented on #9021
exactly.

this is on worker

`ConnectorMetadata.apply{Limit,TopN}` is called on the coordinator

[2022-01-19 16:42] findepi commented on #10687
What would a type of such an expression?

DEFAULT sounds like a pseudo-value and doesn't seem to be a real expression.

cc @martint @kasiafi

[2022-01-19 16:42] WTa-hash commented on #10317
We are running into a similar issue with **Trino 364**.

The parquet files in our S3 bucket is created by **Apache Hudi (0.7.0-amzn-1)** using **AWS EMR 5.33.1** with **Spark 2.4.7**, and we are using AWS Glue as our hive metastore. Our tables are also partitioned by date (s3://.../yyyy-mm-dd/*.parquet).

After submitting a simple SELECT SQL query, we encounter the following error:
[code]

If I li

[2022-01-19 16:47] findepi commented on #10677
We support wider range of values than required by the spec.
We support negative years and years larger than 9999.

[2022-01-19 16:51] findepi commented on #10666
when one would want to set this?

[2022-01-19 17:08] hashhar commented on #10317
cc: @findepi I think we can have a more lenient check in addition to the existing media-type check.
Something like `content-lenght == 0 && key.endsWith('/')`?

I am unable to think of cases where we can have a valid zero-byte file with name ending in `/`.

[2022-01-19 18:28] sunningCGo commented on #10687
I am not sure. To provide some context, the `DEFAULT` keyword is being introduced in https://github.com/trinodb/trino/pull/9613. When Martin reviewed the PR on Dec 7 2021, he suggested modelling `DEFAULT` as an expression as a TODO item in the future. Karol suggested creating an issue for such a TODO item.

[2022-01-19 20:21] #6908 closed

[2022-01-19 20:27] findepi opened #10697 "BigQuery bigquery.case-insensitive-name-matching.cache-ttl configuration is ignored"
No caching takes place.

Follows https://github.com/trinodb/trino/pull/10691#discussion_r787963324
cc @hashhar @ebyhr

[2022-01-19 20:55] #10259 closed

[2022-01-19 22:18] dain commented on #10394
The bug is in the launcher python script in airlift: https://github.com/airlift/airlift/pull/978

[2022-01-20 00:10] mosabua commented on #10552
All above added again.

[2022-01-20 00:21] mosabua commented on #10552
@findepi do we need some docs for this?

[2022-01-20 00:27] mosabua commented on #10552
@findepi do we need to add RN entry and docs for #10441 ?

[2022-01-20 01:00] arhimondr opened #10698 "Deprecate and remove grouped execution"
https://github.com/trinodb/trino/issues/9101 will provide similar capabilities. It doesn't seem necessary to support both.

[2022-01-20 05:20] findinpath commented on #10666
One scenario where this setting would come in handy is when dealing with very wide tables (that contain hundreds/thousands of columns).
When asking from https://docs.aws.amazon.com/cli/latest/reference/glue/batch-get-partition.html to deliver information about `1000` partitions, we get in the `StorageDescriptor.Columns` part of the response for each partition the columns of the table and their typ

[2022-01-20 05:31] hashhar commented on #10666
This would be a very manual activity. And you cannot know ahead of time what value should you use - so you ideally still want the logic to retry the `UnprocessedKeys`.
It also has the drawback that for non-wide tables performance would suffer.

I believe we should do https://github.com/trinodb/trino/pull/10696 instead since that doesn't require manual tuning and doesn't affect non-wide tables.

[2022-01-20 05:38] findinpath commented on #10552
#8693 #10441

[2022-01-20 05:44] findinpath commented on #10666
I agree that this functionality should be implemented.

I was only thinking that being able to tune manually the chunk size would avoid going too many times through the loop of processing the `UnprocessedKeys`.

[2022-01-20 06:14] findinpath opened #10701 "Inserting in Iceberg $properties table doesn't work"
`$properties` Iceberg metadata table has been recently added in https://github.com/trinodb/trino/pull/10480

[code]

[code]

[2022-01-20 06:14] #10626 closed

[2022-01-20 06:19] ebyhr commented on #10552
[code]

#10638

[2022-01-20 07:29] guyco33 commented on #10394
Approve that https://github.com/airlift/airlift/pull/978 fixes the issue. Thanks @dain

[2022-01-20 07:31] guyco33 commented on #10394
Issue will be closed after Bumping Trino with a new airlift version

[2022-01-20 08:28] findepi commented on #10394
https://github.com/airlift/airlift/pull/971 , https://github.com/airlift/airlift/pull/978 ...
sounds like we should have a test for the logging subsystem.

[2022-01-20 09:10] findepi commented on #10666
Good idea. If this **REALLY** is a problem to address, then `io.trino.plugin.hive.metastore.glue.GlueHiveMetastore#batchGetPartition` could choose batch size using a heuristic (it knows the "width" of the table), or adaptively (trying to learn the right batch size based on number of unprocessed keys returned from Glue service).

[2022-01-20 09:11] #4108 closed

[2022-01-20 09:13] findepi commented on #10552
[code]

#4108 #9868

[2022-01-20 09:15] prabhacloud opened #10705 "Support commenting on view columns"
Comments can be added to table columns where as the same is not possible for view's columns. As of now below is how it is added to table's columns

`COMMENT ON COLUMN users.name IS 'full name';`

reference https://trino.io/docs/current/sql/comment.html

Same can be done for views

[2022-01-20 10:48] #10650 closed

[2022-01-20 10:50] hashhar commented on #10552
[code]
#9812

[2022-01-20 10:51] ebyhr commented on #10552
[code]

#10703

[2022-01-20 11:25] kokosing opened #10708 "View SECURITY DEFINER by default ignores roles"
Reproduction (on `HiveQureryRunner` with `hive.security=sql-standard`)

As admin:
[code]

Then as user `u1`:
[code]

Then as user `u2`:
[code]

By default `SECURITY DEFINER` set a view owner to the current user and ignores connector and system enabled roles.

[2022-01-20 13:44] findinpath commented on #10666
I realise now that my initial intent of providing bluntly a value for the batch size was rather naive.
It may be that a table is very wide and needs a smaller batch size, but all the other tables are "normal" and they would therefore benefit of a higher value for the chunk size.
Very likely some heuristic/adaptive approach for the specific case of dealing with `UnprocessedKeys` would be the way to

[2022-01-20 13:59] losipiuk commented on #10363
I will close this one as the remaining issue is the same as reported in https://github.com/trinodb/trino/issues/10631.
Actually the https://github.com/trinodb/trino/issues/10631 reports two issues.
* One with timeout in `SqlQueryScheduler.scheduleRetry`. This one is fixed already
* The other with "Unable to add partitions because database or table" which matches https://github.com/trinodb/trino/ru

[2022-01-20 13:59] #10363 closed

[2022-01-20 14:05] losipiuk commented on #10631
To sum up. It looks like remaining issue tracked here is one with disappearing table when commit in `SemiTransactionalHiveMetastore` happens.
Repasting stacktrace for completeness:
[code]

So far it looks more like an issue with our dockerized environment with HMS, not Trino. I observed the problem for the setup query which creates a partitioned table that is run without any retries.
The issue is

[2022-01-20 14:36] sshkvar opened #10710 "Writing to S3 sometimes results in corrupted files"
Hi we have migrated to Trino 367 and faced issue with create table as select in iceberg (Potentially all connectors which uses **TrinoS3FileSystem** affected)

We are doing CTAS in iceberg from other table (~482013195 records).
After when we try to query created table
[code]

we got exception

[code]

After some investigation we found that because of some reasons we have multiple versions of parqu

[2022-01-20 14:38] ranganathg opened #10711 "Aggregation pushdown in Phoenix connector"
While running select count(*) from phoenix.tablename, from the query plan the leaf fragment does a table scan and results in bad performance. After reading into aggregate push down and looking at this [TODO](https://github.com/trinodb/trino/blob/3208171af1a215f45532f8db572b87e9dacb4ee9/plugin/trino-phoenix/src/main/java/io/trino/plugin/phoenix/PhoenixMetadata.java#L242) in PhoenixMetadata, I think

[2022-01-20 14:38] ranganathg commented on #10711
@hashhar Can you assign this issue to me?

[2022-01-20 14:43] hashhar commented on #10710
cc: @findepi @losipiuk

[2022-01-20 14:46] hashhar commented on #10711
Thanks for picking this up.

Feel free to ask questions in #dev on Slack to me and request a review.

cc: @lhofhansl in case there's something Phoenix specific that I'm glossing over.

[2022-01-20 15:51] findepi commented on #10710
this is very suspicious

Sounds like https://github.com/trinodb/trino/pull/9715 is related then
cc @joshthoward @electrum

good to hear that.

that also means you were testing with two builds, ie local modifications
did you also try with `hive.s3.streaming.enabled` off?

[2022-01-20 15:53] findepi commented on #10666
@findinpath what about

do you know the answer?

[2022-01-20 15:59] findepi commented on #10701
The system tables are supposed to be read-only

Who threw that? SystemTablesMetadata?

That looks like a bug in the engine.

[2022-01-20 16:00] findepi commented on #10698
cc @losipiuk

grouped execution triggers "proactively"
will https://github.com/trinodb/trino/issues/9101, "Support Failure Recovery", trigger its equivalent of grouped execution only after a failure, or proactively too?

[2022-01-20 18:01] losipiuk commented on #10710
If revert helps I vote for reverting as initial fix and then rework original improvement

[2022-01-20 19:01] dain commented on #10708
I'm pretty sure the problem is you have not granted permissions "with grant option".

[2022-01-20 19:08] findinpath commented on #10666
No, I don't think this is actually a problem to address at the moment. I'm looking forward for the solution coming with #10696

[2022-01-20 19:25] findinpath commented on #10701
For the update statement I see the following stacktrace:

[code]

Here is the stacktrace of the TrinoException thrown from the analyzer for the UPDATE statement

[code]

[2022-01-20 19:54] kokosing commented on #10708
🤦

[2022-01-20 19:54] #10708 closed

[2022-01-20 21:33] rosewms commented on #10554
@mosabua do you know what "type" is it or is there someone else I should follow up with?

[2022-01-20 23:21] mosabua commented on #10552
All above added again.

[2022-01-20 23:32] mosabua commented on #10552
@hashhar @posulliv do we need some sort of doc update / addition for #9812 ?

[2022-01-21 00:23] vinothchandar commented on #9877
We don't yet. But it'll come shortly after we get the MOR/RO support landed. Are you interested in taking a swing at that. We expect to open the official PR early next week

[2022-01-21 07:13] ebyhr commented on #4580
Thanks for our report. I confirmed the metadata access in BigQuery connector is slow comparing to other connectors when there're many objects.

[2022-01-21 08:07] kasiafi commented on #10552
[code]
https://github.com/trinodb/trino/pull/10678

[2022-01-21 08:15] kasiafi commented on #10552
[code]
https://github.com/trinodb/trino/pull/10657

[2022-01-21 08:38] tejaswibm opened #10718 "Unable to query Avro data on hdfs"
## Issue
Querying Avro data stored on HDFS (Azure Blob in my case), returns no records. The query execution on UI shows that its complete, but resultset is empty

## Environment
[code]

## Description
Azure Event Hubs capture data on azure blob in avro format. This data has the below schema
[code]
Here, `Body` field has the actual data that is published to Azure Event Hub.

I created an external t

[2022-01-21 08:42] hashhar commented on #10718
For a partitioned table you need to register the partitions too before they can be queried.

Can you share the output of `SELECT * FROM "test_avro$partitions"`?
If there are no rows in that output either use `system.register_partition` or `system.sync_partition_metadata` procedure to get the partitions registered - see docs at https://trino.io/docs/current/connector/hive.html#procedures.

Once tho

[2022-01-21 08:45] tejaswibm commented on #10718
@hashhar - Thanks for your reply. Yes I have registered partition before querying. I did not add it in the original post. Updating the main post.

[2022-01-21 08:53] findepi opened #10719 "Literals should be validated before optimizer"
Query like this should fail in analysis phase. Currently it fails on a worker:

[code]

follows @kasiafi's comment: https://github.com/trinodb/trino/pull/10663#discussion_r788672350

[2022-01-21 09:32] kokosing commented on #10007
Closed via https://github.com/trinodb/trino/pull/10581

[2022-01-21 09:32] #10007 closed

[2022-01-21 09:33] findepi commented on #10710
No longer considered a release blocker, as https://github.com/trinodb/trino/pull/10716 merged.
thank you @linzebing @losipiuk

[2022-01-21 09:35] findepi commented on #10710
@sshkvar can you please confirm the current master no longer exhibits the problem?
@linzebing any chance this is testable? or there is nothing tbd in this issue?

[2022-01-21 09:58] sbernauer commented on #10710
We had the same problem with corrupt parquet and ORC files. In our case the CTAS in iceberg failed with `org.apache.iceberg.parquet.ParquetIO$ParquetInputFile@2700c43b is not a Parquet file. Expected magic number at tail, but found [49, -21, -31, 15]`
The current master with reverted https://github.com/trinodb/trino/commit/73837347a4666476f26dbdc62f55386360902bbf fixed the issue for us :+1:
Thanks

[2022-01-21 10:46] sshkvar commented on #10710
@findepi current master works without issue for us

[2022-01-21 11:12] findepi opened #10724 "No error for json_parse() or JSON literal with trailing payload"
These should fail

[code]

[code]

Follows https://github.com/trinodb/trino/pull/10720

[2022-01-21 11:44] findepi commented on #10697
following @hashhar 's https://github.com/trinodb/trino/pull/10691#discussion_r789505433 i posted https://github.com/trinodb/trino/pull/10725 as the fix
i am not saying this is the best fix.

[2022-01-21 12:03] Randgalt opened #10726 "GlueHiveMetastore not using LongLivedCredentialsProvider for IAM role"
`GlueHiveMetastore.getAwsCredentialsProvider` is not adding the `LongLivedCredentialsProvider` as `TrinoS3FileSystem.createAwsCredentialsProvider` does. This is causing external role queries to fail as there are no underlying credentials. `GlueHiveMetastore.getAwsCredentialsProvider` should match `TrinoS3FileSystem.createAwsCredentialsProvider`. Additionally, if an IAM role and access/secret are p

[2022-01-21 12:06] kokosing commented on #10708
Thank you! You were right about missing `GRANT OPTION`. However the thing mislead me was passing `CREATE VIEW` so I was under impression that everything is fine. I think it is a bug.

[2022-01-21 12:12] kokosing opened #10727 "CREATE VIEW does not validate if SELECT access to base table has GRANT OPTION"
Reproduction (on `HiveQureryRunner` with `hive.security=sql-standard`)

As admin:
[code]

Then as user `u1`:
[code]

In the above example `CREATE VIEW` should fail as SELECT grant on `nation` does not have `GRANT OPTION`. So any other user that would be using that view will get an access denied.

[2022-01-21 12:13] kokosing commented on #10708
https://github.com/trinodb/trino/issues/10727

[2022-01-21 12:21] findepi commented on #10252
I guess you're referring to a kickstarting meeting we had in October?
I don't remember the conclusions and didn't take notes.

Anyway, if the problem is not really possible in practice, we don't need to solve it.
If the problem is possible in practice, not solving it leaves us with silent correctness problem, right?

[2022-01-21 14:12] Randgalt commented on #10726
The logic in `GlueHiveMetastore.getAwsCredentialsProvider` is different than `TrinoS3FileSystem.createAwsCredentialsProvider`. Shouldn't `config.getAwsCredentialsProvider()` override any other setting? Fixing this to be exactly like `TrinoS3FileSystem.createAwsCredentialsProvider` might break its existing contract.

[2022-01-21 14:57] losipiuk commented on #10252
I think it is possible - but not probable. It feels like it needs some kind of network split-brain scenario. Where a node can cleanly talk to S3/HDFS endpoint and complete the task correctly, while coordinator cannot reach the node to kill the task.
It looks like with full-query retries it should not happen - or the chance is very slim (I do not see a scenario). But for task-level retires it is mo

[2022-01-21 15:00] findepi opened #10732 "Uncaught overflow in decimal multiplication"
Query completes successfully even though the multiplication overflows:

[code]

indeed, this doesn't fail with "Decimal overflow".
[code]

[2022-01-21 15:02] findepi commented on #10732
This is a regression since 367, the query used to be failing

[code]

[2022-01-21 15:03] losipiuk commented on #10710
@sshkvar I reworked the commit which caused the problem and it should be fine now. The new PR is https://github.com/trinodb/trino/pull/10729. Would that be ok for you to test it out?

[2022-01-21 15:11] GiwrgosTsifoutis commented on #9080
Hey i would like to tackle this issue. It's my first time contributing to OSS. If it has been resolved then I would like to tackle another one that has not, so if someone has any in mind I would gladly take it. Thanks a lot!

[2022-01-21 15:16] #10697 closed

[2022-01-21 15:17] findepi commented on #10552
[code]

#10697 #10725

[2022-01-21 15:44] losipiuk opened #10734 "Collect and report task failure related statistics in `QueryCompletedEvent`"
### High level goal

The goal for this issue is to have more visibility on the nature of query execution with regard to failure recovery. Specifically, we want to be able to understand:
* how many tasks failed through query
* how much extra work (CPU, network) was performed due to task failures
* Possibly how much more wall-time did query take due to failures (may be hard)
* With what memory requi

[2022-01-21 16:02] kmanamcheri commented on #10317
+1 @hashhar

FWIW, I do think Trino is doing the right thing... but fortunate or unfortunately, hadoop/hive style of conventions is widely adopted and the right decision at this point would be to follow conventions so as not to confuse users.

[2022-01-21 16:13] findepi commented on #10317
cc @losipiuk

[2022-01-21 16:16] bitsondatadev commented on #7522
@SananGuliyev and @zhangwcoder see: https://github.com/trinodb/trino/pull/10075.

[2022-01-21 16:18] bitsondatadev commented on #1324
@lxynov would you mind adding this?

@jackye1995  is working on this now. issue: #7522 and PR: #10075

[2022-01-21 16:53] RomantsovArtur commented on #1324
@bitsondatadev Thank you for your reply!

We are looking for some logic like:
`ALTER TABLE table_name  CHANGE [COLUMN] col_name column_new_type`

As you can see from the link I provided above - Iceberg API is available, but, unfortunately, Trino does not support this logic.

I read the doc you attached. Thank you for the beautiful blog post. The use case we are trying to achieve is the case when y

[2022-01-21 17:25] bitsondatadev opened #10736 "Add ALTER TABLE syntax to handle column type change"
We are looking for some logic like:
`ALTER TABLE table_name  CHANGE [COLUMN] col_name column_new_type`

As you can see from the link I provided above - Iceberg API is available, but, unfortunately, Trino does not support this logic.

I read the doc you attached. Thank you for the beautiful blog post. The use case we are trying to achieve is the case when you have a table that is constantly written

[2022-01-21 17:32] bitsondatadev commented on #10736
With a little cheating, I looked at how PostgreSQL handles this from their [ALTER TABLE page](https://www.postgresql.org/docs/12/sql-altertable.html) and it looks like we should likely add something to the tune of:

[code]

An example they post is:

[code]

Some more info from PostgreSQL info:

This form changes the type of a column of a table. Indexes and simple table constraints involving the co

[2022-01-21 17:33] bitsondatadev commented on #1324
Made a new issue for this. First step is to add the syntax. Then this should be easy to hook up to Iceberg.

[2022-01-21 17:36] RomantsovArtur commented on #1324
Thank you for the quick reply! Looks great 🚀

[2022-01-21 19:45] grantatspothero opened #10740 "Bigquery connector: no caching for case insensitive names"
When `bigquery.case-insensitive-name-matching` is enabled, there is currently no caching of the mappings from case insensitive names to remote case sensitive names:
(see here for details: https://github.com/trinodb/trino/issues/10697)

This is a problem because when listing schemas/tables through trino `.toRemoteDataset/.toRemoteTable` are called once per schema/table respectively, resulting in a

[2022-01-21 19:50] grantatspothero opened #10741 "Bigquery connector: no caching of metadata"
Currently JDBC based connectors have a metadata cache (see this PR: https://github.com/trinodb/trino/pull/2290/files)

However, the bigquery connector is not based on JDBC and thus does not benefit from the metadata caching layer.

Ideally the metadata caching layer implemented here could also be utilized in : https://github.com/trinodb/trino/issues/10740

Additionally, when implementing this cach

[2022-01-21 19:52] grantatspothero commented on #10740
Started down the path of implementing *just* a case insensitive metadata cache here: https://github.com/trinodb/trino/compare/master...grantatspothero:gn/bigQueryClientCacheFixes?expand=1

But a better solution would build the general metadata cache as described here: https://github.com/trinodb/trino/issues/10741

And then use that to implement the case insensitive mapping cache.

[2022-01-21 19:54] mosabua commented on #10552
All above added.

[2022-01-21 20:00] mosabua commented on #10552
@martint @arhimondr .. need a release notes entry for #9818

[2022-01-21 20:17] mosabua opened #10742 "Document DB backed resource group manager"
Related to  https://github.com/trinodb/trino/pull/9812

I am not aware of any docs. Here is all we got https://trino.io/docs/current/admin/resource-groups.html

Maybe @posulliv can provide some info since he created the linked PR...

[2022-01-21 20:18] #9716 closed

[2022-01-21 20:52] arhimondr commented on #10552
@mosabua This feature is not yet usable. We shouldn't probably mention it just yet.

[2022-01-21 20:57] posulliv commented on #10742
@mosabua yep, will do. I will work on getting this documented next week.

[2022-01-21 22:10] sumit-gupta-sgt opened #10743 "trino-server-rpm doesn't support CentOS/RHEL 8 due to lack of unversioned python package"
When I am trying to install trino-server-rpm-368.rpm over rhel8 it always says python >= 2.4, i have python2.7 and python3.6 in my system already.

While i was using same package over centos7..everything works well.

[2022-01-22 00:40] ebyhr commented on #10740
The issue was reported (Jul 26, 2020) before adding `bigquery.case-insensitive-name-matching` (Mar 5, 2021) and I could reproduce the issue without the flag.

[2022-01-22 00:42] ebyhr commented on #10741
Relates to #4580

[2022-01-22 03:34] mosabua commented on #10743
You need to ensure that the desired Python version is on the path for the user that you use to start the rpm with.

[2022-01-22 03:41] mosabua commented on #10742
Awesome @posulliv !

[2022-01-22 11:32] hashhar commented on #10743
@sumit-gupta-sgt I believe you are having errors installing the RPM itself?
Can you share exactly what error RPM seems to throw when you install the rpm?

Also can you share output of `rpm -qa | grep python`?

Most probably RHEL8 has removed the `python` package and replaced it with explicit `python2` and `python3` packages which cause the RPM to error out since it cannot find a `python` package.

[2022-01-23 19:11] kokosing commented on #10727
From https://github.com/trinodb/trino/blob/e6c62cddde177ef3da4ed1dcecfdf4efb5194087/core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java#L3472 we don't create view access control if `owner = session user`.

I am not sure if it is a desired behavior.

[2022-01-24 02:14] liuzx8888 opened #10750 "Using the Hive Metastore with Kudu trino work error"
I follow this page config . It looks as if the configuration was successful.

https://kudu.apache.org/docs/hive_metastore.html#enabling-the-hive-metastore-integration

[code]

Now I use trino to connect to kudu and execute the following script。

[code]

kudu master log：

`W1118 13:56:00.671370 31226 catalog_manager.cc:1959] Remote error: failed to create HMS catalog entry for table  [id=3490249b92

[2022-01-24 03:13] kinyounoob commented on #752
I've used jdk11.0.14 and trino-368 , and I have this problem now .
The following is the error message :
2022-01-24T11:11:44.798+0800	ERROR	main	com.facebook.presto.server.PrestoServer	Unable to create injector, see the following errors:

1) Error injecting constructor, java.io.IOException: java.io.IOException: Can not attach to current VM (try adding '-Djdk.attach.allowAttachSelf=true' to the JVM

[2022-01-24 03:23] kinyounoob commented on #752
I have used the jvm parameter which is in https://trino.io/docs/current/installation/deployment.html#jvm-config
-Djdk.attach.allowAttachSelf=true

[2022-01-24 04:08] shandeep00 commented on #10705
Hi @ebyhr , if no one is working on this, can I pickup it?

[2022-01-24 06:09] ebyhr commented on #7224
https://github.com/trinodb/trino/runs/4916469492

[2022-01-24 06:09] ebyhr commented on #5527
https://github.com/trinodb/trino/runs/4916468461

[2022-01-24 06:10] ebyhr opened #10752 "Fix "Port 9000 is for clickhouse-client program" error in ClickHouse tests"
[code]

[2022-01-24 07:37] ebyhr commented on #9768
https://github.com/trinodb/trino/runs/4917761727

[2022-01-24 08:46] losipiuk opened #10754 "Adjust Trino UI to accommodate task retries"

[2022-01-24 09:18] findepi opened #10755 "Inconsistent handling of invalid literals within in `try(...)`"
### observed

This catches the error

[code]

The behavior is even test-covered at https://github.com/trinodb/trino/blob/c0276cea688da155f7f5bf0cb0b53169ece43e6e/testing/trino-tests/src/test/java/io/trino/tests/AbstractTestEngineOnlyQueries.java#L5443

however, it's not consistently applied to other literals:

[code]

[code]

[2022-01-24 09:18] findepi commented on #10755
### expected

All literal forms are validated, regardless of `try`.
`try` remains to catch "runtime" errors.

[2022-01-24 09:24] findepi commented on #5527
if this is due to OOM, https://github.com/apache/maven-surefire/pull/407 might help.

[2022-01-24 09:35] losipiuk commented on #10734
@arhimondr, @findepi I put high level attack plan for this issue in the description. Let's discuss if it does make sense, and I will make necessary corrections.

cc: @martint

[2022-01-24 09:51] findepi opened #10756 "Preferred write partitioning should consider number of nodes and expected data size"
Today, the preferred write partitioning triggers when writing at least 50 partitions (default).
See `ApplyPreferredTableWriterPartitioning`.

The rule should also consider number of nodes and expected data size.
In particular, it should not trigger, when file sizes without write repartitioning would be big enough.
**Perhaps something like:** don't apply write repartitioning when `#data size / (#no

[2022-01-24 10:16] findepi commented on #10756
@sopel39 yes, there are hard limits, so we may need the logic "trigger >= 50 partitions" regardless (50 and not 100, because we have padding to prevent query failure).

Note that the 100 limit is configurable (`hive.max-partitions-per-writers`), so the config option should be taken into account. Until that happens, docs for `hive.max-partitions-per-writers` and `preferred-write-partitioning-min-nu

[2022-01-24 10:18] ranganathg opened #10757 "Add more information about the split in PhoenixSplit getInfo()"
In the Phoenix Connector logs - we see below which doesn't give much information about the Phoenix Split. Looking at other connectors, it looks to make things better to add more information here like the regionServer location etc to make it easy to discover phoenix server side things.

DEBUG	<TaskId>	io.trino.execution.executor.TaskExecutor	Split <TaskId>-3 io.trino.plugin.phoenix.**PhoenixSplit@4

[2022-01-24 10:49] ubyyj opened #10758 "support of iceberg v2 format"
please also add support for iceberg v2 format.

[2022-01-24 11:18] findepi opened #10760 "Incorrect results when transactional / ORC ACID Hive table accessed in Trino transaction"
### steps to reproduce

[code]

[code]

[code]

### expected

The transaction was rolled back, so the INSERT results should not be visible.
Also, concurrent readers shouldn't see INSERT effect until transaction is committed.

Or -- actually preferred -- writing to an ORC ACID or an insert-only Hive transactional table is **rejected** in an explicit (not autocommit) Trino transaction.

[2022-01-24 11:20] findepi commented on #10760
Fix should be similar to https://github.com/trinodb/trino/pull/9675

[2022-01-24 11:23] findepi commented on #10758
It's being worked on.

[2022-01-24 11:24] findepi commented on #10757
Could you please make a PR?

[2022-01-24 11:30] findepi commented on #10552
[code]

#10574

[2022-01-24 12:56] sopel39 opened #10763 "Trino aggregation performance can significantly slow down non-deterministically"
Java 11
tpcds/q22 (but can happen for other queries too)
![obraz](https://user-images.githubusercontent.com/5989165/150786078-253b6267-32b3-49c1-96a3-395f5fb50ea3.png)
[jsons.zip](https://github.com/trinodb/trino/files/7925661/jsons.zip)
It's possible to track it down to single `HashAggregationOperator`
slow query:
[code]
vs normal (fast query)
[code]
Once that issue hits, the query is consistentl

[2022-01-24 12:56] sopel39 commented on #10763
cc @martint @dain

[2022-01-24 13:27] #10710 closed

[2022-01-24 14:56] losipiuk commented on #10552
[code]

https://github.com/trinodb/trino/issues/10710
https://github.com/trinodb/trino/pull/10716
https://github.com/trinodb/trino/pull/10729

[2022-01-24 15:59] sshkvar commented on #10710
@losipiuk looks like reworked fix also working for us, I will continue testing and let you know in case of any issue

[2022-01-24 17:25] grantatspothero commented on #3415
@Praveen2112 @findepi any more context around what "docker's networking problem WRT to Mac" means? I'm running into this issue currently

[2022-01-24 17:31] sumit-gupta-sgt commented on #10743
@hashhar @mosabua mosabuaI am using same version of python in centos7, everything work well. When i try to use trino rpm, it always says python >= 2.4 required, while i have python 2.7 and python3 in my system.

[2022-01-24 17:35] losipiuk commented on #10710
Thanks @sshkvar. Very much appreciate your help here.

[2022-01-24 18:15] #10732 closed

[2022-01-24 18:20] #10726 closed

[2022-01-24 18:26] hashhar commented on #10743
The issue is that CentOS 8 doesn't have any package that *provides* `python` - the packages now either provide `python2` or `python3` so the RPM installation fails since we request `python >= 2.4` which cannot be satisfied.

The only workaround at this time is what I shared above:

[code]

I'm looking into ways to build a single RPM that would work on both RHEL 8 based as well as older systems.

[2022-01-24 18:28] dain commented on #10552
[code]
#10735

[2022-01-24 18:31] dipsitevikas opened #10769 "Trino Windows Build"
Is it not possible to build Trino on windows ? As I see mac OS and Linux only in build requirements ?

[2022-01-24 18:36] dipsitevikas commented on #10769
Cc: @sauliusvl @martint

[2022-01-24 18:42] hashhar commented on #10743
Seems like it's impossible to support both CentOS >= 8 as well as older versions with a single RPM file.

We'd need to create and distribute two different RPM files for each packaging variation. The gist is that the dependencies declared in RPM are static and cannot be conditional so we cannot alter behaviour of RPM according to what distro we are running on.

What we can do is to remove `python`

[2022-01-24 18:47] martint commented on #10743
That seems reasonable. Although, if CentOS < 8 is old and no longer supported, we might want to drop support for it altogether. If someone wants to install it in that distro, they can bypass the dependency check.

[2022-01-24 18:53] alexjo2144 opened #10770 "Iceberg Connector NPEs when pushing down predicates on partition column"
Reported in Slack thread: https://trinodb.slack.com/archives/CGB0QHWSW/p1642722047139300

Fixed by: https://github.com/trinodb/trino/pull/10739

[code]

[2022-01-24 18:55] mosabua commented on #10552
All above added with minor tweaks. On to verification..

[2022-01-24 18:56] mosabua commented on #10552
Got an answer how to mention if from @martint  .. see the PR

[2022-01-24 19:06] sopel39 commented on #10552
[code]
https://github.com/trinodb/trino/pull/10660

[2022-01-24 19:43] sumit-gupta-sgt commented on #10743
@hashhar When i try to use workaround you mentioned, looks like didn't work.

rpm -i --nodeps trino-server-rpm-368.rpm
package trino-server-rpm-0:368-1.noarch does not verify: no digest

Please let me know if anything i am missing.

[2022-01-24 19:50] hashhar commented on #10743
Seems like you have FIPS enabled on your CentOS installation. You can skip the digest checking via `--nodigest --nofiledigest` options passed to `rpm`. Let's keep this issue focused on building CentOS/RHEL 8 compatible RPM.

You can join our [Slack](https://trino.io/slack.html) and continue the conversation there if you still run into issues.

[2022-01-24 19:54] sumit-gupta-sgt commented on #10743
@hashhar thanks let me try.

BTW when you are planning to have separate RPM ..any plan schedule ?

[2022-01-24 20:07] #6991 closed

[2022-01-24 20:11] kokosing commented on #10552
[code]

[2022-01-24 21:43] mosabua commented on #10552
Added up to here again.

[2022-01-24 22:36] losipiuk opened #10772 "TestHive3OnDataLake, TestHiveRoles flaky (SchemaAlreadyExists during test initialization)"
Example: https://github.com/trinodb/trino/runs/4904524264?check_suite_focus=true

[code]

[2022-01-24 22:37] mosabua commented on #10552
RN entry for https://github.com/trinodb/trino/pull/10722 @martint ?

[2022-01-24 22:38] mosabua commented on #10552
RN entry for https://github.com/trinodb/trino/pull/10619 @findepi @electrum ?

[2022-01-24 22:38] losipiuk commented on #10772
cc: @aczajkowski (not for a very specific reason - just you happen to touch stuff around somewhat recently)

[2022-01-24 23:55] zhicwu commented on #10538
Hi @ebyhr, `Date32` and `DateTime64` support date range from 1925-01-01 to 2283-11-11. Does it make sense to add an option for the default behavior?

Below items might be a bit off the topic but I think it would be nice if you can consider as well.
1. change `jdbcTypeName.equals("DateTime")` to `jdbcTypeName.startsWith("DateTime")` to support both DateTime32 and DateTime64. Similarly for Date and

[2022-01-25 00:07] ebyhr commented on #10769
Closing as duplicate of #2272. Please feel free to join our community Slack https://trino.io/slack.html

[2022-01-25 00:07] #10769 closed

[2022-01-25 00:08] sopel39 opened #10773 "trino-hive -P test-fault-tolerant-execution times out"
[code]
https://github.com/trinodb/trino/runs/4928406693?check_suite_focus=true

[2022-01-25 00:08] sopel39 commented on #10773
cc @losipiuk @arhimondr

[2022-01-25 00:14] grantatspothero commented on #3415
I was able to get the tests running in testcontainers using a fixed port mapping (what the linked kudu docker compose is doing).

Since testcontainers strongly suggests not using fixed port mappings, I'm attempting to workaround that by either:
1. Choosing a random open port and then using a fixed port mapping
2. Getting testcontainers to inject information about the mapped port into the container

[2022-01-25 00:26] sopel39 commented on #10552
[code]
https://github.com/trinodb/trino/pull/9613

[2022-01-25 00:58] mosabua commented on #9213
@rosewms is this all addressed .. can it be closed?

[2022-01-25 01:00] mosabua commented on #8030
Is this done now @m57lyra ?

[2022-01-25 01:03] mosabua commented on #8038
Lets close this

[2022-01-25 01:03] #8038 closed

[2022-01-25 01:03] mosabua commented on #8039
SPI docs is mostly in code. Thats fine for now. Closing.

[2022-01-25 01:03] #8039 closed

[2022-01-25 01:08] mosabua opened #10774 "Document ALTER MATERIALIZED VIEW/TABLE ... SET PROPERTIES"
Follow up to https://github.com/trinodb/trino/pull/9613

Maybe @sopel39 and @sunningCGo can provide information here or a draft docs PR. Either way .. I can help with review or more.

[2022-01-25 01:08] mosabua commented on #10552
Added MV update @sopel39 and filed https://github.com/trinodb/trino/issues/10774 for you ..

[2022-01-25 01:11] arhimondr commented on #10773
I will take a look

[2022-01-25 01:21] ebyhr opened #10775 "Fix warning about "Unable to find a comment style definition" in docs"
[code]

Even if we break `.fragment` files, the build succeeds as far as I confirmed.

cc: @mosabua

[2022-01-25 01:34] mosabua commented on #10775
Is that the Maven build? Fragments have been in use in docs since forever .. we can maybe change extension or configure to ignore it. I will have a look but do you maybe have some recollection @electrum ?

[2022-01-25 01:45] ebyhr commented on #10775
@mosabua It is maven build. `docs/build` also can't catch the error.

[2022-01-25 02:03] ebyhr commented on #10538
@zhicwu It makes sense. Do you want to send the PRs? By the way, there is another issue for `DateTime64` support.  https://github.com/trinodb/trino/issues/10537

[2022-01-25 02:47] aalbu opened #10776 "Add tests to guard against accidental modification of Flyway migrations"
Versioned Flyway migrations are intended to be applied only once.  Consequently, they should be immutable.  Flyway records a checksum of the migration after it is applied, to prevent accidental modification.  Modifying a migration will cause Flyway to fail when the migration is applied.

We should have tests that prevent situations like that.  Current tests start with an empty database and verify

[2022-01-25 02:54] ubyyj commented on #10758
Is there any ETA, we really miss this feature.

[2022-01-25 03:10] duoluodexiaokeke opened #10777 "Do you have any plans for the follow-up of materialized view"
Do you have any plans for the follow-up of materialized view?

Will materialized views support interval refresh in the future？

if select * from mv, the mv is old, we will treat materialized views as normal view queries, and not refresh the materialized.
This problem will be changed to refresh the materialized view first and query it ？

[2022-01-25 03:53] #10394 closed

[2022-01-25 05:17] zhicwu commented on #10538
Thanks @ebyhr. Sorry I need to focus on completing TCP/Native support for ClickHouse JDBC driver first, and then I should be able to spend more time to learn trino and contribute a few pull requests. Meanwhile, if it's not annoying, I'll comment on issue/pull request related to ClickHouse from time to time to share my thoughts and hopefully they can be of use :p

[2022-01-25 05:48] mosabua commented on #10769
You can probably build Trino with WSL2. Its worth trying

[2022-01-25 05:54] ebyhr commented on #10538
@zhicwu It's not annoying at all. We are welcome your comments. It's very helpful.

[2022-01-25 05:59] #10552 closed

[2022-01-25 06:09] ebyhr commented on #7224
Faced another flaky issue when I was trying to reproduce locally.
[code]

[2022-01-25 06:22] ebyhr commented on #7224
The period in Prometheus might be shorter than 15s (2nd - 1st = 14.965s), so the current assertion returns 2 rows in this case.
[code]

[2022-01-25 06:32] BalaMahesh commented on #10450
@findepi ,

@electrum  seems busy.

can you please add any others who can help with this.

[2022-01-25 08:05] ebyhr commented on #10775
We can treat .fragment as .rst files by the below setting in confg.py. However, it causes different issue "Undefined substitution referenced" (https://github.com/sphinx-doc/sphinx/issues/8515).
[code]

[2022-01-25 08:22] ebyhr commented on #10752
https://github.com/trinodb/trino/runs/4933032934

[2022-01-25 08:45] liuzx8888 commented on #10750
@Crossoverrr   such as #5601

[2022-01-25 08:48] kokosing commented on #10776
How about a convention where migration file is versioned with the project version. So one cannot update the file of the version that was released.

Then we need tests that try to apply the new migration (from the current) version on non empty database with the previous version. Like test (or few tests) per version which are called in order to make sure that we can migrate from version to version.

[2022-01-25 10:05] sopel39 commented on #10774
@sunningCGo Could you help here?

[2022-01-25 11:16] ZZa commented on #6439
@klDen, any good/bad news probably? Sorry for bothering you..

[2022-01-25 11:30] ebyhr opened #10784 "Improve assertion in TestPrometheusIntegrationStatus.testPushDown"
We should verify the plan if the predicate pushdown happened or not.
[code]

Also, we need to run the entire class when we want to run `testPushDown()`. It would be nice to improve it as well.

[2022-01-25 11:46] findepi commented on #10724
`json_parse` is likewise affected.

[2022-01-25 11:47] findinpath opened #10785 "Skip OPTIMIZE in Iceberg when table/partition has only one file"
Currently when applying OPTIMIZE for a table containing only one file, there is a rewrite happening  even though this shouldn't be the case because there is nothing to be optimized.

The method `io.trino.plugin.iceberg.IcebergSplitSource#getNextBatch` returns one split even though in case of `OPTIMIZE` for one file it should return

[code]

Test in `BaseIcebergConnectorTest` used to reproduce the

[2022-01-25 11:49] findepi commented on #10118
Relates to #9031

[2022-01-25 11:51] aczajkowski commented on #10772
As for the first error:
[code]
It looks that for some reason we manage to get some trash cross test in MinIO.
As `metastore.getDatabase(TPCH_SCHEMA).isEmpty()` would filter out cases when HMS already has metadata.
So this look that there is no metadata so we call HMS to create one. But when we try to create resources in MinIO (effectively HMS tries to) we get error.
Looks similar to and old one so

[2022-01-25 12:03] kokosing commented on #10593
See that schema already supports this:

This is a syntax for CREATE SCHEMA
[code]

[2022-01-25 12:10] findepi opened #10786 "Respect hive.target-max-file-size in Iceberg"

[2022-01-25 12:27] clemensvonschwerin opened #10787 "Iceberg: INSERT INTO ... SELECT creates corrupted parquet files"
Issue: On some asserted INSERT INTO ... SELECT query the data part of resulting parquet files is corrupted, footer is readable, though (verified via trino SELECT and parquet-tools)

Trino version: 367

Connector: Iceberg

Compression: GZIP

Example query:
[code]

Number of rows in `main_table`: approx. 63M

Unfortunately I cannot share any data to reproduce, because it is company internal data and

[2022-01-25 12:39] hashhar commented on #10787
See https://github.com/trinodb/trino/issues/10710.

Can you verify whether disabling S3 streaming upload resolves the issue for you?

[2022-01-25 12:45] findepi opened #10788 "Query failure when multiple Statements form single JDBC Connection used at the same time: Query already begun"
### steps to reproduce

1. create a JDBC connection (`TrinoConnection`)
2. in threads
   1. create two statements (`TrinoStatement`)
   2. execute non-SELECT queries over Hive catalog

### observed

**for example**:
https://github.com/trinodb/trino/blob/8e9da982f95a531b52a72c9cda39d96b00d126ce/plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/SemiTransactionalHiveMetastore.java#L1267-

[2022-01-25 12:48] findepi commented on #10788
I think JDBC requires `Connection` to be thread-safe, but couldn't find this in writing.

`java.sql.Connection#abort` mentons threads but that's quite specific method

The "JDBC™ 4.1 Specification" says

however it's followed by a code example that has no threads.

Internet wisdom (https://stackoverflow.com/questions/1531073/is-java-sql-connection-thread-safe#comment1386784_1531103) suggests some

[2022-01-25 12:49] findepi commented on #10788
cc @aalbu @leniartek

[2022-01-25 13:19] klDen commented on #6439
Hey! There's no news ATM. I'm waiting for the maintainers to review my PR.

[2022-01-25 14:11] clemensvonschwerin commented on #10787
@hashhar thank you so much for pointing me to the thread. I applied https://github.com/trinodb/trino/pull/10729 to our trino setup and this seems to fix the issue.

[2022-01-25 14:11] #10787 closed

[2022-01-25 14:29] findepi opened #10791 "Scale writers when write is partitioned"
Support writer scaling when write is partitioned, including partitioned or bucketed Hive or Iceberg tables, or OPTIMIZE (which may force repartitioning, overriding, preferred partitioning tuning knobs).

cc @sopel39

[2022-01-25 15:54] sunningCGo commented on #10774
Hi @mosabua , here is the info regarding https://github.com/trinodb/trino/pull/9613.

The PR implements two features.

First of all, it implements support for `ALTER MATERIALIZED VIEW ... SET PROPERTIES ...` in the core engine. The syntax is similar to `ALTER TABLE ...SET PROPERTIES ...` and looks like:

`ALTER MATERIALIZED VIEW name SET PROPERTIES property_name = expression [, ...]`

It sets the

[2022-01-25 17:31] mosabua opened #10794 "Release notes for 370"

[2022-01-25 19:22] losipiuk opened #10797 "Extend test coverage for S3 streaming upload"
## Extra testing

#10710 showed that we are lacking test coverage for S3 streaming upload.
We should write testcases which upload files of multiple sizes with S3 streaming enabled (default currently). Specifically
* file of size less than 16MB (multipart size)
* file of size greater than 16MB but less than 32MB (it was a trigger for #10751
* file of size greater thatn 32MB

For tests which talk to

[2022-01-25 21:34] mosabua commented on #10774
Okay .. so given all that .. we need to document this in https://trino.io/docs/current/sql/alter-materialized-view.html and edit that document to support the different use cases of RENAME and SET PROPERTIES

Do you want me (or someone from my team) to create a draft and then you can help with review and merge @kokosing @joshthoward ?

[2022-01-25 21:39] joshthoward commented on #10774
@mosabua that would be great. Please tag @sunningCGo and I to review.

[2022-01-25 21:48] findinpath opened #10799 "Using WHERE uuid_field= uuid '....' on a table with a UUID field as partition key doesn't work"
For reproducing the issue is enough to select from a table having uuid as the partition key
Tested with Trino 370-SNAPSHOT

[code]

`io.trino.plugin.cassandra.CassandraType#getJavaValue`

In case of dealing with UUID  there is an attempt to take the string representation of the value:

[code]
However, in case of dealing with partition filter in `trino-spi` (see `Range` class) the `UUID` value is e

[2022-01-26 00:12] #7224 closed

[2022-01-26 00:19] ebyhr commented on #10537
https://github.com/trinodb/trino/issues/10538#issuecomment-1020668450

[2022-01-26 00:22] ebyhr commented on #10538
Supported creating tables with Trino `timestamp(0)` as ClickHouse `datetime` in #10751. Let's continue https://github.com/trinodb/trino/issues/10538#issuecomment-1020668450 in #10537

[2022-01-26 00:22] #10538 closed

[2022-01-26 00:22] ebyhr commented on #10794
[code]

#10751

[2022-01-26 00:31] ebyhr commented on #10799
Relates to https://trinodb.slack.com/archives/CGB0QHWSW/p1643138145227100

[2022-01-26 00:48] amalakar opened #10803 "Inconsistent error message when schema is absent while creating hive table"
Summar: while creating non-external table, the error is verbose and useful: `Schema test_schema not found`, while creating an external table if schema is absent the error is not useful, and says just `test_schema`

## Non External Table
[code]

### Helpful error
[code]

## External Table
While creating external table

[code]

### Unhelpful error
UI tools would just show the error as `test_schema`

[2022-01-26 02:02] mosabua commented on #10743
I agree that it might be easier to have a script that checks for suitable python on the path. This could even be used in the tarball as well.

And on that note of tarball .. @sumit-gupta-sgt you can just use the tarball on Centos .. you just have to manually satisfy dependencies and hook up the launcher script as daemon (only if desired..)

[2022-01-26 02:20] mosabua commented on #10794
Added above. Does this need an extension to the type mapping section in the Clickhouse connector @ebyhr ?

[2022-01-26 02:25] ebyhr commented on #10794
@mosabua No. https://github.com/trinodb/trino/blob/master/docs/src/main/sphinx/connector/clickhouse.rst#type-mapping

[2022-01-26 02:33] mosabua opened #10804 "Clarify hive.metastore-refresh-interval docs"
See discussion in https://github.com/trinodb/trino/pull/6101 and follow up with @findepi for review

[2022-01-26 03:32] aalbu commented on #10776
The original [concern](https://github.com/trinodb/trino/pull/10586#discussion_r785296130) was that migrations may be accidentally modified (e.g. reformatting).  Such a test would not cover that scenario.

[2022-01-26 06:47] findinpath opened #10805 "Document queries on Iceberg metadata tables"
Followup from  https://github.com/trinodb/trino/pull/10514

@kbendick

[2022-01-26 07:16] xiaojun90713 commented on #2518
how to slove this problem? I have the same problem.

[2022-01-26 09:07] kokosing commented on #10776
We can have additional test would assert checksums for flyway files.

[2022-01-26 09:09] kyo-tom opened #10807 "Json deserializer is not completely uninstalled when the connector is dropped"
When we dorp connector instance by ``io.trino.connector.ConnectorManager#dropConnection``. The json deserializer of some class in ``AsPropertyTypeDeserializer`` is not be removed, such as ``ConnectorTableHandle``、``ColumnHandle``...

[2022-01-26 10:36] sopel39 commented on #10794
[code]

https://github.com/trinodb/trino/pull/10331

[2022-01-26 10:50] sopel39 commented on #10554
Fixed via https://github.com/trinodb/trino/pull/10715

[2022-01-26 10:50] #10554 closed

[2022-01-26 11:27] losipiuk opened #10808 "Do not block FaultTolerantStageScheduler loop if node cannot be acquire for single task"
Currently when node cannot be allocated for a single task in FaultTolerantStageScheduler's loop we will not try to schedule other tasks for a stage. It is not optimal as other tasks may have different node requirements and could be scheduled already.

cc: @arhimondr

[2022-01-26 13:27] ZZa commented on #6439
@klDen, thanks for the info, didn't notice the PR at first: https://github.com/trinodb/trino/pull/8743

Could we link it with this issue, probably?

[2022-01-26 14:23] sunningCGo commented on #10774
Hi all, previously I mentioned that, in addition to `ALTER MATERIALIZED VIEW...SET PROPERTIES...`, six other kinds of statements also gain support for the `DEFAULT` keyword via https://github.com/trinodb/trino/pull/9613.

Another PR, namely  https://github.com/trinodb/trino/pull/10331, has just been merged. That PR adds support for the `DEFAULT` keyword in `ALTER TABLE...SET PROPERTIES...`

Togeth

[2022-01-26 15:29] phd3 commented on #10752
https://github.com/trinodb/trino/runs/4926376494

[2022-01-26 16:32] sopel39 commented on #10794
[code]
https://github.com/trinodb/trino/pull/10469

[2022-01-26 18:05] losipiuk commented on #560
What about:
* `array_position`

[2022-01-26 19:41] arhimondr commented on #10773
I spent a couple of hours yesterday trying to reproduce it locally. I tried to throttle CPU and play with OS scheduling parameters and it still passed more than 100000 times.

Reproducing concurrency problems is a real challenge.

I found this research from Microsoft when they explore a scheduling algorithm designed to maximize a chance of concurrency bug being discovered: https://www.microsoft.co

[2022-01-26 20:39] cccs-joel opened #10814 "Add support to cast type VARBINARY as JSON"
# Summary:
As mentioned at [JSON doc](https://trino.io/docs/current/functions/json.html), some types are currently not supported with the function CAST AS JSON. This might be due to the fact that the JSON format natively doesn't support binary data. Our use case is to be able to cast a complex column (row, arrays...) as json with some values being unsupported types.

# Description:
[code]
does wor

[2022-01-26 21:59] rosewms commented on #5581
PR: https://github.com/trinodb/trino/pull/10817

[2022-01-26 22:02] mosabua commented on #10794
All above added with minor rewording for your suggestions @ebyhr

[2022-01-26 22:14] klDen commented on #6439
I don't have the permission to link the PR here. People can refer to your comment and see the PR though :+1:

[2022-01-27 00:09] mosabua commented on #10548
Done. Thanks!

[2022-01-27 00:09] #10548 closed

[2022-01-27 07:00] kyo-tom commented on #10807
cc @sopel39 Do we need to fix it?

[2022-01-27 07:29] hashhar commented on #10776
Simplest to me seems to be what @kokosing proposed now - we can have a test that verifies checksums of all migrations and also asserts that all files have a checksum present (to catch when new migrations are added).

It does provide a lesser guarantee though - it won't verify whether migrations will apply correctly on version upgrades but it does protect against the original concern.

For cross-ve

[2022-01-27 09:17] #10807 closed

[2022-01-27 10:35] lirui-apache commented on #5500
Found this issue while I was searching for iceberg time travel syntax (seems missing in the official doc [1]).

I think snapshot ID and UNIX milliseconds can be user unfriendly in some scenarios. Could we also support specifying a timestamp string?  To do that, the temporal table feature defined in SQL:2011 [2] might be a candidate for the new syntax.

[1] https://trino.io/docs/current/connector/i

[2022-01-27 11:37] kokosing commented on #6439
I added link.

[2022-01-27 12:17] findepi commented on #10776
That's laborous during development, when working on such a file.
But otherwise yes, it would work.

is it? we already do this.

[2022-01-27 12:24] hashhar opened #10826 "Document how to configure Kafka connector to write non-null keys"
The examples in Kafka connector documentation omit the `keys` in the table descriptions.
There are no examples with a non-empty `keys` which is needed if you want to control which records end up in which partitions in Kafka.

Here's a quick example:

[code]

With the above table description in place you can run queries like:

[code]

And then inspect messages and notice that they get sent to diffe

[2022-01-27 12:26] harsh-tamr commented on #5729
@davigust any luck

[2022-01-27 12:44] aalbu commented on #10776
I was thinking we could start the previous Trino version in a container and run the current migrations against that.  Wouldn't have to be a product test.

[2022-01-27 13:30] findepi commented on #10794
[code]

#10696

[2022-01-27 13:48] wrborigin opened #10828 "Creating Hive/parquet table with spaces in column names should return better error message"
When I try to create a table with Hive connector using Parquet,

[code]

I get the following error message:

[code]

This is because while Hive does allow column names with space, Parquet format doesn't.

The error message is pretty obscure and doesn't at all explain what is going on. If it would be improved (by validating before writing I guess?) it would save Trino users some inevitable Googling

[2022-01-27 14:56] #10724 closed

[2022-01-27 20:12] #10770 closed

[2022-01-27 20:13] findepi commented on #10794
[code]

#10770 #10739

[2022-01-27 20:14] #10719 closed

[2022-01-27 20:14] #10755 closed

[2022-01-27 21:48] joshthoward opened #10833 "file-metastore schemas are no longer self contained"
The commit https://github.com/trinodb/trino/commit/4dda7750a77fda7fcb63ba770af240a9d8a9f66e introduced a change to remove database schema files from database directories. The result is that schemas are no longer self contained which breaks the convention of Trino. This should be resolved by the 370 release of Trino.

[2022-01-27 22:54] electrum commented on #10788
I don't think the word "concurrently" in the specification there means "at the same time by multiple threads", since the specification doesn't mention threads anywhere else. Other drives like Oracle will synchronize access to the connection.

[2022-01-27 23:56] mosabua commented on #10794
No release notes and docs for #10663 @findepi right?

[2022-01-28 00:03] mosabua commented on #10794
No release notes or docs for #10507 @losipiuk and @arhimondr right?

[2022-01-28 00:05] mosabua commented on #10794
Should we add a RN entry for #10720 @kasiafi and @findepi ?

[2022-01-28 00:16] mosabua commented on #10794
Need a RN entry and docs update for #10820 @electrum  please

[2022-01-28 05:23] arhimondr commented on #10794
@mosabua Not yet :-)

[2022-01-28 06:21] hashhar commented on #10833
Updated to link to commit on master instead of PR otherwise it's not possible to see what tags it's part of or the related PR.

[2022-01-28 07:41] jerryleooo commented on #10649
I guess it is related to https://github.com/trinodb/trino/pull/5440/

[2022-01-28 08:27] tangjiangling commented on #8391
@hashhar Is anyone doing this? If not, I'd like to do this.

From the above description, we want to add tests for ClickHouse deployment in a clustered manner and such tests are placed under `trino-product-tests`, do I understand correctly?

[2022-01-28 09:28] findepi commented on #10788
this i noticed, hence comment above.

is this in support of what actually?

that the Connection should be thread-safe?

Current implementation of Connection looks thread-safe, and this dates back to the first commit introducing the class. It could be interpreted as if it was OK to share Connection between threads, but that leads to the problem described here. If the Connection is not supposed to b

[2022-01-28 09:47] findepi commented on #10833
@joshthoward the file-metastore is testing-only facility

thus the change is not a bug, and furthermore cannot be a release blocker.

cc @losipiuk @martint

[2022-01-28 09:53] hashhar commented on #8391
Yes, your understanding is correct.
For reference see any of the existing product tests for JDBC based connectors like SQL Server etc.

You need to define an Environment, a new TestGroup and then implement tests (simple read + write) in a class annotated with the new test group you have created.

[2022-01-28 10:09] tangjiangling opened #10840 "To avoid confusion, we should use `trino` instead of `presto` in the code."
[After we rename the project to trino](https://trino.io/blog/2020/12/27/announcing-trino.html), to avoid confusion for users, we should replace `presto` in the code with `trino`.

You can find many places in the current code that are still `presto` with the following command.

[code]

And if we sort by module (or directory), we find that most of them are found in `testing/trino-product-tests` and

[2022-01-28 10:43] sopel39 opened #10842 "Improve parallelism of HttpRemoteTask"
Even though `sendUpdate` is called by separate executor, it is still synchronized. In order to make `sendUpdate` non-synchronized we could
* run `sendUpdate` within a single thread
* track "version" of request. Each `triggerUpdate` would bump version atomically and schedule `sendUpdate`. `sendUpdate` would then compare requested version and sent version.

cc @JamesRTaylor @riteshvaryani

[2022-01-28 13:49] sopel39 commented on #10794
[code]
https://github.com/trinodb/trino/pull/10839

[2022-01-28 17:03] findepi opened #10846 "SQL Server metadata listing may fail with "Transaction was deadlocked on lock resources with another process" in case of concurrent table creation/deletion"

[2022-01-28 17:07] findepi commented on #8556
I believe this is user-facing problem. Filed https://github.com/trinodb/trino/issues/10846 for visibility.

[2022-01-28 17:08] findepi commented on #9741
I believe this is user-facing problem. Filed #10846 for visibility.

[2022-01-28 18:43] ivanfrias commented on #8029
I can try to tackle this.

[2022-01-28 19:48] #10760 closed

[2022-01-28 20:03] findepi commented on #9658
https://github.com/trinodb/trino/runs/4984192609?check_suite_focus=true
[code]

[2022-01-28 21:34] mosabua commented on #10794
Updated again.

[2022-01-29 00:15] vincentpoon commented on #10791
+1 to this idea

[2022-01-29 18:08] ivanfrias commented on #6859
@findepi I am interested in trying to do this. Can you please assign it to me ?

[2022-01-29 20:12] hashhar commented on #5256
Was implemented in https://github.com/trinodb/tempto/pull/84

[2022-01-29 20:12] #5256 closed

[2022-01-29 20:13] hashhar commented on #6860
Implemented in https://github.com/trinodb/orc-protobuf/pull/9

[2022-01-29 20:13] #6860 closed

[2022-01-29 20:17] hashhar opened #10849 "Migrate trinodb/trino-maven-plugin from Travis to GitHub Actions"
Need to migrate [trino-maven-plugin](https://github.com/trinodb/trino-maven-plugin) to use GitHub actions instead of Travis CI. See https://github.com/trinodb/trino/issues/6859 for some guidance.

[2022-01-29 20:17] hashhar opened #10850 "Migrate trinodb/tpcds from Travis to GitHub Actions"
Need to migrate [tpcds](https://github.com/trinodb/tpcds) to use GitHub actions instead of Travis CI. See https://github.com/trinodb/trino/issues/6859 for some guidance.

[2022-01-29 20:17] hashhar opened #10851 "Migrate trinodb/tpch from Travis to GitHub Actions"
Need to migrate [tpch](https://github.com/trinodb/tpch) to use GitHub actions instead of Travis CI. See https://github.com/trinodb/trino/issues/6859 for some guidance.

[2022-01-29 20:29] electrum commented on #10833
It is not only for testing. It’s also used as convenient way to have standalone data and metadata in an object store, without needing an external metastore.

[2022-01-29 21:27] alexbrisan opened #10852 "Consider allowing "tagged" queries"
Closing, opened with an old account.

[2022-01-29 21:27] #10852 closed

[2022-01-29 21:28] abrisan opened #10853 "Support "tagged" queries"
Hello trino-ers 🥇

We own some trino client applications that pass through OAuth credentials to trino for authentication and authorization. Our setup additionally has an [event listener](https://trino.io/docs/current/admin/event-listeners-http.html) set up, which pipes metadata through an [ingestion service](https://github.com/bloomberg/datalake-query-ingester) in order to allow us to monitor and

[2022-01-29 21:41] martint commented on #10853
Tags are already supported by the client protocol (see X-Trino-Client-Tags in https://trino.io/docs/current/develop/client-protocol.html) and throughout the system (resource groups, event listener, etc).

It’s possible they are not yet supported in the jdbc and python clients, though.

[2022-01-30 17:23] esselius opened #10855 "How to avoid unnecessary cross-catalog join"
I'm trying to use dbt-trino and it's incremental model concept to move production data from postgres to iceberg. Long term I'll probably reach for debezium, but this is what I have available right now..

[code]

the query takes several minutes to run, as it performs a 28M row table scan, `EXPLAIN ANALYSE`:

[code]

If I replace the iceberg query `max(date)`-query with it's literal counterpart, the

[2022-01-31 00:09] ebyhr opened #10857 "file-metastore allows creating views in a schema where it doesn't exist"
[code]

[2022-01-31 01:27] ebyhr opened #10860 "Add SqlDataTypeTest to Cassandra connector"
The current test `TestCassandraConnectorTest` has some issues:
* Unrelated types in a table
  * It reduces maintainability when we want to add test cases to a type
* The definition and data are managed in the different class
  * We need to look for the different class when we want to check the expected values
* Less coverage in a type
  * Should test min, max, null
  * Should test DST, julian->gre

[2022-01-31 05:44] ebyhr commented on #10794
[code]

#10749

[2022-01-31 07:05] hashhar commented on #10855
Unfortunately not today AFAIK. Until the subquery executes the planner doesn't know the value of the predicate and hence cannot perform pushdown.

cc: @findinpath Maybe you know of some ways to workaround this in dbt (via firing multiple queries and then inlining result into the second query?).

[2022-01-31 07:13] findinpath commented on #10855
@esselius  please try

https://docs.getdbt.com/reference/dbt-jinja-functions/statement-blocks

Here is a concrete example:

https://stackoverflow.com/a/64007574

[2022-01-31 08:40] takezoe opened #10861 "Query failure when IS NOT NULL predicate used on information_schema"
The following query fails on the latest master.
[code]
Full stacktrace:
[code]
For sure, this predicate is meaningless because table_name will never be NULL but this query worked on at least 317. The root cause is https://github.com/trinodb/trino/commit/625712ba24fd547180326ea754394dd9a660ebb4 introduced in 319.

[2022-01-31 08:59] abrisan commented on #10853
Thanks, this is exactly what we needed. Closing.

[2022-01-31 08:59] #10853 closed

[2022-01-31 09:12] hashhar commented on #10853
Follow-up for Python client tag support in https://github.com/trinodb/trino-python-client/pull/154. Thanks @abrisan

[2022-01-31 09:40] kokosing commented on #10794
[code]
 #10811

[2022-01-31 09:52] sopel39 commented on #10791
Relevant thread: https://trinodb.slack.com/archives/CFLB9AMBN/p1642961339264200

[2022-01-31 10:05] sopel39 commented on #10794
[code]
https://github.com/trinodb/trino/pull/10575

[2022-01-31 10:37] tejaswibm commented on #10718
This issue is resolved now. It was a miss from our end in the hive configuration of trino. We missed adding - `hive.recursive-directories=true` to scan subdirectories. Setting this to `true` and we are able to read avro data. Thanks for the help from the community !

[2022-01-31 10:37] #10718 closed

[2022-01-31 12:17] findepi commented on #10861
@takezoe are you planning on making a PR with a fix?

[2022-01-31 12:19] findepi commented on #10855
In general, this is tracked as https://github.com/trinodb/trino/issues/684

[2022-01-31 12:19] #10855 closed

[2022-01-31 12:19] ayush-san commented on #8873
@haoweijia I am also getting the same error in 369version.
@findepi Is there any fix for this?

[2022-01-31 12:41] hashhar commented on #10752
@ebyhr Have we already tried just including the `http` driver using a classifier for the clickhouse driver? Maybe multiple drivers are registering themselves and causing issues depending on which one wins?

[code]

[2022-01-31 13:14] bind-cannon opened #10864 "NPE when accessing a table with no properties using Hive Glue metastore"
In the class
https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/main/java/io/tr[…]ive/metastore/glue/DefaultGlueMetastoreTableFilterProvider.java

line 52 starts with table.getParameters(). This returns null if there are no table parameters resulting in a Null Pointer Exception. This was causing all our users to get errors when trying to list the tables in the associated database.

[2022-01-31 13:28] takezoe commented on #10861
Actually, I don't know what is the right way to fix this issue.

[2022-01-31 13:41] findepi commented on #10864
@bind-cannon thanks for your issue. Do you want to check the link? it 404s for me.

[2022-01-31 15:08] samnaden-bind commented on #10864
@findepi I think this is the link David was after:
https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/DefaultGlueMetastoreTableFilterProvider.java

[2022-01-31 16:01] findepi commented on #10864
The fix would be simpler, wonder whether it's testable?

[2022-01-31 17:21] esselius commented on #10855
These links seems promising, thanks guys!

[2022-01-31 21:11] mosabua commented on #10794
Added the above suggestions.

[2022-01-31 21:24] jhlodin opened #10869 "Document support of DEFAULT keyword in properties"
See https://github.com/trinodb/trino/pull/10835 and https://github.com/trinodb/trino/issues/10774

[2022-02-01 00:26] mapshen commented on #10494
@hashhar apologies for the late response. It seems @murong00 beat me to it :)

That said, we have found out an edge case: say current time is  '2022-01-06 16:10' and messages came in the past 10 minutes, then query `select _timestamp from "<kafka-topic>" where _timestamp > timestamp '2022-01-06 16:00'` would trigger a full table scan instead of returning right away. Any idea on how we can fix this

[2022-02-01 00:48] osscm opened #10874 "Splits-size while querying Iceberg data is static"
Currently there is not way to pass configs file `read.split.target-size` or `read.split.open-file-cost` or any other properties to the Iceberg queries.
So, in case of split size, Iceberg uses 128 MB as the default size, and which will limit the parallelism of the queries and in cases compare to hive it can take more time.

So, we can allow more parameters to be passed in the query session to the i

[2022-02-01 01:07] takezoe commented on #10861
Oh, just removing a status check was fine. Thank you!

[2022-02-01 02:02] ebyhr commented on #10752
@hashhar As @zhicwu already commented in https://github.com/trinodb/trino/pull/10863#issuecomment-1025868934, it seems the cause is http client. So, such exclusion won't resolve the issue in my guess.

[2022-02-01 05:27] osscm commented on #10874
cc @findepi @alexjo2144 @RussellSpitzer

[2022-02-01 05:29] osscm commented on #10786
@findepi ...would this be related : https://github.com/trinodb/trino/issues/10874 and can help for this one?

[2022-02-01 09:19] osscm opened #10882 "Support Iceberg's All_Entries Metadata table"
Spark supports iceberg's All_* metadata tables. This issue is to add the `All_Entries` metadata table.
We can create separate issues for different tables.

reference: https://github.com/apache/iceberg/blob/e146d812f251f1ee5b54edd7dc696034c5ff75f4/core/src/main/java/org/apache/iceberg/MetadataTableUtils.java#L71

Also wondering if we can also think of reusing `Metadata table` classes that Iceberg h

[2022-02-01 09:26] homar opened #10883 "TestOrcPageSourceMemoryTracking.testScanFilterAndProjectOperator seems to be very flaky"
Recently it fails quite often with:

`2022-01-31T16:18:08.6072441Z [ERROR] io.trino.plugin.hive.TestOrcPageSourceMemoryTracking.testScanFilterAndProjectOperator  Time elapsed: 0.098 s  <<< FAILURE!
2022-01-31T16:18:08.6073156Z java.lang.AssertionError: expected [true] but found [false]
2022-01-31T16:18:08.6073556Z 	at org.testng.Assert.fail(Assert.java:94)
2022-01-31T16:18:08.6073965Z 	at org.test

[2022-02-01 09:32] homar commented on #10883
Already addressed.

[2022-02-01 09:32] #10883 closed

[2022-02-01 09:45] osscm commented on #10882
cc @findepi @RussellSpitzer

[2022-02-01 09:48] findepi commented on #10882
This probably would map to `$all_manifest_entries`.

@osscm what would be the use-case?

[2022-02-01 10:19] sopel39 opened #10884 "Cap Hive split size by max number of rows"
Smaller splits sizes are beneficial for unpartitioned benchmarks as they improve CPU utilization.
We can generate Hive splits that do not exceed given estimated row number based on hive table or partition stats.

[2022-02-01 10:23] #3415 closed

[2022-02-01 10:36] findepi commented on #8368
Is it fixed by @losipiuk 's https://github.com/trinodb/trino/pull/10401 ?

[2022-02-01 10:40] findepi commented on #8359
I tried to reproduce this on current master

[code]
[code]
[code]

The `get_partition_names_ps` call had the value filter ('xxx') passed, as expected.

[2022-02-01 10:40] #8359 closed

[2022-02-01 10:51] hashhar commented on #8816
Fixed by https://github.com/trinodb/trino/commit/3cb2db9dc2b7de23f7c3d83a12dbefb859601bda (Trino 362).

@ppalucha if you are still running into this feel free to re-open.

[2022-02-01 10:51] #8816 closed

[2022-02-01 10:52] tangjiangling commented on #10860
I'd like to try, please assign it to me. :)

[2022-02-01 11:15] #10864 closed

[2022-02-01 11:17] findepi commented on #10794
[code]

#10864 #10865

[2022-02-01 11:28] findepi commented on #10884
How would that differ from lowering `hive.max-initial-split-size`?

cc @alexjo2144

[2022-02-01 11:32] sopel39 commented on #10884
To be benchmarked. Maybe it's a better idea.

[2022-02-01 11:33] sopel39 commented on #10884
Still size is only loosely coupled with number of rows, so depending on query, you might still end up with bad parallelism

[2022-02-01 13:15] BalaMahesh opened #10887 "Select queries failing with partitioning error."
Hello,

I am trying to run the select queries with joins on bucketed tables. I am seeing the below error.

Query  failed: Cannot overwrite partitioning with SINGLE (currently set to Optional[hive:HivePartitioningHandle{buckets=100, hiveTypes=[string]}])
java.lang.IllegalStateException: Cannot overwrite partitioning with SINGLE (currently set to Optional[hive:HivePartitioningHandle{buckets=100, hiv

[2022-02-01 13:15] BalaMahesh commented on #10887
@findepi please have a look

[2022-02-01 13:29] findepi commented on #10887
@BalaMahesh please provide a full stacktrace.
are you using grouped execution?

[2022-02-01 14:22] davseitsev opened #10889 "JWT Token builder bottleneck for internal communication"
After upgrade from 346 to 367 we started to experience significant performance issues. Number of currently running queries dropped from 120 to 30-70 (green line). Number of blocked queries increased from 0-1 to 10-50 (purple line).

<img width="1036" alt="blocked-queries" src="https://user-images.githubusercontent.com/1793410/151980392-6faa0c0a-2f79-48d2-9933-3bbaf351b225.png">

We analyzed Java F

[2022-02-01 14:50] filippocozzini opened #10890 "Table and column names mapping in Mongo"
Hi there!
I have searched for a whole day for the solution but I could not find it, I believe this function does not exist.
It would be interesting to be able to map the name of the table and fields of the source database and to have a different name on Trino.
I saw that the only connector that gives this possibility is the one for MySQL.

Thanks!

[2022-02-01 14:57] filippocozzini opened #10891 "MongoDB: column allow false return access denied on select *"
Hi!
I'm trying to run a query similar to this:
`SELECT * FROM users` where the "password" column has set allow: false in the file system access control as follow:

[code]

Trino return this error `Access Denied: Cannot select from table mongo.test.users` and the only way not to return error is to set hidden: true on _schema table in MongoDB as follow:

[code]

 Is this a bug? Thanks in advance!

[2022-02-01 15:46] #9749 closed

[2022-02-01 15:47] findepi commented on #10794
[code]

#9749 #10418

[2022-02-01 15:54] findepi commented on #10891
I think you're looking for https://github.com/trinodb/trino/pull/7893, https://github.com/trinodb/trino/pull/8752

[2022-02-01 15:54] #10891 closed

[2022-02-01 15:57] findepi commented on #10889
cc @kokosing @lukasz-walkiewicz

[2022-02-01 16:58] findepi commented on #10794
[code]

#10587

[2022-02-01 17:57] osscm commented on #10882
@findepi
`All_Entries` exposes all the entries of Manifest file, including the valid and deleted data files in the table manifests.
`All_Datafiles` exposes valid data files in the table manifests.

[2022-02-01 19:15] #10861 closed

[2022-02-01 19:15] findepi commented on #10794
[code]

#10861 #10867

[2022-02-01 20:48] mosabua commented on #10794
Added all above with rewording.

[2022-02-01 21:49] mapshen commented on #10494
Took a look at the code base. So when an offset is not be able to be located for a given timestamp, the default partition offset is returned as per https://github.com/trinodb/trino/blob/master/plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/KafkaFilterManager.java#L173. In the case above, the `partitionBeginOffsets` is set to the beginning of each partition and the `partitionEndOffsets` is

[2022-02-02 02:48] dain commented on #10794
[code]
#10858

[2022-02-02 02:56] mosabua commented on #10794
Above added now.

[2022-02-02 03:05] mosabua opened #10899 "Document hive.single-statement-writes"
Introduced in 370 with https://github.com/trinodb/trino/pull/10820

[2022-02-02 03:06] mosabua commented on #10899
Maybe you want to add that to your ongoing PR @findinpath ?

[2022-02-02 03:08] #10541 closed

[2022-02-02 03:11] ebyhr commented on #10794
[code]

#10801

[2022-02-02 03:43] ztaylor797 commented on #5913
Hi there, is this item on the roadmap? The interim solution above is, well, not very easy to implement for our application and, in general, loses a lot of the benefit of abstracting S3 access away from the application and onto Trino.

I admit it also took us some time to realize this was the problem with our slow jdbc-client hive inserts, partly due to the fact that TrinoDatabaseMetaData#supportsB

[2022-02-02 05:57] hashhar commented on #10794
[code]

#8819

[2022-02-02 06:08] hashhar commented on #10794
[code]

#10866

[2022-02-02 06:52] hashhar commented on #10494
That's a limitation of the API Kafka provides and the history of the timestamp field in Kafka messages. `offsetsForTimes` should return the earliest offset with timestamp <= requested timestamp. However not all messages need to have timestamps or topic version could be old without timestamps.

In those cases assuming `null` to mean that no matching messages are found would lead to correctness issu

[2022-02-02 07:33] Praveen2112 commented on #10884
What if the stats are not available, do we fall back to size based mechanism ?

[2022-02-02 07:37] ebyhr commented on #10890
I couldn't understand this feature. Could you describe more details?

[2022-02-02 08:21] findepi opened #10902 "information_schema.columns failure when Glue table lacks storage descriptor"
Observed in tests, but probably affects product too

[code]

[2022-02-02 08:43] findepi opened #10904 "Phoenix metadata listing may fail with "ERROR 1012 (42M03): Table undefined. tableName=..." in case of concurrent table creation/deletion"

[2022-02-02 08:47] findepi opened #10905 "Enable testDataMappingSmokeTest test for Phoenix"
`TestPhoenixConnectorTest#testDataMappingSmokeTest` is disabled (for both phoenix & phoenix5)

[2022-02-02 09:37] findepi commented on #10899
When a user would want to set `hive.single-statement-writes`? It looks like the flag brings no direct benefits?

[2022-02-02 10:20] filippocozzini commented on #10890
Ok sorry, my english is not perfect, so i try to explain better!

When i have a collection (table) on MongoDB called "users" that contains a document with 3 fields:

- name
- email
- password

I need that on Trino, it's possible to change (map) collection and fields names as follow:
Table: users --> users_base
Fields:
- name --> first_name
- email --> contact
- password --> secret

In this way i c

[2022-02-02 10:21] filippocozzini commented on #10891
Thank you so much!

[2022-02-02 10:33] findepi commented on #10773
[code]

full thread dump @ https://github.com/trinodb/trino/runs/5033675081?check_suite_focus=true

[2022-02-02 10:33] ebyhr commented on #10890
It's not possible in MongoDB connector. What's the motivation?

[2022-02-02 10:42] kokosing commented on #10685
Fixed by #10712

[2022-02-02 10:42] #10685 closed

[2022-02-02 10:47] kokosing commented on #10889
Thank you for reporting this and for a great analysis. We will take a look into it.

[2022-02-02 11:13] filippocozzini commented on #10890
I need to expose some of my tables to some users, but I need to mask the tables and fields of my db. Are there any solutions?

[2022-02-02 11:14] findinpath commented on #10899
@electrum please do share some insights for when such a setting would be useful.

[2022-02-02 13:23] #10742 closed

[2022-02-02 17:13] benrifkind opened #10910 "SymlinkTextInputFormat defaults to input format as SEQUENCEFILE"
It seems like Trino treats Hive tables stored as s3 symlinks as if the actual files have the SEQUENCEFILE input format. This is an issue when the files are stored as TEXTFILE and I am not sure how to toggle between them. Just a note that it seems like the expectation in Hive is that the symlinks are stored as TEXTFILE
https://hive.apache.org/javadocs/r2.1.1/api/org/apache/hadoop/hive/ql/io/Symlink

[2022-02-02 17:16] dain commented on #10794
[code]
#10602

[2022-02-02 17:48] benrifkind commented on #10910
This is a workaround. Use the `OpenCSVSerde`.
[code]

[2022-02-02 18:00] mosabua commented on #10794
All above added again.

[2022-02-02 18:28] arhimondr commented on #10773
Hmm, it looks like something is wrong specifically when these two tests are running in parallel
[code]

The other build got stuck in exactly same way.

[2022-02-02 20:44] grantatspothero commented on #5687
I can reproduce a similar issue with deletes timing out to kudu servers but trino reporting the query was a success.

The root cause is usage of `FlushMode.AUTO_FLUSH_BACKGROUND` which flushes operations in the background to kudu without confirming the operations were successful. Either reverting to the default of `AUTO_FLUSH_SYNC` or explicitly checking results of the flush are needed.

https://g

[2022-02-02 20:52] hashhar opened #10916 "Add a system table to inspect available properties for materialized views"
We already have system tables to inspect available table and column properties. (`system.metadata.table_properties` and `system.metadata.column_properties`)

We should implement same for materialized views as well.

[2022-02-02 21:35] cactauz commented on #10666
I am late looking at this again but I believe there is still a benefit to implementing this, in the case where we know that 1000 partitions cannot be retrieved in one request.  If we knew a batch size of 50 would succeed without resulting in UnprocessedKeys, then a batch size of 50 would allow multiple batches to be retrieved in parallel (although this may cause new problems with the glue API).  I

[2022-02-02 21:50] electrum commented on #10899
We would like to deprecate write support for transactions for the Hive connector. This flag allows enabling that behavior now, ensuring that nothing in your environment starts relying on it.

[2022-02-03 00:30] mosabua commented on #10899
Will you add that to your PR @findinpath .. and then get it merged before 370 is cut with the help of @findepi and @electrum ?

[2022-02-03 03:22] tangjiangling opened #10918 "Incorrect type mapping in ClickHouse documentation"
The ClickHouse `Int64` is incorrectly mapped to Trino `INTEGER` in the ClickHouse documentation, the correct mapping relationship is `Int64` <-> `BIGINT`.

https://github.com/trinodb/trino/blame/master/docs/src/main/sphinx/connector/clickhouse.rst#L169

[code]

[2022-02-03 04:42] #10918 closed

[2022-02-03 05:27] ebyhr commented on #9796
@Gordonei Can we close this issue now?

[2022-02-03 06:06] ebyhr commented on #10890
You can prepare views in MongoDB side and hide the original identifiers.
https://www.percona.com/blog/2019/07/05/hiding-fields-in-mongodb-views-custom-roles/.

Please feel free to ask in the community Slack for more details.
https://trino.io/slack.html

[2022-02-03 06:06] #10890 closed

[2022-02-03 06:28] #10905 closed

[2022-02-03 06:36] sopel39 commented on #10794
[code]
https://github.com/trinodb/trino/pull/10868

[2022-02-03 07:20] dain commented on #10794
No release notes needed for $10875

[2022-02-03 08:30] findinpath opened #10927 "Cassandra partition key pushdown filter for decimal does not work"
As pointed out in the comments for DECIMAL type

https://github.com/trinodb/trino/blob/3e06ac2c94da4364fc386c7b0b3f82460e406a5e/plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraType.java#L553-L556

there can appear inconsistencies when dealing with decimal partition keys.
Reproduction scenario:

Write a row having a primary key of type decimal with the value of `128` to Cass

[2022-02-03 08:54] findepi commented on #10666
i agree

i agree -- we currently believe the optimal batch size depends on "table width" (whatever this means precisely), e.g. it's more likely to get UnprocessedKeys on a table with high number of columns

@cactauz the question would be: "under what circumstances would the user set it?"

for example, if the user/sysadmin logic is eventually going to be "tune this down for tables with over 1000 co

[2022-02-03 10:23] findinpath commented on #10899
https://github.com/trinodb/trino/pull/10831 updated.

[2022-02-03 11:14] findepi commented on #10910
https://github.com/trinodb/trino/pull/6213; cc @sopel39

[2022-02-03 11:56] #10799 closed

[2022-02-03 12:02] ebyhr commented on #10794
[code]

#10856

[2022-02-03 12:22] hashhar opened #10932 "Flaky TestIcebergParquetConnectorTest.testLocalDynamicFilteringWithSelectiveBuildSizeJoin"
This looks like a general issue instead of test only.

[code]

Observed in https://github.com/trinodb/trino/runs/5048547902?check_suite_focus=true

cc: @raunaqmorarka

[2022-02-03 12:23] hashhar opened #10933 "Flaky test TestCachingJdbcClient.testConcurrentSchemaCreateAndDrop"
[code]

observed in https://github.com/trinodb/trino/runs/5048548001?check_suite_focus=true

cc: @kokosing

[2022-02-03 12:30] davseitsev commented on #10889
Actually it's only part of the problems caused by `io.jsonwebtoken:jjwt` library, we will update later here.

[2022-02-03 14:39] findepi commented on #10933
Reproduces locally
![image](https://user-images.githubusercontent.com/144328/152364237-0017387b-c1fa-4e64-b9a1-2244f53e4b53.png)

cc @kokosing

[2022-02-03 14:52] sshkvar commented on #10889
We found few additional problematic places which dramatically affects cluster performance

[code]

Problematic parts in Jwts.java
[code]

And DefaultCompressionCodecResolver.java also scanning Jar files too
[code]

[code]

[2022-02-03 15:26] cactauz commented on #10666
In my particular situation, where the partitions all have 17000 identical columns, I've observed that the API will always consistently return 17 partitions from batchGetPartitions, and any others will be UnprocessedKeys.

It would be nice to know what exactly the rules are for the glue API to be able to understand how to tune these requests better, but in cases like mine where this consistent type

[2022-02-03 15:35] findepi commented on #10666
so we have data points
- 10 columns: 1000 batch is fine
- 17000 columns: 17 batch is fine

assuming this is data size based, we could have a logic like
[code]

maybe worth having more experimentation data points first though.

cc @jackye1995 @pettyjamesm

[2022-02-03 16:09] jhlodin opened #10936 "Document ALTER TABLE SET PROPERTIES"
From discussion in https://github.com/trinodb/trino/pull/10835 and linked pull requests, seems to only be supported by Clickhouse but need to validate.

[2022-02-03 16:11] pettyjamesm commented on #10666
As far as I know, the reason that the "unprocessed keys" mechanism exists is to protect the systems involved from issues that that can be caused by handling huge payloads, whether that's in the underlying data storage system, the API endpoint, or even the API client. Regardless of what mechanisms or heuristics Glue uses to determine the cut-off threshold today, they are certainly subject to change

[2022-02-03 16:49] takezoe opened #10938 "Predicate pushdown does't work for leteral values outside the scope of subquery"
Since 320, predicate pushdown does't work for leteral values from outside the scope of subquery and it slowdowns specific type of queries significantly.

A simple query to reproduce:
[code]

Explain on 319
[code]

Explain on the latest master:
[code]

I confirmed that the following scope check introduced in 320 prevents the pushdown, but not sure if just removing this scope check is fine. Or does

[2022-02-03 17:15] martint commented on #10794
[code]

https://github.com/trinodb/trino/pull/10764

[2022-02-03 17:55] mosabua commented on #10794
All above are taken care of

[2022-02-03 18:16] winio94 commented on #10851
@hashhar can I work on this?

[2022-02-03 20:06] kokosing commented on #10794
[code]
  #10248

[2022-02-03 20:11] kokosing commented on #10794
[code]
 #10929

[2022-02-03 21:05] electrum commented on #10794
[code]
#10820

[2022-02-03 21:07] electrum commented on #10794
The SPI changes in #10806 are subsumed by #10602.

[2022-02-03 21:15] electrum commented on #10794
[code]
#588

[2022-02-03 21:23] mosabua commented on #10794
All above are in

[2022-02-03 21:41] hectorhuol commented on #10850
Hi @hashhar, is this issue still open for contribution? I would like to work on it.

[2022-02-03 23:13] jhlodin commented on #10774
Closing as `ALTER MV SET PROPERTIES` is in, which is the core ask for 370. Following up with other issues for the remaining work.

[2022-02-03 23:13] #10774 closed

[2022-02-03 23:15] #10794 closed

[2022-02-03 23:47] mosabua opened #10941 "Release notes for 371"

[2022-02-04 08:24] #10933 closed

[2022-02-04 10:55] hashhar opened #10946 "Trino 370 fails when casting to DECIMAL(38, 38)"
Apply following patch to add a test case to showcase failure:

[code]

Run the test and it fails with:

[code]

Introduced by https://github.com/trinodb/trino/commit/e8bdbee45d04d97b34970e74e2900a8ed1af26ac (https://github.com/trinodb/trino/pull/10404)

[2022-02-04 18:59] mosabua commented on #10941
@findepi  .. I concluded that all your merges from the 4th of Feb dont need docs or RN. If that is incorrect please let me know.

[2022-02-04 22:29] JamesRTaylor commented on #10889
FYI, another regression that you might be hitting as well occurred in 360. See https://github.com/trinodb/trino/pull/10839 and the subsequent commit (included in 370 release) here: https://github.com/trinodb/trino/pull/10841/commits/eac0d01bcfe7f43c2ca1e5bb3189b1b90ce4f189

[2022-02-05 02:31] #10946 closed

[2022-02-05 02:32] dain commented on #10946
This was fixed by #10951.  The PR was merged manually.

[2022-02-05 13:52] shivampapat commented on #7656
Hi there. From what I understood I need to add format_datetime in list.rst ( :func:`format_datetime` add this line in list.rst)
Please let me know if that's correct
PS : I am a beginner.

[2022-02-05 14:22] shivampapat commented on #7656
I have made changes in the branch
https://github.com/trinodb/trino/compare/master...shivampapat:patch-1
Please check

[2022-02-05 17:58] findepi commented on #10941
[code]

#10939

[2022-02-06 03:34] #10889 closed

[2022-02-06 09:01] spasalkar-uptycs opened #10960 "Trino fails to create path if it doesn't exist"
Trino query fails when creating an external table w[here](https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java#L1078-L1090) the specified location directory is not created yet.

Example query:
Create table tbl (a varchar) with (external_location = '/warehouse/databases/insight/tbl/');

Exception message:
Query 20220203_043724_00012_65e

[2022-02-06 16:17] zigbang-yeezy opened #10961 "Error when reading JSON table with TIMESTAMP:java.lang.ClassCastException: class java.sql.Timestamp cannot be cast to class java.lang.Number"
Hi, I'm getting the below error when SELECT query in hive(AWS glue) json table
[code]
Through the above error, I found the following issue.
https://github.com/trinodb/trino/issues/5602
Referring to this article, I changed the json serde of the table to org.apache.hive.hcatalog.data.jsonSerDe.(https://github.com/trinodb/trino/issues/5602#issuecomment-714297025)

After that, I looked up the table ag

[2022-02-06 20:56] dain commented on #9907
Implemented in https://github.com/trinodb/trino/pull/10205

[2022-02-06 20:56] #9907 closed

[2022-02-06 20:58] dain commented on #3728
This was implemented as part of the TypeOperators code.  Operators are now defined directly on Types and have strictly enforced parameter types

[2022-02-06 20:58] #3728 closed

[2022-02-06 21:12] dain commented on #1350
This is very old and the stack no longer matches.  If it comes up again, please open a new issue

[2022-02-06 21:12] #1350 closed

[2022-02-06 21:28] dain opened #10962 "Implement TIMESTAMP support in S3 Select pushdown"
When S3 select support was added Trino did not properly [implement TIMESTAMP semantic](https://github.com/trinodb/trino/issues/37).  This was fixed in 2020, and TIMESTAMPS may be supportable now.

[2022-02-07 00:01] #37 closed

[2022-02-07 00:10] ebyhr commented on #7656
@shivampapat Additionally, please update `list-by-topic.rst`. Feel free to send the PR. Thanks in advance.

[2022-02-07 00:15] tangjiangling commented on #10860
Sorry for the delay. I have a few questions about the above description:

This is saying that some of the fields in the test table contain fields that are not related to the current field, do I understand this correctly?

Does this mean that we'd better write the table definition in the same test method as the data? Like this [one example](https://github.com/trinodb/trino/blob/master/plugin/trino-

[2022-02-07 00:20] ebyhr commented on #10860
Yes.

Yes, but the right example is `TestClickHouseTypeMapping.java`. You don't need to refer to other test classes.

No, it meant the tested values are limited. We should add edge cases (min, max, null and so on)

Yes

[2022-02-07 09:00] kokosing commented on #10941
[code]
#10714

[2022-02-07 10:07] sopel39 commented on #10884
yes

[2022-02-07 10:30] sopel39 commented on #10910
It seems that `io.trino.plugin.hive.util.HiveUtil#getDeserializerClassName` is not enough distinction to recognize target file format. We either:
1. try to use some other field, e.g: `serialization.format` to recognize target format
2. Fallback to text for `LazySimpleSerDe` in case of symlink.

@benrifkind what's the advantage of using `LazySimpleSerDe` instead of `OpenCSVSerde` directly?

[2022-02-07 11:48] kyo-tom commented on #10916
I think I can do this, can you assign to me

[2022-02-07 12:13] Gordonei commented on #9796
sure, whatever wasn't working here, was fixed by changing my password to have less `-`s in it!

Thanks for input, everyone!

[2022-02-07 12:13] #9796 closed

[2022-02-07 13:13] ashishkumar1910 commented on #10887
I'm also facing the same issue. Could it be related to bucketed tables?
Here is the details stack trace -
`java.lang.IllegalStateException: Cannot overwrite partitioning with SINGLE (currently set to Optional[hive:HivePartitioningHandle{buckets=64, hiveTypes=[string]}])
	at com.google.common.base.Preconditions.checkState(Preconditions.java:826)
	at io.trino.sql.planner.PlanFragmenter$FragmentPrope

[2022-02-07 15:20] zigbang-yeezy commented on #10961
#10961

[2022-02-07 15:21] zigbang-yeezy commented on #10961
#5638

[2022-02-07 16:20] #7522 closed

[2022-02-07 17:02] benrifkind commented on #10910
@sopel39 I don't know too much about serde's so I don't know about an advantage. I did not know about `OpenCSVSerde` when I created the issue. `LazySimpleSerDe` was just the serde of some table schemas we had. Which makes sense because it seems like `LazySimpleSerDe` is the default if no serde is specified. My current understanding is that since the Hive documentation I linked above states the exp

[2022-02-07 17:28] mosabua commented on #10941
Added everything above.

[2022-02-07 18:02] tangjiangling opened #10966 "Cassandra connector doc has outdated links"
There are two outdated links in the Cassandra connector documentation:

- https://github.com/trinodb/trino/blame/master/docs/src/main/sphinx/connector/cassandra.rst#L86
- https://github.com/trinodb/trino/blame/master/docs/src/main/sphinx/connector/cassandra.rst#L172

[2022-02-07 18:49] #10966 closed

[2022-02-08 02:58] lgo opened #10971 "Metrics for time spent in components of coordinator such as split sourcing"
While recently working optimizing a series of Trino queries for latency, I had a challenging time measuring the work/delay incurred from split sourcing. The Iceberg tables involved consist of 10k+ files, upwards to 100k-200k files for some, as the datasets involved are >100TB.

In particular, I'm working with an Iceberg table and simple queries such as `select * from foo where [...]`. These querie

[2022-02-08 03:06] wilsonpenha commented on #6610
I can see a similar issue from Trino-370 where I can not see the table I created on hive as it says it is Not an Iceberg table: myschema.constants, from hive I can see both tables created from trino and from hive.

[2022-02-08 03:09] wilsonpenha commented on #6610
trino:myschema> show create table constants;
Query 20220208_030829_00022_u3b29 failed: Not an Iceberg table: myschema.constants

[2022-02-08 06:02] findinpath opened #10972 "Add support for kyperloglog functions"
Research paper:

https://research.google/pubs/pub47664/

Presto implementation:

https://github.com/prestodb/presto/tree/master/presto-main/src/main/java/com/facebook/presto/type/khyperloglog

Presto docs

https://prestodb.io/docs/current/functions/khyperloglog.html

[2022-02-08 06:21] shivampapat commented on #7656
Pull requested. PLease check and let me know if any changes are needed. Thank you.
https://github.com/trinodb/trino/pull/10973

[2022-02-08 06:42] fengguangyuan opened #10974 "Improve the performance of Min/Max/Count utilizing Iceberg table metrics"
# Purpose
This issue is aimed to have a basic optimize rule for min/max/count queries on the connectors having accurate table/partitions/columns statistics, like Iceberg composed of Orc/Parquet files.

# Reason
Nowadays, most storage engines or self-describing files are storing table level/partition level/column level statistics to supply a more effective ability of data retrieval, e.g. Iceberg, h

[2022-02-08 06:45] ebyhr commented on #10932
https://github.com/trinodb/trino/runs/5104560238

[2022-02-08 07:32] arhimondr commented on #10773
I think I got to the bottom of it

1. Jetty propagates interrupted flag incorrectly between independent requests: https://github.com/eclipse/jetty.project/issues/7548
2. `Task 1` interrupts owner threads of its drivers, and one of the threads happens to be a Jetty thread: https://github.com/trinodb/trino/blob/9b5bbd12e61ef2fb54190b75bc7063d26fd1d589/core/trino-main/src/main/java/io/trino/operator/

[2022-02-08 08:16] findepi commented on #10932
It's very flaky. Apparently 8 of 30 runs failed in  ​https://github.com/trinodb/trino/actions/runs/1807712651

cc @alexjo2144 @sopel39 @raunaqmorarka

[2022-02-08 08:26] findepi opened #10976 "Failure when listing tables in Iceberg when table/view removed concurrently"
[code]

[2022-02-08 08:31] sopel39 commented on #10932
I see comment:
[code]
do we need to adjust totalproce (cc @alexjo2144 )?

[2022-02-08 08:33] sopel39 commented on #10773
Nice!. So this is really pre-existing bug then. Can it happen in non-fault tolerant execution?

[2022-02-08 08:36] sopel39 commented on #10910
@willmostly Can you add your input? I recall there were users relying on non-text format recognition.

Even before my change we didn't always use textformat
[code]

Hence I think `Fallback to text for LazySimpleSerDe in case of symlink.` is more sensible solution.

[2022-02-08 09:25] findepi commented on #6610
This will be solved by https://github.com/trinodb/trino/issues/10245

[2022-02-08 09:25] findepi commented on #6610
Closing per https://github.com/trinodb/trino/issues/6610#issuecomment-885559256

[2022-02-08 09:25] #6610 closed

[2022-02-08 09:51] findepi commented on #10974
This shouldn't be implemented as an optimizer rule. Instead, Iceberg connector should support `applyAggregation`.
Things to keep in mind
- some files may have stats, but some files may be missing stats for a column (see eg https://github.com/trinodb/trino/pull/9938); during planning time we would need to inspect all the files and verify availability of the information
  - ideally we should support

[2022-02-08 09:54] findepi commented on #10971
In the web ui there is a timeline view. I think it's supposed to help you with what you're up to.

[2022-02-08 09:58] findepi commented on #10833
Removing the release blocker label (the 370 went out without this).

[2022-02-08 10:37] hashhar commented on #10974
See also https://github.com/trinodb/trino/pull/10964 which could benefit with a similar concept.

[2022-02-08 11:32] findepi commented on #10941
[code]

#10815

[2022-02-08 11:33] fengguangyuan commented on #10974
@findepi Thanks for your reply. Yes, indeed what you mentioned is the key points, I don't agree that any more, and that's why I said `Limitations`.

There two ways to do the optimization, possibly I thought:
1. As rule:  Same as `ShowStatsRewrite`, just extracting aggregated values from stats, if the stats are not `Null` or `NaN`, and the columns stats are reliable.
2. As work flow: The complex wo

[2022-02-08 11:39] findepi commented on #10974
oh, you mean base the logic on `io.trino.spi.statistics.ColumnStatistics`?
that's not the write API, as statistics are defined to allow them to be inexact, also for numeric types.

per #18, the API to use for aggregation pushdown is the `ConnectorMetadata#applyAggregation`.

[2022-02-08 11:51] ashishkumar1910 commented on #10887
This flag **hive.bucket_execution_enabled** worked for me. Thanks @raunaqmorarka

[2022-02-08 12:13] fengguangyuan commented on #10974
that's not the write API, as statistics are defined to allow them to be inexact, also for numeric types.

Yep, this optimize is only for queries, based on `ColumnStatistics`.

Thanks for the tips, but I think the mix-mode implementation is far more than this one interface.

So you guys prefer the mix-mode implementation? :)

[2022-02-08 12:23] ebyhr commented on #10941
[code]

#10263

[2022-02-08 12:48] Praveen2112 opened #10980 "Allow ConnectorMetadata#getTableProperties to update ConnectorTableHandle"
In `HiveMetadata#getTableProperties` we would force load the partition information if they are not available in `HiveTableHandle` and they are discarded post that. The partition information are loaded once again during split creation, so it would be better if we could provide a way to update `ConnectorTableHandle` when we are compute table properties.

[2022-02-08 13:31] alexjo2144 commented on #10932
We could remove the test and add a more targeted IcebergPageSource test. Testing this scenario through a query consistently is probably going to be hard.

[2022-02-08 14:40] #10653 closed

[2022-02-08 14:41] ebyhr commented on #10941
[code]

#10975

[2022-02-08 15:03] lgo commented on #10971
Right, so in an example like the below, that would be the time prior to split creation.
<img width="1329" alt="Screen Shot 2022-02-08 at 06 33 35" src="https://user-images.githubusercontent.com/1161183/153008296-5c574e85-854d-4e33-aad0-be7d36172ca6.png">

While looking at that I dug into the JSON query stats of the `select * from iceberg.table where col = ... limit 1` query and dissected some inte

[2022-02-08 15:36] mosabua commented on #10941
All above added again.

[2022-02-08 15:52] findepi commented on #10932
https://github.com/trinodb/trino/runs/5107360728?check_suite_focus=true

[2022-02-08 16:13] liuzx8888 commented on #10750
@findepi please help me look this question

[2022-02-08 17:04] sopel39 commented on #10532
I've made PR that fixes this holistically: https://github.com/trinodb/trino/pull/10985

[2022-02-08 18:22] arhimondr commented on #10773
@sopel39 It can, but it is significantly less likely, as in normal execution there's usually multiple task updates being sent.

[2022-02-09 01:09] tangjiangling opened #10988 "Incorrect type mapping in Cassandra documentation"
Cassandra documentation incorrectly maps Cassandra `FLOAT` to Trino `DOUBLE`, the correct mapping relationship is: Cassandra `FLOAT` <-> Trino `REAL`.

From the code:

https://github.com/trinodb/trino/blob/9e8b34d4443432b8c6acce6a349c868fc4f4d200/plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraTypes.java#L50

In the doc:

https://github.com/trinodb/trino/blame/master/docs/s

[2022-02-09 03:06] #10988 closed

[2022-02-09 03:48] miniway opened #10990 "Adding total or system peak memory usage at StatementStats"
From https://github.com/trinodb/trino/blob/master/core/trino-main/src/main/java/io/trino/server/protocol/Query.java#L745

Trino is returning only `peakUserMemoryReservation` to client and hiding `peakNonRevocableMemoryReservation` or `peakTotalMemoryReservation` intentionally.

But by the `StatementStats` there's no way to get total or system peak memory usage and might not get full sense of memor

[2022-02-09 04:00] Praveen2112 commented on #10990
We have recently removed the distinction between system and user memory - (https://github.com/trinodb/trino/pull/10574) so we don't track -` peakNonRevocableMemoryReservation` but I guess we could track ` peakTotalMemoryReservation`

cc: @findepi

[2022-02-09 04:09] miniway commented on #10990
It sounds great!

[2022-02-09 08:20] findepi commented on #10980
that's prescribes a solution, and not necessarily the right one.
As i said in https://github.com/trinodb/trino/pull/10215#discussion_r800816033, let's have an issue formulated around the problem.

[2022-02-09 08:32] findepi commented on #10990
@miniway is there anything else TBD here?

[2022-02-09 11:45] findepi commented on #10932
https://github.com/trinodb/trino/runs/5116347006?check_suite_focus=true

[2022-02-09 13:13] findepi commented on #10932
https://github.com/trinodb/trino/runs/5124513060?check_suite_focus=true

[2022-02-09 18:21] JamesRTaylor commented on #7100
@findepi - would it be possible to elaborate on what "more pushdown" means? It's not clear which TODOs you mean. Ideally, if we could break this down into specific pushdown improvements that would correspond to individual PRs.

[2022-02-09 20:12] hashhar commented on #7100
@JamesRTaylor most of it is regarding untested code (pushdown for text types) and decimal predicates

A quick grep gives me:

[code]

[2022-02-09 20:50] TGooch44 opened #11000 "Skip reading Parquet pages using Column Indexes for Iceberg"
I saw that in release 361 this was enabled for the Hive connector. Is there additional work that needs to be done to leverage this in the Iceberg connector?

PR that added this in Hive:
https://github.com/trinodb/trino/pull/7349

Relevant Slack thread:
https://trinodb.slack.com/archives/CJ6UC075E/p1630380196002200

[2022-02-09 21:01] JamesRTaylor commented on #7100
Is pushdown for TIMESTAMP types complete? See [here](https://trinodb.slack.com/archives/CP1MUNEUX/p1635356674095500) for more context.

[2022-02-09 22:27] lgo commented on #11000
This would be blocked on Iceberg, which itself does not support column indexes - https://github.com/apache/iceberg/issues/193. The open Iceberg PR (https://github.com/apache/iceberg/pull/1566) is held up on a [Parquet issue]([ID-based resolution](https://issues.apache.org/jira/browse/PARQUET-2006)) that is highlighted in the comment thread.

[2022-02-10 00:08] miniway commented on #10990
the combined memory usage looks good. I’m closing it

[2022-02-10 00:08] #10990 closed

[2022-02-10 04:52] willmostly commented on #10910
Regarding the utility of non-text support -
The capability for reading Parquet data with `SymlinkTextInputFormat` is used to integrate with Databricks Delta ([details](https://docs.databricks.com/delta/presto-integration.html)). Snowflake and Redshift Spectrum now also support the same non-standard use of Parquet+Symlink. I'm also aware of one large user who manages compactions through custom ETL

[2022-02-10 06:31] software-opal opened #11001 "Cassandra driver incorrectly applying partition column filtering"
We noticed an issue with the filtering of Scylla backed queries during an upgrade from version 353 to 354 where Trino would appear to not perform filtering leading to unusual aggregation results. I have spent some time investigating this issue and have been able to create a minimal set of steps and data required to reproduce the issue. This issue is still present in version 370(for which the repro

[2022-02-10 10:15] #10532 closed

[2022-02-10 10:17] sopel39 commented on #10941
[code]
https://github.com/trinodb/trino/pull/10985

[2022-02-10 10:45] sopel39 commented on #10910
My fix proposal is in https://github.com/trinodb/trino/pull/11003

[2022-02-10 14:14] takezoe commented on #10938
@martint Hi, could you take a look at this since you are the author of https://github.com/trinodb/trino/pull/1550?

[2022-02-10 16:00] findepi commented on #11000
We have our own Parquet reader.

[2022-02-10 16:18] raunaqmorarka commented on #11000
There are a couple of PRs with pending comments about this
https://github.com/trinodb/trino/pull/9956
https://github.com/trinodb/trino/pull/9955
Although we have our own parquet reader, we're still relying on parquet filter APIs to get the row ranges to be read from column index (ColumnIndexFilter.calculateRowRanges). So while we're not blocked on iceberg, the issues raised on iceberg PR are proba

[2022-02-10 17:06] grantatspothero opened #11009 "Add support for varchar and date types to kudu connector"
Kudu version 1.15.0 now supports varchar and date types but reading these types from trino is unsupported.

Currently writing trino varchar/date types is possible but they get converted to strings when writing to kudu:
https://trino.io/docs/current/connector/kudu.html#data-type-mapping

Some thought should be given to the write path. For example, writing trino `date` as a kudu `date` is the best p

[2022-02-10 18:24] mapshen opened #11010 "ActiveCount doesn't account for coordinator node"
When I run a single node cluster with `node-scheduler.include-coordinator=true`, the `trino.failuredetector<name=HeartbeatFailureDetector><>ActiveCount` shows up as 0 whereas the correct value should 1.

When I run a three node cluster with `node-scheduler.include-coordinator=true` on the coordinator, the `trino.failuredetector<name=HeartbeatFailureDetector><>ActiveCount` shows up as 2 whereas the

[2022-02-10 18:29] mosabua commented on #10941
Above two add with minor rewording

[2022-02-10 23:45] mdesmet opened #11013 "OAuth2 userInfoUrl request method cannot be configured"
We are using Trino with a custom third party OIDC provider, however this custom OIDC provider doesn't support calling the user info endpoint using POST.

The Openid spec specifies that both GET and POST should work, however unfortunately this is not the case (see https://openid.net/specs/openid-connect-core-1_0.html#UserInfoRequest).

We would like to make this behaviour configurable with POST as

[2022-02-11 00:42] eitan-shalev opened #11015 "URL Extraction functions return null when url contains the pipe character"
`select url_extract_protocol('https://www.google.com/search?q=there+is+a+|+in+the+url')` returns null.
Removing the pipe character -- | , allows the function to operate as expected.
Expected output is www.google.com.
This is true for all the URL extraction functions.

[2022-02-11 06:52] hashhar commented on #11013
cc: @kokosing @lukasz-walkiewicz

[2022-02-11 08:41] hashhar opened #11016 "Flaky test TestMemoryManager.testOutOfMemoryKiller"
[code]

Unrelated. Wasn't able to reproduce with 100 runs.

_Originally posted by @hashhar in https://github.com/trinodb/trino/issues/10996#issuecomment-1035931902_

[2022-02-11 08:53] losipiuk commented on #11015
Based on skimming of https://datatracker.ietf.org/doc/html/rfc2396.html it feels like "|" must be escaped in the URL ([section 2.4.3](https://datatracker.ietf.org/doc/html/rfc2396.html#section-2.4.3)).
I would say function works as intended.

[2022-02-11 09:09] findepi commented on #11015
An invalid, non-null input, should make the function throw.

It does't, here:
https://github.com/trinodb/trino/blob/f13283bcc5a7507fa5396cdec9afbda93d642ee6/core/trino-main/src/main/java/io/trino/operator/scalar/UrlFunctions.java#L194

cc @electrum

[2022-02-11 09:12] #11010 closed

[2022-02-11 10:02] #10910 closed

[2022-02-11 10:05] sopel39 commented on #10941
[code]
https://github.com/trinodb/trino/pull/11003

[2022-02-11 12:33] fengguangyuan commented on #10874
@findepi Hi, I think I know how to deal with this issue. It looks like we just need add customized options here to override the default iceberg properties, hoping I am not missing some things.
[code]
So, could you assign this to me?

[2022-02-11 14:35] losipiuk opened #11020 "Wait with timeout instead failing immediately if no candidate nodes available in NodeAllocator"
Currently, `FixedSizeNodeAllocator` and `FullNodeCapableNodeAllocator` fail immediatelly if there are no candidates (even currently occupied) for given set of node requirements.
More elegant logic would be to wait for some time as new nodes which match requirements can join the cluster.

To be addressed after https://github.com/trinodb/trino/pull/10432

[2022-02-11 14:44] losipiuk opened #11021 "Make NodeAllocator stage aware"

[2022-02-11 14:51] #11021 closed

[2022-02-11 14:51] losipiuk commented on #11021
N/A for now

[2022-02-11 15:27] eitan-shalev commented on #11015
I think that in modern systems, a | is a valid part of a URL:

In RFC2396, | is classified as [unwise](https://datatracker.ietf.org/doc/html/rfc2396.html#:~:text=unwise), but not as excluded.

Subsequent revisions make allowances for different character sets in different parts of a URL. There are some situations where a | would not invalidate a URL.

RFC-1738 says

However, this was updated by RFC

[2022-02-11 17:36] mosabua commented on #10941
Updated again.

[2022-02-11 18:55] #10773 closed

[2022-02-12 00:42] ebyhr commented on #7100
@JamesRTaylor Predicate pushdown happens on `DateTime` type, but it doesn't happen on other types (e.g. `Datetime64`)  at this time.

[2022-02-12 03:44] #8391 closed

[2022-02-12 07:02] ebyhr commented on #11001
The aggregation is not necessary for reproducing the issue. We can reproduce by:
[code]

[2022-02-12 08:37] ebyhr opened #11027 "ClickHouse connector doesn't show table properties"
[code]

[2022-02-12 19:16] winio94 commented on #10851
@hashhar here is PR with the changes - https://github.com/trinodb/tpch/pull/26

[2022-02-13 08:58] kokosing commented on #11013
I think you should report a bug to your OIDC provider. I don't like to adjust Trino to OIDC vendor bugs.

What's the vendor? Can we have tests for them? How we would know that this workaround is no longer needed? Cc @lukasz-walkiewicz