[2022-02-14 05:26] ebyhr commented on #10941
[code]

#11027

[2022-02-14 07:36] #11027 closed

[2022-02-14 08:45] sshkvar opened #11030 "Finished queries continue using memory pool on worker"
Hi, after update to Trino 367 we found that finished queries doesn't release memory pool on workers.

As a result we have a lot of queries which actually finished but still exists in workers memory pool.
On the chart below you can find amount of such queries and see how these amount grown after cluster restart

<img width="1170" alt="image" src="https://user-images.githubusercontent.com/3986221/15

[2022-02-14 09:35] BalaMahesh commented on #10450
@electrum  can you please guide on this.

[2022-02-14 10:29] #10253 closed

[2022-02-14 11:28] losipiuk commented on #11030
@sshkvar thanks for the report.
Can you provide some more information about the queries you are running.
* what connectors do you use
* can you quote example problematic query?
* Is the problem always reproducable for query of a given shape or is it non-deterministic?

[2022-02-14 18:59] sumannewton commented on #6969
[This](https://github.com/trinodb/trino/blob/6c36d552d6385a7858c67e704451f8740cb6e9d5/plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/utility/ElasticsearchTypeCoercionHierarchy.java) might be helpful in fetching the wider data type among similar data types.

[2022-02-14 21:21] mosabua commented on #10941
Updated ..

[2022-02-14 21:38] mosabua opened #11036 "Document supported Hive properties for Iceberg connector"
According to https://github.com/trinodb/trino/pull/10957 (released with 371) there are Hive catalog properties and catalog session properties that are supported by the Iceberg connector.

Currently there is no way for a user to know which ones are supported and as such the available configurability essentially does not exist for users unless they look at the source code.

We should document which

[2022-02-15 01:29] ebyhr commented on #7110
This issue might not be `good first issue` at this time. The current BigQuery connector supports CREATE TABLE, but it doesn't support `CREATE TABLE AS SELECT` & `INSERT`. Some of the skipping logic in `AbstractTestDistributedQueries` seem wrong, so we can't migrate it unless fixing those tests.

[code]

[2022-02-15 02:43] uniray7 opened #11039 "Query failed because of the timer return negative value"
Hi, I am using the trino 363.
And recently, the error "EXTERNAL ERROR — GENERIC_INTERNAL_ERROR" happened frequently.
[code]

I think it might be related to the code snippet:
`responseFuture.addListener(() -> readFromOutputBufferTime.add(Duration.nanosSince(start)), directExecutor());`
[ref](https://github.com/trinodb/trino/blob/363/core/trino-main/src/main/java/io/trino/server/TaskResource.java#L3

[2022-02-15 05:13] raunaqmorarka commented on #11039
I've also started observing these failures recently on our internal CI jobs.
The current usages of `Duration.nanosSince` are based on the expectation that `System#nanoTime` will always return monotonically increasing values. It seems that somehow that assumption is being violated sporadically.
Is your observation of these failures correlated with any recent change to the OS or JVM version used in

[2022-02-15 05:36] shivampapat commented on #7656
Hi @ebyhr. I have raised PR. I have mailed the terms and conditions agreement Signed to the respective mail ID mentioned.
But I see that it is UNCHECKED yet and that's why the PR is on hold.
Is there anything I can do or anyone I should reach out ?

[2022-02-15 05:39] ebyhr commented on #7656
@martint Could you confirm CLA from @shivampapat?

[2022-02-15 06:05] uniray7 commented on #11039
Actually, we deployed on k8s pod.
The pods was started from the end of January and we didn't do any deployment recently, so the JVM OS are not changed.
And these error begin happening since around 2/12.

[2022-02-15 08:17] ebyhr commented on #10932
https://github.com/trinodb/trino/runs/5195864837?check_suite_focus=true

[2022-02-15 08:24] #8675 closed

[2022-02-15 08:53] losipiuk commented on #10941
[code]

#10622

[2022-02-15 09:22] mdesmet opened #11042 "Query lineage from QueryCompletedEvent doesn't standardize column names"
In our environment we use Apache Atlas for tag propagation and rely upon the lineage sent by Trino in the QueryCompletedEvent.

As trino is not case sensitive, we should standardize the column names to a common format (eg lower case) in the lineage information. That way Apache Atlas will properly connect the columns as format is guaranteed for a given column.

I've simulated the issue by adding fo

[2022-02-15 10:52] tangjiangling commented on #10537
I'd like to work on this, please assign it to me.

[2022-02-15 11:33] hashhar commented on #11042
FYI @Praveen2112

[2022-02-15 15:44] arhimondr commented on #6677
I assume after this refactor there should always be a single memory pool and it should be reflected at the code level. More specifically it would result in replacing `Map<MemoryPoolId, ClusterMemoryPool> pools` with simply `ClusterMemoryPool memoryPool` in multiple places in the codebase.

Is my understanding correct?

CC: @sopel39 @findepi @losipiuk @martint @dain

[2022-02-15 15:54] findepi commented on #6677
@arhimondr i am not entirely sure about this.
i am sure removing the reserved pool without this simplification is a good change.
i don't see any future use of >1 memory pools, but that doesn't mean there won't be.

i am personally ok either way, but please wait for opinion from others

[2022-02-15 16:03] findepi commented on #11042
cc @kokosing @ksobolew

[2022-02-15 16:37] #9936 closed

[2022-02-15 17:03] sopel39 commented on #6677
Can multiple memory pools be used with resource groups potentially in the future?

[2022-02-15 17:22] ksobolew commented on #11042
So the problem is that Trino is not case sensitive but Atlas is?

[2022-02-15 17:38] martint commented on #6677
I don't think there's currently any use case for multiple pools, so if we're going to have just one, we should get rid of the infrastructure for managing multiple ones. We can always add that back if it ever becomes necessary.

[2022-02-15 18:00] dain commented on #6677
I think we should get rid of supporting multiple pools, unless there is some reason someone to keep it right now.  We can always add a new system if some comes up with a reason to segment usage in the future.

[2022-02-15 18:41] mdesmet commented on #11042
For now indeed Trino is case insensitive. Not sure if it will be forever. See also #17

IMHO the issue is indeed with Trino allowing multiple names for a single resource (in this case a column). Why not normalise the representation of a single resource?

[2022-02-15 20:03] linzebing opened #11050 "Implement Parallel Read from S3 for external exchange"

[2022-02-15 20:29] mosabua commented on #10941
Updated

[2022-02-15 22:35] arhimondr opened #11051 "Allow memory over-commit for fault tolerant execution"

[2022-02-16 02:32] ebyhr opened #11054 "Flaky maven-checks job due to plugin not found"
[code]

https://github.com/trinodb/trino/runs/5209697875

[2022-02-16 05:50] #5687 closed

[2022-02-16 06:02] hashhar commented on #10941
[code]

#10940

[2022-02-16 06:44] #10286 closed

[2022-02-16 06:45] hashhar commented on #10941
[code]
#10996

[2022-02-16 06:48] #7115 closed

[2022-02-16 07:05] ebyhr opened #11057 "Flaky `actions/checkout@v2`"
[code]

https://github.com/trinodb/trino/runs/5211788644

[2022-02-16 07:39] sjx782392329 opened #11058 "How can i extract data from json {'G/B':"G"}"
I use Prestosql v344
There is my error information
[code]
I want to know how extract this data
Please help me~

[2022-02-16 07:42] sjx782392329 commented on #11058
I don't know why slack archived the #general channel, I can't submit this problem in that

[2022-02-16 07:43] ebyhr commented on #11058
Try `$["G/B"]`

[code]

`#general` channel was renamed to `#begineer`

[2022-02-16 07:43] #11058 closed

[2022-02-16 08:33] mdesmet opened #11060 "Iceberg view not registered in system.jdbc.tables"
When creating a view in iceberg, this view is not registered in system.jdbc.tables. This is making BI tools using the JDBC driver (eg Tableau) not discover the existence of the view as they make use of these tables to show objects in their respective UI's.

How to reproduce using https://github.com/bitsondatadev/trino-getting-started/tree/main/iceberg/trino-iceberg-minio

[code]

Although the view

[2022-02-16 08:40] ksobolew commented on #11042
Correct me if I'm wrong, but I think case insensitive identifiers is the norm among databases (#17 notwithstanding)? I'm not saying this is the problem here, only the connection between these two worlds. I agree that some kind of normalization will likely be needed.

[2022-02-16 09:24] mdesmet commented on #11060
Same applies to MV's:

[code]

[2022-02-16 11:45] Praveen2112 commented on #11042
I think till #17 is being implemented we could standardize column names to lower case. So once #17 is implemented - the corresponding connector decides the canonicalized form.

[2022-02-16 11:46] mdesmet commented on #11013
In this case it's a custom OIDC provider from a third party. We have limited control or reach to have it resolved.

As mentioned in the PR, according the openid spec, GET is recommended, while we use POST in Trino. However it's also said in the spec that both GET and POST should be supported, so I follow your reasoning. However just saying, there are actually a lot of custom OIDC providers in the

[2022-02-16 13:29] findepi opened #11067 "Metadata access failures are shared even if cache disabled"
Affects `CachingJdbcClient`, but necessarily only that.

Even if caching is disabled (default), the guava Cache used by CachingJdbcClient (via `EvictabeCache`) makes concurrent loads of the same key synchronized. This looks like a nice feature, but

- caching may be disabled because data shouldn't be shared; data is still shared between threads in these edge cases
- failures are shared too
  - eg

[2022-02-16 14:05] findepi commented on #10932
https://github.com/trinodb/trino/runs/5212722692?check_suite_focus=true

[2022-02-16 17:04] davseitsev commented on #11030
Small update. All stuck queries have reservation only in `ExchangeOperator`:
[code]
Amount of reserved memory is pretty small, up to a few megabytes.

[2022-02-16 21:02] dmitryfill commented on #10287
Any updates on this? Is that something feasible?

[2022-02-16 22:01] mosabua commented on #10941
Above added again

[2022-02-16 23:45] #10941 closed

[2022-02-17 07:50] tangjiangling commented on #10537
After reading [this comment]( https://github.com/trinodb/trino/issues/10538#issuecomment-1020668450), my understanding is that now we need to support not only ClickHouse`Date/DateTime`, but also ClickHouse`Date32/DateTime64`, and ClickHouse`Date32` mapping to Trino`date` and ClickHouse `DateTime64` mapping to Trino`timestamp(n) with time zone`, besides these, all the points mentioned in this comme

[2022-02-17 09:28] ebyhr commented on #10537
The difference between `DateTime` and `DateTime64` is sub-second precision as far as I know, so `timestamp(n)` **_without_** time zone looks better.

[2022-02-17 09:37] tangjiangling commented on #10537
My mistake, after reading the ClickHouse documentation carefully, you are right.

[2022-02-17 11:45] isharamet opened #11080 "Some queries are failing with `java.lang.IllegalArgumentException: compacted dictionary should not have dictionary base block` after upgrading to Trino 370"
After upgrading from 360 to 370 some of the queries start failing with the following issue:

[code]

I'll try to provide an example without exposing much details, but for now - these are complex queries containing multiple `with` clauses, joins and window aggregations.

This is the final part of the query:

[code]

and it doesn't throw an error being modified in this way:

[code]

or this way:

[c

[2022-02-17 13:51] isharamet opened #11085 "Numeric overflow in `Cumulative User Memory` on the UI"
Discovered in **370** (but probably exists in earlier versions).

When `Cumulative User Memory` reaches certain big numbers (**over 7P seconds**) it causes numeric overflow and starts to display unformatted negative value on the UI.

Environment: Chrome Version 98.0.4758.80 (Official Build) (x86_64), macOS Monterrey 12.1 (x86).

<img width="337" alt="Screenshot 2022-02-17 at 15 42 45" src="https:/

[2022-02-17 14:36] grantatspothero commented on #11009
Someone tried adding support for these types previously in this PR:
https://github.com/trinodb/trino/pull/8229/files

[2022-02-17 14:48] losipiuk commented on #11030
@arhimondr is this manifestation of https://github.com/trinodb/trino/pull/10950? Or different thing?

[2022-02-17 15:02] losipiuk commented on #11030
And @sshkvar what Trino version did you use before 367?

[2022-02-17 15:10] sshkvar commented on #11030
No, we are not using retries. As I know it disabled by default

[2022-02-17 15:21] losipiuk commented on #11030
Yeah.

Tricky - did you maybe have a chance to take a look into logs? Any errors/stacktraces logged?

[2022-02-17 15:23] #10851 closed

[2022-02-17 15:33] sshkvar commented on #11030
we didn't find any errors

queries finished successfully

[2022-02-17 16:12] martint opened #11087 "Release notes for 372"

[2022-02-17 16:24] findepi commented on #4323
I believe this is done now.
cc @alexjo2144 @hashhar

[2022-02-17 16:24] #4323 closed

[2022-02-17 17:10] hashhar commented on #10850
Fixed in https://github.com/trinodb/tpcds/pull/1

[2022-02-17 17:10] #10850 closed

[2022-02-17 17:29] arhimondr commented on #11030
@sshkvar Do your queries contain `LIMIT` operation?

We've found a race condition that may result in memory not being release properly: https://github.com/trinodb/trino/pull/11088. But that shouldn't happen unless you have a `LIMIT` operation after exchange. For example a `LIMIT` after `JOIN`.

[2022-02-17 19:20] arhimondr opened #11093 "Assert memory pools are empty upon QueryRunner termination in integration tests"

[2022-02-17 19:21] arhimondr commented on #11030
We should also improve our integration tests to verify that memory pools are empty upon completion: https://github.com/trinodb/trino/issues/11093

[2022-02-17 21:59] dain commented on #1218
Is HDP end of life (https://endoflife.software/applications/big-data/hortonworks-data-platform-hdp)?  Should we update the title to just Hive3?

[2022-02-18 05:31] ebyhr commented on #11087
[code]

#11055

[2022-02-18 06:34] #6677 closed

[2022-02-18 08:07] tangjiangling commented on #10537
One more question:

Do we need to support ClickHouse `DateTime*(timezone)`? I see that we are now letting the user control how to handle data types not supported by Trino via the parameter `unsupported-type-handling`.

[2022-02-18 12:08] losipiuk commented on #11030
Should be fixed by https://github.com/trinodb/trino/pull/11088

[2022-02-18 12:13] #11030 closed

[2022-02-18 12:25] #2292 closed

[2022-02-18 12:27] findepi commented on #1841
Won't do, per EOL https://github.com/trinodb/trino/issues/1218#issuecomment-1043507105

[2022-02-18 12:27] #1841 closed

[2022-02-19 06:02] manishmalhotrawork commented on #8841
@RussellSpitzer
Looks like this is fixed here (suppressFailureWhenFinished() is removed now) https://github.com/trinodb/trino/blob/master/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/AbstractMetastoreTableOperations.java#L279

[2022-02-19 08:50] #9975 closed

[2022-02-19 14:37] findepi commented on #11042
I think two different things are being confused here

1. a column or table identifier as appears in SQL query text
    - this can be either lowercase/uppercase/mixed-case, delimited (quoted) or not
    - this can even not be there, in case of `SELECT * ...` query
2. a column's or table's name

Now:

Until #17 is implemented, all table and column names **are** lowercase in Trino.
Even if Trino conn

[2022-02-19 14:59] puchengy opened #11109 "Not able to exclude certain test from trino-main/pom.xml"
I tried to exclude certain tests in trino-main https://github.com/trinodb/trino/blob/master/core/trino-main/pom.xml#L489
[code]
However, by running `./mvnw test -pl core/trino-main  -Dtest=TestFileSingleStreamSpillerFactory#testDistributesSpillOverPathsBadDisk`, the test is not excluded successfully.

However, when I commented out the `surefire-testng` dependency part, I can exclude the test.
[cod

[2022-02-19 17:42] mdesmet commented on #11042
I know, it's a hack, but with following commit all lineage seems coming through correctly in Atlas.

https://github.com/mdesmet/trino/commit/663219b612651603a38060b101a2f7649fd72e97

[2022-02-20 05:17] #11109 closed

[2022-02-20 13:03] assaf2 commented on #9506
`LogicalExpression` and `ComparisonExpression` will be implemented at https://github.com/trinodb/trino/pull/11086

[2022-02-21 00:58] ebyhr opened #11110 "Raptor connector allows creating tables & views in a schema where it doesn't exist"
I suppose it's a known issue, but filing an issue for a record.
[code]

[2022-02-21 01:11] ebyhr commented on #11110
I didn't investigate everything, but other statements also creates a new schema automatically.
[code]

[2022-02-21 06:14] yy598162719 opened #11112 "Does Trino support custom udtf functions"
I am using hive and want to migrate sql to trino, hive has our custom udtf function。
What should I do when I encounter this problem? thanks

[2022-02-21 06:21] ebyhr commented on #11112
Please take look at https://trino.io/docs/current/develop/functions.html

You can continue in https://github.com/trinodb/trino/discussions or https://trino.io/slack.html if you have further questions.

[2022-02-21 06:21] #11112 closed

[2022-02-21 08:39] tangjiangling opened #11116 "Extended ClickHouse Date range"
I've confirmed that from version 21.4, `Date` types are supported in the range `1970-01-01`-`2149-06-06`.

<img width="1113" alt="image" src="https://user-images.githubusercontent.com/32224288/154918319-46d0ed04-896b-4efc-9406-24a10f04872f.png">

We can refer to

- https://github.com/ClickHouse/ClickHouse/issues/7316#issuecomment-810124910
- https://clickhouse.com/docs/en/sql-reference/data-types/

[2022-02-21 08:42] findepi commented on #11087
[code]

https://github.com/trinodb/trino/pull/11068

[2022-02-21 09:18] #10621 closed

[2022-02-21 09:20] findepi commented on #11087
[code]

#10621 #10915

[2022-02-21 09:24] findepi commented on #11112
This is tracked in #1839

[2022-02-21 09:26] findepi commented on #8841
Fixed by https://github.com/trinodb/trino/pull/8951

[2022-02-21 09:26] #8841 closed

[2022-02-21 11:12] kasiafi opened #11120 "Names of CALL arguments do not follow the SQL Identifier semantics"
The argument name is taken textually, e.g.
in `CALL some_procedure(arg => 1)` the argument name `arg` is not uppercased.
Even worse, in `CALL some_procedure("arg" => 1)` , the argument name is not unquoted.

If we fix that to respect the proper semantics, it will likely break usages depending on the “textual” semantics.

I need to extend the named arguments for the sake of polymorphic table functi

[2022-02-21 11:14] kasiafi commented on #11120
cc @martint @electrum
@losipiuk the same applies to `ALTER TABLE ... EXECUTE` named arguments.

[2022-02-21 11:31] kokosing commented on #11042
I am not sure what is the problem here. Output column names in SELECT queries are only for CLI or JDBC to name the output columns. I think you should be using source column names (which are lowercased) for tag propagation purposes.

[2022-02-21 11:37] ebyhr opened #11121 "Document type mapping in MongoDB documentation"
Type names in MongoDB https://docs.mongodb.com/manual/reference/bson-types/#bson-types

[2022-02-21 11:59] mdesmet commented on #11042
The issue is not with SELECT queries but with CREATE TABLE/VIEW AS ... queries where the output columns become column names.

[code]

The column will be identified as COL1 in the QueryCompletedEvent

https://github.com/trinodb/trino/blob/559d443438cdc5dc6caf5945f4304e8051a93d1e/core/trino-main/src/main/java/io/trino/sql/analyzer/Analysis.java#L1076-L1079

Then if you create another table, the colu

[2022-02-21 12:10] tangjiangling commented on #11116
Planning to send a PR :)

[2022-02-21 12:13] kokosing commented on #17
Another thing to remember is to make sure that identifiers in event listeners are propagated in proper casing.

[2022-02-21 12:14] kokosing commented on #11042
@Praveen2112 It sounds serious, can you please take a look how to fix it?

[2022-02-21 12:27] kasiafi commented on #11120
It's easy to fix: https://github.com/trinodb/trino/pull/11123

[2022-02-21 12:42] sopel39 commented on #11087
[code]

[2022-02-21 12:55] kasiafi commented on #11120
@losipiuk Mixed-case names are not the goal we want to achieve. Rather a side-effect of the fix.
Also, I believe that it does not make the codebase considerably more complex. The actual fix is 3 lines.

We're trying to stick to the rules of the spec regarding identifiers. For some time now we've been cautious to handle identifiers correctly when adding new language features. And we plan to apply t

[2022-02-21 13:28] ebyhr commented on #11087
[code]

#11082

[2022-02-21 14:08] joshthoward opened #11124 "Trino Helm charts should be deployed in Trino CI to determine if there are breaking changes"
Periodically there are breaking changes in Trino that cause failures when deploying the Trino Helm charts. To detect these changes sooner, we should deploy the Trino Helm charts in Trino CI as a smoke test to detect breaking changes.

[2022-02-21 16:55] RussellSpitzer commented on #8841
Excellent! Thanks!

[2022-02-21 19:25] puchengy opened #11127 "Flaky test TestIcebergParquetConnectorTest.testTargetMaxFileSize"
I sometimes saw flaky test results for this test case in trino-iceberg module
[code]
This is based on Trino 371, with command `./mvn clean install -T 4`.

@homar could you take a look? Also I wonder how `isBetween(1L, maxSize.toBytes() * 3)` is decided? Thanks.

[2022-02-21 23:37] ebyhr opened #11130 "Flaky Could not start environment 'singlenode-oauth2-http-proxy'"
[code]

[2022-02-21 23:46] ebyhr opened #11131 "Flaky maven-checks is cancelled after 45 minutes"
[code]

[2022-02-22 01:36] ebyhr opened #11132 "Enable predicate pushdown on ARRAY(CHAR) type in Phoenix 4 & 5"
Relates to #10451

[2022-02-22 01:47] ebyhr commented on #10904
https://github.com/trinodb/trino/runs/5274222907

[2022-02-22 04:36] Aashishthakur10 opened #11135 "Toggle for partitioned tables to hide partitions of the given table"
A partitioned table can have multiple partitions as seen in the example below.
[code]
But it's enough to display only the main partitioned table for all the necessary querying. Having a toggle will give people an option to hide its partitions. In the case where there are a lot of partitions, it becomes exhausting to navigate the database in trino. Thus, having such a toggle will be very helpful.

[2022-02-22 04:54] sfwanyi opened #11136 "Kudu queries fail with expired Scanner under load due to missing keepalives"
java.lang.RuntimeException: org.apache.kudu.client.NonRecoverableException: Scanner c1042093aae341e9bc1808ae78804e91 not found (it may have expired)

[2022-02-22 04:55] sfwanyi opened #11137 "Caused by: org.apache.kudu.client.NonRecoverableException: the number of replicas does not equal the number of servers"
Caused by: org.apache.kudu.client.NonRecoverableException: the number of replicas does not equal the number of servers

[2022-02-22 05:26] ebyhr commented on #11137
Could you share the Trino version, steps to reproduce and the full stactrace?

[2022-02-22 05:26] ebyhr commented on #11136
Could you share the Trino version, steps to reproduce and the full stacktrace?

[2022-02-22 06:18] ebyhr commented on #8410
Going to close as it's probably fixed in #8443. Let's reopen if the same issue happened.

[2022-02-22 06:18] #8410 closed

[2022-02-22 06:24] ebyhr commented on #7585
@spihiker We upgraded Kudu client library in version 371. Can you try the latest Trino version and make sure it it's still happening or not? https://trino.io/download.html

[2022-02-22 07:23] #7116 closed

[2022-02-22 07:29] #10451 closed

[2022-02-22 07:30] ebyhr commented on #11087
[code]

#11133

[2022-02-22 08:23] osscm commented on #8841
thanks, @findepi for fixing and closing!

[2022-02-22 08:34] losipiuk opened #11140 "testStatsBasedRepartitionDataOnInsert flaky"
[code]

https://github.com/trinodb/trino/runs/5280874831?check_suite_focus=true

[2022-02-22 08:38] losipiuk commented on #4936
Happens also to Iceberg+Spark tests when trying to write to HDFS:
https://github.com/trinodb/trino/runs/5280873825?check_suite_focus=true

[2022-02-22 09:34] ebyhr commented on #10197
Reproduced with request information.
[code]

https://github.com/trinodb/trino/runs/5284541030

[2022-02-22 13:18] takezoe commented on #10938
I tried removing [the scope check](https://github.com/trinodb/trino/pull/1550/files#diff-d5f6d85a278c69d6969856f07362e37d18eb2fe6fd7c79526f035c3e9b4cfca0R323-R333) which was added in #1550 however the following test case failed:
https://github.com/trinodb/trino/blob/ae713b7699e807eea3fccaa56abaf4cc8e393ccc/core/trino-main/src/test/java/io/trino/sql/query/TestPredicatePushdown.java#L45-L62
To be ho

[2022-02-22 13:28] sfwanyi commented on #11137
trino 368

[2022-02-22 13:28] sfwanyi commented on #11136
@ebyhr trino368

[2022-02-22 13:51] wendigo commented on #11137
Can you test with 371? It includes a client bump and fix for some bug in Kudu: https://github.com/trinodb/trino/pull/10940

[2022-02-22 13:51] wendigo commented on #11136
Can you test with 371? It includes a client bump and fix for some bug in Kudu: https://github.com/trinodb/trino/pull/10940

[2022-02-22 16:28] mosabua commented on #11087
All above added.

[2022-02-22 20:48] mosabua opened #11150 "Support catalog description string"

[2022-02-22 20:59] abrisan commented on #11150
I’ve been wanting to contribute to core trino for some time and this looks like a good first contribution! Any pointers on where I could start?

[2022-02-22 21:01] mosabua commented on #11150
Sorry .. not really @abrisan  .. you would have to dig into the source to find out more.

[2022-02-22 21:26] abrisan commented on #11150
Sure, no problem. Do you have any sort of timeline you need? I was thinking of taking a stab at it this weekend :)

[2022-02-22 21:31] electrum commented on #10010
Can we fix this by converting `TestingPhoenixServer` to use Testcontainers? Then it can continue running with Java 11.

[2022-02-22 21:52] dain commented on #11150
This will likely be an annoying project to start with.   We need to have clarity on where the information would be show.  For example, comments are not show in the other show commands, so that doesn't seem like a good place.  For tables, I believe they show up in SHOW CREATE TABLE, but there is no command like that for catalogs (because you can create one).  You could add it to the system metadata

[2022-02-23 00:27] #7114 closed

[2022-02-23 00:47] #7108 closed

[2022-02-23 00:52] ebyhr commented on #11087
[code]

#11122

[2022-02-23 01:44] ebyhr opened #11152 "Add test to guess field types in MongoDB"
The test should creates a document in MongoDB and read in Trino as `BaseMongoConnectorTest.testDBRef()`.

https://docs.mongodb.com/manual/reference/bson-types/

[2022-02-23 04:25] mosabua commented on #11087
Updated.. but not sure about "guessing"

[2022-02-23 09:19] findepi commented on #11087
[code]

#11098

[2022-02-23 09:46] saharghya opened #11156 "approx_percentile is not accepting infinite values"
The below query works on Presto 334 but not on Trino 370
[code]

Below is the error
[code]
Discussion: https://trinodb.slack.com/archives/CGB0QHWSW/p1645546926267429

[2022-02-23 09:56] jerryleooo opened #11157 "Use the tracing design in Presto"
Currently, there have been some efforts/proposals on a better tracing:

https://github.com/trinodb/trino/issues/1826
https://github.com/trinodb/trino/pull/2010
https://github.com/trinodb/trino/issues/4207
https://github.com/trinodb/trino/pull/9924

But seems no conclusion for now.

I found PrestoDB has relative works: https://github.com/prestodb/presto/tree/6af495cb192279ae6de56bbce50c26d6f217d26b

[2022-02-23 10:21] #11080 closed

[2022-02-23 10:22] sopel39 commented on #11087
[code]
https://github.com/trinodb/trino/pull/11145

[2022-02-23 11:02] fengguangyuan commented on #11140
Is this an occasional failure? I could not reproduce it. :(

[2022-02-23 11:18] findepi commented on #11087
[code]

#11143

[2022-02-23 11:20] findinpath opened #11161 "Do not update the metastore when setting Iceberg table/column comment"
https://github.com/trinodb/trino/pull/11143#discussion_r812786798

[2022-02-23 11:22] findinpath opened #11162 "Add CREATE TABLE with column comment test"
https://github.com/trinodb/trino/pull/11143#discussion_r812788763

[2022-02-23 11:54] ebyhr commented on #11140
@fengguangyuan This is an occasional failure.

[2022-02-23 12:16] wendigo commented on #10505
https://github.com/trinodb/trino/pull/10177

[2022-02-23 12:16] #10505 closed

[2022-02-23 12:20] wendigo commented on #9876
https://github.com/trinodb/trino/pull/10004 resolves some outstanding problems with Phoenix tests on JDK17 but there is some bug that makes tests failing.

See repro (run with Phoenix4 query runner):

[code]

comment column is null.

[2022-02-23 12:51] hashhar commented on #9876
Isn't this expected? LIMIT without an ORDER BY will be non-deterministic for most connectors, specially those which generate multiple splits.

[2022-02-23 13:54] findepi commented on #11067
Hive is not affected: since 371 https://github.com/trinodb/trino/pull/9482, the CachingHiveMetastore is used only when cache is enabled.

I looked thru all calls to com.google.common.cache.CacheBuilder#maximumSize and verified that

- they use fixed, non-number
- or are used with a loading cache, where sharing is OK

[2022-02-23 13:54] #11067 closed

[2022-02-23 14:26] #11093 closed

[2022-02-23 15:13] wendigo commented on #9876
comment column is never null ;-)

[2022-02-23 15:14] wendigo commented on #9876
I've found it finally. This was due to reflective access to `java.nio.Bits.unaligned` that controls the logic of how to read data from buffers.

[2022-02-23 15:20] findepi opened #11165 "Allow connector to exclude certain table properties in CREATE TABLE LIKE INCLUDING PROPERTIES"
In case of connectors with table location property (Hive, Iceberg, Delta Lake)
[code]

leads to sharing table resources between tables, which is rarely what user would want. This is especially problematic in case of subsequent DROP, but also INSERT (in case if e.g. format was overridden).

We should revisit the functionality and consider how to make it less dangerous to the users.

[2022-02-23 15:20] findepi commented on #11165
this showed up as a problem in tests in the past and recently in #11062

cc @electrum  @losipiuk @findinpath @alexjo2144

[2022-02-23 19:12] mosabua opened #11169 "Document prepared statement compression properties"
From https://github.com/trinodb/trino/pull/11098/files

`protocol.v1.prepared-statement-compression.length-threshold` and `protocol.v1.prepared-statement-compression.min-gain`

the @ConfigDescription should also be reworded and updated to avoid future tense

[2022-02-23 19:13] mosabua commented on #11087
Added above ones.

[2022-02-23 19:58] #10585 closed

[2022-02-23 20:28] rimolive commented on #1324
Posting here as it seems the central location to enable full support for iceberg as a Trino connector: Is there already support for rewrite_data_files procedure?

[2022-02-23 22:23] osscm opened #11172 "Support Iceberg's `all_files` Metadata table"
Spark supports the iceberg's `all_*` metadata tables. This issue is to add the `all_data_files` metadata table.
`all_files` metadata table will include data_files from all the available snapshots to a table where the current `files` metadata table includes only the current snapshot.

this is used when the user is trying to understand if the table has metadata that can be optimized (currently from

[2022-02-24 02:38] osscm commented on #11172
related to https://github.com/trinodb/trino/issues/10882

cc @findepi I can take a stab at it, if that is ok, thanks!

[2022-02-24 03:24] fengguangyuan opened #11177 "Using qualified property key instead of identifiers is possible?"
Now we could `CREATE ... TABLE WITH PROPERTIES, or  ALTER TABLE ... SET PROPERTIES` on few connectors, for example:
[code]
Here `property.qualified` must be surrounded by double quotation marks, otherwise failures come. The root cause is the grammar defined in SqlBase.g4:
[code]

So, would it be easier to use `qualified name` as the property instead of identifiers? Thus the above sql can be simpli

[2022-02-24 04:33] mosabua commented on #11150
Yeah .. agreed. This definitely goes into many parts of the system and is not easy to implement.

[2022-02-24 04:36] mosabua commented on #11150
Also important note on use case:

Imagine a cluster has dozens of catalogs with Hive, Iceberg and various others. If a user needs to find out more information about the catalogs it should be possible to do that. E.g. an important aspect can be what connector it used to know what table properties are supported for CTAS query or materialized views. A general requirement often is also what the scope

[2022-02-24 06:05] tangjiangling opened #11179 "Use TestCassandraTable to reduce repetitive, boring code"
https://github.com/trinodb/trino/pull/11040#discussion_r811606104

[2022-02-24 06:06] tangjiangling opened #11180 "Use TestCassandraTable in testClusteringKeyOnlyPushdown"
https://github.com/trinodb/trino/pull/11040#discussion_r811606104

[2022-02-24 06:09] #11179 closed

[2022-02-24 06:10] tangjiangling commented on #11179
Sorry, network caused me to double submit the issue.

[2022-02-24 06:28] dain commented on #11177
Table properties in Trino are typed identifier and not a generic bag of string to string values like hive.  This mean the key is an identifier and the value is a realy typed value.  So the above in trino would look like:
[code]

[2022-02-24 06:37] tangjiangling opened #11181 "Separate testBasicTypes into different test methods for different column types"
https://github.com/trinodb/trino/pull/11148#discussion_r813538994

The `testBasicTypes` method of the existing connector type mapping tests can be optimized to:

- Makes the basic types(`bigint/int/smallint` ...) mapping test method simpler, with one method testing only one type
  - Separate testBasicTypes into different test methods for different column types
- Improve test coverage per basic typ

[2022-02-24 06:55] homar opened #11182 "Create metrics collection test for Parquet"
For ORC format there is TestIcebergOrcMetricsCollection however for Parquet there is nothing like that. It will be good to have similar coverage for both format

[2022-02-24 06:56] #10860 closed

[2022-02-24 08:37] #1237 closed

[2022-02-24 08:39] hashhar commented on #11087
[code]

[2022-02-24 09:29] osscm commented on #10287
Wondering, one option could be to extend [ThriftHiveMetastoreClient](https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHiveMetastoreClient.java) as `ThriftHive3MetastoreClient` which can accept the `hive catalog`, this can allow to use different `ThriftMetastoreClient`. Though not sure how neatly different clients can be bound

[2022-02-24 14:29] findepi commented on #11087
[code]

#11063

[2022-02-24 14:57] findepi commented on #11156
Marking as bug, as it's believed to be a regression since introduction of TDigest.

[2022-02-24 18:55] mosabua commented on #5581
Fixed by the linked PR

[2022-02-24 18:55] #5581 closed

[2022-02-24 20:18] findepi commented on #11087
[code]

#11092

[2022-02-24 22:23] mosabua commented on #11087
Above added..

[2022-02-24 23:24] #11121 closed

[2022-02-24 23:24] #11152 closed

[2022-02-24 23:53] ebyhr commented on #11087
[code]

[2022-02-25 00:22] #11180 closed

[2022-02-25 05:39] findinpath opened #11190 "Add support for changing Iceberg table properties"
Syntax for changing Iceberg table properties

[code]

### Implementation tips

Implement the method `io.trino.spi.connector.ConnectorMetadata#setTableProperties`  in `io.trino.plugin.iceberg.IcebergMetadata`.

Use `org.apache.iceberg.BaseTable#updateProperties` for updating table properties.

### Test tips

Add a integration test in `io.trino.plugin.iceberg.BaseIcebergConnectorTest` for testing th

[2022-02-25 06:02] puchengy commented on #11190
This is very useful, thanks!

[2022-02-25 06:20] hashhar commented on #11087
[code]

#10059

[2022-02-25 09:24] findepi commented on #11087
[code]

#10413

[2022-02-25 09:37] #7110 closed

[2022-02-25 10:26] findepi opened #11193 "Incorrect query results for IN projection when comparing indeterminate objects"
[code]

[code]

Expected: the query should return `false` for `orderkey > 7`.

See also https://github.com/trinodb/trino/issues/11194

[2022-02-25 10:26] findepi opened #11194 "Query failure when IN compares indeterminate objects"
[code]

[code]

[code]

Triggering conditions

* source is pages (so not tpch, but eg hive or memory connector)
* filter uses IN with a list of 8+ values so that SwitchGenerationCase.SET_CONTAINS is used
* compared values are indeterminate (eg ARRAY with NULL elements)
* but they still have hash collisions, so that equals is inoked

[2022-02-25 10:28] findepi commented on #11194
cc @raunaqmorarka @sopel39

[2022-02-25 10:28] findepi commented on #11193
cc @raunaqmorarka @sopel39

[2022-02-25 10:53] losipiuk opened #11196 "insert_existing_partitions_behavior OVERWRITE does not work correctly on S3 with task level retries."
TestHiveTaskFailureRecoveryTest.testReplaceExistingPartition is failing when run locally since we migrated the test to use Minio instead HDFS (https://github.com/trinodb/trino/commit/0c2d802feb29da5344ac9e79d528e8c403cff1e6).
It looks like a product issue, not a test failure. We see duplicated rows after INSERT which was supposed to overwrite partition.
It needs to be diagnosed if the extra rows a

[2022-02-25 10:54] losipiuk commented on #11196
Thanks, @MiguelWeezardo for finding the issue.

[2022-02-25 10:55] losipiuk commented on #11196
cc: @joshthoward

[2022-02-25 11:03] MiguelWeezardo commented on #11196
Original bug was found in a [PR run](https://github.com/trinodb/trino/runs/5319740908?check_suite_focus=true) which is weird since it uses the exact same workers as tests running on master. The bug seems to occur deterministically when run locally. Yet recent master builds are green.

[2022-02-25 13:02] takezoe commented on #10938
Asking on Slack: https://trinodb.slack.com/archives/CGB0QHWSW/p1645535658457569

[2022-02-25 13:40] sopel39 commented on #11193
any particular guesses why it's broken?

[2022-02-25 13:41] sopel39 commented on #11194
any particular guesses?

[2022-02-25 14:38] findepi opened #11202 "Extend table redirects applicability"
Apply table redirections in more statements.

reusing @phd3 comment https://github.com/trinodb/trino/pull/10577#issuecomment-1011265208

table with some further amendments

| operation               | use redirected table handle / disallow if redirected | why?                                                                           | ACL checks                                    |
|--------------

[2022-02-25 14:39] findepi commented on #11202
I put the table above using https://github.com/trinodb/trino/pull/10577#issuecomment-1011265208 as reference + further modifications based on the discussion there.

@electrum  @phd3 @losipiuk @sopel39 @findinpath @kokosing please review

[2022-02-25 14:59] sopel39 commented on #11194
actually, I think it's @losipiuk since you have touched `IN` node

[2022-02-25 15:23] findepi commented on #11193
When `SwitchGenerationCase.SET_CONTAINS` is used, we use a hash set, and the would-return-NULL pairs may have different hash, so are never compared.
Even if they happen to have same hash and are compared, the comparison may fail at https://github.com/trinodb/trino/blob/796d44850c6c88e4866490f9bf8658f5367b9856/core/trino-main/src/main/java/io/trino/util/FastutilSetHelper.java#L235
(as in #11194)

(

[2022-02-25 15:46] findepi commented on #11190
`ALTER TABLE  SET PROPERTIES` should change Trino Iceberg table properties (IcebergTableProperties).
It's not supposed to be a pass-thru for Iceberg properties.

From Trino Iceberg table properties (IcebergTableProperties) perspective, we want to allow changing of `partitioning` field.

cc @electrum @phd3 @ebyhr @alexjo2144

[2022-02-25 15:47] findepi commented on #11131
cc @nineinchnick @MiguelWeezardo

[2022-02-25 15:48] findepi commented on #11135
This is PostgreSQL-specific and is caused by the way partitioned tables are implemented in PostgreSQL.

[2022-02-25 15:54] findepi commented on #9163
the current plan is to address this with #1839, cc @kasiafi @martint

[2022-02-25 15:57] findepi commented on #11156
@martint indicated this may be intentional

[2022-02-25 16:04] findepi commented on #11177
Closing as answered.

[2022-02-25 16:04] #11177 closed

[2022-02-25 16:23] sopel39 commented on #11194
It might be related to https://github.com/trinodb/trino/commit/541d8e297cfc096632ed461a2063ea3b96ea9002
and https://github.com/trinodb/trino/commit/019d6db0bfcbdd476d8a76d8e92d7ce1275f4025 cc @losipiuk

[2022-02-25 17:22] grantatspothero opened #11203 "Fix flaky kudu tests: `schema/table not found` and enable CI"
Kudu tests are flaky, see example flake here:
https://github.com/trinodb/trino/runs/5303491394?check_suite_focus=true

[code]

[2022-02-25 17:23] grantatspothero commented on #11203
PR to address kudu flakes here: https://github.com/trinodb/trino/pull/11185

[2022-02-25 18:24] Aashishthakur10 commented on #11135
I see, thanks for updating!

[2022-02-25 20:31] hashhar commented on #11135
This should be a toggle that should default to? IMO it should be `false` by default, whoever needs to hide can chose to hide the partitions.

cc: @guyco33 since you also mentioned using partitioned tables in Postgres.

[2022-02-25 20:39] findepi commented on #11087
[code]

#11091

[2022-02-25 20:45] #11169 closed

[2022-02-25 21:19] mosabua commented on #11087
Added all above

[2022-02-25 21:37] findepi commented on #11087
[code]

#11104

[2022-02-26 00:44] mosabua commented on #11087
Added

[2022-02-26 02:28] walter-weinmann opened #11208 "java.net.ConnectException: Failed to connect to localhost/[0:0:0:0:0:0:0:1]:8080"
The problem occurs in versions 369, 370 and 371 with MySQL, Oracle, PostgreSQL and SQL Server.

I have tested all versions from 364 to 368 and found no problem.

Unfortunately, I cannot find a reason for the problem in the release notes for versions 369 to 371.

[code]

[2022-02-26 10:24] walter-weinmann commented on #5648
Issue solved with version 371.

[2022-02-26 10:24] #5648 closed

[2022-02-26 11:34] guyco33 commented on #11135
It’s definitely should be set to false by default.
I know about several use cases that directly query the partition tables when the partition pruning is not working as expected.

[2022-02-26 16:36] findepi commented on #10904
reopen  per https://github.com/trinodb/trino/pull/11134#issuecomment-1052286400

[2022-02-26 21:31] osscm commented on #11190
@findepi thanks for the detail!
As you mentioned that until a property is not part of the `IcebergTableProperties` we should not allow setting/adding random properties. So, this issue, if needed, can only tackle the updates to the partitioning field.

There was another https://github.com/trinodb/trino/pull/10480#issuecomment-1013542450 which seems to be looking for setting new properties to the ic

[2022-02-27 06:08] walter-weinmann commented on #11208
I found my problem in the Release Notes (369):

_Remove distinction between system and user memory to simplify cluster configuration. The configuration property query.max-total-memory-per-node is removed. Use query.max-memory-per-node instead. ([#10574](https://github.com/trinodb/trino/issues/10574))_

[2022-02-27 06:08] #11208 closed

[2022-02-27 08:34] findinpath commented on #11190
@osscm the scenario which I had in mind revolved around changing custom / random properties.

@findepi what would be the appropriate syntax in your opinion for changing custom table properties?

[2022-02-27 09:36] guyco33 commented on #11135
For example, Postgres might pick wrong index when the partitioned column is not indexed or search all partitions when stalled stats exist

[2022-02-27 18:04] tangjiangling opened #11209 "SqlServer TINYINT incorrect results"
We mapped Trino `TINYINT` to SqlServer `TINYINT`, but I found that the mapping relationship is **wrong**, why?

- In Trino, the range of `TINYINT` is `[-128, 127]`
- In SqlServer, the range of `TINYINT` is `[0, 255]`

So we **can't** read or write `TINYINT` values of `[128, 255]` through Trino.

Assuming I have a table `test_table (row_id integer, data tinyint)` in SqlServer, and the following dat

[2022-02-27 18:10] tangjiangling commented on #11209
**Background**

I found this bug while fixing [this issue](https://github.com/trinodb/trino/issues/11181), so I filed an issue to track the problem and I will send a PR to fix it.

[2022-02-27 20:33] findepi commented on #9741
Closing in favor of https://github.com/trinodb/trino/issues/10846

[2022-02-27 20:33] #9741 closed

[2022-02-27 20:34] findepi commented on #10846
This causes `TestSqlServerConnectorTest>BaseConnectorTest.testSelectInformationSchemaColumns` to be flaky
https://github.com/trinodb/trino/runs/5345450918?check_suite_focus=true

cc @ebyhr

[2022-02-27 20:40] findepi commented on #11209
so it's effectively "unsigned tinyint" and should be mapped to `smallint`.
Note that we dom't have unsigned numeric types.

Failure. We don't need to do validation, since SQL Server will do it (right?)

This is how "unsigned tinyint" is handled in MySQL connector
https://github.com/trinodb/trino/blob/e72a9bc7ba5b26c90f61831c564e9bafc031a9a9/plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/My

[2022-02-28 01:25] jinwangapple commented on #52
Hi all,

I have encountered an issue using dynamic filtering and passing a list/tuple into the where clause, and I am not very experienced in python so please help me.

I am using conn_hms = trino.dbapi.connect to HMS table, and I define the read function below:
[code]
so i will pass in start/end day, sf, and query into the sql later (query parameter is the list/tuple i want to filter in sql)

[co

[2022-02-28 04:23] tangjiangling commented on #11209
No, I have confirmed that if we use we use `Statement`, SqlServer will check if the value range is correct, but with `PreparedStatement`, SqlServer does not check the value range, and in Trino we are using `PreparedStatement`, so we **should** have to check the value range in Trino.

Got it, thank you for your guidance.

[2022-02-28 08:35] findepi commented on #6220
https://github.com/trinodb/trino/runs/5352348020?check_suite_focus=true

[2022-02-28 08:55] ebyhr opened #11215 "Support table comments in JDBC connectors"
#11211 is going to add interface to show table comments, create table with comments and commen on existing tables in JDBC connectors. This is a parent issue to track other connectors.

- [x] ClickHouse #11216
- [x] Druid connector doesn't support creating tables
- [x] MySQL  #11211
- [x] https://github.com/trinodb/trino/issues/16898
- [x] Phoenix doesn't support comments
- [x] Postgres https://git

[2022-02-28 08:59] leveyja commented on #10669
TestMemSqlTypeMapping.testUnsignedTypes() is failing with the SingleStore driver. I'll investigate and see if we need a code change to support it (or if the driver needs a fix itself). Thanks for mentioning it @ebyhr ! 👍

[2022-02-28 09:09] hashhar opened #11216 "Support table comments in ClickHouse"

[2022-02-28 09:52] findepi commented on #954
@posulliv has https://github.com/trinodb/trino/pull/9475 open for this
and @dain  has https://github.com/trinodb/trino/pull/9523

should we have discussion about way forward?
if it was for me to decide, i would just go with adding `extra_properties` property, so i personally don't need a discussion :)

[2022-02-28 09:53] findepi commented on #11190
Same as in Hive -- i.e. to be figured out; https://github.com/trinodb/trino/issues/954#issuecomment-1054078225

[2022-02-28 09:57] leveyja commented on #10669
There is a bug in the field decoding in v1.0.0 and v.1.0.1 of the new SingleStore driver.
`0.1.0-preview` release of SingleStore doesn't have the issue. I'm investigating how to file a bug or submit a fix to their repo: https://github.com/memsql/S2-JDBC-Connector/releases - but until then this looks like a blocker for switching (and slightly worrying).

[2022-02-28 10:14] ebyhr commented on #10669
@leveyja You can handle the byte overflow by fixing `MemSqlClient.getUnsignedMapping()`. The `typeHandle.getJdbcTypeName()` contains precisions after the upgrade likes `tinyint(3) unsigned`

[2022-02-28 10:45] kokosing commented on #11202
I think this should be coherent with `grant` and `revoke`

[2022-02-28 10:54] findepi commented on #11202
Thanks @kokosing for confirming. Updated above table.

[2022-02-28 11:03] leveyja commented on #10669
Thank you! I was in `MemSqlClient` trying to determine how/why it worked in 0.1.0-preview versus 1.0.0/1.0.1.
That's exactly the issue - name is now "TINTINT(3) UNSIGNED", not "TINYINT UNSIGNED".
Should be straight-forward (ish) to fix 👍

[2022-02-28 12:18] sergey-melnychuk opened #11218 "Make sure formatter respects quoted identifiers"
(This is a follow up for https://github.com/trinodb/trino/pull/11171)

Consider using `SqlFormatter.formatName` instead of `QualifiedName.toString` in query/statement formatter.

For more details see https://github.com/trinodb/trino/pull/11171#pullrequestreview-892355373.

cc @kasiafi

[2022-02-28 12:52] ebyhr commented on #1307
Closing as #1313

[2022-02-28 13:25] ebyhr opened #11220 "Flaky TestHive3OnDataLake & TestLegacyHiveRoles"
[code]

https://github.com/trinodb/trino/runs/5356848956
https://github.com/trinodb/trino/runs/5357688439

[2022-02-28 13:58] findinpath opened #11222 "Add redirection awareness for table/view tasks"
[ ] #11072

### Related discussions

#10577
#11202

[2022-02-28 14:07] losipiuk opened #11223 "testAssignUniqueId fails with task-level retries"
when running with `retry-policy` set to `TASK`

[code]

fails with
[code]

[2022-02-28 14:08] losipiuk commented on #11223
cc: @arhimondr

[2022-02-28 14:31] phd3 opened #11225 "Support redirection for views and materialized views"
Currently, the table redirection API `redirectTable` only supports tables. We should extend this to also support views and materialized views.

FWIW, another desired change to keep in mind is https://github.com/trinodb/trino/pull/10577#issuecomment-1020531131

[2022-02-28 14:39] phd3 commented on #11202
thanks @findepi. lgtm.

[2022-02-28 15:20] koby-kramer-shopify opened #11227 "H2 Database is vulnerable to RCE."
H2 has an RCE that allows custom classes to be loaded through JDNI, similar to the Log4J. Recommended to upgrade to new version.
See [here](https://github.com/advisories/GHSA-h376-j262-vhq6)

[2022-02-28 17:56] koby-kramer-shopify commented on #11227
Given the severity, I would assume it's wise to upgrade regardless of the use case.

[2022-02-28 18:41] koby-kramer-shopify commented on #11227
Just opened the PR, https://github.com/trinodb/trino/pull/11230.

[2022-02-28 21:22] guyco33 opened #11234 "Class loader leak since 367"
I did a stress test (70 queries executed in 2 minutes cycles for 3 hours) on both `366` and `367` and found that class loaders are retained in JVM 5 times more.
This class loader leak might be the reason for a performance degradation that appear after running for a while.

`367`
[code]

`366`
[code]

Here is a list of classes that retained in JVM  in `367` but not in `366`
[code]

Issue might rela

[2022-03-01 00:26] arhimondr commented on #11223
Fixed by https://github.com/trinodb/trino/pull/11224/commits/c4670d5882d82162c74dfcc1d963143182cc1dc9

[2022-03-01 01:58] vincentpoon opened #11237 "Query against $manifests Iceberg table fails with NullPointerException"
After upgrading to 371, seeing:
[code]

Relevant code was changed here:
https://github.com/trinodb/trino/pull/10702

[2022-03-01 05:30] patswagh96 commented on #391
Can you share the implementation details in a seperate git link so as to refer the implementation

[2022-03-01 06:07] hashhar commented on #11237
cc: @findinpath

[2022-03-01 06:19] hashhar commented on #11087
[code]

#10898

[2022-03-01 06:52] guyco33 commented on #11234
It might relates to https://github.com/trinodb/trino/pull/10408

[2022-03-01 07:07] spasalkar-uptycs opened #11242 "Add more logging statement when HIVE_CONCURRENT_MODIFICATION_DETECTED occurs"
Currently there is no logging that help dev to understand issue with why he/she has received the HIVE_CONCURRENT_MODIFICATION_DETECTED in [code](https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/main/java/io/trino/plugin/hive/PartitionUpdate.java#L179-L183) there are 3 clauses any of them can be false. It may be useful to add some information which of the clause has failed

[2022-03-01 07:29] heroygt commented on #7150
+1

[2022-03-01 07:59] spasalkar-uptycs opened #11243 "DataFrame.to_sql write is failing with HIVE_CONCURRENT_MODIFICATION_DETECTED on large set of data"
I have below table
[code]
and I am trying to write using below code present under different thread, per DF of approx size of 1M

[code]

getting below exception
[code]

[2022-03-01 09:03] phd3 opened #11245 "Flaky KuduSmokeTests"
https://github.com/trinodb/trino/runs/5362620480?check_suite_focus=true

[code]

[2022-03-01 09:15] ebyhr commented on #11245
The flaky test is handled in #11203.

@grantatspothero I would recommend including test name in the issue title and description so that other people can find it easily.

[2022-03-01 09:25] findinpath commented on #11087
# Core
* Add redirection awareness for `ADD COLUMN`, `DROP TABLE`, `COMMENT` tasks. ({issue} `11072`)

#11072

[2022-03-01 09:38] #11245 closed

[2022-03-01 10:11] findepi commented on #11227
Since it's not part of the product build, h2's vulnerability is not Trino's vulnerability. Let me close the issue.
It doesn't mean we must not upgrade H2 library, just that there is no security-related reason to do that.

[2022-03-01 10:11] #11227 closed

[2022-03-01 10:37] findepi opened #11248 "Test Iceberg Glue access counts during query planning"
We need a test like TestIcebergMetastoreAccessOperations for Iceberg Glue

cc @alexjo2144

[2022-03-01 10:44] ZZa commented on #6439
@klDen hooray, the review was done! :)

[2022-03-01 12:04] findinpath commented on #11162
@ebyhr I find the test  https://github.com/trinodb/trino/blob/c53ee94fd7ef5c6b259bf9ffa1a53cad8ea5e944/plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java#L915-L930 quite appropriate for this issue.

I think that we can keep this test as it is because it tests a different functionality of interacting with column comments than the one tested in `io.trino.testing

[2022-03-01 13:02] suryanshagnihotri opened #11251 "trino fails to connect to kerberized Hive and HDFS on CentOS"
I am unable to query hive table via trino when hive/hadoop is kerberized.

I was able to run the above query if i edit the /etc/krb5.conf & remove "renew_lifetime = 7d". But this is not feasible to do.
I have followed doc and added configs correctly https://trino.io/docs/current/connector/hive-security.html.
Let me know if this is a known issue.

hive.properties contains:
[code]

I get below error

[2022-03-01 13:33] losipiuk opened #11252 "Raptor's TestShardOrganizer.testShardOrganizerInProgress test is flaky"
[code]

[2022-03-01 15:04] suryanshagnihotri commented on #11251
cc @agrawalreetika  @imjalpreet

[2022-03-01 15:19] mosabua commented on #7150
This is done at this stage. Are you missing that info anywhere @heroygt ?

[2022-03-01 15:21] #7150 closed

[2022-03-01 15:32] mosabua opened #11256 "Document hash partition property"
See https://github.com/trinodb/trino/pull/11204 for info.

[2022-03-01 16:45] mosabua commented on #11087
Above added.

[2022-03-01 17:13] hashhar commented on #11087
[code]

#11171

[2022-03-01 17:30] losipiuk commented on #11194
This is not related to those changes - yet before those you needed long IN list to reproduce (>32 constants).
On Trino 356 it still reproduces but with:
[code]

[2022-03-01 17:40] guyco33 commented on #11234
The situation worsens as the JVM gets bigger.
1M class loaders for 86G JVM (124G OS memory) running the same exact queries with the same load on `371`
[code]

[2022-03-01 19:06] klDen commented on #6439
Hey! I'll work on this end of next week. I'm currently AFK 😄

[2022-03-01 22:21] ebyhr commented on #11087
[code]

#11238

[2022-03-01 22:37] ebyhr opened #11266 "Add system table for remote view definition in JDBC connectors"
I've wrote POC code for this feature. Please feel free to leave your opinion (useful, unnecessary and so on). The table name suffix `$view_definition` is same as BigQuery connector.
[code]

[2022-03-01 22:53] dain commented on #11266
Why not use [`SHOW CREATE VIEW`](https://trino.io/docs/current/sql/show-create-view.html)?

[2022-03-01 23:15] mosabua commented on #11087
Above added

[2022-03-01 23:29] alexjo2144 opened #11267 "Identify Iceberg Views Earlier in Metadata Operations"
Views are identified in `GlueIcebergTableOperations` and the Hive table operations using a `TableNotFoundException`. We could clarify this code and identify Views in a more straightforward way.

https://github.com/trinodb/trino/pull/10845/files#r802487202

[2022-03-01 23:31] alexjo2144 opened #11268 "Iceberg Views and Materialized Views when using the Glue Catalog"
Follow up from https://github.com/trinodb/trino/pull/10845

The Iceberg connector should support Views and Materialized Views for all catalogs.

[2022-03-01 23:35] ebyhr commented on #11266
Remote views are handled as Trino tables (not views). Also, it will return non-reusable view definition if the view doesn't match Trino syntax.

[2022-03-02 07:27] chinayangze commented on #6436
when will this be resolved？？

[2022-03-02 07:32] RameshByndoor opened #11271 "Allow passing extra credentials details to AWS Glue in customAWSCredntialProvider"
As of now, trino allows using custom AWS credential provider but `customAWSCredntialProvider` uses the default constructor([here](https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/GlueHiveMetastore.java#L260)) and hence it's very difficult to pass the extra configs required by the custom credential class.

Referred through the TrinoS3F

[2022-03-02 09:49] findepi opened #11275 "Flaky tests when asserting memory pools are empty upon QueryRunner termination in integration tests"
https://github.com/trinodb/trino/pull/11102, a solution to  https://github.com/trinodb/trino/issues/11093

is causing build failures, eg in `TestDistributedEngineOnlyQueries`

https://github.com/trinodb/trino/runs/5380151310?check_suite_focus=true

[code]

cc @losipiuk @arhimondr

[2022-03-02 09:54] findepi commented on #11087
[code]

#7994

[2022-03-02 10:14] findepi commented on #11266
@ebyhr what's the use-case?
also, are there any security considerations when we expose additional information to the users?
cc @kokosing @hashhar

[2022-03-02 11:00] kokosing commented on #11266
We consider `SHOW CREATE` as security sensitive information. So we have dedicated access control check for this. In regards to `information_schema`, we never should throw access denied there, but filter data that is not accessible. Here is a problem as view might be accessible but its DDL could be restricted.

[2022-03-02 11:01] kokosing commented on #11266
I would treat remote views as sensitive too.

[2022-03-02 12:23] tangjiangling opened #11280 "Add more mapping relationships to the SQL Server type mapping doc"
https://github.com/trinodb/trino/pull/11274#issuecomment-1056863517

[2022-03-02 12:48] findepi opened #11281 "ALTER TABLE RENAME implicitly changes table schemata"
[code]

### Expected

`ALTER TABLE [catalog.]schema.table RENAME TO unqalified_name` changes table name only, but doesn't change schema.

Relates to https://github.com/trinodb/trino/issues/11202

[2022-03-02 12:48] findepi commented on #11281
cc @martint @electrum @losipiuk @hashhar @findinpath @ebyhr

[2022-03-02 12:51] findepi commented on #11202
This depends on https://github.com/trinodb/trino/issues/11281 being accepted as a bug and resolved.

[2022-03-02 13:34] sopel39 commented on #10684
Closed by https://github.com/trinodb/trino/issues/6677

[2022-03-02 13:37] sopel39 commented on #9676
This is noop as all null will be represented by RLE (e.g. bigint type).

[2022-03-02 13:37] #9676 closed, assigned to nobody

[2022-03-02 13:37] sopel39 commented on #9511
Cc @skrzypo987

[2022-03-02 15:11] nineinchnick commented on #11130
I also hit that in https://github.com/trinodb/trino/runs/5389981295?check_suite_focus=true

[2022-03-02 18:19] arhimondr commented on #11275
Let me take a look

[2022-03-02 18:47] losipiuk commented on #11281
feels natural. Is that what others do (from what I see there is no info about that in spec (thanks @kasiafi))

[2022-03-02 19:32] ajklili commented on #5572
This is supported now as in https://github.com/trinodb/trino/blob/371/plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java#L851-853

[2022-03-02 21:09] mosabua commented on #11087
Added

[2022-03-02 21:47] #11256 closed

[2022-03-02 21:49] #11087 closed

[2022-03-02 22:58] ebyhr commented on #5572
@ajklili Thanks for finding that. Closing as #9370

[2022-03-02 22:58] #5572 closed

[2022-03-02 23:19] ebyhr commented on #10752
I suppose this flaky test was resolved by recent ClickHouse library upgrade and removing old version support. Let's reopen or create a new issue if reproduced.

[2022-03-02 23:19] #10752 closed

[2022-03-02 23:26] ebyhr commented on #5664
Let's me close this issue since CI has been running on master and PR from non-forked branch thanks to @hashhar

[2022-03-02 23:26] #5664 closed

[2022-03-02 23:29] ebyhr commented on #4762
Let's track Junit5 migration in #9378.

[2022-03-02 23:29] #4762 closed

[2022-03-02 23:32] martint opened #11288 "Release notes for 373"

[2022-03-03 00:09] ebyhr commented on #7101
Current status: remaining test is only `TestClickHouseConnectorTest.filterDataMappingSmokeTestData()`

[2022-03-03 02:49] chinayangze commented on #5564
Is there any solution?

[2022-03-03 03:40] #5771 closed

[2022-03-03 03:48] software-opal commented on #11001
Hey, thanks for the PR to fix the issue highlighted in the report; It seems that there is still an issue with the Cassandra driver related to this.

Specifically, when adding the following row to the Cassandra table, the issue re-appears.

[code]

Outputting:

[code]

Happy to file a new ticket if that'd make tracking the issue a bit easier

[2022-03-03 05:16] #10074 closed

[2022-03-03 05:29] findinpath opened #11292 "Persist the Trino query ID into the Iceberg snapshot"
Same as in Spark where `spark.app.id` is persisted into the Iceberg snapshot and points to the identifier of the query performed with Spark, it would be beneficial for debug purposes to write the Trino query ID in the snapshot when performing DML operations.

### Implementation tips

Trino query ID: `io.trino.spi.connector.ConnectorSession#getQueryId`

Note that `io.trino.plugin.iceberg.TrinoHiveC

[2022-03-03 05:46] findinpath commented on #11281
[code]

In this use case the `table1new` would correspond then to `tpch.sf1.table1new`. Obviously the rename operation will fail.

When taking into account table redirections, say we are in `hive.default` context and we want to rename an Iceberg unqualified table.

[code]

The new table qualified object name would be currently `hive.default.icebergtable_new` , which again would lead to a failed re

[2022-03-03 07:11] Praveen2112 commented on #11251
I'll try to reproduce it by adding this config `renew_lifetime = 7d` to the Product tests environment.

[2022-03-03 07:21] #11209 closed

[2022-03-03 07:21] hashhar commented on #11288
[code]

#11209

[2022-03-03 07:24] huangxiaopingRD opened #11293 "When the query fails, but the task status is still returned to running"
When there is a problem with Presto cluster, we go to check it and find the following logs.
![image](https://user-images.githubusercontent.com/35296098/156515637-11355b47-0c0f-4cd8-a245-bcd488ecfe2b.png)

We found that the query failed, but the URL related to the task showed that it was running until it was cleared and finally failed. As shown in the URL and picture below.
http://xxxxx:8080/v1/tas

[2022-03-03 07:43] Xiangakun commented on #5201
The fix may cause some performance problems, especially when the iceberg metadata is very large. It seems the following override method should be added to class `HdfsInputStream` as well to avoid performance problem
       @Override
        public int read(byte[] b, int off, int len) throws IOException
        {
            return delegate.read(b, off, len);
        }

[2022-03-03 08:51] findepi opened #11294 "Remove test concurrency related workarounds"
Tracking issue to revert workarounds for https://issues.apache.org/jira/browse/SUREFIRE-1967 once we can make use of https://github.com/apache/maven-surefire/pull/407

See TODOs in the code such as restoring `air.test.parallel=methods`

[2022-03-03 10:14] findepi commented on #5482
I wish it was possible to do this efficiently. Hiding delta lake tables in SHOW TABLES requires that we can filter them out on metastore side. This in turn requires that we have metastore API that allows us to pass filters to effect hiding. This is why the flag `hive.hide-delta-lake-tables` is supported with Glue metastore, but it's not supported with HMS/Thrift metastore today.

[2022-03-03 10:14] findepi opened #11296 "Delta Lake connector"
- [ ] https://github.com/trinodb/trino/pull/10897
- [ ]

[2022-03-03 10:15] findepi commented on #11296
cc @jirassimok @alexjo2144

[2022-03-03 10:25] #5616 closed

[2022-03-03 10:27] kbendick commented on #11292
I can submit a patch for this @findinpath

[2022-03-03 10:28] findepi opened #11297 "Properly reject unsupported column names in Delta Lake"
These make connector fail
[code]

need to be rejected explicitly.

see todo in the code

[2022-03-03 10:52] findepi opened #11299 "Cleanup Delta Lake tests AWS Glue databases"
Tests may get cancelled and leave resources. Add cleanup for these.

[2022-03-03 11:01] findepi opened #11300 "Unify Delta Lake tests' container handling with Hive and Iceberg"
Remove Delta's DockerizedDataLake, DockerImages, DockerContainer, DockerizedMinioDataLake, etc. and replace with HiveMinioDataLake

This is a follow-up to https://github.com/trinodb/trino/pull/10897

[2022-03-03 11:33] findinpath commented on #11299
Created https://github.com/jirassimok/trino/pull/1

[2022-03-03 12:51] findepi commented on #11297
Once https://github.com/delta-io/delta/issues/957 is done, we may want to add proper support for that feature.
This issue is only about "rejecting cleanly" names that do not work today.

[2022-03-03 13:18] findepi opened #11303 "Flaky phoenix5's test TestPhoenixConnectorTest. testDataMappingSmokeTest"
https://github.com/trinodb/trino/runs/5406847639?check_suite_focus=true

[code]

[2022-03-03 13:32] findepi commented on #5201
@Xiangakun thanks for input! do you want to make a PR with this change?

[2022-03-03 13:39] findepi commented on #11281
@findinpath let's not complicate things with redirections. Redirections-related review is why i created this issue, but the issue covers general case, with redirections disabled (or "non-existing").
Let's focus on this, and this only here, as I don't believe existence of redirections feature should **impact** what decision we make for general, well-defined case.

[2022-03-03 13:53] jimhooker2002 opened #11305 "Athena Partition Projection for Trino"
Feature request (unless this already exists in Trino and I've just not found it?) not a bug.

This feature of Athena is incredibly useful as it frees you up from having to manage partitions in a metadata store such as Glue / Hive.

https://docs.aws.amazon.com/athena/latest/ug/partition-projection.html

No need to add or delete the partitions.  This is a real boon in terms of scaling -- reduced loo

[2022-03-03 14:03] findepi commented on #11305
It's being worked on by @aczajkowski in https://github.com/trinodb/trino/pull/10767

[2022-03-03 14:41] findepi commented on #11293
cc @losipiuk @arhimondr

[2022-03-03 14:45] findepi commented on #10772
https://github.com/trinodb/trino/runs/5393409472?check_suite_focus=true

[2022-03-03 14:49] jimhooker2002 commented on #11305
Brilliant, thank you and sorry for the dup ticket -- couldn't find it in the search.  I'll resolve now.

[2022-03-03 15:23] findinpath opened #11306 "Document `DENY` statement"
Here is the PR which introduced this functionality: https://github.com/trinodb/trino/pull/10205

[2022-03-03 15:37] findepi commented on #11305
Let's keep the issue open for now. Will get closed when the PR is merged.

[2022-03-03 15:42] grantatspothero commented on #11203
And a followup PR is here: https://github.com/trinodb/trino/pull/11264

[2022-03-03 16:49] mosabua commented on #11288
Added

[2022-03-03 16:50] findinpath commented on #11202
@findepi  please add in the table above also `DENY` command (I am assuming that it should follow the same policies as `GRANT` and `REVOKE`)

[2022-03-03 18:17] jhlodin commented on #10869
Just need to have https://github.com/trinodb/trino/pull/11022 merged then we can call this complete

[2022-03-03 20:23] #11223 closed

[2022-03-03 20:23] #10583 closed

[2022-03-03 20:59] ndrluis opened #11314 "Error: Password hashing algorithm cannot be determined"
Hello, I'm trying to use the Password authentication with bcrypt and I'm receiving this error (io.trino.spi.TrinoException: Error in password file line 1: Password hashing algorithm cannot be determined).

password.db
[code]

password.properties
[code]

[2022-03-03 22:37] linzebing opened #11315 "Fix calculation of page retained size for pages involving VariableWidthBlockEncoding blocks"
In `VariableWidthBlockEncoding`, when reading a block, we don't allocate a new Slice but instead return a view https://github.com/trinodb/trino/blob/master/core/trino-spi/src/main/java/io/trino/spi/block/VariableWidthBlockEncoding.java#L70-L71

This is inconsistent with other encodings and makes such blocks return augmented retained sizes. Ideally, we should create a new Slice, but get rid of the

[2022-03-04 01:35] ebyhr commented on #11203
@grantatspothero I believe Kudu test became flaky due to recent changes. Do you know what is the trigger? BaseConnectorTest migration?

[2022-03-04 01:45] ebyhr commented on #11288
[code]

#11272

[2022-03-04 03:50] ebyhr opened #11318 "OracleClient.generateTemporaryTableName leads to query failure in case of concurrent tmp table creation"
Oracle connector uses `System.nanoTime()` instead of UUID due to identifier name length limitation:
[code]

This may lead to query failure when users executed CTAS or INSERT at the same time.
[code]

https://github.com/trinodb/trino/runs/5401727429

[2022-03-04 05:36] ebyhr commented on #11203
Labeled `RELEASE-BLOCKER` since we disabled all Kudu tests in #11313

[2022-03-04 06:21] ebyhr commented on #11266
Let me close this issue as security concern. Probably, #900 requires additional effort not to leak view definition via remote `information_schema.views` tables.

Thanks for your feedbacks!

[2022-03-04 06:21] #11266 closed

[2022-03-04 07:04] Xiangakun commented on #5201
@findepi Yes, I'm glad to make a PR for this, Should I create an issue for the problem firstly?

[2022-03-04 07:21] #11318 closed

[2022-03-04 07:21] ebyhr commented on #11288
[code]

#11319

[2022-03-04 08:42] ebyhr opened #11323 "Flaky test pulling image of mcr.microsoft.com/mssql/server"
[code]

https://github.com/trinodb/trino/runs/5403461192

[2022-03-04 09:43] findepi commented on #11196
This causes PR build failures, eg https://github.com/trinodb/trino/runs/5415454534?check_suite_focus=true

Knowing that the test is legitimately failing, what is the plan for this?
cc @arhimondr @losipiuk

[2022-03-04 11:07] findepi opened #11325 "More Delta Lake integration test coverage"
Tests to be enabled

- [x] TestDeltaLakeAnalyze -- hadoop container sometimes fails during the test (e.g. testAnalyzeWithFilesModifiedAfter)
  - #11922
- [x] TestDeltaLakeAdlsConnectorSmokeTest -- removeTestData cleanup fails
  - #11898
- [ ] Enable parallel tests in pom.xml

[2022-03-04 11:11] findepi commented on #11325
cc @jirassimok @alexjo2144

[2022-03-04 11:48] findepi commented on #10631
#11196 says this is a product bug.
@losipiuk should i close this one in favor of that one?

[2022-03-04 11:48] findepi commented on #11196
https://github.com/trinodb/trino/runs/5420150846?check_suite_focus=true

[2022-03-04 11:58] sopel39 commented on #11288
[code]
https://github.com/trinodb/trino/pull/11146

[2022-03-04 12:05] findepi commented on #11315
cc @sopel39

[2022-03-04 12:19] sopel39 commented on #11315
That's my old PR (closed) where I wanted to fix the issue: https://github.com/prestodb/presto/pull/10634. IIRC I've never benchmarked it

[2022-03-04 12:28] findepi commented on #11196
https://github.com/trinodb/trino/runs/5421276792?check_suite_focus=true

[2022-03-04 12:28] findepi commented on #10631
https://github.com/trinodb/trino/runs/5421276792?check_suite_focus=true

[2022-03-04 12:31] findepi opened #11326 "Use proper SQL identifier semantics for object or action properties"
Use proper SQL identifier semantics for properties of schemas, tables, materialized views, table procedures (ALTER TABLE EXECUTE).

See @martint 's https://github.com/trinodb/trino/pull/11163#discussion_r818075234 for rationale.

See @findepi 's https://github.com/trinodb/trino/pull/11163#discussion_r815800938 for what it **could take** to do this.

[2022-03-04 13:23] #10976 closed

[2022-03-04 13:26] findepi commented on #11288
[code]

#10976 #10844

[2022-03-04 17:02] mosabua commented on #11288
Above all added

[2022-03-04 18:40] olegsavin opened #11330 "Document static catalog config properties"
Add user docs describing default static catalog configuration - StaticCatalogStoreConfig

[2022-03-04 18:49] arhimondr commented on #11196
It looks like the same problem as here: https://github.com/trinodb/trino/issues/10631#issuecomment-1059120654

[2022-03-04 18:59] arhimondr commented on #11293
I think it was easier to implement this way as  `TaskStatusFetcher`/ `TaskInfoFetcher` starts pulling task tasks status asynchronously even before the `TaskUpdateRequest` is issued. It should be possible to change that if needed, but might not be trivial. @huangxiaopingRD Could you please elaborate on what practical problem does this approach create?

[2022-03-04 19:38] losipiuk commented on #11196
I did not check now. But last time I checked I did not notice this problem there. There was same test failing - but symptoms were different.

[2022-03-04 21:12] hashhar commented on #455
Superseded by https://github.com/trinodb/trino/issues/9101

[2022-03-04 21:12] #455 closed

[2022-03-04 21:38] hashhar commented on #417
Seems this is fixed since it now returns errors like below (if I remove the INTEGER writer from CassandraPageSink).

[code]

[2022-03-04 21:58] losipiuk commented on #11314
From what I see Trino requires `bcrypt` version 2Y (encrypted password should start with `$2y$`). But I do not really have context why that was a choice. @electrum do you happen to know?

[2022-03-04 22:18] hashhar commented on #959
cc: @aalbu @nineinchnick See also https://github.com/trinodb/trino/blob/f600388f74b6af5b71b7445d1a77699412e5b767/core/trino-server-rpm/src/main/rpm/postremove#L12 which might be related.

[2022-03-04 22:20] hashhar commented on #1099
representable with the precision and scale of the declared type of the result, then an exception
        condition is raised: data exception — numeric value out of range.

Seems to suggest working as expected? Should this be closed then @martint?

[2022-03-04 22:21] losipiuk commented on #10631
Nope - different problems. Same test.

[2022-03-04 22:22] findepi commented on #11288
[code]

#11045

[2022-03-04 22:26] martint commented on #1099
Correct. This works as expected according to the SQL specification, so let's close it.

[2022-03-04 22:26] #1099 closed

[2022-03-04 22:33] hashhar commented on #1132
@aczajkowski implemented ability to proxy connections to S3 in https://github.com/trinodb/trino/pull/11255.

Please reopen if it doesn't address the usecase.

[2022-03-04 22:33] #1132 closed

[2022-03-04 22:53] hashhar commented on #1546
Fixed in f6676e42e356b5b23c0b7684822417388bae1641

[2022-03-04 22:53] #1546 closed

[2022-03-04 23:06] hashhar commented on #1988
See #10323 and #10895

[2022-03-04 23:10] hashhar commented on #2082
Seems this was done to some effect already in https://github.com/trinodb/trino/pull/7221

[2022-03-04 23:10] #2082 closed

[2022-03-04 23:16] mndoping1 opened #11337 "Provide additional array functions: array_avg, array_median, array_sum"
Similar to the array functions such as `array_max`, `array_min` etc list here: https://trino.io/docs/current/functions/array.html, could you add support for `array_median`, `array_sum`, and `array_avg`? These are easier directly to use while working with arrays.

[2022-03-04 23:16] hashhar commented on #2117
For headers specifically SPI was added in https://github.com/trinodb/trino/pull/8895

[2022-03-04 23:17] hashhar commented on #2120
Closing since @rickw1028 confirmed it was fixed.

[2022-03-04 23:17] #2120 closed

[2022-03-04 23:27] hashhar commented on #2330
Fixed in https://github.com/trinodb/trino/pull/9349

[2022-03-04 23:27] #2330 closed

[2022-03-04 23:27] hashhar commented on #4063
Fixed in https://github.com/trinodb/trino/pull/9349

[2022-03-04 23:27] #4063 closed

[2022-03-04 23:29] hashhar commented on #2380
Closing since we have CI for ADL, ABFS and WASB for quite some time now. Feel free to re-open if something is missing.

[2022-03-04 23:29] #2380 closed

[2022-03-04 23:33] findepi commented on #1580
full LIKE pushdown was added for PostgreSQL in https://github.com/trinodb/trino/pull/11045
other connectors need to follow

[2022-03-04 23:45] ebyhr commented on #11337
Changed the issue title because there are existing issues for average and sum.
* #8820
* #4346

[2022-03-04 23:54] ebyhr commented on #417
This isn't fixed. We can reproduce with `varint` type without code change.

[2022-03-05 00:00] hashhar commented on #11314
BSD bcrypt which came first used `$2a` but had bugs when dealing with non-ASCII values.

`$2y` is the fixed implementation AFAIK.

[2022-03-05 06:35] puchengy opened #11338 "Trino not able to read timestamp column represented as int96 of the iceberg parquet table migrated from Hive table written by Spark"
I found out that Trino 371 is not able to read timestamp column of the iceberg table generated from iceberg snapshot action.

This is the way to reproduce: in spark-sql 3.2.0, create a hive table of timestamp data type, and create a iceberg table on top of it
[code]

on trino-371, we can successfully query the hive table, however, we will have problem when querying the iceberg table `select * from

[2022-03-05 08:04] ruanliang-hualun opened #11339 "io.trino.spi.TrinoException: Could not serialize column 'role_grade' of type 'integer'"
**I use Trino(368) query es data，Occasionally the following errors occur
'role_grade'  filed data can be NULL or an Integer Array**

io.trino.spi.TrinoException: Could not serialize column 'role_grade' of type 'integer' at position 3:11
	at io.trino.server.protocol.QueryResultRows$ResultsIterator.lambda$propagateException$2(QueryResultRows.java:418)
	at java.base/java.util.Optional.ifPresent(Optio

[2022-03-05 08:17] ruanliang-hualun commented on #11339
I Run multiple experiments. when the error occurs ,  all NULL data is returned

 role_id
---------
 NULL
 NULL
 NULL
 NULL
 NULL
 NULL
 NULL
 NULL
 NULL
 NULL
 NULL
 NULL
 NULL
 NULL
 NULL
 NULL
 NULL
 NULL
(18 rows)

Query 20220304_095029_00118_rv7t3, **FAILED**, 1 node
Splits: 35 total, 34 done (97.14%)
0.21 [100 rows, 1.79KB] [471 rows/s, 8.46KB/s]

[2022-03-05 21:51] findepi commented on #11288
[code]

#11163

[2022-03-05 22:08] findepi commented on #11339
That seems like a bug in a connector. What connector is it?

[2022-03-05 22:09] findepi commented on #11338
LongTimestampWithTimeZoneType should not implement the writeLong methd.

Please describe the problem you're trying to solve.

[2022-03-06 05:41] puchengy commented on #11338
@findepi thanks, I updated the title as well as the description to describe the issue and the way to reproduce it.

[2022-03-06 06:12] puchengy opened #11343 "Trino not able to read nested map type written as Parquet Hive table by parquet-mr 1.10.1 and converted to Iceberg table"
I found out that Trino 371 is not able to read nested map type written by parquet-mr 1.10.1.

This is the way to reproduce: in spark-sql 2.4.4 (which is using parquet 1.10.1), create a hive table with a nested map type column
[code]

Then, using spark-3.2 to create a iceberg table on top of the hive table with the snapshot procedure
[code]

on trino-371, we can successfully query the hive table, h

[2022-03-07 00:57] ebyhr opened #11344 "Flaky Phoenix tests: "ERROR 722 (43M05): Schema does not exist schemaName=TPCH""
[code]

https://github.com/trinodb/trino/runs/5430335432

[2022-03-07 02:49] bensonjiang001 opened #11345 "trino on es issues"
When i use trino connect es, i try to select Chinese columns from es.index, but it alerts columns cannot resolved. I checked its source code, and checked getIndexMetadata() , but found nothing wrong, so what's the problem?
中文解释：
当用trino连接es时，select 中文字段名，会提示字段无法解析，但带_开头的英文字段没有任何问题。在源码getIndexMetadata()看到是解析es index的properties，获取的列名，这里没有什么问题。所以这里是不是对中文属性名（字段名）不支持？

[2022-03-07 03:12] ebyhr opened #11346 "Flaky TestBigQueryConnectorTest.testConcurrentScans"
[code]

https://github.com/trinodb/trino/runs/5432178477

[2022-03-07 03:15] ruanliang-hualun commented on #11339
1：Connector   **trino-elasticsearch**
    <properties>
        <air.main.basedir>${project.parent.basedir}</air.main.basedir>
        <dep.elasticsearch.version>6.0.0</dep.elasticsearch.version>
    </properties>

2：The back-end es cluster version is  6.4.0

[2022-03-07 04:45] Aashishthakur10 commented on #11190
@findepi @findinpath I was looking for a good first issue but don't have any background in Iceberg. It also looks like there are things that have to be figured out here. Is it still a good first issue that I can take up? For some background on this if you guys have any recommendations I'd be happy to go through them first!

[2022-03-07 05:49] ebyhr opened #11347 "Document ANSI compliant trim function"
Relates to #11236

[2022-03-07 05:59] findinpath commented on #11190
I'm removing the `good first issue` label because it is not clear yet how to expose this functionality.

[2022-03-07 05:59] ebyhr opened #11348 "Deny CREATE TABLE with comment if the connector doesn't support storing comments"
[code]

[2022-03-07 06:31] #7216 closed

[2022-03-07 06:31] #9199 closed

[2022-03-07 06:31] #11303 closed

[2022-03-07 06:40] DwijadasDey opened #11349 "Trino client unable to connect to Trino server [Caused by: java.io.UncheckedIOException: javax.net.ssl.SSLPeerUnverifiedException: Hostname trino-dev.mydomain.net not verified ]"
Hi
I have configured Trino server(v371) with SSL and user authentication. The server is up and i can access the web UI.
However, if i try to connect trino server using following command from a remote trino client, i am getting following error.

`#  ./trino --server https://trino-dev.mydomain.net:8443 --catalog druid --schema default --user trino --password
`
[code]
The error is due to trino client

[2022-03-07 08:18] #10904 closed

[2022-03-07 08:19] ebyhr commented on #11288
[code]

#11212

[2022-03-07 08:26] ebyhr commented on #6421
It looks Phoenix driver's bug. `getJdbcObjectArray` passes array with null, but  `PhoenixConnection#createArrayOf` rewrites the element with 0.
https://github.com/trinodb/trino/blob/98b794a9f7228619f4f8feb2c9bbb4d75d70b8f5/plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixClient.java#L769-L775

cc: @vincentpoon @lhofhansl

[2022-03-07 09:49] #1307 closed

[2022-03-07 09:50] hashhar commented on #1307
Closed since timestamp/time mappings now exist in `StandardColumnMappings` and most JDBC based connectors now support them (with exception of a few like Druid).

[2022-03-07 11:24] mdesmet commented on #8820
From an end user perspective, it sill makes sense to add these functions similar to other database engines: It will be much easier to use and much readable and compact using array_average compared to subqueries or UNNEST.

One question i had in the PR is about rewriting those queries into some construct already supported (array_reduce/unnest/...) or a proper implementation.

@martint, @ebyhr :
Can

[2022-03-07 12:06] guyco33 commented on #11234
Update: Issue still exists in `372` even more significantly.
JVM is quickly filled and queries become significantly slower after running for a while.
Running a worker with `c5.4xlarge` (30G RAM and 19G JVM) crashes by OS with OOM.
Running a worker with `r5.4xlarge` (124G RAM and 81G JVM) eliminates the OOM crashes but queries become more and more slower.

[2022-03-07 12:48] ebyhr commented on #9047
Closing as the current documentation has a type mapping table.

[2022-03-07 12:48] #9047 closed

[2022-03-07 12:53] ebyhr commented on #8439
Closing as docs-only PRs don't trigger full PTs now.

[2022-03-07 12:53] #8439 closed

[2022-03-07 13:26] findepi commented on #11339
cc @ebyhr @hashhar @aalbu

[2022-03-07 13:44] findepi commented on #8820
i sympathise with the idea to provide funcitons like `array_average` for convenience, even though same functionality can be achieved with `UNNEST` + aggregation. This is because the UNNEST alternative is pretty verbose.

@mdesmet can you please check which other databases / execution engines provide e.g. `array_average`, and with what signature(s)?

[2022-03-07 13:45] findepi commented on #11337
The functionality is currently available as `UNNEST` + aggregation. See https://github.com/trinodb/trino/issues/8820#issuecomment-899774315 for further discussion.

[2022-03-07 13:53] sopel39 commented on #11288
[code]
https://github.com/trinodb/trino/pull/10965

[2022-03-07 14:45] Aashishthakur10 commented on #11190
Makes sense, thanks!

[2022-03-07 14:45] Aashishthakur10 commented on #11135
I see, thanks!

[2022-03-07 14:48] XComp opened #11352 "TrinoS3FileSystem.delete swallows errors in recursive mode"
The error handling of `TrinoS3FileSystem.delete` (see [TrinoS3FileSystem:580](https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/main/java/io/trino/plugin/hive/s3/TrinoS3FileSystem.java#L580)) seems to be broken if called with the `recursive` flag enabled. It will try to delete directory content but doesn't check for errors "reported" through the return value. As a consequence, the

[2022-03-07 15:56] jklamer commented on #8820
A side side question that may or may not be relevant: In the case of `array_average` implementation would it also auto unnest in the case of aggregation of many array columns? Or would you still have to unnest in that case?

(sudo SQL because haven't personally used UNNEST syntax)
Array average
[code]

Auto unnesting
[code]

Non- Auto unnesting
[code]

[2022-03-07 17:03] mdesmet commented on #8820
I may have assumed because it's available in presto, it's something in other engines.

It's not available in postgres, oracle, db2, databricks, snowflake, mysql, ms sql

In teradata it seems available under ARRAY[T] -> float (This is a Teradata extension to the ANSI SQL:2011 standard.)
See https://docs.teradata.com/r/kmuOwjp1zEYg98JsB8fu_A/gxz1nB7GclxNO5mBd~rn8g

In Clickhouse it seems also availa

[2022-03-07 17:49] guyco33 commented on #11234
@dain
Finally, I found that those dynamic class patterns `io.trino.$gen.countAccumulator_20220201_094443_924858` retain in JVM and I think it comes from [this change](https://github.com/trinodb/trino/commit/e423abf16999632a98eb98ecf5d980a25cd2dee3)
https://github.com/trinodb/trino/blob/e423abf16999632a98eb98ecf5d980a25cd2dee3/core/trino-main/src/main/java/io/trino/operator/aggregation/AccumulatorC

[2022-03-07 19:35] puchengy commented on #11343
This is not an issue any more after upgrading Trino's Iceberg dependencies to 0.13.1 (https://github.com/trinodb/trino/pull/11032). So I will close this ticket.

[2022-03-07 19:35] #11343 closed

[2022-03-07 19:38] puchengy commented on #11338
Update:
1. the Iceberg table created from Spark-3.2.0 is using Iceberg 0.12.0
2. I tried to upgrade Trino's iceberg dependencies to 0.13.1 (backporting https://github.com/trinodb/trino/pull/11032 to Trino 371), still the same issue.

[2022-03-07 19:50] mardenbpasinato opened #11355 "Problem with Slack"
Hi,

I've just tried to access Trino Slack using the link in https://trino.io/slack.html, but it seems to invalid.
Is there any other invitation link?

[2022-03-07 19:55] findepi commented on #11355
PR: https://github.com/trinodb/trino.io/pull/281

thanks for reporting this.

[2022-03-07 19:57] #11355 closed

[2022-03-07 19:59] findepi commented on #11355
@mardenbpasinato thanks for letting us know. Can you please try again now?
let me know if it works.

[2022-03-07 20:04] dain commented on #11234
I think we are missing a cache around `AccumulatorCompiler.generateAccumulatorFactory`.  I think this used to be cached inside of the FunctionManager before the aggergation refactoring, where I split the specialized aggregation functions from their "combination" into an accumulator factory.  Without this we will generate an accumulator factor for ever aggregation usage in every query.

[2022-03-07 20:47] guyco33 commented on #11234
Collecting `jmap` stat files to s3 and parsing them with TEXTFILE table wrapped by a view, I used the following query to demonstrate the issue:
[code]

[code]

[2022-03-07 20:50] mardenbpasinato commented on #11355
@findepi It worked! Thanks a lot

[2022-03-07 22:17] puchengy commented on #11338
via debugging, I found out that:

when reading from the Hive table, it is treating the column as `timestamp(3) with time zone` type. While reading from Iceberg table, it is teating the column of type `timestamp(6) with time zone`.

[2022-03-07 23:06] puchengy commented on #11338
@findepi I found out the reason is because the Iceberg data type `timestamptz` is translated to `timestamp(6) with time zone` which is not supported in Trino right now.

Could you share your thoughts on how we should support it? thanks.

[2022-03-07 23:22] osscm commented on #11190
@findepi is it ok to take the approach of adding `extra_properties` as you mentioned in the hive https://github.com/trinodb/trino/issues/954#issuecomment-1054078225 related issue.
This can allow users for set the pass-through properties?

I believe we are waiting for final decision on this hive's PR https://github.com/trinodb/trino/pull/9475 as well?

do we need to take more blessings to go ahead,

[2022-03-07 23:27] #10936 closed

[2022-03-07 23:42] ebyhr commented on #11339
@ruanliang-hualun Could you share the steps to reproduce?

[2022-03-08 02:39] ruanliang-hualun commented on #11339
@ebyhr
1：I have an es index "test"  which have a filed "role_grade"(Examples of data are below)
    "role_grade": [
      109,
      109
    ]
   role_grade can be NULL, or a single numerical

2：define the catalog file es-dev.properties

3：define the index meta,  identify the role_grade is array type
curl --request PUT \
    --url http://ip:port/test/doc/_mapping \
    --header 'content-type: appl

[2022-03-08 04:35] puchengy commented on #11338
I think this is how the issue is generated:

1. Spark-3.2.0 is writing `timestamp` data type into Hive Parquet table using Parquet `int96` data type.
2. After the Hive table is converted into Iceberg, `timestamp` column is represented as Trino type `timestamp (6) with timezone` by class `LongTimestampWithTimezoneType`.
3. During the reads in Trino, `TimestampColumnReader` is used read `int96` Parq

[2022-03-08 04:42] puchengy commented on #11338
I see some relative discussion here https://github.com/apache/iceberg/issues/1138

[2022-03-08 05:48] Aashishthakur10 commented on #11190
No worries @osscm, that makes sense. Thanks for letting me know!

[2022-03-08 08:42] lukasz-stec opened #11361 "Support re-enabling partial aggregation adaptively"
With https://github.com/trinodb/trino/pull/11011, trino aggregation operator partial step can be switched off if, for the rows processed so far, it did not reduce the number of rows much (most of the input rows are distinct).

If this happens,  but the rows that are yet to be processed have a different distribution i.e. a small number of distinct values, we want the partial aggregation step to be

[2022-03-08 08:53] findepi commented on #11288
[code]

It was added in #7994 (so 372), but a) i missed to add RN entry and b) it worked in simple cases only.
The #11354 fixes it, so we can announce it works.

Or, we can retro-add the above entry to 372, and in 373 say something about ... making it actually work.

[2022-03-08 09:17] suryanshagnihotri commented on #11251
The issue came after java9 release and it is present from there onwards https://bugs.openjdk.java.net/browse/JDK-8131051
In order to fix it user can either remove `renew_lifetime` from /etc/krb5.conf or create a principal of user with `renew_lifetime` in it (something like ```kadmin.local:  modprinc -maxrenewlife 9day +allow_renewable krbtgt/BDACLOUDSERVICE.ORACLE.COM```)

[2022-03-08 09:17] #11251 closed

[2022-03-08 09:27] #6421 closed

[2022-03-08 09:28] yingxuanwangxuan opened #11363 "trino connect alluxio table err"
hive table define
| Location:                         | alluxio://hostname:19998/dl/hivetest/ods__match_combat_end/ds=2022-03-05

alluxio config
alluxio.master.security.impersonation.hive.users=*

when trino select

![image](https://user-images.githubusercontent.com/95274553/157206942-522a7691-6cd5-4f98-b60e-6c2551d5bc91.png)

so what's the problem?

[2022-03-08 09:28] ebyhr commented on #11288
[code]

#11351

[2022-03-08 09:31] xsk123456 opened #11364 "Why does the resource-groups configuration in the cluster not take effect"
rules.json  configuration
{
  "rootGroups": [
    {
      "name": "global",
      "softMemoryLimit": "10%",
      "hardConcurrencyLimit": 100,
      "maxQueued": 1000,
      "schedulingPolicy": "weighted",
      "jmxExport": true,
      "subGroups": [
                        {
          "name": "hive",
          "softMemoryLimit": "100%",
          "hardConcurrencyLimit": 45,
          "maxQueued"

[2022-03-08 09:51] sopel39 commented on #11288
[code]
https://github.com/trinodb/trino/pull/11353

[2022-03-08 09:52] Praveen2112 commented on #11345
Can you specify a way to reproduce this issue ? Does the column name is in Chinese or ?

[2022-03-08 10:58] kyo-tom commented on #11352
@findepi can you assign me,I would fix it

[2022-03-08 11:02] sujith71955 commented on #11251
@suryanshagnihotri @Praveen2112  can we document somewhere in hive Kerberos section. It may help the kerberos based users.

[2022-03-08 11:18] kyo-tom commented on #11352
we could check the result of ``delete``.
such like :
[code]

[2022-03-08 11:42] raunaqmorarka opened #11368 "Flaky test TestHiveTaskFailureRecoveryTest.testJoinDynamicFilteringDisabled"
[code]
https://github.com/trinodb/trino/runs/5459930338?check_suite_focus=true

[2022-03-08 12:32] kyo-tom commented on #11348
How do we judge whether a connector supports storing comments, now there are hive、iceberg and kudu which is support supports storing comments

[2022-03-08 12:34] findepi opened #11369 "Add Delta Lake product tests"

[2022-03-08 12:36] findepi commented on #11288
[code]

#10897 , part of #11296. The roadmap issue #11296 may be more informative to the users than the PR itself, so we should link both.

[2022-03-08 12:38] findepi commented on #11368
cc @arhimondr @losipiuk @linzebing

[2022-03-08 12:43] hashhar commented on #11348
@kyo-tom We can start by adding a test in `BaseConnectorTest` for example that creates table with comment then asserts that show create table (+ some info schema views) preserve the comment.

For the connectors where this test fails we'd need to disable creating tables with comments.

[2022-03-08 12:48] sopel39 commented on #11288
[code]
https://github.com/trinodb/trino/pull/11333

[2022-03-08 12:59] #11196 closed

[2022-03-08 12:59] #10734 closed

[2022-03-08 13:04] kyo-tom commented on #11348
@hashhar that is a way we could judge whether a connector support storing comments. In my option, can we add a default function named ``setTableComment`` in ``ConnectorMetadata`` and return a exception in connector which is unsupport to store comments and to store comment in connector which is support to store comment.

[2022-03-08 13:23] hashhar commented on #11348
Yes. See some other methods like setSchemaAuthroization or createSchema for example of how existing features which aren't supported by all connectors are handled.

[2022-03-08 13:28] kyo-tom commented on #11348
@ebyhr @hashhar can I assign this issue to me

[2022-03-08 16:50] findepi commented on #11348
When we were adding table comments, we should have added a new ConnectorCapabilities. But now it's too late. We just need to fix the existing connectors to ignore table comments.

(i am assuming ignoring unsupported table comments wasn't deliberate choice; i didn't find any discussion on the topic in the old PR that added that functionality (https://github.com/prestodb/presto/pull/7722))

[2022-03-08 17:51] tangjiangling opened #11373 "Using DataProvider in the date type mapping test"
As described in [this comment](https://github.com/trinodb/trino/pull/11362#discussion_r821491350), we should use `DataProvider` instead of a loop in the connector's date type mapping test, as shown below, so that when the test fails, we can quickly determine which time zone the test is failing in.

<img width="346" alt="image" src="https://user-images.githubusercontent.com/32224288/157211898-eadb4

[2022-03-08 18:16] mosabua commented on #11288
All above added.

[2022-03-08 18:35] lukasz-stec opened #11376 "Add partial aggregation specific metrics"
For HashAggregationOperator for partial sep It would be great to collect metrics:

* how many pages were processed via skip aggregation builder
* how many flushes there were for PA.
* average row count per flush

This can be returned via io.trino.operator.OperatorContext#setLatestMetrics

[2022-03-08 18:49] jirassimok commented on #11373
The Oracle test claims to be a copy of the Postgres test, but has fallen out of sync, and the Porestgres test now uses a data provider. It seems that the only additions made to the Oracle tests were in 77cfd97ffb159ec33a68938684a0b7ccc91b58f5, so the Postgres tests can probably just be copied again, plus with the extra dates from that commit.

[2022-03-08 23:46] ryn9 opened #11377 "Add dedicated OpenSearch connector"
Elastic made it latest libraries not work with OpenSearch

Please provide an OpenSearch connector, based off new libraries

Please have a look the blog post about client libraries available for OpenSearch: https://opensearch.org/blog/community/2021/08/community-clients/

[2022-03-09 01:01] ebyhr opened #11380 "Fix style in Kudu documentation"
<img width="814" alt="Screen Shot 2022-03-09 at 9 58 36" src="https://user-images.githubusercontent.com/6237050/157351832-06feebb3-2490-4100-af5e-68903aa48e89.png">

- `-` becomes `・` : We can fix by using two hyphen  `--`
- `1(1,2)`: It looks little awkward

[2022-03-09 01:26] ebyhr opened #11381 "Avoid using duplicated link names in documentation"
Currently, we have two "General configuration properties" in JDBC connectors' documentation. The first is for `case-insensitive-name-matching`... and another is `unsupported-type-handling`...

This generates links:
* https://trino.io/docs/current/connector/redshift.html#general-configuration-properties
* https://trino.io/docs/current/connector/redshift.html#id1

We should avoid this `#id(n)` style

[2022-03-09 03:15] ebyhr commented on #7656
Closing as #10973

[2022-03-09 03:15] #7656 closed

[2022-03-09 03:23] ebyhr commented on #7587
Closing as #7819. #7918 should be handled as a separated issue.

[2022-03-09 03:23] #7587 closed

[2022-03-09 03:32] ebyhr commented on #6364
Closing as #9819

[2022-03-09 03:32] #6364 closed

[2022-03-09 05:23] ebyhr commented on #4375
I can list `information_schema.tables` in  Google Sheets connector and the provided stacktrace comes from Hive connector. I would recommend filing a new issue with the latest stacktrace if it's still reproducible.

[2022-03-09 05:23] #4375 closed

[2022-03-09 05:28] ebyhr commented on #3692
Closing as answered.

[2022-03-09 05:28] #3692 closed

[2022-03-09 06:08] osscm commented on #8769
@findepi I would be happy to work on this.
cc @findinpath

[2022-03-09 07:13] hashhar opened #11384 "PostgreSQL BIT should be mapped to a VARBINARY in Trino"
PostgreSQL BIT is a bitstring and can be > 1 bit.

Today we map all single-bit values to a boolean but don't properly handle other values.

This can be demonstrated by following test:

[code]

This fails with:

[code]

[2022-03-09 07:16] hashhar commented on #11384
Also existing type mapping to boolean also causes issues when predicates are pushed down:

[code]

[2022-03-09 07:55] hashhar opened #11386 "PostgreSQL predicates on ARRAY containing NULLs fails"
Trino doesn't allow comparing arrays with null elements so if we pushdown such operations queries fail.

For example:

[code]

[code]

[2022-03-09 08:46] #5131 closed

[2022-03-09 09:17] fengguangyuan commented on #11140
After a lot spare time on this issue, I think the root cause of the failure is being clear.
[code]
## Conclusion
_Imbalanced distribution of data pages on 3 output buffer slots in `TaskOutputOperator` leads to the unexpected number of written files, therefore the number of files could be in range [3, 9]._

## Details
First of all, we know that `INSERT INTO` statement will produce a physical plan,

[2022-03-09 09:18] fengguangyuan commented on #11140
After a lot spare time on this issue, I think the root cause of the failure is being clear.
[code]
## Conclusion
_Imbalanced distribution of data pages on 3 output buffer slots in `TaskOutputOperator` leads to the unexpected number of written files, therefore the number of files could be in range [3, 9]._

## Details
First of all, we know that `INSERT INTO` statement will produce a physical plan,

[2022-03-09 09:18] fengguangyuan commented on #11140
@ebyhr @losipiuk

[2022-03-09 09:29] kyo-tom commented on #11348
@findepi So you mean we don't need to deny CREATE TABLE with comment if the connector doesn't support storing comments.

[2022-03-09 09:36] findepi commented on #11348
I think we should deny it. I am just saying this is now connector's responsibility to do so.

[2022-03-09 09:55] ebyhr commented on #6220
https://github.com/trinodb/trino/runs/5477726558

[2022-03-09 10:32] findepi commented on #11386
Would query not fail if pushdown did not happen?

(i guess yes, if the source table is empty, or contains only NULL entries in the array column)

[2022-03-09 10:35] hashhar commented on #11386
Thank you for checking. the error comes from engine, not connector so pushdown doesn't matter anyway.

The reason why I thought of pushdown first was because I noticed this while using SqlDataTypeTest.

I close this and create a more general purpose issue for the engine if needed.

[2022-03-09 10:35] #11386 closed

[2022-03-09 11:04] losipiuk opened #11388 "TestIcebergMinioParquetConnectorSmokeTest.testSelect flaky"
https://github.com/trinodb/trino/runs/5470190045?check_suite_focus=true

[code]

cc: @aczajkowski

[2022-03-09 11:09] findepi commented on #11140
Correct. That's why the test uses `assertEventually`.
Apparently that's sometimes not enough.

[2022-03-09 11:54] Ankitchandre opened #11391 "unable to connect Trino superset after enabling ldap on trino"
I'm trying to connect my superset to trino. this worked fine, until we had to enable auth in trino and make it available behind a real domain trino.mycompany.com. my connection string looks like this:
trino://myuser:[mypassword@trino.mycompany.com](mailto:mypassword@trino.mycompany.com)/catalog

Error on superset :

[SupersetError(message='(builtins.NoneType) None\n(Background on this error at: ht

[2022-03-09 12:16] ruanliang-hualun commented on #11339
@ebyhr   I found the cause of the bug

**ElasticsearchClient.getIndexMetadata(String index)  get the wrong mapping element,**
[https://github.com/trinodb/trino/blob/master/plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/client/ElasticsearchClient.java](url)
[code]

**verification**
1：my index mapping contains two parts "doc" and "\_default\_"
     "\_default\_" is not enable

[2022-03-09 12:46] findinpath opened #11394 "DROP COLUMN on hive causes malformed ORC file on reads"
Consider the following product test:

[code]

The test fails with the following exception:

[code]

If the column dropped is not the last one  in the list (e.g. : say the column list looks like : `nationkey, name, comment, regionkey`), then Trino after the column `comment` drop will try to the content related to `comment` when it wants `regionkey` instead.

Note that the logic from HiveUtil doesn'

[2022-03-09 12:57] findinpath commented on #11394
Use 'hive.orc.use-column-names' config when dealing with hive tables having dropped columns

[2022-03-09 12:57] #11394 closed

[2022-03-09 13:10] bensonjiang001 commented on #11345
yes, column name is in Chinese

[2022-03-09 13:14] bensonjiang001 commented on #11345
properties in _mappings of index like this:
"索引列名":{ "type":"keyword"},
and trino cannot resolved the column "索引列名"

[2022-03-09 13:39] phd3 commented on #6220
https://github.com/trinodb/trino/runs/5475770143

[2022-03-09 14:11] findepi commented on #11288
[code]

fix: #11159 test: #11240

[2022-03-09 15:13] findepi commented on #11288
For #11308 just include the PR link in existing entry: https://github.com/trinodb/trino/issues/11288#issuecomment-1061545558

[2022-03-09 15:24] hashhar opened #11397 "Trino doesn't support comparing arrays containing nulls"
[code]

Note that this isn't connector specific. See earlier misfiled issue https://github.com/trinodb/trino/issues/11386 for example with PostgreSQL.

[2022-03-09 16:33] mosabua commented on #11288
All above added.

[2022-03-09 20:39] mdesmet opened #11400 "Implement rename table support for Delta connector"
Currently the delta connector does not support table renames.

[code]

Supporting the table rename would allow us to use the delta connector in a standard dbt setup. Which would be very beneficial as Delta is currently the only table format that supports row-level DELETE and INSERT that works with the standalone hive metastore. Hive transactional tables only work with specific hive versions ([See

[2022-03-09 21:59] #11288 closed

[2022-03-09 22:10] martint opened #11402 "Release notes for 374"

[2022-03-10 00:09] NordiaG commented on #6190
Hey @wendigo, I am new here and would like to take this on as my first issue. If you have any pointers on where to get started I would appreciate that.

[2022-03-10 00:37] ebyhr commented on #11345
I can't reproduce the issue.
[code]

@bensonjiang001 Could you share the steps to reproduce with command level? Also, please share the Trino query, the error message and the stacktrace.

[2022-03-10 03:08] dchvn commented on #9129
@kyo-tom Are you still working on this? Can I go on it?

[2022-03-10 05:31] kyo-tom commented on #11348
Because different connectors have different methods of adding table comment when creating tables, sometimes these two operations are coupled. So it is difficult to abstract a single method to add table comment when creating tables.

can we provide a method in the ``ConnectorMetadata`` to declare whether the connector supports adding table comments for connector adding table or modifying table comm

[2022-03-10 07:59] findepi commented on #11402
[code]

#11086

[2022-03-10 08:35] ssheikin opened #11407 "Flaky `TestDeltaLakeCreateTableStatisticsOptimizedWriter.testMultiFileTableWithNaNValue`"
[code]
https://github.com/trinodb/trino/runs/5482452933?check_suite_focus=true

[2022-03-10 08:37] ssheikin opened #11408 "Flaky `TestHiveDynamicPartitionPruningTest.testJoinWithEmptyBuildSide`"
[code]
https://github.com/trinodb/trino/runs/5477229326?check_suite_focus=true

[2022-03-10 08:56] ssheikin commented on #11408
@kokosing I'm not sure that we have to annotate test with `@Flaky` if it's already annotated with `@Test(timeOut = ...)`.
Either we have not to do this at all or annotate all such tests (or process all tests already annotated with `@Test(timeOut = ...)` as flaky)

[2022-03-10 10:22] sopel39 commented on #11402
[code]
https://github.com/trinodb/trino/pull/11392

[2022-03-10 10:48] wendigo commented on #6190
@NordiaG take a look at `InputReader` class in `trino-cli` module

[2022-03-10 10:52] kokosing commented on #11408
CC: @sopel39 @raunaqmorarka

I would prefer to fix the test instead. `@Flaky` annotation is last resort and not always works.

[2022-03-10 12:07] findepi commented on #11407
cc @jirassimok @alexjo2144

[2022-03-10 15:15] LucasMMota opened #11413 "Set query client timeout (Like Presto's query.client.timeout)"
I was trying to set a time limit to queries that have connections lost with the client.
Do we have some property like Presto's `query.client.timeout`?
(Actually, I tried to set it, but since it didn't work I'm afraid we don't have it set yet in Trino).

[2022-03-10 16:09] hashhar commented on #11413
It exists and works - default is 5 seconds. see https://github.com/trinodb/trino/blob/99ef4ec162b3b099762e4d6727ee3db641e1445c/core/trino-main/src/main/java/io/trino/execution/QueryManagerConfig.java#L238

Feel free to re-open in case you run into some errors.
Feel free to join our [Slack](https://trino.io/slack.html) and continue the conversation there.

[2022-03-10 16:09] #11413 closed

[2022-03-10 16:25] njpeterman commented on #4589
There's too much red tape for me to PR this myself, but I was able to get this working locally with some minor changes.

Specifically, in the [JsonPrinter](https://github.com/trinodb/trino/blob/99ef4ec162b3b099762e4d6727ee3db641e1445c/client/trino-cli/src/main/java/io/trino/cli/JsonPrinter.java), the `printRows` method needs to configure an object mapper for the json generator:

[code]

And then i

[2022-03-10 16:38] faabiianooc opened #11415 "Transaction not committed"
I'm getting the error the current transaction is aborted commands are ignored until the end of the trinodbblock transaction how can I solve it?
I'm running the command through NIFI.
I see that the data arrives in the DB but it is not finalized and it gives an error

[2022-03-10 16:48] nineinchnick commented on #11124
When writing the description in #11416 I started wondering if it makes sense at all. Blocking the pipelines here would prevent making breaking changes, but sometimes we have to. Charts are a downstream artifact that needs to be updated later. Maybe we should be only triggering workflows in the trinodb/charts repo?

I'll see if it's possible to set-up a dependabot for Docker images.

[2022-03-10 16:50] nineinchnick commented on #11124
Or running workflows on a schedule. It's already using the `latest` tag by default.

[2022-03-10 16:55] hashhar commented on #11124
I'm working to add matrix of trino versions to both the python client and helm charts.

It'll catch breakage once a new version is available and we can release new chart/clients with fixes then. With the low number of breaking changes we make I don't believe it's worth the effort to think too much about this just yet.

[2022-03-10 17:18] leveyja commented on #11413
Just to clarify - the default is 5 minutes
[code]
The minimum is 5 seconds.
[code]

[2022-03-10 17:36] mosabua commented on #11402
Above added with minor rewording

[2022-03-10 18:11] mosabua commented on #11402
@sopel39  .. keep in mind that these snippets are markdown .. so single ` only ;-) cc @martint

[2022-03-11 00:41] ebyhr commented on #11402
[code]

#11409

[2022-03-11 01:02] ebyhr opened #11422 "Deny dropping a table when it's referenced by views in Memory connector"

[2022-03-11 01:51] ebyhr commented on #11339
@martint @phd3 Can you take look at the above comment?

[2022-03-11 05:33] #11181 closed

[2022-03-11 05:39] ebyhr commented on #11368
https://github.com/trinodb/trino/runs/5492136290

[2022-03-11 07:16] linzebing commented on #11368
I will look into this.

[2022-03-11 07:52] dchvn commented on #11381
Quick question: @ebyhr, because we are having two "General configuration properties" in /sphinx/connector/redshift.rst. So after generating by Sphinx, "General configuration properties" will have two conflict ids. Should we change the name of the configuration in  "Type mapping" from "General configuration properties" to "General configuration properties for type mapping"?
Many thanks!

[2022-03-11 07:57] ebyhr commented on #11381
@dchvn "General configuration properties for type mapping" looks too long. How about just "Type mapping configuration properties"?

[2022-03-11 07:58] dchvn commented on #11381
Sound good, raise a PR soon, thanks!

[2022-03-11 08:18] findepi commented on #11402
[code]

#11083

[2022-03-11 08:23] lihui730 opened #11428 "Malformed ORC file. Cannot read SQL type 'boolean' from ORC stream '.illegal' of type INT with attributes"
I hava an orc table，which contains a column `illegal`。
Column type is boolean，but when I query on presto，error occur:

Caused by: io.trino.client.FailureInfo$FailureException: Error opening Hive split hdfs....): Malformed ORC file. Cannot read SQL type 'boolean' from ORC stream '.illegal' of type INT with attributes {} ...
        at io.trino.plugin.hive.orc.OrcPageSourceFactory.createOrcPageSourc

[2022-03-11 09:44] sopel39 commented on #5892
still happening https://github.com/trinodb/trino/runs/5498750605

[2022-03-11 10:47] #11013 closed

[2022-03-11 11:48] ebyhr commented on #11402
[code]

#11424

[2022-03-11 12:32] findepi commented on #11402
[code]

#11418

[2022-03-11 12:36] sopel39 commented on #5809
this is probably no longer relevant. Closing. When someone sees it again, we can reopen

[2022-03-11 12:36] #5809 closed

[2022-03-11 12:38] sopel39 commented on #11402
[code]
https://github.com/trinodb/trino/pull/11011

[2022-03-11 12:59] sopel39 commented on #11402
[code]
https://github.com/trinodb/trino/pull/11324

[2022-03-11 14:10] findinpath opened #11435 "Flaky test io.trino.plugin.iceberg.TestIcebergParquetConnectorTest.testReadMetadataWithRelationsConcurrentModifications"
[code]

[2022-03-11 15:06] findepi commented on #11422
Memory connector cannot interpret the view definition, as it's engine's job, so it cannot know which tables are referenced by a view.

Also, that would be different from behavior of most other connectors, right?

[2022-03-11 15:21] #11408 closed

[2022-03-11 18:46] #3377 closed

[2022-03-11 18:48] hashhar commented on #11402
[code]

#3377 #3602

[2022-03-11 19:39] mosabua commented on #11402
All above added.

[2022-03-11 20:21] martint commented on #11339
The connector doesn't support indexes with multiple mappings -- it wouldn't know how to pick between them.

We should update it to fail if there are more than one mapping. In your case, you would need to delete one of those mappings to be able to query it.

[2022-03-12 00:34] ebyhr commented on #11402
[code]

#11425

[2022-03-12 00:37] mosabua commented on #11402
Above added

[2022-03-12 02:50] ruanliang-hualun commented on #11339
@martint
I do delete the incorrect mapping,to solve the problem .
I wonder if I can fix this connector bug ?

[2022-03-12 03:34] dchvn commented on #11380
For `・`, should we keep the dash `-` by using `\-`, or we change it to the hyphen `--`?
For `1(1,2)`: I think we can use cross-reference instead.
@ebyhr  WDYT?

[2022-03-12 17:54] puchengy opened #11442 "Trino Iceberg not honoring existing timestamp column type name of the table created outside Trino (e.g. Spark) stored in HMS"
In Spark, Iceberg type `timestamp with timezone` is mapped to Spark `timestamp`. So when creating an Iceberg table in Spark, HMS will be storing the table column type name as `timestamp`.

In Trino, Iceberg type `timestamp with timezone` (`TIMESTAMPTZ`) is mapped to Trino type `TIMESTAMP(6) WITH TIME ZONE`. When writing from Trino into an Iceberg table created by Spark previously, Trino tends perf

[2022-03-13 13:30] tangjiangling commented on #11373
@jirassimok Thanks for the clarification, I'll keep them both in sync.

[2022-03-13 14:59] tangjiangling opened #11448 "Improve JDBC connector type mapping docs"
Now we are trying to explain in a big table what is the type mapping relationship between Trino and different connectors, which will cause a problem for users: **is this mapping relationship for both read and write operations?**

So we should explain in the type mapping document what the type mapping relationship is for Trino read operations and what the type mapping is for Trino write operations,

[2022-03-13 15:11] tangjiangling commented on #11448
And I also observed that there are some JDBC connectors that do not have type mapping tests (e.g. Druid, Redshift), which is also **needed** to be added.

[2022-03-13 15:14] tangjiangling commented on #11448
cc @ebyhr @hashhar  For the **non-JDBC connector**, I don't have much context, so I didn't list it, but I personally think it's also necessary to have type mapping documentation as well as tests.

[2022-03-13 22:57] #11381 closed

[2022-03-14 00:10] dchvn commented on #11381
Thanks 😄

[2022-03-14 03:00] ebyhr commented on #11384
I believe other JDBC connectors also have the same issue. e.g. MemSQL connector

[2022-03-14 04:43] zhengyangyong opened #11454 "Add ORC CONCATENATE SUPPORT"
If we need merge a lots of small ORC files in hive, we can run "ALTER TABLE [table_name] [PARTITION partition_spec] CONCATENATE" in beeline, but it seems do not support in trino yet. Is there any efficient way do same thing or any plan about it? Thanks.

[2022-03-14 04:44] zhengyangyong commented on #11454
https://orc.apache.org/docs/hive-ddl.html

[2022-03-14 05:54] Praveen2112 commented on #10772
https://github.com/trinodb/trino/runs/5510101828?check_suite_focus=true

[2022-03-14 07:41] #10669 closed

[2022-03-14 07:43] hashhar commented on #11402
[code]

#10669 #11301

[2022-03-14 09:44] #11454 closed

[2022-03-14 10:04] findepi commented on #9506
i think the biggest cost related to adding support for these is to define how they should be modeled, and the rest is just executing on the plan

I propose

- `NotExpression` -> `Call("$not")`
- `IsNullPredicate` -> `Call("$is_null")`
- `IsNotNullPredicate` -> `Call("$not", Call("$is_null"))`
- `ArithmeticBinaryExpression` -> `Call` with `$plus`, `$minus`, `$multiply`, `$divide` function names

(T

[2022-03-14 10:42] hashhar commented on #11402
[code]

[2022-03-14 11:48] sopel39 opened #11466 "TestTpchCostBasedPlan and TestTpcdsCostBasedPlan with partitioned tables"
Right now we run `TestTpchCostBasedPlan` and `TestTpcdsCostBasedPlan` with unpartitioned tables only. However, it's important to run these test on partitioned plans (e.g. because of difficulties of NDV estimation) too

[2022-03-14 11:59] #5776 closed

[2022-03-14 15:14] homar opened #11471 "Flaky TestDeltaLakeCreateTableStatisticsOptimizedWriter.testMultiFileTableWithNaNValue"
<1>
to be greater than:
<1>
at io.trino.plugin.deltalake.AbstractTestDeltaLakeCreateTableStatistics.testMultiFileTableWithNaNValue(AbstractTestDeltaLakeCreateTableStatistics.java:473)
       	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
       	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
       	at java.ba

[2022-03-14 15:40] findepi commented on #11471
duplicates https://github.com/trinodb/trino/issues/11407

[2022-03-14 15:40] #11471 closed

[2022-03-14 15:41] findepi commented on #11407
This reproduces for my locally with `@Test(invocationCount = 1000)`.
cc @homar

[2022-03-14 15:44] findepi commented on #1988
Marked https://github.com/trinodb/trino/pull/10895 as fixing this issue. cc @nineinchnick

[2022-03-14 18:30] #11234 closed

[2022-03-14 19:33] linzebing commented on #11315
https://github.com/trinodb/trino/pull/11235 resolves this

[2022-03-14 19:33] #11315 closed

[2022-03-15 00:02] ebyhr commented on #11162
@findinpath I agree with leaving the test. It would be better to rename the method in my opinion though.
e.g. `testAddColumnWithComment()`

[2022-03-15 00:18] ebyhr commented on #11402
[code]

#11440

[2022-03-15 01:51] ebyhr commented on #11402
[code]

#11459

[2022-03-15 02:06] ruanliang-hualun commented on #11339
@phd3  in es6.x a index can have multiple mapping element

[2022-03-15 03:48] huangxiaopingRD commented on #11293
Thanks the reply. There was no actual impact, only confusion in the process of troubleshooting.

[2022-03-15 06:23] ebyhr commented on #11402
[code]

#11457

[2022-03-15 06:35] ebyhr opened #11486 "Add test for ALTER TABLE ADD COLUMN with comment to BaseConnectorTest"
The `testAddColumn()` test doesn't contain comment option.

[2022-03-15 07:26] hashhar commented on #7864
Oracle and MemSQL done in https://github.com/trinodb/trino/pull/11250.

BigQuery is out of scope since it doesn't use / support file-based mappings.

[2022-03-15 07:26] #7864 closed

[2022-03-15 09:29] #11407 closed

[2022-03-15 10:16] findepi commented on #8708
Fixed by https://github.com/trinodb/trino/pull/11472

[2022-03-15 10:17] findepi commented on #11402
[code]

#8708 #11472

[2022-03-15 10:21] findepi commented on #10772
This can be easily reproduced locally

[code]

[2022-03-15 10:50] findinpath commented on #11435
Closing the issue, after gathering more experience on the matter I think the failure of the test is correct and has to do with my implementation which was not taking into account the fact that tables may disappear  between the time we retrieve their schema table name and the time we want to get their metadata

[2022-03-15 10:50] #11435 closed

[2022-03-15 13:17] findepi commented on #9363
Addressed by https://github.com/trinodb/trino/pull/10845

[2022-03-15 13:17] findepi commented on #11402
[code]

#10845

[2022-03-15 14:41] whutpencil opened #11498 "Pull the latest code from the master branch and then build failed."
The key is that you can't see the error reporting from the construction log. Only the following contents are displayed:

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-enforcer-plugin:3.0.0:enforce (default) on project trino-pinot: Some Enforcer rules have failed. Look above for specific messages explaining why the rule failed. -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecut

[2022-03-15 16:24] hashhar commented on #11498
If you search for "Rule" or "WARN" in the output you'll see the error message coming from the enforcer plugin.

I'm unable to reproduce this on the current master branch though.

[2022-03-15 17:01] findepi commented on #10037
https://github.com/trinodb/trino/pull/10186 fixed this on `CreateViewTask` level, but this also should be fixed in individual connectors' metadata classes, to take care of view/table conflict resulting from concurrent creation.

[2022-03-15 18:46] akashkatipally opened #11503 "Expose physicalWrittenDataSize in QueryStatistics"
Hello Trino Community,

Right now, QueryStatistics captures writtenBytes which is the logical bytes written by a query. However, we are also interested in the physical bytes written by a query. These stats are exposed into jmx json blob. Can we get them also visible in QueryStatistics so we can take advantage of it in our query logger?

[2022-03-15 19:49] #5549 closed

[2022-03-16 02:24] whutpencil commented on #11498
I did as you said and found the following information: `Failure to find org.apache.logging.log4j:log4j-core-java9:pom:2.11.2 in xxxx....`. Why is there a log4j dependency of java9? I can't find this package in my Maven image source. @hashhar

[2022-03-16 02:27] ebyhr commented on #11498
@whutpencil Could you share the result of `./mvnw --version`?

[2022-03-16 02:41] whutpencil commented on #11498
Apache Maven 3.5.4

[2022-03-16 02:41] ebyhr commented on #11498
@whutpencil Please share the entire result.

[2022-03-16 02:44] whutpencil commented on #11498
Apache Maven 3.8.4 (9b656c72d54e5bacbed989b64718c159fe39b537)
Maven home: /Users/xxxxxx/.m2/wrapper/dists/apache-maven-3.8.4-bin/5sjqtqkfjmakil1qhdtgrnjjdc/apache-maven-3.8.4
Java version: 11.0.13, vendor: Oracle Corporation, runtime: /Library/Java/JavaVirtualMachines/jdk-11.0.13.jdk/Contents/Home
Default locale: zh_CN_#Hans, platform encoding: UTF-8
OS name: "mac os x", version: "11.5", arch: "x8

[2022-03-16 02:51] ebyhr commented on #11498
Additionally, please attache the entire log of `./mvnw clean install -DskipTests`.

[2022-03-16 02:53] whutpencil commented on #11498
OK, I'll do it again and export the log. Wait a minute.

[2022-03-16 03:23] whutpencil commented on #11498
[master_build_log.txt](https://github.com/trinodb/trino/files/8258646/master_build_log.txt)
cc @ebyhr

[2022-03-16 03:32] ebyhr commented on #11498
@whutpencil I guess the build is failing due to your internal nexus or proxy. Could you try to use maven central?

[2022-03-16 03:36] whutpencil commented on #11498
Yes, I also added aliyun as the source.

[2022-03-16 03:53] ebyhr commented on #11498
How is your aliyun `mirror` node in your setting xml?

[2022-03-16 04:36] whutpencil commented on #11498
<mirror>
            <id>alimaven</id>
            <mirrorOf>central</mirrorOf>
            <name>aliyun maven</name>
            <url>https://maven.aliyun.com/repository/central/</url>
        </mirror>

[2022-03-16 07:47] whutpencil commented on #11498
Do you have a suitable source?

[2022-03-16 08:47] findepi opened #11505 "Flaky test TestParquetPageSkipping.testAndPredicates"
https://github.com/trinodb/trino/runs/5554739990?check_suite_focus=true

[code]

[2022-03-16 08:48] findepi commented on #11505
cc @raunaqmorarka @JamesRTaylor

[2022-03-16 10:47] ebyhr commented on #11402
[code]

#11490

[2022-03-16 11:50] #11130 closed

[2022-03-16 13:16] victordiasadroll opened #11513 "Error running query: Please specify advertisable(s) with '=' or 'IN' syntax"
Hi! I'm running a query similar to this:
[code]
That first condition in the WHERE clause is a list of IDs we want to retrieve data using our pipeline and currently our query needs to fetch data for ~1200 of them. However, upon running the query we get the error message:
`Error running query: Please specify advertisable(s) with '=' or 'IN' syntax`
which doesn't make sense because:
* I'm clearing us

[2022-03-16 15:19] #11050 closed

[2022-03-16 15:30] tangjiangling opened #11517 "Add support for `ANALYZE FOR SELECT ...`"
New feature request in the community Slack: https://trinodb.slack.com/archives/CP1MUNEUX/p1647425845581129?thread_ts=1647371509.972089&cid=CP1MUNEUX

# New Feature Request

## Motivation

In our company's Hive warehouse([Meituan](https://en.wikipedia.org/wiki/Meituan)), most of the tables **don’t** have statistics, and for some historical reason we’re **not quite able** to get the table statistics

[2022-03-16 15:40] findepi commented on #9506
https://github.com/trinodb/trino/pull/11511

https://github.com/trinodb/trino/pull/11514

[2022-03-16 15:57] alexjo2144 opened #11520 "Support `hive.metastore.glue.catalogid` in Iceberg Glue catalog"
https://github.com/trinodb/trino/pull/10845#discussion_r802505174

`hive.metastore.glue.catalogid` was left out of the original Glue Catalog implementation for Iceberg as the approach was error prone and testing was not available.

[2022-03-16 16:04] hashhar commented on #11513
Are you using custom connector or a forked version of Trino? The stack trace doesn't match up with Trino code and the exception is thrown from some extension class `io.trino.plugin.hive.nextroll.DomainInterface.enforcePartitions(DomainInterface.java:126)` which doesn't exist in Trino.

[2022-03-16 16:57] billonahill commented on #4538
This issue is also biting us.

Isn't there another issue with this proposed solution though, which is that `timestamp.formats` is supported in `o.a.h.hive.serde2.JsonSerDe`, but Trino uses `org.apache.hive.hcatalog.data.JsonSerDe`? Seems we'd also need to provide a way to use the latter, no?
https://github.com/trinodb/trino/blob/ad27b121d78abf24980b96aadc2521288484f448/plugin/trino-hive/src/main/j

[2022-03-16 18:01] RameshByndoor opened #11524 "Improve singlestore timestamp precision mapping"
With the addition of the singlestore driver, it's possible to get the timestamp/time column precisions as a part of the metadata returned by `getcolumns()`.

Issue: As of now, the extra call is being made to `information_schema.columns` [here](https://github.com/trinodb/trino/blob/master/plugin/trino-singlestore/src/main/java/io/trino/plugin/singlestore/SingleStoreClient.java#L288), just to get th

[2022-03-16 20:45] linzebing commented on #11368
Another stack trace
[code]

[2022-03-16 21:20] #11402 closed

[2022-03-16 21:25] martint opened #11527 "Release notes for 375"

[2022-03-16 23:34] martint opened #11531 "Release fails when building RPM"
The release process is failing when building the trino-server-rpm module:

[code]

Logs here: https://gist.github.com/martint/266cc4146d61d2511669e244bcd87160

[2022-03-16 23:41] martint commented on #11531
Possible causes:

https://github.com/trinodb/trino/pull/11387
https://github.com/trinodb/trino/pull/11495

[2022-03-16 23:49] martint commented on #11531
I was able to bypass the issue by not using the maven wrapper. So one of those two changes is almost definitely the problem. cc @hashhar @ssheikin @wendigo

[2022-03-17 00:11] ebyhr commented on #11448
@tangjiangling Yes, it would be nice if we can improve other connectors' documentation as well.

[2022-03-17 05:03] #11293 closed

[2022-03-17 06:20] user-GitHub-user opened #11534 "iceberg: if time value is NULL throw exception: Unsupported type time(6)"
when i want to query like this:

[2022-03-17 06:47] aakashnand commented on #8548
@tooptoop4 I am also facing this issue with hive 3.1.3000.7.1.7. Were you able to resolve it

[code]

[2022-03-17 06:58] aakashnand commented on #5155
@jiangzhx Were you able to find the solution to this problem?
https://github.com/trinodb/trino/issues/5155#issuecomment-692540048

[2022-03-17 07:05] wendigo commented on #11531
Does it matter if we merge https://github.com/trinodb/trino/pull/11521?

[2022-03-17 07:56] mallikde-kore opened #11536 "Predict push down is not happening for boolean in where clause with MongoDB connector"
**Using trino version**: 368

**connector :** MongoDB

**Issue:**
when we use Boolean column in the where clause of the query. My expectation is, it should be passed to mongoDB in filters but it is not being passed and leading to wrong index pick on mongo which is performance hit.

**sample query:**
select * from botsessions where (timestampvalue between 1613994791753 and 1646308407661) and (sId='

[2022-03-17 08:53] tooptoop4 commented on #8548
still an issue

[2022-03-17 09:14] findinpath opened #11538 "Provide a standardized way to expose table properties"
In Trino we can use `SHOW CREATE TABLE` for reading, among other tings, the table properties.

If the user however wants to see / parse only the table properties, it would be convenient to have a SQL command to do this.

Spark SQL offers `SHOW TBLPROPERTIES` command for such a purpose:

https://docs.databricks.com/spark/latest/spark-sql/language-manual/sql-ref-syntax-aux-show-tblproperties.html

K

[2022-03-17 09:39] hashhar commented on #11538
Wanted to mention that there is prior art that uses `$properties` system tables for this which is also a possible solution. It already has the benefit that the return value is a table so you can use that table in other queries as well (which cannot be done with SHOW queries).

[2022-03-17 11:56] ssheikin commented on #11531
@martint what maven version do you have installed locally? According to @hashhar it has to be one below `3.8.5`.

[2022-03-17 12:38] findepi commented on #11538
What's the use-case to query table properties (outside of tests and troubleshooting)?

[2022-03-17 12:50] findinpath commented on #11538
In the context of dealing with arbitrary table properties, an offset/timestamp could be saved previously in the hive/iceberg table and retrieved via the above mentioned SQL command to sync into the table only the relevant information.

If an external process would need to perform special handling prior to dealing with an ORC/Parquet table, there wouldn't be a need to extract rather tediously this

[2022-03-17 13:56] d9k opened #11541 "ClickHouse: case-sensitive table name causes an error"
The query

[code]

causes an error:

[code]

Looks like query preprocess always converts table names to the lowercase.

Trino version 373.

[2022-03-17 14:33] DwijadasDey opened #11542 "Example connector in https"
I need a clarification about example-http connector. Does it work with https ? Although the [release note](https://trino.io/docs/current/release/release-0.54.html) does not mention about metadata uri in https.
e.g.

[code]
Thanks

[2022-03-17 15:40] martint commented on #11531
I'm using 3.8.4 (without the maven wrapper)

[2022-03-17 16:58] lukasz-walkiewicz opened #11547 "CLI `--user` parameter should not default to system username"
If `--user` parameter is not provided the CLI falls back to `{sys:user.name}` value which can be a good default when using Trino with basic authentication or without any authentication but can be very confusing when using other authentication methods such as: OAuth2, JWT and Kerberos. For these methods not providing `--user` parameter results in an implicit impersonation to local machine username

[2022-03-17 17:53] hashhar commented on #11538
IMO since we already have the `$properties` table the natural conclusion would be to ensure connectors which support table / column properties expose that table. My only argument is consistency - so not important or a priority by any means but nice to have.

[2022-03-17 17:55] martint commented on #11531
That would help, but it doesn't rule out any other issues. If its a bug in maven, it could affect other parts of the build.

[2022-03-17 23:40] Riddle4045 commented on #9129
@sopel39  @dchvn  @kyo-tom I ran into this issue recently and I have a review ready for the fix,  Can I publish it?
Draft request - https://github.com/trinodb/trino/pull/11554

[2022-03-18 00:04] ebyhr commented on #11541
Did you enable `case-insensitive-name-matching` configuration property?

[2022-03-18 00:54] #11380 closed

[2022-03-18 02:07] Riddle4045 commented on #11517
@tangjiangling  @wubiaoi  @hashhar  I'd be happy to implement this, if it's okay with everyone?

[2022-03-18 02:27] ebyhr commented on #11542
It would work with https.

[code]

[code]

Please feel free to reopen or continue the community Slack if you want.
https://trino.io/slack.html

[2022-03-18 02:27] #11542 closed

[2022-03-18 03:14] #11524 closed

[2022-03-18 03:20] #2517 closed

[2022-03-18 03:20] ebyhr commented on #11527
[code]

#11211

[2022-03-18 03:41] ebyhr commented on #11216
`ALTER TABLE … MODIFY COMMENT` was added in version 21.6. I suppose we can implement this after EOL of 21.3 (30 Mar 2022).

[2022-03-18 03:43] tangjiangling commented on #11517
@Riddle4045 Thank you for your enthusiasm, but we have actually already implemented it at my company and we plan to contribute to community at a later date.

[2022-03-18 08:58] sopel39 commented on #9129
@Riddle4045 please go ahead

[2022-03-18 09:16] lukasz-stec opened #11558 "Use primitive arrays directly in the dedicated PositionsAppenders"
In https://github.com/trinodb/trino/pull/11289 `PositionsAppender` no longer uses BlockBuilder in the API.
It's possible then to rewrite the dedicated `PositionsAppender` classes to use primitive arrays directly without going through `BlockBuilder`.
This should bring a noticeable performance gain for partitioned exchange at the cost of "block build logic" duplication between `BlockBuilder` and `Po

[2022-03-18 09:25] findepi opened #11559 "Infinite loop in iterative optimizer when pushing down row dereference within expression into Hive connector"
Reproducible on current master with `HiveQueryRunner`, so affects 374 too (and maybe all versions since #7994, i.e. 372+)

[code]

cc @martint @wendigo @hashhar @assaf2 @losipiuk

Rel: https://github.com/trinodb/trino/issues/11560

[2022-03-18 09:26] findepi commented on #11559
Note that disabling `complex_expression_pushdown` is **not** a workaround:

[code]

[2022-03-18 09:27] findepi commented on #11559
cc @alexjo2144 @phd3

[2022-03-18 09:32] findepi opened #11560 "Query failure when pushing down row dereference within expression into Iceberg connector: Unbound variable"
Reproducible on current master with `IcebergQueryRunner`, so affects 374 too

[code]

Rel: https://github.com/trinodb/trino/issues/11559

[2022-03-18 09:33] findepi commented on #11560
Note that disabling `complex_expression_pushdown` is **not** a workaround:

[code]

[2022-03-18 09:34] findepi commented on #11560
cc @phd3 @alexjo2144 @martint @wendigo @hashhar @losipiuk

[2022-03-18 09:44] findepi commented on #11559
Repro: https://github.com/trinodb/trino/pull/11561

[2022-03-18 09:44] findepi commented on #11560
Repro: https://github.com/trinodb/trino/pull/11561

[2022-03-18 10:59] kokosing commented on #11547
This matches my understanding too. Keeping this backward compatible will make API awkward. Using `--user=''` or `--no-user` when user don't want to set user looks strange. Also I do believe that  current default for user `{sys:user.name} ` is rarely matching the user required by authentication system.

[2022-03-18 12:10] findepi opened #11566 "Dereference projection should not be pushed into connector when whole row (struct) needed"
For table
[code]

For queries
[code]

`PushProjectionIntoTableScan` invokes `ConnectorMetadata.applyProjection`.
This seems redundant, since whole `r` row is needed anyway.
Currently, `applyProjection` increases number of columns returned from connector, so might be just overhead.

Note: we may still want to pushdown in case of:
[code]

since it may allow to push predicates into connector and do m

[2022-03-18 12:48] #11536 closed

[2022-03-18 12:50] ebyhr commented on #11527
[code]

#11556

[2022-03-18 13:35] sopel39 commented on #4763
Related PR: https://github.com/prestodb/presto/pull/11689

[2022-03-18 14:37] lukasz-walkiewicz commented on #6315
https://github.com/trinodb/trino/runs/5586083624?check_suite_focus=true

[2022-03-18 16:24] sravanip09 opened #11575 "Enable auto-purge default value property"
Currently end users are encountering the failures when they run the 'DROP table_name' command, even though the table gets dropped but the error message is leading to confusion.

trino:> drop table withacid;
Query failed: The following metastore delete operations failed: drop table withacid
io.trino.spi.TrinoException: The following metastore delete operations failed: drop table withacid

This is h

[2022-03-18 22:43] osscm opened #11577 "Support impersonation for the all get calls (show commands ) of the Metastore API"
Currently, show operations like

[code]
are not impersonated.

There could be use-cases where Trino clusters talk to a metastore that also allows users to set ACLs on entities like tables. And it is kind of confusing for users to see tables they don't have access to in show tables but not be able to query from them.
Metastore is considered as the source of truth for these ACLs so its kind of redun

[2022-03-19 14:28] ebyhr commented on #11575
Hive connector already supports `auto_purge` table property. What connector are you going to fix?
https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveTableProperties.java#L71

[2022-03-19 20:44] hashhar commented on #10148
Fixed in https://github.com/trinodb/trino/pull/9781

[2022-03-19 20:44] #10148 closed

[2022-03-19 20:45] hashhar commented on #9137
@elonazoulay Since https://github.com/trinodb/trino/pull/9781 is merged, are there any cases in this bug report which are still unhandled? It seems to me all are addressed?

Can you confirm once?

[2022-03-20 04:30] Riddle4045 commented on #5333
@ebyhr  is the work for SQL server done? if not i'd be happy to take it!

[2022-03-20 13:55] zhangminglei opened #11583 "Implement independent optimizer rules for LimitNode"
Currently, `LimitPushDown` tries to handle all the different plan nodes at once and it is very complex and may not be able not read and maintain. We need to implement different scenarios for different combinations with LimitNode.

[2022-03-20 18:50] elonazoulay commented on #9137
This does seem to cover all the use cases, even added specific unit tests for these issues. Thanks!

[2022-03-20 19:23] #9137 closed

[2022-03-20 19:27] hashhar commented on #11527
[code]
#9781

[2022-03-21 02:51] ebyhr commented on #5333
@Riddle4045 Not yet. You can take it freely, but please note that:
* SQL Server doesn't expose column comment via REMARKS result set. We will need to introduce a flag not to decrease the performance for metadata fetching.
* You need to find how to create `CREATE TABLE` with column comments in SQL Server

[2022-03-21 06:46] osscm commented on #11577
cc @kokosing @hashhar @vgankidi

[2022-03-21 07:03] Riddle4045 commented on #5333
@ebyhr  Thanks, I browsed through https://github.com/microsoft/mssql-jdbc/issues/646, Looks like Microsoft does not intend to add support for  `REMARKS` in the jdbc driver. This would mean we use extended properties for retrieving comments and multiple calls ( again through extended properties ) to support `CREATE TABLE`. I doubt this feature mandates the complexity budget for the connector,  what

[2022-03-21 07:32] nfoerster opened #11585 "Iceberg parallel partitioned inserts?"
I have a question regarding the possibilities of parallel iceberg inserts when the data is partitioned. I tried it and had a lot of concurrency errors, I think because of problems during metadata write operation in the Iceberg itself. I'm just thinking if there is a setting or parameter to enable this feature.

[code]

[2022-03-21 09:39] #11559 closed

[2022-03-21 09:39] #11560 closed

[2022-03-21 09:41] findepi commented on #11527
[code]

#11559 #11560 #11567

[2022-03-21 09:58] harlequin opened #11588 "Create VIEW on JDBC not supported"
I wanted to create a VIEW on a connected MSSql Server, which is handled by the JDBC Base Connector.

Which is causing a not supported error.

I have read through the source code and found that the JDBC Base doesn't include "createView" or "listView" statements.

Is there a known limitation why the JDBC is not supporting views?

Because if there will be a check included that the catalog and, maybe,

[2022-03-21 10:27] aczajkowski commented on #10772
I believe root cause of issue is here: https://github.com/trinodb/trino/blob/70ad1f98924561191fb49395cc3398b894f58eea/plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHiveMetastore.java#L995
It's also similar problem in createTable seen here and identified by @findinpath https://github.com/trinodb/trino/pull/10894#issuecomment-1028102021

We retry on all TTransportExcept

[2022-03-21 10:49] losipiuk commented on #10772
Thanks @aczajkowski for looking into that!
Let's bump the timeout in tests 2x for now as you suggested.
Other than that we can also make a change to `RetryDriver` so we can configure that for some exception types logging is done on `warn` (by default retries are logged on `debug`), but I do not feel strongly.

[2022-03-21 10:51] ebyhr commented on #11588
I guess you've mixed up SQL Server view and Trino view. Those  "createView" or "listView" should be used for Trino views.

[2022-03-21 10:57] findinpath opened #11590 "Factor out the `tableSnapshot` parameter from `trino-delta-lake` `TransactionLogAccess`"
I was trying to understand where the method `getActiveFiles` of [TransactionLogAccess](https://github.com/trinodb/trino/blob/9956543e429419a268cfe20a47af7f7c47fa2398/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java) is being used and noticed that the `tableSnapshot` parameter is always produced by a previous call to `TransactionLogAccess` as

[2022-03-21 10:58] losipiuk opened #11591 "Enable query retries for Delta Lake Connector"

[2022-03-21 10:58] harlequin commented on #11588
Ok, have understand the topic.

But how, or what, has to be changed to make the "CREATE VIEW" enabled on JDBC/MSSQL connections?

I have seen that there is a pull request for "direct sql command execution" on the underlaying connector.
But this seems for me a little bit hacky

[2022-03-21 11:04] aczajkowski commented on #10772
@losipiuk PR: https://github.com/trinodb/trino/pull/11592

[2022-03-21 12:41] findepi commented on #11583
cc @martint @kasiafi

[2022-03-21 13:27] tangjiangling opened #11594 "Flaky `TestIcebergSparkDropTableCompatibility.testIdBasedFieldMapping `"
https://github.com/trinodb/trino/runs/5625648485?check_suite_focus=true

<details>
  <summary>stacktrace</summary>
    <pre>
      <code>
2022-03-21T11:40:40.4084633Z tests               | 2022-03-21 17:25:40 INFO: FAILURE     /    io.trino.tests.product.iceberg.TestIcebergSparkCompatibility.testIdBasedFieldMapping [ORC, 2] (Groups: profile_specific_tests, iceberg) took 3.8 seconds
2022-03-21T11:4

[2022-03-21 14:24] findepi commented on #11275
https://github.com/trinodb/trino/runs/5601210218?check_suite_focus=true

[2022-03-21 15:47] findinpath opened #11600 "Use `dynamic-filtering.wait-timeout` for delta lake connector"
Same as in the connectors Hive & Iceberg, also in the Delta Lake connector could be made use of the `dynamic-filtering.wait-timeout` to setup a timeout for the dynamic filter.

See https://github.com/trinodb/trino/pull/11549#discussion_r830256077 for more details.

[2022-03-21 18:51] georgewfisher opened #11602 "Add INSERT OVERWRITE to Trino SQL"
**Add INSERT OVERWRITE to Trino SQL to allow connectors to provide overwrite functionality without the need for session parameters.**

Current functionality: example multi-stage query:

1.	`SET SESSION hive.insert_existing_partitions_behavior='OVERWRITE';`
3.	`INSERT INTO hive.test2.insert_test SELECT * FROM tpch.sf1.customer;`

Can instead be written like this:

1.	`INSERT OVERWRITE hive.test2.in

[2022-03-21 18:58] vgankidi commented on #11577
Context here - https://trinodb.slack.com/archives/CJ6UC075E/p1647234370147859

[2022-03-21 20:39] findepi commented on #11602
This was a conscious decision to go with a session property, and explicit syntax has been considered.

[2022-03-21 21:21] sravanip09 commented on #11575
yes it is related to above PR. Updating the Hive connector.For the existing auto_purge flag, enabling the auto purge default value as a catalog property. this if not set is by default false follows default behavior. If required
provides admin to override at a centralized location by setting the default value at connector level. Eliminates the need to set it for each and every table creation. but u

[2022-03-21 23:27] Riddle4045 commented on #11281
@findepi, can I take on this bug?

[2022-03-22 05:16] findinpath commented on #11281
@Riddle4045 there is already a PR for this issue: https://github.com/trinodb/trino/pull/11282

[2022-03-22 06:52] harnsit opened #11609 "Delta connector does support View creation"
Cannot create a new view
[code]

Cannot access Spark SQL views
[code]

[2022-03-22 08:15] ebyhr opened #11610 "Flaky TestingSqlServer initialization due to log message wait strategy"
The expected message "The default collation was successfully changed." was logged, but `LogMessageWaitStrategy` seems failing:
[code]

<details><summary>open</summary>
<p>

[code]

</p>
</details>

https://github.com/trinodb/trino/runs/5640191532?check_suite_focus=true

[2022-03-22 08:57] DwijadasDey opened #11611 "Password protected URL with example http connector"
Hi
With reference to [this issue ](https://github.com/trinodb/trino/issues/11542) which indeed worked with https, i like to know whether the example http connector work with password protected URL ?

For example:

[code]

I tried with a password protected URL like above but i am getting the following error.

Query 20220322_083858_00001_53dj8 failed: java.io.IOException: Server returned HTTP respon

[2022-03-22 09:05] findepi commented on #11527
[code]

#11514

[2022-03-22 09:06] findepi commented on #6220
https://github.com/trinodb/trino/runs/5635973707?check_suite_focus=true

[2022-03-22 09:08] findepi commented on #11527
[code]

#11604

[2022-03-22 12:40] mdesmet commented on #11591
@losipiuk: is this one free to take? Would love to get a better understanding of the Tardigrade features.

[2022-03-22 13:38] findepi opened #11615 "Too much deleted in PostgreSQL when query involves LIKE predicate"
Since 373, PostgreSQL connector accepts DELETE with LIKE predicate, but the LIKE predicate gets ignored in actual delete.

Marking as release-blocker, because in current release (375) more predicates became supported in DELETE and currently ignored.

cc @wendigo @hashhar @losipiuk

[2022-03-22 19:47] shaunlandau1973 opened #11619 "to_iso8601 with timezone incorrect during dst hour"
Trino 371. Daylight savings time ended on November 1st 2020 but the following select statement does not yield expected.

[code]

Expected
[code]

Actual
[code]

Analogous issue is not observed for format_datetime function. E.g.

[code]

Actual == Expected
[code]

[2022-03-23 01:51] qiaozhanwei opened #11622 "Trino hive transactions Invalid method name: 'alter_table_req'"
io.trino.spi.TrinoException: Invalid method name: 'alter_table_req'
  at io.trino.plugin.hive.metastore.thrift.ThriftHiveMetastore.updateTableWriteId(ThriftHiveMetastore.java:1894)
  at io.trino.plugin.hive.metastore.thrift.BridgingHiveMetastore.updateTableWriteId(BridgingHiveMetastore.java:524)
  at io.trino.plugin.hive.metastore.cache.CachingHiveMetastore.updateTableWriteId(CachingHiveMetastore.

[2022-03-23 01:53] ebyhr commented on #11622
Is this duplicate of #7310?

[2022-03-23 02:06] qiaozhanwei commented on #11622
yes , this pr https://github.com/trinodb/trino/pull/6180 is buf fix solution ?

[2022-03-23 02:08] ebyhr commented on #11622
Thanks for your check. It should be the solution. Let me close this issue.

[2022-03-23 02:08] #11622 closed

[2022-03-23 02:46] ebyhr commented on #8150
Closing as #9691

[2022-03-23 02:46] #8150 closed

[2022-03-23 03:04] slhmy commented on #10155
Closing this issue.
Because this is fixed in recent PRs as I known.

[2022-03-23 03:04] #10155 closed

[2022-03-23 03:08] jerryleooo commented on #1910
Glad to contribute, is there any assistant?

[2022-03-23 07:14] findepi commented on #11527
[code]

#11562

[2022-03-23 11:30] ebyhr opened #11634 "Timeout in test (testing/trino-tests) job"
https://github.com/trinodb/trino/runs/5656706909

[2022-03-23 14:27] ssheikin opened #11639 "`TestingEventListenerManager#addEventListenerFactory` should allow to pass parameters to the event listener"
Some event listeners have required parameters.
Current implementation of  `TestingEventListenerManager#addEventListenerFactory` makes it not possible to pass that parameters to the event listener.
[code]
Moreover `addEventListenerFactory` does not add EventListenerFactory, but instantiates eventListener with no parameters.

[2022-03-23 14:27] sopel39 commented on #11527
[code]
https://github.com/trinodb/trino/pull/11469

[2022-03-23 14:54] #11281 closed

[2022-03-23 21:42] georgewfisher commented on #11602
@findepi Dain also mentioned [here](https://github.com/trinodb/trino/pull/11603#issuecomment-1074341294) that this has been extensively discussed but I couldn't find this on Slack or here in Github. Do you have a link?

In my [Slack posting](https://github.com/trinodb/trino/issues/7708) martin mentioned that MERGE was the ANSI solution. If MERGE is implemented for Hive ACID (https://github.com/tri

[2022-03-23 23:03] ebyhr commented on #11527
[code]

#11621

[2022-03-23 23:06] ebyhr commented on #11527
[code]

#11633

[2022-03-24 04:54] ebyhr commented on #11054
https://github.com/trinodb/trino/runs/5668476656

[2022-03-24 04:54] #6400 closed

[2022-03-24 04:55] ebyhr commented on #11527
[code]

#11613

[2022-03-24 06:04] ebyhr opened #11646 "Add docs based test for JDBC connector's case insensitive matching"
[code]

https://github.com/trinodb/trino/blob/master/docs/src/main/sphinx/connector/jdbc-case-insensitive-matching.fragment

[2022-03-24 06:59] sunriseLe opened #11647 "Will trino support ORC column encryption?"
Aapche ORC 1.6  has a new feature: column encryption.
Considering the issue of data security, Hive table has implemented column encryption based on ORC,so than presto or trino can not read real data because of no correct local key.
Will trino support ORC  column encryption? Or anyone already work on it?

[2022-03-24 07:19] findepi commented on #11527
@ebyhr `system.jdbc.columns` is an implementation detail of Trino `java.sql.DatabaseMetaData#getColumns` implementation, so this should be under `JDBC driver`

[2022-03-24 07:27] ebyhr commented on #11527
@findepi Thanks, updated the above comment.

[2022-03-24 08:47] #11615 closed

[2022-03-24 08:49] findepi commented on #11527
[code]

#11615 #11616

[2022-03-24 09:00] findepi commented on #11527
[code]
#11576

[2022-03-24 10:03] ebyhr commented on #11534
@user-GitHub-user  I can't reproduce the issue. Could you please provide DDL of both source and target tables, INSERT SEELCT SQL, error message and stacktrace?

[2022-03-24 10:06] findepi commented on #11527
[code]

#11635

[2022-03-24 10:09] ebyhr commented on #11248
Closing as #11468

[2022-03-24 10:09] #11248 closed

[2022-03-24 10:24] ebyhr commented on #11527
[code]

#11623

[2022-03-24 10:26] zhaoyim commented on #11619
to_iso8601 used java LocalDateTime, format_datetime used joda-time.

I did a simple test about this, seems this is java LocalDateTime issue;  Will we plan to open an issue to java LocalDateTime or use joda-time in to_iso8601? Thanks!

`        System.out.println("=====> java LocalDateTime");
        LocalDateTime localdt = LocalDateTime.of(2020, 11, 1, 7, 0, 0);
        long epochMillis = localdt.

[2022-03-24 10:30] ebyhr commented on #8216
Closing as #8540

[2022-03-24 10:30] #8216 closed

[2022-03-24 14:32] findepi commented on #11527
[code]

#11510

[2022-03-24 16:54] FernandoDorado opened #11655 "Is there any way to dynamically load kafka catalog without restarting trino?"
Hello to all,

I would be interested to see if it is possible to add topics to a kafka catalog without having to change the kafka.properties file and restart my trino counter. Is there any way to do this?

Best regards,
Fernando

[2022-03-24 20:57] cccs-tom commented on #9256
@alexjo2144 I know you took over the Glue work from @jackye1995. Is there any chance that Hadoop catalog is also on your roadmap? My team still has a prod use case for this and we are still available to contribute to this effort.

[2022-03-24 21:42] findepi commented on #9256
Hadoop catalog is not on our roadmap.

[2022-03-25 01:15] ebyhr opened #11659 "Flaky TestHive3OnDataLake.testWriteLargeFiles"
[code]

https://github.com/trinodb/trino/runs/5685160976

[2022-03-25 07:36] hashhar commented on #11527
[code]
#11264

[2022-03-25 07:37] hashhar commented on #11203
Fixed by #11264

[2022-03-25 07:37] #11203 closed

[2022-03-25 09:20] findepi commented on #11659
cc @linzebing @arhimondr @losipiuk
the test has just been added in https://github.com/trinodb/trino/pull/11607 23h ago

[2022-03-25 09:52] findepi opened #11664 "Implement full BaseJdbcTableStatisticsTest for MySQL without histograms"

[2022-03-25 10:26] zhaoyim commented on #11619
`

trino> SELECT to_iso8601(timestamp '2020-11-01 06:00 UTC' AT TIME ZONE 'America/Chicago')
    ->     ,  to_iso8601(timestamp '2020-11-01 07:00 UTC' AT TIME ZONE 'America/Chicago')
    ->     ,  to_iso8601(timestamp '2020-11-01 08:00 UTC' AT TIME ZONE 'America/Chicago');
           _col0           |           _col1           |           _col2
---------------------------+-------------------------

[2022-03-25 10:55] findepi commented on #11275
https://github.com/trinodb/trino/runs/5645073521?check_suite_focus=true

[2022-03-25 11:48] kokosing opened #11667 "Single version backward compatible SPI"
The goal of this issue is to **guarantee that plugin that is using non deprecated Trino SPI in version X can be used also in Trino in version X+1**.

The Trino SPI is amazing. Trino have so many great plugins that allows connectivity with different services. Moreover users can write their own plugins to go beyond that.

Currently SPI is versioned with the Trino version. There is a best effort conv

[2022-03-25 12:10] findepi commented on #11527
[code]

#11512

[2022-03-25 12:17] #11237 closed

[2022-03-25 13:52] cccs-tom commented on #9256
Thanks for the quick reply @findepi. Just to clarify, does "not on our roadmap" mean "it's not a priority for our team but we are open to PRs"? Or is a contribution out of the question as well?

[2022-03-25 14:37] alexjo2144 commented on #9256
The team I'm working with here at Starburst is not planning on working on it, but contributions are always welcome. If you decide to take a try at implementing it yourself let me know if you have any questions about how the Glue version worked, or if you need reviews.

[2022-03-25 15:28] cccs-tom commented on #9256
Sounds good. I am by no means an expert at this, but I will give it a shot. I may only get a chance to tackle it in a month or two, though. And I will almost surely have questions and take you up on your offer! 😄

[2022-03-25 17:11] alec-heif opened #11672 "ALTER TABLE ... EXECUTE optimize (file_size_threshold) does not work when writer count is large"
I was playing around with `ALTER TABLE ... EXECUTE optimize` and I noticed that it seems to not work correctly when the number of workers is larger than the optimal number of files that one would expect to be produced by this function.

Consider a cluster of 80 machines and a dataset of 1000 files, each around 5MB.

Running `ALTER TABLE table EXECUTE optimize(file_size_threshold => '32MB')` does d

[2022-03-26 01:40] ebyhr commented on #11527
[code]

#11644

[2022-03-26 06:43] Riddle4045 commented on #11194
@findepi  @sopel39   is this related to https://github.com/trinodb/trino/issues/11193?
I'd be happy to address this,  if that's okay?

[2022-03-26 06:57] Riddle4045 commented on #4461
@kondamudikarthik  are you working on this, I can start looking into this?

[2022-03-26 07:37] Riddle4045 commented on #10916
@kyo-tom  are you still working on this?
I can look into it.

[2022-03-26 13:22] #10446 closed

[2022-03-26 21:06] metalshanked opened #11682 "Adding an http proxy option for the kinesis connector"
Is there a way to use set an HTTP proxy url for the kinesis connector (something like what is available for the hive.s3 settings) ?

Thanks!

[2022-03-27 08:01] assaf2 commented on #9506
`Cast`: https://github.com/trinodb/trino/pull/11551

[2022-03-28 01:30] ebyhr opened #11685 "Flaky TestPinotWithoutAuthenticationIntegrationSmokeTest.testBrokerQueryWithTooManyRowsForSegmentQuery"
[code]

https://github.com/trinodb/trino/runs/5712955691

[2022-03-28 08:42] findepi commented on #11672
`file_size_threshold` is a selector for which files to process.
I agree we would also want this (or similar config) to determine desired output file size. For this, we need

- use writer scaling https://github.com/trinodb/trino/pull/10614
- make writer scaling work with repartitioned data: https://github.com/trinodb/trino/issues/10791

cc @losipiuk  @sopel39 @alexjo2144 @radek-starburst @homar

[2022-03-28 09:50] mosiac1 opened #11687 "Better access to metadata - allow batched reads of catalog/schema structure"
With a scaling datalake I think metadata becomes even more important

[2022-03-28 11:12] thereisnospoon opened #11689 "Trino worker nodes fail to start when config.properties contain web ui specific properties"
Hi,

I've been trying to provision a Trino cluster on top of AWS EMR. One thing I wanted to configure is to disable auth on Web UI by setting `web-ui.authentication.type` to `fixed` in `config.properties` file as per https://trino.io/docs/current/admin/properties-web-interface.html.

The problem is that when setting `web-ui.authentication.type` property for both master and  worker nodes, the worke

[2022-03-28 12:59] ebyhr commented on #11527
[code]

#11679

[2022-03-28 13:19] fong-kinduct commented on #11588
The ability to quickly create views from your warehouse down stream into JDBC based connectors would bring a lot of value to the project.

since we can't wrap `drop table ...; create table as select ...;` in a transaction as a work around, the ability to `create or replace view ...` in JDBC would enable to share views downstream to applications much more efficiently and seamlessly.

[2022-03-28 17:23] #11659 closed

[2022-03-28 17:24] linzebing commented on #10797
Closed via https://github.com/trinodb/trino/pull/11678

[2022-03-28 17:24] #10797 closed

[2022-03-28 19:29] #11527 closed

[2022-03-28 19:48] georgewfisher commented on #11602
@findepi Additional question: isn't [project Tardigrade](https://trino.io/episodes/32.html) that makes Trino into a Spark-like space where INSERT OVERWRITE is valuable in Spark?

[2022-03-28 19:52] alec-heif commented on #11672
@findepi doesn't Trino have a way of knowing approximately how much data it is about to rewrite during an OPTIMIZE? It kind of seems like writer scaling is a bit of a naive algorithm here, right?

My understanding of writer scaling is that it's good when you don't know how much data you will ultimately end up writing, and so you do this 1-2-4-8-16-etc scaling to try to get something sorta reasonab

[2022-03-28 19:55] alec-heif commented on #11672
Although I guess there is a complexity that we probably start writing before we are done reading, huh... Still, I feel like the writer scaling algorithm could still be tweaked for this use case in a way that would do much better than the truly naive one. Or maybe we sidestep this by letting the user specify an initial number of writers and a scaling factor per-iteration themselves?

[2022-03-28 22:05] martint opened #11692 "Release notes for 376"

[2022-03-29 02:03] Emor-nj commented on #10398
Hi @findepi , I would like to work on this. Could you please assign me?

[2022-03-29 06:14] ulmako opened #11698 "Add Option to suppress materialized view's stale check in iceberg connector"
As discussed with @raunaqmorarka in the this [Slack Thread](https://trinodb.slack.com/archives/CGB0QHWSW/p1647589373377379), materialized views on the iceberg connector save and use the snapshot-ids of the queried tables to check if the data in the storage table is up-to-date. If the data is not up-to-date the storage table is considered stale and the materialized view will query the source tables

[2022-03-29 06:15] assaf2 opened #11699 "Translate IF and CASE to ConnectorExpression"
Open question - Should both be translated to a "$case" function or should we use separated functions?

[2022-03-29 06:16] assaf2 commented on #9506
`IF` and `CASE` https://github.com/trinodb/trino/issues/11699

[2022-03-29 07:27] findepi commented on #11602
i will let @arhimondr comment on Tardigrade

cc @losipiuk

[2022-03-29 07:40] ebyhr commented on #2501
Closing as 67daaa9596c17c07fda9ea87aa84754c10228401

[2022-03-29 07:40] #2501 closed

[2022-03-29 10:39] sopel39 commented on #11194
sure, go ahead

[2022-03-29 23:45] lxynov opened #11708 "Reducing Iceberg TableScan::planFiles calls"
Creating this issue to share findings and as reference thread for further discussion. cc @findepi @electrum @phd3

----
It'll be beneficial to reduce Iceberg [TableScan::planFiles](https://github.com/apache/iceberg/blob/a78aa2dbdb98634f26066c457cc1aef93166be9f/api/src/main/java/org/apache/iceberg/TableScan.java#L173) calls, because
- They can be expensive. Consider a 100TB fact table with average

[2022-03-30 01:00] ebyhr commented on #10902
I think #11092 fixed the lack of storage descriptors in Glue.

[2022-03-30 06:42] ebyhr commented on #6850
@dheerajkulakarni Are you still working on #7197?

[2022-03-30 06:48] dheerajkulakarni commented on #6850
Hey @ebyhr , I am really sorry not getting time to work on this, If someone is interested please do assign it to them!

[2022-03-30 07:09] findepi commented on #11602
also cc @brianzhan

[2022-03-30 07:53] findepi opened #11713 "Data loss due to lack of commit orchestration in Iceberg with Glue"
Same as https://github.com/trinodb/trino/issues/9583 but for Iceberg with Glue

[2022-03-30 07:53] findepi commented on #11713
cc @alexjo2144 @homar

[2022-03-30 08:53] #10902 closed

[2022-03-30 08:59] whutpencil commented on #11689
What's your trino version?

[2022-03-30 09:06] #11591 closed

[2022-03-30 13:51] thereisnospoon commented on #11689
I've tested this version 360

[2022-03-30 15:43] rdblue commented on #11713
@findepi can you share a few more details? I see the other issue was fixed by locking around an entire operation, but that should be unnecessary as long as you're configuring the right validations in Iceberg. What was the use case that caused this?

[2022-03-30 15:46] #9669 closed

[2022-03-30 18:36] linzebing opened #11723 "Occasional S3Exception occurs for S3-based exchange spooling"
See https://gist.github.com/arhimondr/26688098d530ed796dd5ed6d7da37576 for stack trace

[2022-03-30 19:50] kkovachki opened #11724 "Autocommit future request"
We are using different types of data sources and normally we are using auto-commit option during all our tests, based on the documentation, we have to add an explicit commit after the transaction and we have to rework the entire code related to data load. please can you add it as a future request?
Thanks for your help!

[2022-03-30 19:53] kkovachki opened #11725 "Create VIEW on Snowflake connector"
Create VIEW on Snowflake connector. can you add as future request to be able to support CREATE VIEW DDL
error - This connector does not support creating views

[2022-03-30 19:57] kkovachki opened #11726 "quoted_identifiers_ignore_case - Snowflake session parameters"
Please, can you review - quoted_identifiers_ignore_case parameter in Snowflake, this is very important to avoid mix of uppercase and lowercase in the same dataset but using trino or snowflake data source.
Also, will be very useful if we can pass any parameters which is supported on Snowflake as session based via Trino

[2022-03-30 22:40] ebyhr commented on #11725
Closing as duplicate of #11588

[2022-03-30 22:40] #11725 closed

[2022-03-30 22:41] ebyhr commented on #11726
@kkovachki We don't have Snowflake connector in this repository. Could you share the link to the plugin?

[2022-03-31 06:16] HiLany opened #11733 "Query Logger"
Does the community plan to implement the QueryLogger feature?

eg：Persistent query indicator information to the database...

[2022-03-31 06:36] ebyhr commented on #11733
Did you confirm https://trino.io/docs/current/develop/event-listener.html?

[2022-03-31 06:52] HiLany commented on #11733
yes, i think it is the basis for implementing the QueryLogger function.

[2022-03-31 06:53] #11733 closed

[2022-03-31 07:05] ebyhr commented on #11733
You may want to take a look at #11645

[2022-03-31 08:10] kkovachki commented on #11726
We are using Starburst with trino driver - https://docs.starburst.io/latest/connector/starburst-snowflake.html
the idea is to be able to pass special session based parameters to the Snowflake database in order to control one or other feature

[2022-03-31 08:35] ebyhr opened #11734 "TestIcebergGlueCatalogConnectorSmokeTest.cleanup should consider credential expiration"
This cleanup logic fails to list tables if the credential expired during the tests. Then, the expected cleanup won't happen correctly.
[code]

https://github.com/trinodb/trino/blob/master/plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergGlueCatalogConnectorSmokeTest.java

[2022-03-31 10:31] findepi commented on #11692
[code]

#11277

[2022-03-31 12:07] sopel39 commented on #11692
[code]
https://github.com/trinodb/trino/pull/11518

[2022-03-31 12:24] findepi commented on #11692
[code]

#11721

[2022-03-31 14:46] martint commented on #11667
Unfortunately, sometimes they are necessary. I don't think we can enforce non-breaking changes without a way to allow for breaking changes when we need them.

[2022-03-31 15:06] findepi commented on #11692
[code]

#11499

[2022-03-31 19:18] kokosing commented on #11667
You are right. However, having an enforcer for that would prevent us from making such changes accidentally. We can always make exception when needed, but they would be deliberate.

[2022-03-31 19:24] theosib-amazon opened #11743 "Please provide instructions to launch development Trino outside of IDE"
I've been trying to figure out how to run Trino outside of the IDE. I just realized that the thing being described at https://trino.io/docs/current/overview.html is some kind of fully baked release, while the launch instructions at https://github.com/trinodb/trino are for the development environment.

Maybe I missed it, but I can't find either of these:
(a) Instructions to build a release from the

[2022-03-31 20:41] theosib-amazon commented on #11743
Note that installing the RPM that gets automatically built isn't going to solve this problem, since that RPM isn't relocatable.

[2022-03-31 20:45] findepi commented on #11692
[code]

#11657

[2022-03-31 21:26] findepi commented on #11692
[code]

#11652

[2022-03-31 21:27] erikerlandson opened #11744 "Add `add_files` procedure in Iceberg connector"
like so:
https://github.com/RussellSpitzer/iceberg/blob/a4279fc5842046043f2afdc90f2428243958574d/spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java#L80

[2022-03-31 21:42] arhimondr commented on #11602
Tardigrade is rather orthogonal to this problem. The main goal of project Tardigrade is to provide necessary execution primitives in Trino to allow the system to tolerate faults and utilize resources more efficiently. And these capabilities will help with long running, memory intensive queries that are common in ETL space.

However I do have some thoughts around this problem.

There are basically

[2022-03-31 22:21] arhimondr commented on #11733
@HiLany I'm working on a simple version here: https://github.com/trinodb/trino/pull/11645. It can log information from `QueryCompletedEvent` into a `MySQL` table. The current version is very basic. It doesn't support schema evolution and logs everything into a single table.

[2022-03-31 23:55] #5208 closed

[2022-04-01 03:08] ebyhr opened #11747 "Timeout in maven-checks (17) job"
https://github.com/trinodb/trino/runs/5780079718

[2022-04-01 04:10] yittg opened #11748 "Implement ResultSet#getBinaryStream"
Shall we implement `ResultSet#getBinaryStream` by building a `ByteArrayInputStream` instead of throwing an exception?

WDYT @findepi?

https://github.com/trinodb/trino/blob/9c3961712ca813dbac303a239ac98921d5e27489/client/trino-jdbc/src/main/java/io/trino/jdbc/AbstractTrinoResultSet.java#L460-L464

[2022-04-01 07:25] findepi commented on #11692
[code]

#11638

[2022-04-01 08:22] findepi commented on #11692
[code]

#11750

[2022-04-01 08:24] findepi commented on #11748
Good idea.

[2022-04-01 08:27] findepi commented on #11602
(Closing per earlier discussion)

[2022-04-01 08:27] #11602 closed

[2022-04-01 08:46] findepi commented on #11708
It is, but it's linked to Memo, so the cache should be for the `IterativeOptimizer` run.
It's still constructed many times over, as there are many `IterativeOptimizer` instances, but most of these instances never ask for stats. Certainly room for improvement still.

In the above query, how many calls to `getTableStatistics` do you see?
Are the tables partitioned? Unless they are, there are no pred

[2022-04-01 11:19] findepi commented on #11747
cc @nineinchnick

[2022-04-01 11:20] findepi commented on #5208
done in https://github.com/trinodb/trino/pull/11657

[2022-04-01 11:22] nineinchnick commented on #11747
Avg duration for this job in last 30 days was 28 minutes. I'll see what could have changed to increase this recently.

https://nineinchnick.github.io/trino-cicd/reports/ci-cd/#job-duration-in-last-30-days

[2022-04-01 11:23] findepi commented on #11723
@linzebing please paste the stacktrace here to make this issue searchable
you can can perhaps extract it using https://gist.github.com/findepi/04c96f0f60dcc95329f569bb0c44a0cd#extract-exception-stacktrace-from-query-json

cc @arhimondr @losipiuk

[2022-04-01 11:30] findepi commented on #11667
if this is a blocker, then maybe we have a template, or exclusions support from the start in the test, so that we don't need to invent it when a warranted breakage is being introduced?

such support should also force cleanup of exclusions when we cut a new release (auto reset), but that would also mean project state becomes red after  a release is cut.

cc @losipiuk @nineinchnick

[2022-04-01 11:32] findepi commented on #11726
@kkovachki if you have a support contract with Starburst, their representative might be the best person to help.,
Otherwise let's move the conversation to the `#starburst` channel on the Trino slack.

[2022-04-01 11:32] #11726 closed

[2022-04-01 11:33] findepi commented on #11734
how can it happen?
what's the expiration we have?

cc @alexjo2144 @homar

[2022-04-01 11:44] nineinchnick commented on #11747
It might be timing out because of retries:
[code]

[2022-04-01 11:58] ebyhr commented on #11734
This issue won't happen on CI. I configured 3600s timeout with gimme-aws-creds locally. If the expiration timing is bad (=after starting correctly & before end of tests), this issue happens.

[2022-04-01 12:02] findepi commented on #11734
thanks for clarifying. let's close the issue then

[2022-04-01 12:05] #11734 closed

[2022-04-01 12:16] hashhar commented on #11747
The OOM seems new and unexpected and only happens on JDK 17 it seems?

[2022-04-01 14:43] sopel39 opened #11756 "CachingDirectoryLister can leak file listings to unauthorized user"
`CachingDirectoryLister` uses FS provided by caller to list files in directory. If impersonation is used, it means that directory listing would be cached as for a specific user. Then `CachingDirectoryLister` might return directory listing for a user that isn't authorized to do so.

[2022-04-01 14:43] sopel39 commented on #11756
cc @findepi

[2022-04-01 15:05] pratimapatel2008 opened #11757 "Does trino support bloom filter for varchar columns for ORC"
I have tried to create and insert the data to Hive ORC table with bloom filter enabled for double and Varchar columns, however column with double data type had Bloom filter not for Varchar.

**Steps to reproduce**:
[code]

**ORCDump**: We only see column 1 with bloom filter under stripes.

File Version: 0.12 with FUTURE
Rows: 5
Compression: ZLIB
Compression size: 262144
Type: struct<transactionidr

[2022-04-01 15:42] electrum commented on #11756
I think this is a documentation / configuration issue. The only leak here is the file names themselves, which are almost never security sensitive. It might be a correctness issue if different users get different listings.

Do any existing file systems actually return different listings?

The cache is disabled by default, so if someone enables it, they need to understand the implications.

[2022-04-01 16:41] sopel39 commented on #11756
cc @mosabua

[2022-04-01 17:01] theosib-amazon commented on #11743
I figured it out. We may want to mention in the docs what we can do with core/trino-server/target/trino-server-${TRINO_VERSION}.tar.gz.

[2022-04-01 17:37] damnMeddlingKid commented on #961
one possible work around to this is to give the timestamp millisecond precision. I was able to get around this by adding 0.001 to my timestamp.

[2022-04-01 17:45] martint commented on #11743
cc @mosabua

[2022-04-01 19:19] sopel39 commented on #11368
https://github.com/trinodb/trino/runs/5790074728?check_suite_focus=true

[2022-04-02 08:04] chinawch007 opened #11760 "Does trino implement sort-merge join?"
Does trino implement sort-merge join?

[2022-04-02 09:25] JackieTien97 opened #11761 "Memory leak in queryContexts of SqlTaskManager"
It seems that there is no places to remove the entry from `queryContexts`.
<img width="1916" alt="image" src="https://user-images.githubusercontent.com/16079446/161376715-f1b4062d-f7e5-49f3-ad15-79cc44d82373.png">

Even though using `CacheBuilder.newBuilder().weakValues()` which can let gc help us to free the value memory, but the key will get no chance to be removed.

I don't whether it is right

[2022-04-02 09:27] JackieTien97 commented on #11761
And I'm also confused that why not remove corresponding entry in `queryContexts` whille removing `tasks` Map in `removeOldTasks` method.

[2022-04-02 11:29] MichaelTiemannOSC opened #11762 "select count (*) takes minutes for 67K rows; explain gives answer in seconds"
I have a table with 67K rows and 10 columns.  It is partitioned so that every row is in its own partition (later, when I load more data, there will be about 20 rows per partition).  It takes almost 6 minutes to count the rows in the normal way.  When I explain the select query, the plan comes back in just a few seconds and the estimate (67190) is correct.

[code]

Why is this simple query so slow,

[2022-04-02 19:08] kokosing commented on #11667
See https://github.com/trinodb/trino/pull/11722/files#diff-24d9cf3d6431ec3dff2f35927e19c6f9474dc2b1c9c7de86ab031644a999549cR40

[2022-04-04 01:27] ebyhr opened #11764 "TestSharedGlueMetastore.testReadInformationSchema keeps failing on master"
[code]

* https://github.com/trinodb/trino/runs/5801261030
* https://github.com/trinodb/trino/runs/5789989872
* https://github.com/trinodb/trino/runs/5807676880
* https://github.com/trinodb/trino/runs/5808050686

[2022-04-04 01:53] ariforu opened #11765 "Add support to enable user defined custom plan optimizer"
As a Trino admin I want to be able to influence Trino's logical plan. I currently want to be able to do the following things:

- Before executing Trino's internal query optimization on customer query, we want to have an opportunity to conditionally rewrite/modify the original query based on configured/installed custom optimizer.
- This feature should allow user to inject one or more custom optimiz

[2022-04-04 05:36] hashhar commented on #11762
For correctness purposes a `SELECT count(*)` will scan all the files in the table (but only look at the file footers in case of columnar formats like Parquet or ORC).

EXPLAIN doens't execute the query, it just performs planning so it's runtime generally doesn't depend on how much data there is.

Note that table statistics aren't exact and may not always be present or up to date so we can't rely o

[2022-04-04 05:36] #11762 closed

[2022-04-04 05:38] hashhar commented on #11762
Also, as an aside 67k partitions is a lot and most of the time would be spent enumerating and listing the partitions during split generation (for such small overall table size).

[2022-04-04 08:06] nineinchnick opened #11768 "CLI progress adds delay to every query"
When CLI is running with a TTY and is reporting query progress (in interactive mode or batch with `--progress`), there's about 200ms of delay added to every query, even the most basic ones, like `SELECT 1`.

Server logs when executing a query with progress:
[code]

Without progress:
[code]

[2022-04-04 08:07] nineinchnick commented on #11768
#11754 attempts to eliminate this when running in batch with a TTY, but doesn't solve this completely.

[2022-04-04 08:22] findepi opened #11769 "SELECT after INSERT within transaction with Hive connector returns stale data"
[code]

[2022-04-04 08:27] findepi commented on #11769
Test reproducing the problem: https://github.com/trinodb/trino/pull/11771

cc @sopel39 @losipiuk @hashhar

[2022-04-04 08:28] findepi commented on #11769
I am not convinced we should fix this, but it would be good to fail SELECT queries after modifications in Hive connector.

[2022-04-04 09:28] findepi commented on #11764
cc @alexjo2144 @homar

[2022-04-04 09:38] findepi commented on #11761
thanks for asking!

as you noticed, it's weak-values cache

per `com.google.common.cache.CacheBuilder#weakValues`

[2022-04-04 09:38] #11761 closed

[2022-04-04 09:38] findepi commented on #11760
No, Trino does not implement it.

[2022-04-04 09:38] #11760 closed

[2022-04-04 09:51] findepi commented on #11764
This looks like a product, not test's, problem. @ebyhr can you please reformulate issue with this in bind?

[2022-04-04 09:56] ebyhr commented on #11764
Sure, I will look into and update the title and description.

[2022-04-04 12:57] vinay-kl opened #11776 "Query Fails when distinct and limit operators are present"
Splits: 81 total, 29 done (35.80%)
 CPU Time: 0.1s total, 15.6K rows/s, 7.41MB/s, 17% active
 Per Node: 0.0 parallelism,   152 rows/s, 74.1KB/s
 Parallelism: 0.4
 Peak Memory: 899KB
 0.30 [2.05K rows, 994KB] [6.87K rows/s, 3.26MB/s]

[code]

[2022-04-04 12:57] vinay-kl commented on #11776
slack thread link https://trinodb.slack.com/archives/CGB0QHWSW/p1648895226302229

[2022-04-04 13:14] pettyjamesm commented on #11776
Can you provide the `EXPLAIN` output for the query? Does this failure occur reliably or does it sometimes succeed?

[2022-04-04 13:23] nineinchnick commented on #11054
I think we should close this. There was this error in logs:
[code]
which might have produced a corrupted artifact, and this should be addressed by #11593

[2022-04-04 13:23] #11054 closed

[2022-04-04 13:34] nineinchnick commented on #10652
@ebyhr do you remember what this is about?

[2022-04-04 13:47] vinay-kl commented on #11776
[code]

[2022-04-04 13:59] hashhar commented on #11054
@nineinchnick That explains why it occurred most often with JDK 17 job (but on others as well).

[2022-04-04 14:20] alexjo2144 commented on #11692
[code]
https://github.com/trinodb/trino/pull/11617

[2022-04-04 14:24] MichaelTiemannOSC commented on #11762
...And when I do create a table with 67K entries across 100 buckets, each bucket has approximately 670 separate ORC files per bucket.  The count (*) operation for that takes 3:44, which is 2x faster than having 67000 separate partitions, but still unacceptably slow.

[2022-04-04 18:29] MichaelTiemannOSC commented on #10623
So what is the remaining distance between the  PR covering #10622 merged into Trino 371 and this enhancement?

[2022-04-04 19:01] MichaelTiemannOSC opened #11777 "Iceberg connector doesn't support storage_format session property"
Presently, when I run `ALTER TABLE ... EXECUTE OPTIMIZE ...` all my ORC files get rewritten as PARQUET files, which breaks our plans to use metadata in the ORC way.

I was told "So you can indeed keep using ORC via SET SESSION <iceberg_catalog_name>.storage_format = 'ORC'; ALTER TABLE ... EXECUTE OPTIMIZE ... I believe. If it doesn't work that should be a bug."

I am reporting it as a bug that I c

[2022-04-04 19:14] #9843 closed

[2022-04-04 19:31] Jessie212 opened #11778 "I would prefer to delay this whole addition since this is quite a bit more complicated and should maybe be handled in more detail in our JKS and PEM file page. I also dont know what is truly supported (e.g. do pem files work like on the server). We could just link to our TLS page and the certificate section but it is not helpful enough at the moment either. Can we handle this all in a follow up ticket?"
I would prefer to delay this whole addition since this is quite a bit more complicated and should maybe be handled in more detail in our JKS and PEM file page. I also dont know what is truly supported (e.g. do pem files work like on the server).  We could just link to our TLS page and the certificate section but it is not helpful enough at the moment either. Can we handle this all in a follow up t

[2022-04-04 19:50] mdesmet opened #11779 "Delta connector doesn't support all Trino Access Control modes"
Trino connectors should support all access control modes as explained in the [docs](https://trino.io/docs/current/security/built-in-system-access-control.html).

Currently the Delta connector is set to SYSTEM, while allow all, read-only and file are not supported.

[2022-04-04 21:29] ebyhr commented on #10652
@nineinchnick The milestone job rarely fail as https://github.com/trinodb/trino/actions/workflows/milestone.yml?query=is%3Afailure

[2022-04-04 21:45] ebyhr commented on #11692
[code]

#11493

[2022-04-04 22:03] hashhar commented on #11777
cc: @findepi

[2022-04-05 00:06] ebyhr opened #11784 "Flaky TestMemoryManager.testClusterPools"
[code]

https://github.com/trinodb/trino/runs/5821336551

There was the same issue with different assertion in #10684

[2022-04-05 05:52] ebyhr commented on #11692
[code]

#11606

[2022-04-05 07:43] findepi commented on #11699
Martin and I discussed possible options to represent CASE.

An important property of CASE expression is that is has conditional evaluation for the _values_.
eg expression like `CASE WHEN x > 0 THEN 10 / x ELSE NULL END`  must not fail when `x=0`.

One option is to model CASE as a function call. This would mean that either this function call is "special", as it defines conditional evaluation of it

[2022-04-05 07:43] findepi commented on #11699
Now, regarding IF:
IF should be treated as a syntactic sugar and represented as CASE.
Whether the translation back from `ConnectorExpression` should recreate the IF does not matter from planner perspective, but MAY matter from bytecode generation perspective. We should check with @dain @sopel39 @lukasz-stec whether one form -- IF or CASE -- is preferred by the expression execution engine.

[2022-04-05 07:52] nineinchnick commented on #10652
I was hoping you might have an idea about the root cause. I think I've seen this error a few times:
[code]
Maybe we can change the action to handle the `already exist` error and try to get the milestone again.

[2022-04-05 08:51] ebyhr commented on #10652
@nineinchnick I couldn't find the root cause when I was debugging the issue in January. Adding retry logic looks good to me.

[2022-04-05 09:22] #11748 closed

[2022-04-05 09:23] findepi commented on #11692
[code]

#11753

[2022-04-05 09:48] MiguelWeezardo commented on #11747
For ease-of-use I would recommend [JProfiler](https://www.ej-technologies.com/products/jprofiler/overview.html) or [YourKit](https://www.yourkit.com/java/profiler/features/) but if you need to stick to the command line you can use `jcmd <pid> GC.heap_dump <file-path>` or add `-XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=<file-or-dir-path>` to the java call which runs Maven.

[2022-04-05 10:04] ebyhr opened #11794 "Add BaseConnectorTest test to verify failure when creating tables in a schema where it doesn't exist"
Relates to #11110

[2022-04-05 10:06] findepi commented on #11777
Yes, we do not have `storage_format` session property. In Iceberg, the desired file format is recorded on the table level.
You can inspect it with
[code]

[2022-04-05 10:06] #11777 closed

[2022-04-05 12:29] njalan opened #11795 "Failed to enable hive cache"
Below is my configuration on trino 375 and only one node for testing:
hive.cache.enabled=true
hive.cache.location=/data/hive-cache
hive.metastore.uri=thrift://xxx:9083
hive.s3.aws-access-key=xxx
hive.s3.aws-secret-key=xxx
hive.s3.endpoint=http://xxxxx
hive.s3.path-style-access=true
hive.s3.ssl.enabled=false

Cache folder is already created locally but there is no data exists in this cache director

[2022-04-05 12:31] njalan opened #11796 "Work node used crashed when Runnable drivers is very high"
I found that once the Runnable drivers is very high from the prestosql(340) Web UI then one of the cluster work node will crash. Is there any solution for this? The node actually crashed by high cpu workload.

[2022-04-05 12:37] findepi commented on #11777
@MichaelTiemannOSC  what's the output of `SHOW CREATE TABLE` for your table?

[2022-04-05 12:52] findepi commented on #11777
I tried to reproduce the problem. I configured Iceberg to use PARQUET by default
[code]

and then
[code]

[code]

-- the OPTIMIZE ended up created ORC files as desired.

@MichaelTiemannOSC can you please validate my repro steps in your environment, and help me reproduce the problem you're observing?

[2022-04-05 12:59] findepi commented on #11784
we have already 3 open issues for `TestMemoryManager`
https://github.com/trinodb/trino/issues?q=is%3Aissue+is%3Aopen+TestMemoryManager

@arhimondr @linzebing @sopel39 @losipiuk

[2022-04-05 13:21] sopel39 commented on #11769
Let's just remove `SemiTransactionalHiveMetastore`? cc @dain

[2022-04-05 13:24] sopel39 commented on #11692
[code]
https://github.com/trinodb/trino/pull/11650

[2022-04-05 14:22] findepi commented on #10932
https://github.com/trinodb/trino/runs/5833064777?check_suite_focus=true

[code]

[2022-04-05 14:26] kokosing opened #11798 "Hive locks in waiting state still held indefinitely"
Hive locks in waiting state, timestamp acquired_at would have ‘NULL’ value,  and then locks are held indefinitely. The missing timestamp might be the cause.

Steps to reproduce:
1. There is an exclusive lock on the hive table (perhaps by writing data with hive/spark)
2. Run select query in Trino, Trino shared_read lock in waiting state due to the exclusive lock in step 1
3. If we cancel the Trino

[2022-04-05 21:33] #6220 closed

[2022-04-05 21:35] sopel39 commented on #11692
[code]
https://github.com/trinodb/trino/pull/11758

[2022-04-05 22:03] Jackie-Jiang commented on #10164
@mapshen I think this issue is already fixed in pinot. Could you please verify that?

[2022-04-06 00:09] #11600 closed

[2022-04-06 00:10] ebyhr commented on #11692
[code]

#11600

[2022-04-06 00:21] osscm commented on #11708
I have also noticed this, while in Iceberg it's configurable through a system config and not an iceberg config.

https://github.com/apache/iceberg/blob/a540d9c56bc88f9ef3a1a4df9d9d7b1d85dcf91e/core/src/main/java/org/apache/iceberg/util/ThreadPools.java#L64-L74

if this can be configured at the catalog level (at least), can help for the heavy queries?

[2022-04-06 02:19] arhimondr opened #11807 "Document MySQL event listener"
A simple version of an event listener that does not require implementing an HTTP endpoint.

The current version might not be suitable for production use as it doesn't support automatic schema evolution.

[2022-04-06 03:54] whutpencil commented on #3426
@daiwei233 Have you solved it?

[2022-04-06 07:16] ebyhr opened #11815 "Revisit all TODO in AbstractKuduConnectorTest"
There're more than 10 skipped tests in Kudu with below comment, but it would be better to add tests in connector specific way. Otherwise, it's hard to detect regression likes #11814. After supporting default partitions, we can just remove overridden tests.
[code]

[2022-04-06 07:17] findepi commented on #11699
good idea, updated above

@sopel39 @lukasz-stec please chime in on this

[2022-04-06 07:24] JackieTien97 commented on #11761
Thanks for you response @findepi , but I'm still confused that why not remove corresponding entry in `queryContexts` whille removing `tasks` Map in `removeOldTasks` method.

[2022-04-06 07:40] findepi commented on #11016
https://github.com/trinodb/trino/runs/5838149587?check_suite_focus=true

[2022-04-06 08:21] lukasz-stec commented on #11699
I'm not 100% sure that the current generated code for IF and CASE representing IF have the same performance (though it looks like it), but since those two are logically equivalent, there is nothing stopping us from generating the same bytecode in both cases if necessary.

[2022-04-06 08:59] radek-kondziolka opened #11820 "Inefficient and redundant implementation of aggregation states."
**The problem**

There are some redundant calls for aggregating operators that use more than one state.

Let's take the real example - `io.trino.operator.aggregation.RealAverageAggregation`

[code]
This aggregation function bases on two states - `LongState` and `DoubleState`. Let's call them atomic states.
Currently, for an aggregation functions that uses more than one atomic state, `AccumulatorCo

[2022-04-06 09:19] findepi commented on #11699
Thanks @lukasz-stec for chiming in. So for this issue, let's _not_ try to preserve IF troundtip from Expression to ConnectorExpression and back.

[2022-04-06 09:25] ysn2233 opened #11823 "Elasticserch date field with format shouldn't be ignored with custom format"
The elasticsearch connector ignores date fields with custom format, which I think it is unneccessary. Date format information of fields can be got easily from elasticsearch metadata. So we can decode date value according to those formats metadata.

[2022-04-06 09:25] findepi commented on #4063
I just reopened https://github.com/trinodb/trino/issues/2330, see https://github.com/trinodb/trino/issues/2330#issuecomment-1090052876

[2022-04-06 09:27] ysn2233 commented on #11823
The elasticsearch connector now pulling datetype field as a normalized doc_filed instead of its original value from JSON source. So I think we don't need to ignore date field with format.

[2022-04-06 09:31] findepi opened #11825 "Wrong number of rows inserted into Hive with fault-tolerant execution"
`TestHiveFaultTolerantExecutionConnectorTest.testPartitionPerScanLimitWithMultiplePartitionColumns` is flaky

[code]

-- looks like a wrong number of rows got inserted

cc @arhimondr @losipiuk @linzebing

[2022-04-06 09:33] findepi commented on #11692
[code]

#11792

[2022-04-06 09:40] sopel39 commented on #11820
cc @martint @dain

[2022-04-06 09:59] findepi commented on #11765
Let me close this issue as it duplicates https://github.com/trinodb/trino/issues/18 ("allow connectors to provide optimizer rules").

See also explanation https://github.com/trinodb/trino/pull/11767#issuecomment-1090083153

[2022-04-06 09:59] #11765 closed

[2022-04-06 10:08] findinpath opened #11826 "Dropping a previously renamed *partitioned* table fails in Hive consistently with request timed out on HMS"
*hive.properties*
[code]

*trino cli*
[code]

*stacktrace*

[code]

When working with a non-partitioned Hive table the `DROP` operation completes successfully.

[2022-04-06 10:39] losipiuk commented on #10631
Hopefully fixed by https://github.com/trinodb/trino/pull/11592.
Closing as it does not occur recently.

[2022-04-06 10:57] findepi commented on #11826
Does this look like a HMS bug?

[2022-04-06 11:08] #11747 closed

[2022-04-06 12:23] #11794 closed

[2022-04-06 12:23] sopel39 commented on #11776
I think I know what the problem is.
Previously (without dictionary support) positions in input blocks were assigned group id incrementally. Now it's not the case, e.g:
[code]
might happen. This break assumption in `DistinctLimitOperator`, but I also think causes potential correctness issue in `MarkDistinctHash` unfortunately.

[2022-04-06 12:28] ebyhr commented on #11692
[code]

#11808

[2022-04-06 13:36] findinpath commented on #11826
Yes indeed. The issue is related to an older HMS version and not to Trino itself.

[2022-04-06 13:36] #11826 closed

[2022-04-06 13:51] findinpath opened #11828 "Add Iceberg tests for checking read ability from Trino for Iceberg tables created from static resources"
Instead of creating on the fly an Iceberg table with Trino and run queries against it, use static resources for setting up an Iceberg test environment which can be used to  read Iceberg v1 / v2 tables and guard trino-iceberg plugin against regresssions.

Related discussion: https://github.com/trinodb/trino/pull/11642#discussion_r843193907

[2022-04-06 13:52] findepi commented on #11713
We shouldn't lock for the the entire write.
Still, we want to know the final update doesn't override some other thread's or cluster's update.
IIRC @jackye1995 was saying we should use Glue versioning API to implement compare-and-set semantics.

[2022-04-06 14:39] sopel39 commented on #11776
I'm labeling that as release blocker as it's correctness issue

[2022-04-06 15:13] #11016 closed

[2022-04-06 16:00] mosabua opened #11830 "Improve dynamic row filtering docs for Delta Lake"
PR #11709 only added the one simple property in the docs without context. I would expect to have a section like

https://docs.starburst.io/latest/connector/starburst-delta-lake.html#dynamic-row-filtering

if all these properties are valid and correct.

At a minimum we should link to more info from the now added property (which uses a delta. prefix...)

[2022-04-06 16:00] mosabua commented on #11830
Let me know if you want me to send a PR...

[2022-04-06 17:45] TFiroozian opened #11831 "Iceberg Catalog returns getTablesWithParameter for GlueHiveMetastore is not implemented for all queries"
I'm running trino on EMR and I have added the iceberg connector for the trino.

These are the configuration under the iceberg.properties

[code]

To reproduce the error:

trino> use iceberg_poc ;
USE
trino:iceberg_poc> show tables;
Query 20220406_174310_00013_m5ibj failed: getTablesWithParameter for GlueHiveMetastore is not implemented
trino:iceberg_poc> select * from test_table;
Query 20220406_17

[2022-04-06 18:10] martint commented on #11823
Related: https://github.com/trinodb/trino/pull/8896

[2022-04-06 20:48] findepi commented on #11831
Real Iceberg Glue support was added in https://github.com/trinodb/trino/pull/10845, so Trino 374.
Please upgrade.

[2022-04-06 20:48] #11831 closed

[2022-04-06 20:49] findepi commented on #11831
(If you need Trino as a kind of managed service and don't want to wait for EMR's to update to 374, you can try things out sooner with Starburst Galaxy; disclaimer: i'm from Starburst)

[2022-04-06 21:23] mosabua commented on #11830
Renamed ticket now since row level filtering is not yet implemented. For now just made sure the new property doc links to the dynamic filtering docs for more info

[2022-04-06 22:39] arhimondr commented on #11825
Looking

[2022-04-06 22:40] arhimondr commented on #11368
Looking

[2022-04-07 00:35] #11830 closed

[2022-04-07 01:31] liijiankang commented on #5472
When the query time is long, such as more than an hour, this problem still occurs.

[2022-04-07 07:37] cutiechi opened #11838 "No iceberg table column comment"
There are no comments for iceberg table fields in the Hive Metastore

[2022-04-07 07:46] findepi commented on #11692
[code]

#11642

[2022-04-07 07:56] findepi commented on #11838
IMO there is no need to write any table schema to metastore.
The table schema, including comments, is within table metadata in table directory. This is the source of truth.