[2020-11-07 05:48] ArvinZheng opened #5864 "Sort the functions and operators by alphabetical order"
Function and operator categories under the `Functions and Operators` section are not arranged in a specific order for better or easier to read and search, we should sort them by alphabetical order as we've done to other sections like `Connectors` and `SQL Statement Syntax`

[2020-11-07 06:16] jasonyanwenl commented on #3134
Hi @achyudh are you still working on this? I would like to take a look at this issue as well.

[2020-11-07 15:44] findepi commented on #5678
@martint this is user visible if thjey access stats from other system (hive, spark, impala, etc).
if they use Presto only, it is not visible change.

[2020-11-08 09:05] reugn opened #5868 "Support INSERT statement using arbitrary/out of order column names"

[2020-11-08 09:29] kokosing commented on #5868
Can you please share more details? As far I know it is already supported by the engine, see: https://prestosql.io/docs/current/sql/insert.html

However there might be some issues in certain connectors.

[2020-11-08 09:49] reugn commented on #5868
@kokosing According to the documentation, you need to provide the column names in the order they appear in the table. There is no option to skip one of them, and you can drop only the tail columns to be set to null. The `Page` from the `public CompletableFuture<?> appendPage(Page page)` of the `ConnectorPageSink` has only the positions of the values.

[2020-11-08 10:02] kokosing commented on #5868
Please see: io.prestosql.testing.AbstractTestDistributedQueries#testInsert

![image](https://user-images.githubusercontent.com/7569403/98462105-cf8d3d00-21b1-11eb-9ca9-e8290f160504.png)

That proves that you can use arbitrary subset of columns. Depending on connector null values will be inserted to missing columns or default values.

[2020-11-08 17:54] reugn commented on #5868
Figured out the root cause for faulty INSERT behavior. It was a misuse of the `supportsMissingColumnsOnInsert` flag on my side.

[2020-11-08 17:54] #5868 closed

[2020-11-09 00:46] achyudh commented on #3134
@jasonyanwenl nope, feel free to take it up

[2020-11-09 03:23] #5622 closed

[2020-11-09 04:21] pradeepagrawal8184 opened #5873 "Insert query to presto-hive partitioned table fails when there are 1000 partitions even though the number of records are very less."
Problem Statement: Insertion to partition table is failing in limited memory environment even with a small dataset. For large no. of partitions (1000 partitions) lot of memory (more than 4GB) is required even for small datasets of few MB.
If a table has partition on columns where partition columns contains around 1000 distinct values then insert operation to partitioned column fails with error mes

[2020-11-09 08:56] waterlx opened #5875 "NPE when refreshFromMetadataLocation() in iceberg connector"
[code]

https://github.com/prestosql/presto/blob/c690d8511ffbcec6dca33c65d92dcecd9d875c38/presto-iceberg/src/main/java/io/prestosql/plugin/iceberg/HiveTableOperations.java#L308

It seems we could get null from newMetadata.get()?

[2020-11-09 09:01] waterlx commented on #5875
I am trying to find more.  @Parth-Brahmbhatt @electrum FYI.

[2020-11-09 09:11] sopel39 commented on #5873
Please try to set `use-preferred-write-partitioning=true` feature config or `set session use_preferred_write_partitioning=true` session property.

[2020-11-09 09:12] sopel39 commented on #5824
It looks like that predicate works:
[code]

[2020-11-09 10:25] losipiuk commented on #5678
Yeah, exactly. Maybe we can drop this fro RN. I am not sure. The reason for removal was that Presto did not use the written statistics for timestamp columns. And there was no test coverage at all. There is an issue to readd it with proper support.

[2020-11-09 10:46] sopel39 opened #5877 "Optimize Presto self-join queries"
Case study tpcds/q95:
[code]
Web sales tables are large and are currently read twice by Presto. However, since this is a self join Presto could wait until build side is read and feed it back as a probe side. This would save one read of `web_sales` table. Such optimization requires that join is executed as repartitioned join (which for large tables would be the case).

It seems that we could try to

[2020-11-09 11:40] sopel39 opened #5878 "Optimize queries with similar subplans (CTE)"
Many queries also have similar subqueries. For instance:
* `tpch/q21` share similar subqueries in two `NOT EXIST/EXIST` correlated subqueries.
* `tpcds/q95` has a redundant `IN` predicate which can be removed

This would also enable us to optimize queries where:
* some subquery predicates are redundant (see `tpcds/q95`)
* same subquery can be used to evaluate different `IN/EXISTS/NOT EXISTS/ALL` p

[2020-11-09 11:46] sopel39 commented on #5878
Initially we could focus on eliminating redundant predicates.

[2020-11-09 11:55] losipiuk opened #5879 "CI timeout due to loop on failing `./mvnw verify presto-server-rpm`"
Sometimes CI `maven-checks` timeouts when `./mvnw verify -B -P ci -pl presto-server-rpm` is run failing ever time.

It looks like first run of the command failed because of communication error when talking to maven repo.

[code]

And all the following retries fail because local maven repo is in invalid state:
[code]

Link to failing check: https://github.com/prestosql/presto/pull/5815/checks?check

[2020-11-09 12:13] sopel39 opened #5880 "Reuse table scan results when the same table is used in different parts of query"
In `tpcds/q95` `web_sales` table is scanned multiple times. Additionally, that table is then distributed across nodes using same hash column:
[code]
or
[code]
`web_sales` table is a large table. Instead of reading it multiple times, it should be possible to cache `TableScan` results in output buffers and read it by multiple downstream stages. Note that some `web_sales` scans have DF applied, so su

[2020-11-09 12:14] sopel39 commented on #5880
Similar approach could be used to cache CTE (https://github.com/prestosql/presto/issues/5878) in the future.

[2020-11-09 12:18] ebyhr commented on #5868
@reugn By the way, you can ask a question on community Slack's `#dev` channel when you faced development issues.
https://prestosql.io/slack.html

[2020-11-09 12:47] sopel39 commented on #5877
In case of queries like:
[code]
it can still be simplified to:
[code]
because nested right join could potentially be applied below left join too.

[2020-11-09 12:55] findepi commented on #4864
https://github.com/prestosql/presto/runs/1365696656

[2020-11-09 12:57] findepi commented on #4864
cc @vrozov @djsstarburst

[2020-11-09 13:05] findepi commented on #5790
@electrum what are your thoughts on this?

[2020-11-09 13:29] losipiuk commented on #5678
[code]
#5815

[2020-11-09 13:58] findepi commented on #5879
Perhaps relates to https://github.com/prestosql/presto/issues/5816

[2020-11-09 18:02] JamesRTaylor commented on #5824
Unless I set `hive.max-partitions-per-scan` to a number bigger than the total number of partitions, the query fails. Note also that if the outermost `SELECT *` query filters against a different column than `user_id`, such as `status`, we don't receive this error. Do you think it might be related to filtering on a nested column?

[2020-11-09 18:33] jagan985 commented on #916
Dear All,
Could someone help me with the issue I'm facing currently, Im connecting to presto using Presto CLI by constructing presto string including user and password and trigger it in bash.
When I grep the process in unix, the whole presto string is being shown including the password.
Help me to overcome this issue.

String ptr_sec = presto_cli_path + "/presto --server " + presto_https_server +

[2020-11-09 19:47] lhofhansl commented on #5686
This is needed and useful for many use cases (one of them being efficient RECURSIVE queries).

We could start simple and just allow creating table that will be dropped when the session ends (no hiding rules, etc, that can come later). That would not limit what catalog a table resides in, etc.

I'm happy to give it a shot - if somebody points to the best place to put a **session-end-hook**. I looke

[2020-11-09 21:25] vrozov commented on #4864
Looks like a race condition in iceberg to me.

[2020-11-10 01:47] electrum commented on #5678
[code]
#5698

[2020-11-10 01:48] electrum commented on #5678
[code]
#4581

[2020-11-10 01:50] electrum commented on #5678
[code]
#5693

[2020-11-10 01:51] electrum commented on #5678
[code]
#5702

[2020-11-10 01:53] electrum commented on #5678
[code]
#5283

[2020-11-10 01:54] electrum commented on #5678
[code]
#5787

[2020-11-10 01:55] electrum commented on #5678
[code]
#5787

[2020-11-10 01:59] electrum commented on #5678
[code]
#5851

[2020-11-10 02:00] electrum commented on #5678
[code]
#4832

[2020-11-10 02:31] XuQianJin-Stars commented on #5714
hi @electrum PTAL

[2020-11-10 06:10] jasonyanwenl commented on #3134
Hi @ebyhr, may I ask which part of the code is a good place to start? Thanks!

[2020-11-10 06:53] ebyhr commented on #3134
@jasonyanwenl I think you can start with `MongoSession#getTableMetadata` that has "guess fields" mechanism.

[2020-11-10 10:52] findepi opened #5892 "Failing test TestIcebergMaterializedViews testCreateRefreshSelect, testDetectStaleness, testNestedMaterializedViews, testReplace, testSqlFeatures, tearDown"
https://github.com/prestosql/presto/runs/1378416159

[code]

[2020-11-10 10:53] findepi commented on #5892
cc @anjalinorwood

[2020-11-10 10:58] findepi commented on #5892
Locally, this is failing consistently for me.
Since this has just been merged, i assume this is due to a logical merged conflict.
I don't what needs to be fixed, and I don't want to revert all of the https://github.com/prestosql/presto/pull/4832 PR, so i propose we disable the test for now and fix it ASAP.
https://github.com/prestosql/presto/pull/5893

[2020-11-10 11:13] losipiuk commented on #5678
[code]
#5392

[2020-11-10 11:16] findepi opened #5895 "Report GHA (CI) tasks that timed out as failures"
The timed out configurations have the gray cancel icon, which is not as eye-catchy as red x icon.
Since we have high number of tasks, it's easy to overlook a cancelled one.

[2020-11-10 11:17] findepi commented on #5895
FWIW this is a custom CSS style i’m using to make them more visible in the browser:

[code]

[2020-11-10 11:34] kokosing commented on #5678
[code]
#5782

[2020-11-10 11:48] sopel39 opened #5897 "Optimize "cardinality insensitive" queries"
Having an aggregation, e.g: `Aggregation(x, y)[]` means that cardinality of pairs `(x, y)` is irrelevant. This can lead to various optimizations:

1. Join execution optimization. `tpcds/q95` contains plan:
[code]
Upper join produces `10353636224` rows, even though probe only produces `903991253` rows. This means that each probe row is multiplied 10x times, even though just single match is sufficie

[2020-11-10 11:54] hashhar opened #5898 "Indicate optionality of fields in Kafka connector table definitions"
Today the Kafka connector code itself doesn't indicate what is required and what is not from the table definitions (`KafkaTopicDescription`).

This can leads to subtle bugs as in https://github.com/prestosql/presto/pull/5838#discussion_r519546281.

And it's helpful to be able to write Kafka connector code without consulting the documentation as the spec.

[2020-11-10 12:29] losipiuk commented on #5678
[code]
#5392

[2020-11-10 13:22] #5752 closed

[2020-11-10 13:25] kokosing commented on #5678
[code]
#5751

[2020-11-10 13:46] losipiuk opened #5901 "Update Oracle version used in tests to 12"
Currently we are using Oracle 11g in tests. One of the implications of using old release is that we cannot use long identifiers (Oracle 11 has limit to 32 characters).
It would be nice to upgrade version to something newer. E.g. https://github.com/MaksymBilenko/docker-oracle-12c

[2020-11-10 13:50] findepi commented on #5638
@pettyjamesm is there any other code version we should be using instead?

[2020-11-10 14:19] kokosing commented on #5422
Another similar case:

[code]

This happened for:
 - ci / pt (config-default, suite-2) (pull_request) Cancelled after 120m — pt (config-default, suite-2)
 - ci / pt (config-cdh5, suite-1) (pull_request) Cancelled after 120m — pt (config-cdh5, suite-1)

[2020-11-10 14:24] pettyjamesm commented on #5638
@findepi none that I’m aware of. We’ve maintained a version with some other thread safety fixes (eg: unsynchronized static map access: https://github.com/rcongiu/Hive-JSON-Serde/blob/5c7ca56d084c6b507dcf78ad16b66e01c518201f/json-serde/src/main/java/org/openx/data/jsonserde/objectinspector/JsonObjectInspectorFactory.java#L32) but doubt we’ll be taking on the task of maintaining an open source fork,

[2020-11-10 14:31] anjalinorwood commented on #5892
@findepi I am investigating. Thanks for disabling the tests.

[2020-11-10 15:03] sopel39 opened #5903 "Optimize presto worker grace period"
Currently, worker waits 2x grace periods:
1. first grace period is for coordinator to observe that worker is shutting down
2. second grace period is for coordinator to observe status of finished queries.

This can be optimized so that if there were no new queries in first grace period, a second grace period is not needed. Generally, we should wait up to:
[code]

[2020-11-10 16:04] dmgcodevil commented on #5825
@phd3 looks good, also did some testing on real data. Do you have any ETA when PR will be merged?

[2020-11-10 16:07] #5678 closed

[2020-11-10 16:14] phd3 commented on #5825
@dmgcodevil Release 346 is going out likely today, so we should be able to merge it after that. (and then it'll be available in the next release)

[2020-11-10 16:24] realknorke opened #5904 "Support DISTINCT-COUNTS in LATERAL-Join Subquery"
Please add support for `DISTINCT` counts in `LATERAL` subqueries. In my case I need this to get "cumulative counts".

[code]

[2020-11-10 21:43] martint commented on #5897
How is this not just "push (partial) aggregation through join"?

[2020-11-10 21:55] findepi opened #5908 "Accessing Hive VIEW with anonymous columns fails with "view .. is stale; it must be re-created""

[2020-11-10 22:16] findepi opened #5911 "Update outdated Hive VIEW product tests"
At least since https://github.com/prestosql/presto/pull/4661 some tests no longer test what their name suggests.

See TODO in the code (eg added in https://github.com/prestosql/presto/pull/5909)

[2020-11-10 22:20] sopel39 commented on #5897
You would have to push partial aggregation on both `x1.a, x1.i` and `x2.a, x2.j`. It doesn't have such big reduction power anymore so the performance doesn't improve much. Here it's more about improving actual execution of join and pushing final aggregations (case 2)

[2020-11-11 00:55] martint opened #5912 "Release notes for 347"
## Dain Sundstrom
- [x] all checked
-  11-12 11:37:36    1b81ae2bac Add contains_sequence function
-  11-16 15:35:24    1a60078009 Make query result HTTP compression client configurable
-  11-16 15:35:24    50db49581a Make query result HTTP compression server configurable
-  11-19 10:58:40    65167a5ebd Add scan physical size stats to query completed event
## David Phillips
- [x] all checked
-  11

[2020-11-11 04:08] wmoustafa commented on #5689
Supporting native Hive UDFs in Presto is not very straightforward as the UDF model is completely different. For example, Hive uses an initialize() function in GenericUDF to define type validation and inference. On the other hand, Presto uses type signatures. Since [initialize()](https://hive.apache.org/javadocs/r2.2.0/api/org/apache/hadoop/hive/ql/udf/generic/GenericUDF.html#initialize-org.apache.

[2020-11-11 04:10] wmoustafa commented on #5688
We are looking into this. Fix is underway (currently reviewing internal patch).

[2020-11-11 04:24] #1777 closed

[2020-11-11 04:27] ebyhr commented on #5912
[code]

https://github.com/prestosql/presto/pull/5507

[2020-11-11 04:29] wmoustafa commented on #5908
@findepi, are you referring to Hive virtual columns? Is the expectation to support them or return a better error message?

[2020-11-11 04:31] wmoustafa commented on #5606
I think "Support custom UDFS" should refer to #5689 instead.

[2020-11-11 04:31] ebyhr opened #5913 "Optimize executeBatch in JDBC driver"
#5507 implemented `PreapredStatement.executeBatch` in JDBC driver, but it will be sent each statements to the server.

Related to #1777 & #5507

[2020-11-11 04:36] wmoustafa commented on #5837
Looking into it. The current workaround we suggest for our internal users is to use the alternative CASE syntax with boolean expressions instead:
[code]

[2020-11-11 04:39] wmoustafa commented on #4619
We are working on this one for the Coral repo. @funcheetah is putting the page together.

[2020-11-11 08:36] lordk911 opened #5916 "How to query kudu table created by impala"
When impala created a kudu table ,the table name will be with prefix: "impala::" , how to use presto to query this ?

[2020-11-11 09:19] alexku7 commented on #5230
Hello @electrum

After some delay i need to came back to this problem. So I am trying again to examine how i can enforce internal TLS betwwen the coordinator and the workers without struggling with the subjects. SAN and hostanmes inside the kubernetes.

As i understand the prestosql still doesn't support the disabling of hostname verification .

I try to understand you suggestion about .http-clien

[2020-11-11 11:16] findepi opened #5917 "Add tests for view staleness detection"
This should cover Presto views as well as Hive views.

[2020-11-11 13:59] anjalinorwood opened #5918 "'getExplainPlan' with partitioning column of type 'int', 'date' etc fails for Iceberg tables"
Following test case reproduces the issue.
[code]

`getExplainPlan` fails with

`PartitionTable.java::convert` needs to take into account all supported Iceberg types.

This issue causes failures in Materialized View test cases as well (though, the issue is not specific to materialized views). @findepi FYI.

I am working on a PR.

[2020-11-11 14:45] ebyhr commented on #5912
[code]

https://github.com/prestosql/presto/pull/5870

[2020-11-11 15:24] amommendes commented on #1971
Hey @findepi, I would like to work on this!

[2020-11-11 15:59] shawnzhu opened #5920 "Uses CentOS 8 instead of CentOS 7 as base image for the official container image"
## Today

It uses CentOS 7:

https://github.com/prestosql/presto/blob/85110dd421fd2bd5ef94cfe26ebeb734be8325b4/docker/Dockerfile#L14

## Expected outcome

It can use CentOS 8.

[2020-11-11 16:52] findepi opened #5922 "Flaky test TestEventListener.testPlanningFailure"
https://github.com/prestosql/presto/runs/1386057381

[code]

[2020-11-11 16:53] #5920 closed

[2020-11-11 16:54] findepi commented on #5912
[code]

https://github.com/prestosql/presto/issues/5920 https://github.com/prestosql/presto/pull/5921

[2020-11-11 16:57] findepi commented on #5922
cc @losipiuk (https://github.com/prestosql/presto/pull/5815 related?)

[2020-11-11 16:58] findepi commented on #5918
@anjalinorwood what is the failure's stacktrace?

[2020-11-11 17:00] findepi commented on #5916
If this is only about table name, you can put the name in double quotes:
[code]

I will close this as hopefully answered.
We can continue conversation here, or on `#troubleshooting` channel on [our slack](https://prestosql.io/slack.html).
See you there!

[2020-11-11 17:00] #5916 closed

[2020-11-11 17:14] anjalinorwood commented on #5918
@findepi Here is the stack-trace.
`java.lang.IllegalArgumentException: Object '0' does not match type long

	at io.prestosql.spi.predicate.NullableValue.<init>(NullableValue.java:46)
	at io.prestosql.spi.predicate.NullableValue.of(NullableValue.java:67)
	at io.prestosql.plugin.iceberg.TableStatisticsMaker.makeNullableValue(TableStatisticsMaker.java:233)
	at io.prestosql.plugin.iceberg.TableStatist

[2020-11-11 17:49] martint commented on #5912
@findepi, this is an implementation detail. What's the user-visible impact? (security, stability, etc).

[2020-11-11 18:15] phd3 commented on #5731
Closed via #5740

[2020-11-11 18:15] #5731 closed

[2020-11-11 18:18] phd3 commented on #5912
[code]
#5787

[2020-11-11 18:39] johnwhumphreys commented on #3641
Found the code in master was enhanced to avoid a bunch of extra sleeps after this initial issue was made.  Current logic is here:  https://github.com/prestosql/presto/blob/master/presto-main/src/main/java/io/prestosql/server/GracefulShutdownHandler.java

Also, there is a brand new pending issue for optimizing the sleep time even more here: https://github.com/prestosql/presto/issues/5903.  That may

[2020-11-11 18:51] phd3 opened #5923 "Add documentation for SubnetBasedTopology"
Ref: #4862

[2020-11-11 19:12] phd3 commented on #5912
[code]

#4862

[2020-11-11 19:13] JamesRTaylor opened #5924 "DateTimeException misclassified as INTERNAL_ERROR"
Seeing the following exception which ends up being classified as an INTERNAL_ERROR instead of a USER_ERROR:

    java.time.DateTimeException: Invalid value for HourOfDay (valid values 0 - 23): 24
    	at java.base/java.time.temporal.ValueRange.checkValidValue(ValueRange.java:311)
    	at java.base/java.time.temporal.ChronoField.checkValidValue(ChronoField.java:717)
    	at java.base/java.time.Loca

[2020-11-11 19:14] anjalinorwood commented on #5918
We started seeing this issue and failures in materialized view tests because stats calculator failures were not propagated. This commit https://github.com/prestosql/presto/commit/28095d9fff8d1df49eb13f3f2d60b6ede35e46a9 started propagating failures exposing this issue.

[2020-11-11 19:16] amitna1r commented on #1878
Hi @ebyhr, looking forward to this function. Any updates on this?

[2020-11-11 21:55] JamesRTaylor commented on #5824
Any update on this one, @sopel39? Let me know if you need any help.

[2020-11-11 21:58] findepi commented on #5918
Yet another benefit of that change.

[2020-11-11 21:59] findepi commented on #5924
The `VarcharToTimestampCast` should catch `DateTimeException` and rethrow as `PrestoException` with proper error code.

[2020-11-11 22:00] findepi commented on #5912
It is and it is not.

If you just run the container, there may no be user visible change.
If you build a downstream image based on that, you need to know that.

[2020-11-11 22:14] findepi opened #5928 "Flaky test TestEventListener.testKilledWhileWaitingForResources"
https://github.com/prestosql/presto/runs/1385901561

[code]

[2020-11-11 22:14] findepi commented on #5928
cc @losipiuk

[2020-11-11 22:24] findepi commented on #5908
This is about a view that contains a projected expression without `AS` alias, like
[code]

i don't think we need to support this. However, currently reported "view .. is stale; it must be re-created" message is wrong:
if the view is recreated, the problem won't go away.
i am improving the message slightly in https://github.com/prestosql/presto/pull/5909 but maybe would be good to have an explicit

[2020-11-11 22:28] JamesRTaylor opened #5929 "Reduce amount of data transmitted for web-ui"
The web-ui causes a fairly high amount of data to be transmitted. For example, if you have an average payload of 5MB every 5 seconds that leads to ~17k calls a day of 5MB each or ~86GB. One idea to mitigate this would be to reduce the data returned through the /ui/api/query endpoint to only include what is needed by the web-ui.

1. The query text in the UI looks to be truncated to ~250 characters,

[2020-11-11 23:36] tooptoop4 commented on #4102
similar to https://github.com/prestosql/presto/issues/5929

[2020-11-12 00:15] martint commented on #5924
It might be better to just validate the range of values for each field directly. There's an opportunity for producing better error messages.

[2020-11-12 07:57] photogamerun opened #5932 "Sql become cross join even it should't be"
Hello everyone

I have meet a issue  in presto 332, it report cross join althrought is shouldn't be, it's so strange, query pattern likes
with x(v) as (values 1,2,3), y(z) as (values 1,3,4) select x.v from x left join y on (x.v=y.z)

shot screen is this
![image](https://user-images.githubusercontent.com/16651123/98911177-26bb4680-24ff-11eb-8708-bca227dcc25a.png)

execute plan
is
![image](https://u

[2020-11-12 09:21] lordk911 commented on #5916
no , should use kudu.schema-emulation.enabled=true and kudu.schema-emulation.prefix=impala::

[2020-11-12 09:32] sopel39 commented on #5932
Could you reproduce it with simpler query? Presto often can simplify parts of query and in certain situations could insert cross join. Is the query result correct?

In your explain both branches of join don't produce any rows.

[2020-11-12 09:48] sopel39 opened #5933 "Push final aggregation though join"
For queries like:
[code]
it's possible to rewrite them to:
[code]

[2020-11-12 10:04] sopel39 commented on #5824
Which table has over `100000` partitions. Is this `my_table`?

[2020-11-12 10:07] #2493 closed

[2020-11-12 10:08] sopel39 commented on #5912
[code]
https://github.com/prestosql/presto/pull/3638

[2020-11-12 12:50] losipiuk commented on #5922
I would expect so. I actually saw it once, but could not repro locally. Will try more.

[2020-11-12 13:10] zaz968m opened #5938 "Support boolean type in MySql"
MySQL does not have built-in Boolean type. However, it uses TINYINT(1) instead. To make it more convenient, MySQL provides BOOLEAN or BOOL as the synonym of TINYINT(1).
https://www.mysqltutorial.org/mysql-boolean/

MySQL encodes presto `boolean` to `TINYINT(1)`, however presto is not able to decode `TINYINT(1)` to `boolean` back.

https://github.com/prestosql/presto/pull/5900#discussion_r521962546

[2020-11-12 13:23] findepi commented on #5928
https://github.com/prestosql/presto/runs/1390098426

[2020-11-12 13:23] losipiuk commented on #5922
![image](https://user-images.githubusercontent.com/890111/98945348-b1e20f80-24f2-11eb-82a4-152517e834c4.png)

damn

[2020-11-12 16:16] JamesRTaylor commented on #5824
Yes (it's the only table involved in the query).

[2020-11-12 16:47] sopel39 commented on #5824
@JamesRTaylor that table has `ds BETWEEN '2020-10-14' AND '2020-10-20'` predicate directly on top of TS (it's not pushed through join). What happens when you query:
[code]
?

[2020-11-12 16:57] mosabua commented on #5804
I suggest something like

[code]

[2020-11-12 17:03] mosabua commented on #5804
If we want to specify more details we can have separate lines for more info. E.g. not sure we want to mention what we test with, also in some cases the version could be `x or higher`

[2020-11-12 17:04] mosabua commented on #5804
And we should avoid any wording around "supported" versions.

[2020-11-12 18:06] JamesRTaylor commented on #5824
There's no error with that query. Martin asked the same on the slack thread for this [here](https://prestosql.slack.com/archives/CGB0QHWSW/p1604093926216600). It seems that when a filter is done on a nested column (perhaps through a cross join), the max partitions scanned check may get confused.

Any thoughts, @phd3 ?

[2020-11-12 18:20] anjalinorwood commented on #5918
https://github.com/prestosql/presto/pull/5942

[2020-11-12 19:23] kokosing commented on #5912
[code]
#5789

[2020-11-12 19:40] dain commented on #5912
[code]
#5593

[2020-11-12 21:11] electrum commented on #5804
For connectivity, I'd like to phrase this as

We already have the default port number in the example configuration.

[2020-11-12 21:13] electrum commented on #5804
For versions, how about something like

This gives specifics about tested versions and sets expectations, without making a concrete statement about other versions working or not working.

[2020-11-13 02:00] electrum commented on #4493
This was done in #4493

[2020-11-13 02:00] #4493 closed

[2020-11-13 02:39] kalvinnchau opened #5946 "Support S3 Security Mappings for schemas"
The [S3 Security Mapping](https://prestosql.io/docs/current/connector/hive-s3.html#s3-security-mapping) currently allows for mapping users/groups and/or prefixes to different IAM Roles or credentials.
As additional functionality, it would be beneficial to allow mapping a specific `schema` to a prefix as well.

The use-case for this is to have specific paths or buckets be the space for that specifi

[2020-11-13 03:30] gravitys169 commented on #5878
@sopel39 , In my mind, one way to eliminate the redundant subquery is materializing the subquery to a temp table, then query from the temp table, so there is some work

[2020-11-13 08:48] tinkerrrr opened #5947 "Support AWS STS for S3 Select"
For now, when [S3 Select Pushdown](https://prestosql.io/docs/current/connector/hive-s3.html#s3-select-pushdown) is enabled, we could not access data by assume role, this is because `PrestoS3ClientFactory` doesn't support `STSAssumeRoleSessionCredentialsProvider`. However in some scenarios we need the both features, so it would be nice to support `sts-assume` for S3 select, furthermore, maybe [S3 S

[2020-11-13 08:50] findepi commented on #5947
We do not want to maintain this duality in S3 client setup in the long run.

See comment:
https://github.com/prestosql/presto/blob/09f1ad2fe1cb5f06e91308271af998666fad3692/presto-hive/src/main/java/io/prestosql/plugin/hive/s3select/PrestoS3ClientFactory.java#L57-L63

[2020-11-13 09:00] sopel39 commented on #5878
Either temp table or keep the data in memory. First step is to identify and unify CTEs. Just identifying common CTE could lead to improvements as we can execute certain subplans just once.

[2020-11-13 09:29] sopel39 commented on #5912
[code]
https://github.com/prestosql/presto/pull/5905

[2020-11-13 10:08] findepi commented on #1462
This hasn't been updated for a while and i suspect one of the upgrades (Hive 3 or Parquet lib update) could have solved the problem.
There may be no point in keeping the issue open, so let me close this. We can continue conversation here, or on `#troubleshooting` channel on [our slack](https://prestosql.io/slack.html).

[2020-11-13 10:08] #1462 closed

[2020-11-13 10:12] #5626 closed

[2020-11-13 10:13] findepi commented on #5626
Done by @choiwaiyiu in https://github.com/prestosql/presto/pull/5652

[2020-11-13 10:29] sopel39 opened #5950 "Planning with long IN lists can be very slow"
For example:
[code]
planning takes 6m. This is mostly because we run:
`typeAnalyzer.getTypes(session, symbolAllocator.getTypes(), expression)`
in rule based optimizer in various places (mostly from `io.prestosql.sql.planner.TypeAnalyzer#getTypes`). Currently, in planning we need to re-analyze expression types since type information is not part of plan itself.

[2020-11-13 10:43] tooptoop4 commented on #1462
so hive 2 isn't supported by presto anymore? its still an issue

[2020-11-13 11:49] jasonyanwenl commented on #3134
Hi @ebyhr, currently I am trying to get more background about this issue. I have read two links you have shared. In my sense, `DBRefs` are kind of like pointers to another `document` in MongoDB. One thing I am confused is the example you are given:

Essentially, I don't know what is the exact requirement for solving this issue. Here are two versions I could come up with:

1. Do you mean that the a

[2020-11-13 12:31] sopel39 commented on #5922
https://github.com/prestosql/presto/pull/5949/checks?check_run_id=1395236336

[2020-11-13 13:44] ebyhr commented on #3134
@jasonyanwenl Thanks for looking into the details.

1. Though I almost forgot how I created the above example, `test_ref` should be created beforehand. If we use DBRef in MongoDB, the field has `$ref`, `$id` and `$db`. You can reproduce this issue by this steps:

* Start `MongoQueryRunner`
* Run mongo shell `docker exec -it <container id> mongo`
* Prepare data:
[code]

* Select the table from Pres

[2020-11-13 13:55] hashhar opened #5952 "Add more test cases to KafkaAvroWriteSmokeTests"
Extend KafkaAvroWriteSmokeTests to also test:

- [ ] BIGINT column with Avro type set to INT
- [ ] REAL column with Avro type set to FLOAT
- [ ] DOUBLE column with Avro type set to DOUBLE

From https://github.com/prestosql/presto/pull/5838#discussion_r519864277.

[2020-11-13 17:01] sopel39 commented on #5912
[code]
https://github.com/prestosql/presto/pull/5954

[2020-11-13 18:54] hashhar opened #5955 "Extend support for INSERT TIME/TIMESTAMP WITH TIMEZONE in Kafka connector JSON encoder"
Allow INSERT of temporal types with time-zone in Kafka connector with JSON Encoder when using the `milliseconds-since-epoch` or `seconds-since-epoch` formatters.

See discussion at https://github.com/prestosql/presto/pull/5838#discussion_r520477341.

[2020-11-14 00:15] #5780 closed

[2020-11-14 00:38] csunwold commented on #5562
I was able to reproduce this both in our dev AWS environment (on accident while trying to deploy a sync of our fork with 343) and locally.

For the local instance I setup an S3 bucket using MinIO and a local hive metastore instance, created two tables where the only difference was the format (ORC vs. Avro), inserted junk data into both, then hooked up jConsole to observe the value of presto.plugin

[2020-11-14 00:41] #1829 closed

[2020-11-14 00:42] electrum commented on #5714
I think it's fine if we document this. We might want to mention its limitations and say that it is mainly for testing purposes.

[2020-11-14 00:44] phd3 commented on #5912
[code]

#1829, #4934

[2020-11-14 21:43] kokosing commented on #5723
Closed with #5789

[2020-11-14 21:43] #5723 closed

[2020-11-15 12:08] happyapple668 opened #5967 "support dynamically load the catalog properties?"
when the server started ,I add an new connector in directory etc/catalog, how can I use the new connector name in the query without restart the server

[2020-11-15 14:54] tooptoop4 commented on #5967
https://openlookeng.io/docs/docs/admin/dynamic-catalog.html
https://github.com/openlookeng/hetu-core

[2020-11-15 19:09] johnwhumphreys commented on #5924
I'll try to do this one; assigned to myself.  Found that it can be reproduced with:

[2020-11-15 19:48] rmgpinto commented on #1053
Hi @guyco33 @findepi @electrum I'm still having this issue on `presto 345`.

[code]

[2020-11-15 21:54] johnwhumphreys commented on #5924
The `DateTimeException` has very good messages already, so I think we can just leverage them  to give good messages out of the original error.  Then we can avoid adding much extra logic.  E.g.

[code]
Produces a user-error like:

or:

For these two bad cast values respectively.

[code]

Does this look okay to you approach-wise?

[2020-11-15 22:43] findepi commented on #5967
This is currently not supported.
I'm closing the issue, as technically speaking, it's a duplicate of https://github.com/prestosql/presto/issues/2110

I invite you to share your use case  on [our slack](https://prestosql.io/slack.html), maybe someone can help find some other solution.
See you there!

[2020-11-15 22:43] #5967 closed

[2020-11-16 01:45] szsuyuji commented on #5601
is it possible to read the mapping table name from config file? it is not working when Hive Metastore integration is enabled
` when the Hive Metastore integration is enabled, Kudu table names must be a period ('.') separated database and table name identifier pair, each containing only ASCII alphanumeric characters, '_', and '/': $schemas`

[2020-11-16 09:30] sopel39 commented on #5824
Which filter is on nested column in this query?

[2020-11-16 12:33] sopel39 commented on #5912
[code]
https://github.com/prestosql/presto/pull/5594

[2020-11-16 13:55] findepi commented on #5689
Fortunately, we do not have to go as far. I think the goal is _not_ to provide adapter interface allowing Hive UDF execution within Presto.
Instead, it's to provide all and only the necessary conversions for view text.
The input would be HQL view text (String) and the output is SQL view text,
with Hive UDF function calls replaced with Presto function calls (or expressions,
in case of no direct 1-1

[2020-11-16 15:29] JamesRTaylor commented on #5824
The outermost query's `WHERE user_id = 12345`. The `user_id` refers to` v.user.user_id`.

[2020-11-16 15:32] johnwhumphreys commented on #5924
@martint - Made a PR with the above fix and some text cases for you to review.  Happy to change it if you have any issues.  Thanks!

[2020-11-16 15:34] findepi commented on #4173
https://github.com/prestosql/presto/runs/1406595247

[2020-11-16 15:49] findepi opened #5975 "Support Hive VIEW with translate() function call"
[code]

[code]

[2020-11-16 15:50] findepi commented on #5975
cc @laurachenyu @phd3 @wmoustafa

[2020-11-16 16:03] sopel39 opened #5976 "Use builders in PlanMatchPattern"
Currently there is a lot of overloaded methods in `PlanMatchPattern`. At this point, it seems reasonable to use builders in that class to construct matchers for dedicated node types.

[2020-11-16 16:29] findepi opened #5977 "Support Hive VIEW with common table expression (WITH CTE)"
[code]

[code]

[2020-11-16 16:30] findepi commented on #5977
cc @laurachenyu @phd3 @wmoustafa

[2020-11-16 16:39] findepi opened #5978 "Hive function call in a Hive view is not translated into Presto signature"
Consider example with `date_add`:

[code]

[code]

Based on the error message, the Hive function invocation `date_add(o_orderdate, 7)` was not translated into Presto equivalent `date_add('DAY', o_orderdate, 7)`. In this case, it led to a failure (not supported, which is fine). In some other case, it could lead to incorrect results, therefore filing this as a "bug".

[2020-11-16 16:39] findepi commented on #5978
cc @laurachenyu @phd3 @wmoustafa

[2020-11-16 16:41] findepi opened #5979 "Ensure date functions in Hive VIEW are considered to have right return type"
According to https://cwiki.apache.org/confluence/display/Hive/LanguageManual+UDF the return type of `date_add` changed

since we cannot be compatible with both, we should be compatible with the newer hive version.

same applies to `date_sub`, `to_date`

[2020-11-16 16:41] findepi commented on #5979
Requires https://github.com/prestosql/presto/issues/5978

[2020-11-16 17:26] csunwold commented on #5562
I've tested this against several current releases. This bug appears to have been introduced in 341. All previous releases including 340 do not have this bug. This bug also continues to exist as of release 346.

[2020-11-16 17:37] losipiuk commented on #5928
Fixed by https://github.com/prestosql/presto/pull/5944

[2020-11-16 17:37] #5928 closed

[2020-11-16 17:37] losipiuk commented on #5922
Fixed by https://github.com/prestosql/presto/pull/5944

[2020-11-16 18:37] csunwold commented on #5562
I'm also including the stack trace we receive once the connection pool runs out of available connections. The specific exception is what you would expect to see after running out of connections. However, after spending some time running with a debugger attached, I believe this might also be the code path where the leaks are happening. Hopefully it can provide some clues as to the root cause.

<det

[2020-11-16 19:30] #3398 closed

[2020-11-16 19:33] martint commented on #5912
[code]

https://github.com/prestosql/presto/issues/3398

[2020-11-16 20:08] GaruGaru commented on #5072
The pull request that @ckdarby linked looks pretty complete (even if it hasn't been reviewed yet), are there any major  implementation differences between prestosql and prestodb that we should be aware of before using it as reference ?

[2020-11-16 20:33] findepi commented on #5977
Since it worked in Presto 344, i am marking this as a bug.

[2020-11-16 20:33] findepi commented on #5837
Since it worked in Presto 344, i am marking this as a bug.

@findepi findepi added bug and removed enhancement labels now

[2020-11-16 21:05] #4543 closed

[2020-11-16 21:12] martint commented on #5977
Note that in 344, it was best effort. There was not guarantee about correctness or semantics, so I wouldn't consider it as "working".

[2020-11-16 21:16] kokosing commented on #5976
How about leverage more the approach that we have in `io.prestosql.sql.planner.TestTpcdsCostBasedPlan`? That would require a way for developer express in what is interested, then string would be automatically generated. And we could simply assert if strings are equals. WDYT?

Then I would deprecate  `PlanMatchPattern`, it is hard to write a test with it and hard to maintain these tests.

[2020-11-16 22:25] findepi commented on #5072
@hsuchenc (the author of that PR) is from Amazon and I would be surprised if they didn't want to contribute Glue stats support here to Presto.

@hsuchenc, apparently here is much more interest in your PR than elsewhere 😉
Are you planning on making a contribution?

[2020-11-16 23:25] #2152 closed

[2020-11-16 23:26] martint commented on #5912
[code]

https://github.com/prestosql/presto/issues/2152

[2020-11-17 00:29] dain commented on #5758
I added the #5966 PR to prove the assumptions being violated in this stack were valid:
[code]
I'm not sure how this could ever occur at this point.  I am running the test again.

Is this still a problem?

[2020-11-17 03:05] Gvrreddy91 commented on #1995
I have installed presto-345

I am able to do bin/launcher start and run, but when i am checking in server.logs below error am getting.

ERROR : com.facebook.presto.server.prestoserver unable to create injector see the following errors
Error in custom provider java.lang.NullPointerException
Error injecting constructor, java.io.UncheckedIOException : Failed to bind to /0.0.0.0:8080
Caused by : java.

[2020-11-17 05:12] rdsr commented on #5562
The issue seems to be  https://issues.apache.org/jira/browse/HIVE-22981 which is fixed in the latest Hive master. This method `AvroGenericRecordReader#extractWriterTimezoneFromMetadata` is calling Avro's `DataFileReader` but is not closing it . The said method is called from `AvroGenericRecordReader#init`

[2020-11-17 08:39] kokosing commented on #5976
@kasiafi I guess you use `PlanMatchPattern` quite frequently, what are your thoughts here?

[2020-11-17 09:10] sopel39 commented on #5824
Could you maybe extract minimal query where this issue happens?

[2020-11-17 09:33] losipiuk commented on #5562
In 341 we bumped Hive library from `3.0.6` to `3.1.2`. I expect that is the reason for regression. I will see if we can backport the HIVE-22981 fix.

[2020-11-17 09:43] findepi commented on #5562
@losipiuk  You mean backporting HIVE-22981 to branch-3.1 in `apache/hive`? or within `prestosql/presto-hive-apache`?
(i guess we could try both approaches in parallel)

[2020-11-17 09:48] findepi commented on #1995
@Gvrreddy91  Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2020-11-17 09:49] losipiuk commented on #5562
I was thinking latter. But I can send backport request to apache/hive too (idk what is the process there).

[2020-11-17 09:49] findepi commented on #5758
I reported the issue because i saw a rarely repeating failure on the CI. Sadly, I have no means of knowing whether the problem is fixed by now.

[2020-11-17 09:51] findepi commented on #5562
for apache/hive you create a JIRA ("backport xxxx") and then do a PR. You put the JIRA id at the start of the cmt message.

[2020-11-17 15:15] pettyjamesm commented on #5912
[code]
https://github.com/prestosql/presto/pull/5818

[2020-11-17 16:57] rdsr commented on #5562
@findepi could you clarify what does fixing it 'within `prestosql/presto-hive-apache`' entail?

[2020-11-17 17:04] dain commented on #5758
I wish we had a system to collect failure logs, so we can do analytics on them.

[2020-11-17 17:39] losipiuk commented on #5562
`prestosql/presto-hive-apache` is repackaging of hive client libraries Presto uses. While repackaging we can also do point fixes like this one here.

[2020-11-17 17:40] losipiuk commented on #5562
Btw I validated that cherry-picking `HIVE-22981` fixes the issue. So big thanks @rdsr for pointing towards that issue.

[2020-11-17 20:05] jvlasblom commented on #5546
@ebyhr - it works for me now too in Presto v346.   It failed with Presto v339.    I will close the issue as it seems it is resolved now.

[2020-11-17 20:05] #5546 closed

[2020-11-17 20:30] kasiafi commented on #5976
`PlanMatchPattern` in its current form allows the developer to specify certain PlanNode properties and skip other. It also allows to skip bigger parts of the plan that are not relevant for the test by using `any()` / `anyTree()`.
Using builders would make it even more flexible. I think it is a good idea to add builders for all nodes or at least for some e.g. join, semiJoin, values.

On the other h

[2020-11-17 20:40] hsuchenc commented on #5072
My hands are pretty tied, so feel free to port it from PrestoDB to PrestoSQL.
Thank you.

[2020-11-17 22:28] #5422 closed

[2020-11-18 03:20] Crossoverrr commented on #5670
![Screenshot from 2020-11-18 11-13-19](https://user-images.githubusercontent.com/33892550/99478618-af1e6900-298f-11eb-8504-825828ee2fce.png)
I have checked version 346_SNAPSHOT, it's OK.
Maybe we could close this issue now  :)

[2020-11-18 03:23] Crossoverrr commented on #5670
Well, in version 322, I've  got error below:
![Screenshot from 2020-11-18 11-22-30](https://user-images.githubusercontent.com/33892550/99479048-73d06a00-2990-11eb-9700-9cf095d32f17.png)

[2020-11-18 03:31] phd3 commented on #5824
I could reproduce this on 338, it looks the same as #4684.

On 346, the error is reproducible when `hive.projection_pushdown_enabled=false`.

The main issue is that `PredicatePushdown` optimizer, when invoked with `useTableProperties=true`, triggers `HivePartitionManager#getOrLoadPartitions` without any predicate on the partition column.

On 346, with `hive.projection_pushdown_enabled=true`, this

[2020-11-18 03:40] phd3 commented on #5824
The core issue is as follows:

the query has effectively two filters: (1) ds between '2020-10-17' and '2020-10-20' and (2) user.user_id = 4

With first invocation of PredicatePushdown, the plan shape at the bottom changes to `Filter -> TableScan`. The `Filter` here contains conjunction of the two predicates.

Then, `PushDereferenceThroughFilter` rule applies through iterative optimizer, creating a

[2020-11-18 03:55] phd3 commented on #5824
Adding the following on [this line](https://github.com/prestosql/presto/blob/master/presto-main/src/main/java/io/prestosql/sql/planner/PlanOptimizers.java#L534) fixes the issue:

[code]

I think logically it makes sense to give a chance to `PushPredicateIntoTableScan` first after `PredicatePushdown`, before projection pushdown kicks in. thoughts? @sopel39 @martint

[2020-11-18 06:33] yangruochen opened #5998 "[Bug][SystemConnector] NotInTransactionException: Unknown transaction ID because of multi coordinators in cluster"
Description：

We run two coordinators/discoveries in our cluster. We try to select system.runtime.queries/system.runtime.tasks and then we hit the bug :

[code]

Screenshots:

![image](https://user-images.githubusercontent.com/11856719/99493810-d898be00-29aa-11eb-8872-a298006aaae5.png)

![image](https://user-images.githubusercontent.com/11856719/99493820-e0f0f900-29aa-11eb-86b8-cf3d2b83e554.png)

[2020-11-18 06:44] sopel39 commented on #5824
@phd3 makes sense. IIRC `PushPredicateIntoTableScan` invocations are cheap (compared to PPD).

[2020-11-18 10:49] sopel39 commented on #5912
[code]
https://github.com/prestosql/presto/pull/5792

[2020-11-18 12:51] findepi commented on #5976
@kasiafi  let's have a dedicated issue about that

[2020-11-18 12:53] findepi commented on #5589
Hopefully fixed by https://github.com/prestosql/presto/pull/5989

lets close for now and reopen if re-witnessed

[2020-11-18 12:53] #5589 closed

[2020-11-18 13:17] kokosing commented on #5589
It has nothing to do with product tests. Anyway, I am fine with seeing this closed, maybe the issue just gone.

[2020-11-18 13:41] #5562 closed

[2020-11-18 13:43] losipiuk commented on #5912
[code]
https://github.com/prestosql/presto/issues/5562
https://github.com/prestosql/presto/pull/6001

[2020-11-18 14:51] drinkbeer opened #6004 "Request for BigTable connector"
## The Problem

We are working on a project that stores dimensions data in BigTable, which is pretty fast for single-row query, if we carefully designed the key of the row.

But Presto doesn't have a BigTable connector. One alternative is to query BigTableI through BigQuery. I read a few documents and found that the quotas for BigQuery to read BitTable is pretty low. Only 4 concurrent queries are

[2020-11-18 14:54] kasiafi opened #6005 "Use "deduplicating" join in duplicate-insensitive context"
"Deduplicating" join is a JoinNode:
- with property `canSkipOutputDuplicates` set to true,
- meeting other conditions regarding join type and outputs so that deduplication is supported in the operator.

It is introduced in https://github.com/prestosql/presto/pull/5981.

This optimization can be used whenever JoinNode is in duplicate-insensitive context.
The following list is an attempt to identify

[2020-11-18 15:55] findepi commented on #5589
Opps, misread. sorry. Thanks

[2020-11-18 19:57] wmoustafa commented on #5606
Created [Coral Slack workspace](https://join.slack.com/t/coral-sql/shared_invite/zt-j9jw5idg-mkt3fjA~wgoUEMXXZqMr6g) to discuss the roadmap and the prioritization of those issues. Everyone is welcome to join.

[2020-11-18 22:05] findepi opened #6008 "ORDER BY ignored when query parenthesized"
[code]

but
[code]

[2020-11-18 23:55] martint commented on #6008
This is expected behavior. A parenthesized query is a `<query expression>` that contains only a `<query primary>` of the shape `<left paren> <query expression body> ... <right paren>`

[code]

Per the spec:

[code]

So, since the `<query expression>` doesn't immediately contain an `ORDER BY` clause, the ordering is not guaranteed.

[2020-11-18 23:55] #6008 closed

[2020-11-19 02:48] allendang001 commented on #5714
Now, could this issue be merged?

[2020-11-19 05:25] Chaos-Ju opened #6011 "‘cast as bigint’ should add pre check"
query context:

`             select room_id as room_number  from test.db_statistics.live_user_info A
                inner join test.clazz_lesson B on A.room_id  = cast(B.room_number as bigint)
                group by room_id
`
error message：
Query 20201119_052128_00045_stauq failed: Cannot cast '' to BIGINT

correct query context:

`         select room_id as room_number  from test.db_statistic

[2020-11-19 05:28] martint commented on #6011
That’s expected behavior. An empty string cannot be cast to bigint, only strings containing numeric sequences.

As you pointed out in your second query, you need to filter out those values. Alternatively, you can use try_cast, which will produce null instead of failing with an error.

[2020-11-19 05:28] #6011 closed

[2020-11-19 05:31] Chaos-Ju commented on #6011
Thanks

[2020-11-19 07:00] shandeep00 commented on #5938
@zaz968m @findepi  anyone working on this? If not, I would like to work on this.

[2020-11-19 08:16] #1489 closed

[2020-11-19 08:25] findepi commented on #5977
I agree, i wouldn't call the overall complex hive view support as "working" in 344. CTE were working though, even if incidentally only. (from end-user perspective it may not matter _why_ something is working, only _whether_ it's working).
Admittedly, the regression is failure on our side -- we did not document nor test what's actually working and what is not, so we couldn't see any regressions whe

[2020-11-19 08:54] PennyAndWang commented on #5132
We plan to use Hudi to remake the ODS layer of our data warehouse,so we  are in urgent need of this function. We sincerely hope that prestosql can support Hudi  for MOR as soon as possible.

[2020-11-19 09:05] sjx782392329 commented on #5132
I think if prestosql supports **Hudi MOR**, it will be **more competitive than prestodb**. I look forward to prestosql adding this new feature. This function is **very critical**, which d**etermines whether we use prestosql or prestodb** @findepi Please cc

[2020-11-19 11:12] pradeepagrawal8184 commented on #5137
@Gyanesha : You can ping me too. I am also working on it.

[2020-11-19 13:33] losipiuk commented on #5912
[code]

https://github.com/prestosql/presto/pull/5881

[2020-11-19 13:47] kokosing commented on #4496
It seems that is no longer an issue, I added test coverage with https://github.com/prestosql/presto/pull/6017 and it seems to be passing. @skrzypo987 can you please take a look?

[2020-11-19 13:51] losipiuk commented on #5562
@csunwold I looked here a bit more and I am a bit confused.

Without the fixed Hive client, I reproduced the problem with JMX metric going up on each query which reads avro, and saying up. But now I see I cannot reproduce the actual error with depleted http connection pool.
Even with JMX counter going up, connection pool seems fine. How did you reproduce that (more important) part of the problem.

[2020-11-19 13:56] findepi commented on #5938
Once the columns end up being TINYINT(1) on MySQL side, it is a numeric column and is presented as such in Presto.
I think there is nothing we could improve actually

i improved the comment in that place to indicte _why_ the exclusion.

[2020-11-19 13:56] #5938 closed

[2020-11-19 17:27] GaruGaru commented on #5072
On behalf of my company I'm working on the implementation of this feature following the @hsuchenc pull request as reference

[2020-11-19 18:59] dain commented on #5912
[code]
#5872

[2020-11-19 20:59] findepi opened #6022 "Document parenthesized query behavior"
See  https://github.com/prestosql/presto/issues/6008 for behavior that's specwise correct but apparently confusing to users

let's doc that

[2020-11-19 21:50] findepi opened #6024 "Flaky test TestKafkaIntegrationPushDown.testPartitionPushDown"
https://github.com/prestosql/presto/runs/1415089782

[code]

[2020-11-19 22:04] findepi commented on #5132
👍  If there is a broader interest in Hudi support I would assume someone will send a PR sooner or later.

[2020-11-19 22:54] csunwold commented on #5562
@losipiuk I wish I had a good answer for you, but it appears you've discovered a flaw in my testing process. I am now just as confused as you.

Looking closer at what I did, I did not actually reproduce the the timeout error locally. I focused in too much on the active connections and reproduced it leaving it as an assumption that when Active Connections reached the value of `hive.s3.max-connectio

[2020-11-19 23:47] wmoustafa commented on #5606
@findepi, can we mark which of those issues (maybe in each issue) were encountered in a real use case vs synthetic testing? Can we also ask users to thumb up an issue if they are facing it? This way we can get a sense if the issue was created as part of a validation test, or a real user problem, and how many are interested in it. This will largely guide which issues to prioritize. cc: @martint @el

[2020-11-20 02:04] qianmoQ commented on #5689
@findepi I also implemented `smid_udf ` function in Presto, but Coral couldn't parse it

[2020-11-20 02:11] wmoustafa commented on #5689
Right now the mechanism is adding the mapping to Coral code. The current implementation should be easily evolvable to automatically map Transport UDFs since they follow a known pattern, and the inputs and outputs are the same.

If we want flexibility beyond changing the code, and beyond using Transport, I think a SQL API is needed at the Presto level to supply the mapping on the fly.

[2020-11-20 06:58] gjhkael opened #6025 "Duplicate statistics of memory size with DictionaryBlock"
When I read column of orc table which is dictionary encoding, then this column will read in DictionaryBlock and this block hold dictionary block that contains the encoding dictionary. Assume  a page contains one-tenth data of one stripe, but it need the complete dictionary information, read the  entirely stripe, it needs ten page, and the dictionary block retainedSize will statistics ten times.

!

[2020-11-20 10:02] findepi commented on #5606
Thats interesting idea but we never do this. I actually believe edge cases are easier to find by experts in the given technology, so that end users can enjoy peace of mind.

there is no good way to _ask_ for this, but people may do this nonetheless

[2020-11-20 10:06] findepi commented on #5689
we definitely cannot expect users to fork Coral and replace the version bundled with Presto with their own build. That would open all kinds of compatibility problems.

@qianmoQ did you happen to implement your UDFs with Transport?

Until functions are defined dynamically via SQL, we should not need to go that far.
We could however need to provide a way to express those mappings for functions provi

[2020-11-20 11:09] sopel39 opened #6029 "PushProjectionIntoTableScan does not preserve enforced constraint"
It's using `io.prestosql.sql.planner.plan.TableScanNode#newInstance` which sets enforced constraint to `all`

[2020-11-20 11:10] sopel39 commented on #6029
FYI: @martint

[2020-11-20 12:12] kokosing commented on #4496
I had a bug in tests. Issue is still there.

The issue could be reproduced with simpler query without column masking where a column reference expression is not actually used in query execution.

[code]

[2020-11-20 17:24] Praveen2112 commented on #5912
[code]
#5379

[2020-11-21 03:01] hashhar opened #6036 "testInsertIntoCsvTable is flaky"
[code]

[2020-11-21 14:35] vkingnew opened #6037 "Do have a plan to support Clickhouse ?"
Clickhouse have a high speed,but the SQL is not stand sql,do you have a plan to support it?
https://clickhouse.tech/
refer project:
https://github.com/zeeshanabid94/presto/tree/presto-clickhouse/presto-clickhouse

[2020-11-21 14:48] ebyhr commented on #6037
Support for Clickhouse is ongoing in #4500 & #4909. Please take a look at the issue & PR.

[2020-11-21 14:48] #6037 closed

[2020-11-21 18:57] findepi commented on #6036
duplicates https://github.com/prestosql/presto/issues/4936

[2020-11-21 18:57] #6036 closed

[2020-11-21 21:23] #4548 closed

[2020-11-21 21:37] findepi commented on #4864
https://github.com/prestosql/presto/runs/1432813187

[2020-11-21 22:50] #5791 closed

[2020-11-22 01:09] dain commented on #5912
[code]
#5874

[2020-11-22 22:10] findepi opened #6048 "Incorrect ResultSet representation of ARRAY of decimal, date, time, timestamp, interval"
`ResultSet.getArray(column).getArray()` returns array of `String` objects instead of actual object representation

[2020-11-22 22:39] findepi opened #6049 "Reconsider what should be result of ResultSet.getObject for ARRAY"
Currently ResultSet.getObject called in an ARRAY returns PrestoArray.
Possibly, a List could be more appropriate.

[2020-11-23 03:02] gjhkael commented on #6025
Will anyone come to discuss it?

[2020-11-23 09:20] losipiuk commented on #5670
@Crossoverrr If this code does not imply query correctness issues feel free to close this one.

You can open another "improvement" issue to address this part:

[2020-11-23 09:55] #5670 closed

[2020-11-23 10:34] findepi commented on #5758
https://github.com/prestosql/presto/runs/1441067500

i wonder why this seems correlated to Redis?

[code]

[2020-11-23 10:43] findepi opened #6052 "Update code not to use QueryAssert.containsExactly and use containsExactlyInOrder instead"
https://github.com/prestosql/tempto/pull/67 deprecated `io.prestosql.tempto.assertions.QueryAssert#containsExactly` in favor of a new method: `containsExactlyInOrder`

Once tempto version is released and updated, we should update Presto codebase not to use the deprecated method.

[2020-11-23 10:43] findepi commented on #6052
Note: it hasn't been released yet, but i can do the tempto release if anyone wants to work on this.

[2020-11-23 11:21] zaz968m commented on #4936
@findepi thank you, seems it has the same root cause.

[2020-11-23 15:22] findepi opened #6059 "Give Prometheus test classes meaningful names"
`TestPrometheusIntegrationTests1`, `TestPrometheusIntegrationTests2`, `TestPrometheusIntegrationTests3`  are not the best names possible.

[2020-11-23 15:23] findepi opened #6060 "Remove use of test priorities and dependsOnMethods from Prometheus tests"
Remove things like `@Test(dependsOnMethods ...)` or `@Test(priority ...)`

[2020-11-23 18:31] sshkvar commented on #5632
@rdblue @electrum  Based on our discussion I have created pull-request for it
Will be really appreciate for the your review

Sorry for the long pause, I needed to discuss CLA with my management

[2020-11-24 09:36] qfrtrt opened #6070 "Presto read ORC error : Malformed ORC file."
Presto server version: `344`
But in version 0.214, this SQL can be executed successfully.
SQL: `select checked from hive.dw_dwb.dwb_accounting_accounts_day where dt = '2020-06-30' limit 10;`
full stacktrace:
[code]

And I noticed a similar error in https://github.com/prestosql/presto/issues/3679.
By use the solution in that issue: `SET SESSION hive.orc_use_column_names=true;`
Another error occur:

[2020-11-24 09:43] sopel39 commented on #6070
Could you provide more details? I also recommend that you join prestosql slack channel

[2020-11-24 10:09] sjx782392329 commented on #6070
We had join and reported this problem in the slack#general

[2020-11-24 10:11] findepi commented on #6070
Ref: https://prestosql.slack.com/archives/CFLB9AMBN/p1606212146472500

[2020-11-24 12:41] sopel39 commented on #5912
[code]
https://github.com/prestosql/presto/pull/6057

[2020-11-24 12:56] findepi opened #6073 "Query failing with "statement is too large" is not listed in web UI"
in case of

[code]

- the query has id already (`20201124_125143_00016_u62dr` in this case)
- it doesn't show up in the web UI

thus, eg it's hard to know what the actual query sent by the user

[2020-11-24 13:28] findepi opened #6075 "Preserve NOT IN when pushing down to JDBC source"
For a query against eg a PostgreSQL connector
[code]

we sent the following to the remote system:

[code]

we should reconstruct original `NOT IN` from the domain

Relates to https://github.com/prestosql/presto/issues/6076

[2020-11-24 13:28] findepi opened #6076 "Simplify domains for NOT IN"
For a query against eg a PostgreSQL connector
[code]

we sent the following to the remote system:

[code]

Since the type is discrete, this should be simplified to `nationkey < 1 OR nationkey > 4`

Relates to https://github.com/prestosql/presto/issues/6075

[2020-11-24 17:42] rdblue commented on #5616
@electrum, why would the Hive table type matter for whether the data for an Iceberg table gets deleted? Iceberg provides utilities for cleaning up the data if locations are mixed, and if the table owns a location then Presto should be able to simply delete recursively.

I can understand wanting to control this behavior. We would turn it off, for example, because we have a service that cleans up ol

[2020-11-24 19:06] electrum commented on #5912
[code]
#5945

[2020-11-24 19:15] kokosing opened #6079 "product tests launcher raises: This stopwatch is already running"
[code]

[2020-11-24 20:12] sshkvar commented on #5616
Metastore will delete files from s3 but only for tables with type `MANAGED_TABLE`.
I have created PR which contains new configuration property for Iceberg tables.
By default it is set to `EXTERNAL_TABLE`, but we can set it to `MANAGED_TABLE` and it this case metastore will delete files on table drop

[2020-11-24 20:15] rdblue commented on #5616
@sshkvar, that is the correct behavior for Hive tables, but not for Iceberg tables. I think Iceberg tables should continue to use external and the Iceberg connector should clean up the files.

[2020-11-24 21:09] sopel39 commented on #6075
There is `io.prestosql.spi.predicate.Domain#complement`. Is it not used in JDBC connectors?

[2020-11-24 21:10] sopel39 commented on #6076
It seems to be related to: https://github.com/prestosql/presto/pull/3316 too. We could merge consecutive domain values in both `IN` and `NOT IN` (complement) domains.

[2020-11-24 22:01] findepi commented on #6075
Yes, the Domain is complemented. I think we could reconstruct the original domain (un-complement, unless `Domain#complement` will just do that) within `io.prestosql.plugin.jdbc.QueryBuilder#buildSql`.

[2020-11-24 22:21] phd3 opened #6082 "Use assertThatThrownBy in TestSetSessionTask"
Make tests in `TestSetSessionTask` more readable by using `assertThatThrownBy`.

e.g. https://github.com/prestosql/presto/blob/master/presto-main/src/test/java/io/prestosql/execution/TestSetSessionTask.java#L155

[2020-11-24 23:42] GeorgePanaretos commented on #6059
How about IntegrationTestOne etc. ? Because Test is mentioned twice and prometheus is the name of the file so you can skip that part and better for the numbers to represented as whole words.

[2020-11-25 01:40] qianmoQ commented on #5689
Did you say Presto UDF or Hive UDF？

[2020-11-25 02:24] tooptoop4 opened #6083 "Allow per user config/session variables set serverside"
Right now resource groups allow things like hardConcurrencyLimit saying a particular user can run x amount of queries in parallel. Would be good to also set query_max_execution_time values per user too on serverside.

[2020-11-25 07:03] sjx782392329 commented on #6070
**basic information**:
The hive version that presto 344 depends on is `hive-apache-1.2.2-2.jar`
The hive version that presto 344 depends on is `hive-apache-3.1.2-4.jar`

**phenomenon**：
I plan to upgrade presto's version from 0.214 to 344.  When I use presto server (`version v344`) query hive data, I received error as above. But I query the same statement by using presto `0.214` is normal.

**My a

[2020-11-25 10:33] findepi opened #6087 "Make it easier to configure resource groups for SELECT queries"
Resource group selector
[code]

matches SELECT statements, but does not match PREPARE statements (does it match EXECUTE?).

This configuration using such a selected will work with Presto CLI.
It will work with Presto JDBC `Statement` but not with `PreparedStatement` (same may be the case for other client libraries)

[2020-11-25 10:34] findepi commented on #6087
See some previous conversation: https://prestosql.slack.com/archives/CGB0QHWSW/p1606205691137400

[2020-11-25 10:41] findepi commented on #5912
[code]

https://github.com/prestosql/presto/pull/6007

[2020-11-25 12:06] sopel39 opened #6092 "Improve shading of org.apache.iceberg:iceberg-core"
Currently it doesn't shade some dependencies, like `com.github.ben-manes.caffeine:caffeine:2.7.0`.
This causes conflicts when dependencies versions are updated in presto root POM (e.g: https://github.com/prestosql/presto/pull/6089).

[2020-11-25 12:17] findepi commented on #6070
i guess this is a typo here. Which Presto version did you mean in the first line?

Anyway, this is not relevant for reading ORC files, since Presto AFAICT does not use Hive code on ORC read path.

Can you please provide the steps to reproduce the problem?

[2020-11-25 12:18] findepi commented on #6083
This is possible today with https://prestosql.io/docs/current/admin/session-property-managers.html

[2020-11-25 12:18] #6083 closed

[2020-11-25 12:22] findepi commented on #5689
Probably Presto, but i do not understand yet how an UDF implemented with Transport is recognized by Coral.
I think it should not matter how you implemented  your Hive UDF, since it's not loaded in Presto at runtime at all.

@wmoustafa can you clarify how Coral recognizes UDF-s implemented with Transport?

[2020-11-25 12:27] findepi commented on #6059
Thanks for your comment @GeorgePanaretos

within Presto we have these conventions:

- test classes start with `Test...` (i know it's not a common convention in general, but it's also something that we grow very used to)
- test classes are "meaningful" without looking at the package name. it simply helps communicate and work in the IDE
  - consider example of all subclasses of `AbstractTestIntegrat

[2020-11-25 13:34] qianmoQ commented on #5689
@findepi

I implemented my custom UDF in Presto via the Implements Plugin，The source code is as follows

[code]

[code]

[2020-11-25 16:26] rtjarvis commented on #5518
Anyone looking to solve this?

[2020-11-25 16:36] pPanda-beta opened #6098 "system.sync_partition_metadata is extremely slow for tables with large no of partitions"
For costly io operations of 'list' on some cloud storage this sequential approach is becoming bottleneck.
The following lines of code discovers partitions in a sequential and recursive manner.

https://github.com/prestosql/presto/blob/88d5d90aa147e1c170eb3e3d0fa3ab74c5a59d67/presto-hive/src/main/java/io/prestosql/plugin/hive/procedure/SyncPartitionMetadataProcedure.java#L168-L171

This can be easi

[2020-11-25 18:42] #5912 closed

[2020-11-25 21:33] martint opened #6100 "Release notes for 348"
## Dain Sundstrom
- [x] all checked
-  11-30 23:03:34    82289021c6 Simplify BlockEncodingSerde
-  12-02 23:33:11    8a436b0896 Require calling convention for scalar functions
-  12-02 23:33:11    8d5687697b Remove unused keyEqualsMethod and keyType from MapElementAtFunction
-  12-08 05:22:07    41a777bd52 Fix dynamic system tables for clusters with multiple coordinators
## David Phillips
- [x] al

[2020-11-26 00:19] tooptoop4 commented on #4257
did u solve @manbuyun ? I also face particular older worker processing splits much slower than other workers

[2020-11-26 00:21] tooptoop4 commented on #1638
did u solve @yatintaluja @gaurav8297  ? I also face particular older worker processing splits much slower than other workers

[2020-11-26 00:22] tooptoop4 commented on #5505
did u solve @gaojun2048 ?

[2020-11-26 04:15] wmoustafa commented on #5689
Good question, @findepi. Right now, it does not. However, it has a way to do that for Hive Generic UDFs. See [this class](https://github.com/linkedin/coral/blob/master/coral-hive/src/main/java/com/linkedin/coral/hive/hive2rel/functions/HiveGenericUDFReturnTypeInference.java) for how this is implemented. The same approach is easily extensible to Transport UDFs, with the additional advantage that UD

[2020-11-26 09:23] kokosing commented on #6100
[code]

[2020-11-26 12:10] jainanuj07 commented on #620
I have also faced similar problem. I have a  external table over S3 storage. Initially the table was partitioned as (year month day  hour) but recently i  recreated table with partition as  (year month day) only . Now  my query are failing with error

io.prestosql.spi.PrestoException: Partition location does not exist:  year=2020/month=02/day=25/hour=09
	at io.prestosql.plugin.hive.util.HiveFileIt

[2020-11-26 12:27] findepi opened #6104 "Extend JDBC vs Presto version compatibility tests"
We have tests testing old driver against current server and current driver against current server.
However, these are cover `ResultSet` only (see `TestJdbcResultSet` and related classes).
We should extend them to cover `TestJdbcConnection`, `TestJdbcPreparedStatement`, `TestPrestoDatabaseMetaData`, `TestPrestoDriver`

cc @losipiuk

[2020-11-26 14:06] ssheikin opened #6106 "CachingJdbcClient invalidation is too coarse"
For example
`io.prestosql.plugin.jdbc.CachingJdbcClient#dropTable` invokes
`io.prestosql.plugin.jdbc.CachingJdbcClient#invalidateTablesCaches` which purges all caches despite the key.

[2020-11-26 14:52] findepi commented on #5758
https://github.com/prestosql/presto/runs/1453706083

[2020-11-26 14:57] findepi commented on #2929
https://github.com/prestosql/presto/runs/1454109647

[2020-11-26 14:58] sshkvar commented on #5616
@rdblue @electrum based on our discussion I have created additional PR https://github.com/prestosql/presto/pull/6108.
This PR adding ability to recursively delete table data on table drop. This functionality configurable and disabled by default (current behavior)
So Iceberg connector is responsible for deleting table data, @rdblue @electrum what do you think about this changes, is it make sense?

[2020-11-26 14:59] findepi commented on #2929
@dain is this code here
https://github.com/prestosql/presto/blob/b39435cc72647e56e1ba03bbdd3a02521cf4c63a/presto-main/src/test/java/io/prestosql/execution/TestSqlStageExecution.java#L128-L137
trying to create a million of threads?
I guess  it's not, that would be too many, but what is the actual limit?

[2020-11-26 16:37] zaz968m commented on #6106
relates to https://github.com/prestosql/presto/pull/5871

[2020-11-26 17:10] #6079 closed

[2020-11-26 17:42] findepi commented on #2929
https://github.com/prestosql/presto/runs/1459828200

[2020-11-26 19:18] kokosing commented on #6100
[code]
#6081

[2020-11-26 20:09] electrum opened #6111 "Support pattern matching via MATCH_RECOGNIZE"
Pattern matching allows a number of use cases that are difficult or impossible to do otherwise. This is specified in SQL:2016 as `MATCH_RECOGNIZE` in *4.17 Row pattern matching*.

Oracle has had an implementation of this for a while and very likely matches the standard [1] [2] [3].

1. http://docs.oracle.com/database/121/DWHSG/pattern.htm
2. http://www.oracle.com/ocom/groups/public/@otn/documents/

[2020-11-27 05:26] walter-weinmann commented on #5681
Unfortunately even with version 347 and the addition of the two batch operations still no improvement - interesting is the extremely high CPU consumption:

![image](https://user-images.githubusercontent.com/1956149/100414014-0ea80300-3079-11eb-844d-8c96fece010c.png)

[2020-11-27 05:28] ebyhr commented on #5681
@walter-weinmann It's expected behavior for now. Please follow this issue. https://github.com/prestosql/presto/issues/5913

[2020-11-27 07:27] CoachLuck commented on #6059
`Test...1` -> `TestPrometheusIntegrationMetrics` / `TestPrometheusIntegrationURI`
- startup and basic test functions being ran
- metrics checked
- URI checked

`Test...2` -> `TestPrometheusIntegrationSchema` / `TestPrometheusIntegrationSplit`
- Table values types checked
- Tests correct number of splits that were created.

`Test...3` -> `TestPrometheusIntegrationHealth` / `TestPrometheusIntegratio

[2020-11-27 07:45] sumannewton commented on #2748
@martint @bitsondatadev I have locally addressed all the points mentioned here except the caching.
In brief:
Added 3 configs at the catalog level:

- union-schema-indices-for-alias: Flag to merge fields of all indices under an alias. Defaults to false(older behavior).
- fail-on-alias-schema-mismatch: Flag to decide whether to fail or not when there is a type mismatch for the same field name. Defau

[2020-11-27 08:15] STTianXiang commented on #6073
For example, if I paste a 600-line SQL in presto-cli, it will report OOM.

[2020-11-27 08:35] kokosing opened #6117 "Product tests launcher hung before running product tets"
[code]

[2020-11-27 08:35] kokosing commented on #6117
@findepi Thank you for thread dump!

[2020-11-27 08:36] kokosing commented on #6117
This one looks like the most interesting, however I see `...` which are not helpful.

[code]

@wendigo Is this anyhow familiar to you?

[2020-11-27 09:06] wmoustafa commented on #5837
Created [this pull request](https://github.com/linkedin/coral/pull/24) to address this issue.

[2020-11-27 09:45] sjx782392329 commented on #6070
I use a test hive table reproduce this problem.
Below is my table building statement.
[code]
Then I insert a row data.
`NSERT INTO student PARTITION(dt='2020-11-27')
VALUES(1,"tom","man",18);
`
At this point, both 0.214 and 344 versions of Presto can be queried normally.
Then I modified the type of age, `int -> tinyint`
`ALTER TABLE student CHANGE COLUMN age age TINYINT;`
**Before I insert new dat

[2020-11-27 10:06] wendigo commented on #6117
@kokosing I came across such behavior locally and it was always due to Docker hanging (issuing other commands like `docker ps` would also hang).

[2020-11-27 10:16] kokosing commented on #6117
Oh. I got such issues when I was stressing local docker. Usually restart helps. So it is more infrastructure issue, not the tests code itself.

[2020-11-27 11:26] kokosing opened #6118 "TestSyncPartitionMetadata.testConflictingMixedCasePartitionNames is flaky"
[code]

[2020-11-27 11:44] sopel39 commented on #6100
[code]
https://github.com/prestosql/presto/pull/6114

[2020-11-27 12:16] kokosing commented on #6106
It is a bit complicated. Notice that when user drop a table, the table is dropped for all users. So we need to invalidate all entries that are about that table. Same goes to other caches.

[2020-11-27 12:17] kokosing commented on #6106
The thinking here was, that `DDL` queries are not that frequent and populating the cache again is not that expensive.

[2020-11-27 12:28] findepi commented on #6118
dups https://github.com/prestosql/presto/issues/4936

[2020-11-27 12:28] #6118 closed

[2020-11-27 12:29] findepi commented on #6118
https://github.com/prestosql/presto/pull/6123

[2020-11-27 12:54] sopel39 opened #6124 "Improve explain analyze tests"
Currently, explain analyze tests run query and do very basic matching of output (`assertExplainAnalyze`).
However, we should extend these tests to make sure that all expected analyzed components are present (e.g fragments for each stage, desired stats, etc).

[2020-11-27 15:09] walter-weinmann commented on #5648
This is still an issue in version 347.

[2020-11-27 17:06] somayaj commented on #6082
Hi, can this be worked?

[2020-11-27 20:56] sopel39 commented on #6100
[code]
https://github.com/prestosql/presto/pull/6115

[2020-11-27 21:13] luis-valdez commented on #6060
Hi! Can I work on this?

[2020-11-27 21:35] findepi commented on #6060
@luis-valdez sure, go for it!

[2020-11-27 22:44] phd3 commented on #6082
@somayaj Welcome! Feel free to take this up.

[2020-11-27 22:58] somayaj commented on #6082
Thanks

On Fri, Nov 27, 2020 at 4:44 PM Pratham <notifications@github.com> wrote:

[2020-11-28 00:14] tooptoop4 opened #6127 "Support public S3 bucket access (unsigned requests/anonymousCredentials)"
1. - https://github.com/prestosql/presto/pull/6131  for below:

how to make presto read data from a public s3 bucket? ie the details on https://registry.opendata.aws/deutsche-boerse-pds/.  when I try to create external table it complains that s3 access key/secret key must be provided. But AWS CLI commands work

"We would need equivalent of --no-sign-request probably"

Some research:
https://issues

[2020-11-28 01:57] bitsondatadev commented on #2748
@sumannewton Awesome!! Really looking forward to your PR. If would say to submit the PR and we can make further comments there.

Off the top of my head I would like for us to verify what @martint said by checking how ES handles mismatches so we can mirror that functionality.

I may also push to add caching...it's rather simple and I had implemented this in my last company, we just never got it mer

[2020-11-28 04:42] somayaj commented on #6052
Hi, can this be worked? thx

[2020-11-28 07:43] sumannewton commented on #2748
Yeah, caching is better. Will do that and raise a PR in a day or two.
Thanks @bitsondatadev

[2020-11-28 16:29] guyco33 opened #6132 "Support creation of csv data files with header"
Currently it's possible to skip headers while reading `csv` table, but it's not possible to write data files with header.
CSV table with `skip_header_line_count=1` should write `csv` files with header.

[2020-11-28 20:19] phd3 opened #6133 "Query Submission to Non-leaf Resource Groups"
Currently, A resource group may have sub-groups or may accept queries, but may not do both. https://github.com/prestosql/presto/blob/master/presto-main/src/main/java/io/prestosql/execution/resourcegroups/InternalResourceGroup.java#L593

This condition is not honored in the following case: A query matches a selector that points to a non-leaf group `A`. The nodes configured as the children of `A` ha

[2020-11-29 05:05] ebyhr opened #6135 "CI failure TestUnwrapCastInComparison.testCastTimestampToTimestampWithTimeZone"
This test is always failing now:
[code]

[2020-11-29 07:36] #6135 closed

[2020-11-29 14:45] kasiafi opened #6138 "Aggregation pushdown through join rule breaks plan dependencies"
[code]
This is due to incomplete remapping of AggregationNode structures.

[2020-11-29 20:26] findepi commented on #2929
https://github.com/prestosql/presto/runs/1470645283

[2020-11-29 21:22] kasiafi opened #6145 "Incorrect results of correlated null-sensitive aggregations"
In the following queries, the LATERAL relation contains global aggregation over empty input. The expected result of the subquery is `null`. The actual result is different due to incorrect rewrite:

For `checksum()`
[code]

For `array_agg()`
[code]

[2020-11-29 22:05] findepi commented on #5238
In https://prestosql.slack.com/archives/CP1MUNEUX/p1600689274028600 we decided not to fix this.

[2020-11-29 22:05] #5238 closed

[2020-11-29 22:13] findepi commented on #4188
I added `OptionalEquality` to the list. It's apparently possible to make a mistake when refactoring the code, like here
https://github.com/prestosql/presto/blob/ece62ab29bc96a723669687e17bc2eef183a2d4d/presto-base-jdbc/src/main/java/io/prestosql/plugin/jdbc/JdbcTypeHandle.java#L130

[2020-11-30 08:13] #4587 closed

[2020-11-30 08:22] findepi commented on #6100
[code]

#4587 #4588

[2020-11-30 08:54] findepi opened #6147 "Presto JDBC fails to return TIMESTAMP with second fraction equal to or greater than .9999999995"
[code]

[2020-11-30 09:37] ebyhr opened #6150 "Flaky test TestRedisDistributed correlated queries"
[code]

https://github.com/prestosql/presto/runs/1466334338

[2020-11-30 12:46] lukasz-walkiewicz commented on #5922
I'm afraid it's still flaky: https://github.com/prestosql/presto/pull/5355/checks?check_run_id=1472968160

[code]

[2020-11-30 13:39] #5955 closed

[2020-11-30 13:41] findepi commented on #6100
[code]

#6074 #5955

[2020-11-30 22:31] zaz968m commented on #6106
relates to https://github.com/prestosql/presto/pull/6160

[2020-12-01 06:35] #6138 closed

[2020-12-01 06:36] sopel39 commented on #6100
[code]
https://github.com/prestosql/presto/pull/6141

[2020-12-01 08:00] losipiuk commented on #5922
Technically it is very different code path. But outcome similar :/

[2020-12-01 09:03] findepi commented on #6150
Duplicate of https://github.com/prestosql/presto/issues/5758 ?

[2020-12-01 09:05] ebyhr commented on #6150
@findepi Probably. Let me close this one. I will reopen if needed.

[2020-12-01 09:05] #6150 closed

[2020-12-01 10:46] findepi commented on #1977
https://github.com/prestosql/presto/runs/1476878852

[2020-12-01 10:53] kokosing commented on #6100
[code]
#5355

[2020-12-01 11:55] losipiuk commented on #5922
Duplicate event stack traces:

1.
[code]

2.

[code]

[2020-12-01 12:06] losipiuk commented on #5922
I think the reason for flakiness here is race on execution of listeners registered via `stateMachine.addStateChangeListener`. So listener for `QueryState.FAILED` is executed before listener for state `QueryState.PLANNING`.

As a result the code in `LocalDispatchQuery()`:
[code]
assumes that query was not dispatched yet and sends completion event itself.
Then the event completion listener registere

[2020-12-01 12:29] kokosing opened #6166 "Fix JDBC metadata caching"
- invalidate all user columns when columns got changed (verify this is the only case)
  - eg currently columns are invalidated for current user only
- do not load caching when caching not requested in config
   - it seems that cache using `get(key, loader)` still functions as the cache with 0 ttl, effecting in sharing rather than no-op
- use session properties in cache keys

[2020-12-01 12:29] kokosing commented on #6166
FYI @findepi

[2020-12-01 13:42] #5855 closed

[2020-12-01 14:31] findepi commented on #4860
@wendigo please close it with appropriate milestone

[2020-12-01 14:31] findepi commented on #5351
i think this has been fixed recently
@losipiuk if the case, please close it with appropriate milestone

[2020-12-01 14:32] findepi commented on #6100
[code]

#6119

[2020-12-01 15:02] losipiuk commented on #5351
Yeah - it is fixed in 346

[2020-12-01 15:02] #5351 closed

[2020-12-01 15:36] ckdarby commented on #5480
@findepi Any internal progress at Starburst to open up a generic chart for both Starburst's edition & community edition? I'm asking as helm is [deprecating their chart repo](https://helm.sh/blog/charts-repo-deprecation/) and this includes the [PrestoSQL stable repo](https://github.com/helm/charts/tree/master/stable/presto).

[2020-12-01 15:37] #4860 closed

[2020-12-01 18:01] nautilus28 opened #6170 "Iceberg catalog: connecting to Google Cloud Storage produced error"
The [documentation](https://prestosql.io/docs/current/connector/iceberg.html) says that **Iceberg supports the same metastore configuration properties as the Hive connector.** However, when I provide the catalog `iceberg.properties` with

`connector.name=iceberg`
`hive.metastore.uri=thrift://hive-metastore:9083`
`hive.gcs.json-key-file-path=/gcs_keyfile.json`

I got the following error:

[code]
I

[2020-12-01 18:29] vkingnew opened #6171 "what's the lastest version when java in JDK8"
+======================================================================+
|      Error: Required Java version could not be found                 |
+----------------------------------------------------------------------+
| Please install JDK 11. On RHEL/CentOS, use java-11-openjdk-devel.    |

Most time ,I used java 8 in productions, i don't want to have more risk on productions, so what's latest ve

[2020-12-01 19:06] rayauf commented on #5519
Hi, is anyone still working on this? I would like to tackle it.

[2020-12-01 20:11] lukasz-walkiewicz opened #6172 "SSL errors after updating OkHttp to a version >= 3.10.0"
After upgrading the OkHttp library to a version >= 3.10.0 presto-jdbc no longer resolves certificates using it's `CN` field due to deprecation of the fall back mechanism.
[code]
According to the RFC:
[code]
For example: an exception from a product test after updating the library to 3.14.9 (the newest 3.x.x version):
[code]
I've prepared a PR (#6151) in which I've fixed this for product tests by re

[2020-12-01 20:45] #3641 closed

[2020-12-02 08:34] findepi commented on #5913
@martint do you have any thoughts how this could look like from Presto parser/analyzer perspective?

[2020-12-02 09:44] sopel39 commented on #6100
[code]
https://github.com/prestosql/presto/pull/6126

[2020-12-02 09:46] sopel39 commented on #6100
[code]
https://github.com/prestosql/presto/pull/6176

[2020-12-02 09:46] sopel39 commented on #5519
Sure, go ahead

[2020-12-02 09:57] sopel39 commented on #6100
[code]
https://github.com/prestosql/presto/pull/6158

[2020-12-02 12:38] kokosing commented on #6172
@lukasz-walkiewicz Please correct me if I am wrong. The recommended way (of not using `CN` when resolving certificates) is also supported and we could possibly update our tests without updating Okhttp library. If is true, then we are not sure how many Presto users were using this actually. It might be that it is not a problem actually as there are not many such users.

If so can we update tests to

[2020-12-02 18:30] dain commented on #5913
I wonder if this can be rewritten to a JOIN with a VALUES expression.  Clearly it wouldn't work for every query, but where it didn't work, I wouldn't expect `executeBatch` to work anyway.

BTW, I think what people really want here it to be able to stream results into a table.  Something like postgres https://www.postgresql.org/docs/9.4/sql-copy.html, where you are basically creating a remote table

[2020-12-02 19:13] manupatteri commented on #5776
Hi! Newbie to presto here.  Can I work on this ?

I would like some guidance on some sample connectors from where we  would like to extract DynamicFiltering tests. Thanks.

[2020-12-02 20:16] wccropper opened #6183 "openldap unable to simple bind when ldap server uses dual certs"
I am connecting prestosql 346 single node coord+worker to OPENLDAP. I have created a jks for the web-ui SSL. I am configuring the password-authenticator.properties. My LDAP has two certs (ldap+ca). How do I make this work? i can do insecure ldap with my config, but ldaps+cert-bundle (created bundle with ldap.pem+ca.pem) doesn’t seem to work.
[code]
/etc/presto/password-authenticator.properties
[co

[2020-12-02 20:56] dain commented on #6183
I expect that this would just work.  Do you have both certs in the pem file?

[2020-12-02 21:08] wccropper commented on #6183
Yes I have the ldap.pem first and the ca.pem 2nd. (cat them into the same file in that order)

[2020-12-02 21:35] dain commented on #6183
Why not use anonymous then?  If you want to do that, switch to ldap protocol, remove the ssl-trust property, and add `ldap.allow-insecure=true`

[2020-12-02 21:37] findepi commented on #5913
@dain i agree. We should have better higher level options than just "do a bunch of inserts".
Yet, i think we could improve inserts as a common primitive scenario that could just work better (somehow).

We could easily rewrite batched INSERT with single rows as single INSERT with bigger VALUES, but this it not entirely correct:

- we can't just "rewrite query" because we need to be able to report e

[2020-12-02 21:40] dain commented on #5913
@findepi I understand.  I'm saying that unless it works out **exactly correctly** then you either fail or fall back to record at a time.

[2020-12-02 21:44] dain commented on #5913
@walter-weinmann I understand.  What I'm attempting to say, poorly, is that, I skeptical doing this as batch together a bunch of inserts will result in the performance you are seeking.  To do that, I think we need to treat the input data as a table in Presto, and we would stream these results from the client.  This is similar to the normal solution we suggest to people asking about this which is:

[2020-12-02 21:50] wccropper commented on #6183
I want to use ssl+ldap. Insecure is not an option. it is not anonymous binding. All legitimate users can bind. That was a mis-speaking on my part.

[2020-12-02 21:53] lukasz-walkiewicz commented on #6172
Yes, that's correct. Updating the OkHttp library is optional.

[2020-12-02 22:14] losipiuk commented on #5922
Fix attempt: https://github.com/prestosql/presto/pull/6185

[2020-12-02 22:59] anjalinorwood commented on #5201
Any ideas as to root cause @findepi , @lxynov ? I see this issue consistently on our fork of presto-342. I am also able to repro using the following CTAS. The parquet file produced looks sound when examined using the `parquet` tool. It seems like the stream is prematurely closed and an exception is thrown when a reader tries to read from the stream.

`CREATE TABLE iceberg.tpch.test_create_partitio

[2020-12-02 23:17] electrum commented on #6170
This is a bug. Fixed by https://github.com/prestosql/presto/pull/6186

[2020-12-02 23:26] electrum commented on #6171
You can install a private JDK just for Presto -- there is no risk to anything else. Simply download the [Zulu JDK](https://www.azul.com/downloads/zulu-community/?version=java-11-lts&package=jdk) tarball and unpack it, then put the `bin` directory from that JDK first in your `PATH` when running Presto.

Another option is to use the [Presto Docker image](https://hub.docker.com/r/prestosql/presto), w

[2020-12-02 23:26] #6171 closed

[2020-12-02 23:29] electrum commented on #6172
Do other tools like `curl` work with `CN`?

[2020-12-02 23:34] dain commented on #6183
So, what you have should just work.  Assuming your ldap certificate is signed by the CA, you only need the CA certificate in the pem file, but it should be fine to have either or both... the server just needs to trust one certificate from the certificate presented by the server to the signing root in the chain.

BTW, I don't think you need `ldap.group-auth-pattern`.  I don't think that is used in

[2020-12-03 10:58] clemensvonschwerin opened #6187 "Allow custom Supplier<S3SecurityMappings> for presto-hive"
Hey guys,

for our setup with presto we cannot supply S3 security mappings via file due to security reasons. Unfortunately, at the moment there is no plugin option for writing a custom supplier for those s3 mappings. I would like to introduce that and write a PR for that. My approach would be:
1. add an interface S3SecurityMappingsSupplier which should basically only extend Supplier<S3SecurityMapp

[2020-12-03 11:31] kokosing commented on #6187
What would be other options besides `FileBasedS3S3SecurityMappingsSupplier`?

This sounds fine to me.

[2020-12-03 11:33] wendigo opened #6189 "Fix aggregation function alias pushdown"
Today if the given aggregation function is pushed down into the connector both name and alias (if declared for function) are pushed down to the `applyAggregation()`. Alias should be resolved to name instead.

relates to https://github.com/trinodb/trino/issues/6736

[2020-12-03 11:36] wendigo opened #6190 "Improve CLI color scheme on dark terminal background"
For me, on a dark themed terminal, presto prompt is invisible.

Pic:
![Screenshot 2020-12-03 at 12 36 05](https://user-images.githubusercontent.com/66972/101013141-204f4600-3564-11eb-863c-77606fc2fdbe.png)

![Screenshot 2020-12-03 at 12 36 22](https://user-images.githubusercontent.com/66972/101013164-29d8ae00-3564-11eb-9950-2bbe1c08d69c.png)

[2020-12-03 11:59] ebyhr commented on #2187
Let's continue in #6190

[2020-12-03 11:59] #2187 closed

[2020-12-03 12:51] wendigo opened #6193 "testDoubleNaNInfinity(io.prestosql.plugin.hive.parquet.TestFullParquetReader) maxCapacityHint can't be less than initialSlabSize"
[code]

[2020-12-03 12:51] wendigo commented on #6193
https://github.com/prestosql/presto/pull/6169/checks?check_run_id=1492249667

[2020-12-03 13:23] sshkvar commented on #5616
@electrum @rdblue what do you think about PR https://github.com/prestosql/presto/pull/6108?

[2020-12-03 13:28] sopel39 commented on #6193
fyi @dain

[2020-12-03 14:18] losipiuk commented on #6193
https://github.com/prestosql/presto/pull/6165

[2020-12-03 14:33] findepi commented on #6052
Yes, but we need to have tempto release first. I will update here when the release is done

[2020-12-03 15:08] tooptoop4 commented on #1416
@51yu what customisation did u make?

[2020-12-03 16:25] sajjoseph commented on #5977
We are impacted by this issue and we ended up rolling back our recent upgrade (hive views support is a key requirement in our environment). Really appreciate any quick resolution to this challenge.

[2020-12-03 16:30] GaruGaru commented on #5072
I've submitted the pull request #6178 with some changes / performance improvements, big thank you to @hsuchenc for his work

[2020-12-03 19:00] wmoustafa commented on #5977
@rzhang10 started looking into this last week. We are encountering a couple of issues, but hopefully the fix will be out soon.

[2020-12-03 19:08] findepi commented on #5977
In the meantime, we're providing legacy behavior as an escape hatch for this and couple other regressions encountered with the introduction of Coral:
https://github.com/prestosql/presto/pull/6195
This should remove blockers and help users in the short term, allowing us to focus on building better Hive VIEW support for the long term.

cc @losipiuk

[2020-12-03 22:54] miguelknb commented on #2866
Hi there. Is this still open? If so, I would like to work on it.

[2020-12-03 23:49] ebyhr commented on #2866
@miguelknb Yes, it's still opened. Go for it!

[2020-12-04 00:15] martint commented on #6111
The Row Pattern Recognition technical report can be downloaded from here: http://standards.iso.org/ittf/PubliclyAvailableStandards/c065143_ISO_IEC_TR_19075-5_2016.zip

[2020-12-04 01:53] wangfeigithub opened #6200 "PushProjectionIntoTableScan fails with: "Multiple entries with same key""

[2020-12-04 01:55] wangfeigithub commented on #6200
When I upgraded PreSTO338 to 344,Here's what happened;
Caused by: java.lang.IllegalArgumentException: Multiple entries with same key: @2452f4c3: null=null and @2452f4c3: null=null
	at com.google.common.collect.ImmutableMap.conflictException(ImmutableMap.java:215)
	at com.google.common.collect.ImmutableMap.checkNoConflict(ImmutableMap.java:209)
	at com.google.common.collect.RegularImmutableMap.chec

[2020-12-04 01:56] wangfeigithub commented on #6200
hi!
Then I tested Presto with 345 and 346, and this error occurred even though my production environment was 338.

[2020-12-04 03:52] manupatteri commented on #1724
@findepi Wondering if this issue is still valid or if it can be closed . I see that https://github.com/prestosql/presto/pull/3880 has already added tests covering  QueryStatistics. Just that recently test has moved to TestEventListenerWithSplits#TestEventListenerWithSplits and TestEventListenerBasic#testOutputStats.  Both them seem to be covering all methods of QueryStatistics.

[2020-12-04 07:10] #6147 closed

[2020-12-04 07:12] findepi commented on #6100
[code]

#6147 https://github.com/prestosql/presto/pull/6149

[2020-12-04 08:50] findepi opened #6202 "Include full stacktraces from LogTestDurationListener test hang monitor"
See https://github.com/prestosql/presto/runs/1497472672

- tests apparently hanged
- one test thread is here:

[code]

- the information who owns `TestClass@2a78dd6a` is not present, probably because every stacktrace is limited to 8 frames.

see full thread dump -- https://github.com/prestosql/presto/runs/1497472672  or  https://gist.github.com/findepi/2f87bad4047976bee6af9223f5d3ff6c

[2020-12-04 08:51] findepi commented on #6202
The relevant code is here:
https://github.com/prestosql/presto/blob/e7c36e313809310f94ee94491937a663aa037365/presto-testng-services/src/main/java/io/prestosql/testng/services/LogTestDurationListener.java#L149

[2020-12-04 09:45] sopel39 commented on #6200
cc @martint

[2020-12-04 09:46] sopel39 commented on #6200
Can you share a query that caused this failure?

[2020-12-04 10:03] findepi opened #6204 "Presto JDBC fails to return TIME [TZ] with second fraction equal to or greater than .9999999995"
[code]

Rel https://github.com/prestosql/presto/issues/6147

[2020-12-04 10:04] findepi opened #6205 "Determine correct rounding in Presto JDBC for TIME [TZ] values with precision higher than milliseconds"
Currently the value is truncated to milliseconds here:
https://github.com/prestosql/presto/blob/04533cc4cfcc3e41d7c063a27830c40b656a88df/presto-jdbc/src/main/java/io/prestosql/jdbc/AbstractPrestoResultSet.java#L1979
Perhaps it should be rounded instead.

[2020-12-04 10:20] sopel39 commented on #5776
Currently dynamic filtering e2e integration with connectors is tested in different places:
`TestMemorySmoke` some tests there are used to test node-local dynamic filters
`TestHiveDynamicPartitionPruning` is used to test coordinator dynamic filters
`TestKuduIntegrationDynamicFilter` are kudu specific tests

Some of the tests could be made engine only tests (if TPCH had support for dynamic filters).

[2020-12-04 14:13] nautilus28 commented on #6170
Thanks @electrum for the quick fix. Do you have idea when this could be released?

[2020-12-04 16:15] findepi opened #6209 "Consider representing date/time values in JDBC ResultSet.getObject using java.time classes"
https://github.com/prestosql/presto/pull/307 adds support to get `timestamp with time zone` as  `ZonedDateTime`,
but `ResultSet.getObject(col)` still returns `java.sql.Timestamp`.

More broadly:

type | current representation in `rs.getObject` | could be converted to | supports explicit conversion
-----|-------------------------------------- | ---------------------- | ----------------------------

[2020-12-04 17:35] clemensvonschwerin commented on #6187
In our use case we need to get our role mappings from a custom service because of architectural security reasons. I could imagine that other people might also want to store their role mappings in secrets / secret-storages such as kubernetes secrets or vault.

Great, please have a look at PR #6210.

[2020-12-04 17:53] miguelknb commented on #2866
I've studied and tested this part of the code. This is caused by an unhandled error inside the StageStatistics class.

Uncaught TypeError: Cannot read property 'subStages' of undefined
    at Function.flattenStage (LivePlan.jsx:125)
    at Function.getStages (LivePlan.jsx:119)
    ...

If a failed query is sent to this component, it fails inside the getStages for not having the outputStage proprty

[2020-12-04 22:27] findepi commented on #6200
@wangfeigithub we need your help in reproducing the problem.
What is your query and which connector is it using?

[2020-12-04 22:29] findepi commented on #1724
@manupatteri indeed, this should be closed after that PR. Thanks!

[2020-12-04 22:29] #1724 closed

[2020-12-04 23:33] #5904 closed

[2020-12-04 23:33] #6145 closed

[2020-12-04 23:37] martint commented on #6100
[code]

https://github.com/prestosql/presto/issues/6145

[2020-12-04 23:38] martint commented on #6100
[code]

https://github.com/prestosql/presto/issues/5904

[2020-12-05 07:57] findepi commented on #6059
Sounds good to me.

[2020-12-07 02:41] wangfeigithub commented on #6200
Perform the following
![image](https://user-images.githubusercontent.com/29723968/101303312-b04d0280-3878-11eb-992e-5b221bf0ce34.png)

[2020-12-07 02:41] wangfeigithub commented on #6200
insert into hive.dw.fact_bsc_signbody_log
select
    concat('9045', _id) as row_id,
    '20201016' as etl_proc_wid,
    current_timestamp  as w_insert_dt,
    current_timestamp  as w_update_dt,
    '9045' as datasource_num_id,
    'batch' as data_flag,
    null as timezone,
    null as exchange_rate,
    _id as signbody_log_id,
    AccountCode as account_code,
    ChangeType as change_type,
    ca

[2020-12-07 02:42] wangfeigithub commented on #6200
CREATE TABLE hive.dw.fact_bsc_signbody_log (
   row_id varchar,
   etl_proc_wid varchar,
   w_insert_dt timestamp(3),
   w_update_dt timestamp(3),
   datasource_num_id varchar,
   data_flag varchar,
   timezone integer,
   exchange_rate decimal(18, 4),
   signbody_log_id varchar,
   account_code varchar,
   change_type integer,
   change_type_val varchar,
   operation_type integer,
   operation_ty

[2020-12-07 02:42] wangfeigithub commented on #6200
CREATE TABLE real_mysql.mongodb.sign_body_log (
   _id varchar(255) NOT NULL,
   accountcode varchar(255),
   changetype integer,
   operationtype integer,
   userid integer,
   username varchar(255),
   datafrom varchar(255),
   datato varchar(255),
   remark varchar(255),
   ipaddress varchar(255),
   systemtype integer,
   addtime timestamp(3)
)

this is mysql source

[2020-12-07 03:39] wangfeigithub opened #6217 "Presto UI does not show details when I configure SSL and Ranger"
Hello, when I configured SSL and Ranger, the UI could not see the SQL details of someone else running

[2020-12-07 05:38] wangfeigithub commented on #6217
![image](https://user-images.githubusercontent.com/29723968/101313537-4c830380-3891-11eb-959b-900086773c45.png)
![image](https://user-images.githubusercontent.com/29723968/101313554-53aa1180-3891-11eb-975a-b42e5f7d3453.png)
How do I configure all access rights for my primary account?

[2020-12-07 05:48] CoachLuck commented on #6202
@findepi A solution could be to copy the existing [ThreadInfo.toString() method](http://www.howsoftworks.net/j/ThreadInfo) since all it needs is to override the default Max Frame limit.

Taking this method, we can suit it to our needs and call it some new method for example `getFullStackTrace`
The final method would look something like this:

[code]

* This allows us to continue reading up to 50 f

[2020-12-07 10:10] kokosing commented on #6217
What kind of Presto Ranger integration are you using?

[2020-12-07 10:19] wangfeigithub commented on #6217
hi ,apache ranger2.1  presto338.

[2020-12-07 10:20] wangfeigithub commented on #6217
How do I configure a super administrator to see all query Details?

[2020-12-07 10:22] findepi opened #6220 "Sporadic failure: Expected operatorType to be PagesIndexBuilderOperator but was PageBufferOperator"
Relates to df4fe40be6a61e6a6beaef90acb45b1bafb2874b https://github.com/prestosql/presto/pull/6120

[2020-12-07 10:22] findepi commented on #6220
Observed on a fork https://github.com/findepi/presto/runs/1503892606?check_suite_focus=true but the tested branch has no execution related changes

[code]

[2020-12-07 10:24] kokosing commented on #6217
But what Presto plugin for Ranger are you using?

[2020-12-07 10:39] sopel39 commented on #6220
cc @erichwang

[2020-12-07 10:40] wangfeigithub commented on #6217
apache ranger presto2.1  Presto plugin

[2020-12-07 11:48] findepi commented on #6202
That would be good from technical perspective, but unfortunately it is not possible due to licensing reason.
The JDK is distributed under GPL (with classpath exception) license, and so the code from JDK cannot be copied into Apache License-licensed project.

We want to have the exact same behavior though, so the code needs to be written anew, taking at most inspiration only from the JDK code.

[2020-12-07 12:01] wendigo opened #6223 "Flaky io.prestosql.server.security.oauth2.TestOAuth2WebUiAuthenticationFilter: testExpiredAccessToken, testSuccessfulFlow"
[code]

[2020-12-07 12:01] wendigo commented on #6223
https://github.com/prestosql/presto/pull/6167/checks?check_run_id=1510122834

[2020-12-07 12:01] wendigo commented on #6223
cc @kokosing

[2020-12-07 12:02] findepi commented on #6223
cc @lukasz-walkiewicz

[2020-12-07 12:04] findepi commented on #5758
https://github.com/prestosql/presto/runs/1502942549, also with redis

[2020-12-07 12:40] findepi commented on #5975
@ebyhr posted a fix https://github.com/linkedin/coral/pull/23

Before we close this issue, I'd want to have an integration test on Presto side too.

[2020-12-07 12:42] findepi commented on #5837
@wmoustafa thanks for the pointer.

BTW Before we close this issue, I'd want to have an integration test on Presto side too.
See `io.prestosql.tests.hive.TestHiveViews#testRichSqlSyntax` for existing coverage.

[2020-12-07 12:44] kokosing commented on #6217
I suspect you wanted to open this issue here: https://issues.apache.org/jira/browse/RANGER We don't control this plugin and so we are unable to help you here. If you open an issue there, please link it back here for future reference for others.

Just a shoot. Does it work without SSL?

[2020-12-07 13:47] findepi commented on #2929
https://github.com/prestosql/presto/runs/1510066934

@dain did you have a chance to look into https://github.com/prestosql/presto/issues/2929#issuecomment-734344611 ?

[2020-12-07 14:00] findepi commented on #2390
Merging with https://github.com/prestosql/presto/issues/4936
Code will be updated in https://github.com/prestosql/presto/pull/6227

[2020-12-07 14:00] #2390 closed

[2020-12-07 19:55] CoachLuck commented on #6202
Sounds like this is something I could work on implementing. Mind if I give it a shot?

A couple of questions for moving forward:
* Do we need to even set a limit of max lines? As if we want **all** of the information we might as well let it work to through every single stack trace element.
* Should we display information regarding the number of blocks/waits that occur? (Using getBlockedCount() & g

[2020-12-07 20:54] findepi commented on #6202
go for it, thanks!

no need for a limit

My personal opinion is that we do not need this.

If a thread is currently blocked, having information how long it is blocked could be useful

You didn't ask for this, but to be sure we're on the same page, the pretty important part of the output is

- owned locks  ("locked" & "locked synchronizers")
- locks being attempted

as the most common thing to look

[2020-12-07 21:04] #2929 closed

[2020-12-07 21:08] kokosing opened #6233 "Flaky TestOAuth2WebUiAuthenticationFilter.testExpiredAccessToken"
[code]

[2020-12-07 21:11] findepi commented on #6233
https://github.com/prestosql/presto/issues/6223

[2020-12-07 21:11] #6233 closed

[2020-12-07 21:36] findepi opened #6234 "Hive VIEW with char(n) fails with "View is stale; it must be re-created""
Hive
[code]

Presto
[code]

(This is a regression in Presto 345)

[2020-12-07 21:48] rdblue commented on #5616
I'm going to put an item on the agenda for the next Iceberg community sync to talk about prefix ownership. There are some good questions here:

1. Should we assume that a table owns a prefix and can delete it when it is removed?
2. If yes, where should that happen? If not, should we have a config property to turn it on?

[2020-12-07 22:39] phd3 commented on #6100
[code]

[code]

#6006

[2020-12-07 22:48] #5923 closed

[2020-12-08 00:44] Chaho12 opened #6235 "java.lang.NullPointerException: undefined when using CROSS JOIN UNNEST function"
Hi. Am am using `CROSS JOIN UNNEST` function as the [document](https://prestosql.io/docs/current/migration/from-hive.html) saids to use instead of `LATER VIEW EXPLODE`.

I am not sure if my UDF is wrong, but it returns `array(varchar)` (in the form of block) successfully (same result as hive)
this is shown when i do show functions
`lago_filter                     | array(varchar)               | a

[2020-12-08 00:45] Chaho12 commented on #6235
Btw. the hive sql below works
[code]

[2020-12-08 00:55] Chaho12 commented on #6235
Is it alright to not check block size before doing `block.getPositionCount()`?  [line 150](https://github.com/prestosql/presto/blob/master/presto-spi/src/main/java/io/prestosql/spi/block/ArrayBlockBuilder.java#L150)
Because i check if it is null before doing `getPositionCount()`
[code]

[2020-12-08 01:04] Chaho12 commented on #6235
In my udf, i have `return null` if input is null for the UDF. I am not too familiar with the concept of `Block` in presto, but should it return `null` or `empty block` when there is `null input`?

[code]

[2020-12-08 01:29] CoachLuck commented on #6202
@findepi I went with creating a new class called `StackTraceUtil` that has a singular public method to retrieve full stack trace information as this could be used anywhere that `ThreadInfo` would like to be inspected. This goes a little more in-depth than the normal toString() function on `ThreadInfo`, by adding the following information:
* DAEMON status
* Time spent on blocked/waiting threads
* L

[2020-12-08 04:18] JamesRTaylor commented on #5688
Any progress on this one yet, @wmoustafa?

[2020-12-08 04:22] #5998 closed

[2020-12-08 06:22] wmoustafa commented on #5688
We are planning to check it in this week. cc: @kxu1026

[2020-12-08 07:21] sjx782392329 commented on #6070
@findepi @dain  @martin @electrum Please help me, I have to solve this before I upgrade Presto from 0.214 to 344

[2020-12-08 07:50] sshkvar commented on #5616
@rdblue I have created another merge request which adds ability to have unique table location for each table https://github.com/prestosql/presto/pull/6063, so based on it each table will have unique location and can delete it when it is removed. Also this PR https://github.com/prestosql/presto/pull/6108 adds ability to recursively delete table data on drop (disabled by default, but can be enabled

[2020-12-08 08:47] findepi opened #6238 "Failure when sending SphericalGeography to the client"
[code]

[2020-12-08 08:52] wendigo opened #6239 "Memory connector's view is not visible in system.jdbc.tables"
Similar to https://github.com/prestosql/presto/issues/3195 but different ;)

Reproduction:

[code]

In hive:

[code]

I've debugged that and the cause of that behavior is `MetadataManager.listTables`: https://github.com/prestosql/presto/blob/41a777bd529be737e3d4394f45cfede1d25c806e/presto-main/src/main/java/io/prestosql/metadata/MetadataManager.java#L555-L560 which delegates to `MetadataManager.ge

[2020-12-08 09:30] findepi opened #6242 "ResultSet.getDate fails when there is JVM time zone offset forward change at midnight"
[code]

It should **probably** return
[code]

see https://github.com/prestosql/presto/blob/46fbb4bf4ee22d00e809dff28057c297bb9358a4/presto-base-jdbc/src/main/java/io/prestosql/plugin/jdbc/StandardColumnMappings.java#L338-L340

[2020-12-08 09:46] sopel39 commented on #6100
[code]
https://github.com/prestosql/presto/pull/6213

[2020-12-08 10:01] losipiuk commented on #6239
I would expect the latter. That `listTables` should check for a view. The other option is not feasible as a view is not an entity connector can read directly from, so you cannot create a TableHandle for it.
cc: @findepi, @martint

[2020-12-08 10:07] wendigo commented on #6239
Then why `HiveMetadata.getTableHandle` returns non-null value for Hive view?

[2020-12-08 10:54] findepi opened #6247 "ResultSet.getString is not useful for VARBINARY"
It returns something like `[B@2de82bf8`

[2020-12-08 10:55] findepi opened #6248 "ResultSet.getString is not useful for types backed by byte[]"
For example when reading `qdigest` this returns something like `[B@2de82bf8`

Relates to: https://github.com/prestosql/presto/issues/6247

[2020-12-08 10:56] findepi commented on #6248
Perhaps we could realize value is an array and use `java.util.Arrays#deepToString` @
https://github.com/prestosql/presto/blob/04533cc4cfcc3e41d7c063a27830c40b656a88df/presto-jdbc/src/main/java/io/prestosql/jdbc/AbstractPrestoResultSet.java#L204

[2020-12-08 10:57] findepi commented on #6248
cc @electrum @losipiuk @kokosing thoughts?

also, would be good to check what other JDBC driver vendors do.

[2020-12-08 11:13] findepi commented on #6247
FWIW, for equivalent of `X'12345678'`,

- Oracle `ResultSet.getString` returns `"12345678"` String
- PostgreSQL `ResultSet.getString` returns `"\x12345678"` String

[2020-12-08 11:17] losipiuk commented on #6239
Accidentally? I am not sure, but it would be my guess.

[2020-12-08 11:34] findepi opened #6250 "Possible NullPointerException when canceling query"
[code]

[2020-12-08 11:38] ebyhr commented on #6250
Maybe duplicate of #1350 (#2683)?

[2020-12-08 12:00] findepi opened #6251 "DatabaseMetaData and ResultSetMetaData are not consistent about TIMESTAMP WITH TIME ZONE type code"
[code]

[code]

[2020-12-08 12:40] #6048 closed

[2020-12-08 12:40] #6251 closed

[2020-12-08 12:44] findepi commented on #6100
[code]

#6251  https://github.com/prestosql/presto/pull/6208 #6048

[2020-12-08 12:49] findepi commented on #6100
[code]

#307

[2020-12-08 12:55] findepi commented on #5758
`Cannot apply operator: double - integer` this time with Iceberg connector https://github.com/prestosql/presto/runs/1516253689

This time we have additional cause attached (added in https://github.com/prestosql/presto/pull/5761)
cc @martint

[code]

[2020-12-08 13:20] losipiuk opened #6252 "Add tests to verify eventCreated listener is called before query analysis starts up"
See:
https://github.com/prestosql/presto/commit/f88b1154dd806825688d2ba012d9f6d9cc1b2812#commitcomment-44912222

[2020-12-08 13:25] losipiuk commented on #6248
That was exactly my though. I think we should mimic what others do. Hopefully there is some consensus already.

[2020-12-08 15:00] pPanda-beta opened #6254 "Json path doesn’t support complete array or slice array"
### When we execute :
[code]
or
[code]
or
[code]

### we expect result :  (As per documentation)
[code]

### But we get :
[code]

### Possible reason:
https://github.com/prestosql/presto/blob/f92c6c39404e602c38bbd5e88b818fffea77111f/presto-main/src/main/java/io/prestosql/operator/scalar/JsonPathTokenizer.java#L107-L110

## Correct Json path specification :
https://goessner.net/articles/JsonPath/
A

[2020-12-08 15:10] findepi commented on #6235
Why your function has no declaration of `returnBlock` variable type? Is it a local variable of a field in the class?

[2020-12-08 16:05] #6238 closed

[2020-12-08 16:07] findepi commented on #6100
[code]

#6238 https://github.com/prestosql/presto/pull/6240

[2020-12-08 16:09] findepi commented on #5758
https://github.com/prestosql/presto/runs/1517539851 with Kudu

[code]

[2020-12-08 16:14] findepi commented on #5758
I think this has something to do with coercions not being applied correctly, not the function registry itself.

Note also that apparently all these failures are for correlated subqueries, which are (as some of you know) challenging to apply coercions for.

[2020-12-08 17:10] losipiuk commented on #6100
[code]

#6103

[2020-12-08 18:30] phd3 commented on #6100
[code]

#4932

[2020-12-08 20:54] electrum commented on #6170
@nautilus28 we should be able to merge this for 348, which will be out in the next few days

[2020-12-08 20:57] nautilus28 commented on #6170
Thanks @electrum, I merged the PR and made a custom build. It does fix the issue 👍

[2020-12-09 01:44] Chaho12 commented on #6235
@findepi
ah yes. `private static BlockBuilder returnBlock;`

[2020-12-09 02:21] #6170 closed

[2020-12-09 08:36] findepi commented on #5758
@martint suggested adding some checks to `BoundVariables` that we're not overwriting the state.
[ https://github.com/prestosql/presto/pull/6257 ]

[code]

will look further.

[2020-12-09 09:26] kokosing opened #6264 "Configuration for boolean properties do not have common convention"
[code]

The goal of this task is to make all such properties be coherent and intuitive as much as possible. We should use convention `feature.enabled`. For example `@Config("hive.non-managed-table-writes-enabled")` should become `@Config("hive.non-managed-table-writes.enabled")`

[2020-12-09 10:11] losipiuk commented on #6100
[code]

#6195 #5977

[2020-12-09 10:45] findepi commented on #5758
https://github.com/prestosql/presto/runs/1517539851

[2020-12-09 10:45] findepi commented on #5201
https://github.com/prestosql/presto/runs/1517539869

[2020-12-09 10:53] findepi commented on #6100
[code]

part of #6204, https://github.com/prestosql/presto/pull/6206

[2020-12-09 10:54] findepi commented on #6204
TIME fixed in https://github.com/prestosql/presto/pull/6206
TIME WITH TIME ZONE to be fixed.

[2020-12-09 11:50] wendigo opened #6266 "Flaky io.prestosql.plugin.memory.TestMemorySmoke.testCrossJoinDynamicFiltering"
[code]

[2020-12-09 11:50] wendigo commented on #6266
https://github.com/prestosql/presto/pull/6241/checks?check_run_id=1523270610

[2020-12-09 11:50] wendigo commented on #6266
cc @sopel39

[2020-12-09 11:55] wendigo commented on #6239
@losipiuk I've seen a couple of places where we don't check for view existence but rely on Hive's getTableHandle returning non-null value for views (i.e. GrantTask). These places should be fixed as well.

[2020-12-09 11:59] sopel39 commented on #6266
This suggests: https://github.com/prestosql/presto/issues/5172

[2020-12-09 12:11] #6239 closed

[2020-12-09 13:36] findepi opened #6269 "Test Hive VIEW with all Hive data types"
https://github.com/prestosql/presto/issues/6234 shows that type mapping can work for one type but not for the other.

- we should have a test ensuring all Hive data types supported by Presto are correctly translated.
- we should add some provisions to this test to ensure the test is updated when new Hive data type support is added

[2020-12-09 15:20] mareban opened #6271 "Elasticsearch beats log support"
Hello,

Is beats (e.g winlogbeat) log supported ? I can access indices with simple fields, but nested seems to be not supported yet or did i miss something ? We are using an elasticsearch 7.6.1 and the lastest prestosql packages !

Thanks for your help

[2020-12-09 15:24] brandboat commented on #6189
Hello, I would like to take over this issue. Could you provide a SQL statement that reproduce this issue ? Many thanks. 😃

[2020-12-09 15:43] losipiuk commented on #6264
Old config version should still work. This can be achieved via `@LegacyConfig`

[2020-12-09 15:59] losipiuk commented on #6271
cc @martint

[2020-12-09 16:10] findepi commented on #4063
https://github.com/prestosql/presto/runs/1524036509

https://github.com/prestosql/presto/pull/6272 -- mark

[2020-12-09 16:10] #6247 closed

[2020-12-09 16:12] findepi commented on #6100
[code]

#6247 https://github.com/prestosql/presto/pull/6246

[2020-12-09 19:26] #6106 closed

[2020-12-09 19:26] #6166 closed

[2020-12-09 19:31] kokosing commented on #6100
[code]
#6167

[2020-12-09 20:56] martint commented on #6271
Nested data types are supported. Can you elaborate on what problem you're seeing, specifically?

It would help if you could provide your index mapping definition and the error you're getting.

[2020-12-09 21:30] Gaurang033 opened #6273 "presto UDF: varchar not found"
hi Guys,

I am trying to develop a custom UDF and getting following error.

**presto version: 0.227**

**Code**
[code]

UdfPlugin.java
[code]
function works with hard coded value, However when I specify column I am getting following error

[code]

**Error**

[code]

I am able to see the function being registered.

[code]

[2020-12-09 21:41] martint commented on #6273
Make sure you have deployed your plugin in all the nodes in your cluster (coordinator and workers). I believe the reason it works for a constant value is that that executes in the coordinator, which has the plugin registered. When you try over a table column, the execution is scheduled on workers, which try to find the function implementation and can't find it.

[2020-12-09 21:43] findepi commented on #6273
Looks like this is more an ask for an  advice with an advanced use-case (extension) rather than issue in Presto.
Perhaps the `#dev` channel on [our slack](https://prestosql.io/slack.html) would be a better place, but we can continue here if you want.

[2020-12-09 21:50] findepi opened #6274 "Use SNAPSHOT ISOLATION in SQL Server connector"
This helps avoid read locks on the tabels being read. SQL Server's READ COMMITTED + SNAPSHOT ISOLATION is equivalent to ordinary READ COMMITTED in Oracle, PostgreSQL.

Also, since Presto doesn't read "transactionally", there is no advantage of increased isolation beyond single query consistency.

( https://prestosql.slack.com/archives/CP1MUNEUX/p1604005388214000?thread_ts=1603989350.213300&cid=CP1

[2020-12-09 22:11] Gaurang033 commented on #6273
@martint that was my initially observation. However, we copied the jar to all the nodes.  However, let me do it again as part of bootstrap script, rather than doing it manually and see if that help.

[2020-12-09 22:12] JamesRTaylor commented on #5824
Thanks for following up on this, @phd3. Did this make it into a PR? What do you think of the proposed solution, @martint?

[2020-12-09 22:15] electrum commented on #6273
Check the logs on the workers during startup to see if your plugin was registered. You will see something like this:
[code]

[2020-12-09 22:20] tooptoop4 opened #6276 "Cache for hive.information_schema tables"
discussion from slack: https://prestosql.slack.com/archives/CGB0QHWSW/p1605213719407900

"select * from hive.information_schema.columns where column_name = 'country'    this takes 4mins for me, any plan to introduce cache for it?"

BTW the reason it is slow is the metadata for every table must be loaded and inspected

We could have cache specifically for information schema queries. The reason is —

[2020-12-09 22:24] electrum commented on #6273
Note that if you want alternating case, depending on your exact requirements, you might be able to use the built-in [`regex_replace()`](https://prestosql.io/docs/current/functions/regexp.html#regexp_replace) with a lambda:
[code]

[2020-12-09 22:30] #6250 closed

[2020-12-09 22:43] findepi commented on #6266
can the method (and similar ones, in TestKuduIntegrationDynamicFilter) get annotated as Flaky due to #5172 ?

[2020-12-09 22:45] findepi commented on #6264
This example is concerning. This is just plain boolean flag. There is no "non managed table writes" feature, so this doesn't really fall into `feature.enabled` pattern for me.

[2020-12-09 22:48] findepi commented on #6235
The function can be invoked by multiple times and in multiple threads, so the block builder should be declared locally, inside the funciton.

[2020-12-09 23:40] electrum commented on #6100
[code]
#6186

[2020-12-09 23:42] electrum commented on #6100
[code]
#3869

[2020-12-09 23:46] electrum commented on #6100
[code]
#6012

[2020-12-09 23:48] electrum commented on #6100
[code]
#6101

[2020-12-09 23:50] electrum commented on #6100
[code]
#6156

[2020-12-09 23:50] electrum commented on #6100
[code]
#6174

[2020-12-09 23:56] electrum commented on #6100
[code]
#3712, #6201

[2020-12-10 01:43] abhishekkhanna1 opened #6279 "After a major compaction Updates and Deletes start to fail for Hive transactional tables"
Once a major compaction takes all the delta files and replaces them with a base file per bucket, updates and deletes begin to fail. Seems like the [BUCKET_PATH_MATCHER](https://github.com/prestosql/presto/pull/5861/commits/7694fc20f41d1407760440ceec4ee98530c8f653#diff-57536df299e85bc590c8b0bb74d59b86f0c0fcbd199ed5bccced9b9e6440e16eL69) doesn't account for the base directory which might be causing

[2020-12-10 03:31] abhishekkhanna1 opened #6280 "Unable to Update NULL columns after Schema Evolution with Column Addition/Rename in Hive Transactional tables"
Once the table schema is evolved by adding new columns or by renaming columns. The resulting added/modified column values for existing rows is NULL. Subsequent update query is unable to update the NULL values .

[code]

[code]

The last verifySelect fails.

[2020-12-10 03:32] abhishekkhanna1 opened #6281 "Hive Update failure: page doesn't have enough columns"
For Hive transactional tables, once the table schema is evolved by adding new columns or by renaming columns. Updates to any pre-existing/non-modified columns of the existing rows fail with the following exception:

[code]

[code]

[2020-12-10 07:35] felixdream opened #6282 "Presto can't started when I Integrated it with Ranger 2.0"
Hi all,

when I integrate prestosql 310 with apache ranger 2.0, aflter the integration, I can't start my presto server. The server log shows like this:
[code]

In my environment,
[code]

I suspend some files needed is not ready.
Can anyone help? Thank you.

[2020-12-10 08:34] mareban commented on #6271
Hello,

Thanks for reply ! If i do a describe on winlogbeat (or other *beat indicies), i'll get a few fields :
![image](https://user-images.githubusercontent.com/11810873/101740444-1b8d1380-3ac9-11eb-9f38-274f06bfbb46.png)

The other fields, couldn't be got  (from presto-cli):
![image](https://user-images.githubusercontent.com/11810873/101740846-a40bb400-3ac9-11eb-8ea1-e09b378d9b87.png)

So for ex

[2020-12-10 08:42] kokosing commented on #6264
Yes this example is complex. To me it is a bit misnamed. By "feature" I mean certain functionality that could be enabled or disabled.

How about `hive.mutable-non-managed-table.enabled`?

[2020-12-10 09:23] findepi commented on #6070
@sjx782392329 did you try
[code]

does it help?

[2020-12-10 11:26] wendigo commented on #6189
@brandboat

I.e. when  `variance()` (alias) or `var_samp()` aggregation functions (implemented in `VarianceAggregation`) are pushed down to the connector, `AggregateFunction.functionName` will contain either `variance` or `var_samp` but only canonical name should be used (`variance` as `var_samp` is an alias of `variance`)

[2020-12-10 11:55] findepi commented on #6281
@abhishekkhanna1 the UPDATE support does not exist in Presto yet
It seems you have an error in the code that is your custom patch applied on top of project's code, therefore I will close this issue.

If you re testing out this PR: https://github.com/prestosql/presto/pull/5861, please post your findings there. Thanks!

[2020-12-10 11:55] #6281 closed

[2020-12-10 11:55] findepi commented on #6281
cc @djsstarburst

[2020-12-10 11:57] findepi commented on #6280
@abhishekkhanna1 the UPDATE support does not exist in Presto yet
It seems you running into problems with the code that is your custom patch applied on top of project's code, therefore I will close this issue.

If you re testing out this PR: https://github.com/prestosql/presto/pull/5861, please post your findings there, this will be highly appreciated!
Thanks!

cc @djsstarburst

relates to https://

[2020-12-10 11:57] #6280 closed

[2020-12-10 12:09] brandboat commented on #6189
Thanks for your comments ! I will try to fix it.  🙇

[2020-12-10 12:39] ghfengg opened #6285 "Which Version Support MySql Connector to CREATE SCHEMA?"
Which Version Support MySql Connector to CREATE SCHEMA?

[2020-12-10 12:49] losipiuk commented on #6279
cc: @djsstarburst

[2020-12-10 13:10] prakash-tech89 opened #6286 "Getting presto error "Partition no longer exists" while querying hive external table sometimes and resolved after refreshing metatable"
We have an hive external table that built by 4 partition and each partition data get loaded by chaning location before using alter command and then load it using spark. we don't see issue happening daily but happens someday. We able to query table after we refresh metatable.

Any reason for this issue and please provide permanent fix for the same. If possile provide way to debg this issue

More de

[2020-12-10 14:18] ebyhr commented on #6285
It was added in version 328.
https://prestosql.io/docs/current/release/release-328.html#other-connector-changes

By the way, you can ask questions in community Slack.
https://prestosql.io/slack.html

[2020-12-10 14:18] #6285 closed

[2020-12-10 14:25] djsstarburst commented on #6279
Oh my, I didn't know about this post-compaction format.  I wonder why the existing tests for compaction didn't see this.

@abhishekkhanna1, could you supply instructions to reproduce this?  Thanks!

[2020-12-10 14:32] djsstarburst commented on #6281
Thanks for testing, @abhishekkhanna1!

This bug is happening because we go to some trouble to read the schema for a file from the file itself rather than the metastore.  However, in this case, immediately after ALTER TABLE but before any rows are inserted using the new schema, the file schema will of course be wrong.

I'm not sure of the best way to deal with this bug.  I'll need to consult with @

[2020-12-10 15:04] Gaurang033 commented on #6273
@electrum  function is being registered. I checked in server.log on my master node. We are not trying to change the case, we have couple of hive UDF's which we are planning to convert to presto UDF. However, before that we are just trying very simple UDF to understand how to write and deploy presto UDF.

[2020-12-10 15:28] djsstarburst commented on #6280
Thanks very much for finding this bug, @abhishekkhanna1.  I'm looking at it now.

[2020-12-10 17:18] Gaurang033 commented on #6273
@electrum @martint  I copied UDF to all the nodes with proper permission and then restarted service on all the nodes. Now it's working. (do I need to restart service on all the nodes or only where coordinator is running after placing this UDF)

[2020-12-10 17:58] djsstarburst commented on #6279
This is fixed by changes I just force-pushed to the #5861 UPDATE PR.  Those changes included a unit test that demonstrate that major compaction files are handled correctly by UPDATE.  Thanks @abhishekkhanna1!

[2020-12-10 20:15] djsstarburst commented on #6280
@abhishekkhanna1, for the second example you listed, with ALTER TABLE RENAME COLUMN, I get an NPE due to calling `row(null)`.  There are two overloadings of `row`.  `row(null)` is getting the overloading in which the arg is supposed to be a collection, causing the NPE.

When I fix that by substituting `new QueryAssert.Row((Object) null)`, the subsequent `SELECT column3 FROM table...` returns diffe

[2020-12-10 20:38] abhishekkhanna1 commented on #6280
I had not run this one using the PT but instead ran it on the server running locally on my mac. I had also run on an EMR Hive cluster for the hive part. If I remember correctly, I was getting 3 nulls followed by 14,15,16 in both cases but yeah the subsequent update passed in hive but failed in presto. I can double check again

[2020-12-10 21:18] electrum commented on #6223
https://github.com/prestosql/presto/pull/6289/checks?check_run_id=1533226427

[2020-12-10 21:33] djsstarburst commented on #6280
`If I remember correctly, I was getting 3 nulls followed by 14,15,16 in both cases but yeah the subsequent update passed in hive but failed in presto. I can double check again`

The fact that by default it verifies against both Hive and Presto sometimes makes things confusing :(

BTW, I just verified that if the table isn't transactional, Presto correctly follows the schema change, and returns `ro

[2020-12-10 22:46] ebyhr commented on #6273
You need to restart service on all servers.

[2020-12-11 02:24] wangfeigithub commented on #6200
hi,Is this bug being resolved?

[2020-12-11 06:12] aakashnand opened #6290 "Unable to decode JWK response from Azure JWK"
Current jwt authenticator fails with following stack trace if set `http-server.authentication.jwt.key-file` to `https://login.microsoftonline.com/TENANT_ID/discovery/v2.0/keys`

Relevant Discussion on slack: https://prestosql.slack.com/archives/CGGL0EZ9N/p1607500620014400

[code]

[2020-12-11 06:24] aakashnand commented on #6290
As far as I know, this is happening because of this line of code. https://github.com/prestosql/presto/blob/f72fadfc814906f1ceb182f984281878b6b5b861/presto-main/src/main/java/io/prestosql/server/security/jwt/JwkDecoder.java#L161

The map of the key is defined as <String, String> but the JWT has a key with an array of string for key `x5c`.
This can be confirmed from this response as well. https://lo

[2020-12-11 06:51] sjx782392329 commented on #6070
I had try exec this commamd, but I encounter the new problem.
[code]

[2020-12-11 08:12] findepi commented on #6070
cc @djsstarburst

[2020-12-11 08:35] findepi opened #6291 "Support UNNEST within projection"
This works:

[code]

So this could probably  be made to work too:
[code]

[2020-12-11 08:39] findepi opened #6292 "Support array reduction with aggregate function"
Array `reduce` (https://prestosql.io/docs/current/functions/array.html#reduce) is powerful, but also seems inefficient, when a dedicated aggregate function exists.

For example, consider the case of calculating histogram in a string:

This works:
[code]

This would be more concise but does not work yet (https://github.com/prestosql/presto/issues/6291)
[code]

while I, as a user, would want to writ

[2020-12-11 09:07] losipiuk opened #6294 "Referencing VIEW fails if session catalog & schema are not set"
**Repro steps.**

Startup Presto with `hive` and `tpch` catalogs.

Create nation table in hive via presto:
[code]

In hive create view:
[code]

Start presto CLI without specifying default catalog (no `--catalog` arg). And run:
[code]

This fails with following exception:
[code]

[2020-12-11 09:08] losipiuk commented on #6294
cc: @findepi @sajjoseph @martint

[2020-12-11 10:39] findepi opened #6295 "Respect hive.timestamp-precision in Hive VIEW"
Following should be supported

- hive view outputting a timestamp column -- this should respect `hive.timestamp-precision`
- hive view using a timestamp column (e.g. in a filter or as `CAST(a_timestamp AS varchar)`) -- this should probably respect `hive.timestamp-precision` as well because there seems to be no better alternative

This should be tested in matrix wrt `hive.legacy-hive-view-translati

[2020-12-11 10:39] losipiuk commented on #6294
For Presto views we observe a similar issue. The exception is:
[code]

Root cause is the same.

[2020-12-11 12:49] findepi opened #6299 "Support java.time date/time classes in PreparedStatement.setObject"
`PreparedStatement.setObject` comes in two variants (with some additional overloads omitted here for brevity):

- `PreparedStatement.setObject(column, Object object)`
- `PreparedStatement.setObject(column, Object object, int targetSqlType)`

Both should consistently accept

- `java.time.LocalDate`
- `java.time.LocalTime`
- `java.time.OffsetTime`
- `java.time.LocalDateTime`
- `java.time.ZonedDateTi

[2020-12-11 13:57] Praveen2112 commented on #6282
Can you please file an issue in Apache Ranger project also ? It looks like a missing configuration that fails the RangerPlugin initialization (that's why PrestoServer is not starting). I'm closing this issue now. Feel free to join our [Slack Channel](https://prestosql.io/slack.html) or re-open this issue if it didn't help you out.

[2020-12-11 13:57] #6282 closed

[2020-12-11 15:01] martint commented on #6291
More generally, this is about supporting correlated scalar queries that only reference values from the outer row, but don’t involve any additional table (so it’s not possible to de correlate via a traditional means involving joins)

It requires being able to actually execute the correlated subquery, similar to how “index joins” are planned and executed.

@erichwang, can you jot down the result fro

[2020-12-11 15:04] djsstarburst commented on #6280
I've boiled down the test case to this, which fails saying that the final SELECT returns row(null) instead of row(11) as it should:

[code]

Adding a major compaction causes the test to pass, as you would expect:

[code]

[2020-12-11 15:04] martint commented on #6291
This is related to https://github.com/prestosql/presto/issues/12#issuecomment-534757849

[2020-12-11 15:15] tooptoop4 opened #6306 "date_add() / interval functions unexpected behavior"
--works
SELECT date_add('day', 2, DATE '2020-03-02')

--error (the error message especially unhelpful)
SELECT date_add('minute', 2, DATE '2020-03-02')

--works
select date_add('minute', 2, current_timestamp)

--error (the error message as above especially unhelpful)
select date_add('minute', 2, current_date)

--works
with t as (select 5 mycol)
select *, current_timestamp + interval '5' minute from

[2020-12-11 15:39] rstuartVT opened #6308 "Elasticsearch connection properties file"
By creating an elasticsearch.properties file it breaks the presto server. I specify just the following four properties

connector.name=elasticsearch
elasticsearch.host=vpc-cdp-master-prod-jbe4wu5bjxjv3i2nnp3alpvhcu.eu-west-1.es.amazonaws.com
elasticsearch.port=443
elasticsearch.default-schema-name=default

But I get the following errors in the server.log

`1) Configuration property 'elasticsearch.

[2020-12-11 15:50] tooptoop4 opened #6309 "Support mode() and median() functions"
It should be as easy to use as avg()

2 common uses:
Getting the most frequently appearing value
Getting the value at 50th % rank

[2020-12-11 16:51] martint commented on #6308
I don't think that functionality is available in older versions of Presto provided by EMR. It should would with Presto 338 that's shipped with the latest version of EMR.

[2020-12-11 16:53] findepi commented on #6291
I think this is possible to decorrelate today, at least for my example:

- assign unique id
- unnest
- aggregate, grouping by the unique id

[2020-12-11 17:03] martint commented on #6291
Yes, good point, you're right. I was thinking of the general case, which includes any table-generating construct in the FROM clause of the inner query. It might still be possible to decorrelate that by assigning a unique id (this is something we were contemplating, but at the execution level).

[2020-12-11 17:25] rstuartVT commented on #6308
thank you! I didn't realize that much had changed with one minor version.

[2020-12-11 17:25] #6308 closed

[2020-12-11 18:08] alec-heif opened #6314 "from_unixtime should return a timestamp with time zone rather than a time stamp"
This is potentially a hot take but I think that the behavior of returning an unzoned timestamp from `from_unixtime` and `from_unixtime_nanos` is pretty broken.

Because Presto assumes that an unzoned timestamp is in the session time zone, this can lead to some counterintuitive behavior.

Let's use the epoch time 1607709253 (which corresponds to Friday, December 11, 2020 5:54:13 PM UTC) as an examp

[2020-12-11 19:37] sopel39 opened #6315 "Flaky test io.trino.tests.product.TestSqlCancel.cancelSelect"
[code]
https://github.com/prestosql/presto/pull/6296/checks?check_run_id=1538893954

[2020-12-11 19:38] sopel39 commented on #6315
https://github.com/prestosql/presto/pull/6296

[2020-12-11 20:06] #6294 closed

[2020-12-11 20:31] findepi commented on #6314
That reality is a bit more complex than that.

BTW, there are `from_unixtime` overloads which return `timestamp with time zone`
Would any of them be useful for your case?

[2020-12-11 20:37] findepi commented on #6100
[code]

https://github.com/prestosql/presto/pull/6307

[2020-12-11 20:40] JamesRTaylor commented on #403
Couple of questions on this one:

1. Would implementing this require a complete rewrite of the current parquet reader, or could it be done on top of the existing one, @martint?
2. Would writes coming through Presto already have this page level information written or would changes be required on the write side as well?
3. Has there been any uptake of this capability in other products like Hive and

[2020-12-11 20:50] martint commented on #403
It might be possible, but it wouldn't be a trivial task. FWIW, I'm working on a rewrite of the Parquet reader already, and I plan to add support for this.

Only when using the non-Presto-native parquet writer. Supporting this with the native writer would also be another project.

Not perfectly. You can see the CPU used by the Scan+Filter?+Project? operation by looking at the operator stats in the

[2020-12-11 20:51] djsstarburst opened #6316 "Characterize Hive ACID schema evolution"
### Executive Summary

#6070 and #6280 show that Trino queries of Hive ACID tables that have been schema evolved don't produce the same results as Hive itself does. PR #6479 changes Trino to by default match Hive's behavior on column rename/add/drop for formats ORC and Parquet.

PR #6479 does not address column type changes; that is left for a follow-on PR.

### Kinds of Schema Evolution

There ar

[2020-12-11 21:14] sopel39 commented on #6100
[code]
#6294 #6296

[2020-12-11 21:30] djsstarburst commented on #6316
The simplest case of schema evolution is column renaming.  The last SELECT in the sequence below fails on Presto, because it gets a value of NULL for column3.  Hive knows that column3 is the new name for column1, and gets the right value, 11:

[code]

This test fails on Presto for transactional tables, but passes for non-transactional tables.  HIve doesn't re-write data files when schema evolution

[2020-12-11 22:03] martint commented on #6314
Timestamps don't actually have timezone. Think of them as extended "dates" that have fields down to the second aside from year/month/day.

In this case, what you're observing is that `from_unixtime` returns a timestamp, but the `AT TIME ZONE` is defined as an operation that *interprets* the timestamp in the current session timezone and then convert the resulting timestamp w/ tz in the desired time

[2020-12-11 22:39] findepi opened #6318 "Wrong result when using two long timestamp with time zone constants differing with zone only"
[code]

and from now on:
[code]

[2020-12-11 23:01] findepi commented on #6223
https://github.com/prestosql/presto/runs/1539609301

[2020-12-11 23:05] findepi commented on #6100
[code]

#6300

[2020-12-12 00:54] alec-heif commented on #6314
that's a good point on backcompat, I guess we can train our users to use the overload instead (and add one for `from_unixtime_nanos` as well). maybe this should be called out in the documentation as a good best practice?

[2020-12-12 03:29] somayaj commented on #5315
hi, is this available for a commit?

[2020-12-12 05:46] #6082 closed

[2020-12-12 08:03] rafatmunshi commented on #5315
Hi @somayaj , I am working on a PR linked to this now. Thanks

[2020-12-12 09:03] kokosing commented on #6223
Marked as flaky for now with https://github.com/prestosql/presto/pull/6298.

[2020-12-12 20:36] dain commented on #6100
[code]
#6072

[2020-12-12 21:00] findepi commented on #6100
[code]

#6299 #6301

[2020-12-13 07:40] shandeep00 commented on #5517
@findepi can u pls suggest what should we do here, should we change the behaviour(I mean we should not depend on respect_table_format) and change fileformat based on hive_storage_format(storage_format)

[2020-12-13 19:23] kokosing opened #6323 "Calculate statistics for aggregations"
Currently (after https://github.com/prestosql/presto/pull/3109, see `TestShowStats`):

[code]

However, we should be able to the row count as NDV of columns are known.

[2020-12-13 21:21] #6318 closed

[2020-12-13 21:25] findepi commented on #6100
[code]

#6318 https://github.com/prestosql/presto/pull/6310

[2020-12-14 08:26] findepi commented on #5758
https://github.com/prestosql/presto/runs/1546952246

[2020-12-14 08:29] findepi commented on #6323
The title can be misunderstood a bit.

We _do_ calculate the row count for aggregations and this is important for CBO. The reason why it didn't work in https://github.com/prestosql/presto/pull/3109 is -- i am guessing -- because of partial aggregations.
A potential solution could be disabling partial aggregations when planning for SHOW STATS.

[2020-12-14 08:52] findepi commented on #5517
@shandeep00 correct

basically I would want:

- remove `respect_table_format` session property
- treat `hive_storage_format` as a regular override for `hive.storage-format` property
- rename `hive_storage_format` to `storage_format`

but i'd want to hear @electrum thoughts too

[2020-12-14 09:57] Chaho12 commented on #6235
Thx. I realized when I was writing test codes and fixed that.

Btw, if I want to return null, do I have to return a block that has null value only?

I know that NPE error happened because I returned `null` for block type.
While I was working a way-around for this error, I realized that if I return `empty block with null value in it` via
[code]
 it fixes the NPE error and CROSS JOIN UNNEST works.

[2020-12-14 10:00] kokosing commented on #5517
I would remove `hive_storage_format` session property. It looks hacky. Storage format is very internal to a table, and it cannot be changed frequently.  What is the motivation behind having this?

Best would be to have `ALTER TABLE ... SET PROPERTY ...` syntax

[2020-12-14 10:30] findepi commented on #5517
it's about selecting a storage format when creating a new table

[2020-12-14 10:32] findepi commented on #6235
That creates an array with null element, not a null array.

Maybe you want to return an empty array? (just skip `appendNull` call)

[2020-12-14 10:32] findepi commented on #6235
BTW I will close this as not-an-issue in Presto.
We can continue conversation here, or on `#dev` channel on [our slack](https://prestosql.io/slack.html).

[2020-12-14 10:32] #6235 closed

[2020-12-14 14:42] kokosing commented on #6100
[code]
  #3109

[2020-12-14 21:42] losipiuk commented on #6294
Followup: https://github.com/prestosql/presto/pull/6335

[2020-12-15 01:42] #6100 closed

[2020-12-15 01:47] martint opened #6339 "Release notes for 349"
## David Phillips
- [x] all checked
-  12-19 17:53:35    0258004bbb Move server changes section to usual location
-  12-19 17:53:35    7db39369c9 List compression codec values in Hive documentation
## Grzegorz Kokosiński
- [x] all checked
-   12-15 03:01:15    058f18f7c2 Test access control for DESCRIBE
-   12-15 03:01:15    2108527ab6 Add more tests to TestColumnMask
-   12-15 03:01:15    6a47dfa

[2020-12-15 07:24] findepi commented on #5758
This looks like related. I think this is a new failure mode but the same cause.
This happened before https://github.com/prestosql/presto/pull/6321 was merged. Posting here for posterity.

https://github.com/prestosql/presto/runs/1553195466

[code]

[2020-12-15 10:44] sopel39 commented on #6339
[code]
https://github.com/prestosql/presto/pull/6342

[2020-12-15 11:02] kokosing commented on #6339
[code]
#6017

[2020-12-15 12:37] findepi commented on #6266
posted https://github.com/prestosql/presto/pull/6346 and then the issue should be closed as a duplicate of https://github.com/prestosql/presto/issues/5172

[2020-12-15 12:39] #6075 closed

[2020-12-15 14:38] findepi opened #6347 "Support CAST from array to varchar"
This is not supported today:

[code]

[2020-12-15 14:39] findepi commented on #6347
Perhaps this could work similar to `CAST` to `json`:
[code]

[2020-12-15 16:03] jirassimok opened #6350 "Compiler failure when operating on long timestamps in arrays"
This SQL produces an error in Presto's generated code (in version 348):
[code]

This error appears to occur when retrieving a timestamp with precision greater than 6 from an array and operating on it.

This is presumably related to #4824.

<details><summary>Here is the stack trace from the Presto server, with extra information removed.</summary>

[code]
</details>

### Here is the full stack trace

[2020-12-15 16:58] mareban commented on #6271
Hello,

It seems that nested fields and arrays are supported, correct ? Do i need to do a special mapping to be able to read the winlog.event_id e.g ? If so, can you point me to the documentation or give an example please ?

Thanks for your help.

[2020-12-15 20:51] findepi opened #6351 "Incorrect java.sql.Time returned from JDBC ResultSet for TIME WITH TIME ZONE requiring wrap around"
[code]

[2020-12-15 21:43] Manish-starburst opened #6353 "Support Hive VIEW with window function"
We noticed following error:

hive> CREATE VIEW win AS select row_number() over(partition by t.x) from (select 1 as x) t;

presto> select * from win limit 10;

io.prestosql.spi.PrestoException: Failed to translate Hive view 'win': Unhandled Hive AST token TOK_WINDOWSPEC, tree:
TOK_WINDOWSPEC
   TOK_PARTITIONINGSPEC
      TOK_DISTRIBUTEBY
         .
            TOK_TABLE_OR_COL
               raw

[2020-12-15 21:45] Manish-starburst commented on #5606
Can we link this issue: https://github.com/prestosql/presto/issues/6353

[2020-12-15 22:03] findepi commented on #6266
Closing in favor of https://github.com/prestosql/presto/issues/5172

[2020-12-15 22:03] #6266 closed

[2020-12-16 00:42] shandeep00 commented on #5517
I would like to work on this once @electrum confirms the above behaviour.

[2020-12-16 02:00] JamesRTaylor commented on #5394
PR here, @martint & @findepi: https://github.com/prestosql/presto/pull/6355

[2020-12-16 04:40] erichwang commented on #6220
The underlying problem here is here:

https://github.com/prestosql/presto/blob/master/presto-main/src/main/java/io/prestosql/operator/index/IndexBuildDriverFactoryProvider.java#L77
AND
https://github.com/prestosql/presto/blob/master/presto-main/src/main/java/io/prestosql/operator/index/IndexBuildDriverFactoryProvider.java#L102

In the index join code, the same driver can dynamically have two diffe

[2020-12-16 07:10] findepi commented on #6220
https://github.com/prestosql/presto/runs/1557282633
[code]

[2020-12-16 07:20] #6059 closed

[2020-12-16 07:29] findepi commented on #6353
Since it worked in Presto 344, i am marking this as a bug.

[2020-12-16 10:00] sopel39 commented on #6220
Could we make static (and settable via feature/session toggle)?

[2020-12-16 12:35] pan3793 opened #6360 "How can I get PreparedStatement of Execute Query in event listener?"
I'm trying to write a plugin (event listener) to send query logs to kafka, but I found there are some queries are `EXECUTE statement1 USING ...` and I don't found how to get the `PreparedStatement` of Execute Query from spi, could you please give me some advices?

[2020-12-16 13:50] sopel39 commented on #6339
[code]
https://github.com/prestosql/presto/pull/6283

[2020-12-16 13:50] ebyhr opened #6361 "Add main method to DruidQueryRunner"
Example:
https://github.com/prestosql/presto/blob/46e0e4cec494dc279cfa9b83af4449f1be091419/presto-mysql/src/test/java/io/prestosql/plugin/mysql/MySqlQueryRunner.java#L87-L101

[2020-12-16 14:31] allendang001 opened #6362 "The partition information does not exist, and the error prompt table does not exist, which is unreasonable"
This can lead to misleading troubleshooting, and actually the table is exist
Optional<List<String>> partitionNameResult = delegate.getPartitionNamesByFilter(identity, databaseName, tableName, columnNames, partitionKeysFilter);
                if (partitionNameResult.isEmpty()) {
                    throw new PrestoException(TRANSACTION_CONFLICT, format("Table '%s.%s' was dropped by another transac

[2020-12-16 14:32] wendigo opened #6363 "Lack of support of JSON type in presto-jdbc"
Currently, there is no way to pass JSON object to `PrestoPreparedStatement` as it does not support passing string/object representing `JSON` type to `setObject` (I'd expect it to work out of the box, without a need from the user to format it as `JSON '{}'` and pass it by `setString`.

This could be approached in two different ways:

1. By introducing some similar concept to PostgreSQL's PGObject (

[2020-12-16 14:33] wendigo commented on #6363
Let me know your thoughts @findepi @electrum

[2020-12-16 16:25] findepi commented on #6339
[code]

#6352

[2020-12-16 16:28] findepi commented on #6360
Did you check the
[code]
?

Anyway, this is a question, so I will close this as not-an-issue in Presto.
We can continue conversation here still, or on `#dev` channel on [our slack](https://prestosql.io/slack.html).
See you there!

[2020-12-16 16:28] #6360 closed

[2020-12-16 16:28] pixie79 opened #6364 "Support MongoDB TLS configuration"
Hi,

I have two different mongo setups. One which is in a local kubernetes stack the other using cloud hosted Atlas.

Using presto i can connect fine to the Atlas version but not the local one. My local mongo is configured to only allow TLS connections and has its services available only via TLS. However, the TLS is signed by an internal CA.

I have imported the full mongo  ca chain to my keystore

[2020-12-16 16:59] pan3793 commented on #6360
Got it! Thanks for your kind tips, and sorry for asking question on GitHub Issue page.

[2020-12-16 18:09] erichwang commented on #6220
Could we make static (and settable via feature/session toggle)?

We should fix this more properly, or maybe temporarily remove the check that was added until it is fixed.

[2020-12-16 19:32] findepi commented on #6360
You're welcome. Also, no problem about asking in an issue. Just slack is more convenient for that.

[2020-12-16 22:58] dmgcodevil opened #6369 "Iceberg connector fails to read metadata"
We've upgraded to 348 since it includes the fix for [iss5825](https://github.com/prestosql/presto/issues/5825)

The new version fails to read metadata for some queries, however, 346 works fine.

[code]

cc / @phd3

[2020-12-16 23:29] JamesRTaylor opened #6370 "Queries to information_schema.views fails with Hive view translation enabled"
When Hive view translation is enabled, the following type of query is failing:

    SELECT table_name FROM information_schema.views WHERE table_schema='default'

See below for full exception, but apparently Presto actually tries to translate the view names returned by the query.

[code]

[2020-12-16 23:44] phd3 commented on #6369
@dmgcodevil thanks for reporting, can you please share the file size seen on disk for the `xxxxx.parquet` file corresponding to the error message? want to verify if this could be related to https://github.com/prestosql/presto/pull/6174.

[2020-12-16 23:46] phd3 commented on #6369
cc @electrum

[2020-12-17 02:22] allendang001 opened #6371 "CTAS statement, create an external table in filemetastore, if the select result is empty, it should not fail"
create table test as select * from aa;
1、Table 'test' in filemetastore, table 'aa' is empty and external location is not exist, it will get a exception with 'External table location does not exist'.
2、Table 'test' in filemetastore and table 'aa' is not empty,  it will success;
3、Table 'test' in filemetastore, table 'aa' is empty and external location is exist, it will get a exception with 'locatio

[2020-12-17 02:38] dmgcodevil commented on #6369
different sizes, e.g.: 173Mb, 156Mb, 1.55Mb, 43Mb.

Also, I think the title isn't quite correct because those parquet files are data files, not metadata files...

[2020-12-17 05:54] Donderia commented on #1791
Hi @electrum

Do we have this functionality available in Presto 340. My requirement is to use File-based & LDAP authentication both .

For external users we want LDAP and for internal connections we want File Based Authentication.

[2020-12-17 06:00] phd3 commented on #6370
@JamesRTaylor Thanks for reporting. IMO it doesn't seem ideal to fail `SELECT * FROM information_schema.views ...` because there're issues translating some hive views. (And it might not be worth turning off the view translation feature just for this issue)

we could implement `HiveMetadata#getViews` and return partial results by ignoring such errors. This would be similar to what we do for `HiveMe

[2020-12-17 06:07] phd3 commented on #6370
On the latest release 348, one workaround for this particular query would be using `legacy_hive_view_translation` session property. (The view sql will be translated through the legacy naive translation, bypassing coral)

[2020-12-17 09:10] pixie79 commented on #6364
I have managed to prove that the error appear to be Presto is not sending a valid TLS cert to mongo, as if i switch Mongo to allow non TLS connections then everything is ok.

Is there a config line missing for the connector to enable me to specify what TLS cert should be used for the connection?

[2020-12-17 12:34] #4693 closed

[2020-12-17 13:04] sopel39 commented on #6220
I think it's a good idea.

[2020-12-17 18:50] phd3 commented on #6369
@dmgcodevil After #6174, we start relying on filesize provided by iceberg metadata instead of computing it again through a file system call.

In this case, the iceberg metadata is likely wrong, and stores the file size as 0. That causes [this line](https://github.com/prestosql/presto/blob/683e1326765dde32d9a44985e2284fb813fd26be/presto-parquet/src/main/java/io/prestosql/parquet/reader/MetadataRead

[2020-12-17 18:54] shandeep00 commented on #6361
@ebyhr I would like to take up this.

[2020-12-17 19:11] electrum commented on #5517
It's not just new tables. The other thing this controls is the format for new partitions. Each partition can have a different format, so Presto is free to write new partitions in the most optimal format, regardless of what the table declares. This is why `respect_table_format` defaults to false, which allows us to write in ORC by default. For a partitioned table, the table format is only used as a

[2020-12-17 20:13] findepi commented on #5517
Thanks @electrum for clarification, i totally missed this aspect.
So what would you propose? Do we need a change at all?

[2020-12-17 21:41] dmgcodevil commented on #6369
@phd3 we're using spark iceberg writer, the Iceberg version is `0.8.0-incubating`. I realized that presto-iceberg-connector `348` uses Iceberg `0.9.0`,  maybe that's why the metadata written by Spark is missing file sizes.

[2020-12-17 22:41] preston-m-price commented on #2360
This mitigation for this issue doesn't seem to apply any more. I'm trying to get logs under `org.apache.hadoop.fs` but the advice mentioned above, to tune the pom file is no longer valid because that pom file doesn't exist anymore (I just pulled 348).

[2020-12-18 03:20] ebyhr commented on #6361
@shandeep00 Thanks! Please go ahead.

[2020-12-18 06:02] lzeiming opened #6375 "Query fail for function try() with column names containing special character"
case:
[code]

error:
[code]

[2020-12-18 06:21] nooberfsh opened #6376 "Get different timestamp value after an upgrade"
Recently I upgrade my cluster to Presto348 from Presto333 and I got different behavior of `to_unixtime` function

Example
[code]
result:
- Presto333: 1578287404
- Presto348: 1578316204

I think Presto348 treat the original time as UTC TIME while Presto333 treat it as LOCAL TIME,  does this change intended?

BTW: my current time zone is Asia/Shanghai (+8)

[2020-12-18 06:37] ebyhr commented on #6364
@pixie79 Probably, we need to modify code and prepare new configurations for that case. Let me take a look.

[2020-12-18 07:20] ebyhr commented on #6364
@pixie79 Could you share Presto server log just in case?

[2020-12-18 09:36] davseitsev opened #6377 "Native Parquet writer creates files that cannot be read by Hive and Spark"
Spark can't read parquet files created by presto-parquet writer, it throws exception:
[code]
The exception is thrown in [ParquetRecordReader.java#L195](https://github.com/apache/parquet-mr/blob/master/parquet-hadoop/src/main/java/org/apache/parquet/hadoop/ParquetRecordReader.java#L195) when it tries to get writer version from created_by field. This filed should contain name and version of library

[2020-12-18 16:54] ConnorJBeck commented on #1462
Can confirm, we are still having this issue. In particular, it's corrupting when trying to generate a Parquet table where a column has currency symbols ($, €, etc.). We are using 0.232, and [patch notes from last year](https://prestosql.io/docs/current/release/release-327.html) suggest that the `hive.parquet.fail-on-corrupted-statistics` configuration is being deprecated. I would have thought this

[2020-12-18 17:47] dmgcodevil commented on #6369
@phd3 this [line](https://github.com/prestosql/presto/blob/683e1326765dde32d9a44985e2284fb813fd26be/presto-parquet/src/main/java/io/prestosql/parquet/reader/MetadataReader.java#L74) reads parquet metadata, not iceberg metadata. Am I right?

[2020-12-18 19:35] #6375 closed

[2020-12-18 21:55] kokosing commented on #6339
[code]
#6137

[2020-12-18 22:57] findepi commented on #1462
@ConnorJBeck can you please try again with the latest release (currently 348, https://prestosql.io/download.html)?
if you have any questions, you can always ping me on [our slack](https://prestosql.io/slack.html)

[2020-12-18 23:06] findepi opened #6382 "Native ("optimized") Parquet writer"
- [x] Add native parquet writer #2004
- [x] Parquet files written by presto-parquet can't be read by parquet-hadoop library used in Spark #6377
- [x] Native Parquet Writer writes Parquet V2 files that are not yet adopted by other engines. #7953
- [x] Failure when using optimized Parquet writer: ArrayIndexOutOfBoundsException: Index 128901 out of bounds for length 1 #5518
- [x] Implement variable p

[2020-12-18 23:08] findepi opened #6383 "Add tests for Parquet reader file & row groups pruning for files created by native Parquet writer"
As seen in https://github.com/prestosql/presto/issues/6377, Parquet writer may or may not output certain metadata to the output file, and this may or may not affect file pruning.

Add a test that predicates are effectively applied
- when filtering on a bigint column
- when filtering on a decimal column
- when filtering on a varchar column

[2020-12-19 21:00] findepi opened #6389 "Sporadic query failures due to a deadlock in SqlServerClient.getTableProperties: "Transaction was deadlocked ... and has been chosen as the deadlock victim""
https://github.com/prestosql/presto/runs/1581864249

[code]

[2020-12-19 21:01] findepi commented on #6389
https://github.com/prestosql/presto/issues/6274 could perhaps help.

[2020-12-19 21:02] findepi commented on #6389
BTW the failure mode suggests this is related to https://github.com/prestosql/presto/pull/5856, cc @Praveen2112 @kokosing

[2020-12-19 22:48] findepi opened #6392 "Convert TestMySqlTypeMapping to use SqlDataTypeTest"
Migrate the tests from `DataTypeTest` to `SqlDataTypeTest`.

- `DataTypeTestToSqlDataTypeTestConverter` (being added in https://github.com/prestosql/presto/pull/6391) may aid the migration.
- ideally the work should be done incrementally (in small steps) to facilitate the review process

See https://github.com/prestosql/presto/pull/6391 for example approach.

[2020-12-19 22:49] findepi opened #6393 "Convert TestMemSqlTypeMapping to use SqlDataTypeTest"
Migrate the tests from `DataTypeTest` to `SqlDataTypeTest`.

- `DataTypeTestToSqlDataTypeTestConverter` (being added in https://github.com/prestosql/presto/pull/6391) may aid the migration.
- ideally the work should be done incrementally (in small steps) to facilitate the review process
- see also https://github.com/prestosql/presto/issues/6392, as MySQL and MemSQL tests are similar

See https://g

[2020-12-19 22:49] findepi opened #6394 "Convert TestOracleTypeMapping to use SqlDataTypeTest"
Migrate the tests from `DataTypeTest` to `SqlDataTypeTest`.

- `DataTypeTestToSqlDataTypeTestConverter` (being added in https://github.com/prestosql/presto/pull/6391) may aid the migration.
- ideally the work should be done incrementally (in small steps) to facilitate the review process

See https://github.com/prestosql/presto/pull/6391 for example approach.

[2020-12-19 22:50] findepi opened #6395 "Convert TestPhoenixTypeMapping to use SqlDataTypeTest"
Migrate the tests from `DataTypeTest` to `SqlDataTypeTest`.

- `DataTypeTestToSqlDataTypeTestConverter` (being added in https://github.com/prestosql/presto/pull/6391) may aid the migration.
- ideally the work should be done incrementally (in small steps) to facilitate the review process

See https://github.com/prestosql/presto/pull/6391 for example approach.

[2020-12-20 08:15] reugn opened #6397 "Make Presto cluster information available to plugins"
We have the System connector, which provides information and metrics about the currently running Presto cluster. But there is no way to get cluster nodes info from within a plugin. The `ConnectorSession` object may be a suitable place to keep it.

[2020-12-20 10:54] #6361 closed

[2020-12-20 20:28] sopel39 commented on #6397
`io.prestosql.spi.connector.ConnectorFactory#create` has `io.prestosql.spi.connector.ConnectorContext` as an argument. There you can get `io.prestosql.spi.NodeManager` which provides information about cluster nodes.

[2020-12-20 20:28] #6397 closed

[2020-12-20 22:56] tooptoop4 opened #6400 "Actual isNullable values not populated in system.jdbc.columns/hive.informationschema.columns/<jdbcdb>.informationschema.columns"
isNullable seems to always show 2 (ie UNKNOWN). Regardless of whether I create a table with/without columns set to NOT NULL or actually containing null values in columns. select distinct nullable from system.jdbc.columns
where table_cat = 'system' also returns just 2

![nullable](https://user-images.githubusercontent.com/33283496/102726341-efb62d00-4315-11eb-8943-66c67714ae7a.png)

To have an accu

[2020-12-21 01:40] #5635 closed

[2020-12-21 01:41] ebyhr commented on #6339
[code]
https://github.com/prestosql/presto/pull/5865

[2020-12-21 01:48] ebyhr commented on #6273
Let me close this issue since it's already resolved.

[2020-12-21 01:48] #6273 closed

[2020-12-21 02:04] yuokada commented on #6393
The title of the pull request is same as https://github.com/prestosql/presto/issues/6392.
duplicate?

[2020-12-21 03:48] sjx782392329 commented on #6316
What is the progress of this issue?

[2020-12-21 07:54] allendang001 commented on #6371
hi @findepi ptal

[2020-12-21 09:07] ImTangYun opened #6405 "cluster becomes slower and slower"
From web ui we see that many query ware running, but work parallelism almost 0, and cpu usage is very low

![slow](https://user-images.githubusercontent.com/5945486/102759537-386df480-43af-11eb-8b23-9d52124e398a.png)

After we restart cluster, the cluster performs quit well, but slow down quikly after about 1 to 2hours, do you know why? does presto need to be restarted frequently at facebook?

Som

[2020-12-21 10:01] tooptoop4 commented on #6405
similar to https://github.com/prestodb/presto/issues/11952#issuecomment-734006863 restarting workers every 5 days seems to solve for me

[2020-12-21 16:13] findepi opened #6412 "Flaky test TestKafkaWithConfluentSchemaRegistryMinimalFunctionality testBasicTopic, testTopicWithKeySubject, etc"

[2020-12-21 16:13] findepi commented on #6412
https://github.com/prestosql/presto/runs/1588615014

[code]

cc @elonazoulay @kokosing

[2020-12-21 16:19] denniean opened #6413 ""HadoopIllegalArgumentException: Invalid buffer, not of length X" when querying Hive erasure coding tables"
Hello! Our current Presto version is 344 but possibly it should be relevant to the latest version too.
We have Hive tables with HDFS erasure coding enabled. If some datanode with EC blocks is unavailable then executing a query throws

[code]

Probably the reason is [HDFS-14373](https://issues.apache.org/jira/browse/HDFS-14373). Presto Hadoop client depends on [3.2.0 Apache version](https://github.

[2020-12-21 20:11] kokosing opened #6414 "Flaky build - empty maven dependency jars"
[code]

[2020-12-21 20:59] dmgcodevil commented on #6369
Quick update: I figured out that some iceberg manifest files contain invalid file size info, i.e. parquet file size specified in the manifest file != the actual file size stored in s3. So it's either iceberg-spark calculates or s3 reports the wrong file size

[2020-12-21 21:32] findepi commented on #6413
@denniean thanks for the report and also for finding the proposed solution!

Can we close this issue and move the discussion there?

[2020-12-21 21:34] findepi commented on #2196
Quoting @denniean  from https://github.com/prestosql/presto/issues/6413

It seems hadoop client should be updated at least to 3.2.2

[2020-12-22 03:04] ImTangYun commented on #6405
Our clusters become slow only after 1~2hours, and restart every 1hour is not a good choice, do you have any ideas for the core cause of slow?

[2020-12-22 07:42] tooptoop4 commented on #6405
@ImTangYun can u take some diagnostic dumps like jmap/jstack, 10 minutes after restart vs 4 hours after restart and compare them? My guess is some memory leak

[2020-12-22 09:13] fangcunwangqiu opened #6417 "the CVE-2019-10086 is fixed in newer version of common-beanutils, Accumulo connector potentially affected"
actually, this CVE is fixed in commons-beanutils-1.9.4+, and opencsv5.0+ used  commons-beanutils-1.9.4.

[2020-12-22 09:15] fangcunwangqiu opened #6418 "the CVE-2020-25649 is fixed in newer version of jackson-core 2.11.0+, does prestosql need to update the jackson-core?"
fixed link: https://github.com/FasterXML/jackson-databind/issues/2589

[2020-12-22 09:18] fangcunwangqiu opened #6419 "the CVE-2020-13956 is fixed in newer version of aws-java-sdk-core-1.11.924, does prestosql need to update the aws-java-sdk-core?"
actually, this CVE is fixed in httpclient-4.5.13, and aws-java-sdk-core-1.11.924 uses httpclient-4.5.13

[2020-12-22 09:52] findepi commented on #6419
[code]

[2020-12-22 09:53] findepi commented on #6419
Assuming we're good, I am closing the issue. @fangcunwangqiu please reopen if you think something more should be done.

[2020-12-22 09:53] #6419 closed

[2020-12-22 09:54] findepi commented on #6418
We already use 2.11.1
https://github.com/prestosql/presto/blob/d655499eee1436be7c2045137863426bf7323588/pom.xml#L65

Assuming we're good, I am closing the issue. @fangcunwangqiu please reopen if you think something more should be done.

[2020-12-22 09:54] #6418 closed

[2020-12-22 09:59] findepi commented on #6417
The CVE description is vague to me, I have hard time understanding whether this is anyhow applicable to Presto.

FWIW `mvn dependency:tree` revealed the `commons-beanutils:commons-beanutils:jar:1.7.0` dependency is used on `presto-accumulo` classpath (only)

[2020-12-22 10:23] findepi opened #6421 "Array with double null stored as array with 0 in Phoenix"
See TODO in the code for more details.

[2020-12-22 12:49] sopel39 commented on #6339
[code]
https://github.com/prestosql/presto/pull/6216

[2020-12-22 13:18] denniean commented on #6413
@findepi I'm not sure the issues are identical. Seems like #2196 contains more scenarios and stacktraces but lacks an info about datanodes availability. But if you think it's better to close this issue and move onto another one could you add bug label there too?

[2020-12-22 13:24] kokosing opened #6423 "Flaky TestFunctionRegistry.testExactMatchBeforeCoercion"
[code]

[2020-12-22 15:17] djsstarburst commented on #6316
Hi, @sjx782392329, I've returned this week to looking at this issue.

This test shows that Hive tracks column values across multiple renames:

[code]

I believe I've found the Hive code that deals with column renames at `ALTER TABLE RENAME COLUMN` time.  Hive calls method `checkColTypeChangeCompatible` at `https://github.com/apache/hive/blob/branch-3.1/standalone-metastore/src/main/java/org/apache

[2020-12-22 15:26] findepi commented on #6423
Would it make sense to reopen https://github.com/prestosql/presto/issues/5758 instead?

[2020-12-22 15:40] losipiuk commented on #6295
Additionally, currently it is not possible to query Hive views that return `TIMESTAMP` columns if `hive.timestamp-precision` config property is set to `MICROSECONDS` or `NANOSECONDS`.

In such setup you will get following exception:
[code]

[2020-12-22 15:43] sjx782392329 commented on #6316
In my view, your test cannot cover my test case. My problem is **change the field's type of Hive**. For example type of field from integer to byte, and then turn byte to integer. Presto v344 cannot read it rightly, but presto v0.214 can. @djsstarburst

[2020-12-22 15:57] findepi opened #6425 "Flaky test TestKafkaIntegrationPushDown.testTimestampCreateTimeModePushDown"
https://github.com/prestosql/presto/runs/1594896141

[code]

[2020-12-22 15:59] djsstarburst commented on #6316
I captured traffic metastore traffic generated by a `SELECT` after renaming a column, and viewed it using WireShark.  AFAICT that traffic contains no trace of the old column name after the rename:

[select-after-rename.mcap.gz](https://github.com/prestosql/presto/files/5730834/select-after-rename.mcap.gz)

[2020-12-22 16:21] findepi commented on #6414
https://github.com/prestosql/presto/runs/1595747120?check_suite_focus=true

[2020-12-22 16:24] djsstarburst commented on #6316
RE: #6070

This test program shows that **widening** an integral column type preserves the data in Hive:

[code]

However, in this test fails, the ALTER TABLE fails, because the new column type, TINYINT, is narrower than the original type, INT:

[code]

[2020-12-22 17:13] sjx782392329 commented on #6316
I test this case in my local machine. I can change field type from integer to tinyint by executing this `ALTER TABLE student CHANGE COLUMN age age TINYINT`. @djsstarburst

[2020-12-22 20:19] chickenPopcorn commented on #6286
We are seeing similar issues with multiple level partitions

[2020-12-22 21:49] findepi commented on #6412
https://github.com/prestosql/presto/runs/1595876042

[code]

[2020-12-22 21:51] findepi commented on #5758
https://github.com/prestosql/presto/runs/1595876088

[code]

[2020-12-22 21:52] findepi commented on #5758
https://github.com/prestosql/presto/runs/1595876155
[code]

[2020-12-22 22:30] findepi commented on #4568
https://github.com/prestosql/presto/runs/1597379042

[2020-12-22 22:39] findepi commented on #6413
Label added.

[2020-12-23 04:20] ImTangYun commented on #6405
Sounds a good way to find the problem, i'll try it these days,thanks

[2020-12-23 07:32] ebyhr commented on #6339
[code]
https://github.com/prestosql/presto/pull/4059

[2020-12-23 14:11] sopel39 commented on #6339
[code]
https://github.com/prestosql/presto/pull/6404

[2020-12-23 14:40] Praveen2112 commented on #6339
[code]
#5856

[2020-12-24 00:19] phd3 commented on #6369
Yes, as you might've already figured out, it reads parquet metadata. but incorrect Iceberg metadata can cause undesired behavior since Presto relies on it for reading the parquet file.

[2020-12-24 00:24] dmgcodevil commented on #6369
There is a problem with Iceberg Parquet writer, I've already reproduced the issue.  Can be a big problem for existing clients...

[2020-12-24 00:39] Chaho12 opened #6434 "validation code is not working correctly in the case of bucket evolution"
validation part of the code (presto-hive/src/main/java/io/prestosql/plugin/hive/HiveBucketAdapterRecordCursor.java:125) is not working correctly when changing table bucket count with existing partitions.

If the table’s bucket size was 30, but increased to 60, and partition’s bucket size is still 30, I do get an error like `Query 20201222_055239_00115_fvetf failed: A row that is supposed to be in

[2020-12-24 03:18] shuai-xu commented on #6405
Is there anybody know what is 'io.prestosql.operator.project.GeneratedPageProjection.project(GeneratedPageProjection.java)'  doing? Why the stack always shows the thread is hanging here when worker become slow?

[2020-12-24 04:05] prakash-tech89 commented on #6286
Hi @chickenPopcorn

How to resolve it permanently so that we don't have issue msck repair every time when issue happened

[2020-12-24 07:50] shuai-xu opened #6435 "Task may hang on PlanNode.accept"
Everyday there will be querys fails with error 'Encountered too many errors talking to a worker node. The node may have crashed or be under too much load. This is probably a transient issue, so please retry your query in a few minutes.' on our cluster as shown in the folling picture.
![image](https://user-images.githubusercontent.com/20960838/103070901-7c563900-45fd-11eb-862f-4f7390b08b37.png)
Aft

[2020-12-24 09:03] tooptoop4 commented on #6405
@yingsu00

[2020-12-24 13:28] tooptoop4 opened #6436 "create hive table with timestamp literal error"
```create table hive.test3.ex as select timestamp'2020-11-01 00:00:00' tthere```

[code]

version 348

[2020-12-24 16:31] djsstarburst commented on #6316
When I run the test changing from column age from INT to TINYINT, I get this backtrace:

[code]

[2020-12-24 17:17] sjx782392329 commented on #6316
@djsstarburst  I use hive table by executing command in the hive, it seems that you changed type of field by using presto. I think you should use Hive to modify fields instead of Presto.

[2020-12-24 21:45] kokosing commented on #6423
Duplicate of: https://github.com/prestosql/presto/issues/5758

[2020-12-24 21:45] #6423 closed

[2020-12-25 01:31] zloss commented on #6171
Release 330 (18 Feb 2020) requires running on Java 11 or above.
https://prestosql.io/docs/current/release/release-330.html

[2020-12-25 02:27] allendang001 opened #6437 "Document assume canonical hive partition key"
When the partition key of the partition table is an integer type, no data can be found and an exception is thrown like follow：
`PrestoException：Table ‘aa.bb' was dropped by another transaction`
But in fact the table exists, and the partition also exists.
By reading the code, it is found that there is a parameter in the configuration of thrift metastore.
In order to remove this obstacle for future

[2020-12-25 12:14] davidkl97 opened #6439 "support sasl auth properties options to kafka connector"
Most of the production deployments of kafka clusters are using sasl authentication mechanism.
it would be nice to add this properties to the connector for production usage.

The properties should contain the mechanism usage, username and password etc for both the Client, Producer and Conumer.

Thanks.

[2020-12-26 20:05] bowenli86 opened #6443 "upgrade Iceberg to 0.10"
upgrade Iceberg to 0.10 from 0.9

[2020-12-27 18:58] findepi commented on #6434
How did you create the files in that partition?

Can it be your table was not bucketed correctly in the first place?

[2020-12-27 18:59] findepi commented on #6434
Can you please retest this with Presto 348?

[2020-12-27 19:02] findepi commented on #6435
Seems related to https://github.com/prestosql/presto/issues/6405

[2020-12-27 19:02] findepi commented on #6405
(also reported as https://github.com/prestosql/presto/issues/6435)

[2020-12-27 19:05] findepi commented on #6286
Do you use metastore caching?

[2020-12-27 19:46] kokosing commented on #6439
Is this duplicate of https://github.com/prestosql/presto/issues/1184? Or do you mean different SASL mechanisms?

[2020-12-27 19:46] kokosing commented on #1184
Related: https://github.com/prestosql/presto/pull/5157

[2020-12-27 19:52] davidkl97 commented on #6439
I  meant SASL Plaintext mechanism. Those mentioned issues relate to Kerbereos or SSL mechanisms...

I guess all of them are relevant for production usage and should be taken for consideration in the end.

[2020-12-27 20:30] findepi commented on #6412
https://github.com/prestosql/presto/runs/1608321716

[2020-12-27 20:38] kokosing commented on #6412
Trying to address this with: https://github.com/prestosql/presto/pull/6444

[2020-12-28 00:55] miniway opened #6447 "Incorrect error reporting when a window function is used as a scalar in WHERE clause: ClassCastException SqlWindowFunction cannot be cast to class SqlScalarFunction"
We expect a syntax error when window function is used at filter condition but it raises INTERNAL_ERROR
[code]

An old version, 317, shows `row_number():bigint is not a scalar function`, but it was INTERNAL_ERROR also

[2020-12-28 01:12] Chaho12 commented on #6434
I used hive to create the file and here is the sql to create data.
DDL
[code]
SQL (I had to hide some sensitive information but here is the gist)
[code]

Well, we are using hive 3.1.2 and it works fine to create the data. Error only happens if I change the bucket number as above via command e.g. `ALTER TABLE `lago_test.ctr_query_no_multi` CLUSTERED BY (sscode, refine_query) SORTED BY (refine_query

[2020-12-28 04:49] bowenli86 commented on #6443
Hi I wonder why Iceberg dependency is not upgraded to 0.10? is there any blockers, or just the devs don't have time yet?

[2020-12-28 05:41] electrum commented on #6443
The main question is why upgrade? Since the Iceberg library is primarily used to read and write the Iceberg metadata files, it is not clear there would be any user visible benefit from upgrading. If there is a benefit, or it fixes a bug, it’s likely someone would have upgraded it already.

[2020-12-28 06:10] Chaho12 commented on #6434
(deleted previous comment and re-wrote comment again without sensitive info)

I used hive to create the file and here is the sql to create data.
DDL
[code]
SQL (I had to hide some sensitive information but here is the gist)
[code]

Well, we are using hive 3.1.2 and it works fine to create the data. Error only happens if I change the bucket number as above via command e.g. `ALTER TABLE `db.table` C

[2020-12-28 07:05] ebyhr commented on #3536
Relavant Stackoverflow question: https://stackoverflow.com/questions/65464436/presto-produce-json-results

[2020-12-28 08:54] findepi commented on #6339
[code]

#6075 #6343

[2020-12-28 08:56] findepi commented on #6339
[code]

#6354

[2020-12-28 08:59] findepi opened #6448 "Document type conversions supported by and type inference of PreparedStatement#setObject"
`java.sql.PreparedStatement#setObject` has two variants:

- plan `setObject`
  - -> document what is supported here & how the type is inferred
- `setObject` with type id
  - -> document what is supported here

[2020-12-28 08:59] findepi commented on #6448
see for example https://github.com/trinodb/trino/issues/6339#issuecomment-746577669

[2020-12-28 09:18] findepi commented on #6436
Note:
Previously, before we introduced Hive timstamp precision, the wording was different but this was not supported either:

[code]

[2020-12-28 09:30] findepi commented on #6447
full stacktrace (based on current master)

[code]

[2020-12-28 09:34] findepi commented on #6434
The reason I'm asking this is because that version adds additional validation also for the case when table and partition bucket number is equal.
This was trusted and not validated before, so it could be the problem is about incorrect write path, and not really bucket evolution.

[2020-12-28 10:13] sopel39 commented on #6435
cc @dain

[2020-12-28 10:33] kien-truong opened #6449 "ArithmeticException: integer overflow when querying large ORC files with a stream longer than 2GiB"
We are seeing this exception when reading an ORC file with a stream longer than 2GiB

[code]

The file in question

[code]

[2020-12-28 11:11] findepi opened #6450 "Support Hive VIEW with CAST to decimal"
it looks like casting a column to any decimal precision is translated to `decimal(10,0)`.

Hive:

[code]

Presto:

[code]

[2020-12-28 11:11] findepi commented on #6450
Since it worked in Presto 344, i am marking this as a bug.

[2020-12-28 11:35] shuai-xu commented on #6435
Yes, I think these two issues may have some relations. It seems when dealing with long querys, presto may have some problems.

[2020-12-28 11:46] sopel39 commented on #6435
Does it happen only with long `IN` lists?

[2020-12-28 12:09] shuai-xu commented on #6435
No, some querys are long because they have many join.

[2020-12-28 12:25] findepi opened #6451 "Trino cannot read LZO-compressed SEQUENCEFILE Hive table"
Hive

[code]

Trino
[code]

[2020-12-28 12:31] findepi commented on #6316
The failure shown by @djsstarburst comes from ALTER done via HiveServer2 ("in Hive").
BTW the set of supported type changes for ALTER varies between Hive versions, so one Hive version can throw "The following columns have types incompatible with the existing columns" while other will be OK with the change.

@sjx782392329 what Hive version are you comparing with?

[2020-12-28 14:50] sopel39 commented on #6339
[code]
https://github.com/trinodb/trino/pull/6453

[2020-12-28 15:09] sjx782392329 commented on #6316
hi, the version of hive is 1.2.1 @findepi @djsstarburst

[2020-12-28 18:37] martint commented on #380
We’re rebranding PrestoSQL as Trino. We’re not going anywhere - it’s the same software, by the same people, just under a new name: http://trino.io/blog/2020/12/27/announcing-trino.html

[2020-12-28 19:14] martint commented on #6339
[code]

[2020-12-28 19:16] martint commented on #6339
[code]

[2020-12-28 20:26] electrum commented on #6339
[code]
#6349

[2020-12-28 20:31] electrum commented on #6339
[code]
#5856

[2020-12-28 21:02] #6339 closed

[2020-12-29 01:57] djsstarburst commented on #6316
We're using hive 3.1.2-5, and as the link above shows, that version contains the error check.  The error check is correct in general - - narrowing an integral type can cause data loss.

[2020-12-29 02:21] sjx782392329 commented on #6316
@djsstarburst But, It's normal in v0.214 presto. I want to upgrade the version of presto. SQL previously executed by the user will fail. They will complain about the upgrade

[2020-12-29 03:25] ebyhr commented on #3466
Going to close this issue since fixed by #3601

[2020-12-29 03:25] #3466 closed

[2020-12-29 03:48] ebyhr commented on #2886
Going to close this issue since fixed by #6216

[2020-12-29 03:48] #2886 closed

[2020-12-29 06:25] dratler commented on #6392
Hi @findepi ,
is this still open for the grab ?

[2020-12-29 07:20] Chaho12 commented on #6434
@findepi

I retried the test in two environments, hive 2.3.2 (non-secure) and hive 3.1.2 (secure) for Presto 348. Initially, it had 30 buckets.
For non-secure env it works as expected.
[code]
Then i altered bucket in hive 30 -> 40
[code]
[code]
Then i altered bucket in hive 40 -> 60
[code]
[code]

**However** in secure with hive 3.1.2 it fails when I double bucket.

[code]

Then i altered bucket i

[2020-12-29 08:06] findepi commented on #6434
I do not know what "secure" means here, but I'd expect the biggest difference to be the Hive version. Hive 3 introduces `bucketing_version` property and uses a different bucketing function by default (this is supported by Trino in general).

Your queries always use `f1 = date ('2020-12-01') and f2 ='youtube'` condition but it may be there is an incorrectly bucketed row with different value.
Can yo

[2020-12-29 08:08] findepi commented on #6392
@dratler absolutely!
However, we're in the process of reorganizing the codebase, so I'd suggest waiting about a week before starting work on this, to avoid conflicts.
You can read more at https://trino.io/blog/2020/12/27/announcing-trino.html

[2020-12-29 08:10] findepi commented on #6316
I am confused. To the best of my knowledge 0.214 does not support transactional tables, does it?

[2020-12-29 08:26] sjx782392329 commented on #6316
I don't know why this case is related to transactional tables. Presto v0.214 can read data rightly though type of field had been changed from integer -> tinyint -> integer.

[2020-12-29 08:49] findepi commented on #6316
Old version's behavior should not be treated as a "requirement" for the future, we wouldn't be able to fix bugs otherwise. The rule here is -- if Hive allows certain schema evolution, and can read from such a table, Trino should read as well.
It gets a bit tricky since different Hive versions allow different schema evolutions, and we want to be compatible with Hive 1.x, 2.x and 3.x at the same tim

[2020-12-29 09:02] sjx782392329 commented on #6316
I use Hive 3.x can query table rightly, but hive 1.2.1 can't read it correctly

[2020-12-29 09:21] kokosing commented on #4796
@kosinsky Can we close the issue then?

[2020-12-29 11:23] JhonJohnatan commented on #5638
Any updates?

[2020-12-29 12:46] sopel39 commented on #6223
https://github.com/trinodb/trino/pull/6462/checks?check_run_id=1621491961

[2020-12-29 12:47] findepi commented on #6223
`testSuccessfulFlow` too

[code]

[2020-12-29 17:05] djsstarburst commented on #6316
Here is a summary of what I've learned running schema evolution tests against Hive 3.1.2-5 and Presto.  The changes required to make Presto match the behavior we see in Hive are in **bold**.  The three action items all require a single development - - reconcile the data file schema with the metastore schema by matching columns base on column order and type, not column names.

### Column Renaming

[2020-12-29 17:19] carlosfvp opened #6464 "SQL Server "Expected zero to one elements, but found multiple""
SQL Query fails with a simple select * from to any table on the database.
Also tried multiple instances of SQL Server.

![imagen](https://user-images.githubusercontent.com/4541969/103301749-015f9a80-49d0-11eb-9314-1488fdd2a4d3.png)

There is no error when the table it's empty:

![imagen](https://user-images.githubusercontent.com/4541969/103301735-fad12300-49cf-11eb-89cc-98399b7d198f.png)

Trino:
[

[2020-12-29 18:10] djsstarburst commented on #6316
I just read through [HiveAlterHandler](https://github.com/apache/hive/blob/branch-3.1/standalone-metastore/src/main/java/org/apache/hadoop/hive/metastore/HiveAlterHandler.java), which implements all of Hive's variations of `ALTER TABLE`.  AFAICT, Hive pays no attention at all to the column names contained in the data files - - it looks exclusively at the data file column types, matching them up by

[2020-12-29 20:21] electrum commented on #6464
@carlosfvp Can you run this query against your SQL Server instance?
[code]
Replace `:schema` and `:table_name` with the schema and table name you are querying. This will help us determine why the query is returning multiple results.

@Praveen2112 we may want to change the query to join against `sys.schemas` since that might have a better chance to use indexes than the `schema_name()` function.

[2020-12-29 20:51] djsstarburst commented on #6316
Here is the code in `OrcPageSourceFactory` that is assuming that column names must agree between the metastore schema and schema from the data file footer: https://github.com/trinodb/trino/blob/master/presto-hive/src/main/java/io/prestosql/plugin/hive/orc/OrcPageSourceFactory.java#L318-L327.  As you can see, it doesn't even try to read any column from the footer whose name isn't in the set of requ

[2020-12-29 22:29] carlosfvp commented on #6464
I think the table have multiple indexes

![imagen](https://user-images.githubusercontent.com/4541969/103318143-7399a480-49fb-11eb-9ef2-2a953aa13b14.png)

[2020-12-29 23:30] findepi commented on #6412
https://github.com/trinodb/trino/runs/1623444881

[2020-12-30 03:11] Chaho12 commented on #6434
Sure will do. btw what i meant by secure was kerberos authentication when accessing hive metastore/hdfs.

[code]

[2020-12-30 03:13] Chaho12 commented on #6434
Sure will do. btw what i meant by secure was kerberos authentication when accessing hive metastore/hdfs.

[code]

[2020-12-30 04:34] caofengzhen0207 commented on #1076
@iammehrabalam
how to set policy with access to all functions, i can not find in ranger-ui?thx

Create two separate policy as follows

A policy with access to all catalog, schema, and tables to all users.
A policy with access to all functions to all users. (for all users use choose {USER} in the select user input box).
Then create actual policy and add restrictions on catalog, schema, tables, and

[2020-12-30 05:23] gjhkael commented on #5132
@findepi  Looking forward to your PR.

[2020-12-30 08:39] findepi commented on #6434
I could reproduce this with our `singlenode-hdp3` environment with ~ current master (4bc096b207df0b9565a4bd5f06f8cacd152dfafe), basically following @Chaho12 's steps, slightly simplified:

Trino
[code]

Hive
[code]

Trino
[code]

Hive
[code]

Trino
[code]

[2020-12-30 10:06] hashhar commented on #6412
https://github.com/trinodb/trino/pull/6475/checks?check_run_id=1625441008

[2020-12-30 16:24] Praveen2112 opened #6477 "Avoid loading table properties during query analysis"
Here
https://github.com/trinodb/trino/blob/d2484fbe800747321480d909f369eca5e43e81e7/presto-main/src/main/java/io/prestosql/sql/analyzer/StatementAnalyzer.java#L1231

We would be building the `ConnectorMetadata` which requires table properties to be populated which is unnecessary. Can we have a lite version of `ConnectorMetadata` like object which captures only basic table details (tableName, colum

[2020-12-30 20:38] djsstarburst commented on #6316
I created PR #6479 to update Trino to use the latest column names from the metastore when accessing Hive ORC ACID tables.

[2020-12-31 01:30] Chaho12 commented on #6434
Yes, interesting thing is that this error does not happen when using hive 2. As you said, it seems to be related to bucketing version.

[2020-12-31 02:32] fangcunwangqiu commented on #6417
Yeah, I'm not accurate, presto-accumulo is the only one who uses commons-beanutils(1.7.0), please ignore opencsvXXX.

[2020-12-31 08:38] findepi commented on #6434
cc @djsstarburst

[2020-12-31 09:27] zhanglistar commented on #6405
Any updates?

[2020-12-31 16:41] inglesp commented on #6464
I've reproduced this.  The problem is to do with MSSQL columns with a unique constraint.

Specifically, the following table can be queried via presto:

[code]

But the following cannot, giving the "Expected zero to one elements, but found multiple" error:

[code]

This is a regression between docker release [348](https://hub.docker.com/layers/prestosql/presto/348/images/sha256-052582da46fdde74e829

[2020-12-31 17:26] inglesp commented on #6464
It's very possible this should have been raised this against https://github.com/prestodb/presto/

[2020-12-31 17:33] inglesp commented on #6464
Maybe not.  I'd not realised that presto and trino were different things until five minutes ago, and so had then assumed that the prestosql/presto docker image was for the presto repo.  (This docker image is the only way I've used presto so far.)  But it was released by @electrum who seems to be part of the trino gang.

Sorry for the noise!

[2020-12-31 21:30] jirassimok opened #6485 "Hive data created with UNION ALL is not visible to Trino"
When data is inserted into a (non-ORC) Hive table using `UNION ALL`, it is not visible to Trino

[code]

[code]

Other data is still visible:
[code]
[code]

This occurs for all storage formats besides ORC (I tested textfile, Sequence File, Avro, Parquet, RCText, and RCBinary.

The issue occurs whether the table is created from Trino or Hive, and it also occurs for `CREATE TABLE AS` with `UNION ALL

[2021-01-01 09:06] ebyhr commented on #6485
I suppose it's not bug. Could you try `hive.recursive-directories`?
https://trino.io/docs/current/connector/hive.html?highlight=hive.recursive-directories#hive-configuration-properties

[2021-01-01 12:56] ebyhr commented on #793
I guess this issue comes from https://stackoverflow.com/questions/56220002/aggregate-query-in-presto-on-redshifts-view-failing-with-error-org-postgresql-u. I tried reproducing it, but I couldn't on version 0.219 (same as questioner's) and Trino upstream.

[2021-01-01 21:46] findepi commented on #6464
they were not different things until about five minutes (ok, five days) ago.
read more @ https://trino.io/blog/2020/12/27/announcing-trino.html

Anyway, we hope https://github.com/trinodb/trino/pull/6471 will fix the problem.
@Praveen2112 can you please add a test there for `create table bad (c integer null, unique (c))` case as well?

@inglesp in the meantime please continue to use Presto 348 as

[2021-01-02 02:33] ebyhr commented on #4883
Going to close this as an accidental issue during downloading dependencies.

[2021-01-02 02:33] #4883 closed

[2021-01-02 02:59] ebyhr commented on #4594
Going to close this issue since it's already fixed in both CLI and JDBC driver.

[2021-01-02 02:59] #4594 closed

[2021-01-02 03:53] #3235 closed

[2021-01-03 14:48] Praveen2112 commented on #6477
These are the possible solutions I could enumerate.

1. To introduce a new API in ConnectorMetadata to fetch only the column details i.e List<ColumnMetadata> - But this doesn't fully solve this problem (It fixes for SELECT) but for INSERTS we still need to fetch the ConnectorTableMetadata

2. Modify ConnectorMetadata to have Supplier<Map<String, Object>> - Maybe we could have a new constructor and

[2021-01-04 02:20] melin opened #6492 "presto how to get the comment of hive table and column？"
presto how to get the comment of hive tables and columns? Application needs to display comment information

[2021-01-04 03:19] ebyhr commented on #6492
You can get those information by:
* Table: system.metadata.table_comments
* Column: $catalog.information_schema.columns (hidden `column` comment)

If you are using JDBC driver, column comments will be exposed via DatabaseMetaData REMARKS.

By the way, I would invite you to join the community Slack for questions https://trino.io/slack.html
Also, we renamed to Trino from Presto recently https://trin

[2021-01-04 03:19] #6492 closed

[2021-01-04 05:19] iammehrabalam commented on #1076
There is already a default policy "all - function". Edit it and add update allow condition for {USER}.
See below screenshot

<img width="1412" alt="Screenshot 2021-01-04 at 10 46 46 AM" src="https://user-images.githubusercontent.com/6460392/103503422-29407980-4e7a-11eb-8712-ed2ddf14be10.png">

[2021-01-04 06:03] melin commented on #6492
system.metadata.table_comments table query is very slow and has been
executing

[image: image.png]

Yuya Ebihara <notifications@github.com> 于2021年1月4日周一 上午11:20写道：

[2021-01-04 06:32] ebyhr commented on #6485
Let me close this issue. Please feel free to reopen if you couldn't resolve by the above property.

[2021-01-04 06:37] nandvard opened #6493 "Analyze all sub-partitions for a higher-level partition"
If a HIVE table is partitioned by DAY & HOUR (in that order), I would like to ANALYZE (compute statistics) for an entire day (say Dec 8) by doing:
`ANALYZE HIVE.DATA.EVENTS WITH (partitions = ARRAY[ARRAY['2020-12-08'])`

instead of having to specify each of the 24 hours within that day like so:
`ANALYZE HIVE.DATA.EVENTS WITH (partitions = ARRAY[ARRAY['2020-12-08','00'], ARRAY['2020-12-08','01'], A

[2021-01-04 06:56] ebyhr commented on #6493
This issue is similar to (or duplicate of) #962

[2021-01-04 08:25] kokosing commented on #6477
I like 1 the most. I would prefer to introduce a new dedicated method targeted semantic analyzer so it could fit needs of SELECT and INSERT.

Why?

[2021-01-04 08:49] Praveen2112 commented on #6477
`ConnectorMetadata#getStatisticsCollectionMetadataForWrite` is invoked during `INSERT` and we need to pass `ConnectorMetadata` as an argument

[2021-01-04 09:04] kokosing commented on #6477
Two another idesas:
 - we could move out table and column properties of out Metadata classes and have dedicated SPI method for them.
 - we could use `TableHandle` in `getStatisticsCollectionMetadataForWrite`. Hive connector is able to find table properties on his own.

[2021-01-04 09:11] Kalpanat commented on #5353
is this still open ? Im new here, let me know if I can work on this.

[2021-01-04 09:40] Praveen2112 commented on #6477
Ideally Metadata classes should have these properties.

This looks good to me... I guess only HiveConnector uses this API for now