[2022-04-07 08:00] cutiechi commented on #11838
But i want to list cols without hdfs or s3

[2022-04-07 08:03] CaptainJ93 opened #11841 "Table does not exist error when select from mongodb"
I'm using trino to connect mongoDB, now in mongoDB I have following collections:
![image](https://user-images.githubusercontent.com/24805291/162150361-89c57713-a4ed-4b82-9c95-6cac823f5723.png)
In trino show table command also reture these tables:
![image](https://user-images.githubusercontent.com/24805291/162150513-3c611a2e-0a25-4666-8cb4-4942c2e7dd6a.png)
But when I try to select from table, it c

[2022-04-07 08:04] CaptainJ93 commented on #11841
Here is a detail error log:
org.jkiss.dbeaver.model.sql.DBSQLException: SQL 错误 [46]: Query failed (#20220407_080300_00090_js6zj): line 1:15: Table 'data_description.automation_testing.data_cubes' does not exist
	at org.jkiss.dbeaver.model.impl.jdbc.exec.JDBCStatementImpl.executeStatement(JDBCStatementImpl.java:133)
	at org.jkiss.dbeaver.ui.editors.sql.execute.SQLQueryJob.executeStatement(SQLQueryJ

[2022-04-07 08:31] ebyhr commented on #11841
Could you enable `mongodb.case-insensitive-name-matching` configuration property?

[2022-04-07 08:40] nfoerster opened #11842 "[Azure] [K8s] [Trino Cluster 3.7.2] Cannot connect to discovery server for announce"
Hi there, recently we used the coordinator with integrated worker. However, for scaling reasons I want to separate coordinator and worker. Currently we run on Trino 3.7.2 with Kubernetes on Azure.

The workers are not able to find the discovery server of the coordinator:
[code]

this is the config.properties of the coordinator:
[code]

and this for the worker:
[code]

One might say, oh your discov

[2022-04-07 08:43] ebyhr opened #11843 "Flaky Kudu tests"
[code]

https://github.com/trinodb/trino/runs/5861664757

[log.txt](https://github.com/trinodb/trino/files/8441141/83.txt)

[2022-04-07 08:51] ebyhr opened #11844 "Add test for hive.metastore.glue.catalogid configuration property"
This requires new AWS account and granting the permission to the existing account so that existing account can read & write in another Glue catalog.

https://github.com/trinodb/trino/pull/11649#issuecomment-1091271065

[2022-04-07 09:19] ysn2233 commented on #11823
In current Implementation, elasticsearch connector fetches timestamp field by "docvalue_fields" which will return a fixed format.
Do you think we should support mutliple trino tiemstamp data type by creating Table definition files like Kafka connector or only one timestamp format like "TIMESTAMP_TZ_MILLIS"?

[2022-04-07 11:57] wendigo opened #11847 "io.trino.orc.TestSliceDictionaryColumnWriter.testDirectConversion: Invalid code point 0x1CEAAE"
[code]

[2022-04-07 12:03] findepi commented on #11847
This is easily reproducible (`@Test(invocationCount = 10_000, threadPoolSize = 11)`)

[2022-04-07 12:05] findepi commented on #11847
@homar can you take a look?

[2022-04-07 12:08] homar commented on #11847
Will do

[2022-04-07 12:13] homar opened #11848 "trino-hive tests sometimes fail with OutOfMemoryError"
[code]

For example here https://github.com/trinodb/trino/runs/5858114730?check_suite_focus=true

[2022-04-07 12:52] homar commented on #11847
So I'd say the problem comes from the fact that bytes are randomly generated thus there are bytes which can't be properly transformed to UT8

[2022-04-07 12:53] homar commented on #11847
I will try to change the way bytes are generated

[2022-04-07 12:56] findepi commented on #11847
Maybe we can randomly gen codepoints and produces bytes from that?

[2022-04-07 12:58] findepi commented on #5527
Closing in favor of https://github.com/trinodb/trino/issues/11848

[2022-04-07 12:58] #5527 closed

[2022-04-07 12:58] findepi commented on #11848
https://github.com/apache/maven-surefire/pull/407 might help.

[2022-04-07 13:04] nineinchnick commented on #11848
@findepi 3.0.0-M6 was released 3 days ago and includes that change, could you update surefire in airbase?

[2022-04-07 14:14] erkie opened #11849 "Query on _PARTITIONDATE or _PARTITIONTIME partitioned columns in BigQuery connector: Column '_partitiontime' cannot be resolved"
When trying to query on a partitioned table that is partitioned with the the psuedo column `_PARTITIONTIME` I get the following error:

[code]

From this simple query:

[code]

Querying a single partition using the "legacy" way works:

[code]

Is this not supported? The only reference i can find for this is this line: https://github.com/trinodb/trino/blob/master/plugin/trino-bigquery/src/main/java

[2022-04-07 14:29] wendigo opened #11850 "Flaky io.trino.execution.resourcegroups.db.TestQueuesDb.testSelectorPriority()"
[code]

[2022-04-07 15:39] mosabua commented on #11692
@GaruGaru .. please do not use the rocket emoji .. I am using that to capture for myself that I added an entry to the release notes..

[2022-04-07 17:15] wolvery opened #11853 "[Bug] OpenId UserInfo Endpoint uses only POST but should use GET as well (OneLogin)"
Hi!

I am having an issue with UserInfo Endpoint resolution to OneLogin and it seems they only accept GET method.
In terms of OpenId Connect's User Info specification, it points out to accept GET or POST method and it is recommeded to use GET:
"It is RECOMMENDED that the request use the HTTP GET method and the Access Token be sent using the Authorization header field."
https://openid.net/specs/ope

[2022-04-07 17:24] #11853 closed

[2022-04-07 17:43] arunmarathe opened #11854 "Cannot make trino 2-node cluster work"
I have a simple 2-node CentOS cluster. One node is coordinator; the other node is worker.

I start coordinator, then worker: no problem.

All of the queries hang; they never finish. Here is a typical CLI session from the worker.

[code]

It's probably something very simple thing missing. I have verified that httpd is running on both of the nodes.

Any ideas? Thanks.

[2022-04-07 20:34] #11776 closed

[2022-04-07 20:39] sopel39 commented on #11692
[code]
https://github.com/trinodb/trino/pull/11837

[2022-04-07 20:43] findepi commented on #11692
@mosabua  🚀 is awesome (and frequent) feedback from users (various) . let's use 👀 for the marker.

@GaruGaru thank you for your feedback

[2022-04-07 20:54] mosabua commented on #11692
done @findepi

[2022-04-07 21:57] #11692 closed

[2022-04-07 22:31] lxynov commented on #11708
Thanks @findepi.

### Previous experiment

- 5 times on `iceberg.tpcds_sf100000.customer`; 5 times on `iceberg.tpcds_sf100000.store_sales`; 4 times on `iceberg.tpcds_sf100000.store`
- No they're not partitioned.
- FYI these tables are generated by copying TPCDS tables to Iceberg. The copying SQLs can be found [here](https://gist.github.com/lxynov/ab782f4a659612887554c4c742452548#file-copy-sql). SF

[2022-04-07 22:37] lxynov commented on #11708
@osscm FYI you can also config this by setting a JVM config `-Diceberg.worker.num-threads=10` when launching Trino

[2022-04-08 00:44] dionysus1016 opened #11862 "Create an temp table with "every minutes in a day""
I am tring to count rows by minutes and set the count to 0 if there is no rows in related mintue range, I am not sure I can achieve this without creating a temp table with all minutes value there and join the temp table with source table. e.g.

SELECT minute_value, minute_count
      FROM (
       VALUES
        (timestamp  '2012-10-31 01:00', 0),
        (timestamp  '2012-10-31 01:01', 0),

[2022-04-08 02:22] zhaoyim commented on #11854
Seems the worker are not running well, please see the error "only 0 workers are active", please check the worker log. Or you can config node-scheduler.include-coordinator=true in coordinator, so should have 1 worker running on the same coordinator node.

[2022-04-08 03:22] martint opened #11863 "Release notes for 377"

[2022-04-08 03:28] ebyhr commented on #11368
https://github.com/trinodb/trino/runs/5878088000

[2022-04-08 06:28] #11841 closed

[2022-04-08 07:53] zhaoyim opened #11867 "Use HMS store metadata should not be share the schemas"
![image](https://user-images.githubusercontent.com/12442769/162380705-92db7f4d-77a9-45b4-adc8-2c7e6cb4cfe8.png)

when create schema in iceberg, I only can see the schema in iceberg catalog.  hive schemas only shown in the hive catalog, now  the hive schemas and iceberg schemas show up the same, because we already have catalogs which should use as a domain.

now I think there are 2 option to fix th

[2022-04-08 08:48] findepi commented on #11867
The fact that schemas are shared is expected, as designed.
A schema can hold both Hive and Iceberg tables (or Detla tables FWIW).
These can be supported at the same time with use of table redirections, to deliver seamless user experience.

Closing because it "works as intended".
cc @findinpath for redirections

[2022-04-08 08:48] #11867 closed

[2022-04-08 09:01] findepi commented on #11862
I don't think you can

[code]

[2022-04-08 09:01] #11862 closed

[2022-04-08 09:10] zhaoyim commented on #11867
Thanks for clarify!

[2022-04-08 09:17] findepi commented on #11850
@wendigo is it reproducible locally?
in the CI logs (do you have a link?), did you see anything unusual?

[2022-04-08 09:32] findepi commented on #11708
We should have a way to control this via Trino catalog config property. This would require the pool not to be staticly-initialized. @lxynov can you please file a separate issue about this?
cc @danielcweeks @kbendick

let's just do this

Added in https://github.com/trinodb/trino/pull/11858.

awesome!

i am working on this

Agreed!

We have had some planning performance challenges with the Delta Lak

[2022-04-08 10:53] wendigo commented on #11850
@findepi nothing unusal in the logs. just a timeout exception

[2022-04-08 12:26] ebyhr commented on #11863
[code]

#11236

[2022-04-08 14:25] findepi commented on #11863
[code]

#11637

[2022-04-08 14:30] Airliquide76 commented on #10199
Hi any workaround for this ?

[2022-04-08 14:49] arunmarathe commented on #11854
Here is the tail of the log on the worker.

[code]

Seems ok? It printed about the exchange-manager.properties file not present.

[2022-04-08 15:00] #11520 closed

[2022-04-08 15:00] ebyhr commented on #11863
[code]

#11649

[2022-04-08 15:56] arhimondr commented on #11368
https://github.com/trinodb/trino/pull/11870

[2022-04-08 15:56] #11368 closed

[2022-04-08 15:57] arhimondr commented on #11825
https://github.com/trinodb/trino/pull/11870

[2022-04-08 16:00] losipiuk opened #11876 "TestDistributedFaultTolerantEngineOnlyQueries: tried to release more than allocated"
[code]

[2022-04-08 16:13] mosabua opened #11878 "Add documentation for table stats and join pushdown in SQL Server connector"
Missed to add docs in #11637

[2022-04-08 16:23] Ordinant commented on #11347
Does the new `trim` syntax also apply to `rtrim` and `ltrim`?

[2022-04-08 16:45] ddcprg commented on #10199
I don't think there is a workaround at the moment other than not using these types in pinot. The work is in progress, I just need to find some extra time to finish it up

[2022-04-08 19:01] arhimondr commented on #11876
Looking

[2022-04-08 19:27] meetsitaram opened #11883 "Support for JDBC catalog in Iceberg connector"
Add support for JDBC iceberg catalog similar to the glue catalog added in https://github.com/trinodb/trino/pull/10845.

Creating this issue for awareness and reaching out to check if anyone else is working on it. I am planning to create a pull request for the same.

[2022-04-08 19:29] hashhar commented on #11883
See https://github.com/trinodb/trino/pull/11772

[2022-04-08 22:11] ebyhr commented on #11883
@meetsitaram There is already issue and PR (#9968 & #11772). Let me close as duplicate.

[2022-04-08 22:11] #11883 closed

[2022-04-08 22:15] ebyhr commented on #11347
@Ordinant rtrim and ltim don't have changes itself, but the new trim function can trim leading & following characters now.

[2022-04-08 22:25] Ordinant commented on #11347
So perhaps an eventual deprecation of `rtrim` and `ltrim`?

[2022-04-08 22:28] ebyhr commented on #11347
@Ordinant I don't think so. Many databases have those functions and there's no reason to delete them.

[2022-04-08 23:37] metalshanked opened #11889 "Allow multiple hosts for elasticsearch connector (elasticsearch.host property)"
Hi,
Is it possible to allow more than one host for elasticsearch connector?
Property: `elasticsearch.host`

ideally this array of elastic hosts can be used by trino to load balance, fail over etc. Just like many of the usual elasticsearch client libraries for Python and Java allow.

There is property for sniffing `elasticsearch.node-refresh-interval` but in many cases, sniffing is not the best cho

[2022-04-09 03:09] KarlManong opened #11890 "Fix Iceberg entry in release note 376"
<img width="648" alt="image" src="https://user-images.githubusercontent.com/2627662/162554176-e3c746b0-7831-4444-9914-386a94d558a3.png">

It should be placed in Iceberg Connector

[2022-04-09 03:37] ebyhr commented on #11890
@KarlManong Good catch. Could you send a PR?

[2022-04-09 07:50] DwijadasDey commented on #11349
I need to import Trino servers trust certificate in the client system using `keytool` command and the trino client able to connect Trino  server.

[2022-04-09 07:50] #11349 closed

[2022-04-09 09:44] KarlManong commented on #11890
@ebyhr Sorry, I have submitted the cla, but it didn't affect.

[2022-04-09 09:52] zhaoyim commented on #11854
It is OK, if you did NOT enable the fault-tolerant execution. More information you can see [fault-tolerant execution](https://trino.io/docs/current/admin/fault-tolerant-execution.html)

[2022-04-09 12:40] losipiuk opened #11893 "testUpdateFullAcidWithOriginalFilesTrinoInsertingAndDeleting flaky"
[code]

[2022-04-09 12:42] #10808 closed

[2022-04-09 12:49] #11890 closed

[2022-04-09 17:46] Airliquide76 commented on #10199
No stress ans worry :) I've switch to long for storage. Many thanks

[2022-04-10 00:06] dionysus1016 commented on #11862
Thanks!

[2022-04-11 01:44] ebyhr commented on #11847
https://github.com/trinodb/trino/runs/5954730758

[2022-04-11 02:40] mosabua commented on #11878
Fixed in #11881

[2022-04-11 02:41] #11878 closed

[2022-04-11 09:37] MichaelTiemannOSC commented on #11838
Suggesting @erikerlandson watch this.

[2022-04-11 12:32] sopel39 commented on #11863
[code]
https://github.com/trinodb/trino/pull/11869

[2022-04-11 14:24] ericxiao251 commented on #5860
Hey team I would like to work on this issue, but I would like some guidance on where to start.

I started by looking at the tests for similar column stats ([date column stat tests](https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestThriftMetastoreUtil.java#L251-L289)) and I noticed that we do not have any tests for the timestamp c

[2022-04-11 15:14] klDen commented on #8197
This is now supported with the linked merged PR.

[2022-04-11 15:14] #8197 closed

[2022-04-11 17:52] damnMeddlingKid opened #11904 "Make AbstractTestHive's "assertExpectedPartitions" check all partitions are present."
While working on a change to the hive connector I noticed that the method "assertExpectedPartitions" only checks if the expected partitions are in the actual partitions. But if the actual partitions contain more partitions than expected the check will still pass.  see https://github.com/trinodb/trino/blob/910501b979b3661df0c9e2628d5ac0a9e1c23931/plugin/trino-hive/src/test/java/io/trino/plugin/hive

[2022-04-11 20:48] sopel39 commented on #11825
Still saw it: https://github.com/trinodb/trino/runs/5975365288?check_suite_focus=true

[2022-04-11 20:51] arhimondr commented on #11825
Thanks @sopel39 . Seems like there's a one more problem. Will take a look

[2022-04-12 01:12] #11849 closed

[2022-04-12 01:13] ebyhr commented on #11863
[code]

#11865

[2022-04-12 03:39] BigStupideer commented on #8421
https://github.com/trinodb/trino/pull/2397 seems has been stoped two years ago, a lot of methods and interfaces have changed since that PR and some problems found in code review still left.
so this work is still on going？ @[miguelhrocha](https://github.com/miguelhrocha)

[2022-04-12 05:53] hashhar commented on #11904
cc: @findepi

[2022-04-12 07:18] mdesmet commented on #11300
I started to look into this issue yesterday.

The `MinioClient` provides some additional features on top of the standard S3 api that may be interesting to keep in our toolbox. So maybe it's interesting to migrate it to the `HiveMinioDataLake` setup:

- Uploading of files based on resources (similar to below missing `HadoopHive` feature)
- Event notifications on when files are created or updated si

[2022-04-12 08:36] findepi commented on #11863
[code]

#11322

[2022-04-12 10:57] losipiuk commented on #5860
The date tests you reference above are just for testing conversion between Hive's and Trino's statistics model. Hive uses `DateColumnStatsData` for that.
For TIMESTAMP columns though Hive uses  `LongColumnStatsData` (see [here](https://github.com/trinodb/trino/blob/c0276cea688da155f7f5bf0cb0b53169ece43e6e/plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastoreUtil.jav

[2022-04-12 11:20] sopel39 commented on #11863
[code]
https://github.com/trinodb/trino/pull/11584

[2022-04-12 16:20] #11847 closed

[2022-04-12 21:06] mapshen commented on #10164
@Jackie-Jiang mind mentioning which PR contains the fix?

[2022-04-12 21:34] Jackie-Jiang commented on #10164
@mapshen Sorry I missed the root cause part of the issue. So the pushed down query can be handled properly, but not the query that needs to query each individual segments. That seems like a presto connector issue. Add @elonazoulay @xiangfu0 to take a look

[2022-04-12 23:09] #1988 closed

[2022-04-13 00:51] osscm opened #11920 "Add Iceberg catalog config property to set iceberg.worker.num-threads"
related issue: https://github.com/trinodb/trino/issues/11708 comment: https://github.com/trinodb/trino/issues/11708#issuecomment-1089566562

[TableScan::planFiles](https://github.com/apache/iceberg/blob/a78aa2dbdb98634f26066c457cc1aef93166be9f/api/src/main/java/org/apache/iceberg/TableScan.java#L173)

executed in a shared [Iceberg worker pool](https://github.com/apache/iceberg/blob/a78aa2dbdb98634

[2022-04-13 00:53] osscm commented on #11708
@findepi @lxynov added this issue: https://github.com/trinodb/trino/issues/11920

[2022-04-13 01:56] 15959156809 commented on #8358
你好，你这个是怎么实现的，可以分享吗？

[2022-04-13 01:57] 15959156809 commented on #8358
你好，你这个是怎么实现的，可以分享吗？

[2022-04-13 01:57] 15959156809 commented on #8358
@waitingF 你好，你这个是怎么实现的，可以分享吗？

[2022-04-13 03:34] waitingF commented on #8358
@15959156809 可以，我整理下代码，然后上传代码。
OK, I will pack my code and make a pull request.

[2022-04-13 06:53] galithaham commented on #5686
@arhimondr temp table goes to disk once the memory limit is reached (can be configured), plus you can use that specific temp table many times in the session (there are two modes of temp table one which ends when the connection ends and the other when a commit is issued), other reason to use temp table is that it may hold calculated data or some kind of logic (even joins) which you don't want to re

[2022-04-13 07:03] findepi commented on #11863
[code]

#11864

[2022-04-13 07:34] findepi commented on #11904
@damnMeddlingKid good catch!
i don't think it's desired, but let's check.
note that `AbstractTestHive` is run for many eg S3 and Azure file systems, so it requires github secrets to be fully exercised. If you make a PR from a fork, CI won't test AbstractTestHive fully.
This is why i allowed myself to take a stab at the proposed improvements: https://github.com/trinodb/trino/pull/11925

[2022-04-13 08:23] lukasz-stec commented on #1671
another case https://github.com/trinodb/trino/runs/5993404223?check_suite_focus=true

Relevant thread stack trace
[code]

full thread dump
[code]

[2022-04-13 08:24] ebyhr opened #11929 "Flaky TestHiveFaultTolerantExecutionConnectorTest.close"
[code]

https://github.com/trinodb/trino/runs/6003330080

[2022-04-13 08:41] findepi commented on #11929
cc @arhimondr @losipiuk @linzebing

[2022-04-13 08:57] findepi commented on #11442
@zhaoyim please paste code blocks (with triple backticks ```` ``` ````), not images. I cannot copy-paste text from an image into my terminal.

@puchengy  do you know where does it come from?

Anyway, the `timestamp with local time zone` is actually correct for "timestamp with zone... but without a zone" (like Java `Instant`). This is what iceberg `timestamptz` is.
In Hive, the `timestamp` represen

[2022-04-13 11:05] sopel39 opened #11934 "Remove join spilling"
Join spilling is very complex code and handling it does add a lot of complexity which makes it harder to move forward with join perf changes. Join spilling is not that essential anymore because of Tardiglade effort

[2022-04-13 11:05] sopel39 commented on #11934
cc @trinodb/maintainers

[2022-04-13 12:03] sopel39 opened #11936 "Remove grouped execution"
No longer needed as it's covered by Tardigrade

[2022-04-13 12:03] sopel39 commented on #11936
cc @trinodb/maintainers

[2022-04-13 12:04] kasiafi opened #11937 "Table Functions support for Trino"
This issue serves the following purposes:
1. Decompose, prioritise and schedule the work.
2. Provide visibility into state of the task.
3. Provide a place for discussion and questions.

related issue: https://github.com/trinodb/trino/issues/1839
related PR: https://github.com/trinodb/trino/pull/11336

### Definitions
A **Table Function** is a function which returns a relation, as opposed to a scal

[2022-04-13 20:12] dain commented on #11934
Our plan is to remove spilling entirely... it is just way to complex (and has always been).  You could switch to the Tardiglade instead

[2022-04-13 21:48] damnMeddlingKid opened #11941 "[Proposal] [Hive connector] Use column statistics to prune partitions"
I'd like to propose a feature to allow utilizing per partition column statistics (like min/max) to filter out partitions that don't overlap with the predicate. If partitions don't contain statistics they would not be filtered out.

This behaviour can be controlled by a session variable or table property so that it is only enabled for tables where the user
knows that the statistics are fresh and ac

[2022-04-13 22:12] pettyjamesm commented on #11934
While tardigrade might be able to achieve some of the same benefits, my understanding of how it achieves them very different. I’d have to read up on the details a bit more, but at first glance I can’t see how we could leverage it in the same way we do spilling to disk today, in the context of Athena.

Right now, we’re able to run queries with very limited up front information about query character

[2022-04-13 22:34] mndoping1 opened #11942 "Reduce returns incorrect result for decimals"
Using as reduce operation to perform a sum on an array:

select REDUCE(CAST(TRANSFORM(ARRAY[3.3,decimal '2.1', decimal '3.25'],x->COALESCE(x,decimal '0')) AS ARRAY(decimal)),decimal '0',(s, x) -> s + x,s -> s);

result: 8

expected result: 8.65

Can we investigate why this isn't returning the expected result?

[2022-04-13 22:45] dain commented on #11934
I don't see anyway we keep the spilling code given the complexity it brings to the entire code base.  If you really want to see this maintained in Trino, then I suggest putting effort into redesigning this feature, so that it is isolated and has minimal impact on the overall codebase.... this feature is way over it's complexity budget.

[2022-04-13 22:55] ebyhr commented on #11863
[code]

#11873

[2022-04-13 22:55] martint commented on #11942
That's because `decimal` in `CAST(... AS ARRAY(decimal))` is equivalent to `decimal(38, 0)`.

[2022-04-13 22:55] #11942 closed

[2022-04-13 23:09] pettyjamesm commented on #11934
Sure, let’s try to organize what specifically The problems this complexity creates and what changes are impossible to make in the current state of the implementation- and then let’s see what specific simplifying / refactoring changes that need to be made look like.

[2022-04-13 23:24] #11863 closed

[2022-04-14 03:58] 0xc0deface commented on #11795
I would also like to know, as I am struggling to get a cache working.

[2022-04-14 04:33] martint opened #11947 "Release notes for 378"

[2022-04-14 09:10] ebyhr commented on #11825
`testPartitionPerScanLimit` also failed in https://github.com/trinodb/trino/runs/6016481992

[2022-04-14 09:41] losipiuk opened #11949 "S3 based exchange fails on Huawei OBS"
Huawei OBS claims to be S3 compatible but Trino's implementation of S3FileSystemExchangeStorage fails there on read:

[code]

Looks like `partNumber` arg is not supported

[2022-04-14 09:41] losipiuk commented on #11949
cc: @linzebing

[2022-04-14 09:48] zhaoyim commented on #11442
@findepi  updated use the text instead of the images, please have a try.

[2022-04-14 09:54] sopel39 commented on #11934
@pettyjamesm from the top of the head:
* we would like to avoid `PartitionedLookupSource` as it's creates a performance bottleneck and it mitigates perf improvements from making join batch oriented
* we would like to construct lookup source on the fly. Currently, we wait for build side to be collected before we even start building build lookup source. This harms CPU utilization and query wall time

[2022-04-14 12:25] losipiuk opened #11952 "Rethink which task to kill on cluster OOM with Tardigrade"
Currently, when the cluster hits OOM on some of the nodes LowMemoryKiller is killing the biggest of tasks for queries that have task-level retries enabled. This releases most of the memory, but also may kill a task that was already running for a long time, wasting a lot of effort.
We should make the algorithm smarter. We should take into account how much "work" task has already done so we pick tas

[2022-04-14 12:28] losipiuk opened #11953 "Take input size into account where estimating initial memory usage of Task in Tardigrade"

[2022-04-14 12:28] losipiuk commented on #11953
cc: @arhimondr

[2022-04-14 12:29] losipiuk opened #11954 "Take table statistics into account where estimating initial memory usage of Task in Tardigrade"

[2022-04-14 12:29] losipiuk commented on #11954
cc: @arhimondr

[2022-04-14 14:27] raunaqmorarka commented on #11941
I believe similar ideas about using statistics outside of the CBO have been discussed in the past. We want to avoid using stats for query results or pruning or anything outside CBO because it carries the risk of wrong results. We also want to avoid adding features behind toggles that are not generally safe to use.
You can look at using iceberg or delta instead where we can safely use file level mi

[2022-04-14 14:53] damnMeddlingKid commented on #11941
Thanks for the clarification!.

[2022-04-14 15:43] #11904 closed

[2022-04-14 15:47] arhimondr opened #11959 "Improve Trino UI to display Tardigrade related information"
Some ideas:

* [x] Total / Completed / Failed number of tasks per stage
* [ ] Display number of retries for each "logical" task.
* [ ] Group attempts of a single "logical" task together
* [x] Group tasks from a single stage together
* [ ] Display wasted CPU / Wall time
  * [x] on query
  * [x]  stage
  * [ ] "logical" task level
* [ ] Display amount of time spent waiting for input
* [ ] Display in

[2022-04-14 15:48] arhimondr commented on #11959
CC: @losipiuk @linzebing @joshthoward

[2022-04-14 16:05] irhawks opened #11961 "Error in drop a table and confusing hints for exception."
I have just deployed a trino cluster via official helm chart v0.7.0 and have configured catalogs. However, an error raises when I'm trying to delete a table in hive catalog via trino cli (version 376). Here is the catalog configuration (with hive 3):

[code]

The above configuration clearly show that `hive.allow-drop-table` is enabled. Staring trino cli with `./trino --server http://trino0.interne

[2022-04-14 18:21] pettyjamesm commented on #11934
@sopel39 and I will sync up offline next week and see what we can come up with to refactor spilling in joins.

[2022-04-14 18:21] ganathan opened #11964 "Unable to read AWS Glue created iceberg tables from S3"
I am getting the following error when attempting to perform a select statement from an iceberg table created in Glue.

"Query 20220414_160541_00007_h5c3z failed: Error reading tail from s3://<bucket name>/fund_perf_f/data/084faaf5/fund_perf_f/load_date=2022-01-31/1ccc2482-2274-46e2-a5c5-06b4a4c44a6b.gz.parquet with length 7757"

When I checked the physical location of the file.. there is an empty

[2022-04-14 20:14] sopel39 commented on #11947
[code]
https://github.com/trinodb/trino/pull/11902

[2022-04-14 20:17] arunmarathe commented on #11854
If it is ok, then why can't even a simple query submitted from coordinator run?

[code]

[2022-04-14 21:17] alexjo2144 commented on #7226
Released in 376: https://github.com/trinodb/trino/pull/11642

[2022-04-14 21:17] #7226 closed

[2022-04-15 00:51] #10306 closed

[2022-04-15 06:11] hashhar commented on #11854
Can you share your config.properties file for both coordinator and worker nodes?

It seems some config is set to require minimum number of nodes and the worker is not seen by the co-ordinator hence not meeting the minimum number of nodes and queries being stuck.

[2022-04-15 06:13] hashhar commented on #11854
BTW, for troubleshooting let's move to #troubleshooting on Slack - there are more people there who might know the answer. It's faster and more real-time as well.

We prefer to keep GitHub issues for tracking confirmed issues and future work.

Feel free to join our [Slack](https://trino.io/slack.html) and continue the conversation there.

(Feel free to re-open in case you want to continue here)

[2022-04-15 06:13] #11854 closed

[2022-04-15 06:51] xihuishawpy opened #11971 "Could not create connection to mysql8"
trino version : 376

I want to connect mysql8

etc/catalog/mysql.properties :
      connector.name=mysql
      connection-url=jdbc:mysql://ip:3307
      connection-user=root
      connection-password=xxx

but , **Trino: [67108864] Query failed (#20220415_064619_00322_efs2k): Could not create connection to database server.**
![image](https://user-images.githubusercontent.com/25117244/163534294-8964

[2022-04-15 08:18] kinyounoob commented on #9341
我同样遇到了这个问题，请问楼主已经解决了么？怎么解决的？
I also encountered this problem. Has the landlord solved it? How to do that?

[2022-04-15 10:04] findepi commented on #11947
[code]
https://github.com/trinodb/trino/pull/11918

(to be merged with previous one)

[2022-04-15 10:40] ebyhr commented on #11971
Please make sure the connection url, credential & network between Trino nodes and MySQL. You can continue in the community Slack if you want.

https://trino.io/slack.html > `#troubleshooting` channel

[2022-04-15 10:40] #11971 closed

[2022-04-15 17:47] #6789 closed

[2022-04-15 17:49] hashhar commented on #11947
[code]
#6789 #7630

[2022-04-15 20:07] sopel39 commented on #11947
[code]
https://github.com/trinodb/trino/pull/11983

[2022-04-15 20:21] sopel39 commented on #11947
[code]
https://github.com/trinodb/trino/pull/11956

(to be merged with previous one)

[2022-04-15 20:35] #10125 closed

[2022-04-15 20:37] hashhar commented on #11947
[code]

#10125 #10562

[2022-04-16 05:56] subbareddydagumati commented on #8197
@klDen Does it support SASL SSL GSSPAI. If so, Can you please provide the list of properties we need to pass in the external config file

[2022-04-16 06:07] subbareddydagumati commented on #8197
nm. Found the sample. It's working. Thanks alot for working on this. It's an amazing feature.
[code]
Added jaas file to jvm.config
[code]

[2022-04-18 02:39] #8769 closed

[2022-04-18 02:40] ebyhr commented on #11947
[code]

#11661

[2022-04-18 05:31] ebyhr opened #11989 "Fix "Matrix must define at least one vector" error in CI"
All checks are green in the PR, but I received the below failure notification:

Error when evaluating 'strategy' for job 'test'. .github/workflows/ci.yml (Line: 424, Col: 15): Matrix must define at least one vector

https://github.com/trinodb/trino/actions/runs/2181996904

[2022-04-18 05:32] ebyhr commented on #11989
cc: @nineinchnick

[2022-04-18 06:09] njalan opened #11990 "is any anyway to load the properties file from the system enviroment"
is any anyway to load the properties file from the system variables for some sensitive values like database password?
prestosql version is 340.

[2022-04-18 06:18] ebyhr commented on #11990
Please take a look at https://trino.io/docs/current/security/secrets.html

You can continue in the community Slack if necessary https://trino.io/slack.html

[2022-04-18 06:18] #11990 closed

[2022-04-18 07:05] shangshao commented on #1258
@qinzl1
I am facing the same issue. Can you please post the resolution?

[2022-04-18 10:36] #11989 closed

[2022-04-18 10:40] Kshitiz-Mhto commented on #1911
i am newbie to open source contribution, would you assign this issue to me. i want to contribute in this issue.

[2022-04-18 10:42] sreekesh93 opened #11993 "Security issue Arbitrary code execution detected"
Introduced through
pyyaml@5.3.1 and myst-parser@0.12.10
pillow@7.0.0

Fixed in
pyyaml@5.4
pillow@9.0.0

[2022-04-18 11:15] Kshitiz-Mhto commented on #3665
Is this issue about to add the line io.trino.plugin.password.ldap=DEBUG in the master/core/docker/default/etc/log.properties
or master/testing/trino-server-dev/etc/log.properties @electrum. If so, i am a newbie to open source contribution, i want to contribute to the docs.

[2022-04-18 11:47] HiLany opened #11995 "Implicit conversion between data and varchar."
Why does Trino not support implicit conversion of date type and varchar type, such as converting data to varchar, in Trino, data needs to be explicit converted to varchar before it can be compared with other varchars.

[2022-04-18 11:50] #11995 closed

[2022-04-18 19:37] arunmarathe opened #11999 "Cannot make trino 2-node cluster work #11854"
Please refer to the closed issue number 11854.  I cannot reopen that issue, and hence opening a new one.

Here is the config.properties file for the coordinator.

[code]

Here is the config.properties file for the only worker.

[code]

I can ping the coordinator node from the worker node. Both are CentOS.

Still even the following simple query hangs.

[code]

Can someone help? Thanks.

Arun

[2022-04-18 23:53] ebyhr commented on #11999
Could you share the below information on coordinator and workers?
* node.properties
* jvm.config
* server log

[2022-04-19 02:29] #9363 closed

[2022-04-19 07:33] ebyhr commented on #11268
Fixed by #11499

[2022-04-19 07:33] #11268 closed

[2022-04-19 08:16] zhaoyim commented on #11999
@arunmarathe could you use the hostname or IP instead the localhost in _discovery.uri=http://localhost:8080_  and make sure the port 8080 are not used by other APP, or change to another port Thanks!

[2022-04-19 08:20] Riddle4045 commented on #11194
@findepi  @sopel39  starting to look at this now.  Since the compared value is indeterminate, what would be the happy path here? would a better exception suffice?

[2022-04-19 08:27] sopel39 commented on #11194
comparisons against `NULL` should always yield `NULL` results until you can for sure deduce that results is false. E.g:
[code]

[2022-04-19 08:28] sopel39 commented on #11194
In any case, query should not fail because of IN predicate

[2022-04-19 09:58] homar opened #12004 "Enforce planned frequency for checkpoints"
Currently there is a possibility that delta lake checkpoints may be written not exactly at planned frequency due to races between DML transactions. See TODO in [DeltaLakeMetadata](https://github.com/trinodb/trino/blob/513d193a2d77799d93358adfc8b5ca2e92b7b410/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java#L1504)

[2022-04-19 10:03] homar opened #12005 "Write Delta Lake "operationMetrics" Transaction Log Field"
Delta Lake has a commit field called operationMetrics that had some statistics on the rows deleted.
It's not in the protocol definition but it could be useful to include.
See [DeltaLakeMetadata](https://github.com/trinodb/trino/blob/513d193a2d77799d93358adfc8b5ca2e92b7b410/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java#L1454)

[2022-04-19 10:21] homar opened #12007 "Add Timestamp predicate pushdown to Parquet in Delta Lake"

[2022-04-19 10:24] findepi commented on #12005
what should go into this field then?

cc @vkorukanti

[2022-04-19 10:25] homar opened #12008 "Harden AWS transaction locking mechanism to support long running I/O operations"
Currently, AWS transaction log locking assumes that operation under lock will return within 5 minutes.

After 5 minutes lock is assumed expired and if file was written after that grace period we may have conflicting writes from two transactions.

The mechanism can be improved by refreshing the lock in separate thread, while operation under log is in progress.

[2022-04-19 10:30] homar opened #12009 "Move TestDeltaLakeAdlsConnectorSmokeTest.testDropSchemaExternalFiles to base class"
It is worth moving it to base class so it will be run on s3 as well

[2022-04-19 10:38] homar opened #12010 "Add tests for SelectedPortWaitStrategy"

[2022-04-19 10:43] findepi commented on #11993
The server tarball includes a launcher.py (provided by airbase), but the script has no dependencies beyond Python standard library.

While we can upgrade dependencies in supporting libraries (here: docs), we don't need to keep this "security bug" open.

[2022-04-19 10:43] #11993 closed

[2022-04-19 10:47] homar opened #12011 "DeltaLake cleanupFailedWrite should happen in a backround thread"
see [DeltaLakeMetadata](https://github.com/trinodb/trino/blob/513d193a2d77799d93358adfc8b5ca2e92b7b410/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java#L1478)

[2022-04-19 10:54] findepi commented on #11194
Remember that fixing comparison is not sufficient to solve the problem:

[...]
but they still have hash collisions, so that equals is invoked

solving this **correctly** may be computationally expensive.

[2022-04-19 10:57] homar opened #12012 "DeltaLake support delta.hide-non-delta-lake-tables with file metastore"
[DeltaLakeFileMetastoreModule](https://github.com/trinodb/trino/blob/513d193a2d77799d93358adfc8b5ca2e92b7b410/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/metastore/file/DeltaLakeFileMetastoreModule.java#L32)

[2022-04-19 10:59] homar opened #12013 "DeltaLake add parameters == null check to DefaultGlueMetastoreTableFilterProvider.isDeltaLakeTable"
[DeltaLakeGlueMetastoreTableFilterProvider](https://github.com/trinodb/trino/blob/513d193a2d77799d93358adfc8b5ca2e92b7b410/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/metastore/glue/DeltaLakeGlueMetastoreTableFilterProvider.java#L54)

[2022-04-19 11:01] homar opened #12014 "DeltaLake support delta.hide-non-delta-lake-tables with thrift metastore"
[DeltaLakeThriftMetastoreModule](https://github.com/trinodb/trino/blob/513d193a2d77799d93358adfc8b5ca2e92b7b410/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/metastore/thrift/DeltaLakeThriftMetastoreModule.java#L32)

[2022-04-19 11:36] sopel39 commented on #11194
Yup. Maybe planner could identify if nulls are important in first place (e.g. used in projection). If not, we can alias `null` as `false`.

With `null` you need to compare all non-null columns to check if results shouldn't be `false` before returning `null`

[2022-04-19 14:00] homar opened #12018 "DeltaLake Consider removing directories during vacuum"
Currently empty directories are not removed as removing them can potentially break concurrent writes. However databricks can delete directories.

see [VacuumProcedure](https://github.com/trinodb/trino/blob/513d193a2d77799d93358adfc8b5ca2e92b7b410/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/VacuumProcedure.java#L231)

BTW we may want to consider this behaviour for Iceb

[2022-04-19 14:47] findepi commented on #11194
Yes, this would be good to distinguish the Filter case (easier to support) from a Projection case (less frequent and harder to support correctly).

Or just verify compared values aren't indeterminate, to avoid running an algorithm with quadratic cost.
Of course, the downside that an expression works in a Filter, but doesn't work in a Projection, is a non-negligible one.

cc @martint

[2022-04-19 14:48] findepi commented on #12012
File metastore is primarily for testing. It will be added when we need this for testing, it won't be added otherwise. We don't need an issue to track this, so let me close this one.
Feel free to remove a TODO from the plugin's code.

[2022-04-19 14:57] arunmarathe commented on #11999
I used IP address in discovery.uri, and changed the port to 8099. Neither of them helped.
The query I posted still hangs.

[2022-04-19 15:02] arunmarathe commented on #11999
For coordinator:
node.properties:

[code]
jvm.config:

[code]

server log:

[code]

[2022-04-19 15:04] hashhar opened #12021 "Flaky test TestHive3OnDataLake.testInsertOverwritePartitionedAndBucketedExternalTable"
[code]

Seen in https://github.com/trinodb/trino/pull/12003

[2022-04-19 15:15] vkorukanti commented on #12005
@findepi [These](https://docs.delta.io/latest/delta-utility.html#operation-metrics-keys) are the operation metrics for each operation. Let me get back to you whether these should be part of the Protocol.

[2022-04-19 16:33] damnMeddlingKid commented on #7778
I believe this happens whenever the plan has a tableScanNode. Those plans access the split manager to get splits which calls `getValidWriteIds` here https://github.com/trinodb/trino/blob/master/plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/SemiTransactionalHiveMetastore.java#L1351 and fails.

[2022-04-19 21:56] ebyhr commented on #11999
@arunmarathe By the way, could you join the community Slack so that we can debug interactively? https://trino.io/slack.html

[2022-04-19 21:59] homar opened #12028 "DeltaLake validate if schema didn't diverge in CheckpointBuilder"
See this [comment](https://github.com/trinodb/trino/blob/2160c4b62c4cedf8bad876aba862e8847902979e/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointBuilder.java#L42)

[2022-04-19 22:00] homar opened #12029 "DeltaLake investigate if transaction entry in checkpoint builder is correct"
It is not super obvious from documentation if we should compare version to find a winner or should just latest entry for given appId win.

See [CheckpointBuilder](https://github.com/trinodb/trino/blob/2160c4b62c4cedf8bad876aba862e8847902979e/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointBuilder.java#L59)

[2022-04-19 22:04] homar opened #12030 "DeltaLake extract buildSchemaProperties from CheckpointWriter"
buildSchemaProperties is implemented both in [CheckpointWriter](https://github.com/trinodb/trino/blob/2160c4b62c4cedf8bad876aba862e8847902979e/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriter.java#L147) and in [DeltaLakePageSink](https://github.com/trinodb/trino/blob/2160c4b62c4cedf8bad876aba862e8847902979e/plugin/trino-delta-lake/src/main/

[2022-04-19 22:06] homar opened #12031 "DeltaLake determine stats format in checkpoint based on the table configuration"
Currently  currently if addFileEntry contains JSON stats we will write JSON stats to checkpoint and if addEntryFile contains parsed stats, we will write parsed stats to the checkpoint.
See [CheckpointWriter](https://github.com/trinodb/trino/blob/2160c4b62c4cedf8bad876aba862e8847902979e/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriter.java#L

[2022-04-19 22:10] homar opened #12032 "DeltaLake rework the way cacheMetadataEntries are processed"
Currently there are `transactionLogAccess.getMetadataEntry` is called too many times and this can be improved.
See [CheckpointWriterManager](https://github.com/trinodb/trino/blob/2160c4b62c4cedf8bad876aba862e8847902979e/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriterManager.java#L100)

[2022-04-19 22:15] homar opened #12033 "DeltaLake add refreshing of log expiration time in S3TransactionLogSynchronizer"
See [S3TransactionLogSynchronizer](https://github.com/trinodb/trino/blob/2160c4b62c4cedf8bad876aba862e8847902979e/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/writer/S3TransactionLogSynchronizer.java#L53)

[2022-04-19 22:17] homar opened #12034 "DeltaLake use AccessTrackingFilesystem together with InterfaceTestUtils"
See [AccessTrackingFilesystem](https://github.com/trinodb/trino/blob/2160c4b62c4cedf8bad876aba862e8847902979e/plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/AccessTrackingFileSystem.java#L30)

[2022-04-20 06:41] homar opened #12040 "Refactor DeltaLakePageSourceProvider to use file system passed via TableSnapshot"
Currently DeltaLakePageSourceProvider doesn't use file system passed by TableSnapshot and thus makes it hard to test.
See [TestTableSnapshot](https://github.com/trinodb/trino/blob/025b22a06ba864b9c37d2e58f69c45902502956e/plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/TestTableSnapshot.java#L103)

[2022-04-20 06:45] homar opened #12041 "Add tests for SelectedPortWaitStrategy and move it to trino-testing"
See [SelectedPortWaitStrategy](https://github.com/trinodb/trino/blob/025b22a06ba864b9c37d2e58f69c45902502956e/testing/trino-testing-containers/src/main/java/io/trino/testing/containers/wait/strategy/SelectedPortWaitStrategy.java#L35)

[2022-04-20 06:51] homar commented on #11296
Based on TODOs in code I created following issues related to Delta Lake connector:
https://github.com/trinodb/trino/issues/12004
https://github.com/trinodb/trino/issues/12005
https://github.com/trinodb/trino/issues/12007
https://github.com/trinodb/trino/issues/12008
https://github.com/trinodb/trino/issues/12009
https://github.com/trinodb/trino/issues/12010
https://github.com/trinodb/trino/issues/1

[2022-04-20 06:53] ebyhr commented on #12041
The class was already moved to testing module. I think this issue is duplicate of #12010 now.

[2022-04-20 07:03] findepi commented on #11296
@homar thanks!
 i moved the above list into issue description. Feel free to remove checkboxes from your comment (or the list)

[2022-04-20 07:13] #12009 closed

[2022-04-20 07:40] homar commented on #12033
duplicate of https://github.com/trinodb/trino/issues/12008

[2022-04-20 07:40] #12033 closed

[2022-04-20 07:41] homar commented on #12041
Duplicate

[2022-04-20 07:41] #12041 closed

[2022-04-20 08:48] sopel39 commented on #11194
Of course, the downside that an expression works in a Filter, but doesn't work in a Projection, is a non-negligible one.

You mean at runtime or during planning?

[2022-04-20 09:16] findepi commented on #11947
[code]
https://github.com/trinodb/trino/pull/11858

[2022-04-20 14:01] lukasz-stec opened #12053 "SPI backward compatibility check should support final removal"
Currently `io.trino.spi.TestSpiBackwardCompatibility#testSpiSingleVersionBackwardCompatibility` fails if `final` modifier was removed from a method.

[2022-04-20 14:19] findepi commented on #11947
[code]

#11946

[2022-04-20 14:37] alexjo2144 opened #12055 "Return number of deleted rows from Iceberg metadata delete"
`IcebergMetadata#executeDelete` returns empty, but could return the number of rows deleted by the operation.

[2022-04-20 14:47] lukasz-stec commented on #12053
I can but I'm not sure how to fix it properly without big changes (given that currently, the method signatures are put into String).
A quick fix is to ignore the `final` keyword altogether, but that makes **adding** `final` keyword pass, which may be not a backward compatible change.
Is that acceptable?

[2022-04-20 15:03] alexjo2144 opened #12057 "Improve Iceberg Deletes when an entire file is removed"
https://github.com/trinodb/trino/pull/11886#discussion_r850724972

That PR adds support for row level deletes using Iceberg v2, but in the case where every row of a file is deleted we could instead remove the file from the manifest.

[2022-04-20 15:16] findepi commented on #12053
or maybe we depart from comparing Strings for SPI compatibility test.
cc @kokosing and @trinodb/maintainers for ideas

[2022-04-20 15:37] #11876 closed

[2022-04-20 15:49] mosabua opened #12058 "Improve layout for logos on connector pages"
There is not enough space around the image.

E.g. see https://trino.io/docs/current/connector/iceberg.html

As reported by @electrum

Maybe I can also shift the log up towards the title ..

[2022-04-20 19:27] kokosing commented on #12053
How about as simple as https://github.com/trinodb/trino/pull/12062?

[2022-04-20 22:13] arhimondr opened #12063 "TestHiveTransactionalTable > testOrcColumnTypeChange(0: true) is flaky"
https://github.com/trinodb/trino/pull/12037/checks?check_run_id=6103132944

[2022-04-20 22:37] DamonCool commented on #3300
Interested in this enhancement as well

[2022-04-20 22:46] ebyhr commented on #11947
[code]

#11439

[2022-04-20 22:55] #11768 closed

[2022-04-21 00:51] #11964 closed

[2022-04-21 02:43] BalaMahesh opened #12064 "All Queries Failing with "No handle resolver for connector: hive""
Trino Version : 366

We scale the only trino worker(we don't stop coordinator, it keeps running all the time) pods everyday at the night to 0 and scale up again in the morning. Some times when worker nodes after scaling up and registered with coordinator, all the queries are failing with the same error.
The logs from the coordinator are :

2022-04-21T00:11:23.258Z	ERROR	stage-scheduler	io.trino.ex

[2022-04-21 02:52] ebyhr commented on #8919
As far as I confirmed, `smallint` works without issues, but reading `tinyint` ORC type would fail.

[2022-04-21 04:22] #12058 closed

[2022-04-21 04:36] Riddle4045 commented on #11194
@findepi  by Projection case, do you mean inside conditional expressions?

[2022-04-21 05:21] ebyhr commented on #11947
[code]

#11924

[2022-04-21 05:51] sumit-gupta-sgt commented on #10199
I have json type in my schema, Any workaround for this ?

[2022-04-21 06:01] duhanmin opened #12068 "support yarn?"
rt

[2022-04-21 06:09] ebyhr commented on #12068
Let me close as duplicate of #6532. Please free free to join the community Slack https://trino.io/slack.html

[2022-04-21 06:09] #12068 closed

[2022-04-21 06:25] Riddle4045 opened #12069 "Extend `ConnectorMetadata` to support `tableExists` check"
Full Context here https://github.com/trinodb/trino/pull/11555#discussion_r846716138

Tl;dr

Executing DML statements such as `DROP MATERIALIZED VIEW ` or `DROP VIEW` executes  `DropMaterializedViewTask` and `DropTableTasks`  these tasks check if the object is the a `table` instead of a `materializedView` or a `view` by invoking `metadata.getTableHandle`  which in  case of shared metastore like Ice

[2022-04-21 07:14] lukasz-stec commented on #12053
this allows adding `final` on a method or class, which may break backward compatibility.
I do like the simplicity though.

[2022-04-21 07:29] findepi commented on #11947
[code]

#12056

[2022-04-21 07:30] sopel39 commented on #11194
projection:
[code]
filter:
[code]

[2022-04-21 07:31] findepi commented on #12069
cc @martint @kokosing @losipiuk @electrum

[2022-04-21 07:32] findepi commented on #11947
[code]

#10810

[2022-04-21 07:46] findepi commented on #11947
[code]

#11976

[2022-04-21 08:57] skrzypo987 opened #12073 "Parquet reader allows coercion of incorrect types when there are only null values"
Not 100% sure if this is bug, not a feature.

When trying to read a column from a parquet file that cannot be coerced into the DB column the reader fails. However if there are only nulls in the parquet file it finishes successfully.
Example (int > varchar)
[code]
will fail with
[code]
However with `INSERT INTO a VALUES(1,null)` everything works fine

[2022-04-21 10:19] sundarexp commented on #2120
@rickw1028 kindly let me know what have you did to fix, which file need to be changed, is it elasticsearch connector file?
I'm using aws es service , im getting the same error you are getting.
thanks

[2022-04-21 10:22] sopel39 commented on #12073
Do we know what does Hive do in such case?

[2022-04-21 10:32] #12034 closed

[2022-04-21 10:45] ebyhr opened #12076 "Simplify TestDeltaLakePerTransactionMetastoreCache with CountingAccessHiveMetastore"
It would be nice if we can simplify `TestDeltaLakePerTransactionMetastoreCache` using `CountingAccessHiveMetastore` (previously `CountingAccessFileHiveMetastore`) after merging #11973

[2022-04-21 13:55] sopel39 commented on #11947
[code]
https://github.com/trinodb/trino/pull/12047

[2022-04-21 14:36] HelenParr opened #12082 "Could you help upgrade the vulnerble shared library introduced by package presto-product-tests?"
Hi, @electrum , @findepi , I'd like to report a vulnerability issue in **io.prestosql:presto-product-tests:350**.
### Issue Description
**io.prestosql:presto-product-tests:350** directly or transitively depends on ***49*** C libraries (.so) cross many platforms(such as aarch64, mips64, ppc64, ppc64le). However, I noticed that some C libraries are vulnerable, containing the following CVEs:

`libzst

[2022-04-21 18:26] #11947 closed

[2022-04-21 19:15] alexjo2144 commented on #11713
@rdblue the commit orchestration for Glue leaves a little bit of time for a conflict to be committed where it won't cause a failure. The steps right now are:

1 Cache version number, i
2 Create new metadata file, i + 1
3 Fetch the table from Glue for the most recent metadata
4 Check most recent version == i
4a if true -> Update Glue table setting version to i + 1
4b Otherwise -> retry

Another wri

[2022-04-21 20:04] mosabua opened #12086 "Document `expire_snapshots` and `delete_orphan_files` table procedures"
These procedures where added in https://github.com/trinodb/trino/pull/10810 and are part of Trino 378 and are mentioned by name in the release notes. We should add some documentation for them in the Iceberg connector docs.

[2022-04-21 20:06] mosabua commented on #12086
Not sure who wants to run with this. Did you want to contribute the docs @homar ? Any other takers from the people working on that PR like @findepi @losipiuk or @findinpath ?

[2022-04-21 21:51] brokenjacobs opened #12087 "Trino 377 deprecated ldap.ssl-trust-certificate"
I get a deprecation warning and failure to start about a ldap property:
`ldap.ssl-trust-certificate`
[code]
This was on an upgrade from 0.374 -> 0.377. So somewhere in the past few updates this property has been deprecated? I didn't see anything in the release notes.

[2022-04-21 21:53] brokenjacobs commented on #12087
I'm guessing it was this pr?
https://github.com/trinodb/trino/pull/11070

It changes it do a defunctconfig.

[2022-04-21 21:54] martint opened #12088 "Release notes for 379"

[2022-04-21 23:45] lxynov commented on #11708
@findepi

Iceberg metadata only keeps track of the distinct counts at the data file level. (https://iceberg.apache.org/spec/) I think it makes sense because maintaining table-level distinct counts is expensive for daily or hourly ingested tables.

So in this case, current CBO doesn't work well with Iceberg tables. It needs distinct counts to compute join output cost, etc.
- As a starting point, we

[2022-04-22 05:30] ebyhr commented on #10775
The warning will be suppressed in #12066, but we still verify the fragment files as rst.

[2022-04-22 06:02] Yikf opened #12092 "The checkstyle check for class generated by antlr4 should be ignore"
When i compile module `core/trino-parser` separately by `./mvnw clean compile package -pl core/trino-parser -o -DskipTests`, I encountered an error caused by checkStyle checking classes generated by Antlr4. Any solution to resolve this problem?

[code]

[2022-04-22 06:03] raunaqmorarka commented on #11708
Can't we already do that by setting `iceberg.table-statistics-enabled` to false ?

Connector can choose to skip providing NDVs if that is an expensive operation and provide only min/max, row count and nulls count. The CBO will still be able to reorder some joins with this info. Would it be cheaper operation in iceberg to provide those things and skip NDV ?

[2022-04-22 06:04] Yikf commented on #12092
Compiling the full project didn't get this error, and I didn't find any checkstyle configurations, Any one can give me some advice to ignore this check?

[2022-04-22 06:14] ebyhr commented on #12092
You can add  `-Dair.check.skip-all=true` option.

By the way, the below gist has some useful commands:
https://gist.github.com/findepi/04c96f0f60dcc95329f569bb0c44a0cd

[2022-04-22 06:14] #12092 closed

[2022-04-22 06:24] Yikf commented on #12092
Thanks a lot.

[2022-04-22 09:46] ebyhr commented on #12087
Release note version 376 has the entry. https://trino.io/docs/current/release/release-376.html#security

Correct.

[2022-04-22 09:46] #12087 closed

[2022-04-22 10:07] sopel39 commented on #12053
@kokosing should we close it now that you have merged https://github.com/trinodb/trino/pull/12062?

[2022-04-22 10:47] #12053 closed

[2022-04-22 11:32] sopel39 opened #12096 "Use SortedPositionLink for BETWEEN joins"
Currently, we use inequality joins only for expressions like `probe_symbol < build_symbol AND probe_symbol + 1 > build_symbol`, but we don't inequality join for `probe_symbol <> build_symbol`.
Affected queries:
[code]

It would be great to know how big build side per hash entry in these joins in order to determine if such optimization makes sense.
cc @skrzypo987 @lukasz-stec

[2022-04-22 11:51] sopel39 opened #12097 "Merge final aggregation with join build side"
Due to `TransformFilteringSemiJoinToInnerJoin` queries like:
[code]
end up being rewritten to `inner join` with deduplicating aggregation:
[code]

Similarly, `PlanNodeDecorrelator.DecorrelatingVisitor#rewriteLimitWithRowCountOne` causes query like:
[code]
gets rewritten to:
[code]

It should be possible to enhance join operator to reject duplicate build rows rather than run final aggregation speci

[2022-04-22 11:54] sopel39 opened #12098 "Improve correlated subquery rewrite"
Queries like:
[code]
are not planned efficiently:
[code]
It should be possible to just inser `innerjoin` with two equi conditions: `w_warehouse_id = w_warehouse_id_1 AND w_warehouse_sk = w_warehouse_sk_0` without a need for aggregation

cc @kasiafi

[2022-04-22 12:28] findepi commented on #12082
presto-product-tests is non-production code, so any vulnerabilities there are not exploitable, are they?

also, 350 is a released version. we cannot re-release or anything. any changes are applied to master in a forward-only manner.

thank you for your understanding

[2022-04-22 12:28] #12082 closed

[2022-04-22 12:51] sopel39 opened #12100 "Use signature ("primary key") column to compare multi-channel aggregation rows"
Certain complex correlated queries, e.g:
[code]
gets rewritten to:
[code]
as in:
[code]

Currently, within aggregation, we compare all row columns (e.g. `Aggregate(STREAMING)[w_warehouse_sk, w_warehouse_id, unique]`). However, we could only compare `unique` column. This should greatly improve performance for such aggregations.

Generally, for multi channel aggregations we can synthetize single pri

[2022-04-22 13:11] sopel39 commented on #10884
This does not improve perf

[2022-04-22 13:11] #10884 closed

[2022-04-22 13:11] sopel39 commented on #10692
Fixed via https://github.com/trinodb/trino/pull/11650

[2022-04-22 13:11] #10692 closed

[2022-04-22 22:08] puchengy opened #12107 "[BUG] Function inside TABLESAMPLE is not resolved"
[code]

[2022-04-22 22:16] martint commented on #12107
It fails with:

[code]

[2022-04-23 01:28] ebyhr commented on #12088
[code]

#11662

[2022-04-23 13:24] subbareddydagumati commented on #8197
@klDen
Is there a way to pass the jaas file in kafka.config.resources

[2022-04-23 22:01] klDen commented on #8197
Seems like you can (first option): https://docs.confluent.io/platform/current/kafka/authentication_sasl/index.html#jaas-configurations.

[2022-04-24 13:24] brokenjacobs commented on #12087
Adding support for two way ldap auth is in the release notes. This config parameter is for using a private CA. Adding mTLS is not the same as deprecation of support for private CA’s. Also at a minimum this is a doc bug, as the property is still in the documentation.

[2022-04-24 23:48] metalshanked opened #12113 "iceberg : using table properties in DDL"
Hi,

Is there a way to provide the table properties mentioned here --> https://iceberg.apache.org/docs/latest/configuration/
in the create table DDL from Trino?

Example: I want to set `commit.retry.num-retries = 6`
Thanks!

[2022-04-25 01:53] hqbhoho commented on #7374
I meet this question ，so PR's progress?

[2022-04-25 04:19] tangjiangling opened #12115 "Add unsupported type tests for Cassandra (tinyint, smallint, int, bigint)"
https://github.com/trinodb/trino/pull/11028#issuecomment-1078973361

[2022-04-25 07:50] hfsugar opened #12118 "Kafka StackOverFlow"
![image](https://user-images.githubusercontent.com/4880121/165043863-a4ad40b9-1bba-4d98-a00b-11f68bddbc39.png)

kafka connector may StackOverFlow when kafkaConsumer polls timeout in recursive function KafkaRecordSet.

[2022-04-25 09:04] ebyhr opened #12121 "Move testDropTable to BaseConnectorTest"
Some connectors have `testDropTable()` in their connector test. It would be nice to move to `BaseConnectorTest`. The place should be nearby `testDropTableIfExists()`

cc: @hashhar

[2022-04-25 09:24] sopel39 commented on #11848
https://github.com/trinodb/trino/runs/6110587357?check_suite_focus=true

[2022-04-25 09:25] sopel39 commented on #12088
[code]
https://github.com/trinodb/trino/pull/11935

[2022-04-25 09:33] aczajkowski commented on #10772
Haven see this error for a while. Any one hit that since changing HMS read timeout ?
CC: @losipiuk @findepi @Praveen2112

[2022-04-25 10:06] hashhar commented on #12121
I'm removing the "good first issue" label since I've already a branch locally, will send a PR soon.

[2022-04-25 11:12] findepi commented on #12118
@hfsugar can you please paste a text instead of an image?

[2022-04-25 13:05] losipiuk commented on #10772
I did not see it neither. Let's close. thx

[2022-04-25 13:05] #10772 closed

[2022-04-25 16:37] alexjo2144 commented on #11713
I missed this commit from @rajarshisarkar, looks like setting the versionId field to the version of the table the update is based on should do it https://github.com/apache/iceberg/pull/4166

[2022-04-25 16:52] Riddle4045 commented on #11194
Thanks for the pointers @sopel39 , @findepi  I am going through the code will share a prototype soon.

[2022-04-25 18:04] lxynov commented on #11708
We can but it requires people to explicitly do that. We can change the default value to false. However, it's still not perfect. When people set it to true, they expect CBO to work well with Iceberg tables, whereas it doesn't.

I believe the current CBO requires NDVs to work. It needs them to calculate the output stats of a JoinNode. https://github.com/trinodb/trino/blob/fbe6079f37f943849542c283595

[2022-04-25 18:08] findepi commented on #12088
[code]

https://github.com/trinodb/trino/pull/11886

[2022-04-25 18:10] lxynov commented on #11708
@findepi @raunaqmorarka

What do you think of

- > We can probably hard-code in Iceberg Connector making it return empty table statistics instead of doing real computation. Or we can do some refactoring in the engine, making the CBO stop running as soon as it sees a table's statistics being incomplete. Perhaps the query-level caching of table statistics can help here.
- > consider adding a more na

[2022-04-25 18:40] raunaqmorarka commented on #11708
See `DetermineJoinDistributionType#getSizeBasedJoin`, that should work in the absence of NDVs as well.

I don't like the idea  of `a more naive and less rigorous CBO that works without distinct counts`. DetermineJoinDistributionType already fulfils that purpose to some extent. Any more guesswork than that could lead to wild estimates which create worse plans than the syntactic join order.

Since @

[2022-04-25 22:22] ebyhr commented on #12088
[code]

#10046

[2022-04-26 02:32] xhsky opened #12132 "Hot loading data sources"
Are there plans for a data source hot reload feature?

[2022-04-26 02:58] hfsugar commented on #12118
java.lang.StackOverflowError: undefined
	at java.base/java.util.regex.Pattern$BmpCharProperty.match(Pattern.java:3963)
	at java.base/java.util.regex.Pattern$GroupHead.match(Pattern.java:4804)
	at java.base/java.util.regex.Pattern$Branch.match(Pattern.java:4749)
	at java.base/java.util.regex.Pattern$Branch.match(Pattern.java:4747)
	at java.base/java.util.regex.Pattern$Branch.match(Pattern.java:4747

[2022-04-26 06:19] ebyhr commented on #12113
Let's continue in #11190

[2022-04-26 06:19] #12113 closed

[2022-04-26 06:29] Yikf opened #12133 "A little confused about source code"
I have a small question, if it is wrong, please point it out. I think Relation represents a source, such as table. I don't know why the following nodes also need to inherit Relation

<img width="744" alt="image" src="https://user-images.githubusercontent.com/51110188/165235600-17b6e448-4f93-4676-b40b-28d273da8e4b.png">

[2022-04-26 09:55] findepi commented on #10758
Done by @alexjo2144  in https://github.com/trinodb/trino/pull/11642

[2022-04-26 09:55] #10758 closed

[2022-04-26 09:57] findepi opened #12138 "Support migrating Iceberg v1 tables to v2"
This should be done with
[code]

syntax.

[2022-04-26 09:58] findepi commented on #11190
@findinpath let's close this ticket, it's too generic.
let's have a dedicated ticket to allow changing table format version, i.e. allow upgrading tables from v1 to v2: https://github.com/trinodb/trino/issues/12138

cc @alexjo2144 @ebyhr @homar

[2022-04-26 10:21] findinpath commented on #11190
The implementation details for #12138 would fit then the https://github.com/trinodb/trino/issues/11190#issue-1150064963 comment.

@findepi I'm fine with closing this ticket. However there seems to be an actual need for being able to set arbitrary table properties in Hive / Iceberg / Delta? via Trino. Should we continue the discussion on https://github.com/trinodb/trino/issues/954 ?

[2022-04-26 10:21] #11190 closed

[2022-04-26 10:31] findepi commented on #11190
https://github.com/trinodb/trino/issues/954 remains desirable.
Yes, we _may_ need to have something similar for Iceberg too, but this issue didn't sound to me like "#954 but for Iceberg".

[2022-04-26 11:00] #12133 closed

[2022-04-26 11:31] kasiafi commented on #12098
I wonder what these conditions: `("w_warehouse_sk" IS NULL)` and `("w_warehouse_sk_0" IS NULL)` are doing here. They should have been removed by PPD when the left join was converted to inner. Could you paste the full final optimized plan?

The aggregation is needed to deduplicate the source rows after the join.

[2022-04-26 11:38] sopel39 commented on #12098
Aggregation could be pushed to right join side since both join conditions are equi conditions

[2022-04-26 11:57] findepi commented on #12069
@findinpath can you copy under this issue rationale why we would want to have `tableExists` method?
also, would `relationExists` suite the needs?

[2022-04-26 11:59] #12013 closed

[2022-04-26 12:39] #10330 closed

[2022-04-26 13:21] #12121 closed

[2022-04-26 22:37] lxynov commented on #11708
Got it. I believe `DetermineJoinDistributionType` is actually the "more naive and less rigorous CBO" that I was mentioning about. Previously I was mostly looking at `ReorderJoins`.

I don't think table-level NDV stats in Iceberg is a near-term thing. It requires to modify Iceberg spec. And for frequently-ingested tables, it's expensive to calculate NDV stats every time an ingestion happens.

I'll

[2022-04-26 22:40] ddcprg commented on #10199
I've pushed a PR now. hopefully I'll get some feedback soon

[2022-04-27 02:24] ebyhr opened #12147 "Glue tests are failing on master"
Below tests are consistently failing in master
* TestHiveGlueMetastore.testDisallowQueryingOfIcebergTables
* TestHiveGlueMetastore.testHideDeltaLakeTables
* TestDeltaLakeGlueMetastore.testHideNonDeltaLakeTable

Relates to #12130

[2022-04-27 02:25] ebyhr commented on #12147
cc: @erichwang @dain @findepi

[2022-04-27 02:51] ebyhr commented on #12132
@xhsky Could you share more details about your requirement?

[2022-04-27 03:26] xhsky commented on #12132
Now if  add or modify the configuration of a data source,  need to restart the entire trino cluster.
Is there a way to do this without rebooting

[2022-04-27 03:28] ebyhr commented on #12132
@xhsky It's not possible at this time. Let's continue in #2110

[2022-04-27 03:28] #12132 closed

[2022-04-27 06:34] findepi opened #12151 "Flaky test Test*FailureRecoveryTest: reported query failure does not match injected one"
Observed for various tests from:
*  TestDeltaTaskFailureRecoveryTest
* TestIcebergQueryFailureRecoveryTest

[2022-04-27 06:34] findepi commented on #12151
https://github.com/trinodb/trino/runs/6175492069?check_suite_focus=true

[code]

cc @arhimondr @losipiuk

[2022-04-27 06:36] #11713 closed

[2022-04-27 06:37] findepi commented on #12088
[code]

#12126

[2022-04-27 06:55] #8302 closed

[2022-04-27 07:19] findepi commented on #12088
[code]

#12144

[2022-04-27 08:07] findepi commented on #11708
For NDVs for Iceberg, see
https://docs.google.com/document/d/1we0BuQbbdqiJS2eUFC_-6TPSuO57GXivzKmcTzApivY/edit
https://github.com/apache/iceberg-docs/pull/69
https://github.com/apache/iceberg/pull/4537

Admittedly, it's not as fast moving as I would want this to be, but hopefully it doesn't get stalled.

For short-term, disabling table stats is a good workaround. For longer term, we should plan as

[2022-04-27 08:12] raunaqmorarka commented on #8054
`BaseConnectorTest#testMaterializedView` provides coverage now

[2022-04-27 08:12] #8054 closed

[2022-04-27 10:13] #12115 closed

[2022-04-27 16:17] ericlgoodman opened #12156 "Support time travel in Delta Lake connector"
Hello,

Opening this issue to discuss plans for adding time travel support for Delta Lake. This would ideally support timestamps:

[code]

or with versions

[code]

[2022-04-27 16:33] losipiuk commented on #11959
Partly completed by https://github.com/trinodb/trino/pull/12099

[2022-04-27 16:34] findepi commented on #12151
https://github.com/trinodb/trino/runs/6195137822?check_suite_focus=true

[code]

[2022-04-27 16:39] findepi commented on #12088
[code]

https://github.com/trinodb/trino/pull/12136

[2022-04-27 16:45] losipiuk commented on #10754
kinda duplicate of https://github.com/trinodb/trino/issues/11959

[2022-04-27 16:45] #10754 closed

[2022-04-27 17:44] losipiuk commented on #11020
Fixed for bin-packing node alloctor via https://github.com/trinodb/trino/pull/12157. WIll ignore the other too as they are considered test-only (we should probably get rid of full-node-capable-node-allocator)

[2022-04-27 18:53] martint commented on #11820
Option #1 is reasonable. Option #2 is too complicated.

Also, we're going to need to make the group id explicit in the calls anyway to be able to support enhanced aggregation implementations that can use vectorization APIs, GPU, etc.

[2022-04-27 21:27] khaitranq opened #12162 "Slow scan performance on Iceberg table with many small files due to 1-1 mapping IcebergSplit to Iceberg single FileScanTask"
My perf experiment:
- Trino Cluster with 8 EC2 instances
- Two Iceberg tables with same content but different file settings: table A with 146K files, 1MB each and table B with 1460 files, 100MB each.
- Scan on table A (`select count(*) from A`) is 25 times slower than scan on table B (`select count(*) from B`)

Root cause:
- Currently [each Iceberg split is mapped to a single data file scan](https

[2022-04-27 21:36] rdblue commented on #12162
@khaitranq, have you tested using combined splits in Trino to see if that does fix the problem? It could be that the problem is simply the latency to S3 for that many files and that the task grouping doesn't matter.

If you don't want to modify Trino to test, you could try running the combined test case in Spark, although Spark does really bad with lots of splits.

[2022-04-27 21:39] erichwang commented on #12147
Does anyone know why these tests didn't run for the https://github.com/trinodb/trino/pull/12130 PR?

[2022-04-27 21:41] khaitranq commented on #12162
@rdblue We don't have that issue with Spark as Spark uses combined scan tasks. Trino cannot use combined split as each IcebergSplit is mapped into single FileScanTask, as I shared the code pointers above.

[2022-04-27 21:42] khaitranq commented on #12162
With Spark, scan table A and scan table B have similar performance (scan table B was actually a bit better, but not with such wide gap as in Trino)

[2022-04-27 22:01] ebyhr commented on #12147
@erichwang PR from forked branch doesn't trigger the tests due to missing secrets.
* https://github.com/trinodb/trino/blob/master/.github/workflows/ci.yml#L207-L215
* https://github.com/trinodb/trino/blob/master/.github/workflows/ci.yml#L488-L496

Maintainers should send another PR within a `trinodb` repo like #12126 (actual PR) & #12141 (test PR)

[2022-04-27 23:51] #12156 closed

[2022-04-28 00:16] #5353 closed

[2022-04-28 01:05] ebyhr opened #12165 "Add test for retry policy in Cassandra connector"

[2022-04-28 03:28] tangjiangling commented on #12165
Hi @ebyhr , are you doing this work? (If not, I'd like to try it)

[2022-04-28 03:29] ebyhr commented on #12165
@tangjiangling You can take it, but could you wait until #7828?

[2022-04-28 03:32] tangjiangling commented on #12165
Okay.

[2022-04-28 09:38] sopel39 commented on #12088
[code]
https://github.com/trinodb/trino/pull/12135

[2022-04-28 10:00] sopel39 commented on #12088
[code]
https://github.com/trinodb/trino/pull/12095

[2022-04-28 11:17] #9129 closed

[2022-04-28 11:19] findepi commented on #12088
[code]

#11555

[2022-04-28 11:34] #12086 closed

[2022-04-28 13:29] ebyhr commented on #12088
[code]

#12108

[2022-04-28 13:48] alexjo2144 opened #12174 "Support updating an Iceberg table's partition scheme"
Iceberg supports adding and removing partition columns after a table has been created, we should have `ALTER TABLE` statements that perform these operations.

https://github.com/trinodb/trino/issues/1324

Syntax-wise, the way it looks in Spark is `ALTER TABLE ... ADD/DROP PARTITION FIELD ...`.
We could do `ALTER TABLE ... SET PROPERTIES partition = ARRAY[<partition>]`, the main usability problem I

[2022-04-28 17:19] Riddle4045 commented on #12069
@findinpath  I summarized the problem statement - let me know if it looks accurate. Thanks!

[2022-04-28 17:55] alexjo2144 opened #12180 "Make StorageDescriptor optional for Managed Delta Lake tables"
The StorageDescriport is used to get the path to all Delta Lake tables, via a serde parameter https://github.com/trinodb/trino/blob/master/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/metastore/HiveMetastoreBackedDeltaLakeMetastore.java#L189

This should be required for External tables, but for Managed tables the location can be derived from the Schema's location similarly to ht

[2022-04-28 18:12] findinpath commented on #12069
Let's follow @findepi's suggestion and adopt a more generic name for the method `relationExists`.

Also worth mentioning

[code]

[2022-04-28 19:07] alexjo2144 commented on #12162
Does the bin packing have any tuning parameters? I'm just thinking there are clearly situations where combing splits would be better, but for small tables with only a few files we want them separate.

[2022-04-28 19:13] khaitranq commented on #12162
Yes, I believe you can use a weight function to control the bin size. I found an example here:
https://github.com/apache/iceberg/blob/0.13.x/core/src/main/java/org/apache/iceberg/util/TableScanUtil.java#L71

Is that correct, @rdblue ?

[2022-04-28 19:15] #12147 closed

[2022-04-28 19:25] Riddle4045 commented on #12069
@findepi  @findinpath  is the idea behind `relationExists` to pass in a `fullyQualitifedIdentifer` and a `type` of relation? Are we intending to support queries like `roleExists` `schemaExists` with this all in one place?

[2022-04-28 19:27] findinpath commented on #12069
IMO this method is only about checking whether a table/view exists.

[2022-04-28 19:50] rdblue commented on #12162
@alexjo2144, Split combining is one of the tuning settings that Iceberg moves to table config. The primary way to configure this is by setting `read.split.target-size` in table properties. You can also tune `read.split.open-file-cost` and `read.split.planning-lookback`.

In Spark, we also allow overriding this using scan options at runtime. That would probably be done through session properties in

[2022-04-28 23:15] osscm commented on #11577
taken care by this PR: https://github.com/trinodb/trino/pull/12002

[2022-04-28 23:15] #11577 closed

[2022-04-29 00:44] #12088 closed

[2022-04-29 01:48] qianjiangchao1992 commented on #10960
hello,I have the same problem, any suggestions?

[2022-04-29 03:06] martint opened #12182 "Release notes for 380"

[2022-04-29 06:28] findinpath commented on #11505
https://github.com/trinodb/trino/runs/6222742010?check_suite_focus=true

[2022-04-29 08:22] mosiac1 commented on #11687
Sorry for the very generic request, it's been a while since I added the issue.

What I had in mind is OpenMetadata, which ingests metadata from trino using sqlalchemy's inspection API, which can be pretty slow. Thinking more about it this is not that easy of an issue to solve. I found that the `information_schema` holds information about all columns in a schema.

Will close this for now and I may

[2022-04-29 08:22] #11687 closed

[2022-04-29 09:06] fancy27 opened #12186 "Unexpected result using NOT IN clause while subset contains null"
query:

[code]

expect: 2
actual: 0

[2022-04-29 09:28] losipiuk commented on #12069
Alternative would be to catch exception within `DropMaterializedViewTask`/`DropTableTasks` and interpret it as "table does not exists". Would that be possible to filter based on error code?

Somewhat related: https://github.com/trinodb/trino/issues/6551

[2022-04-29 09:32] #11020 closed

[2022-04-29 09:45] fabioaraujopt commented on #6693
How did you solve this?

[2022-04-29 09:45] findepi commented on #12186
This is correct. The `IN` semantics is based on equality.
`1 = null` is `null` in SQL (read "null" as "unknown", that's what it stands for in SQL "theory")
`NOT (1 = null)` is `NOT (null)`, is `null`.

and `WHERE null` filters out rows, i.e. `WHERE` allows only rows for which the condition evaluates to `true` (and not `false`, and not `null`).

[2022-04-29 09:45] #12186 closed

[2022-04-29 10:54] fabioaraujopt opened #12189 "EKS pod identity webhook (IRSA) - Unable to load AWS credentials from any provider in the chain"
We are running trino in a kubernetes platform, and we are moving the current IAM authentication from using KIAM to be using AWS IRSA (pod-identity-webhook).
This injects two variables in the each pod AWS_ROLE_ARN and AWS_WEB_IDENTITY_TOKEN_FILE which should be assumed by the running aws client or aws SDK.
All our services are working correctly, only trino is not.

We are receiving the following er

[2022-04-29 16:01] Brideau opened #12195 "Kafka Schema Registry Error: Unauthorized error code: 401"
I'm trying to connect to our Confluent Schema Registry using the Kafka Connector with the following `kafka.properties` file:
[code]

And the following `kafka-configuration.properties` file:

[code]

However when I go to run a `SHOW SCHEMAS ...` command I get the error:
[code]

I've tried different variations on the above, including using the prefixed `schema.registry.basic.auth.credentials.source`

[2022-04-29 19:09] lxynov commented on #11708
@findepi Awesome! Thank you for working on that. Looking forward to getting it in Iceberg!

I believe at least for two-way join, `DetermineJoinDistributionType` is indeed the "more naive CBO" I was talking about. It also helps flip sides.
https://github.com/trinodb/trino/blob/1e04833d9092767d87bec07b8b3429c42b8d50a2/core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/DetermineJoinDis

[2022-04-29 19:39] Riddle4045 commented on #12069
@findinpath  qq - there are some APIs  checking for view defintion in MetadataManager `isView`  & `isMaterializedView`  -  how do those play into this change?

[2022-04-29 19:51] findinpath commented on #12069
In case of Hive / Iceberg internally these calls make a `metastore.getTable` call and then add corresponding logic on top of it. To answer your question, these methods are unaffected by this new addition.

The method `relationExists` would be primarily relevant in the shared metastore space where we just want to know whether a relation with the specified name already exists - without caring whethe

[2022-04-30 09:00] ebyhr opened #12200 "Support timestamp type in MariaDB connector"

[2022-04-30 09:12] ebyhr opened #12201 "Support table statistics and automatic join pushdown in MariaDB connector"

[2022-05-01 03:22] fancy27 commented on #12186
@findepi I am puzzled by the following queries
[code]
returns 1

However,
[code]
returns 0

Could you analyze it?

[2022-05-01 15:09] guyco33 opened #12203 "The masking logic has been broken since 376"
Regression due to https://github.com/trinodb/trino/pull/11654

Access control should pick the first matched table rule and not the first with a masking column.

Setting the following access control:
[code]
any user that belongs to `group1` (and in particular to both groups: `group1` and `group2`) is allowed to access `my_table` without masking.

With https://github.com/trinodb/trino/pull/11654 a u

[2022-05-01 21:20] Riddle4045 commented on #12069
@findinpath  I have updated `ConnectorMetadata` to reflect changes from our discussion,

[2022-05-02 00:48] #7729 closed

[2022-05-02 00:50] ebyhr commented on #12182
[code]

#7828

[2022-05-02 01:08] ebyhr commented on #12151
https://github.com/trinodb/trino/runs/6250830094?check_suite_focus=true

[2022-05-02 02:45] ebyhr commented on #12151
https://github.com/trinodb/trino/runs/6250928227?check_suite_focus=true

[2022-05-02 04:35] ebyhr commented on #12182
[code]

#11423

[2022-05-02 05:32] ebyhr commented on #12151
https://github.com/trinodb/trino/runs/6252434621?check_suite_focus=true

[2022-05-02 06:12] ebyhr commented on #12182
[code]

#12205

[2022-05-02 11:14] Praveen2112 commented on #12195
Have we configured any authentication mechanism for schema registry ? Trino doesn't support any authorization when connecting with schema registry.

[2022-05-02 15:40] mosabua commented on #12182
@ebyhr and @findinpath .. can you send another small PR that adds the new required properties to the documentation in the table of properties and also in the example snippets.

[2022-05-02 15:42] ebyhr commented on #12182
@mosabua Those properties already exist in `cassandra.rst`.

[2022-05-02 20:42] findinpath commented on #12182
@mosabua  I created #12212 to highlight the fact that the properties are now required in the context of using `DCAwareRoundRobinPolicy` (which corresponds to the configuration used for testing in the `cassandra.properties` file of the `DevelopmentServer`.

[2022-05-03 02:56] ebyhr opened #12217 "Use Datastax Java driver in Cassandra product tests"
Follow-up of #7828

[2022-05-03 03:57] polaris6 opened #12218 "Support Redis key pushdown in Redis connector"
Redis is a key-value database that utilizes the concept of key and value to store data, we can use methods such as `GET key` to fetch value. when querying Redis data through Trino, the following sql is used in many cases:
[code]
This sql should return the record instantly, however it is not, it will take a long time to get the record. The reason is that Trino uses `SCAN` first, it will keep scanni

[2022-05-03 05:08] metalshanked opened #12220 "SingleStore Connector: Inserts Not Working"
Hi,
I am not able to insert into a single store table using Trino (378)

STEPS to REPRODUCE
[code]

[code]

[2022-05-03 05:46] ebyhr commented on #12220
The connector doesn't yet support retry mode. Please try ` SET SESSION retry_policy='NONE'`.

[2022-05-03 05:46] #12220 closed

[2022-05-03 09:17] findinpath opened #12223 "Drop unused properties from cassandra"
With the introduction of Cassandra driver v4 via https://github.com/trinodb/trino/pull/7828 there are a few properties that are not anymore needed.

`TokenAwarePolicy` related properties:

- `cassandra.load-policy.use-token-aware`
- `cassandra.load-policy.shuffle-replicas`

??`WhiteListPolicy`?? related properties:
- `cassandra.load-policy.allowed-addresses`

Question related to `WhiteListPolicy`

[2022-05-03 15:26] ravitrivedi1 opened #12224 "trino mongo x509 authentication support"
We are able to setup mongo user/password-based connection to Trino. But if we try authenticating with x509, it is not working. Does mongo connect in Trino support x509 authentication?

Error:
Caused by: com.mongodb.MongoCommandException: Command failed with error 18 (AuthenticationFailed): 'No verified subject name available from client' on server XXXXXXXX.mongodb.net:27017. The full response is {

[2022-05-03 15:45] fabioaraujopt commented on #12189
It worked after setting the "region" env var.
Unlike aws cli, aws-java-sdk requires a region env var.

[2022-05-03 15:45] #12189 closed

[2022-05-03 17:42] arunmarathe commented on #11999
I have joined the Slack channel, but am unfamiliar with how it works. Do I ask for help from a particular person?

[2022-05-03 18:33] cxl-todd commented on #2110
Any movement on this?

I think reloading is only a portion of the requirements I have. I need to be able to manage the catalog of datasources externally. Users can add new datasources at runtime. I'd ideally like trino to be able to utilize an external catalog that is dynamically updated.

[2022-05-03 18:42] lhofhansl opened #12225 "PostgreSQL connector drops destination table upon error during non-transactional insert"
[code]

This is certainly... Unexpected.

Since the PostgreSQL connector does not override the XXXinsert methods from BaseJdbcClient this is probably a problem with all BaseJdbcDerived connectors.

[2022-05-03 18:49] mdesmet opened #12226 "Allow defining Iceberg partitioning over a column with whitespace in its name"
Trino Iceberg allows tables to be created using quoted identifiers.

`CREATE TABLE test AS SELECT 1 as "a quoted identifier";`

However when a partitioning property is added these columns can't be declared.

`CREATE TABLE test WITH(partitioning=ARRAY['a quoted identifier']) ...` fails with error `Invalid partition field declaration: a quoted identifier`

Ideally partitioning should support the bot

[2022-05-03 18:52] lhofhansl commented on #12225
Looks like the problem is in here:
DefaultJdbcMetadata.beginInsert, where the rollbackCreateTable is unconditionally set as rollback handler.

[2022-05-03 21:18] alexjo2144 commented on #12162
I did some experimenting with this today, big caveat is that this is just a single node setup running on my computer not a real environment, but that said...

I created a copy of the tpch orders table with the data divided over ~160 files. Using the bin packed approach to bundle several files into the same split rather than the current approach improved query runtime pretty dramatically. Reducing

[2022-05-03 22:31] uhdyi opened #12232 "Cassandra timeout during read query at consistency ALL"
| Cassandra 3.11.12 | com.datastax.oss java-driver-core 4.13.0  | Java 13

we have multiple read micro-services which read data from Cassandra, but got this error:
Cassandra timeout during read query at consistency ALL (8 responses were required but only 7 replica responded)

our queries are mostly just select by primary key, some of queries even specify to set consistency level to local_quorum, w

[2022-05-03 23:53] ebyhr commented on #12224
Please use `authMechanism=MONGODB-X509`.
https://www.mongodb.com/docs/drivers/java/sync/current/fundamentals/auth/#std-label-x509-auth-mechanism

Feel free to continue in community Slack.
https://trino.io/slack.html

[2022-05-03 23:53] #12224 closed

[2022-05-04 00:17] ravitrivedi1 commented on #12224
@ebyhr thank you for your response. But authMechanism=MONGODB-X509 is not working. Here is connection string:

mongodb+srv://trino-test@mongo.XXXXX.mongodb.net/?authSource=$external&authMechanism=MONGODB-X509&tlsCertificateKeyFile=/home/ec2-user/X509-cert.pem

[2022-05-04 02:41] khaitranq commented on #12162
Excellent! @alexjo2144. So how many slits did you get before (probably 160?) and after using bin-packing?

[2022-05-04 05:50] eladitzhakian opened #12233 "How to tell which function is variadic using SHOW FUNCTIONS?"
With the current output, there's no way to differentiate between a variadic function with N arguments and a function with a single argument.

Example `SHOW FUNCTIONS` output:
[code]

Is there a way I could tell a function is variadic? Or is this actually a feature request? 😅

[2022-05-04 07:07] findinpath commented on #12232
Is this issue relevant for Trino or is it rather relevant for https://github.com/datastax/java-driver ?

[2022-05-04 10:59] albericgenius commented on #12107
hi @martint, i can work on this, i have created a PR to fix this issue, it can work well on my local environment.
Thanks for help
Alberic

[2022-05-04 12:28] findepi commented on #12069
That means that we would want to return `true` without checking whether the thing is actually a true relation (a table, a view or an MV).  The object may turn out to be neither of these (unqueryable).

Maybe we should make the method name according to that: `doesObjectExist`.

cc @martint

[2022-05-04 12:30] findepi commented on #12186
This is correct.

[2022-05-04 13:58] polaris6 opened #12240 "Support dynamic loading of redis table description files"
At present, if you want to query the new redis table via trino, you need to add a `.json` file under the redis table description folder, and you need to modify the `redis.table-names` parameter in the catalog configuration then restart the trino service, which is very inconvenient, especially for scenarios like ours that require adding several redis tables during a day. I also think the `redis.tab

[2022-05-04 15:41] #12232 closed

[2022-05-04 18:45] chickenPopcorn opened #12246 "LDAP documentation update"
for the ldap configuration [here](https://trino.io/docs/375/security/ldap.html?highlight=ldap) I think it should have been `ldap.timeout.connect` instead of `ldap.timeout.connection`

according to the log
`INFO	main	Bootstrap	ldap.timeout.connect          ----        ----             Timeout for establishing a connection`

[2022-05-04 23:04] ribrewguy commented on #2110
I created a naive approach at hot reloading the property files. A PR is here https://github.com/trinodb/trino/pull/12249

I got blocked by trying to test and build it. Testing in the IDE won't work as it seems some classes are supposed to be generated in the parser module. Running it from the command line to (hopefully) build those files fails with ``` Failed to execute goal org.apache.maven.plugi

[2022-05-05 06:50] Sivaramz opened #12250 "Trino is not supporting Date type in ElasticDB nested fields"
I'm trying to query on date fields(ISO formated) with ElasticDB.
Able to query on direct fields like..

[code]
but not on nested fields.
[code]
**FYI**: Both fields defined as timestamp(3)

[2022-05-05 07:04] findepi commented on #12182
[code]

#11550

[2022-05-05 08:16] #12138 closed

[2022-05-05 08:18] findepi commented on #12182
[code]

#12161

[2022-05-05 09:22] radek-starburst opened #12253 "Remove -XX:+UnlockDiagnosticVMOptions and -XX:+UseAESCTRIntrinsics from jvm.config."
We enabled `-XX:+UnlockDiagnosticVMOptions` and `-XX:+UseAESCTRIntrinsics` to use a backport introduced by https://github.com/openjdk/jdk11u-dev/pull/410.
This PR backports a significant performance improvment of `AES CTR/GCM` for `ARM64` architecture.
After upgrading Java version to at least 18 we should remove these options.
For more reference see https://github.com/trinodb/trino/pull/12251/comm

[2022-05-05 09:46] lukasz-stec commented on #5755
https://github.com/trinodb/trino/pull/12236 adds support for inequality operators (<,<=, >,>=).
`BETWEEN` operator is still left to do. it could be done by extending `PushInequalityFilterExpressionBelowJoinRuleSet`

[2022-05-05 10:05] dohr-michael opened #12254 "JDBC Connection to a large table should have a fetch cap ?"
Hello,

We are working currently with Trino as database on top of our Datalake.
But we have a a real problem with performance when we are trying to fetch a large table we notice a limitation with the fetch of data.
It's looks like we have a limitation to 16 MB / s.

My Test Case :
[code]
Result :
[code]

Data Source :
- Hive from parquet file in local MinIO (S3)

Server Configuration :
- Version 3

[2022-05-05 10:14] findepi commented on #12254
The Trino protocol is JSON-based, and so is highly inefficient for transporting large amounts of data.

https://github.com/trinodb/trino/issues/3042 is the issue tracking the improvement (no-one is currently working on this) and will give you some further pointers to wiki and slack.

[2022-05-05 10:14] #12254 closed

[2022-05-05 10:36] preethiratnam commented on #2475
Hi @findepi can you please describe how to reproduce the correctness issue? I'm interested in fixing this.

[2022-05-05 11:12] findepi commented on #12182
[code]

#11749

[2022-05-05 12:15] findepi commented on #2475
`presto-hive-hadoop2/bin/run_hive_s3_tests.sh` should reproduce the problem if it hasn't been fixed.
If you do a PR, this test won't run, because it requires secrets.
Since re-enabling is trivial, i run the build myself: https://github.com/trinodb/trino/pull/12256

[2022-05-05 13:32] sopel39 commented on #12253
Why java 17? I think it's on by default in 18. Also, it might happen that they just enable it by default in 11 (in July). Then we can remove this options too

[2022-05-05 15:16] #5755 closed

[2022-05-05 15:20] sopel39 commented on #12182
[code]
https://github.com/trinodb/trino/pull/12236

[2022-05-05 16:36] mosabua commented on #12182
@martint @radek-starburst @arhimondr .. I think we need a release notes entry for https://github.com/trinodb/trino/pull/10614

[2022-05-05 19:18] findinpath opened #12264 "Support Delta DML operations on Google Cloud Storage"
[code]

https://github.com/trinodb/trino/blob/9956543e429419a268cfe20a47af7f7c47fa2398/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/writer/TransactionLogSynchronizerManager.java#L46-L49

GCS needs  something similar to `AzureTransactionLogSynchronizer`.

[2022-05-06 06:43] ebyhr opened #12268 "Flaky TestDeltaTaskFailureRecoveryTest.testUpdateWithSubquery"
[code]

https://github.com/trinodb/trino/runs/6316240517

[2022-05-06 06:43] ebyhr commented on #12268
cc: @arhimondr @losipiuk

[2022-05-06 06:59] radek-starburst commented on #12182
# Core
* Scaled writers are now enabled by default for supporting connectors (such as Hive, Deltalake, Iceberg)

[2022-05-06 07:32] DeoLeung commented on #5580
any luck the `geometry` pr will be merged soon? we really want to try it out with our postgis databases :)

[2022-05-06 07:45] slhmy commented on #5580
If possible I will give some time to retry solving this issue. The last PR is holding for too long time, I my self don't think it could be successfully merged.

[2022-05-06 07:50] #10462 closed

[2022-05-06 08:44] findinpath commented on #12151
https://github.com/trinodb/trino/runs/6317452330?check_suite_focus=true

[2022-05-06 09:03] findepi commented on #12182
[code]

#12238

[2022-05-06 09:35] findepi commented on #12182
[code]

#10462 #12209

[2022-05-06 09:51] wendigo commented on #10010
@vincentpoon I've filled https://github.com/apache/phoenix/pull/1434

[2022-05-06 10:04] losipiuk commented on #12268
duplicate of https://github.com/trinodb/trino/issues/12151

[2022-05-06 10:04] #12268 closed

[2022-05-06 10:07] ebyhr commented on #12268
@losipiuk Could you fix the title of #12151?

[2022-05-06 13:31] ebyhr commented on #12250
Only ISO date format is supported in nested field. The issue comes from `org.elasticsearch.search.SearchHit#getSourceAsMap`.

[2022-05-06 14:13] ndrluis commented on #11314
Hello, I changed to the 2y prefixed password and the problem was solved.

[2022-05-06 14:13] #11314 closed

[2022-05-06 16:31] brokenjacobs commented on #12087
@ebyhr This is still a bug and should not have been closed.

[2022-05-06 17:11] #10551 closed

[2022-05-06 17:11] brokenjacobs commented on #10551
We migrated to a different environment where this is no longer relevant to us and given no interest in pulling in the change from presto, closed.

[2022-05-06 21:33] #12182 closed

[2022-05-06 22:49] puchengy opened #12276 "approx_percentile weight parameter documentation incorrect"
query
[code]

error
[code]

According to the doc, https://trino.io/docs/current/functions/aggregate.html The requirement is `Weights must be strictly positive.`

[2022-05-07 00:15] martint opened #12278 "Release notes for 381"

[2022-05-07 00:18] martint commented on #12276
The documentation is incorrect. The value must be >= 1 due to prerequisites of the underlying t-digest data structure.

[2022-05-07 00:19] martint commented on #12276
Sorry, let me reopen it so we can track the fix to the documentation.

[2022-05-07 01:16] DeoLeung opened #12279 "support redis username in redis connector"
Hi,

we are using redis 6+ with acl control.
it will be best if the redis connector can support specifying username, otherwise it will use the username `default` :)

[2022-05-07 03:15] hackeryang opened #12282 "Add all child partition values if analyze syntax only has first level partition value."
In the original logic, if we use analyze syntax, we need to specify all child partitions if the hive table has multi partition columns, for example:
`analyze db_name.table_name with (partitions=ARRAY[ARRAY['20220316','16']]);`
However, if the hive table has more partition levels(such as 5 level partition), and many child partitions, specifying all subpartitions is cumbersome.

So we modified some

[2022-05-07 03:24] ebyhr commented on #12151
https://github.com/trinodb/trino/runs/6331254682?check_suite_focus=true

[2022-05-07 05:49] tangjiangling commented on #12282
@hackeryang There is a [PR](https://github.com/trinodb/trino/pull/12019) pending review.

We can collect statistics for any partition of any Hive table by using the `ANALYZE FOR QUERY` syntax (e.g. `select * from any_partition_table where any_partition_column = '20220507'`)

[2022-05-07 07:08] hackeryang commented on #12282
Thank you @tangjiangling , the pr looks so nice~ If your pr can also improve the multi level partitions condition which i illustrated above, i can wait for your pr to  be merged.

Or if my code won't have conflicts with your logic, i will make a pr later. My logic is only modified in HiveMetadata.getTableHandleForStatisticsCollection() to get child partition values from Hive Metastore.

[2022-05-07 08:09] jodk opened #12283 "how to add a temporary function and use it in sql script"
like hive temporary function , i want to add a function that only effect current sql script

[2022-05-07 14:12] arhimondr commented on #12151
This should fix it: https://github.com/trinodb/trino/pull/12274

[2022-05-08 02:14] bogdanstate opened #12284 "Alluxio-via-Hive connector stops working with hive.force-local-scheduling=true"
First, thank you for maintaining this great OSS product!

We have been encountering a cryptic error when using Trino w/ the Hive connector against an Alluxio location in our test environment.

Specifically, we were able to:
- successfully create a schema w/ an `alluxio://` location.
- successfully create a table in this schema.
- successfully insert data into this table.

Running a `SELECT` query

[2022-05-09 03:15] jerryleooo commented on #5514
@martint I guess the points mentioned in https://prestodb.io/blog/2021/10/26/Scaling-with-Presto-on-Spark make sense

Trino/Presto may not be very fit for some ETL jobs, if we can use the same SQL syntax but more suitable engine, I think it would be better?

[2022-05-09 04:26] raunaqmorarka commented on #5514
https://trino.io/blog/2022/05/05/tardigrade-launch.html will address the ETL use cases that are targeted by "Presto on Spark".

[2022-05-09 04:26] #5514 closed

[2022-05-09 05:38] #12203 closed

[2022-05-09 07:02] gjhkael opened #12288 "Trino use coral to parse hive view with the following exception"
We using coral to parse hive view with open the following property in hive catalog.
[code]
When the view have "regexp_extract" function, then query will failed with following exception.

[code]

Reproduce the problem:
[code]

[2022-05-09 07:23] findepi commented on #12288
@gjhkael
The only code reference to `hive_pattern_to_trino` that i can find is inside Coral.
The reference got renamed from `hive_pattern_to_presto` in https://github.com/linkedin/coral/pull/69
We need to update the function declaration accordingly.
However, neither the previous name was provided by Trino (nor Coral), so I don't know how to fix this.

@wmoustafa does the handling of Hive `regexp_e

[2022-05-09 07:28] findepi commented on #12284
I have no evidence saying that Alluxio integration is maintained. Therefore I wouldn't recommend using it.

[2022-05-09 07:37] china-shang opened #12289 "Is trino SQL case sensitive?"
If use connector mysql which Case Sensitive. mysql table has name and Name fields.
In trino execute `select name from table` AND `select Name from table`
Will return the same data regardless of case, or return different data as expected

[2022-05-09 07:46] #12250 closed

[2022-05-09 07:47] ebyhr commented on #12278
[code]

#12286

[2022-05-09 07:56] gjhkael commented on #12288
Thanks for you reply, I also find the problem is caused by coral, seems the function "hive_pattern_to_trino" is implemented in linkined internal, so I open new issue in coral.
https://github.com/linkedin/coral/issues/266

[2022-05-09 07:59] findepi commented on #12288
That's another example why Coral integration needs to be tested end-to-end within Trino.
See `AbstractTestHiveViews` and derived classes.
cc @wmoustafa

(That's also why Trino Hive view translation issues should be tracked in Trino, thanks @gjhkael for your report!)

[2022-05-09 08:32] #12151 closed

[2022-05-09 09:04] findinpath commented on #12288
I've added a PR to coral project for addressing this issue.
https://github.com/linkedin/coral/pull/267

[2022-05-09 10:41] #10370 closed

[2022-05-09 10:43] kokosing commented on #12278
[code]
#12262

[2022-05-09 10:58] kokosing commented on #12278
[code]
 #9788

[2022-05-09 12:35] DeoLeung opened #12294 "support basic auth in prometheus connector"
Hi,

I'm trying to connect trino to our prometheus, but it's password protected [basic auth](https://prometheus.io/docs/guides/basic-auth/)

I find that the connector supports bearer token , but I can't find any information of that in prometheus document.

[2022-05-09 14:52] nicor88 opened #12296 "Glue ALTER TABLE Optimize do not report error if DeleteObject policy missing as IAM action for S3"
# What
When running
<pre>
SET SESSION glue.non_transactional_optimize_enabled=true

ALTER TABLE glue.my_db.my_table
EXECUTE OPTIMIZE
where
	year='2022' and
	month='05' and day='07' and hour='07';
</pre>

and `DeleteObject ` IAM policy is missing, *optimize* create the compacted Object, but the old un-compacted object are left in the bucket, without having trino raising an error.

## What I would h

[2022-05-09 17:02] eric-doug opened #12297 "Can not support query namespace of hbase with phoenix5 connector."
1. I have created a name space in  in hbase 2.1.0, and than create "ns:t1" table.
2. Use pheonix5 connect hbase, use the following command to get schemas.
trino> show schemas in phoenix;
       Schema
--------------------
 default
 information_schema
 system
(3 rows)

The output as it show in the above, I can not get the ns namespace.

[2022-05-09 21:39] losipiuk opened #12299 "Possible NPE in BinPackingNodeAllocatorService"
[code]

[2022-05-09 21:39] losipiuk commented on #12299
cc: @arhimondr

[2022-05-09 22:09] alexjo2144 opened #12300 "TestDeltaLakePreferredPartitioning.testPreferredWritePartitioningCreateTable is Flaky"
[code]

[2022-05-09 22:39] Riddle4045 commented on #12069
@findepi  Updated #12128

[2022-05-10 00:51] jasonchrion commented on #7843
thx!

[2022-05-10 00:52] ebyhr opened #12301 "Prometheus connector always requires `labels` column"
[code]

[code]

[2022-05-10 00:59] jasonchrion commented on #7843
thx!
I encountered the same problem, searched the whole internet but came away empty-handed, got answer here!

[2022-05-10 01:23] metalshanked opened #12303 "Error reading ORC file with short zone id in the footer"
I seem to be getting the below error when reading from a Hive Table from HDFS.
This table and query work perfectly fine from Hiveserver2/Tez
Also, trino works fine on some other ORC tables

[code]
The error logs suggest a timestamp issue `Unknown time-zone ID: EST`
[code]

Could it be related to the known limitation?  If so are there any workarounds to fetch the rest of the columns or some data fr

[2022-05-10 01:59] ebyhr opened #12304 "Add test for Prometheus bearer token auth"

[2022-05-10 03:24] ravitrivedi1 opened #12305 "trino mongo x509 authentication follow-up"
We are able to setup mongo user/password-based connection to Trino but x509 certificate-based authentication is not working. Does mongo connect in Trino support x509 authentication?

Tried authMechanism=MONGODB-X509 is not working. Here is connection string:

mongodb+srv://trino-test@mongo.XXXXX.mongodb.net/?authSource=$external&authMechanism=MONGODB-X509&tlsCertificateKeyFile=/home/ec2-user/X509-

[2022-05-10 04:39] findinpath opened #12306 "TrinoS3FileSystem swallows AccessDenied exception while trying to delete an object"
When `s3:DeleteObject` is missing or specifically denied from an s3 bucket backing a hive _MANAGED_ table, the dropping of the table succeeds, even though the data corresponding to the table is not actually being deleted.

[code]

There are multiple issues in the code leading to this behavior:

- https://github.com/trinodb/trino/blob/96a8f775f8763941deb9f3d2fb999d3a88015113/plugin/trino-hive/src/m

[2022-05-10 05:57] #12276 closed

[2022-05-10 08:40] radek-starburst commented on #11820
@martint ,

do you think that we should have:

1. a dedicated operators for ungroupped / groupped operators?:

[code]

2. a one operator with dedicated methods?:

[code]

and make it possible to that change would be backward-compatibe to avoid making a revolution at once (it is easily possible).

[2022-05-10 09:21] findepi commented on #12303
Would you mind attaching full failure stacktrace?

[2022-05-10 09:52] findepi commented on #4336
Ultimately we need to accept the fact that different plugins will depend on different versions of the same dependency. This is the beauty of plugin-based architecture: we don't need to solve the "jar hell".

This doesn't mean we shouldn't try to improve things. We can try, but stay aware of diminishing returns -- start from the dependencies biggest in size. @nineinchnick can you perhaps sort these

[2022-05-10 10:01] albericgenius commented on #10887
@ashishkumar1910 ,  @BalaMahesh, @raunaqmorarka and @findepi
I am interested in this issue, but failed to reproduce the issue with following DDL.
Even I set hive.bucket_execution_enabled=true, i still can not reproduce this issue.
Could you guys help to `share your DDL and query here`.
[code]
My test query is following, it can work as expected(no issue):
[code]

[2022-05-10 11:30] Deninc commented on #1398
+1

[2022-05-10 11:44] findepi opened #12312 "Pass ConnectorTableHandle instead of ConnectorTableMetadata to ConnectorMetadata.getStatisticsCollectionMetadata"
address this TODO

https://github.com/trinodb/trino/blob/f73fa142854bdfe3467415a590f0a949fc97365a/plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveTableProperties.java#L54-L58

[2022-05-10 12:13] findepi commented on #1839
https://github.com/trinodb/trino/pull/11336 is just merged

[2022-05-10 12:27] findepi commented on #12278
[code]

#12026

[2022-05-10 12:54] ebyhr opened #12318 "Iceberg connector can't drop tables if the metadata is missing"
[code]

[2022-05-10 12:58] alexjo2144 commented on #7580
Sorry, didn't see this older thread so I made a duplicate https://github.com/trinodb/trino/issues/12174 but updating the partitioning on a table using `ALTER TABLE ... SET PROPERTIES` is in this PR: https://github.com/trinodb/trino/pull/12259

[2022-05-10 13:28] findinpath opened #12319 "Avoid creating snapshots on Iceberg for empty operations"
[code]

The `INSERT` statements from the snippet above will create a new snapshot for the table and associated metadata, even though the state of the table does not change in any way.

The same situation happens for `DELETE` & `UPDATE` statements.

Investigate whether we can spare creating the unnecessary snapshots in such situations.

[2022-05-10 14:11] findepi commented on #12278
[code]

(query failure or incorrect results it really is)

#12026

[2022-05-10 14:12] Praveen2112 opened #12321 "LDAP Password Authenticator doesn't work with ActiveDirectory"
This PR - https://github.com/trinodb/trino/pull/11909 - breaks our LDAP Password Authenticator when it tries to connect with an ActiveDirectory server with the following error

[code]

[2022-05-10 14:36] #12225 closed

[2022-05-10 14:38] findepi commented on #12278
[code]

#12225 #12229

[2022-05-10 16:16] alexjo2144 opened #12323 "Iceberg `$partitions` metadata table only uses the current Spec"
The Iceberg `table$partitions` metadata table only shows partition values in the `partition` column based on the current PartitionSpec. Instead, the set of all columns which were used an any Spec could be used. This would make it easier to tell old partitions apart.

For example:
[code]

Possibly relevant: https://github.com/apache/iceberg/pull/2936

[2022-05-10 17:22] garimaj commented on #9080
I'm interested in working on this, could someone please assign it to me?

[2022-05-10 19:02] mosabua commented on #4336
The other aspect we should consider is that the more reduce the duplicates the smaller is the potential for any security issues affecting us. So anything we can update to one dependency version without too much hazzle .. we should do it. Of course this does get tricky with transitive dependencies.. but its worth looking into and also pushing updates upstream potentially.

[2022-05-10 19:17] metalshanked commented on #12303
Sure @findepi  here is the full traceback for the trino query
[code]

[2022-05-10 19:27] kokosing opened #12328 "Flaky TestIcebergTaskFailureRecoveryTest>BaseFailureRecoveryTest.testDeleteWithSubquery"
[code]

[2022-05-10 19:29] kokosing commented on #12328
Oh... this is already solved with https://github.com/trinodb/trino/commit/69ad6ac485b325fa3b0d65fbf7012e50b7e2300c

[2022-05-10 19:52] electrum opened #12330 "Make sure HiveConfig is not bound for Iceberg or Delta Lake"
Most properties are only applicable for the Hive connector. Any shared properties should be moved to separate config classes.

[2022-05-10 22:29] arhimondr commented on #11929
Closing as duplicate of https://github.com/trinodb/trino/issues/11275

[2022-05-10 22:29] #11929 closed

[2022-05-11 00:18] ebyhr commented on #10932
https://github.com/trinodb/trino/runs/6379609139

[2022-05-11 00:21] mosabua commented on #12278
@findepi this is added. .. please confirm that we got the right connectors...

[2022-05-11 00:54] #12240 closed

[2022-05-11 00:56] ebyhr commented on #12278
[code]

#12123

[2022-05-11 01:40] #5072 closed

[2022-05-11 02:20] ebyhr commented on #11842
I would recommend asking in `#kubernetes` channel.
https://trino.io/slack.html

[2022-05-11 02:23] ebyhr commented on #11575
Closing as #11749

[2022-05-11 02:27] ebyhr commented on #11299
Closing as #12102

[2022-05-11 02:27] #11299 closed

[2022-05-11 02:32] ramyerrabotu opened #12335 "ODBC connector for PowerBI"
Is there any plans to release OBC connector for power BI?  We have some scenarios where we need to connect powerbi with Trino and there are no free ODBC connectors without any dependency on PowerBI gatewy

[2022-05-11 02:35] ebyhr commented on #10320
Closing as #12235

[2022-05-11 02:35] #10320 closed

[2022-05-11 02:48] ebyhr commented on #9212
Closing as #11187

[2022-05-11 02:48] #9212 closed

[2022-05-11 05:23] #12279 closed

[2022-05-11 05:23] ebyhr commented on #12278
[code]

#12280

[2022-05-11 05:44] ebyhr commented on #12335
Let me close as duplicate of #6886

[2022-05-11 05:44] #12335 closed

[2022-05-11 06:18] kasiafi commented on #12278
[code]
https://github.com/trinodb/trino/pull/11336

@mosabua please help with the wording.

[2022-05-11 07:56] ebyhr commented on #12278
[code]

#11671

[2022-05-11 08:24] findepi commented on #12303
Thanks. As you probably now, 3-letter zone abbreviated names are not supported by Java Time, due to their ambiguity.
Do you know what application wrote this ORC file? Why did it use `EST` and not proper IANA time zone name?

[2022-05-11 08:46] lukasz-stec opened #12337 "Add checks for target table.view,mv during view/table rename"
Add checks, similar to in RenameMaterializedViewTask, that the target table or view or materialized view does not exist in the RenameTableTask and RenameViewTask

[2022-05-11 10:40] nineinchnick commented on #4336
This does it (drop the g from gstat and gsed on Linux):
[code]

and the top 21 (over 1mb) are:
[code]

[2022-05-11 10:47] findepi commented on #4336
[code]

These are not just different versions, one is a fork

`org.apache.calcite:calcite-core:jar:1.29.0` used by `trino-pinot -> org.apache.pinot:pinot-common:jar:0.10.0`
`com.linkedin.calcite:calcite-core:jar:shaded:1.21.0.151` used by `trino-hive` (and

[2022-05-11 10:50] findepi commented on #11517
cc @trinodb/maintainers for pending agreement on whether we want to have the statement, and what the syntax would be

cc @cpard @claudiusli

[2022-05-11 12:16] findepi commented on #12180
@alexjo2144
What's the use-case scenario for this, i.e. under what circumstances a user would benefit from such change?

cc @homar @erichwang

[2022-05-11 13:10] ebyhr commented on #11347
Closing as #11913

[2022-05-11 13:10] #11347 closed

[2022-05-11 13:13] findepi commented on #12337
cc @findinpath @ilfrin

[2022-05-11 13:15] findepi commented on #12323
we should include only the specs in use, not all defined specs, so that output isn't cluttered unnecessarily

[2022-05-11 13:31] #12321 closed

[2022-05-11 19:13] bendemott commented on #1053
This problem still occurs in recent versions of hive (3.1+) when `path.style.access=true`
Instead of setting `hive.metastore.thrift.delete-files-on-drop=true` in Trino you can ensure `path.style.access=false` in your Hive Metastore configuration.

[2022-05-12 02:29] zhaoyim commented on #12337
I want to work on this issue, assign to me for first issue to fix. Thanks!

[2022-05-12 04:16] findinpath commented on #12337
Feel free to reach out for support and do sign the CLA if this is your first PR.

[2022-05-12 05:26] ebyhr commented on #9404
Closing as #9193 is already merged.

[2022-05-12 05:26] #9404 closed

[2022-05-12 07:03] ebyhr opened #12346 "Support missing type for query based page source in BigQuery"

[2022-05-12 08:06] ebyhr commented on #12278
[code]

#12210

[2022-05-12 08:12] rameshbabu-sfdc commented on #10757
Hi Could some one add me as contributor for this. I would like to work on the changes.

[2022-05-12 08:14] zhaoyim commented on #12337
Thanks! I already sign the CLA, any questions I will ask in the slack. Thanks again!

[2022-05-12 08:14] findinpath commented on #11685
https://github.com/trinodb/trino/runs/6401407533?check_suite_focus=true

[2022-05-12 08:16] findinpath opened #12348 "Flaky TestPinotWithoutAuthenticationIntegrationSmokeTest.testAggregationPushdown"
[code]

https://github.com/trinodb/trino/runs/6401407533?check_suite_focus=true

[2022-05-12 08:16] ebyhr commented on #10757
@rameshbabu-sfdc Hi, please feel free to send PR. Also, you need to submit CLA
https://github.com/trinodb/trino/blob/master/.github/CONTRIBUTING.md

[2022-05-12 11:14] findinpath commented on #12069
Do we have an agreement whether this feature is worth implementing?

[2022-05-12 11:25] #11952 closed

[2022-05-12 14:02] sopel39 commented on #12278
[code]
https://github.com/trinodb/trino/pull/12251

[2022-05-12 14:21] findinpath opened #12353 "Iceberg `rollback_to_snapshot` procedure fails when the snapshots are over 1 minute from each other"
[code]

[2022-05-12 14:30] x-malet commented on #10179
And I think that adding the GeometryType in the `io.trino.spi.type` because nowadays, Geometry columns exists in a lot of database and data sources and having an internal GeometryType accessible from the trino core and not with plugins would be great !

[2022-05-12 15:03] #12299 closed

[2022-05-12 20:33] arhimondr opened #12358 "Change default compression algorithm to ZSTD in Hive connector"

[2022-05-12 22:13] alexjo2144 commented on #12162
I just pushed a draft PR with an initial approach. Thanks @przemekak for offering to help with benchmarking the problem.

[2022-05-12 23:21] erichwang opened #12362 "Ability to OPTIMIZE a single time-based partition in Iceberg"
Iceberg connector has the ability to optimize the internal data files for specific partitions with the following command:
[code]

However, if a table is partitioned using the hidden partition column feature (e.g. day(timestamp)), there does not seem to be a way to target a single day for optimization. This is quite problematic as time based partitioning is one of the most common mechanisms for ing

[2022-05-13 02:07] polaris6 opened #12366 "Some of the wiki's content is outdated"
I found several issues in the wiki.

## The first issue:
![企业微信截图_9a589d60-e228-47d1-9195-54b3f3caf22b](https://user-images.githubusercontent.com/29967142/168196420-a821c657-5bab-4fcc-806f-80ec17e85ac1.png)

## The second issue:
![企业微信截图_d37ff3fd-0008-4130-8316-8a80c3a1f5bf](https://user-images.githubusercontent.com/29967142/168196463-abe2b3d3-3343-48db-84cb-0fcbcc4487f5.png)

## The third issue:

[2022-05-13 02:13] mjzfrank opened #12368 "any plan to support coorinator cluster and multiple discovery.uri"
I want to use trino as a jdbc data source , but the coorinator and discovery is single, didn't support HA.I think this part is very importantimportment.
Is there any plan to support it?

[2022-05-13 02:15] ebyhr commented on #12368
Let me close as duplicate of #391. Please feel free to continue there.

[2022-05-13 02:15] #12368 closed

[2022-05-13 02:15] polaris6 commented on #12366
cc @ebyhr @martint @dain

[2022-05-13 03:28] ebyhr commented on #11131
https://github.com/trinodb/trino/runs/6416489582

[2022-05-13 05:40] hashhar commented on #12366
Thanks for noticing @polaris6.

The changes you list all seem good to do and you can just edit the wiki to do so (thanks for letting us know the changes however). I don't know about the 2nd point though - will need Martin to answer that.

BTW the Security Troubleshooting Guide is using trino-admin which is no longer supported and doesn't work so will need to be rewritten either way. And that also

[2022-05-13 06:36] ebyhr commented on #2941
https://github.com/trinodb/trino/runs/6417575944

[2022-05-13 06:38] #12217 closed

[2022-05-13 07:12] EugeneChung opened #12370 "[trino-cli] CSV_UNQUOTED with "(double-quote) escaped"
Even though I set output-format as `CSV_UNQUOTED`, all the double-quote(") characters like for JSON is quoted. Actually they are escaped by the default escape behavior of au.com.bytecode.opencsv.CSVWriter.
[code]

So I modified the source [io/trino/cli/CsvPrinter.java#L71-L71](https://github.com/trinodb/trino/blob/bcb89ab765dc77bc499e24b4ecd8cbb7e31cfe89/client/trino-cli/src/main/java/io/trino/cli

[2022-05-13 07:18] ebyhr commented on #12278
[code]

#12352

[2022-05-13 07:20] nineinchnick commented on #12370
[The RFC 4180](https://datatracker.ietf.org/doc/html/rfc4180) says:
[code]

Can you test how it'll work when you disable the escape character and also have a newline character in one of the columns?

[2022-05-13 07:29] findepi commented on #12362
I think this should be handled by
[code]

We can push expression-based predicate like this into the Iceberg connector.

Do need to know it applies to a whole partition?
This seems the right thing to do, and should be doable.
However, how do we deal with a table that underwent schema evolution and some files are not partitioned by `day(timestamp_col)` at all?
We can still require a full optimize, b

[2022-05-13 07:56] EugeneChung commented on #12370
@nineinchnick Disable it or not, a new line character is not quoted.
- test.sql
[code]
- `$ trino-cli --server localhost:8080 -f test.sql --output-format CSV_UNQUOTED`
[code]

[2022-05-13 08:03] findepi commented on #12358
Requires https://github.com/trinodb/trino/issues/9775

[2022-05-13 08:10] Emor-nj commented on #12301
I want to work on this issue, assign to me for first issue to fix. Thanks!

[2022-05-13 08:11] nineinchnick commented on #12370
Looks like you're right, if quoting is disabled, it's up to the user to make sure the output will be correct, so escaping be disabled too.

[2022-05-13 08:19] polaris6 commented on #12366
@hashhar Thanks for your reply.

I see that there are a lot of `Presto` in the code, I want to change them to `Trino`. I don't know if it is possible to change them at present, if it's possible, I'm willing to do it now.

I see that there is already a related issue also talking about this.
https://github.com/trinodb/trino/issues/10840

[2022-05-13 08:45] tangjiangling commented on #12165
Assigned to me as #7828 is already merged.

[2022-05-13 13:43] sumannewton opened #12381 "Support for order by pushdown in elasticsearch connector"
Currently there is no support in elasticsearch connector for `order by` pushdown.
Elasticsearch supports sorting as described [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/sort-search-results.html).

[2022-05-13 14:39] alexjo2144 commented on #12180
This was related to Eric's work on https://github.com/trinodb/trino/pull/12130

I remember him mentioning a case where the storage descriptor wasn't set on a Glue table, maybe a table created by Flink? Regardless this just seemed like a resilience improvement, since for managed tables we have all the information we need to derive the location.

[2022-05-13 15:34] arhimondr commented on #9775
Ideally it would be great to completely avoid creating these files. However this would break compatibility with other engines. Creating a zero length file would probably require additional research to make sure it doesn't break compatibility with Hive / Spark or other engines. Thus it feels like the easiest way to proceed would be to use native ORC writer. Do you know if ZSTD is supported by other

[2022-05-13 17:35] arhimondr opened #12385 "Flaky raptor tests: `.FileSystemException: /tmp/.... failed to delete one or more files; see suppressed exceptions for details`"
[code]

[2022-05-13 17:59] erichwang commented on #12362
Iceberg OPTIMIZE repartitions data between the nodes before writing, it shouldn't hit 100 limit that easily.

Yes, this is just a simplified example, but I had partitioning underneath the day too. Regardless, the capability to target needs to exist for this to be reasonably used in a scaling system.

[2022-05-13 18:14] alexjo2144 commented on #12362
ALTER TABLE my_table EXECUTE optimize WHERE CAST(timestamp_col AS date) = DATE '...'

No, I don't think that works. If I remember correctly the predicate on `ALTER TABLE EXECUTE` needs to be fully consumed and enforced by the connector. For Iceberg that's only identity partition columns right now

[2022-05-13 21:51] weiatwork opened #12390 "Allow row filter to use an inaccessible column"
For columns that are referenced in row filters or column masks, even if they are not defined as "selectable" by the policy, there should be valid use cases where the columns are only involved in the predicate condition evaluation.

Here are two respective file-based policy examples. They both fail with Access Denied error for the query below currently. But if we add something like `checkCanUseColu

[2022-05-15 02:43] StalkerOne opened #12397 "ERROR main io.trino.server.Server Unable to create injector, see the following errors:"
hi，everybody，i hava a problem for config the password to run trino. The following is the details of the error report：

2022-05-15T10:34:56.411+0800    ERROR   main    io.trino.server.Server  Unable to create injector, see the following errors:

1) [Guice/ErrorInjectingConstructor]: IllegalArgumentException: Shared secret (internal-communication.shared-secret) is required when authentication is ena

[2022-05-15 07:18] kasiafi commented on #11937
Closing in favor of https://github.com/trinodb/trino/issues/1839

[2022-05-15 07:18] #11937 closed

[2022-05-15 23:15] ishween commented on #4791
Hi, I'm interested in working on this. Can someone assign it to me?
Thank you!

[2022-05-16 03:53] #11575 closed

[2022-05-16 03:54] ebyhr commented on #11541
Let me close as answered. Please feel free to reopen or ask in the community.
https://trino.io/slack.html

[2022-05-16 03:54] #11541 closed

[2022-05-16 04:37] zhaoyim commented on #12337
already submit a PR: Add checks for rename table and view #12402

[2022-05-16 04:38] zhaoyim commented on #12337
@findinpath Could help review? Thanks!

[2022-05-16 04:55] optimus-kart commented on #2110
Any updates on this?

[2022-05-16 05:55] ebyhr commented on #12278
[code]

#12380

[2022-05-16 06:04] Praveen2112 commented on #12397
Starting from version 370 - we need to set the `internal-communication.shared-secret` when authentication is enabled.
This [docs](https://trino.io/docs/current/security/internal-communication.html#shared-secret-for-internal-authentication) provides information on configuring those secret.

You could also post these questions in our slack channel. Feel free to join [here](https://trino.io/slack.htm

[2022-05-16 06:04] Praveen2112 commented on #12397
I'll be closing this issue. Feel free to open if the issue still persists after configuring the shared-secret.

[2022-05-16 06:04] #12397 closed

[2022-05-16 07:01] losipiuk commented on #12362
In case when partitioning scheme changed through the life of the table, we can adreess this problem by changing `applyFilter` to be aware of the statement context (that the query is `ALTER TABLE EXECUTE .. OPTIMIZE`. Then it can perform different pushdown rules.
I.e. then we can push `WHERE some_predicate_on(partition_key_1)` as `WHERE row is from the file which contains any rows which match some_

[2022-05-16 07:25] ebyhr opened #12405 "Flaky TestIcebergSparkCompatibility.testTrinoReadingSparkCompressedData"
[code]

https://github.com/trinodb/trino/runs/6445578613

[2022-05-16 07:35] polaris6 opened #12406 "Is it necessary to implement `SHOW VIEWS` syntax?"
At present, Trino doesn't support the `SHOW VIEWS` syntax, which makes it inconvenient to distinguish between `table` and `view` in the `table list`.
Currently , Spark and Flink support the `SHOW VIEWS` syntax:
https://spark.apache.org/docs/latest/sql-ref-syntax-aux-show-views.html
https://nightlies.apache.org/flink/flink-docs-master/docs/dev/table/sql/show/#show-views

Does Trino need to support

[2022-05-16 07:35] polaris6 commented on #12406
cc @findepi @findinpath

[2022-05-16 07:37] ebyhr commented on #12406
Let me close as duplicate of #2999.

[2022-05-16 07:37] #12406 closed

[2022-05-16 07:43] polaris6 commented on #2999
@ebyhr
Is it necessary to implement `SHOW VIEWS` syntax?  Currently Spark and Flink are supported.

if necessary, I am willing to do this, please assign this issue to me if no one else is working on it.

[2022-05-16 09:28] tnsmanyu opened #12409 "When we expect support for pivot and unpivot in trino"
Hi,

I am storing tags in elasticsearch and accessing them using trino.
One of the challenges i am facing requires me to use PIVOT in my SQL queries.

When can we expect the support for PIVOT to come in trino

[2022-05-16 09:31] #12409 closed

[2022-05-16 09:47] sopel39 commented on #12069
I would think we probably need `boolean tableExist/viewExist/materializedViewExists` method with default fallback.
I think such methods would be beneficial as we wouldn't need for example to perform query translation (Hive -> Trino) as part of `DROP ...`

[2022-05-16 10:01] findepi commented on #12180
@alexjo2144 while we can add support for theoretically possible, or manually crafted, situations, it's not the best way of spending our complexity budget. I would want us to focus on real-life and common scenarios. If this change is beneficial for a real-life scenario, we should identify it and code-level document (or test).

it may be. it would be a good real-life scenario.

[2022-05-16 10:52] lawulu opened #12410 "count(*) aggregation is not pushed into mysql side when using mysql connector in hive view"
Create view:
[code]

Explain plan:
[code]

Actually, trino will get all rows from the mysql, and count the  rows in the memory.

[2022-05-16 10:54] lawulu commented on #12410
As mentioned in https://github.com/trinodb/trino/issues/7251
The explain plan should like this:
[code]

[2022-05-16 11:01] findepi commented on #12069
@sopel39 can you elaborate on a benefit of having this as 3 separate methods, as compared to single relation/object exists check proposed here?

also, did you consider a single method that would check relation/object existence and also return the type of that relation/object?

[2022-05-16 11:07] findepi commented on #2999
Quoting rationale from https://github.com/trinodb/trino/issues/12406 (closed as a duplicate of this one)

This is correct.
However, if we had two statements: `SHOW TABLES` and `SHOW VIEWS`, a natural expectation would be that the first one shows only tables, and the second one shows only views. This would mean a backwards incompatible change to SHOW TABLES, which IMO is a no-go, so I think we shou

[2022-05-16 11:17] wendigo opened #12413 "Flaky TestMySqlTableStatisticsMySql8IndexStatistics.testNotAnalyzed"
[code]

[2022-05-16 11:30] homar commented on #12180
@findepi @alexjo2144 so what is the next step ?

[2022-05-16 11:38] findepi commented on #12362
@alexjo2144 i am aware. I was referring to a change we can make (leveraging existing SPI), not current state. Sorrry for not being clear.

@losipiuk feasible, but a dangerous direction IMO.

[2022-05-16 11:41] Trymzet commented on #11296
Do I get it right in that vanilla Databricks is not yet supported? This connector requires using the Thrift schema for Hive connection string, and AFAIK Databricks only exposes the JDBC connection string for its Hive metastore (eg `jdbc:spark://adb-123456789.5.azuredatabricks.net:443/default;transportMode=http;ssl=1;httpPath=sql/protocolv1/o/123456789/0427-122644-45iadnd;AuthMech=3;UID=token;PWD=<

[2022-05-16 12:08] sopel39 opened #12415 "Flaky test TestBinPackingNodeAllocator.testAllocateDifferentSizesOpportunisticAcquisition: didn't finish within the time-out 2500"
[code]

[2022-05-16 12:08] sopel39 commented on #12415
cc @losipiuk

[2022-05-16 12:14] findepi commented on #9775
See https://github.com/trinodb/trino/pull/11677#discussion_r836173642 and David's answer there.

Not really. Hive on Tez doesn't create empty bucket files.

Hive already does create empty files (this caused some problem for us, that's how i learned).

Parquet does support ZSTD. Idk about other file formats.

If we switch ZSTD to be the default compression, it needs to work for all file formats.
@e

[2022-05-16 12:14] sopel39 commented on #12069
Well, we have checks like: `you wanted to drop MV, but table like X exists`.

[2022-05-16 12:22] #11216 closed

[2022-05-16 12:22] ebyhr commented on #12278
[code]

#12404

[2022-05-16 12:26] findepi commented on #12390
cc @kokosing @dain @lukasz-walkiewicz

[2022-05-16 13:24] findepi commented on #11296
Yes.
Or, use Glue.

We have no plans to connect to Databricks runtime using Databricks JDBC.
This would kill most benefits of this connector.

[2022-05-16 13:58] alexjo2144 commented on #11296
Right. here's the Databricks docs for setting up an external HMS or Glue https://docs.databricks.com/data/metastores/index.html

[2022-05-16 14:50] alexjo2144 opened #12419 "Iceberg HMS Catalog does not retry failing commits"
The Iceberg Transaction API supports retrying commits if the table state has changed since the write began: https://github.com/apache/iceberg/blame/932ede696cbb07c266a15505a5d49083f624608e/core/src/main/java/org/apache/iceberg/BaseTransaction.java#L360

In order to leverage this feature `IcebergTableOperations#commitToExistingTable` needs to throw a `CommitFailedException` when the commit fails in

[2022-05-16 14:51] #12419 closed, assigned to nobody

[2022-05-16 17:55] #12278 closed

[2022-05-16 19:26] findinpath opened #12422 "`UPDATE` does not support `WHERE false`"
[code]

`UPDATE` does not support `WHERE FALSE` while `SELECT` and `DELETE` do.

Stacktrace:

[code]

Found in Trino 381

Tested with Trino 393

Input from @findepi

[2022-05-16 19:49] dain commented on #11602
This feature has been discussed since the moment we added write support to Trino (presto back then).  It is a feature used extensively at FB, but this "feature" has always been a hack to make Hive happy.  Anyway, these discussions predate Slack and may other tools we use today.

My hope in general is that the Hive table format dies over the next few years (and everyone switches to Iceberg).  The m

[2022-05-16 20:06] #12180 closed

[2022-05-16 23:49] ebyhr commented on #2999
I agree with adding a new field instead of `SHOW VIEWS`. It's similar to MySQL approach.
https://dev.mysql.com/doc/refman/8.0/en/show-tables.html

[2022-05-17 01:52] erichwang commented on #12362
Given that partitioning can be changed dynamically, is there some way to do upfront partition pruning based on the Iceberg partition stats? And use the remaining partitions as the active set?

[2022-05-17 02:36] ebyhr opened #12424 "Support table and column comments in Delta Lake"
Currently, `comment` option is ignored when creating a new table.
[code]

- [x] #12452
- [x] #12455
- [ ] #12715

https://github.com/trinodb/trino/pull/12371#discussion_r872312456

[2022-05-17 02:59] martint opened #12425 "Release notes for 382"

[2022-05-17 03:42] jmaxx37 opened #12426 "Error while trying to retrieve certain data via Druid connector"
We are on Trino version 373.
We have a Druid connector all set up and working fine. We are able to query tables as well.

druid.properties config file:

connector.name=druid
connection-url=jdbc:avatica:remote:url=http://druid_broker_host:8082/druid/v2/sql/avatica/;authentication=BASIC
connection-user=admin
connection-password=admin

We're using Basic auth.

There's one particular table in Druid...

[2022-05-17 03:46] zhaoyim commented on #10857
@ebyhr I am not pretty sure the file-metastore  is on hive or on trino? Could you give some guidance? Thanks!

[2022-05-17 03:48] ebyhr commented on #10857
@zhaoyim It's specific to Trino. Please take a look at `io.trino.plugin.hive.metastore.file.FileHiveMetastore`

[2022-05-17 05:23] StalkerOne opened #12427 "Error running command: No ObjectCodec defined for the generator, can only serialize simple wrapper types (type passed java.util.HashMap)"
When i use prometheus connector to query time series data, it occur some errors:

--------------------------------- output -----------------------------
trino:default> select labels['cluster'] as cluster, labels['env'] as environment from container_memory_cache where labels['env'] = 'pro' limit 2;

Query 20220517_045907_00085_iptcs, FAILED, 1 node
Splits: 86 total, 0 done (0.00%)
5.41 [0 rows, 0B]

[2022-05-17 05:25] ebyhr commented on #12427
Try `element_at ` function. https://trino.io/docs/current/functions/map.html?highlight=element_at

[2022-05-17 05:25] #12427 closed

[2022-05-17 05:29] #12294 closed

[2022-05-17 05:29] ebyhr commented on #12425
[code]

#12302

[2022-05-17 05:59] hashhar commented on #12426
The error seems to be coming from the JDBC driver. The query that gets sent to the driver looked correct to me, I'll check if this is a known bug in the driver and whether a newer version has a fix.

[code]

[2022-05-17 06:22] hashhar commented on #12425
[code]

#12417

[2022-05-17 06:46] ebyhr commented on #7075
Closing as #12352

[2022-05-17 06:46] #7075 closed

[2022-05-17 08:11] ebyhr opened #12429 "Merge three Prometheus integration tests into one"
Target tests
* TestPrometheusIntegrationMetrics
* TestPrometheusIntegrationSchema
* TestPrometheusIntegrationStatus

[2022-05-17 08:23] groobyming opened #12430 "support implicit conversion"
Supports implicit conversions between the following types in comparison expressions, arithmetic expressions, in expressions, and between expressions
1. int and varchar
2. bigint and varchar
3. double and varchar

[2022-05-17 08:29] findepi commented on #12430
Duplicates https://github.com/trinodb/trino/issues/116

[2022-05-17 08:29] #12430 closed

[2022-05-17 08:34] ebyhr opened #12432 "Document backend API in BigQuery connector"
Storage API
* Table
* View if `bigquery.skip-view-materialization` isn't enabled
* Snapshot table

Query API
* View if `bigquery.skip-view-materialization` is enabled
* Materialized view
* Wildcard table
* External table

[2022-05-17 08:35] findepi commented on #12425
[code]

(same wording as https://github.com/trinodb/trino/pull/12417 but for MySQL this time)

#12411

[2022-05-17 08:43] findepi commented on #4124
One way of doing this is transplanting BigQuery syntax and supporting this within table name (as currently done in https://github.com/trinodb/trino/pull/12428).
[code]

 This has the advantage of being familiar to BigQuery users, but also some disadvantages -- a table with `*` may actually exist (unless this is forbidden by bigquery). Also, a wildcard table is not a real table, so one e.g. cannot

[2022-05-17 08:48] findepi commented on #12432
SHouldn't the connector use the right API for the task?
i.e. is it something we should document at all?

[2022-05-17 08:57] ebyhr commented on #12432
@findepi The purpose of this ticket is clarifying the API from the viewpoint of costs & IAM configuration.

[2022-05-17 09:07] mosiac1 opened #12433 "Create completed query JOIN metadata for QueryCompleteEvent"
The aim of this enhancement is to provide more powerful metadata from Trino query events. For my particular use case, I plan on ingesting this into [OpenMetadata](https://github.com/open-metadata/OpenMetadata).

I'm interested in gathering data about how tables in Trino are joined together in a query, more generally, how data from 2 different tables is combined. This can be from joins (`LEFT JOIN`

[2022-05-17 09:46] findepi commented on #12433
cc @sopel39

[2022-05-17 10:33] findepi commented on #2999
Thanks @ebyhr for feedback.
Let's give some time for interested @trinodb/maintainers to chime in.

[2022-05-17 10:44] hashhar commented on #2999
Agreed with @ebyhr . PostgreSQL also does the same.

[code]

[2022-05-17 12:12] Trymzet commented on #11296
@alexjo2144 Thanks. I was researching if we can use dbt with various sources all through Trino (inspired by this [video](https://trino.io/episodes/21.html)) and it seems that Databricks is doable as well, although integrating directly through `dbt-databricks` plugin is more straightforward. For future generaitons: using Databricks through `dbt-trino` plugin requires setting up and maintaining your

[2022-05-17 12:34] ebyhr commented on #4124
It's forbidden in BigQuery

Just throwing an exception as unsupported operations is acceptable to me. (BigQuery also prohibits DML on wildcard tables)

I guess a polymorphic table function makes the codes complicated especially when we want to support pushdowns to remote databases?

[2022-05-17 12:41] findepi commented on #4124
PTF doesn't preclude pushdowns. see #12325 for example.

[2022-05-17 17:12] dain commented on #2999
If the table is a materialized view, does it say `materialized view` or just `view`?

[2022-05-17 19:43] linzebing opened #12444 "IAM role support for exchange spooling on S3"
Contributor may follow https://github.com/trinodb/trino/blob/8f0dc103a6238be01b38ac8329971be220322973/plugin/trino-hive/src/main/java/io/trino/plugin/hive/s3/TrinoS3FileSystem.java to implement it. Note that `trino-exchange-filesystem` uses AWS Java SDK V2

[2022-05-17 19:43] weiatwork commented on #12390
Thanks @kokosing for pointing that out. I assume `mask_environment` and `filter_environment` are specific to the file-based access control. For something like Apache Ranger to achieve the same, they might have to follow the similar implementation? It may be more flexible if we have the concept that "allows inaccessible columns to be used in row filters or column masks only" without requiring a sup

[2022-05-17 20:33] dain commented on #11820
Option 1 is not reasonable.  This is not how aggregations work and would rewrite redesigning the framework.
Option 2 I don't understand but sounds complicated.

If your goal is to reduce the extra calls in generated aggregation code, then then you could generate a single aggregation state the encodes all nested states into one object.  This could help slightly but honestly, I don't think this mino

[2022-05-17 20:37] dain commented on #11820
BTW, my guess is the performance change is more related to explicitly passing the groupId value than it is to merging the two states together.  Under the covers these grouped states are just arrays, and passing the array index value via a parameter is likely to be faster then dereferencing the array index from a field in the object.... BTW, just a guess

[2022-05-17 20:46] martint commented on #11820
That's exactly what option 1 is about -- pass the group id explicitly as an argument to the method instead of calling `setGroupId` first and then calling the method.

[2022-05-17 21:43] radek-starburst commented on #11820
1. Yes - but, please note that we are going to rewrite dedicated state `LongDecimalWithOverflowAndLongState` to 3 atomic states. When we do it, we have two extra call for every row, partial group and so on.
2. The second issue: When we want to have an explicit groupId argument we need to have two methods:
* `addInput(state, .., groupId)` (and same for other aggregating methods) for *grouping* case

[2022-05-17 23:13] ebyhr commented on #4124
Exactly. I thought it doesn't support pushdowns since there's no such test in the PR. Verified it works correctly.

[2022-05-18 01:00] osscm opened #12447 "Iceberg's create table to support `sort_order` property"
Iceberg spec supports `sort_order` (https://iceberg.apache.org/spec/#table-metadata-fields) and Spark is supporting it while creating, altering, and writing data.
This issue is to support `sort_order` as a property while creating an Iceberg table like `sorted_by` in the hive tables. (https://trino.io/docs/current/connector/hive.html#table-properties)

CREATE TABLE syntax

[code]

[2022-05-18 01:47] jmaxx37 commented on #12426
@hashhar @findepi @ebyhr

I'm attaching the logs from the Druid Broker node as well when I run the SQL:

2022-05-17T22:05:32,222 ERROR [qtp288756266-174] org.apache.druid.server.QueryLifecycle - Exception while processing queryId [091f7d0f-81c0-44e4-9ca7-cf64689e0fd7] (QueryInterruptedException{msg=Unexpected end-of-input: expected close marker for Array (start marker at [Source: (SequenceInputStr

[2022-05-18 02:35] ebyhr opened #12449 "Disallow creating tables with hidden column names"
For instance, `$path` column in Hive connector.
Users still can create such tables in remote databases, but it would be better to disallow in Trino side.

[2022-05-18 02:37] ebyhr commented on #12425
[code]

#12401

[2022-05-18 03:03] dyx9541 opened #12450 "CVE-2022-25647 in google-gson:2.8.1.jar"
google-gson:2.8.1 has a VULNERABILITY named   CVE-2022-25647。
https://nvd.nist.gov/vuln/detail/CVE-2022-25647
And
The gson-2.8.1.jar is found in hive and Iceberg plugin folders of Trino:
![image](https://user-images.githubusercontent.com/43093521/168948399-1839c98b-f40f-4486-9bf0-3dfcd19d9c1a.png)

[2022-05-18 03:38] jmaxx37 commented on #12426
[code]

[2022-05-18 03:40] jmaxx37 commented on #12426
Got it @ebyhr! I updated my log posts.
Definitely looks a lot better now. Thanks!

[2022-05-18 03:41] mosabua commented on #4791
Once you have a PR please link to this ticket and we can help with review.

[2022-05-18 04:39] mosabua commented on #12366
Honestly I think nearly all of the content is historic only. Ideally it should get removed and migrated to the docs and the website as applicable.

[2022-05-18 07:22] radek-starburst commented on #11820
If I understand you correctyly, this what `LongDecimalWithOverflowAndLongState` do (it written not generated) but it implements that idea.

[2022-05-18 08:35] hashhar commented on #2999
It says `materialized view`.

[2022-05-18 09:46] pk8est opened #12454 "with子句临时表执行多次问题"
把下面这条sql分别在mysql和trino执行，在mysql中t1会生成临时表，只执行一次，t2_num等于t3_num; 而在trino中，t1表执行了两次，t2_num不等于t3_num, 有没有办法让trino的执行效果像mysql一样
[code]
[code]

[2022-05-18 09:54] ebyhr commented on #12454
Let me close as duplicate of #10. Please post in English from next time.

[2022-05-18 09:54] #12454 closed

[2022-05-18 10:03] zhaoyim commented on #10857
I also fixed this issue, seems @Emor-nj already fixed. :(

[2022-05-18 10:16] zhaoyim commented on #12429
Let me have a try. Thanks!

[2022-05-18 10:17] Emor-nj commented on #10857
@zhaoyim Sorry, I have not noticed that you had assigned this issue.

[2022-05-18 10:57] zhaoyim commented on #10857
@Emor-nj  No problem, I forget to assign to me yesterday. Glad to see many people join in Trino contribution, I also new in trino, we can help each other in future.

[2022-05-18 11:00] sopel39 opened #12457 "Improve intermediate state for LongSumAggregation and DoubleSumAggregation"
`LongSumAggregation` and `DoubleSumAggregation` can be used in window aggregation context. Hence they have support for `removeInput` method. Because window aggregation needs to produce null output if there are no non-null rows within window, both `LongSumAggregation` and `DoubleSumAggregation` have extra long (for row count) within intermediate state. However, that extra long is only needed for wi

[2022-05-18 11:01] sopel39 commented on #12457
cc @dain @radek-starburst

[2022-05-18 11:16] sopel39 commented on #11820
I'm not sure you need two methods and two interfaces. It could be that for non partitioned case, group id is just 0.

[2022-05-18 11:20] sopel39 commented on #12425
[code]
https://github.com/trinodb/trino/pull/12257

[2022-05-18 11:36] findepi commented on #12447
Defining this as a table property makes sense.
The important part is syntax for `sort_order` elements.
It should be field/transform (like in `partitioning`) followed by optional DESC/ASC and optional NULLS FIRST/LAST.

There is a small caveat around NaN ordering. I think the Iceberg spec has a problem around that.
I posted https://github.com/apache/iceberg/pull/2891 but it was never rejected nor a

[2022-05-18 11:39] findepi commented on #12447
Also, should this be `sort_order`, `file_sort_order` (to emphasize it's sorting local to a file), or `sorted_by` (as in Hive) ?

cc @electrum @phd3 @alexjo2144 @trinodb/maintainers

[2022-05-18 11:42] radek-starburst commented on #11820
Yes, I was thinking about it. Then, you have the inteface like:

[code]
I decided that it is too confusing for our users of API (in the future). For internal purpose it is acceptable for me (and good approach). But, it is a debatable issue, that approach is simpler and more elegant. What do you think @dain , @martint ?

[2022-05-18 12:29] #12415 closed

[2022-05-18 14:55] findepi opened #12461 "Iceberg reports unknown nulls_fraction for added column"
[code]

[code]

[2022-05-18 14:56] aletc1 opened #12462 "Iceberg Invalid descendant for DeleteNode or UpdateNode: io.trino.sql.planner.plan.ExchangeNode"
When doing ```UPDATE``` with a ```WHERE IN``` condition, if the values in the IN are EMPTY, then the command throws exception.

The expected result is to succeed doing nothing (e.g 0 updated rows). Tested with trino version 381.

To reproduce just put a condition ```WHERE 1=2``` in order to force this.

[code]

This might seems silly (the 1=2) but in real world scenarios there might be cases when

[2022-05-18 14:56] findepi commented on #12461
Seems that `TableStatisticsMaker` doesn't differentiate between "column not in a file" and "no file-level stats provided for given column".

Not sure about importance though. Newly added columns are less frequently used as join conditions.

cc @alexjo2144

[2022-05-18 15:00] findepi opened #12463 "Iceberg DELETE/UPDATE should unregister a file when all rows deleted/updated"
[code]

[code]

Expected: one data file live in the table.

cc @alexjo2144

[2022-05-18 15:01] findepi commented on #12463
Duplicates https://github.com/trinodb/trino/issues/12057

[2022-05-18 15:37] #12461 closed

[2022-05-18 15:47] findepi commented on #12462
Looks like a duplicate of https://github.com/trinodb/trino/issues/12422.

[2022-05-18 15:47] #12462 closed

[2022-05-18 18:08] DeoLeung opened #12464 "redis connector table name to match exact one key"
Hi,

I have table_names `redis.table-names=a:app,a:sys`
where in redis I have keys `a:app:1`, `a:app:2`, `a:sys`,
by enabling `redis.key-prefix-schema-table=true`, `a:sys` can't match any key, but `a:app` do.
[code]

[2022-05-18 18:48] DeoLeung opened #12465 "redis connector supports zset and list"
Hi,

is there any plan for redis connector to support `zset` and `list` data format?
if #12464 solved, it'll be great that we can read a `zset` or `list` as a table.

also some other improvement may be helpful for redis connector:
1. it'll be good to push down where if filtering table key, otherwise always scanning all the keys is not very good for production redis
2. support `mapping` similar to

[2022-05-18 19:10] martint commented on #12390
Column masks and row filters behave like dynamic views that get evaluated using the permissions of a user provided by the mask or filter definition. That should be sufficient to achieve what you're describing, as @kokosing explained above.

It doesn't make a lot of sense to allow row filters and masks to bypass security settings. It introduces a security hole where someone who can define a row fil

[2022-05-18 19:11] #12390 closed

[2022-05-18 19:39] weiatwork commented on #12390
Thanks @kokosing and @martint. I agree this can be an issue if the expression references columns in a different table, although allowing implicit column access in a single table use case might be fine (please correct me if wrong).

[2022-05-18 20:00] sungheun opened #12466 "Materialized view improvement"
We have available and planned changes for materialized view improvement in AWS Athena and are going to port some changes below that are meaningful to Trino open source.

### Available changes
- [ ] Trigger an initial refresh during CREATE MATERIALIZED VIEW DDL execution. With the change, a user doesn't have to trigger an additional REFRESH command to exploit MV after MV is created.
- [ ] Add a new

[2022-05-18 20:23] linzebing opened #12467 "Add documentation for exchange spooling on Azure and GCS"
Implementations see https://github.com/trinodb/trino/pull/12211 and https://github.com/trinodb/trino/pull/12360

[2022-05-18 23:35] dain commented on #12303
The problem is the metadata inside these files bad.  The only way to work around this would be to modify the code for `OrcMetadataReader.readStripeFooter` to have a manual handle this case.

This could be handled like with this:
[code]
But I'm not sure it is proper... seems kind of sketchy.  @findepi what do you think?

[2022-05-18 23:51] ebyhr opened #12469 "Support table and column comment when creating tables in Kudu"

[2022-05-19 00:31] apinchuk opened #12470 "Slack need on main page is not working"
I have tried to join the community, going from https://trino.io/slack.html; however, keep getting error message that "This link is no longer active, To join this workspace, you’ll need to ask the person who originally invited you for a new link.".

Is there a new link to join slack?

Thank you,
Alisa

[2022-05-19 00:44] ebyhr commented on #12425
[code]

#12408

[2022-05-19 01:03] martint commented on #12470
Thanks for letting us know. We're updating the link now: https://github.com/trinodb/trino.io/pull/297

[2022-05-19 01:37] metalshanked commented on #12303
Thanks @dain . Yes, past ORC files already have this deprecated timezone in the stripe footer, so any option from Trino would be great.  Something like the current `hive.orc.time-zone` overriding the read value from the ORC footer?

[2022-05-19 02:27] polaris6 commented on #12464
In your case, `redis.key-prefix-schema-table=true` is set, so Trino scans Redis data via the `a:sys:*` wildcard, causes `a:sys` not to be scanned.

I think this requirement is reasonable, this situation is actually a key as a table, and we can do some work to support this requirement. I thought of two solutions:

### The first solution
Similar to Iceberg's metadata file, we can support properties

[2022-05-19 02:45] polaris6 commented on #12366
@mosabua Thanks for your reply,  since nearly all of the content is historical only and should be removed or migrated, I will not modify the content of this wiki.

[2022-05-19 04:45] findinpath commented on #10932
https://github.com/trinodb/trino/runs/6496491229?check_suite_focus=true

[2022-05-19 06:51] raunaqmorarka commented on #12466
If we're changing CMVAS to populate the storage table (similar to CTAS) then we also need to provide a CMVAS WITH NO DATA so that MV can be defined without executing the query. It will also provide existing users a way to get back the previous behaviour.

See related https://github.com/trinodb/trino/issues/11698
I think it's reasonable to add an MV property to iceberg like `stale-results-window` t

[2022-05-19 09:20] sopel39 commented on #12466
CDC should be part of SPI so that it's possible to run incremental refreshes from one connector (e.g. MySql) to another (e.g. Iceberg). This would enable us to integrate ETL ingestion natively with Trino federated model without depending on external tools to do the job of ingestion. For example, SPI should define mechanism for:
* table versioning
* versioning layout

My thinking about it that ther

[2022-05-19 09:56] sopel39 commented on #10791
This might be implemented by introducing a special `adaptive partitioned exchange`. Normally, row is assigned to a single partition based on hash. However, when there is a skew, a lot of rows will be assigned to the same partition. This will cause that specific partition buffer to be full.
The idea with `adaptive partitioned exchange` is that such exchange would keep track of `hash -> partition` a

[2022-05-19 10:06] davycun opened #12474 "not foud com.github.everit-org.json-schema:org.everit.json.schema:jar:1.12.1"
Can't foud com.github.everit-org.json-schema:org.everit.json.schema:jar:1.12.1  when ./mvnw install  -f plugin/trino-kafka/pom.xml

The solution is

1. update the root pom.xml
    1) add dependency after  com.github.ben-manes.caffeine:caffeine:3.0.5
[code]
    2) add exclusion in io.confluent:kafka-json-schema-serializer:${dep.confluent.version}
[code]
2. add dependency before io.confluent:kafka-a

[2022-05-19 10:15] Emor-nj opened #12475 "Accumulo connector allows creating views in a schema where it doesn't exist"
The similar issue with [https://github.com/trinodb/trino/issues/10857](url)  and [https://github.com/trinodb/trino/issues/11110]()

CREATE VIEW

[2022-05-19 10:52] sopel39 commented on #12466
@sungheun do you mean MVs in Hive or Iceberg?

[2022-05-19 11:15] findepi commented on #4124
I am in favor of `"table_prefix_*"` syntax because

- it's BigQuery-specific but at this point the use-case seems BigQuery-specific too
- it's most familiar for the users

let's wait few more days for others @trinodb/maintainers to chime in if they have opinion.

[2022-05-19 11:49] ebyhr commented on #12475
We can fix by adding the below code to `createView` & `createOrReplaceView` in `AccumuloClient`
[code]

[2022-05-19 14:26] #12007 closed

[2022-05-19 15:41] sungheun commented on #12466
This looks good to me. Anyway, default behavior of existing CMVAS will be changed to trigger an initial refresh.

I think it's reasonable to add an MV property to iceberg like stale-results-window to specify the time interval from modification time of the source table upto which we will allow using stale storage table.

I am not sure if every connector can provide information when the source table

[2022-05-19 16:27] sungheun commented on #12466
@sopel39
I am definitely happy to work together on this topic.
Let me answer your comments/questions below.

- I fully agree with you that CDC should be part of SPI interface so that any connector can implement the interface if it has a capability.
 - The basic idea of the interface that you described looks good to me even though I have some questions on the details. Can you make a PR (or another

[2022-05-19 18:07] metalshanked commented on #12303
btw @dain's code snippet worked great. I created a test jar with it and ORC reads are working fine (no timezone errors)

[2022-05-19 21:04] linzebing opened #12480 "Add config to configure read/write timeouts for exchange spooling on S3"

[2022-05-19 21:06] osscm commented on #12447
thanks, @findepi
I didn't find that the transform function being used in the given examples: https://iceberg.apache.org/docs/latest/spark-ddl/#alter-table--write-ordered-by
thought in the [SortOrderParser](https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/SortOrderParser.java#L160-L180): it's parsing the transform from the metadata JSON.

just a thought `sorted_by

[2022-05-19 21:08] osscm commented on #12447
cc @RussellSpitzer

[2022-05-19 21:57] RussellSpitzer commented on #12447
Currently in Spark we don't have any way to specify transform in our API and we just use WRITE ... ORDERED/SORTED BY. I don't think it's critical to allow passing a sort transform at the moment

[2022-05-20 00:59] ebyhr commented on #3233
The test takes about 10 minutes recently. Closing.

[2022-05-20 00:59] #3233 closed

[2022-05-20 03:11] ebyhr commented on #12300
https://github.com/trinodb/trino/runs/6509859601

[2022-05-20 03:15] ebyhr commented on #6315
https://github.com/trinodb/trino/runs/6517159896

[2022-05-20 04:10] r9liucc commented on #12461
@alexjo2144 Hi ! Could we just use [Table Metadata](https://iceberg.apache.org/spec/#table-metadata) to determine the current schema? So all statistics could be base on the current schema.

[2022-05-20 05:36] sabirali2560 commented on #11344
Hi I want to work on this issue. Could someone please assign it to me.

[2022-05-20 07:00] lukasz-stec opened #12484 "Presize new page to exeact expect size in MultiChannelGroupByHash#startNewPage"
Follow up after https://github.com/trinodb/trino/pull/12336

For fixed width type you can assume here that there will be OUTPUT_PAGE_SIZE positions (type check on instaceof FixedWidthType.
For variable length type, (instanceof VariableWidthType) you can assume OUTPUT_PAGE_SIZE positions, but can also assume some skew via io.trino.spi.block.BlockUtil#calculateBlockResetBytes. You can then use io.tr

[2022-05-20 07:00] lukasz-stec commented on #12484
cc @sopel39 @skrzypo987

[2022-05-20 07:41] zhaoyim opened #12485 "ArrayIndexOutOfBoundsException when count(1) in prometheus"
In prometheus?  SELECT * FROM prometheus.default.up LIMIT 1;   can return the 1 row, but SELECT count(1) FROM prometheus.default.up LIMIT 1; can NOT return the expected result 1.

[code]

Trace:
[code]

[2022-05-20 08:13] #12413 closed

[2022-05-20 08:40] findepi commented on #5015
Reopening. #552 is about CASTs in engine. This issue is about equivalent, but separate, mechanics in Hive connector.

[2022-05-20 08:53] kasiafi commented on #9163
@grantatspothero we now have support for Polymorphic Table Functions (see https://trino.io/docs/current/release/release-381.html).
Query pass-through is a great use-case for PTF. We're currently working on query pass-through for JDBC-based connectors: https://github.com/trinodb/trino/pull/12325
For the user, it will be as easy as calling a function in Trino with textual native query as the argumen

[2022-05-20 09:50] kasiafi commented on #4124
@findepi @ebyhr The `"table_prefix_*"` syntax seems a good solution because it fits in the Trino identifier semantics, and so does not burden the engine with BigQuery-specific syntax or semantics.
On the other hand, I think that polymorphic table functions should be considered the canonical solution to the issue of non-standard syntax. If we add query pass-through PTF for BigQuery, it will also ad

[2022-05-20 09:52] findepi commented on #4124
BigQuery query pass-though is a good idea.
`"table_prefix_*"` syntax is nice, because it's "natural" for the users and doesn't require switching over to SQL-in-SQL that query pass-through involves.

[2022-05-20 09:59] kasiafi commented on #4124
I'm OK with it, especially that this change is local to BigQuery connector.

[2022-05-20 10:04] ebyhr commented on #4124
Actually, I was investigating if I we can use query pass-though in BigQuery connector last week, but it looks difficult to get output metadata before actual execution. BigQuery supports "dry run" option, but it returns some statistics and doesn't include column names and types.

[2022-05-20 10:21] findinpath commented on #12264
https://cloud.google.com/storage/docs/key-terms#immutability

[2022-05-20 10:51] findepi commented on #12447
Iceberg API allows to specify expression-based sort order. See eg test code
https://github.com/apache/iceberg/blob/78cc15aedbfd2d2c2fb499737952252ea200d772/core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java#L884-L887

@RussellSpitzer seems like the Iceberg Spark `ORDERED BY` also allows specifying expressions/transforms

https://github.com/apache/iceberg/blob/9691737c8aded99eb4650570d

[2022-05-20 10:57] kasiafi commented on #4124
We could try to run the passed query with limit 0, but that would require careful verification that it has no side-effects.

Other solution would be to require that the user provides the expected relation type, as the function parameter. The `DESCRIPTOR` argument type would be a good fit.

[2022-05-20 11:02] findepi commented on #4124
That works only if the remote engine's (ie BigQuery) optimizer really prunes the query plan and replaces it with equivalent of VALUES.
That's not obvious to me it would do this.

[2022-05-20 11:07] kasiafi commented on #4124
Sure, that's the basic thing we should learn before we go this way. I would be surprised if BigQuery, or any engine, lacked this optimization.

[2022-05-20 11:37] hashhar commented on #5015
IMO we should just disallow such coercion.

Just for the sake of being compatible with Hive adding this "misfeature" sounds questionable as showcased by the example in the opening comment.

It leads to meaningless coercions e.g. `INTEGER -12345` to might become `-`.
And I don't think anyone should be using or relying on such coercions.

[2022-05-20 13:03] kokosing commented on #11547
@findepi @electrum Any update? We would like to move it forward with this.

[2022-05-20 14:07] alexjo2144 commented on #12461
The problem is that these two cases look exactly the same, from a stats perspective:

[code]

and

[code]
Column `c` is in the current schema and is missing from the first data-file. Problem is, in one case c was expected to exist but is disabled, and in the other case it was not in the table schema at the time. Without opening the data-file itself, there isn't a way to tell the two apart.

[2022-05-20 14:17] alexjo2144 commented on #12447
If the sort property is set does data have to be sorted when being inserted, or is it optional?

[2022-05-20 14:21] RussellSpitzer commented on #12447
@findepi That's cool, I didn't know that would work at all

@alexjo2144 No, we currently do not require this, we even have an extra set of parameters allowing the user to decide what Spark algorithm to use for sorting (or not use). For example, a user can choose to not sort data in a particular write.

[2022-05-20 14:49] arhimondr commented on #11959
The changes from https://github.com/trinodb/trino/pull/12099 seem to be good enough. Closing the issue for now. If there's anything else specific to be added a new issue can be opened.

[2022-05-20 14:49] #11959 closed

[2022-05-20 14:49] #11051 closed

[2022-05-20 14:52] arhimondr commented on #9101
https://trino.io/blog/2022/05/05/tardigrade-launch.html

[2022-05-20 14:52] #9101 closed

[2022-05-20 14:53] arhimondr opened #12493 "Implement task descriptor storage offloading for fault tolerant execution"
To remove memory limitations of the [TaskDescriptorStorage](https://github.com/trinodb/trino/blob/master/core/trino-main/src/main/java/io/trino/execution/scheduler/TaskDescriptorStorage.java#L162)

[2022-05-20 15:00] kemalty opened #12494 "Adding Notes/Warnings for Catalog Installation in Docker 🐳"
**What**

This issue proposes adding some notes or warnings in the existing document pages for configuring connectors in Docker environment.

**Why**

The catalog configuration/installation is different for tarball than Docker image. For tarball, the catalog files are expected in `/usr/lib/trino/etc/`. For Docker, they are expected in `/etc/trino/`.

This change seems to be introduced in https://g

[2022-05-20 15:02] arhimondr opened #12495 "Support preferring exact partitioning"
By default Trino partitions data by all available columns for partitioning. For example for `JOIN` Trino partitions data based on all the columns appearing in the equality condition. For `GROUP BY` Trino partitions data on all available grouping keys.

However due to the relatively high cost of a partitioning (shuffle) operation Trino may try to avoid unnecessary re-partitions when possible.

For

[2022-05-20 15:02] arhimondr commented on #12495
Here's an example PR from Presto: https://github.com/prestodb/presto/pull/13354

[2022-05-20 15:11] arhimondr opened #12496 "Prevent array_agg, map_agg and other memory intensive accumulators from growing indefinitely"
Currently there's a practical limitation on the size of a single row (`15MB`) that can be returned to a user or transferred between stages. Unless the result of an `array_agg` / `map_agg` / `etc.` is being post processed before leaving a task a query will fail with a very obscure message.

It would be great if the limit was enforced explicitly with a readable message as generally using these aggre

[2022-05-20 15:11] arhimondr commented on #12496
Related: https://github.com/trinodb/trino/issues/8776

[2022-05-20 15:45] mosabua commented on #12494
You assumption that there is a fixed folder for tarball installation is wrong. The folder for catalog files is `etc/catalog` inside wherever you extract and use the tarball. All documentation is based on the tarball and the relative folder setup. Not just for catalogs but also for other config and log files and binaries and so on.

It makes no sense to put warning notes about a specific packaging

[2022-05-20 15:47] mosabua commented on #12494
Also ... if we mention docker everywhere ... why not mention the RPM  as well. And explicitly call out the relative native ...

[2022-05-20 15:50] kemalty commented on #12494
Fair point I think 👍

I am happy to start this page. Any pointers where this page should be and what it should consist of? Should it be more in a tutorial tone?

[2022-05-20 15:51] mosabua commented on #12494
You can look at https://docs.starburst.io/starburst-enterprise/try/docker.html and do something similar

[2022-05-20 15:53] mosabua commented on #12494
here is the source .. that might help as well. https://github.com/trinodb/docker-images

[2022-05-20 16:18] martint commented on #4124
`"table_prefix_*"` is acceptable for now, but using a table function as suggested above (`SELECT *  FROM TABLE (tables_by_prefix('table_prefix_'))`) is more SQL idiomatic. Note that it doesn't need to implement full query passthrough for this -- just a function that enumerates tables and extracts metadata, and a table-function-to-table-scan substitution.

[2022-05-20 16:31] martint commented on #5015
The SQL standard doesn't allow those kinds of conversions.

[2022-05-20 17:48] #11280 closed

[2022-05-20 19:16] alexjo2144 commented on #12450
I added an issue on the coral project for this: https://github.com/linkedin/coral/issues/272

[2022-05-20 19:51] findepi commented on #5015
This is about behavior internal to the Hive connector, so it's at best governed by "Hive reference impl".
The SQL standard doesn't matter.

[2022-05-20 19:52] metalshanked opened #12498 "Handling ranges for Kafka timestamp queries millisecond precision"
### Discussed in https://github.com/trinodb/trino/discussions/12399

<div type='discussions-op-text'>

<sup>Originally posted by **metalshanked** May 14, 2022</sup>
Hi,
I was trying the below query

I am only seeing records for `2022-05-15 05:30:00.000`  (no records show up for `2022-05-15 05:30:00.001`)

so seems like the less than or equal to `<=` is not working for `05:30:00.001` ?

[code]

![2

[2022-05-20 19:57] findepi commented on #11547
It's unclear what's the proposed solution?

cc @trinodb/maintainers

[2022-05-20 20:12] findinpath commented on #12300
https://github.com/trinodb/trino/runs/6526120857?check_suite_focus=true

[2022-05-20 21:55] sopel39 commented on #12466
@sungheun https://github.com/trinodb/trino/pull/12499

[2022-05-21 00:40] erikcw opened #12500 "Password file authentication crashes Trino ver 381"
I have Trino deployed on Kubernetes using the latest version of the Helm chart with Password authentication configured (through the helm chart).  It works fine on Trino 380, but causes Trino 381 to crash with the following error:

[code]

If I remove Password auth, the trino coordinator boots just fine.  I've revered back to ver 380 in the mean time.

[2022-05-21 04:40] vjain143 opened #12501 "Kerberos - Credentials cache support in hive connector"
Hive connector supports connection to hive using keytab file not using credentials cache. As of now trino doesnot support credentials cache based autentication for hive connector.
Even if we use below jass config, we are not able to connect, because it is hardcoded in the code to have keytab file location
[code]

Reference
https://github.com/trinodb/trino/blob/master/lib/trino-plugin-toolkit/src/m

[2022-05-21 11:49] r9liucc commented on #12461
@alexjo2144 Thanks for the answer. I will take a look at the table properties.

[2022-05-22 03:02] polaris6 opened #12503 "Cannot drop Iceberg materialized view after storage table externally dropped"
I created an Iceberg table named `table_1`(with hive metastore), then I created materialized view based on this table. At this point `SHOW TABLES` will show three tables:
[code]
I dropped the storage table first and then dropped the materialized view, the exception is thrown that the storage table not found.

Although the correct operation is not to drop the storage table first, but if the storage

[2022-05-22 04:03] polaris6 opened #12504 "Show Iceberg location and format_version in `SHOW CREATE MATERIALIZED VIEW`"
Currently, we can set four properties when we use `CREATE MATERIALIZED VIEW` in Iceberg connector, but `SHOW CREATE MATERIALIZED VIEW` only shows `format` and `partitioning`, I will submit a PR to add `format_version` and `location`.

<img width="1064" alt="image" src="https://user-images.githubusercontent.com/29967142/169678027-c8f2a68b-816a-4943-908d-4fe8a39b931e.png">

[2022-05-22 04:41] polaris6 commented on #12504
cc: @findepi @alexjo2144
Do you think it is necessary to add the format_version and location property in `SHOW CREATE MATERIALIZED VIEW`?

[2022-05-23 01:42] vjain143 opened #12509 "Kerberos Authentication support in multiple connectors/plugin"
Connectors/Plugins not supporting kerberos Authentication,
For example mysql not support Kerberos Pluggable Authentication,
https://dev.mysql.com/doc/refman/8.0/en/kerberos-pluggable-authentication.html

Do we have any plan to have this in future releases or how to contribute?

[2022-05-23 02:35] ebyhr commented on #11634
https://github.com/trinodb/trino/runs/6522954182

[2022-05-23 06:38] #4124 closed

[2022-05-23 06:38] ebyhr commented on #12425
[code]

#12428

[2022-05-23 08:37] kasiafi commented on #4124
@martint I'm not sure it's that easy. If we "import" the matching tables to Trino, and union them on our own, then we also have to coerce to supertype. Our coercion rules might differ from BigQuery.

[2022-05-23 08:52] #12429 closed

[2022-05-23 09:33] sopel39 commented on #12433
We are planning to expose anonymized query plan to even listener, see https://github.com/trinodb/trino/pull/12345, cc @gaurav8297 @raunaqmorarka

[2022-05-23 10:06] mosiac1 commented on #12433
Thanks for the response!

The idea is excellent but it doesn't quite apply to the use case I'm thinking of. All info exposed by anonymized query plans is already available in the json dump of `QueryInfo#getOutputStage()`, but more complex and along with other (maybe unwanted) data ( I may be wrong, please correct me ). What I'm looking for is having Trino distill  down query plans into easy to und

[2022-05-23 10:22] findepi commented on #9415
I think the conclusion was this is most likely caused by a timeout + retry.

@aczajkowski @hashhar @findinpath  has this been addressed with a test config change, or something like this?

[2022-05-23 10:24] findepi opened #12513 "With metastore caching enabled Hive queries sometimes fail with: UncheckedExecutionException: java.util.NoSuchElementException: No value present"
Example failure

[code]

[2022-05-23 10:25] #12513 closed

[2022-05-23 10:27] findepi commented on #12425
[code]

#12513 #12439

[2022-05-23 11:13] aczajkowski commented on #9415
@findepi Yes, some time ago we closed similar ticket https://github.com/trinodb/trino/issues/10772 in which this exact issue was solved by test config change https://github.com/trinodb/trino/pull/11592. Exactlly metastore read timeout.

[2022-05-23 12:13] #7580 closed

[2022-05-23 12:13] #12174 closed

[2022-05-23 12:14] findepi commented on #12425
[code]

#12259 #12174 #7580

[2022-05-23 12:30] findepi commented on #9415
The `BaseTestHiveOnDataLake` changed in #11592 is a successor of `TestHive3InsertOverwrite` mentioned here. Closing.

[2022-05-23 12:30] #9415 closed

[2022-05-23 12:33] findepi commented on #12500
cc @arhimondr

[2022-05-23 12:34] findepi commented on #12500
@erikcw the stacktrace indicates you're deploying 370, not 381.
Please check your configuration.

[2022-05-23 12:34] #12500 closed

[2022-05-23 15:23] findepi opened #12516 "Hive query with Glue may fail with: Cannot make progress retrieving partitions. Unable to retrieve partitions"
Observed on CI on version 380

[code]

The responsible line is here: https://github.com/trinodb/trino/blob/96a8f775f8763941deb9f3d2fb999d3a88015113/plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/GlueHiveMetastore.java#L887-L890

Follows #10696

[2022-05-23 15:25] findepi commented on #12516
The throwing code is a safety check to prevent infinite loop, sending same request over and over.
We assumed `batchGetPartitionAsync` will always process at least one partition.

@pettyjamesm was the assumption wrong, or is it a Glue service's fault?

[2022-05-23 15:26] ZZa commented on #12195
Same issue here, the Schema Registry client doesn't propogate Basic Auth credentials, despite being specified in the configuration file under `kafka.config.resources` property.

Same goes to SASL configuration options for Schema Registry:
[code]

[2022-05-23 15:38] findepi commented on #12503
cc @lukasz-stec @sopel39

[2022-05-23 15:54] alexjo2144 commented on #12504
Yep, that makes sense to me

[2022-05-23 16:00] pettyjamesm commented on #12516
I'm not sure about that actually- I know that the behavior unprocessed keys list can be non-empty based on undocumented characteristics of the response but my understanding is that the mechanism is to prevent overly large response payloads. Since this is a CI run, I doubt that the specific partition in question was overly large to the point where a single partition wouldn't be returned- so I wonde

[2022-05-23 16:27] erikcw commented on #2256
I'm experiencing the same problam on Trino 381 (on kubernetes using the community container image).  Everything works fine until I activate caching for the hive connector.  Then after a few successful queries, they start failing with:

[code]

Here is my hive catalog config WITHOUT caching enabled (queries work just fine):

[code]

And with WITH caching enabled (causes the exception):

[code]

[co

[2022-05-23 17:36] kasiafi commented on #4124
@ebyhr do you know the answer?

[2022-05-23 18:19] sambhav8695 commented on #10450
@findepi @electrum I am also facing the same issue. Can you please help here?

[2022-05-23 19:44] Eniloracm commented on #12500
My mistake!  Machine had cached `trino:latest` on 370.  That's what I get for not pinning my release.  Sorry guys.

[2022-05-23 19:45] erikcw commented on #12500
My mistake! Machine had cached `trino:latest` on 370. That's what I get for not pinning my release. Sorry guys.

[2022-05-23 23:54] ebyhr commented on #4124
@kasiafi Yes, it does. `com.google.cloud.bigquery.BigQuery#getTable()` accepts wildcard tables and returns the metadata.

[2022-05-23 23:56] ebyhr opened #12521 "Flaky TestIcebergGlueCatalogConnectorSmokeTest.testDeleteRowsConcurrently"
https://github.com/trinodb/trino/runs/6558840919

[code]

[2022-05-24 00:44] Riddle4045 commented on #12069
@trinodb/maintainers  bumping this up.

[2022-05-24 03:44] erichwang commented on #12362
Ok, I think I understand the context of this discussion now after going through the code. Is there a standard we were following when we decided to use the `ALTER TABLE ... OPTIMIZE WHERE ...` syntax? It doesn't seem right for us to overscan the results of a `WHERE` clause @losipiuk (even if it is just for an in internal table procedure). Assuming that's the case, I can only think of a few more opt

[2022-05-24 06:33] losipiuk commented on #12362
No. The syntax came up as a result of a discussion between @martint, @electrum, @findepi, and myself.

I get your point. I am concerned about that too. Less of the fact that we are overscanning (technically we overscan for most queries with WHERE clause, e.g if there is no partitioning we scan whole table, even if WHERE is very selective).
But the fact that we actually mutate the table's underlyin

[2022-05-24 07:38] skrzypo987 commented on #12484
Isn't this a one-liner after https://github.com/trinodb/trino/pull/12336 lands?

[2022-05-24 07:41] findepi commented on #11400
There are two kinds of Delta Lake tables

- tables with location set explicitly when creating the table (marked as "external" in metastore)
- tables with implicit location derived from schema's location (marked as "managed" in metastore)

https://github.com/trinodb/trino/blob/1464cb8fb8e132ce8fb099e34955d611a53c798f/plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.

[2022-05-24 07:42] findepi commented on #11400
My favorite option is RANDOMIZE, even though it requires opt-in.

cc also @electrum @phd3

[2022-05-24 07:59] lukasz-stec commented on #12484
@skrzypo987 No, the issue is that `VariableWIdthBlockBuilder` needs to be reset/recreated with a similar (currently 25% higher) `expectedBytes`. So we either do something as I did in  https://github.com/trinodb/trino/pull/12512 or we need to expose

[code]

[2022-05-24 08:03] skrzypo987 commented on #12484
ok, I got you.
Still this does not seem too complicated.

[2022-05-24 08:10] losipiuk opened #12524 "Enable encryption in TestS3FileSystemExchangeManager"
Currently we are testing S3 based exchange with encryption disabled on Trino.
It does not match typical production deployment model.

https://github.com/trinodb/trino/blob/583b20e92571c07fb2bffe6143a6148c4e854bef/plugin/trino-exchange/src/test/java/io/trino/plugin/exchange/containers/MinioStorage.java#L90-L91

[2022-05-24 08:37] findepi commented on #12300
https://github.com/trinodb/trino/runs/6559274932

[2022-05-24 08:42] guyco33 opened #12525 "Hive sync_partition_metadata falls on timeout since 377"
Probably relates to https://github.com/trinodb/trino/pull/11864
@findinpath @findepi @ebyhr

Table with about 300K partitions fails with the following huge Metsatore  query text:
[code]

it seems that `metastore.getPartitionsByNames` is not suitable to fetch all table partitions at once.

[2022-05-24 09:09] kasiafi opened #12526 "Support CachingJdbcClient cache eviction for cached metadata about pass-through queries"
When performing query pass-through (https://github.com/trinodb/trino/pull/12325), we cannot determine the referenced tables. This is because the query is opaque.

The `JdbcTableHandle#otherReferencedTables` field is used for cache eviction. It should be made optional so that we can mark the "unknown" state, and cache eviction remains correct.

[2022-05-24 09:13] guyco33 commented on #12525
@findinpath Why not to use hive [get_partitions](https://github.com/apache/hive/blob/f8b90b96f4ee38e280d068a0741a306259c21b77/standalone-metastore/metastore-common/src/main/java/org/apache/hadoop/hive/metastore/AbstractThriftHiveMetastore.java#L525-L529) api to retrieve in one query all table partitions ?

[2022-05-24 09:19] findepi commented on #12425
[code]

#12400

[2022-05-24 09:37] findepi commented on #12524
what does encryption have to do with https?
if we have internal pre-shared secret, we could do client-side encryption, even with query-specific key.

[2022-05-24 09:37] zhaoyim opened #12528 "[Doc] elasticsearch.host properties should support multi hosts need to update in doc"
Related with issue [Allow multiple hosts for elasticsearch connector (elasticsearch.host property)](https://github.com/trinodb/trino/issues/11889)

[2022-05-24 09:37] johndb2016 opened #12529 "Does trino support iceberg table version 2?"
i wanna use trino to query iceberg table, but i am not sure about whether iceberg conncector supports iceberg version 2 table.
Any help will be appreciated~

[2022-05-24 09:39] #12529 closed

[2022-05-24 09:46] johndb2016 commented on #12529
@findepi But the "Trino 381 Documentation" tells that "It supports Apache Iceberg table spec version 1." Is that doc outdated? By the way , which version of trino supports iceberg version 2 table?

[2022-05-24 09:58] findepi commented on #12529
thanks for noticing. see #12451

[2022-05-24 10:05] findepi commented on #12516
The CI failed at `TestHiveGlueMetastore>AbstractTestHive.testPartitionStatisticsSampling:3417`.
The table has two partitions, and I don't think the behavior can vary from run to run.

I think we should assume the partition existed, unless there is some other bug and table wasn't created correctly.

@pettyjamesm can this be rate-limiting related?

[2022-05-24 10:06] losipiuk commented on #12524
IDK to be honest. Possibly //TODO comment does not make sense. Yet I expect the `.put("exchange.encryption-enabled", "false") ` is there for a reason.
@linzebing can you please comment?

[2022-05-24 10:16] ebyhr commented on #12425
[code]

#12371

[2022-05-24 10:32] daniil-dubin commented on #6658
@findepi  we have thousands of scripts (as well as many other companies I believe do) that we are migrating to iceberg automatically. We can't just mechanically replace all the occurrences of now() or current_timestamp() with current_timestamp(6) as it may brake other places unrelated to iceberg and requires semantical analysis of the script. It will take hundreds of hours of work for the data dev

[2022-05-24 10:58] MichaelTiemannOSC commented on #6658
This is my hack to the Trino python client:

[code]

[2022-05-24 11:27] mdesmet commented on #11400
Also changing the table type to EXTERNAL will also **NOT** drop the data in `DROP TABLE` statements, as we have to do that ourselves, similar to what's done in the Iceberg Connector.

[2022-05-24 11:43] findepi commented on #11400
@mdesmet the DROP behavior is exactly why we differentiate tables with explicit and implicit locations.
cc @alexjo2144

[2022-05-24 12:00] mdesmet commented on #11400
I know that, but I'm really talking about the Hive Metastore's table type. That can be either `MANAGED_TABLE` or `EXTERNAL_TABLE`.

In Delta lake we currently create tables without an explicit location as `MANAGED_TABLE` and simply relay the delete towards the metastore, while in Iceberg all tables are created as `EXTERNAL_TABLE` in order to not let Hive Metastore meddle with it, we have to delete

[2022-05-24 12:26] sopel39 commented on #12433
Yes, we want anonymized query plans to be in JSON representation, so it should be possible to easily parse them

[2022-05-24 14:37] findepi commented on #11275
https://github.com/trinodb/trino/runs/6572074793?check_suite_focus=true

[code]

[2022-05-24 14:39] findepi commented on #12425
[code]

#12343

[2022-05-24 15:25] findepi commented on #12425
[code]

#4741

[2022-05-24 16:04] ndrluis commented on #9007
I have a use case to use unload to consume the data through batching to generate pre aggregations on [Cube](https://cube.dev/).

Cube already has an [implementation](https://github.com/cube-js/cube.js/pull/4039) to consume unloaded data from Athena and would be nice to Trino have the unload feature to make possible to us moving from Athena to Trino.

[2022-05-24 16:25] erikcw opened #12533 "Allow specifying primary key(s) when creating Cassandra tables"
It doesn't appear to be possible to specify the Primary Key in a CTAS query for the cassandra connector.

When I do a simple `CREATE TABLE AS cassandra.foo.new_table AS (SELECT * FROM hive.foo.table)` The table created in cassandra has an `id` column added as the Primary Key.

I’ve tried several variations, but the parser throws an error.  Example:
[code]

I read through the connector test suite,

[2022-05-24 16:56] mosabua commented on #12425
Is this correct? Isnt that related to #11732 @findepi ?

[2022-05-24 18:19] dain commented on #5015
@findepi  Oh that makes sense… yes we need to follow Hive here

[2022-05-24 19:38] alexjo2144 commented on #12504
Actually, @raunaqmorarka should you be able to set the location for a MV?

[2022-05-24 19:56] kokosing commented on #7581
Fixed by https://github.com/trinodb/trino/pull/12002

[2022-05-24 19:56] #7581 closed

[2022-05-24 19:58] alexjo2144 commented on #12362
If we improve the `IcebergMetadata#applyFilter` implementation to account for transforms and historical PartitionSpecs we get the win/win of being able to have better `optimize` filters, and better read performance.

Right now only filters on columns that have always been identity partition columns are guaranteed to be enforced, but we can do better than that.

[2022-05-24 20:01] raunaqmorarka commented on #12504
yes, that seems reasonable

[2022-05-24 21:26] #12467 closed

[2022-05-25 01:17] erichwang commented on #12362
the rest. This would work if we support for expression pushdown @findepi suggested above.

Yea, that's a pretty good idea too, especially given that repartitioning is hopefully an infrequent operation. So most of the time people won't need to think about it.

I think the only minor downside is that the way users interact with this system forces them to be aware of the exact underlying partitioning

[2022-05-25 03:02] zhaoyim commented on #12503
Could I assign this issue to me ? and try to fix? Thanks!

[2022-05-25 06:08] hashhar opened #12535 "Adding column in SQL Server connector sometimes fails even though column has been added successfully"
On SQLServer:

[code]

https://github.com/trinodb/trino/runs/6572998375?check_suite_focus=true

[2022-05-25 06:59] polaris6 commented on #12503
done @zhaoyim
You can discuss with @lukasz-stec @sopel39 first, I'm not sure if users should be allowed to drop storage table.

[2022-05-25 07:27] ebyhr commented on #12300
It seems retry happened with `java.net.SocketTimeoutException: Read timed out`, but the operation in Thrift Hive metastore succeeded remotely. Then, we get `TableAlreadyExistsException` in subsequent call.

[2022-05-25 07:30] polaris6 commented on #12503
@lukasz-stec

I also considered this solution, but I saw that @findepi has replied before, in addition to `show tables` through hive client also shows the storage table.
https://github.com/trinodb/trino/pull/10745#discussion_r793589518

[2022-05-25 07:41] raunaqmorarka commented on #12503
We don't have a good way to prevent the dropping of storage table right now ("st_" prefix in the name is too broad and listing MVs to see if current table is a storage table would be too brute force). We could start adding some unique property to the storage table as an identifier and detect that during the DROP to stop it from being dropped directly.
Always hiding the storage tables in SHOW TABLE

[2022-05-25 09:14] zhaoyim commented on #12503
@polaris6  Thanks! I will read the comments and code first.

[2022-05-25 09:49] zhaoyim commented on #12503
@raunaqmorarka Will you mean leverage the Catalog-level access control files to reject the drop the storage table? In this way seems we did NOT need do any code changes,  maybe need update the DOC?

[2022-05-25 09:53] findepi commented on #12503
Not an option. First of all, naming pattern is just a convention, not a reserved prefix.

Also, it doesn't solve the actual problem. the storage table can be dropped using other application or direct metastore API (eg Glue's).

[2022-05-25 09:55] findepi commented on #12503
I don't think it's obvious, but @lukasz-stec  we can have separate issue about this

it's not, per above: the storage table can be dropped using other application or direct metastore API (eg Glue's).

[2022-05-25 12:04] findepi commented on #7905
Done in #9309 cc @homar

Besides this one, expression-based pushdown could help with subsequent dereference pushdown and also help with OPTIMIZE (#12362 cc @erichwang @losipiuk @alexjo2144 )

[2022-05-25 12:04] findepi commented on #12362
I agree we can solve the problem for "no partition evolution" first, and require full optimize in case of partitioning changes.
We will need to revisit this though.

I think hidden partitioning's main benefit is that you don't need to modify SELECT nor INSERT queries (which can be many different queries). OPTIMIZE is likely a centralized maintenance operation, so it's one query to update. Much sma

[2022-05-25 12:42] nineinchnick commented on #4912
Environments defined in the PTL can have multiple database connections, both for Trino and direct connections to data sources. These in turn can be defined over multiple Tempto configuration files, that Tempto merged before starting tests.

My first idea was to print the JDBC strings in Tempto, after it prints the merged configuration. This would help to avoid duplicating the config merging logic

[2022-05-25 12:58] nineinchnick commented on #4912
Another question - how to best map JDBC properties to CLI arguments? Maybe the CLI could accept an URL instead of individual options?

[2022-05-25 13:31] nineinchnick opened #12543 "Pass a connection URL to Trino CLI"
This is a new feature idea for the Trino CLI to be able to pass a connection URI to it, as a positional option:
[code]

The rationale is to allow reusing JDBC URLs without having to map them to particular options, that may or may not match JDBC property names. The `jdbc:trino://` form might be allowed. No other protocol should be allowed as the Trino CLI is not a generic JDBC client.

The only arg

[2022-05-25 13:31] nineinchnick commented on #4912
We can discuss allowing the CLI to accept URLs here: https://github.com/trinodb/trino/issues/12543

[2022-05-25 14:43] findepi commented on #12525
confirmed

[2022-05-25 15:09] Yikf opened #12546 "Add licenses to pom files and scripts"
Currently, There is no licenses added in some POM files and scripts. Do we need to add these information? @findepi

[2022-05-25 15:09] Yikf commented on #12546
If it is necessary to add, I will file a PR.

[2022-05-25 15:16] Yao-MR opened #12547 "Partial aggregation should push into tableScan"
[code]
Query 20220525_141027_000

<img width="934" alt="019FFDC9-A79F-4B5E-BC37-91FE673F6A0C" src="https://user-images.githubusercontent.com/8596901/170295937-b3ca4a07-d985-4824-93e2-3fc1a020fd08.png">

AS we can see the Partial aggregation should push into tableScan

After i optimize the logistic tree to push the partial agg to table scan
[code]

[code]

But we i change the code to push the Parti

[2022-05-25 16:53] colebow commented on #12432
The concern is that some statements are documented but not supported, but from looking at the code and tests, it seems like every statement in docs is correct? I didn't do a super deep dive into the code and don't entirely understand how everything works, but my initial impression is that this isn't actually an issue.

[2022-05-25 18:23] kasiafi opened #12550 "Show table functions in `SHOW FUNCTIONS`"
It should be added in `ShowQueriesRewrite#visitShowFunctions`.

[2022-05-25 20:03] #12323 closed

[2022-05-25 21:00] #12525 closed

[2022-05-25 21:01] findepi commented on #12425
[code]

#12525 #12527

[2022-05-25 21:26] findepi commented on #12425
[code]

#12197

[2022-05-25 21:36] findepi commented on #12516
it seems we're seeing this internally on CI (so more than just one occasion).

@pettyjamesm  is it a Glue bug? when will it be fixed?

[2022-05-25 22:27] metalshanked opened #12552 "Malformed ORC file. Cannot read SQL type 'bigint' error"
When querying certain tables with ORC files written with Spark 2.3.0, i get the below error.

I tried setting the `hive.orc.use-column-names=true` but the error persists.

[code]

[2022-05-25 23:29] sumit-gupta-sgt opened #12554 "Query Stuck if run after one Worker Down"
I found scenario query stuck while trying to explore system.runtime.nodes tables, here is my query stuck scenario.

I am using Trino 374 release, and I have 1 coordinator and 2 worker node.
I am trying to generates metrics for worker node details monitoring using **select * from system.runtime.nodes**, i was playing around performing one worker down immediately if i run query, query went in stuck

[2022-05-26 00:31] erichwang commented on #12362
We had a quick discussion today and *assuming* we don't want to rethink the language syntax, this seems like a reasonable path forward:
1. Add Iceberg support for hidden time projection partition pruning (covering both timezone and non-timezone time types) predicate push down.
2. Publish partitioning scheme physical definition for partitioning projection functions so that users can determine how t

[2022-05-26 00:37] #12425 closed

[2022-05-26 03:18] dain commented on #11820
I have been thinking about this for a while now, and think there is an approach that is backward and not too complex (maybe you all have already thought of this).

I believe the proposal is to convert the function signature from:
[code]
to
[code]
We could adapt the old interface to the new interface using basic method handle combinators.   Basically we use combinators to process the args as follow

[2022-05-26 03:28] martint opened #12556 "Release notes for 383"

[2022-05-26 08:57] lukasz-stec opened #12559 "Materialized View storage table is visible in show tables"
Currently iceberg MV storage table is visible in `show tables` output.
The question is should it be there?

Pros:
- It takes up resources so it's good for users to see it directly
- user can see it anyway using some other HMS client
- it's already there

Cons:
- user can drop it from trino, making MV invalid
- it's an implementation detail that the user may not expect to be a valid object e.g. thi

[2022-05-26 08:58] lukasz-stec commented on #12503
@findepi Not that I'm a big side on this discussion but I think it would be good to clear this up so I created https://github.com/trinodb/trino/issues/12559 as you suggested

[2022-05-26 08:59] findepi commented on #12362
Thanks @erichwang for gathering options and making a proposal.

Do you have example of how user would use it? eg. how this would look in SQL?

What would it do? Would it limit operation to only files adhering to that partitioning?

This is not possible. timestamptz values are ordered by point-in-time portion.
Thus, `CAST(a_timestsamp_tz AS date)` is not monotonic function, and cannot be unwrapped.

[2022-05-26 09:09] radek-starburst commented on #11820
Super, it solves the problem of `input/combine/output` interfaces.

Now, we have to imagine how our "atomic" states interfaces should look like. We have two methods:

`oldstyle` one:
[code]
`newstyle` one:
[code]

Potentially, we would have the interface:

[code]

and generated implementation of `SingleLongState` could just throw the exception `UnsupportedOperation` for grouped operations. But we

[2022-05-26 09:15] zhaoyim commented on #12559
I have a question, There is Materialized View, why we need to operate the storage table directly? If we want to access storage table directly, but seems the storage table naming is unreadable.

[2022-05-26 09:16] #12300 closed

[2022-05-26 09:33] losipiuk commented on #12362
I think we were thinking syntax you proposed above:

`WHERE CAST(timestamp_col AS date) = DATE '...'`

Yeah, exactly.

[2022-05-26 09:56] sopel39 commented on #12556
[code]
https://github.com/trinodb/trino/pull/11289

[2022-05-26 10:50] sopel39 commented on #11820
Why would it fail? Maybe it could just assert group id is 0

[2022-05-26 11:01] nineinchnick commented on #4191
I think this can be closed now, reopen if I'm wrong.

[2022-05-26 11:01] #4191 closed

[2022-05-26 12:04] njalan opened #12562 "TLS certificate verification is disabled by python through 'verify': False"
I have enabled https and also integrated with ldaps.
http-server.authentication.type is password.
While using Dbeaver to connect presto https port it requires truststore file.
But when use python configure below parameters it doesn't need ssl verification.
**'protocol': 'https','requests_kwargs': {'verify': False}**
How can enforce the server TLS certificate verification ?  I am using presto 340

[2022-05-26 13:02] radek-starburst commented on #11820
It is one option. However, `combine` is still problematic. Anyway, if do **not** assert `groupId == 0` for `SingleState` that approach works and it resolves all problems I see (for now).

It looks like we have a kind of common version. To sum up our discussion, our proposal changes could be expressed as:

**Make aggregation operators in Trino group oriented instead of not-group oriented. **

Then,

[2022-05-26 13:22] losipiuk commented on #12358
I chatted with @findepi about it and based on quick investigation it looks like no-go.

**For Delta**

 we cannot change default compression to ZSTD as it is not supported by databricks right now. (todo: find exact failures).

**For Hive**

There were bunch of experiments already.
I think most recently there was a try by @electrum in [this PR](https://github.com/trinodb/trino/runs/6414843122?check