[2020-09-22 20:22] bendemott commented on #5268
Hey just to update, one of our users pointed this out to me.

But this is happening with a CTAS against Hive 2.1.1.

A raw "SELECT" statement seems to work fine.
The user told me they have tried with Parquet, and ORC.  Parquet supports BYTE_ARRAY and Hive supports "BINARY" types.
So not sure where the mapping is breaking down?

[2020-09-23 00:03] ebyhr commented on #5268
@losipiuk If I remember correctly, there was no related conversation about `RAW` type.

[2020-09-23 00:09] dain commented on #5111
[code]
#2536

[2020-09-23 01:39] #5225 closed

[2020-09-23 01:40] electrum commented on #5225
I just merged the change to update to Avro 1.9.2

[2020-09-23 05:37] Lewuathe commented on #5072
I have looked into the codebase to see how to get the Glue partition statistics and found `DisabledGlueColumnStatisticsProvider` which was added in https://github.com/prestosql/presto/commit/7fe264725dd20c551637f4d5a4803b7414382722. It looks that was added to extend `GlueColumnStatisticsProvider` to support Glue column statistics when it's available. Is this assumption correct?

[2020-09-23 07:09] kokosing commented on #1057
What Hive version are you using? Can you please share the DDL of that table from Hive, so we could try to reproduce it?

[2020-09-23 07:35] kokosing opened #5275 "Support DELETE in JDBC connectors"
Relates to  https://github.com/trinodb/trino/issues/6993

[2020-09-23 09:08] AvianshKumar commented on #1076
@

hey I am facing same issues. is this resolve?
Ranger version-2.1.0
PrestoVersion:- 331

[2020-09-23 09:30] sopel39 commented on #5072
Yes. Please use `GlueColumnStatisticsProvider`. Later we can remove that extension altogether.

[2020-09-23 09:37] sopel39 commented on #4275
https://github.com/prestosql/presto/pull/5237/checks?check_run_id=1149970099

[2020-09-23 09:37] sopel39 commented on #4275
It looks like related to: https://github.com/prestosql/presto/issues/5172

[2020-09-23 09:38] sopel39 commented on #4586
Looks like related to: https://github.com/prestosql/presto/issues/5172

[2020-09-23 09:38] sopel39 commented on #4386
Looks like related to: https://github.com/prestosql/presto/issues/5172

[2020-09-23 09:40] sopel39 commented on #5111
[code]
https://github.com/prestosql/presto/pull/5237

[2020-09-23 11:18] kasiafi commented on #5209
@hustneed4speed @sopel39 We can decorrelate subqueries with `LIMIT`. However, we've got different implementations for LIMIT 1 and LIMIT greater than 1. The implementation for `LIMIT 1` is less powerful. Specifically, it does not succeed if the subquery returns non-constant output (`b.c2`) in your example.
The implementation for LIMIT greater than 1 can handle it.

Theoretically, we could use the m

[2020-09-23 11:25] sopel39 commented on #5209
The current support for LIMIT 1 was introduced specifically to improve performance of `EXISTS` clause.
Could we use other method when we cannot decorrelate `LIMIT` with more performant method? Do I understand correctly, that the other method requires aggregation on top of join?

[2020-09-23 12:13] kasiafi commented on #5209
I'm not sure if the method we currently use for `LIMIT 1` is more performant than the other.
- the method for `LIMIT 1` replaces `LimitNode` with `AggregationNode` with a single grouping set.
- the method for `LIMIT` greater than `1`replaces `LimitNode` with `RowNumberNode` partitioned on constants.

In neither case there is an aggregation on top of `JoinNode`

You can follow the difference using

[2020-09-23 12:34] sopel39 commented on #5209
That needs to be verified. It looks like `io.prestosql.operator.RowNumberOperator` might consume more memory due to requirement to count partitions (that shouldn't be much more). Also it seems to materialize `rowNumberChannel`.
However, it looks like we could use `RowNumberOperator` where `AggregationNode` cannot be used. I think it's the condition here (`io/prestosql/sql/planner/optimizations/Pla

[2020-09-23 13:41] findepi commented on #3977
Read part is generally done by in https://github.com/prestosql/presto/pull/4953 and will be available in 342.

[2020-09-23 13:42] findepi commented on #5111
[code]

[2020-09-23 14:16] findepi commented on #5271
cc @puneetjaiswal

[2020-09-23 14:39] Praveen2112 commented on #5271
It looks like when we apply a limit for information schema tables, we create a chunk per schema and fetch the tables. For queries without limit we don't chunk it that way so we pass an `Optional.empty` for prefix .

SheetMetadata#listTables can be like this
[code]

Not sure if this is the right approach for this issue.

[2020-09-23 15:41] findepi opened #5278 "Implement AbstractTestIntegrationSmokeTest for Google Sheets connector"

[2020-09-23 15:42] findepi commented on #5271
would https://github.com/prestosql/presto/issues/5278 help find the issue earlier?

[2020-09-23 17:14] Praveen2112 commented on #5271
Yes `testSelectInformationSchemaTables` would have captured this issue.

[2020-09-23 19:07] electrum commented on #5111
[code]
#5142

[2020-09-23 19:09] electrum commented on #5111
[code]
#5060

[2020-09-23 19:11] electrum commented on #5111
[code]
#5273

[2020-09-23 19:30] kosinsky commented on #4796
File based system access control solves problem only partially:
* It denies access to the tables, but they are still visible it causes confusion for end-users
* `@cat1#` pattern allows to access non default catalogs from Hive Metastore

That is a problem tho - "It could lead to strange situations such as a user creating a new schema that is not matched by the filtering pattern."

[2020-09-23 19:32] gustavoatt commented on #1057
@kokosing I'm using Hive 2.3.4. Here is a set of commands to reproduce the error:

[code]

Basically the issue appears after we add a column to a Hive CSV table and insert data into it. Once that happens we are not able to read data from Presto anymore.

[2020-09-23 22:53] jim12321 commented on #1478
I really have to agree with @pedersen here.  I am trying to do partition swapping and it would be very helpful if I could just use presto to get the answer of what the location is of the partition is so I know where to swap it too.

[2020-09-24 00:01] jim12321 commented on #1478
One cheat is create a second partition that can use the location string as the partition name.

[2020-09-24 08:17] kokosing commented on #4796
@kosinsky Can you please try to check https://github.com/prestosql/presto/pull/5039 and see if it helps to you?

[2020-09-24 13:27] sopel39 commented on #5111
[code]
https://github.com/prestosql/presto/pull/5262

[2020-09-24 15:09] mosabua commented on #5111
This is way too long @sopel39 .. please move this into the docs and then link to it

[2020-09-24 19:30] #5111 closed

[2020-09-24 19:50] martint opened #5290 "Release notes for 343"

[2020-09-25 06:24] vatsalmevada commented on #5165
@findepi I would like to work on this.

[2020-09-25 08:09] findepi commented on #5212
Thanks @amommendes!

[2020-09-25 08:09] #5212 closed

[2020-09-25 09:54] leoChaoGlut opened #5295 "Failure when accessing a bucketed table with timestamp columns: "TIMESTAMP precision must be in range [0, 12]""
Upgrade from 339 to 342, Error occured as below:

[code]

[2020-09-25 10:07] leoChaoGlut commented on #5295
table DDL as below:

`
     Column     |     Type      |     Extra     |  Comment
----------------+---------------+---------------+------------
 sheetid        | varchar       |               | ?????
 sheettype      | bigint        |               | ????
 sdate          | timestamp(3)  |               | ????
 saledate       | timestamp(3)  |               | ??????
`

when executing sql: "desc tabl

[2020-09-25 10:09] alexku7 commented on #5246
This is exactly what we requested here https://github.com/prestosql/presto/issues/5230 :)

So just for reference

[2020-09-25 11:27] #1759 closed

[2020-09-25 11:47] findepi commented on #5295
The failure occurs on a bucketed table with a timestamp column.
cc @aalbu

[2020-09-25 11:58] findepi commented on #5295
Will be fixed by https://github.com/prestosql/presto/pull/5297

[2020-09-25 11:58] findepi commented on #5295
thanks @leoChaoGlut for your report!

[2020-09-25 14:59] RohanMenon commented on #5256
Hi! I'm looking forward to working on this. Wanted to ask this: any restriction for using plugins like Okta here?

[2020-09-25 15:28] findepi commented on #5256
@RohanMenon nice! let's only make sure @Praveen2112 is not working on it (Praveen had some questions about this offline)

what would Okta be for here?

[2020-09-25 15:33] RohanMenon commented on #5256
This is my first time working on such a migration. So to gain some background, one of my search results led to using Okta plugin for this. Hence the question 😄

[2020-09-25 18:15] #5295 closed

[2020-09-25 19:11] findepi commented on #5290
[code]

https://github.com/prestosql/presto/pull/5297 https://github.com/prestosql/presto/issues/5295

[2020-09-25 19:53] findepi commented on #5290
[code]

https://github.com/prestosql/presto/pull/5299

[2020-09-25 19:57] findepi commented on #5256
@Praveen2112 would you be able to provide guidance here?

[2020-09-25 23:05] #5290 closed

[2020-09-25 23:23] electrum commented on #5246
@alexku7 no, it's the same feature request but a completely unrelated component, so they will require separate implementations.

[2020-09-25 23:27] electrum commented on #5230
We can implement this by adding a new config `internal-communication.https.hostname-verification` to `InternalCommunicationConfig` (which defaults to true). Then `InternalCommunicationModule` needs to call the existing method `setVerifyHostname()` on `HttpClientConfig`.

Note that you can do this today by manually setting `xxx.http-client.https.hostname-verification=false` for all of the internal

[2020-09-26 00:33] martint opened #5302 "Release notes for 344"
## Dain Sundstrom
- [ ] all checked
-  09-28 14:29:17    2fa1305220 Cleanup file based password authenticator
-  09-28 14:29:17    5961d29d3d Add file group provider
-  10-06 19:27:08    0a5d1314bd Change file access control to consistently use snake case
-  10-06 19:27:08    19bdc50dc2 Fix system file create schema check
-  10-06 19:27:08    1f302022d5 Only show catalog if user has schema or tabl

[2020-09-26 02:48] amommendes commented on #1971
Hey @findepi, is this PR still open? Inspecting the code, we already have `NamenodeStats` being exported in `HiveHdfsModule`. Probably I'm missing something, but here do we need to implement more statistics (as we have for `PrestoS2FileSystem`)?

[2020-09-26 16:26] Praveen2112 commented on #5256
Yes !! I would love to.

[2020-09-26 17:15] shandeep00 commented on #4674
Thanks @martint for the reply, if it contains more than 1 character we can return unicode for the 1st or leftmost character like other DB's are supported, please correct me if I am missing something here.

[2020-09-26 18:31] martint commented on #4674
In that case, it should fail with an error to avoid surprising (incorrect) results due to ignoring input. If the user wants to strip the first character they should do it explicitly with `substr`.

[2020-09-27 01:09] #5242 closed

[2020-09-27 09:22] mohammedtabish commented on #5246
Hey, can i start working on this?

[2020-09-27 17:33] shandeep00 commented on #3700
@andyc-indeed can you please tell the steps to reproduce this.

[2020-09-27 18:01] findepi commented on #1971
`NamenodeStats` expose only few operations (file metadata queries). We could want HDFS stats like file open, or read operations (data throughput).
cc @sopel39

[2020-09-27 18:44] RohanMenon commented on #5256
@Praveen2112 Is this https://fbernutz.github.io/posts/github-actions/ an appropriate resource for this?

[2020-09-27 19:44] iammehrabalam commented on #1076
@AvianshKumar
Create two separate policy as follows
1. A policy with access to all catalog, schema, and tables to all users.
2. A policy with access to all functions to all users.  (for all users use choose {USER} in the select user input box).

Then create actual policy and add restrictions on catalog, schema, tables, and columns for users.
Hope this will help.

[2020-09-27 19:47] findepi opened #5310 "Failure in timestamp to timestamp cast edge case: picosOfMicro must be < 1_000_000"
[code]

[2020-09-28 02:44] #4480 closed

[2020-09-28 02:46] martint commented on #5302
[code]

[2020-09-28 03:11] jetsasank commented on #5165
I tried fixing this issue in https://github.com/prestosql/presto/pull/5312.

[2020-09-28 07:29] Leeviiii commented on #3663
i have met ..there is any method to solve this question?

[2020-09-28 07:33] Leeviiii commented on #3663
this is a '=' in my password? do it matter?

[2020-09-28 07:39] findepi commented on #3663
@Leeviiii

although in properties file you can escape it as `\=`, it shouldn't matter if you do not.
Does it contain also backslash `\` or any whitespace?

[2020-09-28 07:40] findepi commented on #3663
BTW I will close this as not-an-issue in Presto, unless someone can provide some repro steps.
(the issue is not actionable in its current form)

We can continue conversation here, or on `#troubleshooting` channel on [our slack](https://prestosql.io/slack.html).
See you there!

[2020-09-28 07:40] #3663 closed

[2020-09-28 07:47] Leeviiii commented on #3663
connector.name=mysql
connection-url=jdbc:mysql://ip:port
connection-user=user
connection-password=passwdxx=
this is my conf

[2020-09-28 08:11] findepi opened #5313 "Wrong exception message when ResultSet.getDate called on a TIMESTAMP or TIME value"
[code]

~should be something like "Expected column to be a date type but is time"~

[2020-09-28 08:14] findepi opened #5315 "Wrong exception when calling ResultSet.getTimestamp on TIME value"
[code]

should be `SQLException`

[2020-09-28 08:18] findepi opened #5316 "Update documentation for parametric TIME WITH TIME ZONE"
https://prestosql.io/docs/current/language/types.html#time-with-time-zone

[2020-09-28 08:19] findepi opened #5317 "Wrong message when reporting parametric TIMESTAMP or TIME WITH TIME ZONE in JDBC"
eg

[code]

the type is written as `time with time zone(0)`
but should be `time(0) with time zone`

[2020-09-28 08:21] sopel39 commented on #5302
[code]
https://github.com/prestosql/presto/pull/5289

[2020-09-28 08:29] sopel39 opened #5319 "Choose whether to use WindowOperator or TopNRowNumberOperator based on stats"
`TopNRowNumberOperator` is very memory inefficient when most of the groups are singletons or contain just few rows. In such case it's better to use `WindowOprator`. Behavior which operator to use is determined by `optimize_top_n_row_number` toggle. We could add `optimize_top_n_row_number=AUTO` option which would trigger usage of CBO to determine whether to use `TopNRowNumberOperator` or `WindowOpr

[2020-09-28 08:46] findepi opened #5320 "Remove usages of assertThrows"
`org.testng.Assert#assertThrows` encourages very relaxed testing for expected exceptions, which may lead (and has lead) to masking real problems.

Expected exceptions should be tested using `org.assertj.core.api.Assertions#assertThatThrownBy`:
[code]

[2020-09-28 08:46] findepi commented on #5320
Note:
in case of **one-liners** it's OK to use `@Test(expectedExceptions = IllegalArgumentException.class, expectedExceptionsMessageRegExp = "Foo is invalid")`
but it's **not recommended** -- the patter works correctly for one-liners only and needs to be converted to `assertThatThrownBy` as soon as any preparatory code needs to be added to the test, so it's recommended to write using  `assertThatT

[2020-09-28 09:05] #5310 closed

[2020-09-28 09:08] findepi commented on #5302
[code]

https://github.com/prestosql/presto/issues/5310 https://github.com/prestosql/presto/pull/5311

[2020-09-28 09:31] sopel39 commented on #5302
[code]
https://github.com/prestosql/presto/pull/5081

[2020-09-28 10:10] findepi commented on #37
There are some TODOs left in the code.

[2020-09-28 13:15] Praveen2112 commented on #5256
@RohanMenon Yes we can check that too. We can also check on how we migrate for projects like Slice
Ref : https://github.com/airlift/slice/pull/123

[2020-09-28 14:08] amommendes commented on #1971
Great!

[2020-09-28 15:01] STTianXiang opened #5328 "Can Spark read data using Presto JDBC?"
I'm a rookie.

At present, I use Presto to complete the processing through Java program using JDBC..

Can I use spark.read().format(" JDBC ")?

How do I define Kerberos authentication in Option?

Like this.

SparkSession spark = SparkSession
                .builder()
                .appName("test_spark_jdbc_presto")
                .getOrCreate();

        Dataset<Row> dataset = spark.read()

[2020-09-28 18:37] rafatmunshi commented on #5315
I would like to work on this. You just need the type of exception changed right?

[2020-09-28 20:55] findepi commented on #5315
Hm... looking at the javadoc for `java.sql.ResultSet#getTimestamp(int)` again.
The javadoc does not mandate use of SQLException in this case.
@rafatmunshi would you be able to check what's eg PostgreSQL's and Oracle's JDBC behavior here?

[2020-09-29 00:35] mosabua commented on #4716
This feature is not desirable to be used and not documented on purpose. Secrets should be used instead. Closing the issue therefore.

[2020-09-29 00:35] #4716 closed

[2020-09-29 01:06] ebyhr opened #5333 "Implement COMMENT ON COLUMN in JDBC based connector"
- [x] ClickHouse https://github.com/trinodb/trino/pull/10641
- [x] Druid (not supported)
- [ ] MemSQL (@shandeep00)
https://docs.memsql.com/v7.1/reference/sql-reference/data-definition-language-ddl/alter-table/
- [ ] MySQL (#5383)
https://dev.mysql.com/doc/refman/8.0/en/alter-table.html
- [x] Oracle (#5399)
https://docs.oracle.com/cd/B19306_01/server.102/b14200/statements_4009.htm
- [x] Phoenix (n

[2020-09-29 01:15] ebyhr opened #5334 "Support setting column comment when creating table in JDBC based connector"
Currently, it's ignored silently. We need to consider some RDBMS doesn't support setting a column comment in CREATE TABLE (e.g. PostgreSQL).

https://github.com/prestosql/presto/blob/22717c61419c851b1c3814b60a3453b22d4a45ef/presto-base-jdbc/src/main/java/io/prestosql/plugin/jdbc/BaseJdbcClient.java#L477

https://github.com/prestosql/presto/blob/22717c61419c851b1c3814b60a3453b22d4a45ef/presto-base-

[2020-09-29 01:47] ebyhr commented on #5328
Yes, you can connect to Presto via JDBC format. Please try appending `url` connection string as `jdbc:presto://127.0.0.1:8080/catalogs/schemas?KerberosRemoteServiceName=...`.

It's troubleshooting than issue. Could you please join https://prestosql.io/slack.html and ask in `#troubleshooting` channel?

[2020-09-29 01:47] #5328 closed

[2020-09-29 03:05] dain commented on #5302
[code]
#5028

[2020-09-29 03:35] ebyhr commented on #5302
[code]

#5307

[2020-09-29 07:41] tooptoop4 opened #5336 "Apply caching to certain schemas/tables only"
would be great if a list of schemas/tables could be defined in config of which caching is enabled on, instead of enabling caching on an entire catalog

[2020-09-29 07:55] raunaqmorarka commented on #5336
Currently Rubix (assuming you're asking about hive cache) does not have awareness of schema and table, it works on file paths.
Rubix has the below configs to either exclude specific locations from cache or include only certain locations in cache.
[code]
We can provide regex strings here. These configs have to be setup in the `hive.config.resources` file.

[2020-09-29 08:34] agrawalreetika commented on #5334
I would like to work on this, could you please let me know for which JDBC based connector we have to add this support?

[2020-09-29 08:42] agrawalreetika commented on #5333
@ebyhr, I would like to work on this. Could you please let me know if the issue is different from #5334?

[2020-09-29 08:44] sopel39 commented on #5336
We can do table whitelisting/blacklisting by looking at `HdfsContext` at `io.prestosql.plugin.hive.rubix.RubixConfigurationInitializer#updateConfiguration` and enabling/disabling Rubix accordingly. `HdfsContext` contains table and schema information

[2020-09-29 08:50] sopel39 commented on #5302
[code]
https://github.com/prestosql/presto/pull/5260

[2020-09-29 08:56] ebyhr commented on #5333
@agrawalreetika While #5334 is for CREATE TABLE, this ticket's objective is supporting COMMENT ON TABLE. I think this ticket is easier than #5334.

[2020-09-29 09:19] findepi opened #5337 "Invalid value returned from Presto for PostgreSQL TIME 24:00:00"
PostgreSQL:

[code]

Presto
[code]

This returns `24:00:00` which is not a valid value for Presto TIME type.

[2020-09-29 09:27] findepi commented on #5337
I am wrong, this is nicely handled by https://github.com/prestosql/presto/blob/dff8506c4391364d71250d9be9d2803ca379b4d4/presto-base-jdbc/src/main/java/io/prestosql/plugin/jdbc/StandardColumnMappings.java#L374

[2020-09-29 09:27] #5337 closed

[2020-09-29 10:00] findepi opened #5339 "Incorrect aggregation result when grouping by PostgreSQL TIME in presence of 24:00:00 values"
PostgreSQL

[code]

Presto
[code]

but:
[code]

while same with aggregation pushdown disabled
[code]

[2020-09-29 10:49] losipiuk commented on #5302
[code]
https://github.com/prestosql/presto/pull/4805

[2020-09-29 12:46] tooptoop4 commented on #5336
this would be great because some tables are too large(expensive) to cache on local disk but smaller tables would benefit from the cache

[2020-09-29 13:15] pysenic opened #5343 "Cluster memory configuration question"
I have a Presto cluster(version 332)

**coordinator*1** :
* 16c32g
* JVM -Xmx20g
* node-scheduler.include-coordinator=false
* query.max-memory-per-node=5GB   _// jvm*0.25_
* memory.heap-headroom-per-node=4G   _//j vm*0.2_
* query.max-total-memory-per-node=8GB  _// jvm*0.4_
* query.max-memory=32GB _// works number * query.max-memory-per-node * 0.8_

**works*2**:
* 32c128g
* JVM -Xmx80g
* query.max-

[2020-09-29 14:28] findepi opened #5345 "Document information_schema"

[2020-09-29 14:54] ebyhr commented on #5334
@agrawalreetika Basically, all classes extending BaseJdbcClient class, but you don't need to implement all at once (= you can separate into several PRs).

[2020-09-29 15:33] findepi commented on #5334
I think it was a deliberate decision at that time.

let's make sure we  agree on the expected end result before working on this.

[2020-09-29 15:35] findepi commented on #5343
This isn't really an issue but a question.
Let's move this to `#general` channel on [our slack](https://prestosql.io/slack.html).
See you there!

[2020-09-29 15:35] #5343 closed

[2020-09-29 16:26] tedyu opened #5346 "Presto server may not start when there is Error parsing schema"
I configured Presto server to connect to Cassandra backend (using https://repo1.maven.org/maven2/io/prestosql/presto-server/309/presto-server-309.tar.gz).

The server didn't start, due to:
[code]
It seems Presto should bypass the schema which it cannot analyze.

[2020-09-29 20:31] findepi commented on #5346
The stacktrace is from query execution, not the server startup.
I guess the server actually did start.

What is the query you are trying to execute?

[2020-09-29 21:02] tedyu commented on #5346
Cassandra side was running when Presto server started.
I hadn't issued any query myself at that time.

[2020-09-29 21:19] joeledwards opened #5351 "The EventListener plugin does not deliver events for all queries"
Version: Starburst Presto 338-E.0 (not sure how this maps to the OS version)

Most events which result in a terminal state of `FAILED` for a query are also reported to the EventListener plugin. However, there are cases where a query fails and the EventListener never receives a notification.

My most recent observation involved four different queries, all of which ended up in `FAILED` state due to

[2020-09-30 01:45] ebyhr opened #5352 "Add support for YugabyteDB connector"
They offers JDBC drivers, but it has `BETA` label for now.
https://docs.yugabyte.com/latest/reference/drivers/yugabytedb-jdbc-driver/

Another option is using Java client driver that is based on DataStax's one (similar to the current Cassandra connector).
https://docs.yugabyte.com/latest/reference/drivers/ycql-client-drivers/#java

Related to #4836 #4838

[2020-09-30 01:54] ebyhr commented on #5346
I guess someone connected to Presto and the tool executed a query to list tables automatically. Can you share the entire server log using gist or something?

[2020-09-30 02:13] tedyu commented on #5346
I didn't keep the whole server log.

I am looking for procedure of deploying Presto server built from tip of Presto git repo (since presto-server-309 was relatively old).

If you can outline the plan for Yugabyte DB connector, that would be nice.

Thanks

[2020-09-30 03:44] shandeep00 commented on #5333
@ebyhr @agrawalreetika anyone working on support for Mysql?

[2020-09-30 04:34] ebyhr opened #5353 "Document field quote example for MongoDB _schema collection"
We sometimes get question about MongoDB field case sensitivity in `_schema` collection. It would be better to document it explicitly. While auto generated schema will be quoted automatically, some people miss the rule when they are fixing the collection manually.
[code]

[2020-09-30 04:57] agrawalreetika commented on #5333
@shandeep00 I have started looking into changes for implementing comment on a column in MySQL, will raise PR soon

[2020-09-30 05:03] shandeep00 commented on #5333
cool, maybe this can help u started, https://www.tutorialspoint.com/How-can-we-use-MySQL-ALTER-TABLE-command-for-adding-comments-on-columns

[2020-09-30 07:22] kokosing opened #5354 "Flaky TestHiveTransactionalTable.testReadFullAcidPartitionedBucketed() didn't finish within the time-out 600000"
[code]

[2020-09-30 08:26] findepi opened #5356 "Add verification to new Parquet writer"
This should work with same as verification in the ORC writer.

[2020-09-30 08:27] findepi opened #5357 "Implement variable precision timestamp handling for optimized Parquet writer"
https://github.com/prestosql/presto/pull/5283 implements the write path for variable precision timestamps, but not for the optimized Parquet writer.

tests to be added

- Enable nanosecond timestamp unit tests to run against Optimized Parquet Writer
- Update `TestHiveStorageFormats.storageFormatsWithNanosecondPrecision` to not filter out optimized storage formats.

[2020-09-30 09:22] findepi opened #5359 "Insufficient column name quoting in Phoenix connector"
[code]

[2020-09-30 10:12] findepi commented on #5168
@martint please define the overall approach so that someone can work on this

[2020-09-30 11:13] sopel39 commented on #5302
[code]
https://github.com/prestosql/presto/pull/5341

[2020-09-30 11:41] #4596 closed

[2020-09-30 11:57] findepi commented on #5313
@jetsasank found out that PostgreSQL JDBC behavior is dependent on actual value, not the type
i checked same applies to Oracle JDBC

so the message should be different, see https://github.com/prestosql/presto/pull/5335/files#r497450122

[2020-09-30 12:10] findepi opened #5361 "Document usage instructions for Presto on docker"

[2020-09-30 12:12] findepi commented on #5346
You can use https://hub.docker.com/r/prestosql/presto

or just check out master, build it and run from IDE -- https://github.com/prestosql/presto#running-presto-in-your-ide

Let's gather action items in https://github.com/prestosql/presto/issues/5352 (eg items with checkboxes)

let's close this issue.
please reopen if you have more information

[2020-09-30 12:12] #5346 closed

[2020-09-30 12:26] sopel39 commented on #5302
[code]
https://github.com/prestosql/presto/pull/5340

[2020-09-30 13:39] RohanMenon commented on #5256
Got it. Will go through that too. Thanks!

[2020-09-30 13:56] tedyu commented on #5346
Using IDE doesn't seem to be ideal since I perform the deployment on (remote) Linux.

[2020-09-30 14:04] tedyu commented on #5352
Using yugabyte JDBC driver seems to be better.

@ebyhr
Is there any desired change for yugabyte JDBC driver ?

thanks

[2020-09-30 16:14] tedyu commented on #5352
Suggested change for presto-cassandra-driver to connect to Yugabyte DB:
[code]

[2020-09-30 16:18] ebyhr commented on #5352
@tedyu I don't think we can replace the dependency. We need to create new connector.

[2020-09-30 16:23] tedyu commented on #5352
Agreed to creating new connector for Presto.

The Yugabyte JDBC driver covers both YCQL (for Cassandra) and YSQL (for Postgres).
The Beta label is for some YSQL feature to be added.

For YCQL, Presto should be able to use Yugabyte JDBC driver.

[2020-09-30 16:54] tedyu commented on #5352
@ebyhr
Do you mind creating a new connector for Yugabyte DB (via Yugabyte JDBC driver) ?

Thanks

[2020-09-30 20:35] electrum commented on #4173
https://github.com/prestosql/presto/runs/1188836626

[2020-10-01 00:11] sumit-gupta-sgt opened #5367 "Support kerberos authentication for Kudu connector."
My Kudu Cluster is Kerberos enabled, Do we have support for enable Kerberos in kudu catalog file?

[2020-10-01 02:41] ebyhr commented on #5367
Going to close as duplicate of #1237. There is an ongoing PR #3549.

[2020-10-01 02:41] #5367 closed

[2020-10-01 09:58] sopel39 opened #5368 "Make TupleDomain.simplify smarter"
Currently, simplify uses a global range (for range set) when there are too many elements in domain. However, this can lead to extremely wide domains (e.g covering entire data set) even though original domain contained only dozens of elements (including some outliers).

When such simplified global range (all-selective) is pushed to JDBC connector then it would cause evaluating of condition on entir

[2020-10-01 10:26] findepi opened #5369 "Implement AbstractTestDistributedQueries for MemSQL connector"
Add `TestMemSqlDistributedQueries`

[2020-10-01 10:27] findepi commented on #5369
A stub of the implementation would be
[code]

This shows a number of issues and missing features in the MemSQL connector, which need to be addresed.

[2020-10-01 10:47] findepi opened #5371 "Failure in timestamp with time zone to timestamp with time zone cast edge case: picosOfMicro must be < 1_000_000"
[code]

[2020-10-01 10:52] sopel39 opened #5372 "Use local limit instead of local Top N if stream is sorted on ordering column"
When stream is sorted on ordering column, it is possible to use partial `Limit` operator instead of partial `TopNOperator`. This allows to quickly skip splits in source stage.

[2020-10-01 10:57] guyco33 commented on #1489
Same issue  for ```system.register_partition``` and for ```system.unregister_partition```

[2020-10-01 13:31] findepi opened #5373 "QueryAssert.isCorrectlyPushedDown does not work correctly with session"
1. create session with a catalog property (`io.prestosql.Session.SessionBuilder#setCatalogSessionProperty`)
1. provide session to `io.prestosql.testing.AbstractTestQueryFramework#query(io.prestosql.Session, java.lang.String)`
1. invoke `io.prestosql.sql.query.QueryAssertions.QueryAssert#isCorrectlyPushedDown`

then the query plan is calculated with session not having that property

[2020-10-01 14:18] sopel39 commented on #5368
As a first step we can skip simplification of sparse domains

[2020-10-01 14:26] findepi commented on #5302
[code]
https://github.com/prestosql/presto/pull/5364

[2020-10-01 18:10] kosinsky commented on #4796
Looks like `testSchemaRulesForCheckCanShowSchemas` in #5039 tests that schemas that people don't have access will be hidden. That should cover my scenario.

[2020-10-01 18:10] #4256 closed

[2020-10-01 18:11] mosabua commented on #4256
Doc PR merged. Will be published with next release

[2020-10-01 18:17] #5371 closed

[2020-10-01 18:22] findepi commented on #5302
[code]

https://github.com/prestosql/presto/issues/5371 https://github.com/prestosql/presto/pull/5342

[code]

https://github.com/prestosql/presto/pull/5342

[2020-10-01 18:55] findepi commented on #4927
https://github.com/prestosql/presto/pull/runs/1194570748

[code]

[2020-10-01 20:26] DRavikanth opened #5384 "Having trouble with user impersonation on LDAP"
Presto Version - 341
Configured with LDAP for authentication.

I have been using Hue & Superset which relies on SQLAlchemy to connect to Presto. However, both these tools fail to perform/adhere to user impersonation in Presto. I have added the needed settings for impersonation as mentioned in https://prestosql.io/docs/current/security/file-system-access-control.html#impersonation-rules

I didn't f

[2020-10-01 20:37] findepi commented on #5384
FWIW I am from Starburst and am unable to make a connection between Starburst and https://github.com/dropbox/PyHive/pull/309

If more changes is needed on PyHive side, this needs to be reported to https://github.com/dropbox/PyHive

If a change is needed on Presto side to make things work, we need to know what kind of changes are needed.
@DRavikanth can you perhaps engage with PyHive community to c

[2020-10-01 22:09] alec-heif opened #5386 "Regexp functions should work on CHAR terms in addition to VARCHAR terms"
Steps to reproduce:

[code]

I think this is because the functions in `JoniRegexpFunctions` and `Re2JRegexpFunctions` only declare support for varchar(x) types, where they should actually probably overload to accept either char(x) or varchar(x). Notably, they do overload the regexp term, so the following does work:

[code]

and other non-regexp commands that take a string also accept chars, e.g.

[2020-10-01 22:22] alec-heif commented on #5386
this is not a particularly urgent issue for my use case, but we noticed it when we started using the postgres connector against an existing table that had been created with fixed-length CHAR types. would be a nice convenience to not have to cast these to VARCHAR just to be able to regex match against them.

[2020-10-01 22:35] anmtan commented on #1791
@electrum Thanks for the update. Do I set `password-authenticator.config-files=file1,file2` in config.properties? I have tried that but failed with  `Configuration property 'password-authenticator.config-files' was not used`. I guess the version that I am using does not have this feature. Which version has this feature?

[2020-10-01 23:09] tooptoop4 commented on #5384
https://github.com/apache/incubator-superset/pull/9422 works, been using that patch in prod for months

[2020-10-01 23:21] tooptoop4 opened #5388 "feature req - allow single table view to inherit $partitions from underlying table"
I have a number of views defined like below (pseudocode):

create view vw_abc as select a,b,c,cast(columnD from unix epoch to timestamp),e from table tbl_abc;

create view vw_xyz as select a,cast(columnB from string to timestamp),c from table tbl_xyz;

The underlying tables are partitioned, but values that are meant to be timestamps are in string/long data types (that is why using functions as sho

[2020-10-02 01:30] jirassimok commented on #5168
The most common operation we use on picoseconds is unit conversion: I think a straightforward solution would be a `Picoseconds` (or `Picos`) utility class with an API similar to `TimeUnit`.

We'd want `toNanos`, `toMillis`, etc, and either the corresponding `from` functions or `convert(long, TimeUnit)` (like `TimeUnit.convert`<sup>1</sup>). Because we frequently round during these conversions, we'

[2020-10-02 02:27] electrum commented on #1791
@anmtan This is an issue explaining a feature to be implemented — it’s not available yet.

[2020-10-02 06:43] DRavikanth commented on #5384
Thanks @tooptoop4 for the comment. I checked the code in the master branch and I didn't find the changes in there. Is this code merged to master or part of any release? I see master branch code still pointing to 0.4.0 version of PyHive. Any information would help. We are using docker image and managing Superset deployment on K8s.

[2020-10-02 08:47] tooptoop4 commented on #5384
it is not merged, u can do local patch

[2020-10-02 13:41] #5373 closed

[2020-10-02 14:08] fprivitera opened #5394 "ADD geospatial functions to serialize Geometry into geojson"
as per title.
it is a useful function available in other Presto versions that can be very useful.
At the moment it is very useful to export Geometries in WKT, which is a widely accepted format in Python environments, but in other cases, for instance handling geojson in Spark or in web visualization layers, geojson is far the most used format.

Below you can find an example from another presto vers

[2020-10-02 14:59] findepi commented on #5388
Additionally to:

you can also
[code]

would that address users' needs?

[2020-10-02 15:20] findepi commented on #5352
Since Yugabyte is different from Cassandra, yes we should have dedicated connector.
Does Yugabyte aims for _maintaining_ JDBC and behavior compatibility with Cassandra (also for future Cassandra changes)
If yes, we could perhaps consider creating Yugabyte connector which extends Cassandra connector.
We should also consider copying the connector -- as we did for eg MemSQL (https://github.com/presto

[2020-10-02 15:55] tedyu commented on #5352
Yugabyte does plan to maintain JDBC and behavior compatibility with Cassandra.

The suggested change in https://github.com/prestosql/presto/issues/5352#issuecomment-701493224 references cassandra-driver-core maintained by yugabyte.
This is for the Presto Yugabyte connector (to be created in new repo).

[2020-10-03 08:31] photogamerun opened #5400 "Presto 332 coordinator has non heap memory leak"
![image](https://user-images.githubusercontent.com/16651123/94986911-17a6b780-0595-11eb-9bbe-235d320644b3.png)
hello every one

when I open native memory tracing

I run jcmd baseline to tracing the memory usage ,I found reserved memory is larger than heap memory, and Internal type become larger and larger when I compare the diff with baseline.

I have no I idea how to found what in presto coordina

[2020-10-03 16:32] Praveen2112 commented on #5359
Can we close this, a similar issue is raised in #3466

[2020-10-03 18:07] findepi commented on #5302
[code]

https://github.com/prestosql/presto/pull/5375

[2020-10-03 18:18] #5359 closed

[2020-10-04 07:18] j4ckofalltrades commented on #5320
@findepi Can you assign this issue to me? I'd like to pick this up.

[2020-10-04 08:42] j4ckofalltrades commented on #1204
@findepi Is it okay if I pick this up?

[2020-10-04 12:59] findepi commented on #4586
Closing in favor of https://github.com/prestosql/presto/issues/5172

[2020-10-04 12:59] #4586 closed

[2020-10-04 18:03] #4975 closed

[2020-10-04 18:04] martint commented on #5302
[code]

[2020-10-04 18:07] findepi commented on #5320
@j4ckofalltrades thanks, go for it!

[2020-10-04 18:08] findepi commented on #1204
@j4ckofalltrades thanks!

[2020-10-04 18:27] findepi commented on #4936
`TestHivePartitionsTable.testShowPartitionsFromHiveTableWithTooManyPartitions` failed in https://github.com/prestosql/presto/runs/1205417196

[code]

[2020-10-05 06:27] Gabitchov commented on #1491
Hello,

Is this one always relevant?

[2020-10-05 08:50] tooptoop4 commented on #5336
@raunaqmorarka does rubix.cache.location.whitelist already exist in presto ?

[2020-10-05 09:48] raunaqmorarka commented on #5336
`rubix.cache.location.blacklist` and `rubix.cache.location.whitelist` are Rubix configs which need to be specified via the `hive.config.resources` file in Presto.

[2020-10-05 10:38] #4973 closed

[2020-10-05 13:30] findepi commented on #4275
Closing in favor of https://github.com/prestosql/presto/issues/5172

[2020-10-05 13:30] #4275 closed

[2020-10-05 13:31] findepi commented on #4386
Closing in favor of https://github.com/prestosql/presto/issues/5172

[2020-10-05 13:31] #4386 closed

[2020-10-05 14:15] Praveen2112 commented on #5257
Fixed in https://github.com/prestosql/benchto/pull/16

[2020-10-05 14:15] #5257 closed

[2020-10-05 14:28] findepi commented on #1977
https://github.com/findepi/presto/runs/1206332230?check_suite_focus=true

[2020-10-05 21:06] kokosing opened #5422 "Product test launcher hung when stopping"
[code]

[2020-10-06 03:10] martint commented on #5302
[code]

https://github.com/prestosql/presto/pull/5046

[2020-10-06 07:25] eskabetxe commented on #4568
@findepi I think this is related to this https://stackoverflow.com/questions/6110395/sqlrecoverableexception-i-o-exception-connection-reset

[2020-10-06 07:47] kokosing opened #5424 "Flaky TestCoordinatorDynamicFiltering.testSemiJoinWithMultipleDynamicFiltersOnProbe"
[code]

[2020-10-06 07:48] kokosing commented on #5424
@sopel39 Are familiar with this?

[2020-10-06 08:03] findepi commented on #4568
@eskabetxe good find.
The first solution sounds more viable, as the tests/driver do not run dockerized.

[2020-10-06 08:07] kokosing commented on #5302
[code]
#5416

[2020-10-06 09:35] sopel39 commented on #5424
Yes, I will take a look at it.

[2020-10-06 11:42] findepi opened #5426 "Product tests with Glue Metastore"
`TestHiveGlueMetastore` is good for low-level tests of the Hive connector

however, we should also have test with Glue, with hive runtime (product tests):

- ability to test against tables  that are create-able from Hive, but not from Presto
- ability to test Presto behavior end-to-end, eg including information_schema behavior

[2020-10-06 12:03] kokosing opened #5427 "Flaky: product tests fail with `MapRedTask. Error caching map.xml: java.nio.channels.ClosedByInterruptException`"
[code]

form `pt (config-default, suite-1)`

[2020-10-06 12:05] kokosing commented on #5427
It looks like the issue is on Hive/Hadoop side.

It happened with: https://github.com/prestosql/presto/pull/5421

@wendigo Do capture logs? How can I access them?

[2020-10-06 12:06] kokosing commented on #5422
I hope #5421 fixed this. Please reopen if I am wrong.

[2020-10-06 12:06] wendigo commented on #5427
@kokosing you can't. This requires changes in the workflow. First step is here:

[2020-10-06 12:22] sopel39 opened #5429 "DFs received by coordinator are unacked"
Currently, coordinator fetches DF delta between local version and worker version. Coordinator sends it's local version as part of DF request. Worker is free to remove stored DFs based on coordinator local version. However, coordinator does not acknowledge received DFs until next DF is available. Therefore workers can keep DFs locally longer then needed.

This can be resolved by worker artificially

[2020-10-06 13:16] pgagnon opened #5431 "Add tests to cover Snowflake connector"
Please make sure there is an issue to cover SF testing.

_Originally posted by @findepi in https://github.com/prestosql/presto/pull/2551#issuecomment-704236731_

[2020-10-06 14:24] mhlaskar1991 opened #5433 "Presto JDBC does not have support for prepareCall"
Presto JDBC does not have support for prepareCall which is required to call procedures

[2020-10-06 15:42] findepi commented on #5433
Currently available API is to call them via `Statement`:

For example

[code]

However, we should support `prepareCall` too.

[2020-10-06 18:43] kokosing commented on #5427
Another example:
[code]
From: https://github.com/prestosql/presto/pull/5330

[2020-10-06 21:28] rafatmunshi commented on #5315
Hi, checked Oracle and Postgres JDBC docs. Both mention throws SQLException. Logically also I believe it should throw SQLException only as you suggested @findepi .  So I think we just need to change the Exception type in the file and do the relevant change in the tests. Hope I am not missing something?

[2020-10-06 21:35] rafatmunshi commented on #5313
@findepi so it should be like- "Expected value to be a date but is" + value ?

[2020-10-07 04:22] dain commented on #5302
[code]
#5039

[2020-10-07 06:42] #4760 closed

[2020-10-07 09:03] sopel39 commented on #5302
[code]
https://github.com/prestosql/presto/pull/5434

[2020-10-07 10:01] ebyhr commented on #5302
[code]

#3601

[2020-10-07 10:17] findepi commented on #5313
@rafatmunshi @jetsasank yes

[2020-10-07 10:18] findepi commented on #5313
@rafatmunshi see WIP PR https://github.com/prestosql/presto/pull/5335

[2020-10-07 11:27] jaspreet997 opened #5443 "GENERIC_INTERNAL_ERROR (65536) java.lang.UnsupportedOperationException: undefined"
We have presto 341 Running , Getting below error when trying to access a Glue table using hive connector. The table is in parquet format

This does not exist on v340 but the same behavior is there in version 343.

[code]

[2020-10-07 11:31] findepi commented on #5443
references: https://prestosql.slack.com/archives/CGB0QHWSW/p1601982156257400

i guess in `io.prestosql.parquet.reader.Int64TimestampMillisColumnReader#skipValue` instead if
[code]

we should have
[code]

but we should also have a test case

[2020-10-07 11:32] findepi commented on #5443
@jaspreet997 how can i produce a file causing the failure?
or, can you perhaps attach such sample file?

[2020-10-07 15:21] findepi opened #5449 "Add support for MySQL datetime data type"
See TODO comment in
https://github.com/prestosql/presto/blob/50a87c711f7967772cab0d6fb70f9e2810ff5587/presto-mysql/src/test/java/io/prestosql/plugin/mysql/TestMySqlTypeMapping.java#L437-L442

(the referenced issue (https://github.com/prestosql/presto/issues/37) is generally done)

rel https://github.com/trinodb/trino/issues/6910

[2020-10-07 15:22] findepi opened #5450 "Add support for MemSQL datetime data type"
Same as  https://github.com/prestosql/presto/issues/5449 for MemSQL

[2020-10-07 15:22] aalbu opened #5451 "Clean up use of HiveType#getType"
The HiveType#getType method is overloaded.  The signatures are: `Type getType(TypeManager typeManager)` and Type `getType(TypeManager typeManager, HiveTimestampPrecision timestampPrecision)`.  The first signature is deprecated and its usages should be removed.  We need to determine which call sites should use the timestamp precision specified in the session and which ones should explicitly use mil

[2020-10-07 15:25] findepi opened #5452 "Test mapping of real to double in MemSQL"
Apparently MemSQL does not have real/float data type.

[2020-10-07 15:30] findepi opened #5453 "Support MemSQL unsigned numeric data types"

[2020-10-07 15:32] findepi opened #5454 "Failure when CTAS with long or unbounded varchar column in MemSQL"
## long varchar

[code]

## unbounded varchar

[code]

[2020-10-07 15:38] findepi commented on #5449
See also TODO in the code (being added in https://github.com/prestosql/presto/pull/5455)

[2020-10-07 15:39] findepi commented on #5450
See also TODO in the code (being added in https://github.com/prestosql/presto/pull/5455)

[2020-10-07 15:39] findepi commented on #5452
See also TODO in the code (being added in https://github.com/prestosql/presto/pull/5455)

[2020-10-07 15:39] findepi commented on #5454
See also TODO in the code (being added in https://github.com/prestosql/presto/pull/5455)

[2020-10-07 15:39] findepi commented on #5453
See also TODO in the code (being added in https://github.com/prestosql/presto/pull/5455)

[2020-10-07 16:23] electrum opened #5456 "Add Iceberg tests for truncate on numeric types"
Add tests for partitioning on `truncate(c, n)` for numeric columns:
* `bigint`
* `integer`
* `decimal(p)` where `p <= 18`
* `decimal(p)` where `p > 18`

[2020-10-07 21:33] electrum opened #5458 "Add Iceberg tests for partition transforms on structured types"
For example, identity transform on `r.x`of a field `r row(x bigint, y bigint)`. We need to verify that this is legal in Iceberg and add an integration test to verify compatibility with Spark. If it's not supported, we should make sure we fail with a clean error message.

[2020-10-07 21:36] electrum opened #5459 "Add Iceberg tests for Hive tables in the same metastore"
Create a mix of Hive and Iceberg tables in the same metastore schema.

Listing tables in a schema:
[code]

Listing columns in a schema:
[code]

Run twice, once where `xxx` is an Iceberg table and once where `xxx` is not an Iceberg table:
[code]

Selecting from a table:
[code]

[2020-10-08 08:20] losipiuk commented on #5302
[code]

#5327

[2020-10-08 08:27] findepi opened #5462 "Invalid timestamps returned by system.runtime.queries"
[code]

[2020-10-08 08:27] kokosing opened #5463 "TestHiveTransactionalTable.testFilesForAbortedTransactionsIgnored is flaky"
[code]

[2020-10-08 09:08] findepi opened #5464 "system.runtime.queries should use timestamp with time zone type"
[code]

the `created, started, last_heartbeat, end` should be `timestamp with time zone`

[2020-10-08 09:51] kokosing opened #5466 "Inconsistent error message for CREATE TABLE when user does not have access to a catalog"
When `ALICE` does not have access to catalog, then typically she gets `Access Denied: Cannot access catalog memory` for queries
[code]
but for `CREATE TABLE` she gets:
[code]

[2020-10-08 10:52] findepi opened #5467 "Incorrect transaction support in memory connector"
[code]

[2020-10-08 11:00] findepi opened #5468 "Connector#isSingleStatementWritesOnly should return true by default"
`io.prestosql.spi.connector.Connector#isSingleStatementWritesOnly` currently returns `false` by default, so a new connector implementation is supposed to be transaction-friendly.
Yet, new implementations are rarely tested with transactions.

We should change the default implementation of the method to return `true` by default.

- [ ] remove default return value for a few releases to force people t

[2020-10-08 11:45] findepi commented on #4345
https://github.com/prestosql/presto/pull/5381

[2020-10-08 11:45] #4345 closed

[2020-10-08 11:47] findepi commented on #5302
[code]

https://github.com/prestosql/presto/issues/4345
https://github.com/airlift/airlift/pull/872
https://github.com/prestosql/presto/pull/5381

[2020-10-08 12:04] taqianw opened #5472 "Support kerberos authentication for Hudi tables"
Hi,

My Hive and HDFS Cluster is Kerberos enabled, When I connect the hudi table through Presto's hive connector,I can show tables and describe hudi table's structure,but I can not select data ,there is error as following:

[code]

But other hive tables  have no problem.

Here are some of Presto's configurations:

- catalog/hive.properties:

[code]

- config.properties:

[code]

- presto version:

[2020-10-08 14:44] findepi commented on #5472
@taqianw can you possibly test whether https://github.com/prestosql/presto/pull/5478 solves the issue for you?

[2020-10-08 14:50] jirassimok commented on #5168
@martint What do you think?

[2020-10-08 15:18] Praveen2112 commented on #5302
[code]
#5173

[2020-10-08 16:07] ckdarby opened #5480 "Better k8s/helm experience"
At the moment there isn't' an "official PrestoSQL" helm chart nor does the community offer a repo.

The Helm default repo does come with a stable PrestoSQL chart seen [here](https://github.com/helm/charts/tree/master/stable/presto), which only a couple of months ago switched from PrestoDB to PrestoSQL and prior to that hadn't been maintained for years.

There are a lot of issues with this chart:
-

[2020-10-08 16:45] martint commented on #5168
I'm looking into this, but here are a couple of thoughts:

* We need to make a distinction between temporal values that represent a delta from an epoch baseline (i.e., the values can be negative or positive) and those that represent things like "picoseconds within a day", or "minutes of the hour", as they have different semantics, especially around rounding and scaling.
* For temporal functions in

[2020-10-08 18:47] RosterIn commented on #2491
@martint @ebyhr Does the "syntax needs review" label means that only after someone submit PR you will check if this idea is good or not? If there is no intention of accepting this there is no reason to keep this issue alive.

[2020-10-08 22:07] dain opened #5482 "Expand hide Delta Lake tables option to all unsupported tables"
Current the `hive.hide-delta-tables"` config option only applies to Delta, but there are many other unsupported table types.  For example, any table with a Hive storage handler set is not supported.   This Delta Lake only property should be replaced with a more generic property like `hive.hide-unsupported-tables` and then used for the existing Delta Lake code and logic to hide any table with a sto

[2020-10-08 22:10] jirassimok commented on #5168
For dynamic precision, we could keep versions of the methods we already have for that purpose, something with the same basic idea as `rescale(value, fromPrecision, toPrecision)`, but ideally with a more type-specific name (or namespace).

We already have this function in multiple places, each with slightly different semantics. If we renamed it to something like `rescaleTimestamp` and gave it appro

[2020-10-08 22:11] rushton opened #5483 "Parquet timestamp type results in query failure"
**Problem**
When upgrading from 340 to 343 I found an issue with how presto hive handles timestamp columns in parquet files.

**Reproduction Steps**
1. Create the parquet file
[code]

2. Check the schema
[code]

3. Create the table
[code]

4. Query the table
[code]

[2020-10-09 00:13] ebyhr commented on #2491
@RosterIn We use `syntax needs review` label when the syntax isn't yet decided. It doesn't mean we don't accept the PR.

[2020-10-09 00:33] phd3 opened #5484 "Support coercion between varchar(x) and varchar(y) types for Hive Connector"
Currently, hive connector does not allow coercion between types `varchar(x)` and `varchar(y)` in case of schema evolution. This seems to be supported by hive (verified on product tests for versions 1 and 3). When partition data is shorter, coercion is trivial (Same data with bigger datatype). When partition data is longer, hive truncates it.

This can be reproduced with the following test

[code]

[2020-10-09 03:10] carlshan commented on #609
Looking forward to seeing this implemented!

[2020-10-09 07:34] #5472 closed

[2020-10-09 07:35] findepi commented on #5302
[code]

however, i am not sure we should write this, as Hudi supported is not tested at all

https://github.com/prestosql/presto/issues/5472
https://github.com/prestosql/presto/pull/5478

[2020-10-09 07:38] findepi commented on #5302
[code]

#5430

[2020-10-09 08:16] findepi opened #5487 "Document AT TIME ZONE when lhs is timestamp"
https://prestosql.io/docs/current/functions/datetime.html#time-zone-conversion covers the case when lhs is `timestamp with time zone`

[2020-10-09 10:37] findepi commented on #4936
https://github.com/prestosql/presto/runs/1230122873

[2020-10-09 10:55] #5462 closed

[2020-10-09 10:55] #5464 closed

[2020-10-09 11:00] findepi commented on #5302
[code]

https://github.com/prestosql/presto/issues/5462
https://github.com/prestosql/presto/issues/5464
https://github.com/prestosql/presto/pull/5465

[2020-10-09 11:49] kokosing opened #5491 "Product test launcher should be able to stop containers forcefully"
[code]

At `10:10:59.215Z` it was known that container failed to stop, but yet launcher was blocked anyway.

[2020-10-09 16:04] ckdarby opened #5497 "Feedback related to metrics"
While rolling out [Kubernetes scaling ](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/)for Presto we weren't thrilled about some aspects or weren't able to find information in the docs to make the below suggestions moot.

These are the notes I made while we went through the experience.

### Metrics be exposed as rest endpoints.

We'd rather avoid running JMX exporter fo

[2020-10-09 17:32] martint commented on #5168
`rescale` is generally used after the value has been rounded to the desired magnitude. E.g.,

[code]

or

[code]

[2020-10-09 18:07] mosabua commented on #5480
it would be great to get some community run Helm charts off the ground.

[2020-10-09 18:22] tedyu commented on #5352
@ebyhr @findepi

Given the change in:
https://github.com/prestosql/presto/issues/5352#issuecomment-701493224

Can you help create repository for Presto connector ?

Thanks

[2020-10-09 20:53] electrum opened #5500 "Change Iceberg time travel syntax and add tests"
We should change the time travel syntax for tables to distinguish between snapshot IDs and timestamps:

* `table@123` -- snapshot ID
* `table@t123` -- as-of timestamp in UNIX milliseconds

As part of this change, we need integration tests for both of these types of table queries.

[2020-10-09 20:56] electrum commented on #5500
@manishmalhotrawork is going to work on this

[2020-10-09 21:31] findepi commented on #5352
@tedyu i am not sure what kind of repository this would be.
All the supported connectors are directly in this repository, as maven modules.
(https://github.com/prestosql/presto-cassandra-driver exists for technical reasons, this is not a Presto plugin)

[2020-10-10 00:06] laurachenyu opened #5502 "Query fail when ROW type has a field name as reserved SQL keyword, and ROW appear in CAST AS type"
Presto does quote ROW type field names (https://github.com/prestosql/presto/pull/1963), however, when ROW type is used in CAST AS type, it is treated as expression so it is not quoted, and causing the query to fail.

For example, if table has schema like following:
[code]

The column "transcript" has a nested field named "**end**". The following query will fail:

[code]

It reports an unexpected J

[2020-10-10 01:33] #5302 closed

[2020-10-10 01:37] martint opened #5503 "Release notes for 345"
## Dain Sundstrom
- [x] all checked
-  10-12 21:09:08    95270afe2e Minor improvements for partitioned output buffers and operator
-  10-14 15:49:54    3bb1e732b0 Add JWK service
-  10-14 15:49:54    4ae9d5efe5 Extract file key loader from JWT authenticator
-  10-14 15:49:54    6395310c1f Move JWT to separate package
-  10-14 15:49:54    b26c9637bb Add JWK EC support
-  10-14 15:49:54    f72fadfc8

[2020-10-10 06:31] taqianw commented on #5472
Thank you. It solved my problem,now presto works well.

[2020-10-10 09:51] gaojun2048 opened #5505 "The cluster is stuck due to major gc"
presto version: 322
cluster config: 32C 64G node * 3
jdk: openjdk-11
Today I am doing a concurrent test, the number of concurrent queries is 10. After running several tests, the cluster is stuck and all queries are stuck. I checked the logs of presto and found the following:

![image](https://user-images.githubusercontent.com/32193458/95652020-b8aaea80-0b20-11eb-8a00-983cce86ccb5.png)

config.prop

[2020-10-10 13:24] findepi commented on #5502
Relates to https://github.com/prestosql/presto/issues/2967

[2020-10-10 17:09] findepi commented on #5472
@taqianw thanks for confirming

[2020-10-10 17:10] findepi commented on #5352
@tedyu `presto-cassandra-driver` exists because we need to re-package the driver, shading-in some dependencies.
Is it also the case for Yugabyte driver? what are its dependencies?

[2020-10-10 22:32] tedyu commented on #5352
[yb-cassandra-dep.txt](https://github.com/prestosql/presto/files/5360355/yb-cassandra-dep.txt)

Please see the attached file (up to line 76)

[2020-10-11 00:52] ebyhr commented on #5503
[code]

#5397

[2020-10-11 13:02] ebyhr opened #5511 "Support ADD COLUMN in MongoDB connector"
Currently, MongoDB connector users have to edit `_schema` collection directly when the connector missed the field or new field was added. Supporting `ADD COLUMN` will reduce the burden.

[2020-10-12 01:24] ebyhr opened #5513 "Deny unsupported columns in MongoDB DDL operation"
Currently, we can create a table & add a column with unsupported column types due to lack of validation in MongoDB connector.

[2020-10-12 02:57] wjf989 opened #5514 "When does the community support Presto on Spark ?"
presto on spark is currently  supported in PrestoDB. When does the prestosql community support Presto  on Spark???

[2020-10-12 03:15] martint commented on #5514
What would be the use case for this? Presto is a self-contained query engine, so it's not clear to me what's the benefit of running on spark.

[2020-10-12 09:03] findepi opened #5517 "hive_storage_format session property is not respected"
Hive has `hive.storage-format` config property to control default file format for new tables.

There is also a session property `hive_storage_format` which one could understand as an override.
And indeed, it is an override, but only if you set another hive session proeprty, `respect_table_format`, to false.

BTW `hive_storage_format` should be called just `storage_format` -- we do not prefix sessi

[2020-10-12 09:07] findepi commented on #5517
The session property was added in https://github.com/prestosql/presto/commit/e52a845f8e73dd01bda8b78bc6b7cb1102580e5d (https://github.com/prestodb/presto/pull/9797), with commit message
[code]

Guess there was no "future" yet.

[2020-10-12 09:10] findepi opened #5518 "Failure when using optimized Parquet writer: ArrayIndexOutOfBoundsException: Index 128901 out of bounds for length 1"
[code]
[code]

[2020-10-12 09:57] sopel39 opened #5519 "Display dynamic filters information in UI"
Query stats JSON now contains some useful information about DF (e.g total number of filters, total lazy filters, collection wall time, etc.). Such information could be displayed in Presto UI (in query detail page or in live plan).

[2020-10-12 10:13] #5511 closed

[2020-10-12 10:14] ebyhr commented on #5503
[code]

#5512

[2020-10-12 10:39] sopel39 commented on #5505
Hey. Please use https://prestosql.slack.com/archives/CGB0QHWSW (troubleshooting) slack channel for discussing such issues.

[2020-10-12 10:45] sopel39 commented on #5503
[code]
https://github.com/prestosql/presto/pull/5365

[2020-10-12 10:48] kokosing commented on #5503
[code]
#5330

[2020-10-12 10:49] findepi commented on #5505
@gaojun2048 if you're not on slack yet, please see https://prestosql.io/slack.html for getting started.

[2020-10-12 10:51] photogamerun commented on #5400
is anyone help?

[2020-10-12 11:19] findepi commented on #5400
what is your `jvm.config`?

[2020-10-12 11:54] sopel39 opened #5521 "Add support for dynamic filtering for RIGHT JOIN"
Dynamic filters derived from RIGHT JOIN can also be supported.

[2020-10-12 12:34] findepi opened #5522 "Push down aggregation with DISTINCT and LIMIT into JDBC connectors"
Follow up to https://github.com/prestosql/presto/issues/5261

[2020-10-12 12:46] findepi opened #5523 "Support DISTINCT with window functions"
[code]

[2020-10-12 12:46] findepi commented on #5523
The best way of calculating this currently:
[code]

[2020-10-12 13:34] findepi commented on #5352
is Yugabyte driver a fork of cassandra driver?
i think the guava (v 19) dep can be a problem.
OK, i created a https://github.com/prestosql/presto-yugabyte-driver repo.

[2020-10-12 14:33] findepi commented on #5483
For reference, attaching a file generated with `pyarrow`, as per @rushton 's instructions.

[foo.parquet.zip](https://github.com/prestosql/presto/files/5365748/foo.parquet.zip)

[2020-10-12 15:06] phd3 opened #5527 "Crashed tests in presto-hive"
Tests on PR #4680 failed with the following errors:

[code]

wondering if this is a known issue with forking and whether we can fix it.

[2020-10-12 17:04] tedyu commented on #5352
I have created PR in https://github.com/prestosql/presto-yugabyte-driver repo

[2020-10-12 22:09] JamesRTaylor opened #5532 "Sanity check number of output columns"
With highly nested parquet tables over 10K columns, we get OOM errors on.a `SELECT *` query because the query plan is larger than 2GB. More details here: https://prestosql.slack.com/archives/CFLB9AMBN/p1575942607209600. The schema for these tables are often machine generated and get large in particular if a particular nested part of it is repeated. The actual data would typically be on the sparse

[2020-10-13 03:21] gaojun2048 commented on #5505
Ok, I am on slack

[2020-10-13 03:38] josonle commented on #4180
still use insert into table select ...

[2020-10-13 08:11] allendang001 opened #5534 "support dynamic connector configuration"
Prestosql does not support adding a new catalog when presto cluster is running, this leads to no way to support the join operation of an existing catalog and a new catalog without restarting.
Is there any solution at present?

[2020-10-13 08:27] ebyhr commented on #5534
Going to close as duplicate of #2110. It's not possible now.

[2020-10-13 08:27] #5534 closed

[2020-10-13 08:35] AbdullaevAPo commented on #1324
Is it planned to add support of hdfs only iceberg tables (like in spark https://iceberg.apache.org/spark/ &`spark.sql.catalog.hadoop_prod.type = hadoop` ) ?

[2020-10-13 08:36] findepi commented on #5352
@tedyu can you please created a companion PR here adding the new module?
also, please make sure to sign the CLA

[2020-10-13 08:42] allendang001 commented on #5534
what is the reason?

[2020-10-13 08:42] allendang001 commented on #5534
what is the reason?

[2020-10-13 08:48] findepi commented on #5534
Let's keep the discussion under #2110 issue.
if you have more questions you can also reach out on #dev on [our slack](https://prestosql.io/slack.html).

[2020-10-13 08:58] allendang001 commented on #2110
Could you tell me what is the reason?

[2020-10-13 09:49] sopel39 opened #5535 "JdbcMetadata#applyFilter should not apply filter when limit is pushedown"
Pushing predicate through limit might change query semantics (e.g when data is ordered). We don't push predicate through limit in Presto.

CC: @findepi

[2020-10-13 09:49] findepi commented on #5483
@rushton how do you query data with such a file?

In Hive i created a table
[code]

copied the file into the table location and queried

HDP 2.6
[code]

HDP 3.1
[code]

FWIW, Presto can currently read such a file, but only when `timestamp_precision` is set:
[code]

[2020-10-13 09:50] losipiuk opened #5536 "Add mechanism for expressing legacy names for session properties"
For config properties we can have multiple aliases for single property. When we rename a config property we leave the previous name marked with `@LegacyConfig` annotation.
For session properties we do not have similar mechanism which makes it impossible to rename session properties in backward compatible manner.

[2020-10-13 10:18] tooptoop4 opened #5537 "CREATE TABLE docs should have an example of creating a partitioned table"
if i google for 'create partitioned table in presto' it is not very helpful, looking at specific https://prestosql.io/docs/current/sql/create-table.html does not help either. Need to query SELECT * FROM system.metadata.table_properties then find partitioned_by then look for example of how to specify it when creating a table

[2020-10-13 10:52] findepi commented on #5535
See https://github.com/prestosql/presto/pull/3691#discussion_r423344082
and especially https://github.com/prestosql/presto/pull/3691#discussion_r424299090

[2020-10-13 11:00] sopel39 commented on #5535
Applying limit is not even beneficial from performance point of view. We most likely can finish quicker without filtering rows than with extra filtering.

[2020-10-13 11:18] findepi commented on #5535
That's correct, but it may happen that applyFilter is simply invoked before LIMIT makes it into proximity of the TS.
In such a case, the filter _has already been applied_ and there is (currently) no way back. Then the only choice is whether you also apply the limit or not.

[2020-10-13 11:19] findepi commented on #5535
for ref, here is the comment's content:

Unfortunately we didn't capture much of the thinking in the code, and it looks as if this was not addressed.

[2020-10-13 11:39] #5261 closed

[2020-10-13 11:41] findepi commented on #5503
[code]

https://github.com/prestosql/presto/issues/5261
https://github.com/prestosql/presto/pull/5524

[2020-10-13 12:25] sopel39 commented on #5535
That would be pushdown of operators in same order as they are ordered in Presto. This doesn't change query semantics.

If not applying filter would improve performance, I think we should not apply it.

[2020-10-13 12:51] findepi opened #5541 "More flexible match in isNotFullyPushedDown()"
Currently `isNotFullyPushedDown` requires that the `retainedNode` is directly above TableScan.

It's not desirable because:

- there might be some projection too, we still want to test for the right node type
- we may want to test single plan with multiple `retainedNode`s, like
[code]

[2020-10-13 13:25] guyco33 opened #5543 "Regression with pushing down timestamp functions to PostgreSQL for timestamp with precision higher than 3"
[code]

In `341`  filter on ts_col is pushed down to Postgresql and index on `ts_col` is used
In `342+`  full table scan

[2020-10-13 14:59] findepi commented on #5543
`344` brought some improvements around timestamps and PostgreSQL.
@guyco33 can you please re-verify with that version the bug still exists?

[2020-10-13 15:41] tedyu commented on #5352
For the companion PR, wouldn't it be dependent on the availability of presto-yugabyte-driver in maven ?

Signature has been sent to cla@prestosql.io. Is there more to be done in this regard ?

[2020-10-13 16:17] #3045 closed

[2020-10-13 17:40] jvlasblom opened #5546 "Row keys are forced into lower case"
Presto lower cases row keys:
[code]
...rowEntry1 and rowEntry2 above are transformed to lower case in the result.  Tested on Presto v339

[2020-10-13 19:46] dain commented on #5144
@aalbu or @electrum is this still an issue

[2020-10-13 19:49] findepi commented on #5546
Per the spec, the names without " quotes (non-delimited) are case insensitive, and Presto lowercases them (per spec we should probably uppercase, but that's separate).
To get your case preserved, put `rowEntry1` in quotes: `"rowEntry1"`.

[2020-10-13 19:56] findepi opened #5548 "EXPLAIN does not indicate table scan predicates for JDBC connectors"
PostgreSQL
[code]

Presto
[code]

-- no trace of the original condition `a = 42` in the EXPLAIN.

[2020-10-13 19:56] findepi commented on #5548
Likely caused by d28bc51a77e2a2b4aebfed0688a98331935cbc8b.

[2020-10-13 19:59] findepi commented on #5543
What is the type of `ts_col` from PostgreSQL perspective?
Can you share `DESCRIBE tab` from Presto, as well as `EXPLAIN ...` of that query?

Does the query sent to PostgreSQL have a `ts_col >= ?` condition, or no condition at all?

[2020-10-13 20:35] aalbu commented on #5144
Yes, it can be reproduced in the HDP3 environment.

[2020-10-13 21:14] guyco33 commented on #5543
`ts_col` is a Postgres `timestamp`

[code]

In `342`  The query in Postgres looks like this:
[code]
without the condition at all

[2020-10-13 21:26] guyco33 commented on #5543
`DESCRIBE bookkeeping.public.odrs`

`341`:
[code]

`342`:
[code]

It might be that `342` doesn't pass the filter, since the value of `now() - interval '1' day` is not `timestamp(6)`

[2020-10-14 00:16] mosabua opened #5549 "Add documentation for atop connector"
The atop connector is mentioned in the release notes e.g. https://prestosql.io/docs/current/release/release-342.html#atop-connector-changes but not documented anywhere. We should have at least some minimal docs on what it is and does.

[2020-10-14 09:00] tooptoop4 opened #5553 "GROUP BY column list order affects runtime"
from slack:
"
Tao Wang Apr 3rd at 3:58 AM
It's possible to improve the performance of the GROUP BY function by carefully ordering a list of fields within the GROUP BY in an order of high cardinality  I am a little confused about this tip. Based on my understanding, since the group by is implemented by hash in Presto, there should not be difference between different group-by order. Could someone sh

[2020-10-14 15:41] ryanrupp commented on #2332
Parquet metadata caching added here in PrestoDB maybe as a point of reference - https://github.com/prestodb/presto/pull/15276

[2020-10-14 18:07] #5443 closed

[2020-10-14 18:34] tooptoop4 commented on #611
has this improvement been implemented for non-glue hive? @rash67

[2020-10-14 20:28] dain commented on #5172
IIRC the DriverContext is supposed to be single threaded.  Maybe the problem is on the code that is reading these.

@sopel39 can you describe the problem we are actually seeing in these tests?

[2020-10-14 20:49] sopel39 commented on #5172
@dain it looks like stats from not all drivers (pipelines?) are propagated back to coordinator after query is finished.
This causes certain assertions to fail (e.g input row count is less than expected).

[2020-10-14 21:41] sopel39 commented on #5120
related to: https://github.com/prestosql/presto/issues/5120

[2020-10-14 22:54] dain commented on #5503
[code]
#5419

[2020-10-15 08:59] #5320 closed

[2020-10-15 09:05] #5521 closed

[2020-10-15 09:23] sopel39 commented on #5503
[code]
https://github.com/prestosql/presto/pull/5555

[2020-10-15 09:40] sopel39 commented on #5503
[code]
https://github.com/prestosql/presto/pull/5551

[2020-10-15 15:47] wccropper opened #5562 "Workers not releasing idle S3 connections to the pool when reading Avro files"
Presto 343 - 1 coordinator + 4 workers
hive metastore+postgresql - avro files on s3
We've modified the following hive.properties
[code]
We see the connection pool progressively use all connections, never releasing them (after several days). Eventually the pool is depleted and no further work with s3 files is possible until the node service is restarted.

[2020-10-15 16:08] luhhujbb opened #5564 "Hive connector seems to change precision of timestamp."
I'm not sure it's an issue, and maybe somewhere in the documentation it's written but I don't find it.

# Presto version

All version with new timestamp design with variable precision

# Issue

I have a lots of tables with seconds precision timestamp, ie timestamp(0)

As mentionned here #37  : "Typically databases store it internally as seconds since epoch in some fixed timezone (usually UTC)", ti

[2020-10-15 16:22] findepi commented on #5564
i think it was never supported. do you have particular SQL commands in mind, that used to work and they no longer do?

[2020-10-15 16:23] findepi commented on #5562
Do you observe this with any file format other than Avro?

cc @electrum @losipiuk

[2020-10-15 16:36] luhhujbb commented on #5564
In version 335

SELECT to_unixtime(ts) as unix_ts,* FROM rtb.bid_requests where c='fr' and d='10' and y='2020' and h='10' limit 10;
  unix_ts      |           ts
 1.602321553543E9 | 2020-10-10 11:19:13.543

I've rollback so data are not exact but I've the following behavior.
In version 344
  unix_ts      |           ts
 16023.21553543 | 1970....

[2020-10-15 17:26] rushton commented on #5483
here is my setup script for my local presto:
[start_presto.txt](https://github.com/prestosql/presto/files/5386679/start_presto.txt)

I then ran the following (assuming parquet files are in `/tmp/test_dataset`:
[code]

[2020-10-15 18:40] luhhujbb commented on #5564
So to recap,
-  I'm tired.
- Our timestamps are stored in miliseconds, so you're right seconds timestamp may never have been supported
- floating point move without reason since the datatype is the same in both version.

[2020-10-15 18:58] martint commented on #5564
What file format are you using to store your data?

[2020-10-15 19:01] luhhujbb commented on #5564
We use parquets file.

[2020-10-15 19:07] wccropper commented on #5562
We only see this with avro files. ORC files we do no t see the connection counts change at all.

[2020-10-15 19:21] martint commented on #5564
Would you mind posting the output of `parquet-tools meta` for one of those files? You can get that tool from:
* https://github.com/apache/parquet-mr/tree/master/parquet-tools
* https://formulae.brew.sh/formula/parquet-tools

[2020-10-15 19:53] luhhujbb commented on #5564
Hi, here is the result of parquet-tools meta :
[code]

[2020-10-15 20:07] martint commented on #5564
I think what's happening is that the `ts` column is an `INT64` column with values encoded in milliseconds. Since the column has no logical type annotations, the code is falling through and reading it directly into native Presto representation, which expects values in microseconds:

https://github.com/prestosql/presto/blob/master/presto-parquet/src/main/java/io/prestosql/parquet/reader/PrimitiveCol

[2020-10-15 20:14] #5483 closed

[2020-10-15 20:15] findepi commented on #5503
[code]

#5483
#5538

[2020-10-15 20:26] luhhujbb commented on #5564
Timestamps are written using spark as Long/BIGINT, type timestamp is configured in hive/presto during Table creation.

[2020-10-15 20:27] martint commented on #5564
I'm curious about how Hive interprets those values. Do you have a Hive installation that you could try with?

[2020-10-15 20:36] guyco33 opened #5567 "Regression in Hive metastore performance"
For some queries `341+` uses  `getPartitionNames` while `340` uses `getPartitionNamesByParts` that is much faster.

For example:
Table `t` is partitioned by `[tdate, key]`  (`tdate` has 3 years with about 1500 `key` values per day)
[code]
`340` uses `getPartitionNamesByParts` and it takes 1952.1124 miliseconds
`341` uses `getPartitionNames` and it takes 20349.98233 miliseconds (10 times slower)

I

[2020-10-15 20:39] luhhujbb commented on #5564
Our setup is really small since we mostly use only metastore, but the result is the following :
```Failed with exception java.io.IOException:org.apache.hadoop.hive.ql.metadata.HiveException: java.lang.ClassCastException: org.apache.hadoop.io.LongWritable cannot be cast to org.apache.hadoop.hive.serde2.io.TimestampWritable```

Someone has the same issue here :
https://stackoverflow.com/questions/60

[2020-10-15 20:50] martint commented on #5564
From the linked page (https://cwiki.apache.org/confluence/display/Hive/LanguageManual+Types#LanguageManualTypes-Timestamps), it would appear that even the previous behavior of interpreting values as milliseconds was incorrect:

[2020-10-15 20:50] luhhujbb commented on #5564
I think spark follow the default java behavior of sql timestamp : https://docs.oracle.com/en/java/javase/11/docs/api/java.sql/java/sql/Timestamp.html, Long construct a millisecond timestamp.

[2020-10-15 21:16] luhhujbb commented on #5564
Exactly, that's what make me think, at first, that we write our timestamp in seconds, and that timestamp(0) should be supported to follow hive spec.

[2020-10-16 05:54] xkwangcn opened #5568 "Error: java.lang.ArrayIndexOutOfBoundsException: Array index out of range: 41984"
Hi, Friends.
When I run presto on my environment, I encountered the following problems `ArrayIndexOutOfBoundsException`,  I want to resolve it but don't know what the `Block` mean and the presto operating principle about this error, could you give me some debugging ideas or related code documentation?
[code]

[2020-10-16 06:03] xkwangcn commented on #5568
It seems the position and ids[] in DictionaryBlock.java is not correct, when the code ` if (!used[position]) {` is run, the position is a wrong value.
[code]
But I run the test cases in presto-spi module, all PASS. I think maybe the incorrect parameter value(ids[]) was passed in the previous procedure. Can you give me some information or presto document or methods to debug this process? I will deb

[2020-10-16 07:00] xkwangcn commented on #5568
more log info
[code]

[2020-10-16 08:08] srinikvv opened #5569 "Errors while reading from Hive ACID Tables"
Issue on prestosql343 with Hive ACID tables on Hive 3.1.0

Prestosql intermittently throws below errors while reading from Hive ACID tables:
USER Error while reading from a FULL Transactional ORC format Hive table:
[code]

Internal Error:
[code]

[2020-10-16 08:28] findepi commented on #5569
Can you share output of `hive --version` or equivalent?

[2020-10-16 09:50] findepi commented on #5567
cc @electrum @rash67

[2020-10-16 10:03] srinikvv commented on #5569
[code]

[2020-10-16 10:10] sopel39 commented on #5503
[code]
https://github.com/prestosql/presto/pull/5529

[2020-10-16 10:14] findepi commented on #5569
Can you try with https://github.com/prestosql/presto/pull/5570 ?

[2020-10-16 12:27] srinikvv commented on #5569
@findepi we are creating a docker image of presto-sql and runing on K8.
Currently using presto binaries from https://repo1.maven.org/maven2/io/prestosql/presto-server/343/presto-server-343.tar.gz
Can you generate a similar tar file with the above changes for me to test?

[2020-10-16 12:39] findepi commented on #5569
@srinikvv just to be clear: i am not trying to fix the issue, i am trying to get some more information about the problem.

to get the server tgz you would need to clone my repo, check out the PR branch (check the branch name at the top of the PR page) and run the maven build
[code]

[2020-10-16 13:05] cccs-jc opened #5571 "Add support for HDFS only iceberg tables"
In order to keep list of tables and partitions Iceberg can be configured to use a Hive metastore however it can also be configured to store that information on files and thus not require running a Hive metastore.

This question was asked in a previous post.

@lxynov Is it planned to add support of hdfs only iceberg tables (like in spark https://iceberg.apache.org/spark/ &`spark.sql.catalog.hadoop_

[2020-10-16 13:18] shawnzhu opened #5572 "Support partition_by in CREATE TABLE when avro_schema_url is set in Hive connector"
Today, this is documented [limitation](https://prestosql.io/docs/current/connector/hive.html#limitations) when using `avro_schema_url`:

Here's the code:
https://github.com/prestosql/presto/blob/0d1b31d2a0e7d25956719ddd2533ec763fb6ed94/presto-hive/src/main/java/io/prestosql/plugin/hive/HiveMetadata.java#L832-L834

However, when creating an external table via Hive (v2.3.5), it supports both `avro.s

[2020-10-16 13:55] findepi commented on #5564
see also https://github.com/prestosql/presto/issues/5483#issuecomment-707627539

I think in Parquet writer some mappings work by a chance only.

I once tried to clean it up, but did not finish (WIP https://github.com/prestosql/presto/pull/2840)

[2020-10-16 13:55] findepi commented on #5572
cc @lxynov

[2020-10-16 13:59] findepi commented on #5352
cc @martint

the PR won't build on CI until `presto-yugabyte-driver` is published,
but will still allow a reviewer to build both and verify that what we have in https://github.com/prestosql/presto-yugabyte-driver/pull/1 is sufficient

the next step would be to merge https://github.com/prestosql/presto-yugabyte-driver/pull/1, release do maven, etc.

[2020-10-16 14:34] wccropper commented on #5562
Are there possible fixes in the hive and hadoop repos here on the prestosql github that we should be aware of? Currently we are using the hadoop 3.3.0 and hive 3.1.2 tarballs from apache.

[2020-10-16 15:03] phd3 opened #5573 "Build Warnings in presto-product-tests"
The step of building a shaded jar for prestop-product-tests throws warnings about overlapping classes:

[code]

This doesn't seem harmful usually, but we may want to avoid such conflicts to keep things cleaner.

[2020-10-16 15:17] huzekang commented on #2110
I also need this function

[2020-10-16 15:20] luhhujbb commented on #5564
* Hive seems to support only int96 with seconds/nanosecond part. So all the fields stored as int64 which have hive timestamp type should not work in hive.
* Spark support both int96 timestamp to have hive compatibilty and and int64 timestamp with annotated precision (millis, micros), and can write them into parquet. cf https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apa

[2020-10-16 15:37] tooptoop4 commented on #2110
https://openlookeng.io/docs/docs/admin/dynamic-catalog.html / https://github.com/openlookeng/hetu-core might have some inspiration

[2020-10-16 15:42] martint commented on #5564
@luhhujbb, thanks for the research. It appears to me that the right course of action is to disallow that mapping. Unfortunately, it means you’d have to adjust your Spark processes to write the correct type with annotations.

[2020-10-16 15:43] tedyu commented on #5352
The following would allow building against presto-yugabyte-driver :
[code]
Do you have suggestion other than copying the whole presto-cassandra subproject ?

Thanks

[2020-10-16 15:55] luhhujbb commented on #5564
@martint I agree it will be cleaner that way. Many Thanks.

[2020-10-16 16:21] tooptoop4 opened #5574 "Small parquet table with slow group by"
Hive table is unpartitioned, there is only a single parquet file (written by Spark 2.4.6) in the S3 path which is 19666465 bytes (just under 20MB, but must be highly compressed as web UI shows: Input Data =1.31GB), it has 139 columns and 23,401,616 rows

--6sec
SELECT  distinct strcolA  FROM hive.tbl

--14sec
SELECT  strcolA,
sum(value_double) as value FROM hive.tbl
GROUP BY  strcolA

--23sec
SELE

[2020-10-16 21:07] dain commented on #5574
When you run into issues like this it is best to start with `EXPLAIN ANALYZE`.  This will tell you where the execution engine is spending the most resources.

In your specific case, for each query you are decoding more data (more columns) for each query, so I would expect that part to take more work.  It is also possible that you are doing more IOs for each query because the file is 20MB.  There i

[2020-10-16 21:18] tooptoop4 opened #5577 ""Unsupported column type" exception should give details on the unsupported type"
https://github.com/prestosql/presto/blob/344/presto-base-jdbc/src/main/java/io/prestosql/plugin/jdbc/JdbcRecordCursor.java#L75

"Unsupported column type" is not very helpful, it could give more details like what exact type is unsupported

got below error when making (incomplete) code changes:

io.prestosql.spi.PrestoException: Unsupported column type
	at io.prestosql.plugin.jdbc.JdbcRecordCursor.h

[2020-10-17 00:27] tooptoop4 commented on #5574
do u know the property name? I couldn't find it

[2020-10-17 07:02] ssquan commented on #5553
Maybe because of the `combine_hash` function when calculating the hash of columns in the `GROUP BY` clause.  According to the source code, the hash value may overflow after the left value multiple 31.

[code]

[2020-10-17 10:19] tooptoop4 opened #5578 "Implement QuestDB connector"

[2020-10-17 13:09] njanakiev opened #5580 "Add WKB Support for PostGIS Geometry Columns"
Hello, thanks for the great project!

While trying to access geometry columns with the PostgreSQL connector, I wasn't able to access the PostGIS geometry column inside a table:

[code]

[code]
The same query works with Python together Pandas and SQLAlchemy:

[code]

[code]

As far as I understand PostGIS stores geometries in the WKB format including more metadata like SRID:
[code]

I think this wo

[2020-10-17 14:07] findepi opened #5581 "Document partitioned_by, bucketed_by, bucket_count, sorted_by Hive table property"
cc @mosabua

[2020-10-17 14:08] findepi commented on #5581
Actually, `bucketed_by`, `bucket_count` and `partitioned_by` seem to be "documented" by examples only (https://prestosql.io/docs/current/connector/hive.html#examples), so worth adding proper docs for these too.

[2020-10-17 19:33] dain commented on #5503
[code]
#5460

[2020-10-17 20:58] tooptoop4 commented on #5537
similar to https://github.com/prestosql/presto/issues/5581

[2020-10-17 21:42] findepi commented on #5577
This exception can happen only when there is a bug in a connector, supposedly during development.
This is why it is scarce in details. And indeed I see this was raised in a SNAPSHOT version.
Let me close this. Please reopen if you see this for a released version.

Also, if you run into this during development often, please consider proposing an improvement.

[2020-10-17 21:42] #5577 closed

[2020-10-17 21:44] guyco33 commented on #5567
IMHO, issue happens here:
https://github.com/prestosql/presto/blob/7711b445b5069b9763a0c2e1e6bb063dd9077554/presto-hive/src/main/java/io/prestosql/plugin/hive/metastore/MetastoreUtil.java#L440-L442
Both partition filters are not single value domain:  filter `tdate >= date'2020-01-14'` is  `[?, <max>)` and filter `key LIKE 'val%'` is `[?, ?)`
Therefore `partitionKeysFilter` is set to `TupleDomain.a

[2020-10-17 21:54] findepi commented on #5580
For anyone wanting to work on this, this would probably be similar to how we handle PostgreSQL's json and jsonb types

https://github.com/prestosql/presto/blob/fbd4ca7f6ca1326a077fd06cd33b687cbfe17cf2/presto-postgresql/src/main/java/io/prestosql/plugin/postgresql/PostgreSqlClient.java#L353-L354

https://github.com/prestosql/presto/blob/fbd4ca7f6ca1326a077fd06cd33b687cbfe17cf2/presto-postgresql/src

[2020-10-17 22:00] findepi commented on #5553
@ssquan good point. I guess this doesn't work good e.g. when the number of worker nodes is multiple of 31.
Other scenarios?

[2020-10-18 06:27] j4ckofalltrades commented on #1204
This can be closed.

[2020-10-18 11:12] brandboat opened #5586 "Missing message in assertInvalidExtract"
[code]

should be

[code]

Message is missing.

[2020-10-18 11:13] brandboat commented on #5586
I am working on this.

[2020-10-18 12:27] ebyhr opened #5588 "Add support for Apache Hadoop Ozone"
There was GA release last month.
https://hadoop.apache.org/ozone/release/

[2020-10-18 13:57] amitds1997 commented on #5128
I would like to take this up, if no one is working on it.

[2020-10-18 14:10] walter-weinmann commented on #4764
The problem is still not solved with version 344 - it is still necessary to specify a default value, e.g:

`oracle.number.default-scale=10`

[2020-10-18 18:40] kokosing commented on #5422
Now it hangs differenty.

`pt (config-hdp3, suite-2)`:
[code]

[2020-10-18 18:45] kokosing opened #5589 "Presto main tests hangs after all tests are executed"
[code]

[2020-10-18 19:05] sopel39 commented on #5553
In `explain analyze verbose` there should be hash collision stats for aggregation operator. Could you attach such plans?

[2020-10-18 20:54] tooptoop4 commented on #3103
BigQuery connector would also benefit from this feature as it has max 100 concurrent query limit (https://cloud.google.com/bigquery/quotas)

[2020-10-19 08:42] kelindar commented on #5564
We have also hit this issue when using Presto Thrift Connector. Our system (https://github.com/kelindar/talaria) is exporting timestamp as `timestamp(3)` and sending data back for timestamps in `milliseconds` as specified here,
[code]

We narrowed it down to Presto and rolled back our Presto to version `335` and the issue seems to be gone.

[2020-10-19 10:49] MichaelZhao9824 commented on #5564
We got the same issue - we use PySpark 3 + hive 2.6 + parquet. We had two environments - version 333 and version 343. The timestamp column in version 333 is displayed as timestamp but in 343 it is displayed as timestamp(3).

Our Spark job use the default timestamp format (yyyy-MM-dd HH:mm:ss ) in Spark and the hive table uses the default timestamp  (yyyy-MM-dd HH:mm:ss ) as well. I found any timez

[2020-10-19 11:24] findepi commented on #5564
@kelindar can you please file a separate issue for this?

[2020-10-19 11:25] findepi commented on #5564
@MichaelZhao9824 at first this seems loosely related to original problem reported here.
can you please file a separate issue for this and provide more details?

[2020-10-19 11:42] findepi commented on #5567
Are you saying that `getPartitionNames` (`get_partition_names`) is slower than `getPartitionNamesByParts` (`get_partition_names_ps`) even when there is no "parts" filter?

Both methods return the same information (list of partition names).

[2020-10-19 11:55] sopel39 commented on #5568
Are you trying to implement your own connector?

[2020-10-19 12:16] findepi commented on #1204
Fixed in https://github.com/prestosql/presto/pull/5418

thanks @j4ckofalltrades !

[2020-10-19 12:16] #1204 closed

[2020-10-19 12:58] guyco33 commented on #5567
I don't see any advantage to use `getPartitionNamesByParts` when there is no parts filter, but for sure it will respond much faster for any filter that results with few partition list (high selectivity), especially when the total number of table partitions is huge (thousands of them).
When the total number of partitions in table is low, we won't see much difference.

[2020-10-19 14:59] findepi commented on #5567
In your query there is no equality filter and i think `getPartitionNamesByParts` (`get_partition_names_ps`) supports only equality filters.
Thus I would expect both methods (`get_partition_names` and `get_partition_names_ps`) to do exactly same job (again: in this case),
and -- hopefully -- have same performance characteristic.

[2020-10-19 15:57] mosabua commented on #5581
I assume there properties are Hive connector specific. Correct @findepi ? Any suggestions where specifically we should add them? Also @electrum any progress on breaking up the Hive docs more?

[2020-10-19 19:39] findepi commented on #5581
@mosabua correct

[2020-10-19 20:06] guyco33 commented on #5567
That's right. `getPartitionNamesByParts` requires at least one equality filter, so also for this simple query it won't be used:
[code]

[2020-10-19 22:02] tooptoop4 commented on #5553
Collisions avg.: 2532.00 (17882.48% est.), Collisions std.dev.: 0.00%

vs

Collisions avg.: 2534.00 (17896.61% est.), Collisions std.dev.: 0.00%

[2020-10-19 23:05] ebyhr opened #5600 "Add debug query log for MongoDB"
Related to https://stackoverflow.com/questions/64432527/how-to-intercept-mondodb-query-from-presto-connector

https://github.com/prestosql/presto/blob/80d88f9cd66125cf9ba8db06cd6e73d61104ef3a/presto-mongodb/src/main/java/io/prestosql/plugin/mongodb/MongoSession.java#L274-L303

[2020-10-20 01:10] szsuyuji opened #5601 "kudu schema emulation error when Hive Metastore integration is enabled"
kudu integrate with hive metadata, emulation will failed because hive do not support special character. how to change the mapping table name "$schema"

[2020-10-20 05:11] shandhanumohan commented on #5600
Hi, I like to help. Are you expecting a simple debug log before the return statement?

[2020-10-20 05:40] ebyhr commented on #5600
@shandhanumohan Thanks for your help. Yes, I'm expecting simple debug log. I hope you will log both collection name and query (above `query` holds only filter for the collection).

[2020-10-20 06:32] jaspreet997 opened #5602 "Error when reading JSON table with TIMESTAMP: java.lang.ClassCastException: class java.sql.Timestamp cannot be cast to class java.lang.Number"
Hi,
We are getting the below error when timestamps are null in hive json tables

[code]

Steps to REPRODUCE

**1.**

**2.** unzip and Upload/store the attached eod.json file to the location
[eod.zip](https://github.com/prestosql/presto/files/5406685/eod.zip)

then
`alter table eod_json_test add partition ( ad='2020-10-20' ) location 's3://bucket/location'`

**3.** Try running the below query on pr

[2020-10-20 07:26] findepi opened #5604 "Improve Calcite shading"
[code]

Seems that, despite the "shaded" classifier", the dependencies are not fully relocated.

[2020-10-20 07:26] findepi opened #5605 "Add tests for Hive view privilege checks"
https://github.com/prestosql/presto/pull/5597 was a quick fix, but we should add proper testing coverage for this, to prevent future regressions

[2020-10-20 07:26] findepi opened #5606 "Support complex Hive views"
- [x] integrate Coral with Presto https://github.com/prestosql/presto/pull/4661
- [ ] documentation https://github.com/prestosql/presto/issues/4619
- [ ] Improve Calcite shading  https://github.com/prestosql/presto/issues/5604
- [ ] Add tests for Hive view privilege checks https://github.com/prestosql/presto/issues/5605

[2020-10-20 07:33] findepi commented on #5604
cc @laurachenyu @phd3

[2020-10-20 07:34] findepi commented on #5605
cc @laurachenyu @phd3

[2020-10-20 07:34] akashdeep01 commented on #5602
+1

[2020-10-20 07:34] findepi commented on #5606
cc @laurachenyu @phd3

[2020-10-20 08:16] findepi commented on #5600
`buildQuery(tableHandle.getConstraint())` returns a `Document`. Is there any recommended way to turn this into a string representation? Is `Document#toString` sufficient here?

[2020-10-20 08:26] findepi opened #5608 "Flaky test TestSystemConnector due to clock adjustment"
[code]

https://github.com/prestosql/presto/runs/1277310864

[2020-10-20 08:28] findepi commented on #5608
The situation was anticipated (https://github.com/prestosql/presto/pull/5465#discussion_r501852108).
I (naively?) hoped GHA runners did something to prevent clock adjustments during test execution.

(Clock adjustment is my assumption, based on the fact it is the only explanation that I know of.)

[2020-10-20 08:36] findepi commented on #5601
cc @Crossoverrr

[2020-10-20 08:37] shandhanumohan commented on #5600
How about using `Document#toJson` instead of `Document#toString`

[2020-10-20 08:47] sopel39 commented on #5553
`17882.48%` is a high number. But it happens in both cases. Can you consistently reproduce perf difference in both scenarios? Maybe it's mostly executing on sing node, which has high perf variablity.

[2020-10-20 08:57] Crossoverrr commented on #5601
That's to say there will be an error when we fetch kudu metadata from hive connector, right?    :)

[2020-10-20 08:57] wendigo opened #5611 "Build failure with git-commit-id-plugin"
For the last couple of days, local builds end up with:

[code]

git-commit-id-plugin was recently updated during airbase bump.

[2020-10-20 09:01] Crossoverrr commented on #5601
The name of table `$schema` was specified in class `io.prestosql.plugin.kudu.schema.SchemaEmulationByTableNameConvention`.
Should we change another name, does that work?

[2020-10-20 09:21] kokosing commented on #5611
Maybe we could downgrade it in Presto and see if it helps. WDYT?

[2020-10-20 09:40] szsuyuji commented on #5601
@Crossoverrr

an error occurred while creating table $schemas in the HMS: when the Hive Metastore integration is enabled, Kudu table names must be a period ('.') separated database and table name identifier pair, each containing only ASCII alphanumeric characters, '_', and '/': $schemas

[2020-10-20 09:42] szsuyuji commented on #5601
@Crossoverrr

 public SchemaEmulationByTableNameConvention(String commonPrefix)
    {
        this.commonPrefix = commonPrefix;
        this.rawSchemasTableName = commonPrefix + "default.presto_schemas_mapping";
    }
it worked

[2020-10-20 09:53] luhhujbb commented on #5564
This issue comes from the following code path :

1. The parquet column int64 is read as a longColumn in parquet file.
2. The spi type derived from hive metastore is timestamp(3), so the long is then considered as shortTimestampType
3. Release 340 and prior consider that precision <=3 are milliseconds encoded timestamp, and else microseconds encoded timestamp. (cf https://github.com/prestosql/prest

[2020-10-20 10:04] Crossoverrr commented on #5601
That's great!

[2020-10-20 10:44] findepi commented on #5564
@luhhujbb thanks for the update.

Let's keep the issue open unless we decide there is no more work tbd.

There is this idea open for example:

[2020-10-20 14:48] #5313 closed

[2020-10-20 14:54] sopel39 commented on #5503
[code]
https://github.com/prestosql/presto/pull/5461

[2020-10-20 14:57] findepi commented on #5352
Let's start simpler:

- create new presto-yugabyte module
- have presto-cassandra as a dependency
- exclude cassandra driver and add yugabyte driver

[2020-10-20 15:10] sshkvar opened #5616 "Iceberg DROP table not removing data from s3"
Hi,
I am using presto _(version 343)_ with Iceberg connector and found issue:

Tables which was created as `CREATE TABLE ...` or `CREATE TABLE AS SELECT...` then dropped - it will remove data only from Hive Metastore but **not** from s3.
Then if we try to create same table again - we will have `table already exists` exception

**Example:**

[code]

Note:
In connector config we have `hive.metastore

[2020-10-20 19:30] martint commented on #5503
[code]

[2020-10-20 19:31] martint commented on #5503
[code]

[2020-10-20 19:41] martint commented on #5503
[code]

#5557

[2020-10-20 19:47] martint commented on #5503
[code]

[2020-10-20 19:51] jvlasblom opened #5618 "Queries involving bigquery do not evaluate all predicates correctly"
Some queries don't seem to be evaluated properly if they involve tables in BigQuery.  Tested on presto v339 and v344.  I've encountered this problem when using a query generated from a template that needs to accommodate missing variables.

I have a table with the following row:
[code]
(startp and endp are bigint, ref and alt are varchar)

This query (**Q1**) returns false when it should return tru

[2020-10-20 21:16] losipiuk commented on #5618
Relevant slack conversation: https://prestosql.slack.com/archives/CGB0QHWSW/p1603220016037300

[2020-10-20 21:17] losipiuk commented on #5618
cc: @davidrabinowitz

[2020-10-20 22:50] bitsondatadev commented on #3776
Wrote a blog related to help clarify this confusion.
https://prestosql.io/blog/2020/10/20/intro-to-hive-connector.html

[2020-10-21 01:44] martint commented on #5503
[code]

https://github.com/prestosql/presto/pull/5620

[2020-10-21 01:49] photogamerun commented on #5400
![image](https://user-images.githubusercontent.com/16651123/96663173-c06d5900-1382-11eb-8cc3-7000d185805f.png)

[2020-10-21 02:31] Crossoverrr commented on #5601
So could we close this issue now,  we can reopen it when there are other problems? @findepi @szsuyuji

[2020-10-21 06:05] Crossoverrr opened #5622 "Method `ConnectorNodePartitioningProvider#getSplitBucketFunction` cannot fetch session properties. As follow:"
Method `ConnectorNodePartitioningProvider#getSplitBucketFunction` cannot fetch session properties. As follow:
![1](https://user-images.githubusercontent.com/33892550/96679207-c32d7580-13a5-11eb-8771-16c94c57fb97.png)
I think this is because we use this api below:
![2](https://user-images.githubusercontent.com/33892550/96679311-02f45d00-13a6-11eb-9a87-ef4e0385ce64.png)
![Screenshot from 2020-10-21

[2020-10-21 06:09] Crossoverrr commented on #5622
I have changed the code to `    private ToIntFunction<Split> getSplitToBucket(Session session, PartitioningHandle partitioningHandle)
    {
        ConnectorNodePartitioningProvider partitioningProvider = partitioningProviders.get(partitioningHandle.getConnectorId().get());
        checkArgument(partitioningProvider != null, "No partitioning provider for connector %s", partitioningHandle.getConnec

[2020-10-21 07:23] findepi opened #5623 "Configuration property hive.translate-hive-views is partially ignored"
[code]

[code]

Expected:
[code]

Observed:
[code]

Note that `hive.translate-hive-views` is still used and controls e.g. how a Hive view is presented in `information_schema`.
[code]

[2020-10-21 07:56] findepi commented on #5623
cc @phd3 @laurachenyu @dain @mosabua

[2020-10-21 08:32] sopel39 commented on #5622
Could you make a PR?

[2020-10-21 08:36] Crossoverrr commented on #5622
OK, I will do it.  :)

[2020-10-21 08:37] findepi commented on #5400
Can you please make sure to include all the recommended properties from https://prestosql.io/docs/current/installation/deployment.html#jvm-config
in particular `-Djdk.nio.maxCachedBufferSize=...`

it it does not help, please try to reproduce the problem with 344 & reopen.

[2020-10-21 08:37] #5400 closed

[2020-10-21 08:39] #5608 closed

[2020-10-21 08:58] findepi opened #5626 "Implement TestExtract for DATE type"
See `io.prestosql.operator.scalar.timestamptz.TestExtract` for a starting point.

[2020-10-21 08:58] findepi opened #5627 "Implement TestExtract for INTERVAL types"
See `io.prestosql.operator.scalar.timestamptz.TestExtract` for a starting point.

[2020-10-21 08:59] findepi commented on #5201
https://github.com/prestosql/presto/runs/1280678990

[2020-10-21 09:54] losipiuk commented on #5618
@jvlasblom This is really fishy. As the part of predicate you are removing constant-folds to`true`. And should be eliminated during optimization, before query is run, and before any interaction with connector is made.
Is this for sure the behaviour you are observing?

Could you share `EXPLAIN` plans for both queries (with shorter and longer predicate)?

[2020-10-21 10:02] wendigo commented on #5611
@kokosing https://github.com/prestosql/presto/pull/5628

[2020-10-21 10:08] zymap opened #5630 "Error fetch memory info"
After I startup the presto worker, the log shows it can not fetch the memory info.
Which version should I use?

prestosql version: 332.

[code]

[2020-10-21 10:54] findepi commented on #5604
I posted a proposed fix to the project -- https://github.com/linkedin/linkedin-calcite/pull/29

[2020-10-21 11:22] sshkvar opened #5632 "Iceberg table name on s3"
Hi,
I am using presto (version 343) with Iceberg connector and found strange behaviour with table rename.

First of all I have created table with name test_table

[code]
Table successfully created and put metadata and parquet files to s3

Then I renamed table to `test_table_renamed`

[code]

After it I created new table with same name as in step 1 `test_table`

[code]
Table successfully created bu

[2020-10-21 13:09] ebyhr commented on #5578
It seems QuestDB supports PostgreSQL wire protocol. Have you already tried PostgreSQL connector? There are some unsupported features though.
https://questdb.io/docs/reference/api/postgres/

[2020-10-21 13:32] sshkvar commented on #5632
As simple solution we can generate UUID and append it to the table name when building tableDefault location in [IcebergMetadata](https://github.com/prestosql/presto/blob/35d9cbdc95d8c07ba1e83104c54b7953a868123c/presto-iceberg/src/main/java/io/prestosql/plugin/iceberg/IcebergMetadata.java#L396)

Something like this:

[code]

[2020-10-21 13:56] #5611 closed

[2020-10-21 14:38] jvlasblom commented on #5618
Attached is a log of what I do to reproduce the problem from the CLI, and the output of the two explain queries.   Four commands are run: the two queries with and without the predicate involving endp (in the log the column is called end_position), and the two corresponding explain queries.  The columns have different names but are otherwise identical to what was stated above (start_position=startp

[2020-10-21 16:47] tedyu commented on #5352
[yuga-module.txt](https://github.com/prestosql/presto/files/5417494/yuga-module.txt)

See if the patch is on right track.

Currently trying to figure out which Enforcer rule fails:
[code]

[2020-10-21 17:26] mosabua commented on #5623
When this is fixed can we please add docs for that property in the same PR.

[2020-10-21 17:35] chilang opened #5635 "select count(*) from BigQuery views always return 0"
Is this a bug or a (unimplemented) feature ?

Steps to reproduce:

In BQ console: `create view ds.test_view as select * from ds.my_table`

In presto cli:
`select * from bq.ds.test_view limit 10`
returns non-empty results,

but
`select count(*) from bq.ds.test_view`
always return 0.

Presto version:343
bq.properties has `bigquery.views-enabled=true`

[2020-10-21 17:41] phd3 commented on #5623
@mosabua got it, will do.

[2020-10-21 19:32] findepi commented on #5635
cc @davidrabinowitz

[2020-10-21 19:40] davidrabinowitz commented on #5635
views query results are materialized to a temporary table on BigQuery, but in this case since count(*) yields an empty schema I think it is taken from the table metadata. Can you please add a where clause ? Even `where 1=1` ?

[2020-10-21 19:47] chilang commented on #5635
`select count(*) from bq.ds.test_view where 1=1` also returns 0 rows

[2020-10-21 19:52] findepi opened #5638 "Add support for org.openx.data.jsonserde.JsonSerDe in Hive connector"
Checklist

- timestamp tests (per https://github.com/prestosql/presto/issues/5602 which affects openx serde)
- concurrency tests (per https://github.com/prestosql/presto/issues/5638#issuecomment-713837628)
- investigate other past problems (per https://github.com/prestosql/presto/issues/5638#issuecomment-713842631)

[2020-10-21 19:54] findepi commented on #5602
just noticed that.

Presto does not support this serde yet (https://github.com/prestosql/presto/issues/5638), so i assume you modified Presto / added more jars to the classpath.
@jaspreet997  Is the bug reproducible without any customizations in Presto?

[2020-10-21 19:55] pettyjamesm commented on #5638
Beware of https://github.com/rcongiu/Hive-JSON-Serde/pull/228 if you’re going to handle timestamps with that serde.

[2020-10-21 20:05] findepi commented on #5638
Some other previous past reports of problems with openx json serde -- https://prestosql.slack.com/archives/CGB0QHWSW/p1595400446310500

[2020-10-21 20:37] findepi commented on #5611
https://github.com/git-commit-id/git-commit-id-maven-plugin/issues/524 & https://github.com/git-commit-id/git-commit-id-maven-plugin/pull/525

thanks @wendigo for these

[2020-10-21 21:18] electrum commented on #5632
@rdblue what is the expected behavior in this scenario?

[2020-10-21 21:32] rdblue commented on #5632
This is the expected behavior.

There are a few choices that cause this, but I think that they are all reasonable:
* Rename should not change the location of a table, only the name. This makes sense because location may be controlled independently through a `LOCATION` clause in the create statement.
* Iceberg allows you to create a table even if there are existing files in a directory. Iceberg mai

[2020-10-21 22:34] rushton opened #5640 "Parameters in query functions are unrecognized by PREPARE/EXECUTE"
## Problem
Using a parameter place-holder inside a SQL function does not get recognized when running execute.

## Reproduction

[code]

## Expected behavior

The `EXECUTE` should expect 1 parameter for the above query and use it in said query.

[2020-10-21 23:49] #5600 closed

[2020-10-22 00:11] #5586 closed

[2020-10-22 02:38] #4003 closed

[2020-10-22 02:46] ebyhr commented on #5503
[code]

#5615

[2020-10-22 06:30] jaspreet997 commented on #5602
@findepi Yes I have added org.openx.data.jsonserde.JsonSerDe jar to the plugins in hive-hadoop2 path.

I tried removing the Jar and remvoed the serde name from Glue for that table. Still getting deserializer does not exist: org.openx.data.jsonserde.JsonSerDe error when trying to execute the same query. Any alternate serde I can use here to try and reproduce the issue?

Also the issue does not occu

[2020-10-22 06:55] sshkvar commented on #5632
Hi @rdblue, thank for clarification.
But in this case if we will have `hive.metastore.thrift.delete-files-on-drop=true` it potentially delete all tables which is placed in same directory ?

What do you think about my proposed solution, we can have some configuration property, and if this property set to true, Iceberg will append unique UUID to the table location? As a result on s3 for example we w

[2020-10-22 07:38] findepi commented on #5602
Thanks for the info. We currently do not bundle the openx serde, we do not test it, and so we cannot prevent breakage from occurring. Apologies for that.
Proper support for this serde is tracked in https://github.com/prestosql/presto/issues/5638

is the problem reproducible eg for a table defined in Presto with `.. WITH(format='JSON')` (`org.apache.hive.hcatalog.data.JsonSerDe` serde)?

[2020-10-22 07:43] findepi commented on #5201
happened  in https://github.com/prestosql/presto/pull/5625 (no log, i restarted the build)

[2020-10-22 08:26] sopel39 commented on #5503
[code]
https://github.com/prestosql/presto/pull/5181

[2020-10-22 08:33] sopel39 commented on #5503
[code]
https://github.com/prestosql/presto/pull/5621

[2020-10-22 08:43] qfrtrt opened #5646 "Why the length of year must greater than 4?"
https://github.com/prestosql/presto/blob/46aa52f5f6f15b314a9b7ace11ac525e18b17eac/presto-main/src/main/java/io/prestosql/type/DateTimes.java#L52-L55
Why here is `(?<year>[-+]?\\d{4,})` instead of `(?<year>[-+]?\\d{1,})`

[2020-10-22 09:12] qfrtrt opened #5647 ""DISTINCT *, column_A ORDER BY column_A" failed"
[code]
[code]

[2020-10-22 09:25] Asturias-sam commented on #5384
@DRavikanth  we are also facing a similar problem: https://github.com/apache/incubator-superset/issues/11359
Any help how you are doing user impersonation from superset to Presto ?

[2020-10-22 09:30] Asturias-sam commented on #5384
@tooptoop4  is your PR for the similar issue ?

[2020-10-22 09:39] tooptoop4 commented on #5384
@Asturias-sam https://github.com/apache/incubator-superset/pull/9422/files fixes it

[2020-10-22 10:03] Asturias-sam commented on #5384
@tooptoop4  is this require any changes from presto side as well i.e `access-control impersonation-rules` or just we need to check the user-impersonation checkbox from superset side?

[2020-10-22 10:39] Asturias-sam commented on #5384
@tooptoop4  how the password is set for the users i.e impersonating user ?

[2020-10-22 10:59] walter-weinmann opened #5648 "Oracle session not disconnected"
### Execution protocol:

[code]

### Minimal source file:

[code]

[2020-10-22 11:11] jaspreet997 commented on #5602
Working fine with this serde. We do use some features from the openx serde though so we will have to work out something until the support comes officially. Appreciate the help so far.

[2020-10-22 11:29] bryanwongsz opened #5650 "elasticsearch connectors' elasticsearch versions and vulnerabilities"
elasticsearch connectors  used elasticsearch have long time no
update，this component have vulnerabilities CVE-2019-7611、CVE-2018-3831、CVE-2018-3826， do you have plan to update and fix it？

[2020-10-22 11:31] bryanwongsz opened #5651 "presto-kafka's scala versions and vulnerabilities"
presto-kafka used scala have vulnerabilities CVE-2017-15288， do you have plan to update and fix it？

[2020-10-22 11:41] sshkvar commented on #5616
Possible solution would be adding new IcebergTableProperty (type) which will be configurable (`EXTERNAL_TABLE` by default) but user will be able to change it to one of `MANAGED_TABLE, EXTERNAL_TABLE, VIRTUAL_VIEW, MATERIALIZED_VIEW` on table creation step

[2020-10-22 12:48] qianmoQ opened #5653 "Presto connects mysql to pull the full amount of data problem"
Why does Presto connect to MySQL data source pull the full amount of data in the filter? Can't you use the passed WHERE condition filtering directly on the MySQL side?

[2020-10-22 12:49] cccs-jc commented on #5571
Did some further digging. Here are my notes for possible implementation:

Iceberg classes use to list namespaces and tables from iceberg based on HDFS only
---------
[code]
Interface used by Presto to discover Iceberg namespaces and tables (namespaces are called schema in Presto)
--------------

IcebergMetadata
[code]

IcebergMetadata uses IcebergUtil for example

[code]
In IcerbergUtil there are

[2020-10-22 13:50] abhisheksahani opened #5655 "Presto memory connector is using too much memory as compare to data size it is storing in-memory."
Presto memory connector is using too much memory as compare to data size it is storing in-memory.
Scenario to reproduce the issue
create an in-memory table using a mongo connector.
       create user_table from mongoperf.eds.user_data (here we are using catalog    memory  and in that we are creating a user_table via mongo connector,mongoperf is also a catalog for mongo) this query brings 30.9 mill

[2020-10-22 13:50] tooptoop4 commented on #5384
password does not need to be set for the user being impersonated :) u create a datasource with a super user (and its password), that acts as the principal, then users logging into superset get impersonated onto the connection (and authorization happens on their user privs, not the superuser). in access-control presto json u allow superuser to impersonate any user. of course, don't share the superu

[2020-10-22 14:01] walter-weinmann commented on #5648
## Short version:

If you connect to the Oracle database with the Presto JDBC driver, insert data into a table and then close the connection again, the corresponding database session will not be closed.

## Long version:

The following steps will cause the error:

### 1. with the Oracle driver:

**a) Create database connection with user SYS
b) Creation of the user kxn_user
c) Close database connec

[2020-10-22 14:04] phd3 commented on #5646
@qfrtrt This is to avoid ambiguity. For all the fields (year, month, date), the number of digits enforced by the pattern end up enforcing a unique interpretation. Does that answer your question?

[2020-10-22 14:14] qfrtrt commented on #5646
what ambiguity? Can you make an example? please

[2020-10-22 14:28] sshkvar commented on #5616
something like it https://github.com/prestosql/presto/pull/5656/files

[2020-10-22 14:50] #5369 closed

[2020-10-22 14:50] #5263 closed

[2020-10-22 14:50] #5452 closed

[2020-10-22 14:50] #5453 closed

[2020-10-22 14:50] #5454 closed

[2020-10-22 14:52] findepi commented on #5503
[code]

#5495

[2020-10-22 15:13] findepi commented on #5646
@qfrtrt what is the context of your question?

[2020-10-22 15:13] brandboat opened #5657 "Fix fail test in TestWebUi.testNoPasswordAuthenticator"
#5558 catch all RuntimeException which cause `testNoPasswordAuthenticator` in `TestWebUI.java` fail.
This test will check if Exception is thrown when `PasswordAuthenticator` is not loaded.

[2020-10-22 15:14] findepi commented on #5657
thanks,
being fixed in https://github.com/prestosql/presto/pull/5644

[2020-10-22 15:16] findepi commented on #5651
@bryanwongsz thanks for the report. Do you also plan to send a PR doing the update?

[2020-10-22 15:17] findepi commented on #5650
@bryanwongsz thanks for the report. Could you please turn the CVEs into links for the benefit of others?
Do you also plan to send a PR doing the update?

[2020-10-22 15:18] qfrtrt commented on #5646
I think '20-01-01' should be a valid timestamp value, and in a previous version(0.214) it is valid. But in 344 version, it is invalid. I just want to know what is the reason of this change.

[2020-10-22 15:21] findepi commented on #5602
@jaspreet997 thanks for the feedback
i will close the issue as not-a-bug-in-Presto for now.

can you please mention https://github.com/prestosql/presto/issues/5638 those additional features that openx serde has that you're benefitting from?

[2020-10-22 15:21] #5602 closed

[2020-10-22 15:23] findepi commented on #5646
you mean that Presto should accept `CAST('20-01-01' AS date)` or `DATE '20-01-01'`, or something else?

[2020-10-22 15:39] chickenPopcorn opened #5658 "MongoDB connector timestamp predicate pushdown"
Prestosql version 340

We are having a little bit of a performance issue with the MongoDB connector, where the timestamp predicate is not pushed down to the database
For the query below where we have an index on day field in the database
[code]
It still does a large table scan instead of looking at the index and select one

[2020-10-22 15:41] qfrtrt commented on #5646
`CAST('20-01-01' AS timestamp)` or `TIMESTAMP '20-01-01'`

[2020-10-22 15:44] martint commented on #5646
Mostly to be closer to standard SQL semantics, which defines date and timestamp literals as:

[code]

But, to elaborate on the potential ambiguity, `20-01-01` could be interpreted as `2020-01-01`, `1920-01-01`, or simply as an omission of the first two digits of the year, which would result in `0020-01-01`.

[2020-10-22 16:07] qfrtrt commented on #5646
Got it. Thanks for answer.

[2020-10-22 16:16] martint commented on #5650
Those are server-side CVEs in Elasticsearch. They shouldn't affect the connector in Presto:

https://nvd.nist.gov/vuln/detail/CVE-2019-7611

https://nvd.nist.gov/vuln/detail/CVE-2018-3831

https://nvd.nist.gov/vuln/detail/CVE-2018-3826

[2020-10-22 16:56] laurachenyu commented on #4619
@findepi is there a unified format for feature documentation like this?

[2020-10-22 17:11] electrum commented on #5503
[code]
#4739

[2020-10-22 17:12] electrum commented on #5503
[code]
#4661

[2020-10-22 17:15] electrum commented on #5503
[code]
#5402

[2020-10-22 17:16] #5657 closed

[2020-10-22 17:25] electrum commented on #5632
The drop table behavior for the Presto Iceberg connector does need to be revisited. We call the metastore `drop_table()` with `deleteData=true`, since that's the right behavior for Hive. `hive.metastore.thrift.delete-files-on-drop=true` is a hack that was put in place since there were some weird cases where the metastore wouldn't clean up the files when Presto called `drop_table()`.

For Iceberg,

[2020-10-22 17:28] electrum commented on #5632
I personally like the approach of using a unique directory for Iceberg locations. Having that as an option seems reasonable. But since that's not the "standard" behavior of Iceberg, and because that's not a guarantee in the Iceberg ecosystem, I don't think we should make it the default behavior, nor can we rely on it for correctness when dropping a table.

[2020-10-22 17:36] findepi commented on #4619
i will defer to @electrum on this. @mosabua can help too

[2020-10-22 17:38] findepi commented on #5646
Let me close this as answered.
We can continue conversation here, or on [our slack](https://prestosql.io/slack.html).

[2020-10-22 17:38] #5646 closed

[2020-10-22 18:04] losipiuk commented on #5618
I tried to reproduce what you are observing but i failed.
Here are the steps I took:

**create table in BQ**

Using BigQuery web interface
[code]

**populate the data**

with variants.csv
[code]

run
[code]

**verify data in Presto**

[code]
[code]

**run problematic query**
[code]

**run explain query**
[code]

[2020-10-22 18:13] losipiuk commented on #5618
@jvlasblom

In the `explain` output of my repro-attempt you may notice that there are only 3 columns in `projectedColumns=` list. There is `end_position` missing. Which is expected at it should have be optimised out during planning.

In your `explain` output there are all 4 columns listed which is very unexpected. I cannot think of anything specific, but it looks like Presto is executing different

[2020-10-22 19:22] jvlasblom commented on #5618
This is very odd.  So my actual table has five columns.  The final one, sequence_accession, is a varchar/string and is not used in this query and didn't seem relevant.  However, if I create a table WITHOUT this column, it returns true.  If I create a table WITH this column, it returns false.  The values in the column don't matter (same result if i set them to null).

More precisely, something simi

[2020-10-22 19:41] martint opened #5660 "Improper resolution for fully qualified reference to field from inner query"
This query should fail because `t` is not in scope for the outer query:

[code]

[2020-10-22 19:41] martint commented on #5647
Relates to https://github.com/prestosql/presto/issues/5660

[2020-10-22 20:03] findepi commented on #2180
Fixed in 76c26e117a

[2020-10-22 20:03] #2180 closed

[2020-10-22 20:12] findepi commented on #1977
https://github.com/prestosql/presto/runs/1279830864

[2020-10-22 20:17] findepi commented on #5503
[code]

#5596

[2020-10-22 20:20] losipiuk commented on #5618
Thanks. With 5 columns it reproduces in my env. I will dig into that.

[2020-10-22 20:39] mr-big-spency opened #5663 "Enhance configuration of kinesis catalogs to support multiple streams per catalog entry"
I’d like to upgrade the kinesis connector to allow a single catalog to support multiple kinesis streams.

If we allowed multiple lines in the catalog config with kinesis.table-description-location instead of just one I think we would achieve that goal.

[2020-10-22 20:41] findepi opened #5664 "Continuous Integration for BigQuery connector"

[2020-10-22 20:41] findepi commented on #5664
cc @davidrabinowitz

[2020-10-22 20:43] findepi commented on #5664
Not strictly related, but --
@ebyhr do we have instructions for running existing tests?
for example if i were to run `TestBigQueryIntegrationSmokeTest`, what should i do?

[2020-10-22 21:00] martint opened #5665 "Planning failure for DELETE with complex subquery"
Given

[code]
The following query:

[code]

fails with

[code]

[2020-10-22 22:03] martint commented on #5651
This doesn't seem relevant to Presto. It may affect Kafka's server-side, but we don't use the Scala compiler in Presto:

[2020-10-23 00:37] ebyhr commented on #5664
@findepi Currently, the test expects `bigquery.credentials-key` as credential. So, we need to set `-Dbigquery.credentials-key=xxx` to VM options on IntelliJ.

The entire steps are:
1. Create a service account on GCP
2. Create a key for the account. It generates a json file
3. Get base64 encoded characters e.g. `cat xxx.json | base64`
4. Set the generated characters to the above `xxx`

[2020-10-23 05:03] lxynov commented on #5001
@jiegzhan My previous statement that "Presto doesn't use `avro.schema.literal` yet" was inaccurate. Presto uses `org.apache.hadoop.hive.ql.io.avro.AvroGenericRecordReader` to read Avro files, and it picks up `avro.schema.literal` from table/partition/serde properties. The accurate statement should be that Presto doesn't support creating tables with `avro.schema.literal` yet.

I believe it was some

[2020-10-23 05:25] sshkvar commented on #5632
@electrum I am fully agree with you that Unique name feature should't be default behavior for Iceberg connector, thats why I added new configuration option which will enable this functionality in case user need it ([IcebergConfig](https://github.com/sshkvar/presto/pull/2/files#diff-61cfc776ac9508d7d3cd43e0fa5742e495d570b6bb3880a7e1d74afb9406e961R30)), but by default it is false `private boolean un

[2020-10-23 07:44] sopel39 commented on #5655
Is the memory usage reported a JVM mem?

[2020-10-23 08:18] qianmoQ opened #5669 "Integrate Coral with Presto to enable querying hive views with bug"
1. Failed to translate Hive view ‘odv.monitor’: Unhandled Hive AST token current_date, tree: current_date
2. not support custom udfs

custom udf error log

[code]

Unhandled Hive AST token

[code]

[2020-10-23 08:55] findepi opened #5670 "Queries involving Kudu do not evaluate all predicates correctly"
@losipiuk found out that https://github.com/prestosql/presto/issues/5618 is caused by a piece of code that is similar in BQ and Kudu connectors.

[2020-10-23 08:55] findepi commented on #5670
cc @Crossoverrr @lzeiming

[2020-10-23 08:56] findepi commented on #5635
can this be related to https://github.com/prestosql/presto/issues/5618? cc @losipiuk

[2020-10-23 09:01] findepi commented on #5669
current_date

These are separe problems (hanlding of a custom UDF vs builtin function), so @qianmoQ please create two separate issues.
Also, please include steps to reproduce, e.g. `CREATE VIEW` that you used in hive to create the view.

[2020-10-23 16:27] martint opened #5678 "Release notes for 346"
## Dain Sundstrom
- [x] all checked
-  10-28 17:03:59    8169736758 Add planning time to QueryStatistics
-  10-28 17:03:59    b09095e984 Add user groups to QueryContext
## David Phillips
- [ ] all checked
-  10-27 09:49:07    06cef37a71 Update READMEs for doc building changes
-  10-27 10:06:08    5a71959762 Push complex expression filters into Glue metastore
-  10-27 11:08:29    a805dbb56d Add AWS

[2020-10-23 16:39] rdblue commented on #5632
I would be fine with adding a unique UUID to table locations. We do this for our tables in our custom catalog. It would just be a matter of updating how a default table location is generated in the catalog. Feel free to open a PR for Iceberg.

[2020-10-23 16:48] #5623 closed

[2020-10-23 16:53] #5503 closed

[2020-10-23 17:46] electrum commented on #5638
We recommend using `org.apache.hive.hcatalog.data.JsonSerDe` instead, as it is fully supported in Presto.

[2020-10-23 18:00] laurachenyu commented on #5669
@qianmoQ thanks for reporting the issue.

[2020-10-23 20:20] laurachenyu commented on #5669
I recreated the same error with current_timestamp(), it seems to be a coral issue. I opened a JIRA for coral team to follow up.

[2020-10-24 08:31] Asturias-sam commented on #5384
@tooptoop4  i have deployed your changes and i have done the following steps:

1. create a data source with admin and select impersonated user.
2. created a access-control presto json
[code]
3. Login with non-admin user in superset, still not able to access the data source from presto logs it's says:
`Password validation failed for user DN [nonadminuser]`

Any help regarding this ?

[2020-10-24 08:46] tooptoop4 commented on #5384
what version of pyhive do u have on superset host?

[2020-10-24 08:48] tooptoop4 commented on #5384
also try to impersonate in just python using pyhive, without superset

[2020-10-24 09:09] Asturias-sam commented on #5384
pyhive version 0.6.2, @tooptoop4  have you done the same setup as mentioned above ?

[2020-10-24 09:45] Asturias-sam commented on #5384
@tooptoop4 directly from  pyhive how i can test user impersonate ?

[2020-10-24 12:23] kranthikiran01 opened #5680 "Add aggregate pushdown in MemSql connector"
I have seen a significant performance gain with aggregate pushdown implemented in MemSql connector similar to MySQL connector. We require a similar enhancement in MemSql to leverage the pushdown feature.

[2020-10-24 12:54] ebyhr commented on #5635
I could reproduce this issue. Exactly, `TableInfo#getNumRows` returns 0 at
https://github.com/prestosql/presto/blob/f4bca505a7d8dce4d7bd5a3d551dc4a9803cadad/presto-bigquery/src/main/java/io/prestosql/plugin/bigquery/BigQuerySplitManager.java#L128

[2020-10-24 13:21] walter-weinmann opened #5681 "Improve INSERT performance for JDBC based connector"
[GitHub repository db_seeder](https://github.com/KonnexionsGmbH/db_seeder/tree/wwe_2.6.0)

The task for all databases is the following: Add a total of 8011 rows to 5 different database tables. For the databases and Presto the official Docker images are used. The tests have been run exclusively in one go on a Windows 10 notebook. The performance of the Presto JDBC driver is extremely poor. Details

[2020-10-24 18:12] #5640 closed

[2020-10-24 19:03] martint commented on #5678
[code]

https://github.com/prestosql/presto/pull/5640, https://github.com/prestosql/presto/pull/5641

[2020-10-24 21:56] findepi opened #5683 "Provide readable TIMESTAMP and TIMESTAMP WITH TIME ZONE representation in EXPLAIN"
This is not easy to read:
[code]

[code]

[2020-10-25 02:12] walter-weinmann commented on #5681
## The problem with MySQL can be reproduced with the following steps (Windows 10):

- All scripts are also available for Ubuntu and bash.
- Similar scripts are available for Oracle, PostgreSQL and SQL Server.
- The number of rows to be inserted is limited to 500, but can easily be changed using the variable `rowMaxSize`.
- For 500 rows MySQL needs 1 second and Presto 87 seconds.
- A sample protoco

[2020-10-25 05:58] ebyhr opened #5684 "Incorrect LIKE result in PostgreSQL connector"
Steps to reproduce:
[code]

The above SELECT query generates the following query. While `"c1" >= 'test.'` returns true, `"c1" < 'test/'` returns false in PostgreSQL.
[code]

Related to https://stackoverflow.com/questions/64510558/how-to-use-like-operator-in-presto-whit-string-that-contain-dot
MySQL connector generates the same query except for the quotation, but it returns correct result.

[2020-10-25 06:25] findepi opened #5685 "Regression: incorrect query results when comparing timestamp column with timestamp with time zone constant"
Query `... timestamp_column >= TIMESTAMP 'date-time some-zone'`
gets evaluated as if `... timestamp_column >= TIMESTAMP 'date-time'`.

It was correct prior 341. Since 341 it is correct only when some-zone = session zone.

[2020-10-25 06:30] findepi commented on #5543
@guyco33
we hit some roadblock with a fix for this (see https://github.com/prestosql/presto/pull/5673, https://github.com/prestosql/presto/pull/5675, https://github.com/prestosql/presto/issues/5685).

As a **workaround**, try replacing `now()` function in your query with `localtimestamp`,
or explicitly casting RHS of the comparison to `timestamp(p) [without time zone]`.

[2020-10-25 06:52] findepi commented on #5684
See https://github.com/prestosql/presto/issues/3645

[2020-10-25 07:27] ebyhr commented on #5684
@findepi Thanks, I was missing that. Let me close this.

[2020-10-25 07:27] #5684 closed

[2020-10-25 12:07] RosterIn opened #5686 "add support for temp tables"
Many DBs allow to create Temp tables

Postgresql: https://www.postgresql.org/docs/13/sql-createtable.html
MySQL: https://dev.mysql.com/doc/refman/8.0/en/create-temporary-table.html
BigQuery: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language#temporary_tables
and others..

Currently presto doesn't allow it.
There was a similar issue in PrestoDB which I'm not sure

[2020-10-25 20:04] ramondeklein commented on #2475
@findepi Can you explain why S3 Select is explicitly disabled for uncompressed files?

[2020-10-25 21:04] abhisheksp commented on #4531
I can work on this if the issue is available

[2020-10-26 00:46] leoChaoGlut opened #5687 "Kudu connector bug: kudu insert operation timeout,bug result is success"
presto version: 330
kudu version: 1.10.0

When using presto-cli to insert data into kudu table, query result is FINISHED, but no data was inserted into that table.
After that, i use kudu-client to insert data into that table too, i found kudu server is unreachable, exception as below:

`Timed out: cannot complete before timeout: Batch...`

step:

1.
[code]
2.
[code]

3. attention, this query takes

[2020-10-26 05:45] #5271 closed

[2020-10-26 07:26] qianmoQ opened #5688 "Integrate Coral Failed to translate Hive view ‘odv.monitor’: Unhandled Hive AST token current_date, tree: current_date"
i'm Integrate Coral with Presto to enable querying hive views has error:

[code]

i'm create view script

[code]

[2020-10-26 07:34] qianmoQ opened #5689 "Integrate Coral with Presto to enable querying hive views not support custom udfs"
i'm Integrate Coral with Presto to enable querying hive views has error:

[code]

`smid_udf` is a custom hive udf

[2020-10-26 07:34] qianmoQ commented on #5669
@findepi @laurachenyu

i'm split this issues is

- [ ] [Unhandled Hive AST token current_date, tree: current_date](https://github.com/prestosql/presto/issues/5688)
- [ ] [not support custom udf](https://github.com/prestosql/presto/issues/5689)

[2020-10-26 07:38] qianmoQ commented on #5669
multiple function not support

[2020-10-26 08:13] Praveen2112 commented on #5535
What if we could maintain the order and generate the Query based on the order
For a query plan like

Filter ->Limit-> TableScan
[code]

Limit ->Filter -> TableScan
[code]

[2020-10-26 08:30] sopel39 commented on #5535
Another though to this issue. Pushdown of FILTER after LIMIT might make sense if there is an aggregation e.g:
[code]
if filter is on aggregation keys, then less groups might need to be evaluated.

[2020-10-26 09:08] Crossoverrr commented on #5622
@sopel39 Hi, I have raised a PR about this issue, please help me review the code. https://github.com/prestosql/presto/pull/5690

[2020-10-26 09:19] Crossoverrr commented on #5670
So, have this issue been fixed?

[2020-10-26 09:33] findepi commented on #5688
Per @laurachenyu 's https://github.com/prestosql/presto/issues/5669#issuecomment-715571382
view containing `current_timestamp` is not supported yet either.

[2020-10-26 09:34] findepi commented on #5669
@qianmoQ thanks!

I am closing this in favor of those new tickets.

All Coral-related tickets can be found from https://github.com/prestosql/presto/issues/5606

[2020-10-26 09:34] #5669 closed

[2020-10-26 09:36] findepi commented on #5687
cc @Crossoverrr

[2020-10-26 10:07] losipiuk commented on #5670
I did not deeper into Kudu implementation. Just notices that implementation of `applyProjection` in Kudu is the same as it was in BQ (see https://github.com/prestosql/presto/pull/5666/files)
In BQ it resulted in query correctness issues. But it does not necessarily need to be true for Kudu.

Yet for sure the behavior of projection in Kudu is suboptimal, as effectively only first call to `applyProj

[2020-10-26 10:08] #5165 closed

[2020-10-26 10:14] findepi commented on #5678
[code]

#5509 #5165

[2020-10-26 10:17] findepi commented on #5352
instead of a diff, why don't you make a PR?
it will be much easier to work with, comment, etc.

[2020-10-26 11:47] ebyhr commented on #5678
[code]

https://github.com/prestosql/presto/pull/5399

[2020-10-26 12:06] Ajax-Light commented on #4697
Hey! Is this still open? I'm new to open-source, if you could give me a head-start, I'd like to submit a PR for this issue.

[2020-10-26 12:40] tedyu commented on #5352
Even with -X option, I didn't get more clue on which enforcer rule was broken.

Once the compilation passes, I would send out the PR.

Meanwhile, suggestion on how to fix compilation is welcome.

[2020-10-26 13:34] #5618 closed

[2020-10-26 13:39] losipiuk commented on #5678
[code]

https://github.com/prestosql/presto/pull/5618
https://github.com/prestosql/presto/pull/5666

[2020-10-26 14:09] ebyhr commented on #5687
@leoChaoGlut Are you setting `range_partitions`? Could you share `SHOW CREATE TABLE o3` result?

[2020-10-26 14:14] leoChaoGlut commented on #5687
[code]

[2020-10-26 14:39] martint opened #5694 "Verify DefaultTraversalVisitor implements all methods"
This can be done in a similar manner to https://github.com/prestosql/presto/blob/c74b775e103a7a239aafef1b7ca15fe6370495fe/presto-plugin-toolkit/src/test/java/io/prestosql/plugin/base/security/TestAllowAllAccessControl.java#L26

[2020-10-26 15:48] findepi commented on #5352
let's see how it looks like in the PR.

[2020-10-26 16:07] tedyu commented on #5352
https://github.com/prestodb/presto/pull/15357

[2020-10-26 17:06] #5484 closed

[2020-10-26 17:07] phd3 commented on #5678
## Hive Connector Changes
* Support coercion between `varchar` types of different lengths. ({issue}`5484`)

#5530

[2020-10-26 17:47] djsstarburst commented on #5049
The work for this ticket, in PR #5402, which has been merged.

Closing this ticket.

[2020-10-26 17:47] #5049 closed

[2020-10-26 18:37] erichwang commented on #793
Not sure what investigation has been done here, but based on the code, "ERROR: transaction is read-only Detail" is an error message coming from the Redshift server, so it might have something to do with an incompatible parameter or usage of Redshift with JDBC in general.

For example, I found this similar error from Redshift in another context when combining Redshift+JDBC+derived table containing

[2020-10-26 19:01] andrewdryder opened #5697 "jmx.base-name is no longer applied to QueryManager metrics"
After upgrading from 336 -> 338, our dashboards suddenly were missing some QueryManager metrics. After a bit of investigating, it seems like this was due to this [PR](https://github.com/prestosql/presto/pull/4129) - specifically [this line](https://github.com/prestosql/presto/pull/4129/files#diff-cfc279e7ec98b2e797d73425a9d01e29f096d1e9b1580b29296cc531a09333c4R243) - Not applying `jmx.base-name` t

[2020-10-26 19:09] kokosing commented on #5697
@aalbu Maybe we could expose these stats under two names? Is this possible?

[2020-10-26 19:30] aalbu commented on #5697
It's possible, but probably not necessary.  My intent was to make the change completely transparent, I just messed up by hard-coding the prefix.

[2020-10-26 21:21] martint opened #5701 "Derive more precise types for EXTRACT"
Currently, all results are typed as BIGINT. Given the constrained range for each of the field types, we can derive tighter type bounds.

[2020-10-27 00:11] ebyhr commented on #5352
@tedyu It seems you sent PR to different repository. Could you resend to ***prestosql***/presto?

[2020-10-27 02:16] Nithanaroy commented on #609
Isn't this related to https://github.com/prestodb/presto/issues/2433 ?

[2020-10-27 02:47] ckdarby commented on #5072
Also noticed PrestoDB had a PR to support this:
https://github.com/prestodb/presto/pull/14947

[2020-10-27 03:01] jiangzhx commented on #5155
FYI：Differentiate among column stats computed by different engines
https://issues.apache.org/jira/plugins/servlet/mobile#issue/HIVE-22046

[2020-10-27 08:31] findepi commented on #5701
The relevant code is:

- `io.prestosql.sql.analyzer.ExpressionAnalyzer.Visitor#visitExtract` for the type
- EXTRACT is mapped to functions in `io.prestosql.sql.planner.iterative.rule.CanonicalizeExpressionRewriter.Visitor#rewriteExtract`, and each such function return type must match EXTRACT's return type

[2020-10-27 08:53] #4921 closed

[2020-10-27 08:54] sopel39 commented on #5678
[code]
https://github.com/prestosql/presto/pull/5634

[2020-10-27 10:54] ebyhr commented on #5546
@jvlasblom This query works without error on upstream. What Presto version are you using?

[2020-10-27 11:36] skrzypo987 opened #5706 "Support role as an owner of hive table"
This is supported in Hive 3.

Related: https://github.com/prestosql/presto/issues/3052

[2020-10-27 13:22] ebyhr commented on #5678
[code]

https://github.com/prestosql/presto/pull/5047

[2020-10-27 13:48] kokosing commented on #5706
Can a role be an owner of SCHEMA?

[2020-10-27 13:50] skrzypo987 commented on #5706
Yes. It is supported in Presto.

[2020-10-27 14:09] tedyu commented on #5352
https://github.com/prestosql/presto/pull/5708

[2020-10-27 17:01] electrum opened #5709 "Add product test that uses Glue metastore"
We should verify that Glue works end-to-end with SQL queries.

[2020-10-27 17:17] electrum opened #5710 "Verify metastore partition filtering works correctly"
We should test that `HiveMetastore.getPartitionNamesByFilter()` is called with the correct `TupleDomain`. One approach is to use a product test that enables `RecordingHiveMetastore`, runs a query with a filter, then checks the recording to see that the filter is contained in the recording file.

[2020-10-27 20:21] findepi commented on #5709
https://github.com/prestosql/presto/issues/5426

[2020-10-27 20:21] #5709 closed

[2020-10-27 20:30] #5660 closed

[2020-10-27 21:35] martint commented on #5678
[code]

https://github.com/prestosql/presto/pull/5639

[2020-10-27 21:37] #5647 closed

[2020-10-27 21:40] martint commented on #5678
[code]

https://github.com/prestosql/presto/pull/5647

[2020-10-27 21:42] martint commented on #5678
[code]

[2020-10-27 21:44] #609 closed

[2020-10-27 21:48] martint commented on #5678
[code]

https://github.com/prestosql/presto/pull/5696

[2020-10-28 00:49] martint commented on #5678
[code]

https://github.com/prestosql/presto/pull/5668

[2020-10-28 01:14] martint commented on #4697
Yes, this is still open. Go for it!

[2020-10-28 02:04] xkwangcn commented on #5568
@sopel39 Basically, and I want to use it in my platform.
Do you know what the function of `calculateCompactSize(), compact(), ids`mean in https://github.com/prestosql/presto/blob/master/presto-spi/src/main/java/io/prestosql/spi/block/DictionaryBlock.java,  I want to debug my error from here.
Thanks for you reply and help.

[2020-10-28 03:17] Ajax-Light commented on #4697
@martint Thanks! Gimme a day to get a hang of this codebase 😊

[2020-10-28 07:47] allendang001 opened #5714 "add hive.metastore=file explanation in hive connector doc"
Currently, presto supports directly using files as the configuration of hive.metastore, but there is no introduction in the hive-connector document.

[2020-10-28 08:36] sopel39 commented on #5568
`ids` are selected positions from dictionary block. `calculateCompactSize()` computes dictionary block size when compacted. `compact` reduces block mem usage by removing unused positions from dictionary.

I suggest joining PrestoSQL slack (https://prestosql.io/slack.html, particularly #dev channel) so we could help you with the connector. I will close this issue now.

[2020-10-28 08:36] #5568 closed

[2020-10-28 08:47] sopel39 commented on #5678
[code]
https://github.com/prestosql/presto/pull/5690

[2020-10-28 08:47] findepi commented on #5714
This is intentionally not documented, because file metastore is not a supported feature.

[2020-10-28 08:54] kokosing opened #5718 "Update guava version to 30.0"

[2020-10-28 08:55] kokosing commented on #5718
This relates to https://github.com/prestosql/presto/pull/5712

[2020-10-28 08:59] findepi commented on #5714
@allendang001 :

I know it works, we use it for testing purposes. In fact, the implementation is tailored for testing purposes too.
We make no backward compatibility guarantees for the internal structures used by the `FileHiveMetastore`.
In fact, we may need to introduce breaking changes to overcome existing limitations in that metastore.
I would not want to cause breakage for the users. If we wer

[2020-10-28 09:00] #5246 closed

[2020-10-28 09:04] findepi commented on #5678
[code]

#4521

[2020-10-28 09:06] kokosing commented on #5718
That requires:
 - changing https://github.com/airlift/airbase to guava 30
 - then changing https://github.com/airlift/airlift to update it to new airbase
 - and then updating Presto

For reference, please see:
 - https://github.com/airlift/airbase/commit/88e4e3ae3454d137549cce960793cc56af80cb7d
 - https://github.com/airlift/airlift/commit/b2d021261dca74f242ee96a431db582d3d7f71d8 (which updated gua

[2020-10-28 09:09] allendang001 commented on #5714
If it is the realization of the test purpose, we can introduce this usage, and then declare the follow-up support and disclaimer in the document. It just so happens that the function we want is similar to this one. It was only after reading the code that we realized that we can still play like this. Documented this can also help those who need it later understand this implementation and improve th

[2020-10-28 09:09] findepi commented on #5678
[code]

#3077

[2020-10-28 09:10] kokosing commented on #5678
[code]
#5610

[2020-10-28 10:24] losipiuk opened #5721 "Pass connectorProperties map instead individual parameters to createOracleQueryRunner"
https://github.com/prestosql/presto/pull/5720#discussion_r513319068

[2020-10-28 10:56] skrzypo987 opened #5722 "Add CREAE TABLE... SET AUTHORIZATION"
Related:
https://github.com/prestosql/presto/issues/3052

[2020-10-28 10:56] skrzypo987 opened #5723 "Add ALTER VIEW SET AUTHORIZATION"
Related to https://github.com/prestosql/presto/issues/3052

[2020-10-28 13:13] Ajax-Light commented on #4697
@martint Hey, I was going through the code base, and if i understood the issue statement properly, I should be doing what the **TODO** is saying and use ```timeStampWriteFunction()``` instead of ```return WriteMapping.longMapping("datetime", timestampWriteFunctionUsingSqlTimestamp(TIMESTAMP_MILLIS));``` here:
![image](https://user-images.githubusercontent.com/54140487/97440238-35293000-194d-11eb-8

[2020-10-28 14:24] Praveen2112 commented on #5678
[code]
#3691

[2020-10-28 14:41] losipiuk commented on #5678
[code]
#5720

[2020-10-28 17:50] davigust commented on #2730
I'm still getting this error in 341. Has there been a regression?

[code]

[2020-10-28 18:16] martint commented on #2730
@davigust, that seems like a different problem. It's failing in this line, which would indicate the file has a column chunk within a row group that's larger than 2GB. The original problem was when a *file* was larger than 2GB.

[code]

Can you file a separate issue so we can track it and diagnose it further?

[2020-10-28 19:56] davigust opened #5729 "ArithmeticException: integer overflow when querying large Parquet files with large row group (2GB)"
Queries failing against large parquet files in release 341. @martint kindly suggested that the issue could be a row group exceeding 2GB.

[code]

https://github.com/prestosql/presto/issues/2730#issuecomment-718119044

[code]

[2020-10-28 20:14] martint commented on #5729
Can you post the output of `parquet-tools meta` for that file?

[2020-10-28 21:15] JamesRTaylor opened #5731 "Wrong exception type when units cannot be parsed"
When attempting to set a session variable with the incorrect units, we get an INTERNAL_ERROR instead of a USER_ERROR. For example:

    SET SESSION query_max_memory='32g'

produces the following exception:

    java.lang.IllegalArgumentException: Unknown unit: g
	at io.airlift.units.DataSize$Unit.fromUnitString(DataSize.java:322)
	at io.airlift.units.DataSize$Unit.access$100(DataSize.java:286)
	at

[2020-10-29 04:11] davigust commented on #5729
Some of the data values have been scrubbed.

Looks like one big rowgroup.

[code]

[2020-10-29 06:34] allendang001 commented on #5714
If it is the realization of the test purpose, we can introduce this usage, and then declare the follow-up support and disclaimer in the document. It just so happens that the function we want is similar to this one. It was only after reading the code that we realized that we can still play like this. Documented this can also help those who need it later understand this implementation and improve th

[2020-10-29 09:43] ebyhr opened #5734 "Flaky TestKafkaIntegrationPushDown.testTimestampLogAppendModePushDown"
[code]

[2020-10-29 09:44] ebyhr commented on #5734
#5726

[2020-10-29 15:07] findepi commented on #5734
cc @wangli-td @losipiuk

[2020-10-29 15:12] findepi commented on #4948
https://github.com/prestosql/presto/runs/1325585545

[2020-10-29 15:13] findepi commented on #4948
The failure is reproducible locally with `@Test(invocationCount = 1000)`.
I got 4 failures in first 150 iterations (210s).

[2020-10-29 15:51] findepi opened #5736 "Invalid result of TIME to TIMESTAMP cast for high precisions"
The value renders correctly (appears to be correct):

[code]

but actual runtime value is not correct:

[code]

[2020-10-29 15:53] findepi commented on #5736
The example is taken from existing test:
[code]

this reveals a generic deficiency in our testing methodology.

cc @martint

[2020-10-29 16:03] findepi opened #5738 "Current testing technique does not catch some cases when the return value is not valid for given type"
`io.prestosql.sql.query.QueryAssertions#expression(java.lang.String)`  + `matches` can pass eveb when value is not correct for given type: eg not properly truncated (char with trailing spaces), or not properly rounded (timestamp with not max precision).

See https://github.com/prestosql/presto/issues/5736#issuecomment-718846167 for example.

[2020-10-29 17:24] endoplasmicR commented on #5731
We would expect the exception to be of the `USER_ERROR` type from https://github.com/prestosql/presto/blob/master/presto-spi/src/main/java/io/prestosql/spi/ErrorType.java#L18

[2020-10-29 18:21] #5567 closed

[2020-10-29 21:18] JamesRTaylor commented on #5394
@fprivitera - is this something you're working on?

@findepi - any opinion about the name of the functions? I've seen it called `ST_GeomFromGeoJSON` in other databases.

[2020-10-29 21:35] electrum commented on #5731
We should wrap the `decode()` call with a catch block like we do in `SessionPropertyManager` so that it can use the `INVALID_SESSION_PROPERTY` error code.

[2020-10-29 22:24] vincentpoon opened #5744 "Unable to select from view in FileBasedSystemAccessControl read-only catalog"
Now user `test_user` is able to select from the view.

However, then enable File Based System Access Control with the following access policy:

  "catalogs": [
    {
      "allow": "read-only"
    }
  ]
}

Now the user `test_user` is unable to select from the view:

[2020-10-30 00:43] #5630 closed

[2020-10-30 01:27] wangli-td commented on #5734
@ebyhr Hi ehyhr, Thanks. How would you reproduce the issue. Seems my test always pass.

[2020-10-30 01:44] ebyhr opened #5745 "Implement ResultSet#getRow in JDBC driver"
Additionally, we may need to check other methods to allow running in Spring.

https://github.com/prestosql/presto/blob/96de404ec944d60e39c6f2175533066c6b1ff364/presto-jdbc/src/main/java/io/prestosql/jdbc/AbstractPrestoResultSet.java#L687

ResultSet#getRow https://docs.oracle.com/javase/8/docs/api/java/sql/ResultSet.html#getRow--

From https://stackoverflow.com/questions/64601558/itemreader-unable-

[2020-10-30 02:32] ebyhr commented on #5734
@wangli-td Unfortunately, I'm not sure about the steps to reproduce. The failure frequency isn't so high I think.

[2020-10-30 02:56] wangli-td commented on #5734
the normal case:
index:0,partition:0,offset:0, lastTimeStamp:1604025064176
index:1,partition:1,offset:0, lastTimeStamp:1604025064258
index:2,partition:0,offset:1, lastTimeStamp:1604025064284 startTime:2020-10-30 02:31:04.284
index:3,partition:1,offset:1, lastTimeStamp:1604025064318
index:4,partition:0,offset:2, lastTimeStamp:1604025064345 endTime:2020-10-30 02:31:04.345
offsetTimestampRanged:Optio

[2020-10-30 02:58] wangli-td commented on #5734
Or the timestamp in kafka docker may not elapse when local time elapses. I may refine here.

[2020-10-30 03:05] martint commented on #5394
We already have functions like `to_encoded_polyline`/`from_encoded_polyline`, `to_iso8601`/`from_iso8601` (for timestamps), etc, so something consistent with that would be good. How about`from_geojson`/`to_geojson`?

`ST_GeomFromGeoJSON` is less desirable, as functions named `ST_XXX` are typically used by the SQL/MM Spatial standard, so we want to avoid potential conflicts. If/when that name is st

[2020-10-30 07:35] wangli-td commented on #5734
It seems I can't reproduce it in my env util now.
@losipiuk hi losipiuk do you have some clue, do I need add some dump like below when assert fail?
dump sql:SELECT count(*) FROM default.test_push_down_log_append_471b8ed7_f84d_41eb_83db_1f8b9ea6f542
	WHERE _timestamp >= timestamp '**2020-10-30 07:23:25.976**' and _timestamp < timestamp '**2020-10-30 07:23:26.033**'

dump:_partition_id:0, _partition

[2020-10-30 08:00] Lewuathe commented on #5665
We need `FROM`? Since explaining also fails, I could not obtain the correct execution plan of the query.

[code]

But looks like the right node of the join is not returning true for `isAtMostScalar`. (cardinality can be over 1?)

[code]

[2020-10-30 08:58] findepi commented on #5734
The failing assertion seems to be:
[code]

The test may be flaky because of https://github.com/prestosql/presto/issues/5172.

cc @sopel39

[2020-10-30 09:03] findepi commented on #5734
I run the test with `@Test(invocationCount = 1000)` and got 3 fails (270s overall):

once:
[code]

twice:
[code]

the concerning thing is that the `processedInputPositions` is **higher** than expected, so it can be something else than https://github.com/prestosql/presto/issues/5172 after all.

[2020-10-30 09:12] fprivitera commented on #5394
@JamesRTaylor : I would like to use that function, but I cannot help to develop it.

@martint : I kindly disagree,  few considerations:

- think the function is a spatial function, in fact, the input is a geometry.
- I can list two SQL big data services that consider these type methods as  ST_XX functions.
-  on the business side, if you would like to support migration/compatibility of existing co

[2020-10-30 09:21] findepi commented on #5394
@JamesRTaylor @fprivitera

it would be helpful if you could exemplify how the function is called today in other databases, and what signature it has, how does it handle edge cases (`NULL`, `JSON 'null`, etc.)
See eg https://github.com/prestosql/presto/pull/4680#issuecomment-680307337
Having such references tends to be helpful. Mind that it's about more than a name though.

[2020-10-30 09:22] findepi commented on #5744
cc @dain

[2020-10-30 09:39] fprivitera commented on #5394
In this case I would say function(Geometry) -> varchar  , and vice-versa.
about hedge cases, I read the following: "If the geometry is atomic (non-multi) empty, this function would return null."

interesting links to read:
https://postgis.net/docs/ST_GeomFromGeoJSON.html
https://cloud.google.com/bigquery/docs/reference/standard-sql/geography_functions#st_asgeojson

[2020-10-30 09:39] sopel39 commented on #5734
Yeah, it shouldn't be higher.

[2020-10-30 09:43] sopel39 commented on #5665
You could run `EXPLAIN SELECT FROM t WHERE a > ANY (SELECT a FROM t t1 WHERE t1.a = t.a);` to see what plan is under `DeleteNode`
IIRC here decorrelation will increase (temporarily) cardinality of probe rows, so it's more complex pattern which is not handled by `BeginTableWrite`

[2020-10-30 10:56] losipiuk commented on #5734
@losipiuk hi losipiuk do you have some clue, do I need add some dump like below when assert fail?

Can you prepare the dump content upfront, before assertion, and then add it to assertion message?
Like this:
[code]

[2020-10-30 13:36] wangli-td commented on #5734
Yes, I reproduce it with 1000 times test. And It seems the timestamp in LogAppendMode may have some possibilities generated in-order out-of-order.
timestamp:1604064555784: partitionId:0, offset:170000
**timestamp:1604064555808: partitionId:0, offset:170001
timestamp:1604064555799: partitionId:0, offset:170002**
timestamp:1604064555824: partitionId:0, offset:170003
timestamp:1604064555851: partitio

[2020-10-30 15:48] brandboat opened #5752 "Fix incorrect comment in KafkaInternalFieldManager.InternalField"
[code]
`.setComment(Optional.ofNullable(columnName))`
should be
`.setComment(Optional.ofNullable(comment))`

[2020-10-30 15:59] rzeyde-varada opened #5754 "Collect min/max ranges for inequality dynamic filters"
Current code uses `TypedSet` to collect build-side distinct values (which is useful for equi-joins), but for inequality joins it is enough to collect min/max of the build-side values.
Most of the work is done in https://github.com/prestosql/presto/pull/3871 but it needs to be enabled for inequality-joins.

[2020-10-30 16:02] rzeyde-varada opened #5755 "Support dynamic filtering for complex inequalities"
Today, DF for inequality joins works when both left and right expressions are single symbols.
We should support more complex expressions, e.g. `left < right + 10`.

Following https://github.com/prestosql/presto/pull/2674#discussion_r515009349.

[2020-10-30 20:46] findepi commented on #5752
Thanks for spotting this!

[2020-10-30 21:09] findepi opened #5758 "Spurious errors in function registry or type coercions"
For example
[code]

from a test (https://github.com/prestosql/presto/runs/1332836424):

[code]

[2020-10-30 22:06] findepi commented on #5758
There were 4 failures in the test run https://github.com/prestosql/presto/runs/1332836424 -- 2 methods in 2 classes

[code]

upon rerun (https://github.com/prestosql/presto/runs/1334156373) they passed

[2020-10-31 00:54] esemeniuc commented on #1310
Is there a workaround? I'm also experiencing this issue

[2020-10-31 01:44] Lewuathe commented on #5665
@sopel39 Thanks! Looks like `CrossJoin` is used.

[code]

If an unsupporting to rewrite of the delete table scan is reasonable, the problem would be the error message? The message can be `Only inner join is supported` instead of `Invalid descendant for DeleteNode: io.prestosql.sql.planner.plan.JoinNode` which is confusing.

[2020-10-31 03:32] wangli-td commented on #5734
#5762 adds some optimizes for in-order test messages case. Also add some dump messages when fail.

[2020-10-31 07:05] losipiuk commented on #4936
https://github.com/prestosql/presto/pull/5747

[2020-10-31 14:53] LutzWeischerFujitsu opened #5764 "Build error: exec (run-sphinx) on project presto-docs: Command execution failed"
During compilation I get this error:

...
[ERROR] Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.6.0:exec (run-sphinx) on project presto-docs: Command execution failed.: Process exited with an error: 125 (Exit value: 125) -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.6.0:exec (run-sphinx) on project pr

[2020-10-31 16:02] IshJ commented on #5701
Hi. Could I please work on this issue? This will be my very first time.

[2020-10-31 16:14] martint commented on #5701
Absolutely! Go for it!

[2020-10-31 17:27] findepi commented on #5764
@mosabua please see this.

@LutzWeischerFujitsu can you please run maven like below?
[code]

[2020-10-31 18:18] jasonyanwenl commented on #5745
Hi, I am a beginner to our Presto community and I would like to take a look at this issue since this is labeled as good first issue. Hopefully I could raise a PR for this.

To fix this issue, I just would like to make sure that I need to maintain a counter indicating row number and return this number when `getRow` is called (and return 0 if there is no current row) , right?

Thanks!

[2020-10-31 19:04] findepi commented on #5745
@jasonyanwenl  welcome!
what you wrote sounds reasonable to me, although edge cases need to be verified (behavior before first the  row or after the last).
It would be good to double check and compare the proposed behavior with that of e.g. PostgreSQL JDBC driver.

[2020-10-31 20:16] sopel39 commented on #5665
What is full `EXPLAIN` with all stages?

[2020-10-31 20:18] sopel39 commented on #5758
cc @dain

[2020-10-31 20:32] sopel39 commented on #4406
I haven't observed these more. Closing for now

[2020-10-31 20:32] #4406 closed

[2020-10-31 20:35] sopel39 commented on #2855
@Praveen2112 are you going to work on this?

[2020-10-31 20:36] martint commented on #5665
This is because we only support very simple plans for Delete due to the constraint that the tablescan and the delete operation need to be in the same “pipeline” (I.e, no exchanges, etc). The query I provided as an example uses are more complex structure due to containing a correlated subquery.

[2020-10-31 20:37] sopel39 commented on #2694
Closing as irrelevant. We can and should distribute request between metastores

[2020-10-31 20:37] #2694 closed

[2020-10-31 20:42] sopel39 commented on #1657
This is already fixed in master

[2020-10-31 20:42] #1657 closed

[2020-10-31 20:44] sopel39 commented on #1399
This is now fixed in master

[2020-10-31 20:44] #1399 closed

[2020-11-01 11:15] academy-codex opened #5770 "Presto Nested Fields Predicate Pushdown for Elasticsearch"
The nested fields in elasticsearch are read as Row type. The filter pushdown does not happen on the nested fields.

Can we support the same for elastic search?

[2020-11-01 11:20] LutzWeischerFujitsu commented on #5764
$ ./mvnw --version

resulted suprisingly in

Downloading https://repo1.maven.org/maven2/org/apache/maven/apache-maven/3.6.3/apache-maven-3.6.3-bin.zip

Exception in thread "main" java.net.UnknownHostException: repo1.maven.org
        at java.base/java.net.AbstractPlainSocketImpl.connect(AbstractPlainSocketImpl.java:220)
        at java.base/java.net.SocksSocketImpl.connect(SocksSocketImpl.java:403

[2020-11-01 11:32] ebyhr opened #5771 "Fix incorrect comment in BigQuery connector"
The code comment "count the rows based on the filter" indicates the filter will be used, but it isn't used underlying methods.
As far as I checked, this isn't regression (=same behavior from initial commit).

https://github.com/prestosql/presto/blob/f4bca505a7d8dce4d7bd5a3d551dc4a9803cadad/presto-bigquery/src/main/java/io/prestosql/plugin/bigquery/BigQuerySplitManager.java#L120-L124

https://githu

[2020-11-01 13:17] ebyhr commented on #1659
Going to close this issue because #1812 was already merged.

[2020-11-01 13:17] #1659 closed

[2020-11-01 13:19] findepi commented on #5770
it appears we already have an issue about this: https://github.com/prestosql/presto/issues/2519
let's continue the discussion there

[2020-11-01 13:19] #5770 closed

[2020-11-01 19:26] findepi commented on #2994
https://github.com/prestosql/presto/runs/1338510536

[2020-11-01 20:16] findepi commented on #5604
@phd3 @laurachenyu can you possibly connect the https://github.com/linkedin/linkedin-calcite/pull/29 PR with the right person to review that?

[2020-11-02 02:08] Praveen2112 commented on #2855
I'll take it after sometime

[2020-11-02 06:27] Crossoverrr commented on #5687
I think we can abort the insert operation once there are errors reported. No matter one or more pages are failed. Will that be OK?

[2020-11-02 08:37] RaymondWaterlooLi commented on #5627
I am a new developer in this community. May I help solve this issue?

[2020-11-02 10:30] findepi commented on #5678
[code]

#5759

[2020-11-02 10:33] #2994 closed

[2020-11-02 10:34] findepi commented on #5627
@RaymondWaterlooLi welcome! sure, go ahead!

please ask on the `#dev` channel on [our slack](https://prestosql.io/slack.html), should you need any directions.

[2020-11-02 10:54] JhonJohnatan commented on #5638
Guys, we really need this issue.

[2020-11-02 11:06] sopel39 opened #5776 "Extract abstract dynamic filtering tests for connectors"
Extract `AbstractDynamicFilteringTests` class, so that connectors that implement DF could use tests from that class to validate functionality. Each connector should not implement it's own test suite.

[2020-11-02 11:33] sopel39 opened #5777 "Don't push parts of inequality expressions to either side of join in RelationPlanner#visitJoin"
Consider query:
[code]
Currently, `RelationPlanner#visitJoin ` will pushdown computation of `orders.orderkey + 1` to build side. This means that both `orders.orderkey` and `orders.orderkey + 1` will be kept in build table. However, `orders.orderkey + 1` is only needed to evaluate filter condition and can be evaluated in place.

[2020-11-02 11:33] sopel39 commented on #5777
cc @martint

[2020-11-02 12:54] kokosing commented on #5678
[code]
 #4396

[2020-11-02 15:30] phd3 opened #5780 "Improve Type Equality and Hashcode"
As discussed in #5768, hashCode/equals methods in `Type` subclasses should be implemented and optimized for improving performance of HashSet and HashMap related operations for classes like `ConnectorExpression` that rely on types for comparison.

[2020-11-02 16:14] martint opened #5781 "Disallow timestamp w/ tz values that fall in DST gap or are ambiguous"
Operations that result in timestamp w/ tz values that fall in the DST gap or that are ambiguous because of DST transitions should fail with an error.

[2020-11-02 16:24] findepi commented on #5781
### Example of an ambiguous value due to DST backwards transition

[code]

but:
[code]

[2020-11-02 17:39] kongul opened #5783 "Incorrect `greatest` and `least` functions nullable behaviour"
We are updating Presto from version 326 to 345 and found that `greatest` and `least` functions nullable behaviour changed.

Un Presto 326
[code]

Un Presto 345
[code]

As it said in the doc https://prestosql.io/docs/current/functions/comparison.html#greatest-and-least , they should return null if one of the arguments is null
We rely on this behaviour in our sql scripts

[2020-11-02 18:04] martint commented on #5783
Thanks for the report. That is a regression, indeed. I'm investigating.

[2020-11-02 18:19] martint commented on #5783
The bug was introduced in 344. I'm tracking down the exact commit now.

[2020-11-02 18:32] martint commented on #5783
This is the commit that introduced the issue: c95e937517f773ba625cfde38aac7ed11e6f8493

cc @dain

[2020-11-02 18:40] #5736 closed

[2020-11-02 18:43] martint commented on #5678
[code]

https://github.com/prestosql/presto/issues/5736

[2020-11-02 19:36] kokosing opened #5784 "Support GRANT/REVOKE on schema in Hive standard-sql"

[2020-11-02 19:37] kokosing commented on #4327
I extracted Hive sql-standard support for this as https://github.com/prestosql/presto/issues/5784. Closing this one as engine changes are already merged.

[2020-11-02 19:37] #4327 closed

[2020-11-02 21:30] electrum commented on #5783
That commit also broke the behavior for `array_min` and `array_max` for NULL and NaN.

[2020-11-02 21:45] lemdandk opened #5785 "Cannot access Hive view when Hive catalog name is not "hive""
Starting from version 345 can't get hive views from Presto when catalog name not `hive`:
`Caused by: java.sql.SQLException: Query failed (#20201102_203650_09667_pba5b): line 1:15: Failed analyzing stored view 'myhive.test.view_hive': line 2:6: Catalog 'hive' does not exist`

It works in version 344

[2020-11-02 21:45] #5697 closed

[2020-11-02 21:52] electrum opened #5786 "Add JSON output format for all EXPLAIN types"

[2020-11-02 23:42] electrum commented on #5783
NaN behavior is wrong for `min` and `max`:
[code]

[2020-11-02 23:44] ebyhr commented on #5785
@lemdandk I suppose you renamed catalog `hive` → `myhive`, right?

[2020-11-03 00:06] lemdandk commented on #5785
@ebyhr No, For me it always was `myhive`(I have in catalogs `myhive.properties `as connector to metastore). View is stored in a database like:
[code]
But for some reasons starting from 345 presto start to add `hive` as catalog, but for instance on 344 it works as expected:
[code]

[2020-11-03 00:27] GalDayan commented on #5638
Hey guys.

I don't think it's an enhancement. I think it really mendatory.

Is there anything I can do to advance the issue?

[2020-11-03 00:33] tooptoop4 commented on #5638
would u like to code up a PR? @GalDayan

[2020-11-03 00:35] ebyhr commented on #5785
@lemdandk Thanks for your info. I could reproduce the issue and it looks bug.

cc: @laurachenyu

[2020-11-03 00:47] GalDayan commented on #5638
Sure. I would love to help.
What is the procedure?

[2020-11-03 01:52] tooptoop4 commented on #5638
@GalDayan whip up something that works on your local first can deal with the paperwork later

[2020-11-03 06:43] abhishek8gupta commented on #5372
I am a beginner and would like to contribute to presto. Let me know if I can pickup this issue. Also, please share some more details.

[2020-11-03 08:10] findepi commented on #5783
@electrum  Let's make sure this is covered by an issue (either new one, or expand description of this one).

[2020-11-03 08:29] hashhar opened #5788 "Kafka Connector INSERTs fail if no key provided in table definition"
Creating a table definition without `key.dataFormat` causes INSERTs to fail in the Kafka Connector.

This can be observed with the following test case (place into TestKafkaSmokeTest)

[code]

This test passes once the table definition file `presto-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/presto/etc/catalog/kafka/write_structural_datatype_avro.json` is changed to c

[2020-11-03 08:51] findepi opened #5790 "Hive connector name "hive-hadoop2" is a misnomer"
"hive-hadoop2" is a misnomer, as the connector is based on Hadoop 3 libraries and can be used with a Hadoop 3-based environment.
The name a vestigial from times when we had multiple flavors of the hive connector (hive-hadoop1, hive-hadoop2, ...).

[2020-11-03 08:53] findepi commented on #5790
My proposed solution would be to rename the connector to "hive", retaining "hive-hadoop2" as an alias.
(see draft at https://github.com/prestosql/presto/pull/5625, where @electrum pointed out we should update the `presto/dir/plugin/hive-hadoop2` folder name (maybe leaving old name as a link?))

@electrum what are your thoughts on this?

[2020-11-03 09:03] findepi commented on #4531
Steps to reproduce:

1. spin up 1-node EMR cluster connected to Glue metastore
2. in EMR Hive, define a CSV table (`STORED AS CSV`) with some column types other than varchar, e.g. integer, bigint, double
3. run Presto connected to Glue metastore -- doesn't have to be on EMR, can be local development instance
4. query the new table from Presto

[2020-11-03 09:25] findepi commented on #5738
I updated the description with the checklist. @prestosql/maintainers please update if any more checks we should add come to your mind.

[2020-11-03 09:41] sopel39 commented on #5372
Generally, there should be a rule (see `io.prestosql.sql.planner.iterative.Rule`) that recognizes that data is sorted (using `PropertyDerivations` and `io.prestosql.spi.connector.SortingProperty`) and replaces `TopN` with `Limit` operator. Something similar has been done for: https://github.com/prestodb/presto/pull/10731 (albeit much more complicated).

When I think about this issue more, it's not

[2020-11-03 09:45] realknorke commented on #961
Bug still present in v344…

[2020-11-03 09:46] sopel39 commented on #5780
Maybe `ConnectorExpression` classes should precalculate hash code? Would that be sufficient?

[2020-11-03 10:09] hashhar opened #5791 "Kafka Connector AvroEncoder doesn't use "mappings""
From the docs at https://prestosql.io/docs/current/connector/kafka.html#avro-encoder

This means that given a table definition like:

[code]

and an INSERT query like `INSERT INTO product_tests.write_all_datatypes_avro (c_varchar) VALUES ('foobar')` should work since the `c_varchar` will be written to the Avro record under the field `a_varchar`.

But the query instead fails with an error:

[code]

[2020-11-03 11:59] findepi opened #5793 "Incorrect rounding in TIMESTAMP WITH TIME ZONE to TIMESTAMP cast"
[code]

[code]

[2020-11-03 15:06] findepi opened #5798 "Optimize date and timestamp(p) with time zone comparisons"
See TODO in the code

https://github.com/trinodb/trino/blob/80c079f9254a6786cfe204d617276c6080ae5c2c/core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/UnwrapCastInComparison.java#L441-L443

[2020-11-03 15:26] sopel39 commented on #5785
Do we know where this constant `hive` comes from?

[2020-11-03 16:57] findepi commented on #5463
https://github.com/prestosql/presto/runs/1348160348

[2020-11-03 16:58] findepi commented on #5463
cc @harmandeeps

[2020-11-03 17:00] alexjo2144 commented on #5785
Looks like it's actually `HiveToRel`, not `RelToPresto`. If you look at `rel.getInput(0).getTable().getQualifiedName()` there's already the "hive" prefix.

[2020-11-03 17:01] electrum commented on #5785
The constant comes from `com.linkedin.coral.hive.hive2rel.HiveSchema#ROOT_SCHEMA`

[2020-11-03 17:05] electrum commented on #5785
The catalog needs to be set inside of `com.linkedin.coral.hive.hive2rel.parsetree.ParseTreeBuilder.Config`. It currently defaults to `HiveSchema.ROOT_SCHEMA`. We need to set it to the Hive connector catalog. Unfortunately, this seems to require a new release of Coral, since this is private inside of `HiveToRelConverter`.

[2020-11-03 17:16] laurachenyu commented on #5785
@phd3 has created a ticket for Coral.

[2020-11-03 17:30] alexjo2144 commented on #5785
It's a horrible hack but we could do something like this in the mean time:
[code]

[2020-11-03 18:53] phd3 commented on #5785
@electrum Presto seems to use the catalog for the view as the default catalog while analyzing the view. https://github.com/prestosql/presto/blob/master/presto-main/src/main/java/io/prestosql/sql/analyzer/StatementAnalyzer.java#L2574

Do we have a preference in terms of whether coral should prepend a catalog or not? It seems to me that coral shouldn't need to know about the catalogs, since a hive v

[2020-11-03 18:55] findepi commented on #5785
correct. VIEW must refer to same table(s), regardless of current user session's catalog/schema.

it doesn't have to. Is it easy to make coral _not_ to prepend them?

[2020-11-03 19:26] dain commented on #5781
I thought we decided we were using the "lax" rules everywhere in Presto.  In that case, gaps get pushed +1 hr, and I don't remember what is chosen for double.  If we are changing this, I expect it will be a big deal to implement this everywhere.

[2020-11-03 19:26] electrum commented on #5785
@phd3 not appending it seems like a good option. We would then set the Hive connector catalog in the returned `ConnectorViewDefinition`, so that the SQL would be resolved with that catalog as the session catalog.

[2020-11-03 19:29] martint commented on #5781
I don't remember ever deciding that, but it's very problematic. It screws up with optimizations the engine could do and produces surprising (incorrect) results, as in the example above.

[2020-11-03 19:29] electrum commented on #5785
`ConnectorViewDefinition` contains a catalog/schema that is used as the session catalog/schema when resolving identifiers in the view. We did this originally to avoid needing to rewrite view definitions to contain fully qualified names.

[2020-11-03 20:04] dain commented on #5780
Maybe we should make equals and hashCode abstract in `AbstractType` to force implementations to implement it.

[2020-11-03 20:35] adamjshook opened #5804 "Supported software versions for Connectors and testing"
The goal of this project is provide stability and confidence in a Presto connector where software versions to add additional test classes to connectors to expand the breadth of testing across multiple versions of software.  Today, with few exceptions, connectors are tested against an older software version and rely on backwards compatibility to remain current. We'd like to close the gap to ensure

[2020-11-03 20:41] martint commented on #5804
For Elasticsearch, there are already tests against 6.0.0 and 7.0.0

[2020-11-03 20:46] adamjshook commented on #5804
Yes, I have that noted above. I figure for Elasticsearch we'd add another test class for the latest 7.9.3 in addition to 6.0.0 and 7.0.0.

[2020-11-03 20:59] findepi commented on #5783
This behavior is also change (between 343 and 344). Results for 343:
[code]

[2020-11-03 21:47] findepi commented on #5780
I like the simplicity of how `AbstractType` delegates to `TypeSignature` for equality.
Would be enough if we e.g. precompute hashCode in `TypeSignature` constructor?
(or rather, lazy compute, maintaining "effectively immutable" behavior)

[2020-11-03 22:20] findepi commented on #5776
Extract from ..? Where are these defined today?

Can we put those tests in `AbstractTestIntegrationSmokeTest`?
Perhaps using a feature switch like https://github.com/prestosql/presto/blob/cfadfe534d4f35859e4690eebfa5a411177b69a0/presto-testing/src/main/java/io/prestosql/testing/AbstractTestDistributedQueries.java#L90-L113 ?

[2020-11-03 22:42] sopel39 commented on #5776
Various flavors of these tests are implemented by different connectors. Some are required to test DF e2e integration, but not every connector needs to test everything DF related (like broadcast vs replicated joins)

[2020-11-03 23:20] erichwang commented on #5777
This is definitely something that can be improved. It looks like way because the join planning initially evolved from the original hash join operator which only supported simple equi-join clauses, and thus needed to project out the exact join key values before the joining process. We could probably (A) have a targeted optimizer rule that delays projections until after cross joins specifically (we

[2020-11-04 02:20] phd3 commented on #2519
I think the following steps need to be taken:

1) Make sure that the connector APIs do provide support for nested column pruning (I haven't looked into this part)

2) Metadata side changes: Modify `ElasticSearchColumnHandle` instance to encode subfield information and implement `applyProjection` . Validate query plans through tests extending `BasePushdownPlanTest`. See (`HiveMetadata#applyProjecti

[2020-11-04 03:28] asdf2014 commented on #380
I wrote a blog that briefly compared PrestoDB and PrestoSQL, hoping to help newcomers to Presto. For details, see [https://yuzhouwan.com/posts/200906/#PrestoDB-vs-PrestoSQL](https://yuzhouwan.com/posts/200906/#PrestoDB-vs-PrestoSQL). BTW, the data in the comparison table will be updated regularly.

[2020-11-04 08:16] findepi commented on #5315
@jetsasank recently did similar improvement for `getDate`, @rafatmunshi please check this out: https://github.com/prestosql/presto/pull/5510

[2020-11-04 08:19] #4091 closed

[2020-11-04 08:22] findepi commented on #782
@adamjshook is there a recommendable dockerized Accumulo we could use here?

[2020-11-04 08:50] findepi opened #5809 "Flaky test TestHttpRemoteTask.testDynamicFilters"
eg https://github.com/prestosql/presto/runs/1348766195

[code]

[2020-11-04 08:50] findepi commented on #5809
cc @sopel39 @raunaqmorarka

[2020-11-04 08:57] findepi commented on #5809
Normally the test method finishes in 0.5-3 s
Interestingly, when i did `@Test(timeOut = 30000, invocationCount = 100)`, it passed couple times and then started to consistently fail (with a timeout), even though i do not see any state shared between the test runs.

[2020-11-04 09:00] findepi commented on #5491
Does this relate to https://github.com/prestosql/presto/issues/5422?

[2020-11-04 09:01] findepi commented on #5422
https://github.com/prestosql/presto/runs/1348767770?check_suite_focus=true

[code]

[2020-11-04 09:15] ebyhr opened #5810 "Add support for SRV record in MongoDB connector"
https://docs.mongodb.com/manual/reference/connection-string/#dns-seed-list-connection-format

[2020-11-04 09:17] findepi commented on #4936
https://github.com/prestosql/presto/runs/1349777302

[2020-11-04 09:17] kokosing commented on #5491
#5422 was closed for a while, so maybe this why I opened new one. But why I reopened the old one? 🤔 Let me close this one, as the other one has more comments.

[2020-11-04 09:17] #5491 closed

[2020-11-04 09:17] #5683 closed

[2020-11-04 09:17] #5685 closed

[2020-11-04 09:17] #5793 closed

[2020-11-04 09:18] findepi commented on #5543
https://github.com/prestosql/presto/pull/5692

[2020-11-04 09:18] #5543 closed

[2020-11-04 09:25] findepi commented on #5678
[code]

#5685 #5683 #5543 #5692

[2020-11-04 09:31] sopel39 commented on #5777
Predicate pushdown handles that case, so maybe we just keep filter node above `JoinNode` and let it do it's work. There doesn't seem to be a need for the same logic to be duplicated in `RelationPlanner` and `PredicatePushdown`.

[2020-11-04 10:16] findepi opened #5812 "Implement TestPushAggregationIntoTableScan"
Add a test for `io.prestosql.sql.planner.iterative.rule.PushAggregationIntoTableScan`.
perhaps similar to `io.prestosql.sql.planner.iterative.rule.TestPushPredicateIntoTableScan`

[2020-11-04 10:16] findepi commented on #5812
cc @martint @Parth-Brahmbhatt

[2020-11-04 12:19] findepi commented on #5812
https://github.com/prestosql/presto/pull/5756 adds `MockConnectorFactory` support for `applyAggregation` and an example test using that.
It's likely useful for implementing a test for `PushAggregationIntoTableScan`.

[2020-11-04 13:07] findepi opened #5816 "Retry downloading runtime tests' dependencies"
https://github.com/prestosql/presto/runs/1351883060?check_suite_focus=true

[code]

[2020-11-04 13:09] findepi commented on #5816
retry here:
https://github.com/prestosql/presto/blob/3378a92433f49b5eae2564e9ede69a289d43b48b/.github/workflows/ci.yml#L250

should retry all compilation, including tests, because we set `-DskipTests` and not `-Dmaven.test.skip`
See
http://maven.apache.org/plugins/maven-compiler-plugin/testCompile-mojo.html
and https://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html

yet, my guess i

[2020-11-04 13:59] findepi commented on #5777
Good point. However, CROSS JOIN may be an example where you actually want to project eagerly.
Otherwise you compute the `symbol + 1`  projection as many times as there are other side's rows.

[2020-11-04 14:26] kokosing commented on #5678
[code]

#5717

[2020-11-04 14:57] adamjshook commented on #782
@findepi I made one at https://github.com/prestosql/docker-images/pull/74 and we have an open PR to use it https://github.com/prestosql/presto/pull/5598 (currently using a different image but will update once docker-images is published).  That should take care of this issue.

[2020-11-04 16:07] esemeniuc opened #5821 "Dropping a view and creating a new one in a transaction throws IllegalArgumentException: Can not create a Path"
When running the following (without any existing views):
[code]
Upon committing, the output returned is:
[code]

For context, I am using Presto 339 with the `hive-hadoop2` catalog on HDFS (hadoop 3.2.1 on Arch Linux) with Hive standalone metastore 3.0.0 using derby

[2020-11-04 18:20] JamesRTaylor opened #5824 "Predicate pushdown through cross join my not occur"
When I execute the following query in Presto 338 over a hive table, I receive a Query over table 'my_schema.my_table' can potentially read more than 100000 partitions. If I run the inner query directly, no error occurs. Also no error occurs if I run the outermost select * query against `src_keys` or `unique_keys` CTE. The error starts to occur once the CROSS JOIN against the constant values is int

[2020-11-04 18:50] dmgcodevil opened #5825 "Allow iceberg to use partitions created with a transformation functions."
Problem:

we have a partition created using `day` transformation function:

[code]

when query by `frontdoor_timestamp` , i.e.:

[code]

it performs a full scan, in other words, it doesn't use that partition.

the problem in this line: https://github.com/prestosql/presto/blob/c1fd650b26017772550570fd1f3090591396e744/presto-iceberg/src/main/java/io/prestosql/plugin/iceberg/IcebergMetadata.java#L668

[2020-11-04 19:49] sopel39 commented on #5824
Could you attach `EXPLAIN`?

[2020-11-04 20:27] phd3 commented on #5825
@dmgcodevil can you take a look at the PR https://github.com/prestosql/presto/pull/4932 before working on this one?
I think that should cover both these issues.

[2020-11-04 20:56] sopel39 commented on #4173
https://github.com/prestosql/presto/pull/2674/checks?check_run_id=1353869319

[2020-11-04 21:17] phd3 opened #5827 "ORDER BY is enforced for named relations"
The PR https://github.com/prestosql/presto/pull/818 adds a change to remove redundant `order by` operations.

However, in case of tables defined in `WITH`  clause like below, the `ORDER BY` is still enforced.

[code]

In case when `temp` is a view, the `order by` operation is marked redundant and not enforced.  cc @martint

[2020-11-04 21:22] sopel39 commented on #5678
[code]
https://github.com/prestosql/presto/pull/2674

[2020-11-04 21:25] electrum opened #5828 "Disallow NaN values for greatest/least"
This restores the behavior of 343.

[2020-11-04 21:27] electrum commented on #5783
https://github.com/prestosql/presto/issues/5828

[2020-11-04 21:30] #5828 closed

[2020-11-04 21:35] findepi commented on #4936
https://github.com/prestosql/presto/runs/1353726794

[2020-11-04 21:36] findepi commented on #4936
I marked two example failures with `@Flaky` -- https://github.com/prestosql/presto/pull/5811 and https://github.com/prestosql/presto/pull/5829.
however, since the nature of the problem seems only so much related to actual test, we may need a more generic approach... unless, of course, we learn how to fix the problem.

[2020-11-04 21:45] #5522 closed

[2020-11-04 21:47] findepi commented on #5678
[code]

#5522 #5756

[2020-11-04 22:18] JamesRTaylor commented on #5824
When I do an explain on the same query over the same table, I get the same error. If I make a copy of the schema for the table (so that I don't have so many partitions), here's what the explain plan looks like:

     Fragment 0 [SINGLE]
         Output layout: [field, expr_67]
         Output partitioning: SINGLE []
         Stage Execution Strategy: UNGROUPED_EXECUTION
         Output[ds, user_id

[2020-11-04 22:34] RaymondWaterlooLi commented on #5718
May I work on this issue?

[2020-11-04 23:31] rafatmunshi commented on #5315
Checked it. Clarifies my earlier query. Will send a PR soon. Thanks!

[2020-11-04 23:44] martint commented on #5678
[code]

https://github.com/prestosql/presto/pull/5713

[2020-11-05 00:03] electrum commented on #5718
@RaymondWaterlooLi please do

[2020-11-05 00:20] martint commented on #5827
To clarify, whether `temp` is a view is unrelated to the issue (although it's the expected behavior), since in SQL, tables/views are inherently unordered entities. A more fair comparison would be with the following query:

[code]

[2020-11-05 00:23] martint commented on #5678
[code]

https://github.com/prestosql/presto/pull/5807

[2020-11-05 01:16] rafatmunshi commented on #5519
Hi, Where do we find the full JSON body? I suppose the new information can be added to be displayed in the QueryDetail component. Would that be fine?

[2020-11-05 01:43] dain commented on #5783
I believe the null behavior of greatest and least was fixed iin #5787

[2020-11-05 01:43] #5783 closed

[2020-11-05 06:27] lemdandk opened #5833 "Add groups regexp to query access rules in file base access"
All access rules in file base access that support a user regex, also support  a group regex. But for some reasons query access rule has only user regex.
https://github.com/prestosql/presto/blob/5f2caa05a56b0f16bbd479a9cf3e5eea4aecf0a9/presto-plugin-toolkit/src/main/java/io/prestosql/plugin/base/security/QueryAccessRule.java#L38-L41
If there are no any special reasons why these rules can't accept g

[2020-11-05 08:17] #3052 closed

[2020-11-05 08:18] findepi commented on #5783
@dain thanks for a quick turn around.
Do we have issues for other things mentioned by @electrum in https://github.com/prestosql/presto/issues/5783#issuecomment-720735877 and https://github.com/prestosql/presto/issues/5783#issuecomment-720788322?

[2020-11-05 08:22] findepi commented on #5678
[code]

https://github.com/prestosql/presto/pull/5672

[2020-11-05 09:12] #5785 closed

[2020-11-05 09:14] findepi commented on #5678
[code]

https://github.com/prestosql/presto/issues/5785 https://github.com/prestosql/presto/pull/5808

[2020-11-05 11:34] hashhar commented on #5788
The reason for the failure is that in the DecoderModule (presto-row-decoders) installs a DecoderFactory with the name "dummy". The EncoderModule doesn't do this.

Then in KafkaMetadata we assign "dummy" to dataFormat if it's missing at https://github.com/prestosql/presto/blob/master/presto-kafka/src/main/java/io/prestosql/plugin/kafka/KafkaMetadata.java#L105.

Now when the DispatchingRowEncoder tr

[2020-11-05 11:36] XuQianJin-Stars commented on #5714
hi @allendang001 @findepi This function is very helpful for landing the results of DQL on the public cloud on cos. Because it does not need to create an entity table in the hive metastore, and output the results in various formats.

[2020-11-05 11:43] sopel39 commented on #5519
It's available here: `io.prestosql.execution.QueryStats#dynamicFiltersStats`

Yes, that's fine

[2020-11-05 11:44] sopel39 commented on #5824
I don't see predicates not being pushed down.
Could you use same catalog but with less number of partitions?

[2020-11-05 12:41] findepi opened #5837 "Support Hive VIEW with simple CASE expression"
[code]

[code]

[2020-11-05 14:05] kokosing opened #5839 "Port docker-images test automation from travis to GHA"
This is issue is about https://github.com/prestosql/docker-images/issues/76, posted here for make it more visible.

[2020-11-05 15:26] sopel39 commented on #5678
[code]
https://github.com/prestosql/presto/pull/5582

[2020-11-05 16:02] losipiuk commented on #5678
[code]
https://github.com/prestosql/presto/pull/5582

[2020-11-05 16:06] adamjshook opened #5842 "Change TestingAccumuloServer to not be a Singleton"
Relates to #5598

Singleton is needed because, due to the fixed ports, multiple containers try to spawn at the same time and it fails. If I try a lock approach so only one container runs at a time, one of the test framework classes (distributed/integration smoke test) inexplicable fail because they are unable to connect to Accumulo once a new container is spawned.

[2020-11-05 17:30] maobaolong opened #5844 "Presto cannot select the local node for different hostname and ip"
![image](https://user-images.githubusercontent.com/17329931/98274734-c09a6500-1fce-11eb-88e2-1393255c3eb1.png)

NodeScheduler#selectExactNodes is responsible for select the node for split, but I have different host and address with the datanode, but the datanode and presto worker are in the same machine actually as the above screenshot.

So, I need an improvement that the `NodeScheduler#selectExac

[2020-11-05 17:57] kongul opened #5846 "Query planning error since Presto 338: "Invalid node. Predicate dependencies ... not in source plan output""
We are updating Presto from version 326 to 345 and found that some of our SQL ETL's are failing.

Let's say we have following table `some_catalog.some_schema.some_table`

| msid | challenge_id |
|---|---|
| 77b652cc-da50-4524-84c2-c0ff0930ee2b  | 1 |
| 77b652cc-da50-4524-84c2-c0ff0930ee2b  | 2 |
| d5b84f9a-c951-4b39-8a15-98d1c5871e07  | 3 |
| d5b84f9a-c951-4b39-8a15-98d1c5871e07  | 4 |
| d282d3aa-

[2020-11-05 19:46] JamesRTaylor commented on #5824
Here you go. This is from the same catalog, but in a test environment:

     Fragment 0 [SINGLE]
         Output layout: [field, expr_296]
         Output partitioning: SINGLE []
         Stage Execution Strategy: UNGROUPED_EXECUTION
         Output[ds, user_id]
         │   Layout: [field:varchar(10), expr_296:bigint]
         │   Estimates: {rows: ? (?), cpu: ?, memory: ?, network: ?}
         │

[2020-11-05 19:49] adamjshook commented on #782
Closed by #5598

[2020-11-05 19:49] #782 closed

[2020-11-05 20:45] findepi opened #5847 "Document multiplication of interval and number"

[2020-11-05 21:08] sopel39 commented on #5824
There doesn't seem to be unpushed predicates here

[2020-11-05 21:08] sopel39 commented on #5846
cc @martint

[2020-11-05 21:26] erichwang commented on #5777
I guess it's not so much something that overlaps PredicatePushDown, but rather the RelationPlanner does a few inconsistent (although technically correct) things depending on the inner vs outer, equi vs non-equi joins, etc -- and this exists because those segments largely landed in the earlier days. A combination of those things results in what is reported here.

Otherwise you compute the symbol +

[2020-11-05 21:50] findepi commented on #5846
Reproducible with:

[code]

[2020-11-05 22:03] JamesRTaylor commented on #5824
Hopefully third times a charm. I ran the exact query, but with a very high `hive.max-partitions-per-scan` so it wouldn't fail.

     Fragment 0 [SINGLE]
         Output layout: [field, passenger#user#user_id_69]
         Output partitioning: SINGLE []
         Stage Execution Strategy: UNGROUPED_EXECUTION
         Output[ds, user_id]
         │   Layout: [field:varchar(10), passenger#user#user_id_

[2020-11-05 22:05] findepi commented on #5846
This is a regression between 337 and 338.

[2020-11-05 23:02] #5745 closed

[2020-11-05 23:05] ebyhr commented on #5678
[code]

https://github.com/prestosql/presto/pull/5769

[2020-11-05 23:25] kasiafi commented on #5846
A fix is ready. I'll post a PR as soon as I add tests.

[2020-11-05 23:46] ebyhr commented on #2094
Probably, they removed the above limitation and published in https://github.com/aws/amazon-redshift-jdbc-driver.
(The maven repository is mulesoft)

[2020-11-06 00:53] dain commented on #5678
[code]
#5643

[2020-11-06 02:20] phd3 commented on #5780
I think that _might_ work, but doing it for types seems useful for current/future usecases where types are involved.

This is a good way of letting people know that not implementing it can degrade performance, however it can break plugins too.

the lazy compute idea seems interesting. However, I feel that we should also have type-specific lazily computed implementations for `RowType`, `ArrayType`

[2020-11-06 07:47] allendang001 commented on #5714
@findepi What should i do for merging this issue？ Change something in document or add something? The realization of file metastore is very useful for many people like us.

[2020-11-06 09:35] sopel39 commented on #5780
Where would you store lazily computed hash?

[2020-11-06 09:39] sopel39 commented on #5824
There isn't a predicate on partition column, is there? Certainly `"passenger#user#user_id_69" = BIGINT '0'` doesn't seem like it is on partition column

[2020-11-06 12:47] kongul opened #5855 "Query planning error: "Compiler failed - IllegalArgumentException: bad parameter count 256""
Hello we are updating Presto from version 326 to 345 and found that some of our SQL ETL's started to fail.

We have a script with `with` clause and bunch of aggregation in it, the se do a select from some table an do a `cross join` with result of `unnest` function call

[code]

We get following error:

[code]

If we are passing less arguments to unnest all works fine:
[code]
Is it expected behavio

[2020-11-06 13:09] losipiuk opened #5857 "Drop Hive min/max statistics writing for timestamp columns"
Presto is currently setting min/max statistics for `TIMESTAMP` columns when data in Hive is written or analyzed. As min/max statistics for TIMESTAMP are not currently used by Presto, and we are lacking test coverage for write flow, we should stop writing those.

[2020-11-06 13:11] findepi commented on #5857
I agree we should remove writing for now -- not used, not tested, "doesn't exist."
As a follow up we may want to do this properly though.

[2020-11-06 13:26] findepi commented on #5780
@sopel39
In a non-volatile `private int hashCode` field, which technically would be mutable, but would not have apparent effects of mutations.

@phd3 what would be the benefit?
fwiw RowType holds onto to `final TypeSignature` instance, so it doesn't really matter where you keep the value, does it?

[2020-11-06 13:33] sopel39 commented on #5855
cc @dain

[2020-11-06 14:50] findepi commented on #5855
@kongul thanks for reporting this!

would you be able to bisect to narrow down the range?
eg using https://hub.docker.com/r/prestosql/presto/tags you may be able to narrow this down to single version
(this is what i did in here: https://github.com/prestosql/presto/issues/5846#issuecomment-722673124)

[2020-11-06 14:54] findepi commented on #5714
@electrum PTAL

[2020-11-06 15:05] losipiuk opened #5859 "Add support for Hive min/max statistics for `TIMESTAMP` statistics in Hive"
Add proper support to min/max stats reading and writing in Hive for columns of type `TIMESTAMP(p)`

[2020-11-06 15:06] losipiuk commented on #5857
Readding with proper testing is tracked by https://github.com/prestosql/presto/issues/5859

[2020-11-06 15:08] losipiuk opened #5860 "Add support for lowValue and highValue statistics for TIMESTAMP type in engine"
Currenly lowValue, highValue statistics for `TIMESTAMP` type are not supported.
See:
https://github.com/prestosql/presto/blob/3c8cc38ce567cba6550b80c761e39fbe90a8df05/presto-main/src/main/java/io/prestosql/cost/StatsUtil.java#L40-L65

[2020-11-06 15:09] losipiuk commented on #5859
Before working on this one we should do https://github.com/prestosql/presto/issues/5860

[2020-11-06 15:22] djsstarburst commented on #3325
PR #5861 implements SQL UPDATE in the Presto engine, and updates the Hive connector to support SQL UPDATE for Hive ACID tables.

[2020-11-06 15:37] sopel39 commented on #2787
need to set:
[code]
in terminal

[2020-11-06 15:37] #2787 closed

[2020-11-06 16:40] phd3 commented on #5780
@findepi If I understand correctly, the hashcode implementation you suggested means that for every type object, we calculate `hashCode` at most once and store it in a private field in `TypeSignature` object, which can be retrieved with `hashCode()` invocation.

Computing a hashcode naively for a type like `row(a bigint,b array(bigint),c row(a bigint))` triggers computing a hash on the tree of `Typ

[2020-11-06 17:10] JamesRTaylor commented on #5824
The innermost query has this predication on the `ds` partition column:

    WHERE ds BETWEEN '2020-10-14' AND '2020-10-20'

[2020-11-06 18:02] #5846 closed

[2020-11-06 20:28] tooptoop4 commented on #5553
consistently different number of collisions based on order of the columns

[2020-11-06 20:36] mosabua commented on #5804
We should standardize on how we document this and make sure each connector doc page has that info. Currently there is no standard and its hit and miss if there is any info

[2020-11-06 20:59] findepi commented on #5780
I see where you're coming from. Yes, doing this in Type has the benefit it cuts the calculation earlier -- if i did ask for RowType.hashCode(), the elements hashes have been calculated by now and if i ask for one of them, i have the answer ready. Doing this in TypeSignature doesn't provide this benefit. Yet, I think it probably doesn't matter. I am guessing that the problem we're solving _is a pro

[2020-11-06 22:07] findepi opened #5863 "Document procedures in development guide"
Cover `io.prestosql.spi.connector.Connector#getProcedures` perhaps in https://prestosql.io/docs/current/develop/connectors.html

[2020-11-06 23:18] adamjshook commented on #5804
@mosabua Agreed, let me know what you're thinking -- or if you want to draft some template for us to use then we can use it to update the docs as we go.

[2020-11-07 00:02] #5857 closed

[2020-11-07 00:05] losipiuk commented on #5678
[code]
#5858

[2020-11-07 00:51] martint commented on #5678
@losipiuk, what's the user-visible impact of this? Does it fix a correctness issue? A failure? Something else?