[2020-02-18 05:41] hqisog commented on #2864
there has Unauthorized error.

[2020-02-18 05:53] ebyhr commented on #2864
You need to disable authentication on Elastisearch or wait until https://github.com/prestosql/presto/pull/2311 will be merged. Let me close this issue because it's duplicated issue of #2127.

[2020-02-18 05:55] #2864 closed

[2020-02-18 05:57] hqisog commented on #2864
thks you reply.

[2020-02-18 06:02] AbhishekNew opened #2865 "Wrong selection when user click copy to Clipboard for Internal Address in Woker Status UI Page"
When User click the copy to clipboard for Internal Address in Worker Status UI page, it selects Heap memory
![External Address](https://user-images.githubusercontent.com/51321459/74708348-380e4580-5242-11ea-8187-c82916ee899d.PNG)
![Internal Address](https://user-images.githubusercontent.com/51321459/74708372-40668080-5242-11ea-8fe0-44fa961a9be1.PNG)

[2020-02-18 06:42] stagraqubole commented on #2811
No luck with query64 too, no work on master with table on S3 with or without the fix #2714

@sopel39 from the task list shared, all but master node got ~400 splits and master go only 64. This kind of distribution does point to the bug fixed in #2714 where only during redistribution master node can be picked. The only thing unexplainable is how it is hit for S3. Are you using any caching in between

[2020-02-18 07:03] raags commented on #2623
I stumbled on this issue while searching for presto monitoring. One thing that will be helpful is a list of key metrics that one should monitor. There are more than 5k JMX metrics out of the box. The list in the wiki is a start but doesn't seem to cover everything. It'll be useful if that is revised. A template grafana dashboard will be great.

[2020-02-18 07:40] hqisog commented on #2864
@ebyhr How long can be support username and password  ？ can you give me an expectation. i need Make a plan.

[2020-02-18 08:45] harmandeeps commented on #2790
@findepi : Please correct me if I am wrong. I think your change fixes the case when Presto uses Hive Metastore < 3.0.

But, in case, Presto uses HiveMetastore >= 3.0 (then all the checks added in your code will pass), a user queries an ACID table with version Hive 2.0, then it should fail the query saying that "ACID Hive 2.0 versioned tables are not supported, need to run compaction". That's what

[2020-02-18 09:32] sopel39 commented on #2855
Let's say there is aggregation on symbol `x`. Let's say `x` has an alias `y`.

Reorder joins might produce intermediate join nodes with conditions `y=...` instead of `x=...`. This will make such join node require `x, y` symbols as its input. If intermediate join had `x=...` condition, only `x` would be required

[2020-02-18 10:29] AbhishekNew opened #2866 "Live Plan does not display any msg and also no container"
Any Failed Query, when user click the Query ID and Click Live Plan blank Page open but if click Stage Performance, it shows User Msg "Query does not have an output stage" with blank container.
Expected is:
1. In Live Plan also it should display msg saying "Query does not have a output plan" in the container. -- To make similar to other Tab
2. All Tab should display as it displayed in Finished quer

[2020-02-18 11:11] AbhishekNew opened #2868 "Tool tip not disposed"
When User Clicked Query ID and Query details open in New Window.
User back in Cluster Overview Page, tool tip still display against the Query ID and not disposed.
Expected:
Once user click the Link and New Query detail Window Open, tool tip should get disposed.
Check and dispose the tip in the pages where this use case in valid.

![Tip_Not_Disposed](https://user-images.githubusercontent.com/513214

[2020-02-18 11:43] wendigo commented on #2820
As I can see in the source-code it's intentional: https://github.com/prestosql/presto/blob/master/presto-main/src/main/resources/webapp/src/components/QueryList.jsx#L296

@martint should we fix "search input" placeholder text or remove filtering by query state?

[2020-02-18 12:25] wendigo commented on #2787
How do you run it?

[2020-02-18 12:59] sopel39 commented on #2811
@stagraqubole Sorry, the query is `q23_1`, specifically:
[code]

I still see stages with 6 nodes there. attached query json

[20200218_125448_00003_4enub.json.zip](https://github.com/prestosql/presto/files/4219285/20200218_125448_00003_4enub.json.zip)

[2020-02-18 13:06] sopel39 commented on #2811
I don't use any caching.

[2020-02-18 13:34] ebyhr commented on #2864
@hqisog I'm asking the PR's author on Slack. Could you confirm (checkout, build & deploy) if the PR fixes your issue?

[2020-02-18 20:21] electrum commented on #2787
It’s probably not setting the terminal to UTF-8.

[2020-02-18 21:09] mosabua commented on #2623
I started with porting the wiki content .. what do we want to add minimally to merge this @martint @electrum @dain and then delete the wiki page (or replace with link)

[2020-02-18 21:11] mosabua commented on #2623
@raags a grafana dashboard could be useful but would have to be a separate largish effort.

[2020-02-19 01:46] hqisog commented on #2864
i can try it.

[2020-02-19 05:12] electrum opened #2880 "Release notes for 331"
## Dain Sundstrom
- [ ] all checked
-  02-19 08:06:48    c32c44b7c0 Remove option to disable internal JWT
-  02-19 08:16:20    fa98e89d93 Change JWT configuration properties to match naming convention
-  02-19 08:17:21    9b917d1c6a Add product tests for full acid reads
-  02-19 08:17:21    c58ff37c32 Simplify cleanup in test
-  02-19 08:17:21    c9c16a38ff Add DELETE_DELTA locations in HiveSplit

[2020-02-19 05:15] #2595 closed

[2020-02-19 05:16] #754 closed

[2020-02-19 09:35] #2232 closed

[2020-02-19 09:36] sopel39 commented on #2880
[code]
https://github.com/prestosql/presto/pull/2873

[2020-02-19 10:01] stagraqubole commented on #2811
Able to repro it now, this is a different bug.

This is happening as this change https://github.com/prestosql/presto/commit/0debd99e41b0e8e5868347828d8df4c18297cedd announces all connectorIds from coordinator.

In SourceStageScheduler for probe side of broadcast join, we create tasks on all nodes that support the connector in case a cycle of scheduling had pending splits (in `finalizeTaskCreationI

[2020-02-19 11:45] wendigo opened #2882 "Invalid column coercion when reading from RCBINARY table"
Steps to reproduce:

[code]

this works fine so far.

Now:

[code]

And we've got invalid coercion in first 3 columns:

![Zrzut ekranu 2020-02-19 o 12 44 41](https://user-images.githubusercontent.com/66972/74831495-9f48fa00-5315-11ea-8814-35cf6fe7dd30.png)

[2020-02-19 11:57] #2882 closed

[2020-02-19 16:03] Cabeda opened #2883 "Add support for json_path wildcard"
When dealing with json data (usually from non sql databases) it's usual to find nested data where the only constant is the json key. This would be really easy to query if presto implemented the wildcard from JsonPath https://github.com/json-path/JsonPath#operators.

Is this something feasible or is there any known issues to implement this?

[2020-02-19 16:10] dain commented on #2880
[code]
#2709

[2020-02-19 16:11] edanayal commented on #2732
I've just checked the new version 330 - works great! Thank you :-)

[2020-02-19 16:18] dain commented on #2880
[code]
#2068

[2020-02-19 18:08] dain commented on #2880
[code]
#2755

[2020-02-19 18:55] martint commented on #2880
[code]

#2859

[2020-02-19 19:21] #1145 closed

[2020-02-20 00:18] Lewuathe commented on #2262
Is Arm architecture officially supported since 330?
https://github.com/prestosql/presto/pull/2809

[2020-02-20 00:34] dain commented on #2880
[code]
#2842

[2020-02-20 00:52] martint commented on #2262
Yes, let's close this issue.

[2020-02-20 00:52] #2262 closed

[2020-02-20 01:25] dain commented on #2880
[code]
#2877

[2020-02-20 01:28] dain commented on #2880
[code]
#2712

[2020-02-20 03:34] Lewuathe commented on #2262
🎉

[2020-02-20 10:21] chenjian2664 opened #2885 "How to avoid Full GC in Presto?"
Once Full GC, Presto will drop many queries at that time.
JVM Properties are as follow:
[code]
The GC log:
[code]

It will take more than 60s!

[2020-02-20 11:22] AbhishekNew opened #2886 "Ellipsis not display for all the queries in Cluster Overview UI Page"
Executed TPCDS Queries and in Cluster overview UI page in in Query Details some big query display with with ellipsis(...) some without ellipsis. Not good UI Experience for users.
Also we should provide expansion of queries if it is big on clicking the ellipsis and scrollbar as user are allowed to copy the whole query from the container.
![Ellipsis](https://user-images.githubusercontent.com/5132145

[2020-02-20 11:32] sopel39 commented on #2880
[code]
https://github.com/prestosql/presto/pull/2648

[2020-02-20 12:14] sopel39 commented on #2880
[code]
https://github.com/prestosql/presto/pull/2862

[2020-02-20 12:15] sopel39 commented on #2880
[code]
https://github.com/prestosql/presto/pull/2612

[2020-02-20 16:04] mosabua commented on #2885
What Java version are you using?

[2020-02-20 16:33] findepi opened #2888 "Integer overflow when parsing dates beyond representable range"
Correct
[code]

wrong:
[code]

[2020-02-20 16:56] findepi opened #2889 "Document conditional aggregations"
Document `agg_function(...) filter (WHERE ...)` syntax.

[2020-02-20 17:20] cricket007 commented on #2105
Link https://github.com/prestodb/presto/issues/11354

[2020-02-20 19:50] dain commented on #2885
Also, are you running the most recent release?

[2020-02-20 21:48] #2865 closed

[2020-02-20 21:50] zhenik commented on #2105
facebook distribution and community opensource distribution. [Blog link explanation](https://blog.openbridge.com/what-is-facebook-presto-presto-database-or-prestodb-a-powerful-sql-query-engine-77d4c4a66d4)

[2020-02-20 21:50] findepi commented on #2880
[code]

https://github.com/prestosql/presto/pull/2869 https://github.com/prestosql/presto/issues/2865

[2020-02-20 22:00] findepi commented on #2790
That's the part i missed. Why is it so?

[2020-02-20 22:11] findepi commented on #2105
@zhenik the blog you linked above is just a subjective commentary and IMO doesn't explain much.
@cricket007 You can see previous discussion under https://github.com/prestosql/presto/issues/380.
If you have any doubts, I encourage you to reach out on our [community slack](https://prestosql.io/slack.html).

Let's keep the discussion here focused on the Confluent Schema Registry.

[2020-02-20 22:53] cricket007 commented on #2105
Thanks for the links!

I only opened that issue after I saw Kafka reader was added

[2020-02-20 23:01] chenjian2664 commented on #2885
The Java version:
openjdk version "1.8.0_181"
OpenJDK Runtime Environment (build 1.8.0_181-b13)
OpenJDK 64-Bit Server VM (build 25.181-b13, mixed mode)

The Presto version is Release 310.

[2020-02-20 23:03] chenjian2664 commented on #2885
The Java version:
openjdk version "1.8.0_191"
OpenJDK Runtime Environment (build 1.8.0_191-b12)
OpenJDK 64-Bit Server VM (build 25.191-b12, mixed mode)

The Presto version is Release 310.

[2020-02-20 23:17] mosabua commented on #2885
Couple of things I would try:

- Check what the objects are that obfuscated and have the high counts

( 1:       3689146    69481974544  [J
   2:       1261780    47544827216  [B
   3:       3009085    22499458120  [I
   4:       1819453     3133862920  [Z
   5:        606548      422337944  [C
   8:         49606      327601208  [D

They are not from Presto and might be the source of the problem.

[2020-02-21 00:33] #2807 closed

[2020-02-21 10:17] #2782 closed

[2020-02-21 10:18] sopel39 commented on #2880
[code]
https://github.com/prestosql/presto/pull/2872

[2020-02-21 10:49] sopel39 commented on #2880
[code]
https://github.com/prestosql/presto/pull/2853

[2020-02-21 11:19] wendigo commented on #2888
Change to be made here: https://github.com/prestosql/presto/blob/ab0382cdd912bb1c8e5b5a0f7ac3733b13b51ab4/presto-main/src/main/java/io/prestosql/util/DateTimeUtils.java#L65 (toIntExact() will throw ArithmeticOverflowException so I guess it will be fine to wrap it in some presto exception)

[2020-02-21 11:50] findepi commented on #2886
I would hold on on this. This is available on query details page.

[2020-02-21 12:24] #2851 closed

[2020-02-21 12:24] findepi commented on #2880
[code]

https://github.com/prestosql/presto/issues/2851 https://github.com/prestosql/presto/pull/2852

[2020-02-21 12:24] magicsilence opened #2893 "can I use different memory config for different node?"
I have many  type machines, such as 8c16g, 16c32g...
Can i use diffenent config for them ?

[2020-02-21 12:31] wendigo opened #2894 "Flaky test io.prestosql.tests.TestInformationSchemaConnector"
[code]

Happened at https://github.com/prestosql/presto/pull/2823/checks?check_run_id=460037759

[2020-02-21 12:33] Svti opened #2895 "version: 330 , http://presto-server:8080/v1/cluster 404"
URI: | /v1/cluster
-- | --
404
Not Found
org.glassfish.jersey.servlet.ServletContainer-370c7cc5

[2020-02-21 12:40] findepi commented on #2893
@magicsilence
it's complicated. In short -- yes, you can, but it's not recommended.
It will be hard to utilize hardware in 100%.

Let me close this. We can continue discussion here, but I'd recommend moving this on our slack https://prestosql.io/slack.html instead.

[2020-02-21 12:40] #2893 closed

[2020-02-21 12:55] #2895 closed

[2020-02-21 13:05] #2678 closed

[2020-02-21 14:07] milanperera commented on #1096
In case someone ended up here again for a different reason; I got the same when I built it while skipping tests.

[2020-02-21 14:29] findepi opened #2897 "Fkaly test TestWorkProcessor.testFlatTransform"
[code]

[2020-02-21 14:46] findepi commented on #2897
It's not only `testFlatTransform` method:

[code]

https://github.com/prestosql/presto/runs/460223494

[2020-02-21 14:47] findepi commented on #2894
https://github.com/prestosql/presto/runs/460223494 (on master)

[2020-02-21 17:53] #2506 closed

[2020-02-21 19:52] dain commented on #2880
[code]
#2213

[2020-02-21 19:59] findepi commented on #2497
https://github.com/prestosql/presto/pull/2898/checks?check_run_id=460408354

[2020-02-21 20:40] mosabua commented on #2889
This is an outcome from https://stackoverflow.com/questions/60299244/calculate-distinct-value-1-when-value-2-value-3-is-equal-to-certain-value/60325000#60325000

[2020-02-21 21:40] #477 closed

[2020-02-21 22:08] findepi opened #2902 "Support Glue's "storedAsSubDirectories""
Glue table can be "stored as sub directories" (`glueTable.getStorageDescriptor().getStoredAsSubDirectories()`, `com.amazonaws.services.glue.model.StorageDescriptor#getStoredAsSubDirectories`).

This is probably similar to Presto configuration `hive.recursive-directories` (to be verified).

Respect this flag when looking for table's data files.

[2020-02-21 22:10] tooptoop4 opened #2903 "Support PathFilter when fetching splits for Hudi tables"
Summary:
- Introduce PathFilter support in DirectoryLister interface and HiveFileIterator
- Plug specific PathFilter implementation for HoodieParquetInputFormat

https://github.com/prestodb/presto/pull/13818

changes:
presto-hive/pom.xml
presto-hive/src/ hive/BackgroundHiveSplitLoader.java
presto-hive/src/ hive/DirectoryLister.java
presto-hive/src/ hive/HadoopDirectoryLister.java
presto-hive/src/

[2020-02-21 22:15] tooptoop4 opened #2904 "hive connector - ability to read from .csv.zip files (not gz/gzip)"
Apache Drill supports this: https://github.com/apache/drill/pull/1879/files https://issues.apache.org/jira/browse/DRILL-5674
it makes use of:
import java.util.zip.ZipEntry;
import java.util.zip.ZipInputStream;
import java.util.zip.ZipOutputStream;

[2020-02-21 22:19] dain commented on #2904
A zip file can contain multiple files.  Is the code supposed to process all files, or does it fail if there is not exactly one file.  If multiple files, do standard Hive exclude rules apply to the file names?

[2020-02-21 22:24] tooptoop4 commented on #961
@realknorke do I smell a PR in the works?

[2020-02-21 22:53] findepi commented on #2904
Is this a Drill-specific feature, or does Hive support this too?

[2020-02-21 23:42] ddrinka opened #2908 "New WebUI Authentication Manager Breaks Forwarded HTTPS"
We use a load balancer in front of Presto to handle HTTPS.  The load balancer forwards to Presto on port 8080.  We enable `http-server.authentication.allow-forwarded-https` to support authentication in this scenario.

Running a snapshot of master, I am not able to reach Presto through the load balancer.  Browsing to `https://presto.domain.com` delivers a 303 status code, redirecting to `https://pr

[2020-02-22 00:00] ddrinka commented on #2908
Configuring the load balancer to listen on a port besides 443 works around the issue.  `https://presto.domain.com:4433` is accessible.

[2020-02-22 06:14] chenjian2664 commented on #2885
Thank you so much for your advice @mosabua
I have tried the things that you suggest, but the problem still exists.

Fortunately, I upgrade jdk to version 11 and use ZGC the problem has been sovled.
This(ZGC) is really an amazing gc!

[2020-02-22 08:02] tooptoop4 opened #2909 "fault tolerance - config to retry entire query"
Sometimes worker instances die at any time (spot instances, scale down, infra issue.etc), even with graceful shutdown queries can fail (if query launched just before shutdown and takes longer to run than the grace period). This is about having config (session/server side) so that the presto server transparently reruns the query from the start (no need to resume from certain stages/operators).

Som

[2020-02-22 09:37] tooptoop4 opened #2910 "Add generic jdbc datasource connector"
I'm not talking about client->jdbc driver->presto server. I'm talking about presto server connector to any jdbc source (ie sybase, oracle.etc).

List of columns can be derived by running where 1=0 query like spark does:
https://github.com/apache/spark/commit/64c29afcb787d9f176a197c25314295108ba0471

https://docs.starburstdata.com/latest/connector/generic-jdbc.html

https://www.simba.com/drivers/

[2020-02-22 11:52] tooptoop4 opened #2911 "Prevent non-admins de-registering worker nodes or coordinator"
https://groups.google.com/forum/#!msg/presto-users/jK9gVmKKMk4/DBJCmbNdBQAJ mentions

curl -v -X PUT -d '"SHUTTING_DOWN"' -H "Content-type: application/json" http://presto-worker-1:8080/v1/info/state>>/tmp/prestonodeshutdown.log
OR
DELETE http request with url "/v1/announcement/". https://github.com/airlift/airlift/blob/5e77ec2c0d78d00525c97cdb025bcea814c59976/discovery/src/main/java/io/airlift/di

[2020-02-22 12:00] tooptoop4 opened #2912 "Pushdown implied expression to metastore"
in this scenario x is not a partitioned column but y is a partitioned column:
`select * from tbl where x = 'abc' and y = substr(x,1,2);     `

will it benefit from partition pushdown/dynamic filtering just as fast as below would?
`select * from tbl where x = 'abc' and y = 'ab';`

from david -->
**In theory, the optimizer should be able to propagate the constant and push the implied expression on y

[2020-02-22 12:25] tooptoop4 opened #2913 "loadPartition doing too many checks for rarely used options"
loadPartition in presto-hive/src/main/java/io/prestosql/plugin/hive/BackgroundHiveSplitLoader.java seems to be doing a lot -
https://github.com/prestosql/presto/blob/328/presto-hive/src/main/java/io/prestosql/plugin/hive/BackgroundHiveSplitLoader.java#L295-L442

-   hdfsEnvironment.getConfiguration
-   getInputFormat
-   hdfsEnvironment.getFileSystem
      which calls authentication.NoHdfsAuthenti

[2020-02-22 12:31] tooptoop4 opened #2914 "Java 13 support"
- [x] ensure code can be compiled with Java 13 (https://github.com/prestosql/presto/pull/3021)
- [ ] run tests with Java 13
- [ ] run product tests with Java 13 (ie with Presto containers running on Java 13)

[2020-02-22 12:35] tooptoop4 opened #2915 "Build presto binaries JDK > 8"

[2020-02-22 12:54] findepi commented on #2915
What would be the benefit?

[2020-02-22 12:56] findepi commented on #2912
This should be handled as part of effective predicate extraction / constant folding.

[2020-02-22 13:03] findepi commented on #2908
Is your load balancer sending `X-Forwarded-For`, `X-Forwarded-Proto` headers?

[2020-02-22 13:06] findepi commented on #2880
[code]

https://github.com/prestosql/presto/pull/2905

[2020-02-22 13:52] ddrinka commented on #2908
It’s an AWS Application Load Balancer. It’s certainly sending
X-Forwarded-Proto as Presto recognizes that traffic is encrypted. If it’s
not sending X-Forwarded-For then whatever header it is supplying should be
supported as well. But I assume it is sending the default headers.

On Sat, Feb 22, 2020 at 6:03 AM Piotr Findeisen <notifications@github.com>
wrote:

[2020-02-22 15:43] tooptoop4 commented on #1169
@Lewuathe can this be closed?

[2020-02-22 15:45] tooptoop4 commented on #2915
Stepping stone to presto coordinator using HTTP 2
Eventual end-of-life of Java8, but still years away
Assumed performance benefits

[2020-02-22 16:10] martint commented on #2915
Presto can already run on newer versions of Java. In fact, we recommend running on Java 11 at a minimum.

The coordinator also supports HTTP/2 (both for the client protocol and for communicating to workers)

[2020-02-22 17:47] tooptoop4 commented on #2915
i know java8 compiled binary can already run on java11.its low priority, just curious if compiling it on jdk11+ and running on java11 had perf benefit over the jdk8 compiled binary running on java11

[2020-02-22 18:41] martint commented on #2915
No, there are no performance benefits from that. The JVM does all its optimizations at runtime, and they work regardless of what version the code was compiled with.

The only benefit is that we can start using newer language features and JDK functions during development. We have a timeline for doing this switch, though. The latest version of Presto requires Java 11, but there’s a way to fall back

[2020-02-22 19:36] tooptoop4 commented on #2915
https://github.com/prestosql/presto/issues/1169 suggests http2 has performance issue.

is there any reason below are not set to true by default?
	discovery.http-client.http2.enabled
	dynamic.http-client.http2.enabled
	event.http-client.http2.enabled
	failure-detector.http-client.http2.enabled
	memoryManager.http-client.http2.enabled
	node-manager.http-client.http2.enabled
	exchange.http-client.htt

[2020-02-22 19:48] martint commented on #2915
Mostly because we haven't seen reports from people trying them out and indicating whether it works well for their uses cases. We've found some problems with the Jetty libraries over time and got them fixed. We'd like to see people try those settings, and if everything works as expected, we'll turn them on by default in a future release.

[2020-02-22 20:30] sopel39 commented on #2880
[code]
https://github.com/prestosql/presto/pull/1870

[2020-02-22 21:27] tooptoop4 opened #2919 "feature req - resource-groups for ldap group rather than username"
https://prestosql.io/docs/current/admin/resource-groups.html has example of "user": "bob",

Ideally could avoid hardcoding individual usernames and instead reference "ldapGroup": "CN=My_cn_Name,OU=myou1,OU=myou2,DC=mysubdom1,DC=mysubdom2,DC=mydomain,DC=com"

to clarify with example: userMary, userBob, UserSam are part of ldap group 'LegalTeam'. userTim, userAmy, UserJane are part of ldap group 'Ac

[2020-02-22 21:47] dain commented on #2914
Can you be specific about what is not working for you?

[2020-02-23 01:04] #1169 closed

[2020-02-24 06:24] stagraqubole commented on #2811
I have opened a PR with minimal changes as of now to fix this.

[2020-02-24 11:37] #2810 closed

[2020-02-24 11:38] findepi commented on #2880
[code]

https://github.com/prestosql/presto/issues/2810 https://github.com/prestosql/presto/pull/2867

[2020-02-24 11:45] findepi opened #2923 "Enforce NOT NULL constraint of Hive 3 tables"

[2020-02-24 12:28] #2801 closed

[2020-02-24 12:33] findepi commented on #2880
[code]

https://github.com/prestosql/presto/issues/2908 https://github.com/prestosql/presto/pull/2916

[2020-02-24 14:25] wendigo commented on #2820
@findepi wdyt?

[2020-02-24 14:27] martint commented on #2820
We should fix the label. The idea of the search field is to look for anything in the query that might match

[2020-02-24 14:28] wendigo commented on #2820
Cool @martint - I'll make PR fixing label

[2020-02-24 14:39] gaojun2048 opened #2927 "A lot of Major GC block the query on presto 0.322"
Hi All , There are a lot of major GC in our presto, which makes the query slow. This is the configuration of our jvm.config
[code]

Some other parameters that may be relevant:
[code]

We set experimental.reserved-pool-enabled=false to close the reserved pool. so the General Pool have 28G memory.

![image](https://user-images.githubusercontent.com/32193458/75160623-51892300-5755-11ea-9640-5c97105d5

[2020-02-24 14:43] martint commented on #2927
What version of Java are you running? If you’re not on Java 11, I suggest you try that first, as it has some important improvements to the garbage collector.

Also, for this kind of question, the #troubleshooting channel on Slack is more appropriate: https://prestosql.io/slack.html

[2020-02-24 14:49] kokosing opened #2929 "Flaky test TestSqlStageExecution.testFinalStageInfo"
[code]

Happened at: https://github.com/prestosql/presto/pull/2881/checks?check_run_id=464482082

[2020-02-24 15:02] gaojun2048 commented on #2927
Thank you very much ,JDK 11 we are testing and found hadoop can not start when use jdk11 .
I ask this question on Slack too. Thank you

[2020-02-24 20:10] mosabua commented on #2885
Btw in case others are finding this issue.

https://wiki.openjdk.java.net/display/zgc/Main

[2020-02-24 20:11] #2885 closed

[2020-02-24 20:24] electrum commented on #2885
You will want to use JDK 12+ as ZGC in JDK 11 does not support class unloading. Presto generates classes for every query, so without class unloading, you'll leak memory due these generated queries.

[2020-02-24 20:26] electrum commented on #2885
We'd love to hear more about your experiences with running Presto with ZGC, since this is new and we haven't heard any reports yet. Please do follow up and let us know how things go (good or bad).

[2020-02-25 00:50] ddrinka commented on #2908
@findepi this doesn't seem to have fixed the issue for me?

As I mentioned in slack, I don't usually build Presto, but I'm really quite sure I'm running `head`, and am still getting redirected incorrectly.

I captured the headers the ALB is sending:
[code]

Delivering this to Presto results in the following response:
[code]

[2020-02-25 05:20] MT2017081 commented on #2508
![mapping](https://user-images.githubusercontent.com/12218571/75216365-caba6180-57b9-11ea-84c2-723e83f24add.PNG)
![data](https://user-images.githubusercontent.com/12218571/75216370-cbeb8e80-57b9-11ea-97b0-f7af72a65f60.PNG)

Hi, this is how i created the index and mapping. And inserted two records. I want to fetch these records from presto command line. How can i do that? And also , do i need to cr

[2020-02-25 06:06] MT2017081 commented on #2441
![data](https://user-images.githubusercontent.com/12218571/75219524-03126d80-57c3-11ea-95f2-9f616d306d09.PNG)
![mapping](https://user-images.githubusercontent.com/12218571/75219526-04439a80-57c3-11ea-91a5-07cef83bd62c.PNG)
Hi, this is how i created the index and mapping. And inserted two records. I want to fetch these records from presto command line. How can i do that? And also , do i need to cre

[2020-02-25 09:02] msosnicki opened #2934 "Mongo inferred schema ignores the whole column if any field in bson is unknown."
We're facing the following problem with the automatically inferred presto `_schema`.
Let's assume that I have a following document in Mongo (`_id` ignored for brevity):
[code]
Currently, the mongo connector will infer the following schema (based on the first element in the collection):
[code]
and due to the presence of an unknown type in `colC.fieldB` (null, but also empty arrays triggers this beh

[2020-02-25 09:21] tooptoop4 opened #2936 "JXM typo instead of JMX on the website"
https://prestosql.io/docs/current/admin/properties.html

task.max-worker-threads
Type: integer
Default value: Node CPUs * 2
Sets the number of threads used by workers to process splits. Increasing this number can improve throughput, if worker CPU utilization is low and all the threads are in use, but it causes increased heap space usage. Setting the value too high may cause a drop in performance d

[2020-02-25 11:45] brianolsen87 commented on #2441
Hi @MT2017081
No need for an extra file, the mappings PUT statement is where you will need to add a small bit of metadata about where the arrays in your schema are actually located. We search in the mapping's `_meta.presto.` location to infer which fields should be treated like arrays [see the Array Types section here](https://prestosql.io/docs/current/connector/elasticsearch.html#data-types). The

[2020-02-25 11:54] MT2017081 commented on #2441
Thanks @brianolsen87  for the help.

[2020-02-25 12:59] NeerajUnnikrishnan opened #2937 "Support reading transactional tables from hive 2x"

[2020-02-25 13:24] tooptoop4 opened #2939 "select count(1) for left join is slow even when right table is tiny and no dupes"
data is parquet on s3.
hive.public.left (25 column table) has 702,061,273 rows. 265,919,648 of which where tonnes is null.
hive.public.right (12 column table) has 87 rows (key column is unique)

Query A
--26 seconds   =  265,919,648
SELECT count(1)
FROM
  (hive.public.left s
LEFT JOIN hive.public.right eo ON (s.shipping_key = eo.key))
where tonnes is null

Query B
--6 seconds   =  265,919,648
sele

[2020-02-25 15:15] skrzypo987 opened #2941 "Flaky test TestGoogleSheets"
[code]

[2020-02-25 16:02] am314159 commented on #1286
Thanks, @findepi and @electrum. Apologies for taking so long to reply.

The fundamental why I want to be able to use the IndexedTpch connector is to understand how and when (and if) Presto will make use of indexes in its underlying data stores, and when instead it will use its default behaviour of a full-table scan and a hash join.

If you take a look at issue #1285 then you can see some of the qu

[2020-02-25 16:43] #1480 closed

[2020-02-25 16:46] findepi commented on #2936
@tooptoop4 do you want to do a PR?

[2020-02-25 16:48] martint commented on #2880
[code]

#1480

[2020-02-25 17:22] fredabood opened #2942 "Add function to convert strings to title case."
According to the [Presto docs](https://prestodb.io/docs/current/functions/string.html), there is not currently a function to convert a string to title case.

[2020-02-25 19:08] tooptoop4 commented on #2911
cc @dain

[2020-02-25 19:15] davidrabinowitz opened #2943 "Provide the project columns to ConnectorSplitManager.getSplits()"
At the moment, the projected columns are provided just in the API of `ConnectorPageSourceProvider.createPageSource()`. For the BigQuery connector, the columns needs to be provided at the `ConnectorSplitManager` as at this point the `ReadSession` that contains the columns is created.
This issues blocks Issue #2532

This is per @findepi suggestion at https://github.com/prestosql/presto/pull/2532#dis

[2020-02-25 19:35] mosabua commented on #2942
The typical  standard name of such a function is initcap(string) from what i can tell.

[2020-02-25 20:04] electrum commented on #2943
This should be possible today with `applyProjection()`. I ran `TpchQueryRunner` with a breakpoint in the default implementation in `ConnectorMetadata`, then ran `SELECT count(*) FROM tpch.tiny.region` and it's called as expected with an empty projection list.

[2020-02-25 20:20] tooptoop4 commented on #2936
I would of but my first PR https://github.com/prestosql/presto/pull/2347 got discouraging nits

[2020-02-25 20:22] findepi commented on #2936
Would be good to outweigh that discouraging experience with a new PR.

[2020-02-25 20:58] martint commented on #2943
I don't think this is the direction we want to go. As David said above, the necessary information should be communicated to the connector via the `applyProjection` API. If that's not happening, we should figure out why.

[2020-02-25 21:14] davidrabinowitz commented on #2943
Ok, I'll check it out. Thanks

[2020-02-25 23:37] Terry93 commented on #1994
@enaggar @raunaqmorarka @findepi  We are also able to reproduce the issue using PrestoSQL 320 + HMS 1.2.1. I ran some tests and it seems that this issue will **only** occur to an insert statement after a CTAS on an unpartitioned table.

After the investigation, we found out the error happened on HMS, and the caller is Presto's `ThriftHiveMetastore.updateTableStatistics` the function where Presto w

[2020-02-25 23:44] dain commented on #2908
The code is activating only when `X-Forwarded-Host` is present, which isn't required.

[2020-02-26 00:20] dain commented on #2939
Before you dig into these, I'd make sure that you are using a format like ORC or Parquet.  If you want the best performance use ORC.  Then don't bother looking at queries C or D because they simply sum the row count stats from the files.  Finally, dig into the EXPLAIN plan and EXPLAIN ANALYZE plans to figure out what is going on.  One important thing to pay attention to is what kind of join you ar

[2020-02-26 01:48] gaojun2048 commented on #2927
I upgrade jdk to jdk11, it`s ok .

[2020-02-26 01:48] #2927 closed

[2020-02-26 09:04] findepi commented on #1994
Did you mean 330? Can you re-run your tests on 330?

[2020-02-26 13:56] alrolorojas opened #2953 "Clarify documentation for OWNERSHIP within Hive file based access controls"
It is not clear what are the permissions you get when OWNERSHIP is either assigned within the schema or the table Hive File based access control permissions. It'd be worth clarifying what users are allowed/not allowed if that permission is assigned.

Doc https://prestosql.io/docs/current/connector/hive-security.html#hive-file-based-authorization

[2020-02-26 14:23] alrolorojas opened #2954 "Refresh permissions from Hive file based authorization without restarting Presto"
We'd like [Hive file based authorization](https://prestosql.io/docs/current/connector/hive-security.html#hive-file-based-authorization) file to be refreshed every X seconds/minutes similar to what we have for the [Built-in system access controls](https://prestosql.io/docs/current/security/built-in-system-access-control.html#refresh)

This would prevent us from having to restart Presto each time pe

[2020-02-26 14:46] #2784 closed

[2020-02-26 14:48] findepi commented on #2880
[code]

https://github.com/prestosql/presto/issues/2784 https://github.com/prestosql/presto/pull/2871

[2020-02-26 15:53] Terry93 commented on #1994
@findepi I mean 320 (we use 320 as prod thus we investigated with this version first). Yes, I can test it against 330 sometime later.

[2020-02-26 19:03] davidrabinowitz commented on #2943
Thanks for the tip, indeed I have managed with `applyProjection()`.

[2020-02-26 19:03] #2943 closed

[2020-02-26 21:13] #2820 closed

[2020-02-27 10:40] harmandeeps commented on #2790
@findepi : I checked manually by creating Hive 2 ACID table, then upgrading to Hive 3. In Hive 3, the delete deltas layout has been changed (link: https://jira.apache.org/jira/browse/HIVE-19598), so, AcidUtils doesn't return the delete deltas. Hive 2 ACID tables need to be major compacted to fix this.

[2020-02-27 21:22] Svti opened #2960 "Grouping expression not recognized when CAST uses different type name case"
[code]

**Error running query: line 2:1: 'CAST(DATE_FORMAT(createAt, '%Y%m%d%H') AS BIGINT)' must be an aggregate expression or appear in GROUP BY clause**

presto version:330

[2020-02-27 21:48] findepi commented on #2880
[code]
https://github.com/prestosql/presto/pull/2823

[2020-02-27 21:51] findepi opened #2961 "Provide --timezone CLI argument"
This is the most common reason people can't use CLI as a regular CLI and have to `java ... -jar presto-cli` instead.
Provide a direct support for this.

[2020-02-27 22:23] MatthewRBruce opened #2962 "Possible Deadlock/Thead starvation between Hive loadPartitionByName and getTable"
We've seen an issue a couple times now where the Presto coordinator continues to queue queries, but none get executed, I believe I've traced it back to a race condition that can cause a deadlock.

In a thread dump of the coordinator we saw that all 40 of our Hive Metastore refresh threads were waiting on a `getTable` call from within the `loadPartitionByName` method:
[code]

I believe the issue is

[2020-02-27 22:30] #2811 closed

[2020-02-28 01:17] dain commented on #2961
You can use `TZ=UTC presto ...` for this today

[2020-02-28 06:14] martint commented on #2880
[code]

#2334

[2020-02-28 06:15] sanchitkashyap commented on #2961
@findepi I would like to work on this, can this issue be assigned to me?

[2020-02-28 06:21] sopel39 commented on #2962
What are you hive metastore caching (transaction and global) configs?

[2020-02-28 06:42] sopel39 commented on #2962
Please also share full stack trace if you still have it

[2020-02-28 11:56] kokosing opened #2963 "Incorrect Kudu predicate pushdowm"
[code]

Other test:
[code]
--conclusion
You can see the column of total_fee1, day_dif and reg_time in sql_2's result
I think the reason is the index that you have been used by mistake in #2253

[2020-02-28 13:02] findepi opened #2964 "Launcher `env up` should exit when all containers exit"
Launcher `env up` should exit when all containers exit or get killed.

[2020-02-28 13:05] msosnicki opened #2965 "Elasticsearch name clash"
I'm facing following problem with the ElasticSearch connector.
The data I would like to search has an unfortunate property that it contains key name clashes when comparing them in a case insensitive manner. See below for the ES mappings example:
[code]

With the latest presto version, the following query fails:
[code]
with the following error:
[code]
This error originates in Guava `ImmutableMap` b

[2020-02-28 13:23] findepi opened #2967 "Presto cannot read from view defined by older version when ROW has field name being SQL keyword"
### 312

[code]

[code]
[code]
[code]

### 330
[code]

It works OK when the view is recreated in 330.

[2020-02-28 13:28] MatthewRBruce commented on #2962
Sure thing.  I also realized after I posted that the 40 hive-metastore-hive threads I referenced we're only the threads blocked on a single monitor; the other 60 hive-metastore-hive threads were similarly blocked too however.

Configs:
[code]

Stack Trace:
[coord-stack.txt](https://github.com/prestosql/presto/files/4267213/coord-stack.txt)

[2020-02-28 13:57] sopel39 commented on #2962
You should be able to workaround this issue by disabling cache refreshing.

[2020-02-28 14:56] MatthewRBruce commented on #2962
We've increased the number of refresh threads for now, if we still see the issue happening we'll look at disabling the cache refresh, but I think we've run into issues with information schema queries taking too long when metastore cache refresh is disabled (or set too high)

[2020-02-28 15:15] miniway opened #2968 "ErrorHandler takes long time at deep nested mismatched parentheses."
I found a case that it took long time, more than an hour, at a syntax error.

This is a simplified reproducing test case.
[code]

[2020-02-28 15:44] martint commented on #2961
@dain, yes, but that’s kind of “hidden”... it doesn’t show up in —help, it’s different than every other way to pass parameters to the CLI, etc

[2020-02-28 16:39] electrum commented on #2961
@sanchitkashyap please do! Let’s name the option `—timezone` as I can’t see a need for other types of time zones.

[2020-02-28 17:09] martint commented on #2967
What's the text of the stored view in 312 vs 330? I think this may be case where we stored what's arguably an incorrect representation of the view (not quoting identifiers that should've been quoted) and 330 is stricter in how it parses them.

[2020-02-28 17:13] findepi commented on #2967
When reading `ViewColumn`  from view  declared in 312, I see `row(.... , table varchar)`.
When view is defined in 323+, it's `row(.... , "table" varchar)`.
This makes a big difference when we use parser to get the type.

[2020-02-28 17:16] martint commented on #2967
Yeah, that's what I thought. FWIW, the view in 312 is "broken". Those identifiers should really be quoted, as they are reserved words in the grammar.

[2020-02-28 18:04] electrum commented on #2967
Could we read them in the older version? If so, this is compatibility issue for stored data that needs to be fixed.

[2020-02-28 18:07] martint commented on #2967
Yes, it could be read in the older version. It’s a compatibility issue resulting from “fixing” a bug, unfortunately. I don’t know if any good way to support the old version of those views, though.

[2020-02-28 19:00] #2936 closed

[2020-02-28 19:31] electrum commented on #2942
This can be done using `regex_replace`. There's an example in the documentation: https://prestosql.io/docs/current/functions/regexp.html

[code]

[2020-02-28 19:45] mosabua commented on #2942
Thats a good workaround. Imho it would be good to have an actual function initcap or so.

[2020-02-28 20:27] #2888 closed

[2020-02-28 20:28] findepi commented on #2880
[code]
https://github.com/prestosql/presto/issues/2888 https://github.com/prestosql/presto/pull/2949

[2020-02-28 20:47] findepi commented on #2960
Simplified case:
[code]

[code]

[2020-02-28 20:49] findepi commented on #2960
@Svti thanks for reporting this.
BTW you can workaround this by using `GROUP BY 1` in the query:
[code]

[2020-02-29 01:05] #2968 closed

[2020-02-29 01:06] martint commented on #2880
[code]

#2968

[2020-02-29 11:07] tooptoop4 commented on #2481
where is that fork @academy-codex ?

[2020-02-29 17:20] Praveen2112 commented on #2880
[code]
#2861

[2020-02-29 18:04] #1600 closed

[2020-02-29 18:05] Terry93 commented on #1600
Close due to merge of https://github.com/prestosql/presto/pull/2770

[2020-02-29 23:48] #2965 closed

[2020-03-01 04:17] lhofhansl opened #2974 "Showing access permissions for a Schema"
When SQL Standard Authentication is enabled a schema is owned by its creator.
The creator (and admin) have special rights on the schema.

When #2673 is merged the owner (or admin) can assign the schema to different user or role.

However, there's currently no way to tell who actually owns a schema.

This could be done in several ways:
- We could add SHOW CREATE SCHEMA schema, which would show some

[2020-03-01 12:03] tooptoop4 commented on #611
@Parth-Brahmbhatt @luohao are u still interested in this?

[2020-03-01 12:22] tooptoop4 commented on #2716
gentle ping @Svti

[2020-03-01 12:50] tooptoop4 commented on #1911
cc @mosabua

[2020-03-01 12:50] tooptoop4 commented on #1910
cc @mosabua

[2020-03-01 13:02] tooptoop4 commented on #1723
yes, configurable @Anurag870

[2020-03-01 13:06] tooptoop4 commented on #1620
same as https://github.com/prestodb/presto/issues/11442

[2020-03-01 13:10] tooptoop4 commented on #1581
use avgquerytime, longestrunningquery too

[2020-03-01 13:13] tooptoop4 commented on #1422
@phd3 did u find a way forward on this?

[2020-03-01 14:26] tooptoop4 commented on #1122
https://docs.oracle.com/cd/B28359_01/server.111/b28286/queries003.htm#SQLRF52315 have some good examples too, classic example is grandfather id, ie get the manager id of each employee up the chain

[2020-03-01 14:34] tooptoop4 commented on #1135
this would help Sybase connector (https://github.com/prestosql/presto/issues/2481) as server.db.owner.table is valid identifier there

[2020-03-01 14:46] tooptoop4 commented on #641
is this fixed @PennyAndWang ?

[2020-03-01 14:59] tooptoop4 commented on #521
care to share the patch @vgankidi ?

[2020-03-02 10:44] us3r opened #2980 "LDAP auth not working if user belongs to multiple groups"
That was the configuration that works perfectly before migration to presto:330.

[code]

On the newest version we are facing below error:
`Error running command: Authentication failed: Access Denied: Multiple group membership results for user [XYZ] with different distinguished names`

I have tried to change the pattern to sth like that:

[code]

But that give the same result. My question is:

what

[2020-03-02 11:07] Svti opened #2981 "java.lang.ArrayIndexOutOfBoundsException in TDigest"
GENERIC_INTERNAL_ERROR (65536)
--

![image](https://user-images.githubusercontent.com/9276794/75671078-f1483300-5cb8-11ea-9d39-51ecaf99cdc1.png)

presto version : 330

[2020-03-02 11:09] Praveen2112 commented on #2981
Did server.log shows anything ? It would be better if we could know the stack trace of it ?

[2020-03-02 11:09] Svti commented on #2981
67067:java.lang.ArrayIndexOutOfBoundsException: 1000
67068-  at io.airlift.stats.TDigest.add(TDigest.java:200)
67069-  at io.airlift.stats.DecayTDigest.add(DecayTDigest.java:97)
67070-  at io.airlift.stats.DecayTDigest.add(DecayTDigest.java:83)
67071-  at io.airlift.stats.TimeDistribution.add(TimeDistribution.java:57)
67072-  at io.airlift.stats.TimeStat.add(TimeStat.java:75)
67073-  at io.airlift

[2020-03-02 11:11] Svti commented on #2981
java.lang.ArrayIndexOutOfBoundsException: 1000
  at io.airlift.stats.TDigest.add(TDigest.java:200)
  at io.airlift.stats.DecayTDigest.add(DecayTDigest.java:97)
  at io.airlift.stats.DecayTDigest.add(DecayTDigest.java:83)
  at io.airlift.stats.TimeDistribution.add(TimeDistribution.java:57)
  at io.airlift.stats.TimeStat.add(TimeStat.java:75)
  at io.airlift.stats.TimeStat.add(TimeStat.java:70)
  at

[2020-03-02 11:12] Svti commented on #2981
2020-03-02T18:35:43.476+0800      ERROR   SplitRunner-137-116     io.prestosql.execution.executor.TaskExecutor    Error processing Split 20200302_103542_00447_zsbg8.4.3-3  (start = 2.102344306989329E10, wall = 60 ms, cpu = 0 ms, wait = 14 ms, calls = 3)
  at io.airlift.stats.TDigest.add(TDigest.java:200)
  at io.airlift.stats.DecayTDigest.add(DecayTDigest.java:97)
  at io.airlift.stats.DecayTDiges

[2020-03-02 11:15] tooptoop4 commented on #2980
seems to be introduced in release 329 (https://github.com/prestosql/presto/pull/1917) I can't see a reason for this error.

[2020-03-02 11:22] kokosing commented on #2974
Yes we could. However, it won't solve your problem. Unless we would like to add syntax to create a schema and assign an owner in one statement, like `CREATE SCHEMA ... AUTHORIZATION owner`. Is there any DB that supports that?

We could have `information_schema.schema_privileges` table like we do for table privileges.

Correct. In regards to `information_schema.table_privileges` only an owner can s

[2020-03-02 11:30] Svti commented on #2981
@Praveen2112  Sometimes this happens, not all the time

[2020-03-02 11:36] rotivordep opened #2982 "Multiple Presto catelogs with a single URI"
How can I add multiple catalogs on SQLAlchemy URI? I've tried presto://presto_address:port/catalog and it works, but I want to join cross databases with Presto DB. I already tried ";", ",", "/" to separate catalogs, but didn't work. I know the sintax is odbc://address:port/catalog/schema.

[2020-03-02 11:49] ebyhr commented on #2982
Are you using PyHive?

By the way, thre is the good place to ask such kind of questions in Slack.
https://prestosql.io/slack.html > `#troubleshooting`

[2020-03-02 11:55] sopel39 commented on #2880
[code]
https://github.com/prestosql/presto/pull/2793

[2020-03-02 12:56] rotivordep commented on #2982
No. I'm using Presto only. How I join in the Slack channel? An adminstrator must invite me. If you can invite me, this is my email torivordep@gmail.com. Tks!

[2020-03-02 13:18] ebyhr commented on #2982
I sent an invitation.

[2020-03-02 13:47] Praveen2112 commented on #2981
@Svti It looks like the issue is when we try generate t-digest for input/output calls I guess..I'm checking it out

[2020-03-02 13:52] electrum commented on #2982
The “sign up” link on https://prestosql.io/slack.html should allow you to sign up without an invite (it actually is the invite).

[2020-03-02 13:55] findepi commented on #2980
The exception is thrown when user is found twice, with _different_ distinguished names.
https://github.com/prestosql/presto/blob/d6bd0af758d64f372f104f13b23bcd0f416f7049/presto-password-authenticators/src/main/java/io/prestosql/plugin/password/ldap/LdapAuthenticator.java#L215-L218

@us3r can you check how do the names differ when the exception is being raised?
You can find https://github.com/prest

[2020-03-02 14:10] us3r commented on #2980
I will try to use your code ASAP, nevetheless from the ldapsearch:

[code]

[2020-03-02 15:37] #2868 closed

[2020-03-02 19:49] dongwoo1005 commented on #2658
If nobody is working on it, I will look into the issue and start working on the feature

[2020-03-02 20:12] kokosing commented on #2954
It is already supported, please use:
[code]
to refresh it every 5 seconds.

[2020-03-02 20:12] #2954 closed

[2020-03-02 20:57] electrum commented on #2658
Please use the same config names  as https://github.com/airlift/drift/blob/master/drift-transport-netty/src/main/java/io/airlift/drift/transport/netty/client/DriftNettyClientConfig.java prefixed with `hive.metastore`. For example, `hive.metastore.thrift.client.ssl.trust-certificate`.

[2020-03-02 20:58] electrum commented on #2658
@dongwoo1005 please do. I’ve assigned this issue to you.

[2020-03-02 21:29] tooptoop4 commented on #1169
https://github.com/square/okhttp/pull/5834

[2020-03-02 21:30] tooptoop4 commented on #2401
https://github.com/square/okhttp/pull/5834

[2020-03-03 05:19] harmandeeps commented on #2293
@findepi : Assigning this issue to myself. I have raised PR for this. Please take a look. Thanks.

[2020-03-03 06:11] Terry93 commented on #1994
@findepi actually it is fixed in https://github.com/prestosql/presto/commit/e9df8c8215f073d2512b22bf58e619de555d4396 so I don't have problem with it

[2020-03-03 06:51] har5havardhan opened #2987 "Ranger integration with presto works on "Release 317" but fails on versions later"
Hi,

I am trying to integrate ranger with presto and its working on "Release 317"
I followed the following documentation : https://cwiki.apache.org/confluence/display/RANGER/Presto+Plugin

But, when when I go with versions after that, It throws the following errors.

**query**: _SHOW CATALOGS_
**error** : _[65536] Query failed (#20200303_063413_00002_h5s89): Internal error java.lang.RuntimeExcepti

[2020-03-03 08:40] findepi commented on #1994
Thanks for checking.

[2020-03-03 08:40] #1994 closed

[2020-03-03 08:57] findepi commented on #2980
#2983 is merged. @us3r can you possibly build from `master`, enable check DEBUG from `io.prestosql.plugin.password.ldap` context?

[2020-03-03 08:59] #2790 closed

[2020-03-03 09:01] findepi opened #2988 "Support Hive ORC ACID with Hive 2.x"

[2020-03-03 09:03] findepi commented on #2988
Duplicates https://github.com/prestosql/presto/issues/2937

[2020-03-03 09:03] #2988 closed

[2020-03-03 09:06] findepi commented on #2789
@AbhishekNew the error reporting when accessing ACID in Hive 2.x is fixed in https://github.com/prestosql/presto/pull/2791 & https://github.com/prestosql/presto/issues/2790

However, this doesn't mean Hive ORC ACID tables are supported with Hive 2. They are not and this is tracked by https://github.com/prestosql/presto/issues/2937.
Please follow that issue. Or upgrade to Hive 3.

[2020-03-03 09:06] #2789 closed

[2020-03-03 09:11] findepi commented on #2711
@AbhishekNew this is supported since https://github.com/prestosql/presto/pull/2715
of course, there are a lot of loose ends we will be tying up in coming releases, but this deserves individual issues, so let me close this.

[2020-03-03 09:11] #2711 closed

[2020-03-03 09:14] findepi commented on #2797
One of the problems of this test is that the class uses Guava `RateLimiter` which doesn't allow stubbing time (https://github.com/google/guava/issues/1774)
Sadly, Guava maintainers were not responsive in https://github.com/google/guava/pull/3759.

[2020-03-03 09:41] harmandeeps commented on #2790
This should be fixed in Presto. I have created PR: https://github.com/prestosql/presto/pull/2989/commits/30266c0dc03f8a7c62bbcc76c76fd9fd2593cc41. Please review.

[2020-03-03 12:41] #2962 closed

[2020-03-03 12:43] sopel39 commented on #2880
[code]
https://github.com/prestosql/presto/pull/2984

[2020-03-03 12:44] sopel39 commented on #2600
Fixed via: https://github.com/prestosql/presto/pull/2612

[2020-03-03 12:44] #2600 closed

[2020-03-03 12:46] sopel39 commented on #2621
related slack discussion: https://prestosql.slack.com/archives/CFLB9AMBN/p1579853527036100

[2020-03-03 12:48] us3r commented on #2980
DEBUG MESSAGE:

[code]

So it is returning DN of CN (groups).

[2020-03-03 13:18] findepi commented on #2980
the way it's designed, `ldap.group-auth-pattern` should search for users, who are allowed to connect, not for user-memberships.
So the question is whether we can rework the search pattern to adjust for that.

I also acknowledge that in 328 we allowed the `ldap.group-auth-pattern` to return multiple results, because we never used that for binding.
Technically, we can still allow that when `ldap.use

[2020-03-03 13:33] us3r commented on #2980
MemberOf - is not always an option that can be implemented (like in my case). I think it would be perfect if that functionality could be added again.

[2020-03-03 18:28] ddrinka commented on #2296
@grantatspothero I'm still getting exceptions as you described above on master.  Were you able to submit a PR for the fix you described?

[2020-03-03 19:15] degoyal commented on #2817
Is anyone looking into this issue?

Also 1 qq, why Presto do check for partition metadata for all columns? For the above reported issue, user is not using any problematic column in the query anywhere but still Presto reports an issue as it compares the full table/partition metadata. We noticed that hive also reports the issue for same column but only when the column is used in the query.

Now sinc

[2020-03-03 19:44] electrum commented on #2817
The reason is that Presto connectors need to return metadata for all columns in the table. The engine doesn’t ask for metadata about specific columns.

[2020-03-03 19:57] electrum commented on #2817
The table/partition mismatch is actually a different issue. This happens at runtime during scheduling and it might be possible to only do it for used columns, but I don’t know the complexity of that change.

[2020-03-03 21:14] kokosing commented on #2880
[code]
#2925

[2020-03-03 21:23] ddrinka commented on #2450
Is this closed by https://github.com/prestosql/presto/pull/1870 for you?  I'm able to verify sorted data on disk with the current codebase, while using Glue...

[2020-03-04 08:14] fly0512 opened #2992 "An error is reported for field type conversion when a query view appears after the upgrade from 324"
An error is reported when a field type conversion operation exists in the query view. This is not the case with version 324. I have reproduced the same problem in 327, 329 and 330.

Other service versions of my running environment are:
kudu 1.10
mongodb 4.0.5
hadoop 3.1.2
java version "1.8.0_211"
CentOS Linux release 7.6.1810 (Core)

presto> show create view hive.a003.dv_pos_check_discounts;

[2020-03-04 08:23] fly0512 commented on #2992
Other service versions of my running environment are:
kudu 1.10
hadoop 3.1.2
java version "1.8.0_211"
CentOS Linux release 7.6.1810 (Core)

[2020-03-04 08:26] findepi commented on #2992
Obviously, such cast was never allowed, so there is some other problem.
@fly0512 can you try to dissect this eg by running `SELECT some_column FROM your_kudu_table` and see whether we return same data for each column in 324 vs 330?
You can also use `SELECT checksum(some_column) ..` instead of eye-balling the results.

[2020-03-04 08:32] fly0512 commented on #2992
When I used the view's query Kudu field statement (as listed below) to query directly, the result returned was correct.
SELECT
t1.tenant_id tenant_id
, t1.cdis_id cdis_id
, t1.cdis_bday_id cdis_bday_id
...
FROM
kudu.a003.pos_check_discounts t1

Crucially, the same query did not fail in version 324.

[2020-03-04 09:41] fly0512 commented on #2992
@findepi
According to what you said, using checksum to query the data in Kudu table, no difference was found between 324 and 330.
![image](https://user-images.githubusercontent.com/50002522/75865868-25e5f700-5e3f-11ea-8a96-c8d2a623ac2c.png)

[2020-03-04 12:39] #2667 closed

[2020-03-04 13:39] findepi opened #2994 "Flaky test TestTableFinishOperator.testStatisticsAggregation"
[code]

https://github.com/prestosql/presto/runs/484880838

[2020-03-04 13:40] findepi opened #2995 "Flaky test TestTransactionManager.testExpiration"
[code]

https://github.com/prestosql/presto/runs/484880838

[2020-03-04 13:41] findepi commented on #1977
Same for `TestRaptorIntegrationSmokeTestMySql.testCreateBucketedTable` - https://github.com/prestosql/presto/pull/2991/checks?check_run_id=483588543

[2020-03-04 13:47] l1x opened #2996 "Add support for MaxResults on Glue Hive Metastore"
I was tracing our Presto cluster with AWS CloudTrail and it issues a lot of GetPartitions (sometimes hundreds) for a table. We are using AWS Glue.

My first question is where is the MaxResults set to Presto?

https://docs.aws.amazon.com/glue/latest/webapi/API_GetPartitions.html

[code]

[2020-03-04 13:58] ebyhr opened #2997 "Add support for SHOW COLUMNS with LIKE pattern"
Based on offline conversation with @AbhishekNew

[2020-03-04 13:59] sajaiap opened #2998 "SSL enabled Apache Ranger not working with SSL enabled Prestosql 310 - seems a bug"
**Facing the below error when trying to integrate Apache Ranger with Prestosql (310 version).
Both Ranger and Presto is working independently, but the Presto policies from Ranger are not downloading/refreshing. Couldn't find the policies downloaded in Ranger web ui in Audits/Plugin tab. Also if we remove SSL from Ranger side it starts working fine. Issue is only when SSL is enabled in Ranger, then

[2020-03-04 14:03] ebyhr commented on #2996
Presto has `hive.max-partitions-per-scan` property (default: 100,000). Does this answer help you?

By the way, you can ask such kind of questions on our community Slack.
https://prestosql.io/slack.html

[2020-03-04 14:05] AbhishekNew opened #2999 "Add support for SHOW VIEWS with LIKE pattern"
Tag as Enhancement

[2020-03-04 14:08] sajaiap commented on #2998
Here are the parameter values  given:
ranger-2.1.0-SNAPSHOT-admin/install.properties
db_root_user=root
db_root_password=Sqlpwd@123
db_host=localhost

db_name=ranger
db_user=rangeradmin
db_password=Rangerpwd@123

rangerAdmin_password=Rangerpwd@123
rangerTagsync_password=Rangerpwd@123
rangerUsersync_password=Rangerpwd@123
keyadmin_password=Rangerpwd@123

policymgr_external_url=https://xxxxx:6182
pol

[2020-03-04 14:10] sajaiap commented on #2998
Here are the parameter values given:
ranger-2.1.0-SNAPSHOT-admin/install.properties
db_root_user=root
db_root_password=Sqlpwd@123
db_host=localhost

db_name=ranger
db_user=rangeradmin
db_password=Rangerpwd@123

rangerAdmin_password=Rangerpwd@123
rangerTagsync_password=Rangerpwd@123
rangerUsersync_password=Rangerpwd@123
keyadmin_password=Rangerpwd@123

policymgr_external_url=https://xxxxx:6182
poli

[2020-03-04 14:14] sajaiap commented on #2998
ranger-2.1.0-SNAPSHOT-presto-plugin/install.properties
---------------------------------------------------------------
POLICY_MGR_URL=https://xxxxx:6182

REPOSITORY_NAME=presto-catalogs-dev

# You do not need use SSL between agent and security admin tool, please leave these sample value as it is.
#
SSL_KEYSTORE_FILE_PATH=/etc/hadoop/conf/ranger-plugin-keystore.jks
SSL_KEYSTORE_PASSWORD=none
SSL_TR

[2020-03-04 14:18] sajaiap commented on #2998
presto-server-310/etc/config.properties
--------------------------------------------
coordinator=true
node-scheduler.include-coordinator=true
http-server.http.enabled=false
node.internal-address-source=FQDN
node.internal-address=hostname1

internal-communication.https.required=true
internal-communication.https.keystore.path=/opt/iss_cert/clientcert.jks
internal-communication.https.keystore.key=31b

[2020-03-04 14:21] sajaiap commented on #2998
Both Ranger and Presto is working independently, but the Presto policies are not downloading/refreshing. Couldn't find the policies downloaded in Ranger web ui in Audits/Plugin tab. Also if we remove SSL from Ranger side it will work fine .

[2020-03-04 14:21] AbhishekNew commented on #2999
Like

[2020-03-04 14:45] dprophet commented on #2910
OH, very very interesting. I might be willing to take this one on. It would help so many people, myself included.

[2020-03-04 14:50] dprophet commented on #2910
Anyone have doc's for a skeleton connector so I can fill in the blanks? I assume there is a test harness for local development (thus not having to develop within the Presto server itself).

[2020-03-04 15:05] electrum commented on #2999
You can access view information in bulk from the `information_schema.views` table.

[2020-03-04 16:58] JellyMing commented on #2963
Maybe I find something in the KuduRecordCursor class.
`
   @Override
    public boolean advanceNextPosition()
    {
        boolean needNextRows = !started || !nextRows.hasNext();

        if (!started) {
            started = true;
        }

        if (needNextRows) {
            currentRow = null;
            try {
                do {
                    if (!scanner.hasMoreRows()) {

[2020-03-04 18:10] findepi commented on #2428
https://github.com/prestosql/presto/pull/3000/checks?check_run_id=485524505

[2020-03-04 18:24] grantatspothero commented on #2296
@ddrinka I got distracted and never got a chance, thanks for opening a PR. You might want to audit the whole `SortedFileWriter` I remember there was potentially at least one other place where a similar readafterwrite consistency problem could occur.

[2020-03-04 19:05] findepi commented on #2894
https://github.com/prestosql/presto/pull/3000/checks?check_run_id=485665800

[2020-03-04 19:06] findepi commented on #1977
https://github.com/prestosql/presto/pull/3001/checks?check_run_id=485676509

[2020-03-04 20:20] l1x commented on #2996
No this is not the answer to my question. I think the MaxResults is not set (null) which results in defaulting to 1.

Thanks.

[2020-03-04 20:29] l1x opened #3002 "Partition pruning seems to be not functioning for date type partitions with AWS Glue"
Having a table with date type partitioning key results in lack of partition pruning in the beginning of the select:

[code]

From CloudTrail logs the correspoding GetPartitions request expression:

[code]

This results in reading way too much data when querying the table. The issue is gone if the partitioning key is string instead of date.

[2020-03-04 20:36] findepi commented on #3002
is `date_event_utc` a `date`, `timestamp` or `timestamp with time zone`?

[2020-03-04 20:37] findepi commented on #2996
@l1x i see you already did deep investigation. Do you think you know enough to propose a fix?

[2020-03-04 20:38] l1x commented on #3002
date

[2020-03-04 20:55] tooptoop4 commented on #3002
To enable this option, add hive.assume-canonical-partition-keys=true to the coordinator and worker config properties.

[2020-03-04 21:00] l1x commented on #2996
Sending the pull request soon.

[2020-03-04 21:12] l1x commented on #3002
Excellent thanks. Do you know more about what is _non-canonical_ about date partitioning keys?

I found the only reference to this in the Terradata documentations:

https://teradata.github.io/presto/docs/141t/connector/hive.html

[2020-03-04 21:14] findepi commented on #3002
thanks @tooptoop4 .

[2020-03-04 21:14] #3002 closed

[2020-03-04 21:16] findepi commented on #3002
@l1x the flag is because the search in metastore is done by string values and different string values can represent same part col value.
for example for date `2020-3-4` and `2020-03-04` are the same, yet the search "assuming canonical keys" would find only the second one

[2020-03-04 21:20] l1x commented on #3002
@findepi Alright, but how does this justify not using date partitioning keys by default? Wouldn't it make sense to at least warn the user about this?

[2020-03-04 22:50] findepi opened #3004 "Flaky test TestSqlTask.testBufferCloseOnCancel"
[code]

https://github.com/prestosql/presto/pull/3001/checks?check_run_id=486069524

[2020-03-04 22:54] sopel39 opened #3005 "Report dynamic filtering stats for DynamicFilterSourceOperator and scan operator"
Currently we don't have any visibility if
1. dynamic filters were collected (too large dynamic filters are skipped)
2. How many splits were processed with dynamic filters.

We should expose such stats in `QueryInfo`:
1. For `DynamicFilterSourceOperator` we can expose dynamic filter stats (e.g number of dynamic filters rows, how many dynamic filters were too large) via `OperatorInfo`.
2. For table

[2020-03-04 22:54] findepi commented on #3002
Presto doesn't produce much warnings, because in practice no-one reads them.
More interesting would be if you could investigate, whether we needs this type of cautiousness for Glue at all.

[2020-03-04 22:58] tooptoop4 commented on #2960
do u know which release introduced the issue?

[2020-03-05 00:38] ebyhr commented on #2996
As you already know, we haven't yet set `MaxResults` for Glue Hive metastore. (Sorry, I misunderstood your question)

[2020-03-05 06:57] l1x commented on #2996
No worries at all. This is an important change form the performance point of view, I am not sure why AWS made it optional. We noticed it during a performance related investigation by accident.

[2020-03-05 08:17] AbhishekNew commented on #2999
As discussed offline @ebyhr closing this.

[2020-03-05 08:48] AbhishekNew commented on #2999
Reopening this as I feel should support this as enhancement

[2020-03-05 08:54] findepi commented on #2960
@tooptoop4 I don't think this ever worked.

[2020-03-05 09:04] #2858 closed

[2020-03-05 09:05] findepi commented on #2880
[code]

https://github.com/prestosql/presto/issues/2858 https://github.com/prestosql/presto/pull/2870

[2020-03-05 09:41] sopel39 commented on #3005
For 1) after: https://github.com/prestosql/presto/pull/1072 dynamic filter domains will be part of `io.prestosql.execution.TaskStatus`

[2020-03-05 11:38] findepi opened #3006 "Inconsistent error reporting when schema does not exist"
[code]

[code]

[code]

Inconsistency:

* Error is about "Table does not exist" or "Schema does not exist"
* name is in apostrophes or not

[2020-03-05 11:41] rishabhmurarka7 opened #3007 "Add support for next_day function"
As per the Presto docs, the next_day functionality is presently not supported in presto which is supported in other engines like postgres and hive where it gives the next date for a particular day of the week as shown below:
[code]

[2020-03-05 12:06] kokosing commented on #3006
What should be our convention?

I prefer using quotes.

[2020-03-05 14:33] marklit opened #3011 "Cast first 64 bits of SHA1 to BIGINT?"
I'm able to produce SHA1 hashes from strings with the following:

[code]

[code]

Is there a way I could cast the above result to BIGINT? At the moment I'm getting the following:

[code]

[code]

My application for the above is to shorten surrogate keys and ideally join two tables that contain billions and hundreds of millions of records respectively faster than they are currently with their long

[2020-03-05 15:22] sopel39 commented on #2880
[code]
https://github.com/prestosql/presto/pull/2725

[2020-03-05 16:22] l1x commented on #3002
The suggested fix did not solve our problems it still does not use the date field for partition pruning.

[2020-03-05 16:26] findepi commented on #3011
The join is by hashed value (bigint) anyway, so it's can possibly be faster only if join by the short prefix _only_ (not two conditions: over prefix and full surrogate key).
Is this what you want?

[2020-03-05 16:31] findepi commented on #3006
More importantly, error is about "Table does not exist" vs "Schema does not exist". I've updated description.

[2020-03-05 16:59] #2897 closed

[2020-03-05 17:59] marklit commented on #3011
If it is, then yes, that solves my problem. Thanks.

[2020-03-05 17:59] #3011 closed

[2020-03-05 18:12] amalakar opened #3014 "Presto queries involving partition column in hive scans the entire table"
The performance difference is order of magnitude higher which is understandable. `$partition` query happens to be a metadata query only, while the other one ends up being full scan.

[code]

## Full Scan
<img width="1246" alt="scan-query" src="https://user-images.githubusercontent.com/65202/76011539-9d606880-5ec9-11ea-945a-e0b2ea8681b2.png">

## Metadata query only
<img width="1222" alt="metadata-

[2020-03-05 19:19] raunaqmorarka commented on #3014
You can enable `optimizer.optimize-metadata-queries` to make the second query into a metadata only query as well.
Without that flag also there is logic in `HivePageSource` to return pages with prefilled values for partition column keys without reading the values from file. However, we still open files and read the metadata and footer from them.

[2020-03-05 19:52] amalakar commented on #3014
Thank you @raunaqmorarka given `optimizer.optimize-metadata-queries=true` addresses the issue, I believe I can close this issue?

[2020-03-05 19:52] #3014 closed

[2020-03-05 20:22] l1x commented on #3002
@findepi Good question. The problem is that worst case scenario (this is what we hit) there are many partitions in a table and partition pruning is essential for high performance. We only noticed this because we are facing continuous issues with Glue throwing exception of rate exceeded. I have seen this on the internet from more people who use Presto + Glue. This kicked out the investigation that

[2020-03-06 11:41] kokosing commented on #2880
[code]
#2924

[2020-03-06 14:40] ebyhr commented on #2428
https://github.com/prestosql/presto/runs/490360720

[2020-03-07 00:12] JamesRTaylor opened #3027 "Execute queries over $partitions at planning time"
A common pattern for partitioned tables is to query only the latest partition. This is often done with a query like this:

    SELECT count(*) FROM hive.datastore.my_table
    WHERE dt=(SELECT max(dt) FROM hive.datastore.my_table)

This can also be written and executed more efficiently as a metadata operation like this (assuming there are no empty partitions):

    SELECT count(*) FROM hive.datast

[2020-03-07 00:26] tooptoop4 commented on #2909
from David on slack:
This is a very complicated issue from a design perspective. If it was easy, we would have done it a long time ago. Some questions to resolve:
How does a retry affect the query ID? Is each attempt a new query ID?
How is retry communicated to a client?
How does retry affect statistics and events?

[2020-03-07 00:33] tooptoop4 commented on #2987
can u post whole stacktrace?

[2020-03-07 00:49] lhofhansl commented on #2974
I was planning to add `CREATE SCHEMA ... AUTHORIZATION owner` soon.

[2020-03-07 00:49] tooptoop4 commented on #2909
qubole has this - https://docs.qubole.com/en/latest/user-guide/engines/presto/presto-query-retry.html and https://www.qubole.com/blog/spot-nodes-in-presto-on-qubole/
slide 29 from treasure data - https://www.slideshare.net/treasure-data/2015-0311td-techtalkinternalsofprestoservice

"Using the Presto Query Retrying Mechanism

Qubole has added a query retry mechanism to handle query failures (if pos

[2020-03-07 01:14] ebyhr commented on #2987
Thanks for filing the JIRA ticket https://issues.apache.org/jira/browse/RANGER-2747. Let me post so that other people can follow it.

[2020-03-07 06:11] bolkedebruin commented on #2987
There is an api change in Presto that makes the plugin incompatible. I’m holding off for presto 331 to release a new version with a compatible api and row/column filtering

[2020-03-07 06:12] bolkedebruin commented on #2987
https://issues.apache.org/jira/browse/RANGER-2754

[2020-03-07 11:24] tooptoop4 commented on #2981
sounds related to https://github.com/airlift/airlift/commit/cd7da76c49299376785698f4a318cd9a3efc3b03

[2020-03-07 11:55] brucemen711 commented on #1545
Hi @ajantha-bhat ,
Currently, prestosql 320 not work with carbondata, any plan about it ?
Seem likes prestosql change api ?

Thanks.

[2020-03-07 12:23] ajantha-bhat commented on #1545
Hi ,

In Latest carbondata presto integration code, carbondata just contains read
support.
You can create a carbon table from spark / hive (hive write is in progress)
or use carbon SDK and query it from presto.

Latest master is integrated with only prestodb 0.217.

As many user requested. Now carbondata wants to support prestosql also.
Currently I have raised a PR to integrate with prestosql 316.

[2020-03-07 12:47] brucemen711 commented on #1545
Hi @ajantha-bhat ,
I think Presto change very frequently, so if plan D to be true, it would be great.
For now, i'm looking for your PR and upcomming plans (a,b).

 Thanks for your help,

[2020-03-07 13:22] tooptoop4 opened #3031 "prestosql 327 queries (parquet on s3) scanning 2~3x more data than prestodb 215"
from slack:
Hi team, we have recently performed an upgrade from Facebook Presto 215 to PrestoSQL 327, after the migration, we found one of the queries scanning 2~3x more data. Any idea why?

martin  1 month ago
Can you provide the output of EXPLAIN for both queries?

david  1 month ago
And EXPLAIN ANALYZE as well, if possible, as that should show where it is scanning more data. It's possible this

[2020-03-07 14:39] tooptoop4 commented on #2730
Potentially broken by https://github.com/prestosql/presto/pull/1925 from 325 release onwards

[2020-03-07 14:41] tooptoop4 commented on #3031
Regression potentially introduced by #1925 from 325 release onwards

[2020-03-07 16:58] ajantha-bhat commented on #1545
https://github.com/apache/carbondata/pull/3662

@brucemen711 : I have created this PR, I have tested locally. There was a small change in HiveModule and HiveSplit, hence carbon had to change the code.
Please take the latest carbondata master code and cherry-pick this PR.
Try it and let me know.

Also just curious, Have you used carbondata with presto in your production ?

[2020-03-07 20:24] tooptoop4 opened #3033 "ldap.group-auth-pattern changes without restart"
feature req - allow updates to ldap.group-auth-pattern (ie adding a new AD group) without needing to restart presto server.

I'm guessing this could be read from an external file like some other configs that handle auto-refresh without restart

[2020-03-07 22:15] findepi commented on #2880
[code]

https://github.com/prestosql/presto/pull/3032

[2020-03-08 03:38] brucemen711 commented on #1545
Hi,
I’m testing carbondata for production (data warehouse, data mart)
But our company requirement pretty stricted, it must work with Spark and Presto and other things.

Thanks for your pr, i will give another try.

[2020-03-08 07:41] alexey-fin opened #3036 "OrderByOperator extremely overestimates the memory usage"
@findepi query "select * from testorc order by random()" estimates memory to more than 50gb while heap does not cross 10gb, orc file https://drive.google.com/file/d/1DD7Kxcy3CodKaIDPP-G26n1PVWT20fTh/view?usp=sharing, create table :
CREATE TABLE hive.default.testorc (
   salesforce_contact_id varchar,
   email_id varchar,
   campaign_id varchar,
   sfmc_activity_id varchar,
   campaign_name varchar

[2020-03-08 08:13] Terry93 commented on #1109
@sopel39 @findepi Hello I tried to find out the potential solution for this issue but it seems not that straightforward to me, may I have some inputs from you?

Take getting the peak user memory for a query on a worker node for example (system memory should be the same), I think the best way to get this information using the `queryMemoryContext` (getUserMemory function) in the `QueryContext.java`.

[2020-03-08 08:31] brucemen711 commented on #1545
Hi ,
For everyone, I try preso-320 and its working fine.

With presto version > 329,330, it show error, seem likes presto change api frequently.

2020-03-08T15:28:30.021+0700	ERROR	main	io.prestosql.server.PrestoServer	io.prestosql.spi.procedure.Procedure$Argument.<init>(Ljava/lang/String;Ljava/lang/String;)V
java.lang.NoSuchMethodError: io.prestosql.spi.procedure.Procedure$Argument.<init>(Ljava/l

[2020-03-08 08:32] brucemen711 commented on #1545
Hi ,
For everyone, I try preso-320 and its working fine.

With presto version 329,330, it show error, seem likes presto change api frequently.

ERROR	main	io.prestosql.server.PrestoServer	io.prestosql.spi.procedure.Procedure$Argument.<init>(Ljava/lang/String;Ljava/lang/String;)V
java.lang.NoSuchMethodError: io.prestosql.spi.procedure.Procedure$Argument.<init>(Ljava/lang/String;Ljava/lang/String;)V

[2020-03-08 08:36] brucemen711 commented on #1545
Hope @ajantha-bhat  will woking on plan a,b.
With presto 320, we has error with decimal accuracy on parquet new format (.parq). Presto recently has fixed it so we have to wait lastest presto-carbondata integration.

[2020-03-08 08:50] tooptoop4 commented on #3036
see if https://github.com/prestosql/presto/pull/2612 helps

[2020-03-08 09:47] ajantha-bhat commented on #1545
As your initial message was mentioned you need for presto 320. I supported carbon for presto 320.

If you need latest version. I need to recheck @brucemen711

[2020-03-08 11:04] fornaix commented on #3007
I would like to work on this

[2020-03-08 19:11] kokosing opened #3037 "Extract test for access control from AbstractTest*Queries"
These tests do not tests connector implementation as they are based on `TestingAccessControlManager` and could be implemented using `MockConnector`.

[2020-03-08 22:18] findepi commented on #3007
@electrum can you comment on the proposed syntax?

[2020-03-09 00:54] electrum commented on #3007
The Oracle syntax seems fine. The day should be matched case insensitive. The returned date is the next day after the provided date or timestamp (important when the date is already that day of the week).

One thought is that the day argument will usually be static, so we could have fixed variants like `next_sunday`. These would be faster (at least until we support specialization based on constant

[2020-03-09 05:31] rishabhmurarka7 commented on #3007
@fornaix you can submit the PR if you are done working on this issue.

[2020-03-09 05:34] rishabhmurarka7 commented on #3007
@electrum so you mean we can have have 7 variants of the the function `next_day` with just one parameter instead of having same function with 2 parameters in the form of date and day of the week.

[2020-03-09 07:34] electrum commented on #3007
We can start with the `next_day` function, but consider later adding the 7 variants for fixed data.

[2020-03-09 08:13] wlichina111 commented on #2963
Hi JellyMing, kokosing, Praveen2112,

I also reproduced this issue in 328. This issue seems not due to #2253, since the issue is not gone after revert the patch.

Compared to 323, I also notice one patch(#f9e1 Remove TableLayout API from Kudu Connector) remove tableLayout way in kudu connector and seems causing this issue. After revert it, the issue is gone.

Seems #f9e1 remove some deprecated fun

[2020-03-09 08:16] wlichina111 commented on #2963
seems the issue easily happens in subclause case like:

[2020-03-09 08:18] wlichina111 commented on #2963
seems the issue easily happens when has subQuery like:
`select uid,order_no from kudu.t1.test1 where order_no not in ( select 'a2' a union select 'a3' a);`

[2020-03-09 09:13] AbhishekNew opened #3039 "show functions like <pattern> not giving result as expected."
presto Version: 327
Hive show functions result:
hive> show functions like "a*";
OK
abs
acos
add_months
aes_decrypt
aes_encrypt
and
array
array_contains
ascii
asin
assert_true
atan
avg
presto show functions result
presto:default> show functions like 'a*';
 Function | Return Type | Argument Types | Function Type | Deterministic | Description
----------+-------------+----------------+---------------+

[2020-03-09 09:36] ebyhr commented on #3039
The right pattern in Presto is `%` (≠`*`).

[2020-03-09 11:00] kokosing commented on #2880
[code]
#2673

[2020-03-09 11:06] AbhishekNew commented on #3039
With % and _ it works fine.

[2020-03-09 11:06] #3039 closed

[2020-03-09 11:14] AbhishekNew opened #3040 "CLI rarely returns duplicated rows when executed SHOW FUNCTIONS"
As discussed offline @ebyhr
The Presto version is 327 and this issue happened only once.
SSH client is SuperPuTTy on Windows and connects to the remote Presto server.

Steps:
[code]

There are 3 `abs` rows having `decimal(p, s)` Retrun Type.
![Show Functions10](https://user-images.githubusercontent.com/51321459/76208121-10007980-6225-11ea-8b77-36fa03a7b124.PNG)
![Show Function7](https://user-image

[2020-03-09 11:19] kokosing commented on #2974
Yes, this sounds like the best idea here. Please do the research and see how other databases are doing this. Is this something specified in ANSI SQL? (cc: @martint )

[2020-03-09 13:04] alexey-fin commented on #3036
@tooptoop4 i tried pageIndex compact, i will try the page compact as well

[2020-03-09 13:07] alexey-fin commented on #3036
It's in master so yeah, didn't help unfortunately

[2020-03-09 13:20] mit012 commented on #2987
@ebyhr ebyhr/ranger@5f01488 with same changes in file ranger/ranger-presto-plugin-shim/src/main/java/org/apache/ranger/authorization/presto/authorizer/RangerSystemAccessControl.java resolved the issue.

But we are facing some another issue
1. query: describe tablename
error: io.prestosql.spi.security.AccessDeniedException: Access Denied: Cannot show columns of table tablename

2. When we create a

[2020-03-09 13:21] findepi commented on #2880
[code]

https://github.com/prestosql/presto/pull/3008

[2020-03-09 13:39] ebyhr commented on #2987
@mit012 What Presto version are you using?

[2020-03-09 14:30] findepi commented on #2880
[code]

https://github.com/prestosql/presto/pull/3023

[2020-03-09 14:53] findepi opened #3042 "Client Protocol v2"
https://github.com/prestosql/presto/wiki/Presto-v2-client-protocol

[2020-03-09 15:28] tooptoop4 commented on #2987
@mit012 "same changes" - did u make different changes than just what was in ebyhrs PR? Also did you ever get access working before for groups? as it only works if u add local linux user/groups

[2020-03-09 18:14] ddrinka commented on #3027
I had a similar question in Slack.  Here's the thread: https://prestosql.slack.com/archives/CFLB9AMBN/p1583555264421900

The answer is that this should be resolved when the full extent of dynamic filtering has been delivered.  See specifically https://github.com/prestosql/presto/pull/1072

[2020-03-09 20:17] lhofhansl commented on #2974
Here's the relavant part of the SQL (2003) standard:
[code]
There's no standard for SHOW that I could find.

[2020-03-09 20:19] lhofhansl commented on #2974
This is what @martint suggested
```CREATE SCHEMA <name> AUTHORIZATION <owner>```

[2020-03-09 20:34] #2614 closed

[2020-03-09 20:37] electrum commented on #2614
@peterulsteen According to that page, it's also available in version 1.11.704 of the SDK. @tooptoop4 do you want to try updating to the current latest, 1.11.739?

[2020-03-09 20:43] electrum commented on #2699
We should name the connection parameter `source`, since that reflects the Presto naming, and matches the CLI. We only use `ApplicationName` for client info properties since that's the standard JDBC name

[2020-03-09 21:42] mosabua commented on #2699
Currently we support ApplicationNamePrefix in the JDBC driver, but we do not support the standard ApplicationName. In the CLI we support ClientTags but not in the JDBC driver.

Ideally we support a consistent set for both tools, any other driver or client tool and then also support those in the resource groups. I am not sure what the set should be however.

[2020-03-09 22:55] electrum commented on #2699
The driver now supports client tags.

There is a difference between client info and connections parameters. We support `ApplicationName` as a client info property and `ApplicationNamePrefix` as a connection parameter as a modifier for the client info property.

There is no such thing as a standard connection parameter, other than user and password.

[2020-03-09 23:57] electrum opened #3045 "Support 'source' connection parameter for JDBC driver"
The driver currently allows setting the source name programmatically via `Connection.setClientInfo("ApplicationName")`. It also allows appending a prefix to this via the `applicationNamePrefix` connection parameter. If the prefix is specified but application does not set `ApplicationName`, the source will be the prefix. Thus, the prefix can be used to set source, but this is convoluted and confusi

[2020-03-09 23:58] electrum commented on #2699
Per our offline conversion, I created #3045 to summarize what needs to be done.

[2020-03-09 23:58] #2699 closed

[2020-03-10 01:54] Svti opened #3046 "java.lang.UnsupportedOperationException: io.prestosql.spi.type.VarcharType"
java.lang.UnsupportedOperationException: io.prestosql.spi.type.VarcharType
	at io.prestosql.spi.type.AbstractType.writeLong(AbstractType.java:111)
	at io.prestosql.parquet.reader.IntColumnReader.readValue(IntColumnReader.java:32)
	at io.prestosql.parquet.reader.PrimitiveColumnReader.lambda$readValues$1(PrimitiveColumnReader.java:182)
	at io.prestosql.parquet.reader.PrimitiveColumnReader.processVal

[2020-03-10 01:54] Svti opened #3047 "-"
java.lang.UnsupportedOperationException: io.prestosql.spi.type.VarcharType
	at io.prestosql.spi.type.AbstractType.writeLong(AbstractType.java:111)
	at io.prestosql.parquet.reader.IntColumnReader.readValue(IntColumnReader.java:32)
	at io.prestosql.parquet.reader.PrimitiveColumnReader.lambda$readValues$1(PrimitiveColumnReader.java:182)
	at io.prestosql.parquet.reader.PrimitiveColumnReader.processVal

[2020-03-10 02:04] #3047 closed

[2020-03-10 04:17] tooptoop4 commented on #3046
@Svti pls share the table ddl and query being run that received the error

[2020-03-10 04:19] ebyhr opened #3049 "Flaky maven checks due to connection timeout"
https://github.com/prestosql/presto/runs/494862433
https://github.com/prestosql/presto/runs/496219090
https://github.com/prestosql/presto/actions/runs/52467359

[2020-03-10 06:40] shandeep00 commented on #2379
Hi @findepi
I would like to work on this, can you please assign me.

[2020-03-10 06:48] dmichal opened #3050 "Optimize 'SELECT ... ORDER BY partition LIMIT ...' query"
Hello,
I have noticed that when executing a query like 'SELECT ... ORDER BY p LIMIT N' against a Hive table partitioned by 'p' Presto searches all the input partitions. Maybe this type of queries could be optimized by searching partitions in the right order and skipping all the remaining splits once N matching rows are found?

[2020-03-10 07:33] findepi commented on #3007
@electrum are we done with `syntax-needs-review`?

[2020-03-10 07:34] findepi commented on #2379
@electrum can you review the proposed syntax?

[2020-03-10 07:36] findepi commented on #3049
We probably need a kind of a retry. But we also need timeouts. At least once, i saw a build that failed after long time trying to download something, looking like dead connection instead of fail fast.

[2020-03-10 07:37] findepi commented on #3046
@Svti do you have `hive.parquet.use-column-names=true` in `hive.properties`? If not, can you try with this?

[2020-03-10 08:09] kokosing commented on #3046
@Svti If the Piotr's suggestion does not work, please check if this patch helps: https://github.com/prestosql/presto/pull/2933. It also requires to configure `hive.partition-schema-evolution=BY_NAME` in `hive.properties`

[2020-03-10 08:18] kokosing commented on #2974
👍

Are you going to the same for tables?

[2020-03-10 08:19] #2625 closed

[2020-03-10 08:22] kokosing opened #3052 "Add ALTER TABLE SET AUTHORIZATION"
This is syntax allows to change the owner of the table object. It might be particularly useful for views, where privileges of owner are used to execute the query.

Related issues:
 - https://github.com/prestosql/presto/issues/2625
 - https://github.com/prestosql/presto/issues/2974

CC: @lhofhansl

[2020-03-10 10:42] sopel39 commented on #3036
Could you share query JSON?

[2020-03-10 12:25] findepi opened #3058 "Flaky test TestRowNumberOperator, TestRowOperators"

[2020-03-10 12:25] findepi commented on #3058
https://github.com/prestosql/presto/pull/3056/checks?check_run_id=497446197

[code]

-- this is the tail, but the errors start earlier. I didn't investigate where exactly.

[2020-03-10 12:30] findepi commented on #3058
That's intersting point in the log (leading timestamps truncated)
[code]

-- we start shutting down (`Life cycle stopping`) because of startup failure (`Life cycle starting`), but we do not say why.
Then, the log is full of numerous exceptions which look like side-effects of failed startup.
But I don't see the actual failure.

@electrum am i reading this correctly?

[2020-03-10 12:56] findepi commented on #2797
https://github.com/prestosql/presto/runs/497446247

[2020-03-10 16:10] grantatspothero commented on #1751
+1 this would be a nice feature.

Example from my job:
- Service team is publishing AVRO data to kafka
- Kafka AVRO data is pushed to blob storage and registered with the hive metastore
- People try querying the data with Presto only to discover many fields are not usable because avro UNION types were used
- Going back and telling the upstream service team to re-build their schema to not use union

[2020-03-10 16:51] findepi commented on #3049
https://github.com/prestosql/presto/runs/498096192?check_suite_focus=true

[2020-03-10 16:51] findepi commented on #3049
https://github.com/prestosql/presto/runs/498096192?check_suite_focus=true

[code]

[2020-03-10 18:04] lhofhansl commented on #3052
I don't think that is needed, since access to tables is controlled by GRANT/REVOKE.

[2020-03-10 20:40] findepi commented on #3049
https://github.com/prestosql/presto/runs/498455602?check_suite_focus=true

[2020-03-10 22:31] martint opened #3063 "Access control for views does not match SQL specification"
According to the SQL specification, at the time a view is created,

[code]

and

[code]

Also,

[code]

This, effectively implies that when a user creates a view (i.e., the authorization identifier associated with the schema), only the creator can select from the view. Moreover, they can only grant SELECT privileges to other users/roles only if they have grantable SELECT privileges on the underlyi

[2020-03-11 05:25] mit012 commented on #2987
@ebyhr We are using presto version 323.
@tooptoop4 yes we have changes in ranger/ranger-presto-plugin-shim/src/main/java/org/apache/ranger/authorization/presto/authorizer/RangerSystemAccessControl.java also (replaced Identity with SystemSecurityContext).
We do not have access for groups before also.

[2020-03-11 07:35] findepi commented on #2995
https://github.com/prestosql/presto/runs/498530531

-- easy to reproduce. Just run `presto-main` test on CI 100 times. Don't know how to repro locally.

[2020-03-11 08:29] kokosing commented on #3052
I see. However, I was considering this for views specifically. Notice that when user executes views, he access tables (or other views) beneath only when view owner has grantable privileges to these tables. Also this might affect what column masks and row filters will be applied.

@martint WDYT?

[2020-03-11 09:07] ajantha-bhat commented on #1545
@brucemen711 : Hi, I have worked on carbondata connector support prestosql 330.

Take the latest carbondata master open source code and cherry-pick the below PR and test it out.

https://github.com/apache/carbondata/pull/3662

[2020-03-11 09:13] brucemen711 commented on #1545
Hi @ajantha-bhat ,
i will try and feedback.
Thanks.

[2020-03-11 09:58] #2996 closed

[2020-03-11 09:59] sopel39 commented on #2880
[code]
https://github.com/prestosql/presto/pull/3024

[2020-03-11 11:36] kokosing commented on #3063
I think in such cases DB can reject to revoke or change to non-grantable, because there objects that depends on it.

I think so. Presto we doesn't control everything and privileges could be changed outside of Presto. Notice that Presto Hive view is not the Hive, and this might be the same for any other connector. Also there are cases where access control is detached from metadata catalog. So we ne

[2020-03-11 12:59] findepi opened #3069 "Flaky test TestWebUi.testWorkerResource"
[code]

[2020-03-11 12:59] findepi commented on #3069
https://github.com/findepi/presto/runs/500448395

[2020-03-11 16:23] electrum commented on #2880
[code]
#2719

[2020-03-11 16:25] electrum commented on #2880
[code]
#2770

[2020-03-11 16:26] electrum commented on #2880
[code]
#2532

[2020-03-11 16:29] electrum commented on #2880
[code]
#2956

[2020-03-11 20:08] #2995 closed

[2020-03-12 08:10] findepi commented on #576
Presto 331 (pending release) can read from Hive transactional/ORC ACID tables.

The outstanding things are:
* Support ORC ACID with base in raw format (#2292)
* Support reading ACID/Transactional tables with "original files" (#2293)
* Writes to ACID/Transactional tables (#1956)

All the above is tracked by the Hive 3 umbrella issue https://github.com/prestosql/presto/issues/1218

[2020-03-12 08:10] #576 closed

[2020-03-12 08:26] findepi commented on #2880
[code]

https://github.com/prestosql/presto/pull/2977

[2020-03-12 08:26] #2961 closed

[2020-03-12 10:08] findepi opened #3079 "current_date in docs is shown with braces"
https://prestosql.io/docs/current/functions/datetime.html#current_date:

but in SQL this must be used without braces:

[code]

Same applies to other `current_*` functions.

[2020-03-12 10:36] kfirt commented on #3036
we are using version 326.

[2020-03-12 12:31] findepi opened #3082 "Mongo connector does not drop table/collection"
* `MongoQueryRunner.main()`
* ```
  use mongo.local;
  create table y(a bigint);
  show tables;
  drop table y;
  show tables;
[code]

[2020-03-12 13:38] ebyhr commented on #3082
This method is the root cause. MongoDB CREATE TABLE doesn't create a collection `mongo.local.y`, but it saves the metadata to `_schema`.
https://github.com/prestosql/presto/blob/3966b40ba11382f9ef7c706bdb8afd853f9b2b43/presto-mongodb/src/main/java/io/prestosql/plugin/mongodb/MongoSession.java#L449-L463

[2020-03-13 21:14] findepi commented on #3049
https://github.com/prestosql/presto/runs/503476650

[2020-03-13 23:54] #2908 closed

[2020-03-14 01:12] timflannagan1 commented on #1132
Can this be closed now that #3016 has been merged?

[2020-03-14 05:46] ebyhr commented on #3079
The page has this note ([session](https://prestosql.io/docs/current/functions/session.html) is also the same), but many people might miss it unless scrolling.
<img width="1057" alt="Screen Shot 2020-03-14 at 14 41 42" src="https://user-images.githubusercontent.com/6237050/76675937-11a1b700-6602-11ea-8103-782091f244ca.png">

[2020-03-14 08:47] tooptoop4 commented on #1132
@timflannagan1 it has not been included in 331 release notes

[2020-03-14 14:18] bolkedebruin opened #3093 "Deprecated checkCanSetUser is still required in implementing plugins"
While updating the Presto Ranger plugin I found that checkCanSetUser() is still required although it is mentioned as being deprecated and to use checkCanImpersonateUser(). I interpret deprecated as "don't use anymore"

```DEBUG	dispatcher-query-0	io.prestosql.security.AccessControl	Invocation of checkCanSetUser(principal=Optional.empty, userName='bolke') succeeded in 363.19us```

[2020-03-14 16:57] #2889 closed

[2020-03-14 17:01] findepi commented on #3093
it's still called (to maintain backwards compatibility), but is not required.
https://github.com/prestosql/presto/blob/91d96a56447429f7b3c0e66116445a6be87ea17c/presto-spi/src/main/java/io/prestosql/spi/security/SystemAccessControl.java#L77

[2020-03-14 17:18] #2837 closed

[2020-03-14 17:30] bolkedebruin commented on #3093
If i dont implement it with a “just pass” it will always throw access denied

[2020-03-14 18:43] electrum commented on #3093
Yeah, you need to implement one of them to do the checks, and the other should do nothing.

[2020-03-14 18:44] bolkedebruin commented on #3093
But isnt that contrary to what deprecated means? “Only if present it will be executed and you should move away from it”

[2020-03-14 22:17] findepi commented on #3049
Apparently maven checks with Java 11, 13 are much more prone to fail -- https://github.com/prestosql/presto/runs/508208632

[2020-03-14 22:30] findepi commented on #3049
For maven checks sake, I added `retry` some time ago (https://github.com/prestosql/presto/commit/1c10cc121b900193d113b644d9902b1f1cf5cb26).
It's ineffective now, because `retry` has time limit of 10 minutes, and build fails after 20 (with sample timing out download taking ~15 minutes (980 seconds) to time out).

[2020-03-15 10:35] ebyhr commented on #2987
@mit012 Added one more commit https://github.com/ebyhr/ranger/commit/841a4d59b4402496edc167180dec8ae55459c4bb to use version 323. Could you try again?

[2020-03-15 12:44] tooptoop4 opened #3103 "feature req- ability to set max concurrent queries against a single catalog"
presto can connect to many different catalogs ie sqlserver, hive, mysql.etc. While hive might be fine with 100s of concurrent connections to it, some small sqlserver might not. If there are 80 concurrent queries (I know each query only makes one connection to the legacy db but there could be many different queries originating from presto running at same time) against a sqlserver it could overload

[2020-03-15 18:43] dain commented on #3093
Backwards compatibility is complex, and in this case this was the best decision we could come up with.

[2020-03-15 21:58] findepi commented on #2797
https://github.com/prestosql/presto/runs/509609926

[2020-03-15 21:58] #3049 closed

[2020-03-16 07:45] RosterIn commented on #2379
thank you @shandeep00
I really do think this is a valuable feature.

[2020-03-16 08:07] #1781 closed

[2020-03-16 09:23] D-YuLin opened #3108 "Phoenix Date Time TIMESTAMP"
The date or time type is set in Phoenix. The complete timestamp is displayed in Phoenix, but only the year, month, day (hour), and minute (second) are displayed in presto, and the TIMESTAMP in Phoenix is not recognized in presto。

[2020-03-16 09:49] amiorin commented on #3052
We need this feature at Zalando. Hive 3 supports [OWNER_TYPE](https://github.com/apache/hive/blob/632ce66cd4d6faafa50cb1d5dbda6a09f724d440/standalone-metastore/metastore-server/src/main/sql/mysql/hive-schema-3.0.0.mysql.sql#L622) for table. This is useful for teams so that anybody can drop tables. The view authorization use case like @kokosing said applies to us too.

[2020-03-16 11:08] findepi commented on #2880
[code]

https://github.com/prestosql/presto/issues/1781
https://github.com/prestosql/presto/pull/3053

[2020-03-16 12:36] alexey-fin commented on #3036
@sopel39 yes #2612 is inside, what do you mean query JSON sorry?

[2020-03-16 14:12] tooptoop4 commented on #3036
on webui click your queryid then on far right json tab

[2020-03-16 14:34] alexey-fin commented on #3036
that's one from a failed run:
{
  "queryId" : "20200316_143152_00013_fbfw4",
  "session" : {
    "queryId" : "20200316_143152_00013_fbfw4",
    "transactionId" : "ddbaac3f-cd10-4a44-bf9a-8bdbff520516",
    "clientTransactionSupport" : true,
    "user" : "test",
    "source" : "presto-jdbc",
    "catalog" : "hive",
    "schema" : "default",
    "path" : { },
    "timeZoneKey" : 1946,
    "locale" :

[2020-03-16 14:35] alexey-fin commented on #3036
@tooptoop4 i can also increase the memory so it will finish and add a json of that run, should i?

[2020-03-16 14:45] sopel39 commented on #3036
Hi @alexey-fin

Do you have some Presto modifications? The Presto version from stack trace shows:
[code]

[2020-03-16 14:48] sopel39 commented on #3036
Could you share `EXPLAIN`

[2020-03-16 14:49] alexey-fin commented on #3036
@sopel39 no modifications, just reproducing it locally for simplicity, master, attaching the explain, can also make an explain plan :
Output[salesforce_contact_id, email_id, campaign_id, sfmc_activity_id, campaign_name, sfmc_activity_type, sfmc_activity_sub_type, day, is_delivered, is_open, is_inferred_open, total_opens, is_link_clicked, is_hard_bounce, is_bounce, is_opt_out, is_sent, gl_lob, regi

[2020-03-16 14:51] alexey-fin commented on #3036
[code]

[2020-03-16 14:51] alexey-fin commented on #3036
No modifications, just reproducing it locally from master for simplicity

[2020-03-16 15:25] ddrinka commented on #2296
@electrum Anything I can do on the PR to get this in the next release?  I'm not able to run with bucketed sorting at all without this change.

[2020-03-16 17:21] #2880 closed

[2020-03-16 18:05] #2757 closed

[2020-03-16 18:08] mosabua commented on #2623
I reopened and left assigned to me for now. Once the new docs are published I will remove the content on the wiki page and replace it with a link to the docs. Going forward we will expand that jmx page as well.

[2020-03-16 18:09] #2352 closed

[2020-03-16 18:10] #2344 closed

[2020-03-16 18:14] same3r commented on #2349
Hey, sorry for the delay in response. I have forwarded the issue to the concerned team to provide an ETA on the fix.

[2020-03-16 19:53] electrum opened #3112 "Predicate not created in PushPredicateIntoTableScan"
The `Constraint` object passed to `applyFilter()` from `PushPredicateIntoTableScan` never contains a predicate. This is intentional behavior, but I don't understand why, and it causes suboptimal pushdown.

[2020-03-16 19:54] jiegzhan opened #3113 "Query spans only 2 partitions, but failed with more than 30 partitions limit"
Hello, my hive external table partitioned by date_key, one user sent me a query which says Query over table 'fact_voice_logs' can potentially read more than 30 partitions , but the query only spans 2 days .

[code]
I dropped cast as date part and it worked.
[code]
You guys saw this before? Thanks for your input.

[2020-03-16 19:56] jiegzhan commented on #3113
![Screen Shot 2020-03-16 at 12 56 13 PM](https://user-images.githubusercontent.com/10664626/76795044-8cdfa600-6785-11ea-8679-988a351b32ab.png)

[2020-03-16 19:57] jiegzhan commented on #3112
![Screen Shot 2020-03-16 at 12 56 13 PM](https://user-images.githubusercontent.com/10664626/76795093-a08b0c80-6785-11ea-8e43-fbb7d137ca8b.png)

[2020-03-16 19:59] electrum commented on #3113
Duplicate of #3112

[2020-03-16 19:59] #3113 closed

[2020-03-16 22:05] martint opened #3114 "Release notes for 332"
## Dain Sundstrom
- [x] all checked
-  03-18 11:29:26    540e14c7f1 Rubix integration
-  03-25 12:00:53    08cc9b08a8 Rename Hive caching configuration properties
-  03-25 12:00:53    bbdc22be7d Only bind Rubix config when caching is enabled
-  03-26 07:37:33    94057fad64 Add default implementation for Type object methods to slice methods
-  03-26 07:37:33    fca1b86976 Simplify aggregation compi

[2020-03-17 00:19] tooptoop4 opened #3115 "LDAP auth with ldap.ignore-referrals=true and ldap.group-auth-pattern not working"
maybe related to https://github.com/prestosql/presto/issues/2980 and https://github.com/prestosql/presto/issues/2667

Scenarios:
1.
ldap.ignore-referrals=false or ldap.ignore-referrals not specified
ldap.group-auth-pattern= has multiple memberOf conditions along the lines of .... ldap.group-auth-pattern=(&(sAMAccountName=${USER})(|(memberof .....

outcome:
**Sometimes** it takes 2-3mins for authen

[2020-03-17 00:20] tooptoop4 commented on #3115
faced this issue on 331

[2020-03-17 00:33] JamesRTaylor opened #3116 "Make Parquet changes related to #1720"
The ORC related pushdown changes were made in [this](https://github.com/phd3/presto-1/commit/229dcfdb0947d0e80a9f201e57ded403464806aa) commit. The following equivalent Parquet changes also are needed to get the full perf benefit from the changes for #1720:

1. In ParquetPageSourceFactotry::createPageSource , we extract sufficient columns (to exclude overlap) for pushdown instead of base columns. F

[2020-03-17 01:47] tooptoop4 opened #3117 "./bin/launcher restart hangs 2nd time"
using 331 is it expected that './bin/launcher restart' hangs 2nd time? only way to get it to restart is doing kill -9 on the pid first

martin  11 minutes ago
No, that’s not expected. That probably means Presto itself is not shutting down cleanly. Can you get a thread dump of the Presto process after you issue the restart?

[2020-03-17 10:08] kokosing opened #3121 "Unable to run singlenode-hdp3 product tests due lack of space"
[code]

This fails for:
[code]

[2020-03-17 10:12] kokosing commented on #3121
Please also see: https://github.com/prestosql/presto/pull/3084#issuecomment-599793302

[2020-03-17 10:33] sopel39 commented on #3117
What do you mean by hangs? How long do you wait? What is your `shutdown.grace-period` setting?

[2020-03-17 10:36] findepi commented on #3112
This is a historical decision. The `Constraint#predicate` may be expensive to evaluate (interpret), eg. when it contains large IN conditions.
For this reason, it was/is passed in `AddExchanges` but not in the rule.

#### Proposed solution

- measure time it takes to evaluate `Constraint#predicate` (and maybe its effectiveness)
- when time it long, fallback to always true (maybe when effectiveness

[2020-03-17 10:53] sopel39 commented on #3036
Could you try with `pages-index.eager-compaction-enabled=true`?

[2020-03-17 11:00] alexey-fin commented on #3036
@sopel39 yep, running with on, no effect unfortunately

[2020-03-17 12:21] findepi commented on #2349
(I removed `correctness` and `bug` labels, because the bug is fixed from Presto perspective.)

[2020-03-17 12:21] findepi commented on #2475
(I removed `correctness` and `bug` labels, because the bug is fixed from Presto perspective.)

[2020-03-17 13:19] tooptoop4 commented on #3117
command stays in progress more than 5mins, I quit the command. previous versions would have the command work in 2 seconds

[2020-03-17 13:24] ebyhr commented on #3117
I couldn't reproduce this issue. Can you reproduce it always?

[2020-03-17 16:09] tooptoop4 commented on #3117
everytime

[2020-03-17 16:31] findepi commented on #3114
[code]

https://github.com/prestosql/presto/pull/3089

[2020-03-17 16:41] #3121 closed

[2020-03-17 19:44] davidrabinowitz opened #3131 "BigQuery connector takes the parent project id from the environment"
The BigQuery connector should take the parent project id from the configuration rather than from the environment (`BigQueryOptions.getDefaultInstance().getProjectId()`)

[2020-03-17 21:15] tooptoop4 commented on #1173
in future could have a v1/ endpoint exposing the health (ie up/down) of each catalog

[2020-03-17 22:25] tooptoop4 commented on #2980
@us3r see if https://github.com/prestosql/presto/pull/3132 helps

[2020-03-18 00:56] ebyhr commented on #3117
@tooptoop4 I hope you will share more information, thread dump, properties, server log and so on.

[2020-03-18 03:29] ebyhr opened #3134 "Add support for MongoDB Database References"
* Stackoverflow: https://stackoverflow.com/questions/60713849
* MongoDB referece: https://docs.mongodb.com/manual/reference/database-references/

[code]

[2020-03-18 10:14] sopel39 commented on #3036
@alexey-fin `OrderBy` operator is pretty trivial in memory accounting.
* Are you running the query locally?
* Can you reproduce with TPCH/TPC-DS schema?

[2020-03-18 12:18] alexey-fin commented on #3036
1) yes, reproduced locally following failures in production
2) select * from (
select * from tpch.sf100000.part limit 200000000
) order by random()
works ok, peak memory 30gb and similar heap consumption

[2020-03-18 12:18] alexey-fin commented on #3036
@sopel39

[2020-03-18 13:38] #2107 closed

[2020-03-18 13:41] kokosing commented on #3114
[code]

#2665

[2020-03-18 17:51] bolkedebruin commented on #2987
https://issues.apache.org/jira/browse/RANGER-2754 has an attached patch that supports Presto 331 and includes Row filtering, Column Masking and Presto groups support. Note that you will need to upgrade your service definitions.

[2020-03-18 18:45] tooptoop4 commented on #3117
below you can see it takes over a minute from 18:34:05 to 18:35:11

snippet of the server log:

2020-03-18T18:34:04.924Z	DEBUG	dispatcher-query-12	io.prestosql.execution.QueryStateMachine	Query 20200318_183404_00059_a85qi is FINISHED
2020-03-18T18:34:04.935Z	INFO	dispatcher-query-12	io.prestosql.event.QueryMonitor	TIMELINE: Query 20200318_183404_00059_a85qi :: Transaction:[346bd718-848e-442f-87e0-

[2020-03-18 18:45] tooptoop4 commented on #3117
thread dump:
[jstack.txt](https://github.com/prestosql/presto/files/4350768/jstack.txt)

[2020-03-18 21:14] ayushbilala commented on #2621
Thanks for adding the fix @sopel39.

[2020-03-18 21:14] #2621 closed

[2020-03-19 03:02] chhsiao90 opened #3145 "Elasticsearch returns 'null' if the column name contains uppercase"
minimum reproducible code:

[code]

The root cause is that the `ColumnMetadata` (see [ColumnMetadata](https://github.com/prestosql/presto/blob/331/presto-spi/src/main/java/io/prestosql/spi/connector/ColumnMetadata.java#L92)) transform the field name to lower case, and the lower case field name was used for calling the elasticsearch search api (see [ElasticsearchClient](https://github.com/prestosql

[2020-03-19 03:20] Praveen2112 commented on #2963
@wlichina111 You were right. When we moved to the new TableLayout API for kudu connector, the project pushdown - `applyProject` didn't capture the exact desired set of columns to be scanned for queries involving `ApplyNode` and `CorrelatedJoinNode` so I guess it was failing for you. These are being resolved in #2843 and #2654. The latter was merged recently to the master branch so can you test it

[2020-03-19 04:24] chhsiao90 opened #3146 "Elasticsearch geo point datatype support"
Currently, it looks like the ES connector only supports geo_point type with format `{ "lat": 10, "lon": 10}`.

According to [Geo-point datatype](https://www.elastic.co/guide/en/elasticsearch/reference/current/geo-point.html), we should support other valid format geo_point type.

*unit test*
[code]

[2020-03-19 04:30] chhsiao90 opened #3147 "Elasticsearch numeric keyword type"
Currently, ES connector treat keyword type as VARCHAR type (see [ElasticsearchMetadata](https://github.com/prestosql/presto/blob/331/presto-elasticsearch/src/main/java/io/prestosql/elasticsearch/ElasticsearchMetadata.java#L200-L201), and use [VarcharDecoder](https://github.com/prestosql/presto/blob/331/presto-elasticsearch/src/main/java/io/prestosql/elasticsearch/decoders/VarcharDecoder.java) to d

[2020-03-19 07:16] tooptoop4 opened #3149 "'Equi criteria are empty, so INNER join should not have PARTITIONED distribution type' error"
While testing some queries previous to upgrading to Presto 331 we’ve gotten this error in some of our queries `Equi criteria are empty, so INNER join should not have PARTITIONED distribution type`

[code]

[2020-03-19 08:44] kokosing commented on #3114
[code]
 #3128

[2020-03-19 08:50] mit012 commented on #2987
@ebyhr Yes its working

[2020-03-19 09:17] #2318 closed

[2020-03-19 09:27] findepi commented on #3114
[code]

https://github.com/prestosql/presto/pull/3126

[2020-03-19 09:28] dephusluke opened #3153 "day_of_week add ability to retrun result by string"
The function returns number 1 for Monday etc..
This is good for calculations but I find myself many times need to add code to map it to strings for display.

Could there be something like `day_of_week(x, mode='num')`
num is the default where it will preserve the current behavior.
but it will also be possible to set `mode='string'`
In that case the func will return result as: `Sun,Mon, `etc..

[2020-03-19 09:28] Svti opened #3154 "java.lang.IllegalArgumentException: Final aggregation with default value not separated from partial aggregation by remote hash exchange"
[code]

[2020-03-19 09:28] Svti commented on #3154
SELECT 1
    ,CASE WHEN a.grouping_id > 0 THEN '-' ELSE CAST(a.dt AS varchar) END AS dt
    ,a.grouping_id AS debug
    ,a.dnd AS dnd
    ,a.dnu AS dnu
    ,a.dau AS dau
    ,a.dar AS dar
    FROM (
    SELECT COUNT(DISTINCT(newdid)) AS dnd
        ,COUNT(DISTINCT(newuid)) AS dnu
        ,COUNT(DISTINCT(uid)) AS dau
        ,COUNT(DISTINCT(rid)) AS dar
        ,dt
        ,GROUPING(dt) AS grouping

[2020-03-19 09:32] Praveen2112 commented on #3154
Can you post the same query in #2716.

[2020-03-19 09:35] Praveen2112 commented on #3154
Is the table partitioned based on dt ?

[2020-03-19 09:38] Svti commented on #3154
The sql are different , but #2716   have already been solved  ( left join -> inner join).

the problems are same ?

[2020-03-19 09:38] Svti commented on #3154
@Praveen2112  yes

[2020-03-19 09:39] Praveen2112 commented on #3154
Actually both are same

[2020-03-19 09:43] Svti commented on #3154
How long will it take to fix it ？
@Praveen2112

[2020-03-19 10:04] tooptoop4 commented on #3154
@Svti can u share the query json from ui?

[2020-03-19 10:27] Praveen2112 commented on #3154
I'm working on it...I was able to recreate the same issue with this tpch query
[code]

The actual issue is when we try to have a grouping set based on a partitioned column, the `AddExchange` optimizer tries to skip adding the `ExchangeNode` which doesn't distribute the data for empty grouping set thus failing.. The workaround is to force add the `ExchangeNode` for it.. Working on that part

I gues

[2020-03-19 10:40] Praveen2112 commented on #3154
@Svti Can you share the plan you got when we run it without the empty grouping set ?

[2020-03-19 11:55] findepi commented on #3145
this should work correctly since https://github.com/prestosql/presto/commit/0300bd0c0655d38a3fc6d7659bf4463ad925c8b4

[2020-03-19 12:01] kokosing commented on #2299
Fixed with #3128

[2020-03-19 12:01] #2299 closed

[2020-03-19 13:08] findepi commented on #1977
https://github.com/prestosql/presto/runs/519051893

[2020-03-19 13:58] findepi commented on #3149
Repro steps:

[code]

[2020-03-19 14:30] findepi commented on #3149
i bisected this to `a5eb69529de6915e02d8a1ccd5cbf0a56a0b277b`. cc @sopel39

[2020-03-19 14:36] findepi commented on #3149
**Workaround**

Disable dynamic filtering, eg
[code]

[2020-03-19 16:44] dprophet commented on #2910
Would you recommend adding test for

https://github.com/bloomberg/comdb2

To this JDBC connector?

[2020-03-19 16:55] findepi opened #3161 "Flaky test io.prestosql.tests.hive.TestCsv"
[code]

[2020-03-19 17:52] #2730 closed

[2020-03-19 18:24] jasper-eb opened #3163 "HDFS Kerberos auth not using expected principal"
I'm currently working on migrating a presto setup from 0.205 to 330 and am noticing some unexpected behavior when connecting and pulling data from HDFS. I'm not entirely sure if it's a bug or intended, but it seems more like a bug to me. I'll briefly describe the environment below:

- Windows Active Directory realm joined with other realms
- Presto with kerberos authentication (Part of AD realm)
-

[2020-03-19 19:16] tooptoop4 commented on #2910
@dprophet did it work? pls write one :-)

[2020-03-19 23:13] electrum commented on #3163
Do you have multiple `krb5.conf` files on your machines? Are you configuring them for the main Presto server? It appears that the Hive connector relies on the value of the `java.security.krb5.conf` system property, but setting `http.authentication.krb5.config` for the main server will set that system property. I don't think this behavior has changed, but I'd like to rule out that you are using the

[2020-03-19 23:25] electrum commented on #3163
I have also not been able to find any related code changes or explanation for this behavior.

[2020-03-19 23:37] lhofhansl opened #3167 "Add SHOW PRINCIPALS for admin to see what roles were granted to users."
Apologies if I missed something.

A user can see all roles (s)he was granted, but there's no way I could find where an admin can see the membership of all roles or role assignments for all users. Neither through a SHOW command, nor via the information_schema.

An admin can create roles, assign roles to users, but has no way to see which roles were assigned to what user.

Is that intentional or sim

[2020-03-19 23:58] lhofhansl commented on #3167
Hive has: `SHOW PRINCIPALS role;`

[2020-03-20 00:02] lhofhansl opened #3168 "With SQLStandardAccessControl all users can see all schemas and all tables"
Even listing schemas and tables can reveal information.

It would be better if users can only see:
- schemas they own (either directly or by role)
- tables they have any access permission to (any of SELECT, INSERT, DELETE)

The methods are already present in SQLBaseAccessControl, they just need to be implemented.

Catalog access is handled outside of the Hive connector (file based system access co

[2020-03-20 00:06] lhofhansl commented on #3168
If people agree with the above, I'll do a PR.

[2020-03-20 00:46] chhsiao90 commented on #3145
Thanks! I will check master branch before I create the issue next time!

[2020-03-20 00:46] #3145 closed

[2020-03-20 01:37] electrum commented on #3168
This isn’t implemented because it’s very expensive, as the metastore has no bulk access for permission data. `SHOW TABLES` would have to do a fetch for each table.

Validating the schema is more doable as there are usually few schemas, plus users typically only access a single schema at a time.

[2020-03-20 01:52] Svti commented on #3154
@tooptoop4

{
  "queryId" : "20200320_014821_00109_zsbg8",
  "session" : {
    "queryId" : "20200320_014821_00109_zsbg8",
    "clientTransactionSupport" : true,
    "user" : "presto",
    "source" : "DataGrip 2019.2.5",
    "catalog" : "hive",
    "path" : { },
    "timeZoneKey" : 0,
    "locale" : "zh_CN_#Hans",
    "remoteUserAddress" : "172.16.248.233",
    "userAgent" : "Presto JDBC Driver/319

[2020-03-20 01:52] Svti commented on #3154
@tooptoop4

`{
  "queryId" : "20200320_014821_00109_zsbg8",
  "session" : {
    "queryId" : "20200320_014821_00109_zsbg8",
    "clientTransactionSupport" : true,
    "user" : "presto",
    "source" : "DataGrip 2019.2.5",
    "catalog" : "hive",
    "path" : { },
    "timeZoneKey" : 0,
    "locale" : "zh_CN_#Hans",
    "remoteUserAddress" : "...",
    "userAgent" : "Presto JDBC Driver/319",
    "cl

[2020-03-20 01:54] Svti commented on #3154
@Praveen2112

yes , if i run it  without the empty grouping set , it works ~

[2020-03-20 02:00] Terry93 commented on #1109
@sopel39 @findepi Gentle ping, can I have some opinions from you guys? Thanks!

[2020-03-20 02:08] Svti commented on #3154
@Praveen2112
we also found , when we query with ' COUNT(DISTINCT(..)) ' ,  then this issue happened.

when we query with ' COUNT() ' , 'SUM() '  , then it works.

[2020-03-20 02:12] ebyhr commented on #3153
We have `date_format` function supporting weekday name. Is it insufficient?
[code]

[2020-03-20 02:21] lhofhansl commented on #3168
I see. We could simplify this such you can't any tables if you do not have access to the schema. Then it's a schema check only in both cases.

[2020-03-20 03:31] Praveen2112 commented on #3154
Can you share the query plan( using explain ) for both the working cases?

[2020-03-20 03:45] sandeshh opened #3169 "java.lang.IndexOutOfBoundsException: with Presto 331"
[code]

[2020-03-20 04:15] ebyhr commented on #3169
Could you share the steps to reproduce?

[2020-03-20 04:19] sandeshh commented on #3169
We run 100s of jobs from Airflow to Presto cluster. So I don't have the exact steps. Basically we were running lots of queries. Failure was reported to Grafana, so I just grepped the log file for this.

We are using Java 11 (Corretto) with ZGC

[2020-03-20 05:46] Svti commented on #3154
@Praveen2112  the presto ui don't have query plan

[2020-03-20 05:47] Svti commented on #3154
`Output[_col0, dt, debug, dnd, dnu, dnr, dau, dar]
│   Layout: [expr_118:integer, expr_119:varchar, expr_90:integer, count:bigint, count_86:bigint, count_87:bigint, count_88:bigint, count_89:bigint]
│   Estimates: {rows: ? (?), cpu: ?, memory: ?, network: ?}
│   _col0 := expr_118
│   dt := expr_119
│   debug := expr_90
│   dnd := count
│   dnu := count_86
│   dnr := count_87
│   dau := count_88
│

[2020-03-20 05:48] Praveen2112 commented on #3154
How about sharing the plan created by running explain query in CLI ?

[2020-03-20 05:51] Svti commented on #3154
@Praveen2112   the  error query (using  grouping set( () (dt) ) don't have no  explain message in CLI

[2020-03-20 05:53] Praveen2112 commented on #3154
No I meant the query plan for query which doesn’t throw any error. The query without empty grouping set and the query which doesn’t have count(distinct())

[2020-03-20 06:04] ebyhr commented on #3169
Have you ever used the past version or is it the first version in your environment?

[2020-03-20 06:10] sandeshh commented on #3169
We use Presto on the AWS with blue-green setup. So every new rollout happens on the new boxes and the old boxes gets killed. We were using 318 with Java 8, in which query would fail because of the GC pauses. That's why we went with new setup.

[2020-03-20 06:17] lhofhansl commented on #3168
Just this?

[code]
Note: I haven't tried, this is for demonstration what I mean.

[2020-03-20 06:44] findepi commented on #3169
@sandeshh the exception:
[code]

can show up in the logs when query is killed and the Join's Build side is cleaned up before the Join's Probe side.
(the cleanup is asynchronous, and we won't change this; the cleanup must be robust)

Is this your case?
Or did you observe a query failure with the above exception?

[2020-03-20 08:08] fly0512 opened #3170 "Result fields are misaligned when using subqueries with Kudu connector"
--- this is a fact table
 CREATE TABLE kudu.test.test_fact (
    id varchar WITH ( primary_key = true ),
    grade varchar WITH ( primary_key = true ),
    score varchar WITH ( nullable = true ),
    name varchar WITH ( nullable = true ),
    age varchar WITH ( nullable = true ),
    school varchar WITH ( nullable = true ),
	teacher varchar WITH ( nullable = true ),
	update_time varchar WITH ( nul

[2020-03-20 08:58] mozhou1991 commented on #3170
This is a problem at kudu

[2020-03-20 09:16] kokosing commented on #3167
I think it is missing. What ANSI SQL says about this? I guess there is some table defined in information_schema.

[2020-03-20 09:38] fly0512 commented on #3170
Also in the kudu release, presto 324 does not have this problem.

[2020-03-20 10:13] findepi opened #3171 "Allow CREATE TABLE LIKE across catalogs"
Consider a case when I have dataset residing in storage layer and I know it's the same schema as some other dataset (e.g. TPCH).
I would like to conveniently create tables for my data:

[code]

However, currently this fails:
[code]

-- this seems like a reasonable limitation when `INCLUDING PROPERTIES` is used, but not otherwise.

[2020-03-20 10:16] sopel39 commented on #3169
@sandeshh Do you have spill enabled?

[2020-03-20 10:19] findepi opened #3172 "CREATE TABLE AS SELECT WITH NO DATA can fail with "connector does not support creating tables with data""
1. Have a connector which supports creating tables (`io.prestosql.spi.connector.ConnectorMetadata#createTable`), but not creating tables with data (`io.prestosql.spi.connector.ConnectorMetadata#beginCreateTable`).
2. Run `CREATE TABLE new_table AS SELECT * FROM tpch.tiny.nation WITH NO DATA`

Currently this fails with:
[code]

-- the exception message ("... with data") is confusing, since user exp

[2020-03-20 10:22] sopel39 commented on #1109
We could add a `NodeStats` class (populated by `QueryContext`) and send that back to coordinator. Then we could add `List<NodeStats>` as part of `QueryStats` class.

[2020-03-20 10:41] wendigo commented on #3172
So this should create table as connector supports this?

[2020-03-20 11:06] wlichina111 commented on #2963
@Praveen2112 Thanks Praveen,seems the issue is gone with latest. @JellyMing FYI

[2020-03-20 12:42] kokosing commented on #2963
Thank you @Praveen2112 on working on this.

[2020-03-20 14:57] jasper-eb commented on #3163
Just one `krb5.conf` written to `/etc/krb5.conf` with two realms in it, one for the AD and one for the joined realm. For the coordinator we set `http.authentication.krb5.config=/etc/krb5.conf` in our `config.properties`, but not for the workers. We don't set `java.security.krb5.conf` in the workers, but from what I can tell it should be able to [locate the file](https://docs.oracle.com/javase/8/do

[2020-03-20 15:18] sandeshh commented on #3169
Yes, I have enabled spill.

[2020-03-20 15:26] MohammedLayeeq commented on #576
I am using Presto version  0.232, and Hive version 3.1.0. Is this integration supports managed tables of Hive3.1.0 Transactional/ACID tables.
I am also facing same error
Query 20200320_145603_00018_rsdg9 failed: Your client does not appear to support                                                                                         insert-only tables. To skip capability checks, please set met

[2020-03-20 15:29] findepi commented on #576
@MohammedLayeeq please try with Presto 331 -- https://prestosql.io/download.html

[2020-03-20 15:36] findepi commented on #3172
Yes, the expected behavior from my POV is that `beginCreateTable()` should not be called, and `createTable` should be called instead.

cc @kokosing @martint

[2020-03-20 15:50] jefflester opened #3176 "Parsing Error: SQL Keyword Column Names Inside Hive `struct` and Presto `row` Types"
A parsing exception is thrown when running a `SHOW CREATE TABLE` for a table that was created in Hive. The DDL contains column names that overlap with Presto's reserved SQL keywords (`end` and `by` in this case). The parser throws an exception similar to:

[code]

To repro, create a table in Hive with the following DDL:

[code]

From Presto, you will get the error from `SHOW CREATE TABLE hive.defa

[2020-03-20 15:53] sopel39 commented on #3169
@sandeshh Could you also see @findepi reponse: https://github.com/prestosql/presto/issues/3169#issuecomment-601557711. Does that fit your case?

[2020-03-20 16:23] jasper-eb commented on #3163
One thing I forgot to mention is that the machines the cluster is running on are ubuntu 18.04 on the 330 environment vs 16.04 on the 0.205. There are some upgrades to the `krb5` packages, though I don't see how that would impact the change in principal used by the application.

[2020-03-20 16:43] lhofhansl commented on #3167
The SQL standard does not have anything for SHOW, and each database does it differently. :(

In Postgres you issue \dg or \du in the shell.

MySQL has SHOW GRANTS [FOR user [USING role]] and MySQL also lists which roles have been granted to a user, like this:
[code]
And even:
[code]

So we could "just" add the "FOR" syntax and have SHOW GRANTS also show role assignments.
That part is only accessib

[2020-03-20 16:45] lhofhansl commented on #3168
Lemme just do a PR with tests, and then we can discuss there. It'll be quick.

[2020-03-20 16:54] findepi commented on #3163
@jasper-eb is the Java version the same on both clusters?

can you experiment with running .205 version on your newer cluster (ie Ubuntu 18.04) to rule out JDK/OS/krb5.conf being the cause?

[2020-03-20 17:11] electrum commented on #3172
Sounds good to me. I think the current implementation in the engine is a hack that needs to be fixed.

[2020-03-20 17:31] jefflester commented on #3176
My apologies for anyone who viewed this -- please see the update in the issue. My docker-compose.yml was pulling a stale image. I just re-tested on 331 (and made super-sure I was on 331), and it looks like the issue is resolved.

**Hive**
[code]

**Presto**
[code]

[2020-03-20 17:31] #3176 closed

[2020-03-20 18:02] psg2 opened #3179 "Support custom http headers on JDBC Driver"
I would like to pass a header like `X-Presto-Routing-Group` that works for lyft/presto-gateway to configure which routing group the query should end up going to.
Also, from the latest releases, there is a feature for impersonation users, if I send queries over HTTP directly passing a different user on the `Authorization` header from the user on `X-Presto-User` it will try to impersonate the `X-Pre

[2020-03-20 18:04] electrum commented on #3176
Thanks for confirmation. FYI, you can query `system.runtime.nodes` to see the server version.

[2020-03-20 18:15] jasper-eb commented on #3163
It is not, the new cluster runs on java 11 (openjdk dist), the old on java 8 (oracle dist).

Sadly that's not possible. I tried moving that setup to openjdk before but back then there was code limiting the java distribution to certain venders. If it did not detect one of the valid vendors it wouldn't run.

I could flip it around and see if I get 330 working on the old setup and see as what princip

[2020-03-20 18:36] electrum commented on #3179
I dislike the idea of custom headers. It is a low level detail of the protocol that we shouldn't expose to users, and has issues around encoding, security, etc.

We already support several standard informational fields that can be used for routing decisions:

* source
* client tags
* client info

If none of these suffice, it's reasonable to add *routing group* as a standard property that can be su

[2020-03-20 19:02] psg2 commented on #3179
I was more inclined to use custom headers, because this routing-group header wouldn't have any meaning on Presto itself, but would allow customization to proxies in front of it. However, I'm not well aware of the encoding or security implications.

On a second note, what about the header X-Presto-User usage for user impersonation?

[2020-03-20 19:24] electrum commented on #3179
Presto has always supported impersonation (and was simplified in recent releases), but the CLI and JDBC do not allow this password based authorization, as you noted. We could add a new parameter to separate the authentication user from the impersonated user.

The main issue there is whether then standard `user` property should be authenticated or impersonated. I see arguments for both options:

*

[2020-03-20 19:39] psg2 commented on #3179
Oh, you're completely right about the impersonation support. I'm kinda new to Presto and made the wrong assumption reading the recent release notes.

From a first perspective, I would go with the second argument that the `user` property should be impersonated, because it would keep the backward compatibility of the driver if anyone updates it and is using those other authentication methods. But I'

[2020-03-21 11:18] #2992 closed

[2020-03-21 11:20] fly0512 commented on #2992
The kudu connector was identified as the cause of the problem.The following issues have been moved to.
https://github.com/prestosql/presto/issues/3170

[2020-03-21 16:57] NeerajUnnikrishnan commented on #1245
Has this issue already been handled somewhere else? When I am trying to reproduce, I am not getting the expected errors? @anirbanch

[2020-03-21 21:48] electrum opened #3191 "InCodeGenerator fails for LongDecimalType"
[code]

[code]

[2020-03-21 22:06] electrum commented on #3191
This was broken by the upgrade to fastutil 8.3.0 in f6676e42e356b5b23c0b7684822417388bae1641, as `ObjectOpenCustomHashSet` now does `strategy.equals(k, null)` which fails due to `DecimalInequalityOperators` not handling null. This works for other types, perhaps by accident, as their `EQUAL` operator allows the right operand to be null.

[2020-03-22 06:50] lhofhansl commented on #3167
Snowflake has `SHOW GRANTS TO USER user`

Presto currently has: `SHOW ROLE GRANTS [ FROM catalog ]`, which shows the granted roles for the current user.

Perhaps the simplest (from the viewpoint of syntax at least) is to simply extend this to:
`SHOW ROLE GRANTS [ FROM catalog ] [ TO USER | ROLE principal ]`

That would align well with the CATALOG argument: If not specified the current catalog is u

[2020-03-22 14:21] dephusluke opened #3194 "Add system.jdbc.views table"
Presto has `system.jdbc.tables`
but there is no equivalent for views.

Say you want to count how many views you have.. there is no way.
Also even if you want just to verify view exist.. you must do select from the view there is no metadata table to use for that.

[2020-03-22 14:36] ebyhr commented on #3194
You may want to use `<catalog>.information_schema.views` table.

[2020-03-22 15:05] ebyhr opened #3195 "Presto view in memory connector isn't listed in system.jdbc.tables"
Steps to reproduce:
[code]

information_schema.views is fine.
[code]

[2020-03-22 15:37] lhofhansl commented on #3167
I verified that the Hive Metastore API has everything needed.
(can list roles for a principal, and can list principals for a role)

[2020-03-22 23:31] findepi commented on #3194
Would the following be helpful?
[code]

[2020-03-22 23:53] electrum commented on #3194
The JDBC tables are intended for use by the JDBC driver. It’s recommended to use the `information_schema` tables instead.

[2020-03-23 00:00] RugratsJ opened #3203 "Capability of pushing down the query and only return the final result set from data source by session"
Currently many Presto (JDBC based) connectors such as mysql, postgres, Oracle are single threaded. When doing aggregation calculation, Presto will do a full table scan, then do the aggregation on all records returned from the data source, which is very slow in some case. For example, for TPCH 100G orders 150M records table stored in Postgresql, if we do the following count aggregation query on pre

[2020-03-23 00:01] RugratsJ opened #3204 "Generic JDBC connector for any back-end data source that's currently not supported by presto"
Is it possible to create a generic JDBC connector for any back-end data source that's currently not supported by Presto? For example, for netezza, Oracle, etc, we could drop the Netezza/Oracle jar file to the generic-jdbc catalog folder after the installation.

[2020-03-23 01:17] lhofhansl commented on #3168
In out case we'll have many schemas, and at least would want to hide tables in non-accessible schemas - see the PR, which does exactly that.

[2020-03-23 01:52] ebyhr commented on #3204
@RugratsJ Going to close this issue because it's a duplicate of https://github.com/prestosql/presto/issues/2910. You may want to try Starburst Presto https://docs.starburstdata.com/latest/connector/generic-jdbc.html if you are rush.

[2020-03-23 01:52] #3204 closed

[2020-03-23 06:23] RugratsJ commented on #3204
Thank you very much ebyhr for your quick response. I have integrated the presto-oracle into my 331 version from PR #1959. So far so good. Amazing community. From my reading, the parallel read for JDBC connector could only be done at the individual connector level. Do we have to put in request to get the parallel read done for each connector, for example, postgresql, Oracle, etc.

[2020-03-23 06:26] RugratsJ commented on #389
From my reading, the parallel read for JDBC connector could only be done at the individual connector level since each database has different ways of partition the tables. Do we have to put in individual request to get the parallel read done for each connector, for example, postgresql, Oracle, etc?

[2020-03-23 06:41] ebyhr commented on #3204
You don't need to request for each JDBC connector. Please follow the https://github.com/prestosql/presto/issues/389 you already commented.

[2020-03-23 06:43] Terry93 commented on #1109
Thanks! I will try this way!

[2020-03-23 08:07] dephusluke commented on #3194
awesome. wasn't aware of it.

[2020-03-23 08:07] #3194 closed

[2020-03-23 08:28] kokosing commented on #3172
The thing is that this query should not run any sql query execution. It should be a DDL task. All we care is the output schema of query, so output from analysis should be enough.

[2020-03-23 09:03] findepi commented on #3203
@RugratsJ thanks for the issue.

It's already tracked by https://github.com/prestosql/presto/issues/18, so let me close this one.

I see you have a lot of interesting experiences to share.
Please join the #dev channel on our slack https://prestosql.io/slack.html.

[2020-03-23 09:03] #3203 closed

[2020-03-23 09:04] kokosing commented on #3168
How does SQL standard Hive behave when user has a SELECT privilege to a table? I would guess that then schema (database) that encloses this table, is visible for user?  If so, then for every schema that is not directly granted to user, we need to check all tables. Notice, that same story is for columns. Schema might be visible, whenever user has access to any column under this schema. That is so e

[2020-03-23 09:11] findepi commented on #3191
@electrum would it be possible to cover this eg with AbstractTestType?

[2020-03-23 09:55] sopel39 commented on #2980
@tooptoop4 @us3r https://github.com/prestosql/presto/pull/3206 should be a simpler fix for this

[2020-03-23 10:38] tooptoop4 commented on #3204
@RugratsJ try https://github.com/prestosql/presto/pull/3105

[2020-03-23 13:45] RugratsJ commented on #18
Joins between different data sources as a federation mean will not be possible to push down. May I suggest to add a user controllable session switch to push down the whole query to a single data source? That way, users with lot of SQL experience can use this feature in the near future. If we wait till we finish all features listed here, I don't know when this can be done. Take a look at issue #320

[2020-03-23 15:25] mbasmanova commented on #18
@RugratsJ We have implemented compute plan pushdown into a connector and published a blog post explaining how it works: https://prestodb.io/blog/2019/12/23/improve-presto-planner

CC: @highker

[2020-03-23 15:32] RugratsJ commented on #389
Base on issue #1896, from my understanding, xumingming has created a common getsplits function based upon the ranges returned by individual connector, if anyone wants to use the parallel reads from base JDBC, has to create their own range function to return the correct range list. That's why I'm asking, do we have to put in individual request to get the parallel read done for each JDBC based conne

[2020-03-23 16:07] RugratsJ commented on #18
@mbasmanova, improving presto planner is different scenario than the one that I talked about in #3203.  We are not talking about to implement compute plan to push down into a connector. In my example given in #3203, it's a very regular aggregation function that any ad-hoc data scientist will run, the orders table contains 150000000 records, I want to find out in March 1997, how many customers put

[2020-03-23 17:01] lhofhansl commented on #3168
Hmmm... Interesting! `SELECT ... FROM TABLE s.t` still works even when a user has no access to schema `s`. (In Presto)

The problem is really twofolds:
1. There's no GRANT/REVOKE on schemas (the Hivemetastore seems to have it all, it's not implemented anywhere). So at the schema level it's all or nothing.
2. There's not bulk API to check permissions for HiveObjects.

I'll drop this line of develop

[2020-03-23 17:01] #3168 closed

[2020-03-23 17:44] kokosing commented on #3168
Notice that it is quite easy to filter schemas with file based system access control. You could use it along with SQL standard. It is detached from HMS, but it is refreshable so you can write on your own something that could generate file with rules.

[2020-03-23 17:49] lhofhansl commented on #3167
Opinions? This seems to be an important gap.

What I'm looking is two abilities for an admin:
1. See all roles granted to a specific principal (role or user).
2. Given a role, show all principals that were granted that role.

(1) Could be `SHOW ROLE GRANTS [ FROM catalog ]` extended by ` [ TO USER | ROLE principal ]`
(2) Could be Hive's `SHOW PRINCIPALS role`

The meta point is: Most people defer

[2020-03-23 17:50] tooptoop4 commented on #18
@RugratsJ as workaround u can create view in legacy db containing joins/where filters

[2020-03-23 18:12] RugratsJ commented on #18
@tooptoop4, thank you for you suggestions. This is for ad-hoc data scientist notebooks (zeppelin/Juypter), you won't know what the conditions/joins/where filters beforehand, how can we create the views? If there are thousands of data scientists doing ad-hoc queries, if they have all kind of different conditions/filters/joins, can you create hundreds of thousands of views beforehand without knowing

[2020-03-23 22:03] electrum commented on #18
Pushing down the entire query is not really feasible. Consider that the underlying connector will have different functions, SQL functionality, semantics, etc., compared to Presto. There would be no way for Presto to parse and analyze a query that it doesn't understand. Also consider how it would work for queries that access tables from different connectors.

One thing that could be done is to prov

[2020-03-23 22:59] mbasmanova commented on #18
That's exactly what we have implemented. Presto parses the query, creates query plan, then asks the connector which subtree of the plan it would like to execute if any. This allows to capable connectors to take over scans + filter + agg + join + whatever else they are capable of. For example, Uber is using this capability to pushdown the whole query plan into Pinot.

[2020-03-23 23:16] amiorin opened #3219 "Watchdog for queries using system.jdbc.*"
At Zalando, we are also having harmful queries generated by SQL clients during auto-completion and catalog browsing (see Lyft [article](https://eng.lyft.com/presto-infrastructure-at-lyft-b10adb9db01)). It would be useful to have a watchdog that kills these queries after a time-out or a regex.

Examples

[code]

[code]

[code]

[2020-03-23 23:57] #3195 closed

[2020-03-24 00:01] ebyhr commented on #3114
[code]

https://github.com/prestosql/presto/pull/3208

[2020-03-24 00:32] RugratsJ commented on #18
@electrum, as I mentioned before, push down whole query that contains joins to different data sources or when federating against different data sources at the same time is not feasible. What I'm saying here is to submit (push down) the whole ANSI SQL query to the single data source, only return the aggregated results.

@mbasmanova, than you for your reply. In which version do you have the capabili

[2020-03-24 00:38] highker commented on #18
@RugratsJ, the pinot connector pushdown support was merge end last year. We had a few bug fixes after that. 0.223 (https://github.com/prestodb/presto/releases/tag/0.233) has the capability you need. cc: @agrawaldevesh

[2020-03-24 00:48] RugratsJ commented on #18
@highker, oh, you are saying it's just for pinot connector pushdown support. I was looking for a solution for all JDBC based connectors, such as mysql, Oracle, Postgresql, etc. I tested with both 331 prestosql and 0.233 prestodb, don't see such capability to pushdown whole query to Oracle, mysql, or Postgresql.

[2020-03-24 01:07] ebyhr opened #3220 "Reduce numbers to issue delegation tokens for kerberized HMS"
Currently, Hive connector creates new delegation tokens per request, but our Zookeeper sometimes cannot handle those many requests. This issue may happen especially when we use `information_schema.columns` tables.

We are going to use HMS cache, but it would better to reduce the count ideally.

[2020-03-24 01:45] Svti commented on #3154
https://github.com/prestosql/presto/issues/3154#issuecomment-601546809

@Praveen2112 here it is.

[2020-03-24 07:40] guyco33 commented on #3219
Maybe it will be nicer to have a system parameter toggle that will automatically escape `_` values for such cases.
replacing  `LIKE 'borg_competitive_data' ESCAPE '\' `
with `LIKE 'borg\_competitive\_data' ESCAPE '\' `

[2020-03-24 07:55] stagraqubole commented on #3219
You can use event-listener for this purpose. We created one to kill some rogue queries that used to scan information_schema.columns multiple times using UNION ALL: https://github.com/stagraqubole/infoschemaquerykiller.
This is against older version of Presto but the idea still holds and you can create one for your purpose on similar lines.

[2020-03-24 08:08] ebyhr commented on #3108
There are two issues in the description.
1. Mapping DATE type between Phoenix and Presto
2. Support TIMESTAMP type

The 2nd issue is already filed as https://github.com/prestosql/presto/issues/2126.

@vincentpoon I think you considered the mapping of DATE type when creating a connector. Do you have any opinion about this?

[2020-03-24 08:51] s2lomon commented on #2386
It seems like another case of same issue: https://github.com/prestosql/presto/pull/3166/checks?check_run_id=528368553

[2020-03-24 09:26] ertanyildiz opened #3222 "Get query string by QueryId"
Hey! I am developing a connector using `PRESTO SPI`. I just need to get the query string that the user executes on Presto. I can get `queryId` but no query string supplied from SPI.  Can you show me a way to get the query string? Thanks.

[2020-03-24 09:38] amiorin commented on #3219
We will implement the event-listener. Thx @stagraqubole.

[2020-03-24 10:07] D-YuLin commented on #3108
Thank you for answering. At that time, timestamp was set in Phoenix, and it was not recognized in the presto column, and the column information was not visible. Later, the timestamp type in Phoenix was changed to bigint type. See the information recorded in the source code
`// TODO add support for TIMESTAMP after Phoenix adds support for LocalDateTime
            case TIMESTAMP:`
Used version 330,

[2020-03-24 10:21] ebyhr commented on #2683
Missed the same issue https://github.com/prestosql/presto/issues/1350 was already reported. Let me close this.

[2020-03-24 10:21] #2683 closed

[2020-03-24 12:25] mbasmanova commented on #18
@RugratsJ This functionality requires two pieces: (1) Presto planner offering the connector to take over a subtree of the query plan and (2) a connector capable of doing so. At this point, we only have Pinot connector implement the APIs needed to take over a subtree (or whole tree) of the query plan. To enable this functionality for other data sources corresponding connectors need to be updated to

[2020-03-24 12:48] findepi commented on #3222
Original query string is not exposed to the connector.
This is an intentional decision. We want connectors to have well defined API and be isolated from each other, so each gets all the information and only the information that pertains this connector.

Let me close this issue as answered.
I encourage you to join the #dev channel on our slack https://prestosql.io/slack.html to discuss the problem

[2020-03-24 12:48] #3222 closed

[2020-03-24 13:01] ebyhr commented on #3153
Let me close this issue because we can achieve it using `date_format` function. Please reopen if you still need a new function.

[2020-03-24 13:01] #3153 closed

[2020-03-24 13:24] kokosing commented on #3222
Side note, the only way to get query string by the Presto plugin is to implement Event Listener.

[2020-03-24 13:24] ebyhr commented on #3108
I meant we haven't yet supported TIMESTAMP in Phoenix connector and it will be handled in the above issue.

By the way, you may want to use `unsupported-type-handling` configuration properties (= unsupported_type_handling session properties) as the workaround.

[2020-03-24 15:11] tooptoop4 commented on #2614
@peterulsteen https://github.com/prestosql/presto/pull/3210

[2020-03-24 15:58] martint commented on #18
@mbasmanova, @highker. For a number of reasons (e.g., future-proofing for a fully exploratory optimizer) that's not the architectural approach we're taking here, so let's please keep that discussion out of this issue to avoid confusion.

@RugratsJ, if you'd like to learn the direction we're going with the design and implementation, please take a look at the document linked above: https://github.co

[2020-03-24 16:45] RugratsJ commented on #18
@mbasmanova, @martint, thank you very much for your explanation. I fully understanding the direction, design, and implementation, and where it goes. If we could achieve all things listed here, it will be great, and I'm all for it. At the same time, I guess the life cycle to finish this will certainly be  a long time. What I'm looking for, is kind of like traditional JDBC connector, submit the quer

[2020-03-24 17:32] vincentpoon commented on #3108
The `TIMESTAMP` type is not yet supported in the Phoenix connector.
I'm not sure I understand the `DATE` issue, if there is one.  It is supported.

[2020-03-24 21:28] electrum commented on #3219
There is no need to have a watchdog or an event listener. Presto has built-in support for query time limits. The `query_max_run_time` session property simply needs to be set appropriately for these queries. However, we need some way to set this property automatically for such queries. `SessionPropertyConfigurationManager` is the obvious choice, but doesn't work because it happens before analysis.

[2020-03-24 22:06] amiorin commented on #3219
Thx David! Does it make sense to add queryMaxRunTime to the Resource Group Properties?

[2020-03-24 23:33] electrum commented on #3219
Resource groups only control query ingest / queuing. Session properties can be set by a [session property manager](https://prestosql.io/docs/current/admin/session-property-managers.html) which has the same matching power as a resource group (and can actually match based on the resource group, so you don't need to repeat the matching rule).

[2020-03-25 00:05] ebyhr commented on #3108
@vincentpoon I guess he means Phoenix DATE's `hh:mm:ss` is trimmed by Presto.

[2020-03-25 00:09] vincentpoon commented on #3108
That is as expected, because Presto's `DATE` type does not include a time component.
Phoenix documentation explicitly states that it deviates from the SQL 92 standard in including a time component: https://phoenix.apache.org/language/datatypes.html#date_type

[2020-03-25 00:19] tooptoop4 commented on #3219
@electrum do u know the commit that stopped allowing eventlistener to fail queries?

[2020-03-25 00:26] tooptoop4 commented on #2351
maybe https://github.com/ebyhr/presto-flex solves some of this

[2020-03-25 00:26] tooptoop4 commented on #704
maybe https://github.com/ebyhr/presto-flex solves some of this ?

[2020-03-25 03:37] electrum commented on #3108
Maybe we should have an option to map Phoenix `date` to Presto `timestamp`?

[2020-03-25 03:48] D-YuLin commented on #3108
@ebyhr @vincentpoon
Thank you for answering, as you said.

Maybe my previous question description is ambiguous and embarrassing.

 In our use case, the date type is used in Phoenix. Presto does not retain the time part. If the Time type is used, presto does not retain the date part. At that time, the timestamp type was used, and it was not recognized in presto. So, later I changed timestamp to big

[2020-03-25 03:49] electrum commented on #3219
https://github.com/prestosql/presto/commit/72a7511a5353cf995d34d6571862f065260b9dfe

[2020-03-25 03:53] ebyhr opened #3233 "Redis test sometimes takes about 1 hour"
As far as I looked into, It was about 35 minutes before switching to dockerized Redis.
* https://github.com/prestosql/presto/runs/523162628 (54m)
* https://github.com/prestosql/presto/runs/528794328 (59m)
* https://github.com/prestosql/presto/runs/423758520 (70m)
~ dockerized Redis ~
* https://github.com/prestosql/presto/runs/399806024 (37m)
* https://github.com/prestosql/presto/runs/403790203 (33

[2020-03-25 06:29] ebyhr opened #3235 "Merge GitHub Action's jobs to fasten CI time"
e.g. Merge accumulo and cassandra into one.
* hive-tests (config-empty) 35m 6s
* hive-tests (config-hdp3) 16m 0s
* test-other-modules 36m 48s
* x (presto-main) 14m 21s
* x (presto-tests) 34m 40s
* x (presto-tests -P ci-only) 15m 20s
* x (presto-raptor-legacy) 14m 54s
* x (presto-accumulo) 15m 18s
* x (presto-cassandra) 13m 58s
* x (presto-hive,presto-orc) 32m 23s
* x (presto-hive,presto-parquet -P

[2020-03-25 08:22] electrum commented on #3233
#3201 brings it down to 38m, but we should independently try to figure out what caused the regression with Dockerized Redis (since fixing both would further reduce the runtime).

[2020-03-26 04:56] #3079 closed

[2020-03-26 05:55] shandeep00 commented on #2379
@electrum can you please review proposed syntax

[2020-03-26 06:18] electrum commented on #3191
@findepi I don't think that `AbstractTestType` covers operators. Further, it's not clear that the equals operator needs to handle this. (we don't seem to document the contract)

[2020-03-26 08:58] kokosing commented on #3114
[code]
#2933

[2020-03-26 09:41] ssquan commented on #1035
How about changing the order of parameters from `charset, binary, replace` to `binary, charset, replace`

[2020-03-26 10:02] sopel39 commented on #2980
Fixed via: https://github.com/prestosql/presto/pull/3206

[2020-03-26 10:02] #2980 closed

[2020-03-26 10:02] sopel39 commented on #3114
[code]
https://github.com/prestosql/presto/pull/3206

[2020-03-26 10:21] #3082 closed

[2020-03-26 10:30] findepi commented on #3191
we should decide, document & enforce in generic manner (which to me means: have a reusable test)

i propose `AbstractTestType` because it's supposed to be run for all test types. If there is a better place, it can be there.

[2020-03-26 10:30] ebyhr commented on #3114
[code]

https://github.com/prestosql/presto/pull/3234

[2020-03-26 12:22] kokosing commented on #3114
[code]
#3066

[2020-03-26 12:22] #3115 closed

[2020-03-26 13:21] ertanyildiz commented on #3222
you are right. I can get the queries from EventListener. Thank you!

[2020-03-26 14:33] #2963 closed

[2020-03-26 14:33] #3170 closed

[2020-03-26 15:11] sopel39 commented on #3114
[code]
https://github.com/prestosql/presto/pull/3205

[2020-03-26 18:50] bendemott opened #3251 "Phoenix Connector rowkeys spaces"
@vincentpoon
@electrum

- HBase 1.5
- Phoenix 4.15

If spaces in the `rowkeys` argument are present, the Presto Phoenix Connector ignores all but the first rowkey value and creates the table anyway.

So this example query will succeed with a space in `recordkey, birthday` - but will create a rowkey with only `recordkey` in it.
[code]

The important bit here being:
[code]
Spaces do not seem to matt

[2020-03-26 20:52] tooptoop4 commented on #18
one idea I had (as views already work) was pushing down entire WITH blocks (similar to how ETL tools like IBM Datastage have separate connectors per DBMS where lots of small queries are run completely pushed on to source db, then only results brought back into memory for joining with results of other small queries pushed down). ie with o as (select o_custkey, count(1) c from pgtpch100g.public.orde

[2020-03-26 21:35] tooptoop4 opened #3253 "allow coordinator to consider different sized workers when making scheduling decisions"
from slack:
"I often hear that 'all presto workers should be the same instance type ie cpu/memory specs' can you point to the code that does scheduling logic? curious to to look at how decisions are made to allocate work to machines and if it considers each worker might be different spec?"

dain:
The problem is the scheduler code doesn’t consider different machine sizes, so there is no code to loo

[2020-03-26 22:24] tooptoop4 commented on #3253
would be one part of moving to Spot workers, as some instance types run out

[2020-03-27 00:58] ebyhr commented on #2797
https://github.com/prestosql/presto/runs/536802100

[2020-03-27 08:36] rlebreto commented on #3115
Seems that we are facing same bug on presto-server-rpm-323.e.7-1.x86_64 (scénario 4).
Will this patch also be included in presto EE (starburst) ?

[2020-03-27 09:44] tooptoop4 opened #3256 "allow workers added to cluster after start of a query to contribute to running the query"
scenario:
1. cluster is started with 2 workers
2. select * from table where col = 'x' query starts running, (2 workers are contributing to this query)
3. cluster is scaled up to 5 workers
4. query from step 2 is still running but still only using the resources of the initial 2 workers, ideally it can make use of all 5 workers as this query takes 20mins to run.

In my case I am talking about simple

[2020-03-27 09:59] sopel39 commented on #3256
New workers will execute table scans from existing queries. However, they won't participate in (final) aggregations or joins

[2020-03-27 10:24] sopel39 commented on #3114
[code]
https://github.com/prestosql/presto/pull/3217

[2020-03-27 11:32] tooptoop4 commented on #3256
do u know which version that was added in? new workers are not being assigned for me in query type 2

[2020-03-27 11:50] RugratsJ commented on #18
I have already tested the above method before I submitted this request. That's one way of writing optimized Presto under current design. However, in some cases, we will need to do aggregation against the whole table, or in reality, we may even have tables with trillions of records. Which the above method will not work.

[2020-03-27 12:47] tooptoop4 commented on #18
@RugratsJ how fast is the query using with?

[2020-03-27 13:10] RugratsJ commented on #18
@tooptoop4, what do you mean how fast is the query using with? Do you mean how fast the query is running or how fast we will be using this kind of query? We are looking at lots of data scientists will use notebooks to run ad-hoc queries.

[2020-03-27 13:10] sopel39 commented on #3256
This have been part of Presto for long time

[2020-03-27 14:36] tooptoop4 commented on #18
u said "have already tested the above method" so i thought presto was already pushing down the with cte to oracle

[2020-03-27 18:31] dain commented on #3256
I think this has been in since the first public release of Presto (like 7 years ago).  This feature was a side effect of doing streaming discovery of splits, which we added because we couldn't load all splits into memory for large tables.  As splits are "discovered", we assign them to the currently available machines.

Should we close this issue?

[2020-03-27 19:03] kokosing commented on #3114
[code]
 #3166

[2020-03-27 21:41] tooptoop4 commented on #3256
it doesn't work though. query json shows 5 workers did not participate

[2020-03-28 05:53] electrum commented on #3169
@sandeshh In addition to @findepi's question, would it be possible for you to try Presto 318 with Java 11 + ZGC to see if it reproduces there? If yes, then it's Java version related (unlikely), otherwise it's Presto version related.

[2020-03-28 05:59] electrum commented on #3256
It depends how many splits are produced for the table scan. If a split is assigned to a worker, it must execute there, even if that node is busy and a new one shows up later.

You can try decreasing [`node-scheduler.max-splits-per-node`](https://prestosql.io/docs/current/admin/properties.html#node-scheduler-max-splits-per-node) and [`node-scheduler.max-pending-splits-per-task`](https://prestosql.i

[2020-03-28 06:44] sandeshh commented on #3169
Earlier we were giving 50% cluster memory as max per query memory. After
changing query max to 30% of cluster memory and rebuilding the cluster, we
have not seen this error. We can close this for now. Thanks All.

On Fri, Mar 27, 2020 at 10:54 PM David Phillips <notifications@github.com>
wrote:

[2020-03-28 12:32] imjalpreet opened #3266 "Error while accessing hive views when there is an empty string in the view definition"
Issue Description: When trying to access a hive view which contains an empty string `''` (and this empty string isn't the last string with quotes `''` in the view definition) it throws an error in Presto.

For instance, let's assume we have two views,
**sample_hive_view_A**
[code]
and **sample_hive_view_B**
[code]

When we try to access both the views from Presto, it works for **sample_hive_view_A

[2020-03-28 12:35] imjalpreet commented on #3266
To solve this issue, a minor change in the regex would be sufficient. I can pick it up in that case.

[2020-03-28 12:44] ebyhr commented on #2467
https://github.com/prestosql/presto/actions/runs/64744616

[code]

[2020-03-28 16:06] RugratsJ commented on #18
@tooptoop4, it's not improved much. Still very very slow. I have modified the connector to change to different fetch size, it helped. However, it's still lot slower than running the query directly in the source database.

[2020-03-28 18:07] RugratsJ commented on #18
I added the session properties of fetch size, so I can change the default fetch size by session. It helped the speed.

[2020-03-28 19:03] findepi commented on #3266
While one can improve regex in `HiveQlTranslation`, in my opinion we shouldn't be using regex at all.
A state machine would be more future-friendly approach.

@anusudarsan @kokosing  what do you think?

[2020-03-28 19:59] kokosing commented on #3266
yes, regex has short legs. However I am not sure if it is the moment to do this refactoring.

[2020-03-28 20:00] electrum commented on #3266
The current translation and is a placeholder and will be replaced with https://github.com/linkedin/coral so we shouldn’t spend time on substantial improvements.

[2020-03-29 12:19] findepi commented on #2797
https://github.com/prestosql/presto/runs/543043052

[2020-03-29 21:06] Terry93 commented on #1109
@sopel39 Hello can you share more on how the worker sends the NodeStats back to the coordinator? Is there any existing skeleton already built up for this needs or an example I can refer to?

[2020-03-30 07:02] Praveen2112 commented on #3114
[code]
#3212

[2020-03-30 07:42] Crossoverrr opened #3274 "Incorrect pushdown in Kudu when value can be NULL"
Dear community, my friend @foxinmy found a problem we don't know if it has been Questioned@Answered.
When multiple conditions have the same column(and their logical relationship is or) then the 'is null' condition will be ignored, which lead to a problem that the data matches 'is null' condition will not be returned to the final ResultSet.
Sql is like :
`select * from profile where xwho='' or xwho

[2020-03-30 07:47] Crossoverrr commented on #3274
My prestosql version is 322.

[2020-03-30 08:35] findepi commented on #3274
@Crossoverrr `IS NULL` option is handled here:
https://github.com/prestosql/presto/blob/c683e77e53435416ada5db11e3187203cb2f7951/presto-spi/src/main/java/io/prestosql/spi/predicate/Domain.java#L225

did you try adding a repro test case to `TestDomain`?

[2020-03-30 08:48] Crossoverrr commented on #3274
Sorry I haven't add that test case about IS NULL option. I just debugging the sql.

[2020-03-30 08:52] Crossoverrr commented on #3274
So is that means when Domain#nullAllowed is true, it means IS NULL option, right?

[2020-03-30 09:03] findepi commented on #3274
Correct

[2020-03-30 09:04] Crossoverrr commented on #3274
Right! I've checked the final attribute constraintSummary in KuduClientSession#addConstraintPredicates, it's attribute nullAllowed is true definitely. So I have to push-down the IS NULL condition to KUDU right?
and this is a bug of kudu connector, not Presto, right?

[2020-03-30 09:06] Crossoverrr commented on #3274
![Screenshot from 2020-03-30 16-57-04](https://user-images.githubusercontent.com/33892550/77895047-c1d11a00-72a8-11ea-8836-183def5d3a91.png)

[2020-03-30 09:29] findepi commented on #3274
the Kudu pushdown code has other problems as well.

i did some quick cleanup (https://github.com/prestosql/presto/pull/3276). Please take a look.
I _did not_ fix this problem.
Would be great to covert this with some kind of generic tests.

@Crossoverrr if you are willing to work on this, can you first try adding a repro test case to
`io.prestosql.testing.AbstractTestDistributedQueries#testDataMapp

[2020-03-30 09:45] sopel39 commented on #1109
@Terry93 Right. It seems that there is missing endpoint for exposing node query stats.
We currently reconstruct query stats from stage and task stats, but these cannot be used to compute node query stats due to it's asynchonrious manner.
@dain any suggestions here?
I think we would need to add a new endpoint for retrieving `NodeQueryStats` which will be used by `QueryStateMachine` to keep node que

[2020-03-30 09:47] Praveen2112 commented on #3274
@findepi For handling `io.prestosql.testing.AbstractTestDistributedQueries#testDataMappingSmokeTest` I guess we need to add support for creating a table with default partitions and support for inserting data for table with default partitions. A bit more cleanup is required I guess

[2020-03-30 09:50] Crossoverrr commented on #3274
OK, I will try :)

[2020-03-30 09:53] Crossoverrr commented on #3274
OK, I will try. :)
But please don't wait me, because I'm not very skillful. :)

[2020-03-30 14:55] findepi commented on #3274
@Praveen2112 does Kudu support only predicate pushdown on partition columns?

[2020-03-30 17:31] Praveen2112 commented on #3274
I guess Kudu tries to apply the filter for non partition columns also. I will double check it.Though using the predicate that we apply on partition column he tries to skip certain tablets but for predicate on non partition column kudu performs a full data scan

[2020-03-31 00:51] vincentpoon commented on #3251
@bendemott The relevant code can be found here: [link](https://github.com/prestosql/presto/blob/master/presto-phoenix/src/main/java/io/prestosql/plugin/phoenix/PhoenixTableProperties.java#L151)

Do you want to try adding a string trim there and see if it resolves your issue?

[2020-03-31 02:03] foxinmy commented on #3274
![image](https://user-images.githubusercontent.com/1318274/77979287-cfcd7c00-7336-11ea-9a3c-9bafbcacee00.png)

[2020-03-31 02:36] RugratsJ commented on #389
@findepi and @electrum, StarBurst is coming out version 332 around April 16 with parallel Oracle connector. Do you have any ideas how they implement the parallel connector? I know, the min, max of a primary key without pushing down to Oracle is really slow. Will the community version also be at version 332 around that time frame?

[2020-03-31 03:24] harshadwaj commented on #1258
@qinzl1
I am facing the same issue. Can you please post the resolution?

[2020-03-31 06:04] findepi commented on #3149
Fixed by https://github.com/prestosql/presto/pull/3245

[2020-03-31 06:04] #3149 closed

[2020-03-31 06:07] findepi commented on #3114
[code]

https://github.com/prestosql/presto/issues/3149 https://github.com/prestosql/presto/pull/3245

[2020-03-31 12:38] findepi opened #3291 "Flaky test TestIndexer.testMutationIndex"
[code]

[2020-03-31 12:38] findepi commented on #3291
https://github.com/prestosql/presto/runs/547069501

[2020-03-31 23:53] martint commented on #2981
This should improve the buffer size estimate for the T-Digest structure and fix the problem. However, it also includes a mechanism to capture and report the t-digest in case of failure so we can reproduce and debug the problem: https://github.com/airlift/airlift/pull/827

[2020-04-01 03:35] prestosql-history-doc opened #3298 "SQL `select * from table having 1=1;` throw exception saying first column not in GROUP BY clause"
We recently upgraded from 310 to 330.
`select * from table having 1=1;`
This SQL used to work in 310 but throw exceptions in 330 saying "first column not in GROUP BY clause"

[2020-04-01 03:38] martint commented on #3298
This is expected behavior. If a query contains a HAVING clause but no GROUP BY clause, GROUP BY () is implied. In your example, this is equivalent to:

SELECT *
FROM t
GROUP BY ()
HAVING 1=1

Since the columns derived from * are not in the GROUP BY clause and are not aggregations, the query is invalid.

[2020-04-01 03:40] #3298 closed

[2020-04-01 03:47] prestosql-history-doc commented on #3298
Noted with thanks.

[2020-04-01 05:18] Praveen2112 commented on #2341
@getGitxxx I have tested with the master branch and the above issue is fixed by #2265. Feel free to re-open this issue if the above patch didn't work

[2020-04-01 05:18] #2341 closed

[2020-04-01 05:26] getGitxxx commented on #2341
Hi @Praveen2112 ,

Sorry for confirming the patch late, It's worked for me. Thanks a lot!

[2020-04-01 06:17] Praveen2112 commented on #3131
It was fixed in https://github.com/prestosql/presto/commit/9ba45102d34cb4a8785c10a71f74bdeee64769ff

[2020-04-01 06:17] #3131 closed

[2020-04-01 07:22] groobyming opened #3299 "Rest Api return error “/v1/resourceGroupState/global”"
version：308
When I send a request to /v1/resourceGroupState/global, it returns as follows：
![image](https://user-images.githubusercontent.com/34335395/78109470-d4c02780-742b-11ea-94c0-bfaaae02962e.png)

But when I send the query, the api returns successfully. Why is the InternalResourceGroup initialized only after sending the query?
![image](https://user-images.githubusercontent.com/34335395/78109

[2020-04-01 10:15] Zverik opened #3300 "Add spatial functions for H3 hexagons"
It would greatly benefit data scientists to have a support for Uber's H3 hexagons in Presto. They are similar to Bing tiles in operation, but cover the globe better.

There are [java bindings](https://github.com/uber/h3-java) in Maven, and the implementation would be quite similar to Bing tiles.

[2020-04-01 13:55] kokosing commented on #3114
[code]
#3290

[2020-04-01 14:28] RosterIn opened #3303 "add function to validate uniqueidentifier"
In [MsSQL](https://docs.microsoft.com/en-us/sql/t-sql/data-types/uniqueidentifier-transact-sql?view=sql-server-ver15) there is support for `uniqueidentifier` which is used in many applications.

Basically I'm after a Presto function that will be able to verify if string is a valid `uniqueidentifier`

For example in `MsSQL`:
  ` SELECT CONVERT(uniqueidentifier,'0E984725-C51C-4BF4-9960-E1C80E27ABA0'

[2020-04-01 15:43] electrum commented on #3303
Presto has a [UUID](https://prestosql.io/docs/current/language/types.html#uuid-type) type which should do what you want:
[code]

You can also use [`try_cast`](https://prestosql.io/docs/current/functions/conversion.html#try_cast) to convert invalid values to null:
[code]

[2020-04-01 16:07] electrum opened #3304 "Cleanup JSON serialization in event listener classes"
Many classes in `io.prestosql.spi.eventlistener` are serializable to JSON, a couple can also be deserialized from JSON, and others have no serialization. There are no tests for any of it.

I believe the current serialization was accidental. My current thinking is that, since we don't want to make guarantees around the JSON format, we should remove the annotations. All of the classes appear to be s

[2020-04-01 16:08] sopel39 commented on #3114
[code]
https://github.com/prestosql/presto/pull/3239

[2020-04-01 16:25] martint commented on #3304
No, it's not accidental. The structure and names were chosen intentionally when we implemented the event listener at FB. Whether we want that to be a guaranteed format or not is a different question, but I think it's convenient for anyone that might want to serialize it to JSON, and as a way to minimize format changes if the internal structure of the classes changes and fields are renamed.

[2020-04-01 21:05] JamesRTaylor commented on #3116
FYI, I have a PR on top of #1720 and #2672 here: https://github.com/lyft/presto/pull/47. There's an open issue around handling absent element rows (see test in the PR) that causes this exception:

    Loaded block positions count doesn't match lazy block positions count

[2020-04-02 02:26] #3108 closed

[2020-04-02 03:26] Praveen2112 commented on #3299
Name in resource group can be template (https://prestosql.io/docs/current/admin/resource-groups.html) in those cases we can't create a resource group when starting a server as we don't know the user upfront. So InternalResourceGroup is created on fly for each user when submitting a query.

Special thanks for @findepi for enlightening me on this.

[2020-04-02 13:43] laritsuda opened #3313 "equivalent function SQL Server's TRANSLATE() to in Presto"
I need to translate the special characters (in Portuguese language) of a string column into 'raw' characters, using Amazon Presto. In SQL Server, I could do that using the TRANSLATE function:

[code]

That would return exactly what I need:

city_name
---------
Goiânia
São Paulo
Palhoça
Várzea Paulista

city_name_raw
-------------
Goiania
Sao Paulo
Palhoca
Varzea Paulista

However, I didn't find an

[2020-04-02 15:53] ebyhr opened #3314 "Flaky test io.prestosql.plugin.kudu.TestKuduIntegration*"
https://github.com/prestosql/presto/runs/554953806
[code]

[2020-04-02 15:59] findepi commented on #3314
this failed on me too today

cc @Praveen2112

[2020-04-02 17:42] Praveen2112 commented on #3314
Most of the issues we see isn't related to diskspace ? Like maven check or product tests or kudu ?

[2020-04-02 23:24] #2304 closed

[2020-04-03 10:26] findepi opened #3325 "UPDATE statement"

[2020-04-03 10:48] findepi opened #3326 ""Self-suppression not permitted" possible when writing sequence file fails"
[code]

https://github.com/prestosql/presto/blob/f65f87f03f11bd3ff1c45320ab833b54c1ceea14/presto-hive/src/main/java/io/prestosql/plugin/hive/util/SequenceFileRecordWriter.java#L67-L72

[2020-04-03 12:49] floreasorin commented on #3326
Since this a good first issue I would like to work on this if nobody wants to take it.

[2020-04-03 15:01] findepi commented on #3326
@floreasorin thanks, go for it!

you may want to check the code for `// Self-suppression not permitted` comments for the start

[2020-04-03 16:14] Praveen2112 commented on #3314
Fixed by #3315

[2020-04-03 16:14] #3314 closed

[2020-04-03 16:25] findepi opened #3329 "Don't export/bind ports in Launcher on CI"
product tests sometimes fail on github actions because they cannot export 50070 from containers

port binds are not used on CI, they are for developers' use only, so we could have an option to disable or strip all exports on CI

[2020-04-03 17:22] electrum commented on #1109
For tracking, peak usage, I'd add `peak` fields to `QueryContext` and have `updateUserMemory()` and `updateSystemMemory()` update the peak fields.

There's not really a concept of a "node" for a query. The coordinator only sends tasks (single stages) to workers. I think it makes sense to return the peak memory as part of the task information, probably in `TaskStats`. The coordinator would then cho

[2020-04-04 06:05] #3191 closed

[2020-04-04 11:58] arghya18 opened #3338 "Presto worker crush with fatal error on JVM"
Presto worker crushed with below error, its occasional but this causes failure to all queries

[code]

Below is jvm properties
OpenJDK Runtime Environment (build 1.8.0_242-b08)

[code]

[2020-04-04 21:29] bendemott commented on #3251
@vincentpoon

I experimented this afternoon, something akin to this resolved the issue, I'll get a PR tomorrow.
[code]

[2020-04-05 09:59] HaloKo4 opened #3344 "Add RENAME Table"
In MySQL there are:
[code]

Both are equivalent however RENAME TABLE gives more flexibility for example:
[code]

This helps to switch between tables (from stage to prod) without risk as this is an atomic.

Reference: https://dev.mysql.com/doc/refman/8.0/en/rename-table.html

[2020-04-05 20:18] sopel39 commented on #1109
@electrum Although this is true having node query peak memory utilization would be useful to identify queries close to memory limit per this issue descrition

[2020-04-06 01:25] ebyhr opened #3348 "Mongo connector throws "not authorized on db to execute command" when Presto cannot access system.views"
If Presto service user doesn't have permission to access `system.views`, every access to a Mongo table fails with `not authorized on db to execute command` error from Mongo.

https://github.com/prestosql/presto/blob/3366910fb95681be013cf7123806fcfda3a39775/presto-mongodb/src/main/java/io/prestosql/plugin/mongodb/MongoSession.java#L608-L613

Using [type](https://docs.mongodb.com/manual/reference/co

[2020-04-06 01:32] ebyhr commented on #734
Going to close this issue because nested field is already supported. Please reopen if @abz53378's suggestion doesn't work.

[2020-04-06 01:32] #734 closed

[2020-04-06 09:24] asartawi commented on #1855
@findepi Thanks for the good work, what is holding this from being released?

[2020-04-06 17:25] Praveen2112 commented on #3114
[code]
#3196

[2020-04-06 21:30] dain commented on #3114
[code]
#2679

[2020-04-06 22:00] KentonParton commented on #2987
So I don't run into the same issue har5havardhan has, what are the latest stable versions of prestosql and Ranger that work together?

Will prestosql here: https://repo1.maven.org/maven2/io/prestosql/presto-server/331/presto-server-331.tar.gz
and ranger branch: https://github.com/apache/ranger/tree/ranger-2.0
work together?

[2020-04-06 23:32] martint commented on #3114
[code]

https://github.com/prestosql/presto/issues/2730

[2020-04-06 23:34] martint commented on #3114
[code]

https://github.com/prestosql/presto/pull/3175

[2020-04-06 23:35] martint commented on #3114
[code]

https://github.com/prestosql/presto/pull/2743

[2020-04-06 23:37] martint commented on #3114
SPI
[code]

https://github.com/prestosql/presto/pull/3183

[2020-04-06 23:40] martint commented on #3114
BigQuery

[code]

#3131

[2020-04-06 23:42] martint commented on #3114
SPI
[code]

https://github.com/prestosql/presto/pull/3246

[2020-04-07 00:40] bolkedebruin commented on #2987
@KentonParton no. The above linked issued has a patch that works with Presto 331. I think you need to be below 321 to have ranger 2.0 work

[2020-04-07 06:24] findepi commented on #3114
[code]

https://github.com/prestosql/presto/pull/3231

[2020-04-07 06:28] findepi commented on #3114
[code]

https://github.com/prestosql/presto/pull/3255

[2020-04-07 06:30] findepi commented on #3114
[code]

https://github.com/prestosql/presto/pull/3284

[2020-04-07 07:59] findepi opened #3364 "Flaky test TestConnectorEventListener.testConnectorEventHandlerReceivingEvents"
[code]

[2020-04-07 08:01] findepi commented on #3364
When run locally, this test fails 50% times.

cc @s2lomon

[2020-04-07 10:22] s2lomon commented on #3364
Thanks for noticing. I will increase the timeout for now.

[2020-04-07 11:58] s2lomon commented on #3364
@findepi here is the pr: https://github.com/prestosql/presto/pull/3369

[2020-04-07 14:48] KentonParton opened #3370 "Building prestosql (master branch) fails in presto-mysql: compilation failure"
When running `./mvnw clean install -DskipTests` against presto master branch, it fails in the presto-mysql directory with the following error trace:

`
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.0:compile (default-compile) on project presto-mysql: Compilation failure: Compilation failure:
[ERROR] /Users/kentonparton/prestosql/presto/presto-mysql/src/main/java

[2020-04-07 18:22] arghya18 opened #3373 "Presto Cannot read SQL type decimal(38,24) from ORC stream column name of type INT"
I am trying to read a external table from presto and for which the data type of one column changed from INT to decimal, so the older ORC files have the column as INT but newer one have decimal.
So the datatype of current external table is decimal

But unfortunately presto is not able to read that column and throws the below error, however the datatype has expanded and expected to read the files wi

[2020-04-07 18:47] martint opened #3374 "Cryptic error when function declaration uses non-canonical type name"
Given this function:

[code]

`SELECT test(1)` fails with:

[code]

The query succeeds if the canonical name for the `integer` type is used in the function argument declaration: `@SqlType("integer")`

Ideally, this should work for both type synonyms, but at a minimum, we should improve the error message.

[2020-04-07 20:59] kosinsky opened #3377 "Add editing-mode property to switch between emacs/vi modes in presto-cli"
Presto-cli relies on JLine3 for console operations. jline3 removed support for `.inputrc` settings as a result presto-cli doesn't support vi key bindings anymore.

Later, support for vi/emacs edit mode was [added](https://github.com/julianhyde/sqlline/pull/198) in different form to use it we could add `--editing-mode=vi/emacs` flag.

We could use the same pattern as sqlline: https://github.com/jul

[2020-04-07 21:15] martint commented on #3114
Elasticsearch
[code]

https://github.com/prestosql/presto/pull/3347

[2020-04-07 22:00] KentonParton commented on #2987
@bolkedebruin Have these changes been applied to any of the ranger branches yet? Personally, I am am just testing Presto and Ranger so if I can avoid running patches that would be great.

If patching is the only option, how do I go about running it? From what I have read, you have to run it on each file that needs to be updated. Is that correct?

Thanks for the help.

[2020-04-07 22:14] sopel39 commented on #3373
@arghya18 Are you sure Hive reads correct decimal values for old files?

[2020-04-08 01:24] ebyhr commented on #3364
Going to close this issue since af42e81 was already merged.

[2020-04-08 01:42] chhsiao90 opened #3379 "Presto failed when MongoDB has a dollar sign as their field name"
According to [Document - Field Names](https://docs.mongodb.com/manual/core/document/#field-names)

Otherwise, starting in MongoDB 3.6, the server permits storage of field names that contain dots (i.e. .) and dollar signs (i.e. $).

It's valid to have dollar signs in their field name.

For a given document:

[code]

Presto generate schema

[code]

And presto throw exception as dollar sign is not a

[2020-04-08 01:44] chhsiao90 commented on #3379
I can create a pull request if it's ok to just bypass field which starts with a dollar sign.

[code]

[2020-04-08 02:21] ebyhr opened #3380 "SHOW CREATE TABLE fails if row type column contains special character"
Steps to reproduce
[code]

[code]

[2020-04-08 02:25] ebyhr commented on #3379
Thanks for your investigation. Did you try quoting the field in `_schema` collection? If just quotation resolves it, it's better than bypassing.

[2020-04-08 02:27] chhsiao90 commented on #3379
I hadn't tried quoting the field in the _schema collection. I will try it, thanks for the advise.

[2020-04-08 03:25] groobyming commented on #3299
Thanks for your help @Praveen2112

[2020-04-08 03:25] #3299 closed

[2020-04-08 04:22] chhsiao90 commented on #3379
I tired quoting the field in the _schema, I can get the metadata of the table (`describe table` or `information_schema`), but I'm still not able to query the table.

The quoted field is de-quoted after `typeManager.fromSqlType(typeString)` was called.
`row("$dollar" type)` -> `row($dollar type)`.
So same exception will be thrown during the REST api called like "updating task" or "getting task summ

[2020-04-08 04:56] ebyhr commented on #3379
I can select the table as below. Could you share the latest `_schema` collection?
[code]

[2020-04-08 05:56] chhsiao90 commented on #3379
It looks like it's working now, maybe I'm doing something wrong. I will check if I can create a unit test for this issue and create a pull request.

Thanks!

[2020-04-08 07:09] findepi commented on #1558
from https://docs.aws.amazon.com/athena/latest/ug/handling-schema-updates-chapter.html

@pettyjamesm do you happen to know if this is Athena-specific or true for Hive 2, 3 as well?

[2020-04-08 07:52] #3274 closed

[2020-04-08 07:53] findepi commented on #3114
[code]
https://github.com/prestosql/presto/issues/3274
https://github.com/prestosql/presto/pull/3288

[2020-04-08 08:23] findepi opened #3385 "SHOW CREATE TABLE fails for Elasticearch connector"

[2020-04-08 08:35] findepi commented on #3373
@arghya18 what if you `SELECT date_key .. ` only?
can you also run `SET SESSION your-catalog-name.orc_use_column_names = true;` before the query?

[2020-04-08 08:42] findepi commented on #3370
ongoing discussion https://prestosql.slack.com/archives/CP1MUNEUX/p1586276767127200

[2020-04-08 09:05] rclaude opened #3387 "Cryptic error when function declaration uses uppercase field name"
similar to https://github.com/prestosql/presto/issues/3374

The problem is fixed by lowercasing the row field name upperCaseField
I'm not sure if the solution is to add back the support for uppercase or to add sanity check that can report a less cryptic error at plugin initialization time.

To reproduce:

`
import com.google.common.collect.ImmutableList;
import io.airlift.slice.Slice;
import io.pr

[2020-04-08 09:39] findepi opened #3388 "'Capture Snapshot' on worker's page should group threads with similar stacktrace"
Possibly with https://github.com/airlift/stackfold

[2020-04-08 09:57] arghya18 commented on #3373
Yes HIVE is able to read the old files and return correct values.

[2020-04-08 10:05] arghya18 commented on #3373
@findepi : If we only select date_key then also its same error and if you exclude date_key then everything works.
I have also tried running after setting your-catalog-name.orc_use_column_names = true; but got the same issue.

[2020-04-08 12:06] ebyhr commented on #3380
Additionally, select statement fails if the field is nested like this.
[code]

[2020-04-08 15:37] martint commented on #3114
Elasticsearch
[code]

https://github.com/prestosql/presto/pull/3381

[2020-04-08 15:58] electrum commented on #3114
Hive
[code]
#3209

[2020-04-08 16:01] electrum commented on #3114
JDBC Driver
[code]
#3188

[2020-04-08 16:04] electrum commented on #3114
General
[code]
#3215

[2020-04-08 16:12] electrum commented on #3114
Hive
[code]
#2116

This will require adding an anchor before "Alluxio Catalog Service" in `connector/hive.rst`

[2020-04-08 16:30] electrum commented on #3114
General
[code]
#3250

[2020-04-08 16:32] electrum commented on #3114
Elasticsearch
[code]
#3265

[2020-04-08 16:32] electrum commented on #3114
Hive
[code]
#3265

[2020-04-08 16:34] electrum commented on #3114
Hive
[code]
#3265

[2020-04-08 16:35] electrum commented on #3114
Hive
[code]
#3265

[2020-04-08 16:37] electrum commented on #3114
Hive
[code]
#3144

[2020-04-08 16:40] electrum commented on #3114
Hive
[code]
#3366

[2020-04-08 16:43] electrum commented on #3114
Hive
[code]
#

[2020-04-09 00:04] #3114 closed

[2020-04-09 00:18] KentonParton commented on #2987
Found out how to apply the patch.

After applying the patch to ranger (master branch) and executing `enable-presto-plugin.sh` successfully, it appears that Ranger only has access to Presto catalogs and not schemas, tables, columns.

Connection to the Presto UI http://localhost:8080/ui/ and from an IDE is refused. Is anyone else experiencing this?

[2020-04-09 01:04] #3379 closed

[2020-04-09 02:37] martint opened #3391 "Release notes for 333"
## Dain Sundstrom
- [x] all checked
-  04-13 16:51:46    065338a4cc Fix missing cast in generated serialize of StateCompiler
## David Phillips
- [x] all checked
-  04-09 09:50:18    1ab307ca57 Ensure OrcDataSink is closed when flush fails
-  04-10 22:02:34    5f31a013f5 Use testcontainers:elasticsearch version from bom
-  04-10 22:02:34    840d589dbb Update testcontainers to 1.13.0
-  04-15 11:40:

[2020-04-09 06:36] tooptoop4 commented on #2960
@findepi it works in prestodb 220

[2020-04-09 13:18] #3329 closed

[2020-04-09 13:39] yuokada opened #3394 "Add the starts_with function to determine whether a string starts with a pattern"
In our use case, we mainly use `position()` function to determine whether a string starts with a pattern.

However, `position()` function is a little inefficient to determine it.

As far as I investigate, regardless of the length of 1st string argument, `starts_with` function is 20~30% faster than `position` function in our use case.

link: https://gist.github.com/yuokada/2c2f0c396be4f15a344802bf2

[2020-04-09 13:47] brianolsen87 opened #3395 "Add support for built in es custom date formats"
Elasticsearch [supports a wide array of date formats](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-date-format.html) and currently [the elasticsearch connector supports no custom formats](https://github.com/prestosql/presto/blob/master/presto-elasticsearch/src/main/java/io/prestosql/elasticsearch/ElasticsearchMetadata.java#L218). We should support some of the built in cu

[2020-04-09 16:26] martint commented on #3394
A dedicated function for this shouldn't be necessary. You can achieve this easily with `LIKE`:

[code]

[2020-04-09 16:47] electrum commented on #3394
Is the string you are searching for a constant?

[2020-04-09 23:33] martint opened #3398 "Incorrect handling of row expressions in VALUES"
Row value expressions in the context of `VALUES` are currently handled incorrectly. For example, the following query:

[code]
fails with:

[code]

Per the SQL specification, a row value expression can be either a `row value constructor` or a `row value special case`. A `row value constructor` is either an explicit constructor of the form `ROW(1, 2, ...)` or `(1, 2, ...)`, or an implicit one in the

[2020-04-09 23:57] martint opened #3399 "Reduce RPM size"
The RPM is ~1015MB. This is close to the 1GB limit allowed by Sonatype, so we need to reduce it to avoid finding ourselves unable to release Presto.

Rehashing one idea from @electrum and @findepi, when building the RPM we could relocate libraries that are common across multiple plugins to a `/shared` folder and replace them with symlinks.

~We should also consider adding a check to the build to e

[2020-04-10 01:31] yuokada commented on #3399
Duplicate: https://github.com/prestosql/presto/issues/2530 ?

[2020-04-10 01:46] martint commented on #3399
Indeed! I forgot I filed that one. I'll close the other one, since this one is more current and has a couple more details on possible things to do.

[2020-04-10 01:46] martint commented on #2530
Replaced by #3399

[2020-04-10 01:46] #2530 closed

[2020-04-10 01:51] yuokada commented on #3394
As far as I investigate, my queries use a constant for 2nd argument.
So I assume I can use LIKE operator instead of starts_with function.

@nurse Just in case, could you explain the detail of our use case? I might not understand our use case and your intent fully.

[2020-04-10 01:55] miniway commented on #3394
It could search for a constant of a variable in real. We mainly focused on the performance as `position() = 1` and `like 'str%'` were slower to find out whether an input starts with given string on billions of records.

[2020-04-10 02:05] martint commented on #3394
That's something that could be optimized inside Presto. If it finds the user is checking for that pattern, it could swap the implementation for a more optimized approach.

[2020-04-10 02:24] nurse commented on #3394
The use case is... we develops a marketing tool. Marketers want to create a segment in which there're people who visited our we pages under `/food/` for example. Since it queries about tens of million records, we want to improve performance.

It doesn't matter the performance is dedicated function or certain optimizations like `position(str) = 1` or `str LIKE `prefix%` if it's actually implemented

[2020-04-10 04:15] martint commented on #3394
Thanks for describing your use case. In that case, I would suggest that:
* we add the `starts_with` function as proposed
* we add an optimization that detects patterns of the form `xxx%` and rewrites them to a call to `starts_with`. This can be done by updating the DesugarLikeRewriter optimizer.

These two improvements can be done separately.

[2020-04-10 05:29] findepi opened #3401 "CI check that server tar.gz and RPM do not go above 1GB"
Extracted from #3399:

We should also consider adding a check to the build to ensure no artifact crosses the 1GB limit. This will allow us to catch PRs that will get us over the edge before they get merged.

(See #3399 for rationale)

[2020-04-10 07:43] martint commented on #3391
[code]

#3218

[2020-04-10 12:22] sopel39 commented on #3391
[code]
https://github.com/prestosql/presto/pull/3407

[2020-04-10 17:47] dain commented on #2987
Looking at the stack I don't see how a NPE is possible there unless there is a custom system access control installed that implements `filterViewQueryOwnedBy` as `return null`

[2020-04-10 17:51] bolkedebruin commented on #2987
If you want Presto > 317 take the latest patch from here: https://issues.apache.org/jira/browse/RANGER-2754 . It is undergoing review and has unit tests.

NPEs can happen with Ranger if Ranger does not find a config file unfortunately. So make sure ranger has a proper config file.

[2020-04-10 17:53] gauravphoenix opened #3410 "Support spill over when writing sorted data in hive buckets"
Most applications can easily generate partitioned data files and upload them directly to s3. Presto can directly query these files. However, for performance reasons, it is often highly desirable to bucket the data. Further, if the bucketed data is sorted, the performance will be even better.

For example, let us say that we have a source table `data` with schema (`CREATE TABLE data (value string )

[2020-04-10 18:04] bolkedebruin commented on #2987
Patch has been updated and should not throw this NPE anymore @dain @KentonParton

[2020-04-10 18:42] KentonParton commented on #2987
@bolkedebruin thank you for updating the patch I will give it a try this evening.

Regarding the policies set in Ranger. When I limit a users access to anything other than full access, the following is displayed.

[code]

I am  connecting to presto with the user "kentonparton" and this is the policy that I have created in Ranger.
![image](https://user-images.githubusercontent.com/20202312/79014525

[2020-04-10 19:16] alexey-fin opened #3411 "NPE when inlining try() to a NULL value"
Caused by: java.lang.NullPointerException
    at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:877)
    at com.google.common.collect.ImmutableList$Builder.add(ImmutableList.java:788)
    at java.base/java.util.stream.ReduceOps$3ReducingSink.accept(ReduceOps.java:169)
    at java.base/java.util.stream.ReferencePipeline$3$1.accept(ReferencePipeline.java:195)
    at java.base/j

[2020-04-10 19:39] electrum commented on #3410
Writing sorted bucketed tables already uses spilling. The data is written to sort temporary files on the target file system (related #2301 to allow using local disk). The sort buffer size is controlled by `hive.writer-sort-buffer-size` which defaults to 64MB. These files are then merged together, possibly in multiple passes.

The total distributed memory requirement will thus be 64MB * 1024 (bucke

[2020-04-10 20:25] bolkedebruin commented on #2987
You will need to create policies at the Catalog level, Schema level and Table level in order to ensure access.

Access determination does not drill down to lower levels. The default policy is deny and as such the first check will indeed end up with an access denied.

[2020-04-10 21:08] #3411 closed

[2020-04-11 03:51] yuokada commented on #2760
link: https://github.com/prestodb/presto/issues/14066

[2020-04-11 08:37] tooptoop4 commented on #2987
@bolkedebruin what policies should be created to allow just 1 tbl? use priv at catalog?

[2020-04-12 05:06] electrum commented on #1109
@sopel39 I agree it’s useful. My point is that we already have infrastructure to track task information, so it seems better to utilize that, rather than creating a new channel. If we later need more query/node information, it might make sense to create a new channel and move this there. But that seems overkill for this purpose.

@dain might have more thoughts here.

[2020-04-12 19:17] findepi opened #3415 "Kudu tests cannot be run on Mac"
Currently tests like `TestKuduDistributedQueries` run on CI but cannot be run on Mac.

[code]

[2020-04-12 21:10] findepi commented on #3415
Maybe we should convert the tests into product tests?

[2020-04-12 21:22] findepi opened #3416 "Kudu query fails in case of pushed down predicate over varbinary"

[2020-04-13 04:53] prestosql-history-doc commented on #3298
Hi @martint, a follow-up question, why should `GROUP BY ()` implies in such condition?  In version 310,  this is just the same as the `WHERE` clause. Any reasons behind this change?

[2020-04-13 19:28] knwg145 opened #3423 "Support loading Authenticator plugins"
Wanted to see if there was any work or potential issues with supporting authenticators as plugins

[2020-04-13 20:04] tooptoop4 commented on #3423
like https://github.com/ddrinka/presto-password-authenticators-cognito or
https://gist.github.com/afranzi/fab883ad94ebce064819a643337639d7 ?

[2020-04-13 20:07] gauravphoenix commented on #3410
awesome, thanks @electrum . I will play with the configuration options.

[2020-04-13 20:07] #3410 closed

[2020-04-13 22:19] #3394 closed

[2020-04-14 10:13] MohammedLayeeq opened #3426 "Is Presto-phoenix connector support kerberos enabled phoenix5.0.0(Hbase 2.0.0)"
Hi Team,
Let us know
Is Presto-phoenix connector support kerberos enabled phoenix5.0.0(Hbase 2.0.0)

[2020-04-14 10:23] chenjian2664 opened #3427 "Decimal Fields can not use `IN` statement more than 32 values."
Presto will throw exception like 'Compiler failed' while use `IN` statement on a decimal field (the size of value  more than 32).

Presto version is 330.(version 310 do not have this problem)

For example:

The table table_test schema:

        Column         |     Type      |     Extra     | Comment
-----------------------+---------------+---------------
a                         | decimal(20,0)

[2020-04-14 10:23] emerson-zhao commented on #1839
How's it going now?

[2020-04-14 11:03] findepi commented on #3427
@chenjian2664 thanks for reporting the issue!

this was fixed in Presto 332 (https://github.com/prestosql/presto/issues/3191)
Can you please upgrade and verify this works OK in your case too?

[2020-04-14 11:03] #3427 closed

[2020-04-14 13:46] Praveen2112 commented on #3415
If Docker's networking problem wrt to Mac exists then we have to convert them to product tests..

[2020-04-14 18:05] electrum commented on #3423
Password authenticator plugins are fully supported: https://prestosql.io/docs/current/develop/password-authenticator.html

[2020-04-14 18:15] losipiuk opened #3430 "Rubix cache does not gracefully handle purging cache directory"
Presto with **Rubix** caching enabled (`hive.cache.enabled=true`) does not gracefully handle removing all content from directory configured as `hive.cache.location`.

While Presto operates the cache dir contains single subdirectory `fcache` with directory hierarchy matching cached content. If `fcache` is deleted, while Presto node is running, subsequent queries which would normally used cached dat

[2020-04-14 19:17] gauravphoenix commented on #2296
I got to know this issue while discussing #3410. I tried setting `hive.writer-sort-buffer-size` to a high value such as `512MB` on a high memory machine. Although I no longer query memory size exceeded error, the insert takes forever to finish. The bottleneck being upload of temporary files.

To make things worse, when the insert query is aborted the `.tmp-sort...` files uploaded to the s3 target

[2020-04-14 19:51] electrum opened #3431 "Allow mixed case partitions for Hive sync_partition_metadata"
The Hive `system.sync_partition_metadata` procedure allows discovering partitions on the file system that match the Hive naming convention. For compatibility with Hive's `MSCK REPAIR TABLE`, partition names must be in lowercase by default. However, for users that wish to use it with mixed case names, we can add a new `case_insensitive` argument to allow this behavior.

[2020-04-14 20:09] KentonParton commented on #2987
@bolkedebruin I applied the latest patch "0001-RANGER-2754-Upgrade-presto-dependency-and-improve-lo.patch". The queries are coming through to the UI now; however, all queries made from my IDE, DataGrip, are causing a "Query failed internal error NullPointerException". I have tried prestosql release 331 and 332.

Can you confirm that you are or are not seeing this. Thanks