[2021-06-22 11:57] kasiafi commented on #8347
If we change the result returned by `approx_set` for empty input or all nulls, we need to make sure that no other code depends on the assumption that the result is `null`. I recall that we used to have some transformation in the Optimizer which special-handled the few aggregations which don't follow this pattern. That is now removed, but there might be left-overs of this approach elsewhere.

[2021-06-22 13:35] findepi commented on #6132
Still reproducible on current master

[code]

[2021-06-22 13:53] findepi commented on #6132
inserts get rejected

[code]

[2021-06-22 14:46] Ognian opened #8352 "mongodb: how to describe a json field which can have different types in _schema"
I'm using trino with mongodb. I'm trying to write a _schema entry for a mongodb collection. The entries in this collection are described with json schema:
[code]
the entry would look like
[code]
So the interesting point here is that the field `value` can have on of the types listed below.
The only way to express this was to use the json type, BUT this is the error I got:

[code]

The question is h

[2021-06-22 16:45] electrum commented on #8268
This is the source of the Hive error message: https://github.com/apache/hive/blob/rel/release-3.1.2/ql/src/java/org/apache/hadoop/hive/ql/io/orc/OrcRawRecordMerger.java#L1169

[2021-06-22 17:21] electrum commented on #8268
The equality for `ReaderKey` is the tuple `(originalWriteId, bucket, rowId, currentWriteId)`. As @Praveen2112 noted, we end up with multiple rows for the same `(writeId, bucket, rowId)` which is illegal, because they are the same row. We can't change `bucket` because that is based on the declared bucketing column(s).

Assuming this is the issue, then we need to ensure unique row IDs across the wri

[2021-06-22 17:24] electrum commented on #8268
It looks like the current row ID generation has a bug where it gets reset for every page (which is not the cause of this issue but needs to be fixed regardless): https://github.com/trinodb/trino/blob/2734d84245d9fb4cf8de37a675c6938557c4b47c/plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcFileWriter.java#L307-L314

[2021-06-22 18:35] dain commented on #8170
[code]
#7027

[2021-06-22 19:49] kokosing commented on #8170
[code]
#8279

[2021-06-22 20:45] OLMS99 commented on #7864
Howdy, any problem with me helping with this issue?

[2021-06-22 20:59] kokosing commented on #7864
We would be delighted.

[2021-06-22 21:01] m57lyra opened #8354 "Document case-insensitive-name-matching configuration file properties"
From issue [#7841](https://github.com/trinodb/trino/pull/7841) - JSON based object mapping in JDBC connectors:

case-insensitive-name-matching.config-file=mapping.json
case-insensitive-name-matching.config-file.refresh-period=30s

[2021-06-23 00:08] ebyhr commented on #2241
Let us handle in #8349

[2021-06-23 00:08] #2241 closed

[2021-06-23 00:58] rsaw4 commented on #2379
this would be very helpful, as i'm migrating from impala to trino. in impala 1 is sunday, but in trino 1 is monday

[2021-06-23 03:13] cutiechi opened #8356 "Failed to create table"
I can query and insert but cannot create tables

Failed checking path: hdfs://hdfs-name-node-0.hdfs-name-node.bigdata.svc.cluster.local:9820/user/hive/warehouse

But my hdfs cluster port is 8021, not 9820

![图片](https://user-images.githubusercontent.com/27606234/123029212-5a563b80-d413-11eb-97ed-91e1d3c64412.png)

Here is my configuration

[code]

[2021-06-23 05:49] electrum opened #8357 "Implement BYTE_STREAM_SPLIT encoding for Parquet"
See https://github.com/trinodb/trino/pull/8338

[2021-06-23 06:02] #8356 closed

[2021-06-23 08:48] Yann-J opened #8358 "Elasticsearch: query fails on multi-fields"
Currently Trino supports `nested` objects with child properties really well.

So e.g. this field mapping:

[code]

allows us to query for `clientPhoneNumbers.phoneNumber` and `clientPhoneNumbers.phoneNumberPriority`.

However, from my experience it seems there is no support for [multi-fields](https://www.elastic.co/guide/en/elasticsearch/reference/master/multi-fields.html), i.e. regularly-typed (n

[2021-06-23 09:16] lucasaytt opened #8359 "Partitions are fetched without pruning on metastore side from Hive thrift metastore"
![image](https://user-images.githubusercontent.com/42641861/123070882-bab2a080-d446-11eb-8b1f-56b3c6c0a32a.png)

[2021-06-23 10:32] cpsnowden opened #8360 "JDBC - Allow MAX_QUEUED_ROWS to be configured in PrestoResultSet"
When a JDBC call is made, the result set contains a buffer of up to 50k (N) rows (https://github.com/trinodb/trino/blob/master/client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoResultSet.java#L108).

Can we make this (N) configurable to allow tuning of the buffer to manage memory constraints in an application?

- via a JDBC property
- via a System property

[2021-06-23 10:49] hashhar commented on #8358
Today multi-fields aren't supported. But there has been past discussion to support them since they seem to be frequently used in ES (and other Lucene derivatives).

See this Slack thread for some past discussion - https://trinodb.slack.com/archives/CFLB9AMBN/p1622371797180400?thread_ts=1622364683.179700&cid=CFLB9AMBN.

[2021-06-23 12:37] lucasaytt commented on #8359
![image](https://user-images.githubusercontent.com/42641861/123097553-d62ba480-d462-11eb-8963-08b4b9d0e6d0.png)

get partition value is null

[2021-06-23 13:33] reugn opened #8364 "Error in DELETE and UPDATE statements using an existing primary key ColumnHandle"
I get an error

`Query 20210623_130429_00001_ysiiv failed: Multiple entries with same value PK_name=MyColumnHandle{ ... } and field=MyColumnHandle{ ... }`

on queries of type

[code]
[code]

When returning the existing primary key `ColumnHandle` from ConnectorMetadata.getDeleteRowIdColumnHandle
and ConnectorMetadata.getUpdateRowIdColumnHandle in a custom Trino plugin.

The queries succeed with reg

[2021-06-23 13:49] ebyhr commented on #8352
As far as I know, there is no simple solution except for your `varchar` workaround. Let me label as `enhancement`.

[2021-06-23 15:20] findepi opened #8365 "Show transaction in Web UI's query details"
When query is run in non-autocommit mode, show transaction in Web UI's query details

[2021-06-23 17:40] dain commented on #8170
[code]
#7954

[2021-06-23 18:20] hashhar commented on #8170
[code]

https://github.com/trinodb/trino/pull/8134

[2021-06-23 18:38] hashhar commented on #443
Closing as cannot be reproduced after https://github.com/trinodb/trino/commit/01670f3ffc4ba8535fabfaddac853e4b451fe91b.

Fixed by the driver upgrade as suspected.

[2021-06-23 18:38] #443 closed

[2021-06-23 21:15] findepi commented on #8359
@lucasaytt can you please help me reproduce the bug?
what SQL statements should i run to create a test table? please provide CREATE, INSERT and SELECT that reproduces the issue.

for anyone else looking into this, the code from screenshot is here:
https://github.com/trinodb/trino/blob/d95eafe397fe4b476b2b1a73baeb7643349d4bdb/plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/MetastoreU

[2021-06-23 21:26] rijojoseph07 opened #8368 "Hive transaction heartbeat not cancelled even after query failure."
We came across a weird issue with querying hive tables via presto (347) - We ran a query (q1) via JDBC on the table (t1) which acquired a SHARED_READ lock the table t1. Then there was a socket timeout at the client-side and this query got terminated. But the lock was never released since HMS was getting heartbeat and the cleaner was not clearing this lock.

`TXN_LAST_HEARTBEAT` is getting updated

[2021-06-24 00:29] Anonymitaet commented on #7852
@bitsondatadev OK. After the blog is out, we can provide editorial review if you need it.

[2021-06-24 03:23] lucasaytt commented on #8359
yep，you can create a partition table like
 creaet table temp.temp_test(col_1 string) partitioned by (dt string, hour string)
then you can select col_1 from temp.temp_test where dt='xxx'

when i query the same partition table on trino 356 version,the log like this
![image](https://user-images.githubusercontent.com/42641861/123197380-03696880-d4de-11eb-9685-0a468fa4686a.png)

when i query the same p

[2021-06-24 06:27] ic4y commented on #8341
I need your help. Why is that

[2021-06-24 08:50] kasiafi commented on #8347
This is from the spec. The context of this note is row pattern recognition, but is seems to reflect a general rule.

[2021-06-24 09:30] jerryleooo commented on #8140
@hashhar glad to see the function/expression pushdown is considered, may I know if there is an overall roadmap for this? So we can see what progress it is right now. I guess some work still needs to do after #7994 merged?

[2021-06-24 11:39] findepi commented on #443
🎉  thanks @hashhar for taking time to check that.

[2021-06-24 14:00] Ognian commented on #8352
@ebyhr it gets even funnier:
when using superset as the frontend and having an address field with subfields street, zip, city, country.
If I define it in _schema of type: `row("street" varchar,"zip" varchar,"city" varchar,"country" varchar)`
the it is displayed as an array:
<img width="216" alt="image" src="https://user-images.githubusercontent.com/1231174/123274963-3b83a200-d504-11eb-8904-ea0f31d

[2021-06-24 18:05] sumannewton opened #8380 "Fix flaky test `testAlias()` in BaseElasticsearchConnectorTest"
Test `testSelectInformationSchemaColumns()` asserts query
https://github.com/trinodb/trino/blob/ea5d9889b0844e83ca90673fff529632931e2561/testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java#L664-L666.

But another test `testAlias()` creates alias by name `orders_alias` which runs always after the latter test. If `testAlias()` runs before the latter then the above assert fail

[2021-06-24 18:09] hashhar commented on #8380
Thanks @sumannewton . Do you want to send in a PR for this? Fixing flaky tests is a very welcome improvement.

[2021-06-24 18:10] sumannewton commented on #8380
In few mins I am requesting a PR.

[2021-06-24 18:36] electrum commented on #8347
That users can workaround this in their query if they want the empty set behavior
[code]

[2021-06-24 18:46] losipiuk commented on #8347
Thanks for comments. Seems like current semantics is reasonable. Closing as a wont-fix

[2021-06-24 18:46] #8347 closed

[2021-06-24 19:08] electrum commented on #8268
Note that long term we could switch to the first strategy of single writer per bucket, after merge lands and we change the implementation of update/delete to use the merge connector APIs, which support redistribution.

[2021-06-24 20:13] findepi commented on #8368
can this be because of the `commit()` here https://github.com/trinodb/trino/blob/5cec3fd3f8be00946f6fddfdce0c5e24ecacc971/plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/SemiTransactionalHiveMetastore.java#L1314 ?

see also question here https://github.com/trinodb/trino/pull/5402/files#r657467641

[2021-06-24 21:35] bitsondatadev opened #8383 "Add the trino namespace to the _meta properties in the Elasticsearch connector"
Currently array types in Elasticsearch are defined by the [definitions nested in the Elasticsearch _meta field](https://trino.io/docs/current/connector/elasticsearch.html#array-types). The namespace used to differentiate the Trino configs still uses `presto` vs `trino`.

We should update that to reflect the rename and use `_meta.trino` instead but keep backwards compatibility with the `presto` nam

[2021-06-25 04:45] findinpath commented on #7698
Here is a comparison between Presto/Trino & Spark

https://www.concurrencylabs.com/blog/starburst-enterprise-vs-aws-emr-sql-tpcds/

[2021-06-25 05:16] hashhar commented on #7698
Another big difference is the breadth of connectors Trino has (see the list https://trino.io/docs/current/connector.html).

Also Trino can push-down many operations to the underlying system to reduce data movement. For example if you use a JDBC source to create a data-frame in Spark it cannot push-down things like JOINs, aggregation functions etc. Spark pulls the entire raw data and then performs

[2021-06-25 05:16] hashhar commented on #7698
Feel free to join our [Slack](https://trino.io/slack.html) and continue the conversation there.

There are more people there who use both Spark + Trino or have been where you are making a decision to choose what to use. So they can share their inputs and findings too.

[2021-06-25 06:15] #8311 closed

[2021-06-25 06:23] losipiuk commented on #8170
[code]

#8311, #8313

[2021-06-25 09:00] jerryleooo commented on #8
@martint does this mean that if when we use function with namesapce, like `druid.func1(col1)`, then it will be Druid to execute the `func1(col1)`(function pushdown) instead of Trino?

[2021-06-25 09:20] caneGuy commented on #1324
https://github.com/trinodb/trino/pull/6977/files @pan3793 i think this is related work

[2021-06-25 10:10] jerryleooo opened #8386 "Roadmap of being a "gateway" for other data sources"
Firstly thanks so much for the hard work of the community. As we all know that Trino is "SQL on Everything", but for a general query engine or "gateway" for other data sources, I think some works still need to do. Since I could not find an overall plan for this, I create this issue as the roadmap to record the progress, and welcome all the ideas.

The important features in my opinions include:

-

[2021-06-25 11:02] kokosing commented on #8386
If parse finds a function then it is surely a Trino function. Then if possible we could try to pushdown such function execution to remote data source. This is supported for connectors for aggregation functions only.

[2021-06-25 12:02] academy-codex commented on #8352
Looks interesting. @ebyhr If you're not taking it up I can have a look.

[2021-06-25 12:19] ebyhr commented on #8352
@academy-codex I implemented half of this enhancement locally, but please feel free to take it. The point is json generated by `Document.toJson()` is little different from Trino json response.

[2021-06-25 13:34] jerryleooo commented on #8386
Hi @kokosing thanks for the reply.

I know it is the current situation, but from https://github.com/trinodb/trino/issues/8140#issuecomment-854494899 I think there is future plan to support datasource-specific function? Then how about the idea of adding function namespace to make the parser easier?

I know it is the current situation, but from #7994 I think there is effort to push other functions d

[2021-06-25 15:02] hashhar opened #8391 "Verify ClickHouse clusters can be queried as well in addition to singlenode setups"
ClickHouse can be deployed a single-node server or as a cluster of servers.

See https://clickhouse.tech/docs/en/getting-started/tutorial/#cluster-deployment.

We should have tests (maybe product tests) to verify it works with cluster based deployments as well.

Most likely the JDBC driver is already handling this for us but it's not tested.

[2021-06-25 16:48] SamWheating commented on #5518
I believe that this is fixed by this PR:
https://github.com/apache/parquet-mr/pull/910

Which should be included in Parquet 1.13.

[2021-06-25 18:23] lerenah opened #8393 "Added Support for WKB in trino"
Hello and thanks for all the hard work!

I recently configured our postgres connector to return varchar for geography objects in trino.  Initially, it would not resolve the column as trino doesn't map geography(Point, 4236) types into it's own Geospatial types. Once I added the unsupported-type-handling to the connector, it returned the binary representation in string format.  Naturally, I thought

[2021-06-25 18:57] alec-heif commented on #6754
@martint just wanted to bump this issue since another of our users hit this today.

[2021-06-25 19:04] alec-heif commented on #6819
Just wanted to bump this issue - until https://github.com/trinodb/trino/issues/6754 is resolved, our users have no way to perform interval operations on sub-millisecond time intervals, and so we have been forced to tell them to have a duplicate column of their data with the raw nanoseconds-since-epoch.

However if they already used the native TIMESTAMP(9) type and they then want to retroactively e

[2021-06-25 20:03] kokosing commented on #8386
Not exactly. That depends on connector if Trino function has an equivalent function in remote data source we can try to push down the function execution there, but it does not mean that data source specific function will be available in Trino SQL.

Function is just one of expression forms. We do not push down expressions, but operations like filter, join, projection, aggregation, limit,  sort. Ope

[2021-06-26 14:16] caneGuy opened #8396 "Support read hbase-site.xml conf from remote dfs for Phoenix connector"
Imagine a scene: we got a trino cluster but we do not want to put hbase-site.xml on the local path, since we may add new worker by auto scaling.
So we can support load hbase-site.xml from remote dfs for Phoenix connector

[2021-06-26 14:17] caneGuy commented on #4115
hi @kokosing we have some related work in our innner version, can i submit a pr for this? thanks

[2021-06-26 15:27] joshthoward commented on #4115
@caneGuy this has also come up recently at Starburst. We were planning on working on it, but if you already have something feel free to raise a PR.

[2021-06-26 22:48] findinpath commented on #8360
@electrum  can you please share your thoughts on this issue?

I see via git blame that it originates from you: https://github.com/trinodb/trino/commit/73e5738ade6c1b6ced334fb3aac3531b66a2a4de

[2021-06-27 00:49] #8264 closed

[2021-06-27 01:00] ebyhr commented on #8170
[code]

#8264, #8321

[2021-06-27 02:16] jerryleooo commented on #8386
cc @martint

[2021-06-27 02:18] ebyhr commented on #7963
Going to close the issue as #7962

[2021-06-27 02:18] #7963 closed

[2021-06-27 08:20] tooptoop4 opened #8398 "GPU support"
Allow processing to make use of GPUs

[2021-06-27 10:57] swetharnaik commented on #8332
@findepi Can I work on this issue?

[2021-06-27 14:33] longtran84 opened #8399 "can't create CREATE SCHEMA"
trino> CREATE SCHEMA web;
Query 20210627_143241_00084_qfy3r failed: createDatabase

[2021-06-27 23:37] ebyhr commented on #8399
Could you share the full stacktrace? You can get `--debug` CLI option or webui.

[2021-06-28 01:43] longtran84 commented on #8399
@ebyhr  i would like send to you logging

trino> CREATE SCHEMA hive.test;
Query 20210628_014206_00010_qfy3r failed: createDatabase
io.trino.spi.TrinoException: createDatabase
        at io.trino.plugin.hive.metastore.alluxio.AlluxioHiveMetastore.createDatabase(AlluxioHiveMetastore.java:259)
        at io.trino.plugin.hive.metastore.cache.CachingHiveMetastore.createDatabase(CachingHiveMetastore.jav

[2021-06-28 02:00] rsaw4 opened #8401 "Cannot overwrite partitioning with SINGLE (currently set to Optional[HASH]) [DB Errorcode=65536]"
Query:
[code]

error:
[code]

prestosql version 336, hive catalog on s3/parquet
note that schema_a.table_a table is empty but schema_a.table_b has some rows.

a workaround to make it work is ```set session  join_distribution_type='BROADCAST'```

but without changing session property or ```set session  join_distribution_type='AUTOMATIC'``` or ```set session  join_distribution_type='PARTITIONED' ```

[2021-06-28 03:31] AllenWod commented on #6670
can you share you document

[2021-06-28 08:10] lucasaytt commented on #8359
hi, What's the progress of the problem now?

[2021-06-28 08:24] kokosing commented on #8399
Alluxio metastore does not support many operation. It does not support `CREATE SCHEMA` or `DROP` or `RENAME`.... Same goes to `CREATE TABLE`. From what I understand it is read-only metastore.

[2021-06-28 08:24] #8399 closed

[2021-06-28 08:25] gilbob20000 commented on #8050
I will try to add some clarifications to my question.

We are trying to query the data according to the id field.
This is the query in Elastic:

    get product_index/_search
    {
    "query": {
    "nested" : {
    "path" : "linked_products",
    "query": {
    "bool": {
    "should" : [
    { "match" : {"linked_products.id" :123}}
    ]
    }
    }
    }
    }
    }

We tried to query the id fi

[2021-06-28 08:28] jerryleooo commented on #1855
Do we have a plan to support push down [filtering during aggregation](https://trino.io/docs/current/functions/aggregate.html#filtering-during-aggregation) (["filtered aggregator"](https://druid.apache.org/docs/latest/querying/sql.html#aggregation-functions) in Druid) ?

[2021-06-28 08:50] jerryleooo opened #8404 "Druid `__time` filter is not pushed down"
In Druid queries, `__time` is a very important filter since applying it narrows down the scan range, otherwise, Druid will do a full table scan, which is very slow and resource-consuming.

Currently, I found the `__time` is not pushed down, not sure if I use it wrongly or the pushdown is not supported yet:

Trino SQL:
`select sum(col1) from <table name> where __time between date'2021-06-01' and da

[2021-06-28 09:03] jerryleooo commented on #1855
Also, is JOIN pushdown supported? The [Druid lookups](https://druid.apache.org/docs/latest/querying/lookups.html) may need it

[2021-06-28 09:09] findinpath commented on #8245
I've analyzed what is happening behind the scenes when referencing an environment property within a .properties file corresponding to a catalog.
While creating the connector in https://github.com/trinodb/trino/blob/master/plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcConnectorFactory.java#L80-L84 an airlift method call will be made where the environment properties are being substit

[2021-06-28 09:33] sopel39 commented on #5519
@OLMS99 take a look at UI files in `core/trino-main/src/main/resources/webapp`

[2021-06-28 09:37] sumannewton commented on #8380
Fixed by #8379

[2021-06-28 09:37] #8380 closed

[2021-06-28 09:38] sumannewton commented on #8380
Fixed by #8379

[2021-06-28 09:51] sopel39 commented on #8341
Which Trino version is this? There have been some improvements for releasing memory in operators recently.

[2021-06-28 12:05] jerryleooo commented on #8404
The result of "explain":

[code]

seems the filter is pushed down, but from what we observed, the scan rows are still full table, not sure if there is issue in `buildSql`

[2021-06-28 13:36] jirassimok commented on #6443
[We're on 0.11 now](https://github.com/trinodb/trino/blob/39b0af8655ac39e24b35d724e88a559e18bdc59e/plugin/trino-iceberg/pom.xml#L18).

[2021-06-28 13:36] #6443 closed

[2021-06-28 15:40] #7521 closed

[2021-06-28 15:41] #7413 closed

[2021-06-28 15:46] hashhar commented on #6910
Fixed by merging https://github.com/trinodb/trino/pull/8060.

[2021-06-28 15:46] #6910 closed

[2021-06-28 15:49] hashhar commented on #5449
Fixed by merging https://github.com/trinodb/trino/pull/8060. MySQL connector now uses `java.time` API avoiding the DST related issues.

[2021-06-28 15:49] #5449 closed

[2021-06-28 15:54] hashhar commented on #8170
[code]

#6910, #7413, #5449 fixed via #8060

[2021-06-28 15:57] tooptoop4 opened #8409 "Support for time zone conversions based on values inside columns"
In below example, f could be an actual table containing 3 string columns.

[code]

[2021-06-28 19:10] sopel39 opened #8410 "TestAccumuloConnectorTest#testView is flaky"
[code]
https://github.com/trinodb/trino/pull/8408/checks?check_run_id=2933585241

[2021-06-28 19:58] martint commented on #8170
[code]

#8248

[2021-06-28 21:51] losipiuk commented on #8170
[code]

#8355

[2021-06-28 22:26] bill-bateman opened #8414 "Kubernetes restarting worker causes Trino to have the wrong IP for the worker"
Hello,

We have an issue when running Trino (352) on Kubernetes. When a worker pod is oomkilled, Kubernetes restarts the pod. The node identifier stays the same, but the pod IP changes. Trino sees the same node id, and assumes the IP is the same. All future queries that try to use that particular worker eventually fail (tries to hit the old IP for the worker). I guess this would happen anytime a w

[2021-06-28 22:57] bill-bateman commented on #8414
Hmm there might be more to this than I thought. Currently unable to reproduce the issue with the steps I laid out.

I was able to reproduce this earlier in the day, but not anymore. Not sure why. Will dig more.

[2021-06-29 00:20] #8236 closed

[2021-06-29 00:25] ebyhr commented on #8170
[code]

#8236, #8283

[2021-06-29 00:31] hankfanchiu opened #8415 "Slack invite link no longer active"
I would like to join Trino's Slack to ask questions and discuss possible changes!

The [URL](https://join.slack.com/t/trinodb/shared_invite/zt-h88upx5f-gVb8XUu16W_jo4I2Cw8ijA) to join the Slack workspace -- hyperlinked on https://trino.io/slack.html and https://trino.io/community.html -- does not seem to be active anymore:

![image](https://user-images.githubusercontent.com/13294681/123719476-7bb1

[2021-06-29 00:44] martint commented on #8415
Thanks for the report. We've updated the link on the website and it should show up there shortly. In the meantime, here's the link: https://join.slack.com/t/trinodb/shared_invite/zt-sbw8lqer-DL3zksjpm6fyIsSQz74MBA

[2021-06-29 00:44] #8415 closed

[2021-06-29 03:01] phd3 commented on #8170
[code]

#8247

[2021-06-29 06:19] hashhar commented on #6220
https://github.com/trinodb/trino/runs/2936575418?check_suite_focus=true

[2021-06-29 09:04] ic4y commented on #8341
Hi @sopel39  thanks for the reply.

I found this problem in both prestoSQl-322 and trino-353 versions.
Which version of the improvements you mentioned was done? I can do the corresponding test.

[2021-06-29 11:44] sopel39 commented on #8341
Actually it will be in 359, see https://github.com/trinodb/trino/issues/8170#issuecomment-855744518

[2021-06-29 12:57] PierreZ opened #8418 "Add new plugin to load sessionCatalogs"
Hi everyone 👋

We would like to open the discussion about merging a new type of Plugin to load `SessionCatalogs`(non-static catalogs attached to a Session given an Identity). We are looking for feedbacks and guidance before opening the pull request.

We are thinking about providing a managed Trino add-on that will allow our customers to query all their datastores using Trino. For this, instead of

[2021-06-29 15:34] #6763 closed

[2021-06-29 16:52] Praveen2112 commented on #8170
[code]

 #8371

[2021-06-29 16:55] Praveen2112 commented on #8170
[code]
#8405

[2021-06-29 16:57] bill-bateman commented on #8414
Got it to happen again - this time on trino-358. Still not exactly sure why sometimes it happens and sometimes doesn't. Might have to have a query running while the trino worker is restarted.

[2021-06-29 16:58] miguelhrocha opened #8421 "InfluxDB connector"
Me and my company would start using Trino in our stack, but in order to present a really competitive package we would miss the InfluxDB connectivity (InfluxQL and Flux).

I would like to start working on it, I might take #2397 (PR seems abandoned since last year) as a basis but I plan to start more or less from scratch.

[2021-06-29 18:05] hashhar commented on #8421
@miguelhrocha Thank you for taking it up.

Feel free to join us on the [Slack](https://trino.io/slack.html) at #dev in case you have any doubts.

I would suggest to keep the initial PR minimal. i.e. support for basic data types (timestamps are not basic) with tests. And we can then iterate on it over time. It makes it easier to review and more likely get merged quickly.

For inspiration see https:

[2021-06-29 18:56] wendigo commented on #8170
[code]

https://github.com/trinodb/trino/pull/8103

[2021-06-29 19:01] bill-bateman commented on #8414
Current theory is that the issue is a bit random, and depends on when exactly the discovery happens (I think discovery is every 5s?).

Scenario 1:
- worker goes down
- discovery happens, Trino sees the worker is no longer there (removes from the list)
- worker comes back up
- discovery happens, Trino sees the worker is back re-adds it to the list (with the new IP)

Scenario 2:
- worker goes down
-

[2021-06-29 19:43] hashhar commented on #8414
Maybe the issue is reusing the node id even if the workers are technically new "instances" of Trino (which they are since it's a whole new container instead of just restarting the JVM).

From the deployment docs:

cc: @electrum this looks like something that can be detected though?

[2021-06-29 20:18] ckdarby commented on #8414
@hashhar This issue will happen even with non-new "instances. If you have anything that is able to reboot in under 5 seconds and or you do a Trino upgrade and switch IPs during that 5 second window the same issue will happen.

This is an oversight in general, just very common in k8s and the tests don't cover it this scenario.

[2021-06-29 21:53] losipiuk commented on #8170
[code]

#8390, #8373

cc: @homar

[2021-06-29 22:22] #8274 closed

[2021-06-29 22:52] pPanda-beta commented on #6254
/keep_fresh

[2021-06-29 22:52] pPanda-beta commented on #6098
/keep_fresh

[2021-06-30 07:31] xubo245 commented on #7117
@hashhar  Why is me？ are there any mistakes？

[2021-06-30 07:53] hashhar commented on #7117
Thanks @xubo245 . I meant to tag @xuboqing instead.

[2021-06-30 08:10] kokosing commented on #8418
Few questions:
 - how do you recycle catalogs?
 - currently each plugin has separate classloader? In your case everything is loaded into single classloader which would surely cause issues.
 - How does the user provides properties for connector to load?
 - How to deal catalog name scope? Can you have two catalogs with the same (for two different users)?
 - Loading catalog is not trivial and may tak

[2021-06-30 08:21] seb-koch commented on #8421
+1. love the idea!

[2021-06-30 08:26] hanson2021 opened #8428 "Access Denied when run SQL command DROP TABLE or ALTER TABLE RENAME TO"
Refer to :https://trino.io/docs/358/security/file-system-access-control.html?highlight=drop%20table

when  run  SQL command : DROP TABLE or ALTER TABLE RENAME TO
trino> create table hive.bi_test.aa1(a int);
CREATE TABLE
trino> select * from  hive.bi_test.aa1;
 a
(0 rows)
Query 20210630_083711_01084_iky9a, FINISHED, 2 nodes
Splits: 17 total, 17 done (100.00%)
0.23 [0 rows, 0B] [0 rows/s, 0B/s]
trin

[2021-06-30 08:45] george-zubrienko commented on #7322
Hi, are there any tests/examples that demonstrate that OAuth2 works with Azure/Google OAuth2 endpoints? Because it does not seem this is the case, I wonder what OAuth provider this functionality was tested against? I've tried the following setup:

1. Trino is deployed in k8s cluster along with Nginx Ingress Controller, which serves as HTTPS proxy for Trino. Trino coordinator runs with `http-server

[2021-06-30 08:48] EricJoy2048 opened #8429 "Does presto support different aggregate functions in an aggregate node with different steps?"
Is I want aggregate functions have different step in a aggregate node. like impala :
[code]
What should I do?

[2021-06-30 11:51] aakashnand commented on #7322
@george-zubrienko I forgot to comment here but I am currently using Oauth with Trino on K8s with traefik Ingress controller with AzureAD. And it is working fine. I agree that I had to spend some hours understanding it but Let me know how can I help. We can take this to Trino community slack as well

https://join.slack.com/t/trinodb/shared_invite/zt-sbw8lqer-DL3zksjpm6fyIsSQz74MBA

[2021-06-30 11:55] george-zubrienko commented on #7322
@aakashnand we can continue on slack (I joined by your invite link)

I would like to know if you are using Trino OAuth, or traefik + oauth2 proxy combo (which is what I use, but with nginx instead)

[2021-06-30 12:20] losipiuk commented on #7107
Fixed via https://github.com/trinodb/trino/pull/8065

[2021-06-30 12:20] losipiuk commented on #7107
@wendigo please reopen if there is remaining work here

[2021-06-30 12:21] #7107 closed

[2021-06-30 12:41] PierreZ commented on #8418
Thanks for the questions!

In my PoC, as catalogs are linked to a Session, they are not recycled. Having a recycling features will force the Coordinator to be in-sync with the outside world (user A lost the hability to query catalog B, we need to remove it from the Trino cluster). This may be a future feature indeed.

I'm not sure about your questions here, from my point-of-view, I did not touch t

[2021-06-30 12:49] mincwang commented on #7953
When can v2 be supported in the trino?

[2021-06-30 12:57] aakashnand commented on #7322
#### ⚠️ This is valid only for AzureAD

#### Reason for the problem
- For trino to work with OAuth it has to get `access_token` most cloud vendors do not send `access_token` in the response.
- So in the case of AzureAD I have found the following solution to get both  `id_token` and `access_token`
- This was also explained in [this](http://www.redbaronofazure.com/?p=7566) blog

#### Solution for th

[2021-06-30 13:09] kokosing opened #8432 "TestQueryTracker.testInterruptApplyFilter is flaky"
[code]

[2021-06-30 14:24] jirassimok commented on #1592
@Xiangakun Did this resolve the issue for Flink as well?

[2021-06-30 15:11] chenjian2664 opened #8433 "Support Time and Timestamp type for Apache Ignite"
Ignite has Time and Timestamp type according to [docs](https://ignite.apache.org/docs/latest/sql-reference/data-types)
But we can not get actual `columnSize` from Ignite.

This issue should be discuss/solved after #8323

[2021-06-30 15:25] rudolfdobias opened #8435 "io.trino.spi.TrinoException: Database cannot be created with a location set"
I'm trying to get the Hive connector with Azure Storage working and this error I get when I follow the tutorial:

[code]
[code]

`CREATE TABLE hive.export with external_location` works, but not for writing (TrinoException: Cannot write to non-managed Hive table)

This is my configuration:
[code]

Using Trino 358.

Quoting the docs:

If the Hive metastore contains schema(s) mapped to Azure storage

[2021-06-30 23:04] Ordinant opened #8439 "Should doc-only PRs trigger a full suite of product tests?"
Investigate whether a PR submission with changes **only** in trino/docs can be set with a lower CI profile that does not require a full suite of product test runs.

This would have to be set up with careful automated validation of all files changed in the PR to make sure a nefarious change cannot be sneaked in disguised as a doc-only PR.

[2021-06-30 23:41] JacobJSShin opened #8440 "No page sink provider for catalog 'di_hive' error detected when INSERT query on Presto"
![스크린샷 2021-06-30 오후 2 02 35](https://user-images.githubusercontent.com/86750950/124044117-94dd5b00-da47-11eb-90b0-7cf81d56254c.png)

As a beginner using Presto, working on developing ELT job on Presto across Oracle DB and Hive.
SELECT query works well, but trying to INSERT INTO HIVE table on Presto, it doesn't work and "No page sink provider for catalog 'di_hive' error" detected as attach

[2021-07-01 03:47] #7782 closed

[2021-07-01 10:37] kokosing commented on #8439
I think docs PR should not trigger tests at all. It could be done by using `labels`. For example when label `docs` is set then we could skip tests.

Potentially we could try to use https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#example-ignoring-paths

[2021-07-01 10:54] hashhar commented on #8439
I've been looking at this for some time. Doc PRs should build only the `docs` module. There are ways to apply labels based on file-paths that have changed. See https://github.com/actions/labeler.

This will also allow to hopefully automatically apply the `hive` etc. tags and maybe even categorise the PRs so that maintainers can filter notifications easily.

[2021-07-01 13:32] ssquan commented on #8428
Enable debug in client if you want to get more informations. And you can ask this kind of question in trinodb slack for a quick response.

[2021-07-01 14:52] RameshByndoor commented on #6969
This is much useful, Most of the queries falls into this category and we see join not getting pushdown.

[2021-07-01 16:05] martint commented on #8386
Yes, that's the goal. Namespaces are not strictly needed, but the work done leading to it is needed to be able to do the handshake between the engine and connectors when reasoning about functions.

Overall, this is the approach we're shooting for:

* Connectors can expose functions. These can be real (i.e., the Trino will call them during query processing) or synthetic (the engine can reason about

[2021-07-01 17:59] losipiuk opened #8452 "Duplicate rowIDs generated on INSERT to ACID transactional tables"
When we INSERT data into transactional table rowId counter is reset on each input page. As a result for any INSERT which processes significant number of rows we will end up with duplicate rowIDs in created file.

Noticed by @electrum here: https://github.com/trinodb/trino/issues/8268#issuecomment-866182943

REPRO:

[code]

[2021-07-01 19:48] sopel39 commented on #8170
[code]
https://github.com/trinodb/trino/pull/8443

[2021-07-01 20:55] rdblue commented on #7953
@findepi, that sounds like the same issue.

@mincwang, I don't recommend using v2. The spec has not been finalized. Is there a reason you would like to use Parquet v2?

[2021-07-01 23:01] piyushn-stripe opened #8454 "Views over Iceberg tables with timestamps incompatible with newer Trino releases"
While trying to migrate from release 338 -> 350 (as part of ultimately moving to 358), we seem to be hitting some issues with the handling of timestamp types that seems to have been updated I think as part of release 341 (I think @electrum's PR might be the relevant one here: https://github.com/trinodb/trino/pull/4844).
The error we see is:
[code]
This view is over an Iceberg table and is created

[2021-07-02 00:12] #8170 closed

[2021-07-02 01:23] martint opened #8455 "Release notes for 360"
## Ashhar Hasan
- [x] all checked
-  07-06 10:56:19    70e849c288 Add insert_batch_size to JDBC metadata session properties
-  07-07 01:17:16    90c22f66c2 Remove redundant code
-  07-07 01:17:16    c7adc54729 Replace toList with toUnmodifiableList() collector
-  07-07 05:40:03    903d94036c Use a temporary table to verify if deletes are supported
-  07-07 05:40:03    baa70823fb Simplify lambda to

[2021-07-02 01:50] mimi0524 opened #8456 "Enable kerberos connectivity for elastic connector"
Is it possible to enable the kerberos as an authentication mechanism for connecting to Elastic Search from Trino.

[2021-07-02 06:00] sumannewton commented on #8404
Looks like only `varchar` types are handled in the druid connector.
https://github.com/trinodb/trino/blob/60f66d8f2c8cd440b0a301d1e988213254f7dc8d/plugin/trino-druid/src/main/java/io/trino/plugin/druid/DruidJdbcClient.java#L140-L153

I am not an expert in Druid. @findepi @martint Please take a look.

[2021-07-02 06:12] mincwang commented on #7953
@rdblue  The mysql-binlog data  write to iceberg by flink cdc，then used trino as ad-hoc query.

[2021-07-02 06:19] hashhar commented on #8404
@sumannewton Correct.

There are no explicit type mappings defined for the write path. `toWriteMapping` so no pushdown is possible. There's a reason why `legacyToWriteMapping` and `legacyColumnMapping` are deprecated.

There should be type mappings defined explicitly for data-types in both the read (`toColumnMapping`) and write (`toWriteMapping`) paths.

[2021-07-02 07:28] kokosing opened #8457 "MongoServer is flaky"
[code]

[2021-07-02 07:28] #5275 closed

[2021-07-02 07:35] kokosing commented on #8455
[code]
#6287

[2021-07-02 07:58] kokosing commented on #6993
@lhofhansl Since DELETE is merged, would you be willing to work on `UPDATE`?

[2021-07-02 09:33] allendang001 opened #8458 "Support insert overwrite dir"
For now, trino only support insert into table, but can not write a file into a dir with the result of select

[2021-07-02 11:07] raunaqmorarka commented on #8458
INSERT INTO DIRECTORY is not ANSI SQL, so we would probably add support for something like `CREATE TABLE foo WITH (location='...', skip_creating_table=true) AS  ...` rather than that.

[2021-07-02 11:31] hashhar commented on #8458
This has some challenges keeping the process atomic (although this will surely be nice to have). See previous discussion on Slack at https://trinodb.slack.com/archives/CFLB9AMBN/p1622846497295000?thread_ts=1622756052.235000&cid=CFLB9AMBN for some context.

[2021-07-03 00:21] tooptoop4 commented on #5564
@luhhujbb do u have a fix?

[2021-07-03 02:40] hanson2021 commented on #8428
The Debug Info as following :
trino> drop table hive.bi_test.aa1;
Query 20210703_023832_00263_iky9a failed: Access Denied: Cannot drop table bi_test.aa1
io.trino.spi.security.AccessDeniedException: Access Denied: Cannot drop table bi_test.aa1
        at io.trino.spi.security.AccessDeniedException.denyDropTable(AccessDeniedException.java:198)
        at io.trino.spi.security.AccessDeniedException.d

[2021-07-03 02:41] hanson2021 commented on #8428
trino> alter table hive.bi_test.aa1 rename to hive.bi_test.aa2;
Query 20210703_024107_00289_iky9a failed: Access Denied: Cannot rename table from bi_test.aa1 to bi_test.aa2
io.trino.spi.security.AccessDeniedException: Access Denied: Cannot rename table from bi_test.aa1 to bi_test.aa2
        at io.trino.spi.security.AccessDeniedException.denyRenameTable(AccessDeniedException.java:208)
        at i

[2021-07-03 03:17] haldes commented on #8428
@hanson2021  try setting hive.allow-rename-table=true at the catalog level.

[2021-07-03 04:13] #8428 closed

[2021-07-03 04:14] hashhar commented on #8428
@hanson2021 Glad it worked for you. Here's some explanation to make sense of what's happenning.

The system access control (file-based that you are using) is allowed to limit permissions to what people can do on the entire cluster. It sits a level above the catalog specific permissions.

In case of Hive - take a look at https://trino.io/docs/current/connector/hive-security.html. That explains all

[2021-07-03 04:17] hanson2021 commented on #8428
@haldes ，you are right,thanks ,I forget it to set hive.xx true at  the  hive catalog level.

[2021-07-03 05:28] haldes commented on #7716
@hqbhoho You can try this
{
     "tables": [
       {
            "user": "bi",
            "schema": "bbx|uds",
            "privileges": ["OWNERSHIP"]
       },
       {
            "user": "bi",
            "privileges": ["SELECT"]
       }

    ]
}

[2021-07-03 19:03] roman-ambinder commented on #8455
Iceberg connector avro support ??

[2021-07-04 15:01] jerryleooo commented on #8404
Hi @hashhar so is there any plan to improve this part?

[2021-07-04 15:18] hashhar commented on #8404
@jerryleooo i don't know of anyone actively working on this but  we can guide anyone who wants to work on this through the changes.

Looking at the mentioned methods in the PostgreSQL connector should be all that's needed.

cc: @dheerajkulakarni thought you might be interested.

[2021-07-04 22:06] #7013 closed

[2021-07-05 02:01] jerryleooo commented on #8404
@hashhar understand and we have the interest to improve this part, will see the methods you mentioned. tks

[2021-07-05 02:16] jerryleooo commented on #8386
Hi @martint we are interested in the "connectors can expose functions" work, can share with us more materials if have. Thanks!

[2021-07-05 06:57] allendang001 commented on #8458
Is there plan or date to make it?

[2021-07-05 08:54] #7788 closed

[2021-07-05 08:55] sopel39 commented on #8455
[code]
https://github.com/trinodb/trino/pull/8460

[2021-07-05 16:35] rdblue commented on #7953
@mincwang, it sounds like you're talking about Iceberg's v2 row-level deletes and not Parquet's v2 encodings. I assumed that you were talking about Parquet because you were commenting on a Parquet v2 issue. To ask about Iceberg, I'd recommend checking in with the Trino slack community or finding an issue for Iceberg v2.

[2021-07-05 16:46] RameshByndoor commented on #1573
@ebyhr Can you assign this to me

[2021-07-05 18:27] academy-codex commented on #3460
@findepi @ebyhr Shat do you guys think of an approach of replacing . with unicode equivalent and reverse mapping it while querying ?

[2021-07-05 18:50] electrum commented on #8245
This is basically working as expected. It is the same for connectors and other plugin services.

The secrets documentation shows an example for a connector like the MySQL connector. It works because the connector itself uses Bootstrap which does the replacement.

All of the plugins that we ship use Bootstrap, so it works as expected from an end user perspective. However, if you write your own plug

[2021-07-05 19:22] hashhar commented on #3460
It's a workaround but it won't work in all cases. What if you have a field in MongoDB that leads to a collision after the name replacement? We might end up silently overwriting a field. Also, people generally don't expect unexpected and unobvious things to happen.

I agree with @ebyhr's approach of providing a better error message given that [MongoDB itself recommends against](https://docs.mongodb

[2021-07-06 03:12] rsaw4 opened #8471 "UNNEST left join docs"
https://trino.io/docs/current/sql/select.html?highlight=unnest#unnest  UNNEST needs an example with 'LEFT JOIN ON TRUE' instead of 'CROSS JOIN' so rows don't get dropped

[2021-07-06 03:14] rsaw4 commented on #3812
similar to https://github.com/trinodb/trino/issues/8471

[2021-07-06 05:13] rsaw4 commented on #4690
this limitation also prevents full pushdown of joins

[2021-07-06 05:51] mosabua commented on #8471
Will you submit a PR with the desired example?

[2021-07-06 06:20] rsaw4 opened #8473 "accessing array of rows docs"
https://trino.io/docs/current/appendix/from-hive.html#use-unnest-to-expand-arrays-and-maps shows how a hive table with types of ARRAY<STRUCT can be exploded into multiple rows (although it should use LEFT instead of CROSS). Another alternative is to not explode rows but access the element value from the nth array in that column.

https://trino.io/docs/current/functions/array.html?highlight=element

[2021-07-06 09:13] jerryleooo commented on #8404
Hi @hashhar @sumannewton I am trying to fix this as you guided: https://github.com/trinodb/trino/pull/8474
But there is some error. In https://github.com/trinodb/trino/blob/c647c317405565ebd84599953dbf3cfca42affec/plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/StandardColumnMappings.java#L499 I found AvaticaResultSet will raise error when `getObject(columnIndex, LocalDateTime.class)`, I

[2021-07-06 09:35] jerryleooo commented on #8404
Seems https://issues.apache.org/jira/browse/CALCITE-1630 is related

[2021-07-06 09:52] hashhar commented on #8404
Take a look at `StandardColumnMappings#timestampWriteFunctionUsingSqlTimestamp` and `StandardColumnMappings#timeColumnMappingUsingSqlTime`.
They use the java.sql types instead and hence don't work correctly during DST gaps though. So please also add a TODO in the code about https://issues.apache.org/jira/browse/CALCITE-1630

[2021-07-06 10:58] jerryleooo commented on #8404
Thanks @hashhar, `timestampColumnMappingUsingSqlTimestampWithRounding` works and I will update the code later.

Since Druid doesn't support `createTable` and `addColumn`, I guess we may not need a `toWriteMapping`?

[2021-07-06 11:08] hashhar commented on #8404
The `toWriteMapping` is still used to generate expressions and statement used when pushing down queries. It's not a "INSERT" mapping. It's about how to write Trino types to Druid types.

[2021-07-06 11:44] hashhar opened #8477 "TestMySqlCaseInsensitiveMapping is flaky"
[code]

One of the possible causes could be that the schema names being used across the tests are the same. Verify if the `@Test(singleThreaded = true)` is being respected.

Another possibility is that the assertions are running before the rules have been reloaded.

[2021-07-06 11:45] hashhar commented on #8477
Noticed in https://github.com/trinodb/trino/runs/2998058600?check_suite_focus=true

[2021-07-06 11:45] losipiuk opened #8478 "TestMySqlCaseInsensitiveMapping.testSchemaNameClashWithRuleMapping flaky"
[code]

https://github.com/trinodb/trino/runs/2997739739?check_suite_focus=true

cc: @kokosing

[2021-07-06 11:46] #8268 closed

[2021-07-06 11:53] kokosing commented on #8478
Duplicate of #8477

[2021-07-06 11:53] #8478 closed

[2021-07-06 12:28] losipiuk commented on #8455
[code]

#8268
#8448

[2021-07-06 17:58] piyushn-stripe commented on #8454
posting a suggestion from @hashhar that seems to have helped. Explicitly casting the timestamp fields in the view creation statement seems to help query on older Presto versions as well as the newer releases:
[code]

[2021-07-06 18:07] hashhar opened #8481 "Trino CLI prints exceptions to stdout when pressing Tab for completion"
Since version 359:

[code]

This seems to be introduced in https://github.com/trinodb/trino/commit/dabd7fe45f. It's the first commit that can reproduce this issue.

cc: @electrum

[2021-07-06 18:10] hashhar commented on #8481
Notice that the exception is just printed and the  prompt is still active. So if you input `SHOW TABLES`, press TAB then the exception will be printed but you can then press ENTER and the query runs successfully.

[2021-07-06 18:19] hashhar commented on #8481
Seems like `Logging.initialize` has the side effect of redirecting stdout and stderr to the logger via https://github.com/airlift/airlift/blob/29e304b3f186da3d20507f3929a2a3f019de653a/log-manager/src/main/java/io/airlift/log/Logging.java#L95-L99

Maybe we need to add something similar here again?

[2021-07-06 21:35] hashhar commented on #8414
@electrum @dain FYI.

[2021-07-07 03:25] fredlacis commented on #6738
Hey @jirassimok, can I work on this? This would be my first issue.
If so, do you have any tips on where to start from?

[2021-07-07 06:12] hashhar commented on #8455
[code]
#8434

[2021-07-07 14:21] tooptoop4 commented on #3927
did u solve this @chongfeng-hu ? I guess this is good extension to https://github.com/trinodb/trino/pull/6102

[2021-07-07 14:32] tooptoop4 commented on #4882
did u solve this @ankuragarawal ?

[2021-07-07 18:41] alexjo2144 opened #8486 "`IcebergSplitSource` throws away `CombinedScanTask` combinations"
See thread from https://github.com/trinodb/trino/pull/8450#discussion_r664848331

[2021-07-07 20:54] jibinpt opened #8489 "Query Rewrite using existing Materialized Views"
It would be great if Trino could rewrite queries(on top of base table) using existing materialized views in the underlying data source. Something similar to query rewrite feature in Calcite https://calcite.apache.org/docs/materialized_views.html#view-based-query-rewriting

[2021-07-07 21:02] jirassimok commented on #6738
@fredlacis Go ahead!

Take a look at [`TestHiveStorageFormats.storageFormats`](https://github.com/trinodb/trino/blob/a35080a8e3076f60aa567e87febd9ff690a034c4/testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveStorageFormats.java#L212-L225) and the related logic in the same class. As a starting point, maybe just add the format and session property to the list there, and s

[2021-07-07 21:23] chongfeng-hu commented on #3927
I ended up using the [Custom S3 credentials provider](https://trino.io/docs/current/connector/hive-s3.html#custom-s3-credentials-provider) that David had suggested, and it turned out to fit our needs nicely.

[2021-07-07 22:05] tooptoop4 commented on #3927
can u share the class definition and properties? @chongfeng-hu

[2021-07-07 22:33] chongfeng-hu commented on #3927
[code]
Build above into a stand-alone uber jar with all dependencies included, and place it under `plugin/hive-hadoop2`.

hive.properties
[code]

core_site.xml
[code]

[2021-07-08 00:43] rsaw4 opened #8490 "SSLVerification=NONE option for cli"
JDBC has SSLVerification=NONE option but CLI needs it too. --insecure option does not work with password in cli but does work for  JDBC

[2021-07-08 00:47] fredlacis commented on #6738
@jirassimok Before I even start modifying the file, I tried to run the TestHiveStorageFormats test and I keep getting the same error on every test:
`Catalog does not exist: hive`
I'm running the test server, but I don't know if there is any extra configuration that should be made.
Do you know what could be going on?

[2021-07-08 01:37] dev-lpq opened #8491 "NoClassDefFoundError: Could not initialize class HdfsEnvironment"
we tried to deploy trino to connect hive/iceberge on  trino-server-358 and  trino-server-359 version, but has the same error  "NoClassDefFoundError: Could not initialize class HdfsEnvironment". We have checked that the HdfsEnvironment class can be added when trino is running. What causes the trino to fail to startup?

[2021-07-08 02:46] rsaw4 opened #8493 "Catalog level property to send user/password to SQLServer connector WITHOUT sending extraCredentials"
Presto connecting to a SQLServer catalog (with end user creds) works when extraCredentials of user:password is passed in, but not all clients support extraCredentials. Would be great to have a catalog level property set in the properties file to do this ie passthroughAuth=true

Below is error without extraCredentials being passed:

[code]

[2021-07-08 03:14] phd3 commented on #5201
The RC seems to be unintended closing of input stream through an abandoned parent stream's finalizer.

 For `ParquetFileReader.open` call in `ParquetUtils.fileMetrics`, the input is a `ParquetInputFile` (wrapping Trino's `HdfsInputFile`). `ParquetFileReader.open` triggers a `newStream()` on the input file. This implementation causes a `SeekableInputStream` to be created with a delegate, and then t

[2021-07-08 07:05] aakashnand opened #8495 "Autocomplete using tab key is not working in Trino CLI"
When using trino CLI for version 358, I tried hitting the `TAB` key after typing queries like `Show ca<TAB>` but I am not getting any autosuggestions. According to the following code, I should at least get autocomplete for commands written in the following code.

Slack Reference:  https://trinodb.slack.com/archives/CGB0QHWSW/p1625537890190300

https://github.com/trinodb/trino/blob/6bbe9f1092db394c

[2021-07-08 07:38] sopel39 commented on #8455
[code]
https://github.com/trinodb/trino/pull/8408

[2021-07-08 08:25] kokosing commented on #4568
Yet another occurence:
[code]

[2021-07-08 09:51] optimus-kart opened #8497 "Security configuration in trinodb helm chart"
Helm chart available here: https://github.com/trinodb/charts , does not seem to provide an option to configure authentication/authorization for trinodb, is this intentionally left out? If not I could take this up and try to add this functionality to the chart.

Kindly advise.

[2021-07-08 15:01] jirassimok commented on #6738
If you're running the server from `testing/trino-server-dev`, it should have a pre-configured Hive catalog (`testing/trino-server-dev/etc/catalog/hive.properties`).

You'll also need the product test environment, which you can run like `./bin/ptl env up --environment=singlenode --config=config-default --without-trino`. You can leave out `--without-trino` to also run the server with the appropriate

[2021-07-08 16:35] phd3 commented on #5201
@rdblue should we be rewrapping [here](https://github.com/apache/iceberg/blob/master/parquet/src/main/java/org/apache/iceberg/parquet/ParquetIO.java#L86) even if the stream is a `HadoopSeekableInputStream`? We lose reference to it and that causes delegate to close prematurely through finalizer.

Trino wraps `HadoopInputFile` with `HdfsInputFile`, but `HdfsInputFile#newStream` doesn't wrap `HadoopI

[2021-07-08 21:58] #8452 closed

[2021-07-08 22:01] losipiuk commented on #8455
[code]

#8480
#8452

[2021-07-09 02:28] kaojunsong opened #8508 "How can I get access token in trino plugins using oauth2"
Hi all,

Our system originally implement PasswordAuthenticator to get the user and password in plugins.

But recently, we are switching to oauth2 (keycloak), then how can I get the access token in plugins?

I saw there is an endpoint "/oauth2/token/{authId}" in class OAuth2TokenExchangeResource, can I use this endpoint to get the access token in plugins? If so, where can I get the "authId"?

Or th

[2021-07-09 03:05] Bryanquan opened #8509 "The added methods in class MysqlConfig have not taken effect"
I add some public methods in class MysqlConfig and compile the project again,but it seems the methods has not taken effect
What should I do?

[2021-07-09 06:48] KarlManong commented on #1324
Will you support table [configuration properties ](https://iceberg.apache.org/configuration/ )?

[2021-07-09 07:25] jerryleooo opened #8511 ""Filtering during aggregation" is not pushed down to Druid connector"
https://trino.io/docs/current/functions/aggregate.html#filtering-during-aggregation

In Druid there is an aggregator called ["filtered aggregator"](https://druid.apache.org/docs/latest/querying/sql.html#aggregation-functions), they should be the same thing. I see in #4313 doesn't cover this aggregator, not sure if there is any plan to support it.

[2021-07-09 07:35] hashhar commented on #7320
@kokosing @wendigo This is a bit challenging to do correctly.

The easiest case is if the grouping sets contain a text type then the connector can decide to prevent pushdown. This takes care of things like group by or distinct.

For cases with a global aggregation (e.g. `max(c)` or `count(c)`) we might need to add something to `AggregateFunction` to identify if the function is case-sensitive or no

[2021-07-09 08:21] kokosing commented on #8508
What do you mean by plugins? Connector? PasswordAuthenticator?

`OAuth2TokenExchangeResource` is a part of the engine so it is not accessible to plugins in general.

[2021-07-09 09:32] kaojunsong commented on #8508
Thank you very much for your reply.

The "plugins" I mean is the custom classes we have implements "io.trino.spi.Plugin" interface.

We got user and password from PasswordAuthenticator  in our current code, and I want to know if we can get the access token to implement a class like "TokenAuthenticator", or other methods, thanks

[2021-07-09 11:04] kokosing commented on #7320
I was under impression it is about argument type. Can make a condition on information is type is case sensitive or not? Is `io.trino.plugin.jdbc.JdbcTypeHandle#caseSensitivity` hold an information here?

[2021-07-09 11:07] hashhar commented on #7320
Argument type alone doesn't mean pushdown will result in incorrect results.

e.g. SELECT count(varchar) is safe to pushdown while SELECT max(varchar) is not.

[2021-07-09 11:08] academy-codex commented on #3134
@ebyhr I have got this working with some nits.
If no one is working, I can take this up.

Sample Output:
trino:test> select * from test_ref;
 col1 |                                        creator
------+---------------------------------------------------------------------------------------
 foo  | {id=51 26 bc 05 4a ed 4d af 9e 2a b7 72, databaseName=users, collectionName=creators}
(1 row)

[2021-07-09 11:10] academy-codex commented on #3134
I am currently, mapping the $ref->collectionName, $db-> databaseName and $id->id.
However, I also see that MongoPageSource.writeSlice(..) has this logic:
**if (type.equals(OBJECT_ID)) {
            type.writeSlice(output, wrappedBuffer(((ObjectId) value).toByteArray()));
        }**

Any reason to use byte array here ?

[2021-07-09 11:20] #3972 closed

[2021-07-09 11:21] sopel39 commented on #8455
[code]
https://github.com/trinodb/trino/pull/5183

[2021-07-09 12:05] hashhar commented on #8332
@pvliborio is already working on this in https://github.com/trinodb/trino/pull/8343 so this isn't free to take.

However feel free to take a look at other good first issues (or others) at https://github.com/trinodb/trino/labels/good%20first%20issue

[2021-07-09 13:37] losipiuk commented on #8216
Hi @jetsasank are you still working on this issue? I wanted to dig into that, but if you have in flight it would be great to not duplicate work.

[2021-07-09 14:03] MariyaR commented on #6377
Hi,
Can I try this issue? Configuration of created_by field should be done in ParquetWriterConfig or in another place? Thanks in advance.

[2021-07-09 14:35] ebyhr commented on #3134
The reason is that MongoDB `ObjectId` type is mapped to Slice internally. Does this answer your question?
https://github.com/trinodb/trino/blob/master/plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/ObjectIdType.java

[2021-07-09 15:39] kaojunsong opened #8514 "OAuth2 with Keycloak does not work"
Our system is switching from Password to Oauth2, and I add the following config accordding to the document (https://trino.io/docs/current/security/oauth2.html), and we are using version 356 now.

    http-server.authentication.oauth2.auth-url=https://authorization-server.com/authorize
    http-server.authentication.oauth2.token-url=https://authorization-server.com/token
    http-server.authenticat

[2021-07-10 02:58] utk-spartan opened #8516 "Support Altering external table location"
Currently, only way to alter external Table location is to drop and recreate them.
Proposal: Add a new procedure `system.alter_location(schema_name, table_name, location)` for Hive connector.

This will allow Trino to provide an alternative for HIVE command `ALTER TABLE SET LOCATION`

[2021-07-10 03:00] utk-spartan commented on #8516
Changing the location via Drop + Recreate flow requires the Hive metastore service to have access to the location, which might not always be possible due to security reasons etc. for external tables.

[2021-07-10 05:31] academy-codex commented on #3134
I see. Got it. Thanks :)

[2021-07-10 06:41] hashhar commented on #8516
cc: @electrum

[2021-07-10 07:42] ebyhr commented on #8509
@Bryanquan I couldn't understand the actual issue. Could you post in the community Slack?
https://trino.io/community.html

[2021-07-10 07:55] ebyhr commented on #8435
File Hive metastore has some limitation and is for testing purpose. You can see more context in #5715

[2021-07-10 09:23] kaojunsong commented on #8514
Sorry for interrupting, my issue is caused by wrong nginx mapping config.

[2021-07-10 09:23] #8514 closed

[2021-07-10 09:31] kaojunsong opened #8517 "How can I login to trino using JDBC with oauth2"
Hi,

I am switching trino from PASSWORD to oauth2, then I can not login to trino using JDBC using DBVisutalizer.

Does JDBC support oauth2? How can I login to trino using JDBC with oauth2

[2021-07-10 16:15] luhhujbb commented on #5564
@tooptoop4, we are converting our unanottated int64 parquet fields to annotated int64 milliseconds timestamp parquet fields in existing data and we rewrite our sparks job to correctly write timestamp in parquet. It's a bit painful but's we think it's the cleanest solution.

[2021-07-11 21:02] kokosing commented on #8517
Yes, please see https://trino.io/docs/current/installation/jdbc.html#parameter-reference, you need to use `externalAuthentication` property.

[2021-07-11 21:02] #8517 closed

[2021-07-11 23:40] kaojunsong commented on #8517
Thank you very much.

[2021-07-12 09:55] findepi commented on #6610
@rocketguan @lxynov does the issue still exist?

[2021-07-12 11:30] utk-spartan opened #8526 "Query failures with Expected Limit input to be sorted by: [...], but was []"
Queries which have a 'ORDER BY col1 LIMIT n '  with a filter  `WHERE col1 = abcd` fail with the  error
"Expected Limit input to be sorted by: [field_0], but was []"

Sharing some examples to provide clarity.

following queries fail with the above mentioned error
[code]
 removing the ORDERing or increasing the limit allows them to run.

following will run successfully

[code]

[2021-07-12 11:32] utk-spartan commented on #8526
This started happening since version 359,
this change seems to be the cause to me - https://github.com/trinodb/trino/pull/8184

[2021-07-12 11:32] hashhar commented on #8526
cc: @raunaqmorarka

Are you by any chance on version older than 359? This seems similar to what was addressed in https://github.com/trinodb/trino/pull/8184 (which is available in 359).

[2021-07-12 11:33] utk-spartan commented on #8526
I upgraded to 359 from 357
and started observing this for a small subset of queries.

[2021-07-12 11:40] utk-spartan commented on #8526
Looking at the source code snippet  from current master
[code]
and the error msg.
"Expected Limit input to be sorted by: [field_0], but was []"

looks like the first condition does get satisfied here, hence the error

[2021-07-12 12:08] raunaqmorarka commented on #8526
I'll look into it, probably a regression from https://github.com/trinodb/trino/pull/6634

[2021-07-12 12:37] tooptoop4 commented on #8493
this solves it:

(patched on v336) -->
**presto-main\src\main\java\io\prestosql\server\HttpRequestSessionContext.java**
[code]

echo "
connector.name=sqlserver
connection-url=jdbc:sqlserver://somehost;databaseName=somedb;authenticationScheme=JavaKerberos;domain=NTADMIN;integratedSecurity=true;jaasConfigurationName=SQLJDBCDriver
case-insensitive-name-matching=true
user-credential-name=user
password

[2021-07-12 13:47] phd3 commented on #8345
Encountered in https://github.com/trinodb/trino/actions/runs/1020411622 on #8340

[2021-07-12 14:30] lucasdlemos commented on #8481
@hashhar It seems the cli completion feature has been broken for a while. #8495 mentions that it just silently didn't work before and recently it started printing the exception to stdout.

If think I know the fix. If that's ok I can work on that.

[2021-07-12 14:32] hashhar commented on #8481
Sure, go ahead @lucasdlemos. Thanks a lot.

[2021-07-12 14:45] findepi commented on #8404
Lack of pushdown is because Druid column mapping was never implemented yet:

https://github.com/trinodb/trino/blob/825e6d82cfd3dee98038f14b38a55e0d1798ae35/plugin/trino-druid/src/main/java/io/trino/plugin/druid/DruidJdbcClient.java#L152

hence we end up calling the `timestampColumnMappingUsingSqlTimestampWithRounding` which disables pushdown for correctness reasons (because of rounding on read).

[2021-07-12 14:52] findepi commented on #6377
Per @rdblue 's https://github.com/trinodb/trino/issues/7953#issuecomment-872544273 closing in favor of that issue, because that one has more conversation already.

[2021-07-12 15:13] jerryleooo commented on #8404
Thanks, @findepi , I am working on this as you suggested.

[2021-07-12 15:35] findepi commented on #6993
per https://github.com/trinodb/trino/blob/825e6d82cfd3dee98038f14b38a55e0d1798ae35/plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultJdbcMetadata.java#L680

I think it would be valuable to first extend DELETE to support cases when the delete predicate cannot be fully pushed down (eg LIKE, subquery, a function call, something requiring coercions, etc.)

[2021-07-12 15:41] lucasdlemos commented on #8495
@aakashnand @hashhar I'm fixing this as part of #8481. Can you please assign it to me? Thanks.

[2021-07-12 19:20] electrum commented on #7953
@rdblue when you say "Parquet v2", can you clarify exactly what that means? Does this mean not using `DATA_PAGE_V2`, or is there more to it? The [encodings](https://github.com/apache/parquet-format/blob/master/Encodings.md) documentation doesn't seem to mention versions at all.

[2021-07-13 03:55] jerryleooo commented on #8404
The problem is,`DataTypeTest` or `SqlDataTypeTest` inside `TestPostgreSqlTypeMapping` will rely on `TestTable`, inside which "CREATE TABLE" and "INSERT DATA" will be executed, which is not suitable for Druid.

I feel `TestTable` should be an interface, otherwise, it seems I have to implement `DruidDataTypeTest`, `DruidCreateAndInsertDataSetup`, `DruidTestTable` ...

@findepi @hashhar

[2021-07-13 04:27] sumannewton opened #8533 "Add unit tests for decoders in elasticsearch connector"
Add unit tests for decoders in elasticsearch connector

[2021-07-13 06:58] jerryleooo commented on #8404
The problem is, inside `TestXXXTypeMapping`, we need to use `DataTypeTest` or `SqlDataTypeTest`, which rely on `TestTable`, in whose constructor `CREATE TABLE` and `INSERT DATA` will be run -- this is not suitable for Druid.

I guess I may need to implement `DruidDataTypeTest`, `DruidTestTable`, `DruidCreateAndInsertDataSetup`, but not sure if I am too far away. Any ideas? @findepi @hashhar

[2021-07-13 07:39] davseitsev commented on #6377
@findepi I'm not sure it's the same issue as you mentioned. As far as I understand that one is about support parquet format V1 in Presto writer due to lack of support of format V2 in some engines like Spark (BTW we read parquet V2 in Spark without vectorized reader and it works perfectly). This one is about compatibility between presto native writer and parquet-hadoop library which is used in Spar

[2021-07-13 17:26] jitheshtr opened #8542 "JDBC client does not authenticate during connection creation"
We have a use case where users are required to do 2-Factor-Authentication to connect to the Trino server. This 2FA token for a user is valid only for a minute. We accept the username and password from the user and forward this to JDBC driver while creating the Connection object, but this user credentials are not authenticated immediately today - username and password are accepted, but will be auth

[2021-07-13 19:34] jibinpt commented on #8404
[code]
@findepi Adding above code for type mapping similar to other JDBC clients resulted in the following error:

[code]
@jerryleooo did you face similar issue?

[2021-07-14 04:12] tooptoop4 opened #8548 ""Read timed out" to HiveMetastore (HMS) when ANALYZE"
I have a catalog connecting against hive/s3/parquet (kerberos protected HMS). SELECT * from any of the tables works. But ANALYZE statement (or CREATE TABLE AS ie a managed table) fails with error like the below. How to increase the timeout value? I wonder if the kerberos details aren't being supplied properly to the 'write' path of the HMS.

[code]

my hive catalog properties have:

hive.metastore

[2021-07-14 08:20] jerryleooo commented on #8404
@jibinpt can see my latest commit

[2021-07-14 08:21] kokosing commented on #8542
Is 2FA token part of password in your case?

[2021-07-14 08:59] chenjian2664 opened #8552 "Support user customs schema in Ignite connector"
#8323

[2021-07-14 09:52] ebyhr commented on #8548
Can you try `hive.metastore-timeout`?
https://trino.io/docs/current/connector/hive.html#metastore-configuration-properties

[2021-07-14 10:13] #8481 closed

[2021-07-14 10:14] kokosing commented on #8455
[code]
#8529

[2021-07-14 11:23] hashhar commented on #8495
Fixed in https://github.com/trinodb/trino/issues/8481.

[2021-07-14 11:23] #8495 closed

[2021-07-14 12:18] tooptoop4 commented on #8548
@ebyhr  after changing hive.metastore-timeout to 120s i get different error below:

[code]

my hive version is 3.1.3000.7.1.4.35-1
this looks related to  https://github.com/trinodb/trino/issues/5155

[2021-07-14 12:43] quanleiqwe opened #8555 "Planning time too long when query involves IN predicate over mysql column"
we hava a 200000 records table  sql need in 50000 member ，plainning time need 10 seconds

[2021-07-14 12:56] phd3 opened #8556 "Flaky testSelectInformationSchemaColumns in TestSqlServerConnectorTest"
[code]

https://github.com/trinodb/trino/runs/3047332232?check_suite_focus=true

[2021-07-14 13:07] tooptoop4 commented on #8401
cc: @kasiafi

[2021-07-14 15:32] findepi commented on #8409
Please see https://trino.io/docs/current/functions/datetime.html#at_timezone and https://trino.io/docs/current/functions/datetime.html#with_timezone

[2021-07-14 15:32] #8409 closed

[2021-07-14 18:42] jitheshtr commented on #8542
yes, 2FA is added to the password input

[2021-07-14 18:45] jitheshtr commented on #8542
Mentioning couple of options discussed -

Option 1: One option is to add an endpoint specifically to authenticate the user - say “/v1/authenticate”. This should authenticate user credentials and report back with any authentication errors. JDBC connection creation workflow will authenticate using this endpoint. So, instead of lazily authenticating on the first query, now we will start authenticatin

[2021-07-14 21:07] academy-codex commented on #4077
@findepi any reason you pointed to starburst fork? The implementation is same as current Trino code. Both have a single split if I’m not wrong.

Just asking as I want to pick this up next and was looking for some idea around.
Thanks.

[2021-07-15 01:47] tooptoop4 opened #8564 "Can't created managed table against Hive v3"
SQL:
[code]

error:
[code]

my hive version is 3.1.3000.7.1.4.35-1
prestosql v336
related to https://github.com/trinodb/trino/issues/8548

[2021-07-15 07:03] findepi commented on #8439
Won't it be too late?

Anyway, great idea to improve this. thanks @Ordinant for bringing this up!

[2021-07-15 08:10] academy-codex opened #8566 "Support kerberos auth for mongodb connector"
MongoDB connector should be able to connect using kerberos authentication and authorisation as well.

[2021-07-15 11:16] kokosing commented on #8542
Option 1 sounds like an intuitive thing for user. If users credentials are wrong then one should not a get a `Connection` object. Current model, when we fail the query sounds like it is too late.

Also notice that also affect CLI.

[2021-07-15 11:52] findepi commented on #8401
@rsaw4 is this problem reproducible with Trino 359?

[2021-07-15 12:13] findepi commented on #4077
that was a mistake

[2021-07-15 12:30] tooptoop4 commented on #8401
no error in 359 😲

[2021-07-15 15:00] hashhar commented on #8455
[code]

#8496

[2021-07-15 15:01] hashhar commented on #8455
[code]

#8559

[2021-07-15 15:34] academy-codex commented on #8566
Duplicate of #1573

[2021-07-15 18:31] cjimti commented on #608
This might also be related, I get: `Error: Cassandra timeout during read query at consistency ONE (1 responses were required but only 0 replica responded)` on all queries after Trino has been running for a few hours. If I restart Trino this resolves. At this point I have Trino set to restart ever 4 hours until we can figure it out. I have both timeouts set to 20m but essentially all queries throug

[2021-07-15 18:58] erichwang commented on #3674
Do we happen to know what was the original exception that was thrown by the underlying ExecutorService? It should be preceded by an error log that looks like: "BoundedExecutor state corrupted due to underlying executor failure"

[2021-07-16 01:00] jitheshtr commented on #8542
For CLI, looks like behavior is the same - authentication happens during query time.

Also noticed that for CLI, when a `--schema` option is provided, CLI issues `SHOW FUNCTIONS` and `SELECT table_name FROM information_schema.tables WHERE table_schema = '<schema>'` that is seen in the Trino UI. This is before any user queries are submitted. This triggers the credentials authentication workflow imm

[2021-07-16 01:39] brandboat opened #8571 "Remove workaround dummy test after updating testng to 7.4.0+"
According to https://github.com/cbeust/testng/issues/2361, there is no way to enforce `@Test(singleThreaded = true)` when test defined in base class. This issue has been fixed in 7.4.0+.

Workdaround: https://github.com/cbeust/testng/issues/2361#issuecomment-688393166, add a dummy test method.

Rel https://github.com/trinodb/trino/issues/8575

[2021-07-16 04:29] ans76 commented on #8564
Did you check the column `ENGINE` in `TAB_COL_STATS`?  [hive-metastore-schema](https://cwiki.apache.org/confluence/display/Hive/Column+Statistics+in+Hive#ColumnStatisticsinHive-MetastoreSchema) not describe it

[2021-07-16 04:45] ebyhr commented on #8566
Let's handle in #1573

[2021-07-16 04:45] #8566 closed

[2021-07-16 08:38] hashhar opened #8575 "Add a test analyzer to ensure single-threaded base test classes are extended correctly"
Until we upgrade to TestNG 7.4 we should add a test analyzer to catch cases where a test class extends a base class with `singleThreaded = true`.

TestNG has a bug where the tests don't run single threaded unless the extending class has at-least 1 `@Test` method.
See https://github.com/trinodb/trino/pull/8568 for context.

Rel https://github.com/trinodb/trino/issues/8571

[2021-07-16 08:51] findepi commented on #8401
@rsaw4 can you please confirm whether this works in your environment as well, per @tooptoop4 's comment?

i am closing for now, but please reopen if you still experience this issue with 359.

[2021-07-16 08:51] #8401 closed

[2021-07-16 09:37] sopel39 commented on #8455
[code]
https://github.com/trinodb/trino/pull/8500

[2021-07-16 10:01] sopel39 commented on #8455
[code]
https://github.com/trinodb/trino/pull/8569

[2021-07-16 10:02] findepi commented on #5616
@rdblue was it decided where the flag is stored and what its name?

[2021-07-16 10:30] findepi commented on #6610
Was this fixed by @phd3 's https://github.com/trinodb/trino/pull/7642 ?

[2021-07-16 13:16] #8526 closed

[2021-07-16 13:20] sopel39 commented on #8455
[code]
https://github.com/trinodb/trino/pull/8535

[2021-07-16 14:36] #8477 closed

[2021-07-16 15:22] findepi commented on #6663
@rdblue can you comment whether UUID stays or will go?

[2021-07-17 04:57] DoubleDue opened #8582 "Alias not support in Having predicate"
For example SQL statement in MySQL:
`select  odr.createDate, count(orderid) as total from szsd.orders as odr group by odr.createDate having total >1 ;`

return
`Query 20210717_043219_00000_nmtxv failed: line 1:104: Column 'total' cannot be resolved
select  odr.createDate, count(orderid) as total from szsd.orders as odr group by odr.createDate having total >1
`
<img width="993" alt="image-202107171

[2021-07-17 15:10] findepi commented on #8582
I commented in the PR that this is intentional. https://github.com/trinodb/trino/pull/8583#pullrequestreview-708948901
Let's close the issue here so that the conversation can be captured there, in one place.

cc @martint @kasiafi

[2021-07-17 15:10] #8582 closed

[2021-07-18 02:06] tooptoop4 opened #8587 "add EXPLAIN (TYPE LINEAGE)"
query:
[code]

expected output:
for each target column in the SELECT (that is not purely from a constant literal), show which source columns from objects in the query (don't expand views to underlying tables) are used to derive them (only consider SELECT not WHERE..etc):
ie
[code]

[2021-07-18 08:20] #8332 closed

[2021-07-18 16:14] martint commented on #8575
Why not just update to testng 7.4?

[2021-07-19 03:04] oabao opened #8589 "about hive parquet acid tables"
Hello!
My Hive version is 3.1. In our Hive cluster, some tables are stored in Parquet format. When we use dynamic partitioning, the Hive table is automatically converted to ACID table. When I queried this table using Trino358, the "ACID is not supported" error popped up.The description information of the table is as follows:

Table Parameters:	NULL	NULL
COLUMN_STATS_ACCURATE	{\"BASIC_STATS\":\"tru

[2021-07-19 03:18] oabao opened #8590 "How to set different hive.parquet.use-column-names properties for different tables"
Hello！

In our Hive version 3.1, most of the tables in our Hive cluster need to be set hive.parquet.use-column-names to true, and some of the tables need to be set to false in order to read them properly. However, in Trino's catalog, hive.property does not support setting different hive.parquet.use-column-names properties for different tables. Is there a recommended solution for this situation?

L

[2021-07-19 05:23] hashhar commented on #8575
@martint That is a large upgrade while the test analyzer will be helpful now. There was one in progress at https://github.com/trinodb/trino/pull/4727. I'll try and pick it up.

[2021-07-19 05:50] martint commented on #8575
Why would that be a large upgrade? Isn’t bumping the version dependency enough?

[2021-07-19 06:56] ChandrasekharPo-Kore opened #8591 "[ MongoDB Connector ] Support for PLAIN authentication mechanism"
We have a MongoDB setup with ldap authentication configured.Did not find a way to explicitly specify the "auth" mechanism 'PLAIN'. Is there a way to specify it.

[2021-07-19 07:11] #8352 closed

[2021-07-19 07:13] ebyhr commented on #8455
[code]

#8584

[2021-07-19 07:26] findepi commented on #8455
[code]

#8540

[2021-07-19 08:01] MariyaR commented on #6377
@findepi, as far as the issue is reopened, can I try this? Configuration of created_by field should be done in ParquetWriterConfig or in another place? Thanks in advance.

[2021-07-19 08:06] manbuyun opened #8592 "What are the bottlenecks of coordinator or worker when there is a large amount of sql execution?"
When there are only a few sql running, the average time is about 20 seconds.
However, when executing 50 or even 100 + sql tasks in parallel, a single sql takes more than 3 minutes.
What are the bottlenecks of trino coordinator and worker, or which parameters need to be considered and optimized?

[2021-07-19 09:05] mortalsWorld opened #8593 "How to access elasticsearch with authentication information?"
My configuration file is as follows:

[code]

After using the certificate, it keeps saying that the connection is refused. When tls is not turned on and only uses password authentication, it keeps saying that the connection is closed. How do I set it up? A configuration file has been provided, can you tell me what the problem is?

[2021-07-19 09:35] findepi opened #8594 "JDBC PreparedStatement discards sub-millisecond when binding java.sql.Timestamp value"
For example, when `java.sql.Timestamp` value is passed to `rs.setObject(int, Object)`, the nanoseconds-of-millisecond is discarded.

This applies to some other data types too.

[2021-07-19 10:45] sopel39 commented on #8455
[code]
https://github.com/trinodb/trino/pull/8524

[2021-07-19 10:55] ebyhr commented on #7538
We are going to support `json` type for MongoDB connector in version 360 (not yet released). I know it's little different from this request, but I hope it helps you in some situation. Please feel free to provide feedback.

[2021-07-19 11:54] findepi commented on #6663
Relates to: https://github.com/apache/iceberg/issues/1302

[2021-07-19 12:06] Ognian commented on #7538
@ebyhr Thanks! I'll test when it is released and see how this helps...

[2021-07-19 14:18] sumannewton commented on #8593
Can you please share server & client (cli) logs?

[2021-07-19 14:26] #3134 closed

[2021-07-19 14:27] ebyhr commented on #8455
[code]

#8549

[2021-07-19 14:35] mortalsWorld commented on #8593
The content of the error is as follows:
[code]

[2021-07-19 14:37] mortalsWorld commented on #8593
The content of the error is as follows:
[code]

[2021-07-19 14:56] ebyhr commented on #8591
Currently, only no-auth and username&password auth are supported. We need to add support for that.

[2021-07-19 15:32] findepi opened #8602 "Flaky test TestFullParquetReader.testMapSchemas: Overflow detected in ZSTD"
https://github.com/trinodb/trino/runs/3103919905
[code]

[2021-07-19 15:44] findepi commented on #8602
I reproduced this locally with `@Test(invocationCount = 1000)`.
Failed in 17th iteration for me, was impatient to wait beyond 24th iteration.

@martint does this look like a bug in ZSTD implementation?

[2021-07-19 18:32] rdblue commented on #6663
We should have a discussion on the Iceberg dev list about this. Now that we support row identifiers, it may make some sense to include this since it is a better way to store UUIDs. On the other hand, if there aren't any engines that will support the type then it may not make sense to keep it.

I'm interested in considering both sides. We haven't fully removed it because I'm not sure whether it's a

[2021-07-19 18:59] yjin0510 opened #8604 "Certain partition range in where clause causes error"
We observed the same date range (partition column) specified with OR and BETWEEN worked:
select * from db.table where dt='2021-02-12' or dt = '2021-02-13' limit 10;
select * from db.table where dt between '2021-02-12' and '2021-02-13' limit 10;

However, it failed when using inequality signs:
select dt,count(*) from db.table where dt>='2020-02-12' or dt<='2020-02-13' group by dt;
Query 20210719_18

[2021-07-19 19:02] yjin0510 opened #8605 "Predicate push down not happening"
I am using Trino 350. I noticed something weird during planning phase. We have one table which contains around 20K partitions daily. When query against one day worth of data, the planning phase takes 1.67 seconds. However, when query against two days of data, the planning phase increases to 1.69 minutes. Any idea why? The query is very simple.

-- single day query, under 2 seconds planning time
se

[2021-07-19 19:11] hashhar commented on #8604
The conditions don't seem to be equivalent, specifically:

`dt>='2020-02-12' or dt<='2020-02-13'` evaluated to include all values, did you mean to use `dt>='2020-02-12' AND dt<='2020-02-13'`?

[2021-07-19 19:33] yjin0510 commented on #8604
Sorry, my bad. This can be closed.

[2021-07-19 19:33] #8604 closed

[2021-07-20 02:54] ruodingt commented on #4489
Hi @ebyhr

I am trying to connect trino to my mongodb atlas yet I wasn't get any luck so far.

In my `catalog/mongodb.properties` I put:

[code]

My mongo connection string looks like
[code]

I got error when I do:

[code]

[2021-07-20 02:55] ebyhr commented on #8509
Let me close this issue because there is no reply for a while. Please feel free to ask in Slack. We have `#troubleshooting` channel.

[2021-07-20 02:55] #8509 closed

[2021-07-20 02:57] njalan opened #8606 "How can I get query performance statistics"
I want to get all the finished running query's  performance statistics such as elapsedTime. I found /v1/query can get the 100 query's running details but I want to get the incremental query's statistics by date time filter and also user filter.

[2021-07-20 05:07] hashhar commented on #8606
Generally people implement the Event Listener SPI (https://trino.io/docs/current/develop/event-listener.html) for this since it includes all the information you'd want.

You can write the events to whereever you want (RDBMS, Kafka etc.) and make use of them.
Note that it's not possible for the co-ordinator to hold information for a large number of queries because everything is in-memory and the mo

[2021-07-20 05:07] #8606 closed

[2021-07-20 06:14] academy-codex commented on #8591
This actually brings up a need for flexible auth mechanisms for mongodb. We should support Kerberos and Sasl and Ldap more generically. Instead of fixing one by on le with separate config why not have a auth provider and config ? @ebyhr

[2021-07-20 07:03] ChandrasekharPo-Kore commented on #8591
Mongodb Driver might already be supporting it.

[2021-07-20 07:48] beepupa opened #8608 "Elasticsearch Time type field is missing"
presto V:359
Elasticsearch V :7.0+
in prestosql
![image](https://user-images.githubusercontent.com/36186038/126282377-1974ffa0-0b4f-4742-adec-803cc7645480.png)
in es

[code]

[2021-07-20 07:51] hashhar commented on #8608
Temporal types with custom `format` aren't supported yet. It's being documented in https://github.com/trinodb/trino/pull/8464.

cc: @sumannewton @bitsondatadev

[2021-07-20 07:55] hashhar commented on #8050
This is already being discussed and tracked in https://github.com/trinodb/trino/issues/2519.

I'm closing to avoid duplication. Feel free to re-open this if you think both issues are different.

[2021-07-20 07:55] #8050 closed

[2021-07-20 08:14] beepupa commented on #8608
When I get rid of the format, it's fine

[2021-07-20 08:21] beepupa commented on #8608
thank you

[2021-07-20 08:59] sumannewton commented on #8608
Duplicate of #3395. I am working on this. Takes few more weeks to go.

[2021-07-20 09:00] academy-codex commented on #8591
Driver might support, but i am thinking why not generalise from trino config side.. like you can provide auth mechanishm property and give respective config and internally we resolve it at connector factory level.

[2021-07-20 09:01] #8608 closed

[2021-07-20 09:53] findepi commented on #8605
Currently, only single `=` can be delegated to metastore.

https://github.com/trinodb/trino/blob/d95eafe397fe4b476b2b1a73baeb7643349d4bdb/plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/MetastoreUtil.java#L342

This is a limitation of the HMS API we use to retrieve partition values (`get_partition_names_ps`).

We may be able to switch to a better API though.

[2021-07-20 09:55] findepi commented on #8575
It's not.

Of course, we can work in parallel on these things.
I do not expect TestNG 7.4 to be "issue-free", so we will still have our test analyzers.

And, adding this one here should be really straightforward.

[2021-07-20 10:16] findepi commented on #8455
[code]

#8598

[2021-07-20 10:31] findepi commented on #6663
@rdblue since Trino has builtin UUID type, it can be supported directly.
For engines without UUID type, values can be mapped to a varchar/string (e.g. with canonical "dashed hex" representation).

[2021-07-20 10:40] findepi opened #8611 "Flaky test TestJdbcConnection.testConcurrentCancellationOnConnectionClose"
[code]

cc @kokosing

[2021-07-20 12:39] ebyhr commented on #4489
@ruodingt Could you confirm `Network Access` in Atlas? Can you connect to Atlas without Trino?
<img width="820" alt="Screen Shot 2021-07-20 at 21 38 10" src="https://user-images.githubusercontent.com/6237050/126325420-93921227-62fd-4aa8-9eb0-e6f15aafed5e.png">

[2021-07-20 16:00] vedangparasnis opened #8617 "Pinot Connector not working with secured pinot.controller-urls (https)"
I noticed that trino's pinot connector adds a prefix a as http to pinot-controller-urls when we try to connect trino with pinot.
But In our Case we have attached a loadbalancer  over our zookeeper cluster for our dev apache pinot and added a secure connection .  Hence we require https prefix over http when connecting with  trino pinot connector

   connector.name=pinot
   pinot.controller-urls=pin

[2021-07-20 16:08] yjin0510 commented on #8605
Is the limitation with Glue metastore as well?

[2021-07-21 02:20] mortalsWorld commented on #8593
Need to add `elasticsearch.ignore-publish-address=true` in the elasticsearch.properties file.

[2021-07-21 02:21] #8593 closed

[2021-07-21 05:32] ebyhr commented on #8592
Continues in https://trinodb.slack.com/archives/CGB0QHWSW/p1626681768490700

[2021-07-21 05:32] #8592 closed

[2021-07-21 05:34] ebyhr commented on #8491
Going to close since you resolved in https://trinodb.slack.com/archives/CGB0QHWSW/p1625723953246400

[2021-07-21 05:34] #8491 closed

[2021-07-21 07:00] ebyhr commented on #7188
@yangyongyongyong  Could you share more detailed information (connector, file format, number of workers and so on)?

[2021-07-21 07:48] ebyhr commented on #5480
We have https://github.com/trinodb/charts repository now.

[2021-07-21 09:14] findepi opened #8623 "Add support for Iceberg void transform"

[2021-07-21 10:01] hetu18274506280 opened #8626 "Newer Phoenix clients can't communicate with older Phoenix servers"
phoenix 5.0 hbase 2.0
Query the error report:

Outdated jars. Newer Phoenix clients can't communicate with older Phoenix servers. The following servers require an updated phoenix-[version]-server.jar to be put in the classpath of HBase: region=SYSTEM:CATALOG,,1614151399434.54a0f20db397b903156b668c92cc2967., hostname=slaves01,16020,1626256862916, seqNum=438

[2021-07-21 12:57] sopel39 commented on #8455
[code]
https://github.com/trinodb/trino/pull/8624

[2021-07-21 20:47] #5480 closed

[2021-07-21 20:55] findepi opened #8634 "DROP SCHEMA .. [RESTRICT] drops MySQL, MemSQL, ClickHouse schema even if there are relations inside"
per https://github.com/trinodb/trino/discussions/8613, `DROP SCHEMA ..` and `DROP SCHEMA .. RESTRICT` should fail when schema contains tables.

This is not the case for MySQL connector.
This may lead to an inadvertent data loss.

cc @wendigo @hashhar @kokosing

[2021-07-22 03:53] tooptoop4 opened #8635 "Option to not check for CREATE privilege when selecting from someone else's 'DEFINER' type VIEW"
Problem right now is that view owner needs ongoing CREATE privilege even when someone else just wants to query an existing view.

Although this proposal does not fit the letter of the SQL standard it becomes more intuitive. It means that the owner of the view does not need CREATE privilege anymore, it only matters that:
1. sometime in the past the view owner had enough priv to create the view
2. c

[2021-07-22 05:34] kokosing commented on #8634
I think we should check in `DropSchemaTask` if there are tables in the schema before dropping it.

[2021-07-22 06:19] oabao commented on #8590
Hive supports setting the table property parquet.column.index.access for different tables. When set to true, hive reads parquet files according to the column index, otherwise reads the parquet files according to the column name. When hive reads data, it decides how to read parquet files according to this attribute. These two types of tables have no effect on associated queries.

[2021-07-22 07:49] ebyhr opened #8636 "Add support for orc.column.index.access properties in Hive connector"
Relates to #8590

[2021-07-22 10:26] findepi commented on #8439
I like the idea.
see example usage https://github.com/apache/iceberg/blob/1884beeec2e4d48c8627c320a4612320f716af7f/.github/workflows/java-ci.yml#L20-L31

@Ordinant would you be able to propose a code change for this?

[2021-07-22 10:27] findepi commented on #8636
is `orc.column.index.access` something that is Athena-specific?

[2021-07-22 10:30] beepupa opened #8637 "The password file authentication does not take effect"
![image](https://user-images.githubusercontent.com/36186038/126625619-0d6ab22a-f748-434c-b550-e335ff06b835.png)
![image](https://user-images.githubusercontent.com/36186038/126625669-aa6d9048-74fb-4f9a-bd11-8c92d32a3bb3.png)
![image](https://user-images.githubusercontent.com/36186038/126625716-641e0a98-255c-4ce6-b448-f5d9f83c5222.png)
![image](https://user-images.githubusercontent.com/36186038/1266

[2021-07-22 10:56] ebyhr commented on #8636
I could find `parquet.column.index.access` in Hive codebase, but I couldn't find about ORC. It looks specific to Athena.

[2021-07-22 14:08] cyofeiyue opened #8638 "spill disk feature supports splilling to remote place such as s3"
trino will spill data to the local disk (spill to disk) when the memory is insufficient.
is it a good idea to support overwriting to remote S3 storage.
i think the feature is particularly useful when deploying trino on the cloud, because the local storage space of an instance on the cloud may be small or has only one disk device

[2021-07-22 20:28] #7572 closed

[2021-07-22 20:39] findepi commented on #8638
i agree this could be useful.
there are some additional security implications when using shared storage for spilling, but this can be offset with encryption, if needed

cc @sopel39

[2021-07-23 00:56] ebyhr commented on #8589
Relates to https://trinodb.slack.com/archives/CGB0QHWSW/p1626762176003400

[2021-07-23 05:06] haldes commented on #8634
@findepi @kokosing I can take a look. Can you please assign this to me.

[2021-07-23 05:38] beepupa commented on #8637
How should I configure it correctly

[2021-07-23 05:41] hashhar commented on #8637
Password only works over https. So make sure you visit the page using the HTTPS address.

See the step-by-step at https://trino.io/docs/current/security/overview.html#suggested-configuration-workflow.

[2021-07-23 05:53] hashhar commented on #8638
I think this isn't very useful if you are already running on the cloud (since you can just add machines) - spilling to remote storage will add latency and instability (network communication is inherently unstable).
See also https://trinodb.slack.com/archives/CGB0QHWSW/p1626963074086200.

[2021-07-23 06:58] findepi commented on #8638
@hashhar i agree

i agree

i do not agree. You cannot add machines while a query is running (ie you can, but eg join or aggregation won't become more distributed)
So, you may pick you your cluster size according to your best guess, but still could want to enable spill for edge cases.

And remote storage has the benefit that you don't need to pay for it upfront, as compared with eg EBS volumes.

[2021-07-23 09:35] findepi commented on #8634
same applies to MemSQL. Clickhouse

[2021-07-23 09:38] findepi commented on #8634
I did not verify Kudu

[2021-07-23 10:19] findepi commented on #7502
@JasonRuckman many thanks for a runnable test case!

the original exception you attached:

[code]

seems to be no longer there

however, when i run your test on current `master`, i get

[code]

[2021-07-23 10:26] findepi opened #8644 "Iceberg connector failure when pushing down large domain: StackOverflowError"
`testLargeInFailureOnPartitionedColumns` fails very often when run locally.

[code]

cc @phd3 @alexjo2144 @losipiuk

[2021-07-23 10:47] findepi commented on #7502
This is tracked by https://github.com/trinodb/trino/issues/7999, so closing this one as fixed.

[2021-07-23 10:47] #7502 closed

[2021-07-23 10:49] findepi commented on #8455
[code]

#7502 #8616

[2021-07-23 10:55] findepi commented on #6610
@rocketguan i am tempted to close the issue as obsolete. Can you please verify whether this works in your environment now?

[2021-07-23 11:50] findepi commented on #8644
@phd3 would you be open to removing the test and creating an issue to track the problem instead?

[2021-07-23 12:13] cyofeiyue commented on #8638
In the scenario where my company uses trino, the hard disk of the cloud machine is small for some reasons, and there is only one disk,  writing trino logs, GC logs will  increase disk‘s load. If splling to disk switch is turned on, load will be further increased，Sacrificing some query latency to ensure that the query ends successfully may be an acceptable solution

[2021-07-23 12:25] cyofeiyue commented on #8638
i found similar mechanism in impala4.0
https://issues.apache.org/jira/browse/IMPALA-9867

[2021-07-23 13:49] findepi opened #8648 "Incorrect number distinct values (NDV) stats reported by Iceberg"
See TODOs in the code being added in https://github.com/trinodb/trino/pull/8647

[2021-07-23 13:51] findepi opened #8649 "Add test coverage for data size reported by Iceberg connector"
Some Iceberg tests use something like this:

[code]

this should be removed and test coverage improved.

[2021-07-23 14:13] findepi commented on #5918
Maybe fixed by https://github.com/trinodb/trino/pull/8616 .

[2021-07-23 14:17] guimingyue opened #8651 "Could not transfer artifact io.airlift:airbase:pom:110 when running DevelopmentServer in IDEA"
I saw the following exception when running `DevelopmentServer` in IDEA with the args from the trino [readme](https://github.com/trinodb/trino#running-the-full-server). How can I solve this problem? Is there any configuration missing. Anyone can help me?
[code]

[2021-07-23 14:33] hashhar commented on #8651
Did you set the working directory to `$MODULE_DIR$`? I've seen this error if the working directory is incorrect.

The run configuration should look like
<img width="1047" alt="Screenshot 2021-07-23 at 8 01 42 PM" src="https://user-images.githubusercontent.com/10473142/126797376-3515b42b-1557-4fa2-8e07-b7e2caf8f79f.png">

Feel free to join our [Slack](https://trino.io/slack.html) and continue the c

[2021-07-23 14:33] #8651 closed

[2021-07-23 16:53] findepi commented on #8455
[code]

https://github.com/trinodb/trino/pull/8600

[2021-07-23 16:56] findepi commented on #8455
[code]
https://github.com/trinodb/trino/pull/8056

[2021-07-23 16:58] findepi commented on #6220
https://github.com/trinodb/trino/runs/3144400785 (in https://github.com/trinodb/trino/pull/8645)

[code]

[2021-07-23 23:54] caneGuy opened #8653 "Add apache doris connector"
Apache doris(https://doris.apache.org/master/en/) is a fast MPP database for all modern analytics on big data.Like Clickhouse, it is widely used in China. We have implemented a Doris connector in our production and we would like to contribute it to the community.

[2021-07-24 07:16] ebyhr commented on #7843
Going to close this issue since already resolved.

[2021-07-24 07:16] #7843 closed

[2021-07-24 11:07] ebyhr commented on #4836
This is actually Cassandra connector's bug. Relates to #3763

[2021-07-24 13:44] guimingyue commented on #8651
hi @hashhar, thanks for your reply, I have set the working directory to `$MODULE_DIR$`, the following picture is the configuration of the application. Looking forward to your reply.
![image](https://user-images.githubusercontent.com/1716196/126870201-727fd6d8-fc10-44f6-bff6-703c32c6f250.png)

[2021-07-25 07:21] yekmolsoheil commented on #6666
where should I add this line of code in order to work? which file?

[2021-07-25 07:59] hashhar commented on #8651
Make sure you have also successfully run `./mvnw clean install -DskiptTests` from within the repository once to make sure all dependencies are resolved and available to IntelliJ.

[2021-07-25 13:38] guimingyue commented on #8651
@hashhar I have run `mvnw` command with the pl option `-pl -docs` successfully, and the full command is  `./mvnw clean install -DskipTests -pl -docs`, the docs module require the docker command to build completely, so I exclude this module.

I saw the following WARNING log in the standard log, I think this is the reason for the failure.
[code]

[2021-07-26 03:14] njalan commented on #8606
@hashhar  Thanks for your reply. Does this event listener spi support prestosql 340?

[2021-07-26 03:22] ebyhr commented on #8606
@njalan Yes, it's supported in version 340.

[2021-07-26 03:29] 90lantran commented on #6392
@findepi I can try to work on it if no one actively work on it

[2021-07-26 03:35] 90lantran commented on #6395
@findepi if this one is available, I can take a look on it. FYI: this is my first issue.

[2021-07-26 03:58] njalan commented on #8606
@ebyhr Got it,Thanks

[2021-07-26 08:03] findepi commented on #6395
@90lantran awesome!

it is available, will assign to you.
note that there are two `TestPhoenixTypeMapping` classes since we have `phoenix` and `phoenix5` modules.
you can do both at the same time, should be identical.

should you need any advice, @hashhar is the best person to ask.

[2021-07-26 08:05] findepi commented on #6392
@90lantran awesome!
per your request, i assign you in #6395. Let's do one at a time. Please let me know which one you would prefer first.

[2021-07-26 10:58] kokosing commented on #6666
Please place it in `config.properties` file.

[2021-07-26 11:08] soheildsh commented on #6666
Thank you sir. But when I place this line in config file when I run trino 351 I get the following error between many lines that are being printed on terminal:
[code]

and at the end of terminal it appears that trino cannot start showing this:

[code]

[2021-07-26 12:25] CodyLeeWhite opened #8662 "Flaky test TestHiveStorageFormats.testTimestampCreatedFromTrino"
Test fails intermittently with

[code]

[2021-07-26 14:10] findepi commented on #8432
https://github.com/trinodb/trino/runs/3161064892

[2021-07-26 14:10] findepi commented on #8432
https://github.com/trinodb/trino/runs/3161064892 cc @skrzypo987

[2021-07-26 15:02] findepi commented on #8648
This is a problem in my reading of test results, see https://github.com/trinodb/trino/pull/8647#discussion_r676637171

thanks @phd3

[2021-07-26 15:02] #8648 closed

[2021-07-26 15:03] phd3 opened #8663 "Fix reading of specific Iceberg snapshots"
Iceberg connector currently doesn't have testing for queries accessing specific snapshot version of a table, and some behaviors seem broken or counterintuitive.

Ref: https://github.com/trinodb/trino/pull/8646#discussion_r675553884

e.g.

- [x] Accessing two different snapshot ids in the same query is broken. (Fix https://github.com/trinodb/trino/pull/8843)

[code]

- [ ] Accessing an incorrect ra

[2021-07-26 16:41] 90lantran commented on #6395
@findepi  I will work on this one first, please ignore my request for the other issue

[2021-07-27 04:40] guimingyue commented on #8651
@hashhar
I have solved this problem. The reason for this problem is that the default maven repository is `confluent` which is defined in the file of trino/pom.xml. And the file `io/airlift/airbase/110/airbase-110.pom` is not present in this repository. So I replaced this configuration with aliyun repository which is ok for me.
[code]

[2021-07-27 06:45] hashhar commented on #8651
That doesn't define the default. That's in addition to the default repository which is Maven Central (configured by Maven itself). I think you are behind a proxy which doesn't allow connections to Maven Central hence are seeing this issue.

If that is the case you should configure aliyun repo as a mirror of maven central as below in your `~/.m2/settings.xml`.

[code]

[2021-07-27 07:22] #7999 closed

[2021-07-27 07:23] findepi commented on #8455
[code]

#8647

[2021-07-27 07:44] cyofeiyue opened #8671 "There is a mismatch between the table and partition schemas. The types are incompatible and cannot be coerced"
**i met such error as below against presto 315:**
[code]

**SQL  is:**
` select * fromdws_vip_settlement_revenue_order_two_new_d where dayno = 20210702 and source_new = 'video' limit 10;
`

**DDL is :**
[code]

[2021-07-27 08:39] kaojunsong opened #8672 "Logout in Web UI does not working using oauth2"
Hi exports,

I am using keycloak for the oauth2 implement for trino, and I configure the trino config.properties according to https://trino.io/docs/current/security/oauth2.html.

And I can login to the trino Web UI successfully , but when I try to logout using the green "Log Out" button, I can't logout, and I'm  still in the Web UI page.

[2021-07-27 08:40] hashhar commented on #8455
[code]

#8171

[2021-07-27 09:02] nigurr opened #8673 "Presto Client Query Results Pagination limits"
Presto/Trino Client documentation describes the behavior of paginated results - https://trino.io/docs/current/develop/client-protocol.html#

I couldn't find information/documentation regarding the default limit per page (nextURI).
Can this be set by Client or Server? If so, which properties/configuration defines the same.

Any help is appreciated!

[2021-07-27 09:37] kokosing commented on #8672
CC: @lukasz-walkiewicz

[2021-07-27 09:54] findepi commented on #8662
@CodyLeeWhite which test line this fails at?

[2021-07-27 09:55] findepi commented on #8404
@jibinpt did you try to add that module?

[2021-07-27 11:13] findepi opened #8675 "Excessive metastore invocations when querying Iceberg table"
There was a concern about second call to getTable here https://github.com/trinodb/trino/pull/8151#discussion_r643707727  because these can be expensive.

as  https://github.com/trinodb/trino/blob/30f2ecce1dd1fe787b075ecf21d30fe89d38e315/plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMetastoreAccessOperations.java#L106-L108 shows, we currently do 12 such calls per table when

[2021-07-27 11:17] hashhar commented on #8662
The logs are no longer available for the run this was originally observed on but the test method is `TestHiveViews#testFailingHiveViewsForInformationSchema`.

It seems it fails on https://github.com/trinodb/trino/blob/7458520ccae2d18e3962e03f78d6d1bd737b3260/testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveViews.java#L75.

The fact that the error comes from Calcite is

[2021-07-27 11:21] findepi commented on #8675
Out of these 12:

- 4x `io.trino.plugin.iceberg.IcebergMetadata#getSystemTable`
- 1x `io.trino.plugin.iceberg.IcebergMetadata#getMaterializedView` and 1x `io.trino.plugin.iceberg.IcebergMetadata#getView`
- 2x `IcebergMetadata.getTableHandle` (apparently within one call)
- 4x `IcebergMetadata.getTableMetadata` (these seem plain redundant)

cc @homar @joshthoward @clemensvonschwerin

[2021-07-27 11:29] findepi commented on #8675
https://github.com/trinodb/trino/pull/8676

[2021-07-27 12:56] wendigo commented on #8634
Closed by https://github.com/trinodb/trino/pull/8660

[2021-07-27 12:56] #8634 closed

[2021-07-27 13:01] wendigo commented on #8673
It's controlled by `targetResultSize` query param. Default is to fetch up to 1 MB of data, please see comment here: https://github.com/trinodb/trino/blob/4492277f15c090cd8edcf690ef4bac1eb6ea02cc/core/trino-main/src/main/java/io/trino/server/protocol/Query.java#L503

[2021-07-27 13:56] nigurr commented on #8673
Awesome. Thank you! Can I raise PR to embed this info in documentation? Would be great which section should I target? HTTP Client section?

[2021-07-27 14:01] hashhar commented on #8673
Note that larger values increase CPU and memory usage on both client and co-ordinator since the payload is JSON and parsing larger payloads takes longer wall-clock times.

@nigurr are you writing a new client? Generally nobody should have to use the client API directly.

[2021-07-27 14:04] hashhar commented on #8455
[code]

https://github.com/trinodb/trino/pull/8660

[2021-07-27 14:15] nigurr commented on #8673
I am planning to extend the `go-client`. From the current implementation https://github.com/trinodb/trino-go-client/blob/master/trino/trino.go#L885 we keep on fetching data until we completed loading full data set and return all rows (if I try to fetch million rows, the memory foot print shoots up to 30 GB in go client).

It can be extended to expose `reader channel` where we can stream the result

[2021-07-27 14:18] hashhar commented on #8673
Agreed. The JDBC client works in a similar manner by using a thread to fetch results and another to parse and return results returned in previous fetch IIRC.

I think it'll be helpful if you join along on [Slack](https://trino.io/slack.html) we can discuss in detail at #dev about possible ways to improve the trino-go-client.

[2021-07-27 15:25] yanqinghe opened #8680 "Use session TimeZone for timestamp_tz column"
when query timestamp_tz column data from iceberg table, I found that Trino uses the UTC time zone to process these columns, which increases the cost of using queries.
For example:
[code]
specify time zone
[code]

Can we use session time zone to process these fields with time zone so that users do not need to make additional time zone conversion when querying?

There are places in the processing lo

[2021-07-27 16:56] epogash opened #8682 "Support use-preferred-write-partitioning for the Iceberg connector"
When trying to utilize use-preferred-write-partitioning for Iceberg, there is no effect.

[2021-07-27 17:21] joshthoward commented on #6663
I raised the issue in the Iceberg dev list. Let's see where it goes.

[2021-07-27 17:53] phd3 commented on #8455
[code]

#8450

[2021-07-27 17:55] rdblue commented on #6663
The thread on the dev list said that there's consensus in the Trino community to keep UUID. I didn't realize that. Where did that discussion happen and what were the reasons to keep it?

[2021-07-27 17:59] phd3 commented on #8455
[code]

#5201
#8504

[2021-07-27 18:16] hashhar commented on #5201
@phd3 Should this be closed since https://github.com/trinodb/trino/pull/8504 is merged and follow-up on Iceberg side (if needed)?

[2021-07-27 18:28] joshthoward commented on #6663
@rdblue In the dev list I said that there appeared to be a consensus in this issue, based on your and Piotr's comments, not in the community as a whole.

[2021-07-27 18:33] ChinmaySKulkarni commented on #7249
@findepi @phd3 @electrum @losipiuk @djsstarburst Seems like if we were to use the `ThriftMetastore.IFace#drop_partitions_req` call, we have to serialize the drop partition expression in our `DropPartitionsExpr` and potentially implement Hive's [PartitionExpressionProxy](https://github.com/apache/hive/blob/a93798f40a81506f2b0fdee224465d432161a0e0/standalone-metastore/src/main/java/org/apache/hadoop

[2021-07-27 18:39] joshthoward commented on #5875
@waterlx do you have a way to reproduce this bug?

[2021-07-27 19:11] phd3 commented on #5201
make sense. Fixed by #8504.

[2021-07-27 19:11] #5201 closed

[2021-07-27 23:41] electrum commented on #8675
Nice analysis. It looks like we will need to change the connector, since it seems hard to avoid all of these.

[2021-07-28 00:31] ebyhr commented on #7188
Going to close this issue since there is no response for a while. Please feel free to ask in the community Slack. https://trino.io/community.html

[2021-07-28 00:31] #7188 closed

[2021-07-28 05:17] electrum commented on #7619
This was moved to TestIcebergParquetConnectorTest via BaseIcebergConnectorTest and is no longer marked as flaky.

[2021-07-28 05:17] #7619 closed

[2021-07-28 06:29] harlequin opened #8687 "Support LDAP Authentication and Mail Attribute as Username"
Currently when LDAP Authentication is activated against an Active Directory the samAccountName is taken for login and username.

In out use case it's not possible to maintain a user-mapping file with all people and mail addresses.

Therefore a username attribute mapping in LDAP would be great.

[2021-07-28 07:36] zcdJason commented on #8653
when to submit？

[2021-07-28 07:53] findepi commented on #8675
https://github.com/trinodb/trino/pull/8689

[2021-07-28 08:13] findepi commented on #7249
Would that mean it's hardly usable by the general audience?

I would strongly prefer that we find something that can work for everyone, or at least for large group of users.
So for example depending on some reasonably new (existing in the wild) Hive version is OK for me, even if some people still use older versions.

[2021-07-28 08:54] findepi commented on #8675
When selecting from a system table, we currently do even more accesses:

[code]

[2021-07-28 09:54] findepi opened #8690 "Accessing non-existent Iceberg system table should result in "table not found""
[code]

[code]

[2021-07-28 10:20] #8673 closed

[2021-07-28 10:20] nigurr commented on #8673
Will take this offline.

[2021-07-28 10:24] findepi opened #8691 "Flaky test TestMemoryConnectorTest.testCustomMetricsScanFilter"
https://github.com/trinodb/trino/runs/3179633364

[code]

cc @rzeyde-varada

[2021-07-28 10:25] findepi commented on #8345
https://github.com/trinodb/trino/runs/3179634070 cc @wendigo @hashhar

[2021-07-28 10:49] findepi commented on #8675
https://github.com/trinodb/trino/pull/8692

[2021-07-28 11:04] findepi commented on #6663
I am fine with Iceberg either keeping or removing UUID type, since I am not a user.
As I user, I would probably prefer to have it.

As I Trino engineer, I want Trino to successfully read every valid Iceberg table, and this includes supporting Iceberg UUID type, per https://iceberg.apache.org/spec/#primitive-types.

Am i reading it correctly this is currently "dead code" in the spec that you @rdblu

[2021-07-28 11:47] findepi opened #8693 "Properly reject Iceberg tables in Hive connector"
Currently

[code]

fails with

[code]

and

[code]

does not fail at all.

[2021-07-28 13:03] findepi commented on #8680
Iceberg's `timestamptz` is a point in time (without zone).

Mapping to session zone would have representability consequences as in https://github.com/trinodb/trino/pull/5488.

[2021-07-28 13:07] ic4y commented on #8341
@sopel39 Thanks . this solves the problem

[2021-07-28 13:07] #8341 closed

[2021-07-28 13:53] findepi commented on #5459
This is now mostly covered by existing `TestIcebergHiveMetadataListing`, with SELECT scenario being added in https://github.com/trinodb/trino/pull/8692

[2021-07-28 14:35] findepi commented on #8455
[code]

#8676, #8689 (for #8675, but that's still not fully done yet)

[2021-07-28 14:55] findepi commented on #8691
https://github.com/trinodb/trino/runs/3181603026 cc @rzeyde-varada

[2021-07-28 15:45] electrum commented on #6663
I agree with @findepi.

I’m not aware of any discussion or consensus in the Trino community about the UUID type in Iceberg. If you are using UUIDs, then having an explicit type is nicer, since the mapping and display is automatic.

While I wouldn’t advocate to add it to the spec as new type, unless we know for certain that it’s not used, deprecating is probably more annoying than keeping it around

[2021-07-28 16:01] rdblue commented on #6663
I agree, we should either remove it or support it. I think we just need to decide.

It seems useful to me so I'm leaning toward keeping it. I think if we had good support for UUID in engines, it would be a good type to use for identifiers because you can generate them in parallel without coordination and we can optimize them for use in comparison by keeping them as fixed[16] internally. They aren'

[2021-07-28 16:12] martint commented on #8455
[code]

#8639

[2021-07-28 16:24] kasiafi commented on #8455
[code]
https://github.com/trinodb/trino/pull/8554

[2021-07-28 17:19] ChinmaySKulkarni commented on #7249
@findepi I agree that this should work for as many users as possible, if not all of them. Based on my initial poking around with Hive Metastore, it looks like there isn't a way to use the batch drop partitions API without the above-mentioned changes to HMS **OR** we could drop a jar containing this new class (our new implementation of PartitionExpressionProxy) which we will have to make available

[2021-07-28 19:31] rzeyde-varada commented on #8691
Reproduced locally (failed 2 out of 10k runs of `testCustomMetricsScanFilter`)
[code]

[2021-07-28 20:57] posulliv opened #8700 "Unable to query optimizer_rule_stats table"
Attempting to query the `system.runtime.optimizer_rule_stats` table results in the following error:

[code]

I have tried querying this table in multiple clusters I have access to and tried with `node-scheduler.include-coordinator` set to both `true` and `false` but no luck.

I've tested with 356 and 359 and have hit the same issue on both versions.

[2021-07-29 05:53] suryans1 opened #8702 "Caused by: java.lang.IllegalArgumentException: Multiple entries with same key:"
Hii i am getting the below error while i am trying to insert the data in to a table from another table.

PFA error

[inserterror.txt](https://github.com/trinodb/trino/files/6898167/inserterror.txt)

create query for table test

CREATE TABLE sample.test (
   account_no bigint,
   msisdn varchar,
   product_name varchar,
   sub_segment varchar,
   rev_segment varchar,
   region varchar,
   free_usag

[2021-07-29 07:25] rzeyde-varada commented on #8691
`testCustomMetricsScanOnly` also failed locally 3 times (out of 10k runs) with:
[code]

[2021-07-29 07:41] rzeyde-varada commented on #8691
It seems that also `OperatorStats#getInputPositions` (which is a "non-custom metric") aggregation returns the wrong result when the above error occurs:
[code]
I have used the following snippet to compute the total input positions:
https://github.com/rzeyde-varada/trino/commit/4399126e49aa6b0939f3ae3c4fbdbd391b908efd#diff-920e9ca800575089f913cc4063da9962bfe7bd4adbd617668c973a7004cd2c99R178

[2021-07-29 07:44] findepi commented on #8691
Is it another incarnation of https://github.com/trinodb/trino/issues/5172?
We have marked many tests as `@Flaky` attributing flakiness to that issue.

[2021-07-29 07:45] findepi commented on #8691
cc @sopel39

[2021-07-29 08:38] findepi commented on #6663
@rdblue  What's the process to arrive at the decision?
Should i start a thread on the mailing list, or something like that?

[2021-07-29 08:43] findepi commented on #7249
@ChinmaySKulkarni
maybe we should offer a patch to Hive project which would add support for bulk partition drop to HMS (out of the box).
then we could offer a backport of such a change to Hive 3.x and 2.x branches. If Hive project is OK with that, that would mean the feature can be made available to HMS users is reasonable timeframe.

[2021-07-29 10:02] findepi commented on #8702
@suryans1 thank you for your report.
i see that you encountered a problem when working with tables that have 80 columns.
Was the problem reproducible for tables with 40 columns?
What is the minimum number of columns required to reproduce the problem?

please inline the exception in the issue description (using ```` ``` ```` blocks), so it's easily searchable.

[2021-07-29 10:10] suryans1 commented on #8702
Please fimd the exception
"com.google.common.util.concurrent.UncheckedExecutionException: java.lang.IllegalArgumentException: Multiple entries with same key: col18=HiveColumnStatistics{integerStatistics=Optional.empty, doubleStatistics=Optional[DoubleStatistics{min=OptionalDouble.empty, max=OptionalDouble.empty}], decimalStatistics=Optional.empty, dateStatistics=Optional.empty, booleanStatistics=O

[2021-07-29 10:14] findepi commented on #8700
Caused by 9777b4676720954cece4532d9996826bf3f5c608 (cc @martint), which was fixing f3dda9c96289c38ac99024ac64393debdf2dab9d (cc @sopel39)

the test should go into `io.trino.connector.system.runtime.TestSystemConnector`.

[2021-07-29 10:23] sopel39 commented on #8455
[code]
https://github.com/trinodb/trino/pull/8615

[2021-07-29 10:28] sopel39 commented on #8700
`optimizer_rule_stats` should now use `OptimizerStatsMBeanExporter` which should be extended to return `ruleStats`

[2021-07-29 12:12] walter-weinmann opened #8708 "Add support for DatabaseMetaData.getImportedKeys in Trino JDBC"
[code]

[2021-07-29 12:25] sopel39 opened #8709 "CTAS into HIVE with column names having trailing spaces fails"
Query:
[code]
Error
[code]
cc @findepi

[2021-07-29 12:27] hashhar commented on #8709
Duplicate of https://github.com/trinodb/trino/issues/3461.

[2021-07-29 12:36] sopel39 commented on #8709
Closing as duplicate

[2021-07-29 12:36] #8709 closed

[2021-07-29 13:55] ebyhr opened #8711 "Filter on SET primary key causes invalid list literal error in Cassandra connector"
Steps to reproduce:
Cassandra
[code]

Trino
[code]

[code]

[2021-07-29 14:55] findepi commented on #8708
There are many unimplemented methods in Trino JDBC, you can them by searching for `throw new SQLFeatureNotSupportedException` in the code base
The `DatabaseMetaData.getImportedKeys` is one of them. @walter-weinmann Is this method of any particular interest?

The method docs is

Currently there is no concept of primary or foreign keys in Trino, so it seems legitimate for this method to return an em

[2021-07-29 15:09] kqkdChen opened #8713 "JDBC Driver Performance issues"
Why is the query performance of trino jdbc driver not as good as trino cli? The same SQL statement to query mysql:
`trino cli: 150ms`,
`jdbc driver: takes about 400ms`
<b>performance is more than twice as bad</b>

![image](https://user-images.githubusercontent.com/41674301/127515076-3b4aafd4-8aac-4d6d-862c-f3b668bab0e9.png)

I can make sure that there is no problem with my jdbc configuration, and

[2021-07-29 15:12] suryans1 commented on #8702
@findepi
Was the problem reproducible for tables with 40 columns?====> No it's not reproducible

Even with more columns also we are seeing this issue  intermittently and that to also only with partition table

What is the minimum number of columns required to reproduce the problem?===> 80 columns and a partition column on time stamp field

[2021-07-29 16:21] Justin-Kwan opened #8715 "Test Nanosecond Timestamp Handling for Optimized Parquet Writer"
**Description**

- Enable nanosecond timestamp unit tests to run against Optimized Parquet Writer, once https://github.com/trinodb/trino/issues/5357 is completed
- Update `TestHiveStorageFormats.storageFormatsWithNanosecondPrecision` to not filter out optimized storage formats.

https://github.com/trinodb/trino/pull/8699

cc: @findepi

[2021-07-29 19:41] phd3 commented on #8644
sorry, I missed this one. IMO it's better to keep the test to easily know in future what we're fixing. (and since you've already sort of fixed it. ;) )

[2021-07-29 22:32] jibinpt commented on #8404
@findepi error message say ```(through reference chain: org.apache.calcite.avatica.remote.Service$ExecuteRequest["parameterValues"]->java.util.Arrays$ArrayList[0]->org.apache.calcite.avatica.remote.TypedValue["value"])```. So won't this be happening at Druid side and including this module in Trino pom.xml won't help right?

[2021-07-29 23:48] martint commented on #8455
[code]

https://github.com/trinodb/trino/pull/8714

[2021-07-30 02:56] kaojunsong commented on #8672
@lukasz-walkiewicz Hi, could you please have a look at this issue? Does trino have the logout function for oauth2? If yes, is this a bug?

[2021-07-30 07:46] suryans1 commented on #8702
@findepi  this error we are able to see when there are multiple entries for the same table in the hive metastore.

[2021-07-30 08:05] findepi opened #8719 "Failing product test suite `suite-oauth2`"
https://github.com/trinodb/trino/runs/3199652457

[code]

[2021-07-30 08:05] findepi commented on #8719
cc @s2lomon @kokosing @lukasz-walkiewicz

[2021-07-30 08:05] findepi commented on #8719
https://github.com/trinodb/trino/runs/3190465090

[2021-07-30 08:08] kokosing commented on #8672
It is a bug. Please notice the labels. The problem is that it depends on what IdP you are using. TBH we haven't done much testing with keycloak yet. So it is more a question of what IdP are supported. We test quite frequently with Okta, Hydra, ADFS. Once we did testing for Auth0.

[2021-07-30 08:17] findepi commented on #8719
https://github.com/trinodb/trino/runs/3190775217

[2021-07-30 08:22] findepi commented on #5357
i copied this from https://github.com/trinodb/trino/issues/8715
@Justin-Kwan can you mention exact test classes to be updated?

[2021-07-30 08:22] findepi commented on #8715
I merged this into https://github.com/trinodb/trino/issues/5357.

[2021-07-30 08:22] #8715 closed

[2021-07-30 08:59] findepi commented on #6663
for the reference, this is also being discussed on iceberg dev mailing list https://mail-archives.apache.org/mod_mbox/iceberg-dev/202107.mbox/browser

[2021-07-30 09:26] BrislyPriya opened #8720 "Vulnerabilities in dependencies need fix"
We found few critical/high vulnerabilities in some of the plugin libraries when anchore scan was done on the latest Trino version 359.

CVE-2018-10237 - calcite-core-1.21.0.146-shaded.jar:guava - guava-19.0 (Fix available in guava versions 25.0,24.1.1,23.6.1)

CVE-2020-35490, VULNDB-245657, VULNDB-246010, CVE-2020-36183, VULNDB-245658, VULNDB-246008, CVE-2020-35728, VULNDB-245656, CVE-2020-35491 -

[2021-07-30 09:42] ic4y opened #8721 "Total number of rows in index does not match number of rows in partitions within that index"
I encountered this error in the query, but the problem disappeared when the cluster was restarted.

![image](https://user-images.githubusercontent.com/83933160/127634406-0d6b299c-943a-43ea-8970-004d05694558.png)
![image](https://user-images.githubusercontent.com/83933160/127634471-a9ed8b2c-a807-4d76-b3e1-1d19df02cd43.png)

What causes this problem, and why does the restart problem disappear ？

[2021-07-30 10:30] findepi opened #8724 "Improve performance of Iceberg decimal bucket transform"
See TODOs in the code
https://github.com/trinodb/trino/blob/ba19a0f41facbe80e8c414ed86095ce6d605d002/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/PartitionTransforms.java#L305-L321

[2021-07-30 10:37] VipinShreyasKumar commented on #6439
@kokosing would you be able to point to an implementation snippet of kafka.config.resources usage with Trino. Our kafka cluster is configured with SASL_SSL at the moment.

[2021-07-30 11:19] devsinghnaini commented on #6439
yes we are also facing issue while connecting to kafka cluster which is SASL_SSL enabled from Trino.
@kokosing  or @klDen Can you please help us on this configuration for kafka.config.resources or when will this be implemented in Trino.

[2021-07-30 11:36] kokosing commented on #6439
It was an idea how this could be implemented. It is not yet implemented.

[2021-07-30 12:12] kokosing opened #8725 "Transaction should not be allowed to be used when connector does NOT support them"
Tested on memory connector:
[code]

Disregarding the fact that statements like `START TRANSACTION` and `ROLLBACK` succeeded the "transaction" left side effects. I don't think transaction are commonly used in Trino, so possibly nobody hit this issue (as it was not yet reported) but pretending that they are supported is not good anyway.

[2021-07-30 12:13] kokosing commented on #8725
See: https://github.com/trinodb/trino/pull/8694#issuecomment-889847490

[2021-07-30 14:46] Justin-Kwan commented on #5357
After nanosecond timestamps types are supported by the optimizer Parquet writer, only `TestHiveStorageFormats.storageFormatsWithNanosecondPrecision` needs to be updated to test against any `PARQUET` storage formats that have the property `hive.experimental_parquet_optimized_writer_enabled` enabled.

[2021-07-30 14:56] #6738 closed

[2021-07-30 14:56] Justin-Kwan commented on #6738
@jirassimok completed in https://github.com/trinodb/trino/pull/8699

[2021-07-30 17:06] #8455 closed

[2021-07-30 17:21] rdblue commented on #6663
Coming to a consensus on the dev list is what we normally do in Apache communities. The discussion there is a good one.

[2021-07-30 20:06] findepi opened #8729 "Iceberg $partitions system table returns duplicate column names when partitioning spec evolves"
[code]

[code]

[2021-07-30 21:30] findepi commented on #8721
Duplicates https://github.com/trinodb/trino/issues/7419.

[2021-07-30 21:30] #8721 closed

[2021-07-30 21:53] martint opened #8732 "Release notes for 361"

[2021-07-30 22:20] klDen commented on #6439
I'll start implementing this feature this weekend!

[2021-07-31 13:24] kokosing opened #8737 "Add test coverage for CREATE TABLE IF NOT EXISTS to BaseConnectorTest"

[2021-07-31 13:34] kokosing commented on #8737
This is already covered with: io.trino.testing.AbstractTestDistributedQueries#testCreateTable

[2021-07-31 13:34] #8737 closed

[2021-07-31 21:42] nikitag55 opened #8740 "Trino Prometheus connector is converting all the metric names from Prometheus into Lowercase and hence, queries to prometheus are failing"
I'm using Trino Prometheus Connector. Prometheus allows metrics names following regex pattern:

`[a-zA-Z_:][a-zA-Z0-9_:]*.`

which means that metric names with upper case letters are also allowed.

Now, I have some of the metrics with name like:

`Client_mount_disk_cache_hit_requests_total`

When I use Trino Prometheus connector and do a query like:

`cur.execute("""SHOW TABLES""")`

It outputs ta

[2021-08-01 00:11] walter-weinmann commented on #8708
Thanks @findepi for the explanation.

[2021-08-01 00:11] #8708 closed

[2021-08-01 00:16] walter-weinmann opened #8741 "Version 360 - USE statement - java.sql.SQLException: Error executing query"
### MySQL Connector

[code]

### Oracle Connector

[code]

### PostgreSQL Connector

[code]

### SQLServer Connector

[code]

[2021-08-01 00:53] ebyhr commented on #8741
I couldn't reproduce it with Trino server version 360 and JDBC driver version 360. Can you make sure the connection between your application and Trino server? Also, if you could leave the simple steps to reproduce without your application, it's helpful for debugging the issue.

[2021-08-01 02:27] walter-weinmann commented on #8741
@ebyhr thanks a lot for the support.

I use a very stable environment with the official Docker image and the JDBC driver from the Maven repository. It is easy for me to vary the different versions:

Docker 359 / JDBC 359: ok
Docker 359 / JDBC 360: ok
Docker 360 / JDBC 359: fails
Docker 360 / JDBC 360: fails

I think the problem is due to the new version of the Docker image.

[2021-08-01 02:54] ebyhr commented on #8741
I tested with a docker image and JDBC driver in Maven. Then, please share your actual code (GitHub url is fine).

[2021-08-01 03:03] walter-weinmann commented on #8741
The whole DBSeeder project can be found [here](https://github.com/KonnexionsGmbH/db_seeder).

The AbstractJdbcSeeder class can be found [here](https://github.com/KonnexionsGmbH/db_seeder/blob/master/src/main/java/ch/konnexions/db_seeder/jdbc/AbstractJdbcSeeder.java).

[2021-08-01 03:05] walter-weinmann commented on #8741
And here is the content of my `db_seeder_mysql.properties` file:

[code]

[2021-08-01 04:03] ebyhr commented on #8741
Additionally, please share the steps to reproduce with command level. I'm not familiar with your application.

[2021-08-01 04:17] ebyhr commented on #8740
Relates to #17. Some connectors have case-insensitive matching config, but Prometheus connector doesn't.

[2021-08-01 04:25] ebyhr commented on #8741
If the cause is Trino docker image, you should be able to reproduce without your app. I hope you provide "minimum" code so that we can debug quickly.

[2021-08-01 06:11] walter-weinmann commented on #8741
Hi @ebyhr - below you will find a small programme that demonstrates the problem. It runs without errors with version 359 but fails with version 360. I have also added the two debug logs. I did use the Oracle connector and a Oracle database (19c).

[db_seeder_I8741_359.log](https://github.com/trinodb/trino/files/6912203/db_seeder_I8741_359.log)
[db_seeder_I8741_360.log](https://github.com/trinodb/t

[2021-08-01 06:49] nnandula commented on #8344
Hi,
I am facing the same issue. Just checking if you were able to resolve it.

[2021-08-01 08:32] nikitag55 opened #8742 "Trino-Prometheus connector: Enable filter labels pushdown to the api/v1/query endpoint in addition to the timestamp and values filters"
As of now, In a query like below:

cur.execute("""SELECT * FROM http_request_total WHERE labels['instance'] = 'grafana' AND timestamp > (NOW() - INTERVAL '1' DAY)""")

Trino sends the request to Prometheus query endpoint is **without** `labels['instance']` and the request to the query endpoint looks like this:

`api/v1/query?query= http_request_total[5m]&time=123456`

and when the above request is

[2021-08-01 13:05] ebyhr commented on #8741
The code works well in my environment. Could you make sure connection between JDBC driver and Trino server again (especially port biding)? What's the `docker ps` result?

[2021-08-01 13:42] walter-weinmann commented on #8741
The fact is that in my environment, the Docker image from version 359 runs without problems, unlike the Docker image from version 360.

### Docker image version 359

[code]
### Docker image version 360

[code]

[2021-08-01 14:07] ebyhr commented on #8741
Why "Docker image version 360" doesn't have running trino docker container? What's the result of `docker logs 0b19761b2d22`?

[2021-08-01 14:25] ebyhr commented on #8741
From Slack
[code]

[2021-08-01 14:28] ebyhr commented on #8741
Let me close this issue because version 360's behavior is right.

[2021-08-01 14:28] #8741 closed

[2021-08-01 14:58] hashhar commented on #8344
JsonResponse{statusCode=403

Suggests that your client isn't authenticating to Trino. Make sure you use the https url and pass the username and password. And that there are no system access controls configured preventing the user from executing the given query.

[2021-08-01 16:18] nnandula commented on #8344
Hello @hashhar,

Yes it is present in the `config.properties`

We are using a proxy server and the Trino coordinator is running with HTTP configuration on the default port, 8080.

Added `http-server.process-forwarded=true` to the `config.properties` file.

We are able to connect to trino using the proxy server https url and query data.

Now to configure LDAP authentication added `http-server.authe

[2021-08-02 06:20] nnandula opened #8744 "Trino LDAP setup fails with HTTP ERROR 403 Forbidden"
Hi,
We are trying to set up Trino server 359 with LDAP authentication.
We are using a proxy server (load balancer) and the Trino coordinator is running with HTTP configuration on the default port, 8080.

Added `http-server.process-forwarded=true ` to the `config.properties` file.

We are able to connect to trino using the proxy server HTTPS URL and query data.

Now, to configure LDAP authenticatio

[2021-08-02 09:14] #8284 closed

[2021-08-02 09:15] findepi commented on #8732
[code]

#8730

[2021-08-02 09:33] findepi commented on #8644
@phd3 would it be actually possible to avoid failure?
the code  seems to be attempting that: https://github.com/trinodb/trino/blob/47301fb28275cd405ee89113ba4f2a54a01250a8/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitManager.java#L65-L69
the `testLargeInFailureOnPartitionedColumns` suggests there is something more that would benefit from the change?

[2021-08-02 09:36] kokosing opened #8745 "File based column mapping for JDBC connectors"
Currently we are able to map schemas and tables using file based mapping. This is great as it makes it possible to handle the case where schemas and tables names differ with casing only. However we do not support this for columns yet. So in case user has a table where two column names differs with casing only (like column `A` and `a`) we are not able to read it.

See `io.trino.plugin.jdbc.mapping.

[2021-08-02 10:53] findepi commented on #6663
https://github.com/trinodb/trino/pull/8747 adding support for Iceberg UUID in Trino, as this is what we seem to be leaning to.

[2021-08-02 11:11] haldes commented on #8745
@kokosing has anyone one picked this up? If not then, I can start looking into it.

[2021-08-02 11:28] kokosing commented on #8745
@haldes The issue is free. Feel free to take it. Thank you!

[2021-08-02 11:38] haldes opened #8748 "SerDeException for Avro Hive views"
We have recently moved from Presto-341 to Trino-356. We see that while querying hive views we are getting the below error. The same hive view works for the Presto-341 version.
Both the versions are using the same HMS and same user/catalog properties.
We are able to query the underlying tables but not the view. Also we are able to access the view directly through Hive and Presto-341 version.

We we

[2021-08-02 11:39] haldes commented on #8748
@hashhar
[Slack discussion link ](https://trinodb.slack.com/archives/CFLB9AMBN/p1627573121306700)

[2021-08-02 11:56] findepi opened #8750 "Unexpected results when reading Iceberg Parquet table after nested field schema evolved"
This can be reproduced by running `io.trino.tests.product.iceberg.TestIcebergSparkCompatibility#testIdBasedFieldMapping` with PARQUET format.
See also a TODO being added in https://github.com/trinodb/trino/pull/8751

[2021-08-02 12:25] findepi commented on #8691
see https://github.com/trinodb/trino/pull/8739#issuecomment-890960099

[2021-08-02 12:25] findepi commented on #6991
see  https://github.com/trinodb/trino/pull/8739#issuecomment-890960099

[2021-08-02 16:05] hashhar commented on #8744
Can you add `io.trino.plugin.password=DEBUG` to `log.properties` and share the entries from `server.log` (or the stdout/stderr of the container if you are using Docker)?

That will have additional information to see the root cause.

Also, do you have any system access controls configured?
Does your setup work with PASSWORD file authentication? That will help ensure the issue is in the LDAP authent

[2021-08-02 17:12] hashhar commented on #8432
https://github.com/trinodb/trino/runs/3222424910?check_suite_focus=true

[2021-08-02 17:12] hashhar commented on #8719
https://github.com/trinodb/trino/runs/3222426096?check_suite_focus=true

[2021-08-02 17:13] #7320 closed

[2021-08-02 17:36] nnandula commented on #8744
Hello @hashhar - Thank you for your response.

I tried to add `io.trino.plugin.password=DEBUG` to `log.properties` but no new entries in `server.log` when we try to connect via CLI.

The same error with PASSWORD file authentication as well.

Trying to access Web UI after enabling PASSWORD authentication in `config.properties` file says
**_Web Interface is Disabled_**

Please advise.

[2021-08-03 00:52] albericgenius commented on #6393
@findepi Could I take over this issue as my first task?

[2021-08-03 01:28] electrum commented on #8690
Copying my comment from the PR:

I'm not convinced that `NOT_FOUND` is necessarily the right behavior here. These are hidden tables, so there's nothing preventing us from saying that they do exist but are invalid. These would be similar to a Hive table that exists but has bad metadata, for which we would throw `HIVE_INVALID_METADATA`. Or how we throw `HIVE_UNSUPPORTED_FORMAT` for Delta Lake tables

[2021-08-03 03:25] QQ853695231 opened #8755 "insert into kudu table not working"
trion latest version when I use insert into kudu.default.t1 from select c1,c2 from hive.defalt.h2 the cosnole output normal to show how many rows inserted,but I query the table t1 there is nothing;

[2021-08-03 03:27] QQ853695231 commented on #8755
kudu table with partition.
official demo insert into user execute correctly,

[2021-08-03 05:39] kokosing commented on #8719
Disabling test with https://github.com/trinodb/trino/pull/8756 for now.

[2021-08-03 06:42] #8755 closed

[2021-08-03 09:14] findepi commented on #6393
@albericgenius this is already being worked on by @Atema in https://github.com/trinodb/trino/pull/7202. It seems the primary obstacle was the CLA cc @martint

cc @hashhar

[2021-08-03 10:37] findepi opened #8759 "Evaluate Apache Iceberg's support for predicate on structural types"
See TODO https://github.com/trinodb/trino/blob/c4ad66246dea6e95ac6278294f24f0fc43d018b1/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/ExpressionConverter.java#L97

[2021-08-03 12:24] findepi commented on #8690
This behavior may be useful for invalid system table suffix, like `my_table$blah`.
Returning "table exist but is invalid" for `no_such_table$files` is not very useful, and i don't see a reason why we would want such behavior.
IMO from user perspective, reading from `no_such_table$files` is conceptually `SHOW FILES FOR no_such_table` (an imaginary command that we could have, if table files was a SP

[2021-08-03 13:35] findepi commented on #8732
[code]

https://github.com/trinodb/trino/pull/6063

[2021-08-03 13:53] hashhar commented on #8732
[code]

#7320, #8551

[2021-08-03 13:56] #5459 closed

[2021-08-03 15:04] CodyLeeWhite opened #8763 "Flaky TestHiveStorageFormats tests"
testInsertIntoTable and testInsertIntoPartitionedTable can fail with Self-suppression not permitted

testInsertIntoTable stack trace
[code]

testInsertIntoPartitionedTable stack trace
[code]

[2021-08-03 15:22] hashhar commented on #8763
The root cause seems to be same as most of the Hive tests.

`Caused by: org.apache.hadoop.ipc.RemoteException: File /tmp/presto-hive/3c65b5a6-1b9c-4dc2-9194-7f3d487dea36/returnflag=A/20210122_120420_00147_6hnmx_398e8acb-d02f-49b7-abb3-3124d1e432b9 could only be replicated to 0 nodes instead of minReplication (=1).  There are 1 datanode(s) running and no node(s) are excluded in this operation.`

Th

[2021-08-03 15:28] CodyLeeWhite commented on #8763
but that only covers
(could only be replicated to 0 nodes instead of minReplication|could only be written to 0 of the 1 minReplication)

I plan to add another or for "Self-suppression not permitted"

[2021-08-03 15:29] #8763 closed

[2021-08-03 15:33] hashhar commented on #8763
@CodyLeeWhite Did these failures occur recently? Since the tests are already marked Flaky it should've passed. Can you verify if the retry did happen?

Also, it's helpful to paste a link to the workflow run in addition to the stack trace since the logs of the run might have more information.

[2021-08-03 16:34] mohitsaxenaknoldus commented on #6754
Please assign it to me.

[2021-08-03 16:58] albericgenius commented on #6393
got you and thanks

[2021-08-03 19:24] albericgenius commented on #6052
Hey @findepi, I am interested to work on this if no one work on this, could you please assign it to me?

[2021-08-03 20:33] findepi opened #8769 "Add $path hidden column in Iceberg connector"
May be useful for troubleshooting data related problems, e.g. to be able to identify which given given data row originates from.

[2021-08-04 00:54] rockZjy opened #8774 "No nodes available to run query"
Hi guys,
My trino version is 355, when running query sql on hive , it occurs below errors.The trino just have one node act as coordinator and worker.But the query sometimes works and sometimes occurs "No nodes available to run query" error. Do you have some ideas ?

`2021-08-04T08:43:50.333+0800    DEBUG   Query-20210804_004349_00002_5h7gv-157   io.trino.execution.scheduler.UniformNodeSelector

[2021-08-04 03:06] #8774 closed

[2021-08-04 03:12] yanqinghe commented on #8680
Although iceberg's timestamptz format can only represent one time point physically, iceberg connector stipulates that this time point is UTC time zone, that is, it includes the concept of time zone.

We think that there is no problem in processing time with time zone according to the local time zone. After all, if necessary, the time zone can be converted to UTC again.

In the Hive connector, we f

[2021-08-04 04:45] electrum opened #8776 "Optimize array_distinct(array_agg(…))"
This is more efficient and scalable as `array_agg(DISTINCT …)`.

[2021-08-04 04:49] electrum opened #8777 "Optimize array_distinct(array_sort(…))"
The calls should be inverted, as sorting the distinct set is better if the set is smaller (and never worse).

[2021-08-04 05:19] albericgenius commented on #6052
#8775

[2021-08-04 10:16] skandasa23 opened #8780 "Incremental read support for Iceberg tables"
Trino currently supports reading data belonging to a particular Iceberg snapshot. Incremental read support helps to read only the changed data between snapshots.
Not sure of the Trino convention but something like this;
select count(*) from iceberg.testdb."table@{S1,S2}" - outputs only the inserted rows between S1(exclusive) and S2(inclusive).

Spark support;
1. append support after https://github

[2021-08-04 10:48] QiAnXinCodeSafe opened #8781 "There is a vulnerability in log4j 1.2.17,upgrade recommended"
https://github.com/trinodb/trino/blob/4394ce9f5a8c549d47c06987f2966e71ef50109e/plugin/trino-accumulo/pom.xml#L19

CVE-2019-17571 CVE-2020-9488

Recommended upgrade version：
2.13.2

[2021-08-04 10:50] QiAnXinCodeSafe opened #8782 "There is a vulnerability in Python Pillow 7.0.0,upgrade recommended"
https://github.com/trinodb/trino/blob/4394ce9f5a8c549d47c06987f2966e71ef50109e/docs/requirements.txt#L11

CVE-2021-25288 CVE-2021-25289 CVE-2021-25287 CVE-2021-34552 CVE-2021-25291

Recommended upgrade version：
8.1.2+dfsg-0.3

[2021-08-04 10:51] QiAnXinCodeSafe opened #8783 "There is a vulnerability in PyYAML 5.3.1,upgrade recommended"
https://github.com/trinodb/trino/blob/4394ce9f5a8c549d47c06987f2966e71ef50109e/docs/requirements.txt#L16

CVE-2020-14343

Recommended upgrade version：5.3.1-1.module_el8.5.0+742+dbad1979

[2021-08-04 10:52] QiAnXinCodeSafe opened #8784 "There is a vulnerability in Google OAuth Client Library for Java 1.23.0,upgrade recommended"
https://github.com/trinodb/trino/blob/4394ce9f5a8c549d47c06987f2966e71ef50109e/plugin/trino-google-sheets/pom.xml#L100

CVE-2020-7692

Recommended upgrade version：1.31.0

[2021-08-04 10:57] QiAnXinCodeSafe opened #8785 "There is a vulnerability in Elasticsearch 6.0.0,upgrade recommended"
https://github.com/trinodb/trino/blob/4394ce9f5a8c549d47c06987f2966e71ef50109e/plugin/trino-elasticsearch/pom.xml#L19

CVE-2019-7611 CVE-2020-7018 CVE-2018-3831 CVE-2020-7021 CVE-2020-7019

Recommended upgrade version：6.8.15

[2021-08-04 10:59] QiAnXinCodeSafe opened #8786 "There is a vulnerability in Apache Thrift 0.9.3-1,upgrade recommended"
https://github.com/trinodb/trino/blob/4394ce9f5a8c549d47c06987f2966e71ef50109e/pom.xml#L1347

CVE-2018-1320 CVE-2020-13949 CVE-2019-0210 CVE-2019-0205 CVE-2018-11798

Recommended upgrade version：0.13.0-hotfix.1

[2021-08-04 11:01] QiAnXinCodeSafe opened #8787 "There is a vulnerability in MySQL Connector/J 5.1.48,upgrade recommended"
https://github.com/trinodb/trino/blob/4394ce9f5a8c549d47c06987f2966e71ef50109e/plugin/trino-raptor-legacy/pom.xml#L151

CVE-2018-3258 CVE-2019-2692 CVE-2020-2875 CVE-2020-2934 CVE-2020-2933

Recommended upgrade version：
8.0.20

[2021-08-04 11:02] QiAnXinCodeSafe opened #8788 "There is a vulnerability in Pygments 2.5.2,upgrade recommended"
https://github.com/trinodb/trino/blob/4394ce9f5a8c549d47c06987f2966e71ef50109e/docs/requirements.txt#L12

CVE-2021-27291 CVE-2021-20270

Recommended upgrade version：
2.7.1+dfsg-2.1

[2021-08-04 13:08] lxqfy opened #8789 "Encounter "com.linkedin.coral.hive.hive2rel.parsetree.parser.ParseException" while querying Hive View."
Hi,

I am trying to upgrade from prestosql-332 to trino-356. One of the Hive views that used to work with the old version.

**SHOW CREATE VIEW in trino-356:**
[code]

**SHOW CREATE VIEW in prestosql-332:**
[code]
I am able to bypass the issue by `set session hive.legacy_hive_view_translation=true`;

Seem that it is due to the brackets in the view definition.

[2021-08-04 13:21] hashhar commented on #8789
cc: @findepi @joshthoward Seems like Coral fails to translate `DATE()`.

[2021-08-04 13:50] nnandula commented on #8744
@hashhar - Thanks, we are able to solve the issue after correcting the `Forwarded` header issue from the proxy server. We are able to authenticate via LDAP

[2021-08-04 13:50] #8744 closed

[2021-08-04 15:09] hashhar commented on #8744
@nnandula Can you briefly describe what was wrong so that other people who run into this issue have an idea of what to correct?

[2021-08-04 15:12] findepi commented on #8780
That easy to imagine when files are just being added to a table -- you would just do a set operation on file names between snapshots
How does spark handle situation when files are replaced (updated rows, small files combined into bigger, etc.)?
Or when there are v2 deletion files?

[2021-08-04 15:14] findepi commented on #8789
@lxqfy for completeness, what does `SHOW CREATE VIEW` in _Hive_ return you?

[2021-08-04 15:20] findepi commented on #8680
yes, because `timestamp with time zone is the only Trino type that can be used to represent a point in time.
we don't have an instant type, for example (https://github.com/trinodb/trino/issues/2273)

depending on the local time zone and actual data, their indeed might be no problem, or there may be

that looks like a bug in Hive connector, because some values can be misrepresented, or may hit the

[2021-08-04 18:26] electrum opened #8792 "IllegalArgumentException: Expected operatorType to be PagesIndexBuilderOperator but was PageBufferOperator"
I saw this in a CI run for `test-other-modules`: https://github.com/trinodb/trino/pull/8771/checks?check_run_id=3235051688

[code]

[2021-08-04 18:29] electrum opened #8793 "Flaky test TestMemoryConnectorTest.testCustomMetricsScanFilter"
https://github.com/trinodb/trino/pull/8771/checks?check_run_id=3235051688

[code]

[2021-08-04 18:34] electrum opened #8794 "Log spam from TestHivePlugin"
[code]

[2021-08-04 18:36] electrum commented on #8793
There are lots of these:
[code]

[2021-08-04 19:24] electrum commented on #8793
cc @rzeyde-varada

[2021-08-04 21:01] mdesmet commented on #8777
HI @electrum,

This seems like a nice challenge. Am I in the right direction when I create a new rewriter to rewrite this array_distinct(array_sort(...)) to array_sort(array_distinct(...))?

`
@Override
public Expression rewriteFunctionCall(FunctionCall node, Void context, ExpressionTreeRewriter<Void> treeRewriter)
....
`

[2021-08-04 21:52] electrum opened #8795 "BigQuery table listing not robust against schema drops"
In the this test failure, the method `com.google.cloud.bigquery.BigQueryImpl.listTables()` is failing due to the schema `test_drop_case_sensitive` getting dropped concurrently while the test is running. It is called in a loop over the schema names via `BigQueryMetadata.listTables()`.

When we get a "not found" exception from `listTables()`, we can fetch the list of schema names again. If the schem

[2021-08-05 03:25] lxqfy commented on #8789
[code]

[2021-08-05 03:27] mvanderlee opened #8797 "X-Trino-Added-Prepare header is too large"
We're running into use cases where X-Trino-Added-Prepare becomes too large for clients to process. And makes using prepared statements impossible in those cases, which introduces big security concerns for us.

Presto planned to use the response body instead in v2 of the rest api, but it appears abandoned: https://github.com/prestodb/presto/wiki/Presto-v2-client-protocol

[2021-08-05 03:53] electrum opened #8798 "Enable HTTPS automatically for CLI if using port 443"
If the `--server` option is used without a protocol, then it should use `https` when on port 443. For example, these invocations would be equivalent, with the first one having the new behavior:

[code]

This will make the CLI consistent with the JDBC driver in this regard. While it's technically a backwards incompatible change, it seems unlikely that anyone is using HTTP over port 443. If they are

[2021-08-05 04:20] electrum commented on #8797
The server supports up to 2MB by default. What client are you using?

[2021-08-05 04:54] haldes commented on #8745
Thanks

[2021-08-05 06:19] rzeyde-varada commented on #8793
The flakiness seems to be the same as reported in https://github.com/trinodb/trino/issues/8691#issue-954707530

[2021-08-05 06:25] rzeyde-varada commented on #8793
Not sure about https://github.com/trinodb/trino/issues/8793#issuecomment-892882805 - seems that it happens also in other builds:
https://github.com/trinodb/trino/runs/3245125396?check_suite_focus=true#step:5:28308
https://github.com/trinodb/trino/runs/3244066755?check_suite_focus=true#step:5:21475
https://github.com/trinodb/trino/runs/3160717555?check_suite_focus=true#step:5:21402

[2021-08-05 06:57] hashhar commented on #8795
I think the cause is different. The tests in TestBigQueryIntegrationSmokeTest don't use case-insensitive-name-mapping while the schema created in TestBigQueryCaseInsensitiveMapping with a non-lowercase name so the `QueryRunner` in `TestBigQueryIntegrationSmokeTest` cannot "find" the schema since it sends the request to BigQuery using the lowercased name when the actual name is `Test_Drop_Case_Sens

[2021-08-05 07:47] QiAnXinCodeSafe opened #8800 "There is a vulnerability in urllib3 1.25.8,upgrade recommended"
https://github.com/trinodb/trino/blob/4394ce9f5a8c549d47c06987f2966e71ef50109e/docs/requirements.txt#L24

CVE-2021-33503 CVE-2020-26137

Recommended upgrade version：1.26.5

[2021-08-05 07:49] QiAnXinCodeSafe opened #8801 "There is a vulnerability in Postgresql JDBC Driver 42.2.10,upgrade recommended"
https://github.com/trinodb/trino/blob/858f839b4789aa5abc71099488f0d78d918f4fb6/plugin/trino-postgresql/pom.xml#L89

CVE-2020-13692

Recommended upgrade version：42.2.13

[2021-08-05 07:51] QiAnXinCodeSafe opened #8802 "There is a vulnerability in OpenJDK 0.2,upgrade recommended"
https://github.com/trinodb/trino/blob/858f839b4789aa5abc71099488f0d78d918f4fb6/pom.xml#L1436

CVE-2012-5373 CVE-2012-2739

Recommended upgrade version：8u265-b01-0ubuntu2~20.04

[2021-08-05 07:53] QiAnXinCodeSafe opened #8803 "There is a vulnerability in Jinja 2.11.1,upgrade recommended"
https://github.com/trinodb/trino/blob/858f839b4789aa5abc71099488f0d78d918f4fb6/docs/requirements.txt#L6

CVE-2020-28493

Recommended upgrade version：2.11.3

[2021-08-05 07:56] rzeyde-varada commented on #8793
Reproduced locally with `TestThriftDistributedQueriesIndexed#testHighCardinalityIndexJoinResult` on Trino 359:
[code]

[2021-08-05 08:07] QiAnXinCodeSafe opened #8804 "There is a vulnerability in Apache HttpComponents Client(aka Apache HttpClient) 4.5.2,upgrade recommended"
https://github.com/trinodb/trino/blob/858f839b4789aa5abc71099488f0d78d918f4fb6/plugin/trino-elasticsearch/pom.xml#L146

CVE-2020-13956

Recommended upgrade version：4.5.13

[2021-08-05 09:33] tooptoop4 opened #8805 "Expose lastddltime of hive views"
Using trino there doesn't seem to be way to see the last time a Hive view was modified. Hive tables show transient_lastddltime in $properties. Perhaps Hive views should also have their own $properties ? Or alternatively add this value in information_schema.views

Having this would allow to answer the Q: what views were changed in the last 24hrs

[2021-08-05 11:41] findepi commented on #8793
closing in favor of https://github.com/trinodb/trino/issues/8691

[2021-08-05 11:41] #8793 closed

[2021-08-05 12:46] mvanderlee commented on #8797
Python [aiohttp](https://github.com/aio-libs/aiohttp). Which has an open issue about this, but it's hardcoded to 8kb. Currently it's configurable if you use aiohttp as a server, but for the client it's hardcoded.

[2021-08-05 13:18] hashhar commented on #8797
@mvanderlee You might have an easier time using the clients maintained by Trino. See https://github.com/trinodb/trino-python-client.
It uses urllib under the hood (behind requests) which AFAIK doesn't have this limitation.

And it's a DB-API client so it's much higher level than HTTP API calls and IMO easier to use unless you're doing something that's not implemented in the client.

BTW, it'd be n

[2021-08-05 13:43] mvanderlee commented on #8797
@hashhar Having long polling synchronous requests is not an option for us. So we're using Python asyncio. Since the trino-python-client doesn't yet support this (https://github.com/trinodb/trino-python-client/issues/3), I created aiotrino (https://pypi.org/project/aiotrino/)

[2021-08-05 14:05] tooptoop4 commented on #8797
@mvanderlee any benchmark on aiotrino?

[2021-08-05 14:22] mvanderlee commented on #8797
@tooptoop4 I have not properly benchmarked it.

We did some small scale POCs with trino-python-client vs aiotrino, and observed aiotrino to be faster and generally scale much better. Which is to be expected, a single thread could handle hundreds of concurrent queries, where as trino-python-client would need a thread per query.

[2021-08-05 15:05] andrewdibiasio6 commented on #8798
Can you assign this to me? I am taking a look now.

[2021-08-05 15:33] ebyhr commented on #8805
Though I'm not sure about the context, the view support is disabled at

https://github.com/trinodb/trino/blob/c235522a56c894560789972de1656be423b865f1/plugin/trino-hive/src/main/java/io/trino/plugin/hive/PropertiesSystemTableProvider.java#L61

We can get `transient_lastddltime` once we remove the 2nd condition.

[code]

Relates to #268

cc: @kokosing @electrum

[2021-08-05 16:04] andrewdibiasio6 commented on #8798
I cut a PR here: https://github.com/trinodb/trino/pull/8806

[2021-08-05 16:09] dmgcodevil opened #8807 "Error opening Iceberg split"
Can some explain the root cause of the following issue:

[code]

Trino version: 358

[2021-08-06 03:58] AllenWod opened #8811 "Expected Limit input to be sorted by: [dt], but was [dt, expr$gid]"

[2021-08-06 04:00] AllenWod commented on #8811
I have merged Fix pre-sorted input validation for constants #8535,and it can take effect in some situation,but it appears in other queries

[2021-08-06 04:05] ebyhr commented on #8811
Could you share the steps to reproduce?

[2021-08-06 06:28] AllenWod commented on #8811
select *,( "odr")
from
(select *
,case when "ju">0 then "bn"/"ju" else 0 end "odr"
from
(
select
     dt
    ,'ALL'  /*ALL*/ types
    ,count( case when (odr_type=1 and order_comment_date_e8 > date_format(cast(dt as date) - interval '180' day,'%Y-%m-%d') and order_comment_date_e8 <= dt) and is_negative = 1 then cart_id else null end)  "bn"
    ,count( case when (odr_type=1 and order_comment_date_e

[2021-08-06 06:31] AllenWod commented on #8811
And the query result only one row

[2021-08-06 06:42] vinay-kl opened #8812 "Trino Hive connector not supporting Decimal column for bucketing"
Presto 347 was supporting the reading of hive tables which were bucketed on the Decimal column datatype, Trino 359 is failing with the following error

[code]

Table schema

[code]

[2021-08-06 07:02] hashhar commented on #8812
I don't think we've ever supported bucketing on DECIMAL columns (and TIMESTAMPS for that matter). We do support on DOUBLE columns. Earlier we didn't validate this during read path which was fixed in https://github.com/trinodb/trino/commit/14e24360438db823d4ac18fbebdb092e6ba01211 which can cause correctness issues in case of incorrectly bucketed data.

From 348 release notes (https://trino.io/docs/

[2021-08-06 07:28] raunaqmorarka commented on #8811
@AllenWod in case you're trying to backport the fix to a fork, you'll need to pick up https://github.com/trinodb/trino/pull/8184 as well.
I tried the below on 360 and it works, please let us know if you still encounter issues on 360
[code]

[2021-08-06 07:44] ebyhr commented on #8345
https://github.com/trinodb/trino/runs/3258682655 on #8810

[2021-08-06 09:23] dongdong-2016 opened #8813 "iceberg connector not support hadoop_catalog"
there are two type of  iceberg catalog : hive   and hadoop.
hadoop  catalog-type ,metadata is stored in hdfs; hive   catalog-type metadata is stored in HMS.
now trino iceberg connector only support catalog-type hive.
hope  trino iceberg connector support catalog-type hadoop

[2021-08-06 09:49] hashhar commented on #8813
See https://github.com/trinodb/trino/pull/6977. Work is already in progress.

I'm closing the issue since it's already tracked but feel free to reopen or join our [Slack](https://trino.io/slack.html) and continue the conversation there.

[2021-08-06 09:49] #8813 closed

[2021-08-06 10:28] jerryleooo opened #8814 "Support for `time_floor` function"
Druid has several [query types](https://druid.apache.org/docs/0.21.1/querying/sql.html#query-types) and one of them is `timeseries`, in the `timeseries` query we need to write `GROUP BY FLOOR(__time TO <unit>)` or `TIME_FLOOR(__time, period)` to set the time granularity of aggregation.

I haven't found a good way to do such queries via Trino. #7994 seems helpful, but even it works, we may still ne

[2021-08-06 10:53] ppalucha opened #8816 "Creating schema complains 'Session catalog must be set' even if I specify catalog in query"
Query:
[code]
Expected result: schema created
Actual result: error "Session catalog must be set"
Works fine if catalog is set, e.g. using `--catalog` argument to CLI.

Tested on version: 359

[2021-08-06 11:01] ppalucha commented on #8816
Stack trace:
[code]

[2021-08-06 11:09] ppalucha opened #8817 "Show create schema for hive connector displays unsupported AUTHORIZATION ROLE property"
Query:
[code]

Expected behaviour: sql statement as produced by `show create schema` should work and allow to create schema.

[2021-08-06 11:10] ppalucha commented on #8817
Stack trace:
[code]

[2021-08-06 11:10] ppalucha commented on #8817
Version: 359

[2021-08-06 11:12] ebyhr commented on #8816
I couldn't reproduce it with upstream and 359. I guess you are using Starburst distribution (359-e).
Can you reproduce with the latest version?

[2021-08-06 11:32] hashhar commented on #8816
@ebyhr The code path can be hit if there is a principal attached to the statement which I guess is the case when some authentication is enabled or maybe an explicit username is passed to Trino? See https://github.com/trinodb/trino/pull/8818

[2021-08-06 12:15] Machimedes commented on #8811
I encounter this issue as well.
You can reproduce this issue following below procedures.

1 Create table in trino and repair partitions.
	CREATE TABLE IF NOT EXISTS default.bug_test (
		country  varchar,
		dt VARCHAR
	)
	WITH (
		external_location = 'obs://my/data/path',
		format = 'PARQUET',
		partitioned_by = ARRAY['dt']
	);
call system.sync_partition_metadata(schema_name => 'default', table_nam

[2021-08-06 12:37] raunaqmorarka commented on #8811
@Machimedes I tried that on 360 and it works, are you on 358 or 359 ?

[2021-08-06 12:46] Machimedes commented on #8811
I will check it tomorrow. thanks for your feedback.------------------&nbsp;原始邮件&nbsp;------------------
***@***.***&gt;
发送时间:&nbsp;2021年8月6日(星期五) 晚上8:37
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [trinodb/trino] Expected Limit input to be sorted by: [dt], but was [dt, expr$gid] (#8811)

[2021-08-06 12:56] CEikermann opened #8820 "Add array_average / array_sum"
Would be great if trino can a array_average and array_sum like in presto

[code]

[code]

https://prestodb.io/docs/current/functions/array.html

[2021-08-06 17:04] cpsnowden commented on #8360
@electrum any thoughts on this?

[2021-08-07 00:23] ebyhr commented on #8820
Let me change the title as there is another issue for `array_sum` in #4346

[2021-08-07 00:34] albericgenius commented on #6052
The commit #8775  have already merged, so close this issue.

[2021-08-07 00:34] #6052 closed

[2021-08-07 23:36] alec-heif opened #8827 "REGEXP_LIKE has counterintuitive behavior when matching on multiline strings"
I recently got bitten by a bug where `REGEXP_LIKE` seems to not support a pattern that covers multiple lines.

Consider the following inline table which contains a single `VARCHAR` cell with multiple lines:
[code]
This will produce the following output when run in the Trino CLI:
[code]

Now let's filter `query` by a regex.

Filtering to `.*foo.*` works:

[code]

And also filtering to `.*bar.*` wor

[2021-08-08 08:45] aresa7796 opened #8831 "how to configure presto iceberg on s3"
Hi,guys!

How to configure trino read/write iceberg on s3?

Can you provide properties file?

[2021-08-08 14:27] ebyhr opened #8834 "CREATE TABLE in Pinot connector fail with table already exists error"
This should fail with "This connector does not support creating tables" error.

[code]

https://github.com/trinodb/trino/blob/f0d49a70e008320096fcec9adaba228f4c3213e0/plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotMetadata.java#L111-L119

[2021-08-08 15:32] ebyhr commented on #8617
@vedangparasnis Can you make sure whether #8836 is sufficient in your environment?

[2021-08-08 21:46] albericgenius commented on #8776
@electrum
Am I in the right direction implement the same logic  in #8777 as following

+ we need to create an ExpressionRewriteRuleSet that detects that pattern and rewrites it to the desired one. The core rewrite logic can be done with a new ExpressionRewriter (array_distinct(array_agg(...)) to array_agg(array_distinct(...)))

if there no one work on this issues, could you please assign it to me?

[2021-08-09 04:10] manupatteri commented on #8357
I wanted to take a look at this. I wanted to reproduce this first. I could generate a parquet file where float column was in BYTE_STREAM_SPLIT encoding. Now I want to know what are the connectors which support parquet. I could identify Hive and iceberg only, as they are the ones which supports generic files/filesystems. Other databases have their own format.
Now in iceberg I couldn't find support

[2021-08-09 08:44] findinpath commented on #8827
I agree that the `REGEXP_LIKE` function does definitely need some improvement in the documentation.

Note that the `REGEXP_LIKE` implementation is based on the library

https://github.com/airlift/joni

which is a port of the library

https://github.com/kkos/oniguruma/

Have a look over the tests for this function to get a feeling how the implementation works:

https://github.com/trinodb/trino/blob

[2021-08-09 08:52] findinpath opened #8838 "Extend documentation of REGEXP_LIKE function"
The current documentation of `REGEXP_LIKE` SQL function is very concise and gives few hints on what kind of regular expressions are supported:

https://trino.io/docs/current/functions/regexp.html?highlight=regexp_like#regexp_like

It would probably be beneficial to have more teaser examples for this function for newbie users.

A more detailed _separate_ page covering in more detail what kind of re

[2021-08-09 09:14] Poncirus commented on #8680
Although all problems could be resolved by converting to UTC again, problems related to DST are often ambiguous and inexplicit. That is the reason why you would like to use UTC as default time zone. Is my understanding correct?

Like for  [#5488](https://github.com/trinodb/trino/pull/5488),  if user convert time zone to 'America/Los_Angeles', they will still get the same result.

[code]

This conv

[2021-08-09 12:41] homar commented on #8663
Regarding case with trino returning data when snapshot id is invalid it comes from https://github.com/trinodb/trino/blob/750000ca5797351866dcc0e846f9e52becf12b90/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java#L134-L144

I think the idea behind that was to make it easy for user to get data from specific point in time. Something like the behaviour of spark described here

[2021-08-09 17:12] albericgenius commented on #8776
@martint could you help to assign this issue to me if no one work on this.

[2021-08-10 01:15] ebyhr commented on #8732
[code]

#8824

[2021-08-10 03:12] aakashnand commented on #8672
I am using Oauth with Azure and in my case Logout is working fine. when I click logout button I am redirected to login screen of Azure

[2021-08-10 03:19] kaojunsong commented on #8672
@aakashnand thanks for your information, have you any configurations for logout?  Or just the configurations in https://trino.io/docs/current/security/oauth2.html?

[2021-08-10 04:11] aakashnand commented on #8672
@kokosing Sorry, I remember I had tweaked something it was like 2-3months ago and now I just tested it again and it is not working. I will find more and will let you if I find the solution

[2021-08-10 05:50] hashhar commented on #8732
I've unrolled this already to make it easier when adding to release notes - we can condense into a single entry if needed.

[code]

#8652

[2021-08-10 05:51] hashhar commented on #401
Fixed by https://github.com/trinodb/trino/pull/8629.

[2021-08-10 05:51] #401 closed

[2021-08-10 05:52] hashhar commented on #8732
[code]

#401, #8629

[2021-08-10 05:54] #8617 closed

[2021-08-10 05:56] hashhar commented on #8732
[code]

#8617, #8837

[2021-08-10 12:01] ebyhr commented on #8732
[code]

#8832

[2021-08-10 12:18] losipiuk commented on #8663
IMO it would be nice to be able to distinguish those two cases, so we can do proper validation in the code.
Also it feels like it would be nicer if human readable literal was used to pass timestamp in `@point-in-time` version (e.g. `table@2021-08-10T11:45:48Z`).
Would that be fine to break backward compatibility here and assume that `table@<number>` is only used to select table snapshot by id?

@p

[2021-08-10 12:41] #8784 closed

[2021-08-10 14:35] alexjo2144 commented on #7033
Unfortunately, the Glue SDK does not have a batch method for updating partition statistics.

[2021-08-10 14:35] #7033 closed

[2021-08-10 14:42] #8805 closed

[2021-08-10 14:44] ebyhr commented on #8732
[code]

#8805, #8810

[2021-08-10 15:29] RussellSpitzer opened #8841 "Iceberg: Exceptions swallowed when metadata file cannot be read"
When Iceberg fails to be able to read the metadata file location the exception is swallowed. This leads to a complicated exception unrelated to file reading when a null AtomicReference is dereferenced

```Cannot invoke "org.apache.iceberg.TableMetadata.uuid()" because the return value of "java.util.concurrent.atomic.AtomicReference.get()" is null```

I think we should probably be returning the act

[2021-08-10 18:18] lukasz-walkiewicz commented on #8672
Hi @kaojunsong,

Could you take a look at browser's network log (Developer Tools > Network) while clicking `Log out` button to confirm that the actual logout is not happening?

[2021-08-10 18:57] lukasz-walkiewicz commented on #8719
Fixed in: https://github.com/trinodb/trino/pull/8779

[2021-08-10 18:57] #8719 closed

[2021-08-10 19:19] homar commented on #8663
PR: https://github.com/trinodb/trino/pull/8843

[2021-08-10 20:58] electrum commented on #8807
Does this error occur consistently, i.e. everytime you run the query?

[2021-08-11 04:23] skandasa23 opened #8847 "Support for querying iceberg tables with "as of timestamp" semantics"
Today, Trino supports querying a particular snapshot of Iceberg with the convention table@snapshot-id. It would also be beneficial to provide table@as-of-timestamp.
This will help the data-users who doesn't know about snapshots but wanted to do time based reads.

[2021-08-11 04:25] skandasa23 commented on #8847
@findepi FYI

[2021-08-11 05:22] kqkdChen opened #8848 "Trino performance issues"
Trino queries hive, and the three tables are related, but the original data in the table only has a dozen rows. Why does it take 2.5 seconds?
The following is the execution plan, because Trino can only provide photos when deployed on the intranet, so please help me see the reason:
![微信图片_20210811131859](https://user-images.githubusercontent.com/41674301/128973705-a0051c56-a68a-4c2e-b3cd-a2ee0dfbbc

[2021-08-11 05:29] hashhar commented on #8847
I think this is already supported. See https://github.com/trinodb/trino/issues/8663#issuecomment-895980852.

e.g. `SELECT * FROM "table_xyz@1628659697000";` will query the snapshot corresponding to `1628659697000` in epoch milliseconds i.e. `11-08-2021 05:28:17Z`

cc: @homar @losipiuk

[2021-08-11 08:10] yangyongyongyong opened #8849 "希望支持excel"
I want to support Excel.
目前市面上还没有专门针对excel的sql工具. 希望trino的connector能够支持本地或者hdfs上的excel文件.

[2021-08-11 09:23] simple-tec opened #8851 "iceberg connector access s3 occures TCP RST error"
HI:

I use trino358, the iceberg connector configurations are:
etc/catalog/iceberg.properties:
[code]

On trino CLI, I create schema and table as follow:
[code]

so far, all is ok.then i insert one data as follow:
[code]
This insert command runs successfully. but It took about 0.8 second, which is too long.
I began to explore why the insert is so slowly.
When i sniff the packages between trino ser

[2021-08-11 09:31] tooptoop4 commented on #8849
https://github.com/ebyhr/trino-storage/blob/master/src/main/java/org/ebyhr/trino/storage/operator/ExcelPlugin.java

[2021-08-11 09:32] tooptoop4 commented on #8847
maybe related to https://github.com/trinodb/trino/pull/8773

[2021-08-11 09:56] leniartek opened #8852 "Unicode characters in query plan explain (\000A \2502 etc.)"
Steps to reproduce:

1. Open trino-cli
3. Run query `explain explain select count(*) from tpch.tiny.orders;`

Expected: well-formatted query plan
Actual: query plan with special characters (\000A, \2502)
<img width="1020" alt="Screenshot 2021-08-11 at 10 54 54" src="https://user-images.githubusercontent.com/10237525/129009509-4563a594-b82a-4387-b6c7-f854e85d53b6.png">

[2021-08-11 10:49] losipiuk opened #8853 "Implement canonicalization logic in $canonicalize_hive_timezone_id"
https://github.com/trinodb/trino/pull/8502/ introduces `$canonicalize_hive_timezone_id` function which is used for canonicalizing time zone passed to `from_utc_timestamp` when we are translating Hive view which uses this UDF to Trino. For now the `$canonicalize_hive_timezone_id` is no-op (identity). Proper logic should be added.

[2021-08-11 10:54] losipiuk commented on #8732
[code]

#8502

[2021-08-11 11:11] losipiuk commented on #8663
Relevant PR regarding specifying snapshot version/snapshot time: https://github.com/trinodb/trino/pull/8773

[2021-08-11 11:35] kokosing opened #8855 "UPDATE WHERE false fails"
[code]

[2021-08-11 11:37] kokosing commented on #8855
We are missing a sibling for `RemoveEmptyDelete`, but for Update. However update is not that simple and it may evaluate to plans with different shape. So instead of matching an entire shape we should have empty values pull up rules for exchanges and projections.

[2021-08-11 11:57] hashhar commented on #8852
Are you on MacOS by any chance? I am unable to reproduce on a Linux machine but can reproduce on MacOS machines.

Seems something wrong with either the JDK or MacOS because even older clients that used to work (e.g. even as old as 352) are showing this behaviour now. I have tried on older Trino server versions as well with the same observations.
<img width="762" alt="Screenshot 2021-08-11 at 5 26

[2021-08-11 13:28] allenwod opened #8858 "why trino cluster hold too large reserved memory cannot release in new version 358 !!!"

[2021-08-11 13:51] hashhar commented on #8852
@martint @kasiafi Should Trino be accepting `EXPLAIN EXPLAIN` in the first place? It seems like it's doing the wrong thing here (rewrapping explain output as a literal string).

Every other database considers `EXPLAIN EXPLAIN` a syntax error.

[2021-08-11 14:35] AllenWod commented on #8858
My trino version is 358,and run it on docker ,my coordinator type is "t3.2xlarge" and worker is "c5.9xlarge",our worker nodes number is between 10 and 20. Our scenario is 50 running queries and over 100 queued queries ，also it will run about two hours ,and we found the Reserved Memory occupies too much memory and the Bytes/sec is keep about 3g ,it's abnormal.Compared to the old version（315）,the ol

[2021-08-11 14:38] AllenWod commented on #8858
![image](https://user-images.githubusercontent.com/22765507/129049460-b61a1c01-6951-4340-9df7-3b4fc4dd79b9.png)

[2021-08-11 14:39] AllenWod commented on #8858
<img width="1103" alt="WeChatWorkScreenshot_562652cf-4c63-4015-80f7-bde8a3095b76" src="https://user-images.githubusercontent.com/22765507/129049598-03467617-1a6b-43b8-86c7-38381cde6adf.png">

[2021-08-11 14:39] AllenWod commented on #8858
![wecom-temp-874ae572d696fa17efde2a5a7810f6c4](https://user-images.githubusercontent.com/22765507/129049670-7a205e89-d9c1-44e1-a4d0-d2f82693a43d.png)

[2021-08-11 14:42] ebyhr commented on #8811
@Machimedes Could you share the latest status?

[2021-08-11 14:50] leniartek commented on #8852
Yes this is from Mac.

[2021-08-11 14:51] ebyhr commented on #8834
Relates to #8307

[2021-08-11 16:40] jackye1995 opened #8861 "Support path override in Iceberg table creation"
Trino should support creating Iceberg tables with path override to leverage Iceberg features around `ObjectStorageLocationProvider`. The work for reading Spark Iceberg table with the feature is in #8573, I will create a follow up for this feature once it is merged.

[2021-08-11 20:36] hylas-dev opened #8862 "Trino function url_extract_path failing"
The URL `https://bingus.io/quote?a=fetch&content=<php>die(@md5(HelloThinkCMF))</php>` ended up returning NULL for `url_extract_path()`.

Strange URL, I know, but it ended up in my application.

[2021-08-12 00:36] medb opened #8864 "Instructions on how to run Trino BigQuery integration test"
Are there any instructions on how to run integration tests for BigQuery connector? Seems like it needs pre-populate some test data in BigQuery first?

[2021-08-12 00:40] ebyhr commented on #8862
If I understand [RFC 2396](https://datatracker.ietf.org/doc/html/rfc2396.html) correctly, angle brackets are excluded and you need to escape it.
[code]

[2021-08-12 00:42] ebyhr commented on #8864
@hashhar is preparing the instructions in #8466.

[2021-08-12 02:17] medb commented on #8864
Great, thank you!

[2021-08-12 04:48] vinay-kl opened #8865 "Presto/Trino concurrent read failure on HIVE-ACID tables"
we are running into reading errors while accessing HIVE-ACID tables from presto/trino, this is the error stack trace.

[code]

The compaction was started at `2021-08-11 19:13:03` and finished by `2021-08-11 19:17:43`
The query started at `2021-08-11 19:17:38` and failed by `2021-08-11 19:17:43`

[code]

[2021-08-12 05:35] byungnam commented on #5744
Slack discussion thread: https://trinodb.slack.com/archives/CGB0QHWSW/p1626321435442400

In short, current Trino acl implementation of `select from view` requires `CREATE` permission. It needs to be fixed.

[2021-08-12 08:44] homar commented on #8732
[code]

[2021-08-12 09:09] tooptoop4 opened #8867 "docs - how to convert array to string, want to search for text anywhere in the array or get length of characters in array?"
i basically want to count the number of characters (not elements) in an array and do cast(array as varchar) like '%somestring%'

my findings:
1. prestodb has a array_to_string function https://github.com/prestodb/presto/pull/2600
2. https://trino.io/docs/current/functions/array.html does not mention json_format(cast(MYARRAY as json)) but seems to be what i want
3.  array_join(MYARRAY,',','') gives

[2021-08-12 11:03] homar opened #8868 "Accessing two different snapshot ids in the same query is broken."
For table like this:
[code]

and the result should be (1,1).

[2021-08-12 11:05] homar commented on #8663
This issue describes 2 problems:
1. Accessing two different snapshot ids in the same query is broken
2. Accessing an incorrect random snapshot-id doesn't fail (it works 'as of timestamp' mechanism)

As the second issue is more complex and there is already some discussion and links here I extracted the first one to the separated issue https://github.com/trinodb/trino/issues/8868.

[2021-08-12 11:05] homar commented on #8868
PR: #8843

[2021-08-12 11:06] #8868 closed

[2021-08-12 12:49] jerryleooo commented on #8814
After some research, I feel this belongs to the aggregation pushdown scope, currently the `GROUP BY` is represented with `groupingSets`, while currently in https://github.com/trinodb/trino/blob/7c1a277327e416d507a28459eddf1ad2d4374f56/core/trino-main/src/main/java/io/trino/metadata/Metadata.java#L438

They are represented with `ColumnHandle`, so do we have a plan to extend this?

[2021-08-12 13:07] jerryleooo commented on #8814
It looks like the truncation is the correct concept, then a similar SQL would be:
[code]

[2021-08-12 19:54] losipiuk commented on #8732
[code]
#8573

cc: @jackye1995

[2021-08-12 20:07] electrum commented on #8602
For debugging, it should be easy enough to wrapper the `ParquetCompressor.compress()` method to catch this exception and log the input data. Presumably, this is a bug in Zstd and compressing the same input would fail in a deterministic way. This would indicate that the Parquet data produced by the test is not deterministic, which is a bit surprising. Or it could be that Zstd fails non-deterministi

[2021-08-12 20:12] electrum commented on #8847
Note that the existing syntax will likely be deprecated or changed, since it has the problem that the value is ambiguous: it is either a timestamp or a snapshot ID. The standard-ish time travel syntax that @tooptoop4 mentioned will solve this.

[2021-08-12 20:26] electrum commented on #8663
The original author is actually @Parth-Brahmbhatt who wrote the initial version of the Iceberg connector. The syntax has the problem of being ambiguous with regards to timestamp vs snapshot ID, and as such, I think we should deprecate it (and possibly remove it) after the new time travel syntax is added to the engine.

[2021-08-12 22:15] lhofhansl commented on #8626
Did you use the phoenix or the phoenix5 connector.

Unrelated to Trino: Note the 5.0 of Phoenix was basically a mistake, unfortunately various things were broken that could not be fixed without breaking backwards compatibility. Use a Phoenix 5.1.x release.

[2021-08-12 23:37] electrum commented on #8725
As I mentioned on https://github.com/trinodb/trino/pull/8694#pullrequestreview-729153982 this is a bug in the connector implementation, but we should fix it by changing the default method. `START TRANSACTION` is not linked to a specific connector, so it is not possible to fail at that time. If the connector returned `true` from `isSingleStatementWritesOnly()`, then the `CREATE TABLE` would fail wi

[2021-08-13 03:10] sixtree92 opened #8873 "Trino read Iceberg table error: java.lang.NullPointerException: undefined"
Trino version is 358
my iceberg table with flinksql create,  Trino read error, but Iceberg create spark can read.

sql is:
[code]

Trino read table error:
[code]

[2021-08-13 05:58] yangyongyongyong commented on #8849
多谢大哥.

[2021-08-13 05:58] #8849 closed

[2021-08-13 08:23] kokosing commented on #8626
I think it would be nice to document this limitation and maybe even produce an error message or fail the Trino setup when phoenix5 connector recognizes that Phoenix  5.0 is used. BTW do we check what service regular phoenix connector is using and do we fail if Phoenix 5.+ is used for  it?

[2021-08-13 08:52] gaojun2048 commented on #8489
Yes, It will be great.

[2021-08-13 12:54] branchvincent opened #8877 "Unable to extract tarball on macOS"
While trying to update `trino`'s homebrew formula in https://github.com/Homebrew/homebrew-core/pull/83185, I ran into an issue extracting the tarball:

[code]

System info:

[code]

Reproduces on master. But not reproducible with GNU tar:

[code]

[2021-08-13 14:31] #8307 closed

[2021-08-13 14:31] #8834 closed

[2021-08-13 14:35] ebyhr commented on #8732
[code]

#8307, #8859

[2021-08-13 21:38] yangyongyongyong opened #8879 "I'd like to support Excel by default, rather than having me compile the plugin myself"
![image](https://user-images.githubusercontent.com/46118358/129420806-f8a0ca80-3692-4c50-90aa-3a528ccd08bf.png)

[2021-08-13 21:38] yangyongyongyong commented on #8879
因为我总是编译失败..............

[2021-08-14 06:27] AllenWod commented on #8858
my coordinator config file
config.properties
`
coordinator=true
node-scheduler.include-coordinator=false
http-server.http.port=9085
discovery.uri=http://localhost:9085
discovery-server.enabled=true
#ldap
http-server.authentication.type=PASSWORD
http-server.https.keystore.path=/etc/trino/presto.xxx.com.jks
http-server.https.enabled=true
http-server.https.port=8443
http-server.https.keystore.key=for

[2021-08-14 06:30] AllenWod commented on #8858
And my worker config file of config.properties and jvm.properties
`coordinator=false
http-server.http.port=9085
discovery.uri=http://trino.xxx.com:9085

query.max-memory=50GB

query.max-memory-per-node=10GB

query.max-total-memory-per-node=10GB

memory.heap-headroom-per-node=5GB

query.low-memory-killer.policy=total-reservation-on-blocked-nodes
query.low-memory-killer.delay=5s

#query.max-concurre

[2021-08-14 10:55] hungnt61h opened #8883 "Problem with securing internal communication"
Hi, I'm just beginner in setting up Trino cluster! I deployed Trino (version 360) cluster on vmware machines and got stuck at setting up internal TLS communication. Enabling TLS connection between client and coordinator works fine with me. I am able to log on Trino with my LDAP account and all workers are discovered. (Sensitive fields are **** or xx)
My first configuration here (no internal TLS co

[2021-08-14 15:36] hungnt61h commented on #8883
I tried to configure trino like previous version then it works now. These properties are required:
 - internal-communication.https.keystore.path
 - internal-communication.https.truststore.path
 - node.internal-address-source
Why this [tutorial](https://trino.io/docs/current/security/internal-communication.html) said that they must be removed?

[2021-08-15 13:50] ebyhr commented on #5352
YugabyteDB doesn't support setting a comment in both `CREATE TABLE` and `ALTER TABLE`.
https://docs.yugabyte.com/latest/api/ycql/ddl_create_table/#table-properties-1

This limitation breaks INSERT statement because Cassandra connector uses the comment to manage hidden columns

[2021-08-15 20:47] albericgenius commented on #8776
I try to implement using following SQL:
`select array_distinct(array_agg(shipmode)) from lineitem;`
I try to add optimizer rule to update the plan(remove array_distinct functioncall and set distinct to true for AggregateNode), to make the previous SQL have the same plan as following:
`explain select array_agg(distinct shipmode) from lineitem;`

i have override the rewriteFunctionCall function, but

[2021-08-15 22:42] lhofhansl commented on #8626
- Document: Yes.
- Fail the Trino setup: I do not think that is a good idea since that can only be determined at runtime (and we probably would not want to load the giant Phoenix client jar unless we actually need it).
- Perhaps we can have a better exception by capturing the above exception.

But also... Nobody should actually be using Phoenix 5.0 (see below)

Not sure I follow:

In general any x

[2021-08-16 07:10] losipiuk commented on #8732
[code]

#8845

[2021-08-16 09:29] #8811 closed

[2021-08-16 10:08] jerryleooo opened #8886 "Druid column missing"
If the column data type is `OTHER` in Druid, then it will be missing in Trino's `desc <table name>`

<img width="160" alt="image" src="https://user-images.githubusercontent.com/3231765/129547393-6fbec966-3b02-4dc9-b0d1-d4fbf789103a.png">
<img width="189" alt="image" src="https://user-images.githubusercontent.com/3231765/129547450-91be068b-c133-4b57-b647-457a7999679d.png">

[2021-08-16 10:43] jerryleooo commented on #8886
I think the solution would be Druid connector has its own explicit type mapping.

@hashhar any ideas?

[2021-08-16 12:06] academy-codex opened #8887 "MongoDB connector to have configurable database for _schema collection"
In production systems, it is not always viable to provide R/W access to a DB to a system user. Hence, we need to have a way to configure a different DB through catalog properties where the trino mongodb connector can R/W the _schema collection for the different collections in different databases in a mongo cluster. This DB may have R/W access because it does not contain any of the user data.

Note

[2021-08-16 12:07] academy-codex commented on #8887
@ebyhr @hashhar @findepi  In our organisation, we need to implement this. Does this look like something we can give back too ?

[2021-08-16 14:15] ebyhr commented on #8886
We use `jdbc` label for JDBC driver, not JDBC based connector.

Also, most JDBC based connector doesn't support all remote data types, so basically it's not a bug in my opinion.

Could you try `jdbc-types-mapped-to-varchar` as workaround? I guess the type will be mapped to varchar even if we add support explicitly.

https://druid.apache.org/docs/latest/querying/sql.html

[2021-08-16 14:19] ebyhr commented on #7822
@electrum added in #8799

[2021-08-16 14:19] #7822 closed

[2021-08-16 16:36] jerryleooo commented on #8886
Thanks, @ebyhr , just removed the 2 labels.

I have tried using `jdbc-types-mapped-to-varchar` and it works: https://github.com/trinodb/trino/pull/8889

[2021-08-16 16:52] losipiuk commented on #8732
[code]

#8839

[2021-08-16 19:49] martint commented on #8820
You can do this today without any specialized functions by using a correlated subquery that unnests the array value and performs the sum. This works for any aggregation.

[code]

=>

[code]

or even:

[code]

which produces a single column of type ROW with one field for each aggregate:

[code]

[2021-08-16 20:44] JamesRTaylor opened #8893 "Do not rely on Float.floatToRawIntBits maintaining ordering"
Using Float.floatToRawIntBits to convert a Float to a long and expecting ordering to be maintained is not correct. For example:

    jshell> float a = -1E-10f, b = -1E20f; a < b; Float.floatToRawIntBits(a) < Float.floatToRawIntBits(b);
    a ==> -1.0E-10
    b ==> -1.0E20
    $68 ==> false
    $69 ==> true

An example of where this is currently used is for Hive statistics in [this](presto-parquet/

[2021-08-16 21:06] martint commented on #8732
[code]

https://github.com/trinodb/trino/pull/8878

[2021-08-17 01:27] jerryleooo commented on #8886
As @ebyhr mentioned, this can be solved by adding the `jdbc-types-mapped-to-varchar` configuration, so closing.

[2021-08-17 01:27] #8886 closed

[2021-08-17 03:27] phd3 commented on #8732
[code]

[2021-08-17 07:14] hashhar commented on #8883
@hungnt61h This new mechanism requires the workers to use the IP address of the co-ordinator in the discovery service uri. It doesn't work if the IP address associated with the co-ordinator changes for some reason.

cc: @mosabua @dain Do you have more information?

@mosabua Maybe we add the point about using IP address as a NOTE too in https://trino.io/docs/current/security/internal-communication.

[2021-08-17 11:49] #8435 closed

[2021-08-17 13:26] hungnt61h commented on #8883
@hashhar My cluster has internal DNS servers, so this discovery.uri property must still require ip address instead of fqdn?

[2021-08-17 13:29] #3763 closed

[2021-08-17 13:34] ebyhr commented on #8732
[code]

#5150

[2021-08-17 14:34] lokeshkh92 commented on #391
Hi All,
Is this feature available in any version or planned in any upcoming versions?

[2021-08-17 16:00] AllenWod opened #8900 "why I can't find any official benchmark report since the version 351？"

[2021-08-17 16:19] mosabua commented on #8883
It does NOT work with fqdn .. IP address usage is required. Do you really think we need to point that out even more in the docs @hashhar ?

[2021-08-17 16:22] hashhar commented on #8883
@mosabua with the existing wording it doesn't sound like it's required. It seems natural to assume that you can replace IP with FQDN since that's generally true.

[2021-08-17 16:24] mosabua commented on #8883
This is what we decided in the doc PR with @dain and @electrum .. I can send an update though..

[2021-08-17 16:31] mosabua commented on #8883
How about https://github.com/trinodb/trino/pull/8902

[2021-08-17 16:38] hungnt61h commented on #8883
I certain that I’m clear now! Thank you for supporting me! 😃

[2021-08-17 16:38] #8883 closed

[2021-08-17 18:52] aislinnjeske opened #8904 "Join Pushdown isn't working with functions"
I've noticed that join pushdown does not work correctly when there's a function in the query.

The query that I was running was to Hive and it contained regexp_like and joined two Hive tables. When the regexp_like was present in the query, the join was not being pushed down to Hive

[2021-08-17 18:56] raunaqmorarka commented on #8732
[code]
https://github.com/trinodb/trino/pull/8833

[2021-08-17 19:36] ChinmaySKulkarni commented on #7249
@findepi sorry for the delay in circling back here. I have created [HIVE-25463](https://issues.apache.org/jira/browse/HIVE-25463) to gauge the Hive community's feedback regarding the same. Hopefully if they are ok with this approach, I will contribute a patch and see where we can go from there. Thanks.

[2021-08-17 22:24] mosabua opened #8905 "Document Hive connector table properties explicitly"
Currently we only have this in code snippets.

Here is what I think is correct without too much digging

[code]

There are probably other table properties and I know that we have properties for ORC and Parquet. We should collect them all and have a section/table with anchor so we can link to it from other places like materialized view and such

[2021-08-17 22:26] mosabua commented on #8905
wdyt @hashhar @electrum ?

[2021-08-18 00:18] ArvinZheng commented on #5864
closing this issue since Functions and operators are now sorted alphabetically - https://trino.io/docs/current/functions.html

[2021-08-18 00:18] #5864 closed

[2021-08-18 00:33] sinlang opened #8906 "gc lock when use prometheus agent"
it see some wrong whern use prometheus agent to collect metrics ; the case occur often
[arthas@310243]$ thread 281
"prometheus-http-1-1" Id=281 BLOCKED on java.util.HashMap@7924b3b4 owned by "RMI RenewClean-[192.168.84.5:44182]" Id=523187
    at java.rmi@11.0.10/sun.rmi.transport.DGCClient$EndpointEntry.lookup(DGCClient.java:233)
    -  blocked on java.util.HashMap@7924b3b4
    at java.rmi@11.0.10

[2021-08-18 00:52] sinlang commented on #8906
is seen some wrong when using azul-11 sdk

[2021-08-18 04:04] gaojun2048 opened #8907 "Does iceberg support identity and truncate[W] partition transforms?"
We need ranger partition . It seems that truncate[W] can implement ranger partition.
But I do not find this partition transform on the trion document.

[2021-08-18 04:31] skandasa23 commented on #8847
Makes sense, thank you everyone for sharing the details!

[2021-08-18 04:31] #8847 closed

[2021-08-18 04:32] skandasa23 commented on #8847
Duplicate of #8773 , closing this!

[2021-08-18 05:23] hashhar commented on #8904
This is a known limitation with all types of pushdown. There is ongoing work regarding this in https://github.com/trinodb/trino/pull/7994.

[2021-08-18 06:17] hashhar commented on #8907
It's not documented yet (some WIP in https://github.com/trinodb/trino/pull/8217/) but yes, Trino does support all the transforms except `void`.

`void` will be supported in 361 (was merged as https://github.com/trinodb/trino/pull/8730).

I'm closing this issue since I think it answers your question but feel free to reopen or to join our [Slack](https://trino.io/slack.html) and continue the convers

[2021-08-18 06:32] hashhar commented on #8905
Would it be better to link to https://trino.io/docs/current/sql/create-table.html#description from the Hive documentation as a "see this for table properties"?

It's always up to date and exhaustive. There is no confusion regarding some properties not being available because the Hive catalog configuration is different. And it works with every connector.

[2021-08-18 07:02] ebyhr commented on #8862
Let me close this issue as the expected behavior. Please feel free to reopen or ask in the community Slack if you want to continue.
https://trino.io/community.html

[2021-08-18 07:02] #8862 closed

[2021-08-18 07:52] losipiuk commented on #8732
[code]

#8899

[2021-08-18 08:07] gaojun2048 commented on #8907
I found only `integer` be support in truncate[W].
Why don't we support the long type like iceberg?

[2021-08-18 08:25] hashhar commented on #8907
@gaojun2048 `long` (mapped to Bigint within Trino) is supported for `truncate` transform too. We do have tests for it too as https://github.com/trinodb/trino/blob/f18a0a5a1b70af230eb742055062b9594dc9ad39/plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java#L1184

Can you share the query you are trying and the error you are running into?

[2021-08-18 08:26] ebyhr commented on #8789
Actually, there are two issues in a view definition. The first is `DATE()` function @hashhar already mentioned and the second is `()` that wrapping the entire SELECT statement.

※ The latest coral library `1.0.80` throws different message likes `Unknown function name: date`, but it still fails.
[code]

[code]

[2021-08-18 08:28] gaojun2048 commented on #8907
Sorry, I mean `W` does not support long type.

[2021-08-18 08:32] hashhar commented on #8907
Because Iceberg requires truncate's width (W) to be an integer. See https://github.com/apache/iceberg/blob/90225d6c9413016d611e2ce5eff37db1bc1b4fc5/api/src/main/java/org/apache/iceberg/transforms/Truncate.java#L39.

This is not mentioned in the spec surprisingly. @rdblue Is this intentional? If so I can send in a PR to update the spec to reflect this.

cc: @losipiuk

[2021-08-18 08:33] gaojun2048 commented on #8907
<img width="974" alt="企业微信截图_b076a92a-08be-4a90-a49c-0da74c3f98d0" src="https://user-images.githubusercontent.com/32193458/129865298-4b8014e6-7cab-4543-bdfd-1cb1cba65cc6.png">

The `width` is int now.
In my case , I want to divide a long type field into 3 ranger partitions. So the `width` must also be long type too.

[2021-08-18 08:39] hashhar commented on #8907
@gaojun2048 I don't think this is true. The data-type of the field has nothing to do with the type of the width field. You can do `CREATE TABLE test (c BIGINT, d BIGINT) WITH (partitioning = ARRAY['truncate(c, 3)'])` - it's valid and works.

[2021-08-18 08:56] ssquan commented on #761
It may happen.

Trino invokes the `getTable` method of hive client to get table info from HMS while generating an execution plan. `getTable` is a very heavy operation because hive needs to execute about 9 SQL to collect all information. If there are thousands of tables and millions of partitions, RPC latency will be seconds (9 seconds most in my product environment). Things get worse when multiple

[2021-08-18 09:36] gaojun2048 commented on #8907
![image](https://user-images.githubusercontent.com/32193458/129874401-4d69882b-36e8-404d-9a43-aa11d64f8947.png)

From the iceberg document I found `W` is the width of each partition, not the number of partitions.
If I want to divide the numbers from 1 to 100 into 3 ranger partitions, W should be 100/3 + 1 = 34 (because 100% 3 != 0).
Do i have a misunderstanding?

Thank you.

[2021-08-18 09:45] kokosing opened #8911 "TestSqlServerCaseInsensitiveMapping is flaky (it hangs)"
[code]

[2021-08-18 09:47] hashhar commented on #8907
@gaojun2048 If you want to divide a table into a fixed number of partitions I don't think `truncate` is the correct transform for that. `truncate` acts more like a bucket of values.

If you want to create a fixed number of partitions `bucket` is the transform you should be looking at. `bucket(d, 3)` will create 3 partitions regardless of how many possible values of `d` you have.